<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e087</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e087</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e087</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0489_e087_v5628</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57479</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e087_v5628</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10x2dgh+whn8Bfx39s/i
            n3s29ttUP978c/n1l39GP572eUtza3+NuE3XmDCH76iP+sSgvx7hOcryR80Z
            cns6Rv1MW6LR3snMfr8e7s8U18F7POso5eLbHrPmu572Hn30HMtMKafy8HXS
            ijaXvFd+Gq6Y9eEMh8pRLszUk46Iex21HomD5djucES+AVYgcTYX/nBHHMMo
            S8IxPHlFPw/f832kjOesEoqRQIh68auCZnBinjgh2Y3WjWNDy5AyB1G0brHj
            b4nn4XUXjp8PjuHadPoxXHMuHMPLpAbyiFq7frSv/1X/X/H/RaxNBsFkTNlt
            VK2lv4160vF1HH+pIiz+h13wfbza+b3/vM/hVBjXz+N52H3a8ev806is/RpP
            vI18ro7fX8drDDr/+nWfeBgJrV/jSb0Xnf9rPGEtUflaX++lgRrxl1/n770V
            fz03DJExDtnxz+bxrcLjj5FAFN1+D9pvOnJ/eN1mMb5TntE/x/1++hzLju8r
            RM/4395j7/nJzmpfx/W3Yucn7lEd97tfvv/XftJz2HLrtXrKdv6xz/d3DcuP
            H1/PLlir9fP+wffy6Yz2fW7Zj2+n+EYGQ+2/CSIZ2/21MHHN2zj3r+NzLuMa
            P4/PaLMeft0/XNHf5dfCX6H8beF76Zqt+Ov+PQURRPxx/56MBFIYr6ThQv6i
            7nRnHV8J7Agso46Qw2gdr54jlqti/xxPC9jiNc+ESYzjONsNjiv2poufej+c
            4vHgfLDo4VMKNlXPkMlC8DmjZJoWguKCz78w5PPpuDIf7SFTALu7O979v/t7
            MsHU41VFjOQOkIoRjLHMererO7X8239YtieAex/zgbA8/vE/Py/+u/O4/v/q
            vPIvzzv/5XnXMc9uJJCDJv4/XZRFENjNsZ3/i8fGf3fMlu95/neXLx7/bvly
            +pfLV//l8tV/t3z/4rnXf/ce+V3Nrxn+41hyQVCMWf67i/79sV6l4OWQpN90
            W2b+8t1pDBdq4AqQ99QDQIwxghW836BbZKiH+cSePyH7T/zlhLg4wYHOhn/g
            FSdk+Tnxj+dCnTihH583/j1Hpu4D9TBDGcrQbfLC9dBnMhSrvHA9pG6GpM4L
            1y9cv3D9wvXQgTJ4WAZPzeBZmXrxhesvXH/hehBmvnD91aHALcmQbGxe/E2/
            7vX9K+V46VcPl8mYINWvQ9+Eni3mnKmyUi08TihfYP3P0yBboQGeq91gtAdW
            qwfjoB2qeDjEamd4bur8+bbred1sz9PT01p6hu8mCo54Htep66BnxrtUI4HK
            y59LbB6CmzeJHQPAQ+P53PxeHq4c1AuIzTTCSjFcfWCADbpxN12659sFPRbh
            OMsPouySt7l3O6dDBZ7xkTZ+UbUdrlDEh8rl5ddc0n6y6fz9gihJGO8tCWzT
            G87MF66D4gMTFWG0PM/y6zmGWrrtPl5/VzyzSp+de7JG1SRftlTrTqcv1SNd
            sJsWRumIu8vMSFRXcM4sNYNhpHCVxCXbbwDFsnXOjO6Ildh3LKbQdJFLB40+
            GYuH8cyVP4u3x9MTzx9nbrLsKha7Xc8Vcf4Z7XwsaY6hdqi0mF8IYBgL1X+D
            tHGfsAYI4bmo851L54AWHxqWOB5dEDSqPXi9yYOYwb2o2I6+kBjnInH8WFSd
            c66cTW05/nZObbLSMHiaW6XQwnpG4cJ3e4lGYqmYPpwVCqcxnqAv0OKkpofZ
            Agle+F3sd+TvAV1oxhEoDzqvA63g3ms+MlcCr09804uqbQ4Roq6DgBuXE/YP
            z2127lGvEGNYkYSNCZvzaekkQUXTkTH7GOMVuOv6+94XVGLTGKW1xPMvBH9X
            cohMwwyLN7mDabLnHwTfPgQ/pDOR02jqQCA3xoHtWTP44tfGxAa/2xBX4PtL
            ewaF131dCriO7oHbruO56+a5fGgA+7mm2QSxGQkYi65/LiCpFvOTzSLnPojF
            dlGLdnO9SHhgCOxddOVcnOapCoI3wFolDUMdXNyfdFJU4zXj5BSWcT+hjwCa
            XGJ0jRKv5sd2Hyjs5l7p2n31e/qez/TxmpLWUzaPubNemTdo39ek95rIodeV
            nyrGSPLENMl6zX5NofSB8CmQDKWNPPBOi9ZfqGTOYZTcQTKj8cUy1BjYJl0b
            3WweGxcIr629jydNPfxt5p/j+pACySn0i8LNTFvyy5ubIyyQsPQPExRQ8o3z
            DLzrxB4PIOlE4YV7YBuAVloBr9UnBYI4G4zF9TgvTs4FOt1DIPvwyKtSoj8I
            TBaTCfZA38Gph8HU6KDndjdeR+kS5p1n1B6fXJJnUqDUfY/DB8WBNi4qfkfs
            UeyxiXtjoS9+psmJ0YThQXVqwsC4n2mLf/Z9vz8WMsmSzi3ua2DRnFJwyQ5F
            jGdOMhDBEeQDeeh4AYGca0Bw1PAKjiYjbOH5JAoSbTRCOnM+N6O+Luow+/na
            A3fp0IH8+dmJ9/ZrDv6NLqblDB3n9PXMKi4EdYX33bzwIeNObjD73J1tFG5U
            iOUIzQTCAFoI9zl5J94MWhOE83WAh54UbJizJlcRdBFcv/nbqljL8dwp1X6n
            RsGRsusC46E04kHQOTiJPZyqEE6ONHvJHuiaogMBnzHLOsTWpQYj5hrPDokD
            CicZcEfcWBbZ2JAUviOKnHF9ytUD6Y2/mSQc2SZCizN9R2hBwLxXkHEH1eaA
            SrJ4rzE/56eC8xeIqG9VKcZnnfYM7KDLVSVItbWZqa6DIYnd2+LF3UHCgO6Z
            wVt9kc4bcl9qXDY1DnLl7pCgIJp0P5P3ieEj/3m80GuonRbzWPXe98I4niDn
            k9/rsV38EuNjxAhB3J0YOZ4S3t2K8XCuMk12uwc3Ym7a2Zwn7LmSNq8GBxSn
            eegHdMLFBn32xhny385Ef6eRwOT4zHAKnA7esk0Mnq8A1ea4b+wrMjiwS+MP
            g56GlaZrrYHmHJ2bEJn4jZ9UZNuZ9/7SPPVEjZyOyYMaXlh/ys8IPQGCJEo3
            oQPIBMBqkp8gMMlpKHYtl/f1ZyWz97HCEBCZHGRRTiZ4+1PjubegiWfrJeua
            QMPhkUsrZH8Ozk1Q5zrkLh/n12DPlbavOaqNLazPNfWwa3IUKfCaCwZI39fU
            aUsTv56D+zy8Zo53bDc14D0H+Kfn5PyZAyi1N+dgfEjgSXne20JIt4l3kHR2
            pdHIoPGBe3slShnnAudNX/1tfnd6c6QQ4pU/A72giVfTVvcNwtnnK+FCtYm/
            uz2USgvu06lgyq9l10Sod+derPTYcyAR3sXKTjz3eJ+TwEbGvga6iF4ufC0w
            xkVfbbvO9znYY+bGpcB/TmPmYT8Hx/A+nQwVHOMxHpDKuczM4jaOGLt5/Vv1
            fVu2mXaRCT/nlRrGddZOc+1q7rOTJE81rdMEA7R+DG7ZjvcFeT6SnPMkrcUE
            5CF+kB8Gas4f399NktrMNW1BRcau/T7zs+fjhiDAO7TrFoGQmeP9P/zkdtff
            BTVoDSOBdTePunwxqNmxCBgEGQ62djcGl0Zdd9+aJyS/Yjr3HgCuT85oZ7Dr
            E16fGmlO7wJBmQFxcYIeMVztwPS9M3AtCKitS88tjD1AQp/7xXG/KdMufhYV
            yqFpCPYMGPf3tccZp5mfsX/Oh+YzpFVnEQEXDiwMgiAY08I7jyC3go2L7yYC
            INFsKf3IzDq4ufCMR78hoXOqJ49d0mQabpYwRVkkhU3Bd2Z8KYAbuIYDAutG
            UFCV+QlO4b+j/Q63/77sd04Zk23fk59LDWtxezPGw3MY/zilVZyUQfGx8/J7
            TnYH8XVzOci0ZoD0p+pRqMBAC0gTOvGp48cJyqJlfFJqnc/gJyhu6TdZ9hVx
            GjQDTDAk7MT3OY76qjVj6DoGN8lmF16y498MtGODXnpWNy0XnckWhQBNBtxn
            iMigFSq0iZWWf0Bs5Oa6Ti1uyHZ8ZPsNgmUAihqIfncYkOI8Z5M+nvwzFFsM
            2JnN2K19Fo9KjAz6ui16IB+mPz8fCrFBR8IDbg4lLtP3O18FnPaMep5ZKkf3
            z7Bs3CHbZ/dozOHPCX7/HVpa2e67ln1e/pzV/Xfen7bDz+Xzc1kQaflvKIUS
            RbSZS27gL0YC93XxYjsJr6uToM7ppr5AsMttsRi31HcQyyFV0b/bJ2dX6uB/
            N0g6D+mglFfQdwfY1aABCplcLbpwFuwe2fI9NRo7oF3tn8QA5AywnGh74Ll0
            YlDli/adn/2ffsclH+TgtSdlKlRC3Kvj36KmhM+xgn3i3SM/IesCn9eTfS58
            BnEd6XRYlFNBcNg3IKb7+FPPydij9GIecjy2bmKQ4edX3OaPyubX4EWrIpkl
            SH0+TUT3sK8BN3/m/YpbRnVTyUUZBDAIqcdpf0Br1zXgZbBu6XGAnhOX5ws8
            l/abs1HeBIrkLBos9Nl5gaXzJrfdRNuCums6j5+WeS43fTe8jr40V7Lu/HXd
            D4NO14C/0wVszxrV5DZ2VfwHIxBMILdrrWNPZo3Gsid3kCYmpnQxCg9WBwKC
            NdjH82VoHWaUQj9n6kAFN73cZuG9OzjIesdDxWppg+jerx6P9yf3K/drUPLa
            Mdfn2suvravnv10b3mvJSfJMa4X9TvnAO9FXefhzB4QU3gtPgSBKaVzMorhS
            uXAXHD+hc51SUDWn5+B4EgPnjwWLlU3Qy0ts0dY73yKBgFu9UZlTTvXV5OZh
            8IAWO4cOVmjWQB5BMt+VozvJk2bWPmVhccLg9xohDjG4vo0lmLX9M0lQBuRw
            hZZoShfE8bYwOElPfaY+i6Vo+I67pYXnw0XGHw6tZpZWm/sdplsWK3dzx2RF
            gVrV87f+gNdzAuY1w3cpWGh7d9z8vUtLqGtq92foKNUJOK0+9jV5MuD6XlO4
            N0FkaV8D0brkbFt97WtuGZGbw8DYW9NzIzDV1/Mz7C8CKpmku43CAMWYBNSj
            3RPrc2p9GGvrTYKLTuy7R0sZgWJKKXfWWOXdVqRZmmQBG162YPRnN2Pho3a3
            sJuoGVrm81J42EqZBl8X1QFOqvxHtf/pYi6m4dKVc8f0lJR+LSjP6Ve2nKAR
            ZCrKhXV2G4fcPnmM18qG1gHLI1awx6NvU6vgIHQw51Cwsp0N9+uNFTzP/ZOr
            lXmTQ3y42jAONY5/8FFygU9qPVJccY3SR7jAebzK7hndtWTnr9pvO3/KfXbp
            /Pk5f73nMwWkXDN/zr/B/unJhux5lda9OVd1BXXGSOuDbr7j3C69ct991NN0
            gRCV1eIvWtJzU9yPaDfdrhRMJuit3dIuA73BMhEHP8+6o1GaODzptjQFDLK5
            iVkgVr9fqhUpkZcRWz0qDP0vf7qUq7Lsmnq0i77mSjfuo+DUMxeI79imI+Ry
            9tQI6I1z2DPr/Dzz5jMrHiuzNvKuUCrbvQkLszaZOteiXQOVqPDdQ1AcQVtK
            7jLmhnWx8avSJRV/c4aablovLouHs2HIwpcNgwBtl+sa+ukqLHjoRmTdSYQz
            uF0gwMrWiehN6HieAh/mCE5U22AWgXVhh8MKHvTJcO6wy2GkNZjEFy2UwODc
            9bEOAt8DuzPgLCMBWN7KnqNS59q/fbo5QQLExXn478RorGQuZGoKfGCWAh/D
            IDeidg9K5EtmyiTpA6a8z1WMVU7LzzFOUAtIVo4a3G4d6VdYvRdOUj3pT6J/
            AJNU8zOynFU2SYpMXr99m1E0chQPHGWZCnhPfw8ox6KBns/QZVIx0zIMOsDX
            08eSM2mRerfJhfOk8J5Ml5NWsfRej7/ffk/TDSp0jXPIeX6JY9DcwZU25te3
            SL9FxY0o8ub25Nd+kgPxWtL2bZwPr1h2hFBigconI4DkJYmedVlp7ietWLGs
            jKhRpJt06XR9SEzRfL8sTBTI5UF3oKDwzDpF4Y/fZM71uckadpMc7SaKXA3Z
            xLouNV3Hlz9hmZ87JCoHgGxsu06nuGLUQK2lvzFtLjYospzbKdyoi3QN3ENE
            IPdou/GGqOLC3omhQuNOoKITvwudxtjd08dzlWO2rYMoArco803OczLEKeht
            I80HObsf39V36X6tmJvJ+/KlI2CVpLMoXCN2TW9OUjotnTEw7W6ya5jvb4g7
            uehUtI9hbkZKxnPSDwPG4k4d3HqBuEkI1BtO5471cx/PvAMnOOU5mTTd780d
            wRRoDjshKUuR3HGPA+9mJFAYkzKKIhUlUREVwxYXrP49gIfhF1LxYTd4uURj
            aNYHQyeS2BTjVpcGhAk/+amsu1d7Br0wAcTvnVx7ft7BxRTPVhSawo7k9efa
            OkoDc7PcXHIEjszN2XMrlbqu4TqGgSDjyUKpARqRNWhY57l3532BLXPn3n59
            AIXpHvQw2r3Kybmpul+nmxd7mN/1vnbPCg70cql+YddydqrdU7oS9vURTGcJ
            p4epmCeAV+L4KgiAny1ted3aWOfa46RniiI6+TiDwvyX5j0P9zByzqPczRrr
            5SErbFyKkmtZXDj4GvTMGEFOoVLSpGOem1oKJp0Lci+flOILTFOwnIuEMu69
            SxoULbBFH+g6TGkKeL1vpUmLAVZYLOJ20aUFdkJtmrsKGohGaj7rqMwShs/y
            0v/OfJn5j8+f32/7LgchxDktpEiLkHHVZOmpmA9tOAxPtK50Q4bJuqSCeZk9
            XKqwPjbugyFnuj8KlGVZ2vmMdLiVrFAbRHA1u1O/6ayTJKU0VGRS0gzPCPx7
            YxYUpElYsFdTPvwaZkEF/x4+33leiP94Xte50c+l5MS3/XcIM7+u2X0CHvjY
            3/B5/rjn5/vNvNBfz9F7/m18/F7P2vip8GYLF+yZjHFAnMOYwPcxNC5qaXRn
            5XTn80rM/aHF7mNX4tIzoIjwfjAZWO8wTTbFQSniXmVeNKXL0FnZb2w2+127
            f4oA7lsbATaznUu1nxstSByeBVyny60Pcc7vUHfG6lW0Pch5mReSx23pQJaB
            dS4T+efwjKzDwp/Qk8xtsZacjV1KIoXvlAsEmo72wTMsIap6yjK4gM7HDmja
            J3d2d6E9d+ebdx/Hzifv3X73ZZ87/3z4deU2mxG7yu7HUKMSF+xzHPbZ/Dg3
            t7sp7fe05zQ/v2f7hI1YLI/efu+8+eHjqzFUyzj2ebuSJD3Wsnzn1adhVn/z
            8dfLkyW6zRcUi2iaxbM8fh2nUmDoce2efeGTe1PKbKNM9p9lqDRTmiVKmGsI
            uoKRcEMpwSlkaKDXi+7PEMsg8zzLiNytZwnM1syQLEtGexglSverKeYUWywT
            LGvCXAigDOU+gjuwyAI2Qx8xXne5UnOnaF6m/z7uoT6o05lkky/q86nxdgqd
            Cd6Ae+O7khRvsKAB8UT/1fQMkCk1p+IT5r1CG0y+SLelKyoUpM/wnez02QCf
            58u4gAQP2TYKC3HmqcAryCjcgQn7tzlfX2fsoU/eW05aKCtp8XPpvMDrITxu
            Sjt+T/RRUXf+2oQ9wLRn1iukDa6DXp15fZcrCFaYxq68g2RGSjwpgu934PL/
            OMV0+jnMvwPdFOfVLyWf1lux35A4tXDRzaN8/NP90ljJUpLOAqnOhcDSc7/k
            BMUElAK9/9TAi/TwJWMiaNKxQJC9k0576SNcFLA3TOglByQ9LlHe4NUo3AKd
            LhAoePGEhSV9nCXOSP8yFjhiMeW8BmGsxPRZfOJ4rVeKMGBWx7EL33F7aGkz
            HRfuEBWSu0kgdMnhfqHjE+OCyi9nqZjjzDE2Eot9L5j0yPhwfhhLu/NtYz1l
            cN9NorXi+7LveCh0F/ve+L3a9+tkMNC+w5jCqtt3poqc181oOJbguc5p3xsG
            ezb7PqG3Qpa3ASv7TPgebqhERgIMUGhwsP7WvO2mMDxAZXcLXeycmxui7yqh
            0cStWCsoNnQR0CJlXiH1JdgCz4VdJmu1lR3YK9hFwXYRF5MBSKY3UJ7QhXbK
            mmT+1XVBnGr3MeOKWRQywTUeZrAk+56Utqj7ebDVCC59iyNSeTZRREIsWU4d
            xn4sRjSi1KcAfm/ZfM4xGEyKeXS/Dqzich1zbuJlyhCNoMmQALRlGmvULRP0
            H1hdg2NSDViF5Vvde0/9kVmROYO8lQWUaiKDidDkchJ7aX5+1/kpkhvYe13i
            KFnpWAc9sQv8tK28vQsMmtMgbI1B2W7HJwP5cgLHj76Ee9KDgAnprV4WtoDq
            Sj5EWa2XpmLIPFx/4OBCVGXbiyVFJthgzGWeLd0nOZE9ENpso/MKi0wPKZX1
            hpeH5NMCpZlYAYi1V04vNjt2BZOQQ5PSLzZVm+41Au3UAOMyxM2hQmwwTfAG
            6YZVeUoZZG1TWswPx+djFX61PCRSTEOiwcgdjs0ADpWCX4PJA5EmKmVlfD0v
            Xoq+jwrDKj/jPOsQt6PNgufhnJpOnAPlAKpbpQJ8p3bKI3xdx56XejJ3LTIW
            gP/fuxM352ox44tCHHN3bQNvNi4Q2XVhmPVs3d5LG6aKm4V7tPzjbyooxHs8
            0QLz+K6X03WD4Y2Mfys97noKJKQWPRCt9y0MhVv8Ot7L/MFdZbJSpSgvjeI4
            IbB2zgwt6FbhgoUoNHCmA89SZJnmK2BClmdTsjiQjsX1pDZfsYH74neUlh8U
            IYAYyFaeiRc9wxeBjZZitQWS0wMciLuL2fQXiIYL4WH+42TyMxVPLCCJio6G
            dFR7nwRpfzB+VUgLeF64RYzJFooJ/Xx26k2JK0GOPIyPV/evdyrkTCb2sIBl
            f7/5PXwR0mPj5LzFSzkax0u8Z4uN/8zTv2pSSqOIrEzGpcrJsXlM8MPRxpJv
            b7iCJ/cyOZpzqMMV5NAtAL053uUKNj7k4hj3yUIWMg2r5cNcGwk88p7awWqf
            YneMWIETMCV2nQ9rdJvCUkET8plEEgSIY9xyB9zpl3XAaLFYMljPCqrXWJtN
            KzKe5TCUIxBC9+Igp7/sMrcvHYH2krQ2nkzqhhFmkWh8F+vlvc+Axb9JDtCP
            mWWz2SdeFnxvYrsU7ASYeWAC3YKZlZntlvEaSLiRcbIaaFgxLZ7EffLvVAwH
            k6+YDTPAsSBDOh44bqaUXgwuKZIv9wNegyUg82TNX6MxwCVJdI81mJZlhGPf
            k64Y5i3oONb/ndfC8soPkTAzRln/5VL+5NnxXNjkdfYhRRXvAQIa7lTWO5ET
            J0YhwInPqYDnZAbiOOQiGV7snBh8p+KVWJ4AizzNCIPlLBcVGSljUcpg2oPQ
            jsi2C1R6j5tFBdGgD3ay/Jbpkc2XT8Dh3uPIrCopzZXi7WWjeEHIvUvKH+6d
            WGrARSlUrqK08t6f8b0zrv7uCDPBshEPoy1mGsbg3mTLI3FihEwbzDQnwdAs
            CiBMHBMR8m9MVSAx/tgEEyKNPjFqjlx8zBHYtokvLohzpzKec38fQTP7YzMc
            mBMY12Gdr5+PdVrTE41C38fpv8I9zH9i1k9klm6R1WO18f7emVED99pTx5qV
            RPqlO+BxY4LgJWoa3QnkVmaxzUJ1sGOZzrQp54CeLOq5FBeaeiFQUimf78zB
            3d/rehSUbKd29x325AUpREETeIp1ayeGG1ozg8SpMFcbSpvFh6jkVTokIftu
            yODBEuwJe9IzuCjb9rk7khzirReiHFQuMj7xO8DsxRBMtr7jZ+py5RxGpjVA
            2YM1360siSmDV9SCabIhM5rn3YidBgvwpVi+KImODsbDSUmDpWcznzhmnjPy
            ABgg66xTMqxBqRkZe6grQyyLfWjnrG9lpzDNODQpZJDj4tnJM7iebCu+efzw
            z1eLxRKokLCZ15JabRdrdfv0siT7tCkDe6UytgNlrySlb5cARYeF78zjVjI8
            dvkJSjwZnWZsn3ncVRVSgdZDKKbRM4Yh+5ligIFKJvE8fl55WJl5MbRgzCqD
            aRVMgPJPwWz8Gdk0ZqbL4BhYfHa4jkvhh+uS7Uv+VaInNlEP4bU0kmN8r8nx
            BqEEj2GlNvT9NHubdjUTeUhGJMzJfFBXRDFHUCBdSYPxx0oSPRtGM0igQflg
            4vhzk6JY4YFtFUJVUuZRmLsQVN6NJ2In+EtogiImYykNBIsIk4o5hpINpkBZ
            VBFU3m1wN17Wd6DSAn6wErpqr4+ZQ4p9shUORGaDS2EwdoGdcgpFwAsL+LU9
            KsN5fjh/mLMkD7Ndb2fh4l8eumzGQ0qX7wRqVYdrY/aJMSerq+HO6LfF3VXl
            4Ll+lAKWcX+qGkT+TjqXFCKnvTggzJROZnJEOv0IEiBYxckyyaLoJJPvQr3v
            +KrWQxQNvXfIL0qNDdoWLC86SkyNjklxKAbLx5uUGhSbGNTQZnvuyHL+KzIE
            R9Y4IQwYPp8eMg7DhS32NJYAb0al5CwS2Bl/hxnRsfMhCC+waIxtxDNdApDp
            YUrzhGDGfSrGFz/jO3x8TLmD+XF0j5i2rbQwTH2ZRt09yVWfoHT/bRzIP6Ns
            aXfm8B3/xTNVb5zsPVnNJbkU3WbHY4wEWPFrARI7ufgD/OUHy2aPCzNyhxBt
            koOfz0mGiXrVyVQrSlDFYXu7tBCJE8dAAKFyKh2Oy15wdKZxRx7Ti/snn8Wo
            ShYR4nfdpTm4R/XMYKtnGtgY7fBjff/t92+MZIVpNZXVs4T98/jf+l0O/51s
            rP6p3/G67TjPK35e/PU7/Pp9/Pxdnp+/A1Q0uj7FT5hIfoIGJv3o11V8HtPt
            104bUzEWSnsZn7d94rzpmmOhB84CAzjJvEY9L7+o+U08ODCx1ak3ybUYLlfB
            6Q0qqz7kj5nHoATedm4E7Twx9Emj/WgqtMB3HM/vfUCcYAK0nOhEXcon5vfO
            HIvjrofd9+h278j07/pFTOB/13ZvHoyuYjzx70SltHAnquDp5NyF9FCnzb79
            eFq/fp+/fnugxeRS3XMIJcd/91+/26/rnWAPn/uERa7g+NUThbf2ey+z+67l
            gZRdNubZ0Nm1487odP8AAVW3KzfHPnv3RCK/z7otnAA7VoFrj2Lo4ua/N8rO
            jsIsv/mOumyUnx2V2ShBO/qyU7h3dGZnP8cdrTn2p52X/D47GvNGXXaUJv+M
            wuyoVOg7KrSjRf7pf497vB6lOT0rO3ebjNMnc+2s7fwze/t36vmbzb2zu/3v
            IkrnAsN3v386tMCA8CGbrzO6qKQSZYVwOMInVAU8lmxCZqyn2l+xCA1uJ/R0
            KU8D+oa4rBUrKmlHimikaNietuswT5tEhNSrMegkac4F2hJ+mFi3CinaYy+h
            E4cK+WCw2Qvtm5q+wBxDrg/2AfRPqIL29+juPXxOgrZ9v3Syl4at1dvWN4J7
            nlhVSZwD+pCCGeTN5BvhJAadFFCVWKU5dvpWpZcK+gqzmlijPJsjwNH9Od3X
            6q5Nfa/yaOGJIK/oJpOJls4ITqHbs6jwvUnFqS4eGXWq4xSbpu1BP+2ACE3D
            lEDqMaUGuUaZO+riSjge9IEzJcW5aOs1blmdGI/uCVwx0OsQofVA+WSyBoMo
            nH+M+RGbHh1qFXUrgSfhuHR+6F2R8fWpv4GfgOh4nMkwhWMjgbCGGyb7rAOs
            eMlNJfemoyMkpSVdMVPjTQSrYf0w3joS0SSnkyFDevUh9XN2MeGOeh4Ga+3M
            3T5Z1xDGTjPHDNZwFzDx2qTMcUIOAZs0ZUuxDrCcmixBq3w7CMBST7HV3ibs
            vLVZrHaKmT3m7HJiZNENCUaFOHRN8neQGKGpB8XffKr+2ZMTsnw53EVY+BTt
            WukQLgKiy1R94r3j89HcaaRDmi2KJSqXHOcuayMhMHGEytirqLruhAlesW29
            QUqpFG7ca0qkftWYsO7kCCaq8By9g4hsyuxJu1KKiF0gqoD7wbrijokyHC2/
            0pTBI+0Nsc3caLZxvdNgzhNfarPjHczebLN6kcyu8Lmy+Taj/w7M82dcmnNh
            porMlUGAKqVZ2X23TNuyrnvFz+nsFXOj8todnN+gd2fef3eLyMHkXlnoMm/L
            xC0rQ7dKo2ZO8zQJH9gUzzTTpTImyijDUC1YIZyGnOCF6eAK/fS5i8NxQjSH
            uNR/Zf0wUdGpkp5qeTkmt6FWfSiB4uv4tY9D4+7JQnA8jpWeG76Eu2M1rHKk
            01KZRUMeGZxXYjWfoWXh9u/zrcJUu6TODutLuGkYc7hUNxz2tcmuYVSf1z3l
            uefdqZsPL67AqZVsUqYP2Gvi+czLw6699vdAuAVhwmEcnewY1xP1BO9WcX06
            rWBeQQIidKTnZrbKCgyRULe7jrllHE1OjOUqrOoHZ1jP6e/S6R3EZgEF23gi
            uNXvZ8X757NmxzsxRY3nMCwZNgmcMiB7VnKxTbh8lamVQ4HoRifmkEzMtlBH
            +DqfgeimWKIegGfatdyq0yc4KiVZL0QAI57XwePC9cq1IHf+OJSnHyivRq7j
            sppCsYnq8C14XmhWMKfP2C2/H7K5U6u2DF8f54DNz2LgK6VHHha50fR8sNvO
            FHWyzlu4QGNWmk/UeHFRbZjIZpkSdG/+iGSY07+DpW+nBZPQvrVVqP5W7u1x
            180ZBF8pDmCfULmV08gStJl0z7IzP3Bsji17QRBif12OI0EMcu4wVCoy9DfM
            orI8YWwm4gENEhxGOE6PBpHMSTMTrDXyPY0EFuFTeRCKiT5XNBsTIpTp3uK3
            9r0evz8VX42WCCmsD8lADKwZoNTP9JKzvHmCX8cpO8ACU392wt3+Xo+vz2Vc
            R8mODEr+f0+Oh+0YLD+IJdR39SwPuAztrrX29JGD0F7elO9veQslkUV/pt0m
            VxrNpv+fLCCY3FVas5rFHT2hB007+nxOKo2WQGChTh4HUZ8tGhff53ZwD1ZT
            YxJncId61Xw29wYzBnfoxZTNUy+fbBIB9EKSN3+X9D+YdNaolAt6oQveaN6a
            4gtchYAKLg0B/4AJLNUL0FSA4tR1PNz0fgYpYPyESqbzeE4k15KNS0XBQ2Zy
            UDvYVCmsf3avHD1wNBWYHRnnE8ZqBGHh++KSWIK9b77lueuGZ0xveqWnWbkG
            kTKYC1IihLRnelBLnOA0kyVViRF/vqfysfg3KJXTzZOcXSnjM8moWaUX6BOY
            tNEV8Ge6ReIznx1Kw6E07qBcFsbDYVXUyfLvm17Yk68Le50YbpN2e190OjJL
            HnMzy0URFFJh9lmg6MGkYiMZCdxRSKv9DeckpqlRPdpaGdhykiuTKqXknNK4
            48KEt5toLdJiU9/A06yUInqoL7jft/p10O0ytZ3G3yBKTCVYDx3wYztWDo9b
            4um26xQ0pv1GLRfXMTeJuhleZ31nVVoKPzejBY/zVryKnccogXLEmOrDLM7u
            52c7P3X/9ODz5ffL+37+9+x/H7uU20vRt2JmLleVYkf7u0NjM2mS42lJxdlX
            tvs3B8bdJeeQcHbdMt/24c/BDFXL2rTPy8cfNr6rjzdme87l4oluo7HDfUwq
            bARHXO4AeYSEkZngVXxRUqrPBR1VC5CVzqJ6h70ItOdmMBb5TKKUET8rJQWP
            L8lgsKjEqPXcOeig7ZVsF3TF7LHIzzDbkgl9T8V9KlVnu0+Quk47NBHFvHs2
            IzYPd698wtMreVtnOVqwnYLjLX//TrEl5XDcrU8VGNj9uTvjOCNsz9LbkA0b
            XKE8bLzMPwWVXAxsN4O7WcTFFSHinrTruVsjOcQUaAPUMxp3PhdcZ/BAHCP8
            AEtoQ/I5/rEoMCvTzr9KxLuDyjRo8R9Mj70tdjA4FS+3eLkDfQC/QCDwm39f
            svsrn9UX00qIyckdVH3czYIhWdyJLCczJ0H6+VfWZL9UXCk8nYc5+iwjAcOj
            O88JIpz3dp5k8CRNyMmsikuwRfSvdHMciOULS4B/Y3ZgcXty+3ul0eYr7meq
            dm1DpZBVW0bnwed7HpQmIFN0lZ829LOtnMeyKAwEm+JzSAFkhVNhLjA17Mzy
            A9xnSoGSostABx0WHGso9h7ZkgkPffp7EMtHrJ3H3Q7f7yE7/xFclN4jnPYe
            6bL3yB72k5181pvBbRAn7VesOrigX5/9ehLPHhMrOzHhPRk+g3Qo2PCmv1kc
            Qrgk8flaT/nDhpRhavBGAiEIwYdMJPmAnOIokyZvklhlnYmhot3L0ong+VBk
            U/lQFRMBGG/GkH6k3fK8KAdGliuQeVPKkTJsph+LBuN/rA91BzljqiI0hnxH
            U0a1fUK4oJiKwrii1Jnm6w6WTWhOivUZC81BZn5AfzgX5W3m5q5MaIHMZB4d
            wS6YvlHPi94DbH6JMextErucBkluTfsOyfwQQcbvMfwe5hxxhGz+d+EtXBy9
            YmeLm/xT7Ky1xYKJgWfHPN2hkIudpwP382wxscXejo8v5wBR1ViWnUJQOdrc
            2eeX2cuZblBSK71m7tAfYl+RKR0mwwMLPQkBR8UI01jo3iys+zJKLPk5e1FC
            AO3kSV0hM5/P5DdGAqJN4QlYdLkOoZcoS6MoSU8aLX0OrAZSKk10Sk1ex5e9
            rMwo2dyf1TRjhTxZ7x6Fl6KEtm/NuQXtHuYKj0wO0p2Qtv+A8evTc58Ip5iF
            pDmYTfGm4Ui0gy/vAIV/Nu4fJoOQrieRYkcxDFZtM2XPYRL7vej8DFyV+lTF
            gz1P5mR2E2t/YVOaeZ6lN7VPmkNJnWF9kBiokPmqJMtk/Kb758GywHy0oVgl
            dYOgnU8IC3oSHm5r9ubgJ/1kVoCWCFRJ8NgrSq1n/I5hmqrjtVrqPguSdV76
            nCcEhaXUhZvRPIpDvNDksdLtun3/u/y8v0zkr3vU/Nz3sUuF7Zqr/+drSrPn
            3jQ/apjCdV0W/FaQmsFY6L00yumZMoAABZAvngeqJaAJSwZmpEeqS2MmXj0x
            uprOyZ9zpsYCyqamj7Eyw33K3qos4prM26GbHoL2CRKvgf7IuMs/gpc/X9mw
            dcimrWLUm5QE1pgKmYksirG95ymW7p5z83SDzMQWSUnbd7C2J6sVdGxUoT/y
            uCrulOZdRQmwxQJsfalRjLOMjGm8ryHGcFph93FZnEVJns8jCV8ZuxzNkXJx
            9hKKJkiYHklPWWC28tn7Q3vUM3i1l0CFWM9N8sebTHsSj+Xv53aM8eTfpiBz
            lsbJv3En4BngII9yAfOV1s5MDork8zeZ2M0EW90zX6Ianh/vS9nKcTFXse+9
            TpsjsrDw3MfOi7auEALUi2d72/HmIViYJRDC4PTz0wXBhrnnchdsz0Lnh//t
            +vpbhXIIxbvcKpTJbMPypL/cg+n3mNv3N/YG2fOVS0umvtyKm/FmasYQTEoW
            MFd3o3dV52AyiElB9GiTMh4RXZ9kVMKxrkQUa76QUtYas4CPHTcKZq0fLk3p
            sJJKRw85jK+HXoVs527sMLfEX2m+yf5xr7ry+gYMSmagDU9+PZROMRRJpRrT
            LUGWFv2K7YRKZshfqe8K/DdxKO5CnSy5CZrODpXgmcaeQazEn4twPztxJ3it
            gLsGVqlXV7ekw/A/synlLP0ngDj0R+aGHO8x4i/jSVBjnuRSkskpyfkez+lE
            d2d6d9Axgr7SK0u4+o91fP28hkq2p3L/uG5MSLjx06p+n2uS7LJK+LGdfrS2
            k/HNwjgUiyk5/0xLBxFcmAyaNjLkVO5G179cHy2GZuAh47h+jpVjLMKsvg/e
            kxo9k4jBasdh0j3he/i+z1UUIVCFMokye7bX2HCx3jSgelJoZRFyy9KhpM/4
            A7auWVhNS96uqpZTwSAFvLcL4l542V5fw4GDzphYHq8bF2IfL2BnS/AsV/z1
            t0R0pSXQsz//1uxvO+nyz5eCNmD+tJ1cJIVcDsNmPrbgOqrcBTTI+YNetVPF
            eNpWgasONYSh5cYsysx5hlm4IfZUt4XXUjzDKFphWyp5nqRpiYPafwQVYzi1
            0XHU//p3L2+aHlsIVCQ9V/7CW3s1CAZm1CkLaKl0z3YGI3PUxTz2cA2WyNkk
            tRUNPocFvYGQXf2FNRkkaaXbRm0duTKJQPqkL6j2bmgiIbJOHbTb+gv50QVL
            LMx3z+E1my8zlZWZqatTPrMMQtIh7GMHXY/cY4QaZQC4x/XgXT+NDgjqKzgN
            JQNC1RUTLUpbPTbCelYrI+0k7sgrZk9ziJwqYv5Cfx08xu9HotoLIiYnFbNh
            dRV9puaji8u1SaUAMdZdtzdF9FfpaOdgI4TacyXe83Q4zO+pBvGNN1uRxjAn
            5TZSYW8vRl0i1fglaQCazl2IkEHFSFMMEQbjGKyRw7iU9GaqvpqwFSv2YZBK
            x1kqEKNnQw5KsS6kF3ZR6ISghdVXYYWDojczJV5xxZqz7IDZ8hcYDwypSdkz
            YTCRyrj76bij8kUgbOb3Erec+bljGVTH85U57lWAXVDM8l3LeO5KFLP+KvJq
            wvKdULiIWGnAeAxa0+dNQoGo/iHN/N5McWULDtYUW9Z7p5hmGtV5vhVS3Dcn
            wzvNbJ7tyYfYbU24Y5/w0u6Itiumh2mFBlFtRU4K9nqhTOoGk4nhFQPTMTHv
            ZTF5CjuDK57NGx64GmFiYEto05H4tMTCZ48OijF5wodjzV30H2mjB1n5uMjb
            NohZLLJe7sVkgVs5kJge6VDkRGkKysOI21msU+QyMnRxel1SwfDJKCZ1DWyM
            aecTWJnnKwVAqY8Yl8iQ/eQu5XkG5YbyPpY1x8+A30+wGOU9qKjhuN07aQf6
            /U/eP/v9mSfCxCJxaizIv3zO6SLxrsIFucgpOBd6f9aXePqC3GT0D9J0oWdE
            Ge32/D3HVuGsCrOmhS7qG9I5NxKjhdBCNnaxM86lB+Qjx5ts3aQGQMiABCaT
            5ZvyTcg/2OiF2iwu5HYLVZrtuplUmzeMI+veVUH0fMfpaIcuK2VjPYNh12dm
            sad8u2M22CRgvekKET7DLYz6qgqgW9UE2PmwxQhVkUKkJa7PTr5bWH4QDLue
            PBysjY0YflVm/ypG4dbHW3GyToKaTOP/6vk3PX/Ewicfqcb8kypEHOKzJqsO
            t3KHvdMu79AU32CuYTncXoR7u0I5udPqyue5XAB5br9KzB0jv/wOhlqCzci7
            aNV1hdNrG4anr3/jzLNaZPOd7tTNiO7Gt3LzROI8JBVwsjLJKIveeFCldpbB
            /yU16PzeXa6nSGFlZj0okU0DLGjI+pqeCWv58UhAeNzkIhviF/odrHeVWzNc
            wJT3tFLYxYQDN+Xf5V4CBUEFW1SAItE4HmZDt4Pl39Erbm6yKthB7HCQb8vy
            qYkWZx3eiKBgTOmm9S++VwR8mA1nVx5TSPJ2nyxUhzAMuo5OQhY8JgYPbxOu
            vYBZBVXWFjMpeC5TdP/FubWomauQZ0yHWUIsM7LD1mKvk1K8jrpeJiUPq9Y0
            Sqh948KELbWzSW3Va4Bsru6xcs18FiTpw5qh3ZKBN6DvQX8zUoEuYFLgGk6b
            8iDKwvrQotwJFbZVhTUGuir0aw6LWhhNtKPwXzAkG/y75s6kB12t06vfpsUa
            C/gE1dUEZaac0ArNoiwqrmbPihOzCqOBGnhahiRDyAQl/p1mROnzxqcCC1nI
            TbPYvXcaaHYnOdOGhDjV5Spkwp7G3AurAm66w+yex697gjuXpLLGVOwdrdg5
            mhthv3cmMvQE58Vl5ct5DuG3pEAe12DGTnF3pNyl+K70IWHMRWXidlYZ+rGQ
            zLy3Co/2phqR5BiXk+GXVCzWVHxQmOAil6WygJW40E1Xi/25hPDJdTvopqnC
            qVvWhIHWBPbFTchxGSDnPlH+A6plw8Wg1/LIfwutlZybypWq4qi0slOSO9Hp
            MobcLrvxR3Ev1nYzxPUzIXsrobtw9+wek3Qy35Vqzy7sXfZ5EYmMRT3PtqSW
            VUDtTzKOzBX3DHNqgvre/btn8Yf14/u5M9BZTfbj+/0Crut73t89rSM8P7/H
            45NBb8fV7CBJTOpefYdgoj2nW6X0V+b9fpfty6gvDI4ngm84HUhmfXqkoLUi
            mJzqEYTRDOC++N9hGTdDvvGIQqnWIsrPr448c3ogGcIvf1dj39DHLcrs9z/s
            /Lns/MJ+koLtsb+Xx4gg+/hBdAY/tKzyj42W9duCTQKwe8MU6nHD1g+0JmOQ
            pCAzp/4ajkYTg9s0EfKkVodnlMaqakYmZ5cniyrNgYVtM4pD05zmU6YYndk8
            +m/54GXPJpB9WVpwGBxNYZ9LCch4ZhH4RAJLwRYEq1SOlBX3DvOSjh9AFykK
            vfiuHzBcbtNvTb99vfdS7i/emcVaBvFjzzV4nfRY67nRrdC4nkl5vCrR6vb3
            is04JgFM2fMt2jlyfPg5avps2fRMUp9kZQS9J4vGPPWbQTH/xPHBzxLbYIGL
            616C9GHqCNWW/e7Q2Ub7qlKHpXQ5SB97Z2kN6XNmOlC6rsJSzBxva0FTFJ1v
            Yil8EKF1rmjG+WDrGQ4gEgmosfMMTXShPlHm0JQiJA7ZUzV45VPRevo7hZyL
            wTA98/C2DZK6lpPkuAyv1LWgwEOIx2vfj2iNRDWOFkhVIBdTRPki6GQmVfXx
            DKLDwPajRUn/CBFwG3b7U4QYyHBNO3b/EKIjU/vvgy4ZnDfB6byDX/RAd17P
            2op43qqVFRub9QsToNBpnzwu+Viyenukrij2iH2rOObDeCUtQwugv1XYNW8M
            KvdVnbbT752akgyKr3hMkTBoxr6NbcPQuL3Xy3N8KSZnsmCUtERWDIZo5RaP
            uZTOw4PSvQ0vviq0qkzRJpgsrYJt/Efv8Hf8/eVhbTA6nhiQ/U8vr5aJ2D6E
            v7vum2DgJ4Wk+8+eh07FSKAuKzlwc1VQAle8W1QL6khkBQNNH1Yd3rZnaVny
            2Kj+ckn6q6ecglCiTUq2eeTu7EoaC2rzuHY2AB9vCdU2D8JyGEqDXVRxCQRG
            t85h92qYhaJsSYcqpCjs7qKvIVydKbKuP5dqWYD38dWRbdkupQeXczXoIDL9
            OAYVm9E1ww0S9dvPCe2tjGd1jb1zd9QYKTeYZwFDEz0eyiJhAtxpKlgEOW+V
            LjMNZ7QkgaNaBxsmvDfTjIankDTPGmzBMwfMW0r4aQauWPsyiEI2E7lEs/pW
            udvw2VUDoHRMutKlEnX6UOyc6ecw4YMaR7XWtrz21PFqx3HvU98dNkcaj2pN
            myXOkzVy1zKw3Oxvxdtl0F/WA0SHwRSSuzEu04UzSBRlfJbLzmUjE5yb97WZ
            BWRBcnkSl4pZmIHLEtSSi+eWEu3Y8mP0q1lZJpdvf6fziRHWdwyVKG5k6Vbt
            8JOY0/13YibRsiOUiLaz8MA2ax+e+MeNw/pIWPvqwGCQSCyeXemLIGGLzMT1
            NBOlyF+teprvXTJgPB1CwP2DaoWZ4A+vFxs9GYfo3VI4qC/Q6ejHDy00wzSx
            Tf6d+TEFoqAQiDL0I337ig07igrdy67+xqHYp2mPi1SvcYF4C63RUaDuqHvQ
            vPkJLmJdn1kuaR7zPr3IKSiVxTpxGbDIzP7Z/ZPAwpg84jB9Gu/Sn2Gw3FDR
            HKCkKknexs2NS12OUOfEAa90XEnLd9POFE/OcWiGcfktHrbCRtvZtHlXFNty
            hB07b13qJfLMX5mJtbri6gps8YrEXwqupZ+VEgxS2vNjsK2TQaz4IB576A9q
            9YWygqB/Xqg8/lwo4hr9baG+WSzlOYtg5Avxif+xU349b7PseL3Vdz9ZNstq
            NtuF3mCuDnOP3KcBd3wrpqs7oXWD7LH7YcyzMPTwuV/y+w1XSnE/1i+JUObO
            C/rcV33Fib5ZhC8+3X3DVGrhNxLdm08BJQXYvzqPMNO/x/d9n7t/3af/833q
            sPu8cYjM+xgJWC/xx7La6a49fAJKMoVumf8oE1mT6O9HmJPR0bzSmzpJnMDL
            s+SSVfUTp5wOtMnoLTESk9+XQJQ3rFsQAphMOZP7npj7slnVUF6SKZ6T0DOK
            2bBLa2MXeYLyD2bsS4kbmHf3YJKJdXYecKgFLfTpUVOCarl/CpbBnBsyh3G2
            Ac5EIA5PqCMTx+/2O7ChyS82+ewuugkkjT8nf1gThrcCQAh5IGCIkfltabEE
            h2hwh+wgQ4mjj06dl+Kk2KE9Oi1YZIg0GP9tOXiW/cmc2O3G2sgzh7cdHqd1
            Wj1dAVfDAJbFnysaCTT6aU0r36WF0CrXSbbFojGhn1+lfIkJxQoegY2AmOlV
            hSzEPef9sbHtu3SFN0TvOIZsrzvmMiQWlVI0sUsFL+egiJbmLgfkdGXrpyln
            rmh6dYjRZqV2RnS1mNb9whLe8uFfFqC1PuXa0b3QSdfKJaXuLo7HVK3Je+ci
            mQKWFeoLhzk+97UMXZJQ/HfY5hnOGFbFEAPvtQQKb78pywNbV86vLM1Jme5m
            G2OpatrSWE3gFQusqZUHGUbn9Xk+ufsyB/AhYCBcyzxuEIp8IM0wT3rJL/zS
            IEQOcTSxsRlbuC3vzdtB2CRqQYLvlEZktEPHt319v81mjP2ItaoGhopNc8XM
            UFX1t30+jKyRVLYhr3GhufKaadZ1bjlg10W73DOfKou68Tvc6khg3mZNwlkG
            u0sT7/5eMN4vadOVdEx4mUSwHJ2nRWoJ9DLsc8ieZ7Q4KR2gDvNq5+0LMG5i
            ie/YLAq6ydXqjigCex2XOM3xG3rv5RYuhgwDIx+bUKhvYSHfhcMiZvUyZcqD
            lQUFmsz0fxaviwpeE8WmOuDMTxgsGjDFsmwvYqIr8Iq/75Hnn/fIMM8NcP0J
            RgIKe5pvlgtIBWYxEXCZIyIbattLqXwBytKHQF2KRDIbhTNOOf3uDEaJgkAl
            qWln26Fsx0g2tAlDfcTUQpSNbqn9W9o6F49iIvRyejun2+/J3feaSHwGzxWV
            E6Q8W2up7fCJyjC3lA4mZK8a+jv56XJU2KiGunPY7iUeVT0sE4Jj5L7za6og
            ZKcl+vzwcZSfPg4RdFUHx81NNC/5MHOM3ETXFkuAEFYzl4HrmNXAenxfF/rn
            upcLNBZU3K9iWO7tP7Dfr2LoCuCTrOlv7R8PYdokINT/8XUTBxDbbtHfMgWL
            UpRj7XUvO116Oy22M2M7L7Y2u7Gl3pwUlsVYK3lNzk+2+pOax/MnNWPy7rh1
            AJqxweAa3kUmp9lwDwxCOFFtrjaLRWg3N9uTO+LPnbvZaDscR/ovMH3ESCB3
            6MfPoM9WYvv4yfoZ4+vduzxiR0r/uSwqq5yFJmV0zVLdCrF6Z/e19GwwGYXx
            M/pisifUL0+G57i6iTSN+WeE2b2i0GGMBJTNZSUbYPwlrmqhBWItc/eegha4
            LJZujiKWRSar9Esut9d7HQYqPA28XL3t5dhb4/vlen5W+1ayWA+8vXAYmM4h
            bAFpFs9/TmtBED12xxdUNeOeVCKjPq5DBEtJ2vdWkHGI5ZbjSyYnCJRybTbq
            XsLw5SUkN0gK8f3B5oUcWa6w2X0/fnI/ude9ipNRJGXnOIcsh3G7fa7E4hdH
            kqKZn1dhZI+RjRfdLb1P5SRrPNfLGYPQ1O7uOaXg3BPGLb2VtP6jnitAMzfV
            QdgEo0tWnApWy1FoEbpyr57qOBmeDxC+JnRM2fp5/WKNwnw4HQ9yWg3OZs/s
            b7a/Y07l/m3WqHa82vI2U3xSDQPjsxNfpcdlJ1jlNT5KHUYp+brY5dcj1plp
            Uq9ylEw52pxguc1/sO9ttxoeYYXEn5p34c4kM/t6FtEV+Kxwfp7VnSvNVE+F
            FOeXvG9XZopUNmzKInQGR5JVT3cXF98RdxBi2JH3wZrfwzA25ABUsvHaKH3X
            I7bsHNzZfHqRkCzH4nIxkHe/iovnN8thKsuax73VL9ezf1sxhv1HkCQ1uSBS
            nmohPePY5e7NptB7ATdVMjkmsQsUYTEyhpOFm3jvGqFu6QwpQisXBUOnUEkr
            saVj3m7pQTlOYG7BxltqQPhDX1CP8i+9APZ+UCbQj/tV6HeDsvv7fjgWiCtd
            yAUFysPdZUrxuZhL+FGKU7AUTDV+T9b4/ZuIt2m97N3onRQxq1giExXWzOro
            ZnX8MqtZKPfJYhjnjoVrYy2Jonv7NZSsM+TXeDZhBHNa5a1cN5jWzgUJwHUr
            xzFeRHkN2pxuFF63nLWelXkqK1O7c2fnbKKw4jWr07FiCtVefXJWmLXkdUVY
            +EAoCrLxSo5QBEFUZvM22NIRFAuArMGMFGK/61N/J3Yy3bNlhN4NW2N4qLcq
            ATJekVjhSh6kve9Yxo9DMwWVZMICPZR4YI0+fDwJHMQqG3+OYWQbA7HTR/Ea
            KtoIQhNsVktF4upa+A+KEM0ToSZk7UPisJRT9a2MxMNggqrOjG1WGV5WW6K6
            DCEC1cOSpZkeoeO8Z2IUsOD6Dc5KBH5DamczPE9UYu5xftEiUnfkHnxeOu7c
            tl4kYntOd4WUlaj9WM4F7rsIqgyym0kLlWD76hNQG/Ff51EfNUm2C3NbRLRU
            4IHIW4ZzTMzJoSIylnkGC14wL494fMrjWK15CWVi+qHDDFU71rzNdSu7zTXW
            17/jfzCka+A4bmKDMFMGT1hqBdC4y1I/JM/VeL0QCZAlXg5xHww1QfZ+JOgq
            LJ08osUlksFJBOshdTgcpI5HOpPVekF4W3d14rVWBFk93Gt6+7qr2UnfUE+s
            AQ62CFaoJDhG7lw6sZv6X9wqTKpsQVDunf1+aDvumuf33KRNx5dRwVGp23ra
            pcBfIXLmKU7z2+jig5TsG+G+QonixNxQZ3K/gLY2a3EF7ElWcX12MEybpfxb
            isDoNcaXLTwB1XK2/k+CpydqQFGiubBLzuDuWpZw3oqS3cIaWYr0/ewT5fCJ
            civDAFyxDiG5D9U5KOaA/XkoxrCMcOL8AJruLLTgmWW0W4dryFuLljn5FcFU
            HjsIahGs9csxlojKdPRJySwukS4ut3EjkDMJipkc1J3YLkG5li8gDGOp6Tit
            K3O/vfaNLYlJCNMxQ6Qwgq+chlXda/Lnncbx7l3jTOjlr3Pxj3rD6wmsH6Bz
            BYx3UsuuqNwmIYumLLPZ0w5YEHNHixTWw9pHEqPO/xgNWtFjBssS8Xe8escS
            hv99uv0ZHGsr/MLy2gEMpZcLw8vj4X7e81i9LRP2dV62cexy0OGo5sVftmwo
            R08qHcvHHZXY0ZbXTW9wtm5oSGk5d1lEU7IuKV5nLFds241OThDAyS5zZPtd
            Gvhice+uT3ktjKlQuZAFy20W0/M4IgORSxkP7TL1njer+DRildcxyN5/Tbl/
            IlR3n6t7zMmNJOsKm84KnQ77tDA6HUz8201Q0Ds/aRhoDcUXcxWIRhNZIhfl
            pc0eI6gsSj2wbQyeny7SI21AbNOUN4qQQQFHsiK+3B0YAGjJH0rEa5Xlvtgl
            YJ/73IuZO/53JZBUq00mdrnaQ7PL79eADeJewQt2DpaF8ocXzjG7CKEI+bfa
            7fKPfY2mvG1H/TLZ+KsNF2N0Sz3akc9vjuTQXeJkuUCprM4dzSHEoK+8hNkq
            gx/2wlA/6uVccFpCcAvbXf6w+8385ohT6AtqOnv94Ufw3hQ1YFU2FngSBIf8
            F4VRysfgm8na61fzXCFF9A+a8E7ulDvGgNJ1D1vvx2Aaq17WFp+TH+hH3grW
            IXlCXMe0IYMJmCJNtG/T8aEf6wcYediIQczrZ53oUPCF8reSkpMiemJ00EqJ
            5/vF7rED1OmOvscgGJc1+ZnGqQxVtpPDvr9FoDDWBPKrc6mdLuYTq+BTNZ0R
            MjksAcYlMJP2wT77EWQpplHvBSAO0PRs1pnUj166xCI2GxM2DXOUBfzDxGB7
            0Xh3PER927rNXbx+zt1gn0x3o1flDIjFe1+rzzHCY/wOpXNsirtEQx6QiJEH
            Nlm2EPO2MEfkcQE8DMocDB5YZU1IRyzbIhwWg/obtbsmNv4yIBM15QidvrQu
            kG5hY4Qny1/Q11fitb847e2q9nU3mxMoVWn3Y5i3+nf/6VgJonBrBIJnJgKh
            Oj632KpFwTrTmJWSNWsX+/2lE5B90uFLmTjdHt7x9O2R3B7M87bjO+Fyi7td
            RLshH7e4icvE1BZDXBhLuapEAtBCsjna5myQCp35hzAcx7w+3Ig18d/cb1zP
            y+kmOcMitLWSYb6DaQbJQRBA3/WbQ/O61OjD+szrpB61ER6Ip8rcDyEDXcrX
            JLjsp+NMf8P+GKhV2dWsxl+s5pG5AgbK9tiSZ2Kpgfl7JucM/BcL4ZMxys5u
            cfmTjSL3YJmFFMtP+ZPS9wvJL56Ot/dhV3FCJELD+Wrb0LzBMKiLSTyVssVL
            FiSjKrkliqQFd8ll/Z2xDkFOSPYXuVNvUnBzfPFgWjWz6Dme4mLpqQRLIIQG
            Fg4cRM4otRX8+X7L0Q/TL5AcJt42Bnmu6qjEnSZo75af3plfwH4RzKdfRCbK
            mgtqd71xFk4hNo3K8kK+e4mGKsxURpPnB+dxcF41Y904SWK8ARzbYDsEaaXg
            m0z+W+fMCVXROcttRmEtavzlbKacn90I3vT6pjl5xWXt7wksnha2rwWLuR1F
            nkDw3QM9i5oEq+4Lcei9NdCOhu2FDpYnSGIxjNDDOswkD/5szAYSKouw8pNv
            VvEqTkD2n9Qq8NxV21/EwnDxzbi8O23UTGQrfXUnXhiaoQo3dkBL+YrdWx+f
            1iJYIvK0rN23SJIu7NtN0c0pKhtk/CLmEq2KisQctPhBG+Hcmdb9FcPsmvsj
            T5LZwdFRh+PHPDWU3xckiKErT4mX+BEhHCQQAnpQVBAZ8bjNQVyrghCsjLho
            O8K+hwRkSilk/M5sIXJeiHWyLfFfFimAsuigkYcv8+Zui1JhYcX2ZWIixJ9/
            UxpqNX8CCC1RkdpihFArTLfavyO13fj5PfNPB40lSzjb/yUOthURvGPstna2
            eNj5+290za2f4ibVCxjnYmFbT9u62Vm/WxxtpOCNXEzWy0BX35XvjBuwpINs
            z/DS+u/mqcqHABGOYXoMdu8MJ353/12NKEdzjtw+PpWdSCtormy9t9nC6fhO
            XgExTUscq80bf/2htDGvVT52Kk5TylFg24XOQo9Zslr11kh9XwmZk00rPXvF
            NWtm1CpxpPvOgRo+uve6kAmVDbD9rLRk44v/KVMtOvzU7QEhB+nwF1ObwjZ3
            S5/PbhSRbYUJnADnmH8hJ9MrSIwN5JJMUcqCEJDC5NACTI0hGMhBj9SjLrSn
            60g0bLu3BF4qUg3VdaVJr2nydLJhRF8p4zPNx/Sy60I3sED87Ni3XHfHlFB0
            qmMSfR+T0kflD5qKIC4tZfz1aVQviKNTTr1CmEIfVZpGcyMSEI9Oq84KkLDV
            wX6qQ3NM5sGKcs9atnA0QHAqbSqUoy3tENapbKxTWkanpVvRnQspGgUnb4mk
            hJNJZfggoB5CNDACeHy35yuNrCMTmOFVpAjqTuCP1j9mXeuGpUqywd8iM4tL
            dG8exUnk38qSeDLvnDJkGFzG+fR03oR5D0XvUw+7J7acmV6BoAiL3scXRhtM
            D9+jTKshhORsx2h00gHtZenxZd3MzgWFPI/7BKxbve1QehyTexz7MxhNPwxs
            6hiV2CgZrNpB5he+r4/719sLHjuiSEgu4h+k7iBW2mwErOJ8M8OgEs0N881c
            BPa8rGs3EQ3eRPR2dXAQfvu7oyg9Ud2K+1kZiR1VLwVq6D5NBuSGYyXLdOpj
            DxT7dhamLJ/aTcdGm99OC+r4ZHecgIt5xyyevO4X/nmz6c1ONxt/2bYnsm62
            u9n4Zv9bi9/5DtsT9nrGHAf0XPb7TZhl+PtaTNrSceu3wOe+188NJEeAh+HO
            qy0Olt+/HttTZ9bGFkfmifs4ybbT7PHxZfaPshQijWOLnTtaYO7pQTGZDcWz
            nWpya68vfeBU0oo2gRxiQQDCsQ+v5hboS1WugkUeu2GY1kmA4lIFNcN0Zvdb
            Y3Pc6fjpt06HBS2in7/OZ2zfdVIbwI/vmuduzXNH0ZrV7ClSWCD3m3fGeft0
            EGobO5sVooVtELwTDoPNgpT+KkfPzayWM8lMMhhKdqFLbwefCnMzs09zvTyx
            dRpOupJIp1U4UeyJPY/n5ncetwip5UqUR+Kwm8WCSxM7vo0T9+cz8FqsMAxk
            zUQkZpQF28ZiLkzxipToeKcYDA8ierdaKMiXfCMWKhoGe4Z7knmzcweLpyEf
            KJIZssZOTvvawV6T/v2oXvvBzGqIOyqzdzB05R0Yi6wEZdAR61HiB5IoWx1B
            PWc+fkyuOsYIUcZ9AO0vzhSHC7IsGtiZamVox6BMhtwYjm15KzaKGOZHL8mm
            JcUmkA7R8d10s15yOkl7Dxub6bSMH1oQ6XJF52gKEd9sMeHJKLx2MQeqcjMq
            xq5qXYogrFuy1kmfWgBq1B4Eejxe8Aa3kstRad8/8EE/clfaOdumetIsw9wc
            U2DHBdMrQjzfHhvYXz/Z8H/gvDCk6832iNbneTdqq7Vszus9xch5VXDr70T4
            T0L18mdTJtELg2MNCZoFkBbfOV9WU1hZbcqmTfzDMn+2QE7ZEvcbeL5vReOD
            EaoWhO7j32xus6nfPv8XGMLZ4E56OJwdbnEwvb3Sq127eNilzv/Evl+2utmp
            a++/2ehwMbHZOTEgyMNoZlL2UzuIXnpFP32h9qLgj3IWj2/Cf3PyVQWk2nVo
            5rdM7EwWHR3ZpHurDeLfXG8D9IOus8NT5emTYoJMtuxgx42Xg4xOacOpuK+3
            ZkGm6mHOOrYUSV6p5LqCIAPF6QZzQuhq7uCmAr3HZrEStm0RXGNyzIXVwQpe
            6MVDCbwBiOJUIgbZDk0z2OirsdME2T512oyBQbVJwjs8lYrtA6bvvnKCi02u
            dgthma/7eL9n4zrSHZZhdol8srmo1RyFqWO3XMqHdwMaVbAvlkom6C5SdbC/
            Z6uMCoYQ8mWGOfwLYWioIip3AwTPz0jD575pCP9x/uPnP9lAQB4//y1IOVRA
            ogDNyaJ973a08wHU3QhjxMwy3P1HtpXqK7IKb25FW7vDW3fjbM8y17HS1LEm
            kMEw5e8mrux1DtyMp5eW7yKWnaNZvHQdJu5lFUXrIezfJ0x0DwuMfEOosmKF
            hGAIcvQtSwn0YwfhbYa33j08J52+RwZMhNxLtklPn1Msj/fIjrJedXOoEcz9
            5bjpzR0g0qQxV7DOpIswWwby/ppQSHkfxu6NBXuwCtc6bNliYuZOMVc27pkN
            xjF5YurpyaCY2GTtkC5JPF6LRZ/lyylE/8NtmTqqzxPnM5E1LhvLE55rnNmc
            TuPSvKhtMcs5todSI3JfBoNJRTvQyu+LY8Lb79eRdbL1BzOgTydCd0qRkOby
            YE+Q8geO/dZOJoksnnNSe4Jlh/dsFz2G9j2MB5JRmVgnfw93DUmjwx+vnbUr
            R0x5buKmPP3T92r3W97n8SZXfT6LGi1fUBPXldNGP8D9ljEF1YxWv//ZvuIC
            bdhCMtdJuwITPJbpBCxqWt+NrLvg5MlZ4mPYt9DRPhPLPtMpCoi/0uUl2DUj
            Ak30vReqWDr8djYxv55AX7wXdY+iqv9yembRwTFR2pMD2m4e6n0mnBK/z3mp
            Kfci0BT7WkMnsAZ4VPy48cjeOY9n1S5XtfFtxSbaKN3GsLkL7iek5pI+c0Xl
            jtBvhljrYeTLXNh7DqRbfL2zEnEZoU0Wo+AaHU+xfAEWJh/HZ/GO6xHbCu0n
            teX0J7WF+qE21rbt7z0/5ze1MWP4m8CGlZ7ddKz8G0IDB13aifm7MZs7iyyM
            akWcl8CO1wbPVNO123bscbqS2YyglKNPP8cnnyDI3l4SO+O1v5c3RPesod3q
            4yWkdEnxPLpzFwviSDmL3q1X3s/oihh36On+AD9GnKJYVbBigblsY75uL31/
            fo25f8bMQFm0VDlruuv3JDgZxdyjzk4pebqd/nYOAyV9TBdoBhbtF1MRhBky
            HaxQDV8cxFB/y49X0RAh8Fe16+96gm3Pv6AJXqjaHV5l2/NcKMYgOtFWk8q7
            gjcCH4HcmqKpu/zsaqscN7sPu7O8EzC7De9u8VogQxQS+Cl22/VNcLF/CE7v
            m70OcSdneqApfIVr08xrd7XXs3H/aahviVHS6smxvE8N7dZuTpLzzz7vYpp6
            t9qHHoUePrbYYZ7l5prKD7A2YMdq4CgF5nGwZuj0zrLy6wWo5EYDyw83LqLY
            iZaYyvXX36oVrFjeB43WxLgCjcKRWvSCoCS2JSrDNmX0++GOv5nRosGHVPjQ
            09KfiW3X1QVbXXsJ4qjJ1OIMsCKmSzN9uln9PeE6D2VQYXRCROKhwmvGRpoU
            yxwv6qTudy+HzW1eYpasTZU0aYfRHZ5Pnw0SLrz9SYLJdKaDHzBJyRneiuN0
            GFxgN3qlhr+tlnwY8ofqOBRCts/mjPPFnn+hQg8FMlkVT3EXcnEtWeVAGlhj
            QDk5v2e1YR2WixYcQ5kUl5bX8rOFyPWVAx8/OfDjLznwaVjuu7J1Aot1qJ1a
            NvDF4Avdi8Y6K7NImWlb53PpexbW3+R3OlmgSHSOjTYubWZSJX/TO1gteGO/
            b//d/fflvzPDs1ZUkothEhCyNbKtEvuvsuFNVPVx0q67rxTv612oRGWnUsap
            ewUzd+Pd2+C8lYOhYcq+LlcUUcn3dZCP949roGkQ2RHSXP4H5vwXrAl3yIn/
            D0arzB6wMPpU67k7JkApBC8fEfPOYxWfSZ8Noy5UnwqImtjz9mBqtQ3rm6Qt
            eJvDdr0DO04bmLb9+E7HwgLdcZ3sEGud9MBWk6FFJYFxEJ6YVRxsL/wYxgzB
            +a3MwqBM7fNSIaAod5ib1QrAMouFIqyNc32AaOQ9IRYxMwyaw5V2E25/86Yc
            0WHFfoXktpFek5CosTobANE7i4USNsNkkBSs5irrNOYcC3iD46ITFSgShCZ9
            1QYNol2RiR9rt7m5qU04szwNrEUYqUrlZJ0NjacOZjd+Xkd1dVcXsFqQ6hzP
            jSbQ0rEzHrK5vWjNtH+Ce3AHtbDSme485PYwtURYUsGAQ6SjqRLhC7zMpeCn
            7lSSTOjKmcJSrWQgBVl8wQq14QVHYID0KWVnkupKvTHE41cpxW2M7lvS5S/V
            at+L7o3hxh3vsfNQd6VAy8bo2PRRGIhkciFJJYA0U46DYh0w9a2sLz4T0lC5
            D+Py5rrqAOV4RyrihUbgGIbsQJWY0znsXqPlxegnU/mUi9Le48/JBrg43uyz
            TLAnBj5WUCfpyPx0vMyTplpq38QSPA+H3AFjGZbzSc2wnefDHEBL/s3WNYuQ
            VewsLPNdcL4S/epQrjahh/w4T5/56vPVBbkYLoHkbu8UF/zEFp4bami7LIRZ
            VSh+6RPF+Gtir3qLED/ycBMwmUHRtypf7YK/Omq/TRXnPna8TRm383V5W5eY
            iK5r61W9IWV5PF3B1Yqyc3H233fphohZqKag41alHrBqvEWH3Qn6vb+HXTbI
            BoW7Jbc7Db2NqafpB5MQrB77s97SJqcuT3+rWlhaOWoSyOZBcTLDzFMRKG54
            jFgGyXIfGInVsZuYCd0KpM/+TkQenrvCLoWntwePSqdX/96VHKxz0Qn3aWNu
            PqdoDrZE36cgChPbpQ4vqyDgdrS6z092nD83WasI5ZesT9+dkN9Oy58F9Nax
            psjnnyjDhyX2QKzlr/YM/4C2UqK58eetG803o3mAspjcCqnHv123ugIkon4Q
            n4XBJEIWW6enXhdNhOIilmj+txDRKxuEEIzgpiVAcVm027B1s2VbwMim8gkL
            h7mc7AOoAljqlVJ+FYsYNLWXA8ZyDZUmkOigJ8fAhKnH2zGkHnAnXpPJLthl
            pVZmUEkeLKuTSLbrtWPBxG8SFZHRk19b5iO09UECUYFt099MZ4SFXrDJYxsw
            FYcdZ8dByBkiAW9kHLcwH8eyDT6PrACX2oJJJnh5PQ1QhV5clctBH2bnSucc
            SfUhwYgHZLjm7tNLkDCHOwqu5hX/HHiIkcDsjyG2H/PiS0zVp9/RBSYm5WJl
            9c0F48snCcFrB+o48O+JJhzzKkHmP+QHS0VLZGQ0CjtibLj8J+fbGqWMy9pz
            GcK64HPZJiIYoEf4tNc6vZKb5Vkf4R4s+1o96g4f3+M+isfK4n5ncrMZygx5
            sCHwueTMe5gyj2PMdiA+/SBn4ifbi/FTLVC/EoHPm8ALrFH2dwfLhbgaSmtg
            CzXG3k59D2E09vwdaZmvhXMxiuvn4BAQVyxh6+akk84ZWLhLzWl2NXG3a0xR
            IfGE9Hssx9dYLEVwsOG3oinJgMC4fhSxzHEH+2zTCn7a2ScDsM+WNZ0vpsKT
            pH5wacsf6JDhA4r1q2s12BAn/2aD4qGWF5c72YIDh3RlMQ9bNJ57XD/Z9w9D
            iGVtBD1P6mqpxogYx4WXZYsk4hAf03AcT084rjg3KgOafdg6W2q0cwzzwgq7
            l6WEhDphtzT2lApdFVLhuugJJZshA+07yZYB89M8n+o/KZc7I8vxNfMVvcfC
            gZlIDr9Jz3uyzVfzNe5i4w73czIPt+6wgVqnj2PXjdII2+NnGYTDch/7/UKQ
            p1noTTAmoMowiHTRKDq5uGe0NvFq7eob914vPteRF4i6ew80aClFsSPiwe6d
            xWzhmU/eMLCHW9KFMVfrsUBWltmbCd9xTt4PWcyTdCPkG8M8qalL65/uktBR
            GMjfygt0ouTtytNlSUWeqtZ377nRCbD6lvyrt+6aBkLSt9VFgOsNNRBkIfcX
            B2Je4/0bPafRXOr792zmjeZ7wEKc7dvz7PUX/VC9cJsPDHN2ruIGKSmRmh4S
            PXQFfJbNsdhate2GiAOLET+mCrPKFHIfqvq6VFkXaI5XcB7DiOLfWEyUD+sa
            ussDGuGRDBJRjTO8Jrad0M7P5n8TcQ1mlGBAMIvym0tbqffQq3y7K0LQ5yxY
            JQbuHtSk4+qhl8/aqDVsEwaAlkdXCW6rqCtxHNVOuylQdF2CAXzZ+zHM1hlr
            Yy3bdXda5rxbP5v6np6cw0adZn3SZcd8Q1/IbinwBLNnwlFhUs3BDAp5GY0Q
            78cXxIiZ9lqkZ9oJYFpIexILgmjtyuYiEVFxz1LctGvlIxjNyv1uu0+whCTM
            EVjZbINo3tj9Q6V5LcpZFitYrkRKC/pkPRDNKhhrpzz5UPm+lFMW7exnUqPn
            Ln76B41mVvqdPpuFcAIuMZcpqIXcksHO8UZztyf38Ioz3Kdku+dpoYMTahBD
            +mOAdxMmmE3dYKQ3K8WfIAb6WS4LEw/rUhTv3TLUdjJZbVQirifr0JFAp+Re
            DMig4QrPK4s3MXR3jt3rdGJY126hQ0RWwg8fTWzyIavOBzYL3fTavUyla4tJ
            bKy7JHJ65lJ0NkRRkM1EQAS7pReVGdcGU6ignMBLma8amgGZctdEcrQuvYfZ
            2WZ64Q6v7uLdYJYR5yUonaMJUO9Nw74/MmwyxM3tTw3uUGk6kzIJDr1EnYMF
            nj5xWDFLoKBNeJW0A0OHMAjudXkWNtnovI7Nfm7ywuQtArPaUf1QkAQt59lT
            wVFCdrUQlRDJkipZsrbfCeMY6sRtJVPpyxvKCalkj/cyznAfViTzfJWqyVxh
            SSrL/VlowhBfUgH/Q6T8RtSVoS7JQl+RlqjGwG+XO9aLlxBMyQx8T9VUv/0B
            gps5b0kie29QXMzzdcIF3Rfy9bIKdSpzrKvAHFPhgqmHZ11gzt3yJ+OcLWzC
            JRbD3i1QaOe0VFhrgL7xgzoVI38Jvmj2F+NgEpvAErFsYLGngUmeLG8e0LIJ
            sePl8WxQxgXH35qaOFCJKVKu2MWFEKWHwCkgf+YNoZzUxR1kRtmoAtFxqv0N
            ZgMsLZJYlmmGJFam1R/XpyawW/tquqTVj5Lh4s16poV+byg17PUgzxOviYJJ
            lSnEJJZr90fai7+JoXv/pM3GFTt/8opfORKWeX9IvuXmqHLpK9kX77pAPGeW
            nbu4qNvxIp0gqjfkk2ZQpRUh225fqJGe+zW7plekn4qoMjfxfW4c9lzKzA0G
            TgWUcd/XY87cEI8oKwknXiSBqDblqgrYKOLp0x6Qwkm9GplJHXd5nLGPG4qX
            gTW6C8/iEWAC5MKLGfBulDMBn7hWX3o9tQdqGqlUrTKTG0B8jKE0xn3ZYqzf
            sJ2nYm4DRs2kncgiUOaYFxrDU/VLnTBFTBzEGwoQicL+2XYWM3DOfhYrBIfu
            19VMGudORl+yXxs8Zp0HiN0kfbcgpPvgOyR6+rjQ7ioSYqI2Fo6eFbY6k0Pg
            lG+bK3nYPVNmiIUVfRL+STFELHLyZg/niZkzHL5rKxq2PRkzWV+eDYLOWptW
            R4SMjR1uIACIodECeOGZsc8gXLjFIpVVaBdzYBfPchGqnDAi6oF2WCnza8xx
            qw3PzboMbjyTTIoMM4Md4W6mGqpwnf2dx0mqUCBlFy21pWHRdoQeeKkKVlpM
            Y42c4e/e7ITHnCwPzsxHXghRGT0H+H2/PU3YCOM0GYL3MH6WMamnS39Q5TOe
            8WXIQn9MeBT7COSTdWcwQpPn44jAZ7XfhPFVrdlXjPyHE4DpWDl0w+ABnxKi
            pSUS4vCqB+yqpXd7/mJXjdeuSh+7SjA0VPL6Ryvciy7YAvCaeH+0BlX6WGN0
            YiJ4KzJz5wjp8TRwoCu5Th+pQgp3nD21wV74O5uK6QaaFl5ojNAg9sTJoLvN
            sUsEzOo2DkPIp6vR9PWRirk72cWYx6ph1m4kSuzPK6opH60tT+mVu2kpEsYM
            iORdkZWjtpvzTeOpNs6otmbMXQtq9RYF1xbm1spA4DfeCxtpyhDuykyEyurN
            BKnZnW5wR3tfEsokP/V3P71xwtur+2ny9Bf6FDs2/X18efofhqzdQMLS3+rw
            YD1mVKunboWOlkSM2KcOWsvgDCOrMXxbtMILa3KYGqVuPdYQnRPAroXfkxjZ
            VTkJjo+q6jEp2TGZ9wbOx2SQwu+Iu0brnih2sxyOJJAYpOUw8w6GP5GgBMYr
            Q0uEBCOYnXGEWJ1NAWBqC1GwJXTOlbequFXa+hjFHqca7fS3w7QolfybaPWM
            bVsm/mGNay41y3kKJu70iZtlsZRxEqQXPByfhyZx0NF6E5P8x/mZ+sW2uunm
            WPiOcyudstTIlyXMTdY9YcvjU9mJnQWhnSGXwFwl6vXLrWsd3+0yIFU1wS+P
            51Ym5NPUbhI74TM68Xo+E3swZe/3JHFf71ZZTCIMwcp/qLGQTbO7hHR5Okif
            fFsRXIUWi/HcbG7K+v8qyc5cJn0ylwrjNUdL7dwxlM28Tve67Tzc0z7nI8x+
            3vu23fWOc1dqfIxVB0rjosKCKaoI3P1ENurRaNYtkDXT7e03VYnq9/YX7XJa
            Pt/VfVtbUMOUL/36ppbA7lHnFy6EmOz2MZzW3pAF11+FwfSP3LuTMRnrxUwZ
            8hkqoIwlcPos4hjpGKMPohV1Yz6h4S7xB7ZpPLqk4SnsYNPidoLQHUq/CwH3
            MblD+BdD50YCxn5J92VF1C8kpJU3EDmP2//1xzAjwHmbHI/Loon9R1tpWQuV
            6RyKnNmnT0ZZlxKNKQTURYx1q+6AOZM13E0GyNH1KcUkx3yz9TRx2TLzqlgp
            chiMUbyExPbYPZSwEwxLmop49W5iEozRzWMGfIZllUXFNFibVpMQ6fB98qom
            VBlT3KEKMZpKc1bZcJnZ5NAuGaBbYsYXtvxiVFOYtruDmcdp+Ky0lPVFoqdH
            P22tgCzToInY/VWVeHpOcEFDSEVW0qmbKzUQHmPz1GZQT8m2kEEyECGGnzd7
            lbth0XdZ5k9Tn5SM3Xx9d7cBL0repGyaOf2zj9UHbcgaNF6L3d4ni5Com1jb
            AnafdAeTlQ1M+1yHJeDc3f4O8UoU7mP4zZLnbN7NWtnSO8MEQdXhlmeSIo+h
            9r5Wub2r0C+obUHSm5gKy93fS+qhcKDY0EX+9sXjIprrA3pOIaF+TgQpZUzf
            pPSSKevZ8tQmQrAEBaqtnRnsjuYyusC6FIDj3x6vfF/bqLjNmFjdfkc3V9uV
            v2xzopTfHzANPFxSNN/ygDElU11sqXc2mhq9za3fbs9gfZ7u/fCus3s/vKEc
            le5+5/Vep0rmyKLFa293LPIq5VaXlzcH8/DIosHsxdlb36VpG+TrzRW4lLmh
            msbdEzC7iofdxC4oSgQ+iqG9ZrqlwRbT2fL2qKX2SAcPEBa3oiDWX/H1hRzu
            Cyl2Xy5aoiD0lD/ey0xLZjS6H6YGLTZdwPtdR4a9Vd/y+7A1EeYEBEJ/WPDG
            Yg5nsxpSEQSIlD44drf69DbvT7CMW3bbo4BudOB7AGxabuYboGN1F/NLLmhR
            j3xW/W1Tkw8zLOImCPD7NRcmaJFnW/ItK8Ud6exUO/BgCGe3NeUWS+qHkmux
            MIkoEKvvxtSdWASmJ+/+UG8p+8eZdFiT1kYGd22Qr133uH0K1b1tW1vYLuQN
            +uUVCdAb85f5rBKzwRnHsrG8RBAxfA1miDCXqcVxFVL6CcuqeoMI4edgB9wJ
            WpZgwgxM4vx/rV1bkuMwDruSZUm29Cnb8v2PtARAOk5vz9RWzXbNVDqd+C1R
            fIDAR31y0ZPsiT17iQ0nacG6UBUV7psqMChIkCImf7JKmfS6oz9Zpqn3GPGH
            lMUxytbnb5llyisixBMPF5Gfh78RGS3uLYTGO5IkQHI1z4bBpVTHz9bZjYxm
            kalO7ogWy/apaaOxhSPfuZ/YFgZPBiktSuvYBLXggipyttICeFHQQXvYXT6+
            W9YxGrMDPJZDWcAmtTcwtF/gj4ZJG+UeQOTYd8DQQbQ4FOrAPIvfi37fyPV4
            grHYth/pTragaQjYCsmk/VjO4jtiqaIRFrP+7EvMb+EIYjA5YDa2mzdyBAgK
            czLNCNpWrgEoo8J336LyZI7BDEj5Lol5pGoJ2c7OjwTzBoFwDBqkRQ+RL6JM
            h4cdAAOyciE2uF+1bh3/JpPYinzhJ4sXGT1vMZfXt0hom8wn+dPtE+rlm8+0
            aKWLbF5ryt5tZ/+kdC+XASLcxP6B9iYmg51XETKlj6wHUryLmIOqXOCsO8v2
            EbhCj0RU6CxKPPKqVkJEugt6hqb0E807OyvVTunw2rO39yh+gZ6X9PhbKWi5
            RGZ0yxaYawgc5vagJ9D74YDmhncymV4nWXQHcRQgbSvArmNDZgoO/ESKaYPN
            PfziwDY6bYU/OmCMaN+sduFYrC8OrC7mo215t01jGzPo0Lkv9w/+n4cjuOph
            23o1K9TdfZZCTmd6pQvh+8P+7UydSLlsMaMbWdoGqzyXD7KsbbBGjvUe6Zqf
            /Y3LfKiNncs4drPV7tnXiRjFtnMAcOS4joOQ+FlY2rbQ6SS7C8MvqqZPWyqO
            qkrbqo5prqs3WdGA6GbJOAZnPPi9qNwa2LgE2rv123P802Btzi0Zy4BNgoMZ
            19yRDSrQXquSfo8PPs2nh/ezVU8kzeb9bb6zN76VjRt+M80szzJYCFkAOUfP
            ra2RF7GDkx7jYQNn2lIiUB4Sc/Ayqxo6CmWmbdEeJVTMuUAmLMgWZq0SONi5
            s5tdCzZl4cKVs6FH75MzuBFJudGES2YhpC06kxVkzPyemGYb60ZJz0iY4Ht9
            fdKgTHofaT9W+ZYHIQu7pzMLI8nTV+vC+26OGLE1AWoNNgbJSbQrRd4V08dO
            tFTA0nqFJUf5g4yNS4dn3Ng4eC8UR0YVdamA7IOhvC9nxMpEo+lkzvrUrzY0
            fhznTOLdUWLhuCbA+w+eAuAwSjW5XwSwbrgdw757JPt/YvWzFZaqxXv3MUqK
            ZzwFiNcfDTwfJGHrwEOGQYYSwgOXsND4sGHmqb0eyn3CbVA1cRk3JKcsdl8U
            3Q0Q1gB+gBK+ggQuBOjZQOLE/enO5nTJc/WAT8T5VeSVQV3ZV+qwsQhqv0AJ
            sL3sH/RaCB3osn+4jychvUQWjzKYESPpNZPyZ2El+YQ7RywB0XP9wfzUtVez
            Cj0a4I8peog2KTDHB8SGfLbb2sA7oLkAYjAHr7thGWiqMsv9ryfMEwTEvLue
            /SHHmwOkunDLb8c5fhwHzD8rj4OwGJ3yjWxWbBfpKNA0kNPYgcy/yAPHw7F2
            c7r/H/uGoTcHv+1IUVqgSxgmggQ2YpFR9OY1FQ3uoJ1GELEDR7sA1bTbjN/h
            wjClcfrCwYbvroIyTQz1zDraV8hQxMgzRPxskly7xWzHFIlt/t62rGbrJmm0
            n+/vagZDf5GFoOAKBXRyV8BBF+q4ljgg/b6OSW3++OLVlIWKbzNoIewIBNna
            6oFpzLzKITV488Ulz+Q8HwktuS5rCUVxbFNJiNrRI1I3+bRMEGH7MVzJDy02
            MWDQ4Yd9AlEOkG0DMzBiiPLvMwoDFJOBA3T9TIA50e75cfOSrUX/eKyOjqj3
            IOLDJseXWAPwQLesCYGyGniI4jNYZZbxEldmFlr/90FNgbkrd/Ed/D57GNLv
            K/jF/3kmYhauH6vCWX9ZOP/LTATZO/YNl+W31Gq9PCHlfi8Bm2yBmXmhdEwk
            rAa3O+P1H2c26/hh1p1cdpXobSNk4+eydBG5NrHUcYkrmrkdONZJ8bmbhYns
            +/UUcwY1x/bu+td1Cr9yQD7mtXYXTw1kCBVzXQaLzUqSEwRJDTyXZk6Rr0hR
            Lgr1OtI0jGq/D6jqEvQqlFNN5M0aCRnb1f2BhECYiEFbVZ5E1xG5oyjXLcxX
            KZ0uZ6TbbstNmgQz8WZdUpzP2i7o6W5qk7S4n4SHcP5F77yT6K2nA68VdBLm
            qsMTcyvUspwgJPbiRiLAw2wJFaRIUzNYw9ootn0pCp7qkU2eXb7UYvqo/Hjt
            91rmy6cZSI/oWhZJajL3BLObFy/V2XMYQpH174cpf7h6miSCucMTgQHJCP85
            Bj1c3bqdWrvNyJHgrXmPQgZcjmaBSBmz2XXjRc7LzDv5lweyHqhEoVh8AQU9
            GGEPpJQxCtFtZP/BhHem2BfATRZNQes7IsUAK0GhzsL//eG0hIx8+VAQsYe4
            srsfRvq0zwR3w5pcfd2/uSZh1berl3e8mdebN6Yp0CMC7oGcL/ZRACth9uKq
            +XyARxXSitiHKKJV+ksiuLW7i/zP1YnysCcGzCZklwHZm+eHJzQoK3BuhPMB
            5wIle3B42zlMOwemjm6ACjx1BLnKoKO2pSA+Bzwxro88HllqieJZ29KmvuAd
            nT4UqJlgcZcKAonlF1aN8U2R9/5AxW8w3H3rEJZD7goYR3mbTvP8PICd3eUa
            tdenZuKZ268KFnZ8gMGiC9QyVZd45JTfEP9UX8c4roe9jlB1u6kpVH024lJH
            ma/3RaKrkkDw/roQpPOOxruUzV+nyE0kmkpFJCYcHYYIh+Irl6a6RQjWdf88
            6hkTN26cPY/2YmonXbKHBjbL0YlOAi/QEfQqnGq/RsgNReKRcG03H71LDHV1
            /ildnNc57Diozkm/T2YCld4SEEB7GHiIvSmIjO+X6/X99b+/3059/wvGaEb2
            XNR7C2gHYNeLQ2cIUUShvivVnRG0Ioq9qR6U92gX2ErD/kHNRlKWZKYRY39b
            mfeZWQCp6Q8nEpoWhii8xxoF/ax2vphmfnQqwbZbcHsqrS0NanJdK9Nb0+SU
            JpsbZFmYXVTfH/JB7BSF+NZb75n5DVsQacelsJJBQ7RQ3/IjvWfbo3SqAj55
            FdQDwM4owsyYbNwGfRJQTeqckRrvSoJdXiNRfy9SBxc7riY6NR2EuuiGKuV9
            CboN2mV1vSM1m5wYM3nPXPAuRNVI3D/0vIAOGOaZTPaMuWIJuHG6WquAQEgP
            60h95e1jP7i5QVDhajCRY+lL8uyhoOLAlktMBHf08gp7rVgjZq4xCoEmPux9
            xSixG4NpXUcpsqNF7VW25h9Ph8ziHTLSTWDbVxCPdjHCLv/D66HfRaB5ATvH
            5tPGEEO/i3u5n77N+9VWMq47UBC0c+y2ZuC9zSa9H/6+KQ8UVqK3l8kTc51E
            RNuTY6q9qOl06+Y9dTSvKsHQWcbuYmPr23W7tqGw7tV7lYXktWDgNdWz7DRG
            HcijuUhvLHueHGnFZeYAbO1Ondcfal1yOYW6SD/UFtYG4xnehLpKm+BJVdFb
            xH8zc6dqDWBNA6ybohn5E/t1ATIbGiUgy0GGE5B027VhdicLNs/M1A4zo6jr
            JFLkqvuVNDhVyLgvxbOWgbUHsmxloarnVHbQ3KkfL2fVOmxKX9NbrnAtUFhE
            BfI9yPaQQM6gtN5RtkW1b3m3xFXwOpnt4UyOOI+yPvuom2tbl5W0P8vICX/j
            d9Ld4u/miyXExsy+qqqai0stw/GJgb4JFNGBPv6YjlOosycdLKYQ/v28PvJy
            z81E+xacP5FuJ3QCkbmtEgDQwxuBDhPu8rXypg521dpNXZxqh5CD5G1ix96z
            OlTMW9zJA0G9aKfAM4uy5ZeIJ4oM67ABsnOA3IXIZlvCEm8+Y7uEjI4NKzMg
            8xkgpxjPcG3Nri2uKSN1n+2BDnqthXxOsFJm76jeYnclB4taJd3N96A5OGjJ
            FWXmYI19sdTbUZGuhGUmfyjmFXZWNDP0vgT+BX4r2dJLr/i6EKuyjdheMXYb
            9Hfs3mfGgfeLoR2dP6gxHaLZsZHA/eB73Fe1L2xx76ZbgUYkCs0oNl6KMEW/
            NV0AUc2F1VkImns/0YxhIyApuGXxHsCJ3bWd5AV1vV7tFO/idfZ3pw+RPriU
            6q/l7G+v64q+AV/w51QnEOpQqmQli3CEv98GawO0NLfENfi3vN+38L1AdNwk
            IKmNfGQfrMPlmongWl7L3CMVhqwGiOlgfnu92O9IfAMZYKo91W4LM7JICYj8
            p7PHRdCQjKIVaLKQKEyRPxreeAK01qLjVs1SQ4BKvQMZha8dFV8SSO1BEpJV
            KDNH5yruaYPZIkkHU0Re1/2ZhAFZx+C7AYKmNSJ1RufHQEbv9j80l3hwxDWN
            KZ577VXScICql8L+PjBnUBnkgii3SsSX0O2VvgTKtsP2ATZ0IC+EB2P/YUUc
            aus2Vd9O9adliDJKh4EdQs2JG6CAuOzBqir+wpbsftmBfnYExWDp88DtQRns
            UL1Gg6XhomvpA6xOYGtYnI0TSI+UyndD/DuGqZ/FFipDCFYp7w40drisnXph
            G6Ta6eAkrUWSXgFGaqVCUShwQsyKHa7ZHaT1OxbaXT7mYhGodZsxzvcBXyzk
            yVCuR6EkEfT1eFOzKZjZUAyygQmQoSpIHOneGLwEyb39rX2uJE2H967ClHC+
            pNeVJrlVX1fvnezxvVjZEiQdq2d0VU+k8uJTF4B6CTqPI5vp/b9NhEQn/dvD
            k1w41yZqLrWBZixWeWWXyYptSMUVeJ2WCcji+d1SQmbQQLC0bf+Qo3SPAJsw
            KtWVGo6Kxo3SuZgusOJeF/zTq9Rw5Lcyz6xXJVJOKUklX36R/Vs+Qh8+1pzA
            tJ8kROsYH5T8Q0//6lkeBHyryuFjJZt9p+7CQvPP10KaxCKG5c0ZW8nYsUfp
            f8XdahQQWx85wGMRSVo+FDbuQQBhdt0ix8q+qtu8jpMq1H/8/GTy4c+fT2he
            /+XzHRmSv3y+IfeY/rL9aRFp+fPnffn75xmx/F+vT+e/SikZ/TLsZ12L3puH
            o/fVP6/+XoTtElI3n5VI+LUXfTgXb+wprC5n33j3nbENiabB3196P/3gXaK6
            y2q2lu/X5fcfnfRa0bG0LkoUinOYP9u17R9NSOB6zFzaezg93G/eNjYiIf/e
            f9m/BZisju+1LK9zWG8L3n/5fj309+6vA1g6UCrfeo2fcWyF171TmtweSK+s
            4FzkQgF4OH+uws63tv61/d639+efE9D2Z9b2P/fb01jf283axtf9qU33Pw9u
            39QlhfItX2O/8MJ4uAkDDZDd2mcaftP9EPElVBv0d3INg6Xp178Tcc4XwHAp
            tTmoq9I2Doc1OSKW9dilLT5I8vmIfrbv95/ris/eP8kHKY2XNEN9f3ZB8R1g
            6/4DQveTUQ== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
