<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.2012</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2012</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2012</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>04ca_2012_v4435</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8210</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2012_v4435</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvonP4FX3x+couxxxwXZgi
            n2dJOZWI+wv/rf4I0Z/o+JFSwk+0VtVOwCzw6opnH46Av3JUPmlBa7HbbXrf
            8X5WznaO9VJpz/8Nf7S7h/XR23yp/z4EjDrNy5727mK56uQvle/tbgY1P0eb
            Z6rxzDP3wN45dHrPx9gl+r7GXUPyn724u5X387Kvc9ez9nu/n4e73OToMTdj
            r0bCzTy6bbYZ2UCpr/JBddp/1VyrVw3uvcbXVTT6Nj+fHzUMG8fX87zHFz+f
            p+m8doDDomJVVearrWPPYf9qK+Sw5+6r/J6k8dXWlYI+GF/1zzSjjfSrnv1v
            ftWDTaYWzq/++GrPQ73aR/l7Lebnc1+5CgQRn89d2c/j53N0UPXH7/qPXX7+
            Ul7bJn3Xnw/BovRV3iWrP3+VRy32PP7Sz267+vN5m9af8lXPuXQ2sbmu+Xye
            k3aAL9i8gCpx9+2jzH1wy9e3WHz1rcXP5zdEnd/lvZ2kWT+fx1rV5/nVbigx
            2bn6fO6XrfWavzxXA+dX+ZDjhv/X+hj7uvHE53ObQa3d+mlPXl/lb/hw1c/n
            6H+3I36dz+c9OH3ij8/ntTqdXx8/n7u2y9fP5+Mu/1U/AJLNw1c93rqDk46+
            vZ9H7YBACIQyLqd9Xq6vsQsY1fr53NemPVO/yifUsPtwfc55Fpi8js/ne0o4
            hx/PY7TNlL/2WOgGmOrXXjKsb9CMYO977Txw4vN52muNrfnx/Lqfz8/nLhw3
            kP54/oL5X/X3+3n9ud0wf243Hj+3G+PP7cb6c7vzq57rBVffz7NhgViC3b9g
            71edNz6dX32+y6/vPm84sOJvytffPP+qP20EfX7Vf+Oa86v+ej+vvyn/Vf9q
            LzzvP+Z2H+xaP5/f8BBUx8fzG/+3+FV+z1v7qmfe5b/qcf1Fj/z8PP7mef3N
            89/UP1/l86EdkPJ5l3qV+c236zd9W7/p2/pN30b8eW5H/Xlu5/Hz3M7489ye
            3/2Pr/MbP+rZNFyJn8/H3huAjvGnvUra7uN5ee2l+NP5rV/13/OQImb/+Xy8
            4E/+qV3Amc/n/QVn8k/9ITh8Pi/1BTf0fGbtgAwO45e1AHdSPs7jvOmBz+f3
            HJ72za/P49fz43VOf34+v57v/lzHz88T4UD8dc6v73N94+uvvXH3c3zDt/3c
            zc/67z3m5m9wzfHz87LHe9d7PPiyn567PQ/3Xr+v+XsPz9eZKj+dEXKPmKWA
            UVQhGG8HaohP7EU7oFgPXPcaqbZy3TU4zhjInQA2M+JVwgplrF750/tVSYeT
            mr15ruM6Ppmm8cVk3Rx7Oo43V/S4+l/nbgO7SGrcvVb53/nnj8+v4vHBQmLG
            88d9eXXzPvX14769WdkN0fvH/XgN+4Zu8/PezY/xTT8/OjjDDB/3cX50GNxV
            et6fcX4M4BzrcR+HdkBNl52+87PsOj8Ge+Lfx/11Xv/q/ujaWfN7jr9X4GOL
            v+a7HD/z4v1r+8zjkye/5+uep3t+7nk54z0Tb5hjo71HeY/m81qMRGu2/2oO
            m/J0p+Np8kcklAzLmQwG1Uo28/j1ek9RShWQ8Uc/ncNP9zrtcz4243MnZkpC
            QD5qQgSjBkucrGVooi47Dt7xzIx1Vh6/r+3KMm5NH+1cNaMEW8K0jsv+PrYr
            R9hRdtx3nf1631G28W7dX7Fp/C2j7TjO1yK/ywRsWS1yR2NrjrV79iwTzxrX
            XSa1oTlpJzbHu0xqMZv0o6HMaW0lylZevQPube+7MfedfQ+2BHsCu6UGIhT7
            Huvg319gLOvxRZnxstE53lrPsR7no0wdE5gaey0tjM7ZfGbv4qNMA/stnjNh
            cyU/NIpU3XN0IOfB5ex6yhx144XnLA1XQ96yGsyxjcB/zvZcM897lvocfdMM
            rzJ1aQf0zZ8sNHqKeEDX4xx7T6Hld504OkmHGjwg/vY8TPecK/C2caoMqsAE
            dZOZPPvmjlyTOPLaMcZoZVL8KOPATwrbZEzZVWyuVnbXo4wflItyXTifh1Fw
            6bOt0OK7TM5jy1g+ysTyKFP6LvNZD7tXeHYK0Wy1sa/o3aNMdhv4dB7T3Vac
            /lkPMCTwJOvB7nO7HgCv8ChTAzmOvXar2yk4q3+cOMCjWLXuvVxHyDaH5XNc
            3VVAjyjZ0TH3HPbubb1GDtoBI91kI3fV6wyg1vKoa7gDiNZJBkQQNIw2DfVR
            BiAYXO0u4/vuUw2P0+dWi4ZdOpDPmDZHAFzjUeYERrIyWBYc9rXp7+fYrjX3
            HsKarX2WaoyPOfLgt5LgduM+8zaP9WOOvEuE9Bw92mq7P/WjLe9THTaPWI+4
            rD8XxSfvMqHVWu/1uOaGXJ9txVZ7Uj2J4j47t+2zrZSjcS4d3fIbjgDaPstg
            UU2GOyggz1bGkd57lymJMiPus5NHxuZnfLZV/dQOmHEIAopq5NrVbmP0Mz3g
            l295epWpSzBl3rylygTTCVRfHJaHsugOxDVTzyc2PUbA1oFlKcgIgCMBcwqM
            CNo0ACtF8jnYBRU4osfx75bfrRsVkTin10WuGv+N+m/Vf/X8XW7q6dTTpdJL
            pVf9LFdE5bLFw/QuE9szXRd2f7FyQXoRylxNYn8tXkEBnFfZRMs/+NPu69rr
            uhcWv/7Z3+vbat82R6j1p795/fV3JyDTQPnso5616+n/7O/Hb69/9vfx7WXf
            Yrf9o7/vb7u7Zdwm+TX+8D/35DJ65/zr77c+Escbc0usfJo4D4AH/Qu+khjE
            fcOGAhvBiY8FqK4Yhj6lbAL+G9zRAZuZq+mBrfX7oXVay+C13xTvmYxq8fFF
            OotC8ZsCrsnuw77v+759kem1ESqkFv4JIzVAP4T/Av9FrQahjvvX39+ahZdE
            /sFdPzn7b0561hdT6Ywb+WIbjk8JwE8c+i7vnszRZ+uS2rxUoD++f0mnf35/
            DicsC0yoP4C1i38PiYnGF7+Y6bcUweZnbCn59/zkPX9bWfTL+/Fj+038Yeqe
            muKHJMq0DPVw9ee2bK5uiff3WG+N1NnslHx/v27thrSUv74vl1HKv5ure6/c
            2u/v7//070977dZA/O793PPzi/jmtZam8fhdgT+Nj7OeH5KU79G5vdeO3+y1
            W/r8u718S6HVV8mI0rgf/FI2/qGu+of3f+hL/cO5uNfKtf/4Wtf/r2t9/dfW
            +r8/f0HcQZrftiS//gvJ2nrBlBA8wc19fY05WLnv8meI59f0fZRvFzBWIr6y
            69rXWYy7Pp0LRj2B08DzuG5O3K55X0uxa3X7/rLvHZCQvr/s+6vYFYRs+qm/
            Mx3iQtG+fz6/+8vqJT8ZdvX7Pi67luLENa0VnWQp+/1qdg3O3sdk72uy+3se
            fAHeTz/s6WuPY8+D5Hvj13I5fklc36fStNjRvptGByz3xJnuD9e7pj0GsCjN
            5sT1n/qymhPndxa7XsOu4DcleYjOrnOcC7T0ZStNWOYiAciIdl37/qp2ddEl
            XsEW6BqjGfPUGZbfMsozD29nvdXoUw9gZ3meQNVT6uioyZU40plUkSYg34Ld
            jyl0mxCgMJjl3J/h0H3uznWQuyEfQakb2xNdNILdaxYfdFLc95it06R+xq0H
            6oGCqOKP8nlE7dUrnOJAS1rzeeauEN1zffqIiwcC3EFLpzNunHJh7s9kXPZw
            p5d8rey60hRlHMaUpVppKz3b8OSdHm24FrTP+trXZOWvtsRtuzXLT/WeYeZn
            vWvX82gn/rTXJjm9R71gS92zntbm9dnfJbWAI28YZQ4SPuHWkrUb6PloXL2V
            W/GfUcTV6Xyd8/i/f/87/20q6xrj/+bif+kOAKflO0jB/J+pfx5//Q2uLEhV
            H+rYd8I51ADobsos6tx3SyUn7qKZft7WMcXtZ/XNh3Y+o3VzJM99HpR56D4L
            QLaIWqVHkiZtJEqa3KRxMe0ylwNtlH2j9ElKqJqBFYo0LJ7l12SPgeEoXeo0
            WhsiUBrlJkVyEzPidehvMukKaICRnAdNuSQbzO5Cpx2uNebkrhLbtU58lc+r
            JGqx2TYhv/M+oy9hlwsUCna1VTULc7m2zAiws1m3DtkOZeARqtjRp95BU8RI
            M+ic61XGvNq1pfwzmgFDiFumE7wU85TCnllkh+YonrHFabIh/V5bTuQuSo4n
            O3s2qhgoJrtQ7RWnyMuLAsNoEiL0w+Z42XMXa3MnrWwlYXbnYb9pJ/csJ8Mz
            K0drgLtcpcyVxrcZk5qv0+VrzxsVaZQzBBJbeF5YD+gyMScy5DblCrsQ5n4H
            ErrgD3OHud6/g6dtm081Fc/54/O4ZGWAprEWrCddp+ecULUKMmS6q15EuTQg
            RO9pXdwqyQgaLGbP9yDuUIl3EW2D5KZEp6JPsVzZUfHj1bd8eKxbl3i7kGZX
            G5PzTrMw3Hu/1wHruApWns8wrWyDddz3tjfHGvWvv0PnRuAG9c3VBaoY+4nz
            3akQvvyFHcDvQUGd6J8X7Yd7sARnrJdtEJwr/v4umx9lXbB3k4ph53U2qteZ
            kC0oz44P3KZ2dngfqavB3uKc5QkuCFRldXauwEmY5m/a+SrLZItndN3Om3N+
            S6Qk08E+8tu6ScYm1M4M6pQO0dsjRNV31ShFfa2VwiUPOt7o8Wlyz3EZ/e/B
            e/Ak8bSBME20PpewFQOYAXuNMqSANZwx4It+TFTXcA6Dx4yDmF6+h0X6DgTx
            wN6hiJb7x+P8TNoN+xFA/4Xou5sUVYuD6C4sOiZ0hzr86bufrPOiFoXrxr5g
            XdFGxvCatXWhTe8XJVfHqte84lnquIpfOPsONDPaDZjw87TfOLPXOcDxBM59
            oeIfnOTS2sxawDVexnPUEvA3K5czL8yrlFp8Lh+L1K9ydVr0njpldCvgs9AI
            I6yvWL1xDew7zMfhbT5S4mToG7rGZJZLGXAaXGXfcHYEAaoXnNWsSHsWpsGw
            Q0I6nwCf69tea2GecrtKGaNRiohNbkZklHVzNxDEuZUqYG/No73k3ofVNyPw
            Ib4hq3yUiJOXa6wDG7cIzrG32IFYi+XGSdnEib3pnc59NCeYu84YvUTbwnrU
            fEkrAfAVDd9gTXqKV3HnwHqir/NI937bbS7qYnzByXcnDSACz+wENlkoURfW
            OF3XPddtqY5M2cx3HcH/Wsc8rQ5X3nXUbnWE44c61g91FKuDe+quo1Srg0jh
            u45Yf6jjsDqucZ13HblYHfmH+Ujh1zpGszrIpd91pCTcjwXcVERbx6uO64c6
            vNWxrnEKt6MP6zxyOw0vjoPnxXBxxPr3i7YiODRYNVnlEK5ij1fenzS/PMnH
            1tyy7T3ngfrY0xFAdJfU6NUxwl1e14uI+DQb/IozjnJRPDru4wLmAO5AfRVj
            qL3MhgPm0mrtit35UnmPPrzqJKxR/87dP+p+gJ7rfub8SSsAd+uFABeBg0a7
            +/LxLemlyrZrS3WXQRuil7zRIfd71NkID+52WOY5TxfwDw6M5mUSd3uXNTYa
            lwBikl7i2SD0wFq6PLPv+GM9WW3EXl3BkgXh6rzoMnZ1vOsiCgJrtvILeAiz
            UqjV9OukDt3tM0gpEdA86EG0yTpCvkgNoh9aZ1d97oRRjWc6Gh3HMbIsz/yg
            tuAgLULbbokj+JbDqR3UNbWIoOcin92WUQ0wpgGsUf+u/syI8WFvibZbh67c
            WvzqxNgS0RDaTbm6fmLHOWzyMjiPwBMgWIHVCMCwjj/1G2vlGvrqJd5jGcxt
            wNwCKaEuAH761ZHkO9tt6+lBI3vMdIwxndjTaa9VaRRa2fySsAEcpCNCl5YR
            vZuaj0QSpkriP62/i3UTw1fT0oAyz+wHDYRB017qE9Z7AgqobYx1AICeF+As
            521WN49tNRhf81YAo+nymHAitQdKujrd/EwX62vBGUL1/J40HIFJk4QG+JPe
            blFuVUO0kMSphEIUr9J7DPQcSNVw02HD6R3pc1APhOO2HqcrmGsh94azSAsE
            0AIX5uQifROsHQckSxiGvdu5Rz1NaEp8rQ2OIN5XWswCIaB2/qYgfmLPYYox
            2Wgv7fW4+04pWCggPRPOyOYddBYu0QsR9DvJ5U6867leoC/ynnuWAz3SM2nS
            5EE3rMD1SIteI7iOq4Ge4MRj63OeiZVBXvOEEF447lHsQZzl2YZDN5/nWWtC
            +NWxiNibjfeNfTuAo3FP0Jq7nT3yYOxPIp2Dlck3T2bWgoetL70HQpKJCGjz
            E2eVe4Z6O/JJUtvd5wxEyi07xewKt9/4GHSnaESA+0zaETslbZpQtOSMRnMC
            rjjRlgGtAnvUTRMAs5FOBeAjLZ35THTrvnf73u17L/olmb1ij1H05tXsHnSu
            9DDB2ZWko+jWtu+b6BtZImK3NO3tTRNdoBkyjYwo65zAkegXCOAMmNSkg2+l
            6ozGBSo1tuY4t+4+t6BZOcfnYbCQnC0IT7x0tGdwBru9afyzNM1+rbkEIzB2
            rJ6M/uO2kfW08io56CxHCoxtDfEc69oH1xxnHPvBDRm76HnFGp5nBR0NuhZ8
            6OxHV2sGpwvP7qAyHX3Unj8Mf8S1uA1ICfO+EK7pvtGicf8egneNe71in9R5
            rbuMO95lFuEm6UNgPxrFYjddjs5j5AXpNGzOzn207YAHqheUGoUOnjQFRtL1
            m/ivkW/EH2jQ3q+13wETZp+pyagY2VyB5+rFx4Nv6EedhEOd9N7EmSKu3fAR
            tPxl7rx08yOLhbMH3uI1fqNtyHW98DBhHDeTl/0a8Q7wAGB+WOPceKiASJAc
            ADtAe3JtXgmYbD3PC1Zb92UYrW32YRfXe944rZhvX5cx7saxgrugZUAjoJiN
            N3EXmMph7r1JO9hKRk9XgqIq/ND0TaQ5bAYsjtyvWCbs44QTi2fYzxX8G7ba
            ok7gxN8VQEWAbiFdEgK/PUhnGIyl5CDQsB68DNginCMgLRC1JYObBMVHvEOj
            OD+HS7NQTgESefg0JeWZKBt+6SvY3IKKHdpI+AqMm9cMTuLeq0oJg2470H3N
            lab3jjwdtixwBxgA3YN/lgGs+yhj/AX2IWlfcL4436QlGyHbAo9C7HbhjJNz
            xhjA8oqOwTn0gfpfkb7g+q0Mn48u+pi03ND7S/6R4t1lP0gvyNPwJ5C/19bA
            2cOiU6hWU0bd5PnGLpPtDI1FaEStD+3b3xbgKLD3kO017DHB1lHNYB7M5thX
            4+s2H9a73fe1DeubWQq6+AkbAmf8ov4W55R0PLFhA43NMbD/NNIMhJrek+Yg
            rSiexwFDYK1Zh8fk2LVRQNGAAB2lXpmmJOS0gKkIe3muQV+U0gFfB0gA8aQL
            bPYpGZGz/137v9fr933//N/x9YZWyeWzj5jF4bkq1c50wCjyBN8SsL8f5XBO
            rFw0uAAKQzxHSSh7gMcBDeOxXvyGAjV940RnVcIp167TUWyz+QNPWg/gI5On
            63TU28+Je4B6RyQ9wcATmBPJnhznmLim3HNEL3LuswF61mOBiDQ9T8KJfbth
            H/Z0q804XskPHLrSMe52jVRQRwbxB/gNQId9nMFVZkqBLtqUElbyOWV0F+BE
            Ii8cr8lz5KhpRT+jv4wuRV9ZbjXSWYTlAAw6BtivmK+T266t1G74vnmddz/f
            fRvsG+Zs5mu8YSsFJd6CNBjjTDoygFq8RjW5VJ62/8OWFwumktQ+uvTCYZ8L
            4nsQ0Kts3llnD/u5kzAPoCK8QlIAv0tu+JKfqOnzr7/TVuNjlZKjnJqlyBty
            Eogne8bjk8poWzsa70WJcqPwWrwS9kqI97t8kvQAgQ1YMYDRvWhooKgrhc7g
            JZTZku9xE7ChUhDfvJ9nllJ1TQI12g4AnpqQxuahX5KzrHPLKgjHTp1tfEz6
            kSPbe1fnOoBC2vw5mILxki895nxhh2DeTkW54PhHJIDGUEGsnNz7Vp/rPBeo
            k2B5yy/cvEZII6gsaFsfBH9PTz4fz+Jhqln8ziCrtR8Fa+kAR5YbV/KF3Lc4
            H4uwFvvtAjFVKYIQbVSp0BWf4VBDiOHy9FgGvTYuJ0NvnrNmPCZoCPIzi3Jn
            00XcOgkz5tl2BHvs974ir+sJgPe8CgctkWiR8o7F4B8R40fXCvb08ZJ5yFzZ
            5nTXGbPW6Oy7LtK9DvBHePcgb/SQnySsT7C65qOuBX7l2c9UREufc6+R0Z6S
            jaRo1HqqNBCtUbuY4nE5xPhTdWZGqAGPR7DJNXHsXDc4T31Kxx4mzPDJZJSa
            rz1/zYG+jKY6Eg4hBwXcDVahUi636ZI2JWvCCpyAedHo2nPRbx3rEr0bQbBm
            iI8Cz0NZIhDJsoAbrWUnIqlRAXI0ypfd4je1Xv0ETe5doeTT+3Ied/0rXYM4
            SGzzpnW3A5M7FOamKKoKDStcfX9HftmR7i9i2ulXyAVSe3jfb56QfWznNXcf
            QWHVQ7wi28b+w/O66X5QwRsmo49nLRL/Bodr0Bzli4bo9aIQbYmPJF1BUJeF
            Q43/qjU4T3VCOTBqHBKTr8/zFLyjMgcsUVvYD5VGotH2A+HAAk2nK0uduTWM
            Za5rit695WxVsmTnFeOGviKMiEHf6ZPqHfCjQD2Uo7GMIrCI68K6f5arDcdT
            ew3gnHBe8RmW9hpB5uB+lBB/ASpi7BcNh2sKvpBuAMUgd6/Ast/PgQ8BSehs
            AxJ+xq42D2vTe+nENK/4DlQOJbSXvFbLlsMWiqn6Y17IzSSgUvL0rDMRvgs+
            BwD/oTVzagOjwVkF7BOdrHkDPycnUbxPmsN+YH+LlowrSQfqbI4ADCb1boQd
            9G4Exmi1guzDdTaQkKLFT9oAvb/d84sz+Pp2FCKtlPhdbKBrGRYE2yLRQpc+
            RmDrt0xFY/ay+HPHSy6Gg64zUYdvnRwf50AuzVm6A8Db3iPdzLKnPAa0GulU
            8030Lmz+adCXwhm9xL000EeeL4pnSO+R1k7Nvmuk/JzJym65yBkX8U0WvVmB
            3Ug7EC/m7c+ZnVlaJ819sbrJMOGeln7cgZhryj9JzILfxNpobq80TPbDfnXw
            U6JRTrsf+QInWGTez2+HbDJHKzPqe8zvJRy+v2/393nXt7/vWLt7LAv7mPxO
            vkDfcmbJ2ABNF4U/8ZHht0IlX3B2wXjTDe15tTUGVze4l4FjQG6ZvGrKFxXP
            nGiFTnGG3tkznMfcKbegvCyBNg8hbxmd9q9jHTTOAnYQr2TIwvay9izrtzZ1
            L+9a7HkGs0oD7TnOB1a0W7u1la62pUJE2y6/1nO2NYxuAzEHvnXh6/MhG66k
            YlwG6sIfIGil9Blbh3jPX0D3gXKVgHkvNTkcAEcCCoQm+FD8PkMA25AL6CW3
            wAb2i4aUKDtD7p7+CuQn1ruc2ASAsO+yAWV5jio9IUiVgZdFoeEG6IxJoAx6
            0GX6+daJSabegDoA7P0eyMM46QTW2mjQ+v/a8xTRFO15ypqAWHxdnefF49Qw
            sBx4tQw6iIy0dCr2vTfYoTgZml+iBa2zlH5cIyIFjKUP4gz6iuGcDoO5ZJoW
            o8pRqXJ/Hx7fh0eZjqHiOzA+oi8xB3WtJSfQW+7gQC937zzP4htOJpNpJcDu
            XgQbSFOBChvd4Zy468yyQjB5pVAP9ri7cK62rcOSrp767WzyI/A2lHhhvkkj
            O4IhPnuUq3c5HJ7KyDBql/ix5cl2x7zOW6aTC4BJNJ5bdibT6GR3bpuMbZvR
            t3567YgBVMZ6OXfbde17l912y7mv9j14R4Pq0Z6DQ/LGf3vp0U96jw+5mfhb
            n6oZFwUACH/ZfIiXePymJF+//eM3n9dw3L/9/ft4PH/8Rn3ga0K9f9/Pb/1p
            2bzCsfsMVC8b3rX72o4kXf3aY8vH51jmfo6zYXNyX/fzvq++OgVvGwO0CNDG
            eXzqiUDtYPre+wCUV5A+gyIOsgfHSoAUANuktuy+kN3F4culUODE7/v9Pfav
            o/yRdODLW977JZLeUyGH3Y/vrky6KRO0TkKvvn/jGk+f59b1NZKZnLVTdBaI
            sEdf1c9CrQf6BRi7SPPj3FGNncEoszyjPb50XIfVtepZaBvmJpmRNy9q50U8
            tEqS9qMNAPVOftu1aIJdFv1PqVCsjofH6H0wiaB1aVFydC/9HkHAdOBMvJPO
            plFF21223zQDJt1LzRbtIw46nRkMbKT755LoowPms17q4GUur29MLtb3b9YJ
            wgzg3uxjLsAOQEhFqrjH973W5JSp68R4Ou2X/A9z9lwjhVY8SQtyvTMooQyM
            lC3kAq78NjtF1fz5e+MlTX9NfX52ycnEKQ9G4uQ+0rix7pPRPbd+AUgfk5id
            zg6+69XszjXnjoR5bssZbR0byKA+FIMHz6lHDAG8Mv5W475d2FMddGmg9y1w
            HSOAYm51Shq1JdKbBo2B/D91BVwv0CmEdqrjxF7+TR3+jEP1gKmPjzoIQzE+
            7zB/GK+zvuVRm50pUGaUfY06wIT11VAGc2HvEsnBLv0W/nIg3FZd2L7Epazr
            l7LUXWotKAHKjFbT+Q36BKYB4+BcfvHejF2TsSbzfOwZ1oF1pun/QTLV2Rmy
            YAW2lvkHGNKpZODePTIDlPFcJ8AQlhVPkhW/wTOqDTZvtOis1CkxDIRsAnUu
            BmHmT/vqPssmJ8nbdjxtOyrDN8eOaOYybSsPGrLoXIJ4wR4n/+9yeMpoJAUB
            ozmoqNp2icC4oB9B4+c6TK/MHlHuYWFIdf4Os1GhfQ06muobX6tO8iryfrd5
            5vfA8g07XrIWwhnS5RwpZSPEoWsxnhioWNqcAG8BqOUbzmRZn/i8bRNFgwcn
            njHhwMtWkdIWzDf12SIBohBcOQyGJdrmUeDp5rtsiHfZXeb5jrhZsnfS4YJF
            5EiA4xX/9VIolxRBUR5XcBf1vxyjTAMHSTAP1phQ9axAImeWZSBGLp3+bZNl
            K2r2Ftd8j4c++fm078BiO9b10xhfY7Oxpj3GbONI4cw5BO/fcD3tOcm/zoXm
            nX7Bp6Nn04N/Bxjs2A0B27BTXgM6qID4o3Es7hPggewJwS7SlV72bZeC/YIc
            QONd++ZeO1DUmZEYiqO8IZdA3g7jlZ0N9RrqB+18qytl4yqWrw7lWwSlE1vl
            QZPtAY36dr3VcFTL9G0WI04bzE47TPFsawET016UMkWS6ayHUYNrvdeTtqU6
            YrQtVVkn26HX+qCHc9fB52NZW4xN4cBHv+wxd1udtpVsK1hb+C/3yKEQYE7X
            V1t9frYVd1usQzaUF/AbUAIlZ5QB3+NWe6AEDB+QyCkKJLRtO6NgDXU7h+nK
            JFn0p8kn/cJmLvUuq/bjDVvMFtNtGON2FFGA7fSkUc+pftVwvPcMDrfRWmnj
            KTTdvHQAoHTNb106UeAN0Jw9yawPz0CAAcZX8LTrwU++5SHENeHBR7I/WzaB
            OqKXjjylsu3WjtNVhjSTzoxyKJkdUmO85DTO8aYmuqjeMlbJ69DXUmT3SLoO
            1Ht2BneN/v6m6wPgFRA2t9xLDio7EO2L0W49tXQ6WKve46K843jwGbyPj3vp
            7O18HkZZ6mzWuXUJHXubtNGrHdCgSXK/IjEQf4P4Qp1vfNswf7NJB1q3XrLd
            5VnWkcdzV1cktubGksYx0tjWu417Bums6dqxZVktmL6O+sT66D+egzwZnjKL
            m0+iYTXvH7p+s7G7yF8UHWvWw3UEPVRfuC9Z/ccD51ZiqEQPgyIT9edcXfSD
            qK4l+exxT9JLPACGYi4aOIjqKGlkuCrfksmsEumSxovdT/KzxmUlC0juGFZn
            5Uk7Ddc2bqLNcHehVAAp8rTkYAKuXjywl9Bz0H6mMJKR8ciHZIe0ITGZiF1x
            0CQXwoYF/l0pAPQzlBr2+6RJfEY9wWV9m+3+p3PQaY9N4wesP+3Uzv3bE9tS
            50fZL3BuoScveIxEKQ3Gcx6mZ6JcrEVKCj0W8KqhJ+vvltVQADOy2f5RjgTI
            JDwv2dzJKCb0P7kqVQixJveSuy3TIWWsDW3MeHCMhwCVmQEb/DVToz33p7yK
            vPxdPyUaz/fH/d7t98BCnMN9HmSjxLpjo+zM9HukDPjsLGMsRa1ynQBt84iB
            43ezMYzTaTpECUBm8hoHbbRtfaMPtRAyZPEIyTnZdlVAHq2Vp2y4cB7OnhR/
            Q+sMbjKRd8vpsG/bovaz8jtS4vwmkw/9LJtkig/Yy/7NWo+25fqdGQmAGtcY
            1H+BaBB+jmm4k7aEIu+Kowk5cAn6URgu8KSUcFKmmfHfjD2X8D3L3d9cf/hm
            96co8g+BLPej/FWJLq5mPP5+7o/XM4Zfc9TnV8njm4Lvf5XjM5UD7iJe1TOB
            i732ALs0xqG8WuM3e/fKPXAoomVsNj+elqXHvY61G285cT1Jf/cLkDtcjv6p
            EiigflD+1EuhrJsMrW08fQg3Hty+CMc0POn9xgHT/JyB+H/EEX5/f8uA3C3T
            2eXKlK7Ymz/ESNu+UXTCcGab4yQoxakD7qcGkzZAVxiN/lWMOUenH6ya6UeY
            5CHv7yRo9dKJ0OYDMyr7cjwYig1mPjAWyLKVNbHiL/qCEhr0gDQC2KwdW8bo
            ix4P3Qe2D7q3Txn1N9nVkR6LdDgWf+ksNg3oYQZwYvnuhmJWpa3XfsiKbnlW
            iOmOQWN2JDtCqWzwT+InzrfxUrg2ozVpfWt1NdqMRzcIRrmXtq+OvK2MU6It
            AM0o7MpvyBNyXqj1vOeA9EOvCqRULpABup/k5Pic/swXyV7OibFXwJlq34s/
            mk51nSjqba5JR4O/AqFAL6fRTRafohEhjpzG2/fA8A/16IA3epYv0SwWlJJy
            T/pWaD9Ttpo59/GeyzsKb9z7M732L+0LsJvna5x+yX8NqxeuXJriekttW+WT
            wX4oVFaYaK3R9NgxqG9yDEXYgvTeoYcrkffge9KvYYZI3Tg9jFJliDcifRJh
            pifvHPeRhV+dYmeDJgGU57cUPtk4/vq7Yff3+baxNpssYkL55LVFW8ZKeLRx
            rBPtmFKnucEC/Ufvd09ZEvG7U3QAOpTUMQYgLwPKeNqe4RZHqdPAD8fhAhZ0
            OsWkHbF7CGd6EV/cT9qzgF41mBUMdmWKsWhXyVQwuI/7uQL3mc0maXIcOPA3
            tMugzGHrs/AsAf4Kh1HMhHPUzEaJcp3bFtZd16kzSF0snipm7QnMYb5Pbvh9
            rG64QpOouHk62Z1RHCFdsPEiJtstNEurivCEc+Jo3wwCyuiqxJiFIK2zn4ky
            NLMxICwJ4QJCxDzIjqKc8hUgl1vEs1G3xP1VcuPvN51GX7EjFbuKTr323i+H
            7NHwLg/RjO3G29rrIL7qiRY9baV2pD5ve5shMLZ8fZhe2uxxjmz2FEBrmqN1
            GTyhnydtIOO04FMynAlUCFIgYu9SNBjcGE/oNHsNp0h3bs23nqnQtnRE42s5
            v/wdKDugaiBWs9EAuJQd3rkc3zMLD23G46CNvNmL0dOkgl/HdqS0JLchHUeV
            HnbIppq2WcY/AMRUWp2jru60R7JHfTWJ51uKZXaaHGbbHhI0efoZ6PujtLv9
            8NW+u9vvwBcYB01ppN5Zn+WOfA2WYUCEUm6/rFJph1uy9U37l7sMXSrh7hvu
            g84W+MpFuFZl1znNBpa+cuwXPSWf7Z396rScvu1gOSbg91J1cEnXXSPT5gN9
            TePz2wWozjkM6PP9PdeF6Il7FGRup4iE9cRlfT5kcOND/pgfeUVR0Uj4XGa9
            +qs/cfenjXHbk2X319+junNtOVnyFqNm74nENsgTBYuYWGkeVdrD3u+2D6Rt
            Bk69lZFtdLDvaL8zxiSTRtn7li/VXe7mJYM3araYzQug7WkCg7n9AePjm/j+
            RnIc0Stm859om9ckNCW7Zd/Wx7f18a0z/wS2CRiwaBAwqVBu9p3k4fs7nt7v
            foZT9uWSUTp7d2WKd9Kv83PDCc5TzqPLDsFLPiECEuf3xZuT9mD9hT5mtCuj
            VWnbfLsiIpfEuWU57pmSwEN0SsTf48G6n3cZICz5e3N+DtmUxjyXv8+9E/yk
            3DNcnXDEnZI909BoywxEh2XaeTBGiOpdsvcjTNaad1mpmg076wTPFBzjiDRU
            l8FqT9nTdfYz7Hm/54T9AqoDH7bLxd+XS83m7hWxyokmi+az2QU7wdyaX8W0
            1FlXHKfpJDfc3DIuwIXr1ovVau8sZpDB28bonpTbXfvdAxbTl4jvSO/RU5S5
            YbL8SAsJeflLRfwmR+sc/d2wL7rZZ9AODHtE8haUb+e2M4r0empmE4ryoJ1N
            BoHy7TLbWK1lIlwFjgGKkV+pV9Yzb55IZm8mexYcXkfY37v0yD3R0KCTjqJl
            zPalLLavGn1BqBfB7peNRDO+PVzRy2aZin/nTz9krzjl49jJjC3yCdPVRfvd
            iZYd5SXicaj8w1l83Q/zCUEvQiLedcwS9Xjf7D25Zd13uw99US4XaXfwKlvs
            ne+7bN3316qsm37IMwLI4gBE4mL2tVtfFQqdZplYo37X5+x7x5io8lY7KfG3
            d2n3q4KBKo/nfvu4jBWyPGZooIDzWGX302iLiH3y9oWhJBNUG/hJ45Hjfu4X
            90zceNDWKDpTse+1qHstKNcAQeELfY9Bs9HyDnQJvVgb5YGEhaBPsSXFU9EX
            mnSgbI6c4mKXSmbp4tY1+7lrKn4naBcxVYwuIPsp8SQrlCYdWifuMF0WAyRL
            PulLb051BcyZ+Qp1yre82/xW5aG862qhdNV1vuriupof/rsutaX6545ltXmt
            SzYD3q1tdyycQl1LlS2d7LRJizi1G8SfO7RL3oeMfLp/D6prObbXPZWYjdZX
            w3iFwjnE84QjWDe/O2OPoVFrEGTD1sUP0FaRZfiOMa2cZLg4u3Tao6ek/HVa
            m9LZeXlPml9Uy4wvxfkUVjT70WvDtlZtzKDTlIGrgOabtPR40HWyKQXHCbjb
            xINhPmahTMSZzUsxOz2iP9pgNuoqDsuuyDEFxovvC1QtSDlGLDixQ6b04v6m
            GTA/jhmdsKeLpyBGMB/8SzlkX09bahlmT/GFtK8CRgAcaW4OtA0aFdT4CqYX
            coBl/Mbd9gilGV0KBmi40M3/45aHsX3xIqCf2EfSXOondcvED9PmmrFPujed
            LGOuvJ7PXf50yurHYPiMjsF9xnNBfa/GhV1HXoc4VnOx2+Y7xrsfM9Rtz6GY
            shF7HNy64sk4s3/HPosUclWcCe6p1MAjdM84Ls5TD0ydU6RCiXKAFUeqwen3
            1B7ltVHG/LzS8y4yAL7irVBZ5qWfJew/qvEelETST6BeOxfBabKfsJM9hmnX
            a/sexv2clswWJ67uuBbbXhb7DJueXkOKLyN96WlxYrBpejzlJ1alQ7l/kzZS
            /JJDvniMi+AIwzBr5MPABo4d04C6ME/ZBHXA3O2ym9v3Ru8WjTcedh9pqVqz
            6AC2R760Um82TS5z27DTTpixrEmZdPmI+bDe9tcX7a45hkW/61O+p7UGq5O/
            aS9dZjzv2Au3D+/uw63TIm8bZxs8b9WUJhaTgaYoJZmfpr5JTrKZYJlEQdWv
            NNHPmRm7pE3z9QtudsUCkr0VecpSrjWLfBEdLYSkM91t0QX/bsu+i6/vSL9O
            yRXxTG3E+Xrn7zqjS9XGTFsI2lzL7nXSH1B2lxVEp7O1rLaWVf6F2GyG7/g9
            oyCkZLA1uizcJNXV9I57OUbjlzNhK7V2rVD20FzbPkxO/raFqUpiiKT3lInI
            Mf/lqTg8eOvdzXerHuLN9vt3atPfbYZLOyBOWR70Xtr9HenSGt7fcd0r+JNB
            D+Ftl2+JsWgvGcNgbJ09j47yBAbz2PQC7bFxL7/ti9Y3w/hmj/HiANU99xgx
            xl88QS/nvFWzS/dySWPg93gJ8y9/lvs3s2PM833ftVfOIlyXZOMrWXR1sulf
            dH+RQXMzHyrQKJ3vBvY7aUBPCZ4iDgT1k9kQcTYOW1c584g/B/zstO0lrONa
            ym9KQhHPdxoTCUInvzwSQFafr3hW7dlZg5ULzA66n0V75k4Z8Pe2/bFou477
            1xyPfk3NcXvRZK85Fm2DfU/Ez71Lec69129aRn4DmCbGJAIJlGQ7HaP2JDlF
            Kw/KP1nmhVfc7K1TFm9qNoDrabfiNw9QJK7Gmrir3ba9ij+Ets76ac93+xoR
            4vjDeHnaNehZiRaLIMsvoku2hfk/E916T+oYluJRDPm5EGvSfqu+nvH8pyyd
            5OsZ417w2R3Hyy+bU9qTr3dciANjoZFX6G9a4gRUOBlkO2XJiPZZqILJgC7A
            /fSOy6yP9hAKCAoI+3pG++HDdKH6puZG2dv9vtCnWryw4hsUcjTs57NMvnaZ
            usvQYzQNJxmoFmjZ2DBPbGdWkx9xzjSvEt3Z/E4x7BQtfs574i4oXrYuxJuM
            ETSryYaol5v73NLHTF4xm06ZCo1R1dbdhtXzWf9db84Mg4Tzu8DjR5/P/ta/
            k4bl+OZkipVL1oh8Jp96J58/BjszL3S+LyQHTkb/jNaPiG+C2mTQ3Esph05T
            rbMHKXOQ9CFzt0yzbj3/7fMB6Fj8Oy7I1WdcOGuZNAxlvK4VVxrorjLopZcl
            Y1n0cynU0DIMxBkjRpUZ3YC6feKMImFg5GiLJ41cCpNBg2MB65UpbacJO12B
            XVMsOQVoq2rPucRYuHSKB5WVwQmrTtBVh7MrnjlGcqDd+uOZp06e9CajGgGT
            NPbtXIvCWMeYUXwXXUwipWmoAGKno5c4FXllysMB6NFiYa5AR6INvMQ8D/ML
            L876Qc2TXed+3ovR8XYPfH8yKm8BI2a+28/yfD4e5dEdsMbsb2F85ln3b+11
            0PHgEfI6gUr0nDIM0bV1NvELhbQLaXoaSk76F0/pR3Zfy5j7ns8BLZ38/0/V
            feKdvJy9doS9V7/0jXMjiy/RPa1cre7TuVP2dbvuk8a2hCDd2mCobjfn/t0f
            dajOY4/9o867v+2rvwwVdddVXH98q7rKT3X90L+m/rX/Tv/ub/57fVM95w/1
            nHc9O1aGtzKRMZ9e9+7Iu573N/z9GNd5j6teX/XUn+vpVTtA8Tv+p+r879Yj
            p5JO2MHcHIIZJSiijcEMZoe/LBu8E57e96Cr3P2O63U///3cf/ZL+oO66yRO
            rjExUXNQmIlGOuNVP8+gEx/vJT+Wv4hiNLjBd+R1pc6W/+NLL7azjLXNR7Zm
            /gKbB9txyBWE0rVXv+99wjYEI3bMB5OJ2u9gcYnc5ldwCGgvRVkP+8TAc5es
            GEDWT7IwxF0XkGN1SZoiz9RTtodlx6nSckjCL0DNPve7abjmhi/sy4bz8hFj
            WynHOMp4ldcpRKlXHf1ZB1BdMvioUOYF36I7dIb6+D48vh/P7+e7DxOj2H0I
            wEpDJuC7nmL1jPmoZ4+F82rf2Xjub3P5R9+e+9vG7xxTL9FX3+JoZev/tExd
            lEUQnif7dqS9jtniJJQMHPgo92+/L1/v997wGgfwM+EgIzt1nSkq2QJxAW0j
            VvVDGXuJF9rwGsd5nWNsmovmjgxhF4viRu1zQsEu46oQGZPrljJuUKemeqlM
            Fi4+wIWHMEOr+16WrJNu96C36EMWzLac97RjYlB7qkFom0VGnPFSaX3Vzea+
            kaZmJAjjiT0j0zLCh2vx/Z668Cm8Ru9oNykPOh37QSOSs3TKVCkmfPTJDcbK
            DGxb/nbWrzhiYgw29CX91K/ctBavfqXdr7T7lez8vPoVd7+i+oWTnc4t/yMs
            mTZ30fwEDKYInkVGmFj1hitznsViqnsp2I2GkyH4ou0h+0l73txzNVvOJj+V
            aGCuS/7IeCvYH7Ipo/2v0ftKJVZObJJlOmLKGO/f4EkGY8ydTEi26wPbPvr+
            TT2XyjJXz62LKqBn23VKH0bzyiW/P0ZJy/dvxi4iL8f4BWb33eWBT32mz+DL
            GTcBJLHanPJv6awf5GMfXWOplHFzPx75YiYF2i6zn/TkYDAezgGzH5RO+SiF
            TIyKRn1YoJXB+zfrJrdIwtba23oB0ISbVnzFliM1SvpcAp5MZ1e+50nKxz2O
            zsiS4IcZgDjMxZx21KRWtnea7hmTQaM67CXNo/m4dCaGcBQ+0i16JcmpaQlC
            PwzapQbmth2L1ou0OmpB8mV6oxfqktCkPUsr3HGJJ5962cLK54Tzwzbi4z3Y
            oX60dJj07AT1dFJS0bCGgXFp+2ExCxg/lgZmstV2ivYgGbyvRcGGxrC4AmFG
            xnB0jNdCX27Ni1JL2Bz0eY3pT8Vz8VicWlME+KFdZKBAkfv/fs5YM+qHxcbm
            PXP1VRkOMBbioGeI7OTqjlcZrB+BMZe6CwM0ouQwtG0SLj8mfjMxhmM4vdh5
            XujTfCawREnrafpzRvKkCZrp3UxviM6MU+dwKaPIBTC2zyIjb3gFOSoMxDjl
            I0/52snwzo+4gQDI4Jhedma0FSP/HBjyuxbFL6TchXxhqjwDhFX7Pu57v+8P
            O3eu2r1sI6rZHlInJTskC91Ac9ALfWqC9+kaulIO4TDbazkmITxIr1hWtxeN
            goWRTWDbtEzqZtODnts12tWBi9T7aeXTfg6ob9fbFijZte16M43BFVfZvo87
            XtPpLR7zbUOFKerblzc9fldAmvt3efxuFre8MgAEo/TJfugqNk88gthg5Ifc
            HXNScBdwMXfJC5nFUvLqbc8UlBvV0caxKFqkP2mMfNFeq7rTNDrH/u5ZRx5X
            iPK0O0kbHn2XPxmX844DRHWK9IOyNnFnsrZA/2A3V8XvAPYN/6qvdzuUcss0
            GWd3llOaRNa59p5ifCHGm3v0mXHMvOkL6VVo8lI+23W6rvLuWJg/Wu/bOcFR
            esRYmluGCKKKIGtoPx22BgsE9PIMsu6ddD3oB3DI+F6D342J8x/2dy3bnPxu
            Ljj+C1Dx7jt+AyTJF6ZMxjnXlHv6i2KjMSaD9REUjMQ6E+cYMKNR5opnjfOg
            e+odlYbxBJNC33AGgVKaY6xrZPQVz+RglDrSQBPnlPeOhD/teNmI3/FfSJwr
            xQyNGb35wJBW4X3UXqiMK143fkmDMjTaFCuVTnYhlTTwx/8x/DlhAucG69px
            agDfvL/t/vhHO+wDEMqJfrsK5qrxesyrgyejJFbyJgaN9KkU/IGmRbHMVLz7
            XcTRpy3XbJ3SqFYiYVWItJFbTSaTREtm3UYwePNC7qK+xcVTcXDLNfrnc8an
            4YkK5g5k8smL6ZOAh2uTA0AjvlGMJGCRO87fG6Ye62jhDWMz8G5gfi9wnDrv
            FEE3pgmg0qDSZk2x6hiTSTZxMsWTbbm32G+DgdCxcS+q23pgbG1H02/GSSDJ
            DEhi8YNbNlvlpISuqM83oO4d74txjKgy7EO2ucz/K1tsfh+GQnhh3wzFf6Bd
            smQPWOm674Vr4wp3G/bc9ER6JkuF87if/6b9w9rHFDZvOivah3hlIWbsIMX2
            LDuOOfdo8S/5qM4r8SNjyHjFq7I+Mi7VpgUaZY1mmGvzKUMO8aEM1WtXGpRK
            9xSV/5SB21dgPLlKjQs95bADRGRQH8oYESd4wVyDszhgbtvJN/IM6AN+H5Qn
            YBOFPC2WoeJUJIuhwDNGKYvWsYq+I8nSiB+otR9pl21KfO5Im9TT5uL+zW/d
            KVMC+YbqOeONZvSt0lBQ8UKr6ilUbi6rM0veab+FRBRvG+seaNfrNG7aQ7Ie
            s1HQHPE34zppfIxlTHsC7EuCdcbQDd7i4aPTstl14BkkowXvJqcZlH/7DVKl
            V3UeLsKuf7Mt2r3c34Nnob95tSixkqPh1FfynnHIXc0p7jDbOOKsXDfquk/x
            fKRwbL0YtEg2An6Phx5yWH/RxqBu5wzyG6DrzL0O/M2+ZUauNd9ld68FuCHZ
            PBsA5+L+sObUkW2aJGyaY0yzRz63XfI5jdYAcSaE34ZdsS2DZRm3cu22Y960
            T7ppmryvmza6aaVvGuemkW5a56aNbhrrRTN90VYrrvmUG/V5Wu6K/b7uem6a
            CfOlvZsY3xk0Ls9vuC75TdOtBg3RbpX8kmjfoGiqWVLRrf+wzNtf/V2gfJhN
            7nj5J1IyrTi1hBu07JkuA65iv69mMUU1ZWEl14xvcGXH2KK6Bm27dSnWIuDh
            lH7M/GtJuINjtTqcfItBggGuO7ftYKv5h9P2jjkrjukttvmul/CH9XrqXHZ+
            C9r8hRxC2j72c+MSZbSk7tMxwhp4pGz5IXSlbYtSyVxgoKJi38peQbYLUXwk
            eIdLtAXO1G2jQToCm7c0IAr6S2YfQtvzNhkpIVo+ltHfvMA4rd3R9nXtuKyM
            oXOsrlhfjjp3fDdke8gI4/TbX+oT+8wIbBUsBP5oezHcG5YzzwD7lCy3g+gC
            0opETX3aO6wDiILPsfRm73KkkAg8qGTJgWH83/YWxu8ctUtHwfjDjToLxdQq
            d6xjAqbQKBdj/DLOPWPw3f44Fg+d8ckZ/574KYKku2iNQXlGqrVcQBGKd0VM
            3+i/Qo7jpD3UaWnbd5wyIqTkFPO/376drJ9G6tsPQM5B5Atp01sYz5X2fPRj
            Eu5i7HYSiDZ/YK+dAuEJFnpwayfJhcm9zEikBTh5dNELBu/7hv2H9F6ZHCnz
            5JT1854D2KXB9qW9TNs8jJFBxDlW6r95T5KU98o2ctNbdBuNNjbmT0mOMUnR
            1lwvPWqcFpNex0SeHPtepDBGHS3uO/XitCubypHiazjBT/N5tueWB1ImMNIo
            BsYrInWfJYvOPFj6zSAUwFVcs04P/GVrRo/UzFjvzmQHpMlp973pCNI7xUuw
            JBhCo3bVMbjuzuowAf4w2sjmtvB5u314D6tHz9p+dsmGFWQi+hd2v1AnbZXV
            r/X4Vn2q67Zbpz5iFmXs2bnBQOLiPMi+RPQ1hSEnNgsnh1pa2Yc7WydvdEkf
            TbJU0ABC4Y4+8KWZP/MlbSv61Y2Xku4DvFEZ1Htzr5Cfxf3U3BfF4Z36rhAq
            mp9SoHWB9F9AOwyjivkLV5SPO/eubKawt5dystj/JUunaUzZ61YZbKSMTB+K
            8+qBGJ9PaXdVDBbxXZtkjP76259BSR7Dhpe6MoeI5QPwd5uNMNh4H3mSKR8W
            o4ORipB9EzcGHcqAipTp9BXrEaDlr78jCApSGIFc1RHN/VkxLgQ7/Su2Ip2O
            yXv0wrO8/T/k30/oQis3SogHaROgFF39YVfCwZTQZW+/B0lcny0uzY7lF0g5
            9JOxfGjHoMj5vMp2NTCuYlBeGdVFcxrAUZzvxPt8BcmCTxmxbt/CaLZ419xx
            0XdeAMBAi2kZD9mx920bKt9UxqGa+/1h78e+7/d3a1+rvc/TrglQTu3seOy9
            Wblx7O93PQCgxfC9Xdu03LqJ1szHO9eVw5hBJeY1zdYhKPyJYLhiKGqoIOkZ
            v0p0qZQogHf2PO24ThY5gnZkj+ey9/L2XD4aeJ5dXv5lB5ZT3c/vemRBbfXo
            +atdZ+1O+T0v2XMoz5eCEx+KPcL7aeFvE+PmKC7KqTlP3POdMUJsTFbm7stJ
            B/KcvuuO33U/xhB/M4b4mzHExxji99ztOarfc7fnVEvDNSAHtv1q8NvdPhVz
            763aQBvFUMZ82K0YH9QpI7c496z2IpctWuzYPvwgAkFTAs/ic4ZPJ5lKflX+
            c75gZrCNAo4Kjoni5e791OkPgzYFV5fx7zvHh+hDAArFEzw2rXNf75x4jElE
            2yyJ6WifrXhG5Tj2urs9y0JInfHIx7rP3pxm/xqixY+99jwkZouMoVrcGSu7
            MDe0sgr1Ea/MYoqJhqINmj/Nlx90UvvwLdx0DYVjklWRZ52mA2qH4gjgNFms
            dNlh3b/rmy6kfRLTrFnej+2fDP7vyteQjWy62u03w+3JOg7zaD7uPJIULBG2
            MMYC4HalUSL7RVKYsSj9jr8dlcwYU8MESHhG8kjxkGmaBJqSNq6yzLtxCP+T
            zab3iubfpbhhiT69od4x0HZbITHu5Qn44RW73f/Uruhd0tuW9EExhRSN0J2K
            pdTlHC47SbVfJYZD38LuwyH95+tb5XrY31bKs8K7r+ILgujz5vJX7GjGbv45
            drRT7GhnsaM1P/R2Nlu5ddNmnrkV2vmaZ9rIVX8cL3/6Q/k+2M+k+NNeviWu
            Yo5kMOBXfD1nDoaG7xW7RXCEEiO/6aiPWGIziTprL/8ga4TxhploQf08ByP+
            KL9Jy4fpIADk9O5KtBgYjehXdg3pNLvCQhgIPB4tlrMz2e9x20Vm8wld2q9B
            vnL1XMti2O64GXh3KVbHse0EdxxyvYtf7zLqio5a3HmCFu30TT3f8bRHt3i9
            QLiMnVnCspwnZqe642Hmd53KedLlx+UUfvR8lN99ELJ+lC/nLn8Cud998Tq/
            n+1abhTVEfznOGK8ltra+VQVC7V9lgHf9R5rRf1Nevc2mvSN14wrALlk2u0m
            2udfe+yPsfrX3C73198NE0b/IHvHXG/Kx2Z9Nlspy1n16hNtdZ9jp6ZftLZ9
            QwFF2LGsrbz/LE9B5Uf5vMvv/h1fa+H7V/nynuM5NMcukToOistO37J+24Uy
            xBJ9WY4iPyunNBBuP487xwIPG+DJ3L8VZZ4azr6C7GcVUxpHy5ltsChjzsEx
            mUH0yLcN8DyOl993YHyeMR1jVuQw3M5n6ERre4oq6INfwDctxhYh38w4/ILP
            +O2ynQuO4YbXhWfuGkNx7Zl7CfWGByyaxN2tdPFmRzAfsmx5fF79cl4xCRnb
            P/nR77xnGWeWUgIJkai3CVH+rPIHJI9ybLqc0am+/C8TbbpBCR/N/G2J3zx9
            JxRz/VGu04fT8I1Hd/0jj0De10sxuAMdKV72C7HkajG3CaoYc6bcOYvTjqvD
            qFzyxSYbrzyKdcNm8E8JMOqWbxwWU4zngbyiYtDfelz6p3TmKs7g9Pqq4s3Z
            SjM+XQH/85I9Q6H8yVskArrY33rfnuLEX5PXZStt+/EF+SEX8wWnvCJKFjmC
            ycGHl709A+40yg+K2ZaB1iE9wn3RzT/c4vBzxbd9vvyqaPWrmNV3HAlMSLZv
            KzaM/Aqj3bdl+QwbfdeL9Hz0qqPOo/Ww7bvkBG1xzGIDQlH8MpCULgFVM3AN
            zw8G1ZWnJsv+ihmmlBU3xfu+V8m4jx2vmHHX9ztnz5qElZGwiiievN4Awagd
            MJv81BdjMND1It8GBe2QH0KQU900XMvvdE4Zm3kRVlsZcSWyxTA2PUbFX2W/
            JoU5TLRVsDcpl2RGV/bF6ja+O6V7XQgT6v49aPFC2Ve78/nRm1cxJJb47n7n
            oTNaX7Eyqu2ZlRVTggl6X23LGGwx3l4xWWilS92uw5WmvH7B5ppzwXoAE5vq
            8ZRlMz4O7jmenSvnWRZAvfGakuXEoWlIAq5Omb46QHVthCQfJYZSpkAA87fM
            poXzzrkNzmIL0AYgcTaOwJj8a59DH3tMhXiLYTSi+clXyZzB8nbF41f0/0a6
            d/vU5r7GdzuuvPR8NGg85AcQoqKL1+PVHv0LUgLN8P19OvglfVrUvtN3riTa
            bTMGSajvtXFlpSDfUIyZ/tSSyzDfhWyBKAvyIRmcpicPIEsIwWhrpvf7KHdY
            OcbA2LJCHIYiP4h7zzPVLPio1xm49+/n/pdN05D84iiy2LA9ebzaY0IswR+s
            J3VsEs0Sx+H7+8xxn0+vnBLak+/z4N0dP5xnVeEiaSeu9+F4vQMQu5/JHpI6
            HM5DvTp5oWPiKI1br19aNd/JQLsSwhX6F90ws9AQo9FJSXTdecNbjgF3/fbT
            v/3xYw3g+NwVTgnut23sztNV0x1fXGIXQGDTZVSL8TiO+/0ufzHeZTAFJ/mi
            nb+Qv/3cccDzz79vvu664w/tOJLX7u/aOb/PHVeANj9hhvOWc0h03MyXWG5s
            mCO35cuJ2dIUPxTzlXU2RwR/vCwe62FxErKrUzS9xXGNznRY7TCbX7eO7xwz
            gXGHYmASVOVk3Llc6H+muA+ML8h9rN/pLfdUfMOdZ5cxLfWe+TN2LMggusd8
            U2iT53d+eid973m86tu2C24sRQ3oKZ9sv5N+z4oXpHqpz+OeV47GJPvGQ3sf
            +IkybNp73jFAGF+B+RmffZQv246hwfo5iBUYz73Meued9Eb7MLYJ6Kv+okWm
            6CDKsgt2H3YxY2GCeHzkvGJslXXuvLCH/KqU8ylKWcEQBkWOY9zTIOpOSg4s
            pyr9KY8XzcazENpYvYHPzeFaD9mA/EWd8mLidNHSnY4u0iU1+S2DXh3Kq0z9
            qOQURtMq3vUlCoe04KSdMqhDtsVABU8en2PE3NFFvF2Bdgk0/qugQdB/Ztel
            HZ2tLyAk1eYMkcYsGVXxQ0/PmPRmeio6c8n4KtNPB3zWR997/+x7b/+67+Wr
            7+QnP+J60H+5g0ZtO48KGToPyvKwM0R/XMartjzIbvidi2JEN7rLoziG3Maz
            lse0GK98fg62TyMePuNOVQwfJ3vHQ1kV7Z5lcTi76mSkUeWTok9fFDi46W5s
            6FmlCyPoYRhf5X6yPMdeuf5GT2BA0Fe2TZFxC3SHlI3qZGCNnZfLM74aVdKO
            OnDGG8PctWi2ywZ2FteVPvsWQ6e94klKvi84QFtBjJb9dQW49LAgU5+5p5kg
            V/hqkqEmc7PlDSTFqfaotG1+54w2nUqWPS7AexPPMDmmO8cjE63w+XXuOERg
            Je7vhFep8KKJ1zsnqOMa08TrzidNnuz+hrIR5agARcxnhVHOGed70xaC17LZ
            k+yMNgBLuaiTxWOal3JT039wEvSmaTgadHtPPS7iQ1A08ZXnFOdd5U/R9YI9
            DJAruxVphw2WsOIUt0zTaVzA3xYjloExATWadEbqu1OeP8J96XN2GeytJj+9
            6dz9nfQHde3cl3zGGNHMwGS6SjAQUzSsK8fHHBb6qo9xNsbBiO7aMajDYM4n
            0p2A4d7OKYPchSYfbcPZwWQN1b/hyRN+FOJ69IsRkTUOxu15rBW9c6UzjvZ9
            515hDL1l+jeuC+MQEYDcPBDjF7U9PtZzulU/YBb5RFAPWNe2+nLPsiv/Wpb5
            jEr/6+9Oh8pusSgFo5bF51J4HPSF/b4Ow2dKnfHayxabgHF1STNPnkGJdenv
            J7q4Hm+cIjvtHbbX3ThK+xX0NwOQliBfYsnTvcUYfsUA5viZ+1Kx0S2iOnP9
            9XtO/ca9R7N31M/e541xfhVWIzFOTB2Kdb1pkjtX7p1rGkBEOqK+87qUTUf1
            nXNaKRVlu7FpmtNomLn7hTlcPv/19zjpE/LOd37Ha7B4kiAJ09snWHGoGJ7c
            dG9dMkeLic2dVAFU6Kca4tYPgzJWPa0yx4Js9JX+S2F2QZvXTasTPzj59hqu
            p12CfPGTxTq8dcYbBhJaNz2b8us22qsqV4cjreVAN5fTbDbIkdA6XLwPafAl
            fbwTLSK/ouEUQ8DyYwrWvvyOty0A+9QkFTL7VilfwkPewBgoyV/bHv4SXid5
            6m87mljy3DrKJkPEkuJYdx5x5hjKlE89Y0numGCk547rzkEvnXnKu0+gtceT
            5mo75/SL7ku2127arhwmc2LOkw9aK37SWpE8TmKOaeNRgtF8p2xhXasWcya8
            dOX0237FbgHlmiXjwY6999UpWf7Wl3ga7yfRLei/+qv4h1xP5ccFvyr7iRYY
            1/SOQSUtsvkb5J0Xnv66N807n2OPFodLMEtMquX8JECPim1hNsQ4y+fa9tby
            jaHe6KZZq/FJHfPWpCsX/5/8nqN5Gr3J30GxNFuVXDRbPhlarJA/i2aXn7nm
            awnvnJtOcvf3tG3T3J31RbdLvp537K9bNEJYytifvrcbpxH5ca3WeZYPGh3f
            Xsd7fmT/d9i6p2L3p/I7GHzTlhm0eQbNx3OeDf/ueA+KH8G+4jz320Z9zV/b
            HLQ3iYxgj2lI5mcsuwbQQH3jkMG8Q4r1GlN4xLinDV+T0UkW/KX/ywsXpTfc
            dDvnOukbHKf1oideOOuNPywO7jgt8tDm4+IdNw6jKm++9Dz61n/vXFmHwWDm
            kATeTTU+zif2MaPDmA35znlYKJ8j0q00hyg+3jHzND/gwhlhxfapWHWT+TGp
            xmHxuyW3YqICqicU16ZV2bh8xiAkXz13ftB9f+aLyJhx/y7F/OvyGzE5Zd1x
            ALtybizlib88pSvhjlHIc2tsdTNbxB2nlLEK5Tpwx8fDkNuweKS0f/cxEvtb
            HFejO30NadaVJjPK4XdUnPLuO2gMvJFu6Nz+0/Rs60+dFWOx+6iUUD/WCZ4k
            /FRnnL+vc0kPBjx2r1+I1yvmCyWSio3D80T0FRkQxinGKq+U8QVgvKHYRhcJ
            8vs3y9EkDfPRFnXPqdFsueq92daRXqgpSC+t37QWQvuAr402l01qEfpSUn6d
            FkM3N5YDZeIZcwfE36Kd2nw+b0SeijlXJRiQaw/muyXm7IoH/VIxcaPtXPGX
            +SvT84L2tifz6B7F/AGZ3+t49O2ivwIFFF17MJwMcmP39JyZyXJQsPwZnK7g
            dZzasDkdoQztu+wsX8ahSG24p3hfcfn8JdsowoOlYEuyxLccjYfiUNC8UteT
            3JCrtAErhE5TsRRp4b3jRNCmOC3SHxzzXcdZH+978toBhRGxH2VPpzhIR53B
            rmfoU2uq2PLyFgT9kqgqqczDeSguw9Gk9ovMk+XKCvQRX+QNPfBmZQw+2ngf
            NGIL8sVjGcZ+qKKdqK9qRKboF/MyKfc660C1tz/3uP3Z+cx4cFoJirbP/Yxa
            C+CuQdwMPrwxDB3LncH8B+r+TXTz8ullHBXRYbaWoLPkX471BaBYgSLfQ/HG
            epO9u8VTPNsZLQkaoVRSvLeo3HOkq8rW2ZEBYw5IrBj6cq6snJFez0FHgSg3
            G06CTl0tNvlMzvJx50PyJPbrpJsd5b6MIL5lA4d0kLKJY1wRnalyLnfrCdd4
            91+xo1trgqFdidhzNJqkMvZNEE8fldtk56R9jSH2xfOo+STteo+BtpHVWww8
            5lzNzBtJCVdeye1xhT2uMuKSjg5vZiA97CSUATyMbpQun06Ml6p8kBlgQZWb
            YTAIK6CNrO+w04rWGHCedrOp27rhedNzwHvGinDnAgqNydGWhPallPkAV2Fn
            N/IRf5rz17n2xCeFEZfUP/TZ6Yy0cucdq0p24GT37xVf1GO99vz3zj0+qJs+
            A1ME9m1Dmmh+9L5/rjMFAyAAlCgB870oA9V8R6xH13owhYGefe8H7G/FjxFs
            PZhS/Tzudqx95lmw+IiyS/GFkp0VGw04rF/U3/EcM1aMpwNDUH4/Oz+0RGmr
            sg1G0HfF9At3P3hGZCcAzipQKX9q3693n5jJ+33WgK+78Tilkcvm+WT+LvmV
            X35e4b1/g3/v30yafbzt8au0ZxZIQrgMEMMDKtZOkj1M2VQ2mmuaD86UJMXX
            xDzzVXS1xXcN5BUNv8mWLF1OAcpoWILfdW77FIptS5MNio2N4dVOtmq64EO4
            d+jccbxx4410rZEYOdV8qfLsLx+9vp9jA9PsmXblWfFhi+JrJOJigl7Fp2X+
            ekcMAJzSrH62CVq0yz8fdIzmTjHi7xiqGNsZqcf1/lzSfaBhr3v6DJBJLWg7
            Pfbo417nYrcjmF5E37moGKbYZ9eJuYph216KVmnb5pLQfHu+5a1DGE89+H22
            qDL5Ol/t7uc4mM/AfnOMnMJZaAtyMmOJ7YBOgU3s9MlkDikgC0xwX7gm+5Y5
            lWRnoLXBO9OTduNpFjUrUfqbw+8YVHye2rXiXkcsjPL1grhZL9jb3rD33Hm8
            6Bs+uvmaSe92gG6v9DqQ/8XiXjmz4SyGnDrph/mon7ZSv9Qf1qvOpHinmMJz
            AWka352Mdn6tUz95vh73jMl+Pu4zYYrNAzlJjrVenAP1Q2e5oq+tvc5vTZTp
            8X0xmHuCXtP5Z3xV1KV9rqgqw03y98yBXkuY/fa1uBTWCpBN1hoMEBH6Smxj
            FiFR+dAxZwp4TPk6sR0Xrp5M3yyenO/r9X6fFcElDmHkIbjSmHMbGOakHxxt
            590aYTD2PZmLc9aaz6qAgopk6s0OHlRjphsKcThIskB7uUCn+eUK6W0aggYa
            O6juznOmeFudZBDxTW/a6TT5eKyni7+up2IXNIMfYSlUQLf4Fx2Q1/SMLpGG
            jYzkJb0FfXquonYq93Ku5HHM11COgJI7bb+SU7Jb1J/8c7/zkHKdcL4nYzvL
            EOgFW0BM03IE1I5z6q9ig/A5dWY3PBO8SRftTPQsbPyF/dLIpz/LYaFapgg1
            ruOG7dtObPEYyf90w1/lPg+LiWq9zlxrgp3npByQ47J9F+v3vmO2B08Da1Ls
            svm44/5J7rX3YZlnvs+QYHmXoVii3eCzvQUGueCEas72s4KzkfF9Ksx7Ged4
            6xcKcyqUGKc5aVj+p3WY9oBGboIrjDF8BcHtANo/bhkUeT/yun7nF2FbI6v/
            kfmMKAfFRFXL0UVKy5O6Djl9zRvOUa7m86eEk2bzE9kWaDvqYRWnnPZDyu3u
            FnPzTu1X+TvaGnrZzO513c+AF7WGom2YJ6xZfi3GnI0bdkTMWQImjNR7fL2r
            XlHZX74j+J14LzY5bXsO5joH88BcnebFU9Iz7mBzf/0NjLjy1idG2go12RQO
            opSINaBdLe0u5iRPCD4AvM/pLNf9yZiol/Je+mZ6gFHA25VLMZJn7DiHyjcJ
            WDQplzT/MuoLmp5JcQz+iBzqWEM2G1HxLl56poPieOYxtFiwbWTRFu7auRZp
            U7Pv51HuWMDSZbmHPKdjj5D26wCGt9xHMvEq33SFmt5zqXgpO6b6wfeN+GrL
            tS2llOkhhslEutWbBqE4cFZiTgWZwUYZlcjOLFqgi0Dl593ueareSpmVOdO8
            ZUxRdjBvvYACfSt/A502PM0biXeZFw51yFLXqZ4tv2m7fr5fpnuUzLBL8iX7
            10W9G6MCmD7RZASej+gr1OTVq9hFN93RyKTkt+/HTYccW/6PDbueeWgAfi3u
            czQ6ZhwWbwP0QH7SNUqrKRuJQG+/FhXvwmwyxisv4fCci3ZZlInbF7xhBtrW
            rd12COWyWM604KEeX6lpD6qHt608aa9wvnJ0cC4rI5nYmQPHEwl4B0VCOD5k
            Lhibt5L35fzfMXvYTqrMFVgYv9GFbZ8W+C1hgLICc1t6NyzvE3NHMYMUThXQ
            emHc/XyA/3jpM4C43L0/cvvcHy/dVyf+eOuzGC2dMWhuHZ+jlrKZHR1lm6Jp
            FYMAV+BI6h/72rl1mugxyzmZzffEdJZvva10l8zLW++8J9H0X9q0W6eVlj9d
            GY64TnGl7P25TH5rdP9QXa3mT90j5dN1ANszri4A4/aZJU0SAgjhuH1TcX4U
            z4K2XHx2WD6xHd/Q3Tb2clQhPKmS/1raWcr5aElFN6k5nOUXqRYueecdU673
            SzSY7LB7tFyPdJ4iPM3zancbc8t3QUePDx3YtuNxx21LZHt+HeYHdZ+le+8z
            hpfOAOP8HslS37lYp+Ubr3dMpuh3njraau7f1XzGzLbP2drG7ftkNp32m7rv
            Y8dPnsxFYLRSYj3sDp4pZtiUWPZKlX4tQ7YeQfl+d166k75+HNPY8tppe5Jy
            Dbryc16CbBuSTDY558zjNZiG5s4/sxT7vVHYJaOvaPEiBMaC5G40gajy+Umm
            YyFPclzeTPe89ruFRw8oG7begnoMxjtYZpssmTXp6Sh9lM59r28/jHu9KbNh
            eLvh3zoCEuN3Xk3h7ePtn8xzWdIYnYRTkh66mXM4PaAs3wPOXNPvFXCWGU9A
            +WpUDyFdZ+yEw2IivHUIwJukwevozJFD/4iXz7O81TB/SXD7NZf9SkyhviSK
            lAwZa7rl9TzLdV6a5/jDO+yNdusI5H6kXEi2JqTdnmUBh5rCTTGCzON5OswX
            iHRz6G9dlfOMZW52Ds0TqlvfT8xVyYoP0O4cPDcMEIaL9PtgQk/bX83k48zj
            fTH3GpPUXcxPxtBhU5QgY4ScmfbkKKeKO+Ej4D0zVWGXd3m60v/5okCKOVqF
            s1meIF9x+9uozJ3rJjMLP2DPsWlewpxqed62Pb17+j8xropycDero853Hcz/
            8KrD/b6O3K2OLp+pJM7jtfZThH4+bj+MOy9tki6IwOeczWwFwp7XbVMmP4+T
            IIryH2zIG6Yzn/GBdpiHCWfIucxY12d55Y7bOhrZKnUa9jz80b7okt/RH87i
            7/1Ct4Tj93SJ4lz+QJfgbH/QJf+ELuB80m8UA2OoKPpCM7eD/Gur5C6KqUMf
            hhU68zsnHx8+icxNwT4cm3rmeha345MvrF+2d9zb8TI+7TuvlHy43KgS3dMk
            gbYxrjDXmpaOe37n3H778T3ylChvL+Ov+DH7pI4wUQv8yiF8909wdplcSiFv
            vOySrD2da5/pN+qmgsDJ7gtzCaJ60S80yf5r2jcumv+aTBUAYdzxvlc+903P
            8t2dky1+5TS76arZr3nnHmIs7ZHe42bcR7AR7pVjLV/CB6o5vfNaK3gkbXNm
            ktnJjgMRaO/B3CuMdbRzmTH+dZCtmNv+ZMqi2s5eLmZWpG4kMzo8XcZk32G+
            eTXI1vTOVcN0GEAKdfmlmJqkIOQbRVtazhXO5851DK61BRsD4xtWunoGprHG
            GUyCNUzglhm/SjQXFVW80kQBVB7tvu/8TowhSZl3mKO9+yILKNkMgWnprLO7
            qzP2pNkZgCRMij0yLNMj7RcYbSWTPhp1x2cyux35ecUOeHBlgz+MYTbMLgUn
            H2dlols3XgcPU5jLhHb/00Je0GcIxF6wwHfXNgSSrZrdt32fjMdjWhndA0c3
            wjnPfDtmE10a8zmlsJ5nbmHe5vYZZHCXrcPLwewJDsWAwVxNxfccH7aerH8M
            s7G0uuMdP4ZRCpQcNJvem3kPdB/NlpuueGGYD6/be060HG0JovnCt+07z5gk
            zFk8ZS1pNkLxledo04yYu8urjaw4KNFydnLMFLL5PWY/4swpV/IA9Ntm3DLm
            kaEtTKCtSLosMwxtzQvzXRXRRbQ8aztHgXKYolCeO7dAvNAAbRJzvc8lPWsU
            O2ffR+rxeZj3M9nrg85iPEiTK1oe0kg9yc1XNOo6QN5UexfW1RXUZLenqKV8
            XuTH7f5V++aFRFtY2bmFuw9z38sOXZHkMXOcX46175xfh8X3bceL7reYHnfu
            YGe54dnXe6/RepR+bgAQFndg218wypz2frHnt+H/Wig9LOqGvHzJuFtO5m3C
            cOh7n+y2JrsP+77v+7br+8f/Bv2jjn/7n6dL1xDv9y+/n+Sy3fueTO/zPU9d
            Nv+vzZnv73b0yFdOk/mq8LP703j57+8fHbD3r/a/xjHl4r2HMGwHpFF+LBut
            7P38+z1QS+GcMNAt/yJtMkJ8lTqrjfVe0q/PiaM0V6PHH+cq77mcR/rx/fhD
            +/h5BsWFd/Xn+m2uUvp5fGG3f1qosF++X9Pqv1z98X25XP5X/bv3inc/75U/
            /fvTXmN6wH/1noJVrwioKZMYtbL3asXPta6KcvTbAn8aK1dA+3L9PNdu77Xj
            N3ut3efmN/u6H394H//wvv7h/R/ar3/Yi/daufYfX+v6u7X+eX370A4off2P
            r/X1X1vr//RchmT1v+BICIxw8rq+xhms3Hf5M1ie5e9/d/l2BYqagKPsuvaV
            QeP5/nROcbBHC43PI80/qMTf17yvpdi1un1/2fdgdJO+v+x7ei8pe1Cx59/9
            nelQrEG075/P7/7SJyHVJPkNmxJNN+zq931cdgWDVpUTnUnRqaPf71ezK83J
            hPeTva/J7u858QV4P/2wv689pj0nZFCefX3jjOOFKLV2zP27t9V1/fX/AKxq FEw= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
