<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.216a</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.216a</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_216a</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Dell Wireless 1708 Bluetooth 4.0 LE Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_216a_v4432</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8554</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_216a_v4432</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvovMX/utjiCvEEILDf310
            6OARS075zKmg/Rz8kVIKmKIjhjyzK6HgWeD9ma98phRrTLg7+FTfr1gL+tCq
            +hMwW7y64tnXI+CvHJVPWtCa7f41ve94PytXJcd6qbTn/4Y/2j2S+hhVvjRO
            jyFcR5qXPe3dxXLVyV8q39vdDGp+zkqeqWIkM/fA3jl0es/b2CX6vsZdQ/Kf
            vbi7lffzsq9z17P2e7+fh7vc5OgxN2zIz8gKS93vw6vxhCLz6LZVp55PNdfq
            VYN774XrKhp9m5/PjxqGVRWadoCrqOyrTN7Nxc/naQbNVv9q69hz2L/aCjns
            ufsqvydpfNV/paAPxlf9M81oI/2qZ/+bX/Vgk6mF86s/vtrzUK/2Uf5ei/n5
            3FfON0HJ53NX9vP4+RwdVP3xu/5jl5+/lNe2Sd/150MwK32Vd8nqz1/lUYs9
            j7/0s9uu/nzepvXn8toBviwews8y59I5xda75vM5oE/cfft4fh/c8lUei6++
            tfj5/Ia887u8t5M06+fzWKv6PL/aDSUmO1efz/2ytV7zl+dq4PwqH3LceOJa
            H+NdNz75fG4zqLVbP+3J66v8DR+u+vkc/e92mK/z+bwHp0/88fm8Vqfz6+Pn
            c9d2+fr5fNzlv+oHQEL5OLQDQrE5+arTW9eOENHP53OX0z4v19fYBYxq/Spf
            m/ZM/SqfUMNu9/qc8ywweR2fz/eUcA4/nsdomyl/7bHQDTDVr71k1AHHJYT5
            y9p54M7n87TXGlvz4/l1P5+fz92G17h8PH/B/K/6+/28/txumD+3G4+f243x
            53Zj/bXddGoHxBLu8/jV1gvGfj5/wd6vOm98OufP5dd3nzccWL+pf9XfPP+q
            P20EfX7Vf+Oa86v+ej+vvyn/Vf9qLzzvP+Z2H+xaP5/f8BBUx8fzG/+3+FV+
            z1v7qmfe5b/qcf1Fj/z8PP7mef1+XpZ2AKi8e277b9qa9TfPf1N+/aZv6zd9
            W7+pf8Sf53bUn+d2Hj/P7Yw/z+353f/4Or/xo55Nw5X4+XzsvQEoGn/aq6Tt
            Pp6X116KP53f+lX/PQ8pYpWez8cL/uSf2gWc+XzeX3Dm43ms2gE5NyHwG7Z8
            lCn1BUPyT2sBLqZ8nMd50wOfz+85PO2bX5/Hr+fH65z+/Hx+Pd/9uY6fnyfC
            gfjrnF/f5/rG11974+7n+IZv+7mbn/Xfe8zN3+Ca4+fnZY/3rvd48G8/PXd7
            Hu69fl/z9x6erzP1WJdlvECxnr++beweWQ7woEQ23g7XMN7Sue6tPLdy3V85
            zhjInQB2NF5EMNidWL3yp/erkg4nNfsa6vk+0B/M101M5c+xvpjH8HX/xfsC
            wEVS4+61yv/OP398fhWPDxYSncof9+U+Uq/O14/79mZl9yD7x/148Z73ZMzP
            ezc/xjf9/OjgDDN83Mf50WFwV4m1agfUdD3fnXF+DOYc6/N+np/36/wY7Il/
            H/fXef2r+6NrD8/vOf5egc9lz6+Z/pkX78cnDz+PT578nq97nu75mekNk2z0
            b5hjo71HeY/m81qMRGu2/2oOm/J0p+MJ8kcklAzL2XlCtZLhPH693lOUUgVk
            /NFP5/DTvU77nI/N+NyJmZIQkI+aEMGowRInaxmaqMuOg3dHSIYFWtJ0jXXW
            51HcE8vybk0f7YyNy/4+titH2PF+3Hed/XrfUYrxbt1fsWn8LaO9OM7XIr/L
            BGxZLXJHY2uOtXvzLBPPGtddJrWhOWknNse7TGoxm/SjocxpbSXKWl69A+5t
            77sx9519D7YEewK7pQYiFPvexd0PfYGxrMcXZcbLRucuzeqmo85HmTooV8Fe
            Swujczaf2bv4KNPApovnTNhcyQ+NIlX3HB3IeXA5u54yR9144TlLw9WQt6wG
            c2wj8Hu2vckDuvgOKz/XzPOesT5H3/TDs86FRk8RDOh6nGPvKbT8LoOjk3So
            wQPib8/DdM+5Am8bp8qgCkxQN5nJsy135JrEkdeOMUYrk+JHGQd+UtgmY8qu
            YnO1srseZfyg/JTrwvk8jIJLn22FFt9lch5bxvJRJpZHmdJ3mc962L3C81KI
            WquNfUXvHmXyFuYdncd0txWnf9YDDAk8yXqw+9yuB8ArPMrUQI5jr9fqdgrO
            6h8nDvAoVq17L9cRss1h0bicyQNGepx3110FJImSIx1zz2fvfr13feauet2h
            1vJob7gDiNZJBkQQNIw2DfVRBiAYXO0u4/vuUw2P0+dWi4ZdOpDUmDZHAFzj
            UeYERrIyWBYc9rXp7+c8XmvuPYQ1W/ss1Rgfc+TBbyXB7cZ95m0e68fae5cI
            6Tl6tNV2f+pHW96nOmzusB5xWX8uik/eZUKrtd7rcc0NuT7biq32pHoSxX12
            bttnWylH41w6uuU3HAG0fZbBQpoMd1BAnq0Mzu9rD/mpHTCjSY1KovyIe+7k
            8bG5Gp/tVkeY6W3tarcx+pke8Mu3PL3K1CU4Mm9+UmWC0ZPVF4flofy5A3HN
            1POJTY8RsEVgWQoyAuBIwJwCIzoqGUB+kc/BLqjAET2Of7f8bt2oiMQ5vS5y
            1fhv1H+r/qvn73JTT6eeLpVeKr3qZ7kiKpctHqafmdie6bqw+4uVC9KLUM5q
            Evtr8QoK4LzKJlr+wZ92X9de170w9/XP/l7fcheOdv31Nyj8ZRi3OUKwf/b3
            Uc/a3/Z/9vfjt9c/+/v49rJvsdv+0d/3tx3fmozbJL/GH/7nnlwGiXHq3npL
            HG+sAbHyaeI8AB70L/hKYhD3DRsKbAQXKBagumJY+ZSyCfhvcEcHbGZh9fXX
            3/r90DqtZfDab4r3TEa1+PginUWh+BsRJLsP+77v+/ZFplfxkamFf8JIDdAZ
            4b/Af1GrMTjOf/39rVl4SeQf3PWTs//mpGe9JfvGyb/Zha/ubwnATxz6Lu+e
            zNFn65LavFSgP75/Sad/fn8OJywLTKg/gLWLfw+JicZ3L+nX5y9p+dhS8u/5
            yXv+trLol/fjx/abKIjU/TiO+JBEmWahHq7+3JbN1S3x/h7rrYU6m52S7+/X
            rd2QNvPX9+UySvl3c3XvlVtL/v39n/79aa/dGojfvZ97fn4R37zW0jQevyvw
            p/Fx1vND/fw9Orf32vGbvXZLn3+3l28ptPpatAPG/eCXsvEPddU/vP9DX+of
            zsW9Vq79x9e6/n9d6+u/ttb//fkLQTtgftuc/PovJGvrBVMCTUze19eYg5X7
            Ln+GeH5N30f5dgFjJeIru659ncW469O5YNQTOA08p/2LcdB2zftail2r2/eX
            fe+AhPT9Zd9fxa4gZNNP/Z3pEBeK9v3z+d1fVi/5ybCr3/dx2bUUJ65pregk
            S9nvV7NrcPY+Jntfk93f8+AL8H76YU9fexx7HiQHHL+Wy/dc/1JHNy12tO+m
            0QHLPXGm+8P1rmmPASxKszlx/ae+rObE+Z3FrtewK/hNSR6is+sc5wItfdlK
            E5a5SAAyol3Xvr+qXV10iVewBbrGaMY8dYblt4zyzMPbWW81+tQD2FmeJ1D1
            lDo6anIljnQmVaQJyLdg92MK3SYEKAxmOfdnOHSfu3Md5G7IR1DqxvZEF41g
            95rFB50U9z1m61S5Zdx6oF4qiCr+KJ9H1F69wikOtKQ1n2fuCtE916ePuHgg
            /vq7t3Q648YpF+b+TMZlD3d6ydfKritNUcZhTFm0lbbSsw1P3unRhmtB+6yv
            fU1W/mpL3LZbs/xU7xlmfta7dj2PduJPe22S03vUC7bUPetpbV6f/V1SCzjy
            hlHmIOETbi1Zu4Gej8bVW7kV/xlFXJ3O1zmP//v3v/PfprKuMf5vLv6X7gBw
            Wr6DFMz/mfqpEQRXFqSFDXXsO+GcuvbdlFnUue+WSlKWEc3087aOKW4/q28+
            tPMZraAjee7zoMxD91kAskXUKj2SNGkjUSLlZszV0y5zOdBG2TdKqaSEqhlY
            oUjD4ll+TfYYGI7SpU6jtSECpVFuUiQ3MSNeh/4mk66ABhjJedCUS7LB7C50
            2uFaY07uKrFd68RX+bxKohabbRPyO+8z+hJ2uUChYFdbVbMwl2vLjAA7m3Xr
            kO1QBh6hWh196h00RYw0g865XmXMq11byj+jGTCEuGU6wUsZT2ntmUV2aI7i
            GVucJhvS77XlRO6i5Hiys2ejioFisgvVXnGKvLwoMIwmIUI/bI6XPXexNnfS
            ylYSZnce9pt2cs9yMjyzcrQGuMtVylxpfJsxqfk6Xb72vFGRRjlDILGF54X1
            gC4TcyJDblOusAth7ncgoQv+MHeY6/07eNq2+VRT8Zw/Po9LVgZoGmvBetJ1
            es4JVasgQ6a76kWUSwNC9J7Wxa2SjKDBYvZ8D+IOlXgX0TZIbkp0KvoUy5Ud
            FT9efcuHx7p1ibcLaXa1MTnvNAvDvfd7HbCOq2Dl+QzTyjZYx31ve3OsUf/6
            O3RuBG5Q31xdoIqxnzjfnQrhy1/YAfweFNSJ/nnRfrgHS3DGetkGwbni7++y
            +VHWBXs3qRh2Xmejep0J2X/y7PjAbWpnh/eRuhrsLc5ZnuCCQFVWZ+cKnIRp
            /qadr7JMtnhG1+28Oee3REoyHewjv62bZGBC7cygTukQvT1CVH1XjVLU11op
            XPKg440enyb3HJfR/x68B08STxsI00TrcwlbMYAZsNcoQwpYwxkDvujHRHUN
            5zB4zDiI6eV7WKTvQBAP7B2KaLl/PM7PpN2wHwH0X4i+u0lRtTiI7sKiY0J3
            qMOfvvvJOi9qTrhu7AvWFW1kDK9ZWxfa9H5RcnWses0rnqWOq/iFs+9AM6Pd
            gAk/T/uNM3udAxxP4NwXKv7BSS6tzawFXONlPEctAX+zcjnzwrxKqcXn8rFI
            /SpXp+XvqVNGNwM+C40wwvqK1RvXwL7DfBze5iMlToa+oQtNZrmUAafBVfYN
            Z0cQoHrBWc2KtGdhGgw7JKTzCfC5vu21FuYpt6uUMRqliNjkZkRGWTd3A0Gc
            W6kC9tY82kvufVh9MwIf4huyykeJOHm5xjqwcYvgHHuLHYi1WG6clE2c2Jve
            6dxHc5a564zRS7QtrEdtl7QSAF/R8A3WpKd4FXcOrCf6Oo9077fdJm3qpy84
            +e6kAUTgmZ3AJgsl6sIap+u657ot1ZEpm/muI/hf65in1eHKu47arY5w/FDH
            +qGOYnVwT911lGp1ECl81xHrD3UcVsc1rvOuIxerI/8wHyn8WsdoVge59LuO
            lIT7sYCbimjreNVx/VCHtzrWNU7hdvRhnUdup+HFcfC8GC6OWP9+0VYEhwar
            JqscwlXs8cr7k+aXJ/nYmlu2vec8UB97OgKI7pIavTpGuMvrehERn2aDX3HG
            US6KR8d9XMAcwB2or2IMtZfZcMBcWq1dsTtfKu/Rh1edhDXq37n7R90P0HPd
            z5w/aQXgbr0Q4CJw0Gh3Xz6+Jb1U2XZtqe4yaEP0kjc65H6POhvhwd0Oyzzn
            6QL+wYHRvEzibu+yxkbjEkBM0ks8G4QeWEuXZ/Ydf6wnq43YqytYsiBcnbFu
            MV8d77qIgsCarfwCHsKsFGo1/TqpQ3f7DFJKBDQPehBtso6QL1KD6IfW2VWf
            O2FU45mORsdxjCzLMz+oLThIi9C2W+IIvuVwagd1TS0i6LnIZ7c1VAOMaQBr
            1L+rPzNifNhbou3WoSu3Fr86MbZENIR2U66un9hxDpu8DM4j8AQIVmA1AjCs
            40/9xlq5hr56ifdYBnMbMLdASqgLgJ9+dST5znbbenrQyB4zHWNMJ/Z02mtV
            GoVWNr8kbAAH6YjQpWVE76bmI5GEqZL4T+vvYt3E8NW0NKDMM/tBo2DQtJf6
            hPWegAJqG2MdAKDnBTjLeZvVvawL42veCmA0XSMTTqT2QElXp5uf6WJ9LThD
            qJ7fk4YjMGmS0AB/0tstyq1qiBaSOJVQiOJVeo+BngOpGm46bDi9I30O6oFw
            3NbjdAVzLeTecBZpgQBa4MKcXKRvgrXjgGQJw7B3O/eopwlNia+1wRHE+0or
            WSAE1M7fFMRP7DlMMSYb7aW9HnffKQULBaRnwhnZvIPOwiV6IYJ+J7nciXc9
            1wv0Rd5zz3KgR3omTZo86IYVuB5p0WsE13E10BOceGx9zjOxMshrnhDCC8c9
            ij2IszzbcOjm8zxrTQi/OhYRe7PxvrFvB3A07glac7ezRx6M/Umkc7Ay+ebJ
            gimSbX0zdkBIMhEBbX7irHLPUG9HPklqu/ucgUi5ZaeYXeH2Gx+D7hSNCHCf
            STtip6RNE4qWnNFoTsAVJ9oyoFVgj7ppAmA20qkAfKSlM5+Jbt33bt+7fe9F
            vySzV+wxit68mt2DzpUeJji7knQU3dr2fRN9I0tE7Jamvb1pogs0Q6aREWWd
            EzgS/QIBnAGTmnTwrVSd0bhApcbWHOfW3ecWNCvn+DwMFpKzBeGJl472DM5g
            tzeNf5am2a81l2AExo7VkxNC3DaynpZdJQed5UiBsa0hnmNd++Ca44xjP7gh
            Yxc9r1jD86ygo0HXgg+d/ehqzeB04dkdVKajj9rzh+GPuBa3ASlh3hfCNd03
            WjTu30PwrnGvV+yTOq91l3HHu8wi3CR9COxHo1jspsvReYy8IJ2GzSm6j7Yd
            8ED1glKj0MGTpsBIun4T/zXyjfgDDdr7tfY7YMLsMzUZFSObK/Bcvfh48A39
            qJNwqJPemzhTxLUbPoKWv8wJm25+ZLFw9sBbvMZvtA25rhceJozjZvKyXyPe
            AR4AzA9rnBsPFRAJkgNgB2hPrs0rAZOt53nBauu+DKO1zT7s4nrPG6eVaFaf
            MsbdOFZwF7QMaAQUs/Em7gJTOcy9N2kHW8no6UpQVIUfmr6JNIfNgMWR+xXL
            hH2ccGLxDPu5gn/DVlvUCZz4uwKoCNAtpEtC4LcH6QyDsZQcBBrWg5cBW4Rz
            BKQForZkcJOg+Ih3aBTn53BpFsopQCIPn6akPBNlwy99BZtbULFDGwlfgXHz
            msFJ3HtVKWHQbQe6r7nS9N6Rp8OWBe4AA6B78M8ygHUfZYy/wD4k7QvOF+eb
            tGQjZFvgUYjdLpxxcs4YA1he0TE4hz5Q/yvSF1y/leHz0UUfk5Yben/JP1K8
            u+wH6QV5Gv4E8vfaGjh7WHQK1WrKqJs839hlsp2hsQiNqPWhffvb6hsF9h6y
            vYY9Jtg6qhnMg9kc+zr9gw/r3e772ob15lsyXfyEDYEzflF/i3NKOp7YsIHG
            5hjYfxppBkJN70lzkFYUz+OAIbDWrMNjcuzaKKBoQICOUq9MUxJyWsBUhL08
            16AvSumArwMkgHjSBTb7lIzI2f+u/d/r9fu+f/7v+HpDq+Ty2UfM4vBclWpn
            OmAUeYJvCdjfj3I4J1YuGlwAhSGeoySUPcDjgIbxWC9+Q4GavnGisyrhlGvX
            6Si22fyBJ60H8JHJ02GPUpSl58Q9QL0jkp5ggArMiWRPjnNMXFPuOaIXOffZ
            AD3rsUBEmp4n4cS+3bAPe7rVZhyv5AcOXekYd7tGKqgjg/gD/Aagwz7O4Coz
            pUAX7UgJK/mcMroLcCKRF47X5Dly1LSin9FfRpeiryy3GukswnIABh0D7FfM
            18lt11ZqN3zfvM67n+++DfYNczbzNd6wlYISb0EajHEmHRlALV6jmlwqT9v/
            YcuLBVNJah9deuGwzwXxPQjoVTbvrLOH/dxJmAdQEV4hKYDfJTd8yU/U9PnX
            32mr8bFKyVFOzVLkDTkJxJM94/FJZbStHY33okS5UXgtXgl7JcT7XT5JeoDA
            BqwYwOheNDRQ1JVCZ5ATymzJ97gJ2FApiG/ezzNLqbomgRptBwBPTUhj89Av
            yVnWuWUVhGOnzjY+Jv3Ike29q3MdQCFt/hxMwXjJlx5zvrBDMG+nol5w/CMS
            QGOoIFZO7n2rz3WeC9RJsLzlF25eI6QRVBa0rQ+Cv6cnn49n8TDVLH5nkNXa
            j4K1dIAjy40r+ULuW5yPRViL/XaBmKoUQYg2qlTois9wqCHEcHl6LINeG5eT
            oTfPWTMeEzQE+ZlFubPpIm6dhBnzbDuCPfZ7X5HX9QTAe16Fg5ZItEh5x2Iw
            kIjxo2sFe/p4yTxkrmxzuuuMWWt09l0X6V4H+CO8e5A3eshPEtYnWF3zUdeK
            MT37mYpo6XPuNTLaU7KRFI1aT5UGojVqF1M8LocYf6rOzEg24PEINrkmjp3r
            BuepT+nYw4QZPpmMUvO156850JfRVEfCIeSggLvBKlTK5TZd0qZkTViBEzAv
            Gl17Lvq3Y12idyMI1gzxUeB5KEsEIlkWcKO17EQkNSpAjkb5slv8ptarn6DJ
            vSuUfHpfzuOuf6VrEAeJbd607nZgcofC3BRFUqFhhavv78gvO9L9RUw7/Qq5
            QGoP7/vNE7KP7bzm7iMorHqIV2Tb2H94XjfdDyp4w2T08axF4t/gcA2ao3zR
            EL1eFKIt8ZGkKwjqsnCo8V+1BuepTigHRo1DYvL1eZ6Cd1TmgCVqC/uh0kg0
            2n4gHFig6XRlqTO3hrHMdU3Ru7ecrUqW7Lyi2dBXhBEx6Dt9Ur0DfhSoh3I0
            llEEFnFdWPfPcrXheGqvAZwTzis+w9JeI8gc3I8S4i9ARYz9ouFwTcEX0g2g
            GOTuFVj2+znwISAJnW1Aws/Y1eZhbXovnZjmFd+ByqGEFs+cycoohy0UU/XH
            vJCbSUCl5OlZZyJ8F3wOAP5Da+bUBkaDswrYJzpZ8wZ+Tk6ieJ80h/3A/hYt
            GVeSDtTZHAEYTOrdCDvo3QiM0WoF2YfrbCAhRYuftAF6f7vnF2fw9e0oRFop
            8bvYQNcyFAi2RaKFLn2MwNZvmYrG7GXx546XXAwHXWeiDt86OT7OgVyas3QH
            gLe9R7qWZU95DGg10qnmm+hd2PzToC+FM3qJe2mgjzxfFM+Q3iOtnZp910j5
            OZOV3XKRMy7imyx6swK7kXYgXszbnzM7s7ROmvtidZNhwj0t/bgDMdeUf5KY
            Bb+JtdHcXmmY7If96uCnRKOcdj/yBU6wyLyf3w7ZZI5WZtT3mN9LOHx/3+7v
            865vf9+xdvdYFvYx+Z18gb7lzJKxAZouCn/iI8Am4AX5grMLxptuaM+rrTG4
            usG9DBwDcsvkVVO+qHjmRCt0ijP0zp7hPOZOuQXlZQm0eQh5y+i0fx3roHEW
            sIN4JUMWtpe1Z1m/tal7eddizzO4VRpoz3E+sKLd2q2tdLUtFSLadvm1nrOt
            YXQbiDnwrQtfnw/ZcCUV4zJQF/4AQSulz9g6xHv+AroPlKsEzHupyeEAOBJQ
            IDTBh+L3GQLYhlxAL7kFNrBfNKRE2Rly9/RXID+x3uXEJgCEfZcNKMtzVOkJ
            QaoMvCwKDTdAZ0wCZdCDLtPPt05MMvUG1AFg7/dAHsZJJ7DWRoPW/9eep4im
            aM9T1gTE4uvqPC8ep4YB6MCrZdBBZKSlU7HvvcEOxcnQ/BItaJ2l9OMaESlg
            LH0QZ9BXDOd0GMwl07QYfY5Klfv78Pg+PMp0DBXfgfERfYk5qGstOYHecgcH
            erl753kW33AymUwrAXb3IthAmgpU2OgO58RdZ5YVgskrhXqwx92Fc7VtHZZ0
            9dRvZ5MfgbehxAvzTRrZEQzx2aNcvcvh8FRGhlG7xI8tT7Y75nXeMp1cAEyi
            8dyyM5lGJ7tz22Rs24y+9dNrRwygMtbLuduua9+77LZbzn2178E7GlSP9hwc
            kjf+20uPftJ7fMjNxN/6VM24KABA+MvmQ7zE4zcl+frtH7/5vIbj/u3v38fj
            +eM36gNfE+r9+35+60/L5hWO3Wegetnwrt3XdiTp6tceWz4+xzL3c5wNm5P7
            up/3ffXVKXjbGKBFgDbO41NPBGoH0/feB6C8gvQZFHGQPThWAqQA2Ca1ZfeF
            7C4OXy6FAid+3+/vsX8d5Y+kA18e8t4vkfSeCjnsfnx3ZdJNmaB1Enr1/RvX
            ePo8t66vkczkrJ2is0CEPfqqfhZqPdAvwNhFmh/njmrsDEaZ5RkV8qXjOqyu
            Vc9C2zA3yYy8eVE7L+KhVZK0H20AqHfy265FE+yy6H9KhWJ1PDxG74NJBK1L
            i5Kje+n3CAKmA2finXQ2jSra7rL9phkw6V5qtmgfcdDpzGBgI90/l0QfHTCf
            9VIHL3N5fWNysb5/s04QZgD3Zh9zAXYAQio6xT2+77Ump0xdJ8bTab/kf5iz
            5xop1OJJWpDrnUEJZWCkbCEXcOW32Sn65s/fGy9p+mvq87NLTiZOeTBiJ/eR
            xo11n4wCuvULQPqYxOx0dvBdr2Z3rjl3JMxzW85o69hABvWhWD14Tj1iCOCV
            8bca9+3CnuqgSwO9b4HrGCkUc6tT0qgtkd40aAzk/6kr4HqBTiG0Ux0n9vJv
            6vBnHKoHTH181EEYivF5h/nDeJ31LY/a7EyBMqPsa9QBJqyvhjKYC3uXSA52
            6bfwlwPhturC9iUuZV2/lKXuUmtBCRBANX7zG/QJTAPGwbn84r07+JWMNZnn
            Y8+wDqwzTf8PkqnOzpAFK7C1zD/AkE4lA/fukRmgjOc6AYawrHiSrPgNnlFt
            sHmjRXGlTolhIGQTqHMxCDN/2lf3WTY5Sd6242nbURm+OXZEM5dpW3nQkEXn
            EsQL9jj5f5fDU0YjKQgYzUFF1bZLBMYF/QgaP9dhemX2iHIPCx6r83eYjQrt
            a9DRVN/4WnWSV5H3u80zvweWb9jxkrUQzpAu50gpGyEOXSDIWY7lC/AWgFq+
            4UyW9YnP2zZRNHhw4hkTDrxsFSltwXxTny0SIArBlcNgWKJtHgWebr7LhniX
            3WWe74ibJXsnHS5YRI4EOF7xXy+FckkRFOVxBXdR/8sxyjRwkATzYI0JVc8K
            JHJmWQZi5NLp3zZZtqJmb3HN93jok59P+w4stmNdP43xNTYba9pjzDaOFM6c
            AyPxvuB62nOSf50LzTv9gk9Hz6YH/w4w2LEbArZhp7wGdFAB8UfjWNwnwAPZ
            E4JdpCu97Nvo3k4ZDxvv2jf32oGizozEUBzlDbkE8nYYr+xsqNdQP2jnW10p
            G1exfHUo3yIondgqD5psD2jUt+uthqNapm+zGHHaYHbaYYpnWwuYmPailCmS
            TGc9jBpc672etC3VEaNtqco62Q691gc9nLsOPh/L2mJsCgc++mWPudvqtK1k
            W8Hawn+5Rw6FAHO6vtrq87OtuNtiHbKhvIDfgBIoOaMM+B632gMlYPiARE5R
            IKFt2xkFa6jbOUxXJsmiP00+6Rc2c6l3WbUfb9hitphuwxi3o4gCbKcnjXpO
            9auG471ncLiN1kobT6Hp5qUDAKVrfuvSiQJvgObsSWZ9eAYCDDC+gqddD37y
            LQ8hrgkPPpL92bIJ1BG9dOQplW23dpyuMqSZdGaUQ8nskBrjJadxjjc10UX1
            lrFKXoe+liK7R9J1oN6zM7hr9Pc3XR8Ar4CwueVeclDZgWhfjHbrqaXTwVr1
            HhflHceDz+B9fNxLZ2/n8zDKUmezzq1L6NjbpI1e7YAGTZL7FYmB+BvEF+p8
            49uG+ZtNOtC69ZLtLs+yjjyeu7oisTU3ljSOkca23m3cM0hnTdeOLctqwfR1
            1CfWR//xHOTJ8JRZ3HwSDat5/9D1m43dRf6i6FizHq4j6KH6wn3J6j8eOLcS
            QyV6GBSZqD/n6qIfRHUtyWePe5Je4gEwFHPRwEFUR0kjw1r5lkxmlUiXNF7s
            fpKfNS4rWUByx7A6K0/aabi2cRNthrsLpQJIkaclBxNw9eKBvYSeg/YzhZGM
            jEc+JDukDYnJROyKgya5EDYs8O9KAaCfodSw3ydN4jPqCS7r22z3P52DTnts
            Gj9g/Wmndu7fntiWOj/KfoFzCz15wWMkSmkwnvMwPRPlYi1SUuixgFcNPVl/
            t6yGApiRzfaPciRAJuF5yeZORjGh/8lVqUKINbmX3G2ZDiljbWhjxoNjPASo
            zAzY4K+ZGu25P+VV5OXv+inReL4/7vduvwcW4hzu8yAbJdYdG2Vnpt8jZcBn
            ZxljKc6p6wRom0cMHL+bjWGcTtMhSgAyk9c4aKNt6xt9qIWQIYtHSM7JtqsC
            8mitPGXDhfNw9qT4G1pncJOJvFtOh33bFrWfld+REuc3mXzoZ9kkU3zAXvZv
            1nq0LdfvzFwA1LjGoP4LRIPwc0zDnbQlFHlXHE3IgUvQj8JwgSelhJMyzYz/
            Zuy5hO9Z7v7m+sM3uz88fNUTyHI/yl+V6OJqxuPv5/54PWP4NUd9fpU8vin4
            /lc5PlM54C7iVT0TuNhrD7BLYxzKqzV+s3ev3AOHIlrGZvPjaVl63OtYu/GW
            E9eT9He/ALnD5eifKoEC6gflT70UyrrJ0NrG04dw48Hti3BMw5Pebxwwzc8Z
            iP9HHOH397cMyN0ynV2uTOmKvflDjLTtG0UnDGe2OU6CUpw64H5qMGkDdIXR
            6F/FmHN0+sGqmX6EySDy/k6CVi+dCG0+MKOyL8eDodhg5gNjgSxbWRMr/qIv
            KKFBD0gjgM3asWWMvujx0H1g+6B7+5RRf5NdHemxSIdj8ZfOYtOAHmYAJ5bv
            bihmVdp67Yes6JZnhZjuGDRmR7IjlMoG/yR+4nwbL4VrM1qT1rdWV6PNeHSD
            YJR7afvqyNvKOCXaAtCMwq78hjwh54Vaz3sOSD/0qkBK5QIZoPtJTo7P6c98
            kezlnBh7BZyp9r34o+lU14mi3uaadDT4KxAK9HIa3WTxzJRxmBmJwTybD8M/
            1KMD3uhZvkSzWFBKyj3pW6H9TNlq5tzHey7vKLxx78/02r+0L8Bunq9x+iX/
            NaxeuHJpjP8tnywiEG/9UKisMNFao+mxY1Df5BiKsAXpvUMPVyLvwfekX8MM
            kbpxehilyhBvRPokwkxP3jnuIwu/OsXOBk0CKM9vKXyycfz1d8Pu7/NtY202
            WcSE8slri7aMlfBo41gn2jGlTnODBfqP3u+esiTid6foAHQoqWMMQF4GlPG0
            PcMtjlKngR+OwwUs6HSKSTti9xDO9CK+uJ+0ZwG9ajArGOzKFGPRrpIpY3Af
            93MF7jObTdLkOHDgb2iXQZnD1mfhWQL8FQ6jmAnnqJmNEuU6ty2su65TZ5C6
            WDxVzNoTmMN8n9zw+1jdcIUmUXHzdLI7ozhCumDjRUy2W2iWVhXhCefE0b4Z
            BJTRVYkxC0FaZz8TZWhmY0BYEsIFhIh5kB1FOeUrQC63iGejbon7q+TG3286
            jb5iRyp2FZ167b1fDtmj4V0eohnbjbe110F81RMtetpK7Uh93vY2Q2Bs+fow
            vbTZ4xzZ7CmA1jRH6zJ4Qj9P2kDGacGnZDgTqBCkQMTepWgwuDGe0Gn2Gk4R
            8dyabz1ToW3piMbXcn75O1B2QNVArGajAXApO7xzOb5nth7ajMdBG3mzF6On
            SQW/ju1IaUluQzqOKj3skE01bbOMfwCIqbQ6R13daY9kj/pqEs+3FMvsNDnM
            tj0kaPL0M9D3R2l3++GrfXe334EvMA6a0ki9sz7LHfkaLMOACKXcflml0g63
            ZOub9i93GbpUwt033AedLfCVi3Ctyq5zmg0sfeXYL3pKPts7+9VpOX3bwXJM
            wO+l6uCSrrtGps0H+prG57cLUJ1zGNDn+3uuC9ET9yjI3E4RCeuJy/p8yODG
            h/wxP/KKoqKR8LnMevVXf+LuTxvjtifL7q+/R3Xn2nKy5C1Gzd4TiW2QJwoW
            MbHSPKq0h73fbR9I2wyceisj2+hg39F+Z4xJJo2y9y1fqrvczUsGb9RsMZsX
            QNvTBAZz+wPGxzfx/Y3kOKJXzOY/0TavSWhKdsu+rY9v6+NbZ/4JbBMwYNEg
            YFKh3Ow7ycP3dzy93/0Mp+zLJaN09u7KFO+kX+fnhhOcp5xHlx2Cl3xCBCTO
            74s3J+3B+gt9zGhXRqvStvl2RUQuiXPLctwzJYGH6JSIv8eDdT/vMkBY8vfm
            /ByyKY15Ln+feyf4SblnuDrhiDsle6ah0ZYZiA7LtPNgjBDVu2TvR5isNe+y
            UjUbdtYJnik4xhFpqC6D1Z6yp+vsZ9jzfs8J+wVUBz5sl4u/L5eazd0rYpUT
            TRbNZ7MLdoK5Nb+KaamzrjhO00luuLllXIAL160Xq9XeWcwgg7eN0T0pt7v2
            uwcspi8R35Heo6coc8Nk+ZEWEvLyl4r4TY7WOfq7YV90s8+gHRj2iOQtKN/O
            bWcU6fXUzCYU5UE7mwwC5dtltrFay0S4ChwDFCO/Uq/saN48kczeTPYsOLyO
            sL936ZF7oqFBJx1Fy5jtS1lsXzX6glAvgt0vG4lmfHu4opfNMhX/zp9+yF5x
            ysexkxlb5BOmq4v2uxMtO8pLxONQ+Yez+Lof5hOCXoREvOuYJerxvtl7csu6
            73Yf+qJcLtLu4FW22Dvfd9m6769VWTf9kGcEkMUBiMTF7Gu3vioUOs0ysUb9
            rs/Z944xUeWtdlLib+/S7lcFA1Uez/32cRkrZHnM0EAB57HK7qfRFhH75O0L
            Q0kmqDbwk8Yjx/3cL+6ZuPGgrVF0pmLfa1H3WlCuAYLCF/oeg2aj5R3oEnqx
            NsoDCQtBn2JLiqeiLzTpQNkcOcXCLpXM0sWta/Zz11T8TtAuYqoYXUD2U+JJ
            VihNOrRO3GG6LAZIlnzSl96c6gqYM/MV6pRvebf5rcpDedfVQumq63zVxXU1
            P/x3XWpL9c8dy2rzWpdsBrxb2+5YOIW6lipbOtlpkxZxajeIP3dol7wPGfl0
            /x5U13Jsr3sqMRutr4bxCoVziOcJR7BufnfGHkOj1iDIhq2LH6CtIsvwHWNa
            OclwcXbptEdPSfnrtDals/PynjS/qJYZX4rzKaxo9qPXhm2t2phBpykDVwHN
            N2np8aDrZFMKjhNwt4kHw3zMQpmIM5uXYnZ6RH+0wWzUVRyWhZFjCowX3xeo
            WpByjFhwYodM6cX9TTNgfhwzOmFPF09BjGA++JdyyL6ettQyzJ7iC2lfBYwA
            ONLcHGgbNCqo8RVML+QAy/iNu+0RSjO6FAzQcKGb/8ctD2P74kVAP7GPpLnU
            T+qWiR+mzTVjn3RvOlnGXHk9n7v86ZTVj8HwGR2D+4zngvpejQu7jrwOcazm
            YrfNd4x3P2ao255DMWUj9ji4dcWTcWb/jn0WKeSqOBPcU6mBR+iecVycpx6Y
            OqdIhRLlACuOVIPT76k9ymujjPl5peddZAB8xVuhssxLP0vYf1TjPSiJpJ9A
            vXYugtNkP2EnewzTrtf2PYz7OS2ZLU5c3XEttr0s9hk2Pb2GFF9G+tLT4sRg
            0/R4yk+sSody/yZtpPglh3zxGBfBEYZh1siHgQ0cO6YBdWGesgnqgLnbZTe3
            743eLRpvPOw+0lK1ZtEBbI98aaXebJpc5rZhp50wY1mTMunyEfNhve2vL9pd
            cwyLftenfE9rDVYnf9Neusx43rEXbh/e3Ydbp0XeNs42eN6qKU0sJgNNUUoy
            P019k5xkM8EyiYKqX2minzMzdkmb5usX3OyKBSR7K/KUpVxrFvkiOloISWe6
            26IL/t2WfRdf35F+nZIr4pnaiPP1zt91RpeqjZm2ELS5lt3rpD+g7C4riE5n
            a1ltLav8C7HZDN/xe0ZBSMlga3RZuEmqq+kd93KMxi9nwlZq7Vqh7KG5tn2Y
            nPxtC1OVxBBJ7ykTkWP+y1NxePDWu5vvVj3Em+3379Smv9sMl3ZAnLI86L20
            +zvSpTW8v+O6V/Angx7C2y7fEmPRXjKGwdg6ex4d5QkM5rHpBdpj415+2xet
            b4bxzR7jxQGqe+4xYoy/eIJeznmrZpfu5ZLGwO/xEuZf/iz3b2bHmOf7vmuv
            nEW4LsnGV7Lo6mTTv+j+IoPmZj5UoFE63w3sd9KAnhI8RRwI6iezIeJsHLau
            cuYRfw742WnbS1jHtZTflIQinu80JhKETn55JICsPl/xrNqzswYrF5gddD+L
            9sydMuDvbftj0XYd9685Hv2amuP2oslecyzaBvueiJ97l/Kce6/ftIz8BjBN
            jEkEEijJdjpG7UlyilYelH+yzAuvuNlbpyze1GwA19NuxW8eoEhcjTVxV7tt
            exV/CG2d9dOe7/Y1IsTxh/HytGvQsxItFkGWX0SXbAvzfya69Z7UMSzFoxjy
            cyHWpP1WfT3j+U9ZOsnXM8a94LM7jpdfNqe0J1/vuBAHY+YzeFl/0xInoMLJ
            INspS0a0z0IVTAZ0Ae6nd1xmfbSHUEBQQNjXM9oPH6YL1Tc1N8re7veFPtXi
            hRXfoJCjYT+fZfK1y9Rdhh6jaTjJQLVAy8aGeWI7s5r8iHOmeZXozuZ3imGn
            aPFz3hN3QfGydSHeZIygWU02RL3c3OeWPmbyitl0ylRojKq27jasns/673pz
            ZhgknN8FHj/6fPa3/p00LMc3J1OsXLJG5DP51Dv5/DHYmXmh830hOXAy+me0
            fkR8E9Qmg+ZeSjl0mmqdPUiZg6QPmbtlmnXr+W+fD0DH4t9xQa4+48JZy6Rh
            KON1rbjSQHeVQS+9LBnLop9LoYaWYSDOGDGqzOgG1O0TZxQJAyNHWzxp5FKY
            HBocC1ivTGk7TdjpCuyaYskpQFtVe84lxsKlUzyorAxOWHWCrjqcXfHMMZID
            7dYfzzx18qQ3GdUImKSxb+daFMY6xoziu+hiEilNQwUQOx29xKnIK1MeDkCP
            FgtzCjoSbeAl5nmYX3hx1g9qnuw69/NejI63e+D7k1F5Cxgx891+lufz8SiP
            7oA1Zn8L4zPPun9rr4OOB4+Q1wlUoueUYYiurbOJXyikXUjT01By0r94Sj+y
            +1rG3Pd8Dmjp5P9/qu4T7+Tl7LUj7L36pW+cG1l8ie5p5Wp1n86dsq/bdZ80
            tiUE6dYGQ3W7Offv/qhDdR577B913v1tX/1lqKi7ruL641vVVX6q64f+NfWv
            /Xf6d3/z3+ub6jl/qOe869mxMryViYz59Lp3R971vL/h78e4zntc9fqqp/5c
            T1f+NK/4Hf9Tdf5365FTSSfsYG4OwYwSFNHGYAazwyt12KF9TFlq3Ulo3P2O
            63U///3cf/ZL+oO66yROrjEx0WhQmIlGOuNVP8+gEx/vJT+Wv4hiNLjBd+R1
            pc6W/+NLL7azjLXNR7Zm/gKbB9txyBWE0rVXv+99wjYEI3bMB5OJ2u9gcYnc
            5ldwCGgvRVkP+8TAc5esGEDWT7IwxF0XkGN1SZoiz9RTtodlx6nSckjCL0DN
            Pve7abjmhi/sy4bz8hFjWynHOMp4ldcpRKlXHf1ZB1BdMvioUOYF36I7dIb6
            +D48vh/P7+e7DxOj2H0IwEpDJuC7nmL1jPmoZ4+F82rf2Xjub3P5R9+e+9vG
            7xxTL9FX3+JoZev/tExdlEUQnif7dqS9jtniJJQMHPgo92+/L1/v997wGgfw
            M+EgIzt1nSkq2QJxAW0jVvVDGXuJF9rwGsd5nWNsmovmjgxhF4viRu1zQsEu
            46oQGZPrljJuUKemeqlMFi4+wIWHMEOr+16WrJNu96C36EMWzLac97RjYlB7
            qkFom0VGnPFSaX3Vzea+kaZmJAjjiT0j0zLCh2vx/Z668Cm8Ru9oNykPOh37
            QSOSs3TKVCkmfPTJDcbKDGxb/nbWrzhiYgw29CX91K/ctBavfqXdr7T7lez8
            vPoVd7+i+oWTnc4t/yMsmTZ30fwEDKYInkVGmFj1hitznsViqnsp2I2GkyH4
            ou0h+0l73txzNVvOJj+VaGCuS/7IeCvYH7Ipo/2v0ftKJVZObJJlOmLKGO/f
            4EkGY8ydTEi26wPbPvr+TT2XyjJXz62LKqBn23VKH0bzyiW/P0ZJy/dvxi4i
            L8f4BWb33eWBT32mz+DLGTcBJLHanPJv6awf5GMfXWOplHFzPx75YiYF2i6z
            n/TkYDAezgGzH5RO+SiFTIyKRn1YoJXB+zfrJrdIwtba23oB0ISbVnzFliM1
            SvpcAp5MZ1e+50nKxz2OzsiS4IcZgDjMxZx21KRWtnea7hmTQaM67CXNo/m4
            dCaGcBQ+0i16JcmpaQlCPwzapYY4wMUtWi/S6qgFyZfpjV6oS0KT9iytcMcl
            nnzqZQsrnxPOD9uIj/dgh/rR0mHSsxPU00lJRcMaBsal7YfFLGD8WBqYyVbb
            KdqDZPC+FgUbGsPiCoQZGcPRMV4Lfbk1L0otYXPQ5zWmPxXPxWNxak0R4Id2
            kYECRe7/+zljzagfFhub98zVV2U4wFiIg54hspOrO15lsH4ExlzqLgzQiJLD
            0LZJuPyY+M3EGI7h9GLneaFP85nAEiWtp+nPGcmTJmimdzO9ITozTp3DpYwi
            F8DYPouMvOEV5KgwEOOUjzzlayfDOz/iBgIgg2N62ZnRVoz8c2DI71oUv5By
            F/KFqfIMEFbt+7jv/b4/7Ny5aveyjahme0idlOyQLHQDzUEv9KkJ3qdr6Eo5
            hMNsr+WYhPAgvWJZ3V40ChZGNoFt0zKpm00Pem7XaFcHLlLvp5VP+zmgvl1v
            W6Bk17brzTQGV1xl+z7ueE2nt3jMtw0VpqhvX970+F0Bae7f5fG7WdzyygAQ
            jNIn+6Gr2DzxCGKDkR9yd8xJwV3AxdwlL2QWS8mrtz1TUG5URxvHomiR/qQx
            8kV7repO0+gc+7tnHXlcIcrT7iRtePRd/mRczjsOENUp0g/K2sSdydoC/YPd
            XBW/A9g3/Ku+3u1Qyi3TZJzdWU5pElnn2nuK8YUYb+7RZ8Yx86YvpFehyUv5
            bNfpusq7Y2H+aL1v5wRH6RFjaW4ZIogqgqyh/XTYGiwQ0MszyLp30vWgH8Ah
            43sNfjcmzn/Y37Vsc/K7ueD4L0DFu+/4DZAkX5gyGedcU+7pL4qNxpgM1kdQ
            MBLrTJxjwIxGmSueNc6D7ql3VBrGE0wKfcMZBEppjrGukdFXPJODUepIA02c
            U947Ev6042Ujfsd/IXGuFDM0ZvTmA0NahfdRe6Eyrnjd+CUNytBoU6xUOtmF
            VNLAH//H8OeECZwbrGvHqQF88/62++Mf7bAPQCgn+u0qmKvG6zGvDp6MkljJ
            mxg00qdS8AeaFsUyU/HudxFHn7Zcs3VKo1qJhFUh0kZuNZlMEi2ZdRvB4M0L
            uYv6FhdPxcEt1+ifzxmfhicqmDuQyScvpk8CHq5NDgCN+EYxkoBF7jh/b5h6
            rKOFN4zNwLuB+b3Aceq8UwTdmCaASoNKmzXFqmNMJtnEyRRPtuXeYr8NBkLH
            xr2obuuBsbUdTb8ZJ4EkMyCJxQ9u2WyVkxK6oj7fgLp3vC/GMaLKsA/Z5jL/
            r2yx+X0YCuGFfTMU/4F2yZI9YKXrvheujSvcbdhz0xPpmSwVzuN+/pv2D2sf
            U9i86axoH+KVhZixgxTbs+w45tyjxb/kozqvxI+MIeMVr8r6yLhUmxZolDWa
            Ya7Npww5xIcyVK9daVAq3VNU/lMGbl+B8eQqNS70lMMOEJFBfShjRJzgBXMN
            zuKAuW0n38gzoA/4fVCegE0U8rRYhopTkSyGAs8YpSxaxyr6jiRLI36g1n6k
            XbYp8bkjbVJPm4v7N791p0wJ5Buq54w3mtG3SkNBxQutqqdQubmszix5p/0W
            ElG8bax7oF2v07hpD8l6zEZBc8TfjOuk8TGWMe0JsC8J1hlDN3iLh49Oy2bX
            gWeQjBa8m5xmUP7tN0iVXtV5uAi7/s22aPdyfw+ehf7m1aLESo6GU1/Je8Yh
            dzWnuMNs44izct2o6z7F85HCsfVi0CLZCPg9HnrIYf1FG4O6nTPIb4CuM/c6
            8Df7lhm51nyX3b0W4IZk82wAnIv7w5pTR7ZpkrBpjjHNHvncdsnnNFoDxJkQ
            fht2xbYMllncyrXbjnnTPummafK+btroppW+aZybRrppnZs2ummsF830RVut
            uOZTbtTnabkr9vu667lpJsyX9m5ifGfQuDy/4brkN023GjREu1XyS6J9g6Kp
            ZklFt/7DMm9/9XeB8mE2uePln0jJtOLUEm7Qsme6DLiK/b6axRTVlIWVXDO+
            wZUdY4vqGrTt1qVYi4CHU/ox868l4Q6O1epw8i0GCQa47ty2g63mH07bO+as
            OKa32Oa7XsIf1uupc9n5LWjzF3IIafvYz41LlNGSuk/HCGvgkbLlh9CVti1K
            JXOBgYqKfSt7BdkuRPGR4B0u0RY4U7eNBukIbN7SgCjoL5l9CG3P22SkhGj5
            WEZ/8wLjtHZH29e147Iyhs6xumJ9Oerc8d2Q7SEjjNNvf6lP7DMjsFWwEPij
            7cVwb1jOPAPsU7LcDqILSCsSNfVp77AOIAo+x9KbvcuRQiLwoJIlB4bxf9tb
            GL9z1C4dBeMPN+osFFOr3LGOCZhCo1yM8cs494zBd/vjWDx0xidn/HvipwiS
            7qI1BuUZqdZyAUUo3hUxfaP/CjmOk/ZQp6Vt33HKiJCSU8z/fvt2sn4aqW8/
            ADkHkS+kTW9hPFfa89GPSbiLsdtJINr8gb12CoQnWOjBrZ0kFyb3MiORFuDk
            0UUvGLzvG/Yf0ntlcqTMk1PWz3sOYJcG25f2Mm3zMEYGEedYqf/mPUlS3ivb
            yE1v0W002tiYPyU5xiRFW3O99KhxWkx6HRN5cux7kcIYdbS479SL065sKkeK
            r+EEP83n2Z5bHkiZwEijGBiviNR9liw682DpN4NQAFdxzTo98JetGT1SM2O9
            O5MdkCan3femI0jvFC/BkmAIjdpVx+C6O6vDBPjDaCOb28Ln7fbhPawePWv7
            2SUbVpCJ6F/Y/UKdtFVWv9bjW/WprttunfqIWZSxZ+cGA4mL8yD7EtHXFIac
            2CycHGppZR/ubJ280SV9NMlSQQMIhTv6wJdm/syXtK3oVzdeSroP8EZlUO/N
            vUJ+FvdTc18Uh3fqu0KoaH5KgdYF0n8B7TCMKuYvXFE+7ty7spnC3l7KyWL/
            lyydpjFlr1tlsJEyMn0ozqsHYnw+pd1VMVjEd22SMfrrb38GJXkMG17qyhwi
            lg/A3202wmDjfeRJpnxYjA5GKkL2TdwYdCgDKlKm01esR4CWv/6OIChIYQRy
            VUc092fFuBDs9K/YinQ6Ju/RC8/y9v+Qfz+hC63cKCEepE2AUnT1h10JB1NC
            l739HiRxfba4NDuWXyDl0E/G8qEdgyLn8yrb1cC4ikF5ZVQXzWkAR3G+E+/z
            FSQLPmXEun0Lo9niXXPHRd95AQADLaZlPGTH3rdtqHxTGYdq7veHvR/7vt/f
            rX2t9j5PuyZAObWz47H3ZuXGsb/f9QCAFsP3dm3TcusmWjMf71xXDmMGlZjX
            NFuHoPAnguGKoaihgqRn/CrRpVKiAN7Z87TjOlnkCNqRPZ7L3svbc/lo4Hl2
            efmXHVhOdT+/65EFtdWj5692nbU75fe8ZM+hPF8KTnwo9gjvp4W/TYybo7go
            p+Y8cc93xgixMVmZuy8nHchz+q47ftf9GEP8zRjib8YQH2OI33O356h+z92e
            Uy0N14Ac2ParwW93+1TMvbdqA20UQxnzYbdifFCnjNzi3LPai1y2aLFj+/CD
            CARNCTyLzxk+nWQq+VX5z/mCmcE2CjgqOCaKl7v3U6c/DNoUXF3Gv+8cH6IP
            ASgUT/DYtM59vXPiMSYRbbMkpqN9tuIZlePY6+72LAshdcYjH+s+e3Oa/WuI
            Fj/22vOQmC0yhmpxZ6zswtzQyirUR7wyiykmGoo2aP40X37QSe3Dt3DTNRSO
            SVZFnnWaDqgdiiOA02Sx0mWHdf+ub7qQ9klMs2Z5P7Z/Mvi/K19DNrLparff
            DLcn6zjMo/m480hSsETYwhgLgNuVRonsF0lhxqL0O/52VDJjTA0TIOEZySPF
            Q6ZpEmhK2rjKMu/GIfxPNpveK5p/l+KGJfr0hnrHQNtthcS4lyfgh1fsdv9T
            u6J3SW9b0gfFFFI0QncqllKXc7jsJNV+lRgOfQu7D4f0n69vlethf1spzwrv
            voovCKLPm8tfsaMZu/nn2NFOsaOdxY7W/NDb2Wzl1k2beeZWaOdrnmkjV/1x
            vPzpD+X7YD+T4k97+Za4ijmSwYBf8fWcORgavlfsFsERSoz8pqM+YonNJOqs
            vfyDrBHGG2aiBfXzHIz4o/wmLR+mgwCQ07sr0WJgNKJf2TWk0+wKC2Eg8Hi0
            WM7OZL/HbReZzSd0ab8G+crVcy2LYbvjZuDdpVgdx7YT3HHI9S5+vcuoKzpq
            cecJWrTTN/V8x9Me3eL1AuEydmYJy3KemJ3qjoeZ33Uq50mXH5dT+NHzUX73
            Qcj6Ub6cu/wJ5H73xev8frZruVFUR/Cf44jxWmpr51NVLNT2WQZ813usFfU3
            6d3baNI3XjOuAOSSabebaJ9/7bE/xupfc7vcX383TBj9g+wdc70pH5v12Wyl
            LGfVq0+01X2OnZp+0dr2DQUUYceytvL+szwFlR/l8y6/+3d8rYXvX+XLe47n
            0By7ROo4KC47fcv6bRfKEEv0ZTmK/Kyc0kC4/TzuHAs8bIAnc/9WlHlqOPsK
            sp9VTGkcLWe2waKMOQfHZAbRI982wPM4Xn7fgfF5xnSMWZHDcDufoROt7Smq
            oA9+Ad+0GFuEfDPj8As+47fLdi44hhteF565awzFtWfuJdQbHrBoEne30sWb
            HcF8yLLl8Xn1y3nFJGRs/+RHv/OeZZxZSgkkRKLeJkT5s8ofkDzKselyRqf6
            8r9MtOkGJXw087clfvP0nVDM9Ue5Th9Owzce3fWPPAJ5Xy/F4A50pHjZL8SS
            q8XcJqhizJly5yxOO64Oo3LJF5tsvPIo1g2bwT8lwKhbvnFYTDGeB/KKikF/
            63Hpn9KZqziD0+urijdnK834dAX8z0v2DIXyJ2+RCOhif+t9e4oTf01el620
            7ccX5IdczBec8oooWeQIJgcfXvb2DLjTKD8oZlsGWof0CPdFN/9wi8PPFd/2
            +fKrotWvYlbfcSQwIdm+rdgw8iuMdt+W5TNs9F0v0vPRq446j9bDtu+SE7TF
            MYsNCEXxy0BSugRUzcA1PD8YVFeemiz7K2aYUlbcFO/7XiXjPna8YsZd3++c
            PWsSVkbCKqJ48noDBKN2wGzyU1+MwUDXi3wbFLRDfghBTnXTcC2/0zllbOZF
            WG1lxJXIFsPY9BgVf5X9mhTmMNFWwd6kXJIZXdkXq9v47pTudSFMqPv3oMUL
            ZV/tzudHb17FkFjiu/udh85ofcXKqLZnVlZMCSbofbUtY7DFeHvFZKGVLnW7
            Dlea8voFm2vOBesBTGyqx1OWzfg4uOd4dq6cZ1kA9cZrSpYTh6YhCbg6Zfrq
            ANW1EZJ8lBhKmQIBzN8ymxbOO+c2OIstQBuAxNk4AmPyr30OfewxFeIthtGI
            5idfJXMGy9sVj1/R/xvp3u1Tm/sa3+248tLz0aDxkB9AiIouXo9Xe/QvSAk0
            w/f36eCX9GlR+07fuZJot80YJKG+18aVlYJ8QzFm+lNLLsN8F7IFoizIh2Rw
            mp48gCwhBKOtmd7vo9xh5RgDY8sKcRiK/CDuPc9Us+CjXmfg3r+f+182TUPy
            i6PIYsP25PFqjwmxBH+wntSxSTRLHIfv7zPHfT69ckpoT77Pg3d3/HCeVYWL
            pJ243ofj9Q5A7H4me0jqcDgP9erkhY6JozRuvX5p1XwnA+1KCFfoX3TDzEJD
            jEYnJdF15w1vOQbc9dtP//bHjzWA43NXOCW437axO09XTXd8cYldAIFNl1Et
            xuM47ve7/MV4l8EUnOSLdv5C/vZzxwHPP/+++brrjj+040heu79r5/w+d1wB
            2vyEGc5bziHRcTNfYrmxYY7cli8nZktT/FDMV9bZHBH88bJ4rIfFSciuTtH0
            Fsc1OtNhtcNsft06vnPMBMYdioFJUJWTcedyof+Z4j4wviD3sX6nt9xT8Q13
            nl3GtNR75s/YsSCD6B7zTaFNnt/56Z30vefxqm/bLrixFDWgp3yy/U76PSte
            kOqlPo97Xjkak+wbD+194CfKsGnveccAYXwF5md89lG+bDuGBuvnIFZgPPcy
            65130hvtw9gmoK/6ixaZooMoyy7YfdjFjIUJ4vGR84qxVda588Ie8qtSzqco
            ZQVDGBQ5jnFPg6g7KTmwnKr0pzxeNBvPQmhj9QY+N4drPWQD8hd1youJ00VL
            dzq6SJfU5LcMenUorzL1o5JTGE2reNeXKBzSgpN2yqAO2RYDFTx5fI4Rc0cX
            8XYF2iXQ+K+CBkH/mV2XdnS2voCQVJszRBqzZFTFDz09Y9Kb6anozCXjq0w/
            HfBZH33v/bPvvf3rvpevvpOf/IjrQf/lDhq17TwqZOg8KMvDzhD9cRmv2vIg
            u+F3LooR3eguj+IYchvPWh7TYrzy+TnYPo14+Iw7VTF8nOwdD2VVtHuWxeHs
            qpORRpVPij59UeDgpruxoWeVLoygh2F8lfvJ8hx75fobPYEBQV/ZNkXGLdAd
            Ujaqk4E1dl4uz/hqVEk76sAZbwxz16LZLhvYWVxX+uxbDJ32iicp+b7gAG0F
            MVr21xXg0sOCTH3mnmaCXOGrSYaazM2WN5AUp9qj0rb5nTPadCpZ9rgA7008
            w+SY7hyPTLTC59e54xCBlbi/E16lwosmXu+coI5rTBOvO580ebL7G8pGlKMC
            FDGfFUY5Z5zvTVsIXstmT7Iz2gAs5aJOFo9pXspNTf/BSdCbpuFo0O099biI
            D0HRxFeeU5x3lT9F1wv2MECu7FakHTZYwopT3DJNp3EBf1uMWAbGBNRo0hmp
            7055/gj3pc/ZZbC3mvz0pnP3d9If1LVzX/IZY0QzA5PpKsFATNGwrhwfc1jo
            qz7G2RgHI7prx6AOgzmfSHcChns7pwxyF5p8tA1nB5M1VP+GJ0/4UYjr0S9G
            RNY4GLfnsVb0zpXOONr3nXuFMfSW6d+4LoxDRABy80CMX9T2+FjP6Vb9gFnk
            E0E9YF3b6ss9y678a1nmMyr9r787HSq7xaIUjFoWn0vhcdAX9vs6DJ8pdcZr
            L1tsAsbVJc08eQYl1qW/n+jierxxiuy0d9hed+Mo7VfQ3wxAWoJ8iSVP9xZj
            +BUDmONn7kvFRreI6sz11+859Rv3Hs3eUT97nzfG+VVYjcQ4MXUo1vWmSe5c
            uXeuaQAR6Yj6zutSNh3Vd85ppVSU7camaU6jYebuF+Zw+fzX3+OkT8g73/kd
            r8HiSYIkTG+fYMWhYnhy0711yRwtJjZ3UgVQoZ9qiFs/DMpY9bTKHAuy0Vf6
            L4XZBW1eN61O/ODk22u4nnYJ8sVPFuvw1hlvGEho3fRsyq/baK+qXB2OtJYD
            3VxOs9kgR0LrcPE+pMGX9PFOtIj8ioZTDAHLjylY+/I73rYA7FOTVMjsW6V8
            CQ95A2OgJH9te/hLeJ3kqb/taGLJc+somwwRS4pj3XnEmWMoUz71jCW5Y4KR
            njuuOwe9dOYp7z6B1h5PmqvtnNMvui/ZXrtpu3KYzIk5Tz5orfhJa0XyOIk5
            po1HCUbznbKFda1azJnw0pXTb/sVuwWUa5aMBzv23lenZPlbX+JpvJ9Et6D/
            6q/iH3I9lR8X/KrsJ1pgXNM7BpW0yOZvkHdeePrr3jTvfI49WhwuwSwxqZbz
            kwA9KraF2RDjLJ9r21vLN4Z6o5tmrcYndcxbk65c/H/ye47mafQmfwfF0mxV
            ctFs+WRosUL+LJpdfuaaryW8c246yd3f07ZNc3fWF90u+Xresb9u0QhhKWN/
            +t5unEbkx7Va51k+aHR8ex3v+ZH932Hrnordn8rvYPBNW2bQ5hk0H895Nvy7
            4z0ofgT7ivPcbxv1NX9tc9DeJDKCPaYhmZ+x7BpAA/WNQwbzDinWa0zhEeOe
            NnxNRidZ8Jf+Ly9clN5w0+2c66RvcJzWi5544aw3/rA4uOO0yEObj4t33DiM
            qrz50vPoW/+9c2UdBoOZQxJ4N9X4OJ/Yx4wOYzbkO+dhoXyOSLfSHKL4eMfM
            0/yAC2eEFdunYtVN5sekGofF75bciokKqJ5QXJtWZePyGYOQfPXc+UH3/Zkv
            ImPG/bsU86/Lb8TklHXHAezKubGUJ/7ylK6EO0Yhz62x1c1sEXecUsYqlOvA
            HR8PQ27D4pHS/t3HSOxvcVyN7vQ1pFlXmswoh99Rccq776Ax8Ea6oXP7T9Oz
            rT91VozF7qNSQv1YJ3iS8FOdcf6+ziU9GPDYvX4hXq+YL5RIKjYOzxPRV2RA
            GKcYq7xSxheA8YZiG10kyO/fLEeTNMxHW9Q9p0az5ar3ZltHeqGmIL20ftNa
            CO0DvjbaXDapRehLSfl1Wgzd3FgOlIlnzB0Qf4t2avP5vBF5KuZclWBArj2Y
            75aYsyse9EvFxI22c8Vf5q9Mzwva257Mo3sU8wdkfq/j0beL/goUUHTtwXAy
            yI3d03NmJstBwfJncLqC13Fqw+Z0hDK077KzfBmHIrXhnuJ9xeXzl2yjCA+W
            gi3JEt9yNB6KQ0HzSl1PckOu0gasEDpNxVKkhfeOE0Gb4rRIf3DMdx1nfbzv
            yWsHFEbEfpQ9neIgHXUGu56hT62pYsvLWxD0S6KqpDIP56G4DEeT2i8yT5Yr
            K9BHfJE39MCblTH4aON90IgtyBePZRj7oYp2or6qEZmiX8zLpNzrrAPV3v7c
            4/Zn5zPjwWklKNo+9zNqLYC7BnEz+PDGMHQsdwbzH6j7N9HNy6eXcVREh9la
            gs6SfznWF4BiBYp8D8Ub60327hZP8WxntCRohFJJ8d6ics+RripbZ0cGjDkg
            sWLoy7myckZ6PQcdBaLcbDgJOnW12OQzOcvHnQ/Jk9ivk252lPsygviWDRzS
            QcomjnFFdKbKudytJ1zj3X/Fjm6tCYZ2JWLP0WiSytg3QTx9VG6TnZP2NYbY
            F8+j5pO06z0G2kZWbzHwmHM1M28kJVx5JbfHFfa4yohLOjq8mYH0sJNQBvAw
            ulG6fDoxXqryQWaABVVuhsEgrIA2sr7DTitaY8B52s2mbuuG503PAe8ZK8Kd
            Cyg0JkdbEtqXUuYDXIWd3chH/GnOX+faE58URlxS/9BnpzPSyp13rCrZgZPd
            v1d8UY/12vPfO/f4oG76DEwR2LcNaaL50fv+uc4UDIAAUKIEzPeiDFTzHbEe
            XevBFAZ69r0fsL8VP0aw9WBK9fO427H2mWfB4iPKLsUXSnZWbDTgsH5Rf8dz
            zFgxng4MQfn97PzQEqWtyjYYQd8V0y/c/eAZkZ0AOKtApfypfb/efWIm7/dZ
            A77uxuOURi6b55P5u+RXfvl5hff+Df69fzNp9vG2x6/SnlkgCeEyQAwPqFg7
            SfYwZVPZaK5pPjhTkhRfE/PMV9HVFt81kFc0/CZbsnQ5BSijYQl+17ntUyi2
            LU02KDY2hlc72arpgg/h3qFzx/HGjTfStUZi5FTzpcqzv3z0+n6ODUyzZ9qV
            Z8WHLYqvkYiLCXoVn5b56x0xAHBKs/rZJmjRLv980DGaO8WIv2OoYmxnpB7X
            +3NJ94GGve7pM0AmtaDt9Nijj3udi92OYHoRfeeiYphin10n5iqGbXspWqVt
            m0tC8+35lrcOYTz14PfZosrk63y1u5/jYD4D+80xcgpnoS3IyYwltgM6BTax
            0yeTOaSALDDBfeGa7FvmVJKdgdYG70xP2o2nWdSsROlvDr9jUPF5ateKex2x
            MMrXC+JmvWBve8Pec+fxom/46OZrJr3bAbq90utA/heLe+XMhrMYcuqkH+aj
            ftpK/VJ/WK86k+KdYgrPBaRpfHcy2vm1Tv3k+XrcMyb7+bjPhCk2D+QkOdZ6
            cQ7UD53lir629jq/NVGmx/fFYO4Jek3nn/FVUZf2uaKqDDfJ3zMHei1h9tvX
            4lJYK0A2WWswQEToK7GNWYRE5UPHnCngMeXrxHZcuHoyfbN4cr6v1/t9VgSX
            OISRh+BKY85tYJiTfnC0nXdrhMHY92QuzllrPqsCCiqSqTc7eFCNmW4oxOEg
            yQLt5QKd5pcrpLdpCBpo7KC6O8+Z4m11kkHEN71pp9Pk47GeLv66nopd0Ax+
            hKVQAd3iX3RAXtMzukQaNjKSl/QW9Om5itqp3Mu5kscxX0M5AkrutP1KTslu
            UX/yz/3OQ8p1wvmejO0sQ6AXbAExTcsRUDvOqb+KDcLn1Jnd8EzwJl20M9Gz
            sPEX9ksjn/4sh4VqmSLUuI4btm87scVjJP/TDX+V+zwsJqr1OnOtCXaek3JA
            jsv2Xazf+47ZHjwNrEmxy+bjjvsnudfeh2We+T5DguVdhmKJdoPP9hYY5IIT
            qjnbzwrORsb3qTDvZZzjrV8ozKlQYpzmpGH5n9Zh2gMauQmuMMbwFQS3A2j/
            uGVQ5P3I6/qdX4Rtjaz+R+YzohwUE1UtRxcpLU/qOuT0NW84R7maz58STprN
            T2RboO2oh1WcctoPKbe7W8zNO7Vf5e9oa+hlM7vXdT8DXtQairZhnrBm+bUY
            czZu2BExZwmYMFLv8fWuekVlf/mO4HfivdjktO05mOsczANzdZoXT0nPuIPN
            /fU3MOLKW58YaSvUZFM4iFIi1oB2tbS7mJM8IfgA8D6ns1z3J2OiXsp76Zvp
            AUYBb1cuxUieseMcKt8kYNGkXNL8y6gvaHomxTH4I3KoYw3ZbETFu3jpmQ6K
            45nH0GLBtpFFW7hr51qkTc2+n0e5YwFLl+Ue8pyOPULarwMY3nIfycSrfNMV
            anrPpeKl7JjqB9834qst17aUUqaHGCYT6VZvGoTiwFmJORVkBhtlVCI7s2iB
            LgKVn3e756l6K2VW5kzzljFF2cG89QIK9K38DXTa8DRvJN5lXjjUIUtdp3q2
            /Kbt+vl+me5RMsMuyZfsXxf1bowKYPpEkxF4PqKvUJNXr2IX3XRHI5OS374f
            Nx1ybPk/Nux65qEB+LW4z9HomHFYvA3QA/lJ1yitpmwkAr39WlS8C7PJGK+8
            hMNzLtplUSZuX/CGGWhbt3bbIZTLYjnTgod6fKWmPage3rbypL3C+crRwbms
            jGRiZw4cTyTgHRQJ4fiQuWBs3krel/N/x+xhO6kyV2Bh/EYXtn1a4LeEAcoK
            zG3p3bC8T8wdxQxSOFVA64Vx9/MB/uOlzwDicvf+yO1zf7x0X534463PYrR0
            xqC5dXyOWspmdnSUbYqmVQwCXIEjqX/sa+fWaaLHLOdkNt8T01m+9bbSXTIv
            b73znkTTf2nTbp1WWv50ZTjiOsWVsvfnMvmt0f1DdbWaP3WPlE/XAWzPuLoA
            jNtnljRJCCCE4/ZNxflRPAvacvHZYfnEdnxDd9vYy1GF8KRK/mtpZynnoyUV
            3aTmcJZfpFq45J13TLneL9FgssPu0XI90nmK8DTPq91tzC3fBR09PnRg247H
            Hbctke35dZgf1H2W7r3PGF46A4zzeyRLfedinZZvvN4xmaLfeepoq7l/V/MZ
            M9s+Z2sbt++T2XTab+q+jx0/eTIXgdFKifWwO3immGFTYtkrVfq1DNl6BOX7
            3XnpTvr6cUxjy2un7UnKNejKz3kJsm1IMtnknDOP12Aamjv/zFLs90Zhl4y+
            osWLEBgLkrvRBKLK5yeZjoU8yXF5M93z2u8WHj2gbNh6C+oxGO9gmW2yZNak
            p6P0UTr3vb79MO71psyG4e2Gf+sISIzfeTWFt4+3fzLPZUljdBJOSXroZs7h
            9ICyfA84c02/V8BZZjwB5atRPYR0nbETDouJ8NYhAG+SBq+jM0cO/SNePs/y
            VsP8JcHt11z2KzGF+pIoUjJkrOmW1/Ms13lpnuMP77A32q0jkPuRciHZmpB2
            e5YFHGoKN8UIMo/n6TBfINLNob91Vc4zlrnZOTRPqG59PzFXJSs+QLtz8Nww
            QBgu0u+DCT1tfzWTjzOP98Xca0xSdzE/GUOHTVGCjBFyZtqTo5wq7oSPgPfM
            VIVd3uXpSv/niwIp5mgVzmZ5gnzF7W+jMneum8ws/IA9x6Z5CXOq5Xnb9vTu
            6f/EuCrKwd2sjjrfdTD/w6sO9/s6crc6unymkjiP19pPEfr5uP0w7ry0Sbog
            Ap9zNrMVCHtet02Z/DxOgijKf7Ahb5jOfMYH2mEeJpwh5zJjXZ/llTtu62hk
            q9Rp2PPwR/uiS35HfziLv/cL3RKO39MlinP5A12Cs/1Bl/wTuoDzSb9RDIyh
            ougLzdwO8q+tkrsopg59GFbozO+cfHz4JDI3BftwbOqZ61ncjk++sH7Z3nFv
            x8v4tO+8UvLhcqNKdE+TBNrGuMJca1o67vmdc/vtx/fIU6K8vYy/4sfskzrC
            RC3wK4fw3T/B2WVyKYW88bJLsvZ0rn2m36ibCgInuy/MJYjqRb/QJPuvad+4
            aP5rMlUAhHHH+1753Dc9y3d3Trb4ldPspqtmv+ade4ixtEd6j5txH8FGuFeO
            tXwJH6jm9M5rreCRtM2ZSWYnOw5EoL0Hc68w1tHOZcb410G2Ym77kymLajt7
            uZhZkbqRzOjwdBmTfYf55tUgW9M7Vw3TYQAp1OWXYmqSgpBvFG1pOVc4nzvX
            MbjWFmwMjG9Y6eoZmMYaZzAJ1jCBW2b8KtFcVFTxShMFUHm0+77zOzGGJGXe
            YY727ossoGQzBKals87urs7Yk2ZnAJIwKfbIsEyPtF9gtJVM+mjUHZ/J7Hbk
            5xU74MGVDf4whtkwuxScfJyViW7deB08TGEuE9r9Twt5QZ8hEHvBAt9d2xBI
            tmp23/Z9Mh6PaWV0DxzdCOc88+2YTXRpzOeUwnqeuYV5m9tnkMFdtg4vB7Mn
            OBQDBnM1Fd9zfNh6sv4xzMbS6o53/BhGKVBy0Gx6b+Y90H00W2664oVhPrxu
            7znRcrQliOYL37bvPGOSMGfxlLWk2QjFV56jTTNi7i6vNrLioETL2ckxU8jm
            95j9iDOnXMkD0G+bccuYR4a2MIG2IumyzDC0NS/Md1VEF9HyrO0cBcphikJ5
            7twC8UIDtEnM9T6X9KxR7Jx9H6nH52Hez2SvDzqL8SBNrmh5SCP1JDdf0ajr
            AHlT7V1YV1dQk92eopbyeZEft/tX7ZsXEm1hZecW7j7MfS87dEWSx8xxfjnW
            vnN+HRbftx0vut9iety5g53lhmdf771G61H6uQFAWNyBbX/BKHPa+8We34b/
            a6H0sKgb8vIl4245mbcJw6HvfbLbmuw+7Pu+79uu7x//G/SPOv7tf54uXUO8
            37/8fpLLdu97Mr3P9zx12fy/Nme+v9vRI185Tearws/uT+Plv79/dMDev9r/
            GseUi/cewrAdkEb5sWy0svfz7/dALYVzwkC3/Iu0yQjxVeqsNtZ7Sb8+J47S
            XI0ef5yrvOdyHunH9+MP7ePnGRQX3tWf67e5Sunn8YXd/mmhwn75fk2r/3L1
            x/flcvlf9e/eK979vFf+9O9Pe43pAf/VewpWvSKgpkxi1MreqxU/17oqytFv
            C/xprFwB7cv181y7vdeO3+y1dp+b3+zrfvzhffzD+/qH939ov/5hL95r5dp/
            fK3r79b65/XtQzug9PU/vtbXf22t/9NzGZLV/4IjITDCyev6Gmewct/lz2B5
            lr//3eXbFShqAo6y69pXBo3n+9M5xcEeLTQ+jzT/oBJ/X/O+lmLX6vb9Zd+D
            0U36/rLv6b2k7EHFnn/3d6ZDsQbRvn8+v/tLn4RUk+Q3bEo03bCr3/dx2RUM
            WlVOdCZFp45+v1/NrjQnE95P9r4mu7/nxBfg/fTD/r72mPackEF59vWNM44X
            otTaMffv3lbX9df/AwvQHGw= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
