<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.2013</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2013</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2013</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>04ca_2013_v4218</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8211</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2013_v4218</key>
          <data>
            eNrsvVmS7DiWLPifqyFmIP8wcf9LalU9gLn5jcioqpaWkictL2560kiCIAgc
            nHn49+Mf/hefx7vV/vXvWl5deNyTn2f3GIuP/omuT5c2rrw5uFRDjz+/Qnl8
            yuevnL96/tr56+dvnL95/tb52+fvtT+83P7c+fPnL5y/eP7S+cvnr5y/ev4a
            /3x179Pfxe98z3/4iRe0UPD/3acY0evTn4cz4N3z67/U//Xvd7y4h6lybuD/
            ffH5zS7HHHBcmCKfZ0k5lYjzF/9f/ROi3+w2pYSfeFt92HPAl/PoiucYnoC/
            8lReaeFJ+Ox439zUoqPFxH0X8b7Kr3Bct4nRvnra81/ugb0tvOSMf5xe+jlG
            f77nHOt9yznmc72c4zz9rHPfn+vhtpscy2OtPLpBhxif3Q+nD/3oFZP8/My+
            vpsjiA/mkNdPz+epOu9bXt57+RJ8lSun99vPaKPy34wOd148xd78nb7T+2c5
            q51/vrexacH05Fdr7kMApKR5RlOqi+VNvF8EAQ6L+vSumevt8xoXf4GLd9Fh
            rwyvF6lV9z+3Xff2xQ7dVK4ix4WxatbwDfGtTwKA5pdw8V/d7xO99eheb19Y
            nwMQto3dmQgboqtO9/NZgNvuPPZpdx+ONf70h/NE8LzteF7TT384rx+Ysocq
            /vs8j/9rZ+71PM9d0wAj/tO5t1nVe3kemiAizjh1jgXX+2bWeQ89GLxUOx9d
            9/vsOh9h6P7EfzrHfzzfc9v5HPNAmcYz1hCwv/HVeMYeW+c1eEGAL4tnvPfu
            99zDecDK/HFec3i1sx+3ASHAYk/Ezn/QamhZeovvm+f3r899vr2/HdN6j11Q
            9hvS/jgnBsQOClNzTgirgh9f1dABLoHJM/tKhtcOlIxSfeB+0ojTw10wp7f1
            7jvU0YFEku27p+zAPTharzO/xEDCatXPLjhF/xjGTD1vzFZCJ/HPv7D++gc8
            /pe/Vv76N9tf/97x1z+gu5d/Lkb9+Zj0t7E6f/45IvY//gBxv/684YBAHMTz
            sv/6191f/+b+699/Ghvmztl+4jo0wOiLxdf/R/1/1f/r+k+7qatTV5daL7Ve
            9Ve7QJoHnGkt/ugDYJqw/vUp74svBDwOPT3i73b4ckBKevT/Uf9f9f+6/tWf
            7mX7f7XIalGe2y6IBgLyJ6HKtc+/cv+9oMqxPKM64eyc61//uffzb91/97n2
            D8+BgN9/6f7Tc/lZn+fK73/NICCWQIqQS/j5z91/6MP/Ux96bn3+tftPz6Xn
            /afnYvr88/fffa7/w3PELH/3d3as///rjv3/fpfmIQhIeXO7/N8d+3/6jv3/
            fpdm4wMyeMfnf3/HjrCWqH7+P2+XHj7gf7YT/DeE/09g9j/BIqC4kBu0fz+w
            9vv6Dyzheq7j/vsBFVxPX9c/sFBiCIKAksWP/bT5WWvupJ/r/8Va+v+7lv+0
            ln+HN35f/72Wf7fvuZZ/t69xPf7dXuX6/dNefLcgoCb7SnHw/NgEufwj6HWJ
            QtXNI8aaRClGnKoVyefkliHZm6SbpB0IJWxfj/xkMrr7EuF1PR9h7vkf/Pe/
            Ign0M1zrLX3PRLpXj4QvGYeahij1gp1hnXRWbb6IKHUkmIxv0fLTxuWKkfJN
            bv0oKH638UC+6SgwHD7i79qEBAFU/UzvsCz5VxuNDrNQ7+iGaYRasnWJKw6N
            dMb3aXHsjwT88zWp1PqyH2qYgDbaUY98t8nu2bo+sS3DaVMj3v/TpoyZCyd5
            NLTxJq/6+KufumLuatPfZ91+KqDup00b0Z6dAOOaR7Xx/2rT41ebtc6YOUE/
            bQZk6HHbPNV+r+dXm9litDFPjHlbn4DA7zHjVxp3zJhD9eN/zw+5LulsABI+
            nfGM3YYWXqv07jZ1Zk8AV9i+0kxsk/bDnS09UbsLP+9wT52g6ICEgnVK3eYl
            /ppf5wjugoCeErWIap/JDI73gP53e79qe26f87E+069vc8FPPfV0dOG2fVv+
            3YaMg79tfLV+Sv3VJm3g8dsGSN7WPv/64um+9pnLb9yJ+7JR+fUY9LbfvRYX
            u74AKNrtPbppSVr6mWvqlvrnK/uBhDxd+eqnde4Ujg6DfKe9q/+erR7naYMZ
            Hc7eNbxrX20GEEcn+xQWFWl3lVz/ajP3LNrHE2v/TOsHGPlrN7m1Y813N73R
            2gB651eb7Wc16OXqnR2H3TMFASP97HTNLtp/wb4Dfx+8Zn1jVoLBh+v+64s9
            /m+/egNWIPsD179WwLtYBZ5qE9qF/V9t/I5zaeawF98zUqDvr5nzYT+93DZg
            udfZ99/9YI2O3gxfnJPtmur916x44LPetNoYVz4Qkar/wh8+D2p+2SZpBc54
            fr0LdOn0gzbb2buW/9UG+OznXeusElmQrzYtxfMutGnJoA9j/m7TqQAWpG/t
            H0Hf+v3tY1ZA7GlTq415/R7zxEInakcFATPqXQNL206f+3ef651ZHEJugvph
            esJfbfasaatN5/Y90Er1+U+b11NnfaE+WJvYwRl+2oQnE9eyzRDGu/Thq58A
            8CbSJ+HiwWByxvC1dkFArzbA2a6Pq6H/ms8QhvGKT0M/21ubMn+1iXvGrTaG
            1/rB69/jIberNh2ncdv8dOqEf9pk0BCvfqba1IPJv/spZJNvP0BA2iO7U9L7
            tKmZFqsgc0cT1/AXbiC0PFcmLDXq2rP/G84j9BRXD00QsMQvJPVZ/0OfA42m
            4BNzFbqtS5zxCzuGmeaUir1gCvfRPYffc7XWNPtJJpo/+utAfflPG8DSipor
            8hFzHG7qVz/vW/tQP1jCfmAy/WoDNpt6dPYDuHXJ+uk9fmFZMJIT/bBNEiae
            h8/97gcc67B9F2lFs+8q+VcbfHENF5bCoe15p6+1iwCk6m+bFu8eSV/fHtN6
            8tIcth9cUX7NYcyOeiD2A1wx8sEn99uFxUdOX1gzFkyVONCIXveZrYpex/jX
            v9P7biqgvtrXEMFVNFOdYJ8Igtr+NQrIN9EgYvxgrO5/tekAw377efPlLtL3
            CowynVZyVghH3WauYKA/tDlC5sUcUGW0aF61fta0fsxu8QCb/diDgTrWv/4N
            xmas+sW0h6R1pPWXx5KS+9zkXhs5fp/HhDcEEt0sDiOnaLQxYJlo1TzPB2lW
            wRHVv0oul6nfyehPnccq6WyF2pGDWvGi7O1PGwl20uP/KhCp71pqjs9vc+jz
            H87/sKb+5T/3X/z73/7P/f3xYrP/7oAmiVFwviZXIgh0zg5wDH6k+BCzxwL6
            0iGz4l+HKDsm1ukFy0vko8Vt1LcFt3zwPQciX5yFtHtIbQSa0MvuRTK1QUWA
            qBS40XE7tOgD0BPwLQjewlbCceJ84voaOSwPibkl0A/sEUqDE7JrAGEAvQBH
            B5GSou4E3GWIgTv6QTpSY0gjomPgHfxFEBtux+1xc8VUcgTgg8bHmGOLue6Y
            lwPeCBEgHwuYjbJAZ3GOaYkV6BZiA3Awuglgi0uNbbjYdouNnGoqYE7AxEwf
            O0SSjkEMjGU0BzYyxPGmOIAkZ8IfAHJiG82d4kT/Cxh2gUVfbcY1a6SulP4G
            eDpujHN3/J50yMDw3YovRvzmHd+G48AR/YBtxfYDmU0tPeWFJA+xZfaEfQw2
            JmBG8RVpJgcGymFZ3MzJYVIdngNTmSA+J6ldW0h+pORXTv4tybuSsKApJPwV
            /DX8AXOGlRKmIXGZsdYJE5kicDkmCVwaJm+WhA8AtXFAABuNMSBnOGARG6G/
            VEJK9QUCwQvRPm2c42OSaymHiJl6U8495YrfDb8Hri/gp72Ao0oqHr2gX40u
            T7Cr6LLtVAbugUCUXVOhBRv9VbqyQJipGUc0hLSWai8J3Fyq+NaKPrG2qbme
            AM0JK42Z3Akgk8DypdZxDf22uVLbPrUX94Gwug+pY26xOgmgnzr6BhykjvYd
            8wS4Tn29qWOu+lPTcDMN9A+2KqHXNDBukI40GsCx4/4YYMZ3GngHYAbyck3A
            /WlijQDhWMGYZi6Yrp6A8dPEvMyB6zMkcDRp4psnZNaJdV2Y9wX8vrArFp7D
            7bSwhhBV02o9Lcz7GistvG9hjKAb2J3yAvrn/9pBLfscIZMZhg3/AS99rif3
            r38Dovbb/kS2bv7GXV99BONKBTvv/z6S/b///Z/xX8uAHWz8j9PTf08r+oDn
            gUjoTZf4njPCeMj7nC35arlzNs1zC2dg+r8lgxJPi2JamXOW1f6ecSeUT0tK
            DLHkcxaMUz1nAuVyxyD+paxzJsjnPcjtoGHcBlRDkDN93wjWT65ekN+AiVx3
            oHCJfjx4O8QN/gaN6PodY3X0lMMIo38DVcTA6tPR2QRicJlvmRF9gpahP1BQ
            UEPQOyqU8Luqj3N8qCpeb9V9yqmO4gT9eBYV4/TeMqwQZVEE3XlXWKCXTWN1
            +F15zrmr7q2eXO9UXzXQ/8dEEsxMqaTfQEcudN4vVSsBuavTOIDxelwrdbhQ
            IkX+SopM5yH+rvjtnP2edt3xN2Q3fJ2bAd9Ty1veTq8fjO98L3iK79+6J3VC
            4JxQiTSWz+Kh+YVgtsEjyFaEH9S3YFiTn665zDqnJxD4jepf8AfgecAnU/R2
            DnPld2zzeSsmlL872jUn6LTrQPh8tuEZz6PaVrum31hFP+03CN3nd+Vzw37L
            qw7w4inTaV7w3m738FGu2Kc8q/oh9zPQFPLYIPA64uUCzQ4qairYV1p+SBam
            ZcN+8dI/2H3/2HFN+kdSvrF+AMfdH2MYz8GFTX+sH7QwYLXNeXG2yp1BGYA7
            q5Hrd9TjmZYRc6LxzGQaznnGN8cjSSeBCdB7lp2Pep4P1i86NIkIm4LHHPV6
            yBjWfwteuhawMvo+wJfGDyoqnUfCf2qX2uKLIX4mQAQ2Yl7S+PKZZjqy3v/1
            b8p/hVpr7F9HuHgBX2+kUtJJGVwDAMuXlAGLNPt6dM29QWSBVzpaFACp+A3G
            DHzsvZel6sZeBuyP3Gjmo6fH9OAa0MIHrj3Vko6eTXWDc3qpC6xnXbF1+d0J
            8Ay5kW5pmLMN2RfwUGKe2F2YbLnoAkw2QBxi1AvWA99QsHPDCptqJky//pe3
            cAlEgkVWcAI/cHyODFMCzqDmHyKGq+CyNzhLBy4Q+xfCB2T1TQsQNkhBi5gL
            7m/gmU084Dw97zonomNfPB372wNaIDdv4hHIAX0aDmgN17m/iIM8RnTGF+hW
            i37DeovrL17Dua6YjV2prWjAs1iFTORYiGfxLOUCQgmagTFke7rQxD6cfP/k
            2tndOU/nHNC+eF7MvRpz2NsWXn1yfkuBJLJppMlFelkHmoE3ZeIOvTd93hlJ
            EGriex892wNYfdxoyfAllY2Qf4QbgQsDDW27Wr8vcBIoQW71p1/uioD18bTc
            kkY1AijgpMmQBJkEdGATYcXMeQFeUPsSxmafgVoQvJhAF/YZK+EDfUzgVEBh
            Vh+PcPOQcRiiDa+n9y0LnL0DHALICC+Uy81OhOe3c7NgXxB+0IesmHgCq4jr
            uPY20LfNKy/koiH4eeO7eP9F32CC3/xgrPNt7DNLb2+etYJpGq6wnoDduqiV
            xUo1rhOmb25w7HnTgukd5qRgjwJlDAeaASyKHVQMTvASyGg1mkEbaIUwjj1G
            1TBEFDq1Y++SzgCQcA7YHdQtOtpeDfZqh8hWqNQDehDc0Bq4CymZvnkuSpSy
            pgIXhECkh2/1mTpK2xf63SneviUU7CHsGOxFwrvpJYPm2FW+W8Rny2bN75CN
            AftsE+VhXRr6wHJBNrD942XfIwrXkU7O/TnfZN9KVY+NAzip/vmdHAS/ky4z
            39/ki+1v6aUX7Z9uRKPbNBiJtlIKB82sgn85lHOfOxqO+jvWLOh3c/KBm+5v
            yPTATZjbx75lzXeKX3D05XVUfBfulf/Wd1XrF2j+5dwFmqPDLhNwD0RWSYu4
            lwbhxxEB+DjDSw0gNhZYsgkxGDTonR7i2HKu+k41Zd84EpYnjms58kXvRP8Q
            swi7kLreQHYUWwU4sTSsL3YfcPcYbBshaXpZtD2xOFWtA3sXvBT6iwt7CPNT
            0C/wP6VnolX+du1dbm4qdyBzAo4S2m8SvDUBI90BVsKLnoGPOQ7waph4YNRi
            4y18q7N7c6LTZuOtA7+z/dbLqJYBP+H84T9liMRcyu5ku6eA6wamqPPwSEQ9
            NC2yLfkP0Md6AgrEOwRgbB3jOV666uz8ndnagflkRAS+6PAWdg6K4EwduB1p
            Ae4fV37TE/bpzvOg3PNqDl/iW8ztuHQhmAcH2mSLfAjNcDnHHGgZot52f+gm
            GCoGjvSBDd8Nzn2oFCISsTGul4693Zt4S2C4AWh5SmvSVYFyEP4i1cAgr/c3
            wKMOYPvW33o8JcjRZzk9oOmWPWsEtuu1kbd7R5WYLHH+WXg3ZiMsLECzPhzW
            DFS9zpRdaYCeje8OZMZ7DYAmP3Ruv4mPdc9Xv1cL9faT6AtAArsDLZr4QJJP
            7PdnxAyiTUCz89qtPcdOZyQAZ5oDfCplIOx//QaTcebs3vNf90Dxgd8XcFUm
            XwzoMVM+rWEHt/jHnqeTDnDz4Dvdp3+G9WBeK+f1pT78Z53NQykajC1gb/Nt
            OZ4+h990x/OHm07n4O0cccokb5wbcWIi/JgZzzxxHPcR1tmBhvJ47CIJOMX5
            4zWT44mpAVhBjkrkr7rJdrZ/IvaZtSc2xGJuOuIUBsRUziWG46zdbf8ArrFd
            uz/8THwj+aBHeG3Kfko6XQ8MZXqA+kSlb6W6zfF+w5zxmCvQIf+Btq8qgabF
            z5iBsChHVSIGwOt8yaFWmnTYftKOVUfjPQy684j5bxxLwnMJmN0TP9NPyjHW
            SPY6xzlsG3wk4bZJPgX0DsiRNo6RueA4p02MywI6BN46p8GHgXvQ9yCMOuIz
            DK29A3tuAiFvgpnwJmAb/17uIWBgunf98D0DtBW7qAFv0RsKD2oePWUBhr1p
            HpNsh1J8nW/MG7j7qeJruU6cT83LmUuHufSPfUM9c+n277nsuO6WtSn00kLf
            fE8gR2W0vrJdBu7gEQh6Rs5lFuLXvGLXaV5z/ZpX4BfrhxIhLUj0UWLE3OZ+
            Lk68H2iuImHs2z7vBD3T2AL7tW/Fnlp3fgNQzmfuOK/HB+LKjAVE+nvvoJmu
            vwfvv9OOczrd39P24JIvNnitIz9VspXR6DTdVHAOQgbkd2g3ZI+dqF9ojEqK
            YDtWIH6LXfsxoWkDr9IYNINVhGiHTULn6uXxzctBUNvsK2BnsT/s6a39iC8+
            ey0ENGKASAqxgVabaQqQTYVM9qsncHDgLYkwMQxqXteiC6cjL8N+OqdiUf9C
            7b2PlPmxs+0ZsP52f+h+H97G67jrADoLrLbG0V2J5mT4Atc1N7yrAWOHAITx
            ge6/tNdAxLDnKeeKL+wO/BUFObx4BvLRi7OP7UH+eoAzoT/OeebgMOpl/KZi
            K/SmeUk0eXabI/IvwON9Ccc+7BpSHOgBY6le8iWD0Yq6X+m4RvmIAnkXvw+c
            WbkW8hOhswtkubtGhmUha9BJhbJesTkAjcN8mw5Z157VyRcCw0E8oecQHS4B
            /PSLEyew6aUg7iZz3Zf2FhntIJ+LtWhLplvDaPKlo88sLqbeLmwBpF/Xts0B
            YYvXiIhJp2h0CaL7TZ6FuSW9g7zSFO8Gmr6W6FNK2J/7EQ6nIJYshJDtB1aD
            a0jVGvvSdfLanLPUhUNa0jvVHtTrpaj1Hh+fkm2ftVl1LN7Oy3OOzo55n+N7
            jvMclx1pFya/bL6Z9B18l2gl/ueX9uRi4IL4nk0lBbU61OsZ/weCTCyL9wkP
            bzDp4LI8uN4V0tTa0XrO725FvhTArIaHR9iQP3F/0JkBPPGg/AiKs2ij8/yj
            hwD2KOaJ/QC7Qc4eAzzRpOoGlEA76MDhMwLjel+NDrI6f2PNAZMB4l17newL
            IBuU54jPYovJFEHg3TjvDD/05zddpqq+zc4hdguuGa+6qZTxBt/1XI/nvB24
            z2cfUDtAuPKiCZN9cuuLb/PPSwUTvxnCw4hy0aEDFidkU2Es30jaMbFejBX1
            kHox7dFjfoEENtnNLLxtHrPAHpBHMmhS5apAHmPf/o++/V/75fzdft3aR7Z8
            qAkA30uF008fYF4JPHUwRJT8pf/bcQbiRPYXx89YaiYn9c/vF67DOMkHB3pU
            vG5iv3A9vdbTF/LTleGidJsfGWMLcmKOJJYXfsl7gQfailpdkCANTsL0r7wt
            QSRewUl4nXCYA7w4wot8bWrIWiLxnpVfDB676jo9pr2bgIoIWbQ16k1Mt+qO
            TnTOsv3R8mMP7Rm/dG747OrKEH+fHWgOHeqpSMLOomwucZayKzghbzwDcRVX
            1fYTMSRw92P3gOcFlqT7QI504xIdvL+dZ0CSvv1+p2BLshu1LyZIetKhzzXg
            G/IF2VFFNXztbvYQyadxb3p8DMO9O+kyZUS1pR6rixZTb+fLZASU7Xe5LLON
            dGdlpCYciGWgT73NMfsAX6f3gcyRNtXEINQivpXCTQftwyLgeNeFY3Nui1YC
            VRFFj2q/ic/xvkTVSafbIcRjCBSgn5izIR2ip3yNMWMNMvduwRon7uTThyet
            yVIbYb7wbtFmXn/t+h0j9kvh+CZ1y9grODiuI3a4WQ1e8UnkFbvNlX0nxtvI
            cwFBd+pDOEcJAAv50ss8W+y65oaaTFwvgyhNeg1Pul9SHLoPyKPPf+uinV7X
            DKcBVFYgjbz9i5ZN4g+AMXW24OPr6UO8AHkk7Nt6+rj6U3ncR+w3OXQAyXMc
            9B5ie9qaqMPJuIyjdFOn770hFmn9vcEK19Xkkan+GG/esbYAQyD85cLn25mY
            IRBOhswWr8VfnHsjD/Bi9N9cWEJaFvDOYWuESctAN4n4pjZ8C67vtoiC7n4w
            mJvi1IPr9PJwk8/EQSoCGoEjdU/kMzFBcVLWmPQqe51EHwj6q8lWA/LB7ANc
            e3y+e58TCBPJ20bydbR/CyYIB1s+/Y7vFw4AbD72zAKOASBlwo+6cVE4i9fC
            PPwQI1Qgu/giHgGNpXOW/JCKOfaT50IHr3Ty5tgMUQRT6ymQlljnBn/3r3/P
            TXn56I+BkWjDunKq437o9Hvh/sjijUljuE4XV2A8whUpG53XHg3gRzEXCcgJ
            tLqLnjmdO+JSsEjrrL85yhMG6HbeCFODtMJc8BZtEW5O+oxTxwg4pp3CH16t
            QBaCfKskGVPw8buviXmld5JSTgAewTdNQI0HrHgwP+3Kymk8H7wEutM/uOfg
            HMMzogHVZPCxvse1ncb18cFOR4916QBwEaHioRrTWzDO821ry3TGEX92jt2O
            69isFuhIjM68UWXdAkM3TzaD6aZwrOK8cN7OeSQNKdIdMbJ1OuBQJhLgh53f
            RrIK8F5k2gJldqAddYoWkoncvWrN8sd+iN1rWCIe3nEaXEfTpZpH/fOvf/cI
            FBh/25oepXF5GVvA9iVQJonm7dsTqBoICtcVa4ol2F1uu5SQG6OZGSwG8v5K
            9qa8Ch55tFB+y229kJYyhYxsStWDLrIPIBLJMQyrlb33PtOMbpCO4biIj/37
            u0+6/QM+ntsn9b79/P7o4oG2aKte1fi+KmMg9q7OyweHepNvHmtHA8NtQ3Kx
            i95BWPfUj/gNnAWRHSwG9mqpzo/6s1c5l83U8RoT9+GdW8z6EC6n6K9sK/4E
            tYG8OqMZlWlhMO6HGAXia5XDQyH9xqJnyrqgG1mjJ0xMwlhg6g8I0mazkx6H
            SOd9MEbc29vwA13vN9Vh6HM76mPyr74BQMC51ne/tuejg+v5HI9uLrpvf1Ys
            Uv3XvzG69H7NBeB7cD6UxYTjAi0AZpy1lVmNP2jM7kPcR/xd6O4A/A02rJlM
            QuJUrt0niW+Wt+fu0SQ3nxMlK8giha6pQ/PNLCL+6G6KUqcM4UawpHmCD6tq
            k4Rnyk7MrwJ0/tK2ApKQ59Wn8BpY2UHvlFRblrPJ+TbDa5LnI8YPbFqCmBP8
            dWldsPcKaJyTyOgmw6icpdp5zj060qEt8EohUqCEoHG49VJxSL2MzkOi/bHM
            ft4nGCrrud+U5zuv7ZAYktfArU36TFR5fjZFoJ197zR+R3qBdhv7PcmGU4sB
            LqbszKPwofjHqXNn55Sn+T5sAswPeEY9W4BbozTyeS9GEJErz6szInU0DL4R
            n5NmCZeBu9VeBgt7+6Y+W/3PtX69r9r72N88+kfMByTCs8adxGXQFzTzmzaw
            U1zGA99vQJ80ALSEZyj3sO073wRoa/7wYWUWzem737Tw/7vvcvvgfLEfB9xF
            vh9yQBev78nvU9o53yHUDrDHcndPLVcZwknAGZ12Nw9+0EPYdeCXIMbV8wzl
            X1AePWNjoeRi30B2jkfcZNzGCymbxKuCKHofzd7I9lR+KkYiL/cz7ggsFVfj
            dB0+UnZxb3ruVkx+oR44SHaxvcI5aJDaMMEm40zzOqRNU/iW8uOZQ+E80Cva
            A6iDMLwa3UYfEKNNVvW2Drv/jHcBhx4cDK5IcGoxd589VijfJHmjhIPXqUtb
            y1HhXKULB+3NZ90mnW/pI4PftKstsycmsDTU2lB/wfmBHEQ8vsApAg/WcZ9l
            zKlgFDAUGYHtQFcT9l+jPwRIYXO7GizV+0zSPB97Wv4c66OEbW9uVJUmu355
            wYU5LtF4OrZZDP8mjIwzp/5NoD+MB7Z1LLY+mjcmZDv7njYz+77Td38u3bNY
            GeL9tH/fc+ce+MENQCHPhGOieU4wVj+6bmqWdpQ8CNR3ZEr6jek+4Cif+zhm
            ze95j8bMOIaDgz99Ltsj1G3pCBiY1AkR0bm3/OvfYJir7Di8ZvghGCzrvV5z
            9Nw5guz/X85ReN/x7VeRiR1Eu+0b5a2EObljJ+1LgMUKyA/9iwd3hl9uP8xT
            surYR2dAv5VGvoY0gYZHwNGeSbLJolKSvzFZpK7o+k1D+oDMXGOZqmrxYOCa
            A31M2Bd1ebQ1A04yfeJw3DXrHPf8OdeRMuB3u3za/af2OA/ii5Nv9BH44FDa
            gh7jv3m+kvTGJtsHsa9znmt8fihbR2vzi7ZIL8jkGynPQyeb9hvmxVcFK3VK
            QvK1w+98fjvBiWvyDsMy0U5C3wLOVa+Qo5LxUfQngqyZM+0nR+Yhzne0m2aj
            y/Xsswt71Mutw7/sY0v0mCby//R2tFQAzn3riVb8bXNcdAS063acdhynP8jI
            k/0BR1Ar5jq1CqT7QHfk3Peok8dngwsgu9U6s6C5PUPA7kJ78MXJYTnAZmeF
            8hGboT2tcOQZTD9siq8Tte/E7VcIXu4f9tVnL3m069XwmwugbzXn4H5oYQVM
            fvYr+k3N+k3RZNVEfvasw17gjHORt0/rMygjGvgIJm5c4+0f3QbdV/sWhwTM
            uyJZJPOXIayBG1/yO+Marv0aDoFoEki/k/wkf3/D/PmGnd7Fb7j0XLR/GE5Y
            cTOW0820mw/EPvTDzZ3vEl39+o5RzLeFY8es90bfVlEoo3Phq/+FeUtf/cdE
            nh03WmbuAUiClVGQehf1XRizdDQQ7kCV6XMgW8j48KcSC4/u7Jzf6+BvnNoy
            BwSj7IbNGyVU8piXxo/ni2dSfJzxR8K5eGsmPYJsQPr1VPPn+36X7wc/92Vj
            EiZAn3kt2hborxWPzYDvJ9h2bpgNXKoo3TbG/s1fphFrVbrALNmpYByp/9X+
            sMzXFrzOaPp9bF+ZtPl8Q6Ys+lCswu948NXRT5ajE5i0Rx7analfXZgeRTZI
            10CfPQtdi039fmy7nPhIvkOyhfTLsg1FIzhPat7m6O/bya7E3IjoMxNOsM71
            JUHH+SCs4y/2xusAk/3rurfroAWcPcw2+uKgeeRKW992LgsJ+LvamIImROPt
            ImWKwjkn4slNPhzUi32+g2k4qSPMHX0Ck4JuDTCrsrWZzcO+paoPmnsrx+TM
            pl0ZBqbrjslRH9nceZ8ZGdmWgiH4y9QmbXdg77E93Lp86/PhWzluAsZ/Grfs
            Dl/jlgjBcOxf/WiT0K8xUB88J9jaoz+i0WMcnc+iHg2YCVuU3lOS2dwj39+p
            uALmsHijyQtL4VyTvlFpMNNm9vztiuRC+UztRPSTnbXRb++OXuXSlR890m89
            E/ho5XJxjAlfohve6EegFzQm+69xoQQvLbAD7+FofX8r+Q5qKekf4daJBcez
            qTuldXW/eWb3zS+7F5gHUgvkhnr4FU7kqJXq2C8fmLkYhdi4V+gDKPcaLx2b
            0QFTYZkO+j1RSORTSIWdbNjEVe7KoVwLXseWGb/kU/o2JRAJcHwO46/9jH+Q
            l/lao25rRN/WtsGbY/7za/lQOf8DfBq2R5AywBHzEv86+eFcndjV54Xjex2m
            rcPV9y0mD5PbsvmjCUCZ5Y3zTnvhO2al/1Ae6NLaSHV72mx/2tB+8ozK3eDk
            SGVZYNgGAAD5b0yCFVMXsD/gn5eekgmUmLYoN4fs1pCZMGQIj8DZnqqEwJxB
            o7mQaw/kbamkpl92kSWT9tqSGepAXBiYbwVIhZp52uAcQ0XBxtpzkzofW3//
            NEcWRjpt01PSnUI+YfzdqN9ukwyG4TWODR86MU7IDPQpZODnz7hnsHG7Yx/7
            3xxXWjauzCglOqAZjmnm4398Bk9sxRu9cvm+w9ZS+aXer3XCWibq6vIAp4Y2
            mxK76RduO6rXP+0Ax8F8xMSy3zX35aUNYZLexcDY/7f0dnzQME6/nZS3hHv5
            z4Auu0ECQ80CEHPHmjOdSyWJA6MLjpvXsWs3fXO/55LxAGpX81CqJrG2Y3lP
            eyvdmn/WqVLv8Moi7/9Tf+756e+zLqffKws8N/0yWXZGqkAIxyOfNfEHVobm
            xsUl5v33mpiHg+HNG/MSsS4g2HHPLz0A8RnxWpfPu3ga34dsq1r/wsRpxETZ
            S675wn1vF58JCX49t30cpz14NMHuept3ZnO8+mfZUrJ88PpH5nvNh5shAtTn
            pjxoFF2Mc09HFyX/hyW/N0jU2AAda6eYsZdmbPpzlPEq74V36Vzvdr0E8t6m
            a56mo0hPNfveBDmifzLtRuy/uHdPnjf5johvJ+6ijuX1q3IemFM3VJfq/MKv
            7T/gV+A64ldqiS5+fb79f5/f/r83NohKCN2vdj/NlIhPTT/sEnEb1zpLD4nz
            fPjE1+zujPaV/xHj0Db9ssQLgwZFoD/wjPnHpk5jSn6PL503GSVTjA0/dnjF
            KCT51oP7fBOjG0DkTa/jzYdqBOxND56G/l9XtjXXng4a+Hz79dMOQniSjY18
            fYDgRuDyrR3a6OUXwv6O7Vy642E2zg+fQzzm2nPGMcj/3b0CvrDlaz8DbF59
            LL9RthWmHznylFT90b6VNAfvw0BepaXXUQ6yngK1snBCDPUuM+6jgCI6JmON
            xxfH4pP2z9i1p/GN/L4VdmnHbvLpFxB29L91JOuDfLf8+6b5LyTzTX+Z/I8c
            GRNDyu837w5qN1ymgUN2kCxfFc7dbfOYrkbxJIWyn31n3PKDPN/f9R7sYfrC
            0Qlf8E9+EZSJ0R2hHV/baw+8vrcgHtQftQ/8OOnR3Z/9JqaNVewfcXcTP2Me
            j9hP0RXFS9NPgHaa46vw0Wk7umSaHc/8OY0fuXqEa3e8/OH1uwz7xuqZ/9jV
            TzBqm1J+U27BNzNiLW/QEvDb3N80IibtR/Bk6pBxk4xPi+7g7sf8jbGm54jN
            kl9MlvikxnglpzyMnz7y/6wP/0nKZlxs83+1DUF2YlZ94CfK2KMW91e+F/hB
            Johvv5xCA0E24sp1o6ZB+5HxqfTFBXPbHsrj0q9J71EBdQDsYT7oTGYkn69m
            v+07LZHO0UMcP8XH23tuX9x7EGIdhLqWsarEFfQePLbddtYZcE7hxd4r+dCC
            i5WsZ0b60z0K16IcHarS0Ajulu5BMgAPXs97hwgT03Ps53M/2f1x4hCOHKz5
            EEcRNer2PT9x2/wwFoXtI+Rp6e7w9UzPc98FNueMS5klG23y/51vSTa2lz7n
            VV4koJ1UZ1ubRh4faKB+r4uCSpnqpNjYXv9OML8NfwNiprI+uloVyMG5f1Ue
            Ae2f9WvtI2gjdhXLo0CiGePPtf+ncX/m2P/MZ6fto8jvarqjT77vAnn/rAN1
            SPhP/qdZOuksH5TPfZOjxVn0tsv3eva0i2zfz/ELbMv9T8Z95vXluO9c83hs
            LUW++pBR2rFbS0679uxj53bHPk6e6LaTXRt7YAbqGlz8BYPgF4LkmvfddRfL
            XGh6UuzgZvKuybNX3sL+sPgfmgcYm9kc844+kCyVx3HwcV6v5mdekvERjIee
            xBMZQzPr6hPOMxu8AwWn/vzIxAwSUI5XN9aVjTE9xd0cd5D/3UZf5H2OP0JU
            LHql81mTwy2YKzDDQLzJtR3axQXf8Ryv/HFd69KRARN2RliC7obRMy1r3jVS
            QMhziT6NjEllKZwEuQ3khtmQE2QW+kv5GIZ0CG5Z4p4sIZlucEz+It11kM+D
            shX8zX0fB3E/UNHE+0DULZ67EAMn8x0mk0E8S7mL1thPnEqVBPH5rk4Z7mQP
            +ejtqD+nflSxsNTCi2ctijlzmW72gAnwaRgLiHEBqnhBO/C51KIwq6B8NYLa
            +t9te4Q08FBRA/5DcT6mD6DtjzmfZ6RV84yFBLmZL7LbVXEHGbzyrK/QFESU
            6iymkslTwDP3p5c30RuERYMYucFUjVcnTpiPVfaqZvPiKf3QruyX4vQlBFIp
            Qn/ERNtWz6Af1DmDr2hBdhGX3t2x8WiTSolxTg5rkahPjRnfGa5/sfyNyU8E
            8osQ5ZvFQHMesM/zYMqZ+aN34biweIm6eNotWzZ9NHiHzvxIvN8YSwGEGrrl
            TOI1tWXMGv0G2W8AXlJM408bPheUJo3pD+ncnseNRaOevyf5P6eO76SGWmtS
            GXILbIzN9fzhNzDl5691UOxnYHx0epVpTfYqxqrEV7b5n/l2H5swx7PAHHsh
            d+A5QByfaYybgfwLuA5+fnj+qPAT0DK8iNkkIJ+gvylvRQicCt6UnUi2ecY3
            p3MdbEEgHK/NmGCM/z4rjXF+lZVkKcagm51Rz36uM+tg/VofYjBHHtfmMUxg
            gOeMhTHG84yFPHc//a2v6xzL9Wl9l/azbNSb+QbBK3f04n7WbEJ+1Dqea3f+
            9EwbL5/neoMZ2b7/tR37GCdfZj84O544O2w5ZoV8mAHLcDX5M4gs0fzGAnYm
            M/HTK/f9Xn/Ko3RRGEsBfb4xRlWQ1umPGTswLn0JA6PF46Rfr3yUAJ2vo3Ef
            8jdznhTTHQNPbJ5HfCtmslO+pbK+e/n5Y9lySyHNnqWnZkbz8TBOvcg2YRmd
            AnMpUGZ5zUpFH4SwzSZy4vMYME+7z8U3rDRSZLe+MXovA9QSBGHqJyAlYqs2
            +fLSdQmc/koW5+ik+Ycg7vzM68RN5E1k5Iy/2iomxFD2lZZsvs6uU40Bdqko
            ZoOxElmmyDUgjgFPLuYYBF6p0vTjfd5qJjk/5LulmL5KPyDFTCT2KZ309zlQ
            99VVqH0bQzpG4N51dE3rsbwFR7eP6TznXvYfCFI/sjT9gGZVdEetmmPF5zhF
            kIX98RNQfTvzuig5v+PMJ63te9KPkdItrUb3+5NkbP/RE5/vA54dxBTU3QfK
            RaRjw2i3fORAWUc/51gVzDG4AWWVwXrJzoSh41oxm9W1M+G7nv7SX8fsbO74
            9Mvdl6Yszgyz0xz/FdF9zhs+68KI5isyOQmOkGjQH3OITflEssqJck3QSiZZ
            fB7ZALDA9B30zXYKNHe0dUI2py1OCfE2PRtWF5NHvS6VdV7JSd2z+N2qQ5aV
            hyO/oB0x4Lr4O+pI3rCWckQU2jvckjR+96v5dzJjD/VQLlXxcr3RxejsTRaF
            4xG7Nukcgy/ik5iZSf64qdKvq4bt8is2lTwy6dDFYeCjX8UZAXO/THvGdLPf
            95n3ggrStQttFlkV3G5cYVSCauZSYW4e5baAwEWeCWMDGRm0mQ/AeDNLFeBj
            RDrKl8+Y6CZoONcxN4tKR5TCyLmSQGvPNTBR8tZsUhHTr4jZmv3FE9Rom28z
            +f5dF8OozbeSojvf4yz3i8rhmE+rxtPAB774pvzFSwHiyVTTPi3dyqaM1Iri
            tE7Mh1dsi1fsSHtAh2neYWIOTnHsheke6cO/nTdfSFxTMp5H+WXic8cK/j1Q
            b0iZKdOz0vYf8T89bOvVg2Raiyk7ow8mS8r4uz6vU9sdPEhlVtjjx4TfUREi
            yidC3K+YlMc8cBgL3NePHKHyDaGs1PHN9HHC+xrjL023ZHECuOZqZwSg8iAA
            iMtr+assrmLTc584z0VIJFV+caAsQblbcE95bhpjm+WD1KTrAk3ek6q5SF+l
            Kv6Eexr7wwHHicYk83O8v+U/n80f0z+WloUxANVZyaZJC5JxjvnSVD6LjYwZ
            5lJLWn3TD30szAElXZAFNJPGvx50EHCgXAIQyB47Uv0I2dVwBPMLucbR2bqB
            QZMPLn2gi5xiE/VnoJk4BtYqYp6KSYnH4hPmOedaiJkjP+FUhNPNc814vv7j
            NyLdGkRs5iFpbyPGo7C1pWyyNeb3Mi6yc6qKNOCKRaUwQRadsMHnKGfkew1r
            Rt9L2UmUi6dIP+H7UpYpacPwHZMV/hR//oqTZ9Lle64874zd3Gaje4/PTT78
            Sz/n9frgBDtendo+17l+OcmHvxNK0jkCccTvPFk3zxazt7+Hf+AYW7M5Z/6c
            O+f+M+cN0mpgHkz6vugeM6/YPDNnPrhQ+omc+Y9/rMf1UwpEf9xTAaxMOf6M
            tHNgN13ZnmvUw6hXjg/MHbwZ23VoE23zXTSSc0Da2B3l2y867DdWxamyi0wp
            0sfIGXmIp+zVckIl6hbXa2H32POMZGdbllhku9gNl5djf02Y6WlfnLSuA9Qm
            GE5/vHAauR3RVZar9PQn4fmgFV/7Djiezg1n7+AmY1yIExi6lchaTRbKAO6m
            v6pyLpktm6ELrPik2qpMZXW+l0Ig5bqqUiyKoXDznJO/cBk0iKhsyxWhZePt
            NEbmnL0+K0ymTHk9lMTIi06vU54vSGKMv+DvUiyXjWwnzMq3wAWf89YYd0Sb
            lNm6MPb3Gz7jsUnP41t24frC44XP+dj1wIARReFY/rBx+gmbegivsPEP7af8
            QtuZPJAg7tMM9QB/WF4I8ZScAMZrkfTSTTJTkeBOHBHbutOW+DlvFf1Vm+en
            ja8W7+Tb9fvFMk36y3sV57HxJNU9EG0HI9yC7DyMNSoXHx37S+v0iyGNPToM
            JjmhrwfxuK9MKsRM4crJJj0l09w+puNQdgfSAsaggs54xvEqLgnj7M9LKVTx
            RTbOZjxL9nN78xvBLi5FeXK9ZT+6uWXKeG7MpGRgxRlX0yNnCzGv5M/AbzFX
            yjx+dJMRA6GD0wuSlTWO9C7SACrXJDNXJa2rrIzz0f8N01MrJxJdiaZi3yuf
            r4mxo+LDA2CYkjRlsMp473fSv+wrt0q1GGjlLrF57jqHRKvj6KZXjRYbrZK5
            PFLlAhqia1RVP8qHs3WPluOTe+OuWfyKGaX9Ws/F5+bFOufNnmNFI53Lb+vn
            OVvDJp3UsXFxbmtSTNKgvS3bNxBxRrH1rr4nJsRX4+PkzcLkIxprNr+heWLt
            aE/8wFvHWuS3EZes6wNTGYLTDQKCS6ewFGfxVf0i4MOhyMLhbG6kqyXNpB5c
            huzO307JF7VeQId73LbHx27OIxPRIOG+46h/4pttPZ7PPDy+M8Vd43xgxWnM
            HXdcbtm4vOC7NzkKMLFMsrwJjJekhMXrgl1G7x/dA6hMY8z67/vd7mcaqod0
            Gvf+45p4ejZQnaXznbkz68VoNu5sc/Kc77hrTn0xhHZPHfNU4JjukcNsB7bA
            +QTGudD4RHqstvXv2zLeRm2Z/aIyL5b4faBw6//OISlP/zwPceX0r5IBp//v
            tpvyJxCR+xq/P/E3fNfdB9y3aQvn/Nq3D23rZ60e5txhrAHTvO7+aq/f9tna
            Y4fJtjnFCuwSEv1DIBte+m4GgHxxeKFNh3NPKiFJ0buL54o/95ziLhV3eu/l
            IVuQ+FvlBiMfEX1Uzd1jq7ZS4JDLGuMrTfsh+UjxY9Xik0NV6RfVpB6mRwWL
            x9JOveErgVAkUynO5VGOMhaSE+2dTrsr9vmDX2/cnPZ7o7shZDHg0jYYY0TU
            DJGV40+W26moYJ/yiBAvVOqGP3NqNr7ENRAfm3vlOihP3r0W7Fp/dc3d2NVG
            vwDun2z7pxPhsHQf0aFnSjyqQeye8iAd/n3JocIn5T06sM70Z9Fsm7MfHHzi
            Vamix/tlR//IAEFlIjw+cbR8xs33+MfyDLpBPUur0nPWDx7r3nKcME0o44+l
            79Ze6ZR/fsuZ/eD27/6pL7797raYk3UOrN9m2sk7buLTi9e7qjkZx2e+sMyv
            EuiHibncc4OWnpwaYEG38moEDKSgv67caIA6v3zqxvYrhQH9Vpty/0qvxOyS
            snh78VayfqvumMnGvpnuWBs22D5jxRXSfeYWgxSTaUtidpsVP/4mgjMWzvrA
            Gm0d74ExpgGqbRPOlrM4Tfogc61Ir1X057wfeIPv/oGxZPDk3ReMVbvm5m8Y
            wycbjiSL+SdspbPm6QNbw2jnMLq8BnPh5iRDpnhrCpRKf+qV2B/4eTWzC1Tl
            7QrUC4PhbJobOlV5SOevcstt+utZbiAnOgbx46TCNteuKyeRqpmi2HBKODoX
            5pYgX/bRRdUVfDbaPg4PoGPmEGn/+Q2P9Nu4vMKFu7kWU/Q3fsd0lkeTa/C9
            /mf+WVyOeJO+hy/nl24lK26IefRp8HlOLVni+lrOGOquwJRAgHeKclg072/p
            3TK11YYnNzipcXLLPKfG0wY8gQPN7zePnaRHatSHkzWmHla4Ad/HyJ64pQOw
            /GO0E0Xxo5sOKaTLzKfNvGUe+AvYXu3QAzPK1PCcGCz5U+JttFVzry/zfwt0
            lajKBeyYs+zwoI37JzEOgci50zYfC/VtOyzPir54OCmXJWOMMnNl/tih/CP/
            33n9brbsq15x5FNKFcuLSL2Ajycv6vlN/2qaNZUzVjl7zz3+rsq/uimMSEar
            2alUo+UsFi8pX2tvOm7NC3mzL5295Qk0+b5Z2mqsJY1rPz6+n9j+zNo6vsyj
            8w6W6+q9sdfKxfue82HnzGl242rxwfRfbVziSe3c9VueXMcha9Ydg2/KUakY
            cJmOyjuYBze5c/2Tgop8HmhuoP7Tl/fbz4Vw9JIGEhcRJ3kGlD2ybeJr6UuR
            SSCUn30xG0qj/yBtq9v8sZlb+aWvofY7XVWW4kkKCQX9CCBbq2AbrTXKEVXE
            f5ADd59cv5T3/uiXTH5PFl/58TUg71zN7k59RAS/VADZKf7Ie4pdoOKoMN7G
            NhJwbgLOkPzX2tUPe/MH3+f76ObZqJS3MTHJcLQY8WdT54rxJcUskW2XfLQh
            uObOUHN8fzrfJ9d03i/v1vd3eRZ9+1OyaCCPzrWguREuGYDTRW9ZahbWl506
            vVqHdb8bn0mPNjw2jx+0/JXo9zLMr8VsECTzQGmOFSl9c3kpl+nB7+Hjl8C0
            DSdvqWLgqKxg9W1GRJAXmaoI+6ge5neb/tOmyBqnb64ff3sId/RXYAR48v/6
            Nxkm08aKx6NjcuYzylkc7XfZjEUskqGeCW6etgL+ZhoBcHzC2eDm9mkjhzbS
            6tBt4jm/TgnUeAwpA7R28cyjQp8F4GvB48C5ezOZn8ooyeapbCxBvCh+k75g
            K1XqaP4ylwHf0VgJNTblf8M8ZuYp4dYifLOqLnjVz5yGAxf1RLy8yoH5Ch44
            p9/3z/O3HeWkO0ei40M6ZPr0f/K/MRXUdw7+8AgHNdIgpllRTDD9HDMYM9Dj
            PBnGslk1VnHDk7YByLWGH+k2I7oMdm54s9OQfQa+92tmfj/bMtcJJoiZ+mJn
            LKeUaSm/R49oGnwlhVXcey3DEqN+8k59aLG3nG4tKP+15Q9mgsfGzGGVv+m5
            80o1wJBZrhGDS5nX4NoX6E9HW0QLltOK42NfWZ5dtFL/4AfwMbRUjsvPMx5P
            VZHJd71L8Xqk6nmCJ22KAwNfvBz3V3xfq2g8GSPGXPevYigeetclxZp50eH3
            8FF0YVX/7dmtdN8LGKJXZQd0ZHg+j2HaEfyWjqlLZ8E0RszdWFXOTznzelqK
            o24JU0X9lN9L+1vVjxxLty0WaWpXR6L1xMbTke6sU7nGMYT13FxfGVwJ81oy
            z+/YAnZaNeTkQ1jmnDP/P/ASiFBusq1TMVstLk95l8Lq9G8KaamgbQhr8NuV
            kuDgMYs9o7Mq8HARTtuRNTcHszUP2bw8Y36c6YAfy2n30969Wzn9GUHO57by
            WhM2nVXD3FbKiPiONjk3wfMn1lCw+830d0qJyHm8+oViskyil3tn7kv5aUke
            0BienzFQH7Vn8RcXJ46DaY/dqTuJd5OTx9sL5kv5rjjG16t68s93hZ8+RYOC
            cvl7+rs5ysfe05HF/Of7j+2ce0A4xJk+nDyB/LJ+aiex1mCUqN1UY/q9uYO8
            LSn4l2Tny86pdyD+ESyTn3vQ340zK+BpK/NN2x7X/mZOXMYSRvHDPpHxS8qp
            4VxicVmLbU+hYk9W4VXCCuaAhlWMN5q9hHnWvRUYZd+sB6D6LaTe3Ov0AVa2
            VcWEYbuabYHVbYjTmTGQE0Pbn3A8KEkYvgL2GnDb0PycvAiJ+SXBSZUUp+ZB
            oW52TYl3A6j9lBvaC76S80hQA4+fC3qiFarRZ69RfJy0E7xM8Q+qlFlbXQno
            K+P4WDd2/NgZ6E6icw+Y7XFQtvAslOiFZ2UnIMs8zzntB4k1XtwJejvn4eRU
            B/BMKucZ53rnRe5v/ct+sHGOISXF22Sr62P4XbXV4/FBUC587OfPGBxd8I49
            5FGeMXfzSU3NFc9/7leJIqeOwM0x48yPgRVSHFkLbzDMHLnSDTEqK4pnkI32
            sajfVdG+bz93NN1TIx5d7zrjln9oOnYw1W0/5+I/WAsCyI9+LxcmwE+jD5Mh
            mDHXHxtftZxIvNaWyRvhXp/nPPjI/OaW04l50qJ8CXDP4ohof1SOgmi20Gp1
            0nVu+altPvyZY30L68qfsdxnqA9r2/Riy+LdffwaC885Dur/yN0oNInl2t7r
            pzZcM52o8jLrd37nnav4x1zJdsY4JwamnDxvXvlAPI+zpuyPT9NnfFx/uobc
            OZOMTwfr99RmAEZ2weBs0jwHvJpTZsw5a0eCTdXe8POcL8v5Z3BP+D7n3B8A
            vm77Q/mpJIeyb9p/O1Njyg5z+J7H8v+nakcaCrN8h+y8XJ8zpam6dXyZP41p
            GV5GPZz6Ac6QYTXBivofWUSy+Qff+gLX9rVlD5bfQtDcbsvj4Cn74yPCsUlK
            f1nk16tc2s+p23LyhLlImc4Zkb4xT3M51WPq02Q46RE8q4gDCLlHLHbBnz0F
            pCc76E7nnYppsvxejT5DrH4Yvfxt6gBnq3qVIdcWDj4gTOFc/t6kIIF+b5kf
            zLhP+qq32ulKKJrPxJlUFWqNyHSgb9D8HKicFI6xmjztCxe4P3EDx82KbAuc
            Sz8x0qzLBbw35a3aX6+0YMz+6PKIgAn5Br40ombDX0F4NDAxH/2gsnP+7jfg
            aAww01zAxezKA3nyJ5IOcUZ4b0k/gE6G9QWocLNTzrB6IX8+r4TKX88zL9zE
            UDE/18blz5wGyhmYb+FOCk3xtJnc6p1VzVTT6FO/ibHslFm/zuXfMJ2FnqE9
            a+0G6z8KFy+V3OU6gFcflhf1OTVO8ObO/FBU/IM4qb1QJ/OdvsyDApGO83na
            8JkovtnWSO9hTV9n8ZxPIdz5t576Z/RAyN0rURjloEp5G3iAMQKu2Lsnyynx
            use3yQ8vK2YJbQfascqI4Gme31NBMIxbxJrbkf3R1RtziW90n3lWzTnVEDl2
            bFacUU6V+cEB8r+A7LoV83Rwwbwx8ue5cc7HvMfnZKYzfmgpVfcLce/kwmbR
            oX3uTbvnCu1sVjukh7/GH0E8W/HEQRZyr5gmyOxgv2UxrBYysdLFA2X8xB2+
            W7l8n0Lant+smgaMM4zYAawkEGXDY4YW5lVuTA8qX72HPk3DdeltwMQExVPQ
            N6dfntGBDpTdaPj88R3bkRVlLabzNbsheCnuuAreZTOmDvzNe/LqW22vE6/I
            uCjmx6njXbkarovVcnspXwP4aeX8Gpoc1b0QLe1vDgwf0TuT6eELybnlZKE0
            Lb6B4ZT+Xb/6AB/26R/jFC9C7brRSelEaehQfiFvfi/RZL2Pz0D0xNttu8On
            mA+qvH9Mz/FY3h8QWorHk/zPpY+HrzpsN2hrYk2xtlXbbtFjRfz6DN5sfPLv
            fD1zFVFOBaz6kJjzkb6azgddB6K77clzTGZh86b3AHh2XiNUM58sZXH2GTNp
            etuqpGQ8uvy9FG1Gv/Apnf2Uv0+WDwTV/wW4j3XnJVrTnid/4Vq2/Idr2Hae
            d4PUi79pkRLL8ODVvTPPpjO/82zjU3ymUUovXFJ6ccqrO3/yTss9p3/mQjLN
            SHQ6IBDEh8etjAdmqySe19G/FEA+z2n8zLnLuDvHygXiw+hn5Kxq6LHPMV5q
            ml7ptNWzzvK4VPk+s+ql/vAVFEpBXzNd+PdXTLjlk3LXV1n+LoCP1i0PlGDO
            sTYZa4n96FeeFlkwgAa4RJuVdJDSXWjPjHp039+5Y5uAnzFPJwdTPGG20cIl
            x7GTfPKwFpPn+EFZeunLAwGm3FcO2edvcn8wG7y9393aOo1+I6zJgtkADtz0
            B8veKtFn5qHFjRsvHxgTwFpUI8rfkWyRYuTD2wCrjDKglY+YBHNHGY+gCJhP
            BvOkGRd2bH+Vp94cH6rNqfqA+/rc1y97suHZoCqu4r0Ofyz85D8y46WXzOjD
            BDpJMaXRZK16fLV4rvpXS7Ew9cpLl5e/vJpA0TxzLI/X4TMvX3r5RtYSezsr
            dNg8YSjc66pkpvEZfyQvfcnPfEc1PjGvZUkUyA8z/yD9SCyv53PngHn2bu5F
            f+75z/zYPMpRkv6q9R/66P9FH2l/6sxR9sU8OsZqK5/df+qznFy4f/R519fJ
            dFWUJ+1p/9APZHrv/ot+tuUlWZQh5GMI3sVdH0KevUEcDc1J3o4JUimPE5w4
            4xHEX1oOkfR2IprXsqFW1SdKQixlP+bP9UoX0jzjE73VUkAbeUc/P/XQFvgF
            FqXM23QcE5z/pIdFiLL8Eb4nAwq8wQF5sBH4/sRNx7y1yj4vmxz5YDoYM+fB
            4dNKx85emzUvEp28KEQ85h78t8+65+dZfKP856hbsOezagfYt30973+e/3k2
            WC5iqZvG6uQnMOXrx7+CThmfGArW2unhJ2Z9+mj5vyfzPcdNetXoSsQUNgn4
            OTnD/Tyav0qkTnSZz3h0FH++Y3y5G4v4kEA9+dzmF3d/az2W1T0e1fLO3/4y
            +X/m/T7nty0de8LRu9OtR7mi8CEr00fB+AfGYiZQ/GRCaNZ6NkzNgAxWFmMX
            B6TewDw6iXWKlTGfzOZwL2sX04dcdSexehh5k3wBXoZpVnG94dhxlL4LLLSO
            wCeqWdDp7X5ghXnWLwwwXoREiznPA2F1NB/YV3lp9/SB6W6UB/lTb6wrp2Lw
            40/7IKSyW/+0MrQ9eNOFB8s9r7gAmsiZC9LsrFyQ9lAStpyggT7M7zw8W1yq
            VM1aoCTD15bHtQitWI6JhUcBGpnqMNdZL4J+wvSRUawa1+T6ydDw0uoI9M0K
            N3ZeeV1Pztlqse/0W2Mb7z/5PMnXix+4snoinYL8/PFHoh8wJFIAq37H/Qt+
            ++f5ZDkZaLs3oc1yTj/x4Ev5k3jFFOg3ddhJuSbolCnfFvLT97f8p8CP6Zzl
            HM91fjP+MYrU3e+V/ivJhxpLWx7GfxOr1kdw37pgXU6En7i/sK0mKitZeE/3
            P64HsxixZhqT58kmzL3N1PmqvxGUF/+ljpbRoNK5h9drz/DebcNkZ5TO7nXC
            BOGF9cplY5nr8sxNcenD5AdACet6K9cMSIJqM1XIb6ylePvOtOTU11HXwz0p
            N0Ll3mz1vo8RaOd9g/IH15+lLxRnApng9sUYTzpckJ99NnPE25wB1tooxAMn
            /+OwOgWRejeAJCvm/RpP/hnPHPSD/T2ecMYDfGLjyf+t8RRm66I9nISDZVlS
            N93QjZ3Mj52Dx9smA58a29XqrN04+csbzmkoqj8Wk3n1WbKBY2xVNblYFzpQ
            XUEDsZRPjWY+5U61mqui1bTGnpwOF5Znp5/zlg34PXkA6NNAHE3dm2rwAe/x
            PrUGnNMO/kbt4x/t2x/t42lPvVnGNi6G98WkAp8An+XvfdW1RzB/HHNXrcJu
            dZX1TXtRpzPtmwgvzG2HdQQV3Vgr7YLk/RceBIwJ903WyHaTsKmEQeUH/ynX
            Ie24xLbCYadWoDNcZrWmDJfRzn1xmT+4rMxX6lSWoZA/MH0y0oG192/3nhOM
            ve7ThvB49t/nXq2SMT4w6lV7inI59mjZP7Cq/J2sWZy7cIdy+yhXUJcPnjc8
            wpyA9LepivvV/gj9XOOMMbMm1bT0z2Ox9AlunTZWM1BZziP6XM+8vnCY6XpV
            a+lEiI9t9/8RXzO/Qi/XJ9QzO3BKP/ja6vj9T/G1VwXCkGnM+8+4m4rHD+5+
            vnB3+Hu83ZLlQ6nAd9+4mzWZdB345eJojHfZPNNn8vAm5zysg7vrD+4OX/i6
            Uol82l48Gx+znxD8w7uiqd3Jw5GNX878dKbtvXX24r0u83JVNdDO3NfMs9EE
            g9ScNzMoestTb/dDWMRo4i2cxSJTUnvDKsmT12KatnmugwNod2zZbMHujkPn
            5dCfZflmmHPuwrv4iWxrVFkjW8UGDw6Y72IGzduW72NFMSrV6EPBqMDPe2j3
            Pu+gk970kicLDe+2h81b4LPP0Ib5C16l3fSOeXdZg1P2xPypi+2IezZQKMcm
            3BPMH5O1ZahOnWtTHpBt4j/h6YvvL75mfDxldYt+pJw4IpXjgTo/epcbjaEn
            4eCR13rkM6Fkc2ZjROjV8566L/krL16RHMvYHqIupaigHaNArj7vUd6TYtGi
            jXFqZSzlWjs0qSinfmCNZ8k8pB/4G5TPWJdKLn0xSI+EeRqsvUeZrtDiFcHP
            4ls7K9dFk8di1GJT319O3vThzzXwoRoI7RW6fs5VUDoaBFHzQf0aZcCH0bZR
            8r7uq09AnD/X6JdFu61SiJqdeJ1+dQ3tosqJ0xU2yPYr8wTfy+romCOuKKBU
            hf86nYMfarpPO+YOuG3ZJlp/lA8elsXD+xl3RzFXNQr9+S0ZxzExg7J5B8uF
            oYKigSpCnXu7X2mRC69lGA76xqhvPNewMEPkaNAteZgfC8W4BIQSF9gBrG94
            rdByExK8Ml8gX3rkzkAfpiNHBsrpzIJ29X3/+ndlTO8rHyh32+k7T56npDj/
            XzrkxfwO5qtZaHei7H50sSd+vtHP67YB/vrbNiajsz6w+eh837e+FTupWusn
            DkbvrcF0yoTF16rUSuZXfD5pxKLt1StWesq69QZlVyOP1lQzbPMaE38/ytlh
            /fB5yshTWcuD+B3lfyg/fh1lL2WBiwE7vlMXcOxBUj/QOID1O+cn51s69l0i
            v0dx84SXcy1605Gwrg4LXJ/nv/Umeg59G/zfa2jP+gDHFpVq/jyrc4NDWmpw
            bD6dnCw6r8XZOdCczoHLorKvWUYD8bzs61zzLcrfy8kmpvxSzXQv4ZXOwUvn
            gDExrwZl2/Cab7JdZ8lXF+we9TXf96SNm/e5P+4xC1+6z1EZ/XPPE0l3JebV
            mGRnjEG+cMweff2hYo/h1Ls9/Ujudk4JrF7LN02Leb1jwP380kPYhbbF5/9q
            K1h7nltjyZ4BOzD+2k7/H/cH39JvRXT7h1ZIJngn/dFD99cfmSkAGLNBuxzx
            F0MlvfY5QYPeHvHq8k/ONNlR3fHLk3e9qhgGWQLkP6CcCORBAMdTvlKgkbJ7
            0zjqcL92ymP+ncyzwzq+tJswZv3X73F+rz9+z/N7//F7nd/vH7+3/QZP9Pv3
            e36737/DY79lrDF5rf1TO9YL+/Xbnd9F/q/ycRFvrYxsbk/mVGbhMNYKp6ek
            +9QgsKoQL3P/Fa05CGO7cQ8qQxYttymIzU4xzsw0jCOlEnKinbPOwswVtBKI
            dndGlbLXpEoK5OLES7jW3cm7pHOm/DVWwM4BCNLpj3M+lNtAI0ynPzvX/V3o
            UxeGeU3mt+nZdt7tg/UVT1/M1nNMFzpvqd90jXb+nvMz1jnsfFXrrz/nm5xd
            96fdbnYeTr/vuR9Ov++9f9ovq1EXlJcLQ6/tXdfOQo4/Qwr/toUqx5dj0Inp
            cF5KUjcmgCaizcRAWPP+CoNy5+k8k5+3nBNEHMo5kjYVfQkyA/NpxP2ylgQ4
            1cTc/Em2MSZJEAfirZ+9WKzN8iHonLF3zFZD6Yklv+l7F80IIbsJudH2Y1/D
            LsSy7uJNqzPe+fvbRjnf5uzbZmfpWnzXsvdBhrbvOuMB6l3C/XQT+afvwp7V
            t51vYu7QHaO+kfrgM75Ejyz2W/WdP/PHdbnv8TShMNyzFcaMc7HIyyXL23vG
            lWknVh5+O4c8Vf3whbQfcq8bkmuZG64e2yE4EGbEk92JfADwrCobhMu7jONH
            PMjfjRhlEHaLNdn7tWsqX7a1lw03hKwc2uPYcLmWPAfrFY6tkr5c9OwIt8bw
            q/xesk9K503b1AzKwYg2uaeftswx10/bMstpmyxf40i5pRUZkx6UH1c1GGOQ
            fwCYPHDyTrEmtK1deyzp17G3YW66/LrnLp0+3UzQdHyKSjGfotmoVOBSFfkc
            0n+4xJ8cTvS3paqBa+AACFj0rpqYgbnBrdapbNZOPqPKkt4ccTPILcORH/dj
            630Oy8LamtibYL5X7L9y3CiuPzDXhWq/MD8c1bv0SaxO+SdT1limZ331YrmE
            VV15OJqtMq2KxMme1b94T5ltMmuOWl6Y8skdR19Ltk1pYEK+/LjCaunu1/jO
            mrDeGfSuSS5NnDezpYJ1OPX42K9it63G8HPbSEv01Ybfpv05jFboW4a9wzMX
            kzvXMv0SAIusbXp8oC+N2SoxJrigbl0+sKxTQLuA8m9XZmQlylyJcwJ8kakD
            hDCz5NNfT970kxNIZX+Zb2I9p2Zoop6JNQVAkZVjiPUgn/Ctl/GmlwnBfD2V
            7Lpyvqh0i4U5GAn0Mp8xgYjyXjysu6k5f8cAMYQ00cO+dbEgQxtu7GA1F4u5
            aJ5kiSUtHfL2VDZsxQ8rnssr/zaLANNWJj2lAxPFSNZLj6k3Y0wbcxTpWeV/
            p/AnPxJ6Gk7mDkI71YRx5EcKrdqqQdEZ6yD/9mZjX545tbfdDyS6AyKJ3ZsL
            585gaTqDBbFUYSXAiqcwwnEqTpL1M/4YD/O9MPdSOb48AXN46zlQ1v2J6YEc
            3O37WU/ux4Yr+7NLjsbPsVY0njEqqEcEVn6Qz7IjmNZq+VIt7/r1kxwziQel
            9YABkc/zO28j58KRzze/ROYxcsrBnYvq1zrsJ+ol6XNOU2rGH79LOIa+pPd3
            p/79194jHba1S+BpvezTUz74Dsf98b00/WE5Ne5exeRt2mu/6vVt5b38ivvj
            Pe4vzwpVxXLQPqeGx52bbK6YnzlibibxGPP54A7xGti49A16uaCXDk+qO6xW
            mfSjzKKI9yXWPmQ9VuaGdxYbSblpkNVn8VB6QGThrU875QbKFlfHPcD7qf++
            r1Q45/z9xOnIx062UeoPmTeIfi1HXtAcQJ5lLJz6cl01RJ38q1k3VX7ZjLfz
            N/c4aKAD1thDPuPF6gmpFi2xTLG2f2nTH+VwYnpcHUNTfd1+3qHcYfPUUejK
            UUlQV45nVoCQPZL1VY+tiEx0pZ+cxYgoJpTf0ZkPLpw6c+3YeYkLgO00v8nm
            DgjEfPomxHJwuKzrZfsJ4L9jvjWX+N7AeJCcy61jit0rvsozE5nVVtU4ALuQ
            xvaKDCV4rC4A9YOLcTfUH9PFivV2qENmbB69XE3/2e46AD7eW2+U58zJxbEx
            +3NX/dc8ieOpaZJujUAxTj3SJl2c3jvpx14Vy6Y8KUM6iE38p35uDQrgDMZX
            sYQQ80/Qp9liOKcSnwLmSwOiqsDtOZtfOCR+aSatNivLfSo/CLM4VmV087lI
            n57NRqG+FBdMH/STB5/O5f7AH/2ka7faBNQD3Npc7tSeayePNmGBvgfMacff
            72P1ULkG4ilO3S3CfzX/QHfXoCTIbcwhwuRXqcoXkUXWbn03zvWYtgdUG4Z+
            kazb2/p776f2brDUhdLRYkKl+BsPnnz2mbZwMkYcQ3aL9V7xwqL6vy0wR9XJ
            u3LySdw5GfnMybF/y6cLfKr4HvQBiX4I9hk7XF6F01kOVOy/Fr1nFlvqWFkh
            4dXRH/9081P3mzUarMa8+gPnbDYPxjM9dy3WxlydOhGKGcG8pQUcWt9P7Te6
            s9y9Cr7I0p5bfhnHGk+nvqb2LfmvaPm7y4U75ja+z6/zfGdQkeaK1hBRpi46
            OiwPsviZofFtl35wV5pv+9QYduZj9BVTTB0eLQzz4n36wj1bKWCO4ek1S6r3
            frJG7ql/HqXLg8A0f8flf9bvEW+uOgBRirNb2+BRrGWPxXJZdeWxZDpI7TOS
            F12jZupck76wWw5N0k7ZXulHlyzHkGrKpfvel1lve29EA5Wk6qUNkhm7VCc6
            q040OFraxjAqFkoMlmulHjwQDx64+94LPiE34ah606xO8DCSoLL+OnNAqjaX
            5PWWa7/PHfrKPO6djLHqs1Kk9YppLRDjAnMFKNVVFi8snZOzmiN0wSfkdMH1
            87P3vdUnZTyO6JWKK8hGJXnOTcsZiBn+yMO0nyl8AbSvO6aMZAoGywFw547v
            3On3ObPoEOetE0ejuFq8ZkJYwk6nvpZylfkNZXrr1XHxdz+06NYWoU2KVUl5
            vjutTsrTsU5OMn2nzPjJ6kTwfe80T6zbR2KC6bPutx4u+VvV5vBWd9g3wOh7
            8vwxJiLbb+UVp/xoa+W4bxnu/KQTs3ToYVLOV3vGk5gwXFf54U0DY/yBHTlY
            q2tmPqp4yRAvBDGMR7zB/BaitacW0OrTnWOyYz24NZ78hI0SPmuyZSX/ZECb
            k86xKt/YSl8wT2qSSwlKX/6qPPuth/uA12Pushd0J3xyVJPfnJBZGMfAcjX+
            P+zhk2Ppex/Tj/XuY+1J4sNy9jF+i94wgX6xmIxCo78CqC1fkdF4L1vrO2UT
            H4//1HBQbqgK3GvtnOkZAHDrwALfIz/+aHRAvi7hFU+w2s4rsP4Ai/H+FQc9
            8TN2+cKqv2P3uzGhd93G4WVD/OJlmcqmj/ZG4b7Y44eXtRz+68dXLDOen7uH
            a6bayfa60pgP//zOZquWGwGP1D0duUXn41xntjQei7MjYJ/1fkDnujxfTn3n
            i/88fXiSyfSE+Pss8SAghdHATPiSxJfypNNzUDmwwe+v5EHMMFNJidT5G9wH
            CEO0Pg0fMVLI+j3n/pyzRirYAxu/Z9rmcL9N7eppd3ynHL1QHrPrZMaKHvh3
            STE5DPwAXqEzgfIYf/LKRZB7wcL4gT/+vn3bO92nNtIAnbxz1+lvlywvzb6/
            m66fcet60Fx9je3CG8RWViRyEUwPNa1ZOdcsfxyr0QpXUUYpjJffCpIjXDNP
            GtW04bEcxmYXP/A1q3SNlLXon/iybgnPwy5BubvogfUjOwne5m94U03E9JMf
            kDa1b7ooGZ4kkPXqGNixzNanTKU1y74vWIx/wGI8sBgPLMYDi/EHFj1oOGHg
            1Cv+3GMGc2tP3GWwSKi0+/Sxlx8mlcoyyug+KNd9Rjnnn0UH8gymOgXIMxf/
            A0O0wxdUJmG/v+07zjgJA9VgAGvUSQcDJKXN8vDXVy6fZwgD4JDte5l7iDT+
            CwZYO4W0xvQSm2t654a5LKyPoBzc17dJuj/W22EeVW+0G/wDUw968+POwnE3
            /yDuAVGbzobvAd4D7mf2bjrJT0Gm5Z6DmAVOTPH102BK7w/KmGD+IKFd2GLm
            8SyYYs7STfr7FdPxB95KfNYzuBEypAOsdBWGTZbbOPIaKNX5BtujjnnrfuIc
            a8mtNM1Tt1phFvxXzK6Yi+3PwFwmzOp89sOpOXtrwYPgFflDmX8UOvjB379q
            qpxaeMw9VsWbmu6WexC8T7u5luQG65hb1/IOuXyvl3Z1hiD4yj/MmEzgjE2d
            i8X3nvwDlDQYm/+YFfvaufWb4YmnJtOn/V7iDIALWGNOHjbUEXp7r+X/T8pp
            QR99yrSDJaZvrPhPPUDjH/Zj/MJodpzRjqxAr+vj8BP10K8p/o2caL99DWZQ
            xjzN+VO/Fh82sRazWp0549nAU6Vhch8tp/T7e0w2CcrXQB75rJvFCv/Umi1e
            usvNHCQB+Oqdv+HNTFvecV6YNUR72iKJmcjF4uOicoU1JrXuUk8u0JMYdJ/x
            doGxlqUeHEJLUJOOsFrsARDitHzVwp/yrfvkxT05camTU+052iaZYzZLZmTx
            afmVkX8ng6p6gBiyHcdPPm/iO5ZKm4N0vd/c4Aw2YZ6VcPQVfEcMVufqtqun
            HTgKcw4kXCzTg1hNU8byMYzRyQmNIYHkslnnme5EyuOiJCrrr30m48OIW+iT
            MYNdX6f2lnQAHTSftd6ZyK7l2Z3l113D8gzeWOB5zh8i5m4xhqUqF3RzrJTq
            zPfM0b71QiQ+51T1uKtDr6b1+nwbz/dw4eBJ8qSOMWRfeYLXp+6a4uoT14b8
            BvXM/6NxP8zGgBVtQfzFbqbPZIqkb9782XYO0m/HeI7pHPM59nOcdmSOOicj
            x4k/pE8aTTSV3zPko51Z/5L194r2XlOd4vITH8K1Z/0/oOpAEsDflJOFMzlh
            6QcnXJ715i+5vOs+Na73qY2dHtYpxEdSL05h/VH8HlG3yZFUn0TVe2/HRjUb
            6GGKQ8cyx2RWXrC6quf1rc+xXJCG45glnPZ+xVeV5dhfNFnE9B6mXXOM1PzE
            WgXVi2zUBOk4mevM8HA4Po/PicKhzDOY44H8xMOQiMgSr54yEbE2HcWItwto
            8i8ZKP/IQM0swKSTzFoIuKOfCX4/zDnzRy4jQCRrdzIXUnjMD4RtNU+M6Zqr
            8neQrpDWU35Y6UM6SHAUDJxTPkZMRylJfNyjHN/PT149XBv7b9eRPo5E6LoZ
            jX8gPsv1XM923UVKUPSVYR0hiSPS32JBIGgzdjN+/FRiqsqhRdrHeZLzeDe5
            5G/5EAAa+V8uMmONaOsmzyU9Du2wki2MFlNeFOFWloB1cuQYr+6Ywt1sHh++
            XjxMMZn+0NmeVaPsh9e+tISaDH7T7kO2ntL+9e+5Y1ddOMo+zINJXuTxymrA
            YPiTJ4oWnvxInrHYfrQrUb6flf7r4FFGo2xDu8LlY6zNq4wAtx3TC7OuB2O4
            L4/DdmYnrcwRWEDsJhcfMm66uWvUJlob1iOTny595/tgwaV02nKF7L2v/WZ7
            8tLinyAKKwnfOv3W02+1fiWray0sFxUIpM1vtecJcfNrHtyZB/f8jB1S03y+
            2tTTpn7NFdiNNn/N1c+Y6xlzZV9rTOkHQfd9j6NUgz+zgfnMOCnavLgn6ect
            3bDlAFdclRLiH74cPNrw1XL6vGaj3FtuGYCDTDt9lLeMeJh98KNqfQ2zT9JG
            NuxdvcnPgsX6qH7rGW9jXkzCFuaw066Qv8YB5rb/4meoyx3jw0NdPUGbZpVk
            nGPCePa3TuDUE3yY6HBafb/JhOGdxI/aMtkGKms/hAZ+dCuxdPP0B3w4xmp1
            sSH/ePnkKZ6cehX5vyhWkrQP20vxcNgLrAY+2s8z4h2Azyz31NH7MoiDuZQi
            05/8kVeV48yK4ytXD6T4DKwsc+Ve/c1gcj1u2LCwB3E9nHPVI6y1WY6xwG+I
            rEDhVN+78la/35WYW6G2fc+//MLMjyw/3zZJ1szFHM/af9dbUOnSYnk8VeeH
            c9Ksbsa0nMLuM28MVEmWu565BKijUA2jtixWnhZzL10UJErytV45cmVPAtUD
            /LGPQVdj8Yj11CVg5NcinsL7qvLhFubEyayIePIDKu9jPPUVqZdUPIbFjlHt
            q/NtPves31FvLt+onPr6VuWATMc7LTDnvNVYMh3XE5TbkblXmJ8g2Pdp/aPG
            3fnMRy+tHGq9XzvPzXepHKLc0SYLDNtX45OfkHQr0GfMxxV/7DyB7Cid1t3R
            hblCmz0NZYCfLt+/C79FayBHdWf82yg2zqqaEFH5lZlnuf7UpKBMzpx/3MP9
            6GnyqXcVbxwR/o/2RDLPqkUXzvh/6jOET/2JcupPlF1KlN5waZsFq8fJqqK0
            KR8/V0DMO5wcdZT/l3trN3pVEeaPLMpcMSPHNeNXHYtk6648s5iXqFApzQME
            CoP5fnRQzLF65kb5Hbu3/f2Zm/RTZ6KYzkcxd/f3tx4Qe3XXYLaqu4/DoE6q
            aV/xmUVVpGPMY2MuZqalz+HYkwjPK0seBSJp9ayJ+bDlU8ec+lvFnjB1137o
            Y6EaFLExhivyHbi2zjPkyTiHj3KWJK2ts/X/yUW9gTeUN5sT9TdtuHaci35y
            gQ7y8465R7Dprl5jG77FzmVqNO1NL3vuS4sF9njx3zJerScPcVPtsb/ef859
            +ZgX74+MyX3QZ2R0nN6rOLlo+9TLTampBoI8SJftjc8a1T4kX+INanPqHnhL
            ckGRbmh/njEwz6zhBv+Rm+TPMWUHl+5deIV5MYfx0MQr3Ae+0I+aSWCAM7zt
            yQ2m5RvXUNq+uEbjaAfP1P8hnqmGY+h4q5oVQbbbpvd79FXt/bMINz/33fe5
            bP5JSlPCObaaX5FJF2xPbQ1aeBRYXNrLU0dW+WtUGAnSSzr87qa8Q70DGLk5
            jj0Ae+rdH32S4ta5rZk3n0m0SsTOYA1EUH1JW6eGOS0Qz8nfw/71HeOVvMMq
            Iy57OlRYDAnDWUdGs7nt3wtasKZ+DYDFfPsL8Hir6oxl5exf+BDlYS0cV0me
            eVhrS0cfuK/OP9E3CCKwo4nBG78OFgxyScrmc8BqC/Q5YA032StJe6nXZs79
            dHSizLvMWn64Kh22ataM/Xxqr3x9ZwMF/h7LjC8AdLg7DtUa/H85jvDHOKQd
            aqr5ytIfikqFEFIei3lLJkt0qxmenfn9sF4bCLS3WjBMoZT+k2yjuiV7E4HX
            +z0tvL2dXElswxCNTLrPnDcyxcrfWfRSzzj5eo5f46YigGLQ3uB/lHK+DoIM
            fc3qx28Fz2zWBax2n/TNbJDU0R65i8Ep6dYdlqzEmHDgsLseQbnSwfA7/26/
            VHOQutJF+PmS6/gt9xkfzB+AstymzweecZDHseHdbeMAlcTbifszGZ3g73Hs
            NTqqti3mYZ+8/Rf3nFwGxDv7yJDfNhTiLMz9Hd9fZE1wTqmfeaGs2J6tmpdr
            CQKUEOh7PiLj6rHnIPB9xr+FS0//5B36Zlm2WUHRuZb95PlxpB8uDEcay1x7
            rGga4jNVWdzuKW9rXLIFPYyI0JxGs1XtZdGL1WTe5fb/09iVJEkO47D7vMaS
            tR4lWf7/k4YASdtV1RMxp8rOzsUpUxQXEAg179ArItqNPCwAVnjsLef75zdj
            rhKvS96/jaw7M47s1us+iansDdvC7UQRa5xXxhUOf0zON65zolLXUU6rdSde
            dzU9GqxZ0bjP8m0dIZXXo4Mphw9WRq7sSn4N3fAj3+uEvy/9vX76huNdc1PZ
            0z5Y5sz15fm9aQ6c2d9vffxgNot9iyJosR5k6NzDAGCyC5YpBus289qQ9t1+
            2nz5/Lt8bIw57PmuB7nn/9QfGvFGuL8V9xe9DnlPR+lJ+33ULgXxiiTntK8H
            LxWpq814QW7qj99JXuVfMfcexg2B3PTzGZMD8Rx6xgwOtYDhF4CbinbvAxkh
            7bFG2/Sx+8WmjGZn/NPn9HxC+YX0XE/vuY6z3M91nPHPuf6p4QAn7tfKNQT+
            q02Kne5Mzbo/e//HOjSK1GAnnEP+Ek/HfNhyE7GZixU3ng2DNVQqhGUqBfrz
            qm0WTRvN+r2b93QaTqcaTqf+XhtyU2AWeWmuz/7LBV2qDT2oA7OWnufLjqeG
            5UjWZzl0cKc2G+CJZNnFEHjAftf+njye+ljjOXser8lvL9s5UnHwAAfl9z9P
            9EX28du2EE+hLJmMm0SrP0+tANMnxbGgKNnj93/7qF/bk4RpjWP+v3YSPA70
            uoPnKGGFx07Qp5XDr3G9gywntJPWRY3Z7f+Wa8far6p4On/8v84YnD8jXWoB
            iTgn7eNW2feWy8xLcSBYo7W5/8j0gpOIvfcNMs4YPb/hWmb1he4X1L7L37gi
            gRVjH99zy2KKx98AnxCSzVpiX6hWVotV4xhSAFXg2zV2h99EQ8l9MQrer+9R
            Xw473Mtw8qYHHM7XRtYCSybyro/fGPIEsKL58z7U9uxzGb5+/LPsXdZIrq7c
            gfiMG7wMYlTMNRFAt1tBOutizGBatZKHqn9LQ+14y31e0JE4NPZu4luBCmVs
            srX3iT444pUrvNd3bYszA7lIbnCrPf+OukbU3JN8K5SclSbzzmcZGI17fDk0
            2t71LLqeaxeznJy9R/PRPkOt6zdWaMXUKZOg+UEGKkn3WmBdJEblYSA9P+x5
            Xzj/+mPvgz25/th7sb06qPPW3b6hQeK+axo+hrWzoa9H+Zi1M2gG5U+cqVPT
            WhMELiZbDT6M7TFG8+duzbEOryV57Sn/qj1VYmCoM3KQmcseT3+d7UuOMuna
            1TMs1hWue3XTKgld9QiJtbHPPcjDGhbrNd5XhejapRwUj++xGtgP31N++p7W
            W//jd/J1+jUxz5TcQnJ66usCBw1ubWAockFD5R/rWN+z7R85xSDmuKruSOm0
            pQJY0r+09CqntX7YU2ANKHJunlpjxFigFtD0HhXuX7tv9tzze8DGfhGnPalZ
            rtz9sUNBUv5CNLNinmtrfvL7+i/g5T51I8/tsvgS6GaKjd6OSfb6AjXqgD2G
            jYAFoBuev6hPljUB/HsDd8MYk+TF4iXXU9uajJFxz7ByVWcBoDFxIgYayktq
            uD+xmHve+Qbed4p1HcNff290mQHWTE8dS7WSNzXpMHEAORmg3Q/9DFnLM/mZ
            sMHb//1ssYyqdoP3gzXfrw1Hg6mlBGIf0t39Oti7QxQQ4MdP8SbjzBXzi/ep
            /E5ynZYXUJOvxL3ia5P0yxDBCq/GKvPfm+s4aPcE6I7nDEMi97x2ae2kGf7z
            TKCp0jrnw/Ea/+paun1ZTh2C6u5Ah5yamq7thho+349YB0QAqjUp3ggTipLq
            hxqH/G1B0sOgoemhwizQNh7+PRZDB7Vh1aM7MK4rdhrkV7m9Ys4Ma3yKbeax
            a5IVFdNgPdxxIpifhF5sjZqHUt8oqXY0rzs9PcjiWJ7DMD4qN7Qf7DE5+4FZ
            VL4LnNOQQWmMiVhLkq/b2LetA1OCWi/MA4QlB85f7mk5jiSwdbwJrgJ8N4pn
            ABex4WssNvTY8dH1c52/pgT+jt2JW/u/0zE8FmPSY4nj0OGrX1jWDxaK+Lei
            mCj/zsvwPxRjy5hwfvE/0DmFJFi33m0GxTQmUlHvBh6BpP5iduBnloB3nW1x
            VhaEd1ea4LBhzySIGXbDzCOkCzWB4/zR1hqcWiXPeo9aS4ICMNd3TJ2XjJec
            b2JXuI4SHmzDbro229fo1jXyNXOcE+a78TsJZJffOZPy86BfBJyTBNjtqx0Y
            bp2dRF8RDOqILyTMHpiNxhAG5MA4Q5fiCuT9ualXDv97ndyji/MiNlcYrEYM
            fgPW6oGBjNTgWZzRww5qGpug9o7HRbkSSHDOablLdZeA/8/A/pM7YT7fAR1L
            /w7OPXb2RIHCQUH8J4YNPJg+2wGc257tq+XnOLFiNhZv6NvkXn3fZefHrmku
            6lkiNw3k3xokUe7U2lDOenLXS85CsVgqzosjBKILe2F1aKDkPpJxi1/U7bkw
            4xo5oKT8ZOIJ6CnARS5f1DEKMQjSIDhHtRewOmYbqLChb9mY7324/ID9llOM
            wwMBv+U+JLeb5GsSb8/6fCljcsZNjmJw2ScJnbfajpj4rNCeQJcs6nPirzDL
            VcviVjvq1ms0fjHwKkNx1WaLCv1sNG50Yp+w41t5eEZTYvzagb8Mxq/MfaDo
            XtVdXYqmy9DR6wCJiKXKWsaSx2F7VhdHbi6YAnrhvjVOU8zLlvc1N9qFIQ8I
            GnD+2Wbj6sN7GsUDR9daak9MDixDOAtrbJs4P8WwjUeXseAcntTmGKZDQhId
            7lvVD8E8mOzBkY8P/u+ADwUP6wn9EsWMBOX97tR9CXqyU5eDUxLUwACfMXAE
            Degf+B2+D7ngRox8RvCn4vsz/Ay0FcQvYkeoLjUx/40o16NKPpqAK+rYhMg/
            7bG+VqIC2DeG0i0mW/Zv8BIF2Px53F4vQqmYOWhjfXaTRScB/4haNPi6qf8A
            8sP65TeHhC7WaNS/ugkUBLR9E1jxAHOH6oWSAyKA1fqWjQufojxSkpspj1RV
            H8CJ/n1Dgw7BW6PWF/id/f+uu4TJAckXr9oYjPfDcBfk0jVNC+OBUtt2HZol
            pzu5Wkx3xvi/p/09XZ/mH5zrJWWqjREfUtwvg3Ox6vVwIPFWCBYwSBekscER
            nsAoTb7oeiiWS6m/lM+tLeb/E3PU2FP+GXge83gTGECxF/Ie0xjKFcnBT4X6
            UxLQzHsU9CxohvlxPBI+54oTYcxUXdSDnHHQ9XYVsvv+z38BFz3bLg== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
