<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e059</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e059</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e059</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0489_e059_v5562</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57433</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e059_v5562</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10x2dgh+whn8Bfx39s/i
            n3s29ttUP978c/n1l39GP572eUtza3+NuE3XmDCH76iP+sSgvx7hOcryR80Z
            cns6Rv1MW6LR3snMfr8e7s8U18F7nPMo5eLbHrPmu572Hn30HMtMKafy8HXS
            ijaXvFd+Gq6Y9eEMh8pRLszUk46Iex21HomD5djucES+AVYgcTYX/nBHHMMo
            S8IxPHlFPw/f832kjOesUpqRQIh68auCZnBinjgh2Y3WjWNDy5AyB1G0brHj
            b4nn4XUXjp8PjuHadPoxXHMuHMPLpAbyiFq7frSv/1X/X/H/RaxNBsHkZx23
            UbWW/jbqScfXcfylirD4H3bB9/Fq5/f+8z6HU2FcP4/nYfdpx6/zT6Oy9ms8
            8TbyuTp+fx2vMej869d94mEktH6NJ/VedP6v8YS1ROVrfb2XBmrEX36dv/dW
            /PXcMETGOGTHP5vHtwqPP0YCUXT7PWi/6cj94XWbxfhOeUb/HPf76XMsO76v
            ED3jf3uPvecnO6t9Hdffip2fuEd13O9++f5f+0nPYcut1+op2/nHPt/fNSw/
            fnw9u2Ct1s/7B9/LpzPa97llP76d4hsZDLX/JohkbPfXwsQ1b+Pcv47PuYxr
            /Dw+o816+HX/cEV/l18Lf4Xyt4XvpWu24q/79xREEPHH/XsyEkhhvJKGC/mL
            utOddXwlsCOwjDpCDqN1vHqOWK6K/XM8LWCL1zwTJjGO42w3OK7Ymy5+6v1w
            iseD88Gih08p2FQ9QyYLweeMkmlaCIoLPv/CkM+n48p8tIdMAezu7nj3/+7v
            yQRTj1cVMZI7QCpGMMYy692u7tTyb/9h2Z4A7n3MB8Ly+Mf//Lz4787j+v+r
            88q/PO/8l+ddxzy7kUAOmvj/dFEWQWA3x3b+Lx4b/90xW77n+d9dvnj8u+XL
            6V8uX/2Xy1f/3fL9i+de/9175Hc1v2b4j2PJBUExZvnvLvr3x3qVgpdDkn7T
            bZn5y3enMVyogStA3lMPADHGCFbwfoNukaEe5hN7/oTsP/GXE+LiBAc6G/6B
            V5yQ5VC48slzoU6c0I/PG/+eI1P3gXqYoQxl6DZ54XroMxmKVV64HlI3Q1Ln
            hesXrl+4fuF66EAZPCyDp2bwrEy9+ML1F66/cD0IM1+4/upQ4JZkSDY2L/6m
            X/f6/pVyvPSrh8tkTJDq16FvQs8Wc85UWakWHieUL7D+52mQrdAAz9VuMNoD
            q9WDcdAOVTwcYrUzPDd1/nzb9bxutufp6WktPcN3EwVHPI/r1HXQM+NdqpFA
            5eXPJTYPwc2bxI4B4KHxfG5+Lw9XDuoFxGYaYaUYrj4wwAbduJsu3fPtgh6L
            cJzlB1F2ydvcu53ToQLP+Egbv6jaDlco4kPl8vJrLmk/2XT+fkGUJIz3lgS2
            6Q1n5gvXQfGBiYowWp5n+fUcQy3ddh+vvyueWaXPzj1Zo2qSL1uqdafTl+qR
            LthNC6N0xN1lZiSqKzhnlprBMFK4SuKS7TeAYtk6Z0Z3xErsOxZTaLrIpYNG
            n4zFw3jmyp/F2+PpieePMzdZdhWL3a7nijj/jHY+ljTHUDtUWswvBDCMheq/
            Qdq4T1gDhPBc1PnOpXNAiw8NSxyPLgga1R683uRBzOBeVGxHX0iMc5E4fiyq
            zjlXzqa2HH87pzZZaRg8za1SaGE9o3Dhu71EI7FUTB/OCoXTGE/QF2hxUtPD
            bIEEL/wu9jvy94AuNOMIlAed14FWcO81H5krgdcnvulF1TaHCFHXQcCNywn7
            h+c2O/eoV4gxrEjCxoTN+bR0kqCi6ciYfYzxCtx1/X3vCyqxaYzSWuL5F4K/
            KzlEpmGGxZvcwTTZ8w+Cbx+CH9KZyGk0dSCQG+PA9qwZfPFrY2KD322IK/D9
            pT2Dwuu+LgVcR/fAbdfx3HXzXD40gP1c02yC6Eahsej65wKSajE/2Sxy7oNY
            bBe1aDfXi4QHhsDeRVfOxWmeqiB4A6xV0jDUwcX9SSdFNV4zTk5hGfcT+gig
            ySVG1yjxan5s94HCbu6Vrt1Xv6fv+UwfrylpPWXzmDvrlXmD9n1Neq+JHHpd
            +alijCRPTJOs1+zXFEofCJ8CyVDayAPvtGj9hUrmHEbJHSQzGl8sQ42BbdK1
            0c3msXGB8Nra+3jS1MPfZv45rg8pkJxCvyjczLQlv7y5OcICCUv/MEEBJd84
            z8C7TuzxAJJOFF64B7YBaKUV8Fp9UiCIs8FYXI/z4uRcoNM9BLIPj7wqJfqD
            wGQxmWAP9B2cehhMjQ56bnfjdZQuYd55Ru3xySV5JgVK3fc4fFAcaOOi4nfE
            HsUem7g3FvriZ5qcGE0YHlSnJgyM+5m2+Gff9/tjIZMs6dzivgYWzSkFl+xQ
            xHjmJAMRHEE+kIeOFxDIuQYERw2v4GgywhaeT6Ig0UYjpDPnczPq66IOs5+v
            PXCXDh3In5+deG+/5uDf6GJaztBxTl/PrOJCUFd4380LHzLu5Aazz93ZRuFG
            hViO0EwgDKCFcJ+Td+LNoDVBOF8HeOhJwYY5a3IVQRfB9Zu/rYq1HM+dUu13
            ahQcKbsuMB5KIx4EnYOT2MOpCuHkSLOX7IGuKToQ8BmzrENsXWowYq7x7JA4
            oHCSAXfEjWWRjQ1J4TuiyBnXp1w9kN74m0nCkW0itDjTd4QWBMx7BRl3UG0O
            qCSL9xrzc34qOH+BiPpWlWJ81mnPwA66XFWCVFubmeo6GJLYvS1e3B0kDOie
            GbzVF+m8IfelxmVT4yBX7g4JCqJJ9zN5nxg+8p/HC72G2mkxj1XvfS+M4wly
            Pvm9HtvFLzE+RowQxN2JkeMp4d2tGA/nKtNkt3twI+amnc15wp4rafNqcEBx
            mod+QCdcbNBnb5wh/+1M9HcaCUyOzwynwOngLdvE4PkKUG2O+8a+IoMDuzT+
            MOhpWGm61hpoztG5CZGJ3/hJRbadee8vzVNP1MjpmDyo4YX1p/yM0BMgSKJ0
            EzqATACsJvkJApOchmLXcnlff1Yyex8rDAGRyUEW5WSCtz81nnsLmni2XrKu
            CTQcHrm0Qvbn4NwEda5D7vJxfg32XGn7mqPa2ML6XFMPuyZHkQKvuWCA9H1N
            nbY08es5uM/Da+Z4x3ZTA95zgH96Ts6fOYBSe3MOxocEnpTnvS2EdJt4B0ln
            VxqNDBofuLdXopRxLnDe9NXf5nenN0cKIV75M9ALmng1bXXfIJx9vhIuVJv4
            u9tDqbTgPp0Kpvxadk2EenfuxUqPPQcS4V2s7MRzj/c5CWxk7Gugi+jlwtcC
            Y1z01bbrfJ+DPWZuXAr85zRmHvZzcAzv08lQwTEe4wGpnMvMLG7jiLGb179V
            37dlm2kXmfBzXqlhXGftNNeu5j47SfJU0zpNMEDrx+CW7XhfkOcjyTlP0lpM
            QB7iB/lhoOb88f3dJKnNXNMWVGTs2u8zP3s+bggCvEO7bhEImTne/8NPbnf9
            XVCD1jASWHfzqMsXg5odi4BBkOFga3djcGnUdfeteULyK6Zz7wHg+uSMdga7
            PuH1qZHm9C4QlBkQFyfoEcPVDkzfOwPXgoDauvTcwtgDJPS5Xxz3mzLt4mdR
            oRyahmDPgHF/X3uccZr5GfvnfGg+Q1p1FhFw4cDCIAiCMS288whyK9i4+G4i
            ABLNltKPzKyDmwvPePQbEjqnevLYJU2m4WYJU5RFUtgUfGfGlwK4gWs4ILBu
            BAVVmZ/gFP472u9w++/LfueUMdn2Pfm51LAWtzdjPDyH8Y9TWsVJGRQfOy+/
            52R3EF83l4NMawZIf6oehQoMtIA0oROfOn6coCxaxiel1vkMfoLiln6TZV8R
            p0EzwARDwk58n+Oor1ozhq5jcJNsduElO/7NQDs26KVnddNy0ZlsUQjQZMB9
            hogMWqFCm1hp+QfERm6u69TihmzHR7bfIFgGoKiB6HeHASnOczbp48k/Q7HF
            gJ3ZjN3aZ/GoxMigr9uiB/Jh+vPzoRAbdCQ84OZQ4jJ9v/NVwGnPqOeZpXJ0
            /wzLxh2yfXaPxhz+nOD336Glle2+a9nn5c9Z3X/n/Wk7/Fw+P5cFkZb/hlIo
            UUSbueQG/mIkcF8XL7aT8Lo6CeqcbuoLBLvcFotxS30HsRxSFf27fXJ2pQ7+
            d4Ok85AOSnkFfXeAXQ0aoJDJ1aILZ8HukS3fU6OxA9rV/kkMQM4Ay4m2B55L
            JwZVvmjf+dn/6Xdc8kEOXntSpkIlxL06/i1qSvgcK9gn3j3yE7Iu8Hk92efC
            ZxDXkU6HRTkVBId9A2K6jz/1nIw9Si/mIcdj6yYGGX5+xW3+qGx+DV60KpJZ
            gtTn00R0D/sacPNn3q+4ZVQ3lVyUQQCDkHqc9ge0dl0DXgbrlh4H6Dlxeb7A
            c2m/ORvlTaBIzqLBQp+dF1g6b3LbTbQtqLum8/hpmedy03fD6+hLcyXrzl/X
            /TDodA34O13A9qxRTW5jV8V/MALBBHK71jr2ZNZoLHtyB2liYkoXo/BgdSAg
            WIN9PF+G1mFGKfRzpg5UcNPLbRbeu4ODrHc8VKyWNoju/erxeH9yv3K/BiWv
            HXN9rr382rp6/tu14b2WnCTPtFbY75QPvBN9lYc/d0BI4b3wFAiilMbFLIor
            lQt3wfETOtcpBVVzeg6OJzFw/liwWNkEvbzEFm298y0SCLjVG5U55VRfTW4e
            Bg9osXPoYIVmDeQRJPNdObqTPGlm7VMWFicMfq8R4hCD69tYglnbP5MEZUAO
            V2iJpnRBHG8Lg5P01Gfqs1iKhu+4W1p4Plxk/OHQamZptbnfYbplsXI3d0xW
            FKhVPX/rD3g9J2BeM3yXgoW2d8fN37u0hLqmdn+GjlKdgNPqY1+TJwOu7zWF
            exNElvY1EK1LzrbV177mlhG5OQyMvTU9NwJTfT0/w/4ioJJJutsoDFCMSUA9
            2j2xPqfWh7G23iS46MS+eyxGAmFRyp01Vnm3FWmWJlnAhpctGP3ZzVj4qN0t
            7CZqhpb5vBQetlKmwddFdYCTKv9R7X+6mItpuHTl3DE9JaVfC8pz+pUtJ2gE
            mYpyYZ3dxiG3Tx7jtbKhdcDyiBXs8ejb1Co4CB3MORSsbGfD/XpjBc9z/+Rq
            Zd7kEB+uNoxDjeMffJRc4JNajxRXXKP0ES5wHq+ye0Z3Ldn5q/bbzp9yn106
            f37OX+/5TAEp18yf82+wf3qyIXtepXVvzlVdQZ0x0vqgm+84t0uv3Hcf9TRd
            IERltfiLlvTcFPcj2k23KwWTCXprt7TLQG+wTMTBz7PuaJQmDk+6LU0Bg2xu
            YhaI1e+XakVK5GXEVo8KQ//Lny7lqiy7ph7toq+50o37KDj1zAXiO7bpCLmc
            PTUCeuMc9sw6P8+8+cyKx8qsjbwrlMp2b8LCrE2mzrVo10AlKnz3EBRH0JaS
            u4y5YV1s/Kp0ScXfnKGmm9aLy+LhbBiy8GXDIEDb5bqGfroKCx66EVl3EuEM
            bhcIsLJ1InoTOp6nwIc5ghPVNphFYF3Y4bCCB30ynDvschhpDSbxRQslMDh3
            fayDwPfA7gw4y0gAlrey56jUufZvn25OkABxcR7+OzEaK5kLmZoCH5ilwMcw
            yI2o3YMS+ZKZMkn6gCnvcxVjldPyc4wT1AKSlaMGt1tH+hVW74WTVE/6k+gf
            wCTV/IwsZ5VNkiKT12/fZhSNHMUDR1mmAt7T3wPKsWig5zN0mVTMtAyDDvD1
            9LHkTFqk3m1y4TwpvCfT5aRVLL3X4++339N0gwpd4xxynl/iGDR3cKWN+fUt
            0m9RcSOKvLk9+bWf5EC8lrR9G+fDK5YdIZRYoPLJCCB5SaJnXVaa+0krViwr
            I2oU6SZdOl0fElM03y8LEwVyedAdKCg8s05R+OM3mXN9brKG3SRHu4kiV0M2
            sa5LTdfx5U9Y5ucOicoBIBvbrtMprhg1UGvpb0ybiw2KLOd2CjfqIl0D9xAR
            yD3abrwhqriwd2Ko0LgTqOjE70KnMXb39PFc5Zht6yCKwC3KfJPznAxxCnrb
            SPNBzu7Hd/Vdul8r5mbyvnzpCFgl6SwK14hd05uTlE5LZwxMu5vsGub7G+JO
            LjoV7WOYm5GS8Zz0w4CxuFMHt14gbhIC9YbTuWP93Mcz78AJTnlOJk33e3NH
            MAWaw05IylIkd9zjwLsZCRTGpIyiSEVJVETFsMUFq38P4GH4hVR82A1eLtEY
            mvXB0IkkNsW41aUBYcJPfirr7tWeQS9MAPF7J9een3dwMcWzFYWmsCN5/bm2
            jtLA3Cw3lxyBI3Nz9txKpa5ruI5hIMh4slBqgEZkDRrWee7deV9gy9y5t18f
            QGG6Bz2Mdq9ycm6q7tfp5sUe5ne9r92zggO9XKpf2LWcnWr3lK6EfX0E01nC
            6WEq5gnglTi+CgLgZ0tbXrc21rn2OOmZoohOPs6gMP+lec/DPYyc8yh3s8Z6
            ecgKG5ei5FoWFw6+Bj0zRpBTqJQ06ZjnppaCSeeC3MsnpfgC0xQs5yKhjHvv
            kgZFC2zRB7oOU5oCXu9badJigBUWi7hddGmBnVCb5q6CBqKRms86KrOE4bO8
            9L8zX2b+4/Pn99u+y0EIcU4LKdIiZFw1WXoq5kMbDsMTrSvdkGGyLqlgXmYP
            lyqsj437YMiZ7o8CZVmWdj4jHW4lK9QGEVzN7tRvOuskSSkNFZmUNMMzAv/e
            mAUFaRIW7NWUD7+GWVDBv4fPd54X4j+e13Vu9HMpOfFt/x3CzK9rdp+ABz72
            N3yeP+75+X4zL/TXc/Sefxsfv9ezNn4qvNnCBXsmYxwQ5zAm8H0MjYtaGt1Z
            Od35vBJzf2ix+9iVuPQMKCK8H0wG1jtMk01xUIq4V5kXTekydFb2G5vNftfu
            nyKA+9ZGgM1s51Lt50YLEodnAdfpcutDnPM71J2xehVtD3Je5oXkcVs6kGVg
            nctE/jk8I+uw8Cf0JHNbrCVnY5eSSOE75QKBpqN98AxLiKqesgwuoPOxA5r2
            yZ3dXWjP3fnm3cex88l7t9992efOPx9+XbnNZsSusvsx1KjEBfsch302P87N
            7W5K+z3tOc3P79k+YSMWy6O33ztvfvj4agzVMo593q4kSY+1LN959WmY1d98
            /PXyZIlu8wXFIppm8SyPX8epFBh6XLtnX/jk3pQy2yiT/WcZKs2UZokS5hqC
            rmAk3FBKcAoZGuj1ovszxDLIPM8yInfrWQKzNTMky5LRHkaJ0v1qijnFFssE
            y5owFwIoQ7mP4A4ssoDN0EeM112u1Nwpmpfpv497qA/qdCbZ5Iv6fGq8nUJn
            gjfg3viuJMUbLGhAPNF/NT0DZErNqfiEea/QBpMv0m3pigoF6TN8Jzt9NsDn
            +TIuIMFDto3CQpx5KvAKMgp3YML+bc7X1xl76JP3lpMWykpa/Fw6L/B6CI+b
            0o7fE31U1J2/NmEPMO2Z9Qppg+ugV2de3+UKghWmsSvvIJmREk+K4PsduPw/
            TjGdfg7z70A3xXn1S8mn9VbsNyROLVx08ygf/3S/NFaylKSzQKpzIbD03C85
            QTEBpUDvPzXwIj18yZgImnQsEGTvpNNe+ggXBewNE3rJAUmPS5Q3eDUKt0Cn
            CwQKXjxhYUkfZ4kz0r+MBY5YTDmvQRgrMX0Wnzhe65UiDJjVcezCd9weWtpM
            x4U7RIXkbhIIXXK4X+j4xLig8stZKuY4c4yNxGLfCyY9Mj6cH8bS7nzbWE8Z
            3HeTaK34vuw7Hgrdxb43fq/2/ToZDLTvMKaw6vadqSLndTMajiV4rnPa94bB
            ns2+T+itkOVtwMo+E76HGyqRkQADFBocrL81b7spDA9Q2d1CFzvn5obou0po
            NHEr1gqKDV0EtEiZV0h9CbbAc2GXyVptZQf2CnZRsF3ExWQAkukNlCd0oZ2y
            Jpl/dV0Qp9p9zLhiFoVMcI2HGSzJvielLep+Hmw1gkvf4ohUnk0UkRBLllOH
            sR+LEY0o9SmA31s2n3MMBpNiHt2vA6u4XMecm3iZMkQjaDIkAG2Zxhp1ywT9
            B1bX4JhUA1Zh+Vb33lN/ZFZkziBvZQGlmshgIjS5nMRemp/fdX6K5Ab2Xpc4
            SlY61kFP7AI/bStv7wKD5jQIW2NQttvxyUC+nMDxoy/hnvQgYEJ6q5eFLaC6
            kg9RVuulqRgyD9cfOLgQVdn2YkmRCTYYc5lnS/dJTmQPhDbb6LzCItNDSmW9
            4eUh+bRAaSZWAGLtldOLzY5dwSTk0KT0i03VpnuNQDs1wLgMcXOoEBtME7xB
            umFVnlIGWduUFvPD8flYhV8tD4kU05BoMHKHYzOAQ6Xg12DyQKSJSlkZX8+L
            l6Lvo8Kwys84zzrE7Wiz4Hk4p6YT50A5gOpWqQDfqZ3yCF/Xseelnsxdi4wF
            4P/37sTNuVrM+KIQx9xd28CbjQtEdl0YZj1bt/fShqniZuEeLf/4mwoK8R5P
            tMA8vuvldN1geCPj30qPu54CCalFD0TrfQtD4Ra/jvcyf3BXmaxUKcpLozhO
            CKydM0MLulW4YCEKDZzpwLMUWab5CpiQ5dmULA6kY3E9qc1XbOC++B2l5QdF
            CCAGspVn4kXP8EVgo6VYbYHk9AAH4u5iNv0FouFCeJj/OJn8TMUTC0iioqMh
            HdXeJ0HaH4xfFdICnhduEWOyhWJCP5+delPiSpAjD+Pj1f3rnQo5k4k9LGDZ
            329+D1+E9Ng4OW/xUo7G8RLv2WLjP/P0r5qU0igiK5NxqXJybB4T/HC0seTb
            G67gyb1MjuYc6nAFOXQLQG+Od7mCjQ+5OMZ9spCFTMNq+TDXRgKPvKd2sNqn
            2B0jVuAETIld58Ma3aawVNCEfCaRBAHiGLfcAXf6ZR0wWiyWDNazguo11mbT
            ioxnOQzlCITQvTjI6S+7zO1LR6C9JK2NJ5O6YYRZJBrfxXp57zNg8W+SA/Rj
            Ztls9omXBd+b2C4FOwFmHphAt2BmZWa7ZbwGEm5knKwGGlZMiydxn/w7FcPB
            5CtmwwxwLMiQjgeOmymlF4NLiuTL/YDXYAnIPFnz12gMcEkS3WMNpmUZ4dj3
            pCuGeQs6jvV/57WwvPJDJMyMUdZ/uZQ/eXY8FzZ5nX1IUcV7gICGO5X1TuTE
            iVEIcOJzKuA5mYE4DrlIRrDIVWLwnYpXYnkCLPI0IwyWs1xUZKSMRSmDaQ9C
            OyLbLlDpPW4WFUSDPtjJ8lumRzZfPgGHe48js6qkNFeKt5eN4gUh9y4pf7h3
            YqkBF6VQuYrSynt/xvfOuPq7I8wEy0Y8jLaYaRiDe5Mtj8SJETJtMNOcBEOz
            KIAwcUxEyL8xVYHE+GMTTIg0+sSoOXLxMUdg2ya+uCDOncp4zv19BM3sj81w
            YE5gXId1vn4+1mlNTzQKfR+n/wr3MP+JWT+RWbpFVo/Vxvt7Z0YN3GtPHWtW
            EumX7oDHjQmCl6hpdCeQW5nFNgvVwY5lOtOmnAN6sqjnUlxo6oVASaV8vjMH
            d3+v61FQsp3a3XfYkxekEAVN4CnWrZ0YbmjNDBKnwlxtKG0WH6KSV+mQhOy7
            IYMHS7An7EnP4KJs2+fuSHKIt16IclC5yPjE7wCzF0Mw2fqOn6nLlXMYmdYA
            ZQ/WfLeyJKYMXlELpsmGzGiedyN2GizAl2L5oiQ6OhgPJyUNlp7NfOKYec7I
            A2CArLNOybAGpWZk7KGuDLEs9qGds76VncI049CkkEGOi2cnz+B6sq345vHD
            P18tFkugQsJmXktqtV2s1e3Ty5Ls06YM7JXK2A6UvZKUvl0CFB0WvjOPW8nw
            2OUnKPFkdJqxfeZxV1VIBVoPoZhGzxiG7GeKAQYqmcTz+HnlYWXmxdCCMasM
            plUwAco/BbPxZ2TTmJkug2Ng8dnhOi6FH65Lti/5V4me2EQ9hNfSSI7xvSbH
            G4QSPIaV2tD30+xt2tVM5CEZkTAn80FdEcUcQYF0JQ3GHytJ9GwYzSCBBuWD
            iePPTYpihQe2VQhVSZlHYe5CUHk3noid4C+hCYqYjKU0ECwiTCrmGEo2mAJl
            UUVQebfB3XhZ34FKC/jBSuiqvT5mDin2yVY4EJkNLoXB2AV2yikUAS8s4Nf2
            qAzn+eH8Yc6SPMx2vZ2Fi3956LIZDyldvhOoVR2ujdknxpysroY7o98Wd1eV
            g+f6UQpYxv2pahD5O+lcUoic9uKAMFM6mckR6fQjSIBgFSfLJIuik0y+C/W+
            46taD1E09N4hvyg1NmhbsLzoKDE1OibFoRgsH29SalBsYlBDm+25I8v5r8gQ
            HFnjhDBg+Hx6yDgMF7bY01gCvBmVkrNIYGf8HWZEx86HILzAojG2Ec90CUCm
            hynNE4IZ96kYX/yM7/DxMeUO5sfRPWLattLCMPVlGnX3JFd9gtL9t3Eg/4yy
            pd2Zw3f8F89UvXGy92Q1l+RSdJsdjzESYMWvBUjs5OIP8JcfLJs9LszIHUK0
            SQ5+PicZJupVJ1OtKEEVh+3t0kIkThwDAYTKqXQ4LnvB0ZnGHXlML+6ffBaj
            KllEiN91l+bgHtUzg62eaWBjtMOP9f23378xkhWm1VRWzxL2z+N/63c5/Hey
            sfqnfsfrtuM8r/h58dfv8Ov38fN3eX7+DlDR6PoUP2Ei+QkamPSjX1fxeUy3
            XzttTMVYKO1lfN72ifOma46FHjgLDOAk8xr1vPyi5jfx4MDEVqfeJNdiuFwF
            pzeorPqQP2YegxJ427kRtPPE0CeN9qOp0ALfcTy/9wFxggnQcqITdSmfmN87
            cyyOux5236PbvSPTv+sXMYH/Xdu9eTC6ivHEvxOV0sKdqIKnk3MX0kOdNvv2
            42n9+n3++u2BFpNLdc8hlBz/3X/9br+ud4I9fO4TFrmC41dPFN7a773M7ruW
            B1J22ZhnQ2fXjjuj0/0DBFTdrtwc++zdE4n8Puu2cALsWAWuPYqhi5v/3ig7
            Owqz/OY76rJRfnZUZqME7ejLTuHe0Zmd/Rx3tObYn3Ze8vvsaMwbddlRmvwz
            CrOjUqHvqNCOFvmn/z3u8XqU5vSs7NxtMk6fzLWztvPP7O3fqedvNvfO7va/
            iyidCwzf/f7p0AIDwodsvs7oopJKlBXC4QifUBXwWLIJmbGean/FIjS4ndDT
            pTwN6BvislasqKQdKaKRomF72q7DPG0SEVKvxqCTpDkXaEv4YWLdKqRoj72E
            Thwq5IPBZi+0b2r6AnMMuT7YB9A/oQra36O79/A5Cdr2/dLJXhq2Vm9b3wju
            eWJVJXEO6EMKZpA3k2+Ekxh0UkBVYpXm2OlblV4q6CvMamKN8myOAEf353Rf
            q7s29b3Ko4Ungryim0wmWjojOIVuz6LC9yYVp7p4ZNSpjlNsmrYH/bQDIjQN
            UwKpx5Qa5Bpl7qiLK+F40AfOlBTnoq3XuGV1Yjy6J3DFQK9DhNYD5ZPJGgyi
            cP4x5kdsenSoVdStBJ6E49L5oXdFxten/gZ+AqLjcSbDFI6NBMIabpjssw6w
            4iU3ldybjo6QlJZ0xUyNNxGshvXDeOtIRJOcToYM6dWH1M/ZxYQ76nkYrLUz
            d/tkXUMYO80cM1jDXcDEa5Myxwk5BGzSlC3FOsByarIErfLtIABLPcVWe5uw
            89ZmsdopZvaYs8uJkUU3JBgV4tA1yd9BYoSmHhR/86n6Z09OyPLlcBdh4VO0
            a6VDuAiILlP1ifeOz0dzp5EOabYolqhccpy7rI2EwMQRKmOvouq6EyZ4xbb1
            BimlUrhxrymR+lVjwrqTI5iownP0DiKyKbMn7UopInaBqALuB+uKOybKcLT8
            SlMGj7Q3xDZzo9nG9U6DOU98qc2OdzB7s83qRTK7wufK5tuM/jswz59xac6F
            mSoyVwYBqpRmZffdMm3Luu4VP6ezV8yNymt3cH6D3p15/90tIgeTe2Why7wt
            E7esDN0qjZo5zdMkfGBTPNNMl8qYKKMMQ7VghXAacoIXpoMr9NPnLg7HCdEc
            4lL/lfXDREWnSnqq5eWY3IZa9aEEiq/j1z4OjbsnC8HxOFZ6bvgS7o7VsMqR
            TktlFg15ZHBeidV8hpaF27/PtwpT7ZI6O6wv4aZhzOFS3XDY1ya7hlF9XveU
            5553p24+vLgCp1aySZk+YK+J5zMvD7v22t8D4RaECYdxdLJjXE/UE7xbxfXp
            tIJ5BQmI0JGem9kqKzBEQt3uOuaWcTQ5MZarsKofnGE9p79Lp3cQmwUUbOOJ
            4Fa/nxXvn8+aHe/EFDWew7Bk2CRwyoDsWcnFNuHyVaZWDgWiG52YQzIx20Id
            4et8BqKbYol6AJ5p13KrTp/gqJRkvRABjHheB48L1yvXgtz541CefqC8GrmO
            y2oKxSaqw7fgeaFZwZw+Y7f8fsjmTq3aMnx9nAM2P4uBr5QeeVjkRtPzwW47
            U9TJOm/hAo1ZaT5R48VFtWEim2VK0L35I5JhTv8Olr6dFkxC+9ZWofpbubfH
            XTdnEHylOIB9QuVWTiNL0GbSPcvO/MCxObbsBUGI/XU5jgQxyLnDUKnI0N8w
            i8ryhLGZiAc0SHAY4Tg9GkQyJ81MsNbI9zQSWIRP5UEoJvpc0WxMiFCme4vf
            2vd6/P5UfDVaIqSwPiQDMbBmgFI/00vO8uYJfh2n7AALTP3ZCXf7ez2+Ppdx
            HSU7Mij5/z05HrZjsPwgllDf1bM84DK0u9ba00cOQnt5U76/5S2URBb9mXab
            XGk0m/5/soBgcldpzWoWd/SEHjTt6PM5qTRaAoGFOnkcRH22aFx8n9vBPVhN
            jUmcwR3qVfPZ3BvMGNyhF1M2T718skkE0AtJ3vxd0v9g0lmjUi7ohS54o3lr
            ii9wFQIquDQE/AMmsFQvQFMBilPX8XDT+xmkgPETKpnO4zmRXEs2LhUFD5nJ
            Qe1gU6Ww/tm9cvTA0VRgdmScTxirEYSF74tLYgn2vvmW564bnjG96ZWeZuUa
            RMpgLkiJENKe6UEtcYLTTJZUJUb8+Z7Kx+LfoFRON09ydqWMzySjZpVeoE9g
            0kZXwJ/pFonPfHYoDYfSuINyWRgPh1VRJ8u/b3phT74u7HViuE3a7X3R6cgs
            eczNLBdFUEiF2WeBogeTio1kJHBHIa32N5yTmKZG9WhrZWDLSa5MqpSSc0rj
            jgsT3m6itUiLTX0DT7NSiuihvuB+3+rXQbfL1HYaf4MoMZVgPXTAj+1YOTxu
            iafbrlPQmPYbtVxcx9wk6mZ4nfWdVWkp/NyMFjzOW/Eqdh6jBMoRY6oPszi7
            n5/t/NT904PPl98v7/v537P/fexSbi9F34qZuVxVih3t7w6NzaRJjqclFWdf
            2e7fHBh3l5xDwtl1y3zbhz8HM1Qta9M+Lx9/2PiuPt6Y7TmXiye6jcYO9zGp
            sBEccbkD5BESRmaCV/FFSak+F3RULUBWOovqHfYi0J6bwVjkM4lSRvyslBQ8
            viSDwaISo9Zz56CDtleyXdAVs8ciP8NsSyb0PRX3qVSd7T5B6jrt0EQU8+7Z
            jNg83L3yCU+v5G2d5WjBdgqOt/z9O8WWlMNxtz5VYGD35+6M44ywPUtvQzZs
            cIXysPEy/xRUcjGw3QzuZhEXV4SIe9Ku526N5BBToA1Qz2jc+VxwncEDcYzw
            AyyhDcnn+MeiwKxMO/8qEe8OKtOgxX8wPfa22MHgVLzc4uUO9AH8AoHAb/59
            ye6vfFZfTCshJid3UPVxNwuGZHEnspzMnATp519Zk/1ScaXwdB7m6LOMBAyP
            7jwniHDe23mSwZM0ISezKi7BFtG/0s1xIJYvLAH+jdmBxe3J7e+VRpuvuJ+p
            2rUNlUJWbRmdB5/veVCagEzRVX7a0M+2ch7LojAQbIrPIQWQFU6FucDUsDPL
            D3CfKQVKii4DHXRYcKyh2HtkSyY89OnvQSwfsXYedzt8v4fs/EdwUXqPcNp7
            pMveI3vYT3byWW8Gt0GctF+x6uCCfn3260k8e0ys7MSE92T4DNKhYMOb/mZx
            COGSxOdrPeUPG1KGqcEbCYQgBB8ykeQDcoqjTJq8SWKVdSaGinYvSyeC50OR
            TeVDVUwEYLwZQ/qRdsvzohwYWa5A5k0pR8qwmX4sGoz/sT7UHeSMqYrQGPId
            TRnV9gnhgmIqCuOKUmearztYNqE5KdZnLDQHmfkB/eFclLeZm7syoQUyk3l0
            BLtg+kY9L3oPsPklxrC3SexyGiS5Ne07JPNDBBm/x/B7mHPEEbL534W3cHH0
            ip0tbvJPsbPWFgsmBp4d83SHQi52ng7cz7PFxBZ7Oz6+nANEVWNZdgpB5Whz
            Z59fZi9nukFJrfSauUN/iH1FpnSYDA8s9CQEHBUjTGOhe7Ow7ssoseTn7EUJ
            AbSTJ3WFzHw+k98YCYg2hSdg0eU6hF6iLI2iJD1ptPQ5sBpIqTTRKTV5HV/2
            sjKjZHN/VtOMFfJkvXsUXooS2r415xa0e5grPDI5SHdC2v4Dxq9Pz30inGIW
            kuZgNsWbhiPRDr68AxT+2bh/mAxCup5Eih3FMFi1zZQ9h0ns96LzM3BV6lMV
            D/Y8mZPZTaz9hU1p5nmW3tQ+aQ4ldYb1QWKgQuarkiyT8ZvunwfLAvPRhmKV
            1A2Cdj4hLOhJeLit2ZuDn/STWQFaIlAlwWOvKLWe8TuGaaqO12qp+yxI1nnp
            c54QFJZSF25G8ygO8UKTx0q36/b97/Lz/jKRv+5R83Pfxy4Vtmuu/p+vKc2e
            e9P8qGEK13VZ8FtBagZjoffSKKdnygACFEC+eB6oloAmLBmYkR6pLo2ZePXE
            6Go6J3/OmRoLKJuaPsbKDPcpe6uyiGsyb4duegjaJ0i8Bvoj4y7/CF7+fGXD
            1iGbtopRb1ISWGMqZCayKMb2nqdYunvOzdMNMhNbJCVt38HanqxW0LFRhf7I
            46q4U5p3FSXAFguw9aVGMc4yMqbxvoYYw2mF3cdlcRYleT6PJHxl7HI0R8rF
            2UsomiBheiQ9ZYHZymfvD+1Rz+DVXgIVYj03yR9vMu1JPJa/n9sxxpN/m4LM
            WRon/8adgGeAgzzKBcxXWjszOSiSz99kYjcTbHXPfIlqeH68L2Urx8Vcxb73
            Om2OyMLCcx87L9q6QghQL57tbcebh2BhlkAIg9PPTxcEG+aey12wPQudH/63
            6+tvFcohFO9yq1Amsw3Lk/5yD6bfY27f39gbZM9XLi2Z+nIrbsabqRlDMClZ
            wFzdjd5VnYPJICYF0aNNynhEdH2SUQnHuhJRrPlCSllrzAI+dtwomLV+uDSl
            w0oqHT3kML4eehWynbuxw9wSf6X5JvvHverK6xswKJmBNjz59VA6xVAklWpM
            twRZWvQrthMqmSF/pb4r8N/EobgLdbLkJmg6O1SCZxp7BrESfy7C/ezEneC1
            Au4aWKVeXd2SDsP/zKaUs/SfAOLQH5kbcrzHiL+MJ0GNeZJLSSanJOd7PKcT
            3Z3p3UHHCPpKryzh6j/W8fXzGirZnsr947oxIeHGT6v6fa5Jsssq4cd2+tHa
            TsY3C+NQLKbk/DMtHURwYTJo2siQU7kbXf9yfbQYmoGHjOP6OVaOsQiz+j54
            T2r0TCIGqx2HSfeE7+H7PldRhEAVyiTK7NleY8PFetOA6kmhlUXILUuHkj7j
            D9i6ZmE1LXm7qlpOBYMU8N4uiHvhZXt9DQcOOmNiebxuXIh9vICdLcGzXPHX
            3xLRlZZAz/78W7O/7aTLP18K2oD503ZykRRyOQyb+diC66hyF9Ag5w961U4V
            42lbBa461BCGlhuzKDPnGWbhhthT3RZeS/EMo2iFbankeZKmJQ5q/xFUjOHU
            RsdR/+vfvbxpemwhUJH0XPkLb+3VIBiYUacsoKXSPdsZjMxRF/PYwzVYImeT
            1FY0+BwW9AZCdvUX1mSQpJVuG7V15MokAumTvqDau6GJhMg6ddBu6y/kRxcs
            sTDfPYfXbL7MVFZmpq5O+cwyCEmHsI8ddD1yjxFqlAHgHteDd/00OiCor+A0
            lAwIVVdMtCht9dgI61mtjLSTuCOvmD3NIXKqiPkL/XXwGL8fiWoviJicVMyG
            1VX0mZqPLi7XJpUCxFh33d4U0V+lo52DjRBqz5V4z9PhML+nGsQ33mxFGsOc
            lNtIhb29GHWJVOOXpAFoOnchQgYVI00xRBiMY7BGDuNS0pup+mrCVqzYh0Eq
            HWepQIyeDTkoxbqQXthFoROCFlZfhRUOit7MlHjFFWvOsgNmy19gPDCkJmXP
            hMFEKuPup+OOyheBsJnfS9xy5ueOZVAdz1fmuFcBdkExy3ct47krUcz6q8ir
            Cct3QuEiYqUB4zFoTZ83CQWi+oc083szxZUtOFhTbFnvnWKaaVTn+VZIcd+c
            DO80s3m2Jx9itzXhjn3CS7sj2q6YHqYVGkS1FTkp2OuFMqkbTCaGVwxMx8S8
            l8XkKewMrng2b3jgaoSJgS2hTUfi0xILnz06KMbkCR+ONXfRf6SNHmTl4yJv
            2yBmsch6uReTBW7lQGJ6pEORE6UpKA8jbmexTpHLyNDF6XVJBcMno5jUNbAx
            pp1PYGWerxQApT5iXCJD9pO7lOcZlBvK+1jWHD8Dfj/BYpT3oKKG43bvpB3o
            9z95/+z3Z54IE4vEqbEg//I5p4vEuwoX5CKn4Fzo/Vlf4ukLcpPRP0jThZ4R
            ZbTb8/ccW4WzKsyaFrqob0jn3EiMFkIL2djFzjiXHpCPHG+ydZMaACEDEphM
            lm/KNyH/YKMXarO4kNstVGm262ZSbd4wjqx7VwXR8x2nox26rJSN9QyGXZ+Z
            xZ7y7Y7ZYJOA9aYrRPgMtzDqqyqAblUTYOfDFiNURQqRlrg+O/luYflBMOx6
            8nCwNjZi+FWZ/asYhVsfb8XJOglqMo3/q+ff9PwRC598pBrzT6oQcYjPmqw6
            3Mod9k67vENTfIO5huVwexHu7Qrl5E6rK5/ncgHkuf0qMXeM/PI7GGoJNiPv
            olXXFU6vbRievv6NM89qkc13ulM3I7ob38rNE4nzkFTAycokoyx640GV2lkG
            /5fUoPN7d7meIoWVmfWgRDYNsKAh62t6JqzlxyMB4XGTi2yIX+h3sN5Vbs1w
            AVPe00phFxMO3JR/l3sJFAQVbFEBikTjeJgN3Q6Wf0evuLnJqmAHscNBvi3L
            pyZanHV4I4KCMaWb1r/4XhHwYTacXXlMIcnbfbJQHcIw6Do6CVnwmBg8vE24
            9gJmFVRZW8yk4LlM0f0X59aiZq5CnjEdZgmxzMgOW4u9TkrxOup6mZQ8rFrT
            KKH2jQsTttTOJrVVrwGyubrHyjXzWZCkD2uGdksG3oC+B/3NSAW6gEmBazht
            yoMoC+tDi3InVNhWFdYY6KrQrzksamE00Y7Cf8GQbPDvmjuTHnS1Tq9+mxZr
            LOATVFcTlJlyQis0i7KouJo9K07MKowGauBpGZIMIROU+HeaEaXPG58KLGQh
            N81i995poNmd5EwbEuJUl6uQCXsacy+sCrjpDrN7Hr/uCe5cksoaU7F3tGLn
            aG6E/d6ZyNATnBeXlS/nOYTfkgJ5XIMZO8XdkXKX4rvSh4QxF5WJ21ll6MdC
            MvPeKjzam2pEkmNcToZfUrFYU/FBYYKLXJbKAlbiQjddLfbnEsIn1+2gm6YK
            p25ZEwZaE9gXNyHHZYCc+0T5D6iWDReDXssj/y20VnJuKleqiqPSyk5J7kSn
            yxhyu+zGH8W9WNvNENfPhOythO7C3bN7TNLJfFeqPbuwd9nnRSQyFvU825Ja
            VgG1P8k4MlfcM8ypCep79++exR/Wj+/nzkBnNdmP7/cLuK7veX/3tI7w/Pwe
            j08GvR1Xs4MkMal79R2CifacbpXSX5n3+122L6O+MDieCL7hdCCZ9emRgtaK
            YHKqRxBGM4D74n+HZdwM+cYjCqVaiyg/vzryzOmBZAi//F2NfUMftyiz3/+w
            8+ey8wv7SQq2x/5eHiOC7OMH0Rn80LLKPzZa1m8LNgnA7g1TqMcNWz/QmoxB
            koLMnPprOBpNDG7TRMiTWh2eURqrqhmZnF2eLKo0Bxa2zSgOTXOaT5lidGbz
            6L/lg5c9m0D2ZWnBYXA0hX0uJSDjmUXgEwksBVsQrFI5UlbcO8xLOn4AXaQo
            9OK7fsBwuU2/Nf329d5Lub94ZxZrGcSPPdfgddJjredGt0Ljeibl8apEq9vf
            KzbjmAQwZc+3aOfI8eHnqOmzZdMzSX2SlRH0niwa89RvBsX8E8cHP0tsgwUu
            rnsJ0oepI1Rb9rtDZxvtq0odltLlIH3snaU1pM+Z6UDpugpLMXO8rQVNUXS+
            iaXwQYTWuaIZ54OtZziASCSgxs4zNNGF+kSZQ1OKkDhkT9XglU9F6+nvFHIu
            BsP0zMPbNkjqWk6S4zK8UteCAg8hHq99P6I1EtU4WiBVgVxMEeWLoJOZVNXH
            M4gOA9uPFiX9I0TAbdjtTxFiIMM17dj9Q4iOTO2/D7pkcN4Ep/MOftED3Xk9
            ayvieatWVmxs1i9MgEKnffK45GPJ6u2RuqLYI/at4pgP45W0DC2A/lZh17wx
            qNxXddpOv3dqSjIovuIxRcKgGfs2tg1D4/ZeL8/xpZicyYJR0hJZMRiilVs8
            5lI6Dw9K9za8+KrQqjJFm2CytAq28R+9w9/x95eHtcHoeGJA9j+9vFomYvsQ
            /u66b4KBnxSS7j97HjoVI4G6rOTAzVVBCVzxblEtqCORFQw0fVh1eNuepWXJ
            Y6P6yyXpr55yCkKJNinZ5pG7sytpLKjN49rZAHy8JVTbPAjLYSgNdlHFJRAY
            3TqH3athFoqyJR2qkKKwu4u+hnB1psi6/lyqZQHex1dHtmW7lB5cztWgg8j0
            4xhUbEbXDDdI1G8/J7S3Mp7VNfbO3VFjpNxgngUMTfR4KIuECXCnqWAR5LxV
            usw0nNGSBI5qHWyY8N5MMxqeQtI8a7AFzxwwbynhpxm4Yu3LIArZTOQSzepb
            5W7DZ1cNgNIx6UqXStTpQ7Fzpp/DhA9qHNVa2/LaU8erHce9T3132BxpPKo1
            bZY4T9bIXcvAcrO/FW+XQX9ZDxAdBlNI7sa4TBfOIFGU8VkuO5eNTHBu3tdm
            FpAFyeVJXCpmYQYuS1BLLp5bSrRjy4/Rr2ZlmVy+/Z3OJ0ZY3zFUoriRpVu1
            w09iTvffiZlEy45QItrOwgPbrH144h83DusjYe2rA4NBIrF4dqUvgoQtMhPX
            00yUIn+16mm+d8mA8XQIAfcPqhVmgj+8Xmz0ZByid0vhoL5Ap6MfP7TQDNPE
            Nvl35scUiIJCIMrQj/TtKzbsKCp0L7v6G4din6Y9LlK9xgXiLbRGR4G6o+5B
            8+YnuIh1fWa5pHnM+/Qip6BUFuvEZcAiM/tn908CC2PyiMP0abxLf4bBckNF
            c4CSqiR5Gzc3LnU5Qp0TB7zScSUt3007Uzw5x6EZxuW3eNgKG21n0+ZdUWzL
            EXbsvHWpl8gzf2Um1uqKqyuwxSsSfym4ln5WSjBIac+PwbZOBrHig3jsoT+o
            1RfKCoL+eaHy+HOhiGv0t4X6ZrGU5yyCkS/EJ/7HTvn1vM2y4/VW3/1k2Syr
            2WwXeoO5Osw9cp8G3PGtmK7uhNYNssfuhzHPwtDD537J7zdcKcX9WL8kQpk7
            L+hzX/UVJ/pmEb74dPcNU6mF30h0bz4FlBRg/+o8wkz/Ht/3fe7+dZ/+z/ep
            w+7zxiEy72MkYL3EH8tqp7v28AkoyRS6Zf6jTGRNor8fYU5GR/NKb+okcQIv
            z5JLVtVPnHI60Cajt8RITH5fAlHesG5BCGAy5Uzue2Luy2ZVQ3lJpnhOQs8o
            ZsMurY1d5AnKP5ixLyVuYN7dg0km1tl5wKEWtNCnR00JquX+KVgGc27IHMbZ
            BjgTgTg8oY5MHL/b78CGJr/Y5LO76CaQNP6c/GFNGN4KACHkgYAhRua3pcUS
            HKLBHbKDDCWOPjp1XoqTYof26LRgkSHSYPy35eBZ9idzYrcbayPPHN52eJzW
            afV0BVwNA1gWf65oJNDopzWtfJcWQqtcJ9kWi8aEfn6V8iUmFCt4BDYCYqZX
            FbIQ95z3x8a279IV3hC94xiyve6Yy5BYVErRxC4VvJyDIlqauxyQ05Wtn6ac
            uaLp1SFGm5XaGdHVYlr3C0t4y4d/WYDW+pRrR/dCJ10rl5S6uzgeU7Um752L
            ZApYVqgvHOb43NcydElC8d9hm2c4Y1gVQwy81xIovP2mLA9sXTm/sjQnZbqb
            bYylqmlLYzWBVyywplYeZBid1+f55O7LHMCHgIFwLfO4QSjygTTDPOklv/BL
            gxA5xNHExmZs4ba8N28HYZOoBQm+UxqR0Q4d3/b1/TabMfYj1qoaGCo2zRUz
            Q1XV3/b5MLJGUtmGvMaF5sprplnXueWAXRftcs98qizqxu9wqyOBeZs1CWcZ
            7C5NvPt7wXi/pE1X0jHhZRLBcnSeFqkl0MuwzyF7ntHipHSAOsyrnbcvwLiJ
            Jb5jsyjoJlerO6II7HVc4jTHb+i9l1u4GDIMjHxsQqG+hYV8Fw6LmNXLlCkP
            VhYUaDLT/1m8Lip4TRSb6oAzP2GwaMAUy7K9iImuwCv+vkeef94jwzw3wPUn
            GAko7Gm+WS4gFZjFRMBljohsqG0vpfIFKEsfAnUpEslsFM445fS7MxglCgKV
            pKadbYeyHSPZ0CYM9RFTC1E2uqX2b2nrXDyKidDL6e2cbr8nd99rIvEZPFdU
            TpDybK2ltsMnKsPcUjqYkL1q6O/kp8tRYaMa6s5hu5d4VPWwTAiOkfvOr6mC
            kJ2W6PPDx1F++jhE0FUdHDc30bzkw8wxchNdWywBQljNXAauY1YD6/F9Xeif
            614u0FhQcb+KYbm3/8B+v4qhK4BPsqa/tX88hGmTgFD/x9dNHEBsu0V/yxQs
            SlGOtde97HTp7bTYzoztvNja7MaWenNSWBZjreQ1OT/Z6k9qHs+f1IzJu+PW
            AWjGBoNreBeZnGbDPTAI4US1udosFqHd3GxP7og/d+5mo+1wHOm/wPQRI4Hc
            oR8/gz5bie3jJ+tnjK937/KIHSn957KorHIWmpTRNUt1K8Tqnd3X0rPBZBTG
            z+iLyZ5QvzwZnuPqJtI05p8RZveKQocxElA2l5VsgPGXuKqFFoi1zN17Clrg
            sli6OYpYFpms0i+53F7vdRio8DTwcvW2l2Nvje+X6/lZ7VvJYj3w9sJhYDqH
            sAWkWTz/Oa0FQfTYHV9Q1Yx7UomM+rgOESwlad9bQcYhlluOL5mcIFDKtdmo
            ewnDl5eQ3CApxPcHmxdyZLnCZvf9+Mn95F73Kk5GkZSd4xyyHMbt9rkSi18c
            SYpmfl6FkT1GNl50t/Q+lZOs8VwvZwxCU7u755SCc08Yt/RW0vqPeq4AzdxU
            B2ETjC5ZcSpYLUehRejKvXqq42R4PkD4mtAxZevn9Ys1CvPhdDzIaTU4mz2z
            v9n+jjmV+7dZo9rxasvbTPFJNQyMz058lR6XnWCV1/godRil5Otil1+PWGem
            Sb3KUTLlaHOC5Tb/wb633Wp4hBUSf2rehTuTzOzrWURX4LPC+XlWd640Uz0V
            Upxf8r5dmSlS2bApi9AZHElWPd1dXHxH3EGIYUfeB2t+D8PYkANQycZro/Rd
            j9iyc3Bn8+lFQrIci8vFQN79Ki6e3yyHqSxrHvdWv1zP/m3FGPYfQZLU5IJI
            eaqF9Ixjl7s3m0LvBdxUyeSYxC5QhMXIGE4WbuK9a4S6pTOkCK1cFAydQiWt
            xJaOebulB+U4gbkFG2+pAeEPfUE9yr/0Atj7QZlAP+5Xod8Nyu7v++FYIK50
            IRcUKA93lynF52Iu4UcpTsFSMNX4PVnj928i3qb1snejd1LErGKJTFRYM6uj
            m9Xxy6xmodwni2GcOxaujbUkiu7t11CyzpBf49mEEcxplbdy3WBaOxckANet
            HMd4EeU1aHO6UXjdctZ6VuaprEztzp2ds4nCitesTseKKVR79clZYdaS1xVh
            4QOhKMjGKzlCEQRRmc3bYEtHUCwAsgYzUoj9rk/9ndjJdM+WEXo3bI3hod6q
            BMh4RWKFK3mQ9r5jGT8OzRRUkgkL9FDigTX68PEkcBCrbPw5hpFtDMROH8Vr
            qGgjCE2wWS0Viatr4T8oQjRPhJqQtQ+Jw1JO1bcyEg+DCao6M7ZZZXhZbYnq
            MoQIVA9LlmZ6hI7znolRwILrNzgrEfgNqZ3N8DxRibnH+UWLSN2Re/B56bhz
            23qRiO053RVSVqL2YzkXuO8iqDLIbiYtVILtq09AbcR/nUd91CTZLsxtEdFS
            gQcibxnOMTEnh4rIWOYZLHjBvDzi8SmPY7XmJZSJ6YcOM1TtWPM2163sNtdY
            X/+O/8GQroHjuIkNwkwZPGGpFUDjLkv9kDxX4/VCJECWeDnEfTDUBNn7kaCr
            sHTyiBaXSAYnEayH1OFwkDoe6UxW6wXhbd3ViddaEWT1cK/p7euuZid9Qz2x
            BjjYIlihkuAYuXPpxG7qf3GrMKmyBUG5d/b7oe24a57fc5M2HV9GBUelbutp
            lwJ/hciZpzjNb6OLD1Kyb4T7CiWKE3NDncn9AtrarMUVsCdZxfXZwTBtlvJv
            KQKj1xhftvAEVMvZ+j8Jnp6oAUWJ5sIuOYO7a1nCeStKdgtrZCnS97NPlMMn
            yq0MA3DFOoTkPlTnoJgD9uehGMMywonzA2i6s9CCZ5bRbh2uIW8tWubkVwRT
            eewgqEWw1i/HWCIq09EnJbO4RLq43MaNQM4kKGZyUHdiuwTlWr6AMIylpuO0
            rsz99to3tiQmIUzHDJHCCL5yGlZ1r8mfdxrHu3eNM6GXv87FP+oNryewfoDO
            FTDeSS27onKbhCyassxmTztgQcwdLVJYD2sfSYw6/2M0aEWPGSxLxN/x6h1L
            GP736fZncKyt8AvLawcwlF4uDC+Ph/t5z2P1tkzY13nZxrHLQYejmhd/2bKh
            HD2pdCwfd1RiR1teN73B2bqhIaXl3GURTcm6pHidsVyxbTc6OUEAJ7vMke13
            aeCLxb27PuW1MKZC5UIWLLdZTM/jiAxELmU8tMvUe96s4tOIVV7HIHv/NeX+
            iVDdfa7uMSc3kqwrbDordDrs08LodDDxbzdBQe/8pGGgNRRfzFUgGk1kiVyU
            lzZ7jKCyKPXAtjF4frpIj7QBsU1T3ihCBgUcyYr4cndgAKAlfygRr1WW+2KX
            gH3ucy9m7vjflUBSrTaZ2OVqD80uv18DNoh7BS/YOVgWyh9eOMfsIoQi5N9q
            t8s/9jWa8rYd9ctk4682XIzRLfVoRz6/OZJDd4mT5QKlsjp3NIcQg77yEmar
            DH7YC0P9qJdzwWkJwS1sd/nD7jfzmyNOoS+o6ez1hx/Be1PUgFXZWOBJEBzy
            XxRGKR+DbyZrr1/Nc4UU0T9owju5U+4YA0rXPWy9H4NprHpZW3xOfqAfeStY
            h+QJcR3ThgwmYIo00b5Nx4d+rB9g5GEjBjGvn3WiQ8EXyt9KSk6K6InRQSsl
            nu8Xu8cOUKc7+h6DYFzW5GcapzJU2U4O+/4WgcJYE8ivzqV2uphPrIJP1XRG
            yOSwBBiXwEzaB/vsR5ClmEa9F4A4QNOzWWdSP3rpEovYbEzYNMxRFvAPE4Pt
            RePd8RD1bes2d/H6OXeDfTLdjV6VMyAW732tPscIj/E7lM6xKe4SDXlAIkYe
            2GTZQszbwhyRxwXwMChzMHhglTUhHbFsi3BYDOpv1O6a2PjLgEzUlCN0+tK6
            QLqFjRGeLH9BX1+J1/7itLer2tfdbE6gVKXdj2He6t/9p2MliMKtEQiemQiE
            6vjcYqsWBetMY1ZK1qxd7PeXTkD2SYcvZeJ0e3jH07dHcnswz9uO74TLLe52
            Ee2GfNziJi4TU1sMcWEs5aoSCUALyeZom7NBKnTmH8JwHPP6cCPWxH9zv3E9
            L6eb5AyL0NZKhvkOphkkB0EAfddvDs3rUqMP6zOvk3rURnggnipzP4QMdClf
            k+Cyn44z/Q37Y6BWZVezGn+xmkfmChgo22NLnomlBubvmZwz8F8shE/GKDu7
            xeVPNorcg2UWUiw/5U9K3y8kv3g63t6HXcUJkQgN56ttQ/MGw6AuJvFUyhYv
            WZCMquSWKJIW3CWX9XfGOgQ5Idlf5E69ScHN8cWDadXMoud4ioulpxIsgRAa
            WDhwEDmj1Fbw5/stRz9Mv0BymHjbGOS5qqMSd5qgvVt+emd+AftFMJ9+EZko
            ay6o3fXGWTiF2DQqywv57iUaqjBTGU2eH5zHwXnVjHXjJInxBnBsg+0QpJWC
            bzL5b50zJ1RF5yy3GYW1qPGXs5lyfnYjeNPrm+bkFZe1vyeweFrYvhYs5nYU
            eQLBdw/0LGoSrLovxKH31kA7GrYXOlieIInFMEIP6zCTPPizMRtIqCzCyk++
            WcWrOAHZf1KrwHNXbX8RC8PFN+Py7rRRM5Gt9NWdeGFohirc2AEt5St2b318
            WotgicjTsnbfIkm6sG83RTenqGyQ8YuYS7QqKhJz0OIHbYRzZ1r3Vwyza+6P
            PElmB0dHHY4f89RQfl+QIIauPCVe4keEcJBACOhBUUFkxOM2B3GtCkKwMuKi
            7Qj7HhKQKaWQ8Tuzhch5IdbJtsR/WaQAyqKDRh6+zJu7LUqFhRXbl4mJEH/+
            TWmo1fwJILRERWqLEUKtMN1q/47UduPn98w/HTSWLOFs/5c42FZE8I6x29rZ
            4mHn77/RNbd+iptUL2Cci4VtPW3rZmf9bnG0kYI3cjFZLwNdfVe+M27Akg6y
            PcNL67+bpyofAkQ4hukx2L0znPjd/Xc1ohzNOXL7+FR2Iq2gubL13mYLp+M7
            eQXENC1xrDZv/PWH0sa8VvnYqThNKUeBbRc6Cz1myWrVWyP1fSVkTjat9OwV
            16yZUavEke47B2r46N7rQiZUNsD2s9KSjS/+p0y16PBTtweEHKTDX0xtCtvc
            LX0+u1FEthUmcAKcY/6FnEyvIDE2kEsyRSkLQkAKk0MLMDWGYCAHPVKPutCe
            riPRsO3eEnipSDVU15UmvabJ08mGEX2ljM80H9PLrgvdwALxs2Pfct0dU0LR
            qY5J9H1MSh+VP2gqgri0lPHXp1G9II5OOfUKYQp9VGkazY1IQDw6rTorQMJW
            B/upDs0xmQcryj1r2cLRAMGptKlQjra0Q1insrFOaRmdlm5Fdy6kaBScvCWS
            Ek4mleGDgHoI0cAI4PHdnq80so5MYIZXkSKoO4E/Wv+Yda0blirJBn+LzCwu
            0b15FCeRfytL4sm8c8qQYXAZ59PTeRPmPRS9Tz3snthyZnoFgiIseh9fGG0w
            PXyPMq2GEJKzHaPRSQe0l6XHl3UzOxcU8jzuE7Bu9bZD6XFM7nHsz2A0/TCw
            qWNUYqNksGoHmV/4vj7uX28veOyIIiG5iH+QuoNYabMRsIrzzQyDSjQ3zDdz
            Edjzsq7dRDR4E9Hb1cFB+O3vjqL0RHUr7mdlJHZUvRSoofs0GZAbjpUs06mP
            PVDs21mYsnxqNx0bbX47Lajjk91xAi7mHbN48rpf+OfNpjc73Wz8ZdueyLrZ
            7mbjm/1vLX7nO2xP2OsZcxzQc9nvN2GW4e9rMWlLx63fAp/7Xj83kBwBHoY7
            r7Y4WH7/emxPnVkbWxyZJ+7jJNtOs8fHl9k/ylKINI4tdu5ogbmnB8VkNhTP
            dqrJrb2+9IFTSSvaBHKIBQEIxz68mlugL1W5ChZ57IZhWicBiksV1AzTmd1v
            jc1xp+On3zodFrSIfv46n7F910ltAD++a567Nc8dRWtWs6dIYYHcb94Z5+3T
            Qaht7GxWiBa2QfBOOAw2C1L6qxw9N7NaziQzyWAo2YUuvR18KszNzD7N9fLE
            1mk46UoinVbhRLEn9jyem9953CKklitRHonDbhYLLk3s+DZO3J/PwGuxwjCQ
            NRORmFEWbBuLuTDFK1Ki451iMDyI6N1qoSBf8o1YqGgY7BnuSebNzh0snoZ8
            oEhmyBo7Oe1rB3tN+vejeu0HM6sh7qjM3sHQlXdgLLISlEFHrEeJH0iibHUE
            9Zz5+DG56hgjRBn3AbS/OFMcLsiyaGBnqpWhHYMyGXJjOLblrdgoYpgfvSSb
            lhSbQDpEx3fTzXrJ6STtPWxsptMyfmhBpMsVnaMpRHyzxYQno/DaxRyoys2o
            GLuqdSmCsG7JWid9agGoUXsQ6PF4wRvcSi5HpX3/wAf9yF1p52yb6kmzDHNz
            TIEdF0yvCPF8e2xgf/1kw/+B88KQrjfbI1qf592ordayOa/3FCPnVcGtvxPh
            PwnVy59NmUQvDI41JGgWQFp853xZTWFltSmbNvEPy/zZAjllS9xv4Pm+FY0P
            RqhaELqPf7O5zaZ++/xfYAhngzvp4XB2uMXB9PZKr3bt4mGXOv8T+37Z6man
            rr3/ZqPDxcRm58SAIA+jmUnZT+0geukV/fSF2ouCP8pZPL4J/83JVxWQateh
            md8ysTNZdHRkk+6tNoh/c70N0A+6zg5PladPigky2bKDHTdeDjI6pQ2n4r7e
            mgWZqoc569hSJHmlkusKggwUpxvMCaGruYObCvQem8VK2LZFcI3JMRdWByt4
            oRcPJfAGIIpTiRhkOzTNYKOvxk4TZPvUaTMGBtUmCe/wVCq2D5i++8oJLja5
            2i2EZb7u4/2ejetId1iG2SXyyeaiVnMUpo7dcikf3g1oVMG+WCqZoLtI1cH+
            nq0yKhhCyJcZ5vAvhKGhiqjcDRA8PyMNn/umIfzH+Y+f/2QDAXn8/Lcg5VAB
            iQI0J4v2vdvRzgdQdyOMETPLcPcf2Vaqr8gqvLkVbe0Ob92Nsz3LXMdKU8ea
            QAbDlL+buLLXOXAznl5avotYdo5m8dJ1mLiXVRSth7B/nzDRPSww8g2hyooV
            EoIhyNG3LCXQjx2EtxneevfwnHT6HhkwEXIv2SY9fU6xPN4jO8p61c2hRjD3
            l+OmN3eASJPGXME6ky7CbBnI+2tCIeV9GLs3FuzBKlzrsGWLiZk7xVzZuGc2
            GMfkiamnJ4NiYpO1Q7ok8XgtFn2WL6cQ/Q+3ZeqoPk+cz0TWuGwsT3iucWZz
            Oo1L86K2xSzn2B5Kjch9GQwmFe1AK78vjglvv19H1snWH8yAPp0I3SlFQprL
            gz1Byh849ls7mSSyeM5J7QmWHd6zXfQY2vcwHkhGZWKd/D3cNSSNDn+8dtau
            HDHluYmb8vRP36vdb3mfx5tc9fksarR8QU1cV04b/QD3W8YUVDNa/f5n+4oL
            tGELyVwn7QpM8FimE7CoaX03su6CkydniY9h30JH+0ws+0ynKCD+SpeXYNeM
            CDTR916oYunw29nE/HoCffFe1D2Kqv7L6ZlFB8dEaU8OaLt5qPeZcEr8Puel
            ptyLQFPsaw2dwBrgUfHjxiN75zyeVbtc1ca3FZtoo3Qbw+YuuJ+Qmkv6zBWV
            O0K/GWKth5Evc2HvOZBu8fXOSsRlhDZZjIJrdDzF8gVYmHwcn8U7rkdsK7Sf
            1JbTn9QW6ofaWNu2v/f8nN/UxozhbwIbVnp207HybwgNHHRpJ+bvxmzuLLIw
            qhVxXgI7Xhs8U03Xbtuxx+lKZjOCUo4+/RyffIIge3tJ7IzX/l7eEN2zhnar
            j5eQ0iXF8+jOXSyII+UserdeeT+jK2Lcoaf7A/wYcYpiVcGKBeayjfm6vfT9
            +TXm/hkzA2XRUuWs6a7fk+BkFHOPOjul5Ol2+ts5DJT0MV2gGVi0X0xFEGbI
            dLBCNXxxEEP9LT9eRUOEwF/Vrr/rCbY9/4ImeKFqd3iVbc9zoRiD6ERbTSrv
            Ct4IfARya4qm7vKzq61y3Ow+7M7yTsDsNry7xWuBDFFI4KfYbdc3wcX+ITi9
            b/Y6xJ2c6YGm8BWuTTOv3dVez8b9p6G+JUZJqyfH8j41tFu7OUnOP/u8i2nq
            3WofehR6+Nhih3mWm2sqP8DagB2rgaMUmMfBmqHTO8vKrxegkhsNLD/cuIhi
            J1piKtdff6tWsGJ5HzRaE+MKNApHatELgpLYlqgM25TR74c7/mZGiwYfUuFD
            T0t/JrZdVxdsde0liKMmU4szwIqYLs306Wb194TrPJRBhdEJEYmHCq8ZG2lS
            LHO8qJO6370cNrd5iVmyNlXSpB1Gd3g+fTZIuPD2Jwkm05kOfsAkJWd4K47T
            YXCB3eiVGv62WvJhyB+q41AI2T6bM84Xe/6FCj0UyGRVPMVdyMW1ZJUDaWCN
            AeXk/J7VhnVYLlpwDGVSXFpey88WItdXDnz85MCPv+TAp2G578rWCSzWoXZq
            2cAXgy90LxrrrMwiZaZtnc+l71lYf5Pf6WSBItE5Ntq4tJlJlfxN72C14I39
            vv1399+X/84Mz1pRSS6GSUDI1si2Suy/yoY3UdXHSbvuvlK8r3ehEpWdShmn
            7hXM3I13b4PzVg6Ghin7ulxRRCXf10E+3j+ugaZBZEdIc/kfmPNfsCbcISf+
            PxitMnvAwuhTrefumAClELx8RMw7j1V8Jn02jLpQfSogamLP24Op1Tasb5K2
            4G0O2/UO7DhtYNr24zsdCwt0x3WyQ6x10gNbTYYWlQTGQXhiVnGwvfBjGDME
            57cyC4Mytc9LhYCi3GFuVisAyywWirA2zvUBopH3hFjEzDBoDlfaTbj9zZty
            RIcV+xWS20Z6TUKixupsAETvLBZK2AyTQVKwmqus05hzLOANjotOVKBIEJr0
            VRs0iHZFJn6s3ebmpjbhzPI0sBZhpCqVk3U2NJ46mN34eR3V1V1dwGpBqnM8
            N5pAS8fOeMjm9qI10/4J7sEd1MJKZ7rzkNvD1BJhSQUDDpGOpkqEL/Ayl4Kf
            ulNJMqErZwpLtZKBFGTxBSvUhhccgQHSp5SdSaor9cYQj1+lFLcxum9Jl79U
            q30vujeGG3e8x85D3ZUCLRujY9NHYSCSyYUklQDSTDkOinXA1LeyvvhMSEPl
            PozLm+uqA5TjHamIFxqBYxiyA1ViTuewe42WF6OfTOVTLkp7jz8nG+DieLPP
            MsGeGPhYQZ2kI/PT8TJPmmqpfRNL8DwccgeMZVjOJzXDdp4PcwAt+Tdb1yxC
            VrGzsMx3wflK9KtDudqEHvLjPH3mq89XF+RiuASSu71TXPATW3huqKHtshBm
            VaH4pU8U46+JveotQvzIw03AZAZF36p8tQv+6qj9NlWc+9jxNmXcztflbV1i
            IrqurVf1hpTl8XQFVyvKzsXZf9+lGyJmoZqCjluVesCq8RYddifo9/4edtkg
            GxTultzuNPQ2pp6mH0xCsHrsz3pLm5y6PP2tamFp5ahJIJsHxckMM09FoLjh
            MWIZJMt9YCRWx25iJnQrkD77OxF5eO4KuxSe3h48Kp1e/XtXcrDORSfcp425
            +ZyiOdgSfZ+CKExslzq8rIKA29HqPj/Zcf7cZK0ilF+yPn13Qn47LX8W0FvH
            miKff6IMH5bYA7GWv9oz/APaSonmxp+3bjTfjOYBymJyK6Qe/3bd6gqQiPpB
            fBYGkwhZbJ2eel00EYqLWKL530JEr2wQQjCCm5YAxWXRbsPWzZZtASObyics
            HOZysg+gCmCpV0r5VSxi0NReDhjLNVSaQKKDnhwDE6Yeb8eQesCdeE0mu2CX
            lVqZQSV5sKxOItmu144FE79JVERGT35tmY/Q1gcJRAW2TX8znREWesEmj23A
            VBx2nB0HIWeIBLyRcdzCfBzLNvg8sgJcagsmmeDl9TRAFXpxVS4HfZidK51z
            JNWHBCMekOGau08vQcIc7ii4mlf8c+AhRgKzP4bYfsyLLzFVn35HF5iYlIuV
            1TcXjC+fJASvHajjwL8nmnDMqwSZ/5AfLBUtkZHRKOyIseHyn5xva5QyLmvP
            ZQjrgs9lm4hggB7h017r9Epulmd9hHuw7Gv1qDt8fI/7KB4ri/udyc1mKDPk
            wYbA55Iz72HKPI4x24H49IOciZ9sL8ZPtUD9SgQ+bwIvsEbZ3x0sF+JqKK2B
            LdQYezv1PYTR2PN3pGW+Fs7FKK6fg0NAXLGErZuTTjpnYOEuNafZ1cTdrjFF
            hcQT0u+xHF9jsRTBwYbfiqYkAwLj+lHEMscd7LNNK/hpZ58MwD5b1nS+mApP
            kvrBpS1/oEOGDyjWr67VYEOc/JsNiodaXlzuZAsOHNKVxTxs0Xjucf1k3z8M
            IZa1EfQ8qaulGiNiHBdeli2SiEN8TMNxPD3huOLcqAxo9mHrbKnRzjHMCyvs
            XpYSEuqE3dLYUyp0VUiF66InlGyGDLTvJFsGzE/zfKr/pFzujCzH18xX9B4L
            B2YiOfwmPe/JNl/N17iLjTvcz8k83LrDBmqdPo5dN0ojbI+fZRAOy33s9wtB
            nmahN8GYgCrDINJFo+jk4p7R2sSrtatv3Hu9+FxHXiDq7j3QoKUUxY6IB7t3
            FrOFZz55w8AebkkXxlytxwJZWWZvJnzHOXk/ZDFP0o2QbwzzpKYurX+6S0JH
            YSB/Ky/QiZK3K0+XJRV5qlrfvedGJ8DqW/Kv3rprGghJ31YXAa431ECQhdxf
            HIh5jfdv9JxGc6nv37OZN5rvAQtxtm/Ps9df9EP1wm0+MMzZuYobpKREanpI
            9NAV8Fk2x2Jr1bYbIg4sRvyYKswqU8h9qOrrUmVdoDlewXkMI4p/YzFRPqxr
            6C4PaIRHMkhENc7wmth2Qjs/m/9NxDWYUYIBwSzKby5tpd5Dr/LtrghBn7Ng
            lRi4e1CTjquHXj5ro9awTRgAWh5dJbitoq7EcVQ77aZA0XUJBvBl78cwW2es
            jbVs191pmfNu/Wzqe3pyDht1mvVJlx3zDX0hu6XAE8yeCUeFSTUHMyjkZTRC
            vB9fECNm2muRnmkngGkh7UksCKK1K5uLRETFPUtx066Vj2A0K/e77T7BEpIw
            R2Blsw2ieWP3D5XmtShnWaxguRIpLeiT9UA0q2CsnfLkQ+X7Uk5ZtLOfSY2e
            u/jpHzSaWel3+mwWwgm4xFymoBZySwY7xxvN3Z7cwyvOcJ+S7Z6nhQ5OqEEM
            6Y8B3k2YYDZ1g5HerBR/ghjoZ7ksTDysS1G8d8tQ28lktVGJuJ6sQ0cCnZJ7
            MSCDhis8ryzexNDdOXav04lhXbuFDhFZCT98NLHJh6w6H9gsdNNr9zKVri0m
            sbHuksjpmUvR2RBFQTYTARHsll5UZlwbTKGCcgIvZb5qaAZkyl0TydG69B5m
            Z5vphTu8uot3g1lGnJegdI4mQL03Dfv+yLDJEDe3PzW4Q6XpTMokOPQSdQ4W
            ePrEYcUsgYI24VXSDgwdwiC41+VZ2GSj8zo2+7nJC5O3CMxqR/VDQRK0nGdP
            BUcJ2dVCVEIkS6pkydp+J4xjqBO3lUylL28oJ6SSPd7LOMN9WJHM81WqJnOF
            Jaks92ehCUN8SQX8D5HyG1FXhrokC31FWqIaA79d7lgvXkIwJTPwPVVT/fYH
            CG7mvCWJ7L1BcTHP1wkXdF/I18sq1KnMsa4Cc0yFC6YennWBOXfLn4xztrAJ
            l1gMe7dAoZ3TUmGtAfrGD+pUjPwl+KLZX4yDSWwCS8SygcWeBiZ5srx5QMsm
            xI6Xx7NBGRccf2tq4kAlpki5YhcXQpQeAqeA/Jk3hHJSF3eQGWWjCkTHqfY3
            mA2wtEhiWaYZkliZVn9cn5rAbu2r6ZJWP0qGizfrmRb6vaHUsNeDPE+8Jgom
            VaYQk1iu3R9pL/4mhu79kzYbV+z8ySt+5UhY5v0h+Zabo8qlr2RfvOsC8ZxZ
            du7iom7Hi3SCqN6QT5pBlVaEbLt9oUZ67tfsml6RfiqiytzE97lx2HMpMzcY
            OBVQxn1fjzlzQzyirCSceJEEotqUqypgo4inT3tACif1amQmddzlccY+bihe
            BtboLjyLR4AJkAsvZsC7Uc4EfOJafen11B6oaaRStcpMbgDxMYbSGPdli7F+
            w3aeirkNGDWTdiKLQJljXmgMT9UvdcIUMXEQbyhAJAr7Z9tZzMA5+1msEBy6
            X1czaZw7GX3Jfm3wmHUeIHaT9N2CkO6D75Do6eNCu6tIiInaWDh6VtjqTA6B
            U75truRh90yZIRZW9En4J8UQscjJmz2cJ2bOcPiurWjY9mTMZH15Ngg6a21a
            HREyNna4gQAghkYL4IVnxj6DcOEWi1RWoV3MgV08y0WocsKIqAfaYaXMrzHH
            rTY8N+syuPFMMikyzAx2hLuZaqjCdfZ3HiepQoGUXbTUloZF2xF64KUqWGkx
            jTVyhr97sxMec7I8ODMfeSFEZfQc4Pf99jRhI4zTZAjew/hZxqSeLv1Blc94
            xpchC/0x4VHsI5BP1p3BCE2ejyMCn9V+E8ZXtWZfMfIfTgCmY+XQDYMHfEqI
            lpZIiMOrHrCrlt7t+YtdNV67Kn3sKsHQUMnrH61wL7pgC8Br4v3RGlTpY43R
            iYngrcjMnSOkx9PAga7kOn2kCinccfbUBnvh72wqphtoWnihMUKD2BMng+42
            xy4RMKvbOAwhn65G09dHKubuZBdjHquGWbuRKLE/r6imfLS2PKVX7qalSBgz
            IJJ3RVaO2m7ON42n2jij2poxdy2o1VsUXFuYWysDgd94L2ykKUO4KzMRKqs3
            E6Rmd7rBHe19SSiT/NTf/fTGCW+v7qfJ01/oU+zY9Pfx5el/GLJ2AwlLf6vD
            g/WYUa2euhU6WhIxYp86aC2DM4ysxvBt0QovrMlhapS69VhDdE4AuxZ+T2Jk
            V+UkOD6qqsekZMdk3hs4H5NBCr8j7hqte6LYzXI4kkBikJbDzDsY/kSCEhiv
            DC0REoxgdsYRYnU2BYCpLUTBltA5V96q4lZp62MUe5xqtNPfDtOiVPJvotUz
            tm2Z+Ic1rrnULOcpmLjTJ26WxVLGSZBe8HB8HprEQUfrTUzyH+dn6hfb6qab
            Y+E7zq10ylIjX5YwN1n3hC2PT2UndhaEdoZcAnOVqNcvt651fLfLgFTVBL88
            nluZkE9Tu0nshM/oxOv5TOzBlL3fk8R9vVtlMYkwBCv/ocZCNs3uEtLl6SB9
            8m1FcBVaLMZzs7kp6/+rJDtzmfTJXCqM1xwttXPHUDbzOt3rtvNwT/ucjzD7
            ee/bdtc7zl2p8TFWHSiNiwoLpqgicPcT2ahHo1m3QNZMt7ffVCWq39tftMtp
            +XxX921tQQ1TvvTrm1oCu0edX7gQYrLbx3Bae0MWXH8VBtM/cu9OxmSsFzNl
            yGeogDKWwOmziGOkY4w+iFbUjfmEhrvEH9im8eiShqewg02L2wlCdyj9LgTc
            x+QO4V8MnRsJGPsl3ZcVUb+QkFbeQOQ8bv/XH8OMAOdtcjwuiyb2H22lZS1U
            pnMocmafPhllXUo0phBQFzHWrboD5kzWcDcZIEfXpxSTHPPN1tPEZcvMq2Kl
            yGEwRvESEttj91DCTjAsaSri1buJSTBGN48Z8BmWVRYV02BtWk1CpMP3yaua
            UGVMcYcqxGgqzVllw2Vmk0O7ZIBuiRlf2PKLUU1h2u4OZh6n4bPSUtYXiZ4e
            /bS1ArJMgyZi91dV4uk5wQUNIRVZSadurtRAeIzNU5tBPSXbQgbJQIQYft7s
            Ve6GRd9lmT9NfVIydvP13d0GvCh5k7Jp5vTPPlYftCFr0HgtdnufLEKibmJt
            C9h90h1MVjYw7XMdloBzd/s7xCtRuI/hN0ues3k3a2VL7wwTBFWHW55JijyG
            2vta5fauQr+gtgVJb2IqLHd/L6mHwoFiQxf52xePi2iuD+g5hYT6ORGklDF9
            k9JLpqxny1ObCMESFKi2dmawO5rL6ALrUgCOf3u88n1to+I2Y2J1+x3dXG1X
            /rLNiVJ+f8A08HBJ0XzLA8aUTHWxpd7ZaGr0Nrd+uz2D9Xm698O7zu798IZy
            VLr7ndd7nSqZI4sWr73dscirlFtdXt4czMMjiwazF2dvfZembZCvN1fgUuaG
            ahp3T8DsKh52E7ugKBH4KIb2mumWBltMZ8vbo5baIx08QFjcioJYf8XXF3K4
            L6TYfbloiYLQU/54LzMtmdHofpgatNh0Ae93HRn2Vn3L78PWRJgTEAj9YcEb
            izmczWpIRRAgUvrg2N3q09u8P8EybtltjwK60YHvAbBpuZlvgI7VXcwvuaBF
            PfJZ9bdNTT7MsIibIMDv11yYoEWebcm3rBR3pLNT7cCDIZzd1pRbLKkfSq7F
            wiSiQKy+G1N3YhGYnrz7Q72l7B9n0mFNWhsZ3LVBvnbd4/YpVPe2bW1hu5A3
            6JdXJEBvzF/ms0rMBmccy8byEkHE8DWYIcJcphbHVUjpJyyr6g0ihJ+DHXCn
            /9fatSU5DuOwK1mWZEufsi3f/0hLAKTj9PZMbdVs10yl04nfEsUHCJiXRZow
            kUkcH/XJRU+yJ/bsJTacpAXrQlVUuG+qwKAgQYqY/MkqZdLrjv5kmabeY8Qf
            UhbHKFufv2WWKa+IEE88XER+Hv5GZLS4txAa70iSAMnVPBsGl1IdP1tnNzKa
            RaY6uSNaLNunpo3GFo58535iWxg8GaS0KK1jE9SCC6rI2UoL4EVBB+1hd/n4
            blnHaMwO8FgOZQGb1N7A0H6BPxombZR7AJFj3wFDB9HiUKgD8yx+L/p9I9fj
            CcZi236kO9mCpiFgKyST9mM5i++IpYpGWMz6sy8xv4UjiMHkgNnYbt7IESAo
            zMk0I2hbuQagjArffYvKkzkGMyDluyTmkaolZDs7PxLMGwTCMWiQFj1Evogy
            HR52AAzIyoXY4H7VunX8m0xiK/KFnyxeZPS8xVxe3yKhbTKf5E+3T6iXbz7T
            opUusnmtKXu3nf2T0r1cBohwE/sH2puYDHZeRciUPrIeSPEuYg6qcoGz7izb
            R+AKPRJRobMo8cirWgkR6S7oGZrSTzTv7KxUO6XDa8/e3qP4BXpe0uNvpaDl
            EpnRLVtgriFwmNuDnkDvhwOaG97JZHqdZNEdxFGAtK0Au44NmSk48BMppg02
            9/CLA9votBX+6IAxon2z2oVjsb44sLqYj7bl3TaNbcygQ+e+3D/4fx6O4KqH
            bevVrFB391kKOZ3plS6E7w/7tzN1IuWyxYxuZGkbrPJcPsiytsEaOdZ7pGt+
            9jcu86E2di7j2M1Wu2dfJ2IU284BwJHjOg5C4mdhadtCp5PsLgy/qJo+bak4
            qiptqzqmua7eZEUDopsl4xic8eD3onJrYOMSaO/Wb8/xT4O1ObdkLAM2CQ5m
            XHNHNqhAe61K+j0++DSfHt7PVj2RNJv3t/nO3vhWNm74zTSzPMtgIWQB5Bw9
            t7ZGXsQOTnqMhw2caUuJQHlIzMHLrGroKJSZtkV7lFAx5wKZsCBbmLVK4GDn
            zm52LdiUhQtXzoYevU/O4EYk5UYTLpmFkLboTFaQMfN7YpptrBslPSNhgu/1
            9UmDMul9pP1Y5VsehCzsns4sjCRPX60L77s5YsTWBKg12BgkJ9GuFHlXTB87
            0VIBS+sVlhzlDzI2Lh2ecWPj4L1QHBlV1KUCsg+G8r6cESsTjaaTOetTv9rQ
            +HGcM4l3R4mF45oA7z94CoDDKNXkfhHAuuF2DPvukez/idXPVliqFu/dxygp
            nvEUIF5/NPB8kIStAw8ZBhlKCA9cwkLjw4aZp/Z6KPcJt0HVxGXckJyy2H1R
            dDdAWAP4AUr4ChK4EKBnA4kT96c7m9Mlz9UDPhHnV5FXBnVlX6nDxiKo/QIl
            wPayf9BrIXSgy/7hPp6E9BJZPMpgRoyk10zKn4WV5BPuHLEERM/1B/NT117N
            KvRogD+m6CHapMAcHxAb8tluawPvgOYCiMEcvO6GZaCpyiz3v54wTxAQ8+56
            9occbw6Q6sItvx3n+HEcMP+sPA7CYnTKN7JZsV2ko0DTQE5jBzL/Ig8cD8fa
            zen+f+wbht4c/LYjRWmBLmGYCBLYiEVG0ZvXVDS4g3YaQcQOHO0CVNNuM36H
            C8OUxukLBxu+uwrKNDHUM+toXyFDESPPEPGzSXLtFrMdUyS2+Xvbspqtm6TR
            fr6/qxkM/UUWgoIrFNDJXQEHXajjWuKA9Ps6JrX544tXUxYqvs2ghbAjEGRr
            qwemMfMqh9TgzReXPJPzfCS05LqsJRTFsU0lIWpHj0jd5NMyQYTtx3AlP7TY
            xIBBhx/2CUQ5QLYNzMCIIcq/zygMUEwGDtD1MwHmRLvnx81Lthb947E6OqLe
            g4gPmxxfYg3AA92yJgTKauAhis9glVnGS1yZWWj93wc1Beau3MV38PvsYUi/
            r+AX/+eZiFm4fqwKZ/1l4fwvMxFk79g3XJbfUqv18oSU+70EbLIFZuaF0jGR
            sBrc7ozXf5zZrOOHWXdy2VWit42QjZ/L0kXk2sRSxyWuaOZ24FgnxeduFiay
            79dTzBnUHNu761/XKfzKAfmY19pdPDWQIVTMdRksNitJThAkNfBcmjlFviJF
            uSjU60jTMKr9PqCqS9CrUE41kTdrJGRsV/cHEgJhIgZtVXkSXUfkjqJctzBf
            pXS6nJFuuy03aRLMxJt1SXE+a7ugp7upTdLifhIewvkXvfNOoreeDrxW0EmY
            qw5PzK1Qy3KCkNiLG4kAD7MlVJAiTc1gDWuj2PalKHiqRzZ5dvlSi+mj8uO1
            32uZL59mID2ia1kkqcncE8xuXrxUZ89hCEXWvx+m/OHqaZII5g5PBAYkI/zn
            GPRwdet2au02I0eCt+Y9ChlwOZoFImXMZteNFzkvM+/kXx7IeqAShWLxBRT0
            YIQ9kFLGKES3kf0HE96ZYl8AN1k0Ba3viBQDrASFOgv/94fTEjLy5UNBxB7i
            yu5+GOnTPhPcDWty9XX/5pqEVd+uXt7xZl5v3pimQI8IuAdyvthHAayE2Yur
            5vMBHlVIK2IfoohW6S+J4NbuLvI/VyfKw54YMJuQXQZkb54fntCgrMC5Ec4H
            nAuU7MHhbecw7RyYOroBKvDUEeQqg47aloL4HPDEuD7yeGSpJYpnbUub+oJ3
            dPpQoGaCxV0qCCSWX1g1xjdF3vsDFb/BcPetQ1gOuStgHOVtOs3z8wB2dpdr
            1F6fmolnbr8qWNjxAQaLLlDLVF3ikVN+Q/xTfR3juB72OkLV7aamUPXZiEsd
            Zb7eF4muSgLB++tCkM47Gu9SNn+dIjeRaCoVkZhwdBgiHIqvXJrqFiFY1/3z
            qGdM3Lhx9jzai6mddMkeGtgsRyc6CbxAR9CrcKr9GiE3FIlHwrXdfPQuMdTV
            +ad0cV7nsOOgOif9PpkJVHpLQADtYeAh9qYgMr5frtf31//+fjv1/S8YoxnZ
            c1HvLaAdgF0vDp0hRBGF+q5Ud0bQiij2pnpQ3qNdYCsN+wc1G0lZkplGjP1t
            Zd5nZgGkpj+cSGhaGKLwHmsU9LPa+WKa+dGpBNtuwe2ptLY0qMl1rUxvTZNT
            mmxukGVhdlF9f8gHsVMU4ltvvWfmN2xBpB2XwkoGDdFCfcuP9J5tj9KpCvjk
            VVAPADujCDNjsnEb9ElANalzRmq8Kwl2eY1E/b1IHVzsuJro1HQQ6qIbqpT3
            Jeg2aJfV9Y7UbHJizOQ9c8G7EFUjcf/Q8wI6YJhnMtkz5ool4Mbpaq0CAiE9
            rCP1lbeP/eDmBkGFq8FEjqUvybOHgooDWy4xEdzRyyvstWKNmLnGKASa+LD3
            FaPEbgymdR2lyI4WtVfZmn88HTKLd8hIN4FtX0E82sUIu/wPr4d+F4HmBewc
            m08bQwz9Lu7lfvo271dbybjuQEHQzrHbmoH3Npv0fvj7pjxQWIneXiZPzHUS
            EW1Pjqn2oqbTrZv31NG8qgRDZxm7i42tb9ft2obCulfvVRaS14KB11TPstMY
            dSCP5iK9sex5cqQVl5kDsLU7dV5/qHXJ5RTqIv1QW1gbjGd4E+oqbYInVUVv
            Ef/NzJ2qNYA1DbBuimbkT+zXBchsaJSALAcZTkDSbdeG2Z0s2DwzUzvMjKKu
            k0iRq+5X0uBUIeO+FM9aBtYeyLKVhaqeU9lBc6d+vJxV67ApfU1vucK1QGER
            Fcj3INtDAjmD0npH2RbVvuXdElfB62S2hzM54jzK+uyjbq5tXVbS/iwjJ/yN
            30l3i7+bL5YQGzP7qqpqLi61DMcnBvomUEQH+vhjOk6hzp50sJhC+Pfz+sjL
            PTcT7Vtw/kS6ndAJROa2SgBAD28EOky4y9fKmzrYVWs3dXGqHUIOkreJHXvP
            6lAxb3EnDwT1op0CzyzKll8inigyrMMGyM4Bchcim20JS7z5jO0SMjo2rMyA
            zGeAnGI8w7U1u7a4pozUfbYHOui1FvI5wUqZvaN6i92VHCxqlXQ334Pm4KAl
            V5SZgzX2xVJvR0W6EpaZ/KGYV9hZ0czQ+xL4F/itZEsvveLrQqzKNmJ7xdht
            0N+xe58ZB94vhnZ0/qDGdIhmx0YC94PvcV/VvrDFvZtuBRqRKDSj2HgpwhT9
            1nQBRDUXVmchaO79RDOGjYCk4JbFewAndtd2khfU9Xq1U7yL19nfnT5E+uBS
            qr+Ws7+9riv6BnzBn1OdQKhDqZKVLMIR/n4brA3Q0twS1+Df8n7fwvcC0XGT
            gKQ28pF9sA6XayaCa3ktc49UGLIaIKaD+e31Yr8j8Q1kgKn2VLstzMgiJSDy
            n84eF0FDMopWoMlCojBF/mh44wnQWouOWzVLDQEq9Q5kFL52VHxJILUHSUhW
            ocwcnau4pw1miyQdTBF5XfdnEgZkHYPvBgia1ojUGZ0fAxm92//QXOLBEdc0
            pnjutVdJwwGqXgr7+8CcQWWQC6LcKhFfQrdX+hIo2w7bB9jQgbwQHoz9hxVx
            qK3bVH071Z+WIcooHQZ2CDUnboAC4rIHq6r4C1uy+2UH+tkRFIOlzwO3B2Ww
            Q/UaDZaGi66lD7A6ga1hcTZOID1SKt8N8e8Ypn4WW6gMIVilvDvQ2OGyduqF
            bZBqp4OTtBZJegUYqZUKRaHACTErdrhmd5DW71hod/mYi0Wg1m3GON8HfLGQ
            J0O5HoWSRNDX403NpmBmQzHIBiZAhqogcaR7Y/ASJPf2t/a5kjQd3rsKU8L5
            kl5XmuRWfV29d7LH92JlS5B0rJ7RVT2RyotPXQDqJeg8jmym9/82ERKd9G8P
            T3LhXJuoudQGmrFY5ZVdJiu2IRVX4HVaJiCL53dLCZlBA8HStv1DjtI9AmzC
            qFRXajgqGjdK52K6wIp7XfBPr1LDkd/KPLNelUg5pSSVfPlF9m/5CH34WHMC
            036SEK1jfFDyDz39q2d5EPCtKoePlWz2nboLC80/XwtpEosYljdnbCVjxx6l
            /xV3q1FAbH3kAI9FJGn5UNi4BwGE2XWLHCv7qm7zOk6qUP/x85PJhz9/PqF5
            /ZfPd2RI/vL5htxj+sv2p0Wk5c+f9+Xvn2fE8n+9Pp3/KqVk9Muwn3Utem8e
            jt5X/7z6exG2S0jdfFYi4dde9OFcvLGnsLqcfePdd8Y2JJoGf3/p/fSDd4nq
            LqvZWr5fl99/dNJrRcfSuihRKM5h/mzXtn80IYHrMXNp7+H0cL9529iIhPx7
            /2X/FmCyOr7XsrzOYb0teP/l+/XQ37u/DmDpQKl86zV+xrEVXvdOaXJ7IL2y
            gnORCwXg4fy5Cjvf2vrX9nvf3p9/TkDbn1nb/9xvT2N9bzdrG1/3pzbd/zy4
            fVOXFMq3fI39wgvj4SYMNEB2a59p+E33Q8SXUG3Q38k1DJamX/9OxDlfAMOl
            1OagrkrbOBzW5IhY1mOXtvggyecj+tm+33+uKz57/yQfpDRe0gz1/dkFxXeA
            rfsPP1uTUQ== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
