<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.2009</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2009</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2009</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>04ca_2009_v4426</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8201</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2009_v4426</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvonMJ//V5lpRTifnKF/5b
            /ZFSCpiQIy88i3g70cujVdUdMHJeXfFs9wj4K0flkxY0/7utpvcd72flDOdY
            L5X2/N/wR7t7VR89zJf67EPASNO87GnvLparTv5S+d7uZlDzc4R5phpP9LiH
            rNV3bs/B2Ne+S8ZdQ/Kfvbi7lffzsq9zf7/21e/n4S43OXq02PcKYM7cPLpt
            sBnZQKmv8kF12n/VXKtXDe69rtdVNPo2P58fFftU4/h6nvf44ufzNINmqKv+
            M2oHuKpevL7dc9i/2go52Nx9t7UnaXy1daWgD8bXWGaa0Ub6Vc/+N7/qwSZT
            C+dXf3y156Fe7aP8vRbz87mvXAWChc/nruzn8fM5Oqj643f9xy4/fymvbZO+
            68+H4E/6Ko8Tp/rzV3nUYs/jL/3stqs/n7dp/Slf9ZxLZxOb65rP54Aecfdn
            dtsBviyUe/bh3sdf32Lx1bcWP5/fUHR+l/d2kmb9fB5rVZ/n/HweStTz9VWP
            X7bWa/7yXA2cX+UDQNWGcutj7OvGDZ/PbQa1duunPXl9lb/hw1U/n6P/3Y74
            dT6f9+D0iT8+n9fqdH59/Hzu2i5fP5+Pu/xX/QBINg9f9XjrzhEi+vZ87nK6
            z4h2QCA0+ixzA6Nav76tTfunzs/nCbXtPlyfc45Z51x91b+nhHP48TxG20z5
            a4+FboCpfu0lw/Qco5DfL2vngQefz9Nea2zNj+fX/Xx+PnfhuIH0x/MXzP+q
            v9/P68/thvlzu/H4ud0Yf2431p/bnV/1XC+4+vn8NT9JOyAWw86ffdi4YM6f
            v13ffd5wYP2mrVV/8/yr/jTs+flV/41rzq/66/28/qb8V/2rvfC8/5jbfbBr
            /Xx+w0NQHR/P100nxK/ye97aVz3zLv9Vj+sveuTn5/E3z+tvnv+m/vlj+Vi0
            A1I+91r/+O36Td/Wb/q2ftO3EX+e21F/ntt5/Dy3M/48t+d3/+Pr/MaPejbt
            VuLn87H3BiBi/Gmvkrb7eF5eeyn+dH7rV/33PKSIGX8+Hy/4k39qF3Dm83l/
            wZn8U38IDp/PS33Bjfw9/+vSDsh5jx0cSfk4j/OmBz6f33N42je/Po9fz4/X
            Of35+fx6vvfGdfz8PBEOxF/n/Po+1ze+/tobdz/HN3zbz938rP/eY27+Btcc
            Pz8ve7x3vceDF/vpudvzcO/1+5q/9/B8nany0xkhx4hPOkZRhWC8HahhvKFz
            3Wt0XFntgKJWq1GyGK4DqePBVgYUiVidhJXLWNXyp/erkg4XNXu9kcVmID6Z
            q5s7T8fx5oaON/P4ff/FxwLYRVLj7rXK/84/f3x+FY8PFhIznj/uy6u796mv
            H/ftzcpuiN4/7sdr+Dd0m5/3bn6Mb/r50cEZZvi4j/Ojw+Cu0vP+jPNjAOdY
            n/fzvO+zdkBN79O4zo/Bnvj3cX+d17+6P7p20/ye4+8V+Njir/kux8+8eP/a
            RvP45Mnv+brn6Z6fe17OeM/EG+bYaO9R3qP5vBYj0Zrtv5rDpjzd6Xia/BEJ
            JcNydrZQreQxj1+v9wGlq4CMP/rpHH6612mf87EZnzsxUxIC8tHOJj8fLHGy
            lqGJuuw4eMczM9aJNqr72q4s49b00c7VuOxPHbUd0FJ/bFeOsKPsuO86+/W+
            o2zj3TpgQdP4W0bbcZyvRX6XCdiyWuSOhtcca/fsWSaeNa67TGpDc9JObI53
            mdRiNulHQ5nT2kqUrbx6B9zb3ndj7jv7HmwJ9gR2Sw1EKPY91sG/v8BY1uOL
            MuNlo3O8tZ5jPc5HmTooY8FeSwujcza32bv4KNPAcovnTNhcyQ+NIlX3HB3I
            eXA5u54yR9144TlLw9WQt6wGc2wj8J+zPdfM856lPkffNMOzzEJDp+Zragd0
            8ioZXY9z7D2Flt/lcXSSDjV4QPzteZjuOVfgbeNUGVSBCTJK86P/7sg1iSOv
            HWOMVibFjzIO/GQRMYMpu4rN1cruepTxg7JQrgvn8zAKLn22FVp8l8l5bBnL
            R5lYHmVK32U+62H3Cs9OIZqtNvYVvXuUyW4Dn85jutuK0z/rAYYErmQ92H1u
            1wPgFR5laiDHsddudTsFZ/WPEwd4FKvWvZfrCNnmsHyOq7sK6BElOzrmnsPe
            /Xrv9MydNCjS1Q4Y6XX6UWt51DXcAUTrJAMiCBpGm4b6KAMQDK52l/F996mG
            x+lzq0XDLh0IZ0ybIwCu8ShzAjtZGSwLDvva9PdzbNeaew9hzdY+SzXGxxx5
            8FtJcLtxn3mbx/oxR94lQnrOBNpquz/1oy3vUx02j1iPuKw/F0Up7zKh1Vrv
            9bjmhlyfbcVWe1I9iQSSndv22VbK0TiXjm75DUcAbZ9lsKgmzx0UkGcrg7P8
            2EO+JMqMuM9OHhmbn/HZVnWEk97WKxgWmJG6gW5j9DM94JdveXqVr0swZd68
            pcoEoy2rLw7LQ1l0B+KaqecTmx4jYOvAshRkBMCRgDkFRgRtGoCVIvkc7IIK
            HNHj+HfL79aNikic0+siV43/Rv236r96/i439XTq6VLppdKrfpYjr3iJEztM
            1zKxPdN1YfcXKxekF6HM1ST21+IVFMB5lU20/IM/7b6uva57YfHrn/29vq32
            bXOEWv/sz75t/a+/WwdQyzfvQtpd9fR/9vfRh/vb65/9fXx72bfYbf/o7/vb
            jm9N3m2SX+MP/3NPrtMIvr/+fusgcbzBXRMrnybOA+BB/4KvJAZx37ChwEZk
            SWKA6oph6FPKJuC/wR0dsJm5mn799bd+P7ROaxns9pviPZNRLT6+SGdRKH5T
            wDXZfdj3fd+3LzK9SjacWvgnjNQAzRD+C/wXtRqD4/zX39+ahZdE/sFdPzn7
            b0561hdz6Ywb+WIbjk8JwE8c+i7vnozTZ+uS2rxUoD++f0mnf35/DicsC0yo
            P4C1i38PiYnGdy/p1+cvafnYUvLv+cl7/ray6Jf348f229AO6H5QZfKWRJmW
            oR6u/tyWzdUt8f4e662ROtvhf/p+3dqNh2bygwe/jFL+3Vzde+XWeH9//6d/
            f9prtwbid+/nnp9fxDevtTSNx+8K/Gl8nPX8kKh8j87tvXb8Zq/d0uff7eVb
            Cq2+Sjacxv3gl7LxD3XVP7z/Q1/qH87FvVau/cfXuv5/Xevrv7bW//35C0E7
            YH7bj/z6LyRr6wVTQvAEN/f1NeZg5b7LnyGeX9P3Ub5dwFiJ+Mqua19nMe76
            dC4Y9QROg/Ys6+bE7Zr3tRS7VrfvL/ve0QqG31/2/VXsCkI2/dTfmQ5xoWjf
            P5/f/WX1kp8Mu/p9H5ddS3HimtaKTrKU/X41uwZn72Oy9zXZ/T0PvgDvpx/2
            9LXHsedBMr3xa7kcvySv71NpWuxo302jA5Z74kz3h+td0x4DWJRmc+L6T31Z
            zYnzO4tdr2FX8JuSPERn1znOBVr6spUmLHORAGREu659f1W7uugSr2ALdI3R
            jHnqDMtvGeWZh7ez3mr0qQewszxPoOopdXTU5Eoc6UyqSBOQb8HuxxS6TQhQ
            GMxy7s9w6D535zrI3ZCPoNSN7YkuGsHuNYsPOinue8zWaVI/49YD9UBBVPFH
            +Tyi9uoVTnGgJa35PHNXiO65Pn3ExQPx19+9pdMZN065MPdnMi57uNNLvlZ2
            XWmKMg5jyjqttJWebVBh8GzDtaB91te+Jit/tSVu261Zfqr3DDM/6127nkc7
            8ae9NsnpPeoFW+qe9bQ2r8/+LqkFHHnDKHOQ8Am3lqzdQM9H4+qt3Ir/jCKu
            TufrnMf//fvf+W9TWdcY/zcX/0t3ADgt30EK5v9M/fP4629wZUGq+lDHvhPO
            qWvfTZlFnftuqSRlGdFMP2/rmOL2s/rmQzuf0aI5kuc+D8o8dJ8FIFtErdIj
            SZM2EqVLbtLEmHaZy4E2yr5R4iSFVM3ACkUaFs/ya7LHwHCULnUasA0RKI1y
            kyK5iRnxOvQ3mXQFNMBIzoOmXJINZneh0w7XGnNyV4ntWie+yudVkr9sNIT8
            zvuMvoRdLlAo2NVW1SzM5doyI8DOZt06ZDuUgUeoYkefegdNESPNoHOuVxnz
            ateW8s9oBgwhbplO8FLMe/T9zCI7NEfxjC1Okw3p99pyIndRcjzZ2bNRxUAx
            2YVqrzhFXl4UGEaTEKEfNsfLnrtYmztpZSsJszsP+007uWc5GZ5ZOdoO3OUq
            Za40vs2Y1HydLl973qhIo5whkNjC88J6QJeJOZEhtylX2IUw9zuQ0AV/mDvM
            9f4dPG3bfKqpeM4fn0fON9B75FqwnnSdnnNC1SrIkOmuehHl0oAQvad1cask
            I2iwmD3fg7ijuYKLaBskNyU6FX2K5cqOih+vvuXDY926xNuFNLvamJx3moXh
            3vu9DljHVbDyfIZpZRus4763vTnWqH/9HTo3Ajeob64uUMXYT5zvToXw5S/s
            AH4PCupE/7xoP9yDJThjvWyD4Fzx93fZ/Cjrgr2bVAw7r7NRvc6EbEF5dnzg
            NrWzw/tIXQ32FucsTxrJx1adnStwEqb5m3a+yjLZ4hldt/PmnN8SKcl0sI/8
            tm6SsQm1M4P6pUP09ghR9V01SlFfa6VwyYOON3p8mtxzXEb/e/AePEk8bSBM
            E63PJWzFAGbAXqMMKWANZwz4oh8T1TWcw+Ax4yCml+9hkb4DQTywdyii5f7x
            OD+TdsN+BNB/IfruJkXV4iC6C4uOCd2hDn/67ifrvKhF4bqxL1hXtJExvGZt
            XWjTe/oEYF/Ua17xLHVcxS+cfQeaGe0GTPh52m+c2esc4HgC575Q8Q9Ocmlt
            Zi3gGi/jOWoJ+JuVy5kX5lVKLT6Xj0XqV7k6rXhPnTK6FfBZaIQR1les3rgG
            9h3m4/A2HylxMvQN3WEyy6UMOA2usm84O4IA1QvOalakPQvTYNghIR2tSKXD
            33thYZ5yu0oZo1GKiE1uRmSUdXM3EMS5lSpgb82jveTeh9U3I/AhviGrfJSI
            k5drrAMbtwjOsbfYgViL5cZJ2cSJvemdzn00x5e7zhi9RNvCetR8SSsB8BUN
            32BNeopXcefotIJBJeneb7vNRV2MLzj57qQBROCZncAmCyXqwhqn67rnui3V
            kSmb+a4j+F/rmKfV4cq7jtqtjnD8UMf6oY5idXBP3XWUanUQKXzXEesPdRxW
            xzWu864jF6sj/zAfKfxax2hWB7n0u46UhPuxgJuKaOt41XH9UIe3OtY1TuF2
            9GGdR26n4cVx8LwYLo5Y/37RVgSHBqsmqxzCVezxyvuT5pcn+diaW7a95zxQ
            H3s6Aojukhq9Oka4y+t6ERGfZoNfccZRLopHx31cwBzAHaivYgy1l9lwwFxa
            rV2xO18q79GHV52ENerfuftH3Q/Qc93PnD9pBeBuvRDgInDQaHdfPr4lvVTZ
            dm2p7jIyysM590aH3O9RZyM8uNthmec8XcA/ODCal0nc7V3W2GhcAohJeoln
            g9ADa+nyzL7jj/VktRF7dQVLFoSr86Lj2NXxrosoCKzZyi/gIcxKoVbTr5M6
            dLfPIKVEQPOgB9Em6wj5IjWIfmidXfW5E0Y1nulodBzHyLI884PagoO0CG27
            JY7gWw6ndlDX1CKCnot8dltGNcCYBrBG/bv6MyPGh70l2m4dunJr8asTY0tE
            Q2g35er6iR3nsMnL4DwCT4BgBVYjAMM6/tRvrJVr6KuXeI9lMLcBcwukhLoA
            +OlXR5LvbLetpweN7DHTMcZ0Yk+nvValUWhl80vCBnCQjghdWkb0bmo+EkmY
            Kon/tP4u1k0MX01LA8o8sx80EAZNe6lPWO8JKKC2MdYBAHpegLOct1ndPLal
            YHzNWwGMpptjwonUHijp6nTzM12srwVnCNXze9JwBCZNEhrgT3q7RblVDdFC
            EqcSClG8Su8x0HMgVcNNhw2nd6TPQT0Qjtt6nK5groXcG84iLRBAC1yYk4v0
            TbB2HJAsYRj2buce9TShKfG1NjiCeF9pMQuEgNr5m4L4iT2HKcZko7201+Pu
            O6VgoYD0TDgjm3fQWbhEL0TQ7ySXO/Gu53qBvsh77lkO9EjPpEmTB92wAtcj
            LXqN4DquBnqCE4+tz3kmVgZ5zRNCeOG4R7EHcZZnGw7dfJ5nrQnhV8ciYm82
            3jf27QCOxj1Ba+529siDsT+JdA5WJt88WTBFsq1vxg4ISeYioM1PnFXuGert
            yCdJbXefMxApt+wUsyvcfuNj0J2iEQHuM2lH7JS0aULRkjMazQm44kRbBrQK
            7FE3TQDMRjoVgI+0dOYz0a373u17t++96Jdk9oo9RtGbV7N70Llm/+TsStJR
            dGvb9030jSwRsVua9vamiS7QDJlGRpR1TuBI9AsEcAZMatLBt1J1RuMClRpb
            c5xbd59b0Kyc4/MwWEjOFoQnXjraMziD3d40/lmaZr/WXIIRGDtWT0b/cdvI
            elp5lRx0liMFxraG9OHFHhhcc5xx7Ac3ZOyi5xVreJ4VdDToWvChsx9drRmc
            Ljy7g8p09FF7/jD8EdfiNiAlzPtCuKb7RovG/XsI3jXu9Yp9Uue17jLueJdZ
            hJukD4H9aBSL3XQ5Oo+RF6TTsDk499G2Ax6oXlBqFDp40hQYSddv4r9GvhF/
            oEF7v9Z+B0yYfaYmo2JkcwWeqxcfD76hH3USDnXSexNnirh2w0fQ8pe589LN
            jywWzh54i9f4jbYh1/XCw4Rx3Exe9mvEO8ADgPlhjXPjoQIiQXIA7ADtybV5
            JWCy9TwvWG3dl2G0ttmHXVzveeO0Yh6dXca4G8cK7oKWAY2AYjbexF1gKoe5
            9ybtYCsZPV0JiqrwQ9M3keawGbA4cr9imbCPE04snmE/V/Bv2GqLOoETf1cA
            FQG6hXRJCPz2IJ1hMJaSg0DDevAyYItwjoC0QNSWDG4SFB/xDo3i/BwuzUI5
            BUjk4dOUlGeibPilr2BzCyp2aCPhKzBuXjM4iXuvKiUMuu1A9zVXmt478nTY
            ssAdYAB0D/5ZxrDuo4zxF9iHpH3B+eJ8k5ZshGwLPAqx24UzTs4ZYwDLKzoG
            59AH6n9F+oLrtzJ8PrroY9JyQ+8v+UeKd5f9IL0gT8OfQP5eWwNnD4tOoVpN
            GXWT5xu7TLYzNBahEbU+tG9/W4CjwN5DttewxwRbRzWDeTCbY1+Nr9t8WO92
            39c2rDd/0eniJ2wInPGL+lucU9LxxIYNNDbHwP7TSDMQanpPmoO0ongeBwyB
            tWYdHpNj10YBRQMCdJR6ZZqSkNMCpiLs5bkGfVFKB3wdIAHEky6w2adkRM7+
            d+3/Xq/f9/3zf8fXG1oll88+YhaH56pUO9MBo8gTfEvA/n6UwzmxctHgAigM
            8RwloewBHgc0jMd68RsK1PSNE51VCadcu05Hsc3mDzxpPYCPTJ4Oe5SiLD0n
            7gHqHZH0BINNYE4ke3KcY+Kacs8Rvci5zwboWY8FItKkS5A/sW837MOebrUZ
            xyv5gUNXOsbdrpEK6sgg/gC/AeiwjzO4ykwpEL2GTsJKPqeM7gKcSOSF4zV5
            jhw1rehn9JfRpegry61GOouwHIBBxwD7FfN1ctu1ldoN3zev8+7nu2+DfcOc
            zXyNN2yloMRbkAZjnElHBlCL16gml8rT9n/Y8mLBVJLaR5deOOxzQXwPAnqV
            zTvr7GE/dxLmAVSEV0gK4HfJDV/yEzV9/vV32mp8rFJylFOzFHlDTgLxZM94
            fFIZbWtH470oUW4UXotXwl4J8X6XT5IeILABKwYwuhcNDRR1pdAZsIQyW/I9
            bgI2VArim/fzzFKqLrpmyXYA8NSENDYP/ZKcZZ1bVkE4dups42PSjxzZ3rs6
            1wEU0ubPwRSMl3zpMecLOwTzdirKBcc/IgE0hgpi5eTet/pc57lAnQTLW37h
            5jVCGkFlQdv6IPh7evL5eBYPU83idwZZrf0oWEsHOLLcuJIv5L7F+ViEtdhv
            F4ipShGEaKNKha74DIcaQgyXp8cy6LVxORl685w14zFBQ5CfWZQ7my7i1kmY
            Mc+2I9hjv/cVeV1PALznVThoiUSLlHcw4AJ2pCdNU7Cnj5fMQ+bKNqe7zpi1
            RmffdZHudYA/wrsHeaOH/CRhfYLVNR91LfArz36mIlr6nHuNjPaUbCRFo9ZT
            pYFojdrFFI/LIcafqjMzKg14PIJNrolj57rBeepTOvYwYYZPJqPUfO35aw70
            ZTTVkXAIOSjgbrAKlXK5TZe0KVkTVuAEzItG156LvupYl+jdCII1Q3wUeB7K
            EoFIlgXcaC07EUmNCpCjUb7sFr+p9eonaHLvCiWf3pfzuOtf6RrEQWKbN627
            HZjcoTA3RVFVaFjh6vs78suOdH8R006/Qi6Q2sP7fvOE7GM7r7n7CAqrHuIV
            2Tb2H57XTfeDCt4wGX08a5H4Nzhcg+YoXzRErxeFaEt8JOkKgrosHGr8V63B
            eaoTyoFR45CYfH2ep+AdlTlgidrCfqg0Eo22HwgHFmg6XVnqzK1hLHNdU/Tu
            LWerkiU7rxg39BVhRAz6Tp9U74AfBeqhHI1lFIFFXBfW/bNcbTie2msA54Tz
            is+wtNcIMgf3o4T4C1ARY79oOFxT8IV0AygGuXsFlv1+DnwISEJnG5DwM3a1
            eVib3ksnpnnFd6ByKKHFM2eyMsphC8VU/TEv5GYSUCl5etaZCN8FnwOA/9Ca
            ObWB0eCsAvaJTta8gZ+TkyjeJ81hP7C/RUvGlaQDdTZHAAaTejfCDno3AmO0
            WkH24TobSEjR4idtgN7f7vnFGXx9OwqRVkr8LjbQtQwLgm2RaKFLHyOw9Vum
            ojF7Wfy54yUXw0HXmajDt06Oj3Mgl+Ys3QHgbe+RbmbZUx4DWo10qvkmehc2
            /zToS+GMXuJeGugjzxfFM6T3SGunZt81Un7OZGW3XOSMi/gmi96swG6kHYgX
            8/bnzM4srZPmvljdZJhwT0s/7kDMNeWfJGbBb2JtNLdXGib7Yb86+CnRKKfd
            j3yBEywy7+e3QzaZo5UZ9T3m9xIO39+3+/u869vfd6zdPZaFfUx+J1+gbzmz
            ZGyApovCn/jIIFyhki84u2C86Yb2vNoag6sb3MvAMSC3TF415YuKZ060Qqc4
            Q+/sGc5j7pRbUF6WQJuHkLeMTvvXsQ4aZwE7iFcyZGF7WXuW9Vubupd3LfY8
            g1mlgfYc5wMr2q3d2kpX21IhZnqiv9ZztjWMbgMxB7514evzIRuupGJcBurC
            HyBopfQZW4d4z19A94FylYB5LzU5HABHAgqEJvhQ/D5DANuQC+glt8AG9ouG
            lCg7Q+6e/grkJ9a7nNgEgLDvsgFleY4qPSFIlYGXRaHhBuiMSaAMetBl+vnW
            iUmm3oA6AOz9HsjDOOkE1tpo0Pr/2vMU0RTtecqagFh8XZ3nxePUMJgceLUM
            OoiMtHQq9r032KE4GZpfogWts5R+XCMiBYylD+IM+orhnA6DuWSaFiPJUaly
            fx8e34dHmY6h4jswPqIvMQd1rSUn0Fvu4EAvd+88z+IbTiaTaSXA7l4EG0hT
            gQob3eGcuOvMskIweaVQD/a4u3Cutq3Dkq6e+u1s8iPwNpR4Yb5JIzuCIT57
            lKt3ORyeysgwapf4seXJdse8zlumkwuASTSeW3Ym0+hkd26bjG2b0bd+eu2I
            AVTGevn62HXte5fddsu5r/Y9eEeD6tGeg0Pyxn976dFPeo8PuZn4W5+qGRcF
            AAh/2XyIl3j8piRfv/3jN5/XcNy//f37eDx//EZ94GtCvX/fz2/9adm8wrH7
            DFQvG961+9qOJF392mPLx+dY5n6Os2Fzcl/3876vvjoFbxsDtAjQxnl86olA
            7WD63vsAlFeQPoMiDrIHx0qAFADbpLbsvpDdxeHLpVDgxO/7/T32r6P8kXTg
            y1ve+yWS3lMhh92P765MuikTtE5Cr75/4xpPn+fW9TWSmZy1U3QWiLBHX9XP
            Qq0H+gUYu0jz49xRjZ3BKLM8Izy+dFyH1bXqWWgb5iaZkTcvaudFPLRKkvaj
            DQD1Tn7btWiCXRb9T6lQrI6Hx+h9MImgdWlRcnQv/R5BwHTgTLyTzqZRRdtd
            tt80AybdS80W7SMOOp0ZDGyk++eS6KMD5rNe6uBlLq9vTC7W92/WCcIM4N7s
            YxiDDBBSkSru8X2vNTll6joxnk77Jf/DnD3XSKEVT9KCXO8MSigDI2ULuYAr
            v81OkTR//t54SdNfU5+fXXIyccqD0Te5jzRurPtkRM+tXwDSxyRmp7OD73o1
            u3PNuSNhnttyRlvHBjKoD8XdwXPqEUMAr4y/1bhvF/ZUB10a6H0LXMeon5hb
            nZJGbYn0pkFjIP9PXQHXC3QKoZ3qOLGXf1OHP+NQPWDq46MOwlCMzzvMH8br
            rG951GZnCpQZZV+jDjBhfTWUwVzYu0RysEu/hb8cCLdVF7YvcSnr+qUsdZda
            C0qAAKrxm9+gT2AaMA7O5Rfv3cGvZKzJPB97hnVgnWn6f5BMdXaGLFiBrWX+
            AYZ0Khm4d4/MAGU81wkwhGXFk2TFbwDtSDvxHi0iK3VKDAMhm0Cdi0GY+dO+
            us+yyUnyth1P247K8M2xI5q5TNvKg4YsOpcgXrDHyf+7HJ4yGklBwGgOKqq2
            XSIwLuhH0Pi5DtMrs0eUe1gYUp2/w2xUaF+Djqb6xteqk7yKvN9tnvk9sHzD
            jpeshXCGdDlHStkIcegCQc5yLF+AtwDU8g1nsqxPfN62iaLBgxPPmHDgZatI
            aQvmm/pskQBRCK4cBsMSbfMo8HTzXTbEu+wu83xH3CzZO+lwwSJyJMDxBD4S
            W3KYoCiPK7iL+l+OUaaBgySYB2tMqHpWIJEzyzIQI5dO/7bJshU1e4trvsdD
            n/x82ndgsR3r+mmMr7HZWNMeY7ZxpHDmHIL3b7ie9pzkX+dC806/4NPRs+nB
            vwMMduyGgG3YKa8BHVRA/NE4FvcJ8ED2hGAX6Uov+za6t1PGw8a79s29dqCo
            MyMxFEd5Qy6BvB3GKzsb6jXUD9r5VlfKxlUsXx3KtwhKJ7bKgybbAxr17Xqr
            4aiW6dssRpw2mJ12mOLZ1gImpr0oZYok01kPowbXeq8nbUt1xGhbqrJOtkOv
            9UEP566Dz8eythibwoGPftlj7rY6bSvZVrC28F/ukUMhwJyur7b6/Gwr7rZY
            h2woL+A3oARKzigDvset9kAJGD4gkVMUSGjbdkbBGup2DtOVSbLoT5NP+oXN
            XOpdVu3HG7aYLabbMMbtKKIA2+lJo9JPndbQ4XjvGRxuo7XSxlNounnpAEDp
            mt+6dKLAG6A5e5JZH56BAAOMr+Bp14OffMtDiGvCg49kf7ZsAnVELx15SmXb
            rR2nqwxpJp0Z5VAyO6TGeMlpnONNTXRRvWWsktehr6XI7pF0Haj37AzuGv39
            Tdcz3gkQNrfcSw4qOxDti9FuPbV0Olir3uOivON48Bm8j4976eztfB5GWeps
            1rl1CR17m7TRqx3QoElyvyIxEH+D+EKdb3zbMH+zSQdat16y3eVZ1pHHc1en
            LSwejCWNY6SxrXcb9wzSWdO1Y8uyWjB9HfWJ9dF/PAd5MjxlFjefRMNq3j90
            /WZjd5G/KDrWrIfrCHqovnBfsvqPB86txFCJHgZFJurPubroB1FdS/LZ456k
            l3gADMVcNHAQ1VHSyBBVviWTWSXSJY0Xu5/kZ43LShaQ3DGszsqTdhqubdxE
            m+HuQqkAUuRpycEEXL14YC+h56D9TGEkI+ORD8kOaUNiMhG74qBJLoQNC/y7
            UgDoZ1g17PdJk/iMeoLL+jbb/U/noNMem8YPWH/aqZ37tye2pc6Psl/g3EJP
            XvAYiVIajOc8TM9EuViLlBR6LOBVQ0/W3y2roQBmZLP9oxwJkEl4XrK5k1FM
            6H9yVaoQYk3uJXdbpkPKWBvamPHgGA8BKjMDNvhrpkZ77k95FXn5u35KNJ7v
            j/u92++BhTiH+zzIRol1x0bZmen3SBnw2VnGWEsyyk6AtnnEwPG72RjG6TQd
            ogQgM3mNgzbatr7Rh1oIGbJ4hOScbLsqII/WylM2XDgPZ0+Kv6F1BjeZyLvl
            dNi3bVH7WfkdKXF+k8mHfpZNMsUH7GX/Zq1H23L9ziwEQI1rDOq/QDQIP8c0
            3ElbQpF3xdGEHLgE/SgMF3hSSjgp08z4b8aeS/ie5e5vrj98s/vDw1c9gSz3
            o/xViS6uZjz+fu6P1zOGX3PU51fJ45uC73+V4zOVA+4iXtUzgYu99gC7NMah
            vFrjN3v3yj1wKKJlbDY/npalx72OtRtvOXE9SX/3C5A7XI7+qRIooH5Q/tRL
            oaybDK1tPH0INx7cvgjHNDzp/cYB0/ycgfh/xBF+f3/LgNwt09nlypSu2Js/
            xEjbvlF0wnBmm+MkKMWpA+6nBpM2QFcYjf5VjDlHpx+smulHmNgh7+8kaPXS
            idDmAzMq+3I8GIoNZj4wFsiylTWx4i/6ghIa9IA0AtisHVvG6IseD90Htg+6
            t08Z9TfZ1ZEei3Q4Fn/pLDYN6GEGcGL57oZiVqWt137Iim55VojpjkFjdiQ7
            Qqls8E/iJ8638VK4NqM1aX1rdTXajEc3CEa5l7avjrytjFOiLQDNKOzKb8gT
            cl6o9bzngPRDrwqkVC6QAbqf5OT4nP7Ml4KXYk6MvQLOVPte/NF0qutEUW9z
            TToa/BUIBXo5jW6y+BSNCHHkNN6+B4Z/qEcHvNGzfIlmsaCUlHvSt0L7mbLV
            zLmP91zeUXjj3p/ptX9pX4DdPF/j9Ev+a1i9cOXSGMtbPllEIN76oVBZYaK1
            RtNjx6C+yTEUYQvSe4cerkTeg+9Jv4YZInXj9DBKlSHeiPRJhJmevHPcRxZ+
            dYqdDZoEUJ7fUvhk4/jr74bd3+fbxtpssogJ5ZPXFm0ZK+HRxrFOtGNKneYG
            C/Qfvd89ZUnE707RAehQUscYgLwMKONpe4ZbHKVOAz8chwtY0OkUk3bE7iGc
            6UV8cT9pzwJ61WBWMNiVKcaiXSXTv+A+7ucK3Gc2m6TJceDA39AugzKHrc/C
            swT4KxxGMRPOUTMbJcp1bltYd12nziB1sXiqmLUnMIf5Prnh97G64QpNouLm
            6WR3RnGEdMHGi5hst9AsrSrCE86Jo30zCCijqxJjFoK0zn4mytDMxoCwJIQL
            CBHzIDuKcspXgFxuEc9G3RL3V8mNv990Gn3FjlTsKjr12nu/HLJHw7s8RDO2
            G29rr4P4qida9LSV2pH6vO1thsDY8vVhemmzxzmy2VMArWmO1mXwhH6etIGM
            04JPyXAmUCFIgYi9S9FgcGM8odPsNZwiXLo133qmQtvSEY2v5fzyd6DsgKqB
            WM1GA+BSdnjncnzPzDu0GY+DNvJmL0ZPkwp+HduR0pLchnQcVXrYIZtq2mYZ
            /wAQU2l1jrq60x7JHvXVJJ5vKZbZaXKYbXtI0OTpZ6Dvj9Lu9sNX++5uvwNf
            YBw0pZF6Z32WO/I1WIYBEUq5/bJKpR1uydY37V/uMnSphLtvuA86W+ArF+Fa
            lV3nNBtY+sqxX/SUfLZ39qvTcvq2g+WYgN9L1cElXXeNTJsP9DWNz28XoDrn
            MKDP9/dcF6In7lGQuZ0iEtYTl/X5kMGND/ljfuQVRUUj4XOZ9eqv/sTdnzbG
            bU+W3V9/j+rOteVkyVuMmr0nEtsgTxQsemKleVRpD3u/2z6Qthk49VZGttHB
            vqP9zhiTTBpl71u+VHe5m5cM3qjZYjYvgLanCQzm9geMj2/i+xvJcUSvmM1/
            om1ek9CU7JZ9Wx/f1se3zvwT2CZgwKJBwKRCudl3kofv73h6v/sZTtmXS0bp
            7N2VKd5Jv87PDSc4TzmPLjsEL/mECEic3xdvTtqD9Rf6mNGujFalbfPtiohc
            EueW5bhnSgIP0SkRf48H637eZYCw5O/N+TlkUxrzXP4+907wk3LPcHXCEXdK
            9kxDoy0zEB2WaefBGCGqd8nejzBZa95lpWo27KwTPFNwjCPSUF0Gqz1lT9fZ
            z7Dn/Z4T9guoDnzYLhd/Xy41m7tXxConmiyaz2YX7ARza34V01JnXXGcppPc
            cHPLuAAXrlsvVqu9s5hBBm8bo3tSbnftdw9YTF8iviO9R09R5obJ8iMtJOTl
            LxXxmxytc/R3w77oZp9BOzDsEclbUL6d284o0uupmU0oyoN2NhkEyrfLbGO1
            lolwFTgGKEZ+pV6Zzrx5Ipm9mexZcHgdYX/v0iP3REODTjqKljHbl7LYvmr0
            BaFeBLtfNhLN+PZwRS+bZSr+nT/9kL3ilI9jJzO2yCdMVxftdydadpSXiMeh
            8g9n8XU/zCcEvQiJeNcxS9TjfbP35JZ13+0+9EW5XKTdwatssXe+77J131+r
            sm76Ic8IIIsDEImL2ddufVUodJplYo36XZ+z7x1jospb7aTE396l3a8KBqo8
            nvvt4zJWyPKYoYECzmOV3U+jLSL2ydsXhpJMUG3gJ41Hjvu5X9wzceNBW6Po
            TMW+16LutaBcAwSFL/Q9Bs1GyzvQJfRibZQHEhaCPsWWFE9FX2jSgbI5coqL
            XSqZpYtb1+znrqn4naBdxFQxuoDsp8STrFCadGiduMN0WQyQLPmkL7051RUw
            Z+Yr1Cnf8m7zW5WH8q6rhdJV1/mqi+tqfvjvutSW6p87ltXmtS7ZDHi3tt2x
            cAp1LVW2dLLTJi3i1G4Qf+7QLnkfMvLp/j2oruXYXvdUYjZaXw3jFQrnEM8T
            jmDd/O6MPYZGrUGQDVsXP0BbRZbhO8a0cpLh4uzSaY+ekvLXaW1KZ+flPWl+
            US0zvhTnU1jR7EevDdtatTGDTlMGrgKab9LS40HXyaYUHCfgbhMPhvmYhTIR
            ZzYvxez0iP5og9moqzgsoyLHFBgvvi9QtSDlGLHgxA6Z0ov7m2bA/DhmdMKe
            Lp6CGMF88C/lkH09ballmD3FF9K+ChgBcKS5OdA2aFRQ4yuYXsgBlvEbd9sj
            lGZ0KRig4UI3/49bHsb2xYuAfmIfSXOpn9QtEz9Mm2vGPunedLKMufJ6Pnf5
            0ymrH4PhMzoG9xnPBfW9Ghd2HXkd4ljNxW6b7xjvfsxQtz2HYspG7HFw64on
            48z+HfssUshVcSa4p1IDj9A947g4Tz0wdU6RCiXKAVYcqQan31N7lNdGGfPz
            Ss+7yAD4irdCZZmXfpaw/6jGe1ASST+Beu1cBKfJfsJO9himXa/texj3c1oy
            W5y4uuNabHtZ7DNsenoNKb6M9KWnxYnBpunxlJ9YlQ7l/k3aSPFLDvniMS6C
            Iwxjfk3wYWADx45pQF2Yp2yCOmDudtnN7Xujd4vGGw+7j7RUrVl0ANsjX1qp
            N5sml7lt2GknzFjWpEws658P621/fdHummNY9Ls+5Xtaa7A6+Zv20mXG8469
            cPvw7j7cOi3ytnG2wfNWTWliMRloilKS+Wnqm+QkmwmWSRRU/UoT/ZyZsUva
            NF+/4GZXLCDZW5GnLOVas8gX0dFCSDrT3RZd8O+27Lv4+o7065RcEc/URpyv
            d/6uM7pUbcy0haDNtexeJ/0BZXdZQXQ6W8tqa1nlX4jNZviO3zMKQkoGW6PL
            wk1SXU3vuJdjNH45E7ZSa9cKZQ/Nte3D5ORvW5iqJIZIek+ZiBzzX56Kw4O3
            3t18t+oh3my/f6c2/d1mUL4nrJQsD3ov7f6OdGkN7++47hX8yaCH8LbLt8RY
            tJeMYTC2zp5HR3kCg3lseoH22LiX3/ZF65thfLPHeHGA6p57jBjjL56gl3Pe
            qtmle7mkMfB7vIT5lz/L/ZvZMeb5vu/aK2cRrkuy8ZUsujrZ9C+6v8iguZkP
            FWiUzncD+500oKcETxEHgvoJvHLhbBy2rnLmEX8O+Nlp20tYx7WU35SEIp7v
            NCYShE5+eSSArD5f8azas7MGKxeYHXQ/i/bMnTLg7237Y9F2HfevOR79mprj
            9qLJXnMs2gb7noife5fynHuv37SM/AYwTYxJBBIoyXY6Ru1JcopWHpR/sswL
            r7jZW6cs3tRsANfTbsVvHqBIXI01cVe7bXsVfwhtnfXTnu/2NSLE8Yfx8rRr
            0LMSLRZBll9El2wL838muvWe1DEsxaMY8nMh1qT9Vn094/lPWTrJ1zPGveCz
            O46XXzantCdf77gQB8ZCI6/Q37TECahwMsh2ypIR7bNQBZMBXYD76R2XWR/t
            IRQQFBD29Yz2w4fpQvVNzY2yt/t9oU+1eGHFNyjkaNjPZ5l87TJ1l6HHaBpO
            MlAt0LKxYZ7YzqwmP+KcaV4lurP5nWLYKVr8nPfEXVC8bF2INxkjaFaTDVEv
            N/e5pY+ZvGI2nTIVGqOqrbsNq+ez/rvenBkGCed3gcePPp/9rX8nDcvxzckU
            K5esEflMPvVOPn8MdmZe6HxfSA6cjP4ZrR8R3wS1yaC5l1IOnaZaZw9S5iDp
            Q+ZumWbdev7b5wPQsfh3XJCrz7hw1jJpGMp4XSuuNNBdZdBLL0vGsujnUqih
            ZRiIM0aMKjO6AXX7xBlFwsDI0RZPGrkUJoMGxwLWK1PaThN2ugK7plhyCtBW
            1Z5zibFw6RQPKiuDE1adoKuUhc3RKxAcKuA07dYfzzx18qQ3GdUImKSxb+da
            FMY6xoziu+hiEilNQwUQOx29xKnIK1MeDkCPFgvzAzoSbeAl5nmYX3hx1g9q
            nuw69/NejI63e+D7k1F5Cxgx891+lufz8SiP7oA1Zn8L4zPPun9rr4OOB4+Q
            1wlUoueUYYiurbOJXyikXUjT01By0r94Sj+y+1rG3Pd8Dmjp5P9/qu5z7qy4
            XjvC3qtf+sa5kcWX6J5Wrlb36dwp+7pd90ljW0KQbm0wVLebc//ujzpU57HH
            /lHn3d/21V+GirrrKq4/vlVd5ae6fuhfU//af6d/9zf/vb6pnvOHes67nh0r
            w1uZyJhPr3t35F3P+xv+fozrvMdVr6966s/19KodoPgd/1N1/nfrkVNJJ+xg
            bg7BjBIU0cZgBrPDX5YN3glP73vQVe5+x/W6n/9+7j/7Jf1B3XUSJ9eYmKg5
            KMxEI53xqp9n0ImP95Ify19EMRrc4DvyulJny//xpRfbWcba5iNbM3+BzYPt
            OOQKQunaq9/3PmEbghE75oPJRO13sLhEbvMrOAS0l6Ksh31i4LlLVgwg6ydZ
            GOKuC8ixuiRNkWfqKdvDsuNUaTkk4RegZp/73TRcc8MX9mXDefmIsa2UYxxl
            vMrrFKLUq47+rAOoLhl8VCjzgm/RHTpDfXwfHt+P5/fz3YeJUew+BGClIRPw
            XU+xesZ81LPHwnm172w897e5/KNvz/1t43eOqZfoq29xtLL1f1qmLsoiCM+T
            fTvSXsdscRJKBg58lPu335ev93tveI0D+JlwkJGdus4UlWyBuIC2Eav6oYy9
            xAtteI3jvM4xNs1Fc0eGsItFcaP2OaFgl3FViIzJdUsZN6hTU71UJgsXH+DC
            Q5ih1X0vS9ZJt3vQW/QhC2ZbznvaMTGoPdUgtM0iI854qbS+6mZz30hTMxKE
            8cSekWkZ4cO1+H5PXfgUXqN3tJuUB52O/aARyVk6ZaoUEz765AZjZQa2LX87
            61ccMTEGG/qSfupXblqLV7/S7lfa/Up2fl79irtfUf3CyU7nlv8Rlkybu2h+
            AgZTBM8iI0ysesOVOc9iMdW9FOxGw8kQfNH2kP2kPW/uuZotZ5OfSjQw1yV/
            ZLwV7A/ZlNH+1+h9pRIrJzbJMh0xZYz3b/AkgzHmTiYk2/WBbR99/6aeS2WZ
            q+fWRRXQs+06pQ+jeeWS3x+jpOX7N2MXkZdj/AKz++7ywKc+02fw5YybAJJY
            bU75t3TWD/Kxj66xVMq4uR+PfDGTAm2X2U96cjAYD+eA2Q9Kp3yUQiZGRaM+
            LNDK4P2bdZNbJGFr7W29AGjCTSu+YsuRGiV9LgFPprMr3/Mk5eMeR2dkSfDD
            DEAc5mJOO2pSK9s7TfeMyaBRHfaS5tF8XDoTQzgKH+kWvZLk1LQEoR8G7VJD
            HODiFq0XaXXUguTL9EYv1CWhSXuWVrjjEk8+9bKFlc8J54dtxMd7sEP9aOkw
            6dkJ6umkpKJhDQPj0vbDYhYwfiwNzGSr7RTtQTJ4X4uCDY1hcQXCjIzh6Biv
            hb7cmhellrA56PMa05+K5+KxOLWmCPBDu8hAgSL3//2csWbUD4uNzXvm6qsy
            HGAsxEHPENnJ1R2vMlg/AmMudRcGaETJYWjbJFx+TPxmYgzHcHqx87zQp/lM
            YImS1tP054zkSRM007uZ3hCdGafO4VJGkQtgbJ9FRt7wCnJUGIhxykee8rWT
            4Z0fcQMBkMExvezMaCtG/jkw5Hctil9IuQv5wlR5Bgir9n3c937fH3buXLV7
            2UZUsz2kTkp2SBa6geagF/rUBO/TNXSlHMJhttdyTEJ4kF6xrG4vGgULI5vA
            tmmZ1M2mBz23a7SrAxep99PKp/0cUN+uty1Qsmvb9WYagyuusn0fd7ym01s8
            5tuGClPUty9vevyugDT37/L43SxueWUACEbpk/3QVWyeeASxwcgPuTvmpOAu
            4GLukhcyi6Xk1dueKSg3qqONo2UW9yeNkS/aa1V3mkbn2N8968jjClGedidp
            w6Pv8ifjct5xgKhOkX5Q1ibuTNYW6B/s5qr4HcC+4V/19W6HUm6ZJuPsznJK
            k8g6195TjC/EeHOPPjOOmTd9Ib0KTV7KZ7tO11XeHQvzR+t9Oyc4So8YS3PL
            EEFUEWQN7afD1mCBgF6eQda9k64H/QAOGd9r8Lsxcf7D/q5lm5PfzQXHfwEq
            3n3Hb4Ak+cKUyTjnmnJPf1FsNMZksD6CgpFYZ+IcA2Y0ylzxrHEedE+9o9Iw
            nmBS6BvOIFBKc4x1jYy+4pkcjFJHGmjinPLeNeWrJ9tRq9/xX0icK8UMjRm9
            +cCQVuF91F6ojCteN35JgzI02hQrlU52IZU08Mf/Mfw5YQLnBuvacWoA37y/
            7f74RzvsAxDKiX67Cuaq8XrMq4MnoyRW8iYGjfSpFPyBpkWxzFS8+13E0act
            12yd0qhWImFViLSRW00mk0RLZt1GMHjzQu6ivsXFU3FwyzX653PGp+GJCuYO
            ZPLJi+mTgIdrkwNAI75RjCRgkTvO3xumHuto4Q1jM/BuYH4vcJw67xRBN6YJ
            oNKg0mZNseoYk0k2cTLFk225t9hvg4HQsXEvqtt6YGxtR9NvxkkgyQxIYvGD
            WzZb5aSErqjPN6DuHe+LcYyoMuxDtrnM/ytbbH4fhkJ4Yd8MxX+gXbJkD1jp
            uu+Fa+MKdxv23PREeiZLhfO4n/+m/cPaxxQ2bzor2od4ZSFm7CDF9iw7jjn3
            aPEv+ajOK/EjY8h4xauyPjIu1aYFGmWNZphr8ylDDvGhDNVrVxqUSvcUlf+U
            gdtXYDy5So1LU47eICKD+lDGiDjBC+YanMUBc9tOvpFnQB/w+6A8AZso5Gmx
            DBWnIlkMBZ4xSlm0jlX0HUmWRvxArf1Iu2xT4nNH2qSeNhf3b37rTpkSyDdU
            zxlvNKNvlYaCihdaVU+hcnNZnVnyTvstJKJ421j3QLtep3HTHpL1mI2C5oi/
            GddJ42MsY9oTYF8SrDOGbvAWDx+dls2uA88gGS14NznNoPzbb5AqvarzcBF2
            /Ztt0e7l/h48C/3Nq0WJlRwNp76S94xD7mpOcYfZxhFn5bpR132K5yOFY+vF
            oEWyEfB7PPSQw/qLNgZ1O2eQ3wBdZ+514G/2LTNyrfkuu3stwA3J5tkAOBf3
            hzWnjmzTJGHTHGOaPfK57ZLPabQGiDMh/Dbsim0ZLMu4lWu3HfOmfdJN0+R9
            3bTRTSt90zg3jXTTOjdtdNNYL5rpi7Zacc2n3KjP03JX7Pd113PTTJgv7d3E
            +M6gcXl+w3XJb5puNWiIdqvkl0T7BkVTzZKKbv2HZd7+6u8C5cNscsfLP5GS
            acWpJdygZc90GXAV+301iymqKQsruWZ8gys7xhbVNWjbrUuxFgEPp/Rj5l9L
            wh0cq9Xh5FsMEgxw3bltB1vNP5y2d8xZcUxvsc13vYQ/rNdT57LzW9DmL+QQ
            0vaxnxuXKKMldZ+OEdbAI2XLD6ErbVuUSuYCAxUV+1b2CrJdiOIjwTtcoi1w
            pm4bDdIR2LylAVHQXzL7ENqet8lICdHysYz+5gXGae2Otq9rx2VlDJ1jdcX6
            ctS547sh20NGGKff/lKf2GdGYKtgIfBH24vh3rCceQbYp2S5HUQXkFYkaurT
            3mEdQBR8jqU3e5cjhUTgQSVLDgzj/7a3MH7nqF06CsYfbtRZKKZWuWMdEzCF
            RrkY45dx7hmD7/bHsXjojE/O+PfETxEk3UVrDMozUq3lAopQvCti+kb/FXIc
            J+2hTkvbvuOUESElp5j//fbtZP00Ut9+AHIOIl9Im97CeK6056Mfk3AXY7eT
            QLT5A3vtFAhPsNCDWztJLkzuZUYiLcDJo4teMHjfN+w/pPfK5EiZJ6esn/cc
            wC4Nti/tZdrmYYwMIs6xUv/Ne5KkvFe2kZveottotLExf0pyjEmKtuZ66VHj
            tJj0Oiby5Nj3IoUx6mhx36kXp13ZVI4UX8MJfprPsz23PJAygZFGMTBeEan7
            LFl05sHSbwahAK7imnV64C9bM3qkZsZ6dyY7IE1Ou+9NR5DeKV6CJcEQGrWr
            jsF1d1aHCfCH0UY2t4XP2+3De1g9etb2s0s2rCAT0b+w+4U6aausfq3Ht+pT
            XbfdOvURsyhjz84NBhIX50H2JaKvKQw5sVmccssHsw93tk7e6JI+mmSpoAGE
            wh194Eszf+ZL2lb0qxsvJd0HeKMyqPfmXiE/i/upuS+Kwzv1XSFUND+lQOsC
            6b+AdhhGFfMXrigfd+5d2Uxhby/lZLH/S5ZO05iy160y2EgZmT4U59UDMT6f
            0u6qGCziuzbJGP31tz+DkjyGDS91ZQ4Rywfg7zYbYbDxPvIkUz4sRgcjFSH7
            Jm4MOpQBFSnT6SvWI0DLX39HEBSkMAK5qiOa+7NiXAh2+ldsRTodk/fohWd5
            +3/Iv5/QhVZulBAP0iZAKbr6w66Egymhy95+D5K4Pltcmh3LL5By6Cdj+dCO
            QZHzeZXtamBcxaC8MqqL5jSAozjfiff5CpIFnzJi3b6F0Wzxrrnjou+8AICB
            FtMyHrJj79s2VL6pjEM19/vD3o993+/v1r5We5+nXROgnNrZ8dh7s3Lj2N/v
            egBAi+F7u7ZpuXUTrZmPd64rhzGDSsxrmq1DUPgTwXDFUNRQQdIzfpXoUilR
            AO/sedpxnSxyBO3IHs9l7+XtuXw08Dy7vPzLDiynup/f9ciC2urR81e7ztqd
            8ntesudQni8FJz4Ue4T308LfJsbNUVyUU3OeuOc7Y4TYmKzM3ZeTDuQ5fdcd
            v+t+jCH+ZgzxN2OIjzHE77nbc1S/527PqZaGa0AObPvV4Le7fSrm3lu1gTaK
            oYz5sFsxPqhTRm5x7lntRS5btNixffhBBIKmBJ7F5wyfTjKV/Kr853zBzGAb
            BRwVHBPFy937qdMfBm0Kri7j33eOD9GHABSKJ3hsWue+3jnxGJOItlkS09E+
            W/GMynHsdXd7loWQOuORj3WfvTnN/jVEix977XlIzBYZQ7W4M1Z2YW5oZRXq
            I16ZxRQTDUUbNH+aLz/opPbhW7jpGgrHJKsizzpNB9QOxRHAabJY6bLDun/X
            N11I+ySmWbO8H9s/Gfzfla8hG9l0tdtvhtuTdRzm0XzceSQpWCJsYYwFwO1K
            o0T2i6QwY1H6HX87KpkxpoYJkPCM5JHiIdM0CTQlbVxlmXfjEP4nm03vFc2/
            S3HDEn16Q71joO22QmLcyxPwwyt2u/+pXdG7pLct6YNiCikaoTsVS6nLOVx2
            kmq/SgyHvoXdh0P6z9e3yvWwv62UZ4V3X8UXBNHnzeWv2NGM3fxz7Gin2NHO
            YkdrfujtbLZy66bNPHMrtPM1z7SRq/44Xv70h/J9sJ9J8ae9fEtcxRzJYMCv
            +HrOHAwN3yt2i+AIJUZ+01EfscRmEnXWXv5B1gjjDTPRgvp5Dkb8UX6Tlg/T
            QQDI6d2VaDEwGtGv7BrSaXaFhTAQeDxaLGdnst/jtovM5hO6tF+DfOXquZbF
            sN1xM/DuUqyOY9sJ7jjkehe/3mXUFR21uPMELdrpm3q+42mPbvF6gXAZO7OE
            ZTlPzE51x8PM7zqV86TLj8sp/Oj5KL/7IGT9KF/OXf4Ecr/74nV+P9u13Ciq
            I/jPccR4LbW186kqFmr7LAO+6z3Wivqb9O5tNOkbrxlXAHLJtNtNtM+/9tgf
            Y/WvuV3ur78bJoz+QfaOud6Uj836bLZSlrPq1Sfa6j7HTk2/aG37hgKKsGNZ
            W3n/WZ6Cyo/yeZff/Tu+1sL3r/LlPcdzaI5dInUcFJedvmX9tgtliCX6shxF
            flZOaSDcfh53jgUeNsCTuX8ryjw1nH0F2c8qpjSOljPbYFHGnINjMoPokW8b
            4HkcL7/vwPg8YzrGrMhhuJ3P0InW9hRV0Ae/gG9ajC1Cvplx+AWf8dtlOxcc
            ww2vC8/cNYbi2jP3EuoND1g0ibtb6eLNjmA+ZNny+Lz65bxiEjK2f/Kj33nP
            Ms4spQQSIlFvE6L8WeUPSB7l2HQ5o1N9+V8m2nSDEj6a+dsSv3n6Tijm+qNc
            pw+n4RuP7vpHHoG8r5dicAc6UrzsF2LJ1WJuE1Qx5ky5cxanHVeHUbnki002
            XnkU64bN4J8SYNQt3zgsphjPA3lFxaC/9bj0T+nMVZzB6fVVxZuzlWZ8ugL+
            5yV7hkL5k7dIBHSxv/W+PcWJvyavy1ba9uML8kMu5gtOeUWULHIEk4MPL3t7
            BtxplB8Usy0DrUN6hPuim3+4xeHnim/7fPlV0epXMavvOBKYkGzfVmwY+RVG
            u2/L8hk2+q4X6fnoVUedR+th23fJCdrimMUGhKL4ZSApXQKqZuAanh8MqitP
            TZb9FTNMKStuivd9r5JxHzteMeOu73fOnjUJKyNhFVE8eb0BglE7YDb5qS/G
            YKDrRb4NCtohP4Qgp7ppuJbf6ZwyNvMirLYy4kpki2FseoyKv8p+TQpzmGir
            YG9SLsmMruyL1W18d0r3uhAm1P170OKFsq925/OjN69iSCzx3f3OQ2e0vmJl
            VNszKyumBBP0vtqWMdhivL1istBKl7pdhytNef2CzTXngvUAJjbV4ynLZnwc
            3HM8O1fOsyyAeuM1JcuJQ9OQBFydMn11gOraCEk+SgylTIEA5m+ZTQvnnXMb
            nMUWoA1A4mwcgTH51z6HPvaYCvEWw2hE85OvkjmD5e2Kx6/o/4107/apzX2N
            73Zceen5aNB4yA8gREUXr8erPfoXpASa4fv7dPBL+rSofafvXEm022YMklDf
            a+PKSkG+oRgz/akll2G+C9kCURbkQzI4TU8eQJYQgtHWTO/3Ue6wcoyBsWWF
            OAxFfhD3nmeqWfBRrzNw79/P/S+bpiH5xVFksWF78ni1x4RYgj9YT+rYJJol
            jsP395njPp9eOSW0J9/nwbs7fjjPqsJF0k5c78Pxegcgdj+TPSR1OJyHenXy
            QsfEURq3Xr+0ar6TgXYlhCv0L7phZqEhRqOTkui684a3HAPu+u2nf/vjxxrA
            8bkrnBLcb9vYnaerpju+uMQugMCmy6gW43Ec9/td/mK8y2AKTvJFO38hf/u5
            44Dnn3/ffN11xx/acSSv3d+1c36fO64AbX7CDOct55DouJkvsdzYMEduy5cT
            s6UpfijmK+tsjgj+eFk81sPiJGRXp2h6i+Manemw2mE2v24d3zlmAuMOxcAk
            qMrJuHO50P9McR8YX5D7WL/TW+6p+IY7zy5jWuo982fsWJBBdI/5ptAmz+/8
            9E763vN41bdtF9xYihrQUz7Zfif9nhUvSPVSn8c9rxyNSfaNh/Y+8BNl2LT3
            vGOAML4C8zM++yhfth1Dg/VzECswnnuZ9c476Y32YWwT0Ff9RYtM0UGUZRfs
            PuxixsIE8fjIecXYKuvceWEP+VUp51OUsoIhDIocx7inQdSdlBxYTlX6Ux4v
            mo1nIbSxegOfm8O1HrIB+Ys65cXE6aKlOx1dpEtq8lsGvTqUV5n6UckpjKZV
            vOtLFA5pwUk7ZVCHbIuBCp48PseIuaOLeLsC7RJo/FdBg6D/zK5LOzpbX0BI
            qs0ZIo1ZMqrih56eMenN9FR05pLxVaafDvisj773/tn33v5138tX38lPfsT1
            oP9yB43adh4VMnQelOVhZ4j+uIxXbXmQ3fA7F8WIbnSXR3EMuY1nLY9pMV75
            /Bxsn0Y8fMadqhg+TvaOh7Iq2j3L4nB21clIo8onRZ++KHBw093Y0LNKF0bQ
            wzC+yv1keY69cv2NnsCAoK9smyLjFugOKRvVycAaOy+XZ3w1qqQddeCMN4a5
            a9Fslw3sLK4rffYthk57xZOUfF9wgLaCGC376wpw6WFBpj5zTzNBrvDVJENN
            5mbLG0iKU+1Radv8zhltOpUse1yA9yaeYXJMd45HJlrh8+vccYjAStzfCa9S
            4UUTr3dOUMc1ponXnU+aPNn9DWUjylEBipjPCqOcM873pi0Er2WzJ9kZbQCW
            clEni8c0L+Wmpv/gJOhN03A06PaeelzEh6Bo4ivPKc67yp+i6wV7GCBXdivS
            DhssYcUpbpmm07iAvy1GLANjAmo06YzUd6c8f4T70ufsMthbTX5607n7O+kP
            6tq5L/mMMaKZgcl0lWAgpmhYV46POSz0VR/jbIyDEd21Y1CHwZxPpDsBw72d
            Uwa5C00+2oazg8kaqn/Dkyf8KMT16BcjImscjNvzWCt650pnHO37zr3CGHrL
            9G9cF8YhIgC5eSDGL2p7fKzndKt+wCzyiaAesK5t9eWeZVf+tSzzGZX+19+d
            DpXdYlEKRi2Lz6XwOOgL+30dhs+UOuO1ly02AePqkmaePIMS69LfT3RxPd44
            RXbaO2yvu3GU9ivobwYgLUG+xJKne4sx/IoBzPEz96Vio1tEdeb66/ec+o17
            j2bvqJ+9zxvj/CqsRmKcmDoU63rTJHeu3DvXNICIdER953Upm47qO+e0UirK
            dmPTNKfRMHP3C3O4fP7r73HSJ+Sd7/yO12DxJEESprdPsOJQMTy56d66ZI4W
            E5s7qQKo0E81xK0fBmWselpljgXZ6Cv9l8Lsgjavm1YnfnDy7TVcT7sE+eIn
            i3V464w3DCS0bno25ddttFdVrg5HWsuBbi6n2WyQI6F1uHgf0uBL+ngnWkR+
            RcMphoDlxxSsffkdb1sA9qlJKmT2rVK+hIe8gTFQkr+2PfwlvE7y1N92NLHk
            uXWUTYaIJcWx7jzizDGUKZ96xpLcMcFIzx3XnYNeOvOUd59Aa48nzdV2zukX
            3Zdsr920XTlM5sScJx+0VvyktSJ5nMQc08ajBKP5TtnCulYt5kx46crpt/2K
            3QLKNUvGgx1776tTsvytL/E03k+iW9B/9VfxD7meyo8LflX2Ey0wrukdg0pa
            ZPM3yDsvPP11b5p3PsceLQ6XYJaYVMv5SYAeFdvCbIhxls+17a3lG0O90U2z
            VuOTOuatSVcu/j/5PUfzNHqTv4NiabYquWi2fDK0WCF/Fs0uP3PN1xLeOTed
            5O7vadumuTvri26XfD3v2F+3aISwlLE/fW83TiPy41qt8ywfNDq+vY73/Mj+
            77B1T8XuT+V3MPimLTNo8wyaj+c8G/7d8R4UP4J9xXnut436mr+2OWhvEhnB
            HtOQzM9Ydg2ggfrGIYN5hxTrNabwiHFPG74mo5Ms+Ev/lxcuSm+46XbOddI3
            OE7rRU+8cNYbf1gc3HFa5KHNx8U7bhxGVd586Xn0rf/eubIOg8HMIQm8m2p8
            nE/sY0aHMRvynfOwUD5HpFtpDlF8vGPmaX7AhTPCiu1Tseom82NSjcPid0tu
            xUQFVE8ork2rsnH5jEFIvnru/KD7/swXkTHj/l2K+dflN2JyyrrjAHbl3FjK
            E395SlfCHaOQ59bY6ma2iDtOKWMVynXgjo+HIbdh8Uhp/+5jJPa3OK5Gd/oa
            0qwrTWaUw++oOOXdd9AYeCPd0Ln9p+nZ1p86K8Zi91EpoX6sEzxJ+KnOOH9f
            55IeDHjsXr8Qr1fMF0okFRuH54noKzIgjFOMVV4p4wvAeEOxjS4S5PdvlqNJ
            GuajLeqeU6PZctV7s60jvVBTkF5av2kthPYBXxttLpvUIvSlpPw6LYZubiwH
            ysQz5g6Iv0U7tfl83og8FXOuSjAg1x7Md0vM2RUP+qVi4kbbueIv81em5wXt
            bU/m0T2K+QMyv9fx6NtFfwUKKLr2YDgZ5Mbu6Tkzk+WgYPkzOF3B6zi1YXM6
            Qhnad9lZvoxDkdpwT/G+4vL5S7ZRhAdLwZZkiW85Gg/FoaB5pa4nuSFXaQNW
            CJ2mYinSwnvHiaBNcVqkPzjmu46zPt735LUDCiNiP8qeTnGQjjqDXc/Qp9ZU
            seXlLQj6JVFVUpmH81BchqNJ7ReZJ8uVFegjvsgbeuDNyhh8tPE+aMQW5IvH
            Moz9UEU7UV/ViEzRL+ZlUu511oFqb3/ucfuz85nx4LQSFG2f+xm1FsBdg7gZ
            fHhjGDqWO4P5D9T9m+jm5dPLOCqiw2wtQWfJvxzrC0CxAkW+h+KN9SZ7d4un
            eLYzWhI0QqmkeG9RuedIV5WtsyMDxhyQWDH05VxZOSO9noOOAlFuNpwEnbpa
            bPKZnOXjzofkSezXSTc7yn0ZQXzLBg7pIGUTx7giOlPlXO7WE67x7r9iR7fW
            BEO7ErHnaDRJZeybIJ4+KrfJzkn7GkPsi+dR80na9R4DbSOrtxh4zLmamTeS
            Eq68ktvjCntcZcQlHR3ezEB62EkoA3gY3ShdPp0YL1X5IDPAgio3w2AQVkAb
            Wd9hpxWtMeA87WZTt3XD86bngPeMFeHOBRQak6MtCe1LKfMBrsLObuQj/jTn
            r3PtiU8KIy6pf+iz0xlp5c47VpXswMnu3yu+qMd67fnvnXt8UDd9BqYI7NuG
            NNH86H3/XGcKBkAAKFEC5ntRBqr5jliPrvVgCgM9+94P2N+KHyPYejCl+nnc
            7Vj7zLNg8RFll+ILJTsrNhpwWL+ov+M5ZqwYTweGoPx+dn5oidJWZRuMoO+K
            6RfufvCMyE4AnFWgUv7Uvl/vPjGT9/usAV9343FKI5fN88n8XfIrv/y8wnv/
            Bv/ev5k0+3jb41dpzyyQhHAZIIYHVKydJHuYsqlsNNc0H5wpSYqviXnmq+hq
            i+8ayCsafpMtWbqcApTRsAS/69z2KRTbliYbFBsbw6udbNV0wYdw79C543jj
            xhvpWiMxcqr5UuXZXz56fT/HBqbZM+3Ks+LDFsXXSMTFBL2KT8v89Y4YADil
            Wf1sE7Rol38+6BjNnWLE3zFUMbYzUo/r/bmk+0DDXvf0GSCTWtB2euzRx73O
            xW5HML2IvnNRMUyxz64TcxXDtr0UrdK2zSWh+fZ8y1uHMJ568PtsUWXydb7a
            3c9xMJ+B/eYYOYWz0BbkZMYS2wGdApvY6ZPJHFJAFpjgvnBN9i1zKsnOQGuD
            d6Yn7cbTLGpWovQ3h98xqPg8tWvFvY5YGOXrBXGzXrC3vWHvufN40Td8dPM1
            k97tAN1e6XUg/4vFvXJmw1kMOXXSD/NRP22lfqk/rFedSfFOMYXnAtI0vjsZ
            7fxap37yfD3uGZP9fNxnwhSbB3KSHGu9OAfqh85yRV9be53fmijT4/tiMPcE
            vabzz/iqqEv7XFFVhpvk75kDvZYw++1rcSmsFSCbrDUYICL0ldjGLEKi8qFj
            zhTwmPJ1YjsuXD2Zvlk8Od/X6/0+K4JLHMLIQ3ClMec2MMxJPzjazrs1wmDs
            ezIX56w1n1UBBRXJ1JsdPKjGTDcU4nCQZIH2coFO88sV0ts0BA00dlDdnedM
            8bY6ySDim96002ny8VhPF39dT8UuaAY/wlKogG7xLzogr+kZXSINGxnJS3oL
            +vRcRe1U7uVcyeOYr6EcASV32n4lp2S3qD/5537nIeU64XxPxnaWIdALtoCY
            puUIqB3n1F/FBuFz6sxueCZ4ky7amehZ2PgL+6WRT3+Ww0K1TBFqXMcN27ed
            2OIxkv/phr/KfR4WE9V6nbnWBDvPSTkgx2X7LtbvfcdsD54G1qTYZfNxx/2T
            3GvvwzLPfJ8hwfIuQ7FEu8FnewsMcsEJ1ZztZwVnI+P7VJj3Ms7x1i8U5lQo
            MU5z0rD8T+sw7QGN3ARXGGP4CoLbAbR/3DIo8n7kdf3OL8K2Rlb/I/MZUQ6K
            iaqWo4uUlid1HXL6mjeco1zN508JJ83mJ7It0HbUwypOOe2HlNvdLebmndqv
            8ne0NfSymd3rup8BL2oNRdswT1iz/FqMORs37IiYswRMGKn3+HpXvaKyv3xH
            8DvxXmxy2vYczHUO5oG5Os2Lp6Rn3MHm/vobGHHlrU+MtBVqsikcRCkRa0C7
            WtpdzEmeEHwAeJ/TWa77kzFRL+W99M30AKOAtyuXYiTP2HEOlW8SsGhSLmn+
            ZdQXND2T4hj8ETnUsYZsNqLiXbz0TAfF8cxjaLFg28iiLdy1cy3Spmbfz6Pc
            sYCly3IPeU7HHiHt1wEMb7mPZOJVvukKNb3nUvFSdkz1g+8b8dWWa1tKKdND
            DJOJdKs3DUJx4KzEnAoyg40yKpGdWbRAF4HKz7vd81S9lTIrc6Z5y5ii7GDe
            egEF+lb+BjpteJo3Eu8yLxzqkKWuUz1bftN2/Xy/TPcomWGX5Ev2r4t6N0YF
            MH2iyQg8H9FXqMmrV7GLbrqjkUnJb9+Pmw45tvwfG3Y989AA/Frc52h0zDgs
            3gbogfyka5RWUzYSgd5+LSrehdlkjFdewuE5F+2yKBO3L3jDDLStW7vtEMpl
            sZxpwUM9vlLTHlQPb1t50l7hfOXo4FxWRjKxMweOJxLwDoqEcHzIXDA2byXv
            y/m/Y/awnVSZK7AwfqML2z4t8FvCAGUF5rb0bljeJ+aOYgYpnCqg9cK4+/kA
            //HSZwBxuXt/5Pa5P166r0788dZnMVo6Y9DcOj5HLWUzOzrKNkXTKgYBrsCR
            1D/2tXPrNNFjlnMym++J6SzfelvpLpmXt955T6Lpv7Rpt04rLX+6MhxxneJK
            2ftzmfzW6P6hulrNn7pHyqfrALZnXF0Axu0zS5okBBDCcfum4vwongVtufjs
            sHxiO76hu23s5ahCeFIl/7W0s5Tz0ZKKblJzOMsvUi1c8s47plzvl2gw2WH3
            aLke6TxFeJrn1e425pbvgo4eHzqwbcfjjtuWyPb8OswP6j5L995nDC+dAcb5
            PZKlvnOxTss3Xu+YTNHvPHW01dy/q/mMmW2fs7WN2/fJbDrtN3Xfx46fPJmL
            wGilxHrYHTxTzLApseyVKv1ahmw9gvL97rx0J339OKax5bXT9iTlGnTl57wE
            2TYkmWxyzpnHazANzZ1/Zin2e6OwS0Zf0eJFCIwFyd1oAlHl85NMx0Ke5Li8
            me557XcLjx5QNmy9BfUYjHewzDZZMmvS01H6KJ37Xt9+GPd6U2bD8HbDv3UE
            JMbvvJrC28fbP5nnsqQxOgmnJD10M+dwekBZvgecuabfK+AsM56A8tWoHkK6
            ztgJh8VEeOsQgDdJg9fRmSOH/hEvn2d5q2H+kuD2ay77lZhCfUkUKRky1nTL
            63mW67w0z/GHd9gb7dYRyP1IuZBsTUi7PcsCDjWFm2IEmcfzdJgvEOnm0N+6
            KucZy9zsHJonVLe+n5irkhUfoN05eG4YIAwX6ffBhJ62v5rJx5nH+2LuNSap
            u5ifjKHDpihBxgg5M+3JUU4Vd8JHwHtmqsIu7/J0pf/zRYEUc7QKZ7M8Qb7i
            9rdRmTvXTWYWfsCeY9O8hDnV8rxte3r39H9iXBXl4G5WR53vOpj/4VWH+30d
            uVsdXT5TSZzHa+2nCP183H4Yd17aJF0Qgc85m9kKhD2v26ZMfh4nQRTlP9iQ
            N0xnPuMD7TAPE86Qc5mxrs/yyh23dTSyVeo07Hn4o33RJb+jP5zF3/uFbgnH
            7+kSxbn8gS7B2f6gS/4JXcD5pN8oBsZQUfSFZm4H+ddWyV0UU4c+DCt05ndO
            Pj58Epmbgn04NvXM9SxuxydfWL9s77i342V82ndeKflwuVEluqdJAm1jXGGu
            NS0d9/zOuf3243vkKVHeXsZf8WP2SR1hohb4lUP47p/g7DK5lELeeNklWXs6
            1z7Tb9RNBYGT3RfmEkT1ol9okv3XtG9cNP81mSoAwrjjfa987pue5bs7J1v8
            yml201WzX/POPcRY2iO9x824j2Aj3CvHWr6ED1Rzeue1VvBI2ubMJLOTHQci
            0N6DuVcY62jnMmP86yBbMbf9yZRFtZ29XMysSN1IZnR4uozJvsN882qQremd
            q4bpMIAU6vJLMTVJQcg3ira0nCucz53rGFxrCzYGxjesdPUMTGONM5gEa5jA
            LTN+lWguKqp4pYkCqDzafd/5nRhDkjLvMEd790UWULIZAtPSWWd3V2fsSbMz
            AEmYFHtkWKZH2i8w2komfTTqjs9kdjvy84od8ODKBn8Yw2yYXQpOPs7KRLdu
            vA4epjCXCe3+p4W8oM8QiL1gge+ubQgkWzW7b/s+GY/HtDK6B45uhHOe+XbM
            Jro05nNKYT3P3MK8ze0zyOAuW4eXg9kTHIoBg7maiu85Pmw9Wf8YZmNpdcc7
            fgyjFCg5aDa9N/Me6D6aLTdd8cIwH16395xoOdoSRPOFb9t3njFJmLN4ylrS
            bITiK8/Rphkxd5dXG1lxUKLl7OSYKWTze8x+xJlTruQB6LfNuGXMI0NbmEBb
            kXRZZhjamhfmuyqii2h51naOAuUwRaE8d26BeKEB2iTmep9LetYods6+j9Tj
            8zDvZ7LXB53FeJAmV7Q8pJF6kpuvaNR1gLyp9i6sqyuoyW5PUUv5vMiP2/2r
            9s0LibawsnMLdx/mvpcduiLJY+Y4vxxr3zm/Dovv244X3W8xPe7cwc5yw7Ov
            916j9Sj93AAgLO7Atr9glDnt/WLPb8P/tVB6WNQNefmScbeczNuE4dD3Ptlt
            TXYf9n3f923X94//DfpHHf/2P0+XriHe719+P8llu/c9md7ne566bP5fmzPf
            3+3oka+cJvNV4Wf3p/Hy398/OmDvX+1/jWPKxXsPYdgOSKP8WDZa2fv593ug
            lsI5YaBb/kXaZIT4KnVWG+u9pF+fE0dprkaPP85V3nM5j/Tj+/GH9vHzDIoL
            7+rP9dtcpfTz+MJu/7RQYb98v6bVf7n64/tyufyv+nfvFe9+3it/+venvcb0
            gP/qPQWrXhFQUyYxamXv1Yqfa10V5ei3Bf40Vq6A9uX6ea7d3mvHb/Zau8/N
            b/Z1P/7wPv7hff3D+z+0X/+wF++1cu0/vtb1d2v98/r2oR1Q+vofX+vrv7bW
            /+m5DMnqf8GREBjh5HV9jTNYue/yZ7A8y9//7vLtChQ1AUfZde0rg8bz/emc
            4mCPFhqfR5p/UIm/r3lfS7Frdfv+su/B6CZ9f9n39F5S9qBiz7/7O9OhWINo
            3z+f3/2lT0KqSfIbNiWabtjV7/u47AoGrSonOpOiU0e/369mV5qTCe8ne1+T
            3d9z4gvwfvphf197THtOyKA8+/rGGccLUWrtmPt3b6vr+uv/ATl8Eio= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
