<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.185f.2167</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.185f.2167</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>185f_2167</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>185f_2167_v4388</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8551</integer>
        <key>idVendor</key>
        <integer>6239</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>185f_2167_v4388</key>
          <data>
            eNrtvVey5bqWJPhfZjUXQgP1B0HOf0jt7gvY4sSJJ7It215bVlw7l5skAEIu
            Lf7P5S/+i9fl3Wr/+3/9n1ou++eufF258V/0V3TPdOner6LHv/evMC6fCv7q
            /mv7r++/sf/m/lv7795/j/3hg/bn9p/ff2H/xf2X9l/ef2X/1f3X9l/ff8NX
            91z9WRzos//hZ95jvXrEePHlq18XZ8C76/tfwNTMai+jcwP/98XnJ7scc8B1
            YY58niXlVCLuH/y/+itEf6PnV0oJP6+rVX0oYBp4dcWrEwF/5ap80oJWY3+3
            6X3He37dxRzro9Ke/w1/tdPD+tHb/GgAPgQMO81nD7K7WJ46+UvlezufQcuf
            o80z1XjnmXvI2gqX2xMydo2+r3Ffk//uxelW3s/Lvs7dztrv/X4eTrnJ0eOL
            gy9nZIOl7vfhrNaVUGTuTrjSbHFcxECnCk19u9WnBvde8ecpmoo2v59fNQxr
            98fzfHbH9/M0g6ar/2j/2pPYf7QfsvV8/Gx/z9L40f6TgiqMH+3PNKON7kc7
            +9/80Q52mb5w/+iPr/Y81Kd9lT+LMb+f+8oJJ5T4fu7Kfh6/n6ODah97Ffvd
            Fsej8PX1sWtXnn9U1iZKPz+WL4Gm9KO8S/ax/KM8WrHn8Y9Od9vj38/btP6U
            H+3cSycVm++Zn88BWOLuz9fzc3TLj/JYffWnxe/nB6jOn+W9naVZv5/HWtXP
            +eO7ocRkJ+v7uV+22Gv+8bwWvxdn7T10/6gcctz44Flfg18HcXw/tynU4q3f
            dujzo/wBF0/9fo7BaJHcfO7P5z04VfHX9/NanU6wj9/PXdvl6/fzccr/aB/w
            SeXvH+146w7AOfr2+dzltE/M82O8AkG1/ihfmzZN/VE+oYX93dfzmG1xQi/2
            IK8ssPlc35X3nHASv57HaFsr/9hxoRucqj92ltEBHKRhxp+L54EkP5+nvdjY
            qF/Pn/N8fj93G37j8vX8hQN+tH9wTKi/fzfM378br9+/G+Pv34319+/OH+08
            LzB7uboJAqD63ydr/mj0INj5o9On/PrZ6Q0WVvxL+fqX5z/aT+Oc7B/lN+65
            f7Rfz/P6l/I/2l/thfj91+Tuo13r9/MDHkGGfD0/BEGLP8rveWs/2pmn/I92
            HA7q6rY4KZRDMPxZaJN9vz+vf3k+f38+/1J+/qX8+kt/1l/6s/7S/oi/T+6o
            v0/uvH6f3Bl/n9z7Z//j6wTHr3Y2VVfi9/OxN0ep7+ez7sXhnv3cuST9vhot
            r50VfzvO9cfHzqSkeKWv5+MFjvJvJwZg5/t5f4Gd/Ft/CB0/n5f6AiP5t8UA
            x1K+TuQ8BML38zOJt9X583n88fx6ndTfn88fz3d/nuv355g3F6MtDhiZ70Jn
            0p+fx/wg8B875XR6/AR3+7nj8/jnjnPzL7jn+v152YM/7V4fjNtvz92elLPz
            zzX/3NHzdcLKbyeG7OXGiFUIx9vxGsZIOte9Rqf9W3ctx1kCzRPAe5JXSVii
            jOUr/+z9qiTND7VWqk7OVQ9Tdj3XN1c1fnBhh6dP1+v8fl39n5O34V0kge5e
            y/zv/PPXd614ffGYmPL8dV9e3Tznvn7dtzevu4F6/7ofr2EfYDe/7938Gt/0
            86uDM8zwdR/nV4fBfaXP+zvOzwHsk1OTRnGP9TW6e97f9+v+Gu2Nf1/3z/38
            o/uraxfPn5P8cwm+Nvlrwsv1O7fef+yfeX1z7WfCzkSdCToTc+/7e7xBkI32
            jPKM5vtajGhrtgFrDpsWdbfjefJXJNAMy9npQrMS33z8er2nsKUKzPir387h
            p4tpEwTNPe/5mPNja37uy0zBCahLzY5A1mCJm00Ozdpjh8M7nqCx7srD+GPz
            soxb00c7ZeOxv68NyyF2vB/nrrMv7zsKOt5f9E9smoAGorPGcb9W+V0mYNNq
            lTs+tuZYuzefZeJd4zplUhuah3Zjd7zLpBazyUQaytz2rURxzKt3wL/tfTfm
            vrP64FSwKbBdaiCCsfpYHv+ugbEs3s21F0cnwqqXGR8bKlZsReti4Rq8P1EH
            xTDYeQnca097cruLH2XawKypzE354tj70n0OFeQ+uKDdTpmjbjzxOWUDBH/e
            oh1MuA3Hf0/9XDPPM2V9jr6JiM8yCx+6RUEMTctj04qvvcvg8CQdazCJXJNl
            lJVbH2XA8MapMmgCk9JNkvL5LXflmsSm145xRSuT4lcZB4ZT2Cdjmuaw+Sm3
            e04Zv8Fa7+qq84OSVC7MzXk1Ai99fzi0+C6T89himK8ysXyUKX2X+W6HfS08
            PYWHcO/lwlP3LpPdhkUdZe5ui/fErzJAn0CibAd78Z62mUb0n9+qgRzJWbx7
            n4nLf5w/gKdYtfC9PFfINqHle1zdVcCPKPESdp9NaPJ+vfc9gEb+OAUVTMq7
            /nCYc80LCIB7L9qaX2UAhcHqknFPtjijFKvw3DaR2NEfh9GtFg3b9EQ+zsqM
            GvpHmRsYyspgXXD292R/De5Zc+8oLFrfp8nP+DFJHgxZEhxv3HXeJrJ+TZJ3
            iZCfk4RvtWn9qV/f8j7VYROJBfHO+tPudH2UCa3Wehbk2Qvbvr8VW+1J7SSK
            BO3ktu9vpRyNs+m3vmXgvX+Vwaqa0Hegz75bmVHTZ5mSKFbiRuOm3idnEpmB
            NhmbHP6sUB1hqLfFA5RdxgSm8FGm5elVpi6BlXkYTpUJRm5WXxzWh/CiA3nN
            1PONbY8h8ItAu5R1BHQ2YFKBIkGuBmCmSN4nDKwP6sXx75bfXzeyInFSn4es
            Nv4f9f+q/+v5u9zU06mnS6WXSq/6Xa6ICOYXL9PVkCcB1wiQWqxckCqFglmT
            6z+LV5AE91M2FfOXv7Bla+v6UVB7sWvn615o/fnX/l51q9Vt1Jukf+3vq+7a
            dfu/9vdr3edf+/uq+1hdbLd/6e9n3Y66JhU38bDxjP/+k5sEgSuUWG+K7F9o
            4jGU/KDqW6eJ4/5sCfdhlNb9NICUUga6v7CPI+kl7LP+9ARk6G7C3Ifwex7K
            rnsw+XE8wEEo8hifhNmryco40cHe4V0kXEvhKU8YzdWRRCY44rhdtkZTezmA
            QWoJO089yhEdFo4C9yxPCfeGCLy/CdxflKaVz5KhvOsXt++BzEd6mpVvD6/C
            8qTFFiEIyqOn+bHvefK+wjfP7Vhfo3ieVHGOwhi5FooJb1xVLuL8AbwX4m3H
            U+ge59kqxnNngAC2HVDfPWW1UdU+wC/uK8iHkjYUWxt/eZLaqz2VjeC8NyrK
            KLzGlKrizOCKU8wFC5HipuJixFRi7wVfSfrjvgFagAMj+IhAiaa6CPWW8hG0
            zuDCBUAqns7CScAGwOLl6qniWs6HmH2zDQHiDC25VjTBnuVXp8R/iJJt/E7R
            d0wJ+mCxnUevl4AjUFvMAf3HgmdORGzPulEyAzglcvn8BufZeZ/xzbDLBULF
            rvarZOtzubZMU9L5KRCCEq9mjJliB/Sj9+E5/oCJzli0MR/Mpm0eUNLa/SHa
            uH3wElZw/PEGRzFtzvR77fnDZpp7cQJPeWiU0GBXLZJiOEXrGdztXK8VH27J
            aMpcdMQmc9lzF2tzNzWTQrLuvuw3RSef5SSdt3IUl5xylViHCsuMWc3YnvnZ
            E0fWgqghEAvheWE7Ixq8lvbbCEx2Icz9Ll2YfCwVyNF8fgOxVfQlgXP3nEA+
            j0tiGEzWo9N4Y/E8J4jcJuidiZ38EFVTy4LeUyPbKukMqniy5/saucrYwvj2
            ihJ4VfQJhyc7Er9efQOziYXrQvAF37NvTC4CRee4934vChYSdMfDZ2MztDFV
            nZLKD7JBVXBWQTvXeYCh5bALmya8k0l+PA6sBrEmTj0mmFQL74Fu71gf2yKg
            dvn7Z9n8UdYFezfJmzmvE8FT4gkVvJ0S3kcSrNhdnKg8ncNxbdXZCQL+M/5n
            2kkqyxjDOzqpYhzK+w2+ifJxilSOgl6J3UiVojw2ztLzEdUeYIgEFiASPTd+
            m07vr2kQIRcnmRFAXiLEESZBp0GxBZFlAYs1Y0Cpfk000XDigschXDh8vodF
            qIMjzBNLSMqNkp/htm4o7Y+BPvEjlOVC9N1NYug1HX+HRRsOsKy43r77yQ8A
            TvqHi8WOLUDPTkQ3mn34QQfATpD6JzM6H5D2YAKLXzjyDiQ8sfoNwH7bb5zU
            G+x7wccx+YVCj+L80uLMWkY0XhEUZQn4m5VrmBf6Lmqez2WOkgDvn/6A5rt1
            tmiRwWcGGayvWL4BZOMwzdjQNjm+cWZUh2ZE2W0wOoJg0guMaibEKoRp4Oqq
            3sTzVUtLiOVWAutRKnjKF3i/drkScV5yjRUslKP8ACcTX8MWwlwuN26axAA6
            u704FJuX5Z2ObjTrn9NojF6mMdwZu8El1rPgMLqbUprAUzQB4RdKgDQvXsjY
            JuJnveD/rDdvq+fKP6i3fqlXrB7w+l/rxfpLvcvqPeO5/1YvhT/rjWb17vWu
            J7zU1vWq9/xSz1s9YIrb8CRPGTeh4bWIRekPBVHYiemhnAjU51Y/DBM20DLB
            Vb68qey5Af9izS3bjnAeKIXdGwHUTkmNRiUjnPK6PpkEgFkA1EWqqESpD3Af
            FyAyYDLaA0sxay8TLD7IstXaE7vzpfIefXi1ydOszt67fyQ8gPbqfuY8oCAn
            dBMlAD2A7aOdvnzVJcFR+e3awOy28w2BbW8I/rxHm40n7nyHZc6ksa0HYB27
            WPMyiRO9yxobJVdXGSRESN3yfGIBXZ7Zd/yxnaxvxF5dwZoF4cC8aL/2dLwT
            NcxjFrbirkjnUq2yX0CNV3SbjAaeIY4FRYWPspGQH9JT6IhWHYxq7gQDjSct
            GoXEQbIsTyLgMJogkqdi2UvOiLccD7jTm/QmOoKKNb8Er+rDjBgUdpcopXXp
            ys3FkjcGhNFTCQleH/Q8+Ftg4Bt95OQB/ILMA7YgLMHi/dZXLJBr6B+1OvFi
            GUwoyHwaonjK5hwt+0hM3e1okzwoS4/pjTGmGxs57QUqLQ+/J5VUAsATTR8A
            Mm8ynOCXH01jlUUg2Opp/V1sm5hTFBo2NmaW/aAO0s2tfiB3AXLxUQex4mCN
            hzqCgQ/AtfsBLOTEzdfEFcBOml0mHEqtfElg4HPcpne+FpwcNMk61+Z/msTR
            wEu0sYuy5RoiLIBcrkEgQ2qR9mugjkD4hUPVDKd3JHeBlsl32ILcrmCySbKB
            YMHJqB6L08BLgPwA4RDsOw7Ii+AKO7ZzZ3oK5Up8LQ65Eex4KuVA7qN1/qZ8
            ZGKj0WwDpEOuaS/I6TuFOqGAkEs4GZsU1wl4hIcjSGMSn+JrPBcMeDvvyWc5
            53FSSOElD3y8AhckLRqq4DqedqQNjeu58FFqIaNODNEgKFeeEYIMxx2LHYnj
            PNtw6PPnkdYCEYR1rCJ2auN9Y0cvMLW4v9Gt3O30kY9h5xIYXooZ8+FrwhZt
            7kGCYmncKOC2b/IdrhpPsTeJaeVIblQvRHtwIyg6ETgA85lUWdkED0VyvAdP
            HM1oMzoJagoV5KL6AONIjWY+ExW4792+d/veizBIpgTpMYp6w2h0D6pRYtTg
            7EqiTFRg2/eFs3ooYeAfMu/4PvlIQJnmdVIA4o9uaF37OMYFoi+25jhx7hxR
            kICcwPsyUEc2EKQbXjoKQpzBZm/i1yxrA7/WXAIHGPBNbntrepuIjTyfQi7Z
            i/Vply0QnmNRQOdjQXGCsdhuSEym5xWLdd8VZOkL9BaezEEOGv3Sjt64M65F
            uSLpR94Xgi3d4/MCZ/w9BM4ad3LFJqjzWaeMu95lFsEiKTFgNOrUsFUeR2s0
            8k20SjZz6j7aNukDrQjGHZwC5q5RTJO7fhOnNfJY+GsYZwdfZe+A3bLH6wlk
            se65Ag9K2QRBb/VoKNUggGWdBDmdVNnEiSEy3bAQ5PBjtty0IiRrgpMFWv01
            GUa9kFt5IVqCM24hL9k38QpgPuB7WOOIXQqoAHHQ2ALaiWvzG8BU6/NkYLl1
            f3CjQCeIECB3NGUTlLi8JsWce9NRVVbJBOlKaFIF45vqROoKMsBp5EbEWmCD
            Jpw5PMNGreBtsIfWFcDT4+8JQP8gOEhQhMC6FwkEA5NkpQO17yDzwTHghADx
            gNQsGZwWaDWiCwrK/RwuzULGHcTq8GlK1jFRNrCPhyAYeSuLXx2PpRZ8xeGD
            CU2AwfGapklk+gCRk98HiwjqrbnS9N6R98EmBS7oye7BXEpf5r7KGB1P+RnI
            T7CIONKkCBsB1UorEluB+ybeaRgQeEMRIzht4OafANxAomI5K8Pno4u0JUU2
            9P6RiaUYWykYKIu6DR8Cm3utP04bxVOBaraMtskbjV0m26n51Azj4d4ctomw
            eQQeRzWtOhixsa/Tf/A1vdt9X3b9PPWBMwsGkH0R2U0s1kARo69hbPWDDPHY
            aapuAiEimHMiOR55Ii8HKI/VZoMeM2LXRva9AYs5SoWwwCmR0wGGIVzl8QWR
            UMDqNz+Ax8W8ASI9t8Qmzv579v+f1+9z//nf9eMNNZflu4+YxuG5FNVOa8Ao
            8gTPEbDDP8rhpFi5aCceZILYhZJQ9gJ/AkLEY5FYhzIm1XEikCrBkWsUgHLD
            GfnuSbEBMASKvbAxKd3Rc+IVEAO1kiigBwvmRBIYxznGVwE99hzR/pyba4Aq
            9VgtIsF+78V5TI0Msgw7t27Yid1eBUdNioV7R2kr1n2kggbzQ8atAZ5RAHoT
            DPI35VYPQEUiMxqfydPj6H+BjjpSLyQv0VmWk7CVKnbCFW1+QHxM2M2N11Zq
            B45vPuXdt3d/BvuDSZv5GW+wSTGCN2+PYIQDqMEAmu8Z1cQ2edoJCFtwKnBJ
            ivnq8hYJ+2Q4SakpkB3goQCuAkgBLoaQ92PztiUKJhwayVEwyzfk3zhY4r2e
            8fimK4otkg82JxS+FlF1CZsixP2ubPHNkjI5SxcM2hhgYQBFe5G/QDlPCp2+
            TxRekk9xE2Cg0nmneT/vDDIQHZuEX9QFAY6aDMsGz8ERTJGn9ODyReFxOHuX
            6jgH0DabiwbdPt7c93tyNUnYja5R+Eox/Ud9CuHCljL8qB8J8H+0I9C8RJ9E
            cvOLbjcRJwfIvWDRT1+u8dHWdz8AcLGTiI8ukv0fEoH07gs2Qz/1F0jxz36U
            veibwU/RaM9UQ6JsCIVtce5t8s5V9DIm8bcazfQAA/9CaELZlqOxezfwR9E7
            lqXz9Phkcq0tJL1ezCw5AuAuUL6VovyNpNuUmARU1Y3jH416c5R9cYdG70aQ
            NHmILwDZTjlVaM8yr5XWspMsuFE8fjUKIt1inRGffoMMpX8MJ9uX+zrt0yCQ
            4Fh84KbutsGPu+Q5VuSbRG2cq+96PG+OpG4RF0pLPK6Kvoc2+uFx2MfZn7n7
            CHKjXuJ92MbEWIDLNnULum9DJPTxrkViwuBwDZqj/GCZ+8Y5j3EtaMQ9Ui6x
            wRu7RogRe0OgotbgPAXP5cIUlHyZVHbet8AA5f4g/al/0UlZoHB05Zs7t0Yl
            GxZAVN0WgxCto5rz8hADqCh0K6H18U3pP3gqgGGKg1hGTk3iKOj/8lWuNtAo
            lWTTkKLOfBxWN2DNA40dSRhSFgAHBv/Qqaim4AtxKLCn7KMCy/58DtwATo/2
            KCBUZ+z65mXf9F4qE00s6gHlU3L4yNCTG/Q1FyTaE2aZjCnbSQR7glQBZOaw
            I6l2MQKcSvA83nCOM5U9yUZNHPgWGVaicNIk9gs7XNRUXEnKMGeTBJJjUi9D
            MEGDQEDVVisIH1xnAxEl0hQEwmfdPcE4ea+6g6bFoCdYLzZQdnSuwV7AYifq
            dNAfv6UE71OJI62TUMHXdnI2nATZ/mZJlmuuHYwvrXs9pQogVqQ8lNWed2Gz
            BoMWBs4IBm6gG7ufp4pCBhI8pDBTs3qNpI8zkc/h7u+4CPqyqK8KmEvcSRSR
            t9ljduYokzT5xdqWTdWINFbjtsP8UnZHcg58FRYHZdJenFVlbfmkYeIMdhLI
            dwph33Z/+wdUXZHOmw0RT4Fgb2VGNYYJfoTodv156ufd3q7fsXhnYAs7mfR/
            fkDtcZpJ6AN9FTkR+Uin1lBJGt9dsN3UCHuSbZHB5QzuZlAloD1MBDNlv4ln
            Tji0k1nXO3uGE5k7OXSKgBLJ1pC32Em72bEN7WabUE0y2eX9Hd1L+45dTzfR
            NPANxznAknb7Vm2l63tiUvA9l18LOtsaR01++LVKLA7uFhB3gXho2QgCJweD
            StkpNg+RnH8y0BvofewFD74jOWx7eqFSDAxmDL/vEEA5Z5oPuAX2pz8xRYey
            M+TuB3Y8Ser1LidKGZDrZ9mAsjw9tVHYBnoFDB0KDTfAf0wCY1BHLtMgtnIj
            UepNCTZ2fw8k450k2mttlGf9f+16CiBkX9koPgFC8ZVqmoc+zg+dtLExsw+L
            3KTUAFbfG8SQg4kmmOhAiyulEBeJ8B9j6YO4gkZUOKnDQC35hkUP7Xa/64eP
            +uGjTMdQUQ+0v4gtzEFda425F8dLRURzrM10vWFlMpFNAszuReCBUudc8+gO
            IAFMS5Zy2rAWdzY+iQOE07T14UsqXJ7MbKIS0PcU6GDCST46QiI++yhXTzkc
            mUqnKn2XuLDlye+il/eRWOQCeBKN2eTqzGlUo7tNEXt09n1rMNc2rqe2zssM
            2q5r37vstnPbuVp98E8GzKM9B5PgjQn10rTetLOmSe6uRxZa2Jwn1H3/phxa
            v/3Hbz6v4XqVN+dfJ3dmf15cH4U+fqNx0Pmhnt/n+VHKlU06X7vTwPEyYFy7
            s+1KUueuPbh8fQ9m7ufcLDYZ+7qf93311YVP8Y1x1wCMH4sPOitIHE/mfsnn
            LAFYAEKTtrJ7cH4kHrC4hbIW1u+nPjaqo3yNVN9LSkArUVLlnkok7HnUezIJ
            o0woOgm0+v6Na7x9nls/1UhUcqZuEVKgsj76qn4WyuzRL4DTRVIep83VvTgk
            7KgpzeAWWZnBE146mssaXvUu7oM2j7LJi3or0UoGTrlo4GBGDppVl0Xji6YH
            c7QSpWAgE2nFU/hVPx24DO+kZmhUJnaX7Xdccosn8ZGpKr8WD77AXSM5P5cY
            /Y5zz3apwU2cTNUx0U/fv9kmSK/VndlEnHH8XFSyiFTEod+dRiv+l/n4XAwF
            JbhJ4XFhM8ibDIyTzfUAV9bNTgEofq/PtdPKjFVDHjRQ5ybh+LZ/qYsylMIK
            T0bC2CJxYHLMXHZHrUr2Hs/ackYmxwbipg9QI2AZ0CjNQsKIE3+rcVcu7JgO
            EjOAvwJMZRmPSdS+bxTkS5EX1HEyuJRuc2FAcBCAqY0bO/Uvbfg7DrUDDjZ+
            tEGwiAF6h0nDgJ31LY/a7MSA3qJIZ9QBhqqvhjKYDHuXSOR16V7wlwNBsdoC
            KCd+ZFt/lKViTQtAuQagL36zDvoE+h/j4AbfvN/hBV+bg/WwoNVJOCseUXwS
            jWJNZeAS4fVZwfwLiOiUkXOXXpn+ujy2CSCCZcVf4AoCytPDC9s0WvgS6j7o
            9iD7L52AQTD42246p9O4+mxmw1fa1jOGQ67t4PuSOEgFAa5wUGGybcyAJUHp
            gRzPlUxinLR9o8Y1W1QUnaTrdZpf7YCvuGS/bZPHOsDADfsYEAJYlSqOpbak
            byKuW6CdWe7wMzlHuaVuczKRyMGJj0sRpBZxKqVumDdqTYWeoxBRuQzSJJpT
            USDnaObVzeLTHPN3xRBPxV1hvhsNRKLsaCKZLFBC7gHIWEFPHvmdpAhC8HqC
            e6hx5CBl2jVILHnwqwSEdwXgv7MsuzB0qZGPdY0tk+n1n/keHM3K8231wPc6
            tvXbgF8DtYGnPeBs40jhzjkE79+gOO0Jyu+JOeP9YiQBjELHsgfsp55lZBkK
            SDNKjXGfcLJlAkaDTm8WpHR+kLSFH+zaIGfxQO9mOhDQuYMILJD3whhlw0Fp
            +3YnAQbalA53JSt0cOCUtnp0pvLISMftr1fD1XCJx0LQYE6M1FpAkzTsA93K
            5XpYlzFxaj0LRyNAHRAaAaqskzXKayHQrbnbkC0amNiXrdxuv9Puje0Hax//
            5wa45LTqdH213+d3+3G3zzb0/In9jEnfwBQY2CalUeTstm3toiAC1QmX6Wok
            FvViaGUYg/L1lFXb8UAAs5NzGxK4HfwC0DV9UodnE2C1zH5j7sW5pd7d+ATf
            bkDYjUzjNreVsg3wHaRfT3K982RdHWBxBRO5Phi4tziCOCF8MHHs0JYGoI3I
            9mpNiZtCuhmKe2QSRl0kwXMxY8ENn9mnHmR7RioKBHJ22zRJJO5P0vkIFmUn
            QMN5IPqj6ZS6AAvRe1yUJFwf5Dvv48e9NL12mt4bGJuSxMerbVB2SbKzIkEK
            f4O6QTtvPNcwH7NJqVa3bqud8izryC+5p8sZuLmRii1O7bIhkHyJZo7ebfjP
            AbZgyiAqpepHp/EcdMHw5PoPz0HbVd5/qIjN3AqniCYfl2RUNI/CLvPWlnBO
            svavD1xXiTkSHq8iK+DPCQraZSBBsRIgzTtFqa46SugSBWotmagnkQhovNj9
            JENoXEqy4FigYmyctMrsDow3QAcZQRL9gV5WYhy9BISD9hKFXnLGWF6Ss9GW
            wCQJdsURkQQFdBnw30oBUJiOutiok9bFGe0El1U32/1vGzhv8U0rCh4BGEhF
            OVadZkr3/u2JBqk4otQUyBADmQP0OvUWlCe1SKmax0o9NfRkHd4iDsotRjZ7
            L4pccA6EdCXTuukTk2l9XylljzW5l7xqmRrCSHDQbvkp9X5malHk+qc4h0zv
            aVMmmh/vr/Pe7ffACJy4vdtliMK2S6JoyXRBRNN85gLWxHgp6tGqm43uf7fp
            mCQemMmrv7RwtYWMPtTCM51FYifnZMFTFzYmF8VTYFo43rsnGfZrQcF1JfI4
            OV1Wt2HrbT6ng7WkqqyyERK4bCCTefuumGTKDFjJzk4sXdui785AeEBTa6CV
            QjZPyDKm4W7aj4moAgYZmOM+0alCH/SbUrRJAWDG/zN2WkJ9ljt1nn9SZ/eH
            R6t6RiPgLgyy87pkySJmeD/31+sZPXod1dZVEmtZH/0sx2cqB1xD3KdnAgZ7
            8QE9aaFBga7Gb6bDlZvgUpyE2Gx+PE0Ir7OoBFPkzSauN6naTm4bbeJKFQ3e
            u0lbkn1yzDvOOOEQDuLaht3XNMTmvcHyMJMcVIGdf4X1ftc/4hJ3xB/3ucrK
            3kIUtLImpv2FlClPwDYhYgULsd1IDCn3eNl9lW7FRB5YiW6Gj85cT0AJgmu/
            0tZEfkgwjpglROuf3zbOfQeZkLgJk4NrM8qKJo3bSL7Huj0I5ARiRD21sdRk
            25XlzjiIQ3uVH1t5gBZ1P8lo8DmDsT0k5jiuICUb0InVv7lUmqOtbHNmXUTy
            EPwBsCgdLkY3qW8ipW/qewMfNliD2dRq4hjbM8rXaPCt3UAhXuYExjM5J0xK
            3Iub9uLvAfklnxlMe3hyaSAtzQ2EsNXb9+SfGCa+0Gig6RhpJTm6gDcqoDFQ
            EAyJ5DLfkyoLM0S05+nTkGpkoCkv8cOl8lzYRP9DPncKaQQkDcDIuhRxsO/H
            +tSMW4gl5PvTFk2/Kk/txj9OBFFKnYrdBQJnBPqejyh8R1aDBn80zRoD8Il6
            bk+LHtyCvei0jcJ+fYAgiCZAWtviKLqbJ6WEvcGj2YsYuH7TRgAUmR3zYMc9
            U3JCmzQG7cR93M/lDG32biQ7cTxKu6kPJye89SW0DwMnL7hPKQdOQKMxYn4o
            YTgGg+55bp0YKvXo4i5QBGBr3hBumOuGXFpFlcmCh+SntIpGVpussNDAh+tB
            aA5YMRwj+xhxkegfDoIx+5kotjG1NC1x0vOQ6GicC9pHyHaa3FgRm0EVBTdV
            IeHBo3SIFbqnXIzesQxHR/lI8r9yybIH7/KgZ+nTXx513NTg4euNL3pqAceO
            42aLs+ifU73taFA/15beDtNwmsEDoas3nlyTtB4DC8fUhwZ22CViqjhR/J2r
            qYbxfdPP0yw7Sizj+D7kZ9EsNg6a/po1DU3oKxnd+ZA/z21I+l2lmBMCIpO2
            SWAQjZWGtTQhXlrg7NFeTeJJlrw/b+P8tzkWIYinLbXqX6Wd74cf3w/n+3Qh
            xDguMRw+0Nvhq5x/BssElCnluIGUSmPEkq1v2nzcLuhSCadvuA86JeB76OKL
            jSq/I7P920aFwBqa9KVO0s/q8+MODdOA9BgDcoCNFosPzyOpmmdm2gSg42l8
            1yXE5YRmDODU5yIRRXDnlT46GXS2U5oN4JLlhQ/5x2Q90Xab+hCtDwMUxLG2
            4QlKdDuMBirx8cS2SNYH8yyvtCMp7cME6phMTZn9disjq9Bg9Wi8McYkb0EB
            7ZZi1F3u8EDBG/1WzPYBAPI2LnZu/6H4USe+60hyIJxs5suVigjqgBx9Xvbi
            yMJj7IbqR0P1oyFnRtjsAI7zotXipIqxWT13vevx7P3sdO4yrZUszNm7J1P3
            nv6crHPkOWnNjy7e5n4zlYwswDY7HZ6ob6elXdsMp8LHlMTJZTluju5AKneK
            U99jwGLfpwyQjPxC2/ai8Nikc/lz2p3AH+VrjIp5bxI/CvZk6vsJLNTWkjkU
            wagWustaz0x22Q42aQC+otmXuzNYREKI/nT2Lez5fY3dDDwctyy9DMooAzzG
            rnT9XkkrnGzCXlGHnKihaB5fXeAOXIIZjE+LS/zEoROa5SVWSE/KVSPiNzko
            5+hfg8XqplOnxQ4WTpw8yrd7G4REOlw0s2ND+VanMboo3x4z6NNkJ4I7T4cs
            9nUjduwYglkcKUcw3LuUfT1RN9xJkNBqAQtE569ii91ohE5JN7ah1NfNGEUw
            8l7GlTLC8Lcfsmadsjzv5AMWKdTp6qKh4cSXHRlxkdfUz+CEvO6H2aWjF/w0
            YCIDyWpxJKS5GKv7VbhZYbJtuu92H/qiOCdSVfwqW+yd77ts3ffPqvwQGDoQ
            O4B32KLgT4c63q3jCvNEszMsUj/tOavvGN5BnjI3Zb/2Lu1+VdDx5eO530b3
            OGBZNvzUKePERBlrNNqKYVO9jfMpAQNdBL7GeLW4n/vFTRM3frIFi86Uonth
            6l4YMtVA0h5bojR6T/cssydQemF6uevTpZEElYxDnCL7lEoeAeR13RZND9lv
            /NGgReT6CqVRFbL5HL/jjBCOm36C4V6425IH5HBqLGCirs1n0KPn1VgLpUuv
            cr/qcwGNP3jX56CtzWnxt+vmNyhpEEyneL3KpEmWoyQAnL4VxAQ6fIt8AbnF
            dH4P6tQ4oNe9S9Q50c7ZyOvCycLzhANWt5/QjD2GRjlxkCVRFwlNmzGW4TtH
            YYlkfDiZdAaiC5Y8BVqb0r14uWWZF0bLia7EmCNhJbPdezZkadXGCQJD0YQP
            ASV7PgAvgL0mloR4ppDZdibKMcEnBVekOs12ij9pDNconZ4WOp6DCgx01ReI
            whOnAHthSnvpD6LGBDlGpwV1UxIQqaT1FIiCLaQpLa0+ZTY6xTPRygXQGSCj
            uTnw7cToC30FE/87gCrWcYdBLs2oQTAQw4VuhuhH7MLvi3wH7cE+krhRP6kY
            JHieNtmMUdC9KdQYA+H1fO7yDAVxEfR5ObFzc/EEUFnHcUXaWnuLl6C52N/m
            uxDHHDPUrV6/aLzpzDwXmytSfFKx4bmRUgNZ3T3jKjhPxR1VC5F6AzLAK46a
            9+JwiVMNTi+mdimvjYLKzysd7COjdSkwApUiXso1wvYQLSoGJV60XQYdZVHU
            bpMwhB3JPky7PtupKe7ntCPViZp1u6KbsSKDP0gZdu8gDsCFmCDgR7lu5Ndv
            EiGKLXDJ34eRSCKDW2CqyLuEYnEVIk2Wa/bk1qll5x6X+dK+N2qyaIzxsvtI
            M8GahXv5PfJvlaqSaVKIsDcJDTP9zVC/L4tXxlhTv8Ffqt+0P6/B2uFvWqiW
            Ge/jVX28AJ1JpRmJychPdOLoN8gExtkGj1w1Gbt5W9M0oCTzAFOd5CSuCJYb
            AYT3ShMdZdQPHLZpzkXBza6IHLJ6ISMGbn7NIucn58J9SSG2v0U/3vMtqxdf
            9UgpTsms4mXfiPO8q/dpM7pUbQLw/UqTVxkgTvocyeYNtDcICi1mtcXExC7g
            R1B3wmGsT//plAykRpeFb6TRmGDWOf5oTGYmSKUGpxUy6c217U3h5LFXGFox
            hkjDfsVOdQzofytIBt56d5hVtUNcCGJhmpraKyDg3wqqA/7dgd5LO2VJGtbw
            LstdUAHOBp0Mt120Rfal3VoMg5Ev9kQyjEmgo/4mAmgOi3v5gT40kxjGpHoM
            OIDy2pOPIWMCCvbKw6htRX5ftJSQewwDUzFOjUR/dzm/GcBv3u/7rs1yF+G4
            JGtLCToZe+ai3y9j7osON3cOEB6d727/NFJ5nkItuS0H9RMLS+PAyxaWQDKK
            GQbY7DSsJIjjYsprQ6IEz3caE73SnfyCSNVYewwitMMg0+n2MuSLAncNqhSV
            72A/i/tZpwtF7m27htCOGPevCb/zMzXh7UV1vSac7fAUEPtzJ1Mkcnb+oVxk
            xE3JTYzalWTRrMw1QVuWHT9WUXuPhlFMoZlirU9bg0/TqePl8LR4+8uYYKqj
            9axEc1TOMjjvEvVgYu9ED8Gbkukld/UhrwFiQVrQ1Ncz9A+Vpad6PSMk4bMT
            PweIQ/OD+mH98BoHvrpxxm+GyE9Z0hVu7LlxTnpOqGnC2wIuIjHeAI46RSeE
            xTQyAP9wnjHzR71MQaY6NTfKol7vMfAohlKe0KUrnlmun2W4y1TGvKVJjj4h
            DSehoGZ+2eAwUfzOrCaG4aRpYiXKsgme4npXjD8mPnF5i5eNAvEgdv89q4lY
            qM+Z50R6w1mH8Jjyoq/61vmGtfPd/mm3eQYiucvRvlKnyTExVQENJ4sEOoSV
            IDr4nJHh4mNerHxfCLnuFlDavg0gahICn4cqB330qkBfin56m8aVXUiZo6Qf
            qDtCvrpVvi/DclTuMy6clkyqhMJN18ADNlBPIA9iEKznbqG8l2o7eonfMd4g
            jun7TDUvcUCRIC1mPC+epG4pTF8DrgLsUaacmZbB9Cx0TZGbFA2p6ntg5gfR
            1c3VTRnsqtoEpXQ5u+KZo283zYE/nnlqZ0k1XokBiQDp0Ld7LUokHUO18F10
            MYkiDjceo+M3SY6QV6YgGHAbXwRjR34HZBhYgnlf5nNanPWDChK7zv28FyPH
            7R74G1f0zcXNhComXPPm0PpZmYXGR2X0zZFSoa0/zu6s+7d2O+h00P153UAT
            ek6pgEjVOpt4gEIqhWQ6Ddcm3Rin1AS742XMfc/nAH5ODsS32r7nfqa+qJxz
            I4u/aPYuOWvvdu6WCdRu78Yw5G/UrV2GtnVz7t/9ow21ee3xfrV5+th+9JER
            YU5bxfWPumqr/NbWL/1r6l/77J830yivg/7vdvYM8P9dR9XO/Us792lnu9t7
            KxMZI+Z1766823nX4e+PQd5nXPX50U79z26nbia0OdO/ltoJSi5SFQQhJSj+
            hYEQZrB6LGOVHHrqvgfV5M47Lth5/vfJ/+6kRPF1t0nEXGNiJplwMf5vI+Hw
            ap+n0Ik795aZjISpPMDd4DsysAp0KO+yl35ox85umzlszWyyN18VTVWiAHCu
            vfp9Ngq/ISixPcpNzmi/g0UxcZs3wZGgJQ1FNewTQ0Y9UoCDap/kUIi/HiDI
            atY3srtTCfl94BcAZ5/2Lm3xTaN/jjoFfHNADBvYcF/+N/xYyjGOMqzhaQ3f
            KHUalCzq1QZwXzIQybZyQV0w13RA+aofPuqPz/rz3Yfp++lDAJYassrd7RRr
            Z8yPdvZYOLFWz8Zz6ubyL9W9d93Geo6RX+kUbHF3svV/yn1TEgaC9GR1R9oL
            mc0ju2TgxI9y/8r7e5+cbuHrPwqXH4X3TvEaFJA3YSSjwnSdMGqvwgs3tOE1
            kPu5x9iUF03bGOkqFsWZ2SeFolkGcSB29krc1PozqKC6JQZ6KP195Bq+Qpjk
            le1e5omTfr+guogyg5n78p4WMbhKu0BrHrLdjFZI251udtCNpDWdzo3p9QwM
            SYd/1+L7PbXCfO/kfeomxTy3Yz9o/HCXTkEoxX8ffXJDecD4bfk1Wb/iiImB
            mtCX9Fu/ctNivfqV1K+4T87IFvdidzLZ0Xp1Mu5ORnUSBz3dW8hH0DJtIqMZ
            chuIEXjDQB9KsTeYmYzsJ6pOdryLdmnsKC02c8/VjPuavASiQbouwSIDOmBT
            yDyJFp7G3CqWcbmxM5ZpXClIPL/BmwxGoroZEXm3B8Z89P2bOiOV5VQeHU8B
            iZse89Km6d1SLFDlkTq/GQ6F/FknaS+qtcutmQpBn8F4M97PeKa+OeVp0Nk+
            CMo+usZSKaXmhrzy45xZp7KfNK9n6A/OQW01lmyh971iqHdKRClUYkwlupwr
            K8v7Nz9E1pB0r318i/ZBMm5S8hWaisQq6XfJczL9Cvme5ypfZ1A9Z0mcGQw0
            zMUQ20qQye+5LCsAzAzts7CzNKnmhdAdrXPqmPS2dCtJGk1zCRrK04AxYPaC
            JMd09y3UAb2epRVOXNDJp16GkvIE4ASx3fjxHmvVr5Z4cqXm9vTWY+TExm9S
            QG5e4YzkSPMkmeY6Oc5Luu5rUTiTMcxzO8zIWG+OwSHoK6u5UNoNG/eqz5j+
            VvCIsUlpoUCP1ak1RUAjRpINlCCKpNvPGeVCnbLotLxn6PAqpTzjpw3a9sv+
            qu4gd8E6FRjvpbswQEJK7ELrHiH3a+I3imM7VYZR4Omh/6hz6GTSgppqmvH/
            aEkVpDwzXQg6cz2AZPs0MiapVxwV8Eu0dExbhsb0is9HqDHAYXBRL9MpmkKR
            kQ70dKlFMc8oWiGzCF5u0lOE4hXdX/ve232ZdvJc3fc8wdVs1/hbFjrmHU/b
            wgd9agL56Rm6XgwjgBleyzEO+kWixd87rZktzpofVAtWRvZlbVM3qZu1C4Zh
            12hXBzZT76eVT/s5sIBdj5VMsmvb7WYaDivgqdWPO1bM7d3OWWemRpivvn0o
            08fvCsBzfpeP383CCHP6IoN8ycrmKTZp/gaoq3V4uQ5a+DCBXoDJ3CUfZFh9
            Sai3pQ+ZddXFJE7GgHO3aWuuXfazXh5PAAuo04WNo5yqLH8zmN+JOkJNiRR7
            MoF0d7L2LwqN0DdZz05p7y8LZGuLc9f6e2fPRynklqUrjvIst/SB/MDaO+yh
            AUf7GgCjKHnTANLfywSkfLbbdF3l3bUwgTT1tpOCw/QR0mVuoSHILEKtod11
            2SIs0NTLM+axd9LpMIg2jtLPRfjbmLgAYdcDxzc4QX9bOI7/AZA8fcdvQCh5
            P6BulLBaMjlsCNy3uDfK9SiP8Zw41YAajUJWPGucB91TwSgRwE2dDRY2MsSF
            Z2K9Z8vWlK2RYkaaKSobR2cUk0uRKPkVvyNukGCnrQ5dMJR22gs86T5qZ6A+
            o9sajkmDsjWaqF4SDLqQShr443+MTEwQwcm509NxbgDivD82cfyjWe8FgOVE
            0T2l5afxGsDRgGmjuFUyKUag86kU/IHMLaAvmB5kv4s4/DSVmq1HipVKJOgK
            kbZkq8me8KLcLm7zqXL4I/ekRanIPSwO3Ojfz8kXSHD5NLDqwL+1yXC8KUcy
            qIoMTHJCi73B6rUAnt9gNgPfBmZSARvKuQgMztHiMY3ilmY0VuoGKm3CFB4L
            JNItmzOZqclW2VsYqsEYxdi6VH9fPTACuqMpMV3USUWLYmHg0ZbN7DYpxwTa
            8w34ewcbYrwYmq72IRNV5iSRaS/rq4Oeu2jI9Z7mtpJIXMrtrXsh37jC+YY9
            N92Qnsni4L7O8798/7LvM+i5Nz0VjT68MqMwXIsiCJYdlpibtPiX4FQnlngw
            0nhS8Xisj57GrUYcNMogzWzV5lMGGWJOOel2pbWl9E1RGRkYUxlnaC/OrShJ
            IJwqNS7UfNI//waDmGtwFpDIbcPrRj4CncDviyIHbKMAelqRnBQjIJn7Ok8Z
            hS9ayCoqj0RMI46ghn6kXbbJLMuRWhndJuP8Zl13y2xA7n56Xp6WM/pWaYmn
            qIRV7RSqNJe1mSUUtd9CJIrUi4UPNIF1GisNDtmO2SNokvibsXQ0PgZEpe0A
            NiYhO+NwBm+xqtFpWbQGWt9QkAt+TiEHUP7tIFY1p4oMTPD1b35rR40KnPeL
            1iynMfAx9AyuFo1SsjYAgUqGNA5Ku5TDw+uDV5yVi0gV9y2mkPSPLR6Dxsg2
            wO/B0V0KG0B8w3gvhAKOOk5YbtvH1J3FSFgMKpYNiHN1f1l0KsY2YRI24TGm
            meve22z3nkZwgFwT1m/DrqA4gyU/snLtZea7CZpD2OR93QTSIZh+EjqHUDoE
            zyGQDqH1Ipx+EFgrrvkpTrr3yfHyz5m3hZnfhetu9FBRmDzt5MSIsSB7eZwz
            QQJ9OPEOX+1kK7moeiedS5bodOtJLFfWj867baDni+JhEnTQdme67GXdsJpF
            MtSchZVcM17ClR3YiKqcoEQSivWWC5lF09vTrhlIEmysteHkLwpCDHDeuW1d
            Ws3Rl3Z0jCiv0IBKBGfthmDtJupm3DtA+Nz4RMmlqeV0jGUFXilb9HZdabyi
            lA4PGKmoUJqyTZCdAv2xxDZUERU4SccGgwTEND4nBPrnMMPH5Pnkh+nIHi0x
            wuhvnmDc9uHR9nXtEJAMW3KtrqhKjvp11BsyHmRwYnpVL3WKnWawqwpWAn80
            tBjuDcMZpZz9qEqnYgQBqUSipD7tHSN29P49mN7sXbP+v40rjNe5apeagjFM
            G9UWCl5UTvBUwqDQKBdjdKhoqUbbcSmx8MkMZ8wY2UpzB0Tw0NqC0oxUa3nA
            hCqwEFF8o4sLGYybJk87n9mOCEXkk5wCg/fj9cf2afC9jePl3yKrJONzQjw5
            dAvDSNIgLyieJtMAMa0fD4QmEIy2U9AxgT0Ptu0mnTC5gxkAsQSmqxOhYHC+
            b5h/SSmWyY4yYUVZv+86gFsaQj/awQzSjQEz/jAHTvU270mN8l4ip0Np0dMw
            2kCZ0yA5RkLEt+Z6aVbjtHjWOhzyb9j3ooIx6mgxo6kCpx2ZxCaAy+EGM83n
            2Z6Lyg97YrPl4gvM+5dFmGTiJS5apy/1skWjE2NmOGhnkgOS4LSn3kQDiZvi
            JVcStHA87eksDv1z2ODgLnDWoMnzh1FFNrm0fCFsM1/PyxrVs7afPTJJBbWI
            zobdSbRJ22B1cn3UVQfrOsbhVE9MSryp5dxZRbErqoxJRFpTLnJjtygYdA1m
            d+1sobwRJH00CVaB/IW7Hb2fSzNf10e6WPSrGx8lVQj4ojKoCo+WtLfhfmry
            i+J/TtUrBIbmvxNocSDlmFLFTU5meKKcm7l5ZSLFrIjhlaPnkmSddjBlL2Jl
            ZIgyMr0T+tMDsbsy1mbGsBU0WqZsC6kpX5XCcLWwYaauzDtg0cS9Pmqhup7L
            +B65Uik3DWMykWSQORO3CT2qwI7w+MdXMD3Kfij0Mj9ZxSgQyPSv4HX0VCXt
            2Mvl63GnkDc3Acz0gXEGQJOA+AD60NVfdiX4Swnd9PZ7kKL12aKF7LhpgWRC
            vxlWhfYMDHFeeD0pYRKNZAAyGZqB9/kJEvreMkndHnLR7OqeuUMq7+DhTDtg
            MXwu2YT3bekpd8ahXK5lZ2C+jWCx+37qrX2t9v6Q0pn+OXnawwTg5i2Rtz7e
            m1Ua125sN8qc0ObHY9e2c0onWiFf77wzNHoICmAh2K0gdRprWCQnm0hPKU8A
            2ux52vFzLDoA7cM+nst0y9tzeTngeXZ5+ZdJF4azn592ZO1s7ej567vOvjvl
            OLtkzKE8O4qKeilgBO+nhQpNjGCiYBa3Jj1xQy8GebAxWZnTl5t5MHP62Xb8
            2fbHGOLHGJYZFQZN7ueA4l8GFD8GFH9O5J6w+nMi9wTLUJELQpZr+6zgtzve
            CnPvtJcFi/E6ndJwC6bNph7y1aK2ru3hDTIPlCIQbAB4YhCmZEypvMmYrTFh
            eOAaaKatbB4nMfkyLn2H/BfVBzCgGG3XJmbO9WSfYkgYRsaVCI421gonU65r
            L7bbUyvkg4WLie4iduLmNAvWEC385vMar71/BX2yIE2hX3tx6J9Dyoh2Y/42
            V+/GXAOfLnWbcqGwS7InMqDT9DqYvHIxO8hkhx4LYn1+1ze1RzOkxZw1ygmw
            HWqZygQtkawEV96Ouwk3ItvAnN8nr7SpmUnGmYUqWV9G9fM7ki96pPy3F3Of
            4BllfQocSwskUIe0TJUF3cEF/F82U1ylnt5Zr5RLx9oPCe3XG1DAK96z/+1b
            olZJLisGtLJyKR4UO8DfXd7JMmjUNxXejv0J+7uXlJevupQG500QVMufc+9A
            OZlJSF+dfYXkOmF2GeX2R5jdHVnXKbKus8i6mhS67Zrt2zqUlWcU9na/Jpc2
            b9Vf1ytT4qVcAOxoUnReL9cOVzFJzfwc4+s5o7U31FdUDoEGCnr8poi+IjWd
            uKAUUFKBVpNtFlfUN+Y7aPky9UHpSe/oh0IxFKPZyi4h3WYcGAjKgHejRbq1
            KKnH7q092dwjF6/T0pbWey2L9bljJmTmZnPmuSdbv/asEy+Bp2S7gIRW6g7i
            cAp6NByZ1tfPG6Rkp8/m/Q49PLoFOQXmZbTBEpblQDCT0h1BML8/rhwIXakg
            nSI23h/ld4eEgT/Kl3uXv2N49cXrpH5/13IlqI3gvwdcqDy6d5n9Hd++y4Bv
            eo+1ov0mFXobTcpCHOkVgDAyTWwTjemfPfaPsfrx3XdZy3LxrJ9m+mQpal79
            cPePOui7qGOrc+2I7KFHy5Iddthfq+y/K1PC+FkZgNvK7w5ePxbD9x/ly3uS
            59Aku0TiNihuNT29+rH0ZGgcuptcRY5O7sqWAlLP447MzuMGkDL3b4Xhpq6y
            ryCT2M4QRThczsx4udQPJ4Q52nfwbicS2FNwQI9xMvGLwSPI0K65I7x7TZyl
            /0LfDsgtPFlyF31Dlkl82koXn3QFc8jKlqTj5T3tvOK3MWJ9uUc/OYtAo7Md
            JzlOutsyV3cmHrbMcCpItzv3yEhW5DKTk/5wPUy0m6aXWjNnU+KoRHcGxZr+
            KNfpvrizuqPv/iNCet7Xo8mMJVcLO8yDzEgi5fAJaYdLob+XPI7JYCsPWt2g
            FrwMk6YfacNlkZ24u8m3Kfj20ajSNWRFBmkD19VXFaPMrzRjmhXdPC/ZGRSn
            nEBynGfO2KOB7SlO/DX5BLbStldckONtMSdnShKi5IEjmDR6eBm6M6ZKIzNf
            zOwLhImoPmyGbo7PCmqWtspA5BKtGsa2kpf4AJNDF4h3EATMTraGBsPI02Uv
            2j36q9xkTLPOzj3+oR8bg2a3HrZNlrx+LbJUbEAWiigFos+lhHfLTgZG2JW4
            IstMiplllEQS/P++71VS52sHb2Xs6f3O2bMm6WEkGCL+Jg/GUwF0M+X0kI+i
            vylxLet12r8Jd1pZZUtEXwh6rYyYBdlFGM8co8JSsi+TohUm1SnYkJQNMv8h
            v29tGxOc0lkYnvC6fw+aolAU1U5mLnrHKuYBAKktzmxbxK+CyihltLmCO1Tb
            QbS3AAJkcstXR2S0tRj3rJhwEgAhjd2GK03puoJNNieG7aQsKnCRMuF94T0H
            t7NnfJbt19N4rc6yZMx7XQlIOWX6zACNtRGSfIUYZJasOiZzmbEJF4ETnZa5
            0FNPnzg1FxPDMw6AkcSxx1SIkxgDIppneJXgt6TQFZRcIdCb0m6aUUvua/z8
            TgzyuKMaTwGW6/X6Bh0AUgJB8LMOqAUcK7qT6JtO9VxJtLF+zPqGTgmEyTct
            PF+L48pKQb6ZGDS9lSUyYdx/WelQTONDMliNAQ0AmhCCkcjM2vVV7rJyDPwg
            +pYqaEYPreeEUEDlJnid1yk4u/nnCZBl4mU8CpXktkOv1/eYGIcLCgqxUfEl
            uSnxF+qfU8ddP71C6y9uyvfp8O6EU+ZpVaw+2nTrfbhe7wDTzjMZLlKVcinr
            ySAfc00crHHU7aVVc10MNP4gZKGfzwGhhQYSjc5CwDtl59gG+C0b59yKY0ZD
            iM64LOaiflzTY+3bjHUn76npxFuWdATnyVQK1SLvjeu8t/LiaXaOMv6WIRZ/
            599/H6bsOYGRdkS/Z/dr7cy493alJzKWMLeZ064cxzAZbkt8E9MjKTQjJibr
            FI4IxnVZeMvLYgPQNlmkuYXFjM70R+2a23T2+plIg7nWdsIKEkuKaQDqnOZS
            CjCR0lveqPhzOyUmgwjqPWOq7QB9QYcD6GGKyhOvd9TU9yOnJHxE6tb7ejW+
            bQfcWPLE7ynf7MwiTZ4Vy0YfoQKNu1u515KMDC/tcuAiSpJpgXmiXTB8CPOu
            fXZY3mM7QATbp6PwCoxjXWZVREPtPIt00cQg9xfhMUUBUaJc7jzG4bQ5HlCK
            CrinnD4W4gSbjSQiQwEUeWdxx5bFIOInEyLdFq8XVcadntM7oq1cMZ3y2uG8
            0OScPifS3TQ5AoO6HMp7SsWjpAZGgSr67yMShhTepI0XaD62H5cl+Hh9s1KG
            aYvzEON3dsmDCwi0BaAFXu2dA2BWTNqv2QoDGlJTzQhbzARQ3YuUXLJzyvSZ
            AV/01fnevzvf2z/ufPnRee/enVegCjoEZ5ChbSeLIAPm/XouOy10fGX0XstT
            6obf4fZHdKCi8iiOEYjxrOUxLa4mn990FGPKAj3jlrQc2DI0vJQwze5ZFsew
            q00GgPwgp7FbZ5W+SXl+KnPbnRAqiY7NwIE9gTpH//g9ymdboEOhLEInI1Ew
            D89ORRlN5Y/GGM6Lml9H9TLDXmHyWjS7YYMqiytLN3iLC9NekQAlTteRp5Ee
            hvtnQljmrBTemWSByYBsqQCpamoWKm2Jj0sev0txVpb5K9aiiReYHNTJ2cas
            EXzuu5G7zNZ46gk/UqlEC6p3Ij/HhQW5eZ+Er+SbTh1KMBR6H4QunxVGfWYo
            5E0kCATLJk6iLKrXl5LFJgsmNB8lj6XXHnN6uzQN14Ic76nHRbwG0iS+khOC
            71J5678gC1ZT18dsCKK4A6VC3WBj1Aek2hYsOg0SSNlidzKkIZBsk45GA3FK
            50UYL/3JLoPd1eQpN5079SS6r2sntuMzRtqNXUERyJy0MkWmunJ9TWihW7iB
            rDCYw4YwGfDa2+lkgLXQ5PVsyDeYRIDuhAeMfIKNQqSNvjDcrPrOWDQfi0UP
            V2lmo9Xv3CyM37ZMx8WFYTwdmoYd3oZxeNoeE9u53apfoIo8XwLdlHxbfbnP
            siv/WTbuxfESaUWc1o3kGLVP8V2kNRzq+HMZ8lJ6gNduNn//qfA5jc630nhz
            gG6KxCWTdnCGbKFfQWY3DtKOBSnNeJHtkXOupNfeAr6+ArKKfwJIUCxpi0Bd
            PU7cmVS/Ee3V7B21oOfEDdRTfIrEcCp1KJTwJjROisuTDBagQ/qZvhNWMKmM
            RTS0pLDKnCZbiE2o3EaYzN0vN19umOXEPbBIhSDo0ksEpvklwdhMv9UlD7Qo
            w9w+oCv34izhnEJn0RC3GhZErhptlaHmZRWvfEYEpIBdqW6ym3jByanWkDn1
            /3JvTxZ176hpN+gjlG56NuUpbdRVVW4CR2oK8L2V24wjyF3QAlt8DMnpJbW3
            E7FB2y9qMGVuJ4m1QOzL4Xer3NmnMWWTIAtS6TrChySB0USSf7YB+iOETkLT
            H8OUWPLcSkGGNbloMz3WyfT7imS4I1ol8SUnNbRU0ynvfmCDjU9Cqu1ksS/K
            LtkGU5jSjXNC36RcuUyGxCQPX9RU/KamMvmVxEyxxm8Eo+pumZu6Vi2WS3ip
            pOkx/QqDcvJb3xK1bx2Gp1V8EqXGGG3ssALucRGV8hIMp2wTGuUZr2hN0s+a
            VX/eKZrpKHvI2vk5+GhRqgSqxGVacj/C7qggEWaaO8BrrG3TLBcU6mwOJVqN
            z+kke4MEs8Szye95ebpRkfwN3MqAl1Uyy2xJM2gaQv4qmvF75kJfTXN+b6LI
            nfrbm5okBm1nLTzKc9cXnS6xeN5hso7Ug/CUcSh9bwexMRAZF2vdd/kiw1H3
            ud6TJQO7yxY+Fbu/FRLfQJw20KBdMag9HvtsSHgHUVBQBk3CevoxCl/zz2+O
            uV74gkrWvn+P/M5kQlu4JiuOLFBLd5IX3klvEOl2imQSMwCP60U8vPDTG1dY
            YNVxW7QeA3cjnlBn6H1584/31bdmeef7uQzcnpN4qLUUdkxeBlcxg+ydr61Q
            rkYMizmkOjqeoG+aCPDODFBiu1MMtgnumHDgsjjLkj0pqTx3G+PCtCqjke9g
            eWSA5eO1HZmcpOLTWbC6R4HqulwyTNhYd/C6rnwEt/I6P54CknCC6fGEGi/c
            zKhvh8NUTFCjHn0NadaVJvNd4XdUnOgO2q8uvJGa496Ox3QB65/6od/aAQsR
            fmsHGOSv7WgxQnxeEU/auBiepva9OPLnpU/9Q7QTGRvFMXElJzeRPw1AW0OB
            fh7Sz+c3y9F8C6RjW1Td0lQkghodwh3SF1PIh9X3IgAYAYNW+4HIsdH4sEnr
            QLdD0oxpMbJvYzmQFJ7xZ0CqLdp0zc/njUhPMdWqWHa5wGCSW2JCoXjRhxMz
            N9pO2/yYcy99Emh5ejOP51XMc47Jh66Pvj005KfooGtD0XAO9XRPp5LHWch+
            lr+D0xV8itM3bIJHKEObKDtLI3ApWBnuKXBX3Dn/yHKIJ5qmXtvjznLFXdWS
            69niKOYnjRH5kCGtCBFpO1UIYKYiB9IKegdcoKltWqQoOAGnwbt+vO8f72+n
            oEBXncGud+hTi6og3vKlA+GRqLGozA54KY7B1aRXi0z048oK9KheZOw88F1l
            wDnaPl80+AryWmMZxkqoooCoD2pEguwLbQKpV2EbaPZ4P4/j/c1nxjTTik5k
            ee531GJgg07iVDDOjaHYWO4OZlhf92+ijJf/KyOPiICyxUQZeWNjgXHsV6Dc
            9VLErd5kB26Kybvd0bI1EeYk7j1bHKW2kHaPabJIHZWtICMnxSR1WDJ07F5Z
            Se28noMaAm1t1o8MvKOrBbKeyVkm3XxJ7MNOurI9vRh5enP2l7R/sh9jhA6d
            sHIvd5Rya7wHo1DErbVuij9a5DGaR2Yk3Cj1tDcV9+537IsnUhNKqvP0m8aD
            1VscOKaCzExm15TzPrk9lrDHUkZcUpzhDQgAULJOohOAwehG6XJ5xBipLQet
            AP5RIfEHA4EC3sg6DVutaJEVYRe4q9vC4XnTc4BvxlZw9wrxisnRLoPJWizG
            ZxQipmiAom3s80Z+4J9N+tkZ981MuIXhh9RZDMDpxLRyMipVxZh3Moj3iq3p
            aXhnC9A7d/ygKvgOTGfWt8VlotHO+/5zofv1gBuNik+PyV8UVmryIxana3EY
            OF7Pfm4Ixr+R5ShBLdAyLTTPd+z7DG9v0QNl/OGtL1Sq8SQz1IqnNX9QKjI7
            QTT3aKuyXcZYd1KB3OV8m6dEqnhwRYF671ubfb37wbzC79MG4AvEYIvTnKJG
            kVcpjfwyjysTF8kl+/HzCe8dHPx7B1NegfP8MlQXcgPQ8ACGtZPaDlNGh40G
            jeafMiUI8TU5xvUUeWwBTQMZPcNxMrtKj5OeidYb+E3u9MB0qo9o6GGDA2k6
            b37VtLKXEPDQaeOA48Yd7lkjMTqo+Rnl2V8ebH0/H5257pSbISsgalFAikR8
            TOirgKyRMhMCfuCVZu3zmwz9I3d2zILmS4HGT5xQjO2O1K56fy+pIPBhr3sa
            05PBBN/GwZ+N2TYTaq4lHy91MvZHlci7iHpzUbE8b4Ykw8TFsC0YRQW1bblI
            6L59xPIW8Y9P9fQ5XVRj/Dhh7XR6XAyLb785YM7nLDS+uBmWq9Nlkbl2gDAw
            w33hmqw889NI56/FwTvTXnbjTZ5JhaH0KJffUZy0ydKz4l5IrIzyiILCWS+Q
            294g995JjuhJPbo5Ykn/dYEUrzTNl2fC4ma5s+Gth7Hl6ab40T6/+Uf7Yb3b
            NGUbBks+RwFBmWx9AYsaB52MNH4tFHZBd/XjPjM04se9J1ixSSF7yIEDUc7d
            KR3tCi6ltddxrokyOb4vGwYzyifBAWOOoq1upkJTCSjIqTM9cy1h9uOd8ChI
            FICbTCo4lNBX4jdmESKVt1kKYhzlE8TvgIfsyVTCYq75foyP9+VRzAFmAAaW
            uekkRmNzpgwfjLxOfuGetea7KsKeInp6sxUH7ZjprEHcDcIs0C4t0K18uUKy
            O8SAa6QjGtruPGmKWNVJCxHndNAutjiyUNZepy3Gx+q6+Ofqyte/GTgJS272
            lqDbdUBi0/65RLI2MjCW1A30fWEOeLrHcWeDdBxKwOcoye5bnrTdMm4JX9F+
            8p+7n8eUCxUDFmpJm0rznw1qQF/TvAP0j3PqryJr8DmVXQe8Cfy4h8YgehY2
            DhtYNDLcn+UAYlumPDSu64D3bZq1eKjot3nAsdIyh8Ucm14nsDWBUszHtHHZ
            xito8+fGmycSPZWy93vz+U0QTEkr553PkRJs7zLOSjTW+/wgFm0UHFhN2n7W
            cToyzU135D3G9C8xTvNrsHw76zIFQKEwLCp6BToSBLsDeIC4RUjpZhhHwxfc
            0Wz/9hpAZPoYCjKv9jRLhER6i3EUVsjpx2Th9ORqHnHKsGfWOJHfAoVHTamC
            c9OyR3mn3WIu0alNKndAW7gkK9S9mPvZumzhRNQwGVOz5EYMxBo3xAD1MRKw
            YaTq4se7zgi7V3l5WOB34r2EvslsK/ImpWWrzFSLZCiYqdA8X0r6jN4nE1Wa
            8TRN4CAqiYWUXuCktDnJHIIfAN9zO0u+fTM26KOsf76ZKH8UMHnlUbjgGTtO
            nxLvAQRNChbNEYsif2WKn9Lzgk8iq/qhH7qY1Jl53iwoahtZRIV7LBmdLFz2
            /bzKiYorvZP7EM10bAxSeh1w74hwJMmu8thWpOU9gYoksgOGX3w/iae2NFo7
            a6sPhkk3hrWbBgE2cFViSH8ZnEZZeMjsK1p8yEBN5fmu6/bdtk/OmgorRRdC
            S8hwZEdRVilv0b6iXiuXAH0ePO0IZanoZSQmo1indrZYpu2P8f0yraEEgF0S
            LXqiPYvKMzrOm1bQpAWej+hT0+T2qoA/h+BoZFby23XiECDXFuED7q3PLCaA
            utlUA0bAjMuCUoAoyJ8EjRIPXm+biPHK8zY8x98ei75wPKQbRs25kv36thUo
            j4U1pj0N1evKwHlRmbttzklohfuVFyJvLe5j4BrcDnPYlEGJkDND9miBaQph
            c2bE2koumAtwYtvwo5KF9cIwiC5se7HAhggGlAqVm9S7YYmDmHyIKYhwrrAJ
            C0PM5wu77aWSAMJyZ7c024X1bJCXAisTb7yVUgwdzlAtRznnqGtsZtdGoaVI
            W7np4wrcSMWhrGSY3qWJQrIkftlcN0zz+Na+yi2duUirxF6UNpsOS7t266XS
            8rcrwxHHKQCTvb+XCWCN/B9qq9X8rTSktDqaaycJkARmiHHFLwtTExTngaZV
            eLYjFdKxUYCtvpyltiH4TvX4clKlADPSt2gOZ9kuqkUO3lmpWI674DZxOkU0
            ssGmxxHhqPIK7HbnltaCbB5fyqttVeOuY81jO31d5i90TtDZ8YxwpfJ0crUU
            yfUEKYp+px+jkeT+Xc2hymzqnC1i3D5CZkxpv6mqvnbE4MkQ/EYMJbbDLuCZ
            omhNyVWV9Z72RrTBCLQgemV7p/fbdvFgIqfFnAonm8lSUPNGuZVsqKLFRCAg
            GsaEJhl5ytXuVg72Kv+XZPoP8hbX481Gzmv3WgzwgLJhqxGoVqB//zI7YEmW
            KbK5JGbRke717bXwueAyirhKO9kIhXyvtzMuT1Z3Y3SSPEnq4Gbuz/T6sfwF
            ODVNv1fAaaTLvFKhqB0Cq874AJf5/b/F+8B9JJ/j6C9cxswfSeD2NYH9Sczg
            vCQ+lBAYC7Sl5zyBoz6a3PjLu4iFOBJ7eQYrn44tBAmtz7KKbS3pJ4ghPL/P
            4tw7uSILlWk+MiR5ARRfyqNAArxuG4ObwkAbiGtPB2lCl4Z2UrqcYywsFXmS
            TP+vozw36cgjXC3t1jYSd59+OT2OdhYwWZSMdz3393otW73XhE/Rwvk63gEn
            VWaSOoRH9p7NVONh93+bS8n74ObBppQEK3/AHzalc5lhlO/yysy1VRMvJ6gf
            uPpvODlaHLc/cHkxai0p3SFj8v4NcQ9QH78h7qt9I+5/BYnq5NBUd5qfZpUU
            QqFYaHX/9gW6RfmYNaejR4K4dotxvbAg2d5xg5RhfMrPXD/yG3KjSphN7ToX
            zRVmutK6cOPsrL1vJ7GP5BXKGUpXE+XKsJwKp0/87t1MNKOIKF6WNfYNnQ6f
            6XLopmKGyVppMkF3XXSLTLJamlbHRfONkqYd55RhYYqFkUyKXXxeKt/zJvNY
            8KTKij+ySx1q41HgOss3w9jMI70HzqiBoKjdK/VVZqyDnRQivTPmXsfbgBkJ
            m2XjYCycnVWKYZODzJ3cdmJSIsl29/IwRR1VBJlhxQMzQCXLPqWs6jKGPFlL
            mCIhAkbhUCnyIhUl8sGhtScnC4TATrQ6gTyC9ZsB8So9BgOT5eJUJZHKTFCa
            GeCorx2dnldq2xn3MZgyUDnfquWzC3O0d19kwyOjF9DvnW3O9XRGKzSVOdPM
            2OIoEAELpCrQYdmTGOAHhTDNo+5gPmaFIueiCLDjn2wghSGvhhlZiN8wMxWZ
            T9l92/fJ+Jfs9z3wVaPG8WZaFTPDfZ2chYmY2/OMoTy2cioHU29fiviBwU+F
            eBxfRocEb2WMk0uaDulKj5hNI8sAXrqPZiZMv60wzJ/T7c0iwoSq7Wje0G17
            T7N/fsSZweKS+qTDLaNKMcsH7SgCbQ7STpRO8+PCXENFOJx2S21HllcmRhRi
            dnlFhGf2ek+bNstwv9OCJVkVmuNcthAn+5REqomVmt2eqRwIBEbyM7mWpVYs
            1KMc8rZR3A4cXe0dmNaukBT74woyyedBzrjudOa375unylg0h5oKlGV9mPue
            7yIH23fCpcsCsrbrRXFaEIaT39RZ/mf272wG5TonATfNkXZsnT6DgHkLr6nn
            xwAcezkrCWyw+5scpCWF3VrxS/V92qE3lt2HfR/3fdvt/e3fbHtx1m9vB/1m
            rn/7n2dU/SEe5B/Wnwx+6t735MQ+39NkL5tf0GYRd70d9++VcGK+Gvzu/jSm
            8mf9jw7Y+9f3f4xjypf3NYQ/3kd7f57/fN8CHcXZj6G/SDuBEF+l7mrjO2v6
            o/oV9uIkMk6U/HKyhjkh/jFZeU/mvNLv7/9JZ/DzDgrs7erv7dtkpfT7YMP+
            /m1Bnf6ov6a1/7j663sA9/yP+nc2i3e/b5Z/9u+fbbZa//H7uefnLNcwh92U
            bQfFr48Bkzy7sfMi/juD5RKo3fX7ZLu9866/7bxzcv6yc/v1T97Hf/K+/pP3
            /+T74Z9sxrNYrv3XFjub9U1icKx/Z+Xrv7Ly/22L/fzXFvu/ezJB3av/L7Aa
            AkNVvK6vfg7rx8/yd7AEtK/NufbifPbiVG4PUBga7cmua1/zg2kY8g5TGOPR
            QuPzSPsE6pj3Ne9rKXatzq6+WH2winZ9rD64CV3nbv9n5+ntyHt8338+P/1l
            83JWHnb1+z6u/RzwztqNEhD0/X61c7V2YrL3VFt9zoMvIATSn4tSikuf80Ae
            4bN/r/6fif+jDQuI7+J3vZ3VPdVRf0Gcf0GksjhQqsd9pZ/uL52pioKnyOq6
            9mDXua932/fjXnRBt6UmODOp8//X1NF/GkG09TmiB/7HU0f/aQTRzk2dpI3/
            n04d/acRRNcmCCin+B9PHf2nEURX3otD/5z/6dTRfxpB1M1hN81+/V/q6D+N
            INq5qdPKivFpD9d++VS7ushc3EpPoGvcunfapQvZ9BzvbCEHmNAj+tRDiEFp
            AeibxnWsO1MXEaq8DAQn++dgvubQbcqgKaRt/4O4+OXfOXn3Umx+izMR9D1R
            TSPYvaYyfE623TumKmJwyxS0aQIzBSqS2nd5WUsz4Xm4FXK5pDW/+BNK7z5J
            YpoNc3HWLS3GYsZMLqryDuBadv0kE9QrjKl84G6fnFsBMNpKnx9ZJXztrMk4
            9IPUhD3vyco/bSmJs1uz/PaRO8z82S6O91e7q8Tw286bz5yf7d6U9n5OQpvP
            572nGYJO7Lps0NF/g7Gl4N5XsHI5WbkV/ysE83//v7o1ofdJIvJ///3n/Ls3
            E/rM/zsX/3H/HKXSSRHS///X+Um7LsYz2rq3zTEzpVBoL7rPy0T5Kgz7d0b9
            PP/7f/0/ic8c2Q== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
