<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0a5c.21d3</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21d3</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21d3</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>BCM43142 Bluetooth 4.0 +HS USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_21d3_v4314</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8659</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21d3_v4314</key>
          <data>
            eNrtvVnS5TiWNPYuM+2FmAG9YSD3vyS5+wHulBFd1b8kU6tMkfYlL0EQADGc
            efg/Ln/xX7wu71b73/+3/6OWy/65K19XbvwX/RXdM12696Po8e/9K4zLp4K/
            uv/a/uv7b+y/uf/W/rv332N/6ND+3P7z+y/sv7j/0v7L+6/sv7r/2v7r+2/4
            6p6rP4sf+ux/+Jn3t1494nvR89WvizPg3fX9L2BqZrWH0fHjoy8+P9nlmAOu
            C3Pk8ywppxJx/+D/FWUR9zk31En4khpiCMHh/96362pV3QZMCq+ueA0p4K9c
            lSUtaG32KJqedzznWFzMsT6q7fnf8Fc7460fY8+PPsej4+dK89mf3F0sT538
            pfq9nW7Q8ue355lqvPPMPWRtDOf29Iwzffsag2NTMfHqL3dGcYaVWY4FLPs6
            dztrP/d7BGFfy+TXo8e+FyfhZl7d9t6MHHapvtniuPh8vMxpuab9X323+lT2
            +7z+FdVv87v8qmHYR/2U57NXvsvTDJqu/tP+tSex/7QfctiT91N/z9L4af9J
            QS+Mn/ZnmtG+7qed/W/+tINdph7un/H4auWhPu2r/lmM+V3uK5eB6/dd7sou
            j5/l/bLF8XiMIoxWncXfzq798k9nqK9NlH47y5cAVfqp75K1n3/qoxUrj/8Y
            dLc9/l3epo2n/LRzL51U7K5nfpYDzMQ9nq/yc3TLT32svsbT4nf5AbHzt763
            szTrd3msVeOcP/2GEpOdrO9yv2yxl9W/9+Is7ZqPSurt/nk55Lixw7O+Pn4d
            NPJdblOoxVt/2qHPT/0DLp76XY6P6Xbin/uzvAeDMP76Lq/V6QT7+F3u2q5f
            v8vHqf/T/jWt/v3TjrfhXCFibJ/lLqd9Yp6f7xUIqvWnfm3aNPWnfkIL2JLF
            Fif0sgfxfE96Fth8ru/yPSecxK/yGG1r5Z8dF7rBqfqzs4wq4EcanvxdPA+U
            +Vme9mJjo36VP6d8fpe7cB04/VX+wgE/7fdTXv/cb5h/7jdef+43xj/3G+uf
            +51f7fhkiwNUr6IXzP1++QWLfxo9CHbOP9dfv4PeYGH9pf1V/1L+037aGPv+
            af/gnvun/XrK61/q/7S/2ov88F+Tu492rd/lBzyCDPkqPwRBiz/197y1n3bm
            qa92wrTFSaF8gjXXX9TK18uv8viX8vqX8vnn8vmX+vMv9ddfxrP+Mp71l/ZH
            /PPkjvrnyZ3Xnyd3xj9P7v07/vg6wfGrnU3VlfhdPpot9V4c26Wl/rx8vUm/
            r/Ly2lnxT8e5/nR2JiXFK32Vjxc4yn/qF2Dnu7y/wE7+03gIHT/LS32Bkfyn
            xQD/Ur5O5DwEwnf5mcTb3vlnefwpv14n9c/l86d8j+f5an9uag2MjKg1/5pE
            9/nymfTn95gfBP6zU86gxy+42+Vufrd/dpybf8E915/Ly/740+71wcb9qdzt
            STk7/1zz746erxNW/nRiyGziXGKrgP0kwvF2vIaxlc51r6/T/q17hhzoHQ8u
            NKA4YnkSli5jWcvfntdui1PA9F2n8qqk00XgPtc3NzV+uK/D2afrenNI15u7
            /L3/5YE7+Y043WuZ/zv//PX9Vry+eExMef66L6/hnnNfv+7bm9fdQL1/3Y/X
            5x9gN7/v3fz6vunn1wBnmOHrPs6vAYP7Sp/3ay9OTYWHc359zT3W9/28v+/X
            /fW1N/593T/381/dX127eP5O8u8SfG3y14SXH5lB++Hqxxtf7Kk7U3am6oU3
            9tS8QZR9/RsE2deerzxf830tRrQ124A1h02LutvxPPkrEmiG5ex0oVkJcz5+
            vZ4H1MZpuZ0tTnOPtrW/+u3w27nX4Z/zY2t+7stMwQlICju2BFmDNYiENTP7
            3PXpHU/QWDc6rO5n87KOW9NHO2Xjsb+vDWuAI6hV3VUylZ936aNHgIamCWgg
            QWsc92uV33UCNq1WuaOzNcfao/msE+8a16kT29A8lBu7410ntZhNJtJQ57a+
            AsUvr9FhA7b3XZv7zt4Hp4JNge1SA3GKvY+51zjC2oujM6DXQTmsj9fLjI99
            KtZsRhtiIm5816mDYhgUJvCyLdnk3t2FjzptYNZUB1vN5TEMwbrPaQW5Dy5o
            t1PmqBtPfE7ZcDXkLdrBhNvn+O+pn2vmeaasz9E3EfFZZ6GjW5M3tK9MfBXR
            27sODk/SsQaTyPVfho/d5/yA4Y1TddAEJqWbJOWzLwfMlMSm147vilYnxa86
            Djxm0XgwTWNwfuIGa71rcOl2z8cLflCuyoW5NbhmIpCvRkOL7zo5jy2G+aoT
            y0ed0ned73Y41sLTU4hH915OPHXvOtltWNRRZ3VbvBW/6gBjAneynaAzMY3P
            8J991UCOZC9eu/eZuPzHRgF4ilUL38tzhWwTWr6/q7sK+BElXsLi2IYL3q/3
            ScG76X1XKliW9/vDXUC2TmIifIf1gY2+6zzVFmeUYsSYA0gG37tfuO+xQXn4
            OIxurbl3gi3aMJgQ40edu80k+Nuw7vlMwPeCoKNbFFDG2rW6qfuvCfAgWoZN
            ACZyDmvn8fFjE3nXaq1nIp9qdepXX9632pPaSTqV92EOP+qEHI0j6Tzdy05T
            9191AA1NWDucJvTeCOuzTkoUB3GD3Dq54/BWH3WyI7jzNs9Y2WWSj/QJbTYp
            PYm+fMnT64UKsNL3R84DMoKRidUXh3mlpLkD6czU843t2gFiMB1Al5RRBAw2
            YFKB2ogtgFEieZYwMPd4L47/bv3du5EDiRw0pbb6f9T/q/6v8ne9qdKp0qXa
            S7VX/a5HJvARV3WZxoWcBXg/gMJi9YJUIBSomjz+WbwCld9P2dTHv/Gn7de1
            SXUvDPz87S9LZeCBZcqLC9p/r4aqNdQcgc+/9/f17trv9n/v74/vPv/e39e7
            j71L/dK/8/f7bse7Js02sa7xev/PlTy3lWNB3spIkAjPFk0fTnPeTwMUKWVg
            xAtbN5K0ATnRn56At9xN8CgF1zxEWPfgx+N43ByoYrQfJ6wkq+NEsnqHZ5Gg
            LIWnPGE0V0cSRkfd3HfdGk1D5bxLVO91nnrU4wIUfgXuWZ/C6HuTWoQyuH8T
            hVY/Sfjxfj+7fQ+829PTrH579DwSmln7nmwp7pt/bsf6gvLPnSqOCiYm10IJ
            3o2r6j3puQHBSwEmcDxo7nGefCnGf2Pe1Db6Tu4pa4162pfoD2X5MkC12lP5
            Hk5xk9pqy3A8qWLKlTGF+SJojmBaU8wFEw/QP7akFVOH7RV8JVWO+waAAFaJ
            ECICd5lWIdS7eHHLoHkcgWIS2iqcBCw4FitXT+3Tcj7E7JttANBNaMm1ogn1
            rL86hfFDRGZjP0X9XNGLWhrJeYx6Cf5h7mMOGD8WOHMi4nrWjZoZ8AcLXdUH
            d4fzPqPPcOoFAL6u9qvE3nO5tkyJ0dkVaDRJPjO+mRIBjKP3QZ0wtbo5Y9EA
            5TC1tllA5Gq3h2jf7YOXHIHfHweI/WZzpt99zx82j1+UlzxEaQ/v+9ZVhyYS
            8xnc3Vy8hcVxputHuxiITeaychdrczeVhsKj7r7sN+X8n/UkOLd6lHWcepWI
            hbrEjFnN2J4SjBtUBTmFUxGIaFBe2M6IBp+lmDbaj0MIcz9LFyafmwnNnd/g
            eCrGksBie06gyiklISHnJDG5FhbPc4LICMYEXvWhtGTxPmL0VJa2SlKC2pfs
            +bxGT1GLi+hjRcmiKsYUywM077QojnIr1AB2xJpU1W7+2ouAhQO38LAMr1W2
            yXe0IZ0HNFkOm6txHsump2PiPunkUR+PQ6mBrgmeGZNI4oP3wJp3rI9tAxCb
            /P1bN3/UdcGeTXE1XrteJ4En/7KTwPtIjL8wUExGno6/W3V2SgRs0xafTDsx
            IBdFsd7RSRvi8I7fYJnYmzJWSbxIWA4JwZYXFR7VzgP2RPWnnfBYnMoBwhLB
            iTABjiRIpSCyKmDyZwyo1a/px9VwgoLHoVo4TL6HRShCPPcs4Q8s0p2fgfZB
            RfgRynIh+u4m8eiajr/DooVEd2jD3777yTaxcP7hwnAsK2+STR8DaNiJqEaz
            jh8MAJQ7NWTk++YT7wJ+q4SFI+zAuxIP3M9z3/YbOxEE+F0wEkx0oXyhOM8N
            gV1UCwhKw0f4HfA3K9crL/QtwpnlsvxIgN+YyXmFW2eF9g0si+0R/Wh4wI9n
            YJdhci5vk3MTPEl87Gm/k90GiyMIxrzAoqZFlHuYfrP13hjRqqUkBHIrgVso
            DezbC1xfu16JOA+5xgpuxZFVx0lDb9gqmNjlxk3rk/sqyzudvmiWNqedGL0M
            T7gZdhuLZJwv3kd390v0Kjb+FhNQTHpNQOyF6qCmSxAytYn4bQS81lcjfG/e
            9p4v/8V76w/vFXvPtb+/F+sf3rvsPeCpv76Xwj/fG83ee4T890ITz7R1vd57
            /vCet/fuB7tPeI+njJvQ8FTEouBksq3Y0lMlXiOIx8apvL+pSrmvPmLNLdsm
            cB5YgSMaYSQQBo0mGyOc+mtzopISqfDJROimbK84RXgpSVKP+7gAYQFj0Ti4
            gFl7meCmQVat1p7YnS+V9xjQqwMebQ323oMlIQE0VneZ84B4nNBNZIClbB1n
            94zl610SEJV91wYipZ0+BK+9Iezz3JGvDe9+WOdz0h6A8NrspEziOO+yvo1C
            IpBkJCxInQacTyygyzP7jj+2k9VH7NUVrFkQTstLREfHM1GzPGb4rfp+3RS/
            uU35AqcQTYIoQj98L+aHJBH61kKDncydJ7/sk1NI4jceu2gUDz+SLy7SRGgQ
            X05cScZAAkc85feAoRT9iAXFiyg75KwGNCM+CrtLlM+6dOXmYs0bHyQsjr5S
            Bj0OlhQYFcBgcPIAi0G2ATsQlmDxfgfOsWKBXMP4qECJF+tgQkGmg1+8PcVg
            jkZ0Lc54t6O48aAUPaY3xphu7Oq0F4jwy+9JJdYHeKKVAUDmTYYRLO6jOa0y
            vgOunzbexbaBJqMoLmxsTDPHQXVfI+K/bJHBuA71jW8dgGv3A/DHuZqvuQKZ
            zsXzCedQi+3H1htEOzmdRn3GjYFawMlB+2zg2vxLk+QXeInmbFFmU0NEBJDL
            NTCAh6QgTcVA7YCQC6L+uGhOz0i+1kpBSLQFuV3BZJMEA6WCk1E9FqeBNwCp
            AcIgWD8OyIvgCju2c2d6yr9KfC0OuQvseEdQcQ+0zt8UaUxsNMwxZhv9pb0g
            Z+yUw4QCwizhZGzSWifgEVKO8RYxKT7Fc8GAxPOefE2ex0khxZY88PEKXBBS
            YokgajxtoR/q+KJODDEfiE+eEUIJx02KTYgTPNtwGObnKdYCjb04jfuBIAxs
            6cJObXzYOFDQ71jrdmNYudtRJF/CwYF/kIlnPnxKMOXKWfkHx5W75p44EOAj
            XDUeYe8YU4CR3KheiPYgSlC1IlAA5mVPWTbBQika78HTimoDOHGSrRTqokXh
            AcaRDM0sE8W3792+d/veE2+A65Jksscoag5wQffPLnfOdASgaXTFm3YtnGIj
            jYV/yHyjf/KFgDKNJ/lqpeoExgU6LzbQzY0fu08lqD7O2X0ZqCMnB9INDx3F
            Fc7Acdk4h+hQkoxtPTwxojWXwEGUJkPa+rg1W57C2FKCjm2kHNcWCOVYlDG4
            oDjOiUdTki2VNyzWfVeQpS84XHgyhzjgKONSCRYB1uJalAuSfuR9IdjSPboX
            OOPvIXBGHgLdof35rFPHXe86i2CRlBgwGjVW2CqPo+EX+SAaAJsdcx9tW88V
            nJaEU8490ChmyV2/idMaeSb8NXxnB59kz4DdssfjCcyx7rkCT82LiQXp3a86
            CWU6qbKJE0P8ucFf3UQNnsUuoTlOFsjztY3XeqvXezKMeiFn8kK0BGfEF2zQ
            8ApgfiAXPo7YpIAKEEeM/WA7cfMX2JHr82RguXV/EKVAJ4gQIHc0ZR+VuLwm
            eJx7B1IrRZrSroQmVTC+6Z1IdVYGOI3clVgL7NaEM4cy7NraJqAiJjqkeOPv
            CUD/IDhIUITAdy8SCAYmyRoHKrpB5oNjwAkB4gGpWTI4KtBqxB1Ujvk5XJqF
            jDiI1eHTlOwCLAAIot+xxlILGnboI+EtMDheMzOJPx/gbrLsPjhQb82Vxuct
            br2BRLSOjBA2KXBBTzp+DoykVFNuv2B1jI6n/AvkJ1hBHGmSh42AaqUVia3A
            TRPvNHwQeEFRJjhtIdAWMfOEgBe2OiyfXaQtKbKh54+sGcXESidA2dJt+BDY
            3Gv9cdoobgrUaGW03cH4jV0n26n5VMKicG8O20TYPNH4O1NggxEb+2r8z+Zr
            erf7vuz6eeoDpxkMIMcisptYrIE85lg5TipYAoGg9yQWSNmJ5XAA7FhgtuEx
            CXZtFA81IC4HwLmOZeGkzRwWKCVyOsAwhKs8vsCOpXbA0QE8LuYNEOm5JQZx
            9t+z//+8fp/7z/+unydUEpbvAeP8DM+lqHZaAz4pT/AcATv8o95973rRjj/I
            BPEOJaHuBf4EhIjHIvEdyoz0jhO1VAmOfKNAkxvOyHdPig2A4aFgFRuT0hqV
            E69QVOtJFNB1BHMicYvjhBOnlDNHJRKneFC2i5bAQoLy27ixWTeIw0ZuVaDT
            BFG4dxSYgqUfqaCN/JBXa4DHVbhkk9JyoiBM5APKocD5t0RmND6Tpwc4VHIh
            nIgm8hKDZb2bklRqswlXtPkB8TFhNzdeW6kdOL75lPdA34ObHBwmbeVnvMEm
            xQi++GPIQ1lzeQJovmdUrx2fp52AsAWhApekmK+evWmn4+HEdcqwo2nShIlP
            XIwg5C152EuiYEKgkRwFrXxC/o0fS7zXM4qBf4FFtEg+aE4chalFVF3Cpgjx
            PDNFI2hjQIIBrOxF8QLlPCl0+hlR/kjWxE0KZuka07yfdwblR6Z6y9bWEIRM
            Mg9ogKMmq7KP58cRTJGn9ODyRe7xc/Yu1XEOoJs2Fx2ws9/c93tyNUnYja5R
            mEqx+8f7ALcUn+jI/7wfCfB/2hGcXqJPIrn5RSVxxMkBci9Y9DMWNz7a+h4H
            AC52EvERJX2fEoH0Hsv18f4CKf45jrIXfXP7KRrtmWpIlA1JU01ZaJSynO2L
            bKAdZycAoTjL0ZS8G/ij9PwOT+fp8anEtKXSd91WKls6er04W3IEQGSgfCtF
            8xtJtykxCaiqG8c/GvXmKfviDo3ejUA9xTPEF4CGp5wqtmeZg0hr2R1pLRaq
            uUVkxndmfPoNMpSOKZxsX+7rtA9KaxI2iw/c1N22rQGJTCesIjcgkp2uvt8D
            CJ6OpG4RF0qjN66K+usVvMrmcTjG1Z+5xwhyo17ifdjGVHndpC7ovg2eMMa7
            FokJg8M1aI7yQ90q9T/gq8UXoQ2c+iFciO0g6FBroNNaoB9KvzFfJoid962T
            nzYpTSBJyzyS+NSn6KQsUDi68smdW8PHUPIqqu7IjqqEjs7LRQugotCDg7a9
            N6X5YLAAhikOYh35D0kTQ93FV73aQLBotw0p2sydYGm3EaoM7kjCkLIAOPDx
            lI2CGwi+EKEClUZJMln3txy4AWwfTT9Atc7Y1edlfYKRpApEE4v3gPIpOUSZ
            nYz1mgsS7QmzRMaU7SSCPYGtADJz2JFUu/gCnErwPKIUNVfgW2S2iOdJ89Yv
            bGoRUHEl6bOczUuhTgdIgZDhMbDmhKJoeweo2motvuM6G0h5kaY3GbB3Q3uC
            cQxfDY1CYJ4S34sNlB39WLAxsNiJOhoMzm8pwftU4nzrJFTwtZ2cDSdBZrZZ
            kuWaawfjS0NaT6kCiBUpAy/hNhc2nzBoFOCMYOAGerD7eaooZCD1QwozNXuv
            kQ5yJvI53P0NfoD8naivCphL3El8kbeFYXbmk5I0+cXaliXbiLQL47bDZFN2
            R3IOfBUWB78ddtQwCQbHRdZb2s7b7h//gBArUlPz3SGibDSAD71f0l6cRQkB
            TpcQ3W5sncbybnw31rF458MWdjLp//zElTnNJPTHmkX+Oj7SmzRUksZ3F2w3
            NcKeZFtkUmnczSBRQHuYCGbKVBJlTgi1k1nXMyvDicydHDpFQAlkawh5i520
            mx3b0G62CdUkk13e/ehe2nPs+kork4E+HDcZlrRbX7WVrv6kSkJ/Lr8WdLY1
            jpr78GuVKB3cLSDuAvFAiQTViZQOYDEzMBqlBgHzW2py2On0+KTkF/wXft8h
            gFjO1Pi7Bfand1NTO/kCPDFFhxdnyN0P7HiS1Ov9kihlQC6++Fk3oC5PT20U
            toFeAUOHSsMN8B+TwBjUkcu0Pa3cCJR6U4KN3d8DaXonifZaG+XZx7x2PQUQ
            Rbue4hMgFF+ppnnoXPzQOxobK/uwyE1KDWDvewMf8uXQBBMdaHGlFOIiERlw
            EgZxBe2ecFKHgVryDYuu0e1+vx8+3g8fdTo+Fe+B9hflhTmoay2ZJR4+6w0e
            k4lsEsB0L4IIFDTnmkd3wLngU7L0y7EWY0Kdl4rpEnMITIxFfXC0lsmPllSy
            BHvZRCWg7ynQwYSTfHSERCz7qFdPPRyZSv8lDYKIseXJQeC03Ed8kQvgSTRm
            k6szp1GN7jal69HB9+lM4rDt2Kmt87I4tuva9y677Ud2rvY++CeD7OY7foFM
            8EfJqHZo0jx4Sqxc2trH5kCk9cdvt9XOVCS+frO8huv89uf39VH+8RvtgbQP
            9fw+5UcpV00T6oK5ohvpfO1BA8d3cdJ7sO1KUueu/XH5+v6Yucu52DYZ+7rL
            +7766sKn+Ma4awDGj8UHnRUkjidzT9HUtRKABcA1aSu7L+TzcORyKZS18P1+
            3seudZSveWnnt5SABpmkyj2VSNjzeO/JpJIyoegk0Or7N67x9nlu/VQjUclp
            u0VVgeT6GKvGWSizx7gAThdJeZw2KkczGETWZ6CCo+oQSY0XVr2L+yDHoyzn
            op6K+q17cUgYhgycctFgwYwWNKsui8YXTQ9OaSVKwcDmee14nvbpwGV4JzVD
            ozKxu2y/45IHOimRTL35tXjwBe4aafu5xOh3nFu2S3Vu4mTqHRP99P2bbYL0
            Wl22Bab1/NOikkWkIg7j7jRC8X+YnM/FkIv/TQqPC5tB3mRgnGyG/bjy3ewU
            +eHP73PttDJj1ZAHI0Rwk+j7sKiTUSe2FBzIG5OV3dGkopwIvS1nlHFsoGf6
            AAECfIV2srlUuzgNCoQw4sTfatyVCzumg8QM4K8AU/mCxyRq3zcK8qXVCxo4
            uV2KurkwoD4IwNTGjZ36lzb8HYfaAQcbP9ogWMQHeodJwwdTwTZoAF+bnRjQ
            WxTpjDrAUPXVUAeTYc8Sibwu3Qv+ciAoVluA68SPbOsfdalY0wJQrgHoi998
            B2MC/Y/v4G7fvN/hBV+bg+9hQauTcFY8ovik9F60/Aeo0CkW58a8Mr1heVIT
            oALriqXI3GQbrKWq8BkgCQv6pS0VsRB1H/QwkD2XTsAgTPzTbjpH1bj6bGa/
            V9pWMoZDru1L+5I4SAUBrnBQYbJtxoAyQemBHM+VTGKatGWjxjVbxAudpOt1
            ml/tkK+Yo53J4ztAxw37uJIdlIpjqS3pm4jrFmhn1jv8TM5RHqDbPEwkcnDi
            41IE3UWcSqkbJpFaU6HnKERULoM0ieZRFMi5+a4b4qm763w+I97k2DIpY0EP
            MgzAvwAXaRME5kNPhRkXPYIQvJ7gHmoc+ZEy1RokljyYV0LFuwLw31mWWvh0
            qZGPdY0tk+n1n/n+OMaNybe9BybYsa0/ffDrQ+3D0/7gbB+Vwp1zCN4+SqA4
            7QnK/5yYL0YSwCj0yLgwgAhZRpOhgDSj1Bf3CSdb5l5g4WizTeEu/QwkemGH
            XRvkLB6I33yRuAH1RAQWyHvhG2XQQWn7OWGsM2gj1yJIj9gqj4zU2v56tVUN
            fXjMvY9mt/aYBxUwmMyTF9AkDfVAt3LtHjbE8DO1noXzMovdRn2q62SN8loI
            DGvuNljuwMQeI7nTfqeNG9sP1j7+zw1wyT/U6fpqv8/v9uNun22o/In9fKD6
            wHwYDCelUeRXtu3qoiAC1QmX6WokFvViaGUlg/r11FXb8UAAs4dzGxK4HWcC
            0DV9UodnE5TojMhJG5+guwYc3cknbotZKdsA0kHt9STHNk9u0wH8VvCNtAKq
            fTOh5d6M2pc4gjghfDBxHNCWBqDB6KWKTYk7RLoZintkEkZdJMFzEVl44DMH
            CFA1Rdq6AgI5u22aJBL3l3Q+gkXZCdDWHYj+aDqlLqDgtsdFScL1Qb7zPn7c
            S+1rp+m9m7FDSXy82gZllyQ7K5Kq8DeoG7TzxnMN8zGblGp167baqc+6jvyS
            ezqNEFEACkEiJWyc4d0G+fymFkz/Qz1U/RgnykEXDE9GXyzYFt/UXuU4TF7l
            4cMPFbHZXj2k24tOJBvlwoASqS+ck6yz6wPxVWKOhOJVZNX7OUFBuwwkKFYC
            pHmnKNVVRwldokCtJRP1JBIBjRe7n2QIjUtJFocKVIx9NK0yuwMXDjhCRpBE
            f8DVi3H0EhAOGk8UOqQZY3lJzkabAZMk2BVHROIU0GXAfysFQGH6xGKjTloL
            Z7QTgD6jjEl0/6cN3GnRSt04FpqWSff+7Yn5qCuioBT4D2OfAyQ6VRUUIbVI
            QRoAyiYIWrGYODX0ZAPeIg7KLUY2ey+KXHAOhHQl07rpxpJpTV8pZY81uZe8
            aplOwkhw0G75Ke1+ZmpR5PqnOIdM72lTJpofz6/z3O3nwAicuL3bZYjCtgHn
            pyxWwNMQTbPMB6yJ8VKBH+1mo6fdbTom7c2ZvMZLC1dbyOhDLTzTWSR2ck4W
            PHWVqkVhVC9sTC5YTzLU14KC60rkcXK67N22qB2rfI80Ld/J5Ne+68qJE4dQ
            izKxdG1Luzth5gZrPcg1Zfk10GQhmydkGdNwN+3HRFQBgwwqRicGVejufVOK
            NikAzPh/xk5LeJ/1zjvPv3hnD45Hq3o6/nMXkiPmx1EZJmZ4l/vrVUbnWUdV
            cJXEWtZDv/VYpnrANcR9KhMw2IsP6EkLDQp0ORmXmQ5XbgIFnJmx2WR5mhBe
            Z1EJZsibTVxvUrWd3DbaxJX6Gjx3kwGSjPkFg79x1bbdpmmtrHq8ge8wk5z1
            gJC/wPvW5+zASRvW+93YEZe4I/64z1WW+RYNoJU1Bz1GNlKmPAF7hogVLMR2
            CzGk3ONl91W6FRN5YCW6WUE6cyUBJQiu/UpbE/khzjhilhBtfH7bOPcdz0Hi
            JkwOrs0oK5o02vtcoO0RIKcOI+qpjaUm266sd76DOLRX+aGVB2hR95OMBssV
            BU0hHfBdQUo24BZ7/+ZS2RyRIgRLAMRJn4nRTdCbSNybxt4ghn2fgWkqMnFy
            VTb9Xhx5rdOwjQbf2g0U4mVOYDyTcyKSxL3Sae+E/UGelJisyMKTSwNpaW4d
            BLTeOpdLYZjoodFA0zGoSXL0tm5UQONDe3gSyWU+J1UWZohoz9N/IdXImE5e
            4odL9bmwiS6DLHeKHgQkDcDIdyni4NiP9alZuhBLyJenLZp+VZ7ajX+cCKKU
            OhW7CwTOCPQLHVH4jlpOWv/RNGsMACvquT0tenAL9qLTNgr79fFR1kogvkEc
            YTvwNPYinq3ftBEARWYnO9gJzxSW0AyNATJxH618bILAArHJ79iM30h24niU
            flMfTk5460toHwZOXnCfUg6cgEZjRLo8OH8MBt3z3Dox1PChVGE6bkBec71w
            snLh4ThUmSx4yBhLq2hktQkOCw18uB6E5tXR8jPlTVwkumKDYMx+JoptTC1N
            SxxwmSQ6GieGxhKynSY3VsRzUEXBTVV64u83sUJXlIthM5Yh7GhRGmjvcMmy
            B88y4LTDlx38pk2dvas3egRF6vr2G/a2iUHwXFtgq+8+Ng4EqN7YcM3LegwS
            HOueozJY9M+hgR12iZgqThR/l2qqYfRv+nmaVUeJZRyfg9deNIuNg3bAZk1D
            e/pKrnc+5M9zGxKFVynm8Lt1MmmbBAYFWWlYG8Wxc4GzR3s1iSdZcti8jfPf
            5liEIJ621Hr/Ku30H376j6f/DqSH77jEMPhAb4evev4ZrANsM0s5biCl0hix
            ZBubNh+3C4ZUwhkb7oNOCfge+tZio8rHyGz/6HPDcYHO/eoPzDJdtl72f/ym
            RiPFh0eQhMwzM/veJ+feovWQxndDDhCXE1rwAacxLhJRBHde7aOTQWejtdkH
            XLK88IzP+tUWXni1IUNIDGiCgjjWNjxBiW6E0UAlNkJiWyTrg3mGV9qRlPZh
            AnVMpqbMfrvVkVVosPdovDHGJKNBAe2WYtRd7/BAwRv9Vsz2AQDyNi52bv+h
            +PFOfL8jyYFwspkvNyoiqAMyAYG9Wz/erR/vOrO7Zp+YxEVDxUmtYrP3YtmL
            c29rqtMID+LvoEuXaa1kYc6ePZm69/TPyTpHnpPW/ejibe43U0knfrY52nOT
            1KaNGN89XgM3FoaTy3rcHMOBVO4Up74/iCt46gDJyM+zbZcKjx07lz+n3Qn8
            Ub7GAJT3JvGjiJtMfT+BhdpaMociGNVCd1nrmcku28meYq1Isy93Z/CLhBD9
            6Rxb2JN9vp1jmWWArdj1rr/Xa8nm6BXTR7pGW5xnGDUUzeOrC/aBSzCD8Wkh
            gJ84dMKyvMQK6Um5akT8JjvlHP1rsFjddOq02MHCiZNH/XZvg5BIh4tmdmyo
            3+o0Rhf122MGfZrsRHDn6ZDFgW/Ejh1DMIsj5QiGe5eyryfqhjsJElotYIHo
            /FVssRtdDynpxp6U+roZowhG3svSUkYU/vZD1qxTluOdfAAd5fx0ddHQcKJn
            empWkddU1uCEvO6HGaljFPQ7k/sH42K/njd7Tk5N993uQ18U50Rqh191iz1z
            xud4c/ro+8VqD/2zKjsidp0R8A5bFPzp0MC7DVwRlWh2hkXqp3G3G2dEBnnK
            3JT92rO0B1lB1JePcr8t8HHAsmz4qVPGiYky1mi0FcMHvy31KQEDXQS+xhi3
            uMv94qaJGz/ZgkVnStG9MHUvDJlqYGyPLQHk+zQaSZHoA6UXppe7PV0aSV3J
            OMQpiA7QVyeWAkYy86aH7Df+aNAicn0FQLemzXspgrlbpOtEHidfOlhhvh8w
            N9dmLeiE83q/hdL5freT4y20yP1qjKtp/MG7MXWmDuaV7YQZKU2xg2A6xetV
            Jk2yHCUB4NRxEBPo0DH5AnKL6fwe1Knxg173LlEBRTtnI68LJwvlCQesbj+h
            GXsMjXLiILOiLhKaNmOsw2eMqu0k48PJpDMQXbDkKdDalO7Fyy3LXDJaTjFp
            EoWVzHbv2WCmVfvOMC1w76GmZM934XAPek4/dEkCGCOz7czuoJi5FFEO7d8a
            pdPTwrTzOwLDSPUFOtDiDsQbyz+lsPRc+GA4h4IvuegXTJBjIFhQaSUDkUpa
            T4Eo2EKa0tLqUzakUwwUrVxw4gAympsDAwHTAai+gon/HUAV33FHVVyaUYNg
            IIYL3QzRj9iF/Yt8B93AAZPS0aCpJSSsnjbZjDnQvSnUGNPgVT53fYZ2uAj6
            vJzSubl4Aqis43cl2lp7i3+gidl981mMY44Z6lavM7aQ9E+ORiigvRxmBruf
            Gyk1kNXdM06C81TcUbUQqTcgA7ziSDU4/Z7amLw2yiY/r/SRj4yFpdgG1IN4
            6dNEkue9OGsHBVcUDUbZICU1duyd28QNsq2xKL7JgjTYNe5yGpXqRE1zcrqj
            WS4ymIOUYfcOygDEGG8iS7lu5NdvEiEkuWlmTAettoM7YKoUzaNYnIRIk+Wa
            Pbl1qty5x2W+tO+Nmiz64HjZfaSZYM1CxOyP/Ful3mSaFCLsTUIrzXAztMbL
            4pVBiDRu523cFOPUYO3wNy1Uy4z38ao+XoC736PSIN8XZxs8ZdXE6uZtTWuA
            kszpS+8kJwmF3ycn0D8nWBoCUOErTQx0ZsYQaNOci4KbXRE2ZPVCRgxgZ3FS
            B22rwn1JIbY7ph/v6djei6/3SDZOyaxQpj7iPM/afdqMLlWbAOC9SpNXGSBO
            OiDJ5g20NwgKLWa1xcTE3sCPoO6Ew/g+/adTMpAaXRa+kUZjgnPnZERjMjNB
            KjU4rZBjb65tbwonj73CKIYxgCihqRkgi2Ps/FtBL/DUu8Osqh3iwvb3Z+rT
            v/vsvbRTl9RgDfYsmduht9h9eJG7oAKcDToZbrtoi5tLu7UYBiNZ7ImM5MJr
            HocIoDks7uUH+tBMYhiT6vHBAZTXnnx8MiagYOM8DJBWWrUgnV7uMYwlxZgC
            kgPe5fxmrLx5v++7NstdhOOSrC0l6GQsGUe/X4a3Fx1u7hwgPDqfPf5ppPI8
            JVzyYQ4aJ0AajQMvW1gCyShmGGCz07CSII6LKRcOiRI8n+mb6KLu5BdEqsba
            I+0tfIsyYA/VS8omsMviLuv0msi9bdcQmg7jXnOcLDARPXgVuI9+nFMT3l5U
            12vC2ShPAbE/dzJFImfnH8pFRtyU3MSoXUkWzepc80kWGJRgXCE+t4ZRTKGZ
            Yq1PW4NP06nj5QDG5vaXMcFUR6usRPNazjI4HxL1YGLvRA/Bm5LpJXf1Ia8B
            AiJa0NRXGfgivCw91avMPS2w7MTDoWPokDF6DevHaxz46sYZvxmNPmVJV/bG
            rgKxWD6fGG8Ap5vSEoJf2gWAZThlIBTocCSdmN6pwIVtL46iX17vBmieFMVQ
            yhO6DIUgy/WzTh+7jnlLkxzlWXQSCmrml30cJoqdzmpiGE6aJlaiLJvgKa53
            xfgz8YnLW7xsFIgHQfHcs5qIhfqceU6kN5x1CI8pL/qqvk4f1s53+6ddIHYG
            kS1H+0qdJpHyJTL9keEXy+SUy3L0xzZMvIrnhfj9bgErZX1HvBPUz1WBsRRb
            9DYlK3tNmR9GP1B35Hp1a3mPLfmOwuoz6b2H/hczLpyWTKqEwk3XiisN1FMZ
            dAvKElUseg0U6vDoJX7HeIM4pu8z1bzEAUWCtJhRXjxJ3VKYGQZcBdijTDmz
            U0ir63FNkZgU3aiqPzDzg+jqVhzGDHZVbYJSUvhlRzcksJQAuzQH/ijz1M6S
            agQ8wAIB0mFs91qUSDqGauGz6GISRRxuFGPgGCXOQl6ZUmHAbfTI5EAYE8gw
            sATzvsznFNBS46CCxK5zl/di5LjdA5nj6qiV9OYX+lmf5eOjPoYDXpbjLagG
            4nb/5gYvZrfmLX456HTQ/XndQBOqRKmASNU6m3iAQiqFNDsN1xiQkdpTRe/S
            wHE69z3LAfycvIlveRnec5dpYKrn3MjiL5o9S87au527ZQK127vxTXI+6tYu
            o8i6Offv/tGG2rz2x3+1ecbYfsZI8eFpq7j+8a7aKn9q6w/jaxpf+78yvvPO
            GVs1ZZsXoPhfG6gavf/wwfdpZ/vee6sTGSPmde+uvNt5v8PfHx95n4+sz087
            9X92O7LW74QeFwkJQo0SFPLCoAbzQz2WD0o+OHXfg1ByfHYIgnYiTnL1TqW/
            T/73ICWKr7sDIuZKyRalgwy820g4uDMQnkIn7txbEjASpnIHd4PPyMAqUKG8
            y176oR2mum3msDWzyd58VTS9iQK6ufYa99ko7EMgY7uXm9DRfgcLaeI2b4Ij
            QUsaimo4JoaMeqQAB9U+ya4Qfz1AkNWsb2R3pxry+8AvAM4+97Np+OZAFb6z
            Qb38b9h+ymB7y3jV1zlELbbRN5/Tln2Olyzq1WAe1shUw5n8M5hrOqB8NRas
            MZWNz/fne0DT9zOgACw1ZJW72ynWzpgf7ewP48Tae/Zx591c/q137/1u43uO
            wVrpFGxxd7KNf1I/lCRhIEhP9u5IeyGzeWSXDJz4Ue+//bz8PN+bw+s7gK8J
            FhkIpuuEUWEVttuh793CvxtuaMPrQ+7nHmNTXrRzY6SrWBRnZp8UimYZxIHY
            2fO0ULM1qKC6JQZ65D4n1/AVwiSva/cyT5z0+wXVRZQXzNyX97SIwVXaBVrz
            kO1OfG+m1s0OupG0ptO5Mb2egR7psO9afD+nipjPnbxP3aSY53YcB40f7tIp
            CKX472NMbijlFvuWk5ONK46YGKgJY0l/GhfI3vQ5rrTHlfa4kp2m17jiHlfU
            uHC2073leoQm0+YOnIgtzpB/jgy5DcQIvEV64DPWr4GZych+0sfLqHfRLo0D
            pcVm7rmacV+Tl0A0SNclWGRAB+wQmSfRwtN4AIUfLje2yTKNKwWJ5zd4k8FI
            VDeDGO/2wJiPvn9TZ6S6nMqj4ykgcRMZMsH5xufguJXA6fxmOBTyZ52kvUjY
            Lh9nKgR9BuPNeD/jmepzytOgs30QlH10fUullJobEvyRc2adynHSvJ6hPzgH
            tdVYOoWglCMxjBK9zJXz5P2bbZMbJKlr/W1pPqhEUo9zn5wd7vwdmorEKul3
            yXMy/QpJavJc5et8VM9ZEmcG9wxzMYcm9ZWVnfssKwDMDI21sLM0qeaF0B2t
            c+qY9LZ0K0kaTXMJGsrTgDFg9oIkx3T3LdQBvcrSCifO52Spl9WkPAE4QWw3
            fjxPDxaqJZ5cqbk9vfUYObGxTwrIzSucYR1pqyTTXCfHeUnXfS0KZzKGeW6H
            GRnrzTE4BH1lNRfKcGHfDQw5pr8VPAJI4641RQAgepIHCg256U85A1toHBZg
            lvcXY9lJDy9B2V4cAYdB237ZX9Ud5C7YoALjvXQXBkhIiV1o6iPkfk38RnVs
            p8owCjw99B/FBI6ZtKDdkHp6ZEkVpDwzXQhGdj2AZPs0AvjQgpQ60sowafJI
            pgyNmQyfj1BjAMrgol6mUzSFIlcd6PZSi2KeUbRCxphJC+kpQvGK7q997+2+
            Tjt5ru57nuBqtmuyn6BVjHnH07bwwZiaQH56hq4XYwpgutdyDF1+kWjx987z
            ZIQKVkYmZW0TNKmbgQtGbtdoVwfOUs+n1Y9bQrCm5VGwynVfj5VMsmvbnWQa
            DivAqTUWd6yY27udHs5MjTBffftQpo/f9blfv8vH72ZhgSuZYQb5kpXNU2zS
            wg1QV+vwch208GECvQCTuUtYyPwbklBvSx8y63qXkdkZA87dpq25dt3P9/J4
            AvhBnS5sHKUvZf2bwfxO1BFqSiQxkPmGu5O1D5qbXMmQKe2U9v6v4zv9kIuR
            cStO7yy3VIBsc+1NRaAzNhN6U73AkFYfH8AoSt40gPT3Mmkpy3YHrqu+uxYm
            kKbedlJwmD7iu8wtNASZRag1tLsuW4QFmnp5xjD2TjodDAroePwuwt8+kAsQ
            9nvLU+pVx98mhpPxAEieseM3IJS8H8rEKRL+pkwOGwL3Le6NApJG0p6JUw2o
            0ShkRVnjPOieCkax8DetSrCwkSEuPHPYUbJIy8QRde9I/9MqlA37HWSDNDrN
            a+h1oRTPXhBJ924vjhIrRu0MNMbotoZj0qBsjSaqlwSDLiTgS/zxP+ZXJIjg
            5Dzp6Tg3AHHeHwM5/tGs9wLAcqLontLz03hFix1MG+Xbkkkx1L5PpXhmVsYf
            uOp6n2cRkICmUrN1SqxaiQRdIdKWbDXZE16U28VtPlUOf+SetCgiuYfFgRv9
            u5x8gQSXTwPfDmRcm6zImzIOg6rIwCQntNgbrF4L4PkNZjPwbWDSErChnAvy
            G4wf2pS8uNIMTBGxQBXdMjOTmZrMk71FnhoMS4zdSo331QODmIP+uExNHSzn
            8kMXdVLR1gEFi9nMbpPSQqBx34C/d7Ahxouh6SoFoNwQdBOknS/fZ+BS0KLY
            RUN++DS3lXjiUlJt3Qv5xhVOH1ZuuiGVyeLgvk75X/q/rH+mK/GmtKLRh7/k
            2DQZzYmR5XdYYu7Y4l+CU51Y4sFE40nF47Exehq3GnHQKJA0s1WbXFlniDll
            kDq70tpS+qaoJAqMqbwCo1lVKlmo+aRL/g2eMNfgLCCR27bWjawD+sXvi1IG
            7JyQKdOLe3HuHclJMQKSua/zyFH4olWtIvlIxDBqFMNfg1HbdXnGBoGU4qZp
            Ms5vvutumQ3I3U/l5Wk5Y6CVlniKSljVTqFKc1mbWUJR+y1Eoki9WPhAE1in
            D6fBIdsxewRNEn8zlo4+lgFRaTuAXUowzzicwVusagxaFq2R1jcU5IKfU8gB
            1H87iFGPV3U6HoKv/2ZfNGA574OPoTNwtQCUkrXh3FcypHFQwKVMG159XHFW
            LuKOQxC4iJTQaSWxRovMEVeSQWNkG+D3x9FdCrtBfMN4LwR/c3CZ6QDN4dSd
            xchYDCqWDYhzdf+w6FSMbSolbMJjTDPXvbfZ7j2N4AC5Jqzfhl1BfgbLM2T1
            2svMdxM0h7DJ+7qppUM9/RI6h2o6BM8hkA7V9SKcfqitFdf8FCf1eUd7z57X
            3c4hnDBf2ryJQWJB6fIEF0IBum3iWTNqLXjTgsVOtpIrrIrSuWTJUbeeRMD3
            d/BuG+j5oniYBB203Zkue1knrGaRDDVnYSXXjJdwZQc2oiqHoKU9ivUGZnJK
            eWa+lKTfwcZaG07+oiDEAOcVzI4mWtUcfWlHx4jyCu2nnGvWbgzWbq6MkfMO
            ED43PlEeZ2o5HWNZgVfKFr1dVxqvKEXDA0YqKpSmbBNkp0B/LLENVUQFTtKx
            wSABwSQdi0eSfdGRnUtF9+D+ZgPGbX2Ntq9rR33kljO7tRCCVFWrK6qSo34d
            jQwZDzI4Mb2qlwbFQTPYVQUrgT8aWgz3huGMUs5BNaVDMYKAJCNRUp/2TGaX
            /ftjerNn3T7mbVxhvM5Vu9QUDGjaqLZQ8KJygqcSBoVGuRijQ0XL6tmOS4mF
            T2Y4Y8bIJi6KAOQPTS8ozUi1lgdMqAILKb423TfIbdw0edqZs3ZEKCKf5BQY
            vB+vP7ZPg+9tHC//lkvpnv0sDCNJG7ygEJpM1sOkeTwDmjPw1k5xxgT2PDi1
            m3TC5KbdmlDLdsUAiGAosLKiGgzO9w3zLynFMtlRZqoo68+7DuCWhtCPdjCD
            dOODGX+YH071Nu9JjfJeIqNDadHTMNqHMqdBcoyEiL7memlW47R41joc8m/Y
            96KCMQXRYkZTBU47Mok9AJfDDWaa5dnKReWHPbHZ0t4FptjLIkwy8RIXrdOX
            etmi0YkxMza0M8kBSXDaU2+igcRN8ZIrCVo4nna2MbjwztowEf4wQsjms7C8
            HffOy9pRGVV/Z3Fm3RUemaSCWsRgwx4kOqBtsAa5PhrSAOs6xuHUVUyKv6nl
            3Ak8mStGliUirSkXubF1FAy6BrO7drZQ3giSPpoEq0D+wt2O3s+lmePrI10s
            xtWNj5JeBHxRGVSFR8uP23A/NflF8T+n3isEhua/E2hxIOWYMrdNTmZ4ojyd
            uZNlIsVETuGVc+eSZJ1GMWUvYmVkiDIyvRP60wNRvZLDZsawFWjis1WBizeY
            1JWpBiyAuFc/Fp2LSfmUm0dB9URNksi1xUnmj1fMdChym9C9qgTeE6odA45A
            lkp54xXEkuKWZjl2dvA6eqqS9uvl8vW4U8i1mwBm+sA4AyBQQHwAfejqL7sS
            /KWEMXv7PUjR+mzRQnbctEAyod8Mq0J7BsY7L7ye9C+JRjIAmQytwPv8BEmA
            b5mkbg+5aHZ1z9whlXfwcKYNsBg+l2zC+7b0lDvjUNrUspMd30aw2H0/7619
            rfY8T7smADdvabItVUyzeuPa7+92mHHZ/Hh2udkQhJwsQr/SNydaIV/vPDM0
            eggKYCHYrSB1+tawSE42kZ5SngC0WXna8XMsOgDtwz7KZcflrVwuDyjPLi//
            su/CcHb5aUfWztaOyl/9Out3ynF2yZhD+XQUFfVSwAjeTwsVmhjORMEsbk16
            4u6+GeTBvsnqnLHcTDmZ02/b8bftj2+If/mG+JdviB/fEH/mbpngM1gU2j1h
            9Xci9wTLapELQpZr+6zgtzuuC3PvtJcFi/E6naJxC6bNph7y1aK2ru3uDTIP
            JDkQbAB4YhCmZEypvMmYYDFheAEHJBbFPDibSN5nDOxg8f9F9QEmKEbbtYmZ
            cz3ZpBgShpFxJYKjjbXCyZTr2ovt9tQK+WDhUqK7iJ24Oc2CNUSLxfm8vtee
            vyJAWZAmEUM0FfO3eXd3phf49KLbxArlWxI3kQGdptfBfAGH7cWRfw5ThUwO
            6LEg1ud3fZN+NEO6B5N1xHbylxWmMkGzJCuHe9rxPeFGZBuxmFnvybVGORHB
            CAdGA0FG9fM7rG/0Cl0PcBYDy0j0KIosLZBAHdJMVRZ0Bxfwf9lMcZXleWe4
            Ui4daz8kRg28AQWUKyz7P/WlIHskl5VFWRm4FA+KA+DvLu9kGTSqz6oAqRhP
            2P1e0mS+3lWE+P1upRgqvMf3isJ1IusysO0fIutWs5UOIjGdzUGzML7eJoVu
            u2YItw5l5RmFvd2vyaUBXPXX9cp0eCkXAAeaFKrXy7XDVUxSM6fH+CpntPaG
            9xWVQ6CBgh6/KaKvSE0nLigFlFSg1WSbxReNjfkOWr5MfVB60rPgLJA2o9nK
            LiHdZhwYCMqAhKNFurUop8furT3Z3CMXr8syjdZ7LYv1uWMm4Nmj2AzXtvVr
            zzrxEnhkvp55tBWZJ9fPG9Rjp5vm/Y42PLrFNb0sO2IJK/ppPqGhSbDaxBDS
            bdsiCOZ3B0qI0JXK0Sli420JFMzTwAYkDPxRv9y7/h3Da2Bex/ZrEDtXgtrA
            Cfz6KCmP7l1n9+Pbdx3wTe8Pr2i/SYXeMFlOeD+uAISRaWKbaEz/7In4+FY/
            vsceaTrLxbNxmumTpah5jcPdP+9g7CKVd/pJ8GhhR/q1+v67PoWKX/Xzrr/H
            tN0OQ9fJ/FkM339eLu9JnkOT7BKJ26Ag1vT06sfSk6Fx6HtyFTk6OUWPd7s8
            7sjsPG4AKXP/Vhhu6ir7CjKJ7bYTme1hp49nWls6sitL81HSRfD+FlGXe4wR
            M8ohgdOOBMIQQHKmJe+oFF91gxSQ6Uy9fRjpy4IWceHInyiu9FEW0uvB98F4
            ewvfVsUDspdm/KCieOclFXpxcou0E4fDf5SLPcWJvyZ3tVbadvgK8ikt5uRM
            JlkBl7dUegiIgskyqevwMuhm7JBGDraYeRMQMJEk8QuF4yd4FxX2YxuAy1+H
            hqiMAPby78fsZHuXgbvljRb3/UNDo6Fk3RxcZD4DBQWKrYdtbiTvVguaFBvg
            oIIlgbhxKeHZskXHF3YlaMiyAGLSFOVBBGu773uVQPXacUkZVnk/c1bWJBiL
            PGFETeQ1xmU2BbLnz0eH3ZRwle91mnYJR+y6JNAxFkIVqyPpnVT+xg7GqIiL
            HMukCIH5YgpIFoq9mNqP/Vvb6d6Ls6SwILOX0lkY7uS6fw+aXFDk0k4GKnqB
            yrd/idnrJ3OSkZ2KW1BtByWqfiMtwddrILJHYspJ9km5Wy0+jd2GK02ZqIJN
            NiemmC12UzueglPgQd7z43ZiiM+6TKzE6yqWAGLe60rANynTHQQQuo2Q5BPD
            +KnkQjGZ0kM5RbHmRNOzTvqbtWgzwOy5jLm99qn0scdUCG4Z3iCaB3SVgLOk
            0BVvW6G+m9JLmvFG7mv89tOanMmooVLs4HrtPjafM9tOy0xxdgLi+22AmsZA
            kU3TAJwacSXRlpgBIUJ9L44rKwW5HeKj6YgraQBD2ssahRIIH5KiWNDfdADQ
            hBCM+mNCqq96l9UDQh1bXoXjUGSdf3Y9kx+CjH+dgrObf09Ad0pkIfKbymDb
            oderP+Z8ETgqTEPOUOKWtovvn1PHXT+9osZrU75Ph3cnUjBPq8LQ0VxZz8P1
            egaYdspkk0eVwSVP9UESHRxwPYcjbGptZUu51Kq56AUaORDMhPr0A08LDQEa
            nWJo0bRzQQMW84MACsfxxj5e17H2baG589LUdEIJi/HHeTLRebWgcuM6z62+
            yPWdfou/ZSPE3/nPv19JX08AoB2s7tnjWtGu9/YSJzkrOWUzf1T5ROH73RZm
            Jmb+UdRBzEW2pHgRPNmyyI2Xub2D8Z6iOi38Y3SmGmnX3Fah/8gRwTRiOxcD
            DUxuutSD8KQlkGInJAupX+uWrd1+a0IVZ22nfmTkPFVmKPwdiC5cFpcNIIXU
            jHgaiuP1HgNzn8a3jtyNJSfznvLNwWA73kTep13qhri7lVYsyZju0lGnTxE+
            lsaFJ5ADI2MwpdjnGOUYtWMfsH3gcRCqjNdcZj1507yl4GJQCrp1vWIAMCQ7
            qCO+FybjSNikSb3AJd3fBl7N4oRLHE4v9yLHI25S8Dk32VVL8kePPEuoRBaE
            m5shME67cjl0yt+G80JrarpTSC3R5ONKSbRSelKnBtpik9L3s3PbidJSlNtH
            9AwZpklT2KvQbrh08gcfTCY/7CGu9iBwA9XcNC6rvfMDmPCRdlq2qACA1Mgy
            eBSD3Ff3YsbMITXTHQT0/9fge/8efG/vwf9pvOVnvCSzvwIyNDpYDSUFVMw4
            MhreL2asPj6djFI7lYLTDb8jyY/oQEXlURyD66Ks5TEtZCTL78H+L8tnzZiF
            y1I5y4buUmIwu2ddHMOuNhnb8IMhxW6dVaoUpbCp2wUEmM/MteMJFZK8AhCN
            nkALY7DsnHLIFuhFJ8vHyYgLOw2lZ9gqKjV5GgcjOmHyWjSTWIMqi4tJd28L
            edJeQe4kKdaRp/0ZPvefiU+Zm1F4Z5K7I229GV7KqCg0rzSTPd5m7JeSmizL
            zjJIApPo5necdGRMiMDyukMgMSvheU/4kfoSGge9c9Q5LiyTG59cpmQJzjtk
            zhVVHrQtywoDGjPK7yYSBIJl7iWRDSUpS3lQk8XJmY/yopYH1Cwha2KWLMM5
            UQ0QnDA+TepxEcmBTomvjHzgL/SyfYzATO3mjaUsnxtsXPdzp7hlZk4fCaRs
            YSkZug9Itkn9oA9xylRFGC/VwK6D3dXkETadO+9JKl3XztnGMkaUjV2hG8mc
            tDJFprpyfU1oIYc/aKySwmB6FlKQANHeTidjh4Umh17Dt8GY3erfkOMTUhQi
            bYyFYVU1doZZ+VgsestK6Rjt/c7NwtBky3Q5XBj8N2kCdXgbzO/d9jexndst
            gdRsDrtRLNgLVHW6FIKISr6tvtzniyvbi591E0gGt5EcA9IpdIkUYkMDfy7D
            V4p8/9rN5spOgzySv5MnTzJEepOJxK3XG2fIzPcVP3XjIO1YkNIMhfgk+Z1K
            MOstsOkr1ignIIVH7hvegitXjxN3JtVv3Ho1e0YF3zlxDu8p9EJipJA6FCV3
            Exone+PJcwrQIdVD37kYmC/FgvVZvlNlCJOafxMqtxEmc4/LnRSd04I/xb04
            lDEwa5lF6Jug7tLb6VTBghjB2PQ4XXIvS4fCvQSarNAPMsStYQSRq3ZaZRR1
            GXwrbw8BKWBXqpvsJl5w8hc1ZL6YcII2yMkCyh0N5AZ9hNJNZVNOwEZdVYXd
            d6SmsAit3Kb3J3dB42LxMSSnlzS6TsQG3eOpnJNZmYSxArEvX9atWiYkcOZr
            KuNIyfTDhySBgTKSf7Zt9SOETkLTH5uLCI5/67sYvoMEBLb1SWL7CtK3gzWR
            YruekwIZfNgGa978c5g52SbqZuyzD6qq7aSoh8yTe/kH9VYuE1Uwf8EXNRW/
            qalJfiUxCarxG8GouluWlK5VC1MSXtpWOgO/InycPM63pMhbPO9p/Z1EmGDM
            GqMCy3ERldoRDKfU7o2s9isQkfSQZrCedypi+oAesnZ+fm+0AEwCVeIyLW8d
            YXdU/AOzOmXja5vryruC6ohDiVbjc7g5zO5ODHzye15AFY7ze5BpZRQiy3YY
            Qzfrm0Au3gYRLjJb0Yy8M1c9mXT23hSSezXmLPLHc9cXnS6Jb94RoI7Ug/CU
            IRZ9bweXMegRF2vdd/kiw/Huc70nS7Zjly18KnZ/K9q7gTjtmUGTWVB7POnZ
            kPCOD6B4A5oEEDnH3nnNf/Y55nrhC+oP+/498jtjB828mgwUskAtPSVeeCe9
            QaTb2X9JzAA83i/i4YWf3ujBYoaO2wLRbH7MrG9Ix1EvdUJ64VPKm5m8r77V
            qTuvzWWw93UssXsZRMRsjXdeskK5GjEs5pBq13jimWkiwDsz9obtTjHYJqtj
            LP3LQghL9qR86Z0ECWOrVRlHfMeBc5J+z1ccNmd5AZzFYXsUg60rJLIJG+uO
            y4ayAgZQKYsfT5lIOHHieEKNF25mr7bDPircpVGPvoY060qTqZzwOyoEcvcd
            hAKeyOb73j619G7qn6qPP7UDFiL8tnOZJjSmIF03wM7990a1GCE+r8gebVxT
            IVB4Coh2IsN+OOZk5OQmytkCMNVQ3uiH9PP5zXq0TGrMfk6tJK0YIqjRIdwh
            VSjlehiYFwGA3zQTQf8Ai412dU3SdXrUkZxJi0FrG+uBpPAMrQJSbdFcaX6W
            NyI9hQurYtnl3YFJbom5cuJF90TM3Gg7PfFjfqs0t6dR5c0UlVcxpzDm1bk+
            xvbQYJ2ig64NNWmH+di9/CWKIA9jOdc7OF3Bmjj1YXM6QhnaRAwymNteHLM+
            VhDryqBsmdJ3xVfzyifKHU6I1LZnmeVEuxSrgHZ2ut7kZFylWVAhgJkKikcD
            3x1LgFakaZGI4AScNu768bx/PL+d4t1cdQa73qFPLariU8tnDIRHogV+ZeK7
            Sy76V5PKKDKHjQMPT2fhRcaO+K4ylhrNei/aMgU5ZLEOYwJUET1UdTQiQY6F
            5m7UJbENNHsce8dxbGaZMc00EBNZnvsdtRipMxrKIOPcGGWM9e5gNuN1/yaW
            eLl2MqiGCChbzLRxjmKGglqS13FkgBjK1+jCqTBTvcne+VEYkLvd0bISEQAl
            hfaKygBF6qhs3Q85KeZfw5JhYPfKytfmVQ5qCLS1GfYRKupqMZpncpYkNl8S
            +3CQeW0nJgZV3pz9JcWWTKMYfEInDFSMO/qmNd7jV5Td1prA41QaYAaqyAzy
            GqV59aa93eOOffFEakJJdZ5x0y6uegtxxiyHmXnamtK5J7e/JexvKSMu2c7h
            yQykZJ1EJwCD0Y3S5c2Hb6QiGLQCWEZFex+McQl4Y4ZXG+coNQb2XdGKMcVk
            ASLrtooobyoHNGYMAUfp1RWTozECDQ0ppsHpwz5v5Af+1aS/jnkkriiMrKPB
            4gOcTkwrJ1lQVfh0J8Nvr7CRnjZltgC9c8cPajnvwExdfRsTJtqjvO8/F/rJ
            YLJDVOh1TP6isFKTH7E4XYvDAOkq+90Q2O2KMiJQC0xM48PTj/XPyO0WGE92
            Dd7GQqUaTzKjiHharQdl2bITREuGtirbZfhwV0zKz75vM/CIonY4EJ4SqZyB
            0AL1u7d2/noPivlz30cPyHjzKqWRX+ZxZYIeeRs/fj7hvYODf+9gQEuQhW8b
            bOEzAA0PYFg7qe0wZVzXaKtnrhdTcgxfk2PISpHHFqszkNEzHCfzovQ4qUBo
            mIDf5E4PTKf6iDYM9j2gRufNXkU58XsmUy/ztPEbo+GOAVwxEgNfmj9Nnv3l
            nNV3+ehM46YcBFmxPotiLSTiY0JfxRqNlJkQ8AOvNGuffTo6oC/N19J8KYY2
            9sTmcxoF3RYPEx96R6pavb+X9BEYhdc9jcbJbRYMJH3s0o97nYzdKaiqoUSn
            6IqeOgzXhc2HiYthG+eJCmrbKI/Qfbs/5S3i30GyLTf1OV3UXPycsHbGOS5G
            fLff/GDO5yy0K7gZcarTG49pZIAwMMN94ZqsPlOvPEzQqsXBM9Ne4lRwgRI3
            U5Tq5PI7QBHL13hW3AuJlVGKTFA46wVy2xvk3jt/D52ERzcsL/3XBVK80upc
            4Z8XN8ud4wmvEuWaIlCDY3/THe+jM+yyf3YW1quDpFiXzCO+gEWNg05GGr8W
            KjDUfH3fewbkvj/uPyaF7CE/3Cn4uMah01yxg1t7neCaKJPj82JgN6enCxQx
            tiba0q7vpgaf5NSZhpjJ4vsxvH8U/wjA7aLXMQMHhG6Z6GcRIpUjFXgjMo5d
            2UwoYUA/ybTAYq713L2fg4qROz2T2wLL3HSGoh01s2EPBhUnv3DPWvNdFTxO
            wSq9mUGDdsx0SqDCb1NrvQtiMA09U2DRfXq5Qho8xIBrpPcVOuo8dorM1EkY
            Eef0pr1O07SPBXXxnwsqN/Zm4CQseZBb7mnXsXCm/XOJZG1kzCepG+jWQa0J
            3cDEPwAEKLecoyS7bxHS9ji4JXJB+8l/7n4eUy4Unk1G6pVVyQvUgL6meQdI
            Huc0XgWNYDn1Wwe8CfxgwpLSW5oKnmUXFo0M92e9BzxVpjwUqO2A9211tHio
            5JK4wbEyDofF9JFeJ7A1gVKmlj6yNVk420faLqRX2u8udM8Wr1NDe793IgB1
            PqdIsL3L7ijRDu2zw5RADeLAatJ2GeDcyrSk3EHlGK4elMI0k33LK7MuUwCQ
            ghBoYVTZJwh2B5D9cYuQQMjcZGD9zrvA9kPVmCPTpChmKHhZy/FDeosu/ivk
            9DNZOD25mrOXkseZNU5kX6DwqClV3Gla9iilsltMkzm1SeXpZgvXCxnfvZi7
            zOenc+FE1DDPULO8PYwxGjfEAEEyErCh34szgyJu0rr/uyImg9b3L08C/E68
            lwQ4bUMLUB9kKJiEz5w6SvoMTCfrS1ruNCm3BlFJLCRCAielzUnmEPwA+J7b
            WV7pmzEwHyW0881E+cDL3pdHkXBn7Dh9yikHEDQpWDSHI4r8m8rkMgEIQ1b1
            Qz90MV8xU5hZvM82sogK9+w8azRq2ffzKifgq/RO7kM007ExSOnR2OCIcCTJ
            rlKvKIjwnjMFydixsK9syTAUm4/SaO2srT4YJt0Y1m4aO9uh3MBkLQ/ElRi6
            XoaVURYeFtTYoh4Eqi3PIMplg6D8yfwp3rKjKKuUt2hfAZ0VJp/m/J4mckS+
            zDKFnSZ7T6d2tlim7fb5fJnWUDK/LomWAq0uKs/oIG6KQJMWeBbRXaTJo1Ox
            bA7B0cis5LdXwCFAri3CLzGsz2wdgLrZVANGwIzL4i2AKMifBI1y6l1vm4jx
            SmE2PL+/PRZl4Dj/Nnx123qw43ZTHqnQ6WvXqF5ncsm8mdA1zW6tlWcbWpPq
            Cvc7GcIlIz9FtogB28kzs0QZFA/h0JCxYDDWSi6YC3BiuBRL9VVDL4zw58K2
            Fwt8l2BAWT65Sb0blhOHeXWYXQfnClCpMHp6vnDUXyoJICx3NshNauljg7wU
            WOTeP/RQjIrNKCRHOeeoa2xm10ahpUhbuaPjCtxIdQEzkClzSRNVZvnpssx/
            b1M2vrWvUjoyzWY9CSai6bC0a7deKi1/uzIccZxiC9nze5kA1sj/obYaNacb
            rCnowJcGER/eu/kzkhoBnX8zfvZlsVmCghvQzopll2VY2kHv3DHWltvC9r+k
            ADPSbWYOZ4kcqgXF3dmXWI8Lfwcz4e3RcsTRmYag86aF/m53bgEtyObxpbza
            VjXuOtY8ttPXZX4x5wSdHc9ITqrvYp2W/bee+DvR78xaNJLcv6v5CplNnbNF
            jNv9xYwp7TdV1deOjDsZXd6IocR2OASUKVrUlFxV2d1pb0QbjEALolcic7Nb
            o2OkwvbM44DLhEWBZrYna8dS8O5GIZZsqKL5/gsqBcnQaJdQ5dqRTP+hdPWP
            Nxs5r91rsa4D6oatRqBaga7ryytF8TmlOUvMolPc69s6/3PBZRRxlXYS7Qn5
            Xm8/U54s2r90UjlJ6uBmnr10aLHQ/Dg1Tb9XwGmkN7iyfKgdAqtO1/fLXNrf
            4n3gPmYh6WO8cBmTWiSB23bmrD+JyYmXxIcSAmOBtvScJ/C6aQm048z+POuM
            N2JS6bRdxE0ULw9Y5Y2xhSDV9fniTRd3ST9BGX2UL2/uHyR5xzQTJJ5Axk8I
            R7N4fidlh+r4Hz0Y2kldck6usBQN3ZuZLOn0+p2fh6e2WkYp3ZPn+nA5efpo
            ZwH5Xo8f77m/v3dPe+814VO0cL6O4fvJApmkDuGRvWcz1XjY49/mUjKsv3mw
            KSXByh/wh03pXGaE4Lu8MlBt1cTLv2fj6un24twKmG2I+28IGn/zT4id7g1/
            Q9xXNauXX8R9tW/E/e8gUZ0cmupOc0GskkIoykhZ8cPn5RblY9acjsb2cvmw
            WM4LC5LtGTfI4sag+Oknp43i/7lRJcymdp2L5kodOzc2N87T3sYuvu5kRZ/p
            MJlCLdIl0tIFnDEJKhGfbX8e9VF3HzoQPtOb7jZD9qR0h24qNpZMlyYTUddF
            17kkE6ZpDbhoDkFSu+PQuut9r1TGm7Ljs5MFyvx83omTJMd6ZKy3TioVhh0e
            6f3hA0wYKGr3yuqUmXjhMf1JeieDvU5wcCbba5ZogmFedsIkhgcOMndy2z9H
            ORLbDR6E2deoIsiMmB2Y3ChZYiUlDJcx5MnOwej/ETAKh0oRBinDl3sJrT05
            PyAEdg7RCeQRbNyM9VbpDBeYBxanKolUZu7NzNg9fe0o7LxS286QhMGUgVHa
            Z1scxS5mdD1KfgOO93tgMuiRBQyI+c4OwGBQaZpNfw7iKMmlblhqOOrlGWYi
            k1AYdcepMSsU+c3EjuP+ZAMpjOY0zMhC/IaZqch8yu7bvk/Gv2S/74GvGkFR
            ZMYQM8N9nZyFD5tSNTB5+Tr6qBxMvX0pmAUWnFmxqunuX0aHbHONcdIk09da
            mf+yaWSTU9SSpiR61RyLwzBXRbc3iwgTElvRHH3bdgzm+PyIM4PFJfVJX1IG
            TEpVMdvuQJuDtHOAl9i2l0FSIAIGs5MfpYLnL5BzO5EdTwzeYBZ1M2B4wCfT
            ps0yuZtPWLboHfs+Uk2srONWJiNuEAgMUmdyLcsaOMExv8jbRnE7cHS1Z4MK
            U/nuWX+Kn2geZPQzdf9V/yezPM2hpmJA2RjmvuezyO/rO7HQZbFG2/WiOC2+
            wMnj6Sy1Mcd3NoPSeJOAm+YjOrYan/GttBmLlR8D8JxQe5jTv4SeZBot36lF
            qWv7Ptl9McFnMqtC+uIyFct+6Pd9243/2/8G/Wau//4/uvoM8SD/5fuTcT3d
            +/55TB/wup+yk98ukO/r3CHtXrkU5qvB7+FPYyp/3/8YgD1/9f/9mKZbWUv3
            l+fRnp/y3+cl0AeaaGAvztKghv4i7QRCfL1yV/vYeDr7GSvzK3CyhvnH/WOy
            8p7MeaU/Po97MH/rHz+V4r5a4LE/tG+TldKfPzbs/m+LV/SP99e09h9X//ic
            efT+q/GdzeLdnzfLv/r3t83mN1hLrb4fMs7lf7Uz556s93LFr86ASZ79/p8r
            /IuP5RJki/fyx8l2e+ddf9l57Zycv+zcfv2L5/FfPK//4vm/6N/9i814Fqvv
            k5OV27n937vyf1js+v/qYj//a4v9707m/+r8kTCUP9G5D8ELyJg+JzG41rvw
            TPLYH/3z8h0s0ervv1O/PUHJ5Huy69pXOiXzOSgwhesdLTSV0ySBOuZ9zfta
            il2rs6si3w9FhdF1PPY+WVX1t9v/HS9gtoXTf5if+Z/jZfMKyTHs6vd9XHZ9
            HlucxTzG1BTv56vZFayrnsdkzy+yYB/z4AsIgfTP+UrFpc95II/wOb6U9uI8
            XzjkemHOnwPbbad9N/IPxPkXROrbHnTYV/rpjn8OOivAG5277UrvX8Wg2dfZ
            9nXQvw5TZ5GZL3omGQlr17Xvn2pXF5lIUbFldY1bukzLKyGbnuOdzamO0Zij
            Tz2EGBTTlawG17HuNAvEobKjE5zsX5N+/cxNEJ/QVM/965N0Tl7bOIdkL8Vj
            jLJqbpVBnYtqYm5zXjWVH1RU3PeOQefJbKagHRSYAEYxMb7r58K0h/ygW8Hz
            Slrz8wTe5GU/Fut/lQT9T6E665YQmL/ufwgJ+p9CdV6bz5HJw38KCfqfQnVG
            y+qeKAz6jyFB/2OozrwXh/45/ykk6H8K1XnvkzP79Z9Dgv6nUJ1xU2vL/HP+
            M0jQ/2lUZy9xalHWLVUR04locymJAa5lv59k53uFMZVc/DYbgnQrykhb6bMT
            P8LXznIpiCTtbV+T1X/aUhJot2b5Yydh5s92127n3U8Mf9p585nzs92bIvWP
            dlqbz9d4aevB+lQTRQXN9N9gbCk4+BWsXk5Wj4r263/gv7Y1ofdTr///3/+w
            f0cT+sz/fy7+x/1TXOmkCOv/3xv8pBqXQaO2gnNzzExJFNqL7vMy/b4Uq+R8
            9fP87//b/wloFAm3 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
