<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0a5c.2167</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.2167</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_2167</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>BCM43142 Bluetooth 4.0 +HS USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_2167_v4361</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8551</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_2167_v4361</key>
          <data>
            eNrtvdmS7ai2JPpeZvUvood6Q4D+/5PK3QfMJjJW5j7V2N3Xdq20SE1JgGhH
            3/yPy1/8F6/Lu9n++3/7H7Vc9s9d+bpy47/or+ie4dLar6LHv/evcF8+FfzV
            /df2X99/9/4b+2/uv7X/HvvDB+3P7T+//8L+i/sv7b+8/8r+q/uv7b++/25f
            3XP1Z3Kgz/6Hn3mP9eoR48WXr35dnAHvru9/AVMzqr2Mzt34vy8+P9nlmAOu
            E3Pk8ygppxJx/+D/1V8h+oWeXykl/LyuVvWhgGng1RWvTgT8lavySQtajf3d
            pvcd7/l1F3Osj0p7/nf7q50e1o/e5kcD8CFg2Gk8e5DdxfLUwV8q39v5DFr+
            HG0eqcaVR+4haytcbk/IvWv0fY37mvx3L0638n5e9nXsduZ+7/fzcMoNjh5f
            vPlyRDZY6n4fzmpdCUXG7oQrzRbHRQx0qNDQt1t9anDvFX+eoqlo4/v5VcNt
            7f54ns/u+H6eRtB09R/tX3sS+4/2Q7ae3z/b37N0/2j/SUEV7h/tjzSije5H
            O/vf+NEOdpm+sH70x1d7HurTvsqfxRjfz33lhBNKfD93ZT+P38/RQbWPvYr9
            bovjUfj6+ti1K4+/VNYmSj8/li+BpvSjvEv2sfyjPFqx5/Evne62x7+ft2H9
            KT/aWVMnFZvvGZ/PAVji7s/X83N0y4/yWH31p8Xv5weojp/lvZ2lUb+fx1rV
            z/Hju6HEZCfr+7mftthz/OV5LX4vztx7aP2oHHLc+OCZX4OfB3F8P7cp1OLN
            33bo86P8ARdP/X6OwWiR3HjW5/MenKr46/t5rU4n2Mfv567t8vX7+X3K/2gf
            8Enl1492vHUH4Bx9+3zucton5vkxXoGgWn+Ur02bpv4on9DC/u7recy2OKEX
            e5BnFth8ru/Ke044iV/PY7StlX/suNANTtUfO8voAA7SMOPPxfNAkp/P015s
            bNSv5895Pr6fuw2/cfl6/sIBP9o/OCbU378bxu/fjdfv343x9+/G+vt3x492
            nheYvVzdBAFQ/e+TNX40ehDs+NHpU37+7PQGCzP+oXz9w/Mf7af7nOwf5Tfu
            WT/ar+d5/UP5H+3P9kL8/mty99Gu9fv5AY8gQ76eH4KgxR/l97y1H+2MU/5H
            Ow4HdXZbnBTKIRj+WmiTfb8/r394Pn5/Pv5Qfvyh/PxDf+Yf+jP/0P4df5/c
            u/4+ueP6fXJH/H1y18/+x9cJjl/tbKquxO/n994cpb6fj7oXh3v2c+eS9Ptq
            tLx2VvztONcfHzuTkuKVvp7fL3CUfzsxADvfz/sL7OTf+kPo+Pm81BcYyb8t
            BjiW8nUixyEQvp+fSVxW56/P44/n1+uk/v58/Hi++/Ncvz/HvLkYbXHAyHwX
            OpP+/DzmB4H/2Cmn0/dPcLefOz6Pf91xbvwB91y/Py978Kfd64Nx++2525Ny
            dv655p87erxOWPntxJC9FJvjwHAS4Xg7Xrcxks51r9Fp/9Zdy3GWQPME8J7k
            VRKWKGP5yj+9n5WkeZ22OKXq5Fz1Ndb1Pt8H3n1xY/l7sC/uMvy4/8n1dvIb
            cbjXMv9X/vnru1a8vnhMdCp/3ZdzwF6dr1/37c3r7kH2r/v7ur/ux2s6Dus5
            vsY3/Pjq4AgjfN3H8dVhcF/p837F8TmAYYtTk0ax7vk1ujXW9/1cX6Nd+Pd1
            /6zn7+6vrl08fk7yzyX4Xvf8murfufX+msrv/XQm7kzYmagzQWdi1r5f9xsE
            2WjPKM9ovq/FiLZmG7DmsGlRtxzPk78igWaYzk4XmpX45uPX6z2FLVVgxl99
            OYefLqZNEDT3vOdjjI+t+bkvMwUnoC41OwJZN0sQCWtmqkAoDod3PEH3XPXz
            MO6ZZRk3h492yu7H/r42rAGOoFZ11wgqXncgRNPHF/0Tmyaggeis8V6vVX6X
            Cdi0WuWOj81xz92bzzJx1ThPmZRuzUPjcXyXSS1mk4k0lOn2rUjW/NW7Qi7/
            dQfA1z7qg1PBpiDQCkQwVh/L4981QAFO3rkN1ppOhFUvIz42VKzYvKyLgLTr
            4xP1phgGOy+Be+1uT6538aNMuzFrKoOt5v19G5/kPqcVswwuaLdTxl03nvic
            shsEf96iHXzDhuO/p37MkceZsj7uvomIzzITH1qiINBdN6zPALDjowwOT9Kx
            BpOIfW1LmIebH2XA8MahMmgCk9L38nx8y2G+ktj02jGuaGVS/CrjwHAK+2RM
            0yg2PyW755TJe3F6V1edvylJ5cIszqsReOn7w6HFd5mc7y2G+SoTy0eZ0neZ
            73bY18LTU3gIq01Eid59lMluw6KOMivb4q3xVQboE0iU7WAvrmqbCaf381s1
            cD+exev35t79x0YBeIpVC9/Lc4VsE1q+x9VdBfyIEi9dbU9o7H6+9/3FrfQ+
            8ReYlHf9211Atk5iotfCzvhVBlAYrC7KxL04dylW4dkTieF8HEY359g7YWlH
            3cZQxY+T4lYbSfC3YaXzsgko3wuCry5RQNwgrdq36tcEAGLV2yYAEzmLtXP1
            dH2Uca3Weiby2QtSv77lfauoxHaSTuU6zOFHmZCjcSQd3XLTTlP3X2UADU1Y
            eztNqJ3cmD7LpERxEDfI0sm9D2/1USY7Ajhv8+yibUaAn/BRpuThVaYCkiRn
            izOIzPoe5DggIxiZWH1xmFdKmjuQzkg9L2zXDhCD6QC6pIwioLMBkwrURmwB
            jBLJs4Qbc4968f6vlt9fN3IgkYN+HrLI+H/U/6v+r+fvckNPh55OlZ4qPet3
            uSLilV+8TMdCXgLcHkBhsXJBKhAKVE0e/0xegcrXUzb18S/8aft1bVLdCwM/
            /9pfKVgcrPMk6fFqqFpDjfqO9K/9fdWdu27/1/5+rfv8a39fdR+ri733L/39
            rNtR16TZJtY1Xu//3pPHzvLCErzVjziZzxZGH05z9qcBihRA0QYYCKhC0oag
            9+kJeMstgkecnfqMQ4R1D3483g9wK4o8xtI4vrEyTiQriASQjY/O71OecDeg
            lySMjrIl77I1mobKeZeo0Os89ShHzBU4Ctzjd6YQeW1Si/QK7t9EoZXPPOTX
            u36e+x54F5CpWfn26D165pu178mW4h5ocjmWF5R/Vqo4KpiYXAsleAtXlSMw
            AQQvZWFMPGjucZ58Kfq/Ok45oRe+ndxT5ryr2k+iTSvmCI0YoJrtqayHU9yo
            tippLw6pYsqVMYWqCMhXQVXkgokH6L+3pBVTh+0VfCVVjnuguQjmiBAiAluZ
            ViHUJb0gyJCbCxUAjHgACycBC47FytVT+zSdDzH7ZhuAnc3Ax0UT6lkee+Xx
            kvQ4fKtSV8TvmH4SKCY5j15PwT+sRcwB/ccCZ05EnM9cKJkBf7DQVd/g7nDe
            Z3wznHIBgK+r/Sqx95iuTVNidH4KNJoknxljpkQA/QAt4Tn+gInGRgWwejC1
            tllGNOFLiDZuH7zkCBx/XCD2h82Zfs89f9g8oVFego3DTcQNu4XRgQd7zufm
            7ubizfhwC0bTs6IjNpnTnrtYm1tUGgqPunXZb8r5P8tJcG7lyJ6ccpWIhbrE
            jFnN2J752RNHEofQPxDR4HlhO3c0+CzFtNF+7EIY+126MPn4DUoxn9/AXRV9
            SWCqPSdQz50kJBzn4OBXe6bnBJERjAm86kP5yOR9RO+pLG2VpAS1L9nzfY0U
            s2AL4xszShZV0adYHqB5p0VxlFt5LFwXQi9YHPvG4CJQqo177/eiYCFBpzx6
            hmnlN9gG79PamoJUdWqq7U6CDg+wMx12YdOEd/Kvj8eB1SDmAD+NCSZhwntg
            1BXrY1sEhCh//yybP8q6YO8G5UPO60TwlHhCBW+nhPeRtCR2FycKbIbDcW3V
            2QkCWjLWZNhJKsl4thWdtCQO5f0G18TqOEUqRxmsJGIkPG+xblP34EN4/4B9
            0TBAYnPjN7A3amcYREiU2t6yA0gEP8Ic6DSIqSAyLGCxRgwo1a+BJhpOXPA4
            hBOHz/cwCXWIF3FiCUm5UfJzo31QHf4OZboQUW5LbZINhkh4DocXLkyaV3SH
            Bv3y3Q9+AFSdf7hY7BihZydiu5t9+EEHvJ/UqJFPHE9cBfxZCYDvjwN3S8S9
            nmct+40dvNa9CnqCyS+URxTnpxZn1AIC1PAXfgf8jco1zBN9FaHN57IUSYD3
            IJ1A1i2dLRpL8FngCbmsr1i++7mx2TA5l7fJWQRnkh1y0QAONxi9g2DSC4xq
            JkTph2Hg6qreJOdVS0uI5WYCd1EqOJAXeL92uRJxXnKNFdyNI2uPk4mvYQth
            Lqe7F61V1lWmdzqt0WxxctmLQwn3aTRGL6sV7ozd4CQN6AsOo1sgCEjsPn4A
            wk+UAClegEyfMxE/6wX/13pjWT13/029+Uu9YvWu+ed6sf5S77J6tDb4U70U
            /lrvbruee9cTXmrzetV7fqnnrd4K2H3Ckzxl3ISG1yIWpT+UEWEnpqdKHEcI
            hY1TeQ+So+2TIylRzOvqd6y5ZdsRzgOlsHt3uBNg9qS9xx1OZV2fTALAlPMV
            p4jlgiau4tuAyIDJaA9cw6i9DHDfIMNma0/szpfKe3To1SaPtjq7dmdJeADt
            1f3M+UUhgjtECUAPYPvdTl++6pLgqPx2bSBq2vmGwLY3BH/eO/LB4f0dlvmc
            tAdgHVta8zKIE73LGhuFSiDhSIiQmgUPhc7dLo/sO/7YTtY3Yq+uYM2CcCAo
            R1CiT8c7Ub88Zvit8n4CG15Y7s17FpH4RjYDzxDHgqLCR9lIAHmNN+iIVh28
            aO4EA40nLRqFxEGyrJA02sDIiVvJSEiEh7ccDxhQ0ZtYUFTEs0P+qkMjYlDY
            XaKUgFB45eZiyYUBCevjWymDfgcLG7mdy83JA/gFmQdsQViCxfutr1gg1wA2
            qHCJF8tgQkHW0xYEbQGe0uiOxNRqR9HjQVl6TG+MMS3s6rQXqLR8+z2ppBIA
            nmiVAJC5yGCCJX40jVXGeuCch/V3sm1iTlFo2NiYWfaD6kFQiI/6hEUeAMLh
            3pqCaCZuGvgNuLYewEJO3HhNHGh8Lp5POJRa+dLAo+e4reJ8LTg5aJ91rs3v
            NEmKgZdo/hZlZnWLsAByue7y3A9JR5qWgToC4RcOVQM+hO9I7gItk++wBVmu
            YLJJsoFgwcmoHouDfuAzJByCfccBeRFcYcd27kxPeVmJr8UhN4IdT30ZyH20
            zt8UgQxsNFpUgHTINe0FOX2n3CYUEHIJJ2OT4pwHLDDxcARpTOJTfI3nggFv
            5z35LAeitGdSeMkDH8/ABSE0SoQ2YJUmvkOdYNQhAebbYK2ZbgSUK88IQYbj
            jsWOxHEe7Xbo8+eR1gIRhN3+mdipjfeNRzWCicX9Qrdyt9NHPoadyyQmsEz5
            8DXBlDFnscGwNe6aRRIGfIerxlPsTWIKM5Ib1QvRHtwIik4EDcB8JlVWNoFD
            qRvvwQNHs6eMTrKYQt21qD7AOFKjmc9EBe57t+/dvvfEG6CXJB/tMYp6e9zW
            V0zTJQC964r+6Jrdvi+c1UMJA/+QWcf3yUcCyjSe5KuVqhMYJ+i82BqIKLcl
            BG2z2ueIggTkBK4N6sgGgnTDS0dZhzPY7CWtlH3xAN6YYwocYMBYGmn349aE
            eXL0JRcd20i5ry2QJ9dOEhoLiuOMxXYmCdPzisVaq2JWXnC48GTe4pijjFGj
            ydBrnJNyRNKPvC8EW7rH5wXO+PsWOGvcyRWbAKdonjLuepeZBIukxIDRqO7C
            VnkcDcXIN9Fg2CydQZdta7uC05JwyrkHGsUyues3cVojj4W/hnECHO13wG7Z
            4/UAsphrzMBT82J6QXr3i6d4awoAbQVyOqmygRNDZLphYd0UFd7FLok7ThZo
            9ddkGPVCbuWFaAnOiC/YhuGVyONfQGAcMUsBFSAOGltAO3FufgOYan6eDCy3
            7g+iFOgEEQLkjqZsUInLa4LKsXcgtViVTJCuhCZVML6pTqQYPwOcRm5ErAV2
            a8KZwzNs2QreBntoXgE8Pf6eAPQPgoMERQise5FAMDBJVjpQEwcyHxwDTggQ
            D0jNksFpgVYjuqAM24/bpVHIuINYvX0aknUMlA1/6WssAKtbU5Cl3wH1jQ8m
            NAEGx2uaBpHpA0ROfh8sIqi35krTe0feB5sUuKAnuwdzKVWW+ypjdDzlZSA/
            wSLiSJMibARUM81IbAXum3inYUDgDUWM4LT5QtvFzBMCltjK8Pm9RNqSIrv1
            /pH1oxhb6RAoi1qGD4HNvdYfp43iqUANWEbb5I3uXSbbqflU2uLh3hy2ibB5
            BB7vagpvMGL3vg7/wdf0bvd92vXz1AfOLBhA9kVkN7FYA0XMvrKfVMgEAkGQ
            qNt+fdBmjpQDyTzxHwlQHqvNBj1mxK6N7HsDFnOUCmFBUyKnAwxDuMrjC8xW
            ygIcvYHHxbwBIj1LYhNn/z37/8/r97n//O/68YZKRfBZn31c47k9l6LaaQ0Y
            Uh7gOQJ2+Gc5v8tFO/EgE8QulISyF/gTECIei8Q6lDGxzkyoA8qR4AiDX46C
            jE3ae1JsAAxkfbkxKd3Rc+IVinY9iQI6l2BOJI5xnHDilHLmKFfiX1+pBwC1
            KCTouf0XNusGcW5b4ZoTBXZ7FRw1KRbuHaWtaz53KmiwP2TcGuAZBaCLYJC/
            KbdCZ1siMwrUzdPj6BoRqd1GJ0heorMsNyepJcJswAZtfkB8TNjixmsztQPH
            N59yOrpPnfpzsz+YtNGf+w02KUbw5ogRjHAANRhA8z13NbFNHnYCwhacClyS
            Yr66HDnCPhlOUmoKZG/wUABXYSYuRhDylvzsJVEw4dCdHAWzfEP+jYMl3usZ
            jxe9RGyRfNCcOApfi6i6hE0R4nlnikmQw4AEd25H8Dmp98WKs2dAOU8KnW5J
            FF6ST3GDUl361TTvx8ogA9GxQfhFdQ/gqMmwbPAcHMEUeUoPLl8UHoezd6mO
            cwDdtLnogJ395r7fk6tJwm50jcJXiuk/6lMIF7Z04kf9SID/ox2B5in6JJKb
            n/SIiTg5QO4Fi376Atj4buu7HwC42EnERxfJ/g+JQHr35TFFoOrPGNNnP8pe
            9M3gp2i0Z6ohUTYUJdx9aCUO2sajj1s7veq2Usl0zkr4gKMhKQrTDr0bLKTo
            fWLFeXp8MrnWFpJeL86WHAFwFyjfSlH+RtJtSEwCqmrh+Eej3hxlX9yh0bs7
            SJp8iy8A2U45VZjPNIeS1rKTLLhRPH41CiLdZB3wSH2BDKXrCifbl3Wd9jGO
            QXAsPnBTd9sWx11y6ipyGyIN7Oq7Hv4DI4OTUMSF0kiOq6LvtQFeZfM47ONY
            z9h9BLlRL/E+/Pal53VTt6D7NkRCH1ctEhMGh2vQHOWHutiKL6dH+iS2sbZU
            mkCPMslbiBF7Q6Ci1uA8Bc/YUH2VfJlUdqwlMEC5P1gM6l90UiYoHF35ZuXW
            qFTDAoiqO7KjKqGj83LeAqgo9PigYfCi9B88FcAwxUEsI38jcRR0TfkqVxto
            FO22W4o5cz+Y2rWEKjd3JGFImQAcGPxDf5+agi/EocCeUZJMlv35HLgBnB5N
            RUCojtj1zcu+iVNKlYkmFvWA8ik5xDM7GfM1FyTaE2aVjCnbSQR7AlsBZOZt
            R1LtYgQ4leB5RClqrsCqgGTaKgO37TFROGkS+4UdLmoqziRlmLNJKtKFrItg
            grZ6gKqt1uI7rqOVu4s0BYHwWXdPME7eq+5Nq1/QE6wXGyg7+r1gL2CxE3U6
            6JzfUoL3qcRR0Emo4Gs7ORtOgsxysyTLNdcOxpeGt55SBRArUh5ewm0ubNbg
            phGBM4KBG2ihXzxVFDKQ4CGFmZrVayR9nIl8Dne/4iToy6K+KmAucSfxRd4W
            idmZD0vS5Bdrm+Qw7mlHxm2H+aXsjuQc+CosjubzSbdJMNgvdxZnVnOqkqp0
            2cuVH1BxRTpuNkS8BIK9lRHVGCb4EaLbjY1TP9v93PU7Fu8MbGInk/7PD6g9
            TjMJfaCvIv8eH+lvGipJ49UF202NsCfZFhlczs3dDKoEtIeJYIZMK/HMCaF2
            Mud6Z89wInMnh04RUALZGkLeYiftZsc2tJttQm2jsk37ju6lbceuJ2GbbnzD
            cQ6wpN2+VVvp+p5UTPiey68FHW3eRy1++LVKLA7uFhB3gnigRILqR0oHsJio
            aw5tTr4AMVCEEDDZYIActj0dRCkGBjOG3ysEUM6Z5gJugv3pT0zRoewIufsb
            O54k9XyXE6UMyPWzbEBZnp7aKGwDvQKGDoVud4P/GATGoI5cpq1q5cah1JsS
            bOz+HkjGO0m059wozwbz2vUUQBTteopTgFB8pZrmofvxQ/9pbMTswyQ3KTWA
            1fcGMeT7oQkmOtDiSinERSIywFj6TVxBOymc1NtALfmGSefptt71w0f98FGm
            Y6ioB9pfxBbmoM45ZcZ4+CyCx2A2BI57bOOLZCKbBJjdi8ADpc655rs7nA73
            rCzltMnauLPxSRwgnKatD59S4VLrmU1UAvqeAh1MOMlHR0jEZx/l6imHI1Pp
            76TvEjG2PPhd8DTrSCwoBlK5anB+DKMa3TJF7NHZ963BnNvundo6b7aIl0kk
            7Oqy235n52r1wT8ZMI/2HEyCNybUS9O6aAJ985TYc7LQwt48oe77N+XQ+u0/
            fvN5Ddf57c/vy54/pmxz5nn88UL67Yd68FDP7/P8KOXKJp2v3Wng+C5Oene2
            XUnq3LkHl6/vwYz9nJvDJmNf9/O+r7668Cm+Me4agPFj8UFnBYnjydxPuYMl
            AAtAaNJWdl/I5+HI5VIoa2H9fupj1zrK10j1vaQE3k9R5Z5KJOx51HsyCaNM
            KDoItPr+jWtcPo+tn2okKjlTS4QUqKyPvqqfhTJ79AvgdJKUx2mjcjSDQWR5
            hjJwfS8OCb2XjuayhmddxX3Q5lFmd1FvJVrpwCkXDRzMyEGz6rJofNH0YI7A
            adOi4KL5FJEdhaQOXIZ3UjM0KhO7y/Y7Tnmsk/jIVJVfkwdf4K6RnB9TjH7H
            OWe7VOcmTqbqmOin799sE6TX7M5sIs44fi4qWUQq4tDvTqMV/zE5Zz4+F0Px
            AhYpPC5sBnmTgXGyeQXgyrrZKTbE7/W5dlqZe9aQb8aQ4CbR+LCog3EpjhTc
            BJ+OFjc4xbQwye6oVVGI2L1NZ2RybCBu+g1qBMgLjdJGJNxx4G827sqJHdNB
            YgbwV4CpLOMxidr3jYJ8KfKCOk4Gl9JtLgwIDgIwtbGwU//Qhl/xVjvgYONH
            GwSLGKB3mDQM2Fnf8l2bnRjQWxTp3PUGQ9VnQxlMhr1LJPK6dC/4y4GgWG0B
            lBM/sq2/lKViTQtAuQagL36zDvoE+h/j4AbfvN/hBV+bg/WwoNVJOCseUXxS
            ei/aPtWtGBPqUt0n54CIThk5d+mV6UrLY5sAIlhR/AVpCUdZVcF3e7TIItR9
            0CNB9l86ATfB4G+76ZxO4+qzmQlfaVvPGA65tu/tS+JwmUqQVfLWxZPVAKUH
            cjxXMbKUEl/UuGYLWKKTdL1O86sd8hXjbmfyWAfouGEfV7KDhAzFqS3pm4jr
            Jmhnljv8TM5RHqPbnEwkcnDi41IE3UWcSqkb5o1aU6HnKERULoM0ieZUFMi5
            8S4b4i6bN1iTD33cFT4LEomyo4yxYKCE3AOQseKRPHIcShGE4PUE91DjyEHK
            tOsmseTBrxIQrgrAv7IsuzB0qZGPdY0tk+n1n/EeHCPL5GX1wPc6tvXbgF8D
            tYGnPeBs40hh5RyC929QnPYE5b9OzBcjCWAUOpY9YD/1LCPLUECaUUqM+4ST
            LRMwsHC08aZwl34JFL1c/GDXBjmLB3o3XyRuIqUAuQTyXhijDDoobT8njGXA
            483HZGvASIL6EXRIbJVHRjpuf70aroZLPBaCBnNipOYEmqRhH+hWLtfDugxX
            U+tZOBoB6oDQCFBlnaxRXguBbo3dBp87MLEvW7ndfqfdG9sP1j7+zw1wyZ/U
            6fpqv4/v9uNun23o+RP7GZO+gfkwsE1Ko8gPbdvaRUEEqhMu09VILOrF0MpK
            BuXrKau244EAZifnNiRwOy4FoGv6pA7PJijRGZGTNgrB5xpwtLv24iy5bhHB
            m7mtlG2A7yD9epJXnCer6gCLK5jI+cHAvcURxAnhg4ljh7Y0AG1EL1VsStwh
            0s1Q3COTMOoiCZ6LKMEDn9nBXmR7RioKBHJ22zRJJO5P0vkIFmUnQNt4IPqj
            6ZS6AAvRe5yUJFwf5Dvv48e9NL12mt67GZuSxMerbVB2SbKzIkEKf4O6QTtv
            PNcwH6NJqVa3bqud8izryC+5p8tPtzlQCBIpYePcnuW86XNc7fUNl1swZRCV
            UvWj03gOuuD25PoPz0HbVd5/qIjN9uoh3V50CNkOFwaUSH3hnGTtXx+UUyXm
            SHg8i6yAPycoaJeBBMVKgDTvFKW66iihSxSotWSinkQioPFi94MMoXEpyeJW
            gYqxcdIqszsw3oAjZARJ9AdcvRhHLwHhTXuJQgc2YywvydkSv6pNaFccEUlQ
            QJcB/80UAIXpQ4uNOmhdnNFOcFl1s93/toE7rVypG8dC0zJpW9/QeFx2sXrh
            iQapOKLUFMgQAxk36HXqLShPapFSNY+VemqgL1OUqMPkSuPKdzZ7L4pccA6E
            dCXTWnR7ybS+r5Syx5rcS141TQ1hJDhot/wUnJyRWhS5/inOIdN72pSJ5sf7
            67x3+z0wAidu73YZorDt0ihaMl0Q0TSfuYI1MV4qcJxuNHrmLdMxSTwwkld/
            aeFqCxl9qIVnOovETs7JgqdObEwuiqfAtHC8qycZ9mtBwXUl8jg5XVa3TWrH
            KuuRpmWdampq1wMBK5m374pJSwZYyc4OLF3bou/OGHXAa/NGk4VsnpBlTLdb
            tB8TUQUMctNOY6BThe7hi1K0QQFgxv8zdlpCfZY7dZ5/qLP7w6NVPQMFcBeS
            g+bgqAwTM7yf++v1DPwIhkTOXBJrWRv9LMdnKgdcQ9ynZwIGe/EBPWmhQYGu
            xm+mw5Wb4FIIg9hsfjxNCK+zqARL5M0GrotUbSe3jTZxpYoG791gQCVjfkPY
            uCpsUvo2/1h7eA1DbN4bLA8jPebU+zus97uxIy5xR/yxzlVW9hY9ANT7wLS/
            kDLlCdgzRKxgIbYbiSHlHi+7r9KtmMgDK9HN8NGZ6wkoQXDtV9qayA8JxhGz
            hGj989vGue/4DxI3YXJwbUZZ0aTR6nOBtgeBnECMqKc2lppsu7LcGQdxaK/y
            WysP0KLuBxkNPmectIfEHMcVpGQDbrH6i0tlc0SKECwBEGfQ4dgEgayNukl9
            Eyl9U98b+LDBGsymVhPH2J5RvkaDb+0GCvEyJzCeyTkRTOJe3LQXfw/IkxKT
            FVl4cmkgLc0NhLDV2/fkghgGvtBooOkYBCU5emc3KqAx0B6eRHKZ70mVhREi
            2vP0aUg1MgaUFyF6qTwXNtHFkM+dog0BSQMwsi5FHOz7sT414xZiCfn+tEnT
            r8pTu/GPE0GUUqdid4LAuQP9SO8ofEdWgwZ/NM26bwAr6rk9LXpwC/ai0zYK
            +/UBgnDa6iSOsB14GkEIlW52a06B2BJVarQRAEVmxzzYcc+UnNAmjfE0cR/3
            c/kpP7L6ItmJ41G6pz6cnPDWl+BZBcgS3KeUAycAv0vvDyUMx2DQPc/SiaFS
            D08V1mMB8prrhbvNdcNCmxAvyYKHvLC0ikZWm+Cw0MCH60FoXh0tP1PexEWi
            6zYIxuxHotjG1NK0xMnhIdHRODG0j5DtNLmxIp6DKgpuqgJQRS3Hi1ihe8rF
            wBrTcHSUGyT/o/umvcs3PdmffvCbNjV4+LrwRVCk1/Zprt42MQgeE9Ru8c1M
            kkqbq8MxeCB09caTa5LmY2DhmPrQwA67REwVJ4q/8zDVML5v+nmaYUeJZRzf
            h/5MmsXGm6a/Zk3DUEaVRofYaZGWo7ek31WKOSKgRSZtk8AgGisNa9HWdFrg
            7NFeTeJJphw8l3H+2xyLEMTTllr1r9LO98OP78fzfboQYhyXGAwf6O3wWS7k
            52aZgDKlHDeQUmmMWLL1TZuP2wVdKuH0DfdBpwR8D71vsVHld2S2f3SzYb/o
            WsXv3ZuUXlvtrI87NEwD0mMMyAFix5Rb55FUzTMybQLQ8XR/dxyb/uaEgvq5
            T30uElEEdx7weieDznbKtAFcsrzwIf+YrKfablMf4u5Du+9jbcMTlOh2GA1U
            FrpPdbP8DOZJXmlHUtqHCdQxmRoy++1WRlahwerReOO+BxkNCmi3FKPucocH
            Ct7ot2K2DwCQy7jYsf2H4ked+K4jyYFwspkv4/lw1AGZgMDqVqvbtspg0cJD
            DdWPhpwZYbMDjV5Y92IYmUwTJr/dAE8HeBB/djovmdZKFubs3ZOpe09/naxz
            5DlpLd9dvM16M5V0+mebfT6LpDZtxFj3eA0sLAwnl+W4ObADhu8Up77HgMVe
            pwyQjPxC2/ai8NixY/pz2p3AH+Vr4el0DDYGV8RNpr7fPbYJ6N5rFhheC91l
            rWcmu2wne4q1Is2+3MpgESkKW09n38Ke3zN29gVbD2yFlQtbTc0tjDH/uVJt
            NmGvgEBO1FA0j68ucAcuwQzGh4UMfuKtE5nlJVZIT8pVI+I3OSjn6F+Dxeqm
            U6fFDhZOnDzKt7UNQiIdLprZsaF8q8MYXZRvjxn0abITwR3FHjf7uhE7dgzB
            LI6UIxgGuKGyryfqhvsjI2TaaAc6fxVb7CYjdFpvM3LXUkRWPgcj72VcKaML
            v/wta9YhS/NOPoCOcn64OmloOPBlR0Zc5DWVNTghr/vb7NLRi5CIyxxj1H68
            b2BXTBMqoY0Kk23Ty26VQ58U50Sqil8Vi73zfZet+/6ZlR/KYAxHBLzDFgV/
            eqvj3TquCEw0O8Mi9dOes/qOERzkKbMo+7V3yd49FXR8+Xjut9E9DliWDT91
            yjgxVcYajbZi2FTtZZxPCRjoIvA1xqvF/dxPbpq48ZMtWHSmFN0LU/fCkKkG
            xvaFRun0nu5ZZk+g9MLwcs+nSyMJKhmHOAXdATMJHgHkdd0WTQ/Zb/zRoEXk
            +gylSRXSCbpNJcHgK8GoNa/QItxtyZcOvpiNBUzUtfkMevC8GmsBfWNj69UY
            F9D4g3d9fUxtDguNXTe/QUmDYDrF61UmTbIcJQHg9K0gJtDhW+QLyC2m8/um
            To0Det27RJ0T7ZyNvC6cLDxPOGB1+wmN2GNolBMHWRJ1kdC0GWMZvnOUnEjG
            h5NJZyC6YMlToLUh3YuXW5Z5YbSc6EqMORJWMtu9Z0OWVjcTOSzQ7yGgZM93
            4XADo4slwRyMQmbbmd1BMXMpnhPavw0T31CQpeBQ5b4sqjsHFRiRqk8QhRa0
            IC7shSHtpT+IGhPkGDi2gCxNZPfNAu4eYAtpSkurT5mNDvFMtHIBdAbIaG7c
            6AiYjufpM5j43wFUsY47quLSjBoEA3G70M0Q/Yhd+H2R7yBU2EdSOuonFYME
            z8MmmzEKujeFGmMgvJ6PXZ6hIC6CPi8ndm4ungAq6zQu2lp7i5egudjf5rtQ
            73GPULd6/aLxpjPzXGyuSPFJxYbnRkoNZDVYDQ/q3lNxR9VCpN6ADPCMd6rB
            6ffQxkQX9uLs6AaNgsrPKx3sIwNpKTAClSJeyjXCdgYjV9QNRuUgJfXsAGfL
            JAxhB5kPw67PdmqK+zntSHWiRt2u6GasyOAPUoYtC+IQgAvjIrKU60Z+/SYR
            QtdEmhnTQavJz5KG7dSQl3BbXIVIk+WaPbl1atm5x2W+tO+NmiwaY7zsPtJM
            sGbhXn6P/FulqmSYFCLsTUIrzeAZhfdl8frQ0pX9ppcb67KPNVg7/E0L1TLi
            Ol7Vxwtwf/eoNMplplGgYM1QNY5288hVk7Gb6zVNA0oyDzA1kJzEFcHSFoBo
            nmnwGGbGFWjDnIuCG10ROWT1QkYMXO8cRc5PzoV1SSG2v0U/3vMtqxdf9Ugp
            Dsms8EzfiOP1zp82o0vVJiAFTACdIGmAOOhzJJs30N4gKLSY1RazmuC03YbD
            WJ/+0ykZSI0uWyQTHrQBzp3jj8ZkZoJUanBaIZPeXNveFE4ee4VRD2OI9DdV
            WFPHWPtLQTLw1rvDrKod4sL213fJlG1esftOQXXAvzvQe2mnIknDGt6NchdU
            kEc3nQy3XbQF3aXdWgw3I1/siWQYk1DBW20igOawuJcf6EMziduYVI8BB1Be
            e/IxZExAwV55GFCtaB/RUkLuMYw9pZBlFP2tcn4ztt5Y7/uuzbKKcFyStaUE
            nYw9cyWS5wx7Qzrc3DlAeHS+W/lppPI8hVpyWw7qJ5htGgdetrAEklHMMMBm
            p2ElQRwXU14bEiV4vtOYKEV28gsiVWPtpYpn1Z6tGlTuNj6HTrgXAwY9Lu8C
            0QpEM6DubbuG0I4Y968JX/0ZmvD2orpeE852eAqI/bmTKRI5O/9QLjLipuQm
            Ru1KsmhW5hpPskCiBOMKCbo1jGIKzRRrftoafJpOHS+Hp8XlL2OCqY7WsxLN
            aznL4PyWqAcTuxI9BBcl01Pu6re8BogFaUFTX894slOWnur1jG7xfHbi5wBR
            aH5osjt/eI0DXy2c8cXo9SlLurI3dhWILWAcEvfwXhxFtiQM5Yqlx1JWgH94
            PaOF5mUKMjVQc6Ms6rxnMo8ohlKe0CDZpLupn2Xas8vUXYa+aOl2Egpq5qcN
            DhPF74xqYhhOmiZWoiyb4CGud8b4Y+ITl7d42SgQD4K2X6OaiIX6nLFPZM2G
            sw7hMeRFX/Wt8w1r57v9027LDESyytG+UqfJMT2DUY4fGX7xmZxy+TyTvXjM
            i5XvC1H6agGl7dsRdYK+c9XEMEWg221xFJdxmLGbJNHYGRwl/UDdEfLVrfJ9
            GZajpT7ixGnJpEoo3HStuNJAPQFlxyBYz91CeS/VdvQSXzEuEMf0faaalzig
            SJAWM54XT1K3FGaWAVcB9ihTzkzLYHoWuqbITYqGVPU9MPM30dXi6qYMdlVt
            glK6nF3xzNG3m+bAH888tbOkGgHWGJC2sW9rTkokHUO18F10MYkiDguP0XH0
            Emchz0xBMOA2vliy+B2QYWAJxrrM57Q46wcVJHYd+3kvRo7bPfA3ro5aSW9+
            oaf8Nir0ihExdqH7ozL6BsaWnS+oA0p3/9ZuB50Ouj/PBTSh55QKiFSto4kH
            KKRSSLPTcI0BHKk9VbQvdbzcY9/zOYCfkzfxUttr7Gfqi8o5d2fxF83eJWft
            LeeWTKB2ewvDoHMT2GSVY9RZN8b+3T/aUJvXHu9Xm6eP7UcfKVo8bRXXP+qq
            rfJbW7/0r6l/7e/61/fi6OD/U2dPA/97HVU765d21mlnu9t7KxMZI+Z170C2
            WDvvOvz9Mch1BlmfH+3Uf+92ZK3fCT0uEhJAqrY4jHhCEALehfEvDIQwudRj
            yaTkwFP3Pagmd95xwc7zP0/+dycliq+7TSLmCjbzoXSQoXkbCYdX+zyFTty5
            t6RhJEzlDu5uviMDq8CG8i576Yd2WOu2mcPWzCZ781XR9CYKAOfaq99no/Ab
            ghLbo9zkjPY7WBQTt3kTHAla0lBUwz6BMCJIIjKYbpBdIf56gCCrWd/I7k4l
            5PeBXwCcfex3w/DNC6pce3GmyEoK4gT35X/Dj6Uc413uV2UdSpR6Ndg/GwTu
            SwYv2VYuqAvmmg4oX/XDR/37s77VUx+G76cPAVjqllXubqdYO/f4aGcPjBNr
            9YraOnVz+Zfqrl23sZ5jcFdwcd7i7mTr/6B+KEnCQJCerO6d9kJm88guGTjx
            o9x/+X1xK2/BJxPQfX307BSvQQF5E0YyKkwXkqb2KrxwQ7u9BrKeBc59hxWc
            8uMA8FecmX1SKJplEAdiZ6+cSq0/NxVUS2Kgh9LfR67hM4RB3tjuZZ446PcL
            qosoMpi5L+9pEYOrtAu05iHbTbNc2u50s4NuJK3pdG5Mr2dgSDr4uxbf76ki
            5nsn71M3KOZZjv2g8cMqnYJQiv8++uRupejit+XXZP2Kd0wM1IS+pN/6lZsW
            49WvtPuVdr+STpMzZZu/FdLt1cm4OxnVSRz0tLaQj6Bl2ERGM+Q2ECPwFumB
            z9jABmYGI/uJqpMd76RdGjtKi83cczXjviYvgWiQrkuwyIAO2BQyT6KFp/EA
            CldcFnbGNI0rBYnnN3iTm5GoFoMe7/bAmN99/6bOSGWZGOvoeOia2x7z0qbp
            3VQsUKV4Or8ZDoX8WSdpL6q1y62ZCkGfwXgz3g+oZH1zyNOgs30QlP3uGkul
            lJob8sqPc2adyn7SvJ6hPzgHtdVYOoWglCMxjBL1TJuUVrjzEKiJ3y/wmx8i
            a0i61z6+RfsgGTcp+QpNRWKV9LvkOZl+hXzPc5WvM6iesyTODAYaxmSWTeWu
            5PeA9WkFgJmhfRZ2libVvBC6o3UOJYx0QZ1J0miaS9BQngaMAbMXJDmmu2+h
            Duj1LM1w4oIOPvUylJQnACeI7caP92CL+tUST67U3J7eeoyc2PhNCsjNK5yR
            HGmeJNNcJ8d5Sdd9LQpnYrI/4szIWG+OwSHoK6u5UEYMGzdA5T38UvAIj9Wp
            NYHvXyXie3XtxWFTlCDyBJxCjHKhTll0Wt5fDGwnpTzjp9207Zf9Vd1B7oJ1
            KjDeS3fhBgkpsQtNfYTcr4HfKI7tVBlGgadHzqkJnUxaUFNNM/4fLamClGem
            C0FnqOY/p5ExSb3iqIBfoqVj2jI0Zj58PkKNAQ6Di3qZTtEUiox0oKdLLYpc
            QtEKmUWmlqOnCMUruo/73u/7y06eq3YvW4NqtmuF1tk0hDHveNoWPuhTE8jH
            +HS9GEYAMzynY6jzi0SLXzsvlBEqWBnzqNuytTkULMCom9TN2gXDsGu0qwOb
            qffDKqf9HFjArsdKJtm17Y9kGg4r4KnVjztWzPJup5MzUyPMV98+lOnjdwXg
            Ob/Lx+9mYYQ5XZFBvmRl8xSbtIBDiB12e7kOWvgwgV6AydwlH2S+Dkmot6UP
            mXXV9YAajAHnlmlrrl32s16+nwAWUKcLG0fpTll+MZjfiTpCTYkUezLfcCtZ
            +9f94DDUW9azQ9r7X/u3M7P4Vev3RynklqUrjvIoS/pAfmDuHfbQgKN9DYBR
            lLxpAOnvZQJSPtttuq7y7pqYQJp620nBYfoI6TK20BBkFqHWrd112SJM0NTT
            M+axd9LpONlq3z8X4U8TyQUIu95A/zlBf5oYjv8BkDx9x29AKHk/lMGww5p/
            T+897DS6w1sfr0cphsfAqQbUaBSy4lnjPOieCkax/ItWJVjYyBAXnjnvKFmk
            ZSJOKu/d3Mo2JVYkM0ATUaXF2BE3SLDTNocuGMoI7QWedB+1M9AYo9sajkk3
            ZWs0Ub0kGHQhlXTjj/8xMjFBBCcHgKnj3ADEeX9s4vhHs94LAMuJonsKiLnG
            axhPB9NGcauJmQDFfSoFfyBzC+gLZu7Y7yI2HU2lRuuUWLUSCbpCpC3ZbLIn
            vCi3i9t8qhz+yD1pUiqybosDd/fv5+QLJLh8Glh14N/aZDjelL4YVEUGJjmh
            xd5g9ZoAz28wm4FvAxOYgA3VKadsuTFUN9UBlWZgiohVzFaaW1y2nUs2Z1om
            2Sp7C0N1M0Yxti7V31cPjIDuaEpMF3VS0QAmtwKPtmxmt0lpJNCeb8DfO9gQ
            48XQdLXfMlG96CZI017Wp2IMtCh20S0/fJrbSiJxKe227oV84wznG/bcdEN6
            JouDdZ3nf/j+Zd9nlCxveioaffhLjk037Q8YiX6HJeYmLf4lONWJJR5MNJ5U
            PB7ro6dxqxEHjTJIM1u1+ZRBRjGsfjW70tpS+qaopAuMqTwDo1lVKlmo7MQh
            CHtxJPHFg8VwWM4CErlteN3IR6AT+H1R5IBtFEBPK5KTYgQkc1/nKaPwRQtZ
            ReWRiGHUKIa/BqO2y/KM3QRS8jzQZJzfrOuWzAbk7qfn99NyRt8qLfEUlbCq
            nUKV5rQ2s4Si9luIRJF6sfCBJrBOA6fBIdsxewRNEn8zlo7Gx4CotB3AxiRk
            ZxzO4C1WNToti9YI1kGCXPBzCjmA8m8HMerx5MAJrgDg67/4LRqwnPpgXdxO
            rBu4DsQU1aJRSvAGIFDJkMab0i6l6fD64BVH5SJS373EFJL+scVj0BjZBvg9
            OLpLYTeIb3jeC8Hf7Fxm+kDzMXVnMRIWg4plA+Jc3V8WnYqxTZiETXjcw8x1
            1zbbXcMIDpBrwvrttisozmB5iXbmwpeZ7yZoDmGT93UTSIdg+knoHELpEDyH
            QDpU14tw+kFgzTjHpzipj2WR5ff7y/ic4JUMbDd6qChMnnZyYsRYkL08zgAf
            coal1wa+2slWclH1TsEds0SnW09iYdx+dN5tAz1fFA+ToIO2O8NlL2uG2SyS
            oeYszOSa8RKu7MBGVOUEJZJQrDcg7SHlmflSkn4HG2ttOPmLghADnHduW5dW
            c/SlHR0jyisUoHK0WbvUYCj3AXUz7h0gfGx8orzP1HI6xrICr5QteruuNF5R
            SocHjFRUKE3ZJshOgf5YYhuqiAqcpGODQQKCST0Gs6nwWxf4ow3WgvxzoiVG
            uPubJ7iXffhu+zp3CEiGLblmV1QlR/066t0yHmRwYnpVT3WKnWawqwpWAn80
            tLjdG4YzSjk7VZU91ggCUolESX3YO0w+qIHvwfRm75oN5m1cYbzOVbvUFAxo
            2qi2UPCicoKnEgaFRrkYo0NFywLajkuJhU9mOGPGyCYuioynQdMLSjNSreUB
            E6rAQkTxje4bZDAWTZ62VfqOCEXkk5wCg/fj9cf2afC9jePl33IpPbQfhWEk
            aYMX6OBliyMlsC80wmPcZ9KGNoFgtJ2CjjlGE/Rg2xbphMEdzACIJTDhmAgF
            g/N9w/xLSrFMdpQJK0Dz/rrrAG5pCP1oBzNINwbM+MMcONXbvCc1ynuJmA6l
            RU/DaANlToPkGAkR3xrzpVmNw+JZ63DIv2HfiwrGFESLGU0VOO3ITEzia1hg
            pvk823NR+WFPbLY0eYEp+bIIk0y8xEXr9KWetmh0YsyMDe1MckASnPbUm2gg
            cVO85EqCFo6nnW3cXHhnbeyQXoE75TJ5/m1UkU1uYaF2fD0va1TP2n72yCQV
            1CI6G3Yn8QHaBquT86OuOljnMQ6nemJQ4k0t5074iV1RZUwi0ppykYXdomDQ
            NZjdtbOF8kaQ9LtJsArkL9zt6P1cmjm+PtLFol/d+CipQsAXlZuq8Gj5dBvu
            hya/KP7nUL1CYGj+O4EWB1KOKdPb4GSGJ8q5mZtXJlJMWFheOXouSdZpB1P2
            IlZGhih3pnfCenogdlcy2cwYtoJGfDcGcPEGk1vwGRLnWg+Zd8CiiXt91EJ1
            PZfxPXKlUm4axmQiySBzJm4TelSVwHtCtWPAEchSKc+8glhS3NIsJ88OXneb
            N+rVy+XrcaeQNzcBzPCBcQZAk4D4APrQ1V92JfhLCd309vsmReuzRQvZcdMC
            yYS+GFaF9gyMd154PSlhEo1kADIZioH3+QkS+i6ZpG4PuWh2dc/YIZV38HCm
            GbAYPpdswvu29JQ74600q2UnR15GsNh9P/XmvlZ7n4ddE4Cbnm+ck+mfE3dc
            596s0n3txnajTNdsUZjs2na650Qr5Oudd0bhqBTAQrBbQeo01jBJTjaRnlKe
            ALTZ87Tj51h0ANqHfTyXHZe35/JywPPs8vQv2y90fz8/7cja2drR89d3nX13
            yHF2yphDeXYUFfVSwAjeDwsVmhjBRMEsliY9cXdPBnmwMVmZ05fFFJU5/Ww7
            /mz7YwzxD2NQHdPnBEvj9cuA4seA4s+J3BNWf07knmBZLXJByHJtnxX8dsdb
            Yeyd9rJgMV6nUxpuwbTZ1EO+WtTWtT28gRxBKQLBBoAnBmFKxpTKm4wJGROG
            E3BAYlHMg7OJ5H3GwA4W8l9UH8CAYrRdm5g515N9iiFhGBlXIjjaWCucTLmu
            vdhuT62QDxYuNrqL2IkbwyxYQ7Twm89rvPb+FfTJgjSJGKKpmF/m3R3dXhz6
            53TmGvh0qduUC4Vdkj2RAR2m12kMV8zsIPQIYyI62l6d3/VN7dEMaTJnjXIC
            bIfaqMB0Q2au6WnH3YQbkW2E28x6T242yokIRtgXsr6M6ud3JF/0SKlpL+Y+
            wTMSPQocSwskUIe0TJUF3cEF/F82U1xlhd5Zr5RLx9oPiVEDF6CAV7xn/9u3
            RK2SXFbWZWXlUjwodoC/u7yTZdCob3I6E/sT9ncvKS9fdRUhftetFENRT1Zt
            cUQyns6+QnKdMLuMcvt7mF2nMLsK4+ttUui2a7Zv81BWnlHY23pNLm3eqr+u
            V2bES7kA2NGk6Lxerh2uYpKa+TnG13NGa2+or6gcAg0U9PhNEX1FajpxQSmg
            pAKtJtss7lbfmO+g5cvUB9gleueTxc5mNFvZJaRlxoGFoAx4N1qkW4uKeuze
            2pPNPXJqMyqjFWizOS3W546ZQJZAsRmubes3n3niJfDIfL3Lz9wWn4EoVPEo
            sd5jgZTs9Nlc79DDd7cgp5elVixhWkIEMyndEQTz+wPKgdCV+tEpYuP6KL87
            JAz8UZ7mkSq/Ynj1xeukfn/XciWoDRqRfw4Kp3LqWzszocJHtu8y+Juv9iva
            b1Kht7tJWYgjPQMQRqaJbaIx/bPH/jFWf3/3HfP0KOmS9dNMnyxFzasfbv2o
            g76LOt7pKsGjhR3p18pvwWe3Q/NdmRLGr8p5V94dvH4shu8/ypf3JI9bk+wS
            iduguNX09OrH0pOhcehuwpzUkgJkSwGp53FHZudxA0gZ+7fCcFNX2WeQSayi
            7+JwOTPj5VI/nBCmTz9+MgNTXXK1iLrck4yYUQ4JnHYkEEb9kTMteUel+Kob
            ioBMZ6ruw0hfFrSIC0f+RHGlj7KQXg/gRRlvb2JsVTwgv9KMH1Tg7jylQi9O
            bpHyCWf6U4H5LVuj7vqiprGnOPDX5OvWStveX0EOpsU8nskxR8m97mBS19vL
            oJuxQxqZ1mLmTUDARJLEL90cfC3QNoHONgCXvw4NURkB7OXfj9nJVpeBu+WN
            Fu0eDMZQOhV6IhepEm6voECx9bDNjeTQakGTYgMcVLAk0DMuJbybtugYVFdO
            hiwLICZNUX5EsLb7vlcJVK8dl5Rhlfc7Z8+aWcXwhBE1kb24L7MpkD1/Pjrs
            pgStrNdp2iW0sMvGhw4yk1DFyogOlsp/O+yGE5SfOCMq/CI7NihPYPKYAvqF
            MjDm+WNn7EPG7KV0FoY7ue7fN00uKHJpJwMVvUDl2z/F7PWTLMnITsUtqLaD
            IlW/kZbg8/VtmQZNhvQqJnerQA/3bsOVpkxUwSabE1PMFrupHU/BqSVapc3c
            9iP9KsvESipzWwKIseaVgG9SpjsIIHS7Q5IbDOOnkgvFZE6zo+AicKJ7Me9w
            qqATZ+MKjLk996n0scdUCG4Z3iCa03OVTLOk0BVvu8n/VBkl3Uk0EUbbPqG5
            z/vnR+uUZxnVVQokXK/XB2nonhIQ38861DQGimyaOuBUz5VEW2IGhAj1vTgO
            nEOQ2yEGTUdcSQMY0l7WKJRA+JAUuIL+pjcATQjBqD8mpPoqd1m5zrybJq/C
            cSgyyD+7nskPQca/TsHZzT9PACNRiYG+iiwGbFNer+8x54vAERaUOh2JBAma
            Uf+cOm704RU1XpvyfTq8O5GCeVoVho7mynqvhBRuh8unk4Lp7hxg2ikgAz2q
            DC65rd+k18EO13NSFGzcXPQCjRwIZvx4+oGnhYYAjU4x2Jlu544eSi8FxM2Q
            I+Z9fbyuY+3bQnPnpanphBIW44/zZNLyakHl7uu8t/Ii13f6Lf6WTRF/599/
            H37jOTF/drC6Z/dr7qSva3uJk4KVnLKZP6p8ojB+t4WZiZl/FHUQc5EtKV4E
            TzYtcuNlbu9gvIeoTov4GJ2pRto1tlXodajNuk/O8vXQ/CCjx/b/r7I2ke8+
            qFCaBSmQQkpvuZrirO3UjwyWp/cMhb8D0QUhZhMB0f7L71TEVSZ+63q1t9Xi
            7p5yMu8pL37fM1l4VpgWtUvdEHe30ool2c9d2uXhuSkkpXHhCeTAyBhMKfbZ
            RzlG7dgHbP8ByToDQzSXUU/eNG9ZtxiUAtupv9z+GZIdBBHrUQR0mMiTcvmM
            LVqwF2w2Uj/0ci9yPOImHYXxsU+SP3rkWUIlsiBN8W7ewVp3cqOwSDDL5dAp
            mRvOC02r6VshHUWTwyuoqFv5PalgE3dslJai3D6iZ8gjDZrCXoV2w6UVy2rx
            6gAnxKNLHgRuoJqbxmW1dw6ACR9pmmWLCgBIJSyDRzHIfXUv/mta2ky6g4Dk
            /+pv79/97e3v+1t+9Jdk9lcMhkYHq1tJARUzjryF9/O57LTQp5OBaSmPu6lM
            25Hk7+hAOOUbTFXrfNbyPSxkJJ+vm9+/LP81YxZOS+8sG7pLicGe2rZs7VGe
            gmEVcSa7PsBAhx8MKbbuqNKrKJ9NZQ63EyokeQUgunsCLYzO8uOUQ7ZALzpZ
            Pg5GXNhpKD3DVlGp6ag5ZUQnTF6LZhJrUGVyMTMnXiFP2ivInSTFOuW0P8Nw
            PxOfGuPMdIzCO4PcHWnrzfBSLEWheaWZ7PE243cpqcmy7Cw3SWAmF+c4Tjoy
            JkTg8xKN3GVWwlNP+JH6EhoHvXPUOS7sSPc6uUzJEpw6ZM4VVR60LZ8VBjRm
            lN9NJMhB2sBa3A9o+yWRDcUqU0lRkwXNGY+SpJYF0pZgNg1DvIxPk3qcRHK0
            F3kl4QN/ofI2GIEZrKauyvK5wQbYg5Xilpk5DRJI2cJSMnQfkGyT+kEDccpU
            RRgv1cAugw3V5BE2nDv1JJWuc+ds4zMGkY1doRvJnLQyRJm6cn1NaCGHf9NY
            JYWb6VlIQQJEezudjB0Wmhx6Dd8GY3arf0OOT0hRiKfRF4ZVVd8ZZuVjsei8
            KaVjtPqdm4WhyVjc1NRRLBULcWHWjQn16zq8zRMM73CAbHS5Wb9AVadLIYio
            5Nvs032WnfmvZePCAd14jQHpFLpECrFbHX8uw1eKfP/azebKToM8kr+DJ08y
            RHqTicSt1xtnyMz3FT914yDtWJDSDIVIvekRzHqLZfqKNcoxx/LIfcNbcOXq
            ceLOpPqNW69m76jgOyfuQj2FXkiMFFJvRcndhMbJ3njynAJ0SPXQdy4G5kux
            YH2W7zSYhCB6y5+zQ+tuaohJgU1fYZ104+VuWI5/v0XkA0GX3k6nChbECMam
            x+mSe1k0Xe4l0GSFfpAhbg0jiFy10yqjqMvgW6l6CDsBu1LdZDfxgpO/qCFz
            UENKh8xU8wzXcjSQG/QRMDc9G3ICNuqqKuy+IzWFRWplmd6f3AWNi8XHkJye
            0ug6ERu0nqFyTmZlEsYKxL58WbdqWZDAfE1lHCkxfviQJDBQRvLPtq1+hMNJ
            aPpjcxFLHlvfhY9GvxdHAIDURL/nyWj7iti3IzeRYruekwJZKthEyooTtRjb
            6IOqajsp6ouyS7bbDvVWLhMOMn/BFzUVv6mpm/xKYhJU4zeCUXVLlpSuVQtT
            El7aVjoDvyJ8nNTNS1LkLZ73NPhOIkzQZ/VRseS4iMrmCIZTavdG1vwViEiq
            RzNYzzv7MH1ADyU7PscbLQCTQJW4TMtbR9gdFf/ArE4vZqzd5rryrqA64lCi
            WPgdRjKGvvkc7pRLibvFzSe/JylGyyzI30C0DOxYJajLlhyCJhBktqIZeWcu
            dDLp7NoUknvVTxb541n1RZpL4pt3BKgj9SAIZYhF39vBZTT/4WLNtcoXGY66
            z/WeLNmOXbbwqdj9UrR3A3HaMzdNZkHt8aTnnQXF4gMo3oDGDSLn2DvP8ddv
            3mO+8AX1h33/vvM7SQfNvJoMFLJALT0lXngnvUGk29l/SczQKjxbbmqSYhY8
            TnD5hazeuMICiN7LotIYuLvjCemFoZQ3M7muvjWoO6/NZbD3dRKxexlExGyN
            dyqyQrkaMSzmkJrWeOKZaSLAOzP2hu1OMdgmq2Ms/ctCCEvcpHzp3Sz+aers
            TnzqVxw4MsCe7kvbR8dZKgBncdgexWDrSpRn8sW647J1nfallMWPp0wknDhx
            PKHGCzezV9uRHhXu0qhHX0MadabBVE74HRUCufsOQgFvZPO9tk8tvZsUPm1t
            nJPC5sQP6fyzUfAT4bdGh/9ro1/6lBCfV2SPdl9DIVB4Coh2IsN+OOZk5OQm
            ytkCMNWtvNEP6efzm+VomdSAJya1krR6iKBG73d6Zsr1MBAvAgC/aSaC7wMs
            NtrVNQnU6VFH8idNBq1tLAeSwjO0Cki1SXOl8fm8EekpXFiV8kXeHZjklpgr
            J150T8Rk3W1nJH7Mb5Xm9jSqXExReRVzCmNeneujbw8N1ik66NpQCtTz2D39
            JbZPaEzyqrkFhhjYua7gdAWf4vRBm+A7lFs7KjsLl38pKBfuKX1XfDX/yEKG
            x3sq2o7Msi0n2qVYBbSz03WRk3GVZkGFAGYoKB4NfHcsAVqRpkkighNw2lj1
            433/eL+c4t0w57ZdV+hDi6r41PIZA3JPtMCvTHx3yUX/alIZReawcSCk6Sw8
            ycsx/2hlLDWa9V60ZQpyyGIZhgGoInqo6mhEguwLzd2oS2IbaPY49t7HsZnP
            jGmmgZjI8txX1GLExWgoNxnnxihjdYM1xQBlpRXMgLzu30QZLz9PRtgQNbVX
            FmQtvY6x2oABM1AIeymyVG+yd34U+WO1FS0rEQFQUmivqAxQpI7K1v2QeWL+
            NSwZOrZmVr42r+eghkBbm2EfoaKuFqN5JGdJYvMlsQ/7ld12YmJQ5c3ZX1Js
            yTSKwSd0wsqa7uib5v3uv6LsttbY/2ppgBmoIjPIa5Tm1Zv2dvc79skTqQkl
            1Xn6Tbu46i3EGbMcZuZpa0rnntweS9hjwbGZsp3DmxFIyYK2MRuCqFQXBPiA
            idHdpcu1DwOmVhiEA/hHhX6/GfASwEdWWNh31O/Q4n7QmjJ1Wzg8b9oJgOWM
            IeDWDPGKydH+gIaGFNPgtGKfN/ID/zTpZzMEuboWRtZR/zAApxPTykkWVBU+
            3cnW2ytspKdNmS1A79zxN7WcKzBTV9/GhIn2KO/7z4Ve/QE3GhV6HZM/KazU
            5EcsTtfiMCa6nv3cENjgijIiUAtMTOPD8x37PiO3W2A82TV46wv1aDzJ3WwI
            oqgXhhTxtFoPSrllJ4hmDW1WfoSxxF0xkf/pCE+JVM7YYYH63aWdP9+dYv7c
            92kDMt68Smnkl3lCmZNH3saPH0947+Dg3zsYJwlk4dsGW/gMQMMDGNZOajsM
            2dM12uqZ68WQ3MPX5BiyUuSxxeoMZPQMx8miKD1OoahomIDf5E4PGKf6iDYM
            Nh5Qo2PxqyKWBD0I+njaOMZouKMDPTB+ELO9sR959JdzVt/P7840bko7kBXr
            syjWQiI+JvRVP03ZxmR5Mmd0YLWypMfNPsYOXOu55baNKdHkKaD2iYeJga5I
            Vav3a0ofgV543dNonNxmQUfSxy79uNfJ2N8pzP9ZRL25qDCV2GnPwsTFsI3z
            RAW1bZRH6L7dn/IW8e+42Jab+pwuai5+nLB2+nlfjPhuvzlGzucotCtYjDjV
            6Y3HNDJAGJjhPnFNVp6pV3A6hi0O3kl7SV9cLlDkZopSnVx+Byji8wHWJu6F
            xMooRSYonPkCue0Ncsc+OZbdcifzocfw3c3hSMqwC3R5pQm6YkFP7pyVDYkF
            HPtFd7yPj9X0y8fCfLWZFOuSecQnsKhx0MlI49dC+cgT9nFPT931vncfk0L2
            kAO/FHxc/dBpruWZrb1OcE2UyfF9MbCb2tMFARhbE21p1y9Tgw9y6kxDzGTx
            /RjeP4p/BOB20etYUdC6ZaIfRYhUjlTg78grdmUzoXqE2n/TAou51vv08d49
            cqdnclsglkX/J9pRty1b68qfM+9wM8I4mYc1as2rKpKcIld6s4kGIZnpoUBE
            rjT0TIFF9+npCsnuEAOukQ5X+FDnSVNkpk7CiDinN+11mqZ9LKiLf11QubE3
            AydhyoPcck+7joUzhZ9LJGsjYz5J3UC3Doou6fkl/gGnXrnlHCXZfYuQtsfB
            ksgF7Sf/uft5TEUMTCzUlDaVli0CNQT3TKyAMS3n1F8FjeBz6rcOeBPEubEo
            Sm9pKng+eyZop3p/lVvgqTLloUBtB7zT6iiYPifKYpnAlSdM/okbNiv9cJjM
            Jel1HFsTXMUpGjZI24X0Svu5C13Y4nVqaNd7J4LDy+cUCbZ32R0l2qF9fiOC
            ZWWUEU3afvYkEAW0pNxB5RiuvsQ4zGTfUsnMyxQAFGsItDCQ7BMErgPI/rhF
            SGkxQqHhC+5otu+H+hyZJoWCTOzyZjl+SG8xJMAMOf2YH5yeXM3ZS8njzBon
            8lug8KgpVdxp8plKqewm02QObVJ5utnCkYfzZzGluLPFGfLPuRSsoXMVReEw
            6VCzJD4MOBo3+LgbKBigxkg9xo93zBtNRsC/kuXRKLtMSYCTGVrcKEWGgkn4
            zKmjpM/AdLK+pOVOU5C9m6gkFhItgZPSxiBzCH6AdkfO8kovhr18lNDONxPl
            4zPel0eRcEfsOH3KKQcQNChYNB8jivyVBH1ItYvDQlb1Qz90MV8xU5hZvM92
            ZxEV7tl51mjUsu/HVU7AV+md3IdopmNjkNLrgHtHhCNJNrXN/lEQ4T1nCpJB
            ImGarXTckdZxrCwzhgL1URqtbbbVB7eJOm77SLoJvYG4EkPXy7AyysJDNmDR
            oh4Eqi1PJ8DJqhOUP5k/xVtcFGWV8hbtK6CzwuTTnN/TRI7Il1mmsNNk7+nU
            zhbLtN0+309TFErm1yXRUqDVSeUZfcJNEWjSAs9HdBdp8uhULJtDcDQyK/nt
            FXAIkGtL7UsMJ73yzlJiYhswCmE7AgzLOmD1DkGjnHrX2ybifqUwu71yGDwW
            WCBtZdscFtSq2UuviZOd9rYVKI/06XS8a9S1K9MkM7w/27aaVFdYr/wHnEwa
            9MmyMWA7eeVquSkRwqEhY8FgrJWMLxfghG3hdxiEL/TCCH8ubHuxwLoEA8ry
            yU3q3W05cZhXh9l1cK7AChVGT88XeI+XSgIIy50NMkktfWyQl85KeOOth2JU
            bEYhOco5R/ViM7s2Ci1FzZIOI2gHbqS6AEezKXNJE1Vm+emyzH+XKRvf2lcp
            HZlms54EE9F0WNq1ppdKmwlVEAF0yC9XbkeEp0BDVnhNk8YaL3Cr4VbztwYR
            AweDJ39GUiMgQRfjZ18WjiUongFNq/jssgxLO+idO/bZclvY/pcUYEa6zYzb
            WSKHakFxd8IlluPCr2AmvD1ajjg608gOTbZfVm5sAS3I5vtLX7Wtatx1rHls
            p8/LXGHOCTo7npGcVN7FOiz7bz3xd6LfmbVoJLl/V/MVMps6Z4sYt/uLGVPa
            b6qqrx0ZdzC6vBFDyVsEDzo6XmqU/UEBRYsaErIquzuNj2iQEWhO9MpqTi+v
            7crAhEVeopidtWMqeHejEEs2VNF8/wWVgmRoNEWocu1Ipv9QuvrHm1mc1+61
            8NYBZcNWI1CtQNf16ZWiWJLlS3bX66jDe30b5H8uuOwgrtJOoj0h3+vtZ8qT
            te777qRykjTAzTx76dBioflxapp+z4DTSG9wZflQOwRWna7vl7m0vyX6wH3M
            QrLu/sJlTGqRBG7bmbP+JCYnnhIfclYsgkeSZax8bLYonccRpHLn5IqS+vEO
            oKAd8b08YJU3xhaCVNdn2UkXd0k/QRl9PB/Z3D9I8gJE9YM7amX86a1ZPL+T
            skP1kuXB0E62knNyhaXoWjLNZEmnN+/8PDy11TJK6Z4814fLyVp3OwvIeq1+
            1HN/U++yeq8JH6KF83UM308WyCR1CI/sGs1U42H3f5tLybB+8WBTSoKVl/XP
            sxdnCY0zGgY2ZGa44FVeGai2nuJlT/UDcf8JQQOBj98QO90b/oS4H9o+/4K4
            r/aNuP+ERD/xpk4OTXWHuSBWSSEUZaSAw3+7uSwRO2bN6WhsL5cPC988sSDZ
            3nGDjGR8ys80NnKJcXeVMJvadS6aK/XeubG5cdZ8G7uYneA7L4PSYRItV7pE
            WroAZ2rqpHSHp4PsRCBy2849+mDdH9Tp8JmudW4oNpZMlwYTUddJ17kkE6Zh
            dVw0hyCp3XFo3fW+VyrjTdnx3ckCFX8kTjoERrQENUqlwrDDin+9B36D7wJF
            7V5ZnbI5d6nl9E4Ge53g4Ey21yzRBMO87IRJjAgcZO7ktn+OciS21cFhFeZ1
            kkY2VCp5ZZ9g7hm0Nne5noQcjP4fAaNwqBRUkDJ/uZfQ2pPzA0Jg5xAdwBfB
            +s1Yb5XOcIF5YGPe5rhJsYtLEqnMRJyZgXz63FHYeaXqnfEMg2kGldusWt62
            MO727phseGQBA2K+s02QYFSaZtOfgzhKStxwWza4KYErn2Oa77rj1JgVivxm
            Ysdxf7KBFEZzus3IQvyGzFQumU/Zfdv3yfiX7Pc98FWjxKAyY4iZ4b5OzgR4
            GVI1MHn5PPqoHEy9fSmYBcbLrFjD1PUvo0OCN3ffJ00yfa2V+S+bRjYmRS1p
            SqJXzbE43Oaq6PZmEWFC1XY0R9+2HYOnSQhSiLuz/o4jg98lKUrHUkZPAnxl
            gIMVaICQdkJw2iIX5tQpQug0Ymo7groyDjJl/JAZblWWdk+bNsvkbj5h2aJ3
            7PtINbGyjtsz2W2DQGCQOpNrWdbAm74/h7xtFLcDR9f9DjhJ0Rb29xQ/0TzI
            6Gfq/u77J7M8zaGGYkBZH8a+57vI8fWdS+iyWKPtelGcFl/gpO50ltqY/Tub
            QWm8ScAN8xG9txqf8a20GYs9PwbgOw5BklVhmah6WwSAS+D2OslPN+t0qTGf
            dqi3ZPdh38d933bj//K/m34z13/5n9J+3uJB/rb+YHRB974n8/X5nlZ62cZ3
            xmn1dki7Vy6F8Wrwu/vDmMqf9T86YO9f3/9+TdOtrKX7fr8jsqctItiFoxU+
            hX42xihXnBQG3eRfpJ1AiK9Sq9pgz5r+qH4pCCpzvvX462TlPZnjSr++T//w
            ffxUinupjH9t3yYrpd/HF/b3l8Ur+kv9Oaz9x9Vf3ztaNf1N/85m2caCf6n/
            WvS9OKnV//Wdx7iYf/d+7Ml6L1f8ah+Y5Nn1fy3wT4N11TbTNX+fbLc32/WH
            zdbOyfnDzu7XP7yP//C+/sP7P3z/3qR0/nzp/2FnnsVy7e9X/v/AYtf/Txf7
            +V9b7P9T85c3E1r835ycmWwwr+MWAkMyvK6vTgfr1M/yK1ii1b/gjF2+PUH5
            43uy69zXzMj19yXuS4NtofF5pEkCdcz7mve1FLtWZ1csguorQTSvj9Vn4kle
            x27/Z3/pZHMpYgzzM/+1v2xeITluu/p9H+d+XlxVu8xjTE3xfj/bvjprJyZ7
            75OVP/PgC3B/Iljdi/Pb0mWq2T8mhQzDZ2ffOOR6Yc4fB7bbTvtRz/3D9Wx3
            Z52mak39CIwQ/tfvFwbc5CIWu7bbrve+LmfXcYMNXM9jS01w5jYJa9e5759q
            VxeZSFGxZXWNW7pMyyshm57jyuZUx2jM0aceQgyK6Uq1P9ex7jQLxKGyoxOc
            7F849PoxN0F8Qnv24tS77krun8HSOYZrKsqquVUGfVxUE3Ob86qp/KCi4r53
            DDoftPO1gwJzvigmxnf5Q1L+p1KR2+LT6IF/V5LyP5WKnObZlmTC8O9KUv6n
            UpGHz6Fw59+WpPxPpSJ3HILEZMX/tiTlfyoV+ZjdWhr9+vclKf9Tqchhhuxp
            0izj35Wk/HejIsvD5Nkcw1II5pLm+DqBxd6/TjSzGXMx55Lqh9Ft7eRQt4Br
            2fWT7HavcA/lBy9bn7MUNaTN9PmRGMLXzvIziCQdzq49WfmnTSV1dnOU3z6y
            wsif7a7dzvs7Mfy288Yzxme7i1Lxj3ZaG8/nvaftBstT7WMn2X+Dsalg31ew
            cjlZOSrOr3/Hf24vzlOv//fv3+zf2ifnGf9vLv79Dg4lBEkR0///13m55TEI
            1FZYbo6ZKYZCe9F9XqbcV6Hm6kWzPv/9v/1PG3EIBw== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
