<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3389</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3389</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3389</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>BCM43142 Bluetooth 4.0 +HS USB Device</string>
        <key>FirmwareKey</key>
        <string>13d3_3389_v4429</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>13193</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3389_v4429</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvouPYoy8+X9nlmAOuC1Pk
            8ywppxJxf+G/Fc8i7nNuKJMwkBpiCMHhv943tF3VasCc8OqKZ4+OgL9yVD5p
            QSuze9H0vuP9rJz7HOul0p7/G/5od3/ro+/50mg8Gr6ONC972ruL5aqTv1S+
            t7sZ1Pwce56pxjPP3EPWvnBuz87YJfq+xuBYVUy8+sPdvbi7lfkc61f2de56
            1n7vdw/CvpbJ0aPFvtcm4WYe3bbejOx2qa/ynIlj2n/VXKtXZVPX61/R6Nv8
            fH7UMGwcX8/zHl+8avPaAQ6LejzLpBk0W/2rrWPPYf9qK+Sw5+6r/J6kEb/6
            nII+GF/1zzSjjfSrnv1vftWDTaYWzq/++GrPQ73aR/l7Lebnc1+5Cly+z+eu
            7Ofx8zk6qPrjd/3HLj9/Ka9tk77rz4cgU/oq75LVn7/KoxZ7Hn/pZ7dd/fm8
            TetP+arnXDqb3FxJO8AXbNdrPssAxsTdt4/n98EtX+Wx+Opbi5/Pb/g6v8t7
            O0mzfj6PtarP86vdUGKyc/X53C9b6zV/ea4Gzq/yIceNDa71Md51Y43P5zaD
            Wrv10568vsrf8OGqn8/R/25H/Dqfz3swkOKPz+e1Op1fHz+fu7bL18/n4y7/
            Vf8xrfz5VY+37qC8dkAQzIno57OMy2mfl+tr7AJGtX6Vr017pn6VT6hh9+H6
            nPMsMHkdn8/3lHAOP57HaJspf+2x0A0w1a+9ZDQAxyW0+MvaeWDI5/O01xpb
            8+P5dT+fn89dOG4g/fH8BfO/6u/38/pzu2H+3G48fm43xp/bjfXndudXPdee
            Be2AWAzLfNX5gr1fdd74dM6fy6/vPm84sH5T/6q/ef5Vf9oI+vyq/8Y151f9
            9X5ef1P+q/7VXtSG/5jbfbBr/Xx+w0NQHR/Pb/zf4lf5PW/tq555l/+qx/UX
            PfLz8/ib5/U3z3+oP2ftgJTP11r/+O38Td/Wb/q2ftO39Zv6R/x5bkf9eW7n
            8fPczvjz3J7f/Y+v8xs/6tk0XImfz8feG4CV8ae9Stru43l57aX40/mtX/Xf
            85Ai1uL5fLzgT/6pXcCZz+f9BWfyT/0hOHw+LzUO7QBQ9Xed8fvbvRbgVcrH
            eZw3PfD5/J7D07759Xn8en68zunPz+fX892f6/j5eSIciL/O+fV9rm98/bU3
            7n6Ob/i2n7v5Wf+9x9z8Da45fn5e9njveo8Hl/bTc7fn4d7r9zV/7+H5OlPl
            pzNCXhKfgBIEd4lny3iBwrqdt8M1jIN0rnuNVFu57tlyIHU8GM6AxxGrk7By
            Gata/vR+VdLhomav45NZGl/M1c23p+N4c0PHm3n8vv/icAHsIqlx91rlf+ef
            Pz6/iscHC4kZzx/35dXd+9TXj/v2ZmU3RO8f9+M1/Bu6zc97Nz/GN/386OAM
            M3zcx/nRYXBX6Xl/xvkxgFq1A2rCqpxjfbw75/l5v86PwZ7493F/nde/uj+6
            9vD8nuPvFfjY4q/5Ll8SgfbFs483ftgzd8/YPVMvPLFn5g2TdB1vmGOjvUd5
            j+bzWoxEa7b/ag6b8nSn4wnyRySUDMvZeUK1ktQ8fr3eB5SuAjL+6Kdz+Ole
            p33Ox2Z87sRMSQjIRzub/HywxMlahibqsuPgHc/MWCfaqO5ru17LuMGWbCLd
            mj7aGRuX/X1sV46w4/247zr79b6jbOPdOmBB0/hbRttxnK9FfpcJ2LJa5I7G
            1hxr9+xZJp41rrtMakNz0k5sjneZ1GI26UdDmdPaSpStvHoH3Nved2PuO/se
            bAn2BHZLDUQo9j3Wwb+/wFjW44sy42Wjc7y1nmM9zkeZOihXwV5LC6NzNp/Z
            u/go08CMi+dM2FzJD40iVfccHch5cDm7njJH3XjhOUvD1ZC3rAZzbCPwn7M9
            18zznqU+B5bvtB3QjSMJnzO/0Ogp4gFdj3PsPYWW32VwdJIONXhA/O15mO45
            V+Bt41QZVIEJ6iYzebbljlyTOPLaMcZoZVL8KOPATxb1B1N2FZurld31KOMH
            paRcF87nYRRc+mwrtPguk/PYMpaPMrE8ypS+y3zWw+4VnpdCNFtt7Ct69yiT
            3QY+ncd0txWnf9YDDAlcyXqw+9yuB8ArPMrUQI5jr93qdgrO6h8nDvAoVq17
            L9cRss1h+RxXdxXQI0p2dEzM4WXc4LhRRe9+vXd95q563aHW8qhruAOI1kkG
            RBA0jDYN9VEGIBhc7S7j++5TDY/T51aLhl06UNGYNkcAXONR5gRGsjJYFhz2
            tenv59iuNfcewpqtfZZqjI858uC3kuB24z7zNo/1Y468S4T0HD3aars/9aMt
            71MdNo9Yj7isPxfFJ+8yodVa7/W45oZcn23FVntSPYkEkp3b9tlWytE4l45u
            +Q1HAG2fZbCoJsMdFJBnK4Pz+9hDviTKjLjPTh4Zm58xq/ECM45P6OyrI8z0
            tna12xj9TA/45VueXmXqEkyZNz+pMsHoyeqLw/JQFt2BuGbq+cSmxwhQ3gPL
            UpARAEcC5hQYEfRoACaK5HOwCypwRI/j3y2/WzcqInFOr4tcNf4b9d+q/+r5
            u9zU06mnS6WXSq/6WY684iVO7DAtzMT2TNeF3V+sXJBeJGDlTWJ/LV5BAZxX
            2UTLP/jT7uva67oXFr/+2d/r22rfNkeo9evfKn/93QtAV/75/Uc9a9fT/9nf
            j99e/+zv49vLvqXO6Z/8fX/b8a3JuE3ya/zhf+7JpZM8wl9/v7WTON7XX38T
            K58mzgPgQf+CryQGcd+wocBGcIfFAlRXDCufxYstA7J1PFRJ0NOvv/7W74fW
            aS2D135TvGcyqsXHF+ksCsVvcF+T3Yd93/d9+yLTayOMSC38E0ZqgJoI/wX+
            i1qNwXH+6+9vzcJLIv/grp+c/TcnPeuLuXTGjXyxDcenBOAnDn2Xd0/m6LN1
            SW1eKtAf37+k0z+/P4cTlgUm1B/A2sW/h8RE47uX9Ovzl7R8bCn59/zkPX9b
            WfTL+/Fj+01YInU/qDJ5S6JMy1C3ovTXtmyubon391jD7svZ7JR8f79u7YZ0
            lr++L5dRyr+bq3uv3Lrw7+//9O9Pe+3WQPzu/dzz84v45rWWpvH4XYE/jY+z
            nh8Sle/Rub3Xjt/stVv6/Lu9fEuh1deiHTDuB7+UjX+oq/7h/R/6Uv9wLu61
            cu0/vtb1/+taX/+1tf7vz18I2gHz27Lk138hWVsvmBKCJ7i5r68xByv3Xf4M
            8fyavo/y7QLGSsRXdl37Ootx16dzwagncBqJcs+bE7dr3tdS7Frdvr/sewck
            pO8v+/4qdgUhm37q70yHuFC075/P7/6yeslPhl39vo/LrqU4cU1rRSdZyn6/
            ml2Ds/cx2fua7P6eB1+A99MPe/ra49jzIGnf+LVcjl+S1/epNC12tO+m0QHL
            PXGm+8P1rmmPASxKszlx/ae+rObE+Z3FrtewK/hNSR6is+sc5wItfdlKE5a5
            SAAyol3Xvr+qXV10iVewBbpG0O5enF1Yfssozzy8nfVWo089gJ3leQJVT6mj
            oyZX4khnUkWagHwLdj+m0G1CgMJglnN/hkP3uTvXQe6GfASlbmxPdNEIdq9Z
            fNBJcd9jtk6T+hm3HqgHCqKKP8rnEbVXr3CKAy1pzeeZu0J0z/XpIy4eCPAK
            LZ3OuHHKhbk/k3HZw51e8rWy60pTlHEYU3Zrpa30bIMKg2cbrgXts772NVn5
            qy1x227N8lO9Z5j5We/a9TzaiT/ttUlO71Ev2FL3rKe1eX32d0kt4MgbRpmD
            hE+4tWTtBno+Gldv5Vb8ZxRxdTpf5zz+79//zn+byrrG+L+5+F+6A8Bp+Q5S
            MP9n6p/HX3+DKwtS1QdK/3QnnFPXvpsyizr33VLJibtopp+3dUxx+1l986Gd
            z2jrHMlznwdlHrrPApAtolbpkaRJG4lyJzdpaky7zOVAG2XfKIuSEqpmYIUi
            DYtn+TXZY2A4Spc6jdaGCJRGuUmR3OSIkpegv8mkK6ABRnIeNOWSbDC7C512
            uNaYk7tKbNc68VU+r5L8ZaMh5HfeZ/Ql7HKBQsGutqpmYS7XlhkBdjbr1iHb
            oQw8QrU6+tT7oBE1zaBzrlcZ82rXlvLPaAYMIW6ZTvBSxtNK78wiOzRH8Ywt
            TpMN6ffaciJ3UXI82dmzUcVAMdmFaq84RV5e1RnFiWrRD5vjZc9drM2dtLKV
            hNmdh/2mndyznAzPrBxtB+5ylTJXGt9mTGq+TpevPW9UpFHOEEhs4XlhPaDL
            xJzIkNuUK+xCmPsdSOiCP8wd5nr/Dp62bT7VVDznj88j5xvoPXItWE+6Ts85
            oWoVZMh0V72IcmlAiN7TurhVkhE0WMye70Hc0VzBRbQNkpsSnYo+xXJlR8WP
            V9/y4bFuXeLtQppdbUzOO83CcO/9Xges4ypYeT7DtLIN1nHf294ca9S//g6d
            G4Eb1DdXF6hi7CfOd6dC+PIXdgC/BwV1on9etB/uwRKcsV62QXCu+Pu7bH6U
            dcHeTSqGndfZqF5nQragPDs+cJva2eF9pK4Ge4tzlieN5GOrzs4VOAnT/E07
            X2WZbPGMrtt5c85viZRkOthHfls3ycCE2plBndIhenuEqPquGqWor7VSuORB
            xxs9Pk3uOS6j/z14D54knjYQponW5xK2YgAzYK9RhhSwhjMGfNGPieoazmHw
            nYYvefkeFuk7EMQDe4ciWu4fj/MzaTfsRwD9F6LvblJULQ6iu7DomNAd6vCn
            736yzotaFK4b+4J1RRsZw2vW1oU2vV+UXB2rXvOKZ6njKn7h7DvQzGg3YMLP
            037jzF7nAMcTOPeFin9wkktrM2sB13gZz1FLwN+sXM68MK9SavG5fCxSv8rV
            ad976pTRrYDPQiOMsL5i9cY1sO8wH4e3+UiJk6Fv6CiTWS5lwGlwlX3D2REE
            qF5wVrMi7VmYBsMOCel8Anyub3uthXnK7SpljEYpIja5GZFR1s3dQBDnVqqA
            vTWP9pJ7H1bfjMCH+Ias8lEiTl6usQ5s3CI4x95iB2ItlhsnZRMn9qZ3OvfR
            XGLuOmP0Em0L61HLJq0EwFc0fIM16SlexZ0D64m+ziPd+223uaiL8QUn3500
            gAg8sxPYZKFEXVjjdF33XLelOjJlM991BP9rHfO0Olx511G71RGOH+pYP9RR
            rA7uqbuOUq0OIoXvOmL9oY7D6rjGdd515GJ15B/mI4Vf6xjN6iCXfteRknA/
            FnBTEW0drzquH+rwVse6xincjj6s88jtNLw4Dp4Xw8UR698v2org0GDVZJVD
            uIo9Xnl/0vzyJB9bc8u295wH6mNPRwDRXVKjV8cId3ldLyLi02zwK844ykXx
            6LiPC5gDuAP1VYyh9jIbDphLq7UrdudL5T368KqTsEb9O3f/qPsBeq77mfMn
            rQDcrRcCXAQOGu3uy8e3pJcq264t1V1GRnk4597okPs96myEB3c7LPOcpwv4
            BwdG8zKJu73LGhuNSwAxSS/xbBB6YC1dntl3/LGerDZir65gyYJwdV50ILs6
            3nURBYE1W3laH2JWCrWafp3Uobt9BiklApoHPYg2WUfIF6lB9EPr7KrPnTCq
            8UxHo+M4RpblmR/UFhykRWjbLXEE33I4tYO6phYR9Fzks9syqgHGNIA16t/V
            nxkxPuwt0Xbr0JVbi1+dGFsiGkK7KVfXT+w4h01eBucReAIEK7AaARjW8ad+
            Y61cQ1+9xHssg7kNmFsgJdQFwE+/OpJ8Z7ttPT1oZI+ZjjGmE3s67bUqjUIr
            m18SNoCDdETo0jKid1PzkUjCVEn8p/V3sW5i+GpaGlDmmf2ggTBo2kt9wnpP
            QAG1jbEOANDzApzlvM3qyEvIhjC+5q0ARtMBMuFEag+UdHW6+Zku1teCM4Tq
            +T1pOAKTJgkN8Ce93aLcqoZoIYlTCYUoXqX3GOg5kKrhpsOG0zvS56AeCMdt
            PU5XMNdC7g1nkRYIoAUuzMlF+iZYOw5IljAMe7dzj3qa0JT4WhscQbyvtJgF
            QkDt/E1B/MSewxRjstFe2utx951SsFBAeiackc076Cxcohci6HeSy51413O9
            QF/kPfcsB3qkZ9KkyYNuWIHrkRa9RnAdVwM9wYnH1uc8EyuDvOYJIbxw3KPY
            gzjLsw2Hbj7Ps9aE8KtjEbE3G+8b+3YAR+OeoDV3O3vkwdifRDoHK5NvniyY
            ItnWN2MHhCQTEdDmJ84q9wz1duSTpLa7zxmIlFt2itkVbr/xMehO0YgA93Kw
            xE5JmyYULTmj0ZyAK060ZUCrwB510wTAbKRTAfhIS2c+E926792+d/vei35J
            Zq/YYxS9eTW7B50rPUxwdiXpKLq17fsm+kaWiNgtTXt700QXaIZMIyPKOidw
            JPoFAjgDJjXp4FupOqNxgUqNrTnOrbvPLWhWzvF5GCwkZwvCEy8d7RmcwW5v
            Gv8sTbNfay7BCIwdqyej/7htZD2tvEoOOsuRAmNbQzzHuvbBNccZx35wQ8Yu
            el6xhudZQUeDrgUfOvvR1ZrB6cKzO6hMRx+15w/DH3EtbgNSwrwvhGu6b7Ro
            3L+H4F3jXq/YJ3Ve6y7jjneZRbhJ+hDYj0ax2E2Xo/MYeUE6DZvrcx9tO+CB
            6gWlRqGDJ02BkXT9Jv5r5BvxBxq092vtd8CE2WdqMipGNlfguXrx8eAb+lEn
            4VAnvTdxpohrN3wELX+ZOy/d/Mhi4eyBt3iN32gbcl0vPEwYx83kZb9GvAM8
            AJgf1jg3HiogEiQHOA/jkdbmlYDJ1vO8YLV1X4bR2mYfdnG9543Tiln2dRnj
            bhwruAtaBjQCitl4E3eBqRzm3pu0g61k9HQlKKrCD03fRJrDZsDiyP2KZcI+
            TjixeIb9XMG/Yast6gRO/F0BVAToFtIlIfDbg3SGwVhKDgIN68HLgC3COQLS
            AlFbMrhJUHzEOzSK83O4NAvlFCCRh09TUp6JsuGXvoLNLajYoY2Er8C4ec3g
            JO69qpQw6LYD3ddcaXrvyNNhywJ3gAHQPfhnGcC6jzLGX2AfkvYF54vzTVqy
            EbIt8CjEbhfOODlnjAEsr+gYnEMfqP8V6Quu38rw+eiij0nLDb2/5B8p3l32
            g/SCPA1/Avl7bQ2cPSw6hWo1ZdRNnm/sMtnO0FiERtT60L79bQGOAnsP2V7D
            HhNsHdUM5sFsjn01vm7zYb3bfV/bsL6Z3aCLn7AhcMYv6m9xTknHExs20Ngc
            A/tPI81AqOk9aQ7SiuJ5HDAE1pp1eEyOXRsFFA0I0FHqlWlKQk4LmIqwl+ca
            9EUpHfB1gAQQT7rAZp+SETn737X/e71+3/fP/x1fb2iVXD77iFkcnqtS7UwH
            jCJP8C0B+/tRDufEykWDC6AwxHOUhLIHeBzQMB7rxW8oUNM3TnRWJZxy7Tod
            xTabP/Ck9QA+Mnk67FGKsvScuAeod0TSEwxDgTmR7Mlxjolryj1H9CLnPhug
            Zz0WiEhTQSBO7NsN+7CnW23G8Up+4NCVjnG3a6SCOjKIP8BvADrs4wyuMlMK
            dNGmlLCSzymjuwAnEnnheE2eI0dNK/oZ/WV0KfrKcquRziIsB2DQMcB+xXyd
            3HZtpXbD983rvPv57ttg3zBnM1/jDVspKPGSHx3GOJOODKAWr1FNLpWn7f+w
            5cWCqSS1jy69cNjngvgeBPQqm3fW2cN+piMl1iDJgH8Sv0tu+JKfqOnzr7/T
            VuNjlZKjnJqlyBtyEogne8bjk8poWzsa70WJcqPwWrwS9kqI97t8kvQAgQ1Y
            MYDRvWhooKgrhc5QJpTZku9xE7ChUhDfvJ9nllJ10TVLtgOApyaksXnol+Qs
            69yyCsKxU2cbH5N+5Mj23tW5DqCQNn8OpmC85EuPOV/YIZi3U1EuOP4RCaAx
            VBArJ/e+1ec6zwXqJFje8gs3rxHSCCoL2tYHwd/Tk8/Hs3iYaha/M8hq7UfB
            WjrAkeXGlXwh9y3OxyKsxX67QExViiBEG1UqdMVnONQQYrg8PZZBr43LydCb
            56wZjwkagvzMotzZdBG3TsKMebYdwR77va/I63oC4D2vwkFLJFqkvGMx+EfE
            +NG1gj19vGQeMle2Od11xqw1Ovuui3SvA/wR3j3IGz3kJwxhEqyu+ahrgV95
            9jMV0dLn3GtktKdkIykatZ4qDURr1C6meFwOMf5UnZnxasDjEWxyTRw71w3O
            U5/SsYcJM3wyGaXma89fc6Avo6mOhEPIQQF3g1WolMttuqRNyZqwAidgXjS6
            9lz0Yse6RO9GEKwZ4qPA81CWCESyLOBGa9mJSGpUgByN8mW3+E2tVz9Bk3tX
            KPn0vpzHXf9K1yAOEtu8ad3twAQ+gmFsiqKq0LDC1fd35Jcd6f4ipp1+hVwg
            tYf3/eYJ2cd2XnP3ERRWPcQrsm3sPzyvm+4HFbxhMvp41iLxb3C4Bs1RvmiI
            Xi8K0Zb4SNIVBHVZONT4r1oDw/4ExvLoJw6JydfneQreUZkDlqjRGrzSSDTa
            fiAcWKDpdGWpM7eGscx1TdG7t5ytSpbsvGLc0FeEETHoO31SvQN+FKiHcjSW
            UQQWcV1Y989yteF4aq8BnBPOKz7D0l4jyBzcjxLiL0BFjP2i4XBNwRfSDaAY
            5O4VWPb7OfAhIAmdbUDCz9jV5mFtei+dmOYV34HKoYQWz5zJyiiHLRRT9ce8
            kJtJQKXk6VlnInwXfA4A/kNr5tQGRoOzCtgnOlnzBn5OTqJ4nzSH/cD+Fi0Z
            V5IO1NkcARhM6t0IO+jdCIzRagXZh+tsICFFi5+0AXp/u+cXZ/D17ShEWinx
            u9hA1zIsCLZFooUufYzA1m+ZisbsZfHnjpdcDAddZ6IO3zo5Ps6BXJqzdAeA
            t71HupllT3kMaDXSqeab6F3Y/NOgL4Uzeol7aaCPPF8Uz5DeI62dmn3XSPk5
            k5XdcpEzLuKbLHqzAruRdiBezNufMzuztE6a+2J1k2HCPS39uAMx15R/kpgF
            v4m10dxeaZjsh/3q4KdEo5x2P/IFTrDIvJ/fDtlkjlZm1PeY30s4fH/f7u/z
            rm9/37F291gW9jH5nXyBvuXMkrEBmi4Kf+Ijg3GFSr7g7ILxphva82prDK5u
            cC8Dx4DcMnnVlC8qnjnRCp3iDL2zZziPuVNuQXlZAm0eQt4yOu1fxzponAXs
            IF7JkIXtZe1Z1m9t6l7etdjzDCyTBtpznA+saLd2aytdbUuFiLZdfq3nbGsY
            3QZiDnzrwtfnQzZcScW4DNSFP0DQSukztg7xnr+A7gPlKgHzXmpyOACOBBQI
            TfCh+H2GALYhM+6BW2AD+0VDSpSdIXdPfwXyE+tdTmwCQNh32YCyPEeVnhCk
            ysDLotBwA3TGJFAGPegy/XzrxCRTb0AdAPZ+D+RhnHQCa200aP1/7XmKaIr2
            PGVNQCy+rs7z4nFqGGYOvFoGHURGWjoV+94b7FCcDM0v0YLWWUo/rhGRAsbS
            B3EGfcVwTofBXDJNizHmqFS5vw+P78OjTMdQ8R0YH9GXmIO61pIT6C13cKCX
            u3eeZ/ENJ5PJtBJgdy+CDaSpQIWN7nBO3HVmWSGYvFKoB3vcXThX29ZhSVdP
            /XY2+RF4G0q8MN+kkR3BEJ89ytW7HA5PZWQYtUv82PJku2Ne5y3TyQXAJBrP
            LTuTaXSyO7dNxrbN6Fs/vXbEACpjvZy77br2vctuu+XcV/sevKNBdQvCB0Rr
            V+qQVQ+9x4fcTPytT9WMiwIAhL9sPsRLPH5Tkq/f/vGbz2s47t/+/n08nj9+
            oz7wNaHev+/nt/60bF7h2H0GqpcN79p9bUeSrn7tseXjcyxzP8fZsDm5r/t5
            31dfnYK3jQFaBGjjPD71RKB2MH3vfQDKK0ifQREH2YNjJUAKgG1SW3ZfyO7i
            8OVSKHDi9/3+HvvXUf5IOvDlLe/9EknvqZDD7sd3VybdlAlaJ6FX379xjafP
            c+v6GslMztopOgtE2KOv6meh1gP9AoxdpPlx7qjGzmCUWZ6xH186rsPqWvUs
            tA1zk8zImxe18yIeWiVJ+9EGgHonv+1aNMEui/6nVChWx8Nj9D6YRNC6tCg5
            upd+jyBgOnAm3kln06ii7S7bb5oBk+6lZov2EQedzgwGNtL9c0n00QHzWS91
            8DKX1zcmF+v7N+sEYQZwb/YxF2AHIKQiVdzj+15rcsrUdWI8nfZL/oc5e66R
            QiuepAW53hmUUAZGyhZyAVd+m51ibP78vfGSpr+mPj+75GTilAfjcnIfadxY
            98lYn1u/AKSPScxOZwff9Wp255pzR8I8t+WMto4NZFAfisiD59QjhgBeGX+r
            cd8u7KkOujTQ+xa4jvFAMbc6JY3aEulNg8ZA/p+6Aq4X6BRCO9VxYi//pg5/
            xqF6wNTHRx2EoRifd5g/jNdZ3/Kozc4UKDPKvkYdYML6aiiDubB3ieRgl34L
            fzkQbqsubF/iUtb1S1nqLrUWlAABVOM3v0GfwDRgHJzLL967g1/JWJN5PvYM
            68A60/T/IJnq7AxZsAJby/wDDOlUMnDvHpkByniuE2AIy4onyYrfANqRduI9
            WqxW6pQYBkI2gToXgzDzp311n2WTk+RtO562HZXhm2NHNHOZtpUHDVl0LkG8
            YI+T/3c5PGU0koKA0RxUVG27RGBc0I+g8XMdpldmjyj3sDCkOn+H2ajQvgYd
            TfWNr1UneRV5v9s883tg+YYdL1kL4Qzpco6UshHi0AWCnOVYvgBvAajlG85k
            WZ/4vG0TRYMHJ54x4cDLVpHSFsw39dkiAaIQXDkMhiXa5lHg6ea7bIh32V3m
            +Y64WbJ30uGCReRIgOMJfCS25DBBUR5XcBf1vxyjTAMHSTAP1phQ9axAImeW
            ZSBGLp3+bZNlK2r2Ftd8j4c++fm078BiO9b10xhfY7Oxpj3GbONI4cw5BO/f
            cD3tOcm/zoXmnX7Bp6Nn04N/BxjskTF8AUcorwEdVED80TgW9wnwQPaEYBfp
            Si/7Nrq3U8bDxrv2zb12oKgzIzEUR3lDLoG8HcYrOxvqNdQP2vlWV8rGVSxf
            Hcq3CEontsqDJtsDGvXteqvhqJbp2yxGnDaYnXaY4tnWAiamvShliiTTWQ+j
            Btd6rydtS3XEaFuqsk62Q6/1QQ/nroPPx7K2GJvCgY9+2WPutjptK9lWsLbw
            X+6RQyHAnK6vtvr8bCvutliHbCgv4DegBErOKAO+x632QAkYPiCRUxRIaNt2
            RsEa6nYO05VJsuhPk0/6hc1c6l1W7ccbtpgtptswxu0oogDb6UmjnlP9quF4
            7xkcbqO10sZTaLp56QBA6ZrfunSiwBugOXuSWR+egQADjK/gadeDn3zLQ4hr
            woOPZH+2bAJ1RC8deUpl260dp6sMaSadGeVQMjukxnjJaZzjTU10Ub1lrJLX
            oa+lyO6RdB2o9+wM7hr9/U3XB8ArIGxuuZccVHYg2hej3Xpq6XSwVr3HRXnH
            8eAzeB8f99LZ2/k8jLLU2axz6xI69jZpo1c7oEGT5H5FYiD+BvGFOt/4tmH+
            ZpMOtG69ZLvLs6wjj+euTltYPBhLGsdIY1vvNu4ZpLOma8eWZbVg+jrqE+uj
            /3gO8mR4yixuPomG1bx/6PrNxu4if1F0rFkP1xH0UH3hvmT1Hw+cW4mhEj0M
            ikzUn3N10Q+iupbks8c9SS/xABiKuWjgIKqjpJHBq3xLJrNKpEsaL3Y/yc8a
            l5UsILljWJ2VJ+00XNu4iTbD3YVSAaTI05KDCbh68cBeQs9B+5nCSEbGIx+S
            HdKGxGQidsVBk1wIGxb4d6UA0M9QatjvkybxGfUEl/VttvufzkGnPTaNH7D+
            tFM7929PbEudH2W/wLmFnrzgMRKlNBjPeZieiXKxFikp9FjAq4aerL9bVkMB
            zMhm+0c5EiCT8LxkcyejmND/5KpUIcSa3EvutkyHlLE2tDHjwTEeAlRmBmzw
            10yN9tyf8iry8nf9lGg83x/3e7ffAwtxDvd5kI0S646NsjPT75Ey4LOzjLGW
            ZJSdAG3ziIHjd7MxjNNpOkQJQGbyGgdttG19ow+1EDJk8QjJOdl2VUAerRUj
            wGMfcx17UvwNrTO4yUTeLafDvm2L2s/K70iJ85tMPvSzbJIpPmAv+zdrPdqW
            63fmJwBqXGNQ/wWiQfg5puFO2hKKvCuOJuTAJehHYbjAk1LCSZlmxn8z9lzC
            9yx3f3P94ZvdHx6+6glkuR/lr0p0cTXj8fdzf7yeMfyaoz6/Sh7fFHz/qxyf
            qRxwF/Gqnglc7LUH2KUxDuXVGr/Zu1fugUMRLWOz+fG0LD3udazdeMuJ60n6
            u1+A3OFy9E+VQAH1g/KnXgpl3WRobePpQ7jx4PZFOKbhSe83Dpjm5wzE/yOO
            8Pv7WwbkbpnOLlemdMXe/CFG2vaNohOGM9scJ0EpTh1wPzWYtAG6wmj0r2LM
            OTr9YNVMP8KUD3l/J0Grl06ENh+YUdmX48FQbDDzgbFAlq2siRV/0ReU0KAH
            pBHAZu3YMkZf9HjoPrB90L19yqi/ya6O9Fikw7H4S2exaUAPM4ATy3c3FLMq
            bb32Q1Z0y7NCTHcMGrMj2RFKZYN/Ej9xvo2XwrUZrUnrW6ur0WY8ukEwyr20
            fXXkbWWcEm0BaEZhV35DnpDzQq3nPQekH3pVIKVygQzQ/SQnx+f0Z74UvBRz
            YuwVcKba9+KPplNdJ4p6m2vS0eCvQCjQy2l0k8WnaESII6fx9j0w/EM9OuCN
            nuVLNIsFpaTck74V2s+UrWbOfbzn8o7CG/f+TK/9S/sC7Ob5Gqdf8l/D6oUr
            l8Yo3/LJIgLx1g+FygoTrTWaHjsG9U2OoQhbkN479HAl8h58T/o1zBCpG6eH
            UaoM8UakTyLM9OSd4z6y8KtT7GzQJIDy/JbCJxvHX3837P4+3zbWZpNFTCif
            vLZoy1gJjzaOdaIdU+o0N1ig/+j97ilLIn53ig5Ah5I6xgDkZUAZT9sz3OIo
            dRr44ThcwIJOp5i0I3YP4Uwv4ov7SXsW0KsGs4LBrkwxFu0qmRgG93E/V+A+
            s9kkTY4DB/6GdhmUOWx9Fp4lwF/hMIqZcI6a2ShRrnPbwrrrOnUGqYvFU8Ws
            PYE5zPfJDb+P1Q1XaBIVN08nuzOKI6QLNl7EZLuFZmlVEZ5wThztm0FAGV2V
            GLMQpHX2M1GGZjYGhCUhXECImAfZUZRTvgLkcot4NuqWuL9Kbvz9ptPoK3ak
            YlfRqdfe++WQPRre5SGasd14W3sdxFc90aKnrdSO1OdtbzMExpavD9NLmz3O
            kc2eAmhNc7Qugyf086QNZJwWfEqGM4EKQQpE7F2KBoMb4wmdZq/hlAnBrfnW
            MxXalo5ofC3nl78DZQdUDcRqNhoAl7LDO5fje+bkoc14HLSRN3sxeppU8OvY
            jpSW5Dak46jSww7ZVNM2y/gHgJhKq3PU1Z32SPaorybxfEuxzE6Tw2zbQ4Im
            Tz8DfX+Udrcfvtp3d/sd+ALjoCmN1Dvrs9yRr8EyDIhQyu2XVSrtcEu2vmn/
            cpehSyXcfcN90NkCX7kI16rsOqfZwNJXjv2ip+SzvbNfnZbTtx0sxwT8XqoO
            Lum6a2TafKCvaXx+uwDVOYcBfb6/57oQPXGPgsztFJGwnrisz4cMbjwzGD3q
            klcUFY2Ez2XWq7/6E3d/2hi3PVl2f/09qjvXlpMlbzFq9p5IbIM8UbCIiZXm
            UaU97P1u+0DaZuDUWxnZRgf7jvY7Y0wyaZS9b/lS3eVuXjJ4o2aL2bwA2p4m
            MJjbHzA+vonvbyTHEb1iNv+JtnlNQlOyW/ZtfXxbH986809gm4ABiwYBkwrl
            Zt9JHr6/4+n97mc4ZV8uGaWzd1emeCf9Oj83nOA85Ty67BC85BMiIHF+X7w5
            aQ/WX+hjRrsyWpW2zbcrInJJnFuW454pCTxEp0T8PR6s+3mXAcKSvzfn55BN
            acxz+fvcO8FPyj3D1QlH3CnZMw2NtsxAdFimnQdjhKjeJXs/wmSteZeVqtmw
            s07wTMExjkhDdRms9pQ9XWc/w573e07YL6A68GG7XPx9udRs7l4Rq5xosmg+
            m12wE8yt+VVMS511xXGaTnLDzS3jAly4br0Y44bzncUMMnjbGN2Tcrtrv3vA
            YvoS8R3pPXqKMjdMlh9pISEvf6mI3+RonaO/G/ZFN/sM2oFhj0jegvLt3HZG
            kV5PzWxCUR60s8kgUL5dZhurtUyEq8AxQDHyK/XKgebNE8nszWTPgsPrCPt7
            lx65JxoadNJRtIzZvpTF9lWjLwj1Itj9spFoxreHK3rZLFPx7/zph+wVp3wc
            O5mxRT5husrkS36iZUd5iXgcKv9wFl/3w3xC0IuQiHcds0Q93jd7T25Z993u
            Q1+Uy0XaHbzKFnvn+y5b9/21KuumH/KMALI4AJG4mH3t1leFQqdZJtao3/U5
            +94xJqq81U5K/O1d2v2qYKDK47nfPi5jhSyPGRoo4DxW2f002iJin7x9YSjJ
            BNUGftJ45Lif+8U9EzcetDWKzlTsey3qXgvKNUBQ+ELfY9BstLwDXUIv1kZ5
            IGEh6FNsSfFU9IUmHSibI6dY2KWSWbq4dc1+7pqK3wnaRUwVowvIfko8yQql
            SYfWiTtMl8UAyZJP+tKbU10Bc2a+Qp3yLe82v1V5KO+6WihddZ2vuriu5of/
            rkttqf65Y1ltXuuSzYB3a9sdC6dQ11JlSyc7bdIiTu0G8ecO7ZL3ISOf7t+D
            6lqO7XVPJWaj9dUwXqFwDvE84QjWze/O2GNo1BoE2bB18QO0VWQZvmNMKycZ
            Ls4unfboKSl/ndamdHZe3pPmF9Uy40txPoUVzX702rCtVRsz6DRl4Cqg+SYt
            PR50nWxKwXEC7jbxYJiPWSgTcWbzUsxOj+iPNpiNuorDci1yTIHx4vsCVQtS
            jhELTuyQKb24v2kGzI9jRifs6eIpiBHMB/9SDtnX05ZahtlTfCHtq4ARAEea
            mwNtg0YFNb6C6YUcYBm/cbc9QmlGl4IBGi508/+45WFsX7wI6Cf2kTSX+knd
            MvHDtLlm7JPuTSfLmCuv53OXP52y+jEYPqNjcJ/xXFDfq3Fh15HXIY7VXOy2
            +Y7x7scMddtzKKZsxB4Ht654Ms7s37HPIoVcFWeCeyo18AjdM46L89QDU+cU
            qVCiHGDFkWpw+j21R3ltlDE/r/S8iwyAr3grVJZ56WcJ+49qvAclkfQTqNfO
            RXCa7EeWXJaNS9dr+x7G/ZyWzBYnru64FtteFvsMm55eQ4ovI33paXFisGl6
            POUnVqVDuX+TNlL8kkO+eIyL4AjDMGvkw8AGjh3TgLowT9kEdcDc7bKb2/dG
            7xaNNx52H2mpWrPoALZHvrRSbzZNLnPbsNNOmLGsSZl0+Yj5sN721xftrjmG
            Rb/rU76ntQark79pL11mPO/YC7cP7+7DrdMibxtnGzxv1ZQmFpOBpiglmZ+m
            vklOsplgmURB1a800c+ZGbukTfP1C252xQKSvRV5ylKuNYt8ER0thKQz3W3R
            Bf9uy76Lr+9Iv07JFfFMbcT5eufvOqNL1cZMWwjaXMvuddIfUHaXFUSns7Ws
            tpZV/oXYbIbv+D2jIKRksDW6LNwk1dX0jns5RuOXM2ErtXatUPbQXNs+TE7+
            toWpSmKIpPeUicgx/+WpODx4693Nd6se4s32+3dq099thks7IE5ZHvRe2v0d
            6dIa3t9x3Sv4k0EP4W2Xb4mxaC8Zw2BsnT2PjvIEBvPY9ALtsXEvv+2L1jfD
            +GaP8eIA1T33GDHGXzxBL+e8VbNL93JJY+D3eAnzL3+W+zezY8zzfd+1V84i
            XJdk4ytZdHWy6V90f5FBczMfKtAone8G9jtpQE8JniIOBPWT2RBxNg5bVznz
            iD8H/Oy07SWs41rKb0pCEc93GhMJQie/PBJAVp+veFbt2VmDlQvMDrqfRXvm
            Thnw97b9sWi7jvvXHI9+Tc1xe9FkrzkWbYN9T8TPvUt5zr3Xb1pGfgOYJsYk
            AgmUZDsdo/YkOUUrD8o/WeaFV9zsrVMWb2o2gOtpt+I3D1AkrsaauKvdtr2K
            P4S2zvppz3f7GhHi+MN4edo16FmJFosgyy+iS7aF+T8T3XpP6hiW4lEM+bkQ
            a9J+q76e8fynLJ3k6xnjXvDZHcfLL5tT2pOvd1yIA2OhkVfob1riBFQ4GWQ7
            ZcmI9lmogsmALsD99I7LrI/2EAoICgj7ekb74cN0ofqm5kbZ2/2+0KdavLDi
            GxRyNOzns0y+dpm6y9BjNA0nGagWaNnYME9sZ1aTH3HONK8S3dn8TjHsFC1+
            znviLiheti7Em4wRNKvJhqiXm/vc0sdMXjGbTpkKjVHV1t2G1fNZ/11vzgyD
            hPO7wONHn8/+1r+ThuX45mSKlUvWiHwmn3onnz8GOzMvdL4vJAdORv+M1o+I
            b4LaZNDcSymHTlOtswcpc5D0IXO3TLNuPf/t8wHoWPw7LsjVZ1w4a5k0DGW8
            rhVXGuiuMuillyVjWfRzKdTQMgzEGSNGlRndgLp94owiYWDkaIsnjVwKk0GD
            YwHrlSltpwk7XYFdUyw5BWiras+5xFi4dIoHlZXBCatO0FXKwuboFQgOFXCa
            duuPZ546edKbjGoETNLYt3MtCmMdY0bxXXQxiZSmoQKInY5e4lTklSkPB6BH
            i8wHzsBZ9MUD8D3ML7w46wc1T3ad+3kvRsfbPfD9yai8BYyY+W4/y/P5eJRH
            d8Aas7+F8Zln3b+110HHg0fI6wQq0XPKMETX1tnELxTSLqTpaSg56V88pR/Z
            fS1j7ns+B7R08v8/VfeJd/Jy9toR9l790jfOjSy+RPe0crW6T+dO2dftuk8a
            2xKCdGuDobrdnPt3f9ShOo899o867/62r/4yVNRdV3H98a3qKj/V9UP/mvrX
            /jv9u7/57/VN9Zw/1HPe9exYGd7KRMZ8et27I+963t/w92Nc5z2uen3VU3+u
            pytPnlf8jv+pOv+79cippBN2MDeHYEYJimhjMIPZ4S/LBu+Ep/c96Cp3v+N6
            3c9/P/ef/ZL+oO46iZNrTEzUHBRmopHOeNXPM+jEx3vJj+UvohgNbvAdeV2p
            s+X/+NKL7SxjbfORrZm/wObBdhxyBaF07dXve5+wDcGIHfPBZKL2O1hcIrf5
            FRwC2ktR1sM+MfDcJSsGkPWTLAxx1wXkWF2Spsgz9ZTtYdlxqrQckvALULPP
            /W4arrnhC/uy4bx8xNhWyjGOMl7ldQpR6lVHf9YBVJcMPiqUecG36A6doT6+
            D4/vx/P7+e7DxCh2HwKw0pAJ+K6nWD1jPurZY+G82nc2nvvbXP7Rt+f+tvE7
            x9RL9NW3OFrZ+j8tUxdlEYTnyb4daa9jtjgJJQMHPsr92+/L1/u9N7zGAfxM
            OMjITl1nikq2QFxA24hV/VDGXuKFNrzGcV7nGJvmorkjQ9jForhR+5xQsMu4
            KkTG5LqljBvUqaleKpOFiw9w4SHM0Oq+lyXrpNs96C36kAWzLec97ZgY1J5q
            ENpmkRFnvFRaX3WzuW+kqRkJwnhiz8i0jPDhWny/py58Cq/RO9pNyoNOx37Q
            iOQsnTJVigkffXKDsTID25a/nfUrjpgYgw19ST/1Kzetxatfafcr7X4lOz+v
            fsXdr6h+4WSnc8v/CEumzV00PwGDKYJnkREmVr3hypxnsZjqXgp2o+FkCL5o
            e8h+0p4391zNlrPJTyUamOuSPzLeCvaHbMpo/2v0vlKJlRObZJmOmDLG+zd4
            ksEYcycTku36wLaPvn9Tz6WyzNVz66IK6Nl2ndKH0bxyye+PUdLy/Zuxi8jL
            MX6B2X13eeBTn+kz+HLGTQBJrDan/Fs66wf52EfXWCpl3NyPR76YSYG2y+wn
            PTkYjIdzwOwHpVM+SiETo6JRHxZoZfD+zbrJLZKwtfa2XgA04aYVX7HlSI2S
            PpeAJ9PZle95kvJxj6MzsiT4YQYgDnMxpx01qZXtnaZ7xmTQqA57SfNoPi6d
            iSEchY90i15JcmpagtAPg3apgdmux6L1Iq2OWpB8md7ohbokNGnP0gp3XOLJ
            p162sPI54fywjfh4D3aoHy0dJj07QT2dlFQ0rGFgXNp+WMwCxo+lgZlstZ2i
            PUgG72tRsKExLK5AmJExHB3jtdCXW/Oi1BI2B31eY/pT8Vw8FqfWFAF+aBcZ
            KFDk/r+fM9aM+mGxsXnPXH1VhgOMhTjoGSI7ubrjVQbrR2DMpe7CAI0oOQxt
            m4TLj4nfTIzhGE4vdp4X+jSfCSxR0nqa/pyRPGmCZno30xuiM+PUOVzKKHIB
            jO2zyMgbXkGOCgMxTvnIU752MrzzI24gADI4ppedGW3FyD8HhvyuRfELKXch
            X5gqzwBh1b6P+97v+8POnat2L9uIaraH1EnJDslCN9Ac9EKfmuB9uoaulEM4
            zPZajkkID9IrltXtRaNgYWQT2DYtk7rZ9KDndo12deAi9X5a+bSfA+rb9bYF
            SnZtu95MY3DFVbbv447XdHqLx3zbUGGK+vblTY/fFZDm/l0ev5vFLa8MAMEo
            fbIfuorNE48gNhj5IXfHnBTcBVzMXfJCZrGUvHrbMwXlRnW0cSyKFulPGiNf
            tNeq7jSNzrG/e9aRxxWiPO1O0oZH3+VPxuW84wBRnSL9oKxN3JmsLdA/2M1V
            8TuAfcO/6uvdDqXcMk3G2Z3llCaRda69pxhfiPHmHn1mHDNv+kJ6FZq8lM92
            na6rvDsW5o/W+3ZOcJQeMZbmliGCqCLIGtpPh63BAgG9PIOseyddD/oBHDK+
            1+B3Y+L8h/1dyzYnv5sLjv8CVLz7jt8ASfKFKZNxzjXlnv6i2GiMyWB9BAUj
            sc7EOQbMaJS54lnjPOieekelYTzBpNA3nEGglOYY6xoZfcUzORiljjTQxDnl
            vSPhTzteNuJ3/BcS50oxQ2NGbz4wpFV4H7UXKuOK141f0qAMjTbFSqWTXUgl
            Dfzxfwx/TpjAucG6dpwawDfvb7s//tEO+wCEcqLfroK5arwe8+rgySiJlbyJ
            QSN9KgV/oGlRLDMV734XcfRpyzVbpzSqlUhYFSJt5FaTySTRklm3EQzevJC7
            qG9x8VQc3HKN/vmc8Wl4ooK5A5l88mL6JODh2uQA0IhvFCMJWOSO8/eGqcc6
            WnjD2Ay8G5jfCxynzjtF0I1pAqg0qLRZU6w6xmSSTZxM8WRb7i3222AgdGzc
            i+q2Hhhb29H0m3ESSDIDklj84JbNVjkpoSvq8w2oe8f7Yhwjqgz7kG0u8//K
            Fpvfh6EQXtg3Q/EfaJcs2QNWuu574dq4wt2GPTc9kZ7JUuE87ue/af+w9jGF
            zZvOivYhXlmIGTtIsT3LjmPOPVr8Sz6q80r8yBgyXvGqrI+MS7VpgUZZoxnm
            2nzKkEN8KEP12pUGpdI9ReU/ZeD2FRhPrlLjQk857AARGdSHMkbECV4w1+As
            DpjbdvKNPAP6gN8H5QnYRCFPi2WoOBXJYijwjFHKonWsou9IsjTiB2rtR9pl
            mxKfO9Im9bS5uH/zW3fKlEC+oXrOeKMZfas0FFS80Kp6CpWby+rMknfabyER
            xdvGugfa9TqNm/aQrMdsFDRH/M24ThofYxnTngD7kmCdMXSDt3j46LRsdh14
            BslowbvJaQbl336DVOlVnYeLsOvfbIt2L/f34Fnob14tSqzkaDj1lbxnHHJX
            c4o7zDaOOCvXjbruUzwfKRxbLwYtko2A3+OhhxzWX7QxqNs5g/wG6DpzrwN/
            s2+ZkWvNd9ndawFuSDbPBsC5uD+sOXVkmyYJm+YY0+yRz22XfE6jNUCcCeG3
            YVdsy2BZxq1cu+2YN+2Tbpom7+umjW5a6ZvGuWmkm9a5aaObxnrRTF+01Ypr
            PuVGfZ6Wu2K/r7uem2bCfGnvJsZ3Bo3L8xuuS37TdKtBQ7RbJb8k2jcommqW
            VHTrPyzz9ld/FygfZpM7Xv6JlEwrTi3hBi17psuAq9jvq1lMUU1ZWMk14xtc
            2TG2qK5B225dirUIeDilHzP/WhLu4FitDiffYpBggOvObTvYav7htL1jzopj
            eottvusl/GG9njqXnd+CNn8hh5C2j/3cuEQZLan7dIywBh4pW34IXWnbolQy
            FxioqNi3sleQ7UIUHwne4RJtgTN122iQjsDmLQ2Igv6S2YfQ9rxNRkqIlo9l
            9DcvME5rd7R9XTsuK2PoHKsr1pejzh3fDdkeMsI4/faX+sQ+MwJbBQuBP9pe
            DPeG5cwzwD4ly+0guoC0IlFTn/YO6wCi4HMsvdm7HCkkAg8qWXJgGP+3vYXx
            O0ft0lEw/nCjzkIxtcod65iAKTTKxRi/jHPPGHy3P47FQ2d8csa/J36KIOku
            WmNQnpFqLRdQhOJdEdM3+q+Q4zhpD3Va2vYdp4wIKTnF/O+3byfrp5H69gOQ
            cxD5Qtr0FsZzpT0f/ZiEuxi7nQSizR/Ya6dAeIKFHtzaSXJhci8zEmkBTh5d
            9ILB+75h/yG9VyZHyjw5Zf285wB2abB9aS/TNg9jZBBxjpX6b96TJOW9so3c
            9BbdRqONjflTkmNMUrQ110uPGqfFpNcxkSfHvhcpjFFHi/tOvTjtyqZypPga
            TvDTfJ7tueWBlAmMNIqB8YpI3WfJojMPln4zCAVwFdes0wN/2ZrRIzUz1rsz
            2QFpctp9bzqC9E7xEiwJhtCoXXUMrruzOkyAP4w2srktfN5uH97D6tGztp9d
            smEFmYj+hd0v1ElbZfVrPb5Vn+q67dapj5hFGXt2bjCQuDgPsi8RfU1hyInN
            wsmhllb24c7WyRtd0keTLBU0gFC4ow98aebPfEnbin5146Wk+wBvVAb13twr
            5GdxPzX3RXF4p74rhIrmpxRoXSD9F9AOw6hi/sIV5ePOvSubKeztpZws9n/J
            0mkaU/a6VQYbKSPTh+K8eiDG51PaXRWDRXzXJhmjv/72Z1CSx7Dhpa7MIWL5
            APzdZiMMNt5HnmTKh8XoYKQiZN/EjUGHMqAiZTp9xXoEaPnr7wiCghRGIFd1
            RHN/VowLwU7/iq1Ip2PyHr3wLG//D/n3E7rQyo0S4kHaBChFV3/YlXAwJXTZ
            2+9BEtdni0uzY/kFUg79ZCwf2jEocj6vsl0NjKsYlFdGddGcBnAU5zvxPl9B
            suBTRqzbtzCaLd41d1z0nRcAMNBiWsZDdux924bKN5VxqOZ+f9j7se/7/d3a
            12rv87RrApRTOzsee29Wbhz7+10PAGgxfG/XNi23bqI18/HOdeUwZlCJeU2z
            dQgKfyIYrhiKGipIesavEl0qJQrgnT1PO66TRY6gHdnjuey9vD2XjwaeZ5eX
            f9mB5VT387seWVBbPXr+atdZu1N+z0v2HMrzpeDEh2KP8H5a+NvEuDmKi3Jq
            zhP3fGeMEBuTlbn7ctKBPKfvuuN33Y8xxN+MIf5mDPExhvg9d3uO6vfc7TnV
            0nANyIFtvxr8drdPxdx7qzbQRjGUMR92K8YHdcrILc49q73IZYsWO7YPP4hA
            0JTAs/ic4dNJppJflf+cL5gZbKOAo4Jjoni5ez91+sOgTcHVZfz7zvEh+hCA
            QvEEj03r3Nc7Jx5jEtE2S2I62mcrnlE5jr3ubs+yEFJnPPKx7rM3p9m/hmjx
            Y689D4nZImOoFnfGyi7MDa2sQn3EK7OYYqKhaIPmT/PlB53UPnwLN11D4Zhk
            VeRZp+mA2qE4AjhNFitddlj37/qmC2mfxDRrlvdj+yeD/7vyNWQjm652+81w
            e7KOwzyajzuPJAVLhC2MsQC4XWmUyH6RFGYsSr/jb0clM8bUMAESnpE8Ujxk
            miaBpqSNqyzzbhzC/2Sz6b2i+XcpbliiT2+odwy03VZIjHt5An54xW73P7Ur
            epf0tiV9UEwhRSN0p2IpdTmHy05S7VeJ4dC3sPtwSP/5+la5Hva3lfKs8O6r
            +IIg+ry5/BU7mrGbf44d7RQ72lnsaM0PvZ3NVm7dtJlnboV2vuaZNnLVH8fL
            n/5Qvg/2Myn+tJdviauYIxkM+BVfz5mDoeF7xW4RHKHEyG866iOW2EyiztrL
            P8gaYbxhJlpQP8/BiD/Kb9LyYToIADm9uxItBkYj+pVdQzrNrrAQBgKPR4vl
            7Ez2e9x2kdl8Qpf2a5CvXD3Xshi2O24G3l2K1XFsO8Edh1zv4te7jLqioxZ3
            nqBFO31Tz3c87dEtXi8QLmNnlrAs54nZqe54mPldp3KedPlxOYUfPR/ldx+E
            rB/ly7nLn0Dud1+8zu9nu5YbRXUE/zmOGK+ltnY+VcVCbZ9lwHe9x1pRf5Pe
            vY0mfeM14wpALpl2u4n2+dce+2Os/jW3y/31d8OE0T/I3jHXm/KxWZ/NVspy
            Vr36RFvd59ip6Retbd9QQBF2LGsr7z/LU1D5UT7v8rt/x9da+P5VvrzneA7N
            sUukjoPistO3rN92oQyxRF+Wo8jPyikNhNvP486xwMMGeDL3b0WZp4azryD7
            WcWUxtFyZhssyphzcExmED3ybQM8j+Pl9x0Yn2dMx5gVOQy38xk60dqeogr6
            4BfwTYuxRcg3Mw6/4DN+u2zngmO44XXhmbvGUFx75l5CveEBiyZxdytdvNkR
            zIcsWx6fV7+cV0xCxvZPfvQ771nGmaWUQEIk6m1ClD+r/AHJoxybLmd0qi//
            y0SbblDCRzN/W+I3T98JxVx/lOv04TR849Fd/8gjkPf1UgzuQEeKl/1CLLla
            zG2CKsacKXfO4rTj6jAql3yxycYrj2LdsBn8UwKMuuUbh8UU43kgr6gY9Lce
            l/4pnbmKMzi9vqp4c7bSjE9XwP+8ZM9QKH/yFomALva33renOPHX5HXZStt+
            fEF+yMV8wSmviJJFjmBy8OFlb8+AO43yg2K2ZaB1SI9wX3TzD7c4/FzxbZ8v
            vypa/Spm9R1HAhOS7duKDSO/wmj3bVk+w0bf9SI9H73qqPNoPWz7LjlBWxyz
            2IBQFL8MJKVLQNUMXMPzg0F15anJsr9ihillxU3xvu9VMu5jxytm3PX9ztmz
            JmFlJKwiiievN0AwagfMJj/1xRgMdL3It0FBO+SHEORUNw3X8judU8ZmXoTV
            VkZciWwxjE2PUfFX2a9JYQ4TbRXsTcolmdGVfbG6je9O6V4XwoS6fw9avFD2
            1e58fvTmVQyJJb6733nojNZXrIxqe2ZlxZRggt5X2zIGW4y3V0wWWulSt+tw
            pSmvX7C55lywHsDEpno8ZdmMj4N7jmfnynmWBVBvvKZkOXFoGpKAq1Omrw5Q
            XRshyUeJoZQpEMD8LbNp4bxzboOz2AK0AUicjSMwJv/a59DHHlMh3mIYjWh+
            8lUyZ7C8XfH4Ff2/ke7dPrW5r/HdjisvPR8NGg/5AYSo6OL1eLVH/4KUQDN8
            f58OfkmfFrXv9J0riXbbjEES6nttXFkpyDcUY6Y/teQyzHchWyDKgnxIBqfp
            yQPIEkIw2prp/T7KHVaOMTC2rBCHocgP4t7zTDULPup1Bu79+7n/ZdM0JL84
            iiw2bE8er/aYEEvwB+tJHZtEs8Rx+P4+c9zn0yunhPbk+zx4d8cP51lVuEja
            iet9OF7vAMTuZ7KHpA6H81CvTl7omDhK49brl1bNdzLQroRwhf5FN8wsNMRo
            dFISXXfe8JZjwF2//fRvf/xYAzg+d4VTgvttG7vzdNV0xxeX2AUQ2HQZ1WI8
            juN+v8tfjHcZTMFJvmjnL+RvP3cc8Pzz75uvu+74QzuO5LX7u3bO73PHFaDN
            T5jhvOUcEh038yWWGxvmyG35cmK2NMUPxXxlnc0RwR8vi8d6WJyE7OoUTW9x
            XKMzHVY7zObXreM7x0xg3KEYmARVORl3Lhf6nynuA+MLch/rd3rLPRXfcOfZ
            ZUxLvWf+jB0LMojuMd8U2uT5nZ/eSd97Hq/6tu2CG0tRA3rKJ9vvpN+z4gWp
            XurzuOeVozHJvvHQ3gd+ogyb9p53DBDGV2B+xmcf5cu2Y2iwfg5iBcZzL7Pe
            eSe90T6MbQL6qr9okSk6iLLsgt2HXcxYmCAeHzmvGFtlnTsv7CG/KuV8ilJW
            MIRBkeMY9zSIupOSA8upSn/K40Wz8SyENlZv4HNzuNZDNiB/Uae8mDhdtHSn
            o4t0SU1+y6BXh/IqUz8qOYXRtIp3fYnCIS04aacM6pBtMVDBk8fnGDF3dBFv
            V6BdAo3/KmgQ9J/ZdWlHZ+sLCEm1OUOkMUtGVfzQ0zMmvZmeis5cMr7K9NMB
            n/XR994/+97bv+57+eo7+cmPuB70X+6gUdvOo0KGzoOyPOwM0R+X8aotD7Ib
            fueiGNGN7vIojiG38azlMS3GK5+fg+3TiIfPuFMVw8fJ3vFQVkW7Z1kczq46
            GWlU+aTo0xcFDm66Gxt6VunCCHoYxle5nyzPsVeuv9ETGBD0lW1TZNwC3SFl
            ozoZWGPn5fKMr0aVtKMOnPHGMHctmu2ygZ3FdaXPvsXQaa94kpLvCw7QVhCj
            ZX9dAS49LMjUZ+5pJsgVvppkqMncbHkDSXGqPSptm985o02nkmWPC/DexDNM
            junO8chEK3x+nTsOEViJ+zvhVSq8aOL1zgnquMY08brzSZMnu7+hbEQ5KkAR
            81lhlHPG+d60heC1bPYkO6MNwFIu6mTxmOal3NT0H5wEvWkajgbd3lOPi/gQ
            FE185TnFeVf5U3S9YA8D5MpuRdphgyWsOMUt03QaF/C3xYhlYExAjSadkfru
            lOePcF/6nF0Ge6vJT286d38n/UFdO/clnzFGNDMwma4SDMQUDevK8TGHhb7q
            Y5yNcTCiu3YM6jCY84l0J2C4t3PKIHehyUfbcHYwWUP1b3jyhB+FuB79YkRk
            jYNxex5rRe9c6Yyjfd+5VxhDb5n+jevCOEQEIDcPxPhFbY+P9Zxu1Q+YRT4R
            1APWta2+3LPsyr+WZT6j0v/6u9OhslssSsGoZfG5FB4HfWG/r8PwmVJnvPay
            xSZgXF3SzJNnUGJd+vuJLq7HG6fITnuH7XU3jtJ+Bf3NAKQlyJdY8nRvMYZf
            MYA5fua+VGx0i6jOXH/9nlO/ce/R7B31s/d5Y5xfhdVIjBNTh2Jdb5rkzpV7
            55oGEJGOqO+8LmXTUX3nnFZKRdlubJrmNBpm7n5hDpfPf/09TvqEvPOd3/Ea
            LJ4kSML09glWHCqGJzfdW5fM0WJicydVABX6qYa49cOgjFVPq8yxIBt9pf9S
            mF3Q5nXT6sQPTr69hutplyBf/GSxDm+d8YaBhNZNz6b8uo32qsrV4UhrOdDN
            5TSbDXIktA4X70MafEkf70SLyK9oOMUQsPyYgrUvv+NtC8A+NUmFzL5Vypfw
            kDcwBkry17aHv4TXSZ76244mljy3jrLJELGkONadR5w5hjLlU89YkjsmGOm5
            47pz0EtnnvLuE2jt8aS52s45/aL7ku21m7Yrh8mcmPPkg9aKn7RWJI+TmGPa
            eJRgNN8pW1jXqsWcCS9dOf22X7FbQLlmyXiwY+99dUqWv/Ulnsb7SXQL+q/+
            Kv4h11P5ccGvyn6iBcY1vWNQSYts/gZ554Wnv+5N887n2KPF4RLMEpNqOT8J
            0KNiW5gNMc7yuba9tXxjqDe6adZqfFLHvDXpysX/J7/naJ5Gb/J3UCzNViUX
            zZZPhhYr5M+i2eVnrvlawjvnppPc/T1t2zR3Z33R7ZKv5x376xaNEJYy9qfv
            7cZpRH5cq3We5YNGx7fX8Z4f2f8dtu6p2P2p/A4G37RlBm2eQfPxnGfDvzve
            g+JHsK84z/22UV/z1zYH7U0iI9hjGpL5GcuuATRQ3zhkMO+QYr3GFB4x7mnD
            12R0kgV/6f/ywkXpDTfdzrlO+gbHab3oiRfOeuMPi4M7Tos8tPm4eMeNw6jK
            my89j7713ztX1mEwmDkkgXdTjY/ziX3M6DBmQ75zHhbK54h0K80hio93zDzN
            D7hwRlixfSpW3WR+TKpxWPxuya2YqIDqCcW1aVU2Lp8xCMlXz50fdN+f+SIy
            Zty/SzH/uvxGTE5ZdxzArpwbS3niL0/pSrhjFPLcGlvdzBZxxyllrEK5Dtzx
            8TDkNiweKe3ffYzE/hbH1ehOX0OadaXJjHL4HRWnvPsOGgNvpBs6t/80Pdv6
            U2fFWOw+KiXUj3WCJwk/1Rnn7+tc0oMBj93rF+L1ivlCiaRi4/A8EX1FBoRx
            irHKK2V8ARhvKLbRRYL8/s1yNEnDfLRF3XNqNFuuem+2daQXagrSS+s3rYXQ
            PuBro81lk1qEvpSUX6fF0M2N5UCZeMbcAfG3aKc2n88bkadizlUJBuTag/lu
            iTm74kG/VEzcaDtX/GX+yvS8oL3tyTy6RzF/QOb3Oh59u+ivQAFF1x4MJ4Pc
            2D09Z2ayHBQsfwanK3gdpzZsTkcoQ/suO8uXcShSG+4p3ldcPn/JNorwYCnY
            kizxLUfjoTgUNK/U9SQ35CptwAqh01QsRVp47zgRtClOi/QHx3zXcdbH+568
            dkBhROxH2dMpDtJRZ7DrGfrUmiq2vLwFQb8kqkoq83AeistwNKn9IvNkubIC
            fcQXeUMPvFkZg4823geN2IJ88ViGsR+qaCfqqxqRKfrFvEzKvc46UO3tzz1u
            f3Y+Mx6cVoKi7XM/o9YCuGsQN4MPbwxDx3JnMP+Bun8T3bx8ehlHRXSYrSXo
            LPmXY30BKFagyPdQvLHeZO9u8RTPdkZLgkYolRTvLSr3HOmqsnV2ZMCYAxIr
            hr6cKytnpNdz0FEgys2Gk6BTV4tNPpOzfNz5kDyJ/TrpZke5LyOIb9nAIR2k
            bOIYV0RnqpzL3XrCNd79V+zo1ppgaFci9hyNJqmMfRPE00flNtk5aV9jiH3x
            PGo+SbveY6BtZPUWA485VzPzRlLClVdye1xhj6uMuKSjw5sZSA87CWUAD6Mb
            pcunE+OlKh9kBlhQ5WYYDMIKaCPrO+y0ojUGnKfdbOq2bnje9BzwnrEi3LmA
            QmNytCWhfSllPsBV2NmNfMSf5vx1rj3xSWHEJfUPfXY6I63ceceqkh042f17
            xRf1WK89/71zjw/qps/AFIF925Ammh+975/rTMEACAAlSsB8L8pANd8R69G1
            HkxhoGff+wH7W/FjBFsPplQ/j7sda595Fiw+ouxSfKFkZ8VGAw7rF/V3PMeM
            FePpwBCU38/ODy1R2qpsgxH0XTH9wt0PnhHZCYCzClTKn9r3690nZvJ+nzXg
            6248Tmnksnk+mb9LfuWXn1d479/g3/s3k2Yfb3v8Ku2ZBZIQLgPE8ICKtZNk
            D1M2lY3mmuaDMyVJ8TUxz3wVXW3xXQN5RcNvsiVLl1OAMhqW4Hed2z6FYtvS
            ZINiY2N4tZOtmi74EO4dOnccb9x4I11rJEZONV+qPPvLR6/v59jANHumXXlW
            fNii+BqJuJigV/Fpmb/eEQMApzSrn22CFu3yzwcdo7lTjPg7hirGdkbqcb0/
            l3QfaNjrnj4DZFIL2k6PPfq417nY7QimF9F3LiqGKfbZdWKuYti2l6JV2ra5
            JDTfnm956xDGUw9+ny2qTL7OV7v7OQ7mM7DfHCOncBbagpzMWGI7oFNgEzt9
            MplDCsgCE9wXrsm+ZU4l2RlobfDO9KTdeJpFzUqU/ubwOwYVn6d2rbjXEQuj
            fL0gbtYL9rY37D13Hi/6ho9uvmbSux2g2yu9DuR/sbhXzmw4iyGnTvphPuqn
            rdQv9Yf1qjMp3imm8FxAmsZ3J6OdX+vUT56vxz1jsp+P+0yYYvNATpJjrRfn
            QP3QWa7oa2uv81sTZXp8XwzmnqDXdP4ZXxV1aZ8rqspwk/w9c6DXEma/fS0u
            hbUCZJO1BgNEhL4S25hFSFQ+dMyZAh5Tvk5sx4WrJ9M3iyfn+3q932dFcIlD
            GHkIrjTm3AaGOekHR9t5t0YYjH1P5uKcteazKqCgIpl6s4MH1ZjphkIcDpIs
            0F4u0Gl+uUJ6m4aggcYOqrvznCneVicZRHzTm3Y6TT4e6+nir+up2AXN4EdY
            ChXQLf5FB+Q1PaNLpGEjI3lJb0Gfnquoncq9nCt5HPM1lCOg5E7br+SU7Bb1
            J//c7zykXCec78nYzjIEesEWENO0HAG145z6q9ggfE6d2Q3PBG/SRTsTPQsb
            f2G/NPLpz3JYqJYpQo3ruGH7thNbPEbyP93wV7nPw2KiWq8z15pg5zkpB+S4
            bN/F+r3vmO3B08CaFLtsPu64f5J77X1Y5pnvMyRY3mUolmg3+GxvgUEuOKGa
            s/2s4GxkfJ8K817GOd76hcKcCiXGaU4alv9pHaY9oJGb4ApjDF9BcDuA9o9b
            BkXej7yu3/lF2NbI6n9kPiPKQTFR1XJ0kdLypK5DTl/zhnOUq/n8KeGk2fxE
            tgXajnpYxSmn/ZByu7vF3LxT+1X+jraGXjaze133M+BFraFoG+YJa5ZfizFn
            44YdEXOWgAkj9R5f76pXVPaX7wh+J96LTU7bnoO5zsE8MFenefGU9Iw72Nxf
            fwMjrrz1iZG2Qk02hYMoJWINaFdLu4s5yROCDwDvczrLdX8yJuqlvJe+mR5g
            FPB25VKM5Bk7zqHyTQIWTcolzb+M+oKmZ1Icgz8ihzrWkM1GVLyLl57poDie
            eQwtFmwbWbSFu3auRdrU7Pt5lDsWsHRZ7iHP6dgjpP06gOEt95FMvMo3XaGm
            91wqXsqOqX7wfSO+2nJtSylleohhMpFu9aZBKA6clZhTQWawUUYlsjOLFugi
            UPl5t3ueqrdSZmXONG8ZU5QdzFsvoEDfyt9Apw1P80biXeaFQx2y1HWqZ8tv
            2q6f75fpHiUz7JJ8yf51Ue/GqACmTzQZgecj+go1efUqdtFNdzQyKfnt+3HT
            IceW/2PDrmceGoBfi/scjY4Zh8XbAD2Qn3SN0mrKRiLQ269Fxbswm4zxyks4
            POeiXRZl4vYFb5iBtnVrtx1CuSyWMy14qMdXatqD6uFtK0/aK5yvHB2cy8pI
            JnbmwPFEAt5BkRCOD5kLxuat5H05/3fMHraTKnMFFsZvdGHbpwV+SxigrMDc
            lt4Ny/vE3FHMIIVTBbReGHc/H+A/XvoMIC5374/cPvfHS/fViT/e+ixGS2cM
            mlvH56ilbGZHR9mmaFrFIMAVOJL6x752bp0mesxyTmbzPTGd5VtvK90l8/LW
            O+9JNP2XNu3WaaXlT1eGI65TXCl7fy6T3xrdP1RXq/lT90j5dB3A9oyrC8C4
            fWZJk4QAQjhu31ScH8WzoC0Xnx2WT2zHN3S3jb0cVQhPquS/lnaWcj5aUtFN
            ag5n+UWqhUveeceU6/0SDSY77B4t1yOdpwhP87za3cbc8l3Q0eNDB7bteNxx
            2xLZnl+H+UHdZ+ne+4zhpTPAOL9HstR3LtZp+cbrHZMp+p2njraa+3c1nzGz
            7XO2tnH7PplNp/2m7vvY8ZMncxEYrZRYD7uDZ4oZNiWWvVKlX8uQrUdQvt+d
            l+6krx/HNLa8dtqepFyDrvyclyDbhiSTTc4583gNpqG5888sxX5vFHbJ6Cta
            vAiBsSC5G00gqnx+kulYyJMclzfTPa/9buHRA8qGrbegHoPxDpbZJktmTXo6
            Sh+lc9/r2w/jXm/KbBjebvi3joDE+J1XU3j7ePsn81yWNEYn4ZSkh27mHE4P
            KMv3gDPX9HsFnGXGE1C+GtVDSNcZO+GwmAhvHQLwJmnwOjpz5NA/4uXzLG81
            zF8S3H7NZb8SU6gviSIlQ8aabnk9z3Kdl+Y5/vAOe6PdOgK5HykXkq0Jabdn
            WcChpnBTjCDzeJ4O8wUi3Rz6W1flPGOZm51D84Tq1vcTc1Wy4gO0OwfPDQOE
            4SL9PpjQ0/ZXM/k483hfzL3GJHUX85MxdNgUJcgYIWemPTnKqeJO+Ah4z0xV
            2OVdnq70f74okGKOVuFslifIV9z+Nipz57rJzMIP2HNsmpcwp1qet21P757+
            T4yrohzczeqo810H8z+86nC/ryN3q6PLZyqJ83it/RShn4/bD+POS5ukCyLw
            OWczW4Gw53XblMnP4ySIovwHG/KG6cxnfKAd5mHCGXIuM9b1WV6547aORrZK
            nYY9D3+0L7rkd/SHs/h7v9At4fg9XaI4lz/QJTjbH3TJP6ELOJ/0G8XAGCqK
            vtDM7SD/2iq5i2Lq0Idhhc78zsnHh08ic1OwD8emnrmexe345Avrl+0d93a8
            jE/7zislHy43qkT3NEmgbYwrzLWmpeOe3zm33358jzwlytvL+Ct+zD6pI0zU
            Ar9yCN/9E5xdJpdSyBsvuyRrT+faZ/qNuqkgcLL7wlyCqF70C02y/5r2jYvm
            vyZTBUAYd7zvlc9907N8d+dki185zW66avZr3rmHGEt7pPe4GfcRbIR75VjL
            l/CBak7vvNYKHknbnJlkdrLjQATaezD3CmMd7VxmjH8dZCvmtj+Zsqi2s5eL
            mRWpG8mMDk+XMdl3mG9eDbI1vXPVMB0GkEJdfimmJikI+UbRlpZzhfO5cx2D
            a23BxsD4hpWunoFprHEGk2ANE7hlxq8SzUVFFa80UQCVR7vvO78TY0hS5h3m
            aO++yAJKNkNgWjrr7O7qjD1pdgYgCZNijwzL9Ej7BUZbyaSPRt3xmcxuR35e
            sQMeXNngD2OYDbNLwcnHWZno1o3XwcMU5jKh3f+0kBf0GQKxFyzw3bUNgWSr
            Zvdt3yfj8ZhWRvfA0Y1wzjPfjtlEl8Z8Tims55lbmLe5fQYZ3GXr8HIwe4JD
            MWAwV1PxPceHrSfrH8NsLK3ueMePYZQCJQfNpvdm3gPdR7PlpiteGObD6/ae
            Ey1HW4JovvBt+84zJglzFk9ZS5qNUHzlOdo0I+bu8mojKw5KtJydHDOFbH6P
            2Y84c8qVPAD9thm3jHlkaAsTaCuSLssMQ1vzwnxXRXQRLc/azlGgHKYolOfO
            LRAvNECbxFzvc0nPGsXO2feRenwe5v1M9vqgsxgP0uSKloc0Uk9y8xWNug6Q
            N9XehXV1BTXZ7SlqKZ8X+XG7f9W+eSHRFlZ2buHuw9z3skNXJHnMHOeXY+07
            59dh8X3b8aL7LabHnTvYWW549vXea7QepZ8bAITFHdj2F4wyp71f7Plt+L8W
            Sg+LuiEvXzLulpN5mzAc+t4nu63J7sO+7/u+7fr+8b9B/6jj3/7n6dI1xPv9
            y+8nuWz3vifT+3zPU5fN/2tz5vu7HT3yldNkvir87P40Xv77+0cH7P2r/a9x
            TLl47yEM2wFplB/LRit7P/9+D9RSOCcMdMu/SJuMEF+lzmpjvZf063PiKM3V
            6PHHucp7LueRfnw//tA+fp5BceFd/bl+m6uUfh5f2O2fFirsl+/XtPovV398
            Xy6X/1X/7r3i3c975U///rTXmB7wX72nYNUrAmrKJEat7L1a8XOtq6Ic/bbA
            n8bKFdC+XD/Ptdt77fjNXmv3ufnNvu7HH97HP7yvf3j/h/brH/bivVau/cfX
            uv5urX9e3z60A0pf/+Nrff3X1vo/PZchWf0vOBICI5y8rq9xBiv3Xf4Mlmf5
            +99dvl2BoibgKLuufWXQeL4/nVMc7NFC4/NI8w8q8fc172spdq1u31/2PRjd
            pO8v+57eS8oeVOz5d39nOhRrEO375/O7v/RJSDVJfsOmRNMNu/p9H5ddwaBV
            5URnUnTq6Pf71exKczLh/WTva7L7e058Ad5PP+zva49pzwkZlGdf3zjjeCFK
            rR1z/+5tdV1//T+xAxd/ 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
