<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0a5c.21d8</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21d8</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21d8</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>BCM43142 Bluetooth 4.0 +HS USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_21d8_v4318</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8664</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21d8_v4318</key>
          <data>
            eNrtvVnS5TiWNPYuM+2FmAG9YSD3vyS5+wHulBFd1b8kU6tMkfYlL0EQADGc
            efg/Ln/xX7wu71b73/+3/6OWy/65K19XbvwX/RXdM12696Po8e/9K4zLp4K/
            uv/a/uv7b+y/uf/W/rv332N/6ND+3P7z+y/sv7j/0v7L+6/sv7r/2v7r+2/4
            6p6rP4sf+ux/+Jn3t1494nvR89WvizPg3fX9L2BqZrWH0fHjoy8+P9nlmAOu
            C3Pk8ywppxJx/+D/FWUR9zk31En4khpiCMHh/96362pV3QZMCq+ueA0p4K9c
            lSUtaG32KJqedzznWFzMsT6q7fnf8Fc7460fY8+PPsej4+dK89mf3F0sT538
            pfq9nW7Q8ue355lqvPPMPWRtDOf29Iwzffsag2NTMfHqL3dGcYaVWY4FLPs6
            dztrP/d7BGFfy+TXo8exFyfhZl7d9t6MHHapvtriuPi8Xg7WwNR1qu9Wn8p+
            n9e/ovptfpdfNQz7qJ/yfPbKd3maQdPVf9q/9iT2n/ZDDnvyfurvWRo/7T8p
            6IXx0/5MM9rX/bSz/82fdrDL1MP9Mx5frTzUp33VP4sxv8t95TJw/b7LXdnl
            8bO8X7Y4Ho9RhNGqs/jb2bVf/ukM9bWJ0m9n+RKgSj/1XbL28099tGLl8R+D
            7rbHv8vbtPGUn3bupZOK/fXMz3KAmbjH81V+jm75qY/V13ha/C4/IHb+1vd2
            lmb9Lo+1apzzp99QYrKT9V3uly32svr3XpylXfNRSb3dPy+HHDd2eNbXx6+D
            Rr7LbQq1eOtPO/T5qX/AxVO/y/Ex3U78c3+W92AQxl/f5bU6nWAfv8td2/Xr
            d/k49X/av6bVv3/a8TacK0SM7bPc5bRPzPPzvQJBtf7Ur02bpv7UT2gBW7LY
            4oRe9iCe70nPApvP9V2+54ST+FUeo22t/LPjQjc4VX92llEF/EjDk7+L54Ey
            P8vTXmxs1K/y55TP73K3QTQuX+UvHPDTfj/l9c/9hvnnfuP1535j/HO/sf65
            3/nVjk+2OED1KnrB3O+XX7D4p9GDYOf8c/31O+gNFtZf2l/1L+U/7aeNse+f
            9g/uuX/ar6e8/qX+T/urvcgP/zW5+2jX+l1+wCPIkK/yQxC0+FN/z1v7aWee
            +monTFucFMonWHP9Ra18vfwqj38pr38pn38un3+pP/9Sf/1lPOsv41l/aX/E
            P0/uqH+e3Hn9eXJn/PPk3r/jj68THL/a2VRdid/lo9lS78WxXVrqz8vXm/T7
            Ki+vnRX/dJzrT2dnUlK80lf5eIGj/Kd+AXa+y/sL7OQ/jYfQ8bO81BcYyX9a
            DPAv5etEzkMgfJefSbztnX+Wx5/y63VS/1w+f8r3eJ6v9uem1sDIiFrzr0l0
            ny+fSX9+j/lB4D875Qx6/IK7Xe7md/tnx7n5F9xz/bm87I8/7V4fbNyfyt2e
            lLPzzzX/7uj5OmHlTyeGzCbOJdYK7CcRjrfjNYytdK57fZ32b90z5EDveHCh
            AcURy5OwdBnLWv72vGZbnAKm7zqVVyWdLgL3ub65qfHDfR3OPl2vc/uazT/d
            //LAnfxGnO61zP+df/76fiteXzwmpjx/3ZfXcM+5r1/37c3rbqDev+7H6/MP
            sJvf925+fd/082uAM8zwdR/n14DBfaXP+9VtcWoqPJzz62vusb7v5/19v+6v
            r73x7+v+uZ//6v7q2sXzd5J/l+Brk78mvPzIDNoPVz/e+GJP3ZmyTyZbeGNP
            zRtE2de/QZB97fnK8zXf12JEW7MNWHPYtKi7Hc+TvyKBZljOThealTDn49fr
            eUBtnJbb2eI092hb+6vfDr+dex3+OT+25ue+zBScgKSwY/tIGBENCWtm9rnr
            0zueoLFudFjdz+ZlHbemj3bKxmN/XxvWAEdQq7qrZCo/79JHjwANTRPQQILW
            OO7XKr/rBGxarXJHZ2uOtUfzWSfeNa5TJ7aheSg3dse7Tmoxm0ykoc5tfQWK
            X16jwwZs77s29529D04FmwLbpQbiFHsfc69xhLUXR2dAr4NyWB+vlxkf+1Ss
            2Yw2xETc+K5TB8UwKEzgZVuyyb27Cx912sCsqQ62mstjGIJ1n9MKch9c0G6n
            zFE3nvicsuFqyFu0gwm3z/HfUz/XzPNMWZ+jbyLis85CR7cmb2hfmfgqord3
            HRyepGMNJpHrvwwfu8/5AcMbp+qgCUxKN0nKZ18OmCmJTa8d3xWtTopfdRx4
            zKLxYJrG4PzEDdZ61+DS7Z6PF/ygXJULc2twzUQgX42GFt91ch5bDPNVJ5aP
            OqXvOt/tcKyFp6cQj+69nHjq3nWy27Coo87qtngrftUBxgTuZDtBZ2Ian+E/
            +6qBHMlevHbvM3H5j40C8BSrFr6X5wrZJrR8f1d3FfAjSryExbENF7xf75OC
            d9P7rlSwLO/3h7uAbJ3ERPgO6wMbfdd5tuBzlGLEmANIBt+7X7jvsUF5+DiM
            bq25d4It2jCYEONHnbvNJPjbsO75TMD3gqCjWxRQxtq1uqn7rwnwIFqGTQAm
            cg5r5/HxYxN512qtZyKfanXqV1/et9qT2kk6lfdhDj/qhByNI+k83ctOU/df
            dQANTVg7nCb03gjrs05KFAdxg9w6uePwVh91siO48zbPWNllko/0CW02KT2J
            vnzJ0+uFCrDS90fOAzKCkYnVF4d5paS5A+nM1PON7doBYjAdQJeUUQQMNmBS
            gdqILYBRInmWMDD3eC+O/2793buRA4kcNKW2+n/U/6v+r/J3vanSqdKl2ku1
            V/2uRybwEVd1mcaFnAV4P4DCYvWCVCAUqJo8/lm8ApXfT9nUx7/xp+3XtUl1
            Lwz8/O0vU9WFw7I28fPx8NVQtYaaI/D59/6+3l373f7v/f3x3eff+/t697F3
            qV/6d/5+3+1416TZJtY1Xu//uZLntnIsyFsZCRLh2aLpw2nO+2mAIqUMjHhh
            60aSNiAn+tMT8Ja7CR6l4JqHCOse/Hgcj5sDVYz244SVZHWcSFbv8CwSlKXw
            lCeM5upIwuiom/uuW6NpqJx3ieq9zlOPelyAwq/APetTGH1vUotQBvdvotDq
            Jwk/3u9nt++Bd3t6mtVvj55HQjNr35MtxX3zz+1YX1D+uVPFUcHE5Foowbtx
            Vb0nPTcgeCnABI4HzT3Oky/F+G/Mm9pG38k9Za1RT/sS/aEsXwaoVnsq38Mp
            blJbbRmOJ1VMuTKmMF8EzRFMa4q5YOIB+seWtGLqsL2Cr6TKcd8AEMAqEUJE
            4C7TKoR6Fy9uGTSPI1BMQluFk4AFx2Ll6ql9Ws6HmH2zDQC6CS25VjShnvVX
            pzB+iMhs7Keonyt6UUsjOY9RL8E/zH3MAePHAmdORFzPulEzA/5goav64O5w
            3mf0GU69AMDX1X6V2Hsu15YpMTq7Ao0myWfGN1MigHH0PqgTplY3ZywaoBym
            1jYLiFzt9hDtu33wkiPw++MAsd9szvS77/nD5vGL8pKHKO3hfd+66tBEYj6D
            u5uLt7A4znT9aBcDsclcVu5ibe6m0lB41N2X/aac/7OeBOdWj7KOU68SsVCX
            mDGrGdtTgnGDqiCncCoCEQ3KC9sZ0eCzFNNG+3EIYe5n6cLkczOhufMbHE/F
            WBJYbM8JVDmlJCTknCQm18LieU4QGcGYwKs+lJYs3keMnsrSVklKUPuSPZ/X
            6ClqcRF9rChZVMWYYnmA5p0WxVFuhRrAjliTqtrNX3sRsHDgFh6W4bXKNvmO
            NqTzgCbLYXM1zmPZ9HRM3CedPOrjcSg10DXBM2MSSXzwHljzjvWxbQBik79/
            6+aPui7YsymuxmvX6yTw5F92EngfifEXBorJyNPxd6vOTomAbdrik2knBuSi
            KNY7OmlDHN7xGywTe1PGKokXCcshIdjyosKj2nnAnqj+tBMei1M5QFgiOBEm
            wJEEqRREVgVM/owBtfo1/bgaTlDwOFQLh8n3sAhFiOeeJfyBRbrzM9A+qAg/
            QlkuRN/dJB5d0/F3WLSQ6A5t+Nt3P9kmFs4/XBiOZeVNsuljAA07EdVo1vGD
            AYByp4aMfN984l3Ab5WwcIQdeFfigft57tt+YyeCAL8LRoKJLpQvFOe5IbCL
            agFBafgIvwP+ZuV65YW+RTizXJYfCfAbMzmvcOus0L6BZbE9oh8ND/jxDOwy
            TM7lbXJugieJjz3td7LbYHEEwZgXWNS0iHIP02+23hsjWrWUhEBuJXALpYF9
            e4Hra9crEech11jBrTiy6jhp6A1bBRO73LhpfXJfZXmn0xfN0ua0E6OX4Qk3
            w25jkYzzxfvo7n6JXsXG32ICikmvCYi9UB3UdAlCpjYRv42A1/pqhO/N297z
            5b94b/3hvWLvufb392L9w3uXvQc89df3Uvjne6PZe4+Q/15o4pm2rtd7zx/e
            8/be/WD3Ce/xlHETGp6KWBScTLYVW3qqxGsE8dg4lfc3VSn31UesuWXbBM4D
            K3BEI4wEwqDRZGOEU39tTlRSIhU+mQjdlO0VpwgvJUnqcR8XICxgLBoHFzBr
            LxPcNMiq1doTu/Ol8h4DenXAo63B3nuwJCSAxuoucx4QjxO6iQywlK3j7J6x
            fL1LAqKy79pApLTTh+C1N4R9njvyteHdD+t8TtoDEF6bnZRJHOdd1rdRSASS
            jIQFqdOA84kFdHlm3/HHdrL6iL26gjULwml5iejoeCZqlscMv1Xfr5viN7cp
            X+AUokkQReiH78X8kCRC31posJO58+SXfXIKSfzGYxeN4uFH8sVFmggN4suJ
            K8kYSOCIp/weMJSiH7GgeBFlh5zVgGbER2F3ifJZl67cXKx544OExdFXyqDH
            wZICowIYDE4eYDHINmAHwhIs3u/AOVYskGsYHxUo8WIdTCjIdPCLt6cYzNGI
            rsUZ73YUNx6Uosf0xhjTjV2d9gIRfvk9qcT6AE+0MgDIvMkwgsV9NKdVxnfA
            9dPGu9g20GQUxYWNjWnmOKjua0T8ly0yGNehvvGtA3DtfgD+OFfzNVcg07l4
            PuEcarH92HqDaCen06jPuDFQCzg5aJ8NXJt/aZL8Ai/RnC3KbGqIiAByuQYG
            8JAUpKkYqB0QckHUHxfN6RnJ11opCIm2ILcrmGySYKBUcDKqx+I08AYgNUAY
            BOvHAXkRXGHHdu5MT/lXia/FIXeBHe8IKu6B1vmbIo2JjYY5xmyjv7QX5Iyd
            cphQQJglnIxNWusEPELKMd4iJsWneC4YkHjek6/J8zgppNiSBz5egQtCSiwR
            RI2nLfRDHV/UiSHmA/HJM0Io4bhJsQlxgmcbDsP8PMVaoLEXp3E/EISBLV3Y
            qY0PGwcK+h1r3W4MK3c7iuRLODjwDzLxzIdPCaZcOSv/4Lhy19wTBwJ8hKvG
            I+wdYwowkhvVC9EeRAmqVgQKwLzsKcsmWChF4z142mgmkNFJtlKoixaFBxhH
            MjSzTBTfvnf73u17T7wBrkuSyR6jqDnABd0/u9w50xGAptEVb9q1cIqNNBb+
            IfON/skXAso0nuSrlaoTGBfovNhANzd+7D6VoPo4Z/dloI6cHEg3PHQUVzgD
            x2XjHKJDSTK29fDEiNZcAgdRmgxp6+PWbHkKY0sJOraRclxbIJRjUcbgguI4
            Jx5NSbZU3rBY911Blr7gcOHJHOKAo4xLJVgEWItrUS5I+pH3hWBL9+he4Iy/
            h8AZeQh0h/bns04dd73rLIJFUmLAaNRYYas8joZf5INoAGx2zH20bT1XcFoS
            Tjn3QKOYJXf9Jk5r5Jnw1/CdHXySPQN2yx6PJzDHuucKPDUvJhakd7/qJJTp
            pMomTgzx5wZ/dRM1eBa7hOY4WSDP1zZe661e78kw6oWcyQvREpwRX7BBwyuA
            +YFc+DhikwIqQBwx9oPtxM1fYEeuz5OB5db9QZQCnSBCgNzRlH1U4vKa4HHu
            HUitFGlKuzpp2gnjm96JVGdlgNPIXYm1wG5NOHMow66tbQIqYqJDijf+ngD0
            D4KDBEUIfPcigWBgkqxxoKIbZD44BpwQIB6QmiWDowKtRtxB5Zifw6VZyIiD
            WB0+TckuwAKAIPodayy1oGGHPhLeAoPjNTOT+PMB7ibL7oMD9dZcaXze4tYb
            SETryAhhkwIX9KTj58BISjXl9gtWx+h4yr9AfoIVxJEmedgIqFZakdgK3DTx
            TsMHgRcUZYLTFgJtETNPCHhhq8Py2UXakiIbev7ImlFMrHQClC3dhg+Bzb3W
            H6eN4qZAjVZG2x2M39h1sp2aTyUsCvfmsE2EzRONvzMFNhixsa/Tf/A1vdt9
            X3b9PPWB0wwGkGMR2U0s1kAec6wcJxUsgUDQexILpOzEcjgAdiww2/CYBLs2
            iocaEJcD4FzHsnDSZg4LlBI5HWAYwlUeX2DHUjvg6AAeF/MGiPTcEoM4++/Z
            /39ev8/953/XzxMqCcv3gHF+hudSVDutAZ+UJ3iOgB3+Ue++d71oxx9kgniH
            klD3An8CQsRjkfgOZUZ6x4laqgRHvlGgyQ1n5LsnxQbA8FCwio1JaY3KiVco
            qvUkCug6gjmRuMVxwolTypmjEolTPCjbRUtgIUH5bdzYrBvEYSO3KtBpgijc
            OwpMwdKPVNBGfsirNcDjKlyySWk5URAm8gHlUOD8WyIzGp/J0wMcKrkQTkQT
            eYnBst5NSSq12YQr2vyA+JiwmxuvrdQOHN98ynug78FNDg6TtvIz3mCTYgRf
            /DHkoay5PAE03zOq147P005A2IJQgUtSzFfP3rTT8XDiOmXY0Z17MKzExQhC
            3pKHvSQKJgQayVHQyifk3/ixxHs9oxj4F1hEi+SD5sRRmFpE1SVsihDPM1M0
            gjYGJBjAyl4UL1DOk0KnnxHlj2RN3KRglq4xzft5Z1B+ZKq3bG0NQcgk84AG
            OGqyKvt4fhzBFHlKDy5f5B4/Z+9SHecAumlz0QE7+819vydXk4Td6BqFqRS7
            f7wPcEvxiY78z/uRAP+nHcHpJfokkptfVBJHnBwg94JFP2Nx46Ot73EA4GIn
            ER9R0vcpEUjvsVwf7y+Q4p/jKHvRN7efotGeqYZE2ZA01ZSFRinL2b7IBtpx
            dgIQirMcTcm7gT9Kz+/wdJ4en0pMWyp9122lsqWj14uzJUcARAbKt1I0v5F0
            mxKTgKq6cfyjUW+esi/u0OjdCNRTPEN8AWh4yqlie5Y5iLSW3ZHWYqGaW0Rm
            fGfGp98gQ+mYwsn25b5O+6C0JmGz+MBN3W3bGpDIdMIqcgMi2enq+z2A4OlI
            6hZxoTR646qov17Bq2weh2Nc/Zl7jCA36iXeh21MlddN6oLu2+AJY7xrkZgw
            OFyD5ig/1K1S/wO+WnwR2sCpH8KF2A6CDrUGOq0F+qH0G/Nlgth53zr5aZPS
            BJK0zCOJT32KTsoChaMrn9y5NXwMJa+i6o7sqEro6LxctAAqCj04aNt7U5oP
            BgtgmOIg1pH/kDQx1F181asNBIt225CizdwJlnYbocrgjiQMKQuAAx9P2Si4
            geDpBlaBSqMkmaz7Ww7cALaPph+gWmfs6vOyPsFIUgWiicV7QPmUHKLMTsZ6
            zQWJ9oRZImPKdhLBnsBWAJk57EiqXXwBTiV4HlGKmivwLTJbxPOkeesXNrUI
            qLiS9FnO5qVQpwOkQMjwGFhzQlG0vQNUbbUW33GdDaS8SNObDNi7oT3BOIav
            hkYhME+J78UGyo5+LNgYWOxEHQ0G57eU4H0qcb51Eir42k7OhpMgM9ssyXLN
            tYPxpSGtp1QBxIqUgZdwmwubTxg0CnBGMHADPdj9PFUUMpD6IYWZmr3XSAc5
            E/kc7v4GP0D+TtRXBcwl7iS+yNvCMDvzSUma/GJty5JtRNqFcdthsim7IzkH
            vgqLg98OO2qYBIPjIustbedt949/QIgVqan57hBRNhrAh94vaS/OooQAp0uI
            bje2TmN5N74b61i882ELO5n0f37iypxmEvpjzSJ/HR/pTRoqSeO7C7abGmFP
            si0yqTTuZpAooD1MBDNlKokyJ4TayazrmZXhROZODp0ioASyNYS8xU7azY5t
            aDfbhGqSyS7vfnQv7Tl2faWVyUAfjpsMS9qtr9pKV39SJaE/l18LOtsaR819
            +LVKlA7uFhB3gXigRILqREoHsJgZGI1Sg4D5LTU57HR6fFLyC/4Lv+8QQCxn
            avzdAvvTu6mpnXwBnpiiw4sz5O4HdjxJ6vV+SZQyIBdf/KwbUJenpzYK20Cv
            gKFDpeEG+I9JYAzqyGXanlZuBEq9KcHG7u+BNL2TRHutjfLsY167ngKIol1P
            8QkQiq9U0zx0Ln7oHY2NlX1Y5CalBrD3vYEP+XJogokOtLhSCnGRiAw4CYO4
            gnZPOKnDQC35hkXX6Ha/3w8f74ePOh2fivdA+4vywhzUtZbMEg+f9QaPyUQ2
            CWC6F0EECppzzaM74FzwKVn65ViLMaHOS8V0iTkEJsaiPjhay+RHSypZgr1s
            ohLQ9xToYMJJPjpCIpZ91KunHo5Mpf+SBkHE2PLkIHBa7iO+yAXwJBqzydWZ
            06hGd5vS9ejg+3Qmcdh27NTWeVkc23Xte5fd9iM7V3sf/JNBdvMdv0Am+KNk
            VDs0aR48JVYube1jcyDS+uO322pnKhJfv1lew3V++/P7+ij/+I32QNqHen6f
            8qOUq6YJdcFc0Y10vvaggeO7OOk92HYlqXPX/rh8fX/M3OVcbJuMfd3lfV99
            deFTfGPcNQDjx+KDzgoSx5O5p2jqWgnAAuCatJXdF/J5OHK5FMpa+H4/72PX
            OsrXvLTzW0pAg0xS5Z5KJOx5vPdkUkmZUHQSaPX9G9d4+zy3fqqRqOS03aKq
            QHJ9jFXjLJTZY1wAp4ukPE4blaMZDCLrM1DBUXWIpMYLq97FfZDjUZZzUU9F
            /da9OCQMQwZOuWiwYEYLmlWXReOLpgentBKlYGDzvHY8T/t04DK8k5qhUZnY
            XbbfcckDnZRIpt78Wjz4AneNtP1cYvQ7zi3bpTo3cTL1jol++v7NNkF6rS7b
            AtN6/mlRySJSEYdxdxqh+D9MzudiyMX/JoXHhc0gbzIwTjbDflz5bnaK/PDn
            97l2WpmxasiDESK4SfR9WNTJqBNbCg7kjcnK7mhSUU6E3pYzyjg20DN9gAAB
            vkI72VyqXZwGBUIYceJvNe7KhR3TQWIG8FeAqXzBYxK17xsF+dLqBQ2c3C5F
            3VwYUB8EYGrjxk79Sxv+jkPtgIONH20QLOIDvcOk4YOpYBs0gK/NTgzoLYp0
            Rh1gqPpqqIPJsGeJRF6X7gV/ORAUqy3AdeJHtvWPulSsaQEo1wD0xW++gzGB
            /sd3cLdv3u/wgq/NwfewoNVJOCseUXxSei9a/gNU6BSLc2Nemd6wPKkJUIF1
            xVJkbrIN1lJV+AyQhAX90paKWIi6D3oYyJ5LJ2AQJv5pN52jalx9NrPfK20r
            GcMh1/alfUkcpIIAVzioMNk2Y0CZoPRAjudKJjFN2rJR45ot4oVO0vU6za92
            yFfM0c7k8R2g44Z9XMkOSsWx1Jb0TcR1C7Qz6x1+JucoD9BtHiYSOTjxcSmC
            7iJOpdQNk0itqdBzFCIql0GaRPMoCuTcfNcN8dTddT6fEW9ybJmUsaAHGQbg
            X4CLtAkC86GnwoyLHkEIXk9wDzWO/EiZag0SSx7MK6HiXQH47yxLLXy61MjH
            usaWyfT6z3x/HOPG5NveAxPs2NafPvj1ofbhaX9wto9K4c45BG8fJVCc9gTl
            f07MFyMJYBR6ZFwYQIQso8lQQJpR6ov7hJMtcy+wcLTZpnCXfgYSvbDDrg1y
            Fg/Eb75I3IB6IgIL5L3wjTLooLT9nDDWGbSRaxGkR2yVR0ZqbX+92qqGPjzm
            3kezW3vMgwoYTObJC2iShnqgW7l2Dxti+Jlaz8J5mcVuoz7VdbJGeS0EhjV3
            Gyx3YGKPkdxpv9PGje0Hax//5wa45B/qdH213+d3+3G3zzZU/sR+PlB9YD4M
            hpPSKPIr23Z1URCB6oTLdDUSi3oxtLKSQf166qrteCCA2cO5DQncjjMB6Jo+
            qcOzCUp0RuSkjU/QXQOO7uQTt8WslG0A6aD2epJjmye36QB+K/hGWgHVvpnQ
            cm9G7UscQZwQPpg4DmhLA9Bg9FLFpsQdIt0MxT0yCaMukuC5iCw88JkDBKia
            Im1dAYGc3TZNEon7SzofwaLsBGjrDkR/NJ1SF1Bw2+OiJOH6IN95Hz/upfa1
            0/TezdihJD5ebYOyS5KdFUlV+BvUDdp547mG+ZhNSrW6dVvt1GddR37JPZ1G
            iCgAhSCREjbO8G6DfH5TC6b/oR6qfowT5aALhiejLxZsi29qr3IcJq/y8OGH
            ithsrx7S7UUnko1yYUCJ1BfOSdbZ9YH4KjFHQvEqsur9nKCgXQYSFCsB0rxT
            lOqqo4QuUaDWkol6EomAxovdTzKExqUki0MFKsY+mlaZ3YELBxwhI0iiP+Dq
            xTh6CQgHjScKHdKMsbwkZ6PNgEkS7IojInEK6DLgv5UCoDB9YrFRJ62FM9oJ
            QJ9RxiS6/9MG7rRopW4cC03LpHv/9sR81BVRUAr8h7HPARKdqgqKkFqkIA0A
            ZRMErVhMnBp6sgFvEQflFiObvRdFLjgHQrqSad10Y8m0pq+Ussea3EtetUwn
            YSQ4aLf8lHY/M7Uocv1TnEOm97QpE82P59d57vZzYARO3N7tMkRh24DzUxYr
            4GmIplnmA9bEeKnAj3az0dPuNh2T9uZMXuOlhastZPShFp7pLBI7OScLnrpK
            1aIwqhc2JhesJxnqa0HBdSXyODld9m5b1I5Vvkealu9k8mvfdeXEiUOoRZlY
            ural3Z0wc4O1HuSasvwaaLKQzROyjGm4m/ZjIqqAQQYVoxODKnT3vilFmxQA
            Zvw/Y6clvM96553nX7yzB8ejVT0d/7kLyRHz46gMEzO8y/31KqPzrKMquEpi
            Leuh33osUz3gGuI+lQkY7MUH9KSFBgW6nIzLTIcrN4ECzszYbLI8TQivs6gE
            M+TNJq43qdpObhtt4kp9DZ67yQBJxvyCwd+4attu07RWVj3ewHeYSc56QMhf
            4H3rc3bgpA3r/W7siEvcEX/c5yrLfIsG0Mqagx4jGylTnoA9Q8QKFmK7hRhS
            7vGy+yrdiok8sBLdrCCduZKAEgTXfqWtifwQZxwxS4g2Pr9tnPuO5yBxEyYH
            12aUFU0a7X0u0PYIkFOHEfXUxlKTbVfWO99BHNqr/NDKA7So+0lGg+WKgqaQ
            DviuICUbcIu9f3OpbI5IEYIlAOKkz8ToJuhNJO5NY28Qw77PwDQVmTi5Kpt+
            L4681mnYRoNv7QYK8TInMJ7JORFJ4l7ptHfC/iBPSkxWZOHJpYG0NLcOAlpv
            nculMEz00Gig6RjUJDl6WzcqoPGhPTyJ5DKfkyoLM0S05+m/kGpkTCcv8cOl
            +lzYRJdBljtFDwKSBmDkuxRxcOzH+tQsXYgl5MvTFk2/Kk/txj9OBFFKnYrd
            BQJnBPqFjih8Ry0nrf9omjUGgBX13J4WPbgFe9FpG4X9+vgoayUQ3yCOsB14
            GnsRz9Zv2giAIrOTHeyEZwpLaIbGAJm4j1Y+NkFggdjkd2zGbyQ7cTxKv6kP
            Jye89SW0DwMnL7hPKQdOQKMxIl0enD8Gg+55bp0YavhQqjAdNyCvuV44Wbnw
            cByqTBY8ZIylVTSy2gSHhQY+XA9C8+po+ZnyJi4SXbFBMGY/E8U2ppamJQ64
            TBIdjRNDYwnZTpMbK+I5qKLgpio98febWKErysWwGcsQdrQoDbR3uGTZg2cZ
            cNrhyw5+06bO3tUbPYIidX37DXvbxCB4ri2w1XcfGwcCVG9suOZlPQYJjnXP
            URks+ufQwA67REwVJ4q/SzXVMPo3/TzNqqPEMo7PwWsvmsXGQTtgs6ahPX0l
            1zsf8ue5DYnCqxRz+N06mbRNAoOCrDSsjeLYucDZo72axJMsOWzexvlvcyxC
            EE9bar1/lXb6Dz/9x9N/B9LDd1xiGHygt8NXPf8M1gG2maUcN5BSaYxYso1N
            m4/bBUMq4YwN90GnBHwPfWuxUeVjZLZ/9LnhuEDnfvUHZpkuWy/7P35To5Hi
            wyNIQuaZmX3vk3Nv0XpI47shB4jLCS34gNMYF4kogjuv9tHJoLPR2uwDLlle
            eMZn/WoLL7zakCEkBjRBQRxrG56gRDfCaKASGyGxLZL1wTzDK+1ISvswgTom
            U1Nmv93qyCo02Hs03hhjktGggHZLMequd3ig4I1+K2b7AAB5Gxc7t/9Q/Hgn
            vt+R5EA42cyXGxUR1AGZgMDerR/v1o93ndlds09M4qKh4qRWsdl7sezFubc1
            1WmEB/F30KXLtFayMGfPnkzde/rnZJ0jz0nrfnTxNvebqaQTP9sc7blJatNG
            jO8er4EbC8PJZT1ujuFAKneKU98fxBU8dYBk5OfZtkuFx46dy5/T7gT+KF9j
            AMp7k/hRxE2mvp/AQm0tmUMRjGqhu6z1zGSX7WRPsVak2Ze7M/hFQoj+dI4t
            7Mk+386xzDLAVux619/rtWRz9IrpI12jLc4zjBqK5vHVBfvAJZjB+LQQwE8c
            OmFZXmKF9KRcNSJ+k51yjv41WKxuOnVa7GDhxMmjfru3QUikw0UzOzbUb3Ua
            o4v67TGDPk12IrjzdMjiwDdix44hmMWRcgTDvUvZ1xN1w50ECa0WsEB0/iq2
            2I2uh5R0Y09Kfd2MUQQj72VpKSMKf/sha9Ypy/FOPoCOcn66umhoONEzPTWr
            yGsqa3BCXvfDjNQxCvqdyf2DcbFfz5s9J6em+273oS+KcyK1w6+6xZ4543O8
            OX30/WK1h/5ZlR0Ru84IeIctCv50aODdBq6ISjQ7wyL107jbjTMigzxlbsp+
            7Vnag6wg6stHud8W+DhgWTb81CnjxEQZazTaiuGD35b6lICBLgJfY4xb3OV+
            cdPEjZ9swaIzpehemLoXhkw1MLbHlgDyfRqNpEj0gdIL08vdni6NpK5kHOIU
            RAfoqxNLASOZedND9ht/NGgRub4CoFvT5r0Uwdwt0nUij5MvHaww3w+Ym2uz
            FnTCeb3fQul8v9vJ8RZa5H41xtU0/uDdmDpTB/PKdsKMlKbYQTCd4vUqkyZZ
            jpIAcOo4iAl06Jh8AbnFdH4P6tT4Qa97l6iAop2zkdeFk4XyhANWt5/QjD2G
            RjlxkFlRFwlNmzHW4TNHyYlkfDiZdAaiC5Y8BVqb0r14uWWZS0bLKSZNorCS
            2e49G8y0at8ZpgXuPdSU7PkuHO5Bz+mHLkkAY2S2ndkdFDOXIsqh/VujdHpa
            mHZ+R2AYqb5AB1rcgXhj+acUlp4LHwznUPAlF/2CCXIMBAsqrWQgUknrKRAF
            W0hTWlp9yoZ0ioGilQtOHEBGc3NgIGA6ANVXMPG/A6jiO+6oikszahAMxHCh
            myH6Ebuwf5HvoBs4YFI6GjS1hITV0yabMQe6N4UaYxq8yueuz9AOF0Gfl1M6
            NxdPAJV1/K5EW2tv8Q80MbtvPotxzDFD3ep1xhaS/snRCAW0l8PMYPdzI6UG
            srp7xklwnoo7qhYi9QZkgFccqQan31Mbk9dG2eTnlT7ykbGwFNuAehAvfZpI
            8rwXZ+2g4IqiwSgbpKTGjr1zm7hBtjUWxTdZkAa7xl1Oo1KdqGlOTnc0y0UG
            c5Ay7N5BGYAY401kKdeN/PpNIoQkN82M6aDVdnAHTJWieRSLkxBpslyzJ7dO
            lTv3uMyX9r1Rk0UfHC+7jzQTrFmImP2Rf6vUm0yTQoS9SWilGW6G1nhZvDII
            kcbtvI2bYpwarB3+poVqmfE+XtXHC3D3e1Qa5PvibIOnrJpY3bytaQ1Qkjl9
            6Z3kJKHw++QE+ucES0MAKnyliYHOzBgCbZpzUXCzK8KGrF7IiAHsLE7qoG1V
            uC8pxHbH9OM9Hdt78fUeycYpmRXK1Eec51m7T5vRpWoTALxXafIqA8RJByTZ
            vIH2BkGhxay2mJjYG/gR1J1wGN+n/3RKBlKjy8I30mhMcO6cjGhMZiZIpQan
            FXLszbXtTeHksVcYxTAGECU0NQNkcYydfyvoBZ56d5hVtUNc2P7+TH36d5+9
            l3bqkhqswZ4lczv0FrsPL3IXVICzQSfDbRdtcXNptxbDYCSLPZGRXHjN4xAB
            NIfFvfxAH5pJDGNSPT44gPLak49PxgQUbJyHAdJKqxak08s9hrGkGFNAcsC7
            nN+MlTfv933XZrmLcFyStaUEnYwl4+j3y/D2osPNnQOER+ezxz+NVJ6nhEs+
            zEHjBEijceBlC0sgGcUMA2x2GlYSxHEx5cIhUYLnM30TXdSd/IJI1Vh7pL2F
            b1EG7KF6SdkEdlncZZ1eE7m37RpC02Hca46TBSaiB68C99GPc2rC24vqek04
            G+UpIPbnTqZI5Oz8Q7nIiJuSmxi1K8miWZ1rPskCgxKMK8Tn1jCKKTRTrPVp
            a/BpOnW8HMDY3P4yJpjqaJWVaF7LWQbnQ6IeTOyd6CF4UzK95K4+5DVAQEQL
            mvoqA1+El6WnepW5pwWWnXg4dAwdMkavYf14jQNf3TjjN6PRpyzpyt7YVSAW
            y+cT4w3gdFNaQvBLuwCwDKcMhAIdjqQT0zsVuLDtxVH0y+vdAM2TohhKeUKX
            oRBkuX7W6WPXMW9pkqM8i05CQc38so/DRLHTWU0Mw0nTxEqUZRM8xfWuGH8m
            PnF5i5eNAvEgKJ57VhOxUJ8zz4n0hrMO4THlRV/V1+nD2vlu/7QLxM4gsuVo
            X6nTJFK+RKY/MvximZxyWY7+2IaJV/G8EL/fLWClrO+Id4L6uSowlmKL3qZk
            Za8p88PoB+qOXK9uLe+xJd9RWH0mvffQ/2LGhdOSSZVQuOlacaWBeiqDbkFZ
            ogpGVaYxJz6B+p4YbxDH9H2mmpc4oEiQFjPKiyepWwozw4CrAHuUKWd2Cml1
            Pa4pEpOiG1X1B2Z+EF3disOYwa6qTVBKCr/s6IYElhJgl+bAH2We2llSjYAH
            WCBAOoztXosSScdQLXwWXUyiiMONYgwco8RZyCtTKgy4jR6ZHAhjAhkGlmDe
            l/mcAlpqHFSQ2HXu8l6MHLd7IHNcHbWS3vxCP+uzfHzUx3DAy3K8BdVA3O7f
            3ODF7Na8xS8HnQ66P68baEKVKBUQqVpnEw9QSKWQZqfhGgMyUnuq6F0aOE7n
            vmc5gJ+TN/EtL8N77jINTPWcG1n8RbNnyVl7t3O3TKB2eze+Sc5H3dplFFk3
            5/7dP9pQm9f++K82zxjbzxgpPjxtFdc/3lVb5U9t/WF8TeNr/1fGd945Y6um
            bPMCFP9rA1Wj9x8++D7tbN97b3UiY8S87t2Vdzvvd/j74yPv85H1+Wmn/s9u
            R9b6ndDjIiFBqFGCQl4Y1GB+qMfyQckHp+57EEqOzw5B0E7ESa7eqfT3yf8e
            pETxdXdAxFwp2aJ0kIF3GwkHdwbCU+jEnXtLAkbCVO7gbvAZGVgFKpR32Us/
            tMNUt80ctmY22ZuviqY3UUA3117jPhuFfQhkbPdyEzra72AhTdzmTXAkaElD
            UQ3HxJBRjxTgoNon2RXirwcIspr1jezuVEN+H/gFwNnnfjYN3xyownc2qJf/
            DdtPGWxvGa/6OoeoxTb65nPass/xkkW9GszDGplqOJN/BnNNB5SvxoI1prLx
            +f58D2j6fgYUgKWGrHJ3O8XaGfOjnf1hnFh7zz7uvJvLv/Xuvd9tfM8xWCud
            gi3uTrbxT+qHkiQMBOnJ3h1pL2Q2j+ySgRM/6v23n5ef53tzeH0H8DXBIgPB
            dJ0wKqzCdjv0vVv4d8MNbXh9yP3cY2zKi3ZujHQVi+LM7JNC0SyDOBA7e54W
            arYGFVS3xECP3OfkGr5CmOR17V7miZN+v6C6iPKCmfvynhYxuEq7QGsest2J
            783UutlBN5LWdDo3ptcz0CMd9l2L7+dUEfO5k/epmxTz3I7joPHDXToFoRT/
            fYzJDaXcYt9ycrJxxRETAzVhLOlP4wLZmz7Hlfa40h5XstP0Glfc44oaF852
            urdcj9Bk2tyBE7HFGfLPkSG3gRiBt0gPfMb6NTAzGdlP+ngZ9S7apXGgtNjM
            PVcz7mvyEogG6boEiwzogB0i8yRaeBoPoPDD5cY2WaZxpSDx/AZvMhiJ6mYQ
            490eGPPR92/qjFSXU3l0PAUkbiJDJjjf+BwctxI4nd8Mh0L+rJO0Fwnb5eNM
            haDPYLwZ72c8U31OeRp0tg+Cso+ub6mUUnNDgj9yzqxTOU6a1zP0B+egthpL
            pxCUciSGUaKXuXKevH+zbXKDJHWtvy3NB5VI6nHuk7PDnb9DU5FYJf0ueU6m
            XyFJTZ6rfJ2P6jlL4szgnmEu5tCkvrKyc59lBYCZobEWdpYm1bwQuqN1Th2T
            3pZuJUmjaS5BQ3kaMAbMXpDkmO6+hTqgV1la4cT5nCz1spqUJwAniO3Gj+fp
            wUK1xJMrNbentx4jJzb2SQG5eYUzrCNtlWSa6+Q4L+m6r0XhTMYwz+0wI2O9
            OQaHoK+s5kIZLuy7gSHH9LeCRwBp3LWmCABET/JAoSE3/SlnYAuNwwLM8v5i
            LDvp4SUo24sj4DBo2y/7q7qD3AUbVGC8l+7CAAkpsQtNfYTcr4nfqI7tVBlG
            gaeH/qOYwDGTFrQbUk+PLKmClGemC8HIrgeQbJ9GAB9akFJHWhkmTR7JlKEx
            k+HzEWoMQBlc1Mt0iqZQ5KoD3V5qUcwzilbIGDNpIT1FKF7R/bXvvd3XaSfP
            1X3PE1zNdk32E7SKMe942hY+GFMTyE/P0PViTAFM91qOocsvEi3+3nmejFDB
            ysikrG2CJnUzcMHI7Rrt6sBZ6vm0+nFLCNa0PApWue7rsZJJdm27k0zDYQU4
            tcbijhVze7fTw5mpEearbx/K9PG7Pvfrd/n43SwscCUzzCBfsrJ5ik1auAHq
            ah1eroMWPkygF2AydwkLmX9DEupt6UNmXe8yMjtjwLnbtDXXrvv5Xh5PAD+o
            04WNo/SlrH8zmN+JOkJNiSQGMt9wd7L2QXOTKxkypZ3S3v91fKcfcjEybsXp
            neWWCpBtrr2pCHTGZkJvqhcY0urjAxhFyZsGkP5eJi1l2e7AddV318IE0tTb
            TgoO00d8l7mFhiCzCLWGdtdli7BAUy/PGMbeSaeDQQEdj99F+NsHcgHCfm95
            Sr3q+NvEcDIeAMkzdvwGhJL3Q5k4RcLflMlhQ+C+xb1RQNJI2jNxqgE1GoWs
            KGucB91TwSgW/qZVCRY2MsSFZw47ShZpmTii7h3pf1qFsmG/g2yQRqd5Db0u
            lOLZCyLp3u3FUWLFqJ2Bxhjd1nBMGpSt0UT1kmDQhQR8iT/+x/yKBBGcnCc9
            HecGIM77YyDHP5r1XgBYThTdU3p+Gq9osYNpo3xbMimG2vepFM/MyvgDV13v
            8ywCEtBUarZOiVUrkaArRNqSrSZ7wotyu7jNp8rhj9yTFkUk97A4cKN/l5Mv
            kODyaeDbgYxrkxV5U8ZhUBUZmOSEFnuD1WsBPL/BbAa+DUxaAjaUc0F+g/FD
            m5IXV5qBKSIWqKJbZmYyU5N5srfIU4NhibFbqfG+emAQc9Afl6mpg+Vcfuii
            TiraOqBgMZvZbVJaCDTuG/D3DjbEeDE0XaUAlBuCboK08+X7DFwKWhS7aMgP
            n+a2Ek9cSqqteyHfuMLpw8pNN6QyWRzc1yn/S/+X9c90Jd6UVjT68Jccmyaj
            OTGy/A5LzB1b/EtwqhNLPJhoPKl4PDZGT+NWIw4aBZJmtmqTK+sMMacMUmdX
            WltK3xSVRIExlVdgNKtKJQs1n3TJv8ET5hqcBSRy29a6kXVAv/h9UcqAnRMy
            ZXpxL869IzkpRkAy93UeOQpftKpVJB+JGEaNYvhrMGq7Ls/YIJBS3DRNxvnN
            d90tswG5+6m8PC1nDLTSEk9RCavaKVRpLmszSyhqv4VIFKkXCx9oAuv04TQ4
            ZDtmj6BJ4m/G0tHHMiAqbQewSwnmGYczeItVjUHLojXS+oaCXPBzCjmA+m8H
            Merxqk7HQ/D13+yLBiznffAxdAauFoBSsjac+0qGNA4KuJRpw6uPK87KRdxx
            CAIXkRI6rSTWaJE54koyaIxsA/z+OLpLYTeIbxjvheBvDi4zHaA5nLqzGBmL
            QcWyAXGu7h8WnYqxTaWETXiMaea69zbbvacRHCDXhPXbsCvIz2B5hqxee5n5
            boLmEDZ5Xze1dKinX0LnUE2H4DkE0qG6XoTTD7W14pqf4qQ+72jv2fO62zmE
            E+ZLmzcxSCwoXZ7gQihAt008a0atBW9asNjJVnKFVVE6lyw56taTCPj+Dt5t
            Az1fFA+ToIO2O9NlL+uE1SySoeYsrOSa8RKu7MBGVOUQtLRHsd7ATE4pz8yX
            kvQ72Fhrw8lfFIQY4LyC2dFEq5qjL+3oGFFeof2Uc83ajcHazZUxct4BwufG
            J8rjTC2nYywr8ErZorfrSuMVpWh4wEhFhdKUbYLsFOiPJbahiqjASTo2GCQg
            mKRj8UiyLzqyc6noHtzfbMC4ra/R9nXtqI/ccma3FkKQqmp1RVVy1K+jkSHj
            QQYnplf10qA4aAa7qmAl8EdDi+HeMJxRyjmopnQoRhCQZCRK6tOeyeyyf39M
            b/as28e8jSuM17lql5qCAU0b1RYKXlRO8FTCoNAoF2N0qGhZPdtxKbHwyQxn
            zBjZxEURgPyh6QWlGanW8oAJVWAhxdem+wa5jZsmTztz1o4IReSTnAKD9+P1
            x/Zp8L2N4+Xfcinds5+FYSRpgxcUQpPJepg0j2dAcwbe2inOmMCeB6d2k06Y
            3LRbE2rZrhgAEQwFVlZUg8H5vmH+JaVYJjvKTBVl/XnXAdzSEPrRDmaQbnww
            4w/zw6ne5j2pUd5LZHQoLXoaRvtQ5jRIjpEQ0ddcL81qnBbPWodD/g37XlQw
            piBazGiqwGlHJrEH4HK4wUyzPFu5qPywJzZb2rvAFHtZhEkmXuKidfpSL1s0
            OjFmxoZ2JjkgCU576k00kLgpXnIlQQvH0842BhfeWRsmwh9GCNl8Fpa34955
            WTsqo+rvLM6su8Ijk9TCHLIx7EGiA9oGa5DroyENsK5jHE5dxaT4m1rOncCT
            uWJkWSLSmnKRG1tHwaBrMLtrZwvljSDpo0mwCuQv3O3o/VyaOb4+0sViXN34
            KOlFwBeVQVV4tPy4DfdTk18U/3PqvUJgaP47gRYHUo4pc9vkZIYnytOZO1km
            UkzkFF45dy5J1mkUU/YiVkaGKCPTO6E/PRDVKzlsZgxbgSY+WxW4eINJXZlq
            wAKIe/Vj0bmYlE+5eRRUT9QkiVxbnGT+eMVMhyK3Cd2rSuA9odox4AhkqZQ3
            XkEsKW5plmNnB6+jpyppv14uX487hVy7CWCmD4wzAAIFxAfQh67+sivBX0oY
            s7ffgxStzxYtZMdNCyQT+s2wKrRnYLzzwutJ/5JoJAOQydAKvM9PkAT4lknq
            9pCLZlf3zB1SeQcPZ9oAi+FzySa8b0tPuTMOpU0tO9nxbQSL3ffz3trXas/z
            tGsCcPOWJttSxTSrN679/m6HGZfNj2eXmw1ByMki9Ct9c6IV8vXOM0Ojh6AA
            FoLdClKnbw2L5GQT6SnlCUCblacdP8eiA9A+7KNcdlzeyuXygPLs8vIv+y4M
            Z5efdmTtbO2o/NWvs36nHGeXjDmUT0dRUS8FjOD9tFChieFMFMzi1qQn7u6b
            QR7sm6zOGcvNlJM5/bYdf9v++Ib4l2+If/mG+PEN8Wfulgk+g0Wh3RNWfydy
            T7CsFrkgZLm2zwp+u+O6MPdOe1mwGK/TKRq3YNps6iFfLWrr2u7eIPNAkgPB
            BoAnBmFKxpTKm4wJFhOGF3BAYlHMg7OJ5H3GwA4W/19UH2CCYrRdm5g515NN
            iiFhGBlXIjjaWCucTLmuvdhuT62QDxYuJbqL2Imb0yxYQ7RYnM/re+35KwKU
            BWkSMURTMX+bd3dneoFPL7pNrFC+JXETGdBpeh3MF3DYXhz55zBVyOSAHgti
            fX7XN+lHM6R7MFlHbCd/WWEqEzRLsnK4px3fE25EthGLmfWeXGuUExGMcGA0
            EGRUP7/D+kav0PUAZzGwjESPosjSAgnUIc1UZUF3cAH/l80UV1med4Yr5dKx
            9kNi1MAbUEC5wrL/U18KskdyWVmUlYFL8aA4AP7u8k6WQaP6rAqQivGE3e8l
            TebrXUWI3+9WiqHCe3yvKFwnsi4D2/4hsu5O7R5EYjqbg2ZhfL1NCt12zRBu
            HcrKMwp7u1+TSwO46q/rlenwUi4ADjQpVK+Xa4ermKRmTo/xVc5o7Q3vKyqH
            QAMFPX5TRF+Rmk5cUAooqUCryTaLLxob8x20fJn6oPSkZ8FZIG1Gs5VdQrrN
            ODAQlAEJR4t0a1FOj91be7K5Ry5el2UarfdaFutzx0zAs0exGa5t69eedeIl
            8Mh8PfNoKzJPrp83qMdON837HW14dItrell2xBJW9NN8QkOTYLWJIaTbtkUQ
            zO8OlBChK5WjU8TG2xIomKeBDUgY+KN+uXf9O4bXwLyO7dcgdq4EtYET+PVR
            Uh7du87ux7fvOuCb3h9e0X6TCr1hspzwflwBCCPTxDbRmP7ZE/HxrX58jz3S
            dJaLZ+M00ydLUfMah7t/3sHYRSrv9JPg0cKO9Gv1/Xd9ChW/6uddf49pux2G
            rpP5sxi+/7xc3pM8hybZJRK3QUGs6enVj6UnQ+PQ9+QqcnRyih7vdnnckdl5
            3ABS5v6tMNzUVfYVZBLbbScy28NOH8+0tnRkV5bmo6SL4P0toi73GCNmlEMC
            px0JhCGA5ExL3lEpvuoGKSDTmXr7MNKXBS3iwpE/UVzpoyyk14Pvg/H2Fr6t
            igdkL834QUXxzksq9OLkFmknDof/KBd7ihN/Te5qrbTt8BXkU1rMyZlMsgIu
            b6n0EBAFk2VS1+Fl0M3YIY0cbDHzJiBgIkniFwrHT/AuKuzHNgCXvw4NURkB
            7OXfj9nJ9i4Dd8sbLe77h4ZGQ8m6ObjIfAYKChRbD9vcSN6tFjQpNsBBBUsC
            ceNSwrNli44v7ErQkGUBxKQpyoMI1nbf9yqB6rXjkjKs8n7mrKxJMBZ5woia
            yGuMy2wKZM+fjw67KeEq3+s07RKO2HVJoGMshCpWR9I7qfyNHYxRERc5lkkR
            AvPFFJAsFHsxtR/7t7bTvRdnSWFBZi+lszDcyXX/HjS5oMilnQxU9AKVb/8S
            s9dP5iQjOxW3oNoOSlT9RlqCr9dAZI/ElJPsk3K3Wnwauw1XmjJRBZtsTkwx
            W+ymdjwFp8CDvOfH7cQQn3WZWInXVSwBxLzXlYBvUqY7CCB0GyHJJ4bxU8mF
            YjKlh3KKYs2Jpmed9Ddr0WaA2XMZc3vtU+ljj6kQ3DK8QTQP6CoBZ0mhK962
            Qn03pZc0443c1/jtpzU5k1FDpdjB9dp9bD5ntp2WmeLsBMT32wA1jYEim6YB
            ODXiSqItMQNChPpeHFdWCnI7xEfTEVfSAIa0lzUKJRA+JEWxoL/pAKAJIRj1
            x4RUX/UuqweEOra8CsehyDr/7HomPwQZ/zoFZzf/noDulMhC5DeVwbZDr1d/
            zPkicFSYhpyhxC1tF98/p467fnpFjdemfJ8O706kYJ5WhaGjubKeh+v1DDDt
            lMkmjyqDS57qgyQ6OOB6DkfY1NrKlnKpVXPRCzRyIJgJ9ekHnhYaAjQ6xdCi
            aeeCBizmBwEUjuONfbyuY+3bQnPnpanphBIW44/zZKLzakHlxnWeW32R6zv9
            Fn/LRoi/859/v5K+ngBAO1jds8e1ol3v7SVOclZyymb+qPKJwve7LcxMzPyj
            qIOYi2xJ8SJ4smWRGy9zewfjPUV1WvjH6Ew10q65rUL/kSOCacR2LgYamNx0
            qQfhSUsgxU5IFlK/1i1bu/3WhCrO2k79yMh5qsxQ+DsQXbgsLhtACqkZ8TQU
            x+s9BuY+jW8duRtLTuY95ZuDwXa8ibxPu9QNcXcrrViSMd2lo06fInwsjQtP
            IAdGxmBKsc8xyjFqxz5g+8DjIFQZr7nMevKmeUvBxaAUdOt6xQBgSHZQR3wv
            TMaRsEmTeoFLur8NvJrFCZc4nF7uRY5H3KTgc26yq5bkjx55llCJLAg3N0Ng
            nHblcuiUvw3nhdbUdKeQWqLJx5WSaKX0pE4NtMUmpe9n57YTpaUot4/oGTJM
            k6awV6HdcOnkDz6YTH7YQ1ztQeAGqrlpXFZ75wcw4SPttGxRAQCpkWXwKAa5
            r+7FjJlDaqY7COj/r8H3/j343t6D/9N4y894SWZ/BWRodLAaSgqomHFkNLxf
            zFh9fDoZpXYqBacbfkeSH9GBisqjOAbXRVnLY1rISJbfg/1fls+aMQuXpXKW
            Dd2lxGB2z7o4hl1tMrbhB0OK3TqrVClKYVO3Cwgwn5lrxxMqJHkFIBo9gRbG
            YNk55ZAt0ItOlo+TERd2GkrPsFVUavI0DkZ0wuS1aCaxBlUWF5Pu3hbypL2C
            3ElSrCNP+zN87j8TnzI3o/DOJHdH2nozvJRRUWheaSZ7vM3YLyU1WZadZZAE
            JtHN7zjpyJgQgeV1h0BiVsLznvAj9SU0DnrnqHNcWCY3PrlMyRKcd8icK6o8
            aFuWFQY0ZpTfTSQIBMvcSyIbSlKW8qAmi5MzH+VFLQ+oWULWxCxZhnOiGiA4
            YXya1OMikgOdEl8Z+cBf6GX7GIGZ2s0bS1k+N9i47udOccvMnD4SSNnCUjJ0
            H5Bsk/pBH+KUqYowXqqBXQe7q8kjbDp33pNUuq6ds41ljCgbu0I3kjlpZYpM
            deX6mtBCDn/QWCWFwfQspCABor2dTsYOC00OvYZvgzG71b8hxyekKETaGAvD
            qmrsDLPysVj0lpXSMdr7nZuFocmW6XK4MPhv0gTq8DaY37vtb2I7t1sCqdkc
            dqNYsBeo6nQpBBGVfFt9uc8XV7YXP+smkAxuIzkGpFPoEinEhgb+XIavFPn+
            tZvNlZ0GeSR/J0+eZIj0JhOJW683zpCZ7yt+6sZB2rEgpRkK8UnyO5Vg1ltg
            01esUU5ACo/cN7wFV64eJ+5Mqt+49Wr2jAq+c+Ic3lPohcRIIXUoSu4mNE72
            xpPnFKBDqoe+czEwX4oF67N8p8oQJjX/JlRuI0zmHpc7KTqnBX+Ke3EoY2DW
            MovQN0HdpbfTqYIFMYKx6XG65F6WDoV7CTRZoR9kiFvDCCJX7bTKKOoy+Fbe
            HgJSwK5UN9lNvODkL2rIfDHhBG2QkwWUOxrIDfoIpZvKppyAjbqqCrvvSE1h
            EVq5Te9P7oLGxeJjSE4vaXSdiA26x1M5J7MyCWMFYl++rFu1TEjgzNdUxpGS
            6YcPSQIDZST/bNvqRwidhKY/NhcRHP/WdzF8BwkIbOuTxPYVpG8HayLFdj0n
            BTL4sA3WvPnnMHOyTdTN2GcfVFXbSVEPmSf38g/qrVwmqmD+gi9qKn5TU5P8
            SmISVOM3glF1tywpXasWpiS8tK10Bn5F+Dh5nG9Jkbd43tP6O4kwwZg1RgWW
            4yIqtSMYTqndG1ntVyAi6SHNYD3vVMT0AT1k7fz83mgBmASqxGVa3jrC7qj4
            B2Z1ysbXNteVdwXVEYcSrcbncHOY3Z0Y+OT3vIAqHOf3INPKKESW7TCGbtY3
            gVy8DSJcZLaiGXlnrnoy6ey9KST3asxZ5I/nri86XRLfvCNAHakH4SlDLPre
            Di5j0CMu1rrv8kWG493nek+WbMcuW/hU7P5WtHcDcdozgyazoPZ40rMh4R0f
            QPEGNAkgco6985r/7HPM9cIX1B/2/Xvkd8YOmnk1GShkgVp6SrzwTnqDSLez
            /5KYAXi8X8TDCz+90YPFDB23BaLZ/JhZ35COo17qhPTCp5Q3M3lffatTd16b
            y2Dv61hi9zKIiNka77xkhXI1YljMIdWu8cQz00SAd2bsDdudYrBNVsdY+peF
            EJbsSfnSOwkSxlarMo74jgPnJP2erzhszvICOIvD9igGW1dIZBM21h2XDWUF
            DKBSFj+eMpFw4sTxhBov3MxebYd9VLhLox59DWnWlSZTOeF3VAjk7jsIBTyR
            zfe9fWrp3dQ/VR9/agcsRPht5zJNaExBum6AnfvvjWoxQnxekT3auKZCoPAU
            EO1Ehv1wzMnIyU2UswVgqqG80Q/p5/Ob9WiZ1Jj9nFpJWjFEUKNDuEOqUMr1
            MDAvAgC/aSaC/gEWG+3qmqTr9KgjOZMWg9Y21gNJ4RlaBaTaornS/CxvRHoK
            F1bFssu7A5PcEnPlxIvuiZi50XZ64sf8VmluT6PKmykqr2JOYcyrc32M7aHB
            OkUHXRtq0g7zsXv5SxRBHsZyrndwuoI1cerD5nSEMrSJGGQwt704Zn2sINaV
            Qdkype+Kr+aVT5Q7nBCpbc8yy4l2KVYB7ex0vcnJuEqzoEIAMxUUjwa+O5YA
            rUjTIhHBCTht3PXjef94fjvFu7nqDHa9Q59aVMWnls8YCI9EC/zKxHeXXPSv
            JpVRZA4bBx6ezsKLjB3xXWUsNZr1XrRlCnLIYh3GBKgieqjqaESCHAvN3ahL
            Yhto9jj2juPYzDJjmmkgJrI89ztqMVJnNJRBxrkxyhjr3cFsxuv+TSzxcu1k
            UA0RULaYaeMcxQwFtSSv48gAMZSv0YVTYaZ6k73zozAgd7ujZSUiAEoK7RWV
            AYrUUdm6H3JSzL+GJcPA7pWVr82rHNQQaGsz7CNU1NViNM/kLElsviT24SDz
            2k5MDKq8OftLii2ZRjH4hE4YqBh39E1rvMevKLutNYHHqTTADFSRGeQ1SvPq
            TXu7xx374onUhJLqPOOmXVz1FuKMWQ4z87Q1pXNPbn9L2N9SRlyyncOTGUjJ
            OolOAAajG6XLmw/fSEUwaAWwjIr2PhjjEvDGDK82zlFqDOy7ohVjiskCRNZt
            FVHeVA5ozBgCjtKrKyZHYwQaGlJMg9OHfd7ID/yrSX8d80hcURhZR4PFBzid
            mFZOsqCq8OlOht9eYSM9bcpsAXrnjh/Uct6Bmbr6NiZMtEd5338u9JPBZIeo
            0OuY/EVhpSY/YnG6FocB0lX2uyGw2xVlRKAWmJjGh6cf65+R2y0wnuwavI2F
            SjWeZEYR8bRaD8qyZSeIlgxtVbbL8OGumJSffd9m4BFF7XAgPCVSOQOhBep3
            b+389R4U8+e+jx6Q8eZVSiO/zOPKBD3yNn78fMJ7Bwf/3sGAliAL3zbYwmcA
            Gh7AsHZS22HKuK7RVs9cL6bkGL4mx5CVIo8tVmcgo2c4TuZF6XFSgdAwAb/J
            nR6YTvURbRjse0CNzpu9inLi90ymXuZp4zdGwx0DuGIkBr40f5o8+8s5q+/y
            0ZnGTTkIsmJ9FsVaSMTHhL6KNRopMyHgB15p1j77dHRAX5qvpflSDG3sic3n
            NAq6LR4mPvSOVLV6fy/pIzAKr3sajZPbLBhI+tilH/c6GbtTUFVDiU7RFT11
            GK4Lmw8TF8M2zhMV1LZRHqH7dn/KW8S/g2Rbbupzuqi5+Dlh7YxzXIz4br/5
            wZzPWWhXcDPiVKc3HtPIAGFghvvCNVl9pl55mKBVi4Nnpr3EqeACJW6mKNXJ
            5XeAIpav8ay4FxIroxSZoHDWC+S2N8i9d/4eOgmPblhe+q8LpHil1bnCPy9u
            ljvHE14lyjVFoAbH/qY73kdn2GX/7CysVwdJsS6ZR3wBixoHnYw0fi1UYKj5
            +r73DMh9f9x/TArZQ364U/BxjUOnuWIHt/Y6wTVRJsfnxcBuTk8XKGJsTbSl
            Xd9NDT7JqTMNMZPF92N4/yj+EYDbRa9jBg4I3TLRzyJEKkcq8EZkHLuymVDC
            gH6SaYHFXOu5ez8HFSN3eia3BZa56QxFO2pmwx4MKk5+4Z615rsqeJyCVXoz
            gwbtmOmUQIXfptZ6F8RgGnqmwKL79HKFNHiIAddI7yt01HnsFJmpkzAizulN
            e52maR8L6uI/F1Ru7M3ASVjyILfc065j4Uz75xLJ2siYT1I30K2DWhO6gYl/
            AAhQbjlHSXbfIqTtcXBL5IL2k//c/TymXCg8m4zUK6uSF6gBfU3zDpA8zmm8
            ChrBcuq3DngT+MGEJaW3NBU8yy4sGhnuz3oPeKpMeShQ2wHv2+po8VDJJXGD
            Y2UcDovpI71OYGsCpUwtfWRrsnC2j7RdSK+0313oni1ep4b2fu9EAOp8TpFg
            e5fdUaId2meHKYEaxIHVpO0ywLmVaUm5g8oxXD0ohWkm+5ZXZl2mACAFIdDC
            qLJPEOwOIPvjFiGBkLnJwPqdd4Hth6oxR6ZJUcxQ8LKW44f0Fl38V8jpZ7Jw
            enI1Zy8ljzNrnMi+QOFRU6q407TsUUplt5gmc2qTytPNFq4XMr57MXeZz0/n
            womoYZ6hZnl7GGM0bogBgmQkYEO/F2cGRdykdf93RUwGre9fngT4nXgvCXDa
            hhagPshQMAmfOXWU9BmYTtaXtNxpUm4NopJYSIQETkqbk8wh+AHwPbezvNI3
            Y2A+Smjnm4nygZe9L48i4c7YcfqUUw4gaFKwaA5HFPk3lcllAhCGrOqHfuhi
            vmKmMLN4n21kERXu2XnWaNSy7+dVTsBX6Z3ch2imY2OQ0qOxwRHhSJJdpV5R
            EOE9ZwqSsWNhX9mSYSg2H6XR2llbfTBMujGs3TR2tkO5gclaHogrMXS9DCuj
            LDwsqLFFPQhUW55BlMsGQfmT+VO8ZUdRVilv0b4COitMPs35PU3kiHyZZQo7
            TfaeTu1ssUzb7fP5Mq2hZH5dEi0FWl1UntFB3BSBJi3wLKK7SJNHp2LZHIKj
            kVnJb6+AQ4BcW4RfYlif2ToAdbOpBoyAGZfFWwBRkD8JGuXUu942EeOVwmx4
            fn97LMrAcf5t+Oq29WDH7aY8UqHT165Rvc7kknkzoWua3Vorzza0JtUV7ncy
            hEtGfopsEQO2k2dmiTIoHsKhIWPBYKyVXDAX4MRwKZbqq4ZeGOHPhW0vFvgu
            wYCyfHKTejcsJw7z6jC7Ds4VoFJh9PR84ai/VBJAWO5skJvU0scGeSmwyL1/
            6KEYFZtRSI5yzlHX2MyujUJLkbZyR8cVuJHqAmYgU+aSJqrM8tNlmf/epmx8
            a1+ldGSazXoSTETTYWnXbr1UWv52ZTjiOMUWsuf3MgGskf9DbTVqTjdYU9CB
            Lw0iPrx382ckNQI6/2b87MtiswQFN6CdFcsuy7C0g965Y6wtt4Xtf0kBZqTb
            zBzOEjlUC4q7sy+xHhf+DmbC26PliKMzDUHnTQv93e7cAlqQzeNLebWtatx1
            rHlsp6/L/GLOCTo7npGcVN/FOi37bz3xd6LfmbVoJLl/V/MVMps6Z4sYt/uL
            GVPab6qqrx0ZdzK6vBFDie1wCChTtKgpuaqyu9PeiDYYgRZEr0TmZrdGx0iF
            7ZnHAZcJiwLNbE/WjqXg3Y1CLNlQRfP9F1QKkqHRLqHKtSOZ/kPp6h9vNnJe
            u9diXQfUDVuNQLUCXdeXV4ric0pzlphFp7jXt3X+54LLKOIq7STaE/K93n6m
            PFm0f+mkcpLUwc08e+nQYqH5cWqafq+A00hvcGX5UDsEVp2u75e5tL/F+8B9
            zELSx3jhMia1SAK37cxZfxKTEy+JDyUExgJt6TlP4HXTEmjHmf151hlvxKTS
            abuImyheHrDKG2MLQarr88WbLu6SfoIy+ihf3tw/SPKOaSZIPIGMnxCOZvH8
            TsoO1fE/ejC0k7rknFxhKRq6NzNZ0un1Oz8PT221jFK6J8/14XLy9NHOAvK9
            Hj/ec39/75723mvCp2jhfB3D95MFMkkdwiN7z2aq8bDHv82lZFh/82BTSoKV
            P+APm9K5zAjBd3lloNqqiZd/z8bV0+3FuRUw2xD33xA0/uafEDvdG/6GuK9q
            Vi+/iPtq34j730GiOjk01Z3mglglhVCUkbLih8/LLcrHrDkdje3l8mGxnBcW
            JNszbpDFjUHx009OG8X/c6NKmE3tOhfNlTp2bmxunKe9jV183cmKPtNhMoVa
            pEukpQs4YxJUIj7b/jzqo+4+dCB8pjfdbYbsSekO3VRsLJkuTSairouuc0km
            TNMacNEcgqR2x6F11/teqYw3ZcdnJwuU+fm8EydJjvXIWG+dVCoMOzzS+8MH
            mDBQ1O6V1Skz8cJj+pP0TgZ7neDgTLbXLNEEw7zshEkMDxxk7uS2f45yJLYb
            PAizr1FFkBkxOzC5UbLESkoYLmPIk52D0f8jYBQOlSIMUoYv9xJae3J+QAjs
            HKITyCPYuBnrrdIZLjAPLE5VEqnM3JuZsXv62lHYeaW2nSEJgykDo7TPtjiK
            XczoepT8Bhzv98Bk0CMLGBDznR2AwaDSNJv+HMRRkkvdsNRw1MszzEQmoTDq
            jlNjVijym4kdx/3JBlIYzWmYkYX4DTNTkfmU3bd9n4x/yX7fA181gqLIjCFm
            hvs6OQsfNqVqYPLydfRROZh6+1IwCyw4s2JV092/jA7Z5hrjpEmmr7Uy/2XT
            yCanqCVNSfSqORaHYa6Kbm8WESYktqI5+rbtGMzx+RFnBotL6pO+pAyYlKpi
            tt2BNgdp5wAvsW0vg6RABAxmJz9KBc9fIOd2IjueGLzBLOpmwPCAT6ZNm2Vy
            N5+wbNE79n2kmlhZx61MRtwgEBikzuRaljVwgmN+kbeN4nbg6GrPBhWm8t2z
            /hQ/0TzI6Gfq/qv+T2Z5mkNNxYCyMcx9z2eR39d3YqHLYo2260VxWnyBk8fT
            WWpjju9sBqXxJgE3zUd0bDU+41tpMxYrPwbgOaH2MKd/CT3JNFq+U4tS1/Z9
            svtigs9kVoX0xWUqlv3Q7/u2G/+3/w36zVz//X909RniQf7L9yfjerr3/fOY
            PuB1P2Unv10g39e5Q9q9cinMV4Pfw5/GVP6+/zEAe/7q//sxTbeylu4vz6M9
            P+W/z0ugDzTRwF6cpUEN/UXaCYT4euWu9rHxdPYzVuZX4GQN84/7x2TlPZnz
            Sn98Hvdg/tY/firFfbXAY39o3yYrpT9/bNj93xav6B/vr2ntP67+8Tnz6P1X
            4zubxbs/b5Z/9e9vm81vsJZafT9knMv/amfOPVnv5YpfnQGTPPv9P1f4Fx/L
            JcgW7+WPk+32zrv+svPaOTl/2bn9+hfP4794Xv/F83/Rv/sXm/EsVt8nJyu3
            c/u/d+X/sNj1/9XFfv7XFvvfncz/1fkjYSh/onMfgheQMX1OYnCtd+GZ5LE/
            +uflO1ii1d9/p357gpLJ92TXta90SuZzUGAK1ztaaCqnSQJ1zPua97UUu1Zn
            V0W+H4oKo+t47H2yqupvt/87XsBsC6f/MD/zP8fL5hWSY9jV7/u47Po8tjiL
            eYypKd7PV7MrWFc9j8meX2TBPubBFxAC6Z/zlYpLn/NAHuFzfCntxXm+cMj1
            wpw/B7bbTvtu5B+I8y+I1Lc96LCv9NMd/xx0VoA3Onfbld6/ikGzr7Pt66B/
            HabOIjNf9EwyEtaua98/1a4uMpGiYsvqGrd0mZZXQjY9xzubUx2jMUefeggx
            KKYrWQ2uY91pFohDZUcnONm/Jv36mZsgPqGpnvvXJ+mcvLZxDsleiscYZdXc
            KoM6F9XE3Oa8aio/qKi47x2DzpPZTEE7KDABjGJifNfPhWkP+UG3gueVtObn
            CbzJy34s1v8qCfqfQnXWLSEwf93/EBL0P4XqvDafI5OH/xQS9D+F6oyW1T1R
            GPQfQ4L+x1CdeS8O/XP+U0jQ/xSq894nZ/brP4cE/U+hOuOm1pb55/xnkKD/
            06jOXuLUoqxbqiKmE9HmUhIDXMt+P8nO9wpjKrn4bTYE6VaUkbbSZyd+hK+d
            5VIQSdrbviar/7SlJNBuzfLHTsLMn+2u3c67nxj+tPPmM+dnuzdF6h/ttDaf
            r/HS1oP1qSaKCprpv8HYUnDwK1i9nKweFe3X/8B/bWtC76de//+//2H/jib0
            mf//XPyP+6e40kkR1v+/N/hJNS6DRm0F5+aYmZIotBfd52X6fSlWyfnq5/nf
            /7f/E7GaCbA= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
