Build
build
DerivedData
Distribute
Index
Logs
TextIndex
xcuserdata
xcshareddata
project.xcworkspace
scm.plist
*.xccheckout
.DS_Store
ModuleCache
GeneratedFirmwares.cpp
GeneratedFirmwaresMD5.txt
/MacKernelSDK
/Lilu.kext
