<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e055</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e055</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e055</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0489_e055_v4427</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57429</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e055_v4427</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvonMJ//V5lpRTifnKF/5b
            /ZFSCpiQIy88i3g70cujVdUdMHJeXfFs9wj4K0flkxY0/7utpvcd72flDOdY
            L5X2/N/wR7t7VR89zJf67EPASNO87GnvLparTv5S+d7uZlDzc4R5phpP9LiH
            rNV3bs/B2Ne+S8ZdQ/Kfvbi7lffzsq9zf7/21e/n4S43OXq02PcKYM7cPLpt
            sBnZQKmv8kF12n/VXKtXDe69rtdVNPo2P58fFftU4/h6nvf44ufzNINmqKv+
            M2oHuKpevL7dc9i/2go52Nx9t7UnaXy1daWgD8bXWGaa0Ub6Vc/+N7/qwSZT
            C+dXf3y156Fe7aP8vRbz87mvXAWChc/nruzn8fM5Oqj643f9xy4/fymvbZO+
            68+H4E/6Ko8Tp/rzV3nUYs/jL/3stqs/n7dp/Slf9ZxLZxOb65rP54Aecfdn
            dtsBviyUe/bh3sdf32Lx1bcWP5/fUHR+l/d2kmb9fB5rVZ/n/HweStTz9VWP
            X7bWa/7yXA2cX+UDQNWGcutj7OvGDZ/PbQa1duunPXl9lb/hw1U/n6P/3Y74
            dT6f9+D0iT8+n9fqdH59/Hzu2i5fP5+Pu/xX/QBINg9f9XjrzhEi+vZ87nK6
            z4h2QCA0+ixzA6Nav76tTfunzs/nCbXtPlyfc45Z51x91b+nhHP48TxG20z5
            a4+FboCpfu0lw/Qco5DfL2vngQefz9Nea2zNj+fX/Xx+PnfhuIH0x/MXzP+q
            v9/P68/thvlzu/H4ud0Yf2431p/bnV/1XC+4+vn8NT9JOyAWw86ffdi4YM6f
            v13ffd5wYP2mrVV/8/yr/jTs+flV/41rzq/66/28/qb8V/2rvfC8/5jbfbBr
            /Xx+w0NQHR/P100nxK/ye97aVz3zLv9Vj+sveuTn5/E3z+tvnv+m/vlj+Vi0
            A1I+91r/+O36Td/Wb/q2ftO3EX+e21F/ntt5/Dy3M/48t+d3/+Pr/MaPejbt
            VuLn87H3BiBi/Gmvkrb7eF5eeyn+dH7rV/33PKSIGX8+Hy/4k39qF3Dm83l/
            wZn8U38IDp/PS33Bjfw9/+vSDsh5jx0cSfk4j/OmBz6f33N42je/Po9fz4/X
            Of35+fx6vvfGdfz8PBEOxF/n/Po+1ze+/tobdz/HN3zbz938rP/eY27+Btcc
            Pz8ve7x3vceDF/vpudvzcO/1+5q/9/B8nany0xkhx4hPQOODhySC8XaghvGG
            znWv0ZHX0g4oarUaJYvhOpA6HmxlQJGI1UlYuYxVLX96vyrpcFGz1xtZbAbi
            k7m6ufN0HG9u6Hgzj9/3X3wsgF0kNe5eq/zv/PPH51fx+GAhMeP54768unuf
            +vpx396s7Ibo/eN+vIZ/Q7f5ee/mx/imnx8dnGGGj/s4PzoM7io97884PwZw
            jvV5P8/7PmsH1PQ+jev8GOyJfx/313n9q/ujazfN7zn+XoGPLf6a73L8zIv3
            r200j0+e/J6ve57u+bnn5Yz3TLxhjo32HuU9ms9rMRKt2f6rOWzK052Op8kf
            kVAyLGdnC9VKHvP49XofULoKyPijn87hp3ud9jkfm/G5EzMlISAf7Wzy88ES
            J2sZmqjLjoN3PDNjnWijuq/tyjJuTR/tXI3L/tRR2wEt9cd25Qg7yo77rrNf
            7zvKNt6tAxY0jb9ltB3H+Vrkd5mALatF7mh4zbF2z55l4lnjusukNjQn7cTm
            eJdJLWaTfjSUOa2tRNnKq3fAve19N+a+s+/BlmBPYLfUQIRi32Md/PsLjGU9
            vigzXjY6x1vrOdbjfJSpgzIW7LW0MDpnc5u9i48yDSy3eM6EzZX80ChSdc/R
            gZwHl7PrKXPUjReeszRcDXnLajDHNgL/OdtzzTzvWepz9E0zPMssNHRqvqZ2
            QCevktH1OMfeU2j5XR5HJ+lQgwfE356H6Z5zBd42TpVBFZggozQ/+u+OXJM4
            8toxxmhlUvwo48BPFhEzmLKr2Fyt7K5HGT8oC+W6cD4Po+DSZ1uhxXeZnMeW
            sXyUieVRpvRd5rMedq/w7BSi2WpjX9G7R5nsNvDpPKa7rTj9sx5gSOBK1oPd
            53Y9AF7hUaYGchx77Va3U3BW/zhxgEexat17uY6QbQ7L57i6q4AeUbKjY+45
            7N2v907P3EmDIl3tgJFepx+1lkddwx1AtE4yIIKgYbRpqI8yAMHgancZ33ef
            anicPrdaNOzSgXDGtDkC4BqPMiewk5XBsuCwr01/P8d2rbn3ENZs7bNUY3zM
            kQe/lQS3G/eZt3msH3PkXSKk50ygrbb7Uz/a8j7VYfOI9YjL+nNRlPIuE1qt
            9V6Pa27I9dlWbLUn1ZNIINm5bZ9tpRyNc+nolt9wBND2WQaLavLcQQF5tjI4
            y4895EuizIj77OSRsfkZn21VRzjpbb2CYYEZqRvoNkY/0wN++ZanV/m6BFPm
            zVuqTDDasvrisDyURXcgrpl6PrHpMQK2DixLQUYAHAmYU2BE0KYBWCmSz8Eu
            qMARPY5/t/xu3aiIxDm9LnLV+G/Uf6v+q+fvclNPp54ulV4qvepnOfKKlzix
            w3QtE9szXRd2f7FyQXoRylxNYn8tXkEBnFfZRMs/+NPu69rruhcWv/7Z3+vb
            at82R6j1z/7s29b/+rt1ALV88y6k3VVP/2d/H324v73+2d/Ht5d9i932j/6+
            v+341uTdJvk1/vA/9+Q6jeD76++3DhLHG7wVsfJp4jwAHvQv+EpiEPcNGwps
            RJYkBqiuGIY+pWwC/hvc0QGbmavp119/6/dD67SWwW6/Kd4zGdXi44t0FoXi
            NwVck92Hfd/3ffsi06tkw6mFf8JIDdAM4b/Af1GrMTjOf/39rVl4SeQf3PWT
            s//mpGd9MZfOuJEvtuH4lAD8xKHv8u7JOH22LqnNSwX64/uXdPrn9+dwwrLA
            hPoDWLv495CYaHz3kn59/pKWjy0l/56fvOdvK4t+eT9+bL8N7YDuB1Umb0mU
            aRnq4erPbdlc3RLv77HeGqmzHf6n79et3XhoJj948Mso5d/N1b1Xbo339/d/
            +venvXZrIH73fu75+UV881pL03j8rsCfxsdZzw+Jyvfo3N5rx2/22i19/t1e
            vqXQ6qtkw2ncD34pG/9QV/3D+z/0pf7hXNxr5dp/fK3r/9e1vv5ra/3fn78Q
            tAPmt/3Ir/9CsrZeMCUET3BzX19jDlbuu/wZ4vk1fR/l2wWMlYiv7Lr2dRbj
            rk/nglFP4DRoz7JuTtyueV9LsWt1+/6y7x2tYPj9Zd9fxa4gZNNP/Z3pEBeK
            9v3z+d1fVi/5ybCr3/dx2bUUJ65pregkS9nvV7NrcPY+Jntfk93f8+AL8H76
            YU9fexx7HiTTG7+Wy/FL8vo+labFjvbdNDpguSfOdH+43jXtMYBFaTYnrv/U
            l9WcOL+z2PUadgW/KclDdHad41ygpS9bacIyFwlARrTr2vdXtauLLvEKtkDX
            GM2Yp86w/JZRnnl4O+utRp96ADvL8wSqnlJHR02uxJHOpIo0AfkW7H5ModuE
            AIXBLOf+DIfuc3eug9wN+QhK3die6KIR7F6z+KCT4r7HbJ0m9TNuPVAPFEQV
            f5TPI2qvXuEUB1rSms8zd4XonuvTR1w8EH/93Vs6nXHjlAtzfybjsoc7veRr
            ZdeVpijjMKas00pb6dkGFQbPNlwL2md97Wuy8ldb4rbdmuWnes8w87Petet5
            tBN/2muTnN6jXrCl7llPa/P67O+SWsCRN4wyBwmfcGvJ2g30fDSu3sqt+M8o
            4up0vs55/N+//53/NpV1jfF/c/G/dAeA0/IdpGD+z9Q/j7/+BlcWpKoPdew7
            4Zy69t2UWdS575ZKUpYRzfTzto4pbj+rbz608xktmiN57vOgzEP3WQCyRdQq
            PZI0aSNRuuQmTYxpl7kcaKPsGyVOUkjVDKxQpGHxLL8mewwMR+lSpwHbEIHS
            KDcpkpuYEa9Df5NJV0ADjOQ8aMol2WB2FzrtcK0xJ3eV2K514qt8XiX5y0ZD
            yO+8z+hL2OUChYJdbVXNwlyuLTMC7GzWrUO2Qxl4hCp29Kl30BQx0gw653qV
            Ma92bSn/jGbAEOKW6QQvxbxH388sskNzFM/Y4jTZkH6vLSdyFyXHk509G1UM
            FJNdqPaKU+TlRYFhNAkR+mFzvOy5i7W5k1a2kjC787DftJN7lpPhmZWj7cBd
            rlLmSuPbjEnN1+nyteeNijTKGQKJLTwvrAd0mZgTGXKbcoVdCHO/Awld8Ie5
            w1zv38HTts2nmorn/PF55HwDvUeuBetJ1+k5J1StggyZ7qoXUS4NCNF7Whe3
            SjKCBovZ8z2IO5oruIi2QXJTolPRp1iu7Kj48epbPjzWrUu8XUizq43JeadZ
            GO693+uAdVwFK89nmFa2wTrue9ubY43619+hcyNwg/rm6gJVjP3E+e5UCF/+
            wg7g96CgTvTPi/bDPViCM9bLNgjOFX9/l82Psi7Yu0nFsPM6G9XrTMgWlGfH
            B25TOzu8j9TVYG9xzvKkkXxs1dm5Aidhmr9p56ssky2e0XU7b875LZGSTAf7
            yG/rJhmbUDszqF86RG+PEFXfVaMU9bVWCpc86Hijx6fJPcdl9L8H78GTxNMG
            wjTR+lzCVgxgBuw1ypAC1nDGgC/6MVFdwzkMHjMOYnr5HhbpOxDEA3uHIlru
            H4/zM2k37EcA/Rei725SVC0Ooruw6JjQHerwp+9+ss6LWhSuG/uCdUUbGcNr
            1taFNr2nTwD2Rb3mFc9Sx1X8wtl3oJnRbsCEn6f9xpm9zgGOJ3DuCxX/4CSX
            1mbWAq7xMp6jloC/WbmceWFepdTic/lYpH6Vq9OK99Qpo1sBn4VGGGF9xeqN
            a2DfYT4Ob/OREidD39AdJrNcyoDT4Cr7hrMjCFC94KxmRdqzMA2GHRLS0YpU
            Ovy9FxbmKberlDEapYjY5GZERlk3dwNBnFupAvbWPNpL7n1YfTMCH+IbsspH
            iTh5ucY6sHGL4Bx7ix2ItVhunJRNnNib3uncR3N8ueuM0Uu0LaxHzZe0EgBf
            0fAN1qSneBV3jk4rGFSS7v2221zUxfiCk+9OGkAEntkJbLJQoi6scbque67b
            Uh2ZspnvOoL/tY55Wh2uvOuo3eoIxw91rB/qKFYH99RdR6lWB5HCdx2x/lDH
            YXVc4zrvOnKxOvIP85HCr3WMZnWQS7/rSEm4Hwu4qYi2jlcd1w91eKtjXeMU
            bkcf1nnkdhpeHAfPi+HiiPXvF21FcGiwarLKIVzFHq+8P2l+eZKPrbll23vO
            A/WxpyOA6C6p0atjhLu8rhcR8Wk2+BVnHOWieHTcxwXMAdyB+irGUHuZDQfM
            pdXaFbvzpfIefXjVSVij/p27f9T9AD3X/cz5k1YA7tYLAS4CB4129+XjW9JL
            lW3XluouI6M8nHNvdMj9HnU2woO7HZZ5ztMF/IMDo3mZxN3eZY2NxiWAmKSX
            eDYIPbCWLs/sO/5YT1YbsVdXsGRBuDovOo5dHe+6iILAmq38Ah7CrBRqNf06
            qUN3+wxSSgQ0D3oQbbKOkC9Sg+iH1tlVnzthVOOZjkbHcYwsyzM/qC04SIvQ
            tlviCL7lcGoHdU0tIui5yGe3ZVQDjGkAa9S/qz8zYnzYW6Lt1qErtxa/OjG2
            RDSEdlOurp/YcQ6bvAzOI/AECFZgNQIwrONP/cZauYa+eon3WAZzGzC3QEqo
            C4CffnUk+c5223p60MgeMx1jTCf2dNprVRqFVja/JGwAB+mI0KVlRO+m5iOR
            hKmS+E/r72LdxPDVtDSgzDP7QQNh0LSX+oT1noACahtjHQCg5wU4y3mb1ZGX
            kKVgfM1bAYymm2PCidQeKOnqdPMzXayvBWcI1fN70nAEJk0SGuBPertFuVUN
            0UISpxIKUbxK7zHQcyBVw02HDad3pM9BPRCO23qcrmCuhdwbziItEEALXJiT
            i/RNsHYckCxhGPZu5x71NKEp8bU2OIJ4X2kxC4SA2vmbgviJPYcpxmSjvbTX
            4+47pWChgPRMOCObd9BZuEQvRNDvJJc78a7neoG+yHvuWQ70SM+kSZMH3bAC
            1yMteo3gOq4GeoITj63PeSZWBnnNE0J44bhHsQdxlmcbDt18nmetCeFXxyJi
            bzbeN/btAI7GPUFr7nb2yIOxP4l0DlYm3zxZMEWyrW/GDghJ5iKgzU+cVe4Z
            6u3IJ0ltd58zECm37BSzK9x+42PQnaIRAe4zaUfslLRpQtGSMxrNCbjiRFsG
            tArsUTdNAMxGOhWAj7R05jPRrfve7Xu3773ol2T2ij1G0ZtXs3vQuWb/5OxK
            0lF0a9v3TfSNLBGxW5r29qaJLtAMmUZGlHVO4Ej0CwRwBkxq0sG3UnVG4wKV
            GltznFt3n1vQrJzj8zBYSM4WhCdeOtozOIPd3jT+WZpmv9ZcghEYO1ZPRv9x
            28h6WnmVHHSWIwXGtob04cUeGFxznHHsBzdk7KLnFWt4nhV0NOha8KGzH12t
            GZwuPLuDynT0UXv+MPwR1+I2ICXM+0K4pvtGi8b9ewjeNe71in1S57XuMu54
            l1mEm6QPgf1oFIvddDk6j5EXpNOwOTj30bYDHqheUGoUOnjSFBhJ12/iv0a+
            EX+gQXu/1n4HTJh9piajYmRzBZ6rFx8PvqEfdRIOddJ7E2eKuHbDR9Dyl7nz
            0s2PLBbOHniL1/iNtiHX9cLDhHHcTF72a8Q7wAOA+WGNc+OhAiJBcgDsAO3J
            tXklYLL1PC9Ybd2XYbS22YddXO9547RiHp1dxrgbxwrugpYBjYBiNt7EXWAq
            h7n3Ju1gKxk9XQmKqvBD0zeR5rAZsDhyv2KZsI8TTiyeYT9X8G/Yaos6gRN/
            VwAVAbqFdEkI/PYgnWEwlpKDQMN68DJgi3COgLRA1JYMbhIUH/EOjeL8HC7N
            QjkFSOTh05SUZ6Js+KWvYHMLKnZoI+ErMG5eMziJe68qJQy67UD3NVea3jvy
            dNiywB1gAHQP/lnGsO6jjPEX2IekfcH54nyTlmyEbAs8CrHbhTNOzhljAMsr
            Ogbn0Afqf0X6guu3Mnw+uuhj0nJD7y/5R4p3l/0gvSBPw59A/l5bA2cPi06h
            Wk0ZdZPnG7tMtjM0FqERtT60b39bgKPA3kO217DHBFtHNYN5MJtjX42v23xY
            73bf1zasN3/R6eInbAic8Yv6W5xT0vHEhg00NsfA/tNIMxBqek+ag7SieB4H
            DIG1Zh0ek2PXRgFFAwJ0lHplmpKQ0wKmIuzluQZ9UUoHfB0gAcSTLrDZp2RE
            zv537f9er9/3/fN/x9cbWiWXzz5iFofnqlQ70wGjyBN8S8D+fpTDObFy0eAC
            KAzxHCWh7AEeBzSMx3rxGwrU9I0TnVUJp1y7TkexzeYPPGk9gI9Mng57lKIs
            PSfuAeodkfQEg01gTiR7cpxj4ppyzxG9yLnPBuhZjwUi0qRLkD+xbzfsw55u
            tRnHK/mBQ1c6xt2ukQrqyCD+AL8B6LCPM7jKTCnQRZtSwko+p4zuApxI5IXj
            NXmOHDWt6Gf0l9Gl6CvLrUY6i7AcgEHHAPsV83Vy27WV2g3fN6/z7ue7b4N9
            w5zNfI03bKWgxFuQBmOcSUcGUIvXqCaXytP2f9jyYsFUktpHl1447HNBfA8C
            epXNO+vsYT93EuYBVIRXSArgd8kNX/ITNX3+9XfaanysUnKUU7MUeUNOAvFk
            z3h8Uhlta0fjvShRbhRei1fCXgnxfpdPkh4gsAErBjC6Fw0NFHWl0BmwhDJb
            8j1uAjZUCuKb9/PMUqouumbJdgDw1IQ0Ng/9kpxlnVtWQTh26mzjY9KPHNne
            uzrXARTS5s/BFIyXfOkx5ws7BPN2KsoFxz8iATSGCmLl5N63+lznuUCdBMtb
            fuHmNUIaQWVB2/og+Ht68vl4Fg9TzeJ3Blmt/ShYSwc4sty4ki/kvsX5WIS1
            2G8XiKlKEYRoo0qFrvgMhxpCDJenxzLotXE5GXrznDXjMUFDkJ9ZlDubLuLW
            SZgxz7Yj2GO/9xV5XU8AvOdVOGiJRIuUdzDgAnakJ01TsKePl8xD5so2p7vO
            mLVGZ991ke51gD/Cuwd5o4f8JGF9gtU1H3Ut8CvPfqYiWvqce42M9pRsJEWj
            1lOlgWiN2sUUj8shxp+qMzMqDXg8gk2uiWPnusF56lM69jBhhk8mo9R87flr
            DvRlNNWRcAg5KOBusAqVcrlNl7QpWRNW4ATMi0bXnou+6liX6N0IgjVDfBR4
            HsoSgUiWBdxoLTsRSY0KkKNRvuwWv6n16idocu8KJZ/el/O461/pGsRBYps3
            rbsdmNyhMDdFUVVoWOHq+zvyy450fxHTTr9CLpDaw/t+84TsYzuvufsICqse
            4hXZNvYfntdN94MK3jAZfTxrkfg3OFyD5ihfNESvF4VoS3wk6QqCuiwcavxX
            rcF5qhPKgVHjkJh8fZ6n4B2VOWCJ2sJ+qDQSjbYfCAcWaDpdWerMrWEsc11T
            9O4tZ6uSJTuvGDf0FWFEDPpOn1TvgB8F6qEcjWUUgUVcF9b9s1xtOJ7aawDn
            hPOKz7C01wgyB/ejhPgLUBFjv2g4XFPwhXQDKAa5ewWW/X4OfAhIQmcbkPAz
            drV5WJveSyemecV3oHIoocUzZ7IyymELxVT9MS/kZhJQKXl61pkI3wWfA4D/
            0Jo5tYHR4KwC9olO1ryBn5OTKN4nzWE/sL9FS8aVpAN1NkcABpN6N8IOejcC
            Y7RaQfbhOhtISNHiJ22A3t/u+cUZfH07CpFWSvwuNtC1DAuCbZFooUsfI7D1
            W6aiMXtZ/LnjJRfDQdeZqMO3To6PcyCX5izdAeBt75FuZtlTHgNajXSq+SZ6
            Fzb/NOhL4Yxe4l4a6CPPF8UzpPdIa6dm3zVSfs5kZbdc5IyL+CaL3qzAbqQd
            iBfz9ufMziytk+a+WN1kmHBPSz/uQMw15Z8kZsFvYm00t1caJvthvzr4KdEo
            p92PfIETLDLv57dDNpmjlRn1Peb3Eg7f37f7+7zr2993rN09loV9TH4nX6Bv
            ObNkbICmi8Kf+MggXKGSLzi7YLzphva82hqDqxvcy8AxILdMXjXli4pnTrRC
            pzhD7+wZzmPulFtQXpZAm4eQt4xO+9exDhpnATuIVzJkYXtZe5b1W5u6l3ct
            9jyDWaWB9hznAyvard3aSlfbUiGibZdf6znbGka3gZgD37rw9fmQDVdSMS4D
            deEPELRS+oytQ7znL6D7QLlKwLyXmhwOgCMBBUITfCh+nyGAbcgF9JJbYAP7
            RUNKlJ0hd09/BfIT611ObAJA2HfZgLI8R5WeEKTKwMui0HADdMYkUAY96DL9
            fOvEJFNvQB0A9n4P5GGcdAJrbTRo/X/teYpoivY8ZU1ALL6uzvPicWoYTA68
            WgYdREZaOhX73hvsUJwMzS/RgtZZSj+uEZECxtIHcQZ9xXBOh8FcMk2LkeSo
            VLm/D4/vw6NMx1DxHRgf0ZeYg7rWkhPoLXdwoJe7d55n8Q0nk8m0EmB3L4IN
            pKlAhY3ucE7cdWZZIZi8UqgHe9xdOFfb1mFJV0/9djb5EXgbSrww36SRHcEQ
            nz3K1bscDk9lZBi1S/zY8mS7Y17nLdPJBcAkGs8tO5NpdLI7t03Gts3oWz+9
            dsQAKmO9fH3suva9y2675dxX+x68o0H1aM/BIXnjv7306Ce9x4fcTPytT9WM
            iwIAhL9sPsRLPH5Tkq/f/vGbz2s47t/+/n08nj9+oz7wNaHev+/nt/60bF7h
            2H0GqpcN79p9bUeSrn7tseXjcyxzP8fZsDm5r/t531dfnYK3jQFaBGjjPD71
            RKB2MH3vfQDKK0ifQREH2YNjJUAKgG1SW3ZfyO7i8OVSKHDi9/3+HvvXUf5I
            OvDlLe/9EknvqZDD7sd3VybdlAlaJ6FX379xjafPc+v6GslMztopOgtE2KOv
            6meh1gP9AoxdpPlx7qjGzmCUWZ4RHl86rsPqWvUstA1zk8zImxe18yIeWiVJ
            +9EGgHonv+1aNMEui/6nVChWx8Nj9D6YRNC6tCg5upd+jyBgOnAm3kln06ii
            7S7bb5oBk+6lZov2EQedzgwGNtL9c0n00QHzWS918DKX1zcmF+v7N+sEYQZw
            b/YxjEEGCKlIFff4vteanDJ1nRhPp/2S/2HOnmuk0IonaUGudwYllIGRsoVc
            wJXfZqdImj9/b7yk6a+pz88uOZk45cHom9xHGjfWfTKi59YvAOljErPT2cF3
            vZrduebckTDPbTmjrWMDGdSH4u7gOfWIIYBXxt9q3LcLe6qDLg30vgWuY9RP
            zK1OSaO2RHrToDGQ/6eugOsFOoXQTnWc2Mu/qcOfcageMPXxUQdhKMbnHeYP
            43XWtzxqszMFyoyyr1EHmLC+GspgLuxdIjnYpd/CXw6E26oL25e4lHX9Upa6
            S60FJUAA1fjNb9AnMA0YB+fyi/fu4Fcy1mSejz3DOrDONP0/SKY6O0MWrMDW
            Mv8AQzqVDNy7R2aAMp7rBBjCsuJJsuI3gHaknXiPFpGVOiWGgZBNoM7FIMz8
            aV/dZ9nkJHnbjqdtR2X45tgRzVymbeVBQxadSxAv2OPk/10OTxmNpCBgNAcV
            VdsuERgX9CNo/FyH6ZXZI8o9LAypzt9hNiq0r0FHU33ja9VJXkXe7zbP/B5Y
            vmHHS9ZCOEO6nCOlbIQ4dIEgZzmWL8BbAGr5hjNZ1ic+b9tE0eDBiWdMOPCy
            VaS0BfNNfbZIgCgEVw6DYYm2eRR4uvkuG+Jddpd5viNuluyddLhgETkS4HgC
            H4ktOUxQlMcV3EX9L8co08BBEsyDNSZUPSuQyJllGYiRS6d/22TZipq9xTXf
            46FPfj7tO7DYjnX9NMbX2GysaY8x2zhSOHMOwfs3XE97TvKvc6F5p1/w6ejZ
            9ODfAQY7dkPANuyU14AOKiD+aByL+wR4IHtCsIt0pZd9G93bKeNh41375l47
            UNSZkRiKo7whl0DeDuOVnQ31GuoH7XyrK2XjKpavDuVbBKUTW+VBk+0Bjfp2
            vdVwVMv0bRYjThvMTjtM8WxrARPTXpQyRZLprIdRg2u915O2pTpitC1VWSfb
            odf6oIdz18HnY1lbjE3hwEe/7DF3W522lWwrWFv4L/fIoRBgTtdXW31+thV3
            W6xDNpQX8BtQAiVnlAHf41Z7oAQMH5DIKQoktG07o2ANdTuH6cokWfSnySf9
            wmYu9S6r9uMNW8wW020Y43YUUYDt9KRR6adOa+hwvPcMDrfRWmnjKTTdvHQA
            oHTNb106UeAN0Jw9yawPz0CAAcZX8LTrwU++5SHENeHBR7I/WzaBOqKXjjyl
            su3WjtNVhjSTzoxyKJkdUmO85DTO8aYmuqjeMlbJ69DXUmT3SLoO1Ht2BneN
            /v6m6xnvBAibW+4lB5UdiPbFaLeeWjodrFXvcVHecTz4DN7Hx7109nY+D6Ms
            dTbr3LqEjr1N2ujVDmjQJLlfkRiIv0F8oc43vm2Yv9mkA61bL9nu8izryOO5
            q9MWFg/GksYx0tjWu417Bums6dqxZVktmL6O+sT66D+egzwZnjKLm0+iYTXv
            H7p+s7G7yF8UHWvWw3UEPVRfuC9Z/ccD51ZiqEQPgyIT9edcXfSDqK4l+exx
            T9JLPACGYi4aOIjqKGlkiCrfksmsEumSxovdT/KzxmUlC0juGFZn5Uk7Ddc2
            bqLNcHehVAAp8rTkYAKuXjywl9Bz0H6mMJKR8ciHZIe0ITGZiF1x0CQXwoYF
            /l0pAPQzrBr2+6RJfEY9wWV9m+3+p3PQaY9N4wesP+3Uzv3bE9tS50fZL3Bu
            oScveIxEKQ3Gcx6mZ6JcrEVKCj0W8KqhJ+vvltVQADOy2f5RjgTIJDwv2dzJ
            KCb0P7kqVQixJveSuy3TIWWsDW3MeHCMhwCVmQEb/DVToz33p7yKvPxdPyUa
            z/fH/d7t98BCnMN9HmSjxLpjo+zM9HukDPjsLGOsJRllJ0DbPGLg+N1sDON0
            mg5RApCZvMZBG21b3+hDLYQMWTxCck62XRWQR2vlKRsunIezJ8Xf0DqDm0zk
            3XI67Nu2qP2s/I6UOL/J5EM/yyaZ4gP2sn+z1qNtuX5nFgKgxjUG9V8gGoSf
            YxrupC2hyLviaEIOXIJ+FIYLPCklnJRpZvw3Y88lfM9y9zfXH77Z/eHhq55A
            lvtR/qpEF1czHn8/98frGcOvOerzq+TxTcH3v8rxmcoBdxGv6pnAxV57gF0a
            41BerfGbvXvlHjgU0TI2mx9Py9LjXsfajbecuJ6kv/sFyB0uR/9UCRRQPyh/
            6qVQ1k2G1jaePoQbD25fhGManvR+44Bpfs5A/D/iCL+/v2VA7pbp7HJlSlfs
            zR9ipG3fKDphOLPNcRKU4tQB91ODSRugK4xG/yrGnKPTD1bN9CNM7JD3dxK0
            eulEaPOBGZV9OR4MxQYzHxgLZNnKmljxF31BCQ16QBoBbNaOLWP0RY+H7gPb
            B93bp4z6m+zqSI9FOhyLv3QWmwb0MAM4sXx3QzGr0tZrP2RFtzwrxHTHoDE7
            kh2hVDb4J/ET59t4KVyb0Zq0vrW6Gm3GoxsEo9xL21dH3lbGKdEWgGYUduU3
            5Ak5L9R63nNA+qFXBVIqF8gA3U9ycnxOf+ZLwUsxJ8ZeAWeqfS/+aDrVdaKo
            t7kmHQ3+CoQCvZxGN1l8ikaEOHIab98Dwz/UowPe6BnjrKJWC0pJuSd9K7Sf
            KVvNnPt4z+UdhTfu/Zle+5f2BdjN8zVOv+S/htULVy6Nsbzlk0UE4q0fCpUV
            JlprND12DOqbHEMRtiC9d+jhSuQ9+J70a5ghUjdOD6NUGeKNSJ9EmOnJO8d9
            ZOFXp9jZoEkA5fkthU82jr/+btj9fb5trM0mi5hQPnlt0ZaxEh5tHOtEO6bU
            aW6wQP/R+91TlkT87hQdgA4ldYwByMuAMp62Z7jFUeo08MNxuIAFnU4xaUfs
            HsKZXsQX95P2LKBXDWYFg12ZYizaVTL9C+7jfq7AfWazSZocBw78De0yKHPY
            +iw8S4C/wmEUM+EcNbNRolzntoV113XqDFIXi6eKWXsCc5jvkxt+H6sbrtAk
            Km6eTnZnFEdIF2y8iMl2C83SqiI84Zw42jeDgDK6KjFmIUjr7GeiDM1sDAhL
            QriAEDEPsqMop3wFyOUW8WzULXF/ldz4+02n0VfsSMWuolOvvffLIXs0vMtD
            NGO78bb2OoiveqJFT1upHanP295mCIwtXx+mlzZ7nCObPQXQmuZoXQZP6OdJ
            G8g4LfiUDGcCFYIUiNi7FA0GN8YTOs1ewynCpVvzrWcqtC0d0fhazi9/B8oO
            qBqI1Ww0AC5lh3cux/fMvEOb8ThoI2/2YvQ0qeDXsR0pLcltSMdRpYcdsqmm
            bZbxDwAxlVbnqKs77ZHsUV9N4vmWYpmdJofZtocETZ5+Bvr+KO1uP3y17+72
            O/AFxkFTGql31me5I1+DZRgQoZTbL6tU2uGWbH3T/uUuQ5dKuPuG+6CzBb5y
            Ea5V2XVOs4Glrxz7RU/JZ3tnvzotp287WI4J+L1UHVzSddfItPlAX9P4/HYB
            qnMOA/p8f891IXriHgWZ2ykiYT1xWZ8PGdz4kD/mR15RVDQSPpdZr/7qT9z9
            aWPc9mTZ/fX3qO5cW06WvMWo2XsisQ3yRMGiJ1aaR5X2sPe77QNpm4FTb2Vk
            Gx3sO9rvjDHJpFH2vuVLdZe7ecngjZotZvMCaHuawGBuf8D4+Ca+v5EcR/SK
            2fwn2uY1CU3Jbtm39fFtfXzrzD+BbQIGLBoETCqUm30nefj+jqf3u5/hlH25
            ZJTO3l2Z4p306/zccILzlPPoskPwkk+IgMT5ffHmpD1Yf6GPGe3KaFXaNt+u
            iMglcW5ZjnumJPAQnRLx93iw7uddBghL/t6cn0M2pTHP5e9z7wQ/KfcMVycc
            cadkzzQ02jID0WGZdh6MEaJ6l+z9CJO15l1WqmbDzjrBMwXHOCIN1WWw2lP2
            dJ39DHve7zlhv4DqwIftcvH35VKzuXtFrHKiyaL5bHbBTjC35lcxLXXWFcdp
            OskNN7eMC3DhuvVitdo7ixlk8LYxuifldtd+94DF9CXiO9J79BRlbpgsP9JC
            Ql7+UhG/ydE6R3837Itu9hm0A8MekbwF5du57YwivZ6a2YSiPGhnk0GgfLvM
            NlZrmQhXgWOAYuRX6pXpzJsnktmbyZ4Fh9cR9vcuPXJPNDTopKNoGbN9KYvt
            q0ZfEOpFsPtlI9GMbw9X9LJZpuLf+dMP2StO+Th2MmOLfMJ0ddF+d6JlR3mJ
            eBwq/3AWX/fDfELQi5CIdx2zRD3eN3tPbln33e5DX5TLRdodvMoWe+f7Llv3
            /bUq66Yf8owAsjgAkbiYfe3WV4VCp1km1qjf9Tn73jEmqrzVTkr87V3a/apg
            oMrjud8+LmOFLI8ZGijgPFbZ/TTaImKfvH1hKMkE1QZ+0njkuJ/7xT0TNx60
            NYrOVOx7LepeC8o1QFD4Qt9j0Gy0vANdQi/WRnkgYSHoU2xJ8VT0hSYdKJsj
            p7jYpZJZurh1zX7umorfCdpFTBWjC8h+SjzJCqVJh9aJO0yXxQDJkk/60ptT
            XQFzZr5CnfIt7za/VXko77paKF11na+6uK7mh/+uS22p/rljWW1e65LNgHdr
            2x0Lp1DXUmVLJztt0iJO7Qbx5w7tkvchI5/u34PqWo7tdU8lZqP11TBeoXAO
            8TzhCNbN787YY2jUGgTZsHXxA7RVZBm+Y0wrJxkuzi6d9ugpKX+d1qZ0dl7e
            k+YX1TLjS3E+hRXNfvTasK1VGzPoNGXgKqD5Ji09HnSdbErBcQLuNvFgmI9Z
            KBNxZvNSzE6P6I82mI26isMyKnJMgfHi+wJVC1KOEQtO7JApvbi/aQbMj2NG
            J+zp4imIEcwH/1IO2dfTllqG2VN8Ie2rgBEAR5qbA22DRgU1voLphRxgGb9x
            tz1CaUaXggEaLnTz/7jlYWxfvAjoJ/aRNJf6Sd0y8cO0uWbsk+5NJ8uYK6/n
            c5c/nbL6MRg+o2Nwn/FcUN+rcWHXkdchjtVc7Lb5jvHuxwx123MopmzEHge3
            rngyzuzfsc8ihVwVZ4J7KjXwCN0zjovz1ANT5xSpUKIcYMWRanD6PbVHeW2U
            MT+v9LyLDICveCtUlnnpZwn7j2q8ByWR9BOo185FcJrsJ+xkj2Ha9dq+h3E/
            pyWzxYmrO67FtpfFPsOmp9eQ4stIX3panBhsmh5P+YlV6VDu36SNFL/kkC8e
            4yI4wjDm1wQfBjZw7JgG1IV5yiaoA+Zul93cvjd6t2i88bD7SEvVmkUHsD3y
            pZV6s2lymduGnXbCjGVNysSy/vmw3vbXF+2uOYZFv+tTvqe1BquTv2kvXWY8
            79gLtw/v7sOt0yJvG2cbPG/VlCYWk4GmKCWZn6a+SU6ymWCZREHVrzTRz5kZ
            u6RN8/ULbnbFApK9FXnKUq41i3wRHS2EpDPdbdEF/27Lvouv70i/TskV8Uxt
            xPl65+86o0vVxkxbCNpcy+510h9QdpcVRKeztay2llX+hdhshu/4PaMgpGSw
            Nbos3CTV1fSOezlG45czYSu1dq1Q9tBc2z5MTv62halKYoik95SJyDH/5ak4
            PHjr3c13qx7izfb7d2rT320GZfvBSsnyoPfS7u9Il9bw/o7rXsGfDHoIb7t8
            S4xFe8kYBmPr7Hl0lCcwmMemF2iPjXv5bV+0vhnGN3uMFweo7rnHiDH+4gl6
            Oeetml26l0saA7/HS5h/+bPcv5kdY57v+669chbhuiQbX8miq5NN/6L7iwya
            m/lQgUbpfDew30kDekrwFHEgqJ/AKxfOxmHrKmce8eeAn522vYR1XEv5TUko
            4vlOYyJB6OSXRwLI6vMVz6o9O2uwcoHZQfezaM/cKQP+3rY/Fm3Xcf+a49Gv
            qTluL5rsNceibbDvifi5dynPuff6TcvIbwDTxJhEIIGSbKdj1J4kp2jlQfkn
            y7zwipu9dcriTc0GcD3tVvzmAYrE1VgTd7Xbtlfxh9DWWT/t+W5fI0Icfxgv
            T7sGPSvRYhFk+UV0ybYw/2eiW+9JHcNSPIohPxdiTdpv1dcznv+UpZN8PWPc
            Cz6743j5ZXNKe/L1jgtxYCw08gr9TUucgAong2ynLBnRPgtVMBnQBbif3nGZ
            9dEeQgFBAWFfz2g/fJguVN/U3Ch7u98X+lSLF1Z8g0KOhv18lsnXLlN3GXqM
            puEkA9UCLRsb5ontzGryI86Z5lWiO5vfKYadosXPeU/cBcXL1oV4kzGCZjXZ
            EPVyc59b+pjJK2bTKVOhMarautuwej7rv+vNmWGQcH4XePzo89nf+nfSsBzf
            nEyxcskakc/kU+/k88dgZ+aFzveF5MDJ6J/R+hHxTVCbDJp7KeXQaap19iBl
            DpI+ZO6Wadat5799PgAdi3/HBbn6jAtnLZOGoYzXteJKA91VBr30smQsi34u
            hRpahoE4Y8SoMqMbULdPnFEkDIwcbfGkkUthMmhwLGC9MqXtNGGnK7BriiWn
            AG1V7TmXGAuXTvGgsjI4YdXpmN3NrnjmGMmBduuPZ546edKbjGoETNLYt3Mt
            CmMdY0bxXXQxiZSmoQKInY5e4lTklSkPB6BHi4X5AR2JNvAS8zzML7w46wc1
            T3ad+3kvRsfbPfD9yai8BYyY+W4/y/P5eJRHd8Aas7+F8Zln3b+110HHg0fI
            6wQq0XPKMETX1tnELxTSLqTpaSg56V88pR/ZfS1j7ns+B7R08v8/Vfc5d1Zc
            rx1h79UvfePcyOJLdE8rV6v7dO6Ufd2u+6SxLSFItzYYqtvNuX/3Rx2q89hj
            /6jz7m/76i9DRd11Fdcf36qu8lNdP/SvqX/tv9O/+5v/Xt9Uz/lDPeddz46V
            4a1MZMyn17078q7n/Q1/P8Z13uOq11c99ed6etUOUPyO/6k6/7v1yKmkE3Yw
            N4dgRgmKaGMwg9nhL8sG74Sn9z3oKne/43rdz38/95/9kv6g7jqJk2tMTNQc
            FGaikc541c8z6MTHe8mP5S+iGA1u8B15Xamz5f/40ovtLGNt85Gtmb/A5sF2
            HHIFoXTt1e97n7ANwYgd88FkovY7WFwit/kVHALaS1HWwz4x8NwlKwaQ9ZMs
            DHHXBeRYXZKmyDP1lO1h2XGqtByS8AtQs8/9bhquueEL+7LhvHzE2FbKMY4y
            XuV1ClHqVUd/1gFUlww+KpR5wbfoDp2hPr4Pj+/H8/v57sPEKHYfArDSkAn4
            rqdYPWM+6tlj4bzadzae+9tc/tG35/628TvH1Ev01bc4Wtn6Py1TF2URhOfJ
            vh1pr2O2OAklAwc+yv3b78vX+703vMYB/Ew4yMhOXWeKSrZAXEDbiFX9UMZe
            4oU2vMZxXucYm+aiuSND2MWiuFH7nFCwy7gqRMbkuqWMG9SpqV4qk4WLD3Dh
            IczQ6r6XJeuk2z3oLfqQBbMt5z3tmBjUnmoQ2maREWe8VFpfdbO5b6SpGQnC
            eGLPyLSM8OFafL+nLnwKr9E72k3Kg07HftCI5CydMlWKCR99coOxMgPblr+d
            9SuOmBiDDX1JP/UrN63Fq19p9yvtfiU7P69+xd2vqH7hZKdzy/8IS6bNXTQ/
            AYMpgmeRESZWveHKnGexmOpeCnaj4WQIvmh7yH7Snjf3XM2Ws8lPJRqY65I/
            Mt4K9odsymj/a/S+UomVE5tkmY6YMsb7N3iSwRhzJxOS7frAto++f1PPpbLM
            1XProgro2Xad0ofRvHLJ749R0vL9m7GLyMsxfoHZfXd54FOf6TP4csZNAEms
            Nqf8WzrrB/nYR9dYKmXc3I9HvphJgbbL7Cc9ORiMh3PA7AelUz5KIROjolEf
            Fmhl8P7NusktkrC19rZeADThphVfseVIjZI+l4An09mV73mS8nGPozOyJPhh
            BiAOczGnHTWple2dpnvGZNCoDntJ82g+Lp2JIRyFj3SLXklyalqC0A+Ddqkh
            DnBxi9aLtDpqQfJleqMX6pLQpD1LK9xxiSefetnCyueE88M24uM92KF+tHSY
            9OwE9XRSUtGwhoFxafthMQsYP5YGZrLVdor2IBm8r0XBhsawuAJhRsZwdIzX
            Ql9uzYtSS9gc9HmN6U/Fc/FYnFpTBPihXWSgQJH7/37OWDPqh8XG5j1z9VUZ
            DjAW4qBniOzk6o5XGawfgTGXugsDNKLkMLRtEi4/Jn4zMYZjOL3YeV7o03wm
            sERJ62n6c0bypAma6d1Mb4jOjFPncCmjyAUwts8iI294BTkqDMQ45SNP+drJ
            8M6PuIEAyOCYXnZmtBUj/xwY8rsWxS+k3IV8Yao8A4RV+z7ue7/vDzt3rtq9
            bCOq2R5SJyU7JAvdQHPQC31qgvfpGrpSDuEw22s5JiE8SK9YVrcXjYKFkU1g
            27RM6mbTg57bNdrVgYvU+2nl034OqG/X2xYo2bXtejONwRVX2b6PO17T6S0e
            821DhSnq25c3PX5XQJr7d3n8bha3vDIABKP0yX7oKjZPPILYYOSH3B1zUnAX
            cDF3yQuZxVLy6m3PFJQb1dHGsShapD9pjHzRXqu60zQ6x/7uWUceV4jytDtJ
            Gx59lz8Zl/OOA0R1ivSDsjZxZ7K2QP9gN1fF7wD2Df+qr3c7lHLLNBlnd5ZT
            mkTWufaeYnwhxpt79JlxzLzpC+lVaPJSPtt1uq7y7liYP1rv2znBUXrEWJpb
            hgiiiiBraD8dtgYLBPTyDLLunXQ96AdwyPheg9+NifMf9nct25z8bi44/gtQ
            8e47fgMkyRemTMY515R7+otiozEmg/URFIzEOhPnGDCjUeaKZ43zoHvqHZWG
            8QSTQt9wBoFSmmOsa2T0Fc/kYJQ60kAT55T3joQ/7XjZiN/xX0icK8UMjRm9
            +cCQVuF91F6ojCteN35JgzI02hQrlU52IZU08Mf/Mfw5YQLnBuvacWoA37y/
            7f74RzvsAxDKiX67Cuaq8XrMq4MnoyRW8iYGjfSpFPyBpkWxzFS8+13E0act
            12yd0qhWImFViLSRW00mk0RLZt1GMHjzQu6ivsXFU3FwyzX653PGp+GJCuYO
            ZPLJi+mTgIdrkwNAI75RjCRgkTvO3xumHuto4Q1jM/BuYH4vcJw67xRBN6YJ
            oNKg0mZNseoYk0k2cTLFk225t9hvg4HQsXEvqtt6YGxtR9NvxkkgyQxIYvGD
            WzZb5aSErqjPN6DuHe+LcYyoMuxDtrnM/ytbbH4fhkJ4Yd8MxX+gXbJkD1jp
            uu+Fa+MKdxv23PREeiZLhfO4n/+m/cPaxxQ2bzor2od4ZSFm7CDF9iw7jjn3
            aPEv+ajOK/EjY8h4xauyPjIu1aYFGmWNZphr8ylDDvGhDNVrVxqUSvcUlf+U
            gdtXYDy5So1LU47eICKD+lDGiDjBC+YanMUBc9tOvpFnQB/w+6A8AZso5Gmx
            DBWnIlkMBZ4xSlm0jlX0HUmWRvxArf1Iu2xT4nNH2qSeNhf3b37rTpkSyDdU
            zxlvNKNvlYaCihdaVU+hcnNZnVnyTvstJKJ421j3QLtep3HTHpL1mI2C5oi/
            GddJ42MsY9oTYF8SrDOGbvAWDx+dls2uA88gGS14NznNoPzbb5AqvarzcBF2
            /Ztt0e7l/h48C/3Nq0WJlRwNp76S94xD7mpOcYfZxhFn5bpR132K5yOFY+vF
            oEWyEfB7PPSQw/qLNgZ1O2eQ3wBdZ+514G/2LTNyrfkuu3stwA3J5tkAOBf3
            hzWnjmzTJGHTHGOaPfK57ZLPabQGiDMh/Dbsim0ZLMu4lWu3HfOmfdJN0+R9
            3bTRTSt90zg3jXTTOjdtdNNYL5rpi7Zacc2n3KjP03JX7Pd113PTTJgv7d3E
            +M6gcXl+w3XJb5puNWiIdqvkl0T7BkVTzZKKbv2HZd7+6u8C5cNscsfLP5GS
            acWpJdygZc90GXAV+301iymqKQsruWZ8gys7xhbVNWjbrUuxFgEPp/Rj5l9L
            wh0cq9Xh5FsMEgxw3bltB1vNP5y2d8xZcUxvsc13vYQ/rNdT57LzW9DmL+QQ
            0vaxnxuXKKMldZ+OEdbAI2XLD6ErbVuUSuYCAxUV+1b2CrJdiOIjwTtcoi1w
            pm4bDdIR2LylAVHQXzL7ENqet8lICdHysYz+5gXGae2Otq9rx2VlDJ1jdcX6
            ctS547sh20NGGKff/lKf2GdGYKtgIfBH24vh3rCceQbYp2S5HUQXkFYkaurT
            3mEdQBR8jqU3e5cjhUTgQSVLDgzj/7a3MH7nqF06CsYfbtRZKKZWuWMdEzCF
            RrkY45dx7hmD7/bHsXjojE/O+PfETxEk3UVrDMozUq3lAopQvCti+kb/FXIc
            J+2hTkvbvuOUESElp5j//fbtZP00Ut9+AHIOIl9Im97CeK6056Mfk3AXY7eT
            QLT5A3vtFAhPsNCDWztJLkzuZUYiLcDJo4teMHjfN+w/pPfK5EiZJ6esn/cc
            wC4Nti/tZdrmYYwMIs6xUv/Ne5KkvFe2kZveottotLExf0pyjEmKtuZ66VHj
            tJj0Oiby5Nj3IoUx6mhx36kXp13ZVI4UX8MJfprPsz23PJAygZFGMTBeEan7
            LFl05sHSbwahAK7imnV64C9bM3qkZsZ6dyY7IE1Ou+9NR5DeKV6CJcEQGrWr
            jsF1d1aHCfCH0UY2t4XP2+3De1g9etb2s0s2rCAT0b+w+4U6aausfq3Ht+pT
            XbfdOvURsyhjz84NBhIX50H2JaKvKQw5sVmccssHsw93tk7e6JI+mmSpoAGE
            wh194Eszf+ZL2lb0qxsvJd0HeKMyqPfmXiE/i/upuS+Kwzv1XSFUND+lQOsC
            6b+AdhhGFfMXrigfd+5d2Uxhby/lZLH/S5ZO05iy160y2EgZmT4U59UDMT6f
            0u6qGCziuzbJGP31tz+DkjyGDS91ZQ4Rywfg7zYbYbDxPvIkUz4sRgcjFSH7
            Jm4MOpQBFSnT6SvWI0DLX39HEBSkMAK5qiOa+7NiXAh2+ldsRTodk/fohWd5
            +3/Iv5/QhVZulBAP0iZAKbr6w66Egymhy95+D5K4Pltcmh3LL5By6Cdj+dCO
            QZHzeZXtamBcxaC8MqqL5jSAozjfiff5CpIFnzJi3b6F0Wzxrrnjou+8AICB
            FtMyHrJj79s2VL6pjEM19/vD3o993+/v1r5We5+nXROgnNrZ8dh7s3Lj2N/v
            egBAi+F7u7ZpuXUTrZmPd64rhzGDSsxrmq1DUPgTwXDFUNRQQdIzfpXoUilR
            AO/sedpxnSxyBO3IHs9l7+XtuXw08Dy7vPzLDiynup/f9ciC2urR81e7ztqd
            8ntesudQni8FJz4Ue4T308LfJsbNUVyUU3OeuOc7Y4TYmKzM3ZeTDuQ5fdcd
            v+t+jCH+ZgzxN2OIjzHE77nbc1S/527PqZaGa0AObPvV4Le7fSrm3lu1gTaK
            oYz5sFsxPqhTRm5x7lntRS5btNixffhBBIKmBJ7F5wyfTjKV/Kr853zBzGAb
            BRwVHBPFy937qdMfBm0Kri7j33eOD9GHABSKJ3hsWue+3jnxGJOItlkS09E+
            W/GMynHsdXd7loWQOuORj3WfvTnN/jVEix977XlIzBYZQ7W4M1Z2YW5oZRXq
            I16ZxRQTDUUbNH+aLz/opPbhW7jpGgrHJKsizzpNB9QOxRHAabJY6bLDun/X
            N11I+ySmWbO8H9s/Gfzfla8hG9l0tdtvhtuTdRzm0XzceSQpWCJsYYwFwO1K
            o0T2i6QwY1H6HX87KpkxpoYJkPCM5JHiIdM0CTQlbVxlmXfjEP4nm03vFc2/
            S3HDEn16Q71joO22QmLcyxPwwyt2u/+pXdG7pLct6YNiCikaoTsVS6nLOVx2
            kmq/SgyHvoXdh0P6z9e3yvWwv62UZ4V3X8UXBNHnzeWv2NGM3fxz7Gin2NHO
            YkdrfujtbLZy66bNPHMrtPM1z7SRq/44Xv70h/J9sJ9J8ae9fEtcxRzJYMCv
            +HrOHAwN3yt2i+AIJUZ+01EfscRmEnXWXv5B1gjjDTPRgvp5Dkb8UX6Tlg/T
            QQDI6d2VaDEwGtGv7BrSaXaFhTAQeDxaLGdnst/jtovM5hO6tF+DfOXquZbF
            sN1xM/DuUqyOY9sJ7jjkehe/3mXUFR21uPMELdrpm3q+42mPbvF6gXAZO7OE
            ZTlPzE51x8PM7zqV86TLj8sp/Oj5KL/7IGT9KF/OXf4Ecr/74nV+P9u13Ciq
            I/jPccR4LbW186kqFmr7LAO+6z3Wivqb9O5tNOkbrxlXAHLJtNtNtM+/9tgf
            Y/WvuV3ur78bJoz+QfaOud6Uj836bLZSlrPq1Sfa6j7HTk2/aG37hgKKsGNZ
            W3n/WZ6Cyo/yeZff/Tu+1sL3r/LlPcdzaI5dInUcFJedvmX9tgtliCX6shxF
            flZOaSDcfh53jgUeNsCTuX8ryjw1nH0F2c8qpjSOljPbYFHGnINjMoPokW8b
            4HkcL7/vwPg8YzrGrMhhuJ3P0InW9hRV0Ae/gG9ajC1Cvplx+AWf8dtlOxcc
            ww2vC8/cNYbi2jP3EuoND1g0ibtb6eLNjmA+ZNny+Lz65bxiEjK2f/Kj33nP
            Ms4spQQSIlFvE6L8WeUPSB7l2HQ5o1N9+V8m2nSDEj6a+dsSv3n6Tijm+qNc
            pw+n4RuP7vpHHoG8r5dicAc6UrzsF2LJ1WJuE1Qx5ky5cxanHVeHUbnki002
            XnkU64bN4J8SYNQt3zgsphjPA3lFxaC/9bj0T+nMVZzB6fVVxZuzlWZ8ugL+
            5yV7hkL5k7dIBHSxv/W+PcWJvyavy1ba9uML8kMu5gtOeUWULHIEk4MPL3t7
            BtxplB8Usy0DrUN6hPuim3+4xeHnim/7fPlV0epXMavvOBKYkGzfVmwY+RVG
            u2/L8hk2+q4X6fnoVUedR+th23fJCdrimMUGhKL4ZSApXQKqZuAanh8MqitP
            TZb9FTNMKStuivd9r5JxHzteMeOu73fOnjUJKyNhFVE8eb0BglE7YDb5qS/G
            YKDrRb4NCtohP4Qgp7ppuJbf6ZwyNvMirLYy4kpki2FseoyKv8p+TQpzmGir
            YG9SLsmMruyL1W18d0r3uhAm1P170OKFsq925/OjN69iSCzx3f3OQ2e0vmJl
            VNszKyumBBP0vtqWMdhivL1istBKl7pdhytNef2CzTXngvUAJjbV4ynLZnwc
            3HM8O1fOsyyAeuM1JcuJQ9OQBFydMn11gOraCEk+SgylTIEA5m+ZTQvnnXMb
            nMUWoA1A4mwcgTH51z6HPvaYCvEWw2hE85OvkjmD5e2Kx6/o/4107/apzX2N
            73Zceen5aNB4yA8gREUXr8erPfoXpASa4fv7dPBL+rSofafvXEm022YMklDf
            a+PKSkG+oRgz/akll2G+C9kCURbkQzI4TU8eQJYQgtHWTO/3Ue6wcoyBsWWF
            OAxFfhD3nmeqWfBRrzNw79/P/S+bpiH5xVFksWF78ni1x4RYgj9YT+rYJJol
            jsP395njPp9eOSW0J9/nwbs7fjjPqsJF0k5c78Pxegcgdj+TPSR1OJyHenXy
            QsfEURq3Xr+0ar6TgXYlhCv0L7phZqEhRqOTkui684a3HAPu+u2nf/vjxxrA
            8bkrnBLcb9vYnaerpju+uMQugMCmy6gW43Ec9/td/mK8y2AKTvJFO38hf/u5
            44Dnn3/ffN11xx/acSSv3d+1c36fO64AbX7CDOct55DouJkvsdzYMEduy5cT
            s6UpfijmK+tsjgj+eFk81sPiJGRXp2h6i+Manemw2mE2v24d3zlmAuMOxcAk
            qMrJuHO50P9McR8YX5D7WL/TW+6p+IY7zy5jWuo982fsWJBBdI/5ptAmz+/8
            9E763vN41bdtF9xYihrQUz7Zfif9nhUvSPVSn8c9rxyNSfaNh/Y+8BNl2LT3
            vGOAML4C8zM++yhfth1Dg/VzECswnnuZ9c476Y32YWwT0Ff9RYtM0UGUZRfs
            PuxixsIE8fjIecXYKuvceWEP+VUp51OUsoIhDIocx7inQdSdlBxYTlX6Ux4v
            mo1nIbSxegOfm8O1HrIB+Ys65cXE6aKlOx1dpEtq8lsGvTqUV5n6UckpjKZV
            vOtLFA5pwUk7ZVCHbIuBCp48PseIuaOLeLsC7RJo/FdBg6D/zK5LOzpbX0BI
            qs0ZIo1ZMqrih56eMenN9FR05pLxVaafDvisj773/tn33v5138tX38lPfsT1
            oP9yB43adh4VMnQelOVhZ4j+uIxXbXmQ3fA7F8WIbnSXR3EMuY1nLY9pMV75
            /Bxsn0Y8fMadqhg+TvaOh7Iq2j3L4nB21clIo8onRZ++KHBw093Y0LNKF0bQ
            wzC+yv1keY69cv2NnsCAoK9smyLjFugOKRvVycAaOy+XZ3w1qqQddeCMN4a5
            a9Fslw3sLK4rffYthk57xZOUfF9wgLaCGC376wpw6WFBpj5zTzNBrvDVJENN
            5mbLG0iKU+1Radv8zhltOpUse1yA9yaeYXJMd45HJlrh8+vccYjAStzfCa9S
            4UUTr3dOUMc1ponXnU+aPNn9DWUjylEBipjPCqOcM873pi0Er2WzJ9kZbQCW
            clEni8c0L+Wmpv/gJOhN03A06PaeelzEh6Bo4ivPKc67yp+i6wV7GCBXdivS
            DhssYcUpbpmm07iAvy1GLANjAmo06YzUd6c8f4T70ufsMthbTX5607n7O+kP
            6tq5L/mMMaKZgcl0lWAgpmhYV46POSz0VR/jbIyDEd21Y1CHwZxPpDsBw72d
            Uwa5C00+2oazg8kaqn/Dkyf8KMT16BcjImscjNvzWCt650pnHO37zr3CGHrL
            9G9cF8YhIgC5eSDGL2p7fKzndKt+wCzyiaAesK5t9eWeZVf+tSzzGZX+19+d
            DpXdYlEKRi2Lz6XwOOgL+30dhs+UOuO1ly02AePqkmaePIMS69LfT3RxPd44
            RXbaO2yvu3GU9ivobwYgLUG+xJKne4sx/IoBzPEz96Vio1tEdeb66/ec+o17
            j2bvqJ+9zxvj/CqsRmKcmDoU63rTJHeu3DvXNICIdER953Upm47qO+e0UirK
            dmPTNKfRMHP3C3O4fP7r73HSJ+Sd7/yO12DxJEESprdPsOJQMTy56d66ZI4W
            E5s7qQKo0E81xK0fBmWselpljgXZ6Cv9l8Lsgjavm1YnfnDy7TVcT7sE+eIn
            i3V464w3DCS0bno25ddttFdVrg5HWsuBbi6n2WyQI6F1uHgf0uBL+ngnWkR+
            RcMphoDlxxSsffkdb1sA9qlJKmT2rVK+hIe8gTFQkr+2PfwlvE7y1N92NLHk
            uXWUTYaIJcWx7jzizDGUKZ96xpLcMcFIzx3XnYNeOvOUd59Aa48nzdV2zukX
            3Zdsr920XTlM5sScJx+0VvyktSJ5nMQc08ajBKP5TtnCulYt5kx46crpt/2K
            3QLKNUvGgx1776tTsvytL/E03k+iW9B/9VfxD7meyo8LflX2Ey0wrukdg0pa
            ZPM3yDsvPP11b5p3PsceLQ6XYJaYVMv5SYAeFdvCbIhxls+17a3lG0O90U2z
            VuOTOuatSVcu/j/5PUfzNHqTv4NiabYquWi2fDK0WCF/Fs0uP3PN1xLeOTed
            5O7vadumuTvri26XfD3v2F+3aISwlLE/fW83TiPy41qt8ywfNDq+vY73/Mj+
            77B1T8XuT+V3MPimLTNo8wyaj+c8G/7d8R4UP4J9xXnut436mr+2OWhvEhnB
            HtOQzM9Ydg2ggfrGIYN5hxTrNabwiHFPG74mo5Ms+Ev/lxcuSm+46XbOddI3
            OE7rRU+8cNYbf1gc3HFa5KHNx8U7bhxGVd586Xn0rf/eubIOg8HMIQm8m2p8
            nE/sY0aHMRvynfOwUD5HpFtpDlF8vGPmaX7AhTPCiu1Tseom82NSjcPid0tu
            xUQFVE8ork2rsnH5jEFIvnru/KD7/swXkTHj/l2K+dflN2JyyrrjAHbl3FjK
            E395SlfCHaOQ59bY6ma2iDtOKWMVynXgjo+HIbdh8Uhp/+5jJPa3OK5Gd/oa
            0qwrTWaUw++oOOXdd9AYeCPd0Ln9p+nZ1p86K8Zi91EpoX6sEzxJ+KnOOH9f
            55IeDHjsXr8Qr1fMF0okFRuH54noKzIgjFOMVV4p4wvAeEOxjS4S5PdvlqNJ
            GuajLeqeU6PZctV7s60jvVBTkF5av2kthPYBXxttLpvUIvSlpPw6LYZubiwH
            ysQz5g6Iv0U7tfl83og8FXOuSjAg1x7Md0vM2RUP+qVi4kbbueIv81em5wXt
            bU/m0T2K+QMyv9fx6NtFfwUKKLr2YDgZ5Mbu6Tkzk+WgYPkzOF3B6zi1YXM6
            Qhnad9lZvoxDkdpwT/G+4vL5S7ZRhAdLwZZkiW85Gg/FoaB5pa4nuSFXaQNW
            CJ2mYinSwnvHiaBNcVqkPzjmu46zPt735LUDCiNiP8qeTnGQjjqDXc/Qp9ZU
            seXlLQj6JVFVUpmH81BchqNJ7ReZJ8uVFegjvsgbeuDNyhh8tPE+aMQW5IvH
            Moz9UEU7UV/ViEzRL+ZlUu511oFqb3/ucfuz85nx4LQSFG2f+xm1FsBdg7gZ
            fHhjGDqWO4P5D9T9m+jm5dPLOCqiw2wtQWfJvxzrC0CxAkW+h+KN9SZ7d4un
            eLYzWhI0QqmkeG9RuedIV5WtsyMDxhyQWDH05VxZOSO9noOOAlFuNpwEnbpa
            bPKZnOXjzofkSezXSTc7yn0ZQXzLBg7pIGUTx7giOlPlXO7WE67x7r9iR7fW
            BEO7ErHnaDRJZeybIJ4+KrfJzkn7GkPsi+dR80na9R4DbSOrtxh4zLmamTeS
            Eq68ktvjCntcZcQlHR3ezEB62EkoA3gY3ShdPp0YL1X5IDPAgio3w2AQVkAb
            Wd9hpxWtMeA87WZTt3XD86bngPeMFeHOBRQak6MtCe1LKfMBrsLObuQj/jTn
            r3PtiU8KIy6pf+iz0xlp5c47VpXswMnu3yu+qMd67fnvnXt8UDd9BqYI7NuG
            NNH86H3/XGcKBkAAKFEC5ntRBqr5jliPrvVgCgM9+94P2N+KHyPYejCl+nnc
            7Vj7zLNg8RFll+ILJTsrNhpwWL+ov+M5ZqwYTweGoPx+dn5oidJWZRuMoO+K
            6RfufvCMyE4AnFWgUv7Uvl/vPjGT9/usAV9343FKI5fN88n8XfIrv/y8wnv/
            Bv/ev5k0+3jb41dpzyyQhHAZIIYHVKydJHuYsqlsNNc0H5wpSYqviXnmq+hq
            i+8ayCsafpMtWbqcApTRsAS/69z2KRTbliYbFBsbw6udbNV0wYdw79C543jj
            xhvpWiMxcqr5UuXZXz56fT/HBqbZM+3Ks+LDFsXXSMTFBL2KT8v89Y4YADil
            Wf1sE7Rol38+6BjNnWLE3zFUMbYzUo/r/bmk+0DDXvf0GSCTWtB2euzRx73O
            xW5HML2IvnNRMUyxz64TcxXDtr0UrdK2zSWh+fZ8y1uHMJ568PtsUWXydb7a
            3c9xMJ+B/eYYOYWz0BbkZMYS2wGdApvY6ZPJHFJAFpjgvnBN9i1zKsnOQGuD
            d6Yn7cbTLGpWovQ3h98xqPg8tWvFvY5YGOXrBXGzXrC3vWHvufN40Td8dPM1
            k97tAN1e6XUg/4vFvXJmw1kMOXXSD/NRP22lfqk/rFedSfFOMYXnAtI0vjsZ
            7fxap37yfD3uGZP9fNxnwhSbB3KSHGu9OAfqh85yRV9be53fmijT4/tiMPcE
            vabzz/iqqEv7XFFVhpvk75kDvZYw++1rcSmsFSCbrDUYICL0ldjGLEKi8qFj
            zhTwmPJ1YjsuXD2Zvlk8Od/X6/0+K4JLHMLIQ3ClMec2MMxJPzjazrs1wmDs
            ezIX56w1n1UBBRXJ1JsdPKjGTDcU4nCQZIH2coFO88sV0ts0BA00dlDdnedM
            8bY6ySDim96002ny8VhPF39dT8UuaAY/wlKogG7xLzogr+kZXSINGxnJS3oL
            +vRcRe1U7uVcyeOYr6EcASV32n4lp2S3qD/5537nIeU64XxPxnaWIdALtoCY
            puUIqB3n1F/FBuFz6sxueCZ4ky7amehZ2PgL+6WRT3+Ww0K1TBFqXMcN27ed
            2OIxkv/phr/KfR4WE9V6nbnWBDvPSTkgx2X7LtbvfcdsD54G1qTYZfNxx/2T
            3GvvwzLPfJ8hwfIuQ7FEu8FnewsMcsEJ1ZztZwVnI+P7VJj3Ms7x1i8U5lQo
            MU5z0rD8T+sw7QGN3ARXGGP4CoLbAbR/3DIo8n7kdf3OL8K2Rlb/I/MZUQ6K
            iaqWo4uUlid1HXL6mjeco1zN508JJ83mJ7It0HbUwypOOe2HlNvdLebmndqv
            8ne0NfSymd3rup8BL2oNRdswT1iz/FqMORs37IiYswRMGKn3+HpXvaKyv3xH
            8DvxXmxy2vYczHUO5oG5Os2Lp6Rn3MHm/vobGHHlrU+MtBVqsikcRCkRa0C7
            WtpdzEmeEHwAeJ/TWa77kzFRL+W99M30AKOAtyuXYiTP2HEOlW8SsGhSLmn+
            ZdQXND2T4hj8ETnUsYZsNqLiXbz0TAfF8cxjaLFg28iiLdy1cy3Spmbfz6Pc
            sYCly3IPeU7HHiHt1wEMb7mPZOJVvukKNb3nUvFSdkz1g+8b8dWWa1tKKdND
            DJOJdKs3DUJx4KzEnAoyg40yKpGdWbRAF4HKz7vd81S9lTIrc6Z5y5ii7GDe
            egEF+lb+BjpteJo3Eu8yLxzqkKWuUz1bftN2/Xy/TPcomWGX5Ev2r4t6N0YF
            MH2iyQg8H9FXqMmrV7GLbrqjkUnJb9+Pmw45tvwfG3Y989AA/Frc52h0zDgs
            3gbogfyka5RWUzYSgd5+LSrehdlkjFdewuE5F+2yKBO3L3jDDLStW7vtEMpl
            sZxpwUM9vlLTHlQPb1t50l7hfOXo4FxWRjKxMweOJxLwDoqEcHzIXDA2byXv
            y/m/Y/awnVSZK7AwfqML2z4t8FvCAGUF5rb0bljeJ+aOYgYpnCqg9cK4+/kA
            //HSZwBxuXt/5Pa5P166r0788dZnMVo6Y9DcOj5HLWUzOzrKNkXTKgYBrsCR
            1D/2tXPrNNFjlnMym++J6SzfelvpLpmXt955T6Lpv7Rpt04rLX+6MhxxneJK
            2ftzmfzW6P6hulrNn7pHyqfrALZnXF0Axu0zS5okBBDCcfum4vwongVtufjs
            sHxiO76hu23s5ahCeFIl/7W0s5Tz0ZKKblJzOMsvUi1c8s47plzvl2gw2WH3
            aLke6TxFeJrn1e425pbvgo4eHzqwbcfjjtuWyPb8OswP6j5L995nDC+dAcb5
            PZKlvnOxTss3Xu+YTNHvPHW01dy/q/mMmW2fs7WN2/fJbDrtN3Xfx46fPJmL
            wGilxHrYHTxTzLApseyVKv1ahmw9gvL97rx0J339OKax5bXT9iTlGnTl57wE
            2TYkmWxyzpnHazANzZ1/Zin2e6OwS0Zf0eJFCIwFyd1oAlHl85NMx0Ke5Li8
            me557XcLjx5QNmy9BfUYjHewzDZZMmvS01H6KJ37Xt9+GPd6U2bD8HbDv3UE
            JMbvvJrC28fbP5nnsqQxOgmnJD10M+dwekBZvgecuabfK+AsM56A8tWoHkK6
            ztgJh8VEeOsQgDdJg9fRmSOH/hEvn2d5q2H+kuD2ay77lZhCfUkUKRky1nTL
            63mW67w0z/GHd9gb7dYRyP1IuZBsTUi7PcsCDjWFm2IEmcfzdJgvEOnm0N+6
            KucZy9zsHJonVLe+n5irkhUfoN05eG4YIAwX6ffBhJ62v5rJx5nH+2LuNSap
            u5ifjKHDpihBxgg5M+3JUU4Vd8JHwHtmqsIu7/J0pf/zRYEUc7QKZ7M8Qb7i
            9rdRmTvXTWYWfsCeY9O8hDnV8rxte3r39H9iXBXl4G5WR53vOpj/4VWH+30d
            uVsdXT5TSZzHa+2nCP183H4Yd17aJF0Qgc85m9kKhD2v26ZMfh4nQRTlP9iQ
            N0xnPuMD7TAPE86Qc5mxrs/yyh23dTSyVeo07Hn4o33RJb+jP5zF3/uFbgnH
            7+kSxbn8gS7B2f6gS/4JXcD5pN8oBsZQUfSFZm4H+ddWyV0UU4c+DCt05ndO
            Pj58Epmbgn04NvXM9SxuxydfWL9s77i342V82ndeKflwuVEluqdJAm1jXGGu
            NS0d9/zOuf3243vkKVHeXsZf8WP2SR1hohb4lUP47p/g7DK5lELeeNklWXs6
            1z7Tb9RNBYGT3RfmEkT1ol9okv3XtG9cNP81mSoAwrjjfa987pue5bs7J1v8
            yml201WzX/POPcRY2iO9x824j2Aj3CvHWr6ED1Rzeue1VvBI2ubMJLOTHQci
            0N6DuVcY62jnMmP86yBbMbf9yZRFtZ29XMysSN1IZnR4uozJvsN882qQremd
            q4bpMIAU6vJLMTVJQcg3ira0nCucz53rGFxrCzYGxjesdPUMTGONM5gEa5jA
            LTN+lWguKqp4pYkCqDzafd/5nRhDkjLvMEd790UWULIZAtPSWWd3V2fsSbMz
            AEmYFHtkWKZH2i8w2komfTTqjs9kdjvy84od8ODKBn8Yw2yYXQpOPs7KRLdu
            vA4epjCXCe3+p4W8oM8QiL1gge+ubQgkWzW7b/s+GY/HtDK6B45uhHOe+XbM
            Jro05nNKYT3P3MK8ze0zyOAuW4eXg9kTHIoBg7maiu85Pmw9Wf8YZmNpdcc7
            fgyjFCg5aDa9N/Me6D6aLTdd8cIwH16395xoOdoSRPOFb9t3njFJmLN4ylrS
            bITiK8/Rphkxd5dXG1lxUKLl7OSYKWTze8x+xJlTruQB6LfNuGXMI0NbmEBb
            kXRZZhjamhfmuyqii2h51naOAuUwRaE8d26BeKEB2iTmep9LetYods6+j9Tj
            8zDvZ7LXB53FeJAmV7Q8pJF6kpuvaNR1gLyp9i6sqyuoyW5PUUv5vMiP2/2r
            9s0LibawsnMLdx/mvpcduiLJY+Y4vxxr3zm/Dovv244X3W8xPe7cwc5yw7Ov
            916j9Sj93AAgLO7Atr9glDnt/WLPb8P/tVB6WNQNefmScbeczNuE4dD3Ptlt
            TXYf9n3f923X94//DfpHHf/2P0+XriHe719+P8llu/c9md7ne566bP5fmzPf
            3+3oka+cJvNV4Wf3p/Hy398/OmDvX+1/jWPKxXsPYdgOSKP8WDZa2fv593ug
            lsI5YaBb/kXaZIT4KnVWG+u9pF+fE0dprkaPP85V3nM5j/Tj+/GH9vHzDIoL
            7+rP9dtcpfTz+MJu/7RQYb98v6bVf7n64/tyufyv+nfvFe9+3it/+venvcb0
            gP/qPQWrXhFQUyYxamXv1Yqfa10V5ei3Bf40Vq6A9uX6ea7d3mvHb/Zau8/N
            b/Z1P/7wPv7hff3D+z+0X/+wF++1cu0/vtb1d2v98/r2oR1Q+vofX+vrv7bW
            /+m5DMnqf8GREBjh5HV9jTNYue/yZ7A8y9//7vLtChQ1AUfZde0rg8bz/emc
            4mCPFhqfR5p/UIm/r3lfS7Frdfv+su/B6CZ9f9n39F5S9qBiz7/7O9OhWINo
            3z+f3/2lT0KqSfIbNiWabtjV7/u47AoGrSonOpOiU0e/369mV5qTCe8ne1+T
            3d9z4gvwfvphf197THtOyKA8+/rGGccLUWrtmPt3b6vr+uv/AaJJEkA= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
