<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e096</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e096</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e096</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>0489_e096_v4436</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>57494</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e096_v4436</key>
          <data>
            eNrtvUm25DiWJDr31RA94DM05P6X9EXkgqpUtWduHpkV5w+qLOI5lSSIHrdv
            /j78wX/xOLxb7a+/aznsnzvyceTGf9Ef0V3TpXO/ih7/3r/COHwq+Kv7r+2/
            vv/G/pv7b+2/c/9d9ocG7c/tP7//wv6L+y/tv7z/yv6r+6/tv77/hq/uOvq1
            OM5r/8NPNNZCwX97xHjR8tGPgzPg3fHx7+p//X0Nexedw6/oi89XdjnmgOvC
            FPk8S8qpRNxf+G/1R4j+RMePlBJ+orWqdgJmgVdXPPtwBPyVo/JJC1qL3W7T
            +473s3K2c6yXSnv+b/ij3T2sj97mS/33IWDUaV72tHcXy1Unf6l8b3czqPk5
            2jxTjWeeuQf2zqHTez7GLtH3Ne4akv/sxd2tvJ+XfZ27nrXf+/083OUmR4+5
            YUN+RlZY6n4fXo0nFJlHty049XyquVavGtx7ja+raPRtfj4/ahhW1dfzvJuI
            n8/TdF47wGFRsaoq89XWseewf7UVcthz91V+T9L4autKQR+Mr/pnmtFG+lXP
            /je/6sEmUwvnV398teehXu2j/L0W8/O5r5xvgojP567s5/HzOTqo+uN3/ccu
            P38pr22TvuvPh2BR+irvktWfv8qjFnsef+lnt139+bxN60/5qudcOpvYbtd8
            Ps9JO8AXbF5Albj79lHmPrjl61ssvvrW4ufzG6LO7/LeTtKsn89jrerz/Go3
            lJjsXH0+98vWes1fnquB86t8yHHD/2t9jH3deOLzuc2g1m79tCevr/I3fLjq
            53P0v9thvs7n8x6cPvHH5/Nanc6vj5/PXdvl6+fzcZf/qh8Ayebhqx5v3cFJ
            R9/ez6N2QCBEQhmX0z4v19fYBYxq/Xzua9OeqV/lE2rYfbg+5zwLTF7H5/M9
            JZzDj+cx2mbKX3ssdANM9WsvGdY3aEaw9712Hjjx+TzttcbW/Hh+3c/n53O3
            4TUuH89fMP+r/n4/rz+3G+bP7cbj53Zj/LndWH9ud37Vc73g6vt5NiwQS7D7
            F+z9qvPGp/Orz3f59d3nDQdW/E35+pvnX/WnjaDPr/pvXHN+1V/v5/U35b/q
            X+2F5/3H3O6DXevn8xsegur4eH7j/xa/yu95a1/1zLv8Vz2uv+iRn5/H3zyv
            v3n+m/rnq3w+tANSPu9SrzK/+Xb9pm/rN31bv+nbiD/P7ag/z+08fp7bGX+e
            2/O7//F1fuNHPZuGK/Hz+dh7A9Ax/rRXSdt9PC+vvRR/Or/1q/57HlLE7D+f
            jxf8yT+1Czjz+by/4Ez+qT8Eh8/npb7ghp7PrB2QwWH8shbgTsrHeZw3PfD5
            /J7D07759Xn8en68zunPz+fX892f6/j5eSIciL/O+fV9rm98/bU37n6Ob/i2
            n7v5Wf+9x9z8Da45fn5e9njveo8HX/bTc7fn4d7r9zV/7+H5OlPlpzNC7nHP
            UhWC8XaghvjEbjugWA9c9xqptnLdNTjOGMidADYz4lXCCmWsXvnT+1VJh5Oa
            vXmu4zo+mabxxWTdHHs6Xgf24+p/nbsN7CKpcfda5f/knz8+v4rHBwuJGc8f
            9+XVzfvU14/79mZlN0TvH/fjNewbus3Pezc/xjf9/OjgDDN83Mf50WFwV+l5
            f8b5MYBzrMd9HNoBNV12+s7Psuv8GOyJfx/313n90z02WNQQDv+PK/CxxV/z
            XY6fefH+tX3m8cmT3/N1z9M9P/e8nPGeiTfMsdHeo7xH83ktRqI12381h015
            utPxNPkjEkqG5UwGg2olm3n8er2nKKUKyPijn87hp3ud9jkfm/G5EzMlISAf
            NSGCUYMlTtYyNFGXHQfveGbGOiuP39d2ZRm3po92rppRgi1hWsdlfx/blSPs
            KDvuu85+ve8oxXi37q/YNP6W0XYc52uR32UCtqwWuaOxNcfaPXuWiWeN6y6T
            2tCctBOb410mtZhN+tFQ5rS2EmUtr94B97b33Zj7zr4HW4I9gd1SAxGKfY91
            8O8vMJb1+KLMeNnoHG+t51iP81GmjglMjb2WFkbnbD6zd/FRpoH9Fs+ZsLmS
            HxpFqu45OpDz4HJ2PWWOuvHCc5aGqyFvWQ3m2EbgP2d7rpnnPUt9jr5phleZ
            urQD+uZPFho9RTyg63GOvafQ8rtOHJ2kQw0eEH97HqZ7zhV42zhVBlVggrrJ
            TJ59c0euSRx57RhjtDIpfpRx4CeFbTKm7Co2Vyu761HGD8pFuS6cz8MouPTZ
            VmjxXSbnsWUsH2VieZQpfZf5rIfdKzw7hWi22thX9O5RJm9h3tF5THdbcfpn
            PcCQwJOsB7vP7XoAvMKjTA3kOPbarW6n4Kz+ceIAj2LVuvdyHSHbHJbPcXVX
            AT2iZEfH3HPYu7f1GjloB4x0k43cVa8zgFrLo67hDiBaJxkQQdAw2jTURxmA
            YHC1u4zvu081PE6fWy0adulAPmPaHAFwjUeZExjJymBZcNjXpr+fY7vW3HsI
            a7b2WaoxPubIg99KgtuN+8zbPNaPOfIuEdJz9Gir7f7Uj7a8T3XYPGI94rL+
            XBSfvMuEVmu91+OaG3J9thVb7Un1JIr77Ny2z7ZSjsa5dHTLbzgCaPssg0U1
            Ge6ggDxbGZzfxx7yJVFmxH128sjY/IzPtqqf2gEzDkFAUY1cu9ptjH6mB/zy
            LU+vMnUJpsybt1SZYDqB6ovD8lAW3YG4Zur5xKbHCNg6sCwFGQFwJGBOgRFB
            mwZgpUg+B7ugAkf0OP7T8rt1oyIS5/S6yFXjv1H/rfqvnr/LTT2derpUeqn0
            qp/liqhctniY3mVie6brwu4vVi5IL0KZq0nsr8UrKIDzKpto+Rd/2n1de133
            wuLXv/t7fVvt2+YItf70N6+//u4EZBoon33Us3Y9/d/9/fjt9e/+Pr697Fvs
            tn/19/1td7eM2yS/xh/+955cRu+cf/391kfieGNuiZVPE+cB8KB/wVcSg7hv
            2FBgIzjxsQDVFcPQp5RNwH+DOzpgM3M1PbC1fj+0TmsZvPab4j2TUS0+vkhn
            USh+U8A12X3Y933fty8yvTZChdTCv2GkBuiH8D/gv6jVINRx//z9rVl4SeQf
            3PWTs//mpGd9MZXOuJEvtuH4lAD8xKHv8u7JHH22LqnNSwX64/uXdPrn9+dw
            wrLAhPoDWLv495CYaHzxi5l+SxFsfsaWkn/PT97zt5VFv7wfP7bfxB+m7qkp
            fkiiTMtQD1d/bsvm6pZ4f4/11kidzU7J9/fr1m5IS/nr+3IZpfy7ubr3yq39
            /v7+T//+tNduDcTv3s89P7+Ib15raRqP3xX40/g46/khSfkendt77fjNXrul
            z7/by7cUWn0t2gHjfvBL2fiHuuof3v+hL/UP5+JeK9f+62td/39d6+t/ttb/
            +/kL4g7S/LYl+fVfSNbWC6aE4Alu7utrzMHKfZc/Qzy/pu+jfLuAsRLxlV3X
            vs5i3PXpXDDqCZwGnsd1c+J2zftail2r2/eXfe+AhPT9Zd9fxa4gZNNP/Z3p
            EBeK9v3z+d1fVi/5ybCr3/dx2bUUJ65pregkS9nvV7NrcPY+Jntfk93f8+AL
            8H76YU9fexx7HiTfG7+Wy/FL4vo+labFjvbdNDpguSfOdH+43jXtMYBFaTYn
            rv/Ul9WcOL+z2PUadgW/KclDdHad41ygpS9bacIyFwlARrTr2vdXtauLLvEK
            tkDXGM2Yp86w/JZRnnl4O+utRp96ADvL8wSqnlJHR02uxJHOpIo0AfkW7H5M
            oduEAIXBLOf+DIfuc3eug9wN+QhK3die6KIR7F6z+KCT4r7HbJ0m9TNuPVAP
            FEQVf5TPI2qvXuEUB1rSms8zd4XonuvTR1w8EOAOWjqdceOUC3N/JuOyhzu9
            5Gtl15WmKOMwpizVSlvp2YYn7/Row7WgfdbXviYrf7UlbtutWX6q9wwzP+td
            u55HO/GnvTbJ6T3qBVvqnvW0Nq/P/i6pBRx5wyhzkPAJt5as3UDPR+PqrdyK
            /44irk7n65zH//v3f+e/TWVdY/y/ufi/dAeA0/IdpGD+79Q/j7/+BlcWpKoP
            dew74RxqAHQ3ZRZ17rulkhN30Uw/b+uY4vaz+uZDO5/RujmS5z4Pyjx0nwUg
            W0St0iNJkzYSJU1u0riYdpnLgTbKvlH6JCVUzcAKRRoWz/JrssfAcJQudRqt
            DREojXKTIrmJGfE69DeZdAU0wEjOg6Zckg1md6HTDtcac3JXie1aJ77K51US
            tdhsm5DfeZ/Rl7DLBQoFu9qqmoW5XFtmBNjZrFuHbIcy8AhV7OhT76ApYqQZ
            dM71KmNe7dpS/hnNgCHELdMJXop5SmHPLLJDcxTP2OI02ZB+ry0nchclx5Od
            PRtVDBSTXaj2ilPk5UWBYTQJEfphc7zsuYu1uZNWtpIwu/Ow37STe5aT4ZmV
            ozXAXa5S5krj24xJzdfp8rXnjYo0yhkCiS08L6wHdJmYExlym3KFXQhzvwMJ
            XfCHucNc79/B07bNp5qK5/zxeVyyMkDTWAvWk67Tc06oWgUZMt1VL6JcGhCi
            97QubpVkBA0Ws+d7EHeoxLuItkFyU6JT0adYruyo+PHqWz481q1LvF1Is6uN
            yXmnWRjuvd/rgHVcBSvPZ5hWtsE67nvbm2ON+tffoXMjcIP65uoCVYz9xPnu
            VAhf/sIO4PegoE70z4v2wz1YgjPWyzYIzhV/f5fNj7Iu2LtJxbDzOhvV60zI
            FpRnxwduUzs7vI/U1WBvcc7yBBcEqrI6O1fgJEzzN+18lWWyxTO6bufNOb8l
            UpLpYB/5bd0kYxNqZwZ1Sofo7RGi6rtqlKK+1krhkgcdb/T4NLnnuIz+9+A9
            eJJ42kCYJlqfS9iKAcyAvUYZUsAazhjwRT8mqms4h8FjxkFML9/DIn0Hgnhg
            71BEy/3jcX4m7Yb9CKD/QvTdTYqqxUF0FxYdE7pDHf703U/WeVGLwnVjX7Cu
            aCNjeM3autCm94uSq2PVa17xLHVcxS+cfQeaGe0GTPh52m+c2esc4HgC575Q
            8Q9OcmltZi3gGi/jOWoJ+JuVy5kX5lVKLT6Xj0XqV7k6LXpPnTK6GfBZaIQR
            1les3rgG9h3m4/A2HylxMvQNXWMyy6UMOA2usm84O4IA1QvOalakPQvTYNgh
            IZ1PgM/1ba+1ME+5XaWM0ShFxCY3IzLKurkbCOLcShWwt+bRXnLvw+qbEfgQ
            35BVPkrEycs11oGNWwTn2FvsQKzFcuOkbOLE3vRO5z6aE8xdZ4xeom1hPWq+
            pJUA+IqGb7AmPcWruHNgPdHXeaR7v+02F3UxvuDku5MGEIFndgKbLJSoC2uc
            ruue67ZUR6Zs5ruO4H+tY55WhyvvOmq3OsLxQx3rhzqK1cE9dddRqtVBpPBd
            R6w/1HFYHde4zruOXKyO/MN8pPBrHaNZHeTS7zpSEu7HAm4qoq3jVcf1Qx3e
            6ljXOIXb0Yd1HrmdhhfHwfNiuDhi/ftFWxEcGqyarHIIV7HHK+9Pml+e5GNr
            btn2nvNAfezpCCC6S2r06hjhLq/rRUR8mg1+xRlHuSgeHfdxAXMAd6C+ijHU
            XmbDAXNptXbF7nypvEcfXnUS1qh/5+4fdT9Az3U/c/6kFYC79UKAi8BBo919
            +fiW9FJl27WlusugDdFL3uiQ+z3qbIQHdzss85ynC/gHB0bzMom7vcsaG41L
            ADFJL/FsEHpgLV2e2Xf8sZ6sNmKvrmDJgnB1XnQZuzredREFgTVb+QU8hFkp
            1Gr6dVKH7vYZpJQIaB70INpkHSFfpAbRD62zqz53wqjGMx2NjuMYWZZnflBb
            cJAWoW23xBF8y+HUDuqaWkTQc5HPbsuoBhjTANaof1d/ZsT4sLdE261DV24t
            fnVibIloCO2mXF0/seMcNnkZnEfgCRCswGoEYFjHn/qNtXINffUS77EM5jZg
            boGUUBcAP/3qSPKd7bb19KCRPWY6xphO7Om016o0Cq1sfknYAA7SEaFLy4je
            Tc1HIglTJfGf1t/Fuonhq2lpQJln9oMGwqBpL/UJ6z0BBdQ2xjoAQM8LcJbz
            Nqubx7YajK95K4DRdHlMOJHaAyVdnW5+pov1teAMoXp+TxqOwKRJQgP8SW+3
            KLeqIVpI4lRCIYpX6T0Geg6karjpsOH0jvQ5qAfCcVuP0xXMtZB7w1mkBQJo
            gQtzcpG+CdaOA5IlDMPe7dyjniY0Jb7WBkcQ7ystZoEQUDt/UxA/secwxZhs
            tJf2etx9pxQsFJCeCWdk8w46C5fohQj6neRyJ971XC/QF3nPPcuBHumZNGny
            oBtW4HqkRa8RXMfVQE9w4rH1Oc/EyiCveUIILxz3KPYgzvJsw6Gbz/OsNSH8
            6lhE7M3G+8a+HcDRuCdozd3OHnkw9ieRzsHK5JsnM2vBw9aX3gMhyUQEtPmJ
            s8o9Q70d+SSp7e5zBiLllp1idoXbb3wMulM0IsB9Ju2InZI2TShackajOQFX
            nGjLgFaBPeqmCYDZSKcC8JGWznwmunXfu33v9r0X/ZLMXrHHKHrzanYPOld6
            mODsStJRdGvb9030jSwRsVua9vamiS7QDJlGRpR1TuBI9AsEcAZMatLBt1J1
            RuMClRpbc5xbd59b0Kyc4/MwWEjOFoQnXjraMziD3d40/lmaZr/WXIIRGDtW
            T0b/cdvIelp5lRx0liMFxraGeI517YNrjjOO/eCGjF30vGINz7OCjgZdCz50
            9qOrNYPThWd3UJmOPmrPH4Y/4lrcBqSEeV8I13TfaNG4fw/Bu8a9XrFP6rzW
            XcYd7zKLcJP0IbAfjWKxmy5H5zHygnQaNmfnPtp2wAPVC0qNQgdPmgIj6fpN
            /NfIN+IPNGjv19rvgAmzz9RkVIxsrsBz9eLjwTf0o07CoU56b+JMEddu+Aha
            /jLnarr5kcXC2QNv8Rq/0Tbkul54mDCOm8nLfo14B3gAMD+scW48VEAkSA6A
            HaA9uTavBEy2nucFq637MozWNvuwi+s9b5xWzLevyxh341jBXdAyoBFQzMab
            uAtM5TD33qQdbCWjpytBURV+aPom0hw2AxZH7lcsE/ZxwonFM+znCv4NW21R
            J3Di7wqgIkC3kC4Jgd8epDMMxlJyEGhYD14GbBHOEZAWiNqSwU2C4iPeoVGc
            n8OlWSinAIk8fJqS8kyUDb/0FWxuQcUObSR8BcbNawYnce9VpYRBtx3ovuZK
            03tHng5bFrgDDIDuwT/LANZ9lDH+AvuQtC84X5xv0pKNkG2BRyF2u3DGyTlj
            DGB5RcfgHPpA/a9IX3D9VobPRxd9TFpu6P0l/0jx7rIfpBfkafgTyN9ra+Ds
            YdEpVKspo27yfGOXyXaGxiI0otaH9u1vC3AU2HvI9hr2mGDrqGYwD2Zz7Ov0
            Dz6sd7vvaxvWN7MUdPETNgTO+EX9Lc4p6XhiwwYam2Ng/2mkGQg1vSfNQVpR
            PI8DhsBasw6PybFro4CiAQE6Sr0yTUnIaQFTEfbyXIO+KKUDvg6QAOJJF9js
            UzIiZ/+79n+v1+/7/vm/4+sNrZLLZx8xi8NzVaqd6YBR5Am+JWB/P8rhnFi5
            aHABFIZ4jpJQ9gCPAxrGY734DQVq+saJzqqEU65dp6PYZvMHnrQewEcmT9fp
            qLefE/cA9Y5IeoKBJzAnkj05zjFxTbnniF7k3GcD9KzHAhFpep6EE/t2wz7s
            6VabcbySHzh0pWPc7RqpoI4M4g/wG4AO+ziDq8yUAl20KSWs5HPK6C7AiURe
            OF6T58hR04p+Rn8ZXYq+stxqpLMIywEYdAywXzFfJ7ddW6nd8H3zOu9+vvs2
            2DfM2czXeMNWCkq8BWkwxpl0ZAC1eI1qcqk8bf+HLS8WTCWpfXTphcM+F8T3
            IKBX2byzzh72cydhHkBFeIWkAH6X3PAlP1HT519/p63GxyolRzk1S5E35CQQ
            T/aMxyeV0bZ2NN6LEuVG4bV4JeyVEO93+STpAQIbsGIAo3vR0EBRVwqdwUso
            syXf4yZgQ6Ugvnk/zyyl6poEarQdADw1IY3NQ78kZ1nnllUQjp062/iY9CNH
            tveuznUAhbT5czAF4yVfesz5wg7BvJ2KesHxj0gAjaGCWDm5960+13kuUCfB
            8pZfuHmNkEZQWdC2Pgj+np58Pp7Fw1Sz+J1BVms/CtbSAY4sN67kC7lvcT4W
            YS322wViqlIEIdqoUqErPsOhhhDD5emxDHptXE6G3jxnzXhM0BDkZxblzqaL
            uHUSZsyz7Qj22O99RV7XEwDveRUOWiLRIuUdi8FAIsaPrhXs6eMl85C5ss3p
            rjNmrdHZd12kex3gj/DuQd7oIT9JWJ9gdc1HXQv8yrOfqYiWPudeI6M9JRtJ
            0aj1VGkgWqN2McXjcojxp+rMjFADHo9gk2vi2LlucJ76lI49TJjhk8koNV97
            /poDfRlNdSQcQg4KuBusQqVcbtMlbUrWhBU4AfOi0bXnot861iV6N4JgzRAf
            BZ6HskQgkmUBN1rLTkRSowLkaJQvu8Vvar36CZrcu0LJp/flPO76V7oGcZDY
            5k3rbgcmdyjMTVFUFRpWuPr+jvyyI91fxLTTr5ALpPbwvt88IfvYzmvuPoLC
            qod4RbaN/YfnddP9oII3TEYfz1ok/g0O16A5yhcN0etFIdoSH0m6gqAuC4ca
            /1VrcJ7qhHJg1DgkJl+f5yl4R2UOWKK2sB8qjUSj7QfCgQWaTleWOnNrGMtc
            1xS9e8vZqmTJziuaDX1FGBGDvtMn1TvgR4F6KEdjGUVgEdeFdf8sVxuOp/Ya
            wDnhvOIzLO01gszB/Sgh/gJUxNgvGg7XFHwh3QCKQe5egWW/nwMfApLQ2QYk
            /IxdbR7WpvfSiWle8R2oHEpoL3mtli2HLRRT9ce8kJtJQKXk6VlnInwXfA4A
            /kNr5tQGRoOzCtgnOlnzBn5OTqJ4nzSH/cD+Fi0ZV5IO1NkcARhM6t0IO+jd
            CIzRagXZh+tsICFFi5+0AXp/u+cXZ/D17ShEWinxu9hA1zIsCLZFooUufYzA
            1m+ZisbsZfHnjpdcDAddZ6IO3zo5Ps6BXJqzdAeAt71HupllT3kMaDXSqeab
            6F3Y/NOgL4Uzeol7aaCPPF8Uz5DeI62dmn3XSPk5k5XdcpEzLuKbLHqzAruR
            diBezNufMzuztE6a+2J1k2HCPS39uAMx15R/kpgFv4m10dxeaZjsh/3q4KdE
            o5x2P/IFTrDIvJ/fDtlkjlZm1PeY30s4fH/f7u/zrm9/37F291gW9jH5nXyB
            vuXMkrEBmi4Kf+Ijw2+FSr7g7ILxphva82prDK5ucC8Dx4DcMnnVlC8qnjnR
            Cp3iDL2zZziPuVNuQXlZAm0eQt4yOu1fxzponAXsIF7JkIXtZe1Z1m9t6l7e
            tdjzDG6VBtpznA+saLd2aytdbUuFiLZdfq3nbGsY3QZiDnzrwtfnQzZcScW4
            DNSFP0DQSukztg7xnr+A7gPlKgHzXmpyOACOBBQITfCh+H2GALYhF9BLboEN
            7BcNKVF2htw9/RXIT6x3ObEJAGHfZQPK8hxVekKQKgMvi0LDDdAZk0AZ9KDL
            9POtE5NMvQF1ANj7PZCHcdIJrLXRoPX/tecpoina85Q1AbH4ujrPi8epYWA5
            8GoZdBAZaelU7HtvsENxMjS/RAtaZyn9uEZEChhLH8QZ9BXDOR0Gc8k0LUaV
            o1Ll/j48vg+PMh1DxXdgfERfYg7qWktOoLfcwYFe7t55nsU3nEwm00qA3b0I
            NpCmAhU2usM5cdeZZYVg8kqhHuxxd+FcbVuHJV099dvZ5EfgbSjxwnyTRnYE
            Q3z2KFfvcjg8lZFh1C7xY8uT7Y55nbdMJxcAk2g8t+xMptHJ7tw2Gds2o2/9
            9NoRA6iM9XLutuva9y677ZZzX+178I4G1aM9B4fkjf/20qOf9B4fcjPxtz5V
            My4KABD+svkQL/H4TUm+fvvHbz6v4bh/+/v38Xj++I36wNeEev++n9/607J5
            hWP3GaheNrxr97UdSbr6tceWj8+xzP0cZ8Pm5L7u531ffXUK3jYGaBGgjfP4
            1BOB2sH0vfcBKK8gfQZFHGQPjpUAKQC2SW3ZfSG7i8OXS6HAid/3+3vsX0f5
            I+nAl7e890skvadCDrsf312ZdFMmaJ2EXn3/xjWePs+t62skMzlrp+gsEGGP
            vqqfhVoP9AswdpHmx7mjGjuDUWZ5Rnt86bgOq2vVs9A2zE0yI29e1M6LeGiV
            JO1HGwDqnfy2a9EEuyz6n1KhWB0Pj9H7YBJB69Ki5Ohe+j2CgOnAmXgnnU2j
            ira7bL9pBky6l5ot2kccdDozGNhI988l0UcHzGe91MHLXF7fmFys79+sE4QZ
            wL3Zx1yAHYCQilRxj+97rckpU9eJ8XTaL/kf5uy5Rgq1eJIW5HpnUEIZGClb
            yAVc+W12iqr58/fGS5r+mvr87JKTiVMejMTJfaRxY90no3tu/QKQPiYxO50d
            fNer2Z1rzh0J89yWM9o6NpBBfSgGD55TjxgCeGX8rcZ9u7CnOujSQO9b4DpG
            AMXc6pQ0akukNw0aA/l/6gq4XqBTCO1Ux4m9/Js6/BmH6gFTHx91EIZifN5h
            /jBeZ33LozY7U6DMKPsadYAJ66uhDObC3iWSg136LfzlQLiturB9iUtZ1y9l
            qbvUWlACBFCN3/wGfQLTgHFwLr947w5+JWNN5vnYM6wD60zT/4NkqrMzZMEK
            bC3zDzCkU8nAvXtkBijjuU6AISwrniQrfoNnVBts3mjRWalTYhgI2QTqXAzC
            zJ/21X2WTU6St+142nZUhm+OHdHMZdpWHjRk0bkE8YI9Tv7f5fCU0UgKAkZz
            UFG17RKBcUE/gsbPdZhemT2i3MOCwur8HWajQvsadDTVN75WneRV5P1u88zv
            geUbdrxkLYQzpMs5UspGiEPXYjwxULG0OQHeAlDLN5zJsj7xedsmigYPTjxj
            woGXrSKlLZhv6rNFAkQhuHIYDEu0zaPA08132RDvsrvM8x1xs2TvpMMFi8iR
            AMcr/uulUC4pgqI8ruAu6n85RpkGDpJgHqwxoepZgUTOLMtAjFw6/dsmy1bU
            7C2u+R4PffLzad+BxXas66cxvsZmY017jNnGkcKZcwjev+F62nOSf50LzTv9
            gk9Hz6YH/w4w2LEbArZhp7wGdFAB8UfjWNwnwAPZE4JdpCu97NsuBfsFOYDG
            u/bNvXagqDMjMRRHeUMugbwdxis7G+o11A/a+VZXysZVLF8dyrcISie2yoMm
            2wMa9e16q+GolunbLEacNpiddpji2dYCJqa9KGWKJNNZD6MG13qvJ21LdcRo
            W6qyTrZDr/VBD+eug8/HsrYYm8KBj37ZY+62Om0r2VawtvBf7pFDIcCcrq+2
            +vxsK+62WIdsKC/gN6AESs4oA77HrfZACRg+IJFTFEho23ZGwRrqdg7TlUmy
            6E+TT/qFzVzqXVbtxxu2mC2m2zDG7SiiANvpSaOeU/2q4XjvGRxuo7XSxlNo
            unnpAEDpmt+6dKLAG6A5e5JZH56BAAOMr+Bp14OffMtDiGvCg49kf7ZsAnVE
            Lx15SmXbrR2nqwxpJp0Z5VAyO6TGeMlpnONNTXRRvWWsktehr6XI7pF0Haj3
            7AzuGv39TdcHwCsgbG65lxxUdiDaF6PdemrpdLBWvcdFecfx4DN4Hx/30tnb
            +TyMstTZrHPrEjr2NmmjVzugQZPkfkViIP4G8YU63/i2Yf5mkw60br1ku8uz
            rCOP566uSGzNjSWNY6SxrXcb9wzSWdO1Y8uyWjB9HfWJ9dF/PAd5MjxlFjef
            RMNq3j90/WZjd5G/KDrWrIfrCHqovnBfsvqPB86txFCJHgZFJurPubroB1Fd
            S/LZ456kl3gADMVcNHAQ1VHSyHBVviWTWSXSJY0Xu5/kZ43LShaQ3DGszsqT
            dhqubdxEm+HuQqkAUuRpycEEXL14YC+h56D9TGEkI+ORD8kOaUNiMhG74qBJ
            LoQNC/y7UgDoZyg17PdJk/iMeoLL+jbb/U/noNMem8YPWH/aqZ37tye2pc6P
            sl/g3EJPXvAYiVIajOc8TM9EuViLlBR6LOBVQ0/W3y2roQBmZLP9oxwJkEl4
            XrK5k1FM6H9yVaoQYk3uJXdbpkPKWBvamPHgGA8BKjMDNvhrpkZ77k95FXn5
            u35KNJ7vj/u92++BhTiH+zzIRol1x0bZmen3SBnw2VnGWIpa5ToB2uYRA8fv
            ZmMYp9N0iBKAzOQ1Dtpo2/pGH2ohZMjiEZJzsu2qgDxaK0/ZcOE8nD0p/obW
            GdxkIu+W02HftkXtZ+V3pMT5TSYf+lk2yRQfsJf9m7Uebcv1OzMSADWuMaj/
            AtEg/BzTcCdtCUXeFUcTcuAS9KMwXOBJKeGkTDPjvxl7LuF7lru/uf7wze5P
            UeQfAlnuR/mrEl1czXj8/dwfr2cMv+aoz6+SxzcF3/8qx2cqB9xFvKpnAhd7
            7QF2aYxDebXGb/bulXvgUETL2Gx+PC1Lj3sdazfecuJ6kv7uFyB3uBz9UyVQ
            QP2g/KmXQlk3GVrbePoQbjy4fRGOaXjS+40Dpvk5A/H/iCP8/v6WAblbprPL
            lSldsTd/iJG2faPohOHMNsdJUIpTB9xPDSZtgK4wGv2rGHOOTj9YNdOPMMlD
            3t9J0OqlE6HNB2ZU9uV4MBQbzHxgLJBlK2tixV/0BSU06AFpBLBZO7aM0Rc9
            HroPbB90b58y6m+yqyM9FulwLP7SWWwa0MMM4MTy3Q3FrEpbr/2QFd3yrBDT
            HYPG7Eh2hFLZ4J/ET5xv46VwbUZr0vrW6mq0GY9uEIxyL21fHXlbGadEWwCa
            UdiV35An5LxQ63nPAemHXhVIqVwgA3Q/ycnxOf2ZL5K9nBNjr4Az1b4XfzSd
            6jpR1Ntck44GfwVCgV5Oo5ssPkUjQhw5jbfvgeEf6tEBb/QsX6JZLCgl5Z70
            rdB+pmw1c+7jPZd3FN6492d67V/aF2A3z9c4/ZL/GlYvXLk0xfWW2rbKJ4P9
            UKisMNFao+mxY1Df5BiKsAXpvUMPVyLvwfekX8MMkbpxehilyhBvRPokwkxP
            3jnuIwu/OsXOBk0CKM9vKXyycfz1d8Pu7/NtY202WcSE8slri7aMlfBo41gn
            2jGlTnODBfqP3u+esiTid6foAHQoqWMMQF4GlPG0PcMtjlKngR+OwwUs6HSK
            STti9xDO9CK+uJ+0ZwG9ajArGOzKFGPRrpKpYHAf93MF7jObTdLkOHDgb2iX
            QZnD1mfhWQL8FQ6jmAnnqJmNEuU6ty2su65TZ5C6WDxVzNoTmMN8n9zw+1jd
            cIUmUXHzdLI7ozhCumDjRUy2W2iWVhXhCefE0b4ZBJTRVYkxC0FaZz8TZWhm
            Y0BYEsIFhIh5kB1FOeUrQC63iGejbon7q+TG3286jb5iRyp2FZ167b1fDtmj
            4V0eohnbjbe110F81RMtetpK7Uh93vY2Q2Bs+fowvbTZ4xzZ7CmA1jRH6zJ4
            Qj9P2kDGacGnZDgTqBCkQMTepWgwuDGe0Gn2Gk6R7tyabz1ToW3piMbXcn75
            O1B2QNVArGajAXApO7xzOb5nFh7ajMdBG3mzF6OnSQW/ju1IaUluQzqOKj3s
            kE01bbOMfwCIqbQ6R13daY9kj/pqEs+3FMvsNDnMtj0kaPL0M9D3R2l3++Gr
            fXe334EvMA6a0ki9sz7LHfkaLMOACKXcflml0g63ZOub9i93GbpUwt033Aed
            LfCVi3Ctyq5zmg0sfeXYL3pKPts7+9VpOX3bwXJMwO+l6uCSrrtGps0H+prG
            57cLUJ1zGNDn+3uuC9ET9yjI3E4RCeuJy/p8yODGh/wxP/KKoqKR8LnMevVX
            f+LuTxvjtifL7q+/R3Xn2nKy5C1Gzd4TiW2QJwoWMbHSPKq0h73fbR9I2wyc
            eisj2+hg39F+Z4xJJo2y9y1fqrvczUsGb9RsMZsXQNvTBAZz+wPGxzfx/Y3k
            OKJXzOY/0TavSWhKdsu+rY9v6+NbZ/4JbBMwYNEgYFKh3Ow7ycP3dzy93/0M
            p+zLJaN09u7KFO+kX+fnhhOcp5xHlx2Cl3xCBCTO74s3J+3B+gt9zGhXRqvS
            tvl2RUQuiXPLctwzJYGH6JSIv8eDdT/vMkBY8vfm/ByyKY15Ln+feyf4Sbln
            uDrhiDsle6ah0ZYZiA7LtPNgjBDVu2TvR5isNe+yUjUbdtYJnik4xhFpqC6D
            1Z6yp+vsZ9jzfs8J+wVUBz5sl4u/L5eazd0rYpUTTRbNZ7MLdoK5Nb+Kaamz
            rjhO00luuLllXIAL160Xq9XeWcwgg7eN0T0pt7v2uwcspi8R35Heo6coc8Nk
            +ZEWEvLyl4r4TY7WOfq7YV90s8+gHRj2iOQtKN/ObWcU6fXUzCYU5UE7mwwC
            5dtltrFay0S4ChwDFCO/Uq+sZ948kczeTPYsOLyOsL936ZF7oqFBJx1Fy5jt
            S1lsXzX6glAvgt0vG4lmfHu4opfNMhX/zp9+yF5xysexkxlb5BOmq4v2uxMt
            O8pLxONQ+Yez+Lof5hOCXoREvOuYJerxvtl7csu673Yf+qJcLtLu4FW22Dvf
            d9m6769VWTf9kGcEkMUBiMTF7Gu3vioUOs0ysUb9rs/Z944xUeWtdlLib+/S
            7lcFA1Uez/32cRkrZHnM0EAB57HK7qfRFhH75O0LQ0kmqDbwk8Yjx/3cL+6Z
            uPGgrVF0pmLfa1H3WlCuAYLCF/oeg2aj5R3oEnqxNsoDCQtBn2JLiqeiLzTp
            QNkcOcXFLpXM0sWta/Zz11T8TtAuYqoYXUD2U+JJVihNOrRO3GG6LAZIlnzS
            l96c6gqYM/MV6pRvebf5rcpDedfVQumq63zVxXU1P/x3XWpL9c8dy2rzWpds
            Brxb2+5YOIW6lipbOtlpkxZxajeIP3dol7wPGfl0/x5U13Jsr3sqMRutr4bx
            CoVziOcJR7BufnfGHkOj1iDIhq2LH6CtIsvwHWNaOclwcXbptEdPSfnrtDal
            s/PynjS/qJYZX4rzKaxo9qPXhm2t2phBpykDVwHNN2np8aDrZFMKjhNwt4kH
            w3zMQpmIM5uXYnZ6RH+0wWzUVRyWXZFjCowX3xeoWpByjFhwYodM6cX9TTNg
            fhwzOmFPF09BjGA++JdyyL6ettQyzJ7iC2lfBYwAONLcHGgbNCqo8RVML+QA
            y/iNu+0RSjO6FAzQcKGb/8ctD2P74kVAP7GPpLnUT+qWiR+mzTVjn3RvOlnG
            XHk9n7v86ZTVj8HwGR2D+4zngvpejQu7jrwOcazmYrfNd4x3P2ao255DMWUj
            9ji4dcWTcWb/jn0WKeSqOBPcU6mBR+iecVycpx6YOqdIhRLlACuOVIPT76k9
            ymujjPl5peddZAB8xVuhssxLP0vYf1TjPSiJpJ9AvXYugtNkP2EnewzTrtf2
            PYz7OS2ZLU5c3XEttr0s9hk2Pb2GFF9G+tLT4sRg0/R4yk+sSody/yZtpPgl
            h3zxGBfBEYZh1siHgQ0cO6YBdWGesgnqgLnbZTe3743eLRpvPOw+0lK1ZtEB
            bI98aaXebJpc5rZhp50wY1mTMunyEfNhve2vL9pdcwyLftenfE9rDVYnf9Ne
            usx43rEXbh/e3Ydbp0XeNs42eN6qKU0sJgNNUUoyP019k5xkM8EyiYKqX2mi
            nzMzdkmb5usX3OyKBSR7K/KUpVxrFvkiOloISWe626IL/t2WfRdf35F+nZIr
            4pnaiPP1zt91RpeqjZm2ELS5lt3rpD+g7C4riE5na1ltLav8C7HZDN/xe0ZB
            SMlga3RZuEmqq+kd93KMxi9nwlZq7Vqh7KG5tn2YnPxtC1OVxBBJ7ykTkWP+
            y1NxePDWu5vvVj3Em+3379Smv9sMl3ZAnLI86L20+zvSpTW8v+O6V/Angx7C
            2y7fEmPRXjKGwdg6ex4d5QkM5rHpBdpj415+2xetb4bxzR7jxQGqe+4xYoy/
            eIJeznmrZpfu5ZLGwO/xEuZf/iz3b2bHmOf7vmuvnEW4LsnGV7Lo6mTTv+j+
            IoPmZj5UoFE63w3sd9KAnhI8RRwI6iezIeJsHLaucuYRfw742WnbS1jHtZTf
            lIQinu80JhKETn55JICsPl/xrNqzswYrF5gddD+L9sydMuDvbftj0XYd9685
            Hv2amuP2oslecyzaBvueiJ97l/Kce6/ftIz8BjBNjEkEEijJdjpG7UlyilYe
            lH+yzAuvuNlbpyze1GwA19NuxW8eoEhcjTVxV7ttexV/CG2d9dOe7/Y1IsTx
            h/HytGvQsxItFkGWX0SXbAvzfya69Z7UMSzFoxjycyHWpP1WfT3j+U9ZOsnX
            M8a94LM7jpdfNqe0J1/vuBAHxkIjr9DftMQJqHAyyHbKkhHts1AFkwFdgPvp
            HZdZH+0hFBAUEPb1jPbDh+lC9U3NjbK3+32hT7V4YcU3KORo2M9nmXztMnWX
            ocdoGk4yUC3QsrFhntjOrCY/4pxpXiW6s/mdYtgpWvyc98RdULxsXYg3GSNo
            VpMNUS8397mlj5m8YjadMhUao6qtuw2r57P+u96cGQYJ53eBx48+n/2tfycN
            y/HNyRQrl6wR+Uw+9U4+fwx2Zl7ofF9IDpyM/hmtHxHfBLXJoLmXUg6dplpn
            D1LmIOlD5m6ZZt16/tvnA9Cx+HdckKvPuHDWMmkYynhdK6400F1l0EsvS8ay
            6OdSqKFlGIgzRowqM7oBdfvEGUXCwMjRFk8auRQmhwbHAtYrU9pOE3a6Arum
            WHIK0FbVnnOJsXDpFA8qK4MTVp2gqw5nVzxzjORAu/XHM0+dPOlNRjUCJmns
            27kWhbGOMaP4LrqYRErTUAHETkcvcSryypSHA9CjxcJcgY5EG3iJeR7mF16c
            9YOaJ7vO/bwXo+PtHvj+ZFTeAkbMfLef5fl8PMqjO2CN2d/C+Myz7t/a66Dj
            wSPkdQKV6DllGKJr62ziFwppF9L0NJSc9C+e0o/svpYx9z2fA1o6+f+fqvvE
            O3k5e+0Ie69+6RvnRhZfontauVrdp3On7Ot23SeNbQlBurXBUN1uzv27P+pQ
            ncce+0edd3/bV38ZKuquq7j++FZ1lZ/q+qF/Tf1r/5v+3d/87/qmes4f6jnv
            enasDG9lImM+ve7dkXc972/4+zGu8x5Xvb7qqT/X06t2gOJ3/J+q839bj5xK
            OmEHc3MIZpSgiDYGM5gd/rJs8E54et+DrnL3O67X/fz3c//ZL+kP6q6TOLnG
            xETNQWEmGumMV/08g058vJf8WP4iitHgBt+R15U6W/6PL73YzjLWNh/ZmvkL
            bB5sxyFXEErXXv2+9wnbEIzYMR9MJmq/g8UlcptfwSGgvRRlPewTA89dsmIA
            WT/JwhB3XUCO1SVpijxTT9kelh2nSsshCb8ANfvc76bhmhu+sC8bzstHjG2l
            HOMo41VepxClXnX0Zx1Adcngo0KZF3yL7tAZ6uP78Ph+PL+f7z5MjGL3IQAr
            DZmA73qK1TPmo549Fs6rfWfjub/N5V99e+5vG79zTL1EX32Lo5Wt/9MydVEW
            QXie7NuR9jpmi5NQMnDgo9x//L58vd97w2scwM+Eg4zs1HWmqGQLxAW0jVjV
            D2XsJV5ow2sc53WOsWkumjsyhF0sihu1zwkFu4yrQmRMrlvKuEGdmuqlMlm4
            +AAXHsIMre57WbJOut2D3qIPWTDbct7TjolB7akGoW0WGXHGS6X1VTeb+0aa
            mpEgjCf2jEzLCB+uxfd76sKn8Bq9o92kPOh07AeNSM7SKVOlmPDRJzcYKzOw
            bfnbWb/iiIkx2NCX9FO/ctNavPqVdr/S7ley8/PqV9z9iuoXTnY6t/yPsGTa
            3EXzEzCYIngWGWFi1RuuzHkWi6nupWA3Gk6G4Iu2h+wn7Xlzz9VsOZv8VKKB
            uS75I+OtYH/Ipoz2v0bvK5VYObFJlumIKWO8f4MnGYwxdzIh2a4PbPvo+zf1
            XCrLXD23LqqAnm3XKX0YzSuX/P4YJS3fvxm7iLwc4xeY3XeXBz71mT6DL2fc
            BJDEanPKv6WzfpCPfXSNpVLGzf145IuZFGi7zH7Sk4PBeDgHzH5QOuWjFDIx
            Khr1YYFWBu/frJvcIglba2/rBUATblrxFVuO1Cjpcwl4Mp1d+Z4nKR/3ODoj
            S4IfZgDiMBdz2lGTWtneabpnTAaN6rCXNI/m49KZGMJR+Ei36JUkp6YlCP0w
            aJcamNt2LFov0uqoBcmX6Y1eqEtCk/YsrXDHJZ586mULK58Tzg/biI/3YIf6
            0dJh0rMT1NNJSUXDGgbGpe2HxSxg/FgamMlW2ynag2TwvhYFGxrD4gqEGRnD
            0TFeC325NS9KLWFz0Oc1pj8Vz8VjcWpNEeCHdpGBAkXu//s5Y82oHxYbm/fM
            1VdlOMBYiIOeIbKTqzteZbB+BMZc6i4M0IiSw9C2Sbj8mPjNxBiO4fRi53mh
            T/OZwBIlrafpzxnJkyZopnczvSE6M06dw6WMIhfA2D6LjLzhFeSoMBDjlI88
            5Wsnwzs/4gYCIINjetmZ0VaM/HNgyO9aFL+QchfyhanyDBBW7fu47/2+P+zc
            uWr3so2oZntInZTskCx0A81BL/SpCd6na+hKOYTDbK/lmITwIL1iWd1eNAoW
            RjaBbdMyqZtND3pu12hXBy5S76eVT/s5oL5db1ugZNe26800BldcZfs+7nhN
            p7d4zLcNFaaob1/e9PhdAWnu3+Xxu1nc8soAEIzSJ/uhq9g88Qhig5EfcnfM
            ScFdwMXcJS9kFkvJq7c9U1BuVEcbx6Jokf6kMfJFe63qTtPoHPu7Zx15XCHK
            0+4kbXj0Xf5kXM47DhDVKdIPytrEncnaAv2D3VwVvwPYN/xTX+92KOWWaTLO
            7iynNImsc+09xfhCjDf36DPjmHnTF9Kr0OSlfLbrdF3l3bEwf7Tet3OCo/SI
            sTS3DBFEFUHW0H46bA0WCOjlGWTdO+l60A/gkPG9Br8bE+c/7O9atjn53Vxw
            /Beg4t13/AZIki9MmYxzrin39BfFRmNMBusjKBiJdSbOMWBGo8wVzxrnQffU
            OyoN4wkmhb7hDAKlNMdY18joK57JwSh1pIEmzinvHQl/2vGyEb/jv5A4V4oZ
            GjN684EhrcL7qL1QGVe8bvySBmVotClWKp3sQipp4I//Y/hzwgTODda149QA
            vnl/2/3xj3bYByCUE/12FcxV4/WYVwdPRkms5E0MGulTKfgDTYtimal497uI
            o09brtk6pVGtRMKqEGkjt5pMJomWzLqNYPDmhdxFfYuLp+Lglmv0z+eMT8MT
            FcwdyOSTF9MnAQ/XJgeARnyjGEnAInecvzdMPdbRwhvGZuDdwPxe4Dh13imC
            bkwTQKVBpc2aYtUxJpNs4mSKJ9tyb7HfBgOhY+NeVLf1wNjajqbfjJNAkhmQ
            xOIHt2y2ykkJXVGfb0DdO94X4xhRZdiHbHOZ/1e22Pw+DIXwwr4Ziv9Au2TJ
            HrDSdd8L18YV7jbsuemJ9EyWCudxP/9N+4e1jyls3nRWtA/xykLM2EGK7Vl2
            HHPu0eJf8lGdV+JHxpDxildlfWRcqk0LNMoazTDX5lOGHOJDGarXrjQole4p
            Kv8pA7evwHhylRoXesphB4jIoD6UMSJO8IK5BmdxwNy2k2/kGdAH/D4oT8Am
            CnlaLEPFqUgWQ4FnjFIWrWMVfUeSpRE/UGs/0i7blPjckTapp83F/ZvfulOm
            BPIN1XPGG83oW6WhoOKFVtVTqNxcVmeWvNN+C4ko3jbWPdCu12nctIdkPWaj
            oDnib8Z10vgYy5j2BNiXBOuMoRu8xcNHp2Wz68AzSEYL3k1OMyj/9hukSq/q
            PFyEXf9hW7R7ub8Hz0J/82pRYiVHw6mv5D3jkLuaU9xhtnHEWblu1HWf4vlI
            4dh6MWiRbAT8Hg895LD+oo1B3c4Z5DdA15l7HfibfcuMXGu+y+5eC3BDsnk2
            AM7F/WHNqSPbNEnYNMeYZo98brvkcxqtAeJMCL8Nu2JbBssybuXabce8aZ90
            0zR5XzdtdNNK3zTOTSPdtM5NG9001otm+qKtVlzzKTfq87TcFft93fXcNBPm
            S3s3Mb4zaFye33Bd8pumWw0aot0q+SXRvkHRVLOkolv/YZm3v/q7QPkwm9zx
            8k+kZFpxagk3aNkzXQZcxX5fzWKKasrCSq4Z3+DKjrFFdQ3adutSrEXAwyn9
            mPnXknAHx2p1OPkWgwQDXHdu28FW8w+n7R1zVhzTW2zzXS/hD+v11Lns/Ba0
            +Qs5hLR97OfGJcpoSd2nY4Q18EjZ8kPoStsWpZK5wEBFxb6VvYJsF6L4SPAO
            l2gLnKnbRoN0BDZvaUAU9JfMPoS2520yUkK0fCyjv3mBcVq7o+3r2nFZGUPn
            WF2xvhx17vhuyPaQEcbpt7/UJ/aZEdgqWAj80fZiuDcsZ54B9ilZbgfRBaQV
            iZr6tHdYBxAFn2Ppzd7lSCEReFDJkgPD+L/tLYzfOWqXjoLxhxt1FoqpVe5Y
            xwRMoVEuxvhlnHvG4Lv9cSweOuOTM/498VMESXfRGoPyjFRruYAiFO+KmL7R
            f4Ucx0l7qNPStu84ZURIySnmf799O1k/jdS3H4Ccg8gX0qa3MJ4r7fnoxyTc
            xdjtJBBt/sBeOwXCEyz04NZOkguTe5mRSAtw8uiiFwze9w37D+m9MjlS5skp
            6+c9B7BLg+1Le5m2eRgjg4hzrNR/854kKe+VbeSmt+g2Gm1szJ+SHGOSoq25
            XnrUOC0mvY6JPDn2vUhhjDpa3HfqxWlXNpUjxddwgp/m82zPLQ+kTGCkUQyM
            V0TqPksWnXmw9JtBKICruGadHvjL1oweqZmx3p3JDkiT0+570xGkd4qXYEkw
            hEbtqmNw3Z3VYQL8YbSRzW3h83b78B5Wj561/eySDSvIRPQv7H6hTtoqq1/r
            8a36VNdtt059xCzK2LNzg4HExXmQfYnoawpDTmwWTg61tLIPd7ZO3uiSPppk
            qaABhMIdfeBLM3/mS9pW9KsbLyXdB3ijMqj35l4hP4v7qbkvisM79V0hVDQ/
            pUDrAum/gHYYRhXzF64oH3fuXdlMYW8v5WSx/0uWTtOYstetMthIGZk+FOfV
            AzE+n9Luqhgs4rs2yRj99bc/g5I8hg0vdWUOEcsH4O82G2Gw8T7yJFM+LEYH
            IxUh+yZuDDqUARUp0+kr1iNAy19/RxAUpDACuaojmvuzYlwIdvpXbEU6HZP3
            6IVneft/yL+f0IVWbpQQD9ImQCm6+sOuhIMpocvefg+SuD5bXJodyy+Qcugn
            Y/nQjkGR83mV7WpgXMWgvDKqi+Y0gKM434n3+QqSBZ8yYt2+hdFs8a6546Lv
            vACAgRbTMh6yY+/bNlS+qYxDNff7w96Pfd/v79a+Vnufp10ToJza2fHYe7Ny
            49jf73oAQIvhe7u2abl1E62Zj3euK4cxg0rMa5qtQ1D4E8FwxVDUUEHSM36V
            6FIpUQDv7HnacZ0scgTtyB7PZe/l7bl8NPA8u7z8yw4sp7qf3/XIgtrq0fNX
            u87anfJ7XrLnUJ4vBSc+FHuE99PC3ybGzVFclFNznrjnO2OE2JiszN2Xkw7k
            OX3XHb/rfowh/mYM8TdjiI8xxO+523NUv+duz6mWhmtADmz71eC3u30q5t5b
            tYE2iqGM+bBbMT6oU0Zuce5Z7UUuW7TYsX34QQSCpgSexecMn04ylfyq/Od8
            wcxgGwUcFRwTxcvd+6nTHwZtCq4u4993jg/RhwAUiid4bFrnvt458RiTiLZZ
            EtPRPlvxjMpx7HV3e5aFkDrjkY91n705zf41RIsfe+15SMwWGUO1uDNWdmFu
            aGUV6iNemcUUEw1FGzR/mi8/6KT24Vu46RoKxySrIs86TQfUDsURwGmyWOmy
            w7p/1zddSPskplmzvB/bPxn835WvIRvZdLXbb4bbk3Uc5tF83HkkKVgibGGM
            BcDtSqNE9oukMGNR+h1/OyqZMaaGCZDwjOSR4iHTNAk0JW1cZZl34xD+J5tN
            7xXNv0txwxJ9ekO9Y6DttkJi3MsT8MMrdrv/qV3Ru6S3LemDYgopGqE7FUup
            yzlcdpJqv0oMh76F3YdD+s/Xt8r1sL+tlGeFd1/FFwTR583lr9jRjN38c+xo
            p9jRzmJHa37o7Wy2cuumzTxzK7TzNc+0kav+OF7+9IfyfbCfSfGnvXxLXMUc
            yWDAr/h6zhwMDd8rdovgCCVGftNRH7HEZhJ11l7+QdYI4w0z0YL6eQ5G/FF+
            k5YP00EAyOndlWgxMBrRr+wa0ml2hYUwEHg8WixnZ7Lf47aLzOYTurRfg3zl
            6rmWxbDdcTPw7lKsjmPbCe445HoXv95l1BUdtbjzBC3a6Zt6vuNpj27xeoFw
            GTuzhGU5T8xOdcfDzO86lfOky4/LKfzo+Si/+yBk/Shfzl3+BHK/++J1fj/b
            tdwoqiP4z3HEeC21tfOpKhZq+ywDvus91or6m/TubTTpG68ZVwByybTbTbTP
            v/bYH2P1r7ld7q+/GyaM/kH2jrnelI/N+my2Upaz6tUn2uo+x05Nv2ht+4YC
            irBjWVt5/1megsqP8nmX3/07vtbC96/y5T3Hc2iOXSJ1HBSXnb5l/bYLZYgl
            +rIcRX5WTmkg3H4ed44FHjbAk7l/K8o8NZx9BdnPKqY0jpYz22BRxpyDYzKD
            6JFvG+B5HC+/78D4PGM6xqzIYbidz9CJ1vYUVdAHv4BvWowtQr6ZcfgFn/Hb
            ZTsXHMMNrwvP3DWG4toz9xLqDQ9YNIm7W+nizY5gPmTZ8vi8+uW8YhIytn/y
            o995zzLOLKUEEiJRbxOi/FnlD0ge5dh0OaNTfflfJtp0gxI+mvnbEr95+k4o
            5vqjXKcPp+Ebj+76Rx6BvK+XYnAHOlK87BdiydVibhNUMeZMuXMWpx1Xh1G5
            5ItNNl55FOuGzeCfEmDULd84LKYYzwN5RcWgv/W49E/pzFWcwen1VcWbs5Vm
            fLoC/ucle4ZC+ZO3SAR0sb/1vj3Fib8mr8tW2vbjC/JDLuYLTnlFlCxyBJOD
            Dy97ewbcaZQfFLMtA61DeoT7opt/uMXh54pv+3z5VdHqVzGr7zgSmJBs31Zs
            GPkVRrtvy/IZNvquF+n56FVHnUfrYdt3yQna4pjFBoSi+GUgKV0CqmbgGp4f
            DKorT02W/RUzTCkrbor3fa+ScR87XjHjru93zp41CSsjYRVRPHm9AYJRO2A2
            +akvxmCg60W+DQraIT+EIKe6abiW3+mcMjbzIqy2MuJKZIthbHqMir/Kfk0K
            c5hoq2BvUi7JjK7si9VtfHdK97oQJtT9e9DihbKvdufzozevYkgs8d39zkNn
            tL5iZVTbMysrpgQT9L7aljHYYry9YrLQSpe6XYcrTXn9gs0154L1ACY21eMp
            y2Z8HNxzPDtXzrMsgHrjNSXLiUPTkARcnTJ9dYDq2ghJPkoMpUyBAOZvmU0L
            551zG5zFFqANQOJsHIEx+dc+hz72mArxFsNoRPOTr5I5g+Xtisev6P+NdO/2
            qc19je92XHnp+WjQeMgPIERFF6/Hqz36F6QEmuH7+3TwS/q0qH2n71xJtNtm
            DJJQ32vjykpBvqEYM/2pJZdhvgvZAlEW5EMyOE1PHkCWEILR1kzv91HusHKM
            gbFlhTgMRX4Q955nqlnwUa8zcO/fz/0vm6Yh+cVRZLFhe/J4tceEWII/WE/q
            2CSaJY7D9/eZ4z6fXjkltCff58G7O344z6rCRdJOXO/D8XoHIHY/kz0kdTic
            h3p18kLHxFEat16/tGq+k4F2JYQr9C+6YWahIUajk5LouvOGtxwD7vrtp3/7
            48cawPG5K5wS3G/b2J2nq6Y7vrjELoDApsuoFuNxHPf7Xf5ivMtgCk7yRTt/
            IX/7ueOA559/33zddccf2nEkr93ftXN+nzuuAG1+wgznLeeQ6LiZL7Hc2DBH
            bsuXE7OlKX4o5ivrbI4I/nhZPNbD4iRkV6doeovjGp3psNphNr9uHd85ZgLj
            DsXAJKjKybhzudD/THEfGF+Q+1i/01vuqfiGO88uY1rqPfNn7FiQQXSP+abQ
            Js/v/PRO+t7zeNW3bRfcWIoa0FM+2X4n/Z4VL0j1Up/HPa8cjUn2jYf2PvAT
            Zdi097xjgDC+AvMzPvsoX7YdQ4P1cxArMJ57mfXOO+mN9mFsE9BX/UWLTNFB
            lGUX7D7sYsbCBPH4yHnF2Crr3HlhD/lVKedTlLKCIQyKHMe4p0HUnZQcWE5V
            +lMeL5qNZyG0sXoDn5vDtR6yAfmLOuXFxOmipTsdXaRLavJbBr06lFeZ+lHJ
            KYymVbzrSxQOacFJO2VQh2yLgQqePD7HiLmji3i7Au0SaPxXQYOg/8yuSzs6
            W19ASKrNGSKNWTKq4oeenjHpzfRUdOaS8VWmnw74rI++9/7Z997+ue/lq+/k
            Jz/ietB/uYNGbTuPChk6D8rysDNEf1zGq7Y8yG74nYtiRDe6y6M4htzGs5bH
            tBivfH4Otk8jHj7jTlUMHyd7x0NZFe2eZXE4u+pkpFHlk6JPXxQ4uOlubOhZ
            pQsj6GEYX+V+sjzHXrn+Rk9gQNBXtk2RcQt0h5SN6mRgjZ2XyzO+GlXSjjpw
            xhvD3LVotssGdhbXlT77FkOnveJJSr4vOEBbQYyW/XUFuPSwIFOfuaeZIFf4
            apKhJnOz5Q0kxan2qLRtfueMNp1Klj0uwHsTzzA5pjvHIxOt8Pl17jhEYCXu
            74RXqfCiidc7J6jjGtPE684nTZ7s/oayEeWoAEXMZ4VRzhnne9MWgtey2ZPs
            jDYAS7mok8VjmpdyU9N/cBL0pmk4GnR7Tz0u4kNQNPGV5xTnXeVP0fWCPQyQ
            K7sVaYcNlrDiFLdM02lcwN8WI5aBMQE1mnRG6rtTnj/CfelzdhnsrSY/venc
            /Z30B3Xt3Jd8xhjRzMBkukowEFM0rCvHxxwW+qqPcTbGwYju2jGow2DOJ9Kd
            gOHezimD3IUmH23D2cFkDdW/4ckTfhTievSLEZE1DsbteawVvXOlM472fede
            YQy9Zfo3rgvjEBGA3DwQ4xe1PT7Wc7pVP2AW+URQD1jXtvpyz7Ir/1qW+YxK
            /+vvTofKbrEoBaOWxedSeBz0hf2+DsNnSp3x2ssWm4BxdUkzT55BiXXp7ye6
            uB5vnCI77R221904SvsV9DcDkJYgX2LJ073FGH7FAOb4mftSsdEtojpz/fV7
            Tv3GvUezd9TP3ueNcX4VViMxTkwdinW9aZI7V+6daxpARDqivvO6lE1H9Z1z
            WikVZbuxaZrTaJi5+4U5XD7/9fc46RPyznd+x2uweJIgCdPbJ1hxqBie3HRv
            XTJHi4nNnVQBVOinGuLWD4MyVj2tMseCbPSV/kthdkGb102rEz84+fYarqdd
            gnzxk8U6vHXGGwYSWjc9m/LrNtqrKleHI63lQDeX02w2yJHQOly8D2nwJX28
            Ey0iv6LhFEPA8mMK1r78jrctAPvUJBUy+1YpX8JD3sAYKMlf2x7+El4neepv
            O5pY8tw6yiZDxJLiWHceceYYypRPPWNJ7phgpOeO685BL515yrtPoLXHk+Zq
            O+f0i+5Lttdu2q4cJnNizpMPWit+0lqRPE5ijmnjUYLRfKdsYV2rFnMmvHTl
            9Nt+xW4B5Zol48GOvffVKVn+1pd4Gu8n0S3ov/qr+IdcT+XHBb8q+4kWGNf0
            jkElLbL5G+SdF57+ujfNO59jjxaHSzBLTKrl/CRAj4ptYTbEOMvn2vbW8o2h
            3uimWavxSR3z1qQrF/+f/J6jeRq9yd9BsTRblVw0Wz4ZWqyQP4tml5+55msJ
            75ybTnL397Rt09yd9UW3S76ed+yvWzRCWMrYn763G6cR+XGt1nmWDxod317H
            e35k/3fYuqdi96fyOxh805YZtHkGzcdzng3/7ngPih/BvuI899tGfc1f2xy0
            N4mMYI9pSOZnLLsG0EB945DBvEOK9RpTeMS4pw1fk9FJFvyl/8sLF6U33HQ7
            5zrpGxyn9aInXjjrjT8sDu44LfLQ5uPiHTcOoypvvvQ8+tZ/71xZh8Fg5pAE
            3k01Ps4n9jGjw5gN+c55WCifI9KtNIcoPt4x8zQ/4MIZYcX2qVh1k/kxqcZh
            8bslt2KiAqonFNemVdm4fMYgJF89d37QfX/mi8iYcf8uxfzr8hsxOWXdcQC7
            cm4s5Ym/PKUr4Y5RyHNrbHUzW8Qdp5SxCuU6cMfHw5DbsHiktH/3MRL7WxxX
            ozt9DWnWlSYzyuF3VJzy7jtoDLyRbujc/tP0bOtPnRVjsfuolFA/1gmeJPxU
            Z5y/r3NJDwY8dq9fiNcr5gslkoqNw/NE9BUZEMYpxiqvlPEFYLyh2EYXCfL7
            N8vRJA3z0RZ1z6nRbLnqvdnWkV6oKUgvrd+0FkL7gK+NNpdNahH6UlJ+nRZD
            NzeWA2XiGXMHxN+indp8Pm9Enoo5VyUYkGsP5rsl5uyKB/1SMXGj7Vzxl/kr
            0/OC9rYn8+gexfwBmd/rePTtor8CBRRdezCcDHJj9/ScmclyULD8GZyu4HWc
            2rA5HaEM7bvsLF/GoUhtuKd4X3H5/CXbKMKDpWBLssS3HI2H4lDQvFLXk9yQ
            q7QBK4ROU7EUaeG940TQpjgt0h8c813HWR/ve/LaAYURsR9lT6c4SEedwa5n
            6FNrqtjy8hYE/ZKoKqnMw3koLsPRpPaLzJPlygr0EV/kDT3wZmUMPtp4HzRi
            C/LFYxnGfqiinaivakSm6BfzMin3OutAtbc/97j92fnMeHBaCYq2z/2MWgvg
            rkHcDD68MQwdy53B/Afq/k108/LpZRwV0WG2lqCz5F+O9QWgWIEi30PxxnqT
            vbvFUzzbGS0JGqFUUry3qNxzpKvK1tmRAWMOSKwY+nKurJyRXs9BR4EoNxtO
            gk5dLTb5TM7ycedD8iT266SbHeW+jCC+ZQOHdJCyiWNcEZ2pci536wnXePdf
            saNba4KhXYnYczSapDL2TRBPH5XbZOekfY0h9sXzqPkk7XqPgbaR1VsMPOZc
            zcwbSQlXXsntcYU9rjLiko4Ob2YgPewklAE8jG6ULp9OjJeqfJAZYEGVm2Ew
            CCugjazvsNOK1hhwnnazqdu64XnTc8B7xopw5wIKjcnRloT2pZT5AFdhZzfy
            EX+a89e59sQnhRGX1D/02emMtHLnHatKduBk9+8VX9Rjvfb89849PqibPgNT
            BPZtQ5pofvS+f64zBQMgAJQoAfO9KAPVfEesR9d6MIWBnn3vB+xvxY8RbD2Y
            Uv087nasfeZZsPiIskvxhZKdFRsNOKxf1N/xHDNWjKcDQ1B+Pzs/tERpq7IN
            RtB3xfQLdz94RmQnAM4qUCl/at+vd5+Yyft91oCvu/E4pZHL5vlk/i75lV9+
            XuG9f4N/799Mmn287fGrtGcWSEK4DBDDAyrWTpI9TNlUNpprmg/OlCTF18Q8
            81V0tcV3DeQVDb/JlixdTgHKaFiC33Vu+xSKbUuTDYqNjeHVTrZquuBDuHfo
            3HG8ceONdK2RGDnVfKny7C8fvb6fYwPT7Jl25VnxYYviayTiYoJexadl/npH
            DACc0qx+tglatMs/H3SM5k4x4u8YqhjbGanH9f5c0n2gYa97+gyQSS1oOz32
            6ONe52K3I5heRN+5qBim2GfXibmKYdteilZp2+aS0Hx7vuWtQxhPPfh9tqgy
            +Tpf7e7nOJjPwH5zjJzCWWgLcjJjie2AToFN7PTJZA4pIAtMcF+4JvuWOZVk
            Z6C1wTvTk3bjaRY1K1H6m8PvGFR8ntq14l5HLIzy9YK4WS/Y296w99x5vOgb
            Prr5mknvdoBur/Q6kP/F4l45s+Eshpw66Yf5qJ+2Ur/UH9arzqR4p5jCcwFp
            Gt+djHZ+rVM/eb4e94zJfj7uM2GKzQM5SY61XpwD9UNnuaKvrb3Ob02U6fF9
            MZh7gl7T+Wd8VdSlfa6oKsNN8vfMgV5LmP32tbgU1gqQTdYaDBAR+kpsYxYh
            UfnQMWcKeEz5OrEdF66eTN8snpzv6/V+nxXBJQ5h5CG40phzGxjmpB8cbefd
            GmEw9j2Zi3PWms+qgIKKZOrNDh5UY6YbCnE4SLJAe7lAp/nlCultGoIGGjuo
            7s5zpnhbnWQQ8U1v2uk0+Xisp4u/rqdiFzSDH2EpVEC3+BcdkNf0jC6Rho2M
            5CW9BX16rqJ2KvdyruRxzNdQjoCSO22/klOyW9Sf/HO/85BynXC+J2M7yxDo
            BVtATNNyBNSOc+qvYoPwOXVmNzwTvEkX7Uz0LGz8hf3SyKc/y2GhWqYINa7j
            hu3bTmzxGMn/dMNf5T4Pi4lqvc5ca4Kd56QckOOyfRfr975jtgdPA2tS7LL5
            uOP+Se6192GZZ77PkGB5l6FYot3gs70FBrnghGrO9rOCs5HxfSrMexnneOsX
            CnMqlBinOWlY/qd1mPaARm6CK4wxfAXB7QDaP24ZFHk/8rp+5xdhWyOr/5H5
            jCgHxURVy9FFSsuTug45fc0bzlGu5vOnhJNm8xPZFmg76mEVp5z2Q8rt7hZz
            807tV/k72hp62czudd3PgBe1hqJtmCesWX4txpyNG3ZEzFkCJozUe3y9q15R
            2V++I/ideC82OW17DuY6B/PAXJ3mxVPSM+5gc3/9DYy48tYnRtoKNdkUDqKU
            iDWgXS3tLuYkTwg+ALzP6SzX/cmYqJfyXvpmeoBRwNuVSzGSZ+w4h8o3CVg0
            KZc0/zLqC5qeSXEM/ogc6lhDNhtR8S5eeqaD4njmMbRYsG1k0Rbu2rkWaVOz
            7+dR7ljA0mW5hzynY4+Q9usAhrfcRzLxKt90hZrec6l4KTum+sH3jfhqy7Ut
            pZTpIYbJRLrVmwahOHBWYk4FmcFGGZXIzixaoItA5efd7nmq3kqZlTnTvGVM
            UXYwb72AAn0rfwOdNjzNG4l3mRcOdchS16meLb9pu36+X6Z7lMywS/Il+9dF
            vRujApg+0WQEno/oK9Tk1avYRTfd0cik5Lfvx02HHFv+jw27nnloAH4t7nM0
            OmYcFm8D9EB+0jVKqykbiUBvvxYV78JsMsYrL+HwnIt2WZSJ2xe8YQba1q3d
            dgjlsljOtOChHl+paQ+qh7etPGmvcL5ydHAuKyOZ2JkDxxMJeAdFQjg+ZC4Y
            m7eS9+X83zF72E6qzBVYGL/RhW2fFvgtYYCyAnNbejcs7xNzRzGDFE4V0Hph
            3P18gP946TOAuNy9P3L73B8v3Vcn/njrsxgtnTFobh2fo5aymR0dZZuiaRWD
            AFfgSOof+9q5dZroMcs5mc33xHSWb72tdJfMy1vvvCfR9F/atFunlZY/XRmO
            uE5xpez9uUx+a3T/UF2t5k/dI+XTdQDbM64uAOP2mSVNEgII4bh9U3F+FM+C
            tlx8dlg+sR3f0N029nJUITypkv9a2lnK+WhJRTepOZzlF6kWLnnnHVOu90s0
            mOywe7Rcj3SeIjzN82p3G3PLd0FHjw8d2LbjccdtS2R7fh3mB3WfpXvvM4aX
            zgDj/B7JUt+5WKflG693TKbod5462mru39V8xsy2z9naxu37ZDad9pu672PH
            T57MRWC0UmI97A6eKWbYlFj2SpV+LUO2HkH5fndeupO+fhzT2PLaaXuScg26
            8nNegmwbkkw2OefM4zWYhubOP7MU+71R2CWjr2jxIgTGguRuNIGo8vlJpmMh
            T3Jc3kz3vPa7hUcPKBu23oJ6DMY7WGabLJk16ekofZTOfa9vP4x7vSmzYXi7
            4d86AhLjd15N4e3j7Z/Mc1nSGJ2EU5IeuplzOD2gLN8DzlzT7xVwlhlPQPlq
            VA8hXWfshMNiIrx1CMCbpMHr6MyRQ/+Il8+zvNUwf0lw+zWX/UpMob4kipQM
            GWu65fU8y3Vemuf4wzvsjXbrCOR+pFxItiak3Z5lAYeawk0xgszjeTrMF4h0
            c+hvXZXzjGVudg7NE6pb30/MVcmKD9DuHDw3DBCGi/T7YEJP21/N5OPM430x
            9xqT1F3MT8bQYVOUIGOEnJn25CinijvhI+A9M1Vhl3d5utL/+aJAijlahbNZ
            niBfcfvbqMyd6yYzCz9gz7FpXsKcannetj29e/o/Ma6KcnA3q6POdx3M//Cq
            w/2+jtytji6fqSTO47X2U4R+Pm4/jDsvbZIuiMDnnM1sBcKe121TJj+PkyCK
            8h9syBumM5/xgXaYhwlnyLnMWNdneeWO2zoa2Sp1GvY8/NG+6JLf0R/O4u/9
            QreE4/d0ieJc/kCX4Gx/0CX/hi7gfNJvFANjqCj6QjO3g/xrq+QuiqlDH4YV
            OvM7Jx8fPonMTcE+HJt65noWt+OTL6xftnfc2/EyPu07r5R8uNyoEt3TJIG2
            Ma4w15qWjnt+59x++/E98pQoby/jr/gx+6SOMFEL/MohfPdPcHaZXEohb7zs
            kqw9nWuf6TfqpoLAye4LcwmietEvNMn+a9o3Lpr/mkwVAGHc8b5XPvdNz/Ld
            nZMtfuU0u+mq2a955x5iLO2R3uNm3EewEe6VYy1fwgeqOb3zWit4JG1zZpLZ
            yY4DEWjvwdwrjHW0c5kx/nWQrZjb/mTKotrOXi5mVqRuJDM6PF3GZN9hvnk1
            yNb0zlXDdBhACnX5pZiapCDkG0VbWs4VzufOdQyutQUbA+MbVrp6BqaxxhlM
            gjVM4JYZv0o0FxVVvNJEAVQe7b7v/E6MIUmZd5ijvfsiCyjZDIFp6ayzu6sz
            9qTZGYAkTIo9MizTI+0XGG0lkz4adcdnMrsd+XnFDnhwZYM/jGE2zC4FJx9n
            ZaJbN14HD1OYy4R2/9NCXtBnCMResMB31zYEkq2a3bd9n4zHY1oZ3QNHN8I5
            z3w7ZhNdGvM5pbCeZ25h3ub2GWRwl63Dy8HsCQ7FgMFcTcX3HB+2nqx/DLOx
            tLrjHT+GUQqUHDSb3pt5D3QfzZabrnhhmA+v23tOtBxtCaL5wrftO8+YJMxZ
            PGUtaTZC8ZXnaNOMmLvLq42sOCjRcnZyzBSy+T1mP+LMKVfyAPTbZtwy5pGh
            LUygrUi6LDMMbc0L810V0UW0PGs7R4FymKJQnju3QLzQAG0Sc73PJT1rFDtn
            30fq8XmY9zPZ64POYjxIkytaHtJIPcnNVzTqOkDeVHsX1tUV1GS3p6ilfF7k
            x+3+qX3zQqItrOzcwt2Hue9lh65I8pg5zi/H2nfOr8Pi+7bjRfdbTI87d7Cz
            3PDs673XaD1KPzcACIs7sO0vGGVOe7/Y89vwfy2UHhZ1Q16+ZNwtJ/M2YTj0
            vU92W5Pdh33f933b9f3rf4P+Ucd//M/TpWuI9/vH7ye5bPe+J9P7fM9Tl83/
            a3Pm+7sdPfKV02S+Kvzs/jRe/vv7Rwfs/av9r3FMuXjvIQzbAWmUH8tGK3s/
            /34P1FI4Jwx0y79Im4wQX6XOamO9l/Trc+IozdXo8ce5ynsu55F+fD/+0D5+
            nkFx4V39uX6bq5R+Hl/Y7Z8WKuyX79e0+i9Xf3xfLpf/qX/3XvHu573yp39/
            2mtMD/hP7ylY9YqAmjKJUSt7r1b8XOuqKEe/LfCnsXIFtC/Xz3Pt9l47frPX
            2n1ufrOv+/GH9/EP7+sf3v+h/fqHvXivlWv/9bWuv1vrn9e3D+2A0tf/8bW+
            /mdr/d+ey5Cs/hccCYERTl7X1ziDlfsufwbLs/z97y7frkBRE3CUXde+Mmg8
            35/OKQ72aKHxeaT5B5X4+5r3tRS7VrfvL/sejG7S95d9T+8lZQ8q9vy7vzMd
            ijWI9v3z+d1f+iSkmiS/YVOi6YZd/b6Py65g0KpyojMpOnX0+/1qdqU5mfB+
            svc12f09J74A76cf9ve1x7TnhAzKs69vnHG8EKXWjrl/97a6rr/+P6qUFEw= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
