<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e097</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e097</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e097</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>0489_e097_v4200</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57495</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e097_v4200</key>
          <data>
            eNrsvVmS7DiWLPifqyFmIP8wcf9LalU9gLn5jcioqpaWkictL2560kiCIAgc
            nHn49+Mf/hefx7vV/vXvWl5deNyTn2f3GIuP/omuT5c2rrw5uFRDjz+/Qnl8
            yuevnL96/tr56+dvnL95/tb52+fvtT+83P7c+fPnL5y/eP7S+cvnr5y/ev4a
            /3x179Pfxe98z3/4iRe0UPD/3acY0evTn4cz4N3z67/U//Xvd7y4h6lybuD/
            ffH5zS7HHHBcmCKfZ0k5lYjzF/9f/ROi3+w2pYSfeFt92HPAl/PoiucYnoC/
            8lReaeFJ+Ox439zUoqPFxH0X8b7Kr3Bct4nRvnra81/ugb0tvOSMf5xe+jlG
            f77nHOt9yznmc72c4zz9rHPfn+vhtpscy2OtPLpBhxif3Q+nD/3oFZP8/My+
            vpsjiA/mkNdPz+epOu9bXt57+RJ8lSun99vPaKPy34wOd148xd78nb7T+2c5
            q51/vrexKUecX625DwGQkuYZTakulhdw+5QmCHBY1Kd3zVxvn9e4+AtcvIsO
            e2V4vUituv+57bq3L3bopnIVOS6MVbOGb4hvfRIANL+Ei//qfp/orUf3evvC
            +hyAsG3szkTYEF11up/PAtx257FPu/twrPGnP5wngudtx/OafvrDef3AlD1U
            8d/nefxfO3Ov53numgYY8Z/Ovc2q3svz0AQRccapcyy43jezznvoweCl2vno
            ut9n1/kIQ/cn/tM5/uP5ntvO55gHyjSesYaA/Y2vxjP22DqvwQsCfFk84713
            v+cezgNW5o/zmsOrnf24DQgBFnsidv6DVkPL0lt83zy/f33u8+397ZjWe+yC
            st+Q9sc5MSB2UJiac0JYFfz4qoYOcAlMntlXMrx2oGSU6gP3k0acHu6COb2t
            d9+hjg4kkmzfPWUH7sHRep35JQYSVqt+dsEp+scwZup5Y7YSOol//oX11z/g
            8b/8tfLXv9n++veOv/4B3b38czHqz8ekv43V+fPPEbH/8QeI+/XniyAgEAfx
            vOy//nX317+5//r3n8aGuXO2n7gODTD6YvH1/1H/X/X/uv7Tburq1NWl1kut
            V/3VLpDmAWdaiz/6AJgmrH99yvviCwGPQ0+P+LsdvhyQkh79f9T/V/2/rn/1
            p3vZ/l8tslqU57YLooGA/Emocu3zr9x/L6hyLM+oTjg75/rXf+79/Fv3332u
            /cNzIOD3X7r/9Fx+1ue58vtfMwiIBTiF5+HnP3f/oQ//T33oufX51+4/PZee
            95+ei+nzz99/97n+D88Rs/zd39mx/v+vO/b/+12ahyAg5c3t8n937P/pO/b/
            +12ajQ/I4B2f//0dO8Jaovr5/7xdeviA/9lO8N8Q/j+B2f8Ei4DiQm7Q/v3A
            2u/rP7CE67mO++8HVHA9fV3/wEKJIQgCShY/9tPmZ625k36u/xdr6f/vWv7T
            Wv4d3vh9/fda/t2+51r+3b7G9fh3e5Xr90978d2CgJrsK8XB82MT5PKPoNcl
            ClU3jxhrEqUYcapWJJ+TW4Zkb5JuknYglLB9PfKTyejuS4TX9XyEued/8N//
            iiTQz3Ctt/Q9E+lePRK+ZBxqGqLUC3aGddJZtfkiotSRYDK+RctPG5crRso3
            ufWjoPjdxgP5pqPAcPiIv2sTEgRQ9TO9w7LkX200OsxCvaMbphFqydYlrjg0
            0hnfp8WxPxLwz9ekUuvLfqhhAtpoRz3y3Sa7Z+v6xLYMp02NeP9PmzJmLpzk
            0dDGm7zq469+6oq5q01/n3X7qYC6nzZtRHt2AoxrHtXG/6tNj19t1jpj5gT9
            tBmQocdt81T7vZ5fbWaL0cY8MeZtfQICv8eMX2ncMWMO1Y//PT/kuqSzAUj4
            dMYzdhtaeK3Su9vUmT0BXGH7SjOxTdoPd7b0RO0u/LzDPXWCogMSCtYpdZuX
            +Gt+nSO4CwJ6StQiqn0mMzjeA/rf7f2q7bl9zsf6TL++zQU/9dTT0YXb9m35
            dxsyDv628dX6KfVXm7SBx28bIHlb+/zri6f72mcuv3En7stG5ddj0Nt+91pc
            7PoCoGi39+imJWnpZ66pW+qfr+wHEvJ05auf1rlTODoM8p32rv57tnqcpw1m
            dDh71/CufbUZQByd7FNYVKTdVXL9q83cs2gfT6z9M60fYOSv3eTWjjXf3fRG
            awPonV9ttp/VoJerd3Ycds8UBIz0s9M1u2j/BfsO/H3wmvWNWQkGH677ry/2
            +L/96g1YgewPXP9aAe9iFXiqTWgX9n+18TvOpZnDXnzPSIG+v2bOh/30ctuA
            5V5n33/3gzU6ejN8cU62a6r3X7Pigc9602pjXPlARKr+C3/4PKj5ZZukFTjj
            +fUu0KXTD9psZ+9a/lcb4LOfd62zSmRBvtq0FM+70KYlgz6M+btNpwJYkL61
            fwR96/e3j1kBsadNrTbm9XvMEwudqB0VBMyodw0sbTt97t99rndmcQi5CeqH
            6Ql/tdmzpq02ndv3QCvV5z9tXk+d9YX6YG1iB2f4aROeTFzLNkMY79KHr34C
            wJtIn4SLB4PJGcPX2gUBvdoAZ7s+rob+az5DGMYrPg39bG9tyvzVJu4Zt9oY
            XusHr3+Ph9yu2nScxm3z06kT/mmTQUO8+plqUw8m/+6nkE2+/QABaY/sTknv
            06ZmWqyCzB1NXMNfuIHQ8lyZsNSoa8/+bziP0FNcPZhdYIlfSOqz/oc+BxpN
            wSfmKnRblzjjF3YMM80pFXvBFO6jew6/52qtafaTTDR/9NeB+vKfNoClFTVX
            5CPmONzUr37et/ahfrCE/cBk+tUGbDb16OwHcOuS9dN7/MKyYCQn+mGbJEw8
            D5/73Q841mH7LtKKZt9V8q82+OIaLiyFQ9vzTl9rFwFI1d82Ld49kr6+Pab1
            5KU5bD+4ovyaw5gd9UDsB7hi5INP7rcLi4+cvrBmLJgqcaARve4zWxW9jvGv
            f6f33VRAfbWvIYKraKY6wT4RBLX9axSQb6JBxPjBWN3/atMBhv328+bLXaTv
            FRhlOq3krBCOus1cwUB/aHOEzIs5oMpo0bxq/axp/Zjd4gE2+7EHA3Wsf/0b
            jM1Y9YtpD0nrSOsvjyUl97nJvTZy/D6PCW8IJLpZHEZO0WhjwDLRqnmeD9Ks
            giOqf5VcLlO/k9GfOo9V0tkKtSMHteJF2dufNhLspMf/VSBS37XUHJ/f5tDn
            P5z/YU39y3/uv/j3v/2f+/vjxWb/3QFNEqPgfE2uRBDonB3gGPxI8SFmjwX0
            pUNmxb8OUXZMrNMLlpfIR4vbqG8Lbvngew5EvjgLafeQ2gg0oZfdi2Rqg4oA
            USlwo+N2aNEHoCfgWxC8ha2E48T5xPU1clgeEnNLoB/YI5QGJ2TXAMIAegGO
            DiIlRd0JuMsQA3f0g3SkxpBGRMfAO/iLIDbcjtvj5oqp5AjAB42PMccWc90x
            Lwe8ESJAPhYwG2WBzuIc0xIr0C3EBuBgdBPAFpca23Cx7RYbOdVUwJyAiZk+
            dogkHYMYGMtoDmxkiONNcQBJzoQ/AOTENpo7xYn+FzDsAou+2oxr1khdKf0N
            8HTcGOfu+D3pkIHhuxVfjPjNO74Nx4Ej+gHbiu0HMptaesoLSR5iy+wJ+xhs
            TMCM4ivSTA4MlMOyuJmTw6Q6PAemMkF8TlK7tpD8SMmvnPxbknclYUFTSPgr
            +Gv4A+YMKyVMQ+IyY60TJjJF4HJMErg0TN4sCR8AauOAADYaY0DOcMAiNkJ/
            qYSU6gsEgheifdo4x8ck11IOETP1ppx7yhW/G34PXF/AT3sBR5VUPHpBvxpd
            nmBX0WXbqQzcA4Eou6ZCCzb6q3RlgTBTM45oCGkt1V4SuLlU8a0VfWJtU3M9
            AZoTVhozuRNAJoHlS63jGvptc6W2fWov7gNhdR9Sx9xidRJAP3X0DThIHe07
            5glwnfp6U8dc9aem4WYa6B9sVUKvaWDcIB1pNIBjx/0xwIzvNPAOwAzk5ZqA
            +9PEGgHCsYIxzVwwXT0B46eJeZkD12dI4GjSxDdPyKwT67ow7wv4fWFXLDyH
            22lhDSGqptV6Wpj3NVZaeN/CGEE3sDvlBfTP/7WDWvY5QiYzDBv+A176XE/u
            X/8GRO23/Yls3fyNu776CMaVCnbe/30k+3//+z/jv5YBO9j4H6en/55W9AHP
            A5HQmy7xPWeE8ZD3OVvy1XLnbJrnFs7A9H9LBiWeFsW0Mucsq/09404on5aU
            GGLJ5ywYp3rOBMrljkH8S1nnTJDPe5DbQcO4DaiGIGf6vhGsn1y9IL8BE7nu
            QOES/Xjwdogb/A0a0fU7xuroKYcRRv8GqoiB1aejswnE4DLfMiP6BC1Df6Cg
            oIagd1Qo4XdVH+f4UFW83qr7lFMdxQn68Swqxum9ZVghyqIIuvOusEAvm8bq
            8LvynHNX3Vs9ud6pvmqg/4+JJJiZUkm/gY5c6LxfqlYCclencQDj9bhW6nCh
            RIr8lRSZzkP8XfHbOfs97brjb8hu+Do3A76nlre8nV4/GN/5XvAU3791T+qE
            wDmhEmksn8VD8wvBbINHkK0IP6hvwbAmP11zmXVOTyDwG9W/4A/A84BPpujt
            HObK79jm81ZMKH93tGtO0GnXgfD5bMMznke1rXZNv7GKftpvELrP78rnhv2W
            Vx3gxVOm07zgvd3u4aNcsU95VvVD7megKeSxQeB1xMsFmh1U1FSwr7T8kCxM
            y4b94qV/sPv+seOa9I+kfGP9AI67P8YwnoMLm/5YP2hhwGqb8+JslTuDMgB3
            ViPX76jHMy0j5kTjmck0nPOMb45Hkk4CE6D3LDsf9TwfrF90aBIRNgWPOer1
            kDGs/xa8dC1gZfR9gC+NH1RUOo+E/9QutcUXQ/xMgAhsxLyk8eUzzXRkvf/r
            35T/CrXW2L+OcPECvt5IpaSTMrgGAJYvKQMWafb16Jp7g8gCr3S0KABS8RuM
            GfjYey9L1Y29DNgfudHMR0+P6cE1oIUPXHuqJR09m+oG5/RSF1jPumLr8rsT
            4BlyI93SMGcbsi/gocQ8sbsw2XLRBZhsgDjEqBesB76hYOeGFTbVTJh+/S9v
            4RKIBIus4AR+4PgcGaYEnEHNP0QMV8Flb3CWDlwg9i+ED8jqmxYgbJCCFjEX
            3N/AM5t4wHl63nVORMe+eDr2twe0QG7exCOQA/o0HNAarnN/EQd5jOiML9Ct
            Fv2G9RbXX7yGc10xG7tSW9GAZ7EKmcixEM/iWcoFhBI0A2PI9nShiX04+f7J
            tbO7c57OOaB98byYezXmsLctvPrk/JYCSWTTSJOL9LIONANvysQdem/6vDOS
            INTE9z56tgew+rjRkuFLKhsh/wg3AhcGGtp2tX5f4CRQgtzqT7/cFQHr42m5
            JY1qBFDASZMhCTIJ6MAmwoqZ8wK8oPYljM0+A7UgeDGBLuwzVsIH+pjAqYDC
            rD4e4eYh4zBEG15P71sWOHsHOASQEV4ol5udCM9v52bBviD8oA9ZMfEEVhHX
            ce1toG+bV17IRUPw88Z38f6LvsEEv/nBWOfb2GeW3t48awXTNFxhPQG7dVEr
            i5VqXCdM39zg2POmBdM7zEnBHgXKGA40A1gUO6gYnOAlkNFqNIM20AphHHuM
            qmGIKHRqx94lnQEg4RywO6hbdLS9GuzVDpGtUKkH9CC4oTVwF1IyffNclChl
            TQUuCIFID9/qM3WUti/0u1O8fUso2EPYMdiLhHfTSwbNsat8t4jPls2a3yEb
            A/bZJsrDujT0geWCbGD7x8u+RxSuI52c+3O+yb6Vqh4bB3BS/fM7OQh+J11m
            vr/JF9vf0ksv2j/diEa3aTASbaUUDppZBf9yKOc+dzQc9XesWdDv5uQDN93f
            kOmBmzC3j33Lmu8Uv+Doy+uo+C7cK/+t76rWL9D8y7kLNEeHXSbgHoiskhZx
            Lw3CjyMC8HGGlxpAbCywZBNiMGjQOz3EseVc9Z1qyr5xJCxPHNdy5Iveif4h
            ZhF2IXW9gewotgpwYmlYX+w+4O4x2DZC0vSyaHticapaB/YueCn0Fxf2EOan
            oF/gf0rPRKv87dq73NxU7kDmBBwltN8keGsCRroDrIQXPQMfcxzg1TDxwKjF
            xlv4Vmf35kSnzcZbB35n+62XUS0DfsL5w3/KEIm5lN3Jdk8B1w1MUefhkYh6
            aFpkW/IfoI/1BBSIdwjA2DrGc7x01dn5O7O1A/PJiAh80eEt7BwUwZk6cDvS
            Atw/rvymJ+zTnedBuefVHL7Et5jbcelCMA8OtMkW+RCa4XKOOdAyRL3t/tBN
            MFQMHOkDG74bnPtQKUQkYmNcLx17uzfxlsBwA9DylNakqwLlIPxFqoFBXu9v
            gEcdwPatv/V4SpCjz3J6QNMte9YIbNdrI2/3jioxWeL8s/BuzEZYWIBmfTis
            Gah6nSm70gA9G98dyIz3GgBNfujcfhMf656vfq8W6u0n0ReABHYHWjTxgSSf
            2O/PiBlEm4Bm57Vbe46dzkgAzjQH+FTKQNj/+g0m48zZvee/7oHiA78v4KpM
            vhjQY6Z8WsMObvGPPU8nHeDmwXe6T/8M68G8Vs7rS334zzqbh1I0GFvA3ubb
            cjx9Dr/pjucPN53Owds54pRJ3jg34sRE+DEznnniOO4jrLMDDeXx2EUScIrz
            x2smxxNTA7CCHJXIX3WT7Wz/ROwza09siMXcdMQpDIipnEsMx1m72/4BXGO7
            dn/4mfhG8kGP8NqU/ZR0uh4YyvQA9YlK30p1m+P9hjnjMVegQ/4DbV9VAk2L
            nzEDYVGOqkQMgNf5kkOtNOmw/aQdq47Gexh05xHz3ziWhOcSMLsnfqaflGOs
            kex1jnPYNvhIwm2TfAroHZAjbRwjc8FxTpsYlwV0CLx1ToMPA/eg70EYdcRn
            GFp7B/bcBELeBDPhTcA2/r3cQ8DAdO/64XsGaCt2UQPeojfU7DaPnrIAw940
            j0m2Qym+zjfmDdz9VPG1XCfOp+blzKXDXPrHvqGeuXT791x2XHfL2hR6aaFv
            vieQozJaX9kuA3fwCAQ9I+cyC/FrXrHrNK+5fs0r8Iv1Q4mQFiT6KDFibnM/
            FyfeDzRXkTD2bZ93gp5pbIH92rdiT607vwEo5zN3nNfjA3FlxgIi/b130EzX
            34P332nHOZ3u72l7cMkXG7zWkZ8q2cpodJpuKjgHIQPyO7QbssdO1C80RiVF
            sB0rEL/Frv2Y0LSBV2kMmsEqQrTDJqFz9fL45uUgqG32FbCz2B/29NZ+xBef
            vRYCGjFAJIXYQKvNNAXIpkIm+9UTODjwlkSYGAY1r2vRhdORl2E/nVOxqH+h
            9t5HyvzY2fYMWH+7P3S/D2/jddx1AJ0FVlvj6K5EczJ8geuaG97VgLFDAML4
            QPdf2msgYtjzlHPFF3YH/oqCHF48A/noxdnH9iB/PcCZ0B/nPHNwGPUyflOx
            FXrTvCSaPLvNEfkX4PG+hGMfdg0pDvSAsVQv+ZLBaEXdr3Rco3xEgbyL3wfO
            rFwL+YnQ2QWy3F0jw7KQNeikQlmv2ByAxmG+TYesa8/q5AuB4SCe0HOIDpcA
            fvrFiRPY9FIQd5O57kt7i4x2kM/FWrQl061hNPnS0WcWF1NvF7YA0q9r2+aA
            sMVrRMSkUzS6BNH9Js/C3JLeQV5pincDTV9L9Ckl7M/9CIdTEEsWQsj2A6vB
            NaRqjX3pOnltzlnqwiEt6Z1qD+r1UtR6j49PybbP2qw6Fm/n5TlHZ8e8z/E9
            x3mOy460C5NfNt9M+g6+S7QS//NLe3IxcEF8z6aSglod6vWM/wNBJpbF+4SH
            N5h0cFkeXO8KaWrtaD3nd7ciXwpgVsPDI2zIn7g/6MwAnnhQfgTFWbTRef7R
            QwB7FPPEfoDdIGePAZ5oUnUDSqAddODwGYFxva9GB1mdv7HmgMkA8a69TvYF
            kA3Kc8RnscVkiiDwbpx3hh/685suU1XfZucQuwXXjFfdVMp4g+96rsdz3g7c
            57MPqB0gXHnRhMk+ufXFt/nnpYKJ3wzhYUS56NABixOyqTCWbyTtmFgvxop6
            SL2Y9ugxv0ACm+xmFt42j1lgD8gjGTSpclUgj7Fv/0ff/q/9cv5uv27tI1s+
            1ASA76XC6acPMK8EnjoYIkr+0v/tOANxIvuL42csNZOT+uf3C9dhnOSDAz0q
            XjexX7ieXuvpC/npynBRus2PjLEFOTFHEssLv+S9wANtRa0uSJAGJ2H6V96W
            IBKv4CS8TjjMAV4c4UW+NjVkLZF4z8ovBo9ddZ0e095NQEWELNoa9SamW3VH
            Jzpn2f5o+bGH9oxfOjd8dnVliL/PDjSHDvVUJGFnUTaXOEvZFZyQN56BuIqr
            avuJGBK4+7F7wPMCS9J9IEe6cYkO3t/OMyBJ336/U7Al2Y3aFxMkPenQ5xrw
            DfmC7KiiGr52N3uI5NO4Nz0+huHenXSZMqLaUo/VRYupt/NlMgLK9rtcltlG
            urMyUhMOxDLQp97mmH2Ar9P7QOZIm2piEGoR30rhpoP2YRFwvOvCsTm3RSuB
            qoiiR7XfxOd4X6LqpNPtEOIxBArQT8zZkA7RU77GmLEGmXu3YI0Td/Lpw5PW
            ZKmNMF94t2gzr792/Y4R+6VwfJO6ZewVHBzXETvcrAav+CTyit3myr4T423k
            uYCgO/UhnKMEgIV86WWeLXZdc0NNJq6XQZQmvYYn3S8pDt0H5NHnv3XRTq9r
            htMAKiuQRt7+Rcsm8QfAmDpb8PH19CFegDwS9m09fVz9qTzuI/abHDqA5DkO
            eg+xPW1N1OFkXMZRuqnT994Qi7T+3mCF62ryyFR/jDfvWFuAIRD+cuHz7UzM
            EAgnQ2aL1+Ivzr2RB3gx+m8uLCEtC3jnsDXCpGWgm0R8Uxu+Bdd3W0RBdz8Y
            zE1x6sF1enm4yWfiIBUBjcCRuifymZigOClrTHqVvU6iDwT91WSrAfko3dYe
            n+/e5wTCRPK2kXwd7d+CCcLBlk+/4/uFAwCbjz2zgGMASJnwo25cFM7itTAP
            P8QIFcguvohHQGPpnCU/pGKO/eS50MErnbw5NkMUwdR6CqQl1rnB3/3r33NT
            Xj76Y2Ak2rCunOq4Hzr9Xrg/snhj0hiu08UVGI9wRcpG57VHA/hRzEUCcgKt
            7qJnTueOuBQs0jrrb47yhAG6nTfC1CCtMBe8RVuEm5M+49QxAo5pp/CHVyuQ
            hSDfKknGFHz87mtiXumdpJQTgEfwTRNQ4wErHsxPu7JyGs8HL4Hu9A/uOTjH
            8IxoQDUZfKzvcW2ncX18sNPRY106AFxEqHioxvQWjPN829oynXHEn51jt+M6
            NqsFOhKjM29UWbfA0M2TzWC6KRyrOC+ct3MeSUOKdEeMbJ0OOJSJBPhh57eR
            rAK8F5m2QJkdaEedooVkInevWrP8sR9i9xqWiId3nAbX0XSp5lH//OvfPQIF
            xt+2pkdpXF7GFrB9CZRJonn79gSqBoLCdcWaYgl2l9suJeTGaGYGi4G8v5K9
            Ka+CRx4tlN9yWy+kpUwhI5tS9aCL7AOIRHIMw2pl773PNKMbpGM4LuJj//7u
            k27/gI/n9km9bz+/P7p4oC3aqlc1vq/KGIi9q/PywaHe5JvH2tHAcNuQXOyi
            dxDWPfUjfgNnQWQHi4G9Wqrzo/7sVc5lM3W8xsR9eOcWsz6Eyyn6K9uKP0Ft
            IK/OaEZlWhiM+yFGgfha5fBQSL+x6JmyLuhG1ugJE5MwFpj6A4K02eykxyHS
            eR+MEff2NvxA1/tNdRj63I76mPyrbwAQcK713a/t+ejgej7Ho5uL7tufFYtU
            //VvjC69X3MB+B6cD2Ux4bhAC4AZZ21lVuMPGrP7EPcRfxe6OwB/gw1rJpOQ
            OJVr90nim+XtuXs0yc3nRMkKskiha+rQfDOLiD+6m6LUKUO4ESxpnuDDqtok
            4ZmyE/OrAJ2/tK2AJOR59Sm8BlZ20Dsl1ZblbHK+zfCa5PmI8QObliDmBH9d
            WhfsvQIa5yQyuskwKmepdp5zj450aAu8UogUKCFoHG69VBxSL6PzkGh/LLOf
            9wmGynruN+X5zms7JIbkNXBrkz4TVZ6fTRFoZ987jd+RXqDdxn5PsuHUYoCL
            KTvzKHwo/nHq3Nk55Wm+D5sA8wOeUc8W4NYojXzeixFE5Mrz6oxIHQ2Db8Tn
            pFnCZeButZfBwt6+qc9W/3OtX++r9j72N4/+EfMBifCscSdxGfQFzfymDewU
            l/HA9xvQJw0ALeEZyj1s+843AdqaP3xYmUVz+u43Lfz/7rvcPjhf7McBd5Hv
            hxzQxet78vuUds53CLUD7LHc3VPLVYZwEnBGp93Ngx/0EHYd+CWIcfU8Q/kX
            lEfP2Fgoudg3kJ3jETcZt/FCyibxqiCK3kezN7I9lZ+KkcjL/Yw7AkvF1Thd
            h4+UXdybnrsVk1+oBw6SXWyvcA4apDZMsMk407wOadMUvqX8eOZQOA/0ivYA
            6iAMr0a30QfEaJNVva3D7j/jXcChBweDKxKcWszdZ48VyjdJ3ijh4HXq0tZy
            VDhX6cJBe/NZt0nnW/rI4DftasvsiQksDbU21F9wfiAHEY8vcIrAg3XcZxlz
            KhgFDEVGYDvQ1YT91+gPAVLY3K4GS/U+kzTPx56WP8f6KGHbmxtVpcmuX15w
            YY5LNJ6ObRbDvwkj48ypfxPoD+OBbR2LrY/mjQnZzr6nzcy+7/Tdn0v3LFaG
            eD/t3/fcuQd+cANQyDPhmGieE4zVj66bmqUdJQ8C9R2Zkn5jug84yuc+jlnz
            e96jMTOO4eDgT5/L9gh1WzoCBiZ1QkR07i3/+jcY5io7Dq8ZfggGy3qv1xw9
            d44g+/+XcxTed3z7VWRiB9Fu+0Z5K2FO7thJ+xJgsQLyQ//iwZ3hl9sP85Ss
            OvbRGdBvpZGvIU2g4RFwtGeSbLKolORvTBapK7p+05A+IDPXWKaqWjwYuOZA
            HxP2RV0ebc2Ak0yfOBx3zTrHPX/OdaQM+N0un3b/qT3Og/ji5Bt9BD44lLag
            x/hvnq8kvbHJ9kHs65znGp8fytbR2vyiLdILMvlGyvPQyab9hnnxVcFKnZKQ
            fO3wO5/fTnDimrzDsEy0k9C3gHPVK+SoZHwU/Ykga+ZM+8mReYjzHe2m2ehy
            Pfvswh71cuvwL/vYEj2mifw/vR0tFYBz33qiFX/bHBcdAe26Hacdx+kPMvJk
            f8AR1Iq5Tq0C6T7QHTn3Perk8dngAshutc4saG7PELC70B58cXJYDrDZWaF8
            xGZoTysceQbTD5vi60TtO3H7FYKX+4d99dlLHu16NfzmAuhbzTm4H1pYAZOf
            /Yp+U7N+UzRZNZGfPeuwFzjjXOTt0/oMyogGPoKJG9d4+0e3QffVvsUhAfOu
            SBbJ/GUIa+DGl/zOuIZrv4ZDIJoE0u8kP8nf3zB/vmGnd/EbLj0X7R+GE1bc
            jOV0M+3mA7EP/XBz57tEV7++YxTzbeHYMeu90bdVFMroXPjqf2He0lf/MZFn
            x42WmXsAkmBlFKTeRX0XxiwdDYQ7UGX6HMgWMj78qcTCozs75/c6+BuntswB
            wSi7YfNGCZU85qXx4/nimRQfZ/yRcC7emkmPIBuQfj3V/Pm+3+X7wc992ZiE
            CdBnXou2BfprxWMz4PsJtp0bZgOXKkq3jbF/85dpxFqVLjBLdioYR+p/tT8s
            87UFrzOafh/bVyZtPt+QKYs+FKvwOx58dfST5egEJu2Rh3Zn6lcXpkeRDdI1
            0GfPQtdiU78f2y4nPpLvkGwh/bJsQ9EIzpOatzn6+3ayKzE3IvrMhBOsc31J
            0HE+COv4i73xOsBk/7ru7TpoAWcPs42+OGgeudLWt53LQgL+rjamoAnReLtI
            maJwzol4cpMPB/Vin+9gGk7qCHNHn8CkoFsDzKpsbWbzsG+p6oPm3soxObNp
            V4aB6bpjctRHNnfeZ0ZGtqVgCP4ytUnbHdh7bA+3Lt/6fPhWjpuA8Z/GLbvD
            17glQjAc+1c/2iT0awzUB88Jtvboj2j0GEfns6hHA2bCFqX3lGQ298j3dyqu
            gDks3mjywlI416RvVBrMtJk9f7siuVA+UzsR/WRnbfTbu6NXuXTlR4/0W88E
            Plq5XBxjwpfohjf6EegFjcn+a1wowUsL7MB7OFrf30q+g1pK+ke4dWLB8Wzq
            Tmld3W+e2X3zy+4F5oHUArmhHn6FEzlqpTr2ywdmLkYhNu4V+gDKvcZLx2Z0
            wFRYpoN+TxQS+RRSYScbNnGVu3Io14LXsWXGL/mUvk0JRAIcn8P4az/jH+Rl
            vtao2xrRt7Vt8OaY//xaPlTO/wCfhu0RpAxwxLzEv05+OFcndvV54fheh2nr
            cPV9i8nD5LZs/mgCUGZ547zTXviOWek/lAe6tDZS3Z422582tJ88o3I3ODlS
            WRYYtgEAQP4bk2DF1AXsD/jnpadkAiWmLcrNIbs1ZCYMGcIjcLanKiEwZ9Bo
            LuTaA3lbKqnpl11kyaS9tmSGOhAXBuZbAVKhZp42OMdQUbCx9tykzsfW3z/N
            kYWRTtv0lHSnkE8Yfzfqt9skg2F4jWPDh06MEzIDfQoZ+Pkz7hls3O7Yx/43
            x5WWjSszSokOaIZjmvn4H5/BE1vxRq9cvu+wtVR+qfdrnbCWibq6PMCpoc2m
            xG76hduO6vVPO8BxMB8xsex3zX15aUOYpHcxMPb/Lb0dHzSM028n5S3hXv4z
            oMtukMBQswDE3LHmTOdSSeLA6ILj5nXs2k3f3O+5ZDyA2tU8lKpJrO1Y3tPe
            Srfmn3Wq1Du8ssj7/9Sfe376+6zL6ffKAs9Nv0yWnZEqEMLxyGdN/IGVoblx
            cYl5/70m5uFgePPGvESsCwh23PNLD0B8RrzW5fMunsb3Iduq1r8wcRoxUfaS
            a75w39vFZ0KCX89tH8dpDx5NsLve5p3ZHK/+WbaULB+8/pH5XvPhZogA9bkp
            DxpFF+Pc09FFyf9hye8NEjU2QMfaKWbspRmb/hxlvMp74V0617tdL4G8t+ma
            p+ko0lPNvjdBjuifTLsR+y/u3ZPnTb4j4tuJu6hjef2qnAfm1A3VpTq/8Gv7
            D/gVuI74lVqii1+fb//f57f/740NohJC96vdTzMl4lPTD7tE3Ma1ztJD4jwf
            PvE1uzujfeV/xDi0Tb8s8cKgQRHoDzxj/rGp05iS3+NL501GyRRjw48dXjEK
            Sb714D7fxOgGEHnT63jzoRoBe9ODp6H/15VtzbWngwY+3379tIMQnmRjI18f
            ILgRuHxrhzZ6+YWwv2M7l+54mI3zw+cQj7n2nHEM8n93r4AvbPnazwCbVx/L
            b5RthelHjjwlVX+0byXNwfswkFdp6XWUg6ynQK0snBBDvcuM+yigiI7JWOPx
            xbH4pP0zdu1pfCO/b4Vd2rGbfPoFhB39bx3J+iDfLf++af4LyXzTXyb/I0fG
            xJDy+827g9oNl2ngkB0ky1eFc3fbPKarUTxJoexn3xm3/CDP93e9B3uYvnB0
            whf8k18EZWJ0R2jH1/baA6/vLYgH9UftAz9OenT3Z7+JaWMV+0fc3cTPmMcj
            9lN0RfHS9BOgneb4Knx02o4umWbHM39O40euHuHaHS9/eP0uw76xeuY/dvUT
            jNqmlN+UW/DNjFjLG7QE/Db3N42ISfsRPJk6ZNwk49OiO7j7MX9jrOk5YrPk
            F5MlPqkxXskpD+Onj/w/68N/krIZF9v8X21DkJ2YVR/4iTL2qMX9le8FfpAJ
            4tsvp9BAkI24ct2oadB+ZHwqfXHB3LaH8rj0a9J7VEAdAHuYDzqTGcnnq9lv
            +05LpHP0EMdP8fH2ntsX9x6EWAehrmWsKnEFvQePbbeddQacU3ix90o+tOBi
            JeuZkf50j8K1KEeHqjQ0grule5AMwIPX894hwsT0HPv53E92f5w4hCMHaz7E
            UUSNun3PT9w2P4xFYfsIeVq6O3w90/Pcd4HNOeNSZslGm/x/51uSje2lz3mV
            FwloJ9XZ1qaRxwcaqN/roqBSpjopNrbXvxPMb8PfgJiprI+uVgVycO5flUdA
            +2f9WvsI2ohdxfIokGjG+HPt/2ncnzn2P/PZafso8rua7uiT77tA3j/rQB0S
            /pP/aZZOOssH5XPf5GhxFr3t8r2ePe0i2/dz/ALbcv+TcZ95fTnuO9c8HltL
            ka8+ZJR27NaS0649+9i53bGPkye67WTXxh6YgboGF3/BIPiFILnmfXfdxTIX
            mp4UO7iZvGvy7JW3sD8s/ofmAcZmNse8ow8kS+VxHHyc16v5mZdkfATjoSfx
            RMbQzLr6hPPMBu9Awak/PzIxgwSU49WNdWVjTE9xN8cd5H+30Rd5n+OPEBWL
            Xul81uRwC+YKzDAQb3Jth3ZxwXc8xyt/XNe6dGTAhJ0RlqC7YfRMy5p3jRQQ
            8lyiTyNjUlkKJ0FuA7lhNuQEmYX+Uj6GIR2CW5a4J0tIphsck79Idx3k86Bs
            BX9z38dB3A9UNPE+EHWL5y7EwMl8h8lkEM9S7qI19hOnUiVBfL6rU4Y72UM+
            ejvqz6kfVSwstfDiWYtizlymmz1gAnwaxgJiXIAqXtAOfC61KMwqKF+NoLb+
            d9seIQ08VNSA/1Ccj+kDaPtjzucZadU8YyFBbuaL7HZV3EEGrzzrKzQFEaU6
            i6lk8hTwzP3p5U30BmHRIEZuMFXj1YkT5mOVvarZvHhKP7Qr+6U4fQmBVIrQ
            HzHRttUz6Ad1zuArWpBdxKV3d2w82qRSYpyTw1ok6lNjxneG618sf2PyE4H8
            IkT5ZjHQnAfs8zyYcmb+6F04Lixeoi6edsuWTR8N3qEzPxLvN8ZSAKGGbjmT
            eE1tGbNGv0H2G4CXFNP404bPBaVJY/pDOrfncWPRqOfvSf7PqeM7qaHWmlSG
            3AIbY3M9f/gNTPn5ax0U+xkYH51eZVqTvYqxKvGVbf5nvt3HJszxLDDHXsgd
            eA4Qx2ca42Yg/wKug58fnj8q/AS0DC9iNgnIJ+hvylsRAqeCN2Unkm2e8c3p
            XAdbEAjHazMmGOO/z0pjnF9lJVmKMehmZ9Szn+vMOli/1ocYzJHHtXkMExjg
            OWNhjPE8YyHP3U9/6+s6x3J9Wt+l/Swb9Wa+QfDKHb24nzWbkB+1jufanT89
            08bL57neYEa2739txz7GyZfZD86OJ84OW45ZIR9mwDJcTf4MIks0v7GAnclM
            /PTKfb/Xn/IoXRTGUkCfb4xRFaR1+mPGDoxLX8LAaPE46dcrHyVA5+to3If8
            zZwnxXTHwBOb5xHfipnslG+prO9efv5YttxSSLNn6amZ0Xw8jFMvsk1YRqfA
            XAqUWV6zUtEHIWyziZz4PAbM0+5z8Q0rjRTZrW+M3ssAtQRBmPoJSInYqk2+
            vHRdAqe/ksU5Omn+IYg7P/M6cRN5Exk546+2igkxlH2lJZuvs+tUY4BdKorZ
            YKxElilyDYhjwJOLOQaBV6o0/Xift5pJzg/5bimmr9IPSDETiX1KJ/19DtR9
            dRVq38aQjhG4dx1d03osb8HR7WM6z7mX/QeC1I8sTT+gWRXdUavmWPE5ThFk
            YX/8BFTfzrwuSs7vOPNJa/ue9GOkdEur0f3+JBnbf/TE5/uAZwcxBXX3gXIR
            6dgw2i0fOVDW0c85VgVzDG5AWWWwXrIzYei4Vsxmde1M+K6nv/TXMTubOz79
            cvelKYszw+w0x39FdJ/zhs+6MKL5ikxOgiMkGvTHHGJTPpGscqJcE7SSSRaf
            RzYALDB9B32znQLNHW2dkM1pi1NCvE3PhtXF5FGvS2WdV3JS9yx+t+qQZeXh
            yC9oRwy4Lv6OOpI3rKUcEYX2Drckjd/9av6dzNhDPZRLVbxcb3QxOnuTReF4
            xK5NOsfgi/gkZmaSP26q9OuqYbv8ik0lj0w6dHEY+OhXcUbA3C/TnjHd7Pd9
            5r2ggnTtQptFVgW3G1cYlaCauVSYm0e5LSBwkWfC2EBGBm3mAzDezFIF+BiR
            jvLlMya6CRrOdczNotIRpTByriTQ2nMNTJS8NZtUxPQrYrZmf/EENdrm20y+
            f9fFMGrzraTozvc4y/2icjjm06rxNPCBL74pf/FSgHgy1bRPS7eyKSO1ojit
            E/PhFdviFTvSHtBhmneYmINTHHthukf68G/nzRcS15SM51F+mfjcsYJ/D9Qb
            UmbK9Ky0/Uf8Tw/bevUgmdZiys7og8mSMv6uz+vUdgcPUpkV9vgx4XdUhIjy
            iRD3KyblMQ8cxgL39SNHqHxDKCt1fDN9nPC+xvhL0y1ZnACuudoZAag8CADi
            8lr+Kour2PTcJ85zERJJlV8cKEtQ7hbcU56bxthm+SA16bpAk/ekai7SV6mK
            P+Gexv5wwHGiMcn8HO9v+c9n88f0j6VlYQxAdVayadKCZJxjvjSVz2IjY4a5
            1JJW3/RDHwtzQEkXZAHNpPGvBx0EHCiXAASyx45UP0J2NRzB/EKucXS2bmDQ
            5INLH+gip9hE/RloJo6BtYqYp2JS4rH4hHnOuRZi5shPOBXhdPNcM56v//iN
            SLcGEZt5SNrbiPEobG0pm2yN+b2Mi+ycqiINuGJRKUyQRSds8DnKGflew5rR
            91J2EuXiKdJP+L6UZUraMHzHZIU/xZ+/4uSZdPmeK887Yze32eje43OTD//S
            z3m9PjjBjlents91rl9O8uHvhJJ0jkAc8TtP1s2zxezt7+EfOMbWbM6ZP+fO
            uf/MeYO0GpgHk74vusfMKzbPzJkPLpR+Imf+4x/rcf2UAtEf91QAK1OOPyPt
            HNhNV7bnGvUw6pXjA3MHb8Z2HdpE23wXjeQckDZ2R/n2iw77jVVxquwiU4r0
            MXJGHuIpe7WcUIm6xfVa2D32PCPZ2ZYlFtkudsPl5dhfE2Z62hcnresAtQmG
            0x8vnEZuR3SV5So9/Ul4PmjF174Djqdzw9k7uMkYF+IEhm4lslaThTKAu+mv
            qpxLZstm6AIrPqm2KlNZne+lEEi5rqoUi2Io3Dzn5C9cBg0iKttyRWjZeDuN
            kTlnr88KkylTXg8lMfKi0+uU5wuSGOMv+LsUy2Uj2wmz8i1wwee8NcYd0SZl
            ti6M/f2Gz3hs0vP4ll24vvB44XM+dj0wYERROJY/bJx+wqYewits/EP7Kb/Q
            diYPJIj7NEM9wB+WF0I8JSeA8VokvXSTzFQkuBNHxLbutCV+zltFf9Xm+Wnj
            q8U7+Xb9frFMk/7yXsV5bDxJdQ9E28EItyA7D2ONysVHx/7SOv1iSGOPDoNJ
            TujrQTzuK5MKMVO4crJJT8k0t4/pOJTdgbSAMaigM55xvIpLwjj781IKVXyR
            jbMZz5L93N78RrCLS1GeXG/Zj25umTKeGzMpGVhxxtX0yNlCzCv5M/BbzJUy
            jx/dZMRA6OD0gmRljSO9izSAyjXJzFVJ6yor43z0f8P01MqJRFeiqdj3yudr
            Yuyo+PAAGKYkTRmsMt77nfQv+8qtUi0GWrlLbJ67ziHR6ji66VWjxUarZC6P
            VLmAhugaVdWP8uFs3aPl+OTeuGsWv2JGab/Wc/G5ebHOebPnWNFI5/Lb+nnO
            1rBJJ3VsXJzbmhSTNGhvy/YNRJxRbL2r74kJ8dX4OHmzMPmIxprNb2ieWDva
            Ez/w1rEW+W3EJev6wFSG4HSDgODSKSzFWXxVvwj4cCiycDibG+lqSTOpB5ch
            u/O3U/JFrRfQ4R637fGxm/PIRDRIuO846p/4ZluP5zMPj+9Mcdc4H1hxGnPH
            HZdbNi4v+O5NjgJMLJMsbwLjJSlh8bpgl9H7R/cAKtMYs/77frf7mYbqIZ3G
            vf+4Jp6eDVRn6Xxn7sx6MZqNO9ucPOc77ppTXwyh3VPHPBU4pnvkMNuBLXA+
            gXEuND6RHqtt/fu2jLdRW2a/qMyLJX4fKNz6v3NIytM/z0NcOf2rZMDp/7vt
            pvwJROS+xu9P/A3fdfcB923awjm/9u1D2/pZq4c5dxhrwDSvu7/a67d9tvbY
            YbJtTrECu4RE/xDIhpe+mwEgXxxeaNPh3JNKSFL07uK54s89p7hLxZ3ee3nI
            FiT+VrnByEdEH1Vz99iqrRQ45LLG+ErTfkg+UvxYtfjkUFX6RTWph+lRweKx
            tFNv+EogFMlUinN5lKOMheREe6fT7op9/uDXGzen/d7obghZDLi0DcYYETVD
            ZOX4k+V2KirYpzwixAuVuuHPnJqNL3ENxMfmXrkOypN3rwW71l9dczd2tdEv
            gPsn2/7pRDgs3Ud06JkSj2oQu6c8SId/X3Ko8El5jw6sM/1ZNNvm7AcHn3hV
            qujxftnRPzJAUJkIj08cLZ9x8z3+sTyDblDP0qr0nPWDx7q3HCdME8r4Y+m7
            tVc65Z/fcmY/uP27f+qLb7+7LeZknQPrt5l28o6b+PTi9a5qTsbxmS8s86sE
            +mFiLvfcoKUnpwZY0K28GgEDKeivKzcaoM4vn7qx/UphQL/Vpty/0isxu6Qs
            3l68lazfqjtmsrFvpjvWhg22z1hxhXSfucUgxWTakpjdZsWPv4ngjIWzPrBG
            W8d7YIxpgGrbhLPlLE6TPshcK9JrFf057wfe4Lt/YCwZPHn3BWPVrrn5G8bw
            yYYjyWL+CVvprHn6wNYw2jmMLq/BXLg5yZAp3poCpdKfeiX2B35ezewCVXm7
            AvXCYDib5oZOVR7S+avccpv+epYbyImOQfw4qbDNtevKSaRqpig2nBKOzoW5
            JciXfXRRdQWfjbaPwwPomDlE2n9+wyP9Ni6vcOFursUU/Y3fMZ3l0eQafK//
            mX8WlyPepO/hy/mlW8mKG2IefRp8nlNLlri+ljOGuiswJRDgnaIcFs37W3q3
            TG214ckNTmqc3DLPqfG0AU/gQPP7zWMn6ZEa9eFkjamHFW7A9zGyJ27pACz/
            GO1EUfzopkMK6TLzaTNvmQf+ArZXO/TAjDI1PCcGS/6UeBtt1dzry/zfAl0l
            qnIBO+YsOzxo4/5JjEMgcu60zcdCfdsOy7OiLx5OymXJGKPMXJk/dij/yP93
            Xr+bLfuqVxz5lFLF8iJSL+DjyYt6ftO/mmZN5YxVzt5zj7+r8q9uCiOS0Wp2
            KtVoOYvFS8rX2puOW/NC3uxLZ295Ak2+b5a2GmtJ49qPj+8ntj+zto4v8+i8
            g+W6em/stXLxvud82Dlzmt24Wnww/Vcbl3hSO3f9lifXcciadcfgm3JUKgZc
            pqPyDubBTe5c/6SgIp8Hmhuo//Tl/fZzIRy9pIHERcRJngFlj2yb+Fr6UmQS
            COVnX8yG0ug/SNvqNn9s5lZ+6Wuo/U5XlaV4kkJCQT8CyNYq2EZrjXJEFfEf
            5MDdJ9cv5b0/+iWT35PFV358Dcg7V7O7Ux8RwS8VQHaKP/KeYheoOCqMt7GN
            BJybgDMk/7V29cPe/MH3+T66eTYq5W1MTDIcLUb82dS5YnxJMUtk2yUfbQiu
            uTPUHN+fzvfJNZ33y7v1/V2eRd/+lCwayKNzLWhuhEsG4HTRW5aahfVlp06v
            1mHd78Zn0qMNj83jBy1/Jfq9DPNrMRsEyTxQmmNFSt9cXsplevB7+PglMG3D
            yVuqGDgqK1h9mxER5EWmKsI+qof53ab/tCmyxumb68ffHsId/RUYAZ78v/5N
            hsm0seLx6Jic+YxyFkf7XTZjEYtkqGeCm6etgL+ZRgAcn3A2uLl92sihjbQ6
            dJt4zq9TAjUeQ8oArV0886jQZwH4WvA4cO7eTOanMkqyeSobSxAvit+kL9hK
            lTqav8xlwHc0VkKNTfnfMI+ZeUq4tQjfrKoLXvUzp+HART0RL69yYL6CB87p
            9/3z/G1HOenOkej4kA6ZPv2f/G9MBfWdgz88wkGNNIhpVhQTTD/HDMYM9DhP
            hrFsVo1V3PCkbQByreFHus2ILoOdG97sNGSfge/9mpnfz7bMdYIJYqa+2BnL
            KWVayu/RI5oGX0lhFfdey7DEqJ+8Ux9a7C2nWwvKf235g5ngsTFzWOVveu68
            Ug0wZJZrxOBS5jW49gX609EW0YLltOL42FeWZxet1D/4AXwMLZXj8vOMx1NV
            ZPJd71K8Hql6nuBJm+LAwBcvx/0V39cqGk/GiDHX/asYiofedUmxZl50+D18
            FF1Y1X97divd9wKG6FXZAR0Zns9jmHYEv6Vj6tJZMI0RczdWlfNTzryeluKo
            W8JUUT/l99L+VvUjx9Jti0Wa2tWRaD2x8XSkO+tUrnEMYT0311cGV8K8lszz
            O7aAnVYNOfkQljnnzP8PvAQilJts61TMVovLU96lsDr9m0JaKmgbwhr8dqUk
            OHjMYs/orAo8XITTdmTNzcFszUM2L8+YH2c64Mdy2v20d+9WTn9GkPO5rbzW
            hE1n1TC3lTIivqNNzk3w/Ik1FOx+M/2dUiJyHq9+oZgsk+jl3pn7Un5akgc0
            hudnDNRH7Vn8xcWJ42DaY3fqTuLd5OTx9oL5Ur4rjvH1qp78813hp0/RoKBc
            /p7+bo7ysfd0ZDH/+f5jO+ceEA5xpg8nTyC/rJ/aSaw1GCVqN9WYfm/uIG9L
            Cv4l2fmyc+odiH8Ey+TnHvR348wKeNrKfNO2x7W/mROXsYRR/LBPZPyScmo4
            l1hc1mLbU6jYk1V4lbCCOaBhFeONZi9hnnVvBUbZN+sBqH4LqTf3On2AlW1V
            MWHYrmZbYHUb4nRmDOTE0PYnHA9KEoavgL0G3DY0PycvQmJ+SXBSJcWpeVCo
            m11T4t0Aaj/lhvaCr+Q8EtTA4+eCnmiFavTZaxQfJ+0EL1P8gypl1lZXAvrK
            OD7WjR0/dga6k+jcA2Z7HJQtPAsleuFZ2QnIMs9zTvtBYo0Xd4Leznk4OdUB
            PJPKeca53nmR+1v/sh9snGNISfE22er6GH5XbfV4fBCUCx/7+TMGRxe8Yw95
            lGfM3XxSU3PF85/7VaLIqSNwc8w482NghRRH1sIbDDNHrnRDjMqK4hlko30s
            6ndVtO/bzx1N99SIR9e7zrjlH5qOHUx128+5+A/WggDyo9/LhQnw0+jDZAhm
            zPXHxlctJxKvtWXyRrjX5zkPPjK/ueV0Yp60KF8C3LM4ItoflaMgmi20Wp10
            nVt+apsPf+ZY38K68mcs9xnqw9o2vdiyeHcfv8bCc46D+j9yNwpNYrm29/qp
            DddMJ6q8zPqd33nnKv4xV7KdMc6JgSknz5tXPhDP46wp++PT9Bkf15+uIXfO
            JOPTwfo9tRmAkV0wOJs0zwGv5pQZc87akWBTtTf8POfLcv4Z3BO+zzn3B4Cv
            2/5QfirJoeyb9t/O1Jiywxy+57H8/6nakYbCLN8hOy/X50xpqm4dX+ZPY1qG
            l1EPp36AM2RYTbCi/kcWkWz+wbe+wLV9bdmD5bcQNLfb8jh4yv74iHBsktJf
            Fvn1Kpf2c+q2nDxhLlKmc0akb8zTXE71mPo0GU56BM8q4gBC7hGLXfBnTwHp
            yQ6603mnYposv1ejzxCrH0Yvf5s6wNmqXmXItYWDDwhTOJe/NylIoN9b5gcz
            7pO+6q12uhKK5jNxJlWFWiMyHegbND8HKieFY6wmT/vCBe5P3MBxsyLbAufS
            T4w063IB7015q/bXKy0Ysz+6PCJgQr6BL42o2fBXEB4NTMxHP6jsnL/7DTga
            A8w0F3Axu/JAnvyJpEOcEd5b0g+gk2F9ASrc7JQzrF7In88rofLX88wLNzFU
            zM+1cfkzp4FyBuZbuJNCUzxtJrd6Z1Uz1TT61G9iLDtl1q9z+TdMZ6FnaM9a
            u8H6j8LFSyV3uQ7g1YflRX1OjRO8uTM/FBX/IE5qL9TJfKcv86BApON8njZ8
            JopvtjXSe1jT11k851MId/6tp/4ZPRBy90oURjmoUt4GHmCMgCv27slySrzu
            8W3yw8uKWULbgXasMiJ4muf3VBAM4xax5nZkf3T1xlziG91nnlVzTjVEjh2b
            FWeUU2V+cID8LyC7bsU8HVwwb4z8eW6c8zHv8TmZ6YwfWkrV/ULcO7mwWXRo
            n3vT7rlCO5vVDunhr/FHEM9WPHGQhdwrpgkyO9hvWQyrhUysdPFAGT9xh+9W
            Lt+nkLbnN6umAeMMI3YAKwlE2fCYoYV5lRvTg8pX76FP03BdehswMUHxFPTN
            6ZdndKADZTcaPn98x3ZkRVmL6XzNbgheijuugnfZjKkDf/OevPpW2+vEKzIu
            ivlx6nhXrobrYrXcXsrXAH5aOb+GJkd1L0RL+5sDw0f0zmR6+EJybjlZKE2L
            b2A4pX/Xrz7Ah336xzjFi1C7bnRSOlEaOpRfyJvfSzRZ7+MzED3xdtvu8Cnm
            gyrvH9NzPJb3B4SW4vEk/3Pp4+GrDtsN2ppYU6xt1bZb9FgRvz6DNxuf/Dtf
            z1xFlFMBqz4k5nykr6bzQdeB6G578hyTWdi86T0Anp3XCNXMJ0tZnH3GTJre
            tiopGY8ufy9Fm9EvfEpnP+Xvk+UDQfV/Ae5j3XmJ1rTnyV+4li3/4Rq2nefd
            IPXib1qkxDI8eHXvzLPpzO882/gUn2mU0guXlF6c8urOn7zTcs/pn7mQTDMS
            nQ4IBPHhcSvjgdkqied19C8FkM9zGj9z7jLuzrFygfgw+hk5qxp67HOMl5qm
            Vzpt9ayzPC5Vvs+seqk/fAWFUtDXTBf+/RUTbvmk3PVVlr8L4KN1ywMlmHOs
            TcZaYj/6ladFFgygAS7RZiUdpHQX2jOjHt33d+7YJuBnzNPJwRRPmG20cMlx
            7CSfPKzF5Dl+UJZe+vJAgCn3lUP2+ZvcH8wGb+93t7ZOo98Ia7JgNoADN/3B
            srdK9Jl5aHHjxssHxgSwFtWI8nckW6QY+fA2wCqjDGjlIybB3FHGIygC5pPB
            PGnGhR3bX+WpN8eHanOqPuC+Pvf1y55seDaoiqt4r8MfCz/5j8x46SUz+jCB
            TlJMaTRZqx5fLZ6r/tVSLEy98tLl5S+vJlA0zxzL43X4zMuXXr6RtcTezgod
            Nk8YCve6KplpfMYfyUtf8jPfUY1PzGtZEgXyw8w/SD8Sy+v53Dlgnr2be9Gf
            e/4zPzaPcpSkv2r9hz76f9FH2p86c5R9MY+OsdrKZ/ef+iwnF+4ffd71dTJd
            FeVJe9o/9AOZ3rv/op9teUkWZQj5GIJ3cdeHkGdvEEdDc5K3Y4JUyuMEJ854
            BPGXlkMkvZ2I5rVsqFX1iZIQS9mP+XO90oU0z/hEb7UU0Ebe0c9PPbQFfoFF
            KfM2HccE5z/pYRGiLH+E78mAAm9wQB5sBL4/cdMxb62yz8smRz6YDsbMeXD4
            tNKxs9dmzYtEJy8KEY+5B//ts+75eRbfKP856hbs+azaAfZtX8/7n+d/ng2W
            i1jqprE6+QlM+frxr6BTxieGgrV2eviJWZ8+Wv7vyXzPcZNeNboSMYVNAn5O
            znA/j+avEqkTXeYzHh3Fn+8YX+7GIj4kUE8+t/nF3d9aj2V1j0e1vPO3v0z+
            n3m/z/ltS8eecPTudOtRrih8yMr0UTD+gbGYCRQ/mRCatZ4NUzMgg5XF2MUB
            qTcwj05inWJlzCezOdzL2sX0IVfdSaweRt4kX4CXYZpVXG84dhyl7wILrSPw
            iWoWdHq7H1hhnvULA4wXIdFizvNAWB3NB/ZVXto9fWC6G+VB/tQb68qpGPz4
            0z4IqezWP60MbQ/edOHBcs8rLoAmcuaCNDsrF6Q9lIQtJ2igD/M7D88WlypV
            sxYoyfC15XEtQiuWY2LhUYBGpjrMddaLoJ8wfWQUq8Y1uX4yNLy0OgJ9s8KN
            nVde15NztlrsO/3W2Mb7Tz5P8vXiB66snkinID9//JHoBwyJFMCq33H/gt/+
            eT5ZTgba7k1os5zTTzz4Uv4kXjEF+k0ddlKuCTplyreF/PT9Lf8p8GM6ZznH
            c53fjH+MInX3e6X/SvKhxtKWh/HfxKr1Edy3LliXE+En7i9sq4nKShbe0/2P
            68EsRqyZxuR5sglzbzN1vupvBOXFf6mjZTSodO7h9dozvHfbMNkZpbN7nTBB
            eGG9ctlY5ro8c1Nc+jD5AVDCut7KNQOSoNpMFfIbaynevjMtOfV11PVwT8qN
            ULk3W73vYwTaed+g/MH1Z+kLxZlAJrh9McaTDhfkZ5/NHPE2Z4C1NgrxwMn/
            OKxOQaTeDSDJinm/xpN/xjMH/WB/jyec8QCf2Hjyf2s8hdm6aA8n4WBZltRN
            N3RjJ/Nj5+DxtsnAp8Z2tTprN07+8oZzGorqj8VkXn2WbOAYW1VNLtaFDlRX
            0EAs5VOjmU+5U63mqmg1rbEnp8OF5dnp57xlA35PHgD6NBBHU/emGnzAe7xP
            rQHntIO/Ufv4R/v2R/t42lNvlrGNi+F9ManAJ8Bn+Xtfde0RzB/H3FWrsFtd
            ZX3TXtTpTPsmwgtz22EdQUU31kq7IHn/hQcBY8J9kzWy3SRsKmFQ+cF/ynVI
            Oy6xrXDYqRXoDJdZrSnDZbRzX1zmDy4r85U6lWUo5A9Mn4x0YO39273nBGOv
            +7QhPJ7997lXq2SMD4x61Z6iXI49WvYPrCp/J2sW5y7codw+yhXU5YPnDY8w
            JyD9barifrU/Qj/XOGPMrEk1Lf3zWCx9glunjdUMVJbziD7XM68vHGa6XtVa
            OhHiY9v9f8TXzK/Qy/UJ9cwOnNIPvrY6fv9TfO1VgTBkGvP+M+6m4vGDu58v
            3B3+Hm+3ZPlQKvDdN+5mTSZdB365OBrjXTbP9Jk8vMk5D+vg7vqDu8MXvq5U
            Ip+2F8/Gx+wnBP/wrmhqd/JwZOOXMz+daXtvnb14r8u8XFUNtDP3NfNsNMEg
            NefNDIre8tTb/RAWMZp4C2exyJTU3rBK8uS1mKZtnuvgANodWzZbsLvj0Hk5
            9GdZvhnmnLvwLn4i2xpV1shWscGDA+a7mEHztuX7WFGMSjX6UDAq8PMe2r3P
            O+ikN73kyULDu+1h8xb47DO0Yf6CV2k3vWPeXdbglD0xf+piO+KeDRTKsQn3
            BPPHZG0ZqlPn2pQHZJv4T3j64vuLrxkfT1ndoh8pJ45I5Xigzo/e5UZj6Ek4
            eOS1HvlMKNmc2RgRevW8p+5L/sqLVyTHMraHqEspKmjHKJCrz3uU96RYtGhj
            nFoZS7nWDk0qyqkfWONZMg/pB/4G5TPWpZJLXwzSI2GeBmvvUaYrtHhF8LP4
            1s7KddHksRi12NT3l5M3ffhzDXyoBkJ7ha6fcxWUjgZB1HxQv0YZ8GG0bZS8
            r/vqExDnzzX6ZdFuqxSiZidep19dQ7uocuJ0hQ2y/co8wfeyOjrmiCsKKFXh
            v07n4Iea7tOOuQNuW7aJ1h/lg4dl8fB+xt1RzFWNQn9+S8ZxTMygbN7BcmGo
            oGigilDn3u5XWuTCaxmGg74x6hvPNSzMEDkadEse5sdCMS4BocQFdgDrG14r
            tNyEBK/MF8iXHrkz0IfpyJGBcjqzoF1937/+XRnT+8oHyt12+s6T5ykpzv+X
            Dnkxv4P5ahbanSi7H13siZ9v9PO6bYC//raNyeisD2w+Ot/3rW/FTqrW+omD
            0XtrMJ0yYfG1KrWS+RWfTxqxaHv1ipWesm69QdnVyKM11QzbvMbE349ydlg/
            fJ4y8lTW8iB+R/kfyo9fR9lLWeBiwI7v1AUce5DUDzQOYP3O+cn5lo59l8jv
            Udw84eVci950JKyrwwLX5/lvvYmeQ98G//ca2rM+wLFFpZo/z+rc4JCWGhyb
            Tycni85rcXYONKdz4LKo7GuW0UA8L/s613yL8vdysokpv1Qz3Ut4pXPw0jlg
            TMyrQdk2vOabbNdZ8tUFu0d9zfc9aePmfe6Pe8zCl+5zVEb/3PNE0l2JeTUm
            2RljkC8cs0dff6jYYzj1bk8/krudUwKr1/JN02Je7xhwP7/0EHahbfH5v9oK
            1p7n1liyZ8AOjL+20//H/cG39FsR3f6hFZIJ3kl/9ND99UdmCgDGbNAuR/zF
            UEmvfU7QoLdHvLr8kzNNdlR3/PLkXa8qhkGWAPkPKCcCeRDA8ZSvFGik7N40
            jjrcr53ymH8n8+ywji/tJoxZ//V7nN/rj9/z/N5//F7n9/vH722/wRP9/v2e
            3+737/DYbxlrTF5r/9SO9cJ+/Xbnd5H/q3xcxFsrI5vbkzmVWTiMtcLpKek+
            NQisKsTL3H9Faw7C2G7cg8qQRcttCmKzU4wzMw3jSKmEnGjnrLMwcwWtBKLd
            nVGl7DWpkgK5OPESrnV38i7pnCl/jRWwcwCCdPrjnA/lNtAI0+nPznV/F/rU
            hWFek/lteradd/tgfcXTF7P1HNOFzlvqN12jnb/n/Ix1Djtf1frrz/kmZ9f9
            abebnYfT73vuh9Pve++f9stq1AXl5cLQa3vXtbOQ48+Qwr9tocrx5Rh0Yjqc
            l5LUjQmgiWgzMRDWvL/CoNx5Os/k5y3nBBGHco6kTUVfgszAfBpxv6wlAU41
            MTd/km2MSRLEgXjrZy8Wa7N8CDpn7B2z1VB6Yslv+t5FM0LIbkJutP3Y17AL
            say7eNPqjHf+/rZRzrc5+7bZWboW37XsfZCh7bvOeIB6l3A/3UT+6buwZ/Vt
            55uYO3THqG+kPviML9Eji/1WfefP/HFd7ns8TSgM92yFMeNcLPJyyfL2nnFl
            2omVh9/OIU9VP3wh7Yfc64bkWuaGq8d2CA6EGfFkdyIfADyrygbh8i7j+BEP
            8ncjRhmE3WJN9n7tmsqXbe1lww0hK4f2ODZcriXPwXqFY6ukLxc9O8KtMfwq
            v5fsk9J50zY1g3Iwok3u6actc8z107bMctomy9c4Um5pRcakB+XHVQ3GGOQf
            ACYPnLxTrAlta9ceS/p17G2Ymy6/7rlLp083EzQdn6JSzKdoNioVuFRFPof0
            Hy7xJ4cT/W2pauAaOAACFr2rJmZgbnCrdSqbtZPPqLKkN0fcDHLLcOTH/dh6
            n8OysLYm9iaY7xX7rxw3iusPzHWh2i/MD0f1Ln0Sq1P+yZQ1lulZX71YLmFV
            Vx6OZqtMqyJxsmf1L95TZpvMmqOWF6Z8csfR15JtUxqYkC8/rrBauvs1vrMm
            rHcGvWuSSxPnzWypYB1OPT72q9htqzH83DbSEn214bdpfw6jFfqWYe/wzMXk
            zrVMvwTAImubHh/oS2O2SowJLqhblw8s6xTQLqD825UZWYkyV+KcAF9k6gAh
            zCz59NeTN/3kBFLZX+abWM+pGZqoZ2JNAVBk5RhiPcgnfOtlvOllQjBfTyW7
            rpwvKt1iYQ5GAr3MZ0wgorwXD+tuas7fMUAMIU30sG9dLMjQhhs7WM3FYi6a
            J1liSUuHvD2VDVvxw4rn8sq/zSLAtJVJT+nARDGS9dJj6s0Y08YcRXpW+d8p
            /MmPhJ6Gk7mD0E41YRz5kUKrtmpQdMY6yL+92diXZ07tbfcDie6ASGL35sK5
            M1iazmBBLFVYCbDiKYxwnIqTZP2MP8bDfC/MvVSOL0/AHN56DpR1f2J6IAd3
            +37Wk/ux4cr+7JKj8XOsFY1njArqEYGVH+Sz7AimtVq+VMu7fv0kx0ziQWk9
            YEDk8/zO28i5cOTzzS+ReYyccnDnovq1DvuJekn6nNOUmvHH7xKOoS/p/d2p
            f/+190iHbe0SeFov+/SUD77DcX98L01/WE6Nu1cxeZv22q96fVt5L7/i/niP
            +8uzQlWxHLTPqeFx5yabK+ZnjpibSTzGfD64Q7wGNi59g14u6KXDk+oOq1Um
            /SizKOJ9ibUPWY+VueGdxUZSbhpk9Vk8lB4QWXjr0065gbLF1XEP8H7qv+8r
            Fc45fz9xOvKxk22U+kPmDaJfy5EXNAeQZxkLp75cVw1RJ/9q1k2VXzbj7fzN
            PQ4a6IA19pDPeLF6QqpFSyxTrO1f2vRHOZyYHlfH0FRft593KHfYPHUUunJU
            EtSV45kVIGSPZH3VYysiE13pJ2cxIooJ5Xd05oMLp85cO3Ze4gJgO81vsrkD
            AjGfvgmxHBwu63rZfgL475hvzSW+NzAeJOdy65hi94qv8sxEZrVVNQ7ALqSx
            vSJDCR6rC0D94GLcDfXHdLFivR3qkBmbRy9X03+2uw6Aj/fWG+U5c3JxbMz+
            3FX/NU/ieGqapFsjUIxTj7RJF6f3TvqxV8WyKU/KkA5iE/+pn1uDAjiD8VUs
            IcT8E/RpthjOqcSngPnSgKgqcHvO5hcOiV+aSavNynKfyg/CLI5VGd18LtKn
            Z7NRqC/FBdMH/eTBp3O5P/BHP+narTYB9QC3Npc7tefayaNNWKDvAXPa8ff7
            WD1UroF4ilN3i/BfzT/Q3TUoCXIbc4gw+VWq8kVkkbVb341zPabtAdWGoV8k
            6/a2/t77qb0bLHWhdLSYUCn+xoMnn32mLZyMEceQ3WK9V7ywqP5vC8xRdfKu
            nHwSd05GPnNy7N/y6QKfKr4HfUCiH4J9xg6XV+F0lgMV+69F75nFljpWVkh4
            dfTHP9381P1mjQarMa/+wDmbzYPxTM9di7UxV6dOhGJGMG9pAYfW91P7je4s
            d6+CL7K055ZfxrHG06mvqX1L/ita/u5y4Y65je/z6zzfGVSkuaI1RJSpi44O
            y4MsfmZofNulH9yV5ts+NYad+Rh9xRRTh0cLw7x4n75wz1YKmGN4es2S6r2f
            rJF76p9H6fIgMM3fcfmf9XvEm6sOQJTi7NY2eBRr2WOxXFZdeSyZDlL7jORF
            16iZOtekL+yWQ5O0U7ZX+tElyzGkmnLpvvdl1tveG9FAJal6aYNkxi7Vic6q
            Ew2OlrYxjIqFEoPlWqkHD8SDB+6+94JPyE04qt40qxM8jCSorL/OHJCqzSV5
            veXa73OHvjKPeydjrPqsFGm9YloLxLjAXAFKdZXFC0vn5KzmCF3wCTldcP38
            7H1v9UkZjyN6peIKslFJnnPTcgZihj/yMO1nCl8A7euOKSOZgsFyANy54zt3
            +n3OLDrEeevE0SiuFq+ZEJaw06mvpVxlfkOZ3np1XPzdDy26tUVok2JVUp7v
            TquT8nSsk5NM3ykzfrI6EXzfO80T6/aRmGD6rPuth0v+VrU5vNUd9g0w+p48
            f4yJyPZbecUpP9paOe5bhjs/6cQsHXqYlPPVnvEkJgzXVX5408AYf2BHDtbq
            mpmPKl4yxAtBDOMRbzC/hWjtqQW0+nTnmOxYD26NJz9ho4TPmmxZyT8Z0Oak
            c6zKN7bSF8yTmuRSgtKXvyrPfuvhPuD1mLvsBd0JnxzV5DcnZBbGMbBcjf8P
            e/jkWPrex/RjvftYe5L4sJx9jN+iN0ygXywmo9DorwBqy1dkNN7L1vpO2cTH
            4z81HJQbqgL3WjtnegYA3DqwwPfIjz8aHZCvS3jFE6y28wqsP8BivH/FQU/8
            jF2+sOrv2P1uTOhdt3F42RC/eFmmsumjvVG4L/b44WUth//68RXLjOfn7uGa
            qXayva405sM/v7PZquVGwCN1T0du0fk415ktjcfi7AjYZ70f0Lkuz5dT3/ni
            P08fnmQyPSH+Pks8CEhhNDATviTxpTzp9BxUDmzw+yt5EDPMVFIidf4G9wHC
            EK1Pw0eMFLJ+z7k/56yRCvbAxu+Ztjncb1O7etod3ylHL5TH7DqZsaIH/l1S
            TA4DP4BX6EygPMafvHIR5F6wMH7gj79v3/ZO96mNNEAn79x1+tsly0uz7++m
            62fcuh40V19ju/AGsZUViVwE00NNa1bONcsfx2q0wlWUUQrj5beC5AjXzJNG
            NW14LIex2cUPfM0qXSNlLfonvqxbwvOwS1DuLnpg/chOgrf5G95UEzH95Aek
            Te2bLkqGJwlkvToGdiyz9SlTac2y7wsW4x+wGA8sxgOL8cBi/IFFDxpOGDj1
            ij/3mMHc2hN3GSwSKu0+fezlh0mlsowyug/KdZ9Rzvln0YE8g6lOAfLMxf/A
            EO3wBZVJ2O9v+44zTsJANRjAGnXSwQBJabM8/PWVy+cZwgA4ZPte5h4ijf+C
            AdZOIa0xvcTmmt65YS4L6yMoB/f1bZLuj/V2mEfVG+0G/8DUg978uLNw3M0/
            iHtA1Kaz4XuA94D7mb2bTvJTkGm55yBmgRNTfP00mNL7gzImmD9IaBe2mHk8
            C6aYs3ST/n7FdPyBtxKf9QxuhAzpACtdhWGT5TaOvAZKdb7B9qhj3rqfOMda
            citN89StVpgF/xWzK+Zi+zMwlwmzOp/9cGrO3lrwIHhF/lDmH4UOfvD3r5oq
            pxYec49V8aamu+UeBO/Tbq4lucE65ta1vEMu3+ulXZ0hCL7yDzMmEzhjU+di
            8b0n/wAlDcbmP2bFvnZu/WZ44qnJ9Gm/lzgD4ALWmJOHDXWE3t5r+f+TclrQ
            R58y7WCJ6Rsr/lMP0PiH/Ri/MJodZ7QjK9Dr+jj8RD30a4p/Iyfab1+DGZQx
            T3P+1K/Fh02sxaxWZ854NvBUaZjcR8sp/f4ek02C8jWQRz7rZrHCP7Vmi5fu
            cjMHSQC+eudveDPTlnecF2YN0Z62SGImcrH4uKhcYY1JrbvUkwv0JAbdZ7xd
            YKxlqQeH0BLUpCOsFnsAhDgtX7Xwp3zrPnlxT05c6uRUe462SeaYzZIZWXxa
            fmXk38mgqh4ghmzH8ZPPm/iOpdLmIF3vNzc4g02YZyUcfQXfEYPVubrt6mkH
            jsKcAwkXy/QgVtOUsXwMY3RyQmNIILls1nmmO5HyuCiJyvprn8n4MOIW+mTM
            YNfXqb0lHUAHzWetdyaya3l2Z/l117A8gzcWeJ7zh4i5W4xhqcoF3RwrpTrz
            PXO0b70Qic85VT3u6tCrab0+38bzPVw4eJI8qWMM2Vee4PWpu6a4+sS1Ib9B
            PfP/aNwPszFgRVsQf7Gb6TOZIumbN3+2nYP02zGeYzrHfI79HKcdmaPOychx
            4g/pk0YTTeX3DPloZ9a/ZP29or3XVKe4/MSHcO1Z/w+oOpAE8DflZOFMTlj6
            wQmXZ735Sy7vuk+N631qY6eHdQrxkdSLU1h/FL9H1G1yJNUnUfXe27FRzQZ6
            mOLQscwxmZUXrK7qeX3rcywXpOE4ZgmnvV/xVWU59hdNFjG9h2nXHCM1P7FW
            QfUiGzVBOk7mOjM8HI7P43OicCjzDOZ4ID/xMCQissSrp0xErE1HMeLtApr8
            SwbKPzJQMwsw6SSzFgLu6GeC3w9zzvyRywgQydqdzIUUHvMDYVvNE2O65qr8
            HaQrpPWUH1b6kA4SHAUD55SPEdNRShIf9yjH9/OTVw/Xxv7bdaSPIxG6bkbj
            H4jPcj3Xs113kRIUfWVYR0jiiPS3WBAI2ozdjB8/lZiqcmiR9nGe5DzeTS75
            Wz4EgEb+l4vMWCPauslzSY9DO6xkC6PFlBdFuJUlYJ0cOcarO6ZwN5vHh68X
            D1NMpj90tmfVKPvhtS8toSaD37T7kK2ntH/9e+7YVReOsg/zYJIXebyyGjAY
            /uSJooUnP5JnLLYf7UqU72el/zp4lNEo29CucPkYa/MqI8Btx/TCrOvBGO7L
            47Cd2UkrcwQWELvJxYeMm27uGrWJ1ob1yOSnS9/5PlhwKZ22XCF772u/2Z68
            tPgniMJKwrdOv/X0W61fyepaC8tFBQJp81vteULc/JoHd+bBPT9jh9Q0n682
            9bSpX3MFdqPNX3P1M+Z6xlzZ1xpT+kHQfd/jKNXgz2xgPjNOijYv7kn6eUs3
            bDnAFVelhPiHLwePNny1nD6v2Sj3llsG4CDTTh/lLSMeZh/8qFpfw+yTtJEN
            e1dv8rNgsT6q33rG25gXk7CFOey0K+SvcYC57b/4Gepyx/jwUFdP0KZZJRnn
            mDCe/a0TOPUEHyY6nFbfbzJheCfxo7ZMtoHK2g+hgR/dSizdPP0BH46xWl1s
            yD9ePnmKJ6deRf4vipUk7cP2Ujwc9gKrgY/284x4B+Azyz119L4M4mAupcj0
            J3/kVeU4s+L4ytUDKT4DK8tcuVd/M5hcjxs2LOxBXA/nXPUIa22WYyzwGyIr
            UDjV96681e93JeZWqG3f8y+/MPMjy8+3TZI1czHHs/bf9RZUurRYHk/V+eGc
            NKubMS2nsPvMGwNVkuWuZy4B6ihUw6gti5WnxdxLFwWJknytV45c2ZNA9QB/
            7GPQ1Vg8Yj11CRj5tYin8L6qfLiFOXEyKyKe/IDK+xhPfUXqJRWPYbFjVPvq
            fJvPPet31JvLNyqnvr5VOSDT8U4LzDlvNZZMx/UE5XZk7hXmJwj2fVr/qHF3
            PvPRSyuHWu/XznPzXSqHKHe0yQLD9tX45Cck3Qr0GfNxxR87TyA7Sqd1d3Rh
            rtBmT0MZ4KfL9+/Cb9EayFHdGf82io2zqiZEVH5l5lmuPzUpKJMz5x/3cD96
            mnzqXcUbR4T/oz2RzLNq0YUz/p/6DOFTf6Kc+hNllxKlN1zaZsHqcbKqKG3K
            x88VEPMOJ0cd5f/l3tqNXlWE+SOLMlfMyHHN+FXHItm6K88s5iUqVErzAIHC
            YL4fHRRzrJ65UX7H7m1/f+Ym/dSZKKbzUczd/f2tB8Re3TWYreru4zCok2ra
            V3xmURXpGPPYmIuZaelzOPYkwvPKkkeBSFo9a2I+bPnUMaf+VrEnTN21H/pY
            qAZFbIzhinwHrq3zDHkyzuGjnCVJa+ts/X9yUW/gDeXN5kT9TRuuHeein1yg
            g/y8Y+4RbLqr19iGb7FzmRpNe9PLnvvSYoE9Xvy3jFfryUPcVHvsr/efc18+
            5sX7I2NyH/QZGR2n9ypOLto+9XJTaqqBIA/SZXvjs0a1D8mXeIPanLoH3pJc
            UKQb2p9nDMwza7jBf+Qm+XNM2cGlexdeYV7MYTw08Qr3gS/0o2YSGOAMb3ty
            g2n5xjWUti+u0TjawTP1f4hnquEYOt6qZkWQ7bbp/R59VXv/LMLNz333fS6b
            f5LSlHCOreZXZNIF21NbgxYeBRaX9vLUkVX+GhVGgvSSDr+7Ke9Q7wBGbo5j
            D8CeevdHn6S4dW5r5s1nEq0SsTNYAxFUX9LWqWFOC8Rz8vewf33HeCXvsMqI
            y54OFRZDwnDWkdFsbvv3ghasqV8DYDHf/gI83qo6Y1k5+xc+RHlYC8dVkmce
            1trS0Qfuq/NP9A2CCOxoYvDGr4MFg1ySsvkcsNoCfQ5Yw032StJe6rWZcz8d
            nSjzLrOWH65Kh62aNWM/n9orX9/ZQIG/xzLjCwAd7o5DtQb/X44j/DEOaYea
            ar6y9IeiUiGElMdi3pLJEt1qhmdnfj+s1wYC7a0WDFMopf8k26huyd5E4PV+
            TwtvbydXEtswRCOT7jPnjUyx8ncWvdQzTr6e49e4qQigGLQ3+B+lnK+DIENf
            s/rxW8Ezm3UBq90nfTMbJHW0R+5icEq6dYclKzEmHDjsrkdQrnQw/M6/2y/V
            HKSudBF+vuQ6fst9xgfzB6Ast+nzgWcc5HFseHfbOEAl8Xbi/kxGJ/h7HHuN
            jqpti3nYJ2//xT0nlwHxzj4y5LcNhTgLc3/H9xdZE5xT6mdeKCu2Z6vm5VqC
            ACUE+p6PyLh67DkIfJ/xb+HS0z95h75Zlm1WUHSuZT95fhzphwvDkcYy1x4r
            mob4TFUWt3vK2xqXbEEPIyI0p9FsVXtZ9GI1mXe5/f80diVJksM47D6vsWSt
            R0mW//+kIUDSdlX1RMypsrNzccoUxQUEQs079IqIdiMPC4AVHnvL+f75zZir
            xOuS928j686MI7v1uk9iKnvDtnA7UcQa55VxhcMfk/ON65yo1HWU02rdiddd
            TY8Ga1Y07rN8W0dI5fXoYMrhg5WRK7uSX0M3/Mj3OuHvS3+vn77heNfcVPa0
            D5Y5c315fm+aA2f291sfP5jNYt+iCFqsBxk69zAAmOyCZYrBus28NqR9t582
            Xz7/Lh8bYw57vutB7vk/9YdGvBHub8X9Ra9D3tNRetJ+H7VLQbwiyTnt68FL
            RepqM16Qm/rjd5JX+VfMvYdxQyA3/XzG5EA8h54xg0MtYPgF4Kai3ftARkh7
            rNE2fex+sSmj2Rn/9Dk9n1B+IT3X03uu4yz3cx1n/HOuf2o4wIn7tXINgf9q
            k2KnO1Oz7s/e/7EOjSI12AnnkL/E0zEfttxEbOZixY1nw2ANlQphmUqB/rxq
            m0XTRrN+7+Y9nYbTqYbTqb/XhtwUmEVemuuz/3JBl2pDD+rArKXn+bLjqWE5
            kvVZDh3cqc0GeCJZdjEEHrDftb8nj6c+1njOnsdr8tvLdo5UHDzAQfn9zxN9
            kX38ti3EUyhLJuMm0erPUyvA9ElxLChK9vj93z7q1/YkYVrjmP+vnQSPA73u
            4DlKWOGxE/Rp5fBrXO8gywntpHVRY3b7v+XasfarKp7OH/+vMwbnz0iXWkAi
            zkn7uFX2veUy81IcCNZobe4/Mr3gJGLvfYOMM0bPb7iWWX2h+wW17/I3rkhg
            xdjH99yymOLxN8AnhGSzltgXqpXVYtU4hhRAFfh2jd3hN9FQcl+Mgvfre9SX
            ww73Mpy86QGH87WRtcCSibzr4zeGPAGsaP68D7U9+1yGrx//LHuXNZKrK3cg
            PuMGL4MYFXNNBNDtVpDOuhgzmFat5KHq39JQO95ynxd0JA6NvZv4VqBCGZts
            7X2iD4545Qrv9V3b4sxALpIb3GrPv6OuETX3JN8KJWelybzzWQZG4x5fDo22
            dz2LrufaxSwnZ+/RfLTPUOv6jRVaMXXKJGh+kIFK0r0WWBeJUXkYSM8Pe94X
            zr/+2PtgT64/9l5srw7qvHW3b2iQuO+aho9h7Wzo61E+Zu0MmkH5E2fq1LTW
            BIGLyVaDD2N7jNH8uVtzrMNrSV57yr9qT5UYGOqMHGTmssfTX2f7kqNMunb1
            DIt1hete3bRKQlc9QmJt7HMP8rCGxXqN91UhunYpB8Xje6wG9sP3lJ++p/XW
            //idfJ1+TcwzJbeQnJ76usBBg1sbGIpc0FD5xzrW92z7R04xiDmuqjtSOm2p
            AJb0Ly29ymmtH/YUWAOKnJun1hgxFqgFNL1HhfvX7ps99/wesLFfxGlPapYr
            d3/sUJCUvxDNrJjn2pqf/L7+C3i5T93Ic7ssvgS6mWKjt2OSvb5AjTpgj2Ej
            YAHohucv6pNlTQD/3sDdMMYkebF4yfXUtiZjZNwzrFzVWQBoTJyIgYbykhru
            Tyzmnne+gfedYl3H8NffG11mgDXTU8dSreRNTTpMHEBOBmj3Qz9D1vJMfiZs
            8PZ/P1sso6rd4P1gzfdrw9FgaimB2Id0d78O9u4QBQT48VO8yThzxfzifSq/
            k1yn5QXU5Ctxr/jaJP0yRLDCq7HK/PfmOg7aPQG64znDkMg9r11aO2mG/zwT
            aKq0zvlwvMa/upZuX5ZTh6C6O9Ahp6ama7uhhs/3I9YBEYBqTYo3woSipPqh
            xiF/W5D0MGhoeqgwC7SNh3+PxdBBbVj16A6M64qdBvlVbq+YM8Man2Kbeeya
            ZEXFNFgPd5wI5iehF1uj5qHUN0qqHc3rTk8PsjiW5zCMj8oN7Qd7TM5+YBaV
            7wLnNGRQGmMi1pLk6zb2bevAlKDWC/MAYcmB85d7Wo4jCWwdb4KrAN+N4hnA
            RWz4GosNPXZ8dP1c568pgb9jd+LW/u90DI/FmPRY4jh0+OoXlvWDhSL+rSgm
            yr/zMvwPxdgyJpxf/A90TiEJ1q13m0ExjYlU1LuBRyCpv5gd+Jkl4F1nW5yV
            BeHdlSY4bNgzCWKG3TDzCOlCTeA4f7S1BqdWybPeo9aSoADM9R1T5yXjJeeb
            2BWuo4QH27Cbrs32Nbp1jXzNHOeE+W78TgLZ5XfOpPw86BcB5yQBdvtqB4Zb
            ZyfRVwSDOuILCbMHZqMxhAE5MM7QpbgCeX9u6pXD/14n9+jivIjNFQarEYPf
            gLV6YCAjNXgWZ/Swg5rGJqi943FRrgQSnHNa7lLdJeD/M7D/5E6Yz3dAx9K/
            g3OPnT1RoHBQEP+JYQMPps92AOe2Z/tq+TlOrJiNxRv6NrlX33fZ+bFrmot6
            lshNA/m3BkmUO7U2lLOe3PWSs1Aslorz4giB6MJeWB0aKLmPZNziF3V7Lsy4
            Rg4oKT+ZeAJ6CnCRyxd1jEIMgjQIzlHtBayO2QYqbOhbNuZ7Hy4/YL/lFOPw
            QMBvuQ/J7Sb5msTbsz5fypiccZOjGFz2SULnrbYjJj4rtCfQJYv6nPgrzHLV
            srjVjrr1Go1fDLzKUFy12aJCPxuNG53YJ+z4Vh6e0ZQYv3bgL4PxK3MfKLpX
            dVeXoukydPQ6QCJiqbKWseRx2J7VxZGbC6aAXrhvjdMU87Llfc2NdmHIA4IG
            nH+22bj68J5G8cDRtZbaE5MDyxDOwhrbJs5PMWzj0WUsOIcntTmG6ZCQRIf7
            VvVDMA8me3Dk44P/O+BDwcN6Qr9EMSNBeb87dV+CnuzU5eCUBDUwwGcMHEED
            +gd+h+9DLrgRI58R/Kn4/gw/A20F8YvYEapLTcx/I8r1qJKPJuCKOjYh8k97
            rK+VqAD2jaF0i8mW/Ru8RAE2fx6314tQKmYO2lif3WTRScA/ohYNvm7qP4D8
            sH75zSGhizUa9a9uAgUBbd8EVjzA3KF6oeSACGC1vmXjwqcoj5TkZsojVdUH
            cKJ/39CgQ/DWqPUFfmf/v+suYXJA8sWrNgbj/TDcBbl0TdPCeKDUtl2HZsnp
            Tq4W050x/u9pf0/Xp/kH53pJmWpjxIcU98vgXKx6PRxIvBWCBQzSBWlscIQn
            MEqTL7oeiuVS6i/lc2uL+f/EHDX2lH8Gnsc83gQGUOyFvMc0hnJFcvBTof6U
            BDTzHgU9C5phfhyPhM+54kQYM1UX9SBnHHS9XYXsvv/zX1Ha2yc= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
