<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.2006</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2006</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2006</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth Module</string>
        <key>FirmwareKey</key>
        <string>04ca_2006_v4423</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8198</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2006_v4423</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvouPYoy8+X9nlmAOuC1Pk
            8ywppxJxf+G/Fc8i7nNuKJMwkBpiCMHhv943tF3VasCc8OqKZ4+OgL9yVD5p
            QSuze9H0vuP9rJz7HOul0p7/G/5od3/ro+/50mg8Gr6ONC972ruL5aqTv1S+
            t7sZ1Pwce56pxjPP3EPWvnBuz87YJfq+xuBYVUy8+sPdvbi7lfkc61f2de56
            1n7vdw/CvpbJ0aPFvtcm4WYe3bbejOx2qa/ynIlj2n/VXKtXZVPX61/R6Nv8
            fH7UMGwcX8/zHl+8avPaAQ6LejzLpBk0W/2rrWPPYf9qK+Sw5+6r/J6kEb/6
            nII+GF/1zzSjjfSrnv1vftWDTaYWzq/++GrPQ73aR/l7Lebnc1+5Cly+z+eu
            7Ofx8zk6qPrjd/3HLj9/Ka9tk77rz4cgU/oq75LVn7/KoxZ7Hn/pZ7dd/fm8
            TetP+arnXDqb3FxJO8AXbNdrPssAxsTdt4/n98EtX+Wx+Opbi5/Pb/g6v8t7
            O0mzfj6PtarP86vdUGKyc/X53C9b6zV/ea4Gzq/yIceNDa71Md51Y43P5zaD
            Wrv10568vsrf8OGqn8/R/25H/Dqfz3swkOKPz+e1Op1fHz+fu7bL18/n4y7/
            Vf8xrfz5VY+37qC8dkAQzIno57OMy2mfl+tr7AJGtX6Vr017pn6VT6hh9+H6
            nPMsMHkdn8/3lHAOP57HaJspf+2x0A0w1a+9ZDQAxyW0+MvaeWDI5/O01xpb
            8+P5dT+fn89dOG4g/fH8BfO/6u/38/pzu2H+3G48fm43xp/bjfXndudXPdee
            Be2AWAzLfNX5gr1fdd74dM6fy6/vPm84sH5T/6q/ef5Vf9oI+vyq/8Y151f9
            9X5ef1P+q/7VXtSG/5jbfbBr/Xx+w0NQHR/Pb/zf4lf5PW/tq555l/+qx/UX
            PfLz8/ib5/U3z3+oP2ftgJTP11r/+O38Td/Wb/q2ftO39Zv6R/x5bkf9eW7n
            8fPczvjz3J7f/Y+v8xs/6tk0XImfz8feG4CV8ae9Stru43l57aX40/mtX/Xf
            85Ai1uL5fLzgT/6pXcCZz+f9BWfyT/0hOHw+LzUO7QBQ9Xed8fvbvRbgVcrH
            eZw3PfD5/J7D07759Xn8en68zunPz+fX892f6/j5eSIciL/O+fV9rm98/bU3
            7n6Ob/i2n7v5Wf+9x9z8Da45fn5e9njveo8Hl/bTc7fn4d7r9zV/7+H5OlPl
            pzNCXhKfFIyi8tmq2gGFdTtvh2sYB+lc9xqptnLds+VA6ngwnAGPI1YnYeUy
            VrX86f2qpMNFzV7HJ7M0vpirm29Px/Hmho438/h9/8XhAthFUuPutcr/zj9/
            fH4Vjw8WEjOeP+7Lq7v3qa8f9+3Nym6I3j/ux2v4N3Sbn/dufoxv+vnRwRlm
            +LiP86PD4K7S8/6M82MA1XZATViVc6yPd+c8P+/X+THYE/8+7q/z+lf3R9ce
            nt9z/L0CH1v8Nd/lSyLQvnj28cYPe+buGbtn6oUn9sy8YZKu4w1zbLT3KO/R
            fF6LkWjN9l/NYVOe7nQ8Qf6IhJJhOTtPqFaSmsev1/uA0lVAxh/9dA4/3eu0
            z/nYjM+dmCkJAfloZ5OfD5Y4WcvQRF12HLzjmRnrRBvVfW3Xaxk32JJNpFvT
            Rztj47K/j+3KEXa8H/ddZ7/ed5RtvFsHLGgaf8toO47ztcjvMgFbVovc0dia
            Y+2ePcvEs8Z1l0ltaE7aic3xLpNazCb9aChzWluJspVX74B72/tuzH1n34Mt
            wZ7AbqmBCMW+xzr49xcYy3p8UWa8bHSOt9ZzrMf5KFMH5SrYa2lhdM7mM3sX
            H2UamHHxnAmbK/mhUaTqnqMDOQ8uZ9dT5qgbLzxnabga8pbVYI5tBP5ztuea
            ed6z1OfA8p22A7pxJOFz5hcaPUU8oOtxjr2n0PK7DI5O0qEGD4i/PQ/TPecK
            vG2cKoMqMEHdZCbPttyRaxJHXjvGGK1Mih9lHPjJov5gyq5ic7Wyux5l/KCU
            lOvC+TyMgkufbYUW32VyHlvG8lEmlkeZ0neZz3rYvcLzUohmq419Re8eZbLb
            wKfzmO624vTPeoAhgStZD3af2/UAeIVHmRrIcey1W91OwVn948QBHsWqde/l
            OkK2OSyf4+quAnpEyY6OiTm8jBscN6ro3a/3rs/cVa871FoedQ13ANE6yYAI
            gobRpqE+ygAEg6vdZXzffarhcfrcatGwSwcqGtPmCIBrPMqcwEhWBsuCw742
            /f0c27Xm3kNYs7XPUo3xMUce/FYS3G7cZ97msX7MkXeJkJ6jR1tt96d+tOV9
            qsPmEesRl/XnovjkXSa0Wuu9HtfckOuzrdhqT6onkUCyc9s+20o5GufS0S2/
            4Qig7bMMFtVkuIMC8mxlcH4fe8iXRJkR99nJI2PzM2Y1XmDG8QmdfXWEmd7W
            rnYbo5/pAb98y9OrTF2CKfPmJ1UmGD1ZfXFYHsqiOxDXTD2f2PQYAcp7YFkK
            MgLgSMCcAiOCHg3ARJF8DnZBBY7ocfy75XfrRkUkzul1kavGf6P+W/VfPX+X
            m3o69XSp9FLpVT/LkVe8xIkdpoWZ2J7purD7i5UL0osErLxJ7K/FKyiA8yqb
            aPkHf9p9XXtd98Li1z/7e31b7dvmCLV+/Vvlr797AejKP7//qGftevo/+/vx
            2+uf/X18e9m31Dn9k7/vbzu+NRm3SX6NP/zPPbl0kkf46++3dhLH+/rrb2Ll
            08R5ADzoX/CVxCDuGzYU2AjusFjKYZLrUM/ixZYB2ToeqiTo6ddff+v3Q+u0
            lsFrvyneMxnV4uOLdBaF4je4r8nuw77v+759kem1EUakFv4JIzVATYT/Av9F
            rcbgOP/197dm4SWRf3DXT87+m5Oe9cVcOuNGvtiG41MC8BOHvsu7J3P02bqk
            Ni8V6I/vX9Lpn9+fwwnLAhPqD2Dt4t9DYqLx3Uv69flLWj62lPx7fvKev60s
            +uX9+LH9JiyRuh9UmbwlUaZlqFtR+mtbNle3xPt7rGH35Wx2Sr6/X7d2QzrL
            X9+Xyyjl383VvVduXfj393/696e9dmsgfvd+7vn5RXzzWkvTePyuwJ/Gx1nP
            D4nK9+jc3mvHb/baLX3+3V6+pdDqa9EOGPeDX8rGP9RV//D+D32pfzgX91q5
            9h9f6/r/da2v/9pa//fnLwTtgPltWfLrv5CsrRdMCcET3NzX15iDlfsuf4Z4
            fk3fR/l2AWMl4iu7rn2dxbjr07lg1BM4DTyP6+bE7Zr3tRS7VrfvL/veAQnp
            +8u+v4pdQcimn/o70yEuFO375/O7v6xe8pNhV7/v47JrKU5c01rRSZay369m
            1+DsfUz2via7v+fBF+D99MOevvY49jxI2jd+LZfjl+T1fSpNix3tu2l0wHJP
            nOn+cL1r2mMAi9JsTlz/qS+rOXF+Z7HrNewKflOSh+jsOse5QEtfttKEZS4S
            gIxo17Xvr2pXF13iFWyBrhG0uxdnF5bfMsozD29nvdXoUw9gZ3meQNVT6uio
            yZU40plUkSYg34Ldjyl0mxCgMJjl3J/h0H3uznWQuyEfQakb2xNdNILdaxYf
            dFLc95it06R+xq0H6oGCqOKP8nlE7dUrnOJAS1rzeeauEN1zffqIiwcCvEJL
            pzNunHJh7s9kXPZwp5d8rey60hRlHMaU3VppKz3boMLg2YZrQfusr31NVv5q
            S9y2W7P8VO8ZZn7Wu3Y9j3biT3ttktN71Au21D3raW1en/1dUgs48oZR5iDh
            E24tWbuBno/G1Vu5Ff8ZRVydztc5j//797/z36ayrjH+by7+l+4AcFq+gxTM
            /5n65/HX3+DKglT1gdI/3Qnn1LXvpsyizn23VHLiLprp520dU9x+Vt98aOcz
            2jpH8tznQZmH7rMAZIuoVXokadJGotzJTZoa0y5zOdBG2TfKoqSEqhlYoUjD
            4ll+TfYYGI7SpU6jtSECpVFuUiQ3OaLkJehvMukKaICRnAdNuSQbzO5Cpx2u
            NebkrhLbtU58lc+rJH/ZaAj5nfcZfQm7XKBQsKutqlmYy7VlRoCdzbp1yHYo
            A49QrY4+9T5oRE0z6JzrVca82rWl/DOaAUOIW6YTvJTxtNI7s8gOzVE8Y4vT
            ZEP6vbacyF2UHE929mxUMVBMdqHaK06Rl1d1RnGiWvTD5njZcxdrcyetbCVh
            dudhv2kn9ywnwzMrR9uBu1ylzJXGtxmTmq/T5WvPGxVplDMEElt4XlgP6DIx
            JzLkNuUKuxDmfgcSuuAPc4e53r+Dp22bTzUVz/nj88j5BnqPXAvWk67Tc06o
            WgUZMt1VL6JcGhCi97QubpVkBA0Ws+d7EHc0V3ARbYPkpkSnok+xXNlR8ePV
            t3x4rFuXeLuQZlcbk/NOszDce7/XAeu4ClaezzCtbIN13Pe2N8ca9a+/Q+dG
            4Ab1zdUFqhj7ifPdqRC+/IUdwO9BQZ3onxfth3uwBGesl20QnCv+/i6bH2Vd
            sHeTimHndTaq15mQLSjPjg/cpnZ2eB+pq8He4pzlSSP52KqzcwVOwjR/085X
            WSZbPKPrdt6c81siJZkO9pHf1k0yMKF2ZlCndIjeHiGqvqtGKeprrRQuedDx
            Ro9Pk3uOy+h/D96DJ4mnDYRpovW5hK0YwAzYa5QhBazhjAFf9GOiuoZzGDxm
            HMT08j0s0ncgiAf2DkW03D8e52fSbtiPAPovRN/dpKhaHER3YdExoTvU4U/f
            /WSdF7UoXDf2BeuKNjKG16ytC216vyi5Ola95hXPUsdV/MLZd6CZ0W7AhJ+n
            /caZvc4Bjidw7gsV/+Akl9Zm1gKu8TKeo5aAv1m5nHlhXqXU4nP5WKR+lavT
            vvfUKaNbAZ+FRhhhfcXqjWtg32E+Dm/zkRInQ9/QUSazXMqA0+Aq+4azIwhQ
            veCsZkXaszANhh0S0vkE+Fzf9loL85TbVcoYjVJEbHIzIqOsm7uBIM6tVAF7
            ax7tJfc+rL4ZgQ/xDVnlo0ScvFxjHdi4RXCOvcUOxFosN07KJk7sTe907qO5
            xNx1xugl2hbWo5ZNWgmAr2j4BmvSU7yKOwfWE32dR7r3225zURfjC06+O2kA
            EXhmJ7DJQom6sMbpuu65bkt1ZMpmvusI/tc65ml1uPKuo3arIxw/1LF+qKNY
            HdxTdx2lWh1ECt91xPpDHYfVcY3rvOvIxerIP8xHCr/WMZrVQS79riMl4X4s
            4KYi2jpedVw/1OGtjnWNU7gdfVjnkdtpeHEcPC+GiyPWv1+0FcGhwarJKodw
            FXu88v6k+eVJPrbmlm3vOQ/Ux56OAKK7pEavjhHu8rpeRMSn2eBXnHGUi+LR
            cR8XMAdwB+qrGEPtZTYcMJdWa1fszpfKe/ThVSdhjfp37v5R9wP0XPcz509a
            AbhbLwS4CBw02t2Xj29JL1W2XVuqu4yM8nDOvdEh93vU2QgP7nZY5jlPF/AP
            DozmZRJ3e5c1NhqXAGKSXuLZIPTAWro8s+/4Yz1ZbcReXcGSBeHqvOhAdnW8
            6yIKAmu28gt4CLNSqNX066QO3e0zSCkR0DzoQbTJOkK+SA2iH1pnV33uhFGN
            ZzoaHccxsizP/KC24CAtQttuiSP4lsOpHdQ1tYig5yKf3ZZRDTCmAaxR/67+
            zIjxYW+JtluHrtxa/OrE2BLRENpNubp+Ysc5bPIyOI/AEyBYgdUIwLCOP/Ub
            a+Ua+uol3mMZzG3A3AIpoS4AfvrVkeQ7223r6UEje8x0jDGd2NNpr1VpFFrZ
            /JKwARykI0KXlhG9m5qPRBKmSuI/rb+LdRPDV9PSgDLP7AcNhEHTXuoT1nsC
            CqhtjHUAgJ4X4CznbVZHXkI2hPE1bwUwmg6QCSdSe6Ckq9PNz3SxvhacIVTP
            70nDEZg0SWiAP+ntFuVWNUQLSZxKKETxKr3HQM+BVA03HTac3pE+B/VAOG7r
            cbqCuRZybziLtEAALXBhTi7SN8HacUCyhGHYu5171NOEpsTX2uAI4n2lxSwQ
            AmrnbwriJ/YcphiTjfbSXo+775SChQLSM+GMbN5BZ+ESvRBBv5Nc7sS7nusF
            +iLvuWc50CM9kyZNHnTDClyPtOg1guu4GugJTjy2PueZWBnkNU8I4YXjHsUe
            xFmebTh083metSaEXx2LiL3ZeN/YtwM4GvcErbnb2SMPxv4k0jlYmXzzZMEU
            yba+GTsgJJmIgDY/cVa5Z6i3I58ktd19zkCk3LJTzK5w+42PQXeKRgS4l4Ml
            dkraNKFoyRmN5gRccaItA1oF9qibJgBmI50KwEdaOvOZ6NZ97/a92/de9Esy
            e8Ueo+jNq9k96FzpYYKzK0lH0a1t3zfRN7JExG5p2tubJrpAM2QaGVHWOYEj
            0S8QwBkwqUkH30rVGY0LVGpszXFu3X1uQbNyjs/DYCE5WxCeeOloz+AMdnvT
            +Gdpmv1acwlGYOxYPRn9x20j62nlVXLQWY4UGNsa4jnWtQ+uOc449oMbMnbR
            84o1PM8KOhp0LfjQ2Y+u1gxOF57dQWU6+qg9fxj+iGtxG5AS5n0hXNN9o0Xj
            /j0E7xr3esU+qfNadxl3vMsswk3Sh8B+NIrFbrocncfIC9Jp2Fyf+2jbAQ9U
            Lyg1Ch08aQqMpOs38V8j34g/0KC9X2u/AybMPlOTUTGyuQLP1YuPB9/QjzoJ
            hzrpvYkzRVy74SNo+cvceenmRxYLZw+8xWv8RtuQ63rhYcI4biYv+zXiHeAB
            wPywxrnxUAGRIDkAdoD25Nq8EjDZep4XrLbuyzBa2+zDLq73vHFaMcu+LmPc
            jWMFd0HLgEZAMRtv4i4wlcPce5N2sJWMnq4ERVX4oembSHPYDFgcuV+xTNjH
            CScWz7CfK/g3bLVFncCJvyuAigDdQrokBH57kM4wGEvJQaBhPXgZsEU4R0Ba
            IGpLBjcJio94h0Zxfg6XZqGcAiTy8GlKyjNRNvzSV7C5BRU7tJHwFRg3rxmc
            xL1XlRIG3Xag+5orTe8deTpsWeAOMAC6B/8sA1j3Ucb4C+xD0r7gfHG+SUs2
            QrYFHoXY7cIZJ+eMMYDlFR2Dc+gD9b8ifcH1Wxk+H130MWm5ofeX/CPFu8t+
            kF6Qp+FPIH+vrYGzh0WnUK2mjLrJ841dJtsZGovQiFof2re/LcBRYO8h22vY
            Y4Kto5rBPJjNsa/G120+rHe772sb1jezG3TxEzYEzvhF/S3OKel4YsMGGptj
            YP9ppBkINb0nzUFaUTyPA4bAWrMOj8mxa6OAogEBOkq9Mk1JyGkBUxH28lyD
            viilA74OkADiSRfY7FMyImf/u/Z/r9fv+/75v+PrDa2Sy2cfMYvDc1WqnemA
            UeQJviVgfz/K4ZxYuWhwARSGeI6SUPYAjwMaxmO9+A0FavrGic6qhFOuXaej
            2GbzB560HsBHJk+HPUpRlp4T9wD1jkh6gmEoMCeSPTnOMXFNueeIXuTcZwP0
            rMcCEWkqCMSJfbthH/Z0q804XskPHLrSMe52jVRQRwbxB/gNQId9nMFVZkqB
            LtqUElbyOWV0F+BEIi8cr8lz5KhpRT+jv4wuRV9ZbjXSWYTlAAw6BtivmK+T
            266t1G74vnmddz/ffRvsG+Zs5mu8YSsFJV7yo8MYZ9KRAdTiNarJpfK0/R+2
            vFgwlaT20aUXDvtcEN+DgF5l8846e9jPdKTEGiQZ8E/id8kNX/ITNX3+9Xfa
            anysUnKUU7MUeUNOAvFkz3h8Uhlta0fjvShRbhRei1fCXgnxfpdPkh4gsAEr
            BjC6Fw0NFHWl0BnKhDJb8j1uAjZUCuKb9/PMUqouumbJdgDw1IQ0Ng/9kpxl
            nVtWQTh26mzjY9KPHNneuzrXARTS5s/BFIyXfOkx5/Qyw7ydinLB8Y9IAI2h
            glg5ufetPtd5LlAnwfKWX7h5jZBGUFnQtj4I/p6efD6excNUs/idQVZrPwrW
            0gGOLDeu5Au5b3E+FmEt9tsFYqpSBCHaqFKhKz7DoYYQw+XpsQx6bVxOht48
            Z814TNAQ5GcW5c6mi7h1EmbMs+0I9tjvfUVe1xMA73kVDloi0SLlHYvBPyLG
            j64V7OnjJfOQubLN6a4zZq3R2XddpHsd4I/w7kHe6CE/YQiTYHXNR10L/Mqz
            n6mIlj7nXiOjPSUbSdGo9VRpIFqjdjHF43KI8afqzIxXAx6PYJNr4ti5bnCe
            +pSOPUyY4ZPJKDVfe/6aA30ZTXUkHEIOCrgbrEKlXG7TJW1K1oQVOAHzotG1
            56IXO9YlejeCYM0QHwWeh7JEIJJlATday05EUqMC5GiUL7vFb2q9+gma3LtC
            yaf35Tzu+le6BnGQ2OZN624HJvARDGNTFFWFhhWuvr8jv+xI9xcx7fQr5AKp
            PbzvN0/IPrbzmruPoLDqIV6RbWP/4XnddD+o4A2T0cezFol/g8M1aI7yRUP0
            elGItsRHkq4gqMvCocZ/1RoY9icwlkc/cUhMvj7PU/COyhywRI3W4JVGotH2
            A+HAAk2nK0uduTWMZa5rit695WxVsmTnFeOGviKMiEHf6ZPqHfCjQD2Uo7GM
            IrCI68K6f5arDcdTew3gnHBe8RmW9hpB5uB+lBB/ASpi7BcNh2sKvpBuAMUg
            d6/Ast/PgQ8BSehsAxJ+xq42D2vTe+nENK/4DlQOJbR45kxWRjlsoZiqP+aF
            3EwCKiVPzzoT4bvgcwDwH1ozpzYwGpxVwD7RyZo38HNyEsX7pDnsB/a3aMm4
            knSgzuYIwGBS70bYQe9GYIxWK8g+XGcDCSla/KQN0PvbPb84g69vRyHSSonf
            xQa6lmFBsC0SLXTpYwS2fstUNGYviz93vORiOOg6E3X41snxcQ7k0pylOwC8
            7T3SzSx7ymNAq5FONd9E78LmnwZ9KZzRS9xLA33k+aJ4hvQeae3U7LtGys+Z
            rOyWi5xxEd9k0ZsV2I20A/Fi3v6c2ZmlddLcF6ubDBPuaenHHYi5pvyTxCz4
            TayN5vZKw2Q/7FcHPyUa5bT7kS9wgkXm/fx2yCZztDKjvsf8XsLh+/t2f593
            ffv7jrW7x7Kwj8nv5Av0LWeWjA3QdFH4Ex8ZjCtU8gVnF4w33dCeV1tjcHWD
            exk4BuSWyaumfFHxzIlW6BRn6J09w3nMnXILyssSaPMQ8pbRaf861kHjLGAH
            8UqGLGwva8+yfmtT9/KuxZ5nYJk00J7jfGBFu7VbW+lqWypEtO3yaz1nW8Po
            NhBz4FsXvj4fsuFKKsZloC78AYJWSp+xdYj3/AV0HyhXCZj3UpPDAXAkoEBo
            gg/F7zMEsA2ZcQ/cAhvYLxpSouwMuXv6K5CfWO9yYhMAwr7LBpTlOar0hCBV
            Bl4WhYYboDMmgTLoQZfp51snJpl6A+oAsPd7IA/jpBNYa6NB6/9rz1NEU7Tn
            KWsCYvF1dZ4Xj1PDMHPg1TLoIDLS0qnY995gh+JkaH6JFrTOUvpxjYgUMJY+
            iDPoK4ZzOgzmkmlajDFHpcr9fXh8Hx5lOoaK78D4iL7EHNS1lpxAb7mDA73c
            vfM8i284mUymlQC7exFsIE0FKmx0h3PirjPLCsHklUI92OPuwrnatg5Lunrq
            t7PJj8DbUOKF+SaN7AiG+OxRrt7lcHgqI8OoXeLHlifbHfM6b5lOLgAm0Xhu
            2ZlMo5PduW0ytm1G3/rptSMGUBnr5dxt17XvXXbbLee+2vfgHQ2qWxA+IFq7
            Uoeseug9PuRm4m99qmZcFAAg/GXzIV7i8ZuSfP32j998XsNx//b37+Px/PEb
            9YGvCfX+fT+/9adl8wrH7jNQvWx41+5rO5J09WuPLR+fY5n7Oc6Gzcl93c/7
            vvrqFLxtDNAiQBvn8aknArWD6XvvA1BeQfoMijjIHhwrAVIAbJPasvtCdheH
            L5dCgRO/7/f32L+O8kfSgS9vee+XSHpPhRx2P767MummTNA6Cb36/o1rPH2e
            W9fXSGZy1k7RWSDCHn1VPwu1HugXYOwizY9zRzV2BqPM8oz9+NJxHVbXqmeh
            bZibZEbevKidF/HQKknajzYA1Dv5bdeiCXZZ9D+lQrE6Hh6j98EkgtalRcnR
            vfR7BAHTgTPxTjqbRhVtd9l+0wyYdC81W7SPOOh0ZjCwke6fS6KPDpjPeqmD
            l7m8vjG5WN+/WScIM4B7s4+5ADsAIRWp4h7f91qTU6auE+PptF/yP8zZc40U
            WvEkLcj1zqCEMjBStpALuPLb7BRj8+fvjZc0/TX1+dklJxOnPBiXk/tI48a6
            T8b63PoFIH1MYnY6O/iuV7M715w7Eua5LWe0dWwgg/pQRB48px4xBPDK+FuN
            +3ZhT3XQpYHet8B1jAeKudUpadSWSG8aNAby/9QVcL1ApxDaqY4Te/k3dfgz
            DtUDpj4+6iAMxfi8w/xhvM76lkdtdqZAmVH2NeoAE9ZXQxnMhb1LJAe79Fv4
            y4FwW3Vh+xKXsq5fylJ3qbWgBAigGr/5DfoEpgHjUASbT967g1/JWJN5PvYM
            68A60/T/IJnq7AxZsAJby/wDDOlUMnDvHpkByniuE2AIy4onyYrfANqRduI9
            WqxW6pQYBkI2gToXgzDzp311n2WTk+RtO562HZXhm2NHNHOZtpUHDVl0LkG8
            YI+T/3c5PGU0koKA0RxUVG27RGBc0I+g8XMdpldmjyj3sDCkOn+H2ajQvgYd
            TfWNr1UneRV5v9s883tg+YYdL1kL4Qzpco6UshHi0AWCnOVYvgBvAajlG85k
            WZ/4vG0TRYMHJ54x4cDLVpHSFsw39dkiAaIQXDkMhiXa5lHg6ea7bIh32V3m
            +Y64WbJ30uGCReRIgOMJfCS25DBBUR5XcBf1vxyjTAMHSTAP1phQ9axAImeW
            ZSBGLp3+bZNlK2r2Ftd8j4c++fm078BiO9b10xhfY7Oxpj3GbONI4cw5BO/f
            cD3tOcm/zoXmnX7Bp6Nn04N/BxjskTF8AUcorwEdVED80TgW9wnwQPaEYBfp
            Si/7Nrq3U8bDxrv2zb12oKgzIzEUR3lDLoG8HcYrOxvqNdQP2vlWV8rGVSxf
            Hcq3CEontsqDJtsDGvXteqvhqJbp2yxGnDaYnXaY4tnWAiamvShliiTTWQ+j
            Btd6rydtS3XEaFuqsk62Q6/1QQ/nroPPx7K2GJvCgY9+2WPutjptK9lWsLbw
            X+6RQyHAnK6vtvr8bCvutliHbCgv4DegBErOKAO+x632QAkYPiCRUxRIaNt2
            RsEa6nYO05VJsuhPk0/6hc1c6l1W7ccbtpgtptswxu0oogDb6UmjnlP9quF4
            7xkcbqO10sZTaLp56QBA6ZrfunSiwBugOXuSWR+egQADjK/gadeDn3zLQ4hr
            woOPZH+2bAJ1RC8deUpl260dp6sMaSadGeVQMjukxnjJaZzjTU10Ub1lrJLX
            oa+lyO6RdB2o9+wM7hr9/U3XB8ArIGxuuZccVHYg2hej3Xpq6XSwVr3HRXnH
            8eAzeB8f99LZ2/k8jLLU2axz6xI69jZpo1c7oEGT5H5FYiD+BvGFOt/4tmH+
            ZpMOtG69ZLvLs6wjj+euTltYPBhLGsdIY1vvNu4ZpLOma8eWZbVg+jrqE+uj
            /3gO8mR4yixuPomG1bx/6PrNxu4if1F0rFkP1xH0UH3hvmT1Hw+cW4mhEj0M
            ikzUn3N10Q+iupbks8c9SS/xABiKuWjgIKqjpJHBq3xLJrNKpEsaL3Y/yc8a
            l5UsILljWJ2VJ+00XNu4iTbD3YVSAaTI05KDCbh68cBeQs9B+5nCSEbGIx+S
            HdKGxGQidsVBk1wIGxb4d6UA0M9QatjvkybxGfUEl/VttvufzkGnPTaNH7D+
            tFM7929PbEudH2W/wLmFnrzgMRKlNBjPeZieiXKxFikp9FjAq4aerL9bVkMB
            zMhm+0c5EiCT8LxkcyejmND/5KpUIcSa3EvutkyHlLE2tDHjwTEeAlRmBmzw
            10yN9tyf8iry8nf9lGg83x/3e7ffAwtxDvd5kI0S646NsjPT75Ey4LOzjLGW
            ZJSdAG3ziIHjd7MxjNNpOkQJQGbyGgdttG19ow+1EDJk8QjJOdl2VUAerRUj
            wGMfcx17UvwNrTO4yUTeLafDvm2L2s/K70iJ85tMPvSzbJIpPmAv+zdrPdqW
            63fmJwBqXGNQ/wWiQfg5puFO2hKKvCuOJuTAJehHYbjAk1LCSZlmxn8z9lzC
            9yx3f3P94ZvdHx6+6glkuR/lr0p0cTXj8fdzf7yeMfyaoz6/Sh7fFHz/qxyf
            qRxwF/Gqnglc7LUH2KUxDuXVGr/Zu1fugUMRLWOz+fG0LD3udazdeMuJ60n6
            u1+A3OFy9E+VQAH1g/KnXgpl3WRobePpQ7jx4PZFOKbhSe83Dpjm5wzE/yOO
            8Pv7WwbkbpnOLlemdMXe/CFG2vaNohOGM9scJ0EpTh1wPzWYtAG6wmj0r2LM
            OTr9YNVMP8KUD3l/J0Grl06ENh+YUdmX48FQbDDzgbFAlq2siRV/0ReU0KAH
            pBHAZu3YMkZf9HjoPrB90L19yqi/ya6O9Fikw7H4S2exaUAPM4ATy3c3FLMq
            bb32Q1Z0y7NCTHcMGrMj2RFKZYN/Ej9xvo2XwrUZrUnrW6ur0WY8ukEwyr20
            fXXkbWWcEm0BaEZhV35DnpDzQq3nPQekH3pVIKVygQzQ/SQnx+f0Z74UvBRz
            YuwVcKba9+KPplNdJ4p6m2vS0eCvQCjQy2l0k8WnaESII6fx9j0w/EM9OuCN
            nuVLNIsFpaTck74V2s+UrWbOfbzn8o7CG/f+TK/9S/sC7Ob5Gqdf8l/D6oUr
            l8Yo3/LJIgLx1g+FygoTrTWaHjsG9U2OoQhbkN479HAl8h58T/o1zBCpG6eH
            UaoM8UakTyLM9OSd4z6y8KtT7GzQJIDy/DYemyYFjmrY/X2+bazNJouYUD55
            bdGWsRIebRzrRDum1GlusED/0fvdU5ZE/O4UHYAOJXWMAcjLgDKetme4xVHq
            NPDDcbiABZ1OMWlH7B7CmV7EF/eT9iygVw1mBYNdmWIs2lUyMQzu436uwH1m
            s0maHAcO/A3tMihz2PosPEuAv8JhFDPhHDWzUaJc57aFddd16gxSF4unill7
            AnOY75Mbfh+rG67QJCpunk52ZxRHSBdsvIjJdgvN0qoiPOGcONo3g4Ayuiox
            ZiFI6+xnogzNbAwIS0K4gBAxD7KjKKd8BcjlFvFs1C1xf5Xc+PtNp9FX7EjF
            rqJTr733yyF7NLzLQzRju/G29jqIr3qiRU9bqR2pz9veZgiMLV8fppc2e5wj
            mz0F0JrmaF0GT+jnSRvIOC34lAxnAhWCFIjYuxQNBjfGEzrNXsMpE4Jb861n
            KrQtHdH4Ws4vfwfKDqgaiNVsNAAuZYd3Lsf3zMlDm/E4aCNv9mL0NKng17Ed
            KS3JbUjHUaWHHbKppm2W8Q8AMZVW56irO+2R7FFfTeL5lmKZnSaH2baHBE2e
            fgb6/ijtbj98te/u9jvwBcZBUxqpd9ZnuSNfg2UYEKGU2y+rVNrhlmx90/7l
            LkOXSrj7hvugswW+chGuVdl1TrOBpa8c+0VPyWd7Z786LadvO1iOCfi9VB1c
            0nXXyLT5QF/T+Px2AapzDgP6fH/PdSF64h4FmdspImE9cVmfDxnceGYwetQl
            rygqGgmfy6xXf/Un7v60MW57suz++ntUd64tJ0veYtTsPZHYBnmiYBETK82j
            SnvY+932gbTNwKm3MrKNDvYd7XfGmGTSKHvf8qW6y928ZPBGzRazeQG0PU1g
            MLc/YHx8E9/fSI4jesVs/hNt85qEpmS37Nv6+LY+vnXmn8A2AQMWDQImFcrN
            vpM8fH/H0/vdz3DKvlwySmfvrkzxTvp1fm44wXnKeXTZIXjJJ0RA4vy+eHPS
            Hqy/0MeMdmW0Km2bb1dE5JI4tyzHPVMSeIhOifh7PFj38y4DhCV/b87PIZvS
            mOfy97l3gp+Ue4arE464U7JnGhptmYHosEw7D8YIUb1L9n6EyVrzLitVs2Fn
            neCZgmMckYbqMljtKXu6zn6GPe/3nLBfQHXgw3a5+PtyqdncvSJWOdFk0Xw2
            u2AnmFvzq5iWOuuK4zSd5IabW8YFuHDdejHGDec7ixlk8LYxuifldtd+94DF
            9CXiO9J79BRlbpgsP9JCQl7+UhG/ydE6R3837Itu9hm0A8MekbwF5du57Ywi
            vZ6a2YSiPGhnk0GgfLvMNlZrmQhXgWOAYuRX6pUDzZsnktmbyZ4Fh9cR9vcu
            PXJPNDTopKNoGbN9KYvtq0ZfEOpFsPtlI9GMbw9X9LJZpuLf+dMP2StO+Th2
            MmOLfMJ0lcmX/ETLjvIS8ThU/uEsvu6H+YSgFyER7zpmiXq8b/ae3LLuu92H
            viiXi7Q7eJUt9s73Xbbu+2tV1k0/5BkBZHEAInEx+9qtrwqFTrNMrFG/63P2
            vWNMVHmrnZT427u0+1XBQJXHc799XMYKWR4zNFDAeayy+2m0RcQ+efvCUJIJ
            qg38pPHIcT/3i3smbjxoaxSdqdj3WtS9FpRrgKDwhb7HoNloeQe6hF6sjfJA
            wkLQp9iS4qnoC006UDZHTrGwSyWzdHHrmv3cNRW/E7SLmCpGF5D9lHiSFUqT
            Dq0Td5guiwGSJZ/0pTenugLmzHyFOuVb3m1+q/JQ3nW1ULrqOl91cV3ND/9d
            l9pS/XPHstq81iWbAe/WtjsWTqGupcqWTnbapEWc2g3izx3aJe9DRj7dvwfV
            tRzb655KzEbrq2G8QuEc4nnCEayb352xx9CoNQiyYeviB2iryDJ8x5hWTjJc
            nF067dFTUv46rU3p7Ly8J80vqmXGl+J8Ciua/ei1YVurNmbQacrAVUDzTVp6
            POg62ZSC4wTcbeLBMB+zUCbizOalmJ0e0R9tMBt1FYflWuSYAuPF9wWqFqQc
            Ixac2CFTenF/0wyYH8eMTtjTxVMQI5gP/qUcsq+nLbUMs6f4QtpXASMAjjQ3
            B9oGjQpqfAXTCznAMn7jbnuE0owuBQM0XOjm/3HLw9i+eBHQT+wjaS71k7pl
            4odpc83YJ92bTpYxV17P5y5/OmX1YzB8RsfgPuO5oL5X48KuI69DHKu52G3z
            HePdjxnqtudQTNmIPQ5uXfFknNm/Y59FCrkqzgT3VGrgEbpnHBfnqQemzilS
            oUQ5wIoj1eD0e2qP8tooY35e6XkXGQBf8VaoLPPSzxL2H9V4D0oi6SdQr52L
            4DTZjyy5LBuXrtf2PYz7OS2ZLU5c3XEttr0s9hk2Pb2GFF9G+tLT4sRg0/R4
            yk+sSody/yZtpPglh3zxGBfBEYZh1siHgQ0cO6YBdWGesgnqgLnbZTe3743e
            LRpvPOw+0lK1ZtEBbI98aaXebJpc5rZhp50wY1mTMunyEfNhve2vL9pdcwyL
            ftenfE9rDVYnf9Neusx43rEXbh/e3Ydbp0XeNs42eN6qKU0sJgNNUUoyP019
            k5xkM8EyiYKqX2minzMzdkmb5usX3OyKBSR7K/KUpVxrFvkiOloISWe626IL
            /t2WfRdf35F+nZIr4pnaiPP1zt91RpeqjZm2ELS5lt3rpD+g7C4riE5na1lt
            Lav8C7HZDN/xe0ZBSMlga3RZuEmqq+kd93KMxi9nwlZq7Vqh7KG5tn2YnPxt
            C1OVxBBJ7ykTkWP+y1NxePDWu5vvVj3Em+3379Smv9sMl3ZAnLI86L20+zvS
            pTW8v+O6V/Angx7C2y7fEmPRXjKGwdg6ex4d5QkM5rHpBdpj415+2xetb4bx
            zR7jxQGqe+4xYoy/eIJeznmrZpfu5ZLGwO/xEuZf/iz3b2bHmOf7vmuvnEW4
            LsnGV7Lo6mTTv+j+IoPmZj5UoFE63w3sd9KAnhI8RRwI6iezIeJsHLaucuYR
            fw742WnbS1jHtZTflIQinu80JhKETn55JICsPl/xrNqzswYrF5gddD+L9syd
            MuDvbftj0XYd9685Hv2amuP2oslecyzaBvueiJ97l/Kce6/ftIz8BjBNjEkE
            EijJdjpG7UlyilYelH+yzAuvuNlbpyze1GwA19NuxW8eoEhcjTVxV7ttexV/
            CG2d9dOe7/Y1IsTxh/HytGvQsxItFkGWX0SXbAvzfya69Z7UMSzFoxjycyHW
            pP1WfT3j+U9ZOsnXM8a94LM7jpdfNqe0J1/vuBAHxkIjr9DftMQJqHAyyHbK
            khHts1AFkwFdgPvpHZdZH+0hFBAUEPb1jPbDh+lC9U3NjbK3+32hT7V4YcU3
            KORo2M9nmXztMnWXocdoGk4yUC3QsrFhntjOrCY/4pxpXiW6s/mdYtgpWvyc
            98RdULxsXYg3GSNoVpMNUS8397mlj5m8YjadMhUao6qtuw2r57P+u96cGQYJ
            53eBx48+n/2tfycNy/HNyRQrl6wR+Uw+9U4+fwx2Zl7ofF9IDpyM/hmtHxHf
            BLXJoLmXUg6dplpnD1LmIOlD5m6ZZt16/tvnA9Cx+HdckKvPuHDWMmkYynhd
            K6400F1l0EsvS8ay6OdSqKFlGIgzRowqM7oBdfvEGUXCwMjRFk8auRQmgwbH
            AtYrU9pOE3a6ArumWHIK0FbVnnOJsXDpFA8qK4MTVp2gq5SFzdErEBwq4DTt
            1h/PPHXypDcZ1QiYpLFv51oUxjrGjOK76GISKU1DBRA7Hb3EqcgrUx4OQI8W
            mQ+cgbPoiwfge5hfeHHWD2qe7Dr3816Mjrd74PuTUXkLGDHz3X6W5/PxKI/u
            gDVmfwvjM8+6f2uvg44Hj5DXCVSi55RhiK6ts4lfKKRdSNPTUHLSv3hKP7L7
            Wsbc93wOaOnk/3+q7hPv5OXstSPsvfqlb5wbWXyJ7mnlanWfzp2yr9t1nzS2
            JQTp1gZDdbs59+/+qEN1HnvsH3Xe/W1f/WWoqLuu4vrjW9VVfqrrh/419a/9
            d/p3f/Pf65vqOX+o57zr2bEyvJWJjPn0undH3vW8v+Hvx7jOe1z1+qqn/lxP
            V548r/gd/1N1/nfrkVNJJ+xgbg7BjBIU0cZgBrPDX5YN3glP73vQVe5+x/W6
            n/9+7j/7Jf1B3XUSJ9eYmKg5KMxEI53xqp9n0ImP95Ify19EMRrc4DvyulJn
            y//xpRfbWcba5iNbM3+BzYPtOOQKQunaq9/3PmEbghE75oPJRO13sLhEbvMr
            OAS0l6Ksh31i4LlLVgwg6ydZGOKuC8ixuiRNkWfqKdvDsuNUaTkk4RegZp/7
            3TRcc8MX9mXDefmIsa2UYxxlvMrrFKLUq47+rAOoLhl8VCjzgm/RHTpDfXwf
            Ht+P5/fz3YeJUew+BGClIRPwXU+xesZ81LPHwnm172w897e5/KNvz/1t43eO
            qZfoq29xtLL1f1qmLsoiCM+TfTvSXsdscRJKBg58lPu335ev93tveI0D+Jlw
            kJGdus4UlWyBuIC2Eav6oYy9xAtteI3jvM4xNs1Fc0eGsItFcaP2OaFgl3FV
            iIzJdUsZN6hTU71UJgsXH+DCQ5ih1X0vS9ZJt3vQW/QhC2ZbznvaMTGoPdUg
            tM0iI854qbS+6mZz30hTMxKE8cSekWkZ4cO1+H5PXfgUXqN3tJuUB52O/aAR
            yVk6ZaoUEz765AZjZQa2LX8761ccMTEGG/qSfupXblqLV7/S7lfa/Up2fl79
            irtfUf3CyU7nlv8Rlkybu2h+AgZTBM8iI0ysesOVOc9iMdW9FOxGw8kQfNH2
            kP2kPW/uuZotZ5OfSjQw1yV/ZLwV7A/ZlNH+1+h9pRIrJzbJMh0xZYz3b/Ak
            gzHmTiYk2/WBbR99/6aeS2WZq+fWRRXQs+06pQ+jeeWS3x+jpOX7N2MXkZdj
            /AKz++7ywKc+02fw5YybAJJYbU75t3TWD/Kxj66xVMq4uR+PfDGTAm2X2U96
            cjAYD+eA2Q9Kp3yUQiZGRaM+LNDK4P2bdZNbJGFr7W29AGjCTSu+YsuRGiV9
            LgFPprMr3/Mk5eMeR2dkSfDDDEAc5mJOO2pSK9s7TfeMyaBRHfaS5tF8XDoT
            QzgKH+kWvZLk1LQEoR8G7VIDs12PRetFWh21IPkyvdELdUlo0p6lFe64xJNP
            vWxh5XPC+WEb8fEe7FA/WjpMenaCejopqWhYw8C4tP2wmAWMH0sDM9lqO0V7
            kAze16JgQ2NYXIEwI2M4OsZroS+35kWpJWwO+rzG9KfiuXgsTq0pAvzQLjJQ
            oMj9fz9nrBn1w2Jj8565+qoMBxgLcdAzRHZydcerDNaPwJhL3YUBGlFyGNo2
            CZcfE7+ZGMMxnF7sPC/0aT4TWKKk9TT9OSN50gTN9G6mN0RnxqlzuJRR5AIY
            22eRkTe8ghwVBmKc8pGnfO1keOdH3EAAZHBMLzsz2oqRfw4M+V2L4hdS7kK+
            MFWeAcKqfR/3vd/3h507V+1ethHVbA+pk5IdkoVuoDnohT41wft0DV0ph3CY
            7bUckxAepFcsq9uLRsHCyCawbVomdbPpQc/tGu3qwEXq/bTyaT8H1LfrbQuU
            7Np2vZnG4IqrbN/HHa/p9BaP+bahwhT17cubHr8rIM39uzx+N4tbXhkAglH6
            ZD90FZsnHkFsMPJD7o45KbgLuJi75IXMYil59bZnCsqN6mjjWBQt0p80Rr5o
            r1XdaRqdY3/3rCOPK0R52p2kDY++y5+My3nHAaI6RfpBWZu4M1lboH+wm6vi
            dwD7hn/V17sdSrllmoyzO8spTSLrXHtPMb4Q4809+sw4Zt70hfQqNHkpn+06
            XVd5dyzMH6337ZzgKD1iLM0tQwRRRZA1tJ8OW4MFAnp5Bln3Troe9AM4ZHyv
            we/GxPkP+7uWbU5+Nxcc/wWoePcdvwGS5AtTJuOca8o9/UWx0RiTwfoICkZi
            nYlzDJjRKHPFs8Z50D31jkrDeIJJoW84g0ApzTHWNTL6imdyMEodaaCJc8p7
            R8KfdrxsxO/4LyTOlWKGxozefGBIq/A+ai9UxhWvG7+kQRkabYqVSie7kEoa
            +OP/GP6cMIFzg3XtODWAb97fdn/8ox32AQjlRL9dBXPVeD3m1cGTURIreROD
            RvpUCv5A06JYZire/S7i6NOWa7ZOaVQrkbAqRNrIrSaTSaIls24jGLx5IXdR
            3+LiqTi45Rr98znj0/BEBXMHMvnkxfRJwMO1yQGgEd8oRhKwyB3n7w1Tj3W0
            8IaxGXg3ML8XOE6dd4qgG9MEUGlQabOmWHWMySSbOJniybbcW+y3wUDo2LgX
            1W09MLa2o+k34ySQZAYksfjBLZutclJCV9TnG1D3jvfFOEZUGfYh21zm/5Ut
            Nr8PQyG8sG+G4j/QLlmyB6x03ffCtXGFuw17bnoiPZOlwnncz3/T/mHtYwqb
            N50V7UO8shAzdpBie5Ydx5x7tPiXfFTnlfiRMWS84lVZHxmXatMCjbJGM8y1
            +ZQhh/hQhuq1Kw1KpXuKyn/KwO0rMJ5cpcaFnnLYASIyqA9ljIgTvGCuwVkc
            MLft5Bt5BvQBvw/KE7CJQp4Wy1BxKpLFUOAZo5RF61hF35FkacQP1NqPtMs2
            JT53pE3qaXNx/+a37pQpgXxD9ZzxRjP6VmkoqHihVfUUKjeX1Zkl77TfQiKK
            t411D7TrdRo37SFZj9koaI74m3GdND7GMqY9AfYlwTpj6AZv8fDRadnsOvAM
            ktGCd5PTDMq//Qap0qs6Dxdh17/ZFu1e7u/Bs9DfvFqUWMnRcOorec845K7m
            FHeYbRxxVq4bdd2neD5SOLZeDFokGwG/x0MPOay/aGNQt3MG+Q3QdeZeB/5m
            3zIj15rvsrvXAtyQbJ4NgHNxf1hz6sg2TRI2zTGm2SOf2y75nEZrgDgTwm/D
            rtiWwbKMW7l22zFv2ifdNE3e100b3bTSN41z00g3rXPTRjeN9aKZvmirFdd8
            yo36PC13xX5fdz03zYT50t5NjO8MGpfnN1yX/KbpVoOGaLdKfkm0b1A01Syp
            6NZ/WObtr/4uUD7MJne8/BMpmVacWsINWvZMlwFXsd9Xs5iimrKwkmvGN7iy
            Y2xRXYO23boUaxHwcEo/Zv61JNzBsVodTr7FIMEA153bdrDV/MNpe8ecFcf0
            Ftt810v4w3o9dS47vwVt/kIOIW0f+7lxiTJaUvfpGGENPFK2/BC60rZFqWQu
            MFBRsW9lryDbhSg+ErzDJdoCZ+q20SAdgc1bGhAF/SWzD6HteZuMlBAtH8vo
            b15gnNbuaPu6dlxWxtA5VlesL0edO74bsj1khHH67S/1iX1mBLYKFgJ/tL0Y
            7g3LmWeAfUqW20F0AWlFoqY+7R3WAUTB51h6s3c5UkgEHlSy5MAw/m97C+N3
            jtqlo2D84UadhWJqlTvWMQFTaJSLMX4Z554x+G5/HIuHzvjkjH9P/BRB0l20
            xqA8I9VaLqAIxbsipm/0XyHHcdIe6rS07TtOGRFScor532/fTtZPI/XtByDn
            IPKFtOktjOdKez76MQl3MXY7CUSbP7DXToHwBAs9uLWT5MLkXmYk0gKcPLro
            BYP3fcP+Q3qvTI6UeXLK+nnPAezSYPvSXqZtHsbIIOIcK/XfvCdJyntlG7np
            LbqNRhsb86ckx5ikaGuulx41TotJr2MiT459L1IYo44W9516cdqVTeVI8TWc
            4Kf5PNtzywMpExhpFAPjFZG6z5JFZx4s/WYQCuAqrlmnB/6yNaNHamasd2ey
            A9LktPvedATpneIlWBIMoVG76hhcd2d1mAB/GG1kc1v4vN0+vIfVo2dtP7tk
            wwoyEf0Lu1+ok7bK6td6fKs+1XXbrVMfMYsy9uzcYCBxcR5kXyL6msKQE5uF
            k0MtrezDna2TN7qkjyZZKmgAoXBHH/jSzJ/5krYV/erGS0n3Ad6oDOq9uVfI
            z+J+au6L4vBOfVcIFc1PKdC6QPovoB2GUcX8hSvKx517VzZT2NtLOVns/5Kl
            0zSm7HWrDDZSRqYPxXn1QIzPp7S7KgaL+K5NMkZ//e3PoCSPYcNLXZlDxPIB
            +LvNRhhsvI88yZQPi9HBSEXIvokbgw5lQEXKdPqK9QjQ8tffEQQFKYxAruqI
            5v6sGBeCnf4VW5FOx+Q9euFZ3v4f8u8ndKGVGyXEg7QJUIqu/rAr4WBK6LK3
            34Mkrs8Wl2bH8gukHPrJWD60Y1DkfF5luxoYVzEor4zqojkN4CjOd+J9voJk
            waeMWLdvYTRbvGvuuOg7LwBgoMW0jIfs2Pu2DZVvKuNQzf3+sPdj3/f7u7Wv
            1d7nadcEKKd2djz23qzcOPb3ux4A0GL43q5tWm7dRGvm453rymHMoBLzmmbr
            EBT+RDBcMRQ1VJD0jF8lulRKFMA7e552XCeLHEE7ssdz2Xt5ey4fDTzPLi//
            sgPLqe7ndz2yoLZ69PzVrrN2p/yel+w5lOdLwYkPxR7h/bTwt4lxcxQX5dSc
            J+75zhghNiYrc/flpAN5Tt91x++6H2OIvxlD/M0Y4mMM8Xvu9hzV77nbc6ql
            4RqQA9t+Nfjtbp+KufdWbaCNYihjPuxWjA/qlJFbnHtWe5HLFi12bB9+EIGg
            KYFn8TnDp5NMJb8q/zlfMDPYRgFHBcdE8XL3fur0h0GbgqvL+Ped40P0IQCF
            4gkem9a5r3dOPMYkom2WxHS0z1Y8o3Ice93dnmUhpM545GPdZ29Os38N0eLH
            XnseErNFxlAt7oyVXZgbWlmF+ohXZjHFREPRBs2f5ssPOql9+BZuuobCMcmq
            yLNO0wG1Q3EEcJosVrrssO7f9U0X0j6JadYs78f2Twb/d+VryEY2Xe32m+H2
            ZB2HeTQfdx5JCpYIWxhjAXC70iiR/SIpzFiUfsffjkpmjKlhAiQ8I3mkeMg0
            TQJNSRtXWebdOIT/yWbTe0Xz71LcsESf3lDvGGi7rZAY9/IE/PCK3e5/alf0
            LultS/qgmEKKRuhOxVLqcg6XnaTarxLDoW9h9+GQ/vP1rXI97G8r5Vnh3Vfx
            BUH0eXP5K3Y0Yzf/HDvaKXa0s9jRmh96O5ut3LppM8/cCu18zTNt5Ko/jpc/
            /aF8H+xnUvxpL98SVzFHMhjwK76eMwdDw/eK3SI4QomR33TURyyxmUSdtZd/
            kDXCeMNMtKB+noMRf5TfpOXDdBAAcnp3JVoMjEb0K7uGdJpdYSEMBB6PFsvZ
            mez3uO0is/mELu3XIF+5eq5lMWx33Ay8uxSr49h2gjsOud7Fr3cZdUVHLe48
            QYt2+qae73jao1u8XiBcxs4sYVnOE7NT3fEw87tO5Tzp8uNyCj96PsrvPghZ
            P8qXc5c/gdzvvnid3892LTeK6gj+cxwxXktt7XyqioXaPsuA73qPtaL+Jr17
            G036xmvGFYBcMu12E+3zrz32x1j9a26X++vvhgmjf5C9Y6435WOzPputlOWs
            evWJtrrPsVPTL1rbvqGAIuxY1lbef5anoPKjfN7ld/+Or7Xw/at8ec/xHJpj
            l0gdB8Vlp29Zv+1CGWKJvixHkZ+VUxoIt5/HnWOBhw3wZO7fijJPDWdfQfaz
            iimNo+XMNliUMefgmMwgeuTbBngex8vvOzA+z5iOMStyGG7nM3SitT1FFfTB
            L+CbFmOLkG9mHH7BZ/x22c4Fx3DD68Izd42huPbMvYR6wwMWTeLuVrp4syOY
            D1m2PD6vfjmvmISM7Z/86Hfes4wzSymBhEjU24Qof1b5A5JHOTZdzuhUX/6X
            iTbdoISPZv62xG+evhOKuf4o1+nDafjGo7v+kUcg7+ulGNyBjhQv+4VYcrWY
            2wRVjDlT7pzFacfVYVQu+WKTjVcexbphM/inBBh1yzcOiynG80BeUTHobz0u
            /VM6cxVncHp9VfHmbKUZn66A/3nJnqFQ/uQtEgFd7G+9b09x4q/J67KVtv34
            gvyQi/mCU14RJYscweTgw8vengF3GuUHxWzLQOuQHuG+6OYfbnH4ueLbPl9+
            VbT6VczqO44EJiTbtxUbRn6F0e7bsnyGjb7rRXo+etVR59F62PZdcoK2OGax
            AaEofhlISpeAqhm4hucHg+rKU5Nlf8UMU8qKm+J936tk3MeOV8y46/uds2dN
            wspIWEUUT15vgGDUDphNfuqLMRjoepFvg4J2yA8hyKluGq7ldzqnjM28CKut
            jLgS2WIYmx6j4q+yX5PCHCbaKtiblEsyoyv7YnUb353SvS6ECXX/HrR4oeyr
            3fn86M2rGBJLfHe/89AZra9YGdX2zMqKKcEEva+2ZQy2GG+vmCy00qVu1+FK
            U16/YHPNuWA9gIlN9XjKshkfB/ccz86V8ywLoN54Tcly4tA0JAFXp0xfHaC6
            NkKSjxJDKVMggPlbZtPCeefcBmexBWgDkDgbR2BM/rXPoY89pkK8xTAa0fzk
            q2TOYHm74vEr+n8j3bt9anNf47sdV156Pho0HvIDCFHRxevxao/+BSmBZvj+
            Ph38kj4tat/pO1cS7bYZgyTU99q4slKQbyjGTH9qyWWY70K2QJQF+ZAMTtOT
            B5AlhGC0NdP7fZQ7rBxjYGxZIQ5DkR/EveeZahZ81OsM3Pv3c//LpmlIfnEU
            WWzYnjxe7TEhluAP1pM6NolmiePw/X3muM+nV04J7cn3efDujh/Os6pwkbQT
            1/twvN4BiN3PZA9JHQ7noV6dvNAxcZTGrdcvrZrvZKBdCeEK/YtumFloiNHo
            pCS67rzhLceAu3776d/++LEGcHzuCqcE99s2dufpqumOLy6xCyCw6TKqxXgc
            x/1+l78Y7zKYgpN80c5fyN9+7jjg+effN1933fGHdhzJa/d37Zzf544rQJuf
            MMN5yzkkOm7mSyw3NsyR2/LlxGxpih+K+co6myOCP14Wj/WwOAnZ1Sma3uK4
            Rmc6rHaYza9bx3eOmcC4QzEwCapyMu5cLvQ/U9wHxhfkPtbv9JZ7Kr7hzrPL
            mJZ6z/wZOxZkEN1jvim0yfM7P72Tvvc8XvVt2wU3lqIG9JRPtt9Jv2fFC1K9
            1OdxzytHY5J946G9D/xEGTbtPe8YIIyvwPyMzz7Kl23H0GD9HMQKjOdeZr3z
            TnqjfRjbBPRVf9EiU3QQZdkFuw+7mLEwQTw+cl4xtso6d17YQ35VyvkUpaxg
            CIMixzHuaRB1JyUHllOV/pTHi2bjWQhtrN7A5+ZwrYdsQP6iTnkxcbpo6U5H
            F+mSmvyWQa8O5VWmflRyCqNpFe/6EoVDWnDSThnUIdtioIInj88xYu7oIt6u
            QLsEGv9V0CDoP7Pr0o7O1hcQkmpzhkhjloyq+KGnZ0x6Mz0VnblkfJXppwM+
            66PvvX/2vbd/3ffy1Xfykx9xPei/3EGjtp1HhQydB2V52BmiPy7jVVseZDf8
            zkUxohvd5VEcQ27jWctjWoxXPj8H26cRD59xpyqGj5O946GsinbPsjicXXUy
            0qjySdGnLwoc3HQ3NvSs0oUR9DCMr3I/WZ5jr1x/oycwIOgr26bIuAW6Q8pG
            dTKwxs7L5RlfjSppRx04441h7lo022UDO4vrSp99i6HTXvEkJd8XHKCtIEbL
            /roCXHpYkKnP3NNMkCt8NclQk7nZ8gaS4lR7VNo2v3NGm04lyx4X4L2JZ5gc
            053jkYlW+Pw6dxwisBL3d8KrVHjRxOudE9RxjWnideeTJk92f0PZiHJUgCLm
            s8Io54zzvWkLwWvZ7El2RhuApVzUyeIxzUu5qek/OAl60zQcDbq9px4X8SEo
            mvjKc4rzrvKn6HrBHgbIld2KtMMGS1hxilum6TQu4G+LEcvAmIAaTToj9d0p
            zx/hvvQ5uwz2VpOf3nTu/k76g7p27ks+Y4xoZmAyXSUYiCka1pXjYw4LfdXH
            OBvjYER37RjUYTDnE+lOwHBv55RB7kKTj7bh7GCyhurf8OQJPwpxPfrFiMga
            B+P2PNaK3rnSGUf7vnOvMIbeMv0b14VxiAhAbh6I8YvaHh/rOd2qHzCLfCKo
            B6xrW325Z9mVfy3LfEal//V3p0Nlt1iUglHL4nMpPA76wn5fh+Ezpc547WWL
            TcC4uqSZJ8+gxLr09xNdXI83TpGd9g7b624cpf0K+psBSEuQL7Hk6d5iDL9i
            AHP8zH2p2OgWUZ25/vo9p37j3qPZO+pn7/PGOL8Kq5EYJ6YOxbreNMmdK/fO
            NQ0gIh1R33ldyqaj+s45rZSKst3YNM1pNMzc/cIcLp//+nuc9Al55zu/4zVY
            PEmQhOntE6w4VAxPbrq3LpmjxcTmTqoAKvRTDXHrh0EZq55WmWNBNvpK/6Uw
            u6DN66bViR+cfHsN19MuQb74yWId3jrjDQMJrZueTfl1G+1VlavDkdZyoJvL
            aTYb5EhoHS7ehzT4kj7eiRaRX9FwiiFg+TEFa19+x9sWgH1qkgqZfauUL+Eh
            b2AMlOSvbQ9/Ca+TPPW3HU0seW4dZZMhYklxrDuPOHMMZcqnnrEkd0ww0nPH
            deegl8485d0n0NrjSXO1nXP6Rfcl22s3bVcOkzkx58kHrRU/aa1IHicxx7Tx
            KMFovlO2sK5VizkTXrpy+m2/YreAcs2S8WDH3vvqlCx/60s8jfeT6Bb0X/1V
            /EOup/Ljgl+V/UQLjGt6x6CSFtn8DfLOC09/3Zvmnc+xR4vDJZglJtVyfhKg
            R8W2MBtinOVzbXtr+cZQb3TTrNX4pI55a9KVi/9Pfs/RPI3e5O+gWJqtSi6a
            LZ8MLVbIn0Wzy89c87WEd85NJ7n7e9q2ae7O+qLbJV/PO/bXLRohLGXsT9/b
            jdOI/LhW6zzLB42Ob6/jPT+y/zts3VOx+1P5HQy+acsM2jyD5uM5z4Z/d7wH
            xY9gX3Ge+22jvuavbQ7am0RGsMc0JPMzll0DaKC+cchg3iHFeo0pPGLc04av
            yegkC/7S/+WFi9Ibbrqdc530DY7TetETL5z1xh8WB3ecFnlo83HxjhuHUZU3
            X3oefeu/d66sw2Awc0gC76YaH+cT+5jRYcyGfOc8LJTPEelWmkMUH++YeZof
            cOGMsGL7VKy6yfyYVOOw+N2SWzFRAdUTimvTqmxcPmMQkq+eOz/ovj/zRWTM
            uH+XYv51+Y2YnLLuOIBdOTeW8sRfntKVcMco5Lk1trqZLeKOU8pYhXIduOPj
            YchtWDxS2r/7GIn9LY6r0Z2+hjTrSpMZ5fA7Kk559x00Bt5IN3Ru/2l6tvWn
            zoqx2H1USqgf6wRPEn6qM87f17mkBwMeu9cvxOsV84USScXG4Xki+ooMCOMU
            Y5VXyvgCMN5QbKOLBPn9m+Vokob5aIu659Rotlz13mzrSC/UFKSX1m9aC6F9
            wNdGm8smtQh9KSm/TouhmxvLgTLxjLkD4m/RTm0+nzciT8WcqxIMyLUH890S
            c3bFg36pmLjRdq74y/yV6XlBe9uTeXSPYv6AzO91PPp20V+BAoquPRhOBrmx
            e3rOzGQ5KFj+DE5X8DpObdicjlCG9l12li/jUKQ23FO8r7h8/pJtFOHBUrAl
            WeJbjsZDcShoXqnrSW7IVdqAFUKnqViKtPDecSJoU5wW6Q+O+a7jrI/3PXnt
            gMKI2I+yp1McpKPOYNcz9Kk1VWx5eQuCfklUlVTm4TwUl+FoUvtF5slyZQX6
            iC/yhh54szIGH228DxqxBfnisQxjP1TRTtRXNSJT9It5mZR7nXWg2tufe9z+
            7HxmPDitBEXb535GrQVw1yBuBh/eGIaO5c5g/gN1/ya6efn0Mo6K6DBbS9BZ
            8i/H+gJQrECR76F4Y73J3t3iKZ7tjJYEjVAqKd5bVO450lVl6+zIgDEHJFYM
            fTlXVs5Ir+ego0CUmw0nQaeuFpt8Jmf5uPMheRL7ddLNjnJfRhDfsoFDOkjZ
            xDGuiM5UOZe79YRrvPuv2NGtNcHQrkTsORpNUhn7Joinj8ptsnPSvsYQ++J5
            1HySdr3HQNvI6i0GHnOuZuaNpIQrr+T2uMIeVxlxSUeHNzOQHnYSygAeRjdK
            l08nxktVPsgMsKDKzTAYhBXQRtZ32GlFaww4T7vZ1G3d8LzpOeA9Y0W4cwGF
            xuRoS0L7Usp8gKuwsxv5iD/N+etce+KTwohL6h/67HRGWrnzjlUlO3Cy+/eK
            L+qxXnv+e+ceH9RNn4EpAvu2IU00P3rfP9eZggEQAEqUgPlelIFqviPWo2s9
            mMJAz773A/a34scIth5MqX4edzvWPvMsWHxE2aX4QsnOio0GHNYv6u94jhkr
            xtOBISi/n50fWqK0VdkGI+i7YvqFux88I7ITAGcVqJQ/te/Xu0/M5P0+a8DX
            3Xic0shl83wyf5f8yi8/r/Dev8G/928mzT7e9vhV2jMLJCFcBojhARVrJ8ke
            pmwqG801zQdnSpLia2Ke+Sq62uK7BvKKht9kS5YupwBlNCzB7zq3fQrFtqXJ
            BsXGxvBqJ1s1XfAh3Dt07jjeuPFGutZIjJxqvlR59pePXt/PsYFp9ky78qz4
            sEXxNRJxMUGv4tMyf70jBgBOaVY/2wQt2uWfDzpGc6cY8XcMVYztjNTjen8u
            6T7QsNc9fQbIpBa0nR579HGvc7HbEUwvou9cVAxT7LPrxFzFsG0vRau0bXNJ
            aL493/LWIYynHvw+W1SZfJ2vdvdzHMxnYL85Rk7hLLQFOZmxxHZAp8Amdvpk
            MocUkAUmuC9ck33LnEqyM9Da4J3pSbvxNIualSj9zeF3DCo+T+1aca8jFkb5
            ekHcrBfsbW/Ye+48XvQNH918zaR3O0C3V3odyP9ica+c2XAWQ06d9MN81E9b
            qV/qD+tVZ1K8U0zhuYA0je9ORju/1qmfPF+Pe8ZkPx/3mTDF5oGcJMdaL86B
            +qGzXNHX1l7ntybK9Pi+GMw9Qa/p/DO+KurSPldUleEm+XvmQK8lzH77WlwK
            awXIJmsNBogIfSW2MYuQqHzomDMFPKZ8ndiOC1dPpm8WT8739Xq/z4rgEocw
            8hBcacy5DQxz0g+OtvNujTAY+57MxTlrzWdVQEFFMvVmBw+qMdMNhTgcJFmg
            vVyg0/xyhfQ2DUEDjR1Ud+c5U7ytTjKI+KY37XSafDzW08Vf11OxC5rBj7AU
            KqBb/IsOyGt6RpdIw0ZG8pLegj49V1E7lXs5V/I45msoR0DJnbZfySnZLepP
            /rnfeUi5Tjjfk7GdZQj0gi0gpmk5AmrHOfVXsUH4nDqzG54J3qSLdiZ6Fjb+
            wn5p5NOf5bBQLVOEGtdxw/ZtJ7Z4jOR/uuGvcp+HxUS1XmeuNcHOc1IOyHHZ
            vov1e98x24OngTUpdtl83HH/JPfa+7DMM99nSLC8y1As0W7w2d4Cg1xwQjVn
            +1nB2cj4PhXmvYxzvPULhTkVSozTnDQs/9M6THtAIzfBFcYYvoLgdgDtH7cM
            irwfeV2/84uwrZHV/8h8RpSDYqKq5egipeVJXYecvuYN5yhX8/lTwkmz+Yls
            C7Qd9bCKU077IeV2d4u5eaf2q/wdbQ29bGb3uu5nwItaQ9E2zBPWLL8WY87G
            DTsi5iwBE0bqPb7eVa+o7C/fEfxOvBebnLY9B3Odg3lgrk7z4inpGXewub/+
            BkZceesTI22FmmwKB1FKxBrQrpZ2F3OSJwQfAN7ndJbr/mRM1Et5L30zPcAo
            4O3KpRjJM3acQ+WbBCyalEuafxn1BU3PpDgGf0QOdawhm42oeBcvPdNBcTzz
            GFos2DayaAt37VyLtKnZ9/Modyxg6bLcQ57TsUdI+3UAw1vuI5l4lW+6Qk3v
            uVS8lB1T/eD7Rny15dqWUsr0EMNkIt3qTYNQHDgrMaeCzGCjjEpkZxYt0EWg
            8vNu9zxVb6XMypxp3jKmKDuYt15Agb6Vv4FOG57mjcS7zAuHOmSp61TPlt+0
            XT/fL9M9SmbYJfmS/eui3o1RAUyfaDICz0f0FWry6lXsopvuaGRS8tv346ZD
            ji3/x4Zdzzw0AL8W9zkaHTMOi7cBeiA/6Rql1ZSNRKC3X4uKd2E2GeOVl3B4
            zkW7LMrE7QveMANt69ZuO4RyWSxnWvBQj6/UtAfVw9tWnrRXOF85OjiXlZFM
            7MyB44kEvIMiIRwfMheMzVvJ+3L+75g9bCdV5gosjN/owrZPC/yWMEBZgbkt
            vRuW94m5o5hBCqcKaL0w7n4+wH+89BlAXO7eH7l97o+X7qsTf7z1WYyWzhg0
            t47PUUvZzI6Osk3RtIpBgCtwJPWPfe3cOk30mOWczOZ7YjrLt95Wukvm5a13
            3pNo+i9t2q3TSsufrgxHXKe4Uvb+XCa/Nbp/qK5W86fukfLpOoDtGVcXgHH7
            zJImCQGEcNy+qTg/imdBWy4+Oyyf2I5v6G4bezmqEJ5UyX8t7SzlfLSkopvU
            HM7yi1QLl7zzjinX+yUaTHbYPVquRzpPEZ7mebW7jbnlu6Cjx4cObNvxuOO2
            JbI9vw7zg7rP0r33GcNLZ4Bxfo9kqe9crNPyjdc7JlP0O08dbTX372o+Y2bb
            52xt4/Z9MptO+03d97HjJ0/mIjBaKbEedgfPFDNsSix7pUq/liFbj6B8vzsv
            3UlfP45pbHnttD1JuQZd+TkvQbYNSSabnHPm8RpMQ3Pnn1mK/d4o7JLRV7R4
            EQJjQXI3mkBU+fwk07GQJzkub6Z7XvvdwqMHlA1bb0E9BuMdLLNNlsya9HSU
            Pkrnvte3H8a93pTZMLzd8G8dAYnxO6+m8Pbx9k/muSxpjE7CKUkP3cw5nB5Q
            lu8BZ67p9wo4y4wnoHw1qoeQrjN2wmExEd46BOBN0uB1dObIoX/Ey+dZ3mqY
            vyS4/ZrLfiWmUF8SRUqGjDXd8nqe5TovzXP84R32Rrt1BHI/Ui4kWxPSbs+y
            gENN4aYYQebxPB3mC0S6OfS3rsp5xjI3O4fmCdWt7yfmqmTFB2h3Dp4bBgjD
            Rfp9MKGn7a9m8nHm8b6Ye41J6i7mJ2PosClKkDFCzkx7cpRTxZ3wEfCemaqw
            y7s8Xen/fFEgxRytwtksT5CvuP1tVObOdZOZhR+w59g0L2FOtTxv257ePf2f
            GFdFObib1VHnuw7mf3jV4X5fR+5WR5fPVBLn8Vr7KUI/H7cfxp2XNkkXROBz
            zma2AmHP67Ypk5/HSRBF+Q825A3Tmc/4QDvMw4Qz5FxmrOuzvHLHbR2NbJU6
            DXse/mhfdMnv6A9n8fd+oVvC8Xu6RHEuf6BLcLY/6JJ/QhdwPuk3ioExVBR9
            oZnbQf61VXIXxdShD8MKnfmdk48Pn0TmpmAfjk09cz2L2/HJF9Yv2zvu7XgZ
            n/adV0o+XG5Uie5pkkDbGFeYa01Lxz2/c26//fgeeUqUt5fxV/yYfVJHmKgF
            fuUQvvsnOLtMLqWQN152SdaezrXP9Bt1U0HgZPeFuQRRvegXmmT/Ne0bF81/
            TaYKgDDueN8rn/umZ/nuzskWv3Ka3XTV7Ne8cw8xlvZI73Ez7iPYCPfKsZYv
            4QPVnN55rRU8krY5M8nsZMeBCLT3YO4VxjraucwY/zrIVsxtfzJlUW1nLxcz
            K1I3khkdni5jsu8w37waZGt656phOgwghbr8UkxNUhDyjaItLecK53PnOgbX
            2oKNgfENK109A9NY4wwmwRomcMuMXyWai4oqXmmiACqPdt93fifGkKTMO8zR
            3n2RBZRshsC0dNbZ3dUZe9LsDEASJsUeGZbpkfYLjLaSSR+NuuMzmd2O/Lxi
            Bzy4ssEfxjAbZpeCk4+zMtGtG6+DhynMZUK7/2khL+gzBGIvWOC7axsCyVbN
            7tu+T8bjMa2M7oGjG+GcZ74ds4kujfmcUljPM7cwb3P7DDK4y9bh5WD2BIdi
            wGCupuJ7jg9bT9Y/htlYWt3xjh/DKAVKDppN7828B7qPZstNV7wwzIfX7T0n
            Wo62BNF84dv2nWdMEuYsnrKWNBuh+MpztGlGzN3l1UZWHJRoOTs5ZgrZ/B6z
            H3HmlCt5APptM24Z88jQFibQViRdlhmGtuaF+a6K6CJanrWdo0A5TFEoz51b
            IF5ogDaJud7nkp41ip2z7yP1+DzM+5ns9UFnMR6kyRUtD2mknuTmKxp1HSBv
            qr0L6+oKarLbU9RSPi/y43b/qn3zQqItrOzcwt2Hue9lh65I8pg5zi/H2nfO
            r8Pi+7bjRfdbTI87d7Cz3PDs673XaD1KPzcACIs7sO0vGGVOe7/Y89vwfy2U
            HhZ1Q16+ZNwtJ/M2YTj0vU92W5Pdh33f933b9f3jf4P+Uce//c/TpWuI9/uX
            309y2e59T6b3+Z6nLpv/1+bM93c7euQrp8l8VfjZ/Wm8/Pf3jw7Y+1f7X+OY
            cvHeQxi2A9IoP5aNVvZ+/v0eqKVwThjoln+RNhkhvkqd1cZ6L+nX58RRmqvR
            449zlfdcziP9+H78oX38PIPiwrv6c/02Vyn9PL6w2z8tVNgv369p9V+u/vi+
            XC7/q/7de8W7n/fKn/79aa8xPeC/ek/BqlcE1JRJjFrZe7Xi51pXRTn6bYE/
            jZUroH25fp5rt/fa8Zu91u5z85t93Y8/vI9/eF//8P4P7dc/7MV7rVz7j691
            /d1a/7y+fWgHlL7+x9f6+q+t9X96LkOy+l9wJARGOHldX+MMVu67/Bksz/L3
            v7t8uwJFTcBRdl37yqDxfH86pzjYo4XG55HmH1Ti72ve11LsWt2+v+x7MLpJ
            31/2Pb2XlD2o2PPv/s50KNYg2vfP53d/6ZOQapL8hk2Jpht29fs+LruCQavK
            ic6k6NTR7/er2ZXmZML7yd7XZPf3nPgCvJ9+2N/XHtOeEzIoz76+ccbxQpRa
            O+b+3dvquv76f9RLF3g= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
