<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.105b.e065</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.105b.e065</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>105b_e065</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0</string>
        <key>FirmwareKey</key>
        <string>105b_e065_v4408</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>57445</integer>
        <key>idVendor</key>
        <integer>4187</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>105b_e065_v4408</key>
          <data>
            eNrtvVmS7bqVJfifZjkXogfyDw05/yHVWmsDp/HnV08KRVZFmelK/ngIgiDa
            3Tf/5/IX/8Xr8m61//2//k8tl/1zV76u3Pgv+iu6Z7p070fR49/7VxiXTwV/
            df+1/df339h/c/+t/Xfvv8f+8EH7c/vP77+w/+L+S/sv77+y/+r+a/uv77/h
            q3uu/iwO9Nn/8DPvsV49Yrz48tWvizPg3fX9L2BqZrWH0XHw0Refn+xyzAHX
            hTnyeZaUU4m4f/DfirKI+5wb6iSMpIYYQnD4r/ftulrVZwMmhVdXvLoU8Feu
            ypIWtDa7F03PO56zLy7mWB/V9vzf8Fc7/a0ffc+PhuPx4edK89lD7i6Wp07+
            Uv3ezmfQ8ufY80w13nnmHtg7h07v6Rln+vY1BsemYuLVs+bu92mJ5VjAsq9z
            t7P2c797EPa1TI4ec9P34iTczKvb3puR3S61d1scF5+Plzkt17T/6tutPpXf
            fV7/iuq3+V1+1TBsUD/K89kr3+VpBk1X/9H+tSex/2g/5LAn70f9PUvjR/tP
            Cnph/Gh/phltdD/a2f/mj3awy/SF+0d/fLXyUJ/2Vf8sxvwu95XLwPX7Lndl
            l8fP8n7Z4ng8RhF6q4/Fnx+79ss/Pob62kTp58fyJUCVftR3ydrPP+qjFSuP
            f+l0tz3+Xd6m9af8aOdeOqnYXc/8LAeYibs/X+Xn6JYf9bH66k+L3+UHxM6f
            9b2dpVm/y2Ot6uf88d1QYrKT9V3uly32svr3XpylXfNRSV+7f7wcctzY4Vlf
            g18HjXyX2xRq8dZvO/T5Uf+Ai6d+l2Mw3U78c3+W92AQxl/f5bU6nWAfv8td
            2/Xrd/k49X+0f02rf/9ox1t3rhDRt89yl9M+Mc+P8QoE1fqjfm3aNPVH/YQW
            sCWLLU7oZXfi+Z70LLD5XN/le044iV/lMdrWyj92XOgGp+qPnWVUAQdpePLn
            4nmgzM/ytBcbG/Wr/Dnl87vchevA6a/yFw740X4/5fX374b5+3fj9ft3Y/z9
            u7H+/t351Y5PtjhA9Sp6wdzvl1+w+EejB8HO+Xv99bPTGyysP7S/6h/Kf7Sf
            Nsa+f7R/cM/9o/16yusf6v9of7UX+eG/Jncf7Vq/yw94BBnyVX4IghZ/1N/z
            1n60M099tROmLU4K5ROsuf6iVr5efpXHP5TXP5TP38vnH+rPP9Rff+jP+kN/
            1h/aH/H3yR3198md1++TO+Pvk3v/7H98neD41c6m6kr8Lh/Nlnovju3SUn+8
            fL1Jv6/y8tpZ8bfjXH987ExKilf6Kh8vcJR/+y7Aznd5f4Gd/Ft/CB0/y0t9
            gZH822KAfylfJ3IeAuG7/Ezibe/8tTz+KL9eJ/X38vmjfPfn+Wp/bmoNjIyo
            Nf+aRPf58pn05+cxPwj8x045nR4/wd0ud/O7/bPj3PwD7rl+Ly978Kfd64ON
            +63c7Uk5O/9c888dPV8nrPx2YshsbsxUhXC8Ha9hbKVz3Wt02r91v+U4S6B5
            AjhRci4JS5SxfOVPz5/NhBYwfdepvCrpdBK4hym7nuubqxo/uLDD4afrenNK
            H1f/18nb8C6SQHevZf5X/vnr+614ffGYmPL8dV9e3Tznvn7dtzevu4F6/7of
            r2EfYDe/7938Gt/086uDM8zwdR/nV4fBfaXv+rY4NRUezvk1mnus7/t5f9+v
            +2u0N/593T/384/ur65dPH9O8s8l+NrkrwkvP2QG7QdXP974Yk/dmbIz9Bfe
            2FPzBlE2+jcIstGeUZ7RfF+LEW3NNmDNYdOi7nY8T/6KBJphOTtdaFbCnI9f
            r+cBtXFabmeL09yjbe2vfjv8du51+Of82Jqf+zJTcAKSohopgdcHa9xsZWjW
            Hjsc3vEEjXVXHsYfm5d13Jo+2ikbj/19bVgOseP5OHedfXnfUfzx/qJ/YtME
            NJCgNY77tcrvOgGbVqvc8bE1x9q9+awT7xrXqZPa0Dy0G7vjXSe1mE0m0lDn
            tm8lil9evQP+be+7MfedvQ9OBZsC26UG4hR7H3OvfqTN5zSdAb2Oga2P18uM
            jw2V63fZMPDG/VGnDophsPMSeNnlbHKzd/GjThuYNdXBVkt+aEipus+hgtwH
            F7TbKXPUjSc+p2y4GvIW7WDCbTj+e+rnmnmeKetz9E1EfNZZ+NAtCgLdjXPs
            jYSvvevg8CQdazCJ+Ntjn+5zfsDwxqk6aAKT0k2S8vktd+WaxKbXjnFFq5Pi
            Vx0HHlPYJ2OansL5OUxo7+rcyu75eMEPylW5MJzQywi89P3h0OK7Ts5ji2G+
            6sTyUaf0Xee7Hfa18PQU4t1qE7Gidx91stuwqPOg7m/F6T/bAcYE3mQ72Itu
            twNYFj7q1ECOZC/e6nYm7uo/zh/AU6xa+F6eK2Sb0PI9ru4q4EeUeOmaxTZc
            7369T0rmVnrdoaXy8f5wF5Ctk5iIgGcYhRrs3NW0wdooxdC+A0gG37tf8H13
            qoaPw+hWi4ZtesJaTpskwK7xUecGhrI6WBec/bVJ8s/BPWvuHYVFW/s01Rg/
            JsmDIUuC4427zttE1q9J8i4R8nMq8K02D5fwVcenOmwisSBxWX8eSlvedUKr
            tZ4FeeYGZN/fiq32pHYSRYJ2ctv3t1KOxtl0dMtvSALg+1kHq2pC30GRerY6
            OM0fm6jvkzOJvnxJlDFx1908QDZZ4/vD1RGGelu82m2QfqYPEOZbnl516hJY
            mYfhVJ1g5Gb1xWF9KLHuQF4z9Xxj22MI/CLQLmUdAWAlYFKBIkGuBmCmSN4H
            26ACZ/Q4/tX6++tGViROKqW/+m/Uf6v+q/J3vanSqdKl2ku1V/2uV0QE84uX
            aW7IoYCHxFkoVi9IlULBrMn1n8UrSIL7KZuKef3NvThrEz/j9z/txa6dr3uh
            9eef+3u9W+3d5gjE/rm/r3fXfrf/c3+/vvv8c39f7z72LvVU/8zfz3c73jWp
            uImHjWf8Z0oGJQTupoz6v9rEcxu6RUNvDSeO+7Pl3YdRWvfTAFIKQHMDMsnU
            1wkK96cnIEN3E4Q+hN/zUHbdg8mP43FzoIoRlJw9gALVcaKDQXmAFiVcS+Ep
            TxgNuCaJTKAqMu+6NZraywEMUmeoU496BLuBo8C9wOJzh3vjKq7UfJ43pWn1
            G0/89X6/rX3vSQA/zeo3vScsHw69h/roaRv2PU/eV/gGjD7fjxr/kyrOURgj
            10Ix4Y2r6gGPPgDvhXjb8RS6x3m2ivHcGSCA0IySDveU1UZV+wC/ZVFQ/5S0
            oVg4i0NSe7WnshGc90ZFGYXXmFK9+JArTjEXLESKBkqxcJhK7L3gK0l/3DdA
            C/BjBB8RCNJUF6HexYslB2HlCDGTcGPhJGADYPFy9VRxLedDzL7ZhgC1jpZc
            K5pgz/qrU+I/RMk2fqfoO1f0IslGch69XgKOQG0xB/QfC545EbE960bNDOCU
            OB5+g7vFeZ/xzbDrBULFrvarZOtzOSys4Tl+CoSgxKsZY6bYAf3ofVDxTNVx
            zli0MR/M5qYcowl1QrRx++AlrOD44w2OYtqc6ffa88fN1LYygqccyHOyt3cj
            mUU48Uzudq7Xik91ZlCAdtERm8xl5S7W5m5qJoVkccjtN5UJn/Uknbd6FJec
            epVYhwrLjFnNz+0kfTeQC5oNqCEQC6G8sJ0RDV5L+20EJrsQ5n6WQOTiD5OH
            yd6/gdgq+pLAx3tOIMvjkhgGn350Gl16bs8JIrcJeme6hyKZxfuI3lMj2yrp
            DKp4sufzGrnK2ML49ooSeFX0KZYnOxK/Xn0Ds4mF60LwBYtj35hcBIrOce/9
            XhQsJBDcw7KxpXYxVZ2Syg+yQb3g7AXtXOcBhpbDLmya8E4mGecJe4DvrAmm
            HRNMQoX3QLd3rI9tEVC7/P2zbv6o64I9m+SPndeJ4CnxhAreTgnvI2lU7C5O
            VJ7O4bi26uwEAf8Z/zPtJJVlvOAdnVQxDvX9Bt9E+ThFqkdBr8RupErJuQC7
            836ACeY9YIgEFiASPTd+Aw+ldqZBhEHR8OAqjESII0yCToN+CyLLAhZrxoBa
            HezCAHwFtPM4hAuHz/ewCHUA1gY2CSEpN4rHQdnWCWl/DPSJH6EsF6LvbhJD
            r+n4OyzacHSHBv3tu5/8wEOKkYvFji1Az05EN5p9+EEHvF9OuKw+8wFpDyaw
            +IUj70DCO+Gy577tN07qA/a94OOY/EKhR3F+aXFmLSMarwiKsgT8zco1zAt9
            FzXPcpmjJMD7pz+g+W6dLRpdsCw0QgbrK5ZvANk4TDM2tE1OSpwZvUOjouw2
            GB1BMOkFRjUTYhXCNHB1VW/MT9XSEmK5lcB6lAo+7wXer12vRJyXXMEnYucV
            QSd+DVsIc7ncuGkSg7WIe3EoNi/LOx3daLZAp9EYvUxjuDN2g4s0oS84jO6m
            lCbwFE1A+IUaIM2Ll3rDJuLne8H/9b1523uu/IP31i/vFXuPC/un92L95b3L
            3nuE9H9/L4W/vjeavXev93vCS21dr/eeX97z9t56sPuEJ3nKuAkNr0UsSn8o
            iMJOTA/lRCBotjJCGJ7gCruo8uFNZc999RFrbtl2hPNAKezeCCMBljcalYxw
            6uv6ZBIAZgFQcYpQL0p9gPu4AJEBk9EeWIpZe5lg8UGWrdae2J0vlffow6tN
            nmZ19t79I+EBtFd3mfM3JQzuECUAPYDto52+fL1LgqPy27WB2W3nGwLb3hD8
            eY42G0/c+Q7rnEljWw/AOnax5mUSJ3qXNTZKrgCgSIiQuuX5xAK6PLPv+GM7
            Wd+IvbqCNQvCgXnRmu3peCZqmMdMtDWVEdK5VHvZr5v8udtkNPAMcSwoKnyU
            jYT8kJ5CR7TqYFRzJxhoPGnRKCQOknV5EgGH0QSRPBXLXnJGPOV4wJ3epDfR
            EbyIskMOqw8zYlDYXaKU1qUrNxdr3hgQRk+9I3h90PPgb4GBb/SRkwfwCzIP
            2IKwBIv3W1+xQK6hf9TqgDt3LCeZT0MUtAV4Sss+ElN3O9okD8rSY3pjjOnG
            Rk57gUrLw+9JJZUA8ETTB4DMmwwn+OVH01hlEQi2elp/F9sm5hSFho2NmWU/
            qIN0W8cq7oJ8gDqIFQdrPNQRDHwArt0PYCEnbr4mrgB20ggz4VBq5UsCA59j
            NdbO14KTgyb5zrX5nyZxNPASbeyibLmGCAsgl2sQyGCAsl8DdQTCLxyqBjwT
            n5HcBVom32ELcruCyRYGbTiBlGgA4YKXAPkBwiHYdxyQF8EVdmznzvQUypX4
            WhxyI9jxVMqB3Efr/E35yMRGwxxjtvG9tBfk9J1CnVBAyCWcjE2K6wQ8wsMR
            pDGJT/E1ngsGvJ335LMekH7PpPCSBz5egQuSFg1VcB1PC3nLu7meQNqVWsio
            E0M0CMqVZ4Qgw3HHYkfiOM82HPr8eaS1QARhHauIndp439jRC0wt7m90K3c7
            feRj2LlEYgLLlA9fE0zjcxYbDFvjRgHvfZPvcNV4ir1JTCtHcqN6IdqDG0HR
            icABmJeRZ9kED0VyvAdPLCoN4MRJUFOoIBfVBxhHajSzTFTgvnf73u17L8Ig
            mRKkxyjqDaPRPahGiVGDsyuJMlGBbd8XzuqhhIF/yLzj++QjAWWa10kBiN/U
            GtGZHce4QPTFBu66ceT7iIIE5ATel4E6soEg3fDQURDiDDZ7iTJl0jyBN9Zc
            AgcYMJZGJgRxq9s8OeySg05qpHDZFgjlWJQ+uKA4wVhsNyQmU3nFYt13BVn6
            Ar2FJ3OQg0a/tKM37oxrUa5I+pH3hWBL940qkP17CJw17uSKTVDns04dd73r
            LIJFUmLAaFSjYas8jtZo5JtolWzG1X20bdIHWhGMOzgFzF2jmCZ3/SZOa+Sx
            8Ncwzv6s/QzYLXs8nkAW654r8KCUTRD0Vo+GUg0CWNZJkNNJlU2cGCLTDQtB
            Dj9mPEwrQrImOFmg1V+TYdQLuZUXoiU44xbykn0TrwDmA76HNe6NZwqoAHHQ
            2ALaiWvzG8BU6/NkYLl1f3CjQCeIECB3NGUTlLi8JsWce9NRVVbJBOlKaFIF
            45veiVSSZYDTyI2ItcAGTThzKMNGreBtsIfWFcDT4+8JQP8gOEhQhMB3LxII
            BibJSgdq30Hmg2PACQHiAalZMjgt0GpEFxSU+zlcmoWMO4jV4dOUrGOibmAf
            D0Ew8lYWvzoeSy34isMHE5oAg+M1TZPI9AEiJ78PFhHUW3Ol6bkj74NNClzQ
            k92DuZS+zH3VMTqe8jOQn2ARcaRJETYCqpVWJLYC90280zAg8IYiRnDafKCB
            ZOYJAUtsdVg+ukhbUmRDzx+ZWIqxlYKBsqjb8CGwudf647RRPBWoZstom7zR
            2HWynZpPzTAK9+awTYTNI/A4qmnVwYiNfTX+Z/M1vdt9X3b9PPWBMwsGkH0R
            2U0s1kARo69hbGWEDPHYaapuAiEimHMiOR55Ii8HKI/VZoMeM2LXRva9AYs5
            SoWwwCmR0wGGIVzl8QWRUMDqNz+Ax8W8ASI9t8Qmzv737P8+r9/n/vN/148n
            1FyW7z5iGofnUlQ7rQGjyBM8R8AO/6iHk2L1op14kAliF0pC3Qv8CQgRj0Xi
            O5Qx6R0nAqkSHLn23I6CjE3ae1JsAAyZvBY2JqU7KideATEwIokC+rNgTiSB
            cZxjfBXQY88R7c+5uQaoUo/VIhJMmyCQZ4Y8S27s3LphJ3Z7FRw1KRbuHaWt
            WPeRChrMDxm3BnhGAehNMMjflFs9ABWJzGh8Jk8PcKjkRtE/Rl6is6wnYStV
            7IQr2vyA+JiwmxuvrdQOHN98yrtv7/4M9geTNvMz3mCTYgRf/LEuoqy6PAE0
            3zOqiW3ytBMQtuBU4JIU89WzN5V5PMy3Thl2dCdNHUAKePmzAHk/Nm9bomDC
            oZEcBbN8Qv6NgyXe6xnFwL9AHFokHzQnFLgLT8UnYVOEuJ+5fXKWLAHyTVk1
            aGOAhQEU7UX+AuU8KXR6QlF4ST7FTYCBSued5v28M8hAdGwSflEXBDhqMiwb
            PAdHMEWe0oPLF4XH4exdquMcQNtsLhp0+3hz3+/JJVftRiTMxfhAZdzc2daG
            69z1aIeQdksN3HxGSCOoLihOHwRSb09u/KKY30zc8DuD8sUGE3MMEE/RP80S
            ivg1bkTs/kXwic30gAoCWAevRaKmUqMnVsChhRDD42nGDKprPE7KXZ6iZrwf
            CAGyHIuCVpOyH2m7KXHC+txMeVthU3rz2kGcTOGVJeIqUhSx6BYUMQHoW8GO
            vV7iCKkobSJ3o9ppmdgCx4DI9CLP8iHOoHdTsPfnx/sLfIT/sRhGHUo6kaIR
            zqmGJD25JNMP7ehBmPlb7WT6r4HfIvTj5Dsa53cD11QVdOxQnnafTA63hbrX
            i/kmBwNcC0q9UvWwiYo2JdbB9N4AV9GozXthE/FERe9GEJQY4mPAZlCuBhyw
            zMumtewku24U51+NglO3+E6tT79BNtO7h/Pry3292t+LQyAHVPwM4hIxsZs0
            3dZKoO/p1lbkWEVVoqvvRsiwOtLpRSw0zQi5Kvo4nvfDoLHD7X7m7jBopXqJ
            ceOOxE5Ded2kOYjWDU7R4bsWyTiDwzVowvJDLXN9KMiSMkxEASFWFi40RF5r
            oBtgoGdPv3EcTIo871tgi3oKsCrUF+lkL1BkuvLJnVtD/+d6pqjQLbYhGYLX
            nJefG01B6AZDA+mb2grwgEAbFF+xjpywxAHRe+erXm04fNpgQ4pF88lY3ZAL
            AdCTli2OE1YR9ioLUA+Df+gRVVPwhQQAUL+MuwJf/FkOxAagQWMaUNkzdnXg
            sg54L32PJhbvgV6h2PORlSp362tiyHEkbBFy1WwnEWYLzAbQyMOOpNrFcHAq
            AdpE5mriwGfJEBTPkyaxX9jhov7iSlLeOZskHPVJPRIhAw0YgQVarSDUcJ0N
            RJ9IaRA0n+/uCcbJe707CpFPSnwvNlCidAbCXsBiJ+qg0B+/pRrvU4kjrc1f
            wYd3cmIct2yVsyThAKEdjDqtkQGjcop7cZZ8QNEZt5lN713YfM2geYQzaoe7
            aaCTPFWUkJBaI3mcmr3XSLc5k1cd0cQdF3FIFulYgaWI+Inf8rbZzM68fJIm
            v1jbZOZwT0s77kFMNgWPpEXBFGJxNLlPGiZ+Yb/6fKYIjNvuR35AhRbp6Pku
            8SoYjFZm1PuY4EeIeb/fzvt5t7ff71i8M5aFzUt+JT+gTjnNZEyAboucnnyk
            S26oJOXvLnBuao89r7bI4MoGNzCQHGglExlN2ZuizAnndwoXNint5GCgilYB
            xzN3ihcov0qkuUPeMjPtZscGtZttQjXJ5PX3R3Uv0wHs+kp7m4EPOk4IlrRn
            fau20vU9cVj4nsuvBZ1tjaPjP8xmJQkC1hwQd4HyoTiFulNKM7CYwOEBIBzL
            78EnJYdtTx9aiq3BPOL3HQIo/UxzB7fArvUnpuhQd4bc/cCOJwuw3vVE2QNy
            /awbUJenpzYKB0FfgQFFpeEGiIdJ+AtqzmUa8FZufErpKXHHhu+BbIeTBH6t
            jfKs/6+NToEJza4BSWxxuCxAWxS9gguv1DE9dNd+6G+OU5VB6ZAVlg7DGvMG
            PuQdowkmOtDiSqPFRSIywMD6IK6gBRiO7TC4S6Zn0dm83e/3w8f74aNOx7jx
            HhgXUYqYkLrWkqHnYRLf4DGZiCmBcOhF4IGUEmir0R1Oh3vuLGW6yQa5s/EV
            HCCcpq2/X1I5U0ubTbQDfoQCKEw4yV1HSMSyj3r11MORqXQC03eJC1ue/O6Y
            z30kLLkAhERjjrk6cxqV625THB8bg7FsceTO3Lf6dW3PAKoavWy47br2vctu
            e+adqzUG5s8gu3njX+BwvHHQXmrim0big6fEysn/ixThCXXfvylE12//8Zvl
            NVzntz+/r4/yj99oD3xJqOf3KT9KxLJJ/Wv3Ezi+i/Pf/WtXkvp57fHk67v/
            c5dzc9v493WX93311YVPcZNJAwAYPxYfpFWQ+oDCCFL6IM8OzpHUCcAC4Jq0
            lT0E20pKAitdKChiY/00hl3rKBwkCfgScXi/RKp7asCw5/Hek0klZYLUSaDV
            929c4+3z3Mq1RgqT03aLqgLJ9dFxdbpQ4YB+AZwukvI4bdTsZnC3rM/QDy+d
            0mVtrXoX90GOR9kQRj0ldUdVNvU8fhtlaFZdFlkvMh7MHChYWkBcNP/yg7Pk
            pwNj4Z3UIo3Kz+6y/Y5LbvwkPjJV+9fiWRe4ayTn55JgogNOsV1qnBPnT++Y
            qKrv32zTm2mUo4UN9X+rOzPoOIP6ucLkb6lFxCA6LW78L5PzuRgKmnCTwuPC
            ZtA6GRgnm6sErnw3O8XS+P19YwY1YTXkwZgb3CQaLBZ1Mo7HFuEDk2Pmsjtq
            YJQTu7fljEyODfRMHyBAgK/QDs1YApha/K3GjbiwSTqoykDLWOAvxvfAJGrf
            NyoepHgM6isZckrjuTAgOAjA1MaNzfmHNvwdh9oBxx0/2iBYxJi8wzxhjM76
            lsEZ2OIkwr/a7MSA3qI8atQB7qqvhhcwGfuokeLrUhzhLwfCZTUMuE5kyYb/
            UpdaQS0AhTIAxfjNd9BBMAMYFHf7D475tTn4Hha0OkmWxTCKT0rvRcu/gIhO
            mT53KeBBtZOaABVYV/xFln+FpxMatmm04CvU1dBNQ/ZqOgGDYPC3DXROp0kx
            stlOX2lb+xgOubZD8ktCInkEGMFBBc+2iQOWBKUHcjzXYVpYfpESCPTUFscc
            87mbdayu19F+NUq+QsbnNnlsAOi4YR9L7EEwQRKaQ6GYgohvgXZmvcPP5Bzl
            U7tt4UQiByemLkXQXUSwFHZgEqnyFa6OQkTlMrCTaAtGaaKb77ohnrq7zucz
            4k1Js0kmC5SQYQAyVpCWR95UKYL2u57gHmpIOS6Zog3SRx78KgHhXQHr7yxL
            NIxWau9jDWTLZHYIz3yPh2bw+bb3wPc6tvXbGF9js7GmPcZcLPwEgHi1cCUe
            /OWdcwjev+Fy2hOU/zoxX4wkgFHokZF2AB6yLERDAWlGkTfuE4657NfAz9F6
            XaZVtCin6IUf7Pn6WDwQv5neD8VRCpBLIO+FAcsAhaqCc8JYpzrUaRGkR2yV
            R0Y6eX+92qqGSzwWggZ+4p3WAmakISLoVi7Xw3cZw6fWs3A0WtQBodGi6jpZ
            z7wWAj2Zuw3ZzoGJfdn27fY77fTYfrD28V9ugEtOtk7XV/t9vtvfblmu3KKu
            QIPvj7FBVXpiPwPUBzEfBsNJdhR56m1DwSjwQF3IZYomSer8bcI/v7BVSz11
            1XY84MCM/NwGC25H7gB0TZ/U4dkEOKJG8aSNT/C55iUlB11p5sFSDgK+g9rr
            Sa6Cnqy2A/itYCLXB8/2lkAQJ4QPvo192NIAtBHZXq0pcVNIl0Rxj0zYqDsl
            RC5m3LhBMvtUimzlSDiBQM5um1KJqv1JOh9ZouwaaGRv3qaudkqygOiPmla6
            DixE73FRrHB90PK8jx/3UlPbaXrvZuxQUiLnQ6TskmRnRVIV/gapg3beeK5h
            cmaTRrBuxVw79VnXkV9yT5cnc3OgECRSolmmdxv+c4AtmPKKSrT60U+Ugy4Y
            nlz/4Tloa8v7D5W2mYc9JNWLDiHb4cKA+KgvnJOs/esD11VijoTiVWS1/Dkn
            QRsLVCdWAqR5pyjVVUcJXaJArSUT9STi/cbLM8YGa828sug9TuZPXEqyyF6O
            7mYcNE1KuwMXDjhCRpAcQMDVi3H0khYOGnsUuvgZY3lJzkZDCJMk2BVHROIU
            0GVAhisFgGR6GWPXTppGZ7QTXNa72e5/282dJrpU7GOhaVZ179+emI+KLgpK
            gf8KXcdAolPPQhFSi5SqeazUU0NP1sct1aCoYmSzT6PIBedAeFZirJs+PJne
            ApWC9ViTe4molqlNjAQH7ZZxkv0zU6Mp77c4h0zvaVMmpR/Pr/McG35taq2H
            elllYARO3N7tsqLhh2KjnMkUWUTTLLvLGJuxChy0m42+i7cpyCQemMmr8zTP
            tYWMPtTCA55FYifnZH5UF3YpF4Vx0rBLuWA9yStBCwquK5HHyemyd9uiaq/y
            PRK4fCeTefuum2R6DfDI/k0sXdvS7s4wfkBTawzqf4C1hR9jGu6mvZuIKmCQ
            AXTWJ/pR6DN/U4o2KfPL+G/G5kp4n/XOO8/fvLP7w6NVPaMncOOFy8ZDyxsx
            w1aezMvAYnQQRZwKdEd21LlXia9lOnVeOvVYpnrANUSEKhNk2DsBoJTmJZTu
            ajLM7pmuKUUhfGZsNlme9o/XWVTCWDJqE9ebJG4n6402caW+Bs/dZMgpY35D
            OLhqG6Jf03CZ9wbLw0zyoQV2/hXW+/3+kZC4I/G4z1VeARZSoZU1Me0vPEx5
            ArYJcSm4hu32Yni4x8vuq9QpJuXASnQz1HTmKgNKEIz6lbbm9EOCcQSfsi46
            YpYQrbN+G2j3HSFDsidMDq7NKCvaY24L/x7rdn+QB4tR+FQlUw1vV9Y7gyJC
            7VVOeOUBjtT9JNfBcsWVIzHHQQYp2YBb7P2bS2UTRooQ/AGwKB1ERjepbyJx
            b+YGBj5ssAamqYXFybUyytdooK4NQLld5gTGMzknrEvci5v24u8x+CUfH0x7
            eHJpoCbNbYWw1dv35E8ZJr7QaFDqGBkmObqstyBNaejhSaSQ+ZyEWJghUptK
            H4xqNgRO0d1SpYswMSLJD1Ozdg72ysI9TvGYgKQBJdkQ5R0cyDGdNcscYgk5
            LrVFu7XKI7zxjxN1lFKnVnqB2hmBjvMjChmS76C1Iu3KxgCwYrQ8T3Mk3ILX
            6DTswuZ9gC2c9j0pJWwHnsZexMD1mzYNoMjsZAc74ZmSE9rQMeQo7uMul4O3
            2eeR0sTxKMVTf0/md6tIUJYAsgTqKdjACWhmtEIJwzFwdM9z68RQqYdSxTq5
            AWzNe8MNczWRC66p22lxRF5YikQjq01WWGiQxCVIO6oO/RVEs1ZHs9WUN6WR
            6NwO6jH7mSi2MbU0zYhCeEiBNNO9l1uG32TNingO6iu4w0pu/P2mXOhbczEQ
            yTKEHS3uBY01Lpkl4VkeoqLayx2QOxwMfb3xRU/rme3R7W1Hg/q5tsB2mIbT
            DDSubGp3oAJN0noMEhzTJBoEjmh8FCeKvwOZVQqNYzWVPM3Io8Qyjs8ZqpVm
            vHHQVNmsf2jyX8ETYi+RJc9tSPpdpZgbsmylpY1RvSAaKw2B0VZ3WuDs0V5N
            YkOWvFVvY/bPybn9KzIaJzJ6GoKrsau005nwozPudKaDYMCgLnFLPtBV47Pe
            lZ/BOhfqlHJ8WEqlJWXJ1lHtRO4d9K+E01HcB50S8D30VsauldOUGS7SR4j9
            ol/Y5/fu/nQavB7jRY4J+KxUHUESMs/ItAlAX9P4fneNp3NCA/p83uciEUVw
            s4Gw6+TJ2U5c1udLxhaeQW6/2pr16a8+xN2HNsaxDuIJSnSTjAYqsRES2yJZ
            T3Geq3txaOGhQhp9tw/7rWPvRR09Dq3VkUlrsEZovDHGJKNBae0WadRd7/BA
            wRv9VswQAgDyNi52buen+PFOfL8jyYEQtNleJ5paUQdkAgJ7t368Wz/edWY0
            zm/iBC9aWU6qGJu9J9X8fo9n72c/wy1TYMnCnD17MtXt6a/zc0455ynn0cXb
            3G+mkpEQ2GahXw+th2gZ2DbDqXA3JXE+WY+bo6Rn9q3P4RYAVKds9T0grPx9
            XgCSkVMrJ+iSkWDMc/lz9J3AH+Vr4en0cjZuV5ROpr7fPbYj6Jts5iReC91l
            amj2xmwHvEEAvqLNmrsz+MUpU6nOvoU92Wci2BegJ/AYu178c73UbMJeUZKc
            CKBoHmpd4A7Mmhm4T4uj/MQhiJLl1VZIQsq1JOI3OSjn6A/E4MWmRqfFDhZO
            zDvqt3sbhEQ6iDSzu0P9VqcxuqjfHjNA1PwmgjuAbUBtecNtCYE3pw0zDZIR
            As6XI0zuXZq/nqgb7qROaMKwPcmKrXyjBT3F3tiTUl83YxTByHtZhsqCxN9+
            yG5symy+kylYJFenq4tWkhNfduTKRV5TWYMT8rofZlSPXoREXOYYxffjebPn
            5NR03+0+9EVxTqSq+FW32DPfd926759V2TZdIWcEvMOujMRv7Gu3viosFc3j
            sEj9tOfsfcdwFPLsuSnutWdp96uCji8f5X47CeCAZfkcUI2ME1Nln9FoHrbM
            kN277Z/z9iygBAx0EfgaY9ziLveLOyhu/GQLFp0pRffC1L0w5LCBsX1hXANQ
            RTSSItEHSi9Mr1gD9MckdSXjEKewRKWSYQB5Xbd500NeHH+0bhG5vkJp0ot0
            wnFTSTA8DXdb8qWDFeb7ARN1bT6DHkiv91soXe/fr/e5gMYSvN9X+2pzXtlO
            mJHSlDQIjFOiXmXSJEtXEgBO3wri+xy+RVaADGI6vwd1ahzD694l6pxol23k
            deH8oDwNUxlQEMSTVet2cpqxx9AoJw4yK+oioWkzxjp8xjjlTgI/HFN6MtF/
            TG4OrU3pXrx8ysyFpOVEP2hMmLCSGfI9G8y0aoMGpaRQyIeaknHfhZM+YhN/
            ggmZhZy3M7uDYuZSRDm0f2uUTl8W+J7jCAzM1RfowBNXAcs/pb30B1Fjghyj
            6WLHFk92XyAXJD/YQpr+0kpVZq5TPBMNWwCQASWamwPfBp8B+nUFE/87gCq+
            4452uDSjBsEzDBe6Gc4fSQu/L/IdhAr7SOJG/aRikG5o++T4JVhrk80AC92b
            Qo0BHF7lc798O0VbZwgyeuBzp/EEUFmnQWLfkVcgwtPE7I7wGQOLjRnq1rVf
            NN50ZluMnRYpS6nY/dxVqYGs7p5BIZyn4o6qhUi9ARngFUeqwen31C7ltVFQ
            +XllQIDI6GIK5EA9iJdyjbD9qkauU+JFW+v67Khvt0kYZFtjoZCTBaGwa9zl
            tCPViZp1u86bsSKDVUj/dVvQCeyUHm+5zlRJ089vEiGKhXDJP4mRUxwhEWaH
            7Mo0GwJGYpJD/dhu19R/eHLrVLlzj8t8ad8baVk04HjZfaSZYM1CxPw4mblK
            vck0kcSxFaaVJsMEiTTYOI5mrwo1Ql/TW653tQZrh79proqe3scl/Lgw7u8e
            lQaZwDjb4CmrJlY373CaBpRkHmt6JzlJKILlcgDRvNJE32ZmHIQ2zRkquNkV
            QUSGLuS9SnnWLHLWci7cNMLM51v0Oz7fsvfi6z1SilNiKpTpG3G+nvnTZnSp
            2pipvqaV6/K2OAoIKGvESYcpGcCBEAd1oZWttrJV3ljYbobQ2Bidv1My+Bpd
            Fr6RemOCc+dkRGMyM+ErNTitkGNvrm1XECd3w8K4kDFEUlwK/OqYjeBWhA88
            9e4wq2qHuLD9+Zm+6d/f7L20U5fUYA3vulz4ClZg0Cly20Vb8GHarcUwGKlj
            T6Qj483AApsIoAUs7uW3+tAyYhiT6jHGAMprTz5GiTEXT4jLSdc5oHGE3HkY
            SCs+wuDL3+X8ZsDBbkwonW5lQ/x62LVz7iKEl2RtKUEnA+csctRMGCCi3HxR
            QIV0PhvY/aTyPCVc8rkO6jRD0+OkXLawBJJRnDHAZqeVJUEcF1MuJxIleD7T
            AEnyOTk1kcSx9nxFWbWyuwarF5ifYZdFK3O3DKh7264sNB3G/WvCR3+mJry9
            qK7XhLMdngJif+5kSkHOzj/Eiuy2KbmJURuRXJnVAcudLJYdIbfipG6lovhA
            M8Van7YGn6ZTVCq2shfn2UFNCVj8ZRwx1dEqK9G8rLMMzqkbSsAd7k50b7wp
            mV7ytR/yGiBKpAVNfZXxmKcspdWrjD79LDvBf4D1NFk02V0/XN6Br24c+Jvx
            /VOWqGXv8ioQC8ABZE4vocw2qMZWBGDwD68yWmhepiDTOzU3ip/O80J/UjGU
            8twu5EDYt886+dl16q5D37k0nOSAmvll48Hc8DuzmhiG86S5lPTK5nSK610x
            /pjrxOUtXjYK26jQZ5I8RIoMMTKriVioz5n7eNIfR/4GmwqZCgFQ9eHzQWv0
            +2P8CNvNmVFU7nJUsdRpcoBzMh7lIyswlsmj2MkRilGRzAWXzwvx+90YR8i+
            HfFO0HcYyvFRtNbblKz8asocJX1v3JHr1a3lfRmW4+U+48JpySREKNx0rbjS
            QD2VQTemLOnEotdAodqOXu13jDeIY/pqU7NLsF8kSIsZ5cWTui2F6XXASIA9
            ypQz0zKYnpCuKdKUojdVfQ/8+yC6urm6KYNdVZsgjtY+ORYU3VkhKjg6ptM2
            +KPMU1VLEvJKjKYESIeO3mtRIukYZ4bPootJFHG4UYxRoMs4C3llSoUBxPF5
            plti5B06Mbl5X+YwW5x1itoSu85d3ouR43YPZI6ro4rSmwPuZ32Wj4/66A54
            Wfa3oBoo3f1bux2kOUj9vG6gCZVTKiDqtM4msr+QMCGZTsO1ORTyTvIF62sZ
            c9+zHMDPyeH5Vtv33GXqi+o5N7JYimbPkrP2buduWT3t9m4M4+554xydFYpU
            7COMy+vm3L/7R4P6wLUH//WB0+H2o8MMZ3PaKq5/vKu2ym9t/dLZJueo9u/0
            77zz7/VN7dy/tHOfdnZ4AG91ImPavO7dlXc773f4+2Nc9xnXMmWbbxICPj8a
            rf+1Rv/fakem+52ghAaRAiElKF6HgRBm3Hosw5YckOq+B9XkzjMu2Cn/8+R/
            90vS97rbJC6uMTHzTbgYvbiRcHi1z1PoxJB7y6RGWlQe627wGRlYBWaUQ9lL
            P2QRSTdYa/TP6bNt5rA1M9DeTFY0vYmi17n2GsTZNfygQMZ2hzeho/0OFoLF
            bd4ER4KWNBTVsIOMd/VIAQ6qfZJdIf56gC2rWd/ICE815PeBXwCcfe5n0/DN
            ATF8Z8N9+d+w/ZRjHGW86uscotarjf7ZBtBdMhDJtnLBu+Cn6XPy9X74eH98
            vj/ffZi+nz4EYKkhq9zdTrF2xvxoZ4+Fc2nvEeLa4jCrnSbkNJTLP9XQvRtq
            fM8xbC09mi1oULbBTAtzTAkD4Xuyd0faC5nNnbxkIMiPev/y8/Lj+d4cXuMA
            8iZYZBSbrhNGhVV44YY2vPp+P/cYm/KiaRsjc8WiuDj7pFAay6ATRMhkpaXM
            GtRJ3RIDPRT4PnJlXyFM8vZ2L/PEST9lEFpE8cHMfXlPIxhcpV2gNQ85bUZX
            rFsqPWQdPFPrZgfdSGfTY944YM+oloxW4Fp8P6eKmM+dXFHdpJjnduwULSHu
            0ikIpSzwo4NuKIkZOyInJ+tkHDExyhQ6lv7ayWfmpsV49SvtfqXdr2Sn6dWv
            uPsV1S+c7XRvuR5By7SJjGa7bSBG4C3SEZ+Bjg3MTEYiFFUnO95FuzT2jRab
            uedq9nxNXgLRIF2XLJEBKLApZJFEC08j+xV7udzYGcs0rpQdnt9gRwYjZ92M
            4LzbW6am9oqhDsZ89P2ACiS9yNRhR8dTQOK255aiiXZ4Sw5WSol1fjOWC5k1
            uoKb2W6XjzO1gz6DC6cLOqhkdWDK06CzfVCXfXQNrFJKzd155cc5M1Vlp2le
            z7glnJDaaiydQlDKkRgDinqmQE38+zfbJmtIute+t0X7oBI39fgKpUX6lCS7
            5DmZfoV8znOVrzMOkE+SODN4aZiLIcHpflD5vds0uZgM2mdhM2kezQuhO1rn
            UKhIF9SVJI2mhQQN5WnAGDBhQcJiuvsW6oBYVja1JiyiCmmFE9R0soqX1aQ8
            AThB/Ej8eA62qF8t8RhLze3pusewj40doLTcXMQZhpK2SjLNdXKcl6jd16JY
            LGOY53aYkYHqHCNb0HFWE6OcITYJfT5j+luRLzxWp9YUAY1oVxcoQeQJOOWM
            yqF+WDRd3jPUeZUenvHeBm37ZXJVd1C+YP0IjE/TXRigGiV2oXWPkPs18RvV
            sYMqwz7w9NB/9E5gmZIW1FTTjFdISypTnllYZXSGmv1zGhm5wCvuC/glWjqm
            LTZjOkiwi8EsPoFGXmmI8BBAGSzVy46KplDkqgPdXmpRwDaKVsgspspTQHC1
            7+O+9/v+spPnqt3L1qCa7RoVS7LQMe942hY+6GAT/E/P0JUSCYfpXssxiPtF
            osXfO3OWESpYGdmXtU3QpG7WLui5XaNdHdhMPZ9WP+1yYAG7HiuZZNe22820
            FVaAVns/7tg2t3c7x55ZF2GK+nabTB+/K2DN+V0+fjcLe4wRMtClGPBMaYzm
            SYdw63NuStjxn+HlOmixzwSHATNzl7CQOQEkod5mP0GpJtyjoCUMYOdu09Zc
            u+7ne3k8AfygThd2kRLCsv7NSIQnZArVJlLsyXzD3cnaB0WE/VwVIwHoOPyj
            /p3vEJ3K0hWnd5ZbKkC2ufamYigWhuD66DOjPnlT+tHFywSkLNttuq767lqY
            QFp320nBYfoIQTO3nBCUFaHW0Ia6bBEWaOrlGaPZO+l00A+gkfFz3s+YvEUq
            9MrW+HOAXICwG2nZJuhPE8PJeAAxz0DwGxBKrhBlMmay5t/TlQ/bju7w1mHQ
            N5L2TBxxgJBGISvKGidF99Q2Sn5x06oECxsZ78IzKyDFjLRMxEnlvSP9T6tQ
            Nux3xA3S6LQtoguGkmZ7gSfdR22GyhDFdeOYNChbo1XqJVmgC6mkgT/+j5GU
            CRU4H1jYjnMDEOf9sYnjH816LwAsJ4ruKZifxus1nw4+jeJWiaEYMc+nUjzT
            U+MPjHS9z7OIw4+N2Q2sBUvkPFunxKqVSNAVIm3JVpM94UUhXjRDXUbzMBjq
            HupbXLwV+7M8o3+XP8eW+mng24GMa5MVeVMOZ8acASY5cdHe4SdBp7TwDkeZ
            gXwDky+BDdWRp6C5Mc44dQOVNmEK58UYN7I5k5mabJW9hc0ajKmMrUuN99UD
            I7Y7Wg/TRZ1UNICJBUpt2cxuk3JioD3fgL93cCSGiKG1ah+ySmUOFZn28v0w
            FO8IG2fI9Z7mtpJIXMpMrnvh27jC+YaVm25IZbI4uK9TXp69OLcFK/6tM5d1
            BvPZvCmtaPThldaFsVsU/rDsmMrcscW/BKc6vkSYjNrhFQzIOsygP5s4aBRI
            mg2rTa6sM8SckkqxK00vpW+KSifBgNArMBRXpcaFmk+65N9gEHMNzgIouW1r
            3chH4Lv4fVHKgJ0TQE8r8pRiBCRzX+cpo/BFC1lF5ZFuacQRVMqPtOs2+aE7
            Eij1tvGf33zX3TIbkIefyhl5MaNvlcZ3iqJY1U6hFnNZm1lCUfst3MF4oLY4
            HAfDDGMXBJrAOg2c1ods1IwTNEn8zcA6GiyjudJ2ALuUYJ5BRIO3QNsYgcxb
            6actqS6YO4UcQP23txj1eFWn4yH4+he/RWuW8z74GDoDV4ueKVkbzn0lQxoH
            pV3KOeL1jSvOykWkivsWU0iSxxaPcWJkG+D3eOguhQ0gVuF5LwR/sz+ZkTvN
            x9SdxfBYDOqSDW5zdX9ZdOrCNmESNuExppnr3ttsNxoTGmjQDORs1AfINWH9
            NuwK8jNY5iZ7qb1sfjd1c6icvK+bWjrU00+q51BNh/o51NKhul5U1A9qa8U1
            P8VJfd4WFn8/r7udQ0Vh8rSTEyPcguzlCQ7PI2dYem3gQ7QMJQ8lcjgoGGWW
            6HSrRiyZ0Y/+um2T54vidxJa0HZnuuxljbGaRV7UNIWVXDP2wZUd2IiqHHzP
            rUex6QASp/Rl5j5J+h1sLO1YbXEC/XPYoJPzKAgxwHnntqlpNa9fGtUxHL7i
            GiqLnX2EIIgf8dTNuHd087nxiTJjU8vpGNgKvFK20PO60pJF+SgeMFJRcUBl
            myA7hSiGEjzEI6LC5XoMMkhAMCNJY2oYfouO7NESOYz+ZgPGbd8abV/XDlnJ
            SCVKNhZJqjvK/MaQ8SCDKdOreqkf7CfjW1VwD/ijbcVwb7DNqOrKjGIR6EUQ
            kEokSurTnmHyQQ189783e5at/297CuN1rqpIwrY4JwszA7A26jAUyaicyK+E
            QaFRLsboUNHypLbjX2KxnxmLmQG+iYvAQFF8Av4cnHKqtTxgQhVYiCi+0X2D
            3MZNk6fbksXsiFBEPskpqnk/LoBsn9bf2zhezi6XEmj7WRj2kgZ5zMkjPMU4
            1SQHbQLBaDvFGRPY8+DUbtIJkzuYARtLYHo9EQqC86NvmH9JKZbJjjLBRlm/
            bzRAWBpCP9q0DCqOMTJeMsdK9TbvSYDyXlkODnFFT8NoY2MOhuQYuRHfmuul
            Wd02BCEq+u+0YNw6HHJ22PeigjEF0QJeUx9OOzLJfACkww3OmuXZykXyhz2x
            2RIJBiYtzKJSMvESF63Tl3rZotGJMTOWtTPJAUlw2lNvooGUTvGSKwl0OB59
            tjG48M7aMHn+MKrIJrewvB1fz8vaUVnbZY+sUEEgon9h9wtt0hxY/Vof76pP
            dR17cKonJiXe1HLuzY1dUWVMItKaopAbu8VZRj2zu3a2UN4Ikj6aBKvA90LX
            jg7PRXhsbYIgtcsmlocKnezGVEkvAiapDOrFo2Ucbrifmvyi4KVT7xUCQ/Pf
            CbQ4kHJMee4mJzM8UZ7O3MkykcJOX0oqYf+XmJ1GMWUvYmVkiDIyvRPupwei
            eqXbzQzAK9DEZ20ycrmBLF2ZJ8Gin/vznUZwa3yPXKmUS4dhmEgyyJxJGSXx
            CGiHJz6+gulR9kOhl7nGKkaBQKZ/Ba8bxdiLXi5fjweFvLkJU6YPjDMAmgTE
            BzCGrv6yK8FfSuimt9+DRKzPFi2EYV03zsnmn4NJJM3Qb4ZVoXED47MXXk8+
            m0QjGcBPxpXgfX6CJMC37FPNI4yGMrQyeeaOB70jnzNnggX0uWQg3relp9wZ
            hxLRlp0++jbqxe77eW/ta7Xnedo1Abh5Szyu7/Vm9ca139/tMIe1+fHYte0c
            2ImGx9c7Tw7tHIJiVghcK0idhhcWKcgmalP6EoA2K087fo4FBKBJ2Ee5TLe8
            lcvLAeXZ5eVfJl2Y/l1+2nGy2LHFUWd3o6r06oSzTkw5zi4ZcyhJkEK6XgoY
            wftp8UMTw5kossWtSU/c3Z1BHmyAVud07GYSz5x+th1/tv0xoPiHAR1h7M8x
            xI8xxJ8TuSes/pzIPcEyVOSCkMvabir47corSa5trpfRivE6ndJwC/7Nph6y
            0iKwru3hDTIPlCJwagBEYtylZEypHMiYXTJhOUIJpe/FUQTWWBQA4ewoeZ8x
            sIPlKxAJCJiggG3XpmzO9aTOYnwYhvWVCI421ootU65rL7bbUyvk0xmjme4i
            duLmNHPWEC0W5/MavD1/RYCyiE2ijGg35m/z7gb107686DaxQmGXxE1kQKfp
            ddolN3OcFYsTLXOr87u+qT1aHjH/kuUw2A614N+e/AxZtqanHXcT7j22AbLv
            PnmwTbPMzpqDFFlfBvLzO/IweqR8vRdztaCMdI4Cxyq1rC2OqCyQiTJTlTnd
            wQX8TzZTXOXN3im7lAjIPhYSowbezKGrYNX+tw+LdCW5rADWSimmeFDsDX93
            uSrLoFHfrPJRRX/C/u4lTebrXYW33+9WyqTCu3+vkFwnsi6j3P4eWdcpsq6z
            yLqaFLrtmu3bOpSVZ9T4dr8mlzZv1V/XK7PjpdwF7FtSdF4v1w5XMS/N/Bzj
            q5zR5RveVyAOQQMKevwmgr6CM+3wKqG9/HPsK4kKtJps59yD0VmUrKHly9QH
            gFV69iRq/EdjNFsZKaTbjAMLQRmQcLRItxbi9di9tSebr+TSzgzyIKv3Whbr
            cwdQYFArBWq4tuHfjsesZ/HHs4y2IjMP+3mDeuz02bzfoYdHtyCnwLyMNljC
            spwNZkW6Iwjmd5vK2dCVutIpSOP9UX/3QUj3o365d/07hldfvE7q93ctt4Pa
            CP57HDE+S99CHbfBWt/ZM/SCb98vgIl6D7ziY0369DaaNIfPjCsAYWSa2CZa
            1j97Ij4G7sf3QJiNShmjrNNm+mT5dV6Dpynt1zteeTrPOxQlhB321+r77/qU
            MH7Vz7v+7tP1YzF8/1G/vCd5Dk2yS6Rng+JW07mrH0tPhsahu8lV5Nvkrmwp
            K1UedyR5HjdAkbl/K/I21ZN9BVnBKvouDpczM94jvqG69xJhywlhgvkdvNuJ
            BPYUHNB9vICfWQweQe6WUccFb/HbZdv97OiBv4Un6xnjE8xMItdWuvikK5hD
            VrYMIy/vaecVv43Ry5Mf/SRcyjiN5N8lx6EuJUT5b8rTjrzDtcllJlP94XqY
            aEvNvNrN/EuJozw9GBRr+qNep/vizkKP7vqPSOl5X48mM5ZcLewwAQ8jiZST
            ezTtcCkMjSQnY/LUyttWN6gFL8Mk70facFkwJ25o8m2Kt73z5wSRH0e9Sj+R
            zgSkGSxYX1VcMz/ZjINWqPO8ZGdQKA/y5kXPhLdHHdtTnPhrcmhspW2vuCDH
            22Iez5QkRAkHRzBp9PAydGdMlUbOvpgNGAgTEg/cDN28oC0AOSHzNoyXUxMN
            dBkm7RX3ALOT7d2KXSIvvWj3bVkuNaaFZ39mfujHRjVE62GbYcnr1yJLxQZk
            oYhSIPpcSni27GRgUF2JNrLMpJgJR0kvwf/v+14ldb528FbGnt7PnJU1y8RO
            yEOUTR6MByFtlcFslmF3yAMiH0V/U9ZdNtJpDCdEai9O5htAxwiHrY44BxlJ
            GAMdo8JSsmOTchZmBCrYnRQUMnkjO2NtG0ec0lkYHve6fw/apVAu1U5aMbrK
            KubBEhPcTwYsI8cV3KHapllZMRCYjPP1bdlpLcY9KyacrHRo22240pReLNhk
            cy7YDsBdUzue0mWmZMY9x7OzfXzWBbxuvKZkWT3mva4EPJwy3WSAxtoISb5C
            jCtL7hzzt8zYhPPOuQ1uu9Bv2RrTq1zU0ydOzcWs9owDYCRx7DEVIjHGgIjm
            Jl4lBS4pdEUoVzz0RlJ2O6/mvsbPj7oi9zuq8RRtuV6vb9AbICUQBD/fSTgt
            gXKtpm86vedKoo01o2aE+l4cV1YK8s3EoOmtLJEJQ/3LSodiGh+SgWd61ADQ
            hBCMRGaWsa96l9Vj4Ictx8NxKPJaOLueGS3B67xOwdnAP0+AewT+xZZQSW6b
            8np9j4l8BIGwoNR1SW6K09g2zrmNL2jtHEHu+ukVZ1879H06vDuxlXl0FbiP
            Bt56Hq7XM8C0UyYrRupVOCn16eRjromDNY7uvbRqrouBxh8EM/TzOSC00Fqi
            0VlIFNx9wC8HhLt+XNaPa3qsfVuu7mRDNZ0Qy5KOMHetpWCxYHvjOs+tvnia
            nVONv2U4xt/599+HD3tOYKQdxO/Z/Vo7k++9XemJfyW/bea0K18xjN9tIW9i
            Oifg0J3LINyP5WwDCa4jOSK42GWxLi+LDZBdnaLTLUZmdKZMatfcprPXz6wa
            TBS3E1bQ40sxDUCd01xKASZSegsfFYxu5/NkREE9Z76AHaAvXBZyjC4jtIvz
            O7+0k4b1vl7tbdsBN5ac73vKN7/fSYZnxbJRu1SgcXcrV1ySkeGlXQ5cREky
            LTBPgAtGDGGeuM8+ymFsB4hg+xzECoxjXWZVRENtNgtu0cQg9xfhMUX0UIhc
            sLXGK9jso8RLz2ts24bgIQadZhiHnUd6kaEAily1uGNBtt3k6S2NI30YrxdV
            xp0e2juirfwynZLy4bzQ5JwOKNLdNDkCg9QcStpKLaSkBkaOKhTwI3qGFN6k
            vTBoPrZPJ/9PTpwDK0xN70H4B9oC0OiugshAn5nFk/ZrtqgAgNRUM8IWg/9X
            96Iel+ycMn1mwBd99bf37/729o/7W370l/zfV6AKOgR3UJ5t54cgA+ZBL152
            Wujryui9llfVDe9AvRhBEM0h91KA0dFdHsUxAnG+Z8tjWlxNlt+DnbkswzkD
            Oy5L4C1Dw0vZ3uyedXEMu9pkAMgPchpbd1YpnwhNmB1EuWwsiapXCrLRExgG
            dJbfo7C2BXoXyiJ0MhLFTijkGc6Lml9H9TIjXWHyWjRTYYMqi4tJN3gLBdNe
            kQBFAumU0y4PI/xrAlvm2BTemeR6yYBsqQCpamoWKs2Hjxcev0sJVpbFKyBz
            E/k/OY6TY46JIlj+3Bvpgys47wk/UqlECypmsjKcE0Vtb5d0x1WmOdXJVksm
            6jRAcYbi8IPQZVlh1GfGRd5EguCxDOQk16KufSnTbbJgQvNR5lu68DEhuUvT
            EC/I8Z56XMRr4FPiK7Mijrnq35b0W9/u5qWm1K0bbLDhFLdg0WmQQMoWu5Mh
            DQEsmnQ06rtT+jHCeOlPdh1sqCZPuenceU+xFuraifhYxki7sSukJZmTVqYo
            U1c+MzlqjGkZyAqDaWtIQQJEezudDLAWmhydDd8GE99U/4Yc3XBO9CZceYON
            QqSNjjH2rAbCWDQfi0V3V6lpozXWuXMYzG2ZwosLw+A6tBM7vA2D8rQ9QLZz
            u1W/QBUZQJABWNi2+nKfdVf+a12latl4jYH6FNJFisKhvj6X4SulB3jtZvP3
            Z8BTkr+TJ0+yVXrZicQlX3ZwhmyhX3FlNw7SJgUpzXiRJcg5V9JrbwFfXwFZ
            OWYm4lMsaYtAzdRk/cyj37j1avaMWtBz4hiA9Z57cVa1wE2MJ4PuDIUS3lTH
            yc95MtkCjkg/03f2CmaYsYiGltFWad9kGLGpltuolLk76ebLJ7OcuAcWqRAE
            XXo74yqiEsM8m7KrSzhoIYe5fUCTFfqHhrg1ryBy1U6rmXZtiuJPiT1hJ2BX
            qpvsJl5wcqo1ZE79v9zbkwXaO5rZDfoImJvKpjyljbqqyk3gSEA5kMDlNnsI
            MhS0wBYfQ3J6Se3tRGzIl2c4ueJbsj6B2JfD71a5s08Y+5NM2RZD39k8aE4q
            xUf4ECswtEjyzzZAf4TQSXX6Y6USS55bQ9hk9VdSHOukKX5FMtzhrUixXc/J
            ay3VdMq7UyCVxydV1Xam2xdll2y3HeqtXCY2YpKHL2oqflNTkfxKYmZb4zeC
            UXW3LExdqxa+JbxU0vSYfoVBOfm4b0nXt9rC0yo+iTBBn9XHHcvBT6XoBMMp
            24RG+csrQJP0s2bIn3dKafrGHkp2fow3mLKNWNpiSTNklUCVuEzLTEhAHhUk
            wkxzcZzvtW2a5Y9Cnc0hS6vxOR0T16SGFjef/J6keRtJyd9BoRxblQAzWwYN
            moaQv4pm/J650GsJ39ybQnLnfdqOafLu+iLNJQnPO0zWEXQQhDL0pO/t4DIi
            PS7Wuu/yRYbj3ed6T5Zs6i5b+FTs/lZIfANx2jODpsSg9njSs+HdHTdBcRjY
            V5zofuzA1/zrN8dcLxRBJStdcbJJCGJSDDpqi/M7rQkN45qsOLLgLn1LXngn
            veGl2/mdSdng4KwX8fDCT29cYYFVx22hewzcjXjinmEo5c1M3lffauad/Ocy
            cPs6idi9DK5iNtg7X1uhXI0YFnNIdXQ8cd40EWCXGZPEdqd4apPVMeHAZaGV
            JW5iyHdqDBQKplUZjXwHyyMDPHd2w31/54fIlvHpHsWm6/LCMPli3fHqulIQ
            LOWhfjxlIuEE0+MJ3VZQ5hXR9uLIbXbHxlSAUCMlfQ1pglWdTH6F31Fxorvv
            IBTwRDqZe3sh0x+sfyqLfmsH/ET4rZ04/9yOFiPE5xX+pI1rKk4MTwHRTmRs
            FMdclZzcRDlbAKYaCvTzkH4+v1mPFlttPG1RW0vTlggCdAh3SF9MuR52qxcB
            gN+0pcH3ARYbjQ+btA50OySNmxaD+TbWA0nhGXIGpNqiGdf8LG9EeoqpVsWl
            y+sF89oScwjFi26bmKzRdpppjmkvjsJmRqntcYzjCjfzeF7F3OiYfOj66OhD
            q36KDrp2V7gZ/MXu6WEyk8XvZ/07OF3Bp9DE6yD7EcrQjsrOcgpcilyGe0rf
            FYTOPzIj4lFfikIkc3XLFXcpoAPtD3W9ycm4SnOpQgAzFTmQVtA74AJNbdMi
            EcEJOG3c9eN5/3h+M+QPkfcMdr1Dn1pUBfGWLx0Ij0SNRWVCwEtxDK4mvVpk
            bh9XVqBH9SIv54HvKmPM0dz5oo1XkKMa6zBWQhXRQ31QIxJkX2gG6PfiKDsE
            9SpsEN843s/juIKzzDhomtSJRs/9jloM4J9BBAsuujEUG+vdwazs6/5NlPFy
            hmUYElFTtpigluSNjQUGDFiBctdL4bd6k1G4RQ+82x0tdRMBUFL8s6jMWKSO
            ylaQkXlikjosGfpyr6ykdl7loIZAW5vBI6Girha7eiZnmX/zJbEP+3XTIY2C
            WEae3pz9JYWfTMYYoUMnrNzLHaXcGu/+KxRxa03g0RKbM5pHZiTcKPW0NxX3
            7nfsiydSc2iJLGxxhNjOIGg8WL0FhWMqyMxkdpREMYX8HljYAysjLinO8GQG
            krVOchSAwehG6fJ/xICpOgetAP5RIfEHA4EC+Mg6DfuuaJEBw2llmrotHMqb
            ygHLGWjB3SvEKyZHIw1aY1JMA5CMfd7IAvzdpL9OtieuKAw/pP6hz04nppWT
            RKkqrLyTQbxXOE2PBdsL0Dt3/KD29w7MYNa3kWWi0c77/nOhydWnEBWSHpO/
            KJ/UfDOpeNfiMHC8ys6GuLeEoFGMeXYHdrvisgjuXkzrfF/no9YZhre36IEy
            /vDWMSrVeKwZasXTtD8oL5mdIJp7tFXZLmOsu2Ii/9MRnhLp5cEVBeq9b+38
            9e4Hkwy/TxuQcTdepTSyyDyhTFwkL+zHzye8d3Dw7x2cSXqPt6G68BnghAcw
            rJ3UdpgyOmy0YTSXlCnZh6+JOa0V1XLHMA3k7QzHyewqPU7xumi9gd/kTg8Y
            p/qIhh42HlCj8+ZXTSt7CecOnTaOMW50UffiEJyH9KxBUbU3p6M8+8uDre9y
            bGGaCdMQOysgalF0ikTkTFCsgKxMnO2IBYBXmn2MHQBJ2eXOjinR5JHKesUJ
            xUDvSO2q9/eSCgIf9rqnMT25zYJvp49d+nGvk7G/IxhfRL25qFie2FzPjYmL
            YRstivBp21iRRs/bLSxvEf/4VE+f00XNxY8T1k4/x8Ww+PabY+QUzkJ7i5uR
            uDpdFplrBzgCk9oXrsnqMyWN1PxaHDwzhSUDd1rUKLy8eZNFbUeUHuXyO4oT
            y1N7VtyripVRHlGQO+sFf9sb/t47yRE9qUc3Rywpwy6Q4pV2+vJMWNw5dza8
            xQBON90UP9qnedJf2g/r1WZSDFAmh1/AosY0JyONXwvVb56wj3sGBL8/7jPB
            ik0K2UOOtT6cA/VDp7mir629TnBNlMnxeTGwe4OCEwRgzFG0ZbteVklukjln
            euZawuzHO+FRkCgAN1lRMKBC6CvxG7MIkcrBbCcOj7L4TUGMoxyE+FEXnp5M
            JSxOm8/r835+DYGWxnTAwDI3PcZobM6U4YOR18k83LPWfFdF2FNET2+G4yAk
            Mz03iMhBmAXapQX6mC9XSHaHGHCN9EpD250nTRGrOgkj4pzetNdpi/GxoC7+
            dUHl698MnIQlz3pL0O06gK8p/FwiWRsZC0vqBrq7PEXfqdzZuZKHMU88ucxJ
            hLQ9MW4JX9F+8p+7n8eUC4UTPhnOWKY3L+gC+prmHSB5nFN/FUyD5dRvEbwN
            C0wUp/xzDvhJDy1DVCFshIbd08h9H5iYLQZyy5SHxnUdWL/ttBYPlfw2N2xW
            juawmHDT6wS2Jrh6A9baIG0XxvrXXdhOWHoqZe/3TizzzucUCbZ32WMlGut9
            fmOB6y04o5q0XVZwOjItTHewPYbxLzFOc2WwfDvrMgUAjckETRht9wkC1wFk
            f9wiJPJ6ZGD9Tk7B9kdWnyPTx1CQiQmplgiJJBbjPqyQ04/5wenJ1TziOI4d
            9FueUJepHRgguzDGAtWmCs5NMx/lnXaLadyndqzcAW3hvExS92LuMiBKLZwo
            HGZmapbciIFY4wYfEZOWgBoj9Rg/nlVG2L3Ky90CvxPvJQFO29CCaZjBUDBT
            oXm+lPQZsE9WqbTcaTLeG0QlsZAyDZyUNieZQ7AA4HtuZ/m2b8YGfZTozzcT
            5Y8Cvq48ihA8Y8fpU+I9gKBJWaI5YlHkr0zxU6pd8ElkVT/0QxfzOJM8tjio
            bWQRFe7Z+edo1LLv5yVdXDyk9JJ/DkPNOEtGd0QzHbuEZF8HEDwiHIm1q9y3
            FXZ5T6DCiuyA4RefN+KpLY3WNtvqg2Gijm7tpkHoDVyVGN9fBqdRFh6yAYsW
            DSJQbXm+e99qt1L+ZH4mb3FRlCHKW7SvQNfKJUA3B087QiJfpuJCGzKKdWpn
            i2Xabp/PlykKJfPrEmLJ0nRReUbHeVMEmrTAs4j545o8XRXj5xAcjfxJfntL
            HALk2lJ77NL1mcUEUNdsxk1NHeWED64hbNeJaXkarJFD3ehwXW8DCXRuWJ63
            4TkZ7bFQDMdDumEK2laKHVuB8lhYY9rTUNeudJwXNbvbAJ1UV7hfSSI4mZXx
            PuykgduJhLGDEiEcGjIWjFhbyfhyAU5sG34nVeZkK4x86MK2Fwt8lydf2U+5
            Sb0bliuIyYeYggjnCvi8MKp8vsB7vFQSQFjubJDcvjfIS2fViTfeeiiGDmeo
            lqOcc1QvNrNro5xS1Kzc9HEFbqTisK+d3mUTBE+SO5GoMsvol811wzSPb1Ws
            NJBMTFpPFo5oCi1t4a2kSsvfrgxHhKdoTPb8XiaNNV5gqK1W87cGkdLman6e
            JEBCAA0ctx8nTpCCPtC0imWXZZ7akQHdMWKXb8f2S6UAM9KdaA5nCS6qRQ7e
            WalYjwsPikt2zj1aIj06GRF05vm00+7cAlqQzeNLX7Wtatx1rHlsc6/L/IXO
            CTqbnBGuVN8BclmK5HqCFEW/049hcbpFZE8ymvT7QTXvKjOwc7aicTsMmWWl
            /aaq+trhgyfj8RtllNgO+4MyhdSaErJi/ekKMmSQEWhO9Mr2Tu+37eLBrE44
            ke2V2mQpwnmjEEs2VNFiIggqBcnQaIpQ5f+STOVB3uJ6vJnFee1eiwEeUDds
            NQLVCnTpX2b6K8kyyeIo/ZBOca9vr4XPBZcdxFXaSUAofHu9nXF5skoao5PK
            SdIAN/N4pteP5S/AqWn6vQJOI13mlf1E7RA+gQyud9uLc1eLZEtE/xbvAxGS
            fK6jvxAbM38kwd7XBPYnMZ3zkixREmEs0Bal8wTW+Why4y/PsNDtiO/lGax8
            OrYQpLo+6wKUNAVZYqCUj/J0mY8MSd7Q3/oi5xmk22wMmmf8aOs72H6Q/3J7
            byelyzm5moVILwnT/+v0Xpta5Kmtlmlr24W7T78cRu84C5gsMMb7Pffn93K3
            915zPEX+5h0ML1m6w+MdcPJmJulGeH7v2UxPHvZgtrmUvA9unnKKTLANDvjD
            DnUuM6byXV5puo6e4vjO/EDcf0LQzuK4/QWxh+vPiFsRE39B3Ff7Rtz/DN7U
            yaGp7rRYPFVSCIVioaH92xfoFrFj1pyOHglYMLdjXC8sSLZn3CDxMdbkZ64f
            +Q25wfSOaM4WR7GLqT2R/sQVpr3SunAX7RS+b4+xj0wWyhnKSB2efqOWYOF0
            UCBqmWhGEVG8LGvsGzodPtPl0E3FDJPp0mS27rroUphkwjTtHRfNUUpqd5xT
            d73vle95U3Z8drJjxR/ZpQ6BMfszT4oZhmMe6T1WRg0ERe1e2a7yI1CqltM7
            Y+51vfINBdorMPEGY+HsrFIMmxxk7uS235JyR7a7l4dZ6agiyAwrTtck2SeY
            4xddClyulrWkmat7UiACRtYDzgOMwglTGEZqeeSDQ2tPThYIgZ1odQJ5BBsE
            A+JVegwGJsvFqUoilZlLKzPAkagPKmx4peqdQSuDaQaV861acrswRzsdU6YR
            M9H1oN872+zu6YxWaCpzEEdJgSmGpcyjXp6xODIJhVF3/B4zPJE/Uew44U82
            kMIoV8OMLMRvmGWKzKfsvu37ZPxL9vse+KoRFHmmVTEz3NfJWRj73M5mDOWx
            9VE5mHr7UsQPjHcqquP4Mjpkm2OMkz6aPug7T2gyq8JkNsJkAhn2XvfRbIbp
            xBWG+XO6vXNEpVC1Hc0bum3vaXbWjzgz+F2SonS4ZVQpZvmgUUWgzUHaWdNp
            i1yYeKgIodOIqe0w80rLiErMLq+I8Exl72nTZunuzZwrW4iTfR+pJlZqdiuT
            3TYIBAbvM7mWZVOMFNUf8rZRwg4cXe1ZWE9XFIr9PQWZZHmRM677R98355Sx
            aA41FRvL+jD3PZ9Fjq/vhEuXBWRt14vitLgLiuKxF2dd2zHWWf5ndvbsDCU+
            JwE3zZF2bJ1+rEYy9mLlxxp8LdQeFiZB3pzkIC0p7AkUovd9slvSI8pXs+/7
            vm+7vX/636DfzPUv//N09RniQf7h+5NRF937nszX53Oel2x+QZsr3O/tUH+v
            hBPz1eB396fxkee97ROaUqsfjb57Y5VfnfkxqClf3td4/vI82vNT/vM5QHvh
            pDAyKf8i7QRCfNW6qw32rOmP14kjNFnDnCb/Mll5T+a80q/Px998Hz/voMDe
            ikb3S/s2Pyn9Pr6wv39bHKe/vL+mtf+4+uvztPmcLP+cx+V/1Nmzc7z7fef8
            3b+/23m1/uPnc0/We7ni92JXRab5Y4W/G58Ujpdxj79Nttub7frDZmvn5Pxh
            s/brb57H7+fXJqUZbOqvlevfNPY3nal/szPPYrn2f32x6/+ni/381xZ7e1Mn
            hQf4vz2ZIVn7L7ASAuNWvK6vQQer97P+HSwb7c9/p357gLUScZZd174y6jef
            384pjPFoobE80iSBOuZ9zftail2r2/ePvQ9OMun9x96n44sSwhQr/9nfmS7F
            hcP3/Wf56S+bl3/ysKvf93HZ9TYXkFQlci6uKtczkz1Tbbwrr2ZXWjmJEEj2
            HLxr/ZwUX0AIpF92+LMHtSeFDMNnZ9845Hphzus/BAbmwRZH9MB/N7XxHwLj
            3yMwtn9Oknb7v5va+A+B8e8RGGnjHLL6/+3Uxn8IjH9vsdMW3wz55/w3Uxv/
            ITD+TQJjCz5nv/77qY3/aQTGxxnttrl+vOf+5nre3v1WABDNg+u/fX8x0jkX
            sdj1GXaV/zLH7ew6x70Y1saWmhDM1Npzn5xFjf2IVrj2w6fa1UXmtla4f13j
            Vl/TzlvIpud4Z3PhZ4KM6FMPIQZF1qeGlf2vO/MVEaqs9gUn+xeMvX5MVBAl
            1lTP/f1JOifvXop1b3Ebgr4nqmkEu9eUflBRcd87ZvthPeoCh2IEl0vByL7r
            Z0aW5GSHWyGMS1rz8wRKsf2xWH1Ei8i4bmkF6GShzaU4/riW/X6SFecVxlR+
            7R1eJd0KKNFW+vyIwqV9fMQxEaQ+sq/J6j9tKQ+yW7P89pE7zPzZ7trtfHwn
            /rbz5jPnZ7s3BaYf7bQ2n+/+0iCISRuXQXOmUfsCY0vxsa9g9XKyetSpXv8D
            /23TqHSfPBz/+fc/599tPqFyqPnPv/9h/+TZlhRx/P9/nZ/0mWR8oK3L2hwz
            s/KE9qL7vKx8r0IjsDPqB9D8/wGtYSH1 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
