<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.050d.065a</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.050d.065a</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>050d_065a</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Belkin Bluetooth 4.0 USB Adapter</string>
        <key>FirmwareKey</key>
        <string>050d_065a_v5578</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>1626</integer>
        <key>idVendor</key>
        <integer>1293</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>050d_065a_v5578</key>
          <data>
            eNq8fdmS5DiS5PuK7L8QN7BvIEj+/yetqpqB7hGZ1VOyM7JZHU13Ok/AYLep
            /Z8jHvyX8Tee8L//1/+J/bB/4cCnOvgvx4P/u8/wXDz08X/4WO3geRyx8VpR
            H3mNcfz4Fy5c/DntxxwCDsuxxfrUUHNN2F68S12t1NIyvj/4/459Gd9rHTim
            4JyVcDH8JTzRkfEhX/iCm6Wo/UdqvtXT8C54ynUcDWfzCo1P/difPnc7LuFz
            vO3c0fH6+FiWtqFFvWjSm/DlwkgciOgvh2vgW+BX3KnO5EcHP+A83mGy4U6B
            18mF23iEPeZ7zCr3Zwypb1ew/Zf/vu+b9vGDu9Y8Srn4BMes+a52195Hz7HM
            lHIqD2+RVrT346znp+GMydEYPVS+3cLTP+mIuNZR65F4l4Xz7nBEjhZGJfEN
            ORV3xD68VknYhzuv6Mfhc74xqLjPwqhf9YjpMRIIESc2Tt/EAckutG687tB0
            pdztpEVq4VzzOEzNwv7zwT5O9en7cM65sC9r6lOJmqJ+tK//qv9X/L+4jofD
            nZ913EbPHKpy28im42s/SUWTzX+g/6/jMTjRhvjndXxocZuf+/Ow/e34dfxp
            M99+PQ/IURN/dXz/vm8Mw8jh1/EaDY7Tz/2p96Ljfz1PWEuUt9bP9zqyEWT5
            dfymu/jrvmFEPeft+22NfP6t9/i0jARi0FddzC86cn943mYuhy09UOVn/+ZM
            On7Z/n2Glhf+W78eOp7ZXv5op07OOKr/HuhkjOz3uWvedsdf++dc2v9rwma0
            twm/rh8ue8nwe0CvUP42oL10LfX46/o9Bb18/JPgtH/8IpR0Z+1fCSsb666O
            kMG6wNrBJHPreOscsQLr0cCDWs2Tv8WBURSnwMkP2MH9kIONB8ddQaTKUcSK
            r2fAegVzPMOMEgwSG/2YgaKBy2k99zEfjjgW4AN23rORQCIN3zzkPxys35NR
            Qo9X1criqsNZEQynzHq3qzvF/eUv/u0P0/YE0BXuBfFz/OM/Py7+u+M4///q
            uH95X4z5vzou/Jf3zSIIsO7Yzv/BfeO/2mcz9jy/Z2wUI4EcQDP/vemLx7+b
            vpz+5fTVfzl99d9N3399X5u+//Qe+Z3ar+H+/7CvV+kvOSTJs27TzG++II2D
            h5BWgOiEpsYZjRGs4P0EMZ1PcIsTi/mEGD3xy1mwsF0XKJSvJ9jQ2fAHleiE
            jDwn/njiwh80zvPG3wPdj/ofLgYlg3pgXrgY9IQMhSUvnA9pliEBMxShvHD+
            wvkL50O3yGBo1BQzGFimpnnh/AvnXzgfVJovnH910NeSPKY6l6F3jP0NOtv5
            +YbbX/rWgxh14WhQp4t4nWjStEDtkrp1nPgA1v88DTILmtW52gW1K+P9ezB2
            2qGaBi6G55gXuSC1Czuf5832PLh2q+0ZvrSKZNtxnTqvPdCSnotsPvZSeV7s
            uOf9tHg+Nz+XhzMHSR2gJo2wUgwXZGs7T3JcKUSp59sVS4z7cZYfdNhxInWD
            fjt54FnvhwviuDsIXU+m96eedvk5lxSJXE1Toih58N68RDcSqHzZDNljkuXM
            fOE6KEswUAFmQHqWX4wPVEu31ceLPREPUEmXdj7PHVWDfNlU3TWfPlWPdKxu
            2s3Ao7YbQ6Z3Knr8WWoGw0jhKolTtl8HF2yNw2SEQUoc7/P0dXSpdX09h7O7
            Y+Xymbz9PD3x+HHmJlupYrL7eK7I46cdT3UlhtqhKmKwIYmhhFf/DtLGdcIa
            IIQnUIs6l46JUARpqpFA6jO17e+kYjn6RIKusCJ+ci475lw5m6Zy/O2Yyolf
            ge8HGiqYeFx/FGplhz13I7FUjBiOCoUjF0/QF4ZqdirImeR44Xux75HfxzGM
            BNpRpAvNOALlQedFQDiwV9Z8ZAYEXizxTS+qjDlADGAVBE4ofk86ttmxGNkQ
            Y1iRVI4BmwOrgCqR+NkthQsPfAWuuv4OwkWZotVMFSbH8y/Uf1dyCEx3wXiB
            Lk6e35x8Nrm0D/Vz71PJacxOILPvJPi2Sv5epVjgd+viCnz/JB7bLyN0ru4L
            z08uXO08Hru40vTsAeznmqZr5/rnBJJQMSRZ1pFIPwVbOH3a9fTs4cETvgtn
            leJkTlUQvAGGH8kWD3KdGOlJBdN4zTg5amXcT+i4Oow78bZGLlr5RlJqaUyB
            BrsWXLW7ThcE/TN8z2f4eIGS1lM2w8F/XYrBUdr3kKf3HHLgUFeGCknGSFrF
            kEdZDH5OoSiCJCqQDKWNPPCCi1ZVqGTOYZSMddk6OBWHctA30LXQk5GLnguE
            19Zex2cHXZLtrZ/P9SEFklPoF4Ubvw4xz5srJWUQnPQPExRQ8o3zDJIK1ngA
            SScKL1wDy6DJNfIMbSkQxNlghK3nZczheuQ0qNOvDb7aYevDCD/JV3l9WBe9
            4T0xmacJlDDvPKPWOOTtGs+kQGn7Goc/B5+tPaaORSxLLKuJaxeMAbfx5lho
            jHCjOjVG92OU02mJ7evZGAUXBJ3uoa+JTLJQc4v7Arj4GcSAiwmLfmaub5K2
            eRWew9bPuQYERymv4GgywhYehkSB51i3EdJa5dyM+uIae++vBXGXDoXI718O
            o+THzzn4GxYNGE/bx8AEm3J+0E3C627G+IBxy5XS+juQZxuFpA8ZHaGZtAXG
            3rFCMhkp3gwqFCQ1xiusEzwCAu9ucsHEyfM3f4Nob5jwO6Xa79QoONLkFqQN
            arD7yU9WMaqUltW8PLTCsY1Z1iGXbjbvS4xnw7OA2XIxchHcmAmZ4ZAUvggK
            l+HoU14TLDLsM+E3l7275mP6ItAcgF+vIHsOxAiOj/nhoonzNBIYWLXH5+RU
            cPIJilpbVYrxwVDohlhBl6tK57RzyEx13vl0aAEtksmJkKCI5hb2JC2qSlLj
            iqlxkCt3hwQF0aT4TF4nho/8534IyGkrLeYBm3hfq1GLF3P3az22il9ifIwY
            ezPiMeYeS/harUuTTt3SrsFViXcYPmgVjDttxs1JsQkwbx4Jt0zXMHiMfJUz
            uaMy02KJvEqb4FR8auhUxzOxlDo9Bt2YPAwl8p00XVENNOfoJ4SUBOkF6GDc
            zr6XlIamJyrhwcSOvfVvkRmhJ+Si+ybcd5kAAIeVyASB8U2fvuI0EpgcTewc
            7+tPqD9tP3hpRjNh1mOTCd7+5MOdcUsdkG+HXOM5kAelG+OJy2+KF0ztmR03
            P5PkLc/BmittnxOiPWjKn3PqYeekKlLgORdIqO9zwJA1NenrPmR6PGdc77Pd
            VIf3gEAFtQFZnwG563NDmaQA2mPwpDzvbSHkaQJzrZ5daTQyaLzhXmukgCpV
            HeQH4SeFEEba59kuCAOQcBtzM+wUzj5focbFdrjs1jk8FjyQCqZcYnZOhHp3
            7vnJZk3g3M/8YIWIeLBc930S2MjY56TgCoDrAue9NO3vBTCGFy+wnvem9Dtp
            QHqSNJIZkvZNMRl4uU6GGiR1yANSOZeZWVQSwFO6hEnv1ddt2Wbalen4Pa/U
            8JBn7TTX1um+NknyVNM6TTBgHd8Z0nYZE/jmAVxRHLQ7v9LyED9IeC5O4vfn
            d8WkNnNNW1CBB4pAwteA3hMEgkVyRREIOTuI+MNPnux+wGw84psnTWoquC95
            zLFE/FTrR11338omJP9pjka/J85PzltnsPNh9C8qoam9cwL9pSVN6iEeq0WX
            vxcDzu3GXboJkHRCKJ/7XcnSjATWjQuCkiov+5lUSEdT9eyGMO7v69WQqxEB
            HYT7+AABIK1aHEATB34G4g1mD0IFGnyt6quCLyoCiM/zSulHZhZXagu3CGNR
            QudUT+5bWsF4gJDumXM2Z7YGYFDtADdwdQcE1o2gYtUW9/fv0b6H279f9j2n
            jJG3z8mPpbpFrVGxEx7DuMIpreKklI+PHZe/jsH1ZoD0p7ZRqLNAC0gTavCp
            /RA8Mh2vk4LqeQa31w1Ry+8Z73dFHAbNgAvneiY+z3HUV5OB1sPzbl4nwjbA
            e3X8zUDTNeg9Z3XTctGZbA590GSYs08RKexyxQez6wLXHakrdjkLxFO47acm
            N2Tfv+w7qJeBHVzavncYkGJDqUsfL76Nl03GHPY9FPtelmkrg4TgsQk5NP3+
            mSamFKY++f2muMD1Z+58Lyz8M4qFmaVydN+GZc8dsm27RzkOv0/w6++Qzcp2
            3bVse/l9VvfveW9thZ/Lx+Gy4Mzy71AKJYpoM5fc6uXjhTfUfqhzJkZtgqBR
            22QxBKjPIJZDqqJ/ti2JWOrgf/VcdB6C/h55BX1BBCw2GqAQw9WiC2fBgrFZ
            Ytg2R5Arl0zwGMF9XbLtsXMGWE4x66Ho0cDfivaZ2/5P3+OSQ3Lw3BPiALJw
            4Fodf4uaErZjBdtiICK3sB8D79eTbRe2QVxHOh0m5VTAd0I9PcZ9/Kn0ZKxR
            ejHpcHyo607XP16VjQOVfhi6eHsGculbiNKll8nrEfY5MGqfeb2yl9HSVHJR
            TL4kKXVDzrRl50C3aR2qJc+FbuROKJ2XoTcXPR89cgMsnUHcaudpJVAvSufx
            0xjP5abvhvfDL931qmd9nffDGNc54O90Adu9pvkspEX8gwF/Mja1YwQPwwPX
            kkWlwYTCIpZNyWkDE1O6GN0GqwM1wRqEcf1laB1moTZclJQLbur6c+CN+shz
            vQ9HOby4Ouzarx6PwSArLPE1KHnumOtz7u3ngsPnv50b3nPJSfJMa4X9Tnnh
            nTIDvX7fASGF98JdOG1pXMxiuFK5KIBgy0ABw7PePsDn4PPgqhVS6F5GOFBd
            ykts8ZvYNMCU3nLzFCptYP182rnsnINE95hxzfPvJOeZWfsUf8UJg59rvCYt
            g7XtI1iy/TMueG/zsR7D9CxI4G1hcFwwblPb8cyPZZFv2kcigYAXp67MC/6D
            d6uZpdXmfqHpZsa1hrljMH58yELD79UfCs2f+J7jqxQiuL0rbv5epSXUNbX6
            yemaU3PJY+xzoJ0/X6umcD2DyNJ7DuSqVBQwnn3O3WlEbg4DY29NzzmQK+dn
            OF0EVDJJdxuFEUoYCWhMuyZG/dRkMfDGYC8EF53YFwzpGqsc2gpSS3ksYMNr
            bWLUyqdIuYcb1U0EDIXxeYk6bD1Mz1sX1QGOo/xHtf/pYi6m1DJIfMf0lJR+
            zSGP6Re9PTJiZSquy1xDUKNvCzpB1VgWVMGDcNC3lX0MzGWOMFswFNs8K9iJ
            yXR2tfpmw+N6YwVQWn6yuDJvcogPixvGrubxza5+TTC+4FmCvavSLOha5ST6
            fc7oriU7ftV+6/h2Um8E+yVBxM/x6z2eqRXlmvlzPO6+6Mkefb5K616pq7qC
            OmOk9UGfH/ZP8++V++6j7ncreHeK+zntOtt7AtEDEmu3FErQx3xkIg5u59wB
            KI0VNOvbMhPwXM1NTCyQ/P0eLUuJvIzYKpTt8ny50KVPYdXonAoDl75mbIvO
            B881EohLl5wnKDFvOxJyOXtqxKSnzR6gx88D3HyAolV5KbWB/Opo96ayC/Yq
            k9H6tHOgHxUORAiKI/Bi5jvDSgJPJhu/Kl1S9TdnqOmmKeOyeDgbjn2+bBj6
            h61yM1l4Tm4ZihJZdxbhDK6ddNg5QRE4Ki6S/Zc7ghN1OBjYYF1Y4bCCx615
            mFzlEzJffghYKIGRuutjHQS+B5ZqOKTc9cO1f9u6BUGaw/FggvY9MQArMQsx
            mgLvkaXAxzDIgKjdg/j4XpliSBzU9PW5FElh/lb4xFlqAZXKN4PLrSP9iqT3
            wnGpJ/1JUTlRx2kWASypLNtyZHmubJAUprx+OzqxfcjZPHDEsCbP2i8J5Vg0
            0PMZukwq6qV4IRAMVZNTK3aRr2+TC8dJ+z2ZhiatYuklH3/Z/dKmG1ToGueQ
            J50L5Fbo7bh9Yl/f4gnOVXEhyr97e/JrP8mBSBRk/9M8+ffy941nllig8skI
            IHkJNcdHJpv7SSumLzcReZVuoqBTgd0j7smgE94V5vGsQ0T9+Hlzrs95V/Hz
            pp0X/bw47bx46jy+7wlj/NxRUF1PZrWdp0NcF2ogUOo7Lso42ZjWcm6ncKcu
            0vWsHiIChe/cwcA8gMNW4w25xYm9E0OFxqpAUie+FzqNu7iBHu7CxdqWv4rA
            8eG6yXkNBjkFnUhcAIc834+v6rv0r3OXyfv2pSOAC06dc8nHwGQmpjcpdZTO
            GGj6N9l1WfMNcSeXo4ERBYa5GTa5npNOGbyrO3Vw6QXiJhHx0s1YZb0/19Gg
            MjUA6jDdKBPP0eLmji1Mii0npNstirafw4mIhBNFOFQMW1zrjPuehzu2rm7n
            vFyiMRrr9+98B3ImhqouPcMTn1Pb9Tq2eO3UmADi186uMEPX8fzHmOLJNF1z
            zvH889g6SsulgQTuFgojaGFZzivZw7NMYYHWeW4N8zClqHNl1fTcZKGPHDWk
            uAYN6zz36gRFP6S4WP38AAmha9DDaNcqJx+o6nrMGuAa9hd8/JoVs/2yLHCS
            xWum264pxQnr+gims4TTw1SLjjmyXEgpEAC30OI9Hgeda51rPyee4ZF57s8Z
            FDi/NAl5uIeRExDkbtazru7K46RnIl7LHK3BJwRK3Dw3gdRuC+OgRaQ4qU8w
            FcKCZ6UeEPfCaNCtwAn92dZyD+w+1/UkPkOpz+1BtoteLCjjVKC5kDAz8lpU
            re6kzBLK8QLrHH9ncYu/xF+fk32mPwpM9KRRFGEEFvpZUverPFpjVYYFhnwo
            OyDlS4JAxzTm4BweyWd8+n46NJHJFIabxvXMZ6SPDfoXo2t0a8vU7Pp+KJkE
            +ykNFYyUNMM9Kn9vTGuBAAkLJmrKxc8pWATVP9fPZx4X4j8e13Vs82MpOfFp
            /w755ec1u07Ab9nPzTjv+5qfzzfzQn/dR+/5t+fj53rWxq0imi1cq4N33wka
            HRgFPo+h56JiRg9Wpv/ySsz9wfNFf/aqXKWRg64HkyEe48mWGQxTlxOyc35s
            lkgvMH3TQ8dnhrWfIQobDQiIl6boHngR1RzypH5jHdr32n1rzmOFb3HstGMf
            Jo5jDQZJStAUJjN1aRLMhKJ6NFav2b3edKhcygjWJ0vOOtfWBjxZ67Aw6Tns
            O+PLUkmlP4oPylUCjWiY/y2b3ktxIeeS+S2xUpp+vy17WWHW8UnxHv4cO4V7
            HvZ9ZtvulO/p55XbzEnczTyTjEIqp8G247Bt8/10gbgH075Pu0/z43u2LWzJ
            Yqnr9n2nqk9/vhpDtQx3+76oUVmaf/lOZS8Bmm8yEpjKemFWib9ML5ZUcfrD
            xcMGMYcZTS0x5+ndLUEj+iDfMCR0HU9JP4NltDTTq6m7DeYmgg4xD7CQwaQG
            1TTQ90V3aYhlkL+eZUSu7hP8hc4bCJ8luz6MEqUe1hRzii2WCRY3YVGECRkT
            ZKhP1jfArOgjxusuV2ruRM3L9OVj2fNCEbxcEspd9dnqeTvl0gQvwbXxWXmM
            0FZh09xycU1PEpnShCq28QqKflDYJOU92W9J2/CdD/VZCJ/7y/6AxA/ZFgyu
            SRcZY7PMUbgDNbHb/LOv8/bQlteWU5f6zOJ26bjA82Ef3RSI/BzpxqJ6rcU4
            biOBk1LXHqiHAyN3UB+GJkw9PPNiXX6khpdXYpi714+Pn28TyRieuEkuMnFs
            /bIDaOAV+w4JVQsnXR7o70Sxn9dLY4nISA0Q/JwITD3XTU4DUnbQKjv1rEWq
            +pK9ETTomCDQ7FRcg9fnpIAdwiC+5KOkm4OBZBB0ozAMrACAAMK7gn9OmgWQ
            g6B6bDHBEZMp/zYIYyWm22KL/bVeKcLGWbCE44XPuDy0Opj5F64QFcK7SSB0
            4eF6oWOL5wo4h6KUTHLMHGMjsdjngnGOjCebjn4zN5/PCtlLb1sTh4U1v5Z9
            xk2hMtjnxs/VPjPbaCX7PCZdFfaZbuTzuttlvv/EAIXJCmjW57wZSWe0+Dqb
            fZ5Qw858t9GUH3ud4Wb2HC1pMB+7KKgL2iWURmPrXNwQlVcJTVYw5oqlWPTu
            U2a2q1OlgrnwXFhlsm5b2bE/mB6Y5NtyaFNkJJ7pEI8VMTAE7yla1wXxq9XH
            pCxmXchK1/NQJ0n2OSmzUdfz4KwRXPoWSyTsbCKJhFjoB7bwkGU0wCYW5+hr
            WKTeOQb1oJhH9/NqsXzlSBPBiZdZRbSTJoPIGToK7CCqnwlGYYeBw2dS+VWF
            cVzl3rGYKBMncwZ5K2soVaxqKPxhDSZMgyKbH991fIrkBvZelzhKVsbWQWft
            Aj9tK29vBOPqR5/dHL/pWgwC4+EZxLWDJgP/8iDHj7KFG9D9gNHprUpm66Wp
            AkIBOPyGgxNRlZAvlhSZg4NnLvNs6T6Z1WH3GCCCQQd3khOV1NvAwCABNUFp
            wmK8j8aEOpXwnFgVzFPGUrg8IBpq07VGoF0bYH8GGoZGPLHBesFDJ/q4TymP
            R8dbLKaQY/tYcR1em0SKN2cVYOUKx23AoVLwczB4INJEJa6Mr/vFS9H6UeRY
            HudZh7gdzRrcD8dUcFicCPKAqkeF+U7tlNP4uo49LvVkelukAx7/37sTN8dq
            MUMM3DRh7K5tEM7GOSGHhpg9xtm6vZcWTBU3C/dgzeXXb6rlw3s80bxl+MyX
            S24R3MtqMylBGQ7J+Fvpcb9VIFW16FFsvXyJFNijqzZVKhXlpVEcBwQGETTg
            +7hV6GAhDT04M4ZnKbJk8xUwIMsTLpmnwyz59aQ2X7FBnwSISFZBUBABYiBb
            ZWSgBvJFYKOlWG2C5CQBB+LqYvb9AtFwIjwTAIpS71kKaFDy+437pqPa+6RD
            FVTrKKQF3C/cIsZkE3U8kunQeppyW8L29fHs/vVOhZzJxB4msOzPNz+HL0J6
            7Dk5bjEwqMEiTSfes8XGP4sMrJrq2kRWJkNXsNPxbB5D/HC0seQLPF23U2SI
            wts51OGKcsBrGQk8dJha9Hqzv8u1bmzkEhn3eSr6n83R+BTfVtuK3THCBU7A
            rFnILJbHNoWxggbkM4gkCBDHuOQxuNIvK4EBZbHkwomQU3dtNq1IepZPUb5C
            CN2Lz7X8ZbF4FAC+s78krQ6YPviD0WbBanwW6+W1J8RFukkO0JNxvWezTxAW
            WN3Ecikg/hO6Vwrd4p2Vye+WFBtIuIHmb4UdcXJpi7hP/k7FcKRH5drQcvHk
            MOdPmDk3s04vxp8U+ZeHAq/BkpF5qnaQRgFnIbGOEPJilRGOfc14PEpt0H7M
            /zuuhRWYHyIBd3lUJVAupVieHfeFDV9nH1JU8R7TSCAz3n6AmoZ7pPWCZMsR
            U0Qv9zkVIJ1MXxyHXCrjoKZ80FsNlh1huJzloiIjZSxKGUz7IbQisq0C1bvj
            /Kg4G/TBrmzaTKdtvnwADncwRyZeSWmuFG8vG8ULQu5dUv5w7cRqBE5KoXIV
            pZU3ulK/iOs53hVhplg24lGVnEzEGNzhbKkmToyQaYPJ6CQYFpgGECb2iQj5
            G7MZSIw/FsGAWGXYjJojJx9jFHox8cUJce6Ur+fcn3t5zt+LAfbrgt0W1vn6
            BVnKNT0XKfS9ny4uXKPIH2jWT2Qib5HVY2Xp/t4QZWE79tvVaBTOAr7P9G7G
            oZjv+1EkcO8xQf2SO42+CLIuM9+mEQu2RjBLoaOpFwLx5PH5TEfQ/sw0TwYx
            29TqvsMevCCFKGgAp1i3VmK4oTUzjpwK07mhtFkIiUpeVSwQ4gYyeLDueUI8
            eZIXxdk+dgebQ7z1DpSDSlfGFt/DGCCc02Trfs6iEg6OYWTmA5Q9WPXdKpeY
            VbiqJkyDDeponqdjzohmKyuawedsjc6SZZTU6Rmb+cQ+87SRB8AAWWedkmEN
            Sg0M9IueBulYZB9aOetb2SnMRA5NChlEt9h09oyvJ/uM+0MN375abG+nCg+b
            OTap1XaxVvs9FXMrpk0MRxyV4R8oexAnQYF9emoCkQhgLjNfHqv8BCVORrMZ
            /meqd1URVaD1EIpp9GAi2kct/8kYaOb5PH5cUTLTxeiDMasMplX6akpRBbPx
            e5gG3Jn2in1g8dkxMi5FKKDG0vYlyyrRE6Goh/BcxnNifM/J8QahBA9zpTb0
            +TR7m3Y1c30gsB8S5mBavCui4YKamlxJg/GH6ymlHsoMVSyYW4lAEc9Nigqd
            Jg7rYFTnw0qvfkjXBUHA5gv+EhqgiMFYShvBJMKkYhqiZIMpUBZ4BJV3e7gb
            L+srUGkEP1gJXbLXx8whxT7ZCg0is8dJHM4usFJOFfx7IQI/MsS9ZJh+OX+Y
            40QZu+x8O+p5fnvqvAYtJ4diKNSqDtfGbIuXSlZ6o5XhoXlVRXg6IKWAbkKT
            g/KuKj2BbvZl9uIIMF2YcWZyRDo9a38hQDCLk2WVRQHMiyZFve/4qtZDFA1V
            d8iPSo0N2hYsL/pGTI2OSaEqBtfHm7caFL4Y1NAGa0BZ/n9F5RSTZiEMGG6f
            HlUOw+Ur1jSmAG9GpeQsEtgZv8OM6Fj5EIRXDqSoEWGiCbWlhynNE7IY16l4
            vvh5vsOfj1l5MD+O7kHVtpUWRrIv06i758FqC0r378aBfBtlS7szh+/4L+6p
            +uRk78mCL8ml6DZ7bVZ6AII5PYZiBxe/gb/8YK3qcWFE7hCiDXLw4znIqzxX
            nczGogRVqLa3SxOROHAMHBA5ptLhuOwFR2emd+Q+vbhvea81KB9Oe/G6S3lw
            jerJw1byNLAw2uH7+v7t93c8yQrTajCrJxL79vif+l4O/57sWX2r7/G6bT+P
            K35c/PU9/Pp+/Pxenp/fA1Q0uj7FT5h4foIGoAtgwVxl+/9vP3faMxVjoVQy
            sL1tSxvcSaDcDK4MP8m8Rj0vP6n5RWx7TCx16k1yLYbLVXB6gwpkL/lj5j4o
            gbcdG0E7Twx90mg/mlK38Bn783sdECeYAC0nOlGXUo75uTMn47jrYdc9ul07
            JkVoPsR0DMhk17oOBgPxPPHvRKXMcSeq4BnnXIX0UKfNvn1/Wr++n7++T89c
            D/59bCXHv/df39uv851gDx/7hEmu4PjVE4u39nsvM/WuZVpw3WVmnjCdXTvu
            jGb3DwZPdbtyc+yz27bs60C8GAlUKHzHG83Qyc2/b4CbHY3ZWDM7+rIBdnZ0
            ZgP07CjMzvLeUZqdLZ39e/bjNgBR9uvsqMwbfdnRmvwrGrP2+b59o0G+9d/z
            fl6P1pyexZ27Dcbpg7l2lnf+me39Ozv9zf7e2eD+u4jSucDw1e9bhyIYED5k
            83VGF5VUorpXl8rzVBXwUEUQ83Z6qv0Vi9Dgds5Pl/I0oG+Iy1pxo/J6pIhG
            iobtabsO87RJREi9GoNOEq9By+1aQu05dq1Fe+wlDsvzJFYEDnLW4Rc1fYFp
            iJwfrAPon1AF7ffo7j1sJ5HSvl862UvD1upt6xvBPU/YfzOvhD6kYAZ5M/lG
            xIlBJ0VieXMyFx8zvCq9VNBXmPjEMuZxOuwa3Z/Tfa3u2tTnKo8W7gjyim4y
            mWjpjOAUuj2LauObVJzq4pFRpzpOsWnaHnTNDlhKaZgSSD2m1CDXKAnfxZWg
            PugDZ9aKc1Fol3HL6sT4dU/gioFehwitB+ou8zkYROH445mp4CZmd4ZJ3Ur4
            SthvVZ2DMRlwWf0GfgKiU6UXS775bCQQlnnDZJ91gBUvuank3szBSKBf0Kiu
            mKnxJoLbsMQYbx2JgJLTyZAhvfpQ4nN2MeGOeu4Ga+1M7z5ZBxHGzkTHCNbA
            mvlYm5Q5Dsgh7JOm7CqWCrJcThGo9tN1BpZ6iq3CMoWdtzaL1Uoxs8ecXU6M
            LNIhwahwh65Jfg8SIzT1UrI6j8O3PTkhy5fDVYSJT9HOlQ7hIiC6TNUW7x2f
            j+ZOuxzSbFEsUbnkc+7KNxLCM2BFlC9F1XWnIz0rtq03SCmVwo1rTYnUr5oU
            1qkcwUQV7qN30DVumT1pF1MR1AtEFXC9yEwEjg8NR0vBNGXwSHtBbDOXCdMg
            gcosYJWysabN2fb6yTbrLkLyIqArm28z+nem3youzbEwU0XmymCJWlfOp8Wt
            XaZtWdfd3Xk6ewU9qBx3B+k33tyZ9+9uETmO2ysLXeZtmbhlZegWLY0WcM+E
            gFBQXBlgMF0qY6KMMhAiIsLQB/HLCT6YPq7QT5+7mBwHRHOIm/r/qFB9bKqk
            p1pejsllqFkfdODkr/3X3g+NuycLwXE/ZnpuhBOuDmhVKqj1TKQhjwyOK7Ga
            z9ASdfv38fTiTitVq7PD+hK0Gp45XCotDvvcZOcwqs/zblDqvDt18+H1Fzi0
            kk3K9AF7TTxe2c3xufZn1aIKNg7P0cmOcT6hgPBuFeczQ0WodwwSEH4Hzwfl
            qa/AEAl1u+uYW8bR5MSzLDwLKbwcTKuzFU/vIBYLKNieJ4Jb/b4XVuiPe41l
            Y8FxUFgy3JZgDx1SiadZ+cc24PJVJtxTgehGJ+aQTMw2UUf4Op6B6KpYog12
            9HO5VKcPcFTWsl5oFDuug8eF65VrQR78cSiVP1BejVzHshpEsY/5vCZaaBb0
            1zZ2KwGAbCYAiScB+3OOc6he+ErpkYdFbjTdH+y2MaWdrBOfO9PcK80narw4
            qTYMZLNMCbo3f0QyzOnfwdK302JlcypsbRWq/2UZKxZ33ZxByJHiALYtxeCL
            WKU2k65ZduYH9s2xZS8IQuyvy3EkFEKOHR6VjIv+hllUxsdxhM6BsRgkODzh
            OD0aRDInzUALZYFvsuxqPDlLHOjKwk5uVzQbEyKU6eHit/a5Hr+3iq9Gy5UU
            NohkIB4Mkw3edf9MLznLm1f4tZ+yAyww9Wcn6O3P9fjaLuM6KitnUPL/eXA8
            bMdg+UG4ob4LbLnDZWh3rbWnjxyE9vJmhX/LWyiJrAs07Ta50mg2/X9nAsHk
            rtKalTXu6Ak9aFrR4P1UGi2BwEKd3A+iPls0Lr6PJRQFq68fVpu5D71qPL3Y
            DkptEZhtiMrmqZcPNokAeiHJm99L+m8MOstYygW90AVvNG9N8QmuAh8Fl4aA
            f8AEluoLaCpAceraH256P4MUMG6hkuk4HhPJtWTjUlHwkJkc1A5OhZV28XCZ
            H/TA0VRgNmWcTxirEaeF74tTIrNQ+b75lueuG7wvvemVnmZqmitSBnNCSoSQ
            9kwPaokzygprVO+jvE3Kx+JvUCqnmyc5u1LGe5JRs5Av0CfAqvdTAX+mWyTe
            89mhNOxK4w7KZWEIHFZFnawQv+mFPfm6sNeJ+TZpt/dFpyOz6jE2s1wUQSEV
            Zp8Fip7AsIELgjsLZ7S/4ZzENDXBYLhWBrac5MqkSik5p7TvuDDg7Sa6i7RY
            Yba41pv5hIdPuF+3+nk3K74ZL+R3ECWGEqyHxu/YjpXD45a4u606BY1pv1HL
            xXnMTcrjJoGt7+zKxTICLVGLF2dXvGC62XFXVtB5sihLCYZ+fLbjU/ftzvL0
            6+V9Pf89++9jV3t7tfpWzMzlqmrteHglm5UgFAU8akuq376yXb8dlrqwq9Ih
            4XReyubbPvw+GKFq2Zu2vfz5w8aD9eeN2e5zuXii22jscB+TChvxE29XBx/m
            zKTMBK/ik5ISwQGwtjgBWeksKonYk0B7bgZjkc+8wZYIsZWSgseXZDBYVGLU
            eu40ddD2SrYKumL8mORnmG0Zcc+n4jrMOfbrBKnrtEMTocO7ZzNi8XD1yic8
            vdi3dZavBVsp2N/y9/cUW1IOxw15r4IEuz5XZxxnhO1ZehuyYYMrlIc9L34H
            S+8XA9vN4HEW8XNFiLgm7Xqu1kgOMYXrAPWMxp2PBecZPBD7iFCwyIGSj/GP
            SYFZmXb+VSIkHkypQYv/YFHMbbGDwaF4ucXLHegD+IUTge/8fcnur7xXX0wr
            IYYnV1D15y4mCIpMIbIcgo9H6edfWZP9Uv2lIHdYu8i8pMloa1UWJAcjnPd2
            nmTwJA3IyayKJbyfJSS7w/3Dh2EP8LeFJVPcntz+Xmm0+Yr7nipv22gqZNWW
            0Xnw/p4HpQHIfIny04Z+tpXzWBaF4U9TfA4pgCzmKcwFpoadWa5QWRBABUqK
            LgMddFjwWY9h75EtmfDQ1t+DcD9i7YcS5y2Twt9Ddv4tRCm9RzjtPZIXJmQP
            +8lOPuvNeHZgWhN0rEArxM9Pfj6JZz/TnXHfQKRJPYt0KNjwpr9ZHELQJfH5
            mk/5w4aU4XoXy7wqrPWTm2XQCWBhP6M4yqTJiyQWYmfCrGj1PkrSt3wosql8
            qNCJGI03Y0g/0m55XJQDI8sVyLwp5UgZfNOPSYPxP9aHuoOcMVURGgPHoymj
            8j+BYFBMRcFgUepM83UHSyA0J8X6PAvNQWZ+QH84F+Vt5uImEAJMlcA8OoJj
            MH2jnhe9B1j8EmNY2yR2rZQkt6Z9hmR+CDLj1xh+DXOOGFu2OCTewsXRK3a2
            uMk/xc5aWyyYGHh2zNMdCrnYcdpxP88WE1vs7fj4cg4QVb1l2SnEnaPNnX18
            mb38kAuAFcUoNUmrcIh9RaZ0mAwPLAwlZBwVo5MKBBU7GA6+yonm0osSAmgn
            T+oKmSl8Jr/xJCDaFJ6ASZfrEHqJsjSykvSk0dLnwOohpdJEp9TkpX7Zy9CM
            ks39WU0zVsiTXpMoSBUltH1rzkxLT/S9V+ZsgYN0J6TtP2D8+vTcJyIuJlUy
            D2ZTvGk4Eu3gyztA4dvJwcPbJMKjToLJjmIwrVpmyp7DIPZ70fkZOCv1qYoH
            e57MyYQmlgfnNsw2Kyppap80B9WqZOa6gAqZr0qyTMZvum8PVg7mow3FKqkb
            BK38g07jQjB+wqjQ/xeZIlUta0wVYcKXvaLUesbvGKap2l+mpe6zZpnf7/Y5
            TiALp1IXbkbzKA7xQpP78rLz9vWv8fP61gbjc43Sn/s+dmmxnUP31n86J592
            35vmRw1T0K+nBb8VpGYwFnovjXJ6pgxDQAHkS8eF5+6C8gsz0iPVpTFjzVXC
            eDUeQziVfczUs4CyqenjWZnhPmVvVRZ9Tebt0E0PQfsEiddAf2Tc5R/By6Wv
            bFg8yctAtrZ4BFYXDhZGQRYwfYaTZv5phkAt3SAzsUVS0tYduOPMjKBz36gC
            iOT+M+807ypKgC0WYOtLjWKcZWQM430NMYbTCsGPy+IsXE89PZLwlbHL0RxM
            F0efAtoECdMj6SkLzFY+MVa0Rz1pV2sJVIj53CR/vMm0JyFb/n5sxzOe/G0K
            VWfpOfkbVwLuEQiFPCVZMYCemRwuVYXhO/Q6lp11W8v5svIh1jbcl7KV42Ku
            Yt9rnTYH1gtW4N53XrR1BSIwi0tsuZcaQQIUZsHsDNj+3VU8CDaMPacbLJRS
            vO/frq/fKpRDKN7lVqFMZgeUJ/3lGky/x9i+31tjK51xlUIsLA9wReb64iKn
            67lgYAXM1d3oXdU5p2rpLwJMm5TxiOj6JKMSvvVknfHJF1LKWmMW8LHjRsGs
            9cOlKR1WUunoyQ4JJh+zqOzYjTXmlvgrzTfZP+5VVyofDDdloA1zZZyP0ikY
            lBvCqOiWIEuLfkXQ8sxKlYGhuov038ShvAt1suQmnWsON2WZxjtp+CFvvY7C
            pkCWuBO8VsBdA6vUq6tF0WEQodmUcqIDdKLbFeaVGR8ZVnBOBDGqMU9yKcnk
            lOR8j8dQwSW6hTB+If74ooSKiN/W8fXznAo546ncP86DDrgsdftjVb/3NUl2
            SUc+xnb60dpOxjcL41AsvuT4My2dHtBcE00bGXIqd6PrX66PFgOLYE46S6+f
            z8pnLEyKmvfBa1KjZxIxWO04TLonfA7f11lDEQIVMZMos2d7jQ0v600GqieF
            nsxXZA14dH3Gb7B1zcLqW/J2VbVMBYN4g7xdEPfCy/b6Gg586ER1Cfvrho7Y
            +6E7VOLjNrDW37/hRenqANX98RvhEPjbTrr886WgDZg/bScXSSGXw7CZjy24
            jmrdaPjSR2lL2LAyy7ikAmcdaghDy41ZlJnjDLNwQ/KpbguvpXiGUbTCtlTy
            PEnTEge1/og7douTc8n+9Xcvb5oeWwhUJD1X/krt8WoQPJhRJ1nCPFStZyuD
            kTnqYh57uAZL5GyQoFjJV3MxD4+VjeV4kU8GSVrptkFLR65MIpbe7QvNvRv6
            yMHCsaxiwRcVpBPGmCUUbwK02XyZqazMTF2d8pllEJIOYe8Dw7Q1NoiXTfzv
            uB6866cxQu0CjZiWDAhV1xz5SlulOWViul9Or2w7wXiypzlEDhVhgQ+IZe7j
            Z6I/g/cXcVIxG1ZX0WdqPrq4XJtUChBj3XV7U0R/BPTRw0JxZ+UCrzmXITV9
            DzWIb7zZijSGOSi3kQrbajHqEqnGn5IGoOnchSAZVIw0xRBhMI7BGrlAuJ1T
            xm0wkcpqY65LBqm0n6UCMXo25KAU60KGYaMFbKkHN/BoUvRmphl2TIW6xbID
            Yd2D8cCQmpQ9EwYTqYyrX6BXLPWh2MaxxDlnfu5YhubxfCWLexVgfwvLg4zn
            rkQxa8Eir2YYdGYJ4dKw8zCwgT5vEgpE9Q9p5tdmiusgHMrj2YXHoiGQrjKu
            9FZIcd2cDO80s3m2Jx9it56CJvuEl7wZWdmV3cO0QkOxtppwyy2yYHHqBquJ
            xysGvmNi/nJKtAZNnPFs3vDA2QgTD7YESB2J9FHY0OFRzXSUJ3w4HN1F/5EW
            epCVj5O8zYOYxSLr5VpMFriVe5vpkY5WTlSnoDyMuJ3FOkQuI0Mjp9clFTw+
            GcWkroGFMe14JuXzeKUAKPURzyUyhNFFh36y6xB1WIohj+WM4/sTLEZ5Dypq
            N5Gjee2kFejXP3n97NdnnggTi8SpMSH/8j6ni8S7CjrkIqfgWOj9WV/i6Qty
            k9E/SNOFnhFltNv99xhbUbMqzJomugjUt3NsJEYL0Yfs2cXOOJYekI+PUhjH
            DiYzCZ81FFc5iS6kHyJtwKCq41us45jSbNfNpNq8YR+hGARVED3fcTraoctK
            2VjPYPD2mVnsKd/umA02CJhvhh2EEnwLxr6qAuhWNQFWPmyxQEs2RFri2rLt
            An1jlHOyXk4p3w97NfyqzP5VjMKlD/2Cg3WyuGUa/1eaxfT8EQuffKQa80+K
            QHMI4ZqsOtzKHfZKu7yJU3yDuYbpcHsR7u0K5U1Lra5yWrePs+zcfpWYO6Z+
            /h0MtQSbkXfRqusKl9c2DE9f/4aiX0k4YuI73ambEd0NgeXmicR5SCrgZGWS
            URa98ZMJr+bOsYLWX6vL9RSJbgJxgBLZV4BS9qYi1ntZK395JCA8bnXmdIWo
            XfRdqtya4QKmvKeVwi4mHLgof8+HURBUsEUFKBKV42E2NAiSFdxecXOTVcEO
            YhOEHC3LpyZanHV444LSO4MQsP7F94qwEbNB8cpjOsBjLzZZoTAMOo9OQhY8
            JgYPbxOuvYBZBVXWFjMpeCxTdP/FsTWrg2oRgIVmaAnhzMgOS4u9UfLwOup6
            mZQ8rFrTKKH2jSMTttTOJrUDq6JZpDXcWNPIE2sIQoo1Q7uFAy9A34N+ewxy
            Lrjb4DqdNuVBVHuEDy3KnVBhW1VYY6CrQr/msKiF0QSUUf4FIVNjwPM1dyY9
            6GqdXv02LdZYwCeoriYoM2A+YBiyKIuKq9nW4sSoQrpRA0/LkGcImaDEv9OM
            KG1vbBVYyAJ3msWuvdNAszvJmTYkhKouVyET9vTMvbAq4KY7zK55/LomuHNJ
            KmtMxd7Rip2juRH2e8P8YGvDxYBL+XKeQ/gtKZAQtszYKe6OlLsUn5U+JBg6
            WrhY/qwy9H0hmXlvFR7tTTUiyTEuJ8MvqVisqfigMMFFLktlAStxoZuuFtZD
            1kMpgGPopqkGZaemDQ8jvGWUez5e5nfuA+U/oFo2XAx6LY/8t9BaybmpXKkq
            jkorPZ/uRKfLGHK77EYh1b1Y280Q18+E7K2E7lrds3tM0sl8V6o9u5Z32Vau
            0DuXxzrVYVaWVUDtLRlH5ox7hjk1QX3u/tmz+MP68fncGejY/vx8v5js+pz3
            Z0/rCM/Pz/H4ZNDbfjVHSBKTulbfIZho9+lWKf2Veb/fZfsy+ouA41vPQOxc
            7nS9e6SgQ1fWd48gSEVn9Nd/h87RDPnGA9lX8y5S9r058sy5A8nFO0t4BiF0
            8WlRZr9+t+Pn8oA6hQOv5xGL1owIqj9/rZ7Inq3yj2qk7RdbsqSPHaZQG5yL
            886Aa5CkIDMnDQfiPWFQscQSIU9qdQRHaayxKEoCbvNkUaU5sPA6ozg0zWk+
            ZYrR0c2j/5YPXnZvAt+XpQmHwdEU9rmUgIx7FuFNJLAULEGwSuVIWXHvMC/p
            +AF0kaLQju/6Ac+N/aem377eWy2nCHfLYi2D+LH7GrxOeqw73ehWaFzPpDxe
            lWh1+71iMY5JjFO2hYt2jBwffoz6LVs2PZPUJ1lZKETAgVZdCAMAdd+32D+4
            LbENFri47iVIH6aOUG3Z7w6dbbSvKnVYSpeD+rG91rDG11npQOm6CksxmZhi
            JCBkpSaWwhsRWueKZpwPtqrhA0SC/zR2qqGJXgVTBZlDU4qQOGRP9A4kohk2
            E47QudhBbxFPoW6AXEldy0lyXIZX6lpQAOcxAOLXeyZbAjVG84WTOiyNlPJF
            6MpMqoJuMYgOA42TFiX9Iw+JD6v9KQIVZLimHbvFiJyFrLIbdMngOPpLvMlf
            9EA3gY62Ip63amXFxmb9wgQodNonj0s+lqzeHqkrij1CRVEc82G8kpahBdDf
            Kuya3RvrvipYMVrpt6emtLOetnL3inYsLU8lKcFWNuOOO4nP7GELRi1lm1w5
            hGjlFo+5lM7Dg9K9jWjYbzWm2xVtgs/SKtjGf/UmgMffXx7WBqPjiQHZ//Ty
            6qqI5UO4vOu+iRd+Uki6/+x56FSMBOqykgM3V5nGCXXiboQnEfGEZrjqw6rD
            2/YsLUseG9VfLkl/9ZRTcOBog5JtHLk6u5LGYJi1y9+RZuPRhiVU2zgIy6Er
            DXZRxSUQGN06h12rYRSKsiW7ZRBQFHZ30dcQrs4U2a0/T8sCvPJXB7dlq5Su
            Bo7VoIPI9OMYVGxG1wwXSNR3Pya0tzKe1TX2zt1RY6TcYJwFJE20eSiLhAlw
            p6lgEeS8VbrMaZU3NaVheerPcTPhvZlmNDyFpHnWYAueOWDeUsJVM3DF2pdB
            FLKZyCWa1bfK3YZtVw2A0jHpShe8VKcPxY6ZfgyFLjWOaq1wee6p/dX249qn
            PjtsTi324ngGS5wna+SqZWC52W/F22vQX9YDRIdBEJK7MS7Dc7JQl7Etlx2L
            VTVxbN7nMuK3guT2JC4VszADp4UYVXZsKdH2Ld9Hv5qVZXL69mc6n2gVv89Q
            ieJGlm7VDj+JOd1/J2YSLTtIiWg7Cw9ssbbrk6N9sD4S1r6aNBgkEotnV/oi
            yDmeCbEwHot1V86STNkfq2RAlX4EkvsH1QozwW9ew3NuDtG7pXBQX6DT0fcf
            mmiGaWKb/J35MQWioBC4MvQjffuKDTuKCt3Lrv7GoWZ+XjghUr2eC8RbaI2O
            MicLVFkXwC24iDWGZrmkecz79CKnoFQWFXM7sAikrG27b1cXFB9xmD6NeunP
            MBhvqGgOUFKVJG/PzYVLXY5NEAgVXum4kpbvpp0pnl0dxAzr8ls8bIWNtrNp
            85660pYj7Nhx61K7kWf+ykxstyuAGxfSKxJ/KriO+lTVAIV4EHYylrW5Prs/
            xGM3/UGtPlFWEPTPE5WuPyeKuEZ/m6hvFkt5Drac5Qvxgf+xUn7db7PsGN7q
            u58sm2U1m+1C7pmrw9wj12PAHd+K6epOaMsge+x6eGZGTOLX9ZJfb7hSSuym
            TAwp6LFx5wV9rqvW40ThzIIgn+6+YSq18BuJBs67gJIC7F8dBxVq/n6+7+tc
            6+s6/Z+vUy67zhuHyMSvMRIgOqFl6VldZzp8ALIrdMv8R5nImkSLP8KcjI7m
            ld7USUIDLs+SS1bVz05EdKBNRm+JkZj8ugSivHuLhfnwTzmT+56Y+7JZVVde
            kimek2gzKlxjT5vGRvOhjzKYsS8lboCQ3IMpiGHiMDnUgiZ6etSUoFrun8Lr
            z7khcxhnG0S6rc9OqCMTx/f2O7ChwS82+P34EEgafw4+j4EWNncFgBDyQMAQ
            I/Pb0mIJDtHgDtlBhhJHH506NcVJsSN7zoJFhkjDNBnLwbPsT+bEbjfWRp45
            vNfvOK0Z6+kKuBoMsCz+DE4CjRDYppXv0kJolesk22LRmADSr1K+xIRiBY/V
            zM6HXlXIQlxz3h8b2z5LV3hD9I5jyA68Yy5DYlEpRRW7VPBy4mr83oY5IKcr
            Wz9NOXNF06tDjDYrtTOiK8O07heW8JYP/7IALfSd+gyt6F7oOMXqkFJ3F8dj
            UqdGCDdOkilgWaG+cJjjc5/L0CUJxb+HbZ6VQuKV8hV4rcUj/DtleWB3y/mV
            pTkp091sYyxVTV4aqwm8YoE1tfIgw+i8PvdnzGqZA/gQMBDOZR43CEU+kGaY
            J73kF35pCJEUw4yFzdhCcEGgvs3JBlETEnylVCKjHdq/7ev7bU7TtQLEWlUD
            Q8WmuWJmqKr6bR/Pepiksg15jQvNlddMsy51ywG7LtrlnvlUWdSN72yts7a3
            WYNwlsEG1MTHvxeM90vadCUdE14mESxHx2mSWgK9DNsO2fOMFielA9RhXu28
            fQHGTSzxHYtFQTe5Wt0Rpa6OQZzm+A2993ILF0OGgZGPTSjUtzCR78RhErPq
            kZnyYGVBgSYz/Z/F66KC10Sx7w448xMGiwZMsSzbi5joCrzi72vk+ec1EmSL
            gaoHQ6gSnNdhvllOoJLOmQi4zBGRDbXtpVS+AGXpQ6AuRSKZjcIRp5x+Vwaj
            REE4ktS0s63QM7Ky1MDCVOiO7wLRIVwRA0jWgJ0e1kAxEToh+WVS3X5Nrr7X
            ROI9eKwIiD1nzfFzbYdPVIa5pXQwIXvV0N/BT5ejwkY14B2XrV7iUZVsmRB8
            Rq47P6dahxFL9Pnh4yg/fRx6nqKOj5ubaFzyYeYYuYnOzZYAIaxmRp85j0RZ
            woL5Pi/0z3kvF2gsqLhfxbDV7T+w71sx3Argk6xJMOyr10O4DAq4qgu5tEe/
            SNstI90t+lumYFKKcqy97mWnS2+nxXZmbOfF1mY3ttT2Ud8sixGOhQ3OT7b6
            k5rH8yc1Y/DuuHUAmbEG1/BOMjnNhntgEMKJanO16RHazc324I74c+W+yHXZ
            caT/AtNHjARyh5Z/Bn22EtvHT9aPd129e1dIrEjqPyNYVFY5C1XK6JqluhVi
            9c7ua+nZYDIK42f0xWRPqF+eDM/n6ibS9Mw/I8zuFa3J/QJnYPK8SjbA+Etc
            1UILxFrm6p2CFlgWSzdHEcsik1X6JZfb6z2vM6nVXq7e9nJsv/H9cgLh/lay
            WA+8vXCVANwWHeU+3v9+rL9E9NgdX1CO7T2oREZ9XIcolpK0r60g4xDLLceX
            TAbH6OXabNS9hOHLS3hZ1+e/ZaQwKsyOgZvd9+Mn95N73as4GUVSdo5zyHIY
            t9vHSix+cSRyS4zPqzCyDcnGi+6W3qdyEmg718sZg9DU7u45peDcE8YtvZX0
            5kTdV4BmbqqDsAlGN60BGLgby/k0CV25V091nAzPBwhfAzqmbP28frFGYT6c
            zpKH1eBs9gz5db+sOpn7t1lj27de9jVTfFANA+OzEl+lx2UnUULHR6nDU0q+
            LjYC9oh1ZprUqxwlU442J1hu88O6MVs9KJGXkE4/NO/ClQmm/H0voivwXuH8
            3Ks7V5oJS4oTMb/kfbsyU6SyYVMWoTM4kiwn9XBx8R1xByGGHXkfrPk9DGND
            DkAlG6+N0neJs3pgaLP58iIhWY7F5WKguH+gFR7/WGVivY7m9TNt19D4dyvG
            sH8ESVKUm0h5qoX0jGOXuzf7Ru8J3FSZCdDGRlFsU5TxOFm4ifeuEeqWzpAi
            tHJRMHQKlbQSWzrm7ZYelOME5hZsvKUGhD/0BSYkfusF7ISpTKAf16vQ7wZl
            9/f1sC8QV7qQCwqUh6vLlGKoewPL6FWKU7AUTPWGT9Yb/puIt2m97N3onRQx
            q1giExXWzOroZnX8MqtZKPfJYhjnjoXrnU6Jonv7NZSs0+XXeDZhBHNa5a1c
            wwAczgXrYoVjFKAAgV0Dx6hZfXJVVhz7DCjR8VRWplbnzs7ZRGHFa1anY8UU
            Fjh+c1aYteR1RZj4QCgK2eTkCEUQRGU2b5stHUGxAMgajEgh9ru2+p3YyXTP
            lhF6N2yN4aHeqgTIeEVihSt5kPa+wxffDs0UVJIJC/RQ4oE1+vDnSXgjq2z8
            +Qwj2zMQO30Ur6GijSA0waZaKga80tLEf1CEaJ4INSHLD0cclnKqvpWReBhM
            UNWZsS00IqstUV2GEIHqYcnSTI/Qfl4zMQpYcP4GZyUCv4Gzs1+eJyox9zi/
            aBGpO3IPtpf2O7eFCjmi36e7QspKVHBSjxSq/ZZBGzBpoRJsX60BaiP+6wSf
            Uh9lOzG3RURLBR6IvGU4x8ScHCoiY5lnsOAF8/KIx6c8jtWal1Amph86zFC1
            fc3bYrey22Jjfv0z/oMhXQOf4yY2CDNlcIelVgCNqyz1Q/KcLlvKvMZtdVT7
            YKgJsvcDQVdh6eQRLS6RDE4iWM+pw+EgtT/SmUwj6xbe1l2deK0VQVbP95re
            PvBqdtI31BNrgINNghUqCY6RK5dObLY8M2cVa4ZxXrl39vuh2Mmued7H0hQ8
            DIFfBUelbutplwJ/hciZpzjNb9O41A9Ssi+E+wrs+5WT6rFPbwMIumYuxbSE
            TrGK67OC63yWLAuKwOg1xpdNPAHVUrc+UIKnJ6xvUaK5sEvO7a5lCeelKNkt
            rBHDgf7ZL8rhE+WVjE9fsQ4huQ/VOSjmgPV5KMawjHDi/ACa7iy04JlltFuH
            a8hbi5Y5+RXBVB47CGoRrPXLMZaIynT0ScksLpEuTrdxI5AzCYqZHNSdYHRY
            ruULCMNYKmjRujj322vf2LWYhDAcM0QKI/gKj8Nfr8nvdxrHu3eNM6GXv49N
            0hteT2D/AJ1bKzqPCeyKym0SsmjKMps97YAFMbieSKAd6vEtjDr/UbWx3TNS
            5PPsn3j1jiUM/326/Rkcayv8wvLaAQyllwvDy6Ea/LjnsXpbwhrouGzPsctB
            p6OaN3/ZuqEcPal0LH/uqMSOtrxueoOzdUNDSsu5yyKaknVJ8TpjuWLbbnRy
            ggDOlG+amiRyaOCLxb27PuW1MKZC5UIWLIKtqozOdffkgY3f+m2w38POKj6N
            WOV1DLL3X1PunwjV3efqHnNyIcm6wqKzQqfDthZGZ64/f7sJCnrnJw0DraH4
            Yq4C0WgiS+SivLTg8EYCgTDUWDYGz88TjrQBsU1T3ihCBgUcyYr4cldhS+SW
            /KZEvFZZ7otdAva5jyUq+/69Gkq7StSIXf54R8TvBzaI+6gQ9nIkvz+8cI7Z
            RQhFyL/Vbpd/bGV0y9t21C+Tjd/acDFGt9QjFv/85kgO3SVOlguUyurc0RxC
            DPrKS5itMpiRnPawOnY5F5yWENzCdpc/xH2b3xxxCH1BPW2vP/wI3puiBszK
            xgJPguCQ/6IwSvkYfDNZe/3qryukiP5BE97JnXLHXAJK1zVsvpNVNbR4Kzdl
            D36gH9kVLH6vVLBAPRsymIAp0kTXNh3VH/IHGHnYiEHM62ed6FDwRV0RSclJ
            IkKMDiuIeL5f7B4rQB3v6HsMgnFZk9s0TmWosp0c1v0tAoWxJpBfHRvUCZXf
            667pjJDJYQkwjn1DmiWIeHHWJ8hSTKPeE0AcoOnZrDOpZb10iUVsNiZsGuYo
            C/iHicH2ovHueIjGctnYxevn2HUmqrgbnTETHnum3dfqs++wcf0RSuezKe4S
            DXlAIkYe2GTZQszbwhiRxwUsUyx1GDywypqQjli2RTgsBvVhqxkJJEIWGZCJ
            mnKETl9aF0i3sDECTDL58tdX4rW/OO3tqvZ1N5sTKFVp92PgSkx/c6wEUbg1
            AsE9E4FQHZ+bKzhbFKwzjVkpWbN2sd9fOgHZJx2+Ao5ze3jH07dHcnswz9v2
            74TLLe6eF5rSxM4WN3G5OHMxxImxlKtKJABNZLhhHjpng1TozD8M5Rnz+nAj
            1sR/c78RnpfTDRYKL0JbKxnmO5hmkBwEAfRV/3LoR2WS65tzTepRG+GBeKrM
            /RAy0KV8TYLLfjrO9DfsP+Yw1xChcxm1HNPMFTBQdtCWPBNLBSvccs7AfzER
            Phij7OwWlz/ZKHI/7J3A7stP+ZPS54Wa+cXT8fY+VPcqunGYiL+1bWjeYBjU
            xSSeStniJQmS0ZqYUhRJC+6Sy/qdsQ5BTkj2F7lTb1Jwc3zxYFo1s+j5PMXF
            EkzkixOHpw1sVSakw8W2gj/f73T0w/QLJEdIzAzyXNVRiTtNUFzHyu+ZX8DE
            AubTLyITZY1FrpBajaNwCrFpsLkE0SowhoYqzFRGk+cHx3FwXDViXVxjNsYb
            wLENtkOQVgq+MWeR7jUS3g2h5ZxlC4JyzePYbKacn9WIE17fNAevuKz9PYDF
            08L2uWAxt6PIEwi+e6BnUZNg1X0hDr23BtrRsD3RwfIESSzCCJUiky2po31h
            NpBQKbHyQ9y1PBQnIPtPahV47qrtL2JhuPhmXN6dNmomspW+shMvDM1QhRs7
            oKV8xf5MtUqmDsB19mh8xrebmxgV8XZTdHOKiWdPv4i5RKuiIjEHTX7QQjh3
            pnV/xTDMovEjT5LZwdFRh+PHPDWU3xckiKErT4mX+BEhMB2XSaR02AkZ8fD0
            0VYtCbLQvs+y7yEBmZ8NGT99YIicF2KdMIr/NklQak46aOThy7y426JUWFix
            fZmYCPHnb0pDreZPAKElKlJbjBSKnWpJHo/1Wn/U036LmfzTQWPJEs72f4mD
            bUXEdR5WD+BpWC4edv7+jq5t66e5SbUB47ZY2NbTtm521u8WRxspeCMXC5Pm
            ET5p34Smkg6yPcNL67+bpyofAkQ4hukxE3MRTnzv/r0aUY7mHLl9fCo7kVbQ
            XN17dR+fFlC7vePlRiGL4Jit+4fSxmxX+dipOE0pR4FtFzoLPYh/HGSqUDVU
            QuZk00rPXnHNmhm1liPnKyeCqrv3upAJlQ2wHS+ohuQb/1Ommjcvb7cHhByk
            w19MbQrb3C19PqtRRLYVJnACHGP+hZxMryAx4u1KMkUpC0JACpNDCzA1hmAg
            Bz1Sj7rQnq4j0bDt3hJ4qUg1VNeVJr2mydPJhhF9pYzPNB/Ty64z3cAC8bN9
            33LdHVNC0amOSfS9T0oflT9oKoK4tJTx16dRvSCOTjn1CmEKfVRpGs2NSEA8
            Oq06K0DCNO+g/GyH4XZWw+/s1bOFowGCU2lToRxtaYewTmVjndIyOi3diu5c
            SNEoOHlLJCWcTCrDHwLqIUQDI4DHd3u+0sg6MoEZXkWKoO4E/mj9Y9a1bliq
            NOvwW2RmcYnuzaM4ifytLIkn884pQwZvduN4ejpvwryHoveph10TS85Mr3Cy
            0prexxdGG0wPn6NMqyGE5Gz7aHTSAe1l6XGzbqatQbxcMnUvI9QcfIXS45jc
            47ieMYZ35iGcUCU2Sj6jezXTwuf1cf96e8FjRxQJyUX8g9QdxEqLjYBVHG9m
            GFSiuWG8mYvAnpd17SaiwZuIPpYv0Iaqy786itIT1a24n5WRWFH1UqCG7tNk
            QG7YV7JMpz72g2LdzsKU5VOr6dho89tpQR2f7E7m1cOQTYYKer/wz5tNb3a6
            2fjLtj2RdbPdzcY3+99a/M532J6w1zPmOKDnsu9vwizD39di0pb2W78F3vc9
            f24gORYTD3debXGw/Pqtb0+dWRtbHJkn7uMk206zx58vs3+UpRDpObbYuaMF
            5p4eFJPZUDzbqSa39vrSB04lrWgRyCEWBCAc+/BqboG+VOUqWORxWRJ5m3jQ
            o1RBzTCd2f3WWBx3On76rdPhsP9+/Mm6A/dd89h2fnzXPHZrnjuK1qxmT5HC
            ArnfvDPO26eDUNtY2awQLWyD4J1wGGwWpPRXOXpuZrWcUWaSwVCyC116O/hU
            mJuskWegxBJbp+GkK4l0WIUTxZ7Y8/Xc/Mz9T9LqVa5ESRKH3SwWnJrY8W2c
            uD7vgdeqrP0nayYiMaMsWDYWc2GKV6RExzvFYHgQ0bvVJsVmxg4VDYM9wzXJ
            vNm5g8XTkA8UyQxZYyWnfW5nr0n/DI2gH144wr4eVGbvYOjKOzAWI2HGTwWZ
            SvxAEm0SOM91/BhcdYwRooz7ANpfnCkOF2RZNLAz1crQ9kGZDLkxHNvyVmw0
            mP3RS7JpSbEBpEN0fDfdrEtOJ2nvYWMznZbxQwsiXa7osNfeo77Nz05G4bkn
            PWCVi1ExdlXrUgRh3pK1TvrUAlCj9iDQ4/GCN7iVXI5K+/6BD/qRu9LO2TbV
            k2YZ5uYzBUIqmV4R4vn22Lja85MN/wfOC0O63myPaH2ed6O2WsvmvN5TjJxX
            Bbf+ToT/JFQvvzZlEr0wONaQoFkAaRHVMd+WPtrYGY1Nmx6BB8qfLZBTpmJ/
            A8/3rWh8MELVgtB9/JvNbTb12+f/AkM4G9xJD4ezwy0OprdX2uJgi4dd6vxP
            7Ptlq85Ot/b+m41OFxObnRMDgjyMZiZlP7WD6KVX9NMXai8K/ihn8fgm/Dcn
            X1VAql2HZn7LxM5k0dGRTbq32khQGsPbAJ1IhdYVl9JtqKwMarOygx03Xg4y
            OqUNp+K+3poFmaqHOevYUiR5pZLrCoIMFKcDx1AeRCcso1pUrnpZCdvhRiGb
            HeOZC6uDFbzQi4cSdIEDJgUTMch2GG6FjY4PLT5k+9RpMx4MSmAS3uGpVGx/
            YPruKwe42OBqtRCW+bqP93M2riPdYRlml8gnm4tazVGYuhYfowTrBjSqYF8s
            lUzQXaTqYL9nq4ziwoCy/2WGOfwLYWioIip3AwTPbaThc980hP84/vHjn2wg
            II8fvwtSVHWVLUBzsmjfux3tfAB1N8IzYmQZ7v4j20r1FUmFN7eird3hrbtx
            Nnkwk40H56ScrP64m7iy1zlwMZ5eWr6LWHaOZvXS9ZZtW7HSCfvXstcUtnuq
            U9hXBpBVrJAQDEGOvmUpgb7vILzN8Na7h+ek0/eogIkaDoJt0tPnFMv99KTs
            7yqjap8gUsLdmjtApEljrGCd3aZfyOt1TSikvA5j98aCPViFcx22bDExc6eY
            Kxv3zAbjmDwx9fRk0CU/wy0xI6MY52LSZ/lyCtH/wGpg1e7yfcj5TGSNy57l
            Ls81zmxOp3FpXNS2mOUc20PJbOTgvgzG/YtWoJXfF8eEt++vI2uyRQgzoE8n
            QndKkZDm8mBPkPJ39PutnUwSWTyG/UyZIsKGsoEeQ/t8XA8kozKxTn4PhMpk
            Z45JtnpZTh/DrHLElOcmbsrTP32vdr/lfRwvAm77mdRq+YIauK6cNnCL537L
            mIJqRqtf/2xfcYF62UTSFahVwUY4h+kEhFFf372ru+DkyVnis+S5g8ASPQvA
            Dav3M8psOp2iUPkr/V/CYDOK0Kjfe9aK5cZvz5MS+8HfeS0qIkUQAOX0NKOD
            D8j0IbJDW9pDjdAEWuLXOZeaci+iTrHJNRQE64ZHLZCrkLyeg3pWLXkO4h2t
            8kSrZtkzbFZzBoNtLukzcNT0iANn8LUeU17mz95jIEXj652Vv0653yxgwQnD
            w7+Td3AyCF3eflJbTn9SW6gfamNt20t5/Tm/qY0Zw98ENqxF/E3Hyr8htJQI
            +IuVmL8bs7mzSGHUYD0q2fXJUEojk/EtoTB8asLY90msSm2RIcGaUZcS9un0
            +CQXBBnfp2TQeI3x07ujewrR7vvxElK6pIUyq0SsxiI60tSit+6VKzS6Vsbl
            erpzwPcRtChWVa9YlC7bM5PeJfifX8/cP8/MqFm0vDnrwOvXjATqC1ZuTOnt
            uXf67RyGUJr9eKUnR9YBWiiTDV8cxFC/5eRVNEQI/FXt+rueYNvzL2iCF6p2
            h1fZ9jznhjGITrTVJHd18EbgDLRZUmZ3+dnVVjludh+8s/zYJGCldkbNF1EE
            vHW8JsjghYSEitV2fVNf7B/q08tnL0rcmZoedQpfsds089ot7vUguP40CLjE
            kGn1TFlepwbckrZolNB/9nEXc9a7FUL0ICjxsWUQJMC1WaiSBawn2AEeOQhk
            +gTrjE5XLcvAXrRK9gYD/w83TqIMipalyvkXh5hWvWJJILRg8bhFZosqVEhY
            WKaMfj9c8TczWvS8IRXe57T0Z2LbdXXBVtdegjhq/DQ5A9yH6dJMn25Wf0+4
            zkMZVHigItwA9tjhOWMjTYpLjhd1Ute7l8PmNi8xS9amSpq0w+iCSCnVoH4I
            qNGS67Phw4W3WUkwAc+Bfmi9cXB3+XE6DDuwG/FS3d8mTD4MBkRFHdx22w7L
            wO4vEP2LG3ooqskSecq+kIurzKoN0oM1RpeT83uYPk8dlpgWHFBZGtLhhf3s
            J3J9JcTHT0L8+EtCfBqWCK/UnQOUK3wXSw2+GImhr9H4aGVKKdNuy/1c+pwE
            /Df5mR4XcIjOZ6PBSwOaqcD8Tlehvh/+/bbvefn3y793xmqtwiQXAyggfmtk
            jyVwlcnuN1GlyEmr7r5SvL2hR9QYMI9+qZndoTTeePc2OG45M05M2dfllyJE
            +T4P8vH+cQ7UDsI8QprLGcECgII54QrBFMIOa0rzAT+jg7Weu30CNMSGzxHj
            zn0V26QtbtEvqh+FNvN5eNUBVVz8HyfxkrvGi773gzFFnw+mZT++c7MwQTfM
            X2KjWls98NgkXlmSkDmIVcySDvYafgxwhkj9VnMhXrpse6kqUJRrMHnZqsES
            KTauzoDFi0ojdY7AxEw3aI5d2k24/c21ckTHGPsVn9sWe+6Cpaan3o0LbzMW
            StgMkxHThuEry4oZcyxgFA6SToigSESa9FUoNAiWSiZ+rN3zhp2oN7M8bakI
            MFV5nSy6Ye+XBWY3fp5H3fUtNbhMnZPENumWjp3+kM0HRtOm/RP2g3urEyUQ
            VrDA3Y9sOoqApYKhiEhHU1nCB8lsi8RPEarEmqCWMyWn+spAJLISg+Vqw6uP
            wA3pYMrOMdWiegOKx6+6iltYyv1b0uUvPWtfi76O4ZYer7GTUnfZQLQYQq/t
            NkBEMrmQpB9AJVLCgwIfsPutxq8+E9JQiRDj8k67agfl4Eeq6IV64ICGbEeV
            mOA57FoDbIShUOb1KTGlvfv5GHSjxmbbMsGeGAVZQW2lI5PV8TJPmuqvfRNY
            8DwcfweMZVgCaJg0zaivWGbvUje2qK7iajMsW15RIYn+ITs9+HnQnvrMV5+v
            LsjJcHEk33unuOAWS3hu3KHtvxCAVaH4pYMUz18TG9dbuPiRu5sAyIyQviX6
            6h381V777bA4977j7dC4PbHLe7zERKhdm6/q3SnL47kLrlaUnZizf991HCJm
            4Q+sBNNDYXSWkLfoGDxB3/fnsGsI2a1w9+d2D6L3NPWc/WASgqVkfxZf2uDU
            5blwVRNLK0cdA9lJKE6mm3leAsUN9xHYIFkiBMOy2ncTQKFbtfTZ34HIwxNZ
            2LLw9F7hUbn1aua7kiN3LnrkPj3NzQEVzdsmK1p4hYm9U4fXWBB9O1oR6CdV
            zu+brG+Ekk3WpwlPyG/b5c8Eeh9ZU+TzT8jhx5XeMddXr4Z/gF4p0Xz6kxjH
            lvFi6c0DlMVMV0g9/naZ/pQIAQI9nOnRkfjF1vYJFh7TUYsjWzCifwsevbJb
            CGHLb5oFFJdFqw1LN1vqBYxsKp8w6pnYyaaAqoalkinld6qVFk3t5eixnEPl
            DCR668kxMGBq+HYMqQdciet+TkUtS61Mp5I8WFY0kWzVa8UeiVjLMREmPfm5
            +X4EvT5IIKq2bfrNdEZY6AWLPLYBU3HYfrYfhJwhLPCGyXEL83Fg2+DjiGU8
            pLZgkIlkruTqAiXwvg7VzkE5ZhtL5xxJxSLBiIdV3nM37SVimGMfBVfzim9H
            d1SQPmcz+HbML19iqlj9ji4wMSg0NNrF4aR/IkoIXjtqxwf/HmhiM68S5Asg
            Fv+MrC7usvsPB4g0iZ9v65oyLuvVZXDrwtKlCR4M3SN8em2dXtbNWq2PcA+W
            iq2GdYc935XcR/GoJOyPtG52RpkhD3YHPk/LIGL+PPYx9YFg9YOciVv2GuNW
            /VC/soLPmygMZED+7mC5EFdDOQ7sp8ZA3KnPIYzGBsAjLfO1cCxGcf0cHIIW
            SBT0a7WMX+iRrOKl5jQJl9P8HFNUSDwh/X6W4+tZLF9wsPu3QivRUMGUlXWp
            BdjTC+fRSOCclFpY2S5rOl9MVShJzeHSlj/QIcMHIetXC2uwIQ3+iYcc6n9x
            ucctOIpIV0rzsEnjsccvwOQfhhBr3IiAntTiUl0S8RwXXpb9kghKfEwDdTw9
            +7ji2Kh0aDZl6+yv0c7RrXhSQL6sKyTuCVunscFU6CqXCtdFtyjYDKt8XJay
            XXbvMokPFltU978zzBxfM1+hfEzcNR/J4TcDeg/2Sb/M+fXcxZ47xOdkUm7d
            MQT1UR/HLiKlEbafv1dLFKkqObP3C0FuZ0E5xU5VhhGli0bRycmd1XrGq8+r
            L9z7eMG6jrxA1LCojQQWY7m4MMFh98pi6vDMJy8Y2NAt6cSYqzVcICvLbNSE
            zzgm75ucTJp0I+Qb0Dypw0vrn1aT0FEY1d/KC3Si5L3L02UZRp631ncjutGJ
            tvrW/zMc3tc0RJK+rS6iXW/cgUMWcn9BIeY19m9k41c1//r+Pk5zTfM9YCHO
            9u2G9mKMfqh4GAogDHPle1LtT4nU9JDooStgWzbHYp/VtrsjDkxG/JgqTDFT
            /L2rBOxSmV2gOV7BeQwwir+xsigf1kJ01wo0YiUZPqK6aHiBbDuhnZ/NfxNx
            DaaX4IFgFuU3sbZS7zlU4G4kIBx0Vq8SEHc/1KDjCuLvuaynWsMyYTTo8lAr
            kW5lTdIHpxYJXVGjp/RpTaOMvR/DEyrzBi628+60zJO3fnb4PT1Th107zRql
            /47Jhz6R3fLhiWzP7KPS1aaGKzbvCYSh6xNixEx7LYan7zwArsKT2EbhOQjd
            rtQuEhENtCzFTatWPoLRrPbvtusclp10DgKUzzYI7Y3VP1SnB0ObXCMQ5lYi
            pQVtaeDzXLDxU558qHxfyikrePY9g9DCZYO+0DRY0f05PouF2AIuMZcpqIXc
            khMz3tDu9uQeXn6G62y4m2mhgxOci2WgY/SbPoXGDm8w0pvV5U8QA/0sl8WM
            h7UsivfuH2ormaw2KivXM3foSCCCyp4MKFXDFZ5XFm9i6O4cu9fpxLCu3U+H
            8KzEIj6a2ORDVp0Je0gdQauXSZ1tMaONRZiEUc+cik4odkXcTARUsFt6UZl+
            bZiFitAJyZTJq6EZqilXTSRH69J7mKptpleLz6u7eGuYZcS5rIoWxLa9Fl8N
            gLqVDz1a/tDgpiklzNAkUvQSdQ5We/rAYcYsm4I24VWSB4Z4HobvXpenZJON
            zuvY7OcmL0zeLzCrN9UPBUk4c55KFRwyZJcOUQmRLKmSJWv7nfAcYgq2NpX1
            s72hHJBK9ngv4wz3YRUzz1fdmsyVyirWBCJiqQmkXlI1/3NDKWqEYBlqmSwo
            FmmJ6hL8trxj8XgJwZTMwPdUgfXbLCC4mfPWJ7IRB8XFPF8nXNB1wZguK1en
            MsciC4wxFS6YerjXBebcLZkyQicOm3AJzLBXC9bf2PhBnbqQP/fstyVMD1Nz
            BQLAF+PDJHaEJXzZwGRPQ5Y8Wes8oGUTb8dr5dmtjBOO35o6OlCJKVKu2NKF
            eKWHkCogf+YNoZzU0h1kRtmoatFxqhcORgMsLS4QyzLNkMTKHPvj+hQIdutl
            TZe0mlMydrxZz7Q48A3WwMYP8jzxnCjMVJlCzGi5drOkPfmbGLo3U9psXIH0
            J6/4lTBhafiH5Fs6HWIufWX+4l0XiOfMsnOXJtUdL9IJohpFPmkGlV0Rv+32
            icLT3a/ZNb08/VRElYmK733BCXRfysyNDE4FlHHf12PORBEPLysjh8xto4in
            T3vAe6rhGuzLyRdmGwolBAbh2B+WO0b2cUPxkh8wuQvPghO4Kbkw6LLuBorM
            xo8jfOv11B6oaaRSNctsGA5KZEClMe7LfmP9hu08FYAbMGom7URWhDLhvNAY
            nipm6sQsYhYh3lDoSJMB+G1nMR0HpoE5JQd0v26tTsKYDMVkPzd4zDpdIHaT
            9N2CkO5LX5Do6eNCu6tIiFnbmDh6VkbXTJzPKac7Z/Kwa8bOEAvL+yT8kwKK
            mOTknR/OEyNnoHzXVjRO+RvZ9TJ/eTaIQGs9Wx0eMja2u4EAIKAGKB3LLmOd
            QbhwiUUqq9Au5sAqnuUibjkxRdQQ7bC65teY41Ibnqh1GfZ4vvC9yDAzDBKu
            ZkhvC9fZ70lZyEJXkF201KOGFdzQ9fqlklip0ycL5gyM92ZbPCZoeXBmJnkh
            urX90ff7bXDCrhinyRC8h/GzpOwKSX+qI/f1jC9DFvpjwq3YVCCfLEKDEZo8
            OUfUPqt9J6avCs++YuQ/nADMzcqh23OCTwne0rIKsXvVA3bVqXd7/mJXjdeu
            Sh+7Spg0XVBHr1a4J70ygIcnTrvrjrXQqpd1SQdvvS0Q7e4cwT5OQwq6kuv0
            kSqkQMjZYBvshd+zqZhuoGniBc0IDWIPnAy6yxy7hMOsbuMwhHy6Gk1fH6mY
            q5MtjaXTXxYyGBvUBpJdHfpobXl+L3kYB4oJo0Qz9xbJSljbnfqm8VR7zqge
            Z0xkC+r7FoXdFubWykDgN94LC2nKEO5KU1zM7no1u9MN7mjvS0IZ5Kf+7qd3
            UXgbdzPnTHja7GSFSXj6l6f/YXsmN5Aw9bfaPVjDGRXuqXWhQycRMPapg9Yy
            OMPI6hLfFq3wwgId5kmpdY91R+cAsIXh9yBGtlhOwuajqnpMSnbK7I2ij8Eg
            hd8RV43WSlHs5nRskkBikJbDNLwwHsJCCZlXhpYICUYw2+QIvjqbNsA8F0Ji
            S+icK29Vcau09TGKfQ513Rlvu2lRKvk3oesZ6La0/MO62FzqnPMUDNzpAzcL
            6TxMIvaCh2N7aBAHHa03Acp/HJ+pX2yrm26Ohc84lv1BSO98cUzZPVkEhSWP
            rVIVO6tDO0MugblK1OuXW9fav3tnQKpqgF8ez6VM/Kep1SR2wntAbN9fA3sw
            f+/3IHFdvyv4CnTmqhaIGgvZ9KFOLcqwg26Vb6uIq9Bi8Tx3Zo0LCxMk2ZnL
            pO0UimE3R0vtXDGUzTxPv0c/7rBtvR8B+PPat62u9zl32cbHWDXUtMQM+XSM
            0paZY2ousiGQRrPWgSygbm/zqUqIv7fZaJPT8vku9dvagrqnfOnXF2u0Mbes
            4HhBIsRkt4/htF6HrL7+qhKmf+TebY3JWC8z2cmQlXtycPgs4hjpGKMPomW1
            Zj6h7i7xB/ZsPLqk4SkgYdPidoLQHUq/C9H36+BoqnkAj41Ej/2S7qdavV4v
            PqTVOhBGj8v/9ccwI8B5mxyPl8Utxo8e07IWKnM7FDmzrQ9GWZeyjikE1FKM
            RazugDmTdd9Nhs7RtZVikmO+2YeaIG1sMEjFl6adN6IkLNtj11DCTjBgaSri
            1VuLSTBGN48Z8OmWVRYV02ChWk2Cp6MWwLOqIGZMccewMZpKc1apcZmp5VA1
            GaA7xYwvLPnFqKYAbnc7M4/TSKE+lPVFoqdHP22tgCzTcIrYClZlebpPcEHD
            ECLL6tTalRoIly47qTbDfUq2hAyfgW35uL3ZuNwNi75rNH+a+qRkrObru9UN
            eFHyjmXT0vV/NrX6QA9Zt8ZrsfV7Y9xiYFVlaaZsRekOJqshmLZdhyXg3N1+
            h3glJPcx/GLJczbvZn1t6Sm0mlwz+fT9EmCFlXHvkvSLIWFJbwIsLHd/L6mH
            AoVi5Yr87Yv7RTTXBwGdQkLNnYhYypi+SeklU9ZT56lN4BnM7GdGFtPZHdpl
            dCF3KQDH324vg19uVLAmTDUM3b5Xg3QY7V5ftjkhy68PsgZuLimab3nAmJ+p
            lrbUOxtNjd7m1m+3Z7BCzntzvOvs3hyvWR6f+53Xe57KmiMrGK+93GHkrVJu
            tXx5EzIPjywa5l6cvfVdp7YRv95cgaVS75HMjyJbP7uKV04yccsKPopBv2Z6
            +sAW09ny9qglWPRSCSEsoFvP3Vby9YUc7gspdl1OWqIg9JQ/XstMS9ajuh+m
            Bk02XcD7XTvLXutbix+2JsKcgMBSTQveWMzhbFZQKoIAkdIHx1ZXn0bn/Qns
            C3So9R4FdMMzdQ+A0as5r0+ADguSdmUFu2cRQLOuzdazJh9mWMRNEMTumQsD
            tMizLROXZeMOe3aqN3gwuLPbOnSLJeH1lxoOlERIiNV3l+pOYALTk3ezqLeu
            /eNMOqxjayODu17EL6/+2T6F6t62rS1sF/JGAHM4w8GG3h/zWfVmgyOOaWOt
            ifBi+BrMEGFJW4vjKqT0E5ZV9W4RAtPBCrgTtCxhhhmyxPlpRXnYTI7/29qV
            7UYO48Bfsk5Lj5Il//8nLatIut3ZzGCB2SCB0+3b1sGjWBVYwBdYfRIOzAtF
            vcLTMjBISJAvJn2iShE4ojC6fw5RP6PFT5UZRyuLz3eRacrlHuKFlwvPz9xf
            94wOsxZc8B1BEiC5mkXDYFJq+U/tLE1G5cjWsm73FnP95LRR5cIeZURQrBGD
            JYOQFnV2pIOKc0FJOZlpAbzIKKed8pTnd/066UUM4HFMjQI2lX4DXfsCmTSG
            NBldBhA5sg3oOggdh1wdaGjxf9b/K4kfL9AXy/7ifYU0ldRUXPaTQftxXNkO
            xFRFIywm/ixSTG8VCWIw2WAqa88bCQMUCnMxzAgOV84BEa6O2O7VM09iGGzH
            l5+qN49QLSHbyYZFDG9QC0ejQVh0KhMj0nR42Q4wuIJiF9mgPNyp579JKxYR
            L/xE8TyiZ/XmavUdqrpNGpT0Kf1xKfNqPc3r6jya15pG7+rVPyHdZZpAhJvI
            LzhwvDPIdWVFpvSR9IVkKylmo8oLBHZXrh+1q1Q160aIVJE5LGpdYQFSBQVE
            W8UUAR8qlD5lJErevXxG8gtcveTKrzmj/hKR0Zoczt0n6FRG8+I4oLlhnWyG
            18kc3cEiBUhbBNh1VESmwO+xEWKqGHOn3RyoR7fM8BOhOcR9cpEbx2S92LC6
            0iDV411DjX1kQIfofb5/kAE9hMFFXzbgdgVS79ZLoa2zLdMF9/2hAjfaToRc
            qvdoZMIORkWh5nU7t5xXuvZ6j7D253hjtVEry5hxbsBLnmNd8FFkPwMAe4xr
            DmmQ5d6ZqW1xnS5SvdD9ooT6lqliFs20RS2fxrFDIkUa4N1MGXvj9Bdfm6Zb
            HRsnbXtZjdqHzeoPjbUZ0aRPA9IJJiOucu/SBPLZL4D1IMDrKz6VqMuK24oF
            kg5nlbSDvfGtLNywh4laqjyYCDmAP0cBrsyRi9jBRYtxSMPZMpUoKA+BuU1h
            Qy3oQJoAaJJ5uaQ5J8iACVncrKhqBycPtgvMMJkQEd3K0hf3O2Zww5OyQRMm
            GUyvYhlk9PweGGYbsVLf0wMm2K7VJwzKoPcM54xqW05GeKaFMzM9yctm68zn
            LoYYsTWPPLG+HpMd7St53BXdRy40F8DSesFIjvQH6RuPDsu4sYrwPqiUjCzq
            UYDfl1+ZoC73lYlG04u5ypO/qqgCmdcOSsKjgYW5NsD7D54C4DDqNpld1NL9
            mB1Dtp1B/i7MfjLDUsL47NZGyfeMtwAl+9lA+kFGtg48pA/IkEV44BLS2qY0
            MwvtdZfxU9wGJRRlJoX+VGtgA4MJNcBeA/gBUvjqJHAiQM0GAid0ocHNi0p1
            1erqDp/w68uAN4DHskeKsjEJKv9AFrC9xj+ItxA60HX8w3O8COklsnjkwYgY
            GbAZlL8yM8kXzDliCYie6w/mp8ReZJLr6YlpLG0COypXsbwgVuez9rZ32DVI
            UiCITvC6DSwdhGIycv/rBfMCATHvJm4/1PBmAymm4vLbeeaP84AGKPI8cItR
            Nt9IbcXaEXkgwFijGjt2sS/SwPlwLuk56/9xbAz0YuC3EyHKHhphmHASWIh1
            oCL05j1lbdzOQQ0n4gSO9gCq6ZQef8KEYUjjsomD1d/dEsqLHu9gGDkrXRE9
            T1f0k06yTvHZ5lZG2/S9b6r3JCS0frafyiTbb+TALhCHAjp5qsNBE2quw09I
            u6+jU2ctwCNRJ+XftnNEzKH6RzJ7oBszrjJVGl5scdVqMtIPmUH2YRqXjLDK
            PoXsqB01IqWqTcsAEfaXgVpl/VBi4w0GFX44JhDlANk20ATDh8j/3qPQQNEZ
            2EDjpwNIf7niy8wLfR3/eK6O8qh3I+J8QsIvpRDAC61JOwTSaiAl8nUYlZnG
            C5yZmWj93xv1hYDDSuLDFlCK/9p76NKfEWTj/9wT0QvjZ1ThiBLEnf+lJ4L5
            HceGyfJbaLUsC0iZ3UvAJktgdjqoI+MBq8H9Ll/+Y89mHt+HdWOajaqA2wjZ
            +DktXUSubUx1nOKy9twGHOsyXwPh8WTHtRBzBE9HfVMA6H1uxYGOJ/jOuTtb
            aCBBtZjzMihtIhlP4CQ1kF7KcIp4RfB0kUvZkbNhFPl/QGKXoFdFOZVAEq0R
            ELGNZg8EOMJEDMqs8gS6pseOPF13Mxys4XQ1RrocNt/kTJAhXkaX4NcT24K4
            btUySfH7yX6IVBiPs0+yvvUwsSzglhBTHZaYjUItqRGEwJ4/SDh46C0uieRh
            ajprmBuVel95GifjMHew6PLSetNH8sdyv+vYL5tmIDyi93KoviZjTxh202Gp
            OnkPQ1Fk/ftlqj1cLEzizty0QKBDMtx+9kYPU7fUvawJ3GR7a1ajkACX47BA
            pIyM2aXyJveS4Z1kzANRD2SikCxeQEEPetgDIWW0QlQbnTdp8a7gxyIPfqjg
            KXNP0cFKkKsT9/98CC6hKZ8/fEQsKM6sBscgfck6hbthTi5mU6iOMmZ9uXu1
            jotYvakyTIEaERQspLRYRwGshIwXq6TrAR4V6CziGMoXram/oGy38nQR/1md
            KA95Y8BsQoOZkL3jQxrq/BW4Nq6bFFrZuAaQV225BoaOboAKLHQE7Urnppap
            wNcDnuj3R1KPpNKJSrpWQ9W6YGAMM9VqtmxjkghkmT+YNcaWyuT7AxXfwf/c
            6wDzwAE5u+M2a9M4n58XcLK6XFvt+uRMLHL7lcHCgSfoLJj3kBu7VNTLtZXf
            EP9QXueY66GyI5pZHmqwujt87tc98n59bqrAqnoIVl9neYZiFY13ztWWLD0o
            pqAKf0MDjgZDhEHxFUvTvIWr13Vb7/mMC/HVcQ1AWT+07eRONtdAejnK0snm
            BW6CXhSn2tdw7SEPPBKubcNHW6qMGo2Miv6WzUF4sMjO5WXGUiGSDOH75b0E
            L7Fd6kQ+24fX9vGX7Q/d/gvGKIPsdWjtLaAdgF0fBp0hRBGJ+q6hbpCAsBz1
            ppRQOr1coOaG4xcMvZMc0je0iGQMYNxnJwVIbXs5HtAUN0QBwIjrtCyGTn7R
            zvyoVMLYDtIiDWurIDWJrzXSW8Jmlya1W2Ki5mxB6/4QD2KlKJS43uLPjG80
            COZRzAlyKwmcRAfFLj86fLI/UqeawCevgtYAcEImzIzBxjpok4B3Uq8ZofGu
            QbBlORKt78UccbHiaqNS00Cohz5QDXn7xE31OxsvUOmqujNWM+ckDJ41UiIg
            Wl5ABwyxTDZrxky+BEQ5XUurgEAID+tIecXt/Th4uE5QYdIwHmPpR7CAjXZH
            YMtVWQRPdFmGvRTMETsVb4VAE0/5XNBKpGujW5eRs46jWcurZM6fT4XMYRUy
            KqLAsi9nIe1KD3v8D8up/yub5gJ2jsWnjS6G/q9EzP2yfd5Lmcnob+YbGgeh
            y5zBz4d9HvoZqIS3tkBvryFPaexUUbQ9MabSsxad1i7Wk/yRmHrdEK3E9VkT
            ABXA8Rmf0dVZq6xIXmlEr66edJxGqwOTNCfpQsHHyZaWTXMOKNduPHr94dkl
            sZNLjXQrC2uD/gwfQq4qVPCEqmgt4k+GuUtzDaBQA6ybChrp4/v1rpMnCiWg
            0UGGEzB2Q+F+ki9oXomhHUZGkdcJ5MvV6lfS4GRFxn3Jn7UErD2QZZGJqp5C
            PsF5p/V4KVmuI4S1reSK/mC4mYF8N7LT9ZAT0OEn0rbI9h3vkrgCkicZe9iT
            zc9b1PiRka+a0HWOpP05Rgr4jtuUu/n3YYPrQr+/bgWxZtNdhuHjDX0q/HzA
            0PoMHVNRZ084uFmYddJcfbTmnoeJ8q2dlE4OPuWlfAh4mOc0QwCMVbF2POUV
            +VAHq2rloR7Gu0PIQbAysSntSytUxFo8yQNB8Wjjw5MRpaaXoieSDHFIAznZ
            QO5MZLPM7YEPn77dgYiONCsZQPbTQC6lP+PwL/fm95QQuk/yQget1kw+J4xS
            Mt5RykWeSnJKNcjF9x+NZrLRkjhKhoPox2KqtyMjXQjLDPZSxCrszGgmiH8p
            +Bf4rSBTL63iteCrsoxYlmi7DWI88uwT/cD7RdeOyh/UH9xKsyMtgcfBdjxW
            kQ2qP7tg5nvbzzCKne9GMqZfiy6AqObwbCwEzawfL8aQFhDUuWXyHsCJ04Se
            1ArqulyNQljiulz9XelDpA9updgy63q3upbXDdiEv7dWAiEPpZmscMmIBAma
            UTtzAxxp8F0c+l2U0UfxvUB03CQgyRfpZj9Yh2UCiiBejnmfHgpDVAMsdRh+
            e1msdyS+gQwwRd5qFycdUaQARP5T2WOKaAhGcRRoOkIiMUUyaVjjAYOpeMet
            yGnTST4oFL8i8XUCh0sCqdNJQpImysTQWdksbTBbBBXFVCKvlT6d0CHraHwQ
            7WExyyJ1xugbEQr58pQ/F2DiyeHXNIZ47sgkudJ9AuyL+j4wZ1AmZEGhW1PE
            S6HuhbYE0rZDjgFqdEhjKh6M9YcFfqjM25SAu7Q+LUGhUUUZWCHUjLgBcojH
            6RSrSmYo00+/KW/6XRHkjaXviceDNNhUVI82FlqFJY9BKAq6glFzAukhVtl3
            QfzbhymfyRaSQ3BWqYYw1Azl9p3iYRW67TRwgs5FqsMCjFSkXJHLcSIUwArX
            ZAZS/PaFuiWZOsZrIDfvbHwfsMVcqwzpeiRKAkFfjzW1mzozGRHWLnNh9QwS
            W7oVBh/OeC/fUZVP7yRsg/dGxZSwv4TPekVJ3ICpfr6zSnbfzme2AH3HYhFd
            zSdShvHJC0DKBJXHHs20+t923SoVDft2WpAL19qUp0vLQBMmqxRZZSLDymTe
            cTleB/kbrz8mqWmxtxVU0tkfFiDCqninGJXisg2ITcZMMmu89uR5wT8tVRpH
            7VbGmXWpgZRLZaW28iPLrHN9EofhsLZmbKZ9kh2to310ZTvTqUsrl9TLQDQp
            kNq+0zi8OfxzmciZmJVuuRp9Kxk7Tk/9Rzytk2pi8dEGnIcypqWpbuNpldYY
            1/u9C+uq7h3ui5LUf1x/Mfjw5/UbAth/WX8iQvKX9RVAvfCX/S/xSPOf1/fj
            7+sTfPm/3p9ef1TZ5KP0pPWs2T4X+1zs87LPimU3C2zRRZB3V3Tl1o3Jc4ti
            WNu528FYhoTUhX9eJrRrJ++qsCttcJD+WsnNfvnRi44FFUvx0EChEhDzp5Xz
            /AhEYgCSXgJL5a4EWo55Vl4fumz/78PHUDU7fpZ8vK4hn2f8bfsz6ffTl/1M
            Wuh05vf2wOjxvk/qlMt19cIMziIXynGCLiJ/tl/4/rX/OHt9r39+iu5/Jd3/
            53F7GPG93736+Ho+q+vzT0P3ByMdZAdOW9pxYYXxdFumRzKjxrGTPaBqp/CN
            kG3Q70k8DJamX78n4pwLwHCpuzkostJqOAxzphmHQOf6sEbC6NPxfP/6/Pw0
            X/f+CdZIyeqlAqK6QCGVb3NLA/8PWm6DUA== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
