<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04f2.b4a2</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04f2.b4a2</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04f2_b4a2</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>04f2_b4a2_v4279</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>46242</integer>
        <key>idVendor</key>
        <integer>1266</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04f2_b4a2_v4279</key>
          <data>
            eNrsfdm27Ca25bu/RvTgN0Do/z+p5pwLotnn2JnOUZV1H+7ZDkdIQgjBYvXN
            n5e/+C9el3d3++PPWh6duNyVr2v1GIuP/oquT5cWzjw5uFRDj+9foVw+5f0p
            +1P3p+1P35+xP3N/7v1Z+/PYBw+3j9sfvz9hf+L+pP3J+1P2p+5P48dX91z9
            ufmez/6Hn3hACwX/7z7FiF6vfl2cAe+ur3+p//HnMx5cw1Q5l/B/n2dJOZWY
            n/zg/9VfKaUQvb/yjXMRVydGdrV6sbeAt+W3K57PvQI+5ao808KFdj6epzW1
            6Ggxcd3FjN45cse1mhjho7s9/3IP7O3GQ/aYx+6l7+/o9zvs73qesr+xilx/
            X/b33P3c+7rf94X9XSbHclkrj27QIcZn14O1mfrRKyb2es+43psjiJfLWond
            876rzvOUh9cePgRv5cru/fQz2qj8m9HhyoO72Js/07d7fy1htePX+zY2HVjJ
            /GidfQiAjjT3aEp1sTyA1at3zVbHemDOBQGuvh7j4heIeBcd9sfwepBadf++
            7LrWF2NDl1WLEDVEj/GHB+sLgATgX3nNDRd/c/2umqd41bPq1x79a9nGj2Uu
            B5T3d/jxfcb6A/L3uP3/1XH7//fjvvrEuHt0jzcYqNfeMtbYbVCxRXTV6Xre
            IHra7dvUrlyCAF/uz+kBGNT47hvHaQ9VffO4pnffOK6vHWg3Vfx73Y//tf3q
            up/HrmmwEf907JsGp+fyODTNRZxx6hjbQ8+bWcc99GC7q9rx6MMmqOt4hKHr
            E/90jH88XnPZ8Rxz70mNZ9xDM/BwZXm8xtJxfTSeZz3v4wAY+HFcc3hsXd1y
            hBVQF+DGC62GlqW3+Dx5fv56XecT+9Mxlee7O9tX3/++jkkXgGPC1DwDszjg
            cfToqxo67FzQt8y+kmH7DSWjVB+IcTTiNIYgIBAfXcQZc3pb775CHR0oNxmW
            usoKhPTRep35Ib4WDah+dvyKHDeGNFPPC/DE1ws/P6BWv3xyv+LPT4+/fmb7
            9ePxnJ8fnH34cTHq42PSpy6M9cfnTr9+ADjx56esXz8j/voBdP3y+avxYL6c
            7SGuQwNcPlh8/T/q/1X/1/l3u6mzU2dvtb7V+q5f7QI5AVAVa/GjD4BpwvrX
            qzxPqT0LAmLhjgFsDvU04vc9kZjvSZf+H/X/qv/r/Effupbt/2qR1aJcp10Q
            x4BdMAlVbr7++vl7wLfEco3qhDJzmecPXMj+8+9/1/k797Vz3zh/H/fN118/
            f7ovX/ff3Rfq6y+fP9zn/9V98Tp/YZ0/3Zeu53VfP395nL/YXn/5/J37OjDu
            X91HzPK7z96l/ne79I6CgJSXWLH/3bH/w3fs//1dentBQAYfef3vjv2fsWNH
            uG9R/XwlEOT48xPuXz+QzX75tPLr59edmZMgoGRxHgDDXz5/uSvCf7Ar/Ce0
            /xP4/QGL7fwBogu5Qftzz/n7Pu/L+cP5XMf5C69/OJ8+zt/nD+fj+3xM5487
            6X3+X6yl/++s5X+2fsukwSrB5v/7WuZ6/r7X8n3+ey1zOX/fa/lx/mst3+e/
            1/J9/q/W8iKHDqLl/EsU7hJ/qpv+Q/orYsSpcJIISA75miYrAsQ456GE5etb
            4qsm8fVPCTzH30qCf/vvP5MErpBMFmjUE/wjSaDvoVvP6XNW0jkbXrIwBlUg
            H0k6tiOsk46qzR2R5mXMKFvU75dTG5crRs0nufutzvlu41P0aat7HF7id21C
            ggCqfqaH+B7zVxuNDrNQP0YXb/INvCE+V4tjvaTed5tUan14L/VuQBttK5A+
            22R3LZ2f2JZht6kRz3y3KWPmwokdDW28yag+fvVTb/JfbNOf6z79VEDdu00b
            0e6d2Nw1j2rj/2rTI9okkwV62mvI9ve9x88JercfkKHHaXNV+31fX21mi9HG
            PzH+ZWMANH6O/6YQesaP+VQ//nuuFpGR9gjQVtrjGasNLbxW6Vlt6sjuAK6w
            PaZZWSbthzNzuqN2F97PcFedoO5474I1S93mKH7NtXNoI71myWQGx7PB/bON
            v2u7Tj/zsn7S1/u44Kfuujq6cMveJ3+3IePgTxtfrZ9Sv9qkBTx+2gDJ29rn
            r7ec7mNvOXAkK3EvNqoHL4Pe9tFrNyowDABccbHrbYCi3Vqjm5akpfdcU8/U
            X2/cNyTk6crHc1vnruFIMeBn2nP798z1OHcbzO5w9qzhwTi92wwgjk4WLNyY
            ueuskusfbeaaRft4Yu2vaf0AO3/sLHevWPPZWU+0NoDe+dFm+VkNermSe/eN
            LxhCmw94dxSOvGZ9YSaCwYfr/uMtwfOC0qpXrED2G5a/1tW7WAWSahPagfev
            Nn7FeWu2sP+ePTqg7I/Z8mFdvZw2YLPvve8/+8G6bF0Z3jKnMadJgzNurWX1
            /mNWPHBbb1ptjDFviEjVf+ASnwf15GyTtAJ7bF/PBY3a/aDNcrZDb//VBrjt
            /ax7rxJZkI82LcX9LLRpyaAPY/5s06kuF9Qv7SVB3/09D2NWQOxuU6uN+f4e
            88SiJ60LlrbtftZ3P/czsziE3ATpw/SEX23WrGmpTef23RBKA8O7zeOp1T+Q
            HqxN7OAMX23ClYlf2WYIyx368NFPAEgT6ZNw8ctgcsbwsV5BgK42wNOu32YZ
            ukkNx7FnfMxnCMP4xquhz+WtTZlfbSBJx6U2huP6xuufYyPnqzYdh3HZXHXq
            hN9tMmiIVz9TberG5J/9FLLMpx8gIO2X1SnpvdrUTJseIT1jj7j7N9xAaHne
            mbAEnrSi3W84j9BTvMUJ6frv+xmYuimYxPyEbusSZ/zAiGGmOaVWL5i2tfXN
            4Xt+7nuahSkTzW+ddaCO/N0GsHRHzQ/5iDk2B/XVz/PUPtQPlq1vmExfbcBa
            U3fOfgC39f7jz9WfFR2pjPXZe/zAsmAqJ/pk+yRMPDfP+9knuNdh+y7Szmjv
            WPJXG7x9DQeWwqbteaWPtYsApOpPmxbPfkkf8xDTfeVb89neuKJ8zWfMjnog
            9gNcAdG7b54rvDH6yOkDg8aCaRMHGtHr2jNXv3utIYKTaKYuwd4Q1LT11QYy
            TTSIGG8s1f1Xmw7Q66efJx/uIn3O+ijTaSVnhUDUbbYKBvemxxFybqHd6ko3
            jc7Wzz2tH7Nb3ODz3lZyoA6sNxibcdcPRj0krR1t4vwuKbnXRe6vkePncUx4
            QiChzeIwcopGGwOWhnbffX8oxC7giOqvksth5FcymlPnNqQ5W5W25aBWvKh5
            +2kjwU66/K8CkfqupeZ4fRuMr784/mFv/uWf+xd//+1/7vffB4P9uwOaJEbB
            +ZpciSDKOTvAMfiR4kPMHgvoS4fMir8OUXZMrNMDlpfIR4vbgnticLcPvudA
            hIujkFYPqY2QYw5l9bIEAbdBQ62BmxuXQ4s+AD0Bx4Lg3dhK+J44njh/jxxu
            D4m5JdAM7BFKgBOyawAxAI2gLvFKFHUn4C5D9FvRD9KOGiHZRnQMXINPBIHh
            dlweF29I/TkC8EHXY8zU3dUV8+2AK0IEyMcCBqPcoLM4xrTECnQLMQA4GN0E
            sMKlxjZcbKvFRu40FTAkYFymjx1iSMcgBsYymotjhjieFAcQ40z4ACAnttFc
            KU70fwOr3mDR7zbjPSsodoxgiSLujgvjXJ0KarqpYPjujg9G/OQVn4bvgW/0
            A1aVKnHgjZau8kB6hzA3e8I+BusSMKN4izSTA9PksCxu5uQwqQ73galMEJmT
            Lz75FpIfKfk7J/+U5F1JWNAUEj4Fn4YPsGW4U8I0JC4z1jphIlME/sYkgTPD
            5M2S8AKgNg4IYKExBuQMB9zERugvlZBSfYBA8EC0TwvHeJnkWsohYqaelHNP
            ueJ3w++B8zfw04LECsRUPHpBvxpdnmBR0WVbqQxcA1Eoq6ZCqzX6q3TwgQBT
            M77RENJaqr0kcHOp4l0r+sTapuZ6AjQnrDRmciWATALLl1rHOfTb5p3a8qk9
            uA6E1X1IHXOL1UkA/dTRN+AgdbTvmCfAder3kzrmql81DTfTQP9gpRJ6TQPj
            BulIowEcO66PAWZ8pYFnAGYgI9cE3J8m1ggQjhWMaeaC6eoJGD9NzMscOD9D
            AheTJt55QpKfWNcb834Dv9/YFTfuw+V0Yw0hqqa79XRj3m9I/zeed2OMoBvY
            nfKN+vt/baOWtb8hh8UvT4afeOl1Prk//gREraf9RLZufuOujz6CcaKCnee/
            j2T/99//jH8N3ItL+e1X8+9pRS/wPBADvekPn31EGA957aPblB77aJpvG44g
            SnxKAyXuFsW0Mvsoq/054k4or5aUGGLJ+ygYd7qPBMrljEH8S7n3kalhcA1y
            O2gYtwGVM+RGnyeC9ZMzHOQ3YCLXHShcou8Ong5xg79BI7p+x1gd/Qcxwugf
            WneB5d10dDaB6FvmU2ZEn6Bl6A8UFNQQ9I4KJfyu6mN/Sz18P1XXKac6ihP0
            3bmpGKd/m2GFKCsi6M5zhxv0Um5nIKWgoTzm3FX3VE+ud6qvGujzYyIJZqZU
            0m+gIxc6r5eqlYDc1WkQwHg9zpU6XCiRYn4lRabDEH9X/HbOfk877/gbshve
            zs2A96nlKU9/wM5gfPt9wVN8/tY1qRAC54SKo3F746H5hmC2wSME4iX8oL4F
            w5p8dc1l1jE9gcBvVP+APwDPAz6ZordzmCu/YpvXUzGh/N3RrjlBp50Hwue9
            Dfd4fqtttXP6jVX0036D0L1+V9437Lf8DgEvnnKc5gXP7XYNL+WKvcp1Vz/k
            9giaQh4bBF7feLhAs4OKmtr1kWYfkoVp1rBf5AgX7bq/7PueWQ6GsVs/gOPu
            tzGMx+DCpt/WD1oVsNrm3jlb5c6gDMCd1cj1Ux69TbOIOdF4ZjIN59zjm+OS
            pJPABOg5tx2Puu8P1i86NIkIm4LfOerxkDGs/xa8dC1gZfR+gC+NH1RUeo6E
            f2qX2s0HQ+RMgAhsxHxL48t7munFev/jT8p/hZpq7F9HuHgAX0+kItJJGVwD
            AMuXlAGLNPt6dM29QWSBRzpaFACp+A3GDHzsuZal3sZeBuyP3Gjmo6fH9OAa
            0MIHrj3VkqCs0dcFzumhLrDudcXW5XtT9w+5kR4hmLMFeRfwUGKe2F2YbDku
            A0wWQBxi1APWA+9QsHPDHRbVTJh+/ZeXcAlEgpus4AR+4PgcGaYEnEFtP0QM
            V8FlL3CWDlwg9i+ED8jni1YfbJCCFjEXXF/AM4t4wHl63nVORMe+uDr2twe0
            QG5exCOQA/o0HNAaznN/EQd5jGiPL9DxGP2G+ymuP3gM57piNlalhqIBz2IV
            MpFjIZ7FvZQLCCVoBsaQ7elCE/tw8v2TE2l3+zjtY0D7zeNiTueYw96W8OqV
            81MKJJFFI00u0ss60Aw8KRN36Lnp9cxIglATn3vp3h7A6uNCS4YvqWyE/CPc
            CFwYaFxb1fp9gJNACXKr7365KwLWx9NaSxrVCKCAkyZDEmQS0IFFhBUz56XQ
            E2JyzGOxzzD++BOvmQl0Ye2xEj7QxwROBRRm9XEJNw8ZhCHa8Hx6nnKDs3eA
            QwAZ4YVyudmGcP9ybhbsC8IP+pAVE3dgFXEe554G+rZ45oFcNAQ/T3xuXn/Q
            N5jgJ18Y63wa+8xTONnsoYRpGquwnoDdelMri5VqXCdM31zg2POi1dI7zEnB
            HgXKGA40A1gUO6gYnOAhkNFqNCM20AphHHuMCnOIKHT1z/QtdgQkHAN2B/WJ
            jrZXg73aIbIVKvWAHgQ3tAauQkqmd543JUpZUIELQiDSw7v6TL2k7Qv97hRv
            nxIK9hB2DPYi4d30kkFz7CqfLeKzZLP2cj+GTI99tojysC4NfWC5IBvY/vGy
            6RGF65tu4P3a72TvSlWPjQM4qf58Tw6C70mXmc938sX2t/TSN+2fbkSj2zQS
            ibZSCgfNrIJ/udxznzsai/oz7lnQ7+LkAzed35DpgZswt5e9yz2fKX4B7wde
            kYpv+sb/e+9VrV+g+YdzF2iCDqtMwD0QWSUt4l4ahB9HBODjDA81gNhYYMkm
            xGDQoGd6iGO3c9V3qib7wjdheeL7vh35omeif4hZhF1IXU8gO4qtApxYGtYX
            uw+4ewy2jZA0vazYnlic6tWBvQteCv3FG3sI81PQL/A/pWeiVf527bndpGsf
            xoM1gCjfr0WCd0/ASHeObn3oGfiY4wCvhokHRi023sKnOrs2JzptNt468Dvb
            bz2MahnwE85v/lOGSMyl7E62ewq4bmCKOjePRNRDcyLbkv8Afaw75EK8QwDG
            1nfc34euOjt+ZrZ2YD4ZM4I32ryFHYMiOFMHLkdagOvNf+gJ+3T7flDueTSH
            D/Et5nYcuhDMgwNtssWGhGa4nGMOwN0P9bbrRTfBUA0yPAMbvhuc+1ApRCRi
            Y5wvHXu7N/GWwHAD0HKV1qSrAuUg/EWqgUFez2+ARx3A9q0/dXtHkKPPcnRA
            0yUb1ghs12sjb/eMKjFZ4vx149mYjXBjAZr14bBmoOp1puxKA/QsvHcgM95r
            ADT5oWP7TXysa776dbdQTz+J9n8S2BVo0cQLknxiv18jZhBtApod127tOXY6
            IwE40xzgUykDYf/rN5iMPWfnmv+4BooP/H4DV2XyxYAeM9/TGrZxi7/sfjrp
            ADcPPtO9+mewE+a1cl4f6sPf62xeSdFg7Ab2Nn+W7emz+U23PX+46XQM3s4R
            p0zyxrkRJybCj5nxzBPHcR9hnR1oKL+3LYQeN85vT5kcd9QRwApyVCJ/1U22
            s/0Tsc+sPbEhFnPR+aYwZKhyLjEcZ+1O+wtwje3a/eZn4hPJB13Ca1M2U9Lp
            umEo0+vTJyp9K9Vtjtcb5ozfuQId8g+0/a4SaOjpuMcMhEU5qhIxAF7nQw61
            0ozD9pN2rDoar2HQnd+Y/8axJNyXgNk98TP9pByjsWSjc5zDtsBHEm6b5FNA
            74AcaeMYmQuOY9rEuCygQ+Ctcxq8GbgHfQ/CqCM+w9DaM7DnJhDyIpgJbwK2
            8fdwDwED073rzfcM0Fbsoga8RQ8o3Kh59JQFGAyoeUyyF0rxtd8xLzovV/G1
            XCfOp+Zlz6XDXPrL3qHuuXTrey47zrvb2hR6aaFvPieQozJaX9kuA3fwGwh6
            Rs5lFuLXvGLXaV5z/ZhX4BfrhxIhLUj0UWIc4eJ+Lk68H2gueV1v7/Z6JuiZ
            xhbYr70r9tR95jcA5bzmjvO6fSCOzFhApD/3Dprp/LPx/jPte06n62vaHrzl
            mQZea8tPlWxlNDpN1xQcg5AB+W3aDdljJeoXGiORItiOOxC/xa79mNC0gVdp
            DJrBKkK0wyahc/Xt8c63g6C22FfAzmJ/2NNL+xFvvPdaCGjEsJkUYgOtNtMU
            IJsKmezvnsDBgbckwsQwqHm9b7pwOvIy7KdzKm7qX6i995EyP3a23QPW364P
            Xe/D23gddx1A5warrXF0V6I5GT7Adc0N72rA2CEAYXyg+w/tNRAx7H7KueIL
            uwN/RUEOD56BfPTN2cf2IH89wJnQB2ffs3EY9TJ+UbEVetO8JJo8u80R+Rfg
            8X4Lx17sGlIc6AEjzB7yJYMRcrpe6bhG+YgCeRe/D5xZuRbyDaGzC2S5s0aG
            ZSFr0EmFsl6xOQCNw3ybDlnnrruTLwSGg3hCbyE6XAL46RcnTmDRM0HcTea6
            39pbZLSDfC7um/ZjujKMJl86+sziZOrtwBZA+nFt2RwQtniOiJh0ikaXILrf
            5E2YW9IzyCtN8W6g6fct+pQS9ue6hMMpiCULsmT7gdXgGlK1xr50nrw25yx1
            4ZCW9Ey1B/V6KGo928enZNtnbVZ9F2/H5drfzr7z2t/P/p77+7Zv2oXJL5s/
            Jn0Hn1u0Ev/5W3vyZuCC+J5FJQW1OtTrGf8Hgkwsi+cJDy8w6eCyPLjeO6Sp
            taP1nO/dinwpgFkND4+wIH/i+qAzA3jiQfkRFOemjc7zQ68A7FHME/sBdoOc
            PQZ4oknVDSiBdtCGw2sERjs/Gh1kdf7GmgMmA8S79jjZF0A2KM8Rn8UWkymC
            wLtx3hly6PdvukxVvZsdQ+wWXDOid1Ep4w2+6z4f93HbcJ/3PqB2gHDlRRMm
            ++TWF9/mr4cKJr4zhIcR5aJDpytOyKLCWP6QtGNivSZ/Q+rFtEeP+QUSWGQ3
            s/C2eckCe0AeyaBJlasCeYx9+x99+1/75fydft29tmx5URMAvpcKp3cfYF4J
            PHUwLJT8pf/tOANxIvuL4z2WmslJ/f3zheswTvLBgR4Vj5vYL1xPr/X0hfx0
            ZYgo3eZHxtiCHJcjieWBX/Je4IGWIlVvBizpOWH6R96WIBKP4CQ8TjjMAV4c
            4UW+NjVkLZF4z8o3Bo9ddZ5e0t5NQEWELNoa9SamW3VbJzpnWX5r+bGH1owf
            Oje8dnVliL/PDjSHTvRUJGFnUTaXOEvZFZyQN56BuIqravuJGBK4+7JrwPMC
            S9J9IEe6bokOnt/OMyBJ737eU7Al2Y3aFxMkPenQ6xzwDfmC7KiiGr52N3uI
            5NO4Nz1ehgHxnXSZMqLaUo/VRYupt/NlMgLK9rtcltlGurMyUhMOxDLQp97m
            mH2Ar9PzQOZImyqd8cDzkG+lcNNB+7AI+D7rwrE5t0QrgaqIoke138TneF6i
            6qTT1RDiMQQK0E/M2ZAO0VO+xpixBpl7t2CNE3fy7sOT1mSpjTBfeLZoM88/
            dv6MEfulcHyTumXsFXw5riN2uFkNHvFJ5BW7zZW9J8bbyHMBQXfqQzhHCQAL
            +dLLPFvsvOaGmkycL4MoTXoNT7pfUhy6Dsijz3/rop1e5wynAVTuQBp5+hct
            m8QfAGPqbMHH192HeAHySNi3dfdx9Kfyso/Yb3LoAJLnOOg9xPa0NVGHk3Ea
            39JN7b7Xglik9fcGK1xXk0em+mOMecfaAgyB8G8XXu+ewcQEwsmQ2eKx+It9
            beQBXow+mzeWkJYFPHPYGmHSMtBNIr6pDe+C86vdREFnPxjMTXHqwXV6ebjJ
            e+IgFVFIYaPuiXwmJihOyhqTnmSPk+gDQf9ustWAfJRua4/Xd8+1g18iedtI
            vo72b8EE4WDJp9/x+cIBgM3L7rmBYwBImfCjblwUzuK5MDc/xAgVyC6+iEdA
            Y+mcJT+kYs785LnQwSOdfDIeD2KAC54CaYl1LvB3f/w5F+XlrT8GRqIN68ip
            jvuh0++F+yOLNyaN4TodXIHxCFekbHReezSAH8VcJCAn0OoueuZ07IhLwSLd
            e/3NUZ4wQFfzRpgapBUWOnDTFuHmpJ84dYyAY9op/ObVCmQhyLdKzDAFH999
            TcwrvZOUlAPwCL5pAmo8YMWD+WlHVk7jeuEl0J3+wj0b5xieEQ2oJoOP+3Nc
            y2lcLx/stPVYhw4AFxEqLqoxvQXjXJ+2tkxnHPFn+7vb971tVjfoSIzOvFFl
            3QJDZxkOIJ+6KRyrOC8ct30cSUOKdEeMbJ0OOJSJBPhi+7eRrAK8F5m2QNkc
            aEedooVkIlevWrP8sh9i9xqWiJt3nAbX0XSp5kV//fFnj0CB8dvWdCm5zcN4
            ArYvgTJJNA/fnkDVQFC4rlhTLMHqctWlhNwYzcwAMZD3R7I35VXwyKOF8i23
            9UJaysQ6silVD7rIPoBIJMcwrFb23nNPM7pBOobvm/jYP9990u0f8HGdPqn3
            7fv3SxcPtEVb9V2N76syBmLv6ri8cKg3+eaydjQwnDYkF6voGYR1T/2IX8BZ
            ENnBYmCvlur8qO+9yrlspo7XmLgPz9xi1odwOUV/5aPxO6gN5NUZzahMnINx
            X8QoEF+rHB4K6TcWPVPWBd3IGj1hYhLGAtN9QJA2m530OEQ6z4Ux4tpahh/o
            br+oDkOfy1Efk7/6BgAB51rf/dietw6u5/29dXPRffqzYpHqH39idOn5mAvA
            9+B8KHMJxwVaAMw4ayuzGn/Q8m24j/i70N0B+BtsWDOZhMSpHLtPEt8sb8/V
            LZ1M8TlRsoIsUuiaOjTfzK3it+6mKF3KEG4ES5on+LCqNkl4pqzEnCpA5w9t
            KyAJeR59Cs+BlR30Tkm1ZTmb7HczvCZ5PmL8wKYliDnBp0vrgr1XQOOcREY3
            GTrlLBnRta/RkQ5tgVcKkQIlBI3D3Q8Vh9TL6Dgk2h/L7Pt5gqFyX+ed8nzm
            sR0SQ/IcuLVJn4kqz8+mCLS9753G70gv0G5hvyfZcGoxwMWU7XkUPhT/OHXs
            7JjyNJ+HTYD5Ac+oewtwa5RGPq+bUUPkyvPdGYU6GgbfiM9Js4TLwN1qL4OF
            PX1Tn63+531/Pa/a89jf3PpHzAckwr3GjJ7EM9iG77SAneJtPPB5B/RJA0BL
            uIdyD9s+80mAtuY3H1Zm0Zw+60k3/r/6KqcPzhf7ccBd5PshB3Tx+p78PqWd
            /R5C7QB7LHf31HKVIZwEnNFpd/PgBz2EXQd+CWJc3fdQ/gXl0T02Fkou9g5k
            5/iNi4zVeCBlk3hVEEXvo9kb2Z7KT8VI5Nu9xx2BpeLdOF2bj5Rd3JueuxWT
            X6gHDpJdbK9wDhqkNkywyTjTvA5p0xS+pfy451A4D/SK9gDqIAyvRrfQB8Ro
            k1W9rcPq7/HewKEbB4MrEpxazN1rjxXKN0neKGHjderS7ttR4VylCwftzXvd
            Jp1v6SOD37Sr3WZPTGBpqLWh/oLzAzmIePwGpwg8WMe5l5G4glHAUGTUtQNd
            Tdh/jf4QIIXNrWqwVM89SfO87Wn59V0vpbF7cqOqNNn5wwvemOMSjadjm5sh
            34SRsefUPwn0hzHAto7F1kfzxjR1e9/TZmbvt/vu16F7FitDvJ/W9zW3r4Ef
            XFcWz4TvRPOcYKy+dN3ULK0oeRCob8uU9BvTdcBR3tfxnTW/+zkaM+MYNg5+
            9XnbHqFuS9+AgUmdEBGde8off4JhrrLj8Jzhh2CwrOd6zdF15giy/7+co/A8
            49OvIhM7iHbbO8pbCXNyxk7alwCLFZAf+gcP7gy/nH6YveWuY22dAf1WGvka
            0gQaHgFHaybJJjeVkvyNySJ1RddPGtIHgOZi/amqFg8GrjnQx4R9UZdHWzPg
            JNMnDt+rZh3jmt/H+qYM+Nku73Z/1R7HQXxx8o0+Ai8cSlvQZfw3j+8kvbHJ
            9kHs65z7HO8fymHS2vygLdILdjpe5LnpZNN+w7z4qgClTklIvnb4nfdvJzhh
            yg60wzLRTkLfAs5Vr5CjkvFR9CeCrJkz7Sdb5iHOd7SbZqPLde+zA3vUy92b
            f1nblugxTeT/6e1oqQCc+9QT3fHb5njTEdDO2/e077H7g4w82R9wBLVirlOr
            QLoPdEfOfY06+X0tcAFkt1pn5jO3ZgjYXWgPvjg5LAfY7KzwPWIztKcVjjyD
            6YdN8bUj9Z24/QrBy/3NvnrtJY92vRp+cwH0reYc3JsWVsDka7+i39Ss3xRN
            Vk3kZ/c6rBuccS7y9ml9BmVEAx/hM/DZePpLt0H31b7EIQHz3pEskvnLENbA
            jd/yO+Ma3usxHALRJJB+J/lJfr/DfL/DSs/Ndzj0XLR/GE6442Isp5tpNR+I
            feiHmzufJbr68R6jmG8Lx45Z742+raJQRufCR/835i199M+kSRWTnVtm7gFI
            gpWRj3oW9V0Ys3Q0EO5AlelzIFvIePGnEgu37mwfn/Pgb5zaMu8DI+uGzRsl
            VPKYh8aP64NnUnyc8UfCuXhqJj2CbED6dVXz5/t8lu8bP/fbxiRMEJmC9KZt
            gf5acdsM+HyCbeeGWcClVRAwxvrmL9OItSpFYJbsVDCO1H+1P9zmawteZzT9
            3ravTNq83yFTFr0oVuF33Phq6yfL1glM2iM37c7Ur96YHkU2SNdAnz0LXYtN
            /b5su5z4SL5DsoX0y7INRSM4V2re5uj37WRXYj5E9JkJJ1jn+pCgF2YoolM6
            prA3ngeYrK/z3s6DFnD2MNvoi4PmN1fa+rZjWUjA39XGFDQhGm8XKVMUzjkR
            T27y4aBe7PUeTFRKHWHu6BOYFHRrgFmVrc1sHvYuVX3Q3Fs5Jmc27cowMJ13
            TB97yebO68zIyLYUDMFfpjZpuwN7j+3h7sO3Xi++leMmYPzVuGV3+Bi3RAiG
            Y3/1o01Cv8ZAffCcYGu3/ohGj7F1Pjf1aMBM2KL0npLM5i75/k7FFTBvxRNN
            XrgVzjXpG5UGs2tmz9+uSC6Uz9RKRD/ZWRv99m7rVQ5deeuRvvVM4KOVv8Ux
            JvwW3fBGPwK9oDHZv8aFEry0wA68h6P1/ankO6ilpH+Eu3f8N+5N3Snxrfvm
            md0nv+weYB5ILZAb6uZXOJGjVqpjP3xg5s0oxMa9Qh9Audd46diMDpgKy3TQ
            z45CIp9CKuxkwyauckcO5VrwPLbM+JJP6duUQCTA8TmMv/Y9/kFe5mONuq0R
            fVvbAm+O+c+P5UDl/A/wadgeQcoAR8xL/Ovkh3N0YkefF7bvdZi2Dkffd8cU
            FUWyzB9NAMosb5x32gufMSv9h/JAl9ZGqtvdZvndhvaTa1TuBidHKssCwzYA
            AMh/YxKsmLqA/QH/PPSUTKDEtEW5OWS3hsyEIUN4BM72VCUE5gwazYVceyBv
            SyU1/bKLLJm015bMUAfiwsAcK0Aq1MzTBucYKgo21u6b1PnY+vurObIw0mmb
            npLuFPIJ4+9G/XabZDAMr3FseNGJcUJmoE8hAz/f457Bxu22fey/Oa5027gy
            o5TogGY4ppmP//YZ3LEVT/TK5fsMW0vll3o+1glrmairywOcGtosSuymXzjt
            qF5/tQMcB/MRE8t+1tyXhzaESXrH9Ihs29v2QcM4/XJS3hLu5T8DuuwGCQw1
            C0DMHWvOFC6VJA6MLjhunseuXfTN/ZxLxgOoXc1D6ZnE2o7be9pb6db8XqdK
            vcMji7z/q/7c9e7vtS673yMLXCdBNVl2RqpACMctrzXxG1aG5sYxgwMd/b7W
            xDwcDG+emJeIdQHBZlbItx6A+Ix4rcvnXTyN70O2Va1/YbI0YqLsJdd84L6n
            i8+EBH9fp30cuz14NMHu/TTvzOZ49M+ypWT54PWXzPeYDzdDBKjPTXnQKHoz
            zj1tXZT8H275vUGixgboWDvFjD00Y9Ofo4xHuS68S/t8t/MlkPc2XfM0HUW6
            qtn3JsgR/ZNpN2L/xT1r8rjJd0R8O3EXdSyPvyvnwVOiri7V+YFf21/gV+A6
            4ldqiQ5+vT79f69v/98TG0QlhK5Xu55mSsSnph92ibiNa52lh8Rx3nziY3Z3
            RvvK/4hxaIt+WeKFQYMi0B94xvy2qdOYkp/tS+dNRskUY8PbDq8YhSTfenCf
            T2J0A4i86XW8+VCNgL3pwdPQ/+vItuba00EDr0+/ftpBCE+ysZGvDxDcCFy+
            tU0bvfxC2N+2nUt3PMzG+eJziMdcu/Y4Bvm/s1fAF7Z87GeAzaOP5TvKtsL0
            I1uekqo/2ruS5uB5GMijxP3NcmfL1kIei5k3IYZ6lxn3UUARQW0x6dsXx+KT
            1nvs2tN4R77fHVZp227y6hcQtvW/dSTrg3y3/Pum+S8k801/mPCPHBmTQcrv
            N68OajdcpoFDdpAsXxXO3Wlzma5G8SSFsp+9Z1zyg9zv3/Uc7GH6wtEJX/BP
            fhGUidEdoW1f22MPPL63IB7UH7UX/Djp0d3PfhPTxir2j7i7iZ8xj0fsp+iK
            4qXpJ0A7zfZVeOm0HV0yzY5n/pzGjxw9wrE7Hv7w+F2GdWL1zH/s6CcYtU0p
            vym34JMZsZYXaAn4be5vGhGT9iN4MnXIuEnGp0W3cfdl/sZY0/2NzZIfTJb4
            pMZ4Jafci68+8j/rw7+SshkX2/yvtiHITukRfqKMPWpxv/K9wA8yQXz65RQa
            CLIRV64bNQ3aj4xPpS8umNt2UR6Xfk16jwqoA2AP80FnAiP5fDX7be9pyXO2
            HmL7KV7ennP64t6DEOsg1LWMVSWuoPfgtu22vc6Acwov9lzJhxZcrAQ9M9Kf
            7lK4FuXoUJWGRnB36xokA/DgdT93iDAxPce6XteTXR87DmHLwZoPcRRRo26f
            8xOXzQ9jUdg+Qp6W7g5vz5Q851lgc/a4lE2y0Sb/77xLsrE99Dmv8iIB7aQ6
            29o08vhAA/VzXRRUylQnxcb2+GeC+W34DIiZyoHlalUgB+f+UUkEtL/ur7WP
            oI3YVSwaA4lmjJ9r/3fjfs2xf89np+2jyO9quq1PPs8CeX+tA3VI+Cf/0yyd
            dJYPyuu6ydHiLHpb5XM9e1pFtu9r+wW22/2Tce95fTjuM9f83raWIl99yCht
            260lpx179rZzu20fJ0902smujT0wA3UNLn7BIPiFILnmeVZdxTIXmp4UO7iZ
            vGvy7JG3sD8s/ofmAcZmNsdcoxckS+VxHLyd56v5mZdkfATjoSfxRMbQzLp6
            hX3PAu9Awalfb5mYQQLK8erGfWRjTE9xJ68d5H+30Bd5n+2PEBWLXul81uRw
            C+YKzDAQb3JthXZwwWc8xyN/XNe6dGTAhJ0RlqC7YXRmcAZ1baSAkOcSfRoZ
            k8oCQQlyG8gNMyAnyCz0l/IxDOkQ3G2Je7KEZLrBMfmLdNdBPg/KVvCb6z4O
            4n6goonngahbPHchBk7mO0wmg3iWchetsa84lSoJ4vVenTLczh7y0ttRf079
            qGJhqYUXz1oUc+Yy3ewBE+DTMBYQ4wJU8YB23Mwx/9CQb74aQW39d9seIQ1c
            VNSA/1Ccj+kDaPsLgbkWaNXcYyFBbuaL7FZV3EEGrzzrIzQFEaU6i6lk8hTw
            zP3q5Un0BnHMAY5mTNV4dOKE+Vhlr2o2L57SD+3K/lacvoRAKkXoj5ho2+oZ
            9IM6Z/AVLcgu4tKzOjYebVIpMc7JYS0S9akx4z3D8S+WvzH5iUB+EaJ8sxho
            zgP2eR5MOTPfeheOC4uXqIun3bJl00eDd+jMj8TrjbEUQKihW84knlNbxqzR
            b5D9BuAlxTS+2/C+oDRpTH9I5/Y8Tiwa9fw9yf85dbwnNdRak8qQW2BjbK7r
            h9/AlJ+/1kGxn4Hx0elRpjXZqxirEh/Z5t/z7V42YY7nBnPshdyB5wBxvKcx
            bgbyL+A6+Pni+aPCT0DL8CBmk4B8gv6mvBUhcCp4U3Yi2eYZ35z2ebAFgXB8
            L8YEY/znXmmM86OsJLdiDLrZGXXv6zxzMdaP9SEGc+RxbR7DBAa49lgYYzz3
            WMhz993f/XGeYzk+rc+t/Swb9WK+QfDKHb2495pNyI9ax33uzJ/uaePh/Vxv
            MCPL91/bsY+x82X2jbPjjrPDlmMmyIsZsAxXkz+DyBLNbyxgZ2ZPfx6nSL7X
            +lMepYvCuBXQ5xtjVAVpnf6YsQPj0pcwMFo8Tvr1ykcJ0Pk4GvchfzPnSTHd
            MfDE4nHEu2ImO+VbKuu7l58/li23FNLsWXpqZjEfF+PUi2wTltEpMJcCZZbH
            rFT0QQjLbCI7Po8B87T7HHzTwDcX2a1PjN7DALUEQZj6CUiJ2KpNvrx0XQKn
            fyeLc3TS/EMQd37me8dN5EVk5Iy/WiomxFD2O92y+To7TzUG2KWimA3GSmSZ
            Iu8BcQx48maOQeCVKk0/nuetTpLzQ75biumr9ANSzERin9JJfx4DdR9dhdq3
            MaRjBO69t67pvixvwdbtYzr3sZf9B4LUW5amH9Csiu6oVXOs+BynCLKwXn4C
            qvpnXhcl52fs+aS1fU36MVK6pdXovH+SjO1feuL9fsCzg5iCuvtAuYh0bBjt
            lo8cKOvo+xirgjkGN6CsMlgv2ZkwdJwrZrM6dia819Uf+uuYnc1tn365+9KU
            xZlhdprtvyK6z3nDax0Y0XxFJifBNyQa9MccYlM+kY4mTvp40EomWXxu2QCw
            wPQd9M12CjR3tHVCNqctTgnxFj0b7i4mj3pdKuu8kpO66+Z7P6LAysORH9CO
            GHBe/B11JE+4b+WIKLR3uFvS+Nmv5t/JjD3UQ7lUxcv1RhejvTdZy4Xf2LVJ
            xxh8EZ/EzEzyx02Vfl01LJcfsankkUmHDg4DH/0ozgiY+2HaM6aY/bzOvBdU
            kN6r0GaRVePuxBVGJaVmLhXm5lFuCwhc5JkwNpCRQZv5AIw3s1QBPkako3x5
            jYlugoZzHXOzqKBGKYycKwm0dp8DEyVvzSYVMf2KmK3ZHzxBjbb5NpPvX/Vm
            GLX5VlJ053Oc5X4hWEXzadV4Git54J3yBy8FiCdTTfu0dCuLMlIritPaMR9e
            sS1esSPtAh2meYeJOTjFsReme6QP/3LefCFxTsl4LuWXidcZK/j3QL0hZaZM
            z0rbf8T/9LCtRw+SaS2m7Iw+mCwp43N8Xqe2O3iQykyw248Jv6MiRJRPhLhf
            MSmXeeAwFrjfbzlC5RpCuVPHO9PHCc9rjL803ZLFCeCcq50RgMqDACAuj+Wv
            sriKRc994jwXIZFU+cWBsgTlbsE15blpjG2WD1KTrgs0eU2q5iJ9lar4E+5p
            7A8HHCcak8zP8fyW/3w2f0x/WVoWxgBUZyWbJi1IxjnmQ1N5LzYyZphLLWn1
            SW/6WJgDSrogC2gmjX886CDgQLkEIJBd9k31I2RXwxHML+QaR2frBgZNPrj0
            gS5yik3Un4Fm4juwVhHzVExKPBafMPcx10LMHPkJp9Kkbu5zxvP1t9+IdGsQ
            sZmHpD2NGI/C1pKyydaY78u4yM6pKtKAKxaVwgRZdMIG76Ockc85rBl9L2Un
            US6eIv2E77eyTEkbhveYrPCn+PNHnDyTLp9j5Xln7OYyG92zfW7y5l/6Pq7H
            ByfY99GprX2e68faqXmGTihJ+xuII37myTp5tpi9/dn8A8fYms058+ecOfev
            OW+QVgPzYNL3RdeYecXmmXnywYXST2TPf/yxHsdPKRD9cU8FsDJl+zPSzoHd
            dGR7rlEPox45PjB38GJs16ZNtM130UjOAWljd5RvP+iwX1gVp2ouMqVIHyNn
            5CGeslfLCZWoW7wfC7vHnmckO9uyxCLbxW64vGz7a8JMT3vjpHUdoDbBcPrl
            hdPI7YiuskSlpz8Jjwet+Np3wPF0bth7BxcZ40KcwNCtRNZqspgGcDf9VZVz
            yWzZDF0ABeS8sobt630pBFKuqyrFohgKN/cx+QuXQYOIypZcEVo23k5jZM7Z
            47PCZMqU10NJjLzo9Drl8Q1JjPEX/F2K5bKR7YRZ+W5wwfu4NcYd0SZlti6M
            /fmEz7ht0nP7lh24PvB44HNedj4wYERROJY/bOx+wqIewits/EX7Kb/QdiYP
            JIj7NENdwB+WF0I8JSeA8VokvXSTzFQkuB1HxLZutyV+zkulkNXmerfx1eKd
            fDt+v1imSX95r+I8Np6kugei7WCEW5Cdh7FG5eCjbX9pnX4xpLFbh8EkJ/T1
            IB73lUmFmB1cOdmkp2Sa28t0HMruQFrAGFTQGc84XsUlYZz9eiiFKr7IxtmM
            Z8l+Lm9+I9jFpShPrrfsRye3TBnXiZmUDKw442p65Gwh5pX8Gfgt5kqZ249u
            MmIgdHB6QbKyxpGemzSAyjXJzFVJ6yqr4bz0f8P01MqJRFeiqdj3yvtrYuyo
            +PAAGKYkTRmsMt77mfQv+8itUi0GWrlLbJ67jiHR6nt006tGi41WcV5+U+UC
            GqJzVFVfyoezdI2W451746xZ/IgZpf1a98Xr5MXax83uYxUjHctv632frWGT
            TmrbuDi3NSkmadDelu0diDij2HpXnx0T4qvxcfJmYfIRjTWb39DcsXa0J77g
            rWMt8tOIS+7jA1MZgtMNAoJLu7AUZ/FRzSLgw6HIwuFsbqSrJc2kHlyG7M7f
            TskXtV5Ah2ucttvHbs4tE9Eg4T7jqN/xzbYe12seLt+Z4q5xPrDiNOaOMy53
            27i84Ls3OQowsUyyvAmMl6SExfOCXUbvb90DqExjzPr39W7XMw3VQzqNc/1y
            TTw9G6jO0n7P3Jn1YjQbd7Y5ufZ7nDWnvhhCu6eOeSpwTNfIYbYNW+B8AuNc
            aHwiPVbb+vu2jLdRW2a/qMyLJX4fKNz6P3NIytNf90Nc2f2rZMDu/7PtovwJ
            ROQ+xu93/A2fdfYB921awjlf+/aibX2v1cWcO4w1YJrX1R/t9dM+W3vsMNk2
            p1iBVUKifwhkw0PfzQCQDw4vtOlw7kklJCl6d/Bc8fuaU9yl4k7PtTxkCxJ/
            q9xg5COij0XVFsxWbcXSIZc1xlea9kPykeLHqsUnh6pyL6pDPUyPChaP5Zx6
            w1sCoUimUpzLpRxlLB4n2juddlfs841fT9yc9nujuyFkMeDSNhhjRNQMkZXj
            T5bbqahgn/KIEC9U6oZfc2o2vsQ1EB+be+U6KE/eORfsXH90zp3Y1Ua/AO6f
            bPunE+GwdB/RoWdKPKpB7JryIG3+/ZZDhU/Ke7RhnenPotk2Z984eMerUkWP
            58uO/pIBgspEeLziaHmPm8/xl+UZdIN6llal56wvPNa95ThhmlDGH0vfrb3S
            Kf98y5l94/bP/qkvPv2udjMn6xxYv8W0k2fcxKcHr3dVcDKOz3xhmV8l0A8T
            c7nmAi3dOTXAgi7l1QgYSEF/XbnRAHX+9qkb268UBvRbbcr9K70Ss0vK4u3F
            W8n6rVpjJhv7Zrpjbdhg+4wVV0j3mVsMUkymLYnZbe748jcRnLFY1gvWaOt4
            NowxDVBti3B2O4vTpA8y14r0WkV/9vOBN/jsN4wlgyfvPmCs2jk3v2EMr2w4
            kizmT9hKe83TC7aG0c5hdPkezIWbkwyZ4q0pUCr9qVdif+Dnu5ldoCpvV6Be
            GAxn09zQqcpDOn+UW27RX89yAznRMYgfOxW2uXYdOYlUzRTFhlPC1rkwtwT5
            spcuqt7BZ6PtY/MA+s4cIu0/3/BIv43DKxy4m/fNFP2N7zGd5dHkGnyu/55/
            FpQj3qTv4cP5pVvJHRfEPPo0+DynlixxfS1nDHVXYEogwDtFOdw07y/p3TK1
            1YYnFzipsXPLXLvG0wI8gQPNzyePnaRHatSHkzWmHla4Ae/HyJ64pAOw/GO0
            E0Xxo4sOKaTLzKfNvGUe+AvYXu3QAzPK1HDtGCz5U+JptFVzr9/m/xboKlGV
            C9gxZ9nmQRv3T2IcApFzp20+FurbVriBoajszUm5LBljlJkr822H8pf8f+fx
            u1myr3rFkU8pVSwvIvUCPu68qPs3/atp1lTOWOXs3df4uyr/6qIwIhmtZqdS
            jZazWLykfK296bg1L+TNPnT2lifQ5PtmaauxljSuvX18X7H9mbV1fJlb5x0s
            19VzYq+Vi/fZx8OOmdPsxNXihem/2rjEk9q547c8uY5D1qwzBt+Uo1Ix4DId
            lWcwD25y+/wrBRX5PNDcQP2nL8+nnwvh6CENJC4iTvIMKLtk28Tb0pcik0Ao
            P/vNbCiN/oO0rS7zx2Zu5Ye+htrvdFW5FU9SSCjoRwDZWkXaaK1Rjqgi/oMc
            uHvl+qW896NfMvk9WXzly9eAvHM1uzv1ERH8UgFkp/iW9xS7QMVRYbyNbSTg
            3AScIfmvtaMf9uYPvvb70c2zUSlvY2KS4Wgx4teizhXjS4pZItsu+WhBcM2d
            oeZ4/7TfT67pvF6epffv8iz69Kdk0UB+O9eC5ka4ZABOb3rLUrNwf9ip06N1
            uM974zXp0Ybb5vaDlr8S/V6G+bWYDYJkHijNsSKlby7fymW68Xt4+SUwbcPO
            W6oYOCorWHGbERHkRaaqwBL6w1eb/m5TZI3TO9eXvz2EO/orMAI8+T/+JMNk
            2ljxeHRMzrxHOYuj/S6LsYhFMtQ1wc3TVsDfTCMAjk84G9zc2m3k0EZaHbpN
            POfXKYEav0PKAK1VPPOo0GcB+FrwOHDsnkzmpzJKsnkqG0sQL4rfpC/YSpU6
            ml/mMuA9Gqufxqb8b5jHzDwl3FqEb1bSBa/6mtOw4aLuiJdHOTAfwQPn9PP6
            vv+0o5x05kh0fEiHTJ/+V/43poL6zMEfLuGgRhrENCuKCaafYwZjBnqcJ8NY
            FqvGKm540jYAudbwI91mRJfBzg1vdhqyz8D3/p6Z78+2zHWCCWKmvtgZyyll
            WsrP1iOaBl9JYRX3XsuwxKivvFMvWuwtp1sLyn9t+YOZ4LExc1jlb3ruPFIN
            MGSWa8TgUuY1OPYF+tPRFtGC5bTi+NhXlmcXrdRv/AA+hpbKcfh5xuOpKjL5
            rudWvB6pep7gSZviwMAX3477Kz6PVTGejBFjrvtHMRQXveuSYs286PCz+Si6
            sKr/dq1Wuu8FDNGjsgP6Zng+v8O0b/Bb+k5dOgumMWLuxqpyfsqZ19OtOOqW
            MFXUT/l1a3+r+pFj6babRZra0ZFoPbHx9E131qlc4xjCfZ1cXxlcCfNaMs/v
            WAJ2WjXk5ENY5pwz/z/wEohQbrKtUzFbLS5PeZfC3enfFNKtgrYh3IPvrpQE
            G49Z7BmdVYGHi3DaiqyzOZitecjm5Rnz40wHfFlOu3d79yzl9GcEOe9bymtN
            2HRWDXNZKSPiO9rk3ATPn1hDwa43098pJSLn8egXiskyiV7unbkv5acleUBj
            uN5joD5qzeIPLk4cB9Meu11rEs8mJ4+nF8yX8l1xjI9XxeT3e4V3n6JBQbn8
            Pf3dHOVj7+nIYv7z/W075x4QDnGmDydPIL+sd+0k1hqMErWbakw/J3eQtyUF
            /5Ls+LZj6h2IfwTL5Ocu9HfizAp42sp807bHtb+ZE5exhFH8sE9k/JJyajiX
            WFzWYttTqNiTVXiVsII5oGEV441mL2GedW9FRdk36wGofgupN/c6fYCVbVUx
            YdiuZltgdRvidGYM5MTQ9iccD0oShq+AvQbcNjQ/Oy9CYn5JcFIlxal5UKib
            nVPi3QBqP+WG9oCv5DwS1MDj54KeaIVq9NlrFB8n7QQPU/yDKmXWVlcC+so4
            PlbTHW87A91JdOwBsz0OyhaehRK98KzsBGSZ5z6m/SCxxovbQW/7OOyc6gCe
            SeU841zPvMj9rX/YDxaOMaSkeJtsdX0Mv6ueetw+CMqFj/38GoOjC962h1zK
            M+ZOPqmpueLx+3qVKLLrCJwcM878GFghxZG18AbDzJEr3RCjsqJ4BtloL4v6
            vSva9+XniqZ7asSj93Pvccs/NG07mGq172PxH6wFAeRHv5cDE+Cn0YfJEMyY
            67eNr1pOJJ5rt8kb4Zyf+zj4yPzmltOJedKifAlwzeKIaH9UjoJottBqtdF1
            bPmpbT78nmO9y8D77rGce6gPa8v0YrfFu/v4MRYecxzU/5G7UWgSy7U9x09t
            uGY6UeVl1u/8zDNX8cdcyXbGOCcGpuw8b175QDy/Z03Zb5+m1/i4/nQNOXMm
            GZ8O1s+uzQCM7ILB2aR5Dng1p8yYc9aOBJuqveHnPr4t55/BPeF7H3N/APi6
            7Q/lp5Icyr5p/+1MjSk7zOZ7Lsv/n6p901CY5Ttkx+X4nClNlcUJqAzRzbQM
            D6Medv0AZ8iwmmBF/Y8sItn8g099gWP7WrIHy28haG6X5XHwlP3xEmHbJKW/
            LPLrVS7ta9dt2XnCXKRM54xIn5ineTvVY+rTZDjpETyriAMIuUcsdsHvPQWk
            JzvoSvuZimmy/F6NPkOsfhi9/G3qAGerepUh1xY2PiBM4Vj+3qQggX5vmS/M
            uE/6qrfa6Uooms/EmVQVao3IdKBv0PwcqJwUjrGaPO0DF7ifuIHjZkW2G5xL
            3zHSrMsFvDflrdofr7RgzP7o8oiACfkGPjSiZsNfQXg0MDEf/aCyc/7sN+Bo
            DDDTXMDF7MoDufMnkg5xRnjtln4AnQzrC1DhZqecYfVCft6vhMof9zMv3MRQ
            MT/HxuX3nAbKGZhv4U4KTXG3mdzqnVXNVNPoVb+JseyUWT+O5d8wnYWeoT1r
            7QbrPwoX3yq5y3UArz4sL+q1a5zgyZ35oaj4B3FSe6FO5jt9mAcFIh3nc7fh
            PVF8s62RnsOavs7iOa9CuPNP3fXP6IGQu1eiMMpBlfI28ABjBFyxZ0+WU+J5
            j3eTH15WzBLaDrRjlRHB09y/p4JgGLeINbdv9kdXb8wl3tG95lk151RDZNux
            WXFGOVXmCwfI/wKy61LM08YF88TI7/vGPh7zfF87M53xQ7dSdT8Q93YubBYd
            WvvatGuu0M5mtUN6+DX+COLZHXccZCH3immCzA72WxbDaiETdzp4oIx33OGz
            lMv3KqTt+cmqacA4w4gdwEoCUTY8ZmhhXuXG9KDy1bvo0zRcl94GTExQPAV9
            c/rhGR3oQFmNhs+379iKrChrMZ2P2Q3BS3HHVfAuizF14G+enVffanvteEXG
            RTE/Th3Pnavhulgtt5fyNYCfVs6voclR3QvR0v7kwPARPTOZHr6QnFtOFkrT
            4hsYTumf+6sP8GGv/jFO8SLUrhudlE6Uhg7lF/Lm9xJN1nv5DERPvN2W23yK
            +aDK+8f0HJfl/QGhpXg8yf8c+rj5qs12g7Ym1hRrS7XtbnqsiF+fwZuNT/6d
            j2euIsqpgFUfEnM+0lfT+aDzQHSnPXmOySxs3vQeAM/Oc4Rq5pOlLM4+YyZN
            b0uVlIxHl7+Xos3oFz6ls5/y98nygaD6vwD3se68RGva8+QvXMuS/3ANy47z
            apB68ZkWKXEbHjy6d+bZdOZ3nm18is80SumFS0ovTnl15zvvtNxz+msuJNOM
            RKcDAkG8+L2U8cBslcTz+vYPBZDXfRo/c+4y7s6xcoH4MPoZOasauu1zjJea
            plfabXWvszwuVb7PrHqpD96CQinoa6YL//qICbd8Uu74KsvfBfDRuuWBEsw5
            1iZjLbG3fuVqkQUDaIBLtFlJByndhfbMqFv3/Zk7tgn4GfO0czDFHWYbLVxy
            bDvJKw9rMXmOL5Sllz48EGDKfeSQvX6T+4PZ4O357tTWafQbYU0WzAZw4KI/
            WPZWiT4zDy0unHj5wJgA1qIaUf6OZIsUIx+eBlhllAGtfMQkmDvKeARFwHwy
            mCfNOLBj+6tc9eT4UG1O1Qdcx+e+ftiTDc8GVXEV77X5Y+En/5IZD71kRh8m
            0EmKKY0ma9Xtq8Vj1b+6FQtTj7x0ePnDqwkUzTPH8nhtPvPwpYdvZC2xp7NC
            h80ThsK9rkpmGp/xR/LSl/zMZ1TjE/N9WxIF8sPMP0g/EsvreZ05YJ69k3vR
            72v+NT82j3KUpL9q/Zs++r/oI61XnTnKvphHx1ht5bP7qz7LzoX7o8+zvk6m
            q6I8aVf7m34g03v3L/pZlpfkpgwhH0PwLu74EPLoCeJoaE7y9p0glfJ7ghNn
            PIL4S8shkp5ORPNYNtSq+kRJiKWsy/y5HulCmmd8ordaCmgj7+jrXQ/tBr/A
            opR5mY5jgvOf9LAIUZY/wvdkQIE3OCAPNgKfn7jpmLdW2edlkyMfTAdj5jzY
            fFrp2Nn3Ys2LRCcvChGXuQf/9l53ve/FO8p/jroFuz+rdoC928f9/n3/+95g
            uYilbhp3Jz+BKb/f/hV0ynjFULDWTg/vmPXpo+X/nsz3HBfpVaMrEVPYJODn
            5Az389v8VSJ1orf5jEdH8eczxpe7sYgPCdSTz2V+cee31uO2usejWt75018m
            /8+83/v4tKVjT9h6d7r1KFcUXuTO9FEw/oGxmAkUP5kQmrWeDVMzIIOVm7GL
            A1JvYB6dxDrFyphPZnO4h7WL6UOuupNYPYy8Sb4AL8M0qzjf8N3xLX0XWGh9
            A5+oZkGnt/uGFeZZPzDAeBESLeY8D4TV0XxgX+Wh3dMHprtRHuRXvbGunIrB
            j5/2QUhlp/5pZWh78KYLD5Z7XnEBNJEzF6TZWbkg7aIkbDlBA32Yn7l5tnir
            UjVrgZIMH1se1yK0YjkmbtwK0MhUh7nOehH0E6aPjGLVuCbHT4aGl1ZHoG9W
            OLHzyuu6c85Wi32n3xrbeP/K50m+XvzAkdUT6RTk55c/Ev2AIZECWPU7ri/4
            7a/7k+VkoO3ehDbLOX3FjS/lT+IVU6Df1GEn5ZqgU6Z8W8hPn9/ynwI/pmOW
            c9zn+c74YxSpO+8r/VeSDzWWtlyM/yZWrZfgvnXBupwIX3F/YVlNVFay8J7u
            f1wPZjFizTQmz5NNmHubqfNVfyMoL/5DHS2jQaVzD4/XnuG104bJziidnfOE
            CcIL65XLxjLvwzM3xaUPkx8AJazrrVwzIAmqzVQhv7GW4uk705JTH0ddD/ek
            3AiVe7PV8zxGoO3nDcofXH+WvlCcCWSC0xdjPOlwQX72WswRb3MGWGujEA/s
            /I/D6hRE6t0AkqyY9zWe/B7PHPSD/R5P2OMBPrHx5H9rPIXZumgPJ+FgWZbU
            TTd0YifzZcfg8ZbJwLvGdrU6aydO/vCGcxqK6pfFZB59lmzgGFtVTS7WhQ5U
            V9BALOVTo5lPuVOt5qpoNa2xO6fDgeXZ6ee8ZAN+dh4A+jQQR1P3php8wHu8
            Tq0B57SDv1H7+KN9+9E+7vbUm2Vs42J4X0wq8AnwWf7cV117BPPHMXfVKuxW
            V1nvtG7qdKa9E+GFue2wjqCiC2ulXZC8/8CDgDHhvska2W4SNpUwqLzxn3Id
            0o5LbCsctmsFOsNlVmvKcBnt3AeX+Y3LynykTmUZCvkD0ycjbVh7frv3nGDs
            ca82hMe9/17XapWM8YJRr9pTlMuxR8t6w6ryd7Jmce7CHcrto1xBXT543vAI
            cwLS36Yq7lf7I/R9jjPGzJpU09I/j8XSJ7h12ljNQGU5j+hzPfP9gcNM16ta
            SztCfCy7/rf4mvkVejk+oZ7ZgVN642ur4/dP8bVXBcKQacz7a9xNxeMLd18f
            uDv8Hm+3ZPlQKvDdJ+5mTSadB345OBrjvW2e6TO5eZN9HO6Nu+sbd4cPfF2p
            RN5tD56Nl9lPCP7huaOp3cnDkY2/nfnpTNt7996L57zMy1XVQDtzXzPPRhMM
            UnPezKDoLU+9XQ/hJkYTb+EsFpmS2hPukjx5LaZpm/s8OIB2xpbNFuzOOHRc
            Nv25Ld8Mc84deBc/kW2NKmtkq9jgxgHzuZlB87Tl81hRjEo1+lAwKvD1HNq9
            9zPopDe95MlCw7vtYfMWeO0ztGH+gkdpN71j3l3W4JQ9Mb/qYjvingUUyrEJ
            9wTzx2RtGapT570oD8g28Vd4+uD7g68ZH09Z3aIfKSeOSOV4oM6P3uVGY+hJ
            OPjNcz3ynlCyObMxIvToeXfdl/yRF69IjmVsD1GXUlTQjlEgV+/nKO9JsWjR
            xji1Mm7lWts0qSinfmCNZ8k8pB/4DMpnrEsll74YpEfCPA3W3qNMV2jxiuBn
            8a6dleuiyWMxarGp7y87b/rw+xz4UA2E9gqd38cqKB0Ngqj5oH6NMuDFaNso
            eV/X1Scgzu9z9Mui3VYpRM1OfO9+dQ7tosqJ0xU2yPYr8wSfy+romCOuKKBU
            hf86nYMvarp3O+YOOG3ZJlp/lA8ulsXD8xl3RzFXNQr9/i0ZxzExg7J5B8uF
            oYKigSpCHXu7XmmRC49lGA56x6h33OewMEPkaNAteZgfC8W4BIQSb7ADWN/w
            WKHlJiR4ZL5AvnTLnYE+TFuODJTTmQXt6Pv++LMypveRD5Q77fSeO89TUpz/
            lw75Zn4H89UstDtRdt+62B0/3+jnddoAf/22jcnorA9sPjqf161vxU6q1vqO
            g9FzazCdMmHxsSq1kvkVn08acdP26hUrPWXdeoKyq5FHa6oZtniOib8v5eyw
            fng/ZeSprOVB/I7yP5S3X0dZt7LAxYAd36kL2PYgqR9oHMD67eOd8y1t+y6R
            36W4ecLLPhe96UhYV4cFrvf9n3oT3Ye+Df7PObRnfYBti0o1v+7VscEhLTX4
            bj7tnCw6rsXZMdCcjoHLorKvWUYD8bzsa5/zLcrfy8kmpvxSzXQv4ZHOwUvn
            gDExrwZl2/CYb7KdZ8lXF+wa9TWf16SNm+e+H9eYhS+d+6iMfl/zRNJdiXk1
            JtkZY5AvHLNHH3+o2GPY9W53P5K7nVMCq8fyTdNiXs8YcD0/9BB2oS3x+V9t
            BWvXdWos2T1gB8av7fT/uF74ln4rottvWiGZ4Jn0Rw/dH39kpgBgzAbtcsRf
            DJX02ucEDXp7xKPL3znTZEd12y9P3vWqYhhkCZD/gHIikAcBHE/5SoFGyu5N
            46jD9dopj/lnMs8O6/jSbsKY9a/fY/++f/ye+/f68fvev58fv5f9Bk/0/fvZ
            v93373DZbxlrTF5rf9eO9cK+frv9u8j/VT4u4q2Vkc2tyZzKLBzGWuH0lHSv
            GgRWFeJh7r+iNQdhbCfuQWXIouU2BbFZKcaZmYZxpFRCTrRz1lmYuYJWAtHu
            zqhS9ppUSYFcnHgJ17rbeZd0zJS/xgrYMQBBOv2xj4dyG2iEafdnx7q+Cn3q
            wjCvyfw03dv2s32wvuLui9l6tulCxy31k67Rjp99vMc6hx3f1frr134nZ+f9
            breaHYfd77Ovh93vc67v9rfVqAvKy4Wh1/bcx85Cjj9DCv+0hSrHl2PQielw
            HkpSJyaAJqLFxEBY8/4Ig3Ln6TiTn7ecE0QcyjmSFhV9CTID82nE9bCWBDjV
            xNz8SbYxJkkQB+Ktn3WzWJvlQ9AxY++YrYbSE0t+0/cumhFCdhNyo+1tX8Mu
            xLKu4k2rM575/W6j7Hdz9m6zs3Qt3uu250GGtvfa4wHqvYX76Sbyd++FPat3
            2+/E3KErRr0j9cF7fIkeWey36j3f88d1Oc/xNKEw3LMVxoxzscjLJcvbu8eV
            aSdWHn47hjxV/fCFtB9yrxuSa5kbrm7bITgQZsST3Yl8APCsKhuEw7uM7Uc8
            yN+NGGUQdjdrsvdj11S+bGsvG24IWTm0x7bhci15DNYrbFslfbno2RFOjeFH
            +b1kn5TOm7apGZSDEW1yT++2zDHXd9syy26bLF/jSLmlOzImPSg/rmowxiD/
            ADB54OSdYk1oWzv2WNKvbW/D3HT5dc9VOn26maBp+xSVYj5Fs1GpwKUq8jmk
            /3CJ7xxO9LelqoFr4AAIWPSumpiBucGt1qls1k4+o8qS3hxxM8gtw5Ev97b1
            XptlYW1N7E0w33fsXzluFNcfmOtCtV+YH47qXfokVqf8kylrLNOzvnqxXMKq
            rjwczVaZVkXiZM/qX7ymzDaZNUctL0x55Y6jryXbpjQwIR9+XOFu6ezX+Mya
            sN4Z9K5JLk2cN7OlgnXY9fjYr2K3rcbwddpIS/TRhu+m/TmMVuhdhj3DMxeT
            2+cy/RIAi6xtun2gD41ZKjEmuKBuXT6wrFNAu4Dyb1dmZCXKvBPnBPgiUwcI
            YeaWT3/dedN3TiCV/WW+ifvaNUMT9UysKQCKrBxDrAd5hU+9jDe9TAjm66lk
            15XzRaVbLMzBSKCX+YwJRJT34mLdTc35MwaIIaSJHtapiwUZ2nBjB6t5s5iL
            5kmWWNLSIW9PZcNW/LDiubzyb7MIMG1l0lM6MFGMZD30mHozxrQxR5HuVf53
            Cn/yI6Gn4WTuILRTTRhHfqTQqq0aFJ2xDvJvbzb22zOn9rLrgUR3QCSxa/PG
            sTNYms5gQSxVuBNgxVMY4TgVJ8n6GT/Gw3wvzL1Uti9PwByeeg6Udd8xPZCD
            u70/68m9bbiyP7vkaPwc9x2NZ4wK6hGBlR/kdds3mNZq+VIt7/rxkxwziQel
            9YABkdf1nbeRc+HI55tfIvMYOeXgzkX1ax32E/WS9DmnKTXjw/cSjqEv6fnd
            qX//2nukw7Z2CTytl316ygff4Xu9fC9Nf1h2jbtHMXmL9tqPen1LeS8/4v54
            jfvLs0JVsRy0167hceYmmyvma46Ym0k8xrxeuEO8BjYufYMeLuihw5PqDqtV
            Jv0osyjieYm1D1mPlbnhncVGUm4aZPVZPJQeEFl469VOuYGyxdVxD/B66t/X
            lQpnHz+vOB352Mk2Sv0h8wbRr2XLC5oDyLOMhVNfrquGqJN/Neumyi+b8Xb+
            5B4HDXTAGmvIZ7xYPSHVoiWWKdb2lzb9Ug4npsfVd2iqr9v3M5Q7bO46Cl05
            KgnqyvHMChCyR7K+6rYVkYmu9JOzGBHFhPI9OvPBhV1nrm07L3EBsJ3mN9nc
            AYGYT9+EWA4Ol3W9bD8B/FfMp+YSnxsYD5JzOXVMsXvFV3lmIrPaqhoHYBfS
            2LojQwkuqwtA/eDNuBvqj+lixXo71CEzNo9erqb/bGcdAB/PqTfKY+bk4tiY
            /bmr/muexPHUNEm3RqAYux5pky5Oz530Y6+KZVOelCEdxCL+Uz+nBgVwBuOr
            WEKI+Sfo02wxnFOJTwHzpQFRVeD2nM0vHBK/NJNWm5XlPpUfhFkcqzK6+Vyk
            T89mo1BfigumD/rOg0/ncr/hj37StVttAuoBTm0ut2vPtZ1Hm7BA3wPmtOPv
            57J6qFwD8RS77hbhv5p/oDtrUBLkNuYQYfKrVOWLyCJrp74b53pM2wOqDUO/
            SNbtbf0511N7FljqQunoZkKl+I0Hdz77TFs4GSOOIbub9V7xwKL6vy0wR9XO
            u7LzSZw5GXnPybZ/y6cLfKr4HvQBiX4I9hk7XB6F01kOVOy/Fr1nFlvqWFkh
            4dG33/7p5qfuF2s0WI159QfO2WwejGe6zlrcC3O160QoZgTzlm7g0Pq8ar/R
            neXsVfBFlvbc8ss41nja9TW1b8l/RcvfXQ7cMbfxuf/e93cGFWmuaA0RZeqi
            o8PyIIufGRrfcumNu9J82qvGsDMfo4+YYurwaGGYB+/TF+5aSgGzDU+PWVK9
            95M1cnf98yhdHgSm+R2X/1q/S7y56gBEKc5ObYNLsZY9Fstl1ZXHkukgtc9I
            XnSOmql9TvrCbjk0STtle6UfXbIcQ6opl85zH2a97b0RDVSSqoc2SGbsUp3o
            rDrR4GhpG8OoWCgxWK6VuvFA3Hjg7Hsv+ITchG/Vm2Z1gouRBJX115kDUrW5
            JK+3XPu5b9NX5nHvZIxVn5UirVdMa4EYF5grQKmusnhh6Zyc1RyhCz4hpwuu
            r/fe91aflPE4olcqriAbleQ5Ny1nIGb4JQ/TfqbwBdC+7pgykikYLAfAmTs+
            c6XvY2bRIc67dxyN4mrxmAlhCTud+lrKVeY3lOmtV8fB333TolNbhDYpViXl
            8eq0OilPx71zkuk9ZcZPVieCz3umeWKdPhITTO91P/Vwyd+qNoe3usO+AUaf
            neePMRHZfiuvOOVHWyvHfctw5yvtmKVND5Nyvto9nsSE4brKD28aGOMP7JuD
            tbpm5qOKhwzxQhDD+I0nmN9CtPbUAlp9uv2d7Ltu3Bp3fsJGCZ812bKSfzKg
            zUnnWJVv7E4fME9qkksJSl/+qDz7qYd7gddj7rIHdCe8clST35yQWRjHwHI1
            /i/28M6x9LmP6cd69rH2JPFh2fsYv0VvmEC/WExGodFfAdSWr8hovJet9Zmy
            iY/Lv2o4KDdUBe61ds70DAC4e8MCnyM//mh0QL4u4RFPcLeV78D6AyzG+ysO
            uuJr7PKFVX/b7ndiQs+6jc3LhvjByzKVTR/ticJ9sccXL2s5/O+3r1hmPD93
            D9dMtZPtcaUxH/7+nc1WLTcCflP3tOUWHY99ntnS+F2cfQP2We8HdK7L82XX
            dz74z9OHJ5lMT4g/9xIPAlIYDcyEL0l8KQ86PQeVAxv8/p08iBlmKimROn+D
            +wBhiNan4SNGClm/+9jvY9ZIBXtg4/dM2xzOu6ld3e2275SjF8pldp3MWNEN
            /y4pJoeBH8ArdCZQHuNXXrkIci9YGG/44+/Ttz3TvWojDdDJM3ed/nbJ8tKs
            87vp/B63zgfN1cfYDrxBbGVFIhfB9FDTmpVzzfLHsRqtcBVllMJ4+aUgOcI1
            86RRTRsuy2FsdvENX7NK10hZi/6JD+uW8DisEpS7ix5Yb9lJ8Da/4U01EdM7
            PyBtap90UTI8SSDr1TGw4zZbnzKV1iz7vmAx/oDFuGExbliMGxbjGxY9aDhh
            YNcrfl1jBnNrT9xlsEiotOv0sZcfJpXKMsroOijXuUc556+bDuQZTHUKkGcO
            /geGaJsvqEzCfn7be+xxEgaqwQDWqJMOBkhKi+Xhj69c3vcQBsAh2/sy9xBp
            /AcMsHYKaY3pJRbX9MwNc1lYH0E5uI9vk3R/rLfDPKreaDf4B6Ye9ObHnYXj
            Tv5BXAOiNp0NnwO8B9zP7N10kp+CTMs9BzELnJji66fBlJ4flDHB/EFCO7DF
            zONZMMWcpYv09yOm4wfeSrzXM7gRMqQDrHQVhk2W2zjyHCjVfgfbo455695x
            jrXkVprmqVutMAv+K2ZXzMX2Z2AuE2Z13vth15w9teBB8Ir8ocw/Ch288fdX
            TZVdC4+5x6p4U9Pdcg+C92kn15LcYB1z61reIZfP+dKOzhAEX/mHGZMJnLGo
            c7H43p1/gJIGY/Mvs2IfO7d+Mzxx12R6tV+3OAPgAtaYk4cNdYTenmv5/5Ny
            WtBHnzLtYInpEyv+rgdo/MO6jF8Yzb5ntG9WoNf5sfmJuunXFP9GTrSfvgYz
            KGOe5nzXr8WLTazFrFZnzng28FRpmNxHyyn9/i6TTYLyNZBH3utmscLvWrPF
            S3e5mIMkAF898xvezLTlHeeFWUO0py2SmIlcLD4uKldYY1LrLvXkDXoSg64z
            3i4w1rLUjUNoCWrSEVaLPQBCnJavWvhTvnWvvLg7Jy51cqo9R9skc8xmyYws
            Pi2/MvLvZFBVDxBDtu/xzudNfMdSaXOQrveTG5zBJsyzEra+gs+IwepcnXZ1
            twNHYc6BhIvb9CBW05SxfAxjdHJCY0gguWzWeaY7kfK4KInK/Wufyfgw4hb6
            ZMxg5+9de0s6gA6az1rvTGTX8uzO8uvew/IMnljguY8vIuZuMYalKhd0c6yU
            6sz3zNG+9UAk3sdU9bijQ6+m9Xq9G4/XcGHjSfKkjjFkH3mC71fdNcXVJ64N
            +Q3qmf/RuC9mY8CKtiD+YjXTZzJF0idvfi07Bum377i/0/7O+7vv72nfzFHn
            ZOTY8Yf0SaOJpvJ9hny0M+tfsv5e0d5rqlNc3vEhXHvW/wOqDiQB/E05WTiT
            E5beOOHwrCd/yeFd165xvXZt7HSxTiFeknpxCuuX4veIuk2OpPokqt572zaq
            2UAPUxz6LnNMZuUFq6t6Xp/6HMsFaTiOWcJp71d8Vbkd+4smi5jew7RrjpGa
            r1iroHqRjZogfU/mOjM8HLbP47WjcCjzDOZ4ID9xMSQissSrp0xErE1HMeLt
            Apr8JQPltwzUzAJMOsmshYA7+png98WcMz9yGQEiWbuTuZDCZX4gbKt5YkzX
            vCt/B+kKaT3li5U+pIMER8HAOeVjxHSUksTHXcrxfb3z6uHcWL9dR/o4EqHr
            YjT+gfgs130+23kXKUHRV4Z1hCSOSH+LBYGgzdjN+PJTiakqhxZpH+dJzuPd
            5JLf8iEANPK/XGTGGtHWTZ5LehzaYSVbGC2mvCjCrSwB986RY7y6Ywp3s3m8
            +HrxMMVk+k1ne1aNsjevfWgJNRl8p9WHbD2l/fHnXLGrLhxlH+bBJC9yeWU1
            YDD8zhNFC0++JM9YbD/alSjfz0r/dfAoo1G2oV3h8DHW5lFGgNOO6YVZ14Mx
            3IfHYTuzk1bmCCwgdpOLDxk3ndw1ahOtDeuRyU+XvvN9sOBS2m25Qvbcx36z
            PXlp8U8QhZWE79791t1vtX4lq2stLBcVCKTNb7X7CXHzYx7cngd3vccOqWle
            H23qblM/5grsRptfc/Uec91jruzrHlP6QdB93+Mo1eDPbGA+M06KNi/uSfp5
            SzdsOcAVV6WE+JsvB482fLWcPo/ZKNeSWwbgINNOH+UtIx5mbfyoWl/D7JO0
            kQ17Vm/ys2CxPqrfesbTmBeTsIU57LQr5I9xgLntX/wMdbljvHiooydo06yS
            jHNMGM/61AnseoIXEx1Oq+83mTC8k/hRWybbQGXth9DAjy4llm6e/oAXx1it
            LjbkHy+fPMWTU68i/xfFSpL2YXspHg57gdXAR3vfI94B+MxyT229L4M4mEsp
            Mv3Jj7yqHGdWHF85eiDFZ2BlmSv36G8Gk+txw4YbexDnwz5WPcJam+UYC3yH
            yAoUTvW9Ky/1816JuRVqW+f4wy/M/Mjy9WmTZM1czPGs/bvegkqXFsvjqTo/
            nJNmdTOm5RR2r3ljoEqy3PXMJUAdhWoYtdti5Wkx99JFQaIkX+uVI1f2JFA9
            wB/7GHQ1Fo9Yd10CRn7dxFN4XlU+3MKcOJkVEXd+QOV9jLu+IvWSisew2DGq
            fXW8zOee9TvqyeUblVNf76ockGl7pwXmnLcaS6bjuoJyOzL3CvMTBHs/rX/U
            uDvveemllUOt92PnOfkulUOUO9pkgWH7arzyE5JuBfqM+XjHt50nkB2l07rb
            ujBXaLOnoQzw0+X7d+C3aA3kqO6MfxvFxllVEyIqvzLzLNd3TQrK5Mz5xz3c
            t54m73pX8cQR4X+0J5J5Vi26sMf/rs8QXvUnyq4/UVYpUXrDW9ssWD1OVhWl
            TXn7uQJinuHkqKP8v9xbq9GrijC/ZVHmihk53jN+1LFItu7KM4t5iQqV0jxA
            oDCY71sHxRyre26U37F729+vuUnvOhPFdD6KuTu/P/WA2KurBrNVnX0cBnVS
            TfuK99xURTrGPDbmYmZa+hy2PYnwfGfJo0Akre41MR+2vOuYU3+r2BOm7loX
            fSxUgyI2xnBFPgPn7n0PeTLO4aWcJUlr62z937moF/CG8mZzon7ThmvHueg7
            F+ggP++YewSb7ug1luFb7FymRtPe9LLnPrRYYI8X/ynj1brzEDfVHvv1+rWv
            y8e8eL9lTO6DPiOj4/RcxclF26debkpNNRDkQXrb3nitUe1D8iWeoDa77oG3
            JBcU6Yb25x4D88wabvAvuUn+HFN2cOnehVeYF3MYD028wn3gC/2omQQGOMPb
            nlxgWj5xDaXtg2s0jrbxTP2HeKYajqHjrWpWBNlum57v0Ve1588i3HydZ5/7
            svknKU0J59hqfkUmXbA9tTRo4VFgcWkvdx1Z5a9RYSRIL2nzu4vyDvUOYOTm
            2PYA7KlnvfRJilvntmbefCbRKhE7gzUQQfUlbe0a5rRAXDt/D/vXe4xH8g6r
            jLjs6VBhMSQMZx0Zzeayvwe04J76NQAW8+kPwOOpqjOWlbP/xosoD2vhuEry
            zMNaW9r6wHV0/om+QRCBHU0M3vh1sGCQS1I2nwNWW6DPAWu4yV5J2ku9NnPu
            p60TZd5l1vLDWemwVbNmrOtVe+XjPRso8OdYZnwAoMOdcajW4H84jvBjHNIO
            NdV8ZekPRaVCCCmXxbwlkyW61QzPzvx+WK8NBNpbLRimUEp/JduobslaROD1
            vE8LT287VxLbMEQjk+4z541MsfJ3Fr3UPU6+nuNr3FQEUAxaC/yPUs7XQZCh
            r1l9+a3gnsW6gNWuk76ZDZI62i13MTglnbrDkpUYEw4cdtYjKFc6GH7nn+Vv
            1RykrvQm/HzIdXyXc48P5g9AWW7R5wP3OMjj2PDutHGASuLtxP2ZjE7w99j2
            Gn2rti3mYe28/Qf37FwG/6exK8luHcaB+z6NSHFcUiR1/yM1qgBISvL7vV7F
            cRxbpkAQQ6EKfmdbDvntocBnydr79f3JNSVyysPWBbliPzY1L9eiBZAQ6Lse
            CXP1suck4Xuuf9OX2vsjdhgbsmyzyYmOezmM5yfg/AjnFXDGgmsPiqZnOiaV
            xfVv5G1Ni72gAxMRXNOkvaq9dHqxac67wg4179ArItqNPCwAVnjsLef75ztj
            rhKvS96/jaw7M47s1us+iansDdvC7UQRa5xXxhUOf0zON65zolLXUU6rdSde
            dzU9GqxZ0bjP8m0dIZXXo4Mphw9WRq5sJb+GbviR73XC35f+Xj99w/Guuans
            aR8sc+Z6eX5vmgNn9v+3Pn4wm8W+RRG0WA8ydO5hADDZBcsUg3WbeW1I+24/
            bb58fi8fG2MOe77rQe75P/WHRrwR7m/F/UWvQ/6no/Sk/T5ql4J4RZJz2teD
            l4rU1Wa8IDf1x/ckr/KvmHsP44ZAbvp5j4sD8Rx6xgwOtYDhF4CbinbvAxkh
            7bFG2/Sx+8WmjGZn/NPn9HxC+YX0XE/vuY6z3M91nPHPuf6p4QAn7tfKNQT+
            q10UO92ZmnV/9v6PdWgUqcFOOIf8JJ6O+bDlJmIzixU3ng2DNVQqhGUqBfrz
            qm0WTRvN+r2b9/QynE41nE79vTbkpsAs8tRcn/2XBV2qDT2oA7OWnufLjqeG
            5UjWZzl0cKc2G+CJZNnFEHjAftf+njy+9LHGc/Y8XpPfXrZzpOLgAQ7K73++
            0BfZx2/bQjyFsmQybhKt/jy1AkyfFMeComSP7//to35tTxKmOY7r/7WT4HGg
            1x08RwkzPHaCPq0cfo3rHWQ5oZ00FzVmt/8u1461n1XxdP74f50xOH9GWmoB
            iTgn7eNW2feWy1xLcSBYo7m5/8j0gpOIvfcNMs4YPb/hWmb1he4X1L7L37gi
            gRVjH99zy2KKx98AnxCSzVpiX6hWVotV4xhSAFXg2zV2h99EQ8l9MQrer+9R
            Xw473NNw8qYHHM7XRuYESybyro/fGPIEsKL583+o7dn7Mnz9+GfZu6yRrK7c
            gXiPG7wMYlTMNRFAt1tBOnMxZjCtWslD1b+loXa85T5P6EgcGns38a1AhTI2
            2dr7RB8c8coK7/WtbXFmIBfJDW615/eoa0TNPcm3QslZaTLvfJaB0bjHl0Oj
            7V3Pous5dzHLydl7NB/tM9S6fmOFZkydMgmaH2SgknSvBdZFYlQeBtLzw573
            wvnXH3sf7Mn1x96L7dVBnbfu9g0NEvddl+FjWDsb+nqUj1k7g2ZQ/sSZOjWt
            NUHgYrLV4MPYHmM0f+7WHOvwWpLXnvKv2lMlBoY6IweZuezx5a+zfclRJl27
            eobJusK6ZzetktBVj5BYG3vfgzysYbJe431ViK4t5aB4fI/VwH74nvLT97Te
            +h+/k9fp18Q8U3ILyemprwscNLi1gaHIBQ2Vf6xjfc+2f+QUg5jjqrojpdOW
            CmBJ/9LSq5zW+mFPgTWgyLl5ao0RY4FaQNN7VLh/7b7Zc8/3ARv7Ik77oma5
            cvfHDgVJ+QnRzIp5rq35ye/rX8DLfepGnttl8SXQzRQbvR2T7PUFatQBewwb
            AQtANzx/UZ8sawL49wbuhjEmyYvFS86ntnUxRsY9w8pVnQWAxsSJGGgoL6nh
            /sRi7uvON/C+l1jXMfz190aXGWDN9NSxVCt5U5MOEweQkwHa/dD3kLU8k58J
            G7z93/cWy6hqN/h/sOb7teFoMLWUQOxDurtfB3t3iAIC/Pgp3mScuWJ+8T6V
            30mu0/ICavKVuGd8bZJ+GSJY4dVYZf57cx0H7Z4A3fGcYUjkntdOrZ00w3+e
            CTRVWud8OF7jX11Lty/LqUNQ3R3okFNT07XdUMPn/yPWARGAak2KN8KEoqT6
            ocYhP1uQ9DBoaHqoMAu0jYd/jsXQQW1Y9egOjOuKnQb5Vm6vmDPDGp9im3ns
            mmRFxTRYD3ecCOYnoRdbo+ah1DdKqh3N605PD7I4lucwjI/KDe0He0zOfmAW
            le8C5zRkUBpjItaS5OM29m3rwJSg1gvzAGHJgfOXe1qOIwlsHW+CqwDfjeIZ
            wEVs+BqLDT12fHT9XOevKYG/Y3fi1v7v5RgeizHpscRx6PDVLyzrBwtF/FtR
            TJR/5jL8D8XYMiacX/wPdE4hCdatd5tBMY2JVNS7gUcgqb+YHfiZJeCdZ5uc
            lQXh3UoXOGzYMwliht0w8wjpQk3gOH+0tQanVsmz3qPWkqAAzPUdl85LxiXn
            m9gVrqOEB9uwm67N9jW6dY18zRznhPlufE8C2eV7Xkn5edAvAs5JAuz21Q4M
            t85Ooq8IBnXEFxJmD8xGYwgDcmCcoUtxBvL+3NQrh/9dJ/fo5LyIzRUGqxGD
            34C1emAgIzV4Jmf0sIOaxiaoveNxUa4EEpxzWm6p7hLw/xnYf3InXM9nQMfS
            P4Nzj509UaBwUBD/iWEDD6bPdgDntq/21fJznFgxG4s39G1yr77vsvNj13RN
            6lkiNw3k3xokUe7U2lDOenLXS85CsVgqzosjBKILe2F2aKDkPpJxiy/q9izM
            uEYOKCk/mXgCegpwkcsHdYxCDII0CM5R7QWsjtkGKmzoWzbmex8uP2C/5RTj
            8EDAd7kPye0u8jWJt2d9vpRxccZNjmJw2ScJnbfajpj4VaE9gS5Z1OfEX2GW
            q5bJrXbUrddo/GLgVYbiqs0WFfrZaNzoxD5hx7fy8IymxPi1A38ZjF+Z+0DR
            vaq7OhVNl6Gj1wESEUuVtYwlj8P2rC6O3FwwBfTCfWucppiXLe9rbrQLQx4Q
            NOD8s83G1Yf3NIoHjq611J6YHFiGcBbW2DZxfophG48uY8E5fFGbY5gOCUl0
            uG9VPwTzYLIHRz4++L8DPhQ8rCf0SxQzEpT3u1P3JejJTl0OTklQAwN8xsAR
            NKB/4Hf4f8gFN2LkM4I/FZ+f4WegrSB+ETtCdamJ+W9EuR5V8tEEXFHHJkT+
            aY/1tRIVwL4xlG4x2bTfwUsUYPPncXu9CKVi5qCN9dlNFp0E/CNq0eDrpv4D
            yA/rl98cErpYo1H/6iZQEND2TWDFA8wdqhdKDogAVutbNi58ivJISW6mPFJV
            fQAn+vcNDToEb41aX+B39r+tu4SLA5IvXrUxGO+H4S7IpWuaFsYDpbbtOjRT
            TndytZjujPF/X/bzdH2af3Cul5SpNkZ8SHG/DM7FqtfDgcRbIVjAIC1IY4Mj
            PIFRmnzR9VAsl1J/KZ9bm8z/L8xRY0/5e+B5zONdwACKvZD3mMZQViQHPxXq
            T0lAM+9R0LOgGebH8Uh4nxUvhDGX6qIe5IyDrrerkN33f/4LL6IaBA== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
