<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.21ec</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21ec</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21ec</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom BCM20702 Bluetooth 4.0 USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_21ec_v5556</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8684</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21ec_v5556</key>
          <data>
            eNq8fVuy5Lqu3L8jPBfxTfqPoqT5D8mZCVBVa3Xve7Z9He591lGVSk8SxBuJ
            /3XEg/8y/sYT/uf/+F+xH/YvHPhUB//lePB/9xmei4c+/g8fqx08jyM2Xivq
            I68xjh//woWLP6f9mEPAYTm2WJ8aaq4J24t3qauVWlrG9wf/37Ev43utA8cU
            XLXjwY4jlaVtaFGPkHQP3jaMxEeMftva+S3w68K3mezoEPyAM7wvYAPh+0sK
            vEjYo7HfpnJ/xsv6dvn+y7fRz0++bUtja3eJuEzXM2EM36fGIPNxz3yUcvEp
            j1nzXU97pT56jmWmlFN5+BhpRRsDXjc/DWfM+nBkQuXVF97wSUfEtY5aj8Sb
            LJx3hyPyzhi5xFFY+OGO2Df5ttiHO6/ox+Fzvo+UcZ+FUb8q3hi/5Yl9yc5d
            N/YNjVjK3Y5bnF78lnjcje/Yfz7Yh3PTGauRQIh8JjsAFzgXDsDLpIZpjZrG
            frSv/6r/V/w/DDpHb+RnHbdRo6bstllPx9f+h1OmoeKYXz/2Vzu+95/XOZx6
            4vq5Pw+7Tjt+HX8adbRfzxNvm/ar4/vX/hrDMJL5dbxGg4P2c3/qvej4X88T
            1hJ1rvX1XnpQI9ry6/i9JuKv+4YR9Zy377d19Pm3fj+nX2fk/vDQzQ1smYU4
            +me/r32dMfhij5FADPe+zz4Z84b/9tp4T0521HW0U+soY6n23wOdjA39euG4
            5m2c7Nf+ObVsw68Jm9FeLfy6frjsjcPvAb1C+duA9tLFDuKv6/cUNNDxT4LT
            /vGLUNKdtX+lIB5WS8hhtJ4eLDoswwpSPHIDj2o1TzCkHscxl7iETnzq/YA6
            wdlx7BVEphxBjvMZMpcltjOKpfvCSyE+D0bsPG7yFnCSiYv0+zzq3Xjuf/rd
            +HKPVxWP4iKDUIjgL2XikKs3I4HEVdCP/7M/TNkTwBGP+UBwHP/4z4+L/+44
            zv2/Oq78y+POf3nc9Z+OyyIGLIrYzv+H+8Z/2mfT9zx/mb7/xoxtodxdEOSQ
            //P05fQvp6/+y+mr/276/sV9r++X+uv0vVP7Ndz/H/b1KpabQ5Ka0G2a+c1X
            p613aEErQGxCx+JcxAhW8H5KmB9oR/mECnZChEI/yWfBX8UfVvoJzeqESDwn
            /ngsNJ0T6uF54w8ciirEwvnQKTL0hbxwPnSEDP0kr3YmI4EiUZ4hyTKkX164
            2MLFFi62cDEoGRkMLYOfZjCwTB3xwsUuXOzCxUCl+cLDXB1K0ZIszsbixez0
            7V7f31KOl771ICZdOBqBX6EUVGPMmeobVS0oZZFs/3kahBd43bka2J7YXw/G
            TjvU0kBF7zlmeG5qkvm283nebM8Djt1aeoYvLQqNeB7XqfOgu8X7uaC8kTdX
            nhc77on7xPO5+bk8nDlI6QAVaYSVYrj6wDO1B8LQVMmeb5eXmITjLD/osONE
            6gXdjunQJGd8pIxe1BD1ZLhMfKiwXX7OJSUiV9OSLoiSRLYvgWsjGs7Md6wD
            5BQwNhE6+/MsP5/PUEu3Bcfz74p7VumIOD/dRgLVlG9eaFQN8mVTte50+lQ9
            0q+6aTYUk7jVJUPgyHr8WWoGw0jhKolTtl8HylrrHCZdETOxr8iH6+voIpcO
            gn0yJg8PN1f+TN5+np54/Dhzk5VTMdnteq6I489ox2NKcwy1Q03EYEMSQwGv
            /h2kjeuENUAIz0X951w6BrT40MgigcRnapvfScVy9InEoy0Sx49J1THnytm0
            lONvx1RO/AI5ydoomHiohaNw4rs9dyOxVIwYjgqFIxdP0BdocXYqx5nkeOF7
            se+R3wdUnxlHoDzoPA+0gmuv+cgECDw/8eUuqos5RHD6DgJunEGo/zy2PSu6
            OtgOU6T6Ua8QY1iRVI4Bm/Np6SR1RWmoVLbwwFfgquvvIFzQOU3npQqT4/kX
            6r8rOUSmsYPJm1zBNF/zD+pvH+ofUqDIaTSOIJAbzwFSrRlM8muVYoHfbYgr
            cDCSeGy/6j4vBZxHU/m283jsunksbxrAfq5penauf04gCRVDkkvcpB+LraIW
            7Xp69vBA6d4L58q5OJlTFQRvgNFHsoWmtrg+aaNX4zXj5KiVcT+hjwCes8Tb
            GoVczY8tOFDYzeXRteDq94g9nxHjOSWtp2wec2e9JS/Qvs9J7zlYxU4CbnOE
            uvJTxRhJqxgmWYTZL1AoimgpQzKUNvLACy5aVKGSOYdRcgfJjMa3zNBpUuaV
            sdDNjrCHBBW2tdfxpPmE32b++ZAfUiA5hX5R0pm5SOZ5c6WEBXqW/mGCAgq+
            cZ6BF59Y4wEknSi8cA2sCdBKK2C82lIgiLPBAFvPy5hDeBY5W4l+bTBZ7Ad7
            oOl86vqwLDpIuN2NI0eBEuadZ9Qan5ySZ1Kg1H2Nw5+Dz9Y4qfgesUaxrCau
            jYm+uE2TY6Exwo3q1BiBcT/TJv/s+3p/TGSSQZpb3OfAmjmDeC44oIjxzFzS
            pGZzATz0X4BA7k0CdA+da0CK1PBKkSYDbOFhSBSk4GhUdeZ8bkZ9XVRo9sNo
            QdylQyHyh8lOybefc/A3LBpwobaP6euZVewLuguvuxnjQ8ZNCdz6O5BnG4VE
            CxkdoZlAGEAL4TonI8VrQoWCpL4OMNSTgg0D2OR+gS6C8zd/WxUTO547wfC9
            U6PgSJNbkDaYh92P2g9+j7RyyR7o4aH9jG3kd3DXTt+E3DAxnh1CBkRNMuAi
            uDEtsschKXwRFPmi+pTHBNIbv5nwG9neXZMzfRFoDsC8V5BxR/sTKsnitcb8
            HJ8Kjl8gor61oxifddo9sGgu144g1dbmnzrvJBcxEhgPHwKrI15cHaQSKKKw
            cfcknVSVpMZlU+MgZO4OCQqiSfczedEYPvKf+6FjTltpMY9V730tPNQT5NDx
            az22il/KfIwYIZW7EyOfp4Sv1Xpy4DJtd7sGV2VuWtkcNCzAkjbjBjsUp3no
            W3PCxWp99ioa8mXOtA2nwBHgVdrE8/Kpoc0c9411RZ4GDmn8YdCxsNJ0RTXQ
            nKOPEFIS3/GVums7815SGpqeqJEHEzv21r9FZoSeAEHC+0Z6zFwArCaRCQKT
            aIZi13J533hWMnt/VhgCIpODLMrJBC986nnuLWji2ToYulsEU3PCCwRaEY98
            SSH7TXFigjoHntF4b78A1lxp+5yj2oOG9TmnHnZOjiIFnnPBGun7nDptauLX
            fXCdh+fM8T7oTXV4Dwj+dJ+cPwMCDffmgIwPCTwpz3tbCOk2UQeSzq40Ghk0
            3nCvNVJAvc3tTG+OFEK85efZLmji1RTUfU44+3yFWqg28He3+1BPwXU6FUy5
            seycCPXu3JOVHrsPJMI7WdmJ5x7vfRLYyNjnQBfR+4SvCcZz0eXZrvO9D5aV
            eUM7Cek0/h32fbAP79PbtdwiOG+uwQb28RgPSOVcZmZxGUe8iHkOWvV1W7aZ
            dpEJP+eVGh7yrJ3m2tXczyZJnmpapwkGaP140mUr3ifk+UhyDppUGJOWh/hB
            fhi0OH98fldMajPXtAUVGbvW+8zPHpwbggDv0K5bBELOjsH48JPbfYDX8nO+
            eNLsmATclzwGS7sbT0ujrrtvZROSXyGNe37OT85oZ7DzE96YSmhO7wRBfwFx
            cUwe8VgtuvS9GHAuCKitS/ct8ueveu53xfWmTLv4mVSwddMQ7B6w5+9rP2ec
            Zn7G/jkems/Y3sF1N9OU6WrxiQM/gyAIxsEwACPIx2APyRcVAZBotpR+ZGYd
            XFy44aPvkNA51ZP7Lqk1DRdLGK8sksIK4QAMqh3gBq7ugMC6ERT0Zm7BKfx7
            tO/h9u+Xfc8pY+Ttc/JjqW4tObqhCfEYxhROaRUnZVB87Lj8dQyuNwOkP7WN
            Qp0FWkCaUINP7T/OINPxOimozmdwCyJb+k6WfUUcBs0AAwyhOvF5jqO+mswY
            Oo+xPXLWhffq+JuBpmvQe87qpuWiM9k8+6DJgOsMERm0QkX2MNPyD4iN3JzX
            qckN2faPbN9BsIzjUAPR9w4DUpznpOazXBe4bgvnaCdNC5sMGJ3N2K1tyzJt
            ZWQQ222ebDk0/WHyoXATFCbc7eZzxWX6fud7QZ8/o25uZsvRfRuWvUTItu0e
            7jj8PsGvv8M1K9t117Lt5fdZ3b/nvbUVfi4frMsCM8u/QymUKKIBXXKrlw8e
            3lD7oc7pOj5BsMttshj+02fGUKQq+mfbcnSlDv6n56LzEKP+yCvoCwIcatAA
            hRiuFl04CxaMbPmeGIWIIFctmcQ43gwwlmh74L50YlDli/aZ2/5P3+OSD3Jc
            xUjgvi7pi/2kTIVKiAt3/C1qStiOFWyLgYjcQvAF3rwn2y5sg1iQdDpMyqmA
            MIwdENN9/Kn0ZKxRujQPOR5bN5mIF39e2Zs/Kpufg7euig6WIF36NHndwz4H
            3PyZ9yt7GTZNJRdF02EQUqnTYoEKr3PAy2Dd0uMAPSduJ5TOg+4Iwcnngwo7
            L7B0nnfbeVoJVFfTefy0zHO56bvheXSfuV5156/zfhh0Ogf8nS5gu9eoJrex
            kOI/GIEn41HXWscevxqNS08uGo1FTOliMBvcDQQEa7CP58u2OswobUdxQfAw
            4pAZRq/gppcbMLxRBztZ78NRsVqkYrvRq8djMMgKy/0alDx3zPU59/Jz6+r5
            b+eG91xykjzTWmG/YD7wgvRVHn7fASGFl8RdOG1pXMwouFK5cBXsP6GAnVJQ
            NcDn4PMkBqMfC8AqQt/LS2zxm9g0wJTecvPQd06LnU8L7mfWQB5BMt/1oTvJ
            eWbWPsVfccLg5xohAfE8fdtHsGT7Z1ygDMjHCi3R9CxI4G1hcFye+kxtyzM/
            lkW+pXjnf3RoNTOu2tzvMN2yWLmbByYr8APCFwkEDJ8G6AqvMoF3dWrmBYav
            UrDQ9q64+XuVllDX1OrPUFiqU3Nafexz8mTk9T2ncG2CyNI+B3J2yfO2+trn
            3DIiN4eBsbem5xtg3K/nZyhdBFQySXcbhQFaMgmoR7smJuvUZDHw1psEF53Y
            uM9ZY5VDW4FlKY8FbHjZhNGF3YyFj9rdwm4iYCiWz0vUYStlet66qA5wHOU/
            qv1PF3MxpZaunDump6T0a0J5TL/o+qG4CDIV5cI6uz2H3D55jNewhtYByyNW
            hpD7tq4Kdo62ORQMa8xpMi4AZdwi+blfe+DH89w/WVyZNznEh8UNY1fj+AeH
            JSf4pAokLRbnKCWDE5zHq/me0V1Ldvyq/bbjp3xpl46fn+PXezzTKso18+f4
            G+yfnmzInldp3St1VVdQZ4y0PujzO87t3yv33Ufd71bSc1Pcj2jX2a4UDCZI
            rN1SKAO9wTIRB7dn3QEojRUufltWAp6ruYlZIEm/36MVKZGXEVs9Kgz9Lxe6
            9Kmy7Jx6tIu+5krP7aPg1DMXiO/YpiNEcfZMCOiNc9g96/zc8+Y9K24rszby
            qrFZ4liIzI65jnZvKsOoTaaRtWgXgH5UOBAhKI6gJSXfGVZS72LjV6V/Kv7m
            DDXdNGVcFg9nwxCMLxsGNdoq1zn001VY8FCUyJmSCGdw7UCala0g0ZvQcT9F
            QcwRnKjDwUYC68IKh0k86KDhQGKVw2JrdIjTQgmM1F0f6yDwPbBUwyHlrh+u
            /dvWLQjSHI7Pw78nRmMlcyFTU+A9shT4GAYZELV7EB/fK1MMSR8w5X2uYtxx
            Wh6gcYJaQKWZ6iout470K5LeC8elnvQn0T+Acan5GVnOKhsXRSav377NKBo5
            igeOskwFvKe/xzpcEKSVlWnXpI6focukYtZhGPSGr6ePJc/SIilvkwvHSfs9
            mY8mFWPpJR9/2f3SphtU6BrnkCf9Eseg7YMz7QVe3yKdGBUXovyb25Nf+0kO
            xHNJ6LexQbxv2RFCiQUqn4wAkpckutllsrnTtGL6chORF+kmXQpeHxJTtOUf
            msXhmXWKqB8/b871OW8NOy9HOy/6eTCDdV5qOo/ve8IyP3cUVA4AmdV2ng5x
            XaiBQEt/w9icbExIObdTuFEX6XpWDxGBwqMtwBuiihN7J4YKjTuBik58L3Qa
            Y0FPf56rHLNtHURBN2pf3UiAYg4y3+S8BuNRGGRoAQR5vh9f1XfpfiFxOpP3
            5UtHwCxJgVG4Ruya3pyk1FI6Y2Da3WTXMN/feHdyOapoH2PeDJuM56RTBozF
            nTq49AKlkxCoN5zOKuvnOp7lBk5wyo0yacffm1WCKdA2dkJS5h9Z5X4OJyIS
            ThLhUDFsccHq3/d8GH4h4R52zsslGkOzfn86kcSZGKq69AwY8JNbJdm9CjPo
            hQkgfu3kCvPzPk9M8WxFoSksQp5/rq2jNPAzS3ElR+CTuTl7bqVS5zWcx8gP
            xDq5JjVAI7IGperEtGRmDa0cisXhuDrvC2yZK/f2iwWQmy5Id6NduJwcqKqL
            d7p5sYb5WS9vN6hgRy/L6hdWLYeq2jWlOGFdH8EUmCD35bkG8wTwfnzYCgLg
            tqUtr1sb61ybi9AzRXmd/DmDQt6XJiEP9zByAqLczXrWy0NWWMUUJdeyGGnw
            CYESN89NIAWDzgm5l49D8QmmKVjORUIZ914YDYoWOKE/2zpMTwp4o289SZMB
            7lcsyHbRiwV2QgVaeYKPJjFZKldUZgkjZnnpvzNfZv5j+/PzbZ/lIIQEp1EU
            aREylJos+xNDoDWGx5t6nEtpBUkJIHQzHArenHLbkv6xVh88cqb7o0BXlHGd
            z0gfW8mKrkHqVrM79Z3+OUlSSkNFJiXNcI/A3xuzoCBAwoK9mvLh5zALKvjn
            8PnM40L8x+O6jo1+LCUnPu3fIb/8vGbXCbjhY79he/645ufzncIf99F7/u35
            +LmetXGriGYLF0yYjOeAOIcxgc9j6LmopdGDldOdzysx94cWuz+75SoNyGFe
            DyYD0/2n6ehxUIq4V5knTakvdFb2G+vLvtfuWxHAfYv2YSbbsVT7ubaCJOBZ
            wHW6PPmQ4PwMdWesXkXbg8yWqSB53JYBZElX5zIpfw5Pwjos/Ak9ydwWa8nZ
            2KUXUt5OuUCg6WgdPMMSoirFgJxG5pzECmhaJ3d2D6Hdd6dtd3+OnZbdu33v
            y7Y7jXv4eeU2MxGryq7H6KJyFWw7Dts238/F7Z5J+z7tPs2P79m2sBGLpaPb
            951+Pvz5agzVso193K4kSY+5LN/p6WmY1d/8+evl+RHdxguKRTTN4lnZucBU
            1gudrN0TLnxwb0qZbYfJ/rMMlWZ6skQJcw1BVzASbiglOIQMDfR60f0ZYhnk
            l2cZkav1LIEJmhmSZclOD6NEqXs1xZxii2WCZU1YCAGUodxHcAcWLsBM6CPG
            6y5Xau4Uzcv038c91AfVOJNsDA+3z1bP2ylnJngDro3Pyku8wYIGJBL9V9OT
            PqbUnIotLHpFM5h8kW7LUFT0R9vwnd/0WQCf+8uegAQP2RYKrgn2r8AryCjc
            gWrxbc7X1xl7aMtry0kL/SQtbpeOCzwfwuOmgOPnRLcU1eWvRdgDTHsmukLa
            4Dyo0pnnd7mCYHjp2ZV3kLKRwEmpe78PLv+PU0yna8P8O9BNcVz9UvJpsBX7
            DolTCyfdPMrHP10vjZUsJeksEOScCEw910tOUExAKVD1Tz14keq9aEwoM00T
            BHE7aU9IH+GkgL1hQC85IOlwiHIAr0bhFuh0gUDBiydMLOnjLHFGupQxwRGT
            Kec1CGMlps9ii/21Ximui972GS98xuWhpc10XLhCVEjuJoHQJYfrhY4tnivg
            HIpGMceZI8xgxl71uWDQI+PD+WEs7c63Pespg/tuEq0Vn5d9xk2hrtjnxs/V
            Pl8ng4H2GfYTZt0+M1XkvG4GwDEFz3VO+9zwsGezzxOqKmR5GzCsz4TP4YYW
            ZCTAAIUeDtbfmrddFIYHqOxuoYudc3FD9F0lNFm1mKsME5XeesrAdnWqSLAF
            ngurTNZqKzuWV7CKgq0iTiYDkExvoDyh1+yUNcmUq+uCONXqY5IVsyhkdet5
            mMGS7HNS2qKu58FWI7j0LY5I5dlEEQmxZPlxGO6xsNCIUp8C+L0lsznHYPwo
            5tH9PLCKy9XKuYmXWUI0giajANCWaaxRnUzQf2B1DT6T6qoqjN3q3nuqjEyE
            zBnkrSygVBMZTIQml5PYS/Pju45PkdzA3usSR8lKxzroiV3gp23l7V2gZkeD
            sGHSaZBq/2QgX07g+NGXcE16EDAgvdXLnDXQVsmHKKv10lQMmXrrNxyciKoE
            e7GkyJwaPHOZZ0v3SU5kN4Q22+i8wiTTKUr9vOHlIfk0QWnCArxhXmWl8WKx
            Y1UwCTk06fliU7XpWiPQTg0wLkPcHCrEBtMEb5BuGJKnlEFYsjktpoRj+1ih
            XC0PiRTDwKq/yhWOxQAOlYKfg8EDkSYqZWV83S9eir6PCsMqP+M86xC3o5mC
            ++GYmk4cA+UAqlulAnyndsoJfF3HHpd6Ml0t0hWO/+/diZtjtZjxRSGOsbu2
            gTcbJ4jsujDMerZu76UFU8XNwj1a/vGbivTwHk+0wDw+6+V03mBEI+Nvpcdd
            T4GE1KIHovW+hdFvy+OJ9zJ/cFeVqFQpykujOA4IDJwzQwu6VbhgIQo9ODOA
            ZymyTPMVMCDLEyhZY0fH4npSm6/YwHXxPUrLDwoKQAxkq3LEi57hi8BGS7Ha
            BMnpAQ7E1cVs+gtEw4nwyP5xMvmZiicmkERF30I6qr1PgrQ/GL8qpAXcL9wi
            xmQTdTyS6SH1plyVsH13PLt/vVMhZzKxhwks+/PNz+GLkB57To5bvJSjcbzE
            e7bY+Gee/lWTshhFZGUyFAWLGc/mMcEPRxtLvr3hCp5qRMjRnEMdriCHbgHo
            zfEuV7CxkVdj3CfrOMg0dL0HY20k8MhhajurbcXuGLECJ2AW7Doflro2haWC
            BuQziCQIEMe45Q640y/rgNFisWSwnhVUorE2m1ZkPMtHKN8fhO7Fh5z+sss8
            vfT92UvS2ngyqRtGmEWi8Vmsl9c+Ayb/JjlAP2aWzWafeFnwvYnlUrASYOaB
            CXQLZlYms1vGayDhRsbJaqBhxbR4EvfJ36kYDiZfMRtmgGNBhnTccNzMIr0Y
            T1IkXx4HvAZLQObJer9GY4BTkugRazAtywjHviZdMUxV0H7M/zuuhdWUHyJh
            Moyy/sullMmz476wyevsQ4oq3gMENNyprHciJ06MQoATn1MxzskMxHHIKzKC
            RfAT4+1UvBLLE2CRpxlhsJzloiIjZSxKGUz7IbQisq0CVZ7jYlFxM+iDXdmx
            mU7YfPkAHO49jkykktJcKd5eNooXhNy7pPzh2onVBZyUQuUqSivv/RnfK+Pq
            74owEywb8TDaYqZhDO5AttQRJ0bItMHkchIMzaIAwsQ+ESF/Y3YCifHHIpgQ
            afSJUXPk5GOMwLZNfHFCnDuV8Zz78wga2R+L4cCYwLgO63z9fKzTmp5bFPre
            T5cVrmH+E7N+IrN0i6weKzH3986MGrjXnjrWrCTSL90BtxsTBC9R0+hOILcy
            i20WqoMd03SmTTkH9GRRz6W40NQLgZJK+Xxm2u3+XNejoGQ7tbrvsAcvSCEK
            GsBTrFsrMdzQmhkXToXp2VDaLCREJa/SIQnZd0MGD1YgT9iTnrRF2baP3cHj
            EG+9EOWg0o+xxfcAsxePYLL1fX5mK1eOYWRaA5Q9WPPdKpGYJXhFTZgGGzKj
            ed6N2Gk4baXE8kVJdHQwHk5KGqw2m/nEPvOckQfAAFlnnZJhDUrNyFhDXRli
            WexDK2d9KzuFmcWhSSGDHBfPTp7B9WSb8c3jh29fLRZToELCZo5KarVdrNXt
            08vy6tOmDKyVytgOlL2SlLFdAhQd1n0zdVv571jlJyjxZHSa4XymblcVRQVa
            D6GYRs8YhuxnigEGKpm38/hxLJhgWnW+D2NWGUyrYACUfwpm4/fIpjEzXQb7
            wOKzo1VcCj9cl2xf8q8SPbGJegjPpZEc43tOjjcIJXgMK7Whz6fZ27SrmbtD
            MiJhTqaAuiKKMYIC6UoajD8Wj+jeMJpBAg3KB3PFn5sUxQoPLKsQqpIyj8J0
            Beq6jJWw+sRfQgMUMRhLaSCYRJhUTCuUbDAFygKJoPJuD3fjZX0FKi3gByuh
            q/b6mDmk2Cdb4UBkNrgUBmMXWCmnive9sIAf26PKm+eH84c5S/Iw2/l2FE7+
            5aHLZjykdPlKoFZ1uDZmWzxzslIarox+W6hdVQ6e3kcpYEn2pwpA5O+kc0kh
            ctqLA8JMGWQmR6TTjyABglmcLJMsik5eNCnqfcdXtR6iaOi9Q35RamzQtmB5
            0VFianRMCj0xWD7ePNSgcMSghjbbc8cIPnlFhuDIGieEAcPn06PEYbiwxZrG
            FODNqJScRQI743eYER0rH4LwAovGs414pkv4KT1MaZ4QzLhOxfPFz/Md/nxM
            uYP5cXQPkrattDAyfZlG3T2vVVtQun83DuTbKFvanTl8x39xT9UbJ3tPFnBJ
            LkW32XEbIwEW+VpMxA4ufgN/+cGq0ePCiNwhRBvk4MdzkGGiXnUyu4oSVKHX
            3i5NROLAMRBApJhKh+OyFxydmduR+/TivuW9GFXJIkJ8r7s0B9eongxs9UwD
            C6Mdvq/v335/x5OsMK2msnpisG+P/1ffy+Hfkz2rb/U9Xrft53HFj4u/vodf
            34+f38vz83uAikbXp/gJE8lP0MCkH/26io9juv3cac9UjIXSXsb2ti2Om645
            FnrgLDCAg8xr1PPyk5pfxIMDE0udepNci+FyFZzeoLLqQ/6YuQ9K4G3HRtDO
            E0OfNNqPpkILfMb+/F4HxAkmQMuJTtSlFGJ+7syxOO562HWPbteOzPiuX8QE
            /ndt9+bB6CqeJ/6dqJQJ7kQVPIOcq5Ae6rTZt+9P69f389d3D7SYXKp7DKHk
            +Pf+63v7db4T7OFjnzDJFRy/eqLw1n7vZXbftTyQssvGPAE6u3bcGZ3uHzyd
            6nbl5thn755I5NdZt4UTYMcqcO1RDJ3c/PsGq9lRmOUX31GXDZazozIbbGdH
            X3bW9o7O7OznuKM1x97accmvs6Mxb9RlR2nyzyjMjkqFvqNCO1rkW/897uf1
            KM3pWdm522CcPphrZ23nn9nbv7PN32zund3tv4sonQsMX/2+dWiBAeFDNl9n
            dFFJJcpq37CHd6gKeCzZhExSF1qPi0VocDuhp0t5GtA3xGWtWFF5OlJEI0XD
            9rRdh3naJCKkXo1BJ0lzLtCW4LPEulU70R57CR04VLsHg81eaF/U9AXmGHJ+
            sA6gf0IVtN+ju/ewncQs+37pZC8NW6u3rW8E9zyxqpI4B/QhBTPIm8k3IkgM
            OimgKrFKc+yMrUovFfQVZjWxLHk2B0Cj+3O6r9Vdm/pc5dHCHUFe0U0mEy2d
            EZxCt2dRrXuTilNdPDLqVMcpNk3bg37aARGahimB1GNKDXKNMnfUxZVwPOgD
            ZxaKc9HWa9yyOjEe3RO4YqDXIULrgfLJZA0GUTj+eOZHbHp0qFXUrYSVhP3S
            +aF3RcbXp34DPwHRCcuIJdx8NhIIy7Zhss86wIqX3FRyb0bXBZSWdMVMjTcR
            rIb1w3jrSESTnE6GDOnVh9TP2cWEO+q5G6y1M137ZF1DGDvNHCNYw13AxGuT
            MscBOQRs0pQtxdK/cmqwBK3y7SAASz3FVnubsPPWZrFaKWb2mLPLiZFFNyQY
            FeLQNcnvQWKEph4Uf/Op+rYnJ2T5criKMPEp2rnSIVwERJep2uK94/PR3Gmk
            Q5otiiUql3zOXclGQmDiCJWxV1F13QkDvGLbeoOUUincuNaUSP2qMWHdyRFM
            VOE+egcR2ZTZk3ZxFAG6QFQB14N1xRUTZThaSqUpg0faC2KbudFs43qnwZQf
            vtRmxzuYvdlm9SKZXdRzZfNtRv8emNrPuDTHwkwVmSuDAFXKrLLrbpm2ZV33
            Ip/T2SvGRuW1Ozi/sePOvH93i8gx2V5Z6DJvy8QtK0O34qJmTvM0icLXFM80
            06UyJsooAyEfIgx9EL+c4IXp4Ar99LmLw3FANIe41H9l/TA30amSnmp5OSaX
            oWZ9KIHia/+190Pj7slCcNyPmZ4bsYSrYzXMcqTTUplFQx4ZHFdiNZ+hJd72
            7+OtwlSrpM4O60swaXjmcKluOOxzk53DqD7Pe8pzz7tTNx9eT4FDK9mkTB+w
            18TjmYqHVXvtz4EIC4KAw3N0smOcT9QTvFvF+em0gnkFCQjKkZ6b2SorMERC
            3e465pZxNDnxLFdhIT84w3pOf5dO7yAWCyjYnieCW/2+V7x/3mt2vBOz0ngM
            w5Jhk8ApA7Jn5RPbgMtXmVo5FIhudGIOycRsE3WEr+MZiG6KJeoGuKedy6U6
            fYCjspD1QsQs4nEdPC5cr1wLcuePQ3n6gfJq5DouqykUm6gG9cL7hWY1ctrG
            bvn9kM2dWrVl+PpzDtj8LAa+UnrkYZEbTfcHu+1MUSfrvAUFNGal+USNFyfV
            hoFslilB9+aPSIY5/TtY+nZaMAntW1uF6m8V3h533ZxBKJDiALaFyq2cRlad
            zaRrlp35gX1zbNkLghD763IcCVGQY4dHpSJDf8MsKsvjOELnwFgMEhyecJwe
            DSKZk2YmWGvkexoJLKKHcicUE21XNBsTIpTp3uK39rkev7eKr0bLfRTWh2Qg
            HqwZoNTP9JKzvHmCX/spO8ACU392wt3+XI+v7TKuo/xGBiX/rwfHw3YMlh/E
            Euq7YJY7XIZ211p7+shBaC9vlve3vIWSyDo/026TK41m0/93JhBM7iqtWc3i
            jp7Qg6YVfT4nlUZLILBQJ/eDqM8WjYvvYzu4B6upMYgzuEO9ajybe4MZgzv0
            YsrmqZcPNokAeiHJm99L+m8MOstSygW90AVvNG9N8QmuAhIFl4aAf8AEluoF
            aCpAceraH256P4MUMG6hkuk4HhPJtWTjUlHwkJkc1A42VQpLnt0rRw8cTQVm
            R8b5hLEacVf4vjgllmDvm2957rrB+dKbXulpVq5BpAzmhJQIIe2ZHtQSZyRI
            JWUcI/58T+Vj8TcoldPNk5xdKeM9yahZmBfoE5i00RXwZ7pF4j2fHUrDrjTu
            oFwWxsNhVdTJiu+bXtiTrwt7nRhuk3Z7X3Q6MkseYzPLRREUUmH2WaDowaBi
            IRkJ3NRTO2PwHs5JTFOjerS1MrDlJFcmVUrJOaVxx4UBbzfRWqTFpr5xl1kc
            ReRQn3C/bvXzoNtlajuN30GUGEqwHjrgx3asHB63xN1t1SloTPuNWi7OY24S
            dTO8zvrOqlzK2uditOBx3opXseMYJVCOGFN9mMXZ/fhsx6fuWw8+X369vK/n
            v2f/fezqbS9F34qZuVxVfR3td0eGZtIkn6cl1WNf2a7fDktd2FXmkHB23jLf
            9uH3wQhVy9q07eXPHza2qz9vzHafy8UT3UZjh/uYVAju0o7lDpBH4BeZCV7F
            JyWl+lzQUTUBWeksKnHYk0B7bgZjkc8kMBkhs1JS8PiSDAaLSoxaz512Dtpe
            yVZBV8wek/wMsy2Z0PdUXKdSdbbrBKnrtEMTQby7ZzNi8XD1yic8vZK3dZaj
            BVsp2N/y9/cUW1IOx936VIGBXZ+rM44zwvYsvQ3ZsMEVysOel/mnoJKLge1m
            cDeLmLgiRFyTdj1XaySHmMJpgHpG487HgvMMHoh9hB9gCW1IPsY/JgVmZdr5
            V4l4d1CZBi3+g+mxt8UOBofi5RYvd6AP4BfuA77z9yW7v/JefTGthJicXEHV
            n9vL3rK4E1kOwcaj9POvrMl+qbhSeDoPc/RZOQKGR3eeE0Q47+08yeBJGpCT
            WRWXkIroX+nmOBDLF5YAf2N2YHF7cvt7pdHmK+57qlxto6OQVVtG58H7ex6U
            BiBTdJWfNvSzrZzHsigMWJric0gBZIVTYS4wNezM8gNcZ0qBkqLLQAcdFnzW
            UOw9siUTHtr6exC+R6yd+90O3+8hO/8RQpTeI5z2Humy98ge9pOdfNabwW0Q
            J+1XzDq4oJ+f/XwSz34mFnNiwHsyfAbpULDhTX+zOISgSOLzNZ/yhw0pw9Tg
            jQRCEIIPmUjyB3KKo0yavEhilXUmhopWL0sngudDkU3lQ4VLBGC8GUP6kXbL
            46IcGFmuQOZNKUfKsJl+TBqM/7E+1B3kjKmK0BjYHU0Z1fYJ1IJiKgrWilJn
            mq87WDahOSnW51loDjLzA/rDuShvMxd3ZUILZCbz6Ah2wfSNel70HmDxS4xh
            bZPY5TRIcmvaZ0jmh6Axfo3h1zDniCNk89+Ft3Bx9IqdLW7yT7Gz1hYLJgae
            HfN0h0Iudpx23M+zxcQWezs+vpwDRFVjWXYKceRoc2cfX2YvZ7pBSa30mrlD
            f4h9RaZ0mAwPLPQkBBwVIwxjoXuzsO7LKLHk5+xFCQG0kyd1hcx8PpPfeBIQ
            bQpPwKTLdQi9RFkaRUl60mjpc2A1kFJpolNq8jq+7GVlRsnm/qymGSvkyRL3
            KIgUJbR9a84taPUwV3hkcpDuhLT9B4xfn577RATFLPDMwWyKNw1Hoh18eQco
            fNu4fpgMQrqeBIcdxWBXtcyUPYdB7Pei8zNwVupTFQ/2PJmT2U0s94VNaeZ5
            lt7UPmkOJXWG9UFioELmq5Isk/Gb7tuDlYD5aEOxSuoGQSufqBX0JDxc1mxN
            wS39ZFZzlohNSbzYK0qtZ/yOYZqq/bVa6j5rkHVc+hwnBIWl1IWb0TyKQ7zQ
            5L7S7bx9/bv8vL61vfhco+bnvo9dKmznXP2/Pqc0u+9N86OGKSjXZcFvBakZ
            jIXeS6OcnikDCFAA+eJxoFoCmrBkYEZ6pLo0ZuLVE5ar6Zj8OWbqWUDZ1PTx
            rMxwn7K3Kou4JvN26KaHoH2CxGugPzLu8o/g5c9XNmwdsmkrEvUeHYFlpZkk
            QBbF2N7zFEt3z7l5ukFmYoukpK07WNuT1QraN6oAH7lfFXdK866iBNhiAba+
            1CjGWUbGMN7XEGM4rbD7uCzOoiTP55GEr4xdjubguDh6CTgTJEyPpKcsMFv5
            7P2hPeoZvFpLoELM5yb5402mPYnH8vdjO57x5G9TKDlLz8nfuBJwD3CQR7mA
            +UprZyYHRfL5nUzsZoKtrpkvUQ2Pj/elbOW4mKvY91qnzRFZWHjufedFW1cI
            AWpFs73tePMQLMwSCGFw+vHpgmDD2HO6C5ZnofPDf7u+fqtQDqF4l1uFMpmt
            TZ70l2sw/R5j+37H2iB7vnJpydSXW3EzXgwTYHouGFgBc3U3eld1DgaDMBQE
            jDYp4xHR9UlGJRzrSgSu5gspZa0xC/jYcaNg1vrh0vQQbpKY6aLx9dCrkO3Y
            jR3mlvgrzTfZP+5VV17fgEHJDLThya+H0imGIqlUY7olyNKiX7GdUMkM+Sv1
            XXT/Jg7FXaiTJTdB09nRETzT2DOIlfhzEeFnJ+4ErxVw18Aq9epqFnQY5Gc2
            pZzV/sQMh/7I3JDj3UfIZdwJasyTXEoyOSU53+MxnYDuTO8O2kecV3plCVf/
            sY6vn+dQyfZU7h/njQkJN35a1e99TZJdVgk/ttOP1nYyvlkYh2IxJcefaekg
            gguDQdNGhpzK3ej6l+ujxdAML2Qc189n5TMWwVTfB69JjZ5JxGC14zDpnvA5
            fF/nKooQqCiZRJk922tsuFhvGlA9KbROJqtl6VDSZ/wGW9csrKYlb1dVy6lg
            kALe2wVxL7xsr6/hwIfOGFjurxsXYu8vYGdLiCxX/PVbIqDSEujZn781+20n
            Xf75UtAGzJ+2k4ukkMth2MzHFlxHlbuABjm/0Kt2qhhPyypw1qGGMLTcmEWZ
            Oc4wCzfEnuq28FqKZxhFK2xLJc+TNC1xUOuPOGIMpzY6jvpff/fypumxhUBF
            0nPlL7y1V4PgwYw6ZQEtle7ZymBkjrqYxx6uwRI5G6S2oiHmsKA3ELKrv0gm
            gyStdNuopSNXJhFIn/SFzt4NTSQQr4Nx19ZfyI8uWGLm6e4cXrP5MlNZmZm6
            OuUzyyAkHcLed9D1yDVGqFEGgHtcD9710+iAOL5C0FAyIFRdMdGitFWi55qY
            7svplW0kGE/2NIfIoSLML/TXwX38fCSqvSBiclIxG1ZX0WdqPrq4XJtUChBj
            3XV7U0R/lY52PmyEUHuuxGueDof5PdQgvvFmK9IY5qDcRiqCPBgEU4E6sSQN
            QNO5CxEyqBhpiiHCYByDNXJ4LiW9maqvHmTFin0YpNJ+lgrE6NmQg1KsF2v7
            c3FLPZgQf6TozUwJUVwx5yw7YLb8BcYDQ2pS9kwYTKQyrn467qh8Efua+b3E
            LWd+7liGzvF8ZY57FWAX+rJ81zKeuxLFrKWKvJqwfCcULiJWGhYeg9b0eZNQ
            IKp/SDO/NlNc2XWDNcWW9d4ppplGdZ5vhRTXzcnwTjObZ3vyIXZbE9TYJ7y0
            G4vtiulhWqGhUluRk4K9XiiTusFk4vGKgemYmPeymDyFncEZz+YND5yNMPFg
            SwDTkZC0hL9njw6KMXnCh8PLXfQfaaEHWfk4yds2iFkssl6uxWSBWzmQmB7p
            6ONEaQrKw4jbWaxD5DIydHF6XVLB45NRTOoaWBjTjieWMo9XCoBSH/FcIkMY
            XXToJ7tOjLyOZc1xG/D9CRajvAcVNey3ayetQL/+yetnvz7zRJhYJE6NCfmX
            9zldJN5VUCAXOQXHQu/P+hJPX5CbjP5Bmi70jCij3e6/x9gqnFVh1jTRRa1C
            OsdGYrQQTcieXeyMY+kB+cjnTTZvUgMgZEACk8nyTfkm5B9s9EJtFidyuYUq
            zXbdTKrNG8aRde+qIHq+43S0Q5eVsrGeweDqM7PYU77dMRtsEDDfdIUIn+EW
            LH1VBdCtagKsfNhihKpIIdIS17aT7xaWHwSDqycPB2tj74Vfldm/ilG49PFW
            HKyTOCbT+L9a503PH7HwyUeqMf+kCgSHkKzJqsOt3GGvtMubMsU3mGtYDrcX
            4d6uUE6utLryeS4XQJ7brxJzx8gvv4OhlmAz8i5adV3h9NqG4enr39DyrBbZ
            fKc7dTOiu/Gt3DyROA9JBZysTDLKojceVKmVZYh/Sf0pv1eX6ylSWJlZD0pk
            nwALGrK+pmciWX48EhAeN7nIhviFfgfrXeXWDBcw5T2tFHYx4cBF+bvcS6Ag
            qGCLClAkGsfDbOh2sPw7esXNTVYFO4hNDfJtWT410eKswxsRFDxTumn9i+8V
            YR1mg9aVxxSSvN0nC9UhDIPOo5OQBY+JwcPbhGsvYFZBlbXFTAoeyxTdf3Fs
            LeplKuQZ02GWEMuM7LC02OukFK+jrpdJycOqNY0Sat+4MGFL7WxSW/UaIJur
            e6xcI5+FQvqwZmi3ZOAF6HvQb0Yq0AVMClzDaVMeRFlYH1qUO6HCtqqwxkBX
            hX7NYVELo4l2FP4FQ7LB3zV3Jj3oap1e/TYt1ljAJ6iuJigz5YRWaBZlUXE1
            21ScGFUYDdTA0zIkGUImKPHvNCNK2xtbBRaykJtmsWvvNNDsTnKmDQlxqstV
            yIQ9PXMvrAq46Q6zax6/rgnuXJLKGlOxd7Ri52huhP3emWDQE5wXp5Uv5zmE
            35ICeVyDGTvF3ZFyl+Kz0oeEMReVidtZZej7QjLz3io82ptqRJJjXE6GX1Kx
            WFPxQWGCi1yWygJW4kI3XS325xKoJ+ftoJumCppuWRMGWhNYFzdRxmWAnPtA
            +Q+olg0Xg17LI/8ttFZybipXqoqj0srmSO5Ep8sYcrvsxh/FvVjbzRDXz4Ts
            rYTuwt2ze0zSyXxXqj27sHfZ9iJMP4t6nm1JLauA2lsyjswZ9wxzaoL63P2z
            Z/GH9ePzuTPQWU324/P9Yqzrc96fPa0jPD8/x+OTQW/71ewgSUzqWn2HYKLd
            p1ul9Ffm/X6X7cuoLwyOJ4JvOB1IZm09UtBaEUxO9QjCaAZwX/x3WMbNkG88
            olCqdYXy46sjz5weSIbwy9/V2Df0cYsy+/UPO34uO76wn6Rge+z38hgRZH9+
            EJ3BDy2r/Dum/V4s2CTMujdMobY2bP1AazIGSQq162PU7mg0MbhMEyFPanVE
            RmmsqmZkcnZ5sqjSHFhYNqM4NM1pPmWK0ZnNo/+WD152bwLZl6UJh8HRFPa5
            lICMexaBTySwFCxBsErlSFlx7zAv6fgBdJGi0Ivv+gHD5TL91vTb13sv5f7i
            nVmsZRA/dl+D10mPdZsb3QqN65mUx6sSrW6/VyzGMYlZyjZv0Y6R48OPUSNl
            y6ZnkvokKyPOPVk0xqnfDIr5FvsHtyW2wQIX170E6cPUEaot+92hs432VaUO
            S+lykD62y9Ic0ufMdKB0XYWlmDne00hA0fkmlsIbEVrnimacD7ae4QNEIgE1
            dp6hiS7UJ8ocmlKExCF7qoaofCpaT3+nwHLxMEzPPLxTg6Su5SQ5LsMrdS0o
            8BDV8drXI0AjUY2jBVIVyMUQUb4ILZlJVX08g+gwsP1oUdI/QgTchtX+FIEE
            MlzTjt0yhOjI1P77oEsGx01wOm/aFz3QndeztiKet2plxcZm/cIEKHTaJ49L
            Ppas3h6pK4o9Yt0qjvkwXknL0ALobxV2zRuDyn1Vp630e6emJIPiKx5TJAya
            sW9j2zA0bu/18hxfismZLBglLZEVgyFaucVjLqXz8KB0b8OLrwqtKlO0CSZL
            q2Ab/9E7/B1/f3lYG4yOJwZk/6uXV5dELB/C3133TTDwk0LS/WfPQ6diJFCX
            lRy4uSoogSvejfAkIp7QDCd9WHV4256lZcljo/rLJemvnnIKQok2KNnGkauz
            K2ksqLPj2tkAvL0lVNs4CMthKA12UcUlEBjdOoddq2EUirIlHaqQorC7i76G
            cHWmyLr+XKplAd7HV0e2ZauUHlyO1aCDyPTjGFRsRtcMF0jUdz8mtLcyntU1
            9s7dUWOk3GCcBQxN9Hgoi4QJcKepYBHkvFW6zLQmPCUJD9Wa1jDhvZlmNDyF
            pHnWYAueOWDeUsJPM3DF2pdBFLKZyCWa1bfK3YZtVw2A0jHpSpdK1OlDsWOm
            H8OED2oc1Vrb8txT+6vtx7VPfXbYHGk8qjVtljhP1shVy8Bys9+Kt8ugv6wH
            iA6DKSR3Y1ymC2eQKMrYlsuOZSMTHJv3uZkFZEFyeRKXilmYgdMS1JKLx5YS
            bd/yffSrWVkmp29/pvOJEdb3GSpR3MjSrdrhJzGn++/ETKJlRygRbWfhgS3W
            PjzxjwuH9ZGw9tWBwSCRWDy70hdBwhaZifNpJkqRv1r1NN+rZMB4OgR6+wfV
            CjPBb14vNnoyDtG7pXBQX6DT0fcfmmiGaWKb/J35MQWioBCIMvQjffuKDTuK
            Ct3Lrv7GodiaaT8XqV7PBeIttEZHgbqjhkHz5hZcxBo9s1zSPOZ9epFTUCqL
            irkdWGRm33bfEksYg0ccpk/jXfozDJYbKpoDlFQlydtzc+FSlyPUOaG/Kx1X
            0vLdtDPFk2McmmFcfouHrbDRdjZt3hXFthxhx45bl9qHPPNXZmKtrri6Alu8
            IvGXgmvpZ6UEg5T2/Bgs62QQK/4Qj930B7X6RFlB0D9PVB5/ThRxjf42Ud8s
            lvKcRTDyhfjA/1gpv+63WXa83uq7nyybZTWb7UJvMFeHuUfu04A7vhXT1Z3Q
            ukH22PXwzLMw9PC5XvLrDVdKcT3WL4lQ5s4L+lxXrcSJvlkEKT7dfcNUauE3
            Et2bdwElBdi/Oo7I0r+f7/s6d/+6Tv/n69Rh13njEJnXMRKwXuKPZbXTXXv4
            AJRkCt0y/1EmsibR348wJ6OjeaU3dZI4gZdnySWr6idOOR1ok9FbYiQmvy6B
            KG9YtyAEMJlyJvc9Mfdls6qhvCRTPCehZxSzYWPWxsbxxOEfzNiXEjcw7u7B
            JBPr7DzgUAua6NOjpgTVcv8ULIM5N2QO42wDnIlAHJ5QRyaO7+13YEODX2zw
            2VB0E0gafw7+sCYMbwWAEPJAwBAj89vSYgkO0eAO2UGGEkcfnTovxUmxQ3t0
            WrDIEGnw/Lfl4Fn2J3NitxtrI88c3nV3nNZc9XQFXA0DWBZ/LgPeh8XG4F96
            s/bwsNAq10m2xaIxAZ5fpXyJCcUKHoGNgJjpVYUsxDXn/bGx7bN0hTdE7ziG
            7Kg75jIkFpVSNLFLBS/noIiW5i4H5HRl66cpZ65oenWI0WaldkZ0tZjW/cIS
            3vLhXxagtT7lWtG90EnXyiWl7i6Ox1Str3vnJJkClhXqC4c5Pve5DF2SUPx7
            2OYZjhhWxRADr7WEA2/fKcsDu1XOryzNSZnuZhtjqWra0lhN4BULrKmVBxlG
            5/W5P7n7MgfwIWAgnMs8bhCKfCDNME96yS/80iBEDnE0sbAZW7gt783bQdgg
            akKCr5RGZLRD+7d9fb/NZoz9iLWqBoaKTXPFzFBV9ds+HkbWSCrbkNe40Fx5
            zTTrOrccsOuiXe6ZT5VF3fgebnUkMG+zBuEsgw2liXd/Lxjvl7TpSjomvEwi
            WI6O0yS1BHoZth2y5xktTkoHqMO82nn7AoybWOI7FouCbnK1uiOKwF7HJU5z
            /Ibee7mFiyHDwMjHJhTqW5jId+IwiVntS5nyYGVBgSYz/Z/F66KC10SxqQ44
            8xMGiwZMsSzbi5joCrzi72vk+ec1MsxzA1x/gpGAwp7mm+UEUoFZTARc5ojI
            htr2UipfgLL0IVCXIpHMRuGIU06/K4NRoiBQSWra2VYoOzCSDW3CUB8xtRBl
            o1tq/5a2zsmjmAi9nN7B6fZrcvW9JhLvwWNF5QQpz9ZNajt8ojLMLaWDCdmr
            hv4OfrocFTaqoe4ctnqJR1UPy4TgM3Ld+TlVELLTEn1++DjKTx+HCLqqg+Pm
            JhqXfJg5Rm6ic4slQAirmdPAeczqWT2+zwv9c97LBRoLKu5XMSz39h/Y91cx
            dAXwSdb0t/aPhzBtEhDq//i6iAOIbbfob5mCSSnKsfa6l50uvZ0W25mxnRdb
            m93YUm9OCstirJW8BucnW/1JzeP5k5oxeHfcOgDN2GBwDe8kk9NsuAcGIZyo
            NlebxSK0m5vtwR3x58rdbLQdjiP9F5g+YiSQO/TjZ9BnK7F9/GT9jPH17l0e
            sSKl/1wWlVXOQpMyumapboVYvbP7Wno2mIzC+Bl9MdkT6pcnw/O5uok0PfPP
            CLN7RaHDGAkom8tKNsD4S1zVQgvEWubqPQUtcFks3RxFLItMVumXXG6v9zw8
            qPA08HL1tpdjO43vl+v5We1byWI98PbC4cF0DGELSLO4/3NaC4LosTu+oKoZ
            96ASGfVxHSJYStK+toKMQyy3HF8yOUGglGuzUfcShi8vIblBUojvDzYv5Mhy
            hc3u+/GT+8m97lWcjCIpO8c5ZDmM2+1jJRa/OJIUzfy8CiPbimy86G7pfSon
            WeO5Xs4YhKZ2d88pBeeeMG7praT1H3VfAZq5qQ7CJhhdsuJUsFo+hSahK/fq
            qY6T4fkA4WtAx5Stn9cv1ijMh9PxIKfV4Gz2zP5m+zPGVO7fZo1qx6stbzPF
            B9UwMD4r8VV6XHaCVV7jo9ThKSVfFxv7esQ6M03qVY6SKUebEyy3+Q/2ve1W
            wyOskPhT8y5cmWRmX/ciugLvFc7PvbpzpZnqqZDi/JL37cpMkcqGTVmEzuBI
            surp7uLiO+IOQgw78j5Y83sYxoYcgEo2Xhul73rElp2DO5tPLxKS5VhcLgby
            7ldx8fhmOUxlWfO4t/rlevZ3K8awfwRJUpMLIuWpFtIzjl3u3mwKvSdwUyWT
            YxK7QBEWI+NxsnAT710j1C2dIUVo5aJg6BQqaSW2dMzbLT0oxwnMLdh4Sw0I
            f+gL6lH+pRfA3g/KBPpxvQr9blB2f18P+wJxpQu5oEB5uLpMKT4Xcwk/SnEK
            loKpXu/Jer1/E/E2rZe9G72TImYVS2SiwppZHd2sjl9mNQvlPlkM49yxcC2s
            JVF0b7+GknWG/BrPJoxgTqu8lesG09q5IAG4buU4xosor0GL043C65az1rMy
            T2VlanXu7JxNFFa8ZnU6Vkyh2qtPzgqzlryuCBMfCEVBNl7JEYogiMps3gZb
            OoJiAZA1GJFC7Hdt9Tuxk+meLSP0btgaw0O9VQmQ8YrEClfyIO19xzJ+HJop
            qCQTFuihxANr9OHPk8BBrLLx5zOMbM9A7PRRvIaKNoLQBJvVUpG4uib+gyJE
            80SoCVnrkDgs5VR9KyPxMJigqjNjm1WGl9WWqC5DiED1sGRppkdoP6+ZGAUs
            OH+DsxKB35Da2f/OE5WYe5xftIjUHbkH20v7ndvWi0Rs9+mukLIStR/LucB9
            F0GVQXYzaaESbF99Amoj/us86qO+yHZibouIlgo8EHnLcI6JOTlURMYyz2DB
            C+blEY9PeRyrNS+hTEw/dJihavuat7luZbe5xvz6Z/wHQ7oGPsdNbBBmyuAO
            S60AGldZ6ofkOV22lHmN2+oQ98FQE2TvR4KuwtLJI1pcIhmcRLAeUofDQWp/
            pDNZrReEt3VXJ15rRZDVw72mt6+7mp30DfXEGuBgk2CFSoJj5MqlE7up/8Wt
            wqTKFgTl3tnvh5bjrnl+j01adHwZFRyVuq2nXQr8FSJnnuI0v41OPkjJvhDu
            K5QoTswFdSb3C2hpsxZXwJ5kFddnBcO0Wcq/pQiMXmN82cQTUC1n6/8keHqi
            BhQlmgu75AzurmUJ560o2S2skaVI388+UQ6fKLcyDMAV6xCS+1Cdg2IOWJ+H
            YgzLCCfOD6DpzkILnllGu3W4hry1aJmTXxFM5bGDoBbBWr8cY4moTEeflMzi
            EunidBs3AjmToJjJQd2J7RKUa/kCwjCWmo7TujL322vf2IWYhDAdM0QKI/jK
            aVjVvSa/32kc7941zoRe/joWf9QbXk9g/QCdK2C8k1p2ReU2CVk0ZZnNnnbA
            gpg7WqSwHtY+khh1/mM0aEWPGSxLxN/x6h1LGP77dPszONZW+IXltQMYSi8X
            hpfHw/2457F6Wybs67hsz7HLQYejmhd/2bKhHD2pdCx/7qjEjra8bnqDs3VD
            Q0rLucsimpJ1SfE6Y7li2250coIATnaZI9vv0sAXi3t3fcprYUyFyoUsWG6z
            mJ7HERmIXMp4aJep97xZxacRq7yOQfb+a8r9E6G6+1zdY04uJFlXWHRW6HTY
            1sLodDDxt5ugoHd+0jDQGoov5ioQjSayRC7KS5s9RlBZlHpg2Rg8P12kR9qA
            2KYpbxQhgwKOZEV8uTswANCS35SI1yrLfbFLwD73sRczd/x3JZBUq00mdrk6
            QrOx79cDG8S9ghdsFiwL5Q8vnGN2EUIR8m+12+Uf+xpNeduO+mWy8VsbLsbo
            lnq0Ip/fHMmhu8TJcoFSWZ07mkOIQV95CbNVBj/shaEW1Mu54LSE4Ba2u/xh
            95v5zRGn0BfUZ/b6w4/gvSlqwKxsLPAkCA75LwqjlI/BN5O1169+uUKK6B80
            4Z3cKXeMAaXrGjbfj8E0Vr2sTT4HP9CPvBWsQ/KEuI5pQwYTMEWaaN+m40M/
            1g8w8rARg5jXzzrRoeAL5W8lJSdF9MTooJUSz/eL3WMFqNMdfY9BMC5rcpvG
            qQxVtpPDur9FoDDWBPKrY6mdLuYTq+BTNZ0RMjksAcYlMJP2wT77EWQpplHv
            CSAO0PRs1pnUgl66xCI2GxM2DXOUBfzDxGB70Xh3PER927qNXbx+jt1gn0x3
            o1flDIjFe1+rzz7CY/wOpfPZFHeJhjwgESMPbLJsIeZtYYzI4wJ4GJQ5GDyw
            ypqQjli2RTgsBvU3andNbPxlQCZqyhE6fWldIN3CxghPlr+gr6/Ea39x2ttV
            7etuNidQqtLuxzBvtez+07ESROHWCAT3TARCdXxusVWLgnWmMSsla9Yu9vtL
            JyD7pMOXMnG6Pbzj6dsjuT2Y5237d8LlFne7iHZDPm5xE5eJqS2GODGWclWJ
            BKCJZHO0zdkgFTrzD2E4jnl9uBFr4r+537iel9NNcoZFaGslw3wH0wySgyCA
            vuo3h+Z5qdGH9RnXST1qIzwQT5W5H0IGupSvSXDZT8eZ/ob98aBWZVezGn+x
            mkfmChgoO2JLnomlBubvmZwz8F9MhA/GKDu7xeVPNorcD8sspFh+yp+Uvl9I
            fvF0vL0Pu4oTIhEazlfbhuYNhkFdTOKplC1esiAZVcktUSQtuEsu63fGOgQ5
            Idlf5E69ScHN8cWDadXMoufzFBdLTyVYAiE0MHHgIHJGqa3gz/dbjn6YfoHk
            MPG2MchzVUcl7jRBe7f89M78AvaLYD79IjJR1lhQu+uNo3AKsWlUlhfy3Us0
            VGGmMpo8PziOg+OqEevGSRLjDeDYBtshSCsF32Ty3zpmTqiKzlluMwprUeMv
            ZzPl/KxG8KbXN83BKy5rfw9g8bSwfS5YzO0o8gSC7x7oWdQkWHVfiEPvrYF2
            NGxPdLA8QRKLYYQe1mEmefBnYzaQUFmElZ98s4pXcQKy/6RWgeeu2v4iFoaL
            b8bl3WmjZiJb6as78cLQDFW4sQNaylfs3vr4tBbBEpGnZe2+RZJ0Yd9uim5O
            Udkg4xcxl2hVVCTmoMkPWgjnzrTurxhm19wfeZLMDo6OOhw/5qmh/L4gQQxd
            eUq8xI8I4SCBENCDooLIiMdtDuJaFYRgZcRF2xH2PSQgU0oh43dmC5HzQqyT
            bYn/MkkBlEUHjTx8mRd3W5QKCyu2LxMTIf78TWmo1fwJILRERWqLEUKtMN1q
            f4/UduPn+8w/HTSWLOFs/5c42FZE8I6x29rZ4mHn77/RNbd+iptUL2Cci4Vt
            PW3rZmf9bnG0kYI3cjFZLwNdfVe+M27Akg6yPcNL67+bpyofAkQ4hukxWL0z
            nPje/Xs1ohzNOXL7+FR2Iq2gubL13mYLp+M7eQXENC1xrDZv/PWH0sa8VvnY
            qThNKUeBbRc6Cz1myWrVWyP1fSVkTjat9OwV16yZUavEke4rB2r46N7rQiZU
            NsD2s9KSjS/+p0y16PBTtweEHKTDX0xtCtvcLX0+q1FEthUmcAIcY/6FnEyv
            IDE2kEsyRSkLQkAKk0MLMDWGYCAHPVKPutCeriPRsO3eEnipSDVU15UmvabJ
            08mGEX2ljM80H9PLrgvdwALxs33fct0dU0LRqY5J9L1PSh+VP2gqgri0lPHX
            p1G9II5OOfUKYQp9VGkazY1IQDw6rTorQMJWB/upDs0xmQcryj1r2cLRAMGp
            tKlQjra0Q1insrFOaRmdlm5Fdy6kaBScvCWSEk4mleEPAfUQooERwOO7PV9p
            ZB2ZwAyvIkVQdwJ/tP4x61o3LFWSDX6LzCwu0b15FCeRv5Ul8WTeOWXIMLiM
            4+npvAnzHorepx52TSw5M70CQREWvY8vjDaYHj5HmVZDCMnZ9tHopAPay9Lj
            y7qZnQsKeR73CVi3eluh9Dgm9zj2ZzCafhjY1DEqsVEyWLWDzC98Xh/3r7cX
            PHZEkZBcxD9I3UGstNgIWMXxZoZBJZobxpu5COx5WdduIhq8iejt6uAg/PZ3
            R1F6oroV97MyEiuqXgrU0H2aDMgN+0qW6dTHflCs21mYsnxqNR0bbX47Lajj
            k91xAC7mHbN48rpf+OfNpjc73Wz8ZdueyLrZ7mbjm/1vLX7nO2xP2OsZcxzQ
            c9n3N2GW4e9rMWlL+63fAu/7nj83kBwBHoY7r7Y4WH79emxPnVkbWxyZJ+7j
            JNtOs8efL7N/lKUQ6Tm22LmjBeaeHhST2VA826kmt/b60gdOJa1oEcghFgQg
            HPvwam6BvlTlKljksRuGaZ0EKC5VUDNMZ3a/NRbHnY6ffut0WNAi+vHrfMb2
            XSe1Afz4rnns1jx3FK1ZzZ4ihQVyv3lnnLdPB6G2sbJZIVrYBsE74TDYLEjp
            r3L03MxqOZPMJIOhZBe69HbwqTA3M/s018sTW6fhpCuJdFqFE8We2PN4bn7m
            fouQWq5EeSQOu1ksODWx49s4cX3eA6/FCsNA1kxEYkZZsGws5sIUr0iJjneK
            wfAgonerhYJ8yTdioaJhsGe4Jpk3O3eweBrygSKZIWus5LTPHew16Z+P6rUf
            zKyGuKMyewdDV96BschKUAYdMR8lfiCJstUR1HPm48fgqmOMEGXcB9D+4kxx
            uCDLooGdqVaGtg/KZMiN4diWt2KjiGF+9JJsWlJsAOkQHd9NN+slp5O097Cx
            mU7L+KEFkS5XdI6mEPHNFhOejMJzF3OgKhejYuyq1qUIwrwla530qQWgRu1B
            oMfjBW9wK7kclfb9Ax/0I3elnbNtqifNMszNZwrsuGB6RYjn22MD6+snG/4v
            OC8M6XqzPaL1ed6N2motm/N6TzFyXhXc+jsR/pNQvfzalEn0wuBYQ4JmAaTF
            d86X1RRWVpuyaRN/WObPFsgpW+J+A8/3rWh8MELVgtB9/JvNbTb12+f/AkM4
            G9xJD4ezwy0OprdXerVrFw+71Pmf2PfLVjc7de39NxsdLiY2OycGBHkYzUzK
            fmoH0Uuv6Kcv1F4U/FHO4vFN+G9OvqqAVLsOzfyWiZ3JoqMjm3RvtUH8m+tt
            gH7QdXZ4qjx9UkyQyZYd7LjxcpDRKW04Fff11izIVD3MWceWIskrlVxXEGSg
            ON1gTghdzR3cVKD3WCxWwrYtgmtMPnNhdbCCF3rxUAIvAKI4lYhBtkPTDDb6
            auw0QbZPnTbjwaDaJOEdnkrF9gem775ygIsNrlYLYZmv+3g/Z+M60h2WYXaJ
            fLK5qNUchaljt1zKh3cDGlWwL5ZKJuguUnWw37NVRgVDCPkywxz+hTA0VBGV
            uwGC5zbS8LlvGsJ/HP/48U82EJDHj38LUg4VkChAc7Jo37sd7XwAdTfCM2Jk
            Ge7+I9tK9RVZhTe3oq3d4a27cbZnmetYaeqYE8hgmPJ3E1f2OgcuxtNLy3cR
            y87RLF66DhP3soqi9RD27xMmuocFRr4hVFmxQkIwBDn6lqUE+r6D8DbDW+8e
            npNO3yMDJkLuJdukp88plvt7ZEdZr7o51Ajm/nLc9OYOEGnSGCtYZ9JFmC0D
            eX9NKKS8DmP3xoI9WIVzHbZsMTFzp5grG/fMBuOYPDH19GRQDGyydkiXJB7P
            xaTP8uUUov/htkwd1eeJ85nIGpc9yxOea5zZnE7j0riobTHLObaHUk/kvgwG
            k4pWoJXfF8eEt++vI+tk6w9mQJ9OhO6UIiHN5cGeIOUPHPutnUwSWTzmpPYE
            yw7v2S56DO1zGA8kozKxTn4f7hqSRocfr521K0dMeW7ipjz90/dq91vex/Ei
            V30+kxotX1AD15XTRj/A/ZYxBdWMVr/+2b7iAm3YRDLXSasCAzyW6QQsalrf
            jay74OTJWeJj2LfQ0T4Dyz7TKQqIv9LlJdg1IwIN9L0nqlg6/HY2Mb+eQF+8
            FnWPoqr/cnpm0cFnorQnB7TVPNT7TDglfp3zUlPuRaAp9rWGTmAN8Kj4ceGR
            vXMcz6pVrmrj24pNtFC6PcPmLriekJpL+owVlTtCvxlirYeRL3Nh7zGQbvH1
            zkrEZYQ2WYyCc3Q8xfIFWJh8HJ/JO65HbCu0n9SW05/UFuqH2ljbtj/3/Jzf
            1MaM4W8CG1Z6dtOx8m8IDRx0aSXm78Zs7iyyMKoVcV4CO14bPFNN125bscfp
            SmYzglKOPv0cn3yCIHt7SeyM1/5e3hDds4Z2q4+XkNIlxfPozl0siCPlLHq3
            Xnk/oytiXKGn+wN8H3GKYlXBigXmsj3zdXvp+/PrmfvnmRkoi5YqZ013/ZoE
            J6OYe9TZKSVPt9Nv5zBQ0sd0gWZg0X4yFUGYIdPBCtXwxUEM9Vt+vIqGCIG/
            ql1/1xNse/4FTfBC1e7wKtue50QxBtGJtppU3hW8EfgI5NYUTd3lZ1db5bjZ
            fdid5Z2A2W14d4vXBBmikMBPsdqub4KL/UNwet/sdYg7OdMDTeErXJtmXrur
            ve6N609DfUuMklZPjuV1ami3VnOSnH/2cRfT1LvVPvQo9PCxxQ7zLDfXVH6A
            tQE7VgNHKTCPgzVDp3eWlV8vQCUXGlh+uHESxU60xFTOv36rVrBieR80WhPj
            CjQKR2rRC4KS2JaoDMuU0e+HK/5mRosePqTCm56W/kxsu64u2OraSxBHDaYm
            Z4AVMV2a6dPN6u8J13kogwpPJ0Qk7io8Z2ykSbHM8aJO6nr3ctjc5iVmydpU
            SZN2GN3h+fTZIOHC258kmExnOvgBk5Sc4a04TofBBXajV2r422rJhyF/qI5D
            IWTbNmecL/b8CxV6KJDJqniKu5CLa8kqB9KDNQaUk/N7VhvWYblowTGUSXFp
            eS0/W4hcXznw8ZMDP/6SA5+G5b4rWyewWIfaqWUDXwy+0L1orLMyi5SZtnU+
            lz5nYf1NfqaTBYpE57PRxqXNTKrkd3oHqwVv7Pvt37t/v/x7ZnjWikpyMUwC
            QrZGtlVi/1U2vImqPk5adfeV4n29E5Wo7FTKOHWvYOZuvHsbHLdyMDRM2dfl
            iiIq+T4P8vH+cQ40DSI7QprL/8Cc/4I54Qo58f9gtMrsAQujT7Weu2MClELw
            8hEx7txXsU3aNjx1ofpUQNTEnrcbU6ttmN8kbcHbHLbrfbDjtAfTsh/f6ViY
            oDuukx1irZMe2GoytKgkMA7CE7OKg+2FH8OYITi/lVkYlKltLxUCinKHuVmt
            ACyzWCjC2jjXB4hG3hNiETPDoDlcaTfh9jdvyhEdVuxXSG4b6TUJiRqzswEQ
            vbNYKGEzTAZJwWqusk5jzrGANzguOlGBIkFo0ldt0CDaFZn4sXabm5vahDPL
            08BahJGqVE7W2dB46mB24+d5VFd3dQGrBanO8dhoAi0dO+Mhm9uL1kz7J7gH
            d1ALK53pzkNuD1NLhCUVDDhEOpoqEb7Ay1wKfupOJcmErpwpLNVKBlKQxRes
            UBtecAQGSJ9SdiaprtQbQzx+lVLcxui+JV3+Uq32tejeGG7c8Ro7D3VXCrRs
            jI5NH4WBSCYXklQCSDPlOCjWAVPfyvriMyENlfswLm+uqw5QjnekIl5oBI5h
            yA5UiTmdw641Wl6MfjKVT7ko7d3/nGyAi/3NtmWCPTHwsYI6SUfmp+NlnjTV
            UvsmluB5OOQOGMuwnE9qhu08H+YAWvJvtq5ZhKxiZ2GZ74LzlehXh3K1CT3k
            x3n6zFefry7IyXAJJHd7p7jgFkt4bqih7bIQZlWh+KVPFM9fE3vVW4T4kYeb
            gMkMir5V+WoX/NVR+22qOPe+423KuJ2vy9u6xER0XZuv6g0py+PpCq5WlJ2L
            s3/fpRsiZqGago5blXrAqvEWHXYn6Pv+HHbZIBsU7pbc7jT0Nqaeph9MQrB6
            7M96Sxucujz9rWpiaeWoSSCbB8XJDDNPRaC44T5iGSTLfWAkVvtuYiZ0K5A+
            +zsQeXjuCrsUnt4ePCqdXv17V3KwzkUn3KeNufmcojnYEn2fgihMbJc6vKyC
            gNvR6j4/2XF+32StIpRfsj59d0J+Oy1/JtBbx5oin3+iDB+W2AOxlr/aM/wD
            2kqJ5safty4034zmAcpiciukHn+7bnUFSET9ID4Lg0mELLZOT70umgjFRSzR
            /G8holc2CCEYwU1LgOKyaLVh6WbLtoCRTeUTFg5zOdkHUAWw1Cul/CoWMWhq
            LweM5RwqTSDRQU+OgQFTj7djSD3gSrwmk12wykqtzKCSPFhWJ5Fs1WvFgonf
            JCoioyc/t8xHaOuDBKIC26bfTGeEhV6wyGMbMBWH7WfHQcgZIgFvZBy3MB/H
            sg0+jqwAl9qCQSZ4eT0NUIVeXJXLQR9m50rnHEn1IcGIB2S45u7TS5AwhzsK
            ruYV3w7cxEhg9scQ24958SWm6tPv6AITg3KxsvrmhPHlk4TgtQN1fPDvgSYc
            8ypB5j/kB0tFS2RkNAo7Ymy4/Cfn2xqljMvacxnCuuBz2SYiGKBH+LTXOr2S
            m+VZH+EeLPtaPeoOf77HfRSPlcX9zuRmM5QZ8mBD4HPJmfcwZR77mO1AfPpB
            zsQt24txqxaoX4nA503gBdYo+7uD5UJcDaU1sIUaY2+nPocwGnv+jrTM18Kx
            GMX1c3AIiCuWsHVz0knnDCzcpeY0u5q42zmmqJB4Qvr9LMfXs1iK4GDDb0VT
            kgGBcf4oYpnjDvbZphX8tLNPBmCfLWs6X0yFJ0n94NKWP9AhwwcU61fXarAh
            Dv7NBsVDLS8ud7IFBw7pymIeNmk89rh+su8fhhDL2gh6ntTVUo0R8RwXXpYt
            kohDfEzDcTw94bji2KgMaPZh62yp0c4xzAsr7F6WEhLqhN3S2FMqdFVIheui
            J5Rshgy07yRbBsxP83yq/6Rc7owsx9fMV/QeEwdmIjn8Jj3vwTZfzddzF3vu
            cD8n83DrDhuodfo4dt0ojbD9/CyDcFjuY79fCPI0C70JxgRUGQaRLhpFJyf3
            jNYmXq1dfeHe68XnOvICUXfvgQYtpSh2RDzYvbKYLTzzyQsG9nBLOjHmaj0W
            yMoyezPhM47J+yaLeZJuhHxjmCc1dWn9010SOgoD+Vt5gU6UvF15uiypyFPV
            +u49NzoBVt+Sf/XWXdNASPq2ughwvaEGgizk/uJAzGu8v9FzGs2lvr/PZt5o
            vgcsxNm+Pc9ef9EP1Qu3+cAwZ+cqLpCSEqnpIdFDV8C2bI7F1qptN0QcmIz4
            MVWYVaaQ+1DV16XKukBzvILzGEYUf2MxUT6sa+guD2iERzJIRDXO8JrYdkI7
            P5v/JuIazCjBA8Esym8ubaXeQ6/y7a4IQZ+zYJUYuPuhJh1XD7181katYZkw
            ALQ8ukpwW0VdieOodtpNgaLrEgzgy96PYbbOWBtr2c670zLn3frZ1Pf05Bw2
            6jTrky475hv6RHZLgSeYPROOCpNqDmZQyMtohHg/PiFGzLTXIj3TTgDTQtqT
            WBBEa1c2F4mIinuW4qZVKx/BaFbud9t1giUkYYzAymYbRPPG6h8qzWtRzrJY
            wXIlUlrQlvVANKtgrJ3y5EPl+1JOWbSz70mNnqv46R80mlnpd/osFsIJuMRc
            pqAWcksGO8cbzd2e3MMrznCdku2ap4UOTqhBDOmPAd5NmGA2dYOR3qwUf4IY
            6Ge5LEw8rEtRvHfLUFvJZLVRibierENHAp2SezIgg4YrPK8s3sTQ3Tl2r9OJ
            YV27hQ4RWQk/fDSxyYesOh9YLHTTa/Uyla4tJrGx7pLI6ZlT0dkQRUE2EwER
            7JZeVGZcG0yhgnICL2W+amgGZMpVE8nRuvQeZmeb6YUrvLqLd4NZRpyXoHSO
            JkC9Nw37/siwyRA3lz81uEOl6UzKJDj0EnUOFnj6wGHGLIGCNuFV0g4MHcIg
            uNflWdhko/M6Nvu5yQuTtwjMakf1Q0EStJxnTwVHCdnVQlRCJEuqZMnafic8
            x1AnbiuZSl/eUA5IJXu8l3GG+7AimeerVE3mCktSWe7PQhOG+JIK+B8i5Tei
            rgx1SRb6irRENQZ+u9yxXryEYEpm4HuqpvrtDxDczHlLEtl7g+Jinq8TLui6
            kK+XVahTmWNdBcaYChdMPdzrAnPulj8Z52xhEy6xGPZqgUI7p6XCWgP0jR/U
            qRj5S/BFs78YHyaxCSwRywYmexqY5Mny5gEtmxA7Xh7PBmWccPzW1MSBSkyR
            csUuLoQoPQROAfkzbwjlpC7uIDPKRhWIjlPtbzAaYGmRxLJMMySxMq3+uD41
            gd3aV9MlrX6UDBdv1jMt9HtDqWGvB3meeE4UTKpMISaxXLs/0p78TQzd+ydt
            Nq7Y+ZNX/MqRsMz7Q/ItN0eVS1/JvnjXBeI5s+zcxUndjhfpBFG9IZ80gyqt
            CNl2+0SN9Nyv2TW9Iv1URJW5ie9947D7UmZuMHAqoIz7vh5z5oZ4RFlJOPEi
            CUS1KVdVwEYRT5/2gBRO6tXITOq4y+OMfdxQvAys0V14Fo8AEyAXXsyAd6Oc
            CfjEtfrS66k9UNNIpWqWmdwA4mMMpTHuyxZj/YbtPBVzGzBqJu1EFoEyx7zQ
            GJ6qX+qEKWLiIN5QgEgU9s+2s5iBc/azWCE4dL+uZtI4djL6kv3c4DHrPEDs
            Jum7BSHdB98h0dPHhXZXkRATtTFx9Kyw1ZkcAqd825zJw66ZMkMsrOiT8E+K
            IWKSkzd7OE+MnOHwXVvRsOXJmMn68mwQdNbatDoiZGzscAMBQAyNFsALz4x1
            BuHCJRaprEK7mAOreJaLUOWEEVEPtMNKmV9jjktteG7WZXDjmWRSZJgZ7AhX
            M9VQhevsd+4nqUKBlF201JaGRdsReuClKlhpMY01coa/e7MTHnOyPDgzH3kh
            RGX0HOD7/fY0YSOM02QI3sP4Wcagni79QZXPeMaXIQv9MeFW7COQT9adwQhN
            no8jAp/VvhPGV7VmXzHyH04ApmPl0A2DB3xKiJaWSIjdqx6wq5be7fmLXTVe
            uyp97CrB0FDJ6x+tcE+6YAvAa+L90RpU6WON0YmJ4K3IzJ0jpMfTwIGu5Dp9
            pAop3HH21AZ74fdsKqYbaJp4oTFCg9gDJ4PuNscuETCr2zgMIZ+uRtPXRyrm
            6mQXY+6rhlm7kSixPq+opny0tjylV+6mpUgYMyCSd0VWjtpuzjeNp9pzRrU1
            Y+5aUKu3KLi2MLdWBgK/8V5YSFOGcFdmIlRWbyZIze50gzva+5JQJvmpv/vp
            jRPeXt1Pk6e/0KfYsejv48vT/zBk7QYSpv5WhwfrMaNaPXUrdLQkYsQ+ddBa
            BmcYWY3h26IVXliTw9QodeuxhugcAHYt/B7EyK7KSXB8VFWPScmOwbw3cD4G
            gxR+R1w1WvdEsZvlcCSBxCAth5l3MPyJBCUwXhlaIiQYweyMI8TqbAoAU1uI
            gi2hc668VcWt0tbHKPY41Winvx2mRank30SrZ2zbMvEPa1xzqVnOUzBwpw/c
            LIuljJMgveDh2B4axEFH601M8h/HZ+oX2+qmm2PhM46tdMpSI1+WMDdZ94Ql
            j62yEzsLQjtDLoG5StTrl1vX2r/bZUCqaoBfHs+lTMinqdUkdsJ7dOL1fAb2
            YMre70Hiut6tsphEGIKV/1BjIZtmdwnp8nSQPvm2IrgKLRbPc7O5Kev/qyQ7
            c5m0ZS4VntccLbVzxVA28zxd67bjcE3bzkeY/bz2bavrfc5dqfExVh0ojZMK
            C6aoInD3E9moR6NZt0DWTLe331Qlqt/bX7TLafl8V/dtbUENU77065taArtH
            nV+4EGKy28dwWntDFlx/FQbTP3LvTsZkrBczZchnqIAylsDhs4hjpGOMPohW
            1I35hIa7xB/YpvHokoansINNi9sJQnco/S4E3MfgDuFfDB0bCRj7Jd2XFVG/
            kJBW3kDkPC7/1x/DjADnbXI8Losm9h9tpWUtVKZzKHJmWx+Msi4lGlMIqIsY
            61bdAXMma7ibDJCjayvFJMd8s/U0cdky86pYKXIYjFG8hMT22DWUsBMMS5qK
            ePVuYhKM0c1jBnyGZZVFxTRYm1aTEOnwefKsJlQZU9yhCjGaSnNW2XCZ2eTQ
            LhmgW2LGF5b8YlRTmLa7g5nHaXivtJT1RaKnRz9trYAs06CJ2P1VlXi6T3BB
            Q0hFVtKpmys1EO5j89RmUE/JlpBBMhAhhtubvcrdsOi7LPOnqU9Kxmq+vrvb
            gBclb1I2zZz+2cfqgzZkDRqvxW7vk0VI1E2sbQG7T7qDycoGpm3XYQk4d7ff
            IV6Jwn0Mv1jynM27WStbemeYIKg63PJMUuQx1N7XKrd3FfoFtS1IehNTYbn7
            e0k9FA4UG7rI3764X0RzfUDPKSTUz4kgpYzpm5ReMmU9W57aRAiWoEC1tTOD
            3dFcRhdYlwJw/O3xyve1jYrbjInV7Xt0c7Vd+cs2J0r5/QHTwM0lRfMtDxhT
            MtXFlnpno6nR29z67fYM1ufp3g/vOrv3wxvKUenud17veapkjixavPZyxySv
            Um51eXlzMA+PLBrMXpy99V2atkG+3lyBS5kbqmncPQGzq3hYTeyCokTgoxja
            a6ZbGmwxnS1vj1pqj3TwAGFxKwpi/RVfX8jhvpBi1+WkJQpCT/njtcy0ZEaj
            +2Fq0GTTBbzfdWTYW/Utvw9bE2FOQCD0hwVvLOZwNqshFUGASOmDY3erT2/z
            /gTLuGW3PQroRge+B8Cm5Wa+ATpWdzG/5IIW9chn1d82NfkwwyJuggC/X3Nh
            gBZ5tiXfslLckc5OtQMPhnB2W1NusaR+KLkWE5OIArH6bkzdiUVgevLuD/WW
            sn+cSYc1aW1kcNcG+dp1j9unUN3btrWF7ULeoF9ekQC9MX+ZzyoxGxxxTBvL
            SwQRw9dghghzmVocVyGln7CsqjeIEH4OVsCdoGUJJszAJM5P98nDZnIE1ewF
            FZyEg3KhmFXYqkVgGJAQREz6eJWS4HXneL1Mt30nxZ/WWZxUFt99SWHKa1uI
            i5NLy8/N320ZHa4t7B7vdJIwk6u7N4wqpVX81KFqZBaL3FbJva3FXD8xbRa2
            iPId+0llYdRk6NL6361dW5LjMA67kmVJtvQp2/L9j7QEQDpOb8/UVs12zVQ6
            nfgtUXyAAKV1bIJacEEVOVtpAbwo6KA97C4f3y3rGI3ZAR7LoSxgk9obGNov
            8EfDpI1yDyBy7Dtg6CBaHAp1YJ7F70W/b+R6PMFYbNuPdCdb0DQEbIVk0n4s
            Z/EdsVTRCItZf/Yl5rdwBDGYHDAb280bOQIEhTmZZgRtK9cAlFHhu29ReTLH
            YAakfJfEPFK1hGxn50eCeYNAOAYN0qKHyBdRpsPDDoABWbkQG9yvWreOf5NJ
            bEW+8JPFi4yet5jL61sktE3mk/zp9gn18s1nWrTSRTavNWXvtrN/UrqXywAR
            bmL/QHsTk8HOqwiZ0kfWAyneRcxBVS5w1p1l+whcoUciKnQWJR55VSshIt0F
            PUNT+onmnZ2Vaqd0eO3Z23sUv0DPS3r8rRS0XCIzumULzDUEDnN70BPo/XBA
            c8M7mUyvkyy6gzgKkLYVYNexITMFB34ixbTB5h5+cWAbnbbCHx0wRrRvVrtw
            LNYXB1YX89G2vNumsY0ZdOjcl/sH/8/DEVz1sG29mhXq7j5LIaczvdKF8P1h
            /3amTqRctpjRjSxtg1WeywdZ1jZYI8d6j3TNz/7GZT7Uxs5lHLvZavfs60SM
            Yts5ADhyXMdBSPwsLG1b6HSS3YXhF1XTpy0VR1WlbVXHNNfVm6xoQHSzZByD
            Mx78XlRuDWxcAu3d+u05/mmwNueWjGXAJsHBjGvuyAYVaK9VSb/HB5/m08P7
            2aonkmbz/jbf2RvfysYNv5lmlmcZLIQsgJyj59bWyIvYwUmP8bCBM20pESgP
            iTl4mVUNHYUy07ZojxIq5lwgExZkC7NWCRzs3NnNrgWbsnDhytnQo/fJGdyI
            pNxowiWzENIWnckKMmZ+T0yzjXWjpGckTPC9vj5pUCa9j7Qfq3zLg5CF3dOZ
            hZHk6at14X03R4zYmgC1BhuD5CTalSLviuljJ1oqYGm9wpKj/EHGxqXDM25s
            HLwXiiOjirpUQPbBUN6XM2JlotF0Mmd96lcbGj+Ocybx7iixcFwT4P0HTwFw
            GKWa3C8CWDfcjmHfPZL9P7H62QpL1eK9+xglxTOeAsTrjwaeD5KwdeAhwyBD
            CeGBS1hofNgw89ReD+U+4TaomriMG5JTFrsviu4GCGsAP0AJX0ECFwL0bCBx
            4v50Z3O65Ll6wCfi/CryyqCu7Ct12FgEtV+gBNhe9g96LYQOdNk/3MeTkF4i
            i0cZzIiR9JpJ+bOwknzCnSOWgOi5/mB+6tqrWYUeDfDHFD1EmxSY4wNiQz7b
            bW3gHdBcADGYg9fdsAw0VZnl/tcT5gkCYt5dz/6Q480BUl245bfjHD+OA+af
            lcdBWIxO+UY2K7aLdBRoGshp7EDmX+SB4+FYuznd/499w9Cbg992pCgt0CUM
            E0ECG7HIKHrzmooGd9BOI4jYgaNdgGrabcbvcGGY0jh94WDDd1dBmSaGemYd
            7StkKGLkGSJ+Nkmu3WK2Y4rENn9vW1azdZM02s/3dzWDob/IQlBwhQI6uSvg
            oAt1XEsckH5fx6Q2f3zxaspCxbcZtBB2BIJsbfXANGZe5ZAavPnikmdyno+E
            llyXtYSiOLapJETt6BGpm3xaJoiw/Riu5IcWmxgw6PDDPoEoB8i2gRkYMUT5
            9xmFAYrJwAG6fibAnGj3/Lh5ydaifzxWR0fUexDxYZPjS6wBeKBb1oRAWQ08
            RPEZrDLLeIkrMwut//ugpsDclbv4Dn6fPQzp9xX84v88EzEL149V4ay/LJz/
            ZSaC7B37hsvyW2q1Xp6Qcr+XgE22wMy8UDomElaD253x+o8zm3X8MOtOLrtK
            9LYRsvFzWbqIXJtY6rjEFc3cDhzrpPjczcJE9v16ijmDmmN7d/3rOoVfOSAf
            81q7i6cGMoSKuS6DxWYlyQmCpAaeSzOnyFekKBeFeh1pGka13wdUdQl6Fcqp
            JvJmjYSM7er+QEIgTMSgrSpPouuI3FGU6xbmq5ROlzPSbbflJk2CmXizLinO
            Z20X9HQ3tUla3E/CQzj/onfeSfTW04HXCjoJc9XhibkVallOEBJ7cSMR4GG2
            hApSpKkZrGFtFNu+FAVP9cgmzy5fajF9VH689nst8+XTDKRHdC2LJDWZe4LZ
            zYuX6uw5DKHI+vfDlD9cPU0SwdzhicCAZIT/HIMerm7dTq3dZuRI8Na8RyED
            LkezQKSM2ey68SLnZead/MsDWQ9UolAsvoCCHoywB1LKGIXoNrL/YMI7U+wL
            4CaLpqD1HZFigJWgUGfh//5wWkJGvnwoiNhDXNndDyN92meCu2FNrr7u31yT
            sOrb1cs73szrzRvTFOgRAfdAzhf7KICVMHtx1Xw+wKMKaUXsQxTRKv0lEdza
            3UX+5+pEedgTA2YTssuA7M3zwxMalBU4N8L5gHOBkj04vO0cpp0DU0c3QAWe
            OoJcZdBR21IQnwOeGNdHHo8stUTxrG1pU1/wjk4fCtRMsLhLBYHE8gurxvim
            yHt/oOI3GO6+dQjLIXcFjKO8Tad5fh7Azu5yjdrrUzPxzO1XBQs7PsBg0QVq
            mapLPHLKb4h/qq9jHNfDXkeout3UFKo+G3Gpo8zX+yLRVUkgeH9dCNJ5R+Nd
            yuavU+QmEk2lIhITjg5DhEPxlUtT3SIE67p/HvWMiRs3zp5HezG1ky7ZQwOb
            5ehEJ4EX6Ah6FU61XyPkhiLxSLi2m4/eJYa6Ov+ULs7rHHYcVOek3yczgUpv
            CQigPQw8xN4URMb3y/X6/vrf32+nvv8FYzQjey7qvQW0A7DrxaEzhCiiUN+V
            6s4IWhHF3lQPynu0C2ylYf+gZiMpSzLTiLG/rcz7zCyA1PSHEwlNC0MU3mON
            gn5WO19MMz86lWDbLbg9ldaWBjW5rpXprWlySpPNDbIszC6q7w/5IHaKQnzr
            rffM/IYtiLTjUljJoCFaqG/5kd6z7VE6VQGfvArqAWBnFGFmTDZugz4JqCZ1
            zkiNdyXBLq+RqL8XqYOLHVcTnZoOQl10Q5XyvgTdBu2yut6Rmk1OjJm8Zy54
            F6JqJO4fel5ABwzzTCZ7xlyxBNw4Xa1VQCCkh3WkvvL2sR/c3CCocDWYyLH0
            JXn2UFBxYMslJoI7enmFvVasETPXGIVAEx/2vmKU2I3BtK6jFNnRovYqW/OP
            p0Nm8Q4Z6Saw7SuIR7sYYZf/4fXQ7yLQvICdY/NpY4ih38W93E/f5v1qKxnX
            HSgI2jl2WzPw3maT3g9/35QHCivR28vkiblOIqLtyTHVXtR0unXznjqaV5Vg
            6Cxjd7Gx9e26XdtQWPfqvcpC8low8JrqWXYaow7k0VykN5Y9T4604jJzALZ2
            p87rD7UuuZxCXaQfagtrg/EMb0JdpU3wpKroLeK/mblTtQawpgHWTdGM/In9
            ugCZDY0SkOUgwwlIuu3aMLuTBZtnZmqHmVHUdRIpctX9ShqcKmTcl+JZy8Da
            A1m2slDVcyo7aO7Uj5ezah02pa/pLVe4FigsogL5HmR7SCBnUFrvKNui2re8
            W+IqeJ3M9nAmR5xHWZ991M21rctK2p9l5IS/8TvpbvF388USYmNmX1VVzcWl
            luH4xEDfBIroQB9/TMcp1NmTDhZTCP9+Xh95uedmon0Lzp9ItxM6gcjcVgkA
            6OGNQIcJd/laeVMHu2rtpi5OtUPIQfI2sWPvWR0q5i3u5IGgXrRT4JlF2fJL
            xBNFhnXYANk5QO5CZLMtYYk3n7FdQkbHhpUZkPkMkFOMZ7i2ZtcW15SRus/2
            QAe91kI+J1gps3dUb7G7koNFrZLu5nvQHBy05Ioyc7DGvljq7ahIV8Iykz8U
            8wo7K5oZel8C/wK/lWzppVd8XYhV2UZsrxi7Dfo7du8z48D7xdCOzh/UmA7R
            7NhI4H7wPe6r2he2uHfTrUAjEoVmFBsvRZii35ougKjmwuosBM29n2jGsBGQ
            FNyyeA/gxO7aTvKCul6vdop38Tr7u9OHSB9cSvXXcva313VF34Av+HOqEwh1
            KFWykkU4wt9vg7UBWppb4hr8W97vW/heIDpuEpDURj6yD9bhcs1EcC2vZe6R
            CkNWA8R0ML+9Xux3JL6BDDDVnmq3hRlZpARE/tPZ4yJoSEbRCjRZSBSmyB8N
            bzwBWmvRcatmqSFApd6BjMLXjoovCaT2IAnJKpSZo3MV97TBbJGkgykir+v+
            TMKArGPw3QBB0xqROqPzYyCjd/sfmks8OOKaxhTPvfYqaThA1Uthfx+YM6gM
            ckGUWyXiS+j2Sl8CZdth+wAbOpAXwoOx/7AiDrV1m6pvp/rTMkQZpcPADqHm
            xA1QQFz2YFUVf2FLdr/sQD87gmKw9Hng9qAMdqheo8HScNG19AFWJ7A1LM7G
            CaRHSuW7If4dw9TPYguVIQSrlHcHGjtc1k69sA1S7XRwktYiSa8AI7VSoSgU
            OCFmxQ7X7A7S+h0L7S4fc7EI1LrNGOf7gC8W8mQo16NQkgj6eryp2RTMbCgG
            2cAEyFAVJI50bwxeguTe/tY+V5Kmw3tXYUo4X9LrSpPcqq+r9072+F6sbAmS
            jtUzuqonUnnxqQtAvQSdx5HN9P7fJkKik/7t4UkunGsTNZfaQDMWq7yyy2TF
            NqTiCrxOywRk8fxuKSEzaCBY2rZ/yFG6R4BNGJXqSg1HReNG6VxMF1hxrwv+
            6VVqOPJbmWfWqxIpp5Skki+/yP4tH6EPH2tOYNpPEqJ1jA9K/qGnf/UsDwK+
            VeXwsZLNvlN3YaH552shTWIRw/LmjK1k7Nij9L/ibjUKiK2PHOCxiCQtHwob
            9yCAMLtukWNlX9VtXsdJFeo/fn4y+fDnzyc0r//y+Y4MyV8+35B7TH/Z/rSI
            tPz58778/fOMWP6v16fzX6WUjH4Z9rOuRe/Nw9H76p9Xfy/Cdgmpm89KJPza
            iz6cizf2FFaXs2+8+87YhkTT4O8vvZ9+8C5R3WU1W8v36/L7j056rehYWhcl
            CsU5zJ/t2vaPJiRwPWYu7T2cHu43bxsbkZB/77/s3wJMVsf3WpbXOay3Be+/
            fL8e+nv31wEsHSiVb73Gzzi2wuveKU1uD6RXVnAucqEAPJw/V2HnW1v/2n7v
            2/vzzwlo+zNr+5/77Wms7+1mbePr/tSm+58Ht2/qkkL5lq+xX3hhPNyEgQbI
            bu0zDb/pfoj4EqoN+ju5hsHS9OvfiTjnC2C4lNoc1FVpG4fDmhwRy3rs0hYf
            JPl8RD/b9/vPdcVn75/kg5TGS5qhvj+7oPgOsHX/AQXiXrw= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
