<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3473</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3473</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3473</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3473_v4221</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>13427</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3473_v4221</key>
          <data>
            eNrsvdmS7bqxLfauryF6QG/o+P+f5DFGArNmrb0lHTkcJ+zw3UslTpIgCAKJ
            7Jt/Pv7hf/F5vFvtH/+s5dWFxz35eXaPsfjon+j6dGnjypuDSzX0+PMrlMen
            fP7K+avnr52/fv7G+Zvnb52/ff5e+8PL7c+dP3/+wvmL5y+dv3z+yvmr56/x
            z1f3Pv1d/M73/IefeEELBf/ffYoRvT79eTgD3j2//kv9H/98x4t7mCrnEv7f
            51lSTiXmN7/4/+qflFKI3j954VrE3YmRPa0+7C3ga3l0xfO9T8BfeSqvtPCg
            nY/3bU0tOlpM3Hcxo3eO3HGtJkb46mnPf7kH9rbwkjPmcXrp5xj9+YZzrPct
            54hV5Pr7co7z9LPOfX+eC+dYJsfyWCuPbtAhxmf3g7WZ+tErJvb5mXF9N0cQ
            H5e1Eqfn81Sd9y0v7718Cb7KldP77We0UflvRoc7L55ib/5O3+n9s4TVzj/f
            29i04PPyq3X2IQA60jyjKdXF8gJWn941Wx3r8cwmCHD18xoXf4GId9Fhfwyv
            F6lV9z+3Xff2xQ5dVq4ix8X55gTgG+JbnwSgzC/h4j/d7xO99eheb19YnwMQ
            tnXdmQgboqtO9/NZgNvuPPZpdx+ONf70h/NE8LzteF7TT384rx+Ysocq/vs8
            j/9rZ+71PM9d0wAj/tO5bxqQ3svz0AQRccapcyy43jezznvoweCl2vnout9n
            1/kIQ/cn/tM5/uP5ntvO55gHyjSesYaA/Y2vxjP22Dqvr8bz7lfnggBf1ude
            wMqce/e85vBqZz9uA0KAuZ6Inf+g1dCy9BbfN8/vX5/7fHt/O6b1Hrug7Dek
            /XFOrIcdFKbmnBBWBT++qqEDXAJ7Z/aVDJcdKBml+sD9pBGnh7tgTm/r3Xeo
            owOJJNt3T9mBe3C0Xmd+iYGE1aqfXXCK/jGMmXremKGETuKff2H99Q8Y8i9/
            rfz1b7a//r3jr39Ady//XIz68zHpb2N1/vwjvvvzDxD3l7+y7W8OQUAgPrrX
            +NfdX//m/uvfvxob5s7ZfuI6NMDoi8XX/0f9f9X/6/pPu6mrU1eXWi+1XvVX
            u0A6B5xpLf7oA2CasP71Ke+LrwI8Dj094u92mAVASnr0/1H/X/X/uv7Vn+5l
            +3+1yGpRntsuiAYC8iehyrXPv3L/vaDEsTyjOuHsnOtf/7n382/df/e59m+e
            8+XzL91/ei4/6/Nc+eu/cP5LThAQSyDVCu7+Qx/+P/axPv/a/afn0vP+u+di
            +vzz9999rv+b54hZ/u7v7Fj//4cd+//8LnVTEJDy/j879v8LO/b/+V3aoiAg
            5/b8L+3YEdYS1c//79ulhw/473aC/4bw/wZm/xUsAooLuUH79wNrv6//wBKu
            5zruvx9QwfX0df0DC7gef677VxBQKFX8rDV30k+b/7CW/v+s5b9by7/DG7+v
            /17Lv9v3XMu/29dcy7/bq1y//7wXH3LlT1iCgIo5A4Ps/EfQ6xKFqptHjDWJ
            Uow41SmSz8ktQ7I3STdJOxBK2L4e+clkdPclwut6PsLc81/8978iCfQzXOst
            fc9EulePhC8Z5ymQiaResDOsk86qzRcRpY4Ek/EtWn7auFwxUr7JrR8Fxe82
            Hsg3HQWGw0f8XZuQIICqn+kdliX/aqPRYRbq1+jiikOj66YRatQTzPiCKoz9
            kYB/2qdS68t+qFUCCmlHPfLdJrtn6/rEtgynTY14/0+bMmYunOTR0MabvOrj
            r37qirmrTX+fdfupgLqfNm1Ee3YCdGsemt0Zf7Xp8avNWmfMnKCfNgMy9Lht
            nmq/1/OrzWwx2pgnxrytT0Dg95jxK407Zsyh+vG/52cTGWlfAFWlM56x29DC
            a5Xe3abO7AngCttXmolt0n64s6Unanfh5x3uqRPUHZBQsE6p27zEX/PrHNpI
            U1cymcFmOKAnXBnvAf3v9n7V9tw+52N9pl/f5oKfeurp6MJt+7b8uw0ZB3/b
            +Gr9lPqrTdrA47cNkLytff71xdN97TOX37gT92Wj8usx6G2/ey0udn0BULTb
            e3TTkrT0M9fULfXPV/YDCXm68tVP69w1HB0G+U57V/89Wx3itbXB7A5n7xre
            ta82A4ijk30Ki4q0u0quf7WZexbt44m1f6b1A4z8tZvc2rHmu5veaG0AvfOr
            zfazGvRy9c6OG79g6DVZYAgRbf8F+w78ffCa9Y1ZCQYfrvuvL/b4v/3qDViB
            7A9c/1oB72IVeKpNaBf2f7XxO86lmcNefM9Igb6/Zs6H/fRy24DlXmfff/eD
            NTp6M3xxTrZrqvdfs+KBz3rTamNc+UBEqv4Lf/g8qPllm6QVOOP59S7QpdMP
            2mxn71r+Vxvgs593rbNKZEG+2rQUz7vQpiWDPoz5u02nAliQvrV/BH3r97eP
            WQGxp02tNub1e8wTi560FljOpn5yEgTMaPrF332ud2ZxC7kJ6ofpCX+12bOm
            rTad2/dAK9XnP21eT531hfpgbWIHZ/hpE55MXMs2Qxjv0oevfgLAm0ifRIwH
            g8kZw9faBQG92gBnuz6uhv5rPkMYxisCA2LtvLUp81ebuGfcamN4rR+8/j0e
            crtq03Eat81Pp074p00GDfHqZ6pNPZj8u59CNvn2AwSkPbI7Jb1Pm5pppSJ0
            Z+wLt/6GGwgtz5UJS4269uz/hvMIPcUlTkj30U/IgoD1B+9w2w/cmIJPzFXo
            ti5xxi/sGGaaUyr2gincR/ccfs/VWtPsJ5lo/uivA/XlP20ASytqrshHzHG4
            qV/9vG/tQ/1gCfuByfSrDdhs6tHZD+DWJeun9/iFZcFITvTDNkmYeB4+97sf
            cKzD9l2k5cy+q+RfbfDFNVxYCoe2552+1i4CkKq/bVq8eyR9fXtM68lLc9h+
            cEX5NYcxO+qB2A9wxcgHn9xvF0YfOX1hzVgwVeJAI3rdZ7bq715rCv/4Z2rv
            pjIqRHAVzVQn2CeCoLZ/tYd8Ew0ixg/G6v5Xmw4w7LefN1/uIn2vwCjTaSVn
            hXDUbeYKBvpDmyNkXswBVUaLJlXrZ03rx+wWBXzsjw0YqANcDZicseoX0x6S
            1pEWXx5LSu5zk3tt5Ph9HhPeEEh0sziMnKLRxoBlolXzPB8K9w44ovpXyeUy
            9TsZ/anzWCWdrVA7clArXpS9/WkjwU56/F8FIvVdS83x+W0Off7F+R/W1L/8
            5/7Dv//t/9zfHy82+58OaJIYBedrciWCQOfsAMfgR4oPMXssoC8dMiv+dYiy
            Y2KdXrC8RD5a3EZ9W3DLB99zIPLFWUi7h9RGyDGHsnvZgoBl0FBr4EbH7dCi
            D0BPwLcgeAtbCceJ84nra+SwPCTmlkA/sEcoDU7IrgGEAfQCHB1ESoq6E3CX
            IQbu6AfpSI0hjYiOgXfwF0FsuB23x80VU8kRgA8aH2OOLea6Y14OeCNEgHws
            YDbKAp3FOaYlVqBbiATAwegmgC0uNbbhYtstNnKqqYA5ARMzfewQSToGMTCW
            0VwcM8TxpjiAJGfCHwByYhvNneJE/wsYdoFFX23GNWukrhTsUcTTcWOcu+P3
            pBMGhu9WfDHiN+/4NhwHjugHbCu2H8hsaukpLyR5iCqzJ+xjsDEBM4qvSDM5
            MFAOy+JmTg6T6vAcmMoE8TlJ7dpC8iMlv3Lyb0nelYQFTSHhr+Cv4Q+YM6yU
            MA2Jy4y1TpjIFIHLMUng0jB5syR8AKiNAwLYaIwBOcMBi9gI/aUSUqovEAhe
            iPZp4xwfk1xLOUTM1Jty7ilX/G74PXB9AT/tBRxVUvHoBf1qdHmCXUWXbacy
            cA8EouyaCi3Y6K/SfQXCTM04oiGktVR7SeDsUsW3VvSJtU3N9QRoTlhpzORO
            AJkE9i+1jmvot82V2vagAbgPhNV9SB1zi9VJAP3U0TfgIHW075gnwHXq600d
            c9WfmoabaaB/sFUJvaaBcYN0pNEAjh33xwAzvtPAOwAzkJdrAu5PE2sECMcK
            xjRzwXT1BIyfJuZlDlyfIYGjSRPfPCGnTqzrwrwv4PeFXbHwHG6nhTWEqJpW
            62lh3tdYaeF9C2ME3cDulOfPv/+vHdSyzxEymWHY8C/w0uc6bWqAqP22P5Gt
            m79x11cfwbhSwc77v49k/89//+/4r4H7dtj4H6en/5lW9AHPA5HQmy7xPWeE
            8ZD3OVvy1XLnbJrnFs7A6H9LBiWeFsW0Mucsq/09404on5aUHmLJ5ywYp3rO
            BMrljkH8S1nnTJDPe5DbQcO4Dah6IGf6vhGsn1y9IL8BE7nuQOES/Xjwdogb
            /A0a0fU7xuroHYcRRv8GqoiB1aejswnE4DLfMiP6BC1Df6CgoIagd1Qo4XdV
            H+f4UFW83qr7lFMdxQn68Swqxum9ZVghyqIIuvOusEAvm8bq8LvynHNX3Vs9
            ud6pvmqg/4+JJJiZUkm/gY5c6LxfqlYCMlincQDj9bhW6nChRIr8lRSZzkP8
            XfHbOfs97brjb8hx+Do3A76nlre8/QU7g/Gd7wVP8f1b96ROCJwTKpHG8lk8
            NL8QzDZ4hEC8hB/Ut2BYk5+uucw6pycQ+I3qX/AH4HnAJ1P0dg5z5Xds83kr
            JpS/O9o1J+i060D4fLbhGc+j2la7pt9YRT/tNwjd53flc8N+y6sO8OIp02le
            8N5u9/BRrtinPKv6Ifcz0BTy2CDwOuLlAs0OKmoq2FdafkgWpmXDfvHSP9h9
            /9hxzSz3uditH8Bx98cYxnNwYdMf6wctDFhtc16crXJnUAbgzmrk+mmLX6Zl
            xJxoPDOZhnOe8c3xSNJJYAL0nmXno57ng/WLDk0iwqbgMUe9HjKG9d+Cl64F
            rIy+D/Cl8YOKSueR8J/apbb4YoifCRCBjZiXNL58ppmOjHYDyn+F+kPsX0e4
            eAFfb6RS0kkZXAMAy5eUAYs0+3p0zb1BZIFXOloUAKn4DcYMfOy9l6Xqxl4G
            7I/caOajp8f04BrQwgeuPdWSoKzR1w3O6aUusJ51xdbldyfAM+RGuqVhzjZk
            X8BDiXlid2Gy5ZYLMNkAcYhRL1gPfEPBzg0rbKqZMP36X97CJRAJFlnBCfzA
            8TkyTAk4g5p/iBiugsve4CwduEDsXwgfkNU3LUDYIAUtYi64v4FnNvGA8/S8
            65yIjn3xdOxvD2iB3LyJRyAH9Gk4oDVc5/4iDvIY0RlfoFst+g3rLa6/eA3n
            umI2dqW2ogHPYhUykWMhnsWzlAsIJWgGxpDt6UIT+3Dy/ZNrZ3fnPJ1zQPvi
            eTGXasxhb1t49cn5LQWSyKaRJhfpZR1oBt6UiTv03vR5ZyRBqInvffRsD2D1
            caMlw5dUNkL+EW4ELgw0tO1q/b7ASaAEudWffrkrAtbH03JLGtUIoICTJkMS
            ZBLQgU2EFTPnBXhB7UsYm32G8Y9/4jMzgS7sM1bCB/qYwKmAwqw+HuHmIeMw
            RBteT+9bFjh7BzgEkBFeKJebnQjPb+dmwb4g/KAPWTHxBFYR13HtbaBvm1de
            yEVD8PPGd/H+i77BBL/5wVjn29hnlq7ePGsF0zRcYT0Bu3VRK4uValwnTN/c
            4NjzpgXTO8xJwR4FyhgONANYFDuoGJzgJZDRajSDNtAKYRx7jOpgiCh0ZMfe
            JZ0BIOEcsDuoW3S0vRrs1Q6RrVCpB/QguKE1cBdSMn3zXJQoZU0FLgiBSA/f
            6jN1lLYv9LtTvH1LKNhD2DHYi4R30UfQFs6xq3y3iM+WzZrfIRsD9tkmysO6
            NPSB5YJsYPvHy75HFK4jnZz7c77JvpWqHhsHcFL98zs5CH4n3We+v8kX29/S
            Sy/aP92IRrdpMBJtpRQOmlkF/3Io5z53NBz1d6xZ0O/m5AM33d+Q6YGbMLeP
            fcua7xS/gO8Dr0jFd+Fe+R99V7V+geZfzl2gOTrsQj9QILJKWsS9NAg/jgjA
            xxleagCxscCSTYjBoEHv9BDHlnPVd6op+8aRsDxxXMuRL3on+oeYRdiF1PUG
            sqPYKsCJpWF9sfuAu8dg2whJ08ui7YnFqWod2LvgpdBfXNhDmJ+CfoH/KT0T
            rfK3a+9yc1O5A5kTcJTQfpPgrQkY6Y767Bc9Ax9zHODVMPHAqMXGW/hWZ/fm
            RKfNxlsHfmf7rZdRLQN+wvnDf8oQibmU3cl2TwHXDUxR5+GRiHpoWmRb8h+g
            j/UEFIh3CMDYOsZzvHTV2fk7s7UD88mICHzR4S3sHBTBmTpwO9IC3G/+S0/Y
            pzvPg3LPqzl8iW8xt+PShWAeHGiTLfIhNMPlHHMA7n6pt90fugmGapDhGdjw
            3eDch0ohIhEb43rp2Nu9ibcEhhuAlqe0Jl0VKAfhL1INDPJ6fwM86gC2b/2t
            x1OCHH2W0wOabtmzRmC7Xht5u3dUickS55+Fd2M2wsICNOvDYc1A1etM2ZUG
            6Nn47kBmvNcAaPJD5/ab+Fj3fPV7tVBvP4m+ACSwO9CiiQ8k+cR+f0bMINoE
            NDuv3dpz7HRGAnCmOcCnUgbC/tdvMBlnzu49/3UPFB/4fQFXZfLFgB4z5dMa
            dnCLf+x5OukANw++0336ZygP5rVyXl/qw3/W2TyUosHYAvY235bj6XP4TXc8
            f7jpdA7ezhGnTPLGuREnJsKPmfHME8dxH2GdHWgoj8cukoBTnD9eMzmemBqA
            FeSoRP6qm2xn+ydin1l7YkMs5qYjTmFATOVcYjjO2t32D+Aa27X7w8/EN5IP
            eoTXpuynpNP1wFCmB6hPVPpWqtsc7zfMGY+5Ah3yH2j7qhJoWvyMGQiLclQl
            YgC8zpccaqVJh+0n7Vh1NN7DoDuPmP/GsSQ8l4DZPfEz/aQcY41kr3Ocw7bB
            RxJum+RTQO+AHGnjGJkLjnPaxLgsoEPgrXMafBi4B30PwqgjPsPQ2juw5yYQ
            8iaYCW8CtvHv5R4CBqar1w/fM0BbsYsa8Ba9ofCg5tFTFmCom+YxyXYoxdf5
            xryBu58qvpbrxPnUvJy5dJhL/9g31DOXbv+ey47rblmbQi8t9M33BHJURusr
            22XgDh6BoGfkXGYhfs0rdp3mNdeveQV+sX4oEdKCRB8lRslt7ufixPuB5pLX
            9fZtn3eCnmlsgf3at2JPrTu/ASjnM3ec1+MDcWXGAiL9vXfQTNffg/ffacc5
            ne7vaXtwKQYDvNaRnyrZymh0mm4qOAchA/I7tBuyx07ULzRGJUWwHSsQv8Wu
            /ZjQtIFXaQyawSpCtMMmoXP18vjm5SCobfYVsLPYH/b01n7EF5+9FgIaMSgk
            hdhAq800BcimQib71RM4OPCWRJgYBjWva9GF05GXYT+dU7Gof6H23kfK/NjZ
            9gxYf7s/dL8Pb+N13HUAnQVWW+PorkRzMnyB65ob3tWAsUMAwvhA91/aayBi
            2POUc8UXdgf+ioIcXjwD+ejF2cf2IH89wJnQH+c8c3AY9TJ+U7EVetO8JJo8
            u80R+Rfg8b6EYx92DSkO9IDxUy/5ksFoRd2vdFyjfESBvIvfB86sXAv5idDZ
            BbLcXSPDspA16KRCWa/YHIDGYb5Nh6xrz+rkC4HhIJ7Qc4gOlwB++sWJE9j0
            UhB3k7nuS3uLjHaQz8VatCXTrWE0+dLRZxYXU28XtgDSr2vb5oCwxWtExKRT
            NLoE0f0mz8Lckt5BXmmKdwNNX0v0KaXCgCLhcApiyUII2X5gNbiGVK2xL10n
            r805S104pCW9U+1BvV6KWu/x8SnZ9lmbVcfi7bw85+jsmPc5vuc4z3HZkXZh
            8svmm0nfwXeJVuJ/Xp5wz2LggvieTSUFtTrU6xn/B4JMLIv3CQ9vMOngsjy4
            3hXS1NpBbFc4ZivyzwBmNTw8wob8ifuDzgzgiQflR1CcRRud5x89BLBHMU/s
            B9gNcvYY4IkmVTegBNpBBw6fERjL+2p0kNX5G2sOmAwQ79rrZF8A2aA8R3wW
            W0ymCALvxnln+KE/v+kyVfVtdg6xW3DNeNVNpYw3+K7nejzn7cB9PvuA2gHC
            lRdNmOyTW198m39eKpj4zRAeRpSLDh2wOCFbwWj0jaQdE+vFWFEPqRfTHj3m
            F0hgk93MwtvmMQvsAXkkgyZVrgrkMfbt/+jb/7Vfzt/t1619ZMuHmgDwvVQ4
            /fQB5pXAUwdDRMlf+r8dZyBOZH9x/IylZnJS//79wnUYJ/ngQI+K103sF66n
            13r6Qn66MlyUbvMjY2xBTsyRxPLCL3kv8EBbUasLEqTBSZj+lbcliMQrOAmv
            Ew5zgBdHeJGvTQ1ZSyTes/KLwWNXXafHtHcTUBEhi7ZGvYnpVt3Ric5Ztj9a
            fuyhPeOXzg2fXV0Z4u+zA82hQz0VSdhZlM0lzlJ2BSfkjWcgruKq2n4ihgTu
            fuwe8LzAknQfyJFuXKKD97fzDEjSt9/vFGxJdqP2xQRJTzr0uQZ8Q74gO6qo
            hq/dzR4i+TTuTY+PYbh3J12mjKi21GN10WLq7XyZjICy/S6XZbaR7qyM1IQD
            sQz0qbc5Zh/g6/Q+kDnSpkrHPPA85Fsp3HTQPiwCjnddODbntmglUBVR9Kj2
            m/gc70tUnXS6HUI8hkAB+ok5G9IhesrXGDPWIHPvFqxx4k4+fXjSmiy1EeYL
            7xZt5vXXrt8xYr8Ujm9St4y9goPjOmKHm9XgFZ9EXrHbXNl3YryNPBcQdKc+
            hHOUALCQL73Ms8Wua26oycT1MojSpNfwpPslxaH7gDz6/Lcu2ul1zXAaQGUF
            0sjbv2jZJP4AGFNnCz6+nj7EC5BHwr6tp4+rP5XHfcR+k0MHkDzHQe8htqet
            iTqcjMs4Sjd1+t4bYpHW3xuscF1NHpnqj/HmHWsLMATCXy58vj2DiQmEkyGz
            xWvxF+feyAO8GP03F5aQlgW8c9gaYdIy0E0ivqkN34Lruy2ioLsfDOamOPXg
            Or083OQzcZCKgEbgSN0T+UxMUJyUNSa9yl4n0QeC/mqy1YB8lG5rj89373MC
            YSJ520i+jvZvwQThYMun3/H9wgGAzceeWcAxAKRM+FE3Lgpn8VqYhx/KlC2x
            KYp4BDSWzlnyQyrm2E+eCx280skn4/EgBrjgKZCWWOcGf/ePf85Nefnoj4GR
            aMO6cqrjfuj0e+H+yOKNSWO4ThdXYDzCFSkbndceDeBHMRcJyAm0uoueOZ07
            4lKwSOusvznKEwbodt4IU4O0wsIIFm0Rbk76jFPHCDimncIfXq1AFoJ8qyQZ
            U/Dxu6+JeaV3klJOAB7BN01AjQeseDA/7crKaTwfvAS60z+45+AcwzOiAdVk
            8LG+x7WdxvXxwU5Hj3XpAHARoeKhGtNbMM7zbWvLdMYRf3aO3Y7r2KwW6EiM
            zjxcZd0CQ2fZDiCfuikcqzgvnLdzHklDinRHjHKdDjiUiQT4Yee3kawCvBeZ
            tkCZHWhHnaKFZCJ3r1qz/LEfYvcaloiHd5wG19F0qeZR//zjnz0CBcbftqZH
            qVtexhawfQmUSaJ5+/YEqgaCwnXFmmIJdpfbLiXkxmhmBouBvL+SvSmvgkce
            LZTfclsvpKVMGyObUvWgi+wDiERyDMNqZe+9zzSjG6RjOC7iY//+7pNu/4CP
            5/ZJvW8/vz+6eKAt2qpXNb6vyhiIvavz8sGh3uSbx9rRwHDbkFzsoncQ1j31
            I34DZ0FkB4uBvVqq86P+7FXOZTN1vMbEfXjnFrM+hMsp+ivbij9BbSCvzmhG
            ZVoYjPshRoH4WuXwUEi/seiZsi7oRtboCROTMBaY+gOCtNnspMch0nkfjBH3
            9jb8QNf7TXUY+tyO+pj8q28AEHCu9d2v7fno4Ho+x6Obi+7bnxWLVP/xT4wu
            vV9zAfgenA9lMeG4QAuAGWdtZVbjD1pehvuIvwvdHYC/wYY1k0lInMq1+yTx
            zfL23D2a5OZzomQFWaTQNXVovpk5xB/dTVHqlCHcCJY0T/BhVW2S8EzZiflV
            gM5f2lZAEvK8+hReAys76J2SastyNjnfZnhN8nzE+IFNSxBzgr8urQv2XgGN
            cxIZ3WQYlbNUO8+5R0c6tAVeKUQKlBA0DrdeKg6pl9F5SLQ/ltnP+wRDZT33
            m/J857UdEkPyGri1SZ+JKs/Ppgi0s++dxu9IL9BuY78n2XBqMcDFlJ15FD4U
            /zh17uyc8jTfh02A+QHPqGcLcGuURj7vxQgicuV5dUakjobBN+Jz0izhMnC3
            2stgYW/f1Ger/7nWr/dVex/7m0f/iPmARHjWuJO4DPqCZn7TBnaKy3jg+w3o
            kwaAlvAM5R62feebAG3NHz6szKI5ffebFv5/911uH5wv9uOAu8j3Qw7o4vU9
            +X1KO+c7hNoB9lju7qnlKkM4CTij0+7mwQ96CLsO/BLEuHqeofwLyqNnbCyU
            XOwbyM7xiJuM23ghZZN4VRBF76PZG9meyk/FS+TlfsYdgaXiapyuw0fKLu5N
            z92KyS/UAwfJLrZXOAcNUhsm2GScaV6HtGkK31J+PHMonAd6RXsAdRCGV6Pb
            6ANitMmq3tZh95/xLuDQg4PBFQlOLebus8cK5Zskb5Rw8Dp1aWs5KpyrdOGg
            vfms26TzLX1k8Jt2tWX2xASWhlob6i84P5CDiMcXOEXgwTrus4wzFYwChiIj
            sB3oasL+a/SHAClsbleDpXqfSZrnY0/Ln2N9lKTtzY2q0mTXLy+4MMclGk/H
            Novh34SRcebUvwn0h/HAto7F1kfzxiRsZ9/TZmbfd/ruz6V7FjdDvJ/273vu
            3AM/uAEo5JlwTDTPCcbqR9dNzdKOkgeB+o5MSb8x3Qcc5XMfx6z5Pe/RmBnH
            cHDwp89le4S6LR0BA5M6ISI695Z//BMMc5Udh9cMPwSDZb3Xa46eO0eQ/f/j
            HIX3Hd9+FZnYQbTbvlHeSpiTO3bSvgRYrID80L94cGf45fbD3CSrjn10BvRb
            aeRrSBNoeAQc7ZkkmywqJfkbk0Xqiq7fNKQPyMw1lqmqFg8GrjnQx4R9UZdH
            WzPgJNMnDsdds85xz59zHSkDfrfLp92/ao/zIL44+UYfgQ8OpS3oMf6b5ytJ
            b2yyfRD7Oue5xueH155t84u2SC/I5Bspz0Mnm/Yb5sVXBSt1SkLytcPvfH47
            wYlr8g7DMtFOQt8CzlWvkKOS8VH0J4KsmTPtJ0fmIc53tJtmo8v17LMLe9TL
            rcO/7GNL9Jgm8v/0drRUAM5964lW/G1zXHQEtOt2nHYcpz/IyJP9AUdQK+Y6
            tQqk+0B35Nz3qJPHZ4MLILvVOrOguT1DwO5Ce/DFyWE5wGZnhfIRm6E9rXDk
            GUw/bIqvE7XvxO1XCF7u3+yrz17yaNer4TcXQN9qzsH90MIKmPzsV/SbmvWb
            osmqifzsWYe9wBnnIm+f1mdQRjTwET4Dn423f3QbdF/tWxwSMO+KZJHMX4aw
            Bm58ye+Ma7j2azgEokkg/U7yk/z9DfPnG3Z6F7/h0nPR/mE4YcXNWE43024+
            EPvQDzd3vkt09es7RjHfFo4ds94bfVtFoYzOha/+F+YtffUfE3l23GiZuQcg
            CVZGQepd1HdhzNLRQLgDVabPgWwh48OfSiw8urNzfq+Dv3FqyxwQjLIbNm+U
            UMljXho/ni+eSbFyxh8J5+KtmfQIsgHp11PNn+/7Xb4f/NyXjUmYIDLB5qJt
            gf5a8dgM+H6CbeeG2cClVRAwxv7NX6YRa1W6wCzZqWAcqf/V/rDM1xa8zmj6
            fWxfmbT5fEOmLPpQrMLvePDV0U+WoxOYtEce2p2pX12YHkU2SNdAnz0LXYtN
            /X5su5z4SL5DsoX0y7INRSM4T2re5ujv28muxNyI6DMTTrDO9SVBx/kgrOMv
            9sbrAJP967q366AFnD3MNvrioHnkSlvfdi4LCfi72piCJkTj7SJlisI5J+LJ
            TT4c1It9voNpOKkjzB19ApOCbg0wq7K1mc3DvqWqD5p7K8fkzKZdGQam647J
            UR/Z3HmfGRnZloIh+MvUJm13YO+xPdy6fOvz4Vs5bgLGvxq37A5f45YIwXDs
            X/1ok9CvMVAfPCfY2qM/otFjHJ3Poh4NmAlblN5TktncI9/fqbgC5rB4o8kL
            S+Fck75RaTDTZvb87YrkQvlM7UT0k5210W/vjl7l0pUfPdJvPRP4aOVycYwJ
            X6Ib3uhHoBc0JvuvcaEELy2wA+/haH1/K/kOainpH+HWiQXHs6k7pXV1v3lm
            980vuxeYB1IL5IZ6+BVO5KiV6tgvH5i5GIXYuFfoAyj3Gi8dm9EBU2GZDvo9
            UUjkU0iFnWzYxFXuyqFcC17Hlhm/5FP6NiUQCXB8DuOv/Yx/kJf5WqNua0Tf
            1rbBm2P+82v5UDn/A3watkeQMsAR8xL/OvnhXJ3Y1eeF43sdpq3D1fctJg+T
            27L5owlAmeWN80574Ttmpf9QHujS2kh1e9psf9rQfvKMyt3g5EhlWWDYBgAA
            +W9MghVTF7A/4J+XnpIJlJi2KDeH7NaQmTBkCI/A2Z6qhMCcQaO5kGsP5G2p
            pKZfdpElk/bakhnqQFwYmG8FSIWaedrgHENFwcbac5M6H1t//zRHFkY6bdNT
            0p1CPmH83ajfbpMMhuE1jg0fOjFOyAz0KWTg58+4Z7Bxu2Mf+98cV1o2rswo
            JTqgGY5p5uN/fAZPbMUbvXL5vsPWUrmm3q91wlom6uryAKeGNpsSu+kXbjuq
            1z/tAMfBfMTEst819+WlDWGS3sXA2P+39HZ80DBOv52Ut4R7+c+ALrtBAkPN
            AhBzx5oznUsliQOjC46b17FrN31zv+eS8QBqV/NQqiaxtmN5T3sr3Zp/1qlS
            7/DKIu//VX/u+envsy6n3ysLPDf9Mll2RqpACMcjnzXxB1aG5sYxmwMd/X6t
            iXk4GN68MS8R6wKCHff80gMQnxGvdfm8i6fxfci2qvUvTJxGTJS95Jov3Pd2
            8ZmQ4Ndz28dx2oNHE+yut3lnNserf5YtJcsHr39kvtd8uBkiQH1uyoNG0cU4
            93R0UfJ/WPJ7g0SNDdCxdooZe2nGpj9HGa/yXniXzvVu10sg72265mk6ivRU
            s+9NkCP6J9NuxP6Le/fkeZPviPh24i7qWF6/KufBU6KuLtX5hV/bv8CvwHXE
            r9QSXfz6fPv/Pr/9f29sEJUQul/tfpopEZ+aftgl4jaudZYeEuf58Imv2d0Z
            7Sv/I8ahbfpliRcGDYpAf+AZ849NncaU/B5fOm8ySqYYG37s8IpRSPKtB/f5
            JkY3gMibXsebD9UI2JsePA39v65sa649HTTw+fbrpx2E8CQbG/n6AMGNwOVb
            O7TRyy+E/R3buXTHw2ycHz6HeMy154xjkP+7ewV8YcvXfgbYvPpYfqNsK0w/
            cuQpqfqjfStpDt6HgbxKS98sj7ZsLeSxmIUTYqh3mXEfBRTRMRlrPL44Fp+0
            f8auPY1v5PetsEs7dpNPv4Cwo/+tI1kf5Lvl3zfNfyGZb/rL5H/kyJgYUn6/
            eXdQu+EyDRyyg2T5qnDubpvHdDWKJymU/ew745Yf5Pn+rvdgD9MXjk74gn/y
            i6BMjO4I7fjaXnvg9b0F8aD+qH3gx0mP7v7sNzFtrGL/iLub+BnzeMR+iq4o
            Xpp+ArTTHF+Fj07b0SXT7Hjmz2n8yNUjXLvj5Q+v32XYN1bP/MeufoJR25Ty
            m3ILvpkRa3mDloDf5v6mETFpP4InU4eMm2R8WnQHdz/mb4w1PUdslvxissQn
            NcYrOeVh/PSR/7s+/Ccpm3Gxzf/VNgTZiVn1gZ8oY49a3F/5XuAHmSC+/XIK
            DQTZiCvXjZoG7UfGp9IXF8xteyiPS78mvUcF1AGwh/mgM5mRfL6a/bbvtEQ6
            Rw9x/BQfb++5fXHvQYh1EOpaxqoSV9B78Nh221lnwDmFF3uv5EMLLlaynhnp
            T/coXItydKhKQyO4W7oHyQA8eD3vHSJMTM+xn8/9ZPfHiUM4crDmQxxF1Kjb
            9/zEbfPDWBS2j5CnpbvD1zM9z30X2JwzLmWWbLTJ/0++JdnYXvqcV3mRgHZS
            nW1tGnl8oIH6vS4KKmWqk2Jje/07wfw2/A2Imcr06GpVIAfn/lV5BLR/1q+1
            j6CN2FUsiQKJZow/1/7fjfszx/5nPjttH0V+V9MdffJ9F8j7Zx2oQ8J/8j/N
            0kln+aB87pscLc6it12+17OnXWT7fo5fYFvuvxn3mdeX475zzeOxtRT56kNG
            acduLTnt2rOPndsd+zh5ottOdm3sgRmoa3DxFwyCXwiSa953110sc6HpSbGD
            m8m7Js9eeQv7w+J/aB5gbGZzzDv6QLJUTsfBx3m9mp95ScZHMB56Ek9kDM2s
            q084z2zwDhSc+vMjEzNIQDle3VhXNsb0FHdz3EH+dxt9kfc5/ghRseiVzmdN
            DrdgrsAMA/Em13ZoFxd8x3O88sd1rUtHBkzYGWEJuhtGZ1Y6UNdGCgh5LtGn
            kTGpLH+TILeB3DAbcoLMQn8pH8OQDsEtS9yTJSTTDY7JX6S7DvJ5ULaCv7nv
            4yDuByqaeB+IusVzF2LgZL7DZDKIZyl30Rr7iVOpkiA+39Upw53sIR+9HfXn
            1I8qFpZaePGsRTFnLtPNHjABPg1jATEuQBUvaAc+l1oUZhWUr0ZQW/+7bY+Q
            Bh4qasB/KM7H9AG0/YXAXAu0ap6xkCA380V2uyruIINXnvUVmoKIUp3FVDJ5
            Cnjm/vTyJnqDuEzbXyCO+NiaCPOxyl7VbF48pR/alf1SnL6EQCpF6I+YaNvq
            GfSDOmfwFS3ILuLSuzs2Hm1SKTHOyWEtEvWpMeM7w/Uvlr8x+YlAfhGifLMY
            aM4D9nkeTDkzf/QuHBcWL1EXT7tly6aPBu/QmR+J9xtjKYBQQ7ecSbymtoxZ
            o98g+w3AS4pp/GnD54LSpDH9IZ3b87ixaNTz9yT/59TxndRQa00qQ26BjbG5
            nj/8Bqb8/LUOiv0MjI9OrzKtyV7FWJX4yjb/M9/uYxPmeBaYYy/kDjwHiOMz
            jXEzkH8B18HPD88fFX4CWoYXMZsE5BP0N+WtCIFTwZuyE8k2z/jmdK6DLQiE
            47UZE4zx32elMc6vspIsxRh0szPq2c91ZhqsX+tDDObI49o8hgkM8JyxMMZ4
            nrGQ5+6nv/V1nWO5Pq3v0n6WjXoz3yB45Y5e3M+aTciPWsdz7c6fnmnj5fNc
            bzAj2/e/tmMf4+Tg7AdnxxNnhy3HrJAPM2AZriZ/BpElmt9YwM7Mnv48TpF8
            n/WnPEoXhbEU0OcbY1QFaZ3+mLED49KXMDBaPE769cpHCdD5Ohr3IX8z50kx
            3THwxOZ5xLdiJjvlWyrru5efP5YttxTS7Fl6amY0Hw/j1ItsE5bRKTCXAmWW
            16xUShu+zSZy4vMYME+7z8U3DXxzkd36xui9DFBLEISpn4CUiK3a5MtL1yVw
            +itZnKOT5h+CuPMzrxM3kTeRkTP+aquYEEPZV1qy+Tq7TjUG2KWimA3GSmSZ
            IteAOAY8uZhjEHilStOP93mrmeT8kO+WYvoq/YAUM5HYp3TS3+dA3VdXofZt
            DOkYgXvX0TWtx/IWHN0+pvOce9l/IEj9yNL0A5pV0R21ao4Vn+MUQRb2x09A
            Ne3M66Lk/I4zn7S270k/Rkq3tBrd70+Ssf1HT3y+D3h2EFNQdx8oF5GODaPd
            8pEDZR39nGNVMMfgBpRVBuslOxOGjmvFbFbXzoTvevpLfx2zs7nj0y93X5qy
            ODPMTnP8V0T3OW/4rAsjmq/I5CQ4QqJBf8whNuUTySonyjVBK5lk8XlkA8AC
            03fQN9sp0NzR1gnZnLY4JcTb9GxYXUwe9bpU1nklJ3XP4nerDllWHo78gnbE
            gOvi76gjecNayhFRaO9wS9L43a/m38mMPdRDuVTFy/VGF6OzN1kUjkfs2qRz
            DL6IT2JmJvnjpkq/rhq2y6/YVPLIpEMXh4GPfhVnBMz9Mu0Z081+32feCypI
            1y60WWRVcLtxhVEJqplLhbl5lNsCAhd5Jpb+eQgS2w/AeDNLFeBjRDrKl8+Y
            6CZoONcxN4tKeZXCyLmSQGvPNTBR8tZsUhHTr4jZmv3FE9Rom28z+f5dF8Oo
            zbeSojvf4yz3i8rhmE+rxtOYnRjflL94KUA8mWrap6Vb2ZSRWlGc1on58Ipt
            8YodaQ/oMM07TMzBKY69MN0jffi38+YLiWtKxvMov0x87ljBvwfqDSkzZXpW
            2v4j/qeHbb16kExrMWVn9MFkSRl/1+d1aruDB6nMCnv8mPA7KkJE+USI+xWT
            8pgHDmOB+/qRI1S6IZSVOr6ZPk54X2P8pemWLE4A11ztjABUHgQAcXktf5XF
            VWx67hPnuQiJpMovDpQlKHcL7inPTWNss3yQmnRdoMl7UjUX6atUxZ9wT2N/
            OOA40Zhkfo73t/zns/lj+sfSsjAGoDor2TRpQTLOMV+aymexkTHDXGpJq2/6
            oY+FOaCkC7KAZtL414MOAg6USwAC2WNHqh8huxqOYH4h1zg6WzcwaPLBpQ90
            kVNsov4MNBPHwFpFzFMxKfFYfMI851wLMXPkJ5wKb7p5rhnP13/8RqRbg4jN
            PCTtbcR4FLa2lE22xvxexkV2TlWRBlyxqBQmyKITNvgc5Yx8r2HN6HspO4ly
            8RTpJ3xfyjIlbRi+Y7Lan+LPX3HyTLp8z1VEg7Gb22x07/G5yYd/6ee8Xh+c
            YMerU9vnOtePlUHzDJ1Qks4RiCN+58m6ebaYvf09/APH2JrNOfPn3Dn3nzlv
            kFYD82DS90X3mHnF5pk588GF0k/kzH/8Yz2un1Ig+uOeCmBlyvFnpJ0Du+nK
            9lyjHka9cjyrooTN2K5Dm2ib76KRnAPSxu4o337RYb+xKk6VXWRKkT5GzshD
            PGWvlhMqUbe4Xgu7x55nJDvbssQi28VuuLwc+2vCTE/74qR1HaA2wXD644XT
            yO2IrrJcpac/Cc8Hrfjad8DxdG44ewc3GeNCnMDQrUTWarJQBnA3/VWVc8ls
            2QxdYMWnRwrC/PleCoGU66pKsSiGws1zTv7CZdAgorItV4SWjbfTGJlz9vqs
            MJky5fVQEiMvOr1Oeb4giTH+gr9LsVw2sp0wK98CF3zOW2PcEW1SZuvC2N9v
            +IzHJj2Pb9mF6wuPFz7nY9cDA0YUhWP5w8bpJ2zqIbzCxj+0n/ILbWfyQIK4
            TzPUA/xheSHEU3ICGK9F0ks3yUxFgjtxRGzrTlvi57xV6Fdtnp82vlq8k2/X
            7xfLNOkv71Wcx8aTVPdAtB2McAuy8zDWqFx8dOwvrdMvhjT26DCY5IS+HsTj
            vjKpEDOFKyeb9JRMc/uYjkPZHUgLGIMKOuMZx6u4JIyzPy+lUMUX2Tib8SzZ
            z+3NbwS7uBTlyfWW/ejmlinjuTGTkoEVZ1xNj5wtxLySPwO/xVwp8/jRTUYM
            hA5OL0hW1jjSu0gDqFyTzFyVtK6yMs5H/zdMT62cSHQlmop9r3y+JsaOig8P
            gGFK0pTBKuO930n/sq/cKtVioJW7xOa56xwSrY6jm141Wmy0SubySJULaIiu
            UVX9KB/O1j1ajk/ujbtm8StmlPZrPRefmxfrnDd7jhWNdC6/rZ/nbA2bdFLH
            xsW5rUkxSYP2tmzfQMQZxda7+p6YEF+Nj5M3C5OPaKzZ/IbmibWjPfEDbx1r
            kd9GXLKuD0xlCE43CAguncJSnMVX9YuAD4ciC4ezuZGuljSTenAZsjt/OyVf
            1HoBHe5x2x4fuzmPTESDhPuOo/6Jb7b1eD7z8PjOFHeN84EVpzF33HG5ZePy
            gu/e5CjAxDLJ8iYwXpISFq8Ldhm9f3QPoDKNMeu/73e7n2moHtJp3PuPa+Lp
            2UB1ls535s6sF6PZuLPNyXO+46459cUQ2j11zFOBY7pHDrMd2ALnExjnQuMT
            6bHa1r9vy3gbtWX2i8q8WOL3gcKt/zuHpDz98zzEldO/Sgac/r/bbsqfQETu
            a/z+xN/wXXcfcN+mLZzza98+tK2ftXqYc4exBkzzuvurvX7bZ2uPHSbb5hQr
            sEtI9A+BbHjpuxkA8sXhhTYdzj2phCRF7y6eK/7cc4q7VNzpvZeHbEHib5Ub
            jHxE9LGo8oLZqq0UOOSyxvhK035IPlL8WLX45FBV+kU1qYfpUcHisbRTb/hK
            IBTJVIpzeZSjjIXkRHunKrtClJk/+PXGzWm/N7obQhYDLm2DMUZEzRBZOf5k
            uZ2KCvYpjwjxQqVu+DOnZuNLXAPxsblXroPy5N1rwa71V9fcjV1t9Avg/sm2
            fzoRDkv3ER16psSjGsTuKQ/S4d+XHCp8Ut6jA+tMfxbNtjn7wcEnXpUqerxf
            dvSPDBBUJsLjE0fLZ9x8j38sz6Ab1LO0Kj1n/eCx7i3HCdOEMv5Y+m7tlU75
            57ec2Q9u/+6f+uLb726LOVnnwPptpp284yY+vXi9q5qTcXzmC8v8KoF+mJjL
            PTdo6cmpARZ0K69GwEAK+uvKjQao88unbmy/UhjQb7Up96/0SswuKYu3F28l
            67fqjpls7JvpjrVhg+0zVlwh3WduMUgxmbYkZrdZ8eNvIjhj4awPrNHW8R4Y
            Yxqg2jbhbDmL06QPMteK9FpFf877gTf47h8YSwZP3n3BWLVrbv6GMXyy4Uiy
            mH/CVjprnj6wNYx2DqPLazAXbk4yZIq3pkCp9Kdeif2Bn1czu0BV3q5AvTAY
            zqa5oVOVh3T+Krfcpr+e5QZyomMQP04qbHPtunISqZopig2nhKNzYW4J8mUf
            XVRdwWej7ePwADpmDpH2n9/wSL+NyytcuJtrMUV/43dMZ3k0uQbf63/mn8Xl
            iDfpe/hyfulWsuKGmEefBp/n1JIlrq/ljKHuCkwJBHinKIdF8/6W3i1TW214
            coOTGie3zHNqPG3AEzjQ/H7z2El6pEZ9OFlj6mGFG/B9jOyJWzoAyz9GO1EU
            P7rpkEK6zHzazFvmgb+A7dUOPTCjTA3PicGSPyXeRls19/oy/7dAV4mqXMCO
            OcsOD9q4fxLjEIicO23zsVDftsPyrOiLh5NyWTLGKDNX5o8dyj/y/53X72bL
            vuoVRz6lVLG8iNQL+Hjyop7f9K+mWVM5Y5Wz99zj76r8q5vCiGS0mp1KNVrO
            YvGS8rX2puPWvJA3+9LZW55Ak++bpa3GWtK49uPj+4ntz6yt48s8Ou9gua7e
            G3utXLzvOR92zpxmN64WH0z/1cYlntTOXb/lyXUcsmbdMfimHJWKAZfpqLyD
            eXCTO9c/KajI54HmBuo/fXm//VwIRy9pIHERcZJnQNkj2ya+lr4UmQRC+dkX
            s6E0+g/StrrNH5u5lV/6Gmq/01VlKZ6kkFDQjwCytQq20VqjHFFF/Ac5cPfJ
            9Ut5749+yeT3ZPGVH18D8s7V7O7UR0TwSwWQneKPvKfYBSqOCuNtbCMB5ybg
            DMl/rV39sDd/8H2+j26ejUp5GxOTDEeLEX82da4YX1LMEtl2yUcbgmvuDDXH
            96fzfXJN5/3ybn1/l2fRtz8liwby6FwLmhvhkgE4XfSWpWZhfdmp06t1WPe7
            8Zn0aMNj8/hBy1+Jfi/D/FrMBkEyD5TmWJHSN5eXcpke/B4+fglM23DylioG
            jsoKVt9mRAR5kamKsIT+8KtN/2lTZI3TN9ePvz2EO/orMAI8+X/8kwyTaWPF
            49ExOfMZ5SyO9rtsxiIWyVDPBDdPWwF/M40AOD7hbHBz+7SRQxtpdeg28Zxf
            pwRqPIaUAVq7eOZRoc8C8LXgceDcvZnMT2WUZPNUNpYgXhS/SV+wlSp1NH+Z
            y4DvaKyEGpvyv2EeM/OUcGsRvllVF7zqZ07DgYt6Il5e5cB8BQ+c0+/75/nb
            jnLSnSPR8SEdMn36P/nfmArqOwd/eISDGmkQ06woJph+jhmMGehxngxj2awa
            q7jhSdsA5FrDj3SbEV0GOze82WnIPgPf+zUzv59tmesEE8RMfbEzllPKtJTf
            o0c0Db6SwiruvZZhiVE/eac+tNhbTrcWlP/a8gczwWNj5rDK3/TceaUaYMgs
            14jBpcxrcO0L9KejLaIFy2nF8bGvLM8uWql/8AP4GFoqx+XnGY+nqsjku96l
            eD1S9TzBkzbFgYEvXo77K76vVTSejBFjrvtXMRQPveuSYs286PB7+Ci6sKr/
            9uxWuu8FDNGrsgM6MjyfxzDtCH5Lx9Sls2AaI+ZurCrnp5x5PS3FUbeEqaJ+
            yu+l/a3qR46l2xaLNLWrI9F6YuPpSHfWqVzjGMJ6bq6vDK6EeS2Z53dsATut
            GnLyISxzzpn/H3gJRCg32dapmK0Wl6e8S2F1+jeFtFTQNoQ1+O1KSXDwmMWe
            0VkVeLgIp+3ImpuD2ZqHbF6eMT/OdMCP5bT7ae/erZz+jCDnc1t5rQmbzqph
            bitlRHxHm5yb4PkTayjY/Wb6O6VE5Dxe/UIxWSbRy70z96X8tCQPaAzPzxio
            j9qz+IuLE8fBtMfu1J3Eu8nJ4+0F86V8Vxzj61U9+ee7wk+fokFBufw9/d0c
            5WPv6chi/vP9x3bOPSAc4kwfTp5Aflk/tZNYazBK1G6qMf3e3EHelhT8S7Lz
            ZefUOxD/CJbJzz3o78aZFfC0lfmmbY9rfzMnLmMJo/hhn8j4JeXUcC6xuKzF
            tqdQsSer8CphBXNAwyrGG81ewjzr3gqMsm/WA1D9FlJv7nX6ACvbqmLCsF3N
            tsDqNsTpzBjIiaHtTzgelCQMXwF7DbhtaH5OXoTE/JLgpEqKU/OgUDe7psS7
            AdR+yg3tBV/JeSSogcfPBT3RCtXos9coPk7aCV6m+AdVyqytrgT0lXF8rBU7
            fuwMdCfRuQfM9jgoW3gWSvTCs7ITkGWe55z2g8QaL+4EvZ3zcHKqA3gmlfOM
            c73zIve3/mU/2DjHkJLibbLV9TH8rtrq8fggKBc+9vNnDI4ueMce8ijPmLv5
            pKbmiuc/96tEkVNH4OaYcebHwAopjqyFNxhmjlzphhiVFcUzyEb7WNTvqmjf
            t587mu6pEY+ud51xyz80HTuY6rafc/EfrAUB5Ee/lwsT4KfRh8kQzJjrj42v
            Wk4kXmvL5I1wr89zHnxkfnPL6cQ8aVG+BLhncUS0PypHQTRbaLU66Tq3/NQ2
            H/7Msb6FteTPWO4z1Ie1bXqxZfHuPn6NheccB/V/5G4UmsRybe/1UxuumU5U
            eZn1O7/zzlX8Y65kO2OcEwNTTp43r3wgnsdZU/bHp+kzPq4/XUPunEnGp4P1
            e2ozACO7YHA2aZ4DXs0pM+actSPBpmpv+HnOl+X8M7gnfJ9z7g8AX7f9ofxU
            kkPZN+2/nakxZYc5fM9j+f9TtSMNhVm+Q3Zers+Z0lRZnIDKEC2mZXgZ9XDq
            BzhDhtUEK+p/ZBHJ5h986wtc29eWPVh+C0Fzuy2Pg6fsj48IxyYp/WWRX69y
            aT+nbsvJE+YiZTpnRPrGPM3lVI+pT5PhpEfwrCIOIOQesdgFf/YUkJ7soDud
            dyqmyfJ7NfoMsfph9PK3qQOcrepVhlxbOPiAMIVz+XuTggT6vWV+MOM+6ave
            aqcroWg+E2dSVag1ItOBvkHzc6ByUjjGavK0L1zg/sQNHDcrsi1wLv3ESLMu
            F/DelLdqf73SgjH7o8sjAibkG/jSiJoNfwXh0cDEfPSDys75u9+AozHATHMB
            F7MrD+TJn0g6xBnhvSX9ADoZ1hegws1OOcPqhfz5vBIqfz3PvHATQ8X8XBuX
            P3MaKGdgvoU7KTTF02Zyq3dWNVNNo0/9JsayU2b9Opd/w3QWeob2rLUbrP8o
            XLxUcpfrAF59WF7U59Q4wZs780NR8Q/ipPZCncx3+jIPCkQ6zudpw2ei+GZb
            I72HNX2dxXM+hXDn33rqn9EDIXevRGGUgyrlbeABxgi4Yu+eLKfE6x7fJj+8
            rJgltB1oxyojgqd5fk8FwTBuEWtuR/ZHV2/MJb7RfeZZNedUQ+TYsVlxRjlV
            5gcHyP8CsutWzNPBBfPGyJ/nxjkf8x6fk5nO+KGlVN0vxL2TC5tFh/a5N+2e
            K7SzWe2QHv4afwTxbMUTB1nIvWKaILOD/ZbFsFrIxEoXD5TxE3f4buXyfQpp
            e36zahowzjBiB7CSQJQNjxlamFe5MT2ofPUe+jQN16W3ARMTFE9B35x+eUYH
            OlB2o+Hzx3dsR1aUtZjO1+yG4KW44yp4l82YOvA378mrb7W9Trwi46KYH6eO
            d+VquC5Wy+2lfA3gp5Xza2hyVPdCtLS/OTB8RO9MpocvJOeWk4XStPgGhlP6
            d/3qA3zYp3+MU7wItetGJ6UTpaFD+YW8+b1Ek/U+PgPRE2+37Q6fYj6o8v4x
            PcdjeX9AaCkeT/I/lz4evuqw3aCtiTXF2lZtu0WPFfHrM3iz8cm/8/XMVUQ5
            FbDqQ2LOR/pqOh90HYjutifPMZmFzZveA+DZeY1QzXyylMXZZ8yk6W2rkpLx
            6PL3UrQZ/cKndPZT/j5ZPhBU/xfgPtadl2hNe578hWvZ8h+uYdt53g1SL/6m
            RUosw4NX9848m878zrONT/GZRim9cEnpxSmv7vzJOy33nP6ZC8k0I9HpgEAQ
            Hx63Mh6YrZJ4Xkf/UgD5PKfxM+cu4+4cKxeID6OfkbOqocc+x3ipaXql01bP
            OsvjUuX7zKqX+sNXUCgFfc104d9fMeGWT8pdX2X5uwA+Wrc8UII5x9pkrCX2
            o195WmTBABrgEm1W0kFKd6E9M+rRfX/njm0CfsY8nRxM8YTZRguXHMdO8snD
            Wkye4wdl6aUvDwSYcl85ZJ+/yf3BbPD2fndr6zT6jbAmC2YDOHDTHyx7q0Sf
            mYcWN268fGBMAGtRjSh/R7JFipEPbwOsMsqAVj5iEswdZTyCImA+GcyTZlzY
            sf1VnnpzfKg2p+oD7utzX7/syYZng6q4ivc6/LHwk//IjJdeMqMPE+gkxZRG
            k7Xq8dXiuepfLcXC1CsvXV7+8moCRfPMsTxeh8+8fOnlG1lL7O2s0GHzhKFw
            r6uSmcZn/JG89CU/8x3V+MS8liVRID/M/IP0I7G8ns+dA+bZu7kX/bnnP/Nj
            8yhHSfqr1n/TR/8PfaT9qTNH2Rfz6BirrXx2/6rPcnLh/tHnXV8n01VRnrSn
            /Zt+INN79x/62ZaXZFGGkI8heBd3fQh59gZxNDQneTsmSKU8TnDijEcQf2k5
            RNLbiWhey4ZaVZ8oCbGU/Zg/1ytdSPOMT/RWSwFt5B39/NRDW+AXWJQyb9Nx
            THD+kx4WIcryR/ieDCjwBgfkwUbg+xM3HfPWKvu8bHLkg+lgzJwHh08rHTt7
            bda8SHTyohDxmHvw3z7rnp9n8Y3yn6NuwZ7Pqh1g3/b1vP95/ufZYLmIpW4a
            q5OfwJSvH/8KOmV8YihYa6eHn5j16aPl/57M9xw36VWjKxFT2CTg5+QM9/No
            /iqROtFlPuPRUfz5jvHlbiziQwL15HObX9z9rfVYVvd4VMs7f/vL5P+Z9/uc
            37Z07AlH7063HuWKwoesTB8F4x8Yi5lA8ZMJoVnr2TA1AzJYWYxdHJB6A/Po
            JNYpVsZ8MpvDvaxdTB9y1Z3E6mHkTfIFeBmmWcX1hmPHUfousNA6Ap+oZkGn
            t/uBFeZZvzDAeBESLeY8D4TV0XxgX+Wl3dMHprtRHuRPvbGunIrBjz/tg5DK
            bv3TytD24E0XHiz3vOICaCJnLkizs3JB2kNJ2HKCBvowv/PwbHGpUjVrgZIM
            X1se1yK0YjkmFh4FaGSqw1xnvQj6CdNHRrFqXJPrJ0PDS6sj0Dcr3Nh55XU9
            OWerxb7Tb41tvP/k8yRfL37gyuqJdAry88cfiX7AkEgBrPod9y/47Z/nk+Vk
            oO3ehDbLOf3Egy/lT+IVU6Df1GEn5ZqgU6Z8W8hP39/ynwI/pnOWczzX+c34
            xyhSd79X+q8kH2osbXkY/02sWh/BfeuCdTkRfuL+wraaqKxk4T3d/7gezGLE
            mmlMniebMPc2U+er/kZQXvyXOlpGg0rnHl6vPcN7tw2TnVE6u9cJE4QX1iuX
            jWWuyzM3xaUPkx8AJazrrVwzIAmqzVQhv7GW4u0705JTX0ddD/ek3AiVe7PV
            +z5GoJ33DcofXH+WvlCcCWSC2xdjPOlwQX722cwRb3MGWGujEA+c/I/D6hRE
            6t0AkqyY92s8+Wc8c9AP9vd4whkP8ImNJ/+PxlOYrYv2cBIOlmVJ3XRDN3Yy
            P3YOHm+bDHxqbFers3bj5C9vOKehqP5YTObVZ8kGjrFV1eRiXehAdQUNxFI+
            NZr5lDvVaq6KVtMae3I6XFienX7OWzbg9+QBoE8DcTR1b6rBB7zH+9QacE47
            +Bu1j3+0b3+0j6c99WYZ27gY3heTCnwCfJa/91XXHsH8ccxdtQq71VXWN+1F
            nc60byK8MLcd1hFUdGOttAuS9194EDAm3DdZI9tNwqYSBpUf/Kdch7TjEtsK
            h51agc5wmdWaMlxGO/fFZf7gsjJfqVNZhkL+wPTJSAfW3r/de04w9rpPG8Lj
            2X+fe7VKxvjAqFftKcrl2KNl/8Cq8neyZnHuwh3K7aNcQV0+eN7wCHMC0t+m
            Ku5X+yP0c40zxsyaVNPSP4/F0ie4ddpYzUBlOY/ocz3z+sJhputVraUTIT62
            3f+3+Jr5FXq5PqGe2YFT+sHXVsfvv8XXXhUIQ6Yx71/jbioeP7j7+cLd4e/x
            dkuWD6UC333jbtZk0nXgl4ujMd5l80yfycObnPOwDu6uP7g7fOHrSiXyaXvx
            bHzMfkLwD++KpnYnD0c2fjnz05m299bZi/e6zMtV1UA7c18zz0YTDFJz3syg
            6C1Pvd0PYRGjibdwFotMSe0NqyRPXotp2ua5Dg6g3bFlswW7Ow6dl0N/luWb
            Yc65C+/iJ7KtUWWNbBUbPDhgvosZNG9bvo8VxahUow8FowI/76Hd+7yDTnrT
            S54sNLzbHjZvgc8+QxvmL3iVdtM75t1lDU7ZE/OnLrYj7tlAoRybcE8wf0zW
            lqE6da5NeUC2iX+Fpy++v/ia8fGU1S36kXLiiFSOB+r86F1uNIaehINHXuuR
            z4SSzZmNEaFXz3vqvuSvvHhFcixje4i6lKKCdowCufq8R3lPikWLNsaplbGU
            a+3QpKKc+oE1niXzkH7gb1A+Y10qufTFID0S5mmw9h5lukKLVwQ/i2/trFwX
            TR6LUYtNfX85edOHP9fAh2ogtFfo+jlXQeloEETNB/VrlAEfRttGyfu6rz4B
            cf5co18W7bZKIWp24nX61TW0iyonTlfYINuvzBN8L6ujY464ooBSFf7rdA5+
            qOk+7Zg74LZlm2j9UT54WBYP72fcHcVc1Sj057dkHMfEDMrmHSwXhgqKBqoI
            de7tfqVFLryWYTjoG6O+8VzDwgyRo0G35GF+LBTjEhBKXGAHsL7htULLTUjw
            ynyBfOmROwN9mI4cGSinMwva1ff945+VMb2vfKDcbafvPHmekuL8f+mQF/M7
            mK9mod2JsvvRxZ74+UY/r9sG+Otv25iMzvrA5qPzfd/6Vuykaq2fOBi9twbT
            KRMWX6tSK5lf8fmkEYu2V69Y6Snr1huUXY08WlPNsM1rTPz9KGeH9cPnKSNP
            ZS0P4neU/6H8+HWUvZQFLgbs+E5dwLEHSf1A4wDW75yfnG/p2HeJ/B7FzRNe
            zrXoTUfCujoscH2e/9ab6Dn0bfB/r6E96wMcW1Sq+fOszg0OaanBsfl0crLo
            vBZn50BzOgcui8q+ZhkNxPOyr3PNtyh/LyebmPJLNdO9hFc6By+dA8bEvBqU
            bcNrvsl2nSVfXbB71Nd835M2bt7n/rjHLHzpPkdl9M89TyTdlZhXY5KdMQb5
            wjF79PWHij2GU+/29CO52zklsHot3zQt5vWOAffzSw9hF9oWn/+rrWDteW6N
            JXsG7MD4azv9f9wffEu/FdHtH1ohmeCd9EcP3V9/ZKYAYMwG7XLEXwyV9Nrn
            BA16e8Sryz8502RHdccvT971qmIYZAmQ/4ByIpAHARxP+UqBRsruTeOow/3a
            KY/5dzLPDuv40m7CmPVfv8f5vf74Pc/v/cfvdX6/f/ze9hs80e/f7/ntfv8O
            j/2Wscbktfbv2rFe2K/f7vwu8n+Vj4t4a2Vkc3sypzILh7FWOD0l3acGgVWF
            eJn7r2jNQRjbjXtQGbJouU1BbHaKcWamYRwplZAT7Zx1FmauoJVAtLszqpS9
            JlVSIBcnXsK17k7eJZ0z5a+xAnYOQJBOf5zzodwGGmE6/dm57u9Cn7owzGsy
            v03PtvNuH6yvePpitp5jutB5S/2ma7Tz95yfsc5h56taf/053+Tsuj/tdrPz
            cPp9z/1w+n3v/dN+WY26oLxcGHpt77p2FnL8GVL4ty1UOb4cg05Mh/NSkrox
            ATQRbSYGwpr3VxiUO0/nmfy85Zwg4lDOkbSp6EuQGZhPI+6XtSTAqSbm5k+y
            jTFJgjgQb/3sxWJtlg9B54y9Y7YaSk8s+U3fu2hGCNlNyI22H/sadiGWdRdv
            Wp3xzt/fNsr5NmffNjtL1+K7lr0PMrR91xkPUO8S7qebyL/7LuxZfdv5JuYO
            3THqG6kPPuNL9Mhiv1Xf+TN/XJf7Hk8TCsM9W2HMOBeLvFyyvL1nXJl2YuXh
            t3PIU9UPX0j7Ife6IbmWueHqsR2CA2FGPNmdyAcAz6qyQbi8yzh+xIP83YhR
            BmG3WJO9X7um8mVbe9lwQ8jKoT2ODZdryXOwXuHYKunLRc+OcGsMv8rvJfuk
            dN60Tc2gHIxok3v6acscc/20LbOctsnyNY6UW1qRMelB+XFVgzEG+QeAyQMn
            7xRrQtvatceSfh17G+amy6977tLp080ETcenqBTzKZqNSgUuVZHPIf2HS/zJ
            4UR/W6oauAYOgIBF76qJGZgb3Gqdymbt5DOqLOnNETeD3DIc+XE/tt7nsCys
            rYm9CeZ7xf4rx43i+gNzXaj2C/PDUb1Ln8TqlH8yZY1letZXL5ZLWNWVh6PZ
            KtOqSJzsWf2L95TZJrPmqOWFKZ/ccfS1ZNuUBibky48rrJbufo3vrAnrnUHv
            muTSxHkzWypYh1OPj/0qdttqDD+3jbREX234bdqfw2iFvmXYOzxzMblzLdMv
            AbDI2qbHB/rSmK0SY4IL6tblA8s6BbQLKP92ZUZWosyVOCfAF5k6QAgzSz79
            9eRNPzmBVPaX+SbWc2qGJuqZWFMAFFk5hlgP8gnfehlvepkQzNdTya4r54tK
            t1iYg5FAL/MZE4go78XDupua83cMEENIEz3sWxcLMrThxg5Wc7GYi+ZJlljS
            0iFvT2XDVvyw4rm88m+zCDBtZdJTOjBRjGS99Jh6M8a0MUeRnlX+dwp/8iOh
            p+Fk7iC0U00YR36k0KqtGhSdsQ7yb2829uWZU3vb/UCiOyCS2L25cO4MlqYz
            WBBLFVYCrHgKIxyn4iRZP+OP8TDfC3MvlePLEzCHt54DZd2fmB7Iwd2+n/Xk
            fmy4sj+75Gj8HGtF4xmjgnpEYOUH+Sw7gmmtli/V8q5fP8kxk3hQWg8YEPk8
            v/M2ci4c+XzzS2QeI6cc3Lmofq3DfqJekj7nNKVm/PG7hGPoS3p/d+rff+09
            0mFbuwSe1ss+PeWD73DcH99L0x+WU+PuVUzepr32q17fVt7Lr7g/3uP+8qxQ
            VSwH7XNqeNy5yeaK+Zkj5mYSjzGfD+4Qr4GNS9+glwt66fCkusNqlUk/yiyK
            eF9i7UPWY2VueGexkZSbBll9Fg+lB0QW3vq0U26gbHF13AO8n/rv+0qFc87f
            T5yOfOxkG6X+kHmD6Ndy5AXNAeRZxsKpL9dVQ9TJv5p1U+WXzXg7f3OPgwY6
            YI095DNerJ6QatESyxRr+5c2/VEOJ6bH1TE01dft5x3KHTZPHYWuHJUEdeV4
            ZgUI2SNZX/XYishEV/rJWYyIYkL5HZ354MKpM9eOnZe4ANhO85ts7oBAzKdv
            QiwHh8u6XrafAP475ltzie8NjAfJudw6pti94qs8M5FZbVWNA7ALaWyvyFCC
            x+oCUD+4GHdD/TFdrFhvhzpkxubRy9X0n+2uA+DjvfVGec6cXBwbsz931X/N
            kziemibp1ggU49QjbdLF6b2TfuxVsWzKkzKkg9jEf+rn1qAAzmB8FUsIMf8E
            fZothnMq8SlgvjQgqgrcnrP5hUPil2bSarOy3KfygzCLY1VGN5+L9OnZbBTq
            S3HB9EE/efDpXO4P/NFPunarTUA9wK3N5U7tuXbyaBMW6HvAnHb8/T5WD5Vr
            IJ7i1N0i/FfzD3R3DUqC3MYcIkx+lap8EVlk7dZ341yPaXtAtWHoF8m6va2/
            935q7wZLXSgdLSZUir/x4Mlnn2kLJ2PEMWS3WO8VLyyq/9sCc1SdvCsnn8Sd
            k5HPnBz7t3y6wKeK70EfkOiHYJ+xw+VVOJ3lQMX+a9F7ZrGljpUVEl4d/fFP
            Nz91v1mjwWrMqz9wzmbzYDzTc9dibczVqROhmBHMW1rAofX91H6jO8vdq+CL
            LO255ZdxrPF06mtq35L/ipa/u1y4Y27j+/w6z3cGFWmuaA0RZeqio8PyIIuf
            GRrfdukHd6X5tk+NYWc+Rl8xxdTh0cIwL96nL9yzlQLmGJ5es6R67ydr5J76
            51G6PAhM83dc/mf9HvHmqgMQpTi7tQ0exVr2WCyXVVceS6aD1D4jedE1aqbO
            NekLu+XQJO2U7ZV+dMlyDKmmXLrvfZn1tvdGNFBJql7aIJmxS3Wis+pEg6Ol
            bQyjYqHEYLlW6sED8eCBu++94BNyE46qN83qBA8jCSrrrzMHpGpzSV5vufb7
            3KGvzOPeyRirPitFWq+Y1gIxLjBXgFJdZfHC0jk5qzlCF3xCThdcPz9731t9
            UsbjiF6puIJsVJLn3LScgZjhjzxM+5nCF0D7umPKSKZgsBwAd+74zp1+nzOL
            DnHeOnE0iqvFayaEJex06mspV5nfUKa3Xh0Xf/dDi25tEdqkWJWU57vT6qQ8
            HevkJNN3yoyfrE4E3/dO88S6fSQmmD7rfuvhkr9VbQ5vdYd9A4y+J88fYyKy
            /VZeccqPtlaO+5bhzk86MUuHHiblfLVnPIkJw3WVH940MMYf2JGDtbpm5qOK
            lwzxQhDDeMQbzG8hWntqAa0+3TkmO9aDW+PJT9go4bMmW1byTwa0Oekcq/KN
            rfQF86QmuZSg9OWvyrPfergPeD3mLntBd8InRzX5zQmZhXEMLFfj/8UePjmW
            vvcx/VjvPtaeJD4sZx/jt+gNE+gXi8koNPorgNryFRmN97K1vlM28fH4Tw0H
            5YaqwL3WzpmeAQC3DizwPfLjj0YH5OsSXvEEq+28AusPsBjvX3HQEz9jly+s
            +jt2vxsTetdtHF42xC9elqls+mhvFO6LPX54Wcvhv358xTLj+bl7uGaqnWyv
            K4358M/vbLZquRHwSN3TkVt0Ps51ZkvjsTg7AvZZ7wd0rsvz5dR3vvjP04cn
            mUxPiL/PEg8CUhgNzIQvSXwpTzo9B5UDG/z+Sh7EDDOVlEidv8F9gDBE69Pw
            ESOFrN9z7s85a6SCPbDxe6ZtDvfb1K6edsd3ytEL5TG7Tmas6IF/lxSTw8AP
            4BU6EyiP8SevXAS5FyyMH/jj79u3vdN9aiMN0Mk7d53+dsny0uz7u+n6Gbeu
            B83V19guvEFsZUUiF8H0UNOalXPN8sexGq1wFWWUwnj5rSA5wjXzpFFNGx7L
            YWx28QNfs0rXSFmL/okv65bwPOwSlLuLHlg/spPgbf6GN9VETD/5AWlT+6aL
            kuFJAlmvjoEdy2x9ylRas+z7gsX4ByzGA4vxwGI8sBh/YNGDhhMGTr3izz1m
            MLf2xF0Gi4RKu08fe/lhUqkso4zug3LdZ5Rz/ll0IM9gqlOAPHPxPzBEO3xB
            ZRL2+9u+44yTMFANBrBGnXQwQFLaLA9/feXyeYYwAA7Zvpe5h0jjv2CAtVNI
            a0wvsbmmd26Yy8L6CMrBfX2bpPtjvR3mUfVGu8E/MPWgNz/uLBx38w/iHhC1
            6Wz4HuA94H5m76aT/BRkWu45iFngxBRfPw2m9P6gjAnmDxLahS1mHs+CKeYs
            3aS/XzEdf+CtxGc9gxshQzrASldh2GS5jSOvgVKdb7A96pi37ifOsZbcStM8
            dasVZsF/xeyKudj+DMxlwqzOZz+cmrO3FjwIXpE/lPlHoYMf/P2rpsqphcfc
            Y1W8qeluuQfB+7Sba0lusI65dS3vkMv3emlXZwiCr/zDjMkEztjUuVh878k/
            QEmDsfmPWbGvnVu/GZ54ajJ92u8lzgC4gDXm5GFDHaG391r+/6ScFvTRp0w7
            WGL6xor/1AM0/mE/xi+MZscZ7cgK9Lo+Dj9RD/2a4t/Iifbb12AGZczTnD/1
            a/FhE2sxq9WZM54NPFUaJvfRckq/v8dkk6B8DeSRz7pZrPBPrdnipbvczEES
            gK/e+RvezLTlHeeFWUO0py2SmIlcLD4uKldYY1LrLvXkAj2JQfcZbxcYa1nq
            wSG0BDXpCKvFHgAhTstXLfwp37pPXtyTE5c6OdWeo22SOWazZEYWn5ZfGfl3
            MqiqB4gh23H85PMmvmOptDlI1/vNDc5gE+ZZCUdfwXfEYHWubrt62oGjMOdA
            wsUyPYjVNGUsH8MYnZzQGBJILpt1nulOpDwuSqKy/tpnMj6MuIU+GTPY9XVq
            b0kH0EHzWeudiexant1Zft01LM/gjQWe5/whYu4WY1iqckE3x0qpznzPHO1b
            L0Tic05Vj7s69Gpar8+38XwPFw6eJE/qGEP2lSd4fequKa4+cW3Ib1DP/F+N
            +2E2BqxoC+IvdjN9JlMkffPmz7ZzkH47xnNM55jPsZ/jtCNz1DkZOU78IX3S
            aKKp/J4hH+3M+pesv1e095rqFJef+BCuPev/AVUHkgD+ppwsnMkJSz844fKs
            N3/J5V33qXG9T23s9LBOIT6SenEK64/i94i6TY6k+iSq3ns7NqrZQA9THDqW
            OSaz8oLVVT2vb32O5YI0HMcs4bT3K76qLMf+oskipvcw7ZpjpOYn1iqoXmSj
            JkjHyVxnhofD8Xl8ThQOZZ7BHA/kJx6GRESWePWUiYi16ShGvF1Ak3/JQPlH
            BmpmASadZNZCwB39TPD7Yc6ZP3IZASJZu5O5kMJjfiBsq3liTNdclb+DdIW0
            nvLDSh/SQYKjYOCc8jFiOkpJ4uMe5fh+fvLq4drYf7uO9HEkQtfNaPwD8Vmu
            53q26y5SgqKvDOsISRyR/hYLAkGbsZvx46cSU1UOLdI+zpOcx7vJJX/LhwDQ
            yP9ykRlrRFs3eS7pcWiHlWxhtJjyogi3sgSskyPHeHXHFO5m8/jw9eJhisn0
            h872rBplP7z2pSXUZPCbdh+y9ZT2j3/OHbvqwlH2YR5M8iKPV1YDBsOfPFG0
            8ORH8ozF9qNdifL9rPRfB48yGmUb2hUuH2NtXmUEuO2YXph1PRjDfXkctjM7
            aWWOwAJiN7n4kHHTzV2jNtHasB6Z/HTpO98HCy6l05YrZO997Tfbk5cW/wRR
            WEn41um3nn6r9StZXWthuahAIG1+qz1PiJtf8+DOPLjnZ+yQmubz1aaeNvVr
            rsButPlrrn7GXM+YK/taY0o/CLrvexylGvyZDcxnxknR5sU9ST9v6YYtB7ji
            qpQQ//Dl4NGGr5bT5zUb5d5yywAcZNrpo7xlxMPsgx9V62uYfZI2smHv6k1+
            FizWR/Vbz3gb82IStjCHnXaF/DUOMLf9Fz9DXe4YHx7q6gnaNKsk4xwTxrO/
            dQKnnuDDRIfT6vtNJgzvJH7Ulsk2UFn7ITTwo1uJpZunP+DDMVariw35x8sn
            T/Hk1KvI/0WxkqR92F6Kh8NeYDXw0X6eEe8AfGa5p47el0EczKUUmf7kj7yq
            HGdWHF+5eiDFZ2BlmSv36m8Gk+txw4aFPYjr4ZyrHmGtzXKMBX5DZAUKp/re
            lbf6/a7E3Aq17Xv+5RdmfmT5+bZJsmYu5njW/rvegkqXFsvjqTo/nJNmdTOm
            5RR2n3ljoEqy3PXMJUAdhWoYtWWx8rSYe+miIFGSr/XKkSt7Eqge4I99DLoa
            i0espy4BI78W8RTeV5UPtzAnTmZFxJMfUHkf46mvSL2k4jEsdoxqX51v87ln
            /Y56c/lG5dTXtyoHZDreaYE5563Gkum4nqDcjsy9wvwEwb5P6x817s5nPnpp
            5VDr/dp5br5L5RDljjZZYNi+Gp/8hKRbgT5jPq74Y+cJZEfptO6OLswV2uxp
            KAP8dPn+XfgtWgM5qjvj30axcVbVhIjKr8w8y/WnJgVlcub84x7uR0+TT72r
            eOOI8H+0J5J5Vi26cMb/U58hfOpPlFN/ouxSovSGS9ssWD1OVhWlTfn4uQJi
            3uHkqKP8v9xbu9GrijB/ZFHmihk5rhm/6lgkW3flmcW8RIVKaR4gUBjM96OD
            Yo7VMzfK79i97e/P3KSfOhPFdD6Kubu/v/WA2Ku7BrNV3X0cBnVSTfuKzyyq
            Ih1jHhtzMTMtfQ7HnkR4XlnyKBBJq2dNzIctnzrm1N8q9oSpu/ZDHwvVoIiN
            MVyR78C1dZ4hT8Y5fJSzJGltna3/Ty7qDbyhvNmcqL9pw7XjXPSTC3SQn3fM
            PYJNd/Ua2/Atdi5To2lvetlzX1ossMeL/5bxaj15iJtqj/31/nPuy8e8eH9k
            TO6DPiOj4/RexclF26debkpNNRDkQbpsb3zWqPYh+RJvUJtT98BbkguKdEP7
            84yBeWYNN/iP3CR/jik7uHTvwivMizmMhyZe4T7whX7UTAIDnOFtT24wLd+4
            htL2xTUaRzt4pv6XeKYajqHjrWpWBNlum97v0Ve1988i3Pzcd9/nsvknKU0J
            59hqfkUmXbA9tTVo4VFgcWkvTx1Z5a9RYSRIL+nwu5vyDvUOYOTmOPYA7Kl3
            f/RJilvntmbefCbRKhE7gzUQQfUlbZ0a5rRAPCd/D/vXd4xX8g6rjLjs6VBh
            MSQMZx0Zzea2fy9owZr6NQAW8+0vwOOtqjOWlbN/4UOUh7VwXCV55mGtLR19
            4L46/0TfIIjAjiYGb/w6WDDIJSmbzwGrLdDngDXcZK8k7aVemzn309GJMu8y
            a/nhqnTYqlkz9vOpvfL1nQ0U+HssM74A0OHuOFRr8P/mOMIf45B2qKnmK0t/
            KCoVQkh5LOYtmSzRrWZ4dub3w3ptINDeasEwhVL6V7KN6pbsTQRe7/e08PZ2
            ciWxDUM0Muk+c97IFCt/Z9FLPePk6zl+jZuKAIpBe4P/Ucr5Oggy9DWrH78V
            PLNZF7DafdI3s0FSR3vkLganpFt3WLISY8KBw+56BOVKB8Pv/Lv9Us1B6koX
            4edLruO33Gd8MH8AynKbPh94xkEex4Z3t40DVBJvJ+7PZHSCv8ex1+io2raY
            h33y9l/cc3IZEO/sI0N+21CIszD3d3x/kTXBOaV+5oWyYnu2al6uJQhQQqDv
            +YiMq8eeg8D3Gf8WLj39k3fom2XZZgVF51r2k+fHkX64MBxpLHPtsaJpiM9U
            ZXG7p7ytcckW9DAiQnMa/6/GriRJchiH3ec1lqz1KMny/580BEjarqqeiDlV
            dnYuTpmiuICA9qr2pdOLTXPeK+xQ8w69IqLdyMMCYIXH3nK+f34z5irxuuT9
            28i6M+PIbr3uk5jK3rAt3E4UscZ5ZVzh8MfkfOM6Jyp1HeW0WnfidVfTo8Ga
            FY37LN/WEVJ5PTqYcvhgZeTKruTX0A0/8r1O+PvS3+unbzjeNTeVPe2DZc5c
            X57fm+bAmf391scPZrPYtyiCFutBhs49DAAmu2CZYrBuM68Nad/tp82Xz7/L
            x8aYw57vepB7/k/9oRFvhPtbcX/R65D3dJSetN9H7VIQr0hyTvt68FKRutqM
            F+Sm/vid5FX+FXPvYdwQyE0/nzE5EM+hZ8zgUAsYfgG4qWj3PpAR0h5rtE0f
            u19symh2xj99Ts8nlF9Iz/X0nus4y/1cxxn/nOufGg5w4n6tXEPgv9qk2OnO
            1Kz7s/d/rEOjSA12wjnkL/F0zIctNxGbuVhx49kwWEOlQlimUqA/r9pm0bTR
            rN+7eU+n4XSq4XTq77UhNwVmkZfm+uy/XNCl2tCDOjBr6Xm+7HhqWI5kfZZD
            B3dqswGeSJZdDIEH7Hft78njqY81nrPn8Zr89rKdIxUHD3BQfv/zRF9kH79t
            C/EUypLJuEm0+vPUCjB9UhwLipI9fv+3j/q1PUmY1jjm/2snweNArzt4jhJW
            eOwEfVo5/BrXO8hyQjtpXdSY3f5vuXas/aqKp/PH/+uMwfkz0qUWkIhz0j5u
            lX1vucy8FAeCNVqb+49MLziJ2HvfIOOM0fMbrmVWX+h+Qe27/I0rElgx9vE9
            tyymePwN8Akh2awl9oVqZbVYNY4hBVAFvl1jd/hNNJTcF6Pg/foe9eWww70M
            J296wOF8bWQtsGQi7/r4jSFPACuaP+9Dbc8+l+Hrxz/L3mWN5OrKHYjPuMHL
            IEbFXBMBdLsVpLMuxgymVSt5qPq3NNSOt9znBR2JQ2PvJr4VqFDGJlt7n+iD
            I165wnt917Y4M5CL5Aa32vPvqGtEzT3Jt0LJWWky73yWgdG4x5dDo+1dz6Lr
            uXYxy8nZezQf7TPUun5jhVZMnTIJmh9koJJ0rwXWRWJUHgbS88Oe94Xzrz/2
            PtiT64+9F9urgzpv3e0bGiTuu6bhY1g7G/p6lI9ZO4NmUP7EmTo1rTVB4GKy
            1eDD2B5jNH/u1hzr8FqS157yr9pTJQaGOiMHmbns8fTX2b7kKJOuXT3DYl3h
            ulc3rZLQVY+QWBv73IM8rGGxXuN9VYiuXcpB8fgeq4H98D3lp+9pvfU/fidf
            p18T80zJLSSnp74ucNDg1gaGIhc0VP6xjvU92/6RUwxijqvqjpROWyqAJf1L
            S69yWuuHPQXWgCLn5qk1RowFagFN71Hh/rX7Zs89vwds7Bdx2pOa5crdHzsU
            JOUvRDMr5rm25ie/r/8CXu5TN/LcLosvgW6m2OjtmGSvL1CjDthj2AhYALrh
            +Yv6ZFkTwL83cDeMMUleLF5yPbWtyRgZ9wwrV3UWABoTJ2KgobykhvsTi7nn
            nW/gfadY1zH89fdGlxlgzfTUsVQreVOTDhMHkJMB2v3Qz5C1PJOfCRu8/d/P
            Fsuoajd4P1jz/dpwNJhaSiD2Id3dr4O9O0QBAX78FG8yzlwxv3ifyu8k12l5
            ATX5StwrvjZJvwwRrPBqrDL/vbmOg3ZPgO54zjAkcs9rl9ZOmuE/zwSaKq1z
            Phyv8a+upduX5dQhqO4OdMipqenabqjh8/2IdUAEoFqT4o0woSipfqhxyN8W
            JD0MGpoeKswCbePh32MxdFAbVj26A+O6YqdBfpXbK+bMsMan2GYeuyZZUTEN
            1sMdJ4L5SejF1qh5KPWNkmpH87rT04MsjuU5DOOjckP7wR6Tsx+YReW7wDkN
            GZTGmIi1JPm6jX3bOjAlqPXCPEBYcuD85Z6W40gCW8eb4CrAd6N4BnARG77G
            YkOPHR9dP9f5a0rg79iduLX/Ox3DYzEmPZY4Dh2++oVl/WChiH8riony77wM
            /0MxtowJ5xf/A51TSIJ1691mUExjIhX1buARSOovZgd+Zgl419kWZ2VBeHel
            CQ4b9kyCmGE3zDxCulATOM4fba3BqVXyrPeotSQoAHN9x9R5yXjJ+SZ2heso
            4cE27KZrs32Nbl0jXzPHOWG+G7+TQHb5nTMpPw/6RcA5SYDdvtqB4dbZSfQV
            waCO+ELC7IHZaAxhQA6MM3QprkDen5t65fC/18k9ujgvYnOFwWrE4DdgrR4Y
            yEgNnsUZPeygprEJau94XJQrgQTnnJa7VHcJ+P8M7D+5E+bzHdCx9O/g3GNn
            TxQoHBTEf2LYwIPpsx3Aue3Zvlp+jhMrZmPxhr5N7tX3XXZ+7Jrmop4lctNA
            /q1BEuVOrQ3lrCd3veQsFIul4rw4QiC6sBdWhwZK7iMZt/hF3Z4LM66RA0rK
            TyaegJ4CXOTyRR2jEIMgDYJzVHsBq2O2gQob+paN+d6Hyw/YbznFODwQ8Fvu
            Q3K7Sb4m8fasz5cyJmfc5CgGl32S0Hmr7YiJzwrtCXTJoj4n/gqzXLUsbrWj
            br1G4xcDrzIUV222qNDPRuNGJ/YJO76Vh2c0JcavHfjLYPzK3AeK7lXd1aVo
            ugwdvQ6QiFiqrGUseRy2Z3Vx5OaCKaAX7lvjNMW8bHlfc6NdGPKAoAHnn202
            rj68p1E8cHStpfbE5MAyhLOwxraJ81MM23h0GQvO4UltjmE6JCTR4b5V/RDM
            g8keHPn44P8O+FDwsJ7QL1HMSFDe707dl6AnO3U5OCVBDQzwGQNH0ID+gd/h
            +5ALbsTIZwR/Kr4/w89AW0H8InaE6lIT89+Icj2q5KMJuKKOTYj80x7rayUq
            gH1jKN1ismX/Bi9RgM2fx+31IpSKmYM21mc3WXQS8I+oRYOvm/oPID+sX35z
            SOhijUb9q5tAQUDbN4EVDzB3qF4oOSACWK1v2bjwKcojJbmZ8khV9QGc6N83
            NOgQvDVqfYHf2f/vukuYHJB88aqNwXg/DHdBLl3TtDAeKLVt16FZcrqTq8V0
            Z4z/e9rf0/Vp/sG5XlKm2hjxIcX9MjgXq14PBxJvhWABg3RBGhsc4QmM0uSL
            rodiuZT6S/nc2mL+PzFHjT3ln4HnMY83gQEUeyHvMY2hXJEc/FSoPyUBzbxH
            Qc+CZpgfxyPhc644EcZM1UU9yBkHXW9XIbvv//wXc/fYyA== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
