<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.413c.8197</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.413c.8197</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>413c_8197</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Dell Wireless 380 Bluetooth 4.0 Module</string>
        <key>FirmwareKey</key>
        <string>413c_8197_v5543</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>33175</integer>
        <key>idVendor</key>
        <integer>16700</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>413c_8197_v5543</key>
          <data>
            eNrsvUmy7DgSJLhvkb4LMQO1A0Hy/kdqVTUD3f1FZFVKV0mv+ke+pDudI2Cw
            2dT+xxEP/sv4G0/4v/+v/xH7Yf/CgU918F+OB/93n+G5eOjj//Cx2sHzOGLj
            taI+8hrj+PkXLlz8Oe3HHHD0kXMtddUVj9LqaFHfSkstxSOl1NPB+9bVCvbm
            +tQH/9/xW463fruwLzedhauteOPqN37GcxVcPyX84W7Y6DXxDkddx9FwNM9o
            fP7H/vS5+3GX789+7LLj89Q4ZVxw4OHPiJfHn+5X93HLr5H8GrgWHkXXaX5c
            i7/H8DuPGR2DjsctS9tQBw+bDS+zdOegkYw4nsOe9I1DHUbi79GHGu+Bb4Ff
            8TRDR08cvXBsyBUjGXWf1M+nPbxOGOFrup5pd/qZwRbC8edfncmeI+zfzuMl
            ByMrf6Si7YhGAiGm/eTft6l+cPPt8ote/nv0/Wlf9OLrHbPmu9qNex89xzJT
            yqk8vHBa0QZVE/c0nDE55KOHygdYeIEHtFQ45VUUcyycdwfMLH7HVCS+5MIP
            d8Q+vFlJ2Ic7g27tOHzOJDvcZ2F6r6opIrkkTjHPXTf2DQ1Iyt2OI6V0kiiP
            u216zgf7cG46fR/OORf24flTA2lEDVwHvXz+q/5f8f/iwv9hTvOzjttWq8br
            NgpJx9d+kqiIRxN//eyvdnzvv9fx1YTb/O7Pw67Tjj/HnzbFDc8Ti5FADDjg
            +yCsW0331fH9a3+NRpnXn4tGDQ0H7Xd/6r3o+D8PF9YSva319ZJ6aiPD8uf4
            vZjin/uGobWDXbb/Q8ZOtH+f068zcn946Gadtj5DHP2z3xmlrZVl+/cZmjf8
            R6Lk5LzHJzuKRHg8drw/ihZZ+zpe5xRMUhbrCbb/+Fll/XOdw8hAb9hTtuOP
            fby/dli+//h6poJpW7/XD21ziHobCSRNbLCX94sWH8QUxMBqCTn21tODhYNH
            rmSTuQWQf80z4dw4jrm00jUrT70fMqHx4NgrHHaHrIE7eS3wwjPMmP2eXEkh
            xAeHPuO4n3KsJxzzvo5+DzwpB+t/9XsyZt3jVXVVrhpIwQgeUWa929V9tP7b
            v5CfJ3as+Int8Z//+XGRx+X0vzqOnPJ5av1fHlf+y+PO//K+1z/fIz9GAjnk
            vyflV8q08//Lff//9P330/d/YsYeFwTlZSj/e9NXxTZzSBL13XRafvPVaesd
            a3kFyEFobyS+GMEK3k+QufkEtzihWZ6QiSd+ObHCz4q/hj+oVSdk3Ak18OSx
            UMpO6MPnjT9wKKoB0Fmgh+IP5y+cDzmfoWPkhfMhgDKEVl44f+H8hfMXzodu
            kMHDqHVmMJp8UbPF+RfOvwq1XPzh/KtjOpZ4qJZNnOJv+nav729QkC996+Ey
            thqkBfUAjl5NQGXqUdSQjhNKSVjg3Q0yB8rQudr9NHC8Eyc4j4baivMbHnOG
            56Z+l287n+fN9jxg0q2lZ/hqIieP53GdOg8qV7zBRavYceV55OtGApWXwwPg
            pvF87tjDKo909kCxkUZYKYarDzxgg27aRTKp59vFHCbhOMsPUXbJm9y7HdOh
            Dc6Ih+sUdCmZQoLLxIdK1+XnXFIEsimi/YIoSXg+WRXJhjecmS9cB8gpYKAi
            TJLnWX4+n6GWbquP598V96zS8+YerFE1yJdN1brT6VP1SEfqppBQDWoSPHzD
            rCeepebRYwpXSZyy/QZQuFrnyOiKmIl9xWICvYtcoOwfT8bk0RpY+TN5+3l6
            4vHjzE2WXMVkt+u5aOWc0Y7HlOYYaoeqh/GF8IXeXP07SBvXCWuAEJ6LOt65
            dAxo8aEhSQKJz9Q22zzmZiTQXPJjOfpE4jkXKeVnUjXx58rZVLHj346pTaYD
            Hp4KUMHEQ7UbhRPf7SUaiaVi+HBUKBzGeIK+QJiTmg5GCyR44Xux75HfxxXK
            jCNQHnSeB1rBtdd8pMYHnp/4phdVPti3EG0dBNw4nbB3eGyzY2EThhjDiiRs
            DNicT0snCSqaTozRxzNegauuv+99QVU0JYlaS47nvxD8XckhaP5CZWqTK5gm
            ev4h+PYh+CGdiZxGQwcCufEck6Yv+KJWqS1MLPC7DXEFvr+0R1B43eelgPNo
            3t52Ho9dN4/lTQPYzzVNPc71d85KNRLo74vQdokxm83IdRCLraIW7eJ6kfBA
            Qd6r6Mq5OM1TFQRvgOFGGoY6uLg+6ZSoxnjGySEs435CHwE8Z4nRNbONH1t9
            oLCba0XeAztvD9/zGT6eU9J6yuYxd9Yr8wLt+5z0nhP56HXlp4oxkjwxTLLq
            sp9TKH0gfAokQ2kj0zZfNIRCJXMOo+QOkhmNL5brALuXir7cFrDnAuG1tdfx
            pNWD32b+fa4PKZCcQr8o3MzkI7+8uTjCAgnznGmCIgXnPAPvOrHGA0g6UXjh
            GlgGoJVWwGu1pUAQZ4PdtJ6XF4fwyLovkde+spPAYzQNJouDwCvoKzh1s4iB
            BT23u/E4Spcw7zyj1vjklDyT0qVGf9jDH4oP2jip+B6xRrHGJq6Nib64TZMD
            owHDjWDdc8DAuJ9pk3/2fb1/TGSSUZlb3OcMPH8QAwY7FDGeOclAAkeQz+Oh
            6gsCOdeA4KjhFRy8/xVXleOlkWijEdKZ87kZ9XVRh9n31xq4S4cO5PfPTry3
            n3PwN6wTMJ62j+nrmXJRdagrvO7mhQ8Zd3KD0cfubKNwYUIsR2gmEAbQQrjO
            yTvxZtCaIJyvAzz0pGDDmDV5TaCL4PzN31bFXI7nTjBe79QoONLkFqQN5qH7
            Pe4aGk91BxwOjvS8kFfQS0OHAbaR38FdO50NcqXEeHZIHFA4yYAr4sa0yKyE
            pPAVUchUR59ygUB64zeThCPbQGhypq8ITQiY9woy7mh/QiVZvNaYn+NTwfEL
            RNS3qhTjs067B1bQ5aoSpNrazFTnnU/H6m3x4uogYUD3hFm7J+mkqiQ1Lpsa
            B7lyd0hQEE26n8nrxPCR/9xf6LXTSot5rHrva+E5niCnjF/rsVX8EuNjxAip
            3J0Y+TwlfK3Wk2OV6TSza3Ah5qaVzXHCmitp82pwQHGahy4xJ1ws0GcvnI83
            0mylwBHgVdo8jQQmn3fScSq3KC55Y12RwdGJKiVsdDKhNF1rDXQ80M8HkYnv
            +EpFtp15ry+NU0/UyIPJIBuCv/IzQk+AIOF9I30fLgBWk/wEgUlOQ7Frubyv
            PyuZvT8rDAGRyUEW5WSCtz/1PPcWNPFsvWSdE2g4PHL1hOz3wbEJ6lyH3OXt
            /BysudL2OUe1Zwvrc0497JwcRQo854IB0vc5ddrUxK/74DoPz5njfbabGvAe
            A/zpPjl/xgBK7c0xGB8SeFKe97YQ0m3iHCSdXWk0Mmi84V5epIB6m/+XDhwp
            hMNI4LyXORg/D3pBE6+mre4LhLPPV8KFagN/d7splRZctFPbDPTt2Tk0zM89
            WenRTalYv5OVnXju8d4ngY2MfQ50Eb1c+JpgPBfdlu063/tgjZlHkwL/OY2Z
            h30f7MP7dDJUcIzHeEAq5zIzi8s44tnNO9Kqr9uyzbSLTPg5r9TwXGftNNeu
            5k40SfJU0zpNMEDrx8MtW/E+Ic9HknOcpLWYgDzEDzKeq+I9vz+/iyS1mWva
            goqMXet95mePxw1BgHdo1y0CuRSF6R9+cruP91p+zhdPKsFIYN241eyYBDwE
            GQ6WdjcGl0Zdd9+aJyT/SQZ3z8/FkjPaGez8hNenRprTO0FQZlrSAD1iuFqB
            6Xtl4FwQUFuX7lvok4eEPveL43pTpl38TCqUQ9MQ7B4w7u9rP2ecZn7G/jke
            atCQVp1FBJw4sDAIgmBMC+88gtwK9lx8NxEAiWZL6Udm1sHFhXs8+g4JnVM9
            ue+SJtNwsYQhyiIpLAq+86DaAW7gGg4IrBtBQVXmFpzCv0f7Hm7/ftn3nDIG
            2z4nP5Ya1pKzGsoPj2Fc4JRWcVIGxceOy1/H4HozQOBT2yhndEFw3bIA8AOm
            CzrxqYOOM8iOvE5KrfMZ3ILilr6TZV8Rh0EzwABDwk58nsNiexqwMXQeg5lk
            swsv2fE3A+3YoJee1U3LRWeyeedBoAHXGSIyaIUKZWKm5R8QG7k5r1OTG7Lt
            H9m+g2AZmKEGou8dBqQ4z9mkjyffhmKTATuzGbu1bXGv/Migr9uc1xR61e+f
            D4XUoCPhBjcfJS7T9ztfBfr8GXU/s1SO7tuw7LlDtm33KMXh9wl+/R1lWdmu
            u5ZtL7/P6v49762t8HP5+FwWT1n+HUqhRBFt5pJbvXy88IamPbgguK+Lvq2l
            i/oEwS63yWIIT58ZFJGq6J9ty9GVOvi/ekg6DzEFj7yCvjrArgYNUMjkatGF
            s2D1yJbviVGICNrV+kkMzM0Ay4m2B+5LJwZVvmifue3/6Xtc8kEOnntSpkIl
            xLU6/hY1JWzHCrbFu0duIesC79eTbRe2QVxHOh0m5VQAGPYNiOk+/qnnZKzR
            U8FsOh5bNzGId31ecZs/KpufgxetivCVIPVZYjCuHvY54ObPvF9xy2hnKrko
            YwAGIfU4rQ9o7ToHvAzWLT0O0HPidkLpPOiO08NEDx3ws+hhoc/OCyydF7nt
            IloW1F3Tefxa5rnc9N3wPPrSXMm689d5PwadzgF/pwvY7jWqyW2sqvgfjMCT
            8ahrrWMPZo3GsidXkAYmpnQxIA1WBwKCNdjH82VoHWaUQj9nkL+Cm15us/Da
            HRxkvc9DxWqRcO3arx6P9yf3K/drUPLcMdfn3MvPravnfzs3vOeSk+SZ1gr7
            nTLWI3URzKrdd0BI4b1wF05bggGPpXKlcuEq2H9C5zqloGpMz8HnYa5DfSxu
            qsB6Ly+xxW9i05hSYJ/VuEDApS2Cz2ABLXY+OlihWQN5BMl8V47uJE+aWfuU
            hcUJg59rhDjEw/VtLMGs7Z9BgjIghyu0RFO6II63hcFBeuoztS3P/FgW+ZYW
            nv/Nu/USFiipzf0O0y2Llbu5Y7KiQK3q/lt/wOs5AfOc4asULLS9K27+XaUl
            1DW1+jN0lOoEnFYf+5w8GaV9zylcmyCytM+BaF1ytq2+9jm3jMjNYWDsrek5
            Axjq6/mNgIuASibpbqMwQDEmAfVo18T8nJofxtp6k+CiExv3OWuscmhHWm/9
            NgcxFFVKDfpcwYaXTRj92c1Y+Kh97aACJwha5vNSeNhKmR6+LqoDHFT5j2r/
            p4u5mIZLV84d01NS+jOhPKZf2RJVRpCpKH/W2e055PbJY7xWNrQOWB6xgj0e
            fZtaBTuhgzmHgpXtbLhfb6zgee5frlbmTQ7x4WrDONQ4/oOPkhN8UuuR4opz
            lEnBCc7jVXbP6K4lO35VhreDLH2edOn4+Tl+vcczG6JcM3+Ov8H+6cmG7HmV
            1r04V3UFdcZI64NuvuPcLr1y333U/W4lPbdcehYpDJEJHyPaRbcrBYMJemu3
            tMtAb7BMxMHtWXc0SgOHO92WzoCHbGZvgk5H/n6pVqREXma21KPC0P/yp0u5
            KsvOqUe76GuudOM+Ck49c4H4jm06Qi5nM8vA84857J51fu55854Vt5VZG3lV
            KJXt3oSFUZth0ha3c6AfFb57CIojaEnJXYaV1LvY+FXpkop/OUNNN60Xl8XD
            2TBk4cuGQYC2ynUO/XQVFjx0I7LuJMIZXC4QYGXrRPQmdNxPgQ9zBCfqcDCL
            wLqwwmEFD/pkOHZY5TDSGkziixZKYHDu+lgHge+B1RkO6XP9cIUfqopFCgMs
            ccqmkNycIAHi5Dz8e2I0VjIXMjUF3jBLgY9hkBtRuwcl8iUzZZL0AVPe5yrG
            KqelpBgnqAUkK0cNLrekZP5wAmYZ1nrSn0T/AAap5mdkOatskBSZvD6OTvNt
            RtHIUTxwlGUq4KX9PRaTBqWOn6HLpGLGYBh0gK+njyVn0iL1bpMLx0nhPZlG
            Jq1i6b0ef7/9nqYbVOga55Dz/BLHoLmDM+2ZX98i/RYVF6LIm9uTX/tJDsRz
            Sdu3cT68YtkRQokFKp+MAJKXJHrWZaW5n7RixrIygkaRbtKl0/UhMUXz/aFZ
            HJ5Zp4gai9BIgFzfwzx1zvW5yBp2kRztItEvAptYF0nkffbyJyzzc4dE5QCQ
            jW3n6RBXjBqotfQ3ps3JBgWWczuFG3WRrgf3EBHIPdpqvCGqOLF3YqjQuBOo
            6MT3QqcxVvf057kKkzxdB1EEblHmm5zXYDyKfAzRfJCz+/FVfZfu54q5mbwv
            XzoCZkk6i8I1Ytf05iSlmNIZA9PuJruG+f6GuJOLTkX7GOZmpGQ8J/0wYCzu
            1MGlF4ibhEC94XTuWD/X8cwzcIJTnpNJ0/3e3BFMgeawE5IS9sgd93M4EZFw
            khGORQpDYYyKWmKLC1b/foCH4RdS8WEXeLlEY2jWH4ZOJLEpxq0uPRAG/OT2
            6N/aM+iFCSB+7eTa8/M+XEzxZE7vwzTIzvNPM3s4MGBulrtLjsAnc9v23Eql
            zms4j2EgyHiyUGqARmQNGtZ57tV5X2DLXLm3nx9AYboGPYx2rXJyoKqu1+nm
            xRrmZ72vXbOCA71cql9YtRydateUroR1fQTTWcLpYSrmCeCV+HwVBMBtS1te
            tzbWufZz0jNFeZ38OYPC+pfGPQ/3MHLMo9zNetbLQ1ZYuBQl17I4cPA5gN42
            z00ghZxvggTSGaqyBBZ9Az4oxSeYpmA5F6lm3HuVNChaYIv+oOswpSng9b6V
            Jk0GWGGxiNulxO5Mlq08QagjmnjLXYvKLGH4LC/9d+bLzH9sfz/f9lkOQohz
            WkiRFiHjqsnSMzEe5v28aFjgcS6lCiRlg9DNcCiSc8qHy8WAhfvgkTPdHwXK
            sSztfEY63EpWqA0iuJrdqe901kmsUhoqMilphnsE/t6YBQVpEhbs1ZQPP4dZ
            UME/h89nHhfifzyu69jox1Jy4tP+HcLMz2t2nYAbPvYbtufPNT+f7xT+cR+9
            5789Hz/XszZuFd5s4YI9k/EcEOewLPB5DD0XtTS6s3K683kl5v7QYvdnt8Sl
            AcWD14PJwPqGaUZJHJQi7lXmSVO6DJ2V/cZis++1+1YEcN9aCLCZ7Viq/Vxo
            QeLwLOA6XW59iHN+hg40Vq+i7UHOy7yQPG5LB7IMrHOZyD+HZ2QdFv6EnmRu
            i7XkbFR1g2o6plwg0HSGOdssIap6yi64gI7HCmhaJ3d2d6Hdd6ded3+OnVrd
            u33vy7Y7FXv4eeU2mxGryq7HUKMSF2w7Dts238/F7W5K+z7tPs2P79m2MBiL
            5Zfb951CPvz5agzS24Y/37ySJD3msnynmKdhVn/z56+XJ0t0Gy8oFtE0i2dl
            k0VxKgWGHtfu2Rc+uDelzDbKZP9ZhkozpVmihLmGoCsYCTeUEhxChgZ6vegL
            DbEMMs+zjMjVepbAbM0MybJktIdRonS/mmJOscUywbImzIUAylDuI7gDiw9g
            M/QR43WXKzV3iuZl+u/jHuqDOp1JNvmiPls9b6fQmeANuDY+K0nxBgsaEE/0
            X03PAJlScyq2MO8V2mDyRbotXVGhIG3Dd7LTZwF87i/jAhI8ZFsorA6ZpwKv
            IKNwByas3+Z8fZ2xh7a8tpy0UFbS4nbpuMDzIUluSjt+TvRRUXf+WoQ9wLQf
            TBKEPF7UqzPP73IFwQrTsyvvIJlGGk+K4Pt9cPl/nGI6/Rzm34FuiuPql5JP
            663Yd0icWjjp5lE+/tP10ljJUpLOAqnOicDUc73kBMUElAK9/9SDF+nhS8ZE
            0KBjgiB7J5320kc4KWBvGNBLDkh6WKK8watRuAV6YCBQ8OIJE0v6OEuckf5l
            THDEZMp5DcJYiemz2GJ/rVeKMGBWx74Ln3F5aGkzHReuEBWSu0kgdMnheqFj
            i+cKOIeiUcxx5hgbicU+Fwx6ZLA4P4yl3fm2Zz1lcN9NorXi87LPuCl0F/vc
            +Lna5+tkMNA+w5jCrNtnpoqc181oOKbguc5pnxse9mz2eUJvhSxvA1b2mfA5
            3M0dlJEBCj0crL81b7soDA9Q2d1CFzvn4obou0poMnExVxkmKl33lIHt6tSX
            YAs8F1aZrNVWdmCvYBUFW0WcTAYgmd5AeUIX2ilrkvlX1wVxqtXHjCtmUcgE
            1/MwgyXZ56S0RV3PI69GcOlbHJHKs4kiEmLJcuow9mMxohGlPgXwe8vec47B
            YFLMo/t5YBWX65hzEy9ThmgETYYEoC3TWKNumaD/wOoafCbVRlVYvtW999Qf
            mRWZM8hbWUCpJjKYCE0uJ7GX5sd3HZ8iuYG91yWOkpWOddATu8BP28rb1cCg
            OQ3C1hiU7bZ/MpAvJ3D86EupKdyCAemtXlbWCNWVfIiyWi9NxZB5uH7DwYmo
            yrYXS4pMsMEzl3m2dJ/kRHZDaLONzitMMj2kVNYbXh6STxOUJszBG7ZWVk4v
            FjtWBZOQQ5PSLzZVm641Au3UAOMyxM2hQmwwTfAG6YZVeUoZZG1PWswPx/ax
            YrdaHhIphiEF1TCC7zRcj0qYnYPBA5EmKmVlfN0vXoq+jwrDKj/jPOsQt6PN
            gvvhmJpOHAPlAKpbpQJ8p3bKI3xdxx6XejJ3LdL3j//v3YmbY7WY8UUhjrG7
            toE3GyeI7LowzHq2bu+lBVPFzcI9WID59ZsK7fAeT7TAPD7r5XTeYHgj42+l
            x/1QgYTUogei9b6FofBkJHAv8wd3lcVKlaK8NIrjgMDaOTO0oFuFCxai0IMz
            HXiWIss0XwEDsjybkkVzdCyuJ7X5ig1cF9+jtPygCAHEQLZKRbzoGb4IbLQU
            q02QnB7gQFxdzKa/QDScCA/zHyeTn6l4YgJJVHQ0pKPa+yRI+4Pxq0JawP3C
            LWJMNlHHI5keUm9KXAnbkcez+9c7FXImE3uYwLI/3/wcvgjpsefkuMVLORrH
            S7xni41/5ulfNSmlUURWJuNS5eSzeUzww9HGkm9vuIKnoBI5mnOowxXk0C0a
            vTne5Qo2NnJxjPtk4QqZhpWvYayNBB55T21nta3YHSNW4ARMiV3nw3LVprBU
            0IB8BpEEAeIYt9wBd/pjHTBaLJYM1rOC6jXWZtOKjGc5DOUIhNC9+JDTX3aZ
            25eOQHtJWhtPJnXDCLNIND6L9fLaZ8Dk3yQH6MfMstnsEy8LvjexXApWAsw8
            MIFuwczKzHbLeA0k3Mg4WQ00rJgWT+I++TsVw8HkK2bDDHAsyJCOG46bKaUX
            g0uK5Mv9gNdgCcg8We/XaAxwShLdYw2mZRnh2NekK4Z5C9qP+X/HFUTXzg+R
            MDNGWf/lUv7k2XFf2OR19iFFFe8BAhruVNY7kRMnhiTAic+pgOdkBuI45CIZ
            wcIUicF3Kl6J5QmwyNOMMFjOclGRkTIWpQym/RBaEdlWgUrtcbGoIBr0wa5U
            2UyPbL58AA73HkdmVUlprhRvLxvFC0LuXVL+cO3EUgNOSqFyFaWV9/6M75Vx
            9XdFmAmWjXgYbTHTMAb3JlseiRMjZNpgpjkJhmZRAGFin4iQvzFVgcT4swgm
            RBp9YtQcOfkYI7BtE1+cEOdOZTzn/jyCRvZnMRwYExjXYZ2vn491WtMTjULf
            ++m/wjXMf2LWT2SWbpHVY2Xi/t6ZUQP32lPHmpVE+qU74HZjguAlahrdCeRW
            ZrHNQnWwY5rOtCnngJ4s6rkUF5p6IVBSKZ/PzMHdn+t6FJRsp1b3HfbgBSlE
            QQN4inVrJYYbWjODxKkwVxtKm8WHqORVOiQh+27I4MGS6wl70jO4KNv2sTuS
            HOKtF6IcVC4ytvgeYPbiEUy2vs/P1OXKMYxMa4CyB2u+W1kSUwavqAnTYENm
            NM+7ETsNlt+VYvmiJDo6GA8nJQ2Wns18Yp95zsgDYICss07JsAalZmSsoU7T
            CWNC9qGVs76VncI049CkkEGOi2cnz+B6ss345vHDt68WiylQIWEzryW12i7W
            6vbpZUn2aVMG1kplbAfKXklK3y4Big4L3ZnHrWR4rPITlHgyOs3YPvO4qyqk
            Aq2HUEyjZwxD9jPFAAOVTOJ5/DhWTzDHOt+HMasMplUwAMo/BbPxe2TTmJku
            g31g8dnhOS6FH65Lti/5V4me2EQ9hOfSSI7xPSfHG4QSPIaV2tDn0+xt2tVM
            5CEZkTAn80FdEcUYQYF0JQ3GHytJdG9L8WtQPpg4/tykKFZ4YFmFUJWUeRTm
            LlDXZayEpSj+EhqgiMFYSgPBJMKkYo6hZIMpUBZVBJV3e7gbL+srUGkBP6yE
            rtrrY+aQYp9shQOR2eBSGIxdYKWcqqL3wgJ+bI/KcJ4f5w8TmORhtvPtKJz8
            x0OXzXhI6fKVQK3qcG3MtnjmZHU1XBn9tri7qhw8149SwDLuT1WDyN9J55JC
            5LQXB4SZ0slMjkinH0ECBLM4WSZZFJ28aFLU+46vaj1E0dB7h/yi1NigbcHy
            oqPE1OiYFIdisHy8SalBsYlBDW22544RfPKKDMGRNU4IA4bPp4eMw3BhizWN
            KcCbUSk5iwR2xu8wIzpWPgThBRaNZxvxTBcLZbGGpjRPCGZcp+L54uf5Dn8+
            ptzB/Di6R0zbVloYpr5Mo+6e5KotKN2/GwfybZQt7c4cvuN/cU/VGyd7T1Zz
            SS5Ft9lxGyMBVvxagMQOLn4Df/nBMtnjwojcIUQb5ODHc5Bhol51MtWKElRx
            2N4uTUTiwDEQQJiYSofjshccnWnckfv04r7lvRhVySJCfK+7TgfXqJ4ZbPVM
            AwujHb6v79/+fseTrDCtprJ6lrBvj/9T38vh35M9q2/1PV637edxxY+Lf76H
            P9+P3+/l+f0eoKLR9Sl+wkTyEzQw6Ue/ruLjmG4/d9ozFWOhtJexvW2L46Zr
            joUeOAsM4CDzGvW8/KTmF/HgwMRSp94k12K4XAWnN6is+pA/Zu47CIqkYyNo
            54mhTxrtR1PVBT5jf36vA+IEE6DlRCfqUj4xP3fmWBx3Pey6R7drR6Z/1y9i
            Av+7tnvzYHQVzxP/naiUFu5EFTydnKuQHuq02bfvT+vP9/PPdw+0mFyqewyh
            5Pj3/ud7+3O+E+zhY58wyRUcv3qi8NZ+72V237U8kLLLxjwbOrt23JnD2D8A
            OdXtys2xz949kcivs24LJ8COVeDaoxg6ufn3DTizozDLL76jLhvwZkdlNmDO
            jr7sFO4dndnZz3FHa469teOSX2dHY96oy47S5N8ozI5Khb6jQjta5Fv/Pe7n
            9SjN6VnZudtgnD6Ya2dt59/s7b+p5282987u9t9FlM4Fhq9+3zq0wIDwIZuv
            M7qopBJlhXDYwztUBTyWbEJmrAt+x8UiNLid0NOlPA3oG+KyVqyopB0popGi
            YXvarsM8bRIRUq/GoJOkORdoS0hfYt0qpGiPvYQOHCrkg8FmL7QvavoCcww5
            P1gH0D+hCtrv0d172E6CtH2/dLKXhq3V29Y3gnueWFVJnAP6kIIZ5M3kG+Ek
            Bp0UUJVYpTl2+lallwr6CrOaWKM8myO+0f053dfqrk19rvJo4Y4gr+gmk4mW
            zghOoduzqPC9ScWpLh4ZdarjFJum7UE/7YAITcOUQOoxpQa5RplI6uJKOB70
            gTMlxblo6zVuWZ0Yj+4JXDHQ6xCh9UD5ZLIGgygcfzzzIzY9OtQq6lYXvX7Y
            L50feldkfH3qN/ATEJ2wjFjPzWcjgbCGGyb7rAOseMlNJfdmdF1AaUlXzNR4
            MdhUxrHooKkQ0SSnkyFDevUh9XN2MeGOeu4Ga+3M3T5Z1xDGTjPHCNZwFzDx
            KgA6DcghYJOmbCnWAZZTgyVolW8HAVjqKbba24SdtzaL1Uoxs8ecXU6MLLoh
            wagQh65Jfg8SIzT1oPibT9W3gvrbdqdWESY+RTtXOoSLgOgyVVu8d3w+mjuN
            dEizRbFE5ZLPucvaSAjMIqEy9iqqrjthgFdsW2+QUiqFG9eaEqlfNSasOzmC
            iSrcR+8gIpsye9KulLqpLEJRxvVgXXHFRBmOll9pyuCR9oLYZm4027jeaTDH
            iS+12fEOZm+2Wb1iZlf4XNl8m9G/B+b5My7NsTBTRebKyEe1NCu77pZpW9Z1
            r/g5nb1ibFReu4PzGwzuzPt3t4gcV+2VhS7ztkzcsjJ0qzRq5jRPk0h6TfFM
            M10qY6KMMhDyIcLQB/HLCV6YG67QT5+7OBwHRHOIS/1X1g8TFZ0q6amWl2Ny
            GWrWhxIovvZfez807p4sBMf9mOm54Uu4OlbDLEc6LZVZNOSRwXElVvMZWhZu
            /z7eKky1SurssL76Zc8cLtUNh31usnMY1ed5T3nueXfq5sOLK3BoJZuU6QP2
            mng88/Kwaq/9ORBuYd72HJ3sGOcT9QTvVnF+Oq1gXkECInSk52a2ygoMkVC3
            u465ZRxNTjzLVVjVD86wntPfpdM7iMUCCrbnieBWf+8V7997zY53Yooaj2FY
            MmwSOGVA9qzkYhtw+SpTK4cC0Y1OzCGZmG2ijvB1PAPRTbFE3QD3tHO5VKcP
            cFRKsl6IAEY8roPHheuVa0Hu/HEoTz9QXo1cx2U1hWIT1eFbcL/QrGBO29gt
            vx+yuVOrtgxff84Bm5/FwFdKjzwscqPp/mC3nSnqZJ23cIHGrDSfqPHipNow
            kM0yJeje/IlkmNO/g6VvpwWT0L61Vaj+Vu7tcdfNGQTrKA5gW6jcymlkCdpM
            umbZmR/YN8eWvSAIsb8ux9FcVpvZ8ahUZOhvmEVleRxH6BwYi0GCwxOO06NB
            JHPSzARrJXSqxU3wulHQChOKibYrmo0JEcp0b/Fb+1yPv1vFV6MlQgrrQzIQ
            D9YMUOo3veQsb57g137KDrDA1J+dcLc/1+Nru4zrKNmRQcn/14PjYTsGyw9i
            CfVdPcsdLkO7a609feQgtJc35ftb3kJJZNGfabfJlUaz6f93JhBM7iqtWc3i
            jp7Qg6YVfT4nlUZLILBQJ/eDqM8WjYvvYzu4B6upMYgzuEO9ajybe4MZgzv0
            YsrmqZcPNokAeiHJm99L+t8YdNaolAt6oQveaN6a4hNcBQYKLg0B/4AJLNUL
            0FSA4tS1P9z0fgYpYNxCJdNxPCaSa8nGpaLgITM5qB1sqhTWP7tXjh44mgrM
            jozzCWM1grDwfXFKLMHeN9/y3HVLd6U3vdLTrFyDSBnMCSkRQtozPaglTnCa
            yZKqxIg/31P5WPwNSuV08yRnV8p4TzJqVukF+gQmbXQF/JlukXjPZ4fSsCuN
            OyiXhfFwWBV1svz7phf25OvCXieG26Td3hedjsySx9jMclEEhVSYfRYoejCo
            WEhGAncU0mh/wzmJaWpUj7ZWBrac5MqkSik5pzTuuDDg7SZai7TY1DfQNCul
            iBzqE+7XrX4edLtMbafxO4gSQwnWQwf82I6Vw+OWuLutOgOAxiBRy8V5zE2i
            bobXWd9ZlZbCz8VoweO8Fa9ixzFKoBwxpvowi7P78dmOT923Hny+/Hp5X89/
            z/772KXcXoq+FTNzuaoUO9rvRkpKmuTztKTi7Cvb9ZsDw+6Sc0g4O2+Zb/vw
            +2CEqmVt2vby5w/HCx5dTOzYfS4XT3QbjR3uY1JhIzjicgfIIySMzASv4pOS
            Un0u6KiagKx0FtU77EmgPTeDschnEqWM+FkpKXh8SQaDRSVGrefOQQdtr2Sr
            oCtmj0l+htmWTOh7Kq5TqTrbdYLUddqhIKXYumczYvFw9conPL2St3WWowVb
            Kdjf8vf3FFtSDsfd+lSBgV2fqzOOM8L2LL0N2bDBFcrDnpf5p6CSi4HtZnA3
            i5i4IkRck3Y9V2skh5gCbYB6RuPOx4LzDB6IfYQfYAltSD7GP5MCszLt/KtE
            vDuoTIMW/8H02NtiB4ND8XKLlzvQB/AHBALf+fuS3V95r76YVkJMTq6g6s/d
            LBiSxZ3IcjJzEqSff2VN9kvFlcLTeZijzzISMDy685wgwnlv50kGT9KAnMyq
            uARbRP9KN8eBWL6wBPgbswOL25Pb3yuNNl9x31O1axsqhazaMjoP3t/zoDQA
            maKr/NrQz7ZyHsuiMHBois8hBZDlToW5wNSwM8sPcJ0pBUqKLgMddFjwWUOx
            98iWTHho6+9BLB+xdu53O3y/h+z8R3BReo9w2nuky94je9hPdvJZbwa3QZy0
            XzHr4IJ+fvbzSTz7mVjZiQHvyfAZpEPBhjf9zeIQwiWJz9d8yh82pAxTgzcS
            CEEIPmQiyR/IKY4yafIiiVXWmRgqWr0snQieD0U2lQ9VMRGA8WYM6SftlsdF
            OTCyXIHMm1KOlGEz/UwajP+xPtQd5IypitAY8h1NGdX2CeGCYioK44pSZ5qv
            O1g2oTkp1udZaA4y8wP6w7kobzMXd2VCC2Qm8+gIdsH0jXpe9B5g8UuMYW2T
            2OU0SHJr2mdI5ocIMn6N4dcw54gjZPPfhbdwcfSKnS1u8q/YWWuLBRMDz455
            ukMhFztOO+7n2WJii70dH1/OAaKqsSw7haBytLmzjy+zlzPdoKRWes3coT/E
            viJTOkyGBxZ6EgKOihGGsdC9WVj3ZZRY8nP2ooQA2smTukJmPp/JbzwJiDaF
            J2DS5TqEXqIsjaIkPWm09DmwGkipNNEpNXkdX/ayMqNkc39W04wV8mS9exRe
            ihLavjXnFrR6mCs8MjlId0La/gPGr0/PfSKcYhaS5mA2xZuGI9EOvrwDFL5t
            XD9MBiFdTyLFjmIYrFpmyp7DIPZ70fkZOCvsoMF4sOfJnMxuYu0vbEozz7P0
            pvZJcyipM6wPEgMVMl+VZJmM33TfHiwLzEcbilVSNwha+YSwoCfh4bJm9whu
            6SezArREoEqCx15Raj3jdwzTVO2v1VL3WZCs49LnOCEoLKUu3IzmURzihSb3
            lW7n7evf5ff6MpG/rlHzc9/HLhW2c67+Pz+nNLvvTfOjhilc12XBbwWpGYyF
            3kujnJ4pAwhQAPnicaBaApqwZGBGeqS6NGbi1ROjq+mY/Dlm6llA2dT08azM
            cJ+ytyqLuCbzduimh6B9gsRroD8y7vKP4OXPVzZsHbJpqxj1tiKBNaaZJEAW
            xdje8xRLd8+5ebpBZmKLpKStO1jbk9UK2jeq0B+5XxV3SvOuogTYYgG2vtQo
            xllGxjDe1xBjOK2w+7gszqIkz+eRhK+MXY7mSLk4eglFEyRMj6SnLDBb+ez9
            oT3qGbxaS6BCzOcm+eNNpj2Jx/Lvx3Y848nfpiBzlp6Tv3El4B7gII9yAfOV
            1s5MDork8zuZ2M0EW10zX6IaHh/vS9nKcTFXse+1TpsjsrDw3PvOi7auEALU
            e2d72/HmIViYJRDC4PTj0wXBhrHndBcsz0Lnh/92ff1WoRxC8S63CmUy25M8
            6V+uwfR7jO37HWuD7PnKpSVTX27FzXgxTIDpuWBgBczV3ehd1TkYDGJSED3a
            pIxHRNcnGZVwrCsRxZovpJS1xizgY8eNglnrh0tTOqyk0tFDDuProVch27EG
            JHYcbom/0nyT/eNedeX1DRiUzEAbnvx6KJ1iKJJKNaZbgiwt+hXbCZXMkL9S
            3xX4b+JQ3IU6WXITNJ0dKsEzjT2DWIk/F+F+duJO8FoBdw2sUq9O4D35zXG3
            bEo5S/8JIA79kbkhx7uP+Mu4E9SYJ7mUZHJKcr7HYzrR3ZneHbSPoK/0yhKu
            /mMdX7/nUMn2VO6f88aEhBu/VvV7X5Nkl1XCj+30o7WdjG8WxqFYTMnxZ1o6
            iODCYNC0kSGncje6/uX6aDE0Aw8Zx/X7rHzGIszq++A1qdEziRisdhwm3RM+
            h+/rXEURAlUokyizZ3uNDRfrTQOqJ4VWFh23LB1K+ozfYOuahdW05O2qajkV
            DFLAe7sg7oWX7fU1HPjQGQPL/XXjQuz9BexsCZ7lin9+S0RXWgI9++dvzX7b
            SZf/fCloA+ZP28lFUsjlMGzmYwuuo8pdQIOcX+hVO1WMp2UVOOtQQxhabsyi
            zBxnmIUbYk91W3gtxTOMohW2pZLnSZqWOKj1R1AxhlMbHUf9X3/38qbpsYVA
            RdJz5S+8tVeDsAeVqFMW0FLpnq0MRuaoi3ns4RoskbNBaisafA4LegMhu/oL
            azJI0kq3jVo6cmUSgfRJX1Dt3dBEAuGLGXdt/YX86IIlFua75/CazZeZymrt
            uCifWQYh6RD2voOuR64xQo0yANzjevCun0YHBPUVnIaSAaHqiokWpa0SStfE
            tFr5aCVxRV4xe5pD5FAR85dNbbiPn49EtRdETE4qZsPqKvpMzUcXl2uTSgFi
            rLtub4ror9LRzoeNEGrPlXjN0+Ewv4caxDfebEUawxyU20iFPa8YdYlU45ek
            AWg6d8FDBhUjTTFEGIxjsEYOz6WkN1P11RmsWLEPg1Taz1KBGD0bclCKdSG9
            sIsCttSDCfFHit7MlHjFFXPOsgNmy19gPDCkJmXPhMFEKuPqp+OOyheBsJnf
            S9xy5ueOZVAdz1fmuFcB9sNavRlE2QnpyEQx668iryYs3wmFi4iVBozHoDV9
            3iQUiOofaebXZoorW3Cwptiy3jvFNNOozvOtkOK6ORneaWbzbE8+xG5rwh37
            hJd2p7BdMT28mVTYbbGGSkinF8qkbjCZeLxiYDom5r0sJk9hZ3DGs3nDA2cj
            TDzYEtp0JD4tsfDZo4NiTJ7w4VhzF/1HWuhBVj5O8rYNYhaLrJdrMVngVg4k
            pkc6FDlRmoLyMOJ2FusQuYwMXZxel1Tw+GQUk7oGFsa04wmszOOVAqDURzyX
            yBBGFx36ya4TI69jWXPcBnx/gsUo70FFDfvt2kkr0K9/8vrZr888ESYWiVNj
            Qv7L+5wuEu8qXJCLnIJjofdnfYmnL8hNRv8gTRd6RpTRbvffY2wVzqowa5ro
            or4hnWMjMVoILWTPLnbGsfSAfOTzJps3qQEQMiCByWT5pnwT8g82eqE2ixO5
            3EKVZrtuJtXmDePIundVED3fcTraoctK2VjPYNj1mVnsKd/umA02CJhvukKE
            z3ALo76qAuhWNQFWPmwxQlWkEGmJa9vJdwvLD4Jh15OHg7WxEcOfyuw/xShc
            +ngrDtZJUJNp/F+98Kbnj1j45CPVmH9ShYhDfNZk1eFW7rBX2uUdmuIbzDUs
            h9uLcG9XKCdXWl35PJcLIM/tV4m5Y+SXv8FQS7AZeRetuq5wem3D8PT1b5x5
            VotsvtOduhnR3fhWbp5InIekAk5WJhll0RsPqtTKMvi/pBaS36vL9RQprMys
            ByWyaYAFDVlf0zNhLT8eCQiPm1xkQ/xCv4P1rnJrhguY8p5WCruYcOCi/F3u
            JVAQm45SAYpE43iYDd0Oln9Hr7i5yapgB7HDQb4ty6cmWpx1eCOCgmdKN61/
            8b0yrEuocHblMYUkb/fJQnUIw6Dz6CRkwWNi8PA24drLZJtNVtYWMyl4LFN0
            /4tjBZMHqUcF2XSYJcQyIzssLfY6KcXrqOtlUvKwak2jhNo3LkzYUjub1Fa9
            Bsjm6h4r18hnQZI+rBnaLRl4Afoe9JuRCnQBkwLXcNqUB1EW1ocW5U6osK0q
            rDHQVaFfc1jUwmiiHYV/wZBs8HfNnUkPulqnV79NizUW8AmqqwnKTDmhFZpF
            WVRczZ4VJ0YVRgM18LQMSYaQCUr8O82I0vbGVoGFLOSmWezaOw00u5OcaUNC
            nOpyFTJhT8/cC6sCbrrD7JrHn2uCO5ekssZU7B2t2DmaG2G/dyYy9ATnxWnl
            y3kO4bekQB7XYMZOcXek3KX4rPQhYcxFZeJ2Vhn6vpDMvLcKj/amGpHkGJeT
            4ZdULNZUfFCY4CKXpbKAlbjQTVeL/bmE8Ml5O+imqcKpW9aEgdYE1sVNyHEZ
            IOc+UP4DqmXDxaDX8sh/C62VnJvKlariqLSyU5I70ekyhtwuu/FHcS/WdjPE
            9ZuQvZXQXbh7do9JOpnvSrVnF/Yu217EImZRz7MtqWUVUHtLxpE5455hTk1Q
            n7t/9iz+sH4+nzsDndVkP5/vF3Bdn/P+7Gkd4fn9HI9PBr3tV7ODJDGpa/Ud
            gol2n26V0l+Z9/tdti+jvjA4ngi+4XQgmbX1SEFrRTA51SMIoxnAffHfYRk3
            Q77xiEKp1iLKj6+OPHN6IBnCL39XY9/Qxy3K7Nc/7Pi57Pjy1GCwPfZ7eYwI
            sj8/iM7gh5ZV/h3Tfi8WbBKA3RumUI8btn6gNRmDJAWZOfXXcDSaGFymiZAn
            tTo8ozRWVTMyObs8WVRpDiwsm1EcmuY0nzLF6Mzm0X/LBy+7N4Hsy9KEw+Bo
            CvtcSkDGPYvAJxJYCpYgWKVypKy4d5iXdPwAXaQo9OK7fsBwuUy/Nf329d5L
            ub94ZxZrGcSP3dfgddJjredGt0Ljeibl8apEq9vvFYtxTAKYsudbtGPk+PBj
            1AzZsumZpD7Jygh6TxaNceo3g2K+xf7BbYltsMDFdS9B+jB1hGrLfnfobKN9
            VanDUrocpI+9szSH9DkzHShdV2EpZo73NBJQdL6JpfBGhNa5ohnng61n+ACR
            SECNnWdoogv1iTKHphQhccieqsErn4rW098p5Fw8DNMzD2/bIKlrOUmOy/BK
            XQsKPIR4vPb1iNZIVONogVQFcjFElC+CTmZSVR/PIDoMbD9alPSPEAG3YbU/
            RYiBDNe0Y/cPIToytf8+6JLBcROczjv4RQ905/WsrYjnrVpZsbFZvzABCp32
            yeOSjyWrt0fqimKPWLeKYz6MV9IytAD6W4Vd88agcl/VaSv93qkpyaD4iscU
            CYNm7NvYNgyN23u9PMeXYnImC0ZJS2TFYIhWbvGYS+k8PCjd2/Diq0KryhRt
            gsnSKtjGf/QOf8e/vzysDUbHEwOy/7OXV8tELB/C3133TTDwk0LS/WfPQ6di
            JFCXlRy4uSoogSveLaoFcySygoGmD6sOb9uztCx5bFR/uST91VNOQSjRBiXb
            OHJ1diWNBbV5XDsbgLe3hGobB2E5DKXBLqq4BAKjW+ewazWMQlG2pEMVUhR2
            d9HXEK7OFFnXn0u1LMD7+OrItmyV0oPLsRp0EJl+HIOKzeia4QKJ+u7HhPZW
            xrO6xt65O2qMlBuMs4ChCSUPZZEwAe40FSyCnLdKl/FOAyUJHNU62DDhvZlm
            NDyFpHnWYAueOWDeUsJPM3DF2pdBFLKZyCWa1bfK3YZtVw2A0jHpSpdK1OlD
            sWOmH8OED2oc1Vrb8txT+6vtx7VPfXbYHGk8qjVtljhP1shVy8Bys9+Kt8ug
            v6wHiA6DKSR3Y1ymC2eQKMrYlsuOZSMTHJv3uZkFZEFyeRKXilmYgdMS1JKL
            x5YSbd/yffSrWVkmp29/pvOJEdb3GSpR3MjSrdrhl5jT/e/ETKJlRygRbWfh
            gS3WPjzxjwuH9ZGw9tWBwSCRWDy70hdBwhaZifNpJkqRv1r1NN+rZMB4OoSA
            +w+qFWaC37xebPRkHKJ3S+GgvkCno+8/NNEM08Q2+TvzYwpEQSEQZehH+vYV
            G3YUFbqXXf0bh2Kfpv1cpHo9F4i30BodBeqOugfNm1twEev6zHJJ85j36UVO
            QaksKuZ2YJGZfdt9S2BhDB5xmD6Nd+nPOO0Z1wYoqUqSt+fmwqUuR6hz4oBX
            Oq6k5btpZ4onxzg0w7j8Fg9bYaPtbNq8K4ptOcKOHbcu9RJ55p/MxFpdcXUF
            tnhF4h8F19LPSrFO9btOBss6GcSKP8RjN/2hVp8oKwj6zxOVxz8nirhG/zZR
            3yyW8pxFMPKF+MD/rJQ/99ssO15v9d0vy2ZZzWa70BvM1WHukfs04I5vxXR1
            J7RukD12PTzzLAw9fK6X/HrDlVJcj/VLIpS584I+11VfcaJvFuGLT3ffMJVa
            +I1E9+ZdQEkB9q+OI8z03+f7vs7dv67T//N16rDrvHGIzOsYCVgv8cey2umu
            PXwASjKFbpn/KBNZk+jvR5iT0dG80ps6SZzAy7PkklX1E6ecDrTJ6C0xEpNf
            l0CUN6xbEAKYTDmT+56Y+7JZ1VBekimek9AzitmwSyteiDJylMGMfSlxA+Pu
            Hkwysc7OAw61oIk+PWpKUC33T8EymHND5jDONsCZCMThCXVk4vje/gY2NPjF
            Bp/dRTeBpPHPwR/WhOGtABBCHggYYmR+W1oswSEa3CE7yFDi6KNT56U4KXZo
            j04LFhkiDZ7/thw8y/5kTux2Y23kmcPbDI/TOq2eroCrYQDL4s9lfUhhsTH4
            l96sPTwstMp1km2xaEzo51cpX2JCsYJHYCMgZnpVIQtxzXl/bGz7LF3hDdE7
            jiHb6465DIlFpRRN7FLByzkooqW5ywE5Xdn6NeXMFU2vDjHarNTOiK4W07pf
            WMJbPvzLArTWp1wruhc66Vq5pNTdxfGYqjV575wkU8CyQn3hMMfnPpehSxKK
            fw/bPMMRw6oYYuC1lkDh7TtleWDryvmVpTkp091sYyxVTVsaqwm8YoE1tfIg
            w+i8Pvcnd1/mAD4EDIRzmccNQpEPpBnmSS/5hV8ahMghjiYWNmMLt+W9eTsI
            G0RNSPCV0oiMdmj/tq/vt9mMsR+xVtXAULFprpgZqqp+28fDyBpJZRvyGhea
            K6+ZZl3nlgN2XbTLPfOpsqgb38OtjgTmbdYgnGWwuzTx7u8F4/2SNl1Jx4SX
            SQTL0XGapJZAL8O2Q/Y8o8VJ6QB1mFc7b1+AcRNLfMdiUdBNrlZ3RBHY67jE
            aY6/0Hsvt3AxZBgY+diEQn0LE/lOHCYxq5cpUx6sLCjQZKb/s3hdVPCaKDbV
            AWd+wmDRgCmWZXsRE12BV/x7jTz/eY0M89wA1x9rQlkU9jTfLCeQCsxiIuAy
            R0Q21LaXUvkClKUPgboUiWQ2CkeccvpdGYwSBYFKUtPOtkLZjpFsaBOG+oip
            hSgb3VL7t7R1Th7FROjl9HZOt1+Tq+81kXgPHisqJ0h5ttZS2+ETlWFuKR1M
            yF419Hfw0+WosFENdeew1Us8qnpYJgSfkevOz6mCkJ2W6PPj4yi/Pg4RdFUH
            x81NNC75MHOM3ETnFkuAEFYzp4HzmNXAenyfF/rnvJcLNBZU3K9iWO7tP7Dv
            r2LoCuCTrOlv7R8PYdokINT/8XURBxDbbtG/MgWTUpRj7XUvO116Oy22M2M7
            L7Y2u7Gl3pwUlsVYK3kNzi9b/aXm8fyTmjF4d9w6AM3YYHAN7yST02y4BwYh
            nKg2V5vFIrSbm+3BHfF35W422g7Hkf4XmD5iJJA79OM36LOV2D5+WT9jfL17
            l0esSOk/l0VllbPQpIyuWapbIVbv7L6Wng0mozB+Rl9M9oT65cnwfK5uIk3P
            /Bthdq8odBgjAWVzWckGGH+Jq1pogVjLXL2noAUui6Wbo4hlkckq/ZLL7fWe
            hwcVngZert72cuyt8f1yPT+rfStZrAfeXjg8mI4hbAFpFvd/TmtBED12xxdU
            NeMeVCKjPq5DBEtJ2tdWkHGI5ZbjSyYnCJRybTbqXsLw5SUkN0gK8f2DzQs5
            slxhs/t+/HI/ude9ipNRJGXnOIcsh3G7fazE4hdHkqKZn1dhZI+RjRfdLb1P
            5SRrPNfLGYPQ1O7uOaXg3BPGLb2VtP6j7itAMzfVQdgEo0tWnApWy6fQJHTl
            Xj3VcTI8HyB8DeiYsvXz+sMahflwOh7ktBqczZ7Z7Gx/xpjK/dusUe14teVt
            pvigGgbGZyW+So/LTrDKa3yUOjyl5Otil1+PWGemSb3KUTLlaHOC5Tb/wb63
            3Wp4hBUSfzXvwpVJZvZ1L6Ir8F7h/NyrO1eaqZ4KKc4ved+uzBSpbNiURegM
            jiSrnu4uLr4j7iDEsCPvgzW/h2FsyAGoZOO1UfquR2zZObiz+fQiIVmOxeVi
            IO9+FRePb5bDVJY1j3urX65nf7diDPtHkCQ1uSBSnmohPePY5e7NptB7AjdV
            MjkmsQsUYTEyHicLN/HeNULd0hlShFYuCoZOoZJWYkvHvN3Sg3KcwNyCjbfU
            gPAPfUE9yr/0Atj7QZlAP9er0O8GZff39bAvEFe6kAsKlIery5TiczGX8KMU
            p2ApmGr8nqzx+zcRb9N62bvROyliVrFEJiqsmdXRzer4ZVazUO6TxTDOHQvX
            wloSRff2ayhZZ8iv8WzCCOa0ylu5bjCtnQsSgOtWjmO8iPIatDjdKLxuOWs9
            K/NUVqZW587O2URhxWtWp2PFFKq9+uSsMGvJ64ow8YFQFGTjlRyhCIKozOY9
            saUjKBYAWYMRKcR+11a/EzuZ7tkyQu+GrTE81FuVABmvSKxwJQ/S3ncs48eh
            mYJKMmGBHko8sEYf/jwJHMQqG3+fYWR7BmKnj+I1VLQRhCbYrJaKxNU18R8U
            IZonQk3IWofEYSmn6lsZiYfBBFWdGdusMrystkR1GUIEqoclSzM9Qvt5zcQo
            YMH5G5yVCPyG1M5meJ6oxNzj/KJFpO7IPdhe2u/ctl4kYrtPd4WUlaj9WM4F
            7rsIqgyym0kLlWD76hNQG/Ff51EfNUm2E3NbRLRU4IHIW4ZzTMzJoSIylnkG
            C14wL494fMrjWK15CWVi+qHDDFXb17zNdSu7zTXm1z/jPxjSNfA5bmKDMFMG
            d1hqBdC4ylI/JM/psqXMa9xWh7gPhpogez8SdBWWTh7R4hLJ4CSC9ZA6HA5S
            +yOdyWq9ILytuzrxWiuCrB7uNb1N3tXspG+oJ9YAB5sEK1QSHCNXLp3YTf0v
            bhUmVbYgKPfOfj+0HHfN83ts0qLjy6jgqNRtPe1S4K8QOfMUp/ltdPJBSvaF
            cF+hRHFiLqgzuV9AS5u1uAL2JKu4PisYps1S/i1FYPQa48smnoBqOVv/J8HT
            EzWgKNFc2CVncHctSzhvRcluYY0sRfp++0Q5fKLcyjAAV6xDSO5DdQ6KOWB9
            HooxLCOcOD+ApjsLLXhmGe3W4Rry1qJlTn5FMJXHDoJaBGv9cowlojIdfVIy
            i0uki9Nt3AjkTIJiJgd1J7ZLUK7lCwjDWGo6TuvK3G+vfWNLYhLCdMwQKYzg
            K6dhVfea/H6ncbx71zgTevnrWPxRb3g9gfUDdK6A8U5q2RWV2yRk0ZRlNnva
            AQti7miRwnpY+0hi1PmP0aAVPWawLBF/x6t3LGH479Ptz+BYW+EPltcOYCi9
            XBheHg/3457H6m2ZsK/jsj3HLgcdjmpe/GXLhnL0pNKx/LmjEjva8rrpDc7W
            DQ0pLecui2hK1iXF64zlim270ckJAjjZZY5sv0sDXyzu3fUpr4UxFSoXsmC5
            zWJ6HkdkIHIp46Fdpt7zZhWfRqzyOgbZ+68p958I1d3n6h5zciHJusKis0Kn
            w7YWRqeDib/dBAW985OGgdZQfDFXgWg0kSVyUV7a7DGCyqLUA8vG4PnpIj3S
            BsQ2TXmjCBkUcCQr4svdgQGAlvymRLxWWe6LXQL2uY+9mLnjvyuBpFptMrHL
            1R6aXX6/Htgg7hW8YOdgWSj/8MI5ZhchFCH/Vrtd/rGv0ZS37ahfJhu/teFi
            jG6pRyvy+cuRHLpLnCwXKJXVuaM5hBj0lZcwW2Xww14Y6ke9nAtOSwhuYbvL
            H3a/md8ccQp9QU1nr3/4Ebw3RQ2YlY0FngTBIf9FYZTyMfhmsvb61TxXSBH9
            gya8kzvljjGgdF3D5vsxmMaql7XJ5+AH+pG3gnVInhDXMW3IYAKmSBPt23R8
            6Mf6ASMPGzGIef2sEx0KvlD+VlJyUkRPjA5aKfF8v9g9VoA63dH3GATjsia3
            aZzKUGU7Oaz7WwQKY00gvzqW2uliPrEKPlXTGSGTwxJgXAIzaR/ss58gSzGN
            ek8AcYCmZ7POpH700iUWsdmYsGmYoyzgHyYG24vGu+Mh6tvWbezi9Tt2Y6gp
            /O79pKbx57P7Wn32ER7jbyidz6a4SzTkAYkYeWCTZQsxbwtjRB4XwMOgzMHg
            gVXWhHTEsi3CYTGov1G7a2LjLwMyUVOO0OlL6wLpFjZGeLL8BX19JV77i9Pe
            rmpfd7M5gVKVdj+Geat/9z8dK0EUbo1AcM9EIFTH5xZbtShYZxqzUrJm7WK/
            f3QCsk86fCkTp9vDO56+PZLbg3netn8nXG5xt4toN+TjFjdxmZjaYogTYylX
            lUgAmkg2R9ucDVKhM/8QhuOY14cbsSb+m/uN63k53SRnWIS2VjLMdzDNIDkI
            AuirfnNonpcafVifcZ3UozbCA/FUmfshZKBL+ZoEl/10nOlv2B8PalV2Navx
            F6t5ZK6AgbI9tuSZWGpg/p7JOQP/xUT4YIyys1tc/mSjyP2wzEKK5Vf+pPT9
            QvKLp+PtfdhVnBCJ0HC+2jY0bzAM6mIST6Vs8ZIFyahKbokiacFdclm/M9Yh
            yAnJ/iJ36k0Kbo4vHkyrZhY9n6e4WHoqwRIIoYGJAweRM0ptBX/fbzn6YfoD
            ksPE28Ygz1UdlbjTBO3d8tM78wvYL4L59IvIRFljQe2uN47CKcSmUVleyHcv
            0VCFmcpo8vzgOA6Oq0asGydJjDeAYxtshyCtFHyTyX/rmDmhKjpnuc0orEWN
            v5zNlPOzGsGbXt80B6+4rP07gMXTwva5YDG3o8gTCL57oGdRk2DVfSEOvbcG
            2tGwPdHB8gRJLIYReliHmeTBn43ZQEJlEVZ+8s0qXsUJyP6TWgWeu2r7i1gY
            Lr4Zl3enjZqJbKWv7sQLQzNU4cYOaClfsXvr49NaBEtEnpa1+xZJ0oV9uym6
            OUVlg4w/xFyiVVGRmIMmP2ghnDvTur9imF1zf/IkmR0cHXU4fsxTQ/l9QYIY
            uvKUeIkfEcJBAiGgB0UFkRGP2xzEtSoIwcqIi7Yj7HtIQKaUQsbvzBYi54VY
            J9sS/8skBVAWHTTy8GVe3G1RKiys2L5MTIT4+5vSUKv5E0BoiYrUFiOEWmG6
            1f4eqe3Gz/eZfx00lizhbP+PONhWRPCOsdva2eJh5++/0TW3foqbVC9gnIuF
            bT1t62Zn/W5xtJGCN3IxWS8DXX1XvjNuwJIOsj3DS+t/m6cqHwJEOIbpMVi9
            M5z43v17NaIczTly+/hUdiKtoLmy9d5mC6fjO3kFxDQtcaw2b/z1D6WNea3y
            sVNxmlKOAtsudBZ6zJLVqrdG6vtKyJxsWunZK65ZM6NWiSPdVw7U8NG914VM
            qGyA7WelJRtf/E+ZatHhp24PCDlIh7+Y2hS2uVv6fFajiGwrTOAEOMb8CzmZ
            XkFibCCXZIpSFoSAFCaHFmBqDMFADnqkHnWhPV1HomHbvSXwUpFqqK4rTXpN
            k6eTDSP6ShmfaT6ml10XuoEF4mf7vuW6O6aEolMdk+h7n5Q+Kn/QVARxaSnj
            r0+jekEcnXLqFcIU+qjSNJobkYB4dFp1VoCErQ72Ux2aYzIPVpR71rKFowGC
            U2lToRxtaYewTmVjndIyOi3diu5cSNEoOHlLJCWcTCrDHwLqIUQDI4DHd3u+
            0sg6MoEZXkWKoO4E/mj9Y9a1bliqJBv8FplZXKJ78yhOIn8rS+LJvHPKkGFw
            GcfT03kT5j0UvU897JpYcmZ6BYIiLHofXxhtMD18jjKthhCSs+2j0UkHtJel
            x5d1MzsXFPI87hOwbvW2QulxTO5x7M9gNP0wsKljVGKjZLBqB5lf+Lw+7l9v
            L3jsiCIhuYh/kLqDWGmxEbCK480Mg0o0N4w3cxHY87Ku3UQ0eBPR29XBQfjt
            746i9ER1K+5nZSRWVL0UqKH7NBmQG/aVLNOpj/2gWLezMGX51Go6Ntr8dlpQ
            xye74wBczDtm8eR1v/DPm01vdrrZ+Mu2PZF1s93Nxjf731r8znfYnrDXM+Y4
            oOey72/CLMPf12LSlvZbvwXe9z1/biA5AjwMd15tcbD8+vXYnjqzNrY4Mk/c
            x0m2nWaPP19m/yhLIdJzbLFzRwvMPT0oJrOheLZTTW7t9aUPnEpa0SKQQywI
            QDj24dXcAn2pylWwyGM3DNM6CVBcqqBmmM7sfmssjjsdv37rdFjQIvrx63zG
            9l0ntQH8+K557NY8dxStWc2eIoUFcr95Z5y3TwehtrGyWSFa2AbBO+Ew2CxI
            6a9y9NzMajmTzCSDoWQXuvR28KkwNzP7NNfLE1un4aQriXRahRPFntjzeG5+
            5n6LkFquRHkkDrtZLDg1sePbOHF93gOvxQrDQNZMRGJGWbBsLObCFK9IiY53
            isHwIKJ3q4WCfMk3YqGiYbBnuCaZNzt3sHga8oEimSFrrOS0zx3sNemfj+q1
            H8yshrijMnsHQ1fegbHISlAGHTEfJX4gibLVEdRz5uNncNUxRogy7gNo/+JM
            cbggy6KBnalWhrYPymTIjeHYlrdio4hhfvSSbFpSbADpEB3fTTfrJaeTtPew
            sZlOy/ihBZEuV3SOphDxzRYTnozCcxdzoCoXo2LsqtalCMK8JWud9KkFoEbt
            QaDH4wVvcCu5HJX2/YMP+pG70s7ZNtWTZhnm5jMFdlwwvSLE8+2xgfX1y4b/
            J5wXhnS92R7R+jzvRm21ls15vacYOa8Kbv2dCP9JqF5+bcokemFwrCFBswDS
            4jvny2oKK6tN2bSJPyzzZwvklC1xv4Hn+1Y0PhihakHoPv7N5jab+uvzf4Eh
            nA3upIfD2eEWB9PbK73atYuHXer8n9j3y1Y3O3Xt/S8bHS4mNjsnBgR5GM1M
            yn5qB9FLr+inL9ReFPxRzuLxTfhvTr6qgFS7Ds38lomdyaKjI5t0b7VB/Jvr
            bYB+0HV2eKo8fVJMkMmWHey48XKQ0SltOBX39dYsyFQ9zFnHliLJK5VcVxBk
            oDjdYE4IXc0d3FSg91gsVsK2LYJrTD5zYXWwghd68VACLwCiOJWIQbZD0ww2
            +mrsNEG2T50248Gg2iThHZ5KxfYHpu++coCLDa5WC2GZr/t4P2fjOtIdlmF2
            iXyyuajVHIWpY7dcyod3AxpVsC+WSiboLlJ1sN+zVUYFQwj5MsMc/oUwNFQR
            lbsBguc20vC5bxrC/zj+8eOfbCAgjx//FqQcKiBRgOZk0b53O9r5AOpuhGfE
            yDLc/Y9sK9VXZBXe3Iq2doe37sbZnmWuY6WpY04gg2HK301c2escuBhPLy3f
            RSw7R7N46TpM3MsqitZD2L9PmOgeFhj5hlBlxQoJwRDk6FuWEuj7DsLbDG+9
            e3hOOn2PDJgIuZdsk54+p1ju75EdZb3q5lAjmPvLcdObO0CkSWOsYJ1JF2G2
            DOT9NaGQ8jqM3RsL9mAVznXYssXEzJ1irmzcMxuMY/LE1NOTQTGwydohXZJ4
            PBeTPsuXU4j+h9sydVSfJ85nImtc9ixPeK5xZnM6jUvjorbFLOfYHko9kfsy
            GEwqWoFWfl8cE96+v46sk60/mAF9OhG6U4qENJcHe4KUP3Dst3YySWTxmJPa
            Eyw7vGe76DG0z2E8kIzKxDr5fbhrSBodfrx21q4cMeW5iZvy9E/fq91veR/H
            i1z1+UxqtHxBDVxXThv9APdbxhRUM1r9+mf7igu0YRPJXCetCgzwWKYTsKhp
            fTey7oKTJ2eJj2HfQkf7DCz7TKcoIP5Kl5dg14wINND3nqhi6fDb2cT8egJ9
            8VrUPYqq/svpmUUHn4nSnhzQVvNQ7zPhlPh1zktNuReBptjXGjqBNcCj4seF
            R/bOcTyrVrmqjW8rNtFC6fYMm7vgekJqLukzVlTuCP1miLUeRr7Mhb3HQLrF
            1zsrEZcR2mQxCs7R8RTLF2Bh8nF8Ju+4HrGt0H6pLad/UluoH2pjbdv+3PNz
            flMbM4a/CWxY6dlNx8p/Q2jgoEsrMX83ZnNnkYVRrYjzEtjx2uCZarp224o9
            TlcymxGUcvTp5/jkEwTZ20tiZ7z29/KG6J41tFt9vISULimeR3fuYkEcKWfR
            u/XK+xldEeMKPd0f4PuIUxSrClYsMJftma/bS9+fP8/cP8/MQFm0VDlruuvX
            JDgZxdyjzk4pebqdfjuHgZI+pgs0A4v2k6kIwgyZDlaohi8OYqjf8uNVNEQI
            /FPt+reeYNvzL2iCF6p2h1fZ9jwnijGITrTVpPKu4I3ARyC3pmjqLj+72irH
            ze7D7izvBMxuw7tbvCbIEIUEforVdn0TXOwfgtP7Zq9D3MmZHmgKX+HaNPPa
            Xe11b1x/GupbYpS0enIsr1NDu7Wak+T8s4+7mKberfahR6GHjy12mGe5uaby
            A6wN2LEaOEqBeRysGTq9s6z8egEqudDA8sONkyh2oiWmcv71W7WCFcv7oNGa
            GFegUThSi14QlMS2RGVYpox+P1zxNzNa9PAhFd70tPRnYtt1dcFW116COGow
            NTkDrIjp0kyfblZ/T7jOQxlUeDohInFX4TljI02KZY4XdVLXu5fD5jYvMUvW
            pkqatMPoDs+nzwYJF97+JMFkOtPBD5ik5AxvxXE6DC6wG71Sw99WSz4M+UN1
            HAoh27Y543yx51+o0EOBTFbFU9yFXFxLVjmQHqwxoJyc37PasA7LRQuOoUyK
            S8tr+dlC5PrKgY+fHPjxLznwaVjuu7J1Aot1qJ1aNvDF4Avdi8Y6K7NImWlb
            53PpcxbW3+RnOlmgSHQ+G21c2sykSn6nd7Ba8Ma+3/69+/fLv2eGZ62oJBfD
            JCBka2RbJfZfZcObqOrjpFV3Xyne1ztRicpOpYxT9wpm7sa7t8FxKwdDw5R9
            Xa4oopLv8yAf759zoGkQ2RHSXP4H5vwXzAlXyIn/B6NVZg9YGH2q9dwdE6AU
            gpePiHHnvopt0rbhqQvVpwKiJva83ZhabcP8JmkL3uawXe+DHac9mJb9+E7H
            wgTdcZ3sEGud9MBWk6FFJYFxEJ6YVRxsL/wYxgzB+a3MwqBMbXupEFCUO8zN
            agVgmcVCEdbGuT5ANPKeEIuYGQbN4Uq7Cbd/86Yc0WHF/oTktpFek5CoMTsb
            ANE7i4USNsNkkBSs5irrNOYcC3iD46ITFSgShCZ91QYNol2RiR9rt7m5qU04
            szwNrEUYqUrlZJ0NjacOZjd+z6O6uqsLWC1IdY7HRhNo6dgZD9ncXrRm2n+C
            e3AHtbDSme485PYwtURYUsGAQ6SjqRLhC7zMpeCn7lSSTOjKmcJSrWQgBVl8
            wQq14QVHYID0KWVnkupKvTHE41cpxW2M7lvS5S/Val+L7o3hxh2vsfNQd6VA
            y8bo2PRRGIhkciFJJYA0U46DYh0w9a2sLz4T0lC5D+Py5rrqAOV4RyrihUbg
            GIbsQJWY0znsWqPlxegnU/mUi9Le/c/JBrjY32xbJtgTAx8rqJN0ZH46XuZJ
            Uy21b2IJnodD7oCxDMv5pGbYzvNhDqAl/2brmkXIKnYWlvkuOF+JfnUoV5vQ
            Q36cp8989fnqgpwMl0Byt3eKC26xhOeGGtouC2FWFYpf+kTx/DWxV71FiB95
            uAmYzKDoW5WvdsFfHbXfpopz7zvepozb+bq8rUtMRNe1+arekLI8nq7gakXZ
            uTj79126IWIWqinouFWpB6wab9Fhd4K+789hlw2yQeFuye1OQ29j6mn6wSQE
            q8f+WW9pg1OXp79VTSytHDUJZPOgOJlh5qkIFDfcRyyDZLkPjMRq303MhG4F
            0md/ByIPz11hl8LT24NHpdOrf+9KDta56IT7tDE3n1M0B1ui71MQhYntUoeX
            VRBwO1rd5yc7zu+brFWE8kvWp+9OyG+n5c8EeutYU+TzL8rwYYk9EGv5qz3D
            f0BbKdHc+PPWheab0TxAWUxuhdTjb9etrgCJqB/EZ2EwiZDF1ump10UTobiI
            JZr/LUT0ygYhBCO4aQlQXBatNizdbNkWMLKpfMLCYS4n+wCqAJZ6pZRfxSIG
            Te3lgLGcQ6UJJDroyTEwYOrxdgypB1yJ12SyC1ZZqZUZVJIHy+okkq16rVgw
            8ZtERWT05OeW+QhtfZBAVGDb9JvpjLDQCxZ5bAOm4rD97DgIOUMk4I2M4xbm
            41i2wceRFeBSWzDIBC+vpwGq0Iurcjnow+xc6ZwjqT4kGPGADNfcfXoJEuZw
            R8HVvOLbgZsYCcz+GGL7MS++xFR9+h1dYGJQLlZW35wwvnySELx2oI4P/j3Q
            hGNeJcj8h/xgqWiJjIxGYUeMDZf/5Hxbo5RxWXsuQ1gXfC7bRAQD9Aif9lqn
            V3KzPOsj3INlX6tH3eHP97iP4rGyuL+Z3GyGMkMebAh8LjnzHqbMYx+zHYhP
            P8iZuGV7MW7VAvUrEfi8CbzAGmV/d7BciKuhtAa2UGPs7dTnEEZjz9+Rlvla
            OBajuH4ODgFxxRK2bk466ZyBhbvUnGZXE3c7xxQVEk9If5/l+HoWSxEcbPit
            aEoyIDDOH0Usc9zBPtu0gp929skA7LNlTeeLqfAkqR9c2vIHOmT4gGL96VoN
            NsTBv9mgeKjlxeVOtuDAIV1ZzMMmjcce1y/7/jGEWNZG0POkrpZqjIjnuPCy
            bJFEHOJjGo7j6QnHFcdGZUCzD1tnS412jmFeWGH3spSQUCfslsaeUqGrQipc
            Fz2hZDNkoH0n2TJgfprnU/0n5XJnZDm+Zr6i95g4MBPJ4TfpeQ+2+Wq+nrvY
            c4f7OZmHW3fYQK3Tx7HrRmmE7ednGYTDch/7/UKQp1noTTAmoMowiHTRKDo5
            uWe0NvFq7eoL914vPteRF4i6ew80aClFsSPiwe6VxWzhmU9eMLCHW9KJMVfr
            sUBWltmbCZ9xTN43WcyTdCPkG8M8qalL65/uktBRGMjfygt0ouTtytNlSUWe
            qtZ377nRCbD6lvyrt+6aBkLSt9VFgOsNNRBkIfcXB2Je4/2NntNoLvX9fTbz
            RvM9YCHO9u159vqLfqheuM0Hhjk7V3GBlJRITQ+JHroCtmVzLLZWbbsh4sBk
            xI+pwqwyhdyHqr4uVdYFmuMVnMcwovgbi4nyYV1Dd3lAIzySQSKqcYbXxLYT
            2vnZ/DcR12BGCR4IZlF+c2kr9R56lW93RQj6nAWrxMDdDzXpuHro5bM2ag3L
            hAGg5dFVgtsq6kocR7XTbgoUXZdgAF/2fgyzdcbaWMt23p2WOe/Wb1Pf05Nz
            2KjTrE+67Jhv6BPZLQWeYPZMOCpMqjmYQSEvoxHi/fiEGDHTXov0TDsBTAtp
            T2JBEK1d2VwkIiruWYqbVq18BKNZud9t1wmWkIQxAiubbRDNG6t/qDSvRTnL
            YgXLlUhpQVvWA9GsgrF2ypMPle9LOWXRzr4nNXqu4qd/0Ghmpd/ps1gIJ+AS
            c5mCWsgtGewcbzR3e3IPrzjDdUq2a54WOjihBjGkPwZ4N2GC2dQNRnqzUvwJ
            YqCf5bIw8bAuRfHeLUNtJZPVRiXierIOHQl0Su7JgAwarvC8sngTQ3fn2L1O
            J4Z17RY6RGQl/PDRxCYfsup8YLHQTa/Vy1S6tpjExrpLIqdnTkVnQxQF2UwE
            RLBbelGZcW0whQrKCbyU+aqhGZApV00kR+vSe5idbaYXrvDqLt4NZhlxXoLS
            OZoA9d407PsjwyZD3Fz+1OAOlaYzKZPg0EvUOVjg6QOHGbMECtqEV0k7MHQI
            g+Bel2dhk43O69js5yYvTN4iMKsd1Y+CJGg5z54KjhKyq4WohEiWVMmStf1O
            eI6hTtxWMpW+vKEckEr2eC/jDPdhRTLPV6mazBWWpLLcn4UmDPElFfA/RMpv
            RF0Z6pIs9BVpiWoM/Ha5Y714CcGUzMD3VE312x8guJnzliSy9wbFxTxfJ1zQ
            dSFfL6tQpzLHugqMMRUumHq41wXm3C1/Ms7ZwiZcYjHs1QKFdk5LhbUG6Bs/
            qFMx8pfgi2Z/MT5MYhNYIpYNTPY0MMmT5c0DWjYhdrw8ng3KOOH4ramJA5WY
            IuWKXVwIUXoInALyZ94Qykld3EFmlI0qEB2n2t9gNMDSIollmWZIYmVa/XF9
            agK7ta+mS1r9KBku3qxnWuj3hlLDXg/yPPGcKJhUmUJMYrl2f6Q9+ZsYuvdP
            2mxcsfMnr/iVI2GZ94fkW26OKpe+kn3xrgvEc2bZuYuTuh0v0gmiekM+aQZV
            WhGy7faJGum5X7NrekX6qYgqcxPf+8Zh96XM3GDgVEAZ93095swN8YiyknDi
            RRKIalOuqoCNIp4+7QEpnNSrkZnUcZfHGfu4oXgZWKO78CweASZALryYAe9G
            ORPwiWv1pddTe6CmkUrVLDO5AcTHGEpj3JctxvoN23kq5jZg1EzaiSwCZY55
            oTE8Vb/UCVPExEG8oQCRKOyfbWcxA+fsZ7FCcOh+Xc2kcexk9CX7ucFj1nmA
            2E3SdwtCug++Q6KnjwvtriIhJmpj4uhZYaszOQRO+bY5k4ddM2WGWFjRJ+Gf
            FEPEJCdv9nCeGDnD4bu2omHLkzGT9eXZIOistWl1RMjY2OEGAoAYGi2AF54Z
            6wzChUssUlmFdjEHVvEsF6HKCSOiHmiHlTK/xhyX2vDcrMvgxjPJpMgwM9gR
            rmaqoQrX2e/cT1KFAim7aKktDYu2I/TAS1Ww0mIaa+QMf/dmJzzmZHlwZj7y
            QojK6DnA9/vtacJGGKfJELyH8bOMQT1d+oMqn/GML0MW+mPCrdhHIJ+sO4MR
            mjwfRwQ+q30njK9qzb5i5D9OAKZj5dANgwd8SoiWlkiI3asesKuW3u35F7tq
            vHZV+thVgqGhktc/WuGedMEWgNfE+6M1qNLHGqMTE8FbkZk7R0iPp4EDXcl1
            +kgVUrjj7KkN9sLv2VRMN9A08UJjhAaxB04G3W2OXSJgVrdxGEI+XY2mr49U
            zNXJLsbcVw2zdiNRYn1eUU35aG15Sq/cTUuRMGZAJO+KrBy13ZxvGk+154xq
            a8bctaBWb1FwbWFurQwEfuO9sJCmDOGuzESorN5MkJrd6QZ3tPcloUzyU3/3
            0xsnvL26nyZPf6FPsWPR38eXp/9hyNoNJEz9rQ4P1mNGtXrqVuhoScSIfeqg
            tQzOMLIaw7dFK7ywJoepUerWYw3ROQDsWvg9iJFdlZPg+KiqHpOSHYN5b+B8
            DAYp/I64arTuiWI3y+FIAolBWg4z72D4EwlKYLwytERIMILZGUeI1dkUAKa2
            EAVbQudceauKW6Wtj1HscarRTn87TItSyb+JVs/YtmXiH9a45lKznKdg4E4f
            uFkWSxknQXrBw7E9NIiDjtabmOQ/x2fqF9vqpptj4TOOrXTKUiNfljA3WfeE
            JY+tshM7C0I7Qy6BuUrU65db19q/22VAqmqAXx7PpUzIp6nVJHbCe3Ti9XwG
            9mDK3t9B4rrerbKYRBiClf9QYyGbZncJ6fJ0kD75tiK4Ci0Wz3OzuSnr/6sk
            O3OZtGUuFZ7XHC21c8VQNvM8Xeu243BN285HmP289m2r633OXanxMVYdKI2T
            CgumqCJw9xPZqEejWbdA1ky3t99UJarf21+0y2n5fFf3bW1BDVO+9OubWgK7
            R51fuBBistvHcFp7QxZcfxUG0z9y707GZKwXM2XIZ6iAMpbA4bOIY6RjjD6I
            VtSN+YSGu8Qf2Kbx6JKGp7CDTYvbCUJ3KP0uBNzH4A7hXwwdGwkY+yXdlxVR
            v5CQVt5A5Dwu/9cfw4wA521yPC6LJvafttKyFirTORQ5s60PRlmXEo0pBNRF
            jHWr7oA5kzXcTQbI0bWVYpJjvtl6mrhsmXlVrBQ5DMYoXkJie+waStgJhiVN
            Rbx6NzEJxujmMQM+w7LKomIarE2rSYh0+Dx5VhOqjCnuUIUYTaU5q2y4zGxy
            aJcM0C0x4wtLfjGqKUzb3cHM4zS8V1rK+iLR06OftlZAlmnQROz+qko83Se4
            oCGkIivp1M2VGgj3sXlqM6inZEvIIBmIEMPtzV7lblj0XZb5a+qTkrGar+/u
            NuBFyZuUTTOnf/tYfdCGrEHjtdjtfbIIibqJtS1g90l3MFnZwLTtOiwB5+72
            O8QrUbiP4RdLnrN5N2tlS+8MEwRVh1ueSYo8htr7WuX2rkK/oLYFSW9iKix3
            fy+ph8KBYkMX+dsX94torg/oOYWE+jkRpJQxfZPSS6asZ8tTmwjBEhSotnZm
            sDuay+gC61IAjr89Xvm+tlFxmzGxun2Pbq62K3/Z5kQpvz9gGri5pGi+5QFj
            Sqa62FLvbDQ1eptbv92ewfo83fvhXWf3fnhDOSrd/c7rPU+VzJFFi9de7pjk
            VcqtLi9vDubhkUWD2Yuzt75L0zbI15srcClzQzWNuydgdhUPq4ldUJQIfBRD
            e810S4MtprPl7VFL7ZEOHiAsbkVBrL/i6ws53BdS7LqctERB6Cl/vJaZlsxo
            dD9MDZpsuoD3u44Me6u+5fdhayLMCQiE/rDgjcUczmY1pCIIECl9cOxu9elt
            3p9gGbfstkcB3ejA9wDYtNzMN0DH6i7ml1zQoh75rPrbpiYfZljETRDg92su
            DNAiz7bkW1aKO9LZqXbgwRDObmvKLZbUDyXXYmISUSBW342pO7EITE/e/aHe
            UvaPM+mwJq2NDO7aIF+77nH7FKp727a2sF3IG/TLKxKgN+Yv81klZoMjjmlj
            eYkgYvgazBBhLlOL4yqk9BOWVfUGEcLPwQq4E7QswYQZmMT56T75/7R2bUmO
            wzjsSpYl2dKnbMv3P9ISAOk4vT1TWzXbNVPpdOK3RPEBAoueZE/s2UtsOEkL
            1oWqqHDfVIFBQYIUMfmTVcqk1x39yTJNvceIP6QsjlG2Pn/LLFNeESGeeLiI
            /Dz8jchocW8hNN6RJAGSq3k2DC6lOn62zm5kNItMdXJHtFi2T00bjS0c+c79
            xLYweDJIaVFaxyaoBRdUkbOVFsCLgg7aw+7y8d2yjtGYHeCxHMoCNqm9gaH9
            An80TNoo9wAix74Dhg6ixaFQB+ZZ/F70+0auxxOMxbb9SHeyBU1DwFZIJu3H
            chbfEUsVjbCY9WdfYn4LRxCDyQGzsd28kSNAUJiTaUbQtnINQBkVvvsWlSdz
            DGZAyndJzCNVS8h2dn4kmDcIhGPQIC16iHwRZTo87AAYkJULscH9qnXr+DeZ
            xFbkCz9ZvMjoeYu5vL5FQttkPsmfbp9QL998pkUrXWTzWlP2bjv7J6V7uQwQ
            4Sb2D7Q3MRnsvIqQKX1kPZDiXcQcVOUCZ91Zto/AFXokokJnUeKRV7USItJd
            0DM0pZ9o3tlZqXZKh9eevb1H8Qv0vKTH30pByyUyo1u2wFxD4DC3Bz2B3g8H
            NDe8k8n0OsmiO4ijAGlbAXYdGzJTcOAnUkwbbO7hFwe20Wkr/NEBY0T7ZrUL
            x2J9cWB1MR9ty7ttGtuYQYfOfbl/8P88HMFVD9vWq1mh7u6zFHI60ytdCN8f
            9m9n6kTKZYsZ3cjSNljluXyQZW2DNXKs90jX/OxvXOZDbexcxrGbrXbPvk7E
            KLadA4Ajx3UchMTPwtK2hU4n2V0YflE1fdpScVRV2lZ1THNdvcmKBkQ3S8Yx
            OOPB70Xl1sDGJdDerd+e458Ga3NuyVgGbBIczLjmjmxQgfZalfR7fPBpPj28
            n616Imk272/znb3xrWzc8JtpZnmWwULIAsg5em5tjbyIHZz0GA8bONOWEoHy
            kJiDl1nV0FEoM22L9iihYs4FMmFBtjBrlcDBzp3d7FqwKQsXrpwNPXqfnMGN
            SMqNJlwyCyFt0ZmsIGPm98Q021g3SnpGwgTf6+uTBmXS+0j7scq3PAhZ2D2d
            WRhJnr5aF953c8SIrQlQa7AxSE6iXSnyrpg+dqKlApbWKyw5yh9kbFw6POPG
            xsF7oTgyqqhLBWQfDOV9OSNWJhpNJ3PWp361ofHjOGcS744SC8c1Ad5/8BQA
            h1Gqyf0igHXD7Rj23SPZ/xOrn62wVC3eu49RUjzjKUC8/mjg+SAJWwceMgwy
            lBAeuISFxocNM0/t9VDuE26DqonLuCE5ZbH7ouhugLAG8AOU8BUkcCFAzwYS
            J+5PdzanS56rB3wizq8irwzqyr5Sh41FUPsFSoDtZf+g10LoQJf9w308Cekl
            sniUwYwYSa+ZlD8LK8kn3DliCYie6w/mp669mlXo0QB/TNFDtEmBOT4gNuSz
            3dYG3gHNBRCDOXjdDctAU5VZ7n89YZ4gIObd9ewPOd4cINWFW347zvHjOGD+
            WXkchMXolG9ks2K7SEeBpoGcxg5k/kUeOB6OtZvT/f/YNwy9OfhtR4rSAl3C
            MBEksBGLjKI3r6locAftNIKIHTjaBaim3Wb8DheGKY3TFw42fHcVlGliqGfW
            0b5ChiJGniHiZ5Pk2i1mO6ZIbPP3tmU1WzdJo/18f1czGPqLLAQFVyigk7sC
            DrpQx7XEAen3dUxq88cXr6YsVHybQQthRyDI1lYPTGPmVQ6pwZsvLnkm5/lI
            aMl1WUsoimObSkLUjh6RusmnZYII24/hSn5osYkBgw4/7BOIcoBsG5iBEUOU
            f59RGKCYDByg62cCzIl2z4+bl2wt+sdjdXREvQcRHzY5vsQagAe6ZU0IlNXA
            QxSfwSqzjJe4MrPQ+r8PagrMXbmL7+D32cOQfl/BL/7PMxGzcP1YFc76y8L5
            X2YiyN6xb7gsv6VW6+UJKfd7CdhkC8zMC6VjImE1uN0Zr/84s1nHD7Pu5LKr
            RG8bIRs/l6WLyLWJpY5LXNHM7cCxTorP3SxMZN+vp5gzqDm2d9e/rlP4lQPy
            Ma+1u3hqIEOomOsyWGxWkpwgSGrguTRzinxFinJRqNeRpmFU+31AVZegV6Gc
            aiJv1kjI2K7uDyQEwkQM2qryJLqOyB1FuW5hvkrpdDkj3XZbbtIkmIk365Li
            fNZ2QU93U5ukxf0kPITzL3rnnURvPR14raCTMFcdnphboZblBCGxFzcSAR5m
            S6ggRZqawRrWRrHtS1HwVI9s8uzypRbTR+XHa7/XMl8+zUB6RNeySFKTuSeY
            3bx4qc6ewxCKrH8/TPnD1dMkEcwdnggMSEb4zzHo4erW7dTabUaOBG/NexQy
            4HI0C0TKmM2uGy9yXmbeyb88kPVAJQrF4gso6MEIeyCljFGIbiP7Dya8M8W+
            AG6yaApa3xEpBlgJCnUW/u8PpyVk5MuHgog9xJXd/TDSp30muBvW5Orr/s01
            Cau+Xb2848283rwxTYEeEXAP5HyxjwJYCbMXV83nAzyqkFbEPkQRrdJfEsGt
            3V3kf65OlIc9MWA2IbsMyN48PzyhQVmBcyOcDzgXKNmDw9vOYdo5MHV0A1Tg
            qSPIVQYdtS0F8TngiXF95PHIUksUz9qWNvUF7+j0oUDNBIu7VBBILL+waoxv
            irz3Byp+g+HuW4ewHHJXwDjK23Sa5+cB7Owu16i9PjUTz9x+VbCw4wMMFl2g
            lqm6xCOn/Ib4p/o6xnE97HWEqttNTaHqsxGXOsp8vS8SXZUEgvfXhSCddzTe
            pWz+OkVuItFUKiIx4egwRDgUX7k01S1CsK7751HPmLhx4+x5tBdTO+mSPTSw
            WY5OdBJ4gY6gV+FU+zVCbigSj4Rru/noXWKoq/NP6eK8zmHHQXVO+n0yE6j0
            loAA2sPAQ+xNQWR8v1yv76///f126vtfMEYzsuei3ltAOwC7Xhw6Q4giCvVd
            qe6MoBVR7E31oLxHu8BWGvYPajaSsiQzjRj728q8z8wCSE1/OJHQtDBE4T3W
            KOhntfPFNPOjUwm23YLbU2ltaVCT61qZ3pompzTZ3CDLwuyi+v6QD2KnKMS3
            3nrPzG/Ygkg7LoWVDBqihfqWH+k92x6lUxXwyaugHgB2RhFmxmTjNuiTgGpS
            54zUeFcS7PIaifp7kTq42HE10anpINRFN1Qp70vQbdAuq+sdqdnkxJjJe+aC
            dyGqRuL+oecFdMAwz2SyZ8wVS8CN09VaBQRCelhH6itvH/vBzQ2CCleDiRxL
            X5JnDwUVB7ZcYiK4o5dX2GvFGjFzjVEINPFh7ytGid0YTOs6SpEdLWqvsjX/
            eDpkFu+QkW4C276CeLSLEXb5H14P/S4CzQvYOTafNoYY+l3cy/30bd6vtpJx
            3YGCoJ1jtzUD72026f3w9015oLASvb1MnpjrJCLanhxT7UVNp1s376mjeVUJ
            hs4ydhcbW9+u27UNhXWv3qssJK8FA6+pnmWnMepAHs1FemPZ8+RIKy4zB2Br
            d+q8/lDrkssp1EX6obawNhjP8CbUVdoET6qK3iL+m5k7VWsAaxpg3RTNyJ/Y
            rwuQ2dAoAVkOMpyApNuuDbM7WbB5ZqZ2mBlFXSeRIlfdr6TBqULGfSmetQys
            PZBlKwtVPaeyg+ZO/Xg5q9ZhU/qa3nKFa4HCIiqQ70G2hwRyBqX1jrItqn3L
            uyWugtfJbA9ncsR5lPXZR91c27qspP1ZRk74G7+T7hZ/N18sITZm9lVV1Vxc
            ahmOTwz0TaCIDvTxx3ScQp096WAxhfDv5/WRl3tuJtq34PyJdDuhE4jMbZUA
            gB7eCHSYcJevlTd1sKvWburiVDuEHCRvEzv2ntWhYt7iTh4I6kU7BZ5ZlC2/
            RDxRZFiHDZCdA+QuRDbbEpZ48xnbJWR0bFiZAZnPADnFeIZra3ZtcU0Zqfts
            D3TQay3kc4KVMntH9Ra7KzlY1Crpbr4HzcFBS64oMwdr7Iul3o6KdCUsM/lD
            Ma+ws6KZofcl8C/wW8mWXnrF14VYlW3E9oqx26C/Y/c+Mw68Xwzt6PxBjekQ
            zY6NBO4H3+O+qn1hi3s33Qo0IlFoRrHxUoQp+q3pAohqLqzOQtDc+4lmDBsB
            ScEti/cATuyu7SQvqOv1aqd4F6+zvzt9iPTBpVR/LWd/e11X9A34gj+nOoFQ
            h1IlK1mEI/z9NlgboKW5Ja7Bv+X9voXvBaLjJgFJbeQj+2AdLtdMBNfyWuYe
            qTBkNUBMB/Pb68V+R+IbyABT7al2W5iRRUpA5D+dPS6ChmQUrUCThURhivzR
            8MYToLUWHbdqlhoCVOodyCh87aj4kkBqD5KQrEKZOTpXcU8bzBZJOpgi8rru
            zyQMyDoG3w0QNK0RqTM6PwYyerf/obnEgyOuaUzx3GuvkoYDVL0U9veBOYPK
            IBdEuVUivoRur/QlULYdtg+woQN5ITwY+w8r4lBbt6n6dqo/LUOUUToM7BBq
            TtwABcRlD1ZV8Re2ZPfLDvSzIygGS58Hbg/KYIfqNRosDRddSx9gdQJbw+Js
            nEB6pFS+G+LfMUz9LLZQGUKwSnl3oLHDZe3UC9sg1U4HJ2ktkvQKMFIrFYpC
            gRNiVuxwze4grd+x0O7yMReLQK3bjHG+D/hiIU+Gcj0KJYmgr8ebmk3BzIZi
            kA1MgAxVQeJI98bgJUju7W/tcyVpOrx3FaaE8yW9rjTJrfq6eu9kj+/FypYg
            6Vg9o6t6IpUXn7oA1EvQeRzZTO//bSIkOunfHp7kwrk2UXOpDTRjscoru0xW
            bEMqrsDrtExAFs/vlhIygwaCpW37hxylewTYhFGprtRwVDRulM7FdIEV97rg
            n16lhiO/lXlmvSqRckpJKvnyi+zf8hH68LHmBKb9JCFax/ig5B96+lfP8iDg
            W1UOHyvZ7Dt1Fxaaf74W0iQWMSxvzthKxo49Sv8r7lajgNj6yAEei0jS8qGw
            cQ8CCLPrFjlW9lXd5nWcVKH+4+cnkw9//nxC8/ovn+/IkPzl8w25x/SX7U+L
            SMufP+/L3z/PiOX/en06/1VKyeiXYT/rWvTePBy9r/559fcibJeQuvmsRMKv
            vejDuXhjT2F1OfvGu++MbUg0Df7+0vvpB+8S1V1Ws7V8vy6//+ik14qOpXVR
            olCcw/zZrm3/aEIC12Pm0t7D6eF+87axEQn59/7L/i3AZHV8r2V5ncN6W/D+
            y/frob93fx3A0oFS+dZr/IxjK7zundLk9kB6ZQXnIhcKwMP5cxV2vrX1r+33
            vr0//5yAtj+ztv+5357G+t5u1ja+7k9tuv95cPumLimUb/ka+4UXxsNNGGiA
            7NY+0/Cb7oeIL6HaoL+TaxgsTb/+nYhzvgCGS6nNQV2VtnE4rMkRsazHLm3x
            QZLPR/Szfb//XFd89v5JPkhpvKQZ6vuzC4rvAFv3H7ZaiVs= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
