<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.21e1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21e1</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21e1</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom 20702 Bluetooth 4.0 Adapter</string>
        <key>FirmwareKey</key>
        <string>0a5c_21e1_v5743</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8673</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21e1_v5743</key>
          <data>
            eNq8vVmy5DiyJPr/RN5eiBnoPxAk97+kVlUz0P2ciKxK6b7SkXWK7nSOgMFm
            U/tfRzz4L+NvPOH////+V+yH/QsHPtXBfzke/N99hufioY//w8dqB8/jiI3X
            ivrIa4zjx79w4eLPaT/mEHBYji3Wp4aaa8L24l3qaqWWlvH9wf937Mv4XuvA
            MQVX7Xiw40hlaRta1CMk3YO3DSPxEaPftnZ+C/y68G0mOzqEYL+fx/sCNhB+
            YvHvezT221T/vfl2+f7Lt9H3J9/WwUepz1HLpYNnzXe1u/Y+eo5lppRTeXiL
            tKK9H+cjPw1nTJyLtw6Vj7Lw9E86Iq511HokvvbCeXc4It70wKgkvuHCD3fE
            PrxWSdiHO6/ox+Fzvo+UcZ+F17wqpg6/5Yl9yc5dN/YNjUbK3Y5bnDr8lnjc
            je/Yfz7Yh3PT6ftwzrmwD8+fGmYpagj70fjfGYwEQuRzaxcmz/4r/l9cx42T
            R37wwShN03HbjKbjaz9+qZps/gNlfu+vdnzvP69zOGXE9XN/Hnaddvw6/rSZ
            b7+eJ96apuPq+P61v8YwjBx+Ha+h4aD93J96F6Vdv54nrCXKW+vrvfSgRpDl
            1/Gb3uOv+4YR9Zy37/8Q9CbfX8/p1xm5Pzx0r3RbQiGO/tnv61pnjGX79xma
            Kvx3YdbFSzJWGN69LSOBGG491deAJmMlv14srnkbN/q1f04tvfBrYma0Vwi/
            Bjpc9mbh98Bdofxt4HrpWtLx1/V7Ms4R/yQs7R+/CCLdWftXCuJDtYQcRuvp
            weLCcqsguSO3gCVS80xgunEcc4kb6MSn3g+51AALwcOKHDmcGNx6hszlh+2M
            Ysu+2lKIz4MRO4+bPAQcY+Ii/T6Pejee+99+N97a41XFi7iYwNgj+EiZOOTq
            Tkj/9g+z9AQwu2M+zzmNBBJXSg3HP/7zkyJP+u/Hce7/1XHlXx53/svjrv92
            XBYxgD3Hdv4P7hv/bZ9N3/P8z05fPP7djOX0H0akGAlkrYnv6av/cvrqv5u+
            //QQ39P3n14qv1P7Ndz/D/b1KtaaQ5I60G2a+c1Xp633EOIKEI/QkzieMYIV
            vJ8gl/MJbnFCjTohKk/8chb8VfxhpZ/Qjk6IvnPij8cu/EHFO2/8gUNRVVg4
            H7pDhl6QF86HLpChh+SF8yGkMgRbXjh/4fyF8xfOh/6QwcMyWGgGz8pU7S6c
            f+H8C+dfUOWMBAqlNXbgYleH8rMkc7NE6RSz07enf3/LR7z0rYfLlLUgtakH
            CH9n8HjeKJXqOKHFgO0/T4OQAq87VyPbm7h7D8ZOO54H5zc882zPTW0QapnO
            53nY94Bjt3o9w5cWhUY8j+vUedDRUn4uKGm4U648L3bcE/eJ53Pzc3k4c5DG
            AXrRCHi6cPWBZwoPJKNGIfV8m/J4YBKOs/ygw44TKf+7HdOhMc6O5+nUHqAJ
            6slwmfhQMbv8nEvKQja1tV8QJYNsn2pcshENZ+Y71gFyChibCL17PMvP5zPU
            0m3B8fx74Z74Bl1x7vEZVeN62excM50+O49Up25KCyVj6xglvuHKuICRQJXy
            jRNmqRncI4WrJE7Zfh0oZa1zmIwwMrTZ8T5cX0eX6tZBsM/E5OHhTujV7+Tt
            h+uJx48zN1kqFZONSb0ij7/teExpjqF2qIMYbEhiKNrVv4POcZ2wBggB/0GH
            OZeOAS0+NJRIIOuZ2t7vpGI5+kTi0bA8fnIuO+ZcOZuWcvztmMqJXyAn2TkF
            E1/jMwoG9c723I3EUjFiOCoUjlw8QV9YebNTCc4kxwvfi32P/D6g+sw4AuVB
            53mgFVz7ro9U/cDzE1/uolqYQwS37iDgxumECs9jkx171CvEGFYkYWOM5nwa
            TJrHtMNb+hWe8QpcaP197+txXaAdMu1ct6UKk+P5F+q/KzlEplFDdZMrmBOZ
            f1B/+1D/kAJFtsOv7aFR1Ulujezya5Vigd9tiCtwMJJ4bL+M6rm6cQDv26ad
            x2PBTbq9SAD7uabp07n+OYEkVIxPLnGvA3AFraJ22/X07OGBEr1XEThocTKn
            KgjeAOOOZAtN7SoY9kkj03jNODlqZdxP6CM8tKpPG7GQK9+YlwGF3VweXauv
            fo/Y8xkxnlPSesrmMbdGhFfK7fuc9J4T+eiYhKeKF5I8cc+oNe3nFEofCJ8C
            yVDayAPvtGgshXq7X6A741thlNxBP3iRh0M5wGr4KxZ6MtrRQ4IK29rr+Iwg
            0i7p0P5OCiSn0C9KOjMLyTxvrRSyJ+kfJiig4BvnGSQVrPEA+k6UZLgG1gRo
            pUG4DW0pEMTmYGit52XMoT0ryGz1a4PJYn+LZL7h1PVhWfSG97wD354CJcw7
            z6g1Ph9YDM+kQKn7Goc/B5+tcVLxPWKNYo1NXLvcz8UtBZGPEW5Up8boemSa
            yYeQ9/X+mMgkwzO3uM8BRZ1BPDebsOhn5vomNZsZ70uqn2tAcJTzFRxNNtfC
            /UkUIFpfLlwi5+bN10UdJt5OAnQP7YfRgrhLh0LkD5OnUfLjFzj4GxbNsZyh
            84HjM+ngSDlLSDybMT5k3HI79HcgzzYKCQ8yOkJNaRfY+o0VkslI8ZpQoSCp
            rwMM9aSUy+ARcrNAF8H5m9mtiolNz51S7XdqFBwQrtiCzsE87H5UhfB7pJVL
            9kBPDm1gbLmIMZhYujS9xFzj2fEs9aG8vrgIbkyL7G7Mni+CQqY6+pRnBNKb
            k0ld/6Au9k7w9EWgCQHzXkHGHe3Pxcnq8ki9x4NpY1mBiOLWjmJ81mn3wKK5
            XDsCpa7NP3Xe+fSBBREbFwQJA7onzNo9L4vakTS3bJob5MrdITRBNKljzlwQ
            DDARXTSGj/znQZj8aSst5rHqvS8MdvhwpbXlF35sFb+U+RhlQnXpTpl8uBK+
            VuuKnHS8VLZrcFXmoJXNQatg3Gkz7rsbp3moqzkVl+UaBlme/JEzbcMpcDh4
            lTbxvHxqaDPHg+ENksTNmDysJvKdNF1RDTTn6AuEyMT3gKni9jz2+tLQ9ESN
            PJjYsbf+LTIj9AQIEt4XfPrJJgDAyyUyQWANU/dgdL7feELjaftZ82NkAiZz
            bDKhGa/nmVvQxLP1knUOJqk4rwnL74NjIUJnh6g9T4lYnoNlVto+Z7hFMDWf
            Lqli/lygHnaBJOVKF7hgjfR9AZCCpiZ+3fSA8sdzwBj3g95Uh/eAQHO3AVmf
            AYECdHNAoMjtAXlSnve2EHI0cQVdObvSaGTQeMO91kgB9TbX8UN/5pTk/Xqf
            Kz1npYIaN8NO4ezzFWph2sDjKXUf6im4VqeCKfeWnROh3p3vZCW7T4ifyeIE
            crLu8t4HCkAe+xwJJZ7zNcF4Lro2G9b7vg+WlXk9KfDx/GLmcd8H+/A+nTw0
            3Jx88oBUzmWWFVcuBZ6ESW/Vl2rZltmV6bed0UjgvBcFQYIhcpy101zDxZ+P
            JE81rdMEA7R+Ok+14rtPyPOR5By0O7/S8hA/yGBUnMTvz++KSdDxatpSK15G
            IMfXgFKNwgu1a4pAyNkxGB9+AhNJPsCbWv0vnjTJP3Bf8pggyUmelkZdd9/K
            Jlb/yTXwxM/5yRntDHZ+whtTCU3PO0HQX0BcijaIpz2m6n0tBpwLAoIlo/sW
            +u0hoc/9rpi8Se4V52dSoRyahmD3gHF/X/s5423mZzo+xwdwET5XEAfQXIGF
            4WswpoUZGXyT4guB7yYCiNIEYKkYCayb+n6yCZP58EivffQdEjqnenLfpRUM
            1T6kGwxcmv5IGoBBHQTcwNUdUFs3gopVW1Ckf4/2Pdz+/bLvsFEx8vY5+bFU
            t5a829CEeAxjB6e0ipPCLT52XP46BtebAdKf2kahzgItIE3oxKf2H2eQyXhB
            jW2QooNbmmHcdpDwcUUcBs0gUvd5Jj7PcdRXkxlD5zE+1xJMMrxXx98MNF2D
            3nNWNy0XncnmwQdNholXFZFBC1Z0DjMt/4DYCLZ4dE1uyLb/6vYdBMt4DRaf
            fe8wIMVFpPnQSrdtuGz8x2huC9j3skxBGRn0dZvzWj7M1zt43fHwh8mHQkZQ
            mHB3rizKDqouufO9IEfPqFVqZsvRfRuWvUTItu0e1jj8psGvv8MyK9t117Lt
            5fdZ3b/nvbUVfi4frMsCMMu/QymUKKIBDUqvlw8eXlf7oc7pOj5BsMttshjm
            02cQyyFV0T/blkQsdfC/PRedh6C/R15BXxAHVh4NUPCNatGFs8xstnxPjEJE
            kKuWTGLwbgYYSzHrOejEwN+K9pnb/k/f45IPcvDck2J0PAPX6vhbVI6wHSvY
            Fu8euYX9GHi/nmxbHyOB+7oYOqkhiAVJp8OknArqQqaDku7jT6UnY43SpXnI
            CwmZPV0ZeV7Zmz8qm5+Dt66KAha5rUz2Qh0P+xzosM+8X9krGi+5KCJeopS6
            Iat82TlgbJTXN8/FSnYnlM6D7ggey+ejhk+WznB4tfO0LCBLGVX9aZnnctN3
            w/PE3Y3F3+vrvB8Gnc4Bf6cL2O413JrXdf5uBJ6MR11rHXv8ajWWPVd3URJT
            uhi0BncDAcEa7OP5sq0OM0obrkNiBQO93GbhtfvIc+3nmRS9i1zErv2q7ul2
            XeC5pG2TFZb5Wpe80Jjrc6HbL0Rv488L2bnhPZecJM+0VtgvCDE9qJis7g8x
            ILHwkrgLpy2Ni1kBVyoXVRsYNkkTevsAn4PPkxh0xnNkIxxw6/ISW/wmNg0w
            pbfcPPR/Q6G9+LRj2Tl4tSCZ78rRneRJM2uf4q84YfBzjVBD8Dx520ewZPtn
            XKBIm8MVLEHXhjjeFgbHBUQ7taV/9bUs8i3NPf+jQ6uZcdXmfofplgU4oLH5
            rChQq5H33/pDoZMv7nOGL0xwx/YusvkZq2j5AgFDv29aQl1Tqz9DYalOzSDC
            sS8AQ/H5WjWFaxMUl/Y5je7NKlGw9jkw6p4Ph4Gxt6bnFWDct+H4CavRQcNb
            5m0U0lNFAurTronJOjVZDLz1JsFFJzaI46yxyqGtgLOUxwI2vGzC6MI+jYWP
            u7uF3UTAmNvnJeqwlTI9b11UB7LcTTNKL/jtYi6m1DKScsf0lJR+TSiP6Ve2
            tJYRZCrKhbUOew65ffIYr2ENiQ7LI1bGUvK2rgp2jrY51Do25+3XGyt4nvsn
            VyvzJof4cLVhHIpKQzNdAIq88/k/HJac4JMqkLRYXODKNsFQc1/N95R2KSrk
            8av2246f3A32S4KIn+PXezzTJ8o18+d4hpjo1u59vBrsXqlrK6gzRlof9Pkd
            bfv3yo2XqvtFYS7eFPdj2nW2KwUUBRJrtxTKQG+wTMTB7Rl3AEoDh4vflpUw
            aSTaYBfYNN/v0YqUyMuIrYIzlWe70BtN6Zvcys6psAHoa6504/J8DOhcT2tr
            m44QxdkzIaA3zsvu2eLnnjfvWXFbmbWRV4VS2e5NWBf9mnTBTzsHKlHhu4eg
            OAInwtxlWDy9453NQQxFnkoL2Bls4wbT45f8rummKeOyeDgbhmR62fC5fJVb
            MIDn5JahKJF1JxHOkE592DlBEThoMbif8nDMEZyow8HwBR/DCodJPOigqRgI
            rHKwwdboh4CFErrU59c6CHwpLNVwSLnrh2v/tnULgjSH4/Pw74nRWMlcyNQU
            eI8sBT6GQQZE7R7Ex/fKFEMKCpnyPpciKUzYCp+gSy2gUjlqcLl1pF+R9F44
            LvWkP4n+AYxL7c/IclbZuCgyef32bWL7kJl54IiRTJ613wv6sGig5zN0WVFM
            Fgxjivt2iAI6kyDaPlYWjpPCi0HoRgJpSUpLZoSll3z8ZfdLm25QoXicQ550
            ysCq0BsUR3uB17dIT1TFhaKcre7Jr/0kO+K5ErvGBq/lLx/PLLFA5ZMRQPKS
            RDe7TDZ3mlZMX26i+CLdREGnTC5FVsqgE23kRMendJPHz5tzfc5bl5837bzo
            58Vl56Wk8/i+Jyzzc0dBKXgP2dh2ng5xXQhcopX8hrGbwmdUKNwpTOKlZxLP
            6iEiUHi01XhDVHFi78RQoXEnUNGJ74VO4y5uoOe5yjHbFrkKSfN5usl5vT85
            BZ3FpHmYrU/Xu/B57tK/zs0m4h8nAYpIKlevwoBZkgJzcELErjkLSemhcu7C
            fia7zmu88e7kchTaVFfMuyhcedIpo8icWCUuuUDpJATqDY+xynJ/rqNBfRjr
            OuVGmXgRXMNZJeaVtrIT0u0WRd3P4UREwkkiHCqGmFtY/fuez8IbM3Wz2zkv
            l2gMzfr9GVYRZ2Ko6tIzPPM5uT3yt8LcUmMCiF87u8L8vM8TUzxbUWhq4blw
            /tm3jtLAzyyVlRzh4aTIzBznVip1HqaRi6mez02uKU+UiKxBqTrPvSChbD4k
            slD9/AAK0zXoYbRrlZNjU3W9XslaLuYLrBwKY3gx8AejDt2ggh29LAtyZvEG
            8bYbSHHCuj6CKTDh9JjVomMO84WHrSAAbZ8tr1sb61z7oSEvn6DojV0zKGx9
            aRLycA8jJyDK3awHvw5XHic9E/FaFucMPiFQ4ua5CaQetkqe7INSfIJpCpZz
            kVDG3KsEZnUHJ/RnW9mUJsZGvs06PkO5ZamcCl6vK+kcJhhSEV7Sk3SO3B0e
            MprMYajmFS0WrbvoAQPVUPlWjuEjiZ4tdheVlcJoW77zwh/sEXMdYPvjczns
            M31ZuMhJgyrSmmSYM/UdXtD6rPRmc7oszSDlKYliHuqbj+dZAFjnYOBguZCk
            BboiDXMQe6R/rmVF5iCxq2zWou+wpfUcnZJUUU1JQrpA+Hs7zO8XFmzdlKOf
            E+UPtM/p85nHhfiPx3Udm/1YSt07pf07BKGf1+w6Ab8FPxfs7sc1P5/vFP64
            j97zb8/Hz/WsjVtFQ1uAwQ2+f6eameGKz2Pouajh0fvFuT6vxLwhvNjjz85M
            CKig6db1CrNmqPYYCQxKIBhgPlkQ1lR9mGzQb6xN+167b827bJ75BF6mY+l7
            StM+P8wkxxoNkqRnSbDYkoVUj0TVAuesXrVGpvRi842VPhSZg7ogF8e5TGNY
            xRO6Dgulzsu+Q0LIcSnNT/un3Cl4sWE+xWS6MUWKHFDm6MSKaFIx7yxvI17r
            Nl6zU73t+yeV275fh23f1G8/r9xmcmLkzXvJSKXyHmw7Dts233/cdp/u++mf
            UQahH9+zbWFvFktht+87Zf3y56sxVEtB93EbSVoD5rZ8p7TnYB6E5c/fhuVa
            5DWD5/TGqYwZvlwY0VQWc6ze3ZI3sg/uTRqh2kbJNTyywsEvlvXSTPcWN2T+
            IugNhscNRQc6FE5lqvJFl2qIZZAHn2VEruKzBCZ9ZkirJds/jBKlT9YUc4ot
            lglWNmGChAmhFGTMTxY9wA7pI8brLldqTkx5mU6duj03rP7LpaX8W5+tnrdT
            kE3wDFwbn5X4CMEPI+iWT2x6IsmU6sQMx3gFhUsC/X1KlLLfkrbhO4Hqsxg+
            95eNAq0gZF9AWLDzVFiIeQx3IE+/zaH7OnjF5RiSMccvsxcWt0vHBZ5fxnNT
            aOpazFyjPv61IHuANsfkWUgwnAdd3XX0eFJ8Z16sy9cE01AvktwFf3wcg6Qc
            SZ4rnu4zgr6LY+uX4UCLsNh3SKJaOOnmpT7+6XpprGRxqbNAOeBEYOq5bnKC
            sgNKgflw6sGL1PklAyVo0DFBEOGT61Q6DielKrB6yalJR4QFjlej0AvknxA0
            eFfw8UnT4SxxRrqpMcERkymHOAhjJabkYov9tYL9wChaHfsufMblofnNdFy4
            QlSY7yaB0M2H64V+MT46A86hyCTTHDPH2Egs9rlgnCNjzvlhutedb3vW86IR
            fzfnuHMt+5wUALXPjZ+rfb4GA4z2eXS6M/xciNzzupvEQHmuc9pnBotPaPPd
            ijsigxsaNNz1OvPdcJE2L3wOLC9Q+uKat12UHGKedwtdrJ2LGyLxKqHJUsZc
            ZZi9jABQNrarU+2CffFcWGWygFvZ8cGCVRRsFXEyacy0yWj0zXwRhuk9jeu6
            IGa1+pi4xcwMWfJ6HoqvZJ8TuZcRmQdwjeDSt2giYWcTSyTEQl+xhZAsBaJE
            qVehLxMnm2MwJgV9re/zhuU04z5zEy8zj2hYKc8XGjgNQKqoSqVoefCZVJNV
            YU3Xx4pPqIYy0zJnkLcyi1LFqm5PDGswaRcU2fx4uXKgf5Eb2Htd4ihZKV7M
            JDoW+GlbeXssGHunkUkdn0au9k8mB8ixfJi/Dpqu0qA+SlVTCAej01uV3NZL
            U2HsiQ5x3XBwIqqS9sWSIvN08Mxlni3dJ+0kuyE05EaHGCaZjlbq/A0rEhJQ
            E5QmTMz7aGdWajAWO1YFE5sDl5UFTUNtutYItH0DDNZA49GIJzaYO3jodMNS
            PaUkwjrOaTHNHNvHiuxgMpBIMQyJdidXOFQrcKgU/BwMHog0UVkr4+t+8VJE
            Hzp4u+9nnGcd4na0g3A/HFPTiWOgJEClq1SM79ROOZav69jjUk+mwEW6yPH/
            vTtxc6wWs8io5GDsrm00zsY5IbsuDNmfrdt7acFUcbNwj5Z//KYCP7zHI/WI
            SUdJL6fzBqMkGX8rPebO2hbBzYJDUhHGJHqkWy9fIgU2y0mOaioV5aVRHAdk
            gc1kaEO3iiEs7KEHZ4rxLEXWbr4CBmR5UiadnwxprCe1+YoNrmUQkbT/oKgD
            xEC2Ckm86Bm+CGy0FKtNkBwp4EBcXczQB11fnAjPFjhOJlRTCcUENgudYN6r
            vQ94Ku7UF0wsvjeG7RYxJpuo45FMD6k3JcOE7Q/k2f3rnQo5k4k9TGDZn29+
            Dl+E9Nhzctwivd9M1dvEe2IX/6Lym1dNdW0iK5PhLVjSeDaPM3442ljBgv+m
            6KnuhIqjc6jDFeXQLai9Od61Fe01LHYXHzpbLWI/7pPFHuQguvhTfFttK3bH
            KBg4ATNrV3lYJtsU6goakM8gkiBAHMNCD3f6ZSkwAi2WDG4DoqAXfG02rWh7
            lhNSzkUI3euQ08O18xAVJL6zvyQtjyeTumGcWXQbn8V6eW0oSBCVJAfoyZS0
            m32CsMDqJpZLAfHDdAMT6BYgrcyWtyzaQMINdC1V2BEnl7aI++TvVAzHeFRQ
            DS0XTw6T/wzPuJmZejFGpewAeTHwGiwrmSdrCBuNAk4JVm8DdwyrjHDsa8b6
            KP1B+zH/77gWlmt+iIQJNqokKJfSMFlVAdGc6mRsxsQmCGi4o1rvRE7MnCkv
            906M1R/0hJ9TQdTJFMdxyO0yDmrKzHQ/wbIjFvBZLioyUsailMG0H0IrItsq
            UEU6zo+KxUEf7Mq4zXTs5ssH4HCPdGRylpTmSvH2slG8IOTeJeUP104sX+Ck
            FCpXUVp5h1n5vTLw5I+vADPFshFPYn6oTMQY3Clt6ShOjJBpgwnrJBjm0wYQ
            JvaJCPkb0x+U8Pa9CCZkLOOb1Bw5+RgjsG0TX5wQ506gznN/hlw+fy+GA2MC
            ozus8/UdsvZrer5S6Hs/3WBDAdtzm9KRmb9FVo+Vpx/bikthRwKkYzHO9607
            4HZjVqZyDQoInpeC5E6jz4Gsy8y3aZSDrVHPJQfq1AuBkphxsT9j/7k/1/oo
            0NlOre477MELUoiCBvAU69ZKDDc9cVQlC1O+obRZzIlKXmXYAbLvhgwerEye
            EE+eCEbZto/d0ekQb70D5aDym7HF9zAGCOc02bqfs9DDXTmGkakSUPZg1Xer
            bmLm4VqaMA02ZEbzXB5L0LLyKIqlDyXR6XEso6TO5NuZT+wzjxp5AAyQddYp
            Gdag1IyMNdSVdZbFPrRy1reyU5itHJoUMshxsenmWWFPthnfPH749tViMQUq
            Tmzm/KRW28Va7fc4LFc/bco44qiMF0HZK0kp4SVA0WE9eMowl5lTj1V+ghIZ
            yGfBudLBqwqtAq2HkEyjBxPRPlLgw1RM5gI9flxR6OZiuMKYVQbTKhgAEEUB
            8TS/x20a88Uip0YWnx3F4lJIQ/nugZoz+IInS1EP4bmVzxffc3K8QSjB42Kp
            DX0+zd6mXc18oMCEXxDmlPvUFNFw0UPoShqMP1xPOfiwgbiCGpSPwjjDTYoK
            N00cFs4YrEShB4267rJUweAvoQGKGIyl1BJMIi/Hh2t9K1AWnASVd3u4Gy/r
            K1CpBj9YCR7Sg36vvf1kK0aIzDAncTi7wLicQgHwYgV+bI+qeZ4fTiDmQSk9
            wM63o3DcL0/dcdpKSLevBGpVh2tjtsVLJSvP0croFr5X5YQrIJQClk19qqhE
            flA6lxR2p704IMyUomZyRDr9CBIgmMXJ0suiiCdjEaHed3xV6yGKhqo75C+l
            xgZtC5YXHSWmRsek2BYD8OOtQAmKdwxqaLD47xjBGi/pccnScJmZAPZqkecw
            XNhiTWMK8GZUSs4igZ3xO8yIjpUPQXjlQIoa8UyXcFV6mNI87wAtc1Q8X/w8
            3+HPxzQ+mB9H9yhs20oLo92XadTdc2W1BaX7d+NAvo2ypd2Zw3f8F/dUDXOy
            92SFmORSdJsdtzESUEqTWI0dXPwG/vKD1aTHhRG5Q4g2yMGP5yCv87nqZMYW
            JajCub1dmojEgaNbnggylQ7HZS84OrPBI/fpxX3Le61B+XDai9dd7oNrVE8w
            thqpgYXRDt/X92+/v+NJVphWp1k92di3x//U93L492TP6lt9j9dt+3lc8ePi
            r+/h1/fj5/fy/PweoKLR9Sl+wuT0EzQwWax8XcXHMd1+7rRnKsZCaS9je9uW
            4205oamw0jINP8m8Rj0vP6n5RWx7TCx16k1yLYbLVXB6g8qqD/lj5j4ogbcd
            G0E7Twx90mg/moo38Bn783sdECeYAC0nOlGX0pL5uTNv47jrYdc9ul07MhJT
            v4jpGJDJrnUdjNjieeLfiUrZ5U5UwbPSuQrpoU6bffv+HWB5v5+/vk/Pbg/+
            fWwlx7/3X9/br/OdYA8f+4RJruD41ZOPt/Z7LzP1rmVacN2laJ5UnV077ox4
            9w8WT3W7cnPss9u27Ousy8IMiekFxxvN0MnNv2+gmx2NWX7xN/qyv/cdjbHv
            OwqzM8F3lGZnVLcd9fDjNhBR8+vsqMwbfdnRmvwzGrOjU8Wfp/p1q1+37qjM
            fl6P1pye6Z27Dcbpg7l2Jnj+mRH+O4P9zRDfGeP+u4jSucDw1e9bhysYED5k
            87RlTVRSibJ6OuzhHaoCHks2IRPfU+2vWIQGt5OEupSnAX1DXNYKIJUIJEU0
            UjRsT9t1mKdNIkLq1Rh0kpzNSKBdhupz7HqM9thLHJb0QjyJ3HyF7IuavsC8
            Rc4P1gH0T6iC9nt09x62k1hm3y+d7KWLEmhc3wjueWKlJjVS+pCCGeTN5BtR
            KQadFJnGRzIXH7PAKr1U0FeYKcVS5xkcGI3uz+m+Vndt6nOVRwt3BHlFN5lM
            tHRGcArdnkX1800qTnXxyKhTHafYNG0P+mkHUwCGKYHUY0oNFI0Kybm4EjYI
            feDMbHEu2nqNW1Ynxql7AlcM9DpEaD1Qd5kAwiAKxx/PTAU3MR00TOpWwl/C
            fisDHYzJ4N31G/gJiE5YMKwR57ORQFgKDpN91gFWvOSmknszORfoi+wzMtAf
            EgFwWJOMt45EScnpZMiQXn1YgTm7mHBHPXeDtXamgJ+slQhjp65jBGu4C5h4
            bVLmOCCHwFKaMrBYTliKBktwLd8OArDU02LUmNNe1maxWilm9pizy4mRhTwk
            GBX30DXJ70FihKYeFH/zqfq2Jydk+XK4ijDxKdq50iFcBESXqdrivePz0dxp
            pEOaLYolKpd8zl0dJ3fmAyuifCmqrjsd41mxbb1BSqkUblxrSqR+1a2wluUI
            JqqYtsF3kP89y+xJu+CKoF8gqoDrwbriiokyHC1N05RBee503W3mMqkaJFDv
            NFhGzZfa7HgHtTfbrF54swuFrmy+zejfMZ3ZSvXO6qaKzJVB0Cul8Xv82mXa
            lnXdC4dOZ69MANd5zvY37tyZ9+9uETme2ysLXeZtmbhlZegWLY3uBCBTUFBc
            WWIwXSpjoowyEEYiQh6C+OlLxG3OGhX66XMXnOOAaA5xqf/KJFIOoFElPdXy
            ckwuQ836oDcnf+2/9n5o3D1ZCI77MdNzo6BwdawmRLFH92DYih4ZHFdiNZ+h
            Zfb27+Of67mnlbPV2WF9CXoNzxwu1SKHfW6ycxjV53mw3e95d+rmw2s0cGgl
            m5TpA/aaeLwyoPtz7c8HURsEK4fn6GTHOJ+IMXi3ivPTaUX4ChIMZiA/N2dg
            BYZIqNtdx9wyjiYn/dUEEGG2VX1Of5dO72BnUY+bYhHc6ve94v3zXjPaWHAc
            FJYMp1VEJmY3MMpgOcoacPkqUyuHAtGNTswhmZhtoo7wdTwD0U2xRBvs6Ody
            qU4f4KjMZr3QOO24TtzG65VrQR78cSj3P1BejVzHJW+UBkCVU842QrOgv7ax
            W83AoM50PJ417M85zqEC4yulRx4WudF0f7Bb1QSQdVoF9JiV5hM1XpxUGway
            WaYE3Zs/Ihnm9O9g6dtpsbI5Fba2CtXfqsY97ro5gxAkxQF8hQ7DO2JZ20y6
            ZtmZH9g3x5a9IAixvy7HkVAKOXZ4VDIu+htmUakfxxE6B1+IBIcnHKdHg0jm
            pJkJ1hohvd36XZTJ3AnFRNsVzcaECGUKufitfa7H763iq9GSK4UfIhmIByNs
            Q2GO4Hd6yVne3MOv/ZQdYIGpPzsRb3+ux9d2GddR6TmDkv/Hg+NhOwbLD+IT
            9V2Eyx0uQ7trrT195CC0lzeN/FveQklk7aBpt8mVRrPp/28mEEzuKq1ZHeSO
            ntCDphXNxOJsEaMd6uR+Ji62aFx8H9vBPVihfcRnBneoV41n93jKlWQkMO2E
            YfV6+WCTCKAXkrz5vaT/i0FnqUu5oBe64I3mrSk+wVUgpODSEPAPmMBSDQJN
            BShOXfvDTe9nkALGLVQyHcdjIrmWbFwqCh4yk4PaAaxKYRm1e+XogQvDsibj
            fMJYjVgufF+cEkuw92XWqVc+8fUyVBR6mrlsV6QM5oSUCCHtmR7UEmck8CVl
            HCP+fE/lY/E3ZpK6eZKzK2W8Jxk1i/0CfQKTNroC/ky3SLzns0Np2JXGHZTL
            whA4rIo6WUV+0wt78nWZGIm3nbTb+6LTkZn3GJtZLoqgkAqzzwJFT6CTNhsJ
            3CTyzhi8h3MS09SoHm2tDGw5yZVJlVJyTqnhEdpSaDcRYKTFCuTFtd7MJzx8
            wv261c+Dbpep7TR+B1FiKMF66IAf27FyeNwSd7dVp6Ax7TdquTiPuUk0caG+
            r+/sSpYF2BJdXspnilcLflxICjqPkhViw/K147Mdn7pvPfh8+fXyvp7/nv33
            sSvCvbx9K2bmclVFd7TfHTGayZMUAy2pxvvKdv12WOrCLmOHhIvmxDDf9uH3
            wQhVy9607eXPHzZerD9vzHafy8UT3UZjh/uYVNgMcNFI4FHydGaCV/FJSak+
            F3RUTUBWOotBJfok0J6bwVjkMwl2RkyulBQ8viSDwaISo9Zzp7JjFlayVdAV
            y8ckP8NsSyb6PRXXqVSd7TpB6jrt0ERw7+7ZjFg8XL3yCU+vDm6dJW7BVgr2
            t/z9PcWWlMNxQ69Q0YJdn6szjjPC9iy9DdmwwRXKw54Xv4Ol94uB7WYQOsSH
            qyJEXJN2PVdrJIeYwn6AekbjzseC8wweiH2ENGBZbkg+xj8mBWZl2vlXiRh6
            MKUGLX76dDT1QdOfPtzi5Q70AfzCksB3/r5k91feqy+mlRDnkyuo+nM3K4rN
            HNqDLCczJ0H6+VfWZL9UsCmMnsHcfVajMNpalQXJwQjnvZ0nGTxJA3Iyq8Kw
            gBhD6uY4EMsXPgF/uyDPituT298rjTZfcd9T9YIbcYWs2jI6D97f86A0AJmi
            q/y0oZ9t5TyWRWGg1BSfQwrgcT4QV1nhMwI2JTB7FQYEvftgoIMOCz4r7TK+
            R7ZkwkNbf4+ZnlOsnfvdDt/vITvfion1HuG090iXvUf2sJ/s5LPejGcHpjVB
            xwq0Qvz85OeTePYz3RP3DUSj1LNIh4INb/qbxSEEbxKfr/mUP2xIGW45WpJd
            FsgPDepBJ4CF/YziKJMmL5JYuZ2Jy6LV+1Db9nwosql8qBiKoI43Y0g/0m55
            XJQDI8sVyLwp5UgZ3tOPSYPxP9aHuoOcMVURGgPQoymjekEBZVBMRUFlUepM
            83UHyyY0J8X6PAvNQWZ+QH84F+Vt5uKuTGiBzGQeHQE0mL5Rz4veAyx+iTGs
            bRK7nAZJbk37DMn8EJXGrzH8GuYccdRt/rvwFi6OXrGzxU3+KXbW2mLBxMCz
            Y57uUMjFjtOOmygnnqrsYmrHx5dzgKgKL8tOITYdbe7s48vs5YckQGqNmhqt
            wiH2FZnSYTKcojMTVo6KEYax0L1ZYDjsVX4/Zy9KCKCdPKkrZObzmfzGk4Bo
            U3gCJl2uw3Ipc4E29LofabSqJ1wsKm/XEZ1Sk9cGZi9VM0o292c1zbhZldRi
            8O6w9NLxrTm3oNXzqDSZHKQ7IW3/AePXp+c+EZUxC5BzMJviTcORaGfZkwco
            fDvoQ2YyCPGNJwFnRzEoVy0zZc9hEPu96PwMnJX6VMWDPU/mZEITS4hzc4c0
            Jid72YKlOaheJTPXBVTIfFWSZTJ+0317sLowH20oVkndIGjlE3eRnoSHy5ot
            K7iln8zq2BITq+U3iVLrGb9jmKZqfz0sdZ91zfx+X5/jhMpgNW43o3kUh3ih
            yX0l2nn7+qD+H9eXifx1DdaV3ccuP/Zz4n85J9h9b5ofNUxhxS4LfitIzWAs
            9F4a5fRMGeiAAsgXjyPIUQ8qaJyRHqkujZkY+IT6ajwGPPI9ZupZQNnU9PGs
            zHCfsrcqi7sm83bopoegfYLEa6A/Mu7yj+Al1Vc2vJ7qZSBbWzyYcvpkimSy
            qKpy0GymWlbysUrimNgiKWnrDtb2zIygc9+oApHk/nPuNO8qSoAtFmDrS41i
            nGUQ7fe+hhjDacXix2VxFq6nPh5J+MrY5WiOvoujl5A5QcL0SHrKArOVz94f
            2qOewau1BCrEfG6SP95k2pMYL38/tuMZT/42hbyz9Jz8jSsB9wAHeZT+l6H8
            78zkcAkkEt+h17G8rNtazpeohsfH+1K2clzMVex7rdPmiCw4PPe+86KtK9SB
            ebrElnupEVVAYZYAAQXbv7uKB8GGsed0FyzPQueH/3Z9/VahHELxLrcKZTLb
            ojzpL9dg+j3G9v3eWiV7vnJR7qIFuCJzfRsjWKbngoEVMFd3o3dV52AwWK5B
            EGqTMh4RXZ9kVEK8sqCDmWDZUtYas4CPHTcKZq0fLk3psCJxJaa5wah66FXI
            duzGI3NL/JPn6GT/uFddeX0DBiUz0IYnvx5Kp2BQbgjHoluCLC36FdsJlczQ
            xFLfVf1v4lDdhTpZcvN4RnbEBcs0hlBV5Peg9/uiduYryYB/Pq6BVerV1UTo
            MEzRbEo54QQGV2lhXpnxEe7rBFfBnaDGPMmlJJNTkvM9HUO0HqZ3B+0jdiy9
            soTA/1jH189ziJbhqdw/ziMMhaVuf6zq974myS6rrh/b6UdrOxnfLIxDsciS
            48+0dBDBlWuiaSNDTuVudP3L9dFiYBHMorP0+vmsfMbCkMi8D16TGj2TiMFq
            x2HSPeFz+HGdRxECFTqTKLNne40NQeuNCKonhQ66J1qm7mb6jN9g65qFVbbk
            7apqORUM4g3ydkHcCy/b62s48KEzBpb768aa8P2JSHEK/oC1/v4NL0pXB6ju
            z9+C/baTLv98KWgD5k/byUVSyOUwbOZjC66jWpEnX5pqgNCnz+LLKnDWoYYw
            tNyYRZk5zjALN2yf6rbwWopnGEUrbEslz5M0LXFQ64/YZAynNjqO+l9/9/Km
            6bGFQEXSc+WvBDZk1SBsfCXqlAVUVbpnq4WROepiHnu4BkvkbJDaigbJQ1UH
            tmzncnR0lEGSVrpt1NKRK5NJjvf1Bf/eDaEksC6AcdeeXxiRLqhj5unuHF6z
            +TJTWZmZujrlM8sgJB3C3nfQ9cjOAKzXZwC4x/XgXT/NE2oXysS0ZECoumKi
            RWmrROQ1Md2X0yv7VDCe7GkOkUNF6OADYpn7+Bk2Ad4QRExOKmbD6ir6TM1H
            F5drk0oBYqy7bm+K6K/S0c6HjRBqz5V4zdPx176HGsQ33mxFGsMclNtIhb22
            GHWJVOOXpAFoOnehTAYVI00xRBiMY7BGDs+lpDdT9dWbrFixD4NU2s9SgRg9
            G3JQivVirYQubqkHEzaQFL2ZaclYgw3fh5UVXGA8MKQmZc/EeiCVcfXTcUfl
            i3jazO8lFjrzc89u8B/PV+a4VwF2teKS71rGc1eimLVpkVczDDqzhIJp+Hpk
            wPR5k1Agqn9IM782U1wna9Qezy485FRnGtVqb4UU183J8E4zm2d78iF2m7zH
            X+Elb0rWPFdnDtMKDfbaukEp2OuFMqkb9CYerxhAj4n5y8plMHt7xrN5wwNn
            I0w82BJodSTMbRH2gWqmozzhwyHrLvqPtNCDrHyc5K0gxCwWWS/XYrLArdzb
            TI90RHMiPwXlYcTtLNYhchkZYjm9Lqng8ckoJnUNLIxpx9Pw4PFKAVDqI55L
            ZAijiw79ZNeJkdexrDluA74/wWKU96Cihv127aQV6Nc/ef3s12eeCBOLxKkx
            If/yPqeLxLsKa+Qip+BY6P1ZX+LpC3KT0T/Y1aLBtofdf4+xFTWrwqxpoovw
            ZAbHRmK0EKHInl3sjGPpAfnI5002b1IDouBt5sVMFuWbkH/cwv2+eCKXW7Bq
            lnUzqTZvaEjWvauC6PmO09EOXVbKxnoGg8DPzGJP+XbHbLBBwHzTFQLRSKRj
            Qt1XVQDdqibAyoctFmjJhkhLXNtOvptZfhAMAp88HKyNzR1+VWb/Kkbh0od+
            wcESNso0/q8ajOn5IxY++Ug15p9AswejJ8xrsupwK3fYK+3yRk/xDeYapsPt
            Rbi3K5QndZS68rm8Omfn9qvE3HH3y+9gqCXYjLyLVl1XWF7bMDx9/Ruufg1h
            jYnvdKduRnQ3ZpabJxLnIamAk5VJRln0xoMqtbIMRTCpb+X36nI9RQoru/WA
            Etl7QIkzzI+CiF1n//JIQHjc5CIbNrhd9F2q3JrhAqa8p5XCLiYcuCh/z4dR
            EFSwRQUoEpnjYTY05CIruL3i5iargh3ERgm5W5ZPTbQ46/DmBgXPlG5a/+J7
            RfiJ2eB65TEdRSDlt6zvoPPoJGTBY2Lw8Dbh2guYVVBlbTGTgscyRfdfHFtP
            9TjFG28dZgkFzcgOS4v9U/LjddT1Mil5WLWmUULtGy8mbKmdTWrLMQuyufry
            i3PkadJBB2HN0G7zwAvQ96DfToOle9yre02nTXkQBcr/oUW5EwpsKyZwga4K
            /ZrDohZGE+0o/DN0GEh2XG9n0oOu1unVb9NijQV8gupqujEiJ7RCsyiLiqvZ
            +uLEqEK6UQNPpyHMEDKB8AZpmhGl7Y2tAgtZaFCz2LV3Gmh2JznThoRi1eUq
            ZMKenrkTFZoa6GPX1Pb7mlgvJamsMfH9dK34850zrzHBdXFK+XKcQ/AtKY/H
            NZitU9wVKVcpPit1SJh1tG6x9Flh6PtCMtPeqjvam2ZEcmNMLlhdcxcYFAsP
            CpNb5K5UBrCSFrrpaZAVLHymBMAxdNFUw717PGOmLCoCpeSbOu517gPlO6BK
            NkwEHY/V8ch3C+2BXJuKlSriohUZHe5Ap7sYMpvq1jXce7XdC3H9TMTeyueu
            0T27xyKdvHeF2rNreJdtF9fU7S2sNCMO/bO3ZBiZM+2Z5dQA9bn7Z8/eD+vH
            53Nnnofr1+f7xWvX57w/ezpHeH5+jscnc972q3FCknjUtfoOvUS7T7cK6a+M
            +/0u24dxHhtmyLc7EZwmtRK6zbPfntIssdsD0I+B5Rf/PZz2e/NIwLqqdZjy
            46cjzpweQAaF5e8q7Psp06LLHgDPdvxcnsHYqia9eaSCBbiGuGPPO6Irr4dV
            /IH49Hu1Mv4iTK4dnmB12ME2ErQiY5CEIBMnWlfAq3NQsbwSoU5qdahHaaqx
            SBiByzxZFGmOKyyZURyS5jRfMsXnPMyT/5YNXnZvguKXpQmHodEU7rmUeIx7
            FuFMJLASLD+wSOVGWVGvOsCcds1PkWoUEjKu+QLrxv5Tw29f773YCoNAtCzS
            Mmgfu6/B6qTHOteNbgXG9UzK31VpVrffKxbimARDZcu4aMfI4eHHqPmyZdEz
            OX2SjYVC5Bto04Xl/1DzfYv9g9sS22Bhi+tcgvJhygjVlf3u6lf1VZ0OC+ly
            wD/24dIc0tfMNKB0XYUlmDl6dzYw7KRUIjwMb0RInSuaUT7YxoYPgO8MZEAT
            oGleBU8FWUMTirKCrIlegUxQuWZCkRguVEyFo3AopPSYtLVcJMdjeKWtBQMe
            Zpde+3oQGCcRkqMFUBXAxRBRrgh5mclUvUArT1TpGi1J+kWIptuw2p8i9EGG
            adqxe5F0ovGxum7QFYPjJkESrQFg9AA3VJy1FfC8VSorMjarF6p/obM+eTzy
            sST19khNUcwR61bxy4dxSlqEj7Bj3+rrmt0L6z6qmWyl3zsl5TRovumxRNUJ
            i307275sZT+3t0DednCyINRSlsmVQ4hWZvGYK+k8PBjdQWCWbVBU0ScFm8C0
            tAbc6F+3dws8/v7ysDIYFU8MxP6nl1fHRSwfwuFd901g8ZMC0v1mz0NnYiRA
            l5UauJnK9E2oEXcjLImIJzTDXB9WFd62R2lZ0tio/nJJequnmoJQog1KtnHk
            6uwy94P6oqydBcDbWyK1jYMwHIZqbxdVWwKA0Z1z2LUaRqEoS7Jb5gBFYXfX
            fA3h6kyNdb25RMv+u9ZXd7dlq5SeW47VoGPI9OIYVGRGlwwXSNR3Pya0tyKe
            VTX2zt3RYqTYYJwFMk0k+pQvwgO4s1RwCHLaKk3mrEYCSVDO1gCHruFmWtHw
            1JHm2YIteMaAeUkJZc2AFWteBtHHZiKXaFbXKjcbtl25/0rDpAtd8FGdvhM7
            ZvoxTPSgxlGtTS7PPbW/2n5c+9Rnh8upxV4cz2AJ82SNXLUMKDf7rXjrDfrJ
            eoDoMPhBcjfGY3hOFiIztuWyY7GqJo7N+9zMwrEguTyJR8Xsy8BpCWrvxWNL
            ibZv+T7606wck9O3P9Pp1Gp+3meoRG8jS7cqh5/EDK39r8R8GMy2kvvoF7od
            +KMXT/jjwmFdJFa1ujkYFBKLZlf6IkgoUTNxPoeRQI7ZKsZ+rJIBo+kQgO4f
            VCusBL95Hc+5OUTvlrpBfYHORt9/aKIZnolt8nfmxRSIgkJgytCP9O0jNswo
            KnQvu/obh5rreWGESPV6LhBvoRU6ypxBnYjmzS24iDWNZpmkecr79OKmoBQW
            FXE7oMjMvu2+ZfMDDB7xlz5NfOnHMIhvqGgOTFKVHG/PzYVLXe4xXAteX3B+
            vbl5Y4onxzikD87lFg9bYaPNbNq8p6y05cg6dty61Irkmb8yEud0BdAV2OGV
            iD8V3O6CwJqjHLs+Bss62Uj4Qzx20x/U6hNlhUD/PFG5/DlRxDP620R9s1jK
            cxa/yAfiA/9jpfy632bZ6nvmk/GDZbOcZrNd6A3m4nCwrmaAHd+K6er2/GrB
            8V4PzzwLQw6f6yW/3nCltArKmzAL157E7+uqLTnRN4vgyae7bZhCLdxGIoXz
            LqCkANtXx7WGFfvr+b6vc+ev6/R/vk4tdp03/kDnodUilUr0fmXnWT1nOnwA
            8mMK3TK/USaiJpHkjzAno6J5pTdlkpCAy7MEk1XzE/OcIeXJqC2xEZNfN0Ez
            uWHZghASzKczuc+JOS+bVbGKIpp8uidRZqAbJgHDNnakZx+AwUx9KXEDhOSe
            S0EIE2PJIRY00ad6zRiYlvulIgZubqgcxtcGOBMBODyRjkwc39vvgIYGv9jg
            9/4hkDT+HHwec8xP5r+Q8UDAECPz29Ji6Q1R4A7ZQYYOR9+cujjFSbFDo31a
            kMiQaKJV3h0eL2Trt9d9tRFnDu/CO07r2nq6Aq7mAyyHP70pD4iEqEDpzdbD
            w0KrXCfZFovFBJ5+lfIlJhQj8LjgfOhNhSzENef9sbHts3SFNzTv+IXszjvm
            MgQWlVA0sUsFLeegiFaPFDkepytbP005c0HTo0NsNiuxM6KrwbTuF47wlu/+
            ssCsWmIPrehe6DBt5ZJSdxfHYVIXR/AkTpIpYFkhvnCYw3Ofy5AlCcW/h22e
            lYvEK+VLADGLgtK/U5YHdr6cX9mZkzLdzTbGUNUAprGKwCsV6NyU5xhG5/W5
            P6Ofyxy/huiLc5m/DUKRD6QZ1kkv+YVdGkwfJn4mFjZjCo+FTYtSrJINoiYk
            +EqpF1ma9m/7+n4b19gKEGtV7QsVm+aKmaGp6rd9PIyskVSuIW9xobnymmnW
            wc4Um/xctMs946mymBvfw63uBuZl1iCcZbBTNbHz7wXj/ZI2XUnHhJVJBMnR
            cZqklkAvw7ZD9jyjxElpAHWYNztvX4BxE0t4x2JRsE0uVndEEdDrME5z/Ibc
            e7mFiyHDvsjHJhTqW5jId+IwiZm5wFlIPZbOS5OZvs/i9VDBa6HYoIcObYrx
            rWQWRwKieQ7LLf6+Rp5/XiNBe8haWIfrAuMQiD19spzAbj3SrrjMEZENre2l
            VL4AZelDgC5FIJmFwhGnnH5XBqNDQWCS1LSzrVCmxpENbcKo0SJtPDdJ+bB0
            dU4exUToTHjTAN1+Ta6+10TiPXisqPxQhf71motMwVNmuaVyMBF71dDfwU+X
            o8FGNeedxVYvcajKsgwIPiPXnZ9TBR07LcHnh4+j/PRxiKCrukFubqJxyYeZ
            Y+QmOreoQboA0SajzpzHDHmHcfo+L/TPeS8XaCykuF/FkKjC5j+w71sx3Arg
            k6yB8FwfD2FwLqB+oVYW6ajpDhy23aK/ZQompSi32utddpr0dlpsZ8Z2Xmxt
            dmNKvbkoLIcRfoUNzk+2+pOax/MnNQ/CLW0dgGYswz7x+UwyOc2GeQCb30S1
            udosFpnd3GwP7og/V+6LWLccP/ov8HzERiB3aOtnsGcrsX38ZP2M7fXuHSOx
            IqX/DIvGKlehSRlds1S3QqzO2X0tPRs8RmHcjL6Y7In0y5Pg+VzdRJqe+Wdk
            2b2iUAuMBNQ6xko1wPhLXNVCC8RY5uo9rfGsxdDNUcRyyGQVfsnl9nrPw4MK
            RwMvV297Obbm+H45rNjVvpUs1gFvLxyUKx1zPgqI8P5Ps5YE0WN2fEFVMe5B
            JSLqYzqEOXs+11ZwcYjlluNLJicIlHJtNupewvDlJSQ3eBTa+4PNMxrMboKb
            3ffjJ/eTe92rNxlBUlaOc8hyGLfbx0osfnEkKZqs8NqEXOw3Kt3q6Iy78tlW
            US6TccYgFLW7ey4pODfWobyVtP6j7isgMzfVQdgEoSseI2AjeQLeZnXsemSu
            rO88gPA1oGPK1s/rF2sU1sPpOJBTPuvrZc+P6RD8nE5z/zZrejtebdnNlD2o
            hn3xWYmv0uOyk4gA46PUMaRJ+brYJNgj1ZnpUa9ylEw52pxguc0P68Zs9aAE
            XkI5/dC8C1emTOjPvYiqwHuF83Ov7lxppnoqnDi/5H27MlOjsmFSFqEyOIIs
            J/VwcfEdaQchhh1xH6z1PQxbQw5AJRmvjc53yS/ggaHN5vuLgGS5FZeLge7+
            AXZQoB/ASIDdfo4PO+cl/bsVYdg/giMp9Y8IeeIbnmnscvdmg+k9gZsqM4HZ
            BPl00FOZFZzwBnn0bnVLY0gRWrkoGDqFSlmJKR3zdksPynECcgsu3lICwh/6
            Akn5Wy+AvR+UAfTjehX63aDs/r4e9gXiSRdyQYHxcHWZUsxcNyyjVylOwVIv
            1Tc+Wd/4byLepvWyd6N3UsSsIolMNFgzq6Ob1fHLrD6uj5lJZIUdB9fCWhJF
            9/ZrKElnyK/xbMII5rTKW7kGSxjOBetiZWMUkAABXVmc2KobhRdN3YcdBSlo
            T2VjanXurJxNFFa0ZvU5VkShmqtPrgqzlbyeCBMfCEEhm5wcoQh6qMzmLbWl
            IygWAFmDESksu9BWvxMzme7ZMkLvhqkxPNRblfgYr0iMcCUN0t53DONnu09V
            igkLlNw4e4MPf55ETJHzz2cY2Z6BmOmjeO0UbQShCDaroSJxZU38Bz2I5onQ
            ErICxsRfKafqWhmJh8EEVZ2Z2qwuvKymRPUYQgKqhyVJs+pK+3nNxChgwfkb
            lJXI+wbKzsZ6nqDEnOP8okSk7og92F7a79wWauWIfp/uCikrUDtkvZHAzebw
            BmnAhIVKkH31B6iNuK/QFh/1WLYTM8wFRkMZeCDiluEbE2tyqHiM5Z3BghfM
            xyMOn3I4VmteOpmYdujwQtX2NW+Z3cpumY359c/4D4Y0/VewSYkJwt5MuMNS
            C4DGVZb6IXlOly1lXuO2OrR9MLQE2fvhfphShamKFpdIBiMRrKfU4TCQ2h/p
            TFbLBaXx3dWJ11oQZPWDr+ntEa8mJ31DPLH2N9gkWIGSYBi5cunEbup7MVWQ
            VNl6oNw76/1Q7GTXOu9jLbdJyPsqNCp1W0+7BPgrRM78xGl+G518kJJ9IdxX
            KFGcmAvqTAbSWjCwbNNpiZxiFddnBbf4LIHhUQRGry2+bOIJpJYP6wclWHqi
            BRQlmAuz5NwgaSzdvBUlu4UxshTp+9krymET5ZWcT1+xDiG4D9U3KOaA9Xko
            xrCMcOL8AJnu7LPgGWW0W4dryFuLljn5FcFU/joIahGk9csxlojGdPRJySwu
            kS5Ot3EjkDMJipkc1J1gdFiO5QsEw1gqaNE6PPfba97Y0ZiEQJSlgy7doHwG
            HQfq7DX5/U7jePeubSbk8tex5ym94fUEzvVC/lvA2GMCu5LyjQkQd0oZzZ52
            wEKYu1m+QFUbMcOm8x9VE9s9I0U+z/6JV+9YwvDfp9ufwTG2wi8Mrx3AUFq5
            sLs8Hu7HPY/V2RLOQMdle475QiCagjP8ZcfO3PFk0rH8uaMSO9ryeukNytYN
            BSkt5y6LKErWHcXri+WKbbvByQkCONmJjWy/Gyg5i3p3XcprYUyFyoUoiBUt
            i+l5HImBiKWMh3aZes+bTXwascrrGGTvv6bcPxGqu8/VNea8lXJJL0ea3pnP
            thZGz5aTwdxSqH35ScPAaii+mKtAFJrI0rgoLy1uYiQQLj5fcVh+ukiPtIGw
            TVPe6EEGARzJijQ4dA8zk8huSqRrleO+mCWsbt3HRrqE7Hc+EL6rNI2Y5Wo1
            zUqurweuWRxEIez1mIXyhxfOsboInQj5t9rt8o+diJUpJDHymmz81oaLMbql
            yCX7T7Pv2KUyjr7EQJdBiTl3Y4zeUYCzVQSzYwcDGA9rDsUFpyUCt7Dd5Q+7
            3sxvjjjYeJheVm5/+xG8J0UNmJWNAZ4EvSH/RWGU8jHYZrL2+tWId3nzt/qi
            L1lSp9wxlwDSdQ2b72AWQY0qysx78AP9yFvBIvVQwQL1bKhgAqVIE83bdHzo
            x/oBQh42UhDz+VkfOhR8ofytpOSkiJ4YXYN99KgUebN7rAB1uqPvMQi+ZU1u
            0ziVTco2clj3twgUxprAfXWs2qAzj1iFnqrljJDJYQkoLnGNfzDPfgRZimnU
            ewKI/zM9i3UmtbOXLrEmzb7WHWuUhfvDxGB7UXh3PET92rKNXbx+jt3gc7gb
            vSpnQCze+1l99oVgUcfvCC2fTXGXaIgDEjHywCbLFmLeFsaIPC60i6CPMHhg
            lTUhHLFcizBYDOpDsTESSMx3NQATNeMInb60LnBuYWIEmGTy5a+vhGt/cdrb
            VW3rbjYlUKrS7sMwrf33n46VIAq3BiC4ZyIAquNyi61aFKwTWVApWbN2sd9f
            OgHZJx2+ApB3e3jH07dHcnswz9v274TLLe528eyGetziJi4TU1sMcWIs5aoS
            AaB6h5a1ORukQmf+YbieMa8PNxrDPJib+43xvJxukIkuQlorGeY7mGZQHAT/
            81W/OTTPS4k+rM+4TupRG9mBOKrM/RAi0KV8TYLKfjrN9DfsP2ZwQQDtzHov
            m7kCBsru2pJnzbrCnVvOGegvJsIHY5Sd3eLyJxtF7oe9T7D78kv+pO8Xkl88
            HW/Pw66ihEhkhvPVtqF5M00+ungqZYsXmGe3RNFhokhasGAk7XfGOgQ1Idlf
            5E69ScHNccWDadXMnufzFBdLTyVIAqEzMHHgIHJGZbYT/Pl+KxrqYfoFjsPE
            28Ygz1UdjbjTBO3dctM78wvIIphHv4hIlDUWuUJqNY7CKaSmUVlWyHcv0dCE
            mcpo8vzgOA5BWnDEurgGjIwzMqBlcB2CspJ/gDmLbEFxqKT0fDZnMdTCWhYN
            EWcz5fysRsi41zfNwSsua38PYPG0sH0uWMzt6PEEgO8e6FnUJFhtX4g/7y2B
            djRsT3SwPEESi2GDHvK7K6mjfWE1kFDZLC4/+Wb1ruIEZP9JvSDPXa39RSwM
            F9+My7vTRk1EttJXd+KFoRiqYGMHtJSv2J+pVsin2v52PVezrN23OJIu7NtN
            0c0pIhtj/CLmEq16isQcNPlBC+Hcmdb9FcOwysaPPElmB0dHG44f89TQfV9w
            IIauPCVe4keEQCcik0jpsBMi4nG7IKhLSZCF9n2WfQ8JyPxstd+ZG78rhVgn
            jOK/TVIAZdFBIw9f5sXdFqXCwkrty8REiD9/UxpqNX8CCC1RkdpipFDsVEvy
            4PdIbTd+vs9fDhpLlnC2/0scbCuisOf7+Fg7Wzzs/P0dXdvWz9x5+FusbOvE
            radt3eys3y2ONkLwRiwm62Wgq++Kd8YNWNJBtmc4af1301TlQ4AIxzA9ZoEI
            w4nv3b9nI8rRnCO3j09lJ9KSe4Xj7cX99oHabR29EVht8nuvP5U2ZrvKx64Y
            o5SjwHYLnYUes2S16K2R+r4SMiebVXr2imvWzKhV4kj3lRNB1d17XMiEygbU
            zpZ0fKGN+ylTLTrs1O0BIQfn8BdTe8I2dyufz2oUkW2FCZwAx5h/ISfTK0iM
            DeSSTFHKgg6QwuSQAkyNIQjIQY/Uo+6zp+tINGy7twJeKk4N1XWlSa9p8nSy
            YURfKeMzzcf0sutMN7DA+2zft1x3x5TQc6pjEX3vk9JH5Q+aiqAtLWX89WlU
            L4SjU049QphCH1WSRnMjEgiPTqvOCpAwDLiy9pMkIbzOaridvXq2cDQgcCpt
            KpCjLe3Q1alsjFNaRqelW9GdCykaBSNviaSEkUll+ENAPYRoYATw+G7LVxpZ
            RyYgw6tIlQZtmBnM/WPWtW4YqiQb/BaZWVyie/MoTiJ/K0viybxzypBhcBnH
            09N5E949FL1PPeyaWHJmegWCISx6H1/4bDA9fI4yrYaQkbPto9FJB7SXo8eX
            dTM7FxQiU/cyQs3BVyg9jsk9jvkZY3hHHsIIVWKiZKwFB5df+Lw+7l9vK3js
            iCKhuHAPjIODV2mxEaiK480Mg0oUN4w3cxHY67Ku3Tw0ePPQx43CoUX31UmU
            nqhuRf1J3ehTvRSoofs0GYAb9pUs06mP/aBYt7MwZfnUajo2yvx2WlDHJ7vj
            AFyNIZsMFfR+YZ83m97sdLPxl217Iutmu5uNb/a/tfid77A9Ya9nzPE/z2Xf
            34RZhr+vxaQt7bc+C7zve/7cAHIrEYjexMAWB8uvP/P21Jm1scWReeI+TrLt
            NHv8+TL7RlkKkZ5ji507WmDu6ZbguyF4tlNNbu31pQ+cSlrRIpBDLAg4OPbh
            VdwCe6nKVfDIo4WJ6jwDkU/oTr6Yzux+ayyOOx0//dbpcLh/P36xnZ77rpPa
            /3181zx2a547itasZk+RwgK537wjztufgxDbWNmsDi1sf+AdcBhsFpT0Vxl6
            bma1nElmksFPsvtcejv3VJibmf2Z6/DE1mn46EoinVbhRLHH1csqc37mfguE
            Wa5EOSUOu1ksODWx09s4cX3eA69VT6664xQSMaMsWDYWc2HOTaRExzvFYDgQ
            0bvU5spnGjtUNAzuDNck82bHDhZNQz5QJDNkjZWc9rmj0Eqzz0f02g9mVkPc
            UZm9g6Eq78BYVN/KU0GmEj9QRM1KnOspDOrvGv8hZeV6fQDtL84UhwmyLBrY
            mWphaPugTIbcGI5teSs2fBCQhF6SzUqKDSAdouO72Wa95HSS9h42JtNpGT+0
            INLlis7RFCK+iaPkySg8l51qqUQOUYxV6lIEYd6StUz61AJQo/Yg0OPxgje4
            lVyOSvv+gQv6kbvSztku1ZNmGeZ+LBg1XK8I8Xx7a4Dx/WTD/4HzwpCuN9si
            Wn/n3aCt1rI5r/cSI+dVwa2/E2E/CdHLr02ZRC/8jTUiaBZAWuyklD2DuK7Z
            1KzpURq4/NkCN4VM+wE437ei8cEGVetB9/FvNrfZ1G+f/wsI4WxwJz0czg63
            OJh9I60ZO9/iYZc6/xP7ftmqs9Otvf9mo5eLic3Oif1AHkYzk7Kf2kH00iv6
            6Qu1FwV/lLN4fBP+m5OvKiDVrUMzv2ViZ7Lo6Igm3VtsEPdmvI3PD7rODk+V
            p9HCBJls2cGOFy8HGZ3Shk9xX2/NgkxVU4pZWcQ8TSWUuq4gqEByNIEEMw+i
            d3BTAdtjsVgJ27T00XpNekhDYXWwghd68VCCWGWHScFEDLIdUjhs9NXYYYJs
            nzptxoNBCUzCOTyViu0PTN995QAXG1ytFsIxX/fxfs7GdaQ7LMPqEvlkc1Gr
            KcqpxqKnKMG6AI0quBdLJSNkF9HiBFBP0CSrjOLCgLL/ZYY57AvhZ6giKncD
            BM9tpOFz3zSE/zj+8eOfbOAfjx//FqQcKiBRgOZk0b53Odr5AOpqRFgxrD/I
            1z+yrVRfkVV4o17feBmDte7G2Z5urmOlqbMdcaIpfzdxZa9zUCm8l5bvIpad
            ozm8dH0etq1Y6dZc1jt61ts6hB3fQCWsWCEhGHIcfctSAn3fQVib4S13D89J
            p++RARPlCJNt0tPnFMv97BTzVt0cgoW+vxw3vbkDRJo0foN1Jl2E2TJQv68J
            hZTXYezeWLCde7P5qmEsLSZm7hRzZeOe2eAbkyemnp4MSizGKv3hksTjuZj0
            Wb6cQvQ/3Mq8uVWfJ85nImtc9iyEdR1nNqfTuDQualfMcg5/t5MjGdyXwQyf
            ohVo5ffFseDt++vIwvvKY0gFT0ToTikSEuMUCvYEKX/g2G/tZJLI4jF0SzME
            wEaygx5D+xzKA8moTKyT37uTwEPkQ/x47axdOWJAkcRLefqn39Xus7yP40Wu
            +Hwm9bZ8QQ1cV04buIW6w18vdiR4o1//bF9xgVZsIhuWg1ZFU/ciDS6TYNd3
            z+ouGHlyFtwdzwBlB6LzHVj2l05RAPyVLi/BrRkRaKDvPVHF0uG3sykzmgmW
            zmtR9yiq+i+nZxYdfCZmDJED2moe6nkmjBK/znk5VuVT1c8aOoE1vqPip4VH
            PwPG8axa5Ry3e1qxCa/fsz3D5i7nMITmkj5jReWOkG+GVOth5Mtc2HsMpFt8
            vbMScQ9hSvY9R5SdIoF2jERPyPsDWwuCklL5SW05/UltKX+ojbVt+zObq/yg
            tsOygTeBDQPTuulY+TeElk4C/WIl5u+GbO4ssjCqFXFeyudbGzRTzdZuW7FH
            cyWzGUEpR59+jk8+QZC9vayf9Wt/G3Aye1abaeUtPl5CUpjNMpPEXSyII+Us
            epdeeT+jK2Inxux0f4DvYyutWFWwYoG5bM98TS99f349c/88MwNl0VLlrNmu
            XzMSky9YhTEFtqfb6bdzOBip6QKN12DSvU6mInjSLWwghWr04uCF+i2fXkVD
            ZMBf1a6/6wm2Pb/t+F2o2vuGS7H9nCjGIDpRVpPKuzTw13iGqsoomrrLz652
            ynGz+7A7yjsBXwQO8C7xmiBDExLoKVbb9U1wsX8ITu+bvQ5xJ2d6oCl8hWvT
            zGt3s9e9cf1paG+JUdLqybG8Tg3t1mpOBqa6j7uYpt6t9gE6TGNBzRY7YPrX
            5prKD7D2X8eCYUvM0idYE3R6Z1n59QJTXgIjO8ONkyh2oiWmcv71W7SCFcv7
            oNGaCGpIEhgJFp9c44LJakZlWKaMfj9c8TczWvTwIRXe9LT0Z2LadXW/Vrde
            gjdqMDU5QzVKRenTzervCdN5KIMKT1eEG4BdheeMjTApljletEld714Ol9u8
            xCxZeypp0g6fOzyfPhsUXHj7kgST6UwHp21AzvBWHKfDYAK70Ss1/G215MOQ
            P1THIaeVbT3Rqimw2b4hQg8FMlkVT3EXcnEtWeVAerDGgHJyfh8gc+qwXLTg
            2MmkOBY36OHZOuT6yoGPnxz48Zcc+DQs913ZOgGrWOlDlg18MfhC96Kxzsos
            Umba1vpc+pzVeX7yM50sUFg6n402brVgzcXv9A7qe/fvt3/P/v3y7wfDs1ZU
            kothEhCqNbKdEvuustFNVPVx0qq7rxTv652oRBS7ShmnrhXM3I13b0NyeDE0
            rH58ckURjXyfB/l4/zgHmgYRHSHN5X9gzn/BnHCFnPh/MFpl9oCF0adaz90p
            AUohZnhEjDv3VWyTtg1P3VmAVUDUjOI6ZbEFIRsnSVvw9obteh8M8kcPpmU/
            vtOxMEF3XCc7w1oHPbDVJPZYksA4CEvMKg62FX4MY4ag/FZmIfa5bHupEFCU
            K60+ZCsAU5lAhLWx8geIRt4T2BjqHdEcprSbcPubN+WIDiv2KyS3jfTyCIG6
            qSjGipQMASCUsBkmg6RgNVdZpzHnWMAbHA+dqECRIDTpqzZoEO2KTPxYu70N
            m0xvZnlayqqwUZXKyTobGk8ZzG78PI8K464uYLUg1TkeG02gpWNnPGRze9Ga
            af8E9+AO6kCfGtOdp+bJ1BJhSQUDDpGOpkqED3jZloKfulNJMqEqZwpLtZCB
            FGTxBSvUhhccgQHSp5SdSaob9cYOj1+lFLfyUvu3pMtfqtW+Ft0bw407XmPn
            oe5KgegaYq23YR+SyYUklSAPwwpUrAOmvsr6oB5MSEPlPozLm+qq85PjHamI
            FxrB6QDwkcW9OfVh1xqgUEY/mcqnXJT27n9ONr7F/mbbMsGeGPhYQR2kI/PT
            8TJPmmqlfRNH8DwccgeMZVjOJzXDdkJJOS2Zd6nxWlQDcXUUlvkuGF+JfgG1
            qT3oIT/O02e++nx1QU6GSyC52zvFBbdYwnNDDW2XhTCrCsUvfaJ4/prYo94i
            xI883ARKZlD0rcpXm+CvTtpvM8W59x1vM8btfF3eziUmourafFVvRFkeT1dw
            taLsXJz9+y7dEDEHkgDomLoHI5AR/DI67E7Q9/057LJBNibcrbjdaejtSz1N
            P5iEYPXYn/WWNjh1efpb1cTSylFzQDYNikxy7J6KQHHDfcQySJb7wEis9t3E
            TOhWIH32dyDy8NwVdic8vS14VDq9+vau5CCdi064T/ty8zlFOdiWfJ+CKExs
            kzq8rIIFudHqPj/ZcX7fZC0ilF+yPv12Qn47LH8m0FvGmiKff6ILH9aFDmJt
            fbVl+Ae0lWIonVD2caFD+QSW0TxAWUxuhdTjb9dUN4BE1A/iszCYRKhi6/DU
            62IGanERm3CVW0jolY1BiFB+0xKguCxabVi62bItoGBS+bzBY0Ei7P+nAljq
            lVJ+p7pm0dReDhTLOVSaQKKDnhwDA6bebseQesCVeNXnVKCy1EolVvJgyefx
            JFv1WrFg1DeJiojoyc8tLI88GJRN1reWqlPfbS1k+XaYewOm4rD97DQIOUME
            4I2M4xbm4xi2wcexE1W9ytd1EbS8NgNUoRdX5XLQh9mx0jlHUn1IMOIBGa65
            +/MSJMzhjoKrecW3o9+GCAV+1Ayp/ZgXX2KqPv2OLjAxKBcrq29OGF8+WY+g
            N0VshfU90IRhXiXI/I+wSGZkQXGXqR+r4TeaxM+3NUgZl7XlMmR1weaybUQy
            QI/waat1eiU3y7M+wj1Y9rV60x3+fKf7KB4RzR+Z3GyCMkMebAR8LjnzHqbM
            Yx+zHYhLP8iZuGVbMW7V+vQrEfi8CbxACAt/d7BciKuhtAa2TmPs7dTnEDDE
            A6w2LfO1cCzO5Po5OATEFUvYujnppHMGFu5Sc5pdzdt1Doije7V6SL+f5fh6
            FksRHGz0rWhKMiAwzh9FbIFOD/bZkpPAOYQe82xZ0/liKjxJ6gOXtvxh78IP
            KNavbtVgQxz8my821OricidbcOCQrizmYZPGY4/xk33/MIRY1kaw86RulmqI
            iOe48LJsjUT84WMajuPpCccVx0ZlQLP/WmcrDbzbsHpJ4faylJBQJ+ySxl5S
            oatCKlwXPaFkM2SgfSfZMmB+mudTfSflcmdkOb5mvqL3kaGQR3L4TXreg72o
            s59fz13sucN8Tubh1h02UMv0cey6URph+/n7bbkhVVVm9n4hyNMs9KbYqcow
            iHTRKDo5ufO29vBq6eoL9+4vPtcBPR6c9DYUCCjxl2JHxIPdK4vZwjOfvGBg
            77akE2Ou1luBrCyzJxM+45i8b8KUs22EfGOXJzVzaf3TVRI6CgP5W3mBTpS8
            TXm6LKnIU9X67jk3OgFW35J/RsD7mgZC0rfVhYFJG2ogyELuLw7EvMb7G0XA
            bS71/X0m80bzPWAhzvbtefb6i36oXhiGLgxzNWKj2p8Sqekh0UNXwLZsjsWW
            qm03QhyYjPgxVZhVppD7UNXXpcq6QHO8gvMYRhR/YzFRPqxb6C4PoO8gGCSi
            GmZ4TWw7oZ2fzX8TcQ1mlOCBYBblN5eW4NtZSYsWz22X1EAcSAzc/VCTjiuI
            v+ey9mkgRbbPxUN4oKh7I4zRhGQKCleg6C6CAXzZ+zE8GcdzJXcDjTstc96t
            n818T0/OYYNOsz7psmO+oU9ktxR4gtgz4agwqeZgBoW8jEaImCGbECNm2mtx
            PH2H/qe1WprEgiBKu7K5SERU3LMUN61a+QhGs3K/264TLCEJYwRWNtsgkjdW
            /1BpXotylkH8zSiR0oK2NOBvFRdR78wKSH4ppyza2fekRs9VDAPpRaOZlX6n
            z2IhnIBLzGUKaiG3ZLBzvNHc7ck9vOIM1yl+zdNCByc4l3pRjkarkfYzRDMo
            yErxJ4iBfpbLwsTDuhPFe7cKtZVMVhuViOvJOnQkyCnpk9EIOBp+YiZtYuju
            HLvX6cSwrt06h4ishB8+mtjkQ1adD8zt5aVtjPngO5PYWHdJ1PTMqehshKIg
            m4mAG+yWXtRhsSPlZjALiniVzFcNzYBMuWoiOVqX3hOtwzZzNePz6i7eBWYZ
            cQ4myN7E2thei69eP90qhh4tf2pwh0rTmZRJcOgl6hws8PSBw4xZAgVtwquk
            HRg6hEFwr8uzsMlG53Vs9nOTFyZvDZjVhuqHgiRoOc+eCo4SsquFqIRIllTJ
            krX9TniOoQ7cVjKVvryhHJBK9ngv4wz3YUUyz1epmsyVysLVBCJidQmYcVIB
            /3NDKWpEXRnqjiz0FWmJagj8drdjvXgJwZTMwPdUTfXbGyC4mfOWJLLnBsXF
            PF8nXLA4/0WSpHODyhzrKs6lGBRMPdzrAnPuVArMYWE8h7r6nC1sKiYww146
            x+HZuVYDyQWol+CLZn8xPkxi81cilg1M9jQwyZPlzQNaNiF2vDyejck44fit
            qXkDlZgi5YrdWwhRegicAvJn3hDKSd3bQWaUjSoQHafa3mA0wNIInLWWaYZq
            x86I5vWpCezWtpouafWhZLh4s55poV9wBz6SeZ54ThRMqkwhJrFcuy/SnvxN
            DN37Jm02rtj5k1f8ypGwzPtD8i0nR5VLX8m+eNcF4jmz7NzFSd2OF+kEUT0h
            nzSDKq0I2Xb73HRGjbfZNb0i/VRElbmJ733Zx1MQRvRouWLbwdHYVArjohQv
            Ytmm133ORBEPLysjh5xuo4inT1tACif1aGQmdZRN92zY1xuKl2Ta4y48i0dg
            IsiFV1cl+gtkSFyrL72e2gM1jVSqZpmRKhAfYyiNcV+2Fus3bOepmBsbRkza
            iSwCZY55oTE8Vb/UCVPExEG8lACRqIE8285iBs7ZTzWXPAZ0v64m0jh2MvqS
            /dzgMetMg9ckfbcgpPvgMyR6+rjQ7ioSYqI2Jo6eFbY4k0PglG+bM3nYNZOA
            ZFjRJ+GfFEPEJCdv9nCeGDnD4bu2otGUqQ5j//luOEnQ2UvZFI4IGRs720AA
            EEODXcHKmbHOIFy4xCKVVWgX0GouDORFqHLCiKj32WGlzK8xx6W2y6Augxuv
            bPpUZJgZ7AhXM6S3hevsd+4nqUKsyC5aakfDom1Y1/1SFay0mMQaOcPfvdkB
            jzlZHpyZgm1S48lAzwG+32F5QiIbYZwmQ/AexsIyBrW59GcvvPKML0MW+mPC
            rdhHIJ+sO4NES56PIwKf1b4Txle1Zl8x8h9OAKZj5dANgwd8SoiWlkiI3ase
            sKuW3u35i101XrsqfewqwdB0oRq9WuGe9JvuLPCa+Byv1qBKH2uIDt56ewsy
            c+cI6fE0cKAruU4fqUIKd5y9tMFe+D2biukGmiZeFjQ0iD1wMuhuc+wSAbO6
            jcMQ8rl1++cRFXN1snuxNJJiIYOxcWwg2dWMj9aWp/TK3bQUCWN6RvJuyMpR
            2035pvFUe86odmbMXQtq8RYF1xbm1spA4DfeCwtpyhDuknJQWb2JIDW70w3u
            aO9LQhnKwrF3P71xwtuj+2ny9Deyr45Ff/cvT/+Tx2sgYepvdXiwHjOq1VOX
            QkdLIkbsUwetZXCGkdUQHnYRbLzCmhymRqlTjzVC5wCwW+H3IEZ2U06C46Oq
            ekxKdgzmvYHzMRik8DviqtG6JordLIcjCSQGaTm0jMJ4iAQlMF4ZWiIkGMHs
            jCPE6mwKAFNbiIItoXOuvFXFrdLWxyj2aGq0Qz/LF6WSfxOtnrFty8Q/rHHN
            pWY5T8HAnT5wsyyWMk6C9IKHY3toEAcdrTcxyX8cn6lfbKubbo6Fzzi20ilL
            jXypgvCerHvCksdW2YmdBaGdIZfAXCXq9cuta+3f7TIgVTXAL4/nUibk09Rq
            Ejs5rSfv/TWwB1P2fg8S1/VukcUkwhCs/IcaC9k0u0tw5TQ6SJ98WxFchRaL
            58Ggps76/yrJzlwmbZlLhec1R0vtgruMdp6uNe04XNO29RFmP6992+p6n3NX
            anyMVQNKC4TVhgXDBmvH209kox6NZl0CWTPd3l5Tlah+b1/RLqfl813dt7UF
            NUz50q/lt2XnqPOrq4+Y7PYxnNbWkAXXX4XB9I/cu4MxGevFTBnyGSqgjCVw
            +CziGOkYow+iFWFwnNBwl/gD2zMeXdLwFHawaXE7QegOpd+FgPsY3CH8i6Fj
            IwFjv6Q7E6SidSHawgh2FZHzuPxffwwzApy3yfF4WRFSV+nllu6yFirTORQ5
            s60PRlmXEo0pBNRBjHWr7oA5kzXaTQbI0bWVYpJjvtlymrhsBlwYlXznPSeJ
            xPbYNZSwEwxLmop49U5iEozRzWMGfIZllUXFNFibVpMQ6fB58qxmSUfSJiBc
            GE2lOatsuMxscmiXDNAtMeMLS34xqilM2929zOM0vFfqyvoi0dOjn7ZWQJZp
            0ETs+qpKPN0nuKAhpCIr6dTFlRoI9yWQeDOop2RLyCAZrqpeA8ddVc0kw6Lv
            ssyfpj4pGav5+u5uA16UvEmZNMd1/Oxj9UEbssaM12KXd4GTUDdJ0kzZddId
            TFY2MG27DkvAubv9DvFKFO5j+MWS52zezVrY0jvz9MfqcCGZSZEM2OwVFnYV
            +gW1LUh6E1Nhuft7ST0UDhQbusjfvrhfRHN9QM8pJNTPiSCljOmblF4yZT1b
            floKpcx+qq2dGeyO5jK6wLoUgONvt1e+LzcqWAZmba3dyPAVw9KGj21OlPL7
            A6aBm0uK5lsesKDkZkag6FyhqdHb3Prt9gxCh+3eC+86u/fCG8pR6e53Xu95
            qmSOLFq89nJf5Vml3Ory8uZgHh5ZNJi9OHvruzRtg3y9uQKXGoOMZH4U2frZ
            VbyayMQtEfgohvaqxhxgi+lseXvUqAvzeCzyBd167g6Sry/kcF9Isety0hIF
            oaf88VpmWhKUzf0wNWiy6QLe78pc1Vjf8vuwNRHmBARCf1jwxmIOZ7MaUhEE
            iJQ+OHa3+vQ0709gK6BD3fYooBsd+B4Am9ZL+Q3Q9ZzVMvXq/WryWfW3TU0+
            zLCImyBgCa25MECLPNuSb1kp7khnp9qAB0M4u60Zt1hSW0quxcQkokCsvhtS
            d2IRmJ68+0O9pewfZ9JhzVkbGdy1Qb523eP2KVT3tm1tYbuQN+jXY3gl0BvX
            l/msErPBEce0sbxEEDF8DWaInMwoieMqpPQTllX1BhHCz8EKuBO0LMGEGZjE
            +ek8edhMjqCavaCCk3BQLhSzCke2CAwDEoKISR9HUmIeUZhjfw/TvpPiSTEE
            fwaVxXdfUpjy2hbi+t+tXdmS4zYM/CVSPEQ+kiL1/58UdAOQNZOZrVRtUtny
            2JZkHSRxNbrxcBH5WfjrkVEwb8G13ZEkAZKrWTYMLqV2/NTObmQ0i2zt5PZo
            MddPTRuNLTTExv3EtjB4MkhpUVpHJqgEF1SRE0sL4EVGB+2Uuzy/tqxjNCYD
            eISpWcCmam9gaF/gj8aShhwaEDlIvTTjdIRCHZhn8XfWvyu5Hi8wFsv+I94S
            u2mbusQ2J5P2I1zZDsRSRSMs5vjel5jewhHEYHLAVLabN3IEKBTmYpoRtK20
            AYcsgfDdq1eexDHYDik/VVoeqVpCtpPxI2F5gzA4Bg3SolPJF1Gmw8N2gAGa
            MBgb3K9at/7+TSaxA/nCTxbPM3rWYq5eX1CBbTKfpE+3j6uWV5tp3krn2bzW
            NHtXr/5J6S6TASLcRP4H7Y1PBjmvrMiUPpI+kGxdxBxUeYGz7sr1I3CFHgmv
            0Mndn+nQVkJI0gf0DG3VTxTv7CpUO2UmSp69vEfxC/S8pMevssClxMxolfup
            EjesXqMn0PrhgOaGd7KZXidZdAdxFCBtB8CuoyIzBb9yI8VUseZOuziwjW6x
            8LMDxoj2zSIXDmO9OLC6Mh/V8G6bxj6yoEPfPt/f+H8ejuCiD1vs1S5QdbdZ
            CjmdbZUuhO8P+7cxdSLlUn1GoxIG8nlUeZYNsqT7wEb2fQ9w+T3HG6uNWtm5
            zPyT7PMc60KMIvsZANhzXHMqTVxmaVtCp4vsLgy/qJa+xVTMopW2QzumaVcn
            WdGA6GbJ2AenP/gzaLnVsXGyCi5rS/sQWP0yWJtxS7oZkEkwmXFNEwXNDO21
            pZLv/sWn+TSYq1kskXQYs1e1g73xrWzcsJspy/LOg4WQAMg5em7FRi5iBzc9
            xikDZ4spUVAeEnPwMqM2dFwI3oDdGperl9NARhhkCbMOFTg4ebANYj66drie
            q2H2f3IGNyIpWzThkkkIKUZfK8hUoI9Ms42jUtLTEybYru0nDcqk94znPNS3
            nIQsJEtnZkaSl1nrzPsujhixNQ5qtccTlSdIrKXnXTF95ERzASytF6zkKH+Q
            sTF0eMaNjYMwlFAQGyeUEQ8uzGKgLo+ViUbTk7nKU7+qaPyY147Ku6OJhbk2
            wPsPngLgMEo1mV/U5v24HUO2nVH+XbB+8hVVi89uY5QUz3gKqPPPBp4PkrB1
            4CF9QYYSwgOXkNB4yjCz1F535T7FbVA1MYwbklMSuweN7gYIawA/QAlfgwQa
            AvRsIHFi/nRnc7rKc3WHT/j5FcAbQF3ZD+qwsQgqf0AJsL3WP+i1EDrQow0+
            wBSzlo6QZB/MiJH0mkn5K7OSfMGdI5aA6Ln+YH7K0YsYue4N8PO2IbCj0hPL
            A2JDPtttZeBNaC6AGMzA67awDCTPZeX+2xPmCQJi3k3HfnqTGNitTLjlp9+Z
            334HzD8HfwdhMTrlG9ms2C7SUaBpIKeRHxL/Ig38Hn7rFKf7/zg2Fnpx8NuJ
            FKUEuoRhIkhgI1ZA9evmNWUd3E47jSDiBI42ANV0yow/4cIwpXGZ4WDDd9eC
            MgbPTTWnjvYVMhThs+gifjJJ1ikx29xKYpu+7pu2rHWbzAXP9l2bwSRAGRAV
            31SkLacGHHSh5gr+g/T7Oia1+OPBqikgdg0Wlcrskl8gyFasB6Yx8ypTleDF
            F1d5JuP5iGhtNVlLKIpjn8JDdfSIlKo+LRNE2H8MU/JDi40PGHT44ZhAlANk
            28AMjBgi//2MwgDFZOAAPT4TYA+0e37cvNhX+Mvf6uiIeg8iPmxyfClrAB5o
            TTohUFYDD5F/h1WZZbxIy8xC638f1ANlgJU6LGv4ZfYwpD+hPhL+eiZiFh6f
            VYWzvks4/8NMBNk7jg2X5afUalmWkDK/l4BNtsDsFCgd4wmrwf0uf/3Lmc06
            vi/rRi57qOhtI2Tju1laRK5tmDqauKwztwPHutkeerMwkey4lmJOoOao765/
            vU7j/gcQ42W7s6UGEoSKaZfBYnOQ5ARBUgPPpSynyFdELxe5eh1pGkaRvwdU
            dQl6VZRTieTNGhEZ28P8gYhAmIhBsSpPomt67sjLdYH5Kk2nqzPS5bD5Jk2C
            LPGyukQ/n6Mt6OlWbZMUz42Eh3D+eRzcrYZZPfFaQCchrjo8MVuFRlQnCIk9
            v5EI8DBbXAXJ09QM1mAblW1fFQUv5mHuaNnlpS2mj8qP1X5X2C+fZiA9otcS
            VFKTuScsuylYqU6ew1AUWf/6MNUfLpYm8WBuWiLQIRnuP/ugh6tb6lTUiyxy
            JHhr1qOQAJfjskCkjKzZpfIi95LlnfzLA1kPVKJQLF5AQQ9G2AMpZYxCdBvJ
            PzDhXdGPBXCTRFPQ+vZI0cFKKI5J+H8+nJaQkc8fCiL2EBd292ORvuQ7hbvB
            Jhez+5M2CVZfrl694yJeb6pMU6BHBHMopcU+CmAlZL1YJV0P8KhAWhHHUIpo
            Lf1FJbiFWNoi8z9QHvLEgNmE7DIge7t9eEKdsgLnRjhforbKxjmAr2rLOTB1
            dANUYKkjbRVQD1xMgX8PeKJfH3k8kqolKs9ajVX7gk90+lCgZoPFXVUQSCwf
            WDXGlkre+w0VX1Ca7Oh5qUDbEeOo3qbRPD8P4GR3uY7a9amZWOb2SwULB55g
            sGDdg2CcpbVf65N7k6OW12/M9bDXEc0MXktX9anEpY68X++Diq5qesP666zO
            UKyj8c652itbD4qJpiLe0ISjwRDhUHzJpWndwgXrun3v9Qw2co6rsyDxMLWT
            LtlCA7lmdKKTwAt0BL0oTrWv4XJDnngkXNuWj15UDPUw/inGW2aDcGNRnSvF
            nKVCJBnS98tnCR5izxpE+va5v7Y//r09yH7Cm012a0/yFbT3FtAOwK6DQWcI
            UUShvmuq+yCbPFhJqB6UTm8XqLlRFlHOh6QsS5ZGjP16MO+zkwKktj0cT2hK
            GKIROWwU9LN6fjHNfOtUwtouwe2laW3VoCbXtWZ6S9yc0mRzgywLs4va94d8
            EDtFIb711ntmfkMMItdxVVhJoCEK1Lf8SO/J/iidagGfvAraA8DOKMLMmGys
            gz4JqCb1nJEa75oEW1Yj0f5epA4WkbsbnZoGQg16QzXlbeS8vexLey2Rmo1G
            jBmtZ855F7xqpNw/9LyADhjimWz2jJliCbhxurZWAYEQH9aR8srb+3Fwc52g
            wtRgPMfSA/kWiHgJJnSrYiK4o8sq7KXARuxUfBQCTTzlfcEoaYvTuoycdR3N
            2l5Vj3s+HTLBOmRQcb2UHdaJR7sywob/8Dr1byXQXMDOsfm0McTQv5V7uV+2
            z/tVLBnW5XbdkDWIXWwG3zd7P+x91jyQrxK9vZY8Za5TEdH25JhKz9p0Wrt4
            Tx3Nq5pg6CxjH0rI10nq9FmfMdXZq6xIXgkGXlM96TqNUQfyaBrpSo3HiyMt
            m8wcgK3dqPP6Q61LLidXF+lT28LaYDzDm5C3ahM8qSp6i/gny9yltQawpgHW
            TdGM9In95qnGE40SkOUgwwlIuuXa6LmJUbsSUzvMjKKuE0mRq92vpMEpioz7
            onjWErD2QJZRcgRl8HyC5k778VLSWodM6bWt5QrXAtVoVCDfg6xXB6siYXmi
            bItqX3i3xBXwOsnaw5nscR5lfc5Rqmlb54O0P2GkiM+wzVp388/jBr2Ffa5V
            1ZRNahmOjw/0bL7bSQSdLx2Xos6edLAyhejn/SMv99xMtG9R9YeQ8IhOIDK3
            FQIAunsj0GHCXV4Hb+pgV63c1GBUO4QcRGsTm2dP2qEi3uJJHgjqRRsFnqwo
            Nb1EPFFkOIYMkJMD5M5ENoujF3nzGdtFGFMZVrKA7GeAXMp4xuVfrs2vKSF1
            n+SBDnqtmXxOWKVkrlC9Re5KchY1KMTHb4NmctCSK0qWg8OPxVJvR0W6EJYZ
            7aGIV9hZ0UzQ+1LwL/BbUUwvveK1EKuyjVheMXYb9Hfk3ifGgfeLoR2dP6gx
            nUqzIyOBx8F2PFaRDarfu1tlPHtbzzKKnamk9E0ix5sugKimI2EsBM28H2/G
            kBEQNbhl8R7AidO0ndQL6vq6GrWvJHS5+rvTh0gfXEqx16zfu9e1vG/ADP7e
            2gmEOpRWsuIls09G0j3qYG2AKw0+k2WenyVxGhTfC0THTQKSwqrrC+uwVDMR
            vJQSu+7TU2HIaoCYDstvL4sVI+IbyABT5Kl2MczIIkUg8p/OHhNBQzKKq0DT
            FRKFKfJHwxuH6wzO51ZqvyFApe0CCYWvExVfEkidThKStFAmjs7K5mmD2SKq
            DqYSea35mYQOWcfguwGCJt6A1Bm9w0IDGX3KP9dc4o8jrmlM8dxHLyoNB6h6
            zuzvA3MGlUEWRLm1RLwU3V7oS6BsO+QYYEMXn9bwYOw/LIhDxW5T9e3S/rQE
            UUbVYWCHUDPiBigghtNZVZW/8Fxyv+D9fesI8sHS98TtQRlsKqpHBwvFqkru
            Ax4K2BqCsXEC6SFe2deG+HcMUz7GFipDCFYp7w40trusnXphFVLtdHCi2iKV
            XgFG6qBCkStwwrKwwzWZg3R8jYWmq5UhXoitj52N7wO+mMuToVyPQkkk6Ovx
            pnbTYKYS/tQ6er60ggSd8mSNwcFJ7uWz+rmSuA3eeyimhPMlvq40qlsVXvt4
            J7tv55YtQtKxWEZX64lUXnzqAlAvQeexZzOt/3doG8ZF/3Zakgvn2pSaS9tA
            E4xVOthlIsvKxbrjejrgqLes50ce06JBA8HSsv9DjrIsAmyKUSmm1HDDWTqy
            CvgGrOJWF/ztVdVw1G9lnllfNZFyqZIUmTBlsEAkKHyEPmysGYFpv0iI1jE+
            KPkHP+ewLA8CvkPL4eMgm33HMbCdLP98zaRJzMqwXI2xlYwdp5f+D9ytkwJi
            xyMHOIOSpKWpYWO3iOFqFkNSExqE1+ur4hguBKCTUngyW2uBuZH7IoJORbGy
            OGn/sZj1djfQSrA51NgmAO27d2ET141aKCWvf/3+Yqbj9+83BLb/8P2JdMwf
            vq9ABcY/7H9J+Jt//76HP3+fkDj44/Xp+R8qy4wqLptnj2zvu70v+r5Ee9/0
            fQK/RdduCWVzyGy6TbZ9s/2bbX/5exryqLSdYif489t+vEc7uJg9vj/Cz//p
            SR8FHVFHsDa5kP3rs9TzI0CJtv/KwXDdRfmTZ608edrdfx+eqqMoxYslD69z
            SOgl/WH7mvTz4a8Sh3M7CS3e24u95HsJDwgY63cvLBctEq+gzJo+VyHnu1p/
            7z/OXt/fP/8V3f9Kuv/34/Y4jvd+e7Xx5f6spvc/De7fFluyxITrqx8XLh9/
            buvRqh3VP0c1Qz8nlzFYoH78HMAUAtbz0ffpIwgWN1LXc1DEpVUOhyMa/JbF
            39CCD5LreVzt6/vPdfl3Xx6u/R4pxHSZUWVyQBx8GwD5/gFtPXlW 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
