<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.6412</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6412</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6412</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Dell Wireless 1820A Bluetooth 4.1 LE</string>
        <key>FirmwareKey</key>
        <string>0a5c_6412_v8785</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>25618</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6412_v8785</key>
          <data>
            eNrtvVmS5Dq2JPh/V0PMwP3DuP8ltaoe0Nw8Kod+3dVSKS3pFhYkSBDEcOYB
            9vfjH/7F5/Futb/+rmXrwuOe/Dy7x1h89E90fbqEW/vk4FINPf6chfL4lO+3
            3G+933a//X7H/c77Xfe77/fYFy+3r7tff7/hfuP9pvvN91vut95v49dXd55+
            Fsd57h9O8YIWCv6fKT0RrT79eTgD3j2//tL46+9ZN+5hqtyz8H/MKc88MTUx
            leBCDT7w3oM2Ev6b8XjOrcMg5+PSPDM4e7uatHl/6jzn+3o5TsccT/++HvJT
            edzx7O/rPvfH6tv3ts71s+vzH1+vt/4z7/V7bM/v+n7d23+0E6IdV/19vd72
            sfbu13vvX5l/XH/n4fkn9Z/Tvse7l8vW/zPudVsbF8/79Him1amfOja3aOw+
            +2vOg/usxa/6FVdu3wgkP30Ln6nM39f9HUt/59b9sRZ/jvGiGq79vl4+a/Tr
            +jdQBnvXr9lqVVUC8IpHVzxfqd4WQY9rgbDp4+cJ1eioMbkAMUfgDO46bxBR
            j572/OQesi24ux0Zt5V+j/GOP33WdHmtjXfl88Z7zLdOucd521zP77kM/gM3
            PzPq0Qzhrt77dz1mdLhyLqTW95V3Fv1bvpAZ3p403krO+XyE9z4E4CAQ9r65
            ulgOaNfTu1rt7dOUi7+A1bvosKbDa5iq1f3Pbde9raYjaAnjuGJRNQP6HU99
            EghTPlyxf3N/VY4drVUX/oCP/RunPwv0TomwYxxbm3VeDvAN25/p+oMSkrCh
            8vSqEPGpb7PtabHGyrLuopwAbiyznso16X4W6X0aj/V+VK5Z9zu7jHIR4HKq
            psrNNcfy5hBZ9iDt7/N4qIUWPs+zHNGl93mWE7rwPs/yakvluCPLPXW7X7ca
            6avb/bkny2OOyfIh4rG8xvqUxzO6t/Wu+OMk9NCDURZQEpZjj3eqhFV99mmY
            NFQeceh+SVqb0AsxYuneiScahiyuUvizXHM4RjsciCHWDawJlOA5G42LLzXQ
            PfKDn7PPfcJYPx3L8R67YDv+sfq/yuS3AW+eAgDBdTAKVP3sgly0gyoz9bzL
            ehIwJ2JRIwADcgW+DTCd8UUPDs4Xzhe4NFpMHTjY8UwFP+0AJHDRDEjPoD55
            bwBWe3LfQN+EL64XEoSB+xNzEPB1wBHcR7toFXODr4tJXw+M5hezHjve3fFu
            UphKFh7RNt6NaaXAEzf6u+aTVsF0OYgCUWsTiYQtWj9BGSEM4d14P3GU/cRY
            8lj44hoocx64FiMI3sC3gdFzPATwf9I39Np9kDU1wM/Bwuj/qP+r/tf1n3pT
            V6euLtVeqr3qr3pk3/lw/Lz3RxuYyQQOWdHHU4C8qKenR/xdL05A4UmP/o/6
            v+p/Xf9qT/ey/a8aWTXK89YTB3aAykne6+yz8Zn6DDdOjCGWZ1C+AO7kMt9P
            Hu/H11a0NgkS6eMrPgWfpE/08W2j/as2jj4bn6XP9FPP5Wf9q+fC1mfhM/UZ
            gc/5f/dc5IdkYZD5xoRP1nOAwX/1XIL4mezP4QNwTe59rjvM5T95TvLgP/he
            jPX/32HsNLxJWvH/Y9j7X4z9Rxjbq9YmzyKe8H8Ie/+Lsf/ouZW1NgWy+PPP
            sHeEtcSd838ej70ywf8MK/w3tP9POM4/g0VAcfmZ3R9Y++P6B5Zw/Ws1fmAF
            19PP9Wn6TSUC/sAF6sSfOj/rTkz6WuF/vZb+v2v5/24tz9TaNNpT/qfr+r9r
            LZ9ug3XTv7qUrkBB9x/FsFN5GW+d87mKeqDzUpQli3dTdeP6PLruf0Vtn4/u
            9qVyAo7Ct9ReJMPnqxsOyujQ/U3LToPEC0wogOtFX6XcAcqsh4VCwi9N0Pp9
            r953l80WgzedsEqLZYFGBWjH0XVoDb0Zv2mb2krSu6+i7EapPnC9g8kJ1MWB
            Z48oZt+hjm4WNllpyg7s+2i9TsCYNJmHa6a5UQk9SD8l6HlFpfpcOxshXbYf
            oNFoH+33p44b1MIdGzqPn6Nezf+7jt+0RKDOQDsAG7PNzV91wiSR57s2lqqO
            edn6dx0wlK3lyf48u9u7wu92kotLeDjQ9V3tXbu67zp5xeje/oTb5/SOy2Yp
            u/j1BIQ9yDyBXdDa9E79BkrO9NZTWnO/6tdMauSpTKLOHma4iS591YGy3Ulb
            cHIAJlYn/57d7mrUexsG4uut83vEAwSpvXXqnbnye+agYeetmUPHR7c6Dy1C
            P3XWjHmpTiOxHP1alr7b2SC8+63jj9Wp/leds+vPu/wde6xY3U8dEN1634U6
            +9w6/Vcd1+eysdtqz2v1+3oX6MQEFbh14qO1GYXCVx3jGne+64cUf+oHb3XG
            rzG6eOocqkOj6YVW2vi/6qQ5aQUjRgPNqmHG/P2uXGqwOutnfYEs3+2UOGNS
            HbxmPmNfmvXdTl3UpAlLVKrnhejffW4gN1V1irBQ7zq/6/QVZVdRHXex2ZE2
            /dTBfGyDySCM1/y06dZXHYjBO6sOp8Bbn1391c7CQp63nbIH5PW//k5uz3Be
            c5jbX/VBeAjgNkbMwzCLpc9fdSBZB1JcYCzee3HB/+q/J9zTqIZ+CV9sXcD/
            vuoAsaesfTRSuGBwlbsXLpxtdPqvv798P569J2+51E+OjBHqZh3v2uKxjNqe
            bxZQ2v4ul9Nk+OvBrocEWYP3V6NdCQtrz3dBMYnY/3M+9rEn/4Nrv/r4/GHH
            dP/ErvlP/sB5Rg/O1wRI3m7k7EjqHcQxaBg+oWOlb0kgHWx0TMhdx/lF9HMG
            HpDyg1s++J5DAOihFNLumJ0RoEGEgvNSawCRCbgUWvShzxE6lNKxQhg4TpQB
            LGGNHJYvYbcUNkWnDAyc4JUBjKSBbUOjIIMAZcES5ujTjn5AywBZCWlENAyG
            hy9kG0iWMW6PmyumAk1m4Diyrc0hx4hgRy1mGruWi5AmY0kJZB9f8JeCMqYl
            1rpinTS0oslw0GyNbbjYdosUYDuEpY46ffrYD85p5kS/oNXFMQPIT4rD5wjp
            CoIsvgPfDfkQ7S+IDAvq1WoTZI39ipB/oNZDPtvo8+44n3RGYihuQWHMEJA3
            hGMcB51lCSRuQowIIEIAxwKJs6f0TIjIG+dYChcwijSToxkAy+JmBh43LC0W
            02+oosA1KqUtgBak5FcG7pXkXUlY0BQSvgXfhu/IKayUMA2Jy4y1TiR/MaMj
            dabYMXmzJAwAMq+DKrhRuVOgxL+QUj0JjCkl1EkbZQwguZZyiCn3oLXZROd4
            Us495YrrDecDdVZIea+Un5KgLKC5ntS7PFOpaL7tVAbuQUko0llcAs9KlW5c
            qBg144iKQFLybdCfnSrGWtEm1jY11xOgOWGlMZM7AXxSqyO1jmtot82V2vap
            Hdx/NiS6kDrmFquTAPqpo23AQeqo3zFPgHEoLAeKS0wg7mm4mQbaHzEltApQ
            RBlrMhrAsuP+GGkAMAbeAZiBtFrTdCNNrBGgHSsY08wFU9cTpIE0MS9zkJGF
            NDGOiTHPg3tY14V5B/1JCxiy8Bxup4U1XLWl1XpaWIM1Vlp430IfQerTeuQB
            /8d/GZqgr2Cs9fnf/+e07mc8//37T/sLjWsDulL/Oxf/aX9FckZy8b9T8R/3
            1+WpSf75L978x/2tbWuz/jsV/3F/DvJ5rpA1/3+IN31BJ6Vc/JjN0KwJ91r8
            sY229K27AlwX4dWMju4ZKftY8e2PK9WFDLn2BJnRcKQdkuUFNSziPs+hKYV6
            z6mE3XpUJcIMVq63DEld5fnehxY01b5T+an+Pu/0Hgc9ILpcWUJ/uvpCTeqe
            Q5vhu3XeGHkU8jNRbm+/FVNRhvqGvsT3HCOr9xwaFd5p53N61p8aowusr3No
            9L/GFZP7NS5o4++41O+6oYgy6DCUudD/HNjG4ybKPK/doWdl8RwnLt5z6F2u
            vtfx5lr/+tv1R0YRhu7h+ZXe9jS6QpPsVrlglh4ch3eow7VcE2udtmzQ4OcD
            Chg00udkxaLVTCswdOdzvGKPjvfkKT4DflAvHu9WUj1foDHOk513ztEcAR3T
            yoCbwMBV6JqsP0v0E+WocobibmWuVNexMzQWR8aR2THcY1Q0IO270B12LbJ6
            n6dhHBUy/DMfxtfRvCIzFea7KsavHehkYy/od8DrWPBYx5Dyop0JddF/ll2h
            yRBq5MPnMA7MBc/REK8zXkqat847VEN/zHKCfrtq17w/6Giya4U4wgnJDIlT
            Wxttod/l42eo5pd441HrLddpxxbv8fov6lu+9fo9tlu/3/v91u/3Ooa9rd2u
            6NtAAFg/cbRYBXkIavUKvxuPHzzuYla2gbmLtPQzoglw4hzGy6EeqNrAJM53
            wGpivCXlw1ABulag5R/MCc3eh0sFUDydyjXgDLhz7+VNE5pPHnM6cnvndXpo
            oajhw6kKt8KYGDSB95u1d9ocxju2jT76+OAZg+U5S+2AMwct1UM7fvpoNPji
            nJa78mz6wTygZjkPzRz38F0aC8psY+UBfpDpu2Ks7m4YQjFAhGjVQEdGXE89
            TkF4OWYH+MgMbgOgEUYBrSXXiqrxRL2OQaGjjVpHpn8ICMKYvKftR+8vyzUa
            +hwt/4xzi+jMcj0BDj1ADG2DBuKpmBmMgA+awr3Q2E7tQHK1E9ROZTub1xiT
            l3XvWXWXAnwByidO3DsumlGwuhrLcqeandBjnkjC6K5QyGl1kcvsa9jLLUZ3
            FDMrnk0Hju5p/mjon+4phR4ISjvAhUehqlvBwpVjIoVEn0ZGnxbwlOMBqX/P
            C3hNCaA1wNbhzziObsaKKfgpoytu0iXjGWDKcBJdZ+yj26CQANaOOq02UMrq
            Ov/71W+GF9KZkGJNUQG5DoiE5cGXY98MfrE+jXRGLyXMQ98aYABz6ZNwI9NR
            R7ijXY/PjXcOMW4+G9KhnxiEermR7V7ep5RyMKvDgcpnrus3baMfS/P5GDyi
            pToYp0oc7ujPpr2Z5kfinBxnGbT50wbrmKVJPDzP/Vlvx/Uej7WFPmII4A2y
            IJ9YZrRo1I3VA20HyvhobuN5JrgAuM0GJsnF1dZ0oB+EC9KRQAsYjjERr4Bp
            gNPQGD8DGGyot0CNgdtjFjD89XRP13TxKPVQ7RlSmdnPpnMg7gFMKE0SSF6u
            cl4zw3VPpMNvgj5UBqGCVNl5mfPiswckZ+D6mcQF4dhW+wN4jvkFpLSW7twR
            pjGuvksgPch1BMImZ9L3TeN/6RGjZwbDHRfgbPvwUw70wWP93WaWQ6yKb8ba
            vmNy7QynHBAfZe6iH/gAfoCkjewNcwae2E/7mbtCCF2bxvLKAH3MQz9Gp+I7
            XvcwMphW5SkeuWnO4vjcGS9MMZSZmAlB0HHuIkUmvAu0AlVxxFyNxyjG2GDV
            aK/JU4E52LvQ4w9qSYHC+CXDcarxT/K0G6MtfpOq0eYwk2jZATAYX6o3iuso
            /uDlP4nR2+J3oLc3zeGFU+ERpzIZXr00ingVH8PLzOyTAlxFmTjl85kW5EF6
            ALoYDd9BMjBVeB6cIFRa9xlodUS83mcBqhOwkCPW7b3mPKF+ODC9yuwHXoMc
            0rMi7LHWJAfRYOWda8rRwZJagOqgHJiTZxbBmwNfeyhLgjdVPzTn4k8MrZyC
            DwwOY/V7RO8CKDU4Jtg2lwVrDpwE0Rg+TcUN9EN3Tyutqm0sM+YGMivfux7p
            m0/t+4vWMxWB3OWI186Zht/ka5UEfAXFTwBON4Q08Lf+JKzXAH8GfYGULJ5E
            5w0DW1Kky4YWOt8T4LJC9ld/FXkA3s4gFHA7uvGiZqn0SnwAlnlv/Fbv4Lpi
            tKAnek5JBd5kAz1LyROye/LguyA4QBTJBJMZAdXXvVYY8zgBV1/0moL2nf7y
            E55jvTrXrpezX5qe0iE4C1bYN/FP0Bnwn8pOLMIOYB19hj5yrx3iWgvEQaxF
            Xu1IO7ryjWfbkJFsLCBgMTKrA0f3mBB0+brD2kASa0USBeaEOAsaATF/7qhx
            zd0XQNV45StTEBfBzRozaMRzFp6NFzcYaZrJFrHGRbS3cdy9Fs01IfSBTjcw
            qp5/YAJzkLQuGFPvcfehnB/iSnOUTyCnLSUayAy/KdMxrmlW+UPVLOuYd5OB
            RkR17+nj4jw7dzo9qpJXyJvAD/DORc0F+kF+xxxAe2uMDDgMOgcz8YB26CCZ
            86r188b3+D4wI0dZX0iDeVLEC/sq+DsJ2hDFmEkYZizWhXnSf2pOAPWt2Fzi
            U7znVGjwrV9l8hvLFeIY8c5q79wN7+xC4KOYkHrLNs5kCTWQb0gqmtxqoKNQ
            OUj+qU9TzqC+CnxoSgBqoxH/qJ+VFXttaUKYAz+kSG7rmyDycG2n3mF1G3R5
            rGdn7pmtaSIBz5JnJmAhxDxfOLV20ke2Qykw6OKFOwwnT+gvXfAclje4d4Rb
            4B3hklo+j6IFGJvBZju5phkb+geGXMsQDjNcZjb1vw50PHerEzGvvM4yney8
            JhwAkJOGMNxhUi3uBsuVeFdxnWTSDX/75w3/HvUfBD6UDLpwr3E8Jw/fxpH3
            HwDqZ1kAm9jsOcjE7o4Pz857Lh2yQQOSDwJEpv8pKwu20dPLl5L4Ut29BNLu
            O68tQC/EtHTxnY75A7/9xu+T7zw6m0fSUw9ds7oxghM9agpRAAZAPmL4V5Pc
            FamV4xnRF8IzaCWPRXTGyTdO/gYm5xUqNvxiRIPVN9rMaDIH2cpoMwNKnMo4
            4gP2X8B/Wd6MLqbWB85W3MG1aXVpB/KhfcZIGTSg/Aj+i8IfxBfX3vnf9TVh
            0lZgVPm/rhdArbQ2Q3RwHKVL/etnsMZ7QG5/9ZM1Nnj9X3/TY/n86HeukryR
            loIqhUtvBvnTlQnea37gGuaTCbFOSWFMxaV84KT7YC1VV/LJowDNCpyhBQiq
            guTC9pELIUt4KSSe+hqAdGe6pqWbg5DxOEEbNMxiOjpEuCkbQhd8Ttk+Lt6/
            /N34AnjUhUXKSJJdwIKuPgo8GA4MufI6eE/jmMRvHoW6yyT4GVf5PS6/MK6v
            +hwbZIJXroDauhnhNQr0UfLMSLmIcMGE1y6eH4AJoH2YBPDK+Vx+DxxnVBgw
            txLNB/Emmswh+QgoTL6hGIpXBoAsvRtkgGEyQMq8/0OfJKtABxjtygjQU1Y1
            GqG+OOqPwP/3GtZQ9+M/uM+4zmj4o75KtmVfy9M7cMOXAjrQKAMCBRSLQ/lc
            qZ4dOONtfMnf5yAdZ1xXHaWHAqV0TskYskSCFGy88rHg1qP/QT+d5H4iJutD
            KpfNCm/k0UF0VJv1llOw97V7PUBs1HpIRm0aG7UhtO6or9OuU8FvyUpUzz2X
            5grP671m8gnQYW5QXuAkgLVH42+YNhKBoH6daEF37APePWkuGkRIoMgwmdX4
            HmTnyQBd0eEgudhDNHioq6l/YeLaHAztgT5O+04BhZ4LILkZJ00RI1GoU5Rt
            pyEbih3x/wHegxYx+ANl8MBNRJNtgnoMg7+lk1DfAQic+aXXA59clpzM9ZB+
            7Y2HUDh7MBbIBcJjjQXNOc73w5iYDHL16uUNONjHodDUu/SE/cVfpJtTFuO7
            3OF7f97nHoM/JspnskApNkY3fCpuZ8ixpQTKgJTXQcgW1qcsEL8fXTA69iHP
            cV59JQz6Ap6dq/E+zkUHfXSWIfu8tCpg0iAi0j5bMaGlL4vggxxotkg+A01V
            EdoxducLaZ/0TNonLP2Z6RajvXrjO+f0W+JZL6dysvGzz77dd0PuC95sHBTq
            kiuDOtysJMayaW3KP7RR0gZNHKKY47lbgYPUlU2XoaHC74Xr6tuj66RFoDPk
            sZcOBfIUAlwLxC3g9sF90B2VQffzGeHWFf+pj8nH9JUs0FXVIxiAbwzaMZsS
            pme/5ytceRUC77zneKaZLRY0LwM8mEjAe8v91HMa46psPzmd8zlG4/O509fU
            u82wUQ9pocr5pFZU/5tu0jrOa+86bMA+E41JZT/2qEeRqjuSZwIRffyCV/AV
            yphlGg8n/3nPySvQozLOaZ02zy27eHKAH6wFwPeE1qgzmqwJeVh+GoKG7JxB
            +rfsKMT/7RNQHbwqAw4de2H2lPDYO4O0uR+bh0X9WkYA9+DguOSoMT8HpRmm
            JIy8de/Q1luAb9A7aqHuD8FxJOlpZGCiaZClAetlsE8fOkl5PBtTxb0gmdx4
            Mwf+mSvI9Bu8iFzN/aKzeL4pkyPTbTGHLJjUsJZ7y5QxaGOHkJ/ZhvRNyZ3R
            M/JsJtO3pRdhiBBPBQOHsMhzgBTth26YXUfyYSdjZj2Qct7D4tJeAkYtuyJl
            JT2rrM/BlL6qsrvwSP2YPgLCafyC02hwyuh91afSeJ+XTr2kU2OiV7D2ITC0
            288/246GL3gDwxDRR8fo4UHT7YSU8OeYFoj7n2N534sF03vzQz3MWQrIuH2Q
            Zopl1Xm1fqf/dc7AvzZQau4l/FkN+PPCW6ZPjTyx/qw54ywNR8TbvR9Yu5ce
            eRIVzMPE+tHeQVcH1hFAYOsHEK/QlNCEa5B2Bu0rtORBqpKD6wxoCGAX4Mee
            RkTPNCQrZ/riquC0fcOZTwanAEVGWk7qvhgHE/Jl244YA4XnfWkpRjV9jwtz
            DjkwQlb5oqdXrwkQTyDbDOmbWfKS6GmEvjgpk9PXmv6gpwXPtR962s8Yt65T
            XWbu0U+Ek+NeespE05eeOumM/Z4bPaWgCzmWqOVeuvpe4y4dpK/upa+r139H
            X+3cnnfO6Cx0eQeqVtcwOivYaCf+0FnyAb4vVaO3h/PaqJdqrttI7O3+yBvx
            8lo6ibO22higzFS2D7NAaKyGRARYg9wN5cWM8fT/sk8Uvc3vI98M/T98Dvzp
            yE7dxhY/B/2D+E4niMk00FvBO9FJ8mXw20l+S2EIGgHlA+h0kBgp+wHYBIuZ
            fgpe65ApMn1oWbDqdK/e6/QZB1qYO59vrlobjdNCKbV2QGjMrJsWM1/Jz9UO
            bQuYjt50L9PQDBnmyh7PuLIWNzXC+9iOv+3EwT0SPHntNUaRJpH+Uhj74lWg
            gq3StCA5zmwuU+eT80Zi0ssB5NARvbmtxKdMLyf7Q7uw3mk+REASiZn6n9gf
            1tH9zEzjMTQ37ec5f58LcfX33jsOX+yeB2iyHXfnmkZH1pUN9s5z7TbPyqvF
            XLzXyWwtZao9731S13fOS7Dncv/9XL3rFv5sr9m7KYe9beRh13L76c+pZ5Mn
            yiaFOf7wYKzL6btYphOJPne/orzp/FZOWQ26tm296OY8daRIS6oHG3DGcwi3
            QHL3ylqPjCYA+CyddkpXgARFr+p0dd4YDB+4SQ5khppO+7RDufiesz712QMZ
            hLTyU4c+l0pXht3fSwmZNY31vHUcy2UF2jA/9cJhHP7xUBJLDOAXw8lvW6kG
            Y+7oJ5L+T7sJdNLMmaNEG6elEa5I+ZXxLpRlnFJFKC+RqEE3gOrQSSw5v2QU
            KJ81ICr+vCM2g6PN0OrJuH97B4QXewc4KejzZFm25wxtEPDgSQOatYEve1XX
            ga4huQ9qgmKEMPZjezfRQMH3R1rt6PeqNgedc/nQh+KNpDC1g+fyA3v12RFO
            mT7B9rhQfDf6j7ktfdpck6Z5xvhgJmhzPWZFvBlKLli8Qr1pmznatmCRDB73
            LflyH5P7ZBKGkLw6Zi2Qj4/jO/VVx2xM0pRKuk35kLbq14dHWe09f6r57U13
            sePMmBtU8K/OS++CA3ZRIJ+grA6g4eg/kV7qGNvyKQcrRxk98QboeORnlJkx
            BzpSLwcB0q5MLG/QUR1vPZAZbjoTZ9emZZtckTEoIFmMzxAeMhlVbe7RMuM5
            mGajPadik05GT9WkP4/bFNzjiHcnKC8fvuJmhvWX496xyCbFQCgdkx3fPbcg
            B93yve/vMdhx3PvkYxSTxpfuma6snqqtWQD/ZSxPDKCnmO9YmeBi852GfLGV
            ehZkEa3TNBh/eI88+50DlhOz+7LWqOEIWWV3mdFxHu95ZEwZ5+HGSqWbi1vu
            vliKG7AUVu7Z5RjVwQ/lSqy5l7R+13vK9uNSxtpCh+r030Qady68hCSdCHJH
            QR/lEwPPXI7if/AX7r7iU54gX/aTsuy7XTEUd3w5mm2BbdDGZf6BorrAnvZd
            D1LrefWUnp1FgJjuzHinU2kxjBy6J32b8gNRvguS4xhIJnuyZXCyT7K5Um+P
            pDeJCXienk90c8dI3pCPq2w61OK4PSBlooY6DEmqO0ItX8pWIX2NWE4QY7/d
            Ehl3fMd9t+y9dNuhPIP5Cp/glFEHPI7qj5cMmeh9BSFUX/BykBQmbQ3m7rO/
            ZRT6VKlm/vSnYthQGH73Z1p/Fq5Rpivpt78b4pS3co8Wj2UwLFuIMzuvaPaE
            qOjsXol2D+33yy8xIsF32he+C2Aa6F8Zy1SYCybtgpCltTGbWTFc/cTi0AcK
            GCevALBiikCLuXPHkT5D3QkYJzsqRNlAE0qB2DqYt961YyV4+4EODJjNyWDM
            3gMZEgpB+NL/M/nIE2yOhBIWSwEwqJAPGINYM3PFgM7O6Gd15tMAt0c90GLq
            svSlkcFQJICMl+ij12Zz3uAY9KeMyfg8vicJD/jsAm2oiotJXjFVtEs58Prv
            9uZXe5Dzkrd5fN9Ffgc5j/hAkeKp71ge/5FjyEfAynK/62K8QvYsYadjvADe
            3eREMPtKfETXHShLLU1z2d41c4wRALbIpN0iySvHOgPtHWLS8ssy7oAxTZhP
            HxL90MAz2kB1Pcgupvq0l08qWN70XLCezmvc1dIxgRFQpPhD0E86cGxiQH9m
            lNn9oSw6YvMJcMRceXfyZnzfgPwFsgueSctJYM44r9FaOBlburD4GcdN1VBb
            TWQm+fb7PAAqvv5R+r43dH7Fb6WjOB5MPLhrDMAm98ZvEbif/hm79O7RuCMG
            F54hqydtcXSTBePZXUeLA/s8505s6IcmgzGaHfW14yJlRMUcPG+8Af1/MaJO
            bZ967AfpLoOkvX2Hp37hgAfmuP2yD0eDg1eGoL2Y8OCY8Zktngfzcxj7xxjK
            2UrjmjCOBvjTKhMJoYVRzgZ98cKLbfAe4ssbIftUl22/CpeM/xbFz3jtDki+
            Ws63PKRdGpWN/+5vQaf6TxxOZASX9iEFTcrylosm7SIZDuROMeGeDJBlxpJH
            SMqEn8Q4UKf4D+jF3BhK8XoVCgHPwRsAS52mD+CeAg6yZJM0VK+hXkCdRr8r
            yC3r6XxKbswddQMtDgwdSll25ya+Kh8+g5hy/SoLZ5Z2LXWVIMzYm7gilFDG
            l8YqOUkiS5a9ADKIw3Q+jJue5PW0S6Jd9K4xNg2as68zDwZMLfWRy2Xnkw4m
            qla4TzM1vXCo5+VPnrQyR0XMhmPRSMtikglHi/F2NRncUvn2jxLYhTOeBkvG
            LTiLT2Xi+StKEAZ5j23RIRKqtfXQnxIZrGCC+Z/P2+YkP89PQsgdnzalMZ+d
            YugGZdZjqeLp3pveti325DP+J0737iBcv8qkWl57jt6x1JqDzTsdZ8yFd40A
            aWv+PDaXmJdxgB2KqaIMRtztjm2jTEPmvPUAC5XjLJqTI3cU4UPvYIoD3sfY
            J0+fBkgI5RrJq/WW6y1Tbt8oE4lBJyrtWivKOkg7Nd9dOR5cn7zWDDbAQFkX
            8scLE3TlvzDh/eSc4L52VabWDXT9iTspn3i5cuPf3n17Oe/ZLPbaz1haAnd3
            iIa35caNlytv5Pe45HPzsp9A8ZTc2iCbO+5gYOuK6zOb7Wi85w7nn72Ubxvd
            dh6VTUIbQzjyL8gFtF9SPxoWQ8LnlzPXR3vMJx28fEh3TxNfNm1ezua83zmv
            nPOO8muD4l5ismfH1djnSVlXojWJW35lHNr5E3WyJv7czJ+EI01k1FjRG3ft
            ROnqrdwq4Mqy4EJDdgPgCDRW+isdo7eA/eCVnptelxpkW7XyoRyJtfKK+ydN
            thjcQ/lnui7eOS32ivEejvCf2WvZ4CymD6yoL5uvuk69eTXKC8gT8rjndk7D
            615gvqtkfG1SQn2Z8AzB9KFfY/cjzqJxcT+Z+4x8Yy0Y3gdZOCvtIWGe1Ypi
            IavVZZut0SZaIXvbNcdr1WzthRQyS0aBjIWxLQjN4itHAjZ9qHas9PEqeP6x
            GNawFm0Cs0pHx0SOrWMcO3SDq/X6EB03ID9TMTThR6cGYS4BHJ7H6O7uInVa
            bD/kaIgC4u8vr/XdaDm94xPvhowNxZYb9EEZzorVPqBVtmUJ7eGNjsCV/MUN
            amyyy9BaNBXbyy0Kg/dXz35Kk+0jye0TOALSGjmU3NZ883ze+2+9ePHtvf70
            /bz3/B/3KC+TgfP99b7fBXu/gscI+87fTYe9cK4Ms2GRt/kU9Cyk8LbuHECc
            HNyP4p0T04drZ5muZ8Iw+bzvbngLutXewNIXnY0xXtnz7g2y3ryQsu3Yb/nN
            G4FwLT3+jVUZijd3I37bXbFS0AGh3GgTJotN4RxPBjGMBhn02hqKYlIC9/hR
            v4wvCm4IEhY7CeryE2tL/PCYl3p9gDxXvpEMgtYOdV5HMw+fr+tRqg7D9hmf
            XYpo3usbZxugjS3e9lw/3NTNwA+6AndSfsz2FaVvMDcAjJzXneMW/JRR/Qlz
            Uf5nThAAQZvMh/huf95XZNtnKU4qv+fMSaLPVPGFgAJd74x7sLnQDmN4n8Wt
            U4Y1uJY9oIImZ0j7hF/jNwwOD7Id5ZVwhGwl/9SUj514QHrKLY/0AwHFbAsX
            JyHQUY86ao/+m23t4Nh+PRvus05x8ooF2rjeGvMjcCxm+/0TbtZj9GTPC1fc
            Icpp6/RhWz3bsWwp9hiMHU8y+rPnT9zsgI77Fd9QUqO9dgCyzK9yvutuxnhH
            +qAUx8B5mxOs8MYw1CLd3Lauv21/YugD7m3uYkRNyHCHdhLiqmLTlC4RS6Zv
            JqIedTun+RrCsbieTzzV9SeidcVCZOVt0/7wG2+EK1WbUYlvANYafZKMzwde
            06D75hv6FuQL5vYo+9LHAo1lymQJSsQ4n+A/NIZsN23Qi2r2MicdHeyzmsAp
            /2mLNneROhj0auYJSq5pj7hpJQ51a5Nj0/aHwGHGUANqx9vX2K69WHDsPnSU
            5/PW5ftqTMpUeMdbqnRmyDPrGYG/PBHJzpdjFClxJcsGMEgXp0WigZmt1OS3
            JcW9sbm3zH6R8SoMYK+USE/pp3/j+5d8WC0wDoDWZvqmt2x2i3vVy/8qAynj
            b2p5YaPTlAS4a/5A58z0P1BGx/VMH8aAnhJlC6DFw12cmFW/i/DxA0bbKR9K
            0a+cPHpg359AYDhUmxdGr3203LxIxoenJBlltfkTE3hhQTGvWPnBF9UeM+Al
            S6+i+weUrzMg6+pTKEeSNBlV7lp4jI1hzczjwZrnpNRcVJuyR7c3/o45VVCE
            ZOShjML4DNaR7IV3Q7oxmIMq7bjdVlsuyobFsBPIgY1uSujA88Y5s7+PfDST
            OpOj30PxhZSWwO/ahbUbhzym7FTb1f97cxDKP5gDb3Mw/5iDrd8K+D0HxCnJ
            EenfzwHtn/9sDnz9x3NQ+88cDFAMxw1BSemoK0Enfcc/AVcVsJqy2+0xO5V3
            cbih/YW1mz2GMpT3CN50tuWacVM3xbE66at020COsDo0+9h7pJTJbM1yvDZB
            boXH9ijL0r+tuvcemlEbZaZPG7rOd1MBlo3m4eaj0tsDs6eo+EC2BsR7k5/9
            R36WrptuWfl1jcm6JruCjvuguCA+v15cIhoRZ3b94FBj2TG9UBb1v/7OmFH3
            xvpZfPcnh4/0oLcbC8q8Df+VI/pkxiskxxRER9MuGT1oort8ed58SOUYHVnc
            KOdxsz6W3S3jofPKlzjnhrSZ/oKzj6UXQBmlLkJbtvL/mvyI3W35W5UT2szn
            3Cyw1/LaXl84+b7rTskbhIlI5YSWFMDbzc84Hz8R8GTN4k6ye08fJyoXlkkc
            P7zpeOifJBCMg/I3voSyt8VBUTaC/kGfXq43N0axSs/65MU8yhW6cXM0pQSs
            ZfRFuSeEiyotn6t641b+eI6x9PQIgnsextTHrJyoud0KC3TJE5hyfiw3Kiv2
            dMT8kR0T9TkO6iteBxpYY9yJ8rSA4Se/OUnOfBw3tsq0eF/3Nn8wfyTpycqt
            sPyEhk5si6F13Hc3MU9Z5MD1duO93/gqSoyV8aLlZB4PhXGbA8ZySiZMoJ/K
            daM9kQ4dN2VzBOcOir+4ddxZIHx9tKR4BMiKJTwW8/NYv0/Wj6DskqhbUW/7
            WlcwYcmQnxi1r7UF/QdAWIxa+SNGrdwYtSt7VsjYUGiw9jeHjGauwG0QlR+m
            OPmfueRv5eB9bBu8s1qYgMVlgcs/udEHW5hvEfUTGtBpovyyub2xYJt+4Js3
            WQ/1v+w6yehdK+XwGa8nDnxyLCks8737vveNB2Of3ngwwlUmXN416V9wiTn/
            iQerfoH1hjw3lgcyA4bh+xs3WGrz2ptZZsEd0pySQemHAjWCPEOUVDyWUz5D
            VCxaCpaj+awmp4lgjXsc4FlQBegkjTESFxaeCrgjHKR0aIwwX0Yx2+1kvunE
            rG2jdeVwQQTbXuvi7ffK2BYt2tyUv8sO8tEp+HspjJcFVJivlHFnzuar0c/0
            z+YpMl+2Xn8y801vbCnhS3QjMk5prKY4EO9G/yOnoTOGBpIZxk1DCaP8Md9J
            +dRgQcwxaBCgg+U9ffIePnH+lqMSFA/zJx3yRk8GN5rPN/7WLfA4yAJf+Wlv
            Tp7ihRLjfkjk1wfuOuN0bjxR7Mt/8v+qfI3cZnnQ26s8FSbhMxyJtGn1l7Yw
            D6eB1tO90DKOVUcGbuB6LeXqkB11DseSuExOOQLt5giI3tH64SSTU/a48f00
            dv6B0/juN9eBbZLeCM9oZ77Xs4KmYqRsGWhCppW2Gl2NucumQcLHXAGHd2yA
            6BzQSRwjmKAMJsEDBfNK2KQMY+vinu/coXmv/ehy7QSDBz++8hWpM3/goV14
            gGouPURzzK03LK5Mqofg0ys2/3TRgQb+93TLyer0WYCA0vkZt8+P0R3PHWq5
            cUCXnMvYbcWa8Ffv6EPOyoV5dU4HGcaLd1k+NXmak9RiEeHBfWwWRe+v9n5/
            uP2m8b8q3R/w9icOOcMh6BdrXVkkO1sTbpds/ZW30r33v+nl1VXYd9ea9Wsw
            n4m+WTwjGfbC8OYmzKKTDNrdz5+5SEycpDmceR8lUM/1wX7asJodAX134D4/
            4+f+BgXtACYwR1m/juXDR88l8DC27bGcpSVZV7ZJyTbylTBROcoRpvlhzN7L
            Z7iXsHLQ6geOQDy+cNvy2zIDpkFQucc3Y1Q/vJU20DIUZ75yhS6ueVMMq6L7
            aC9irBx94sQ1xXAx8eCrHjeP+KYRjKXVjKVF4KMtXfoBdc3KvQXoKOGzmSFQ
            Nia+yx/LoxU/lP0SdCI/P7ThUa4oqJ7tAaBx+385buUcM+9R4/7jHvVbuZO5
            zRLmQvHL23PX0OddB8kUaOLPOaA85hN4ADVCmvXqfv6cA/ozmX+J8p5phZ4k
            rzJz640ftjnu6/luu1Fgroq/U94I3/3e4y+x/KLHE/zadtV93vgKB7hMdCnV
            L5qBsuVuVy8Z//zkaVb08488RuWYi24zqAU0hvA8msX+ch8FlbtiiyuDYGho
            G4OR+ZIJpmL8aHNazPt1M7/9jWtYPrE2ASlV9lKfvmTQQyt9ZXQw7X709DNH
            vXPzlaYYu/j+HCOlRsifUIqFI8qxIRsIGBL6QUXRW0ymxeEFg0MKSGyLz1Gf
            enP9+JN9qDNxJPNb9NNiqIqtpf8cfB/rfd76kOuaDHqZcm3btAxZ3n77wCxz
            FRTfxB8jpfiSsvJYQTuUx1q5C9ZhPoNvjXy3VMNP7tMg/AyGnyHIisfsTQVN
            eEVjYTay7QXA2AL0Y757qUi2CxYHiUXozvZOGdSrIVNyGfgTo5ZDwg25HGd/
            zeR/2qZuOLN6jjH/vCfOBbSU/AWt0vZB4dhUk/h5xyb/VGJsl/IRuZsGcygr
            bQeOEd6NW9/eY7Y9gEoo/eoR9HX5rjR7i6lkBsDoZl/wG7ro15g4jsANvb7H
            hjFBMJ2eAp83X4JTpIDwz9nvFyr5+qGvAncb38/4FcUVQyTlu0Hru+LrivKy
            n1noPigWJ8HfqmBcB/jYkq13K1e0KD+4MReBRnLHeOq37/IIpSbfrn6ir5mN
            7rE9eZryNKt+iCKCxJxE6bJ8YooP9VkPRt3yL509mg2WjjPqLhZXrX1UIhVw
            8zl98SUDXtr5r578v/A62tIgbc83ttNsVPF5/QGPbO9R8us6M9z4pmfe+KZg
            ci716gq8exi1SL2UeMqMlq97JaA/K1bFZBK2VmTescXzy4dBHmfxiBabaTB6
            AH/uxmnSEip/Ts039u/Wt5/LjXQDYizV4j3s50TpAfS2bXszu7yVj8VgWozt
            mwdGP2cfffa//q5QXsJnDwrFUoovz6V4Wdm7+jLd1/DpKdzjp/McOBLSqpt5
            ysxQ5T5XOGf+AnggiCVttInWEc1VDcwt/toficSMO6EUmwfqadwhQvG69ef9
            b33247ixufcT/dP1jRupj+I/lt5HB0Rl7HiVn7QNyCvqnvaRUu4+9M1PH6r2
            cvvuE2UVYMBYyu0E7WgQ5OZL1ycDZs1W+Mz8rjFgdATypamf3by6CjN9CMaM
            pWLUBcOrsb5zbfsxK8WYMf6lSa7nnnWTuWzttO86z1cd8HJA6t2XCLDv4+sH
            QL/03qJfVmEuEn8RYsvpUJuWGHRp81qr8hdzSwTddyxjbkD3gIzG7/yLp+C5
            mCOTI8xXzXVMf9a5a2m8G7Ix96DkPlPvHhnUZ4btv/XGzuVGezzo+tWt5V/M
            ivUloXO2R9Gj53xn/C3gEmvDeX7POzQHxpwxAUF5+tNiMImPwwtXN6R8+aBi
            smNL4f6Ar+2l56LTPmvq891G9Jy//i86OVyQ 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
