<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e046</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e046</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e046</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0489_e046_v5561</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57414</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e046_v5561</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10x2dgh+whn8Bfx39s/i
            n3s29ttUP978c/n1l39GP572eUtza3+NuE3XmDCH76iP+sSgvx7hOcryR80Z
            cns6Rv1MW6LR3snMfr8e7s8U18F7nOMo5eLbHrPmu572Hn30HMtMKafy8HXS
            ijaXvFd+Gq6Y9eEMh8pRLszUk46Iex21HomD5djucES+AVYgcTYX/nBHHMMo
            S8IxPHlFPw/f832kjOesUrqRQIh68auCZnBinjgh2Y3WjWNDy5AyB1G0brHj
            b4nn4XUXjp8PjuHadPoxXHMuHMPLpAbyiFq7frSv/1X/X/H/RaxNBsHkZx23
            UbWW/jbqScfXcfylirD4H3bB9/Fq5/f+8z6HU2FcP4/nYfdpx6/zT6Oy9ms8
            8TbyuTp+fx2vMej869d94mEktH6NJ/VedP6v8YS1ROVrfb2XBmrEX36dv/dW
            /PXcMETGOGTHP5vHtwqPP0YCUXT7PWi/6cj94XWbxfhOeUb/HPf76XMsO76v
            ED3jf3uPvecnO6t9Hdffip2fuEd13O9++f5f+0nPYcut1+op2/nHPt/fNSw/
            fnw9u2Ct1s/7B9/LpzPa97llP76d4hsZDLX/JohkbPfXwsQ1b+Pcv47PuYxr
            /Dw+o816+HX/cEV/l18Lf4Xyt4XvpWu24q/79xREEPHH/XsyEkhhvJKGC/mL
            utOddXwlsCOwjDpCDqN1vHqOWK6K/XM8LWCL1zwTJjGO42w3OK7Ymy5+6v1w
            iseD88Gih08p2FQ9QyYLweeMkmlaCIoLPv/CkM+n48p8tIdMAezu7nj3/+7v
            yQRTj1cVMZI7QCpGMMYy692u7tTyb/9h2Z4A7n3MB8Ly+Mf//Lz4787j+v+r
            88q/PO/8l+ddxzxdEOSgif9PF2URBHZzbOf/4rHx3x2z5Xue/93li8e/W76c
            /uXy1X+5fPXfLd+/eO71371Hflfza4b/OJZcEBRjlv/uon9/rFcpeDkk6Tfd
            lpm/fHcaw4UauALkPfUAEGOMYAXvN+gWGephPrHnT8j+E385IS5OcKCz4R94
            BZStfE7847lQJ07ox+eNf8+RqftAPcxQhjJ0m7xwPfSZDMUqL1wPqZshqfPC
            9QvXL1y/cD10oAwelsFTM3hWpl584foL11+4HoSZL1x/dShwSzIkG5sXf9Ov
            e33/Sjle+tXDZTImSPXr0DehZ4s5Z6qsVAuPE8oXWP/zNMhWaIDnajcY7YHV
            6sE4aIcqHg6x2hmemzp/vu16Xjfb8/T0tJae4buJgiOex3XqOuiZ8S7VSKDy
            8ucSm4fg5k1ixwDw0Hg+N7+XhysH9QJiM42wUgxXHxhgg27cTZfu+XZBj0U4
            zvKDKLvkbe7dzulQgWd8pI1fVG2HKxTxoXJ5+TWXtJ9sOn+/IEoSxntLAtv0
            hjPzheug+MBERRgtz7P8eo6hlm67j9ffFc+s0mfnnqxRNcmXLdW60+lL9UgX
            7KaFUTri7jIzEtUVnDNLzWAYKVwlccn2G0CxbJ0zoztiJfYdiyk0XeTSQaNP
            xuJhPHPlz+Lt8fTE88eZmyy7isVu13NFnH9GOx9LmmOoHSot5hcCGMZC9d8g
            bdwnrAFCeC7qfOfSOaDFh4YljkcXBI1qD15v8iBmcC8qtqMvJMa5SBw/FlXn
            nCtnU1uOv51Tm6w0DJ7mVim0sJ5RuPDdXqKRWCqmD2eFwmmMJ+gLtDip6WG2
            QIIXfhf7Hfl7QBeacQTKg87rQCu495qPzJXA6xPf9KJqm0OEqOsg4MblhP3D
            c5ude9QrxBhWJGFjwuZ8WjpJUNF0ZMw+xngF7rr+vvcFldg0Rmkt8fwLwd+V
            HCLTMMPiTe5gmuz5B8G3D8EP6UzkNJo6EMiNcWB71gy++LUxscHvNsQV+P7S
            nkHhdV+XAq6je+C263juunkuHxrAfq5pNkFsRgLGouufC0iqxfxks8i5D2Kx
            XdSi3VwvEh4YAnsXXTkXp3mqguANsFZJw1AHF/cnnRTVeM04OYVl3E/oI4Am
            lxhdo8Sr+bHdBwq7uVe6dl/9nr7nM328pqT1lM1j7qxX5g3a9zXpvSZy6HXl
            p4oxkjwxTbJes19TKH0gfAokQ2kjD7zTovUXKplzGCV3kMxofLEMNQa2SddG
            N5vHxgXCa2vv40lTD3+b+ee4PqRAcgr9onAz05b88ubmCAskLP3DBAWUfOM8
            A+86sccDSDpReOEe2AaglVbAa/VJgSDOBmNxPc6Lk3OBTvcQyD488qqU6A8C
            k8Vkgj3Qd3DqYTA1Oui53Y3XUbqEeecZtccnl+SZFCh13+PwQXGgjYuK3xF7
            FHts4t5Y6IufaXJiNGF4UJ2aMDDuZ9rin33f74+FTLKkc4v7Glg0pxRcskMR
            45mTDERwBPlAHjpeQCDnGhAcNbyCo8kIW3g+iYJEG42QzpzPzaivizrMfr72
            wF06dCB/fnbivf2ag3+ji2k5Q8c5fT2zigtBXeF9Ny98yLiTG8w+d2cbhRsV
            YjlCM4EwgBbCfU7eiTeD1gThfB3goScFG+asyVUEXQTXb/62KtZyPHdKtd+p
            UXCk7LrAeCiNeBB0Dk5iD6cqhJMjzV6yB7qm6EDAZ8yyDrF1qcGIucazQ+KA
            wkkG3BE3lkU2NiSF74giZ1yfcvVAeuNvJglHtonQ4kzfEVoQMO8VZNxBtTmg
            kizea8zP+ang/AUi6ltVivFZpz0DO+hyVQlSbW1mqutgSGL3tnhxd5AwoHtm
            8FZfpPOG3Jcal02Ng1y5OyQoiCbdz+R9YvjIfx4v9Bpqp8U8Vr33vTCOJ8j5
            5Pd6bBe/xPgYMUIQdydGjqeEd7diPJyrTJPd7sGNmJt2NucJe66kzavBAcVp
            HvoBnXCxQZ+9cYb8tzPR32kkMDk+M5wCp4O3bBOD5ytAtTnuG/uKDA7s0vjD
            oKdhpelaa6A5R+cmRCZ+4ycV2Xbmvb80Tz1RI6dj8qCGF9af8jNCT4AgidJN
            6AAyAbCa5CcITHIail3L5X39WcnsfawwBEQmB1mUkwne/tR47i1o4tl6ybom
            0HB45NIK2Z+DcxPUuQ65y8f5Ndhzpe1rjmpjC+tzTT3smhxFCrzmggHS9zV1
            2tLEr+fgPg+vmeMd200NeM8B/uk5OX/mAErtzTkYHxJ4Up73thDSbeIdJJ1d
            aTQyaHzg3l6JUsa5wHnTV3+b353eHCmEeOXPQC9o4tW01X2DcPb5SrhQbeLv
            bg+l0oL7dCqY8mvZNRHq3bkXKz32HEiEd7GyE8893ucksJGxr4EuopcLXwuM
            cdFX267zfQ72mLlxKfCf05h52M/BMbxPJ0MFx3iMB6RyLjOzuI0jxm5e/1Z9
            35Ztpl1kws95pYZxnbXTXLua++wkyVNN6zTBAK0fg1u2431Bno8k5zxJazEB
            eYgf5IeBmvPH93eTpDZzTVtQkbFrv8/87Pm4IQjwDu26RSBk5nj/Dz+53fV3
            QQ1aw0hg3c2jLl8ManYsAgZBhoOt3Y3BpVHX3bfmCcmvmM69B4DrkzPaGez6
            hNenRprTu0BQZkBcnKBHDFc7MH3vDFwLAmrr0nMLYw+Q0Od+cdxvyrSLn0WF
            cmgagj0Dxv197XHGaeZn7J/zofkMadVZRMCFAwuDIAjGtPDOI8itYOPiu4kA
            SDRbSj8ysw5uLjzj0W9I6JzqyWOXNJmGmyVMURZJYVPwnRlfCuAGruGAwLoR
            FFRlfoJT+O9ov8Ptvy/7nVPGZNv35OdSw1rc3ozx8BzGP05pFSdlUHzsvPye
            k91BfN1cDjKtGSD9qXoUKjDQAtKETnzq+HGCsmgZn5Ra5zP4CYpb+k2WfUWc
            Bs0AEwwJO/F9jqO+as0Yuo7BTbLZhZfs+DcD7digl57VTctFZ7JFIUCTAfcZ
            IjJohQptYqXlHxAbubmuU4sbsh0f2X6DYBmAogai3x0GpDjP2aSPJ/8MxRYD
            dmYzdmufxaMSI4O+boseyIfpz8+HQmzQkfCAm0OJy/T9zlcBpz2jnmeWytH9
            Mywbd8j22T0ac/hzgt9/h5ZWtvuuZZ+XP2d1/533p+3wc/n8XBZEWv4bSqFE
            EW3mkhv4i5HAfV282E7C6+okqHO6qS8Q7HJbLMYt9R3EckhV9O/2ydmVOvjf
            DZLOQzoo5RX03QF2NWiAQiZXiy6cBbtHtnxPjcYOaFf7JzEAOQMsJ9oeeC6d
            GFT5on3nZ/+n33HJBzl47UmZCpUQ9+r4t6gp4XOsYJ9498hPyLrA5/Vknwuf
            QVxHOh0W5VQQHPYNiOk+/tRzMvYovZiHHI+tmxhk+PkVt/mjsvk1eNGqSGYJ
            Up9PE9E97GvAzZ95v+KWUd1UclEGAQxC6nHaH9DadQ14Gaxbehyg58Tl+QLP
            pf3mbJQ3gSI5iwYLfXZeYOm8yW030bag7prO46dlnstN3w2voy/Nlaw7f133
            w6DTNeDvdAHbs0Y1uY1dFf/BCAQTyO1a69iTWaOx7MkdpImJKV2MwoPVgYBg
            DfbxfBlahxml0M+ZOlDBTS+3WXjvDg6y3vFQsVraILr3q8fj/cn9yv0alLx2
            zPW59vJr6+r5b9eG91pykjzTWmG/Uz7wTvRVHv7cASGF98JTIIhSGhezKK5U
            LtwFx0/oXKcUVM3pOTiexMD5Y8FiZRP08hJbtPXOt0gg4FZvVOaUU301uXkY
            PKDFzqGDFZo1kEeQzHfl6E7ypJm1T1lYnDD4vUaIQwyub2MJZm3/TBKUATlc
            oSWa0gVxvC0MTtJTn6nPYikavuNuaeH5cJHxh0OrmaXV5n6H6ZbFyt3cMVlR
            oFb1/K0/4PWcgHnN8F0KFtreHTd/79IS6pra/Rk6SnUCTquPfU2eDLi+1xTu
            TRBZ2tdAtC4521Zf+5pbRuTmMDD21vTcCEz19fwM+4uASibpbqMwQDEmAfVo
            98T6nFofxtp6k+CiE/vusRgJhEUpd9ZY5d1WpFmaZAEbXrZg9Gc3Y+Gjdrew
            m6gZWubzUnjYSpkGXxfVAU6q/Ee1/+liLqbh0pVzx/SUlH4tKM/pV7acoBFk
            KsqFdXYbh9w+eYzXyobWAcsjVrDHo29Tq+AgdDDnULCynQ33640VPM/9k6uV
            eZNDfLjaMA41jn/wUXKBT2o9UlxxjdJHuMB5vMruGd21ZOev2m87f8p9dun8
            +Tl/veczBaRcM3/Ov8H+6cmG7HmV1r05V3UFdcZI64NuvuPcLr1y333U03SB
            EJXV4i9a0nNT3I9oN92uFEwm6K3d0i4DvcEyEQc/z7qjUZo4POm2NAUMsrmJ
            WSBWv1+qFSmRlxFbPSoM/S9/upSrsuyaerSLvuZKN+6j4NQzF4jv2KYj5HL2
            1AjojXPYM+v8PPPmMyseK7M28q5QKtu9CQuzNpk616JdA5Wo8N1DUBxBW0ru
            MuaGdbHxq9IlFX9zhppuWi8ui4ezYcjClw2DAG2X6xr66SoseOhGZN1JhDO4
            XSDAytaJ6E3oeJ4CH+YITlTbYBaBdWGHwwoe9Mlw7rDLYaQ1mMQXLZTA4Nz1
            sQ4C3wO7M+AsIwFY3sqeo1Ln2r99ujlBAsTFefjvxGisZC5kagp8YJYCH8Mg
            N6J2D0rkS2bKJOkDprzPVYxVTsvPMU5QC0hWjhrcbh3pV1i9F05SPelPon8A
            k1TzM7KcVTZJikxev32bUTRyFA8cZZkKeE9/DyjHooGez9BlUjHTMgw6wNfT
            x5IzaZF6t8mF86TwnkyXk1ax9F6Pv99+T9MNKnSNc8h5folj0NzBlTbm17dI
            v0XFjSjy5vbk136SA/Fa0vZtnA+vWHaEUGKByicjgOQliZ51WWnuJ61YsayM
            qFGkm3TpdH1ITNF8vyxMFMjlQXegoPDMOkXhj99kzvW5yRp2kxztJopcDdnE
            ui41XceXP2GZnzskKgeAbGy7Tqe4YtRAraW/MW0uNiiynNsp3KiLdA3cQ0Qg
            92i78Yao4sLeiaFC406gohO/C53G2N3Tx3OVY7atgygCtyjzTc5zMsQp6G0j
            zQc5ux/f1Xfpfq2Ym8n78qUjYJWksyhcI3ZNb05SOi2dMTDtbrJrmO9viDu5
            6FS0j2FuRkrGc9IPA8biTh3ceoG4SQjUG07njvVzH8+8Ayc45TmZNN3vzR3B
            FGgOOyEpS5HccY8D72YkUBiTMooiFSVRERXDFhes/j2Ah+EXUvFhN3i5RGNo
            1gdDJ5LYFONWlwaECT/5qay7V3sGvTABxO+dXHt+3sHFFM9WFJrCjuT159o6
            SgNzs9xccgSOzM3ZcyuVuq7hOoaBIOPJQqkBGpE1aFjnuXfnfYEtc+fefn0A
            heke9DDavcrJuam6X6ebF3uY3/W+ds8KDvRyqX5h13J2qt1TuhL29RFMZwmn
            h6mYJ4BX4vgqCICfLW153dpY59rjpGeKIjr5OIPC/JfmPQ/3MHLOo9zNGuvl
            IStsXIqSa1lcOPga9MwYQU6hUtKkY56bWgomnQtyL5+U4gtMU7Cci4Qy7r1L
            GhQtsEUf6DpMaQp4vW+lSYsBVlgs4nbRpQV2Qm2auwoaiEZqPuuozBKGz/LS
            /858mfmPz5/fb/suByHEOS2kSIuQcdVk6amYD204DE+0rnRDhsm6pIJ5mT1c
            qrA+Nu6DIWe6PwqUZVna+Yx0uJWsUBtEcDW7U7/prJMkpTRUZFLSDM8I/Htj
            FhSkSViwV1M+/BpmQQX/Hj7feV6I/3he17nRz6XkxLf9dwgzv67ZfQIe+Njf
            8Hn+uOfn+8280F/P0Xv+bXz8Xs/a+KnwZgsX7JmMcUCcw5jA9zE0LmppdGfl
            dOfzSsz9ocXuY1fi0jOgiPB+MBlY7zBNNsVBKeJeZV40pcvQWdlvbDb7Xbt/
            igDuWxsBNrOdS7WfGy1IHJ4FXKfLrQ9xzu9Qd8bqVbQ9yHmZF5LHbelAloF1
            LhP55/CMrMPCn9CTzG2xlpyNXUoihe+UCwSajvbBMywhqnrKMriAzscOaNon
            d3Z3oT1355t3H8fOJ+/dfvdlnzv/fPh15TabEbvK7sdQoxIX7HMc9tn8ODe3
            uynt97TnND+/Z/uEjVgsj95+77z54eOrMVTLOPZ5u5IkPdayfOfVp2FWf/Px
            18uTJbrNFxSLaJrFszx+HadSYOhx7Z594ZN7U8pso0z2n2WoNFOaJUqYawi6
            gpFwQynBKWRooNeL7s8QyyDzPMuI3K1nCczWzJAsS0Z7GCVK96sp5hRbLBMs
            a8JcCKAM5T6CO7DIAjZDHzFed7lSc6doXqb/Pu6hPqjTmWSTL+rzqfF2Cp0J
            3oB747uSFG+woAHxRP/V9AyQKTWn4hPmvUIbTL5It6UrKhSkz/Cd7PTZAJ/n
            y7iABA/ZNgoLceapwCvIKNyBCfu3OV9fZ+yhT95bTlooK2nxc+m8wOshPG5K
            O35P9FFRd/7ahD3AtGfWK6QNroNenXl9lysIVpjGrryDZEZKPCmC73fg8v84
            xXT6Ocy/A90U59UvJZ/WW7HfkDi1cNHNo3z80/3SWMlSks4Cqc6FwNJzv+QE
            xQSUAr3/1MCL9PAlYyJo0rFAkL2TTnvpI1wUsDdM6CUHJD0uUd7g1SjcAp0u
            ECh48YSFJX2cJc5I/zIWOGIx5bwGYazE9Fl84nitV4owYFbHsQvfcXtoaTMd
            F+4QFZK7SSB0yeF+oeMT44LKL2epmOPMMTYSi30vmPTI+HB+GEu7821jPWVw
            302iteL7su94KHQX+974vdr362Qw0L7DmMKq23emipzXzWg4luC5zmnfGwZ7
            Nvs+obdClrcBK/tM+B5uqERGAgxQaHCw/ta87aYwPEBldwtd7JybG6LvKqHR
            xK1YKyg2dBHQImVeIfUl2ALPhV0ma7WVHdgr2EXBdhEXkwFIpjdQntCFdsqa
            ZP7VdUGcavcx44pZFDLBNR5msCT7npS2qPt5sNUILn2LI1J5NlFEQixZTh3G
            fixGNKLUpwB+b9l8zjEYTIp5dL8OrOJyHXNu4mXKEI2gyZAAtGUaa9QtE/Qf
            WF2DY1INWIXlW917T/2RWZE5g7yVBZRqIoOJ0ORyEntpfn7X+SmSG9h7XeIo
            WelYBz2xC/y0rby9Cwya0yBsjUHZbscnA/lyAsePvoR70oOACemtXha2gOpK
            PkRZrZemYsg8XH/g4EJUZduLJUUm2GDMZZ4t3Sc5kT0Q2myj8wqLTA8plfWG
            l4fk0wKlmVgBiLVXTi82O3YFk5BDk9IvNlWb7jUC7dQA4zLEzaFCbDBN8Abp
            hlV5ShlkbVNazA/H52MVfrU8JFJMQ6LByB2OzQAOlYJfg8kDkSYqZWV8PS9e
            ir6PCsMqP+M86xC3o82C5+Gcmk6cA+UAqlulAnyndsojfF3Hnpd6MnctMhaA
            /9+7EzfnajHji0Icc3dtA282LhDZdWGY9Wzd3ksbpoqbhXu0/ONvKijEezzR
            AvP4rpfTdYPhjYx/Kz3uegokpBY9EK33LQyFW/w63sv8wV1lslKlKC+N4jgh
            sHbODC3oVuGChSg0cKYDz1JkmeYrYEKWZ1OyOJCOxfWkNl+xgfvid5SWHxQh
            gBjIVp6JFz3DF4GNlmK1BZLTAxyIu4vZ9BeIhgvhYf7jZPIzFU8sIImKjoZ0
            VHufBGl/MH5VSAt4XrhFjMkWign9fHbqTYkrQY48jI9X9693KuRMJvawgGV/
            v/k9fBHSY+PkvMVLORrHS7xni43/zNO/alJKo4isTMalysmxeUzww9HGkm9v
            uIIn9zI5mnOowxXk0C0AvTne5Qo2PuTiGPfJQhYyDavlw1wbCTzyntrBap9i
            d4xYgRMwJXadD2t0m8JSQRPymUQSBIhj3HIH3OmXdcBosVgyWM8KqtdYm00r
            Mp7lMJQjEEL34iCnv+wyty8dgfaStDaeTOqGEWaRaHwX6+W9z4DFv0kO0I+Z
            ZbPZJ14WfG9iuxTsBJh5YALdgpmVme2W8RpIuJFxshpoWDEtnsR98u9UDAeT
            r5gNM8CxIEM6HjhuppReDC4pki/3A16DJSDzZM1fozHAJUl0jzWYlmWEY9+T
            rhjmLeg41v+d18Lyyg+RMDNGWf/lUv7k2fFc2OR19iFFFe8BAhruVNY7kRMn
            RiHAic+pgOdkBuI45CIZwSJXicF3Kl6J5QmwyNOMMFjOclGRkTIWpQymPQjt
            iGy7QKX3uFlUEA36YCfLb5ke2Xz5BBzuPY7MqpLSXCneXjaKF4Tcu6T84d6J
            pQZclELlKkor7/0Z3zvj6u+OMBMsG/Ew2mKmYQzuTbY8EidGyLTBTHMSDM2i
            AMLEMREh/8ZUBRLjj00wIdLoE6PmyMXHHIFtm/jigjh3KuM59/cRNLM/NsOB
            OYFxHdb5+vlYpzU90Sj0fZz+K9zD/Cdm/URm6RZZPVYb7++dGTVwrz11rFlJ
            pF+6Ax43JgheoqbRnUBuZRbbLFQHO5bpTJtyDujJop5LcaGpFwIllfL5zhzc
            /b2uR0HJdmp332FPXpBCFDSBp1i3dmK4oTUzSJwKc7WhtFl8iEpepUMSsu+G
            DB4swZ6wJz2Di7Jtn7sjySHeeiHKQeUi4xO/A8xeDMFk6zt+pi5XzmFkWgOU
            PVjz3cqSmDJ4RS2YJhsyo3nejdhpsABfiuWLkujoYDyclDRYejbziWPmOSMP
            gAGyzjolwxqUmpGxh7oyxLLYh3bO+lZ2CtOMQ5NCBjkunp08g+vJtuKbxw//
            fLVYLIEKCZt5LanVdrFWt08vS7JPmzKwVypjO1D2SlL6dglQdFj4zjxuJcNj
            l5+gxJPRacb2mcddVSEVaD2EYho9YxiynykGGKhkEs/j55WHlZkXQwvGrDKY
            VsEEKP8UzMafkU1jZroMjoHFZ4fruBR+uC7ZvuRfJXpiE/UQXksjOcb3mhxv
            EErwGFZqQ99Ps7dpVzORh2REwpzMB3VFFHMEBdKVNBh/rCTRs2E0gwQalA8m
            jj83KYoVHthWIVQlZR6FuQtB5d14InaCv4QmKGIyltJAsIgwqZhjKNlgCpRF
            FUHl3QZ342V9Byot4Acroav2+pg5pNgnW+FAZDa4FAZjF9gpp1AEvLCAX9uj
            Mpznh/OHOUvyMNv1dhYu/uWhy2Y8pHT5TqBWdbg2Zp8Yc7K6Gu6MflvcXVUO
            nutHKWAZ96eqQeTvpHNJIXLaiwPCTOlkJkek048gAYJVnCyTLIpOMvku1PuO
            r2o9RNHQe4f8otTYoG3B8qKjxNTomBSHYrB8vEmpQbGJQQ1ttueOLOe/IkNw
            ZI0TwoDh8+kh4zBc2GJPYwnwZlRKziKBnfF3mBEdOx+C8AKLxthGPNMlAJke
            pjRPCGbcp2J88TO+w8fHlDuYH0f3iGnbSgvD1Jdp1N2TXPUJSvffxoH8M8qW
            dmcO3/FfPFP1xsnek9VckkvRbXY8xkiAFb8WILGTiz/AX36wbPa4MCN3CNEm
            Ofj5nGSYqFedTLWiBFUctrdLC5E4cQwEECqn0uG47AVHZxp35DG9uH/yWYyq
            ZBEhftddmoN7VM8MtnqmgY3RDj/W999+/8ZIVphWU1k9S9g/j/+t3+Xw38nG
            6p/6Ha/bjvO84ufFX7/Dr9/Hz9/l+fk7QEWj61P8hInkJ2hg0o9+XcXnMd1+
            7bQxFWOhtJfxedsnzpuuORZ64CwwgJPMa9Tz8oua38SDAxNbnXqTXIvhchWc
            3qCy6kP+mHkMSuBt50bQzhNDnzTaj6ZCC3zH8fzeB8QJJkDLiU7UpXxifu/M
            sTjueth9j273jkz/rl/EBP53bffmwegqxhP/TlRKC3eiCp5Ozl1ID3Xa7NuP
            p/Xr9/nrtwdaTC7VPYdQcvx3//W7/breCfbwuU9Y5AqOXz1ReGu/9zK771oe
            SNllY54NnV077oxO9w8QUHW7cnPss3dPJPL7rNvCCbBjFbj2KIYubv57o+zs
            KMzym++oy0b52VGZjRK0oy87hXtHZ3b2c9zRmmN/2nnJ77OjMW/UZUdp8s8o
            zI5Khb6jQjta5J/+97jH61Ga07Oyc7fJOH0y187azj+zt3+nnr/Z3Du72/8u
            onQuMHz3+6dDCwwIH7L5OqOLSipRVgiHI3xCVcBjySZkxnqq/RWL0OB2Qk+X
            8jSgb4jLWrGiknakiEaKhu1puw7ztElESL0ag06S5lygLeGHiXWrkKI99hI6
            caiQDwabvdC+qekLzDHk+mAfQP+EKmh/j+7ew+ckaNv3Syd7adhavW19I7jn
            iVWVxDmgDymYQd5MvhFOYtBJAVWJVZpjp29VeqmgrzCriTXKszkCHN2f032t
            7trU9yqPFp4I8opuMplo6YzgFLo9iwrfm1Sc6uKRUac6TrFp2h700w6I0DRM
            CaQeU2qQa5S5oy6uhONBHzhTUpyLtl7jltWJ8eiewBUDvQ4RWg+UTyZrMIjC
            +ceYH7Hp0aFWUbcSeBKOS+eH3hUZX5/6G/gJiI7HmQxTODYSCGu4YbLPOsCK
            l9xUcm86OkJSWtIVMzXeRLAa1g/jrSMRTXI6GTKkVx9SP2cXE+6o52Gw1s7c
            7ZN1DWHsNHPMYA13AROvTcocJ+QQsElTthTrAMupyRK0yreDACz1FFvtbcLO
            W5vFaqeY2WPOLidGFt2QYFSIQ9ckfweJEZp6UPzNp+qfPTkhy5fDXYSFT9Gu
            lQ7hIiC6TNUn3js+H82dRjqk2aJYonLJce6yNhICE0eojL2KqutOmOAV29Yb
            pJRK4ca9pkTqV40J606OYKIKz9E7iMimzJ60K6WI2AWiCrgfrCvumCjD0fIr
            TRk80t4Q28yNZhvXOw3mPPGlNjvewezNNqsXyewKnyubbzP678A8f8alORdm
            qshcGQSoUpqV3XfLtC3rulf8nM5eMTcqr93B+Q16d+b9d7eIHEzulYUu87ZM
            3LIydKs0auY0T5PwgU3xTDNdKmOijDIM1YIVwmnICV6YDq7QT5+7OBwnRHOI
            S/1X1g8TFZ0q6amWl2NyG2rVhxIovo5f+zg07p4sBMfjWOm54Uu4O1bDKkc6
            LZVZNOSRwXklVvMZWhZu/z7fKky1S+rssL6Em4Yxh0t1w2Ffm+waRvV53VOe
            e96duvnw4gqcWskmZfqAvSaez7w87Nprfw+EWxAmHMbRyY5xPVFP8G4V16fT
            CuYVJCBCR3puZquswBAJdbvrmFvG0eTEWK7Cqn5whvWc/i6d3kFsFlCwjSeC
            W/1+Vrx/Pmt2vBNT1HgOw5Jhk8ApA7JnJRfbhMtXmVo5FIhudGIOycRsC3WE
            r/MZiG6KJeoBeKZdy606fYKjUpL1QgQw4nkdPC5cr1wLcuePQ3n6gfJq5Dou
            qykUm6gO34LnhWYFc/qM3fL7IZs7tWrL8PVxDtj8LAa+UnrkYZEbTc8Hu+1M
            USfrvIULNGal+USNFxfVholslilB9+aPSIY5/TtY+nZaMAntW1uF6m/l3h53
            3ZxB8JXiAPYJlVs5jSxBm0n3LDvzA8fm2LIXBCH21+U4EsQg5w5DpSJDf8Ms
            KssTxmYiHtAgwWGE4/RoEMmcNDPBWiPf00hgET6VB6GY6HNFszEhQpnuLX5r
            3+vx+1Px1WiJkML6kAzEwJoBSv1MLznLmyf4dZyyAyww9Wcn3O3v9fj6XMZ1
            lOzIoOT/9+R42I7B8oNYQn1Xz/KAy9DuWmtPHzkI7eVN+f6Wt1ASWfRn2m1y
            pdFs+v/JAoLJXaU1q1nc0RN60LSjz+ek0mgJBBbq5HEQ9dmicfF9bgf3YDU1
            JnEGd6hXzWdzbzBjcIdeTNk89fLJJhFALyR583dJ/4NJZ41KuaAXuuCN5q0p
            vsBVCKjg0hDwD5jAUr0ATQUoTl3Hw03vZ5ACxk+oZDqP50RyLdm4VBQ8ZCYH
            tYNNlcL6Z/fK0QNHU4HZkXE+YaxGEBa+Ly6JJdj75lueu254xvSmV3qalWsQ
            KYO5ICVCSHumB7XECU4zWVKVGPHneyofi3+DUjndPMnZlTI+k4yaVXqBPoFJ
            G10Bf6ZbJD7z2aE0HErjDsplYTwcVkWdLP++6YU9+bqw14nhNmm390WnI7Pk
            MTezXBRBIRVmnwWKHkwqNpKRwB2FtNrfcE5imhrVo62VgS0nuTKpUkrOKY07
            Lkx4u4nWIi029Q08zUopoof6gvt9q18H3S5T22n8DaLEVIL10AE/tmPl8Lgl
            nm67TkFj2m/UcnEdc5Oom+F11ndWpaXwczNa8DhvxavYeYwSKEeMqT7M4ux+
            frbzU/dPDz5ffr+87+d/z/73sUu5vRR9K2bmclUpdrS/OzQ2kyY5npZUnH1l
            u39zYNxdcg4JZ9ct820f/hzMULWsTfu8fPxh47v6eGO251wunug2Gjvcx6TC
            RnDE5Q6QR0gYmQlexRclpfpc0FG1AFnpLKp32ItAe24GY5HPJEoZ8bNSUvD4
            kgwGi0qMWs+dgw7aXsl2QVfMHov8DLMtmdD3VNynUnW2+wSp67RDE1HMu2cz
            YvNw98onPL2St3WWowXbKTje8vfvFFtSDsfd+lSBgd2fuzOOM8L2LL0N2bDB
            FcrDxsv8U1DJxcB2M7ibRVxcESLuSbueuzWSQ0yBNkA9o3Hnc8F1Bg/EMcIP
            sIQ2JJ/jH4sCszLt/KtEvDuoTIMW/8H02NtiB4NT8XKLlzvQB/ALBAK/+fcl
            u7/yWX0xrYSYnNxB1cfdLBiSxZ3IcjJzEqSff2VN9kvFlcLTeZijzzISMDy6
            85wgwnlv50kGT9KEnMyquARbRP9KN8eBWL6wBPg3ZgcWtye3v1cabb7ifqZq
            1zZUClm1ZXQefL7nQWkCMkVX+WlDP9vKeSyLwkCwKT6HFEBWOBXmAlPDziw/
            wH2mFCgpugx00GHBsYZi75EtmfDQp78HsXzE2nnc7fD9HrLzH8FF6T3Cae+R
            LnuP7GE/2clnvRncBnHSfsWqgwv69dmvJ/HsMbGyExPek+EzSIeCDW/6m8Uh
            hEsSn6/1lD9sSBmmBm8kEIIQfMhEkg/IKY4yafImiVXWmRgq2r0snQieD0U2
            lQ9VMRGA8WYM6UfaLc+LcmBkuQKZN6UcKcNm+rFoMP7H+lB3kDOmKkJjyHc0
            ZVTbJ4QLiqkojCtKnWm+7mDZhOakWJ+x0Bxk5gf0h3NR3mZu7sqEFshM5tER
            7ILpG/W86D3A5pcYw94msctpkOTWtO+QzA8RZPwew+9hzhFHyOZ/F97CxdEr
            dra4yT/FzlpbLJgYeHbM0x0Kudh5OnA/zxYTW+zt+PhyDhBVjWXZKQSVo82d
            fX6ZvZzpBiW10mvmDv0h9hWZ0mEyPLDQkxBwVIwwjYXuzcK6L6PEkp+zFyUE
            0E6e1BUy8/lMfmMkINoUnoBFl+sQeomyNIqS9KTR0ufAaiCl0kSn1OR1fNnL
            yoySzf1ZTTNWyJP17lF4KUpo+9acW9DuYa7wyOQg3Qlp+w8Yvz4994lwillI
            moPZFG8ajkQ7+PIOUPhn4/5hMgjpehIpdhTDYNU2U/YcJrHfi87PwFWpT1U8
            2PNkTmY3sfYXNqWZ51l6U/ukOZTUGdYHiYEKma9KskzGb7p/HiwLzEcbilVS
            Nwja+YSwoCfh4bZmbw5+0k9mBWiJQJUEj72i1HrG7ximqTpeq6XusyBZ56XP
            eUJQWEpduBnNozjEC00eK92u2/e/y8/7y0T+ukfNz30fu1TYrrn6f76mNHvu
            TfOjhilc12XBbwWpGYyF3kujnJ4pAwhQAPnieaBaApqwZGBGeqS6NGbi1ROj
            q+mc/DlnaiygbGr6GCsz3Kfsrcoirsm8HbrpIWifIPEa6I+Mu/wjePnzlQ1b
            h2zaKka9SUlgjamQmciiGNt7nmLp7jk3TzfITGyRlLR9B2t7slpBx0YV+iOP
            q+JOad5VlABbLMDWlxrFOMvImMb7GmIMpxV2H5fFWZTk+TyS8JWxy9EcKRdn
            L6FogoTpkfSUBWYrn70/tEc9g1d7CVSI9dwkf7zJtCfxWP5+bscYT/5tCjJn
            aZz8G3cCngEO8igXMF9p7czkoEg+f5OJ3Uyw1T3zJarh+fG+lK0cF3MV+97r
            tDkiCwvPfey8aOsKIUC9eLa3HW8egoVZAiEMTj8/XRBsmHsud8H2LHR++N+u
            r79VKIdQvMutQpnMNixP+ss9mH6PuX1/Y2+QPV+5tGTqy624GW+mZgzBpGQB
            c3U3eld1DiaDmBREjzYp4xHR9UlGJRzrSkSx5gspZa0xC/jYcaNg1vrh0pQO
            K6l09JDD+HroVch27sYOc0v8leab7B/3qiuvb8CgZAba8OTXQ+kUQ5FUqjHd
            EmRp0a/YTqhkhvyV+q7AfxOH4i7UyZKboOnsUAmeaewZxEr8uQj3sxN3gtcK
            uGtglXp1dUs6DP8zm1LO0n8CiEN/ZG7I8R4j/jKeBDXmSS4lmZySnO/xnE50
            d6Z3Bx0j6Cu9soSr/1jH189rqGR7KveP68aEhBs/rer3uSbJLquEH9vpR2s7
            Gd8sjEOxmJLzz7R0EMGFyaBpI0NO5W50/cv10WJoBh4yjuvnWDnGIszq++A9
            qdEziRisdhwm3RO+h+/7XEURAlUokyizZ3uNDRfrTQOqJ4VWFiG3LB1K+ow/
            YOuahdW05O2qajkVDFLAe7sg7oWX7fU1HDjojInl8bpxIfbxAna2BM9yxV9/
            S0RXWgI9+/Nvzf62ky7/fCloA+ZP28lFUsjlMGzmYwuuo8pdQIOcP+hVO1WM
            p20VuOpQQxhabsyizJxnmIUbYk91W3gtxTOMohW2pZLnSZqWOKj9R1AxhlMb
            HUf9r3/38qbpsYVARdJz5S+8tVeDYGBGnbKAlkr3bGcwMkddzGMP12CJnE1S
            W9Hgc1jQGwjZ1V9Yk0GSVrpt1NaRK5MIpE/6gmrvhiYSIuvUQbutv5AfXbDE
            wnz3HF6z+TJTWZmZujrlM8sgJB3CPnbQ9cg9RqhRBoB7XA/e9dPogKC+gtNQ
            MiBUXTHRorTVYyOsZ7Uy0k7ijrxi9jSHyKki5i/018Fj/H4kqr0gYnJSMRtW
            V9Fnaj66uFybVAoQY911e1NEf5WOdg42Qqg9V+I9T4fD/J5qEN94sxVpDHNS
            biMV9vZi1CVSjV+SBqDp3IUIGVSMNMUQYTCOwRo5jEtJb6bqqwlbsWIfBql0
            nKUCMXo25KAU60J6YReFTghaWH0VVjgoejNT4hVXrDnLDpgtf4HxwJCalD0T
            BhOpjLufjjsqXwTCZn4vccuZnzuWQXU8X5njXgXYBcUs37WM565EMeuvIq8m
            LN8JhYuIlQaMx6A1fd4kFIjqH9LM780UV7bgYE2xZb13immmUZ3nWyHFfXMy
            vNPM5tmefIjd1oQ79gkv7Y5ou2J6mFZoENVW5KRgrxfKpG4wmRheMTAdE/Ne
            FpOnsDO44tm84YGrESYGtoQ2HYlPSyx89uigGJMnfDjW3EX/kTZ6kJWPi7xt
            g5jFIuvlXkwWuJUDiemRDkVOlKagPIy4ncU6RS4jQxen1yUVDJ+MYlLXwMaY
            dj6BlXm+UgCU+ohxiQzZT+5SnmdQbijvY1lz/Az4/QSLUd6DihqO272TdqDf
            /+T9s9+feSJMLBKnxoL8y+ecLhLvKlyQi5yCc6H3Z32Jpy/ITUb/IE0XekaU
            0W7P33NsFc6qMGta6KK+IZ1zIzFaCC1kYxc741x6QD5yvMnWTWoAhAxIYDJZ
            vinfhPyDjV6ozeJCbrdQpdmum0m1ecM4su5dFUTPd5yOduiyUjbWMxh2fWYW
            e8q3O2aDTQLWm64Q4TPcwqivqgC6VU2AnQ9bjFAVKURa4vrs5LuF5QfBsOvJ
            w8Ha2IjhV2X2r2IUbn28FSfrJKjJNP6vnn/T80csfPKRasw/qULEIT5rsupw
            K3fYO+3yDk3xDeYalsPtRbi3K5STO62ufJ7LBZDn9qvE3DHyy+9gqCXYjLyL
            Vl1XOL22YXj6+jfOPKtFNt/pTt2M6G58KzdPJM5DUgEnK5OMsuiNB1VqZxn8
            X1KDzu/d5XqKFFZm1oMS2TTAgoasr+mZsJYfjwSEx00usiF+od/Bele5NcMF
            THlPK4VdTDhwU/5d7iVQEFSwRQUoEo3jYTZ0O1j+Hb3i5iargh3EDgf5tiyf
            mmhx1uGNCArGlG5a/+J7RcCH2XB25TGFJG/3yUJ1CMOg6+gkZMFjYvDwNuHa
            C5hVUGVtMZOC5zJF91+cW4uauQp5xnSYJcQyIztsLfY6KcXrqOtlUvKwak2j
            hNo3LkzYUjub1Fa9Bsjm6h4r18xnQZI+rBnaLRl4A/oe9DcjFegCJgWu4bQp
            D6IsrA8typ1QYVtVWGOgq0K/5rCohdFEOwr/BUOywb9r7kx60NU6vfptWqyx
            gE9QXU1QZsoJrdAsyqLiavasODGrMBqogadlSDKETFDi32lGlD5vfCqwkIXc
            NIvde6eBZneSM21IiFNdrkIm7GnMvbAq4KY7zO55/LonuHNJKmtMxd7Rip2j
            uRH2e2ciQ09wXlxWvpznEH5LCuRxDWbsFHdHyl2K70ofEsZcVCZuZ5WhHwvJ
            zHur8GhvqhFJjnE5GX5JxWJNxQeFCS5yWSoLWIkL3XS12J9LCJ9ct4Numiqc
            umVNGGhNYF/chByXAXLuE+U/oFo2XAx6LY/8t9BaybmpXKkqjkorOyW5E50u
            Y8jtsht/FPdibTdDXD8TsrcSugt3z+4xSSfzXan27MLeZZ8XkchY1PNsS2pZ
            BdT+JOPIXHHPMKcmqO/dv3sWf1g/vp87A53VZD++3y/gur7n/d3TOsLz83s8
            Phn0dlzNDpLEpO7Vdwgm2nO6VUp/Zd7vd9m+jPrC4Hgi+IbTgWTWp0cKWiuC
            yakeQRjNAO6L/x2WcTPkG48olGotovz86sgzpweSIfzydzX2DX3cosx+/8PO
            n8vOL+wnKdge+3t5jAiyjx9EZ/BDyyr/2GhZvy3YJAC7N0yhHjds/UBrMgZJ
            CjJz6q/haDQxuE0TIU9qdXhGaayqZmRydnmyqNIcWNg2ozg0zWk+ZYrRmc2j
            /5YPXvZsAtmXpQWHwdEU9rmUgIxnFoFPJLAUbEGwSuVIWXHvMC/p+AF0kaLQ
            i+/6AcPlNv3W9NvXey/l/uKdWaxlED/2XIPXSY+1nhvdCo3rmZTHqxKtbn+v
            2IxjEsCUPd+inSPHh5+jps+WTc8k9UlWRtB7smjMU78ZFPNPHB/8LLENFri4
            7iVIH6aOUG3Z7w6dbbSvKnVYSpeD9LF3ltaQPmemA6XrKizFzPG2FjRF0fkm
            lsIHEVrnimacD7ae4QAikYAaO8/QRBfqE2UOTSlC4pA9VYNXPhWtp79TyLkY
            DNMzD2/bIKlrOUmOy/BKXQsKPIR4vPb9iNZIVONogVQFcjFFlC+CTmZSVR/P
            IDoMbD9alPSPEAG3Ybc/RYiBDNe0Y/cPIToytf8+6JLBeROczjv4RQ905/Ws
            rYjnrVpZsbFZvzABCp32yeOSjyWrt0fqimKP2LeKYz6MV9IytAD6W4Vd88ag
            cl/VaTv93qkpyaD4iscUCYNm7NvYNgyN23u9PMeXYnImC0ZJS2TFYIhWbvGY
            S+k8PCjd2/Diq0KryhRtgsnSKtjGf/QOf8ffXx7WBqPjiQHZ//TyapmI7UP4
            u+u+CQZ+Uki6/+x56FSMBOqykgM3VwUlcMW7RbWgjkRWMND0YdXhbXuWliWP
            jeovl6S/esopCCXapGSbR+7OrqSxoDaPa2cD8PGWUG3zICyHoTTYRRWXQGB0
            6xx2r4ZZKMqWdKhCisLuLvoawtWZIuv6c6mWBXgfXx3Zlu1SenA5V4MOItOP
            Y1CxGV0z3CBRv/2c0N7KeFbX2Dt3R42RcoN5FjA00eOhLBImwJ2mgkWQ81bp
            MtNwRksSOKp1sGHCezPNaHgKSfOswRY8c8C8pYSfZuCKtS+DKGQzkUs0q2+V
            uw2fXTUASsekK10qUacPxc6Zfg4TPqhxVGtty2tPHa92HPc+9d1hc6TxqNa0
            WeI8WSN3LQPLzf5WvF0G/WU9QHQYTCG5G+MyXTiDRFHGZ7nsXDYywbl5X5tZ
            QBYklydxqZiFGbgsQS25eG4p0Y4tP0a/mpVlcvn2dzqfGGF9x1CJ4kaWbtUO
            P4k53X8nZhItO0KJaDsLD2yz9uGJf9w4rI+Eta8ODAaJxOLZlb4IErbITFxP
            M1GK/NWqp/neJQPG0yEE3D+oVpgJ/vB6sdGTcYjeLYWD+gKdjn780EIzTBPb
            5N+ZH1MgCgqBKEM/0rev2LCjqNC97OpvHIp9mva4SPUaF4i30BodBeqOugfN
            m5/gItb1meWS5jHv04ucglJZrBOXAYvM7J/dPwksjMkjDtOn8S79GQbLDRXN
            AUqqkuRt3Ny41OUIdU4c8ErHlbR8N+1M8eQch2YYl9/iYStstJ1Nm3dFsS1H
            2LHz1qVeIs/8lZlYqyuursAWr0j8peBa+lkpwSClPT8G2zoZxIoP4rGH/qBW
            XygrCPrnhcrjz4UirtHfFuqbxVKeswhGvhCf+B875dfzNsuO11t995Nls6xm
            s13oDebqMPfIfRpwx7diuroTWjfIHrsfxjwLQw+f+yW/33ClFPdj/ZIIZe68
            oM991Vec6JtF+OLT3TdMpRZ+I9G9+RRQUoD9q/MIM/17fN/3ufvXffo/36cO
            u88bh8i8j5GA9RJ/LKud7trDJ6AkU+iW+Y8ykTWJ/n6EORkdzSu9qZPECbw8
            Sy5ZVT9xyulAm4zeEiMx+X0JRHnDugUhgMmUM7nvibkvm1UN5SWZ4jkJPaOY
            Dbu0NnaRJyj/YMa+lLiBeXcPJplYZ+cBh1rQQp8eNSWolvunYBnMuSFzGGcb
            4EwE4vCEOjJx/G6/Axua/GKTz+6im0DS+HPyhzVheCsAhJAHAoYYmd+WFktw
            iAZ3yA4ylDj66NR5KU6KHdqj04JFhkiD8d+Wg2fZn8yJ3W6sjTxzeNvhcVqn
            1dMVcDUMYFn8uaKRQKOf1rTyXVoIrXKdZFssGhP6+VXKl5hQrOAR2AiImV5V
            yELcc94fG9u+S1d4Q/SOY8j2umMuQ2JRKUUTu1Twcg6KaGnuckBOV7Z+mnLm
            iqZXhxhtVmpnRFeLad0vLOEtH/5lAVrrU64d3QuddK1cUuru4nhM1Zq8dy6S
            KWBZob5wmONzX8vQJQnFf4dtnuGMYVUMMfBeS6Dw9puyPLB15fzK0pyU6W62
            MZaqpi2N1QRescCaWnmQYXRen+eTuy9zAB8CBsK1zOMGocgH0gzzpJf8wi8N
            QuQQRxMbm7GF2/LevB2ETaIWJPhOaURGO3R829f322zG2I9Yq2pgqNg0V8wM
            VVV/2+fDyBpJZRvyGheaK6+ZZl3nlgN2XbTLPfOpsqgbv8OtjgTmbdYknGWw
            uzTx7u8F4/2SNl1Jx4SXSQTL0XlapJZAL8M+h+x5RouT0gHqMK923r4A4yaW
            +I7NoqCbXK3uiCKw13GJ0xy/ofdebuFiyDAw8rEJhfoWFvJdOCxiVi9TpjxY
            WVCgyUz/Z/G6qOA1UWyqA878hMGiAVMsy/YiJroCr/j7Hnn+eY8M89wA159g
            JKCwp/lmuYBUYBYTAZc5IrKhtr2UyhegLH0I1KVIJLNROOOU0+/OYJQoCFSS
            mna2Hcp2jGRDmzDUR0wtRNnoltq/pa1z8SgmQi+nt3O6/Z7cfa+JxGfwXFE5
            QcqztZbaDp+oDHNL6WBC9qqhv5OfLkeFjWqoO4ftXuJR1cMyIThG7ju/pgpC
            dlqizw8fR/np4xBBV3Vw3NxE85IPM8fITXRtsQQIYTVzGbiOWQ2sx/d1oX+u
            e7lAY0HF/SqG5d7+A/v9KoauAD7Jmv7W/vEQpk0CQv0fXzdxALHtFv0tU7Ao
            RTnWXvey06W302I7M7bzYmuzG1vqzUlhWYy1ktfk/GSrP6l5PH9SMybvjlsH
            oBkbDK7hXWRymg33wCCEE9XmarNYhHZzsz25I/7cuZuNtsNxpP8C00eMBHKH
            fvwM+mwlto+frJ8xvt69yyN2pPSfy6KyylloUkbXLNWtEKt3dl9LzwaTURg/
            oy8me0L98mR4jqubSNOYf0aY3SsKHcZIQNlcVrIBxl/iqhZaINYyd+8paIHL
            YunmKGJZZLJKv+Rye73XYaDC08DL1dtejr01vl+u52e1byWL9cDbC4eB6RzC
            FpBm8fzntBYE0WN3fEFVM+5JJTLq4zpEsJSkfW8FGYdYbjm+ZHKCQCnXZqPu
            JQxfXkJyg6QQ3x9sXsiR5Qqb3ffjJ/eTe92rOBlFUnaOc8hyGLfb50osfnEk
            KZr5eRVG9hjZeNHd0vtUTrLGc72cMQhN7e6eUwrOPWHc0ltJ6z/quQI0c1Md
            hE0wumTFqWC1HIUWoSv36qmOk+H5AOFrQseUrZ/XL9YozIfT8SCn1eBs9sz+
            Zvs75lTu32aNaserLW8zxSfVMDA+O/FVelx2glVe46PUYZSSr4tdfj1inZkm
            9SpHyZSjzQmW2/wH+952q+ERVkj8qXkX7kwys69nEV2Bzwrn51ndudJM9VRI
            cX7J+3Zlpkhlw6YsQmdwJFn1dHdx8R1xByGGHXkfrPk9DGNDDkAlG6+N0nc9
            YsvOwZ3NpxcJyXIsLhcDeferuHh+sxymsqx53Fv9cj37txVj2H8ESVKTCyLl
            qRbSM45d7t5sCr0XcFMlk2MSu0ARFiNjOFm4ifeuEeqWzpAitHJRMHQKlbQS
            Wzrm7ZYelOME5hZsvKUGhD/0BfUo/9ILYO8HZQL9uF+Ffjcou7/vh2OBuNKF
            XFCgPNxdphSfi7mEH6U4BUvBVOP3ZI3fv4l4m9bL3o3eSRGziiUyUWHNrI5u
            Vscvs5qFcp8shnHuWLg21pIourdfQ8k6Q36NZxNGMKdV3sp1g2ntXJAAXLdy
            HONFlNegzelG4XXLWetZmaeyMrU7d3bOJgorXrM6HSumUO3VJ2eFWUteV4SF
            D4SiIBuv5AhFEERlNm+DLR1BsQDIGsxIIfa7PvV3YifTPVtG6N2wNYaHeqsS
            IOMViRWu5EHa+45l/Dg0U1BJJizQQ4kH1ujDx5PAQayy8ecYRrYxEDt9FK+h
            oo0gNMFmtVQkrq6F/6AI0TwRakLWPiQOSzlV38pIPAwmqOrM2GaV4WW1JarL
            ECJQPSxZmukROs57JkYBC67f4KxE4DekdjbD80Ql5h7nFy0idUfuweel485t
            60Uitud0V0hZidqP5VzgvougyiC7mbRQCbavPgG1Ef91HvVRk2S7MLdFREsF
            Hoi8ZTjHxJwcKiJjmWew4AXz8ojHpzyO1ZqXUCamHzrMULVjzdtct7LbXGN9
            /Tv+B0O6Bo7jJjYIM2XwhKVWAI27LPVD8lyN1wuRAFni5RD3wVATZO9Hgq7C
            0skjWlwiGZxEsB5Sh8NB6nikM1mtF4S3dVcnXmtFkNXDvaa3r7uanfQN9cQa
            4GCLYIVKgmPkzqUTu6n/xa3CpMoWBOXe2e+HtuOueX7PTdp0fBkVHJW6radd
            CvwVImee4jS/jS4+SMm+Ee4rlChOzA11JvcLaGuzFlfAnmQV12cHw7RZyr+l
            CIxeY3zZwhNQLWfr/yR4eqIGFCWaC7vkDO6uZQnnrSjZLayRpUjfzz5RDp8o
            tzIMwBXrEJL7UJ2DYg7Yn4diDMsIJ84PoOnOQgueWUa7dbiGvLVomZNfEUzl
            sYOgFsFavxxjiahMR5+UzOIS6eJyGzcCOZOgmMlB3YntEpRr+QLCMJaajtO6
            Mvfba9/YkpiEMB0zRAoj+MppWNW9Jn/eaRzv3jXOhF7+Ohf/qDe8nsD6ATpX
            wHgnteyKym0SsmjKMps97YAFMXe0SGE9rH0kMer8j9GgFT1msCwRf8erdyxh
            +N+n25/BsbbCLyyvHcBQerkwvDwe7uc9j9XbMmFf52Ubxy4HHY5qXvxly4Zy
            9KTSsXzcUYkdbXnd9AZn64aGlJZzl0U0JeuS4nXGcsW23ejkBAGc7DJHtt+l
            gS8W9+76lNfCmAqVC1mw3GYxPY8jMhC5lPHQLlPvebOKTyNWeR2D7P3XlPsn
            QnX3ubrHnNxIsq6w6azQ6bBPC6PTwcS/3QQFvfOThoHWUHwxV4FoNJElclFe
            2uwxgsqi1APbxuD56SI90gbENk15owgZFHAkK+LL3YEBgJb8oUS8Vlnui10C
            9rnPvZi5439XAkm12mRil6s9NLv8fg3YIO4VvGDnYFkof3jhHLOLEIqQf6vd
            Lv/Y12jK23bUL5ONv9pwMUa31KMd+fzmSA7dJU6WC5TK6tzRHEIM+spLmK0y
            +GEvDPWjXs4FpyUEt7Dd5Q+738xvjjiFvqCms9cffgTvTVEDVmVjgSdBcMh/
            URilfAy+may9fjXPFVJE/6AJ7+ROuWMMKF33sPV+DKax6mVt8Tn5gX7krWAd
            kifEdUwbMpiAKdJE+zYdH/qxfoCRh40YxLx+1okOBV8ofyspOSmiJ0YHrZR4
            vl/sHjtAne7oewyCcVmTn2mcylBlOzns+1sECmNNIL86l9rpYj6xCj5V0xkh
            k8MSYFwCM2kf7LMfQZZiGvVeAOIATc9mnUn96KVLLGKzMWHTMEdZwD9MDLYX
            jXfHQ9S3rdvcxevn3A32yXQ3elXOgFi897X6HCM8xu9QOsemuEs05AGJGHlg
            k2ULMW8Lc0QeF8DDoMzB4IFV1oR0xLItwmExqL9Ru2ti4y8DMlFTjtDpS+sC
            6RY2Rniy/AV9fSVe+4vT3q5qX3ezOYFSlXY/hnmrf/efjpUgCrdGIHhmIhCq
            43OLrVoUrDONWSlZs3ax3186AdknHb6UidPt4R1P3x7J7cE8bzu+Ey63uNtF
            tBvycYubuExMbTHEhbGUq0okAC0km6Ntzgap0Jl/CMNxzOvDjVgT/839xvW8
            nG6SMyxCWysZ5juYZpAcBAH0Xb85NK9LjT6sz7xO6lEb4YF4qsz9EDLQpXxN
            gst+Os70N+yPgVqVXc1q/MVqHpkrYKBsjy15JpYamL9ncs7Af7EQPhmj7OwW
            lz/ZKHIPlllIsfyUPyl9v5D84ul4ex92FSdEIjScr7YNzRsMg7qYxFMpW7xk
            QTKqkluiSFpwl1zW3xnrEOSEZH+RO/UmBTfHFw+mVTOLnuMpLpaeSrAEQmhg
            4cBB5IxSW8Gf77cc/TD9Aslh4m1jkOeqjkrcaYL2bvnpnfkF7BfBfPpFZKKs
            uaB21xtn4RRi06gsL+S7l2iowkxlNHl+cB4H51Uz1o2TJMYbwLENtkOQVgq+
            yeS/dc6cUBWds9xmFNaixl/OZsr52Y3gTa9vmpNXXNb+nsDiaWH7WrCY21Hk
            CQTfPdCzqEmw6r4Qh95bA+1o2F7oYHmCJBbDCD2sw0zy4M/GbCChsggrP/lm
            Fa/iBGT/Sa0Cz121/UUsDBffjMu700bNRLbSV3fihaEZqnBjB7SUr9i99fFp
            LYIlIk/L2n2LJOnCvt0U3ZyiskHGL2Iu0aqoSMxBix+0Ec6dad1fMcyuuT/y
            JJkdHB11OH7MU0P5fUGCGLrylHiJHxHCQQIhoAdFBZERj9scxLUqCMHKiIu2
            I+x7SECmlELG78wWIueFWCfbEv9lkQIoiw4aefgyb+62KBUWVmxfJiZC/Pk3
            paFW8yeA0BIVqS1GCLXCdKv9O1LbjZ/fM/900FiyhLP9X+JgWxHBO8Zua2eL
            h52//0bX3PopblK9gHEuFrb1tK2bnfW7xdFGCt7IxWS9DHT1XfnOuAFLOsj2
            DC+t/26eqnwIEOEYpsdg985w4nf339WIcjTnyO3jU9mJtILmytZ7my2cju/k
            FRDTtMSx2rzx1x9KG/Na5WOn4jSlHAW2Xegs9Jglq1VvjdT3lZA52bTSs1dc
            s2ZGrRJHuu8cqOGje68LmVDZANvPSks2vvifMtWiw0/dHhBykA5/MbUpbHO3
            9PnsRhHZVpjACXCO+RdyMr2CxNhALskUpSwIASlMDi3A1BiCgRz0SD3qQnu6
            jkTDtntL4KUi1VBdV5r0miZPJxtG9JUyPtN8TC+7LnQDC8TPjn3LdXdMCUWn
            OibR9zEpfVT+oKkI4tJSxl+fRvWCODrl1CuEKfRRpWk0NyIB8ei06qwACVsd
            7Kc6NMdkHqwo96xlC0cDBKfSpkI52tIOYZ3KxjqlZXRauhXduZCiUXDylkhK
            OJlUhg8C6iFEAyOAx3d7vtLIOjKBGV5FiqDuBP5o/WPWtW5YqiQb/C0ys7hE
            9+ZRnET+rSyJJ/POKUOGwWWcT0/nTZj3UPQ+9bB7YsuZ6RUIirDofXxhtMH0
            8D3KtBpCSM52jEYnHdBelh5f1s3sXFDI87hPwLrV2w6lxzG5x7E/g9H0w8Cm
            jlGJjZLBqh1kfuH7+rh/vb3gsSOKhOQi/kHqDmKlzUbAKs43Mwwq0dww38xF
            YM/LunYT0eBNRG9XBwfht787itIT1a24n5WR2FH1UqCG7tNkQG44VrJMpz72
            QLFvZ2HK8qnddGy0+e20oI5PdscJuJh3zOLJ637hnzeb3ux0s/GXbXsi62a7
            m41v9r+1+J3vsD1hr2fMcUDPZb/fhFmGv6/FpC0dt34LfO57/dxAcgR4GO68
            2uJg+f3rsT11Zm1scWSeuI+TbDvNHh9fZv8oSyHSOLbYuaMF5p4eFJPZUDzb
            qSa39vrSB04lrWgTyCEWBCAc+/BqboG+VOUqWOSxG4ZpnQQoLlVQM0xndr81
            Nsedjp9+63RY0CL6+et8xvZdJ7UB/Piuee7WPHcUrVnNniKFBXK/eWect08H
            obaxs1khWtgGwTvhMNgsSOmvcvTczGo5k8wkg6FkF7r0dvCpMDcz+zTXyxNb
            p+GkK4l0WoUTxZ7Y83hufudxi5BarkR5JA67WSy4NLHj2zhxfz4Dr8UKw0DW
            TERiRlmwbSzmwhSvSImOd4rB8CCid6uFgnzJN2KhomGwZ7gnmTc7d7B4GvKB
            Ipkha+zktK8d7DXp34/qtR/MrIa4ozJ7B0NX3oGxyEpQBh2xHiV+IImy1RHU
            c+bjx+SqY4wQZdwH0P7iTHG4IMuigZ2pVoZ2DMpkyI3h2Ja3YqOIYX70kmxa
            UmwC6RAd30036yWnk7T3sLGZTsv4oQWRLld0jqYQ8c0WE56MwmsXc6AqN6Ni
            7KrWpQjCuiVrnfSpBaBG7UGgx+MFb3AruRyV9v0DH/Qjd6Wds22qJ80yzM0x
            BXZcML0ixPPtsYH99ZMN/wfOC0O63myPaH2ed6O2WsvmvN5TjJxXBbf+ToT/
            JFQvfzZlEr0wONaQoFkAafGd82U1hZXVpmzaxD8s82cL5JQtcb+B5/tWND4Y
            oWpB6D7+zeY2m/rt83+BIZwN7qSHw9nhFgfT2yu92rWLh13q/E/s+2Wrm526
            9v6bjQ4XE5udEwOCPIxmJmU/tYPopVf00xdqLwr+KGfx+Cb8NydfVUCqXYdm
            fsvEzmTR0ZFNurfaIP7N9TZAP+g6OzxVnj4pJshkyw523Hg5yOiUNpyK+3pr
            FmSqHuasY0uR5JVKrisIMlCcbjAnhK7mDm4q0HtsFith2xbBNSbHXFgdrOCF
            XjyUwBuAKE4lYpDt0DSDjb4aO02Q7VOnzRgYVJskvMNTqdg+YPruKye42ORq
            txCW+bqP93s2riPdYRlml8gnm4tazVGYOnbLpXx4N6BRBftiqWSC7iJVB/t7
            tsqoYAghX2aYw78QhoYqonI3QPD8jDR87puG8B/nP37+kw0E5PHz34KUQwUk
            CtCcLNr3bkc7H0DdjTBGzCzD3X9kW6m+Iqvw5la0tTu8dTfO9ixzHStNHWsC
            GQxT/m7iyl7nwM14emn5LmLZOZrFS9dh4l5WUbQewv59wkT3sMDIN4QqK1ZI
            CIYgR9+ylEA/dhDeZnjr3cNz0ul7ZMBEyL1km/T0OcXyeI/sKOtVN4cawdxf
            jpve3AEiTRpzBetMugizZSDvrwmFlPdh7N5YsAercK3Dli0mZu4Uc2Xjntlg
            HJMnpp6eDIqJTdYO6ZLE47VY9Fm+nEL0P9yWqaP6PHE+E1njsrE84bnGmc3p
            NC7Ni9oWs5xjeyg1IvdlMJhUtAOt/L44Jrz9fh1ZJ1t/MAP6dCJ0pxQJaS4P
            9gQpf+DYb+1kksjiOSe1J1h2eM920WNo38N4IBmViXXy93DXkDQ6/PHaWbty
            xJTnJm7K0z99r3a/5X0eb3LV57Oo0fIFNXFdOW30A9xvGVNQzWj1+5/tKy7Q
            hi0kc520KzDBY5lOwKKm9d3IugtOnpwlPoZ9Cx3tM7HsM52igPgrXV6CXTMi
            0ETfe6GKpcNvZxPz6wn0xXtR9yiq+i+nZxYdHBOlPTmg7eah3mfCKfH7nJea
            ci8CTbGvNXQCa4BHxY8bj+yd83hW7XJVG99WbKKN0m0Mm7vgfkJqLukzV1Tu
            CP1miLUeRr7Mhb3nQLrF1zsrEZcR2mQxCq7R8RTLF2Bh8nF8Fu+4HrGt0H5S
            W05/UluoH2pjbdv+3vNzflMbM4a/CWxY6dlNx8q/ITRw0KWdmL8bs7mzyMKo
            VsR5Cex4bfBMNV27bccepyuZzQhKOfr0c3zyCYLs7SWxM177e3lDdM8a2q0+
            XkJKlxTPozt3sSCOlLPo3Xrl/YyuiHGHnu4P8GPEKYpVBSsWmMs25uv20vfn
            15j7Z8wMlEVLlbOmu35PgpNRzD3q7JSSp9vpb+cwUNLHdIFmYNF+MRVBmCHT
            wQrV8MVBDPW3/HgVDRECf1W7/q4n2Pb8C5rghard4VW2Pc+FYgyiE201qbwr
            eCPwEcitKZq6y8+utspxs/uwO8s7AbPb8O4WrwUyRCGBn2K3Xd8EF/uH4PS+
            2esQd3KmB5rCV7g2zbx2V3s9G/efhvqWGCWtnhzL+9TQbu3mJDn/7PMupql3
            q33oUejhY4sd5llurqn8AGsDdqwGjlJgHgdrhk7vLCu/XoBKbjSw/HDjIoqd
            aImpXH/9rVrBiuV90GhNjCvQKBypRS8ISmJbojJsU0a/H+74mxktGnxIhQ89
            Lf2Z2HZdXbDVtZcgjppMLc4AK2K6NNOnm9XfE67zUAYVRidEJB4qvGZspEmx
            zPGiTup+93LY3OYlZsnaVEmTdhjd4fn02SDhwtufJJhMZzr4AZOUnOGtOE6H
            wQV2o1dq+NtqyYchf6iOQyFk+2zOOF/s+Rcq9FAgk1XxFHchF9eSVQ6kgTUG
            lJPze1Yb1mG5aMExlElxaXktP1uIXF858PGTAz/+kgOfhuW+K1snsFiH2qll
            A18MvtC9aKyzMouUmbZ1Ppe+Z2H9TX6nkwWKROfYaOPSZiZV8je9g9WCN/b7
            9t/df1/+OzM8a0UluRgmASFbI9sqsf8qG95EVR8n7br7SvG+3oVKVHYqZZy6
            VzBzN969Dc5bORgapuzrckURlXxfB/l4/7gGmgaRHSHN5X9gzn/BmnCHnPj/
            YLTK7AELo0+1nrtjApRC8PIRMe88VvGZ9Nkw6kL1qYCoiT1vD6ZW27C+SdqC
            tzls1zuw47SBaduP73QsLNAd18kOsdZJD2w1GVpUEhgH4YlZxcH2wo9hzBCc
            38osDMrUPi8VAopyh7lZrQAss1gowto41weIRt4TYhEzw6A5XGk34fY3b8oR
            HVbsV0huG+k1CYkaq7MBEL2zWChhM0wGScFqrrJOY86xgDc4LjpRgSJBaNJX
            bdAg2hWZ+LF2m5ub2oQzy9PAWoSRqlRO1tnQeOpgduPndVRXd3UBqwWpzvHc
            aAItHTvjIZvbi9ZM+ye4B3dQCyud6c5Dbg9TS4QlFQw4RDqaKhG+wMtcCn7q
            TiXJhK6cKSzVSgZSkMUXrFAbXnAEBkifUnYmqa7UG0M8fpVS3MboviVd/lKt
            9r3o3hhu3PEeOw91Vwq0bIyOTR+FgUgmF5JUAkgz5Tgo1gFT38r64jMhDZX7
            MC5vrqsOUI53pCJeaASOYcgOVIk5ncPuNVpejH4ylU+5KO09/pxsgIvjzT7L
            BHti4GMFdZKOzE/HyzxpqqX2TSzB83DIHTCWYTmf1AzbeT7MAbTk32xdswhZ
            xc7CMt8F5yvRrw7lahN6yI/z9JmvPl9dkIvhEkju9k5xwU9s4bmhhrbLQphV
            heKXPlGMvyb2qrcI8SMPNwGTGRR9q/LVLviro/bbVHHuY8fblHE7X5e3dYmJ
            6Lq2XtUbUpbH0xVcrSg7F2f/fZduiJiFago6blXqAavGW3TYnaDf+3vYZYNs
            ULhbcrvT0NuYepp+MAnB6rE/6y1tcury9LeqhaWVoyaBbB4UJzPMPBWB4obH
            iGWQLPeBkVgdu4mZ0K1A+uzvROThuSvsUnh6e/CodHr1713JwToXnXCfNubm
            c4rmYEv0fQqiMLFd6vCyCgJuR6v7/GTH+XOTtYpQfsn69N0J+e20/FlAbx1r
            inz+iTJ8WGIPxFr+as/wD2grJZobf9660Xwzmgcoi8mtkHr823WrK0Ai6gfx
            WRhMImSxdXrqddFEKC5iieZ/CxG9skEIwQhuWgIUl0W7DVs3W7YFjGwqn7Bw
            mMvJPoAqgKVeKeVXsYhBU3s5YCzXUGkCiQ56cgxMmHq8HUPqAXfiNZnsgl1W
            amUGleTBsjqJZLteOxZM/CZRERk9+bVlPkJbHyQQFdg2/c10RljoBZs8tgFT
            cdhxdhyEnCES8EbGcQvzcSzb4PPICnCpLZhkgpfX0wBV6MVVuRz0YXaudM6R
            VB8SjHhAhmvuPr0ECXO4o+BqXvHPgYcYCcz+GGL7MS++xFR9+h1dYGJSLlZW
            31wwvnySELx2oI4D/55owjGvEmT+Q36wVLRERkajsCPGhst/cr6tUcq4rD2X
            IawLPpdtIoIBeoRPe63TK7lZnvUR7sGyr9Wj7vDxPe6jeKws7ncmN5uhzJAH
            GwKfS868hynzOMZsB+LTD3ImfrK9GD/VAvUrEfi8CbzAGmV/d7BciKuhtAa2
            UGPs7dT3EEZjz9+RlvlaOBejuH4ODgFxxRK2bk466ZyBhbvUnGZXE3e7xhQV
            Ek9Iv8dyfI3FUgQHG34rmpIMCIzrRxHLHHewzzat4KedfTIA+2xZ0/liKjxJ
            6geXtvyBDhk+oFi/ulaDDXHybzYoHmp5cbmTLThwSFcW87BF47nH9ZN9/zCE
            WNZG0POkrpZqjIhxXHhZtkgiDvExDcfx9ITjinOjMqDZh62zpUY7xzAvrLB7
            WUpIqBN2S2NPqdBVIRWui55Qshky0L6TbBkwP83zqf6TcrkzshxfM1/Reywc
            mInk8Jv0vCfbfDVf4y427nA/J/Nw6w4bqHX6OHbdKI2wPX6WQTgs97HfLwR5
            moXeBGMCqgyDSBeNopOLe0ZrE6/Wrr5x7/Xicx15gai790CDllIUOyIe7N5Z
            zBae+eQNA3u4JV0Yc7UeC2Rlmb2Z8B3n5P2QxTxJN0K+McyTmrq0/ukuCR2F
            gfytvEAnSt6uPF2WVOSpan33nhudAKtvyb96665pICR9W10EuN5QA0EWcn9x
            IOY13r/RcxrNpb5/z2beaL4HLMTZvj3PXn/RD9ULt/nAMGfnKm6QkhKp6SHR
            Q1fAZ9kci61V226IOLAY8WOqMKtMIfehqq9LlXWB5ngF5zGMKP6NxUT5sK6h
            uzygER7JIBHVOMNrYtsJ7fxs/jcR12BGCQYEsyi/ubSVeg+9yre7IgR9zoJV
            YuDuQU06rh56+ayNWsM2YQBoeXSV4LaKuhLHUe20mwJF1yUYwJe9H8NsnbE2
            1rJdd6dlzrv1s6nv6ck5bNRp1idddsw39IXslgJPMHsmHBUm1RzMoJCX0Qjx
            fnxBjJhpr0V6pp0ApoW0J7EgiNaubC4SERX3LMVNu1Y+gtGs3O+2+wRLSMIc
            gZXNNojmjd0/VJrXopxlsYLlSqS0oE/WA9GsgrF2ypMPle9LOWXRzn4mNXru
            4qd/0Ghmpd/ps1kIJ+ASc5mCWsgtGewcbzR3e3IPrzjDfUq2e54WOjihBjGk
            PwZ4N2GC2dQNRnqzUvwJYqCf5bIw8bAuRfHeLUNtJ5PVRiXierIOHQl0Su7F
            gAwarvC8sngTQ3fn2L1OJ4Z17RY6RGQl/PDRxCYfsup8YLPQTa/dy1S6tpjE
            xrpLIqdnLkVnQxQF2UwERLBbelGZcW0whQrKCbyU+aqhGZApd00kR+vSe5id
            baYX7vDqLt4NZhlxXoLSOZoA9d407PsjwyZD3Nz+1OAOlaYzKZPg0EvUOVjg
            6ROHFbMECtqEV0k7MHQIg+Bel2dhk43O69js5yYvTN4iMKsd1Q8FSdBynj0V
            HCVkVwtRCZEsqZIla/udMI6hTtxWMpW+vKGckEr2eC/jDPdhRTLPV6mazBWW
            pLLcn4UmDPElFfA/RMpvRF0Z6pIs9BVpiWoM/Ha5Y714CcGUzMD3VE312x8g
            uJnzliSy9wbFxTxfJ1zQfSFfL6tQpzLHugrMMRUumHp41gXm3C1/Ms7ZwiZc
            YjHs3QKFdk5LhbUG6Bs/qFMx8pfgi2Z/MQ4msQksEcsGFnsamOTJ8uYBLZsQ
            O14ezwZlXHD8ramJA5WYIuWKXVwIUXoInALyZ94Qykld3EFmlI0qEB2n2t9g
            NsDSIollmWZIYmVa/XF9agK7ta+mS1r9KBku3qxnWuj3hlLDXg/yPPGaKJhU
            mUJMYrl2f6S9+JsYuvdP2mxcsfMnr/iVI2GZ94fkW26OKpe+kn3xrgvEc2bZ
            uYuLuh0v0gmiekM+aQZVWhGy7faFGum5X7NrekX6qYgqcxPf58Zhz6XM3GDg
            VEAZ93095swN8YiyknDiRRKIalOuqoCNIp4+7QEpnNSrkZnUcZfHGfu4oXgZ
            WKO78CweASZALryYAe9GORPwiWv1pddTe6CmkUrVKjO5AcTHGEpj3JctxvoN
            23kq5jZg1EzaiSwCZY55oTE8Vb/UCVPExEG8oQCRKOyfbWcxA+fsZ7FCcOh+
            Xc2kce5k9CX7tcFj1nmA2E3SdwtCug++Q6KnjwvtriIhJmpj4ehZYaszOQRO
            +ba5kofdM2WGWFjRJ+GfFEPEIidv9nCemDnD4bu2omHbkzGT9eXZIOistWl1
            RMjY2OEGAoAYGi2AF54Z+wzChVssUlmFdjEHdvEsF6HKCSOiHmiHlTK/xhy3
            2vDcrMvgxjPJpMgwM9gR7maqoQrX2d95nKQKBVJ20VJbGhZtR+iBl6pgpcU0
            1sgZ/u7NTnjMyfLgzHzkhRCV0XOA3/fb04SNME6TIXgP42cZk3q69AdVPuMZ
            X4Ys9MeER7GPQD5ZdwYjNHk+jgh8VvtNGF/Vmn3FyH84AZiOlUM3DB7wKSFa
            WiIhDq96wK5aerfnL3bVeO2q9LGrBENDJa9/tMK96IItAK+J90drUKWPNUYn
            JoK3IjN3jpAeTwMHupLr9JEqpHDH2VMb7IW/s6mYbqBp4YXGCA1iT5wMutsc
            u0TArG7jMIR8uhpNXx+pmLuTXYx5rBpm7UaixP68opry0drylF65m5YiYcyA
            SN4VWTlquznfNJ5q44xqa8bctaBWb1FwbWFurQwEfuO9sJGmDOGuzESorN5M
            kJrd6QZ3tPcloUzyU3/30xsnvL26nyZPf6FPsWPT38eXp/9hyNoNJCz9rQ4P
            1mNGtXrqVuhoScSIfeqgtQzOMLIaw7dFK7ywJoepUerWYw3ROQHsWvg9iZFd
            lZPg+KiqHpOSHZN5b+B8TAYp/I64a7TuiWI3y+FIAolBWg4z72D4EwlKYLwy
            tERIMILZGUeI1dkUAKa2EAVbQudceauKW6Wtj1HscarRTn87TItSyb+JVs/Y
            tmXiH9a45lKznKdg4k6fuFkWSxknQXrBw/F5aBIHHa03Mcl/nJ+pX2yrm26O
            he84t9IpS418WcLcZN0Ttjw+lZ3YWRDaGXIJzFWiXr/cutbx3S4DUlUT/PJ4
            bmVCPk3tJrETPqMTr+czsQdT9n5PEvf1bpXFJMIQrPyHGgvZNLtLSJeng/TJ
            txXBVWixGM/N5qas/6+S7Mxl0idzqTBec7TUzh1D2czrdK/bzsM97XM+wuzn
            vW/bXe84d6XGx1h1oDQuKiyYoorA3U9kox6NZt0CWTPd3n5Tlah+b3/RLqfl
            813dt7UFNUz50q9vagnsHnV+4UKIyW4fw2ntDVlw/VUYTP/IvTsZk7FezJQh
            n6ECylgCp88ijpGOMfogWlE35hMa7hJ/YJvGo0sansIONi1uJwjdofS7EHAf
            kzuEfzF0biRg7Jd0X1ZE/UJCWnkDkfO4/V9/DDMCnLfJ8bgsmth/tJWWtVCZ
            zqHImX36ZJR1KdGYQkBdxFi36g6YM1nD3WSAHF2fUkxyzDdbTxOXLTOvipUi
            h8EYxUtIbI/dQwk7wbCkqYhX7yYmwRjdPGbAZ1hWWVRMg7VpNQmRDt8nr2pC
            lTHFHaoQo6k0Z5UNl5lNDu2SAbolZnxhyy9GNYVpuzuYeZyGz0pLWV8kenr0
            09YKyDINmojdX1WJp+cEFzSEVGQlnbq5UgPhMTZPbQb1lGwLGSQDEWL4ebNX
            uRsWfZdl/jT1ScnYzdd3dxvwouRNyqaZ0z/7WH3QhqxB47XY7X2yCIm6ibUt
            YPdJdzBZ2cC0z3VYAs7d7e8Qr0ThPobfLHnO5t2slS29M0wQVB1ueSYp8hhq
            72uV27sK/YLaFiS9iamw3P29pB4KB4oNXeRvXzwuork+oOcUEurnRJBSxvRN
            Si+Zsp4tT20iBEtQoNramcHuaC6jC6xLATj+7fHK97WNituMidXtd3RztV35
            yzYnSvn9AdPAwyVF8y0PGFMy1cWWemejqdHb3Prt9gzW5+neD+86u/fDG8pR
            6e53Xu91qmSOLFq89nbHIq9SbnV5eXMwD48sGsxenL31XZq2Qb7eXIFLmRuq
            adw9AbOreNhN7IKiROCjGNprplsabDGdLW+PWmqPdPAAYXErCmL9FV9fyOG+
            kGL35aIlCkJP+eO9zLRkRqP7YWrQYtMFvN91ZNhb9S2/D1sTYU5AIPSHBW8s
            5nA2qyEVQYBI6YNjd6tPb/P+BMu4Zbc9CuhGB74HwKblZr4BOlZ3Mb/kghb1
            yGfV3zY1+TDDIm6CAL9fc2GCFnm2Jd+yUtyRzk61Aw+GcHZbU26xpH4ouRYL
            k4gCsfpuTN2JRWB68u4P9Zayf5xJhzVpbWRw1wb52nWP26dQ3du2tYXtQt6g
            X16RAL0xf5nPKjEbnHEsG8tLBBHD12CGCHOZWhxXIaWfsKyqN4gQfg52wJ3+
            X2vXluQ4jMOuZFmSLX3Ktnz/Iy0BkI7T2zO1VbNdM5VOJ35LFB8gYF4WacJE
            JnF81CcXPcme2LOX2HCSFqwLVVHhvqkCg4IEKWLyJ6uUSa87+pNlmnqPEX9I
            WRyjbH3+llmmvCJCPPFwEfl5+BuR0eLeQmi8I0kCJFfzbBhcSnX8bJ3dyGgW
            merkjmixbJ+aNhpbOPKd+4ltYfBkkNKitI5NUAsuqCJnKy2AFwUdtIfd5eO7
            ZR2jMTvAYzmUBWxSewND+wX+aJi0Ue4BRI59BwwdRItDoQ7Ms/i96PeNXI8n
            GItt+5HuZAuahoCtkEzaj+UsviOWKhphMevPvsT8Fo4gBpMDZmO7eSNHgKAw
            J9OMoG3lGoAyKnz3LSpP5hjMgJTvkphHqpaQ7ez8SDBvEAjHoEFa9BD5Isp0
            eNgBMCArF2KD+1Xr1vFvMomtyBd+sniR0fMWc3l9i4S2yXySP90+oV6++UyL
            VrrI5rWm7N129k9K93IZIMJN7B9ob2Iy2HkVIVP6yHogxbuIOajKBc66s2wf
            gSv0SESFzqLEI69qJUSku6BnaEo/0byzs1LtlA6vPXt7j+IX6HlJj7+VgpZL
            ZEa3bIG5hsBhbg96Ar0fDmhueCeT6XWSRXcQRwHStgLsOjZkpuDAT6SYNtjc
            wy8ObKPTVvijA8aI9s1qF47F+uLA6mI+2pZ32zS2MYMOnfty/+D/eTiCqx62
            rVezQt3dZynkdKZXuhC+P+zfztSJlMsWM7qRpW2wynP5IMvaBmvkWO+RrvnZ
            37jMh9rYuYxjN1vtnn2diFFsOwcAR47rOAiJn4WlbQudTrK7MPyiavq0peKo
            qrSt6pjmunqTFQ2IbpaMY3DGg9+Lyq2BjUugvVu/Pcc/Ddbm3JKxDNgkOJhx
            zR3ZoALttSrp9/jg03x6eD9b9UTSbN7f5jt741vZuOE308zyLIOFkAWQc/Tc
            2hp5ETs46TEeNnCmLSUC5SExBy+zqqGjUGbaFu1RQsWcC2TCgmxh1iqBg507
            u9m1YFMWLlw5G3r0PjmDG5GUG024ZBZC2qIzWUHGzO+JabaxbpT0jIQJvtfX
            Jw3KpPeR9mOVb3kQsrB7OrMwkjx9tS687+aIEVsToNZgY5CcRLtS5F0xfexE
            SwUsrVdYcpQ/yNi4dHjGjY2D90JxZFRRlwrIPhjK+3JGrEw0mk7mrE/9akPj
            x3HOJN4dJRaOawK8/+ApAA6jVJP7RQDrhtsx7LtHsv8nVj9bYalavHcfo6R4
            xlOAeP3RwPNBErYOPGQYZCghPHAJC40PG2ae2uuh3CfcBlUTl3FDcspi90XR
            3QBhDeAHKOErSOBCgJ4NJE7cn+5sTpc8Vw/4RJxfRV4Z1JV9pQ4bi6D2C5QA
            28v+Qa+F0IEu+4f7eBLSS2TxKIMZMZJeMyl/FlaST7hzxBIQPdcfzE9dezWr
            0KMB/piih2iTAnN8QGzIZ7utDbwDmgsgBnPwuhuWgaYqs9z/esI8QUDMu+vZ
            H3K8OUCqC7f8dpzjx3HA/LPyOAiL0SnfyGbFdpGOAk0DOY0dyPyLPHA8HGs3
            p/v/sW8YenPw244UpQW6hGEiSGAjFhlFb15T0eAO2mkEETtwtAtQTbvN+B0u
            DFMapy8cbPjuKijTxFDPrKN9hQxFjDxDxM8mybVbzHZMkdjm723LarZukkb7
            +f6uZjD0F1kICq5QQCd3BRx0oY5riQPS7+uY1OaPL15NWaj4NoMWwo5AkK2t
            HpjGzKscUoM3X1zyTM7zkdCS67KWUBTHNpWEqB09InWTT8sEEbYfw5X80GIT
            AwYdftgnEOUA2TYwAyOGKP8+ozBAMRk4QNfPBJgT7Z4fNy/ZWvSPx+roiHoP
            Ij5scnyJNQAPdMuaECirgYcoPoNVZhkvcWVmofV/H9QUmLtyF9/B77OHIf2+
            gl/8n2ciZuH6sSqc9ZeF87/MRJC9Y99wWX5LrdbLE1Lu9xKwyRaYmRdKx0TC
            anC7M17/cWazjh9m3cllV4neNkI2fi5LF5FrE0sdl7iimduBY50Un7tZmMi+
            X08xZ1BzbO+uf12n8CsH5GNea3fx1ECGUDHXZbDYrCQ5QZDUwHNp5hT5ihTl
            olCvI03DqPb7gKouQa9COdVE3qyRkLFd3R9ICISJGLRV5Ul0HZE7inLdwnyV
            0ulyRrrtttykSTATb9Ylxfms7YKe7qY2SYv7SXgI51/0zjuJ3no68FpBJ2Gu
            Ojwxt0ItywlCYi9uJAI8zJZQQYo0NYM1rI1i25ei4Kke2eTZ5Ustpo/Kj9d+
            r2W+fJqB9IiuZZGkJnNPMLt58VKdPYchFFn/fpjyh6unSSKYOzwRGJCM8J9j
            0MPVrduptduMHAnemvcoZMDlaBaIlDGbXTde5LzMvJN/eSDrgUoUisUXUNCD
            EfZAShmjEN1G9h9MeGeKfQHcZNEUtL4jUgywEhTqLPzfH05LyMiXDwURe4gr
            u/thpE/7THA3rMnV1/2baxJWfbt6ecebeb15Y5oCPSLgHsj5Yh8FsBJmL66a
            zwd4VCGtiH2IIlqlvySCW7u7yP9cnSgPe2LAbEJ2GZC9eX54QoOyAudGOB9w
            LlCyB4e3ncO0c2Dq6AaowFNHkKsMOmpbCuJzwBPj+sjjkaWWKJ61LW3qC97R
            6UOBmgkWd6kgkFh+YdUY3xR57w9U/AbD3bcOYTnkroBxlLfpNM/PA9jZXa5R
            e31qJp65/apgYccHGCy6QC1TdYlHTvkN8U/1dYzjetjrCFW3m5pC1WcjLnWU
            +XpfJLoqCQTvrwtBOu9ovEvZ/HWK3ESiqVREYsLRYYhwKL5yaapbhGBd98+j
            njFx48bZ82gvpnbSJXtoYLMcnegk8AIdQa/CqfZrhNxQJB4J13bz0bvEUFfn
            n9LFeZ3DjoPqnPT7ZCZQ6S0BAbSHgYfYm4LI+H65Xt9f//v77dT3v2CMZmTP
            Rb23gHYAdr04dIYQRRTqu1LdGUErotib6kF5j3aBrTTsH9RsJGVJZhox9reV
            eZ+ZBZCa/nAioWlhiMJ7rFHQz2rni2nmR6cSbLsFt6fS2tKgJte1Mr01TU5p
            srlBloXZRfX9IR/ETlGIb731npnfsAWRdlwKKxk0RAv1LT/Se7Y9Sqcq4JNX
            QT0A7IwizIzJxm3QJwHVpM4ZqfGuJNjlNRL19yJ1cLHjaqJT00Goi26oUt6X
            oNugXVbXO1KzyYkxk/fMBe9CVI3E/UPPC+iAYZ7JZM+YK5aAG6ertQoIhPSw
            jtRX3j72g5sbBBWuBhM5lr4kzx4KKg5sucREcEcvr7DXijVi5hqjEGjiw95X
            jBK7MZjWdZQiO1rUXmVr/vF0yCzeISPdBLZ9BfFoFyPs8j+8HvpdBJoXsHNs
            Pm0MMfS7uJf76du8X20l47oDBUE7x25rBt7bbNL74e+b8kBhJXp7mTwx10lE
            tD05ptqLmk63bt5TR/OqEgydZewuNra+XbdrGwrrXr1XWUheCwZeUz3LTmPU
            gTyai/TGsufJkVZcZg7A1u7Uef2h1iWXU6iL9ENtYW0wnuFNqKu0CZ5UFb1F
            /Dczd6rWANY0wLopmpE/sV8XILOhUQKyHGQ4AUm3XRtmd7Jg88xM7TAzirpO
            IkWuul9Jg1OFjPtSPGsZWHsgy1YWqnpOZQfNnfrxclatw6b0Nb3lCtcChUVU
            IN+DbA8J5AxK6x1lW1T7lndLXAWvk9kezuSI8yjrs4+6ubZ1WUn7s4yc8Dd+
            J90t/m6+WEJszOyrqqq5uNQyHJ8Y6JtAER3o44/pOIU6e9LBYgrh38/rIy/3
            3Ey0b8H5E+l2QicQmdsqAQA9vBHoMOEuXytv6mBXrd3Uxal2CDlI3iZ27D2r
            Q8W8xZ08ENSLdgo8syhbfol4osiwDhsgOwfIXYhstiUs8eYztkvI6NiwMgMy
            nwFyivEM19bs2uKaMlL32R7ooNdayOcEK2X2juotdldysKhV0t18D5qDg5Zc
            UWYO1tgXS70dFelKWGbyh2JeYWdFM0PvS+Bf4LeSLb30iq8LsSrbiO0VY7dB
            f8fufWYceL8Y2tH5gxrTIZodGwncD77HfVX7whb3broVaESi0Ixi46UIU/Rb
            0wUQ1VxYnYWgufcTzRg2ApKCWxbvAZzYXdtJXlDX69VO8S5eZ393+hDpg0up
            /lrO/va6rugb8AV/TnUCoQ6lSlayCEf4+22wNkBLc0tcg3/L+30L3wtEx00C
            ktrIR/bBOlyumQiu5bXMPVJhyGqAmA7mt9eL/Y7EN5ABptpT7bYwI4uUgMh/
            OntcBA3JKFqBJguJwhT5o+GNJ0BrLTpu1Sw1BKjUO5BR+NpR8SWB1B4kIVmF
            MnN0ruKeNpgtknQwReR13Z9JGJB1DL4bIGhaI1JndH4MZPRu/0NziQdHXNOY
            4rnXXiUNB6h6KezvA3MGlUEuiHKrRHwJ3V7pS6BsO2wfYEMH8kJ4MPYfVsSh
            tm5T9e1Uf1qGKKN0GNgh1Jy4AQqIyx6squIvbMnulx3oZ0dQDJY+D9welMEO
            1Ws0WBouupY+wOoEtobF2TiB9EipfDfEv2OY+llsoTKEYJXy7kBjh8vaqRe2
            QaqdDk7SWiTpFWCkVioUhQInxKzY4ZrdQVq/Y6Hd5WMuFoFatxnjfB/wxUKe
            DOV6FEoSQV+PNzWbgpkNxSAbmAAZqoLEke6NwUuQ3Nvf2udK0nR47ypMCedL
            el1pklv1dfXeyR7fi5UtQdKxekZX9UQqLz51AaiXoPM4spne/9tESHTSvz08
            yYVzbaLmUhtoxmKVV3aZrNiGVFyB12mZgCye3y0lZAYNBEvb9g85SvcIsAmj
            Ul2p4aho3Cidi+kCK+51wT+9Sg1HfivzzHpVIuWUklTy5RfZv+Uj9OFjzQlM
            +0lCtI7xQck/9PSvnuVBwLeqHD5Wstl36i4sNP98LaRJLGJY3pyxlYwde5T+
            V9ytRgGx9ZEDPBaRpOVDYeMeBBBm1y1yrOyrus3rOKlC/cfPTyYf/vz5hOb1
            Xz7fkSH5y+cbco/pL9ufFpGWP3/el79/nhHL//X6dP6rlJLRL8N+1rXovXk4
            el/98+rvRdguIXXzWYmEX3vRh3Pxxp7C6nL2jXffGduQaBr8/aX30w/eJaq7
            rGZr+X5dfv/RSa8VHUvrokShOIf5s13b/tGEBK7HzKW9h9PD/eZtYyMS8u/9
            l/1bgMnq+F7L8jqH9bbg/Zfv10N/7/46gKUDpfKt1/gZx1Z43Tulye2B9MoK
            zkUuFICH8+cq7Hxr61/b7317f/45AW1/Zm3/c789jfW93axtfN2f2nT/8+D2
            TV1SKN/yNfYLL4yHmzDQANmtfabhN90PEV9CtUF/J9cwWJp+/TsR53wBDJdS
            m4O6Km3jcFiTI2JZj13a4oMkn4/oZ/t+/7mu+Oz9k3yQ0nhJM9T3ZxcU3wG2
            7j/Rn5NK 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
