<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e032</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e032</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e032</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>0489_e032_v5581</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>57394</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e032_v5581</key>
          <data>
            eNqsfVmW5DiS5P+8N3chdqD/QJC8/5FGRFRBM/eIrM433ZHlRTMaV0Chu4r+
            1xEP/sv4G0/4v//nv2I/7F848KkO/svx4P/uMzwXD338Hz5WO3geR2y8VtRH
            XmMcP/6FCxd/Tvsxh4DDcmyxPjXUXBO2F+9SVyu1tIzvD/6/Y1/G91oHjim4
            aseDHUcqS9vQoh4h6R68bRiJjxj9trXzW+DXhW8z+dHBDzh9O32bfVt8u0dj
            v031/c23K9j28t+j70/7uKWxtaMiLtP1TBjD96mP+sSgX4/wHGX5reYMuT0d
            T/1Mm6LR3sHMfr0e7s8Q18FrrOso5eLbHrPmu572Hn30HMtMKafy8HXSijaW
            vFZ+Gs6Y9eEIh8qnXBipJx0R1zpqPRIfls92hyPyDTADiaO58MMdsQ9PWRL2
            4c4r+nH4nO8jZdxnlVyMBELUi18VNIMD88QByS60buwbmoaU+RBF8xY7fks8
            Dq+7sP98sA/nptP34ZxzYR9eJjWQR9Tc9aN9/Vf9v+L/RcxNBsHkZx23UbWm
            /jbqScfXfvxSRVj8h1Xwvb/a8b3/vM7hVBjXz/152HXa8ev406is/XqeeBv5
            XB3fv/bXGIaR3q/jDyOh9et5Uu9Fx/96nrCWqHytr/fSgxrxl1/H77UVf903
            DJExdtn+z+LxpcL9j5FAFN1+P7RfdOT+8LzNYnDZwL/RP/t9DehmY9n+fYbm
            Df/tNfYen+yo9rVfvxVMBv4jS7D9x48FzfWntYr/s+nWa/WU7fhjH+/vGpbv
            P77uXTBX6+f1g6/l0xnte9+yb99O8Y0Mhtp/E0QytvtrYuKat3HuX/vnXMY1
            fu6f0UY9/Lp+uKK/y6+Jv0L528T30jVa8df1e7I5ij+u3w8jgRTGK2k4kb+o
            O91Z+1cCOwLLqCXkUFvHq+eI6apYP0duAUu85pkwiHEcZ7vBccXedPJT74dD
            PB4cfwWtLw4pCeQMmSwE2xmzTwA5Bh6aE40nvMAUT7DAgYu0+wRjaDzzv/vd
            BFOPVxVzJXeAVIxgjGXWu13dqeXf/mHanlDB2eYDYXn84z8/Lv674zj//+q4
            8i+PO//lcdcxl3OBHDTw/+mkLILAao7t/F/cN/67fTZ9z/O/O33x+HfTl9O/
            nL76L6ev/rvp+xf3vf6798jvbH6N8B/7SjASKMYs/91J/35fr1LwckjSb7pN
            M7/56rT1HkJcAfKeegCIMUawgvcTdIt8gltARcwnZP+JX06IixMc6Gz4g2p5
            QpafE388FurECf34vPH3HJm6D9TDDGUoQ7fJC+dDn8lQrPLC+ZC6GZI6L5y/
            cP7C+VDeMnSgDB6WwVMzeFamXnzh/AvnXzgfhJkvnH91KHBLMiQbmxd/07d7
            fX9LOV761sNlMiZI9evQN6FnizlnqqxUC48TyhdY//M0yFawt3O1+2kQKidO
            MA7aoYqHQ6x2huemzp9vO5/nzfY8PT2tpWf4aqLgiGCZp86DnhnvUo0EKk9/
            LrH5I1deJHY8AG4az+fm5/Jw5qBeQGymEVaK4eoDD9igG3fTpXu+XdBjEo6z
            /CDKLnmbe7djOlTgGR9p4xdV22ES/ogPlcvLz7mk/WTT+fsFUZLwvLcksA1v
            ODNfuA6QU8BARRgtz7P8fD5DLd1WH8+/K+5Zpc/OPVijapAvm6p1p9On6pEu
            2E0Lo3TE1S8ZP1RXcMwsNY8eU7hK4pTtN4Bi2TpHRlfETOwrFlNousilg0af
            jMnD88yVP5O3n6cnHj/O3GTZVUx2u54rVlpNdjymNEcyt0FpDAEMY6H6d5A2
            rhPWACE8F3W+c+kY0OJDwxL7YzcSaFR78HqTOzGCe1KxHH0i8ZyLxPFjUnXM
            uXI2teX42zG1yUrDw9PcKoUW1jMKJ77bSzQSS8Xw4ahQOIzxBH2BFic1PYwW
            SPDC92LfI78P6EIzjkB50HkeaAXXXvORuRJ4fuKbXlRtc4gQdR0E3DidsH94
            bLNjj3qFGMOKJGwM2JxPSycJKpqOjNHHM16Bq66/731BJTZWSq0lx/MvBH9X
            cohMwwyTN7mCabLnHwTfPgQ/pDOR02joQCA3ngPLs2bwxa+FiQV+tyGuwPeX
            9gwKr/u8RB2J7oHbzuOx6+axh1T6flzTbILYjASMRdc/J5BUi/HJZpFzHcRi
            q6hFu7heJDwwBPYqunIuTvNUBcEbYK2ShqGpLa5POimq8ZpxcggLlLjQRwBN
            LjG6RolX82OrDxR2c610rb76PXzPZ/h4TknrKZvH3FmvzAu073PSe07ko9eV
            nyrGSPLEMMl6zX5OofSB8CmQDKWNPPBOi9ZfqGTOYZTcQTKj8cUy1BjYJl0L
            3Wweey4QXlt7HU+aevht5p/P9SEFklPoF4WbmbbklzcXR1ggYZ4zTVBAHzbO
            M/CuE2s8gKQThReugWUAWmkFvFZbCgRxNhiL63FenJwLdLqHQPbhkVelRL8R
            mCwGE+yBvoNTN4Op0UHP7W48j9IlzDvPqDU+OSXPpECp+xqHPxQftHFS8T1i
            jWKNTVwbE31xmyYHRgOGG9WpAQPjfqZN/tn39f6YyCRLOre4z4FFc0rBJTsU
            MZ45yUAER5AP5KHjBQRyrgHBUcMrOJqMsIX7kyhItNEI6cz53Iz6uqjD7Ptr
            DdylQwfy+2cn3tvPOfgbXUzLGTqO6euZVVwI6gqvu3nhQ8ad3GD2sTvbKFyo
            EMsRmkmj/ZO5zsk78WbQmiCcL+h266Rgw5g1uYqgi+D8zd9WxVyO504w0u/U
            KDhSdl1gPJRG3Ak6Byexm1MVwsGRZi/ZA11TdCBgG7OsQyxdajBirvHskDig
            cJIBV8SNaZGNDUnhK6LIGdenXD2Q3vjNJOHINhCanOkrQhMC5r2CjDuoNgdU
            ksVrjfk5PhUcv0BEfatKMT7rtHtgBV2uKkGqrc1Mdd75dKzeFi+uDhIGdE+Y
            tnuSzhtyX2pcNjUOcuXukKAgmnQ/k9eJ4SP/ub/Qa6iVFvNY9d7XwnM8Qc4n
            v9Zjq/glxseIEYK4OzHyeUp4Vyueh2OVabLbNbgQc9PK5jhhzZW0eTU4oDjN
            Qz+gEy4W6LMXzpD/dib6O40EJp/PDKfA4eAl28TD8xWg2hz3jXVFBgd2afxh
            0NOw0nStNdCco3MTIhPf8ZWKbDvzXl8ap56okdMxeVDDC+tP+RmhJ0CQROkm
            dACZAFhN8hMEJjkNxa7l8r7+rGT2/qwwBEQmB1mUkwne/tTz3FvQxLP1knVO
            oOHwyKUVst8Hxyaocx1yl7fzc7DmStvnHNWeLazPOfWwc3IUKfCcCwZI3+fU
            aVMTv+6D6zw8Z4732W5qwHsM8Kf75PwZAyi1N8dgfEjgSXne20JIt4l3kHR2
            pdHIoPGGe3klShnnAudNX/1tfnd6c6QQ4pU/D3pBE6+mre4LhLPPV8KFagN/
            d7splRZcp1PBlF/LzolQ7849Wemx+0AivJOVnXju8d4ngY2MfQ50Eb1c+Jpg
            PBd9te063/tgjZkblwL/OY2Zh30f7MP7dDJUcIzHeEAq5zIzi8s44tnN69+q
            r9uyzbSLTPg5r9TwXGftNNeu5j47SfJU0zpNMEDrx8MtW/E+Ic9HknOcpLWY
            gDzED/LDQM354/O7SFKbuaYtqMjYtd5nfvZ43BAEeId23SIQMnO8/4ef3O76
            u6AGrWEksO7mUZcvBjU7JgEPQYaDpd2NwaVR19235gnJf5LB3fsBcH5yRjuD
            nZ/w+tRIc3onCMoMiIsD9IjhagWm75WBc0FAbV26b2HsARL63C+O602ZdvEz
            qVAOTUOwe8C4v6/9nHGa+Rn753hoPkNadRYRcOLAwiAIgjEtvPMIcivYc/Hd
            RAAkmi2lH5lZBxcX7vHoOyR0TvXkvkuaTMPFEoYoi6SwKPjOjC8FcAPXcEBg
            3QgKqjK34BT+Pdr3cPv3y77nlDHY9jn5sdSwlpzyUH54DOMfp7SKkzIoPnZc
            fo/JyUjgujkdZFozQPpT9ShUYKAFpAmd+NT+4wRl0TI+KbXOZ3ALilv6TpZ9
            RRwGzQADDAk78XmOo75qzRg6j8FNstmFl+z4m4F2bNBLz+qm5aIz2aIQoMmA
            6wwRGbRChTYx0/IPiI3cnNepyQ3Z9o9s30GwDEBRA9H3DgNSnOds0seTb0Ox
            yYCd2Yzd2rZ4VGJk0Ndtzmv5MP3++VCIDToSbnDzUeIyfb/zVcBpz6j7maVy
            dN+GZc8dsm27R2MOv0/w6+/Q0sp23bVse/l9VvfveW9thZ/Lx+eyINLy71AK
            JYpoM5fcwF+MBO7r4sl2EF5XB0Gd00V9gmCX22QxbqnPDP5IVfTPtuXoSh38
            7x6SzkNMwSOvoK8OsKtBAxQyuVp04SxYPbLle2IkAjps0vpJDEDOAMuJtgfu
            SycGVb5on7nt//Q9LvkgB889KVOhEuJaHX+LmhK2YwXb4t0jt5B1gffrybYL
            2yCuI50Ok3IqCA77BsR0H3/qORlrlF7MQ47H1k0MMvz8itv8Udn8HLxoVSSz
            BKnPp4noHvY54ObPvF9xy6huKrkogwAGIfU4rQ9o7ToHvAzWLT0O0HPi8nyB
            59J6czbKi0CRnEUPC312XmDpvMhtF9GyoO6azuOnZZ7LTd8Nz6MvzZWsO3+d
            98Og0zng73QB271GNbmNVRX/wQg8GZO61jr2YNZoLHtyBWlgYkoXo/BgdSAg
            WIN9PF+G1mFGKfRzpg5UcNPLbRZeu4ODrPd5qFgtLRBd+9Xj8f7kfuV+DUqe
            O+b6nHv5uXX1/Ldzw3suOUmeaa2w3ykfeCf6Kg+/74CQwnvhLhBEKY2LWRRX
            Kheugv0ndK5TCqrG9Bx8nsTA+WPBYmUT9PISW7T5zrdIIOBSb1TmlFN9Nbl5
            GDygxc5HBys0ayCPIJnvytGd5Ekza5+ysDhh8HONEId4uL6NJZi1/TNIUAbk
            cIWWaEoXxPG2MDhIT32mtsVSNHzF3dLC8+Ei4w+HVjNLq839DtMti5W7uWOy
            okCt6v5bf8DrOQHznOGrFCy0vStu/l6lJdQ1tfozdJTqBJxWH/ucPBlwfc8p
            XJsgsrTPgWhdcratvvY5t4zIzWFg7K3puREY6uv5GfYXAZVM0t1GYYBiTALq
            0a6J+Tk1P4y19SbBRSf23aOljEAxpZQ7a6zybivSLE2ygA0vmzD6s5ux8FG7
            W9hN1Awt83kpPGylTA9fF9UBDqr8R7X/6WIupuHSlXPH9JSUfk0oj+lXtpyg
            EWQqyoV1dnsOuX3yGK+VDa0DlkesYI9H36ZWwU7oYM6hYGU7G+7XGyt4nvsn
            VyvzJof4cLVhHGoc/+Cj5ASf1HqkuOIcpY9wgvN4ld0zumvJjl+133b8lPvs
            0vHzc/x6j2cKSLlm/hx/g/3Tkw3Z8yqte3Gu6grqjJHWB918x7ldeuW++6in
            6QIhKqvFX7Sk56a4H9Euul0pGEzQW7ulXQZ6g2UiDm7PuqNRGjjc6bY0BTxk
            cxOzQKx+v1QrUiIvI7Z6VBj6X/50KVdl2Tn1aBd9zZVu3EfBqWcuEN+xTUfI
            5eypEdAb57B71vm55817VtxWZm3kVaFUtnsTFkZtMnWuRTsHKlHhu4egOIKW
            lNxlzA3rYuNXpUsq/uYMNd20XlwWD2fDkIUvGwYB2irXOfTTVVjw0I3IupMI
            Z3C5QICVrRPRm9BxPwU+zBGcqLbBLALrwgqHFTzok+HYYZXDSGswiS9aKIHB
            uetjHQS+B1ZnwFFGArC8lT1Hpc61f9u6OUECxMl5+PfEaKxkLmRqCrxhlgIf
            wyA3onYPSuRLZsok6QOmvM9VjFVOy88xTlALSFaOGlxuHelXWL0XDlI96U+i
            fwCDVPMzspxVNkiKTF6/fZtRNHIUDxxlmQp4T38PKMeigZ7P0GVSMdMyDDrA
            19PHkjNpkXq3yYXjpPCeTJeTVrH0Xo+/335P0w0qdI1zyHl+iWPQ3MGZ9syv
            b5F+i4oLUeTN7cmv/SQH4rmk7ds4H16x7AihxAKVT0YAyUsSPeuy0txPWjFj
            WRlRo0g36dLp+pCYovl+WZgokMuD7kBB4Zl1isIfv8ic63ORNewiOdpFFLka
            sol1Xmo6jy9/wjI/d0hUDgDZ2HaeDnHFqIFaS39j2pxsUGQ5t1O4URfpenAP
            EYHco63GG6KKE3snhgqNO4GKTnwvdBpjdU9/nqscs20dRBG4RZlvcp6DIU5B
            bxtpPsjZ/fiqvkv3c8XcTN6XLx0BsySdReEasWt6c5LSaemMgWl3k13DfH9D
            3MlFp6J9DHMzUjKek34YMBZ36uDSC8RNQqDecDp3rJ/reOYdOMEpz8mk6X5v
            7gimQHPYCUlZiuSO+znwbkYChTEpoyhSURIVUTFsccHq3w/wMPxCKj7sAi+X
            aAzN+sPQiSQ2xbjVpQfCgJ/cKuvu1Z5BL0wA8Wsn156f9+FiimcrCk1hRfL8
            c20dpYG5WW4uOQKfzM3ZcyuVOq/hPIaBIOPJQqkBGpE1aFjnuVfnfYEtc+Xe
            fn4Aheka9DDatcrJsam6XqebF2uYn/W+ds0KDvRyqX5h1XJ0ql1TuhLW9RFM
            Zwmnh6mYJ4BX4vNVEAC3LW153dpY59rPSc8URXTy5wwK818a9zzcw8gxj3I3
            61kvD1lh4VKUXMviwsHnoGfGCHIKlZImHfPc1FIw6JyQe/mgFJ9gmoLlXCSU
            ce9V0qBogS36g67DlKaA1/tWmjQZYIXFIm4XXVpgJ9SmlSf4aBKn+ayjMksY
            PstL/535MvMf25+fb/ssByHEOS2kSIuQcdVk6akYDy04PJ5o/biUKpCUDUI3
            w6FIjsKlCutj4T545Ez3R4GyLEs7n5EOt5IVaoMIrmZ36juddZKklIaKTEqa
            4R6BvzdmQUGahAV7NeXDz2EWVPDP4fOZx4X4j8d1HRv9WEpOfNq/Q5j5ec2u
            E3DDx37D9vxxzc/nm3mhv+6j9/zb8/FzPWvjVuHNFi7YMxnPAXEOYwKfx9Bz
            UUujOyunO59XYu4PLXZ/diUuPQOKCK8Hk4H1DtNkUxyUIu5V5klTugydlf3G
            YrPvtftWBHDfWgiwme1Yqv1caEHi8CzgOl1ufYhzfoa6M1avou1Bzsu8kDxu
            SweyDKxzmcg/h2dkHRb+hJ5kbou15GzsUhIpfKdcINB0tA6eYQlR1VOWwQV0
            PFZA0zq5s7sL7b4737z7c+x88t7te1+23fnnw88rt9mMWFV2PYYalbhg23HY
            tvl+Lm53U9r3afdpfnzPtoWNWCyP3r7vvPnhz1ej0idhQfu4XUmSHnNZvvPq
            0zCrv/nz18uTJbqNFxSLaJrFszx+HadSYOhx7Z594YN7U8pso0z2n2WoNFOa
            JUqYawi6gpFwQynBIWRooNeL7s8QyyDzPMuIXK1nCczWzJAsS0Z7GCVK96sp
            5hRbLBMsa8JcCKAM5T6CO7DIAjZDHzFed7lSc6doXqb/Pu6hPqjTmWSTL+qz
            1fN2Cp0J3oBr47OSFG+woAHxRP/V9AyQKTWnYgvzXqENJl+k29IVFQrSNnwn
            O30WwOf+Mi4gwUO2hcJCnHkq8AoyCndgwv5tztfXGXtoy2vLSQtlJS1ul44L
            PB/C46a04+dEHxV1569F2ANM+8EkQcjjRb068/wuVxCsMD278g6SGSnxpAi+
            3weX/8cpptPPYf4d6KY4rn4p+bTein2HxKmFk24e5eOfrpfGSpaSdBZIdU4E
            pp7rJScoJqAU6P2nHrxID18yJoIGHRME2TvptJc+wkkBe8OAXnJA0uMS5Q1e
            jcIt0OkCgYIXT5hY0sdZ4oz0L2OCIyZTzmsQxkpMn8UW+2u9UoQBszr2XfiM
            y0NLm+m4cIWokNxNAqFLDtcLHVs8F1R+OUvFHGeOsZFY7HPBoEfGh/PDWNqd
            b3vWUwb33SRaKz4v+4ybQnexz42fq32+TgYD7TOMKcy6fWaqyHndjIZjCp7r
            nPa54WHPZp8n9FbI8jZgZZ8Jn8MNlchIgAEKPRysvzVvuygMD1DZ3UIXO+fi
            hui7Smg0cSvmCooNXQS0SJlXSH0JtsBzYZXJWm1lB/YKVlGwVcTJZACS6Q2U
            J3ShnbImmX91XRCnWn3MuGIWhUxwPQ8zWJJ9Tkpb1PU82GoEl77FEak8mygi
            IZYspw5jPxYjGlHqUwC/t2w+5xgMJsU8up8HVnG5jjk38TJliEbQZEgA2jKN
            NeqWCfoPrK7BZ1INWIXlW917T/2RWZE5g7yVBZRqIoOJ0ORyEntpfnzX8SmS
            G9h7XeIoWelYBz2xC/y0rby9Cwya0yBsjUHZbvsnA/lyAsePvoRr0oOAAemt
            Xha2gOpKPkRZrZemYsg8XL/h4ERUZduLJUUm2OCZyzxbuk9yIrshtNlG5xUm
            mR5SKusNLw/JpwlKM7ECEHOvnF4sdqwKJiGHJqVfbKo2XWsE2qkBxmWIm0OF
            2GCa4A3SDavylDLI2qa0mB+O7WMVfrU8JFIMQ6LByBWOxQAOlYKfg8EDkSYq
            ZWV83S9eir6PCsMqP+M86xC3o82C++GYmk4cA+UAqlulAnyndsojfF3HHpd6
            MnctMhaA/+/diZtjtZjxRSGOsbu2gTcbJ4jsujDMerZu76UFU8XNwj1a/vGb
            CgrxHk+0wDw+6+V03mB4I+NvpcddT4GE1KIHovW+haFwi1/He5k/uKtMVqoU
            5aVRHAcE1s6ZoQXdKlywEIUenOnAsxRZpvkKGJDl2ZQsDqRjcT2pzVds4Lr4
            HqXlB0UIIAaylWfiRc/wRWCjpVhtguT0AAfi6mI2/QWi4UR4mP84mfxMxRMT
            SKKioyEd1d4nQdofjF8V0gLuF24RY7KJYkI/7516U+JKkCMPz8ez+9c7FXIm
            E3uYwLI/3/wcvgjpsefkuMVLORrHS7xni41/5ulfNSmlUURWJuNS5eSzeUzw
            w9HGkm9vuIIn9zI5mnOowxXk0C0AvTne5Qo2NnJxjPtkIQuZhtXyYayNBB55
            T21nta3YHSNW4ARMiV3nwxrdprBU0IB8BpEEAeIYt9wBd/plHTBaLJYM1rOC
            6jXWZtOKjGc5DOUIhNC9+JDTX3aZ25eOQHtJWhtPJnXDCLNIND6L9fLaZ8Dk
            3yQH6MfMstnsEy8LvjexXApWAsw8MIFuwczKzHbLeA0k3Mg4WQ00rJgWT+I+
            +TsVw8HkK2bDDHAsyJCOG46bKaUXg0uK5Mv9gNdgCcg8WfPXaAxwShLdYw2m
            ZRnh2NekK4Z5C9qP+X/HtbC88kMkzIxR1n+5lD95dtwXNnmdfUhRxXuAgIY7
            lfVO5MSJUQhw4nMq4DmZgTgOuUhGsMhVYvCdildieQIs8jQjDJazXFRkpIxF
            KYNpP4RWRLZVoNJ7XCwqiAZ9sJPlt0yPbL58AA73HkdmVUlprhRvLxvFC0Lu
            XVL+cO3EUgNOSqFyFaWV9/6M75Vx9XdFmAmWjXgYbTHTMAb3JlseiRMjZNpg
            pjkJhmZRAGFin4iQvzFVgcT4YxFMiDT6xKg5cvIxRmDbJr44Ic6dynjO/XkE
            jeyPxXBgTGBch3W+fj7WaU1PNAp976f/Ctcw/4lZP5FZukVWj9XG+3tnRg3c
            a08da1YS6ZfugNuNCYKXqGl0J5BbmcU2C9XBjmk606acA3qyqOdSXGjqhUBJ
            pXw+Mwd3f67rUVCynVrdd9iDF6QQBQ3gKdatlRhuaM0MEqfCXG0obRYfopJX
            6ZCE7LshgwdLsCfsSc/gomzbx+5Icoi3XohyULnI2OJ7gNmbiJtA2fo+P1OX
            K8cwMq0Byh6s+W5lSUwZvKImTIMNmdE870bsNFiAL8XyRUl0dDAeTkoaLD2b
            +cQ+85yRB8AAWWedkmENSs3IWENdGWJZ7EMrZ30rO4VpxqFJIYMcF89OnsH1
            ZJvxzeOHb18tFlOgQsJmXktqtV2s1e3Ty5Ls06YMrJXK2A6UvZKUvl0CFB0W
            vjOPW8nwWOUnKPFkdJqxfeZxV1VIBVoPoZhGzxiG7GeKAQYqmcTz+HHlYWXm
            xdCCMasMplUwAMo/BbPxe2TTmJkug31g8dnhOi6FH65Lti/5V4me2EQ9hOfS
            SI7xPSfHG4QSPIaV2tDn0+xt2tVM5CEZkTAn80FdEcUYQYF0JQ3GHytJdG8Y
            zSCBBuWDiePPTYpihQeWVQhVSZlHYe5CUHk37oiV4C+hAYoYjKU0EEwiTCrm
            GEo2mAJlUUVQebeHu/GyvgKVFvCDldBVe33MHFLsk61wIDIbXAqDsQuslFMo
            Al5YwI/tURnO88P5w5wleZjtfDsKJ//y0GUzHlK6fCVQqzpcG7MtnjlZXQ1X
            Rr8t7q4qB8/1oxSwjPtT1SDyd9K5pBA57cUBYaZ0MpMj0ulHkADBLE6WSRZF
            J5l8F+p9x1e1HqJo6L1DflFqbNC2YHnRUWJqdEyKQzFYPt6k1KDYxKCGNttz
            xwg+eUWG4MgaJ4QBw+fTQ8ZhuLDFmsYU4M2olJxFAjvjd5gRHSsfgvACi8az
            jXimSwAyPUxpnhDMuE7F88XP8x3+fEy5g/lxdI+Ytq20MEx9mUbdPclVW1C6
            fzcO5NsoW9qdOXzHf3FP1Rsne09Wc0kuRbfZcRsjAVb8WoDEDi5+A3/5wbLZ
            48KI3CFEG+Tgx3OQYaJedTLVihJUcdjeLk1E4sAxEEConEqH47IXHJ1p3JH7
            9OK+5b0YVckiQnyvuzQH16ieGWz1TAMLox2+r+/ffn/Hk6wwraayepawb4//
            re/l8O/JntW3+h6v2/bzuOLHxV/fw6/vx8/v5fn5PUBFo+tT/ISJ5CdoYNKP
            fl3FxzHdfu60ZyrGQmkvY3vbFsdN1xwLPXAWGMBB5jXqeflJzS/iwYGJpU69
            Sa7FcLkKTm9QWfUhf8zcByXwtmMjaOeJoU8a7UdToQU+Y39+rwPiBBOg5UQn
            6lI+MT935lgcdz3suke3a0emf9cvYgL/u7Z782B0Fc8T/05USgt3ogqeTs5V
            SA912uzb96f16/v567sHWkwu1T2GUHL8e//1vf063wn28LFPmOQKjl89UXhr
            v/cyu+9aHkjZZWOeDZ1dO+6MTvcPEFB1u3Jz7LN3TyTy66zbwgmwYxW49iiG
            Tm7+faPs7CjM8ovvqMtG+dlRmY0StKMvO4V7R2d29nPc0Zpjb+245NfZ0Zg3
            6rKjNPlnFGZHpULfUaEdLfKt/x7383qU5vSs7NxtME4fzLWztvPP7O3fqedv
            NvfO7vbfRZTOBYavft86tMCA8CGbrzO6qKQSZYVw2MM7VAU8lmxCZqwLZsjF
            IjS4ndDTpTwN6BvislasqKQdKaKRomF72q7DPG0SEVKvxqCTpDkXaEv4YWLd
            KqRoj72EDhwq5IPBZi+0L2r6AnMMOT9YB9A/oQra79Hde9hOgrZ9v3Syl4at
            1dvWN4J7nlhVSZwD+pCCGeTN5BvhJAadFFCVWKU5dvpWpZcK+gqzmlijPJsj
            wNH9Od3X6q5Nfa7yaOGOIK/oJpOJls4ITqHbs6jwvUnFqS4eGXWq4xSbpu1B
            P+2ACE3DlEDqMaUGuUaZO+riSjge9IEzJcW5aOs1blmdGI/uCVwx0OsQofVA
            +WSyBoMoHH888yM2PTrUKupWAk/Cfun80Lsi4+tTv4GfgOi4n8kwhc9GAmEN
            N0z2WQdY8ZKbSu5NR0dISku6YqbGmwhWw/phvHUkoklOJ0OG9OpD6ufsYsId
            9dwN1tqZu32yriGMnWaOEazhLmDitUmZ44AcAjZpypZiHWA5NViCVvl2EICl
            nmKrvU3YeWuzWK0UM3vM2eXEyKIbEowKceia5PcgMUJTD4q/+VR925MTsnw5
            XEWY+BTtXOkQLgKiy1Rt8d7x+WjuNNIhzRbFEpVLPucuayMhMHGEytirqLru
            hAFesW29QUqpFG5ca0qkftWYsO7kCCaqcB+9g4hsyuxJu1KKiF0gqoDrwbri
            iokyHC2/0pTBI+0Fsc3caLZxvdNgzhNfarPjHczebLN6kcyu8Lmy+Tajfw/M
            82dcmmNhporMlUGAKqVZ2XW3TNuyrnvFz+nsFWOj8todnN+gd2fev7tF5GBy
            ryx0mbdl4paVoVulUTOneZqED2yKZ5rpUhkTZZRhqBasEE5DTvDCdHCFfvrc
            xeE4IJpDXOq/sn6YqOhUSU+1vByTy1CzPpRA8bX/2vuhcfdkITjux0zPDV/C
            1bEaZjnSaanMoiGPDI4rsZrP0LJw+/fxVmGqVVJnh/Ul3DQ8c7hUNxz2ucnO
            YVSf5z3luefdqZsPL67AoZVsUqYP2Gvi8czLw6q99udAuAVhwuE5Otkxzifq
            Cd6t4vx0WsG8ggRE6EjPzWyVFRgioW53HXPLOJqceJarsKofnGE9p79Lp3cQ
            iwUUbM8Twa1+3yveP+81O96JKWo8hmHJsEnglAHZs5KLbcDlq0ytHApENzox
            h2Ritok6wtfxDEQ3xRJ1A9zTzuVSnT7AUSnJeiECGPG4Dh4XrleuBbnzx6E8
            /UB5NXIdl9UUik1Uh2/B/UKzgjltY7f8fsjmTq3aMnz9OQdsfhYDXyk98rDI
            jab7g912pqiTdd7CBRqz0nyixouTasNANsuUoHvzRyTDnP4dLH07LZiE9q2t
            QvW3cm+Pu27OIPhKcQDbQuVWTiNL0GbSNcvO/MC+ObbsBUGI/XU5jgQxyLHD
            o1KRob9hFpXlCWMzEQ9okODwhOP0aBDJnDQzwVoj39NIYBE+lTuhmGi7otmY
            EKFM9xa/tc/1+L1VfDVaIqSwPiQD8WDNAKV+ppec5c0T/NpP2QEWmPqzE+72
            53p8bZdxHSU7Mij5/z04HrZjsPwgllDf1bPc4TK0u9ba00cOQnt5U76/5S2U
            RBb9mXabXGk0m/5/MoFgcldpzWoWd/SEHjSt6PM5qTRaAoGFOrkfRH22aFx8
            H9vBPVhNjUGcwR3qVePZ3BvMGNyhF1M2T718sEkE0AtJ3vxe0v9g0FmjUi7o
            hS54o3lrik9wFQIquDQE/AMmsFQvQFMBilPX/nDT+xmkgHELlUzH8ZhIriUb
            l4qCh8zkoHawqVJY/+xeOXrgaCowOzLOJ4zVCMLC98UpsQR733zLc9cNz5je
            9EpPs3INImUwJ6RECGnP9KCWOMFpJkuqEiP+fE/lY/E3KJXTzZOcXSnjPcmo
            WaUX6BOYtNEV8Ge6ReI9nx1Kw6407qBcFsbDYVXUyfLvm17Yk68Le50YbpN2
            e190OjJLHmMzy0URFFJh9lmg6MGgdkcITXcU0mp/wzmJaWpUj7ZWBrac5Mqk
            Sik5pzTuuDDg7SZai7TY1DfwNCuliB7qE+7XrX4edLtMbafxO4gSQwnWQwf8
            2I6Vw+OWuLutOgWNab9Ry8V5zE2ibobXWd9ZlZbCz8VoweO8Fa9ixzFKoBwx
            pvowi7P78dmOT923Hny+/Hp5X89/z/772KXcXoq+FTNzuaoUO9rvDo3NpEk+
            T0sqzr6yXb85MO4uOYeEs/OW+bYPvw9GqFrWpm0vf/6w8V39eWO2+1wunug2
            Gjvcx6TCRnDE5Q6QR0gYmQlexSclpfpc0FE1AVnpLKp32JNAe24GY5HPJEoZ
            8bNSUvD4kgwGi0qMWs+dgw7aXslWQVfMHpP8DLMtmdD3VFynUnW26wSp67RD
            E1HMu2czYvFw9conPL2St3WWowVbKdjf8vf3FFtSDsfd+lSBgV2fqzOOM8L2
            LL0N2bDBFcrDnpf5p6CSi4HtZnA3i7i4IkRck3Y9V2skh5gCbYB6RuPOx4Lz
            DB6IfYQfYAltSD7GPyYFZmXa+VeJeHdQmQYt/oPpsbfFDkYXNK5zi5c70Afw
            CwQC3/n7kt1fea++mFZCTE6uoOrP3SwYksWdyHIycxKkn39lTfZLxZXC03mY
            o88yEjA8uvOcIMJ5b+dJBk/SgJzMqrgEW0T/SjfHgVi+sAT4G7MDi9uT298r
            jTZfcd9TtWsbKoWs2jI6D97f86A0AJmiq/y0oZ9t5TyWRWEg2BSfQwogK5wK
            c4GpYWeWH+A6UwqUFF0GOuiw4LOGYu+RLZnw0Nbfg1g+Yu3c73b4fg/Z+Y/g
            ovQe4bT3SJe9R/awn+zks94MboM4ab9i1sEF/fzs55N49jOxshMD3pPhM0iH
            gg1v+pvFIYRLEp+v+ZQ/bEgZpgZvJBCCEHzIRJI/kFMcZdLkRRKrrDMxVLR6
            WToRPB+KbCofqmIiAOPNGNKPtFseF+XAyHIFMm9KOVKGzfRj0mD8j/Wh7iBn
            TFWExpDvaMqotk8IFxRTURhXlDrTfN3BsgnNSbE+z0JzkJkf0B/ORXmbubgr
            E1ogM5lHR7ALpm/U86L3AItfYgxrm8Qup0GSW9M+QzI/RJDxawy/hjlHHCGb
            /y68hYujV+xscZN/ip21tlgwMfDsmKc7FHKx47Tjfp4tJrbY2/Hx5RwgqhrL
            slMIKkebO/v4MntZPQNIrfSauUN/iH1FpnSYDA8s9CQEHBUjDGOhe7Ow7sso
            seTn7EUJAbSTJ3WFzHw+k994EhBtCk/ApMt1CL1EWRpFSXrSaOlzYDWQUmmi
            U2ryOr7sZWVGyeb+rKYZK+TJevcovBQltH1rzi1o9TBXeGRykO6EtP0HjF+f
            nvtEOMUsJM3BbIo3DUeiHXx5Byh827h+mAxCup5Eih3FMFi1zJQ9h0Hs96Lz
            M3BW6lMVD/Y8mZPZTaz9hU1p5nmW3tQ+aQ4ldYb1QWKgQuarkiyT8Zvu24Nl
            gfloQ7FK6gZBK58QFvQkPFzW7M3BLf1kVoCWCFRJ8NgrSq1n/I5hmqr9tVrq
            PguSdVz6HCcEhaXUhZvRPIpDvNDkvtLtvH39u/y8vkzkr2vU/Nz3sUuF7Zyr
            /+dzSrP73jQ/apjCdV0W/FaQmsFY6L00yumZMoAABZAvHgeqJaAJSwZmpEeq
            S2MmXj0xupqOyZ9jpp4FlE1NH8/KDPcpe6uyiGsyb4duegjaJ0i8Bvoj4y7/
            CF7+fGXD1iGbtopRb1ISWGMqZCayKMb2nqdYunvOzdMNMhNbJCVt3cHanqxW
            0L5Rhf7I/aq4U5p3FSXAFguw9aVGMc4yMobxvoYYw2mF3cdlcRYleT6PJHxl
            7HI0R8rF0UsomiBheiQ9ZYHZymfvD+1Rz+DVWgIVYj43yR9vMu1JPJa/H9vx
            jCd/m4LMWXpO/saVgHuAgzzKBcxXWjszOSiSz+9kYjcTbHXNfIlqeHy8L2Ur
            x8Vcxb7XOm2OyMLCc+87L9q6QghQL57tbcebh2BhlkAIg9OPTxcEG8ae012w
            PAudH/7b9fVbhXIIxbvcKpTJbMPypL9cg+n3GNv3O9YG2fOVS0umvtyKm/Fi
            asYQTEoWMFd3o3dV52AwiElB9GiTMh4RXZ9kVMKxrkQUa76QUtYas4CPHTcK
            Zq0fLk3psJJKRw85jK+HXoVsx27sMLfEX2m+yf5xr7ry+gYMSmagDU9+PZRO
            MRRJpRrTLUGWFv2K7YRKZshfqe8K/DdxKO5CnSy5CZrODpXgmcaeQazEn4tw
            PztxJ3itgLsGVqlXV7ekw/A/synlLP0ngDj0R+aGHO8+4i/jTlBjnuRSkskp
            yfkej+lEd2d6d9A+gr7SK0u4+o91fP08h0q2p3L/OG9MSLjx06p+72uS7LJK
            +LGdfrS2k/HNwjgUiyk5/kxLBxFcGAyaNjLkVO5G179cHy2GZuAh47h+Piuf
            sQiz+j54TWr0TCIGqx2HSfeEz+H7OldRhEAVyiTK7NleY8PFetOA6kmhlUXI
            LUuHkj7jN9i6ZmE1LXm7qlpOBYMU8N4uiHvhZXt9DQc+dMbAcn/duBB7fwE7
            W4JnueKv3xLRlZZAz/78rdlvO+nyz5eCNmD+tJ1cJIVcDsNmPrbgOqrcBTTI
            +YVetVPFeFpWgbMONYSh5cYsysxxhlm4IfZUt4XXUjzDKFphWyp5nqRpiYNa
            fwQVYzi10XHU//q7lzdNjy0EKpKeK3/hrb0aBA9m1CkLaKl0z1YGI3PUxTz2
            cA2WyNkgtRUNPocFvYGQXf2FNRkkaaXbRi0duTKJQPqkL6j2bmgiIbJOHbTb
            +gv50QVLLMx3z+E1my8zlZWZqatTPrMMQtIh7H0HXY9cY4QaZQC4x/XgXT+N
            DgjqKzgNJQNC1RUTLUpbPTbCelYrI60krsgrZk9ziBwqYv5Cfx3cx89HotoL
            IiYnFbNhdRV9puaji8u1SaUAMdZdtzdF9FfpaOfDRgi150q85ulwmN9DDeIb
            b7YijWEOym2kwt5ejLpEqvFL0gA0nbsQIYOKkaYYIgzGMVgjh+dS0pup+mrC
            VqzYh0Eq7WepQIyeDTkoxXqxtj8Xt9SDCfFHit7MlHjFFXPOsgNmy19gPDCk
            JmXPhMFEKuPqp+OOyheBsJnfS9xy5ueOZVAdz1fmuFcBdkExy3ct47krUcz6
            q8irCct3QuEiYqUB4zFoTZ83CQWi+oc082szxZUtOFhTbFnvnWKaaVTn+VZI
            cd2cDO80s3m2Jx9itzXhjn3CS7sj2q6YHqYVGkS1FTkp2OuFMqkbTCYerxiY
            jol5L4vJU9gZnPFs3vDA2QgTD7aENh2JT0ssfPbooBiTJ3w41txF/5EWepCV
            j5O8bYOYxSLr5VpMFriVA4npkQ5FTpSmoDyMuJ3FOkQuI0MXp9clFTw+GcWk
            roGFMe14AivzeKUAKPURzyUyZD+5S3meQbmhvI5lzXEb8J0NfvgO96Cihv12
            7aQV6Nc/ef3s12eeCBOLxKkxIf/yPqeLxLsKF+Qip+BY6P1ZX+LpC3KT0T9I
            04WeEWW02/33GFuFsyrMmia6qG9I59hIjBZCC9mzi51xLD0gH/m8yeZNagCE
            DEhgMlm+Kd+E/IONXqjN4kQut1Cl2a6bSbV5wziy7l0VRM93nI526LJSNtYz
            GHZ9ZhZ7yrc7ZoMNAuabrhDhM9zCqK+qALpVTYCVD1uMUBUpRFri2nby3cLy
            g2DY9eThYG1sxPCrMvtXMQqXPt6Kg3US1GQa/1fPv+n5IxY++Ug15p9UIeIQ
            nzVZdbiVO+yVdnmHpvgGcw3L4fYi3NsVysmVVlc+z+UCyHP7VWLuGPnldzDU
            EmxG3kWrriucXtswPH39G2ee1SKb73SnbkZ0N76VmycS5yGpgJOVSUZZ9MaD
            KrWyDP4vqUHn9+pyPUUKKzPrQYlsGmBBQ9bX9ExYy49HAsLjJhfZEL/Q72C9
            q9ya4QKmvKeVwi4mHLgof5d7CRQEFWxRAYpE43iYDd0Oln9Hr7i5yapgB7HD
            Qb4ty6cmWpx1eCOCgmdKN61/8b0i4MNsOLvymEKSt/tkoTqEYdB5dBKy4DEx
            eHibcO0FzCqosraYScFjmaL7L46tRc1chTxjOswSYpmRHZYWe52U4nXU9TIp
            eVi1plFC7RsXJmypnU1qq14DZHN1j5Vr5LMgSR/WDO2WDLwAfQ/6zUgFuoBJ
            gWs4bcqDKAvrQ4tyJ1TYVhXWGOiq0K85LGphNNGOwr9gSDb4u+bOpAddrdOr
            36bFGgv4BNXVBGWmnNAKzaIsKq5mz4oTowqjgRp4WoYkQ8gEJf6dZkRpe2Or
            wEIWctMsdu2dBprdSc60ISFOdbkKmbCnZ+6FVQE33WF2zePXNcGdS1JZYyr2
            jlbsHM2NsN87Exl6gvPitPLlPIfwW1Igj2swY6e4O1LuUnxW+pAw5qIycTur
            DH1fSGbeW4VHe1ONSHKMy8nwSyoWayo+KExwkctSWcBKXOimq8X+XEL45Lwd
            dNNU4dQta8JAawLr4ibkuAyQcx8o/wHVsuFi0Gt55L+F1krOTeVKVXFUWtkp
            yZ3odBlDbpfd+KO4F2u7GeL6mZC9ldBduHt2j0k6me9KtWcX9i7bXkQiY1HP
            sy2pZRVQe0vGkTnjnmFOTVCfu3/2LP6wfnw+dwY6q8l+fL5fwHV9zvuzp3WE
            5+fneHwy6G2/mh0kiUldq+8QTLT7dKuU/sq83++yfRn1hcHxRPANpwPJrK1H
            ClorgsmpHkEYzQDui/8Oy7gZ8o1HFEq1FlF+fHXkmdMDyRB++bsa+4Y+blFm
            v/5hx89lxxf2kxRsj/1eHiOC7M8PojP4oWWVf2y0rO8WbBKA3RumUI8btn6g
            NRmDJAWZOfXXcDSaGFymiZAntTo8ozRWVTMyObs8WVRpDiwsm1EcmuY0nzLF
            6Mzm0X/LBy+7N4Hsy9KEw+BoCvtcSkDGPYvAJxJYCpYgWKVypKy4d5iXdPwA
            ukhR6MV3/YDhcpl+a/rt672Xcn/xzizWMogfu6/B66THWs+NboXG9UzK41WJ
            VrffKxbjmAQwZc+3aMfI8eHHqOmzZdMzSX2SlRH0niwa49RvBsV8i/2D2xLb
            YIGL616C9GHqCNWW/e7Q2Ub7qlKHpXQ5SB97Z2kO6XNmOlC6rsJSzBxva0FT
            FJ1vYim8EaF1rmjG+WDrGT5AJBJQY+cZmuhCfaLMoSlFSByyp2rwyqei9fR3
            CjkXD8P0zMPbNkjqWk6S4zK8UteCAg8hHq99PaI1EtU4WiBVgVwMEeWLoJOZ
            VNXHM4gOA9uPFiX9I0TAbVjtTxFiIMM17dj9Q4iOTO2/D7pkcNwEp/MOftED
            3Xk9ayvieatWVmxs1i9MgEKnffK45GPJ6u2RuqLYI9at4pgP45W0DC2A/lZh
            17wxqNxXddpKv3dqSjIovuIxRcKgGfs2tg1D4/ZeL8/xpZicyYJR0hJZMRii
            lVs85lI6Dw9K9za8+KrQqjJFm2CytAq28R+9w9/x95eHtcHoeGJA9j+9vFom
            YvkQ/u66b4KBnxSS7j97HjoVI4G6rOTAzVVBCVzxblEtqCORFQw0fVh1eNue
            pWXJY6P6yyXpr55yCkKJNijZxpGrsytpLKjN49rZALy9JVTbOAjLYSgNdlHF
            JRAY3TqHXathFIqyJR2qkKKwu4u+hnB1psi6/lyqZQHex1dHtmWrlB5cjtWg
            g8j04xhUbEbXDBdI1Hc/JrS3Mp7VNfbO3VFjpNxgnAUMTfR4KIuECXCnqWAR
            5LxVusw0nNGSBI5qHWyY8N5MMxqeQtI8a7AFzxwwbynhpxm4Yu3LIArZTOQS
            zepb5W7DtqsGQOmYdKVLJer0odgx049hwgc1jmqtbXnuqf3V9uPapz47bI40
            HtWaNkucJ2vkqmVgudlvxdtl0F/WA0SHwRSSuzEu04UzSBRlbMtlx7KRCY7N
            +9zMArIguTyJS8UszMBpCWrJxWNLibZv+T761awsk9O3P9P5xAjr+wyVKG5k
            6Vbt8JOY0/13YibRsiOUiLaz8MAWax+e+MeFw/pIWPvqwGCQSCyeXemLIGGL
            zMT5NBOlyF+teprvVTJgPB1CwP2DaoWZ4DevFxs9GYfo3VI4qC/Q6ej7D000
            wzSxTf7O/JgCUVAIRBn6kb59xYYdRYXuZVd/41Ds07Sfi1Sv5wLxFlqjo0Dd
            UfegeXMLLmJdn1kuaR7zPr3IKSiVxTpxGbDIzL7tviWwMAaPOEyfxrv0Zxgs
            N1Q0ByipSpK35+bCpS5HqHPigFc6rqTlu2lniifHODTDuPwWD1tho+1s2rwr
            im05wo4dty71Ennmr8zEWl1xdQW2eEXiLwXX0s9KCQYp7fkxWNbJIFb8IR67
            6Q9q9YmygqB/nqg8/pwo4hr9baK+WSzlOYtg5Avxgf+xUn7db7PseL3Vdz9Z
            NstqNtuF3mCuDnOP3KcBd3wrpqs7oXWD7LHr4ZlnYejhc73k1xuulOJ6rF8S
            ocydF/S5rvqKE32zCF98uvuGqdTCbyS6N+8CSgqwf3UcYaZ/P9/3de7+dZ3+
            z9epw67zxiEyr2MkYL3EH8tqp7v28AEoyRS6Zf6jTGRNor8fYU5GR/NKb+ok
            cQIvz5JLVtVPnHI60Cajt8RITH5dAlHesG5BCGAy5Uzue2Luy2ZVQ3lJpnhO
            Qs8oZsMurXghyshRBjP2pcQNjLt7MMnEOjsPONSCJvr0qClBtdw/Bctgzg2Z
            wzjbAGciEIcn1JGJ43v7HdjQ4BcbfHYX3QSSxp+DP6wJw1sBIIQ8EDDEyPy2
            tFiCQzS4Q3aQocTRR6fOS3FS7NAenRYsMkQaPP9tOXiW/cmc2O3G2sgzh7cd
            Hqd1Wj1dAVfDAJbFnysaCTT6aU0r36WF0CrXSbbFojGhn1+lfIkJxQoegY2A
            mOlVhSzENef9sbHts3SFN0TvOIZsrzvmMiQWlVI0sUsFL+egiJbmLgfkdGXr
            pylnrmh6dYjRZqV2RnS1mNb9whLe8uFfFqC1PuVa0b3QSdfKJaXuLo7HVK3J
            e+ckmQKWFeoLhzk+97kMXZJQ/HvY5hmOGFbFEAOvtQQKb98pywNbV86vLM1J
            me5mG2OpatrSWE3gFQusqZUHGUbn9bk/ufsyB/AhYCCcyzxuEIp8IM0wT3rJ
            L/zSIEQOcTSxsBlbuC3vzdtB2CBqQoKvlEZktEP7t319v81mjP2ItaoGhopN
            c8XMUFX12z4eRtZIKtuQ17jQXHnNNOs6txyw66Jd7plPlUXd+B5udSQwb7MG
            4SyD3aWJd38vGO+XtOlKOia8TCJYjo7TJLUEehm2HbLnGS1OSgeow7zaefsC
            jJtY4jsWi4JucrW6I4rAXsclTnP8ht57uYWLIcPAyMcmFOpbmMh34jCJWb1M
            mfJgZUGBJjP9n8XrooLXRLGpDjjzEwaLBkyxLNuLmOgKvOLva+T55zUyzHMD
            XH+CkYDCnuab5QRSgVlMBFzmiMiG2vZSKl+AsvQhUJcikcxG4YhTTr8rg1Gi
            IFBJatrZVijbMZINbcJQHzG1EGWjW2r/lrbOyaOYCL2c3s7p9mty9b0mEu/B
            Y0XlBCnP1lpqO3yiMswtpYMJ2auG/g5+uhwVNqqh7hy2eolHVQ/LhOAzct35
            OVUQstMSfX74OMpPH4cIuqqD4+YmGpd8mDlGbqJziyVACKuZ08B5zGpgPb7P
            C/1z3ssFGgsq7lcxLPf2H9j3VzF0BfBJ1vS39o+HMG0SEOr/+LqIA4htt+hv
            mYJJKcqx9rqXnS69nRbbmbGdF1ub3dhSb04Ky2KslbwG5ydb/UnN4/mTmjF4
            d9w6AM3YYHAN7yST02y4BwYhnKg2V5vFIrSbm+3BHfHnyt1stB2OI/0XmD5i
            JJA79ONn0GcrsX38ZP2M8fXuXR6xIqX/XBaVVc5CkzK6ZqluhVi9s/taejaY
            jML4GX0x2RPqlyfD87m6iTQ9888Is3tFocMYCSiby0o2wPhLXNVCC8Ra5uo9
            BS1wWSzdHEUsi0xW6Zdcbq/3PDyo8DTwcvW2l2Nvje+X6/lZ7VvJYj3w9sLh
            wXQMYQtIs7j/c1oLguixO76gqhn3oBIZ9XEdIlhK0r62goxDLLccXzI5QaCU
            a7NR9xKGLy8huUFSiO8PNi/kyHKFze778ZP7yb3uVZyMIik7xzlkOYzb7WMl
            Fr84khTN/LwKI3uMbLzobul9KidZ47lezhiEpnZ3zykF554wbumtpPUfdV8B
            mrmpDsImGF2y4lSwWj6FJqEr9+qpjpPh+QDha0DHlK2f1y/WKMyH0/Egp9Xg
            bPbM/mb7M8ZU7t9mjWrHqy1vM8UH1TAwPivxVXpcdoJVXuOj1OEpJV8Xu/x6
            xDozTepVjpIpR5sTLLf5D/a97VbDI6yQ+FPzLlyZZGZf9yK6Au8Vzs+9unOl
            meqpkOL8kvftykyRyoZNWYTO4Eiy6unu4uI74g5CDDvyPljzexjGhhyASjZe
            G6XvesSWnYM7m08vEpLlWFwuBvLuV3Hx+GY5TGVZ87i3+uV69ncrxrB/BElS
            kwsi5akW0jOOXe7ebAq9J3BTJZNjErtAERYj43GycBPvXSPULZ0hRWjlomDo
            FCppJbZ0zNstPSjHCcwt2HhLDQh/6AvqUf6lF8DeD8oE+nG9Cv1uUHZ/Xw/7
            AnGlC7mgQHm4ukwpPhdzCT9KcQqWgqnG78kav38T8Tatl70bvZMiZhVLZKLC
            mlkd3ayOX2Y1C+U+WQzj3LFwLawlUXRvv4aSdYb8Gs8mjGBOq7yV6wbT2rkg
            Abhu5TjGiyivQYvTjcLrlrPWszJPZWVqde7snE0UVrxmdTpWTKHaq0/OCrOW
            vK4IEx8IRUE2XskRiiCIymzeBls6gmIBkDUYkULsd231O7GT6Z4tI/Ru2BrD
            Q71VCZDxisQKV/Ig7X3HMn4cmimoJBMW6KHEA2v04c+TwEGssvHnM4xsz0Ds
            9FG8hoo2gtAEm9VSkbi6Jv6DIkTzRKgJWeuQOCzlVH0rI/EwmKCqM2ObVYaX
            1ZaoLkOIQPWwZGmmR2g/r5kYBSw4f4OzEoHfkNrZDM8TlZh7nF+0iNQduQfb
            S/ud29aLRGz36a6QshK1H8u5wH0XQZVBdjNpoRJsX30CaiP+6zzqoybJdmJu
            i4iWCjwQectwjok5OVRExjLPYMEL5uURj095HKs1L6FMTD90mKFq+5q3uW5l
            t7nG/Ppn/AdDugY+x01sEGbK4A5LrQAaV1nqh+S5Gq8XIgGyxMsh7oOhJsje
            jwRdhaWTR7S4RDI4iWA9pA6Hg9T+SGeyWi8Ib+uuTrzWiiCrh3tNb193NTvp
            G+qJNcDBJsEKlQTHyJVLJ3ZT/4tbhUmVLQjKvbPfDy3HXfP8Hpu06PgyKjgq
            dVtPuxT4K0TOPMVpfhudfJCSfSHcVyhRnJgL6kzuF9DSZi2ugD3JKq7PCoZp
            s5R/SxEYvcb4soknoFrO1v9J8PREDShKNBd2yRncXcsSzltRsltYI0uRvp99
            ohw+UW5lGIAr1iEk96E6B8UcsD4PxRiWEU6cH0DTnYUWPLOMdutwDXlr0TIn
            vyKYymMHQS2CtX45xhJRmY4+KZnFJdLF6TZuBHImQTGTg7oT2yUo1/IFhGEs
            NR2ndWXut9e+sSUxCWE6ZogURvCV07Cqe01+v9M43r1rnAm9/HUs/qg3vJ7A
            +gE6V8B4J7XsisptErJoyjKbPe2ABTF3tEhhPax9JDHq/Mdo0IoeM1iWiL/j
            1TuWMPz36fZncKyt8AvLawcwlF4uDC+Ph/txz2P1tkzY13HZnmOXgw5HNS/+
            smVDOXpS6Vj+3FGJHW153fQGZ+uGhpSWc5dFNCXrkuJ1xnLFtt3o5AQBnOwy
            R7bfpYEvFvfu+pTXwpgKlQtZsNxmMT2PIzIQuZTx0C5T73mzik8jVnkdg+z9
            15T7J0J197m6x5xcSLKusOis0OmwrYXR6WDibzdBQe/8pGGgNRRfzFUgGk1k
            iVyUlzZ7jKCyKPXAsjF4frpIj7QBsU1T3ihCBgUcyYr4cndgAKAlvykRr1WW
            +2KXgH3uYy9m7vjvSiCpVptM7HK1h2aX368HNoh7BS/YOVgWyh9eOMfsIoQi
            5N9qt8s/9jWa8rYd9ctk47c2XIzRLfVoRT6/OZJDd4mT5QKlsjp3NIcQg77y
            EmarDH7YC0P9qJdzwWkJwS1sd/nD7jfzmyNOoS+o6ez1hx/Be1PUgFnZWOBJ
            EBzyXxRGKR+DbyZrr1/Nc4UU0T9owju5U+4YA0rXNWy+H4NprHpZm3wOfqAf
            eStYh+QJcR3ThgwmYIo00b5Nx4d+rB9g5GEjBjGvn3WiQ8EXyt9KSk6K6InR
            QSslnu8Xu8cKUKc7+h6DYFzW5DaNUxmqbCeHdX+LQGGsCeRXx1I7XcwnVsGn
            ajojZHJYAoxLYCbtg332I8hSTKPeE0AcoOnZrDOpH710iUVsNiZsGuYoC/iH
            icH2ovHueIj6tnUbu3j9HLvBPpnuRq/KGRCL975Wn32Ex/gdSuezKe4SDXlA
            IkYe2GTZQszbwhiRxwXwMChzMHhglTUhHbFsi3BYDOpv1O6a2PjLgEzUlCN0
            +tK6QLqFjRGeLH9BX1+J1/7itLer2tfdbE6gVKXdj2He6t/9p2MliMKtEQju
            mQiE6vjcYqsWBetMY1ZK1qxd7PeXTkD2SYcvZeJ0e3jH07dHcnswz9v274TL
            Le52Ee2GfNziJi4TU1sMcWIs5aoSCUATyeZom7NBKnTmH8JwHPP6cCPWxH9z
            v3E9L6eb5AyL0NZKhvkOphkkB0EAfdVvDs3zUqMP6zOuk3rURnggnipzP4QM
            dClfk+Cyn44z/Q3740Gtyq5mNf5iNY/MFTBQtseWPBNLDczfMzln4L+YCB+M
            UXZ2i8ufbBS5H5ZZSLH8lD8pfb+Q/OLpeHsfdhUnRCI0nK+2Dc0bDIO6mMRT
            KVu8ZEEyqpJbokhacJdc1u+MdQhyQrK/yJ16k4Kb44sH06qZRc/nKS6Wnkqw
            BEJoYOLAQeSMUlvBn++3HP0w/QLJYeJtY5Dnqo5K3GmC9m756Z35BewXwXz6
            RWSirLGgdtcbR+EUYtOoLC/ku5doqMJMZTR5fnAcB8dVI9aNkyTGG8CxDbZD
            kFYKvsnkv3XMnFAVnbPcZhTWosZfzmbK+VmN4E2vb5qDV1zW/h7A4mlh+1yw
            mNtR5AkE3z3Qs6hJsOq+EIfeWwPtaNie6GB5giQWwwg9rMNM8uDPxmwgobII
            Kz/5ZhWv4gRk/0mtAs9dtf1FLAwX34zLu9NGzUS20ld34oWhGapwYwe0lK/Y
            vfXxaS2CJSJPy9p9iyTpwr7dFN2corJBxi9iLtGqqEjMQZMftBDOnWndXzHM
            rrk/8iSZHRwddTh+zFND+X1Bghi68pR4iR8RwkECIaAHRQWREY/bHMS1KgjB
            yoiLtiPse0hAppRCxu/MFiLnhVgn2xL/ZZICKIsOGnn4Mi/utigVFlZsXyYm
            Qvz5m9JQq/kTQGiJitQWI4RaYbrV/h6p7cbP95l/OmgsWcLZ/i9xsK2I4B1j
            t7WzxcPO33+ja279FDepXsA4FwvbetrWzc763eJoIwVv5GKyXga6+q58Z9yA
            JR1ke4aX1n83T1U+BIhwDNNjsHpnOPG9+/dqRDmac+T28ansRFpBc2Xrvc0W
            Tsd38gqIaVriWG3e+OsPpY15rfKxU3GaUo4C2y50FnrMktWqt0bq+0rInGxa
            6dkrrlkzo1aJI91XDtTw0b3XhUyobIDtZ6UlG1/8T5lq0eGnbg8IOUiHv5ja
            FLa5W/p8VqOIbCtM4AQ4xvwLOZleQWJsIJdkilIWhIAUJocWYGoMwUAOeqQe
            daE9XUeiYdu9JfBSkWqoritNek2Tp5MNI/pKGZ9pPqaXXRe6gQXiZ/u+5bo7
            poSiUx2T6HuflD4qf9BUBHFpKeOvT6N6QRydcuoVwhT6qNI0mhuRgHh0WnVW
            gIStDvZTHZpjMg9WlHvWsoWjAYJTaVOhHG1ph7BOZWOd0jI6Ld2K7lxI0Sg4
            eUskJZxMKsMfAuohRAMjgMd3e77SyDoygRleRYqg7gT+aP1j1rVuWKokG/wW
            mVlconvzKE4ifytL4sm8c8qQYXAZx9PTeRPmPRS9Tz3smlhyZnoFgiIseh9f
            GG0wPXyOMq2GEJKz7aPRSQe0l6XHl3UzOxcU8jzuE7Bu9bZC6XFM7nHsz2A0
            /TCwqWNUYqNksGoHmV/4vD7uX28veOyIIiG5iH+QuoNYabERsIrjzQyDSjQ3
            jDdzEdjzsq7dRDR4E9Hb1cFB+O3vjqL0RHUr7mdlJFZUvRSoofs0GZAb9pUs
            06mP/aBYt7MwZfnUajo22vx2WlDHJ7vjAFzMO2bx5HW/8M+bTW92utn4y7Y9
            kXWz3c3GN/vfWvzOd9iesNcz5jig57Lvb8Isw9/XYtKW9lu/Bd73PX9uIDkC
            PAx3Xm1xsPz69dieOrM2tjgyT9zHSbadZo8/X2b/KEsh0nNssXNHC8w9PSgm
            s6F4tlNNbu31pQ+cSlrRIpBDLAhAOPbh1dwCfanKVbDIYzcM0zoJUFyqoGaY
            zux+ayyOOx0//dbpsKBF9OPX+Yztu05qA/jxXfPYrXnuKFqzmj1FCgvkfvPO
            OG+fDkJtY2WzQrSwDYJ3wmGwWZDSX+XouZnVciaZSQZDyS506e3gU2FuZvZp
            rpcntk7DSVcS6bQKJ4o9sefx3PzM/RYhtVyJ8kgcdrNYcGpix7dx4vq8B16L
            FYaBrJmIxIyyYNlYzIUpXpESHe8Ug+FBRO9WCwX5km/EQkXDYM9wTTJvdu5g
            8TTkA0UyQ9ZYyWmfO9hr0j8f1Ws/mFkNcUdl9g6GrrwDY5GVoAw6Yj5K/EAS
            ZasjqOfMx4/BVccYIcq4D6D9xZnicEGWRQM7U60MbR+UyZAbw7Etb8VGEcP8
            6CXZtKTYANIhOr6bbtZLTidp72FjM52W8UMLIl2u6BxNIeKbLSY8GYXnLuZA
            VS5GxdhVrUsRhHlL1jrpUwtAjdqDQI/HC97gVnI5Ku37Bz7oR+5KO2fbVE+a
            ZZibzxTYccH0ihDPt8cG1tdPNvwfOC8M6XqzPaL1ed6N2motm/N6TzFyXhXc
            +jsR/pNQvfzalEn0wuBYQ4JmAaTFd86X1RRWVpuyaRN/WObPFsgpW+J+A8/3
            rWh8MELVgtB9/JvNbTb12+f/AkM4G9xJD4ezwy0OprdXerVrFw+71Pmf2PfL
            Vjc7de39NxsdLiY2OycGBHkYzUzKfmoH0Uuv6Kcv1F4U/FHO4vFN+G9OvqqA
            VLsOzfyWiZ3JoqMjm3RvtUH8m+ttgH7QdXZ4qjx9UkyQyZYd7LjxcpDRKW04
            Fff11izIVD3MWceWIskrlVxXEGSgON1gTghdzR3cVKD3WCxWwrYtgmtMPnNh
            dbCCF3rxUAIvAKI4lYhBtkPTDDb6auw0QbZPnTbjwaDaJOEdnkrF9gem775y
            gIsNrlYLYZmv+3g/Z+M60h2WYXaJfLK5qNUchaljt1zKh3cDGlWwL5ZKJugu
            UnWw37NVRgVDCPkywxz+hTA0VBGVuwGC5zbS8LlvGsJ/HP/48U82EJDHj38L
            Ug4VkChAc7Jo37sd7XwAdTfCM2JkGe7+I9tK9RVZhTe3oq3d4a27cbZnmetY
            aeqYE8hgmPJ3E1f2OgcuxtNLy3cRy87RLF66DhP3soqi9RD27xMmuocFRr4h
            VFmxQkIwBDn6lqUE+r6D8DbDW+8enpNO3yMDJkLuJdukp88plvt7ZEdZr7o5
            1Ajm/nLc9OYOEGnSGCtYZ9JFmC0DeX9NKKS8DmP3xoI9WIVzHbZsMTFzp5gr
            G/fMBuOYPDH19GRQDGyydkiXJB7PxaTP8uUUov/htkwd1eeJ85nIGpc9yxOe
            a5zZnE7j0riobTHLObaHUk/kvgwGk4pWoJXfF8eEt++vI+tk6w9mQJ9OhO6U
            IiHN5cGeIOUPHPutnUwSWTzmpPYEyw7v2S56DO1zGA8kozKxTn4f7hqSRocf
            r521K0dMeW7ipjz90/dq91vex/EiV30+kxotX1AD15XTRj/A/ZYxBdWMVr/+
            2b7iAm3YRDLXSasCAzyW6QQsalrfjay74OTJWeJj2LfQ0T4Dyz7TKQqIv9Ll
            Jdg1IwIN9L0nqlg6/HY2Mb+eQF+8FnWPoqr/cnpm0cFnorQnB7TVPNT7TDgl
            fp3zUlPuRaAp9rWGTmAN8Kj4ceGRvXMcz6pVrmrj24pNtFC6PcPmLriekJpL
            +owVlTtCvxlirYeRL3Nh7zGQbvH1zkrEZYQ2WYyCc3Q8xfIFWJh8HJ/JO65H
            bCu0n9SW05/UFuqH2ljbtj/3/Jzf1MaM4W8CG1Z6dtOx8m8IDRx0aSXm78Zs
            7iyyMKoVcV4CO14bPFNN125bscfpSmYzglKOPv0cn3yCIHt7SeyM1/5e3hDd
            s4Z2q4+XkNIlxfPozl0siCPlLHq3Xnk/oytiXKGn+wN8H3GKYlXBigXmsj3z
            dXvp+/PrmfvnmRkoi5YqZ013/ZoEJ6OYe9TZKSVPt9Nv5zBQ0sd0gWZg0X4y
            FUGYIdPBCtXwxUEM9Vt+vIqGCIG/ql1/1xNse/4FTfBC1e7wKtue50QxBtGJ
            tppU3hW8EfgI5NYUTd3lZ1db5bjZfdid5Z2A2W14d4vXBBmikMBPsdqub4KL
            /UNwet/sdYg7OdMDTeErXJtmXrurve6N609DfUuMklZPjuV1ami3VnOSnH/2
            cRfT1LvVPvQo9PCxxQ7zLDfXVH6AtQE7VgNHKTCPgzVDp3eWlV8vQCUXGlh+
            uHESxU60xFTOv36rVrBieR80WhPjCjQKR2rRC4KS2JaoDMuU0e+HK/5mRose
            PqTCm56W/kxsu64u2OraSxBHDaYmZ4AVMV2a6dPN6u8J13kogwpPJ0Qk7io8
            Z2ykSbHM8aJO6nr3ctjc5iVmydpUSZN2GN3h+fTZIOHC258kmExnOvgBk5Sc
            4a04TofBBXajV2r422rJhyF/qI5DIWTbNmecL/b8CxV6KJDJqniKu5CLa8kq
            B9KDNQaUk/N7VhvWYblowTGUSXFpeS0/W4hcXznw8ZMDP/6SA5+G5b4rWyew
            WIfaqWUDXwy+0L1orLMyi5SZtnU+lz5nYf1NfqaTBYpE57PRxqXNTKrkd3oH
            qwVv7Pvt37t/v/x7ZnjWikpyMUwCQrZGtlVi/1U2vImqPk5adfeV4n29E5Wo
            7FTKOHWvYOZuvHsbHLdyMDRM2dfliiIq+T4P8vH+cQ40DSI7QprL/8Cc/4I5
            4Qo58f9gtMrsAQujT7Weu2MClELw8hEx7txXsU3aNjx1ofpUQNTEnrcbU6tt
            mN8kbcHbHLbrfbDjtAfTsh/f6ViYoDuukx1irZMe2GoytKgkMA7CE7OKg+2F
            H8OYITi/lVkYlKltLxUCinKHuVmtACyzWCjC2jjXB4hG3hNiETPDoDlcaTfh
            9jdvyhEdVuxXSG4b6TUJiRqzswEQvbNYKGEzTAZJwWqusk5jzrGANzguOlGB
            IkFo0ldt0CDaFZn4sXabm5vahDPL08BahJGqVE7W2dB46mB24+d5VFd3dQGr
            BanO8dhoAi0dO+Mhm9uL1kz7J7gHd1ALK53pzkNuD1NLhCUVDDhEOpoqEb7A
            y1wKfupOJcmErpwpLNVKBlKQxResUBtecAQGSJ9SdiaprtQbQzx+lVLcxui+
            JV3+Uq32tejeGG7c8Ro7D3VXCrRsjI5NH4WBSCYXklQCSDPlOCjWAVPfyvri
            MyENlfswLm+uqw5QjnekIl5oBI5hyA5UiTmdw641Wl6MfjKVT7ko7d3/nGyA
            i/3NtmWCPTHwsYI6SUfmp+NlnjTVUvsmluB5OOQOGMuwnE9qhu08H+YAWvJv
            tq5ZhKxiZ2GZ74LzlehXh3K1CT3kx3n6zFefry7IyXAJJHd7p7jgFkt4bqih
            7bIQZlWh+KVPFM9fE3vVW4T4kYebgMkMir5V+WoX/NVR+22qOPe+423KuJ2v
            y9u6xER0XZuv6g0py+PpCq5WlJ2Ls3/fpRsiZqGago5blXrAqvEWHXYn6Pv+
            HHbZIBsU7pbc7jT0Nqaeph9MQrB67M96Sxucujz9rWpiaeWoSSCbB8XJDDNP
            RaC44T5iGSTLfWAkVvtuYiZ0K5A++zsQeXjuCrsUnt4ePCqdXv17V3KwzkUn
            3KeNufmcojnYEn2fgihMbJc6vKyCgNvR6j4/2XF+32StIpRfsj59d0J+Oy1/
            JtBbx5oin3+iDB+W2AOxlr/aM/wD2kqJ5safty4034zmAcpiciukHn+7bnUF
            SET9ID4Lg0mELLZOT70umgjFRSzR/G8holc2CCEYwU1LgOKyaLVh6WbLtoCR
            TeUTFg5zOdkHUAWw1Cul/CoWMWhqLweM5RwqTSDRQU+OgQFTj7djSD3gSrwm
            k12wykqtzKCSPFhWJ5Fs1WvFgonfJCoioyc/t8xHaOuDBKIC26bfTGeEhV6w
            yGMbMBWH7WfHQcgZIgFvZBy3MB/Hsg0+jqwAl9qCQSZ4eT0NUIVeXJXLQR9m
            50rnHEn1IcGIB2S45u7TS5AwhzsKruYV3w7cxEhg9scQ24958SWm6tPv6AIT
            g3KxsvrmhPHlk4TgtQN1fPDvgSYc8ypB5j/kB0tFS2RkNAo7Ymy4/Cfn2xql
            jMvacxnCuuBz2SYiGKBH+LTXOr2Sm+VZH+EeLPtaPeoOf77HfRSPlcX9zuRm
            M5QZ8mBD4HPJmfcwZR77mO1AfPpBzsQt24txqxaoX4nA503gBdYo+7uD5UJc
            DaU1sIUaY2+nPocwGnv+jrTM18KxGMX1c3AIiCuWsHVz0knnDCzcpeY0u5q4
            2zmmqJB4Qvr9LMfXs1iK4GDDb0VTkgGBcf4oYpnjDvbZphX8tLNPBmCfLWs6
            X0yFJ0n94NKWP9AhwwcU61fXarAhDv7NBsVDLS8ud7IFBw7pymIeNmk89rh+
            su8fhhDL2gh6ntTVUo0R8RwXXpYtkohDfEzDcTw94bji2KgMaPZh62yp0c4x
            zAsr7F6WEhLqhN3S2FMqdFVIheuiJ5Rshgy07yRbBsxP83yq/6Rc7owsx9fM
            V/QeEwdmIjn8Jj3vwTZfzddzF3vucD8n83DrDhuodfo4dt0ojbD9/CyDcFju
            Y79fCPI0C70JxgRUGQaRLhpFJyf3jNYmXq1dfeHe68XnOvICUXfvgQYtpSh2
            RDzYvbKYLTzzyQsG9nBLOjHmaj0WyMoyezPhM47J+yaLeZJuhHxjmCc1dWn9
            010SOgoD+Vt5gU6UvF15uiypyFPV+u49NzoBVt+Sf/XWXdNASPq2ughwvaEG
            gizk/uJAzGu8v9FzGs2lvr/PZt5ovgcsxNm+Pc9ef9EP1Qu3+cAwZ+cqLpCS
            EqnpIdFDV8C2bI7F1qptN0QcmIz4MVWYVaaQ+1DV16XKukBzvILzGEYUf2Mx
            UT6sa+guD2iERzJIRDXO8JrYdkI7P5v/JuIazCjBA8Esym8ubaXeQ6/y7a4I
            QZ+zYJUYuPuhJh1XD7181katYZkwALQ8ukpwW0VdieOodtpNgaLrEgzgy96P
            YbbOWBtr2c670zLn3frZ1Pf05Bw26jTrky475hv6RHZLgSeYPROOCpNqDmZQ
            yMtohHg/PiFGzLTXIj3TTgDTQtqTWBBEa1c2F4mIinuW4qZVKx/BaFbud9t1
            giUkYYzAymYbRPPG6h8qzWtRzrJYwXIlUlrQlvVANKtgrJ3y5EPl+1JOWbSz
            70mNnqv46R80mlnpd/osFsIJuMRcpqAWcksGO8cbzd2e3MMrznCdku2ap4UO
            TqhBDOmPAd5NmGA2dYOR3qwUf4IY6Ge5LEw8rEtRvHfLUFvJZLVRibierENH
            Ap2SezIgg4YrPK8s3sTQ3Tl2r9OJYV27hQ4RWQk/fDSxyYesOh9YLHTTa/Uy
            la4tJrGx7pLI6ZlT0dkQRUE2EwER7JZeVGZcG0yhgnICL2W+amgGZMpVE8nR
            uvQeZmeb6YUrvLqLd4NZRpyXoHSOJkC9Nw37/siwyRA3lz81uEOl6UzKJDj0
            EnUOFnj6wGHGLIGCNuFV0g4MHcIguNflWdhko/M6Nvu5yQuTtwjMakf1Q0ES
            tJxnTwVHCdnVQlRCJEuqZMnafic8x1AnbiuZSl/eUA5IJXu8l3GG+7Aimeer
            VE3mCktSWe7PQhOG+JIK+B8i5Teirgx1SRb6irRENQZ+u9yxXryEYEpm4Huq
            pvrtDxDczHlLEtl7g+Jinq8TLui6kK+XVahTmWNdBcaYChdMPdzrAnPulj8Z
            52xhEy6xGPZqgUI7p6XCWgP0jR/UqRj5S/BFs78YHyaxCSwRywYmexqY5Mny
            5gEtmxA7Xh7PBmWccPzW1MSBSkyRcsUuLoQoPQROAfkzbwjlpC7uIDPKRhWI
            jlPtbzAaYGmRxLJMMySxMq3+uD41gd3aV9MlrX6UDBdv1jMt9HtDqWGvB3me
            eE4UTKpMISaxXLs/0p78TQzd+ydtNq7Y+ZNX/MqRsMz7Q/ItN0eVS1/JvnjX
            BeI5s+zcxUndjhfpBFG9IZ80gyqtCNl2+0SN9Nyv2TW9Iv1URJW5ie9947D7
            UmZuMHAqoIz7vh5z5oZ4RFlJOPEiCUS1KVdVwEYRT5/2gBRO6tXITOq4y+OM
            fdxQvAys0V14Fo8AEyAXXsyAd6OcCfjEtfrS66k9UNNIpWqWmdwA4mMMpTHu
            yxZj/YbtPBVzGzBqJu1EFoEyx7zQGJ6qX+qEKWLiIN5QgEgU9s+2s5iBc/az
            WCE4dL+uZtI4djL6kv3c4DHrPEDsJum7BSHdB98h0dPHhXZXkRATtTFx9Kyw
            1ZkcAqd825zJw66ZMkMsrOiT8E+KIWKSkzd7OE+MnOHwXVvRsOXJmMn68mwQ
            dNbatDoiZGzscAMBQAyNFsALz4x1BuHCJRaprEK7mAOreJaLUOWEEVEPtMNK
            mV9jjktteG7WZXDjmWRSZJgZ7AhXM9VQhevsd+4nqUKBlF201JaGRdsReuCl
            KlhpMY01coa/e7MTHnOyPDgzH3khRGX0HOD7/fY0YSOM02QI3sP4Wcagni79
            QZXPeMaXIQv9MeFW7COQT9adwQhNno8jAp/VvhPGV7VmXzHyH04ApmPl0A2D
            B3xKiJaWSIjdqx6wq5be7fmLXTVeuyp97CrB0FDJ6x+tcE+6YAvAa+L90RpU
            6WON0YmJ4K3IzJ0jpMfTwIGu5Dp9pAop3HH21AZ74fdsKqYbaJp4oTFCg9gD
            J4PuNscuETCr2zgMIZ+uRtPXRyrm6mQXY+6rhlm7kSixPq+opny0tjylV+6m
            pUgYMyCSd0VWjtpuzjeNp9pzRrU1Y+5aUKu3KLi2MLdWBgK/8V5YSFOGcFdm
            IlRWbyZIze50gzva+5JQJvmpv/vpjRPeXt1Pk6e/0KfYsejv48vT/zBk7QYS
            pv5WhwfrMaNaPXUrdLQkYsQ+ddBaBmcYWY3h26IVXliTw9QodeuxhugcAHYt
            /B7EyK7KSXB8VFWPScmOwbw3cD4GgxR+R1w1WvdEsZvlcCSBxCAth5l3MPyJ
            BCUwXhlaIiQYweyMI8TqbAoAU1uIgi2hc668VcWt0tbHKPY41Winvx2mRank
            30SrZ2zbMvEPa1xzqVnOUzBwpw/cLIuljJMgveDh2B4axEFH601M8h/HZ+oX
            2+qmm2PhM46tdMpSI1+WMDdZ94Qlj62yEzsLQjtDLoG5StTrl1vX2r/bZUCq
            aoBfHs+lTMinqdUkdsJ7dOL1fAb2YMre70Hiut6tsphEGIKV/1BjIZtmdwnp
            8nSQPvm2IrgKLRbPc7O5Kev/qyQ7c5m0ZS4VntccLbVzxVA28zxd67bjcE3b
            zkeY/bz2bavrfc5dqfExVh0ojZMKC6aoInD3E9moR6NZt0DWTLe331Qlqt/b
            X7TLafl8V/dtbUENU77065taArtHnV+4EGKy28dwWntDFlx/FQbTP3LvTsZk
            rBczZchnqIAylsDhs4hjpGOMPohW1I35hIa7xB/YpvHokoansINNi9sJQnco
            /S4E3MfgDuFfDB0bCRj7Jd2XFVG/kJBW3kDkPC7/1x/DjADnbXI8Losm9h9t
            pWUtVKZzKHJmWx+Msi4lGlMIqIsY61bdAXMma7ibDJCjayvFJMd8s/U0cdky
            86pYKXIYjFG8hMT22DWUsBMMS5qKePVuYhKM0c1jBnyGZZVFxTRYm1aTEOnw
            efKsJlQZU9yhCjGaSnNW2XCZ2eTQLhmgW2LGF5b8YlRTmLa7g5nHaXivtJT1
            RaKnRz9trYAs06CJ2P1VlXi6T3BBQ0hFVtKpmys1EO5j89RmUE/JlpBBMhAh
            htubvcrdsOi7LPOnqU9Kxmq+vrvbgBclb1I2zZz+2cfqgzZkDRqvxW7vk0VI
            1E2sbQG7T7qDycoGpm3XYQk4d7ffIV6Jwn0Mv1jynM27WStbemeYIKg63PJM
            UuQx1N7XKrd3FfoFtS1IehNTYbn7e0k9FA4UG7rI3764X0RzfUDPKSTUz4kg
            pYzpm5ReMmU9W57aRAiWoEC1tTOD3dFcRhdYlwJw/O3xyve1jYrbjInV7Xt0
            c7Vd+cs2J0r5/QHTwM0lRfMtDxhTMtXFlnpno6nR29z67fYM1ufp3g/vOrv3
            wxvKUenud17veapkjixavPZyxySvUm51eXlzMA+PLBrMXpy99V2atkG+3lyB
            S5kbqmncPQGzq3hYTeyCokTgoxjaa6ZbGmwxnS1vj1pqj3TwAGFxKwpi/RVf
            X8jhvpBi1+WkJQpCT/njtcy0ZEaj+2Fq0GTTBbzfdWTYW/Utvw9bE2FOQCD0
            hwVvLOZwNqshFUGASOmDY3erT2/z/gTLuGW3PQroRge+B8Cm5Wa+ATpWdzG/
            5IIW9chn1d82NfkwwyJuggC/X3NhgBZ5tiXfslLckc5OtQMPhnB2W1NusaR+
            KLkWE5OIArH6bkzdiUVgevLuD/WWsn+cSYc1aW1kcNcG+dp1j9unUN3btrWF
            7ULeoF9ekQC9MX+ZzyoxGxxxTBvLSwQRw9dghghzmVocVyGln7CsqjeIEH7O
            /2vt2pIch3HYlSxLsqVP2Zbvf6QlANJxenumtmq2a6bS6cRvieIDBGwGzGxe
            FmnCRCZxfNQnFz3Jntizl9hwkhasC1VR4b6pAoOCBCli8ierlEmvO/qTZZp6
            jxF/SFkco2x9/pZZprwiQjzxcBH5efgbkdHi3kJovCNJAiRX82wYXEp1/Gyd
            3choFpnq5I5osWyfmjYaWzjynfuJbWHwZJDSorSOTVALLqgiZystgBcFHbSH
            3eXju2UdozE7wGM5lAVsUnsDQ/sF/miYtFHuAUSOfQcMHUSLQ6EOzLP4vej3
            jVyPJxiLbfuR7mQLmoaArZBM2o/lLL4jlioaYTHrz77E/BaOIAaTA2Zju3kj
            R4CgMCfTjKBt5RqAMip89y0qT+YYzICU75KYR6qWkO3s/EgwbxAIx6BBWvQQ
            +SLKdHjYATAgKxdig/tV69bxbzKJrcgXfrJ4kdHzFnN5fYuEtsl8kj/dPqFe
            vvlMi1a6yOa1puzddvZPSvdyGSDCTewfaG9iMth5FSFT+sh6IMW7iDmoygXO
            urNsH4Er9EhEhc6ixCOvaiVEpLugZ2hKP9G8s7NS7ZQOrz17e4/iF+h5SY+/
            lYKWS2RGt2yBuYbAYW4PegK9Hw5obngnk+l1kkV3EEcB0rYC7Do2ZKbgwE+k
            mDbY3MMvDmyj01b4owPGiPbNaheOxfriwOpiPtqWd9s0tjGDDp37cv/g/3k4
            gqsetq1Xs0Ld3Wcp5HSmV7oQvj/s387UiZTLFjO6kaVtsMpz+SDL2gZr5Fjv
            ka752d+4zIfa2LmMYzdb7Z59nYhRbDsHAEeO6zgIiZ+FpW0LnU6yuzD8omr6
            tKXiqKq0reqY5rp6kxUNiG6WjGNwxoPfi8qtgY1LoL1bvz3HPw3W5tySsQzY
            JDiYcc0d2aAC7bUq6ff44NN8eng/W/VE0mze3+Y7e+Nb2bjhN9PM8iyDhZAF
            kHP03NoaeRE7OOkxHjZwpi0lAuUhMQcvs6qho1Bm2hbtUULFnAtkwoJsYdYq
            gYOdO7vZtWBTFi5cORt69D45gxuRlBtNuGQWQtqiM1lBxszviWm2sW6U9IyE
            Cb7X1ycNyqT3kfZjlW95ELKwezqzMJI8fbUuvO/miBFbE6DWYGOQnES7UuRd
            MX3sREsFLK1XWHKUP8jYuHR4xo2Ng/dCcWRUUZcKyD4YyvtyRqxMNJpO5qxP
            /WpD48dxziTeHSUWjmsCvP/gKQAOo1ST+0UA64bbMey7R7L/J1Y/W2GpWrx3
            H6OkeMZTgHj90cDzQRK2DjxkGGQoITxwCQuNDxtmntrrodwn3AZVE5dxQ3LK
            YvdF0d0AYQ3gByjhK0jgQoCeDSRO3J/ubE6XPFcP+EScX0VeGdSVfaUOG4ug
            9guUANvL/kGvhdCBLvuH+3gS0ktk8SiDGTGSXjMpfxZWkk+4c8QSED3XH8xP
            XXs1q9CjAf6YoodokwJzfEBsyGe7rQ28A5oLIAZz8LobloGmKrPc/3rCPEFA
            zLvr2R9yvDlAqgu3/Hac48dxwPyz8jgIi9Ep38hmxXaRjgJNAzmNHcj8izxw
            PBxrN6f7/7FvGHpz8NuOFKUFuoRhIkhgIxYZRW9eU9HgDtppBBE7cLQLUE27
            zfgdLgxTGqcvHGz47ioo08RQz6yjfYUMRYw8Q8TPJsm1W8x2TJHY5u9ty2q2
            bpJG+/n+rmYw9BdZCAquUEAndwUcdKGOa4kD0u/rmNTmjy9eTVmo+DaDFsKO
            QJCtrR6YxsyrHFKDN19c8kzO85HQkuuyllAUxzaVhKgdPSJ1k0/LBBG2H8OV
            /NBiEwMGHX7YJxDlANk2MAMjhij/PqMwQDEZOEDXzwSYE+2eHzcv2Vr0j8fq
            6Ih6DyI+bHJ8iTUAD3TLmhAoq4GHKD6DVWYZL3FlZqH1fx/UFJi7chffwe+z
            hyH9voJf/J9nImbh+rEqnPWXhfO/zESQvWPfcFl+S63WyxNS7vcSsMkWmJkX
            SsdEwmpwuzNe/3Fms44fZt3JZVeJ3jZCNn4uSxeRaxNLHZe4opnbgWOdFJ+7
            WZjIvl9PMWdQc2zvrn9dp/ArB+RjXmt38dRAhlAx12Ww2KwkOUGQ1MBzaeYU
            +YoU5aJQryNNw6j2+4CqLkGvQjnVRN6skZCxXd0fSAiEiRi0VeVJdB2RO4py
            3cJ8ldLpcka67bbcpEkwE2/WJcX5rO2Cnu6mNkmL+0l4COdf9M47id56OvBa
            QSdhrjo8MbdCLcsJQmIvbiQCPMyWUEGKNDWDNayNYtuXouCpHtnk2eVLLaaP
            yo/Xfq9lvnyagfSIrmWRpCZzTzC7efFSnT2HIRRZ/36Y8oerp0kimDs8ERiQ
            jPCfY9DD1a3bqbXbjBwJ3pr3KGTA5WgWiJQxm103XuS8zLyTf3kg64FKFIrF
            F1DQgxH2QEoZoxDdRvYfTHhnin0B3GTRFLS+I1IMsBIU6iz83x9OS8jIlw8F
            EXuIK7v7YaRP+0xwN6zJ1df9m2sSVn27ennHm3m9eWOaAj0i4B7I+WIfBbAS
            Zi+ums8HeFQhrYh9iCJapb8kglu7u8j/XJ0oD3tiwGxCdhmQvXl+eEKDsgLn
            RjgfcC5QsgeHt53DtHNg6ugGqMBTR5CrDDpqWwric8AT4/rI45GlliietS1t
            6gve0elDgZoJFnepIJBYfmHVGN8Uee8PVPwGw923DmE55K6AcZS36TTPzwPY
            2V2uUXt9aiaeuf2qYGHHBxgsukAtU3WJR075DfFP9XWM43rY6whVt5uaQtVn
            Iy51lPl6XyS6KgkE768LQTrvaLxL2fx1itxEoqlURGLC0WGIcCi+cmmqW4Rg
            XffPo54xcePG2fNoL6Z20iV7aGCzHJ3oJPACHUGvwqn2a4TcUCQeCdd289G7
            xFBX55/SxXmdw46D6pz0+2QmUOktAQG0h4GH2JuCyPh+uV7fX//7++3U979g
            jGZkz0W9t4B2AHa9OHSGEEUU6rtS3RlBK6LYm+pBeY92ga007B/UbCRlSWYa
            Mfa3lXmfmQWQmv5wIqFpYYjCe6xR0M9q54tp5kenEmy7Bben0trSoCbXtTK9
            NU1OabK5QZaF2UX1/SEfxE5RiG+99Z6Z37AFkXZcCisZNEQL9S0/0nu2PUqn
            KuCTV0E9AOyMIsyMycZt0CcB1aTOGanxriTY5TUS9fcidXCx42qiU9NBqItu
            qFLel6DboF1W1ztSs8mJMZP3zAXvQlSNxP1DzwvogGGeyWTPmCuWgBunq7UK
            CIT0sI7UV94+9oObGwQVrgYTOZa+JM8eCioObLnERHBHL6+w14o1YuYaoxBo
            4sPeV4wSuzGY1nWUIjta1F5la/7xdMgs3iEj3QS2fQXxaBcj7PI/vB76XQSa
            F7BzbD5tDDH0u7iX++nbvF9tJeO6AwVBO8duawbe22zS++Hvm/JAYSV6e5k8
            MddJRLQ9Oabai5pOt27eU0fzqhIMnWXsLja2vl23axsK6169V1lIXgsGXlM9
            y05j1IE8mov0xrLnyZFWXGYOwNbu1Hn9odYll1Ooi/RDbWFtMJ7hTairtAme
            VBW9Rfw3M3eq1gDWNMC6KZqRP7FfFyCzoVECshxkOAFJt10bZneyYPPMTO0w
            M4q6TiJFrrpfSYNThYz7UjxrGVh7IMtWFqp6TmUHzZ368XJWrcOm9DW95QrX
            AoVFVCDfg2wPCeQMSusdZVtU+5Z3S1wFr5PZHs7kiPMo67OPurm2dVlJ+7OM
            nPA3fifdLf5uvlhCbMzsq6qqubjUMhyfGOibQBEd6OOP6TiFOnvSwWIK4d/P
            6yMv99xMtG/B+RPpdkInEJnbKgEAPbwR6DDhLl8rb+pgV63d1MWpdgg5SN4m
            duw9q0PFvMWdPBDUi3YKPLMoW36JeKLIsA4bIDsHyF2IbLYlLPHmM7ZLyOjY
            sDIDMp8BcorxDNfW7NrimjJS99ke6KDXWsjnBCtl9o7qLXZXcrCoVdLdfA+a
            g4OWXFFmDtbYF0u9HRXpSlhm8odiXmFnRTND70vgX+C3ki299IqvC7Eq24jt
            FWO3QX/H7n1mHHi/GNrR+YMa0yGaHRsJ3A++x31V+8IW9266FWhEotCMYuOl
            CFP0W9MFENVcWJ2FoLn3E80YNgKSglsW7wGc2F3bSV5Q1+vVTvEuXmd/d/oQ
            6YNLqf5azv72uq7oG/AFf051AqEOpUpWsghH+PttsDZAS3NLXIN/y/t9C98L
            RMdNApLayEf2wTpcrpkIruW1zD1SYchqgJgO5rfXi/2OxDeQAabaU+22MCOL
            lIDIfzp7XAQNyShagSYLicIU+aPhjSdAay06btUsNQSo1DuQUfjaUfElgdQe
            JCFZhTJzdK7injaYLZJ0MEXkdd2fSRiQdQy+GyBoWiNSZ3R+DGT0bv9Dc4kH
            R1zTmOK5114lDQeoeins7wNzBpVBLohyq0R8Cd1e6UugbDtsH2BDB/JCeDD2
            H1bEobZuU/XtVH9ahiijdBjYIdScuAEKiMserKriL2zJ7pcd6GdHUAyWPg/c
            HpTBDtVrNFgaLrqWPsDqBLaGxdk4gfRIqXw3xL9jmPpZbKEyhGCV8u5AY4fL
            2qkXtkGqnQ5O0lok6RVgpFYqFIUCJ8Ss2OGa3UFav2Oh3eVjLhaBWrcZ43wf
            8MVCngzlehRKEkFfjzc1m4KZDcUgG5gAGaqCxJHujcFLkNzb39rnStJ0eO8q
            TAnnS3pdaZJb9XX13ske34uVLUHSsXpGV/VEKi8+dQGol6DzOLKZ3v/bREh0
            0r89PMmFc22i5lIbaMZilVd2mazYhlRcgddpmYAsnt8tJWQGDQRL2/YPOUr3
            CLAJo1JdqeGoaNwonYvpAivudcE/vUoNR34r88x6VSLllJJU8uUX2b/lI/Th
            Y80JTPtJQrSO8UHJP/T0r57lQcC3qhw+VrLZd+ouLDT/fC2kSSxiWN6csZWM
            HXuU/lfcrUYBsfWRAzwWkaTlQ2HjHgQQZtctcqzsq7rN6zipQv3Hz08mH/78
            +YTm9V8+35Eh+cvnG3KP6S/bnxaRlj9/3pe/f54Ry//1+nT+q5SS0S/Dfta1
            6L15OHpf/fPq70XYLiF181mJhF970Ydz8caewupy9o133xnbkGga/P2l99MP
            3iWqu6xma/l+XX7/0UmvFR1L66JEoTiH+bNd2/7RhASux8ylvYfTw/3mbWMj
            EvLv/Zf9W4DJ6vhey/I6h/W24P2X79dDf+/+OoClA6Xyrdf4GcdWeN07pcnt
            gfTKCs5FLhSAh/PnKux8a+tf2+99e3/+OQFtf2Zt/3O/PY31vd2sbXzdn9p0
            //Pg9k1dUijf8jX2Cy+Mh5sw0ADZrX2m4TfdDxFfQrVBfyfXMFiafv07Eed8
            AQyXUpuDuipt43BYkyNiWY9d2uKDJJ+P6Gf7fv+5rvjs/ZN8kNJ4STPU92cX
            FN8Btu4/b7mTQw== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
