<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0489.e062</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e062</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e062</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>BCM43142 Bluetooth Adapter</string>
        <key>FirmwareKey</key>
        <string>0489_e062_v4376</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57442</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e062_v4376</key>
          <data>
            eNrtvVmS7TiWJPhfIrUXYgbqDwO5/yW1qh7gDub2wj2yJVuiJeu5mPOSBECM
            Zx7+z+Uv/ovX5d1q//t//Z9aLvvnrnxdufFf9Fd0z3Tp3q+ix7/3rzAunwr+
            6v5r+6/vv7H/5v5b++/ef4/94YP25/af339h/8X9l/Zf3n9l/9X91/Zf33/D
            V/dc/Vkc6LP/4WfeY716xHjx5atfF2fAu+v7X8DUzGovo+Pgoy8+P9nlmAOu
            C3Pk8ywppxJx/+D/Fc8i7nNuKJMwkhpiCMHh/96362pVnw2YFF5d8epSwF+5
            Kp+0oLXZvWh63/GefXExx/qotOd/w1/t9Ld+9D0/Go7Hh58rzWcPubtYnjr5
            S+V7O59By59jzzPVeOeZe8jaGM7t6Rln+vY1BsemYuLVX+704nQr8zkWsOzr
            3O2s/d7vHoR9LZOjxxf7XpyEm3l123szstul+maL4+LzUZnTck37v77d6lP5
            3ef1r6h8m9/PrxqGDerH83z2yvfzNIOmq/9o/9qT2H+0H3LYk/ej/J6l8aP9
            JwVVGD/an2lGG92Pdva/+aMd7DJ94f7RH1/teahP+yp/FmN+P/eVy8D1+37u
            yn4eP5/3yxbH4zUeobf6WPz5sWtX/vExlNcmSj8/li8BqvSjvEvWfv5RHq3Y
            8/iXTnfb49/P27T+lB/t3EsnFbvrmZ/PAWbi7s/X83N0y4/yWH31p8Xv5wfE
            zp/lvZ2lWb+fx1rVz/nju6HEZCfr+7lfttjLyt97cZZ2zUchfe3+UTnkuLHD
            s74Gvw4a+X5uU6jFW7/t0OdH+QMunvr9HIPpduKf+/N5DwZh/PX9vFanE+zj
            93PXdvn6/Xyc8j/av6aVv3+04607V4jo2+dzl9M+Mc+P8QoE1fqjfG3aNPVH
            +YQWsCWLLU7oZXfi+Z70LLD5XN/P95xwEr+ex2hbK//YcaEbnKo/dpZRBRyk
            4cmfi+eBMj+fp73Y2Khfz5/zfH4/d+E6cPrr+QsH/Gi/n+f19++G+ft34/X7
            d2P8/bux/v7d+dWOT7Y4QPV69IK535VfsPhHowfBzvl7+fWz0xssrD+0v+of
            nv9oP22Mff9o/+Ce+0f79Tyvfyj/o/3VXuSH/5rcfbRr/X5+wCPIkK/nhyBo
            8Uf5PW/tRzvzlFc7YdripFA+wZrrL2rlq/LrefzD8/qH5/P35/MP5ecfyq8/
            9Gf9oT/rD+2P+Pvkjvr75M7r98md8ffJvX/2P75OcPxqZ1N1JX4/H82Wei+O
            7dJSf1S+3qTf1/Py2lnxt+Ncf3zsTEqKV/p6Pl7gKP/2XYCd7+f9BXbyb/0h
            dPx8XuoLjOTfFgP8S/k6kfMQCN/PzyTeVuevz+OP59frpP7+fP54vvvzfLU/
            N7UGRkbUmn9NovusfCb9+XnMDwL/sVNOp8dPcLefu/nd/tlxbv4B91y/Py97
            8Kfd64ON++2525Nydv655p87er5OWPntxJDZvMjuOLCfRDjejtcwttK57jU6
            7d+6Z8iB3vHgQgMeRyxPwtJlLGv50/s4bHEKmL7rFF6VdLoI3Of65qbGD+7r
            cPbput4c0vXmLn/e/+SBO/mNON1rmf+df/76rhWvLx4TU56/7suru+fc16/7
            9uZ1N1DvX/fjNfwD7Ob3vZtf45t+fnVwhhm+7uP86jC4r/R5v7otTk2Fh3N+
            jeYe6/t+3t/36/4a7Y1/X/fP/fyr+6trF8+fk/xzCb42+WvCyw+ZQfvB1Y83
            vthTd6bsTNULb+ypeYMoG/0bBNlozyjPaL6vxYi2Zhuw5rBpUXc7nid/RQLN
            sJydLjQrYc7Hr9f7gNI4LbezxWnu0bb2V78dfjv3OvxzfmzNz32ZKTgBSWHH
            liBrsMTNVoZm7bHD4R1P0Fg3Pljdj83LMm5NH+2Ujcf+vjYsh9jxfpy7zr68
            7yj+eH8RoKFpAhpI0BrH/Vrld5mATatV7vjYmmPt3nyWiXeN65RJbWge2o3d
            8S6TWswmE2koc9u3EsUvr94B/7b33Zj7zuqDU8GmwHapgTjF6mPu1Y+0+Zym
            M6DqGNj6qF5mfGyoWLMVrYs8Zh9l6qAYBjsvgZftaU9ud/GjTBuYNZW5KW0c
            e1+6z6GC3AcXtNspc9SNJz6nbLga8hbtYMJtOP576ueaeZ4p63P0TUR8lln4
            0C0KYmhaHptWfO1dBocn6ViDSeSaLKOs3Of8gOGNU2XQBCalmyTl81vuyjWJ
            Ta8d44pWJsWvMg48ZlF/ME1zcH58tcXp3ai12z0fFfygXJULc3NejcBL3x8O
            Lb7L5Dy2GOarTCwfZUrfZb7bYV8LT0/hIdx7ufDUvctkt2FRR5m72+I98asM
            MCZwJ9vBXrynbaYR/ee3aiBHchbv3mfi8h/nD+ApVi18L88Vsk1o+R5XdxXw
            I0q8hN1nGy55v94nBUAjv+9aBcvyrj/cBWTrJCYCOLVvrHnKlH1yRilGjDmA
            ZPC9u8Jz20RiR38cRrdaNGzTE/k4KzNq6B9lbmAoK4N1wdnfk/01uGfNvaOw
            aH2fJj/jxyR5MGRJcLxx13mbyPo1Sd4lQn5OEr7V5uESvsr4VIdNJBbEO+tP
            u9P1USa0WutZkGcvbPv+Vmy1J7WTSDHZyW3f30o5GmfTb33LwHv/KoNVNaHv
            QJ99tzKjpo8yYcvWJtGXL4kyJu66mwfIJmt8f7g6wlBviwcou4wJTOGjTMvT
            q0xdAivzMJwqE4zcrL44rA/hRQfymqnnG9seQ+AXgXYp6wjobMCkAkWCXA3A
            TJG8TxhYH9SL498tv79uZEXipFL6q/9H/b/q/3r+Ljf1dOrpUuml0qt+lyMz
            +Yg7u0xzQw4FPCRAarFyQaoUCmZNrv8sXkES3E/ZVMzrL24mdG3iZ/z+p73Y
            tfN1L7T+/LO/V91qdZsjEPtnf191167b/9nfr3Wff/b3VfexutRT/ZO/n3U7
            6ppU3MTDxjP+kyeDi+Nuyqj/q008t6FbNPTWcOK4P1vefdjXdT8NIKWUge4v
            7ONIegn7rD89ARm6mzD3Ifyeh7LrHkx+HA9wEIoYQcnZq8nKONHB3uFdJFxL
            4SlPGM3VkUQmOOK4XbZGU3s5gEHqDDtPPcoRHRaOAvcsTwn3hgi8vwncX5Sm
            lc+SqLzrF7fvgcxHepqVbw+vwvKkxRYhCMqjp/mx73nyvsI3z+1YX6N4nlRx
            jsIYuRaKCW9cVS7i/AG8F+Jtx1PoHufZKsZzZ4AAth1Q3z1ltVHVPsAv7ivI
            h5I2FFtbpOpJaq/2VDaC896oKKPwGlOqijODM04xFywEmOKxxbmYSuy94CtJ
            f9w3QAvwYwQfEQjSVBeh3sWLJQdh5Qgxk3Bj4SRgA2DxcvVUcS3nQ8y+2YYA
            cYaWXCuaYM/yq1PiP0TJNn6n6DtX9CLJRnIevV4CjkBtMQf0HwueORGxPetG
            yQzglDw1H5QjY7jO+4xvhl0uECp2tV8lW5/LtWWaks5PgRCUeDVjzBQ7oB+9
            DyqeqTrOGYs25oPZtM0DSlq7P0Qbtw9ewgqOP97gKKbNmX6vPX/YTHMvTuAp
            D40SGuyqRVIMp2g9g7ud67XiU50ZFKBddMQmc9lzF2tzNzWTQrI45PabyoTP
            cpLOWzkKVE65SqxDhWXGrGZsT0nfDeSCZgNqCMRCeF7YzogGr6X9NgKTXQhz
            v0sXJh9LBXI0n99AbBV9SeDjPSeQzyMnnKclPDqNNxbPc4LIbYLemdjJD1E1
            tSzoPTWyrZLOoIone76vkauMLYxvryiBV0WfcHiyI/Hr1Tcwm1i4LgRf8D37
            xuQiUHSOe+/3omAhQXc8fDa27CGmqlNS+UE2qArOKmjnOg8wtBx2YdOEdzLJ
            j8eB1SDWxKnHBJNQ4T3Q7R3rY1sE1C5//yybP8q6YO8meTPndSJ4SjyhgrdT
            wvtIGhW7ixOVJ80JQJg5O0HAf8b/TDtJZRkveEcnVYxDeb/BN1E+TpHKUdAr
            sRupUpTHxll6DmTPe8AQCSxAJHpu/Dad3l/TIEIuTjIjgLxEiCNMgk6Dfgsi
            ywIWa8aAUv2aaKLhxAWPQ7hw+HwPi1AHR5gnlpCUGyU/w23TkbQ/BvrEj1CW
            C9F3N4mh13T8HRZtOMCy4nr77ic/ADjpHy4WO7YAPTsR3Wj24QcdADtBtR2Z
            0fmAtAcTWPzCkXcg4YnVbwD2237jpN5g3ws+jskvFHoU55cWZ9YyovGKoChL
            wN+sXMO80HdR83wuc5QEeP/0BzTfrbNFows+M8hgfcXyDSAbh2nGhrbJ8Y0z
            ozo0Kspug9ERBJNeYFQzIVYhTANXV/Umnq9aWkIstxJYj1LBU77A+7XLlYjz
            kmusYKEc5Qc4mfgathDmcrlx0yQG0HkLhih7xU7zTkc3mi3QaTRGL9MY7ozd
            4BLrWXAY3U0pTeApmoDwCyVAmhcvZGwT8bNe8H+tN2+r58q/qLd+qVesHvD6
            H+vF+ku9y+o947n/VC+Fv9Ybzerd611PeKmt61Xv+aWet3rAFLfhSZ4ybkLD
            axGL0h8KorAT00M5EajPrYwQhie4wi6qfHlT2XMD/sWaW7Yd4TxQCrs3Aqid
            khqNSkY45XV9MgkAswCoi1RRiVIf4D4uQGTAZLQHlmLWXiZYfJBlq7UndudL
            5T368GqTp1mdvXf/SHgA7dX9zHlAQU7oJkoAegDbRzt9+apLgqPy27WB2W3n
            GwLb3hD8eY82G0/c+Q7LnEljWw/AOnax5mUSJ3qXNTZKrq4ySIiQuuX5xAK6
            PLPv+GM7Wd+IvbqCNQvCgXnRmu3peCdqmMcsbMFQkc6lWmW/gBqv6DYZDTxD
            HAuKCh9lIyE/pKfQEa06GNXcCQYaT1o0ComDZFmeRMBhNEEkT8Wyl5wRbzke
            cKc36U10BBVrfgle1YcZMSjsLlFK69KVm4slbwwIo6feEbw+6Hnwt8DAN/rI
            yQP4BZkHbEFYgsX7ra9YINfQP2p14sUymFCQ+TRE8ZTNOVr2kZi629EmeVCW
            HtMbY0w3NnLaC1RaHn5PKqkEgCeaPgBk3mQ4wS8/msYqi0Cw1dP6u9g2Maco
            NGxszCz7QR2k2+ytuAuQi486iBUHazzUEQx8AK7dD2AhJ26+Jq4AdtIIM+FQ
            auVLAgOfYzXWzteCk4MmWefa/E+TOBp4iTZ2UbZcQ4QFkMs1CGRILdJ+DdQR
            CL9wqJrh9I7kLtAy+Q5bkNsVTDZJNhAsOBnVY3EaeAmQHyAcgn3HAXkRXGHH
            du5MT6Fcia/FITeCHU+lHMh9tM7flI9MbDTMMWYb30t7QU7fKdQJBYRcwsnY
            pLhOwCM8HEEak/gUX+O5YMDbeU8+yzmPk0IKL3ng4xW4IGnRUAXX8bSQt7yb
            67nwUWoho04M0SAoV54RggzHHYsdieM823Do8+eR1gIRhHWsInZq431jRy8w
            tbi/0a3c7fSRj2HnEhheihnz4WvCFm3uQYJiadwo4L1v8h2uGk+xN4lp5Uhu
            VC9Ee3AjKDoROADzMvIsm+ChSI734IlFpQGcOAlqChXkovoA40iNZj4TFbjv
            3b53+96LMEimBOkxinrDaHQPqlFi1ODsSqJMVGDb94Wzeihh4B8y7/g++UhA
            meZ1UgDiNylNdGbHMS4QfbE1x4lz54iCBOQE3peBOrKBIN3w0lEQ4gw2exO/
            Zlkb+LXmEjjAgG9y25e4cKnbPCUMhVyyF+vTLlsgPMeigM7HguIEY7HdkJhM
            zysW674ryNIX6C08mYMcNPqlHb1xZ1yLckXSj7wvBFu6x+cFzvh7CJw17uSK
            TVDns04Zd73LLIJFUmLAaFSjYas8jtZo5JtolWzG1X20bdIHWhGMOzgFzF2j
            mCZ3/SZOa+Sx8Ncwzg6+yt4Bu2WP1xPIYt1zBR6UsgmC3urRUKpBAMs6CXI6
            qbKJE0NkumEhyOHHjIdpRUjWBCcLtPprMox6IbfyQrQEZ9xCXrJv4hXAfMD3
            sMYRuxRQAeKgsQW0E9fmN4Cp1ufJwHLr/uBGgU4QIUDuaMomKHF5TYo596aj
            qqySCdKV0KQKxjfVidQVZIDTyI2ItcAGTThzeIaNWsHbYA+tK4Cnx98TgP5B
            cJCgCIF1LxIIBibJSgdq30Hmg2PACQHiAalZMjgt0GpEFxSU+zlcmoWMO4jV
            4dOUrGOibGAfD0Ew8lYWvzoeSy34isMHE5oAg+M1TZPI9AEiJ78PFhHUW3Ol
            6b0j74NNClzQk92DuZS+zH2VMTqe8jOQn2ARcaRJETYCqpVWJLYC90280zAg
            8IYiRnDawM0/AbiBRMVyVobPRxdpS4ps6P0jE0sxtlIwUBZ1Gz4ENvdaf5w2
            iqcC1WwZbZM3GrtMtlPzqRnGw705bBNh8wg8jmpadTBiY1+N/9l8Te9235dd
            P0994MyCAWRfRHYTizVQxOhr2KYjU4Z47DRVN4EQEcw5kRyPPJGXA5THarNB
            jxmxayP73oDFHKVCWOCUyOkAwxCu8viCSChg9ZsfwONi3gCRnltiE2f/Pfv/
            z+v3uf/87/rxhprL8t1HTOPwXIpqpzVgFHmC5wjY4R/lcFKsXLQTDzJB7EJJ
            KHuBPwEh4rFIrEMZk+o4EUiV4Mg1CkC54Yx896TYABgCxV7YmJTu6DnxCoiB
            WkkU0J8FcyIJjOMc46uAHnuOaH/OzTVAlXqsFpFgP5qix9TIIMuwc+uGndjt
            VXDUpFi4d5S2Yt1HKmgwP2TcGuAZBaA3wSB/U271AFQkMqPxmTw9wKGSGzlS
            LyQv0VmWk7CVKnbCFW1+QHxM2M2N11ZqB45vPuXdt3d/BvuDSZv5GW+wSTGC
            L/5YF1FWXZ4Amu8Z1cQ2edoJCFtwKnBJivnq2ZvKPB7mW6cMO7qTpg4gBbgY
            Qt6PzduWKJhwaCRHwSzfkH/jYIn3esZj4F8gDi2SDzYnFL4WUXUJmyLE/a5s
            8c2SMjlLFwzaGGBhAEV7kb9AOU8KnZ5QFF6ST3ETYKDSead5P+8MMhAdo5GX
            dEGAoybDssFzcART5Ck9uHxReBzO3qU6zgG0zeaiQbePN/f9nlxNEnajaxS+
            Ukz/UZ9CuLClDD/qRwL8H+0INC/RJ5Hc/KJnTcTJAXIvWPTTl2t8tPXdDwBc
            7CTio4tk/4dEIL37gs3QT/0FUvyzH2Uv+mbwUzTaM9WQKBtCYVuce5u8cxW9
            7Ef8rUYz/cHAvxCaULblaOzeDfxR9I5l6Tw9PplcawtJrxczS44AuAuUb6Uo
            fyPpNiUmAVV14/hHo94cZV/codG7ESRNHuILQLZTThXas8xrpbXsJAtuFI9f
            jYJIt1hnxKffIEPpLcPJ9uW+TvsYwyQ4Fh+4qbtt8AMSmZ5hRb5J1Ma5+q7H
            8+ZI6hZxobTE46roe2ijHx6HfZz9mbuPIDfqJd6HbUyMBbhsU7eg+zZEQh/v
            WiQmDA7XoDnKD5a5b5zzGNeCRtwj5RIbvLFrhBixNwQqag10qwtUdfW75Muk
            svO+BQYo9wfpT/2LTsoChaMr39y5NSrZsACi6rYYhGgd1ZyX3xhARaFbCQ2O
            b0r/wVMBDFMcxDJyahJHQW+Yr3K1gUapJJuGFHXm47C6AWseaOxIwpCyADgw
            +IdORTUFX4hDgT1lHxVY9udz4AZwerRHAaE6Y9c3L/um91KZaGJRDyifkkM8
            s5OxXnNBoj1hlsmYsp1EsCdIFUBmDjuSahcjwKkEz+MN5zhT2ZNs1MSBb5Fh
            JQonTWK/sMNFTcWVpAxzNkkgOSb1MgQTNAgEVG21gvDBdTYQUSJNQSB81t0T
            jJP3qjsKgXlKrBcbKDs612AvYLETdTroj99SgvepxJHWSajgazs5G06CbH+z
            JMs11w7Gl9a9nlIFECtSHspqz7uwWYNBCwNnBAM30I3dz1NFIQMJHlKYqVm9
            RtLHmcjncPd3XAR9WdRXBcwl7iSKyNvsMTtzlEma/GJty4xqRBqrcdthfim7
            IzkHvgqLgzJpL86qsrZ80jBxBjsJ5DuFsG+7v/0Dqq5I582GiKdAsLcyoxrD
            BD9CdLv+PPXzbm/X71i8M7CFnUz6Pz+g9jjNJPSBvoqciHyki2uoJI3vLthu
            aoQ9ybbI4HIGdzOoEtAeJoKZst/EMycc2sms6509w4nMnRw6RUCJZGvIW+yk
            3ezYhnazTagmmezy/o7upX3Hrq80WRn4huMcYEm7fau20vU9MSn4nsuvBZ1t
            jaMmP/xaJRYHdwuIu0A8tGwEgZODQaXsFJuHSM4/GegN9D72ggffkRy2PX1S
            KQYGM4bfdwignDPNB9wC+9OfmKJD2Rly9wM7niT1epcTpQzI9bNsQFmentoo
            bAO9AoYOhYYb4D8mgTGoI5dpEFu5kSj1pgQbu78HkvFOEu21Nsqz/r92PQUQ
            sq9sFJ8AofhKNc1Dj+eHLtvYmNmHRW5SagCr7w1iyMFEE0x0oMWVUoiLRPiP
            sfRBXEEjKpzUYaCWfMOiv3a73/XDR/3wUaZjqKgH2l/EFuagrrXG3IvjpSKi
            OdZmut6wMpnIJgFm9yLwQKlzrnl0B5AApiVLOW1Yizsbn8QBwmna+vAlFS5P
            ZjZRCeh7CnQw4SQfHSERn32Uq6ccjkylU5W+S1zY8uR30cv7SCxyATyJxmxy
            deY0qtHdpog9Ovu+NZhrG9dTW+dlBm3Xte9ddtu57VytPvgnA+bm0H6BSfDG
            hHppWm/aWQ+eEntOFlrYnCfUff+mHFq//cdvPq/hepU35xInd2Z/XlwfhT5+
            o3HQ+aGe3+f5UcqVTTpfu9PA8TJgXLuz7UpS5649uHx9D2bu59wsNhn7up/3
            ffXVhU/xjXHXAIwfiw86K0gcT+ae0qhrJQALQGjSVnYPzo/EAxa3UNbC+v3U
            x0Z1lK+R6ntJCWglSqrcU4mEPY96TyZhlAlFJ4FW379xjbfPc+unGolKztQt
            QgpU1kdf1c9CmT36BXC6SMrjtLm6F4eEHTWlGdwiKzOUwktHc1nDq97FfdDm
            UTZ5UW8lWsnAKRcNHMzIQbPqsmh80fRgjlaiFAxkIq14Cr/qpwOX4Z3UDI3K
            xO6y/Y5LbvEkPjJV5dfiwRe4ayTn5xKj33Hu2S41uImTqTom+un7N9sE6bW6
            M5uIM46fi0oWkYo49LvTaMX/Mh+fi6G4AzcpPC5sBnmTgXGyeRvgyrrZKRzF
            7/W5dlqZsWrIgwbq3CQcX91gLcpQCis8GRdji8SByTFz2R21Ktl7PGvLGZkc
            G4ibPkCNgGVAozQLCSNO/K3GXbmwYzpIzAD+CjCVZTwmUfu+UZAvRV5Qx8ng
            UrrNhQHBQQCmNm7s1D+04e841A442PjRBsEiBugdJg0Ddta3PGqzEwN6iyKd
            UQcYqr4aymAy7F0ikdele8FfDgTFagugnPiRbf2lLBVrWgDKNQB98Zt10CfQ
            /xgHN/jm/Q4v+NocrIcFrU7CWfGI4pNoFGsqA5cIr88K5l9ARKeMnLv0yvTX
            5bFNABEsK/4CVxBQIAkLvtujBTOh7oNuD7L/0gkYBIO/7aZzOo2rz2Y2fKVt
            PWM45NoOvi+Jg1QQ4AoHFSbbxgxYEpQeyPFcySTGSds3alyzheHQSbpep/nV
            DviKS/bbNnmsAwzcsI8BIYBVqeJYakv6JuK6BdqZ5Q4/k3OUW+o2JxOJHJz4
            uBRBahGnUuqGeaPWVOg5ChGVyyBNojkVBXKOZl7dLD7NMX9XDPFU3BXmu9FA
            JMqOJpLJAiXkHoCMCTuoMOOiRxCC1xPcQ40jBynTrkFiyYNfJSC8KwD/nWXZ
            haFLjXysa2yZTK//zPfgaFaeb6sHvtexrd8G/BqoDTztAWcbRwp3ziF4/wbF
            aU9Qfk/MGe8XIwlgFHpksBpAhCwjy1BAmlFqjPuEky0TMBp0erMgpfODpC38
            YNcGOYsHejfTgYDOHURggbwXxigbDkrbfbTFKW5TOtyVrNDBgVPa6tGZyiMj
            Hbe/Xg1XwyUeC0GDOTFSawFN0rAPdCuX62FdxsSp9SwcjQB1QGgEqLJO1iiv
            hUC35m5DtmhgYl+2crv9Trs3th+sffyfG+CS06rT9dV+n9/tx90+29DzJ/Yz
            Jn0DU2Bgm5RGkbPbtrWLgghUJ1ymq5FY1IuhlWEMytdTVm3HAwHMTs5tSOB2
            8AtA1/RJHZ5NgNUy+425F+eWenfjE3y7AWE3Mo3b3FbKNsB3kH49yfXOk3V1
            gMUVTOT6YODe4gjihPDBxLFDWxqANiLbqzUlbgrpZijukUkYdZEEz8WMBTd8
            Zp96kO0ZqSgQyNlt0ySRuD9J5yNYlJ0ADeeB6I+mU+oCLETvcVGScH2Q77yP
            H/fS9Nppem9gbEoSH6+2Qdklyc6KBCn8DeoG7bzxXMN8zCalWt26rXbKs6wj
            v+SeTiNEPBjbZ87VLhsCyZdo5ujdhv8cYAumDKJSqn50Gs9BFwxPrv/wHLRd
            5f2HitjMrXCKaPJxSUZF8yjsMm9tCecka//6wHWVmCPh8SqyAv6coKBdBhIU
            KwHSvFOU6qqjhC5RoNaSiXoSiYDGi91PMoTGpSQLjgUqxsZJq8zuwHgDdJAR
            JNEf6GUlxtFLQDhoL1HoJWeM5SU5G20JTJJgVxwRSVBAlwH/rRQAhemoi406
            aV2c0U5wWXWz3f+2gfMW37Si4BGAgVSUY9VppnTv355okIojSk2BDDGQOUCv
            U29BeVKLlKp5rNRTQ0/W4S3ioNxiZLP3osgF50BIVzKtmz4xmdb3lVL2WJN7
            yauWqSGMBAftlp9S72emFkWuf4pzyPSeNmWi+fH+Ou/dfg+MwInbu12GKGy7
            JIqWTBdENM1nLmBNjJeiHq262ej+d5uOSeKBmbz6SwtXW8joQy0801kkdnJO
            Fjx1lapFYagxbEwuWE8y7NeCgutK5HFyuqxuw9bbfE4Ha0lVWWUjJHDZQCbz
            9l0xyZQZsJKdnVi6tkXfnWHxgKbWQCuFbJ6QZUzD3bQfE1EFDDIwx32iU4U+
            6DelaJMCwIz/Z+y0hPosd+o8f1Nn94dHq3pGI+AuDLLzumTJImZ4P/fX6xk9
            eh3V1lUSa1kf/SzHZyoHXEPcp2cCBnvxAT1poUGBrsZvpsOVm0BRcGZsNj+e
            JoTXWVSCKfJmE9ebVG0nt402caWKBu/dpC3JPjnmHWeccAgHcW3D7msaYvPe
            YHmYST6pwM6/wnq/6x9xiTvij/tcZWVvIQpaWRPT/kLKlCdgmxCxgoXYbiSG
            lHu87L5Kt2IiD6xEN8NHZ64noATBtV9payI/JBhHzBKi9c9vG+e+g0xI3ITJ
            wbUZZUWTxm0k32PdHgRyAjGintpYarLtynJnHMShvcqPrTxAi7qfZDT4XKHZ
            FGcC4wpSsgGdWP2bS6U52so2Z9ZFJA/BHwCL0uFidJP6JlL6pr438GGDNZhN
            rSaOsT2jfI0G39oNFOJlTmA8k3PCpMS9uGkv/h6QX/KZwbSHJ5cG0tLcQAhb
            vX1P/olh4guNBpqOkVaSowt4owIaAwXBkEgu8z2psjBDRHuePg2pRgaa8hI/
            XCrPhU30P+Rzp5BGQNIAjKxLEQf7fqxPzbiFWEK+P23R9Kvy1G7840QQpdSp
            2F0gcEag7/mIwndkNWjwR9OsMQCfqOf2tOjBLdiLTtso7NcHCIJoAqS1LY6i
            u3lSStgbPJq9iIHrN20EQJHZMQ923DMlJ7RJYwhP3Mf9XM7QZu9GshPHo7Sb
            +nBywltfQvswcPKC+5Ry4AQ0GiPmhxKGYzDonufWiaFSjy7uAkUAtuYN4Ya5
            bsilVVSZLHhIfkqraGS1yQoLDXy4HoTmgBXDMbKPEReJ/uEgGLOfiWIbU0vT
            Eic9D4mOxrmgfYRsp8mNFbEZVFFwUxUSHjxKh1ihe8rFWB7LcHS00BG0d7hk
            2YN3edCz9OkvjzpuavDw9cYXPbWA5tl2bz5n0T+netvRoH6uLb0dpuE0gwdC
            V288uSZpPQYWjqkPDeywS8RUcaL4O1dTDeP7pp+nWXaUWMbxfcjPollsHDT9
            NWsamtBXMrrzIX+e25D0u0oxJwREJm2TwCAaKw1raUK8tMDZo72axJMseX/e
            xvlvcyxCEE9batW/SjvfDz++H8736UKIcVxiOHygt8NXOf8MlgkoU8pxAymV
            xoglW9+0+bhd0KUSTt9wH3RKwPfQ4RcbVX5HZvu3jQqBNTTpS52kn9Xnxx0a
            pgHpMQbkABstFh+eR1I1z8y0CUDH0/iuS4jLCc0YwKnPRSKK4M4rfXQy6Gyn
            NBvAJcsLz6CxX2090Xab+hCtDwMUxLG24QlKdDuMBirx8cS2SNYH8yyvtCMp
            7cME6phMTZn9disjq9Bg9Wi8McYkb0EB7ZZi1F3u8EDBG/1WzPYBAPI2LnZu
            /6H4USe+60hyIJxs5suVigjqgBx9XvbiyMJj7IbqR0P1oyFnRtjsAI7zotXi
            pIqxWT13vevx7P3sdO4yrZUszNm7J1P3nv46WefIc9KaH128zf1mKhlZgG12
            OjxR305Lu7YZToWPKYmTy3LcHN2BVO4Up77HgMW+TxkgGfmFtu1F4bFJ5/Ln
            tDuBP8rXGBXz3iR+FOzJ1PcTWKitJXMoglEtdJe1npnssh1s0gB8RbMvd2ew
            iIQQ/ensW9jz+xq7GXg4bll6GZRRBniMXen6vZJWONmEvaIOOVFD0Ty+usAd
            uAQzGJ8Wl/iJQyc0y0uskJ6Uq0bEb3JQztG/BovVTadOix0snDh5lG/3NgiJ
            dLhoZseG8q1OY3RRvj1m0KfJTgR3ng5Z7OtG7NgxBLM4Uo5guHcp+3qibriT
            IKHVAhaIzl/FFrvRCJ2SbmxDqa+bMYpg5L2MK2WE4W8/ZM06ZXneyQcsUqjT
            1UVDw4kvOzLiIq+pn8EJed0Ps0tHL/hpwEQGktXiSEhzMXL3q3CzwmTbdN/t
            PvRFcU6kqvhVttg733fZuu+fVfkhMHQgdgDvsEXBnw51vFvHFeaJZmdYpH7a
            c1bfMbyDPGVuyn7tXdr9qqDjy8dzv43uccCybPipU8aJiTLWaLQVw6Z6G+dT
            Aga6CHyN8WpxP/eLmyZu/GQLFp0pRffC1L0wZKqBpD22RGn0nu5ZZk+g9ML0
            ctenSyMJKhmHOEX2KZU8Asjrui2aHrLf+KNBi8j1FUqjKmTzOX7HGSEcN/0E
            w71wtyUPyOHUWMBEXZvPoEfPq7EWSpde5X7V5wIaf/Cuz0Fbm/PKdsKMlKak
            QTCd4vUqkyZZjpIAcPpWEBPo8C3yBeQW0/k9qFPjgF73LlHnRDtnI68LJwvP
            Ew5Y3X5CM/YYGuXEQZZEXSQ0bcZYhu8Y6ttJxoeTSWcgumDJU6C1Kd2Ll1uW
            eWG0nOhKjDkSVjLbvWdDllZtnCAwFE34EFCy5wPwAthrYkmIZwqZbWeiHBN8
            UnBFqtNsp/iTxnCN0ulpgeQ5qMBAV32BKDxxCrAXprSX/iBqTJBjdFpQNyUB
            kUpaT4Eo2EKa0tLqU2ajUzwTrVwAnQEympsD306MvtBXMPG/A6hiHXcY5NKM
            GgQDMVzoZoh+xC78vsh30B7sI4kb9ZOKQYLnaZPNGAXdm0KNMRBez+cuz1AQ
            F0GflxM7NxdPAJV1HFekrbW3eAmai/1tvgtxzDFD3er1i8abzsxzsbkixScV
            G54bKTWQ1d0zroLzVNxRtRCpNyADvOKoeS8OlzjV4PRiapfy2iio/LzSwT4y
            WpcCI1Ap4qVcI2wP0aJiUOJF22XQURZF7TYJg2xrLLRwsqAOdo37Oe1IdaJm
            3a7oZqzI4A9Sht07iANwISYI+FGuG/n1m0SIYgtc8vdhJJLI4BaYKvIuoVhc
            hUiT5Zo9uXVq2bnHZb60742aLBpjvOw+0kywZuFefo/8W6WqZJoUIuxNQsNM
            fzPU78vilTHW1G/wl+o37c9rsHb4mxaqZcb7eFUfL0BnUmlGYjLyE504+g0y
            gXG2wSNXTcZu3tY0DSjJPMBUJzmJK4LlRgDhvdJERxn1A4dtmnNRcLMrIoes
            XsiIgZtfs8j5yblwX1KI7W/Rj/d8y+rFVz1SilMyq3jZN+I87+p92owuVZsA
            fL/S5FUGiJM+R7J5A+0NgkKLWW0xMbEL+BHUnXAY69N/OiUDqdFl4RtpNCaY
            dY4/GpOZCVKpwWmFTHpzbXtTOHnsFYZWjCHSsF+xUx0D+t8KkoG33h1mVe0Q
            F4JYmKam9goI+KeC6oB/d6D30k5ZkoY1vMtyF1SAs0Enw20XbcF8abcWw2Dk
            iz2RDGMS6Ki/iQCaw+JefqAPzSSGMakeAw6gvPbkY8iYgIK98jBqW5HfFy0l
            5B7DwFSMUyPR313Obwbwm/f7vmuz3EU4LsnaUoJOxp656PfLmPuiw82dA4RH
            57vbP41UnqdQS27LQf3EwtI48LKFJZCMYoYBNjsNKwniuJjy2pAowfOdxkSv
            dCe/IFI11h6DCE2TStPp9jLkiwJ3DaoUle9gP4v7WacLRe5tu4bQjhj3rwm/
            8zM14e1Fdb0mnO3wFBD7cydTJHJ2/qFcZMRNyU2M2pVk0azMNUFblh1HVlF7
            j4ZRTKGZYq1PW4NP06nj5fC0ePvLmGCqo/WsRHNUzjI47xL1YGLvRA/Bm5Lp
            JXf1Ia8BYkFa0NTXM/QPlaWnej0jJOGzEz8HiEPzg/ph/fAaB766ccZvhshP
            WdIVbuy5cU56TqhpwtsCLiIx3gCOOkUnhMU0MgD/cJ4x80e9TEGmOjU3yqJe
            7zHwKIZSntClK55Zrp9luMtUxrylSY4+IQ0noaBmftngMFH8zqwmhuGkaWIl
            yrIJnuJ6V4w/Jj5xeYuXjQLxIHb/PauJWKjPmedEesNZh/CY8qKv+tb5hrXz
            3f5pt3kGIrnL0b5Sp8kxMVUBDSeLpXNxcsrlc0aGi495sfJ9IeS6W0Bp+zaA
            qEkIfB6qHPTRqwJ9KfrpbRpXdiFljpJ+oO4I+epW+b4My1G5z7hwWjKpEgo3
            XQMP2EA9gTyIQbCeu4XyXqrt6CV+x3iDOKbvM9W8xAFFgrSY8bx4krqlMF0N
            uAqwR5lyZloG07PQNUVuUjSkqu+BmR9EVzdXN2Wwq2oTlJJiQjt6HoGlBNil
            OfDHM0/tLKnGKzEgESAd+navRYmkY6gWvosuJlHE4cZjdPwmyRHyyhQEA27j
            i8xYhD6BDANLMO/LfE6Ls35QQWLXuZ/3YuS43QN/44q+ubiZUMWEa94cWj8r
            s9D4qIy+OVIqtPXH2Z11/9ZuB50Ouj+vG2hCzykVEKlaZxMPUEilkEyn4doc
            CiEn+YJ1vIy57/kcwM/JgfhW2/fcz9QXlXNuZPEXzd4lZ+3dzt0ygdrt3RiG
            /I26tcvQtm7O/bt/tKE2rz3erzZPH9uPPjIizGmruP5RV22V39r6pX9N/Wuf
            /fNmGuV10P/dzp4B/r/rqNq5f2nnPu1sd3tvZSJjxLzu3ZV3O+86/P0xyPuM
            qz4/2qn/2e3sLAm+OdO/ltoJSi5SFQQhJSj+hYEQZrB6LGOVHHrqvgfV5M47
            Lth5/ufJ/+6kRPF1t0nEXGNiJplwMRpwI+Hwap+n0Ik795aZjISpPMDd4Dsy
            sAp0KO+yl35ox85umzlszWyyN18VTVWiAHCuvfp9Ngq/ISixPcpNzmi/g0Ux
            cZs3wZGgJQ1FNewTQ0Y9UoCDap/kUIi/HiDIatY3srtTCfl94BcAZ5/2Lm3x
            TaN/jjoFfHNADBvYcF/+N/xYyjGOMqzhaQ3fKHUalCzq1QZwXzIQybZyQV0w
            13RA+aofPuqPz/rz3Yfp++lDAJYassrd7RRrZ8yPdvZYOLFWz8Zz6ubyj+re
            u25jPcfIr3QKtrg72fo/5b4pCQNBerK6I+2FzOaRXTJw4ke5f/L+3ienW/j6
            j8LlR+G9U7wGBeRNGMmoMF0njNqr8MINbXgN5H7uMTblRdM2RrqKRXFm9kmh
            aJZBHIidPU8LNVuDCqpbYqCH0t9HruErhEle2e5lnjjp9wuqiygzmLkv72kR
            g6u0C7TmIdvNaIW03elmB91IWtPp3Jhez8CQdPh3Lb7fUyvM907ep25SzHM7
            9oPGD3fpFIRS/PfRJzeUB4zfll+T9SuOmBioCX1Jv/UrNy3Wq19J/Yr75Ixs
            cS92J5MdrVcn4+5kVCdx0NO9hXwELdMmMpoht4EYgTcM9KEUe4OZych+oupk
            x7tol8aO0mIz91zNuK/JSyAapOsSLDKgAzaFzJNo4WnMrWIZlxs7Y5nGlYLE
            8xu8yWAkqpsRkXd7YMxH37+pM1JZTuXR8RSQuOkxL22a3i3FAlVWqfOb4VDI
            n3WS9qJau9yaqRD0GYw34/2MZ+qbU54Gne2DoOyjayyVUmpuyCs/zpl1KvtJ
            83qG/uAc1FZjycsWRzHUOyWiFCoxphJdzpWV5f2bHyJrSLrXPr5F+yAZNyn5
            Ck1FYpX0u+Q5mX6FfM9zla8zqJ6zJM4MBhrmYoht6isrv+eyrAAwM7TPws7S
            pJoXQne0zqlj0tvSrSRpNM0laChPA8aA2QuSHNPdt1AH9HqWVjhxQSefehlK
            yhOAE8R248d7rFW/WuLJlZrb01uPkRMbv0kBuXmFM5IjzZNkmuvkOC/puq9F
            4UzGMM/tMCNjvTkGh6CvrOZCaTds3Ks+Y/pbwSPGJqWFAj1Wp9YUAY0YSTZQ
            giiSbj9nlAt1yqLT8p6hw6uU8oyfNmjbL/uruoPcBetUYLyX7sIACSmxC617
            hNyvid8oju1UGUaBp4f+o86hk0kLaqppxv+jJVWQ8sx0IejM9QCS7dPImKRe
            cVTAL9HSMW0ZGtMrPh+hxgCHwUW9TKdoCkVGOtDTpRbFPKNohcwieLlJTxGK
            V3R/7Xtv92XayXN13/MEV7Nd429Z6Jh3PG0LH/SpCeSnZ+h6MYwAZngtxzjo
            F4kWf++0ZrY4a35QLVgZ2Ze1Td2kbtYuGIZdo10d2Ey9n1Y+7efAAnY9VjLJ
            rm23m2k4rICnVj/uWDG3dztnnZkaYb769qFMH78rAM/5XT5+NwsjzOmLDPIl
            K5un2KT5G6Cu1uHlOmjhwwR6ASZzl3yQYfUlod6WPmTWVReTOBkDzt2mrbl2
            2c96eTwBLKBOFzaOcqqy/M1gfifqCDUlUuzJBNLdydq/KDRC32Q9O6W9vyyQ
            rS3OXevvnT0fpZBblq44yrPc0gfyA2vvsIcGHO1rAIyi5E0DSH8vE5Dy2W7T
            dZV318IE0tTbTgoO00dIl7mFhiCzCLWGdtdli7BAUy/PmMfeSafDINo4Sj8X
            4U9j4gKEXQ8c3+AE/WnhOP4HQPL0Hb8BoeT9gLpRwmrJ5LAhcN/i3iggaSTt
            mTjVgBqNQlY8a5wH3VPBKBHATZ0NFjYyxIVnYr1ny9aUrZFiRpopKhtHZxST
            S5Eo+RW/I26QYKetDl0wlITaCzzpPmpnoD6j2xqOSYOyNZqoXhIMupBKGvjj
            f4xMTBDBybnT03FuAOK8PzZx/KNZ7wWA5UTRPaXlp/EawNGAaaO4VTIpRqDz
            qRTPdM/4AyNd7/Mu4vDTVGq2HilWKpGgK0Takq0me8KLcru4zafK4Y/ckxal
            IvewOHCjfz8nXyDB5dPAqgP/1ibD8aY0yKAqMjDJCS32BqvXAnh+g9kMfBuY
            SQVsKOciMDhHi8c0KiiRc1N65UqbMIXHAol0y+ZMZmqyVfYWhmowRjG2LtXf
            Vw+MgO5oSkwXdVLRolgYeLRlM7tNyjGB9nwD/t7BhhgvhqarfchElTlJZNrL
            +uqg5y4acr2nua0kEpcyfeteyDeucL5hz003pGeyOLiv8/wP37/s+wx67k1P
            RaMPr8woDNeiCIJlhyXmJi3+JTjViSUejDSeVDwe66OncasRB40ySDNbtfmU
            QYaYU066XWltKX1TVEYGxlTGGdqLcytKEginSo0LNZ/0z7/BIOYanAUkctvw
            upGPQCfw+6LIAdsogJ5WJCfFCEjmvs5TRuGLFrKKyiMR04gjqKEfaZdtMsty
            pFZGt8k4v1nX3TIbkLufnpen5Yy+VVriKSphVTuFKs1lbWYJRe23EIki9WLh
            A01gncZKg0O2Y/YImiT+ZiwdjY8BUWk7gI1JyM44nMFbrGp0WhatgdY3FOSC
            n1PIAZR/O4hVzakiAxN8/Zvf2lGjAuf9ojXLaQx8DD2Dq0WjlKwNQKCSIY2D
            0i7l8PD64BVn5SJSxX2LKST9Y4vHoDGyDfB7cHSXwgYQ3zDeC6GAo44Tltv2
            MXVnMRIWg4plA+Jc3V8WnYqxTZiETXiMaea69zbbvacRHCDXhPXbsCsozmDJ
            j6xce5n5boLmEDZ5XzeBdAimn4TOIZQOwXMIpENovQinHwTWimt+ipPufXK8
            /HPmbWHmd+G6Gz1UFCZPOzkxYizIXh7nTJBAH068w1c72Uouqt5J55IlOt16
            EgHfn51320DPF8XDJOig7c502cu6YTWLZKg5Cyu5ZryEKzuwEVU5QYkkFOst
            FzKLprenXbNjAhVvbTj5i4IQA5x3bluXVnP0pR0dI8orNKASwVm7IVi7iboZ
            9w4QPjc+UXJpajkdY1mBV8oWvV1XGq8opcMDRioqlKZsE2SnQH8ssQ1VRAVO
            0rHBIAExjc8Jgf45zPAxeT75YTqyR0uMMPqbJxi3fXi0fV07BCTDllyrK6qS
            o34d9YaMBxmcmF7VS51ipxnsqoKVwB8NLYZ7w3BGKWc/qtKpGEFAKpEoqU97
            x4gdvX8Ppjd716z/b+MK43Wu2qWmYAzTRrWFgheVEzyVMCg0ysUYHSpaqtF2
            XEosfDLDGTNGttLcARE8tLagNCPVWh4woQosRBTf6OJCBuOmydPOZ7YjQhH5
            JKfA4P14/bF9Gnxv43j5t8gqyficEE8O3cIwkjTIC4qnyTRATOvHA6EJBKPt
            FHRMYM+DbbtJJ0zuYAZALIHp6kQoGJzvG+ZfUoplsqNMWFHW77sO4JaG0I92
            MIN0Y8CMP8yBU73Ne1KjvJfI6VBa9DSMNlDmNEiOkRDxrblemtU4LZ61Dof8
            G/a9qGCMOlrMaKrAaUcmsQngcrjBTPN5tuei8sOe2Gy5+ALz/mURJpl4iYvW
            6Uu9bNHoxJgZDtqZ5IAkOO2pN9FA4qZ4yZUELRxPezqLQ/8cNji4C5w1aPL8
            YVSRTS4tXwjbzNfzskb1rO1nj0xSQS2is2F3Em3SNlidXB911cG6jnE41ROT
            Em9qOXdWUeyKKmMSkdaUi9zYLQoGXYPZXTtbKG8ESR9NglUgf+FuR+/n0szX
            9ZEuFv3qxkdJFQK+qAyqwqMl7W24n5r8ovifU/UKgaH57wRaHEg5plRxk5MZ
            nijnZm5emUgxK2J45ei5JFmnHUzZi1gZGaKMTO+E/vRA7K6MtZkxbAWNlinb
            QmrKV6UwXC1smKkr8w5YNHGvj1qorucyvkeuVMpNw5hMJBlkzsRtQo8qsCM8
            /vEVTI+yHwq9zE9WMQoEMv0reB09VUk79nL5etwp5M1NADN9YJwB0CQgPoA+
            dPWXXQn+UkI3vf0epGh9tmghO25aIJnQb4ZVoT0DQ5wXXk9KmEQjGYBMhmbg
            fX6ChL63TFK3h1w0u7pn7pDKO3g40w5YDJ9LNuF9W3rKnXEol2vZGZhvI1js
            vp96a1+rvT+kdKZ/Tp72MAG4eUvkrY/3ZpXGtRvbjTIntPnx2LXtnNKJVsjX
            O+8MjR6CAlgIditIncYaFsnJJtJTyhOANnuedvwciw5A+7CP5zLd8vZcXg54
            nl1e/mXSheHs56cdWTtbO3r++q6z7045zi4ZcyjPjqKiXgoYwftpoUITI5go
            mMWtSU/c0ItBHmxMVub05WYezJx+th1/tv0xhvgxhmVGhUGT+zmg+IcBxY8B
            xZ8TuSes/pzIPcEyVOSCkOXaPiv47Y63wtw77WXBYrxOpzTcgmmzqYd8tait
            a3t4g8wDpQgEGwCeGIQpGVMqbzJma0wYHrgGmmkrm8dJTL6MS98h/0X1AQwo
            Rtu1iZlzPdmnGBKGkXElgqONtcLJlOvai+321Ar5YOFioruInbg5zYI1RAu/
            +bzGa+9fQZ8sSFPo114c+ueQMqLdmL/N1bsx18CnS92mXCjskuyJDOg0vQ4m
            r1zMDjLZoceCWJ/f9U3t0QxpMWeNcgJsh1qmMkFLJCvBlbfjbsKNyDYw5/fJ
            K21qZpJxZqFK1pdR/fyO5Bu9QtcDnMXAZ5T1KXAsLZBAHdIyVRZ0Bxfwf9lM
            cZV6eme9Ui4daz8ktF9vQAGveM/+t2+JWiW5rBjQysqleFDsAH93eSfLoFHf
            VHg79ifs715SXr7qUhqcN0FQLX/OvQPlZKYkfXX2FZLrhNlllNsfYXZ3ZF2n
            yLrOIutqUui2a7Zv61BWnlHY2/2aXNq8VX9dr0yJl3IBsKNJ0Xm9XDtcxSQ1
            83OMr+eM1t5QX1E5BBoo6PGbIvqK1HTiglJASQVaTbZZXFHfmO+g5cvUB6Un
            vaMfCsVQjGYru4R0m3FgICgD3o0W6daipB67t/Zkc49cvE5LW1rvtSzW546Z
            kJmbzZnnnmz92rNOvASeku0CElqpO4jDKejRcGQmXz9vkJKdPpv3O/Tw6Bbk
            FJiX0QZLWJYDwUxKdwTB/P64ciB0pYJ0ith4f5TfHRIG/ihf7l3+juHVF6+T
            +v1dy5WgNoL/HnCh8ujeZfZ3fPsuA77pPdaK9ptU6G00KQtxpFcAwsg0sU00
            pn/22D/G6sd332Uty8Wzfprpk6WoefXD3T/qoO+ijq3OtSOyhx4tS3bYYX+t
            sv+uTAnjZ2UAbiu/O3j9WAzff5Qv70meQ5PsEonboLjV9PTqx9KToXHobnIV
            OTq5K1sKSD2POzI7jxtAyty/FYabusq+gkxiO0MU4XA5M+PlUj+cEOZo38G7
            nUhgT8EBPcbJxC8GjyBDu+aO8O41cZb+C307ILfwZMld9A1ZJvFpK1180hXM
            IStbko6X97Tzit/GiPXlHv3kLAKNznac5Djpbstc3Zl42DLDqSDd7twjI1mR
            y0xO+sP1MNFuml5qzZxNiaMS3RkUa/qjXKf74s7qjr77jwjpeV+PJjOWXC3s
            MA8yI4mUwyekHS6F/l7yOCaDrTxodYNa8DJMmn6kDZdFduLuJt+m4NtHo0rX
            kBUZpA1cV19VjDK/0oxpVnTzvGRnUJxyAslxnjljjwa2pzjx1+QT2ErbXnFB
            jrfFnJwpSYiSB45g0ujhZejOmCqNzHwxsy8QJqL6sBm6OT4rqFnaKgORS7Rq
            GNtKXuIDTA5dIN5BEDA72RoaDCNPl71o9+ivcpMxzTo79/iHfmwMmt162DZZ
            8vq1yFKxAVkoohSIPpcS3i07GRhhV+KKLDMpZpZREknw//u+V0mdrx28lbGn
            9ztnz5qkh5FgiPibPBhPBdDNlNNDPor+psS1rNdp/ybcaWWVLRF9Iei1MmIW
            ZBdhPHOMCkvJvkyKVphUp2BDUjbI/If8vrVtTHBKZ2F4wuv+PWiKQlFUO5m5
            6B2rmAcApLY4s20Rvwoqo5TR5gruUG0H0d4CCJDJLV8dkdHWYtyzYsJJAIQ0
            dhuuNKXrCjbZnBi2k7KowEXKhPeF9xzczp7xWbZfT+O1OsuSMe91JSDllOkz
            AzTWRkjyFWKQWbLqmMxlxiZcBE50WuZCTz194tRcTAzPOABGEsceUyFOYgyI
            aJ7hVYLfkkJXUHKFQG9Ku2lGLbmv8fM7Mcjjjmo8BViu1+sbdABICQTBzzqg
            FnCs6E6ibzrVcyXRxvox6xs6JRAm37TwfC2OKysF+WZi0PRWlsiEcf9lpUMx
            jQ/JYDUGNABoQghGIjNr11e5y8ox8IPoW6qgGT20nhNCAZWb4HVep+Ds5p8n
            QJaJl/EoVJLbDr1e32NiHC4oKMRGxZfkpsRfqH9OHXf99Aqtv7gp36fDuxNO
            madVsfpo06334Xq9A0w7z2S4SFXKpawng3zMNXGwxlG3l1bNdTHQ+IOQhX4+
            B4QWGkg0OgsB75SdYxvgt2yccyuOGQ0hOuOymIv6cU2PtW8z1p28p6YTb1nS
            EZwnUylUi7w3rvPeyoun2TnK+FuGWPydf/99mLLnBEbaEf2e3a+1M+Pe25We
            yFjC3GZOu3Icw2S4LfFNTI+k0IyYmKxTOCIY12XhLS+LDUDbZJHmFhYzOtMf
            tWtu09nrZyIN5lrbCStILCmmAahzmkspwERKb3mj4s/tlJgMIqj3jKm2A/QF
            HQ6ghykqT7zeUVPfj5yS8BGpW+/r1fi2HXBjyRO/p3yzM4s0eVYsG32ECjTu
            buVeSzIyvLTLgYsoSaYF5ol2wfAhzLv22WF5j+0AEWyfjsIrMI51mVURDbXz
            LNJFE4PcX4THFAVEiXK58xiH0+Z4QCkq4J5y+liIE2w2kogMBVDkncUdWxaD
            iJ9MiHRbvF5UGXd6Tu+ItnLFdMprh/NCk3P6nEh30+QIDOpyKO8pFY+SGhgF
            qui/j0gYUniTNl6g+dh+XJbg4/XNShmmLc5DjN/ZJQ8uINAWgBZ4tXcOgFkx
            ab9mKwxoSE01I2wxE0B1L1Jyyc4p02cGfNFX53v/7nxv/7rz5UfnvXt3XoEq
            6BCcQYa2nSyCDJj367nstNDxldF7LU+pG36H2x/RgYrKozhGIMazlse0uJp8
            ftNRjCkL9Ixb0nJgy9DwUsI0u2dZHMOuNhkA8oOcxm6dVfom5fmpzG13Qqgk
            OjYDB/YE6hz94/con22BDoWyCJ2MRME8PDsVZTSVPxpjOC9qfh3Vywx7hclr
            0eyGDaosrizd4C0uTHtFApQ4XUeeRnoY7l8TwjJnpfDOJAtMBmRLBUhVU7NQ
            aUt8XPL4XYqzssxfsRZNvMDkoE7ONmaN4HPfjdxltsZTT/iRSiVaUL0T+Tku
            LMjN+yR8Jd906lCCodD7IHT5rDDqM0MhbyJBIFg2cRJlUb2+lCw2WTCh+Sh5
            LL32mNPbpWm4FuR4Tz0u4jWQJvGVnBB8l8pb/wVZsJq6PmZDEMUdKBXqBhuj
            PiDVtmDRaZBAyha7kyENgWSbdDQaiFM6L8J46U92GeyuJk+56dypJ9F9XTux
            HZ8x0m7sCopA5qSVKTLVletrQgvdwg1khcEcNoTJgNfeTicDrIUmr2dDvsEk
            AnQnPGDkE2wUIm30heFm1XfGovlYLHq4SjMbrX7nZmH8tmU6Li4M4+nQNOzw
            NozD0/aY2M7tVv0CVeT5Euim5Nvqy32WXfmvZeNeHC+RVsRp3UiOUfsU30Va
            w6GOP5chL6UHeO1m8/efCp/T6HwrjTcH6KZIXDJpB2fIFvoVZHbjIO1YkNKM
            F9keOedKeu0t4OsrIKv4J4AExZK2CNTV48SdSfUb0V7N3lELek7cQD3Fp0gM
            p1KHQglvQuOkuDzJYAE6pJ/pO2EFk8pYRENLCqvMabKF2ITKbYTJ3P1y8+WG
            WU7cA4tUCIIuvURgml8SjM30W13yQIsyzO0DunIvzhLOKXQWDXGrYUHkqtFW
            GWpeVvHKZ0RACtiV6ia7iRecnGoNmVP/L/f2ZFH3jpp2gz5C6aZnU57SRl1V
            5SZwpKYA31u5zTiC3AUtsMXHkJxeUns7ERu0/aIGU+Z2klgLxL4cfrfKnX0a
            UzYJsiCVriN8SBIYTST5ZxugP0LoJDT9MUyJJc+tFGRYk4s202OdTL+vSIY7
            olUSX3JSQ0s1nfLuBzbY+CSk2k4W+6Lskm0whSndOCf0TcqVy2RITPLwRU3F
            b2oqk19JzBRr/EYwqu6Wualr1WK5hJdKmh7TrzAoJ7/1LVH71mF4WsUnUWqM
            0cYOK+AeF1EpL8FwyjahUZ7xitYk/axZ9eedopmOsoesnZ+DjxalSqBKXKYl
            9yPsjgoSYaa5A7zG2jbNckGhzuZQotX4nE6yN0gwSzyb/J6XpxsVyd/ArQx4
            WSWzzJY0g6Yh5K+iGb9nLvTVNOf3Jorcqb+9qUli0HbWwqM8d33R6RKL5x0m
            60g9CE8Zh9L3dhAbA5FxsdZ9ly8yHHWf6z1ZMrC7bOFTsftbIfENxGkDDdoV
            g9rjsc+GhHcQBQVl0CSspx+j8DX/+s0x1wtfUMna9++R35lMaAvXZMWRBWrp
            TvLCO+kNIt1OkUxiBuBxvYiHF3564woLrDpui9Zj4G7EE+oMvS9v/vG++tYs
            73w/l4HbcxIPtZbCjsnL4CpmkL3ztRXK1YhhMYdUR8cT9E0TAd6ZAUpsd4rB
            NsEdEw5cFmdZsiclleduY1yYVmU08h0sjwywfLy2I5OTVHw6C1b3KFBdl0uG
            CRvrDl7XlY/gVl7nx1NAEk4wPZ5Q44WbGfXtcJiKCWrUo68hzbrSZL4r/I6K
            E91B+9WFN1Jz3NvxmC5g/VM/9Fs7YCHCb+0Ag/yxHS1GiM8r4kkbF8PT1L4X
            R/689Kl/iHYiY6M4Jq7k5CbypwFoayjQz0P6+fxmOZpvgXRsi6pbmopEUKND
            uEP6Ygr5sPpeBAAjYNBqPxA5NhofNmkd6HZImjEtRvZtLAeSwjP+DEi1RZuu
            +fm8EekpploVyy4XGExyS0woFC/6cGLmRttpmx9z7qVPAi1Pb+bxvIp5zjH5
            0PXRt4eG/BQddG0oGs6hnu7pVPI4C9nP8ndwuoJPcfqGTfAIZWgTZWdpBC4F
            K8M9Be6KO+cfWQ7xRNPUa3vcWa64q1pyPVscxfykMSIfMqQVISJtpwoBzFTk
            QFpB74ALNLVNixQFJ+A0eNeP9/3j/e0UFOiqM9j1Dn1qURXEW750IDwSNRaV
            2QEvxTG4mvRqkYl+XFmBHtWLjJ0HvqsMOEfb54sGX0FeayzDWAlVFBD1QY1I
            kH2hTSD1KmwDzR7v53G8v/nMmGZa0Yksz/2OWgxs0EmcCsa5MRQby93BDOvr
            /k2U8fJ/ZeQREVC2mCgjb2wsMI79CpS7Xoq41ZvswE0xebc7WrYmwpzEvWeL
            o9QW0u4xTRapo7IVZOSkmKQOS4aO3SsrqZ3Xc1BDoK3N+pGBd3S1QNYzOcuk
            my+JfdhJV7anFyNPb87+kvZP9mOM0KETVu7ljlJujfdgFIq4tdZN8UeLPEbz
            yIyEG6We9qbi3v2OffFEakJJdZ5+03iweosDx1SQmcnsmnLeJ7fHEvZYyohL
            ijO8AQEAStZJdAIwGN0oXS6PGCO15aAVwD8qJP5gIFDAG1mnYasVLbIi7AJ3
            dVs4PG96DvDN2AruXiFeMTnaZTBZi8X4jELEFA1QtI193sgP/N2kn51x38yE
            Wxh+SJ3FAJxOTCsno1JVjHkng3iv2Jqehne2AL1zxw+qgu/AdGZ9W1wmGu28
            7z8Xul8PuNGo+PSY/EVhpSY/YnG6FoeB4/Xs54Zg/BtZjhLUAi3TQvN8x77P
            8PYWPVDGH976QqUaTzJDrXha8welIrMTRHOPtirbZYx1JxXIXc63eUqkigdX
            FKj3vrXZ17sfzCv8Pm0AvkAMtjjNKWoUeZXSyC/zuDJxkVyyHz+f8N7Bwb93
            MOUVOM8vQ3UhNwAND2BYO6ntMGV02GjQaP4pU4IQX5NjXE+RxxbQNJDRMxwn
            s6v0OOmZaL2B3+ROD0yn+oiGHjY4kKbz5ldNK3sJAQ+dNg44btzhnjUSo4Oa
            n1Ge/eXB1vfz0ZnrTrkZsgKiFgWkSMTHhL4KyBopMyHgB15p1j6/ydA/cmfH
            LGi+FGj8xAnF2O5I7ar395IKAh/2uqcxPRlM8G0c/NmYbTOh5lry8VInY39U
            ibyLqDcXFcvzZkgyTFwM24JRVFDblouE7ttHLG8R//hUT5/TRTXGjxPWTqfH
            xbD49psD5nzOQuOLm2G5Ol0WmWsHCAMz3BeuycozP410/locvDPtZTfe5JlU
            GEqPcvkdxUmbLD0r7oXEyiiPKCic9QK57Q1y753kiJ7Uo5sjlvRfF0jxStN8
            eSYsbpY7G956GFueboof7fObf2k/rHebpmzDYMnnKCAok60vYFHjoJORxq+F
            wi7orn7cZ4ZG/Lj3BCs2KWQPOXAgyrk7paNdwaW09jrONVEmx/dlw2BG+SQ4
            YMxRtNXNVGgqAQU5daZnriXMfrwTHgWJAnCTSQWHEvpK/MYsQqTyNktBjKN8
            gvgd8JA9mUpYzDXfj/HxvjyKOcAMwMAyN53EaGzOlOGDkdfJL9yz1nxXRdhT
            RE9vtuKgHTOdNYi7QZgF2qUFupUvV0h2hxhwjXREQ9udJ00RqzppIeKcDtrF
            FkcWytrrtMX4WF0X/7q68vVvBk7Ckpu9Jeh2HZDYtH8ukayNDIwldQN9X5gD
            nu5x3NkgHYcS8DlKsvuWJ223jFvCV7Sf/Ofu5zHlQsWAhVrSptL8Z4Ma0Nc0
            7wD945z6q8gafE5l1wFvAj/uoTGInoWNwwYWjQz3ZzmA2JYpD43rOuB9m2Yt
            Hir6bR5wrLTMYTHHptcJbE2gFPMxbVy28Qra/Lnx5olET6Xs/d58fhMEU9LK
            eedzpATbu4yzEo31Pj+IRRsFB1aTtp91nI5Mc9MdeY8x/UuM0/waLN/OukwB
            UCgMi4pegY4Ewe4AHiBuEVK6GcbR8AV3NNu/vQYQmT6GgsyrPc0SIZHeYhyF
            FXL6MVk4PbmaR5wy7Jk1TuS3QOFRU6rg3LTsUd5pt5hLdGqTyh3QFi7JCnUv
            5n62Lls4ETVMxtQsuREDscYNMUB9jARsGKm6+PGuM8LuVV4eFvideC+hbzLb
            irxJadkqM9UiGQpmKjTPl5I+o/fJRJVmPE0TOIhKYiGlFzgpbU4yh+AHwPfc
            zpJv34wN+ijrn28myh8FTF55FC54xo7Tp8R7AEGTgkVzxKLIX5nip/S84JPI
            qn7ohy4mdWaeNwuK2kYWUeEeS0YnC5d9P69youJK7+Q+RDMdG4OUXgfcOyIc
            SbKrPLYVaXlPoCKJ7IDhF99P4qktjdbO2uqDYdKNYe2mQYANXJUY0l8Gp1EW
            HjL7ihYfMlBTeb7run237ZOzpsJK0YXQEjIc2VGUVcpbtK+o18olQJ8HTztC
            WSp6GYnJKNapnS2WaftjfL9MaygBYJdEi55oz6LyjI7zphU0aYHnI/rUNLm9
            KuDPITgamZX8dp04BMi1RfiAe+sziwmgbjbVgBEw47KgFCAK8idBo8SD19sm
            YrzyvA3P8bfHoi8cD+mGUXOuZL++bQXKY2GNaU9D9boycF5U5m6bcxJa4X7l
            hchbi/sYuAa3wxw2ZVAi5MyQPVpgmkLYnBmxtpIL5gKc2Db8qGRhvTAMogvb
            XiywIYIBpULlJvVuWOIgJh9iCiKcK2zCwhDz+cJue6kkgLDc2S3NdmE9G+Sl
            wMrEG2+lFEOHM1TLUc456hqb2bVRaCnSVm76uAI3UnEoKxmmd2mikCyJXzbX
            DdM8vrWvcktnLtIqsRelzabD0q7deqm0/O3KcMRxCsBk7+9lAlgj/4faajV/
            Kw0prY7m2kkCJIEZYlzxy8LUBMV5oGkVnu1IhXRsFGCrL2epbQi+Uz2+nFQp
            wIz0LZrDWbaLapGDd1YqluMuuE2cThGNbLDpcUQ4qrwCu925pbUgm8eX8mpb
            1bjrWPPYTl+X+QudE3R2PCNcqTydXC1Fcj1BiqLf6cdoJLl/V3OoMps6Z4sY
            t4+QGVPab6qqrx0xeDIEvxFDie2wC3imKFpTclVlvae9EW0wAi2IXtne6f22
            XTyYyGkxp8LJZrIU1LxRbiUbqmgxEQiIhjGhSUaecrW7lYO9yv8lmf6DvMX1
            eLOR89q9FgM8oGzYagSqFejfv8wOWJJlimwuiVl0pHt9ey18LriMIq7STjZC
            Id/r7YzLk9XdGJ0kT5I6uJn7M71+LH8BTk3T7xVwGukyr1QoaofAqjM+wGV+
            /2/xPnAfyec4+guXMfNHErh9TWB/EjM4L4kPJQTGAm3pOU/gqI8mN/7yLmIh
            jsRensHKp2MLQULrs6xiW0v6CWIIz++zOPdOrshCZZqPDEleAMWX8iiQAK/b
            xuCmMNAG4trTQZrQpaGdlC7nGAtLRZ4k0//rKM9NOvIIV0u7tY3E3adfTo+j
            nQVMFiXjXc/9uV7LVu814VO0cL6Od8BJlZmkDuGRvWcz1XjY/d/mUvI+uHmw
            KSXByh/wh03pXGYY5bu8MnNt1cTLCeoHrv4TTo4Wx+0vuLwYtZaU7pAxef+E
            uAeoj98Q99W+Efc/QaI6OTTVneanWSWFUCgWWt2/fYFuUT5mzenokSCu3WJc
            LyxItnfcIGUYn/Iz14/8htyoEmZTu85Fc4WZrrQu3Dg7a+/bSewjeYVyhtLV
            RLkyLKfC6RO/ezcTzSgiipdljX1Dp8Nnuhy6qZhhslaaTNBdF90ik6yWptVx
            0XyjpGnHOWVYmGJhJJNiF5+Xyve8yTwWPKmy4o/sUofaeBS4zvLNMDbzSO+B
            M2ogKGr3Sn2VGetgJ4VI74y51/E2YEbCZtk4GAtnZ5Vi2OQgcye3nZiUSLLd
            vTxMUUcVQWZY8cAMUMmyTymruowhT9YSpkiIgFE4VIq8SEWJfHBo7cnJAiGw
            E61OII9g/WZAvEqPwcBkuThVSaQyE5RmBjjqa0en55XadsZ9DKYMVM63avns
            whzt3RfZ8MjoBfR7Z5tzPZ3RCk1lzjQztjgKRMACqQp0WPYkBvhBIUzzqDuY
            j1mhyLkoAuz4JxtIYcirYUYW4jfMTEXmU3bf9n0y/iX7fQ981ahxvJlWxcxw
            XydnYSLm9jxjKI+tnMrB1NuXIn5g8FMhHseX0SHBWxnj5JKmQ7rSI2bTyDKA
            l+6jmQnTbysM8+d0e7OIMKFqO5o3dNve0+yfH3FmsLikPulwy6hSzPJBO4pA
            m4O0E6XT/Lgw11ARDqfdUtuR5ZWJEYWYXV4R4Zm93tOmzTLc77RgSVaF5jiX
            LcTJPiWRamKlZrdnKgcCgZH8TK5lqRUL9SiHvG0UtwNHV3sHprUrJMX+uIJM
            8nmQM647nfnt++apMhbNoaYCZVkf5r7nu8jB9p1w6bKArO16UZwWhOHkN3WW
            /5n9O5tBuc5JwE1zpB1bp88gYN7Ca+r5MQDHXs5KAhvs/iYHaUlht1b8Un2f
            duiNZfdh38d933Z7f/o3216c9dvbQb+Z69/+5xlVf4gH+Zf1J4Ofuvc9ObHP
            9zTZy+YXtFnEXW/H/XslnJivBr+7P42p/Fn/owP2/vX9H+OY8uV9DeEv76O9
            P89/vm+BjuLsx9BfpJ1AiK9Sd7XxnTX9Uf0Ke3ESGSdKfjlZw5wQ/zJZeU/m
            vNLv7/+mM/h5BwX2dvX39m2yUvp9sGF//7agTn+pv6a1/7j663sA9/yv+nc2
            i3e/b5a/+/d3m63Wf/1+7vk5yzXMYTdl20Hx62PAJM9u7LyI/85guQRqd/0+
            2W7vvOtPO++cnD/s3H79zfv4N+/r37z/m++Hv9mMZ7Fc+68tdjbrm8TgWP/O
            ytd/svL/bYv9/NcW+797MkHdq/8vsBoCQ1W8rq9+DuvHz/J3sAS0r8259uJ8
            9uJUbg9QGBrtya5rX/ODaRjyDlMY49FC4/NI+wTqmPc172spdq3Orr5YfbCK
            dn2sPrgJXedu/2fn6e3Ie3zffz4//WXzclYedvX7Pq79HPDO2o0SEPT9frVz
            tXZisvdUW33Ogy8gBNJfF6UUlz7ngTzCZ/9e/T8T/5c2LCC+i9/1dlb3VEf9
            BXH+AZHK4kCpHveVfrq/dKYqCp4iq+vag13nvt5t34970QXdlprgzKTO/19T
            R/9pBNHW54ge+B9PHf2nEUQ7N3WSNv5/OnX0n0YQXZsgoJzifzx19J9GEF15
            Lw79c/6nU0f/aQRRN4fdNPv1f6mj/zSCaOemTisrxqc9XPvlU+3qInNxKz2B
            rnHr3mmXLmTTc7yzhRxgQo/oUw8hBqUFoG8a17HuTF1EqPIyEJzsn4P5mkO3
            KYOmkLb9L8TFL//OybuXYvNbnImg74lqGsHuNZXhc7Lt3jFVEYNbpqBNE5gp
            UJHUvsvLWpoJz8OtkMslrfnFn1B690kS02yYi7NuaTEWM2ZyUZV3ANey6yeZ
            oF5hTOUDd/vk3AqA0Vb6/Mgq4WtnTcahH6Qm7HlPVv5pS0mc3Zrlt4/cYebP
            dnG8v9pdJYbfdt585vxs96a093MS2nw+7z3NEHRi12WDjv4bjC0F976ClcvJ
            yq34XyGY//v/1a0JvU8Skf/77z/n372Z0Gf+37n4j/vnKJVOipD+/7/OT9p1
            MZ7R1r1tjpkphUJ70X1eJspXYdi/M+rn+d//6/8BpaQgHw== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
