<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.2b54.5600</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.2b54.5600</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>2b54_5600</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>2b54_5600_v4250</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>22016</integer>
        <key>idVendor</key>
        <integer>11092</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>2b54_5600_v4250</key>
          <data>
            eNrsvVm25KiWLfofrRE1xB8g1P8mvTnnAiu2u8c5J1/eHHeMm77DwkwSQggW
            qy7+vvzFf/G6vLvbX3/X8ujE5a58XavHWHz0V3R9urRw5snBpRp6fP8K5fIp
            70/Zn7o/bX/6/oz9mftz78/an8c+eLh93P74/Qn7E/cn7U/en7I/dX8aP766
            5+rPzfd89j/8xANaKPh/9ylG9Hr16+IMeHd9/Uv9r7+f8eAapsq5hP/7PEvK
            qcT85Af/r/5KKYXo/ZVvnIu4OjGyq9WLvQW8Lb9d8XzuFfApV+WZFi608/E8
            ralFR4uJ6y5m9M6RO67VxAgf3e3119gHrl/B717ViD96xYtd7zfWc/Gvxstl
            zYQdh31XnbuX6+G1h0Dg8F/ZvZ9+RhuVfzM6XHlwF3vzZ/i799cUVjtu+5Ar
            giPMdH40zz4ErE6aezSlulgewMrVuRr4aq+uXfxaFu+iA0wOr87Vqvv3Zdc1
            pxgPuqma66hheYw5PJhTAAGA7cpr7rX44/VyCwJcZf/lrpqneFV3XnOP/rr3
            9ziLub/LAaX9HX58n3H/gLz9Dv6/4x1e4/b/58d99Ylx9+gebzBQrw2y1tht
            ULEFddXpet4getrt217tzs2xxnd/OE57eGrH45re/eH49HM6r/j3uh//a/t1
            dT+PXdMAI/7pGH9XEgT4smdKY+C10DQXccapY2wPPXtmHffQg+2uasejD5ug
            ruMRhq5P/NMx/vF4zWXHc8y9JzW2cQ+N4OHK8niNpeP6aDzPet7HATDw47jm
            8Ni6uuUIK8DuwE0XWg0tS2/xefL8/PW6zif2p2Naz3d3tse+/30dEy8Dx4Sp
            OQdmccCj6NFXNXTYxaAvmX0lw7YbSkapPhDjaMTpIp6Y09t69xXq6MDYyTDT
            VVYgdI/W68wPcaTwbvWz41fkWDGMmXpeWEO+Uvj5AYX45ZP7Fe0ThyAgFO2y
            c77HXz+z/frxeObPD84+/LgY9fEx6VMXxv3jc6dfPwCc+PNT1q+fEX/9ALp+
            +fxpPJg7Z/uJ69AAlw8WX/+P+n/V/3X+3W7q7NTZW61vtb7rV7tASgyqYi1+
            9AEwTVj/epXnKcRmz9DdI363i8R2T7r0/6j/V/1f5z/607Vs/1eLrBblOu2C
            qDQgfxKq3Hz9ddeHUYFYAjEz/x7wDbFcozqhzFzm+QMXsP/8+991/s597dw3
            zt/HffP118+f7svX/U/3hfr6y+cP9/l/dV+8zl9Y50/3pet53dfPXx7nL7bX
            Xz5/574O7Pun+4hZfvfZO9b//9+x//271BsVSHmRG/nfHft/+47979+lMQsC
            MvjY6393rH1GuG9R/XwlEOf48xPuXz+QjX75tPLr53e7FKD3y+ePOyH8F3aC
            /4TwX2DWCQIKpZp/gt8fcNnOHyC6kBu0P/ecv+/zvpw/nM91nL/w+ofz6eP8
            ff5wPr7Px3T+uJPe5//FWvr/R9byv7R+LggCahInnev5+17L9/nvtczl/H2v
            5cf5r7V8n/9ey/f5P63lRQ4dMOr8SyzuEoWqm/5D+itixKnwkQhIbvmaJisC
            xDjnoYTl61viqybx9U9pPMffSoL/+O9/RBLoe7jWW/qciXTOhpf8i4EUyESS
            iO0Ia6OjavNFROm8IKClPQORIDM+xcxXe5crRs2nOtJUf/2mjU/R27i8d3ih
            37UJKRrCuaaH+B7zVxuNFDNSP0Yab/INvCE+V4tjvSTgd5tUan14L/VeQBtt
            K5A+22R3LZ2f2JZht6kRz3y3KWPmwkkeDW28yag+fvVTb/JibNOf6z79VEDd
            u00b0e6d2Fw1j2rj/2rT40eb+95j5qS82wzIzeO0uar9vq+vNrPFaGOeGPOy
            PgGBn2PGrzTOmDGH6sdjfvIjCOgpbe2JtV9ETNojZBb32MZqQwuvVXpWmzqy
            O4ArbI9pVpZJ++HMnO6o3YX3M9xVJ6g7nluwZqnbHMWvuXYObaRXLJnM4Hg2
            6H+28Xdt1+lnXtZP+lp7F/zUXVdHF27Z++TvNmQc/Gnjq/VT6lebtIDHTxsg
            eVv7/PWW033sMweOZCXuy0b14GXQ2757LS52vQFQtFtrdNOMtPSeX+qW+ust
            +4aEPF356Kd17hSODoN8pj2rf89Wj3O3wYwON/owWWAchDI8GKd3+wEk0smC
            hRszd51Vcv2jzVyzaB9PrP01bfzAzh87y90r1nx21hOtDSB5frRZflaDZK7k
            3n3jC4bQ5gP2HQUlr1lfmJVg8OG6/3hj8L/XetQrViD7DctfK+BdrAJJtQnt
            wPtXG7/ivDVz2IvPHh3Q98ds+bCuXk4bsNz33vef/WCNtq4Mb5mT7ZTq/cdM
            eOCz3rTaGFfeEJGq/8AfPg/qxtkmadb3eL6eBbq0+0Gb5exZt/9qU7tphGYE
            TN3x/dx7rxLZkY/2LcX9XLRpySAR4/9s06kuF9Qv7SVB4v09D2NWQO9uU6uN
            //4e/8SiJ60LlrbtftZ3P/czsziE3AT1w/SEX23WrGmpTef23RBKA8O7zeOp
            1T+QHqxN7OAMX23ClYlr2WYIyx368NFPAEgT6ZNw8ctgcsbwsXZBgK42wNmu
            j2PD+JjDEIbxildDP8tbmzK/2kB6jkttDK/1jdc/x0NuV206DuOy+enUCX9g
            DkHATWocMuiJV59T7evG5J99FrLMp08gI+2X1SnpvdrUTJsaIT1jj7j7N9xA
            aHnembAE/rSi3W84j9BTvMUV6frv+xkY+hRMYq5Ct3WJM35gxzDTnFKxF0zh
            2vrm8D1X9z3NwpSJ5rfOOlBH/m4DWLqj5od8xBybm/rq53mwq9QPlrBvmExf
            bcBaU3fOfgC3Llk/vccPzApGcqIftknCvnPzuZ/9gGMdttcibXv2XiV/tcEb
            13BgKWx6nld6rVeCLND7s+K2GCzs6NO+xbNf0sc8xHRf+dZ8tjeuKF/zGbOj
            Hoj9AFdA9O6b5wpvjD5y+sCgsWDaxIFG9Lr2zNXvXmuA7KJdSAV5MAht66sN
            5JtoEDHeWKr7rzYdoNdPP08+3EX6XIFRptNKzgqBqNvMFQzuTZsj5NxCu9WV
            bhp9rZ97Wj9mt7jWX3+/rdRAHfdff4OxGXf9YNpD0jrSJs3vkpJ7XWQXI8fP
            45jwhEBCm8Vh5BSNNgYsDe2u+/5QuLvBEdVfJZfDyK9k9KfObUhztipty0Gt
            eFHz9tNGgp10+V8FIvVdS83x88zPFr/+638Ssdy/+Puf/ud+/30w2L87oEli
            FJyvyZUIAp2zAxyDHyk+xOyxgL50yKz46xBlx8Q6PWB5iXy0uA1CZAzu9sH3
            HIhwcRTS6iG1EXLMoaxeliDgNmioNXBz43Jo0QegJ+BYELwbWwnfE8cT5++R
            w+0hMbcE+oE9QglwQnYNIAagEdQrXomi7gTcZYh+K/pB2lFjSCOiY+AdfCKI
            Dbfj8rh4Q+rPEYAPuh5jpu6urphvB1wRIkA+FjAY5QadxTGmJVagW4gBwMHo
            JoAtLjW24WJbLTZyp6mAIQHjMn3sEEM6BjEwltFcHDPE8aQ4gCRnwgcAObGN
            5kpxov8bGPYGi363Ge9ZQbFjBHsUcXdcGOfqVFDTTQTDd3d8MOInr/g0fA98
            ox+wqlSJA2+0dJUHkjyEqdkT9jFYl4AZxVukmRyYJodlcTMnh0l1uA9MZYLI
            nHzxybeQ/EjJ3zn5pyTvSsKCppDwKfg0fIAtw50SpiFxmbHWCROZInA5Jgmc
            GSZvloQXALVxQAALjTEgZzjgJjZCf6mElOoDBIIHon1aOMbLJNdSDhEz9aSc
            e8oVvxt+D5y/gZ/WDRxVUvHoBf1qdHmCXUWXbaUycA1EoayaCi3Y6K/SwQbC
            TM34RkNIa6n2ksDNpYp3regTa5ua6wnQnLDSmMmVADIJLF9qHefQb5t3asun
            9uA6EFb3IXXMLVYnAfRTR9+Ag9TRvmOeANep30/qmKt+1TTcTAP9g61K6DUN
            jBukI40GcOy4PgaY8ZUGngGYgbxcE3B/mlgjQDhWMKaZC6arJ2D8NDEvc+D8
            DAlcTJp45wlJemJdb8z7Dfx+Y1fcuA+X0401hKia7tbTjXm/x51uPO/GGEE3
            sDvlm/TP/9pGLWt/Qw6LX54MP/HS6zz1vYCo9bSfyNbNb9z10UcwrlSw8/zP
            I9n//fd/x7+WATvY+C+/mn9PK3qB54EY6E1/+OwjwnjIax/d8iZz+2iabxmO
            IEp8SgMl7hbFtDL7KKv9OeJOKK+WlBhiyfsoGHe6jwTK5YxB/At9o3QkyOc1
            yO2gYdwGVI6QG32eCNYPLLdUvsBErjtQuEQ/Hjwd4gZ/g0Z0/Y6xOvrvYYTR
            P7T0Asu76ehsAtG3zKfMiD5By9AfKCioIegdFUr4XdXH/r6oKr6fquuUUx3F
            Cfru3FSM07/NsEKURRF057nDDXrZNFaH35XHnLvqnurJ9U71VQN9fkwkwcyU
            SvoNdORC5/VStRKQuzoNAhivx7lShwslUsyvpMh0GOLvit/O2e9p5x1/Q3bD
            27kZ8D61POXpD9gZjG+/L3iKz9+6JhVC4JxQcTRun8VD8w3BbINHkP0CP6hv
            wbAmX11zmXVMTyDwG9U/4A/A84BPpujtHObKr9jm9VRMKH93tGtO0GnngfB5
            b8M9nt9qW+2cfmMV/bTfIHSv35X3Dfstv0PAi6dMp3nBc7tdw0u5Yq9y3dUP
            uT2CppDHBoHXNx4u0OygoqZ2faTlh2RhmjXsFznCRbvuL/u+Z5aDX+zWD+C4
            +20M4zG4sOm39YMWBqx2FNTPVrkzKANwZzVy/Y66O9MyYk40nplMwzn3+Oa4
            JOkkMAF6zm3Ho+77g/WLDk0iwqbgd456PGQM678FL10LWBm9H+BL4wcVlc4j
            4Z/apXbzwRA5EyACGzHf0vjynmY6st7/+pvyX6GmGvvXES4ewNcTqYh0UgbX
            AMDyJWXAIs2+Hl1zbxBZ4JGOFgVAKn6DMQMfe65lqbexlwH7Izea+ejpMT24
            BrTwgWtPtSQoa/R1gXN6qAuse12xdfneCfAMuZEeIZizBXkX8FBinthdmGw5
            DgNMFkAcYtQD1gPvULBzwx0W1UyYfv2Xl3AJRIKbrOAEfuD4HBmmBJxBzT9E
            DFfBZS9wlg5cIPYvhA/I54tWH2yQghYxF1xfwDOLeMB5et51TkTHvrg69rcH
            tEBuXsQjkAP6NBzQGs5zfxEHeYxojy/Q8Rf9hvsprj94DOe6YjZWpbaiAc9i
            FTKRYyGexb2UCwglaAbGkO3pQhP7cPL9kxNpd/s47WNA+83jYk7fmMPelvDq
            lfNTCiSRRSNNLtLLOtAMPCkTd+i56fXMSIJQE5976d4ewOrjQkuGL6lshPwj
            3AhcGGhoW9X6fYCTQAlyq+9+uSsC1sfTcksa1QiggJMmQxJkEtCBRYQVM+el
            0BNicsxjsc8w/vobr5kJdGHtsRI+0McETgUUZvVxCTcPGYch2vB8ep5yg7N3
            gEMAGeGFcrnZiXD/cm4W7AvCD/qQFRN3YBVxHueeBvq2eOaBXDQEP098bl5/
            0DeY4CdfGOt8GvvMUzjZ7KGEaRqusJ6A3XpTK4uValwnTN9c4NjzogXTO8xJ
            wR4FyhgONANYFDuoGJzgIZDRajSDNtAKYRx7jApriCh0tc/0LXYEJBwDdgf1
            iY62V4O92iGyFSr1gB4EN7QGrkJKpneeNyVKWVOBC0Ig0sO7+ky9pO0L/e4U
            b58SCvYQdgz2IuHd9JJBc+wqny3is2Sz9nI/hkyPfbaI8rAuDX1guSAb2P7x
            su8RheubLuH92u9k70pVj40DOKn+fE8Ogu9Jl5nPd/LF9rf00jftn25Eo9tU
            +4q2UgoHzayCf7ncc587Go76M+5Z0O/i5AM3nd+Q6YGbMLeXvcs9nyl+Ae8H
            XpGK78K98m+9V7V+geYfzl2gCTqsMgH3QGSVtIh7aRB+HBGAjzM81ABiY4El
            mxCDQYOe6SGO3c5V36ma7AvfhOWJ7/t25Iueif4hZhF2IXU9gewotgpwYmlY
            X+w+4O4x2DZC0vSyYnticapaB/YueCn0F2/sIcxPQb/A/5SeiVb527XndnNR
            uQOZE3CU0H6R4N0TMNKdo4sfegY+5jjAq2HigVGLjbfwqc6uzYlOm423DvzO
            9lsPo1oG/ITzm/+UIRJzKbuT7Z4CrhuYos7NIxH10LTItuQ/QB/rDrkQ7xCA
            sfUd9/ehq86On5mtHZjPkGWv2byFHYMiOFMHLkdagOs78MH0hH26fT8o9zya
            w4f4FnM7Dl0I5sGBNtliQ0IzXM4xB+Duh3rb9aKbYKgGGZ6BDd8Nzn2oFCIS
            sTHOl4693Zt4S2C4AWi5SmvSVYFyEP4i1cAgr+c3wKMOYPvWn7q9I8jRZzk6
            oOmSDWsEtuu1kbd7RpWYLHH+uvFszEa4sQDN+nBYM1D1OlN2pQF6Ft47kBnv
            NQCa/NCx/SY+1jVf/bpbqKefRF8AEtgVaNHEC5J8Yr9fI2YQbQKaHddu7Tl2
            OiMBONMc4FMpA2H/6zeYjD1n55r/uAaKD/x+A1dl8sWAHjPf0xq2cYu/7H46
            6QA3Dz7TvfpnsBHmtXJeH+rD3+tsHkrRYOwG9jbflu3ps/lNtz1/uOl0DN7O
            EadM8sa5EScmwo+Z8cwTx3EfYZ0daCi/t10kAac4v71mctxRRwAryFGJ/FU3
            2c72T8Q+s/bEhljMRUecwpChyrnEcJy1O+0vwDW2a/ebn4lPJB90Ca9N2UxJ
            p+uGoUwPUJ+o9K1Utzleb5gzfucKdMg/0Pa7SqChp+MeMxAW5ahKxAB4nQ85
            1EqTDttP2rHqaLyGQXd+Y/4bx5JwXwJm98TP9JNyhXwqbXSOc9gW+EjCbZN8
            CugdkCNtHCNzwXFMmxiXBXQIvHVOgzcD96DvQRh1xGcYWnsG9twEQl4EM+FN
            wDb+Hu4hYGC6d735ngHail3UgLfoDYUbNY+esgCD8TSPSfZCKb72O+ZF5+Uq
            vpbrxPnUvOy5dJhLf9k71D2Xbn3PZcd5d1ubQi8t9M3nBHJURusr22XgDn4D
            Qc/IucxC/JpX7DrNa64f8wr8Yv1QIqQFiT5KjONb3M/FifcDzSWv6+3dXs8E
            PdPYAvu1d8Weus/8BqCc19xxXrcPxJEZC4j0595BM51/Nt5/pn3P6XR9TduD
            t3wCwGtt+amSrYxGp+mmgmMQMiC/Tbshe6xE/UJjVFIE23EH4rfYtR8Tmjbw
            Ko1BM1hFiHbYJHSuvj3e+XYQ1Bb7CthZ7A97emk/4o33XgsBjRi2kkJsoNVm
            mgJkUyGT/d0TODjwlkSYGAY1r/dNF05HXob9dE7FTf0Ltfc+UubHzrZ7wPrb
            9aHrfXgbr+OuA+jcYLU1ju5KNCfDB7iuueFdDRg7BCCMD3T/ob0GIobdTzlX
            fGF34K8oyOHBM5CPvjn72B7krwc4E/rj7Hs2DqNexi8qtkJvmpdEk2e3OSL/
            Ajzeb+HYi11DigM9YITXQ75kMEJO1ysd1ygfUSDv4veBMyvXQn4idHaBLHfW
            yLAsZA06qVDWKzYHoHGYb9Mh69x1d/KFwHAQT+gtRIdLAD/94sQJLHopiLvJ
            XPdbe4uMdpDPxX3Tfky3htHkS0efWZxMvR3YAkg/ri2bA8IWzxERk07R6BJE
            95u8CXNLegZ5pSneDTT9vkWfUsL+XJdwOAWxZAGXbD+wGlxDqtbYl86T1+ac
            pS4c0pKeqfagXg9FrWf7+JRs+6zNqu/i7bhc+9vZd177+9nfc3/f9k27MPll
            i6Ol7+Bzi1biP6+4netm4IL4nkUlBbU61OsZ/weCTCyL5wkPLzDp4LI8uN47
            pKm1o/Wc792KfCmAWQ0Pj7Agf+L6oDMDeOJB+REU56aNzvNDrwDsUcwT+wF2
            g5w9BniiSdUNKIF20IbDawRGGz8aHWR1/saaAyYDxLv2ONkXQDYozxGfxRaT
            KYLAu3HeGXLo92+6TFW9mx1D7BZcM6J3USnjDb7rPh/3cdtwn/c+oHaAcOVF
            Eyb75NYX3+avhwomvjOEhxHlokMHLE7IosJY/pC0Y2K9Jn9D6sW0R4/5BRJY
            ZDez8LZ5yQJ7QB7JoEmVqwJ5jH37H337X/vl/J1+3b22bHlREwC+lwqndx9g
            Xgk8dTBElPyl/+04A3Ei+4vjPZaayUn98/OF6zBO8sGBHhWPm9gvXE+v9fSF
            /HRliCjd5kfG2IKcmCOJ5YFf8l7ggZaiVm8GL+k5YfpH3pYgEo/gJDxOOMwB
            XhzhRb42NWQtkXjPyjcGj111nh7T3k1ARYQs2hr1JqZbdVsnOmdZfmv5sYfW
            jB86N7x2dWWIv88ONIcO9VQkYWdRNpc4S9kVnJA3noG4iqtq+4kYErj7smvA
            8wJL0n0gR7pxiQ6e384zIEnvft5TsCXZjdoXEyQ96dDrHPAN+YLsqKIavnY3
            e4jk07g3PV6GAfGddJkyotpSj9VFi6m382UyAsr2u1yW2Ua6szJSEw7EMtCn
            3uaYfYCv0/NA5kibKp3xwPOQb6Vw00H7sAj4PuvCsTm3RCuBqoiiR7XfxOd4
            XqLqpPt6Q5x2EChAPzFnQzpET/kaY8YaZO7dgjVO3Mm7D09ak6U2wnzh2aLN
            PP/Y+TNG7JfC8U3qlrFX8OW4jubp9GjaLRTfdZsre0+Mt5HnAoLu1IdwjhIA
            FvKll3m22HnNDTWZOF8GUZr0Gp50v6Q4dB2QR5//1kU7vc4ZTgOo3IE08vQv
            WjaJPwDG1NmCj6+7D/EC5JGwb+vu4+hP5WUfsd/k0AEkz3HQe4jtaWuiDifj
            NL6lm9p9rwWxSOvvDVa4riaPTPXHePOOtQUYAuHfLrzePYOJCYSTIbPFY/EX
            +9rIA7wYfTZvLCEtC3jmsDXCpGWgm0R8UxveBedXu4mCzn4wmJvi1IPr9PJw
            k/fEQSqikMJG3RP5TExQnJQ1Jj3JHifRB4L+3WSrAfko3dYer++eawfCRPK2
            kXwd7d+CCcLBkk+/4/OFAwCbl91zA8cAkDLhR924KJzFc2FufogRKpBdfBGP
            gMbSOUt+SMUc+8lzoYNHOvlkPB7EABc8BdIS61zg7/76ey7Ky1t/DIxEG9aR
            Ux33Q6ffC/dHFm9MGsN1OrgC4xGuSNnovPZoAD+KuUhATqDVXfTM6dgRl4JF
            uvf6m6M8YYBu540wNUgrLEDgpi3CzUk/ceoYAce0U/jNqxXIQpBvlZhhCj6+
            +5qYV3onKSkH4BF80wTUeMCKB/PTjqycxvXCS6A7/YV7Ns4xPCMaUE0GH/fn
            uJbTuF4+2GnrsQ4dAC4iVFxUY3oLxrk+bW2Zzjjiz/Z3t+9726xu0JEYnXmj
            yroFhs4yHEA+dVM4VnFeOG77OJKGFOmOGNk6HXAoEwnwxfZvI1kFeC8ybYEy
            O9COOkULyUSuXrVm+WU/xO41LBE37zgNrqPpUs2L/vrr7x6BAuO3relScpmH
            sQVsXwJlkmgevj2BqoGgcF2xpliC1eWqSwm5MZqZAWIg749kb8qr4JFHC+Vb
            buuFtJSJbWRTqh50kX0AkUiOYVit7L3nnmZ0g3QM3zfxsX+++6TbP+DjOn1S
            79v375cuHmiLtuq7Gt9XZQzE3tVxeeFQb/LNZe1oYDhtSC5W0TMI6576Eb+A
            syCyg8XAXi3V+VHfe5Vz2UwdrzFxH565xawP4XKK/spH43dQG8irM5qBhSbD
            6i5iFIivVQ4PhfQbi54p64JuZI2eMDEJY4GpPyBIm81OehwinefCGHFtLcMP
            dLdfVIehz+Woj8lffQOAgHOt735sz1sH1/P+3rq56D79WbFI9a+/Mbr0fMwF
            4HtwPpTFhOMCLQBmnLWVWY0/aPk23Ef8XejuAPwNNqyZTELiVI7dJ4lvlrfn
            6pZOpvicKFlBFil0TR2ab+Y28Vt3U5Q6ZQg3giXNE3xYVZskPFNWYn4VoPOH
            thWQhDyPPoXnwMoOeqek2rKcTfa7GV6TPB8xfmDTEsSc4NOldcHeK6BxTiKj
            mwydcpaM6NrX6EiHtsArhUiBEoLG4e6HikPqZXQcEu2PZfb9PMFQua/zTnk+
            89gOiSF5DtzapM9ElednUwTa3vdO43ekF2i3sN+TbDi1GOBiyvY8Ch+Kf5w6
            dnZMeZrPwybA/IBn1L0FuDVKI5/XzaghcuX57oxIHQ2Db8TnpFnCZeButZfB
            wp6+qc9W//O+v55X7Xnsb279I+YDEuFe407iMugLmvlOC9gp3sYDn3dAnzQA
            tIR7KPew7TOfBGhrfvNhZRbN6bOedOP/q69y+uB8sR8H3EW+H3JAF6/vye9T
            2tnvIdQOsMdyd08tVxnCScAZnXY3D37QQ9h14JcgxtV9D+VfUB7dY2Oh5GLv
            QHaO37jIuI0HUjaJVwVR9D6avZHtqfxUjES+3XvcEVgq3o3TtflI2cW96blb
            MfmFeuAg2cX2CuegQWrDBJuMM83rkDZN4VvKj3sOhfNAr2gPoA7C8Gp0C31A
            jDZZ1ds6rP4e7w0cunEwuCLBqcXcvfZYoXyT5I0SNl6nLu2+HRXOVbpw0N68
            123S+ZY+MvhNu9pt9sQEloZaG+ovOD+Qg4jHb3CKwIN1nHsZCSsYBQxFRmA7
            0NWE/dfoDwFS2NyqBkv13JM0z9uell/f9VIauSc3qkqTnT+84I05LtF4Ora5
            Gf5NGBl7Tv2TQH8YD2zrWGx9NG9ME7f3PW1m9n67734dumexMsT7aX1fc/sa
            +MF1ZfFM+E40zwnG6kvXTc3SipIHgfq2TEm/MV0HHOV9Hd9Z87ufozEzjmHj
            4Feft+0R6rb0DRiY1AkR0bmn/PU3GOYqOw7PGX4IBst6rtccXWeOIPv/yzkK
            zzM+/SoysYNot72jvJUwJ2fspH0JsFgB+aF/8ODO8Mvph9lT7jrW1hnQb6WR
            ryFNoOERcLRmkmxyUynJ35gsUld0/aQhfQBoLtafqmrxYOCaA31M2Bd1ebQ1
            A04yfeLwvWrWMa75faxvyoCf7fJu96f2OA7ii5Nv9BF44VDagi7jv3l8J+mN
            TbYPYl/n3Od4/1D0eGvzg7ZIL9jpeJHnppNN+w3z4quClTolIfna4Xfev53g
            hCk70A7LRDsJfQs4V71CjkrGR9GfCLJmzrSfbJmHON/RbpqNLte9zw7sUS93
            b/5lbVuixzSR/6e3o6UCcO5TT3THb5vjTUdAO2/f077H7g8y8mR/wBHUirlO
            rQLpPtAdOfc16uT3tcAFkN1qnZnP3JohYHehPfji5LAcYLOzQvmIzdCeVjjy
            DKYfNsXXjtR34vYrBC/3D/vqtZc82vVq+M0F0Leac3BvWlgBk6/9in5Ts35T
            NFk1kZ/d67BucMa5yNun9RmUEQ18hM/AZ+PpL90G3Vf7EocEzHtHskjmL0NY
            Azd+y++Ma3ivx3AIRJNA+p3kJ/n9DvP9Dis9N9/h0HPR/mE44Y6LsZxuptV8
            IPahH27ufJbo6sd7jGK+LRw7Zr03+raKQhmdCx/935i39NE/kyZVTHZumbkH
            IAlWRj7qWdR3YczS0UC4A1Wmz4FsIePFn0os3LqzfXzOg79xasscEIysGzZv
            lFDJYx4aP64PnknxccYfCefiqZn0CLIB6ddVzZ/v81m+b/zcbxuTMEFkCtCb
            tgX6a8VtM+DzCbadG2YBl1ZBwBjrm79MI9aqFIFZslPBOFL/1f5wm68teJ3R
            9HvbvjJp836HTFn0oliF33Hjq62fLFsnMGmP3LQ7U796Y3oU2SBdA332LHQt
            NvX7su1y4iP5DskW0i/LNhSN4FypeZuj37eTXYn5ENFnJpxgnetDgl6YoYhO
            6ZjC3ngeYLK+zns7D1rA2cNsoy8Omt9caevbjmUhAX9XG1PQhGi8XaRMUTjn
            RDy5yYeDerHXezBRKXWEuaNPYFLQrQFmVbY2s3nYu1T1QXNv5Zic2bQrw8B0
            3jF96yWbO68zIyPbUjAEf5napO0O7D22h7sP33q9+FaOm4Dxp3HL7vAxbokQ
            DMf+6kebhH6NgfrgOcHWbv0RjR5j63xu6tGAmbBF6T0lmc1d8v2diitg3oon
            mrxwK5xr0jcqDWbazJ6/XZFcKJ+plYh+srM2+u3d1qscuvLWI33rmcBHK5eL
            Y0z4LbrhjX4EekFjsn+NCyV4aYEdeA9H6/tTyXdQS0n/CHfvWHDcm7pT4lv3
            zTO7T37ZPcA8kFogN9TNr3AiR61Ux374wMybUYiNe4U+gHKv8dKxGR0wFZbp
            oJ8dhUQ+hVTYyYZNXOWOHMq14HlsmfEln9K3KYFIgONzGH/te/yDvMzHGnVb
            I/q2tgXeHPOfH8uHyvkf4NOwPYKUAY6Yl/jXyQ/n6MSOPi9s3+swbR2Ovu+O
            KSqKZJk/mgCUWd4477QXPmNW+g/lgS6tjVS3u83yuw3tJ9eo3A1OjlSWBYZt
            AACQ/8YkWDF1AfsD/nnoKZlAiWmLcnPIbg2ZCUOG8Aic7alKCMwZNJoLufZA
            3pZKavplF1kyaa8tmaEOxIWBOVaAVKiZpw3OMVQUbKzdN6nzsfX3V3NkYaTT
            Nj0l3SnkE8bfjfrtNslgGF7j2PCiE+OEzECfQgZ+vsc9g43bbfvY/+S40m3j
            yoxSogOa4ZhmPv7bZ3DHVjzRK5fvM2wtlV/q+VgnrGWiri4PcGposyixm37h
            tKN6/dUOcBzMR0ws+1lzXx7aECbpHdMjsm1v2wcN4/TLSXlLuJf/DOiyGyQw
            1CwAMXesOdO5VJI4MLrguHkeu3bRN/dzLhkPoHY1D6VnEms7bu9pb6Vb83ud
            KvUOjyzy/k/9uevd32tddr9HFrhOsmqy7IxUgRCOW15r4jesDM2NYwYHOvp9
            rYl5OBjePDEvzE4Lgs2skG89APEZ8VqXz7t4Gt+HbKta/8LEacRE2Uuu+cB9
            TxefCQn+vk77OHZ78GiC3ftp3pnN8eifZUvJ8sHrL5nvMR9uhghQn5vyoFH0
            Zpx72roo+T/c8nuDRI0N0LF2ihl7aMamP0cZj3JdeJf2+W7nSyDvbbrmaTqK
            dFWz702QI/on027E/ot71uRxk++I+HbiLupYHn9XzoOnRF1dqvMDv7Y/4Ffg
            OuJXaokOfr0+/X+vb//fExtEJYSuV7ueZkrEp6Yfdom4jWudpYfEcd584mN2
            d0b7yv+IcWiLflnihUGDItAfeMb8tqnTmJKf7UvnTUbJFGPD2w6vGIUk33pw
            n09idAOIvOl1vPlQjYC96cHT0P/ryLbm2tNBA69Pv37aQQhPsrGRrw8Q3Ahc
            vrVNG738Qtjftp1LdzzMxvnic4jHXLv2OAb5v7NXwBe2fOxngM2jj+U7yrbC
            9CNbnpKqP9q7kubgeRgI/S3d1Sx3tmwt5LGYeRNiqHeZcR8FFBHUFpO+fXEs
            Pmm9x649jXfk+91hlbbtJq9+AWFb/1tHsj7Id8u/b5r/QjLf9IcJ/8iRMRmk
            /H7z6qB2w2UaOGQHyfJV4dydNpfpahRPUij72XvGJT/I/f5dz8Eepi8cnfAF
            /+QXQZkY3RHa9rU99sDjewviQf1Re8GPkx7d/ew3MW2sYv+Iu5v4GfN4xH6K
            rihemn4CtNNsX4WXTtvRJdPseObPafzI0SMcu+PhD4/fZVgnVs/8x45+glHb
            lPKbcgs+mRFreYGWgN/m/qYRMWk/gidTh4ybZHxadBt3X+ZvjDXd39gs+cFk
            iU9qjFdyyr346iP/Z334V1I242Kb/9U2BNkpPcJPlLFHLe5Xvhf4QSaIT7+c
            QgNBNuLKdaOmQfuR8an0xQVz2y7K49KvSe9RAXUA7GE+6ExgJJ+vZr/tPS2R
            ztZDbD/Fy9tzTl/cexBiHYS6lrGqxBX0Hty23bbXGXBO4cWeK/nQgouVrGdG
            +tNdCteiHB2q0tAI7m5dg2QAHrzu5w4RJqbnWNfrerLrY8chbDlY8yGOImrU
            7XN+4rL5YSwK20fI09Ld4e2Zkuc8C2zOHpcySzba5P+dd0k2toc+51VeJKCd
            VGdbm0YeH2igfq6LgkqZ6qTY2B7/TDC/DZ8BMVPVSVytCuTg3D8qj4D21/21
            9hG0EbuKRVsg0Yzxc+3/adyvOfbv+ey0fRT5XU239cnnWSDvr3WgDgn/5H+a
            pZPO8kF5XTc5WpxFb6t8rmdPq8j2fW2/wHa7/2Tce14fjvvMNb+3raXIVx8y
            Stt2a8lpx5697dxu28fJE512smtjD8xAXYOLXzAIfiFIrnmeVVexzIWmJ8UO
            bibvmjx75C3sD4v/oXmAsZnNMe/oBclSeRwHb+f5an7mJRkfwXjoSTyRMTSz
            rl5h37PAO1Bw6tdbJmaQgHK8unEf2RjTU9zJcQf53y30Rd5n+yNExaJXOp81
            OdyCuQIzDMSbXFuhHVzwGc/xyB/XtS4dGTBhZ4Ql6G4YPdOy5l0jBYQ8l+jT
            yJhUFuhJkNtAbpgBOUFmob+Uj2FIh+BuS9yTJSTTDY7JX6S7DvJ5ULaC31z3
            cRD3AxVNPA9E3eK5CzFwMt9hMhnEs5S7aI19xalUSRCv9+qU4Xb2kJfejvpz
            6kcVC0stvHjWopgzl+lmD5gAn4axgBgXoIoHtONmvvmHhnzz1Qhq67/b9ghp
            4KKiBvyH4nxMH0DbXwjMtUCr5h4LCXIzX2S3quIOMnjlWR+hKYgo1VlMJZOn
            gGfuVy9PojeIYw5wNGOqxqMTJ8zHKntVs3nxlH5oV/a34vQlBFIpQn/ERNtW
            z6Af1DmDr2hBdhGXntWx8WiTSolxTg5rkahPjRnvGY5/sfyNyU8E8osQ5ZvF
            QHMesM/zYMqZ+da7cFxYvERdPO2WLZs+GrxDZ34kXm+MpQBCDd1yJvGc2jJm
            jX6D7DcALymm8d2G9wWlSWP6Qzq353Fi0ajn70n+z6njPamh1ppUhtwCG2Nz
            XT/8Bqb8/LUOiv0MjI9OjzKtyV7FWJX4yDb/nm/3sglzPDeYYy/kDjwHiOM9
            jXEzkH8B18HPF88fFX4CWoYHMZsE5BP0N+WtCIFTwZuyE8k2z/jmtM+DLQiE
            43sxJhjjP/dKY5wfZSW5FWPQzc6oe1/nmQuxfqwPMZgjj2vzGCYwwLXHwhjj
            ucdCnrvv/u6P8xzL8Wl9bu1n2agX8w2CV+7oxb3XbEJ+1Druc2f+dE8bD+/n
            eoMZWb7/2o59jJ0vs2+cHXecHbYcs0JezIBluJr8GUSWaH5jATsze/rzOEXy
            vdaf8ihdFMatgD7fGKMqSOv0x4wdGJe+hIHR4nHSr1c+SoDOx9G4D/mbOU+K
            6Y6BJxaPI94VM9kp31JZ3738/LFsuaWQZs/SUzOj+bgYp15km7CMToG5FCiz
            PGalog9CWGYT2fF5DJin3efgmwa+uchufWL0HgaoJQjC1E9ASsRWbfLlpesS
            OP07WZyjk+YfgrjzM987biIvIiNn/NVSMSGGst/pls3X2XmqMcAuFcVsMFYi
            yxR5D4hjwJM3cwwCr1Rp+vE8b3WSnB/y3VJMX6UfkGImEvuUTvrzGKj76CrU
            vo0hHSNw7711TfdleQu2bh/TuY+97D8QpN6yNP2AZlV0R62aY8XnOEWQhfXy
            E1DVPfO6KDk/Y88nre1r0o+R0i2tRuf9k2Rs/9IT7/cDnh3EFNTdB8pFpGPD
            aLd85EBZR9/HWBXMMbgBZZXBesnOhKHjXDGb1bEz4b2u/tBfx+xsbvv0y92X
            pizODLPTbP8V0X3OG17rwIjmKzI5Cb4h0aA/5hCb8ol0NHHSx4NWMsnic8sG
            gAWm76BvtlOguaOtE7I5bXFKiLfo2XB3MXnU61JZ55Wc1F033/sRBVYejvyA
            dsSA8+LvqCN5wn0rR0ShvcPdksbPfjX/TmbsoR7KpSperje6GO29yVou/Mau
            TTrG4Iv4JGZmkj9uqvTrqmG5/IhNJY9MOnRwGPjoR3FGwNwP054x3ezndea9
            oIL0XoU2i6x6dyeuMCpBNXOpMDePcltA4CLPhLGBjAzazAdgvJmlCvAxIh3l
            y2tMdBM0nOuYm0WlvEph5FxJoLX7HJgoeWs2qYjpV8Rszf7gCWq0zbeZfP+q
            N8OozbeSojuf4yz3C8Eqmk+rxtOYQRvvlD94KUA8mWrap6VbWZSRWlGc1o75
            8Ipt8YodaRfoMM07TMzBKY69MN0jffiX8+YLiXNKxnMpv0y8zljBvwfqDSkz
            ZXpW2v4j/qeHbT16kExrMWVn9MFkSRmf4/M6td3Bg1Rmhd1+TPgdFSGifCLE
            /YpJucwDh7HA/X7LESrXEMqdOt6ZPk54XmP8pemWLE4A51ztjABUHgQAcXks
            f5XFVSx67hPnuQiJpMovDpQlKHcLrinPTWNss3yQmnRdoMlrUjUX6atUxZ9w
            T2N/OOA40Zhkfo7nt/zns/lj+svSsjAGoDor2TRpQTLOMR+aynuxkTHDXGpJ
            q09608fCHFDSBVlAM2n840EHAQfKJQCB7LJvqh8huxqOYH4h1zg6WzcwaPLB
            pQ90kVNsov4MNBPfgbWKmKdiUuKx+IS5j7kWYubITziVBnVznzOer7/9RqRb
            g4jNPCTtacR4FLaWlE22xnxfxkV2TlWRBlyxqBQmyKITNngf5Yx8zmHN6Hsp
            O4ly8RTpJ3y/lWVK2jC8x2SFP8WfP+LkmXT5HCvPO2M3l9nonu1zkzf/0vdx
            PT44wb6PTm3t81w/1i7NM3RCSdrfQBzxM0/WybPF7O3P5h84xtZszpk/58y5
            f815g7QamAeTvi+6xswrNs/Mkw8ulH4ie/7jj/U4fkqB6I97KoCVKdufkXYO
            7KYj23ONehj1yPGBuYMXY7s2baJtvotGcg5IG7ujfPtBh/3CqjhVc5EpRfoY
            OSMP8ZS9Wk6oRN3i/VjYPfY8I9nZliUW2S52w+Vl218TZnraGyet6wC1CYbT
            Ly+cRm5HdJXlKj39SXg8aMXXvgOOp3PD3ju4yBgX4gSGbiWyVpOFMoC76a+q
            nEtmy2boAigg55U1dV/vSyGQcl1VKRbFULi5j8lfuAwaRFRm1c9aNt5OY2TO
            2eOzwmTKlNdDSYy86PQ65fENSYzxF/xdiuWyke2EWflucMH7uDXGHdEmZbYu
            jP35hM+4bdJz+5YduD7weOBzXnY+MGBEUTiWP2zsfsKiHsIrbPxF+ym/0HYm
            DySI+zRDXcAflhdCPCUngPFaJL10k8xUJLgdR8S2brclfs5LpYjV5nq38dXi
            nXw7fr9Ypkl/ea/iPDaepLoHou1ghFuQnYexRuXgo21/aZ1+MaSxW4fBJCf0
            9SAe95VJhZgdXDnZpKdkmtvLdBzK7kBawBhU0BnPOF7FJWGc/XoohSq+yMbZ
            jGfJfi5vfiPYxaUoT6637Ecnt0wZ14mZlAysOONqeuRsIeaV/Bn4LeZKmduP
            bjJiIHRwekGyssaRnps0gMo1ycxVSesqq+G89H/D9NTKiURXoqnY98r7a2Ls
            qPjwABimJE0ZrDLe+5n0L/vIrVItBlq5S2yeu44h0ep7dNOrRouNVnFeflPl
            Ahqic1RVX8qHs3SNluOde+OsWfyIGaX9WvfF6+TF2sfN7mNFIx3Lb+t9n61h
            k05q27g4tzUpJmnQ3pbtHYg4o9h6V58dE+Kr8XHyZmHyEY01m9/Q3LF2tCe+
            4K1jLfLTiEvu4wNTGYLTDQKCS7uwFGfxUc0i4MOhyMLhbG6kqyXNpB5chuzO
            307JF7VeQIdrnLbbx27OLRPRIOE+46jf8c22HtdrHi7fmeKucT6w4jTmjjMu
            d9u4vOC7NzkKMLFMsrwJjJekhMXzgl1G72/dA6hMY8z69/Vu1zMN1UM6jXP9
            ck08PRuoztJ+z9yZ9WI0G3e2Obn2e5w1p74YQrunjnkqcEzXyGG2DVvgfALj
            XGh8Ij1W2/r7toy3UVtmv6jMiyV+Hyjc+j9zSMrTX/dDXNn9q2TA7v+z7aL8
            CUTkPsbvd/wNn3X2AfdtWsI5X/v2om19r9XFnDuMNWCa19Uf7fXTPlt77DDZ
            NqdYgVVCon8IZMND380AkA8OL7TpcO5JJSQpenfwXPH7mlPcpeJOz7U8ZAsS
            f6vcYOQjoo9F1RbMVm3F0iGXNcZXmvZD8pHix6rFJ4eqci+qST1MjwoWj+Wc
            esNbAqFIplKcy6UcZSweJ9o7VXUQosx849cTN6f93uhuCFkMuLQNxhgRNUNk
            5fiT5XYqKtinPCLEC5W64decmo0vcQ3Ex+ZeuQ7Kk3fOBTvXH51zJ3a10S+A
            +yfb/ulEOCzdR3TomRKPahC7pjxIm3+/5VDhk/IebVhn+rNots3ZNw7e8apU
            0eP5sqO/ZICgMhEerzha3uPmc/xleQbdoJ6lVek56wuPdW85TpgmlPHH0ndr
            r3TKP99yZt+4/bN/6otPv6vdzMk6B9ZvMe3kGTfx6cHrXRWcjOMzX1jmVwn0
            w8RcrrlAS3dODbCgS3k1AgZS0F9XbjRAnb996sb2K4UB/Vabcv9Kr8TskrJ4
            e/FWsn6r1pjJxr6Z7lgbNtg+Y8UV0n3mFoMUk2lLYnabO778TQRnLJz1gjXa
            Op4NY0wDVNsinN3O4jTpg8y1Ir1W0Z/9fOANPvsNY8ngybsPGKt2zs1vGMMr
            G44ki/kTttJe8/SCrWG0cxhdvgdz4eYkQ6Z4awqUSn/qldgf+PluZheoytsV
            qBcGw9k0N3Sq8pDOH+WWW/TXs9xATnQM4sdOhW2uXUdOIlUzRbHhlLB1Lswt
            Qb7spYuqd/DZaPvYPIC+M4dI+883PNJv4/AKB+7mfTNFf+N7TGd5NLkGn+u/
            558F5Yg36Xv4cH7pVnLHBTGPPg0+z6klS1xfyxlD3RWYEgjwTlEON837S3q3
            TG214ckFTmrs3DLXrvG0AE/3JffTN4+dpEdq1IeTNaYeVrgB78fInrikA7D8
            Y7QTRfGjiw4ppMvMp828ZR74C9he7dADM8rUcO0YLPlT4mm0VXOv3+b/Fugq
            UZUL2DFn2eZBG/dPYhwCkXOnbT4W6ttWuIGhqOzNSbksGWOUmSvzbYfyl/x/
            5/G7WbKvesWRTylVLC8i9QI+7ryo+zf9q2nWVM5Y5ezd1/i7Kv/qojAiGa1m
            p1KNlrNYvKR8rb3puDUv5M0+dPaWJ9Dk+2Zpq7GWNK69fXxfsf2ZtXV8mVvn
            HSzX1XNir5WL99nHw46Z0+zE1eKF6b/auMST2rnjtzy5jkPWrDMG35SjUjHg
            Mh2VZzAPbnL7/CsFFfk80NxA/acvz6efC+HoIQ0kLiJO8gwou2TbxNvSlyKT
            QCg/+81sKI3+g7StLvPHZm7lh76G2u90VbkVT1JIKOhHANlaRdporVGOqCL+
            gxy4e+X6pbz3o18y+T1ZfOXL14C8czW7O/UREfxSAWSn+Jb3FLtAxVFhvI1t
            JODcBJwh+a+1ox/25g++9vvRzbNRKW9jYpLhaDHi16LOFeNLilki2y75aEFw
            zZ2h5nj/tN9Prum8Xp6l9+/yLPr0p2TRQH4714LmRrhkAE5vestSs3B/2KnT
            o3W4z3vjNenRhtvm9oOWvxL9Xob5tZgNgmQeKM2xIqVvLt/KZbrxe3j5JTBt
            w85bqhg4KitYcZsREeRFpirCEvrDV5v+blNkjdM715e/PYQ7+iswAjz5v/4m
            w2TaWPF4dEzOvEc5i6P9LouxiEUy1DXBzdNWwN9MIwCOTzgb3NzabeTQRlod
            uk0859cpgRq/Q8oArVU886jQZwH4WvA4cOyeTOanMkqyeSobSxAvit+kL9hK
            lTqaX+Yy4D0aK6HGpvxvmMfMPCXcWoRvVtUFr/qa07Dhou6Il0c5MB/BA+f0
            8/q+/7SjnHTmSHR8SIdMn/5X/jemgvrMwR8u4aBGGsQ0K4oJpp9jBmMGepwn
            w1gWq8YqbnjSNgC51vAj3WZEl8HODW92GrLPwPf+npnvz7bMdYIJYqa+2BnL
            KWVays/WI5oGX0lhFfdey7DEqK+8Uy9a7C2nWwvKf235g5ngsTFzWOVveu48
            Ug0wZJZrxOBS5jU49gX609EW0YLltOL42FeWZxet1G/8AD6Glspx+HnG46kq
            Mvmu51a8Hql6nuBJm+LAwBffjvsrPo9VNJ6MEWOu+0cxFBe965Jizbzo8LP5
            KLqwqv92rVa67wUM0aOyA/pmeD6/w7Rv8Fv6Tl06C6YxYu7GqnJ+ypnX0604
            6pYwVdRP+XVrf6v6kWPptptFmtrRkWg9sfH0TXfWqVzjGMJ9nVxfGVwJ81oy
            z+9YAnZaNeTkQ1jmnDP/P/ASiFBusq1TMVstLk95l8Ld6d8U0q2CtiHcg++u
            lAQbj1nsGZ1VgYeLcNqKrLM5mK15yOblGfPjTAd8WU67d3v3LOX0ZwQ571vK
            a03YdFYNc1kpI+I72uTcBM+fWEPBrjfT3yklIufx6BeKyTKJXu6duS/lpyV5
            QGO43mOgPmrN4g8uThwH0x67XWsSzyYnj6cXzJfyXXGMj1f15Pd7hXefokFB
            ufw9/d0c5WPv6chi/vP9bTvnHhAOcaYPJ08gv6x37STWGowStZtqTD8nd5C3
            JQX/kuz4tmPqHYh/BMvk5y70d+LMCnjaynzTtse1v5kTl7GEUfywT2T8knJq
            OJdYXNZi21Oo2JNVeJWwgjmgYRXjjWYvYZ51bwVG2TfrAah+C6k39zp9gJVt
            VTFh2K5mW2B1G+J0ZgzkxND2JxwPShKGr4C9Btw2ND87L0JifklwUiXFqXlQ
            qJudU+LdAGo/5Yb2gK/kPBLUwOPngp5ohWr02WsUHyftBA9T/IMqZdZWVwL6
            yjg+VrMdbzsD3Ul07AGzPQ7KFp6FEr3wrOwEZJnnPqb9ILHGi9tBb/s47Jzq
            AJ5J5TzjXM+8yP2tf9gPFo4xpKR4m2x1fQy/q5563D4IyoWP/fwag6ML3raH
            XMoz5k4+qam54vH7epUosusInBwzzvwYWCHFkbXwBsPMkSvdEKOyongG2Wgv
            i/q9K9r35eeKpntqxKP3c+9xyz80bTuYarXvY/EfrAUB5Ee/lwMT4KfRh8kQ
            zJjrt42vWk4knmu3yRvhnJ/7OPjI/OaW04l50qJ8CXDN4ohof1SOgmi20Gp1
            0nVs+altPvyeY70Lq93vsZx7qA9ry/Rit8W7+/gxFh5zHNT/kbtRaBLLtT3H
            T224ZjpR5WXW7/zMM1fxx1zJdsY4Jwam7DxvXvlAPL9nTdlvn6bX+Lj+dA05
            cyYZnw7Wz67NAIzsgsHZpHkOeDWnzJhz1o4Em6q94ec+vi3nn8E94Xsfc38A
            +LrtD+WnkhzKvmn/7UyNKTvM5nsuy/+fqn3TUJjlO2TH5ficKU2VxQmoDNHN
            tAwPox52/QBnyLCaYEX9jywi2fyDT32BY/tasgfLbyFobpflcfCU/fESYdsk
            pb8s8utVLu1r123ZecJcpEznjEifmKd5O9Vj6tNkOOkRPKuIAwi5Ryx2we89
            BaQnO+hK+5mKabL8Xo0+Q6x+GL38beoAZ6t6lSHXFjY+IEzhWP7epCCBfm+Z
            L8y4T/qqt9rpSiiaz8SZVBVqjch0oG/Q/ByonBSOsZo87QMXuJ+4geNmRbYb
            nEvfMdKsywW8N+Wt2h+vtGDM/ujyiIAJ+QY+NKJmw19BeDQwMR/9oLJz/uw3
            4GgMMNNcwMXsygO58yeSDnFGeO2WfgCdDOsLUOFmp5xh9UJ+3q+Eyh/3My/c
            xFAxP8fG5fecBsoZmG/hTgpNcbeZ3OqdVc1U0+hVv4mx7JRZP47l3zCdhZ6h
            PWvtBus/ChffKrnLdQCvPiwv6rVrnODJnfmhqPgHcVJ7oU7mO32YBwUiHedz
            t+E9UXyzrZGew5q+zuI5r0K480/d9c/ogZC7V6IwykGV8jbwAGMEXLFnT5ZT
            4nmPd5MfXlbMEtoOtGOVEcHT3L+ngmAYt4g1t2/2R1dvzCXe0b3mWTXnVENk
            27FZcUY5VeYLB8j/ArLrUszTxgXzxMjv+8Y+HvN8XzsznfFDt1J1PxD3di5s
            Fh1a+9q0a67Qzma1Q3r4Nf4I4tkddxxkIfeKaYLMDvZbFsNqIRN3OnigjHfc
            4bOUy/cqpO35yappwDjDiB3ASgJRNjxmaGFe5cb0oPLVu+jTNFyX3gZMTFA8
            BX1z+uEZHehAWY2Gz7fv2IqsKGsxnY/ZDcFLccdV8C6LMXXgb56dV99qe+14
            RcZFMT9OHc+dq+G6WC23l/I1gJ9Wzq+hyVHdC9HS/uTA8BE9M5kevpCcW04W
            StPiGxhO6Z/7qw/wYa/+MU7xItSuG52UTpSGDuUX8ub3Ek3We/kMRE+83Zbb
            fIr5oMr7x/Qcl+X9AaGleDzJ/xz6uPmqzXaDtibWFGtLte1ueqyIX5/Bm41P
            /p2PZ64iyqmAVR8Scz7SV9P5oPNAdKc9eY7JLGze9B4Az85zhGrmk6Uszj5j
            Jk1vS5WUjEeXv5eizegXPqWzn/L3yfKBoPq/APex7rxEa9rz5C9cy5L/cA3L
            jvNqkHrxmRYpcRsePLp35tl05neebXyKzzRK6YVLSi9OeXXnO++03HP6ay4k
            04xEpwMCQbz4vZTxwGyVxPP69g8FkNd9Gj9z7jLuzrFygfgw+hk5qxq67XOM
            l5qmV9ptda+zPC5Vvs+seqkP3oJCKehrpgv/+ogJt3xS7vgqy98F8NG65YES
            zDnWJmMtsbd+5WqRBQNogEu0WUkHKd2F9syoW/f9mTu2CfgZ87RzMMUdZhst
            XHJsO8krD2sxeY4vlKWXPjwQYMp95JC9fpP7g9ng7fnu1NZp9BthTRbMBnDg
            oj9Y9laJPjMPLS6cePnAmADWohpR/o5kixQjH54GWGWUAa18xCSYO8p4BEXA
            fDKYJ804sGP7q1z15PhQbU7VB1zH575+2JMNzwZVcRXvtflj4Sf/khkPvWRG
            HybQSYopjSZr1e2rxWPVv7oVC1OPvHR4+cOrCRTNM8fyeG0+8/Clh29kLbGn
            s0KHzROGwr2uSmYan/FH8tKX/MxnVOMT831bEgXyw8w/SD8Sy+t5nTlgnr2T
            e9Hva/41PzaPcpSkv2r9hz76v+gjrVedOcq+mEfHWG3ls/tTn2Xnwv3R51lf
            J9NVUZ60q/1DP5DpvfsX/SzLS3JThpCPIXgXd3wIefQEcTQ0J3n7TpBK+T3B
            iTMeQfyl5RBJTyeieSwbalV9oiTEUtZl/lyPdCHNMz7RWy0FtJF39PWuh3aD
            X2BRyrxMxzHB+U96WIQoyx/hezKgwBsckAcbgc9P3HTMW6vs87LJkQ+mgzFz
            Hmw+rXTs7Hux5kWikxeFiMvcg397r7ve9+Id5T9H3YLdn1U7wN7t437/vv99
            b7BcxFI3jbuTn8CU32//CjplvGIoWGunh3fM+vTR8n9P5nuOi/Sq0ZWIKWwS
            8HNyhvv5bf4qkTrR23zGo6P48xnjy91YxIcE6snnMr+481vrcVvd41Et7/zp
            L5P/Z97vfXza0rEnbL073XqUKwovcmf6KBj/wFjMBIqfTAjNWs+GqRmQwcrN
            2MUBqTcwj05inWJlzCezOdzD2sX0IVfdSaweRt4kX4CXYZpVnG/47viWvgss
            tL6BT1SzoNPbfcMK86wfGGC8CIkWc54HwupoPrCv8tDu6QPT3SgP8qveWFdO
            xeDHT/sgpLJT/7QytD1404UHyz2vuACayJkL0uysXJB2URK2nKCBPszP3Dxb
            vFWpmrVASYaPLY9rEVqxHBM3bgVoZKrDXGe9CPoJ00dGsWpck+MnQ8NLqyPQ
            Nyuc2Hnldd05Z6vFvtNvjW28f+XzJF8vfuDI6ol0CvLzyx+JfsCQSAGs+h3X
            F/z21/3JcjLQdm9Cm+WcvuLGl/In8Yop0G/qsJNyTdApU74t5KfPb/lPgR/T
            Mcs57vN8Z/wxitSd95X+K8mHGktbLsZ/E6vWS3DfumBdToSvuL+wrCYqK1l4
            T/c/rgezGLFmGpPnySbMvc3U+aq/EZQX/6GOltGg0rmHx2vP8Nppw2RnlM7O
            ecIE4YX1ymVjmffhmZvi0ofJD4AS1vVWrhmQBNVmqpDfWEvx9J1pyamPo66H
            e1JuhMq92ep5HiPQ9vMG5Q+uP0tfKM4EMsHpizGedLggP3st5oi3OQOstVGI
            B3b+x2F1CiL1bgBJVsz7Gk9+j2cO+sF+jyfs8QCf2HjyvzWewmxdtIeTcLAs
            S+qmGzqxk/myY/B4y2TgXWO7Wp21Eyd/eMM5DUX1y2Iyjz5LNnCMraomF+tC
            B6oraCCW8qnRzKfcqVZzVbSa1tid0+HA8uz0c16yAT87DwB9GoijqXtTDT7g
            PV6n1oBz2sHfqH380b79aB93e+rNMrZxMbwvJhX4BPgsf+6rrj2C+eOYu2oV
            dqurrHdaN3U6096J8MLcdlhHUNGFtdIuSN5/4EHAmHDfZI1sNwmbShhU3vhP
            uQ5pxyW2FQ7btQKd4TKrNWW4jHbug8v8xmVlPlKnsgyF/IHpk5E2rD2/3XtO
            MPa4VxvC495/r2u1SsZ4wahX7SnK5dijZb1hVfk7WbM4d+EO5fZRrqAuHzxv
            eIQ5AelvUxX3q/0R+j7HGWNmTapp6Z/HYukT3DptrGagspxH9Lme+f7AYabr
            Va2lHSE+ll3/R3zN/Aq9HJ9Qz+zAKb3xtdXx+0/xtVcFwpBpzPsz7qbi8YW7
            rw/cHX6Pt1uyfCgV+O4Td7Mmk84DvxwcjfHeNs/0mdy8yT4O98bd9Y27wwe+
            rlQi77YHz8bL7CcE//Dc0dTu5OHIxt/O/HSm7b1778VzXublqmqgnbmvmWej
            CQapOW9mUPSWp96uh3ATo4m3cBaLTEntCXdJnrwW07TNfR4cQDtjy2YLdmcc
            Oi6b/tyWb4Y55w68i5/ItkaVNbJVbHDjgPnczKB52vJ5rChGpRp9KBgV+HoO
            7d77GXTSm17yZKHh3faweQu89hnaMH/Bo7Sb3jHvLmtwyp6YX3WxHXHPAgrl
            2IR7gvljsrYM1anzXpQHZJv4E54++P7ga8bHU1a36EfKiSNSOR6o86N3udEY
            ehIOfvNcj7wnlGzObIwIPXreXfclf+TFK5JjGdtD1KUUFbRjFMjV+znKe1Is
            WrQxTq2MW7nWNk0qyqkfWONZMg/pBz6D8hnrUsmlLwbpkTBPg7X3KNMVWrwi
            +Fm8a2flumjyWIxabOr7y86bPvw+Bz5UA6G9Quf3sQpKR4Mgaj6oX6MMeDHa
            Nkre13X1CYjz+xz9smi3VQpRsxPfu1+dQ7uocuJ0hQ2y/co8weeyOjrmiCsK
            KFXhv07n4Iua7t2OuQNOW7aJ1h/lg4tl8fB8xt1RzFWNQr9/S8ZxTMygbN7B
            cmGooGigilDH3q5XWuTCYxmGg94x6h33OSzMEDkadEse5sdCMS4BocQb7ADW
            NzxWaLkJCR6ZL5Av3XJnoA/TliMD5XRmQTv6vr/+rozpfeQD5U47vefO85QU
            5/+lQ76Z38F8NQvtTpTdty52x883+nmdNsBfv21jMjrrA5uPzud161uxk6q1
            vuNg9NwaTKdMWHysSq1kfsXnk0bctL16xUpPWbeeoOxq5NGaaoYtnmPi70s5
            O6wf3k8ZeSpreRC/o/wP5e3XUdatLHAxYMd36gK2PUjqBxoHsH77eOd8S9u+
            S+R3KW6e8LLPRW86EtbVYYHrff+n3kT3oW+D/3MO7VkfYNuiUs2ve3VscEhL
            Db6bTzsni45rcXYMNKdj4LKo7GuW0UA8L/va53yL8vdysokpv1Qz3Ut4pHPw
            0jlgTMyrQdk2POabbOdZ8tUFu0Z9zec1aePmue/HNWbhS+c+KqPf1zyRdFdi
            Xo1JdsYY5AvH7NHHHyr2GHa9292P5G7nlMDqsXzTtJjXMwZczw89hF1oS3z+
            V1vB2nWdGkt2D9iB8Ws7/T+uF76l34ro9ptWSCZ4Jv3RQ/fHH5kpABizQbsc
            8RdDJb32OUGD3h7x6PJ3zjTZUd32y5N3vaoYBlkC5D+gnAjkQQDHU75SoJGy
            e9M46nC9dspj/pnMs8M6vrSbMGb96/fYv+8fv+f+vX78vvfv58fvZb/BE33/
            fvZv9/07XPZbxhqT19o/tWO9sK/fbv8u8n+Vj4t4a2Vkc2sypzILh7FWOD0l
            3asGgVWFeJj7r2jNQRjbiXtQGbJouU1BbFaKcWamYRwplZAT7Zx1FmauoJVA
            tLszqpS9JlVSIBcnXsK17nbeJR0z5a+xAnYMQJBOf+zjodwGGmHa/dmxrq9C
            n7owzGsyP033tv1sH6yvuPtitp5tutBxS/2ka7TjZx/vsc5hx3e1/vq138nZ
            eb/brWbHYff77Oth9/uc67v9bTXqgvJyYei1Pfexs5Djz5DCP22hyvHlGHRi
            OpyHktSJCaCJaDExENa8P8Kg3Hk6zuTnLecEEYdyjqRFRV+CzMB8GnE9rCUB
            TjUxN3+SbYxJEsSBeOtn3SzWZvkQdMzYO2arofTEkt/0vYtmhJDdhNxoe9vX
            sAuxrKt40+qMZ36/2yj73Zy92+wsXYv3uu15kKHtvfZ4gHpv4X66ifzTe2HP
            6t32OzF36IpR70h98B5fokcW+616z/f8cV3OczxNKAz3bIUx41ws8nLJ8vbu
            cWXaiZWH344hT1U/fCHth9zrhuRa5oar23YIDoQZ8WR3Ih8APKvKBuHwLmP7
            EQ/ydyNGGYTdzZrs/dg1lS/b2suGG0JWDu2xbbhcSx6D9QrbVklfLnp2hFNj
            +FF+L9knpfOmbWoG5WBEm9zTuy1zzPXdtsyy2ybL1zhSbumOjEkPyo+rGowx
            yD8ATB44eadYE9rWjj2W9Gvb2zA3XX7dc5VOn24maNo+RaWYT9FsVCpwqYp8
            Duk/XOI7hxP9balq4Bo4AAIWvasmZmBucKt1Kpu1k8+osqQ3R9wMcstw5Mu9
            bb3XZllYWxN7E8z3HftXjhvF9QfmulDtF+aHo3qXPonVKf9kyhrL9KyvXiyX
            sKorD0ezVaZVkTjZs/oXrymzTWbNUcsLU1654+hrybYpDUzIhx9XuFs6+zU+
            syasdwa9a5JLE+fNbKlgHXY9Pvar2G2rMXydNtISfbThu2l/DqMVepdhz/DM
            xeT2uUy/BMAia5tuH+hDY5ZKjAkuqFuXDyzrFNAuoPzblRlZiTLvxDkBvsjU
            AUKYueXTX3fe9J0TSGV/mW/ivnbN0EQ9E2sKgCIrxxDrQV7hUy/jTS8Tgvl6
            Ktl15XxR6RYLczAS6GU+YwIR5b24WHdTc/6MAWIIaaKHdepiQYY23NjBat4s
            5qJ5kiWWtHTI21PZsBU/rHgur/zbLAJMW5n0lA5MFCNZDz2m3owxbcxRpHuV
            /53Cn/xI6Gk4mTsI7VQTxpEfKbRqqwZFZ6yD/Nubjf32zKm97Hog0R0QSeza
            vHHsDJamM1gQSxXuBFjxFEY4TsVJsn7Gj/Ew3wtzL5XtyxMwh6eeA2Xdd0wP
            5OBu7896cm8bruzPLjkaP8d9R+MZo4J6RGDlB3nd9g2mtVq+VMu7fvwkx0zi
            QWk9YEDkdX3nbeRcOPL55pfIPEZOObhzUf1ah/1EvSR9zmlKzfjwvYRj6Et6
            fnfq37/2HumwrV0CT+tln57ywXf4Xi/fS9Mfll3j7lFM3qK99qNe31Ley4+4
            P17j/vKsUFUsB+21a3icucnmivmaI+ZmEo8xrxfuEK+BjUvfoIcLeujwpLrD
            apVJP8osinheYu1D1mNlbnhnsZGUmwZZfRYPpQdEFt56tVNuoGxxddwDvJ76
            93WlwtnHzytORz52so1Sf8i8QfRr2fKC5gDyLGPh1JfrqiHq5F/Nuqnyy2a8
            nT+5x0EDHbDGGvIZL1ZPSLVoiWWKtf2lTb+Uw4npcfUdmurr9v0M5Q6bu45C
            V45KgrpyPLMChOyRrK+6bUVkoiv95CxGRDGhfI/OfHBh15lr285LXABsp/lN
            NndAIObTNyGWg8NlXS/bTwD/FfOpucTnBsaD5FxOHVPsXvFVnpnIrLaqxgHY
            hTS27shQgsvqAlA/eDPuhvpjulix3g51yIzNo5er6T/bWQfAx3PqjfKYObk4
            NmZ/7qr/midxPDVN0q0RKMauR9qki9NzJ/3Yq2LZlCdlSAexiP/Uz6lBAZzB
            +CqWEGL+Cfo0WwznVOJTwHxpQFQVuD1n8wuHxC/NpNVmZblP5QdhFseqjG4+
            F+nTs9ko1JfigumDvvPg07ncb/ijn3TtVpuAeoBTm8vt2nNt59EmLND3gDnt
            +Pu5rB4q10A8xa67Rfiv5h/ozhqUBLmNOUSY/CpV+SKyyNqp78a5HtP2gGrD
            0C+SdXtbf8711J4FlrpQOrqZUCl+48Gdzz7TFk7GiGPI7ma9VzywqP5vC8xR
            tfOu7HwSZ05G3nOy7d/y6QKfKr4HfUCiH4J9xg6XR+F0lgMV+69F75nFljpW
            Vkh49O23f7r5qfvFGg1WY179gXM2mwfjma6zFvfCXO06EYoZwbylGzi0Pq/a
            b3RnOXsVfJGlPbf8Mo41nnZ9Te1b8l/R8neXA3fMbXzuv/f9nUFFmitaQ0SZ
            uujosDzI4meGxrdceuOuNJ/2qjHszMfoI6aYOjxaGObB+/SFu5ZSwGzD02OW
            VO/9ZI3cXf88SpcHgWl+x+W/1u8Sb646AFGKs1Pb4FKsZY/Fcll15bFkOkjt
            M5IXnaNmap+TvrBbDk3STtle6UeXLMeQasql89yHWW97b0QDlaTqoQ2SGbtU
            JzqrTjQ4WtrGMCoWSgyWa6VuPBA3Hjj73gs+ITfhW/WmWZ3gYiRBZf115oBU
            bS7J6y3Xfu7b9JV53DsZY9VnpUjrFdNaIMYF5gpQqqssXlg6J2c1R+iCT8jp
            guvrvfe91SdlPI7olYoryEYlec5NyxmIGX7Jw7SfKXwBtK87poxkCgbLAXDm
            js9c6fuYWXSI8+4dR6O4WjxmQljCTqe+lnKV+Q1leuvVcfB337To1BahTYpV
            SXm8Oq1OytNx75xkek+Z8ZPVieDznmmeWKePxATTe91PPVzyt6rN4a3usG+A
            0Wfn+WNMRLbfyitO+dHWynHfMtz5SjtmadPDpJyvdo8nMWG4rvLDmwbG+AP7
            5mCtrpn5qOIhQ7wQxDB+4wnmtxCtPbWAVp9ufyf7rhu3xp2fsFHCZ022rOSf
            DGhz0jlW5Ru70wfMk5rkUoLSlz8qz37q4V7g9Zi77AHdCa8c1eQ3J2QWxjGw
            XI3/wx7eOZY+9zH9WM8+1p4kPix7H+O36A0T6BeLySg0+iuA2vIVGY33srU+
            UzbxcflXDQflhqrAvdbOmZ4BAHdvWOBz5McfjQ7I1yU84gnutvIdWH+AxXh/
            xUFXfI1dvrDqb9v9TkzoWbexedkQP3hZprLpoz1RuC/2+OJlLYf//fYVy4zn
            5+7hmql2sj2uNObD37+z2arlRsBv6p623KLjsc8zWxq/i7NvwD7r/YDOdXm+
            7PrOB/95+vAkk+kJ8ede4kFACqOBmfAliS/lQafnoHJgg9+/kwcxw0wlJVLn
            b3AfIAzR+jR8xEgh63cf+33MGqlgD2z8nmmbw3k3tau73fadcvRCucyukxkr
            uuHfJcXkMPADeIXOBMpj/MorF0HuBQvjDX/8ffq2Z7pXbaQBOnnmrtPfLlle
            mnV+N53f49b5oLn6GNuBN4itrEjkIpgealqzcq5Z/jhWoxWuooxSGC+/FCRH
            uGaeNKppw2U5jM0uvuFrVukaKWvRP/Fh3RIeh1WCcnfRA+stOwne5je8qSZi
            eucHpE3tky5KhicJZL06BnbcZutTptKaZd8XLMYfsBg3LMYNi3HDYnzDogcN
            JwzsesWva8xgbu2JuwwWCZV2nT728sOkUllGGV0H5Tr3KOf8ddOBPIOpTgHy
            zMH/wBBt8wWVSdjPb3uPPU7CQDUYwBp10sEASWmxPPzxlcv7HsIAOGR7X+Ye
            Io3/gAHWTiGtMb3E4pqeuWEuC+sjKAf38W2S7o/1dphH1RvtBv/A1IPe/Liz
            cNzJP4hrQNSms+FzgPeA+5m9m07yU5BpuecgZoETU3z9NJjS84MyJpg/SGgH
            tph5PAummLN0kf5+xHT8wFuJ93oGN0KGdICVrsKwyXIbR54DpdrvYHvUMW/d
            O86xltxK0zx1qxVmwX/F7Iq52P4MzGXCrM57P+yas6cWPAhekT+U+Uehgzf+
            /qqpsmvhMfdYFW9qulvuQfA+7eRakhusY25dyzvk8jlf2tEZguAr/zBjMoEz
            FnUuFt+78w9Q0mBs/mVW7GPn1m+GJ+6aTK/26xZnAFzAGnPysKGO0NtzLf9/
            Uk4L+uhTph0sMX1ixd/1AI1/WJfxC6PZ94z2zQr0Oj82P1E3/Zri38iJ9tPX
            YAZlzNOc7/q1eLGJtZjV6swZzwaeKg2T+2g5pd/fZbJJUL4G8sh73SxW+F1r
            tnjpLhdzkATgq2d+w5uZtrzjvDBriPa0RRIzkYvFx0XlCmtMat2lnrxBT2LQ
            dcbbBcZalrpxCC1BTTrCarEHQIjT8lULf8q37pUXd+fEpU5Otedom2SO2SyZ
            kcWn5VdG/p0MquoBYsj2Pd75vInvWCptDtL1fnKDM9iEeVbC1lfwGTFYnavT
            ru524CjMOZBwcZsexGqaMpaPYYxOTmgMCSSXzTrPdCdSHhclUbl/7TMZH0bc
            Qp+MGez8vWtvSQfQQfNZ652J7Fqe3Vl+3XtYnsETCzz38UXE3C3GsFTlgm6O
            lVKd+Z452rceiMT7mKoed3To1bRer3fj8RoubDxJntQxhuwjT/D9qrumuPrE
            tSG/QT3zfzTui9kYsKItiL9YzfSZTJH0yZtfy45B+u077u+0v/P+7vt72jdz
            1DkZOXb8IX3SaKKpfJ8hH+3M+pesv1e095rqFJd3fAjXnvX/gKoDSQB/U04W
            zuSEpTdOODzryV9yeNe1a1yvXRs7XaxTiJekXpzC+qX4PaJukyOpPomq9962
            jWo20MMUh77LHJNZecHqqp7Xpz7HckEajmOWcNr7FV9Vbsf+oskipvcw7Zpj
            pOYr1iqoXmSjJkjfk7nODA+H7fN47SgcyjyDOR7IT1wMiYgs8eopExFr01GM
            eLuAJn/JQPktAzWzAJNOMmsh4I5+Jvh9MefMj1xGgEjW7mQupHCZHwjbap4Y
            0zXvyt9BukJaT/lipQ/pIMFRMHBO+RgxHaUk8XGXcnxf77x6ODfWb9eRPo5E
            6LoYjX8gPst1n8923kVKUPSVYR0hiSPS32JBIGgzdjO+/FRiqsqhRdrHeZLz
            eDe55Ld8CACN/C8XmbFGtHWT55Ieh3ZYyRZGiykvinArS8C9c+QYr+6Ywt1s
            Hi++XjxMMZl+09meVaPszWsfWkJNBt9p9SFbT2l//T1X7KoLR9mHeTDJi1xe
            WQ0YDL/zRNHCky/JMxbbj3Ylyvez0n8dPMpolG1oVzh8jLV5lBHgtGN6Ydb1
            YAz34XHYzuyklTkCC4jd5OJDxk0nd43aRGvDemTy06XvfB8suJR2W66QPfex
            32xPXlr8E0RhJeG7d79191utX8nqWgvLRQUCafNb7X5C3PyYB7fnwV3vsUNq
            mtdHm7rb1I+5ArvR5tdcvcdc95gr+7rHlH4QdN/3OEo1+DMbmM+Mk6LNi3uS
            ft7SDVsOcMVVKSH+5svBow1fLafPYzbKteSWATjItNNHecuIh1kbP6rW1zD7
            JG1kw57Vm/wsWKyP6ree8TTmxSRsYQ477Qr5YxxgbvsXP0Nd7hgvHuroCdo0
            qyTjHBPGsz51Arue4MVEh9Pq+00mDO8kftSWyTZQWfshNPCjS4mlm6c/4MUx
            VquLDfnHyydP8eTUq8j/RbGSpH3YXoqHw15gNfDR3veIdwA+s9xTW+/LIA7m
            UopMf/IjryrHmRXHV44eSPEZWFnmyj36m8Hketyw4cYexPmwj1WPsNZmOcYC
            3yGyAoVTfe/KS/28V2JuhdrWOf7wCzM/snx92iRZMxdzPGv/rreg0qXF8niq
            zg/npFndjGk5hd1r3hiokix3PXMJUEehGkbttlh5Wsy9dFGQKMnXeuXIlT0J
            VA/wxz4GXY3FI9Zdl4CRXzfxFJ5XlQ+3MCdOZkXEnR9QeR/jrq9IvaTiMSx2
            jGpfHS/zuWf9jnpy+Ubl1Ne7Kgdk2t5pgTnnrcaS6biuoNyOzL3C/ATB3k/r
            HzXuznteemnlUOv92HlOvkvlEOWONllg2L4ar/yEpFuBPmM+3vFt5wlkR+m0
            7rYuzBXa7GkoA/x0+f4d+C1aAzmqO+PfRrFxVtWEiMqvzDzL9V2TgjI5c/5x
            D/etp8m73lU8cUT4H+2JZJ5Viy7s8b/rM4RX/Ymy60+UVUqU3vDWNgtWj5NV
            RWlT3n6ugJhnODnqKP8v99Zq9KoizG9ZlLliRo73jB91LJKtu/LMYl6iQqU0
            DxAoDOb71kExx+qeG+V37N7292tu0rvORDGdj2Luzu9PPSD26qrBbFVnH4dB
            nVTTvuI9N1WRjjGPjbmYmZY+h21PIjzfWfIoEEmre03Mhy3vOubU3yr2hKm7
            1kUfC9WgiI0xXJHPwLl730OejHN4KWdJ0to6W/93LuoFvKG82Zyo37Th2nEu
            +s4FOsjPO+YewaY7eo1l+BY7l6nRtDe97LkPLRbY48V/yni17jzETbXHfr1+
            7evyMS/ebxmT+6DPyOg4PVdxctH2qZebUlMNBHmQ3rY3XmtU+5B8iSeoza57
            4C3JBUW6of25x8A8s4Yb/Etukj/HlB1cunfhFebFHMZDE69wH/hCP2omgQHO
            8LYnF5iWT1xDafvgGo2jbTxT/0M8Uw3H0PFWNSuCbLdNz/foq9rzZxFuvs6z
            z33Z/JOUpoRzbDW/IpMu2J5aGrTwKLC4tJe7jqzy16gwEqSXtPndRXmHegcw
            cnNsewD21LNe+iTFrXNbM28+k2iViJ3BGoig+pK2dg1zWiCunb+H/es9xiN5
            h1VGXPZ0qLAYEoazjoxmc9nfA1pwT/0aAIv59Afg8VTVGcvK2X/jRZSHtXBc
            JXnmYa0tbX3gOjr/RN8giMCOJgZv/DpYMMglKZvPAast0OeANdxkryTtpV6b
            OffT1oky7zJr+eGsdNiqWTPW9aq98vGeDRT4cywzPgDQ4c44VGvwvziO8GMc
            0g411Xxl6Q9FpUIIKZfFvCWTJbrVDM/O/H5Yrw0E2lstGKZQSn+SbVS3ZC0i
            8Hrep4Wnt50riW0YopFJ95nzRqZY+TuLXuoeJ1/P8TVuKgIoBq0F/kcp5+sg
            yNDXrL78VnDPYl3AatdJ38wGSR3tlrsYnJJO3WHJSowJBw476xGUKx0Mv/PP
            8rdqDlJXehN+PuQ6vsu5xwfzB6Ast+jzgXsc5HFseHfaOEAl8Xbi/kxGJ/h7
            bHuNvlXbFvOwdt7+g3t2LgPinbVlyE8bCnEW5v6M7xdZE5xT6nte/r/GriS7
            dRgH7vs0IsVxSZHU/Y/UqAIgKcnv93oVx3FsmQJBDIUq5Ir92NS8XIsWQEKg
            73okzNXLnpOE77n+TV9q74/YYWzIss0mJzru5TCen4DzI5xXwBkLrj0omp7p
            mFQW17+RtzUt9oIOTERwTZP2qvbS6cWmOe8KO9S8Q6+IaDfysABY4bG3nO+f
            74y5Srwuef82su7MOLJbr/skprI3bAu3E0WscV4ZVzj8MTnfuM6JSl1HOa3W
            nXjd1fRosGZF4z7Lt3WEVF6PDqYcPlgZubKV/Bq64Ue+1wl/X/p7/fQNx7vm
            prKnfbDMmevl+b1pDpzZ/9/6+MFsFvsWRdBiPcjQuYcBwGQXLFMM1m3mtSHt
            u/20+fL5vXxsjDns+a4Huef/1B8a8Ua4vxX3F70O+Z+O0pP2+6hdCuIVSc5p
            Xw9eKlJXm/GC3NQf35O8yr9i7j2MGwK56ec9Lg7Ec+gZMzjUAoZfAG4q2r0P
            ZIS0xxpt08fuF5symp3xT5/T8wnlF9JzPb3nOs5yP9dxxj/n+qeGA5y4XyvX
            EPivdlHsdGdq1v3Z+z/WoVGkBjvhHPKTeDrmw5abiM0sVtx4NgzWUKkQlqkU
            6M+rtlk0bTTr927e08twOtVwOvX32pCbArPIU3N99l8WdKk29KAOzFp6ni87
            nhqWI1mf5dDBndpsgCeSZRdD4AH7Xft78vjSxxrP2fN4TX572c6RioMHOCi/
            //lCX2Qfv20L8RTKksm4SbT689QKMH1SHAuKkj2+/7eP+rU9SZjmOK7/106C
            x4Fed/AcJczw2An6tHL4Na53kOWEdtJc1Jjd/rtcO9Z+VsXT+eP/dcbg/Blp
            qQUk4py0j1tl31sucy3FgWCN5ub+I9MLTiL23jfIOGP0/IZrmdUXul9Q+y5/
            44oEVox9fM8tiykefwN8Qkg2a4l9oVpZLVaNY0gBVIFv19gdfhMNJffFKHi/
            vkd9OexwT8PJmx5wOF8bmRMsmci7Pn5jyBPAiubP/6G2Z+/L8PXjn2Xvskay
            unIH4j1u8DKIUTHXRADdbgXpzMWYwbRqJQ9V/5aG2vGW+zyhI3Fo7N3EtwIV
            ythka+8TfXDEKyu817e2xZmBXCQ3uNWe36OuETX3JN8KJWelybzzWQZG4x5f
            Do22dz2LrufcxSwnZ+/RfLTPUOv6jRWaMXXKJGh+kIFK0r0WWBeJUXkYSM8P
            e94L519/7H2wJ9cfey+2Vwd13rrbNzRI3Hddho9h7Wzo61E+Zu0MmkH5E2fq
            1LTWBIGLyVaDD2N7jNH8uVtzrMNrSV57yr9qT5UYGOqMHGTmsseXv872JUeZ
            dO3qGSbrCuue3bRKQlc9QmJt7H0P8rCGyXqN91UhuraUg+LxPVYD++F7yk/f
            03rrf/xOXqdfE/NMyS0kp6e+LnDQ4NYGhiIXNFT+sY71Pdv+kVMMYo6r6o6U
            TlsqgCX9S0uvclrrhz0F1oAi5+apNUaMBWoBTe9R4f61+2bPPd8HbOyLOO2L
            muXK3R87FCTlJ0QzK+a5tuYnv69/AS/3qRt5bpfFl0A3U2z0dkyy1xeoUQfs
            MWwELADd8PxFfbKsCeDfG7gbxpgkLxYvOZ/a1sUYGfcMK1d1FgAaEydioKG8
            pIb7E4u5rzvfwPteYl3H8NffG11mgDXTU8dSreRNTTpMHEBOBmj3Q99D1vJM
            fiZs8PZ/31sso6rd4P/Bmu/XhqPB1FICsQ/p7n4d7N0hCgjw46d4k3HmivnF
            +1R+J7lOywuoyVfinvG1SfpliGCFV2OV+e/NdRy0ewJ0x3OGIZF7Xju1dtIM
            /3km0FRpnfPheI1/dS3dviynDkF1d6BDTk1N13ZDDZ//j1gHRACqNSneCBOK
            kuqHGof8bEHSw6Ch6aHCLNA2Hv45FkMHtWHVozswrit2GuRbub1izgxrfIpt
            5rFrkhUV02A93HEimJ+EXmyNmodS3yipdjSvOz09yOJYnsMwPio3tB/sMTn7
            gVlUvguc05BBaYyJWEuSj9vYt60DU4JaL8wDhCUHzl/uaTmOJLB1vAmuAnw3
            imcAF7Hhayw29Njx0fVznb+mBP6O3Ylb+7+XY3gsxqTHEsehw1e/sKwfLBTx
            b0UxUf6Zy/A/FGPLmHB+8T/QOYUkWLfebQbFNCZSUe8GHoGk/mJ24GeWgHee
            bXJWFoR3K13gsGHPJIgZdsPMI6QLNYHj/NHWGpxaJc96j1pLggIw13dcOi8Z
            l5xvYle4jhIebMNuujbb1+jWNfI1c5wT5rvxPQlkl+95JeXnQb8IOCcJsNtX
            OzDcOjuJviIY1BFfSJg9MBuNIQzIgXGGLsUZyPtzU68c/ned3KOT8yI2Vxis
            Rgx+A9bqgYGM1OCZnNHDDmoam6D2jsdFuRJIcM5puaW6S8D/Z2D/yZ1wPZ8B
            HUv/DM49dvZEgcJBQfwnhg08mD7bAZzbvtpXy89xYsVsLN7Qt8m9+r7Lzo9d
            0zWpZ4ncNJB/a5BEuVNrQznryV0vOQvFYqk4L44QiC7shdmhgZL7SMYtvqjb
            szDjGjmgpPxk4gnoKcBFLh/UMQoxCNIgOEe1F7A6ZhuosKFv2Zjvfbj8gP2W
            U4zDAwHf5T4kt7vI1yTenvX5UsbFGTc5isFlnyR03mo7YuJXhfYEumRRnxN/
            hVmuWia32lG3XqPxi4FXGYqrNltU6GejcaMT+4Qd38rDM5oS49cO/GUwfmXu
            A0X3qu7qVDRdho5eB0hELFXWMpY8Dtuzujhyc8EU0Av3rXGaYl62vK+50S4M
            eUDQgPPPNhtXH97TKB44utZSe2JyYBnCWVhj28T5KYZtPLqMBefwRW2OYTok
            JNHhvlX9EMyDyR4c+fjg/w74UPCwntAvUcxIUN7vTt2XoCc7dTk4JUENDPAZ
            A0fQgP6B3+H/IRfciJHPCP5UfH6Gn4G2gvhF7AjVpSbmvxHlelTJRxNwRR2b
            EPmnPdbXSlQA+8ZQusVk034HL1GAzZ/H7fUilIqZgzbWZzdZdBLwj6hFg6+b
            +g8gP6xffnNI6GKNRv2rm0BBQNs3gRUPMHeoXig5IAJYrW/ZuPApyiMluZny
            SFX1AZzo3zc06BC8NWp9gd/Z/7buEi4OSL541cZgvB+GuyCXrmlaGA+U2rbr
            0Ew53cnVYrozxv992c/T9Wn+wbleUqbaGPEhxf0yOBerXg8HEm+FYAGDtCCN
            DY7wBEZp8kXXQ7FcSv2lfG5tMv+/MEeNPeXvgecxj3cBAyj2Qt5jGkNZkRz8
            VKg/JQHNvEdBz4JmmB/HI+F9VrwQxlyqi3qQMw663q5Cdt//+S8FBgCH 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
