<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.21fd</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21fd</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21fd</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom BCM20702 Bluetooth 4.0 +HS USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_21fd_v5559</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8701</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21fd_v5559</key>
          <data>
            eNq8fdmS5DiS5PuK7L8QN7BvIEj+/yetqpqB7hGZNV2yM7LZHUV3Ok/AYLep
            /Z8jHvyX8Tee8L//1/+J/bB/4cCnOvgvx4P/v8/wXDz08X/4WO3geRyx8VpR
            H3mNcfz4Fy5c/DntxxwCDsuxxfrUUHNN2F68S12t1NIyvj/4b8e+jO+1DhxT
            cNWOBzuOVJa2oUU9QtI9eNswEh8xZrtt7fwW+JYL32ayo0Ow9z7O430BG4gU
            eJ1cfLtHY79N9f3NtyvY/st/j37d5Nu2NLZ2VMRlup4JY/g+9VGfyN9jSuE5
            ynr8iWbI7emLn/Rqc8R3MPP30NZVer7rmuF493dMHefjbEcpF9/9mBUH2fv2
            PnqOZaaUU3n4cmlFG1leIT8NZ8z6cLxD5c0Xxu1JR8S1jlqPxEdfOO8OR+T7
            YD4Sx3bhhztiH565JOzDnVe0447DSCDExIfGfe4jZdx0YWKvCgrCIXliX7IL
            rRv7BgkF+7odt0hB+C3xuBvfsf98sA/nptP34ZxzYR9eJjUQS9SI9KN9/a/6
            /4r/Ly78B+STn3XcRuMcqnLbEknH1/6HhLAHG2vie3+143v/eR1NP/+zfu7P
            w67Tjl/Hn0Zz7dfzxNuI6er4/rW/xjCMEH8dr9HgOP3cn3ovOv7X84S1RPNr
            fb2XHtSWQvl1vDMQbH5dZ4ioscv22+p8lpFADPc3Ba/fD+0XHbk/PG8zHFvJ
            IY7+2e8rQmeMZfv3GaJn/K/5irOj8d/iq5Qr893Pt/PVs3yF4j82rfb4Kdvx
            xz6++d2X7z8+14qFk/d17PsLKftz/Pf+09nu7+ep7/P7L2lznXaKu2QwsP6b
            UJIx518TFte8jb//2j/nMt7yc/+MNhvh1/XDFf3dfxHEFcrfCKKXbkzyNBJI
            pNf462Y9BVFN/HP1aP/4RfXpztq/EtgUiKCWkGNvPT2QG2AjlTOUW8DSr3mC
            Z/c4wBNv8GWxPZ381Pvh0I8Hx19B645DCvZVz5ATWAu2M2afGHKSLELUKz4d
            Q4wJwE/9Xke9KXL+0+/JxFePVxWRkmtAdkIGrDLr3a7uJPdv/zBtD9Y07wOR
            evzjPz8u/rvjOP//6rjyL487dZyTQKYc+xcnXf/p4lkEgVUS2/k/uG/8p302
            fc/zPzN90acvHv/1iESfvpz+03E+ffU/Hlf+5XHnv7zv9Z/eY0wjgUK2lt+p
            /Rru/w/7epXYyCFJ7+k2zfzmq9PWO5TFFaAHgKWQZGMEK3g/QefIJ7jFCU31
            hE5w4pez4K/ir+EPq/2EjD8n/ngsFMITWvR54w9cimoQlMgMJSlD58kL50PP
            yVC48sL5i0omzl84f+H8hfMXzodulMHDMnhqBs/K1J4vnH/h/AvngzDzhfOv
            julY0ieysXnxN3271/e3lOOlbz1cJnuCVMIOrRTauPhxpmI7JKqglIH1P0+D
            zIVmeK52Pw0c78QJxkE7FPZwiNXO8NzUsfNt5/O8cxgJVP4w2/OAa7eWnuFL
            i1Iknsd16iJQRuP9XGLzR668SOx4ANw0ns/Nz+XhzEHtCND5RlgphqsPPGB7
            IB1N4+753rIWL3mWH0TZQ5Oi0+2YDtV4xkc6+0WVd5hGcMSHSufl51zSinI1
            te+CKEl4q1sS2IY3nJkvXAfIKWCgIkyb51l+Pp+hlm6rj+ffFfes0nPnHqxR
            NciXTdW60+lT9UhH7KadUTri6pdMJNgyPGaWmkePKVwlccr2G0DhbJ0joyti
            8PcViylAXeTSQaNPxuTheebK7+TN/Tw98fhx5ib7r2Ky2/VcEcef0Y7HLOYY
            aoeqi/GFAIYRUfV9VCOBJkWngc5x0bAGCOG5qCaeSyeAMB/aoiSQ+Ext8zup
            WI4+kXjOReL4Mak65lw5m9py/O2YyolfgbYXaKgU2WGjcOK7vUQjsVQMH44K
            hcMYT9AXaHF2avuZ5Hjhe7Hvkd8HdKEZR6A86DwPtIJrr/nIjAk8P/HlLqq8
            0BkgEDsIuHE6YSXx2GbHHvUKMYYVSdgYozmflk4SVJSWTYULz3gFrrr+vvcF
            Vdk0SWkt8fwLwd+VHCLTYMPkTa5gGvb5B8G3D8EP6UzkNBo6EMiN58AirtC5
            vhcm1vTdhrgC31/aNii87vNg7z6hGAn07Yeot12EJy4qT3qRAF50TbMVcv1z
            Akm1GJ9c4l4HsdgqatGupxcJDwyEvYqunIvTPFVB8AZYsaRhqIOL65OujGq8
            ZpwcwjLuJ/QRwHOWGF2jxKv5sdUHCru5VrpWX/0evuczfDynpPWUzWPurLfk
            Bdr3Oek9J/LR68pPFS8keWJkZNVmP6dQ+kD4FEiG0kYeeKdFqzBUMucwSu4g
            mdH4YhlqDGyZroWe7N56LhBeW3sdT5qAdDzkn8/1IQWSU+gXhZuZvOSXNxdH
            WCBhnjNNUECvN84z8K4TyzqApBOFF5ZRcxJ4ZMxcAYTTChivthQIYnOwKN03
            wkEL4ZHvpUS/EZgs9oM90MNw6mawLjroud2NV6dACfPOM2qNT07JMylQ6r7G
            4Q/FB22cVHyPWKNYYxPXxkRf3KbJgdGA4UZ1asDAuJ9pk3/2fb0/JjLJws4t
            7nNg0ZxBDBjsUcR45iSDEhxBnhIqSCSQcw0IjhpewdFkhC3cn0RBoo1GSGfO
            52bU10UdZt9fa+AuHTqQ3z878d5+zsHfsE7AeNo+pq9nVnEhqCu87uaFD3k1
            hW7r79idbRQuZ4jlCM0EwgBaCJ4hk3fizaA1QThfB3joScGGMWsxRCOB8VSz
            dqGY4GKb2a2KiR3PnVLtd2qUImlyCzoHJ7GbUxXC75FmL9kDXVZ0M2Abs6xD
            LF1qMGKu8ewQMqBwkgFXxI1pke0NSeEroshl16dcQJDe+M0k4cg2EJqc6StC
            EwLmvYKMO9qgUEkWrzXm5/hUcPwCEfWtKsX4rNPugRV0uaoEqbY2M9V559Ox
            elu8uCBIGNA9YdruSTqpHUmNy6bGQa7cHUITRJPuZ/I6MXzkP/dD+562uGIe
            q977WniOJ8i94dd6bBW/xPgYMUIQdydGPk8JXwv05Fhlmux2DS7E3LSYOU5Y
            cyVtXg0OeLXbSGDqzpwI+gedirFan72Khly+M23DKXA4eMk28fB8Bag2x31j
            XZHBgV0afxh0Lqw0XWsNNOfo9ITIxHd8pSLbzrzXl8apJ2rkwcSODcFv+Rmh
            J0CQ8L6RviIXAKtJfoLAJKeh2LVc3teflczenxWGgMhEPiMnE7zwqee5t6CJ
            Z+sl65xAw+GRqytkvw+OTVDnOuQub+fnYM2Vts85qj1bWJ9z6mHn5ChS4DkX
            DJC+z6nThED8ug+u8/CcOd5nu6kB7zHAn+6T82cMoNTeHIPxIYEn5XlvCwEk
            ejb3C5z3MhIAfWfXII0MGu++1xopoN7mnac3RwohXvnzoBc08Wra6j4nnH2+
            Ei5UG/i7232otOA6nQqm/Fp2Dg3zc09Weuw+kAjvZGUnnnu890lgI2OfA11E
            Gk74mmA8F3247Trf+2CNmXuXAv85jZmHfR/sw/t0MlRwjMd4QCrnMjOLyzji
            2S020Kqv27LNtItM+Dmv1PBcZ+00167m7jVJ8lTTOk0wQOvHwy1b8T4Hz0eS
            c5yktZiAPMQP8sNwzvnj87tIUpu5pi2oyMu1xGd+9njcEARgUW4RrBsn4QFv
            UQs5Owbjw1xu9wNeyy/wxaBmxyTgIchwsLS7Mbg06rr71jwh+U+ymXt+zk/O
            aGew8xNen0poTu8EQZkBcXGAHjFcrcD0vTJwLgiorUv3LYxJQEKf+8VxvSnT
            Ln4mFcqhaQh2Dxj397WfM04zP2P/HA/NZ0irziICThxYGARBMKaFdx5BbgV7
            Lr6bCIBEs6X0I8vq4HrCPR59h4TOqZ7cd0mTabhYwhBlkRQWBd95UO2IdKlr
            4kBg3QgKqjK34BT+Pdr3cPv3y77nlDHY9jn5sdSwFld0wjR4mOi6qeDyBAZJ
            TqkYJwVSfOyk7CfopleeAdKfqkehAgMtIE3oxKf2H2eQ6XidlFrnM7gFxS19
            J8u+Ig6DZoABhoSd+DzHUV+1ZgydxxAo2ezCS3b8zUA7NuilZ3XTctGZbNEJ
            0GTAdYaIDFqhAqCYafkHxEZuzuvU5IZs+0e27yBYBqaogeh7hwEpznM26ePJ
            t6HYZMDObMZubVs8ijEy6Os257V8mH7/TBNTOhJucPNR4jJ9v/NVoM+fUfcz
            S+Xovg3Lnjtk23aP0hx+n+DX3yGnle26a9n28vus7t/z3tqiPtfpJHBf17EH
            67JI01r2HUqh5BIN6JJbvXzw8LraD3VOF/UJgl1uk8V4pj6DWA6piv7Zthxd
            qYP/6SHpPMQUPPIK+uoAhxo0QCGTq0UXzoLVI1u+J0YiIshV6ycxMDkDLCfa
            HrgvnRhU+aJ95rb/0/e45IMcPPekTIVKiGt1/C0qR9iOFWyLd4/cQtYF3q8n
            2y5sg7iOdDpMyqlQOewbENN9/KnnMKRBL+Yhx2PrJgYZpH7Fbf5oaX4OXrQq
            wlmC1OfTRHQP+xww8Gfer7hltDeVXK7H8wUeudJ5gSilTosFKrwuAMYGU5fu
            Byg9cXukdBHojhCcfFjosxOX03m3nadlQd01ncdPyzyXm74bnkdfmitZd/46
            74dBp3PA38+w7zWqyW2sqvgPRuDJmNS11rEHs0Zj2ZMrSAMTU7oYnQd3AwHB
            Guzj+TK0DjNKoZ8zwaCCm15us/DaHRxkvc9DBXKRcO3arx6P9yf3K/drUPLc
            Mdfn3MvPravnv50b3nPJSfJMa4X9TvnAO9FXefh9B4QU3gt34UylgRWFp0rl
            wlWw/4TOdUpB1Zieo1eLEQQcREub+l6tj0WUlXLQy0t58ZvyNMCU3nLzMMRA
            i52PDlZo1kAeQTLflaM7yZNm1j5lYXHC4OcaIQ7xcH0bSzBr+2eQoAzI4Qot
            0ZQuiONtYXCQnvpMbcszP5ZFvqWF5390aDWztNrc7zDdsli5mzsmKwrUqu6/
            9Qe8nhMwzxm+SsE127vi5u9VWkJdU6s/Q0epTsBp9bHPyZMB1/ecwuUIIkv7
            HIjWJWfb6mufc8uI3BwGxt6anjOBob6e/vN9SUAlk3S3URigGOdgJBDWbVkv
            PdoNMFmnJouBt94kxejRxk3PGqu82wouS3ksYMPLJoz+7GYsfNTuFnYTNUOx
            fF4KD1sp08PXRXWAgyr/Ue1/upiLabh05dwxPSWlXxPKY/pF1w/FRZCpKBfW
            2e055PbJY7xWNrQOWB6xgj0efZtaBTuhgzmHgpXtbLhfb6zgee6fXK3Mmxzi
            w9WGcahx/IOPkhN8UuuR4opzlFbCCc7jVXbP6K4lO37VftvxU+6zS8fPz/Hr
            PZ6pIeWa+XP8DfZPTzZkz6u02uJM2UggMo8FF6murc4YaYrQ53ec279X7ruP
            ul+0pOemuB/RLrpdKRhM0Fu7pVAGeoNlIg5uz7oDUBo4XPy2zAQ8ZHMTs0Cs
            fr9UK1IiLyO2elQY+l/+dClXZdk59WgXfc2VbtxHwalnLhDfsU1HyOXs2RDQ
            G+ewe9b5uefNe1bcVmZt5FWhVLZ7ExZGbTLBrkU7BypR4buHoDiCVpHcZVg8
            vYuNX5UuqfibM9R003px8Tuc80IWvpwXBGirXOfQNVdhtEM3IrdOIpzB5QIB
            VrZORG9Cx/0U+DBHcKLaBrMIrAuLGlbwoE+GY4eFPSxSGGBTU0ZisCITEfFC
            jNRdH+sg8KWwVMMh5a4frv3b1i0IEiCOz8O/J0ZjJXMhU1PgDbMU+BgGuRG1
            e1AiXzJTRkofMOV9rmKsclrejnGCWkClctTgcutIv8LqvXCQ6kl/Ev0DGKSa
            n5HlrLJBUmTy+u3bjKKRo3jgKMtUwHv6e0AfFg30fIYuk4r5mGHQAb6ePpac
            SYvUu00uHCeF92QanbSKpfd6/P32e5puUKFrnEPO80scg+YOzrRnfn2L9FtU
            XIgib27nfe0nORDPJW3fxvnwimVHCCUWqHwy6EdekuhZl5XGxW2uoUD+fVDB
            q5i+rPSrUaSodCl4fUhm0ZZ/aCOHZ9YpCn9MMaxzrs95a9h5Odp50c+DTazz
            UtN5fPkTlvm5Q6JyAMjGtvN0iCtGDQRa+hvG5mSDbsu5ncKNukjXs3qICOQe
            bTXeEFWc2DsxVGjcCVR04nuh0xire/rzXOWYbesgisAtynyT83r/R5GPIZoP
            cnY/vqrv0v1cMTeT9+VLR8AsSWdRuEbsmt6cpKRb+l9g2t1k1zDf3xB3ctGp
            aB/D3IyUjOekHwaMxf04uPQCcZMQqDeczh3r5zqe6QZOcMpzMmm6g0NNJ4Gi
            aJNeBByCtrFTlVIZySr3QzlFkYqSUxGZ4oLVvx/gYfiFVHzYOS+XaAzN+sPQ
            iSQ2xbjVpQfCgJ/cKuvu1Z5BL0wA8Wsn156f93liimcrCk1hRfL8c20dpYGf
            Wc4uOQKfzM3ZcyuVOq/hPIaBIOPJQqkBGpE1aFjnuVfnfYEtc+Xefn4Aheka
            9DDatcrJsam6XqebF2uYn/W+ds0KDvRyqX5h1XJ0ql1TuhLWNdajdJZwepiK
            eQJ4JT5fBQFw29IW0a2Nda79nPRMUUQnf86gZIBL456Hexg55pHuZqmDpYZK
            GWIDcXn8CquYcuVaFkoOPiFQ4ua5CaSsR7kw9/JBKT7BNAXLuUgo496rpEHR
            Alv0B12HKU0Br/etNGkywAqLRdwuurTATqhNc1VBAzGeIdqNyixh+Cwv/e/M
            l5n/2P78fNtnOQghzmkhRVqEjKsmSweFaqAFh8ebepxLqQJJ2SB0MxyK5Jzy
            4ZL+sXAfPHKm+6NApZalnc9IH1vJiq5BBFezO/WdzjpJUkpDRSYlzXCPwN8b
            s6AgTcKCvZry4ecwCyr45/D5zONC/Mfjuo6NfiwlJz7t3yHM/Lxm1wm44WO/
            YXv+uObn88280F/30Xv+7fn4uZ61cavwZgsX7JmM54A4hzGBz2Pouail0Z2V
            053PKzH3hxa7P7vlKg2oK7weTAZWRUyLcsdBKeJeZZ40pb7QWdlvLDb7Xrtv
            RQD3rYUAm9mOpdrPhRYkAc8CrtPl1oc452eoO2P1Ktoe5LzMC8njtnQgy8A6
            l4n8c3hG1mHhT+hJ5rZYS87GLiWR8nbKBTIpfakiDEuIqp7KDC6g47ECmtbJ
            nd1daPfdeejdn2Pnmfdu3/uy7c5LH35euc1mxKqy6zHUqMQF247Dts33c3G7
            m9K+T7tP8+N7ti1sxGL59fZ959MPf74aQ7WMYx+3K0nSYy7Ld759Gmb1N3/+
            enmyRLfxgmIRTbOANWvBjTiVAkOPa/fsCx/cm1JmG2Wy/yxDpZnSLFHCXEPQ
            FYyEG0oJDiFDA71edH+GWAaZ51lG5Go9S2C2ZoZkWTLawyhRul9NMafYYplg
            WRPmQgBlKPcR3IHFF7AZ+ojxusuVmjtF8zL993EP9UGdziSbfFGfrZ63U+hM
            8AZcG5+VpHiDBQ2IJ/qvpmeATKk5FVtY9AptMPki3ZauqOiPtuE72emzAD73
            l3EBCR6yLRRcE+xfgVeQUbgD63Ruc76+zthDW15bTlooK2lxu3Rc4PkQHjel
            HT8n+qioO38twh5g2g8mCUIeL+rVmed3uYJghenZlXfg1mw8KYLv98Hl/3GK
            6XRtmH8HuimOq19KPq23Yt8hcWrhpJtH+fin66WxkqUknQVSnROBqed6yQmK
            CSgFev+pBy/Sw5eMiaBBxwRB9k467aWPcFLA3jCglxyQ9MtEeYNXo3ALdLpA
            oODFEyaW9HGWOCP9y5jgiMmU8xqEsRLTZ7HF/lqvFGHArI59Fz7j8tDSZjou
            XCEqJHeTQOiSw/VCxxbPFXAORaOY48wxNhKLfS4Y9Mj4cH4YS7vzbc96yuC+
            m0Rrxedln3FT6C72ufFztc/XyWCgfYYxhVm3z0wVOa+b0XBMwXOd0z43POzZ
            7POE3gpZ3gas7DPhc7ihEhkJMEChh4P1t+ZtF4XhASq7W+hi51zcEH1XCU1W
            LeaKFWp03VMGtqtTX4It8FxYZbJWW9mBvYJVFGwVcTIZgGR6A+UJvWanrEmm
            BF4XxKlWH5OsmEUhE1zPwwyWZJ+T0hZ1PQ+2GsGlb3FEKs8mikiIJcupw9iP
            xYhGlPoUwO8t5885BoNJMY/u54FVXK5jzk28TBmiETQZBYC2TGONumWC/gOr
            a/CZVBtWYflW995Tf2RWZM4gb2UBpZrIYCI0uZzEXpof33V8iuQG9l6XOEpW
            OtZBT+wCP20rb+8Cg+Y0CFtjULbb/slAvpzA8aMv4Zr0IGBAequXBTegrZIP
            UVbrpakYMg/Xbzg4EVXZ9mJJkQk2eOYyz5buk5zIbghtttF5hUmmU5TKesPL
            Q/JpgtKEOXjD1srK6cVix6pgEnJoUvrFpmrTtUagnRpgXIa4OVSIDaYJ3iDd
            sCpPKYOwZHNazA/H9rHKv1oeEimGgcWRlSsciwEcKgU/B4MHIk1Uysr4ul+8
            FH0fFYZVfsZ51iFuR5sF98MxNZ04BsoBVLdKBfhO7ZQT+LqOPS71ZO5aZMQA
            /+3diZtjtZjxRSGOsbu2gTcbJ4jsujDMerZu76UFU8XNwj1YxPX1mwoN8R5P
            tMA8I9Z8OZ03GN7I+FvpcddTICG16IFovW9hKDwZCdzL/MFdxbRSpSgvjeI4
            IDBwzgwt6FbhgoUo9OBMB56lyDLNV8CALL0wCTrLsbie1OYrNnBdfI/S8kO0
            Ilno1MkeMpzhi8BGS7HaBMnpAQ7E1cVs+gtEw4nwMP9xMvmZiicmkERFR0M6
            qr1PgrQ/GL8qpAXcL9wixmQTdTyS6SH1psSVsH13PLt/vVMhZzKxhwks+/PN
            z+GLkB57To5bvJSjcbzEe7bY+Gee/lWTUhpFZGUyLlVOPpvHBD8cbSz59oYr
            eIpGkqM5hzpcQQ7dAtCb412uYGMjF8e4T5a7kGlYjR/G2kjgkffUdlbbit0x
            YgVOwCzYdT6s3W0KSwUNyGcQSRAgjnHLHXCnX9YBo8ViyWA9K6heY202rch4
            lsNQjkAI3YsPOf1ll7l96Qi0l6S18WRSN4wwi0Tjs1gvr30GTP5NcoB+zCyb
            zT7xsuB7E8ulYCXAzAMT6BbMrMxst4zXQMKNjJPVQMOKafEk7pO/UzEcTL5i
            NswAx4IM6bjhuJlSejG4pEi+3A94DZaAzJM1f43GAKck0T3WYFqWEY59Tbpi
            mLeg/Zj/d1wLyys/RMLMGGX9l0v5k2fHfWGT19mHFFW8BwhouFNZ70ROnBiF
            ACc+pwKekxmI45CLZHj2e2LwnYpXYnkCLPI0IwyWs1xUZKSMRSmDaT+EVkS2
            VaACfVwsKogGfbArOzbTI5svH4DDvceRiVRSmivF28tG8YKQe5eUP1w7sdSA
            k1KoXEVp5b0/43tlXP1dEWaCZSMeRlvMNIzBvcmWR+LECJk2mGlOgqFZFECY
            2Cci5G9MVSAx/lgEEyKNPjFqjpx8jBHYtokvTohzpzKec38eQSP7YzEcGBMY
            12Gdr5+PdVrTc4tC3/vpv8I1zH9i1k9klm6R1WM18/7emVED99pTx5qVRPql
            O+B2Y4LgJWoa3QnkVmaxzUJ1sGOazrQp54CeLOq5FBeaeiFQUimfz8zB3Z/r
            ehSUbKdW9x324AUpREEDeIp1ayWGG1ozg8SpMFcbSpvFh6jkVTokIftuyODB
            Qu0Je9IzuCjb9rE7khzirReiHFQuMrb4HmD24hFMtr7Pz9TlyjGMTGuAsgdr
            vltZElMGr6gJ02BDZjTPuxE7DeZBS7F8URIdHYyHk5IGS89mPrHPPGfkATBA
            1lmnZFiDUjMy1lBXhlgW+9DKWd/KTmFmcWhSyCDHxbOTZ3A92WZ88/jh21eL
            xRSokLCZ15JabRdrdfv0siT7tCkDa6UytgNlrySlb5cARYfl8czjVv47VvkJ
            SjwZnWZsn3ncVUVRgdZDKKbRM4Yh+5ligIFKJvE8fhwLJjJjZvdhzCqDaRUM
            gPJPwWz8Htk0ZqbLYB9YfHZQj0vhh+uS7Uv+VaInNlEP4bk0kmN8z8nxBqEE
            j2GlNvT5NHubdjVzd0hGJMzJfFBXRDFGUCBdSYPxx0oS3ftUDKhB+WDi+HOT
            oljhgWUVQlVS5lGYuxBU3o07YiX4S2iAIgZjKQ0EkwiTimmFkg2mQFkgEVTe
            7eFuvKyvQKUF/GAldNVeHzOHFPtkKxyIzAaXwmDsAivlFBqBFxbwY3tUhvP8
            cP4wZ0keZjvfjsLJvzx02YyHlC5fCdSqDtfGbItnTuJhgSuj3xZ3V5WD5/pR
            CliS/alqEPk76VxSiJz24oAwUzqZyRHp9CNIgGAWJ8ski6KTF02Ket/xVa2H
            KBp675BflBobtC1YXnSUmBodk+JQDJaPNyk1KDYxqKHN9twxgk9ekSE4ssYJ
            YcDw+fSQcRgubLGmMQV4MyolZ5HAzvgdZkTHyocgvMCi8WwjnukSzEwPU5on
            BDOuU/F88fN8hz8fU+5gfhzdI6ZtKy0MU1+mUXdPctUWlO7fjQP5NsqWdmcO
            3/Ff3FP1xsnek9VckkvRbXbcxkiAFb8WILGDi9/AX36wuPa4MCJ3CNEGOfjx
            HGSYqFedTLWiBFUctrdLE5E4cAwEEFCn0uG47AVHZxp35D69uG95L0ZVsogQ
            3+suzcE1qmcGWz3TwMJoh+/r+7ff3/EkK0yrqayeJezb43/qezn8e7Jn9a2+
            x+u2/Tyu+HHx1/fw6/vx83t5fn4PUNHo+hQ/YSL5CRqY9KNfV/FxTLefO+2Z
            irFQ2svY3rbFcdM1x0IPnAUGcJB5jXpeflLzi3hwYGKpU2+SazFcroLTG1RW
            fcgfM/dBCbzt2AjaeWLok0b70VRogc/Yn9/rgDjBBGg50Ym6lE/Mz505Fsdd
            D7vu0e3akenf9YuYwP+u7d48GF3F88S/E5UywZ2ogqeTcxXSQ502+/b9af36
            fv767oEWk0t1jyGUHP/ef31vv853gj187BMmuYLjV08U3trvvczuu5YHUnbZ
            mGdDZ9eOO6PT/QMQVN2u3Bz77N0Tifw667ZwAuxYBa49iqGTm3/f6Ds7CrP8
            4jvqstF/dlRmowft6MtO4d7RmZ39HHe05thbOy75dXY05o267ChN/hmF2VGp
            0HdUaEeLfOu/x/28HqU5PSs7dxuM0wdz7azt/DN7+3fq+ZvNvbO7/XcRpXOB
            4avftw4tMCB8yObrjC4qqURZIRz28A5VAY8lm5BJ6qn2VyxCg9sJPV3K04C+
            IS5rxYpK2pEiGikatqftOszTJhEh9WoMOkmac4G2hDIm1q1CivbYS+jAoUI+
            GGz2Qvuipi8wx5Dzg3UA/ROqoP0e3b2H7SS02/dLJ3tp2Fq9bX0juOeJVZXE
            OaAPKZhB3ky+EU5i0EkBVYlVmmNnbFV6qaCvMKuJNcqzOU4c3Z/Tfa3u2tTn
            Ko8W7gjyim4ymWjpjOAUuj2LCt+bVJzq4pFRpzpOsWnaHvTTDojQNEwJpB5T
            apBrlLmjLq6E40EfOFNSnIu2XuOW1Ynx6J7AFQO9DhFaD5RPJmswiMLxxzM/
            YtOjQ62ibiXwJOyXzg+9KzK+PvUb+AmIjvuZDFP4bCQQ1nDDZJ91gBUvuank
            3oyuCygt6YqZGm8iWA3rh/HWkYgmOZ0MGdKrD6mfs4sJd9RzN1hrZ+72ybqG
            MHaaOUawhruAidcmZY4DcgjYpClbinWA5dRgCVrl20EAlnqKrfY2YeetzWK1
            UszsMWeXEyOLbkgwKsSha5Lfg8QITT0o/uZT9W1PTsjy5XAVYeJTtHOlQ7gI
            iC5TtcV7x+ejudNIhzRbFEtULvmcu6yNhMDEESpjr6LquhMGeMW29QYppVK4
            ca0pkfpVY8K6kyOYqMJ99A4isimzJ+1KKSJ2gagCrgfriismynC0/EpTBo+0
            F8Q2c6PZxvVOg5lRfKnNjncwe7PN6kUyu8LnyubbjP49MM+fcWmOhZkqMlcG
            AaqUWWXX3TJty7ruRTqns1eMjcprd3B+g+Gdef/uFpGDzL2y0GXelolbVoZu
            lUbNnOZpElawKZ5ppktlTJRRBkI+RBj6IH45wQvTwRX66XMXh+OAaA5xqf/K
            +mGiolMlPdXyckwuQ836UALF1/5r74fG3ZOF4LgfMz03YglXx2qY5UinpTKL
            hjwyOK7Eaj5Dy8Lt38dbhalWSZ0d1pdw0/DM4VLdcNjnJjuHUX2e95Tnnnen
            bj68uAKHVrJJmT5gr4nHMy8Pq/banwMRFoQJh+foZMc4n6gneLeK89NpBfMK
            EhCUIz03s1VWYIiEut11zC3jaHLiWa7Cqn5whvWc/i6d3kEsFlCwPU8Et/p9
            r3j/vNfseCemqPEYhiXDJoFTBmTPSi62AZevMrVyKBDd6MQckonZJuoIX8cz
            EN0US9QNcE87l0t1+gBHpSTrhQhgxOM6eFy4XrkW5M4fh/L0A+XVyHVcVlMo
            NlEdvgX3C80K5rSN3fL7IZs7tWrL8PXnHLD5WQx8pfTIwyI3mu4PdtuZok7W
            eQsXaMxK84kaL06qDQPZLFOC7s0fkQxz+new9O20YBLat7YK1d/KvT3uujmD
            YC3FAWwLlVs5jSxBm0nXLDvzA/vm2LIXBCH21+U4EsQgxw6PSkWG/oZZVJbH
            cYTOgbEYJDg84Tg9GkQyJ81MsNbI9zQSWARZ5U4oJtquaDYmRCjTvcVv7XM9
            fm8VX42WCCmsD8lAPFgzQKmf6SXKN7Q8wa/9lB1ggak/O+Fuf67H13YZ11Gy
            I4OS/8+D42E7BssPYgn1XT3LHS5Du2utPX3kILSXN+X7W95CSWTRn2m3yZVG
            s+n/OxMIJneV1qxmcUdP6EHTij6fk0qjJRBYqJP7QdRni8bF97Ed3IPV1BjE
            GdyhXjWejhSQGIM79GLK5qmXDzaJAHohyZvfS/pvDDprVMoFvdAFbzRvTfEJ
            rkJGBZeGgH/ABJbqBWgqQHHq2h9uej+DFDBuoZLpOB4TybVk41JR8JCZHNQO
            NlUKS57dK0cPHE0FZkfG+YSxGkFY+L44JZZg75tvee66oR7Tm17paVauQaQM
            5oSUCCHtmR7UEic4zWQVVWLEn++pfCz+BqVyunmSsytlvCcZNQvzAn0Ckza6
            Av5Mt0i857NDadiVxh2Uy8J4OKyKOln+fdMLe/J1Ya8Tw23Sbu+LTkdmyWNs
            ZrkogkIqzD4LFD0Y1O5l4ummntoZg/dwTmKaGtWjrZWBLSe5MqlSSs4pjTsu
            DHi7idYiLTb1DU/NSqnIykubcL9u9fOg22VqO43fQZQYSrAeOuDHdqwcHrfE
            3W3VKWhM+41aLs5jbhJ1M7zO+s6qtBR+LkYLHueteBU7jlEC5Ygx1YdZnN2P
            z3Z86r714PPl18v7ev579t/HLuX2UvStmJnLlXZ1j/a7A2gzaZLP05Lqsa9s
            128OpLtLziHh7Lxlvu3D74MRqpa1advLnz9sfFd/3pjtPpeLJ7qNxg73Mamw
            ERzRwSIkIxkvuW/DcT454fW5oKNqArLSWVTvsCeB9twMxiKfSZQy4melpODx
            JRkMFpUYtZ47Bx20vZKtgq6YPSb5GWZbMqHvqbhOpeps1wlS12mHJmKdd89m
            xOLh6pVPeHolb+ssRwu2UrC/5e/vKbakHI679akCA7s+V2ccZ4TtWXobsmGD
            K5SHPS/zT0ElFwPbzeBuFnFxRYi4Ju16rtZIDjEF2gD1jMadjwXnGTwQ+wg/
            wBLakHyMf0wKzMq0868S8e6gMg1a/AfTY2+LHQwOxcstXu5AH8AvEAh85+9L
            dn/lvfpiWgkxObmCqj93s2BIFnciy8nMSZB+/pU12S8VVwpP52GOPitHwPDo
            znOCCOe9nScZPEkDcjKr4hJsEf0r3RwHYvnCEuBvzA4sbk9uf6802nzFfU+V
            q22oFLJqy+g8eH/Pg9IAZIqu8tOGfraV81gWhYFjU3wOKYCscCrMBaaGnVl+
            gOtMKVBSdBnooMOCzxqKvUe2ZMJDW38PYvmItXO/2+H7PWTnP4KL0nuE094j
            XfYe2cN+spPPejO4DeKk/YpZBxf087OfT+LZz8RiTgx4T4bPYDj40fU3i0MI
            lyQ+X/Mpf9iQMkwN3kggBCH4kIkkfyCnOMqkyYskVllnYqho9bJ0Ing+FNlU
            PlTFRADGmzGkH2m3PC7KgZHlCmTelHKkDJvpx6TB+B/rQ91BzpiqCI0h39GU
            UW2fQC0opqJgrSh1pvm6g2UTmpNifZ6F5iAzP6A/ECijwWTF4q5MaIHMZB4d
            wS6YvlHPi94DLH6JMaxtErucBkluTfsMyfwQQcavMfwa5hxxhGz+u/AWLo5e
            sbPFTf4pdtbaYsHEwLNjnu5QyMWO0477ebaY2GJvx8eXc4CoaizLTiGoHG3u
            7OPL7OVMNyiplV4zd+gPsa/IlA6T4YGFnoSAo2KEYSx0bxbWfRkllvycvSgh
            gHbypK6Qmc9n8htPAqJN4QmYdLkOoZcoS6MoSU8aLX0OrAZSKk10Sk1ex5e9
            rMwo2dyf1TRjhTxPlkALL0UJbd+acwtaPcwVHpkcpDshbf8B49en5z4RQTEL
            PHMwm+JNw5FoB1/eAQrfNq4fJoOQrieRYkcx2FUtM2XPYRD7vej8DJyV+lTF
            gz1P5mR2E2t/YVOaeZ6lN7VPmkNJnWF9kBiokPmqJMtk/Kb79mBZYD7aUKyS
            ukHQyieEBT0JD5c1O3hwSz+ZFaAlAlUSL/aKUusZv2OYpmp/rZa6z4JkHZc+
            xwlBYSl14WY0j+IQLzS5r3Q7b1//Lj+vLxP56xo1P/d97FJhO+fq//U5pdl9
            b5ofNUzhui4LfitIzWAs9F4a5fRMGUCAAsgXjwPVEtCEJQMz0iPVpTETr54Y
            XU3H5M8xU88Cyqamj2dlhvuUvVVZxDWZt0M3PQTtEyReA/2RcZd/BC9/vrJh
            65BNW8WoNyQIrDHNJAGyKMb2nqdYunvOzdMNMhNbJCVt3cHanqxW0L5RBfjI
            /aq4U5p3FSXAFguw9aVGMc4yMobxvoYYw2mF3cdlcRYleT6PJHxl7HI0R8rF
            0UsomiBheiQ9ZYHZymfvD+1Rz+DVWgIVYj43yR9vMu1JPJa/H9vxjCd/m4LM
            WXpO/saVgHuAgzzKBcxXWjszOSiSz+9kYjcTbHXNfIlqeHy8L2Urx8Vcxb7X
            Om2OyMLCc+87L9q6QghQx57tbcebh2BhlkAIg9OPTxcEG8ae012wPAudH/7b
            9fVbhXIIxbvcKpTJbM/ypL9cg+n3GNv3O9YG2fOVS0umvtyKm/FiasYQTEoW
            9r8xN3pXdQ4Gg5gURI82KeMR0fVJRiUc60pEseYLKWWtMQv42HGjYNb64dKU
            DiupdPSQw/h66FXIduzGDnNL/JXmm+wf96orr2/AoGQG2vDk10PpFEORVKox
            3RJkadGv2E6oZIb8lfquwH8Th+Iu1MmSm6Dp7FAJnmnsGcRK/LkI97MTd4LX
            CrhrYJV6dfVUOgz/M5tSztJ/AohDf2RuyPHuC0wMGlRjnuRSkskpyfkej+lE
            d2d6d9A+gr7SK0u4+o91fP08h0q2p3L/OG9MSLjx06p+72uS7LJK+LGdfrS2
            k/HNwjgUiyk5/kxLBxFcGAyaNjLkVO5G179cHy0GFsEsOkuvn8/KZyzCrL4P
            XpMaPZOIwWrHYdI94XP4vs5VFCFQhTKJMnu219hwsd40oHpSqMCLWpYOJX3G
            b7B1zcJqWvJ2VbWcCgYN61tlLoh74WV7fQ0HPnTGwHJ/3bgQe38BO1uCZ7ni
            r98S0ZWWQM/+/K3Zbzvp8s+XgjZg/rSdXCSFXA7DZj624Dqq3AU0yPmFXrVT
            xXhaVoGzDjWEoeXGLMrMcYZZuCH2VLeF11I8wyhaYVsqeZ6kaYmDWn8EFWM4
            tdFx1P/6u5c3TY8tBCqSnit/4a29GgQPZtQpC2ipdM9WBiNz1MU89nANlsjZ
            ILUVDT6HBb2BkF39hTUZJGml20YtHbkyiUD6pC+o9m5oIgI9Zty19RfyowuW
            WJjvnsNrNl9mKiszU1enfGYZhKRD2PsOuh65xgg1ygBwj+vBu34aHRDUV3Aa
            SgaEqismWpS2SvRcE9NqfaSVxBV5xexpDpFDRcxf6K+D+/j5SFR7QcTkpGI2
            rK6iz9R8dHG5NqkUIMa66/amiP4qHe182Aih9lyJ1zwdDvN7qEF8481WpDHM
            QbmNVNjzi1GXSDV+SRqApnMXImRQMdIUQ4TBOAZr5PBcSnozVV+t2ooV+zBI
            pf0sFYjRsyEHpVgX0gu7KGBLPZgQf6TozUwJUVwx5yw7YLb8BcYDQ2pS9kwY
            TKQyrn467qh8EQib+b3ELWd+7lgG1fF8ZY57FWD3TlMGUXZCOjJRzPqryKsJ
            y3dC4SJipWHhMWhNnzcJBaL6hzTzazPFlV03WFNsWe+dYpppVOf5Vkhx3ZwM
            7zSzebYnH2K3NeGOfcJLu1ParpgephUaRLUVOSnY64UyqRtMJh6vGJiOiXkv
            i8lT2Bmc8Wze8MDZCBMPtoQ2HYlPSyx89uigGJMnfDjW3EX/kRZ6kJWPk7xt
            g5jFIuvlWkwWuJUDiemRjj5OlKagPIy4ncU6RC4jQxen1yUVPD4ZxaSugYUx
            7XgCK/N4pQAo9RHPJTKE0UWHfrLrxMjrWNYctwHfn2AxyntQUcN+u3bSCvTr
            n7x+9uszT4SJReLUmJB/eZ/TReJdhQtykVNwLPT+rC/x9AW5yegfpOlCz4gy
            2u3+e4ytwlkVZk0TXdQ3pHNsJEYLoYXs2cXOOJYekI983mTzJjUAQgYkMJks
            35RvQv7BRi/UZokHheUWqjTbdTOpNm8YR9a9q4Lo+Y7T0Q5dVsrGegbDrs/M
            Yk/5dsdssEHAfNMVInyGWxj1VRVAt6oJsPJhixGqIoVIS1zbTr5bWH4QDK6e
            PBysjY0YflVm/ypG4dLHW3GwTuKYTOP/6gU4PX/Ewicfqcb8kypEHOKzJqsO
            t3KHvdIu79AU32CuYTncXoR7u0I5udLqyue5XAB5br9KzB0jv/wOhlqCzci7
            aNV1hdNrG4anr3/jzLNaZPOd7tTNiO7Gt3LzROI8JBVwsjLJKIveeFClVpYh
            /iW18fxeXa6nSGFlZj0okX0CLGjI+pqeCWv58UhAeNzkIhviF/odrHeVWzNc
            wJT3tFLYxYQDF+Xvci+BgqCCLSpAkWgcD7Oh28Hy7+gVN0Syph3EDgf5tiyf
            mmhx1uGNCAqeKd20/sX3ioAPs+HsymMKSd7uk4XqEIZB59FJyILHxODhbcK1
            FzCroMraYiYFj2WK7r84tha1fBXyjOkwS4hlRnZYWux1UorXUdfLpORh1ZpG
            CbVvXJiwpXY2qa16DZDN1T1WrpHPgiR9WDO0WzLwAvQ96DcjFegCJgWu4bQp
            D6IsrA8typ1QYVtVWGOgq0K/5rCohdFEOwr/giHZ4O+aO5MedLVOr36bFmss
            4BNUVxOUmXJCKzSLsqi4mj0rTowqjAZq4GkZkgwhE5T4d5oRpe2NrQILWchN
            s9i1dxpodic504aEONXlKmTCnp65F1YF3HSH2TWPX9cEdy5JZY2p2DtasXM0
            N8J+70xk6AnOi9PKl/Mcwm9JgTyuwYyd4u5IuUvxWelDwpiLysTtrDL0fSGZ
            eW8VHu1NNSLJMS4nwy+pWKyp+KAwwUUuS2UBK3Ghm64W+3MJ1JPzdtBNU4VT
            t6wJA60JrIubkOMyQM59oPwHVMuGi0Gv5ZH/FlorOTeVK1XFUWllpyR3otNl
            DLldduOP4l6s7WaI62dC9lZCd+Hu2T0m6WS+K9WeXdi7bHuxoQWLep5tSS2r
            gNpbMo7MGfcMc2qC+tz9s2fxh/Xj87kz0FlN9uPz/QKu63Penz2tIzw/P8fj
            k0Fv+9XsIElM6lp9h2Ci3adbpfRX5v1+l+3LqC8MjieCbzgdSGZtPVLQWhFM
            TvUIwmgGcF/8d1jGzZBvPKJQqnWF8uOrI8+cHkiG8Mvf1dg39HGLMvv1Dzt+
            Lju+sJ+kYHvs9/IYEWR/fhCdwQ8tq/xjO2Z9t2CTAOzeMIV63LD1A63JGCQp
            yMypv4aj0cTgMk2EPKnV4RmlsaqakcnZ5cmiSnNgYdmM4tA0p/mUKUZnNo/+
            Wz542b0JZF+WJhwGR1PY51ICMu5ZBD6RwFKwBMEqlSNlxb3DvKTjB9BFikIv
            vusHDJfL9FvTb1/vvZT7i3dmsZZB/Nh9DV4nPdZ6bnQrNK5nUh6vSrS6/V6x
            GMckgCnbvEU7Ro4PP0bNoC2bnknqk6yMoPdk0RinfjMo5lvsH9yW2AYLXFz3
            EqQPU0eotux3h8422leVOiyly0H62DtrWD/wrHSgdF2FpZg53gZLXRSdb2Ip
            vBGhda5oxvlg6xk+QCQSUGPnGZroQn2izKEpRUgcsqdq8MqnovX0dwo5Fw/D
            9MzD2zZI6lpOkuMyvFLXggIPIR6vfT2iNRLVOFogVYFcDBHli9CSmVTVxzOI
            DgPbjxYl/SNEwG1Y7U8RYiDDNe3Y/UOIjkztvw+6ZHDcBKcb1rQveqA7r2dt
            RTxv1cqKjc36hQlQ6LRPHpd8LFm9PVJXFHvEulUc82G8kpahBdDfKuyaNwaV
            +6pOW+n3Tk1JBsVXPKZIGDRj38a2YWjc3uvlOb4UkzNZMEpaIisGQ7Ryi8dc
            SufhQenehhdfFVpVpmgTTJZWwTb+o3f4O/7+8rA2GB1PDMj+Vy+vlolYPoS/
            u+6bYOAnhaT7z56HTsVIoC4rOXBzVVACV7wb4UlEPKEZTvqw6vC2PUvLksdG
            9ZdL0l895RSEEm1Qso0jV2dX0lhQm8e1swF4e0uotnEQlsNQGuyiiksgMLp1
            DrtWwygUZUs6VCFFYXcXfQ3h6kyRdf25VMsCvI+vjmzLVik9uByrQQeR6ccx
            qNiMrhkukKjvfkxob2U8q2vsnbujxki5wTgLGJro8VAWCRPgTlPBIsh5q3SZ
            ae2qShI4qnWwYcJ7M81oeApJ86zBFjxzwLylhJ9m4Iq1L4MoZDORSzSrb5W7
            DduuGgClY9KVLpWo04dix0w/hgkf1Diqtbbluaf2V9uPa5/67LA50nhUa9os
            cZ6skauWgeVmvxVvl0F/WQ8QHQZTSO7GuEwXziBRlLEtlx3LRiY4Nu9zMwvI
            guTyJC4VszADpyWoJRePLSXavuX76FezskxO3/5M5xMjrO8zVKK4kaVbtcNP
            Yk7334mZRMuOUCLazsIDW6x9eOIfFw7rI2HtqwODQSKxeHalL4KELTIT59NM
            lCJ/teppvlfJgPF0CAH3D6oVZoLfvF5s9GQcondL4aC+QKej7z800QzTxDb5
            O/NjCkRBIRBl6Ef69hUbdhQVupdd/Y1DsU/Tfi5SvZ4LxFtojY4CdUfdg+bN
            LbiIdX1muaR5zPv0IqegVBYVczuwyMy+7b4lsDAGjzhMn8a79GcYLDdUNAco
            qUqSt+fmwqUuR6hz4oBXOq6k5btpZ4onxzg0w7j8Fg9bYaPtbNq8K4ptOcKO
            HbcutQ955q/MxFpdcXUFtnhF4i8F19LPSgkGKe35MVjWySBW/CEeu+kPavWJ
            soKgf56oPP6cKOIa/W2ivlks5TmLYOQL8YH/sVJ+3W+z7Hi91Xc/WTbLajbb
            hd5grg5zj9ynAXd8K6arO6F1g+yx6+GZZ2Ho4XO95NcbrpTieqxfEqHMnRf0
            ua76ihN9swhffLr7hqnUwm8kujfvAkoKsH91HGGmfz/f93Xu/nWd/s/XqcOu
            88YhMq9jJGC9xB/Laqe79vABKMkUumX+o0xkTaK/H2FORkfzSm/qJHECL8+S
            S1bVT5xyOtAmo7fESEx+XQJR3rBuQQhgMuVM7nti7stmVUN5SaZ4TkLPKGbD
            Lq14IcrIUQYz9qXEDYy7ezDJxDo7DzjUgib69KgpQbXcPwXLYM4NmcM42wBn
            IhCHJ9SRieN7+x3Y0OAXG3x2F90Eksafgz+sCcNbASCEPBAwxMj8trRYgkM0
            uEN2kKHE0UenzktxUuzQHp0WLDJEGjz/bTl4lv3JnNjtxtrIM4c3Jx6ndVo9
            XQFXwwCWxZ/LupfCYmPwL71Ze3hYaJXrJNti0ZjQz69SvsSEYgWPwEZAzPSq
            QhbimvP+2Nj2WbrCG6J3HEO21x1zGRKLSima2KWCl3NQREtzlwNyurL105Qz
            VzS9OsRos1I7I7paTOt+YQlv+fAvC9Ban3Kt6F7opGvlklJ3F8djUufF9nRO
            kilgWaG+cJjjc5/L0CUJxb+HbZ7hiGFVDDHwWkug8PadsjywdeX8ytKclOlu
            tjGWqqYtjdUEXrGQD48/wOi8Pvcnd1/mAD4EDIRzmccNQpEPpBnmSS/5hV8a
            hMghjiYWNmMLt+W9eTsIG0RNSPCV0oiMdmj/tq/vt9mMsR+xVtXAULFprpgZ
            qqp+28fDyBpJZRvyGheaK6+ZZl3nlgN2XbTLPfOpsqgb38OtjgTmbdYgnGWw
            uzTx7u8F4/2SNl1Jx4SXSQTL0XGapJZAL8O2Q/Y8o8VJ6QB1mFc7b1+AcRNL
            fMdiUdBNrlZ3RBHY67jEaY7f0Hsvt3AxZBgY+diEQn0LE/lOHCYxq5cpUx6s
            LCjQZKb/s3hdVPCaKDbVAWd+wmDRgCmWZXsRE12BV/x9jTz/vEaGeW6A64/1
            KioKe5pvlhNIBWYxEXCZIyIbattLqXwBytKHQF2KRDIbhSNOOf2uDEaJgkAl
            qWlnW6Fsx0g2tAlDfcTUQpSNbqn9W9o6J49iIvRyejun26/J1feaSLwHjxWV
            E6Q8W2up7fCJyjC3lA4mZK8a+jv46XJU2KiGunPY6iUeVT0sE4LPyHXn51RB
            yE5L9Pnh4yg/fRwi6KoOjpubaFzyYeYYuYnOLZYAIaxmTgPnMauB9fg+L/TP
            eS8XYBfq634Vw3Jv/4F9fxVDVwCfZE1/a/94CNMmAaH+j6+LOIDYdov+limY
            lKIca6972enS22mxnRnbebG12Y0t9eaksCzGWslrcH6y1Z/UPJ4/qRmDd8et
            A9CMDQbX8E4yOc2Ge2AQwolqc7VZLEK7udke3BF/rtzNRtvhONJ/gekjRgK5
            Qz9+Bn22EtvHT9bPGF/v3uURK1L6z2VRWeUsNCmja5bqVojVO7uvpWeDySiM
            n9EXkz2hfnkyPJ+rm0jTM/+MMLtXFDqMkYCyuaxkA4y/xFUttECsZa7eU9AC
            l8XSzVHEsshklX7J5fZ6z8ODCk8DL1dvezn21vh+uZ6f1b6VLNYDby8cHkzH
            ELaANIv7P6e1IIgeu+MLqppxDyqRUR/XIYKlJO1rK8g4xHLL8SWTEwRKuTYb
            dS9h+PISkhskhfj+YPNCjixX2Oy+Hz+5n9zrXsXJKJKyc5xDlsO43T5WYvGL
            I0nRzM+rMLLHyMaL7pbep3KSNZ7r5YxBaGp395xScO4J45beSlr/UfcVoJmb
            6iBsgtElK04Fq+VTaBK6cq+e6jgZng8QvgZ0TNn6ef1ijcJ8OB0PcloNzmbP
            7G+2P2NM5f5t1qh2vNryNlN8UA0D47MSX6XHZSdY5TU+Sh2eUvJ1scuvR6wz
            06Re5SiZcrQ5wXKb/2Df2241PMIKiT8178KVSWb2dS+iK/Be4fzcqztXmqme
            CinOL3nfrswUqWzYlEXoDI4kq57uLi6+I+4gxLAj74M1v4dhbMgBqGTjtVH6
            rkds2Tm4s/n0IiFZjsXlYiDvfhUXj2+Ww1SWNY97q1+uZ3+3Ygz7R5AkNbkg
            Up5qIT3j2OXuzabQewI3VTI5JrELFGExMh4nCzfx3jVC3dIZUoRWLgqGTqGS
            VmJLx7zd0oNynMDcgo231IDwh76gHuVfegHs/aBMoB/Xq9DvBmX39/WwLxBX
            upALCpSHq8uU4nMxl/CjFKdgKZjq9Z6s1/s3EW/Tetm70TspYlaxRCYqrJnV
            0c3q+GVWs1Duk8Uwzh0L18JaEkX39msoWWfIr/FswgjmtMpbuW4wrZ0LEoDr
            Vo5jvIjyGrQ43Si8bjlrPSvzVFamVufOztlEYcVrVqdjxRSqvfrkrDBryeuK
            MPGBUBRk45UcoQiCqMzmbbClIygWAFmDESnEftdWvxM7me7ZMkLvhq0xPNRb
            lQAZr0iscCUP0t53LOPHoZmCSjJhgR5KPLBGH/48CRzEKht/PsPI9gzETh/F
            a6hoIwhNsFktFYmra+I/KEI0T4SakLUOicNSTtW3MhIPgwmqOjO2WWV4WW2J
            6jKECFQPS5ZmeoT285qJUcCC8zc4KxH4DamdzfA8UYm5x/lFi0jdkXuwvbTf
            uW29SMR2n+4KKStR+7GcC9x3EVQZZDeTFirB9tUnoDbiv86jPmqSbCfmtoho
            qcADkbcM55iYk0NFZCzzDBa8YF4e8fiUx7Fa8xLKxPRDhxmqtq95m+tWdptr
            zK9/xv9gSNfA57iJDcJMGdxhqRVA4ypL/ZA8p8uWMq9xWx3iPhhqguz9SNBV
            WDp5RItLJIOTCNZD6nA4SO2PdCar9YLwtu7qxGutCLJ6uNf09nVXs5O+oZ5Y
            AxxsEqxQSXCMXLl0Yjf1v7hVmFTZgqDcO/v90HLcNc/vsUmLji+jgqNSt/W0
            S4G/QuTMU5zmt9HJBynZF8J9hRLFibmgzuR+AS1t1uIK2JOs4vqsYJg2S/m3
            FIHRa4wvm3gCquVs/Z8ET0/UgKJEc2GXnMHdtSzhvBUlu4U1shTp+9knyuET
            5VaGAbhiHUJyH6pzUMwB6/NQjGEZ4cT5ATTdWWjBM8totw7XkLcWLXPyK4Kp
            PHYQ1CJY65djLBGV6eiTkllcIl2cbuNGIGcSFDM5qDuxXYJyLV9AGMZS03Fa
            V+Z+e+0bWxKTEKZjhkhhBF85Dau61+T3O43j3bvGmdDLX8fij3rD6wmsH6Bz
            BYx3UsuuqNwmIYumLLPZ0w5YEHNHixTWw9pHEqPOf4wGregxg2WJ+DtevWMJ
            w3+fbn8Gx9oKv7C8dgBD6eXC8PJ4uB/3PFZvy4R9HZftOXY56HBU8+IvWzaU
            oyeVjuXPHZXY0ZbXTW9wtm5oSGk5d1lEU7IuKV5nLFds241OThDAyS5zZPtd
            Gvhice+uT3ktjKlQuZAFy20W0/M4IgORSxkP7TL1njer+DRildcxyN5/Tbl/
            IlR3n6t7zMmFJOsKi84KnQ7bWhidDib+dhMU9M5PGgZaQ/HFXAWi0USWyEV5
            abPHCCqLUg8sG4Pnp4v0SBsQ2zTljSJkUMCRrIgvdwcGAFrymxLxWmW5L3YJ
            2Oc+9mLmjv+uBJJqtcnELld7aHb5/Xpgg7hX8IKdg2Wh/OGFc8wuQihC/q12
            u/xjX6Mpb9tRv0w2fmvDxRjdUo9W5PObIzl0lzhZLlAqq3NHcwgx6CsvYbbK
            4Ie9MNSPejkXnJYQ3MJ2lz/sfjO/OeIU+oKazl5/+BG8N0UNmJWNBZ4EwSH/
            RWGU8jH4ZrL2+tU8V0gR/YMmvJM75Y4xoHRdw+b7MZjGqpe1yefgB/qRt4J1
            SJ4Q1zFtyGACpkgT7dt0fOjH+gFGHjZiEPP6WSc6FHyh/K2k5KSInhgdtFLi
            +X6xe6wAdbqj7zEIxmVNbtM4laHKdnJY97cIFMaaQH51LLXTxXxiFXyqpjNC
            JoclwLgEZtI+2Gc/gizFNOo9AcQBmp7NOpP60UuXWMRmY8KmYY6ygH+YGGwv
            Gu+Oh6hvW7exi9fPsRvsk+lu9KqcAbF472v12Ud4jN+hdD6b4i7RkAckYuSB
            TZYtxLwtjBF5XAAPgzIHgwdWWRPSEcu2CIfFoP5G7a6Jjb8MyERNOUKnL60L
            pFvYGOHJ8hf09ZV47S9Oe7uqfd3N5gRKVdr9GOat/t1/OlaCKNwageCeiUCo
            js8ttmpRsM40ZqVkzdrFfn/pBGSfdPhSJk63h3c8fXsktwfzvG3/Trjc4m4X
            0W7Ixy1u4jIxtcUQJ8ZSriqRADSRbI62ORukQmf+IQzHMa8PN2JN/Df3G9fz
            crpJzrAIba1kmO9gmkFyEATQV/3m0DwvNfqwPuM6qUdthAfiqTL3Q8hAl/I1
            CS776TjT37A/HtSq7GpW4y9W88hcAQNle2zJM7HUwPw9k3MG/ouJ8MEYZWe3
            uPzJRpH7YZmFFMtP+ZPS9wvJL56Ot/dhV3FCJELD+Wrb0LzBMKiLSTyVssVL
            FiSjKrkliqQFd8ll/c5YhyAnJPuL3Kk3Kbg5vngwrZpZ9Hye4mLpqQRLIIQG
            Jg4cRM4otRX8+X7L0Q/TL5AcJt42Bnmu6qjEnSZo75af3plfwH4RzKdfRCbK
            Ggtqd71xFE4hNo3K8kK+e4mGKsxURpPnB8dxcFw1Yt04SWK8ARzbYDsEaaXg
            m0z+W8fMCVXROcttRmEtavzlbKacn9UI3vT6pjl4xWXt7wEsnha2zwWLuR1F
            nkDw3QM9i5oEq+4Lcei9NdCOhu2JDpYnSGIxjNDDOswkD/5szAYSKouw8pNv
            VvEqTkD2n9Qq8NxV21/EwnDxzbi8O23UTGQrfXUnXhiaoQo3dkBL+YrdWx+f
            1iJYIvK0rN23SJIu7NtN0c0pKhtk/CLmEq2KisQcNPlBC+Hcmdb9FcPsmvsj
            T5LZwdFRh+PHPDWU3xckiKErT4mX+BEhHCQQAnpQVBAZ8bjNQVyrghCsjLho
            O8K+hwRkSilk/M5sIXJeiHWyLfFfJimAsuigkYcv8+Jui1JhYcX2ZWIixJ+/
            KQ21mj8BhJaoSG0xQqgVplvt75Habvx8n/mng8aSJZzt/xIH24oI3jF2Wztb
            POz8/Te65tZPcZPqBYxzsbCtp23d7KzfLY42UvBGLibrZaCr78p3xg1Y0kG2
            Z3hp/XfzVOVDgAjHMD0Gq3eGE9+7f69GlKM5R24fn8pOpBU0V7be22zhdHwn
            r4CYpiWO1eaNv/5Q2pjXKh87Facp5Siw7UJnoccsWa16a6S+r4TMyaaVnr3i
            mjUzapU40n3lQA0f3XtdyITKBth+Vlqy8cX/lKkWHX7q9oCQg3T4i6lNYZu7
            pc9nNYrItsIEToBjzL+Qk+kVJMYGckmmKGVBCEhhcmgBpsYQDOSgR+pRF9rT
            dSQatt1bAi8VqYbqutKk1zR5Otkwoq+U8ZnmY3rZdaEbWCB+tu9brrtjSig6
            1TGJvvdJ6aPyB01FEJeWMv76NKoXxNEpp14hTKGPKk2juREJiEenVWcFSNjq
            YD/VoTkm82BFuWctWzgaIDiVNhXK0ZZ2COtUNtYpLaPT0q3ozoUUjYKTt0RS
            wsmkMvwhoB5CNDACeHy35yuNrCMTmOFVpAjqTuCP1j9mXeuGpUqywW+RmcUl
            ujeP4iTyt7Iknsw7pwwZBpdxPD2dN2HeQ9H71MOuiSVnplcgKMKi9/GF0QbT
            w+co02oIITnbPhqddEB7WXp8WTezc0Ehz+M+AetWbyuUHsfkHsf+DEbTDwOb
            OkYlNkoGq3aQ+YXP6+P+9faCx44oEpKL+AepO4iVFhsBqzjezDCoRHPDeDMX
            gT0v69pNRIM3Eb1dHRyE3/7uKEpPVLfiflZGYkXVS4Eauk+TAblhX8kynfrY
            D4p1OwtTlk+tpmOjzW+nBXV8sjsOwMW8YxZPXvcL/7zZ9Ganm42/bNsTWTfb
            3Wx8s/+txe98h+0Jez1jjgN6Lvv+Jswy/H0tJm1pv/Vb4H3f8+cGkiPAw3Dn
            1RYHy69fj+2pM2tjiyPzxH2cZNtp9vjzZfaPshQiPccWO3e0wNzTg2IyG4pn
            O9Xk1l5f+sCppBUtAjnEggCEYx9ezS3Ql6pcBYs8dsMwrZMAxaUKaobpzO63
            xuK40/HTb50OC1pEP36dz9i+66Q2gB/fNY/dmueOojWr2VOksEDuN++M8/bp
            INQ2VjYrRAvbIHgnHAabBSn9VY6em1ktZ5KZZDCU7EKX3g4+FeZmZp/menli
            6zScdCWRTqtwotgTex7Pzc/cbxFSy5Uoj8RhN4sFpyZ2fBsnrs974LVYYRjI
            molIzCgLlo3FXJjiFSnR8U4xGB5E9G61UJAv+UYsVDQM9gzXJPNm5w4WT0M+
            UCQzZI2VnPa5g70m/fNRvfaDmdUQd1Rm72DoyjswFlkJyqAj5qPEDyRRtjqC
            es58/BhcdYwRooz7ANpfnCkOF2RZNLAz1crQ9kGZDLkxHNvyVmwUMcyPXpJN
            S4oNIB2i47vpZr3kdJL2HjY202kZP7Qg0uWKztEUIr7ZYsKTUXjuYg5U5WJU
            jF3VuhRBmLdkrZM+tQDUqD0I9Hi84A1uJZej0r5/4IN+5K60c7ZN9aRZhrn5
            TIEdF0yvCPF8e2xgff1kw/8F54UhXW+2R7Q+z7tRW61lc17vKUbOq4JbfyfC
            fxKql1+bMoleGBxrSNAsgLT4zvmymsLKalM2beIPy/zZAjllS9xv4Pm+FY0P
            RqhaELqPf7O5zaZ++/xfYAhngzvp4XB2uMXB9PZKr3bt4mGXOv8T+37Z6man
            rr3/ZqPDxcRm58SAIA+jmUnZT+0geukV/fSF2ouCP8pZPL4J/83JVxWQateh
            md8ysTNZdHRkk+6tNoh/c70N0A+6zg5PladPigky2bKDHTdeDjI6pQ2n4r7e
            mgWZqoc569hSJHmlkusKggwUpxvMCaGruYObCvQei8VK2LZFcI3JZy6sDlbw
            Qi8eSuAFQBSnEjHIdmiawUZfjZ0myPap02Y8GFSbJLzDU6nY/sD03VcOcLHB
            1WohLPN1H+/nbFxHusMyzC6RTzYXtZqjMHXslkv58G5Aowr2xVLJBN1Fqg72
            e7bKqGAIIV9mmMO/EIaGKqJyN0Dw3EYaPvdNQ/iP4x8//skGAvL48W9ByqEC
            EgVoThbte7ejnQ+g7kZ4Rowsw91/ZFupviKr8OZWtLU7vHU3zvYscx0rTR1z
            AhkMU/5u4spe58DFeHpp+S5i2TmaxUvXYeJeVlG0HsL+fcJE97DAyDeEKitW
            SAiGIEffspRA33cQ3mZ4693Dc9Lpe2TARMi9ZJv09DnFcn+P7CjrVTeHGsHc
            X46b3twBIk0aYwXrTLoIs2Ug768JhZTXYezeWLAHq3Cuw5YtJmbuFHNl457Z
            YByTJ6aengyKgU3WDumSxOO5mPRZvpxC9D/clqmj+jxxPhNZ47JnecJzjTOb
            02lcGhe1LWY5x/ZQ6oncl8FgUtEKtPL74pjw9v11ZJ1s/cEM6NOJ0J1SJKS5
            PNgTpPyBY7+1k0kii8ec1J5g2eE920WPoX0O44FkVCbWye/DXUPS6PDjtbN2
            5Ygpz03clKd/+l7tfsv7OF7kqs9nUqPlC2rgunLa6Ae43zKmoJrR6tc/21dc
            oA2bSOY6aVVggMcynYBFTeu7kXUXnDw5S3wM+xY62mdg2Wc6RQHxV7q8BLtm
            RKCBvvdEFUuH384m5tcT6IvXou5RVPVfTs8sOvhMlPbkgLaah3qfCafEr3Ne
            asq9CDTFvtbQCawBHhU/Ljyyd47jWbXKVW18W7GJFkq3Z9jcBdcTUnNJn7Gi
            ckfoN0Os9TDyZS7sPQbSLb7eWYm4jNAmi1Fwjo6nWL4AC5OP4zN5x/WIbYX2
            k9py+pPaQv1QG2vb9ueen/Ob2pgx/E1gw0rPbjpW/g2hgYMurcT83ZjNnUUW
            RrUizktgx2uDZ6rp2m0r9jhdyWxGUMrRp5/jk08QZG8viZ3x2t/LG6J71tBu
            9fESUrqkeB7duYsFcaScRe/WK+9ndEWMK/R0f4DvI05RrCpYscBctme+bi99
            f349c/88MwNl0VLlrOmuX5PgZBRzjzo7peTpdvrtHAZK+pgu0Aws2k+mIggz
            ZDpYoRq+OIihfsuPV9EQIfBXtevveoJtz7+gCV6o2h1eZdvznCjGIDrRVpPK
            u4I3Ah+B3Jqiqbv87GqrHDe7D7uzvBMwuw3vbvGaIEMUEvgpVtv1TXCxfwhO
            75u9DnEnZ3qgKXyFa9PMa3e1171x/Wmob4lR0urJsbxODe3Wak6S888+7mKa
            erfahx6FHj622GGe5eaayg+wNmDHauAoBeZxsGbo9M6y8usFqORCA8sPN06i
            2ImWmMr512/VClYs74NGa2JcgUbhSC16QVAS2xKVYZky+v1wxd/MaNHDh1R4
            09PSn4lt19UFW117CeKowdTkDLAipkszfbpZ/T3hOg9lUOHphIjEXYXnjI00
            KZY5XtRJXe9eDpvbvMQsWZsqadIOozs8nz4bJFx4+5MEk+lMBz9gkpIzvBXH
            6TC4wG70Sg1/Wy35MOQP1XEohGzb5ozzxZ5/oUIPBTJZFU9xF3JxLVnlQHqw
            xoBycn7PasM6LBctOIYyKS4tr+VnC5HrKwc+fnLgx19y4NOw3Hdl6wQW61A7
            tWzgi8EXuheNdVZmkTLTts7n0ucsrL/Jz3SyQJHofDbauLSZSZX8Tu9gteCN
            fb/9e/fvl3/PDM9aUUkuhklAyNbItkrsv8qGN1HVx0mr7r5SvK93ohKVnUoZ
            p+4VzNyNd2+D41YOhoYp+7pcUUQl3+dBPt4/zoGmQWRHSHP5H5jzXzAnXCEn
            /gtGq8wesDD6VOu5OyZAKQQvHxHjzn0V26Rtw1MXqk8FRE3sebsxtdqG+U3S
            FrzNYbveBztOezAt+/GdjoUJuuM62SHWOumBrSZDi0oC4yA8Mas42F74MYwZ
            gvNbmYVBmdr2UiGgKHeYm9UKwDKLhSKsjXN9gGjkPSEWMTMMmsOVdhNuf/Om
            HNFhxX6F5LaRXpOQqDE7GwDRO4uFEjbDZJAUrOYq6zTmHAt4g+OiExUoEoQm
            fdUGDaJdkYkfa7e5ualNOLM8DaxFGKlK5WSdDY2nDmY3fp5HdXVXF7BakOoc
            j40m0NKxMx6yub1ozbR/gntwB7Ww0pnuPOT2MLVEWFLBgEOko6kS4Qu8zKXg
            p+5UkkzoypnCUq1kIAVZfMEKteEFR2CA9CllZ5LqSr0xxONXKcVtjO5b0uUv
            1Wpfi+6N4cYdr7HzUHelQMvG6Nj0URiIZHIhSSWANFOOg2IdMPWtrC8+E9JQ
            uQ/j8ua66gDleEcq4oVG4BiG7ECVmNM57Fqj5cXoJ1P5lIvS3v3PyQa42N9s
            WybYEwMfK6iTdGR+Ol7mSVMttW9iCZ6HQ+6AsQzL+aRm2M7zYQ6gJf9m65pF
            yCp2Fpb5LjhfiX51KFeb0EN+nKfPfPX56oKcDJdAcrd3igtusYTnhhraLgth
            VhWKX/pE8fw1sVe9RYgfebgJmMyg6FuVr3bBXx2136aKc+873qaM2/m6vK1L
            TETXtfmq3pCyPJ6u4GpF2bk4+/dduiFiFqop6LhVqQesGm/RYXeCvu/PYZcN
            skHhbsntTkNvY+pp+sEkBKvH/qy3tMGpy9PfqiaWVo6aBLJ5UJzMMPNUBIob
            7iOWQbLcB0Zite8mZkK3AumzvwORh+eusEvh6e3Bo9Lp1b93JQfrXHTCfdqY
            m88pmoMt0fcpiMLEdqnDyyoIuB2t7vOTHef3TdYqQvkl69N3J+S30/JnAr11
            rCny+SfK8GGJPRBr+as9wz+grZRobvx560LzzWgeoCwmt0Lq8bfrVleARNQP
            4rMwmETIYuv01OuiiVBcxBLN/xYiemWDEIIR3LQEKC6LVhuWbrZsCxjZVD5h
            4TCXk30AVQBLvVLKr2IRg6b2csBYzqHSBBId9OQYGDD1eDuG1AOuxGsy2QWr
            rNTKDCrJg2V1EslWvVYsmPhNoiIyevJzy3yEtj5IICqwbfrNdEZY6AWLPLYB
            U3HYfnYchJwhEvBGxnEL83Es2+DjyApwqS0YZIKX19MAVejFVbkc9GF2rnTO
            kVQfEox4QIZr7j69BAlzuKPgal7x7cBNjARmfwyx/ZgXX2KqPv2OLjAxKBcr
            q29OGF8+SQheO1DHB/8eaMIxrxJk/kN+sFS0REZGo7AjxobLf3K+rVHKuKw9
            lyGsCz6XbSKCAXqET3ut0yu5WZ71Ee7Bsq/Vo+7w53vcR/FYWdzvTG42Q5kh
            DzYEPpeceQ9T5rGP2Q7Epx/kTNyyvRi3aoH6lQh83gReYI2yvztYLsTVUFoD
            W6gx9nbqcwijsefvSMt8LRyLUVw/B4eAuGIJWzcnnXTOwMJdak6zq4m7nWOK
            CoknpN/Pcnw9i6UIDjb8VjQlGRAY548iljnuYJ9tWsFPO/tkAPbZsqbzxVR4
            ktQPLm35Ax0yfECxfnWtBhvi4N9sUDzU8uJyJ1tw4JCuLOZhk8Zjj+sn+/5h
            CLGsjaDnSV0t1RgRz3HhZdkiiTjExzQcx9MTjiuOjcqAZh+2zpYa7RzDvLDC
            7mUpIaFO2C2NPaVCV4VUuC56QslmyED7TrJlwPw0z6f6T8rlzshyfM18Re8x
            cWAmksNv0vMebPPVfD13secO93MyD7fusIFap49j143SCNvPzzIIh+U+9vuF
            IE+z0JtgTECVYRDpolF0cnLPaG3i1drVF+69XnyuIy8QdfceaNBSimJHxIPd
            K4vZwjOfvGBgD7ekE2Ou1mOBrCyzNxM+45i8b7KYJ+lGyDeGeVJTl9Y/3SWh
            ozCQv5UX6ETJ25Wny5KKPFWt795zoxNg9S35V2/dNQ2EpG+riwDXG2ogyELu
            Lw7EvMb7Gz2n0Vzq+/ts5o3me8BCnO3b8+z1F/1QvXCbDwxzdq7iAikpkZoe
            Ej10BWzL5lhsrdp2Q8SByYgfU4VZZQq5D1V9XaqsCzTHKziPYUTxNxYT5cO6
            hu7ygEZ4JINEVOMMr4ltJ7Tzs/lvIq7BjBI8EMyi/ObSVuo99Crf7ooQ9DkL
            VomBux9q0nH10MtnbdQalgkDQMujqwS3VdSVOI5qp90UKLouwQC+7P0YZuuM
            tbGW7bw7LXPerZ9NfU9PzmGjTrM+6bJjvqFPZLcUeILZM+GoMKnmYAaFvIxG
            iPfjE2LETHst0jPtBDAtpD2JBUG0dmVzkYiouGcpblq18hGMZuV+t10nWEIS
            xgisbLZBNG+s/qHSvBblLIsVLFcipQVtWQ9EswrG2ilPPlS+L+WURTv7ntTo
            uYqf/kGjmZV+p89iIZyAS8xlCmoht2Swc7zR3O3JPbziDNcp2a55WujghBrE
            kP4Y4N2ECWZTNxjpzUrxJ4iBfpbLwsTDuhTFe7cMtZVMVhuViOvJOnQk0Cm5
            JwMyaLjC88riTQzdnWP3Op0Y1rVb6BCRlfDDRxObfMiq84HFQje9Vi9T6dpi
            EhvrLomcnjkVnQ1RFGQzERDBbulFZca1wRQqKCfwUuarhmZAplw1kRytS+9h
            draZXrjCq7t4N5hlxHkJSudoAtR707DvjwybDHFz+VODO1SazqRMgkMvUedg
            gacPHGbMEihoE14l7cDQIQyCe12ehU02Oq9js5+bvDB5i8CsdlQ/FCRBy3n2
            VHCUkF0tRCVEsqRKlqztd8JzDHXitpKp9OUN5YBUssd7GWe4DyuSeb5K1WSu
            sCSV5f4sNGGIL6mA/yFSfiPqylCXZKGvSEtUY+C3yx3rxUsIpmQGvqdqqt/+
            AMHNnLckkb03KC7m+Trhgq4L+XpZhTqVOdZVYIypcMHUw70uMOdu+ZNxzhY2
            4RKLYa8WKLRzWiqsNUDf+EGdipG/BF80+4vxYRKbwBKxbGCyp4FJnixvHtCy
            CbHj5fFsUMYJx29NTRyoxBQpV+ziQojSQ+AUkD/zhlBO6uIOMqNsVIHoONX+
            BqMBlhZJLMs0QxIr0+qP61MT2K19NV3S6kfJcPFmPdNCvzeUGvZ6kOeJ50TB
            pMoUYhLLtfsj7cnfxNC9f9Jm44qdP3nFrxwJy7w/JN9yc1S59JXsi3ddIJ4z
            y85dnNTteJFOENUb8kkzqNKKkG23T9RIz/2aXdMr0k9FVJmb+N43DrsvZeYG
            A6cCyrjv6zFnbohHlJWEEy+SQFSbclUFbBTx9GkPSOGkXo3MpI67PM7Yxw3F
            y8Aa3YVn8QgwAXLhxQx4N8qZgE9cqy+9ntoDNY1UqmaZyQ0gPsZQGuO+bDHW
            b9jOUzG3AaNm0k5kEShzzAuN4an6pU6YIiYO4g0FiERh/2w7ixk4Zz+LFYJD
            9+tqJo1jJ6Mv2c8NHrPOA8Rukr5bENJ98B0SPX1caHcVCTFRGxNHzwpbnckh
            cMq3zZk87JopM8TCij4J/6QYIiY5ebOH88TIGQ7ftRUNW56MmawvzwZBZ61N
            qyNCxsYONxAAxNBoAbzwzFhnEC5cYpHKKrSLObCKZ7kIVU4YEfVAO6yU+TXm
            uNSG52ZdBjeeSSZFhpnBjnA1Uw1VuM5+536SKhRI2UVLbWlYtB2hB16qgpUW
            01gjZ/i7NzvhMSfLgzPzkRdCVEbPAb7fb08TNsI4TYbgPYyfZQzq6dIfVPmM
            Z3wZstAfE27FPgL5ZN0ZjNDk+Tgi8FntO2F8VWv2FSP/4QRgOlYO3TB4wKeE
            aGmJhNi96gG7aundnr/YVeO1q9LHrhIMDZW8/tEK96QLtgC8Jt4frUGVPtYY
            nZgI3orM3DlCejwNHOhKrtNHqpDCHWdPbbAXfs+mYrqBpokXGiM0iD1wMuhu
            c+wSAbO6jcMQ8ulqNH19pGKuTnYx5r5qmLUbiRLr84pqykdry1N65W5aioQx
            AyJ5V2TlqO3mfNN4qj1nVFsz5q4FtXqLgmsLc2tlIPAb74WFNGUId2UmQmX1
            ZoLU7E43uKO9Lwllkp/6u5/eOOHt1f00efoLfYodi/4+vjz9D0PWbiBh6m91
            eLAeM6rVU7dCR0siRuxTB61lcIaR1Ri+LVrhhTU5TI1Stx5riM4BYNfC70GM
            7KqcBMdHVfWYlOwYzHsD52MwSOF3xFWjdU8Uu1kORxJIDNJymHkHw59IUALj
            laElQoIRzM44QqzOpgAwtYUo2BI658pbVdwqbX2MYo9TjXb622FalEr+TbR6
            xrYtE/+wxjWXmuU8BQN3+sDNsljKOAnSCx6O7aFBHHS03sQk/3F8pn6xrW66
            ORY+49hKpyw18mUJc5N1T1jy2Co7sbMgtDPkEpirRL1+uXWt/btdBqSqBvjl
            8VzKhHyaWk1iJ7xHJ17PZ2APpuz9HiSu690qi0mEIVj5DzUWsml2l5AuTwfp
            k28rgqvQYvE8N5ubsv6/SrIzl0lb5lLhec3RUjtXDGUzz9O1bjsO17TtfITZ
            z2vftrre59yVGh9j1YHSOKmwYIoqAnc/kY16NJp1C2TNdHv7TVWi+r39Rbuc
            ls93dd/WFtQw5Uu/vqklsHvU+YULISa7fQyntTdkwfVXYTD9I/fuZEzGejFT
            hnyGCihjCRw+izhGOsbog2hF3ZhPaLhL/IFtGo8uaXgKO9i0uJ0gdIfS70LA
            fQzuEP7F0LGRgLFf0n1ZEfULCWnlDUTO4/J//THMCHDeJsfjsmhi/9FWWtZC
            ZTqHIme29cEo61KiMYWAuoixbtUdMGeyhrvJADm6tlJMcsw3W08Tly0zr4qV
            IofBGMVLSGyPXUMJO8GwpKmIV+8mJsEY3TxmwGdYVllUTIO1aTUJkQ6fJ89q
            QpUxxR2qEKOpNGeVDZeZTQ7tkgG6JWZ8YckvRjWFabs7mHmchvdKS1lfJHp6
            9NPWCsgyDZqI3V9Viaf7BBc0hFRkJZ26uVID4T42T20G9ZRsCRkkAxFiuL3Z
            q9wNi77LMn+a+qRkrObru7sNeFHyJmXTzOmffaw+aEPWoPFa7PY+WYRE3cTa
            FrD7pDuYrGxg2nYdloBzd/sd4pUo3MfwiyXP2bybtbKld4YJgqrDLc8kRR5D
            7X2tcntXoV9Q24KkNzEVlru/l9RD4UCxoYv87Yv7RTTXB/ScQkL9nAhSypi+
            SeklU9az5alNhGAJClRbOzPYHc1ldIF1KQDH3x6vfF/bqLjNmFjdvkc3V9uV
            v2xzopTfHzAN3FxSNN/ygDElU11sqXc2mhq9za3fbs9gfZ7u/fCus3s/vKEc
            le5+5/Wep0rmyKLFay93TPIq5VaXlzcH8/DIosHsxdlb36VpG+TrzRW4lLmh
            msbdEzC7iofVxC4oSgQ+iqG9ZrqlwRbT2fL2qKX2SAcPEBa3oiDWX/H1hRzu
            Cyl2XU5aoiD0lD9ey0xLZjS6H6YGTTZdwPtdR4a9Vd/y+7A1EeYEBEJ/WPDG
            Yg5nsxpSEQSIlD44drf69DbvT7CMW3bbo4BudOB7AGxabuYboGN1F/NLLmhR
            j3xW/W1Tkw8zLOImCPD7NRcGaJFnW/ItK8Ud6exUO/BgCGe3NeUWS+qHkmsx
            MYkoEKvvxtSdWASmJ+/+UG8p+8eZdFiT1kYGd22Qr133uH0K1b1tW1vYLuQN
            +uUVCdAb85f5rBKzwRHHtLG8RBAxfA1miPzf1q5syW0Yif2SeIp8pCTq/z9p
            G0BTlmcnqa3KTiXl8di6yWYfaABYpj32q2CkHxZZVReIIH+OzYCZzMsiTZjI
            JI6P+uSmJ9kDe/YCG07ChnWhKCrcqyowKEiQIiZ9skqJ9LqjP1mmqfcY8YeU
            xTHK4vO3xDLltSLEEw8XkZ+Hvysy2txbWBrvSJIAydU8GwaXUh0/tbMbGc0i
            U53cK1rM9VPTRmMLR75zP7EtDJ4MUlqU1rEJasEFVeRspQXwIqOD9rC7fHy3
            rGM0Jgd4bIeygE1qb2Bov8AfDZM28j2AyLHvgKGDaHEo1IF5Fr9n/V7J9XiC
            sdi2H+EOtqBpCNgKyaT92M7sO2KpohEWE3/2Jaa3cAQxmBwwle3mjRwBgsKc
            TDOCtpVrAMqo8N3rqjyZYzAXpHyXxDxStYRsJ+dHgnmDQDgGDdKih8gXUabD
            w14AA7JyITa4X7VuHf8mk1hEvvCTxVsZPW8xl9e3SWibzCfp0+2z1Murz7TV
            Sreyea0pe1fP/knpXi4DRLiJ/QPtzZoMdl5ZyJQ+kh5I9i5iDqp8gbPuzPUj
            cIUeiVWhsyjxSFGthIh0N/QMTeknmnd2Fqqd0uG1Z2/vUfwCPS/p8WvOaLlE
            ZrQmC8w1BA5ze9AT6P1wQHPDO5lMr5MsuoM4CpC2CLDrqMhMwYGfSDFV2NzD
            Lw5so9NW+KMDxoj2zWIXjsX64sDqYj6q27ttGtuYQYfOfb5/8P88HMFFD9vW
            q1mg7u6zFHI60ytdCN8f9m9n6kTKpa4Z3cjSNljluXyQJW2DNXLEe4RrfvY3
            LvOhKjuXcexmq92zrxMxim3nAOCV4zoOQuJnZmnbQqeT7C4Mv6iaPm2pOIoq
            bVEd01xXb7KiAdHNkvEanOvB71nl1oWNC6C9i9+e458Ga3NuybUM2CQ4mHFN
            HdmgDO21Iun39cGn+fTwfrbiiaTZvL/Nd/bGt7Jxw2+mmeWZBwshGyDn6Lm1
            NfIidnDSYzxs4ExbSgTKQ2IOXmZRQ0emzLQt2iMvFXMukAELsoVZUQIHO3d2
            s2vBpixcuHw29Oh9cgY3Iik3mnDJLIS0RWeygoyZ3wPTbCNWSnquhAm+1+OT
            BmXS+wj7EeVbHoQs7J7OzIwkT1+tM++7OWLE1ixQ62JjkJxEu8LKu2L62Inm
            AlhaL7DkKH+QsXHr8IwbGwfvjeLIqKJuBZB9MJT37VyxMtFoOpmzPPWrisaP
            45xBvDtKLBzXBHj/wVMAHEapJveLANZdbsew7x7B/p9Y/WyFpWrx3n2MkuIZ
            TwHi9UcDzwdJ2DrwkMsgQwnhgUtYaHzYMPPUXl/KfcJtUDVxGzckpyx23xTd
            DRDWAH6AEr6CBC4E6NlA4sT96c7mdMlz9QWfWOdXkFcGdWWP1GFjEdR+gRJg
            e9k/6LUQOtBl/3AfT0J6iSweeTAjRtJrJuXPzEryCXeOWAKi5/qD+SmxF7MK
            fTXAH1P0EG1SYI4PiA35bLe1gXdAcwHEYA5ed8My0FRllvtfT5gnCIh5dz37
            Q443B0hx4ZbfjnP8OA6YfyKPg7AYnfKNbFZsF+ko0DSQ09iBzL9IA8fDsXZz
            uv8f+4ahNwe/7UhRWqBLGCaCBDZikVH05jVlDe5FO40gYgeOdgOqabcZv8OF
            YUrj9IWDDd9dBWWaGOqZdbSvkKGIkecS8bNJcu0Wsx1TJLbpe9sczdZN0mg/
            39/VDIb+IgtBwRUK6OSugIMu1HFt64D0+zomtfnjm1dTNiq+zUULYUcgyNZW
            D0xj5lUOqcGbLy55Juf5CGjJdVlLKIpjm0JC1I4ekVLl0zJBhO3HcCU/tNis
            AYMOP+wTiHKAbBuYgRFD5H+fURigmAwcoPEzAeZEu+fHzQu2Fv3jsTo6ot6D
            iA+bHF9iDcADrUkTAmU18BCtz2CVWcYLXJlZaP3fBzUF5q7UxXfw++xhSL9H
            8Iv/80zELIwfq8JZf1k4/8tMBNk79g2X5bfUark8IeV+LwGbbIGZaaN0zEpY
            DW53rtd/nNms4y+z7uSyUaK3jZCNn8vSReTaxFLHJS5r5nbgWCfF524WJpLv
            11PMCdQc9d31r+sUfuWAfMxr7c6eGkgQKua6DBabSJITBEkNPJdmTpGvCKtc
            tNTrSNMwiv0+oKpL0KtQTiWQN2sEZGyj+wMBgTARg7aqPImuY+WOVrluY75K
            6XQ5I912m2/SJJiJN+sS1vnEdkFPt6pN0uJ+Eh7C+Re9806itx4OvBbQSZir
            Dk/MrVBLcoKQ2Fs3EgEeZstSQVppagZrWBvFti9FwVM9ssGzy5daTB+VH6/9
            Xtt8+TQD6RFdyyZJTeaeYHbT5qU6ew5DKLL+/TDlDxdPk6xg7vBE4IJkLP95
            DXq4uqWeWrvNyJHgrXmPQgJcjmaBSBmz2aXyIudl5p38ywNZD1SiUCy+gIIe
            jLAHUsoYheg2sv9gwjvD2hfATRZNQet7RYoLrASFOgv/94fTEjLy+UNBxB7i
            wu5+GOnTPhPcDWty8XX/5pqEVd+uXt5xNa83VaYp0CMC7oGULvZRACth9uIq
            6XyARwXSitiHKKJV+gsiuLW7i/zP1YnysCcGzCZklwHZm+eHJ3RRVuDcCOcD
            zgVK9uDwtnOYdg5MHd0AFXjqCHKVi47aloL1OeCJ6/rI45GkliietRqq+oJ3
            dPpQoGaCxV0qCCSW31g1xjdF3vsDFV9huHvtEJZD7goYR3mbTvP8PICd3eUa
            tdenZuKZ268KFnZ8gMGiC9QyVZd45JTfEP9QXsc4roe9jlB1u6lhqfpU4lJH
            nq/3WaKrkkDw/rolSOcdjXfO1V+nyE0kmkpFJCYcHYYIh+Irl6a6xRKs6/75
            qmdM3Lhx9jTai6mddMkeGtgsRyc6CbxAR9CLcKr9GktuaCUeCdd289G7xFCj
            80/p4rzOYcdBdU76fTITqPTmBQG0h4GH2JuCyPX9fL2+H//7++3U979gjGZk
            z029t4B2AHa9OXSGEEUU6rtS3QlBK6LYm+pBaV/tAjU37B/UbCRlCWYaMfZr
            ZN5nJgGkpj+cldC0METhPdYo6Ge188U086NTCbbdgttTaW1pUJPrWpneEian
            NNncIMvC7KL6/pAPYqcoxLfees/Mb9iCSDsuhZUEGqKN+pYf6T3bHqVTFfDJ
            q6AeAHZGEWbGZGMd9ElANalzRmq8Kwl2eY1E/b1IHVzsuJro1HQQ6qYbqpT3
            Jeg2aJfV9Y7UbHBizOA9c4t3YVWNxP1DzwvogGGeyWTPmCuWgBunq7UKCITw
            sI6UV95+7Qc3dxFUuBrMyrH0LXj2UFBxYMslJoI7enmFvRSsETOVNQqBJj7s
            fcEosRuDaV1GzrKjWe1VtuYfT4fM5h0y0k1g29ciHu1ihN3+h9dDv4tA8wJ2
            js2njSGGfhf3cj99m/errWRcd6AgaOfYbc3Ae5tNej/8fVMeaFmJ3l4mT8x1
            EhFtT46p9Kym09rNe+poXlWCobOM3cXG1ut1u7ahsO7Fe5WF5LVg4DXVk+w0
            Rh3Io7lIV5Y9T4607DJzALZ2p87rD7UuuZyWukg/1BbWBuMZ3oQSpU3wpKro
            LeK/mblTtQawpgHWTdGM9In9ugCZDY0SkOUgwwlIuu3aMLuDBZtnYmqHmVHU
            dQIpctX9ShqcImTcl+JZS8DaA1kWWajqKeQdNHfqx0tJtQ6b0tf0litcCxQW
            UYF8D7J9SSAnUFrvKNui2re9W+IKeJ3M9nAmrziPsj77KNW1rXMk7c82UsDf
            +J1wt/V388UCYmNmX1VVTdmlluH4rIFeBYroQB9/TMcp1NmTDhZTCP9+Xh95
            uedmon0Lzp9ItwM6gcjcVggA6MsbgQ4T7vIVeVMHu2rtpm5OtUPIQfA2sWPv
            SR0q5i3u5IGgXrRT4JlFqekl4okiQxw2QHYOkDsT2WxLWODNZ2wXkNGxYWUG
            ZD4D5BTjGa6t2bWta0pI3Sd7oINeayafE6yU2Tuqt9hdSYtFrZDu5nvQHBy0
            5IoycxDXvljq7ahIF8Iygz8U8wo7K5oJel8C/wK/FWzppVd8XYhV2UZsrxi7
            Dfo7du8T48D7xdCOzh/UmA7R7NhI4H7wPe6r2BfqunfTrUAjEoVmFBtvWZii
            35ougKjmwuosBM29n9WMYSMgKLhl8R7Aid21neQFdb1e7RTv4nX2d6cPkT64
            lOKv+exvr+tafQO+4M+pTiDUoVTJChbhCH9fB2sDtDS3xDX4t7Tft/C9QHTc
            JCApjXxkH6zD5ZqJ4FqOee4rFYasBojpYH57udjvSHwDGWCKPdVuCzOySAGI
            /Kezx0XQkIyiFWiykChMkT8a3ngAtNai41bMUkOASr0DCYWvHRVfEkjtiyQk
            qVBmjs6V3dMGs0WQDqaIvK77MwkXZB2D7wYImtaI1BmdHwMZvdv/pbnEgyOu
            aUzx3LEXScMBqp4z+/vAnEFlkAui3CoRX0K3F/oSKNsO2wfY0IG8EB6M/YcF
            cait21R9O9WfliDKKB0Gdgg1J26AAuK2L1ZV8Re2YPfLDvSzI2gNlj4P3B6U
            wQ7VazRYGi665D7A6gS2hs3ZOIH0CCF/N8S/Y5jyWWyhMoRglfLuQGMvl7VT
            L6xCqp0OTtBaJOkVYKQiFYqWAifErNjhmtxBit+x0O7yMReLQK3bjHG+D/hi
            S54M5XoUSgJBX483NZuCmYpikA1MgAxVQeJI98bgbZHc29/a50rCdHhvFKaE
            8yW8rjTIrfq6eu9kX99bK1uApGPxjK7qiVRefOoCUC9B5/HKZnr/bxMh0Un/
            9vAkF861iZpLbaAJi1WK7DKJ2IZUXAuv0xIBWTy/W0rIDBoIlrbtH3KU7hFg
            E0aluFLDUdC4kTsX0w1W3OuCf3qVGo78VuaZ9apEyiklqeDLL7J/20fow8ea
            E5j2k4RoHeODkn/o6Y+e5UHAF1UOH5Fs9p26CxvNP18zaRKzGJarM7aSsWNf
            pf+Iu9UoIBYfOcBjE0laOhQ27osAwuy6RY6FfVW3eR0nVaj/+PnJ5MOfP5/Q
            vP7L5zsyJH/5vCL3GP6y/WkRaf7z5337++cJsfxfr0/nH6WUjH4Z9rPGrPfm
            4eh98c+Lvxdhu4TUzWclEj72rA/n5o09mdXl5BvvvjO2IdE0+PtL76cfvEtU
            d4tma/k+br//6KRjQcdS3JQoFOcwf+pV948mJHA9Zi7tPZwe7jfVykYk5N/7
            L/u3AJPV8b3k7XUO8bbg/Zfvl0N/7/46gKUDpfKt1/Uzjpp53Tulye2B9MIK
            zkUuFICH0+cq7HxL61/b772+P/+cgLY/k7b/ud8eRnxvN0sbX/enNN3/NLh9
            U5cUyrd8XfuFF8bDTRhogOxin2H4TfdDrC+h2qC/k2sYLE2//p2Ic74Ahkup
            zUFdlVY5HGJwRCzrsVvbfJCk8xH9bN/vP9e1Pnv/BB+kNF7SDPX92QWt7wBb
            9x/n6Jo6 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
