<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.04ca.2007</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2007</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2007</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0</string>
        <key>FirmwareKey</key>
        <string>04ca_2007_v4375</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8199</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2007_v4375</key>
          <data>
            eNrtvVmS7TiWJPhfIrUXYgbqDwO5/yW1qh7gDub2wj2yJVuiJeu5mPOSBECM
            Zx7+z+Uv/ovX5d1q//t//Z9aLvvnrnxdufFf9Fd0z3Tp3q+ix7/3rzAunwr+
            6v5r+6/vv7H/5v5b++/ef4/94YP25/af339h/8X9l/Zf3n9l/9X91/Zf33/D
            V/dc/Vkc6LP/4WfeY716xHjx5atfF2fAu+v7X8DUzGovo+Pgoy8+P9nlmAOu
            C3Pk8ywppxJx/+D/Fc8i7nNuKJMwkhpiCMHh/96362pVnw2YFF5d8epSwF+5
            Kp+0oLXZvWh63/GefXExx/qotOd/w1/t9Ld+9D0/Go7Hh58rzWcPubtYnjr5
            S+V7O59By59jzzPVeOeZe2DvHDq9p2ec6dvXuFtI/rsXp1t5Py/7Onc7a7/3
            +3k45SZHj7npe3ESbubVbe/NyA+UejVbHBefj8pBH7D/69utPjW49/o/T1H5
            Nr+fXzUMG9SP5/nsle/naQZNV//R/rUnsf9oP+SwJ+9H+T1L40f7TwqqMH60
            P9OMNrof7ex/80c72GX6wv2jP77a81Cf9lX+LMb8fu4rl4Ew4/u5K/t5/Hze
            L1scj9d4hN7qY/Hnx65d+cfHUF6bKP38WL4EqNKP8i5Z+/lHebRiz+NfOt1t
            j38/b9P6U360cy+dVOyuZ34+B5iJuz9fz8/RLT/KY/XVnxa/nx8QO3+W93aW
            Zv1+HmtVP+eP74YSk52s7+d+2WIvK3/vxVnaNR+F9LX7R+WQ48YOz/oa/Dpo
            5Pu5TaEWb/22Q58f5Q+4eOr3cwym24l/7s/nPThV8df381qdTrCP389d2+Xr
            9/Nxyv9oH/DJ5uFHO966c4WIvn0+dzntE/P8GK9AUK0/ytemTVN/lE9oAVuy
            2OKEXnYnnu9JzwKbz/X9fM8JJ/HreYy2tfKPHRe6wan6Y2cZVcBBGp78uXge
            KPPzedqLjY369fw5z+f3cxeuA6e/nr9wwI/2+3lef/9umL9/N16/fzfG378b
            6+/fnV/t+GSLA1SvRy+Y+135BYt/NHoQ7Jy/l18/O73BwvpD+6v+4fmP9tPG
            2PeP9g/uuX+0X8/z+ofyP9pf7YX4/dfk7qNd6/fzAx5Bhnw9PwRBiz/K73lr
            P9qZp7zaCdMWJ4XyCdZcf1ErX5Vfz+Mfntc/PJ+/P59/KD//UH79oT/rD/1Z
            f2h/xN8nd9TfJ3dev0/ujL9P7v2z//F1guNXO5uqK/H7+Wi21HtxbJeW+qPy
            9Sb9vp6X186Kvx3n+uNjZ1JSvNLX8/ECR/m37wLsfD/vL7CTf+sPoePn81Jf
            YCT/thjgX8rXiZyHQPh+fibxtjp/fR5/PL9eJ/X35/PH892f56v9uak1MDKi
            1vxrEt1n5TPpz89jfhD4j51yOj1+grv93M3v9s+Oc/MPuOf6/XnZgz/tXh9s
            3G/P3Z6Us/PPNf/c0fN1wspvJ4bMJtk3jKIK4Xg7XsPYSue61+i0f+uu5ThL
            oHkCOFFyLglLlLF85U/vXbTFKWD6rlN4VdLpInCf65ubGj+4r8PZp+t6c0jX
            m7v8ef+TB+7kN+J0r2X+d/7567tWvL54TEx5/rovr+6ec1+/7tub191AvX/d
            j9fwD7Cb3/dufo1v+vnVwRlm+LqP86vD4L7S5/3ytjg1FR7O+TWae6zv+3l/
            36/7a7Q3/n3dP/fzr+6vrl08f07yzyX42uSvCS/X79x6/7GP5vXNtZ8JOxN1
            JuhMzB3P6N8gyEZ7RnlG830tRrQ124A1h02LutvxPPkrEmiG5ex0oVkJcz5+
            vd4HlMZpuZ0tTnOPtrW/+u3w27nX4Z/zY2t+7stMwQlIimqkBKoPlrjZytCs
            PXY4vOMJGuvGB6v7sXlZxq3po52y8djf14blEDvej3PX2Zf3HcUf7y/6JzZN
            QAMJWuO4X6v8LhOwabXKHR9bc6zdm88y8a5xnTKpDc1Du7E73mVSi9lkIg1l
            bvtWovjl1Tvg3/a+G3PfWX1wKtgU2C41EKdYfcy9+pE2n9N0BlQdA1sf1cuM
            jw0Va7aidZHH7KNMHRTDYOcl8LI97cntLn6UaQOzpjI3pY1j70v3OVSQ++CC
            djtljrrxxOeUDVdD3qIdTLgNx39P/VwzzzNlfY6+iYjPMgsfukVBDE3LY9OK
            r73L4PAkHWswiVyTZZSV+5wfMLxxqgyawKR0k6R8fstduSax6bVjXNHKpPhV
            xoHHFPbJmKY5OD++2uL0btTa7Z6PCn5QrsqFuTmvRuCl7w+HFt9lch5bDPNV
            JpaPMqXvMt/tsK+Fp6fwEO69XHjq3mWy27Coo8zdbfGe+FUGGBN4k+1gL97T
            NtOI/vNbNZAjOYt37zNx+Y/zB/AUqxa+l+cK2Sa0fI+ruwr4ESVewu6zDZe8
            X++TAqCR33etgmV51x/uArJ1EhMBnNo31jxlyj45oxQjxhxAMvjeXeG5bSKx
            oz8Oo1stGrbpiXyclRk19I8yNzCUlcG64Ozvyf4a3LPm3lFYtL5Pk5/xY5I8
            GLIkON6467xNZP2aJO8SIT8nCd9q83AJX2V8qsMmEgvinfWn3en6KBNarfUs
            yLMXtn1/K7bak9pJpJjs5Lbvb6UcjbPpt75l4L1/lcGqmtB3oM++W5lR00eZ
            sGVrk+jLl0QZE3fdzQNkkzW+P1wdYai3xQOUXcYEpvBRpuXpVaYugZV5GE6V
            CUZuVl8c1ofwogN5zdTzjW2PIfCLQLuUdQR0NmBSgSJBrgZgpkjeJwysD+rF
            8e+W3183siJxUin91f+j/l/1fz1/l5t6OvV0qfRS6VW/yxURwfziZZobcijg
            IQFSi5ULUqVQMGty/WfxCpLgfsqmYl5/cTOhaxM/4/c/7cWuna97ofXnn/29
            6lar2xyB2D/7+6q7dt3+z/5+rfv8s7+vuo/VpZ7qn/z9rNtR16TiJh42nvGf
            PBlcHHdTRv1fbeK5Dd2iobeGE8f92fLuw76u+2kAKaUMdH9hH0fSS9hn/ekJ
            yNDdhLkP4fc8lF33YPLjeICDUMQISs5eTVbGiQ72Du8i4VoKT3nCaK6OJDLB
            EcftsjWa2ssBDFJn2HnqUY7osHAUuGd5Srg3ROD9TeD+ojStfJZE5V2/uH0P
            ZD7S06x8e3gVlicttghBUB49zY99z5P3Fb55bsf6GsXzpIpzFMbItVBMeOOq
            chHnD+C9EG87nkL3OM9WMZ47AwSw7YD67imrjar2AX5xX0E+lLSh2NoiVU9S
            e7WnshGc90ZFGYXXmFJVnBlccYq5YCFS3FRcjJhK7L3gK0l/3DdAC/BjBB8R
            CNJUF6HeUj6C1hlcuABIxdNZOAnYAFi8XD1VXMv5ELNvtiFAnKEl14om2LP8
            6pT4D1Gyjd8p+o4pQR8stvPo9RJwBGqLOaD/WPDMiYjtWTdKZgCnRC6f3+A8
            O+8zvhl2uUCo2NV+lWx9LteWaUo6PwVCUOLVjDFT7IB+9D6oeKbqOGcs2pgP
            ZtM2Dyhp7f4Qbdw+eAkrOP54g6OYNmf6vfb8YTPNvTiBpzw0SmiwqxZJMZyi
            9Qzudq7Xig+3ZDRlLjpik7nsuYu1uZuaSSFZHHL7TWXCZzlJ560cxSWnXCXW
            ocIyY1Yztqek7wZyQbMBNQRiITwvbGdEg9fSfhuByS6Eud+lC5OPpQI5ms9v
            ILaKviTw8Z4TyOdxSQyDyXp0Gm8snucEkdsEvTOxkx+iampZ0HtqZFslnUEV
            T/Z8XyNXGVsY315RAq+KPuHwZEfi16tvYDaxcF0IvuB79o3JRaDoHPfe70XB
            QoLuePhs9K2MSFWnpPKDbFAVnFXQznUeYGg57MKmCe9kkh+PA6tBrIlTjwkm
            ocJ7oNs71se2CKhd/v5ZNn+UdcHeTfJmzutE8JR4QgVvp4T3kTQqdhcnKk/n
            cFxbdXaCgP+M/5l2ksoyXvCOTqoYh/J+g2+ifJwilaOgV2I3UqUoj42z9BzI
            nveAIRJYgEj03PhtOr2/pkGEXJxkRgB5iRBHmASdBv0WRJYFLNaMAaX6NdFE
            w4kLHodw4fD5HhahDo4wTywhKTdKfobbpiNpfwz0iR+hLBei724SQ6/p+Dss
            2nCAZcX19t1PfgBw0j9cLHZsAXp2IrrR7MMPOgB2gmo7MqPzAWkPJrD4hSPv
            QMITq98A7Lf9xkm9wb4XfByTXyj0KM4vLc6sZUTjFUFRloC/WbmGeaHvoub5
            XOYoCfD+6Q9ovltni0YXfGaQwfqK5RtANg7TjA1tk+MbZ0Z1aFSU3QajIwgm
            vcCoZkKsQpgGrq7qTTxftbSEWG4lsB6lgqd8gfdrlysR5yXXWMFCOcoPcDLx
            NWwhzOVy46ZJDKDzFgwlis3L8k5HN5ot0Gk0Ri/TGO6M3eAS61lwGN1NKU3g
            KZqA8AslQJoXL2RsE/GzXvB/rTdvq+fKv6i3fqlXrB7w+h/rxfpLvcvqPeO5
            /1Qvhb/WG83q3etdT3ipretV7/mlnrd6wBS34UmeMm5Cw2sRi9IfCqKwE9ND
            ORGoz62MEIYnuMIuqnx5U9lzA/7Fmlu2HeE8UAq7NwKonZIajUpGOOV1fTIJ
            ALMAqItUUYlSH+A+LkBkwGS0B5Zi1l4mWHyQZau1J3bnS+U9+vBqk6dZnb13
            /0h4AO3V/cx5QEFO6CZKAHoA20c7ffmqS4Kj8tu1gdlt5xsC294Q/HmPNhtP
            3PkOy5xJY1sPwDp2seZlEid6lzU2Sq6uMkiIkLrl+cQCujyz7/hjO1nfiL26
            gjULwoF50Zrt6XgnapjHLGzBUJHOpVplv4Aar+g2GQ08QxwLigofZSMhP6Sn
            0BGtOhjV3AkGGk9aNAqJg2RZnkTAYTRBJE/FspecEW85HnCnN+lNdAQVa34J
            XtWHGTEo7C5RSuvSlZuLJW8MCKOn3hG8Puh58LfAwDf6yMkD+AWZB2xBWILF
            +62vWCDX0D9qdeLFMphQkPk0RPGUzTla9pGYutvRJnlQlh7TG2NMNzZy2gtU
            Wh5+TyqpBIAnmj4AZN5kOMEvP5rGKotAsNXT+rvYNjGnKDRsbMws+0EdpNvs
            rbgLkIuPOogVB2s81BEMfACu3Q9gISduviauAHbSCDPhUGrlSwIDn6OZ2uGk
            FJwcNMk61+Z/msTRwEu0sYuy5RoiLIBcrkEgQ2qR9mugjkD4hUPVDKd3JHeB
            lsl32ILcrmCySbKBYMHJqB6L08BLgPwA4RDsOw7Ii+AKO7ZzZ3oK5Up8LQ65
            Eex4KuVA7qN1/qZ8ZGKjYY4x2/he2gty+k6hTigg5BJOxibFdQIe4eEI0pjE
            p/gazwUD3s578lnOeZwUUnjJAx+vwAVJi4YquI6nhbzl3VzPhY9SCxl1YogG
            QbnyjBBkOO5Y7Egc59mGQ58/j7QWiCCsYxWxUxvvGzt6ganF/Y1u5W6nj3wM
            O5fA8FLMmA9fE7Zocw8SFEvjRgHvfZPvcNV4ir1JTCtHcqN6IdqDG0HRicAB
            mM+kysomeCiS4z14YlFpACdOgppCBbmoPsA4UqOZz0QF7nu3792+9yIMkilB
            eoyi3jAa3YNqlBg1OLuSKBMV2PZ94aweShj4h8w7vk8+ElCmeZ0UgPhNShOd
            2XGMC0RfbM1x4tw5oiABOYH3ZaCObCBIN7x0FIQ4g83exK9Z1gZ+rbkEDjDg
            m9z21vQ2ERt5PoVcshfr0y5bIDzHooDOx4LiBGOx3ZCYTM8rFuu+K8jSF+gt
            PJmDHDT6pR29cWdci3JF0o+8LwRbusfnBc74ewicNe7kik1Q57NOGXe9yyyC
            RVJiwGhUo2GrPI7WaOSbaJVsxtV9tG3SB1oRjDs4Bcxdo5gmd/0mTmvksfDX
            MM4OvsreAbtlj9cTyGLdcwUelLIJgt7q0VCqQQDLOglyOqmyiRNDZLphIcjh
            x4yHaUVI1gQnC7T6azKMeiG38kK0BGfcQl6yb+IVwHzA97DGEbsUUAHioO/L
            +Iy1+Q1gqvV5MrDcuj+4UaATRAiQO5qyCUpcXpNizr3pqCqrZIJ0JTSpgvFN
            dSJ1BRngNHIjYi2wQRMtoTOoA1CwE1AREx3A0+PvCUD/IDhIUITAuhcJBAOT
            ZKUDte8g88Ex4IQA8YDULBmcFmg1ogsKyv0cLs1Cxh3E6vBpStYxUTawj4cg
            GHkri18dj6UWfMXhgwlNgMHxmqZJZPoAkZPfB4sI6q250vTekffBJgUu6Mnu
            wVxKX+a+yhgdT/kZyE+wiDjSpAgbAdVKKxJbgfsm3mkYEHhDESM4beDmnwDc
            QKJiOSvD56OLtCVFNvT+kYmlGFspGCiLug0fApt7rT9OG8VTgWq2jLbJG41d
            Jtup+dQM4+HeHLaJsHkEHkc1rToYsbGvxv9svqZ3u+/Lrp+nPnBmwQCyLyK7
            icUaKGL0NYytjJAhHjtN1U0gRARzTiTHI0/k5QDlsdps0GNG7NrIvjdgMUep
            EBY4JXI6wDCEqzy+IBIKWP3mB/C4mDdApOeW2MTZf8/+//P6fe4//7t+vKHm
            snz3EdM4PJei2mkNGEWe4DkCdvhHOZwUKxftxINMELtQEspe4E9AiHgsEutQ
            xqQ6TgRSJThyjQJQbjgj3z0pNgCGQLEXNialO3pOvAJioFYSBfRnwZxIAuM4
            x/gqoMeeI9qfc3MNUKUeq0Uk2I+m6DE1Msgy7Ny6YSd2exUcNSkW7h2lrVj3
            kQoazA8ZtwZ4RgHoTTDI35RbPQAVicxofCZPj6P/BTrqSL2QvERnWU7CVqrY
            CVe0+QHxMWE3N15bqR04vvmUd9/e/RnsDyZt5me8wSbFCN68PYIRDqAGA2i+
            Z1QT2+RpJyBswanAJSnmq8tbJOyT4SSlpkB2gIcCuAogBbgYQt6PzduWKJhw
            aCRHwSzfkH/jYIn3esbjm64otkg+2JxQ+FpE1SVsihD3u7LFN0vK5CxdMGhj
            gIUBFO1F/gLlPCl0ekJReEk+xU2AgUrnneb9vDPIQHRsEn5RFwQ4ajIsGzwH
            RzBFntKDyxeFx+HsXarjHEDbbC4adPt4c9/vydUkYTe6RuErxfQf9SmEC1vK
            8KN+JMD/0Y5A8xJ9EsnNL3rWRJwcIPeCRT99ucZHW9/9AMDFTiI+ukj2f0gE
            0rsv2Az91F8gxT/7UfaibwY/RaM9Uw2JsiEUtsW5t8k7V9HLfsTfajTTHwz8
            C6EJZVuOxu7dwB9F71iWztPjk8m1tpD0ejGz5AiAu0D5VoryN5JuU2ISUFU3
            jn806s1R9sUdGr0bQdLkIb4AZDvlVKE9y7xWWstOsuBG8fjVKIh0i3VGfPoN
            MpTeMpxsX+7rtE+DQIJj8YGbutsGP+6S51iRbxK1ca6+6/G8OZK6RVwoLfG4
            Kvoe2uiHx2EfZ3/m7iPIjXqJ92EbE2MBLtvULei+DZHQx7sWiQmDwzVojvKD
            Ze4b5zzGtaAR90i5xAZv7BohRuwNgYpaA93qAlVd/S75MqnsvG+BAcr9QfpT
            /6KTskDh6Mo3d26NSjYsgKi6LQYhWkc15+U3BlBR6FZCg+Ob0n/wVADDFAex
            jJyaxFHQG+arXG2gUSrJpiFFnfk4rG7AmgcaO5IwpCwADgz+oVNRTcEX4lBg
            T9lHBZb9+Ry4AZwe7VFAqM7Y9c3Lvum9VCaaWNQDyqfkEM/sZKzXXJBoT5hl
            MqZsJxHsCVIFkJnDjqTaxQhwKsHzeMM5zlT2JBs1ceBbZFiJwkmT2C/scFFT
            cSUpw5xNEkiOSb0MwQQNAgFVW60gfHCdDUSUSFMQCJ919wTj5L3qjkJgnhLr
            xQbKjs412AtY7ESdDvrjt5TgfSpxpHUSKvjaTs6GkyDb3yzJcs21g/Glda+n
            VAHEipSHstrzLmzWYNDCwBnBwA10Y/fzVFHIQIKHFGZqVq+R9HEm8jnc/R0X
            QV8W9VUBc4k7iSLyNnvMzhxlkia/WNsyoxqRxmrcdphfyu5IzoGvwuKgTNqL
            s6qsLZ80TJzBTgL5TiHs2+5v/4CqK9J5syHiKRDsrcyoxjDBjxDdrj9P/bzb
            2/U7Fu8MbGEnk/7PD6g9TjMJfaCvIiciH+niGipJ47sLtpsaYU+yLTK4nMHd
            DKoEtIeJYKbsN/HMCYd2Mut6Z89wInMnh04RUCLZGvIWO2k3O7ah3WwTqkkm
            u7y/o3tp37HrK01WBr7hOAdY0m7fqq10fU9MCr7n8mtBZ1vjqMkPv1aJxcHd
            AuIuEA8tG0Hg5GBQKTvF5iGS808GegO9j73gwXckh21Pn1SKgcGM4fcdAijn
            TPMBt8D+9Cem6FB2htz9wI4nSb3e5UQpA3L9LBtQlqenNgrbQK+AoUOh4Qb4
            j0lgDOrIZRrEVm4kSr0pwcbu74FkvJNEe62N8qz/r11PAYTsKxvFJ0AovlJN
            89Dj+aHLNjZm9mGRm5QawOp7gxhyMNEEEx1ocaUU4iIR/mMsfRBX0IgKJ3UY
            qCXfsOiv3e53/fBRP3yU6Rgq6oH2F7GFOahrrTH34nipiGiOtZmuN6xMJrJJ
            gNm9CDxQ6pxrHt0BJIBpyVJOG9bizsYncYBwmrY+fEmFy5OZTVQC+p4CHUw4
            yUdHSMRnH+XqKYcjU+lUpe8SF7Y8+V308j4Si1wAT6Ixm1ydOY1qdLcpYo/O
            vm8N5trG9dTWeZlB23Xte5fddm47V6sP/smAuTm0X2ASvDGhXprWm3bWg6fE
            npOFFjbnCXXfvymH1m//8ZvPa7he5c25xMmd2Z8X10ehj99oHHR+qOf3eX6U
            cmWTztfuNHC8DBjX7my7ktS5aw8uX9+Dmfs5N4tNxr7u531ffXXhU3xj3DUA
            48fig84KEseTuac06loJwAIQmrSV3YPzI/GAxS2UtbB+P/WxUR3la6T6XlIC
            WomSKvdUImHPo96TSRhlQtFJoNX3b1zj7fPc+qlGopIzdYuQApX10Vf1s1Bm
            j34BnC6S8jhtru7FIWFHTWkGt8jKDKXw0tFc1vCqd3EftHmUTV7UW4lWMnDK
            RQMHM3LQrLosGl80PZijlSgFA5lIK57Cr/rpwGV4JzVDozKxu2y/45JbPImP
            TFX5tXjwBe4ayfm5xOh3nHu2Sw1u4mSqjol++v7NNkF6re7MJuKM4+eikkWk
            Ig797jRa8b/Mx+diKO7ATQqPC5tB3mRgnGzeBriybnYKR/F7fa6dVmasGvKg
            gTo3CcdXN1iLMpTCCk/GxdgicWByzFx2R61K9h7P2nJGJscG4qYPUCNgGdAo
            zULCiBN/q3FXLuyYDhIzgL8CTGUZj0nUvm8U5EuRF9RxMriUbnNhQHAQgKmN
            Gzv1D234Ow61Aw42frRBsIgBeodJw4Cd9S2P2uzEgN6iSGfUAYaqr4YymAx7
            l0jkdele8JcDQbHaAignfmRbfylLxZoWgHINQF/8Zh30CfQ/xsENvnm/wwu+
            NgfrYUGrk3BWPKL4JBrFmsrAJcLrs4L5FxDRKSPnLr0y/XV5bBNABMuKv8AV
            BJSnUxe2abRgJtR90O1B9l86AYNg8LfddE6ncfXZzIavtK1nDIdc28H3JXGQ
            CgJc4aDCZNuYAUuC0gM5niuZxDhp+0aNa7YwHDpJ1+s0v9oBX3HJftsmj3WA
            gRv2MSAEsCpVHEttSd9EXLdAO7Pc4WdyjnJL3eZkIpGDEx+XIkgt4lRK3TBv
            1JoKPUchonIZpEk0p6JAztHMq5vFpznm74ohnoq7wnw3GohE2dFEMlmghNwD
            kLGCnjzyO0kRhOD1BPdQ48hByrRrkFjy4FcJCO8KwH9nWXZh6FIjH+saWybT
            6z/zPTialefb6oHvdWzrtwG/BmoDT3vA2caRwp1zCN6/QXHaE5TfE3PG+8VI
            AhiFHhmsBhAhy8gyFJBmlBrjPuFkywSMBp3eLEjp/CBpCz/YtUHO4oHezXQg
            oHMHEVgg74UxyoaD0nZvDo3AQJvS4a5khQ4OnNJWj85UHhnpuP31argaLvFY
            CBrMiZFaC2iShn2gW7lcD+syJk6tZ+FoBKgDQiNAlXWyRnktBLo1dxuyRQMT
            +7KV2+132r2x/WDt4//cAJecVp2ur/b7/G4/7vbZhp4/sZ8x6RuYAgPbpDSK
            nN22rV0URKA64TJdjcSiXgytDGNQvp6yajseCGB2cm5DAreDXwC6pk/q8GwC
            rJbZb8y9OLfUuxuf4NsNCLuRadzmtlK2Ab6D9OtJrneerKsDLK5gItcHA/cW
            RxAnhA8mjh3a0gC0EdlerSlxU0g3Q3GPTMKoiyR4LmYsuOEz+9SDbM9IRYFA
            zm6bJonE/Uk6H8Gi7ARoOA9EfzSdUhdgIXqPi5KE64N85338uJem107TewNj
            U5L4eLUNyi5JdlYkSOFvUDdo543nGuZjNinV6tZttVOeZR35Jfd0OQM3N7bP
            nKtdNgSSL9HM0bsN/znAFkwZRKVU/eg0noMuGJ5c/+E5aLvK+w8VsZlb4RTR
            5OOSjIrmUdhl3toSzknW/vWB6yoxR8LjVWQF/DlBQbsMJChWAqR5pyjVVUcJ
            XaJArSUT9SQSAY0Xu59kCI1LSRYcC1SMjZNWmd2B8QboICNIoj/Qy0qMo5eA
            cNBeotBLzhjLS3I22hKYJMGuOCKSoIAuA/5bKQAK01EXG3XSujijneCy6ma7
            /20D5y2+aUXBIwADqSjHqtNM6d6/PdEgFUeUmgIZYiBzgF6n3oLypBYpVfNY
            qaeGnqzDW8RBucXIZu9FkQvOgZCuZFo3fWIyre8rpeyxJveSVy1TQxgJDtot
            P6Xez0wtilz/FOeQ6T1tykTz4/113rv9HhiBE7d3uwxR2HZJFC2ZLohoms9c
            wJoYL0U9WnWz0f3vNh2TxAMzefWXFq62kNGHWnims0js5JwseOrCxuSieApM
            C8d79yTDfi0ouK5EHieny+o2bL3N53SwllSVVTZCApcNZDJv3xWTTJkBK9nZ
            iaVrW/TdGRYPaGoNtFLI5glZxjTcTfsxEVXAIANz3Cc6VeiDflOKNikAzPh/
            xk5LqM9yp87zN3V2f3i0qmc0Au7CIDuvS5YsYob3c3+9ntGj11FtXSWxlvXR
            z3J8pnLANcR9eiZgsBcf0JMWGhToavxmOly5CRQFZ8Zm8+NpQnidRSWYIm82
            cb1J1XZy22gTV6po8N5N2pLsk2PeccYJh3AQ1zbsvqYhNu8NloeZ5JMK7Pwr
            rPe7/hGXuCP+uM9VVvYWoqCVNTHtL6RMeQK2CRErWIjtRmJIucfL7qt0Kyby
            wEp0M3x05noCShBc+5W2JvJDgnHELCFa//y2ce47yITETZgcXJtRVjRp3Eby
            PdbtQSAnECPqqY2lJtuuLHfGQRzaq/zYygO0qPtJRoPPFZqNxBzHFaRkAzqx
            +jeXSnO0lW3OrItIHoI/ABalw8XoJvVNpPRNfW/gwwZrMJtaTRxje0b5Gg2+
            tRsoxMucwHgm54RJiXtx0178PSC/5DODaQ9PLg2kpbmBELZ6+578E8PEFxoN
            NB0jrSRHF/BGBTQGCoIhkVzme1JlYYaI9jx9GlKNDDTlJX64VJ4Lm+h/yOdO
            IY2ApAEYWZciDvb9WJ+acQuxhHx/2qLpV+Wp3fjHiSBKqVOxu0DgjEDf8xGF
            78hq0OCPplljAD5Rz+1p0YNbsBedtlHYrw8QBNEESGtbHEV386SUsDd4NHsR
            A9dv2giAIrNjHuy4Z0pOaJPGEJ64j/u5nKHN3o1kJ45HaTf14eSEt76E9mHg
            5AX3KeXACWg0RswPJQzHYNA9z60TQ6UeXdwFigBszRvCDXPdkEurqDJZ8JD8
            lFbRyGqTFRYa+HA9CM0BK4ZjZB8jLhL9w0EwZj8TxTamlqYlTnoeEh2Nc0H7
            CNlOkxsrYjOoouCmKiQ8eJQOsUL3lIuxPJbh6GihI2jvcMmyB+/yoGfp018e
            ddzU4OHrjS96agHNs+3efM6if071tqNB/VxbejtMw2kGD4Su3nhyTdJ6DCwc
            Ux8a2GGXiKniRPF3rqYaxvdNP0+z7CixjOP7kJ9Fs9g4aPpr1jQ0oa9kdOdD
            /jy3Iel3lWJOCIhM2iaBQTRWGtbShHhpgbNHezWJJ1ny/ryN89/mWIQgnrbU
            qn+Vdr4ffnw/nO/ThRDjuMRw+EBvh69y/hksE1CmlOMGUiqNEUu2vmnzcbug
            SyWcvuE+6JSA76HDLzaq/I7M9m8bFQJraNKXOkk/q8+POzRMA9JjDMgBNlos
            PjyPpGqemWkTgI6n8V2XEJcTmjGAU5+LRBTBnVf66GTQ2U5pNoBLlheeQWO/
            2nqi7Tb1IVofBiiIY23DE5TodhgNVOLjiW2RrA/mWV5pR1LahwnUMZmaMvvt
            VkZWocHq0XhjjEneggLaLcWou9zhgYI3+q2Y7QMA5G1c7Nz+Q/GjTnzXkeRA
            ONnMlysVEdQBOfq87MWRhcfYDdWPhupHQ86MsNkBHOdFq8VJFWOzeu561+PZ
            +9np3GVaK1mYs3dPpu49/XWyzpHnpDU/unib+81UMrIA2+x0eKK+nZZ2bTOc
            Ch9TEieX5bg5ugOp3ClOfY8Bi32fMkAy8gtt24vCY5PO5c9pdwJ/lK8xKua9
            Sfwo2JOp7yewUFtL5lAEo1roLms9M9llO9ikAfiKZl/uzmARCSH609m3sOf3
            NXYz8HDcsvQyKKMM8Bi70vV7Ja1wsgl7RR1yooaieXx1gTtwCWYwPi0u8ROH
            TmiWl1ghPSlXjYjf5KCco38NFqubTp0WO1g4cfIo3+5tEBLpcNHMjg3lW53G
            6KJ8e8ygT5OdCO48HbLY143YsWMIZnGkHMFw71L29UTdcCdBQqsFLBCdv4ot
            dqMROiXd2IZSXzdjFMHIexlXygjD337ImnXK8ryTD1ikUKeri4aGE192ZMRF
            XlM/gxPyuh9ml45e8NOAiQwkq8WRkOZi5O5X4WaFybbpvtt96IvinEhV8ats
            sXe+77J13z+r8kNg6EDsAN5hi4I/Hep4t44rzBPNzrBI/bTnrL5jeAd5ytyU
            /dq7tPtVQceXj+d+G93jgGXZ8FOnjBMTZazRaCuGTfU2zqcEDHQR+Brj1eJ+
            7hc3Tdz4yRYsOlOK7oWpe2HIVANJe2yJ0ug93bPMnkDphenlrk+XRhJUMg5x
            iuxTKnkEkNd1WzQ9ZL/xR4MWkesrlEZVyOZz/I4zQjhu+gmGe+FuSx6Qw6mx
            gIm6Np9Bj55XYy2ULr3K/arPBTT+4F2fg7Y2p8XfrpvfoKRBMJ3i9SqTJlmO
            kgBw+lYQE+jwLfIF5BbT+T2oU+OAXvcuUedEO2cjrwsnC88TDljdfkIz9hga
            5cRBlkRdJDRtxliG7xjq20nGh5NJZyC6YMlToLUp3YuXW5Z5YbSc6EqMORJW
            Mtu9Z0OWVm2cIDAUTfgQULLnA/AC2GtiSYhnCpltZ6IcE3xScEWq02yn+JPG
            cI3S6WmB5DmowEBXfYEoPHEKsBemtJf+IGpMkGN0WlA3JQGRSlpPgSjYQprS
            0upTZqNTPBOtXACdATKamwPfToy+0Fcw8b8DqGIddxjk0owaBAMxXOhmiH7E
            Lvy+yHfQHuwjiRv1k4pBgudpk80YBd2bQo0xEF7P5y7PUBAXQZ+XEzs3F08A
            lXUcV6Sttbd4CZqL/W2+C3HMMUPd6vWLxpvOzHOxuSLFJxUbnhspNZDV3TOu
            gvNU3FG1EKk3IAO84qh5Lw6XONXg9GJql/LaKKj8vNLBPjJalwIjUCnipVwj
            bA/RomJQ4kXbZdBRFkXtNglD2JHsw7Trs52a4n5OO1KdqFm3K7oZKzL4g5Rh
            9w7iAFyICQJ+lOtGfv0mEaLYApf8fRiJJDK4BaaKvEsoFlch0mS5Zk9unVp2
            7nGZL+17oyaLxhgvu480E6xZuJffI/9WqSqZJoUIe5PQMNPfDPX7snhljDX1
            G/yl+k378xqsHf6mhWqZ8T5e1ccL0JlUmpGYjPxEJ45+g0xgnG3wyFWTsZu3
            NU0DSjIPMNVJTuKKYLkRQHivNNFRRv3AYZvmXBTc7IrIIasXMmLg5tcscn5y
            LtyXFGL7W/TjPd+yevFVj5TilMwqXvaNOM+7ep82o0vVJgDfrzR5lQHipM+R
            bN5Ae4Og0GJWW0xM7AJ+BHUnHMb69J9OyUBqdFn4RhqNCWad44/GZGaCVGpw
            WiGT3lzb3hROHnuFoRVjiDTsV+xUx4D+t4Jk4K13h1lVO8SFIBamqam9AgL+
            qaA64N8d6L20U5akYQ3vstwFFeBs0Mlw20VbMF/arcUwGPliTyTDmAQ66m8i
            gOawuJcf6EMziWFMqseAAyivPfkYMiagYK88jNpW5PdFSwm5xzAwFePUSPR3
            l/ObAfzm/b7v2ix3EY5LsraUoJOxZy76/TLmvuhwc+cA4dH57vZPI5XnKdSS
            23JQP7GwNA68bGEJJKOYYYDNTsNKgjguprw2JErwfKcx0SvdyS+IVI21xyBC
            06TSdLq9DPmiwF2DKkXlO9jP4n7W6UKRe9uuIbQjxv1rwu/8TE14e1Fdrwln
            OzwFxP7cyRSJnJ1/KBcZcVNyE6N2JVk0K3NN0JZlx5FV1N6jYRRTaKZY69PW
            4NN06ng5PC3e/jImmOpoPSvRHJWzDM67RD2Y2DvRQ/CmZHrJXX3Ia4BYkBY0
            9fUM/UNl6alezwhJ+OzEzwHi0Pygflg/vMaBr26c8Zsh8lOWdIUbe26ck54T
            aprwtoCLSIw3gKNO0QlhMY0MwD+cZ8z8US9TkKlOzY2yqNd7DDyKoZQndOmK
            Z5brZxnuMpUxb2mSo09Iw0koqJlfNjhMFL8zq4lhOGmaWImybIKnuN4V44+J
            T1ze4mWjQDyI3X/PaiIW6nPmOZHecNYhPKa86Ku+db5h7Xy3f9ptnoFI7nK0
            r9RpckxMVUDDySKBDmEliA4+Z2S4+JgXK98XQq67BZS2bwOImoTA56HKQR+9
            KtCXop/epnFlF1LmKOkH6o6Qr26V78uwHJX7jAunJZMqoXDTNfCADdQTyIMY
            BOu5WyjvpdqOXuJ3jDeIY/o+U81LHFAkSIsZz4snqVsK09WAqwB7lClnpmUw
            PQtdU+QmRUOq+h6Y+UF0dXN1Uwa7qjZBKV3Ornjm6NtNc+CPZ57aWVKNV2JA
            IkA69O1eixJJx1AtfBddTKKIw43H6PhNkiPklSkIBtzGF5mxCH0CGQaWYN6X
            +ZwWZ/2ggsSucz/vxchxuwf+xhV9c3EzoYoJ17w5tH5WZqHxURl9c6RUaOuP
            szvr/q3dDjoddH9eN9CEnlMqIFK1ziYeoJBKIZlOw7U5FEJO8gXreBlz3/M5
            gJ+TA/Gttu+5n6kvKufcyOIvmr1Lztq7nbtlArXbuzEM+Rt1a5ehbd2c+3f/
            aENtXnu8X22ePrYffWREmNNWcf2jrtoqv7X1S/+a+tc+++fNNMrroP+7nT0D
            /H/XUbVz/9LOfdrZ7vbeykTGiHnduyvvdt51+PtjkPcZV31+tFP/s9vZWRJ8
            c6Z/LbUTlFykKghCSlD8CwMhzGD1WMYqOfTUfQ+qyZ13XLDz/M+T/91JieLr
            bpOIucbETDLhYjTgRsLh1T5PoRN37i0zGQlTeYC7wXdkYBXoUN5lL/3Qjp3d
            NnPYmtlkb74qmqpEAeBce/X7bBR+Q1Bie5SbnNF+B4ti4jZvgiNBSxqKatgn
            hox6pAAH1T7JoRB/PUCQ1axvZHenEvL7wC8Azj7tXdrim0b/HHUK+OaAGDaw
            4b78b/ixlGMcZVjD0xq+Ueo0KFnUqw3gvmQgkm3lgrpgrumA8lU/fNQfn/Xn
            uw/T99OHACw1ZJW72ynWzpgf7eyxcGKtno3n1M3lH9W9d93Geo6RX+kUbHF3
            svV/yn1TEgaC9GR1R9oLmc0ju2TgxI9y/+T9vU9Ot/D1H4XLj8J7p3gNCsib
            MJJRYbpOGLVX4YUb2vAayP3cY2zKi6ZtjHQVi+LM7JNC0SyDOBA7e54WarYG
            FVS3xEAPpb+PXMNXCJO8st3LPHHS7xdUF1FmMHNf3tMiBldpF2jNQ7ab0Qpp
            u9PNDrqRtKbTuTG9noEh6fDvWny/p1aY7528T92kmOd27AeNH+7SKQil+O+j
            T24oDxi/Lb8m61ccMTFQE/qSfutXblqsV7+S+hX3yRnZ4l7sTiY7Wq9Oxt3J
            qE7ioKd7C/kIWqZNZDRDbgMxAm8Y6EMp9gYzk5H9RNXJjnfRLo0dpcVm7rma
            cV+Tl0A0SNclWGRAB2wKmSfRwtOYW8UyLjd2xjKNKwWJ5zd4k8FIVDcjIu/2
            wJiPvn9TZ6SynMqj4ykgcdNjXto0vVuKBaqsUuc3w6GQP+sk7UW1drk1UyHo
            MxhvxvsZz9Q3pzwNOtsHQdlH11gqpdTckFd+nDPrVPaT5vUM/cE5qK3Gkpct
            jmKod0pEKVRiTCW6nCsry/s3P0TWkHSvfXyL9kEyblLyFZqKxCrpd8lzMv0K
            +Z7nKl9nUD1nSZwZDDTMxRDb1FdWfs9lWQFgZmifhZ2lSTUvhO5onVPHpLel
            W0nSaJpL0FCeBowBsxckOaa7b6EO6PUsrXDigk4+9TKUlCcAJ4jtxo/3WKt+
            tcSTKzW3p7ceIyc2fpMCcvMKZyRHmifJNNfJcV7SdV+LwpmMYZ7bYUbGenMM
            DkFfWc2F0m7YuFd9xvS3gkeMTUoLBXqsTq0pAhoxkmygBFEk3X7OKBfqlEWn
            5T1Dh1cp5Rk/bdC2X/ZXdQe5C9apwHgv3YUBElJiF1r3CLlfE79RHNupMowC
            Tw/9R51DJ5MW1FTTjP9HS6og5ZnpQtCZ6wEk26eRMUm94qiAX6KlY9oyNKZX
            fD5CjQEOg4t6mU7RFIqMdKCnSy2KeUbRCplF8HKTniIUr+j+2vfe7su0k+fq
            vucJrma7xt+y0DHveNoWPuhTE8hPz9D1YhgBzPBajnHQLxIt/t5pzWxx1vyg
            WrAysi9rm7pJ3axdMAy7Rrs6sJl6P6182s+BBex6rGSSXdtuN9NwWAFPrX7c
            sWJu73bOOjM1wnz17UOZPn5XAJ7zu3z8bhZGmNMXGeRLVjZPsUnzN0BdrcPL
            ddDChwn0AkzmLvkgw+pLQr0tfcisqy4mcTIGnLtNW3Ptsp/18ngCWECdLmwc
            5VRl+ZvB/E7UEWpKpNiTCaS7k7V/UWiEvsl6dkp7f1kgW1ucu9bfO3s+SiG3
            LF1xlGe5pQ/kB9beYQ8NONrXABhFyZsGkP5eJiDls92m6yrvroUJpKm3nRQc
            po+QLnMLDUFmEWoN7a7LFmGBpl6eMY+9k06HQbRxlH4uwp/GxAUIux44vsEJ
            +tPCcfwPgOTpO34DQsn7AXWjhNWSyWFD4L7FvVFA0kjaM3GqATUahax41jgP
            uqeCUSKAmzobLGxkiAvPxHrPlq0pWyPFjDRTVDaOzigmlyJR8it+R9wgwU5b
            HbpgKAm1F3jSfdTOQH1GtzUckwZlazRRvSQYdCGVNPDH/xiZmCCCk3Onp+Pc
            AMR5f2zi+Eez3gsAy4mie0rLT+M1gKMB00Zxq2RSjEDnUyme6Z7xB0a63udd
            xOGnqdRsPVKsVCJBV4i0JVtN9oQX5XZxm0+Vwx+5Jy1KRe5hceBG/35OvkCC
            y6eBVQf+rU2G401pkEFVZGCSE1rsDVavBfD8BrMZ+DYwkwrYUM5FYHCOFo9p
            FLc0o7FSN1BpE6bwWCCRbtmcyUxNtsrewlANxijG1qX6++qBEdAdTYnpok4q
            WhQLA4+2bGa3STkm0J5vwN872BDjxdB0tQ+ZqDIniUx7WV8d9NxFQ673NLeV
            ROJSpm/dC/nGFc437LnphvRMFgf3dZ7/4fuXfZ9Bz73pqWj04ZUZheFaFEGw
            7LDE3KTFvwSnOrHEg5HGk4rHY330NG414qBRBmlmqzafMsgQc8pJtyutLaVv
            isrIwJjKOEN7cW5FSQLhVKlxoeaT/vk3GMRcg7OARG4bXjfyEegEfl8UOWAb
            BdDTiuSkGAHJ3Nd5yih80UJWUXkkYhpxBDX0I+2yTWZZjtTK6DYZ5zfrultm
            A3L30/PytJzRt0pLPEUlrGqnUKW5rM0soaj9FiJRpF4sfKAJrNNYaXDIdswe
            QZPE34ylo/ExICptB7AxCdkZhzN4i1WNTsuiNdD6hoJc8HMKOYDybwexqjlV
            ZGCCr3/zWztqVOC8X7RmOY2Bj6FncLVolJK1AQhUMqRxUNqlHB5eH7zirFxE
            qrhvMYWkf2zxGDRGtgF+D47uUtgA4hvGeyEUcNRxwnLbPqbuLEbCYlCxbECc
            q/vLolMxtgmTsAmPMc1c995mu/c0ggPkmrB+G3YFxRks+ZGVay8z303QHMIm
            7+smkA7B9JPQOYTSIXgOgXQIrRfh9IPAWnHNT3HSvU+Ol3/OvC3M/C5cd6OH
            isLkaScnRowF2cvjnAkS6MOJd/hqJ1vJRdU76VyyRKdbTyLg+7Pzbhvo+aJ4
            mAQdtN2ZLntZN6xmkQw1Z2El14yXcGUHNqIqJyiRhGK95UJm0fT2tGt2TKDi
            rQ0nf1EQYoDzzm3r0mqOvrSjY0R5hQZUIjhrNwRrN1E3494BwufGJ0ouTS2n
            Yywr8ErZorfrSuMVpXR4wEhFhdKUbYLsFOiPJbahiqjASTo2GCQgpvE5IdA/
            hxk+Js8nP0xH9miJEUZ/8wTjtg+Ptq9rh4Bk2JJrdUVVctSvo96Q8SCDE9Or
            eqlT7DSDXVWwEvijocVwbxjOKOXsR1U6FSMISCUSJfVp7xixo/fvwfRm75r1
            /21cYbzOVbvUFIxh2qi2UPCicoKnEgaFRrkYo0NFSzXajkuJhU9mOGPGyFaa
            OyCCh9YWlGakWssDJlSBhYjiG11cyGDcNHna+cx2RCgin+QUGLwfrz+2T4Pv
            bRwv/xZZJRmfE+LJoVsYRpIGeUHxNJkGiGn9eCA0gWC0nYKOCex5sG036YTJ
            HcwAiCUwXZ0IBYPzfcP8S0qxTHaUCSvK+n3XAdzSEPrRDmaQbgyY8Yc5cKq3
            eU9qlPcSOR1Ki56G0QbKnAbJMRIivjXXS7Map8Wz1uGQf8O+FxWMUUeLGU0V
            OO3IJDYBXA43mGk+z/ZcVH7YE5stF19g3r8swiQTL3HROn2ply0anRgzw0E7
            kxyQBKc99SYaSNwUL7mSoIXjaU9nceifwwYHd4GzBk2eP4wqssml5Qthm/l6
            XtaonrX97JFJKqhFdDbsTqJN2gark+ujrjpY1zEOp3piUuJNLefOKopdUWVM
            ItKacpEbu0XBoGswu2tnC+WNIOmjSbAK5C/c7ej9XJr5uj7SxaJf3fgoqULA
            F5VBVXi0pL0N91OTXxT/c6peITA0/51AiwMpx5QqbnIywxPl3MzNKxMpZkUM
            rxw9lyTrtIMpexErI0OUkemd0J8eiN2VsTYzhq2g0TJlW0hN+aoUhquFDTN1
            Zd4Biybu9VEL1fVcxvfIlUq5aRiTiSSDzJm4TehRBXaExz++gulR9kOhl/nJ
            KkaBQKZ/Ba+jpyppx14uX487hby5CWCmD4wzAJoExAfQh67+sivBX0roprff
            gxStzxYtZMdNCyQT+s2wKrRnYIjzwutJCZNoJAOQydAMvM9PkND3lknq9pCL
            Zlf3zB1SeQcPZ9oBi+FzySa8b0tPuTMO5XItOwPzbQSL3fdTb+1rtfeHlM70
            z8nTHiYAN2+JvPXx3qzSuHZju1HmhDY/Hru2nVM60Qr5euedodFDUAALwW4F
            qdNYwyI52UR6SnkC0GbP046fY9EBaB/28VymW96ey8sBz7PLy79MujCc/fy0
            I2tna0fPX9919t0px9klYw7l2VFU1EsBI3g/LVRoYgQTBbO4NemJG3oxyION
            ycqcvtzMg5nTz7bjz7Y/xhA/xrDMqDBocj8HFP8woPgxoPhzIveE1Z8TuSdY
            hopcELJc22cFv93xVph7p70sWIzX6ZSGWzBtNvWQrxa1dW0Pb5B5oBSBYAPA
            E4MwJWNK5U3GbI0JwwPXQDNtZfM4icmXcek75L+oPoABxWi7NjFzrif7FEPC
            MDKuRHC0sVY4mXJde7HdnlohHyxcTHQXsRM3p1mwhmjhN5/XeO39K+iTBWkK
            /dqLQ/8cUka0G/O3uXo35hr4dKnblAuFXZI9kQGdptfB5JWL2UEmO/RYEOvz
            u76pPZohLeasUU6A7VDLVCZoiWQluPJ23E24EdkG5vw+eaVNzUwyzixUyfoy
            qp/fkXzRI+W/vZj7BM8o61PgWFoggTqkZaos6A4u4P+ymeIq9fTOeqVcOtZ+
            SGi/3oACXvGe/W/fErVKclkxoJWVS/Gg2AH+7vJOlkGjvqnwduxP2N+9pLx8
            1aU0OG+CoFr+nHsHyslMSfrq7Csk1wmzyyi3P8Ls7si6TpF1nUXW1aTQbdds
            39ahrDyjsLf7Nbm0eav+ul6ZEi/lAmBHk6Lzerl2uIpJaubnGF/PGa29ob6i
            cgg0UNDjN0X0FanpxAWlgJIKtJpss7iivjHfQcuXqQ9KT3pHPxSKoRjNVnYJ
            6TbjwEBQBrwbLdKtRUk9dm/tyeYeuXidlra03mtZrM8dMyEzN5szzz3Z+rVn
            nXgJPCXbBSS0UncQh1PQo+HITL5+3iAlO30273fo4dEtyCkwL6MNlrAsB4KZ
            lO4Igvn9ceVA6EoF6RSx8f4ovzskDPxRvty7/B3Dqy9eJ/X7u5YrQW0E/z3g
            QuXRvcvs7/j2XQZ803usFe03qdDbaFIW4kivAISRaWKbaEz/7LF/jNWP777L
            WpaLZ/000ydLUfPqh7t/1EHfRR1bnWtHZA89WpbssMP+WmX/XZkSxs/KANxW
            fnfw+rEYvv8oX96TPIcm2SUSt0Fxq+np1Y+lJ0Pj0N3kKnJ0cle2FJB6Hndk
            dh43gJS5fysMN3WVfQWZxHaGKMLhcmbGy6V+OCHM0b6DdzuRwJ6CA3qMk4lf
            DB5BhnbNHeHda+Is/Rf6dkBu4cmSu+gbskzi01a6+KQrmENWtiQdL+9p5xW/
            jRHryz36yVkEGp3tOMlx0t2Wuboz8bBlhlNBut25R0ayIpeZnPSH62Gi3TS9
            1Jo5mxJHJbozKNb0R7lO98Wd1R199x8R0vO+Hk1mLLla2GEeZEYSKYdPSDtc
            Cv295HFMBlt50OoGteBlmDT9SBsui+zE3U2+TcG3j0aVriErMkgbuK6+qhhl
            fqUZ06zo5nnJzqA45QSS4zxzxh4NbE9x4q/JJ7CVtr3ighxvizk5U5IQJQ8c
            waTRw8vQnTFVGpn5YmZfIExE9WEzdHN8VlCztFUGIpdo1TC2lbzEB5gcukC8
            gyBgdrI1NBhGni570e7RX+UmY5p1du7xD/3YGDS79bBtsuT1a5GlYgOyUEQp
            EH0uJbxbdjIwwq7EFVlmUswsoySS4P/3fa+SOl87eCtjT+93zp41SQ8jwRDx
            N3kwngqgmymnh3wU/U2Ja1mv0/5NuNPKKlsi+kLQa2XELMguwnjmGBWWkn2Z
            FK0wqU7BhqRskPkP+X1r25jglM7C8ITX/XvQFIWiqHYyc9E7VjEPAEhtcWbb
            In4VVEYpo80V3KHaDqK9BRAgk1u+OiKjrcW4Z8WEkwAIaew2XGlK1xVssjkx
            bCdlUYGLlAnvC+85uJ0947Nsv57Ga3WWJWPe60pAyinTZwZorI2Q5CvEILNk
            1TGZy4xNuAic6LTMhZ56+sSpuZgYnnEAjCSOPaZCnMQYENE8w6sEvyWFrqDk
            CoHelHbTjFpyX+Pnd2KQxx3VeAqwXK/XN+gAkBIIgp91QC3gWNGdRN90qudK
            oo31Y9Y3dEogTL5p4flaHFdWCvLNxKDprSyRCeP+y0qHYhofksFqDGgA0IQQ
            jERm1q6vcpeVY+AH0bdUQTN6aD0nhAIqN8HrvE7B2c0/T4AsEy/jUagktx16
            vb7HxDhcUFCIjYovyU2Jv1D/nDru+ukVWn9xU75Ph3cnnDJPq2L10aZb78P1
            egeYdp7JcJGqlEtZTwb5mGviYI2jbi+tmutioPEHIQv9fA4ILTSQaHQWAt4p
            O8c2wG/ZOOdWHDMaQnTGZTEX9eOaHmvfZqw7eU9NJ96ypCM4T6ZSqBZ5b1zn
            vZUXT7NzlPG3DLH4O//++zBlzwmMtCP6Pbtfa2fGvbcrPZGxhLnNnHblOIbJ
            cFvim5geSaEZMTFZp3BEMK7LwlteFhuAtskizS0sZnSmP2rX3Kaz189EGsy1
            thNWkFhSTANQ5zSXUoCJlN7yRsWf2ykxGURQ7xlTbQfoCzocQA9TVJ54vaOm
            vh85JeEjUrfe16vxbTvgxpInfk/5ZmcWafKsWDb6CBVo3N3KvZZkZHhplwMX
            UZJMC8wT7YLhQ5h37bPD8h7bASLYPh2FV2Ac6zKrIhpq51mkiyYGub8IjykK
            iBLlcucxDqfN8YBSVMA95fSxECfYbCQRGQqgyDuLO7YsBhE/mRDptni9qDLu
            9JzeEW3liumU1w7nhSbn9DmR7qbJERjU5VDeUyoeJTUwClTRfx+RMKTwJm28
            QPOx/bgswcfrm5UyTFuchxi/s0seXECgLQAt8GrvHACzYtJ+zVYY0JCaakbY
            YiaA6l6k5JKdU6bPDPiir873/t353v5158uPznv37rwCVdAhOIMMbTtZBBkw
            79dz2Wmh4yuj91qeUjf8Drc/ogMVlUdxjECMZy2PaXE1+fymoxhTFugZt6Tl
            wJah4aWEaXbPsjiGXW0yAOQHOY3dOqv0TcrzU5nb7oRQSXRsBg7sCdQ5+sfv
            UT7bAh0KZRE6GYmCeXh2KspoKn80xnBe1Pw6qpcZ9gqT16LZDRtUWVxZusFb
            XJj2igQocbqOPI30MNy/JoRlzkrhnUkWmAzIlgqQqqZmodKW+Ljk8bsUZ2WZ
            v2ItmniByUGdnG3MGsHnvhu5y2yNp57wI5VKtKB6J/JzXFiQm/dJ+Eq+6dSh
            BEOh90Ho8llh1GeGQt5EgkCwbOIkyqJ6fSlZbLJgQvNR8lh67TGnt0vTcC3I
            8Z56XMRrIE3iKzkh+C6Vt/4LsmA1dX3MhiCKO1Aq1A02Rn1Aqm3BotMggZQt
            didDGgLJNuloNBCndF6E8dKf7DLYXU2ectO5U0+i+7p2Yjs+Y6Td2BUUgcxJ
            K1NkqivX14QWuoUbyAqDOWwIkwGvvZ1OBlgLTV7PhnyDSQToTnjAyCfYKETa
            6AvDzarvjEXzsVj0cJVmNlr9zs3C+G3LdFxcGMbToWnY4W0Yh6ftMbGd2636
            BarI8yXQTcm31Zf7LLvyX8vGvTheIq2I07qRHKP2Kb6LtIZDHX8uQ15KD/Da
            zebvPxU+p9H5VhpvDtBNkbhk0g7OkC30K8jsxkHasSClGS+yPXLOlfTaW8DX
            V0BW8U8ACYolbRGoq8eJO5PqN6K9mr2jFvScuIF6ik+RGE6lDoUS3oTGSXF5
            ksECdEg/03fCCiaVsYiGlhRWmdNkC7EJldsIk7n75ebLDbOcuAcWqRAEXXqJ
            wDS/JBib6be65IEWZZjbB3TlXpwlnFPoLBriVsOCyFWjrTLUvKzilc+IgBSw
            K9VNdhMvODnVGjKn/l/u7cmi7h017QZ9hNJNz6Y8pY26qspN4EhNAb63cptx
            BLkLWmCLjyE5vaT2diI2aPtFDabM7SSxFoh9OfxulTv7NKZsEmRBKl1H+JAk
            MJpI8s82QH+E0Elo+mOYEkueWynIsCYXbabHOpl+X5EMd0SrJL7kpIaWajrl
            3Q9ssPFJSLWdLPZF2SXbYApTunFO6JuUK5fJkJjk4Yuait/UVCa/kpgp1viN
            YFTdLXNT16rFcgkvlTQ9pl9hUE5+61ui9q3D8LSKT6LUGKONHVbAPS6iUl6C
            4ZRtQqM84xWtSfpZs+rPO0UzHWUPWTs/Bx8tSpVAlbhMS+5H2B0VJMJMcwd4
            jbVtmuWCQp3NoUSr8TmdZG+QYJZ4Nvk9L083KpK/gVsZ8LJKZpktaQZNQ8hf
            RTN+z1zoq2nO700UuVN/e1OTxKDtrIVHee76otMlFs87TNaRehCeMg6l7+0g
            NgYi42Kt+y5fZDjqPtd7smRgd9nCp2L3t0LiG4jTBhq0Kwa1x2OfDQnvIAoK
            yqBJWE8/RuFr/vWbY64XvqCSte/fI78zmdAWrsmKIwvU0p3khXfSG0S6nSKZ
            xAzA43oRDy/89MYVFlh13Batx8DdiCfUGXpf3vzjffWtWd75fi4Dt+ckHmot
            hR2Tl8FVzCB752srlKsRw2IOqY6OJ+ibJgK8MwOU2O4Ug22COyYcuCzOsmRP
            SirP3ca4MK3KaOQ7WB4ZYPl4bUcmJ6n4dBas7lGgui6XDBM21h28risfwa28
            zo+ngCScYHo8ocYLNzPq2+EwFRPUqEdfQ5p1pcl8V/gdFSe6g/arC2+k5ri3
            4zFdwPqnfui3dsBChN/aAQb5YztajBCfV8STNi6Gp6l9L478eelT/xDtRMZG
            cUxcyclN5E8D0NZQoJ+H9PP5zXI03wLp2BZVtzQViaBGh3CH9MUU8mH1vQgA
            RsCg1X4gcmw0PmzSOtDtkDRjWozs21gOJIVn/BmQaos2XfPzeSPSU0y1KpZd
            LjCY5JaYUChe9OHEzI220zY/5txLnwRant7M43kV85xj8qHro28PDfkpOuja
            UDScQz3d06nkcRayn+Xv4HQFn+L0DZvgEcrQJsrO0ghcClaGewrcFXfOP7Ic
            4ommqdf2uLNccVe15Hq2OIr5SWNEPmRIK0JE2k4VApipyIG0gt4BF2hqmxYp
            Ck7AafCuH+/7x/vbKSjQVWew6x361KIqiLd86UB4JGosKrMDXopjcDXp1SIT
            /biyAj2qFxk7D3xXGXCOts8XDb6CvNZYhrESqigg6oMakSD7QptA6lXYBpo9
            3s/jeH/zmTHNtKITWZ77HbUY2KCTOBWMc2MoNpa7gxnW1/2bKOPl/8rIIyKg
            bDFRRt7YWGAc+xUod70Ucas32YGbYvJud7RsTYQ5iXvPFkepLaTdY5osUkdl
            K8jISTFJHZYMHbtXVlI7r+eghkBbm/UjA+/oaoGsZ3KWSTdfEvuwk65sTy9G
            nt6c/SXtn+zHGKFDJ6zcyx2l3BrvwSgUcWutm+KPFnmM5pEZCTdKPe1Nxb37
            HfviidSEkuo8/abxYPUWB46pIDOT2TXlvE9ujyXssZQRlxRneAMCAJSsk+gE
            YDC6UbpcHjFGastBK4B/VEj8wUCggDeyTsNWK1pkRdgF7uq2cHje9Bzgm7EV
            3L1CvGJytMtgshaL8RmFiCkaoGgb+7yRH/i7ST87476ZCbcw/JA6iwE4nZhW
            TkalqhjzTgbxXrE1PQ3vbAF6544fVAXfgenM+ra4TDTaed9/LnS/HnCjUfHp
            MfmLwkpNfsTidC0OA8fr2c8Nwfg3shwlqAVapoXm+Y59n+HtLXqgjD+89YVK
            NZ5khlrxtOYPSkVmJ4jmHm1VtssY604qkLucb/OUSBUPrihQ731rs693P5hX
            +H3aAHyBGGxxmlPUKPIqpZFf5nFl4iK5ZD9+PuG9g4N/72DKK3CeX4bqQm4A
            Gh7AsHZS22HK6LDRoNH8U6YEIb4mx7ieIo8toGkgo2c4TmZX6XHSM9F6A7/J
            nR6YTvURDT1scCBN582vmlb2EgIeOm0ccNy4wz1rJEYHNT+jPPvLg63v56Mz
            151yM2QFRC0KSJGIjwl9FZA1UmZCwA+80qx9fpOhf+TOjlnQfCnQ+IkTirHd
            kdpV7+8lFQQ+7HVPY3oymODbOPizMdtmQs215OOlTsb+qBJ5F1FvLiqW582Q
            ZJi4GLYFo6igti0XCd23j1jeIv7xqZ4+p4tqjB8nrJ1Oj4th8e03B8z5nIXG
            FzfDcnW6LDLXDhAGZrgvXJOVZ34a6fy1OHhn2stuvMkzqTCUHuXyO4qTNll6
            VtwLiZVRHlFQOOsFctsb5N47yRE9qUc3Ryzpvy6Q4pWm+fJMWNwsdza89TC2
            PN0UP9rnN//SfljvNk3ZhsGSz1FAUCZbX8CixkEnI41fC4Vd0F39uM8Mjfhx
            7wlWbFLIHnLgQJRzd0pHu4JLae11nGuiTI7vy4bBjPJJcMCYo2irm6nQVAIK
            cupMz1xLmP14JzwKEgXgJpMKDiX0lfiNWYRI5W2WghhH+QTxO+AhezKVsJhr
            vh/j4315FHOAGYCBZW46idHYnCnDByOvk1+4Z635roqwp4ie3mzFQTtmOmsQ
            d4MwC7RLC3QrX66Q7A4x4BrpiIa2O0+aIlZ10kLEOR20iy2OLJS112mL8bG6
            Lv51deXr3wychCU3e0vQ7TogsWn/XCJZGxkYS+oG+r4wBzzd47izQToOJeBz
            lGT3LU/abhm3hK9oP/nP3c9jyoWKAQu1pE2l+c8GNaCvad4B+sc59VeRNfic
            yq4D3gR+3ENjED0LG4cNLBoZ7s9yALEtUx4a13XA+zbNWjxU9Ns84FhpmcNi
            jk2vE9iaQCnmY9q4bOMVtPlz480TiZ5K2fu9+fwmCKaklfPO50gJtncZZyUa
            631+EIs2Cg6sJm0/6zgdmeamO/IeY/qXGKf5NVi+nXWZAqBQGBYVvQIdCYLd
            ATxA3CKkdDOMo+EL7mi2f3sNIDJ9DAWZV3uaJUIivcU4Civk9GOycHpyNY84
            Zdgza5zIb4HCo6ZUwblp2aO8024xl+jUJpU7oC1ckhXqXsz9bF22cCJqmIyp
            WXIjBmKNG2KA+hgJ2DBSdfHjXWeE3au8PCzwO/FeQt9kthV5k9KyVWaqRTIU
            zFRoni8lfUbvk4kqzXiaJnAQlcRCSi9wUtqcZA7BD4DvuZ0l374ZG/RR1j/f
            TJQ/Cpi88ihc8Iwdp0+J9wCCJgWL5ohFkb8yxU/pecEnkVX90A9dTOrMPG8W
            FLWNLKLCPZaMThYu+35e5UTFld7JfYhmOjYGKb0OuHdEOJJkV3lsK9LynkBF
            EtkBwy++n8RTWxqtnbXVB8OkG8PaTYMAG7gqMaS/DE6jLDxk9hUtPmSgpvJ8
            13X7btsnZ02FlaILoSVkOLKjKKuUt2hfUa+VS4A+D552hLJU9DISk1GsUztb
            LNP2x/h+mdZQAsAuiRY90Z5F5Rkd500raNICz0f0qWlye1XAn0NwNDIr+e06
            cQiQa4vwAffWZxYTQN1sqgEjYMZlQSlAFORPgkaJB6+3TcR45XkbnuNvj0Vf
            OB7SDaPmXMl+fdsKlMfCGtOehup1ZeC8qMzdNucktML9yguRtxb3MXANboc5
            bMqgRMiZIXu0wDSFsDkzYm0lF8wFOLFt+FHJwnphGEQXtr1YYEMEA0qFyk3q
            3bDEQUw+xBREOFfYhIUh5vOF3fZSSQBhubNbmu3CejbIS4GViTfeSimGDmeo
            lqOcc9Q1NrNro9BSpK3c9HEFbqTiUFYyTO/SRCFZEr9srhumeXxrX+WWzlyk
            VWIvSptNh6Vdu/VSafnbleGI4xSAyd7fywSwRv4PtdVq/lYaUlodzbWTBEgC
            M8S44peFqQmK80DTKjzbkQrp2CjAVl/OUtsQfKd6fDmpUoAZ6Vs0h7NsF9Ui
            B++sVCzHXXCbOJ0iGtlg0+OIcFR5BXa7c0trQTaPL+XVtqpx17HmsZ2+LvMX
            Oifo7HhGuFJ5OrlaiuR6ghRFv9OP0Uhy/67mUGU2dc4WMW4fITOmtN9UVV87
            YvBkCH4jhhLbYRfwTFG0puSqynpPeyPaYARaEL2yvdP7bbt4MJHTYk6Fk81k
            Kah5o9xKNlTRYiIQEA1jQpOMPOVqdysHe5X/SzL9B3mL6/FmI+e1ey0GeEDZ
            sNUIVCvQv3+ZHbAkyxTZXBKz6Ej3+vZa+FxwGUVcpZ1shEK+19sZlyeruzE6
            SZ4kdXAz92d6/Vj+Apyapt8r4DTSZV6pUNQOgVVnfIDL/P7f4n3gPpLPcfQX
            LmPmjyRw+5rA/iRmcF4SH0oIjAXa0nOewFEfTW785V3EQhyJvTyDlU/HFoKE
            1mdZxbaW9BPEEJ7fZ3HunVyRhco0HxmSvACKL+VRIAFet43BTWGgDcS1p4M0
            oUtDOyldzjEWloo8Sab/11Gem3TkEa6WdmsbibtPv5weRzsLmCxKxrue+3O9
            lq3ea8KnaOF8He+AkyozSR3CI3vPZqrxsPu/zaXkfXDzYFNKgpU/4A+b0rnM
            MMp3eWXm2qqJlxPUD1z9J5wcLY7bX3B5MWotKd0hY/L+CXEPUB+/Ie6rfSPu
            f4JEdXJoqjvNT7NKCqFQLLS6f/sC3aJ8zJrT0SNBXLvFuF5YkGzvuEHKMD7l
            Z64f+Q25USXMpnadi+YKM11pXbhxdtbet5PYR/IK5Qylq4lyZVhOhdMnfvdu
            JppRRBQvyxr7hk6Hz3Q5dFMxw2StNJmguy66RSZZLU2r46L5RknTjnPKsDDF
            wkgmxS4+L5XveZN5LHhSZcUf2aUOtfEocJ3lm2Fs5pHeA2fUQFDU7pX6KjPW
            wU4Kkd4Zc6/jbcCMhM2ycTAWzs4qxbDJQeZObjsxKZFku3t5mKKOKoLMsOKB
            GaCSZZ9SVnUZQ56sJUyREAGjcKgUeZGKEvng0NqTkwVCYCdanUAewfrNgHiV
            HoOByXJxqpJIZSYozQxw1NeOTs8rte2M+xhMGaicb9Xy2YU52rsvsuGR0Qvo
            984253o6oxWaypxpZmxxFIiABVIV6LDsSQzwg0KY5lF3MB+zQpFzUQTY8U82
            kMKQV8OMLMRvmJmKzKfsvu37ZPxL9vse+KpR43gzrYqZ4b5OzsJEzO15xlAe
            WzmVg6m3L0X8wOCnQjyOL6NDgrcyxsklTYd0pUfMppFlAC/dRzMTpt9WGObP
            6fZmEWFC1XY0b+i2vafZPz/izGBxSX3S4ZZRpZjlg3YUgTYHaSdKp/lxYa6h
            IhxOu6W2I8srEyMKMbu8IsIze72nTZtluN9pwZKsCs1xLluIk31KItXESs1u
            z1QOBAIj+Zlcy1IrFupRDnnbKG4Hjq72DkxrV0iK/XEFmeTzIGdcdzrz2/fN
            U2UsmkNNBcqyPsx9z3eRg+074dJlAVnb9aI4LQjDyW/qLP8z+3c2g3Kdk4Cb
            5kg7tk6fQcC8hdfU82MAjr2clQQ22P1NDtKSwm6t+KX6Pu3QG8vuw76P+77t
            9v70b7a9OOu3t4N+M9e//c8zqv4QD/Iv608GP3Xve3Jin+9pspfNL2iziLve
            jvv3SjgxXw1+d38aU/mz/kcH7P3r+z/GMeXL+xrCX95He3+e/3zfAh3F2Y+h
            v0g7gRBfpe5q4ztr+qP6FfbiJDJOlPxysoY5If5lsvKezHml39//TWfw8w4K
            7O3q7+3bZKX0+2DD/v5tQZ3+Un9Na/9x9df3AO75X/XvbBbvft8sf/fv7zZb
            rf/6/dzzc5ZrmMNuyraD4tfHgEme3dh5Ef+dwXIJ1O76fbLd3nnXn3beOTl/
            2Ln9+pv38W/e1795/zffD3+zGc9iufZfW+xs1jeJwbH+nZWv/2Tl/9sW+/mv
            LfZ/92SCulf/X2A1BIaqeF1f/RzWj5/l72AJaF+bc+3F+ezFqdweoDA02pNd
            177mB9Mw5B2mMMajhcbnkfYJ1DHva97XUuxanV19sfpgFe36WH1wE7rO3f7P
            ztPbkff4vv98fvrL5uWsPOzq931c+zngnbUbJSDo+/1q52rtxGTvqbb6nAdf
            QAikvy5KKS59zgN5hM/+vfp/Jv4vbVhAfBe/6+2s7qmO+gvi/AMilcWBUj3u
            K/10f+lMVRQ8RVbXtQe7zn29274f96ILui01wZlJnf+/po7+0wiirc8RPfA/
            njr6TyOIdm7qJG38/3Tq6D+NILo2QUA5xf946ug/jSC68l4c+uf8T6eO/tMI
            om4Ou2n26/9SR/9pBNHOTZ1WVoxPe7j2y6fa1UXm4lZ6Al3j1r3TLl3Ipud4
            Zws5wIQe0aceQgxKC0DfNK5j3Zm6iFDlZSA42T8H8zWHblMGTSFt+1+Ii1/+
            nZN3L8XmtzgTQd8T1TSC3Wsqw+dk271jqiIGt0xBmyYwU6AiqX2Xl7U0E56H
            WyGXS1rziz+h9O6TJKbZMBdn3dJiLGbM5KIq7wCuZddPMkG9wpjKB+72ybkV
            AKOt9PmRVcLXzpqMQz9ITdjznqz805aSOLs1y28fucPMn+3ieH+1u0oMv+28
            +cz52e5Nae/nJLT5fN57miHoxK7LBh39NxhbCu59BSuXk5Vb8b9CMP/3/6tb
            E3qfJCL/999/zr97M6HP/L9z8R/3z1EqnRQh/f9/nZ+062I8o6172xwzUwqF
            9qL7vEyUr8Kwf2fUz/O//9f/AzyrH7Y= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
