<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.145f.01a3</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.145f.01a3</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>145f_01a3</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Trust Bluetooth 4.0 Adapter</string>
        <key>FirmwareKey</key>
        <string>145f_01a3_v5579</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>419</integer>
        <key>idVendor</key>
        <integer>5215</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>145f_01a3_v5579</key>
          <data>
            eNq8fVuy5Lqu3L8jPBfxTfqPoqT5D8mZCVBVa3Xve7Z9He591lGVSk8SxBuJ
            /3XEg/8y/sYT/uf/+F+xH/YvHPhUB//lePB/9xmei4c+/g8fqx08jyM2Xivq
            I68xjh//woWLP6f9mEPAYTm2WJ8aaq4J24t3qauVWlrG9wf/37Ev43utA8cU
            XLXjwY4j5ZVwHfylgqdouHPDry3hLx96KTzxUZft55ncXx/70+duxyUef2N7
            +Hm4fuXv2LbDjy12j7J09zDS4XfhP1wJ3wK/4n51Jg4KHi0E+/083kGywfYT
            i2/3iO8Rq76/+Xb5/su30fcn39bBR1nnUcqlg2fNd7W79j56jmWmlFN5eIu0
            oo0h5zw/DWdMjsnoofJRFp7+SUfEtY5aj8RxWTjvDkfkmGEMEt9w4Yc7Yh9e
            qyTsw51X9OPwOd8YWtxnYeyuCvLAYxsJhJg0DBMHJLvQunHA0NCk3O2kRVrB
            b4nHYYIW9p8P9uEm6fR9OOdc2IeXSQ3EEDWeHTP3+a/6f8X/i+u4cfzIDz4Y
            NWs6bpvRdHztJ8FosvkP1P+9v9rxvf+8jg8tbvNzfx62vx2/jj9t5tuv5wFR
            ioCuju9f+2sMw8jh1/EaDY7Tz/2p96Ljfz1PWEuUt9bXe+lBjSDLr+M3vcdf
            9w0j6jlv3/8h6E2+n+PnMhKI4f5JyyP3h+dt1nLYQgNVfvZvvqTjl+3fZ2h5
            4b/raKcOyvjWfw9oMnb168Ximrdd+df+ObX0wq+JmdGeOvy6frjsZcLvgbtC
            +dvA9dK1pOOv6/dknCP+SVjaP34RRLqz9q8UxIfqCDn01vG2OWKFVeNjAaui
            5pnA2OM45hI3wIkPlvz9kEuNB8deQeTIEcSqrmfIXHHYzijWL8HQj0k2eXDJ
            rOc+5sPRxiJ7KCe49x9/v04jgSQqtoOTzXaPV9Xq4crCJSKYSpn1bld3qvq3
            f5iyJ3Rwhfk8NRz/+M+Pi//uOM79vzqu/Mvjzn953PWfjssiBrDn2M7/h/vG
            f9pnM/Y8/0czhnOMBDLptZtK8OPPp6XztePx76Yvp385ffU/Htf/5XHnv7tv
            OP7Te+R3ar+G+//Dvl6DqTxJMqvbNPObL8hDHCaEtALEI3QxzlmMYAXvJ4ji
            fIJbnFj5J0TliV/Ogj9wn7PhD9rRCdF3Tvzx2IU/6ClGAoWSFDtu/D1Hpt6w
            cDEoEtDw8IeLQRfIUErywsUgsTKkXF64GBSevHCxBZ0U+kMGQ8vgpxkMLFOX
            vHD+hfMvnA8qzRfOvzroa0nmmoyeYnb6dq/vbynHS996EJMuHI3ArxD+1Rhz
            pgpGleo4obiA7T9Pg1yC9nSudj8NAuXECcZOO5RIqpR4zBnIEsn87HyeN9vz
            9PS0lp7hS4tCI57Hdeo86Gjxfi4oaeTNlefFjnviPvF8bn4uj5TYcASoQiOs
            FMPVB56pkf1qpFPPJnnxjHivs/ygwx6a5H+3Yzo0xhnxPJ3aBjRBPRkuEx/q
            Ypefc0lZyKa29guiJOG9bwlcG9FwZr5jHRQfGJsI3f6JzUigciie5RfjA9XS
            bfXxYnfFA1TpgnMP1qga5Mumat3p9Kl6pEd102AoJnGrSwbDkfX4s9Q8ekzh
            KolTtl8HSlnrHCZdETOxr8jn6evoIpcOGn0yJg/PM1f+TN5+np54/DhzkzVU
            Mdnteq6I489ox2NKcwy1Qx3EYEMSQ9Gu/h2kjeuENUAIz0U96Vw6BrT40Bgj
            gcRnapvfScVy9InEoy0Sx49J1THnytm0lONvx1RO/AI5yRAqmHiof6Nw4rs9
            dyOxVIwYjgqFIxdP0BdocXYqwZnkeOF7se+R3wdUnxlHoDzoPA+0gmuv+Ui7
            D8VIoGF5gcvg5MQ3vagW5gAxgFUQOKE4OOnEZice9QoxhhVJ5RiwOZ+WTlJX
            lCZKZQsPfAWuuv4OwgV10nRbMvkcz79Q/13JITKNGkze5AqmJpN/UH/7UD/3
            PpWcRuMIArnxHJNGJJjk1yrFAr/bEFfgYCTx2H7VfV4KOI/G5m3n8dh181je
            NFANmKZP5/rnBJJQMSTZjEqSfiy2cFq06+nZwwO9eS+cK+fiZE5VELwBxh3J
            FuogmNmSLV+N14yTo1bGDYE2AnjOEm9rFHI1P7bgQGE3l0fXgqvfI/Z8Rozn
            lLQeI9nbSKBvhnNnvTKv1r4vkN4LRL5HXRn6JBkjaRXDJMsv+zmFogiSqEAy
            lDbywAsuWk6hkjmHUXIHyYzGt8zQaVLmPbHQk91bDwnCa2uv40kzCb/N/PO5
            PqRAcgr9oqQzs5DM8+ZKCQskzHOmCQoo+MZ5Bt51Yo0HkHSi8MI1sAxAK62A
            8WpLgSDOBkNrPS9jDuFZQV4EvzaYLPaDPdDEPnV9WBYdJNzuxhGmQAnzzjNq
            jU9OyTMpUOq+xuHPwWdrj6ljEcsSy2ri2pjoi9s0ORYaI9yoTo0RePUzbfLP
            vq/3x9wlGZ65xX3O6Mt1gU730HMGMWCwQ1Hmmbm+SdrmN3jotACBnGtAitTw
            Co4mA2zhYUgUpOBohHTmfG5GfV1UaPbDaEHcpUMh8ofJTsm3n3PwNywaMJ62
            j+nrmVVcCOoKr7sZ40PGTQnc+juQZxuFxA0ZHaGZQBhAC+E6JyPFm0GFgqS+
            DjDUk4INA9jkZoEugvM3f1sVEzueO6Xa79QoONLkFqQN5mH3o/aD3yOtXLIH
            enJoZ2Mb+R0MtdMHIQ9LjGeHkAFRkwy4CG5Mi0xtSApfBIV8dPQpzwikN34z
            4TeyvbvmY/oi0ByAX68gew7azAGVZPFaY36OTwXHLxBR39pRxKsZCYyH5sQ6
            7YZYQZerShBxazNTXeR8OlZvixdXBwkDimgGb/VJOqkqSY3LpsZBrtwdEhRE
            k+5n8joxfOQ/90MXnbbSYh6wife18BxPkOPGr/XYKn6J8TFihFTuTox8nhK+
            VuvJgaPTqds1uCpz08rmoGEBlrQZNzigOM1DH5oTLlbrs1fRiNI/0jZ1A0eA
            V2kTz8unhjZz3DeWEnkaPaDiD4OOhZWmK6qB5hx9gZCS+I6v1F3bmfeS0tD0
            RCU8mNixt/4tMiP0BAgS3jfSM+YCYDWJTBCYRDN0uZbL+8azkr/7s0L3X2sa
            CUyNNd+M/MppBm9/6uHuLXXi2XrJukCg4fDIHRSy3xTHJqhzHXKX9/ZzsOZK
            2+cc1R40rM859bBzchQp8JwLBkjf59RpUxO/7oPrPDxnjvfZbqrDe0Dwp/vk
            /BkQKLU3B2R8SOBJed7bQki3iUSQdHal0cig8YZ7rZEC6m2uY3pzpBDiLT/P
            dkETr6ag7nPC2ecr1EK19Xl3uw/1FFynU8GUG8vOiVDvzj1Z6bH7QCK885Od
            eO7x3ieBjYx9DnQRvU/4mlM8F12b7Tr3fcIwEjjvJQPMXaAU+M9pzDzsm2If
            Xq6TocbIyScPSOVcZmZxGUe8SDCXa/V1W7aZdpEJP+eVGh7yrJ3m2tXczyZJ
            nmpapwkGaP140mUr3ifk+UhyDpq0FpOWh/hBfhjcOH98fldMajPXtAUVGbvW
            +8zPHpwbggDv0K5bBHIpoNA//OR2H+C1/JwvnjQ7JgH3JY/B0u7G09Ko6+5b
            2YTkP7nO7vk5PzlvncHOh9G/qITm9BIC9BcQF8fkEY/VokvfiwHngoDaunTf
            Qlc9hPK53xXXm7Lm4mceoRyahsB7BCOBdTdZqTDu72s/dJxmi8b+ORlq0JBW
            nUUEnDjwMwiCYBwMAzCC3Ar2kHxREQCJZkvpR2bWwcWFezz6DgmdUz2575Ja
            03CxhPHKIimsEA7AINmCG7i6AwLrRlDQm7kFp/Dv0b6H279f9j2njJG3z8mP
            pbrFFaD4CI9h7OCUVnFSBsXHjstfx+B6M0D6U9so1FmgBaQJNfjU/uMMMh2v
            k4LqfAa3ILKl72TZV8Rh0AwwphCqE5/nOOqryYyh8xgDJGddeK+Ovxlouga9
            56xuWi46k81pD5oMuM4QkUErVAQQMy3/gNjIzamcms+Quf90ErjuaJEB+xHU
            y+AN1RF977AmxYbOJn08+TYUmwwYnc3YrW3LMm1lZBCbvOfmQa/+MPlQWAoK
            E25w87niMn2/872gz59R9ysmHLtvw7KXCNm23SMZh98n+PV3WGZlu+5atr38
            Pqv797y3tsLP5YN1WQBm+XcohRJFtJlLbvXKth9vqP1Q53QdnyDY5TZZDPPp
            M4jlkKron23LAZU6+J+ei85DjPojr6AvCHCoQQMUYrhadOEsWDAy33tqtG9A
            rloyifG6GWAs0fbAfenEoJZH9fVyXeC+LlP9sLPvH39/j0sOycELnZSpUAlx
            4Y6/RU0J27GCbTEQkVsIvsCb92TbhW0QC5JOh0k5FdSFsQNiuo8/lZ6MNUqX
            5iHHY+smE/Hizyt780dl83Pw1lVRwBKkS58mr3vY54CbP/N+ZS8joqnkoqg7
            DEIqdVosUOF1DngZrFt6HKDnxO2E0nnQHSEr+XxQYecFls7zbjtPK4HqajqP
            n5Z5Ljd9NzyP7jPXq+78dd4Pg07ngL/TBWz3GtVENRZS/AcjEEwgt2utY49f
            jcalJxeNxqJ0I4HnEvWkixFssDpQE6zBPp4vQ+swCxX6eSPlgptebsDwRh0c
            ZL0PR8VqkYrtRq8ej8EgKyz3a1Dy3DHX59zLz62r57+dG95zyUnyTGuF/YL5
            wAvSV3n4fQeE1BOhjR2ctjQuZgVcqVy4CvafUMBOKaga4HPweRKDzo8FWhWJ
            7+UltvhNbBpgSm+5eehjp8XOpwX3M2sgjyCZ7/rQneQ8M2uf4q84YfBzjZCA
            eJ6+7SNYsv0zLlAG5GOFlmh6FiTwtjA4Lk99prblmR/LIt9SvPM/OrRwvEgg
            YFgUmABZtblfaLqZsXI3d0xWFKhVPczWkAsDyHGfM3yVgoW2d8XN36u0hLqm
            Vn+GwlKdmtPqY5+TJyOv7zmFaxNElvY5kLNLnrfV1z7nlhG5OQyMvTU9rwDj
            fj0/Q+YioJJJutsoDNCSFS6Ldk1M1qnJYuCtNwkuOrFxn7PGKoe2AstSHgvY
            8LIJowu7GQsftbtR3UTAUCyfl6jDVsr0vHVRHeA4yn9U+58u5mJKLb03d0xP
            SenXhPKYfmVLaxlBpqJcWGe355CnJ4/xGtZHMYsASjYfF3OZYwV7PPo2tQp2
            QgdzdgUr29lwv95YwfPcP1lcmTc5xIfFDWNX4/gHhyUn+KQKJC0W5yj1ghOc
            x6v5ntFdS3b8qv2246d8aZeOn5/j13s80yfKNfPn+Bvsn55syJ5Xad0rdVVX
            UGeMtD7o8zvO7d8r991H3e9W0nNT3I9o19neE4wfSKzdUigDvcEyEQe3Z90B
            KI0VLn5bVgKeq7mJWSBJv9+jFSmRlxFbPSoM/S8XuvSpsuycerSLvuZKz+2j
            4NQzF4jv2KYjRHH2TIjB+I+RQGR2yxz2AHV+HuDmA1Q8g2zcyFtAw2z3pjKM
            2mS6WYt2DvSjwoEIQXEELSn5zrCSehcbvyr9U/E3Z6jppinjsng4G4ZgfNkw
            CNBWuc6hn67CgoeiRNadRDiDawcCrGwFid6Ejvsp8GGO4EQdDjYSWBdWOKzg
            QQcNBxKrHBZbg0l80UIJjNRdH+sg8D2wVMMh5a4frv3b1i0I0hyOz8O/Q7vP
            9Lw+jBymwHtkKfAxDDIgavcgPr5XphiSPmDK+1zFuOO0fEHjBLWASuWbweXW
            kX5F0nvhuNST/iT6BzAuNT8jy1ll46LI5PX6NqORQFr54+iMIpiDU6ko1C3h
            duyXhHIsGuj5DF0mFbMTw6A3fD19LDmTFkl5m1w4TtrvyVQzaRVLL/n4y+6X
            Nt2gQtc4hzzplzgGbR+caS/w+hbpt6i4EOXf3J782k9yIJ5LQr+NDeJ9y44Q
            SixQ+WQEkLwk0c0uk82dphXTl2UkjyLdpEvB60Niirb8Q7M4PLNOEfXj5825
            PuetYeflaOdFPw9msM5LTefxfU8Y4+eOgsoBILPaztMhrgs1EGjpbxibk42J
            K+d2CjfqIsreHB4iAoVHW4A3RBXn8k4MFRp3AhVh7o0EKL74Y6EHGat7+sNd
            5ZhtKySKwC3KfJPzGoxHYZChBRDk+X58Vd+l+7nidCbvy5eOgFmSAqNwjdg1
            vTlJyaB0xsC0u8muYb6/8e7kclTRPsa8GTYZz0mnDBiLO3Vw6QVKJyFQbzid
            VdbPdTSoD8Nbp9wok3b8vVklmALNYSckZfiRO+7ncCIi4SQRDhXDFhes/n1P
            CLqTTwoBrHNeLtEYjfX704kkzsRQ1aVnwBif3CrJ7lWYQS9MAPFrJ1eYn/d5
            YoonE3IfZkd2nn+uraM08DNLZSVH4JO5OWuRGCj/IIEL0pXxtUuJa7HhIgwD
            QcaThVIDNIpr0LDOc6/O+/L8n9svFkBuScrTzRfitcrJgaq6XqebF2uYn/Xy
            ds0KdvSyrH5h1XKoql1TihPW9RFMgQmnh6mYJ4D34/NVEAC3LW153dpY59rP
            Sc8U5XXy5wwKjV+ahDzcw8gJiHI361kvD1lhFVOUXMtiqcEnBErcPDeBFAw6
            J+RePg7FJ5imYDkXCWXce2E06FbghP5s6zA9KeCNvvUkjT+4X7Eg20UvFtgJ
            FWguJGggyjqwMG9UZgkjZnnpvzNfZv5j+/PzbZ/lIIQEp1EUaQQylMrcb9oA
            49Eaw+NNPc6l7ICkBBC6GQ4Fb065bUn/WKsPHjnT/VGgU8q4zmekj61kRdcg
            bKqZmvpO/5wkKaWhgpGSZrhH4O+NWVAQIGHBRE358HOYBRX8c/h85nEh/uNx
            XcdGP5aSE5/275Bffl6z6wTc8LHfsD1/XPPz+U7hj/voPf/2fPxcz9q4VUSz
            hQsmTMZzQJzDmMDnMfRc1NLowcrpzueVmPtDI92f3XKVBuQ1rweTgWUB0/J9
            4qAUca8yT5pSX+is7DfWl32v3bcigPt+zAsw7Fhq+lxbQRLwLOA6XZ58SHB+
            hrozVq+i7UFmy1SQPG7LALKkq3OZlD+HJ2EdFv6EnmRui7XkX1SZgEohplwg
            0HS0Dp5hCVGVYkBOI/NHYgU0rZM7u4fQ7rvTs7s/x06/7t2+92Xbna49/Lxy
            m5mIVWXXY3RRuQq2HYdtm+/n4nbPpH2fdp/mx/dsW9iIxdLO7ftOMx/+fDWG
            atnGPm5XkqTHXJbvNPQ0zOpv/vz18vyIbuMFxSKaZvGsbLp8nMp6oZO1e8KF
            D+5NKbPtML7csAyVZnqyRAlzDUFXMBJuKCU4hAwN9HrR/RliGeSXZxmRq/Us
            gQmaGZJlyU4Po0SpezXFnGKLZYJlTVgIAZSh3EdwB9YkwEzoI8brLldq7hTN
            y/Tfx53SB9U4k2xyP322et5OOTPBG3BtfFZe4g0WNCCR6LKanvQxpeZUbGHR
            K5rB5It0W4aioj/ahu/8ps8C+Nxf9gQkeMi2UFhLMk8FXkFG4Q4sIrnN+fo6
            Yw9teW05aaGfpMXt0nGB50N43BRw/JzolqK6/LUIe4BpP5gkCBG8qEpnnt/l
            CoLhpWdX3kHKRgInpe79Prj8P04xna4Nc+lAN8Vx9Uuvp8FW7DskTi2cdPMo
            H/90vTRWspSks0CQcyIw9VwvOUExAaVAnTj14EWq95L9EDTomCCIW2och/QR
            TgrYGwb0ks+RjokoB/BqFG6BThcIFLx4wsSSPs4SZ6RLGRMcMZnyV4MwVmL6
            LLbYX+uVImyW1bHvwmdcHlraTMeFK0SF5G4SCF1yuF7o2OK5As6haBRznDnG
            RmKxzwWDHhkfzg/DZzdz7fmspwzuu0m0Vnxe9hk3hbpinxs/V/t8nQwG2mfY
            T5h1+6xMjetmABxT8FzntM8ND3s2+zyhqkKWtwHD+kz4HG5oQUYCDFDo4WD9
            rXnbRWF4gMruFrrYORc3RN9VQpNVi7nKMFHpracMbFenigT1/7mwymSttrJj
            eQWrKNgq4mQyAMn0BsoTes1OGZBMubouiFOtPiZZMYtCVreehxksyT4npS3q
            eh5sNYJL3+KIVJ5NFJEQS5Yfh+EeCwuNKPUpgN9b0ptzDMaPYh7dzwOruFyt
            nJt4mSVEu2cyCgBtmcYa1ckE/QdW1+AzqWSqwtit7r2nyshEyJxB3soCSjWR
            wURocjmJvTQ/vuv4FMkN7L0ucZSsDKyDztcFftpW3t4FxslpELbGOGy3/ZOx
            ezmB40dfwjXpQcCA9FYvqwaEtko+RFmtl6ZiyNRbv+HgRFQl2IslRebU4JnL
            PFu6T3IiuyG02UbnFSaZTlHq5w0vD8mnCUoTFuAN8yorjReLHauCScihSc8X
            m6pN1xqBdmqAPRni5lAhNpgmeIN0w5A8pQzCks1pMSUc28cK4mp5SKQYhkQb
            kSsciwEcKgU/B4MHIk1Uysr4ul+8FH0fFYZVfsZ51iFuRzMF98MxNZ04BsoB
            VLdKBfhO7ZQT+LqOPS71ZLpapMsc/9+7EzfHajHji0IcY3dtA282ThDZdWFk
            9Wzd3ksLpoqbhXuwAvLrN9Xf4T2eaLF4fNbL6bzBiEbG30qPu54CCalFD0Tr
            fQuj32bRx3uZP7irmlSqFOWlURwHBAbOmaEF3SpcsBCFHpwZwLMUWab5ChiQ
            5QmUrKWjY3E9qc1XbOC6+B6l5QcFBSAGslUz4kXP8EVgo6VYbYLk9AAH4upi
            Nv0FouFEeGT/OJn8TMUTE0iiom8hHdXeJx2siOoLphcHAcN2ixiTTdTxSKaH
            1JtyVcL23fHs/vVOhZzJxB4msOzPNz+HL0J67Dk5bvFSjsbxEu/ZYuOfefpX
            TcpiFJGVyVAULGs8m8cEPxxtLPn2hit4qhEhR3MOdbiCHLoFoDfHu1zBxkZe
            jXGfrPcg09D1Hoy1kcAjh6ntrLYVu2PECpyAWbDrfFjS2hSWChqQzyCSIEAc
            45YH4E6/rAMGiMWSwXpWUInG2mxakfEsH6F8fxC6Fx9y+ssu8/TS92cvSWvj
            yaRuGGEWfMZnsV5e+wyY/JvkAP2YWTabfeJlwfcmlkvBSoCZBybQLX5Zmcxu
            Sa6BhBsZJ6uBhhUz4UncJ3+nYjiYfMUEmAGOBRnSccNxM4v0YjxJkXx5HPAa
            LAGZJ+v9Go0BTkmiR6zBtCwjHPuadMUwVUH7Mf/vuBZWU36IhMkwyvovl1Im
            z477wiavsw8pqngPENBwp7LeiZw4MQoBTnxOxTgnMxDHIa/I8AqAxHg7Fa/E
            8gRY5GlGGCxnuajISBmLUgbTfgitiGyrQBXquFhU3Az6YFd2bKYTNl8+AIc7
            jCMTqaQ0V4q3l43iBSH3Lil/uHZidQEnpVC5itLKe3/G98q4+rsizATLRjyM
            tphpGIM7kC11xIkRMm0wuZwEQ7MogDCxT0TI35idQGL8sQgmRBp9YtQcOfkY
            I7BtE1+cEOdOZTzn/jyCRvbHYjgwJjCuwzpfPx/rtKbnFoW+99NlhWuY/8Ss
            n8jE3CKrx0rJ/b0zowbutaeONSuJ9Et3wO3GBMFL1DS6E8itzGKbivF1TNOZ
            NuUc0JNFPZfiQlMvBEoq5fOZabf7c12PgpLt1Oq+wx68IIUoaABPsW6txHBD
            a2ZcOBWmZ0Nps5AQlbxKhyRk3w0ZPFipPGFPetIWZds+dgePQ7z1QpSDSj/G
            Ft8DzF48gsnW9/mZrVw5hpGZDFD2YM13q0RiluAVNWEabMiM5nk3YqfB6mZT
            LF+UREcHQ+CkpMFqs5lP7DPPGXkADJB11ikZ1qDUjIw11JUhlsU+tHLWt7JT
            mFkcmhSyU7ACnGab8SfbjG8eP3z7arGYAhUSNnNUUqvtYq1un16WV582ZWCt
            VIZzoOyVpIztEqDosD6cqdvKf8cqP0GJJ6PTDOczdbuqKCrQegjFNHrGMGQ/
            UwwwUMm8ncePY8EE06rzfRizymBaBQOg/FMwG79HNo2Z6TLYBxafHdXiUsTh
            umT7kn+V6IlN1EN4Lo3kGN9zcrxBKMFjWKkNfT7N3qZdzdwdkhEJczIF1BVR
            jBEUSFfSYPyxeET3htEMEmhQPpgr/tykKFZ4YFmFUJWUeRSmK1DXZXiE1Sf+
            EhqgiMFYSgPBJMKkYlqhZIMpUBZIBJV3e7gbL+srUGkBP1gJXbXXx8whxT7Z
            Cgcis8GlMBi7wEo5VaTvhQX82B5V3jw/nD/MWZKH2c63o3DyLw9dNuMhpctX
            ArWqw7Ux2+KZk5XScGX020LtqnLw9D5KAUuyP1UAIn8nnUsKkdNeHBBmyiAz
            OSKdfgQJEMziZJlkUXTyoklR7zu+qvUQRUPvHfKLUmODtgXLi44SU6NjUuiJ
            wfLx5qEGhSMGNbTZnjuylP+KDMGRNU4IA4bPp0eJw3BhizWNKcCbUSk5iwR2
            xu8wIzpWPgThBRaNZxvxTJdwVnqY0jwhmHGdiueLn+c7/PmYZQfz4+geJG1b
            aWFk+jKNunteq7agdP9uHMi3Uba0O3P4jv/inqo3TvaeLOCSXIpus+M2RgIs
            8rWYiB1c/Ab+8oPVpceFEblDiDbIwY/nIMNEvepkdhUlqEKvvV2aiMSBYyCA
            aC+VDsdlLzg6M7cj9+nFfct7MaqSRYT4XndpDq5RPRnYSpgGFkY7fF/fv/3+
            jidZYVpNZfXEYN8e/6++l8O/J3tW3+p7vG7bz+OKHxd/fQ+/vh8/v5fn5/cA
            FY2uT/ETJpKfoIFJP/p1FR/HdPu5056pGAulvYztbVscN11zLPTAWWAAB5nX
            qOflJzW/iAcHJpY69Sa5FsPlKji9QWXVh/wxcx+UwNuOjaCdJ4Y+abQfTYUW
            +Iz9+b0OiBNMgJYTnahLKcT83Jljcdz1sOse3a4dmfFdv4gJ/O/a7s2D0VU8
            T/w7USkT3IkqeAY5VyE91Gmzb9+f1q/v56/vHmgxuVT3GELJ8e/91/f263wn
            2MPHPmGSKzh+9UThrf3ey+y+a3kgZZeNeQJ0du24MzrdP7g51e3KzbHP3j2R
            yK+zPDUIdqwC1x7F0MnNv29Qmh2FWX7xHXXZoDg7KrNBdXb0ZWdt7+jMzn6O
            O1pz7K0dl/w6OxrzRl12lCb/jMLsqFToOyq0o0W+9d/jfl6P0pyelZ27Dcbp
            g7l21nb+mb39O9v8zebe2d3+u4jSucDw1e9bhxYYED5k83VGF5VUoqz2DXt4
            h6qAx5JNyCT1VPsrFqHB7RyeLuVpQN8Ql7ViReXpSBGNFA3b03Yd5mmTiJB6
            NQadJM25QKOOY8kiVjvRHnsJHThUuweDzV5oX9T0BaYVcn6wDqB/QhW036O7
            97CdxDb7fulkLw1bq7etbwT3PLGqkjgH9CEFM8ibyTciSAw6KaAqsUpz7Iyt
            Si8V9BUmMrEseTYHSqP7c7qv1V2b+lzl0cIdQV7RTSYTLZ0RnEK3Z1Gte5OK
            U108MupUxyk2TduDftoBEZqGKYHUY0oNco0yd9TFlXA86ANnFopz0dZr3LI6
            MR7dE7hioNchQuuB8sn8DAZROP545kdsenSoVdSthJWE/dL5oXdFxtenfgM/
            AdEJy4gl3Hw2EgjLtmGyzzrAipfcVHJvRtcFlJZ0xUyNNxGshiXDeOtIRJOc
            ToYM6dWH1M/ZxYQ76rkbrLUzXftkXUMYO7McI1jDXcDEa5MyxwE5BGzSlC3F
            0r9yarAErfLtIABLPcVWe5uw89ZmsVopZvaYs8uJkUU3JBgV4tA1ye9BYoSm
            HhR/86n6ticnZPlyuIow8SnaudIhXAREl6na4r3j89HcaaRDmi2KJSqXfM5d
            yUZCYOIIlbFXUXXdCQO8Ytt6g5RSKdy41pRI/aoxYd3JEUxU4T56BxHZlNmT
            dnEUAbpAVAHXg3XFFRNlOFpKpSmDR9oLYpu50WzjeqfB1CC+1GbHO5i92Wb1
            Ipld1HNl821G/x6Y2s+4NMfCTBWZK4OYVMqssutumbZlXfcin9PZK8ZG5bU7
            OL8x4s68f3eLyLHXXlnoMm/LxC0rQ7fiomZO8zSJttcUzzTTpTImyigDIR8i
            DH0Qv5zghengCv30uYvDcUA0h7jUf2X9MDfRqZKeank5JpehZn0ogeJr/7X3
            Q+PuyUJw3I+ZnhuxhKtjNcxypNNSmUVDHhkcV2I1n6El3vbv463CVKukzg7r
            SzBpeOZwqW447HOTncOoPs97ynPPu1M3H15PgUMr2aRMH7DXxOOZiodVe+3P
            gQgLgoDDc3SyY5xP1BO8W8X56bSCeQUJCMqRnpvZKiswRELd7jrmlnE0OfEs
            V2EhPzjDek5/l07vIBYLKNieJ4Jb/b5XvH/ea3a8E7PSeAzDkmGTwCkDsmfl
            E9uAy1eZWjkUiG50Yg7JxGwTdYSv4xmIbool6ga4p53LpTp9gKOykPVCxCzi
            cR08LlyvXAty549DqfmB8mrkOi6rKRSbqI7YgvuFZjVy2sau/A4QbOvUqi2p
            159zwOZn/e+V0iMPi9xouj/YbWeKOlnnLSigMSvNJ2q8OKk2DGSzTAm6N39E
            Mszp38HSt9OCSWjf2ipUf6vw9rjr5gxCexQHsC1UbuU0supsJl2z7MwP7Jtj
            y14QhNhfl+NIiIIcOzwqFRn6G2ZRWR7HEToHxmKQ4PCE4/RoEMmcNDPBWiPf
            00hgEQGUO6GYaLui2ZgQoUz3Fr+1z/X4vVV8NVruo7A+JAPxYM0ApX6ml5zl
            zRP82k/ZARaY+rMT7vbnenxtl3Ed5TcyKPl/PTgetmOw/CCWUN8Fs9zhMrS7
            1trTRw5Ce3mzvL/lLZRE1vmZdptcaTSb/r8zgYQyKq1ZmeKOntCDphV9PieV
            RksgsFAn94OozxaNi+9jO7gHq6kxiDO4Q71qPJt7gxmDO/Riyuaplw82iQB6
            Icmb30v6bww6y1LKBb3QBW80b03xCa4CDAWXhoB/wASW6gVoKkBx6tofbno/
            gxQwbqGS6TgeE8m1ZONSUfCQmRzUDjZVCkue3StHDxxNBWZHxvmEsRpxV/i+
            OCWWYO+bb3nuuqPnZqgo9DQr1yBSBnNCSoSQ9kwPaokTnGayiiox4s/3VD4W
            f4NSOd08ydmVMt6TjJqFeYE+gUkbXQF/plsk3vPZoTTsSuMOymVhPBxWRZ2s
            +L7phT35urDXieE2abf3Racjs+QxNrNcFEEhFWafBYoeDCoWkpHATT21Mwbv
            4ZzENDWqR1srA1tOcmVSpZScUxp3XBjwdhOtRVps6hufmcVRRA71CffrVj8P
            ul2mttP4HUSJoQTroQN+bMfK4XFL3N1WnYLGtN+o5eI85iZRN8PrrO+sSsva
            52K04HHeilex4xglUI4YU32Yxdn9+GzHp+5bDz5ffr28r+e/Z/997OptL0Xf
            ipm5XFV9He13R3dm0iSfpyXVY1/Zrt8OS13YVeaQcHbeMt/24ffBCFXL2rTt
            5c8fNrarP2/Mdp/LxRPdRmOH+5hU2IiHuNwB8gj8IjPBq/ikpFSfCzqqJiAr
            nUUlDnsSaM/NYCzymQQmI2RWSgoeX5LBYFGJUeu5085B2yvZKuiK2WOSn2G2
            JRP6norrVKrOdp0gdZ12aCLYd/dsRiwerl75hKcX77bOcrRgKwX7W/7+nmJL
            yuG4W58qMLDrc3XGcUbYnqW3IRs2uEJ52PMy/xRUcjGw3QzuZhETV4SIa9Ku
            52qN5BBTOA1Qz2jc+VhwnsEDsY+IAyyhDcnH+MekwKxMO/8qEe8OKtOgxX8w
            Pfa22MHgULzc4uUO9AH8wn3Ad/6+ZPdX3qsvppUQk5MrqPpzNwuGZHEnspzM
            nATp519Zk/1ScaUgdB7m6LNyBAyP7jwniHDe23mSwZM0ICezKi4hFdG/0s1x
            IJYvLAH+xuzA4vbk9vdKo81X3PdUudpGRyGrtozOg/f3PCgNQKboKj9t6Gdb
            OY9lURhmNMXnkALICqfCXGBq2JnlB7jOlAIlRZeBDjos+Kyh2HtkSyY8tPX3
            IHyPWDv3ux2+30N2/iOEKL1HOO090mXvkT3sJzv5rDeD2yBO2q+YdXBBPz/7
            +SSe/Uws5sSA92T4DNKhYMOb/mZxCEGRxOdrPuUPG1KGqcEbCYQgBB8ykeQP
            5BRHmTR5kcQq60zYFK1elk4Ez4cim8qHCpeIuXgzhvQj7ZbHRTkwslyBzJtS
            jpTBMf2YNBj/Y32oO8gZUxWhMbA7mjKq7ROoBcVUFKwVpc40X3ewbEJzUqzP
            s9AcZOYH9IdzUd5mLu7KhBbITObREeyC6Rv1vOg9wOKXGMPaJrHLaZDk1rTP
            kMwPQWP8GsOvYc4RY8uSCBfewsXRK3a2uMk/xc5aWyyYGHh2zNMdCrnYcdpx
            P88WE1vs7fj4cg4QVY1l2SnEkaPNnX18mb2c6QYltdJr5g79IfYVmdJhMjyw
            0JMQcFSMMIyF7s3Cui+jxJKfsxclBNBOntQVMvP5TH7jSUC0KTwBky7XIfQS
            ZWkUJelJo6XPgdVASqWJTqnJ6/iyl5UZJZv7s5pmrJAnS9yjIFKU0PatObeg
            1cNc4ZHJQboT0vYfMH59eu4TERSzwDMHsyneNByJdvDlHaDwbeP6YTII6XoS
            HHYUg13VMlP2HAax34vOz8BZqU9VPNjzZE5mN7HcFzalmedZelP7pDmU1BnW
            B4mBCpmvSrJMxm+6bw9WAuajDcUqqRsErXyiVtCT8HBZs70Et/STWc1ZIjYl
            8WKvKLWe8TuGaar212qp+6xB1nHpc5xAE5ZSF25G8ygO8UKT+0q38/b17/Lz
            +jKRv65R83Pfxy4VtnOu/l+fU5rd96b5UcMUlOuy4LeC1AzGQu+lUU7PlAEE
            KIB88ThQLQFNWDIwIz1SXRoz8eoJy9V0TP4cM/UsoGxq+nhWZrhP2VuVRVyT
            eTt000PQErdbebwY57jLP4KXP1/ZsHXIpq1I1LTFI7CsVIWKZFGM7T2PYxjk
            3DzdIDOxRVLS1h2s7clqBe0bVYCP3K+KO6V5V1ECbLEAW19qFOMsI2MY72uI
            MZxW2H1cFmdRkufzSMJXxi5Hc3BcHL0EnAkSpkfSUxaYrXz2/tAe9QxerSVQ
            IeZzk/zxJtOehGD5+7Edz3jytymUnKXn5G9cCbgHOMijXMB8pbUzk4Mi+fxO
            JnYzwVbXzMJ/Ue5gvC9lK8fFXMW+1zptjsjCwnPvOy/augIFUMua7W3Hm4dg
            YZZACIPTj08XBBvGntNdsDwLnR/+2/X1W4VyCMW73CqUyexa8qS/XIPp9xjb
            9zvWBtnzlQsb1HiAKzLXFxc5Xc8FAytgru5G76rOwWAQhoKA0SZlPCK6Psmo
            hGNdicDVfCGlrDVmAR87bhTMWj9cmtJhJZWOHnIYXw+9CtmO3dhhbom/0nyT
            /eNedeX1DRiUzEAbnvx6KJ1iKJJKNaZbgiwt+hXbCZXMkL9S30X3b+JQ3IU6
            WXITNJ0dHcEzjT2DWIk/FxF+duJO8FoBdw2sUq+upkKHQX5mU8pZ7U/McOiP
            zA053n2EXMadoMY8yaUkk1OS8z0e0wnozvTuoH3EeaVXlgj1H+v4+nkOlWxP
            5f5x3piQcOOnVf3e1yTZZZXwYzv9aG0n45uFcSgWU3L8mZYOIrgwGDRtZMip
            3I2uf7k+WgzN8ELGcf18Vj5jEUz1ffCa1OiZRAxWOw6T7gmfw/d1rqIIgYqS
            SZTZs73Ghov1pgHVk0IrMbxalg4lfcZvsHXNwmpa8nZVtZwKBingvV0Q98LL
            9voaDnzojIHl/roxb/f+Ana2hMhyxV+/JQIqLYGe/flbs9920uWfLwVtwPxp
            O7lICrkchs18bMF1VLkLaJDzC71qp4rxtKwCZx1qCEPLjVmUmeMMs3BD7Klu
            C6+leIZRtMK2VPI8SdMSB7X+iCPGcGqj46j/9Xcvb5oeWwhUJD1X/sJbezUI
            HsyoUxbQUumerQxG5qiLeezhGiyRs0FqKxpiDgt6AyG7+otkMkjSSreNWjpy
            ZRKB9Elf6Ozd0EQCcT0Yd239hfzogiUWzLvn8JrNl5nKyszU1SmfWQYh6RD2
            voOuR64xQo0yANzjevCun0YHxPEVgoaSAaHqiokWpa0SPdfEdF9Or2wjwXiy
            pzlEDhVhfqG/Du7j5yNR7QURk5OK2bC6ij5T89HF5dqkUoAY667bmyL6q3S0
            82EjhNpzJV7zdDjM76EG8Y03W5HGMAflNlJhKyxGXSLV+CVpAJrOXYiQQcVI
            UwwRBuMYrJHDcynpzVR99RErVuzDIJX2s1QgRs+GHJRiXUgvbJyALfVgQvyR
            ojczJURxxZyz7IDZ8hcYDwypSdkzYTCRyrj66bij8kXsa+b3Erec+bljGTrH
            85U57lWA/bBebAZRdkI6MlHMWqrIqwnLd0LhImKlYeExaE2fNwkFovqHNPNr
            M8WVXTdYU2xZ751immlU5/lWSHHdnAzvNLN5ticfYrc1QY19wku7gdiumB6m
            FRoqtRU5KdjrhTKpG0wmHq8YmI6JeS+LyVPYGZzxbN7wwNkIEw+2BDAdCUlL
            +Hv26KAYkyd8OLzcRf+RFnqQlY+TvG2DmMUi6+VaTBa4lQOJ6ZGOPk6UpqA8
            jLidxTpELiNDF6fXJRU8PhnFpK6BhTHteGIp83ilACj1Ec8lMoTRRYd+suvE
            yOtY1hy3Ad+fYDHKe1BRw367dtIK9OufvH726zNPhIlF4tSYkH95n9NF4l0F
            BXKRU3As9P6sL/H0BbnJ6B+k6ULPiDLa7f57jK3CWRVmTRNd1Cqkc2wkRgvR
            hOzZxc44lh6Qj3zeZPMmNQBCBiQwmSzflG9C/sFGL9RmcSKXW6jSbNfNpNq8
            YRxZ964Kouc7Tkc7dFkpG+sZDK4+M4s95dsds8EGAfNNV4jwGW7B0ldVAN2q
            JsDKhy1GqIoUIi1xbTv5bmH5QTC4evJwsDb2XvhVmf2rGIVLH2/FwTqJYzKN
            /6tF3vT8EQuffKQa80+qQHAIyZqsOtzKHfZKu7wpU3yDuYblcHsR7u0KpdrR
            1ZXPc7kA8tx+lZg7Rn75HQy1BJuRd9Gq6wqn1zYMT1//hpZntcjmO92pmxHd
            jd3v5onEeUgq4GRlklEWvfGgSq0sQ/xL6jH5vbpcT5HCysx6UCL7BFjQkPU1
            PRPJ8uORgPC4yUU2xC/0O1jvKrdmuIAp72mlsIsJBy7K3+VeAgVBBVtUgCLR
            OB5mQ7eD5d/RK25usirYQWxqkG/L8qmJFmcd3oig4JnSTetffK8I6zAbtK48
            ppDk7T5ZqA5hGHQenYQseEwMHt4mXHsBswqqrC1mUvBYpuj+i2NrUc9TIc+Y
            DrOEWGZkh6XFXieleB11vUxKHlataZRQ+8aFCVtqZ5PaqtcA2VzdY+Ua+SwU
            0oc1Q7slAy9A34N+M1KBLmBS4BpOm/IgysL60KLcCRW2VYU1Broq9GsOi1oY
            TbSj8C8Ykg3+rrkz6UFX6/Tqt2mxxgI+QXU1QZkpJ7RCsyiLiqvZpuLEqMJo
            oAaeliHJEDJBiX+nGVHa3tgqsJAFBzqLXXungWZ3kjNtSIhTXa5CJuzpmXth
            VcBNd5hd8/h1TXDnklTWmIq9oxU7R3Mj7PfOBIOe4Lw4rXw5zyH8lhTI4xrM
            2CnujpS7FJ+VPiRYuahM3M4qQ98Xkpn3VuHR3lQjkhzjcjL8korFmooPChNc
            5LJUFrASF7rparE/l0A9OW8H3TRV0HTLmjDQmsC6uIkyLgPk3AfKf0C1bLgY
            9Foe+W+htZJzU7lSVRyVVjZHcic6XcaQ22U3/ijuxdpuhrh+JmRvJXQX7p7d
            Y5JO5rtS7dmFvcu2FzGfWNTzbEtqWQXU3pJxZM64Z5hTE9Tn7p89iz+sH5/P
            nYHOarIfn+8XY12f8/7saR3h+fk5Hp8MetuvZgdJYlLX6jsEE+0+3SqlvzLv
            97tsX0Z9YXA8EXzD6UAya+uRgtaKYHKqRxBGM0z74r/DMm6GfOMRhVKtK5Qf
            Xx155vRAMoRf/q7GvqGPW5TZr3/Y8XPZ8YX9JAXbY7+Xx4gg+/OD6Ax+aFnl
            3zHt92LBJmHWvWEKtbVh6wdakzFIUpCZU38N7MqMQcUSS4Q8qdURGaWxqpqR
            ydnlyaJKc2Bh2Yzi0DSn+ZQpRmc2j/5bPnjZvQlkX5YmHAZHU9jnUgIy7lkE
            PpHAUrAEwSqVI2XFvcO8pOMH0EWKQi++6wcMl8v0W9NvX++9lPuLd2axlkH8
            2H0NXic91m1udCs0rmdSHq9KtLr9XrEYB1vXsiyVmuqpVJ7jPUY9ki2bnknq
            k6yMOPdk0RinfjMo5lvsH9yW2AYLXFz3EqQPU0eotux3h8422leVOiyly0H6
            2C5Lc0ifM9OB0nUVlmLmeBs6e1F0voml8EaE1rmiGeeDrWf4AJFIQI2dZ2ii
            C/WJMoemFCFxyJ6qISqfitbT3ymwXDwM0zMP79QgqWs5SY7L8EpdCwo8RHW8
            9vUI0EhU42iBVAVyMUSUL0JLZlJVH88gOgxsP1qU9I8QAbdhtT9FIIEM17Rj
            twwhOjK1/z7oksFxE5zOm/ZFD3Tn9aytiOetWlmxsVm/MAEKnfbJ45KPJau3
            R+qKYo9Yt4pjPoxX0jK0APpbhV3zxqByX9VpK/3eqSnJoPiKxxQJg2bs29g2
            DI3be708x5diciYLRklLZMVgiFZu8ZhL6Tw8KN3b8OKrQqvKFG2CydIq2MZ/
            9A5/x99fHtYGo+OJAdn/6uXVJRHLh/B3130T//ukkHT/2fPQqRgJ1GUlB26u
            CkrgincjPImIJzTDSR9WHd62Z2lZ8tio/nJJ+qunnIJQog1KtnHk6uxKGgvq
            7Lh2NgBvbwnVNg7CchhKg11UcQkERrfOYddqGIWibEmHKqQo7O6iryFcnSmy
            rj+XalmA9/HVkW3ZKqUHl2M16CAy/TgGFZvRNcMFEvXdjwntrYxndY29c3fU
            GCk3GGcBQxM9HsoiYQLcaSpYBDlvlS4zDdGxJOGhWtMaJrw304yGp5A0zxps
            wTMHzFtK+GkGrlj7MohCNhO5RLP6VrnbsO2qAVA6Jl3pUok6fSh2zPRjmPBB
            jaNaa1uee2p/tf249qnPDpsjjUe1ps0S58kauWoZWG72W/F2GfSX9QDRYTCF
            5G6My3ThDBJFGdty2bFsZIJj8z43s4AsSC5P4lIxCzNwWoJacvHYUqLtW76P
            fjUry+T07c90PjHC+j5DJYobWbpVO/wk5nT/nZhJtOwIJaLtLDywxdqHJ/5x
            4bA+EtY+CTIZJBKLZ1f6IkjYIjNxPs1EKfJXq57me5UMGE+HQG//oFphJvjN
            68XeTsYhercUDuoLdDr6/kMTzTBNbJO/Mz+mQBQUAlGGfqRvX7FhR1Ghe9nV
            3zgUWzPt5yLV67lAvIXW6ChQd9QwaN7cgotYo2eWS5rHvE8vcgpKZVExtwOL
            zOzb7ltiCWPwiMP0abxLf4bBckNFc4CSqiR5e24uXOpyRDcn9Hel40pavpt2
            pnhyjEMzjMtv8bAVNtrOps27otiWI+zYcetS+5Bn/spMrNUVV1dgi1ck/lJw
            Lf2slGCQ0p4fg2WdDGLFH+Kxm/6gVp8oKwj654nK48+JIq7R3ybqm8VSnrMI
            Rr4QH/gfK+XX/TbLjtdbffeTZbOsZrNd6A3m6jD3yH0acMe3Yrq6E1o3yB67
            Hp55FoYePtdLfr3hSimux/olEcrceUGf66qVONE3iyDFp7tvmEot/Eaie/Mu
            oKQA+1fHEVn69/N9X+fuX9fp/3ydOuw6bxwi8zpGAtZL/LGsdrprDx+Akkyh
            W+Y/ykTWJPr7EeZkdDSv9KZOEifw8iy5ZFX9xCmnA20yekuMxOTXJRDlDesW
            hAAmU87kvifmvmxWNZSXZIrnJPSMYjZszIoXoowcZTBjX0rcwLi7B5NMrLPZ
            gEMtaKJPj5oSVMv9U7AM5tyQOYyzDXAmAnF4Qh2ZOL6334ENDX6xwWdD0U0g
            afw5+MOaMLwVAELIAwFDjMxvS4slOESDO2QHGUocfXTqvBQnxQ7t0WnBIkOk
            wfPfloNn2Z/Mid1urI08c3h33nFac9XTFXA1DGBZ/LkMoB8WG4N/6c3aw8NC
            q1wn2RaLxgR4fpXyJSYUK3gENgJiplcVshDXnPfHxrbP0hXeEL3jGLKj7pjL
            kFhUStHELhW8nIMiWpq7HJDTla2fppy5ounVIUabldoZ0dViWvcLS3jLh39Z
            gNZak2tF90InXSuXlLq7OB5Ttb7unZNkClhWqC8c5vjc5zJ0SULx72GbZzhi
            WBVDDLzWEg68facsD+xWOb+yNCdlupttjKWqaUtjNYFXLLCmVh5kGJ3X5/7k
            7sscwIeAgXAu87hBKPKBNMM86SW/8EuDEDnE0cTCZmzhtrw3bwdhg6gJCb5S
            GpHRDu3f9vX9Npsx9iPWqhoYKjbNFTNDVdVv+3gYWSOpbENe40Jz5TXTrOvc
            csCui3a5Zz5VFnXje7jVkcC8zRqEsww2lCbe/b1gvF/SpivpmPAyiWA5Ok6T
            1BLoZdh2yJ5ntDgpHaAO82rn7QswbmKJ71gsCrrJ1eqOKAJ7HZc4zfEbeu/l
            Fi6GDAMjH5tQqG9hIt+JwyRmtS9lyoOVBQWazPR/Fq+LCl4TxT464MxPGCwa
            MMWybC9ioivwir+vkeef18gwzw1w/bHGfUVhT/PNcgKpwCwmAi5zRGRDbXsp
            lS9AWfoQqEuRSGajcMQpp9+VwShREKgkNe1sK5QdGMmGNmGoj5i6hrLRLbV/
            S1vn5FFMhF5O7+B0+zW5+l4TiffgsaJygpRn6ya1HT5RGeaW0sGE7FVDfwc/
            XY4KG9VQdw5bvcSjqodlQvAZue78nCoI2WmJPj98HOWnj0MEXdXBcXMTjUs+
            zBwjN9G5xRIghNXMaeA8ZvWsHt/nhf457+UCjQUV96sYlnv7D+z7qxi6Avgk
            a/pb+8dDmDYJCPV/fF3EAcS2W/S3TMGkFOVYe93LTpfeTovtzNjOi63Nbmyp
            NyeFZTHWPV6D85Ot/qTm8fxJzRi8O24dgGZsMLiGd5LJaTbcA4MQTlSbq81i
            EdrNzfbgjvhz5W422g7Hkf4LTB8xEsgd+vEz6LOV2D5+sn7G+Hr3Lo9YkdJ/
            LovKKmehSRlds1S3Qqze2X0tPRtMRmH8jL6Y7An1y5Ph+VzdRJqe+WeE2b2i
            0GGMBJTNZSUbYPwlrmqhBWItc/Wegha4LJZujiKWRSar9Esut9d7Hh5UeBp4
            uXrby7GdxvfL9fys9q1ksR54e+HwYDqGsAWkWdz/Oa0FQfTYHV9Q1Yx7UImM
            +rgOESwlaV9bQcYhlluOL5mcIFDKtdmoewnDl5eQ3CApxPcHmxdyZLnCZvf9
            +Mn95F73Kk5GkZSd4xyyHMbt9rESi18cSYpmfl6FkW1FNl50t/Q+lZOs8Vwv
            ZwxCU7u755SCc08Yt/RW0vqPuq8AzdxUB2ETjC5ZcSpYLZ9Ck9CVe/VUx8nw
            fIDwNaBjytbP6xdrFObD6XiQ02pwNntmf7P9GWMq92+zRrXj1Za3meKDahgY
            n5X4Kj0uO8Eqr/FR6vCUkq+LjX09Yp2ZJvUqR8mUo80Jltv8B/vedqvhEVZI
            /Kl5F65MMrOvexFdgfcK5+de3bnSTPVUSHF+yft2ZaZIZcOmLEJncCRZ9XR3
            cfEdcQchhh15H6z5PQxjQw5AJRuvjdJ3PWLLzsGdzacXCclyLC4XA3n3q7h4
            fLMcprKsedxb/XI9+7sVY9g/giSpyQWR8lQL6RnHLndv9oHeE7ipkskxiY2f
            CIuR8ThZuIn3rhHqls6QIrRyUTB0CpW0Els65u2WHpTjBOYWbLylBoQ/9AX1
            KP/SC2DvB2UC/bhehX43KLu/r4d9gbjShVxQoDxcXaYUn4u5hB+lOAVLwVSv
            92S93r+JeJvWy96N3kkRs4olMlFhzayOblbHL7OahXKfLIZx7li4FtaSKLq3
            X0PJOkN+jWcTRjCnVd7KdYNp7VyQAFy3chzjRZTXoMXpRuF1y1nrWZmnsjK1
            Ond2ziYKK16zOh0rplDt1SdnhVlLXleEiQ+EoiAbr+QIRRBEZTZvgy0dQbEA
            yBqMSCH2u7b6ndjJdM+WEXo3bI3hod6qBMh4RWKFK3mQ9r5jGT8OzRRUkgkL
            9FDigTX68OdJ4CBW2fjzGUa2ZyB2+iheQ0UbQWiCzWqpSFxdE/9BEaJ5ItSE
            rHVIHJZyqr6VkXgYTFDVmbHNKsPLaktUlyFEoHpYsjTTI7Sf10yMAhacv8FZ
            icBvSO3sf+eJSsw9zi9aROqO3IPtpf3ObetFIrb7dFdIWYnaj+Vc4L6LoMog
            u5m0UAm2rz4BtRH/dR71UV9kOzG3RURLBR6IvGU4x8ScHCoiY5lnsOAF8/KI
            x6c8jtWal1Amph86zFC1fc3bXLey21xjfv0z/oMhXQOf4yY2CDNlcIelVgCN
            qyz1Q/KcLlvKvMZtdYj7YKgJsvcjQVdh6eQRLS6RDE4iWA+pw+EgtT/SmazW
            C8LbuqsTr7UiyOrhXtPb113NTvqGemINcLBJsEIlwTFy5dKJ3dT/4lZhUmUL
            gnLv7PdDy3HXPL/HJi06vowKjkrd1tMuBf4KkTNPcZrfRicfpGRfCPcVShQn
            5oI6k/sFtLRZiytgT7KK67OCYdos5d9SBEavMb5s4gmolrP1fxI8PVEDihLN
            hV1yBnfXsoTzVpTsFtbIUqTvZ58oh0+UWxkG4Ip1CMl9qM5BMQesz0MxhmWE
            E+cH0HRnoQXPLKPdOlxD3lq0zMmvCKby2EFQi2CtX46xRFSmo09KZnGJdHG6
            jRuBnElQzOSg7sR2Ccq1fAFhGEtNx2ldmfvttW/sQkxCmI4ZIoURfOU0rOpe
            k9/vNI537xpnQi9/HYs/6g2vJ7B+gM4VMN5JLbuicpuELJqyzGZPO2BBzB0t
            UlgPax9JjDr/MRq0oscMliXi73j1jiUM/326/Rkcayv8wvLaAQyllwvDy+Ph
            ftzzWL0tE/Z1XLbn2OWgw1HNi79s2VCOnlQ6lj93VGJHW143vcHZuqEhpeXc
            ZRFNybqkeJ2xXLFtNzo5QQAnu8yR7Xdp4IvFvbs+5bUwpkLlQhYst1lMz+OI
            DEQuZTy0y9R73qzi04hVXscge/815f6JUN19ru4xJxeSrCssOit0OmxrYXQ6
            mPjbTVDQOz9pGGgNxRdzFYhGE1kiF+WlzR4jqCxKPbBsDJ6fLtIjbUBs05Q3
            ipBBAUeyIr7cHRgAaMlvSsRrleW+2CVgn/vYi5k7/rsSSKrVJhO7XB2h2dj3
            64EN4l7BCzYLloXyhxfOMbsIoQj5t9rt8o99jaa8bUf9Mtn4rQ0XY3RLPVqR
            z2+O5NBd4mS5QKmszh3NIcSgr7yE2SqDH/bCUAvq5VxwWkJwC9td/rD7zfzm
            iFPoC+oze/3hR/DeFDVgVjYWeBIEh/wXhVHKx+CbydrrV79cIUX0D5rwTu6U
            O8aA0nUNm+/HYBqrXtYmn4Mf6EfeCtYheUJcx7QhgwmYIk20b9PxoR/rBxh5
            2IhBzOtnnehQ8IXyt5KSkyJ6YnTQSonn+8XusQLU6Y6+xyAYlzW5TeNUhirb
            yWHd3yJQGGsC+dWx1E4X84lV8KmazgiZHJYA4xKYSftgn/0IshTTqPcEEAdo
            ejbrTGpBL11iEZuNCZuGOcoC/mFisL1ovDseor5t3cYuXj/HbrBPprvRq3IG
            xOK9r9VnH+ExfofS+WyKu0RDHpCIkQc2WbYQ87YwRuRxATwMyhwMHlhlTUhH
            LNsiHBaD+hu1uyY2/jIgEzXlCJ2+tC6QbmFjhCfLX9DXV+K1vzjt7ar2dTeb
            EyhVafdjmLdadv/pWAmicGsEgnsmAqE6PrfYqkXBOtOYlZI1axf7/aUTkH3S
            4UuZON0e3vH07ZHcHszztv074XKLu11EuyEft7iJy8TUFkOcGEu5qkQC0ESy
            OdrmbJAKnfmHMBzHvD7ciDXx39xvXM/L6SY5wyK0tZJhvoNpBslBEEBf9ZtD
            87zU6MP6jOukHrURHoinytwPIQNdytckuOyn40x/w/54UKuyq1mNv1jNI3MF
            DJQdsSXPxFID8/dMzhn4LybCB2OUnd3i8icbRe6HZRZSLD/lT0rfLyS/eDre
            3oddxQmRCA3nq21D8wbDoC4m8VTKFi9ZkIyq5JYokhbcJZf1O2MdgpyQ7C9y
            p96k4Ob44sG0ambR83mKi6WnEiyBEBqYOHAQOaPUVvDn+y1HP0y/QHKYeNsY
            5LmqoxJ3mqC9W356Z34B+0Uwn34RmShrLKjd9cZROIXYNCrLC/nuJRqqMFMZ
            TZ4fHMfBcdWIdeMkifEGcGyD7RCklYJvMvlvHTMnVEXnLLcZhbWo8ZezmXJ+
            ViN40+ub5uAVl7W/B7B4Wtg+FyzmdhR5AsF3D/QsahKsui/EoffWQDsatic6
            WJ4gicUwQg/rMJM8+LMxG0ioLMLKT75Zxas4Adl/UqvAc1dtfxELw8U34/Lu
            tFEzka301Z14YWiGKtzYAS3lK3ZvfXxai2CJyNOydt8iSbqwbzdFN6eobJDx
            i5hLtCoqEnPQ5ActhHNnWvdXDLNr7o88SWYHR0cdjh/z1FB+X5Aghq48JV7i
            R4RwkEAI6EFRQWTE4zYHca0KQrAy4qLtCPseEpAppZDxO7OFyHkh1sm2xH+Z
            pADKooNGHr7Mi7stSoWFFduXiYkQf/6mNNRq/gQQWqIitcUIoVaYbrW/R2q7
            8fN95p8OGkuWcLb/SxxsKyJ4x9ht7WzxsPP33+iaWz/FTaoXMM7FwraetnWz
            s363ONpIwRu5mKyXga6+K98ZN2BJB9me4aX1381TlQ8BIhzD9Bis3hlOfO/+
            vRpRjuYcuX18KjuRVtBc2Xpvs4XT8Z28AmKaljhWmzf++kNpY16rfOxUnKaU
            o8C2C52FHrNkteqtkfq+EjInm1Z69opr1syoVeJI95UDNXx073UhEyobYPtZ
            acnGF/9Tplp0+KnbA0IO0uEvpjaFbe6WPp/VKCLbChM4AY4x/0JOpleQGBvI
            JZmilAUhIIXJoQWYGkMwkIMeqUddaE/XkWjYdm8JvFSkGqrrSpNe0+TpZMOI
            vlLGZ5qP6WXXhW5ggfjZvm+57o4poehUxyT63ielj8ofNBVBXFrK+OvTqF4Q
            R6eceoUwhT6qNI3mRiQgHp1WnRUgYauD/VSH5pjMgxXlnrVs4WiA4FTaVChH
            W9ohrFPZWKe0jE5Lt6I7F1I0Ck7eEkkJJ5PK8IeAegjRwAjg8d2erzSyjkxg
            hleRIqg7gT9a/5h1rRuWKskGv0VmFpfo3jyKk8jfypJ4Mu+cMmQYXMbx9HTe
            hHkPRe9TD7smlpyZXoGgCIvexxdGG0wPn6NMqyGE5Gz7aHTSAe1l6fFl3czO
            BYU8j/sErFu9rVB6HJN7HPszGE0/DGzqGJXYKBms2kHmFz6vj/vX2wseO6JI
            SC7iH6TuIFZabASs4ngzw6ASzQ3jzVwE9rysazcRDd5E9HZ1cBB++7ujKD1R
            3Yr7WRmJFVUvBWroPk0G5IZ9Jct06mM/KNbtLExZPrWajo02v50W1PHJ7jgA
            F/OOWTx53S/882bTm51uNv6ybU9k3Wx3s/HN/rcWv/Mdtifs9Yw5Dui57Pub
            MMvw97WYtKX91m+B933PnxtIjgAPw51XWxwsv349tqfOrI0tjswT93GSbafZ
            48+X2T/KUoj0HFvs3NECc08PislsKJ7tVJNbe33pA6eSVrQI5BALAhCOfXg1
            t0BfqnIVLPLYDcO0TgIUlyqoGaYzu98ai+NOx0+/dTosaBH9+HU+Y/uuk9oA
            fnzXPHZrnjuK1qxmT5HCArnfvDPO26eDUNtY2awQLWyD4J1wGGwWpPRXOXpu
            ZrWcSWaSwVCyC116O/hUmJuZfZrr5Ymt03DSlUQ6rcKJYk/seTw3P3O/RUgt
            V6I8EofdLBacmtjxbZy4Pu+B12KFYSBrJiIxoyxYNhZzYYpXpETHO8VgeBDR
            u9VCQb7kG7FQ0TDYM1yTzJudO1g8DflAkcyQNVZy2ucO9pr0z0f12g9mVkPc
            UZm9g6Er78BYZCUog46YjxI/kETZ6gjqOfPxY3DVMUaIMu4DaH9xpjhckGXR
            wM5UK0PbB2Uy5MZwbMtbsVHEMD96STYtKTaAdIiO76ab9ZLTSdp72NhMp2X8
            0IJIlys6R1OI+GaLCU9G4bmLOVCVi1ExdlXrUgRh3pK1TvrUAlCj9iDQ4/GC
            N7iVXI5K+/6BD/qRu9LO2TbVk2YZ5uYzBXZcML0ixPPtsYH19ZMN/xecF4Z0
            vdke0fo870ZttZbNeb2nGDmvCm79nQj/Sahefm3KJHphcKwhQbMA0uI758tq
            CiurTdm0iT8s82cL5JQtcb+B5/tWND4YoWpB6D7+zeY2m/rt83+BIZwN7qSH
            w9nhFgfT2yu92rWLh13q/E/s+2Wrm5269v6bjQ4XE5udEwOCPIxmJmU/tYPo
            pVf00xdqLwr+KGfx+Cb8NydfVUCqXYdmfsvEzmTR0ZFNurfaIP7N9TZAP+g6
            OzxVnj4pJshkyw523Hg5yOiUNpyK+3prFmSqHuasY0uR5JVKrisIMlCcbjAn
            hK7mDm4q0HssFith2xbBNSafubA6WMELvXgogRcAUZxKxCDboWkGG301dpog
            26dOm/FgUG2S8A5PpWL7A9N3XznAxQZXq4WwzNd9vJ+zcR3pDsswu0Q+2VzU
            ao7C1LFbLuXDuwGNKtgXSyUTdBepOtjv2SqjgiGEfJlhDv9CGBqqiMrdAMFz
            G2n43DcN4T+Of/z4JxsIyOPHvwUphwpIFKA5WbTv3Y52PoC6G+EZMbIMd/+R
            baX6iqzCm1vR1u7w1t0427PMdaw0dcwJZDBM+buJK3udAxfj6aXlu4hl52gW
            L12HiXtZRdF6CPv3CRPdwwIj3xCqrFghIRiCHH3LUgJ930F4m+Gtdw/PSafv
            kQETIfeSbdLT5xTL/T2yo6xX3RxqBHN/OW56cweINGmMFawz6SLMloG8vyYU
            Ul6HsXtjwR6swrkOW7aYmLlTzJWNe2aDcUyemHp6MigGNlk7pEsSj+di0mf5
            cgrR/3Bbpo7q88T5TGSNy57lCc81zmxOp3FpXNS2mOUc20OpJ3JfBoNJRSvQ
            yu+LY8Lb99eRdbL1BzOgTydCd0qRkObyYE+Q8geO/dZOJoksHnNSe4Jlh/ds
            Fz2G9jmMB5JRmVgnvw93DUmjw4/XztqVI6Y8N3FTnv7pe7X7Le/jeJGrPp9J
            jZYvqIHrymmjH+B+y5iCakarX/9sX3GBNmwimeukVYEBHst0AhY1re9G1l1w
            8uQs8THsW+hon4Fln+kUBcRf6fIS7JoRgQb63hNVLB1+O5uYX0+gL16LukdR
            1X85PbPo4DNR2pMD2moe6n0mnBK/znmpKfci0BT7WkMnsAZ4VPy48MjeOY5n
            1SpXtfFtxSZaKN2eYXMXXE9IzSV9xorKHaHfDLHWw8iXubD3GEi3+HpnJeIy
            QpssRsE5Op5i+QIsTD6Oz+Qd1yO2FdpPasvpT2oL9UNtrG3bn3t+zm9qY8bw
            N4ENKz276Vj5N4QGDrq0EvN3YzZ3FlkY1Yo4L4Edrw2eqaZrt63Y43QlsxlB
            KUeffo5PPkGQvb0kdsZrfy9viO5ZQ7vVx0tI6ZLieXTnLhbEkXIWvVuvvJ/R
            FTGu0NP9Ab6POEWxqmDFAnPZnvm6vfT9+fXM/fPMDJRFS5Wzprt+TYKTUcw9
            6uyUkqfb6bdzGCjpY7pAM7BoP5mKIMyQ6WCFavjiIIb6LT9eRUOEwF/Vrr/r
            CbY9/4ImeKFqd3iVbc9zohiD6ERbTSrvCt4IfARya4qm7vKzq61y3Ow+7M7y
            TsDsNry7xWuCDFFI4KdYbdc3wcX+ITi9b/Y6xJ2c6YGm8BWuTTOv3dVe98b1
            p6G+JUZJqyfH8jo1tFurOUnOP/u4i2nq3WofehR6+Nhih3mWm2sqP8DagB2r
            gaMUmMfBmqHTO8vKrxegkgsNLD/cOIliJ1piKudfv1UrWLG8DxqtiXEFGoUj
            tegFQUlsS1SGZcro98MVfzOjRQ8fUuFNT0t/JrZdVxdsde0liKMGU5MzwIqY
            Ls306Wb194TrPJRBhacTIhJ3FZ4zNtKkWOZ4USd1vXs5bG7zErNkbaqkSTuM
            7vB8+myQcOHtTxJMpjMd/IBJSs7wVhynw+ACu9ErNfxtteTDkD9Ux6EQsm2b
            M84Xe/6FCj0UyGRVPMVdyMW1ZJUD6cEaA8rJ+T2rDeuwXLTgGMqkuLS8lp8t
            RK6vHPj4yYEff8mBT8Ny35WtE1isQ+3UsoEvBl/oXjTWWZlFykzbOp9Ln7Ow
            /iY/08kCRaLz2Wjj0mYmVfI7vYPVgjf2/fbv3b9f/j0zPGtFJbkYJgEhWyPb
            KrH/KhveRFUfJ626+0rxvt6JSlR2KmWculcwczfevQ2OWzkYGqbs63JFEZV8
            nwf5eP84B5oGkR0hzeV/YM5/wZxwhZz4fzBaZfaAhdGnWs/dMQFKIXj5iBh3
            7qvYJm0bnrpQfSogamLP242p1TbMb5K24G0O2/U+2HHag2nZj+90LEzQHdfJ
            DrHWSQ9sNRlaVBIYB+GJWcXB9sKPYcwQnN/KLAzK1LaXCgFFucPcrFYAllks
            FGFtnOsDRCPvCbGImWHQHK60m3D7mzfliA4r9iskt430moREjdnZAIjeWSyU
            sBkmg6RgNVdZpzHnWMAbHBedqECRIDTpqzZoEO2KTPxYu83NTW3CmeVpYC3C
            SFUqJ+tsaDx1MLvx8zyqq7u6gNWCVOd4bDSBlo6d8ZDN7UVrpv0T3IM7qIWV
            znTnIbeHqSXCkgoGHCIdTZUIX+BlLgU/daeSZEJXzhSWaiUDKcjiC1aoDS84
            AgOkTyk7k1RX6o0hHr9KKW5jdN+SLn+pVvtadG8MN+54jZ2HuisFWjZGx6aP
            wkAkkwtJKgGkmXIcFOuAqW9lffGZkIbKfRiXN9dVByjHO1IRLzQCxzBkB6rE
            nM5h1xotL0Y/mcqnXJT27n9ONsDF/mbbMsGeGPhYQZ2kI/PT8TJPmmqpfRNL
            8DwccgeMZVjOJzXDdp4PcwAt+Tdb1yxCVrGzsMx3wflK9KtDudqEHvLjPH3m
            q89XF+RkuASSu71TXHCLJTw31NB2WQizqlD80ieK56+JveotQvzIw03AZAZF
            36p8tQv+6qj9NlWce9/xNmXcztflbV1iIrquzVf1hpTl8XQFVyvKzsXZv+/S
            DRGzUE1Bx61KPWDVeIsOuxP0fX8Ou2yQDQp3S253GnobU0/TDyYhWD32Z72l
            DU5dnv5WNbG0ctQkkM2D4mSGmaciUNxwH7EMkuU+MBKrfTcxE7oVSJ/9HYg8
            PHeFXQpPbw8elU6v/r0rOVjnohPu08bcfE7RHGyJvk9BFCa2Sx1eVkHA7Wh1
            n5/sOL9vslYRyi9Zn747Ib+dlj8T6K1jTZHPP1GGD0vsgVjLX+0Z/gFtpURz
            489bF5pvRvMAZTG5FVKPv123ugIkon4Qn4XBJEIWW6enXhdNhOIilmj+txDR
            KxuEEIzgpiVAcVm02rB0s2VbwMim8gkLh7mc7AOoAljqlVJ+FYsYNLWXA8Zy
            DpUmkOigJ8fAgKnH2zGkHnAlXpPJLlhlpVZmUEkeLKuTSLbqtWLBxG8SFZHR
            k59b5iO09UECUYFt02+mM8JCL1jksQ2YisP2s+Mg5AyRgDcyjluYj2PZBh9H
            VoBLbcEgE7y8ngaoQi+uyuWgD7NzpXOOpPqQYMQDMlxz9+klSJjDHQVX84pv
            B25iJDD7Y4jtx7z4ElP16Xd0gYlBuVhZfXPC+PJJQvDagTo++PdAE455lSDz
            H/KDpaIlMjIahR0xNlz+k/NtjVLGZe25DGFd8LlsExEM0CN82mudXsnN8qyP
            cA+Wfa0edYc/3+M+isfK4n5ncrMZygx5sCHwueTMe5gyj33MdiA+/SBn4pbt
            xbhVC9SvRODzJvACa5T93cFyIa6G0hrYQo2xt1OfQxiNPX9HWuZr4ViM4vo5
            OATEFUvYujnppHMGFu5Sc5pdTdztHFNUSDwh/X6W4+tZLEVwsOG3oinJgMA4
            fxSxzHEH+2zTCn7a2ScDsM+WNZ0vpsKTpH5wacsf6JDhA4r1q2s12BAH/2aD
            4qGWF5c72YIDh3RlMQ+bNB57XD/Z9w9DiGVtBD1P6mqpxoh4jgsvyxZJxCE+
            puE4np5wXHFsVAY0+7B1ttRo5xjmhRV2L0sJCXXCbmnsKRW6KqTCddETSjZD
            Btp3ki0D5qd5PtV/Ui53Rpbja+Yreo+JAzORHH6Tnvdgm6/m67mLPXe4n5N5
            uHWHDdQ6fRy7bpRG2H5+lkE4LPex3y8EeZqF3gRjAqoMg0gXjaKTk3tGaxOv
            1q6+cO/14nMdeYGou/dAg5ZSFDsiHuxeWcwWnvnkBQN7uCWdGHO1HgtkZZm9
            mfAZx+R9k8U8STdCvjHMk5q6tP7pLgkdhYH8rbxAJ0rerjxdllTkqWp9954b
            nQCrb8m/euuuaSAkfVtdBLjeUANBFnJ/cSDmNd7f6DmN5lLf32czbzTfAxbi
            bN+eZ6+/6Ifqhdt8YJizcxUXSEmJ1PSQ6KErYFs2x2Jr1bYbIg5MRvyYKswq
            U8h9qOrrUmVdoDlewXkMI4q/sZgoH9Y1dJcHNMIjGSSiGmd4TWw7oZ2fzX8T
            cQ1mlOCBYBblN5e2Uu+hV/l2V4Sgz1mwSgzc/VCTjquHXj5ro9awTBgAWh5d
            Jbitoq7EcVQ77aZA0XUJBvBl78cwW2esjbVs591pmfNu/Wzqe3pyDht1mvVJ
            lx3zDX0iu6XAE8yeCUeFSTUHMyjkZTRCvB+fECNm2muRnmkngGkh7UksCKK1
            K5uLRETFPUtx06qVj2A0K/e77TrBEpIwRmBlsw2ieWP1D5XmtShnWaxguRIp
            LWjLeiCaVTDWTnnyofJ9Kacs2tn3pEbPVfz0DxrNrPQ7fRYL4QRcYi5TUAu5
            JYOd443mbk/u4RVnuE7Jds3TQgcn1CCG9McA7yZMMJu6wUhvVoo/QQz0s1wW
            Jh7WpSjeu2WorWSy2qhEXE/WoSOBTsk9GZBBwxWeVxZvYujuHLvX6cSwrt1C
            h4ishB8+mtjkQ1adDywWuum1eplK1xaT2Fh3SeT0zKnobIiiIJuJgAh2Sy8q
            M64NplBBOYGXMl81NAMy5aqJ5Ghdeg+zs830whVe3cW7wSwjzktQOkcToN6b
            hn1/ZNhkiJvLnxrcodJ0JmUSHHqJOgcLPH3gMGOWQEGb8CppB4YOYRDc6/Is
            bLLReR2b/dzkhclbBGa1o/qhIAlazrOngqOE7GohKiGSJVWyZG2/E55jqBO3
            lUylL28oB6SSPd7LOMN9WJHM81WqJnOFJaks92ehCUN8SQX8D5HyG1FXhrok
            C31FWqIaA79d7lgvXkIwJTPwPVVT/fYHCG7mvCWJ7L1BcTHP1wkXdF3I18sq
            1KnMsa4CY0yFC6Ye7nWBOXfLn4xztrAJl1gMe7VAoZ3TUmGtAfrGD+pUjPwl
            +KLZX4wPk9gElohlA5M9DUzyZHnzgJZNiB0vj2eDMk44fmtq4kAlpki5YhcX
            QpQeAqeA/Jk3hHJSF3eQGWWjCkTHqfY3GA2wtEhiWaYZkliZVn9cn5rAbu2r
            6ZJWP0qGizfrmRb6vaHUsNeDPE88JwomVaYQk1iu3R9pT/4mhu79kzYbV+z8
            ySt+5UhY5v0h+Zabo8qlr2RfvOsC8ZxZdu7ipG7Hi3SCqN6QT5pBlVaEbLt9
            okZ67tfsml6RfiqiytzE975x2H0pMzcYOBVQxn1fjzlzQzyirCSceJEEotqU
            qypgo4inT3tACif1amQmddzlccY+biheBtboLjyLR4AJkAsvZsC7Uc4EfOJa
            fen11B6oaaRSNctMbgDxMYbSGPdli7F+w3aeirkNGDWTdiKLQJljXmgMT9Uv
            dcIUMXEQbyhAJAr7Z9tZzMA5+1msEBy6X1czaRw7GX3Jfm7wmHUeIHaT9N2C
            kO6D75Do6eNCu6tIiInamDh6VtjqTA6BU75tzuRh10yZIRZW9En4J8UQMcnJ
            mz2cJ0bOcPiurWjY8mTMZH15Ngg6a21aHREyNna4gQAghkYL4IVnxjqDcOES
            i1RWoV3MgVU8y0WocsKIqAfaYaXMrzHHpTY8N+syuPFMMikyzAx2hKuZaqjC
            dfY795NUoUDKLlpqS8Oi7Qg98FIVrLSYxho5w9+92QmPOVkenJmPvBCiMnoO
            8P1+e5qwEcZpMgTvYfwsY1BPl/6gymc848uQhf6YcCv2Ecgn685ghCbPxxGB
            z2rfCeOrWrOvGPkPJwDTsXLohsEDPiVES0skxO5VD9hVS+/2/MWuGq9dlT52
            lWBoqOT1j1a4J12wBeA18f5oDar0scboxETwVmTmzhHS42ngQFdynT5ShRTu
            OHtqg73wezYV0w00TbzQGKFB7IGTQXebY5cImNVtHIaQT1ej6esjFXN1sosx
            91XDrN1IlFifV1RTPlpbntIrd9NSJIwZEMm7IitHbTfnm8ZT7Tmj2poxdy2o
            1VsUXFuYWysDgd94LyykKUO4KzMRKqs3E6Rmd7rBHe19SSiT/NTf/fTGCW+v
            7qfJ01/oU+xY9Pfx5el/GLJ2AwlTf6vDg/WYUa2euhU6WhIxYp86aC2DM4ys
            xvBt0QovrMlhapS69VhDdA4AuxZ+D2JkV+UkOD6qqsekZMdg3hs4H4NBCr8j
            rhqte6LYzXI4kkBikJbDzDsY/kSCEhivDC0REoxgdsYRYnU2BYCpLUTBltA5
            V96q4lZp62MUe5xqtNPfDtOiVPJvotUztm2Z+Ic1rrnULOcpGLjTB26WxVLG
            SZBe8HBsDw3ioKP1Jib5j+Mz9YttddPNsfAZx1Y6ZamRL0uYm6x7wpLHVtmJ
            nQWhnSGXwFwl6vXLrWvt3+0yIFU1wC+P51Im5NPUahI74T068Xo+A3swZe/3
            IHFd71ZZTCIMwcp/qLGQTbO7hHR5OkiffFsRXIUWi+e52dyU9f9Vkp25TNoy
            lwrPa46W2rliKJt5nq5123G4pm3nI8x+Xvu21fU+567U+BirDpTGSYUFU1QR
            uPuJbNSj0axbIGum29tvqhLV7+0v2uW0fL6r+7a2oIYpX/r1TS2B3aPOL1wI
            MdntYzitvSELrr8Kg+kfuXcnYzLWi5ky5DNUQBlL4PBZxDHSMUYfRCvqxnxC
            w13iD2zTeHRJw1PYwabF7QShO5R+FwLuY3CH8C+Gjo0EjP2S7suKqF9ISCtv
            IHIel//rj2FGgPM2OR6XRRP7j7bSshYq0zkUObOtD0ZZlxKNKQTURYx1q+6A
            OZM13E0GyNG1lWKSY77Zepq4bJl5VawUOQzGKF5CYnvsGkrYCYYlTUW8ejcx
            Ccbo5jEDPsOyyqJiGqxNq0mIdPg8eVYTqowp7lCFGE2lOatsuMxscmiXDNAt
            MeMLS34xqilM293BzOM0vFdayvoi0dOjn7ZWQJZp0ETs/qpKPN0nuKAhpCIr
            6dTNlRoI97F5ajOop2RLyCAZiBDD7c1e5W5Y9F2W+dPUJyVjNV/f3W3Ai5I3
            KZtmTv/sY/VBG7IGjddit/fJIiTqJta2gN0n3cFkZQPTtuuwBJy72+8Qr0Th
            PoZfLHnO5t2slS29M0wQVB1ueSYp8hhq72uV27sK/YLaFiS9iamw3P29pB4K
            B4oNXeRvX9wvork+oOcUEurnRJBSxvRNSi+Zsp4tT20iBEtQoNramcHuaC6j
            C6xLATj+9njl+9pGxW3GxOr2Pbq52q78ZZsTpfz+gGng5pKi+ZYHjCmZ6mJL
            vbPR1Ohtbv12ewbr83Tvh3ed3fvhDeWodPc7r/c8VTJHFi1ee7ljklcpt7q8
            vDmYh0cWDWYvzt76Lk3bIF9vrsClzA3VNO6egNlVPKwmdkFRIvBRDO010y0N
            tpjOlrdHLbVHOniAsLgVBbH+iq8v5HBfSLHrctISBaGn/PFaZloyo9H9MDVo
            sukC3u86Muyt+pbfh62JMCcgEPrDgjcWczib1ZCKIECk9MGxu9Wnt3l/gmXc
            stseBXSjA98DYNNyM98AHau7mF9yQYt65LPqb5uafJhhETdBgN+vuTBAizzb
            km9ZKe5IZ6fagQdDOLutKbdYUj+UXIuJSUSBWH03pu7EIjA9efeHekvZP86k
            w5q0NjK4a4N87brH7VOo7m3b2sJ2IW/QL69IgN6Yv8xnlZgNjjimjeUlgojh
            azBDhLlMLY6rkNJPWFbVG0QIPwcr4E7QsgQTZmAS56f75GEzOYJq9oIKTsJB
            uVDMKmzVIjAMSAgiJn28SknwunO8XqbbvpPiT+ssTiqL776kMOW1LcTFyaXl
            5+bvtowO1xb+d2vXluQ4jMOuZFmSLX3Ktnz/Iy0BkI7T2zO1VbNdM5VOJ35L
            FB8gEBrvSJIAydU8GwaXUh0/W2c3MppFpjq5I1os26emjcYWjnznfmJbGDwZ
            pLQorWMT1IILqsjZSgvgRUEH7WF3+fhuWcdozA7wWA5lAZvU3sDQfoE/GiZt
            lHsAkWPfAUMH0eJQqAPzLH4v+n0j1+MJxmLbfqQ72YKmIWArJJP2YzmL74il
            ikZYzPqzLzG/hSOIweSA2dhu3sgRICjMyTQjaFu5BqCMCt99i8qTOQYzIOW7
            JOaRqiVkOzs/EswbBMIxaJAWPUS+iDIdHnYADMjKhdjgftW6dfybTGIr8oWf
            LF5k9LzFXF7fIqFtMp/kT7dPqJdvPtOilS6yea0pe7ed/ZPSvVwGiHAT+wfa
            m5gMdl5FyJQ+sh5I8S5iDqpygbPuLNtH4Ao9ElGhsyjxyKtaCRHpLugZmtJP
            NO/srFQ7pcNrz97eo/gFel7S42+loOUSmdEtW2CuIXCY24OeQO+HA5ob3slk
            ep1k0R3EUYC0rQC7jg2ZKTjwEymmDTb38IsD2+i0Ff7ogDGifbPahWOxvjiw
            upiPtuXdNo1tzKBD577cP/h/Ho7gqodt69WsUHf3WQo5nemVLoTvD/u3M3Ui
            5bLFjG5kaRus8lw+yLK2wRo51nuka372Ny7zoTZ2LuPYzVa7Z18nYhTbzgHA
            keM6DkLiZ2Fp20Knk+wuDL+omj5tqTiqKm2rOqa5rt5kRQOimyXjGJzx4Pei
            cmtg4xJo79Zvz/FPg7U5t2QsAzYJDmZcc0c2qEB7rUr6PT74NJ8e3s9WPZE0
            m/e3+c7e+FY2bvjNNLM8y2AhZAHkHD23tkZexA5OeoyHDZxpS4lAeUjMwcus
            augolJm2RXuUUDHnApmwIFuYtUrgYOfObnYt2JSFC1fOhh69T87gRiTlRhMu
            mYWQtuhMVpAx83timm2sGyU9I2GC7/X1SYMy6X2k/VjlWx6ELOyeziyMJE9f
            rQvvuzlixNYEqDXYGCQn0a4UeVdMHzvRUgFL6xWWHOUPMjYuHZ5xY+PgvVAc
            GVXUpQKyD4byvpwRKxONppM561O/2tD4cZwziXdHiYXjmgDvP3gKgMMo1eR+
            EcC64XYM++6R7P+J1c9WWKoW793HKCme8RQgXn808HyQhK0DDxkGGUoID1zC
            QuPDhpmn9noo9wm3QdXEZdyQnLLYfVF0N0BYA/gBSvgKErgQoGcDiRP3pzub
            0yXP1QM+EedXkVcGdWVfqcPGIqj9AiXA9rJ/0GshdKDL/uE+noT0Elk8ymBG
            jKTXTMqfhZXkE+4csQREz/UH81PXXs0q9GiAP6boIdqkwBwfEBvy2W5rA++A
            5gKIwRy87oZloKnKLPe/njBPEBDz7nr2hxxvDpDqwi2/Hef4cRww/6w8DsJi
            dMo3slmxXaSjQNNATmMHMv8iDxwPx9rN6f5/7BuG3hz8tiNFaYEuYZgIEtiI
            RUbRm9dUNLiDdhpBxA4c7QJU024zfocLw5TG6QsHG767Cso0MdQz62hfIUMR
            I88Q8bNJcu0Wsx1TJLb5e9uymq2bpNF+vr+rGQz9RRaCgisU0MldAQddqONa
            4oD0+zomtfnji1dTFiq+zaCFsCMQZGurB6Yx8yqH1ODNF5c8k/N8JLTkuqwl
            FMWxTSUhakePSN3k0zJBhO3HcCU/tNjEgEGHH/YJRDlAtg3MwIghyr/PKAxQ
            TAYO0PUzAeZEu+fHzUu2Fv3jsTo6ot6DiA+bHF9iDcAD3bImBMpq4CGKz2CV
            WcZLXJlZaP3fBzUF5q7cxXfw++xhSL+v4Bf/55mIWbh+rApn/WXh/C8zEWTv
            2Ddclt9Sq/XyhJT7vQRssgVm5oXSMZGwGtzujNd/nNms44dZd3LZVaK3jZCN
            n8vSReTaxFLHJa5o5nbgWCfF524WJrLv11PMGdQc27vrX9cp/MoB+ZjX2l08
            NZAhVMx1GSw2K0lOECQ18FyaOUW+IkW5KNTrSNMwqv0+oKpL0KtQTjWRN2sk
            ZGxX9wcSAmEiBm1VeRJdR+SOoly3MF+ldLqckW67LTdpEszEm3VJcT5ru6Cn
            u6lN0uJ+Eh7C+Re9806it54OvFbQSZirDk/MrVDLcoKQ2IsbiQAPsyVUkCJN
            zWANa6PY9qUoeKpHNnl2+VKL6aPy47Xfa5kvn2YgPaJrWSSpydwTzG5evFRn
            z2EIRda/H6b84eppkgjmDk8EBiQj/OcY9HB163Zq7TYjR4K35j0KGXA5mgUi
            Zcxm140XOS8z7+RfHsh6oBKFYvEFFPRghD2QUsYoRLeR/QcT3pliXwA3WTQF
            re+IFAOsBIU6C//3h9MSMvLlQ0HEHuLK7n4Y6dM+E9wNa3L1df/mmoRV365e
            3vFmXm/emKZAjwi4B3K+2EcBrITZi6vm8wEeVUgrYh+iiFbpL4ng1u4u8j9X
            J8rDnhgwm5BdBmRvnh+e0KCswLkRzgecC5TsweFt5zDtHJg6ugEq8NQR5CqD
            jtqWgvgc8MS4PvJ4ZKklimdtS5v6gnd0+lCgZoLFXSoIJJZfWDXGN0Xe+wMV
            v8Fw961DWA65K2Ac5W06zfPzAHZ2l2vUXp+aiWduvypY2PEBBosuUMtUXeKR
            U35D/FN9HeO4HvY6QtXtpqZQ9dmISx1lvt4Xia5KAsH760KQzjsa71I2f50i
            N5FoKhWRmHB0GCIciq9cmuoWIVjX/fOoZ0zcuHH2PNqLqZ10yR4a2CxHJzoJ
            vEBH0Ktwqv0aITcUiUfCtd189C4x1NX5p3RxXuew46A6J/0+mQlUektAAO1h
            4CH2piAyvl+u1/fX//5+O/X9LxijGdlzUe8toB2AXS8OnSFEEYX6rlR3RtCK
            KPamelDeo11gKw37BzUbSVmSmUaM/W1l3mdmAaSmP5xIaFoYovAeaxT0s9r5
            Ypr50akE227B7am0tjSoyXWtTG9Nk1OabG6QZWF2UX1/yAexUxTiW2+9Z+Y3
            bEGkHZfCSgYN0UJ9y4/0nm2P0qkK+ORVUA8AO6MIM2OycRv0SUA1qXNGarwr
            CXZ5jUT9vUgdXOy4mujUdBDqohuqlPcl6DZol9X1jtRscmLM5D1zwbsQVSNx
            /9DzAjpgmGcy2TPmiiXgxulqrQICIT2sI/WVt4/94OYGQYWrwUSOpS/Js4eC
            igNbLjER3NHLK+y1Yo2YucYoBJr4sPcVo8RuDKZ1HaXIjha1V9mafzwdMot3
            yEg3gW1fQTzaxQi7/A+vh34XgeYF7BybTxtDDP0u7uV++jbvV1vJuO5AQdDO
            sduagfc2m/R++PumPFBYid5eJk/MdRIRbU+OqfaiptOtm/fU0byqBENnGbuL
            ja1v1+3ahsK6V+9VFpLXgoHXVM+y0xh1II/mIr2x7HlypBWXmQOwtTt1Xn+o
            dcnlFOoi/VBbWBuMZ3gT6iptgidVRW8R/83Mnao1gDUNsG6KZuRP7NcFyGxo
            lIAsBxlOQNJt14bZnSzYPDNTO8yMoq6TSJGr7lfS4FQh474Uz1oG1h7IspWF
            qp5T2UFzp368nFXrsCl9TW+5wrVAYREVyPcg20MCOYPSekfZFtW+5d0SV8Hr
            ZLaHMzniPMr67KNurm1dVtL+LCMn/I3fSXeLv5svlhAbM/uqqmouLrUMxycG
            +iZQRAf6+GM6TqHOnnSwmEL49/P6yMs9NxPtW3D+RLqd0AlE5rZKAEAPbwQ6
            TLjL18qbOthVazd1caodQg6St4kde8/qUDFvcScPBPWinQLPLMqWXyKeKDKs
            wwbIzgFyFyKbbQlLvPmM7RIyOjaszIDMZ4CcYjzDtTW7trimjNR9tgc66LUW
            8jnBSpm9o3qL3ZUcLGqVdDffg+bgoCVXlJmDNfbFUm9HRboSlpn8oZhX2FnR
            zND7EvgX+K1kSy+94utCrMo2YnvF2G3Q37F7nxkH3i+GdnT+oMZ0iGbHRgL3
            g+9xX9W+sMW9m24FGpEoNKPYeCnCFP3WdAFENRdWZyFo7v1EM4aNgKTglsV7
            ACd213aSF9T1erVTvIvX2d+dPkT64FKqv5azv72uK/oGfMGfU51AqEOpkpUs
            whH+fhusDdDS3BLX4N/yft/C9wLRcZOApDbykX2wDpdrJoJreS1zj1QYshog
            poP57fVivyPxDWSAqfZUuy3MyCIlIPKfzh4XQUMyilagyUKiMEX+aHjjCdBa
            i45bNUsNASr1DmQUvnZUfEkgtQdJSFahzBydq7inDWaLJB1MEXld92cSBmQd
            g+8GCJrWiNQZnR8DGb3b/9Bc4sER1zSmeO61V0nDAapeCvv7wJxBZZALotwq
            EV9Ct1f6EijbDtsH2NCBvBAejP2HFXGordtUfTvVn5YhyigdBnYINSdugALi
            sgerqvgLW7L7ZQf62REUg6XPA7cHZbBD9RoNloaLrqUPsDqBrWFxNk4gPVIq
            3w3x7ximfhZbqAwhWKW8O9DY4bJ26oVtkGqng5O0Fkl6BRiplQpFocAJMSt2
            uGZ3kNbvWGh3+ZiLRaDWbcY43wd8sZAnQ7kehZJE0NfjTc2mYGZDMcgGJkCG
            qiBxpHtj8BIk9/a39rmSNB3euwpTwvmSXlea5FZ9Xb13ssf3YmVLkHSsntFV
            PZHKi09dAOol6DyObKb3/zYREp30bw9PcuFcm6i51AaasVjllV0mK7YhFVfg
            dVomIIvnd0sJmUEDwdK2/UOO0j0CbMKoVFdqOCoaN0rnYrrAintd8E+vUsOR
            38o8s16VSDmlJJV8+UX2b/kIffhYcwLTfpIQrWN8UPIPPf2rZ3kQ8K0qh4+V
            bPadugsLzT9fC2kSixiWN2dsJWPHHqX/FXerUUBsfeQAj0UkaflQ2LgHAYTZ
            dYscK/uqbvM6TqpQ//Hzk8mHP38+oXn9l893ZEj+8vmG3GP6y/anRaTlz5/3
            5e+fZ8Tyf70+nf8qpWT0y7CfdS16bx6O3lf/vPp7EbZLSN18ViLh11704Vy8
            saewupx94913xjYkmgZ/f+n99IN3ieouq9lavl+X33900mtFx9K6KFEozmH+
            bNe2fzQhgesxc2nv4fRwv3nb2IiE/Hv/Zf8WYLI6vteyvM5hvS14/+X79dDf
            u78OYOlAqXzrNX7GsRVe905pcnsgvbKCc5ELBeDh/LkKO9/a+tf2e9/en39O
            QNufWdv/3G9PY31vN2sbX/enNt3/PLh9U5cUyrd8jf3CC+PhJgw0QHZrn2n4
            TfdDxJdQbdDfyTUMlqZf/07EOV8Aw6XU5qCuSts4HNbkiFjWY5e2+CDJ5yP6
            2b7ff64rPnv/JB+kNF7SDPX92QXFd4Ct+w8I1mY+ 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
