<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.216d</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.216d</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_216d</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom 43142 Bluetooth 4.0 Adapter</string>
        <key>FirmwareKey</key>
        <string>0a5c_216d_v4425</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8557</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_216d_v4425</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvovMX/utjiCvEEILDf310
            6OARS075zKmg/Rz8kVIKmKIjhjyzK6HgWeD9ma98phRrTLg7+FTfr1gL+tCq
            +hMwW7y64tnXI+CvHJVPWtCa7f41ve94PytXJcd6qbTn/4Y/2j2S+hhVvjRO
            jyFcR5qXPe3dxXLVyV8q39vdDGp+zkqeqWIkM/fA3jl0es/b2CX6vsZdQ/Kf
            vbi7lffzsq9z17P2e7+fh7vc5OgxN2zIz8gKS93vw6vxhCLz6LZVp55PNdfq
            VYN774XrKhp9m5/PjxqGVRWadoCrqOyrTN7Nxc/naQbNVv9q69hz2L/aCjns
            ufsqvydpfNV/paAPxlf9M81oI/2qZ/+bX/Vgk6mF86s/vtrzUK/2Uf5ei/n5
            3FfON0HJ53NX9vP4+RwdVP3xu/5jl5+/lNe2Sd/150MwK32Vd8nqz1/lUYs9
            j7/0s9uu/nzepvXn8toBviwews8y59I5xda75vM5oE/cfft4fh/c8lUei6++
            tfj5/Ia887u8t5M06+fzWKv6PL/aDSUmO1efz/2ytV7zl+dq4PwqH3LceOJa
            H+NdNz75fG4zqLVbP+3J66v8DR+u+vkc/e92mK/z+bwHp0/88fm8Vqfz6+Pn
            c9d2+fr5fNzlv+oHQEL5OLQDQrE5+arTW9eOENHP53OX0z4v19fYBYxq/Spf
            m/ZM/SqfUMNu9/qc8ywweR2fz/eUcA4/nsdomyl/7bHQDTDVr71k1AHHJYT5
            y9p54M7n87TXGlvz4/l1P5+fz92G17h8PH/B/K/6+/28/txumD+3G4+f243x
            53Zj/bXddGoHxBLu8/jV1gvGfj5/wd6vOm98OufP5dd3nzccWL+pf9XfPP+q
            P20EfX7Vf+Oa86v+ej+vvyn/Vf9qLzzvP+Z2H+xaP5/f8BBUx8fzG/+3+FV+
            z1v7qmfe5b/qcf1Fj/z8PP7mef1+XpZ2AKi8e277b9qa9TfPf1N+/aZv6zd9
            W7+pf8Sf53bUn+d2Hj/P7Yw/z+353f/4Or/xo55Nw5X4+XzsvQEoGn/aq6Tt
            Pp6X116KP53f+lX/PQ8pYpWez8cL/uSf2gWc+XzeX3Dm43ms2gE5NyHwG7Z8
            lCn1BUPyT2sBLqZ8nMd50wOfz+85PO2bX5/Hr+fH65z+/Hx+Pd/9uY6fnyfC
            gfjrnF/f5/rG11974+7n+IZv+7mbn/Xfe8zN3+Ca4+fnZY/3rvd48G8/PXd7
            Hu69fl/z9x6erzP1WJdlvECxnr++bexebBhRFbLxdriG8ZbOdW/luZXr/spx
            xkDuBLCj8SKCwe7E6pU/vV+VdDip2ddQz/eB/mC+bmIqf471xTyGr/sv3hcA
            LpIad69V/nf++ePzq3h8sJDoVP64L/eRenW+fty3Nyu7B9k/7seL97wnY37e
            u/kxvunnRwdnmOHjPs6PDoO7Aj0xi3ZATdfz3Rnnx2DOsT7v5/l5v86PwZ74
            93F/nde/uj+69vD8nuPvFfhc9vya6Z958X588vDz+OTJ7/m65+men5neMMlG
            /4Y5Ntp7lPdoPq/FSLRm+6/msClPdzqeIH9EQsmwnJ0nVCsZzuPX6z1FKVVA
            xh/9dA4/3eu0z/nYjM+dmCkJAfmoCRGMGixxspahibrsOHh3hGRYoCVN11hn
            fR7FPbEs79b00c7YuOzvY7tyhB3vx33X2a/3HaUY79b9FZvG3zLai+N8LfK7
            TMCW1SJ3NLbmWLs3zzLxrHHdZVIbmpN2YnO8y6QWs0k/Gsqc1lairOXVO+De
            9r4bc9/Z92BLsCewW2ogQrHvXdz90BcYy3p8UWa8bHTu0qxuOup8lKmDchXs
            tbQwOmfzmb2LjzINbLp4zoTNlfzQKFJ1z9GBnAeXs+spc9SNF56zNFwNectq
            MMc2Ar9n25s8oIvvsPJzzTzvGetz9E0/POtcaPQUwYCuxzn2nkLL7zI4OkmH
            Gjwg/vY8TPecK/C2caoMqsAEdZOZPNtyR65JHHntGGO0Mil+lHHgJ4VtMqbs
            KjZXK7vrUcYPyk+5LpzPwyi49NlWaPFdJuexZSwfZWJ5lCl9l/msh90rPC+F
            qLXa2Ff07lEmb2He0XlMd1tx+mc9wJDAk6wHu8/tegC8wqNMDeQ49nqtbqfg
            rP5x4gCPYtW693IdIdscFo3LmTxgpMd5d91VQJIoORLwhM1n7369d33mrnrd
            odbyaG+4A4jWSQZEEDSMNg31UQYgGFztLuP77lMNj9PnVouGXTqQ1Jg2RwBc
            41HmBEayMlgWHPa16e/nPF5r7j2ENVv7LNUYH3PkwW8lwe3GfeZtHuvH2nuX
            COk5erTVdn/qR1vepzps7rAecVl/LopP3mVCq7Xe63HNDbk+24qt9qR6EsV9
            dm7bZ1spR+NcOrrlNxwBtH2WwUKaDHdQQJ6tDM7vaw/5qR0wo0mNSqL8iHvu
            5PGxuRqf7VZHmOlt7Wq3MfqZHvDLtzy9ytQlODJvflJlgtGT1ReH5aH8uQNx
            zdTziU2PEbBFYFkKMgLgSMCcAiM6KhlAfpHPwS6owBE9jn+3/G7dqIjEOb0u
            ctX4b9R/q/6r5+9yU0+nni6VXiq96me5IiqXLR6mn5nYnum6sPuLlQvSi1DO
            ahL7a/EKCuC8yiZa/sGfdl/XXte9MPf1z/5e33IXjnb99Tco/GUYtzlCsH/2
            91HP2t/2f/b347fXP/v7+Payb7Hb/tHf97cd35qM2yS/xh/+555cBolx6t56
            SxxvrAGx8mniPAAe9C/4SmIQ9w0bCmwEFygWoLpiWPmUsgn4b3BHB2xmYfX1
            19/6/dA6rWXw2m+K90xGtfj4Ip1FofgbESS7D/u+7/v2RaZX8ZGphX/CSA3Q
            GeG/wH9RqzE4zn/9/a1ZeEnkH9z1k7P/5qRnvSX7xsm/2YWv7m8JwE8c+i7v
            nszRZ+uS2rxUoD++f0mnf35/DicsC0yoP4C1i38PiYnGdy/p1+cvafnYUvLv
            +cl7/ray6Jf348f2myiI1P04jviQRJlmoR6u/tyWzdUt8f4e662FOpudku/v
            163dkDbz1/flMkr5d3N175VbS/79/Z/+/Wmv3RqI372fe35+Ed+81tI0Hr8r
            8KfxcdbzQ/38PTq399rxm712S59/t5dvKbT6KklCGveDX8rGP9RV//D+D32p
            fzgX91q59h9f6/r/da2v/9pa//fnLwTtgPltc/Lrv5CsrRdMCTQxeV9fYw5W
            7rv8GeL5NX0f5dsFjJWIr+y69nUW465P54JRT+A08Jz2L8ZB2zXvayl2rW7f
            X/a9AxLS95d9fxW7gpBNP/V3pkNcKNr3z+d3f1m95CfDrn7fx2XXUpy4prWi
            kyxlv1/NrsHZ+5jsfU12f8+DL8D76Yc9fe1x7HmQHHD8Wi7fc/1LHd202NG+
            m0YHLPfEme4P17umPQawKM3mxPWf+rKaE+d3Frtew67gNyV5iM6uc5wLtPRl
            K01Y5iIByIh2Xfv+qnZ10SVewRboGqMZ89QZlt8yyjMPb2e91ehTD2BneZ5A
            1VPq6KjJlTjSmVSRJiDfgt2PKXSbEKAwmOXcn+HQfe7OdZC7IR9BqRvbE100
            gt1rFh90Utz3mK1T5ZZx64F6qSCq+KN8HlF79QqnONCS1nyeuStE91yfPuLi
            gfjr797S6Ywbp1yY+zMZlz3c6SVfK7uuNEUZhzFl0VbaSs82PHmnRxuuBe2z
            vvY1WfmrLXHbbs3yU71nmPlZ79r1PNqJP+21SU7vUS/YUvesp7V5ffZ3SS3g
            yBtGmYOET7i1ZO0Gej4aV2/lVvxnFHF1Ol/nPP7v3//Of5vKusb4v7n4X7oD
            wGn5DlIw/2fqn8dff4MrC9LChjr2nXBOXftuyizq3HdLJSnLiGb6eVvHFLef
            1Tcf2vmMVtCRPPd5UOah+ywA2SJqlR5JmrSRKJFyM+bqaZe5HGij7BulVFJC
            1QysUKRh8Sy/JnsMDEfpUqfR2hCB0ig3KZKbmBGvQ3+TSVdAA4zkPGjKJdlg
            dhc67XCtMSd3ldiudeKrfF4lUYvNtgn5nfcZfQm7XKBQsKutqlmYy7VlRoCd
            zbp1yHYoA49QrY4+9Q6aIkaaQedcrzLm1a4t5Z/RDBhC3DKd4KWMp7T2zCI7
            NEfxjC1Okw3p99pyIndRcjzZ2bNRxUAx2YVqrzhFXl4UGEaTEKEfNsfLnrtY
            mztpZSsJszsP+007uWc5GZ5ZOVoD3OUqZa40vs2Y1HydLl973qhIo5whkNjC
            88J6QJeJOZEhtylX2IUw9zuQ0AV/mDvM9f4dPG3bfKqpeM4fn8clKwM0jbVg
            Pek6PeeEqlWQIdNd9SLKpQEhek/r4lZJRtBgMXu+B3GHSryLaBskNyU6FX2K
            5cqOih+vvuXDY926xNuFNLvamJx3moXh3vu9DljHVbDyfIZpZRus4763vTnW
            qH/9HTo3Ajeob64uUMW0xMB8dyqEL39hB/B7UFAn+udF++EeLMEZ62UbBOeK
            v7/L5kdZF+zdpGLYeZ2N6nUmZP/Js+MDt6mdHd5H6mqwtzhneYILAlVZnZ0r
            cBKm+Zt2vsoy2eIZXbfz5pzfEinJdLCP/LZukoEJtTODOqVD9PYIUfVdNUpR
            X2ulcMmDjjd6fJrcc1xG/3vwHjxJPG0gTBOtzyVsxQBmwF6jDClgDWcM+KIf
            E9U1nMPgMeMgppfvYZG+A0E8sHcoouX+8Tg/k3bDfgTQfyH67iZF1eIguguL
            jgndoQ5/+u4n67yoOeG6sS9YV7SRMbxmbV1o0/tFydWx6jWveJY6ruIXzr4D
            zYx2Ayb8PO03zux1DnA8gXNfqPgHJ7m0NrMWcI2X8Ry1BPzNyuXMC/MqpRaf
            y8ci9atcnZa/p04Z3Qz4LDTCCOsrVm9cA/sO83F4m4+UOBn6hi40meVSBpwG
            V9k3nB1BgOoFZzUr0p6FaTDskJDOJ8Dn+rbXWpin3K5SxmiUImKTmxEZZd3c
            DQRxbqUK2FvzaC+592H1zQh8iG/IKh8l4uTlGuvAxi2Cc+wtdiDWYrlxUjZx
            Ym96p3MfzVnmrjNGL9G2sB61XdJKAHxFwzdYk57iVdw5sJ7o6zzSvd92m7Sp
            n77g5LuTBhCBZ3YCmyyUqAtrnK7rnuu2VEembOa7juB/rWOeVocr7zpqtzrC
            8UMd64c6itXBPXXXUarVQaTwXUesP9RxWB3XuM67jlysjvzDfKTwax2jWR3k
            0u86UhLuxwJuKqKt41XH9UMd3upY1ziF29GHdR65nYYXx8HzYrg4Yv37RVsR
            HBqsmqxyCFexxyvvT5pfnuRja27Z9p7zQH3s6Qgguktq9OoY4S6v60VEfJoN
            fsUZR7koHh33cQFzAHegvoox1F5mwwFzabV2xe58qbxHH151Etaof+fuH3U/
            QM91P3P+pBWAu/VCgIvAQaPdffn4lvRSZdu1pbrLoA3RS97okPs96myEB3c7
            LPOcpwv4BwdG8zKJu73LGhuNSwAxSS/xbBB6YC1dntl3/LGerDZir65gyYJw
            dca6xXx1vOsiCgJrtvILeAizUqjV9OukDt3tM0gpEdA86EG0yTpCvkgNoh9a
            Z1d97oRRjWc6Gh3HMbIsz/ygtuAgLULbbokj+JbDqR3UNbWIoOcin93WUA0w
            pgGsUf+u/syI8WFvibZbh67cWvzqxNgS0RDaTbm6fmLHOWzyMjiPwBMgWIHV
            CMCwjj/1G2vlGvrqJd5jGcxtwNwCKaEuAH761ZHkO9tt6+lBI3vMdIwxndjT
            aa9VaRRa2fySsAEcpCNCl5YRvZuaj0QSpkriP62/i3UTw1fT0oAyz+wHjYJB
            017qE9Z7AgqobYx1AICeF+As521WR15C1oXxNW8FMJqukQknUnugpKvTzc90
            sb4WnCFUz+9JwxGYNElogD/p7RblVjVEC0mcSihE8Sq9x0DPgVQNNx02nN6R
            Pgf1QDhu63G6grkWcm84i7RAAC1wYU4u0jfB2nFAsoRh2Lude9TThKbE19rg
            COJ9pZUsEAJq528K4if2HKYYk4320l6Pu++UgoUC0jPhjGzeQWfhEr0QQb+T
            XO7Eu57rBfoi77lnOdAjPZMmTR50wwpcj7ToNYLruBroCU48tj7nmVgZ5DVP
            COGF4x7FHsRZnm04dPN5nrUmhF8di4i92Xjf2LcDOBr3BK2529kjD8b+JNI5
            WJl882TBFMm2vhk7ICSZiIA2P3FWuWeotyOfJLXdfc5ApNyyU8yucPuNj0F3
            ikYEuM+kHbFT0qYJRUvOaDQn4IoTbRnQKrBH3TQBMBvpVAA+WTXzmejWfe/2
            vdv3XvRLMnvFHqPozavZPehc6WGCsytJR9Gtbd830TeyRMRuadrbmya6QDNk
            GhlR1jmBI9EvEMAZMKlJB99K1RmNC1RqbM1xbt19bkGzco7Pw2AhOVsQnnjp
            aM/gDHZ70/hnaZr9WnMJRmDsWD05IcRtI+tp2VVy0FmOFBjbGuI51rUPrjnO
            OPaDGzJ20fOKNTzPCjoadC340NmPrtYMThee3UFlOvqoPX8Y/ohrcRuQEuZ9
            IVzTfaNF4/49BO8a93rFPqnzWncZd7zLLMJN0ofAfjSKxW66HJ3HyAvSadic
            ovto2wEPVC8oNQodPGkKjKTrN/FfI9+IP9CgvV9rvwMmzD5Tk1ExsrkCz9WL
            jwff0I86CYc66b2JM0Vcu+EjaPnLnLDp5kcWC2cPvMVr/EbbkOt64WHCOG4m
            L/s14h3gAcD8sMa58VABkSA5AHaA9uTavBIw2XqeF6y27sswWtvswy6u97xx
            Wolm9Slj3I1jBXdBy4BGQDEbb+IuMJXD3HuTdrCVjJ6uBEVV+KHpm0hz2AxY
            HLlfsUzYxwknFs+wnyv4N2y1RZ3Aib8rgIoA3UK6JAR+e5DOMBhLyUGgYT14
            GbBFOEdAWiBqSwY3CYqPeIdGcX4Ol2ahnAIk8vBpSsozUTb80lewuQUVO7SR
            8BUYN68ZnMS9V5USBt12oPuaK03vHXk6bFngDjAAugf/LANY91HG+AvsQ9K+
            4HxxvklLNkK2BR6F2O3CGSfnjDGA5RUdg3PoA/W/In3B9VsZPh9d9DFpuaH3
            l/wjxbvLfpBekKfhTyB/r62Bs4dFp1Ctpoy6yfONXSbbGRqL0IhaH9q3v62+
            UWDvIdtr2GOCraOawTyYzbGv0z/4sN7tvq9tWG++JdPFT9gQOOMX9bc4p6Tj
            iQ0baGyOgf2nkWYg1PSeNAdpRfE8DhgCa806PCbHro0CigYE6Cj1yjQlIacF
            TEXYy3MN+qKUDvg6QAKIJ11gs0/JiJz979r/vV6/7/vn/46vN7RKLp99xCwO
            z1WpdqYDRpEn+JaA/f0oh3Ni5aLBBVAY4jlKQtkDPA5oGI/14jcUqOkbJzqr
            Ek65dp2OYpvNH3jSegAfmTwd9ihFWXpO3APUOyLpCQaowJxI9uQ4x8Q15Z4j
            epFznw3Qsx4LRKRJNyB/Yt9u2Ic93WozjlfyA4eudIy7XSMV1JFB/AF+A9Bh
            H2dwlZlSoIt2pISVfE4Z3QU4kcgLx2vyHDlqWtHP6C+jS9FXlluNdBZhOQCD
            jgH2K+br5LZrK7Ubvm9e593Pd98G+4Y5m/kab9hKQYm3IA3GOJOODKAWr1FN
            LpWn7f+w5cWCqSS1jy69cNjngvgeBPQqm3fW2cN+7iTMA6gIr5AUwO+SG77k
            J2r6/OvvtNX4WKXkKKdmKfKGnATiyZ7x+KQy2taOxntRotwovBavhL0S4v0u
            nyQ9QGADVgxgdC8aGijqSqEzyAlltuR73ARsqBTEN+/nmaVUXZNAjbYDgKcm
            pLF56JfkLOvcsgrCsVNnGx+TfuTI9t7VuQ6gkDZ/DqZgvORLjzlf2CGYt1NR
            Lzj+EQmgMVQQKyf3vtXnOs8F6iRY3vILN68R0ggqC9rWB8Hf05PPx7N4mGoW
            vzPIau1HwVo6wJHlxpV8IfctzscirMV+u0BMVYogRBtVKnTFZzjUEGK4PD2W
            Qa+Ny8nQm+esGY8JGoL8zKLc2XQRt07CjHm2HcEe+72vyOt6AuA9r8JBSyRa
            pLxjMRhIxPjRtYI9fbxkHjJXtjnddcasNTr7rot0rwP8Ed49yBs95CcJ6xOs
            rvmoa8WYnv1MRbT0OfcaGe0p2UiKRq2nSgPRGrWLKR6XQ4w/VWdmJBvweASb
            XBPHznWD89SndOxhwgyfTEap+drz1xzoy2iqI+EQclDA3WAVKuVymy5pU7Im
            rMAJmBeNrj0X/duxLtG7EQRrhvgo8DyUJQKRLAu40Vp2IpIaFSBHo3zZLX5T
            69VP0OTeFUo+vS/ncde/0jWIg8Q2b1p3OzC5Q2FuiiKp0LDC1fd35Jcd6f4i
            pp1+hVwgtYf3/eYJ2cd2XnP3ERRWPcQrsm3sPzyvm+4HFbxhMvp41iLxb3C4
            Bs1RvmiIXi8K0Zb4SNIVBHVZONT4r1qD81QnlAOjxiEx+fo8T8E7KnPAErWF
            /VBpJBptPxAOLNB0urLUmVvDWOa6pujdW85WJUt2XtFs6CvCiBj0nT6p3gE/
            CtRDORrLKAKLuC6s+2e52nA8tdcAzgnnFZ9haa8RZA7uRwnxF6Aixn7RcLim
            4AvpBlAMcvcKLPv9HPgQkITONiDhZ+xq87A2vZdOTPOK70DlUEKLZ85kZZTD
            Foqp+mNeyM0koFLy9KwzEb4LPgcA/6E1c2oDo8FZBewTnax5Az8nJ1G8T5rD
            fmB/i5aMK0kH6myOAAwm9W6EHfRuBMZotYLsw3U2kJCixU/aAL2/3fOLM/j6
            dhQirZT4XWygaxkKBNsi0UKXPkZg67dMRWP2svhzx0suhoOuM1GHb50cH+dA
            Ls1ZugPA294jXcuypzwGtBrpVPNN9C5s/mnQl8IZvcS9NNBHni+KZ0jvkdZO
            zb5rpPycycpuucgZF/FNFr1Zgd1IOxAv5u3PmZ1ZWifNfbG6yTDhnpZ+3IGY
            a8o/ScyC38TaaG6vNEz2w3518FOiUU67H/kCJ1hk3s9vh2wyRysz6nvM7yUc
            vr9v9/d517e/71i7eywL+5j8Tr5A33JmydgATReFP/ERYBPwgnzB2QXjTTe0
            59XWGFzd4F4GjgG5ZfKqKV9UPHOiFTrFGXpnz3Aec6fcgvKyBNo8hLxldNq/
            jnXQOAvYQbySIQvby9qzrN/a1L28a7HnGdwqDbTnOB9Y0W7t1la62pYKEW27
            /FrP2dYwug3EHPjWha/Ph2y4kopxGagLf4CgldJnbB3iPX8B3QfKVQLmvdTk
            cAAcCSgQmuBD8fsMAWxDLqCX3AIb2C8aUqLsDLl7+iuQn1jvcmITAMK+ywaU
            5Tmq9IQgVQZeFoWGG6AzJoEy6EGX6edbJyaZegPqALD3eyAP46QTWGujQev/
            a89TRFO05ylrAmLxdXWeF49TwwB04NUy6CAy0tKp2PfeYIfiZGh+iRa0zlL6
            cY2IFDCWPogz6CuGczoM5pJpWow+R6XK/X14fB8eZTqGiu/A+Ii+xBzUtZac
            QG+5gwO93L3zPItvOJlMppUAu3sRbCBNBSpsdIdz4q4zywrB5JVCPdjj7sK5
            2rYOS7p66rezyY/A21DihfkmjewIhvjsUa7e5XB4KiPDqF3ix5Yn2x3zOm+Z
            Ti4AJtF4btmZTKOT3bltMrZtRt/66bUjBlAZ6+Xcbde171122y3nvtr34B0N
            qkd7Dg7JG//tpUc/6T0+5Gbib32qZlwUACD8ZfMhXuLxm5J8/faP33xew3H/
            9vfv4/H88Rv1ga8J9f59P7/1p2XzCsfuM1C9bHjX7ms7knT1a48tH59jmfs5
            zobNyX3dz/u++uoUvG0M0CJAG+fxqScCtYPpe+8DUF5B+gyKOMgeHCsBUgBs
            k9qy+0J2F4cvl0KBE7/v9/fYv47yR9KBLw9575dIek+FHHY/vrsy6aZM0DoJ
            vfr+jWs8fZ5b19dIZnLWTtFZIMIefVU/C7Ue6Bdg7CLNj3NHNXYGo8zyjAr5
            0nEdVteqZ6FtmJtkRt68qJ0X8dAqSdqPNgDUO/lt16IJdln0P6VCsToeHqP3
            wSSC1qVFydG99HsEAdOBM/FOOptGFW132X7TDJh0LzVbtI846HRmMLCR7p9L
            oo8OmM96qYOXuby+MblY379ZJwgzgHuzj7kAOwAhFZ3iHt/3WpNTpq4T4+m0
            X/I/zNlzjRRq8SQtyPXOoIQyMFK2kAu48tvsFH3z5++NlzT9NfX52SUnE6c8
            GLGT+0jjxrpPRgHd+gUgfUxidjo7+K5XszvXnDsS5rktZ7R1bCCD+lCsHjyn
            HjEE8Mr4W437dmFPddClgd63wHWMFIq51Slp1JZIbxo0BvL/1BVwvUCnENqp
            jhN7+Td1+DMO1QOmPj7qIAzF+LzD/GG8zvqWR212pkCZUfY16gAT1ldDGcyF
            vUskB7v0W/jLgXBbdWH7Epeyrl/KUneptaAECKAav/kN+gSmAePgXH7x3h38
            SsaazPOxZ1gH1pmm/wfJVGdnyIIV2FrmH2BIp5KBe/fIDFDGc50AQ1hWPElW
            /AbPqDbYvNGiuFKnxDAQsgnUuRiEmT/tq/ssm5wkb9vxtO2oDN8cO6KZy7St
            PGjIonMJ4gV7nPy/y+Epo5EUBIzmoKJq2yUC44J+BI2f6zC9MntEuYcFj9X5
            O8xGhfY16Giqb3ytOsmryPvd5pnfA8s37HjJWghnSJdzpJSNEIcuEOQsx/IF
            eAtALd9wJsv6xOdtmygaPDjxjAkHXraKlLZgvqnPFgkQheDKYTAs0TaPAk83
            32VDvMvuMs93xM2SvZMOFywiRwIcr/ivl0K5pAiK8riCu6j/5RhlGjhIgnmw
            xoSqZwUSObMsAzFy6fRvmyxbUbO3uOZ7PPTJz6d9Bxbbsa6fxvgam4017TFm
            G0cKZ86BkXhfcD3tOcm/zoXmnX7Bp6Nn04N/Bxjs2A0B27BTXgM6qID4o3Es
            7hPggewJwS7SlV72bXRvp4yHjXftm3vtQFFnRmIojvKGXAJ5O4xXdjbUa6gf
            tPOtrpSNq1i+OpRvEZRObJUHTbYHNOrb9VbDUS3Tt1mMOG0wO+0wxbOtBUxM
            e1HKFEmmsx5GDa71Xk/aluqI0bZUZZ1sh17rgx7OXQefj2VtMTaFAx/9ssfc
            bXXaVrKtYG3hv9wjh0KAOV1fbfX52VbcbbEO2VBewG9ACZScUQZ8j1vtgRIw
            fEAipyiQ0LbtjII11O0cpiuTZNGfJp/0C5u51Lus2o83bDFbTLdhjNtRRAG2
            05NGPaf6VcPx3jM43EZrpY2n0HTz0gGA0jW/delEgTdAc/Yksz48AwEGGF/B
            064HP/mWhxDXhAcfyf5s2QTqiF468pTKtls7TlcZ0kw6M8qhZHZIjfGS0zjH
            m5roonrLWCWvQ19Lkd0j6TpQ79kZ3DX6+5uuD4BXQNjcci85qOxAtC9Gu/XU
            0ulgrXqPi/KO48Fn8D4+7qWzt/N5GGWps1nn1iV07G3SRq92QIMmyf2KxED8
            DeILdb7xbcP8zSYdaN16yXaXZ1lHHs9dXZHYmhtLGsdIY1vvNu4ZpLOma8eW
            ZbVg+jrqE+uj/3gO8mR4yixuPomG1bx/6PrNxu4if1F0rFkP1xH0UH3hvmT1
            Hw+cW4mhEj0MikzUn3N10Q+iupbks8c9SS/xABiKuWjgIKqjpJFhrXxLJrNK
            pEsaL3Y/yc8al5UsILljWJ2VJ+00XNu4iTbD3YVSAaTI05KDCbh68cBeQs9B
            +5nCSEbGIx+SHdKGxGQidsVBk1wIGxb4d6UA0M9QatjvkybxGfUEl/Vttvuf
            zkGnPTaNH7D+tFM7929PbEudH2W/wLmFnrzgMRKlNBjPeZieiXKxFikp9FjA
            q4aerL9bVkMBzMhm+0c5EiCT8LxkcyejmND/5KpUIcSa3EvutkyHlLE2tDHj
            wTEeAlRmBmzw10yN9tyf8iry8nf9lGg83x/3e7ffAwtxDvd5kI0S646NsjPT
            75Ey4LOzjLEU59R1ArTNIwaO383GME6n6RAlAJnJaxy00bb1jT7UQsiQxSMk
            52TbVQF5tFaesuHCeTh7UvwNrTO4yUTeLafDvm2L2s/K70iJ85tMPvSzbJIp
            PmAv+zdrPdqW63dmLgBqXGNQ/wWiQfg5puFO2hKKvCuOJuTAJehHYbjAk1LC
            SZlmxn8z9lzC9yx3f3P94ZvdHx6+6glkuR/lr0p0cTXj8fdzf7yeMfyaoz6/
            Sh7fFHz/qxyfqRxwF/Gqnglc7LUH2KUxDuXVGr/Zu1fugUMRLWOz+fG0LD3u
            dazdeMuJ60n6u1+A3OFy9E+VQAH1g/KnXgpl3WRobePpQ7jx4PZFOKbhSe83
            Dpjm5wzE/yOO8Pv7WwbkbpnOLlemdMXe/CFG2vaNohOGM9scJ0EpTh1wPzWY
            tAG6wmj0r2LMOTr9YNVMP8JkEHl/J0Grl06ENh+YUdmX48FQbDDzgbFAlq2s
            iRV/0ReU0KAHpBHAZu3YMkZf9HjoPrB90L19yqi/ya6O9Fikw7H4S2exaUAP
            M4ATy3c3FLMqbb32Q1Z0y7NCTHcMGrMj2RFKZYN/Ej9xvo2XwrUZrUnrW6ur
            0WY8ukEwyr20fXXkbWWcEm0BaEZhV35DnpDzQq3nPQekH3pVIKVygQzQ/SQn
            x+f0Z75I9nJOjL0CzlT7XvzRdKrrRFFvc006GvwVCAV6OY1usnhmyjjMjMRg
            ns2H4R/q0QFv9CxfolksKCXlnvSt0H6mbDVz7uM9l3cU3rj3Z3rtX9oXYDfP
            1zj9kv8aVi9cuTTG/5ZPFhGIt34oVFaYaK3R9NgxqG9yDEXYgvTeoYcrkffg
            e9KvYYZI3Tg9jFJliDcifRJhpifvHPeRhV+dYmeDJgGU57cUPtk4/vq7Yff3
            +baxNpssYkL55LVFW8ZKeLRxrBPtmFKnucEC/Ufvd09ZEvG7U3QAOpTUMQYg
            LwPKeNqe4RZHqdPAD8fhAhZ0OsWkHbF7CGd6EV/cT9qzgF41mBUMdmWKsWhX
            yZQxuI/7uQL3mc0maXIcOPA3tMugzGHrs/AsAf4Kh1HMhHPUzEaJcp3bFtZd
            16kzSF0snipm7QnMYb5Pbvh9rG64QpOouHk62Z1RHCFdsPEiJtstNEurivCE
            c+Jo3wwCyuiqxJiFIK2zn4kyNLMxICwJ4QJCxDzIjqKc8hUgl1vEs1G3xP1V
            cuPvN51GX7EjFbuKTr323i+H7NHwLg/RjO3G29rrIL7qiRY9baV2pD5ve5sh
            MLZ8fZhe2uxxjmz2FEBrmqN1GTyhnydtIOO04FMynAlUCFIgYu9SNBjcGE/o
            NHsNp4h4bs23nqnQtnRE42s5v/wdKDugaiBWs9EAuJQd3rkc3zNbD23G46CN
            vNmL0dOkgl/HdqS0JLchHUeVHnbIppq2WcY/AMRUWp2jru60R7JHfTWJ51uK
            ZXaaHGbbHhI0efoZ6PujtLv98NW+u9vvwBcYB01ppN5Zn+WOfA2WYUCEUm6/
            rFJph1uy9U37l7sMXSrh7hvug84W+MpFuFZl1znNBpa+cuwXPSWf7Z396rSc
            vu1gOSbg91J1cEnXXSPT5gN9TePz2wWozjkM6PP9PdeF6Il7FGRup4iE9cRl
            fT5kcOND/pgfeUVR0Uj4XGa9+qs/cfenjXHbk2X319+junNtOVnyFqNm74nE
            NsgTBYuYWGkeVdrD3u+2D6RtBk69lZFtdLDvaL8zxiSTRtn7li/VXe7mJYM3
            araYzQug7WkCg7n9AePjm/j+RnIc0Stm859om9ckNCW7Zd/Wx7f18a0z/wS2
            CRiwaBAwqVBu9p3k4fs7nt7vfoZT9uWSUTp7d2WKd9Kv83PDCc5TzqPLDsFL
            PiECEuf3xZuT9mD9hT5mtCujVWnbfLsiIpfEuWU57pmSwEN0SsTf48G6n3cZ
            ICz5e3N+DtmUxjyXv8+9E/yk3DNcnXDEnZI909BoywxEh2XaeTBGiOpdsvcj
            TNaad1mpmg076wTPFBzjiDRUl8FqT9nTdfYz7Hm/54T9AqoDH7bLxd+XS83m
            7hWxyokmi+az2QU7wdyaX8W01FlXHKfpJDfc3DIuwIXr1ovVau8sZpDB28bo
            npTbXfvdAxbTl4jvSO/RU5S5YbL8SAsJeflLRfwmR+sc/d2wL7rZZ9AODHtE
            8haUb+e2M4r0empmE4ryoJ1NBoHy7TLbWK1lIlwFjgGKkV+pV3Y0b55IZm8m
            exYcXkfY37v0yD3R0KCTjqJlzPalLLavGn1BqBfB7peNRDO+PVzRy2aZin/n
            Tz9krzjl49jJjC3yCdPVRfvdiZYd5SXicaj8w1l83Q/zCUEvQiLedcwS9Xjf
            7D25Zd13uw99US4XaXfwKlvsne+7bN3316qsm37IMwLI4gBE4mL2tVtfFQqd
            ZplYo37X5+x7x5io8lY7KfG3d2n3q4KBKo/nfvu4jBWyPGZooIDzWGX302iL
            iH3y9oWhJBNUG/hJ45Hjfu4X90zceNDWKDpTse+1qHstKNcAQeELfY9Bs9Hy
            DnQJvVgb5YGEhaBPsSXFU9EXmnSgbI6cYmGXSmbp4tY1+7lrKn4naBcxVYwu
            IPsp8SQrlCYdWifuMF0WAyRLPulLb051BcyZ+Qp1yre82/xW5aG862qhdNV1
            vuriupof/rsutaX6545ltXmtSzYD3q1tdyycQl1LlS2d7LRJizi1G8SfO7RL
            3oeMfLp/D6prObbXPZWYjdZXw3iFwjnE84QjWDe/O2OPoVFrEGTD1sUP0FaR
            ZfiOMa2cZLg4u3Tao6ek/HVam9LZeXlPml9Uy4wvxfkUVjT70WvDtlZtzKDT
            lIGrgOabtPR40HWyKQXHCbjbxINhPmahTMSZzUsxOz2iP9pgNuoqDsvCyDEF
            xovvC1QtSDlGLDixQ6b04v6mGTA/jhmdsKeLpyBGMB/8SzlkX09bahlmT/GF
            tK8CRgAcaW4OtA0aFdT4CqYXcoBl/Mbd9gilGV0KBmi40M3/45aHsX3xIqCf
            2EfSXOondcvED9PmmrFPujedLGOuvJ7PXf50yurHYPiMjsF9xnNBfa/GhV1H
            Xoc4VnOx2+Y7xrsfM9Rtz6GYshF7HNy64sk4s3/HPosUclWcCe6p1MAjdM84
            Ls5TD0ydU6RCiXKAFUeqwen31B7ltVHG/LzS8y4yAL7irVBZ5qWfJew/qvEe
            lETST6BeOxfBabKfsJM9hmnXa/sexv2clswWJ67uuBbbXhb7DJueXkOKLyN9
            6WlxYrBpejzlJ1alQ7l/kzZS/JJDvniMi+AIwzBr5MPABo4d04C6ME/ZBHXA
            3O2ym9v3Ru8WjTcedh9pqVqz6AC2R760Um82TS5z27DTTpixrEmZdPmI+bDe
            9tcX7a45hkW/61O+p7UGq5O/aS9dZjzv2Au3D+/uw63TIm8bZxs8b9WUJhaT
            gaYoJZmfpr5JTrKZYJlEQdWvNNHPmRm7pE3z9QtudsUCkr0VecpSrjWLfBEd
            LYSkM91t0QX/bsu+i6/vSL9OyRXxTG3E+Xrn7zqjS9XGTFsI2lzL7nXSH1B2
            lxVEp7O1rLaWVf6F2GyG7/g9oyCkZLA1uizcJNXV9I57OUbjlzNhK7V2rVD2
            0FzbPkxO/raFqUpiiKT3lInIMf/lqTg8eOvdzXerHuLN9vt3atPfbYZLOyBO
            WR70Xtr9HenSGt7fcd0r+JNBD+Ftl2+JsWgvGcNgbJ09j47yBAbz2PQC7bFx
            L7/ti9Y3w/hmj/HiANU99xgxxl88QS/nvFWzS/dySWPg93gJ8y9/lvs3s2PM
            833ftVfOIlyXZOMrWXR1sulfdH+RQXMzHyrQKJ3vBvY7aUBPCZ4iDgT1k9kQ
            cTYOW1c584g/B/zstO0lrONaym9KQhHPdxoTCUInvzwSQFafr3hW7dlZg5UL
            zA66n0V75k4Z8Pe2/bFou4771xyPfk3NcXvRZK85Fm2DfU/Ez71Lec69129a
            Rn4DmCbGJAIJlGQ7HaP2JDlFKw/KP1nmhVfc7K1TFm9qNoDrabfiNw9QJK7G
            mrir3ba9ij+Ets76ac93+xoR4vjDeHnaNehZiRaLIMsvoku2hfk/E916T+oY
            luJRDPm5EGvSfqu+nvH8pyyd5OsZ417w2R3Hyy+bU9qTr3dciIMx8xm8rL9p
            iRNQ4WSQ7ZQlI9pnoQomA7oA99M7LrM+2kMoICgg7OsZ7YcP04Xqm5obZW/3
            +0KfavHCim9QyNGwn88y+dpl6i5Dj9E0nGSgWqBlY8M8sZ1ZTX7EOdO8SnRn
            8zvFsFO0+DnvibugeNm6EG8yRtCsJhuiXm7uc0sfM3nFbDplKjRGVVt3G1bP
            Z/13vTkzDBLO7wKPH30++1v/ThqW45uTKVYuWSPymXzqnXz+GOzMvND5vpAc
            OBn9M1o/Ir4JapNBcy+lHDpNtc4epMxB0ofM3TLNuvX8t88HoGPx77ggV59x
            4axl0jCU8bpWXGmgu8qgl16WjGXRz6VQQ8swEGeMGFVmdAPq9okzioSBkaMt
            njRyKUwODY4FrFemtJ0m7HQFdk2x5BSgrao95xJj4dIpHlRWBiesOkFXHc6u
            eOYYyYF2649nnjp50puMagRM0ti3cy0KYx1jRvFddDGJlKahAoidjl7iVOSV
            KQ8HoEeLhTkFHYk28BLzPMwvvDjrBzVPdp37eS9Gx9s98P3JqLwFjJj5bj/L
            8/l4lEd3wBqzv4XxmWfdv7XXQceDR8jrBCrRc8owRNfW2cQvFNIupOlpKDnp
            XzylH9l9LWPuez4HtHTy/z9V94l38nL22hH2Xv3SN86NLL5E97RytbpP507Z
            1+26TxrbEoJ0a4Ohut2c+3d/1KE6jz32jzrv/rav/jJU1F1Xcf3xreoqP9X1
            Q/+a+tf+O/27v/nv9U31nD/Uc9717FgZ3spExnx63bsj73re3/D3Y1znPa56
            fdVTf66nK3+aV/yO/6k6/7v1yKmkE3YwN4dgRgmKaGMwg9nhlTrs0D6mLLXu
            JDTufsf1up//fu4/+yX9Qd11EifXmJhoNCjMRCOd8aqfZ9CJj/eSH8tfRDEa
            3OA78rpSZ8v/8aUX21nG2uYjWzN/gc2D7TjkCkLp2qvf9z5hG4IRO+aDyUTt
            d7C4RG7zKzgEtJeirId9YuC5S1YMIOsnWRjirgvIsbokTZFn6inbw7LjVGk5
            JOEXoGaf+900XHPDF/Zlw3n5iLGtlGMcZbzK6xSi1KuO/qwDqC4ZfFQo84Jv
            0R06Q318Hx7fj+f3892HiVHsPgRgpSET8F1PsXrGfNSzx8J5te9sPPe3ufyj
            b8/9beN3jqmX6KtvcbSy9X9api7KIgjPk3070l7HbHESSgYOfJT7t9+Xr/d7
            b3iNA/iZcJCRnbrOFJVsgbiAthGr+qGMvcQLbXiN47zOMTbNRXNHhrCLRXGj
            9jmhYJdxVYiMyXVLGTeoU1O9VCYLFx/gwkOYodV9L0vWSbd70Fv0IQtmW857
            2jExqD3VILTNIiPOeKm0vupmc99IUzMShPHEnpFpGeHDtfh+T134FF6jd7Sb
            lAedjv2gEclZOmWqFBM++uQGY2UGti1/O+tXHDExBhv6kn7qV25ai1e/0u5X
            2v1Kdn5e/Yq7X1H9wslO55b/EZZMm7tofgIGUwTPIiNMrHrDlTnPYjHVvRTs
            RsPJEHzR9pD9pD1v7rmaLWeTn0o0MNclf2S8FewP2ZTR/tfofaUSKyc2yTId
            MWWM92/wJIMx5k4mJNv1gW0fff+mnktlmavn1kUV0LPtOqUPo3nlkt8fo6Tl
            +zdjF5GXY/wCs/vu8sCnPtNn8OWMmwCSWG1O+bd01g/ysY+usVTKuLkfj3wx
            kwJtl9lPenIwGA/ngNkPSqd8lEImRkWjPizQyuD9m3WTWyRha+1tvQBowk0r
            vmLLkRolfS4BT6azK9/zJOXjHkdnZEnwwwxAHOZiTjtqUivbO033jMmgUR32
            kubRfFw6E0M4Ch/pFr2S5NS0BKEfBu1SQxzg4hatF2l11ILky/RGL9QloUl7
            lla44xJPPvWyhZXPCeeHbcTHe7BD/WjpMOnZCerppKSiYQ0D49L2w2IWMH4s
            Dcxkq+0U7UEyeF+Lgg2NYXEFwoyM4egYr4W+3JoXpZawOejzGtOfiufisTi1
            pgjwQ7vIQIEi9//9nLFm1A+Ljc175uqrMhxgLMRBzxDZydUdrzJYPwJjLnUX
            BmhEyWFo2yRcfkz8ZmIMx3B6sfO80Kf5TGCJktbT9OeM5EkTNNO7md4QnRmn
            zuFSRpELYGyfRUbe8ApyVBiIccpHnvK1k+GdH3EDAZDBMb3szGgrRv45MOR3
            LYpfSLkL+cJUeQYIq/Z93Pd+3x927ly1e9lGVLM9pE5KdkgWuoHmoBf61ATv
            0zV0pRzCYbbXckxCeJBesaxuLxoFCyObwLZpmdTNpgc9t2u0qwMXqffTyqf9
            HFDfrrctULJr2/VmGoMrrrJ9H3e8ptNbPObbhgpT1Lcvb3r8roA09+/y+N0s
            bnllAAhG6ZP90FVsnngEscHID7k75qTgLuBi7pIXMoul5NXbnikoN6qjjWNR
            tEh/0hj5or1WdadpdI793bOOPK4Q5Wl3kjY8+i5/Mi7nHQeI6hTpB2Vt4s5k
            bYH+wW6uit8B7Bv+VV/vdijllmkyzu4spzSJrHPtPcX4Qow39+gz45h50xfS
            q9DkpXy263Rd5d2xMH+03rdzgqP0iLE0twwRRBVB1tB+OmwNFgjo5Rlk3Tvp
            etAP4JDxvQa/GxPnP+zvWrY5+d1ccPwXoOLdd/wGSJIvTJmMc64p9/QXxUZj
            TAbrIygYiXUmzjFgRqPMFc8a50H31DsqDeMJJoW+4QwCpTTHWNfI6CueycEo
            daSBJs4p7x0Jf9rxshG/47+QOFeKGRozevOBIa3C+6i9UBlXvG78kgZlaLQp
            Viqd7EIqaeCP/2P4c8IEzg3WtePUAL55f9v98Y922AcglBP9dhXMVeP1mFcH
            T0ZJrORNDBrpUyn4A02LYpmpePe7iKNPW67ZOqVRrUTCqhBpI7eaTCaJlsy6
            jWDw5oXcRX2Li6fi4JZr9M/njE/DExXMHcjkkxfTJwEP1yYHgEZ8oxhJwCJ3
            nL83TD3W0cIbxmbg3cD8XuA4dd4pgm5ME0ClQaXNmmLVMSaTbOJkiifbcm+x
            3wYDoWPjXlS39cDY2o6m34yTQJIZkMTiB7dstspJCV1Rn29A3TveF+MYUWXY
            h2xzmf9Xttj8PgyF8MK+GYr/QLtkyR6w0nXfC9fGFe427LnpifRMlgrncT//
            TfuHtY8pbN50VrQP8cpCzNhBiu1Zdhxz7tHiX/JRnVfiR8aQ8YpXZX1kXKpN
            CzTKGs0w1+ZThhziQxmq1640KJXuKSr/KQO3r8B4cpUaF3rKYQeIyKA+lDEi
            TvCCuQZnccDctpNv5BnQB/w+KE/AJgp5WixDxalIFkOBZ4xSFq1jFX1HkqUR
            P1BrP9Iu25T43JE2qafNxf2b37pTpgTyDdVzxhvN6FuloaDihVbVU6jcXFZn
            lrzTfguJKN421j3Qrtdp3LSHZD1mo6A54m/GddL4GMuY9gTYlwTrjKEbvMXD
            R6dls+vAM0hGC95NTjMo//YbpEqv6jxchF3/Zlu0e7m/B89Cf/NqUWIlR8Op
            r+Q945C7mlPcYbZxxFm5btR1n+L5SOHYejFokWwE/B4PPeSw/qKNQd3OGeQ3
            QNeZex34m33LjFxrvsvuXgtwQ7J5NgDOxf1hzakj2zRJ2DTHmGaPfG675HMa
            rQHiTAi/DbtiWwbLLG7l2m3HvGmfdNM0eV83bXTTSt80zk0j3bTOTRvdNNaL
            ZvqirVZc8yk36vO03BX7fd313DQT5kt7NzG+M2hcnt9wXfKbplsNGqLdKvkl
            0b5B0VSzpKJb/2GZt7/6u0D5MJvc8fJPpGRacWoJN2jZM10GXMV+X81iimrK
            wkquGd/gyo6xRXUN2nbrUqxFwMMp/Zj515JwB8dqdTj5FoMEA1x3btvBVvMP
            p+0dc1Yc01ts810v4Q/r9dS57PwWtPkLOYS0feznxiXKaEndp2OENfBI2fJD
            6ErbFqWSucBARcW+lb2CbBei+EjwDpdoC5yp20aDdAQ2b2lAFPSXzD6Etudt
            MlJCtHwso795gXFau6Pt69pxWRlD51hdsb4cde74bsj2kBHG6be/1Cf2mRHY
            KlgI/NH2Yrg3LGeeAfYpWW4H0QWkFYma+rR3WAcQBZ9j6c3e5UghEXhQyZID
            w/i/7S2M3zlql46C8YcbdRaKqVXuWMcETKFRLsb4ZZx7xuC7/XEsHjrjkzP+
            PfFTBEl30RqD8oxUa7mAIhTvipi+0X+FHMdJe6jT0rbvOGVESMkp5n+/fTtZ
            P43Utx+AnIPIF9KmtzCeK+356Mck3MXY7SQQbf7AXjsFwhMs9ODWTpILk3uZ
            kUgLcPLoohcM3vcN+w/pvTI5UubJKevnPQewS4PtS3uZtnkYI4OIc6zUf/Oe
            JCnvlW3kprfoNhptbMyfkhxjkqKtuV561DgtJr2OiTw59r1IYYw6Wtx36sVp
            VzaVI8XXcIKf5vNszy0PpExgpFEMjFdE6j5LFp15sPSbQSiAq7hmnR74y9aM
            HqmZsd6dyQ5Ik9Pue9MRpHeKl2BJMIRG7apjcN2d1WEC/GG0kc1t4fN2+/Ae
            Vo+etf3skg0ryET0L+x+oU7aKqtf6/Gt+lTXbbdOfcQsytizc4OBxMV5kH2J
            6GsKQ05sFk4OtbSyD3e2Tt7okj6aZKmgAYTCHX3gSzN/5kvaVvSrGy8l3Qd4
            ozKo9+ZeIT+L+6m5L4rDO/VdIVQ0P6VA6wLpv4B2GEYV8xeuKB937l3ZTGFv
            L+Vksf9Llk7TmLLXrTLYSBmZPhTn1QMxPp/S7qoYLOK7NskY/fW3P4OSPIYN
            L3VlDhHLB+DvNhthsPE+8iRTPixGByMVIfsmbgw6lAEVKdPpK9YjQMtff0cQ
            FKQwArmqI5r7s2JcCHb6V2xFOh2T9+iFZ3n7f8i/n9CFVm6UEA/SJkApuvrD
            roSDKaHL3n4Pkrg+W1yaHcsvkHLoJ2P50I5BkfN5le1qYFzFoLwyqovmNICj
            ON+J9/kKkgWfMmLdvoXRbPGuueOi77wAgIEW0zIesmPv2zZUvqmMQzX3+8Pe
            j33f7+/WvlZ7n6ddE6Cc2tnx2HuzcuPY3+96AECL4Xu7tmm5dROtmY93riuH
            MYNKzGuarUNQ+BPBcMVQ1FBB0jN+lehSKVEA7+x52nGdLHIE7cgez2Xv5e25
            fDTwPLu8/MsOLKe6n9/1yILa6tHzV7vO2p3ye16y51CeLwUnPhR7hPfTwt8m
            xs1RXJRTc5645ztjhNiYrMzdl5MO5Dl91x2/636MIf5mDPE3Y4iPMcTvudtz
            VL/nbs+ploZrQA5s+9Xgt7t9KubeW7WBNoqhjPmwWzE+qFNGbnHuWe1FLlu0
            2LF9+EEEgqYEnsXnDJ9OMpX8qvznfMHMYBsFHBUcE8XL3fup0x8GbQquLuPf
            d44P0YcAFIoneGxa577eOfEYk4i2WRLT0T5b8YzKcex1d3uWhZA645GPdZ+9
            Oc3+NUSLH3vteUjMFhlDtbgzVnZhbmhlFeojXpnFFBMNRRs0f5ovP+ik9uFb
            uOkaCsckqyLPOk0H1A7FEcBpsljpssO6f9c3XUj7JKZZs7wf2z8Z/N+VryEb
            2XS122+G25N1HObRfNx5JClYImxhjAXA7UqjRPaLpDBjUfodfzsqmTGmhgmQ
            8IzkkeIh0zQJNCVtXGWZd+MQ/iebTe8Vzb9LccMSfXpDvWOg7bZCYtzLE/DD
            K3a7/6ld0bukty3pg2IKKRqhOxVLqcs5XHaSar9KDIe+hd2HQ/rP17fK9bC/
            rZRnhXdfxRcE0efN5a/Y0Yzd/HPsaKfY0c5iR2t+6O1stnLrps08cyu08zXP
            tJGr/jhe/vSH8n2wn0nxp718S1zFHMlgwK/4es4cDA3fK3aL4AglRn7TUR+x
            xGYSddZe/kHWCOMNM9GC+nkORvxRfpOWD9NBAMjp3ZVoMTAa0a/sGtJpdoWF
            MBB4PFosZ2ey3+O2i8zmE7q0X4N85eq5lsWw3XEz8O5SrI5j2wnuOOR6F7/e
            ZdQVHbW48wQt2umber7jaY9u8XqBcBk7s4RlOU/MTnXHw8zvOpXzpMuPyyn8
            6Pkov/sgZP0oX85d/gRyv/vidX4/27XcKKoj+M9xxHgttbXzqSoWavssA77r
            PdaK+pv07m006RuvGVcAcsm02020z7/22B9j9a+5Xe6vvxsmjP5B9o653pSP
            zfpstlKWs+rVJ9rqPsdOTb9obfuGAoqwY1lbef9ZnoLKj/J5l9/9O77Wwvev
            8uU9x3Nojl0idRwUl52+Zf22C2WIJfqyHEV+Vk5pINx+HneOBR42wJO5fyvK
            PDWcfQXZzyqmNI6WM9tgUcacg2Myg+iRbxvgeRwvv+/A+DxjOsasyGG4nc/Q
            idb2FFXQB7+Ab1qMLUK+mXH4BZ/x22U7FxzDDa8Lz9w1huLaM/cS6g0PWDSJ
            u1vp4s2OYD5k2fL4vPrlvGISMrZ/8qPfec8yziylBBIiUW8TovxZ5Q9IHuXY
            dDmjU335XybadIMSPpr52xK/efpOKOb6o1ynD6fhG4/u+kcegbyvl2JwBzpS
            vOwXYsnVYm4TVDHmTLlzFqcdV4dRueSLTTZeeRTrhs3gnxJg1C3fOCymGM8D
            eUXFoL/1uPRP6cxVnMHp9VXFm7OVZny6Av7nJXuGQvmTt0gEdLG/9b49xYm/
            Jq/LVtr24wvyQy7mC055RZQscgSTgw8ve3sG3GmUHxSzLQOtQ3qE+6Kbf7jF
            4eeKb/t8+VXR6lcxq+84EpiQbN9WbBj5FUa7b8vyGTb6rhfp+ehVR51H62Hb
            d8kJ2uKYxQaEovhlICldAqpm4BqeHwyqK09Nlv0VM0wpK26K932vknEfO14x
            467vd86eNQkrI2EVUTx5vQGCUTtgNvmpL8ZgoOtFvg0K2iE/hCCnumm4lt/p
            nDI28yKstjLiSmSLYWx6jIq/yn5NCnOYaKtgb1IuyYyu7IvVbXx3Sve6ECbU
            /XvQ4oWyr3bn86M3r2JILPHd/c5DZ7S+YmVU2zMrK6YEE/S+2pYx2GK8vWKy
            0EqXul2HK015/YLNNeeC9QAmNtXjKctmfBzcczw7V86zLIB64zUly4lD05AE
            XJ0yfXWA6toIST5KDKVMgQDmb5lNC+edcxucxRagDUDibByBMfnXPoc+9pgK
            8RbDaETzk6+SOYPl7YrHr+j/jXTv9qnNfY3vdlx56flo0HjIDyBERRevx6s9
            +hekBJrh+/t08Ev6tKh9p+9cSbTbZgySUN9r48pKQb6hGDP9qSWXYb4L2QJR
            FuRDMjhNTx5AlhCC0dZM7/dR7rByjIGxZYU4DEV+EPeeZ6pZ8FGvM3Dv38/9
            L5umIfnFUWSxYXvyeLXHhFiCP1hP6tgkmiWOw/f3meM+n145JbQn3+fBuzt+
            OM+qwkXSTlzvw/F6ByB2P5M9JHU4nId6dfJCx8RRGrdev7RqvpOBdiWEK/Qv
            umFmoSFGo5OS6LrzhrccA+767ad/++PHGsDxuSucEtxv29idp6umO764xC6A
            wKbLqBbjcRz3+13+YrzLYApO8kU7fyF/+7njgOeff9983XXHH9pxJK/d37Vz
            fp87rgBtfsIM5y3nkOi4mS+x3NgwR27LlxOzpSl+KOYr62yOCP54WTzWw+Ik
            ZFenaHqL4xqd6bDaYTa/bh3fOWYC4w7FwCSoysm4c7nQ/0xxHxhfkPtYv9Nb
            7qn4hjvPLmNa6j3zZ+xYkEF0j/mm0CbP7/z0Tvre83jVt20X3FiKGtBTPtl+
            J/2eFS9I9VKfxz2vHI1J9o2H9j7wE2XYtPe8Y4AwvgLzMz77KF+2HUOD9XMQ
            KzCee5n1zjvpjfZhbBPQV/1Fi0zRQZRlF+w+7GLGwgTx+Mh5xdgq69x5YQ/5
            VSnnU5SygiEMihzHuKdB1J2UHFhOVfpTHi+ajWchtLF6A5+bw7UesgH5izrl
            xcTpoqU7HV2kS2ryWwa9OpRXmfpRySmMplW860sUDmnBSTtlUIdsi4EKnjw+
            x4i5o4t4uwLtEmj8V0GDoP/Mrks7OltfQEiqzRkijVkyquKHnp4x6c30VHTm
            kvFVpp8O+KyPvvf+2ffe/nXfy1ffyU9+xPWg/3IHjdp2HhUydB6U5WFniP64
            jFdteZDd8DsXxYhudJdHcQy5jWctj2kxXvn8HGyfRjx8xp2qGD5O9o6Hsira
            PcvicHbVyUijyidFn74ocHDT3djQs0oXRtDDML7K/WR5jr1y/Y2ewICgr2yb
            IuMW6A4pG9XJwBo7L5dnfDWqpB114Iw3hrlr0WyXDewsrit99i2GTnvFk5R8
            X3CAtoIYLfvrCnDpYUGmPnNPM0Gu8NUkQ03mZssbSIpT7VFp2/zOGW06lSx7
            XID3Jp5hckx3jkcmWuHz69xxiMBK3N8Jr1LhRROvd05QxzWmidedT5o82f0N
            ZSPKUQGKmM8Ko5wzzvemLQSvZbMn2RltAJZyUSeLxzQv5aam/+Ak6E3TcDTo
            9p56XMSHoGjiK88pzrvKn6LrBXsYIFd2K9IOGyxhxSlumabTuIC/LUYsA2MC
            ajTpjNR3pzx/hPvS5+wy2FtNfnrTufs76Q/q2rkv+YwxopmByXSVYCCmaFhX
            jo85LPRVH+NsjIMR3bVjUIfBnE+kOwHDvZ1TBrkLTT7ahrODyRqqf8OTJ/wo
            xPXoFyMiaxyM2/NYK3rnSmcc7fvOvcIYesv0b1wXxiEiALl5IMYvant8rOd0
            q37ALPKJoB6wrm315Z5lV/61LPMZlf7X350Old1iUQpGLYvPpfA46Av7fR2G
            z5Q647WXLTYB4+qSZp48gxLr0t9PdHE93jhFdto7bK+7cZT2K+hvBiAtQb7E
            kqd7izH8igHM8TP3pWKjW0R15vrr95z6jXuPZu+on73PG+P8KqxGYpyYOhTr
            etMkd67cO9c0gIh0RH3ndSmbjuo757RSKsp2Y9M0p9Ewc/cLc7h8/uvvcdIn
            5J3v/I7XYPEkQRKmt0+w4lAxPLnp3rpkjhYTmzupAqjQTzXErR8GZax6WmWO
            BdnoK/2XwuyCNq+bVid+cPLtNVxPuwT54ieLdXjrjDcMJLRuejbl1220V1Wu
            Dkday4FuLqfZbJAjoXW4eB/S4Ev6eCdaRH5FwymGgOXHFKx9+R1vWwD2qUkq
            ZPatUr6Eh7yBMVCSv7Y9/CW8TvLU33Y0seS5dZRNhoglxbHuPOLMMZQpn3rG
            ktwxwUjPHdedg14685R3n0BrjyfN1XbO6Rfdl2yv3bRdOUzmxJwnH7RW/KS1
            InmcxBzTxqMEo/lO2cK6Vi3mTHjpyum3/YrdAso1S8aDHXvvq1Oy/K0v8TTe
            T6Jb0H/1V/EPuZ7Kjwt+VfYTLTCu6R2DSlpk8zfIOy88/XVvmnc+xx4tDpdg
            lphUy/lJgB4V28JsiHGWz7XtreUbQ73RTbNW45M65q1JVy7+P/k9R/M0epO/
            g2Jptiq5aLZ8MrRYIX8WzS4/c83XEt45N53k7u9p26a5O+uLbpd8Pe/YX7do
            hLCUsT99bzdOI/LjWq3zLB80Or69jvf8yP7vsHVPxe5P5Xcw+KYtM2jzDJqP
            5zwb/t3xHhQ/gn3Fee63jfqav7Y5aG8SGcEe05DMz1h2DaCB+sYhg3mHFOs1
            pvCIcU8bviajkyz4S/+XFy5Kb7jpds510jc4TutFT7xw1ht/WBzccVrkoc3H
            xTtuHEZV3nzpefSt/965sg6DwcwhCbybanycT+xjRocxG/Kd87BQPkekW2kO
            UXy8Y+ZpfsCFM8KK7VOx6ibzY1KNw+J3S27FRAVUTyiuTauycfmMQUi+eu78
            oPv+zBeRMeP+XYr51+U3YnLKuuMAduXcWMoTf3lKV8Ido5Dn1tjqZraIO04p
            YxXKdeCOj4cht2HxSGn/7mMk9rc4rkZ3+hrSrCtNZpTD76g45d130Bh4I93Q
            uf2n6dnWnzorxmL3USmhfqwTPEn4qc44f1/nkh4MeOxevxCvV8wXSiQVG4fn
            iegrMiCMU4xVXinjC8B4Q7GNLhLk92+Wo0ka5qMt6p5To9ly1XuzrSO9UFOQ
            Xlq/aS2E9gFfG20um9Qi9KWk/Dothm5uLAfKxDPmDoi/RTu1+XzeiDwVc65K
            MCDXHsx3S8zZFQ/6pWLiRtu54i/zV6bnBe1tT+bRPYr5AzK/1/Ho20V/BQoo
            uvZgOBnkxu7pOTOT5aBg+TM4XcHrOLVhczpCGdp32Vm+jEOR2nBP8b7i8vlL
            tlGEB0vBlmSJbzkaD8WhoHmlrie5IVdpA1YInaZiKdLCe8eJoE1xWqQ/OOa7
            jrM+3vfktQMKI2I/yp5OcZCOOoNdz9Cn1lSx5eUtCPolUVVSmYfzUFyGo0nt
            F5kny5UV6CO+yBt64M3KGHy08T5oxBbki8cyjP1QRTtRX9WITNEv5mVS7nXW
            gWpvf+5x+7PzmfHgtBIUbZ/7GbUWwF2DuBl8eGMYOpY7g/kP1P2b6Obl08s4
            KqLDbC1BZ8m/HOsLQLECRb6H4o31Jnt3i6d4tjNaEjRCqaR4b1G550hXla2z
            IwPGHJBYMfTlXFk5I72eg44CUW42nASdulps8pmc5ePOh+RJ7NdJNzvKfRlB
            fMsGDukgZRPHuCI6U+Vc7tYTrvHuv2JHt9YEQ7sSsedoNEll7Jsgnj4qt8nO
            SfsaQ+yL51HzSdr1HgNtI6u3GHjMuZqZN5ISrryS2+MKe1xlxCUdHd7MQHrY
            SSgDeBjdKF0+nRgvVfkgM8CCKjfDYBBWQBtZ32GnFa0x4DztZlO3dcPzpueA
            94wV4c4FFBqToy0J7Usp8wGuws5u5CP+NOevc+2JTwojLql/6LPTGWnlzjtW
            lezAye7fK76ox3rt+e+de3xQN30Gpgjs24Y00fzoff9cZwoGQAAoUQLme1EG
            qvmOWI+u9WAKAz373g/Y34ofI9h6MKX6edztWPvMs2DxEWWX4gslOys2GnBY
            v6i/4zlmrBhPB4ag/H52fmiJ0lZlG4yg74rpF+5+8IzITgCcVaBS/tS+X+8+
            MZP3+6wBX3fjcUojl83zyfxd8iu//LzCe/8G/96/mTT7eNvjV2nPLJCEcBkg
            hgdUrJ0ke5iyqWw01zQfnClJiq+Jeear6GqL7xrIKxp+ky1ZupwClNGwBL/r
            3PYpFNuWJhsUGxvDq51s1XTBh3Dv0LnjeOPGG+laIzFyqvlS5dlfPnp9P8cG
            ptkz7cqz4sMWxddIxMUEvYpPy/z1jhgAOKVZ/WwTtGiXfz7oGM2dYsTfMVQx
            tjNSj+v9uaT7QMNe9/QZIJNa0HZ67NHHvc7FbkcwvYi+c1ExTLHPrhNzFcO2
            vRSt0rbNJaH59nzLW4cwnnrw+2xRZfJ1vtrdz3Ewn4H95hg5hbPQFuRkxhLb
            AZ0Cm9jpk8kcUkAWmOC+cE32LXMqyc5Aa4N3piftxtMsalai9DeH3zGo+Dy1
            a8W9jlgY5esFcbNesLe9Ye+583jRN3x08zWT3u0A3V7pdSD/i8W9cmbDWQw5
            ddIP81E/baV+qT+sV51J8U4xhecC0jS+Oxnt/FqnfvJ8Pe4Zk/183GfCFJsH
            cpIca704B+qHznJFX1t7nd+aKNPj+2Iw9wS9pvPP+KqoS/tcUVWGm+TvmQO9
            ljD77WtxKawVIJusNRggIvSV2MYsQqLyoWPOFPCY8nViOy5cPZm+WTw539fr
            /T4rgkscwshDcKUx5zYwzEk/ONrOuzXCYOx7MhfnrDWfVQEFFcnUmx08qMZM
            NxTicJBkgfZygU7zyxXS2zQEDTR2UN2d50zxtjrJIOKb3rTTafLxWE8Xf11P
            xS5oBj/CUqiAbvEvOiCv6RldIg0bGclLegv69FxF7VTu5VzJ45ivoRwBJXfa
            fiWnZLeoP/nnfuch5TrhfE/GdpYh0Au2gJim5QioHefUX8UG4XPqzG54JniT
            LtqZ6FnY+Av7pZFPf5bDQrVMEWpcxw3bt53Y4jGS/+mGv8p9HhYT1XqdudYE
            O89JOSDHZfsu1u99x2wPngbWpNhl83HH/ZPca+/DMs98nyHB8i5DsUS7wWd7
            CwxywQnVnO1nBWcj4/tUmPcyzvHWLxTmVCgxTnPSsPxP6zDtAY3cBFcYY/gK
            gtsBtH/cMijyfuR1/c4vwrZGVv8j8xlRDoqJqpaji5SWJ3UdcvqaN5yjXM3n
            TwknzeYnsi3QdtTDKk457YeU290t5uad2q/yd7Q19LKZ3eu6nwEvag1F2zBP
            WLP8Wow5GzfsiJizBEwYqff4ele9orK/fEfwO/FebHLa9hzMdQ7mgbk6zYun
            pGfcweb++hsYceWtT4y0FWqyKRxEKRFrQLta2l3MSZ4QfAB4n9NZrvuTMVEv
            5b30zfQAo4C3K5diJM/YcQ6VbxKwaFIuaf5l1Bc0PZPiGPwROdSxhmw2ouJd
            vPRMB8XxzGNosWDbyKIt3LVzLdKmZt/Po9yxgKXLcg95TsceIe3XAQxvuY9k
            4lW+6Qo1vedS8VJ2TPWD7xvx1ZZrW0op00MMk4l0qzcNQnHgrMScCjKDjTIq
            kZ1ZtEAXgcrPu93zVL2VMitzpnnLmKLsYN56AQX6Vv4GOm14mjcS7zIvHOqQ
            pa5TPVt+03b9fL9M9yiZYZfkS/avi3o3RgUwfaLJCDwf0VeoyatXsYtuuqOR
            Sclv34+bDjm2/B8bdj3z0AD8WtznaHTMOCzeBuiB/KRrlFZTNhKB3n4tKt6F
            2WSMV17C4TkX7bIoE7cveMMMtK1bu+0QymWxnGnBQz2+UtMeVA9vW3nSXuF8
            5ejgXFZGMrEzB44nEvAOioRwfMhcMDZvJe/L+b9j9rCdVJkrsDB+owvbPi3w
            W8IAZQXmtvRuWN4n5o5iBimcKqD1wrj7+QD/8dJnAHG5e3/k9rk/XrqvTvzx
            1mcxWjpj0Nw6PkctZTM7Oso2RdMqBgGuwJHUP/a1c+s00WOWczKb74npLN96
            W+kumZe33nlPoum/tGm3Tistf7oyHHGd4krZ+3OZ/Nbo/qG6Ws2fukfKp+sA
            tmdcXQDG7TNLmiQEEMJx+6bi/CieBW25+OywfGI7vqG7bezlqEJ4UiX/tbSz
            lPPRkopuUnM4yy9SLVzyzjumXO+XaDDZYfdouR7pPEV4mufV7jbmlu+Cjh4f
            OrBtx+OO25bI9vw6zA/qPkv33mcML50Bxvk9kqW+c7FOyzde75hM0e88dbTV
            3L+r+YyZbZ+ztY3b98lsOu03dd/Hjp88mYvAaKXEetgdPFPMsCmx7JUq/VqG
            bD2C8v3uvHQnff04prHltdP2JOUadOXnvATZNiSZbHLOmcdrMA3NnX9mKfZ7
            o7BLRl/R4kUIjAXJ3WgCUeXzk0zHQp7kuLyZ7nntdwuPHlA2bL0F9RiMd7DM
            Nlkya9LTUfoonfte334Y93pTZsPwdsO/dQQkxu+8msLbx9s/meeypDE6Cack
            PXQz53B6QFm+B5y5pt8r4CwznoDy1ageQrrO2AmHxUR46xCAN0mD19GZI4f+
            ES+fZ3mrYf6S4PZrLvuVmEJ9SRQpGTLWdMvreZbrvDTP8Yd32Bvt1hHI/Ui5
            kGxNSLs9ywIONYWbYgSZx/N0mC8Q6ebQ37oq5xnL3OwcmidUt76fmKuSFR+g
            3Tl4bhggDBfp98GEnra/msnHmcf7Yu41Jqm7mJ+MocOmKEHGCDkz7clRThV3
            wkfAe2aqwi7v8nSl//NFgRRztApnszxBvuL2t1GZO9dNZhZ+wJ5j07yEOdXy
            vG17evf0f2JcFeXgblZHne86mP/hVYf7fR25Wx1dPlNJnMdr7acI/Xzcfhh3
            XtokXRCBzzmb2QqEPa/bpkx+HidBFOU/2JA3TGc+4wPtMA8TzpBzmbGuz/LK
            Hbd1NLJV6jTsefijfdElv6M/nMXf+4VuCcfv6RLFufyBLsHZ/qBL/gldwPmk
            3ygGxlBR9IVmbgf511bJXRRThz4MK3Tmd04+PnwSmZuCfTg29cz1LG7HJ19Y
            v2zvuLfjZXzad14p+XC5USW6p0kCbWNcYa41LR33/M65/fbje+QpUd5exl/x
            Y/ZJHWGiFviVQ/jun+DsMrmUQt542SVZezrXPtNv1E0FgZPdF+YSRPWiX2iS
            /de0b1w0/zWZKgDCuON9r3zum57luzsnW/zKaXbTVbNf8849xFjaI73HzbiP
            YCPcK8davoQPVHN657VW8Eja5swks5MdByLQ3oO5VxjraOcyY/zrIFsxt/3J
            lEW1nb1czKxI3UhmdHi6jMm+w3zzapCt6Z2rhukwgBTq8ksxNUlByDeKtrSc
            K5zPnesYXGsLNgbGN6x09QxMY40zmARrmMAtM36VaC4qqniliQKoPNp93/md
            GEOSMu8wR3v3RRZQshkC09JZZ3dXZ+xJszMASZgUe2RYpkfaLzDaSiZ9NOqO
            z2R2O/Lzih3w4MoGfxjDbJhdCk4+zspEt268Dh6mMJcJ7f6nhbygzxCIvWCB
            765tCCRbNbtv+z4Zj8e0MroHjm6Ec575dswmujTmc0phPc/cwrzN7TPI4C5b
            h5eD2RMcigGDuZqK7zk+bD1Z/xhmY2l1xzt+DKMUKDloNr038x7oPpotN13x
            wjAfXrf3nGg52hJE84Vv23eeMUmYs3jKWtJshOIrz9GmGTF3l1cbWXFQouXs
            5JgpZPN7zH7EmVOu5AHot824ZcwjQ1uYQFuRdFlmGNqaF+a7KqKLaHnWdo4C
            5TBFoTx3boF4oQHaJOZ6n0t61ih2zr6P1OPzMO9nstcHncV4kCZXtDykkXqS
            m69o1HWAvKn2LqyrK6jJbk9RS/m8yI/b/av2zQuJtrCycwt3H+a+lx26Islj
            5ji/HGvfOb8Oi+/bjhfdbzE97tzBznLDs6/3XqP1KP3cACAs7sC2v2CUOe39
            Ys9vw/+1UHpY1A15+ZJxt5zM24Th0Pc+2W1Ndh/2fd/3bdf3j/8N+kcd//Y/
            T5euId7vX34/yWW79z2Z3ud7nrps/l+bM9/f7eiRr5wm81XhZ/en8fLf3z86
            YO9f7X+NY8rFew9h2A5Io/xYNlrZ+/n3e6CWwjlhoFv+RdpkhPgqdVYb672k
            X58TR2muRo8/zlXeczmP9OP78Yf28fMMigvv6s/121yl9PP4wm7/tFBhv3y/
            ptV/ufrj+3K5/K/6d+8V737eK3/696e9xvSA/+o9BateEVBTJjFqZe/Vip9r
            XRXl6LcF/jRWroD25fp5rt3ea8dv9lq7z81v9nU//vA+/uF9/cP7P7Rf/7AX
            77Vy7T++1vV3a/3z+vahHVD6+h9f6+u/ttb/6bkMyep/wZEQGOHkdX2NM1i5
            7/JnsDzL3//u8u0KFDUBR9l17SuDxvP96ZziYI8WGp9Hmn9Qib+veV9LsWt1
            +/6y78HoJn1/2ff0XlL2oGLPv/s706FYg2jfP5/f/aVPQqpJ8hs2JZpu2NXv
            +7jsCgatKic6k6JTR7/fr2ZXmpMJ7yd7X5Pd33PiC/B++mF/X3tMe07IoDz7
            +sYZxwtRau2Y+3dvq+v66/8BjRccew== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
