<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.105b.e066</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.105b.e066</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>105b_e066</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>105b_e066_v5583</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57446</integer>
        <key>idVendor</key>
        <integer>4187</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>105b_e066_v5583</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10x+dgj29/N4X8Amwi8s
            /rlnY79N9ePNP5ff5/K/Rz+e9nlLc2tnRdyma0yYw3fUR31i0F+P8Bxl+aPm
            DLk9HaN+pi3RaO9kZr9fD/dniuvgPRbuUS6+7TFrvqu9Ye+j51hmSjmVh6+T
            VrS55L3y03DFrA9nOFSOcmGmnnRE3Ouo9UgcLMd2hyPyDbACibO58Ic74hhG
            WRKO4ckr+nn4nu8jZTxnldyNBELUi18VNIMT88QJyW60bhwbWoaUOYiidYsd
            f0s8D6+7cPx8cAzXptOP4Zpz4RheJjWQR9Ta9aN9/a/6/4r/L2JtMggmP+u4
            jaq19LdRTzq+juMvVYTF/7ALvo9XO7/3n/c5nArj+nk8D7tPO36dfxqVtV/j
            ibeRz9Xx++t4jWEY6f06/zASWr/Gk3ovOv/XeMJaovK1vt5LAzXiL7/O33sr
            /npuGCJjHLLjn83jW4XHHyOBKLr9HrTfdOT+8LrNYnynPKN/jvv99DmWHd9X
            iJ7xv73H3vOTndW+jutvxc4nS7Djx48Nzf1nT3oOW269Vk/Zzj/2+f6uYfnx
            4+vZBWu1ft4/tJf/BHsvv0/Zj2+n+EYGa+q/CSIZ2/21MHHN2zj3r+NzLuMa
            P4/PaLMeft0/XNHf5dfCX6H8beF76Zqt+Ov+PRmXjT/u35ORQArjlTRcyF/U
            ne6s4yuBHYFl1BFyGK3j1XPEclXsn+NpAVu85pkwiXEcZ7vBccXedPFT74dT
            PB6cfwXtL04p2FQ9QyYLweeMkmlaCIoLPv/CkM+n48p8tIdMAezu7nj3/+7v
            yQRTj1cVMZI7QCpGMMYy692u7tTyb/9h2Z4A7n3MB8Ly+Mf//Lz4787j+v+r
            88q/PO/8l+ddxzxdEOSgif9PF2URBHZzbOf/4rHx3x2z5Xue/93li8e/W76c
            /uXy1X+5fPXfLd+/eO71371Hflfza4b/OJZcEBRjlv/uon9/rFepfDkk6Tfd
            lpm/fHcaww0hrgB5Tz0AxBgjWMH7DbpFPsEtTuz5E7L/xF9OiIsTHOhs+Ade
            cUKWnxP/eC7UiRP68Xnj33Nk6j5QDzOUoQzdJi9cD30mQ7HKC9dD6mZI6rxw
            /cL1C9cvXA8dKIOHZfDUDJ6VqRdfuP7C9ReuB2HmC9dfHQrckgzJxubF3/Tr
            Xt+/Uo6XfvVwmYwJUv069E3o2WLOmSor1cLjhPIF1v88DbIVGuC52g1Ge2C1
            ejAO2qGKh0Osdobnpvacb7ue1832PD09raVn+G6i4IjncZ26DnpmvEs1Eqi8
            /LnE5iG4eZPYMQA8NJ7Pze/l4cpBvYDYTCOsFMPVBwbYoBt306V7vl3QYxGO
            s/wgyi55m3u3czpU4BkfaeMXVdvhCkV8qFxefs0l7Sebzt8viJKE8d6SwDa9
            4cx84TooPjBREUbL8yy/nmOopdvu4/V3xTOr9Nm5J2tUTfJlS7XudPpSPdIF
            u2lhlI64+yXjh+oKzpmlZjCMFK6SuGT7DaBYts6Z0R2xEvuOxRSaLnLpoNEn
            Y/EwnrnyZ/H2eHri+ePMTZZdxWK367kizj+jnY8lzTHUDpUW8wsBDGOh+m+Q
            Nu4T1gAhPBd1vnPpHNDiQ8MSx6MLgka1B683eRAzuBcV29EXEuNcJI4fi6pz
            zpWzqS3H386pTVYaBk9zqxRaWM8oXPhuL9FILBXTh7NC4TTGE/QFWpzU9DBb
            IMELv4v9jvw9oAvNOALlQed1oBXce81H5krg9YlvelG1zSFC1HUQcONywv7h
            uc3OPeoVYgwrkrAxYXM+LZ0kqGg6MmYfY7wCd11/3/uCSmwao7SWeP6F4O9K
            DpFpmGHxJncwTfb8g+Dbh+CHdCZyGk0dCOTGOLA9awZf/NqY2OB3G+IKfH9p
            z6Dwuq9LAdfRPXDbdTx33TyXDw1gP9c0myA2IwFj0fXPBSTVYn6yWeTcB7HY
            LmrRbq4XCQ8Mgb2LrpyL0zxVQfAGWKukYaiDi/uTTopqvGacnMIy7if0EUCT
            S4yuUeLV/NjuA4Xd3Ctdu69+T9/zmT5eU9J6yuYxd9Yr8wbt+5r0XhM59Lry
            U8UYSZ6YJlmv2a8plD4QPgWSobSRB95p0foLlcw5DBjWIJnR+GIZagxsk66N
            bjaPjQuE19bex5OmHv42889xfUiB5BT6ReFmpi355c3NERZIWPqHCQoo+cZ5
            Bt51Yo8HkHSi8MI9sA1AK62A1+qTAkGcDcbiepwXJ+cCne4hkH145FUp0R8E
            JovJBHug7+DUw2BqdNBzuxuvo3QJ884zao9PLskzKVDqvsfhg+JAGxcVvyP2
            KPbYxL2x0Bc/0+TEaMLwoDo1YWDcz7TFP/u+3x8LmWRJ5xb3NbBoTim4ZIci
            xjMnGYjgCPKBPHS8gEDONSA4angFR5MRtvB8EgWJNhohnTmfm1FfF3WY/Xzt
            gbt06ED+/OzEe/s1B/9GF9Nyho5z+npmFReCusL7bl74kHEnN5h97s42Cjcq
            xHKEZgJhAC2E+5y8E28GrQnC+TrAQ08KNsxZk6sIugiu3/xtVazleO6Uar9T
            o+BI2XWB8VAa8SDoHJzEHk5VCCdHmr1kD3RN0YGAz5hlHWLrUoMRc41nh8QB
            hZMMuCNuLItsbEgK3xFFzrg+5eqB9MbfTBKObBOhxZm+I7QgYN4ryLiDanNA
            JVm815if81PB+QtE1LeqFOOzTnsGdtDlqhKk2trMVNfBkMTubfHi7iBhQPfM
            4K2+SOcNuS81LpsaB7lyd0hQEE26n8n7xPCR/zxe6DXUTot5rHrve2EcT5Dz
            ye/12C5+ifExYoQg7k6MHE8J727FeDhXmSa73YMbMTftbM4T9lxJm1eDA4rT
            PPQDOuFigz574wz5b2eiv9NIYHJ8ZjgFTgdv2SYGz1eAanPcN/YVGRzYpfGH
            QU/DStO11kBzjs5NiEz8xk8qsu3Me39pnnqiRk7H5EENL6w/5WeEngBBEqWb
            0AFkAmA1yU8QmOQ0FLuWy/v6s5LZ+1hhCIhMDrIoJxO8/anx3FvQxLP1knVN
            oOHwyKUVsj8H5yaocx1yl4/za7DnStvXHNXGFtbnmnrYNTmKFHjNBQOk72vq
            tKWJX8/BfR5eM8c7tpsa8J4D/NNzcv7MAZTam3MwPiTwpDzvbSGk28Q7SDq7
            0mhk0PjAvb0SpYxzgfOmr/42vzu9OVII8cqfgV7QxKtpq/sG4ezzlXCh2sTf
            3R5KpQX36VQw5deyayLUu3MvVnrsOZAI72JlJ557vM9JYCNjXwNdRC8XvhYY
            46Kvtl3n+xzsMXPjUuA/pzHzsJ+DY3ifToYKjvEYD0jlXGZmcRtHjN28/q36
            vi3bTLvIhJ/zSg3jOmunuXY199lJkqea1mmCAVo/Brdsx/uCPB9JznmS1mIC
            8hA/yA8DNeeP7+8mSW3mmragImPXfp/52fNxQxDgHdp1i0DIzPH+H35yu+vv
            ghq0hpHAuptHXb4Y1OxYBAyCDAdbuxuDS6Ouu2/NE5L/JIO79wBwfXJGO4Nd
            n/D61EhzehcIygyIixP0iOFqB6bvnYFrQUBtXXpuYewBEvrcL477TZl28bOo
            UA5NQ7BnwLi/rz3OOM38jP1zPjSfIa06iwi4cGBhEATBmBbeeQS5FWxcfDcR
            AIlmS+lHZtbBzYVnPPoNCZ1TPXnskibTcLOEKcoiKWwKvjPjSwHcwDUcEFg3
            goKqzE9wCv8d7Xe4/fdlv3PKmGz7nvxcaliL25sxHp7D+McpreKkDIqPnZff
            c7I7iK+by0GmNQOkP1WPQgUGWkCa0IlPHT9OUBYt45NS63wGP0FxS7/Jsq+I
            06AZYIIhYSe+z3HUV60ZQ9cxuEk2u/CSHf9moB0b9NKzumm56Ey2KARoMuA+
            Q0QGrVChTay0/ANiIzfXdWpxQ7bjI9tvECwDUNRA9LvDgBTnOZv08eSfodhi
            wM5sxm7ts3hUYmTQ123RA/kw/fn5UIgNOhIecHMocZm+3/kq4LRn1PPMUjm6
            f4Zl4w7ZPrtHYw5/TvD779DSynbftezz8ues7r/z/rQdfi6fn8uCSMt/QymU
            KKLNXHIDfzESuK+LF9tJeF2dBHVON/UFgl1ui8W4pb6DWA6piv7dPjm7Ugf/
            u0HSeUgHpbyCvjvArgYNUMjkatGFs2D3yJbvqdHYAe1q/yQGIGeA5UTbA8+l
            E4MqX7Tv/Oz/9Dsu+SAHrz0pU6ES4l4d/xY1JXyOFewT7x75CVkX+Lye7HPh
            M4jrSKfDopwKgsO+ATHdx596TsYepRfzkOOxdRODDD+/4jZ/VDa/Bi9aFcks
            QerzaSK6h30NuPkz71fcMqqbSi7KIIBBSD1O+wNau64BL4N1S48D9Jy4PF/g
            ubTfnI3yJlAkZ9Fgoc/OCyydN7ntJtoW1F3Tefy0zHO56bvhdfSluZJ156/r
            fhh0ugb8nS5ge9aoJrexq+I/GIFgArldax17Mms0lj25gzQxMaWLUXiwOhAQ
            rME+ni9D6zCjFPo5UwcquOnlNgvv3cFB1jseKlZLG0T3fvV4vD+5X7lfg5LX
            jrk+115+bV09/+3a8F5LTpJnWivsd8oH3om+ysOfOyCk8F54CgRRSuNiFsWV
            yoW74PgJneuUgqo5PQfHkxg4fyxYrGyCXl5ii7be+RYJBNzqjcqccqqvJjcP
            gwe02Dl0sEKzBvIIkvmuHN1JnjSz9ikLixMGv9cIcYjB9W0swaztn0mCMiCH
            K7REU7ogjreFwUl66jP1WSxFw3fcLS08Hy4y/nBoNbO02tzvMN2yWLmbOyYr
            CtSqnr/1B7yeEzCvGb5LwULbu+Pm711aQl1Tuz9DR6lOwGn1sa/JkwHX95rC
            vQkiS/saiNYlZ9vqa19zy4jcHAbG3pqeG4Gpvp6fYX8RUMkk3W0UBijGJKAe
            7Z5Yn1Prw1hbbxJcdGLfPRYjgbAo5c4aq7zbijRLkyxgw8sWjP7sZix81O4W
            dhM1Q8t8XgoPWynT4OuiOsBJlf+o9j9dzMU0XLpy7piektKvBeU5/cqWEzSC
            TEW5sM5u45DbJ4/xWtnQOmB5xAr2ePRtahUchA7mHApWtrPhfr2xgue5f3K1
            Mm9yiA9XG8ahxvEPPkou8EmtR4orrlH6CBc4j1fZPaO7luz8Vftt50+5zy6d
            Pz/nr/d8poCUa+bP+TfYPz3ZkD2v0ro356quoM4YaX3QzXec26VX7ruPepou
            EKKyWvxFS3puivsR7abblYLJBL21W9ploDdYJuLg51l3NEoThyfdlqaAQTY3
            MQvE6vdLtSIl8jJiq0eFof/lT5dyVZZdU4920ddc6cZ9FJx65gLxHdt0hFzO
            nhoBvXEOe2adn2fefGbFY2XWRt4VSmW7N2Fh1iZT51q0a6ASFb57CIojaEvJ
            XcbcsC42flW6pOJvzlDTTevFZfFwNgxZ+LJhEKDtcl1DP12FBQ/diKw7iXAG
            twsEWNk6Eb0JHc9T4MMcwYlqG8wisC7scFjBgz4Zzh12OYy0BpP4ooUSGJy7
            PtZB4HtgdwacZSQAy1vZc1TqXPu3TzcnSIC4OA//nRiNlcyFTE2BD8xS4GMY
            5EbU7kGJfMlMmSR9wJT3uYqxymn5OcYJagHJylGD260j/Qqr98JJqif9SfQP
            YJJqfkaWs8omSZHJ67dvM4pGjuKBoyxTAe/p7wHlWDTQ8xm6TCpmWoZBB/h6
            +lhyJi1S7za5cJ4U3pPpctIqlt7r8ffb72m6QYWucQ45zy9xDJo7uNLG/PoW
            6beouBFF3tye/NpPciBeS9q+jfPhFcuOEEosUPlkBJC8JNGzLivN/aQVK5aV
            ETWKdJMuna4PiSma75eFiQK5POgOFBSeWaco/PGbzLk+N1nDbpKj3USRqyGb
            WNelpuv48ics83OHROUAkI1t1+kUV4waqLX0N6bNxQZFlnM7hRt1ka6Be4gI
            5B5tN94QVVzYOzFUaNwJVHTid6HTGLt7+niucsy2dRBF4BZlvsl5ToY4Bb1t
            pPkgZ/fju/ou3a8VczN5X750BKySdBaFa8Su6c1JSqelMwam3U12DfP9DXEn
            F52K9jHMzUjJeE76YcBY3KmDWy8QNwmBesPp3LF+7uOZd+AEpzwnk6b7vbkj
            mALNYSckZSmSO+5x4N2MBApjUkZRpKIkKqJi2OKC1b8H8DD8Qio+7AYvl2gM
            zfpg6EQSm2Lc6tKAMOEnP5V192rPoBcmgPi9k2vPzzu4mOLZikJT2JG8/lxb
            R2lgbpabS47Akbk5e26lUtc1XMcwEGQ8WSg1QCOyBg3rPPfuvC+wZe7c268P
            oDDdgx5Gu1c5OTdV9+t082IP87ve1+5ZwYFeLtUv7FrOTrV7SlfCvj6C6Szh
            9DAV8wTwShxfBQHws6Utr1sb61x7nPRMUUQnH2dQmP/SvOfhHkbOeZS7WWO9
            PGSFjUtRci2LCwdfg54ZI8gpVEqadMxzU0vBpHNB7uWTUnyBaQqWc5FQxr13
            SYOiBbboA12HKU0Br/etNGkxwAqLRdwuurTATqhNc1dBA9FIzWcdlVnC8Fle
            +t+ZLzP/8fnz+23f5SCEOKeFFGkRMq6aLD0V86ENh+GJ1pVuyDBZl1QwL7OH
            SxXWx8Z9MORM90eBsixLO5+RDreSFWqDCK5md+o3nXWSpJSGikxKmuEZgX9v
            zIKCNAkL9mrKh1/DLKjg38PnO88L8R/P6zo3+rmUnPi2/w5h5tc1u0/AAx/7
            Gz7PH/f8fL+ZF/rrOXrPv42P3+tZGz8V3mzhgj2TMQ6IcxgT+D6GxkUtje6s
            nO58Xom5P7TYfexKXHoGFBHeDyYD6x2myaY4KEXcq8yLpnQZOiv7jc1mv2v3
            TxHAfWsjwGa2c6n2c6MFicOzgOt0ufUhzvkd6s5YvYq2Bzkv80LyuC0dyDKw
            zmUi/xyekXVY+BN6krkt1pKzsUtJpPCdcoFA09E+eIYlRFVPWQYX0PnYAU37
            5M7uLrTn7nzz7uPY+eS92+++7HPnnw+/rtxmM2JX2f0YalTign2Owz6bH+fm
            djel/Z72nObn92yfsBGL5dHb7503P3x8NYZqGcc+b1eSpMdalu+8+jTM6m8+
            /np5skS3+YJiEU2zeJbHr+NUCgw9rt2zL3xyb0qZbZTJ/rMMlWZKs0QJcw1B
            VzASbiglOIUMDfR60f0ZYhlknmcZkbv1LIHZmhmSZcloD6NE6X41xZxii2WC
            ZU2YCwGUodxHcAcWWcBm6CPG6y5Xau4Uzcv038c91Ad1OpNs8kV9PjXeTqEz
            wRtwb3xXkuINFjQgnui/mp4BMqXmVHzCvFdog8kX6bZ0RYWC9Bm+k50+G+Dz
            fBkXkOAh20ZhIc48FXgFGYU7MGH/Nufr64w99Ml7y0kLZSUtfi6dF3g9hMdN
            acfviT4q6s5fm7AHmPbMeoW0wXXQqzOv73IFwQrT2JV3kMxIiSdF8P0OXP4f
            p5hOP4f5d6Cb4rz6peTTeiv2GxKnFi66eZSPf7pfGitZStJZINW5EFh67pec
            oJiAUqD3nxp4kR6+ZEwETToWCLJ30mkvfYSLAvaGCb3kgKTHJcobvBqFW6DT
            BQIFL56wsKSPs8QZ6V/GAkcsppzXIIyVmD6LTxyv9UoRBszqOHbhO24PLW2m
            48IdokJyNwmELjncL3R8YlxQ+eUsFXOcOcZGYrHvBZMeGR/OD2Npd75trKcM
            7rtJtFZ8X/YdD4XuYt8bv1f7fp0MBtp3GFNYdfvOVJHzuhkNxxI81znte8Ng
            z2bfJ/RWyPI2YGWfCd/DDZXISIABCg0O1t+at90Uhgeo7G6hi51zc0P0XSU0
            mrgVawXFhi4CWqTMK6S+BFvgubDLZK22sgN7Bbso2C7iYjIAyfQGyhO60E5Z
            k8y/ui6IU+0+Zlwxi0ImuMbDDJZk35PSFnU/D7YawaVvcUQqzyaKSIgly6nD
            2I/FiEaU+hTA7y2bzzkGg0kxj+7XgVVcrmPOTbxMGaIRNBkSgLZMY426ZYL+
            A6trcEyqAauwfKt776k/MisyZ5C3soBSTWQwEZpcTmIvzc/vOj9FcgN7r0sc
            JSsd66AndoGftpW3d4FBcxqErTEo2+34ZCBfTuD40ZdwT3oQMCG91cvCFlBd
            yYcoq/XSVAyZh+sPHFyIqmx7saTIBBuMucyzpfskJ7IHQpttdF5hkekhpbLe
            8PKQfFqgNBMrALH2yunFZseuYBJyaFL6xaZq071GoJ0aYFyGuDlUiA2mCd4g
            3bAqTymDrG1Ki/nh+Hyswq+Wh0SKaUg0GLnDsRnAoVLwazB5INJEpayMr+fF
            S9H3UWFY5WecZx3idrRZ8DycU9OJc6AcQHWrVIDv1E55hK/r2PNST+auRcYC
            8P97d+LmXC1mfFGIY+6ubeDNxgUiuy4Ms56t23tpw1Rxs3CPln/8TQWFeI8n
            WmAe3/Vyum4wvJHxb6XHXU+BhNSiB6L1voWhcItfx3uZP7irTFaqFOWlURwn
            BNbOmaEF3SpcsBCFBs504FmKLNN8BUzI8mxKFgfSsbie1OYrNnBf/I7S8oMi
            BBAD2coz8aJn+CKw0VKstkByeoADcXcxm/4C0XAhPMx/nEx+puKJBSRR0dGQ
            jmrvkyDtD8avCmkBzwu3iDHZQjGhn89OvSlxJciRh/Hx6v71ToWcycQeFrDs
            7ze/hy9CemycnLd4KUfjeIn3bLHxn3n6V01KaRSRlcm4VDk5No8JfjjaWPLt
            DVfw5F4mR3MOdbiCHLoFoDfHu1zBxodcHOM+WchCpmG1fJhrI4FH3lM7WO1T
            7I4RK3ACpsSu82GNblNYKmhCPpNIggBxjFvugDv9sg4YLRZLButZQfUaa7Np
            RcazHIZyBELoXhzk9Jdd5valI9BektbGk0ndMMIsEo3vYr289xmw+DfJAfox
            s2w2+8TLgu9NbJeCnQAzD0ygWzCzMrPdMl4DCTcyTlYDDSumxZO4T/6diuFg
            8hWzYQY4FmRIxwPHzZTSi8ElRfLlfsBrsARknqz5azQGuCSJ7rEG07KMcOx7
            0hXDvAUdx/q/81pYXvkhEmbGKOu/XMqfPDueC5u8zj6kqOI9QEDDncp6J3Li
            xCgEOPE5FfCczEAch1wkI1jkKjH4TsUrsTwBFnmaEQbLWS4qMlLGopTBtAeh
            HZFtF6j0HjeLCqJBH+xk+S3TI5svn4DDvceRWVVSmivF28tG8YKQe5eUP9w7
            sdSAi1KoXEVp5b0/43tnXP3dEWaCZSMeRlvMNIzBvcmWR+LECJk2mGlOgqFZ
            FECYOCYi5N+YqkBi/LEJJkQafWLUHLn4mCOwbRNfXBDnTmU85/4+gmb2x2Y4
            MCcwrsM6Xz8f67SmJxqFvo/Tf4V7mP/ErJ/ILN0iq8dq4/29M6MG7rWnjjUr
            ifRLd8DjxgTBS9Q0uhPIrcxim4XqYMcynWlTzgE9WdRzKS409UKgpFI+35mD
            u7/X9Sgo2U7t7jvsyQtSiIIm8BTr1k4MN7RmBolTYa42lDaLD1HJq3RIQvbd
            kMGDJdgT9qRncFG27XN3JDnEWy9EOahcZHzid4DZiyGYbH3Hz9TlyjmMTGuA
            sgdrvltZElMGr6gF02RDZjTPuxE7DRbgS7F8URIdHYyHk5IGS89mPnHMPGfk
            ATBA1lmnZFiDUjMy9lBXhlgW+9DOWd/KTmGacWhSyCDHxbOTZ3A92VZ88/jh
            n68WiyVQIWEzryW12i7W6vbpZUn2aVMG9kplbAfKXklK3y4Big4L35nHrWR4
            7PITlHgyOs3YPvO4qyqkAq2HUEyjZwxD9jPFAAOVTOJ5/LzysDLzYmjBmFUG
            0yqYAOWfgtn4M7JpzEyXwTGw+OxwHZfCD9cl25f8q0RPbKIewmtpJMf4XpPj
            DUIJHsNKbej7afY27Wom8pCMSJiT+aCuiGKOoEC6kgbjj5UkejaMZpBAg/LB
            xPHnJkWxwgPbKoSqpMyjMHchqLwbT8RO8JfQBEVMxlIaCBYRJhVzDCUbTIGy
            qCKovNvgbrys70ClBfxgJXTVXh8zhxT7ZCsciMwGl8Jg7AI75RSKgBcW8Gt7
            VIbz/HD+MGdJHma73s7Cxb88dNmMh5Qu3wnUqg7XxuwTY05WV8Od0W+Lu6vK
            wXP9KAUs4/5UNYj8nXQuKUROe3FAmCmdzOSIdPoRJECwipNlkkXRSSbfhXrf
            8VWthygaeu+QX5QaG7QtWF50lJgaHZPiUAyWjzcpNSg2MaihzfbckeX8V2QI
            jqxxQhgwfD49ZByGC1vsaSwB3oxKyVkksDP+DjOiY+dDEF5g0RjbiGe6BCDT
            w5TmCcGM+1SML37Gd/j4mHIH8+PoHjFtW2lhmPoyjbp7kqs+Qen+2ziQf0bZ
            0u7M4Tv+i2eq3jjZe7KaS3Ipus2OxxgJsOLXAiR2cvEH+MsPls0eF2bkDiHa
            JAc/n5MME/Wqk6lWlKCKw/Z2aSESJ46BAELlVDocl73g6EzjjjymF/dPPotR
            lSwixO+6S3Nwj+qZwVbPNLAx2uHH+v7b798YyQrTaiqrZwn75/G/9bsc/jvZ
            WP1Tv+N123GeV/y8+Ot3+PX7+Pm7PD9/B6hodH2KnzCR/AQNTPrRr6v4PKbb
            r502pmIslPYyPm/7xHnTNcdCD5wFBnCSeY16Xn5R85t4cGBiq1NvkmsxXK6C
            0xtUVn3IHzOPQQm87dwI2nli6JNG+9FUaIHvOJ7f+4A4wQRoOdGJupRPzO+d
            ORbHXQ+779Ht3pHp3/WLmMD/ru3ePBhdxXji34lKaeFOVMHTybkL6aFOm337
            8bR+/T5//fZAi8mluucQSo7/7r9+t1/XO8EePvcJi1zB8asnCm/t915m913L
            Aym7bMyzobNrx53R6f4BAqpuV26OffbuiUR+n3VbOAF2rALXHsXQxc1/b5Sd
            HYVZfvMdddkoPzsqs1GCdvRlp3Dv6MzOfo47WnPsTzsv+X12NOaNuuwoTf4Z
            hdlRqdB3VGhHi/zT/x73eD1Kc3pWdu42GadP5tpZ2/ln9vbv1PM3m3tnd/vf
            RZTOBYbvfv90aIEB4UM2X2d0UUklygrhcIRPqAp4LNmEzFhPtb9iERrcTujp
            Up4G9A1xWStWVNKOFNFI0bA9bddhnjaJCKlXY9BJ0pwLtCX8MLFuFVK0x15C
            Jw4V8sFgsxfaNzV9gTmGXB/sA+ifUAXt79Hde/icBG37fulkLw1bq7etbwT3
            PLGqkjgH9CEFM8ibyTfCSQw6KaAqsUpz7PStSi8V9BVmNbFGeTZHgKP7c7qv
            1V2b+l7l0cITQV7RTSYTLZ0RnEK3Z1Hhe5OKU108MupUxyk2TduDftoBEZqG
            KYHUY0oNco0yd9TFlXA86ANnSopz0dZr3LI6MR7dE7hioNchQuuB8slkDQZR
            OP8Y8yM2PTrUKupWAk/Ccen80Lsi4+tTfwM/AdHxOJNhCsdGAmENN0z2WQdY
            8ZKbSu5NR0dISku6YqbGmwhWw/phvHUkoklOJ0OG9OpD6ufsYsId9TwM1tqZ
            u32yriGMnWaOGazhLmDitUmZ44QcAjZpypZiHWA5NVmCVvl2EIClnmKrvU3Y
            eWuzWO0UM3vM2eXEyKIbEowKceia5O8gMUJTD4q/+VT9sycnZPlyuIuw8Cna
            tdIhXAREl6n6xHvH56O500iHNFsUS1QuOc5d1kZCYOIIlbFXUXXdCRO8Ytt6
            g5RSKdy415RI/aoxYd3JEUxU4Tl6BxHZlNmTdqUUEbtAVAH3g3XFHRNlOFp+
            pSmDR9obYpu50WzjeqfBnCe+1GbHO5i92Wb1Ipld4XNl821G/x2Y58+4NOfC
            TBWZK4MAVUqzsvtumbZlXfeKn9PZK+ZG5bU7OL9B7868/+4WkYPJvbLQZd6W
            iVtWhm6VRs2c5mkSPrApnmmmS2VMlFGGoVqwQjgNOcEL08EV+ulzF4fjhGgO
            can/yvphoqJTJT3V8nJMbkOt+lACxdfxax+Hxt2TheB4HCs9N3wJd8dqWOVI
            p6Uyi4Y8MjivxGo+Q8vC7d/nW4WpdkmdHdaXcNMw5nCpbjjsa5Ndw6g+r3vK
            c8+7UzcfXlyBUyvZpEwfsNfE85mXh1177e+BcAvChMM4OtkxrifqCd6t4vp0
            WsG8ggRE6EjPzWyVFRgioW53HXPLOJqcGMtVWNUPzrCe09+l0zuIzQIKtvFE
            cKvfz4r3z2fNjndiihrPYVgybBI4ZUD2rORim3D5KlMrhwLRjU7MIZmYbaGO
            8HU+A9FNsUQ9AM+0a7lVp09wVEqyXogARjyvg8eF65VrQe78cShPP1BejVzH
            ZTWFYhPV4VvwvNCsYE6fsVt+P2Rzp1ZtGb4+zgGbn8XAV0qPPCxyo+n5YLed
            KepknbdwgcasNJ+o8eKi2jCRzTIl6N78Eckwp38HS99OCyahfWurUP2t3Nvj
            rpszCL5SHMA+oXIrp5ElaDPpnmVnfuDYHFv2giDE/rocR4IY5NxhqFRk6G+Y
            RWV5wthMxAMaJDiMcJweDSKZk2YmWGvkexoJLMKn8iAUE32uaDYmRCjTvcVv
            7Xs9fn8qvhotEVJYH5KBGFgzQKmf6SVnefMEv45TdoAFpv7shLv9vR5fn8u4
            jpIdGZT8/54cD9sxWH4QS6jv6lkecBnaXWvt6SMHob28Kd/f8hZKIov+TLtN
            rjSaTf8/WUAwuau0ZjWLO3pCD5p29PmcVBotgcBCnTwOoj5bNC6+z+3gHqym
            xiTO4A71qvls7g1mDO7Qiymbp14+2SQC6IUkb/4u6X8w6axRKRf0Qhe80bw1
            xRe4CgEVXBoC/gETWKoXoKkAxanreLjp/QxSwPgJlUzn8ZxIriUbl4qCh8zk
            oHawqVJY/+xeOXrgaCowOzLOJ4zVCMLC98UlsQR733zLc9cNz5je9EpPs3IN
            ImUwF6RECGnP9KCWOMFpJkuqEiP+fE/lY/FvUCqnmyc5u1LGZ5JRs0ov0Ccw
            aaMr4M90i8RnPjuUhkNp3EG5LIyHw6qok+XfN72wJ18X9jox3Cbt9r7odGSW
            POZmlosiKKTC7LNA0YNJxUYyErijkFb7G85JTFOjerS1MrDlJFcmVUrJOaVx
            x4UJbzfRWqTFpr6Bp1kpRfRQX3C/b/XroNtlajuNv0GUmEqwHjrgx3asHB63
            xNNt1yloTPuNWi6uY24SdTO8zvrOqrQUfm5GCx7nrXgVO49RAuWIMdWHWZzd
            z892fur+6cHny++X9/3879n/PnYpt5eib8XMXK4qxY72d4fGZtIkx9OSirOv
            bPdvDoy7S84h4ey6Zb7tw5+DGaqWtWmfl48/bHxXH2/M9pzLxRPdRmOH+5hU
            2AiOuNwB8ggJIzPBq/iipFSfCzqqFiArnUX1DnsRaM/NYCzymUQpI35WSgoe
            X5LBYFGJUeu5c9BB2yvZLuiK2WORn2G2JRP6nor7VKrOdp8gdZ12aCKKefds
            Rmwe7l75hKdX8rbOcrRgOwXHW/7+nWJLyuG4W58qMLD7c3fGcUbYnqW3IRs2
            uEJ52HiZfwoquRjYbgZ3s4iLK0LEPWnXc7dGcogp0AaoZzTufC64zuCBOEb4
            AZbQhuRz/GNRYFamnX+ViHcHlWnQ4j+YHntb7GBwKl5u8XIH+gB+gUDgN/++
            ZPdXPqsvppUQk5M7qPq4mwVDsrgTWU5mToL086+syX6puFJ4Og9z9FlGAoZH
            d54TRDjv7TzJ4EmakJNZFZdgi+hf6eY4EMsXlgD/xuzA4vbk9vdKo81X3M9U
            7dqGSiGrtozOg8/3PChNQKboKj9t6GdbOY9lURgINsXnkALICqfCXGBq2Jnl
            B7jPlAIlRZeBDjosONZQ7D2yJRMe+vT3IJaPWDuPux2+30N2/iO4KL1HOO09
            0mXvkT3sJzv5rDeD2yBO2q9YdXBBvz779SSePSZWdmLCezJ8BulQsOFNf7M4
            hHBJ4vO1nvKHDSnD1OCNBEIQgg+ZSPIBOcVRJk3eJLHKOhNDRbuXpRPB86HI
            pvKhKiYCMN6MIf1Iu+V5UQ6MLFcg86aUI2XYTD8WDcb/WB/qDnLGVEVoDPmO
            poxq+4RwQTEVhXFFqTPN1x0sm9CcFOszFpqDzPyA/nAuytvMzV2Z0AKZyTw6
            gl0wfaOeF70H2PwSY9jbJHY5DZLcmvYdkvkhgozfY/g9zDniCNn878JbuDh6
            xc4WN/mn2FlriwUTA8+OebpDIRc7Twfu59liYou9HR9fzgGiqrEsO4WgcrS5
            s88vs5cz3aCkVnrN3KE/xL4iUzpMhgcWehICjooRprHQvVlY92WUWPJz9qKE
            ANrJk7pCZj6fyW+MBESbwhOw6HIdQi9RlkZRkp40WvocWA2kVJrolJq8ji97
            WZlRsrk/q2nGCnmy3j0KL0UJbd+acwvaPcwVHpkcpDshbf8B49en5z4RTjEL
            SXMwm+JNw5FoB1/eAQr/bNw/TAYhXU8ixY5iGKzaZsqewyT2e9H5Gbgq9amK
            B3uezMnsJtb+wqY08zxLb2qfNIeSOsP6IDFQIfNVSZbJ+E33z4NlgfloQ7FK
            6gZBO58QFvQkPNzW7M3BT/rJrAAtEaiS4LFXlFrP+B3DNFXHa7XUfRYk67z0
            OU8ICkupCzejeRSHeKHJY6Xbdfv+d/l5f5nIX/eo+bnvY5cK2zVX/8/XlGbP
            vWl+1DCF67os+K0gNYOx0HtplNMzZQABCiBfPA9US0ATlgzMSI9Ul8ZMvHpi
            dDWdkz/nTI0FlE1NH2NlhvuUvVVZxDWZt0M3PQTtEyReA/2RcZd/BC9/vrJh
            65BNW8WoNykJrDEVMhNZFGN7z1Ms3T3n5ukGmYktkpK272BtT1Yr6NioQn/k
            cVXcKc27ihJgiwXY+lKjGGcZGdN4X0OM4bTC7uOyOIuSPJ9HEr4ydjmaI+Xi
            7CUUTZAwPZKessBs5bP3h/aoZ/BqL4EKsZ6b5I83mfYkHsvfz+0Y48m/TUHm
            LI2Tf+NOwDPAQR7lAuYrrZ2ZHBTJ528ysZsJtrpnvkQ1PD/el7KV42KuYt97
            nTZHZGHhuY+dF21dIQSoF8/2tuPNQ7AwSyCEwennpwuCDXPP5S7YnoXOD//b
            9fW3CuUQine5VSiT2YblSX+5B9PvMbfvb+wNsucrl5ZMfbkVN+PN1IwhmJQs
            YK7uRu+qzsFkEJOC6NEmZTwiuj7JqIRjXYko1nwhpaw1ZgEfO24UzFo/XJrS
            YSWVjh5yGF8PvQrZzt3YYW6Jv9J8k/3jXnXl9Q0YlMxAG578eiidYiiSSjWm
            W4IsLfoV2wmVzJC/Ut8V+G/iUNyFOllyEzSdHSrBM409g1iJPxfhfnbiTvBa
            AXcNrFKvrm5Jh+F/ZlPKWfpPAHHoj8wNOd5jxF/Gk6DGPMmlJJNTkvM9ntOJ
            7s707qBjBH2lV5Zw9R/r+Pp5DZVsT+X+cd2YkHDjp1X9Ptck2WWV8GM7/Wht
            J+ObhXEoFlNy/pmWDiK4MBk0bWTIqdyNrn+5PloMzcBDxnH9HCvHWIRZfR+8
            JzV6JhGD1Y7DpHvC9/B9n6soQqAKZRJl9myvseFivWlA9aTQyiLklqVDSZ/x
            B2xds7CalrxdVS2ngkEKeG8XxL3wsr2+hgMHnTGxPF43LsQ+XsDOluBZrvjr
            b4noSkugZ3/+rdnfdtLlny8FbcD8aTu5SAq5HIbNfGzBdVS5C2iQ8we9aqeK
            8bStAlcdaghDy41ZlJnzDLNwQ+ypbguvpXiGUbTCtlTyPEnTEge1/wgqxnBq
            o+Oo//XvXt40PbYQqEh6rvyFt/ZqEAzMqFMW0FLpnu0MRuaoi3ns4RoskbNJ
            aisafA4LegMhu/oLazJI0kq3jdo6cmUSgfRJX1Dt3dBEQmSdOmi39RfyowuW
            WJjvnsNrNl9mKiszU1enfGYZhKRD2McOuh65xwg1ygBwj+vBu34aHRDUV3Aa
            SgaEqismWpS2emyE9axWRtpJ3JFXzJ7mEDlVxPyF/jp4jN+PRLUXRExOKmbD
            6ir6TM1HF5drk0oBYqy7bm+K6K/S0c7BRgi150q85+lwmN9TDeIbb7YijWFO
            ym2kwt5ejLpEqvFL0gA0nbsQIYOKkaYYIgzGMVgjh3Ep6c1UfTVhK1bswyCV
            jrNUIEbPhhyUYl1IL+yi0AlBC6uvwgoHRW9mSrziijVn2QGz5S8wHhhSk7Jn
            wmAilXH303FH5YtA2MzvJW4583PHMqiO5ytz3KsAu6CY5buW8dyVKGb9VeTV
            hOU7oXARsdKA8Ri0ps+bhAJR/UOa+b2Z4soWHKwptqz3TjHNNKrzfCukuG9O
            hnea2Tzbkw+x25pwxz7hpd0RbVdMD9MKDaLaipwU7PVCmdQNJhPDKwamY2Le
            y2LyFHYGVzybNzxwNcLEwJbQpiPxaYmFzx4dFGPyhA/HmrvoP9JGD7LycZG3
            bRCzWGS93IvJArdyIDE90qHIidIUlIcRt7NYp8hlZOji9LqkguGTUUzqGtgY
            084nsDLPVwqAUh8xLpEh+8ldyvMMyg3lfSxrjp8Bv59gMcp7UFHDcbt30g70
            +5+8f/b7M0+EiUXi1FiQf/mc00XiXYULcpFTcC70/qwv8fQFucnoH6TpQs+I
            Mtrt+XuOrcJZFWZNC13UN6RzbiRGC6GFbOxiZ5xLD8hHjjfZukkNgJABCUwm
            yzflm5B/sNELtVlcyO0WqjTbdTOpNm8YR9a9q4Lo+Y7T0Q5dVsrGegbDrs/M
            Yk/5dsdssEnAetMVInyGWxj1VRVAt6oJsPNhixGqIoVIS1yfnXy3sPwgGHY9
            eThYGxsx/KrM/lWMwq2Pt+JknQQ1mcb/1fNvev6IhU8+Uo35J1WIOMRnTVYd
            buUOe6dd3qEpvsFcw3K4vQj3doVycqfVlc9zuQDy3H6VmDtGfvkdDLUEm5F3
            0arrCqfXNgxPX//GmWe1yOY73ambEd2Nb+XmicR5SCrgZGWSURa98aBK7SyD
            /0tq0Pm9u1xPkcLKzHpQIpsGWNCQ9TU9E9by45GA8LjJRTbEL/Q7WO8qt2a4
            gCnvaaWwiwkHbsq/y70ECoIKtqgARaJxPMyGbgfLv6NX3NxkVbCD2OEg35bl
            UxMtzjq8EUHBmNJN6198rwj4MBvOrjymkOTtPlmoDmEYdB2dhCx4TAwe3iZc
            ewGzCqqsLWZS8Fym6P6Lc2tRM1chz5gOs4RYZmSHrcVeJ6V4HXW9TEoeVq1p
            lFD7xoUJW2pnk9qq1wDZXN1j5Zr5LEjShzVDuyUDb0Dfg/5mpAJdwKTANZw2
            5UGUhfWhRbkTKmyrCmsMdFXo1xwWtTCaaEfhv2BINvh3zZ1JD7pap1e/TYs1
            FvAJqqsJykw5oRWaRVlUXM2eFSdmFUYDNfC0DEmGkAlK/DvNiNLnjU8FFrKQ
            m2axe+800OxOcqYNCXGqy1XIhD2NuRdWBdx0h9k9j1/3BHcuSWWNqdg7WrFz
            NDfCfu9MZOgJzovLypfzHMJvSYE8rsGMneLuSLlL8V3pQ8KYi8rE7awy9GMh
            mXlvFR7tTTUiyTEuJ8MvqVisqfigMMFFLktlAStxoZuuFvtzCeGT63bQTVOF
            U7esCQOtCeyLm5DjMkDOfaL8B1TLhotBr+WR/xZaKzk3lStVxVFpZackd6LT
            ZQy5XXbjj+JerO1miOtnQvZWQnfh7tk9JulkvivVnl3Yu+zzIhIZi3qebUkt
            q4Dan2QcmSvuGebUBPW9+3fP4g/rx/dzZ6CzmuzH9/sFXNf3vL97Wkd4fn6P
            xyeD3o6r2UGSmNS9+g7BRHtOt0rpr8z7/S7bl1FfGBxPBN9wOpDM+vRIQWtF
            MDnVIwijGcB98b/DMm6GfOMRhVKtRZSfXx155vRAMoRf/q7GvqGPW5TZ73/Y
            +XPZ+YX9JAXbY38vjxFB9vGD6Ax+aFnlHxst67cFmwRg94Yp1OOGrR9oTcYg
            SUFmTv01HI0mBrdpIuRJrQ7PKI1V1YxMzi5PFlWaAwvbZhSHpjnNp0wxOrN5
            9N/ywcueTSD7srTgMDiawj6XEpDxzCLwiQSWgi0IVqkcKSvuHeYlHT+ALlIU
            evFdP2C43Kbfmn77eu+l3F+8M4u1DOLHnmvwOumx1nOjW6FxPZPyeFWi1e3v
            FZtxTAKYsudbtHPk+PBz1PTZsumZpD7Jygh6TxaNeeo3g2L+ieODnyW2wQIX
            170E6cPUEaot+92hs432VaUOS+lykD72ztIa0ufMdKB0XYWlmDne1oKmKDrf
            xFL4IELrXNGM88HWMxxAJBJQY+cZmuhCfaLMoSlFSByyp2rwyqei9fR3CjkX
            g2F65uFtGyR1LSfJcRleqWtBgYcQj9e+H9EaiWocLZCqQC6miPJF0MlMqurj
            GUSHge1Hi5L+ESLgNuz2pwgxkOGaduz+IURHpvbfB10yOG+C03kHv+iB7rye
            tRXxvFUrKzY26xcmQKHTPnlc8rFk9fZIXVHsEftWccyH8UpahhZAf6uwa94Y
            VO6rOm2n3zs1JRkUX/GYImHQjH0b24ahcXuvl+f4UkzOZMEoaYmsGAzRyi0e
            cymdhwelextefFVoVZmiTTBZWgXb+I/e4e/4+8vD2mB0PDEg+59eXi0TsX0I
            f3fdN8HATwpJ9589D52KkUBdVnLg5qqgBK54t6gW1JHICgaaPqw6vG3P0rLk
            sVH95ZL0V085BaFEm5Rs88jd2ZU0FtTmce1sAD7eEqptHoTlMJQGu6jiEgiM
            bp3D7tUwC0XZkg5VSFHY3UVfQ7g6U2Rdfy7VsgDv46sj27JdSg8u52rQQWT6
            cQwqNqNrhhsk6refE9pbGc/qGnvn7qgxUm4wzwKGJno8lEXCBLjTVLAIct4q
            XWYazmhJAke1DjZMeG+mGQ1PIWmeNdiCZw6Yt5Tw0wxcsfZlEIVsJnKJZvWt
            crfhs6sGQOmYdKVLJer0odg5089hwgc1jmqtbXntqePVjuPep747bI40HtWa
            NkucJ2vkrmVgudnfirfLoL+sB4gOgykkd2NcpgtnkCjK+CyXnctGJjg372sz
            C8iC5PIkLhWzMAOXJaglF88tJdqx5cfoV7OyTC7f/k7nEyOs7xgqUdzI0q3a
            4Scxp/vvxEyiZUcoEW1n4YFt1j488Y8bh/WRsPbVgcEgkVg8u9IXQcIWmYnr
            aSZKkb9a9TTfu2TAeDqEgPsH1QozwR9eLzZ6Mg7Ru6VwUF+g09GPH1pohmli
            m/w782MKREEhEGXoR/r2FRt2FBW6l139jUOxT9MeF6le4wLxFlqjo0DdUfeg
            efMTXMS6PrNc0jzmfXqRU1Aqi3XiMmCRmf2z+yeBhTF5xGH6NN6lP8NguaGi
            OUBJVZK8jZsbl7ococ6JA17puJKW76adKZ6c49AM4/JbPGyFjbazafOuKLbl
            CDt23rrUS+SZvzITa3XF1RXY4hWJvxRcSz8rJRiktOfHYFsng1jxQTz20B/U
            6gtlBUH/vFB5/LlQxDX620J9s1jKcxbByBfiE/9jp/x63mbZ8Xqr736ybJbV
            bLYLvcFcHeYeuU8D7vhWTFd3QusG2WP3w5hnYejhc7/k9xuulOJ+rF8Socyd
            F/S5r/qKE32zCF98uvuGqdTCbyS6N58CSgqwf3UeYaZ/j+/7Pnf/uk//5/vU
            Yfd54xCZ9zESsF7ij2W10117+ASUZArdMv9RJrIm0d+PMCejo3mlN3WSOIGX
            Z8klq+onTjkdaJPRW2IkJr8vgShvWLcgBDCZcib3PTH3ZbOqobwkUzwnoWcU
            s2GX1sYu8gTlH8zYlxI3MO/uwSQT6+w84FALWujTo6YE1XL/FCyDOTdkDuNs
            A5yJQByeUEcmjt/td2BDk19s8tlddBNIGn9O/rAmDG8FgBDyQMAQI/Pb0mIJ
            DtHgDtlBhhJHH506L8VJsUN7dFqwyBBpMP7bcvAs+5M5sduNtZFnDm87PE7r
            tHq6Aq6GASyLP1c0Emj005pWvksLoVWuk2yLRWNCP79K+RITihU8AhsBMdOr
            ClmIe877Y2Pbd+kKb4jecQzZXnfMZUgsKqVoYpcKXs5BES3NXQ7I6crWT1PO
            XNH06hCjzUrtjOhqMa37hSW85cO/LEBrfcq1o3uhk66VS0rdXRyPqVqT985F
            MgUsK9QXDnN87msZuiSh+O+wzTOcMayKIQbeawkU3n5Tlge2rpxfWZqTMt3N
            NsZS1bSlsZrAKxZYUysPMozO6/N8cvdlDuBDwEC4lnncIBT5QJphnvSSX/il
            QYgc4mhiYzO2cFvem7eDsEnUggTfKY3IaIeOb/v6fpvNGPsRa1UNDBWb5oqZ
            oarqb/t8GFkjqWxDXuNCc+U106zr3HLArot2uWc+VRZ143e41ZHAvM2ahLMM
            dpcm3v29YLxf0qYr6ZjwMolgOTpPi9QS6GXY55A9z2hxUjpAHebVztsXYNzE
            Et+xWRR0k6vVHVEE9joucZrjN/Teyy1cDBkGRj42oVDfwkK+C4dFzOplypQH
            KwsKNJnp/yxeFxW8JopNdcCZnzBYNGCKZdlexERX4BV/3yPPP++RYZ4b4PoT
            jAQU9jTfLBeQCsxiIuAyR0Q21LaXUvkClKUPgboUiWQ2CmeccvrdGYwSBYFK
            UtPOtkPZjpFsaBOG+oiphSgb3VL7t7R1Lh7FROjl9HZOt9+Tu+81kfgMnisq
            J0h5ttZS2+ETlWFuKR1MyF419Hfy0+WosFENdeew3Us8qnpYJgTHyH3n11RB
            yE5L9Pnh4yg/fRwi6KoOjpubaF7yYeYYuYmuLZYAIaxmLgPXMauB9fi+LvTP
            dS8XaCyouF/FsNzbf2C/X8XQFcAnWdPf2j8ewrRJQKj/4+smDiC23aK/ZQoW
            pSjH2utedrr0dlpsZ8Z2XmxtdmNLvTkpLIuxVvKanJ9s9Sc1j+dPasbk3XHr
            ADRjg8E1vItMTrPhHhiEcKLaXG0Wi9BubrYnd8SfO3ez0XY4jvRfYPqIkUDu
            0I+fQZ+txPbxk/Uzxte7d3nEjpT+c1lUVjkLTcromqW6FWL1zu5r6dlgMgrj
            Z/TFZE+oX54Mz3F1E2ka888Is3tFocMYCSiby0o2wPhLXNVCC8Ra5u49BS1w
            WSzdHEUsi0xW6Zdcbq/3OgxUeBp4uXrby7G3xvfL9fys9q1ksR54e+EwMJ1D
            2ALSLJ7/nNaCIHrsji+oasY9qURGfVyHCJaStO+tIOMQyy3Hl0xOECjl2mzU
            vYThy0tIbpAU4vuDzQs5slxhs/t+/OR+cq97FSejSMrOcQ5ZDuN2+1yJxS+O
            JEUzP6/CyB4jGy+6W3qfyknWeK6XMwahqd3dc0rBuSeMW3oraf1HPVeAZm6q
            g7AJRpesOBWslqPQInTlXj3VcTI8HyB8TeiYsvXz+sUahflwOh7ktBqczZ7Z
            32x/x5zK/dusUe14teVtpvikGgbGZye+So/LTrDKa3yUOoxS8nWxy69HrDPT
            pF7lKJlytDnBcpv/YN/bbjU8wgqJPzXvwp1JZvb1LKIr8Fnh/DyrO1eaqZ4K
            Kc4ved+uzBSpbNiURegMjiSrnu4uLr4j7iDEsCPvgzW/h2FsyAGoZOO1Ufqu
            R2zZObiz+fQiIVmOxeViIO9+FRfPb5bDVJY1j3urX65n/7ZiDPuPIElqckGk
            PNVCesaxy92bTaH3Am6qZHJMYhcowmJkDCcLN/HeNULd0hlShFYuCoZOoZJW
            YkvHvN3Sg3KcwNyCjbfUgPCHvqAe5V96Aez9oEygH/er0O8GZff3/XAsEFe6
            kAsKlIe7y5TiczGX8KMUp2ApmGr8nqzx+zcRb9N62bvROyliVrFEJiqsmdXR
            zer4ZVazUO6TxTDOHQvXxloSRff2ayhZZ8iv8WzCCOa0ylu5bjCtnQsSgOtW
            jmO8iPIatDndKLxuOWs9K/NUVqZ2587O2URhxWtWp2PFFKq9+uSsMGvJ64qw
            8IFQFGTjlRyhCIKozOZtsKUjKBYAWYMZKcR+16f+TuxkumfLCL0btsbwUG9V
            AmS8IrHClTxIe9+xjB+HZgoqyYQFeijxwBp9+HgSOIhVNv4cw8g2BmKnj+I1
            VLQRhCbYrJaKxNW18B8UIZonQk3I2ofEYSmn6lsZiYfBBFWdGdusMrystkR1
            GUIEqoclSzM9Qsd5z8QoYMH1G5yVCPyG1M5meJ6oxNzj/KJFpO7IPfi8dNy5
            bb1IxPac7gopK1H7sZwL3HcRVBlkN5MWKsH21SegNuK/zqM+apJsF+a2iGip
            wAORtwznmJiTQ0VkLPMMFrxgXh7x+JTHsVrzEsrE9EOHGap2rHmb61Z2m2us
            r3/H/2BI18Bx3MQGYaYMnrDUCqBxl6V+SJ6r8XohEiBLvBziPhhqguz9SNBV
            WDp5RItLJIOTCNZD6nA4SB2PdCar9YLwtu7qxGutCLJ6uNf09nVXs5O+oZ5Y
            AxxsEaxQSXCM3Ll0Yjf1v7hVmFTZgqDcO/v90HbcNc/vuUmbji+jgqNSt/W0
            S4G/QuTMU5zmt9HFBynZN8J9hRLFibmhzuR+AW1t1uIK2JOs4vrsYJg2S/m3
            FIHRa4wvW3gCquVs/Z8ET0/UgKJEc2GXnMHdtSzhvBUlu4U1shTp+9knyuET
            5VaGAbhiHUJyH6pzUMwB+/NQjGEZ4cT5ATTdWWjBM8totw7XkLcWLXPyK4Kp
            PHYQ1CJY65djLBGV6eiTkllcIl1cbuNGIGcSFDM5qDuxXYJyLV9AGMZS03Fa
            V+Z+e+0bWxKTEKZjhkhhBF85Dau61+TPO43j3bvGmdDLX+fiH/WG1xNYP0Dn
            ChjvpJZdUblNQhZNWWazpx2wIOaOFimsh7WPJEad/zEatKLHDJYl4u949Y4l
            DP/7dPszONZW+IXltQMYSi8XhpfHw/2857F6Wybs67xs49jloMNRzYu/bNlQ
            jp5UOpaPOyqxoy2vm97gbN3QkNJy7rKIpmRdUrzOWK7YthudnCCAk13myPa7
            NPDF4t5dn/JaGFOhciELltsspudxRAYilzIe2mXqPW9W8WnEKq9jkL3/mnL/
            RKjuPlf3mJMbSdYVNp0VOh32aWF0Opj4t5ugoHd+0jDQGoov5ioQjSayRC7K
            S5s9RlBZlHpg2xg8P12kR9qA2KYpbxQhgwKOZEV8uTswANCSP5SI1yrLfbFL
            wD73uRczd/zvSiCpVptM7HK1h2aX368BG8S9ghfsHCwL5Q8vnGN2EUIR8m+1
            2+Uf+xpNeduO+mWy8VcbLsbolnq0I5/fHMmhu8TJcoFSWZ07mkOIQV95CbNV
            Bj/shaF+1Mu54LSE4Ba2u/xh95v5zRGn0BfUdPb6w4/gvSlqwKpsLPAkCA75
            LwqjlI/BN5O116/muUKK6B804Z3cKXeMAaXrHrbej8E0Vr2sLT4nP9CPvBWs
            Q/KEuI5pQwYTMEWaaN+m40M/1g8w8rARg5jXzzrRoeAL5W8lJSdF9MTooJUS
            z/eL3WMHqNMdfY9BMC5r8jONUxmqbCeHfX+LQGGsCeRX51I7XcwnVsGnajoj
            ZHJYAoxLYCbtg332I8hSTKPeC0AcoOnZrDOpH710iUVsNiZsGuYoC/iHicH2
            ovHueIj6tnWbu3j9nLvBPpnuRq/KGRCL975Wn2OEx/gdSufYFHeJhjwgESMP
            bLJsIeZtYY7I4wJ4GJQ5GDywypqQjli2RTgsBvU3andNbPxlQCZqyhE6fWld
            IN3CxghPlr+gr6/Ea39x2ttV7etuNidQqtLuxzBv9e/+07ESROHWCATPTARC
            dXxusVWLgnWmMSsla9Yu9vtLJyD7pMOXMnG6Pbzj6dsjuT2Y523Hd8LlFne7
            iHZDPm5xE5eJqS2GuDCWclWJBKCFZHO0zdkgFTrzD2E4jnl9uBFr4r+537ie
            l9NNcoZFaGslw3wH0wySgyCAvus3h+Z1qdGH9ZnXST1qIzwQT5W5H0IGupSv
            SXDZT8eZ/ob9MVCrsqtZjb9YzSNzBQyU7bElz8RSA/P3TM4Z+C8WwidjlJ3d
            4vInG0XuwTILKZaf8iel7xeSXzwdb+/DruKESISG89W2oXmDYVAXk3gqZYuX
            LEhGVXJLFEkL7pLL+jtjHYKckOwvcqfepODm+OLBtGpm0XM8xcXSUwmWQAgN
            LBw4iJxRaiv48/2Wox+mXyA5TLxtDPJc1VGJO03Q3i0/vTO/gP0imE+/iEyU
            NRfU7nrjLJxCbBqV5YV89xINVZipjCbPD87j4LxqxrpxksR4Azi2wXYI0krB
            N5n8t86ZE6qic5bbjMJa1PjL2Uw5P7sRvOn1TXPyisva3xNYPC1sXwsWczuK
            PIHguwd6FjUJVt0X4tB7a6AdDdsLHSxPkMRiGKGHdZhJHvzZmA0kVBZh5Sff
            rOJVnIDsP6lV4Lmrtr+IheHim3F5d9qomchW+upOvDA0QxVu7ICW8hW7tz4+
            rUWwRORpWbtvkSRd2LeboptTVDbI+EXMJVoVFYk5aPGDNsK5M637K4bZNfdH
            niSzg6OjDsePeWoovy9IEENXnhIv8SNCOEggBPSgqCAy4nGbg7hWBSFYGXHR
            doR9DwnIlFLI+J3ZQuS8EOtkW+K/LFIAZdFBIw9f5s3dFqXCworty8REiD//
            pjTUav4EEFqiIrXFCKFWmG61f0dqu/Hze+afDhpLlnC2/0scbCsieMfYbe1s
            8bDz99/omls/xU2qFzDOxcK2nrZ1s7N+tzjaSMEbuZisl4GuvivfGTdgSQfZ
            nuGl9d/NU5UPASIcw/QY7N4ZTvzu/rsaUY7mHLl9fCo7kVbQXNl6b7OF0/Gd
            vAJimpY4Vps3/vpDaWNeq3zsVJymlKPAtgudhR6zZLXqrZH6vhIyJ5tWevaK
            a9bMqFXiSPedAzV8dO91IRMqG2D7WWnJxhf/U6ZadPip2wNCDtLhL6Y2hW3u
            lj6f3Sgi2woTOAHOMf9CTqZXkBgbyCWZopQFISCFyaEFmBpDMJCDHqlHXWhP
            15Fo2HZvCbxUpBqq60qTXtPk6WTDiL5Sxmeaj+ll14VuYIH42bFvue6OKaHo
            VMck+j4mpY/KHzQVQVxayvjr06heEEennHqFMIU+qjSN5kYkIB6dVp0VIGGr
            g/1Uh+aYzIMV5Z61bOFogOBU2lQoR1vaIaxT2VintIxOS7eiOxdSNApO3hJJ
            CSeTyvBBQD2EaGAE8Phuz1caWUcmMMOrSBHUncAfrX/MutYNS5Vkg79FZhaX
            6N48ipPIv5Ul8WTeOWXIMLiM8+npvAnzHorepx52T2w5M70CQREWvY8vjDaY
            Hr5HmVZDCMnZjtHopAPay9Ljy7qZnQsKeR73CVi3etuh9Dgm9zj2ZzCafhjY
            1DEqsVEyWLWDzC98Xx/3r7cXPHZEkZBcxD9I3UGstNkIWMX5ZoZBJZob5pu5
            COx5WdduIhq8iejt6uAg/PZ3R1F6oroV97MyEjuqXgrU0H2aDMgNx0qW6dTH
            Hij27SxMWT61m46NNr+dFtTxye44ARfzjlk8ed0v/PNm05udbjb+sm1PZN1s
            d7Pxzf63Fr/zHbYn7PWMOQ7ouez3mzDL8Pe1mLSl49Zvgc99r58bSI4AD8Od
            V1scLL9/PbanzqyNLY7ME/dxkm2n2ePjy+wfZSlEGscWO3e0wNzTg2IyG4pn
            O9Xk1l5f+sCppBVtAjnEggCEYx9ezS3Ql6pcBYs8dsMwrZMAxaUKaobpzO63
            xua40/HTb50OC1pEP3+dz9i+66Q2gB/fNc/dmueOojWr2VOksEDuN++M8/bp
            INQ2djYrRAvbIHgnHAabBSn9VY6em1ktZ5KZZDCU7EKX3g4+FeZmZp/menli
            6zScdCWRTqtwotgTex7Pze88bhFSy5Uoj8RhN4sFlyZ2fBsn7s9n4LVYYRjI
            molIzCgLto3FXJjiFSnR8U4xGB5E9G61UJAv+UYsVDQM9gz3JPNm5w4WT0M+
            UCQzZI2dnPa1g70m/ftRvfaDmdUQd1Rm72DoyjswFlkJyqAj1qPEDyRRtjqC
            es58/JhcdYwRooz7ANpfnCkOF2RZNLAz1crQjkGZDLkxHNvyVmwUMcyPXpJN
            S4pNIB2i47vpZr3kdJL2HjY202kZP7Qg0uWKztEUIr7ZYsKTUXjtYg5U5WZU
            jF3VuhRBWLdkrZM+tQDUqD0I9Hi84A1uJZej0r5/4IN+5K60c7ZN9aRZhrk5
            psCOC6ZXhHi+PTawv36y4f/AeWFI15vtEa3P827UVmvZnNd7ipHzquDW34nw
            n4Tq5c+mTKIXBscaEjQLIC2+c76sprCy2pRNm/iHZf5sgZyyJe438HzfisYH
            I1QtCN3Hv9ncZlO/ff4vMISzwZ30cDg73OJgenulV7t28bBLnf+Jfb9sdbNT
            195/s9HhYmKzc2JAkIfRzKTsp3YQvfSKfvpC7UXBH+UsHt+E/+bkqwpItevQ
            zG+Z2JksOjqySfdWG8S/ud4G6AddZ4enytMnxQSZbNnBjhsvBxmd0oZTcV9v
            zYJM1cOcdWwpkrxSyXUFQQaK0w3mhNDV3MFNBXqPzWIlbNsiuMbkmAurgxW8
            0IuHEngDEMWpRAyyHZpmsNFXY6cJsn3qtBkDg2qThHd4KhXbB0zffeUEF5tc
            7RbCMl/38X7PxnWkOyzD7BL5ZHNRqzkKU8duuZQP7wY0qmBfLJVM0F2k6mB/
            z1YZFQwh5MsMc/gXwtBQRVTuBgien5GGz33TEP7j/MfPf7KBgDx+/luQcqiA
            RAGak0X73u1o5wOouxHGiJlluPuPbCvVV2QV3tyKtnaHt+7G2Z5lrmOlqWNN
            IINhyt9NXNnrHLgZTy8t30UsO0ezeOk6TNzLKorWQ9i/T5joHhYY+YZQZcUK
            CcEQ5OhblhLoxw7C2wxvvXt4Tjp9jwyYCLmXbJOePqdYHu+RHWW96uZQI5j7
            y3HTmztApEljrmCdSRdhtgzk/TWhkPI+jN0bC/ZgFa512LLFxMydYq5s3DMb
            jGPyxNTTk0ExscnaIV2SeLwWiz7Ll1OI/ofbMnVUnyfOZyJrXDaWJzzXOLM5
            ncaleVHbYpZzbA+lRuS+DAaTinagld8Xx4S3368j62TrD2ZAn06E7pQiIc3l
            wZ4g5Q8c+62dTBJZPOek9gTLDu/ZLnoM7XsYDySjMrFO/h7uGpJGhz9eO2tX
            jpjy3MRNefqn79Xut7zP402u+nwWNVq+oCauK6eNfoD7LWMKqhmtfv+zfcUF
            2rCFZK6TdgUmeCzTCVjUtL4bWXfByZOzxMewb6GjfSaWfaZTFBB/pctLsGtG
            BJroey9UsXT47Wxifj2Bvngv6h5FVf/l9Myig2OitCcHtN081PtMOCV+n/NS
            U+5FoCn2tYZOYA3wqPhx45G9cx7Pql2uauPbik20UbqNYXMX3E9IzSV95orK
            HaHfDLHWw8iXubD3HEi3+HpnJeIyQpssRsE1Op5i+QIsTD6Oz+Id1yO2FdpP
            asvpT2oL9UNtrG3b33t+zm9qY8bwN4ENKz276Vj5N4QGDrq0E/N3YzZ3FlkY
            1Yo4L4Edrw2eqaZrt+3Y43QlsxlBKUeffo5PPkGQvb0kdsZrfy9viO5ZQ7vV
            x0tI6ZLieXTnLhbEkXIWvVuvvJ/RFTHu0NP9AX6MOEWxqmDFAnPZxnzdXvr+
            /Bpz/4yZgbJoqXLWdNfvSXAyirlHnZ1S8nQ7/e0cBkr6mC7QDCzaL6YiCDNk
            OlihGr44iKH+lh+voiFC4K9q19/1BNuef0ETvFC1O7zKtue5UIxBdKKtJpV3
            BW8EPgK5NUVTd/nZ1VY5bnYfdmd5J2B2G97d4rVAhigk8FPstuub4GL/EJze
            N3sd4k7O9EBT+ArXppnX7mqvZ+P+01DfEqOk1ZNjeZ8a2q3dnCTnn33exTT1
            brUPPQo9fGyxwzzLzTWVH2BtwI7VwFEKzONgzdDpnWXl1wtQyY0Glh9uXESx
            Ey0xleuvv1UrWLG8DxqtiXEFGoUjtegFQUlsS1SGbcro98MdfzOjRYMPqfCh
            p6U/E9uuqwu2uvYSxFGTqcUZYEVMl2b6dLP6e8J1HsqgwuiEiMRDhdeMjTQp
            ljle1End714Om9u8xCxZmypp0g6jOzyfPhskXHj7kwST6UwHP2CSkjO8Fcfp
            MLjAbvRKDX9bLfkw5A/VcSiEbJ/NGeeLPf9ChR4KZLIqnuIu5OJassqBNLDG
            gHJyfs9qwzosFy04hjIpLi2v5WcLkesrBz5+cuDHX3Lg07Dcd2XrBBbrUDu1
            bOCLwRe6F411VmaRMtO2zufS9yysv8nvdLJAkegcG21c2sykSv6md7Ba8MZ+
            3/67++/Lf2eGZ62oJBfDJCBka2RbJfZfZcObqOrjpF13Xyne17tQicpOpYxT
            9wpm7sa7t8F5KwdDw5R9Xa4oopLv6yAf7x/XQNMgsiOkufwPzPkvWBPukBP/
            H4xWmT1gYfSp1nN3TIBSCF4+Iuadxyo+kz4bRl2oPhUQNbHn7cHUahvWN0lb
            8DaH7XoHdpw2MG378Z2OhQW64zrZIdY66YGtJkOLSgLjIDwxqzjYXvgxjBmC
            81uZhUGZ2uelQkBR7jA3qxWAZRYLRVgb5/oA0ch7QixiZhg0hyvtJtz+5k05
            osOK/QrJbSO9JiFRY3U2AKJ3FgslbIbJIClYzVXWacw5FvAGx0UnKlAkCE36
            qg0aRLsiEz/WbnNzU5twZnkaWIswUpXKyTobGk8dzG78vI7q6q4uYLUg1Tme
            G02gpWNnPGRze9Gaaf8E9+AOamGlM915yO1haomwpIIBh0hHUyXCF3iZS8FP
            3akkmdCVM4WlWslACrL4ghVqwwuOwADpU8rOJNWVemOIx69SitsY3beky1+q
            1b4X3RvDjTveY+eh7kqBlo3RsemjMBDJ5EKSSgBpphwHxTpg6ltZX3wmpKFy
            H8blzXXVAcrxjlTEC43AMQzZgSoxp3PYvUbLi9FPpvIpF6W9x5+TDXBxvNln
            mWBPDHysoE7SkfnpeJknTbXUvokleB4OuQPGMiznk5phO8+HOYCW/JutaxYh
            q9hZWOa74Hwl+tWhXG1CD/lxnj7z1eerC3IxXALJ3d4pLviJLTw31NB2WQiz
            qlD80ieK8dfEXvUWIX7k4SZgMoOib1W+2gV/ddR+myrOfex4mzJu5+vyti4x
            EV3X1qt6Q8ryeLqCqxVl5+Lsv+/SDRGzUE1Bx61KPWDVeIsOuxP0e38Pu2yQ
            DQp3S253GnobU0/TDyYhWD32Z72lTU5dnv5WtbC0ctQkkM2D4mSGmaciUNzw
            GLEMkuU+MBKrYzcxE7oVSJ/9nYg8PHeFXQpPbw8elU6v/r0rOVjnohPu08bc
            fE7RHGyJvk9BFCa2Sx1eVkHA7Wh1n5/sOH9uslYRyi9Zn747Ib+dlj8L6K1j
            TZHPP1GGD0vsgVjLX+0Z/gFtpURz489bN5pvRvMAZTG5FVKPf7tudQVIRP0g
            PguDSYQstk5PvS6aCMVFLNH8byGiVzYIIRjBTUuA4rJot2HrZsu2gJFN5RMW
            DnM52QdQBbDUK6X8KhYxaGovB4zlGipNINFBT46BCVOPt2NIPeBOvCaTXbDL
            Sq3MoJI8WFYnkWzXa8eCid8kKiKjJ7+2zEdo64MEogLbpr+ZzggLvWCTxzZg
            Kg47zo6DkDNEAt7IOG5hPo5lG3weWQEutQWTTPDyehqgCr24KpeDPszOlc45
            kupDghEPyHDN3aeXIGEOdxRczSv+OfAQI4HZH0NsP+bFl5iqT7+jC0xMysXK
            6psLxpdPEoLXDtRx4N8TTTjmVYLMf8gPloqWyMhoFHbE2HD5T863NUoZl7Xn
            MoR1weeyTUQwQI/waa91eiU3y7M+wj1Y9rV61B0+vsd9FI+Vxf3O5GYzlBny
            YEPgc8mZ9zBlHseY7UB8+kHOxE+2F+OnWqB+JQKfN4EXWKPs7w6WC3E1lNbA
            FmqMvZ36HsJo7Pk70jJfC+diFNfPwSEgrljC1s1JJ50zsHCXmtPsauJu15ii
            QuIJ6fdYjq+xWIrgYMNvRVOSAYFx/ShimeMO9tmmFfy0s08GYJ8tazpfTIUn
            Sf3g0pY/0CHDBxTrV9dqsCFO/s0GxUMtLy53sgUHDunKYh62aDz3uH6y7x+G
            EMvaCHqe1NVSjRExjgsvyxZJxCE+puE4np5wXHFuVAY0+7B1ttRo5xjmhRV2
            L0sJCXXCbmnsKRW6KqTCddETSjZDBtp3ki0D5qd5PtV/Ui53Rpbja+Yreo+F
            AzORHH6Tnvdkm6/ma9zFxh3u52Qebt1hA7VOH8euG6URtsfPMgiH5T72+4Ug
            T7PQm2BMQJVhEOmiUXRycc9obeLV2tU37r1efK4jLxB19x5o0FKKYkfEg907
            i9nCM5+8YWAPt6QLY67WY4GsLLM3E77jnLwfspgn6UbIN4Z5UlOX1j/dJaGj
            MJC/lRfoRMnblafLkoo8Va3v3nOjE2D1LflXb901DYSkb6uLANcbaiDIQu4v
            DsS8xvs3ek6judT379nMG833gIU427fn2esv+qF64TYfGObsXMUNUlIiNT0k
            eugK+CybY7G1atsNEQcWI35MFWaVKeQ+VPV1qbIu0Byv4DyGEcW/sZgoH9Y1
            dJcHNMIjGSSiGmd4TWw7oZ2fzf8m4hrMKMGAYBblN5e2Uu+hV/l2V4Sgz1mw
            SgzcPahJx9VDL5+1UWvYJgwALY+uEtxWUVfiOKqddlOg6LoEA/iy92OYrTPW
            xlq26+60zHm3fjb1PT05h406zfqky475hr6Q3VLgCWbPhKPCpJqDGRTyMhoh
            3o8viBEz7bVIz7QTwLSQ9iQWBNHalc1FIqLinqW4adfKRzCalfvddp9gCUmY
            I7Cy2QbRvLH7h0rzWpSzLFawXImUFvTJeiCaVTDWTnnyofJ9Kacs2tnPpEbP
            Xfz0DxrNrPQ7fTYL4QRcYi5TUAu5JYOd443mbk/u4RVnuE/Jds/TQgcn1CCG
            9McA7yZMMJu6wUhvVoo/QQz0s1wWJh7WpSjeu2Wo7WSy2qhEXE/WoSOBTsm9
            GJBBwxWeVxZvYujuHLvX6cSwrt1Ch4ishB8+mtjkQ1adD2wWuum1e5lK1xaT
            2Fh3SeT0zKXobIiiIJuJgAh2Sy8qM64NplBBOYGXMl81NAMy5a6J5Ghdeg+z
            s830wh1e3cW7wSwjzktQOkcToN6bhn1/ZNhkiJvbnxrcodJ0JmUSHHqJOgcL
            PH3isGKWQEGb8CppB4YOYRDc6/IsbLLReR2b/dzkhclbBGa1o/qhIAlazrOn
            gqOE7GohKiGSJVWyZG2/E8Yx1InbSqbSlzeUE1LJHu9lnOE+rEjm+SpVk7nC
            klSW+7PQhCG+pAL+h0j5jagrQ12Shb4iLVGNgd8ud6wXLyGYkhn4nqqpfvsD
            BDdz3pJE9t6guJjn64QLui/k62UV6lTmWFeBOabCBVMPz7rAnLvlT8Y5W9iE
            SyyGvVug0M5pqbDWAH3jB3UqRv4SfNHsL8bBJDaBJWLZwGJPA5M8Wd48oGUT
            YsfL49mgjAuOvzU1caASU6RcsYsLIUoPgVNA/swbQjmpizvIjLJRBaLjVPsb
            zAZYWiSxLNMMSaxMqz+uT01gt/bVdEmrHyXDxZv1TAv93lBq2OtBnideEwWT
            KlOISSzX7o+0F38TQ/f+SZuNK3b+5BW/ciQs8/6QfMvNUeXSV7Iv3nWBeM4s
            O3dxUbfjRTpBVG/IJ82gSitCtt2+UCM992t2Ta9IPxVRZW7i+9w47LmUmRsM
            nAoo476vx5y5IR5RVhJOvEgCUW3KVRWwUcTTpz0ghZN6NTKTOu7yOGMfNxQv
            A2t0F57FI8AEyIUXM+DdKGcCPnGtvvR6ag/UNFKpWmUmN4D4GENpjPuyxVi/
            YTtPxdwGjJpJO5FFoMwxLzSGp+qXOmGKmDiINxQgEoX9s+0sZuCc/SxWCA7d
            r6uZNM6djL5kvzZ4zDoPELtJ+m5BSPfBd0j09HGh3VUkxERtLBw9K2x1JofA
            Kd82V/Kwe6bMEAsr+iT8k2KIWOTkzR7OEzNnOHzXVjRsezJmsr48GwSdtTat
            jggZGzvcQAAQQ6MF8MIzY59BuHCLRSqr0C7mwC6e5SJUOWFE1APtsFLm15jj
            Vhuem3UZ3HgmmRQZZgY7wt1MNVThOvs7j5NUoUDKLlpqS8Oi7Qg98FIVrLSY
            xho5w9+92QmPOVkenJmPvBCiMnoO8Pt+e5qwEcZpMgTvYfwsY1JPl/6gymc8
            48uQhf6Y8Cj2Ecgn685ghCbPxxGBz2q/CeOrWrOvGPkPJwDTsXLohsEDPiVE
            S0skxOFVD9hVS+/2/MWuGq9dlT52lWBoqOT1j1a4F12wBeA18f5oDar0scbo
            xETwVmTmzhHS42ngQFdynT5ShRTuOHtqg73wdzYV0w00LbzQGKFB7ImTQXeb
            Y5cImNVtHIaQT1ej6esjFXN3sosxj1XDrN1IlNifV1RTPlpbntIrd9NSJIwZ
            EMm7IitHbTfnm8ZTbZxRbc2YuxbU6i0Kri3MrZWBwG+8FzbSlCHclZkIldWb
            CVKzO93gjva+JJRJfurvfnrjhLdX99Pk6S/0KXZs+vv48vQ/DFm7gYSlv9Xh
            wXrMqFZP3QodLYkYsU8dtJbBGUZWY/i2aIUX1uQwNUrdeqwhOieAXQu/JzGy
            q3ISHB9V1WNSsmMy7w2cj8kghd8Rd43WPVHsZjkcSSAxSMth5h0MfyJBCYxX
            hpYICUYwO+MIsTqbAsDUFqJgS+icK29Vcau09TGKPU412ulvh2lRKvk30eoZ
            27ZM/MMa11xqlvMUTNzpEzfLYinjJEgveDg+D03ioKP1Jib5j/Mz9YttddPN
            sfAd51Y6ZamRL0uYm6x7wpbHp7ITOwtCO0MugblK1OuXW9c6vttlQKpqgl8e
            z61MyKep3SR2wmd04vV8JvZgyt7vSeK+3q2ymEQYgpX/UGMhm2Z3CenydJA+
            +bYiuAotFuO52dyU9f9Vkp25TPpkLhXGa46W2rljKJt5ne5123m4p33OR5j9
            vPdtu+sd567U+BirDpTGRYUFU1QRuPuJbNSj0axbIGum29tvqhLV7+0v2uW0
            fL6r+7a2oIYpX/r1TS2B3aPOL1wIMdntYzitvSELrr8Kg+kfuXcnYzLWi5ky
            5DNUQBlL4PRZxDHSMUYfRCvqxnxCw13iD2zTeHRJw1PYwabF7QShO5R+FwLu
            Y3KH8C+Gzo0EjP2S7suKqF9ISCtvIHIet//rj2FGgPM2OR6XRRP7j7bSshYq
            0zkUObNPn4yyLiUaUwioixjrVt0BcyZruJsMkKPrU4pJjvlm62nismXmVbFS
            5DAYo3gJie2xeyhhJxiWNBXx6t3EJBijm8cM+AzLKouKabA2rSYh0uH75FVN
            qDKmuEMVYjSV5qyy4TKzyaFdMkC3xIwvbPnFqKYwbXcHM4/T8FlpKeuLRE+P
            ftpaAVmmQROx+6sq8fSc4IKGkIqspFM3V2ogPMbmqc2gnpJtIYNkIEIMP2/2
            KnfDou+yzJ+mPikZu/n67m4DXpS8Sdk0c/pnH6sP2pA1aLwWu71PFiFRN7G2
            Bew+6Q4mKxuY9rkOS8C5u/0d4pUo3MfwmyXP2bybtbKld4YJgqrDLc8kRR5D
            7X2tcntXoV9Q24KkNzEVlru/l9RD4UCxoYv87YvHRTTXB/ScQkL9nAhSypi+
            SeklU9az5alNhGAJClRbOzPYHc1ldIF1KQDHvz1e+b62UXGbMbG6/Y5urrYr
            f9nmRCm/P2AaeLikaL7lAWNKprrYUu9sNDV6m1u/3Z7B+jzd++FdZ/d+eEM5
            Kt39zuu9TpXMkUWL197uWORVyq0uL28O5uGRRYPZi7O3vkvTNsjXmytwKXND
            NY27J2B2FQ+7iV1QlAh8FEN7zXRLgy2ms+XtUUvtkQ4eICxuRUGsv+LrCznc
            F1Lsvly0REHoKX+8l5mWzGh0P0wNWmy6gPe7jgx7q77l92FrIswJCIT+sOCN
            xRzOZjWkIggQKX1w7G716W3en2AZt+y2RwHd6MD3ANi03Mw3QMfqLuaXXNCi
            Hvms+tumJh9mWMRNEOD3ay5M0CLPtuRbVoo70tmpduDBEM5ua8otltQPJddi
            YRJRIFbfjak7sQhMT979od5S9o8z6bAmrY0M7togX7vucfsUqnvbtrawXcgb
            9MsrEqA35i/zWSVmgzOOZWN5iSBi+BrMEGEuU4vjKqT0E5ZV9QYRws/BDrgT
            tCzBhBmYxPn/Wru2JMdhHHYly5Js6VO25fsfaQmAdJzenqmtmu2aqXQ68Vui
            +ACBj/rkoifZE3v2EhtO0oJ1oSoq3DdVYFCQIEVM/mSVMul1R3+yTFPvMeIP
            KYtjlK3P3zLLlFdEiCceLiI/D38jMlrcWwiNdyRJgORqng2DS6mOn62zGxnN
            IlOd3BEtlu1T00ZjC0e+cz+xLQyeDFJalNaxCWrBBVXkbKUF8KKgg/awu3x8
            t6xjNGYHeCyHsoBNam9gaL/AHw2TNso9gMix74Chg2hxKNSBeRa/F/2+kevx
            BGOxbT/SnWxB0xCwFZJJ+7GcxXfEUkUjLGb92ZeY38IRxGBywGxsN2/kCBAU
            5mSaEbStXANQRoXvvkXlyRyDGZDyXRLzSNUSsp2dHwnmDQLhGDRIix4iX0SZ
            Dg87AAZk5UJscL9q3Tr+TSaxFfnCTxYvMnreYi6vb5HQNplP8qfbJ9TLN59p
            0UoX2bzWlL3bzv5J6V4uA0S4if0D7U1MBjuvImRKH1kPpHgXMQdVucBZd5bt
            I3CFHomo0FmUeORVrYSIdBf0DE3pJ5p3dlaqndLhtWdv71H8Aj0v6fG3UtBy
            iczoli0w1xA4zO1BT6D3wwHNDe9kMr1OsugO4ihA2laAXceGzBQc+IkU0wab
            e/jFgW102gp/dMAY0b5Z7cKxWF8cWF3MR9vybpvGNmbQoXNf7h/8Pw9HcNXD
            tvVqVqi7+yyFnM70ShfC94f925k6kXLZYkY3srQNVnkuH2RZ22CNHOs90jU/
            +xuX+VAbO5dx7Gar3bOvEzGKbecA4MhxHQch8bOwtG2h00l2F4ZfVE2ftlQc
            VZW2VR3TXFdvsqIB0c2ScQzOePB7Ubk1sHEJtHfrt+f4p8HanFsylgGbBAcz
            rrkjG1SgvVYl/R4ffJpPD+9nq55Ims3723xnb3wrGzf8ZppZnmWwELIAco6e
            W1sjL2IHJz3GwwbOtKVEoDwk5uBlVjV0FMpM26I9SqiYc4FMWJAtzFolcLBz
            Zze7FmzKwoUrZ0OP3idncCOScqMJl8xCSFt0JivImPk9Mc021o2SnpEwwff6
            +qRBmfQ+0n6s8i0PQhZ2T2cWRpKnr9aF990cMWJrAtQabAySk2hXirwrpo+d
            aKmApfUKS47yBxkblw7PuLFx8F4ojowq6lIB2QdDeV/OiJWJRtPJnPWpX21o
            /DjOmcS7o8TCcU2A9x88BcBhlGpyvwhg3XA7hn33SPb/xOpnKyxVi/fuY5QU
            z3gKEK8/Gng+SMLWgYcMgwwlhAcuYaHxYcPMU3s9lPuE26Bq4jJuSE5Z7L4o
            uhsgrAH8ACV8BQlcCNCzgcSJ+9OdzemS5+oBn4jzq8grg7qyr9RhYxHUfoES
            YHvZP+i1EDrQZf9wH09CeoksHmUwI0bSayblz8JK8gl3jlgCouf6g/mpa69m
            FXo0wB9T9BBtUmCOD4gN+Wy3tYF3QHMBxGAOXnfDMtBUZZb7X0+YJwiIeXc9
            +0OONwdIdeGW345z/DgOmH9WHgdhMTrlG9ms2C7SUaBpIKexA5l/kQeOh2Pt
            5nT/P/YNQ28OftuRorRAlzBMBAlsxCKj6M1rKhrcQTuNIGIHjnYBqmm3Gb/D
            hWFK4/SFgw3fXQVlmhjqmXW0r5ChiJFniPjZJLl2i9mOKRLb/L1tWc3WTdJo
            P9/f1QyG/iILQcEVCujkroCDLtRxLXFA+n0dk9r88cWrKQsV32bQQtgRCLK1
            1QPTmHmVQ2rw5otLnsl5PhJacl3WEori2KaSELWjR6Ru8mmZIML2Y7iSH1ps
            YsCgww/7BKIcINsGZmDEEOXfZxQGKCYDB+j6mQBzot3z4+YlW4v+8VgdHVHv
            QcSHTY4vsQbggW5ZEwJlNfAQxWewyizjJa7MLLT+74OaAnNX7uI7+H32MKTf
            V/CL//NMxCxcP1aFs/6ycP6XmQiyd+wbLstvqdV6eULK/V4CNtkCM/NC6ZhI
            WA1ud8brP85s1vHDrDu57CrR20bIxs9l6SJybWKp4xJXNHM7cKyT4nM3CxPZ
            9+sp5gxqju3d9a/rFH7lgHzMa+0unhrIECrmugwWm5UkJwiSGnguzZwiX5Gi
            XBTqdaRpGNV+H1DVJehVKKeayJs1EjK2q/sDCYEwEYO2qjyJriNyR1GuW5iv
            Ujpdzki33ZabNAlm4s26pDiftV3Q093UJmlxPwkP4fyL3nkn0VtPB14r6CTM
            VYcn5laoZTlBSOzFjUSAh9kSKkiRpmawhrVRbPtSFDzVI5s8u3ypxfRR+fHa
            77XMl08zkB7RtSyS1GTuCWY3L16qs+cwhCLr3w9T/nD1NEkEc4cnAgOSEf5z
            DHq4unU7tXabkSPBW/MehQy4HM0CkTJms+vGi5yXmXfyLw9kPVCJQrH4Agp6
            MMIeSCljFKLbyP6DCe9MsS+AmyyagtZ3RIoBVoJCnYX/+8NpCRn58qEgYg9x
            ZXc/jPRpnwnuhjW5+rp/c03Cqm9XL+94M683b0xToEcE3AM5X+yjAFbC7MVV
            8/kAjyqkFbEPUUSr9JdEcGt3F/mfqxPlYU8MmE3ILgOyN88PT2hQVuDcCOcD
            zgVK9uDwtnOYdg5MHd0AFXjqCHKVQUdtS0F8DnhiXB95PLLUEsWztqVNfcE7
            On0oUDPB4i4VBBLLL6wa45si7/2Bit9guPvWISyH3BUwjvI2neb5eQA7u8s1
            aq9PzcQzt18VLOz4AINFF6hlqi7xyCm/If6pvo5xXA97HaHqdlNTqPpsxKWO
            Ml/vi0RXJYHg/XUhSOcdjXcpm79OkZtINJWKSEw4OgwRDsVXLk11ixCs6/55
            1DMmbtw4ex7txdROumQPDWyWoxOdBF6gI+hVONV+jZAbisQj4dpuPnqXGOrq
            /FO6OK9z2HFQnZN+n8wEKr0lIID2MPAQe1MQGd8v1+v7639/v536/heM0Yzs
            uaj3FtAOwK4Xh84QoohCfVeqOyNoRRR7Uz0o79EusJWG/YOajaQsyUwjxv62
            Mu8zswBS0x9OJDQtDFF4jzUK+lntfDHN/OhUgm234PZUWlsa1OS6Vqa3pskp
            TTY3yLIwu6i+P+SD2CkK8a233jPzG7Yg0o5LYSWDhmihvuVHes+2R+lUBXzy
            KqgHgJ1RhJkx2bgN+iSgmtQ5IzXelQS7vEai/l6kDi52XE10ajoIddENVcr7
            EnQbtMvqekdqNjkxZvKeueBdiKqRuH/oeQEdMMwzmewZc8UScON0tVYBgZAe
            1pH6ytvHfnBzg6DC1WAix9KX5NlDQcWBLZeYCO7o5RX2WrFGzFxjFAJNfNj7
            ilFiNwbTuo5SZEeL2qtszT+eDpnFO2Skm8C2ryAe7WKEXf6H10O/i0DzAnaO
            zaeNIYZ+F/dyP32b96utZFx3oCBo59htzcB7m016P/x9Ux4orERvL5Mn5jqJ
            iLYnx1R7UdPp1s176mheVYKhs4zdxcbWt+t2bUNh3av3KgvJa8HAa6pn2WmM
            OpBHc5HeWPY8OdKKy8wB2NqdOq8/1Lrkcgp1kX6oLawNxjO8CXWVNsGTqqK3
            iP9m5k7VGsCaBlg3RTPyJ/brAmQ2NEpAloMMJyDptmvD7E4WbJ6ZqR1mRlHX
            SaTIVfcraXCqkHFfimctA2sPZNnKQlXPqeyguVM/Xs6qddiUvqa3XOFaoLCI
            CuR7kO0hgZxBab2jbItq3/JuiavgdTLbw5kccR5lffZRN9e2Litpf5aRE/7G
            76S7xd/NF0uIjZl9VVU1F5dahuMTA30TKKIDffwxHadQZ086WEwh/Pt5feTl
            npuJ9i04fyLdTugEInNbJQCghzcCHSbc5WvlTR3sqrWbujjVDiEHydvEjr1n
            daiYt7iTB4J60U6BZxZlyy8RTxQZ1mEDZOcAuQuRzbaEJd58xnYJGR0bVmZA
            5jNATjGe4dqaXVtcU0bqPtsDHfRaC/mcYKXM3lG9xe5KDha1Srqb70FzcNCS
            K8rMwRr7Yqm3oyJdCctM/lDMK+ysaGbofQn8C/xWsqWXXvF1IVZlG7G9Yuw2
            6O/Yvc+MA+8XQzs6f1BjOkSzYyOB+8H3uK9qX9ji3k23Ao1IFJpRbLwUYYp+
            a7oAopoLq7MQNPd+ohnDRkBScMviPYATu2s7yQvqer3aKd7F6+zvTh8ifXAp
            1V/L2d9e1xV9A77gz6lOINShVMlKFuEIf78N1gZoaW6Ja/Bveb9v4XuB6LhJ
            QFIb+cg+WIfLNRPBtbyWuUcqDFkNENPB/PZ6sd+R+AYywFR7qt0WZmSREhD5
            T2ePi6AhGUUr0GQhUZgifzS88QRorUXHrZqlhgCVegcyCl87Kr4kkNqDJCSr
            UGaOzlXc0wazRZIOpoi8rvszCQOyjsF3AwRNa0TqjM6PgYze7X9oLvHgiGsa
            Uzz32quk4QBVL4X9fWDOoDLIBVFulYgvodsrfQmUbYftA2zoQF4ID8b+w4o4
            1NZtqr6d6k/LEGWUDgM7hJoTN0ABcdmDVVX8hS3Z/bID/ewIisHS54HbgzLY
            oXqNBkvDRdfSB1idwNawOBsnkB4ple+G+HcMUz+LLVSGEKxS3h1o7HBZO/XC
            Nki108FJWoskvQKM1EqFolDghJgVO1yzO0jrdyy0u3zMxSJQ6zZjnO8DvljI
            k6Fcj0JJIujr8aZmUzCzoRhkAxMgQ1WQONK9MXgJknv7W/tcSZoO712FKeF8
            Sa8rTXKrvq7eO9nje7GyJUg6Vs/oqp5I5cWnLgD1EnQeRzbT+3+bCIlO+reH
            J7lwrk3UXGoDzVis8soukxXbkIor8DotE5DF87ulhMyggWBp2/4hR+keATZh
            VKorNRwVjRulczFdYMW9LvinV6nhyG9lnlmvSqScUpJKvvwi+7d8hD58rDmB
            aT9JiNYxPij5h57+1bM8CPhWlcPHSjb7Tt2Fheafr4U0iUUMy5sztpKxY4/S
            /4q71Sggtj5ygMcikrR8KGzcgwDC7LpFjpV9Vbd5HSdVqP/4+cnkw58/n9C8
            /svnOzIkf/l8Q+4x/WX70yLS8ufP+/L3zzNi+b9en85/lVIy+mXYz7oWvTcP
            R++rf179vQjbJaRuPiuR8Gsv+nAu3thTWF3OvvHuO2MbEk2Dv7/0fvrBu0R1
            l9VsLd+vy+8/Oum1omNpXZQoFOcwf7Zr2z+akMD1mLm093B6uN+8bWxEQv69
            /7J/CzBZHd9rWV7nsN4WvP/y/Xro791fB7B0oFS+9Ro/49gKr3unNLk9kF5Z
            wbnIhQLwcP5chZ1vbf1r+71v788/J6Dtz6ztf+63p7G+t5u1ja/7U5vufx7c
            vqlLCuVbvsZ+4YXxcBMGGiC7tc80/Kb7IeJLqDbo7+QaBkvTr38n4pwvgOFS
            anNQV6VtHA5rckQs67FLW3yQ5PMR/Wzf7z/XFZ+9f5IPUhovaYb6/uyC4jvA
            1v0HOrWTUQ== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
