<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.04f2.b49d</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04f2.b49d</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04f2_b49d</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>04f2_b49d_v4404</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>46237</integer>
        <key>idVendor</key>
        <integer>1266</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04f2_b49d_v4404</key>
          <data>
            eNrtfVmS7TiW3L/MtBdiBvSHgdz/kuTuB7hDZLzKqm5rWcm6X1okL0kAxHjm
            4f9c/uK/eF3erfa//9f/qeWyf+7K15Ub/0V/RfdMl+79Knr8e/8K4/Kp4K/u
            v7b/+v4b+2/uv7X/7v332B8+aH9u//n9F/Zf3H9p/+X9V/Zf3X9t//X9N3x1
            z9WfxYE++x9+5j3Wq0eMF1+++nVxBry7vv8FTM2s9jI6l/B/n2dJOZWYn/zg
            /9VfKaWAGbnywrOItxPdvFpV4wFD59UVrw8H/JWr8kkLWoH9rab3He/5RRdz
            rI9Ke/43/NVOr+pHD/OjTvsQMNQ0nz2w7mJ56uQvle/tfAYtf44wz1TjjR73
            kLX8zu1JGGeS9jXuFlJw7JM7vTjdynyOZSr7Onc7a7/3u37Y1zI5enyx7yXA
            nLl5ddthM7Lbpb7Kcyauaf/X565hi+Piw8l+Kr/7vP4VTUWb38+vGoYN6sfz
            fHbE9/M0g6ar/2j/2pPYf7QfctiT96P8nqXxo/0nBVUYP9qfaUYb6o929r/5
            ox3sMn3h/tEfX+15qE/7Kn8WY34/95XLwPX7fu7Kfh6/n6ODaj/+aH9NWxyP
            ilw6qzz/UlmbKP38WL4EjtKP8jh/zZb+Rzt1P49/6XS3Pf79vE3rT/nRzr10
            UtHfZ34+BzCJuz9fz8/RLT/KY/XVnxa/nx9AOn+W93aWZv1+HmtVP+eP74YS
            k52s7+d+2WKv+Zfn+sC9yze/F2c9nzs3bhzwrK/Br4Msvp/bFGrx1m879PlR
            /oCLp34/x2C6nfjn/nzeg0EYf30/r9XpBPv4/dy1Xb5+Px+n/I/2r2nl7x/t
            eOvOFSL69vnc5bRPzPNjvIJHtf4oX5s2Tf1RPqGF/d3ne56zIGXZYC10LMdz
            fRfac8JJ/Hoeo22t/GPHhW5wqv7YWYb7OUjDhj8XzwMxfj5Pe7GxUb+eP+f5
            /H7uwnWA9tfzFw740X4/z+vv3w3z9+/G6/fvxvj7d2P9/bvzRzvPC8z+eP7Y
            4gD5v1Ho/NHoQbDzR6dP+fWz0xssrPiH8vUPz3+0nzbGvn+0f3DP/aP9ep7X
            P5T/0f5qL/LDf03uPtq1fj8/4BFkyNfzQxC0+KP8nrf2o515yv9ox/UXgaLn
            IdripFB+KRT/ULn+4fkfPjb/UH7+ofy6/vD8D/1Zf2h/xN8nd9TfJ3dev0/u
            jL9P7v2z//F1guNXO5uqK/H7+dibo9Qf5U9/NkGQ+Iik31eh8tpZ8bfjXH98
            7ExKilf6ej5e4Cj/1gmAne/n/QV28m/9IXT8fF7qC4zk3xYDXEr5OpHzEAjf
            z88k3lbnr8/jj+fX66T+/nz+eL7781y/P0+EBB/P700QgLUB7Aivyt/H/CDw
            HzvldHr8BHf7uZvfHzs7zs0/4J7r9+dlD/60e30wa789d3tSzs4/1/xzR8/X
            CSu/nRiylBtjVSEcb8drGPPoXPcanfZv3TPkQO948JoBjyOWJ2HpMpa1/N37
            VUmai6Z9zuLa4pT6fHBT4wf3dfj3dF1vdul6c5c/739yup38Rpzutcz/yj9/
            fdeK1xePiSnPX/fl1d1z7uvXfXvzuhvC96/78Rr+AXbz+97Nr/FNP786OMMM
            X/dxfnUY3Ff6vL/j/BrAPda+z9UWp6byPoz3d+F1f432xr+v++d+/tH91bWL
            589J/rkEX5v8NeHlh8yg/eDqxxtf7Kk7U3am6oU39tS8QZRNxRsE2WjPKM9o
            vq/FiLZmG7DmsGlRdzueJ39FAs2wnJ0uNCuRzcev1/uA0lVgxl/9dg4/3eu8
            Ax9fcZPSzT0fW/NzX2YKTkBd2rFlW4MlbjY5NGuPHQ7veILGuvHB6n5sXpZx
            a/pop2w89ve1YTnEjvfj3HX25X1H8cf7iwANTRPQQGjWOO7XKr/LBGxarXLH
            x9Yca/fms0y8a1ynTGpDi9RuCk9eZVKL2WQiDWVu+1ai+OXVO+Df9r4bc99Z
            fbAt2BTYLjUQwVh9LIR/18BY1keNMuMTZ9mLo9PBoWKVVrQuFq7Bu0IdFMNg
            5yVwrD3tye0ufpRpA7OmMjdlimPvS/c5VJD74IJ2O2WOuvHE55QNV0Peoh1M
            uA3Hf0/9XDPPM2V9jr6JiM8yCx+6RUEMTctj04qvvcvg8CQdazCJXBNjAKP7
            nCwwvHGqDJrApHSTpHx+ywEMJbHptWNc0cqk+FXGgeEs6g+maQ6bn3K756OM
            HxSYOrZoi9M7ZWs359UIvPT94dCiVWCZnMcWw3yVieWjTOm7zHc77Gvh6Sk8
            hHsvF566d5nsNizqKHN3W7wnfpUB+gQiZTvYi/e0zTQom32XqYEcyVm8e5+J
            y3+cP4CnWLXwvTxXyDah5Xtc3VXAjyjxEnafTWjyfr33PYBG/jgFFYzJu/5w
            F5Ctk5gI4NS+seZXGUBhsLq7zHPb3PXN54xCkfUVPg6jWy0atumJfJxVGDX0
            jzI3MJSVwbrg7O/J/hrcs+beUVi0vk+Tn/FjkjwYsiQ43rjrvE1k/Zok7xIh
            PycJ32rT+lO/vuV9qsMmEgvinfWn3en6KBNarfUsyLMXtn1/K7bak9pJJJ/s
            5Lbvb6UcjbPpt75l4L1/lcGqmtB3oM++W5lR02eZkihW4ka7eYBsftArX7Mt
            zhRie1eojjDU20oCyi5jAlP4KNPy9CpTl8DKPAynygQjN6svDutDeNGBvGbq
            +ca2xxD4eaBdyjoCOhswqUCRIFcDMFMk7xMG1gf14vhXy++vG1mROKnPQ74b
            /4/6f9X/9fxdburp1NOl0kulV/0uR2byEXd2mX6GfAg4RYDUYuWCVCkUzJpc
            /1m8giS4n7Ln+Z/4C7ctziKC0V7s2vl6KbT+/HN/r7rV6jbCzPTP/X3VXbtu
            /+f+fq37/HN/X3Ufq4vt9k/9/azbUdek4iYeNp7xP/ckUNnmHKXXhnH/VOEx
            CoMo6q3HxHHfsrkX77vupwGklDLQ/YV9HEkvYZ/1pycgQ3cT5j6E3/NQdt2D
            yY/jAQ5Ckcf4JMxeTVbGiQ72Du8i4VoKT3nCaK6OZJ0mjttlazS1lwMYpK6w
            89SjHNFh4Shwz/KUcG+IwPubkP5FaVr5LLnJu35x+x7IfKSnWfn28CosT1ps
            EYKgPHqaH/ueJ+8rfPPcjvU1iudJFecojJFroZjwxlXlIs4fwHsh3nY8he5x
            nq1iPHcGCGDbAfXdU1YbVe0D/OK+gpYoaUOxlfbikNRe7alsBOe9UVFG4TWm
            VBVnBmecYi5YiBQ3FRcjphJ7L/hK0h/3DdACXBfBRwQaNNVFqHfxYslBWDlC
            zCTcWDgJ2ABYvFw9VVzL+RCzb7YhQJyhJdeKJtiz/OqU+A9Rso3fKfqOKUEf
            LLbz6PUScARqizmg/1jwzImI7Vk3SmYAp+Sp+aCeBcN13md8M+xygVCxq/0q
            2fpcri3TlHR+CoSgxKsZY6bYAf3ofXiOP2CiMxZtzAezaZsHZLV2f4g2bh+8
            hBUcf7zBUUybM/1ee/6wmeZenMBTHholNNhVi6QYTtF6Bnc712vFpzozG0C7
            6IhN5rLnLtbmbmomhWTdfdlvKhM+y0k6b+UoUDnlKrEOFZYZs5qxPfOzJ46s
            BVFDIBbC88J2RjR4Le33oVpdDHO/SxcmH0sFcjSf30BsFX1J4NY9J5DPIyec
            pyU8Oo03Fs9zgshtgt6Z2MkPUTW1LOg9NbKtks6giid7vq+Rq4wtjG+vKIFX
            RZ9weLIj8evVNzCbWLguBF/wPfvG5CJQdI577/eiYCFBdzx8NvpWOaSqU1L5
            QTaoCs4qaOc6DzC0HHZh04R3MsmPx4HVINbEqccEk2rhPdDtHetjWwTULn//
            LJs/yrpg7yZ5M+d1InhKPKGCt1PC+0iCFbuLE5UnzQlAmDk7QcB/xv9MO0ll
            GWN4RydVjEN5v8E3UT5OkcpR0CuxG6nSQbHLtfR8RLUHGCKBBYhEz43fptP7
            axpEyMVJZgSQlwhxhEnQaVBpQWRZwGLNGFCqXxNNNJy44HEIFw6f72ER6uAI
            88QSknKj5Ge4bSCS9sdAn/gRynIh+u4mMfSajr/Dog0HWFZcb9/95AcAJ/3D
            xWLHFqBnJ6IbzT78oANgJ6i2IzM6H5D2YAKLXzjyDiQ8sfoNwH7bb5zUG+x7
            wccx+YUSkOL80uLMWkY0XhEUZQn4m5VrmBf6Lmqez2WOkgDvn/6A5rt1tmiB
            wWcGGayvWL4BZOMwzdjQNjm+cWZUh6ZD2W0wOoJg0guMaibEKoRp4Oqq3sTz
            VUtLiOVWAutRKnjKF3i/drkScV5yjRUslKMwAScTX8MWwlwuN26axAA6u704
            FJuX5Z2ObjSLn9NojF6mMdwZu8El1rPgMLqbUprAUzQB4RdKgDQvXsjYJuJn
            veD/Wm/eVs+Vf1Bv/VKvWD3g9T/Wi/WXepfVe8Zz/6leCn+tN5rVu9e7nvBS
            W9er3vNLPW/1gCluw5M8ZdyEhtciFqU/FERhJ6aHciJQn1vlIAxPcIVdVPny
            prLnBvyLNbdsO8J5oBR2bwRQOyVhQsA4hVNe1yeTADALgLpIFZUo9QHu4wJE
            BkxGe2ApZu1lgsUHWbZae2J3vlTeow+vNnma1dl794+EB9Be3c+cBxTkhG6i
            BKAHsH2005evuiQ4Kr9dG5jddr4hsO0NwZ/3aLPxxJ3vsMyZNLb1AKxjF2te
            JnGid1ljo+TqKoOECKlbnk8soMsz+44/tpP1jdirK1izIByYF63Yno53ooZ5
            zMKWahfpXKpV9guo8Ypuk9HAM8SxoKjwUTYS8kN6Ch3RqoNRzZ1goPGkRaOQ
            OEiW5UkEHEYTRPJULHvJGfGW4wF3epPeREdQseaX4FV9mBGDwu4SpbQuXbm5
            WPLGgDB6KiHB64OeB38LDHyjj5w8gF+QecAWhCVYvN/6igVyDf2jVideLIMJ
            BZlPQxRP2ZyjZR+JqbsdbZIHZekxvTHGdGMjp71ApeXh96SSSgB4oiIJIPMm
            wwl++dE0VlkEgq2e1t/Ftok5RaFhY2Nm2Q/qIN3WB4m7ALn4qINYcbDGQx3B
            wAfg2v0AFnLi5mviCmAnTS0TDqVWviQw8DluUztfC04OmmSda/M/TeJo4CXa
            2EXZcg0RFkAu1yCQIbVI+zVQRyD8wqFqhtM7krtAy+Q7bEFuVzDZJNlAsOBk
            VI/FaeAlQH6AcAj2HQfkRXCFHdu5Mz2FciW+FofcCHY8lXIg99E6f1M+MrHR
            MMeYbXwv7QU5fadQJxQQcgknY5PiOgGP8HAEaUziU3yN54IBb+c9+SznPE4K
            KbzkgY9X4IKkRUMVXMfTwhb/NK7nwkephYw6MUSDoFx5RggyHHcsdiSO82zD
            oc+fR1oLRBDWsYrYqY33jR29wNTi/ka3crfTRz6GnUtgeClmzIevCVu0uQcJ
            iqVxo4DDvsl3uGo8xd4kppUjuVG9EO3BjaDoROAAzMvIs2yChyI53oMnFpUG
            cOIkqClUkIvqA4wjNZr5TFTgvnf73u17L8IgmRKkxyjqDaPRPahGiVGDsyuJ
            MlGBbd8XzuqhhIF/yLzj++QjAWWa10kBiN+kNNGZHce4QPTF1hwnzp0jChKQ
            E3hfBurIBoJ0w0tHQYgz2OwlypTh8gTeWHMJHGDAN7ntS1y41G2eEoZCLtmL
            9WmXLRANhrHAgwuKE4zFdkNiMj2vWKz7riBLX6C38GQOctDol3b0xp1xLcoV
            ST/yvhBs6R6fFzjj7yFw1riTKzZBnc86Zdz1LrMIFkmJAaNRp4at8jiappFv
            olWymVD30bZJH2hFMO7gFDB3jWKa3PWbOK2Rx8Jfwzg7+Cp7B+yWPV5PIIt1
            zxV4UMomCHqrR0OpBgEs6yTI6aTKJk4MkemGhSCHHzMephUhWROcLNDqr8kw
            6oXcygvREpxxC3nJvolXAPMB38MaR+xSQAWIg8YW0E5cm98AplqfJwPLrfuD
            GwU6QYQAuaMpm6DE5TUp5tybjqqySiZIV0KTKhjfVCdSV5ABTiM3ItYCGzTh
            zOEZNmoFb4M9tK4Anh5/TwD6B8FBgiIE1r1IIBiYJCsdqH0HmQ+OAScEiAek
            ZsngtECrEV1QUO7ncGkWMu4gVodPU7KOibKBfTwEwchbWfzqeCy14CsOH0xo
            AgyO1zRNItMHiJz8PlhEUG/Nlab3jrwPNilwQU92D+ZS+jL3VcboeMrPQH6C
            RcSRJkXYCKhWWpHYCtw38U7DgMAbihjBaQM3/wTgBhIVy1kZPh9dpC0psqH3
            j0wsxdhKwUBZ1G34ENjca/1x2iieClSzZbRN3mjsMtlOzadmGA/35rBNhM0j
            8DiqadXBiI19Nf5n8zW9231fdv089YEzCwaQfRHZTSzWQBGjr2GruacM8dhp
            qm4CISKYcyI5HnkiLwcoj9Vmgx4zYtdG9r0BizlKhbDAKZHTAYYhXOXxBZFQ
            wOo3P4DHxbwBIj23xCbO/nv2/5/X73P/+d/14w01l+W7j5jG4bkU1U5rwCjy
            BM8RsMM/yuGkWLloJx5kgtiFklD2An8CQsRjkViHMibVcSKQKsGRaxSAcsMZ
            +e5JsQEwBIq9sDEp3dFz4hUQA7WSKKDXCuZEEhjHOcZXAT32HNH+nJtrgCr1
            WC0iwb5VDkeoDbIMO7du2IndXgVHTYqFe0dpK9Z9pIIG80PGrQGeUQB6Ewzy
            N+VWD0BFIjMan8nTAxwquZEj9ULyEp1lOQlbI2E2YIM2PyA+JuzmxmsrtQPH
            N5/y7tu7P4P9waTN/Iw32KQYwRd/rIsoqy5PAM33jGpimzztBIQtOBW4JMV8
            9exNZR4P861Thh3dSVMHkAJcDCHvx+ZtSxRMODSSo2CWb8i/cbDEez3jMfAv
            EIcWyQebEwpfi6i6hE0R4n5XtvhmSZmcpQsGbQywMICivchfoJwnhU5/Jwov
            yae4CTBQ6bzTvJ93BhmIjtGIS7ogwFGTYdngOTiCKfKUHly+KDwOZ+9SHecA
            2mZz0aDbx5v7fk+uJgm70TUKXymm/6hPIVzYUoYf9SMB/o92BJqX6JNIbn7R
            zSbi5AC5Fyz66cs1Ptr67gcALnYS8dFFsv9DIpDefcFm6Kf+Ain+2Y+yF30z
            +Cka7ZlqSJQNobAtzr1N3rmKXsYk/lajmV5f4F8ITSjbcjR27wb+KHrHsnSe
            Hp9MrrWFpNeLmSVHANwFyrdSlL+RdJsSk4CqunH8o1FvjrIv7tDo3QiSJg/x
            BSDbKacK7VnmtdJadpIFN4rHr0ZBpFusM+LTb5Ch9InhZPtyX6d9jGESHIsP
            3NTdNvgBiUzPsCLfJGrjXH3X43lzJHWLuFBa4nFV9D200Q+Pwz7O/szdR5Ab
            9RLvwzYmxgJctqlb0H0bIqGPdy0SEwaHa9Ac5QfL3DfOeYxrQSPukXKJDd7Y
            NUKM2BsCFbUG5yl4LhemoOTLpLLzvgUGKPcH6U/9i07KAoWjK9/cuTUq2bAA
            ouq2GIRoHdWcl98YQEWhWwmtj29K/8FTAQxTHMQycmoSR0Gfl69ytYFGqSSb
            hhR15uOwugFrHmjsSMKQsgA4MPiHTkU1BV+IQ4E9ZR8VWPbnc+AGcHq0RwGh
            OmPXNy/7pvdSmWhiUQ8on5JDPLOTsV5zQaI9YZbJmLKdRLAnSBVAZg47kmoX
            I8CpBM/jDec4U9mTbNTEgW+RYSUKJ01iv7DDRU3FlaQMczZJIDkm9TIEEzQI
            BFRttYLwwXU2EFEiTUEgfNbdE4yT96o7CoF5SqwXGyg7OtdgL2CxE3U66I/f
            UoL3qcSR1kmo4Gs7ORtOgmx/syTLNdcOxpfWvZ5SBRArUh7Kas+7sFmDQQsD
            ZwQDN9CN3c9TRSEDCR5SmKlZvUbSx5nI53D3d1wEfVnUVwXMJe4kisjb7DE7
            c5RJmvxibcumakQaq3HbYX4puyM5B74Ki4MyaS/OqrK2fNIwcQY7CeQ7hbBv
            u7/9A6quSOfNhoinQLC3MqMawwQ/QnS7/jz1825v1+9YvDOwhZ1M+j8/oPY4
            zST0gb6KnIh8pGtrqCSN7y7YbmqEPcm2yOByBnczqBLQHiaCmbLfxDMnHNrJ
            rOudPcOJzJ0cOkVAiWRryFvspN3s2IZ2s02oJpns8v6O7qV9x66nW2ga+Ibj
            HGBJu32rttL1PTEp+J7LrwWdbY2jJj/8WiUWB3cLiLtAPLRsBIGTg0Gl7BSb
            h0jOPxnoDfQ+9oIH35Ectj09TykGBjOG33cIoJwzzQfcAvvTn5iiQ9kZcvcD
            O54k9XqXE6UMyPWzbEBZnp7aKGwDvQKGDoWGG+A/JoExqCOXaRBbuZEo9aYE
            G7u/B5LxThLttTbKs/6/dj0FELKvbBSfAKH4SjUNCA+cGzpmY2NmHxa5SakB
            rL43iCEHE00w0YEWV0ohLhLhP8bSB3EFjahwUoeBWvINi17Z7X7XDx/1w0eZ
            jqGiHmh/EVuYg7rWGnMvjpeKiOZYm+l6w8pkIpsEmN2LwAOlzrnm0R1AApiW
            LOW0YS3ubHwSBwinaevDl1S4PJnZRCWg7ynQwYSTfHSERHz2Ua6ecjgylU5V
            +i5xYcuT30Uv7yOxyAXwJBqzydWZ06hGd5si9ujs+9Zgrm1cT22dlxm0Xde+
            d9lt57ZztfrgnwyYR3sOJsEbE+qlab1pZz14Suw5WWhhc55Q9/2bcmj99h+/
            +byG61XeLEad3Jn9eXF9FPr4jcZB54d6fp/nRylXNul87U4Dx8uAce3OtitJ
            nbv24PL1PZi5n3Oz2GTs637e99VXFz7FN8ZdAzB+LD7orCBxPJl7SqOulQAs
            AKFJW9k9OD8SD1jcQlkL6/dTHxvVUb5Gqu8lJaCVKKlyTyUS9jzqPZmEUSYU
            nQRaff/GNd4+z62faiQqOVO3CClQWR99VT8LZfboF8DpIimP0+bqXhwSdtSU
            ZnCLrMyACS8dzWUNr3oX90GbR9nkRb2VaCUDp1w0cDAjB82qy6LxRdODOVqJ
            UjCQibTiKfyqnw5chndSMzQqE7vL9jsuucWT+MhUlV+LB1/grpGcn0uMfse5
            Z7vU4CZOpuqY6Kfv32wTpNfqzmwizjh+LipZRCri0O9OoxX/y3x8LoaCENyk
            8LiwGeRNBsbJ5nqAK+tmp6ATv9fn2mllxqohDxqoc5NwfHWDtShDKazwZPSL
            LRIHJsfMZXfUqmTv8awtZ2RybCBu+gA1ApYBjdIsJIw48bcad+XCjukgMQP4
            K8BUlvGYRO37RkG+FHlBHSeDS+k2FwYEBwGY2rixU//Qhr/jUDvgYONHGwSL
            GKB3mDQM2Fnf8qjNTgzoLYp0Rh1gqPpqKIPJsHeJRF6X7gV/ORAUqy2AcuJH
            tvWXslSsaQEo1wD0xW/WQZ9A/2Mc3OCb9zu84GtzsB4WtDoJZ8Ujik+iUayp
            DFwivD4rmH8BEZ0ycu7SK9Nfl8c2AUSwrPgLXEFAgSQs+G6PFrKEug+6Pcj+
            SydgEAz+tpvO6TSuPpvZ8JW29YzhkGs7+L4kDlJBgCscVJhsGzNgSVB6IMdz
            JZMYJ23fqHHNFoZDJ+l6neZXO+ArLtlv2+SxDjBwwz4GhABWpYpjqS3pm4jr
            Fmhnljv8TM5RbqnbnEwkcnDi41IEqUWcSqkb5o1aU6HnKERULoM0ieZUFMg5
            mnl1s/g0x/xdMcRTcVeY70YDkSg7mkgmC5SQewAyJuygwoyLHkEIXk9wDzWO
            HKRMuwaJJQ9+lYDwrgD8d5ZlF4YuNfKxrrFlMr3+M9+Do1l5vq0e+F7Htn4b
            8GugNvC0B5xtHCncOYfg/RsUpz1B+T0xZ7xfjCSAUehY9oD91LOMLEMBaUap
            Me4TTrZMwGjQ6c2ClM4Pkrbwg10b5Cwe6N1MBwI6dxCBBfJeGKNsOCht9+al
            AAy0KR3uSlbo4MApbfXoTOWRkY7bX6+Gq+ESj4WgwZwYqbWAJmnYB7qVy/Ww
            LmPi1HoWjkaAOiA0AlRZJ2uU10KgW3O3IVs0MLEvW7ndfqfdG9sP1j7+zw1w
            yWnV6fpqv8/v9uNun23o+RP7GZO+gSkwsE1Ko8jZbdvaRUEEqhMu09VILOrF
            0MowBuXrKau244EAZifnNiRwO/gFoGv6pA7PJsBqmf3G3ItzS7278Qm+3YCw
            G5nGbW4rZRvgO0i/nuR658m6OsDiCiZyfTBwb3EEcUL4YOLYoS0NQBuR7dWa
            EjeFdDMU98gkjLpIgudixoIbPrNPPcj2jFQUCOTstmmSSNyfpPMRLMpOgIbz
            QPRH0yl1ARai97goSbg+yHfex497aXrtNL03MDYliY9X26DskmRnRYIU/gZ1
            g3beeK5hPmaTUq1u3VY75VnWkV9yT6cRIh6MZJ5xrnbZEEi+RDNH7zb85wBb
            MGUQlVL1o9N4DrpgeHL9h+eg7SrvP1TEZm6FU0STj0syKppHYZd5a0s4J1n7
            1weuq8QcCY9XkRXw5wQF7TKQoFgJkOadolRXHSV0iQK1lkzUk0gENF7sfpIh
            NC4lWXAsUDE2TlpldgfGG6CDjCCJ/kAvKzGOXgLCQXuJQi85YywvydloS2CS
            BLviiEiCAroM+G+lAChMR11s1Enr4ox2gsuqm+3+tw2ct/imFQWPAAykohyr
            TjOle//2RINUHFFqCmSIgcwBep16C8qTWqRUzWOlnhp6sg5vEQflFiObvRdF
            LjgHQrqSad30icm0vq+Ussea3EtetUwNYSQ4aLf8lHo/M7Uocv1TnEOm97Qp
            E82P99d57/Z7YARO3N7tMkRh2yVRtGS6IKJpPnMBa2K8FPVo1c1G97/bdEwS
            D8zk1V9auNpCRh9q4ZnOIrGTc7LgqatULQpDjWFjcsF6kmG/FhRcVyKPk9Nl
            dRu23uZzOlhLqsoqGyGBywYymbfvikmmzICV7OzE0rUt+u4Mfgc0tQZaKWTz
            hCxjGu6m/ZiIKmCQgTnuE50q9EG/KUWbFABm/D9jpyXUZ7lT5/mbOrs/PFrV
            MxoBd2GQndclSxYxw/u5v17P6NHrqLaukljL+uhnOT5TOeAa4j49EzDYiw/o
            SQsNCnQ1fjMdrtwEl+IkxGbz42lCeJ1FJZgibzZxvUnVdnLbaBNXqmjw3k3a
            kuyTY65yxgmHcBDXNuy+piE27w2Wh5nkoArs/Cus97v+EZe4I/64z1VW9hai
            oJU1Me0vpEx5ArYJEStYiO1GYki5x8vuq3QrJvLASnQzfHTmegJKEFz7lbYm
            8kOCccQsIVr//LZx7jvIhMRNmBxcm1FWNGncRvI91u1BICcQI+qpjaUm264s
            d8ZBHNqr/NjKA7So+0lGg8+dwkgRmmBcQUo2oBOrf3OpNEdb2ebMuojkIfgD
            YFE6XIxuUt9ESt/U9wY+bLAGs6nVxDG2Z5Sv0eBbu4FCvMwJjGdyTpiUuBc3
            7cXfA/JLPjOY9vDk0kBamhsIYau378k/MUx8odFA0zHSSnJ0AW9UQGOgIBgS
            yWW+J1UWZohoz9OnIdXIQFNe4odL5bmwif6HfO4U0ghIGoCRdSniYN+P9akZ
            txBLyPenLZp+VZ7ajX+cCKKUOhW7CwTOCPQ9H1H4jqwGDf5omjUG4BP13J4W
            PbgFe9FpG4X9+gBBEE2AtLbFUXQ3T0oJe4NHsxcxcP2mjQAoMjvmwY57puSE
            NmkM1In7uJ/LGdrs3Uh24niUdlMfTk5460toHwZOXnCfUg6cgEZjxPxQwnAM
            Bt3z3DoxVOrRxV2gCMDWvCHcMNcNubSKKpMFD8lPaRWNrDZZYaGBD9eD0Byw
            YjhG9jHiItE/HARj9jNRbGNqaVripOch0dE4F7SPkO00ubEiNoMqCm6qQsKD
            R+kQK3RPuRixYxmOjvKR5H/0C7V3edCz9OkvjzpuavDw9cYXPbWAY8dxs8VZ
            9M+p3nY0qJ9rS2+HaTjN4IHQ1RtPrklaj4GFY+pDAzvsEjFVnCj+ztVUw/i+
            6edplh0llnF8H/KzaBYbB01/zZqGJvSVjO58yJ/nNiT9rlLMCQGRSdskMIjG
            SsNamhAvLXD2aK8m8SRL3p+3cf7bHIsQxNOWWvWv0s73w4/vh/N9uhBiHJcY
            Dh/o7fBVzj+DZQLKlHLcQEqlMWLJ1jdtPm4XdKmE0zfcB50S8D1068VGld+R
            2f5to0JgDU36UifpZ/X5cYeGaUB6jAE5wEaLxYfnkVTNMzNtAtDxNL7rEuJy
            QjMGcOpzkYgiuPNKH50MOtspzQZwyfLCh/xjsp5ou019iNaHAQriWNvwBCW6
            HUYDlfh4Ylsk64N5llfakZT2YQJ1TKamzH67lZFVaLB6NN4YY5K3oIB2SzHq
            Lnd4oOCNfitm+wAAeRsXO7f/UPyoE991JDkQTjbz5UpFBHVAjj4ve3Fk4TF2
            Q/WjofrRkDMjbHYAx3nRanFSxdisnrve9Xj2fnY6d5nWShbm7N2TqXtPf52s
            c+Q5ac2PLt7mfjOVjCzANjsdnqhvp6Vd2wynwseUxMllOW6O7kAqd4pT32PA
            Yt+nDJCM/ELb9qLw2KRz+XPancAf5WuMinlvEj8K9mTq+wks1NaSORTBqBa6
            y1rPTHbZDjZpAL6i2Ze7M1hEQoj+dPYt7Pl9jd0MPBy3LL0MyigDPMaudP1e
            SSucbMJeUYecqKFoHl9d4A5cghmMT4tL/MShE5rlJVZIT8pVI+I3OSjn6F+D
            xeqmU6fFDhZOnDzKt3sbhEQ6XDSzY0P5VqcxuijfHjPo02QngjtPhyz2dSN2
            7BiCWRwpRzDcu5R9PVE33EmQ0GoBC0Tnr2KL3WiETkk3tqHU180YRTDyXsaV
            MsLwtx+yZp2yPO/kAxYp1OnqoqHhxJcdGXGR19TP4IS87ofZpaMX/DRgIgPJ
            anEkpLkYn/tVuFlhsm2673Yf+qI4J1JV/Cpb7J3vu2zd98+q/BAYOhA7gHfY
            ouBPhzrereMK80SzMyxSP+05q+8Y3kGeMjdlv/Yu7X5V0PHl47nfRvc4YFk2
            /NQp48REGWs02ophU72N8ykBA10EvsZ4tbif+8VNEzd+sgWLzpSie2HqXhgy
            1UDSHluiNHpP9yyzJ1B6YXq569OlkQSVjEOcIvuUSh4B5HXdFk0P2W/80aBF
            5PoKpVEVsvkcv+OMEI6bfoLhXrjbkgfkcGosYKKuzWfQo+fVWAulS69yv+pz
            AY0/eNfnoK3NeWU7YUZKU9IgmE7xepVJkyxHSQA4fSuICXT4FvkCcovp/B7U
            qXFAr3uXqHOinbOR14WThecJB6xuP6EZewyNcuIgS6IuEpo2YyzDdwz17STj
            w8mkMxBdsOQp0NqU7sXLLcu8MFpOdCXGHAkrme3esyFLqzZOEBiKJnwIKNnz
            AXgB7DWxJMQzhcy2M1GOCT4puCLVabZT/EljuEbp9LRw8RxUYKCrvkAUnjgF
            2AtT2kt/EDUmyDE6LaibkoBIJa2nQBRsIU1pafUps9EpnolWLoDOABnNzYFv
            J0Zf6CuY+N8BVLGOOwxyaUYNgoEYLnQzRD9iF35f5DtoD/aRxI36ScUgwfO0
            yWaMgu5NocYYCK/nc5dnKIiLoM/LiZ2biyeAyjqOK9LW2lu8BM3F/jbfhTjm
            mKFu9fpF401n5rnYXJHik4oNz42UGsjq7hlXwXkq7qhaiNQbkAFecezYOVSO
            k0IJTi+mdimvjYLKzysd7COjdSkwApUiXso1wvYQLSoGJV60XQYdZVHUbpMw
            yLbGQgsnC+pg17if045UJ2rW7YpuxooM/iBl2L2DOAAXYoKAH+W6kV+/SYQo
            tsAlfx9GIokMbsGEAeBdQrG4CpEmyzV7cuvUsnOPy3xp3xs1WTTGeNl9pJlg
            zcK9/B75t0pVyTQpRNibhIaZ/mao35fFK2Osqd/gL9Vv2p/XYO3wNy1Uy4z3
            8ao+XoDOpNKMxGTkJzpx9BtkAuNsg0eumozdvK1pGlCSeYCpTnISVwTLjQDC
            e6WJjjLqBw7bNOei4GZXRA5ZvZARAze/ZpHzk3PhvqQQ29+iH+/5ltWLr3qk
            FKdkVvGyb8R53tX7tBldqjYB+H6lyasMECd9jmTzBtobBIUWs9piYmIX8COo
            O+Ew1qf/dEoGUqPLwjfSaEww6xx/NCYzE6RSg9MKmfTm2vamcPLYKwytGEOk
            Yb9ipzoG9L8VJANvvTvMqtohLgSxME1N7RUQ8E8F1QH/7kDvpZ2yJA1reJfl
            LqgAZ4NOhtsu2iL70m4thsHIF3siGcYk0FF/EwE0h8W9/EAfmkkMY1I9BhxA
            ee3Jx5AxAQV75WHUtiK/L1pKyD2GgakYp0aiv7uc3wzgN+/3fddmuYtwXJK1
            pQSdjD1z0e+XMfdFh5s7BwiPzne3fxqpPE+hltyWg/qJhaVx4GULSyAZxQwD
            bHYaVhLEcTHltSFRguc7jYle6U5+QaRqrD0GEZomlabT7WXIFwXuGlQpKt/B
            fhb3s04Xitzbdg2hHTHuXxN+52dqwtuL6npNONvhKSD2506mSOTs/EO5yIib
            kpsYtSvJolmZa4K2LDuOrKL2Hg2jmEIzxVqftgafplPHy+Fp8faXMcFUR+tZ
            ieaonGVw3iXqwcTeiR6CNyXTS+7qQ14DxIK0oKmvZ+gfKktP9XpGSMJnJ34O
            EIfmB/XD+uE1Dnx144zfDJGfsqQr3Nhz45z0nFDThLcFXERivAEcdYpOCItp
            ZAD+4Txj5o96mYJMdWpulEW93mPgUQylPKFLVzyzXD/LcJepjHlLkxx9QhpO
            QkHN/LLBYaL4nVlNDMNJ08RKlGUTPMX1rhh/THzi8hYvGwXiQez+e1YTsVCf
            M8+J9IazDuEx5UVf9a3zDWvnu/3TbvMMRHKXo32lTpNjYqoCGk4WCXQIK0F0
            8Dkjw8XHvFj5vhBy3S2gtH0bQNQkBD4PVQ766FWBvhT99DaNK7uQMkdJP1B3
            hHx1q3xfhuWo3GdcOC2ZVAmFm66BB2ygnkAexCBYz91CeS/VdvQSv2O8QRzT
            95lqXuKAIkFazHhePEndUpiuBlwF2KNMOTMtg+lZ6JoiNykaUtX3wMwPoqub
            q5sy2FW1CUpJMaEdPY/AUgLs0hz445mndpZU45UYkAiQDn2716JE0jFUC99F
            F5Mo4nDjMTp+k+QIeWUKggG38UUwduR3QIaBJZj3ZT6nxVk/qCCx69zPezFy
            3O6Bv3FF31zcTKhiwjVvDq2flVlofFRG3xwpFdr64+zOun9rt4NOB92f1w00
            oeeUCohUrbOJByikUkim03Bt0o1xSk2wO17G3Pd8DuDn5EB8q+177mfqi8o5
            N7L4i2bvkrP2budumUDt9m4MQ/5G3dplaFs35/7dP9pQm9ce71ebp4/tRx8Z
            Eea0VVz/qKu2ym9t/dK/pv61z/55M43yOuj/amfPAP9zHVU79y/t3Ked7W7v
            rUxkjJjXvbvybuddh78/BnmfcdXnRzv137udupnQ5kz/WmonKLlIVRCElKD4
            FwZCmMHqsYxVcuip+x5UkzvvuGDn+Z8n/7uTEsXX3SYRc42JmWTCpZi/JBxe
            7fMUOnHn3jKTkTCVB7gbfEcGVoEO5V320g/t2NltM4etmU325quiqUoUAM61
            V7/PRuE3BCW2R7nJGe13sCgmbvMmOBK0pKGohn1iyKhHCnBQ7ZMcCvHXAwRZ
            zfpGdncqIb8P/ALg7NPepS2+afTPUaeAbw6IYQMb7sv/hh9LOcZRhjU8reEb
            pU6DkkW92gDuSwYi2VYuqAvmmg4oX/XDR/3xWX+++zB9P30IwFJDVrm7nWLt
            jPnRzh4LJ9bq2XhO3Vz+qbr3rttYzzHyK52CLe5Otv5PuW9KwkCQnqzuSHsh
            s3lklwyc+FHun3m/cyH4buHrPwqXH4X3TvEaFJA3YSSjwnSdMGqvwgs3tOE1
            kPu5x9iUF03bGOkqFsWZ2SeFolkGcSB29jwt1GwNKqhuiYEeSn8fuYavECZ5
            ZbuXeeKk3y+oLqLMYOa+vKdFDK7SLtCah2w3oxXSdqebHXQjaU2nc2N6PQND
            0uHftfh+T60w3zt5n7pJMc/t2A8aP9ylUxBK8d9Hn9xQUjB+W35N1q84YmKg
            JvQl/dav3LRYr34l9SvukzOyxb3YnUx2tF6djLuTUZ3EQU/3FvIRtEybyGiG
            3AZiBN4w0IdS7A1mJiP7iaqTHe+iXRo7SovN3HM1474mL4FokK5LsMiADtgU
            Mk+ihacxt4plXG7sjGUaVwoSz2/wJoORqG5GRN7tgTEfff+mzkhlOZVHx1NA
            4qbHvLRpercUC1S5o85vhkMhf9ZJ2otq7XJrpkLQZzDejPcznqlvTnkadLYP
            grKPrrFUSqm5Ia/8OGfWqewnzesZ+oNzUFuNJS9bHMVQ75SIUqjEmEp0OVdW
            lvdvfoisIele+/gW7YNk3KTkKzQViVXS75LnZPoV8j3PVb7OoHrOkjgzGGiY
            iyG2qa+s/J7LsgLAzNA+CztLk2peCN3ROqeOSW9Lt5Kk0TSXoKE8DRgDZi9I
            ckx330Id0OtZWuHEBZ186mUoKU8AThDbjR/vsVb9aoknV2puT289Rk5s/CYF
            5OYVzkiONE+Saa6T47yk674WhTMZwzy3w4yM9eYYHIK+spoLpd2wca/6jOlv
            BY8Ym5QWCvRYnVpTBDRiJNlACaJIuv2cUS7UKYtOy3uGDq9SyjN+2qBtv+yv
            6g5yF6xTgfFeugsDJKTELrTuEXK/Jn6jOLZTZRgFnh76jzqHTiYtqKmmGf+P
            llRByjPThaAz1wNItk8jY5J6xVEBv0RLx7RlaEyv+HyEGgMcBhf1Mp2iKRQZ
            6UBPl1oU84yiFTKL4OUmPUUoXtH9te+93ZdpJ8/Vfc8TXM12jb9loWPe8bQt
            fNCnJpCfnqHrxTACmOG1HOOgXyRa/L3TmtnirPlBtWBlZF/WNnWTulm7YBh2
            jXZ1YDP1flr5tJ8DC9j1WMkku7bdbqbhsAKeWv24Y8Xc3u2cdWZqhPnq24cy
            ffyuADznd/n43SyMMKcvMsiXrGyeYpPmb4C6WoeX66CFDxPoBZjMXfJBhtWX
            hHpb+pBZV11M4mQMOHebtubaZT/r5fEEsIA6Xdg4yqnK8jeD+Z2oI9SUSLEn
            E0h3J2v/otAIfZP17JT2/rJAtrY4d62/d/Z8lEJuWbriKM9ySx/ID6y9wx4a
            cLSvATCKkjcNIP29TEDKZ7tN11XeXQsTSFNvOyk4TB8hXeYWGoLMItQa2l2X
            LcICTb08Yx57J50Og2jjKP1chD+NiQsQdj1wfIMT9KeF4/gfAMnTd/wGhJL3
            A+pGCaslk8OGwH2Le6OApJG0Z+JUA2o0ClnxrHEedE8Fo0QAN3U2WNjIEBee
            ifWeLVtTtkaKGWmmqGwcnVFMLkWi5Ff8jrhBgp22OnTBUKppL/Ck+6idgfqM
            bms4Jg3K1miiekkw6EIqaeCP/zEyMUEEJ+dOT8e5AYjz/tjE8Y9mvRcAlhNF
            95SWn8ZrAEcDpo3iVsmkGIHOp1LwBzK3gL5gepD9LuLw01Rqth4pViqRoCtE
            2pKtJnvCi3K7uM2nyuGP3JMWpSL3sDhwo38/J18gweXTwKoD/9Ymw/GmnMig
            KjIwyQkt9gar1wJ4foPZDHwbmEkFbCjnIjA4R4vHNCookXNTEuVKmzCFxwKJ
            dMvmTGZqslX2FoZqMEYxti7V31cPjIDuaEpMF3VS0aJYGHi0ZTO7TcoxgfZ8
            A/7ewYYYL4amq33IRJU5SWTay/rqoOcuGnK9p7mtJBKX8nnrXsg3rnC+Yc9N
            N6Rnsji4r/P8D9+/7PsMeu5NT0WjD6/MKAzXogiCZYcl5iYt/iU41YklHow0
            nlQ8Huujp3GrEQeNMkgzW7X5lEGGmFNOul1pbSl9U1RGBsZUxhnai3MrShII
            p0qNCzWf9M+/wSDmGpwFJHLb8LqRj0An8PuiyAHbKICeViQnxQhI5r7OU0bh
            ixayisojEdOII6ihH2mXbTLLcqRWRrfJOL9Z190yG5C7n56Xp+WMvlVa4ikq
            YVU7hSrNZW1mCUXttxCJIvVi4QNNYJ3GSoNDtmP2CJok/mYsHY2PAVFpO4CN
            ScjOOJzBW6xqdFoWrYHWNxTkgp9TyAGUfzuIVc2pIgMTfP2L39pRowLn/aI1
            y2kMfAw9g6tFo5SsDUCgkiGNg9Iu5fDw+uAVZ+UiUsV9iykk/WOLx6Axsg3w
            e3B0l8IGEN8w3guhgKOOE5bb9jF1ZzESFoOKZQPiXN1fFp2KsU2YhE14jGnm
            uvc2272nERwg14T127ArKM5gyY+sXHuZ+W6C5hA2eV83gXQIpp+EziGUDsFz
            CKRDaL0Ipx8E1oprfoqT7n1yvPxz5m1h5nfhuhs9VBQmTzs5MWIsyF4e50yQ
            QB9OvMNXO9lKLqreSeeSJTrdehIB35+dd9tAzxfFwyTooO3OdNnLumE1i2So
            OQsruWa8hCs7sBFVOUGJJBTrLRcyi6a3p10zkCTYWGvDyV8UhBjgvHPburSa
            oy/t6BhRXqEBlQjO2g3B2k3Uzbh3gPC58YmSS1PL6RjLCrxStujtutJ4RSkd
            HjBSUaE0ZZsgOwX6Y4ltqCIqcJKODQYJiGl8Tgj0z2GGj8nzyQ/TkT1aYoTR
            3zzBuO3Do+3r2iEgGbbkWl1RlRz166g3ZDzI4MT0ql7qFDvNYFcVrAT+aGgx
            3BuGM0o5+1GVTsUIAlKJREl92jtG7Oj9ezC92btm/X8bVxivc9UuNQVjmDaq
            LRS8qJzgqYRBoVEuxuhQ0VKNtuNSYuGTGc6YMbKV5g6I4KG1BaUZqdbygAlV
            YCGi+EYXFzIYN02edj6zHRGKyCc5BQbvx+uP7dPgexvHy79FVknG54R4cugW
            hpGkQV5QPE2mAWJaPx4ITSAYbaegYwJ7HmzbTTphcgczAGIJTFcnQsHgfN8w
            /5JSLJMdZcKKsn7fdQC3NIR+tIMZpBsDZvxhDpzqbd6TGuW9RE6H0qKnYbSB
            MqdBcoyEiG/N9dKsxmnxrHU45N+w70UFY9TRYkZTBU47MolNAJfDDWaaz7M9
            F5Uf9sRmy8UXmPcvizDJxEtctE5f6mWLRifGzHDQziQHJMFpT72JBhI3xUuu
            JGjheNrTWRz657DBwV3grEGT5w+jimxyaflC2Ga+npc1qmdtP3tkkgpqEZ0N
            u5Nok7bB6uT6qKsO1nWMw6memJR4U8u5s4piV1QZk4i0plzkxm5RMOgazO7a
            2UJ5I0j6aBKsAvkLdzt6P5dmvq6PdLHoVzc+SqoQ8EVlUBUeLWlvw/3U5BfF
            /5yqVwgMzX8n0OJAyjGlipuczPBEOTdz88pEilkRwytHzyXJOu1gyl7EysgQ
            ZWR6J/SnB2J3ZazNjGEraLRM2RZSU74qheFqYcNMXZl3wKKJe33UQnU9l/E9
            cqVSbhrGZCLJIHMmbhN6VIEd4fGPr2B6lP1Q6GV+sopRIJDpX8Hr6KlK2rGX
            y9fjTiFvbgKY6QPjDIAmAfEB9KGrv+xK8JcSuunt9yBF67NFC9lx0wLJhH4z
            rArtGRjivPB6UsIkGskAZDI0A+/zEyT0vWWSuj3kotnVPXOHVN7Bw5l2wGL4
            XLIJ79vSU+6MQ4ldy87AfBvBYvf91Fv7Wu39IaUz/XPytIcJwM1bIm99vDer
            NK7d2G6UOaHNj8eubeeUTrRCvt55Z2j0EBTAQrBbQeo01rBITjaRnlKeALTZ
            87Tj51h0ANqHfTyX6Za35/JywPPs8vIvky4MZz8/7cja2drR89d3nX13ynF2
            yZhDeXYUFfVSwAjeTwsVmhjBRMEsbk164oZeDPJgY7Iypy8382Dm9LPt+LPt
            jzHEjzEsMyoMmtzPAcU/DCh+DCj+nMg9YfXnRO4JlqEiF4Qs1/ZZwW93vBXm
            3mkvCxbjdTql4RZMm0095KtFbV3bwxtkHihFINgA8MQgTMmYUnmTMVtjwvDA
            NdBMW9k8TmLyZVz6Dvkvqg9gQDHark3MnOvJPsWQMIyMKxEcbawVToZZ222x
            3Z5aIR8sXEx0F7ETN6dZsIZo4Tef13jt/SvokwVpCv3ai0P/HFJGtBvzt7l6
            N+Ya+HSp25QLhV2SPZEBnabXweSVi9lBJjv0WBDr87u+qT2aIS3mrFFOgO1Q
            y1QmaIlkJbjydtxNuBHZBub8PnmlTc1MMs4sVMn6Mqqf35F8o1foeoCzGPiM
            sj4FjqUFEqhDWqbKgu7gAv4vmymuUk/vrFfKpWPth4T26w0o4BXv2f/2LVGr
            JJcVA1pZuRQPih3g7y7vZBk06psKb8f+hP3dS8rLV11Kg3fi8VAtf869A+Vk
            Jh59dfYVkuuE2WWU2x9hdndkXafIus4i62pS6LZrtm/rUFaeUdjb/Zpc2rxV
            f12vTImXcgGwo0nReb1cO1zFJDXzc4yv54zW3lBfUTkEGijo8Zsi+orUdOKC
            UkBJBVpNtllcUd+Y76Dly9QHpSe9ox8KxVCMZiu7hHSbcWAgKAPejRbp1qKk
            Hru39mRzj1y8TktbWu+1LNbnjpmQmZvNmeeebP3as068BJ6S7QISWqk7iMMp
            6NFwZFpfP2+Qkp0+m/c79PDoFuQUmJfRBktYlgPBTEp3BMH8/rhyIHSlgnSK
            2Hh/lN8dEgb+KF/uXf6O4dUXr5P6/V3LlaA2gv8ecKHy6N5l9nd8+y4Dvuk9
            1or2m1TobTQpC3GkVwDCyDSxTTSmf/bYP8bqx3ffZS3LxbN+mumTpah59cPd
            P+qg76KOrc61I7KHHi1Ldthhf62y/65MCeNnZQBuK787eP1YDN9/lC/vSZ5D
            k+wSiduguNX09OrH0pOhcehuchU5OrkrWwpIPY87MjuPG0DK3L8Vhpu6yr6C
            TGI7QxThcDkz4+VSP5wQ5mjfwbudSGBPwQE9xsnELwaPIEO75o7w7jVxlv4L
            fTsgt/BkyV30DVkm8WkrXXzSFcwhK1uSjpf3tPOK38aI9eUe/eQsAo3Odpzk
            OOluy1zdmXjYMsOpIN3u3CMjWZHLTE76w/Uw0W6aXmrNnE2JoxLdGRRr+qNc
            p/vizuqOvvuPCOl5X48mM5ZcLewwDzIjiZTDJ6QdLoX+XvI4JoOtPGh1g1rw
            MkyafqQNl0V24u4m36bg20ejSteQFRmkDVxXX1WMMr/SjGlWdPO8ZGdQnHIC
            yXGeOWOPBranOPHX5BPYSttecUGOt8WcnClJiJIHjmDS6OFl6M6YKo3MfDGz
            LxAmovqwGbo5PiuoWdoqA5FLtGoY20pe4gNMDl0g3kEQMDvZGhoMI0+XvWj3
            6K9ykzHNOjv3+Id+bAya3XrYNlny+rXIUrEBWSiiFIg+lxLeLTsZGGFX4oos
            MylmllESSfD/+75XSZ2vHbyVsaf3O2fPmqSHkWCI+Js8GE8F0M2U00M+iv6m
            xLWs12n/JtxpZZUtEX0h6LUyYhZkF2E8c4wKS8m+TIpWmFSnYENSNsj8h/y+
            tW1McEpnYXjC6/49aIpCUVQ7mbnoHauYBwCktjizbRG/CiqjlNHmCu5QbQfR
            3gIIkMktXx2R0dZi3LNiwkkAhDR2G640pesKNtmcGLaTsqjARcqE94X3HNzO
            nvFZtl9P47U6y5Ix73UlIOWU6TMDNNZGSPIVYpBZsuqYzGXGJlwETnRa5kJP
            PX3i1FxMDM84AEYSxx5TIU5iDIhonuFVgt+SQldQcoVAb0q7aUYtua/x8zsx
            yOOOajwFWK7X6xt0AEgJBMHPOqAWcKzoTqJvOtVzJdHG+jHrGzolECbftPB8
            LY4rKwX5ZmLQ9FaWyIRx/2WlQzGND8lgNQY0AGhCCEYiM2vXV7nLyjHwg+hb
            qqAZPbSeE0IBlZvgdV6n4OzmnydAlomX8ShUktsOvV7fY2IcLigoxEbFl+Sm
            xF+of04dd/30Cq2/uCnfp8O7E06Zp1Wx+mjTrffher0DTDvPZLhIVcqlrCeD
            fMw1cbDGUbeXVs11MdD4g5CFfj4HhBYaSDQ6CwHvlJ1jG+C3bJxzK44ZDSE6
            47KYi/pxTY+1bzPWnbynphNvWdIRnCdTKVSLvDeu897Ki6fZOcr4W4ZY/J1/
            /32YsucERtoR/Z7dr7Uz497blZ7IWMLcZk67chzDZLgt8U1Mj6TQjJiYrFM4
            IhjXZeEtL4sNQNtkkeYWFjM60x+1a27T2etnIg3mWtsJK0gsKaYBqHOaSynA
            REpveaPiz+2UmAwiqPeMqbYD9AUdDqCHKSpPvN5RU9+PnJLwEalb7+vV+LYd
            cGPJE7+nfLMzizR5ViwbfYQKNO5u5V5LMjK8tMuBiyhJpgXmiXbB8CHMu/bZ
            YXmP7QARbJ+OwiswjnWZVRENtfMs0kUTg9xfhMcUBUSJcrnzGIfT5nhAKSrg
            nnL6WIgTbDaSiAwFUOSdxR1bFoOIn0yIdFu8XlQZd3pO74i2csV0ymuH80KT
            c/qcSHfT5AgM6nIo7ykVj5IaGAWq6L+PSBhSeJM2XqD52H5cluDj9c1KGaYt
            zkOM39klDy4g0BaAFni1dw6AWTFpv2YrDGhITTUjbDETQHUvUnLJzinTZwZ8
            0Vfne//ufG//uPPlR+e9e3degSroEJxBhradLIIMmPfruey00PGV0XstT6kb
            fofbH9GBisqjOEYgxrOWx7S4mnx+01GMKQv0jFvScmDL0PBSwjS7Z1kcw642
            GQDyg5zGbp1V+ibl+anMbXdCqCQ6NgMH9gTqHP3j9yifbYEOhbIInYxEwTw8
            OxVlNJU/GmM4L2p+HdXLDHuFyWvR7IYNqiyuLN3gLS5Me0UClDhdR55Gehju
            XxPCMmel8M4kC0wGZEsFSFVTs1BpS3xc8vhdirOyzF+xFk28wOSgTs42Zo3g
            c9+N3GW2xlNP+JFKJVpQvRP5OS4syM37JHwl33TqUIKh0PsgdPmsMOozQyFv
            IkEgWDZxEmVRvb6ULDZZMKH5KHksvfaY09ulabgW5HhPPS7iNZAm8ZWcEHyX
            ylv/BVmwmro+ZkMQxR0oFeoGG6M+INW2YNFpkEDKFruTIQ2BZJt0NBqIUzov
            wnjpT3YZ7K4mT7np3Kkn0X1dO7EdnzHSbuwKikDmpJUpMtWV62tCC93CDWSF
            wRw2hMmA195OJwOshSavZ0O+wSQCdCc8YOQTbBQibfSF4WbVd8ai+VgserhK
            MxutfudmYfy2ZTouLgzj6dA07PA2jMPT9pjYzu1W/QJV5PkS6Kbk2+rLfZZd
            +a9l414cL5FWxGndSI5R+xTfRVrDoY4/lyEvpQd47Wbz958Kn9PofCuNNwfo
            pkhcMmkHZ8gW+hVkduMg7ViQ0owX2R4550p67S3g6ysgq/gngATFkrYI1NXj
            xJ1J9RvRXs3eUQt6TtxAPcWnSAynUodCCW9C46S4PMlgATqkn+k7YQWTylhE
            Q0sKq8xpsoXYhMpthMnc/XLz5YZZTtwDi1QIgi69RGCaXxKMzfRbXfJAizLM
            7QO6ci/OEs4pdBYNcathQeSq0VYZal5W8cpnREAK2JXqJruJF5ycag2ZU/8v
            9/ZkUfeOmnaDPkLppmdTntJGXVXlJnCkpgDfW7nNOILcBS2wxceQnF5SezsR
            G7T9ogZT5naSWAvEvhx+t8qdfRpTNgmyIJWuI3xIEhhNJPlnG6A/QugkNP0x
            TIklz60UZFiTizbTY51Mv69IhjuiVRJfclJDSzWd8u4HNtj4JKTaThb7ouyS
            bTCFKd04J/RNypXLZEhM8vBFTcVvaiqTX0nMFGv8RjCq7pa5qWvVYrmEl0qa
            HtOvMCgnv/UtUfvWYXhaxSdRaozRxg4r4B4XUSkvwXDKNqFRnvGK1iT9rFn1
            552imY6yh6ydn4OPFqVKoEpcpiX3I+yOChJhprkDvMbaNs1yQaHO5lCi1fic
            TrI3SDBLPJv8npenGxXJ38CtDHhZJbPMljSDpiHkr6IZv2cu9NU05/cmityp
            v72pSWLQdtbCozx3fdHpEovnHSbrSD0ITxmH0vd2EBsDkXGx1n2XLzIcdZ/r
            PVkysLts4VOx+1sh8Q3EaQMN2hWD2uOxz4aEdxAFBWXQJKynH6PwNf/6zTHX
            C19Qydr375HfmUxoC9dkxZEFaulO8sI76Q0i3U6RTGIG4HG9iIcXfnrjCgus
            Om6L1mPgbsQT6gy9L2/+8b761izvfD+XgdtzEg+1lsKOycvgKmaQvfO1FcrV
            iGExh1RHxxP0TRMB3pkBSmx3isE2wR0TDlwWZ1myJyWV525jXJhWZTTyHSyP
            DLB8vLYjk5NUfDoLVvcoUF2XS4YJG+sOXteVj+BWXufHU0ASTjA9nlDjhZsZ
            9e1wmIoJatSjryHNutJkviv8jooT3UH71YU3UnPc2/GYLmD9Uz/0WztgIcJv
            7QCD/LEdLUaIzyviSRsXw9PUvhdH/rz0qX+IdiJjozgmruTkJvKnAWhrKNDP
            Q/r5/GY5mm+BdGyLqluaikRQo0O4Q/piCvmw+l4EACNg0Go/EDk2Gh82aR3o
            dkiaMS1G9m0sB5LCM/4MSLVFm675+bwR6SmmWhXLLhcYTHJLTCgUL/pwYuZG
            22mbH3PupU8CLU9v5vG8innOMfnQ9dG3h4b8FB10bSgazqGe7ulU8jgL2c/y
            d3C6gk9x+oZN8AhlaBNlZ2kELgUrwz0F7oo75x9ZDvFE09Rre9xZrrirWnI9
            WxzF/KQxIh8ypBUhIm2nCgHMVORAWkHvgAs0tU2LFAUn4DR414/3/eP97RQU
            6Koz2PUOfWpRFcRbvnQgPBI1FpXZAS/FMbia9GqRiX5cWYEe1YuMnQe+qww4
            R9vniwZfQV5rLMNYCVUUEPVBjUiQfaFNIPUqbAPNHu/ncby/+cyYZlrRiSzP
            /Y5aDGzQSZwKxrkxFBvL3cEM6+v+TZTx8n9l5BERULaYKCNvbCwwjv0KlLte
            irjVm+zATTF5tztatibCnMS9Z4uj1BbS7jFNFqmjshVk5KSYpA5Lho7dKyup
            nddzUEOgrc36kYF3dLVA1jM5y6SbL4l92ElXtqcXI09vzv6S9k/2Y4zQoRNW
            7uWOUm6N92AUiri11k3xR4s8RvPIjIQbpZ72puLe/Y598URqQkl1nn7TeLB6
            iwPHVJCZyeyact4nt8cS9ljKiEuKM7wBAQBK1kl0AjAY3ShdLo8YI7XloBXA
            Pyok/mAgUMAbWadhqxUtsiLsAnd1Wzg8b3oO8M3YCu5eIV4xOdplMFmLxfiM
            QsQUDVC0jX3eyA/83aSfnXHfzIRbGH5IncUAnE5MKyejUlWMeSeDeK/Ymp6G
            d7YAvXPHD6qC78B0Zn1bXCYa7bzvPxe6Xw+40aj49Jj8RWGlJj9icboWh4Hj
            9eznhmD8G1mOEtQCLdNC83zHvs/w9hY9UMYf3vpCpRpPMkOteFrzB6UisxNE
            c4+2KttljHUnFchdzrd5SqSKB1cUqPe+tdnXux/MK/w+bQC+QAy2OM0pahR5
            ldLIL/O4MnGRXLIfP5/w3sHBv3cw5RU4zy9DdSE3AA0PYFg7qe0wZXTYaNBo
            /ilTghBfk2NcT5HHFtA0kNEzHCezq/Q46ZlovYHf5E4PTKf6iIYeNjiQpvPm
            V00rewkBD502Djhu3OGeNRKjg5qfUZ795cHW9/PRmetOuRmyAqIWBaRIxMeE
            vgrIGikzIeAHXmnWPr/J0D9yZ8csaL4UaPzECcXY7kjtqvf3kgoCH/a6pzE9
            GUzwbRz82ZhtM6HmWvLxUidjf1SJvIuoNxcVy/NmSDJMXAzbglFUUNuWi4Tu
            20csbxH/+FRPn9NFNcaPE9ZOp8fFsPj2mwPmfM5C44ubYbk6XRaZawcIAzPc
            F67JyjM/jXT+Why8M+1lN97kmVQYSo9y+R3FSZssPSvuhcTKKI8oKJz1Arnt
            DXLvneSIntSjmyOW9F8XSPFK03x5Jixuljsb3noYW55uih/t85t/aT+sd5um
            bMNgyecoICiTrS9gUeOgk5HGr4XCLuiuftxnhkb8uPcEKzYpZA85cCDKuTul
            o13BpbT2Os41USbH92XDYEb5JDhgzFG01c1UaCoBBTl1pmeuJcx+vBMeBYkC
            cJNJBYcS+kr8xixCpPI2S0GMo3yC+B3wkD2ZSljMNd+P8fG+PIo5wAzAwDI3
            ncRobM6U4YOR18kv3LPWfFdF2FNET2+24qAdM501iLtBmAXapQW6lS9XSHaH
            GHCNdERD250nTRGrOmkh4pwO2sUWRxbK2uu0xfhYXRf/urry9W8GTsKSm70l
            6HYdkNi0fy6RrI0MjCV1A31fmAOe7nHc2SAdhxLwOUqy+5YnbbeMW8JXtJ/8
            5+7nMeVCxYCFWtKm0vxngxrQ1zTvAP3jnPqryBp8TmXXAW8CP+6hMYiehY3D
            BhaNDPdnOYDYlikPjes64H2bZi0eKvptHnCstMxhMcem1wlsTaAU8zFtXLbx
            Ctr8ufHmiURPpez93nx+EwRT0sp553OkBNu7jLMSjfU+P4hFGwUHVpO2n3Wc
            jkxz0x15jzH9S4zT/Bos3866TAFQKAyLil6BjgTB7gAeIG4RUroZxtHwBXc0
            27+9BhCZPoaCzKs9zRIhkd5iHIUVcvoxWTg9uZpHnDLsmTVO5LdA4VFTquDc
            tOxR3mm3mEt0apPKHdAWLskKdS/mfrYuWzgRNUzG1Cy5EQOxxg0xQH2MBGwY
            qbr48a4zwu5VXh4W+J14L6FvMtuKvElp2Soz1SIZCmYqNM+Xkj6j98lElWY8
            TRM4iEpiIaUXOCltTjKH4AfA99zOkm/fjA36KOufbybKHwVMXnkULnjGjtOn
            xHsAQZOCRXPEoshfmeKn9Lzgk8iqfuiHLiZ1Zp43C4raRhZR4R5LRicLl30/
            r3Ki4krv5D5EMx0bg5ReB9w7IhxJsqs8thVpeU+gIonsgOEX30/iqS2N1s7a
            6oNh0o1h7aZBgA1clRjSXwanURYeMvuKFh8yUFN5vuu6fbftk7OmwkrRhdAS
            MhzZUZRVylu0r6jXyiVAnwdPO0JZKnoZicko1qmdLZZp+2N8v0xrKAFgl0SL
            nmjPovKMjvOmFTRpgecj+tQ0ub0q4M8hOBqZlfx2nTgEyLVF+IB76zOLCaBu
            NtWAETDjsqAUIAryJ0GjxIPX2yZivPK8Dc/xt8eiLxwP6YZRc65kv75tBcpj
            YY1pT0P1ujJwXlTmbptzElrhfuWFyFuL+xi4BrfDHDZlUCLkzJA9WmCaQtic
            GbG2kgvmApzYNvyoZGG9MAyiC9teLLAhggGlQuUm9W5Y4iAmH2IKIpwrbMLC
            EPP5wm57qSSAsNzZLc12YT0b5KXAysQbb6UUQ4czVMtRzjnqGpvZtVFoKdJW
            bvq4AjdScSgrGaZ3aaKQLIlfNtcN0zy+ta9yS2cu0iqxF6XNpsPSrt16qbT8
            7cpwxHEKwGTv72UCWCP/h9pqNX8rDSmtjubaSQIkgRliXPHLwtQExXmgaRWe
            7UiFdGwUYKsvZ6ltCL5TPb6cVCnAjPQtmsNZtotqkYN3ViqW4y64TZxOEY1s
            sOlxRDiqvAK73bmltSCbx5fyalvVuOtY89hOX5f5C50TdHY8I1ypPJ1cLUVy
            PUGKot/px2gkuX9Xc6gymzpnixi3j5AZU9pvqqqvHTF4MgS/EUOJ7bALeKYo
            WlNyVWW9p70RbTACLYhe2d7p/bZdPJjIaTGnwslmshTUvFFuJRuqaDERCIiG
            MaFJRp5ytbuVg73K/yWZ/oO8xfV4s5Hz2r0WAzygbNhqBKoV6N+/zA5YkmWK
            bC6JWXSke317LXwuuIwirtJONkIh3+vtjMuT1d0YnSRPkjq4mfszvX4sfwFO
            TdPvFXAa6TKvVChqh8CqMz7AZX7/b/E+cB/J5zj6C5cx80cSuH1NYH8SMzgv
            iQ8lBMYCbek5T+CojyY3/vIuYiGOxF6ewcqnYwtBQuuzrGJbS/oJYgjP77M4
            906uyEJlmo8MSV4AxZfyKJAAr9vG4KYw0Abi2tNBmtCloZ2ULucYC0tFniTT
            /+soz0068ghXS7u1jcTdp19Oj6OdBUwWJeNdz/25XstW7zXhU7Rwvo53wEmV
            maQO4ZG9ZzPVeNj93+ZS8j64ebApJcHKH/CHTelcZhjlu7wyc23VxMsJ6geu
            /hNOjhbH7S+4vBi1lpTukDF5/4S4B6iP3xD31b4R9z+DRHVyaKo7zU+zSgqh
            UCy0un/7At2ifMya09EjQVy7xbheWJBs77hByjA+5WeuH/kNuVElzKZ2nYvm
            CjNdaV24cXbW3reT2EfyCuUMpauJcmVYToXTJ373biaaUUQUL8sa+4ZOh890
            OXRTMcNkrTSZoLsuukUmWS1Nq+Oi+UZJ045zyrAwxcJIJsUuPi+V73mTeSx4
            UmXFH9mlDrXxKHCd5ZthbOaR3gNn1EBQ1O6V+ioz1sFOCpHeGXOv423AjITN
            snEwFs7OKsWwyUHmTm47MSmRZLt7eZiijiqCzLDigRmgkmWfUlZ1GUOerCVM
            kRABo3CoFHmRihL54NDak5MFQmAnWp1AHsH6zYB4lR6DgclycaqSSGUmKM0M
            cNTXjk7PK7XtjPsYTBmonG/V8tmFOdq7L7LhkdEL6PfONud6OqMVmsqcaWZs
            cRSIgAVSFeiw7EkM8INCmOZRdzAfs0KRc1EE2PFPNpDCkFfDjCzEb5iZisyn
            7L7t+2T8S/b7HviqUeN4M62KmeG+Ts7CRMztecZQHls5lYOpty9F/MDgp0I8
            ji+jQ4K3MsbJJU2HdKVHzKaRZQAv3UczE6bfVhjmz+n2ZhFhQtV2NG/otr2n
            2T8/4sxgcUl90uGWUaWY5YN2FIE2B2knSqf5cWGuoSIcTrultiPLKxMjCjG7
            vCLCM3u9p02bZbjfacGSrArNcS5biJN9SiLVxErNbs9UDgQCI/mZXMtSKxbq
            UQ552yhuB46u9g5Ma1dIiv1xBZnk8yBnXHc689v3zVNlLJpDTQXKsj7Mfc93
            kYPtO+HSZQFZ2/WiOC0Iw8lv6iz/M/t3NoNynZOAm+ZIO7ZOn0HAvIXX1PNj
            AI69nJUENtj9TQ7SksJurfil+j7t0BvL7sO+j/u+7fb+9G+2vTjrt7eDfjPX
            v/zPM6r+EA/yD+tPBj9173tyYp/vabKXzS9os4i73o7790o4MV8Nfnd/GlP5
            s/5HB+z96/s/xjHly/sawl/eR3t/nv983wIdxdmPob9IO4EQX6XuauM7a/qj
            +hX24iQyTpT8crKGOSH+ZbLynsx5pd/f/01n8PMOCuzt6u/t22Sl9Ptgw/7+
            bUGd/lJ/TWv/cfXX9wDu+R/172wW737fLH/37+82W63/+P3c83OWa5jDbsq2
            g+LXx4BJnt3YeRH/lcFyCdTu+n2y3d5515923jk5f9i5/fqb9/Fv3te/ef83
            3w9/sxnPYrn2H1vsbNY3icGx/pWVr//Myv+XLfbzH1vs/+rJBHWv/r/AaggM
            VfG6vvo5rB8/y9/BEtC+Nufai/PZi1O5PUBhaLQnu659zQ+mYcg7TGGMRwuN
            zyPtE6hj3te8r6XYtTq7+mL1wSra9bH64CZ0nbv9n52ntyPv8X3/+fz0l83L
            WXnY1e/7uPZzwDtrN0pA0Pf71c7V2onJ3lNt9TkPvoAQSH9dlFJc+pwH8gif
            /Xv1/0z8X9qwgPguftfbWd1THfUXxPkHRCqLA6V63Ff66f7SmaooeIqsrmsP
            dp37erd9P+5FF3RbaoIzkzr/v6aO/t0Ioq3PET3w3546+ncjiHZu6iRt/H93
            6ujfjSC6NkFAOcV/e+ro340guvJeHPrn/Henjv7dCKJuDrtp9ut/qKN/N4Jo
            56ZOKyvGpz1c++VT7eoic3ErPYGuceveaZcuZNNzvLOFHGBCj+hTDyEGpQWg
            bxrXse5MXUSo8jIQnOyfg/maQ7cpg6aQtv0vxMUv/87Ju5di81uciaDviWoa
            we41leFzsu3eMVURg1umoE0TmClQkdS+y8tamgnPw62QyyWt+cWfUHr3SRLT
            bJiLs25pMRYzZnJRlXcA17LrJ5mgXmFM5QN3++TcCoDRVvr8yCrha2dNxqEf
            pCbseU9W/mlLSZzdmuW3j9xh5s92cby/2l0lht923nzm/Gz3prT3cxLafD7v
            Pc0QdGLXZYOO/huMLQX3voKVy8nKrfgfIZj/6//VrQm9TxKR//n37/Pv3kzo
            M/9nLv7t/jlKpZMipP//1/lJuy7GM9q6t80xM6VQaC+6z8tE+SoM+3dG/Tz/
            +3/9X+LnGsw= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
