<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0b05.17b5</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0b05.17b5</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0b05_17b5</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth Module</string>
        <key>FirmwareKey</key>
        <string>0b05_17b5_v5564</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>6069</integer>
        <key>idVendor</key>
        <integer>2821</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0b05_17b5_v5564</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10x2dgh+wnm8L2ATkQLv
            kws/4xH2bOy3qTye8bL+uYIdv/zv+7nJP9vS3Ab/49Ck8qbP56T6xGCXhuco
            yx81Z8jt6Rj1M22JRnsnM/v9erg/U1wH73Guo5SLb3vMmu9qb9j76DmWmVJO
            5eHrpBVtLnmv/DRcMevDGQ6Vo1yYqScdEfc6aj0SB8ux3eGIfAOsQOJsLvzh
            jjiGUZaEY3jyin4evuf7SBnPWeW5jQRC1ItfFdOIE/PECclutG4cGyQNHOMg
            itYtdvwt8Ty87sLx88ExXJtOPzb04rHjZVIDeUSRQz/a1/+q/6/4/yLWJoNg
            8rOO26ia4yq3rWI6vo4/XPrDpv3ALvg+Xu383n/eZ1NDXD+P52H3acev80+j
            svZrPPE28rk6fn8drzEMI71f5x9GQuvXeFLvRef/Gk9YS1S+1td7aaBG/OXX
            +ZvG46/nhiEyxiE7bvvx89/i8cdIIIpuvwftNx25P7xusxjfKc/on+N+P32O
            Zcf3FaJn/G/vsff8ZGe1r+P6W7HzE/eojh8/NjT3nz3pOWy59Vo9ZTv/2Of7
            u4blx4+vZxes1fp5/9Be/hPsvfw+ZT++neIbGayp/yaIZGz318LENW/j3L+O
            z7mMa/w8PqPNevh1/3BFf5dfC3+F8reF76VrtuKv+/cURBDxx/17MhJIYbyS
            hgv5i7rTnXV8JbAjsIw6Qg6jdbx6jliuiv1zPA0MutU8wY17HMfZbnBcsTdd
            /NT74RSPB+dfQfuLUwo2Vc+QyULwOaNkmhaC4oLPvzDk8+m4Mh/tIVMAu7s7
            3v2/+3sywdTjVUWM5A6QihGMscx6t6s7tfzbf1i2J4B7H/OBsDz+8T8/L/67
            87j+/+q88i/PO//ledcxz24kkIMm/j9dlEUQ2M2xnf+Lx8Z/d8yW73n+d5cv
            Hv9u+XL6l8tX/+Xy1X+3fP/iudd/9x75Xc2vGf7jWHJBUIxZ/ruL/v2xXqXg
            5ZCk33RbZv7y3WkMF2rgCpD31ANAjDGCFbzfoFvkE9zixJ4/IftP/OWEuDjB
            gc6Gf+AVJ2T5OfGP50KdOKEfnzf+PUem7gP1MEMZytBt8sL10GcyFKu8cD2k
            boakzgvXL1y/cP3C9dCBMnhYBk/N4FmZevGF6y9cf+F6EGa+cP3VocAtyZBs
            bF78Tb/u9f0r5XjpVw+XyZgg1a9D34SeLeYMphilFh4nlC+w/udpkK3QAM/V
            bjDaA6vVg3HQDlU8HGK1Mzw3ted82/W8brbn6elpLT3DdxMFRzyP69R10DPj
            XaqRQOXlzyU2D8HNm8SOAeCh8Xxufi8PVw7qBcRmGmGlGK4+MMAG3bibLt3z
            7YIei3Cc5QdRdsnb3Lud06ECz/hIG7+o2g5XKOJD5fLyay5pP7maendBlCSM
            95YEtukNZ+YL10HxgYmKMFqeZ/n1HEMt3XYfr78rnlmlz849WaNqki9bqnWn
            05fqkS7YTQujdMTdLxk/VFdwziw1g2GkcJXEJdtvAMWydc6M7oiV2HcsptB0
            kUsHjT4Zi4fxzJU/i7fH0xPPH2dusuwqFrtdzxVx/hntfCxpjqF2qLSYXwhg
            GAvVf4O0cZ+wBgjhuajznUvngBYfGpY4Hl0QNKo9eL3Jg5jBvajYjr6QGOci
            cfxYVJ1zrpxNbTn+dk7lwi+Qk8ytUmhhPaNw4bu9RCOxVEwfzgqF0xhP0Bdo
            cVLTw2yBBC/8LvY78veALjTjCJQHndeBVnDvNR+ZK4HXJ77pRdU2hwhR10HA
            jcsJ+4fnNjv3qFeIMaxIwsaEzfm0dJKgounImH2M8Qrcdf197wsqsWmM0lri
            +ReCvys5RKZhhsWb3ME02fMPgm8fgh/SmchpNHUgkBvjwPasGXzxa2Nig99t
            iCvw/aU9g8Lrvi4FXEf3wG3X8dx181w+NID9XNNsgtiMBIxF1z8XkFSL+ckl
            7n0Qi+2iFu3mepHwwBDYu+jKuTjNUxUEb4C1ShqGOri4P+mkqMZrxskpLON+
            Qh8BNLnE6BolXs2P7T5Q2M290rX76vf0PZ/p4zUlradsHnNnvTJv0L6vSe81
            kUOvKz9VjJHkiWmS9Zr9mkLpA+FTIBlKG3ngnRatv1DJnMMouYNkRuOLZagx
            sE26NrrZPDYuEF5bex9Pmnr428w/x/UhBZJT6BeFm5m25Jc3N0dYIGHpHyYo
            oOQb5xl414k9HkDSicIL98A2AK20Al6rTwoEcTYYi+txXpycC3S6h0D24ZFX
            pUR/EJgsJhPsgb6DUw+DqdFBz+1uvI7SJcw7z6g9Prkkz6RAqfsehw+KA21c
            VPyO2KPYYxP3xkJf/EyTE6MJw4Pq1ISBcT/TFv/s+35/LGSSJZ1b3NfAojml
            4JIdihjPnGQggiPIB/LQ8QICOdeA4KjhFRxNRtjC80kUJNpohHTmfG5GfV3U
            YfbztQfu0qED+fOzE+/t1xz8G11Myxk6zunrmVVcCOoK77t54UPGndxg9rk7
            2yjcqBDLEZoJhAG0EO5z8k68GbQmCOfrAA89KdgwZ02uIugiuH7zt1WxluO5
            U6r9To2CI2XXBcZDacSDoHNwEns4VSGcHGn2kj3QNUUHAj5jlnWIrUsNRsw1
            nh0SBxROMuCOuLEssrEhKXxHFDnj+pSrB9IbfzNJOLJNhBZn+o7QgoB5ryDj
            DqoNvVmL9xrzc34qOH+BiPpWlWJ81mnPwA66XFWCVFubmeo6GJLYvS1e3B0k
            DOieGbzVF+m8IfelxmVT4yBX7g4JCqJJ9zN5nxg+8p/HC72G2mkxj1XvfS+M
            4wlyPvm9HtvFLzE+RowQxN2JkeMp4d2tGA/nKtNkt3twI+amnc15wp4rafNq
            cEBxmod+QCdcbNBnb5wh/+1M9HcaCcwnbMMpcDp4yzYxeL4CVJvjvrGvyODA
            Lo0/DHoaVpqutQaac3RuQmTiN35SkW1n3vtL89QTNXI6Jg9qeGH9KT8j9AQI
            kijdhA4gEwCrSX6CwCSnodi1XN7Xn5XM3scKQ0BkcpBFOZng7U+N596CJp6t
            l6xrAg2HRy6tkP05ODdBneuQu3ycX4M9V9q+5qg2trA+19TDrslRpMBrLhgg
            fV9Tpy1N/HoO7vPwmjnesd3UgPcc4J+ek/NnDqDU3pyD8SGBJ+V5bwsh3Sbe
            QdLZlUYjg8YH7u2VKGWcC5w3ffW3+d3pzZFCiFf+DPSCJl5NW903CGefr4QL
            1Sb+7vZQKi24T6eCKb+WXROh3p17sdJjz4FEeBcrO/Hc431OAhsZ+xroInq5
            8LXAGBd9te063+dgj5kblwL/OY2Zh/0cHMP7dDJUcIzHeEAq5zIzi9s4Yuzm
            9W/V923ZZtpFJvycV2oY11k7zbWruc9OkjzVtE4TDND6MbhlO94X5PlIcs6T
            tBYTkIf4QX4YqDl/fH83SWoz17QFFRm79vvMz56PG4IA79CuWwRCZo73//CT
            211/F9SgNYwE1t086vLFoGbHImAQZDjY2t0YXBp13X1rnpD8JxncvQeA65Mz
            2hns+oTXp0aa07tAUGZAXJygRwxXOzB97wxcCwJq69JzC2MPkNDnfnHcb8q0
            i59FhXJoGoI9A8b9fe1xxmnmZ+yf86H5DGnVWUTAhQMLgyAIxrTwziPIrWDj
            4ruJAEg0W0o/MrMObi4849FvSOic6sljlzSZhpslTFEWSWFT8J0ZXwrgBq7h
            gMC6ERRUZX6CU/jvaL/D7b8v+51TxmTb9+TnUsNa3N6M8fAcxj9OaRUnZVB8
            7Lz8npPdQXzdXA4yrRkg/al6FCow0ALShE586vhxgrJoGZ+UWucz+AmKW/pN
            ln1FnAbNABMMCTvxfY6jvmrNGLqOwU2y2YWX7Pg3A+3YoJee1U3LRWeyRSFA
            kwH3GSIyaIUKbWKl5R8QG7m5rlOLG7IdH9l+g2AZgKIGot8dBqQ4z9mkjyf/
            DMUWA3ZmM3Zrn8WjEiODvm6LHsiH6c/Ph0Js0JHwgJtDicv0/c5XAac9o55n
            lsrR/TMsG3fI9tk9GnP4c4Lff4eWVrb7rmWflz9ndf+d96ft8HP5/FwWRFr+
            G0qhRBFt5pIb+IuRwH1dvNhOwuvqJKhzuqkvEOxyWyzGLfUdxHJIVfTv9snZ
            lTr43w2SzkM6KOUV9N0BdjVogEImV4sunAW7R7Z8T43GDmhX+ycxADkDLCfa
            HngunRhU+aJ952f/p99xyQc5eO1JmQqVEPfq+LeoKeFzrGCfePfIT8i6wOf1
            ZJ8Ln0FcRzodFuVUEBz2DYjpPv7UczL2KL2YhxyPrZsYZPj5Fbf5o7L5NXjR
            qkhmCVKfTxPRPexrwM2feb/illHdVHJRBgEMQupx2h/Q2nUNeBmsW3ocoOfE
            5fkCz6X95myUN4EiOYsGC312XmDpvMltN9G2oO6azuOnZZ7LTd8Nr6MvzZWs
            O39d98Og0zXg73QB27NGNbmNXRX/wQgEE8jtWuvYk1mjsezJHaSJiSldjMKD
            1YGAYA328XwZWocZpdDPmTpQwU0vt1l47w4Ost7xULFa2iC696vH4/3J/cr9
            GpS8dsz1ufbya+vq+W/XhvdacpI801phv1M+8E70VR7+3AEhhffCUyCIUhrY
            URhVKhfuguMndK5TCqrm9BwcT2Lg/LFgsbIJenmJLdp6Z8sXCLjVG5U55VRf
            TW4eBg9osXPoYIVmDeQRJPNdObqTPGlm7VMWFicMfq8R4hCD69tYglnbP5ME
            ZUAOV2iJpnRBHG8Lg5P01Gfqs1iKhu+4W1p4Plxk/OHQamZptbnfYbplsXI3
            d0xWFKhVPX/rD3g9J2BeM3yXgoW2d8fN37u0hLqmdn+GjlKdgNPqY1+TJwOu
            7zWFexNElvY1EK1LzrbV177mlhG5OQyMvTU9NwJTfT0/w/4ioJJJutsoDFCM
            SUA92j2xPqfWh7G23iS46MS+eyxGAmFRyp01Vnm3FWmWJlnAhpctGP3ZzVj4
            qN0t7CZqhpb5vBQetlKmwddFdYCTKv9R7X+6mItpuHTl3DE9JaVfC8pz+kXX
            D8VFkKkoF9bZbRxy++QxXisbWgcsj1jBHo++Ta2Cg9DBnEPBynY23K83VvA8
            90+uVuZNDvHhasM41Dj+wUfJBT6p9UhxxTVKH+EC5/Equ2d015Kdv2q/7fwp
            99ml8+fn/PWezxSQcs38Of8G+6cnG7LnVVr35lzVFdQZI60PuvmOc7v0yn33
            UU/TBUJUVou/aEnPTXE/ot10u1IwmaC3dku7DPQGy0Qc/DzrjkZp4vCk29IU
            MMjmJmaBWP1+qVakRF5GbPWoMPS//OlSrsqya+rRLvqaK924j4JTz1wgvmOb
            jpDL2VMjoDfOYc+s8/PMm8+seKzM2si7Qqls9yYszNpk6lyLdg1UosJ3D0Fx
            BG0pucuYG9bFxq9Kl1T8zRlqumm9uCwezoYhC182DAK0Xa5r6KersOChG5F1
            JxHO4HaBACtbJ6I3oeN5CnyYIzhRbYNZBNaFHQ4reNAnw7nDLoeR1mASX7RQ
            AoNz18c6CHwP7M6As4wEYHkre45KnWv/9unmBAkQF+fhvxOjsZK5kKkp8IFZ
            CnwMg9yI2j0okS+ZKZOkD5jyPlcxVjktP8c4QS0gWTlqcLt1pF9h9V44SfWk
            P4n+AUxSzc/IclbZJCkyef32bUbRyFE8cJRlKuA9/T2gHIsGej5Dl0nFTMsw
            6ABfTx9LzqRF6t0mF86TwnsyXU5axdJ7Pf5++z1NN6jQNc4h5/kljkFzB1fa
            mF/fIv0WFTeiyJvbk1/7SQ7Ea0nbt3E+vGLZEUKJBSqfjACSlyR61mWluZ+0
            YsWyMqJGkW7SpdP1ITFF8/2yMFEglwfdgYLCM+sUhT9+kznX5yZr2E1ytJso
            cjVkE+u61HQdX/6EZX7ukKgcALKx7Tqd4opRA7WW/sa0udigyHJup3CjLtI1
            cA8Rgdyj7cYboooLeyeGCo07gYpO/C50GmN3Tx/PVY7Ztg6iCNyizDc5z8kQ
            p6C3jTQf5Ox+fFffpfu1Ym4m78uXjoBVks6icI3YNb05Sem0dMbAtLvJrmG+
            vyHu5KJT0T6GuRkpGc9JPwwYizt1cOsF4iYhUG84nTvWz3088w6c4JTnZNJ0
            vzd3BFOgOeyEpCxFcsc9DrybkUBhTMooilSUREVUDFtcsPr3AB6GX0jFh93g
            5RKNoVkfDJ1IYlOMW10aECb85Key7l7tGfTCBBC/d3Lt+XkHF1M8W1FoCjuS
            159r6ygNzM1yc8kRODI3Z8+tVOq6husYBoKMJwulBmhE1qBhnefenfcFtsyd
            e/v1ARSme9DDaPcqJ+em6n6dbl7sYX7X+9o9KzjQy6X6hV3L2al2T+lK2NdH
            MJ0lnB6mYp4AXonjqyAAfra05XVrY51rj5OeKYro5OMMCvNfmvc83MPIOY9y
            N2usl4essHEpSq5lceHga9AzYwQ5hUpJk455bmopmHQuyL18UoovME3Bci4S
            yrj3LmlQtMAWfaDrMKUp4PW+lSYtBlhhsYjbRZcW2Am1ae4qaCAaqfmsozJL
            GD7LS/8782XmPz5/fr/tuxyEEOe0kCItQsZVk6WnYj604TA80brSDRkm65IK
            5mX2cKnC+ti4D4ac6f4oUJZlaecz0uFWskJtEMHV7E79prNOkpTSUJFJSTM8
            I/DvjVlQkCZhwV5N+fBrmAUV/Hv4fOd5If7jeV3nRj+XkhPf9t8hzPy6ZvcJ
            eOBjf8Pn+eOen+8380J/PUfv+bfx8Xs9a+OnwpstXLBnMsYBcQ5jAt/H0Lio
            pdGdldOdzysx94cWu49diUvPgCLC+8FkYL3DNNkUB6WIe5V50ZQuQ2dlv7HZ
            7Hft/ikCuG9tBNjMdi7Vfm60IHF4FnCdLrc+xDm/Q90Zq1fR9iDnZV5IHrel
            A1kG1rlM5J/DM7IOC39CTzK3xVpyNnYpiRS+Uy4QaDraB8+whKjqKcvgAjof
            O6Bpn9zZ3YX23J1v3n0cO5+8d/vdl33u/PPh15XbbEbsKrsfQ41KXLDPcdhn
            8+Pc3O6mtN/TntP8/J7tEzZisTx6+73z5oePr8ZQLePY5+1KkvRYy/KdV5+G
            Wf3Nx18vT5boNl9QLKJpFs/y+HWcSoGhx7V79oVP7k0ps40y2X+WodJMaZYo
            Ya4h6ApGwg2lBKeQoYFeL7o/QyyDzPMsI3K3niUwWzNDsiwZ7WGUKN2vpphT
            bLFMsKwJcyGAMpT7CO7AIgvYDH3EeN3lSs2donmZ/vu4h/qgTmeSTb6oz6fG
            2yl0JngD7o3vSlK8wYIGxBP9V9MzQKbUnIpPmPcKbTD5It2WrqhQkD7Dd7LT
            ZwN8ni/jAhI8ZNsouCfYvwKvIKNwBybs3+Z8fZ2xhz55bzlpoaykxc+l8wKv
            h/C4Ke34PdFHRd35axP2ANOeWa+QNrgOenXm9V2uIFhhGrvyDpIZKfGkCL7f
            gcv/4xTT6ecw/w50U5xXv5R8Wm/FfkPi1MJFN4/y8U/3S2MlS0k6C6Q6FwJL
            z/2SExQTUAr0/lMDL9LDl4yJoEnHAkH2TjrtpY9wUcDeMKGXHJD0uER5g1ej
            cAt0ukCg4MUTFpb0cZY4I/3LWOCIxZTzGoSxEtNn8YnjtV4pwoBZHccufMft
            oaXNdFy4Q1RI7iaB0CWH+4WOT4wLKr+cpWKOM8fYSCz2vWDSI+PD+WEs7c63
            jfWUwX03idaK78u+46HQXex74/dq36+TwUD7DmMKq27fmSpyXjej4ViC5zqn
            fW8Y7Nns+4TeClneBqzsM+F7uKESGQkwQKHBwfpb87abwvAAld0tdLFzbm6I
            vquERhO3Yq1Ye0bXPWVguzr1JdgCz4VdJmu1lR3YK9hFwXYRF5MBSKY3UJ7Q
            hXbKmmT+1XVBnGr3MeOKWRQywTUeZrAk+56Utqj7ebDVCC59iyNSeTZRREIs
            WU4dxn4sRjSi1KcAfm/ZfM4xGEyKeXS/Dqzich1zbuJlyhCNoMmQALRlGmvU
            LRP0H1hdg2NSDViF5Vvde0/9kVmROYO8lQWUaiKDidDkchJ7aX5+1/kpkhvY
            e13iKFnpWAc9sQv8tK28vQsMmtMgbI1B2W7HJwP5cgLHj76Ee9KDgAnprV4W
            toDqSj5EWa2XpmLIPFx/4OBCVGXbiyVFJthgzGWeLd0nOZE9ENpso/MKi0wP
            KZX1hpeH5NMCpZlYAYi1V04vNjt2BZOQQ5PSLzZVm+41Au3UAOMyxM2hQmww
            TfAG6YZVeUoZZG1TWswPx+djFX61PCRSTAPLHit3ODYDOFQKfg0mD0SaqJSV
            8fW8eCn6PioMq/yM86xD3I42C56Hc2o6cQ6UA6hulQrwndopj/B1HXte6snc
            tchYAP5/707cnKvFjC8KcczdtQ282bhAZNeFYdazdXsvbZgqbhbu0fKPv6mg
            EO/xRAvM47teTtcNhjcy/q30uOspkJBa9EC03rcwFG7x63gv8wd3lclKlaK8
            NIrjhMDaOTO0oFuFCxai0MCZDjxLkWWar4AJWZ5NyeJAOhbXk9p8xQbui99R
            Wn5QhABiIFt5Jl70DF8ENlqK1RZITg9wIO4uZtNfIBouhIf5j5PJz1Q8sYAk
            Kjoa0lHtfRKk/cH4VSEt4HnhFjEmWygm9PPZqTclrgQ58jA+Xt2/3qmQM5nY
            wwKW/f3m9/BFSI+Nk/MWL+VoHC/xni02/jNP/6pJKY0isjIZlyonx+YxwQ9H
            G0u+veEKntzL5GjOoQ5XkEO3APTmeJcr2PiQi2PcJwtZyDSslg9zbSTwyHtq
            B6t9it0xYgVOwJTYdT6s0W0KSwVNyGcSSRAgjnHLHXCnX9YBo8ViyWA9K6he
            Y202rch4lsNQjkAI3YuDnP6yy9y+dATaS9LaeDKpG0aYRaLxXayX9z4DFv8m
            OUA/ZpbNZp94WfC9ie1SsBNg5oEJdAtmVma2W8ZrIOFGxslqoGHFtHgS98m/
            UzEcTL5iNswAx4IM6XjguJlSejG4pEi+3A94DZaAzJM1f43GAJck0T3WYFqW
            EY59T7pimLeg41j/d14Lyys/RMLMGGX9l0v5k2fHc2GT19mHFFW8BwhouFNZ
            70ROnBiFACc+pwKekxmI45CLZASLXCUG36l4JZYnwCJPM8JgOctFRUbKWJQy
            mPYgtCOy7QKV3uNmUUE06IOdLL9lemTz5RNwuPc4MqtKSnOleHvZKF4Qcu+S
            8od7J5YacFEKlasorbz3Z3zvjKu/O8JMsGzEw2iLmYYxuDfZ8kicGCHTBjPN
            STA0iwIIE8dEhPwbUxVIjD82wYRIo0+MmiMXH3MEtm3iiwvi3KmM59zfR9DM
            /tgMB+YExnVY5+vnY53W9ESj0Pdx+q9wD/OfmPUTmaVbZPVYbby/d2bUwL32
            1LFmJZF+6Q543JggeImaRncCuZVZbLNQHexYpjNtyjmgJ4t6LsWFpl4IlFTK
            5ztzcPf3uh4FJdup3X2HPXlBClHQBJ5i3dqJ4YbWzCBxKszVhtJm8SEqeZUO
            Sci+GzJ4sAR7wp70DC7Ktn3ujiSHeOuFKAeVi4xP/A4wezEEk63v+Jm6XDmH
            kWkNUPZgzXcrS2LK4BW1YJpsyIzmeTdip8ECfCmWL0qio4PxcFLSYOnZzCeO
            meeMPAAGyDrrlAxrUGpGxh7qyhDLYh/aOetb2SlMMw5NChnkuHh28gyuJ9uK
            bx4//PPVYrEEKiRs5rWkVtvFWt0+vSzJPm3KwF6pjO1A2StJ6dslQNFh4Tvz
            uJUMj11+ghJPRqcZ22ced1WFVKD1EIpp9IxhyH6mGGCgkkk8j59XHlZmXgwt
            GLPKYFoFE6D8UzAbf0Y2jZnpMjgGFp8druNS+OG6ZPuSf5XoiU3UQ3gtjeQY
            32tyvEEowWNYqQ19P83epl3NRB6SEQlzMh/UFVHMERRIV9Jg/LGSRM+G0QwS
            aFA+mDj+3KQoVnhgW4VQlZR5FOYuBJV344nYCf4SmqCIyVhKA8EiwqRijqFk
            gylQFlUElXcb3I2X9R2otIAfrISu2utj5pBin2yFA5HZ4FIYjF1gp5xCEfDC
            An5tj8pwnh/OH+YsycNs19tZuPiXhy6b8ZDS5TuBWtXh2ph9YszJ6mq4M/pt
            cXdVOXiuH6WAZdyfqgaRv5POJYXIaS8OCDOlk5kckU4/ggQIVnGyTLIoOsnk
            u1DvO76q9RBFQ+8d8otSY4O2BcuLjhJTo2NSHIrB8vEmpQbFJgY1tNmeO7Kc
            /4oMwZE1TggDhs+nh4zDcGGLPY0lwJtRKTmLBHbG32FGdOx8CMILLBpjG/FM
            lwBkepjSPCGYcZ+K8cXP+A4fH1PuYH4c3SOmbSstDFNfplF3T3LVJyjdfxsH
            8s8oW9qdOXzHf/FM1Rsne09Wc0kuRbfZ8RgjAVb8WoDETi7+AH/5wbLZ48KM
            3CFEm+Tg53OSYaJedTLVihJUcdjeLi1E4sQxEEConEqH47IXHJ1p3JHH9OL+
            yWcxqpJFhPhdd2kO7lE9M9jqmQY2Rjv8WN9/+/0bI1lhWk1l9Sxh/zz+t36X
            w38nG6t/6ne8bjvO84qfF3/9Dr9+Hz9/l+fn7wAVja5P8RMmkp+ggUk/+nUV
            n8d0+7XTxlSMhdJexudtnzhvuuZY6IGzwABOMq9Rz8svan4TDw5MbHXqTXIt
            hstVcHqDyqoP+WPmMSiBt50bQTtPDH3SaD+aCi3wHcfzex8QJ5gALSc6UZfy
            ifm9M8fiuOth9z263Tsy/bt+ERP437XdmwejqxhP/DtRKS3ciSp4Ojl3IT3U
            abNvP57Wr9/nr98eaDG5VPccQsnx3/3X7/breifYw+c+YZErOH71ROGt/d7L
            7L5reSBll415NnR27bgzOt0/QEDV7crNsc/ePZHI77NuCyfAjlXg2qMYurj5
            742ys6Mwy2++oy4b5WdHZTZK0I6+7BTuHZ3Z2c9xR2uO/WnnJb/Pjsa8UZcd
            pck/ozA7KhX6jgrtaJF/+t/jHq9HaU7Pys7dJuP0yVw7azv/zN7+nXr+ZnPv
            7G7/u4jSucDw3e+fDi0wIHzI5uuMLiqpRFkhHI7wCVUBjyWbkBnrqfZXLEKD
            2wk9XcrTgL4hLmvFikrakSIaKRq2p+06zNMmESH1agw6SZpzgbaEHybWrUKK
            9thL6MShQj4YbPZC+6amLzDHkOuDfQD9E6qg/T26ew+fk6Bt3y+d7KVha/W2
            9Y3gnidWVRLngD6kYAZ5M/lGOIlBJwVUJVZpjp2+Vemlgr7CrCbWKM/mCHB0
            f073tbprU9+rPFp4IsgruslkoqUzglPo9iwqfG9ScaqLR0ad6jjFpml70E87
            IELTMCWQekypQa5R5o66uBKOB33gTElxLtp6jVtWJ8ajewJXDPQ6RGg9UD6Z
            rMEgCucfY37EpkeHWkXdSuBJOC6dH3pXZHx96m/gJyA6HmcyTOHYSCCs4YbJ
            PusAK15yU8m96egISWlJV8zUeBPBalg/jLeORDTJ6WTIkF59SP2cXUy4o56H
            wVo7c7dP1jWEsdPMMYM13AVMvDYpc5yQQ8AmTdlSrAMspyZL0CrfDgKw1FNs
            tbcJO29tFqudYmaPObucGFl0Q4JRIQ5dk/wdJEZo6kHxN5+qf/bkhCxfDncR
            Fj5Fu1Y6hIuA6DJVn3jv+Hw0dxrpkGaLYonKJce5y9pICEwcoTL2KqquO2GC
            V2xbb5BSKoUb95oSqV81Jqw7OYKJKjxH7yAimzJ70q6UImIXiCrgfrCuuGOi
            DEfLrzRl8Eh7Q2wzN5ptXO80mPPEl9rseAezN9usXiSzK3yubL7N6L8D8/wZ
            l+ZcmKkic2UQoEppVnbfLdO2rOte8XM6e8XcqLx2B+c36N2Z99/dInIwuVcW
            uszbMnHLytCt0qiZ0zxNwgc2xTPNdKmMiTLKMFQLVginISd4YTq4Qj997uJw
            nBDNIS71X1k/TFR0qqSnWl6OyW2oVR9KoPg6fu3j0Lh7shAcj2Ol54Yv4e5Y
            Dasc6bRUZtGQRwbnlVjNZ2hZuP37fKsw1S6ps8P6Em4axhwu1Q2HfW2yaxjV
            53VPee55d+rmw4srcGolm5TpA/aaeD7z8rBrr/09EG5BmHAYRyc7xvVEPcG7
            VVyfTiuYV5CACB3puZmtsgJDJNTtrmNuGUeTE2O5Cqv6wRnWc/q7dHoHsVlA
            wTaeCG71+1nx/vms2fFOTFHjOQxLhk0CpwzInpVcbBMuX2Vq5VAgutGJOSQT
            sy3UEb7OZyC6KZaoB+CZdi236vQJjkpJ1gsRwIjndfC4cL1yLcidPw7l6QfK
            q5HruKymUGyiOnwLnheaFczpM3bL74ds7tSqLcPXxzlg87MY+ErpkYdFbjQ9
            H+y2M0WdrPMWLtCYleYTNV5cVBsmslmmBN2bPyIZ5vTvYOnbacEktG9tFaq/
            lXt73HVzBsFXigPYJ1Ru5TSyBG0m3bPszA8cm2PLXhCE2F+X40gQg5w7DJWK
            DP0Ns6gsTxibiXhAgwSHEY7To0Ekc9LMBGuNfE8jgZWioBUmFBN9rmg2JkQo
            073Fb+17PX5/Kr4aLRFSWB+SgRhYM0Cpn+klZ3nzBL+OU3aABab+7IS7/b0e
            X5/LuI6SHRmU/P+eHA/bMVh+EEuo7+pZHnAZ2l1r7ekjB6G9vCnf3/IWSiKL
            /ky7Ta40mk3/P1lAMLmrtGY1izt6Qg+advT5nFQaLYHAQp08DqI+WzQuvs/t
            4B6spsYkzuAO9ar5bO4NZgzu0Ispm6dePtkkAuiFJG/+Lul/MOmsUSkX9EIX
            vNG8NcUXuAoBFVwaAv4BE1iqF6CpAMWp63i46f0MUsD4CZVM5/GcSK4lG5eK
            gofM5KB2sKlSWP/sXjl64GgqMDsyzieM1QjCwvfFJbEEe998y3PXDc+Y3vRK
            T7NyDSJlMBekRAhpz/SgljjBaSZLqhIj/nxP5WPxb1Aqp5snObtSxmeSUbNK
            L9AnMGmjK+DPdIvEZz47lIZDadxBuSyMh8OqqJPl3ze9sCdfF/Y6Mdwm7fa+
            6HRkljzmZpaLIiikwuyzQNGDScVGMhK4o5BW+xvOSUxTo3q0tTKw5SRXJlVK
            yTmlcceFCW830Vqkxaa+gadZKUX0UF9wv2/166DbZWo7jb9BlJhKsB464Md2
            rBwet8TTbdcpaEz7jVourmNuEnUzvM76zqq0FH5uRgse5614FTuPUQLliDHV
            h1mc3c/Pdn7q/unB58vvl/f9/O/Z/z52KbeXom/FzFyuKsWO9neHxmbSJMfT
            koqzr2z3bw6Mu0vOIeHsumW+7cOfgxmqlrVpn5ePP2x8Vx9vzPacy8UT3UZj
            h/uYVNgIjrjcAfIICSMzwav4oqRUnws6qhYgK51F9Q57EWjPzWAs8plEKSN+
            VkoKHl+SwWBRiVHruXPQQdsr2S7oitljkZ9htiUT+p6K+1SqznafIHWddmgi
            inn3bEZsHu5e+YSnV/K2znK0YDsFx1v+/p1iS8rhuFufKjCw+3N3xnFG2J6l
            tyEbNrhCedh4mX8KKrkY2G4Gd7OIiytCxD1p13O3RnKIKdAGqGc07nwuuM7g
            gThG+AGW0Ibkc/xjUWBWpp1/lYh3B5Vp0OI/mB57W+xgcCpebvFyB/oAfoFA
            4Df/vmT3Vz6rL6aVEJOTO6j6uJsFQ7K4E1kO0daj9POvrMl+qbhSeDoPc/RZ
            RgKGR3eeE0Q47+08yeBJmpCTWRWXYIvoX+nmOBDLF5YA/8bswOL25Pb3SqPN
            V9zPVO3ahkohq7aMzoPP9zwoTUCm6Co/behnWzmPZVEYCDbF55ACyAqnwlxg
            atiZ5Qe4z5QCJUWXgQ46LDjWUOw9siUTHvr09yCWj1g7j7sdvt9Ddv4juCi9
            RzjtPdJl75E97Cc7+aw3g9sgTtqvWHVwQb8++/Uknj0mVnZiwnsyfAbpULDh
            TX+zOIRwSeLztZ7yhw0pw9TgjQRCEIIPmUjyATnFUSZN3iSxyjoTQ0W7l6UT
            wfOhyKbyoSomAjDejCH9SLvleVEOjCxXIPOmlCNl2Ew/Fg3G/1gf6g5yxlRF
            aAz5jqaMavuEcEExFYVxRakzzdcdLJvQnBTrMxaag8z8gP5wLsrbzM1dmdAC
            mck8OoJdMH2jnhe9B9j8EmPY2yR2OQ2S3Jr2HZL5IYKM32P4Pcw54gjZ/O/C
            W7g4esXOFjf5p9hZa4sFEwPPjnm6QyEXO08H7ufZYmKLvR0fX84BoqqxLDuF
            oHK0ubPPL7OXM92gpFZ6zdyhP8S+IlM6TIYHFnoSAo6KEaax0L1ZWPdllFjy
            c/aihADayZO6QmY+n8lvjAREm8ITsOhyHUIvUZZGUZKeNFr6HFgNpFSa6JSa
            vI4ve1mZUbK5P6tpxgp5st49Ci9FCW3fmnML2j3MFR6ZHKQ7IW3/AePXp+c+
            EU4xC0lzMJviTcORaAdf3gEK/2zcP0wGIV1PIsWOYhis2mbKnsMk9nvR+Rm4
            KvWpigd7nszJ7CbW/sKmNPM8S29qnzSHkjrD+iAxUCHzVUmWyfhN98+DZYH5
            aEOxSuoGQTufEBb0JDzc1uzNwU/6yawALRGokuCxV5Raz/gdwzRVx2u11H0W
            JOu89DlPCApLqQs3o3kUh3ihyWOl23X7/nf5eX/r+/G5R83PfR+7VNiuufp/
            vqY0e+5N86OGKVzXZcFvBakZjIXeS6OcnikDCFAA+eJ5oFoCmrBkYEZ6pLo0
            ZuLVE6Or6Zz8OWdqLKBsavoYKzPcp+ytyiKuybwduukhaJ8g8Rroj4y7/CN4
            +fOVDVuHbNoqRr1JSWCNqZCZyKIY23ueYunuOTdPN8hMbJGUtH0Ha3uyWkHH
            RhX6I4+r4k5p3lWUAFsswNaXGsU4y8iYxvsaYgynFXYfl8VZlOT5PJLwlbHL
            0RwpF2cvoWiChOmR9JQFZiufvT+0Rz2DV3sJVIj13CR/vMm0J/FY/n5uxxhP
            /m0KMmdpnPwbdwKeAQ7yKBcwX2ntzOSgSD5/k4ndTLDVPfMlquH58b6UrRwX
            cxX73uu0OSILC8997Lxo6wohQL14trcdbx6ChVkCIQxOPz9dEGyYey53wfYs
            dH74366vv1Uoh1C8y61Cmcw2LE/6yz2Yfo+5fX9jb5A9X7m0ZOrLrbgZb6Zm
            DMGkZAFzdTd6V3UOJoOYFESPNinjEdH1SUYlHOtKRLHmCyllrTEL+Nhxo2DW
            +uHSlA4rqXT0kMP4euhVyHbuxg5zS/yV5pvsH/eqK69vwKBkBtrw5NdD6RRD
            kVSqMd0SZGnRr9hOqGSG/JX6rsB/E4fiLtTJkpug6exQCZ5p7BnESvy5CPez
            E3eC1wq4a2CVenV1SzoM/zObUs7SfwKIQ39kbsjxHiP+Mp4ENeZJLiWZnJKc
            7/GcTnR3pncHHSPoK72yhKv/WMfXz2uoZHsq94/rxoSEGz+t6ve5Jskuq4Qf
            2+lHazsZ3yyMQ7GYkvPPtHQQwYXJoGkjQ07lbnT9y/XRYmgGHjKO6+dYOcYi
            zOr74D2p0TOJGKx2HCbdE76H7/tcRRECVSiTKLNne40NF+tNA6onhVYWIbcs
            HUr6jD9g65qF1bTk7apqORUMUsB7uyDuhZft9TUcOOiMieXxunEh9vECdrYE
            z3LFX39LRFdaAj3782/N/raTLv98KWgD5k/byUVSyOUwbOZjC66jyl1Ag5w/
            6FU7VYynbRW46lBDGFpuzKLMnGeYhRtiT3VbeC3FM4yiFbalkudJmpY4qP1H
            UDGGUxsdR/2vf/fypumxhUBF0nPlL7y1V4NgYEadsoCWSvdsZzAyR13MYw/X
            YImcTVJb0eBzWNAbCNnVX1iTQZJWum3U1pErkwikT/qCau+GJhIi69RBu62/
            kB9dsMTCfPccXrP5MlNZmZm6OuUzyyAkHcI+dtD1yD1GqFEGgHtcD9710+iA
            oL6C01AyIFRdMdGitNVjI6xntTLSTuKOvGL2NIfIqSLmL/TXwWP8fiSqvSBi
            clIxG1ZX0WdqPrq4XJtUChBj3XV7U0R/lY52DjZCqD1X4j1Ph8P8nmoQ33iz
            FWkMc1JuIxX29mLUJVKNX5IGoOnchQgZVIw0xRBhMI7BGjmMS0lvpupTpLLK
            mPuSQSodZ6lAjJ4NOSjFupBe2EWhE4IWVl+FFQ6K3syUeMUVa86yA2bLX2A8
            MKQmZc+EwUQq4+6n447KF4Gwmd9L3HLm545lUB3PV+a4VwF2QTHLdy3juStR
            zPqryKsJy3dC4SJipQHjMWhNnzcJBaL6hzTzezPFlS04WFNsWe+dYpppVOf5
            Vkhx35wM7zSzebYnH2K3NeGOfcJLuyParpgephUaRLUVOSnY64UyqRtMJoZX
            DEzHxLyXxeQp7AyueDZveOBqhImBLaFNR+LTEgufPTooxuQJH441d9F/pI0e
            ZOXjIm/bIGaxyHq5F5MFbuVAYnqkQ5ETpSkoDyNuZ7FOkcvI0MXpdUkFwyej
            mNQ1sDGmnU9gZZ6vFAClPmJcIkP2k7uU5xmUG8r7WNYcPwN+P8FilPegoobj
            du+kHej3P3n/7PdnnggTi8SpsSD/8jmni8S7ChfkIqfgXOj9WV/i6Qtyk9E/
            SNOFnhFltNvz9xxbhbMqzJoWuqhvSOfcSIwWQgvZ2MXOOJcekI8cb7J1kxoA
            IQMSmEyWb8o3If9goxdqs7iQ2y1UabbrZlJt3jCOrHtXBdHzHaejHbqslI31
            DIZdn5nFnvLtjtlgk4D1pitE+Ay3MOqrKoBuVRNg58MWI1RFCpGWuD47+W5h
            +UEw7HrycLA2NmL4VZn9qxiFWx9vxck6CWoyjf+r59/0/BELn3ykGvNPqhBx
            iM+arDrcyh32Tru8Q1N8g7mG5XB7Ee7tCuXkTqsrn+dyAeS5/Soxd4z88jsY
            agk2I++iVdcVTq9tGJ6+/o0zz2qRzXe6Uzcjuhvfys0TifOQVMDJyiSjLHrj
            QZXaWQb/l9Sg83t3uZ4ihZWZ9aBENg2woCHra3omrOXHIwHhcZOLbIhf6Hew
            3lVuzXABU97TSmEXEw7clH+XewkUBBVsUQGKRON4mA3dDpZ/R6+4ucmqYAex
            w0G+LcunJlqcdXgjgoIxpZvWv/heEfBhNpxdeUwhydt9slAdwjDoOjoJWfCY
            GDy8Tbj2AmYVVFlbzKTguUzR/Rfn1qJmrkKeMR1mCbHMyA5bi71OSvE66nqZ
            lDysWtMoofaNCxO21M4mtVWvAbK5usfKNfNZkKQPa4Z2SwbegL4H/c1IBbqA
            SYFrOG3KgygL60OLcidU2FYV1hjoqtCvOSxqYTTRjsJ/wZBs8O+aO5MedLVO
            r36bFmss4BNUVxOUmXJCKzSLsqi4mj0rTswqjAZq4GkZkgwhE5T4d5oRpc8b
            nwosZCE3zWL33mmg2Z3kTBsS4lSXq5AJexpzL6wKuOkOs3sev+4J7lySyhpT
            sXe0YudoboT93pnI0BOcF5eVL+c5hN+SAnlcgxk7xd2Rcpfiu9KHhDEXlYnb
            WWXox0Iy894qPNqbakSSY1xOhl9SsVhT8UFhgotclsoCVuJCN10t9ucSwifX
            7aCbpgqnblkTBloT2Bc3IcdlgJz7RPkPqJYNF4NeyyP/LbRWcm4qV6qKo9LK
            TknuRKfLGHK77MYfxb1Y280Q18+E7K2E7sLds3tM0sl8V6o9u7B32edFJDIW
            9TzbklpWAbU/yTgyV9wzzKkJ6nv3757FH9aP7+fOQGc12Y/v9wu4ru95f/e0
            jvD8/B6PTwa9HVezgyQxqXv1HYKJ9pxuldJfmff7XbYvo74wOJ4IvuF0IJn1
            6ZGC1opgcqpHEEYzgPvif4dl3Az5xiMKpVqLKD+/OvLM6YFkCL/8XY19Qx+3
            KLPf/7Dz57LzC/tJCrbH/l4eI4Ls4wfRGfzQsso/NlrWbws2CcDuDVOoxw1b
            P9CajEGSgsyc+ms4Gk0MbtNEyJNaHZ5RGquqGZmcXZ4sqjQHFrbNKA5Nc5pP
            mWJ0ZvPov+WDlz2bQPZlacFhcDSFfS4lIOOZReATCSwFWxCsUjlSVtw7zEs6
            fgBdpCj04rt+wHC5Tb81/fb13ku5v3hnFmsZxI891+B10mOt50a3QuN6JuXx
            qkSr298rNuOYBDBlz7do58jx4eeo6bNl0zNJfZKVEfSeLBrz1G8GxfwTxwc/
            S2yDBS6uewnSh6kjVFv2u0NnG+2rSh2W0uUgfeydNazTd1Y6ULquwlLMHG9r
            QVMUnW9iKXwQoXWuaMb5YOsZDiASCaix8wxNdKE+UebQlCIkDtlTNXjlU9F6
            +juFnIvBMD3z8LYNkrqWk+S4DK/UtaDAQ4jHa9+PaI1ENY4WSFUgF1NE+SLo
            ZCZV9fEMosPA9qNFSf8IEXAbdvtThBjIcE07dv8QoiNT+++DLhmcN8HpvINf
            9EB3Xs/ainjeqpUVG5v1CxOg0GmfPC75WLJ6e6SuKPaIfas45sN4JS1DC6C/
            Vdg1bwwq91WdttPvnZqSDIqveEyRMGjGvo1tw9C4vdfLc3wpJmeyYJS0RFYM
            hmjlFo+5lM7Dg9K9DS++KrSqTNEmmCytgm38R+/wd/z95WFtMDqeGJD9Ty+v
            lonYPoS/u+6bYOAnhaT7z56HTsVIoC4rOXBzVVACV7xbVAvqSGQFA00fVh3e
            tmdpWfLYqP5ySfqrp5yCUKJNSrZ55O7sShoLavO4djYAH28J1TYPwnIYSoNd
            VHEJBEa3zmH3apiFomxJhyqkKOzuoq8hXJ0psq4/l2pZgPfx1ZFt2S6lB5dz
            NeggMv04BhWb0TXDDRL1288J7a2MZ3WNvXN31BgpN5hnAUMTPR7KImEC3Gkq
            WAQ5b5UuMw1ntCSBo1oHGya8N9OMhqeQNM8abMEzB8xbSvhpBq5Y+zKIQjYT
            uUSz+la52/DZVQOgdEy60qUSdfpQ7Jzp5zDhgxpHtda2vPbU8WrHce9T3x02
            RxqPak2bJc6TNXLXMrDc7G/F22XQX9YDRIfBFJK7MS7ThTNIFGV8lsvOZSMT
            nJv3tZkFZEFyeRKXilmYgcsS1JKL55YS7djyY/SrWVkml29/p/OJEdZ3DJUo
            bmTpVu3wk5jT/XdiJtGyI5SItrPwwDZrH574x43D+khY++rAYJBILJ5d6Ysg
            YYvMxPU0E6XIX616mu9dMmA8HULA/YNqhZngD68XGz0Zh+jdUjioL9Dp6McP
            LTTDNLFN/p35MQWioBCIMvQjffuKDTuKCt3Lrv7GodinaY+LVK9xgXgLrdFR
            oO6oe9C8+QkuYl2fWS5pHvM+vcgpKJXFOnEZsMjM/tn9k8DCmDziMH0a79Kf
            YbDcUNEcoKQqSd7GzY1LXY5Q58QBr3RcSct3084UT85xaIZx+S0etsJG29m0
            eVcU23KEHTtvXeol8sxfmYm1uuLqCmzxisRfCq6ln5USDFLa82OwrZNBrPgg
            HnvoD2r1hbKCoH9eqDz+XCjiGv1tob5ZLOU5i2DkC/GJ/7FTfj1vs+x4vdV3
            P1k2y2o224XeYK4Oc4/cpwF3fCumqzuhdYPssfthzLMw9PC5X/L7DVdKcT/W
            L4lQ5s4L+txXfcWJvlmELz7dfcNUauE3Et2bTwElBdi/Oo8w07/H932fu3/d
            p//zfeqw+7xxiMz7GAlYL/HHstrprj18AkoyhW6Z/ygTWZPo70eYk9HRvNKb
            OkmcwMuz5JJV9ROnnA60yegtMRKT35dAlDesWxACmEw5k/uemPuyWdVQXpIp
            npPQM4rZsEtrYxd5gvIPZuxLiRuYd/dgkol1dh5wqAUt9OlRU4JquX8KlsGc
            GzKHcbYBzkQgDk+oIxPH7/Y7sKHJLzb57C66CSSNPyd/WBOGtwJACHkgYIiR
            +W1psQSHaHCH7CBDiaOPTp2X4qTYoT06LVhkiDQY/205eJb9yZzY7cbayDOH
            tx0ep3VaPV0BV8MAlsWfKxoJNPppTSvfpYXQKtdJtsWiMaGfX6V8iQnFCh6B
            jYCY6VWFLMQ95/2xse27dIU3RO84hmyvO+YyJBaVUjSxSwUv56CIluYuB+R0
            ZeunKWeuaHp1iNFmpXZGdLWY1v3CEt7y4V8WoLU+5drRvdBJ18olpe4ujsdU
            rcl75yKZApYV6guHOT73tQxdklD8d9jmGc4YVsUQA++1BApvvynLA1tXzq8s
            zUmZ7mYbY6lq2tJYTeAVC6yplQcZRuf1eT65+zIH8CFgIFzLPG4QinwgzTBP
            eskv/NIgRA5xNLGxGVu4Le/N20HYJGpBgu+URmS0Q8e3fX2/zWaM/Yi1qgaG
            ik1zxcxQVfW3fT6MrJFUtiGvcaG58ppp1nVuOWDXRbvcM58qi7rxO9zqSGDe
            Zk3CWQa7SxPv/l4w3i9p05V0THiZRLAcnadFagn0MuxzyJ5ntDgpHaAO82rn
            7QswbmKJ79gsCrrJ1eqOKAJ7HZc4zfEbeu/lFi6GDAMjH5tQqG9hId+FwyJm
            9TJlyoOVBQWazPR/Fq+LCl4TxaY64MxPGCwaMMWybC9ioivwir/vkeef98gw
            zw1w/QlGAgp7mm+WC0gFZjERcJkjIhtq20upfAHK0odAXYpEMhuFM045/e4M
            RomCQCWpaWfboWzHSDa0CUN9xNRClI1uqf1b2joXj2Ii9HJ6O6fb78nd95pI
            fAbPFZUTpDxba6nt8InKMLeUDiZkrxr6O/npclTYqIa6c9juJR5VPSwTgmPk
            vvNrqiBkpyX6/PBxlJ8+DhF0VQfHzU00L/kwc4zcRNcWS4AQVjOXgeuY1cB6
            fF8X+ue6lws0FlTcr2JY7u0/sN+vYugK4JOs6W/tHw9h2iQg1P/xdRMHENtu
            0d8yBYtSlGPtdS87XXo7LbYzYzsvtja7saXenBSWxVgreU3OT7b6k5rH8yc1
            Y/LuuHUAmrHB4BreRSan2XAPDEI4UW2uNotFaDc325M74s+du9loOxxH+i8w
            fcRIIHfox8+gz1Zi+/jJ+hnj6927PGJHSv+5LCqrnIUmZXTNUt0KsXpn97X0
            bDAZhfEz+mKyJ9QvT4bnuLqJNI35Z4TZvaLQYYwElM1lJRtg/CWuaqEFYi1z
            956CFrgslm6OIpZFJqv0Sy6313sdBio8Dbxcve3l2Fvj++V6flb7VrJYD7y9
            cBiYziFsAWkWz39Oa0EQPXbHF1Q1455UIqM+rkMES0na91aQcYjlluNLJicI
            lHJtNupewvDlJSQ3SArx/cHmhRxZrrDZfT9+cj+5172Kk1EkZec4hyyHcbt9
            rsTiF0eSopmfV2Fkj5GNF90tvU/lJGs818sZg9DU7u45peDcE8YtvZW0/qOe
            K0AzN9VB2ASjS1acClbLUWgRunKvnuo4GZ4PEL4mdEzZ+nn9Yo3CfDgdD3Ja
            Dc5mz+xvtr9jTuX+bdaodrza8jZTfFINA+OzE1+lx2UnWOU1PkodRin5utjl
            1yPWmWlSr3KUTDnanGC5zX+w7223Gh5hhcSfmnfhziQz+3oW0RX4rHB+ntWd
            K81UT4UU55e8b1dmilQ2bMoidAZHklVPdxcX3xF3EGLYkffBmt/DMDbkAFSy
            8doofdcjtuwc3Nl8epGQLMficjGQd7+Ki+c3y2Eqy5rHvdUv17N/WzGG/UeQ
            JDW5IFKeaiE949jl7s2m0HsBN1UyOSaxCxRhMTKGk4WbeO8aoW7pDClCKxcF
            Q6dQSSuxpWPebulBOU5gbsHGW2pA+ENfUI/yL70A9n5QJtCP+1Xod4Oy+/t+
            OBaIK13IBQXKw91lSvG5mEv4UYpTsBRMNX5P1vj9m4i3ab3s3eidFDGrWCIT
            FdbM6uhmdfwyq1ko98liGOeOhWtjLYmie/s1lKwz5Nd4NmEEc1rlrVw3mNbO
            BQnAdSvHMV5EeQ3anG4UXrectZ6VeSorU7tzZ+dsorDiNavTsWIK1V59claY
            teR1RVj4QCgKsvFKjlAEQVRm8zbY0hEUC4CswYwUYr/rU38ndjLds2WE3g1b
            Y3iotyoBMl6RWOFKHqS971jGj0MzBZVkwgI9lHhgjT58PAkcxCobf45hZBsD
            sdNH8Roq2ghCE2xWS0Xi6lr4D4oQzROhJmTtQ+KwlFP1rYzEw2CCqs6MbVYZ
            XlZboroMIQLVw5KlmR6h47xnYhSw4PoNzkoEfkNqZzM8T1Ri7nF+0SJSd+Qe
            fF467ty2XiRie053hZSVqP1YzgXuuwiqDLKbSQuVYPvqE1Ab8V/nUR81SbYL
            c1tEtFTggchbhnNMzMmhIjKWeQYLXjAvj3h8yuNYrXkJZWL6ocMMVTvWvM11
            K7vNNdbXv+N/MKRr4DhuYoMwUwZPWGoF0LjLUj8kz9V4vRAJkCVeDnEfDDVB
            9n4k6CosnTyixSWSwUkE6yF1OBykjkc6k9V6QXhbd3XitVYEWT3ca3r7uqvZ
            Sd9QT6wBDrYIVqgkOEbuXDqxm/pf3CpMqmxBUO6d/X5oO+6a5/fcpE3Hl1HB
            UanbetqlwF8hcuYpTvPb6OKDlOwb4b5CieLE3FBncr+AtjZrcQXsSVZxfXYw
            TJul/FuKwOg1xpctPAHVcrb+T4KnJ2pAUaK5sEvO4O5alnDeipLdwhpZivT9
            7BPl8IlyK8MAXLEOIbkP1Tko5oD9eSjGsIxw4vwAmu4stOCZZbRbh2vIW4uW
            OfkVwVQeOwhqEaz1yzGWiMp09EnJLC6RLi63cSOQMwmKmRzUndguQbmWLyAM
            Y6npOK0rc7+99o0tiUkI0zFDpDCCr5yGVd1r8uedxvHuXeNM6OWvc/GPesPr
            CawfoHMFjHdSy66o3CYhi6Yss9nTDlgQc0eLFNbD2kcSo87/GA1a0WMGyxLx
            d7x6xxKG/326/Rkcayv8wvLaAQyllwvDy+Phft7zWL0tE/Z1XrZx7HLQ4ajm
            xV+2bChHTyody8cdldjRltdNb3C2bmhIaTl3WURTsi4pXmcsV2zbjU5OEMDJ
            LnNk+10a+GJx765PeS2MqVC5kAXLbRbT8zgiA5FLGQ/tMvWeN6v4NGKV1zHI
            3n9NuX8iVHefq3vMyY0k6wqbzgqdDvu0MDodTPzbTVDQOz9pGGgNxRdzFYhG
            E1kiF+WlzR4jqCxKPbBtDJ6fLtIjbUBs05Q3ipBBAUeyIr7cHRgAaMkfSsRr
            leW+2CVgn/vci5k7/nclkFSrTSZ2udpDs8vv14AN4l7BC3YOloXyhxfOMbsI
            oQj5t9rt8o99jaa8bUf9Mtn4qw0XY3RLPdqRz2+O5NBd4mS5QKmszh3NIcSg
            r7yE2SqDH/bCUD/q5VxwWkJwC9td/rD7zfzmiFPoC2o6e/3hR/DeFDVgVTYW
            eBIEh/wXhVHKx+CbydrrV/NcIUX0D5rwTu6UO8aA0nUPW+/HYBqrXtYWn5Mf
            6EfeCtYheUJcx7QhgwmYIk20b9PxoR/rBxh52IhBzOtnnehQ8IXyt5KSkyJ6
            YnTQSonn+8XusQPU6Y6+xyAYlzX5mcapDFW2k8O+v0WgMNYE8qtzqZ0u5hOr
            4FM1nREyOSwBxiUwk/bBPvsRZCmmUe8FIA7Q9GzWmdSPXrrEIjYbEzYNc5QF
            /MPEYHvReHc8RH3bus1dvH7O3WCfTHejV+UMiMV7X6vPMcJj/A6lc2yKu0RD
            HpCIkQc2WbYQ87YwR+RxATwMyhwMHlhlTUhHLNsiHBaD+hu1uyY2/jIgEzXl
            CJ2+tC6QbmFjhCfLX9DXV+K1vzjt7ar2dTebEyhVafdjmLf6d//pWAmicGsE
            gmcmAqE6PrfYqkXBOtOYlZI1axf7/aUTkH3S4UuZON0e3vH07ZHcHszztuM7
            4XKLu11EuyEft7iJy8TUFkNcGEu5qkQC0EKyOdrmbJAKnfmHMBzHvD7ciDXx
            39xvXM/L6SY5wyK0tZJhvoNpBslBEEDf9ZtD87rU6MP6zOukHrURHoinytwP
            IQNdytckuOyn40x/w/4YqFXZ1azGX6zmkbkCBsr22JJnYqmB+Xsm5wz8Fwvh
            kzHKzm5x+ZONIvdgmYUUy0/5k9L3C8kvno6392FXcUIkQsP5atvQvMEwqItJ
            PJWyxUsWJKMquSWKpAV3yWX9nbEOQU5I9he5U29ScHN88WBaNbPoOZ7iYump
            BEsghAYWDhxEzii1Ffz5fsvRD9MvkBwm3jYGea7qqMSdJmjvlp/emV/AfhHM
            p19EJsqaC2p3vXEWTiE2jcryQr57iYYqzFRGk+cH53FwXjVj3ThJYrwBHNtg
            OwRppeCbTP5b58wJVdE5y21GYS1q/OVsppyf3Qje9PqmOXnFZe3vCSyeFrav
            BYu5HUWeQPDdAz2LmgSr7gtx6L010I6G7YUOlidIYjGM0MM6zCQP/mzMBhIq
            i7Dyk29W8SpOQPaf1Crw3FXbX8TCcPHNuLw7bdRMZCt9dSdeGJqhCjd2QEv5
            it1bH5/WIlgi8rSs3bdIki7s203RzSkqG2T8IuYSrYqKxBy0+EEb4dyZ1v0V
            w+ya+yNPktnB0VGH48c8NZTfFySIoStPiZf4ESEcJBACelBUEBnxuM1BXKuC
            EKyMuGg7wr6HBGRKKWT8zmwhcl6IdbIt8V8WKYCy6KCRhy/z5m6LUmFhxfZl
            YiLEn39TGmo1fwIILVGR2mKEUCtMt9q/I7Xd+Pk9808HjSVLONv/JQ62FRG8
            Y+y2drZ42Pn7b3TNrZ/iJtULGOdiYVtP27rZWb9bHG2k4I1cTNbLQFffle+M
            G7Ckg2zP8NL67+apyocAEY5hegx27wwnfnf/XY0oR3OO3D4+lZ1IK2iubL23
            2cLp+E5eATFNSxyrzRt//aG0Ma9VPnYqTlPKUWDbhc5Cj1myWvXWSH1fCZmT
            TSs9e8U1a2bUKnGk+86BGj6697qQCZUNsP2stGTji/8pUy06/NTtASEH6fAX
            U5vCNndLn89uFJFthQmcAOeYfyEn0ytIjA3kkkxRyoIQkMLk0AJMjSEYyEGP
            1KMutKfrSDRsu7cEXipSDdV1pUmvafJ0smFEXynjM83H9LLrQjewQPzs2Ldc
            d8eUUHSqYxJ9H5PSR+UPmoogLi1l/PVpVC+Io1NOvUKYQh9VmkZzIxIQj06r
            zgqQsNXBfqpDc0zmwYpyz1q2cDRAcCptKpSjLe0Q1qlsrFNaRqelW9GdCyka
            BSdviaSEk0ll+CCgHkI0MAJ4fLfnK42sIxOY4VWkCOpO4I/WP2Zd64alSrLB
            3yIzi0t0bx7FSeTfypJ4Mu+cMmQYXMb59HTehHkPRe9TD7sntpyZXoGgCIve
            xxdGG0wP36NMqyGE5GzHaHTSAe1l6fFl3czOBYU8j/sErFu97VB6HJN7HPsz
            GE0/DGzqGJXYKBms2kHmF76vj/vX2wseO6JISC7iH6TuIFbabASs4nwzw6AS
            zQ3zzVwE9rysazcRDd5E9HZ1cBB++7ujKD1R3Yr7WRmJHVUvBWroPk0G5IZj
            Jct06mMPFPt2FqYsn9pNx0ab304L6vhkd5yAi3nHLJ687hf+ebPpzU43G3/Z
            tieybra72fhm/1uL3/kO2xP2esYcB/Rc9vtNmGX4+1pM2tJx67fA577Xzw0k
            R4CH4c6rLQ6W378e21Nn1sYWR+aJ+zjJttPs8fFl9o+yFCKNY4udO1pg7ulB
            MZkNxbOdanJrry994FTSijaBHGJBAMKxD6/mFuhLVa6CRR67YZjWSYDiUgU1
            w3Rm91tjc9zp+Om3TocFLaKfv85nbN91UhvAj++a527Nc0fRmtXsKVJYIPeb
            d8Z5+3QQahs7mxWihW0QvBMOg82ClP4qR8/NrJYzyUwyGEp2oUtvB58KczOz
            T3O9PLF1Gk66kkinVThR7Ik9j+fmdx63CKnlSpRH4rCbxYJLEzu+jRP35zPw
            WqwwDGTNRCRmlAXbxmIuTPGKlOh4pxgMDyJ6t1ooyJd8IxYqGgZ7hnuSebNz
            B4unIR8okhmyxk5O+9rBXpP+/ahe+8HMaog7KrN3MHTlHRiLrARl0BHrUeIH
            kihbHUE9Zz5+TK46xghRxn0A7S/OFIcLsiwa2JlqZWjHoEyG3BiObXkrNooY
            5kcvyaYlxSaQDtHx3XSzXnI6SXsPG5vptIwfWhDpckXnaAoR32wx4ckovHYx
            B6pyMyrGrmpdiiCsW7LWSZ9aAGrUHgR6PF7wBreSy1Fp3z/wQT9yV9o526Z6
            0izD3BxTYMcF0ytCPN8eG9hfP9nwf+C8MKTrzfaI1ud5N2qrtWzO6z3FyHlV
            cOvvRPhPQvXyZ1Mm0QuDYw0JmgWQFt85X1ZTWFltyqZN/MMyf7ZATtkS9xt4
            vm9F44MRqhaE7uPfbG6zqd8+/xcYwtngTno4nB1ucTC9vdKrXbt42KXO/8S+
            X7a62alr77/Z6HAxsdk5MSDIw2hmUvZTO4heekU/faH2ouCPchaPb8J/c/JV
            BaTadWjmt0zsTBYdHdmke6sN4t9cbwP0g66zw1Pl6ZNigky27GDHjZeDjE5p
            w6m4r7dmQabqYc46thRJXqnkuoIgA8XpBnNC6Gru4KYCvcdmsRK2bRFcY3LM
            hdXBCl7oxUMJvAGI4lQiBtkOTTPY6Kux0wTZPnXajIFBtUnCOzyViu0Dpu++
            coKLTa52C2GZr/t4v2fjOtIdlmF2iXyyuajVHIWpY7dcyod3AxpVsC+WSibo
            LlJ1sL9nq4wKhhDyZYY5/AthaKgiKncDBM/PSMPnvmkI/3H+4+c/2UBAHj//
            LUg5VECiAM3Jon3vdrTzAdTdCGPEzDLc/Ue2leorsgpvbkVbu8Nbd+NszzLX
            sdLUsSaQwTDl7yau7HUO3Iynl5bvIpado1m8dB0m7mUVResh7N8nTHQPC4x8
            Q6iyYoWEYAhy9C1LCfRjB+FthrfePTwnnb5HBkyE3Eu2SU+fUyyP98iOsl51
            c6gRzP3luOnNHSDSpDFXsM6kizBbBvL+mlBIeR/G7o0Fe7AK1zps2WJi5k4x
            VzbumQ3GMXli6unJoJjYZO2QLkk8XotFn+XLKUT/w22ZOqrPE+czkTUuG8sT
            nmuc2ZxO49K8qG0xyzm2h1Ijcl8Gg0lFO9DK74tjwtvv15F1svUHM6BPJ0J3
            SpGQ5vJgT5DyB4791k4miSyec1J7gmWH92wXPYb2PYwHklGZWCd/D3cNSaPD
            H6+dtStHTHlu4qY8/dP3avdb3ufxJld9PosaLV9QE9eV00Y/wP2WMQXVjFa/
            /9m+4gJt2EIy10m7AhM8lukELGpa342su+DkyVniY9i30NE+E8s+0ykKiL/S
            5SXYNSMCTfS9F6pYOvx2NjG/nkBfvBd1j6Kq/3J6ZtHBMVHakwPabh7qfSac
            Er/Peakp9yLQFPtaQyewBnhU/LjxyN45j2fVLle18W3FJtoo3cawuQvuJ6Tm
            kj5zReWO0G+GWOth5Mtc2HsOpFt8vbMScRmhTRaj4BodT7F8ARYmH8dn8Y7r
            EdsK7Se15fQntYX6oTbWtu3vPT/nN7UxY/ibwIaVnt10rPwbQgMHXdqJ+bsx
            mzuLLIxqRZyXwI7XBs9U07XbduxxupLZjKCUo08/xyefIMjeXhI747W/lzdE
            96yh3erjJaR0SfE8unMXC+JIOYverVfez+iKGHfo6f4AP0acolhVsGKBuWxj
            vm4vfX9+jbl/xsxAWbRUOWu66/ckOBnF3KPOTil5up3+dg4DJX1MF2gGFu0X
            UxGEGTIdrFANXxzEUH/Lj1fRECHwV7Xr73qCbc+/oAleqNodXmXb81woxiA6
            0VaTyruCNwIfgdyaoqm7/Oxqqxw3uw+7s7wTMLsN727xWiBDFBL4KXbb9U1w
            sX8ITu+bvQ5xJ2d6oCl8hWvTzGt3tdezcf9pqG+JUdLqybG8Tw3t1m5OkvPP
            Pu9imnq32ocehR4+tthhnuXmmsoPsDZgx2rgKAXmcbBm6PTOsvLrBajkRgPL
            DzcuotiJlpjK9dffqhWsWN4HjdbEuAKNwpFa9IKgJLYlKsM2ZfT74Y6/mdGi
            wYdU+NDT0p+JbdfVBVtdewniqMnU4gywIqZLM326Wf094ToPZVBhdEJE4qHC
            a8ZGmhTLHC/qpO53L4fNbV5ilqxNlTRph9Ednk+fDRIuvP1Jgsl0poMfMEnJ
            Gd6K43QYXGA3eqWGv62WfBjyh+o4FEK2z+aM88Wef6FCDwUyWRVPcRdycS1Z
            5UAaWGNAOTm/Z7VhHZaLFhxDmRSXltfys4XI9ZUDHz858OMvOfBpWO67snUC
            i3WonVo28MXgC92Lxjors0iZaVvnc+l7Ftbf5Hc6WaBIdI6NNi5tZlIlf9M7
            WC14Y79v/9399+W/M8OzVlSSi2ESELI1sq0S+6+y4U1U9XHSrruvFO/rXahE
            ZadSxql7BTN3493b4LyVg6Fhyr4uVxRRyfd1kI/3j2ugaRDZEdJc/gfm/Bes
            CXfIif8PRqvMHrAw+lTruTsmQCkELx8R885jFZ9Jnw2jLlSfCoia2PP2YGq1
            DeubpC14m8N2vQM7ThuYtv34TsfCAt1xnewQa530wFaToUUlgXEQnphVHGwv
            /BjGDMH5rczCoEzt81IhoCh3mJvVCsAyi4UirI1zfYBo5D0hFjEzDJrDlXYT
            bn/zphzRYcV+heS2kV6TkKixOhsA0TuLhRI2w2SQFKzmKus05hwLeIPjohMV
            KBKEJn3VBg2iXZGJH2u3ubmpTTizPA2sRRipSuVknQ2Npw5mN35eR3V1Vxew
            WpDqHM+NJtDSsTMesrm9aM20f4J7cAe1sNKZ7jzk9jC1RFhSwYBDpKOpEuEL
            vMyl4KfuVJJM6MqZwlKtZCAFWXzBCrXhBUdggPQpZWeS6kq9McTjVynFbYzu
            W9LlL9Vq34vujeHGHe+x81B3pUDLxujY9FEYiGRyIUklgDRTjoNiHTD1rawv
            PhPSULkP4/LmuuoA5XhHKuKFRuAYhuxAlZjTOexeo+XF6CdT+ZSL0t7jz8kG
            uDje7LNMsCcGPlZQJ+nI/HS8zJOmWmrfxBI8D4fcAWMZlvNJzbCd58McQEv+
            zdY1i5BV7Cws811wvhL96lCuNqGH/DhPn/nq89UFuRgugeRu7xQX/MQWnhtq
            aLsshFlVKH7pE8X4a2KveosQP/JwEzCZQdG3Kl/tgr86ar9NFec+drxNGbfz
            dXlbl5iIrmvrVb0hZXk8XcHVirJzcfbfd+mGiFmopqDjVqUesGq8RYfdCfq9
            v4ddNsgGhbsltzsNvY2pp+kHkxCsHvuz3tImpy5Pf6taWFo5ahLI5kFxMsPM
            UxEobniMWAbJch8YidWxm5gJ3Qqkz/5ORB6eu8Iuhae3B49Kp1f/3pUcrHPR
            CfdpY24+p2gOtkTfpyAKE9ulDi+rIOB2tLrPT3acPzdZqwjll6xP352Q307L
            nwX01rGmyOefKMOHJfZArOWv9gz/gLZSornx560bzTejeYCymNwKqce/Xbe6
            AiSifhCfhcEkQhZbp6deF02E4iKWaP63ENErG4QQjOCmJUBxWbTbsHWzZVvA
            yKbyCQuHuZzsA6gCWOqVUn4Vixg0tZcDxnINlSaQ6KAnx8CEqcfbMaQecCde
            k8ku2GWlVmZQSR4sq5NItuu1Y8HEbxIVkdGTX1vmI7T1QQJRgW3T30xnhIVe
            sMljGzAVhx1nx0HIGSIBb2QctzAfx7INPo+sAJfagkkmeHk9DVCFXlyVy0Ef
            ZudK5xxJ9SHBiAdkuObu00uQMIc7Cq7mFf8ceIiRwOyPIbYf8+JLTNWn39EF
            JiblYmX1zQXjyycJwWsH6jjw74kmHPMqQeY/5AdLRUtkZDQKO2JsuPwn59sa
            pYzL2nMZwrrgc9kmIhigR/i01zq9kpvlWR/hHiz7Wj3qDh/f4z6Kx8rifmdy
            sxnKDHmwIfC55Mx7mDKPY8x2ID79IGfiJ9uL8VMtUL8Sgc+bwAusUfZ3B8uF
            uBpKa2ALNcbeTn0PYTT2/B1pma+FczGK6+fgEBBXLGHr5qSTzhlYuEvNaXY1
            cbdrTFEh8YT0eyzH11gsRXCw4beiKcmAwLh+FLHMcQf7bNMKftrZJwOwz5Y1
            nS+mwpOkfnBpyx/okOEDivWrazXYECf/ZoPioZYXlzvZggOHdGUxD1s0nntc
            P9n3D0OIZW0EPU/qaqnGiBjHhZdliyTiEB/TcBxPTziuODcqA5p92DpbarRz
            DPPCCruXpYSEOmG3NPaUCl0VUuG66AklmyED7TvJlgHz0zyf6j8plzsjy/E1
            8xW9x8KBmUgOv0nPe7LNV/M17mLjDvdzMg+37rCBWqePY9eN0gjb42cZhMNy
            H/v9QpCnWehNMCagyjCIdNEoOrm4Z7Q28Wrt6hv3Xi8+15EXiLp7DzRoKUWx
            I+LB7p3FbOGZT94wsIdb0oUxV+uxQFaW2ZsJ33FO3g9ZzJN0I+QbwzypqUvr
            n+6S0FEYyN/KC3Si5O3K02VJRZ6q1nfvudEJsPqW/Ku37poGQtK31UWA6w01
            EGQh9xcHYl7j/Rs9p9Fc6vv3bOaN5nvAQpzt2/Ps9Rf9UL1wmw8Mc3au4gYp
            KZGaHhI9dAV8ls2x2Fq17YaIA4sRP6YKs8oUch+q+rpUWRdojldwHsOI4t9Y
            TJQP6xq6ywMa4ZEMElGNM7wmtp3Qzs/mfxNxDWaUYEAwi/KbS1up99CrfLsr
            QtDnLFglBu4e1KTj6qGXz9qoNWwTBoCWR1cJbquoK3Ec1U67KVB0XYIBfNn7
            MczWGWtjLdt1d1rmvFs/m/qenpzDRp1mfdJlx3xDX8huKfAEs2fCUWFSzcEM
            CnkZjRDvxxfEiJn2WqRn2glgWkh7EguCaO3K5iIRUXHPUty0a+UjGM3K/W67
            T7CEJMwRWNlsg2je2P1DpXktylkWK1iuREoL+mQ9EM0qGGunPPlQ+b6UUxbt
            7GdSo+cufvoHjWZW+p0+m4VwAi4xlymohdySwc7xRnO3J/fwijPcp2S752mh
            gxNqEEP6Y4B3EyaYTd1gpDcrxZ8gBvpZLgsTD+tSFO/dMtR2MlltVCKuJ+vQ
            kUCn5F4MyKDhCs8rizcxdHeO3et0YljXbqFDRFbCDx9NbPIhq84HNgvd9Nq9
            TKVri0lsrLskcnrmUnQ2RFGQzURABLulF5UZ1wZTqKCcwEuZrxqaAZly10Ry
            tC69h9nZZnrhDq/u4t1glhHnJSidowlQ703Dvj8ybDLEze1PDe5QaTqTMgkO
            vUSdgwWePnFYMUugoE14lbQDQ4cwCO51eRY22ei8js1+bvLC5C0Cs9pR/VCQ
            BC3n2VPBUUJ2tRCVEMmSKlmytt8J4xjqxG0lU+nLG8oJqWSP9zLOcB9WJPN8
            larJXGFJKsv9WWjCEF9SAf9DpPxG1JWhLslCX5GWqMbAb5c71ouXEEzJDHxP
            1VS//QGCmzlvSSJ7b1BczPN1wgXdF/L1sgp1KnOsq8AcU+GCqYdnXWDO3fIn
            45wtbMIlFsPeLVBo57RUWGuAvvGDOhUjfwm+aPYX42ASm8ASsWxgsaeBSZ4s
            bx7Qsgmx4+XxbFDGBcffmpo4UIkpUq7YxYUQpYfAKSB/5g2hnNTFHWRG2agC
            0XGq/Q1mAywtkliWaYYkVqbVH9enJrBb+2q6pNWPkuHizXqmhX5vKDXs9SDP
            E6+JgkmVKcQklmv3R9qLv4mhe/+kzcYVO3/yil85EpZ5f0i+5eaocukr2Rfv
            ukA8Z5adu7io2/EinSCqN+STZlClFSHbbl+okZ77NbumV6SfiqgyN/F9bhz2
            XMrMDQZOBZRx39djztwQjygrCSdeJIGoNuWqCtgo4unTHpDCSb0amUkdd3mc
            sY8bipeBNboLz+IRYALkwosZ8G6UMwGfuFZfej21B2oaqVStMpMbQHyMoTTG
            fdlirN+wnadibgNGzaSdyCJQ5pgXGsNT9UudMEVMHMQbChCJwv7ZdhYzcM5+
            FisEh+7X1Uwa505GX7JfGzxmnQeI3SR9tyCk++A7JHr6uNDuKhJiojYWjp4V
            tjqTQ+CUb5sredg9U2aIhRV9Ev5JMUQscvJmD+eJmTMcvmsrGrY9GTNZX54N
            gs5am1ZHhIyNHW4gAIih0QJ44ZmxzyBcuMUilVVoF3NgF89yEaqcMCLqgXZY
            KfNrzHGrDc/NugxuPJNMigwzgx3hbqYaqnCd/Z3HSapQIGUXLbWlYdF2hB54
            qQpWWkxjjZzh797shMecLA/OzEdeCFEZPQf4fb89TdgI4zQZgvcwfpYxqadL
            f1DlM57xZchCf0x4FPsI5JN1ZzBCk+fjiMBntd+E8VWt2VeM/IcTgOlYOXTD
            4AGfEqKlJRLi8KoH7Kqld3v+YleN165KH7tKMDRU8vpHK9yLLtgC8Jp4f7QG
            VfpYY3RiIngrMnPnCOnxNHCgK7lOH6lCCnecPbXBXvg7m4rpBpoWXmiM0CD2
            xMmgu82xSwTM6jYOQ8inq9H09ZGKuTvZxZjHqmHWbiRK7M8rqikfrS1P6ZW7
            aSkSxgyI5F2RlaO2m/NN46k2zqi2ZsxdC2r1FgXXFubWykDgN94LG2nKEO7K
            TITK6s0EqdmdbnBHe18SyiQ/9Xc/vXHC26v7afL0F/oUOzb9fXx5+h+GrN1A
            wtLf6vBgPWZUq6duhY6WRIzYpw5ay+AMI6sxfFu0wgtrcpgapW491hCdE8Cu
            hd+TGNlVOQmOj6rqMSnZMZn3Bs7HZJDC74i7RuueKHazHI4kkBik5TDzDoY/
            kaAExitDS4QEI5idcYRYnU0BYGoLUbAldM6Vt6q4Vdr6GMUepxrt9LfDtCiV
            /Jto9YxtWyb+YY1rLjXLeQom7vSJm2WxlHESpBc8HJ+HJnHQ0XoTk/zH+Zn6
            xba66eZY+I5zK52y1MiXJcxN1j1hy+NT2YmdBaGdIZfAXCXq9cutax3f7TIg
            VTXBL4/nVibk09RuEjvhMzrxej4TezBl7/ckcV/vVllMIgzByn+osZBNs7uE
            dHk6SJ98WxFchRaL8dxsbsr6/yrJzlwmfTKXCuM1R0vt3DGUzbxO97rtPNzT
            PucjzH7e+7bd9Y5zV2p8jFUHSuOiwoIpqgjc/UQ26tFo1i2QNdPt7TdVier3
            9hftclo+39V9W1tQw5Qv/fqmlsDuUecXLoSY7PYxnNbekAXXX4XB9I/cu5Mx
            GevFTBnyGSqgjCVw+iziGOkYow+iFXVjPqHhLvEHtmk8uqThKexg0+J2gtAd
            Sr8LAfcxuUP4F0PnRgLGfkn3ZUXULySklTcQOY/b//XHMCPAeZscj8uiif1H
            W2lZC5XpHIqc2adPRlmXEo0pBNRFjHWr7oA5kzXcTQbI0fUpxSTHfLP1NHHZ
            MvOqWClyGIxRvITE9tg9lLATDEuainj1bmISjNHNYwZ8hmWVRcU0WJtWkxDp
            8H3yqiZUGVPcoQoxmkpzVtlwmdnk0C4ZoFtixhe2/GJUU5i2u4OZx2n4rLSU
            9UWip0c/ba2ALNOgidj9VZV4ek5wQUNIRVbSqZsrNRAeY/PUZlBPybaQQTIQ
            IYafN3uVu2HRd1nmT1OflIzdfH13twEvSt6kbJo5/bOP1QdtyBo0Xovd3ieL
            kKibWNsCdp90B5OVDUz7XIcl4Nzd/g7xShTuY/jNkuds3s1a2dI7wwRB1eGW
            Z5Iij6H2vla5vavQL6htQdKbmArL3d9L6qFwoNjQRf72xeMimusDek4hoX5O
            BCllTN+k9JIp69ny1CZCsAQFqq2dGeyO5jK6wLoUgOPfHq98X9uouM2YWN1+
            RzdX25W/bHOilN8fMA08XFI03/KAMSVTXWypdzaaGr3Nrd9uz2B9nu798K6z
            ez+8oRyV7n7n9V6nSubIosVrb3cs8irlVpeXNwfz8MiiwezF2VvfpWkb5OvN
            FbiUuaGaxt0TMLuKh93ELihKBD6Kob1muqXBFtPZ8vaopfZIBw8QFreiINZf
            8fWFHO4LKXZfLlqiIPSUP97LTEtmNLofpgYtNl3A+11Hhr1V3/L7sDUR5gQE
            Qn9Y8MZiDmezGlIRBIiUPjh2t/r0Nu9PsIxbdtujgG504HsAbFpu5hugY3UX
            80suaFGPfFb9bVOTDzMs4iYI8Ps1FyZokWdb8i0rxR3p7FQ78GAIZ7c15RZL
            6oeSa7EwiSgQq+/G1J1YBKYn7/5Qbyn7x5l0WJPWRgZ3bZCvXfe4fQrVvW1b
            W9gu5A365RUJ0Bvzl/msErPBGceysbxEEDF8DWaIMJepxXH9v9auLclxGIdd
            ybIkW/qUbfn+R1oCIB2nt2dqq2a7ZiqdTvyWKD5AoGKkHxZZbS4QQf4cmwEz
            m5dFmjCRSRwf9clFT7In9uwlNpykBetCVVS4b6rAoCBBipj8ySpl0uuO/mSZ
            pt5jxB9SFscoW5+/ZZYpr4gQTzxcRH4e/kZktLi3EBrvSJIAydU8GwaXUh0/
            W2c3MppFpjq5I1os26emjcYWjnznfmJbGDwZpLQorWMT1IILqsjZSgvgRUEH
            7WF3+fhuWcdozA7wWA5lAZvU3sDQfoE/GiZtlHsAkWPfAUMH0eJQqAPzLH4v
            +n0j1+MJxmLbfqQ72YKmIWArJJP2YzmL74ilikZYzPqzLzG/hSOIweSA2dhu
            3sgRICjMyTQjaFu5BqCMCt99i8qTOQYzIOW7JOaRqiVkOzs/EswbBMIxaJAW
            PUS+iDIdHnYADMjKhdjgftW6dfybTGIr8oWfLF5k9LzFXF7fIqFtMp/kT7dP
            qJdvPtOilS6yea0pe7ed/ZPSvVwGiHAT+wfam5gMdl5FyJQ+sh5I8S5iDqpy
            gbPuLNtH4Ao9ElGhsyjxyKtaCRHpLugZmtJPNO/srFQ7pcNrz97eo/gFel7S
            42+loOUSmdEtW2CuIXCY24OeQO+HA5ob3slkep1k0R3EUYC0rQC7jg2ZKTjw
            EymmDTb38IsD2+i0Ff7ogDGifbPahWOxvjiwupiPtuXdNo1tzKBD577cP/h/
            Ho7gqodt69WsUHf3WQo5nemVLoTvD/u3M3Ui5bLFjG5kaRus8lw+yLK2wRo5
            1nuka372Ny7zoTZ2LuPYzVa7Z18nYhTbzgHAkeM6DkLiZ2Fp20Knk+wuDL+o
            mj5tqTiqKm2rOqa5rt5kRQOimyXjGJzx4Peicmtg4xJo79Zvz/FPg7U5t2Qs
            AzYJDmZcc0c2qEB7rUr6PT74NJ8e3s9WPZE0m/e3+c7e+FY2bvjNNLM8y2Ah
            ZAHkHD23tkZexA5OeoyHDZxpS4lAeUjMwcusaugolJm2RXuUUDHnApmwIFuY
            tUrgYOfObnYt2JSFC1fOhh69T87gRiTlRhMumYWQtuhMVpAx83timm2sGyU9
            I2GC7/X1SYMy6X2k/VjlWx6ELOyeziyMJE9frQvvuzlixNYEqDXYGCQn0a4U
            eVdMHzvRUgFL6xWWHOUPMjYuHZ5xY+PgvVAcGVXUpQKyD4byvpwRKxONppM5
            61O/2tD4cZwziXdHiYXjmgDvP3gKgMMo1eR+EcC64XYM++6R7P+J1c9WWKoW
            793HKCme8RQgXn808HyQhK0DDxkGGUoID1zCQuPDhpmn9noo9wm3QdXEZdyQ
            nLLYfVF0N0BYA/gBSvgKErgQoGcDiRP3pzub0yXP1QM+EedXkVcGdWVfqcPG
            Iqj9AiXA9rJ/0GshdKDL/uE+noT0Elk8ymBGjKTXTMqfhZXkE+4csQREz/UH
            81PXXs0q9GiAP6boIdqkwBwfEBvy2W5rA++A5gKIwRy87oZloKnKLPe/njBP
            EBDz7nr2hxxvDpDqwi2/Hef4cRww/6w8DsJidMo3slmxXaSjQNNATmMHMv8i
            DxwPx9rN6f5/7BuG3hz8tiNFaYEuYZgIEtiIRUbRm9dUNLiDdhpBxA4c7QJU
            024zfocLw5TG6QsHG767Cso0MdQz62hfIUMRI88Q8bNJcu0Wsx1TJLb5e9uy
            mq2bpNF+vr+rGQz9RRaCgisU0MldAQddqONa4oD0+zomtfnji1dTFiq+zaCF
            sCMQZGurB6Yx8yqH1ODNF5c8k/N8JLTkuqwlFMWxTSUhakePSN3k0zJBhO3H
            cCU/tNjEgEGHH/YJRDlAtg3MwIghyr/PKAxQTAYO0PUzAeZEu+fHzUu2Fv3j
            sTo6ot6DiA+bHF9iDcAD3bImBMpq4CGKz2CVWcZLXJlZaP3fBzUF5q7cxXfw
            ++xhSL+v4Bf/55mIWbh+rApn/WXh/C8zEWTv2Ddclt9Sq/XyhJT7vQRssgVm
            5oXSMZGwGtzujNd/nNms44dZd3LZVaK3jZCNn8vSReTaxFLHJa5o5nbgWCfF
            524WJrLv11PMGdQc27vrX9cp/MoB+ZjX2l08NZAhVMx1GSw2K0lOECQ18Fya
            OUW+IkW5KNTrSNMwqv0+oKpL0KtQTjWRN2skZGxX9wcSAmEiBm1VeRJdR+SO
            oly3MF+ldLqckW67LTdpEszEm3VJcT5ru6Cnu6lN0uJ+Eh7C+Re9806it54O
            vFbQSZirDk/MrVDLcoKQ2IsbiQAPsyVUkCJNzWANa6PY9qUoeKpHNnl2+VKL
            6aPy47Xfa5kvn2YgPaJrWSSpydwTzG5evFRnz2EIRda/H6b84eppkgjmDk8E
            BiQj/OcY9HB163Zq7TYjR4K35j0KGXA5mgUiZcxm140XOS8z7+RfHsh6oBKF
            YvEFFPRghD2QUsYoRLeR/QcT3pliXwA3WTQFre+IFAOsBIU6C//3h9MSMvLl
            Q0HEHuLK7n4Y6dM+E9wNa3L1df/mmoRV365e3vFmXm/emKZAjwi4B3K+2EcB
            rITZi6vm8wEeVUgrYh+iiFbpL4ng1u4u8j9XJ8rDnhgwm5BdBmRvnh+e0KCs
            wLkRzgecC5TsweFt5zDtHJg6ugEq8NQR5CqDjtqWgvgc8MS4PvJ4ZKklimdt
            S5v6gnd0+lCgZoLFXSoIJJZfWDXGN0Xe+wMVv8Fw961DWA65K2Ac5W06zfPz
            AHZ2l2vUXp+aiWduvypY2PEBBosuUMtUXeKRU35D/FN9HeO4HvY6QtXtpqZQ
            9dmISx1lvt4Xia5KAsH760KQzjsa71I2f50iN5FoKhWRmHB0GCIciq9cmuoW
            IVjX/fOoZ0zcuHH2PNqLqZ10yR4a2CxHJzoJvEBH0Ktwqv0aITcUiUfCtd18
            9C4x1NX5p3RxXuew46A6J/0+mQlUektAAO1h4CH2piAyvl+u1/fX//5+O/X9
            LxijGdlzUe8toB2AXS8OnSFEEYX6rlR3RtCKKPamelDeo11gKw37BzUbSVmS
            mUaM/W1l3mdmAaSmP5xIaFoYovAeaxT0s9r5Ypr50akE227B7am0tjSoyXWt
            TG9Nk1OabG6QZWF2UX1/yAexUxTiW2+9Z+Y3bEGkHZfCSgYN0UJ9y4/0nm2P
            0qkK+ORVUA8AO6MIM2OycRv0SUA1qXNGarwrCXZ5jUT9vUgdXOy4mujUdBDq
            ohuqlPcl6DZol9X1jtRscmLM5D1zwbsQVSNx/9DzAjpgmGcy2TPmiiXgxulq
            rQICIT2sI/WVt4/94OYGQYWrwUSOpS/Js4eCigNbLjER3NHLK+y1Yo2YucYo
            BJr4sPcVo8RuDKZ1HaXIjha1V9mafzwdMot3yEg3gW1fQTzaxQi7/A+vh34X
            geYF7BybTxtDDP0u7uV++jbvV1vJuO5AQdDOsduagfc2m/R++PumPFBYid5e
            Jk/MdRIRbU+OqfaiptOtm/fU0byqBENnGbuLja1v1+3ahsK6V+9VFpLXgoHX
            VM+y0xh1II/mIr2x7HlypBWXmQOwtTt1Xn+odcnlFOoi/VBbWBuMZ3gT6ipt
            gidVRW8R/83Mnao1gDUNsG6KZuRP7NcFyGxolIAsBxlOQNJt14bZnSzYPDNT
            O8yMoq6TSJGr7lfS4FQh474Uz1oG1h7IspWFqp5T2UFzp368nFXrsCl9TW+5
            wrVAYREVyPcg20MCOYPSekfZFtW+5d0SV8HrZLaHMzniPMr67KNurm1dVtL+
            LCMn/I3fSXeLv5svlhAbM/uqqmouLrUMxycG+iZQRAf6+GM6TqHOnnSwmEL4
            9/P6yMs9NxPtW3D+RLqd0AlE5rZKAEAPbwQ6TLjL18qbOthVazd1caodQg6S
            t4kde8/qUDFvcScPBPWinQLPLMqWXyKeKDKswwbIzgFyFyKbbQlLvPmM7RIy
            OjaszIDMZ4CcYjzDtTW7trimjNR9tgc66LUW8jnBSpm9o3qL3ZUcLGqVdDff
            g+bgoCVXlJmDNfbFUm9HRboSlpn8oZhX2FnRzND7EvgX+K1kSy+94utCrMo2
            YnvF2G3Q37F7nxkH3i+GdnT+oMZ0iGbHRgL3g+9xX9W+sMW9m24FGpEoNKPY
            eCnCFP3WdAFENRdWZyFo7v1EM4aNgKTglsV7ACd213aSF9T1erVTvIvX2d+d
            PkT64FKqv5azv72uK/oGfMGfU51AqEOpkpUswhH+fhusDdDS3BLX4N/yft/C
            9wLRcZOApDbykX2wDpdrJoJreS1zj1QYshogpoP57fVivyPxDWSAqfZUuy3M
            yCIlIPKfzh4XQUMyilagyUKiMEX+aHjjCdBai45bNUsNASr1DmQUvnZUfEkg
            tQdJSFahzBydq7inDWaLJB1MEXld92cSBmQdg+8GCJrWiNQZnR8DGb3b/9Bc
            4sER1zSmeO61V0nDAapeCvv7wJxBZZALotwqEV9Ct1f6EijbDtsH2NCBvBAe
            jP2HFXGordtUfTvVn5YhyigdBnYINSdugALisgerqvgLW7L7ZQf62REUg6XP
            A7cHZbBD9RoNloaLrqUPsDqBrWFxNk4gPVIq3w3x7ximfhZbqAwhWKW8O9DY
            4bJ26oVtkGqng5O0Fkl6BRiplQpFocAJMSt2uGZ3kNbvWGh3+ZiLRaDWbcY4
            3wd8sZAnQ7kehZJE0NfjTc2mYGZDMcgGJkCGqiBxpHtj8BIk9/a39rmSNB3e
            uwpTwvmSXlea5FZ9Xb13ssf3YmVLkHSsntFVPZHKi09dAOol6DyObKb3/zYR
            Ep30bw9PcuFcm6i51AaasVjllV0mK7YhFVfgdVomIIvnd0sJmUEDwdK2/UOO
            0j0CbMKoVFdqOCoaN0rnYrrAintd8E+vUsOR38o8s16VSDmlJJV8+UX2b/kI
            ffhYcwLTfpIQrWN8UPIPPf2rZ3kQ8K0qh4+VbPadugsLzT9fC2kSixiWN2ds
            JWPHHqX/FXerUUBsfeQAj0UkaflQ2LgHAYTZdYscK/uqbvM6TqpQ//Hzk8mH
            P38+oXn9l893ZEj+8vmG3GP6y/anRaTlz5/35e+fZ8Tyf70+nf8qpWT0y7Cf
            dS16bx6O3lf/vPp7EbZLSN18ViLh11704Vy8saewupx94913xjYkmgZ/f+n9
            9IN3ieouq9lavl+X33900mtFx9K6KFEozmH+bNe2fzQhgesxc2nv4fRwv3nb
            2IiE/Hv/Zf8WYLI6vteyvM5hvS14/+X79dDfu78OYOlAqXzrNX7GsRVe905p
            cnsgvbKCc5ELBeDh/LkKO9/a+tf2e9/en39OQNufWdv/3G9PY31vN2sbX/en
            Nt3/PLh9U5cUyrd8jf3CC+PhJgw0QHZrn2n4TfdDxJdQbdDfyTUMlqZf/07E
            OV8Aw6XU5qCuSts4HNbkiFjWY5e2+CDJ5yP62b7ff64rPnv/JB+kNF7SDPX9
            2QXFd4Ct+w/mk5ON 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
