<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0489.e047</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e047</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e047</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0489_e047_v5157</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>57415</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e047_v5157</key>
          <data>
            eNq1fdmW7DiO5PucM/8i7mS/UZT0/580ZgZQ7hF5szq7qudmRcldrpUEsRqA
            /zriwX8Zf+MJ//f//Ffsh/0LBz7VwX85HvzffYbn4qGP/8PHagfP44iN14r6
            yGuM48e/cOHiz2k/5hBwWI4t1qeGmmvC9uJd6mqllpbx/cH/d+zL+F7rwDEF
            V+14sONIZWkbWtQjJN2Dtw0j8RGj37Z2fgv8uvBtJjs6BD/gDP4C/j37tvh2
            j8Z+m+r7m2+Xn3/5Nvr+tI9bGlv7NeIyXc+EMXyf+qhPDPr1CM9Rlt9qzpDb
            0/HUz7QpGu0dzOzX6+H+DHEdmoFy5HLxbY9Z811Pe48+eo5lppRTefg6aUUb
            S14rPw1nzPpwhEPlUy6M1JNwuQtXrkfiw/LZ7nBEvgFmIHE0F364I/bhKUvC
            Ptx5RT8On/N9pIz7rHI7CYSoF78qaAYH5okDkl1o3dg3NA0p8yGK5i12/JZ4
            HF53Yf/5YB/OTafvwznnwj68TGogj6i560f7+q/6f8X/i5ibDILJzzpuo2pN
            /W3Uk46v/filirD4D6vge3+143v/eZ3DqTCun/vzsOu049fxp1FZ+/U88Tby
            uTq+f+2vMej469d14mEktH49T+q96PhfzxPWEpWv9fVeelAj/vLr+L224q/7
            hiEyxi7b/1k8vlS4/zESiKLb74f2i47cH563WQwuG/g3+me/rwHdbCzbv8/Q
            vOG/vcbe45Md1b726zesFv6XuEa135/28vW/fK3i/2y69Vo9ZTv+2Mf7u4bl
            +4+vexfM1fp5/eBr+XRG+9637Nu3U3wjg6H23wSRjO3+mpi45m2c+9f+OZdx
            jZ/7Z7RRD7+uH67o7/Jr4q9Q/jTxvXSNVvx1/Z5sjuKP6/fDSCCF8UoaTuQv
            6k531v6VwI7AMmoJOdTW8eo5Yroq1s+RW8ASr3kmDGIcx9lucFyxN5381Pvh
            EI8Hx4NFDx9SEsgZMlkItjNmnwByDDw0JxpPeIEpnmCBAxdp9wnG0Hjmf/e7
            CaYeryrmSu4AqRjBGMusd7u6U8s//cO0PaGCs80HwvL4239+XPxnx3H+/9Fx
            5R8ed/7D465jLucCOWjg/9VJWQSB1Rzb+b+4b/x3+2z6nud/d/ri8c+mL6d/
            OH31H05f/WfT9w/ue/1375Hf2fwa4b/sK8FIoBiz/Gcn/fN9vUrByyFJv+k2
            zfzmq9PWO9TAFSDvqQeAGGMEK3g/QbfIUA/zCR30hOw/8csJcXGCA50Nf1At
            T8jyc+KPx0KdOKEfnzf+niNT94F6mKEMZeg2eeF86DMZilVeOB9SN0NS54Xz
            F85fOH/hfOhAGTwsg6dm8KxMvfjC+RfOv3A+CDNfOP/qUOCk5kkiSR2kEACz
            pLA5TbHDYwzJmUzJ//2tRWhOQ7ReTBRdJ0enQaIOsH4S2b1q5jGxQxjcT3uu
            5+bn8nAoIe8hx9IIK8Vw9fa0MjCnXXMaer5d8mJUjrP8oJIeWmhGAvWYpk/0
            bifgQtA+H+nKoZdsahGuGR+qfpdfgNu0smnklB5Xw9VwiVbLNFZ/gmafVgd+
            DCfG/GnxfJafzwfKpdva4Pmg7Elroh12Ps8d9Xn0AhqyUMvXAObDv9m18KVL
            sesX5cFz81rrqGFfa+5rgblQfztzk81EIXVgaKkTrWrHH/HMlWxjQKANKuJh
            jfC01vD88aRODH4F1Y8mGvbf65na3s/0CcD8+qDjUUBbP3mAHdNXzibzjz8d
            U6mlYHof2SoF83JjDgpm4c72nI0TW6H1rICVFPhcJ2gBZDtJlBgQkMuF78W+
            R34fUCRmHKHNYiTQqPaAs3ZehHQPnW6asRh4scQ3vagk5hAhNDoor1E9hSXB
            Y5sblvUKMYYVSZEYsNmfdhZOfjRtE6ONB75ChynZ30GYUC6NKVH+53j+plRO
            eOVaw/QWWE931yCD+mr8Js72IU7uxdq5slsGR114jimFIH2vqHmBMrByJom7
            i0OBQK66zwPt3iK2aefx2HpocfDZ735c07TrXP86gSLMJ2YzZ0Egx0i4T6VZ
            ZtfTs4cHd9pEjhWZnaylR/UMyo6yV450gfx4P+hjPGacHLUCDSjgYTHaN9c/
            RyzArH+6URG07Ii36BqT8j1iuGI1EtCh7/DxAjGtp2x+UDQ8orsfF0jvOZHv
            AX7wVDEx3BQGjSRVpYnGcwr5ONh4AY8tbeSBF1y0owLG4lxhlNwHeMSg2Z2h
            EEDL77IBzHqw58q5t7XXbZigS7Ffv8dfSIHkBKKmmODX+VA/v7lSnu7nzBP2
            Lkg2aC/V1Y59ZORQR7kccA0sg1awvvMztC0kgcB3hm3xvHyzQTGVM+HG2nUe
            2NPTVqDhfer60NM7mHxrA5Mp5h9w3Rm1xnEt8MhJ5p/2NXxp6dkaJxXfI75j
            WU1c+6nPxa0MSBsjDFmdGiOqUN0mf+R9vZ9zV7KTAFcxHoi22Fi5xX0B/N9J
            VfHKWIWizDMnmVrgCPImPOQZIJCTvLI9yZj8kHNopq2IheGPN2MH9yBNg2pg
            /kjUlFXnfjyIjAk23hKtETvnBLtOex1g+DTts7d7s/cC2cg1ENKWgZhSSv1g
            q5NT/FfOAmMr57afBQvJXET58yx4n8FnaYHDqHNuCIb3nH74OV/Pf/jzg5z3
            OVgPUCl4Dj6evh7b130Gz7k3d+E5kZbxew50Ajvn6z7QBXVOm+85oX3dp/t9
            +td9QEKL5/T7PSfGZSQwHspfynx/OUy9ra/vgcbg8+WOspkNSGCVd0DWYfwE
            ovM9B5qAzpGTRowNw04SC4eWUQxcc1yfPe5zHogOyPF2Lbd/7V7gHuUlHqwl
            u9fX82Hfw3vdz14P4JZQVHROeswepiazn48DmEE8C+eE953aQTEVTEqtw0RO
            /xp8KGNQeTAe+b1PT3nKXdSggzzZzonUS0ynsPHjSdJDdA4mod7mewHhz0f+
            lJvuNH8fTNRTT63vLiYT4pwYvX3O6uR3YL69Ow88S6TmAqEZq7Ycbfse7Xu4
            /ftl33M6k5HAfPD4ULaT/ZD8RDKbJecOlj5PoB/tpDsHb0WCe+y4/HUMLj5D
            qr1gSAvZcML1JoTAqf2YAFA7mNMJxQmycXJ7Y1i57WQ8V8Rh5BTiCAOf55D7
            1hjz6Drv4XUiJgMv2fE3AxW3oJee1RWrRT+EObBAdGHefcrfB0Yk5QWzIeV1
            2uhD87bfQ7b9WGv6XiG6qC092c+HxiRFGXoZv2ffxmGTMYt9D8G+F3doDYgF
            87eYz6X6/fMh7yx00T71HLQoyOly56tgIZ6yM8xRBXrwbVj23CHbtrsj7/D7
            BL/+9kqubNddy7aX3FdGAue9zHhe3X/Me2tOonP5YF3mjFz+PawlbkGNseRW
            Lx88vK7232vpOj5B0Eptsujy1mf6Delcy/7ZttJMOImXD8bfPRftThHk8Vkd
            gRpzlHmTzTF1FqweKa890YkVQa6m8NB3PQNUhZj1HNjy84r2mdv+d9/jkvk6
            eO4JTgJFjyGEjr9FOYjtoE3HLd49cgvlIfB+Pdl2YRvEGSSiMZin4iezYOWP
            +/ir+IqwTmkA01aFWJzbauvX5h4cm/RDs4t3YqyCyjQW1nO7Mn1Q272GkcC6
            m7tQIU4gZMBOTdUS634KQxy8QKJP1lh3krqMqYIqMqK8uw1yzk0unkdCnEUP
            e0t2SZfN0c7TsqB2DMP/+fHAKdy0XHi/w007ElP/Ou+HKqpzQAX0HtjAyLsp
            9XUcf6O+gmhSutY69jnUn6kxzD7chIw4gAEccDcQENQfiPfkTm2G1Uwla0dm
            1KmCgV6utvLamPW53nenOFm0uezappvY+5P7Fapyx3tumetz7u3nNupXfzg3
            vOeSk6Sa1nrHIeOdqcmt7PcdAQIlJtyFM5UGVtR0dfC6tbavVGAZ8+UxmZTj
            rpClNvhwuEU1u1RyGDwuvZQXvylPA4wBbTJyCmR+opNjUXbbOQcf6jHVkuff
            Saaj6boP5GFxwuDnGq8JuX1WyWu+PV7lM0j02UsPX8Nkb7qCiJniAoME2Xxq
            m57zY4+niedTmOlvzDm+N5Zkm/sdRnZFdA2zi2BJ8Lmgm9zhlfFpjU3AVMqW
            rdIz2zl6rvl7laarwoDe71NcLwCDafucPKkdv+cUWgwgMj0/p6lWeXdAyOP1
            p1BD/nAYrN41PayGob6eHUU5jQTu6/q8fJQvDxaasVaLpsguqHO4wweTzMmi
            z1YqyU37gYMNS71SpGN0xUVoVYUpn9shd9t9YlXTeXTbtXB+J8FBvveXwoOv
            WD08eD/VAQ6qrKfa/+pgyVA3LG743DE9JaVfE8pj8pUtnAyuBQ5hBhweQs8h
            OyeP8do40NMhSWIlR8xSZilDCoi4bQ51ukXwrM/A04/wk6vlepNDbK623MAm
            n/9hoX9PcG7g62MrpVwJcphBSr6KdqRGIcLj8b32W8e30zR/HT8/x6/3eM3v
            mNmOH+4gfuhw58n3sskGrzcP2ddKXVTWuCpnjLSie1ZoZn297GzHbVEp+WZt
            gEB98ftBoIWTw9xOIGfN5dEAQY4XeiSl4Ng5FTo2dV5si86HVj2hJU87f8j7
            mz0SBqu/02InOCJ+7nnznkXm03Z98lmvRu8aOVvWyutSOf1Zg1ypFPIESDiH
            glygioOLg1ixACKnEZPOCcIikJVOKzyHFehlvT7Kc6CjeXEGpfv0w5Vj27qC
            zfnB8Vj89j3Rzy2RBJGTAu+Rpd/GMIYcpRILXOmZXFqiz3TbueRmYzg/fJxw
            +W50NRMDkUDw0rlcFwgQAT9XTeEgYfpr3CbVDQGR5WKYcZsgesnu2jpfMmFL
            0VTcq0j/9KCi5S8FdYcWGVTXM3RZHFTb8EKwEuIzBwY8cXLLxyKhUk3qPYlK
            kAReesnHX3a/tMnRArZ+DrlZbrHhJRnsExu3++ekhw4Xorv32OKlhJOrlURx
            SJ+YQe4/f994ZrFQKmp0Dy+sO2pZj+x5139KbPQbkNMUuWXMI7mmLAMKx2fC
            kkngltgOeVR0Xprrc15Jdl6pdl708yhOed68dB7fN6d1nRZGp6r0CJYCFVTn
            6RDXGxrdR7cBXcAJGv2sGfI2dyOBsG4L3fQsNggq1oO7CxPkLpd6xAIthRN7
            J/qR5TcjSZ34XsBFmliQPRyM69m2fHuinOQYBJOJGgwTHUMLAJNx9O2wKK30
            r3OzKYT5S55C65c5GeSnIzCiwBRJQi25Q/SiV1rXcT9dcjETqNAyXgFuRCUV
            vLtBA5/GlcooC8RNIiJzKcaV6vxcxwEO4ATnqhiBeeg93BFU5uzz2IQkGU0O
            u5/DiYiEcx7yD3KszrXOuO/Z8W580ivbOS+XaHTV+/0734GciX7MS8+A97m0
            vb+Vy4L3PPO+9uIYy/qb5urDogEJnDFEoloi1OpW5MSEvOLFUtzsGmriMggU
            OQJHztl13wqYzgMj5Mq6cTc6XDoH2ygOC+Y89+psDQpUF7vurltcdg3icexa
            5eQzVF3PLOkYtGrl2dI1MVrOpWgKNpCyWJ9dU3pFP4lBknwPp/swF/3BZLlQ
            YkEA3N6vsxaLZ51rP+c1QEi0Xv05g6IplyYhD3fWcgJIjA9NQilu02F7FCXX
            Mvd7MCFUTfLm06jhhK2VF/7Ab80qxfb9TL9ikwiXYXDKL0X145CRQc9GyrJm
            m/msTt4ah1+EgOAcSL70QNIULPGcSrrzGen2ufOdKI1irDR50tJ3BvwkpShp
            5AWWpIBhNPl7o3sHzDnAIk6+z10+359P+8zjQvzb4zqO+xxLqXR/joVseO+p
            6wT8NvzcgfO+P3+ueRPN8us+es8/PR/vX8/auFWMrYVr9ZXxHDURtYbPY+i5
            OGv0pOSExXQlxkTxfM2fnaSHBZ2qrgdtNUo7SBZiS+Zia3S19RvkmnJ/nAR4
            gP340CEI2gySIGdJmNQUJWEPfgZnHqtX0V0aJIATi32aLh2KGPW5TErGYt/p
            kpa7oEzpnNAIpJblYEHf6qApLBD5uMA2mo6/s7xOz/LrHy9o0nxmjmg73Ed2
            uK9tI+AO962V20yPnN2bxfibnKy2HYdtm++HDjrc22Xfp92n+fE92xamRjEk
            n33fyL2wfXhRAA7yJn1/ShmHoR7LN7IvXWY8gsvoPfOwgBEk6DLrecqbUIN9
            xwV1PX9IKKYWyWumMlItGQQ0gAxCgJCEcBgDzPYGeV10lIVYBlnHWUYyjzw0
            5SrtAryxBOJDMpgsYZkFD1mi1KAKAkixxTIv8jbwmokJZiyz5ElY57hKHzFe
            d7lSc18atGOxneIvA+V4uDSXC+Nr2yXFDw/ihp+/Sx+GBApOxYToTqpsiWDl
            ACv4IkBVvrXX13ZoS3eJfHBUeha3S8cFnt/o0GUQebiHnere1yLoAcJ7HFTJ
            Js4j3oHnd1n6LQ4JieTe0OPjltmTB456ucUOkwbH1i9VtFKe2feCb4WTYz7C
            4++ul8ZK5kc7C2RPx6GYFZJuTqCTMmgYnHrWIm1x4T5FwfWZaTNAVj0B3Bkn
            povjHMwRky965Anui2eCdX1C1DBKf9KHiAel3zHAFlq4UOjYYn9cV9Lnjn0D
            n2FAQIOA2nCNG78LuoDrgCboCzdPQIRaRxEEkXKV576eu/EzsRnXss8JRhau
            oM8UjVe9mx4cGuiV7HOCSnMd9hmawLmumzAOQiPWmsToydUwV7sZYjwNafN6
            DrJZ+zbI6Zvrkcs5x9uDvy6bxNCXGZSbaIMd2/3YXgxrE6mN+SRBpV/QUqgq
            Dhpm1KM79efwjN7y4HMI+Fxhh+BdIkNhXAwEMOSMaRQwErKgQbGIYY1Mmwo8
            0o+POj5FErq9y6XFkhU5PehDgoWamotURsYpThkCx/h32Ap9mEc+3/LI09uc
            CM2mLyu+spcriZYelklvVWJAL03dAUL08BsOxpCrIGZabTEWPXOZZ0s3/upj
            DzKgwgy62pImhYFEhmVwXU1KmomwdxjqgtuAIOvNoGxrsvhtBdama41ASFO4
            Cu4ffFJDbFAU8dDpho5/SpcgoDct4uGxfQzWXgv1EjD/DAOXKxLrq+F6lOF2
            DgYv4AUo08v4ul+8Mu0HiGjGKsd51qFVTQ0S98MxNcEwTgyY9Qz52XHRdsp9
            dV3HHpd6EtAWaQDj/7tBU66LY7Uwu1jLV8LYXVv3no1zQk5UmCkBe93eS0Ct
            Ks4Z7tHyj9+Eosd7PIYe4z69nM4bXLgG0MiPPPIZD7+ksEn5I1XhruYy0MuX
            SAEyunJDJL1jCtMojgOSOq5V6Gpr5wYS6MGJ3JmlyGjIV8CALAc+UMEUcOtJ
            bb7sEdfF9yglMci3CXaXLScBL3qGLwIbMBNMYR2yR+NVuLqIWEvnc3EiPEB5
            nAQtUaehqxhEBR0f817tfRLsxIOe90JawP3CLWJMNlFQUChSQsKF6eYO263C
            s/vXO4F7Bvc8YALL/nzzc/gipMeek+M2yBpPpkc48Z4tNv4dsg3OmuraRFYm
            Perl5LN5NOPDxcYKFqJx3YjqleJ52aMZhiMM3UJnhQ5lEwTluC2t4rhckcNG
            QcJxn4RykoMYmr34ttpW7O6iIxODWh4aDExMaXKoB5ND7yCSIEAcA8ZZhaWY
            fimejHPR1KZ8PBltpxuFcjYrrgX9Ru4bQxMt/FH18ZfFeEo7urO/JBXZJ5Og
            ocNbDA2fxXp5bVjCC5YIrgaVDNd7NvssJJ46sVwKtXOoFRB3FoapBKEZOCWQ
            cDuV4QqV9eTSFnGf/J1ALogipUtB68KT98X4yYB6HtNFt7hikDIG8RqEWc6T
            QPdG/ZOzgNXbIOLCKlDrdM0qn9/DQJf2Y/7fcS3MKfgQCbjLI7ReYfAcTLfj
            vhG2w+zkVpPcGgRknCt188iXQI+8vSDZ8iBsEWz5nEycwkNjpY9D1ivMeFDh
            QccgWHaEjnyWa/C4RQellJ60H0IrItsqUL4Zzo/yCEPv6WT5LdM/li8fgMN9
            edDfOAhCeZ1ORBYFwE9USuzaiahATkrBNcFoOPj3knf7Ja6S3xVhWn824qmw
            Tc0aicF9e9HhaiJGyLQRmhFjp5MahIl9IkL+xiArifHHImgWGMWzQH/A5GOM
            wLZNvnNCnDuB5Ob+/JRn/l4MUNIWjEdQ6+uCITh5Oioi9L2f3oQmCMfcwey4
            wE6KHOpmHe33hlq/fagNi1CwWPo4nQvE6+vlGUSCFaeXL7T3Yb9in/kGSLaw
            x9dZp9gu1Ap6aC/aYVILSPGa7PUtnwsRW6FJh4C0EWeZbrI92R6SbMkwZfH4
            VrzSXqEwjgpFI/SODEpW6Asyl4lHkFAXIaKR8IBG9CW0GQbIwPJjFa42yDfB
            dMebmAjbx8FYjHAzEv74cZkoEeYy3IfWSspYP6Wvaj47igvd45Z7qF+EsRJX
            vuTszvG+SnjcUZ3A5W+3Yg6zRBiCehJk75Cr6t76TZjQfpLL/mHihMokgV2d
            /j5MSEhENkbZ/4cw0DfdYsRD3yHbM+j9It5lkTI5tpgjPoO4jIlizTH1lv7Q
            KMyw3umRt4dbVAxOAxUJxPhNoXhInbwVQoKGtHaz7PnhFIjxPxmuXwLzfuzZ
            O2c5VvGgZv8/TWH93/6DbLZq8eRNfEgMSJhAty3eJhmKkpQqlJMvgw10ISPR
            Tai1kmVWBd7CoSA8qBMMGNovsRTGiqQWjiAehBmDOg2yVrhBLLLed3y1syFK
            hLY05Jmh0IfAhvJOM9I0sUj7rhI0Lm3RkJ9BzsZBId9BBTFCMbgiRoGrNU7w
            E8ahpseAwnB+jTWG4cabUa6dZZkFj3fHLGIlgpdeOZB6Bky6S4m3PUwpLzfM
            tjAqni9+nu/w5yPeBBrs0T0E0rbcY9zpMqWsO8Krm6nU/btxBN/GKKozu5fv
            +A/uqTyNZO9J7K5YW5TSxRxMl08lnK/DIImX2g385YfilRdG5A4h2iAHP56D
            PLE+K1jYIC+OCqz0dmkiEgeOrkimGFf6UJa94Og1yQ6zZXL4lvdag2CD0168
            jr3Mc6oOizP06sBCaIfv6/u339/xJIvIVcLpq6PifHv8b30vh39P9qy+1fd4
            3bafxxU/Lv76Hn59P35+L8/P7wFS/rhlToLjQzSfoIGZGMy8io9juv3cac9U
            gj1T0XjetuW7RCOBKuzy8JO6nZSXn9T8IrYlgFeiV16YcLkWxwzgAhZOxpi5
            D3rEbcdG0A6M7T5p9xEDQ0c3KDWC++zrgDjBBKh808W0BKbjZ5rU47jrYdc9
            ul0bMoP+9A8xHQMy0gX3Qdc9nif+magEg3SiCo6l5Cqkny1dzrd9f1q/vp+/
            vk/HZAb/7gMbnLBT//W9/TrfCfbwsU+Y5AoOXx0ltxWoe5m1cC1TpKqjDaZD
            AbMrWJ2xp/5JoK5ummyODZNY27Kvs5plmJempOHte9XJzb/v7OTtO15+8e0r
            3tnR25e8s6u3z3jjF7dP+YUkuo/29Ovu7PHlPvDtQ359xdu3nH/6jrfPfGbf
            +nWnX/f030//ffuWT4ckCtdOcI8P5tqQxfwTuviNu/wBZdzQRv9dROlcYPjq
            961ngA0IH7J5mkMmKqn81MdiT3JeVPoAJIYmo+xd6dkuFqF57Qh9p9ITBhQN
            cVnhdywKL8UwUjRsZ811mLNGIkKq1Bi0s6N5rIqlxin6a8DhZlqWHTioj1y5
            +QrZFzV9gQAbzg/WAfRGmC72e3QPEbaTxS6+XzrZSye6zba+Edx5UeVOI5Bj
            tGA2XTP5xjzEQTs3wgCDABkbj1Hp6IC+QphC75L9b4JTne6uc++YPlc5RXBH
            kFcUPiO4aOn0bxd6zorSnJpUnOri8abfeZxi0x3/6N0bUO7SMO2PegwYKkXj
            c+zSDTDQmP+YCJWAAeBctIEBb1mdGBHrCVwx0HCN0Hoa/h7TrDn+1ZRZfO5Q
            q6hbKekc+6WrQ++KjPBN/QZ+AqLjfka3C5+NBMKMHVh9sw6w4iVPhzxkzUmA
            kwzlPMOQC4lJvswWwVtHZoLmdDIKwmhuwy2zi4nsRBJvYc0IXDwJ6g1jYywx
            grDmC5h4bVLmOCCHEkKbsBCMKifCDOisbz+9Lx4apHo9Ye+tzWK1UrIRa/9C
            sBNxToIRCp3eLX4PEiM0vVIy0PLh256ckOUO4CrCxCs6lxjVoYPDWbzLVG3x
            3vH5aOl0ijDJgWKJyiWf0z110pFgFt1Uxl5F1XWn+3zO2LbeIKVUCjeuNSVS
            vwDWBF0fwUQVTSa+g4isus/alUhWOgBRBVwvZrr3SBbk5UKlmTIo54+uu81O
            JsyCBOpdpiXs0C40drxDcJttVkeIb3j7lc09Fv07sWSCwXMsDL4vuPxgYr8S
            dey6W6ZtWdcd7n46e30Y2+B5zvZ3sZAz799lAT27CMcrC13mbZm4ZWXoDrO3
            YH2ZdDE2hX7MdKkMH9FRPZjCDqMOxE931AzPWaOiB31i1KKN2BXNp2rqPwGk
            hLs5VdLZiZEucXIZatYHvS35a/+190Pj7txfbT9meu5kVa6OVRSJucfOGoIp
            xeNKrOZ2ytexqW0ffz3PPS3vouJFY1C9CTwzKE/32OcmO4exSZ0HSp13p24+
            iCyW56pWskmZPmCviccTfQST8Nqfb8ou1dLAc3SyY5zfGZ3FW+L8dAq+H+Vn
            boatJGBgBXrZqdtdx9wyDiuAz3IGOtDN/+3v0ulgwmIBBdvzRHCr3/fCCv1x
            r55tLDgOSsoL7qAvcqUxY1gX14DL3ZVaIRs4GKNLikuaR0Om0dfx2M8H7dMH
            O/q5XKrTBzgKY6gXwqzouA4eF65XrgU5gcchkGqgvBq5EjpXlw2AkNrONkKz
            +Ki2sRu4FWy7U6s2yJ4/5zgHZRO06vQoWKAoh+6/BM8bYp1LyOcxK80narw4
            qTYMpGK95iH74Qw3v3HvlHEe0svmVNjaKlT/y7KoLHS3OYPK/ogDuLZaLGt8
            PBlqqa5ZLE4NSfQQKeyyFwQh9tcZbw8qzcKxw6NSkaG/YRblpKg2UWJG42C6
            Ip4QWwsokMxJMw2sNdI8MxJY9PxxJxQTbVc0G3NIjphbyT7j919bhejiV5qn
            ZCAerAg2d3/8jo6v3PkSX/spO8ACU18b8rM/1+Nru4zrPISJw77+9wfHIz+M
            tzLJliE5l6fY4TK0H1vJ+8hBaC8vhvNb3rYFKb7NKJL/cju2/0cTCCZ3weK0
            hJ3tgFeQgSu6PScUw2FxZ4uWcT+I+lRIVFVBfB+4B3MnmQYcPJ5bNZ4erC8X
            4XF6MWEdoC3aYJMITgaW7DsM/X9/0AnQLlcptwveaN6a4hNcLrGswKyqB0xg
            CQ1MUwGKU9f+cA9q11LAuIVKpuN4TCTXko1LRcGjLhJrjbY03ltZG7zpUPpv
            OVX0zPIIb1nYLBO0VCqI4oXcjo6eEoh9GGEZQpoqPdT7QFbfDk+kiZ7vwYAg
            lS4zQexzlFZPHZhWDe3tFCwmfIU7Q0f3SIu+3ttplPibcgvAxej3TsRErzJp
            n2MxRGn5tNlnuYhvCxhJhv8oZjBY0Mr769yHzb2k8WwFCxw2kbBYB831Xkud
            SpJfyzQwyNF0K6ZJFhnuXYiP8H+GMX0i/SbVz4POhvfm4FAZuShts2lFYztM
            zI0XZG4UEDWoAzrmcwW6NS6PaFDOYZoXIWbF8yHzsOIZG/O1iATSUrTQYnYF
            a1523HUVQ1pQa6T92/34bMeDzdjWQ5OXXy/v6/nv2X8fO1/R8y23AmauVaUY
            RvvdSwd2hUqO2pKSDq9s129eOGznVUKSRfMX2HVHt/cQbEv2tZ0Xdt0rf86Y
            7fqXix+Vp4Pogzn1XFQto0AMJPZMwoM2nQjCIPAQ45oUJkzZdYGHZf8YAjsG
            V+MKfLwRODnkGt+TQ/OHhGE19ljfCDrioGVKpKleIeg1klH8S+Xx+kHhD1EJ
            ycJOsJgXo+ass4PzIn/PjK7ihfL6iXMSUV6u+ttqmlpZ811BeuETNib1iB4e
            xi1oqlEWHtkTbvkb47U5+f7k8VMqSvmK+z7nchiNP3+aJqoY5z1KFaJKsfwv
            PeHlQI/Ffj/cZ0jnyNcDfS8rOpOht6Qsk4oyW7oVfevTn7/480cDBxza+vPf
            BSbU6fvPn88f/fm7Pz8hVXz+6Oja2CyiM6ymiopeyGlez3oTchKIzICMD9SC
            /WJtfTBF+wHpbsti+nowyfDQXH/YE7LINL4mUv6YIWUMBHsLO+kP5MRjE4vz
            ErPaMgsviHs8onJDcTDOmg8h4VnhhZnsv4iFx8l2zfI+GYzXlKPfkxadg7yc
            YnOI/JNTrLVXsq1cyxx1XsAqp8WO045baXIKMa5kBB8Fe7dYcwTx0/zJHnQn
            5s7dqUMrNDIma5w2MIkmMGBD7FVgWR2IVaZ92TysCVlfFB6llTLJ0TMzJa12
            KW6OKUvhCRBNctxAeigunxoTZworq1KZE9xbP8D8g917KzAefdKS50hkx+8L
            g9XME1VNSRE+MjBfQXnbgqd8KzFMqztV6IMIDLAoOgyCJ90cO4boSAbWMcFz
            5Kxg9vUG1cV9wXq2r9i3p8V1KutyGY7VgrsldQZA6yBsiIAxBi7lHTnkLdES
            YpZEPtpQpIecl2E7jBFdbswYSkyvTsIvn/QyGB4/HXNimWGuo5Qiqtd0clft
            ZxqVpTb5ceVznJIvp7Tlh7GQo0o2Tu4j0P37+swv+L6+DIyva4Ad3vex06js
            nDr/9Tn3eG7e96byVsNUDSRm5jD4m2UyMGWt0KShXW+5hQq/XTyOSdM9KDED
            alFlsktXRI8OBVhvOqZ+jpl6FlAm5AwrZ62KY6StVoLwJ56DKiMUSTBOeXUD
            vTlxQ4CDp4ZdebnPeXrauJfGBauEjGN0F3ohLD/+VEzLqalkT08Ax40kL+df
            xExkxh+5b1RVghLjjc80nGUVJQyysCnValKfGxnDeF9Da/m0pDcY5PJS+xJg
            akKvjPyM5lWlcPRUiP4R/98BX8IFz94favOnoeZE/qBCzCd4R30cCmlotpOp
            3H8+FqZ+P/kbn55Q9+y/cSXgHuAAj/A3GdrjhgYGRugjv0O/ZBpAt+WXL1EN
            j4/3JbhgXAQL9b08qdlhvdzHufedFy0FJUdCzN+vrxL8LwRzUoeCpX/68VAt
            Ih22nO6C5VloOvpv19dvFaJrtlxugbAzi/8+6Q/XIP4VY/t+b4Nazriqapd5
            eCASbIeLsARoMC2kgDm6E7IL+X0yCYdAFuM5yS33e33QYMyULKwrc/KFwLTJ
            Wggb2173YLYO61vI2ciSC6dyzRfLTz20ybIdu8uOuB3zCqZN9s/rkzyJi1nC
            0wxHn91CsE+mVdwUwt0QarSHVmzQDbIVDUlEI5rtsz0Y92HLKGWJNlBM9coT
            BvXbqL2bvkNo+yX4SlI+Vna4A+u+lXp11egWwObioO7VFJngVQIj68e7Lyk/
            +Yg1P8mlHO2G5HxPKtp8OpNmVewK4uu0RBRiED42yPXznONiJQTj6d/nQVO5
            DDv5sV3e+5rwuSwxcGyXCW2aZHyz0IvPZBiOP3GhIIIrg6900zos5YGOU+V2
            Y/23S4DeeVw/n3VMhUceGpK8JuPeRPGB1Y7DpDMMxRK+r1OboH9K2CJRZsfG
            gPrzW0xYsDZHZdHF0zIeeBme0m+w1abCbCjydsHKmTG45MDN29C7F87t9dV9
            +dAXPavYX3ea7N5PAbaU2X3F378xkLJUL+Uvv61hv6Wd4/GXl4Iqad6IDc2Q
            Oil3SzMPhYUCzJ10k/UTGdFVLomJHlpWgbMOzYGBuUZMWOY4w1jZ1Xki2TBe
            S95go2gFvaiXOeTMIFaWUJIEj8ZvXLJ//N3Qvcd0z2yg7udg1Su1x+HYeDCj
            TuUK35ZAwoGJLCFF9ck9t9dgLoYNUlvRLOCJlw2zNgW6LGVnkKQFGDy0dMQb
            6i21o7/ZIN0yrQ2dBQu15DcDGsqmIKjXi0A08yUTmEec3eqUz8QhSzqEvY+u
            E60xRbJYCA/vgHf9VPNk/rD0GkGpTha5kd2am+VGmZhuw+mVlUwZjfMgceRQ
            sVjbjHirbp9H4RuCiMlJxWyY3kCPk3lCIh1ddBwIQMFIYZ3bl6xFeEE88WEj
            hNpzpWHa70i/hhrEN16slxJcmUVnpMKK8vRZR1fDIQ1oq3UVkwrKBphiiDB3
            xgAhstazIEOmqqv0fzG0PV0f2k+sboyOJRuUYr1YsemLWyJFG6xtUnRykrlB
            MhWGNHG/zVx/xHNPyp4Jm4ZUxtVPtD2VLxatpW+LBf+Io2tZqeBiLjvtI/Sd
            En9YOmaQ6dcFs7GqvlFx6cEyQSp2dauoQyGaEN9JKBDVP6SZX5tldxITTh/H
            ZkEygATSVVmZYqcocN2cdI43s1m2HxQnH0MlSz7Oea/DvzYSYphW2MKuQA+u
            zlCZI9VTtwpbeLxihQbctLAc8trvPePZQmSBsxEmHow5arFE+hUxcnG6GHvk
            b/QyNeB7vtCDDFac5PVOxSwWWS/XYrKwlxyHBJeJIU0ViwiKYssGEgflIcTP
            KN+EMwhpWvD4ZBSTugYWxrTjmcbP4xVAFXAMzyUyZBeDSyi5IGQdr2OYI24D
            vrOsNN/hHlTUsN+unbQC/fpnU01Quz6j7IRliFNjQv7hfU4XibdqRWJmTwvP
            6f0J8PbgbxSWlIC2qoIL2lpN0neMLXtOKR7NHAhWz5NjIzFaWGnBnl3sjGPp
            4cz4CAA2diiOG8qRUcdt0XryD3oqmCKIE7ncZpcnZN2EJGYv9POFX5WX4fuz
            A8qwPQ+PEujzjh5cvz7fX0paaYYod0+E0sflB7Dvd2lWIcF9l6FUy1f14yHZ
            bsvrtO+1tGYYI/dUeCrl6T7H6Ub0HNuIpo5wmpynKcT1e08a0yo3/cTYyMeY
            WpZA2TkHL4mhZaH2HwrwPpQZUHKkJcerQHhZhnaV51+/XYRcBiYFxemzdRis
            PyvRZvP+2pW9lZKHqtoWWKSyy553niwSJc0cnBCWHpj0JVwJnrMoEy310hJz
            J7JCXwb75/XLwUSerxS4FFWR6a5Ef+dZkpmQ0f2Kgt1fMhufb7a0nRB8nu7j
            d8fP2OlZLM80EdUDDj+6pSXUMwmyITRut9+hb5YBzaHdLOYc7RhpaX6M+qIY
            cIo1dfGcrYfCvFCwgMKkIfAm32L/4LbExqTLnXuaYG46Ezz7I97/+OD74LCV
            RNuSnYMh5AB1JQzwZCEhK0PNAcn3Bzxds5ky3b3jVxIy5SjuW9uI796acgpu
            P473kPLrg1kv89yorBjBySEasuskS23DKmk1ZlLJN0iB+ASD1NMCwUBCoRDY
            szHdj+n5933DQK1DPsV05cc0fcMAXxfkOoh6qMQ2dcfnoUIdmahsYCWx6gQz
            8vyqNClWD6W1MQcVeqEwPxBkTB5+lKWm8lavpkWRkuRc96C1lWJVaU6vzMBu
            OVFszd7zDj/f82z+nudf3hOKMyFNYJtZpdaULKz9zNS6brbKMFwTmYThYyut
            P1WkUuiGeCui0oKUkIsPl4+vh7uslFbyl+pTjk2tZA5yVmIyDE1lFCoWWF6n
            RiAilg43AZlkMimT3LSjNPZvVu2QKqhyShWOOhsdMQRVDWZsQ6PgKmKZz457
            jejKd7w920slYJgRiilgVaveVKYa15l8BiamUUvjseswvrj8mO7HKC9DYWI1
            EuC5p/Zn28/ynhwW3P+M2QPcZyNQyiII5C7VvPnvggmNznMRENRs+iB4bFY1
            JWpSfjzT33Hs+511Ahe+cz90Q6rymqPMz3YsUwW1b/k+6pBBcdDOa5MF6779
            /Xx6bODiMtQDVabGr9Q+6eS+ovcKvl88q+2fHs8KVp3v2ECoNPNulKXv923n
            PY5XPS6r8XDctt0rXyW6WUsgKWnldpgj48BKzWfhIYZo8XI6hrCT8MXGv8+/
            v8/vfz6/fp//ZnuraMkp0yHDzhHzjFANMU8sAFxpbKlsWJ/0N0TincznXIJx
            j22STJ/ARviMTHKLoEwvT7C3YIus4HhMx9Zqe7YfjqJvey3fZgoRXqKgcLCM
            cXnHkmq9vIi4/U4n63dQmfT3ui/2kTASoDL81ZqBTkK6YHCDQvgIZIj1SmK6
            NB0iSd4mysMJOd100UAc0XOYq7EbtemYPs3gfHZ3gBytZtkAF76jonNLSF8r
            1P+muSevqO7ch4HrHy9AlyWsZzpdfFDsWnII2PMer5j46/lPtPMhMaMGlFkx
            S6ownyHMwwb0vMwpVRZt2nJGmUusW9XkgNqOfBFOfd7zBdfw82FF8P0/OaOP
            JrLymYmexRo/VwkgKIzB10Re881it4rFOd40vGO9LRrTVWyI/RPkatiT3cuD
            lQVxp1IADGkRdeBBDWXrM7UAxmP1RInKCk9sNcABo0k9VUQjgYLp42DqxLRM
            6izVvTs1l6L9aZKpgtIJCWGcEApF+S5QsQ1PQyTGiKmntK0cHChdomoa2vhN
            lC28LT0PPhBjp/M7iFuIhj2RRnQmkn9DRHiv9LnXsutgF0ue0B8tdCShMHWy
            vllSDfW1AdZKtOV+n8jzdCzv1/3v83P/H5N8wxRqrPueL3EmujDYV8Lfg4MO
            KoGBSdu0DOk7NBPUD42UynRafX6U+kFR2Yl4tuOUCkIXEPWw8ixOOK/VJeJ4
            TZt06Ql0cmRLNfHvYet7nssJtq8uR6xfIjst8ML4W6F+Vf+bhKRW1SpJC8oZ
            2GJnWO00j4h8EKbZdxYIiVjxBSpnEkjVAE3B6yGw90Ai+pUlKbvYNUt6HeZP
            bzvgK4VI4ihaKuAWS1sMbfFULodzuNjZYqZNO+98DM9LYLynOxyG+DAT6e5e
            dWbZeddOi3cxpQg7lTznUqo7P55zj0fIUDouhcXOF8UQjHvxeyjPOT6TzfXG
            kLysD0Jzu01Y3hnjnbZgUOpEOoeLDDYrO4ne1blWMwbzcFa3hE6WNLRSAbqG
            Ee0FFRj6oWfhcWkUlvVwwsDWSCCoOogohxTS1ZvPbkKKy8o9cSSAR57JgobZ
            yzdZ8TaVMsHQ436JRdhg/03BjmiK33SFidf7XVfqkblTf6yYclg9qSZHPQOX
            5gUesLsXq7RlK9ZH2f51b5ftNiBNMQbIZaLzgwr2rF2C08+pKvsyLU4g991h
            oLfhsYldcExs2KJhf7sCdS71jWp5sZPOK1og4DYzPWd00cf8FnaNKPfPa4X+
            YzWLgBg7OPw+PMb3W1xBxJNBx/Rxe2KWox25qLHq5zs20JQjEzasA1NTn06P
            mrG0BQbOVuis5iB5V6lqL/01BZ3JGyQKyf0vOKjYYjMFBrL2B/t92WySx+30
            1PfgrDec1q3h/gvrXcZ6HycI6RdMLnB5XqggLaaO+ABvvSL4PUyuFuoBlKss
            UaCmQSURG2PYY1o3hyEiCxGRwxGRpxCR6l9bOME9W5rFV3OhZ3vuyb5pvir8
            wPcCR2MSKP04zB+X+6YOw7rRx9ZYLvecFN/JK+DYcygvOLgOUnw7fKuaaHbe
            9T89D/c3N31LbPVUTw4EyDP+Ty8EFrN07v1vnEuAPFu2dubzsTyNAJl50qRM
            WBikVGxpdk1sYTrdt30nlKW6KcZjMJrEAxfau7BhG7TcDn7UqnX4ZTlVDO5i
            EKhefF7qVf/T56V4A0XBjq5EN0n7ajaY6/Dvp39fBh4kskXfu38nHIpFMOSw
            h0rZhIu5X7G2Q8Rb7F2ODtzibourHdC4Ca5USW8Hr7vY3GJw7ezES3Vd5743
            3iNEJwF1UuOKYbU+rT4CKUpSt6CotjcvdSsz7GRWwTLqPllLD4rk4hqDxQC+
            3/DHqEFascLyUpSS/mx6Zmtnlc+p38JM9EN7hhgnYdjKG2eYzAoLF8ytYlhk
            ZoQVzwaLUDxhMEOcgPL/zfM7zo9JRJ/+3WusfY37378GK4WQkzHCeYfGSYsq
            mhKINunMCLweZcO362SXCGzpT7iJ2OQiSO2mOY/9t/SNWTrvebFM1RCHTnIa
            cfztd7bqYcmfeMdiPVlbKSqBzJsSsEPWPVSpy1fKN3ssf8seSx2s5AT2SMAh
            oZtXLTTFGNqrXz1bMHCSf+zTxHtK6/zD79fX7/cffqdU2r/H08Br37+Xr99J
            +SyikBxXRUKHfT/e1ViSsAfRf1vM9SoUiU1tbj7hNOW20oykA41FNHvOqhgr
            QUB27uakRBnruCZ32GzzUfvHo+AtRZmKqgXWOi3WyTF5dKyoq8JDhIwKfRaK
            +nioMjVhcxky+r4USFGlGwJCqEAW5TLduycNOaW/77Vd4zzmYUafpU63WmRr
            vA6WO8i9akqZwgdelGprwwUqi2eEQ2fwUjNUuKBr/p1y9NOBo3QGViuJxeK7
            p8z4JKzB+Vs5U8rfjFaCaAhspwHdnZr0+dH+sfcTniXlTygmG3DFgzd7nO6s
            Ij49EiHjydXeEJXtzF6EEOORDPjQPwLrbq7s1hPRnIzOEqVD5xoBJbXvfdWP
            UQTtPJa8kqxIgGN7t7RFVs77XWcyfFW0Yb0MH9uLYHoSpQgRehOUYXr9mAcl
            SNZb2aWybbOAkI/qQz0WZ1FxMPpxiudYHdW8g7i6Oqrd7VM9WL3QTtZi/xkI
            ocsr+sQXC/tZh8L4TFIj9ncWKVGhTS8LZFu6dDPNILKwrH2e51KtW0HHsmUM
            gMF8BqKwxLwOlCCp0qbT8SnmKahAZFQpvvArsM2eo8rC8NhSbry0rBESRDeC
            eGBztCvf6iltpYUF8WpJIUodw57s1NgxkMFqJbZGsba6ED0V7AaPRyez/Pbk
            OJGfu6L+TBw3L+Bi9WrTzNOu/wF9hvYuXcPsWDTYtaibA+nccI/rti6W7Xcg
            qr74luQlD1lj44OZFkgiMjVH0UdomyU2FetnAnz5JqIKq6dbJZ2m3q2qvkO7
            Ewcy1t2opHnVlcKq05D3pZo7tDg+jo27hGDAdcE5BkmJkxC6iiZjUC06Rmti
            T6gengVQHsMFR06o1y5mugQti5Cgi5gnj/eFUXKzMlRL19ezeSWa1KHVq42o
            TDmwZgyCJyZj2O/cPFeo2UCD4iYngM+UvdhY3oVLzvf5sxfb1PvxWcOAInVR
            WWQZHBt8imo+LxbPSOknIX5fY4/Bfvd9zcqmQGDfqZgnkX6gp3oAKBJ3kNXG
            pEgYfbmKgzIO+y4gJtWQ9Ge+iP67ciwtN+gEBEQrts6a72HQ2VucC9D5cPiP
            7A8K2RSbZQqGty1WZF1FhWv1u2eji1tUqxoWvouAwkZg4hdYa9reOfY0kReQ
            q26qtB3XT1b2wCzWtLnCRMZEMngyWc00mddvO3sILjUEiEU8N4h8s+2tPZ+3
            OYGew78fP3NzDs8AuHauT7ZyhzvZ+s3l6dbT7Pbr3vt60YCX93t+Cd+ppN3P
            306py8WMu+CTisCQCD9bTXYAN9wFYsi3qNuoZyw9iY8KrL/VhLK3DvOi632D
            YbuNtRxu6S0y9hHD4gTJF7eTwMyqqskkJAuVsk0f0SNceVhZ0IsOrrSShdu7
            CjF8huejAUYELmt5qZLrVNlaFuMj9rQrgshQ6lT6BwiNekBTZav41sJaxqZy
            1YskrhzjEkHpjz8CJXL/Et5t0Ta+6JkGvZFeq2rX3CBUDBYgAW+JKW1e1ITw
            fKWHurhS+oaLNBY6K82CS+xuvLsXMpQcrku9WFTazbsbCz9Gjyf0kyeyB32m
            H4gdV9m6sxJwEqxAisAnjZh67wmXE05VBfdx4vq8B16rQtaCtxD6eB6wF2qi
            M02pItOLrTChA4O8TcjfxP6XxeBEGL133vZ8RuU7exkVQmSECvOk521fHr4i
            3iRpAhwI839c5iSajA7j+VW4+/XV03RUHxa2kb0FwivRxIlCzN0rACTVmbzf
            WL96nqkSwj1gdlLBzPSOvemsKkYW7u6u0nmRsoXtJC50i4IuyKkps2rg4yX6
            wm333QruicGl27TQbRo//vSy/elDMXp2Z1BeFRVOji5zodRWhElmw7iktsFw
            qfwd2v+9c7HIgs/zbhHkQrgIRQDU7y5IVOCqVE1LvQcLt1SOebEweDrUWC4w
            5v9+zpa7wNKLrCJAvKyS1rLFEFTWYUppXlYzXnVMRhXkitFTI4GVpqSUYhLm
            kbODswEL1OTnPL5kj+OwiAcjZv3MLPhxa8sEUmqmzx+Of/z4JxvW7fHjo4c6
            BVS5hXtNJ6sMOEvcGrbSUonzBbH45P+wGpKXd1D9vKH83zf7sXIy6L1MNjic
            VAZYCguGfwV6aDXsNgbbObNX0gbBbKfM5TGGy2MMdS0txpbt97dch5U9SsXr
            QMbtX5EjCgo0tP7izYxUuBTcT4uFfSK86qsarlm7dHFB+fkNHR6pbPr34z6h
            tNKialapwVzN7rL26xNnTFMzruUxgovgRmtQvVeGomNLWTE3DTBCvZiL0e1m
            /B52qFQlGtrzVjd9VHS6jJ1M4d/DXomF0cGomPylAEyQ750VeeZ3xJHHsMku
            zS9OIAuA30km51sFh9e/U3195Jrox5DZ6tZ8Wl4Wm/BCA1Ojwa3MFRDJtskJ
            481TgJPOAZ+n2mndtG40aA2mKhPjLEZS9zj8fg78raKWOke/mTO6LP9gn0O9
            bMctBDF7zArY3+9KFBdX1JxS35aFgDknqnLvdVsMgDPOnZ0pq2m6JUEiV7cp
            s9aWchshDV13CPlNdjlFAqW3W11hVcRaxakzSTJ8J46zKulO4rh3qQe8ADNj
            JktJmAb7YggcBcTsfcdO6zeWEfqq1WF9V/NPGbYVrC2OugMfXxiaQ4ZPBjgO
            PPz0XqLPYMsAA1d7bXvcsFvVDjMSK8uTSVB5uMlrn2IxX8y68UqbMKjYd4db
            airaBtbYVMJGZAb1gNa0bHvFgWPxuPgb1WyCG7yt3zDL8fdUah7qxmc8CZIj
            q7IItYxKI5ucNpabh1Q2KYZZu3+P/ntSB463NqB17TA1vd+7jw1/t0RbahSR
            RXygxIPkaaCrPw3d00EOLFMP2/LCTV6ouTLjhGXZoJ7LOCXqvlikg98hr64X
            gkII1B+8GXhpduDdpYFoHk7hfgcT8AxKw33021DZcbB43AYxPQQsDdWgIgfm
            uB/M0uVzQfWwrr5H9TSd5uYKMReheRkl1quAACVxQ7M7rR3Wo8SKh+phOz42
            Tt317jFcgZC1S7mWV/iGqOJFmAksTYIPN/NVA63gRvtGIvRifnlQUodygJKQ
            faqTr6zEygdn2JUNDS7Lx9yaDrPfBPIa1BFFud2glESoQfplS9fuNP/pkGS/
            V0OfszStORtvsOriiVQhu3/Igp2pTLeKmf/gviI2y1IhJPqIulS5tEt3KuB6
            vxCNwLW+oO78LlGdWKOGMcJPwtQx9udpNWvxXaldMgAPleie9F0XetXpGbiV
            x/GjBI1Kme1MZr6DrHuh7q3sy9f3ftbvXjEqtkQ8bbrAPh16SkbYWYfvMF9d
            9yCrnmyyoq4QjvG3C0zGLeEl4OX5joWxzUlsLnE9X1Y8jOhvXI/BWOiHLsQi
            /AG/5NY6GP1YhI2qixzmMrJ7ZjRHTVebSG8eHaaK/dHA6LBsoiAV9K5Lijy0
            mts3KEvFDPIiO6Lenov3D65aBVc9zH+XHvfrYfwvjyNt1N9yyzsfC3MAVs2q
            w/p36btVCSTj9q7mXn5tl+5UybNEF7tZ1Nuy3nbFRhvu8mzZLXTmWeh8t0N2
            l3FmD1muvl1754pgBO34Xc1zW/q7qqZb7i9sxOEiZ7UmohGrmWN8K5+2KmFJ
            aVidNe+I3uuDmeQ0NglYVbeJX4uPjcCj1xeM5v4x3ya2KagotJKj6pF2+W+z
            6HcdJaIZhYmusTDgzix/DKy1baMDEWuTlKuKkzAJZ2/JH5o63sOIe3J1LFqq
            uI5lqwP+xheCiio0W0iOZFtSdc7vly6XSWilSHynX35ZzirtqeQ1V0XaX7s4
            7czEbRhud8k7aU5ke/Je4vHJElykG6i7WAYCVxWLjjCrTO6nZKkPPTLu/uIp
            ya//hCqvsjR3tUMBnOWku5XYYwjyYehrYT7t4cMMMN6EW+n95uNbtDnKu322
            YzdWbt/pZsKeGkSaNR3ytvYULinK1AiTAQibJK7FOgQ5gMy2/FixrPq83RAS
            MUH0pZ0qGaey5AypDAzPsi4Jk+yEHRNoifJYEURQBkAXWzrjuvolwrGqkq0y
            PbRZ8+1Ln9mtsz+Tn1WgvtCHx+qTWKYgkAlDit8J1tb36t9v/x79+2Xfx43v
            y5rcigstQwRi1XVKlkmgNh27QfBNWr8p3l7FJGoMaL8sVZAzh2q8Mb+aTwhF
            ZotDm2DqA2vWUdaDcTJA0+9jX6TRA/R9AZjCTBUqJzU4+l3yKJggro6z00QQ
            cIopAKwqUc9dNYN9NvA5YhK4r2KbtG1x36uot1XjJF6KwZjW9z5LKfYsAviO
            b3ZAwH1cJ2u0un7M8lCCBiQB25niygASC/w+piNHFdHn8FsxfdteisGopbas
            0ZAPs2athBCk23QATyE7sMpDUJOZ2W3CqJgmRB4I1VgZ3+PyOqUqAuv5HEx6
            ORX3saxwZhcxuWXYtUaDWsywDTu3MS2gvfvxGFXNV5ptywSdQdQSGt9Vd4zh
            bCzMNFWd+AaPZMTCrB5QCFVjWk7noQqM/bSqFnSNg5BUk1lFWg3Eo2ry7WQf
            2mEJnPw+Ycd18P8+XQ22mnNSIeXt7lY4iFvMxez9rUOa5Nbg6i/k350q7WBD
            y7DbK5hsBUXlt3C+nIBUWL6KE7/16ebed7z17bY7f3lZFuqZe77qMM21mAbb
            y+XfvbhQ2b97bdYqVTlSv1zMpFK70QazEH+WlxD0fX8Oqmis2nDYHz4FXl19
            7luNrsGXOjvMfWlxxpJtcKpXQpLGxHQCaxTHenEjTjZ+sXiUEj24bzEY9waz
            bB8sGGoXNNnJBvdA5F0P/lA/ElupuHbxUqhrN46BVhjTpyK0+b0s1A61/mQ9
            FEIaWHlyMLGo6zNBDz+axe37WnWpSqBoX5+6OdTPvWjtZwK9CqdMiEh/zjeS
            zoxVMML+VathZxj9kmXFmyHPS86cUzEDeloHKIsYAnAs/nZZFhKh4ZR+w8Ag
            WBU0BkOvi9kybHUEfh8uSKZb6dGV1UKYtnx3AVMGGwpitWHpZoumFKycZeWs
            QCIstfaRmcQ7KldknEzlDmqixggCHa2QOYzXkWMEGnbyWIrPwxIkHGBRpvRS
            oQKZt/Xhe1CBsVUfeJw6CRdqVF3lxaY1p7notBwkECoflIG7tQcjFJBhM0IU
            4Xltv5orqwDgqweEL7T3MqQ3x5ENkSV/MMhgcq0SalggzWGtMzvv4LfzuJxz
            WFJUMOIBGa45vnA13RFoLq+Lb0ef1g4dvMhUfsLR+BJTaNNbF2TTJYhMrDJa
            5XIzq0kL3VvbWF1KmnkHmn20lnC/yvzCIIB+qK7zu9Da5oN5vBlLYhvy/km3
            Ntbjq4f4zfEjXS7sNDk+ByZq/C4jyqonTIqZBKcsyyEnQBh/ytZiYgy5Dres
            HMnt+m6pxNzz2wzt971OJcoMejhU9rvDRD71OYTRDnp10vKck6CcC4uwLhbz
            YLG4xvJBh6vnn/aK3dsrWovKx3GxIf1+luPrWdhR78azgJHJOjFF6tzaNOG9
            vViNd4dIdL6LylD86rR4mT8WnOeWoA9vAs/v4r7s0xndGzhU2+JSkfhd35XV
            W5IMJmuKE6UB/mDNP7RVvBgF+7078HW57S+8LGshsYP2MWmknxtc0iqOjQrc
            sUZav1QkfnRDLKkAXuisIseUBlrZiw3QlGp/gb5YloWNjA+Xkywk3PsigbAN
            kSpr0aXPoF28rYkqDWtFnSrmUzL28CRmKVLUVcgK+Pv73MWeG9xt0VdQd1hC
            FabH65q3XBE8/5AIk5OiUqz5+9HtLujRSHLY96pC+tRcz27Vn+cuhbYX5X2+
            lobKli7qBMSAf7VTzyufvIZqsLNgf5wuCCZ10ytSrnUpE7cCW/Qi4IT8rvzG
            FDDTFNtXkkrqrN7S+qcSIvQPxkg/fZ+6t3nkVgX33B3Wd1240Zmc3HZBW2Wl
            LQrD+yp9a8NsALChZoeCXCPu7gjzGt+/3RzYYvGX6ehz/RaF2jq38+ItU1RE
            lJSbbT6wnkRbmLCSEqnpIdFDD3gIFnYOFdg9yJ+ZkdpYPj1HGclWRLVL1t/W
            lYM2Ux3C29Fz1U17z/LXUxE2L3Zj7krzlo7EtHjDoDPVQHxP6NshMOi6wDWu
            EuqLManHbpuJ31L8PMdsuhfmhngJGzevidfPoerwlijzXFZDrdGlrG7PjgDu
            Xg2DraGE0+wyom92gxgfdv67L+SuonGnZRiI9bNO6ulh492bW+5BY5dcG6CA
            rvQZZrjsSaRzwSbFqFs+ztNrwHPSb7kQT7LX+wGhbEhbVFsMKmZaubLfRpMt
            TC2f1wkDx9eMFcpm9w1vVzI4AEQHG6fHQ7Eqsl2VMmhBW6IEL3W44/xnRUC/
            lM9wf+5JjZ0rmel+27kNAoVN+VkwLK+yJaIpoCVb+8WxqztroTyG6XgsteJh
            682+if5ez2LBILpnCcWTwjtBELSBLxOtRPrQ9zP6ok2rdL341T9TaWc4IVKR
            iI6FUO4TAUY+GV29nn+WzNyTTxypd+rxyV/XrpfD+oKRjo8mVvmQXeejSRGC
            kqXKHI1tbroBY1kxksBYmnCM4GJiFymb3bbVJbd7kSECU+hCC6xsnNQ9U5+L
            VV6GXXXxfDai9rbG8Xl1Ey/9sowYL+tfLwT0W/BiF/ihHJvJ+k5SQ+OoPyxw
            01VcYYk6xwVF0QdODUk5QrT5rrKjoDzvxP+tSyUvzdU1r2OzoFulm70eYFbt
            qR9KUVf6+G6pZMDa6ggcKiKSJ1XyZG0HAZ5jWJMf1bxLG4p/WL2EShZ5L+ME
            92498dW0VOZIZaGLBIpiFl+IUJ0rR/YebCaKuwwV7VXdB9MCWdD2hbIl9k9j
            6RhFDPmeSoF568CG3Uxg+y5ZwoYiY56vgyQYluBSieLA1DilzLOjC5UumHKJ
            jerC6FYsLM7ZwibcwyOi0vTFLe7tH+Wa03NPXNtIgKVvFeW2F+PDEA8YFv2h
            mOxplUvOpL5AN4EjJIRgMiFxws/06UcdDVcYWGmAtSMJa2fyyrwhpZM6f4HM
            KB9ZqCGz9zOTWlVXgTO8lmmHcnOypLMb+V+F6JkuquKTBNZu1jMtvP1AscEj
            Mc5l2ViQC806CnYCa65dDGlP/iaG7sWSNtum0zQ8G7lsYXlDqB2ScbkoW0r2
            79v5lmXEQTxnlh27OKlymAxv9RRVCPJhE9goHzJVKpsoKE3Pa1ZNU6AmG7zg
            b37dNza7L+Xm48otlVC2kHpdm8SfdMM9KAwvDIUdm9On/F+PKqjWH6UuHmob
            rCRXRUT0EN4CEsqXohnJHMsMElrUgJ5D8Ni83OhmrCeO8K3bs/4ytY1UqmYZ
            zATKBtEqYFDL6on1G7bxVKR7MPODdiBLeVYa0jR2peqwJOHBYsFDVe4pBJea
            XpttRcgPhL4qSh4DymBXEWQcOwOXoJ/LTFsKu9yeMU2y02/y+hZT9Wu6i+yu
            IiECojBx9JyMrplgejGdkJzJw66ZImuphekaSVLkHpOcNCtE5dDpbUbyViyC
            Ks8Q33d8eS4Yylzytd0ePW0MoEEAnFSbwsP2f1hn3g49MpQG7WIOrOJZLtZm
            YXORnT9FL/a3QccUZpE1CwXg+2Dwrcg4A0c1mBgGwuoD+u/cT1KFrjloGy1B
            IQhtjc/FtpkYSGkxbOtalLmZbpa9w7MJTeL9I73aZKBAxN8TPHzOVgcqhgSW
            wlZgu+5ZGqZRUB3Bf/PLmGUfP9xKtbYFJYAhqlSGSCUI1D6rfWfvRH7fHorg
            2SSvkQ8hvHLo9pzgU0rbtuAv2/ASqsEJXvR4/NW2Gq9tlT62FdlC7CpT9WqB
            e9KVVognZm3V41MFohKnYPr27XXHDivvmZxPZOjdyfX6SBWSna7p7u9gL/ye
            TcV0I00TT8OuYNXtgdtGHXhDT8xBcTuHJaxP16shXrl6OlcnSxbLMG3W4Yyo
            TiFSINlVgY/m17DVlXx1lcisuJy8BLJwcLsSn7f3seeMqmFGfFwI3vU0KDPU
            lQsQOJMUsZCmjOFODxGjqV45kJrdbugc7X1JKJP81N/99EoTby1tZlurUJ4C
            hOwp/OXJhzH3GkmY+psdt700p4opqzShZRQwQjCfOmgxgzMM9vLAiCxa4oVY
            YGJRlM5i1cs5ACxR+D2I7Gl0JksQHhSalOwYzPurWQYp/I5qFatSiWI35856
            IDFIyyG6D2o+CIMFBd3YEiHFKzblbEGHz6YNsP5/2KU1zpW3qrhV2voYxT40
            piAAYvumVE98A3vWslV7GUnqi9vzKRi40wduliWmyCZYTOybVT1Dy6AjVb2N
            fhyfqV9sy5uujoXPg03lGBLBAsaLD7CNKcAH64MYArJT0ekMqeBaDCGfVoKU
            uT73Rv5TnT1tgF8en1RenwnIXE1iJ7xHzwIN74E9dnLb9yBxXb953Fegs5Ya
            g9BFZNOHipspuR5KlwAlTH1jJq4wYKmzXXeVZO8QcdrmR3VjzdlS+zzMw87z
            dK1lxzFhX9v+XKlZftRtq+t9zh3G/xin+nc9dJUmh5kYY+QydT48mpUGHKzh
            4/vIl8uV32Ki3Ryo32kTW1vYXapfFYvREsxtOneIOTuT3X6G02oZMtGJbmvz
            iBb6SO5dtpiMFa9L64sMGQYKdCwOX1B5pkjnGP0QLDswmIyU+vLOEIxUSBoS
            hE+dntrUhi3eofSbVWYOthWTa3zq2Ei0zZd0B0U8TA/Y/hjwGMpsPgc9oVvh
            LtVSCKp7PU/DoTAL9iPd1fqieguM4lsfjGJFu3bBL7k4owO1ziSMJaPAbM7O
            zEU21DgE76FdSxyjCxC+LclPBdPW5XxIXSasgKS1KjOHDYth0Ixk70YcqYxx
            SnueVQ2FLQUdJjFxsjRbhSnNRHkT2ZNYS8mcMQk8hZ2LScB+z8PjLVKcFWcQ
            iIie+bSNCbJGddE4WNJVADzdR+raqfoMN+tiB1XcACVwiUK5DV4fKtlSCYqi
            XCrNrFbCv0141dXPZq5/0PorWSeMNa0iquedeM+aaxW59gnUdF9Qshq+tl2H
            tUC7u/0OyfiQMaiiCXgb6b+Mkiyi1w3E+1CNYhV9eln6M+T0iFBvgnkB90oJ
            u6X0xdCtchtZkGG5K3tJzeuWkEugAiTYxf0iCus0ZRVmwOwZ9yhUwZh1Z9J2
            ySR1aL4CYpc1+qP6OYRD9VyOrtxJBcr4G7Rk1YtcbhwcXvBs9eEdG43yy7m+
            bOxdQie/tQklDfMtT1bQ6mGkiE4SmgwqQWd66nb5wcwbUrDpeer0U5t6Epoj
            e/O13vOKdW081MXdlu1VHvbmOu5tOJhNvrs0Cdwwu+LngkumXd1lx/SXmuTM
            ZP4QayjPQaFunMiMs5lyYmUPE1gI2UzpbG81tdQe6dIRzB468txgv9encbhP
            o9h1OWmJAq1brJvXMhORnl/3p1RlV8udu98VUueOn1JFYWsUjN0Htq21QIzF
            D842j90cl0R6qLTOaJ+C5DAVmZdKgZIlaBueSWUHt3eyfAJpkOLMkKjXkKLX
            rLqy1dvLhxkIcRMElc+5MECLvNeznInMserQp2p4B0a6oApZJW2xHHb7YdQK
            AxDqKKvvatI4np1TozWDlSR+c/0+TiFp5NA2BEHbaXEbTLd9A9W9Zlvqb9fv
            xmE91mN0wJz9MoOD9Qig5baUl0L11UqvgIa4KFocl/L+z/XJ+2c6GStogNld
            cSm6fnJFb/iM81JdOwzHqTPQL1li1t3q7nCwDkIJ577eoRyZMzDH/s4ybPxO
            iifFsDkZix+9+3hOVdlwWXpLlb1YcNgsqW3hHC71d2F2OjsInem73gBUQwuU
            QIuRj4cWlHX821Zfrp/YMzFlpPxK2XM6FJcaiVIyE0FPzDK+B3RrCnICJNRh
            48QoE9jwK/0tORDjOM2b161PKjhuxjhXOZDwRieRM+xK27FVM7/Y2Bcs83O2
            z5Wf2ZiOBlaEpYF9lgs0emxyvk8YlH4hhRi64CvxN8Iv7YhN2qA3EQzhEKtY
            2VSDrCy5C5nUIBmQGBSADl53FAmC/97JjM3qwtPlKrB1clZL9saq3iQaujdP
            y4VX9yFM9gYCXGyGI/jrV5q03f8hi8Lcnqzhvr1x2zPnCPS3r7YqlZLdpU9m
            0C45vrsX7TS57ZXr3bxwdY2Pa/Z6U7jZlAeTTBiRExWeKxuCZMxkE5INsmNE
            lS9mpC8Q1lteNnmdQI7jYlgz3sJqF4ok1tK4veIrzivqhCKPEuae6XewedT9
            nIoJ2zekJA8nu2JYUugYZGqzf1pHxtsqgdBNToWASPUVVAmE6MJZ6WFiKi11
            p7uqnJm/HOgItgY48whq1nrk0oaEteq0tQHtL7EfoZU9N7wVzwFDZ3H6/Mcm
            be7rdnn1lK60dQ0oEz5vD6OpD9ouZOGFE1TBda9oAd5hhlCOXa881zmUkZAH
            J9O/3+vNq89aleDJwe+wH95rseUkCdoRl9tXdXoTjqwwNUyg9dXjmiVtb4iK
            s1jELFpi6fQ6w3+opR/2xBNYtsvB6fhpbtLv8fo7Yt2tq7cYwCI4raVNoa2c
            Cam8rF77/uHTeya7alncIdQ8E6f6xd6Cz8tgMnswwZafPN/WLKkWychLGD9L
            jlwgnBuixMBzdLDdKl2iNIyHDAprY/bl+dRBAjJQID+nkuAOFdO71CbCKlgz
            ipbXmOfxZfs/tIicaVIla/JQPYoGq3x8kLtsRjL6j+ODx42PO1PO6zO0c7em
            ohZwefsk8aQkHbdbjxZCNJIVpdultbc3x4q0qSGqSd9q7QsyK/CkUcjJGcYQ
            IvsY1Iw7zdv+MFEYavEEDZYRxZgz6y65zSvUmD3Meb9xKJWrX+O2po/VHARQ
            flg18MVGqKNatc4/nIZxum7KtEUce974Uw95SNiifvfDaVQ96qYViYUwY7KK
            ykSOqHZ0bjIf1wcHwW7aUPSlGxfDUXgHcGE7Jv+oqyr9y6y3Se8QoQQMxwuL
            7y2hWJ86sASS9Omp1C1aiI/jM7wfBZ+PTaXpteKT0bhQMBMfbjpjvvifWjV0
            9cmcRnxv61wqyDNPebYOte6gc51gN9DLojoX1KZdja9f/E6Jo6gWx/ZNLFfA
            zp0OdOWMAc7K04VZD72GwQZVhB0fxnIyYwOc+z99YD0gk3KGV8edpngfVk7E
            yiX+6T7nr/uwcoCS1gR6n6xdqZIYSfcZajvD5O44JmMxvN/pLfb+N65NRg8F
            nx2tIIgxvgQA0UhgPvLDpn1aQNbatrISok2AzjnMz8vFVXCFMiwfd+2KO90K
            x24r81A3g8EWFapwwH2MqOxFwv7AhGLKOEk/z833o228P8dnJwFitI6rM53y
            Pqzpsa2StIRY0g05IcTD8mePkFhkhPkvyfNwscIWux7lQQmyW68+5ykD42Bc
            TbNuJRHCed5CPZNXKeNkEJCvfDZWqK1a3ccF8/62Vqp/uPeVn50QEv7mvoKD
            idCI9js+xMz0Iz5PkoWRk59fZIfk/3xVksi5oHTv+Lkv8/ziVxfSMKBB/Gf3
            ws1C/yZETvatskyW66eqSY8tKobY2CqTUDZ6qs9xPWUfqDKTjO8FiXqYNfTT
            /4crUG4BcJMiYNEPV2e53JHk+qtAlModuNOhllDb0TQfDyf/Z89CThA/nE3c
            oD/X/09uoBj+FgVedyRa5b3Opll/EWVLyLWH4lFikUXgKRKJY71VVqIrKJHG
            W9SWukLKD4St2Q57PINBfMf9tiqqrs/SlZDY9UByXM2HE/MFaFSpZEAqChOF
            tx6El2amDsl+HpCDbCegZERDNxW1IWL0C4s3uv4QaDgLLQgp9DrGdnHWY4fp
            DoVzzY1uystgOfZHJRggEiL06P08sV/sfiGrNOJaWRWpzMlGHGpTYZkRTm4L
            61ZM5riGzTXWMDZIR+AeRBqEalF0KJz2uqeXNDtv/TO9Pe0yiEKwPrwWuPiq
            Diw7gR6Abx1o0p1i7yKZnMxXZSl0HqJjlurluNn6XR7C9OfibpVt/J3uONxQ
            jK1v78VF1Rh81Bk9E2khIbrnHqTrGbbqhZABjy9VL3mz0Wg41sR4JhYktCDx
            RQS09Xaa6nPFNu6sOfuo8s4K+1oENcH6iqD8bVlukBJbxKzQ2i5PqOr1+Svf
            j7lZjEcsdd1e+M1gbpThxdinV5ujloC3N226Mku4yq3B3A/pxelSfsRUc791
            lbRewFEJXYGZks5PyE8EQNEz6S+6VHqCfcuI12Q9OUL17vVWFT6s2Kk9m2B8
            ivUSuwTjEM9w4xnkanqSqhHJ1cRIwgYSjOvYvxOWuN+vtocJtCr7wHwRfA78
            LiJjgsUj1MRZg47BY7AchKLFyfoz/7WicmDwfNTJYi5HK6pRMXeX7vD86HcZ
            FC8g1XqBELGm4M6/r8gVL3wyf105GsQyGYzuOL2z93ebuPJ1j9NWkepoF7WV
            PAntE5KgqG/WyRqY7/esKoHW3zd7fa63p72lnD05V98q7sAm1xZXsAalMzv8
            kMrHD9+bxTV2tdvhv+94x1UUiZtsyicjkNGytk33ImQX3fDXpl4O7rnMGHyP
            D1/Hxz8cf9jxP2CFYH5r9ypc3sbAoSyCDDJwPsxlXZg3QGv0sfzvt+0SzBRe
            vy/yMbnxweYwYTXKf3Mnu+/tg7YdkwOGoMx4y9ub8bFoPkmWBTmU3B6Or2by
            Rh39rc3EfEALTE8IxlvpSKf3Y0qMGyprh8FvGrpNZmj5cjXv6xCH5+Xmffu6
            BYYqnpKhGSr52Pnt1rfHg7ulkE3dqVxvr6WQTnwvrHwC3rVUgDNnW8rZMncY
            w38TNA5P0KDcmFYdLXryxLit7uQ/2J7DC5g4jDtaXmOXRmyfLSd7LD/ne8uK
            r9RYIVMIUxrsIjOFVbTv074/988KEqN/rbrs/UdVg/J1i8DqsHzGOiDA8ccM
            YGEFVLklm/ow05O8hL7BrFmqfrnngYbl80XVyVjFMGz+KTlRFIS62NiK4GLr
            fhKZsClW0cdbWk61hQ5vfjWUaMaG1VKfNQiL0fvvogNSWFT+ttRl7nGmZBBR
            3IiHTx9zoWxjX5VWBAPX8zM0O09pgmsleSPkzGMogoiLnVipiq9ZdtftjcAq
            IUm4N2HeBDVFxVZGgi1d1J6AqV4puXs+hOv2jB++S0vPZNDsm8iSp9BBOwws
            6sawHes0f2dblZMI2hR2ux7JjeOZNbWp+pnMHWD3zqA61IH7eExpz9z7w439
            2fdbMglrZOpcyt5N6NH6vM18W59u03BOAavW68Hs7hk8rYfBTtJ/B5PZQyr4
            06yA6bI0aQ7mc7ksgkBc1vauXlGDOpWwmQi6tlpLioIHz1I6mxW1ZBUD2KzJ
            G33sinDgKDV92Vn0i8cJAmkikCcLVNuGgj7E8095kGgEVzCQ+yWQZQW9+G5H
            +hBIorc5YUKnFCd6WdknBuSAwa9GNGkXCcsi5usH0Zwi2pNZVGAHcV9L0cmh
            ms1CBHoSCBUTtQBgcR0v7RcIHQqQMlLMroumjTJU2cSYn8+Y6fpOMkOerwYs
            TDwx0JfKsYASdB0ep2sVHFD32A2L1cxyj81GeTJTZH433Nh4f4J5JWh3JTMX
            wDsPABQQDAigeDMD/xLA87DtGLa9uhomQXte40dSSfBag8W32X7fgv/akHWX
            bfe9vLCmAQ6EKZhqML7qFAJG0E3uS8v2QRXvBi2FSEiPFSlgKvfxFZ73PpKs
            MQXz6W7be0O7GROUyH5HuZR7p5C8uqUUzOqAjUiHQyAY/E0qsT69VzqsFkDs
            xiEZS2GQs1IhZNyeVYx6qcx+4f0xF2dirKYRAtou1fXw2gHJYjuFzchd2WO9
            rcCsquRFy0pxzXaYmCBamsTHXh72Xc3CZyXyj6Dchr/knVh0c6rWXU6EJ46y
            dqvUoFZ3ZanqL9HbKm9rUc3LUNYleBU2GtkqAAqNyKFISn8r6qWQThWYXpYe
            BZYak9WJVnJK95oAsFfSYQU7ZVty0oiBFYb1VzLKJpZxnxweRm5OQ6U4sbCC
            eckqIcSADmSAJzwyDhDyz1zrbzW6fIQtu2fRXmJl8bas7Yw3xRxC9SzYIr1a
            yk+zlKdDcKDIvqmmzw/JW4GIZTgGHfdDHX88LpKJn8KbGmIzGz6IvFO3Y4SZ
            vv0gHNKrTeGNpfdmCw3MvmFupPTm6Ynx2EVevRe0v0m4HVkaL+9H/RzWcWin
            krpaVb/2eZL0Pm5LNpDLFYo7IS0ERt9Rf13ZHVovE1+388zTT7MF8K3A/ek+
            FnWBsipiloWYKKxSVIID2MopTPvzQkwey01WFZhH+rLp8UE+mr4HK5RdJNgb
            lHtR3/bmIC92ni5KaIGG9rCpR/n735esv7//HRIp/Kvf2T37X/1eCbMK/+L8
            dbF7oP/uUVnogulPB4/j++C//p5oWf3Ll7WXiX51KErKkIjW7JGpOva9+O/F
            vif/nv145Xdw3Pf3y75PP34EPz7Nou/e4fsv/+w56H6vWkl8jnD82/8G+zdG
            dWBu9h7NsiLpuxp/f15t6uPxuY51DP/LP+LItMyLbfe/0n4eT2ascWn2POMZ
            Re72S0Um2MsgHflz/LxG2+dL6x9zqlecfmyjfh/8uatdbCW72O+bjDDj93mL
            wOCvh9RxnJw0dX65VJIOK9O2+7pUSHS7265W/ap7PxG0tl+FZNn+6I/7j+k3
            tgZlVAWqJntZCtBnAoLIS9GxY3sSPtvwltnWcd2J6CUcpYrdVIu8IMlGEaTj
            U0qaRVjj8/elpFlzI66/LyWdDcNqiQnR4iA5fspTEy+fbpiWtOisFTY06q9S
            0kVOQCslfRqOSaWksb9a+YKDn+kGDdf/rJS0kpNVV/Vmts1DNFcMlqm3M+dP
            Ba/GbmbBNCN9Hp4YQWcWy7Ocw2pDTdVcsHOPXe7gknulq+QR65awnlXO8ZaA
            9HLWRa7zZ5eztnLU/30F6qmKLVzJLPnp80uM5v8Dy+eU5Q== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
