<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.21e6</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21e6</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21e6</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>ThinkPad Bluetooth 4.0</string>
        <key>FirmwareKey</key>
        <string>0a5c_21e6_v5765</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8678</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21e6_v5765</key>
          <data>
            eNq8vdu25DiuJPg+a82/iFeR/UZS0v9/0pgZQLnvHZFV2X16TWTtkrtcVxLE
            HYb/dcSD/zL++hP+3//nf8V22L9w4FPt/Jfjwf/dMzwXD338Hz5WO3gcRzx5
            raiPvEY/fvwLFy7+TPsxh4DDcjxjfWqouSZsL96lrrPUcmZ8f/D/Dfsyvtfa
            cUzBVRse7DhSWdqGM+oRku7B24ae+IjRb1sbvwV+Xfg2kh8dgv0+j/cF3oHg
            v+IX2KOx38bf9zh9u/w6l3+Pfl7ybe18lFaOWi4+wTFqvqvdtbXeciwjpZzK
            w1ukFe39+Bj5OXHGqA/fOlQ+ysLtn3REXOuo9Uh87YXz7nBEvOmBUUl8w4Uf
            7oh9eK2SsA93XtGPw+d8HynjPgsjelVMHX7LA/uSnbtu7OucIexrdtzi1OG3
            xONufMf++WAfzk3T9+GcubAPz59OzFLUEDYMF/7rj5FAiEkjyP+q/1f8v7iO
            h8Odn3XcRmmajttmNB1f+/FLTXvGQJnf+5sd39rP6xxOGXH93J+7Xec8fh0/
            bebPX88Tb03TcTV8/9pfY+hGDr+O19Bw0H7uTw2kweN/PU9YS5S31td76UGN
            IMuv4ze9x1/3DT3qOW/f/yFoJ9/fz+nX6bk9PHSv9MNWGwjxs3+zCR2/bP8+
            QySM/9av53ymkUAM2Blntpc/zqkrZSzD9nugky25XxeKa9x2+1/7x1ja/2vC
            RrRXC7+uHy574/B7QK9Q/jagrTQt9fjr+i0ZR4l/Epz291+Eku6s/SthZWNF
            1B5yeBKYLjhLPhveOp9YjvU4A5ZPzYO/xX6MJU6Bkx+wg/shB+sPjruCSJWj
            iBVfZ8DiBXOcYUSxbDF0cEOjBzzletoxwMMb18u9wBS4aP7b78koocWrapLB
            Pcj0I3hMGfU+r+ZE9pc/sn5Mg5FA4krZO/cfpu0JT+ONIRiOf/znx8V/dxzn
            /18d9y/vizH/V8eF/3rfLIIgtzrn/8V9/b/ts+l7nv/96ftPMxaPfzdjp+sC
            OYAyc/qX01f/5fTVfzd9//2+Nn3/6aXyO7Vfw/3/w75WpdHkkKQqNJtmfvPV
            eYjLhJBWgOiEDsWxjhGs4P0EmZ0nuMXEmp8QoxO/zII/cJ554g+8YkIszoE/
            HgsOMKH+zRt/D1g7LgvtJ0OvyNAZ8iK7x/nQUfLC+RBgGUIvL5y/JkUB/nA+
            dIsMZuu6QJG4zxf/cDHqgBcuduFiFy4GKs0XLnY1ENuSPKY6N6CE9Pcb1Y/3
            W2np0rcWxKgLRyOQ4nGjZtK0ZvBGqlvHxAewfpAkBBg0q7nO6zmf+4EgCsZO
            G9ROnI/9x0zPTU3xjHY+zxvnA6p+zhqe7kuLgiPO45o673y4Ai+y+ZRL5Xmx
            4Z73c8b53PxcHs4cJHWAztTDSjFcELTnLHwOjVBq+TbF8sAkHLP8oMMWTukG
            7XbywLNmPA8ldQah68lwmfhQabv8nEuKRK6mKUGU4EEmx6fEbOMbcBW8Y+0U
            Hxib8Jzpepafz2eopdmC4/lPwz0r6cLO57m9alwvm50n5umz81zFSKC68n3m
            ZtpNx6O2jCHj8+Wixx+l5t5iCldJnLL9Orj6eXKYjBQWyLK/D9fW0aTWtUUZ
            JnYHbaN8Jm8/XEs8vs98yoqpmGzQwxV5fLXjqa7EUBtURQw2JDGU8OrfQee4
            TlgdhHBP6jdz6ZgIRZBGFAnkeIa28Z1ULEefSNAVlsdPzmXHzJWzaSrH346p
            p4wQvh9oqGDioRP0wolf9twniaVixHBUKBy5OEFfWGyjUUHOJMcL34t9j/ze
            of6M2APlQeN5oBWYKHd9ZAYEnp/4chcFeg4QAyD8wDnE70nHJjsWgxliDCuS
            sDFGo4PwRVDQrYaRwHkU01KpcOGBr8BV195BuKB3mt4rFSbOv1D/XckhyAEw
            XpjwyfObk88ml/ND/dz7VHIasxOoSjaSIlTy/L1KscBv/B+5Ai5MJkt2chnV
            c3Wnh0v86NHOO7lyqTzp2QPYzzVM1871zwkkoWJ8shmcJP102irq1a6nZ4fo
            fD6rqJXiZE5VELwBhl80Cr8Dhp3G9TBe0ydHrfT7CQ1XP8PgyHDEQq75aabU
            Yu1W0GDTgqvfI/Z8RoznlLSesnkMzmlSDFY5v89J7zlkuqGu/FTxQpwDC4sW
            4zGanfNUIwGfX4oiSKICMVHOnjtecNGqCpXMOfSSG+gHD/xwKDtYqqYZdq+R
            ix4SVHiuvY7nDSKlDdt+PuSHFEhOoV2UdPzaxTxvrpRMguM5wwQFlHzjPJ2k
            gjUeQN+JwgvXwJo46bQ4nq4tBUKj9gIjbD0vY45YF+RsZ/Vrg8mC253homk8
            dX1YFw3m8nmRIUughHHnEbXGIXwhsQYFStvXOPw5+GznY7pZxBrFGhu4donP
            xW2kALQxwo3q0BiBcfOCHKNr7ev9MZFJRmk+4z5ngJCCeG4xYdFm5vomNZuJ
            /9CHAQKZq0Nw5OcVHKfsroX7kyieejoJ0D30HFc2qrpamZtRXxcVmv0wWhB3
            aVCI/GFKNUoGKbsAoLKEwV/O0HEMlsCQ82PZMc9mjA8Yt1wpZ3sHcp69kCgh
            oyM0k3Nh/UeskExGiteECgVJDVkSFgjsBP+4T7lg4uD5m9lBop4BnCOl2u50
            UnCkwS1IG7Nn96P2g98jLV2yB3p5aB9jG7OsQy7dbK6YGCd40T0ekvbFRXBj
            WiTpISl8ERTy0d6GvCZ1PDToJPzmHh8O4fBFoAkB815Bxh2I8bhOTBZ1hftz
            fCo4fj702U3jPDE+eHvdo4vhSzta1c4h/9R582nQAs4wuSBIGNA98xn2vFCK
            FCeB/vB9pcYVU+MgZO4GCQoKwioavGgMH/nP/cnUNe7IHTbxvvAJ7T3ImeHX
            emwVv5T5GGXiVCceMvdYwtdqXTcnnWLYrsFViYHoPmg1UsA4436ycZpwmDeP
            hFuWaxg8Rr7KkdxRmQOHg1c5BzgVnxoKFlQBrKtGj2QzJh86nQsrDVdUA805
            +gkhJUF6uM3iduS9vjQ0LVEjDyZ27K1/i8wIPSEX3Tc9ct1IAKwmkQkCOzF1
            D0Tp9xsPaDznflbwIpFJpKLkZIJBn3qeewsaUCxFKs+BPCjOa0DNaY8SRB7e
            zkhgPBKvD2ev+QWw5sq5LxBcUqX1uQCVK56TpFzpnCuTmfk5uJimJn/dlOKS
            5/T+PuhNdXgPSIt2n5o/AwIF6OaAtPMdkCflcW8LId8myi6wdFcajQxO3nCv
            NVJAlaoO8sNESyGkxfQ+25WeCRKm9rzPCbONV6jFagNPZUXn8FhIViqYcpXZ
            ORHq3dyTBQas+2AK38nKTjxXf++TwEb6PicVe5/0NcEYtovnrPneh64mjUEj
            IU2zPNK+D8Yf79PIQ0Pk5JMHpDKXWVZUEhKePeQcjATmvcz31qqv27LNNAgH
            LJF5pRMPOWujubZO97VJkqea1jTBgHV8N0jbJTuufPMArigO2p1faXmIHyQ8
            JBnc9+d3xSSssppMauGhuxFI+BpQMOYbC/AE3+hmYqUmD9pWmbYfcBmP+OZJ
            g9IZ9yWPwTnNeFrqdd1tK5sLWoIcAvueOD85ox3BzofRv6iEpvROEPSXM2lS
            D/E0W+nfiwHn4tHOeem+hT59SOi53xVa0ZBpFz+TincxDcHuAeP+vvZzpmFE
            kNvn+ACNiM9FqvO5AguDIAiyB+k77cldQ+umksCQja8KvqgIgBS0pfQjM+s4
            b+m1j75DQudUJ/etwQnC04R0j5yzebY1AF0KMCxmmzgQWDOCilVbiBL/Hu17
            uP37Zd9zyhh5+5z8WKpbi8ubgRQew7jClFYxKeXjY8flr2NwvREg/altFOos
            0ALSgBo8tR8Kv0zGa1JQYWVxew3IXX6n3XhFHAbNAAOc5zPwefSjvppMbzrv
            5nUipDreq+FvBJquQe8JUrrdOpmHe/dBk1A5MYAcH9jlitxhpuUfEBvB9l5T
            kxuy7TdnNOfsZiwHAtG+NxiQ4jyzSQUvvk3Fxh/yTt/p9Th6cl3guqOFOkxb
            6aRWedDNi179YfKhcBIUpjb0UBQXlJ8kvZscckaxSjNbjubbsOwlQrZt85DH
            4fcJfv0dslnZrruWbS+/z2r+Pe+trfC5fLAuC84s/w6l0LWEBIPxrJcPHt5Q
            +6HO6To+QVAmbLIYAtRnEMshVdE/25ZELHXwvz0XnYcY+kdeQV8QASuPBmjK
            xnEDFgQWjGz5lhiRiCBXLhmMNbYjwFiKWc9BJwb+VrTP3LZ/+h6XfJCd506K
            0evpuFbD36JyhG1feM/bvYP3hUXOnRiIyC2Ef+DNW7LtwjaIBUmnw6RMBXwH
            dFUo/MefSk/GGqVLkw7Hh3b/cGXkVdk4UOmH1Yu3ZyCXaml8LBQled3DPmdR
            uF6v7GXoNBWqnTwnSanr1I1LtnMmRAv07JvnzridUDovQ4kuej4Gdy6wdJ53
            23laCZCldHn+tMxzuem74f0O+T+cmHv8u0Gnc8Df6QK2ew235kES6R+MwMnY
            1LVkGWv8oFt1cumVu4uSmNLFgDa4GwgI1iAkx5dtdZhRChlwkljBQC+3WXjt
            1vNY9jzRdYGHEQk8HBUrSjm/0avHYzDICvP9Wpe8UB9rXwhE7+e21fPfzj3e
            c8lJ8khrhf2CGMxOe+T2QYFhB4ESoY0dnLbUsbzwUqlc4ebLYzLpVbx9gGfn
            8+Cq9WRc2gjnXL28xBa/iU0DTOltrmwqbVBc+bQz2zkHCegxS5vn30meNLP2
            Kf6KEwY/13gNauJt20ewZNtnXKDbyMeKYTc9C+J4WxgcFyi7Q1v6V1/LIt94
            PoXd/8GhdZpxdY79DvMwPQkS1DwwGDI+V9H9t/5QGFyO+xw+820O4oDhtQDU
            vewCesjxe5WWUNfQ6ienO52ay+p9n4PBfL5WTeF6BsWlfQ400SXP2+prnwMF
            8vlwGBh7a3jOAQbwen6G00VAJZOOt1EYoSWTgEa0a2KypiaLgTcGeyG46MSG
            9jVrrHJoK3gt5bGADa+1iVGuHYqW2t3CPkXAZ5HAXttTmD7PWxfVAQ6q/Ee1
            /eliLqbU0q94x/SUlH5NKI9pF10/MmJlKopwrmbPIbdP7v01rI+OuYSqyFhK
            2xZZwU7Mn3OotTbn7dcbK3ie+/k1p0YCYTEsMW4e/GFx3djVCP/gsOQE4wse
            LNi7Kg2CE8xJ95vO6K4lO37Vduv4c2KCT7BfHj8+x6/3eKZWlGvkz/EP2D8j
            c+MYr9K6V+qqrqCOGGl90Of3TA4C/XvlvrkK/d1qem6K+xntOtuVQqsgplO5
            E6A+xVJhIvZhsYz+NXBia/o6KQlssLEC8vd7nFlK5GXEVmHqlud1oY9H+hRW
            ms6pMHDpa8a26HyYBWOC+I5tOkIUZ8+GgN44u92zjc89b96zMLGL50ReFUrl
            eW/CuujXHPxs50Algig0EojLByIEBRW42sx3RkPx1Ptelf6p+Jsz1HTTlHFZ
            PJwNJ8rZTQTLV7nZLzwn4ymDWHcW4XSundTsnKAIHLUYDAQHwBzBiTrcEZkT
            hQUCk7jTQcOBxCofkPmQlxctlMBI3fWxDgLfA0s1HFLu2uHav23dgiDN4Xhw
            UfueGI2VzIVMTYH3yFLgY+hkQNTuQXx8r0wxJBZsyvtYiqQwmSt84iy1gErl
            qMHl1pF+RdLpQD9qnfQnReVE8a9nOatsXBSZvH77NqNoDMzWAkeMZPKs/V7Q
            h0UDLcMQkBXFREK8A7jielqf1WIEIS0yKXqWFjWpbXKFZtrvZE6aVIw1LPTp
            lopvTTeomLDZ5UmnDIwKvR23T+zrW5xgYxUXCnK2uie/tkkORKIg+7/Nk/9k
            f/k4s8QClU9GAMlLqDk+MtncaVoxfVnpg1i51E0UdCptSEzRln/w4iE9o3YR
            9ePnjbE+513dzoNa3N9gVTcfKc+LMtr1vhOW+dxR0EAuJLPaztMhrgudINDc
            3jA2JxsDXuZ2CjfqIk3P6iEiUHi0BXhDVHFi78RQoXEnUNHE90KnMYZv+PNg
            SY9zi9yD77/olzDRrvcnp6CDjTSP+b6xJ1ukMDD1YK/qGw/yXkjRO1OuXh0B
            XHDwAk+XcA+MkGHZKHWUzhjI3JvsGibzG+9OLkd1Pca8s8KVk04Z6EXu1MGl
            FyidRMRLT2eV9XMdDSpTA2AI0o0yaMffm1WeYcBa3YR0u0XR9nM4EZFwogiH
            iiHmds2473m4Ywt8Ree8XOJkaNbvTyeSOBNDVZeegcowt097HVu8djqZAOLX
            zq4whzw8/zGmOM+i0BRWJM8fa+soJ/iZpbmeilRjjG4lAs+tVOo83JGLCde/
            yTUf+WZIZCeUqjn3gnwgA0hk8fbzAyhM10jMHbxiKIzT0d1oFy6TD1R1cbl5
            sYb9BR+/QcVsvyyrXxg4mm/VbiDFCev6CKbAhOkxq0XHHFkuHhoEwC3kssfj
            zrOvufZDUyDKPPeHDgppX5qE3N3DyAkIcjfrWZcHX7GKKUquZTHQ4BMCJW7M
            TSB12So5aNVwUIpPME3BgmcFoTTjFHxfKFrghP5s1+Hu2H2u60maDLm4dT/o
            mRBfPAeK5qAivKQn6Ry5OzxkhN/OMox4PEB30QMGrZ7KNxchA0HKcdSaTcpK
            YbStpLzwN6khU7pg+/Nzsc/0ZWHtTBpUEdZkYeQrNbsKvc7mhR6aLoUVY8qP
            JIqOOYdFEpUFUPS6nTkpTH+4aZivPCP9cysrMsf4hWzWoe8wuvQcjZJUUU1J
            Qtyj8XewHPkKw4Ktm6Am2DlcQM0/t89nHhfiPx7XdGz3Yyl18Wn/DkHo5512
            nYDfqp9bcd73NT+fb+aU/rqP3vNvz8fPdVYm30xFQ89wrQa+fyeqQA8/967n
            ooZH71fOJc8rMW8Iz5f92cFP041xTroezI149GclI4FOCQTpopyQw2aJ9AKz
            OT10muaUJEZPGh8QTafChMlUJKz/3G6sYftem2/NC63QLxMY7Vj6qMD/9Plh
            NjrWcpDEnSXRiTikntDJSjWrr1a1lgYTptyHBp3tJmWvbolec7lmcXni12Eh
            11XsO6wZOTibdFHun7JJoF1p7YUrmw5N0SNHlTlEsXJO/X57JvSy++508duf
            Y6eD39m+3822O3389vPKbaYp7mZeTkY0lR9h237Y9vT9tKjdG2rfh93n9ONb
            ti3s0mIpWvb9TXv356sxSFd8/PkuuuqsfqAc0UhgXK5O7hx52INSIy5/mR4s
            QWP6w9Vsg0h3oak45oi9myV7VB9keW+o5sE40XU8zX1eliVzmq4u3xHzHUGf
            MFRgdYN5dUpQ0P1FF2yIpZNnz9IjV/0sgUmiGdJtyVcQeolSOWuKOcUzlgHW
            N2CyhAEhFmT8DxZQwG5pPcbrLlc6najyMh28HPbcla5hk67yh322et5GwTfA
            Y3BtfFZuJMwQGE23fGjDE0+GVC3ogfQqKLxC9TMpl8p+S9oGq4KxHKvPovjc
            XzYNtIiQfSFhgY+hMBLzHu5AGXCbA/h1CB/a8tpyFENfSYvbpeMCz89Y40YC
            UxL7psTlDzE/t/T3r1XaAtTLflDHHrgIdPvMizX5pqCI6UWSu+yPjyNxEwvm
            YbqPCfoxjq1fhgaNxmLfIblAP7iIebWPf7pe6iuZsTgLlAlOBKae6yenDsnd
            aelNPWuR+r9k0AQNOiYoDGwPemPuQ5NSlTB2yQlKp0aUq2qdFJKBVQUQTHjX
            hImlqTFLBPVjiwmOmEw50EEYKzGFF1vsr/VKEUbUath34TMuv+Q6uHCFqLDg
            TQKhWxDXCw1bPFfAORSxZJ595BhPEot9LhjnyBh1Vi7mnW971nk90PzuU5w3
            4/Oyz0kBU/t88nO1z7BT5kr3GVwXYHBDF+qNvhC/EPTNed2nZEh5rjnsMyPN
            87TPuOs18312WPp8oxluBhJBpA+Yn12HHGJM3KyJxXNxQ4ReJZyyrDFXGWYy
            IwaUpefVqKbBHnkurDJZzGfZ8cSMVRRsFXEyGd0/B10/N/NLGNb3tK/rgljW
            6mOiFzM5ZPnreSjukn1O5F5GZB7wNYJL3yKKhJ1NPJEQKV085CRvPnQhqWOh
            LXd9OcdgDCvm3vw8WI+Xq7ZjEy8zlWiIdbrNoLHTYKRKG2G7tJNhAu6jjIf1
            XR8rWKHaymTMnEHeykRKNTGhKQaIxiT2cvrxsuagr5Eb2Htd4ihZKWEHs8CN
            BK5F/nEsMFcowdvdwcA9LUwaCLSQtX8ws0Be6fhRwnADujQwOu2skt96aSqY
            LdGBrht2TkRVkr9YUmReD565jHmmG3/1sXt0EEGn0zzJMcuQBuw4ULbUVqZr
            tXAfJxUmlQVNrAomQoPNXh5kDVSfcK0eaCsHGLiBxqYRTzxhHuGh0w3Ldkqp
            PBreYjEtHdvHCvZqeUikePNEO5UrHLcBh0rBz8F4gUgTlbvSv+4XL2UA9CL/
            Wp+zdnE72k24H46p4Lw4EeTRcqUifadzyhF9XccelzqZMhfpbmegtjlxc6wW
            s87ATRPG7tpG5jg5J+TQhXWZ82z2XlowVdws3P3M379F1wXupcJARRxTeKJV
            l+Cz3lQX6QyxZPwtKobyhQVS1Rk9Mq6XL5ECuzdVokq1orw0iuOAYOHMDK3o
            VvGEhUn04ExJHqXIOoaAwoAsT+Jk7g8z79eTzvGKDa5lEJGshaAoBcRAtmpL
            vOgMXwTWzxSrTZAcL+BAXF3M6F8gGk6EZxcckwnYVEYxgaeFWjDv1d4HPBV3
            ausopAXcL9wixmQTJSc87p3ayeQZJr+b/5Bnt693KuRMJvYwgWV/vvk5fBHS
            Y8/JcYMRzMzZ4yXeecaTfzSywdVqqmsTWRkMh8Eqx7N5XPLD0fqSf/FxHY/a
            npHAI2erJS46uzpcew7NIuKb/V2ufWMjN0u/JwtHyDTs4sW31bZid4yagRMw
            E3f2hyW3p0JjQQPyGUQSBIijW6jiSr8sBkasxZILJwLXYuKVs2lF57OclvI/
            Quhe0rubpU3cPdk2+3vRAnkyCRrGnEXD8Vmsl9eGFQ9RSXKAikxJu9knCAus
            bmCFQLuBAgsyDM0CqpXZ9ZZ1G0i49BtCwt0w0JiaT+Ke/J2KYbseFWdDy8WT
            t8XYUb+ZyXoxpqVsAnk98BosQxlT9Yg0DjgLibWJJ0zU0sOxrxnGo3QJ7cf8
            v+NaWNX5IRJwl0eVB9g/LccnM1avHM7Z8BAQbnW0Lq0VLwVq6u7l1guSLcfw
            3PScz6Gg62BKZD/kpukHNeWDHnCw7AgDZpaLioyUsShlMO2H0IrItgpU3Y7z
            o2J30AebMnQzHcH58gE43IMdmcx1Wh34dCKyeB5+Oi8pf7h2YrkDJ6VQuYrS
            ykGI/XtlpGxEopIehWaMeFSQIFMxBndiW/qKEyNkWmeCOwkmgBgDCDNUI0L+
            xgwJEuOPRdAhVulopebIyccYhVZMfJXr2NwJQnTuz+fzzN+L4cCYwPgOa76+
            RtaKDc9vCm3vp9usKcA7t0kdmSlcZPXgvVUBOAP4e7IR2CZdDjuMQIULSsU4
            vhUJ3LsPUL/kzkkfBVmXmW/DiAVbI5glh+vQC0X5Ht7P2D/35zIeBUbPodV9
            hz14QQpR0AAOsW6txHBfKmEAp2eKOJ0TRfE56GjQGxZl3w0Z3FnlPDCbnjhG
            cbaP3QHsEG+9A0Wf8qGxxffQOwhnmmx9n59plZVjGJlaAWUP1n2zaihmKoIg
            OGEabFDH6bk/4qCeUpWxLj6UROfHsYySTnp8R57YZx448gAYIGvWIRl2Qqnp
            GWuoKUsti31o5axvZacwuzmcUsggusWmm2eRPdkmebP17ttXi23nVDHjac5S
            arVNrNV+z8HcjWkTwxF7ZXwJyl7BxCtzAIoOa8tThrnMHHys8glKHAkqJPML
            mD5eVZgVaD2EZBo9mIj2kehu5uowd+jx44rCRBfDG8afMvhUaQuWyOogntPv
            4ZmJTNnBPrD47IgYl0Iga8rcJcsq0ZOrqIfw3Mrni+85Od4glOBxtHR2fZ5m
            b9OuZv6Qor8gTFhE91ZEAxOPkytpMP5wPeXsrx4YQDmhBjK4+dykKLwUTBzW
            1qh2iFHfdkjXtdTC4C+hAYoYjKVUFEwiTCqmNko2mAJ1uGeO+Zx8uAsv6ytQ
            qQk/WAke0oOEr739ZCteiMxIJ3E4u3jkBsY/L27gx/NR9c/zwwnEvKmmCkDz
            rOko2I+/PXa+EswRCUqiVnW4NmZbvFSych6tjGXhflVaeIohpYBuQpOD8q4q
            /4Gu+2X2IoY7KaXN5Ih0+h4kQDCLg6WaRRHSiyZFve/4qtZdFA1Vt8u/So0N
            2hYsL/pGXI1OCn8xYN/fXNigkEinhgYN7o6EFLgUBqRKPiAMGMIfHqkO3eUr
            1jSmAG9GpWQWCeyM32FGNKx8CMIrB1JUjzDdhNHSwpDmCVmM61Q8X/w83+HP
            x7Q/mB9H80DtuZUWRscv06ib59ZqC0r378aBfBtlS7szh+/4L+6pmudk78ki
            Msml6DZ7PS2UmImvYnEZO7j4Dfzl+1S1KEbkDiHaIAc/noMMsrzqYIYXJajC
            v+28NBGJA8eAAtFoKh2Oy16wN2aPR+7Ti/uW91qd8mHai9ddHoRrVE9Itpqq
            joVxHr6v7d9+f8eTrDCsrrN6crJvj/9b38vh35M9q2/1PV637edxxY+Lv76H
            X9+Pn9/L8/N7gIpG16f4CZPZJ2gAugAWzFV8HNPt55qPvxVjobSXsb1tSxvc
            ckpyYXV/6n6SeY1aXn7S6Rex7TGw1Kk3ybUYLlfB6Q0qqz7kj5n7oATedmwE
            7TwxtEGjnRFuRRlgBEMC7uuAOOnWARnTibqUxszPjXkex10Pu+7R7NqRWef1
            i5iODpnsWtfBACOeJ/6dqJSN7kQVdgAFV6SHegdW9n4Lpnx9n7++D8+GD/69
            byXHv7df389f5zvBHj72CZNcwfGrJytv7fdeZupdy7TgukvXPAk7u3bcGCFv
            H1yf6qbk5tiz2bbs66xprggwdSUqeFRDJ5/+fYPm7KjMBrPZUZgN2rOjNBv0
            Z0dj1huw8N89A7v59+bHbVCj7tfZ0Zk3CrOjNvlnVGZHqc68z/OtX7f5720/
            r0dtpmeG52aDMX0w184czz8zyH9nvL8Z5TvD3H8XUToX6L76fevwBh3Ch2y+
            juiikkqU1d9hD+9QFfBYMgOZKJ9qe8UiNLidVNSkPHXoG+KyVjCpxCEpopGi
            YXvarsM8bRIRUq96p5OkmkMS0k+Bd7Fu1W+cj72EDmS5P4yy01fIvqjpC8xz
            5PxgHUD/hCpov0d372E7iIv2/dLJXhq2Vju3vhHc83Qq8QWa2IAcN4P8NPlG
            FItOJ0XKTAE0Fx+zxiq9VNBXmFnF0uheHGSN7k+PY2/Xpj5XebRwR5BXdJPJ
            REtjBKfQ7VlUb39KxakuHhl1qn2KTdP2oGu2M2WgmxJIPabUINco0wdcXAlL
            hD5wZsI4Fz1bjVtWJ8a1WwJXDPQ6RGg9UHeZMMIgCse/qsyFnxvUKupWwmzC
            fun80Lsi4/RDv4GfgOhUl8wycj4bCYSl4zDZR+1gxUtuKrk3i0WmMvO0jisy
            aB4SAXNYw4y3jkRVyWkyZEiv/olbZhcT7qjnbrDWxpTxydqK0HeqO0awhruA
            iddTyhwH5BC4yqmMLZYf5q7BErzLDwcBhk5sFZYp7Ly1WaxWipk95uxyYmTh
            DwlGxUB0TfJ7kBihqZeS1Y4cvm3JCVm+HK4iTHyKdq50CBcB0WWqtnjv+Hw0
            d9rlkGaLYonKJZ9zV9OREB7msZYvRdV1p+eC/X1uvUFKqRRuXGtIpH7VubD2
            5QgmqnAfvYOIrMnsSbtAi0BhIKqA68G64oqJMhwtrdOUQXnudN1t5kLPZpZ5
            ZWaxWD/r5BzC6/jJNqsX6uzCoiubbzP6d6b0mniY1U0VmSudIFmKZ2/xYDJt
            y7rmhUbT2SuMG5X47mD9xrCbef/uFpFjw72y0GXelolbVoZm0dLLaZ2VgwqK
            K6sMpktlTJRRBsJORBj6IH45wVmEGhX6aWMXqOOAaA5xU/8fFb/3TZX0VMvL
            MbgMNeudDpz8tf/a+6Fxt2QhOO7HTI+NmsLVAa2KtuqjezBsRY8MjiuxmpvQ
            kn/b9/FPeO5h5W91NFhfgmvDM4dLtcthn5vsHEb1eR6L18fdqJt3r+nAoZVs
            UqYP2Gvi8UwHhEl47c8HUR4ERYfnaGTHOL8x7wFvifPTtKJ9BQkIDILnY+bJ
            CgyRULe7jrFlHE1OPMvCs5DC82Cqnq14egexWEDB9jwR3Or3vbBCf9yrVxsL
            joPCkiG63jvpwyF0jS6uAZevMp3lUCD6pBOzSyZmm6gjfB3PQHRVLNEGO/q5
            XKrDBzgqE1ovhAWk4xp4XLheuRbkwe+HagUC5VXPFdekN0oD8GSXZbhfOC3o
            r21sVmMA2UxQE88y9ufss6sg+UrpkYdFbjTdH+yWGctinZcqsPqoNJ+o8eKk
            emIgT8uUoHvzRyTDnP4NLH07LVY2p8LWVqH6X5YDZHHXzRlq9RW5V2YwfCSW
            wY2ka5ad+YF9o2/ZC4IQ+2tyHAnZkGOHR6UiQ3/DKCoN5DhC58BYdBIcnrBP
            jwaRzEkzA/eMzAszElhFdQ15QDHRdkWzMSFCmXIufmuf6/F7q/hqtPxLFaVI
            BuLBCPOgqujv9JJZ3lzFr/2UHWCBqb2Je/tzPb62y7iOStUZlPw/HhwP2zFY
            fhDPqO2iXe5wGdpca23pIwehvbyZ5t/yFtTJWkPTbpMrjWbT/08mEEzuKqBS
            1U3u6Ak9aFrRTETOFjHaoU7uB1HPMxoX38cyCZIV3U99enAfetV4DicBevEO
            vZiyeerlg00igF5I8ub3kv4Hg87SmHJBL3TBG81bU3yCqwBNwaUh4B8wgaWa
            BZoKUJya9oeb3s8gBYxbqGQ6jsdEci3ZuFQUPGQmB7UDXpXCsmv3ytEDR1OB
            WZZxPKGvk9gvfF+cEkuw9823PHfNIIPpTa/0NFPTXJEymBNSIoS0Z3pQSxzg
            NBADJ9X7KG+T8rH4G5TK4eZJzq6U8Z5k1CwODPQJUChPBfyZbpF4z2eH0rAr
            9Tsol4UhcFgVdbDq/KYXVrwc9jpx5Abt9rbodGSmPsZmlIsiKKTC7LNA0RNo
            NLnpcxPGrzHs7uGcxDQ1YXO4Vga2nOTKpEopOadU8rgw4OdNxBhpsQKFca03
            8wkPn3C/bvXzoNtlajsnv4MoMZRgPXTA9+1YOTxuibvbqlOcmPYbtVyCTQXm
            F0pLXN9Zlou5dVqiFi/Orni1bsfNnhVnHlc5LNHQj892fGq+3dmefr28r+e/
            Z/+97wpyL4ffipm5XFUBHu13R59mEiXZ/5lUE35lu/55WOrCrnSHhNN5LO6z
            7FK7PkaoWhanbS9//rAxZv15Y7b7XC6e6DbqO9zHpMKTAI21Gwk8WQgeTPAq
            Pikp1eeCjqoJyEpnUZnFngTacyMYi3zGffaHsF0pKXh8SQaDRSVGrcdOfQdt
            r2SroCn2Hwn3YLZlxD2fiutUqs52nSB1nXZoIlB482xGLB6uXvmEh1cTn40l
            ccFWCvaf+ft7imdSDsd9tqEiB7s+V2fsM8L2LO3ssmGDK5SHPS9+B0tvFwPb
            p0HuLGLyihBxTdr1XK2RHGIIKwLqGY07HwvOc2K0kwofp7eH5GP8Y1JgVqad
            f5WIuQdTqtPiP5ghe1vsoHMoXm7xcgf6AH5hT+A7f1+y+yvv1RbTSogLyhVU
            /bmzkUBhCP0gy8nMSZB+/pU12S4VeArTh7Et5iUNRlursiA5GGHe23mSwZM0
            IJNZFYYdxBhSM8eBWL7wDPjbgjwrbk9uf6802nzFfc/zeF7KFau2jM6D9/c8
            KA1ApugqP23oZ1s5j2VRGMA1xWeXAkgrqzAXmBp2ZhkDrjOkQEnRZaCDDgs+
            K/QXvUe2ZMJDW3+PftKT6PvdDt/vITv/FkqV3iNMew/mtPM9sof9ZCfPejOe
            HZjWBB0r0Arx86OfT+LZz3TduG8geqWeRToUbHjT3ywOITiU+HzNp/xhXcow
            VWIjgSA4FTkhkz+QUxxl0uBFUhb+y+Ms+lHyvuVDkU3lQ8VTBIG8GUP6kXbL
            46IcGFmuQOZNKUfK8KF+TBrYel8f6g5yxlRFaAxwj6aM6gsFrEExFQWtRakz
            zNcdLIHQnBTr8yw0B5n5Af1hLsrbzMVdmdACmck8OgJuMH2jzoveAyx+iTGs
            bRK7nAZJbk37DMn8EMXGr9H9GuYcMbZscUi8hYujV+xscZN/ip21tlgwMfDs
            mKc7FHKx47Tjpm3sqcoupnZ8fDkHiKoIs+wUYtnR5s4+vsxeHnSAgBUxueVw
            h34X+4pM6TAZTvrIhKGjYoRhLHRvFhgOvspBF7MVJQTQTh7UFTJT+Ex+40lA
            tCk8AZMu1yH0EmVpZCXpSaOlz6GoCP28juiUmryWMHtpm1GyuT+racanVVUt
            Bu8Oyyjt35qz0tIFgMecLXCQ5oS0/QeMX0/PfSKKY1JBcGc2xZuGI9HOMikP
            UPhWuUx4m8QikkGA2l4M+lXLTNlzGMR2Lzo/A2elPlXxYM+TmUxoYslxhp1s
            ixGU4WULluaAHQzrg8RAhcxXJVkm4zfNtwerEfNxdsUqqRsErXzWuwn4gMua
            7S+4pZ/M6t5YZSbM2itKrWf8jmGaqv0lW7Y+66B1XPgcJxQHq4m7Gc2jOMQL
            De7L1c7b17/Sz+vLRP66BuvQ7mOXK9s5sCX/4zm52H1vmh81DGHLTgt+K0jN
            YCz0Xhrl9EwZSIECyBePIyhSCyqAHJEeqSaNGWuuEhrs1DHxc8zQs4Cyqenj
            WZnhPmRvVRaDDebt0E0PQftIxaZnNdW4yz+Cl2Bfebnbbzp8jHcvCc+COGJw
            +mBSl1xf0SAwyBEt3SAzsUVS0tYdrO2RGUHnvl4FOsn9495p3lWUAFsswNaX
            GsU4SycE9n11MYZpxeXHZXEWJXlejyR8Zeyyn4+v48TcEOJwVQrNnbLAbOXZ
            2kN71JN2tZZAhZjPTfLHm0w7iQnz92MbnnHytyGknqXn5G9cCbgHOMij9L98
            pbUzk8OlajF8h17HcrRmazlfohoeH+9L2cpxMVex7bVOmwPrBStw75sXbV2h
            FPTHJbbcSyeBBxRmwex02P7NVTwINow9p7tgeRY6P/y36+u3CuUQine5VSiT
            2WLlSX+5BtPvMbbvd2MK/SqFkGUe4IrM9cVFpuu5YGAFzNXd6E3VOZPFrvMi
            aLVJGY+Irk8yKiFhJwuzWYFoKWvUtsqx40bBrPXDpSkdViSuyJKrkNZDr4LV
            b774ZW6Jv9J8k/3jXnWl8sEgUwZaN1fGfJROwaBcF+5FswRZWvQrnpOoFUIf
            I2P0dIDtg2u7UCdLboLWi0NYWXLxThqeRBK5jkJwUkvcCV4r4K6BVerV1JDo
            MNjRbEp5n3IUQt1hXpnxEe471cmjU415kktJJqck53s6hvjiTO8O2sesanpl
            CZn/sY6vn+cQLsBTuX+cxzCApW5/rOr3vibJLqvG79vpR2s7Gd8sjEOxKJPj
            z7R0ekBzTTRtZMip3I2uf7k+zhhYBCMQ+evns/IZM5Oixn3wmtTomUQMVtsP
            k+4Jn8P3dVZShECF0STK7NlefUPWeuOC6nmgNycLi+VM2fQZv8HWNQurcsnb
            VdUyFAziDfJ2QdwLL9vqazjwoRPhZbC/bmyKvT+BnRFz9wRr/fVbxIvS1QGq
            +/O3Yr/tpMs/XwragPnTdnKRFHI5DE/zsQXXUVXEqZc+CpkqrKdZfFkFzjrU
            EIaWT2ZRZo4zzMIN86e6LbyW4hlG0QrbUsnzJE1LHNT6I5bZLU7OJfvX3728
            aXhsIVCR9Fz5K0EWWDUIHsyoUxaQVevZamFkjrqYxx6uzhI5r6xdUb6ai6Yn
            KxvLetFUOkla6bZBS0euTKKgQu143iK9ZogmgoUhPndfL+xIEzQy83R3Dq/Z
            fJmprMxMXY3ymWUQkg5h7wPDtDXG+n4GgBsmHu/6abZQm1AphiUDQtWNVsqZ
            rX7XDel2O72ylQXjyZ7mEDlUhBqGvq5p0me1QwERk5OK2bC6ij5T89HF5dqk
            UoAY667bmyL6K3S082EjhNpzJV6TGG7p11CD+PqbrUhjmINyG6mwbxejLpFq
            /JQ0AE3nJlTKoGKkIYYIg7F31sjhuZT0Zqq++pwVK/ZhkEr7WSoQo2dDdkqx
            JrQZNm/AlnrwCR5Nit7MNGN4KwiHZQfMll9gPDCkBmXPgMFEKuPqZ248lS/i
            bzO/l9jpzM+dzeBCnq9kca8CbG/BeZDx3JQoZm1d5NUMnc4soWYaHh/WdaDP
            m4QCUf1Dmvm1meLaCZXxeHYh5DlIIF3grc9bIcV1MxneOc3m2Z58iN1ahH32
            CS95g7PuuTqjm1ZoMNnWQUrBXq+NSc2gOpkVbYA+Jua3CUHKthnP5g0PnI0w
            8GBLINeR6CHF2kVIjMkT3h3i7qL/SAs9yMrHSd46QsxikfVyLSYL3Mq9zfRI
            R0AnUlRQHkbczmIdIpeRIZzT65IKHp+MYlDX6LENO554zjxeKQBKfcRziQxh
            dNGhn+w6hJ2WYshjOeP4/gSLUd6ditpNcF5eO2kF+vUnr5/9+swTYWKRODUm
            5F/eZ7pIvKuw3FjVIh+g3p/1JZ6+IDcZ/YM0XegZUUa73X+PsRU1q8Ls1EQX
            4c90jo3EaCGikT272BnH0gPykc+bbN6kBuBRQALjKtTqD/0QaQMe1GZxIpfb
            kaXZrptJtXlDSUIxCKoger7jdLRDl5WysZ7BIPMzs9hTvt0xG2wQMN8MO0Ck
            BrAmQuNXVQDdqibAyoctFmjJhkhLXNtGvptYfhAMMp88HKyN/R9+VWb/Kkbh
            0od+wcG61LrD+H+hcjo8f8TCJx+pxvwTaPbEU2mTkvBT7rBX2uWNoeIbzDVs
            h9uLcG9XKB8KoLrKvHeQ03P7VWLuOP35dzDUEmx63kWrrivcXtvQPX39G95+
            XsImE99pTt2M6G6MLTdPJM5DUgEnK5OMsuiNB1VqZRnqYFIPzO/V5XqKFFZ2
            9wElslcBpax0kgYhfR1fHgkIj5tcZMMMnxd9lyq3ZriAKe9ppbCLCRsuyt/z
            YRQEFWxRAYpE6HiYDc1MxlPYW6y4ucmqYAexsQJEo7J8aqLFWbs3QyitMQgB
            6198rwhvMRu8rzymPQvU/Jb1HXQenYQseEwMHt4mXFsBswqqrC1mUvBYpuj+
            i2PrUL/UctWtwyyhphnZYWl1gzx5PB/PpORh1ZpGCbVtfJmwpXY2qX3w4izS
            GtkvzpGnSQcdhDVDuy0EL0Dfg36bBmO33Kt7LadNeRDVkORDi3InFNhWTOAC
            XRX6NbtFLYwmoIzyj2gyeFr8XWNn0oOu1vTqt2GxxgI+QXU13aCBGcAwZFEW
            FVezVcbEqHZMWmHmnyHSEDKB8AZpmBGl7Y2tAgtZ6FGj2LV3Gmh2JznThoR6
            1eQqZMKenrkVA8aOj11T2+9rYr2UpLLGxPfTteLPd868xgDXxSnly3EOwbek
            PEKBZbZOcVekXKX4rNQhYdzRusXSZ4Wh7wvJTHur7jjfNCOSG2Nyweqam8Cj
            WHhQmNwid6UygJW00ExPIzBlFt4o5uygi4b53krZsgS8MsmeSimslT2uuQ+U
            74AqWTcRdDxWxyPfLTRWcm0qVqqIC1ZkdLgDne5iyOwit4J7r7Z7Ia6fidhb
            +dw1urN5LNLJe1eoPbuGd9m2sTz4zkUYYJoRh/XZWzKMzJn2zHJqgPrc/LNn
            74f14/PcmefY/vx8v/ju+pz3Z0/nCM/Pz/H4ZM7bfjVaSBKPulbboZdo92lW
            If2Vcb/f5c0jahtuaCeSe+I2S/npcvcIQT+rEHKqRw6kxzDquyMIyX4/PRIA
            EeodqTyy4IgzcweQL+9S4ZmDx1mnRZf9/GXHj2XHQ6AFSzD3+08HXfHnH8O2
            0wuga7XfT/NiVhVH7/CEWuoo95WB1iAJQSZO90wg/hMGFcsrEeqkVoeGlKYa
            i6Ij4DJPFkWa4wpLpheHpJnmS6b47Nk8+W/Z4GX3Joh+WZpwGBqnwj2XEo9x
            zyKciQRWguUHFqncKCvq5TXPx675qUuNQk6+6weIl72WvjX88+u9BWJGUFsW
            aRm0j93XYHXSY53uerMC4zqT8ndVmtXs94qF2AfBU9liLtoxcnj4MWrkbFn0
            TE4fZGOhEPkG2nRh+T/UfN9if+e2xLOzsMV1LkH5MGWE6sp+d/W3+qpOh4V0
            OUAgW3VpDulrZhpQuq7CEkx6b4wEQha4HdkJb0RInSuaUd7Z9oYPEAn6c7Lr
            DU3zKpgqyBqaUJQVZE30CiSivJ0mFInhQsWUOAp1g/RK2loukuMxvNLWggFq
            pHXt6z2V7YVORvGFudotfZRyRUjNTKY6O7TyRJXupCVJv8hD4sNqf4rQChmm
            OY/droSNyqj1t05XDI4j+Kw3DIwe4E7shukKeN4qlRUZm9UL1b/QWZ88HvlY
            kvr5SE1RzBGqieKXD+OUtAhvYc2+1dc1uxfWfVRz1mFAYpYq0pKt/OmxREaz
            jH0b2+7FVrZ64B0fhWQmC0IpXsVKwRCtzOIxV9I8PBjdTkgoI4HoiOFxEciW
            1sA2+qN3Fzz+/vKwMhgVTwzE/qeXV4dGLB/C5133TSDySQHpfrPnITlGAnRZ
            qYGbqUzfhBpxn0QiEfGE0zDau1WFn9ujtCxprFd/uSS91VNNwYGjDUq2ceTq
            bEoWC88hBduzAHh7S6S2cRCGQ1Pt7aJqSwAwunMOu9aJUSjKkmyWOUBR2Nw1
            X0O4GlNjXW/O1bL/ZBntbnDLVimlC8eq0zFkenEMKjKjS4YLJOq7HxPOtyKe
            VTX2zs3RYqTYYJwFSk3k+pQvwgO4s1RwCHLaKk1mWdFVVfN5S+u86fc/TSvq
            njpyerbgGTxjwLykhL5mwIo1L53oYyORS5xW1yo3G7ZNuf9Kw6QLfWn46Dux
            Y4Yfw0QPahzV2ury3Kn91fbj2lOfHS6nFntxPIMlzJM1ctUyoHzab8VbddBP
            1gJEx7D6HnA3xmN4ThaCM7blsmNZ9YVj8z43Uw8IktuDeFTMvgycFmJT2bGF
            /Vm5b/k++tOsHJPTtz/T6XTW/LzPUIneRpZuVQ4/iRla+1+JmUTLblQi2saC
            A1usZ//kZh+si4SVr+4PBoXEotmVvghylGdALHTvAF9hWlnF2I9V0qFGPwLc
            /YNqhZXgNy/XMzeHaM1SN6gv0Nno+w9NNMMz8Rz8nXkxBaKgsNQntCN9+4gN
            M4oK3cuu/sahwL1fGCFSvZ4LxFtohYJHDhamsh6A20ZMUlu90T3lbXhxU1AK
            i4q4HVBkZN82364mCD7iL32a/tKPYZDgUNEcmKQqOd6emwuXutxtuBa8vuD8
            2unmjSmeHOPj/OBdbvGwFTbazKaNe8rKuRxZx45bl1qXPONXRuKKrsi6Ajve
            SshvBXdYAXYtyeCsPS8Gy9rTJv0hHrvpD2r1ibJCoH+eqNT/nCjiGf1tor5Z
            LOU52HKWD8QH/sdK+XW/zbLVvNMn4wfLZjnNZrvQG8zFYW6Raxpgx7diupoT
            WjOoHrsenpmRkvh1veTX666U4nqgq6WUlbrzgT7XVRtzAm9mBTGGu22YQi3c
            RiKL8y6gpADbV8dVdpP69Xzf17na13XaP1+ndLvOG3+Q89BIoDJ+oOw8q+dM
            hw+AMBIJN2t+o0xETSLPH2EMRkXzSm/KJCEBl2cJJqvmJxwdQ8qDUVtiIya/
            bqzPfbczghBAI2Um9zkx52WzKpaFRJNP9yDKjJL/CIqMF6KM7KUvUTMhQkBI
            7rkU5DC7HjjEgiZ6qDeNgWm5XwosbowNlcP4WifybX12Ih2ZOL6fvwMaGvxi
            g3+uD4Gk/ufg8xg2HdqZ/0LGAwFDjIxvS4ulN0SBO2QHGTocfXPq+hQHxY4K
            jC1IZEg0wSrvDo8XEpn7dV9txJnDO/r2aV1epyvgalbAcvjpnd7qSdeLaeW7
            pBBa5ZpkWywWE9g6oVw/YkIxAppb7Bfx0JsKWYhrjvtjY9tn6QpvaN7xC9nN
            t49lCCwqoahilwpaDlyN389ijsfhytZPU85c0PToEJvNSuyM6EoxrfuFI7zl
            u78sMKsW2l0ruhU6TCHKpNTdxXGY1PXxfBonyRSwrBBfOMzhuc9lyJKE4t/D
            Ns9KIPFK+Qq81hQGvX2nLA/slDm+sjMHZbqbbYyhqmHMySoCr1Sg/1GeYxid
            1+f+jH4uc/weAgTCuczfBqHIB3Ia1kkr+YVdEjQO8TOxsBlTiC4I2MjjSDaI
            mpDgKwWvS/hVPbzb1/fb6MbYj1iral+o2JyumBmaqn7bxz/M6FO5hrzFhebK
            a6ZZxztTbGC30y73jKfKYm58Z5uetb3MGoRZOjtbE2v/XjDeL2nTlXRMWJnE
            8hodp0k6E+il27bLnmeUOCkNoHbzZuftCzBuYgnvWCwKtsnF6o4oAno9lxWy
            /Ybce7mFiyHDvsjHJhTqW5jId+IwiVmtU4XUY+m8NJnp+yxeDxW8FooNfejQ
            Dp3FAqZYFkcConkOyy3+vkYef14jwTzPWljRjUICXh3mk+UEUoGB/XIxXctR
            xjWx+6H5ApSlDwG6FIFkFgpHnHL6XRmMDgXhR1LTzrZCmRpHNrQJo0aLtPHc
            xMDRYenqnDyKidDK9O5Rt1+Tq+81kXgPHisCelShf73mIlPwlFluqRxMxF41
            tHfw0+VosFHNfHu31UscqnJYBoR6Yodnn1Ot6YMl+PzwcZSfPg49T1H3yM1N
            NC75MHOM3ETnZvkpBIg2GHXmPGY1+O7f54X2Oe/lAicLKe5XMZxj+w/s+6sY
            ugL4JGs4vPLHQ7jVQWKXWF2OX2Q6cNh2i/6WKZiUotxqr3fZadLbabGdGdt5
            sbXZjSm1fdQ3y2GEX2GD85Ot/qTm/vxJzY1wS1sHkBn7EF72M8nkNBvmAWx+
            E9XmaqNYZHZzsz24Pf5cuS963eH40X+B5yM2ArnDefwM9mwltvWfrB/vulrz
            DpNYkdJ/LovGKlehShldo1S3QqzO2X0tLRs8RmHcjL6Y7In0y5Pg+VzNRJqe
            +Wdk2b2i9XESmELyUKkGGH+Jq1pogRjLXL1QpjDly2Lo5ihiOWSyCr/kcnu9
            5zUms9rL1dtejq08vl+OLQ7ObyWLdcDbC1cJvC13rwIivP89rd9E9JgdX1BV
            jHtQiYj6uA4RLBVpX1vBxS6WW44vmZwgUMq12ah7CcOXl5DcICm09webZzSY
            3Qc3u2/HT+4n97pXbzKCpKwc55DlMG63j5VY/OJIUjTz8yqMbGmycaLVAbo8
            KiOZHcJoc8YgFLW7eS4pOPeAcUtvJb05UfcVkJmb6iBsgtAt6/FU1SyvaBKa
            cq6e6vgYngcQvga0D9n6ef1ijcJ6mM6Su3zW12bPuO29P0d3/57WJPejLbuZ
            sgfVsC8+K/FVelx2EhGgf5Q6hjQpXxebCnukOjM96lWOkilHmxMst/lh3Zit
            HpTASyinH5p35soEU/6+F1EVeK8wP/dqzpVGwpLiRIwveX9emalR2TApi1AZ
            HEFW/eRdXHxH2kGIYUfcO2t9D8PWkANQScZro/Nd4sAeGNpsvr8ISJZbcbkY
            6O4fmJ3HT6tLpsnrdTPnrp3x71aEYf8IjqRmF0TIUw2kZxq73L3ZkHpP4KbK
            TGA2dqBiy6OMx8nCS7x3bVCzNIYUoZWLgqFTqJSVmNIxb7d0pxwnILfg4i0l
            IPyhL6g/+pdeAHs/KAPox/Uq9LtO2f19PewLxJMu5IIC4+HqMqV4QJHFMnqV
            4hQs9VJ95pP1mf8m4m1aL3s3eidFzCqSyESDNbM6ulkdv8zqI3zMTCIr7Di4
            3mlKFN3br6EknSa/xrMJI5jTKm/lusK0di5YFysbo4AECOgaTiU5Gwnc7G32
            RNrSoLapbEytzp2Vs4nCitasPseKKFRz9clVYbaS1xNh4gMhKMjGCzlCEfRQ
            Gae34JaOoFgAZA1GpBDzXVv9TsxkumdLD60Zpkb3UG9V4mO8IjHClTRIe99h
            i+/T3acqxYQFSm6cvcGHP08kpsj88xl6tmcgTHovXjtFG0EogqdqqBjwSnLp
            faEH0TwRWkJWwJj4K2WqrpWReBhMUNWZqS0UIqspUT2GkIDqYUnSrLrS/qVy
            UVZp4vwNykrkfQNlVz6AJSgx5zi/KBGpOWIPtpf2O7ctF4nY7tNcIWUFKoPn
            RgKP0JAFacCEhUqQfbUEqCdxXwe0BvVkthPzuYhkqcADEbcM35hYk13FYyzv
            DBa8YD4ecfiUw7HO00snE9MOHV6o2r7TW2yfZbfYxvz650qtBSTB57iJCcKu
            TbjDUguAk6sstUPynC5byryT2+po9sHQEmTvswkhA+C5R4tLJIORCNaD6nAY
            SO2PdCbTyLqVxndXJ15rQZDVP76mt6e8mpy0DfHE2t9gk2AFSoJh5MqlE/tU
            34tbBUmVrQfKvbPeD8VOdq3ze6xym4S8r0KjUrf1tEuAv0LkzE8c5rehQsVm
            F3EvhPsKJYoTc0GBH4kELGOONbgC9CSruD4ruEIvEBgeRWD02uLLJp5Aailb
            XyjB0hPOtyjBXJglM7i7lqWbl6JkAnzKS5G+nz2jHDZRbmUYgCvWLgT3rvoG
            xRywPg/FGJYRThwfINOdfRY8o4x2a3cNeWvRMie/IpjKXwdBLYK0fjnGEtGY
            jjYomcUl0sXpNm4EciZBMZODuhOMDsuxfIFgGEsFLVpH6HZ7zRs7IJMQiLL0
            NENZogeVx83xtJr8ftM43r1rmwm5/HXseKQ3vJ7AlTfkvwWMd1LLrqTcJiGL
            pSyj2dMOWAhz5+gkYI3miE3nP6omtnlGinye7ROv3rGE7r8Ptz+DY2yFXxhe
            O4ChtHJhdzlEgx/3PFZnSzgD66duz7HLQJ/DFJzpLzs3JKMnk/blzx2V2HEu
            r5feoGzNUJDScu6yiKJkDVG8vliu2HM3OJkggJnyTVOTRE5Qchb17rqU18IY
            CpULURArmquY0bnmnjyw1lu/NYrRnU08jVjldQyy919T7p8I1d3n6hozL4XK
            6eVIwwqcDttaGF2cJSi3NPc7P6kbWA3FF3MViEITWRoX5aXNt8UIYESROxeH
            5ecJR9pA2KYpb/QggwCOZEV8OTKbwUwiuymRrlWO+2KWsLrVj+VT7N+rdWtW
            aRoxy9Wamk2Fvx64qH2mghdMIpGF8ocXzrG6CJ0I+bfO2+UfWxgNeduO+mWy
            8dvZXYzRLfWosOn5zZEcskucLBcoldW5ozmEGPSVlzBbRfDDHhiMBhzLueCw
            ROAzbHf5Q7y38c0ROwHPD/Vnvf7wI3hPihowKxsDPAl6Q/6LwijlY7DNZO31
            q1evECLaB0V4J3XKHXMJIF3XsPn29t+gjqDUQR/8g35kV7D4vVLBAvVsqGAC
            pUgTbdt0fOjH+gFCHjZSEPP5WR/aFXyh/K2k5KiInhjdCfvoUSnyZvdYAep4
            R99jEHzLGtymPpVNyjZyWPe3CBTGmsB9dWxQE09+r7uWM0ImhyWguMQ17hmc
            VpT1CbIU06j3BBD/Z3gW60hqlS5dAqz45n7HGmXhfjcxeL4ovDseol7zzcYu
            Xj/HrjE1z93ojJlUgc3vflaffUexqON3hJbPprhLNMQBiRh5YJNlCzFvC2NE
            HhfOi6CPMHhglZ1COGK5FmGwGNSvjloI0bsUtn+8nXRo9KU1gXMLEyM8Wf6C
            tr4Srv3FaW9Xta272ZRAqUq7D8O41S78T8dKEIVbAxDcMxEA1XG5xVYtCtaI
            LKiUrFGb2O8vnYDskw5fykT15+6fePr2SG4P5rxt/0643OJuF89uqMctbuJy
            MeViiBNjKVeVCADVO7SszdkgFRrzDzFYfVwfboQVf39zv3Y9L6fr5AyLkNZK
            hvkOphkUB8H/fNW/HPpRB+r1zbkG9aiN7EAcVeZ+CBHoUr4mQWU/nWbaG/bH
            g1p1HSQCZ5BVPDJXwEDZjVvy7LSucHPLOQP9xUT4YPSys1tc/mSjyP2wF0V8
            +Sl/Uvq80Gl+8XS8PQ+bihIikRnmq21D82aafHTxVMoWLzDP7uFNTSmKpAU3
            yWX9zliHoCYk+4vcqTcp+HRc8WBaNbPn+TzFxdIjkATCaGAhgYPIGdXYTvDn
            +8Gc6m6q/QDHEQIzgzxXdTTiRhMU17Gye+YXUE4yj34RkShrLHKF1Do5ClNI
            Tb2yrJDvXqKhCTOV0eT5wXHsHFeNWDNOkhhvAMc2uA5BWSn4xpxFutcelZTO
            xzlLsQzis9wcW2czZX5WY53P65vm4BWXtb8HsHha2D4XLOZ29HgCwDcP9Cxq
            Eqy2L8Sf95ZAOxq2JzpYniCJRdigUmS8C8v5hdVAQmUPxvzkm9W7ihOQ/Sf1
            gpy7WvuLWBguvhmXd6eNmohspa/sxAtDMVTBxg5oKV8Rv6t1MnUArrNH49O/
            3dzEpoi3m6KbU1Q8e/pFzCVa9RSJOWjygxbC3JnW7RXDeNH+I0+S2cHR0Ybj
            xzw1dN8XHIihK0+Jl/gRITzs1kMgD4oKIiLCcjUSqJfSjQvt+yz7HhKQ+dlq
            vzM2flcKsQ4YxX+bJHDLSQeNPHyZF3dblAoLK7UvExMh/vxNaajV/AkgtERF
            aouRQrFTLcmD3wU4Ez/fR/7poLFkCWf7v8TBa0UcJi62tbPFw87f39G1N1t3
            d9Ldga5ju1/NCtnWzc763eJoIwRvxGKyXga62q54Lyr/WpFsz3DS2u+mqcqH
            ABH2bnrMAhGGie/Nv2cjyn46Rz4/PpWdSEvudWTv3X18Wj/tto7bL0CENCab
            /aG00eErHzsVpyHlKLDdQmOhxyhZLXprpGqohMzBZpWeveKaNTNqLUfOVw6M
            iN68x4VMqGxA7aNag/KN+ylTLTrs1O0BIQfn8BdTe8Jz7FY+n9UoItsKEzgB
            jjH/Qk6mV5AYT5BLMkUpCzpACpNDCjA1hiAgBz1Sj7rPTteRaNg2bwW8VJwa
            qutKg17T5Olk3Yi+UsazCxlBupxdZ7qBBd5n+77lujumhJ5THYvoe5+UPip/
            0FQEbWkp469Po3ohHJ1y6hHCFPqokjSaG5FAeHRaNVaAQIMxEuDqOwyvsxpu
            Z6ueLRwNCJxKmwrkaEs7dHUqG+OUltG0dCu6cyFFo2DkLZGUMDKpdH8IqIcQ
            DYwAHt9t+cpJ1pEJyPAqUvT5E/DjbB+z7myGoUqzDr9FZhaX6N48ipPI38qS
            eDLvnDJk8GY3jqen8ya8eyh6n3rYNbHkzPQKkxXW9D6+8NlgevgcZVp1ISNn
            20ejkw5oL0ePL+tmdi4oRKbuZYSag69QehyTexzb03v3jjyEEarERMkzulcz
            LXxeH/evtxU8dkSRUFwPMy6bg1dpsRGoiuPNDINKFDeMN3MR2Ouyrt08NHi/
            0MewS89Oc/a7eSg9Uc2K+lkRiRVVLwVq6D5NBuCGfSXLdGp9PyjW7ShMWZ5a
            TcdGmd9OC+r4ZHccgMW8Y8xJvu4X9nmz6c1ONxt/2bYnsm62u9n4Zv9bi9/5
            DtsT9nrGHP9zLvv+Jswy/H0tJm1pv/VZ4H3f88cGkFuJQPQmBrY4WH79uban
            zqyNLY7ME/dxkm2n2ePPl9k3ylKI9Bxb7NzRAnNPC4rJbAie7VSTW3t96QNT
            SStaBHKIBQEHx9a9iltgL1W5ChZ5nC4IBtMwSxXEDNOZ3W+NxXGn46ffOh0W
            tIh+/GQ7Pfdd89hzfnzXPHZrnjuKdlrNniKFBXL/9I44b38OQmxjZbM6tLD9
            gXfAYbBZUNJfZej5NKtlRplJBj/J7nPp7dxTYW6yNp6BEktsHYaPriTSbhVO
            FHtiz2xwis/cfytCarkShMwWlKcsFpya2OmtT1yf98BrVdb8kzUTiZhRFiwb
            i7kEAewGCjgG0oUDEb1LbRp8pr5DRd3gznBNMm927GDRNOQDRTJD1ljJaZ/b
            Oq00+wzrpR1eOMJ+HlRm72CoyjswFtS3cirIVOIHiuixYPE5lZT3XePfpaxc
            rw/g/IszxWGCLIsGdqZaGNo+KJMhnwzHnnkrNooY5kcvyWYlxQaQDtH+3Wyz
            Lmnf0t7DxmSalvFDCyJdruiwxx7zGdlawpNReC471VKJ7KIYq9SlCMK8JWuZ
            9KkFoEbtQaDH4wVvcCu5HJX2/QMX9CN3pZ2zXaonzTLMzWcKBAQxvYKhmN1b
            4zqfn2z4P3BeGNL1ZltEa+m8G7TVWjbn9V5i5LwquPV3IuwnIXr59VQm0Qt/
            Y40ITgsgLb5zvq2nPHmymjXxh2X+bIGbQqb9AJxvW9H4YIOq9aD7+Deb22zq
            t8//BYRwNriTHg5nh1scDG+rtMXBFg+71Pmf2PfLVp2dbu39Nxu9XUxsdk7s
            B/IwmpmU/dQOopde0U9fqL0o+KOcxeOb8N+cfFUBqW4dmvktEzuTRUdHNGne
            YiNJP9gNVQ66zg5PlW9dZWVQm5Ud7HjxcpDRKW34FPf11iw8Vp72eGUR8zSV
            UOq6gqACxekIEsw8iEZgKXCQ+qx6WQnbY3A35wUeg2curA5W8EIvHkrgBeaC
            ScFEDLIdhltho+PDGR+yfeq0GQ8GJTAJ53AqFdsfmL77ygEuNrhaLYRjvu7j
            /ZyN60h3WIbVJfLJ5qJWU5ShxqKuKKgLUK+Ce7FUMkJ2NRWt2u/ZKqO4MEBG
            X2aYw74QfoYqonI3QPDcqrDyvmkI/3H848c/2cA/Hj9+F6So6uqwAM1k0b53
            Odr5AOpqRFgxrD/I1z+yrVRfkVR4cyva2hzWuhlnu5e5jpWmznbEJ6s/6NCL
            GwBYUcPppeVv6fjGEdil6822FSudCQJn9sSx8/bASPtK/mDFCgnBkOPoW5YS
            6PsOwtp0b7l7eE46fY8MmLC2gB6qRE+fUyz3M2dsf1fORfoEkZjHd7oDRJo0
            xgrW2W36hbxe14BCyuswdm8s2INVONfhylSmv1PMlY07s8E3Jk9MnZ4MSizG
            If3hksTjuZj0Ub6cQvQ/GIz2rfo8cT4TWf2yZyGsa5/ZnE790rioXTHLObaH
            Uk/kvgz1KNMKtPL74ljw9v11ZA22/GAG9HQidKcUCWkND/YEKX9Hu9/aySSR
            xWM6tSdYdmwky5ZR/vnoDySjMrGmvtMohDHssWLL6WOYVY6Y8tzES3nap9/V
            7rO8j+NFVn0+kxotX1AD15TTxnm/3zKmoJrR6tef51dcgHcSLCHUL62KqpiE
            BpdFTY4VZ6iH67uBdROmPNlMfAygAArbZ5TZbDpFofFX+r+EvWYUoVG/96wV
            y43fnqdMigV/57WoiBRBAJTpaUYHH5DpQ2SHtrS7GqAJsMSvM5cDVz5Vza2h
            IFgXPGqBXIXk9RzUWbXkVXp8W+WJVk2zZ9isZlwG11zSZ+Co6RH/zWBrPaa8
            zJ+9x0CKxtc7K3/9EcBk2xN2PJ/JO65HbCuVn9SW05/UlvKH2uhC3Z/ZXOWb
            2pgx/E1g3UrPbjpW/g2hcTqcBOTqWlqW+bs7m3uOLKZqFZ1LLQPXRtBU57Xb
            lu/DRENqnKctXSXs0+nxSS4IMr6nNbd+jXFDUWYDa7OzvN/HS0jpkhbKrBKx
            GovoSFOL3rJXrtDoWtnEAE53Dvg+8Jw7VlWvWJQu2zOv2+vgn1/P3D7PzKhZ
            tLw567zr1yTwJmXeo/ZOKXnunX6DBi1k0uzHUxEcN+sALZTJRi8OXqjf0qN6
            PXnjfle7/q4n2Pb8a8d7oWpzeJVtz3NuGINoRFlNKu/SWK/r6QRGU96wlUE3
            JTcw7VTCtKm3cty8P+z28k7NF1EEvGW8JsighYSAitV2fVNfbB/q08tnL0rc
            mZoedQpfsds08tqt7XVvXH8Y9FtiyLR6piyvU8N5yxaNhqy6j7uYs96sEKKx
            Ho2JFC6DWLiwWaiSBawX2AEe2Qlg+gTriE5XLcvAXpTKJWSyGW6cRBkULUuV
            86/fqlWvWBIILVg8bpHZogoVEhaWKaPfD1f8zYwWPW9IhfeZlv5MTLum7tfq
            1kvwRo2f5qOD+zBdmunTp9XfE6bzUAYVHqgINwC7Cs/pG2FSXLK/aJO63r3o
            jJqMbMM+UnKDSmms3ixZryqp1Y6l2z25PhsuXHiblAQT8M2apbHM9HrLj9Nh
            mIHNiJfq/jZh8mEwICrq4LbZ9rI6DGsIdH7jhR6KarJEnrIv5OIqs2qD9GAn
            o8vJ+T29xrVbYlpwIGVSXFxe2M8+ItdXQnz8JMT3vyTEp26J8ErdOUC5UpUt
            NfiiL5i+RmOdlSmlTLst47n0OakN/eBnelz6pFeEDTDNgGYqML/TVcjvWAP2
            /fbvzb9f/j0zVmsVJrkYQAFxWyN7K4GrDHa9iSpFTlp195Xi7Y08osaAefRL
            TewOpfHGu52d4wYd6lYNFkvaFnFnLIKkstubmubXOVA7CO8IaS5nBAsACuaE
            KwRTCDvsVJoP+BkdrHXutgnQEE98jhh37qvYJm1PMm5mYBfayOnwqgOquCfm
            N0lb8F6H5/U+2MPuAXR3c9n379wsTNAd12SbWGunBx6bxCtLEjIHMYpZ0sEe
            w49lNhCh32ouxEuXbS9VBYpypeKHbNVgiYsorpav9UGlkSsFBocaSZyOWdpM
            uP3NtXJExxj7FZ/bFnvOgqNuJe6+DN5eLJSwGSYjpmdsV1nTmHMsYBQOjk6I
            oEhEmvRVKNQJkkomfqzd6+aiauHMchpyi4BSldfJopsln9GkR+T7POqub6nB
            Zeocjw0m3dKx0x+y+cBo2pz/hP3g3uqDdhVWcJGqmk0tEbBUMBQR6WgqS/gg
            mW2R+ClClSQTxHKm5FQ/GYhEVmKwXK179REkDh1M2TmmWlNvIPH4VVdhDq/2
            Lenyl561r0VfR3dLj9fYSam7bOCyOgO2nzUgRDK5kKQf5G7AgQp8wO63Gr/4
            DEhDJUL0yzvsqg2Ugx+pohfqwXQ0+MhKX3D3btfqYCsMhTKvT4kp57vfH6PG
            07ZlgD0xCrKC2klHJqvjZZ401Ff7JqjgPBx/B4ylWwJoGB7Rm5bZu9SFLaqb
            uNoLy5ZXVEiiv8tOD3Yegz5t5KuNVxfkZLgEku+9UVxwiyU8Nu7Q9l8IwIot
            ZBIdpHj+mtiw3sLFj9zdBD5mhPQt0VfP4K+22m9nxbH3HW9nxu2JXd7bJSZC
            7Np8Ve9KWR7PXXC1ouzEnP37ruMQMasX6kp4RhUPs4T8jI7BE/R9fw67hpBd
            Cndfbvcgei9Tz9kPJiFYSvZn8aUNTl2eC1c1sbRy1CmQHYTiYLqZ5yVQ3HAf
            gQ2SJUIwLKt9NwEUmlVLz/YORO6eyMJWhdN7hEfl1quJ70qO2Lnokfv0MjcH
            VDRvW6IjVHiFiT1Tu9dYEHU7WhHoJ1XO75usX4SSTdan+U7Ib7vlzwR6/1hT
            5PNPqOHHHLpgl/mrR8M/QK8Ug+w8YEpiTpRcYOnNHZTF0CCkHn9bArimRGoE
            a2F6dCRusbV7goXHdNTiIhb6frwFi17ZJYRw5TfNAorLotWGpZst9QJGNpVP
            YlCARNgMUNWwVDKl/A610KKpvRw1lnOonIFEbz05BgZMjd6OLvWAKxH/NxW1
            LLUynUryYAlw6Um26rViWRhHoiI8evJzmblE72Engaja9tRvpjPKDG4w9zpM
            xW772XYQcoZwwBsmxy3MxwFtg4/jyQ7MVY6viwjmYMZCV6FLV7VzUI7ZvtI5
            R1KxSDDiARmusZv1EjHMsY+Cq3nFt0TzMhIY4zHYdswvX2KoWP2OLjAxKDQ0
            zosTRv9EtIZBO2rHB/8eaGIyrxLkC4jxYd0ohHmT3R+rgTmaxM+3dUvpl/Xo
            Mph1YeguVbzMHxW9e0VBDxzfpdXBUrHVqO7w53vcR/GoiviPtG52RBkhd3YF
            nlOevYf589jH1AeC1HdyJm7ZY4xb9UH9ygqeN1EY5G2xdwfLhbjqynFgHzUG
            4qY+h9BPNv7taZmvhWMxk+vn4BAQV6xna+axk84ZWMVLzWkQLue0c8ZthTYg
            npB+P8vx9SyWL9jZ9VuhlWioYMrKutQE6mnEK7C8/zbHoGfp2bKm8cVUhZLU
            FC5t+QMdMnwQsn61rgYb4uBf7FLc1fficidbcBSRppTmbpPGY1nM/BsB/TWE
            WONG5POk1pbqjojnuPCy7JNEMGIOCEEdp2cfVxwblQ7NZmyNfTXO2ZsVTwrE
            l3WFxD1hyzQ2lgpN5VLhuugWBZthlY/LUrbJbk0m8cFii+r+d4aZ42vmK5SP
            ibvGIzn8ZkDvwZ7y1Xw9d7HnPu5nMim37hiC+qf3YxeR0gjbz694hWFzH/v9
            QpDbWVBOsVGVYUTpolE0ObkjWq949Xf1hXutF6zryAtE3bILgjWKAkkEh90r
            i6nDI09eMLB7SNKJMVdrtEBWltmgCZ9xTN43mUyadCPkG8g8qbPL2T4tJqGj
            MKq/lRfoRMl7lqfLMow8b63tBnRgW8f61P8zHI5HN0SStq0uDEzauAOHLOT2
            gkKMq+/fyMavaP71/R2q8dpchB1Xz283tBdjtEPFw+d4YJiz5IMLpKREanpI
            9NAVsC2bY7G/6rm7InZMRvyYKkwxU/y9qQTsUpldoDlewXkMMIq/sbIoH9Y6
            dNcKnMRKMnxEdc/wAtlzQjufp/8m4upML8EDwSzKb2ItkbjZ5KMly/ht1zBk
            opOAuPuhOh1XsKKfy3qpnWy8otppjxo164qxmAGnjs9NUSO8yrBmUcbej+6e
            Pk+c3N00boITyvr82dl3eqYOu3WaNUqXHZMPfSKb5cMT0Z7ZR4UZNgfTKeRy
            NEIEu7QJMWKmvRbIcTYBWN+lQWAIQrYrtYtExGYcWYqbVq18BP202r/brnNY
            dtLsBCcfGKZWMlZ/V50eDG1yjUCYW4mUM2hLKEBiMUMwTXnyofJ9Kaes4Nn3
            DEIKlw36QtOw5cxzfBYLsQVcYi5TUAu5pXpRvKHd7ck9vPwM12F+xbsAwIWg
            BlFD773dzFU52dkNRvppdfkDxEA/y2Ux426tiuK9+4baSiarjcrK9cwdOhKI
            oLIn42RjqvCraawTQ3Pn2L2mE8O6dh8dwrMSi/g4xSYfsuqMYRzWCvNRAAjf
            mdHGIkxCqGdORSMMuyJuJgIi2C29qE2t/CQy1BuV4JVMXg2noZpy1URytCa9
            J1i7bSZuxufVXbwlzDLi7O5iftL2Wnw1/mlWPqReNdTgOOr3+TBDk0jRS9TZ
            We3pA4cZs2wK2oRXSR4Yks25nntdnpJNNjquY7Ofm7wweZ/ArJ5UPxQk4cx5
            KlVwyJBdOkQlRLKkSpas7XfCc3S147b6qfTlDeWAVLLHexlnuI9dqPmpW5O5
            UlnFmkBELDUJ8Umq5n9uKEUnIVi6WiULikVaoroDv63uWDxeQjAlM/A9VWD9
            NgoIbua89YlswEFxMebrhAsW9L9IknRuUJljkQXGmAoXTD3c6wJzbpZMGcc4
            wyZcAjPs1fKwS5vjBzXqQv7co92WHiHQ3EPQvnoxPkxiJ1jCl3VM9jBkycla
            5w4tm3g7XivPLmWccPx2qpMDlZgi5YqtXIhXegipAvJn3BDKSa3cQWaUjaoW
            7VM9cDAaYGlE0VrLNEMSK3Psj+tTINishzVd0mpKydjxZj3D4sA3lBo2fJDn
            iedEYabKFGJGy7WbJO3J38TQvInSZuMKpD95xa+ECUvDPyTfsD7GN9bPdhQt
            EM/MsnOXJnWnUh8CdWCDyCeNoLIr4rfdPlEtPfdrdg0vT5+KqDJR8b0vm3oK
            z4geLVdsqYAy7vt6zJko4uFlZeSQuW0U8fRpC3gtNVrrzOBlFC2qYaPSqmXT
            PRsD9maPUXWndxeexSOOi7pYB13W3UOM2fjQTr/1emoP1DRSqZplRqpAiQyo
            nIz7ss9Yu2E7DwXgOoyaQTuRFaFMOC80hoeKmRoxi5hFiDcUOpLsum1nMR0H
            pkGxSD90v6aO0jh2MBST/dzgMevUQewm6ZsFId0H3yDR08eFdleRELO2MXH0
            rPSmmTifKac7Z/Kwa8bMEAvL+yT8kwKKmOTknR/mxMgZKN+1FY0mm4bdLr+7
            TxKBdsnT6/CQ8WSbGwgAAmqcGMMyM9YZhAuXWKSyCu1idKziUS7ilhNTRI3Q
            Dqtrfo05LrXTE7Uuwx5XjVSRYWYYJFzN1RrS7d+5n6Raq9lFS71pWMEdoTxd
            KomVFnOyYM7AeG+2w2OClgdn+iMvRLN2P5YGE5ZnJ7IrxjQZgvcwfpYwqNOk
            P9WRuz/9y5CF/phwKzYVyJNFaDBCkyfniNpHte/E9FXh2VeM/IcTgLlZOTR7
            TvApwVtaViF2r3rArpp6t+cvdlV/7ar0sauESUMlr320wj3pkQIYT5y+tAaV
            /Vh3dPDW2wLR7s5RVf8wpKAruU4fqUIKhJyNtcFe+D2biukGmiZe0IzQIPbA
            yaC7zLFLOMzqNg5DyNPVaPr6SMVcnWxlzH3FAGw3LCUI9orqzEdry/N7ycM4
            UJk1TfQNWmtkJaztDn3DeKo9Z1RvMyayBfV7i8JuC2NrZSDwG++FhTRkCDel
            KUJl9Y6C1OymG9zR3peE0pONGd99eBeFt2H3c1rWJO0IIsjslkfy9GMpvgYS
            pv5WuwdrOKPCPbUsdOgkAsY+tdNaBmfoWd3hz0UrvLBAh3lSattjXdE5AGxd
            +D2Ika2Vk7D5qKoeg5KdMnuj6GMwSOF3xFWjtVAUu5mOTRJIDNJymIYH+UBY
            KCHzytASIcEIZpscwVdn0waY50JIbAmdufJWFbdKWx+3d6a67nRp7i+lkn8T
            up6BbkvLP6yLzaXOOU/BwE0fuFFI52EQsRc8HNtDg9jpaL0JUP7j+Ez9Ylvd
            dHMsfMaxlU5ZauRT5YT3YBEUljy2SlVsrA5tDLkE5ipRr19uXWv/7p0BqaoB
            fnk8lzLxn4ZWk9jJtAa999fAHszf+z1IXNcv8VyBzlzVAlFjIZs+1KlFTeWg
            W+XbKuIqtFg8z51Z48LCBEl25jJpW4Vi2MzRUhtXDGUzz9O1bjsO17TteATg
            z2vftrre59xlGx9j1VDTCkOj6ejK/n2bi2wIpH5ay0AWUJ9v46lKiL+3yegp
            p+XzXeq3tQV1T/nSr9X+EnOrSsHtARST3T6GaT0OWX39VSVM/8i92xmTsV5d
            JjsZsnJPDg6fRRwjHWP0QZxZWcAT6u4Sf2CvxqNJGk4BCZsWtxOE7lDaXYi+
            XztHk0A3OjYSPfZLuk9BDF8vPqTVOhBGj8v/9ccwI8B5mxyPt6VN9FraR7rL
            WqhM51DkzLY+GGVdyjqmEFA7MRaxugNmJuu6mwydo2krxSTHfLP/NEHaMvOq
            WDZyGKZRvATL9tg1lLATDFiainj1tmISjNHNYwZ8mmWVRcU0WKhWk+DpqAXw
            rCqIGVPcC2zJaOasUuMyU8uhajJAN8WMLyz5xaimAG53KzOP0/BecSnri0RP
            j37aWgFZpuEUsQWsyvJ0n+CChviKLKtTS1dqIFMgUlc4Dfcp2RIyfIaLTbEI
            9seG5W5YtF2j+dPUJyVjNV/frW7Ai5J3LJPmeLWfTa0+0EPWpfFabPl+M1re
            saqKEuLZgtIdTFZDMGy7DkvAuZv9DvFKSO6j+8WS52zep/WzpafwXo8V5ZZn
            8PujQJCXce+S9IshYUlvAiwsd38vqYcChWLlivzti/tFNNcHAZ1CQs2diFjK
            mL5J6SVT1lPnqU0cwRIUqLaeTGd3aJfehNylABx/u70MfrlRcdxmTKxm309f
            MbBdv2xzQpZfH2QN3FxSNN/ygIXK3YxA0blCU6OdY+u32zMIha95Y7xrNm+M
            dypH5XG/83rPE7OKrGC89nKf/Vml3Gr58uZgHh5ZNMy9ONrZdp3aRvx6cwWW
            uoT0ZH4U2frZVbxykolbVvBRDPoVK2yQLaZ55u1RS3RBGfbPgm49djvJ1xdy
            uC+k2HU5aYmC0FP+eC0zLVkB5n6YGjTZdAHvd20Z9lZ9a/HD1kSYExBYqmnB
            G4s5zNMKSkUQIFL64Njq6tPgvD2BfYEOtd6jgIYivZoHwOjVHP0ToKOTkPkl
            YPf3I59Ve3vW5MMMi7gJooJqx8IALfJsy8Rl2bjDnk31BA8Gd3ZbZ26xpNOS
            azExiZAQq+3u1I3ABKYn72ZRb137x5l0WKfWkwzu2ohfuwhy+xSqe9u2trBd
            yBsB7DEIo95r/jKfVW/WOeKYNtaaCC+Gr8EMkUmHXexXIaVPWFbVu0UITAcr
            4E7QsoQZZsgS89OG8rCZ/P9au7IlR2Ek+EvoRHqUhPj/T9rKrCqMe3smNmK2
            YybcbmOMQUh15NEDCXyB7JNwYF0omhXCD4+JQLhULyZ9qkqRWrujP1Wmrc8x
            4jFioAQtoyw+f4tsU16eIS5cXGR+lv56ZnRYtOBG7yiSAMnVrBqGkFLpP7WT
            mgzmyFZat2eLuX562mC5cOSbEBQ5YohkUNKiz47coJJc0FJOVloALzLotFPO
            8vzmr2M0JgN4HFOrgE2t3yDXfkFMGlOanLcBRI5sA7kOQsdhVwcZWvye9fdK
            4ccF+WJ5/wh3SCZwLin7zaL9OFa2HbFV0QiLiT9JiuntIkEMJgdMJfe8UTBA
            oTCLZUZouHINkHkCJc1VvfMkgcF2SPmpPvMo1d6Km7+f6Q0u4Rg0KItOVWJE
            mw4X2wEG81LsIgeUlzv182/KikXUCz9VPK/oGd9co75D3bYpg5I+1B+3MK92
            pzmvzqt5rWn1rq7+Kele5glEuIn8gwaO3wxyXFmRKX0kvSDZKMUcVPmCgN3K
            9eN2BY6Ed+ggEpmi8goLkCogEG01U5TobBVan7ISJddenqP5Ba1eauXXnMG/
            RGW0yvlUxH+fZZAgaOQ4oLkRnWyW16kc3aEiBUhbBNh1VFSmMHVslJgq5txp
            Xw7So1tW+NkBYwSXs8gXx2J9cWB1lUGqx5tDjffIhA6z+3z/EAN6BIOLXmxZ
            r3aBxbvdpfDW2dbpQvr+SIGbbCdKLtXvaHTCwHq7KaV2u7acM117vEe49md/
            Q+KsWkljxmdjFD/7WshR5H0GAPYa1xwygMO9M1vbkjotSr0w/aJ1+palYhbt
            tEWlT3NdvSmRBng3W8Y+OP3C16ztVsfGUQMvfkeOfxqszYQmfRmQm2Cy4ioL
            E+DeZ1+0sgGi0l74MFGDhZrF24sm81VtZ298K4kbdjJlWt55sBFyAH8OAm7o
            1L9lDUgixiEDZ8tSoqA8FOYANy1K6GgIXoEmWdmtzLlABizIkmZFdTs4ubNN
            CoMsiOAxZbkX97tmcCOTskkTIdlJ32ntIOPO74FlthEr/T29YILtWnzKoCx6
            z3DOqLHlJGTBy5mZmeSy1TrzvEsgRmyNg1rt8gTtIvcred0Vt48caC6ApUlu
            jIkYenyQbzw6IuNGFiEWStiJjRM2iZETsyxQy3NlotH0YFZ5+lcVLJC5dlAR
            Hi0swEZd9vHgKQAOo2+TxUXnfT9hx5BtZ5D/C6ufrLC0MD67jVHqPeMq1H23
            2SD6QUW2DjykT8jQWn3gEpIaTxlmVtrrbuOnuA1aKMpKCv+p1qAGhhBqQL0G
            8AO08DVJ4EIAzgYKJ0yhpxwzmOrq1dUdPuHHl1FXho5ljzRlYxNUfoEtYHvN
            fzBvIXSg6/yH87gI6SWyeOTBihgVsFmUX2RV94VwjlgCouf6g/kpsRdZ5Lqz
            4WdQxZhOMUa9QGTnk3vbO+IaNClQRCd43SaWjmK5zNz/esA8QEDMu5naDw28
            OUCKubj89jnzx+dABijyc5AWgzbfKG1FuoicEGCswcaOXeKLNPB5+KwqQff/
            Y9+Y6CXAbydKlD00wjCRJJCIdaBkfvM7ZR3crkGNJOIEjvYAqumUO/5ECMOS
            xrKFg+zvbg3lixnvYBk5q1wRM0939JOb5JL8Ms2tirbp+70p3pOQ0PjZfmUd
            Ajd6YAvCoTckrDXhYAg1r8M/kHFfx00t8fhh3RSovB6WlcrdNYf6H8nqgduY
            dZWptvASi6tXk4l+BPBczeNSK6wNjBMizhBpVY1pWSDC+2WiVls/UGx8wIDh
            h30CUQ6QbYNMMHKI/O93FAYobgYO0Pi5Aa4NuucnzAv9Ov7xszroUe9BxItN
            wS+VEMAFrUlvCLTVIErkr2FWZhsvcGVmo/V/H9QD2eaVhgJDfr97mNKfEWLj
            /3wn4i6Mn1mFd/0l6fwvdyKU37FvhCy/lVbLZQUpi3sJ2CQFZqeDPjJesBq3
            eS3p4z/e2ezj+7RuSrNRHXAbIRs/l6VF5NrGUsclLuudi1oGHgGhYmMi2X6t
            xByh01HfEgAW3yuxfwQP9rl2ZysNJLgWc12GpE2k4gmSpAbRS5lOUa8I3i5y
            KztqNowivw9Y7BL0qiinEiiiNQIqttHigYBEmIhBWVWeQtf02pG3626Wg7Wc
            rsFIl93mm5oJMsXL7BL8eGK7YK5blSYpeT/VD9EK4372SdW3HiYeC7QlJFRH
            JGaz0AgaBKGw5ycSCR7uFrdE8jI1kzWsjSq9rzqNk3WYO1h1+VKK6WP5Y73f
            69ivmGagPKLf5VB/TdaeMO2mw1p1ch0YaoLg93UxNR4uVibxZG5aIdAhGR4/
            +6BHqFuqSYCPSPnV1YyjEAGX47RApIzM2aXyS+7rAAFpDblTE8zotFl8AQU9
            mGEPlJQxCsE2kv+QxVvB90Ud/FChU+aZooOVYFcn6f/5CFzCUz5/9IhIKM6k
            +mOSXvKawt2wJhdb92+uSVj15dtrdFwk6k2VZQpwRCBimNJFHgWwEjJfXCWt
            B3hU4LOIfahetLb+gqrdytnF7HZ1ojzkigGzCQ9mQPau9RENdf0KHBvhfCeN
            VjaOAeJVW46BpaMboAIrHSlVQCNwWQr8dcAT/ftR1COpdaKKrtVQlRd8gulD
            t5ot25glAlXmD3aNsaUq+f5AxTekGb1SDPSAnd0xLdo0zefnApxkl+uovT49
            E6vcfnWwsOMJOQv2PQjGubT3azy5t1JqeX3GvB4pO5y4Lic1GO+Oz2XFyvv1
            PMvrjx+C8eusz1CM0XjnXO2R1INiDqrIN7TgaDBEBBRftTTtW7h7XbfXvZ9R
            0dMda1A97pFtp3aypQbynUFLp5oXtAl6UZxqv4Z7D3nhkXBtmz5aV2fUaGJU
            zLdsDcKJRXcudwuWCpFkKN9ffpfgIramSaRvn67X9vG/tz+Xbv8FY5RJdh3K
            vQW0A7Drw6AzhCiiUd+11B2RtCKLvWkllE6nC9TcsP+CqXdSQ/qGF5HMAaz7
            7KQAqW0XxwuakoZwOqso7bUsgc56yc78YCphbpfkdmlZWw2pKXytld4SNm9p
            SrslNmrASVMEboS0MuAknY6lj/kz6xuyIHIeV7uVBE2ig2aXHx8+eT9ap9rA
            p66CcgDIjCLMjMXGOhiTQHdSjxml8a5FsMt6JMrvxRqxyLjaYGoaCPXQE2ol
            by12AQKgFHiUZoOpZAbjzLkIg3eNVAiIkRfQAUMik03OmNmXQCinK7UKCITw
            qI6UV93e94OT6wIVZg3jNZaO2xefYUxVYMvVWQRn9LIOeylYI3YqPgqBJp7y
            vGCUtMDbuoycdR7NSq8CmvdhyBzGkEHHdalUrKuQdpWHPf6Hx6m/q5rmBewc
            yaeNKYb+rkLMfdl73o+yknHdgZ2gHGOXNQPP5W7S58OeN60D+SzR22vKUxk7
            dRRtT42p9Kyk09olepL/FKbuN0wrG0RqbQjctxkdKtY9G1dZkbySDLxu9aTz
            NEYdlKS5SBcaPk6OtGyec0C5dtPR64/OLoWd3GqkT6WFtcF8hichRzUqeEpV
            jBbxX6a5pb0GSKgB1k0HjfTJ/aYCQRuIEvDooMIJFLsP9O+pFzRXYmmHlVH0
            dQL1cpX9ShmcrMi4L/uzloC1B7IsslHVU8gnNO+Uj5eS9TpCuLZRrvBd9nWz
            A/keZL06WBWS/yfatuj2HW9KXIHIk8w9vJM9z6PHzzlKNaPrHCn7cwy5ilUH
            COwl/e9hQ+tC/w41VDKwzHcZgY8P9KHGDcNPnU4dU1FnTzm4WZl1Mlx9vOae
            kwn61k4qJ4eccqkeAk7meVogAMWqWDvO8hV5UgdZtXJSD9PdIeQgGE1snj0p
            Q0WixZM6EDSPNj08mVFqejl6oskQhwyQkwPkzkQ2y1ofePKZ2x2o6Miwkglk
            PwNkqfwZvtsp382/U0LpPskFHYxaM/WcMEvJfEcrFzkrySXVYBdffgyayUFL
            rSiZDqLvi63ejo50ISwz2EWRqLCzo5lg/qXgX+C3giy9jIqvC7kqacTyiLHb
            YMYj5z4xD7xfcu1g/qDHNFVmR0YC94PtuK8iG1Q/d0l7n6PdxadRvPnOFGP6
            lXQBRDUDCVMhaBb9OBlDRkDQ5JbNewAnTjN60iio6+PVaIQlqcvqb6YPkT74
            KsUes77uUdflvAFb8PdWJhD6UNrJCuuWFCTIIK6dvQHONPibTPP8W0RBl/he
            IDpuCpDkRrnZD9bhMgNFCC/HvE8vhaGqAZU6TL+9XOQ7Et9ABZgiV7VLko4q
            UgAi/2H2mCMailGcBZrOkGhMUUwa0XhAJ0ByqVbkMNOJzwd3IKHxdQKHSwGp
            00VCkjbKJNC5skXaULYIaoqpQl7r/tyEDlnH4INpD5eNi9IZknKyJy/nRv67
            ARM/HHlNY4nnjr2oT5zMUgD7gt8H5QzahFxw6NYW8aVQ98JYAm3bIfuANLrE
            tIYHI/+wIA+VdZsWcEv5aQkOjWrKQIZQM+EG2CEep0usqpjhGeR8UVLnmxHk
            g6XvidODNthUVI8OlgNRYclj8DluBZPmBNJDorJvQvw7hymfxRaWQ0hW6YZQ
            NQzl9p3mYRW+7Qxwgq5F6sMCjFSkXZHbcULfmwzXZAFS/M6FLmsyFeQLQG5i
            eabeB2Ix9ypDux6NkkDQ1xNN7abJTEJ5rbdB5InS/O/jSkYMPlzxXv4GXLl9
            k7AN3hsVU8L7JXxeV5QEAojX34zJ7tv5yhbg71isoqv9RNowPn0BWJmAeezV
            TOP/DqVhLMa304pcONamOl1KA01YrFIky0Smlcm+4/Uw4Gi+rMdHUdNiVyuo
            pbOfLFl+NQNsilEpbtuAeDlKChE48QG2azHfHx7VGkfjVtaZ9VELKUttpXai
            JuJYOX8ah+GwsWZqpn1SHa1jfND/D7l1tCoPEr5oJNRAafvO4PDm9M/HRM3E
            rHLL1eRbqdhxeus/4myddBOLjzfgPFQxLU0rXWqPRrLVQ4cPDaIxPYZv+7FA
            Dzzml51qlewF5kbtCwnNJAgiVhYH7R8Wsp5uFIWUHKr7wiIiaWohieve4V70
            v/7j64uVjj+/vuG2/ZfXT5Rj/vJ6BSow/OX9S9Lf/OfX+/H31xMKB3/9fnr8
            UT2aj1oSybMx2/Ngz4s97/ZcpSwBp9Dn2w2aC0m3ybYf9v5m229/zoXcpMfG
            1UntOUrixerBdg5Vkn6YktovP3rQsYAeFQ+tSqraMX/adZ4fN0qYg5zc/z6r
            GjgCXY2DxRzQ/3v3sVdtxZ8lH69jyCCx/rI9ljnu1x4XyClgVYHB/dp+TX3e
            To55uSC9sF10UXjlOKFNkT/b79L79/fo9f3681P0/Svp+3/ut4cRv95X+vza
            rz3vafD9QzI+OngnffT9IuTj27furdpe/e/oZujfKWwMFahf/w5gCqFyOY7d
            qx0EVtxAk89BR5dWORxiMPgtm79HO2yQpPXYjbbv589P89feP8FGLGdKnWb0
            88Gd820gNf0f8biY6g== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
