<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.2003</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2003</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2003</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>04ca_2003_v5584</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8195</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2003_v5584</key>
          <data>
            eNq8vVmy5DiyJPr/RN5eiBnoPxAk97+kVlUz0P2ciKxK6b7SkXWK7nSOgMFm
            U/tfRzz4L+NvPOH////+V+yH/QsHPtXBfzke/N99hufioY//w8dqB8/jiI3X
            ivrIa4zjx79w4eLPaT/mEHBYji3Wp4aaa8L24l3qaqWWlvH9wf937Mv4XuvA
            MQVX7Xiw40hlaRta1CMk3YO3DSPxEaPftnZ+C/y68G0mOzqEYL+fx/sCNhB+
            YvHtHo39NtX3N98uv87lv0ffn3xbBx8Fv5Zy8QmOWfNd7a69j55jmSnlVB7e
            Iq1o78f5yE/DGbM+fOtQ+SgLT/+kI+JaR61H4msvnHeHI+JND4xK4hsu/HBH
            7MNrlYR9uPOKfhw+5/tIGfdZGNGrYurwW57Yl+zcdWPf0Gik3O24xanDb4nH
            3fiO/eeDfTg3nb4P55wL+/D8qWGWooawH43/5dtIIEQ+t3Zh8uy/4v/Fddw4
            eeQHH4zSNB23zWg6vvbjl6rJ5j9Q5vf+asf3/vM6h1NGXD/352HXacev40+b
            +fbreeKtaTquju9f+2sMw8jh1/EaGg7az/2p96Ljfz1PWEuUt9bXe+lBjSDL
            r+M3vcdf9w0j6jlv3/8haCff38/p1xm5Pzx0r3RbQiGO/tnv61pnjGX79xma
            Kvx3He0UL8lYYXj3towEYrj1VF8DmoyV/HqxuOZt3OjX/jmX9v+amBntFcKv
            gQ6XvVn4PXBXKH8buF66lnT8df2ejHPEPwlL+8cvgkh31v6VgvhQLSGH0Xp6
            sLiw3CpI7sgtYInUPBOYbhzHXOIGOvGp90MuNR4cewWRI4cTg1vPkLn8sJ1R
            bNlXWwrxeTBi53GTh4BjTFyk3+dR78Zz/9vvxlt7vKp4ERcTGHsEHykTh1zd
            Cenf/mGWngBmd8znOaeRQOJKqeH4x39+UuRJ//04zv2/Oq78y+POf3nc9d+O
            yyIGsOfYzv/BfeO/7bPpe57/2emLx7+bsZz+w4gUI4GsNfE9ffVfTl/9d9P3
            nx7ie/r+00vld2q/hvv/wb5exVpzSFIHuk0zv/nqtPUeQlwB4hF6EsczRrCC
            9xPkcj7BLU6oUSdE5YlfzoK/ij+s9BPa0QnRd0788diFP6h4540/cCiqCtBw
            MnSHDL0gL5wPXSBDD8kL50NIZQi2vHD+wvkL5y+cD/0hg4dlsNAMnpWp2l04
            /8L5F86/oMoZCRRKa+zAxa4O5WdJ5mZj8WJ2+nav728px0vfehCTLhyNwK8Q
            /tUYc6YKRpXqOKHFgO0/T4OQAq87VwPbE/vrwdhpx/Pg/IZnnuG5qQ3m287n
            ebM9Dzh2a+kZvrQoNOJ5XKfOg44W7+eCkkbeXHle7Lgn7hPP5+bn8nDmII0D
            9KIRVorh6gPP1B5IRo1C6vk25fHAJBxn+UGHHSdS/nc7pkNjnBHP06ltQBPU
            k+Ey8aFidvk5l5SFbGprvyBKEtm+BK6NaDgz37EOkFPA2ETo3c+z/Hw+Qy3d
            FhzPvyvuWaULzj0+o2pcL5uddafTZ+eR6tRNaaFkxNUv6e9HTlcyEqhSvnHC
            LDWDe6RwlcQp268Dpax1DpMuj5nYl+fD9XV0kUsHwT4Zk4eHmyt/Jm8/XE88
            fpy5yVKpmOx2PVfE8We04zGlOYbaoQ5isCGJoWhX/w46x3XCGiCE56IOcy4d
            A1p8aCiRQOIztc3vpGI5+kTi0RaJ48ek6phz5WxayvG3Y2qToYHnpZ1TMPFQ
            /0bhxHd77kZiqRgxHBUKRy6eoC/Q4uxUgjPJ8cL3Yt8jvw+oPjOOQHnQeR6t
            lOdY85GqH3h+4stdVAtziODWHQTcOJ1Q4Xlss2OPeoUYw4okbIzRnE9LJwkq
            mpqHAcczXoELrb/vfZVmJNAOmXau21KFyfH8C/XflRwi06jB5E2uYJqg+Qf1
            tw/1DylQZDsaRxDIjYcCudUMJvm1SrHA7zbEFTgYSTy2X3WflwLOo7l723k8
            dt08ljcNYD/XNH061z8nkISK8clmVHIdxGKrqEW7np49PFCi9yq6ci5O5lQF
            wRtg3JFsoaktrk/a2dV4zTg5amXcT+gjgOcs8bZGIVfzY6sPFHZzeXStvvo9
            Ys9nxHhOSespm8fcWW/JC7Tvc9J7TuSj15WfKl5I8sTIyPLLfk6h9IHwKZAM
            pY088E6LxlKoLRgJdGd8K4ySO+hnNL5lhk6TMn/FQk/2IHpIUGFbex1Pmkn4
            beafD/khBZJT6BclnZmFZJ43V0pYoGfpHyYooOAb5xl48Yk1HkDfiZIM18Ca
            AK20AsarLQWC2BwMrfW8jDmER46BEv3aYLLYD/ZA8/fU9WFZdJBwuxvfngIl
            zDvPqDU+OSXPpECp+xqHPwefrXFS8T1ijWKNTVwbE31xmybHQmOEG9WpMQLj
            fqZN/tn39f6YyCTDM7e4z4E1cwbxXHBAEeOZub5JzWbGP/RTgEDONSA4angF
            R5PNtXB/EgWJNhohnTmfmzdfF3WY5n6BTvfQfhgtiLt0KET+MNkp+fYLHPwN
            iwZcqO1j+npmFUuC7sKbbMb4kHHL7dDfgTzbKCQ8yOgINQXCAFoI1zkZKV4T
            KhQk9XWAoZ6UchjAJjcLdBGcv5ndqpjY8dwp1X6nRsGRJregczAPux9VIfwe
            aeWSPdCTQxsY28jv4K6dPgi5W2I8O4QMiJpkwEVwY1pkd0NS+CIoZKqjT3lG
            IL3xmwm/ke3dNTnTF4EmBMx7BRl3tD+hkixea8zP8ang+AUi6ls7ivFZp90D
            i+Zy7QhSbW3+qfPOp2PBtnhxQZAwoHvCrN3zclI7kuaWTXODXLk7hCaIJt0P
            jHkjgfFUu2gMH/nPg6AnTltpMY9V731hPNQT5LjxCz+2il/KfIwyIZW7UyYf
            roSv1Xpy4Oh06nYNrsrctLI5aFiAJW3GDXYoTvPQh+ZUjNX67FU05I+caRtO
            gcPBq7SJ5+VTQ5s57hvrijwN7NL4w6BjYaXpimqgOUdfIEQmvuMrddd25r2+
            NDQ9USMPJnbsrX+LzAg9AYKE9430jLkAWE0iEwQmOQ3FruXyvvGsZPb+rDAE
            RCYHWZSTCc14Pc+9BU08Wy9Z5wQaDo/cQSH7fXBsggbXIWp5Oz8Hy6y0fc5y
            Epiaz2oPGtbnAvWwC+QoUuAFLlgjfV+gTpua+HVTXOfhOXO8D3pTHd4Dgj/d
            J+fPgEDDvTkg40MCT8rz3hZCuk1cgb6zK41GBo033GuNFFBvcx3TmyOFEK/8
            ebYLmng1BXWfE84+X6EWqg383e0+1FNwnU4FU24sOydCvTv3ZKXH7gOJ8E5W
            duK5x3ufBDYy9jnQRfQ+4WuC8Vx0bbbrfO+DZWVeTwr85zRmHvZ9sA/v08lD
            wTEe4wGpnMssK67ciGcP5mWtvlTLtswu8l08u5HAeS8KgtTwkGftNNeu5n42
            SfJU0zpNMEDrx5MuW/E+Ic9HknPQpMKYtDzED/LDwMP54/O7YlKbuaYttcjY
            td5nfvbg3BAEeKF23SIQcnYMxoef3O4DvJaf88WTZsck4L7kMVja3XhaGnXd
            fSubkPwn18A9P+cnZ7Qz2PkJb0wlNKd3gqC/gLg4Jo8YrlZg+l4MOBcE1Nal
            +xb67SGhz/2uuN6UaRc/kwrl0DQEuweM+/vazxmnmZ+xf46H5jOkSGcRAecK
            LAyCIBjTwjuPILeCPRffTQRAosGVuquD66a+n2zCZD7gINzw0XdI6JzqyX2X
            1JqGKyeMVxZ9YYVwAAZ1EHADV3dAbd0ICnozt+AU/j3a93D798u+55Qx8vY5
            +bFUt5a829CEeAxjB6e0ipMyKD52XP46BtebAdKf2kahzgItIE3oxKf2H2eQ
            6XidFFTnM7gFkS19J8u+Ig6DZoABhoSd+DzHUV9NZgydx/gc2ezCe3X8zUDT
            Neg9Z3XTctGZbB580GTAdYaIDFqhonOYafkHxEZuzuvU5IZs+0e27yDYYlab
            fe8wIMV5ziYVPPk2FBt/2JnNOKxtyzIFZWTQ123Oa/kwoZwbCVx3PPxh8qGQ
            ERQm3O3mc8Vl+n7ne+GUM+rmZrYc3bdh2UuEbNvuYY3Dbxr8+jsss7Jddy3b
            Xn6f1f173ltb4efywbosALP8O5RCiSIa0CW3evng4XW1H+qcruMTBLvcJoth
            Pn0GsRxSFf2zbTm6Ugf/23PReYgpeOQV9AUBDjVogEImV4sunAULRrZ8T4xC
            RJCrlkxi8G4GGEu0PXBfOjGo8kX7zG3/p+9xyQc5eO5JMQqVENfq+FtUjrAd
            K9gW7x65hawLvF9Ptm3uF7ivi6GTGoJYkHQ6TMqpoC6MHVDWffyp9GSsUbo0
            D3khWzeZiBd/XtmbPyqbn4O3rooCliBd+jR53cM+B9z8mfcrexkeTSUXRcRh
            EFKp02KBCq9zwNhg6tLjAKUnbieUzoPuCMHJ54MKOy+wdJ5323laFlRX03n8
            tMxzuem74Xn0pbmSdeev834YdDoH/J0uYLvXqCa3sZDiPxiBJ+NR11rHHr8a
            jWVPLhqNRUzpYtAa3A0EBGuwj+fLtjrMKIVK3kisYKCX2yy8dgcHWe/zUJda
            JFy79qu6p3QaCTyMVjydrLDcr3XJC425Phe6/EJ19fzzQnZueM8lJ8kzrRX2
            C+YDL0jH5eEPMSCx8JK4C6ctjYtZAVcqF66C/ScUsFMKqgb4HHyexKDzY4FW
            ReJ7eYktfhObBpjSW24e+r9psfNpwQrNGsgjSOa7cnQnedLM2qf4K04Y/Fwj
            JCCep2/7CJZs/4wLlAE5XCFZTemCON4WBsflqc/UtjzzY1nkW4p3/keHVjPj
            qs39DtMti5W7eWCyokCt6v5bfyh08sV9zvCFCa7Z3kX2ZUuVIRIIGPp90xLq
            mlr9GQpLdWpOq499gTwZeX1XQOHaBMWlfQ7k7JLnbfW1z7llRG4OA2NvTc8r
            wLhfz8+QuQioZNLxNgoDtGQSUI92TUzWqcli4K03CS46sXGfs8Yqh7YCy1Ie
            C9jwsgmjC7sZCx+1u4XdRMBQLJ+XqMNWyvS8dVEd4KDKf1T7ny7mYkotXTl3
            TE9J6deE8ph+ZUtrGUGmolxYZ7fnkNsnj/Ea1tA6YHnEyhBy39ZVwc7RNoeC
            Ye2ct19vrOB57p9crcybHOLD1YZxKDk2nQTCcj7/h8OSE3xSBZIWiwso9YIT
            nMer+Z7SLkWFPH7VftvxU760S8fPz/HrPZ7pE+Wa+XP8DfZPtzZkz6vB7pW6
            qiuoM0ZaH/T5Hef275X77qPuFy3puSnuR7TrbFcKBhMk1m4plIHeYJmIg9uz
            7gCUBg4Xvy0rAc/V3MQsEKvf79GKlMjLiK0eFYb+lwtd+lRZdk492kVfc6Ub
            91Fw6pkLxHds0xGiOHsmBPTGOeyedX7uefOeFbeVWRt5VSiV7d6EhYGazP5q
            0c6BSlT47iEojqBVJHcZFk/veEULFofIDBow4KvSPxV/y++abpoyLouHs2EI
            xpcNgxptlesc+ukqLHgoSmTdSYQzuHYgzcpWkOhN6LifoiDmCE7U4WAjgY9h
            hcMkHnTQcCCxymGxNdjHFy2UwEjd9bEOAl8KSzUcUu764dq/bd2CIM3h+Dz8
            e2I0VjIXMjUF3iNLgY9hkAFRuwfx8b0yxZD0AVPe5yrGHafl8hknqAVUKkcN
            LreO9CuS3gvHpZ70J9E/gHGp+RlZziobF0Umr9++zSgaOYoHjrJMBbynvwf0
            YdFAz2fosqKYLBgGHeDr6WPJmbRIvdvKwnFSeDmpRgJpZeWdScVYesnHX3a/
            tOkGFYrHOeRJv8QxaPvgTHuB17dIJ0bFhSj/5vbk136SHfFcEvptbBDvW3aE
            UGKByicjgOQliW52mWzuNK2YvtxE8UW6SZeC14fEFG35hzZyeGad0k0eP2/O
            9TlvDTsvRzsv+nkwg3VeajqP73vCMj93FFQOANnYdp4OcV2ogUBLf8PYnGwM
            ajm3U7hRF+l6Vg8RgcKjrcYboooTeyeGCo07gYpOfC90GmN1T3+eqxyzbR1E
            QbdFmW9yXu//KPIxRPNBzu7HF/Jdup8r5uYiPhoJUERSuXoVBsySFBiFa8Su
            6c1JSg+lMwam3U12DfP9jXcnl6OK9jHmzbDJeE46ZcBY3KmDSy9QOgmBesPp
            rLJ+rqNBfRjrOuVGmbTj780qwRRoGzshKcOPrHI/hxMRCSeJcKgYtrhg9e97
            Pgy/kHAPO+flEo2hWb8/nUjiTAxVXXoGDPjJLTPuPgoz6IUJIH7t5Arz8z5P
            TPFsRaEprEief66tozTwM0tlJUfgk7k5e26lUuc1nMcwEGQ8uSY1QCOyBqXq
            PPeCvC9wYi7W288PoDBdgx5Gu1Y5OTZV1+v07OIuIIFZQ2EMLwb+oJe3G1Sw
            o5dl9QurlkNV7QZSnLCuj2AKTDg9ZsU8AbwfH7aCALhtacvr1sY6135ouqko
            r5M/dFDY+tIk5OEeRk5AlLtZD355yAqrmKLkWhbnDD4hUOLmuQmkYNA5Iffy
            QSk+wTQFy7lIKOPeq6RB0QIn9GdbhylNAW/0bdZpMsD9ikXcLnqxwE6oQCtP
            8NEkrqy1FZVZwohZXvrvzJeZ/9j+/HzbZzkIIc5pFEVahAylpm4hgvFojeHx
            ph7nUqpAUjYI3QyHgjen3Lakf6zVB4+c6f4o0PdkXOcz0sdWsqJrkLrV7E59
            p39OkpTSUJFJSTPcI/D3xiwoSJOwYK+mfPg5zIIK/jl8PvO4EP/xuK5jox9L
            yYlP+3cIMz+v2XUCbvjYb9ieP675+Xyn8Md99J5/ez5+rmdt3Cqi2cIFEybj
            OSDOYUzg8xh6Lmpp9GDldOfzSsz9ocXuz265SgOylNeDycCU/WkOlzgoRdyr
            zJOm1Bc6K/uN9WXfa/etCOC+Rfswk+1Yqv1cW0ES8CzgOl2efIhzfoa6M1av
            ou1BZsu8kDxuywCypKtzmZQ/hydhHRb+hJ5kbou15GzsUhIpb6dcINB0tA6e
            YQlRlWJATiNzTmIFNK2TO7uH0O6707O7P8dOv+7dvvdl252uPfy8cpuZiFVl
            12N0UbkKth2HbZvv5+J2z6R9n3af5sf3bFvYiMXSzu37TjMf/nw1hmrZxj5u
            V5Kkx1yW7zT0NMzqb/789fL8iG7jBcUimmbxrFyNBKayXuhk7Z5w4YN7U8oM
            DxHJ/rMMlWZ6skQJcw1BVzASbiglOIQMDfR60f0ZYhnkl2cZkav1LIEJmhmS
            ZclOD6NE6X41xZxii2WCZU2YCwGUodxHcAcWKMBm6CPG6y5Xau4Uzcv038c9
            1AfVOJNs8kV9tnreTqEzwRtwbXxWkuINFjQgnui/mp70MaXmVGxh0Su0weSL
            dFuGoqI/2obvZKfPAvjcX/YEJHjItlBYSzJPBV5BRuEOLBO5zfn6OmMPbXlt
            OWmhn6TF7dJxgedDeNwUcPyc6Jai7vy1CHuAac9EV0gbnAe9OvP8LlcQrDA9
            u/IOkguCkyL4fh9c/h+nmE7Xhvl3oJviuPql5NN6K/YdEqcWTrp5lI9/ul4a
            K1lK0lkgyDkRmHqul5ygmIBSoOqfevAi1XvJmAgadEwQxO2kn176CCcF7A0D
            eskBSadBlAN4NQq3QKcLBApePGFiSR9niTPSpYwJjphMOa9BGCsxfRZb7K/1
            ShEGzOrYd+EzLg8tbabjwhWiQnI3CYQuOVwvdGzxXAHnUDSKOc4cYyOx2OeC
            QY+MD+eHsbQ73/aspwzuu0m0Vnxe9hk3hbpinxs/V/t8nQwG2mcYU5h1+8xU
            kfO6GQDHFDzXOe1zw8OezT5PqKqQ5W3Ayj4TPocbWpCRAAMUejhYf2vedlEY
            HqCyu4Uuds7FDdF3ldBk1WKuMkxUeuspA9vVqSLBFngurDJZq63sWF7BKgq2
            ijiZDEAyvYHyhF6zU9YkU66uC+JUq49JVsyikNWt52EGS7LPSWmLup4HW43g
            0rc4IpVnE0UkxJLlx2G4x8JCI0p9CuD3lpDmHIPxo5hH9/PAKi5XK+cmXmYJ
            0QiajAJAW6axRnUyQf+B1TX4TKqfqrB8q3vvqTIyKzJnkLeygFJNZDARmlxO
            Yi/Nj+86PkVyA3uvSxwlKx3roCd2gZ+2lbd3gXFyGoStMSjbbf9kIF9O4PjR
            l3BNehAwIL3Vyyr1oK2SD1FW66WpGDL11m84OBFVCfZiSZE5NXjmMs+W7pOc
            yG4IbbbReYVJplOU+nnDy0PyaYLShDl4w7zKSuPFYseqYBJyoF/OApyhNl1r
            BNqpAcZliJtDhdhgmuAN0g2r8pQyCEs2p8WUcGwfK4ir5SGRYhgSbUSucCwG
            cKgU/BwMHog0USkr4+t+8VL0fVQYVvkZ51mHuB1tFtwPx9R04hgoB1DdKhXg
            O7VTTuDrOva41JPpapHubPx/707cHKvFjC8KcYzdtQ282ThBZNeFYdazdXsv
            LZgqbhbu0fKP31SMh/d4ogXm8Vkvp/MGIxoZfys97noKJKQWPRCt9y2Mfltq
            dryX+YO7Kj2lSlFeGsVxQGDgnBla0K3CBQtR6MGZDjxLkWWar4ABWZ5AyVo6
            OhbXk9p8xQaui+9RWn5QhABiIFs1I170DF8ENlqK1SZITg9wIK4uZtNfIBpO
            hEf2j5PJz1Q8MYEkKjoa0lHtfRKk/cH4VSEt4H7hFjEmm6jjkUwPqTclroTt
            u+PZ/eudCjmTiT1MYNmfb34OX4T02HNy3OKlHI3jJd6zxcY/8/SvmpTFKCIr
            k6EoWL14No8JfjjaWPLtDVfwVCNCjuYc6nAFOXQLQG+Od7mCjY28GuM+WYtB
            pqHrPRhrI4FHDlPbWW0rdseIFTgBs2DX+bCktSksFTQgn0EkQYA4xi13wJ1+
            WQeMFoslg/WsoBKNtdm0IuNZDkM5AiF0Lz7k9Jdd5uml789ektbGk0ndMMIs
            Eo3PYr289hkw+TfJAfoxs2w2+8TLgu9NLJeClQAzD0ygWzCzMrPdMl4DCTcy
            TlYDDSumxZO4T/5OxXAw+YrZMAMcCzKk44bjZhbpxXiSIvnyOOA1WAIyT9b7
            NRoDnJJE91iDaVlGOPY16YphqoL2Y/7fcS0srfwQCZNhlPVfLqVMnh33hU1e
            Zx9SVPEeIKDhTmW9EzlxYhQCnPicinFOZiCOQ16REczznhhvp+KVWJ4AizzN
            CIPlLBcVGSljUcpg2g+hFZFtFah6HBeLiptBH+zKjs10wubLB+Bw73FkIpWU
            5krx9rJRvCDk3iXlD9dOLDXgpBQqV1Faee/P+F4ZV39XhJlg2YiH0RYzDWNw
            B7KljjgxQqYNJpeTYGgWBRAm9okI+RtTFZSc9r0IJkQafWLUHDn5GCOwbRNf
            nBDnTmU85/48gkb2x2I4MCYwrsM6Xz8f67Sm5xaFvvfTZYVrVM+YVvons3SL
            rB4rJff3zowauNeeOtasJNIv3QG3GxMEL1HT6E4gtzKLbSoE2zFNZ9qUc0BP
            FvVcigtNvRAoqZTPZ6bd7s91PQpKtlOr+w578IIUoqABPMW6tRLDDa2ZQeJU
            mJ4Npc3iQ1TyKh2SkH03ZPBgFfGEPelJW5Rt+9gdSQ7x1gtRDioXGVt8DzB7
            8QgmW9/nZ+py5RhGpjVA2YM1360SiVmCV9SEabAhM5rn3YidBktWSLF8URId
            HYyHk5IGq81mPrHPPGfkATBA1lmnZFiDUjMy1lBXhlgW+9DKWd/KTmFmcWhS
            yCDHxbOTZ3A92WZ88/jh21eLxRSokLCZo5JabRdrdfv0srz6tCkDa6UytgNl
            rySlb5cARYe128zjVv47VvkJSjwZnWZsn6nbVUVRgdZDKKbRM4Yh+5ligIFK
            5u08fhwLJphWne/DmFUG0yoYAOWfgtn4PbJpzEyXwT6w+OyIE5fCD9cl25f8
            q0RPbKIewnNpJMf4npPjDUIJHsNKbejzafY27Wrm7pCMSJiTKaCuiGKMoEC6
            kgbjj8UjujeMZpBAg/LBXPHnJkWxwgPLKoSqpMyjMF2Bui5jJaw+8ZfQAEUM
            xlIaCCYRJhXTCiUbTIGyQCKovNvD3XhZX4FKC/jBSuiqvT5mDin2yVY4EJkN
            LoXB2AVWyqmKfS8s4Mf2qPLm+eH8Yc6SPMx2vh2Fk3956LIZDyldvhKoVR2u
            jdkWz5yslIYro98WaleVg6f3UQpYkv2pAhD5O+lcUoic9uKAMFM6mckR6fQj
            SIBgFifLJIuikxdNinrf8VWthygaeu+QX5QaG7QtWF50lJgaHZPiUAyWj7da
            JCg2MaihzfbcMYJPXpEhOLLGCWHA8Pn0KHEYLmyxpjEFeDMqJWeRwM74HWZE
            x8qHILzAovFsI57pEgZKD1OaJwQzrlPxfPHzfIc/H1PuYH4c3SOmbSstjExf
            plF3z2vVFpTu340D+TbKlnZnDt/xX9xT9cbJ3pPVXJJL0W326vmbiRW/FhOx
            g4vfwF9+sPLzuDAidwjRBjn48RxkmKhXncyuogRV6LW3SxOROHAMBBDtpdLh
            uOwFR2fmduQ+vbhveS9GVbKIEN/rLs3BNaonA1s908DCaIfv6/u339/xJCtM
            q6msnhjs2+N/6ns5/HuyZ/Wtvsfrtv08rvhx8df38Ov78fN7eX5+D1DR6PoU
            P2Ei+QkamPSjX1fxcUy3nzvtmYqxUNrL2N62xXHTNcdCD5wFBnCQeY16Xn5S
            84t4cGBiqVNvkmsxXK6C0xtUVn3IHzP3QQm87dgI2nli6JNG+9FUaIHP2J/f
            64A4wQRoOdGJupRCzM+dORbHXQ+77tHt2pEZ3/WLmMD/ru3ePBhdxfPEvxOV
            MsGdqIJnkHMV0kOdNvv2/Wn9+n7++u6BFpNLdY8hlBz/3n99b7/Od4I9fOwT
            JrmC41dPFN7a773M7ruWB1J22ZgnQGfXjjuj0/2Dm1Pdrtwc++zdE4n8Ouu2
            cALsWAWuPYqhk5t/36A0Owqz/OI76rJBcXZUZoPq7OjLztre0Zmd/Rx3tObY
            Wzsu+XV2NOaNuuwoTf4ZhdlRqdB3VGhHi3zrv8f9vB6lOT0rO3cbjNMHc+2s
            7fwze/t3tvmbzb2zu/13EaVzgeGr37cOLTAgfMjmacuaqKQSZbVv2MM7VAU8
            lmxCJqmn2l+xCA1uJ/R0KU8D+oa4rBUrKmlHimikaNietuswT5tEhNSrMegk
            ac4FGnUcSxax2on22EvowKHaPRhs9kL7oqYvMMeQ84N1AP0TqqD9Ht29h+0k
            7tj3Syd7adhavW19I7jniVWVxDmgDymYQd5MvhFBYtBJAVWJVZpjZ2xVeqmg
            rzCriWXJszmIGd2f032t7trU5yqPFu4I8opuMplo6YzgFLo9i2rdm1Sc6uKR
            Uac6TrFp2h700w6I0DRMCaQeU2qQa5S5oy6uhONBHzizUJyLtl7jltWJ8eie
            wBUDvQ4RWg+UTyZrMIjC8cczP2LTo0Otom4lrCTsl84PvSsyvj71G/gJiE64
            Lazn5rORQFi2DZN91gFWvOSmknszui6gtKQrZmq8iWA1rB/GW0cimuR0MmRI
            rz6kfs4uJtxRz91grZ3p2ifrGsLYaeYYwRruAiZem5Q5DsghYJOmbCmW/pVT
            gyVolW8HAVjqKbba24SdtzaL1Uoxs8ecXU6MLLohwagQh65Jfg8SIzT1oPib
            T9W3PTkhy5fDVYSJT9HOlQ7hIiC6TNUW7x2fj+ZOIx3SbFEsUbnkc+5KNhIC
            E0eojL2KqutOGOAV29YbpJRK4ca1pkTqV40J606OYKIK99E7iMimzJ60i6MI
            0AWiCrgerCuumCjD0VIqTRk80l4Q28yNZhvXOw2m7fClNjvewezNNqsXyeyi
            niubbzP698DUfsalORZmqshcGQSoUmaVXXfLtC3ruhf5nM5eMTYqr93B+Y0R
            d+b9u1tEjr32ykKXeVsmblkZuhUXNXOap0m0vaZ4ppkulTFRRhkI+RBh6IP4
            5QQvTAdX6KfPXRyOA6I5xKX+K+uHuYlOlfRUy8sxuQw160MJFF/7r70fGndP
            FoLjfsz03IglXB2rYZYjnZbKLBryyOC4Eqv5DC0Lt38fbxWmWiV1dlhfgknD
            M4dLdcNhn5vsHEb1ed5Tnnvenbr58HoKHFrJJmX6gL0mHs9UPKzaa38ORFgQ
            BByeo5Md43yinuDdKs5PpxXMK0hAUI703MxWWYEhEup21zG3jKPJiWe5Cgv5
            wRnWc/q7dHoHsVhAwfY8Edzq973i/fNes+OdmKLGYxiWDJsEThmQPSuf2AZc
            vsrUyqFAdKMTc0gmZpuoI3wdz0B0UyxRN8A97Vwu1ekDHJWFrBciZhGP6+Bx
            4XrlWpA7fxzK0w+UVyPXcVlNodhEdfgW3C80q5HTNnbL74ds7tSqLcPXn3PA
            5mcx8JXSIw+L3Gi6P9htZ4o6WectXKAxK80narw4qTYMZLNMCbo3f0QyzOnf
            wdK304JJaN/aKlR/q/D2uOvmDEJ7FAewLVRu5TSyBG0mXbPszA/sm2PLXhCE
            2F+X40iIghw7PCoVGfobZlFZHscROgfGYpDg8ITj9GgQyZw0M8FaI9/TSGAR
            AZQ7oZhou6LZmBChTPcWv7XP9fi9VXw1WiKksD4kA/FgzQClfqaXnOXNE/za
            T9kBFpj6sxPu9ud6fG2XcR3lNzIo+X88OB62Y7D8IJZQ3wWz3OEytLvW2tNH
            DkJ7eVO+v+UtlETW+Zl2m1xpNJv+/2YCweSu0prVLO7oCT1oWtHnc1JptAQC
            C3VyP4j6bNG4+D62g3uwmhqDOIM71KvGs7k3mDG4Qy+mbJ56+WCTCKAXkrz5
            vaT/i0FnWUq5oBe64I3mrSk+wVWAoeDSEPAPmMBSvQBNBShOXfvDTe9nkALG
            LVQyHcdjIrmWbFwqCh4yk4PawaZKYcmze+XogaOpwOzIOJ8wViPuCt8Xp8QS
            7H3zLc9dN0heetMrPc3KNYiUwZyQEiGkPdODWuKMBKmkjGPEn++pfCz+BqVy
            unmSsytlvCcZNQvzAn0Ckza6Av5Mt0i857NDadiVxh2Uy8J4OKyKOlnxfdML
            e/J1Ya8Tw23Sbu+LTkdmyWNsZrkogkIqzD4LFD0YVCwkI4GbempnDN7DOYlp
            alSPtlYGtpzkyqRKKTmnNO64MODtJlqLtNjUN3YyK6WIHOoT7tetfh50u0xt
            p/E7iBJDCdZDB/zYjpXD45a4u606BY1pv1HLxXnMTaJuhtdZ31mVlsLPxWjB
            47wVr2LHMUqgHDGm+jCLs/vx2Y5P3bcefL78enlfz3/P/vvY1dteir4VM3O5
            qvo62u+O7sykST5PS6rHvrJdvx2WurBLziHh7Lxlvu3D74MRqpa1advLnz9s
            bFd/3pjtPpeLJ7qNxg73MamwERxxuQPkERJGZoJX8UlJqT4XdFRNQFY6i+od
            9iTQnpvBWOQzCUxG/KyUFDy+JIPBohKj1nOnnYO2V7JV0BWzxyQ/w2xLJvQ9
            FdepVJ3tOkHqOu3QRCDu7tmMWDxcvfIJT6/kbZ3laMFWCva3/P09xZaUw3G3
            PlVgYNfn6ozjjLA9S29DNmxwhfKw52X+KajkYmC7GdzNIiauCBHXpF3P1RrJ
            IaZwGqCe0bjzseA8gwdiH+EHWEIbko/xj0mBWZl2/lUi3h1UpkGL/2B67G2x
            g8GheLnFyx3oA/iF+4Dv/H3J7q+8V19MKyEmJ1dQ9eduFgzJ4k5kOZk5CdLP
            v7Im+6XiSuHpPMzRZ+UIGB7deU4Q4by38ySDJ2lATmZVXEIqon+lm+NALF9Y
            AvyN2YHF7cnt75VGm6+476lytY2OQlZtGZ0H7+95UBqATNFVftrQz7ZyHsui
            MABpis8hBZAVToW5wNSwM8sPcJ0pBUqKLgMddFjwWUOx98iWTHho6+9B+B6x
            du53O3y/h+z8RwhReo9w2nuky94je9hPdvJZbwa3QZy0XzHr4IJ+fvbzSTz7
            mVjMiQHvyfAZpEPBhjf9zeIQgiKJz9d8yh82pAxTgzcSCEEIPmQiyR/IKY4y
            afIiiVXWmRgqWr0snQieD0U2lQ8VLhGA8WYM6UfaLY+LcmBkuQKZN6UcKcNm
            +jFpMP7H+lB3kDOmKkJjYHc0ZVTbJ1ALiqkoWCtKnWm+7mDZhOakWJ9noTnI
            zA/oD+eivM1c3JUJLZCZzKMj2AXTN+p50XuAxS8xhrVNYpfTIMmtaZ8hmR8i
            yPg1hl/DnCOOkM1/F97CxdErdra4yT/FzlpbLJgYeHbM0x0Kudhx2nE/zxYT
            W+zt+PhyDhBVjWXZKcSRo82dfXyZvSy0Y1IrvWbu0B9iX5EpHSbDAws9CQFH
            xQjDWOjeLKz7Mkos+Tl7UUIA7eRJXSEzn8/kN54ERJvCEzDpch1CL1GWRlGS
            njRa+hxYDaRUmuiUmryOL3tZmVGyuT+racYKebLEPQoiRQlt35pzC1o9zBUe
            mRykOyFt/wHj16fnPhFBMQs8czCb4k3DkWgHX94BCt82rh8mg5CuJ8FhRzHY
            VS0zZc9hEPu96PwMnJX6VMWDPU/mZHYTy31hU5p5nqU3tU+aQ0mdYX2QGKiQ
            +aoky2T8pvv2YCVgPtpQrJK6QdDKJ4QFPQkPlzXbS3BLP5nVnCViUxIv9opS
            6xm/Y5iman+tlrrPGmQdlz7HCUFhKXXhZjSP4hAvNLmvdDtvX/8uP68vE/nr
            GjU/933sUmE75+r/+ZzS7L43zY8apnBdlwW/FaRmMBZ6L41yeqYMIEAB5IvH
            gWoJaMKSgRnpkerSmIlXT1iupmPy55ipZwFlU9PHszLDfcreqizimszboZse
            gvYJEq+B/si4yz+Clz9f2bB1yKatSNS7gwTWmGaSAFkUY3vP4xATOTdPN8hM
            bJGUtHUHa3uyWkH7RhXgI/er4k5p3lWUAFsswNaXGsU4y8gYxvsaYgynFXYf
            l8VZlOT5PJLwlbHL0RwpF0cvoWiChOmR9JQFZiufvT+0Rz2DV2sJVIj53CR/
            vMm0J/FY/n5sxzOe/G0KJWfpOfkbVwLuAQ7yKBcwX2ntzOSgSD6/k4ndTLDV
            NfMlquHx8b6UrRwXcxX7Xuu0OSILC8+977xo6wohQO1ktrcdbx6ChVkCIQxO
            Pz5dEGwYe053wfIsdH74b9fXbxXKIRTvcqtQJrOFyZP+cg2m32Ns3+9YG2TP
            Vy4tmfpyK27Gi2ECTM8FAytgru5G76rOwWAQhoKA0SZlPCK6PsmohGNdicDV
            fCGlrDVmAR87bhTMWj9cmtJhJZWOHnIYXw+9CtmO3dhhbom/0nyT/eNedeX1
            DRiUzEAbnvx6KJ1iKJJKNaZbgiwt+hXbCZXMkL9S3xX4b+JQ3IU6WXITNJ0d
            HcEzjT2DWIk/F+F+duJO8FoBdw2sUq+uhj+H4X9mU8pZ+k8AceiPzA053n2E
            XMadoMY8yaUkk1OS8z0e0wnozvTuoH3EeaVXlnD1H+v4+nkOlWxP5f5x3piQ
            cOOnVf3e1yTZZZXwYzv9aG0n45uFcSgWU3L8mZYOIrgwGDRtZMip3I2uf7k+
            WgzN8ELGcf18Vj5jEUz1ffCa1OiZRAxWOw6T7gmfw/d1rqIIgYqSSZTZs73G
            hov1pgHVk0IrgRZblg4lfcZvsHXNwmpa8nZVtZwKBingvV0Q98LL9voaDnzo
            jIHl/rpxIfb+Ana2hMhyxV+/JQIqLYGe/flbs9920uWfLwVtwPxpO7lICrkc
            hs18bMF1VLkLaJDzC71qp4rxtKwCZx1qCEPLjVmUmeMMs3BD7KluC6+leIZR
            tMK2VPI8SdMSB7X+iCPGcGqj46j/9Xcvb5oeWwhUJD1X/sJbezUIm1SJOmUB
            LZXu2cpgZI66mMcersESORuktqLB57CgNxCyq79IJoMkrXTbqKUjVyYRSJ/0
            BdXeDU0kEHCBcdfWX8iPLlhiYb57Dq/ZfJmprMxMXZ3ymWUQkg5h7zvoeuQa
            I9QoA8A9rgfv+ml0QBxfIWgoGRCqrphoUdoq0XNNTPfl9MqeEowne5pD5FAR
            5hf66+A+fj4S1V4QMTmpmA2rq+gzNR9dXK5NKgWIse66vSmiv0pHOx82Qqg9
            V+I1T4fD/B5qEN94sxVpDHNQbiMV9sVi1CVSjV+SBqDp3IUIGVSMNMUQYTCO
            wRo5PJeS3kzVVx+xYsU+DFJpP0sFYvRsyEEp1ou1/bm4pR5MiD9S9GamhCiu
            mHOWHTBb/gLjgSE1KXsmDCZSGVc/HXdUvoh9zfxe4pYzP3csg+p4vjLHvQqw
            C31ZvmsZz12JYtZSRV5NWL4TChcRKw0Lj0Fr+rxJKBDVP6SZX5spruy6wZpi
            y3rvFNNMozrPt0KK6+ZkeKeZzbM9+RC7rQl37BNe2g3EdsX0MK3QIKqtyEnB
            Xi+USd1gMvF4xcB0TMx7WUyews7gjGfzhgfORph4sCWA6UhIWmLhs0cHxZg8
            4cPh5S76j7TQg6x8nORtG8QsFlkv12KywK0cSEyPdPRxojQF5WHE7SzWIXIZ
            Gbo4vS6p4PHJKCZ1DSyMaccTS5nHKwVAqY94LpEhjC469JNdJ0Zex7LmuA34
            /gSLUd6Dihr227WTVqBf/+T1s1+feSJMLBKnxoT8y/ucLhLvKlyQi5yCY6H3
            Z32Jpy/ITUb/IE0XekaU0W7332NsFc6qMGua6KJWIZ1jIzFaiCZkzy52xrH0
            gHzk8yabN6kBEDLEIWGyfFO+CfkHG71Qm8WJXG6hSrNdN5Nq84ZxZN27Koie
            7zgd7dBlpWysZzC4+sws9pRvd8wGGwTMN10hwme4BUtfVQF0q5oAKx+2GKEq
            Uoi0xLXt5LuF5QfB4OrJw8Ha2IjhV2X2r2IULn28FQfrJI7JNP6vFnnT80cs
            fPKRasw/qQLBISRrsupwK3fYK+3ypkzxDeYalsPtRbi3K5SChK8rn+dyAeS5
            /Soxd4z88jsYagk2I++iVdcVTq9tGJ6+/g0tz2qRzXe6Uzcjuhvfys0TifOQ
            VMDJyiSjLHrjQZVaWYb4l9Rj8nt1uZ4ihZWZ9aBE9gmwoCHra3omkuXHIwHh
            cZOLbIhf6Hew3lVuzXABU97TSmEXEw5clL/LvQQKggq2qABFonE8zIZuB8u/
            o1fc3GRVsIPY1CDfluVTEy3OOrwRQcEzpZvWv/heEdZhNmhdeUwhydt9slAd
            wjDoPDoJWfCYGDy8Tbj2AmYVVFlbzKTgsUzR/RfH1qJ+pEKeMR1mCbHMyA5L
            i71OSvE66nqZlDysWtMoofaNCxO21M4mtVWvAbK5usfKNfJZkKQPa4Z2SwZe
            gL4H/WakAl3ApMA1nDblQZSF9aFFuRMqbKsKawx0VejXHBa1MJpoR+FfMCQb
            /F1zZ9KDrtbp1W/TYo0FfILqaoIyU05ohWZRFhVXs03FiVGF0UANPC1DkiFk
            ghL/TjOitL2xVWAhC7lpFrv2TgPN7iRn2pAQp7pchUzY0zP3wqqAm+4wu+bx
            65rgziWprDEVe0crdo7mRtjvnYkMPcF5cVr5cp5D+C0pkMc1mLFT3B0pdyk+
            K31IGHNRmbidVYa+LyQz763Co72pRiQ5xuVk+CUVizUVHxQmuMhlqSxgJS50
            09Vify6BenLeDrppqnDqljVhoDWBdXETZVwGyLkPlP+AatlwMei1PPLfQmsl
            56Zypao4Kq3slOROdLqMIbfLbvxR3Iu13Qxx/UzI3kroLtw9u8ckncx3pdqz
            C3uXbS/2XGFRz7MtqWUVUHtLxpE5455hTk1Qn7t/9iz+sH58PncGOqvJfny+
            X4x1fc77s6d1hOfn53h8Muhtv5odJIlJXavvEEy0+3SrlP7KvN/vsn0Z9YXB
            8UTwDacDyaytRwpaK4LJqR5BGM0A7ov/Dsu4GfKNRxRKta5Qfnx15JnTA8kQ
            fvm7GvuGPm5RZr/+YcfPZccX9pMUbI/9Xh4jguzPD6Iz+KFllX/HtN+LBZuE
            WfeGKdTWhq0faE3GIElBZk79NRyNJgaXaSLkSa0OzyiNVdWMTM4uTxZVmgML
            y2YUh6Y5zadMMTqzefTf8sHL7k0g+7I04TA4msI+lxKQcc8i8IkEloIlCFap
            HCkr7h3mJR0/gC5SFHrxXT9guFym35p++3rvpdxfvDOLtQzix+5r8DrpsW5z
            o1uhcT2T8nhVotXt94rFOCYBTNnmLdoxcnz4MWqYbNn0TFKfZGUEvSeLxjj1
            m0Ex32L/4LbENljg4rqXIH2YOkK1Zb87dLbRvqrUYSldDtLH3lmaQ/qcmQ6U
            rquwFDPH21poFEXnm1gKb0RonSuacT7YeoYPEIkE1Nh5hia6UJ8oc2hKERKH
            7KkaovKpaD39nQLLxcMwPfPwtg2SupaT5LgMr9S1oMBDiMdrX48AjUQ1jhZI
            VSAXQ0T5IrRkJlX18Qyiw8D2o0VJ/wgRcBtW+1OEGMhwTTt2/xCiI1P774Mu
            GRw3wem8aV/0QHdez9qKeN6qlRUbm/ULE6DQaZ88LvlYsnp7pK4o9oh1qzjm
            w3glLUMLoL9V2DVvDCr3VZ220u+dmpIMiq94TJEwaMa+jW3D0Li918tzfCkm
            Z7JglLREVgyGaOUWj7mUzsOD0r0NL74qtKpM0SaYLK2CbfxH7/B3/P3lYW0w
            Op4YkP1PL68uiVg+hL+77ptg4CeFpPvPnodOxUigLis5cHNVUAJXvBvhSUQ8
            oRlO+rDq8LY9S8uSx0b1l0vSXz3lFIQSbVCyjSNXZ1fSWFBnx7WzAXh7S6i2
            cRCWw1Aa7KKKSyAwunUOu1bDKBRlSzpUIUVhdxd9DeHqTJF1/blUywK8j6+O
            bMtWKT24HKtBB5HpxzGo2IyuGS6QqO9+TGhvZTyra+ydu6PGSLnBOAsYmujx
            UBYJE+BOU8EiyHmrdJlpHdVKEh6qNa1hwnszzWh4CknzrMEWPHPAvKWEn2bg
            irUvgyhkM5FLNKtvlbsN264aAKVj0pUulajTh2LHTD+GCR/UOKq1tuW5p/ZX
            249rn/rssDnSeFRr2ixxnqyRq5aB5Wa/FW+XQX9ZDxAdBlNI7sa4TBfOIFGU
            sS2XHctGJjg273MzC8iC5PIkLhWzMAOnJaglF48tJdq+5fvoV7OyTE7f/kzn
            EyOs7zNUoriRpVu1w09iTvffiZlEy45QItrOwgNbrH144h8XDusjYe2rA4NB
            IrF4dqUvgoQtMhPn00yUIn+16mm+V8mA8XQI9PYPqhVmgt+8Xmz0ZByid0vh
            oL5Ap6PvPzTRDNPENvk782MKREEhEGXoR/r2FRt2FBW6l139jUOxNdN+LlK9
            ngvEW2iNjgJ1R92D5s0tuIg1ema5pHnM+/Qip6BUFhVzO7DIzL7tviWWMAaP
            OEyfxrv0ZxgsN1Q0ByipSpK35+bCpS5HqHNCf1c6rqTlu2lniifHODTDuPwW
            D1tho+1s2rwrim05wo4dty61D3nmr8zEWl1xdQW2eEXiLwXX0s9KCQYp7fkx
            WNbJIFb8IR676Q9q9YmygqB/nqg8/pwo4hr9baK+WSzlOYtg5Avxgf+xUn7d
            b7PseL3Vdz9ZNstqNtuF3mCuDnOP3KcBd3wrpqs7oXWD7LHr4ZlnYejhc73k
            1xuulOJ6rF8SocydF/S5rlqJE32zCFJ8uvuGqdTCbyS6N+8CSgqwf3UckaV/
            P9/3de7+dZ3+z9epw67zxiEyr2MkYL3EH8tqp7v28AEoyRS6Zf6jTGRNor8f
            YU5GR/NKb+okcQIvz5JLVtVPnHI60Cajt8RITH5dAlHesG5BCGAy5Uzue2Lu
            y2ZVQ3lJpnhOQs8oZsPGrI1d5InDP5ixLyVuYNzdg0km1tl5wKEWNNGnR00J
            quX+KVgGc27IHMbZBjgTgTg8oY5MHN/b78CGBr/Y4LOh6CaQNP4c/GFNGN4K
            ACHkgYAhRua3pcUSHKLBHbKDDCWOPjp1XoqTYof26LRgkSHS4Plvy8Gz7E/m
            xG431kaeObxz7jit0+rpCrgaBrAs/lyGnA6LjcG/9Gbt4WGhVa6TbItFYwI8
            v0r5EhOKFTwCGwEx06sKWYhrzvtjY9tn6QpviN5xDNlRd8xlSCwqpWhilwpe
            zkERLc1dDsjpytZPU85c0fTqEKPNSu2M6GoxrfuFJbzlw78sQGt9yrWie6GT
            rpVLSt1dHI+pWl/3zkkyBSwr1BcOc3zucxm6JKH497DNMxwxrIohBl5rCQfe
            vlOWB3arnF9ZmpMy3c02xlLVtKWxmsArFlhTKw8yjM7rc39y92UO4EPAQDiX
            edwgFPlAmmGe9JJf+KVBiBziaGJhM7ZwW96bt4OwQdSEBF8pjchoh/Zv+/p+
            m80Y+xFrVQ0MFZvmipmhquq3fTyMrJFUtiGvcaG58ppp1nVuOWDXRbvcM58q
            i7rxPdzqSGDeZg3CWQa7SxPv/l4w3i9p05V0THiZRLAcHadJagn0Mmw7ZM8z
            WpyUDlCHebXz9gUYN7HEdywWBd3kanVHFIG9jkuc5vgNvfdyCxdDhoGRj00o
            1Lcwke/EYRKz2pcy5cHKggJNZvo/i9dFBa+JYlMdcOYnDBYNmGJZthcx0RV4
            xd/XyPPPa2SY5wa4/lhfxaKwp/lmOYFUYBYTAZc5IrKhtr2UyhegLH0I1KVI
            JLNROOKU0+/KYJQoCFSSmna2FcoOjGRDmzDUR0wtRNnoltq/pa1z8igmQi+n
            d3C6/Zpcfa+JxHvwWFE5QcqztZbaDp+oDHNL6WBC9qqhv4OfLkeFjWqoO4et
            XuJR1cMyIfiMXHd+ThWE7LREnx8+jvLTxyGCrurguLmJxiUfZo6Rm+jcYgkQ
            wmrmNHAes3pWj+/zQv+c93KBxoKK+1UMy739B/b9VQxdAXySNf2t/eMhTJsE
            hPo/vi7iAGLbLfpbpmBSinKsve5lp0tvp8V2ZmznxdZmN7bUm5PCshhrJa/B
            +clWf1LzeP6kZgzeHbcOQDM2GFzDO8nkNBvugUEIJ6rN1WaxCO3mZntwR/y5
            cjcbbYfjSP8Fpo8YCeQO/fgZ9NlKbB8/WT9jfL17l0esSOk/l0VllbPQpIyu
            WapbIVbv7L6Wng0mozB+Rl9M9oT65cnwfK5uIk3P/DPC7F5R6DBGAsrmspIN
            MP4SV7XQArGWuXpPQQtcFks3RxHLIpNV+iWX2+s9Dw8qPA28XL3t5dhO4/vl
            en5W+1ayWA+8vXB4MB1D2ALSLO7/nNaCIHrsji+oasY9qERGfVyHCJaStK+t
            IOMQyy3Hl0xOECjl2mzUvYThy0tIbpAU4vuDzQs5slxhs/t+/OR+cq97FSej
            SMrOcQ5ZDuN2+1iJxS+OJEUzP6/CyLYiGy+6W3qfyknWeK6XMwahqd3dc0rB
            uSeMW3oraf1H3VeAZm6qg7AJRud9FcFq+RSahK7cq6c6TobnA4SvAR1Ttn5e
            v1ijMB9Ox4OcVoOz2TP7m+3PGFO5f5s1qh2vtrzNFB9Uw8D4rMRX6XHZCVZ5
            jY9Sh6eUfF1s7OsR68w0qVc5SqYcbU6w3OY/2Pe2Ww2PsELiT827cGWSmX3d
            i+gKvFc4P/fqzpVmqqdCivNL3rcrM0UqGzZlETqDI8mqp7uLi++IOwgx7Mj7
            YM3vYRgbcgAq2XhtlL7rEVt2Du5sPr1ISJZjcbkYyLtfxcXjm+UwlWXN497q
            l+vZ360Yw/4RJElNLoiUp1pIzzh2uXuzKfSewE2VTI5J7AJFWIyMx8nCTbx3
            jVC3dIYUoZWLgqFTqKSV2NIxb7f0oBwnMLdg4y01IPyhL6hH+ZdeAHs/KBPo
            x/Uq9LtB2f19PewLxJUu5IIC5eHqMqX4XMwl/CjFKVgKpnq9J+v1/k3E27Re
            9m70ToqYVSyRiQprZnV0szp+mdUslPtkMYxzx8K1sJZE0b39GkrWGfJrPJsw
            gjmt8lauG0xr54IE4LqV4xgvorwGLU43Cq9bzlrPyjyVlanVubNzNlFY8ZrV
            6VgxhWqvPjkrzFryuiJMfCAUBdl4JUcogiAqs3kbbOkIigVA1mBECrHftdXv
            xE6me7aM0LthawwP9VYlQMYrEitcyYO09x3L+HFopqCSTFighxIPrNGHP08C
            B7HKxp/PMLI9A7HTR/EaKtoIQhNsVktF4uqa+A+KEM0ToSZkrUPisJRT9a2M
            xMNggqrOjG1WGV5WW6K6DCEC1cOSpZkeof28ZmIUsOD8Dc5KBH5DamczPE9U
            Yu5xftEiUnfkHmwv7XduWy8Ssd2nu0LKStR+LOcC910EVQbZzaSFSrB99Qmo
            jfiv86iP+iLbibktIloq8EDkLcM5JubkUBEZyzyDBS+Yl0c8PuVxrNa8hDIx
            /dBhhqrta97mupXd5hrz65/xHwzpGvgcN7FBmCmDOyy1AmhcZakfkud02VLm
            NW6rQ9wHQ02QvR8JugpLJ49ocYlkcBLBekgdDgep/ZHOZLVeEN7WXZ14rRVB
            Vg/3mt6+7mp20jfUE2uAg02CFSoJjpErl07spv4XtwqTKlsQlHtnvx9ajrvm
            +T02adHxZVRwVOq2nnYp8FeInHmK0/w2OvkgJftCuK9QojgxF9SZ3C+gpc1a
            XAF7klVcnxUM02Yp/5YiMHqN8WUTT0C1nK3/k+DpiRpQlGgu7JIzuLuWJZy3
            omS3sEaWIn0/+0Q5fKLcyjAAV6xDSO5DdQ6KOWB9HooxLCOcOD+ApjsLLXhm
            Ge3W4Rry1qJlTn5FMJXHDoJaBGv9cowlojIdfVIyi0uki9Nt3AjkTIJiJgd1
            J7ZLUK7lCwjDWGo6TuvK3G+vfWMXYhLCdMwQKYzgK6dhVfea/H6ncbx71zgT
            evnrWPxRb3g9gfUDdK6A8U5q2RWV2yRk0ZRlNnvaAQti7miRwnpY+0hi1PmP
            0aAVPWawLBF/x6t3LGH479Ptz+BYW+EXltcOYCi9XBheHg/3457H6m2ZsK/j
            sj3HLgcdjmpe/GXLhnL0pNKx/LmjEjva8rrpDc7WDQ0pLecui2hK1iXF64zl
            im270ckJAjjZZY5sv0sDXyzu3fUpr4UxFSoXsmC5zWJ6HkdkIHIp46Fdpt7z
            ZhWfRqzyOgbZ+68p90+E6u5zdY85uZBkXWHRWaHTYVsLo9PBxN9ugoLe+UnD
            QGsovpirQDSayBK5KC9t9hhBZVHqgWVj8Px0kR5pA2KbprxRhAwKOJIV8eXu
            wABAS35TIl6rLPfFLgH73MdezNzx35VAUq02mdjlag/Nxr5fD2wQ9wpesHOw
            LJQ/vHCO2UUIRci/1W6Xf+xrNOVtO+qXycZvbbgYo1vq0Yp8fnMkh+4SJ8sF
            SmV17mgOIQZ95SXMVhn8sBeGWlAv54LTEoJb2O7yh91v5jdHnEJfUJ/Z6w8/
            gvemqAGzsrHAkyA45L8ojFI+Bt9M1l6/mucKKaJ/0IR3cqfcMQaUrmvYfD8G
            01j1sjb5HPxAP/JWsA7JE+I6pg0ZTMAUaaJ9m44P/Vg/wMjDRgxiXj/rRIeC
            L5S/lZScFNETo4NWSjzfL3aPFaBOd/Q9BsG4rMltGqcyVNlODuv+FoHCWBPI
            r46ldrqYT6yCT9V0RsjksAQYl8BM2gf77EeQpZhGvSeAOEDTs1lnUgt66RKL
            2GxM2DTMURbwDxOD7UXj3fEQ9W3rNnbx+jl2g30y3Y1elTMgFu99rT77CI/x
            O5TOZ1PcJRrygESMPLDJsoWYt4UxIo8L4GFQ5mDwwCprQjpi2RbhsBjU36jd
            NbHxlwGZqClH6PSldYF0CxsjPFn+gr6+Eq/9xWlvV7Wvu9mcQKlKux/DvNWy
            +0/HShCFWyMQ3DMRCNXxucVWLQrWmcaslKxZu9jvL52A7JMOX8rE6fbwjqdv
            j+T2YJ637d8Jl1vc7SLaDfm4xU1cJqa2GOLEWMpVJRKAJpLN0TZng1TozD+E
            4Tjm9eFGrIn/5n7jel5ON8kZFqGtlQzzHUwzSA6CAPqq3xya56VGH9ZnXCf1
            qI3wQDxV5n4IGehSvibBZT8dZ/ob9seDWpVdzWr8xWoemStgoOyILXkmlhqY
            v2dyzsB/MRE+GKPs7BaXP9kocj8ss5Bi+Sl/Uvp+IfnF0/H2PuwqTohEaDhf
            bRuaNxgGdTGJp1K2eMmCZFQlt0SRtOAuuazfGesQ5IRkf5E79SYFN8cXD6ZV
            M4uez1NcLD2VYAmE0MDEgYPIGaW2gj/fbzn6YfoFksPE28Ygz1UdlbjTBO3d
            8tM78wvYL4L59IvIRFljQe2uN47CKcSmUVleyHcv0VCFmcpo8vzgOA6Oq0as
            GydJjDeAYxtshyCtFHyTyX/rmDmhKjpnuc0orEWNv5zNlPOzGsGbXt80B6+4
            rP09gMXTwva5YDG3o8gTCL57oGdRk2DVfSEOvbcG2tGwPdHB8gRJLIYReliH
            meTBn43ZQEJlEVZ+8s0qXsUJyP6TWgWeu2r7i1gYLr4Zl3enjZqJbKWv7sQL
            QzNU4cYOaClfsXvr49NaBEtEnpa1+xZJ0oV9uym6OUVlg4xfxFyiVVGRmIMm
            P2ghnDvTur9imF1zf+RJMjs4Oupw/JinhvL7ggQxdOUp8RI/IoSDBEJAD4oK
            IiMetzmIa1UQgpURF21H2PeQgEwphYzfmS1EzguxTrYl/sskBVAWHTTy8GVe
            3G1RKiys2L5MTIT48zeloVbzJ4DQEhWpLUYItcJ0q/09UtuNn+8z/3TQWLKE
            s/1f4mBbEcE7xm5rZ4uHnb//Rtfc+iluUr2AcS4WtvW0rZud9bvF0UYK3sjF
            ZL0MdPVd+c64AUs6yPYML63/bp6qfAgQ4Rimx2D1znDie/fv1YhyNOfI7eNT
            2Ym0gubK1nubLZyO7+QVENO0xLHavPHXH0ob81rlY6fiNKUcBbZd6Cz0mCWr
            VW+N1PeVkDnZtNKzV1yzZkatEke6rxyo4aN7rwuZUNkA289KSza++J8y1aLD
            T90eEHKQDn8xtSlsc7f0+axGEdlWmMAJcIz5F3IyvYLE2EAuyRSlLAgBKUwO
            LcDUGIKBHPRIPepCe7qORMO2e0vgpSLVUF1XmvSaJk8nG0b0lTI+03xML7su
            dAMLxM/2fct1d0wJRac6JtH3Pil9VP6gqQji0lLGX59G9YI4OuXUK4Qp9FGl
            aTQ3IgHx6LTqrAAJWx3spzo0x2QerCj3rGULRwMEp9KmQjna0g5hncrGOqVl
            dFq6Fd25kKJRcPKWSEo4mVSGPwTUQ4gGRgCP7/Z8pZF1ZAIzvIoUQd0J/NH6
            x6xr3bBUSTb4LTKzuET35lGcRP5WlsSTeeeUIcPgMo6np/MmzHsoep962DWx
            5Mz0CgRFWPQ+vjDaYHr4HGVaDSEkZ9tHo5MOaC9Ljy/rZnYuKOR53Cdg3ept
            hdLjmNzj2J/BaPphYFPHqMRGyWDVDjK/8Hl93L/eXvDYEUVCchH/IHUHsdJi
            I2AVx5sZBpVobhhv5iKw52Vdu4lo8Cait6uDg/Db3x1F6YnqVtzPykisqHop
            UEP3aTIgN+wrWaZTH/tBsW5nYcryqdV0bLT57bSgjk92xwG4mHfM4snrfuGf
            N5ve7HSz8ZdteyLrZrubjW/2v7X4ne+wPWGvZ8xxQM9l39+EWYa/r8WkLe23
            fgu873v+3EByBHgY7rza4mD59euxPXVmbWxxZJ64j5NsO80ef77M/lGWQqTn
            2GLnjhaYe3pQTGZD8Wynmtza60sfOJW0okUgh1gQgHDsw6u5BfpSlatgkcdu
            GKZ1EqC4VEHNMJ3Z/dZYHHc6fvqt02FBi+jHr/MZ23ed1Abw47vmsVvz3FG0
            ZjV7ihQWyP3mnXHePh2E2sbKZoVoYRsE74TDYLMgpb/K0XMzq+VMMpMMhpJd
            6NLbwafC3Mzs01wvT2ydhpOuJNJpFU4Ue2LP47n5mfstQmq5EuWROOxmseDU
            xI5v48T1eQ+8FisMA1kzEYkZZcGysZgLU7wiJTreKQbDg4jerRYK8iXfiIWK
            hsGe4Zpk3uzcweJpyAeKZIassZLTPnew16R/PqrXfjCzGuKOyuwdDF15B8Yi
            K0EZdMR8lPiBJMpWR1DPmY8fg6uOMUKUcR9A+4szxeGCLIsGdqZaGdo+KJMh
            N4ZjW96KjSKG+dFLsmlJsQGkQ3R8N92sl5xO0t7DxmY6LeOHFkS6XNE5mkLE
            N1tMeDIKz13MgapcjIqxq1qXIgjzlqx10qcWgBq1B4Eejxe8wa3kclTa9w98
            0I/clXbOtqmeNMswN58psOOC6RUhnm+PDayvn2z4P3BeGNL1ZntE6/O8G7XV
            Wjbn9Z5i5LwquPV3IvwnoXr5tSmT6IXBsYYEzQJIi++cL6sprKw2ZdMm/rDM
            ny2QU7bE/Qae71vR+GCEqgWh+/g3m9ts6rfP/wWGcDa4kx4OZ4dbHExvr/Rq
            1y4edqnzP7Hvl61udura+282OlxMbHZODAjyMJqZlP3UDqKXXtFPX6i9KPij
            nMXjm/DfnHxVAal2HZr5LRM7k0VHRzbp3mqD+DfX2wD9oOvs8FR5+qSYIJMt
            O9hx4+Ugo1PacCru661ZkKl6mLOOLUWSVyq5riDIQHG6wZwQupo7uKlA77FY
            rIRtWwTXmHzmwupgBS/04qEEXgBEcSoRg2yHphls9NXYaYJsnzptxoNBtUnC
            OzyViu0PTN995QAXG1ytFsIyX/fxfs7GdaQ7LMPsEvlkc1GrOQpTx265lA/v
            BjSqYF8slUzQXaTqYL9nq4wKhhDyZYY5/AthaKgiKncDBM9tpOFz3zSE/zj+
            8eOfbCAgjx//FqQcKiBRgOZk0b53O9r5AOpuhGfEyDLc/Ue2leorsgpvbkVb
            u8Nbd+NszzLXsdLUMSeQwTDl7yau7HUOXIynl5bvIpado1m8dB0m7mUVResh
            7N8nTHQPC4x8Q6iyYoWEYAhy9C1LCfR9B+FthrfePTwnnb5HBkyE3Eu2SU+f
            Uyz398iOsl51c6gRzP3luOnNHSDSpDFWsM6kizBbBvL+mlBIeR3G7o0Fe7AK
            5zps2WJi5k4xVzbumQ3GMXli6unJoBjYZO2QLkk8notJn+XLKUT/w22ZOqrP
            E+czkTUue5YnPNc4szmdxqVxUdtilnNsD6WeyH0ZDCYVrUArvy+OCW/fX0fW
            ydYfzIA+nQjdKUVCmsuDPUHKHzj2WzuZJLJ4zEntCZYd3rNd9Bja5zAeSEZl
            Yp38Ptw1JI0OP147a1eOmPLcxE15+qfv1e63vI/jRa76fCY1Wr6gBq4rp41+
            gPstYwqqGa1+/bN9xQXasIlkrpNWBQZ4LNMJWNS0vhtZd8HJk7PEx7BvoaN9
            BpZ9plMUEH+ly0uwa0YEGuh7T1SxdPjtbGJ+PYG+eC3qHkVV/+X0zKKDz0Rp
            Tw5oq3mo95lwSvw656Wm3ItAU+xrDZ3AGuBR8ePCI3vnOJ5Vq1zVxrcVm2ih
            dHuGzV1wPSE1l/QZKyp3hH4zxFoPI1/mwt5jIN3i652ViMsIbbIYBefoeIrl
            C7Aw+Tg+k3dcj9hWaD+pLac/qS3UD7Wxtm1/7vk5v6mNGcPfBDas9OymY+Xf
            EBo46NJKzN+N2dxZZGFUK+K8BHa8Nnimmq7dtmKP05XMZgSlHH36OT75BEH2
            9pLYGa/9vbwhumcN7VYfLyGlS4rn0Z27WBBHyln0br3yfkZXxLhCT/cH+D7i
            FMWqghULzGV75uv20vfn1zP3zzMzUBYtVc6a7vo1CU5GMfeos1NKnm6n385h
            oKSP6QLNwKL9ZCqCMEOmgxWq4YuDGOq3/HgVDRECf1W7/q4n2Pb8C5rghard
            4VW2Pc+JYgyiE201qbwreCPwEcitKZq6y8+utspxs/uwO8s7AbPb8O4Wrwky
            RCGBn2K1Xd8EF/uH4PS+2esQd3KmB5rCV7g2zbx2V3vdG9efhvqWGCWtnhzL
            69TQbq3mJDn/7OMupql3q33oUejhY4sd5llurqn8AGsDdqwGjlJgHgdrhk7v
            LCu/XoBKLjSw/HDjJIqdaImpnH/9Vq1gxfI+aLQmxhVoFI7UohcEJbEtURmW
            KaPfD1f8zYwWPXxIhTc9Lf2Z2HZdXbDVtZcgjhpMTc4AK2K6NNOnm9XfE67z
            UAYVnk6ISNxVeM7YSJNimeNFndT17uWwuc1LzJK1qZIm7TC6w/Pps0HChbc/
            STCZznTwAyYpOcNbcZwOgwvsRq/U8LfVkg9D/lAdh0LItm3OOF/s+Rcq9FAg
            k1XxFHchF9eSVQ6kB2sMKCfn96w2rMNy0YJjKJPi0vJafrYQub5y4OMnB378
            JQc+Dct9V7ZOYLEOtVPLBr4YfKF70VhnZRYpM23rfC59zsL6m/xMJwsUic5n
            o41Lm5lUye/0DlYL3tj32793/37598zwrBWV5GKYBIRsjWyrxP6rbHgTVX2c
            tOruK8X7eicqUdmplHHqXsHM3Xj3Njhu5WBomLKvyxVFVPJ9HuTj/eMcaBpE
            doQ0l/+BOf8Fc8IVcuL/wWiV2QMWRp9qPXfHBCiF4OUjYty5r2KbtG146kL1
            qYCoiT1vN6ZW2zC/SdqCtzls1/tgx2kPpmU/vtOxMEF3XCc7xFonPbDVZGhR
            SWAchCdmFQfbCz+GMUNwfiuzMChT214qBBTlDnOzWgFYZrFQhLVxrg8Qjbwn
            xCJmhkFzuNJuwu1v3pQjOqzYr5DcNtJrEhI1ZmcDIHpnsVDCZpgMkoLVXGWd
            xpxjAW9wXHSiAkWC0KSv2qBBtCsy8WPtNjc3tQlnlqeBtQgjVamcrLOh8dTB
            7MbP86iu7uoCVgtSneOx0QRaOnbGQza3F62Z9k9wD+6gFlY6052H3B6mlghL
            KhhwiHQ0VSJ8gZe5FPzUnUqSCV05U1iqlQykIIsvWKE2vOAIDJA+pexMUl2p
            N4Z4/CqluI3RfUu6/KVa7WvRvTHcuOM1dh7qrhRo2Rgdmz4KA5FMLiSpBJBm
            ynFQrAOmvpX1xWdCGir3YVzeXFcdoBzvSEW80Agcw5AdqBJzOodda7S8GP1k
            Kp9yUdq7/znZABf7m23LBHti4GMFdZKOzE/HyzxpqqX2TSzB83DIHTCWYTmf
            1AzbeT7MAbTk32xdswhZxc7CMt8F5yvRrw7lahN6yI/z9JmvPl9dkJPhEkju
            9k5xwS2W8NxQQ9tlIcyqQvFLnyievyb2qrcI8SMPNwGTGRR9q/LVLviro/bb
            VHHufcfblHE7X5e3dYmJ6Lo2X9UbUpbH0xVcrSg7F2f/vks3RMxCNQUdtyr1
            gFXjLTrsTtD3/TnsskE2KNwtud1p6G1MPU0/mIRg9dif9ZY2OHV5+lvVxNLK
            UZNANg+KkxlmnopAccN9xDJIlvvASKz23cRM6FYgffZ3IPLw3BV2KTy9PXhU
            Or36967kYJ2LTrhPG3PzOUVzsCX6PgVRmNgudXhZBQG3o9V9frLj/L7JWkUo
            v2R9+u6E/HZa/kygt441RT7/RBk+LLEHYi1/tWf4B7SVEs2NP29daL4ZzQOU
            xeRWSD3+dt3qCpCI+kF8FgaTCFlsnZ56XTQRiotYovnfQkSvbBBCMIKblgDF
            ZdFqw9LNlm0BI5vKJywc5nKyD6AKYKlXSvlVLGLQ1F4OGMs5VJpAooOeHAMD
            ph5vx5B6wJV4TSa7YJWVWplBJXmwrE4i2arXigUTv0lUREZPfm6Zj9DWBwlE
            BbZNv5nOCAu9YJHHNmAqDtvPjoOQM0QC3sg4bmE+jmUbfBxZAS61BYNM8PJ6
            GqAKvbgql4M+zM6VzjmS6kOCEQ/IcM3dp5cgYQ53FFzNK74duImRwOyPIbYf
            8+JLTNWn39EFJgblYmX1zQnjyycJwWsH6vjg3wNNOOZVgsx/yA+WipbIyGgU
            dsTYcPlPzrc1ShmXtecyhHXB57JNRDBAj/Bpr3V6JTfLsz7CPVj2tXrUHf58
            j/soHiuL+53JzWYoM+TBhsDnkjPvYco89jHbgfj0g5yJW7YX41YtUL8Sgc+b
            wAusUfZ3B8uFuBpKa2ALNcbeTn0OYTT2/B1pma+FYzGK6+fgEBBXLGHr5qST
            zhlYuEvNaXY1cbdzTFEh8YT0+1mOr2exFMHBht+KpiQDAuP8UcQyxx3ss00r
            +GlnnwzAPlvWdL6YCk+S+sGlLX+gQ4YPKNavrtVgQxz8mw2Kh1peXO5kCw4c
            0pXFPGzSeOxx/WTfPwwhlrUR9Dypq6UaI+I5LrwsWyQRh/iYhuN4esJxxbFR
            GdDsw9bZUqOdY5gXVti9LCUk1Am7pbGnVOiqkArXRU8o2QwZaN9JtgyYn+b5
            VP9JudwZWY6vma/oPSYOzERy+E163oNtvpqv5y723OF+Tubh1h02UOv0cey6
            URph+/lZBuGw3Md+vxDkaRZ6E4wJqDIMIl00ik5O7hmtTbxau/rCvdeLz3Xk
            BaLu3gMNWkpR7Ih4sHtlMVt45pMXDOzhlnRizNV6LJCVZfZmwmcck/dNFvMk
            3Qj5xjBPaurS+qe7JHQUBvK38gKdKHm78nRZUpGnqvXde250Aqy+Jf/qrbum
            gZD0bXUR4HpDDQRZyP3FgZjXeH+j5zSaS31/n8280XwPWIizfXuevf6iH6oX
            bvOBYc7OVVwgJSVS00Oih66Abdkci61V226IODAZ8WOqMKtMIfehqq9LlXWB
            5ngF5zGMKP7GYqJ8WNfQXR7QCI9kkIhqnOE1se2Edn42/03ENZhRggeCWZTf
            XNpKvYde5dtdEYI+Z8EqMXD3Q006rh56+ayNWsMyYQBoeXSV4LaKuhLHUe20
            mwJF1yUYwJe9H8NsnbE21rKdd6dlzrv1s6nv6ck5bNRp1idddsw39InslgJP
            MHsmHBUm1RzMoJCX0QjxfnxCjJhpr0V6pp0ApoW0J7EgiNaubC4SERX3LMVN
            q1Y+gtGs3O+26wRLSMIYgZXNNojmjdU/VJrXopxlsYLlSqS0oC3rgWhWwVg7
            5cmHyvelnLJoZ9+TGj1X8dM/aDSz0u/0WSyEE3CJuUxBLeSWDHaON5q7PbmH
            V5zhOiXbNU8LHZxQgxjSHwO8mzDBbOoGI71ZKf4EMdDPclmYeFiXonjvlqG2
            kslqoxJxPVmHjgQ6JfdkQAYNV3heWbyJobtz7F6nE8O6dgsdIrISfvhoYpMP
            WXU+sFjoptfqZSpdW0xiY90lkdMzp6KzIYqCbCYCItgtvajMuDaYQgXlBF7K
            fNXQDMiUqyaSo3XpPczONtMLV3h1F+8Gs4w4L0HpHE2Aem8a9v2RYZMhbi5/
            anCHStOZlElw6CXqHCzw9IHDjFkCBW3Cq6QdGDqEQXCvy7OwyUbndWz2c5MX
            Jm8RmNWO6oeCJGg5z54KjhKyq4WohEiWVMmStf1OeI6hTtxWMpW+vKEckEr2
            eC/jDPdhRTLPV6mazBWWpLLcn4UmDPElFfA/RMpvRF0Z6pIs9BVpiWoM/Ha5
            Y714CcGUzMD3VE312x8guJnzliSy9wbFxTxfJ1zQdSFfL6tQpzLHugqMMRUu
            mHq41wXm3C1/Ms7ZwiZcYjHs1QKFdk5LhbUG6Bs/qFMx8pfgi2Z/MT5MYhNY
            IpYNTPY0MMmT5c0DWjYhdrw8ng3KOOH4ramJA5WYIuWKXVwIUXoInALyZ94Q
            ykld3EFmlI0qEB2n2t9gNMDSIollmWZIYmVa/XF9agK7ta+mS1r9KBku3qxn
            Wuj3hlLDXg/yPPGcKJhUmUJMYrl2f6Q9+ZsYuvdP2mxcsfMnr/iVI2GZ94fk
            W26OKpe+kn3xrgvEc2bZuYuTuh0v0gmiekM+aQZVWhGy7faJGum5X7NrekX6
            qYgqcxPf+8Zh96XM3GDgVEAZ93095swN8YiyknDiRRKIalOuqoCNIp4+7QEp
            nNSrkZnUcZfHGfu4oXgZWKO78CweASZALryYAe9GORPwiWv1pddTe6CmkUrV
            LDO5AcTHGEpj3JctxvoN23kq5jZg1EzaiSwCZY55oTE8Vb/UCVPExEG8oQCR
            KOyfbWcxA+fsZ7FCcOh+Xc2kcexk9CX7ucFj1nmA2E3SdwtCug++Q6Knjwvt
            riIhJmpj4uhZYaszOQRO+bY5k4ddM2WGWFjRJ+GfFEPEJCdv9nCeGDnD4bu2
            omHLkzGT9eXZIOistWl1RMjY2OEGAoAYGi2AF54Z6wzChUssUlmFdjEHVvEs
            F6HKCSOiHmiHlTK/xhyX2vDcrMvgxjPJpMgwM9gRrmaqoQrX2e/cT1KFAim7
            aKktDYu2I/TAS1Ww0mIaa+QMf/dmJzzmZHlwZj7yQojK6DnA9/vtacJGGKfJ
            ELyH8bOMQT1d+oMqn/GML0MW+mPCrdhHIJ+sO4MRmjwfRwQ+q30njK9qzb5i
            5D+cAEzHyqEbBg/4lBAtLZEQu1c9YFctvdvzF7tqvHZV+thVgqGhktc/WuGe
            dMEWgNfE+6M1qNLHGqMTE8FbkZk7R0iPp4EDXcl1+kgVUrjj7KkN9sLv2VRM
            N9A08UJjhAaxB04G3W2OXSJgVrdxGEI+XY2mr49UzNXJLsbcVw2zdiNRYn1e
            UU35aG15Sq/cTUuRMGZAJO+KrBy13ZxvGk+154xqa8bctaBWb1FwbWFurQwE
            fuO9sJCmDOGuzESorN5MkJrd6QZ3tPcloUzyU3/30xsnvL26nyZPf6FPsWPR
            38eXp/9hyNoNJEz9rQ4P1mNGtXrqVuhoScSIfeqgtQzOMLIaw7dFK7ywJoep
            UerWYw3ROQDsWvg9iJFdlZPg+KiqHpOSHYN5b+B8DAYp/I64arTuiWI3y+FI
            AolBWg4z72D4EwlKYLwytERIMILZGUeI1dkUAKa2EAVbQudceauKW6Wtj1Hs
            carRTn87TItSyb+JVs/YtmXiH9a45lKznKdg4E4fuFkWSxknQXrBw7E9NIiD
            jtabmOQ/js/UL7bVTTfHwmccW+mUpUa+LGFusu4JSx5bZSd2FoR2hlwCc5Wo
            1y+3rrV/t8uAVNUAvzyeS5mQT1OrSeyE9+jE6/kM7MGUvd+DxHW9W2UxiTAE
            K/+hxkI2ze4S0uXpIH3ybUVwFVosnudmc1PW/1dJduYyactcKjyvOVpq54qh
            bOZ5utZtx+Gatp2PMPt57dtW1/ucu1LjY6w6UBonFRZMUUXg7ieyUY9Gs26B
            rJlub7+pSlS/t79ol9Py+a7u29qCGqZ86dc3tQR2jzq/cCHEZLeP4bT2hiy4
            /ioMpn/k3p2MyVgvZsqQz1ABZSyBw2cRx0jHGH0Qragb8wkNd4k/sE3j0SUN
            T2EHmxa3E4TuUPpdCLiPwR3Cvxg6NhIw9ku6LyuifiEhrbyByHlc/q8/hhkB
            ztvkeFwWTew/2krLWqhM51DkzLY+GGVdSjSmEFAXMdatugPmTNZwNxkgR9dW
            ikmO+WbraeKyZeZVsVLkMBijeAmJ7bFrKGEnGJY0FfHq3cQkGKObxwz4DMsq
            i4ppsDatJiHS4fPkWU2oMqa4QxViNJXmrLLhMrPJoV0yQLfEjC8s+cWopjBt
            dwczj9PwXmkp64tET49+2loBWaZBE7H7qyrxdJ/ggoaQiqykUzdXaiDcx+ap
            zaCeki0hg2QgQgy3N3uVu2HRd1nmT1OflIzVfH13twEvSt6kbJo5/bOP1Qdt
            yBo0Xovd3ieLkKibWNsCdp90B5OVDUzbrsMScO5uv0O8EoX7GH6x5Dmbd7NW
            tvTOMEFQdbjlmaTIY6i9r1Vu7yr0C2pbkPQmpsJy9/eSeigcKDZ0kb99cb+I
            5vqAnlNIqJ8TQUoZ0zcpvWTKerY8tYkQLEGBamtnBrujuYwusC4F4Pjb45Xv
            axsVtxkTq9v36OZqu/KXbU6U8vsDpoGbS4rmWx4wpmSqiy31zkZTo7e59dvt
            GazP070f3nV274c3lKPS3e+83vNUyRxZtHjt5Y5JXqXc6vLy5mAeHlk0mL04
            e+u7NG2DfL25ApcyN1TTuHsCZlfxsJrYBUWJwEcxtNdMtzTYYjpb3h611B7p
            4AHC4lYUxPorvr6Qw30hxa7LSUsUhJ7yx2uZacmMRvfD1KDJpgt4v+vIsLfq
            W34ftibCnIBA6A8L3ljM4WxWQyqCAJHSB8fuVp/e5v0JlnHLbnsU0I0OfA+A
            TcvNfAN0rO5ifskFLeqRz6q/bWryYYZF3AQBfr/mwgAt8mxLvmWluCOdnWoH
            Hgzh7Lam3GJJ/VByLSYmEQVi9d2YuhOLwPTk3R/qLWX/OJMOa9LayOCuDfK1
            6x63T6G6t21rC9uFvEG/vCIBemP+Mp9VYjY44pg2lpcIIoavwQwR5jK1OK5C
            Sj9hWVVvECH8HKyAO0HLEkyYgUmcn+6Th83kCKrZCyo4CQflQjGrsFWLwDAg
            IYiY9PEqJcHrzvF6mW77Too/rbM4qSy++5LClNe2EBcnl5afm7/bMjpcW9g9
            3ukkYSZXd28YVUqr+KlD1cgsFrmtkntbi7l+YtosbBHlO/aTysKoyfzv1q4t
            yXEYh13JsiRb+pRt+f5HWgIgHae3Z2qrZrtmKp1O/JYoPkAAKS1K69gEteCC
            KnK20gJ4UdBBe9hdPr5b1jEaswM8lkNZwCa1NzC0X+CPhkkb5R5A5Nh3wNBB
            tDgU6sA8i9+Lft/I9XiCsdi2H+lOtqBpCNgKyaT9WM7iO2KpohEWs/7sS8xv
            4QhiMDlgNrabN3IECApzMs0I2lauASijwnffovJkjsEMSPkuiXmkagnZzs6P
            BPMGgXAMGqRFD5EvokyHhx0AA7JyITa4X7VuHf8mk9iKfOEnixcZPW8xl9e3
            SGibzCf50+0T6uWbz7RopYtsXmvK3m1n/6R0L5cBItzE/oH2JiaDnVcRMqWP
            rAdSvIuYg6pc4Kw7y/YRuEKPRFToLEo88qpWQkS6C3qGpvQTzTs7K9VO6fDa
            s7f3KH6Bnpf0+FspaLlEZnTLFphrCBzm9qAn0PvhgOaGdzKZXidZdAdxFCBt
            K8CuY0NmCg78RIppg809/OLANjpthT86YIxo36x24VisLw6sLuajbXm3TWMb
            M+jQuS/3D/6fhyO46mHbejUr1N19lkJOZ3qlC+H7w/7tTJ1IuWwxoxtZ2gar
            PJcPsqxtsEaO9R7pmp/9jct8qI2dyzh2s9Xu2deJGMW2cwBw5LiOg5D4WVja
            ttDpJLsLwy+qpk9bKo6qStuqjmmuqzdZ0YDoZsk4Bmc8+L2o3BrYuATau/Xb
            c/zTYG3OLRnLgE2CgxnX3JENKtBeq5J+jw8+zaeH97NVTyTN5v1tvrM3vpWN
            G34zzSzPMlgIWQA5R8+trZEXsYOTHuNhA2faUiJQHhJz8DKrGjoKZaZt0R4l
            VMy5QCYsyBZmrRI42Lmzm10LNmXhwpWzoUfvkzO4EUm50YRLZiGkLTqTFWTM
            /J6YZhvrRknPSJjge3190qBMeh9pP1b5lgchC7unMwsjydNX68L7bo4YsTUB
            ag02BslJtCtF3hXTx060VMDSeoUlR/mDjI1Lh2fc2Dh4LxRHRhV1qYDsg6G8
            L2fEykSj6WTO+tSvNjR+HOdM4t1RYuG4JsD7D54C4DBKNblfBLBuuB3Dvnsk
            +39i9bMVlqrFe/cxSopnPAWI1x8NPB8kYevAQ4ZBhhLCA5ew0PiwYeapvR7K
            fcJtUDVxGTckpyx2XxTdDRDWAH6AEr6CBC4E6NlA4sT96c7mdMlz9YBPxPlV
            5JVBXdlX6rCxCGq/QAmwvewf9FoIHeiyf7iPJyG9RBaPMpgRI+k1k/JnYSX5
            hDtHLAHRc/3B/NS1V7MKPRrgjyl6iDYpMMcHxIZ8ttvawDuguQBiMAevu2EZ
            aKoyy/2vJ8wTBMS8u579IcebA6S6cMtvxzl+HAfMPyuPg7AYnfKNbFZsF+ko
            0DSQ09iBzL/IA8fDsXZzuv8f+4ahNwe/7UhRWqBLGCaCBDZikVH05jUVDe6g
            nUYQsQNHuwDVtNuM3+HCMKVx+sLBhu+ugjJNDPXMOtpXyFDEyDNE/GySXLvF
            bMcUiW3+3rasZusmabSf7+9qBkN/kYWg4AoFdHJXwEEX6riWOCD9vo5Jbf74
            4tWUhYpvM2gh7AgE2drqgWnMvMohNXjzxSXP5DwfCS25LmsJRXFsU0mI2tEj
            Ujf5tEwQYfsxXMkPLTYxYNDhh30CUQ6QbQMzMGKI8u8zCgMUk4EDdP1MgDnR
            7vlx85KtRf94rI6OqPcg4sMmx5dYA/BAt6wJgbIaeIjiM1hllvESV2YWWv/3
            QU2BuSt38R38PnsY0u8r+MX/eSZiFq4fq8JZf1k4/8tMBNk79g2X5bfUar08
            IeV+LwGbbIGZeaF0TCSsBrc74/UfZzbr+GHWnVx2lehtI2Tj57J0Ebk2sdRx
            iSuauR041knxuZuFiez79RRzBjXH9u7613UKv3JAPua1dhdPDWQIFXNdBovN
            SpITBEkNPJdmTpGvSFEuCvU60jSMar8PqOoS9CqUU03kzRoJGdvV/YGEQJiI
            QVtVnkTXEbmjKNctzFcpnS5npNtuy02aBDPxZl1SnM/aLujpbmqTtLifhIdw
            /kXvvJPoracDrxV0EuaqwxNzK9SynCAk9uJGIsDDbAkVpEhTM1jD2ii2fSkK
            nuqRTZ5dvtRi+qj8eO33WubLpxlIj+haFklqMvcEs5sXL9XZcxhCkfXvhyl/
            uHqaJIK5wxOBAckI/zkGPVzdup1au83IkeCteY9CBlyOZoFIGbPZdeNFzsvM
            O/mXB7IeqEShWHwBBT0YYQ+klDEK0W1k/8GEd6bYF8BNFk1B6zsixQArQaHO
            wv/94bSEjHz5UBCxh7iyux9G+rTPBHfDmlx93b+5JmHVt6uXd7yZ15s3pinQ
            IwLugZwv9lEAK2H24qr5fIBHFdKK2IcoolX6SyK4tbuL/M/VifKwJwbMJmSX
            Admb54cnNCgrcG6E8wHnAiV7cHjbOUw7B6aOboAKPHUEucqgo7alID4HPDGu
            jzweWWqJ4lnb0qa+4B2dPhSomWBxlwoCieUXVo3xTZH3/kDFbzDcfesQlkPu
            ChhHeZtO8/w8gJ3d5Rq116dm4pnbrwoWdnyAwaIL1DJVl3jklN8Q/1Rfxziu
            h72OUHW7qSlUfTbiUkeZr/dFoquSQPD+uhCk847Gu5TNX6fITSSaSkUkJhwd
            hgiH4iuXprpFCNZ1/zzqGRM3bpw9j/ZiaiddsocGNsvRiU4CL9AR9Cqcar9G
            yA1F4pFwbTcfvUsMdXX+KV2c1znsOKjOSb9PZgKV3hIQQHsYeIi9KYiM75fr
            9f31v7/fTn3/C8ZoRvZc1HsLaAdg14tDZwhRRKG+K9WdEbQiir2pHpT3aBfY
            SsP+Qc1GUpZkphFjf1uZ95lZAKnpDycSmhaGKLzHGgX9rHa+mGZ+dCrBtltw
            eyqtLQ1qcl0r01vT5JQmmxtkWZhdVN8f8kHsFIX41lvvmfkNWxBpx6WwkkFD
            tFDf8iO9Z9ujdKoCPnkV1APAzijCzJhs3AZ9ElBN6pyRGu9Kgl1eI1F/L1IH
            FzuuJjo1HYS66IYq5X0Jug3aZXW9IzWbnBgzec9c8C5E1UjcP/S8gA4Y5plM
            9oy5Ygm4cbpaq4BASA/rSH3l7WM/uLlBUOFqMJFj6Uvy7KGg4sCWS0wEd/Ty
            CnutWCNmrjEKgSY+7H3FKLEbg2ldRymyo0XtVbbmH0+HzOIdMtJNYNtXEI92
            McIu/8Prod9FoHkBO8fm08YQQ7+Le7mfvs371VYyrjtQELRz7LZm4L3NJr0f
            /r4pDxRWoreXyRNznURE25Njqr2o6XTr5j11NK8qwdBZxu5iY+vbdbu2obDu
            1XuVheS1YOA11bPsNEYdyKO5SG8se54cacVl5gBs7U6d1x9qXXI5hbpIP9QW
            1gbjGd6Eukqb4ElV0VvEfzNzp2oNYE0DrJuiGfkT+3UBMhsaJSDLQYYTkHTb
            tWF2Jws2z8zUDjOjqOskUuSq+5U0OFXIuC/Fs5aBtQeybGWhqudUdtDcqR8v
            Z9U6bEpf01uucC1QWEQF8j3I9pBAzqC03lG2RbVvebfEVfA6me3hTI44j7I+
            +6iba1uXlbQ/y8gJf+N30t3i7+aLJcTGzL6qqpqLSy3D8YmBvgkU0YE+/piO
            U6izJx0sphD+/bw+8nLPzUT7Fpw/kW4ndAKRua0SANDDG4EOE+7ytfKmDnbV
            2k1dnGqHkIPkbWLH3rM6VMxb3MkDQb1op8Azi7Lll4gnigzrsAGyc4Dchchm
            W8ISbz5ju4SMjg0rMyDzGSCnGM9wbc2uLa4pI3Wf7YEOeq2FfE6wUmbvqN5i
            dyUHi1ol3c33oDk4aMkVZeZgjX2x1NtRka6EZSZ/KOYVdlY0M/S+BP4FfivZ
            0kuv+LoQq7KN2F4xdhv0d+zeZ8aB94uhHZ0/qDEdotmxkcD94HvcV7UvbHHv
            pluBRiQKzSg2XoowRb81XQBRzYXVWQiaez/RjGEjICm4ZfEewIndtZ3kBXW9
            Xu0U7+J19nenD5E+uJTqr+Xsb6/rir4BX/DnVCcQ6lCqZCWLcIS/3wZrA7Q0
            t8Q1+Le837fwvUB03CQgqY18ZB+sw+WaieBaXsvcIxWGrAaI6WB+e73Y70h8
            Axlgqj3VbgszskgJiPyns8dF0JCMohVospAoTJE/Gt54ArTWouNWzVJDgEq9
            AxmFrx0VXxJI7UESklUoM0fnKu5pg9kiSQdTRF7X/ZmEAVnH4LsBgqY1InVG
            58dARu/2PzSXeHDENY0pnnvtVdJwgKqXwv4+MGdQGeSCKLdKxJfQ7ZW+BMq2
            w/YBNnQgL4QHY/9hRRxq6zZV3071p2WIMkqHgR1CzYkboIC47MGqKv7Clux+
            2YF+dgTFYOnzwO1BGexQvUaDpeGia+kDrE5ga1icjRNIj5TKd0P8O4apn8UW
            KkMIVinvDjR2uKydemEbpNrp4CStRZJeAUZqpUJRKHBCzIodrtkdpPU7Ftpd
            PuZiEah1mzHO9wFfLOTJUK5HoSQR9PV4U7MpmNlQDLKBCZChKkgc6d4YvATJ
            vf2tfa4kTYf3rsKUcL6k15UmuVVfV++d7PG9WNkSJB2rZ3RVT6Ty4lMXgHoJ
            Oo8jm+n9v02ERCf928OTXDjXJmoutYFmLFZ5ZZfJim1IxRV4nZYJyOL53VJC
            ZtBAsLRt/5CjdI8AmzAq1ZUajorGjdK5mC6w4l4X/NOr1HDktzLPrFclUk4p
            SSVffpH9Wz5CHz7WnMC0nyRE6xgflPxDT//qWR4EfKvK4WMlm32n7sJC88/X
            QprEIoblzRlbydixR+l/xd1qFBBbHznAYxFJWj4UNu5BAGF23SLHyr6q27yO
            kyrUf/z8ZPLhz59PaF7/5fMdGZK/fL4h95j+sv1pEWn58+d9+fvnGbH8X69P
            579KKRn9MuxnXYvem4ej99U/r/5ehO0SUjeflUj4tRd9OBdv7CmsLmffePed
            sQ2JpsHfX3o//eBdorrLaraW79fl9x+d9FrRsbQuShSKc5g/27XtH01I4HrM
            XNp7OD3cb942NiIh/95/2b8FmKyO77Usr3NYbwvef/l+PfT37q8DWDpQKt96
            jZ9xbIXXvVOa3B5Ir6zgXORCAXg4f67Czre2/rX93rf3558T0PZn1vY/99vT
            WN/bzdrG1/2pTfc/D27f1CWF8i1fY7/wwni4CQMNkN3aZxp+0/0Q8SVUG/R3
            cg2DpenXvxNxzhfAcCm1Oair0jYOhzU5Ipb12KUtPkjy+Yh+tu/3n+uKz94/
            yQcpjZc0Q31/dkHxHWDr/gMNeFJX 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
