<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e042</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e042</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e042</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>0489_e042_v5580</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57410</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e042_v5580</key>
          <data>
            eNq8vVmy5DiyJPr/RN5eiBnoPxAk97+kVlUz0P2ciKxK6b7SkXWK7nSOgMFm
            U/tfRzz4L+NvPOH////+V+yH/QsHPtXBfzke/N99hufioY//w8dqB8/jiI3X
            ivrIa4zjx79w4eLPaT/mEHBYji3Wp4aaa8L24l3qaqWWlvH9wf937Mv4XuvA
            MQVX7Xiw40hlaRta1CMk3YO3DSPxEaPftnZ+C/y68G0mOzqEYL+fx/sCNhB+
            YvHtHo39NtX3N98uv87lv0ffn3xbBx9lraOUi09wzJrvanftffQcy0wpp/Lw
            FmlFez/OR34azpj14VuHykdZePonHRHXOmo9El974bw7HBFvemBUEt9w4Yc7
            Yh9eqyTsw51X9OPwOd9HyrjPwoheFVOH3/LEvmTnrhv7hkYj5W7HLU4dfks8
            7sZ37D8f7MO56fR9OOdc2IfnTw2zFDWE/Wj8r0QjgRD53NqFybP/iv8X13Hj
            5JEffDBK03TcNqPp+NqPX6omm/9Amd/7qx3f+8/rHE4Zcf3cn4ddpx2/jj9t
            5tuv54m3pum4Or5/7a8xDCOHX8draDhoP/en3ouO//U8YS1R3lpf76UHNYIs
            v47f9B5/3TeMqOe8ff+HoJ18fz+nX2fk/vDQvdJtCYU4+me/r2udMZbt32do
            qvDfdbRTvCRjheHd2zISiOHWU30NaDJW8uvF4pq3caNf++dc2v9rYma0Vwi/
            Bjpc9mbh98Bdofxt4HrpWtLx1/V7Ms4R/yQs7R+/CCLdWftXCuJDtYQcRuvp
            weLCcqsguSO3gCVS80xgunEcc4kb6MSn3g+51Hhw7BVEjhxODG49Q+byw3ZG
            sWVfbSnE58GIncdNHgKOMXGRfp9HvRvP/W+/G2/t8ariRVxMYOwRfKRMHHJ1
            J6R/+4dZegKY3TGf55xGAokrpYbjH//5SZEn/ffjOPf/6rjyL487/+Vx1387
            LosYwJ5jO/8H943/ts+m73n+Z6cvHv9uxnL6DyNSjASy1sT39NV/OX31303f
            f3qI7+n7Ty+V36n9Gu7/B/t6FWvNIUkd6DbN/Oar09Z7CHEFiEfoSRzPGMEK
            3k+Qy/kEtzihRp0QlSd+OQv+Kv6w0k9oRydE3znxx2MX/qDinTf+wKGoKkDD
            ydAdMvSCvHA+dIEMPSQvnA8hlSHY8sL5C+dDz8kL50N/yOBhGSw0g2dlqnYX
            zr9w/oXzL6hyRgKF0ho7cLGrQ/lZkrnZWLyYnb7d6/tbyvHStx7EpAtHI/Ar
            hH81xpypglGlOk5oMWD7z9MgpMDrztXA9sT+ejB22vE8OL/hmWd4bmqD+bbz
            ed5szwOO3Vp6hi8tCo14Htep86Cjxfu5oKSRN1eeFzvuifvE87n5uTycOUjj
            AL1ohJViuPrAM7UHklGjkHq+TXk8MAnHWX7QYceJlP/djunQGGfE83RqG9AE
            9WS4THyomF1+ziVlIZva2i+IkkS2L4FrIxrOzHesA+QUMDYRevfzLD+fz1BL
            twXH8++Ke1bpgnOPz6ga18tmZ93p9Nl5pDp1U1ooGXH1S/r7kdOVjASqlG+c
            MEvN4B4pXCVxyvbrQClrncOky2Mm9uX5cH0dXeTSQbBPxuTh4ebKn8nbD9cT
            jx9nbrJUKia7Xc8VcfwZ7XhMaY6hdqiDGGxIYija1b+DznGdsAYI4bmow5xL
            x4AWHxpKJJD4TG3zO6lYjj6ReLRF4vgxqTrmXDmblnL87ZjaZGjgeWnnFEw8
            1L9ROPHdnruRWCpGDEeFwpGLJ+gLtDg7leBMcrzwvdj3yO8Dqs+MI1AedJ4H
            WsG113yk6geen/hyF9XCHCK4dQcBN04nVHge2+zYo14hxrAiCRtjNOfT0kmC
            iqbmYcDxjFfgQuvve1+lGQm0Q6ad67ZUYXI8/0L9dyWHyDRqMHmTK5gmaP5B
            /e1D/UMKFNmOxhEEcuOhQG41g0l+rVIs8LsNcQUORhKP7Vfd56WA82ju3nYe
            j103j+VNA9jPNU2fzvXPCSShYnyyGZVcB7HYKmrRrqdnDw+U6L2KrpyLkzlV
            QfAGGHckW2hqi+uTdnY1XjNOjloZ9xP6COA5S7ytUcjV/NjqA4XdXB5dq69+
            j9jzGTGeU9J6yuYxd9Zb8gLt+5z0nhP56HXlp4oXkjwxMrL8sp9TKH0gfAok
            Q2kjD7zTorEUagtGAt0Z3wqj5A76GY1vmaHTpMxfsdCTPYgeElTY1l7Hk2YS
            fpv550N+SIHkFPpFSWdmIZnnzZUSFuhZ+ocJCij4xnkGXnxijQfQd6IkwzWw
            JkArsGSfoS0FgtgcDK31vIw5hEeOgRL92mCy2A/2QPP31PVhWXSQcLsb354C
            Jcw7z6g1Pjklz6RAqfsahz8Hn61xUvE9Yo1ijU1cGxN9cZsmx0JjhBvVqTEC
            436mTf7Z9/X+mMgkwzO3uM+BNXMG8VxwQBHjmbm+Sc1mxj/0U4BAzjUgOGp4
            BUeTzbVwfxIFiTYaIZ05n5s3Xxd1mHY7CdA9tB9GC+IuHQqRP0x2Sr79Agd/
            w6IBF2r7mL6eWcWSoLvwJpsxPmTccjv0dyDPNgoJDzI6Qk2BMIAWwnVORorX
            hAoFSX0dYKgnpRwGsMnNAl0E529mtyomdjx3SrXfqVFwpMkt6BzMw+5HVQi/
            R1q5ZA/05NAGxjbyO7hrpw9C7pYYzw4hA6ImGXAR3JgW2d2QFL4ICpnq6FOe
            EUhv/GbCb2R7d03O9EWgCQHzXkHGHe1PqCSL1xrzc3wqOH6BiPrWjmJ81mn3
            wKK5XDuCVFubf+q88+lYsC1eXBAkDOieMGv3vJzUjqS5ZdPcIFfuDqEJokn3
            A2PeSGA81S4aw0f+8yDoidNWWsxj1XtfGA/1BDlu/MKPreKXMh+jTEjl7pTJ
            hyvha7WeHDg6nbpdg6syN61sDhoWYEmbcYMditM89KE5FWO1PnsVDfkjZ9qG
            U+Bw8Cpt4nn51NBmjvvGuiJPA7s0/jDoWFhpuqIaaM7RFwiRie/4St21nXmv
            Lw1NT9TIg4kde+vfIjNCT4Ag4X0jPWMuAFaTyASBSU5DsWu5vG88K5m9PysM
            AZHJQRblZEIzXs9zb0ETz9ZL1jmBhsMjd1DIfh8cm6DBdYha3s7PwTIrbZ+z
            nASm5rPag4b1uUA97AI5ihR4gQvWSN8XqNOmJn7dFNd5eM4c74PeVIf3gOBP
            98n5MyDQcG8OyPiQwJPyvLeFkG4TV6Dv7EqjkUHjDfdaIwXU21zH9OZIIcQr
            f57tgiZeTUHd54Szz1eohWoDf3e7D/UUXKdTwZQby86JUO/OPVnpsftAIryT
            lZ147vHeJ4GNjH0OdBG9T/iaYDwXXZvtOt/7YFmZ15MC/zmNmYd9H+zD+3Ty
            UHCMx3hAKucyy4orN+LZg3lZqy/Vsi2zi3wXz24kcN6LgiA1PORZO821q7mf
            TZI81bROEwzQ+vGky1a8T8jzkeQcNKkwJi0P8YP8MPBw/vj8rpjUZq5pSy0y
            dq33mZ89ODcEAV6oXbcIhJwdg/HhJ7f7AK/l53zxpNkxCbgveQyWdjeelkZd
            d9/KJiT/yTVwz8/5yRntDHZ+whtTCc3pnSDoLyAujskjhqsVmL4XA84FAbV1
            6b6FfntI6HO/K643ZdrFz6RCOTQNwe4B4/6+9nPGaeZn7J/jofkMKdJZRMC5
            AguDIAjGtPDOI8itYM/FdxMBkGhwpe7q4Lqp7yebMJkPOAg3fPQdEjqnenLf
            JbWm4coJ45VFX1ghHIBBHQTcwNUdUFs3goLezC04hX+P9j3c/v2y7zlljLx9
            Tn4s1a0l7zY0IR7D2MEpreKkDIqPHZe/jsH1ZoD0p7ZRqLNAC0gTOvGp/ccZ
            ZDpeJwXV+QxuQWRL38myr4jDoBlggCFhJz7PcdRXkxlD5zE+Rza78F4dfzPQ
            dA16z1ndtFx0JpsHHzQZcJ0hIoNWqOgcZlr+AbGRm/M6Nbkh2/6R7TsItpjV
            Zt87DEhxnrNJBU++DcXGH3ZmMw5r27JMQRkZ9HWb81o+TCjnRgLXHQ9/mHwo
            ZASFCXe7+Vxxmb7f+V445Yy6uZktR/dtWPYSIdu2e1jj8JsGv/4Oy6xs113L
            tpffZ3X/nvfWVvi5fLAuC8As/w6lUKKIBnTJrV4+eHhd7Yc6p+v4BMEut8li
            mE+fQSyHVEX/bFuOrtTB//ZcdB5iCh55BX1BgEMNGqCQydWiC2fBgpEt3xOj
            EBHkqiWTGLybAcYSbQ/cl04MqnzRPnPb/+l7XPJBDp57UoxCJcS1Ov4WlSNs
            xwq2xbtHbiHrAu/Xk22b+wXu62LopIYgFiSdDpNyKqgLYweUdR9/Kj0Za5Qu
            zUNeyNZNJuLFn1f25o/K5ufgrauigCVIlz5NXvewzwE3f+b9yl6GR1PJRRFx
            GIRU6rRYoMLrHDA2mLr0OEDpidsJpfOgO0Jw8vmgws4LLJ3n3XaelgXV1XQe
            Py3zXG76bngefWmuZN3567wfBp3OAX+nC9juNarJbSyk+A9G4Ml41LXWscev
            RmPZk4tGYxFTuhi0BncDAcEa7OP5sq0OM0qhkjcSKxjo5TYLr93BQdb7PNSl
            FgnXrv2q7imdRgIPoxVPJyss92td8kJjrs+FLr9QXT3/vJCdG95zyUnyTGuF
            /YL5wAvScXn4QwxILLwk7sJpS+NiVsCVyoWrYP8JBeyUgqoBPgefJzHo/Fig
            VZH4Xl5ii9/EpgGm9Jabh/5vWux8WrBCswbyCJL5rhzdSZ40s/Yp/ooTBj/X
            CAmI5+nbPoIl2z/jAmVADldIVlO6II63hcFxeeoztS3P/FgW+Zbinf/RodXM
            uGpzv8N0y2Llbh6YrChQq7r/1h8KnXxxnzN8YYJrtneRfdlSZYgEAoZ+37SE
            uqZWf4bCUp2a0+pjXyBPRl7fFVC4NkFxaZ8DObvkeVt97XNuGZGbw8DYW9Pz
            CjDu1/MzZC4CKpl0vI3CAC2ZBNSjXROTdWqyGHjrTYKLTmzc56yxyqGtwLKU
            xwI2vGzC6MJuxsJH7W5hNxEwFMvnJeqwlTI9b11UBzio8h/V/qeLuZhSS1fO
            HdNTUvo1oTymX9nSWkaQqSgX1tntOeT2yWO8hjW0DlgesTKE3Ld1VbBztM2h
            YFg75+3XGyt4nvsnVyvzJof4cLVhHEqOTSeBsJzP/+Gw5ASfVIGkxeICSr3g
            BOfxar6ntEtRIY9ftd92/JQv7dLx83P8eo9n+kS5Zv4cf4P9060N2fNqsHul
            ruoK6oyR1gd9fse5/Xvlvvuo+0VLem6K+xHtOtuVgsEEibVbCmWgN1gm4uD2
            rDsApYHDxW/LSsBzNTcxC8Tq93u0IiXyMmKrR4Wh/+VClz5Vlp1Tj3bR11zp
            xn0UnHrmAvEd23SEKM6eCQG9cQ67Z52fe968Z8VtZdZGXhVKZbs3YWGgJrO/
            WrRzoBIVvnsIiiNoFcldhsXTO17RgsUhMoMGDPiq9E/F3/K7ppumjMvi4WwY
            gvFlw6BGW+U6h366CgseihJZdxLhDK4dSLOyFSR6EzrupyiIOYITdTjYSOBj
            WOEwiQcdNBxIrHJYbA328UULJTBSd32sg8CXwlINh5S7frj2b1u3IEhzOD4P
            /54YjZXMhUxNgffIUuBjGGRA1O5BfHyvTDEkfcCU97mKccdpuXzGCWoBlcpR
            g8utI/2KpPfCcakn/Un0D2Bcan5GlrPKxkWRyeu3bzOKRo7igaMsUwHv6e8B
            fVg00PMZuqwoJguGQQf4evpYciYtUu+2snCcFF5OqpFAWll5Z1Ixll7y8Zfd
            L226QYXicQ550i9xDNo+ONNe4PUt0olRcSHKv7k9+bWfZEc8l4R+GxvE+5Yd
            IZRYoPLJCCB5SaKbXSabO00rpi83UXyRbtKl4PUhMUVb/qGNHJ5Zp3STx8+b
            c33OW8POy9HOi34ezGCdl5rO4/uesMzPHQWVA0A2tp2nQ1wXaiDQ0t8wNicb
            g1rO7RRu1EW6ntVDRKDwaKvxhqjixN6JoULjTqCiE98LncZY3dOf5yrHbFsH
            UdBtUeabnNf7P4p8DNF8kLP78YV8l+7nirm5iLfcwUARSeXqVRgwS1JgFK4R
            u6Y3Jyk9lM4YmHY32TXM9zfenVyOKtrHmDfDJuM56ZQBY3GnDi69QOkkBOoN
            p7PK+rmOBvVhrOuUG2XSjr83qwRToG3shKQMP7LK/RxORCScJMKhYtjigtW/
            7/kw/ELCPeycl0s0hmb9/nQiiTMxVHXpGTDgJ7fMuPsozKAXJoD4tZMrzM/7
            PDHFsxWFprAief65to7SwM8slZUcgU/m5uy5lUqd13Aew0CQ8eSa1ACNyBqU
            qvPcC/K+wIm5WG8/P4DCdA16GO1a5eTYVF2v07OLu4AEZg2FMbwY+INe3m5Q
            wY5eltUvrFoOVbUbSHHCuj6CKTDh9JgV8wTwfnzYCgLgtqUtr1sb61z7oemm
            orxO/tBBYetLk5CHexg5AVHuZj345SErrGKKkmtZnDP4hECJm+cmkIJB54Tc
            ywel+ATTFCznIqGMe6+SBkULnNCfbR2mNAW80bdZp8kA9ysWcbvoxQI7oQKt
            PMFHk7iy1lZUZgkjZnnpvzNfZv5j+/PzbZ/lIIQ4p1EUaREylJq6hQjGozWG
            x5t6nEupAknZIHQzHArenHLbkv6xVh88cqb7o0Dfk3Gdz0gfW8mKrkHqVrM7
            9Z3+OUlSSkNFJiXNcI/A3xuzoCBNwoK9mvLh5zALKvjn8PnM40L8x+O6jo1+
            LCUnPu3fIcz8vGbXCbjhY79he/645ufzncIf99F7/u35+LmetXGriGYLF0yY
            jOeAOIcxgc9j6LmopdGDldOdzysx94cWuz+75SoNyFJeDyYDU/anOVzioBRx
            rzJPmlJf6KzsN9aXfa/dtyKA+xbtw0y2Y6n2c20FScCzgOt0efIhzvkZ6s5Y
            vYq2B5kt80LyuC0DyJKuzmVS/hyehHVY+BN6krkt1pKzsUtJpLydcoFA09E6
            eIYlRFWKATmNzDmJFdC0Tu7sHkK7707P7v4cO/26d/vel213uvbw88ptZiJW
            lV2P0UXlKth2HLZtvp+L2z2T9n3afZof37NtYSMWSzu37zvNfPjz1RiqZRv7
            uF1Jkh5zWb7T0NMwq7/589fL8yO6jRcUi2iaxbNyNRKYynqhk7V7woUP7k0p
            MzxEJPvPMlSa6ckSJcw1BF3BSLihlOAQMjTQ60X3Z4hlkF+eZUSu1rMEJmhm
            SJYlOz2MEqX71RRzii2WCZY1YS4EUIZyH8EdWKAAm6GPGK+7XKm5UzQv038f
            91AfVONMsskX9dnqeTuFzgRvwLXxWUmKN1jQgHii/2p60seUmlOxhUWv0AaT
            L9JtGYqK/mgbvpOdPgvgc3/ZE5DgIdtCYS3JPBV4BRmFO7CI5Dbn6+uMPbTl
            teWkhX6SFrdLxwWeD+FxU8Dxc6Jbirrz1yLsAaY9E10hbXAe9OrM87tcQbDC
            9OzKO0guCE6K4Pt9cPl/nGI6XRvm34FuiuPql5JP663Yd0icWjjp5lE+/ul6
            aaxkKUlngSDnRGDquV5ygmICSoGqf+rBi1TvJWMiaNAxQRC3k3566SOcFLA3
            DOglBySdBlEO4NUo3AKdLhAoePGEiSV9nCXOSJcyJjhiMuW8BmGsxPRZbLG/
            1itFGDCrY9+Fz7g8tLSZjgtXiArJ3SQQuuRwvdCxxXMFnEPRKOY4c4yNxGKf
            CwY9Mj6cH8bS7nzbs54yuO8m0Vrxedln3BTqin1u/Fzt83UyGGifYUxh1u0z
            U0XO62YAHFPwXOe0zw0Pezb7PKGqQpa3ASv7TPgcbmhBRgIMUOjhYP2tedtF
            YXiAyu4Wutg5FzdE31VCk1WLucowUemtpwxsV6eKBFvgubDKZK22smN5Baso
            2CriZDIAyfQGyhN6zU5Zk0y5ui6IU60+Jlkxi0JWt56HGSzJPielLep6Hmw1
            gkvf4ohUnk0UkRBLlh+H4R4LC40o9SmA31tCmnMMxo9iHt3PA6u4XK2cm3iZ
            JUQjaDIKAG2ZxhrVyQT9B1bX4DOpfqrC8q3uvafKyKzInEHeygJKNZHBRGhy
            OYm9ND++6/gUyQ3svS5xlKx0rIOe2AV+2lbe3gXGyWkQtsagbLf9k4F8OYHj
            R1/CNelBwID0Vi+r1IO2Sj5EWa2XpmLI1Fu/4eBEVCXYiyVF5tTgmcs8W7pP
            ciK7IbTZRucVJplOUernDS8PyacJShPm4A3zKiuNF4sdq4JJyIF+OQtwhtp0
            rRFopwYYlyFuDhVig2mCN0g3rMpTyiAs2ZwWU8KxfawgrpaHRIphSLQRucKx
            GMChUvBzMHgg0kSlrIyv+8VL0fdRYVjlZ5xnHeJ2tFlwPxxT04ljoBxAdatU
            gO/UTjmBr+vY41JPpqtFurPx/707cXOsFjO+KMQxdtc28GbjBJFdF4ZZz9bt
            vbRgqrhZuEfLP35TMR7e44kWmMdnvZzOG4xoZPyt9LjrKZCQWvRAtN63MPpt
            qdnxXuYP7qr0lCpFeWkUxwGBgXNmaEG3ChcsRKEHZzrwLEWWab4CBmR5AiVr
            6ehYXE9q8xUbuC6+R2n5QRECiIFs1Yx40TN8EdhoKVabIDk9wIG4uphNf4Fo
            OBEe2T9OJj9T8cQEkqjoaEhHtfdJkPYH41eFtID7hVvEmGyijkcyPaTelLgS
            tu+OZ/evdyrkTCb2MIFlf775OXwR0mPPyXGLl3I0jpd4zxYb/8zTv2pSFqOI
            rEyGomD14tk8JvjhaGPJtzdcwVONCDmac6jDFeTQLQC9Od7lCjY28mqM+2Qt
            BpmGrvdgrI0EHjlMbWe1rdgdI1bgBMyCXefDktamsFTQgHwGkQQB4hi33AF3
            +mUdMFoslgzWs4JKNNZm04qMZzkM5QiE0L34kNNfdpmnl74/e0laG08mdcMI
            s0g0Pov18tpnwOTfJAfox8yy2ewTLwu+N7FcClYCzDwwgW7BzMrMdst4DSTc
            yDhZDTSsmBZP4j75OxXDweQrZsMMcCzIkI4bjptZpBfjSYrky+OA12AJyDxZ
            79doDHBKEt1jDaZlGeHY16QrhqkK2o/5f8e1sLTyQyRMhlHWf7mUMnl23Bc2
            eZ19SFHFe4CAhjuV9U7kxIlRCHDicyrGOZmBOA55RUYwz3tivJ2KV2J5Aizy
            NCMMlrNcVGSkjEUpg2k/hFZEtlWg6nFcLCpuBn2wKzs20wmbLx+Aw73HkYlU
            UporxdvLRvGCkHuXlD9cO7HUgJNSqFxFaeW9P+N7ZVz9XRFmgmUjHkZbzDSM
            wR3IljrixAiZNphcToKhWRRAmNgnIuRvTFVQctr3IpgQafSJUXPk5GOMwLZN
            fHFCnDuV8Zz78wga2R+L4cCYwLgO63z9fKzTmp5bFPreT5cVrlE9Y1rpn8zS
            LbJ6rJTc3zszauBee+pYs5JIv3QH3G5MELxETaM7gdzKLLapEGzHNJ1pU84B
            PVnUcykuNPVCoKRSPp+Zdrs/1/UoKNlOre477MELUoiCBvAU69ZKDDe0ZgaJ
            U2F6NpQ2iw9Ryat0SEL23ZDBg1XEE/akJ21Rtu1jdyQ5xFsvRDmoXGRs8T3A
            7MUjmGx9n5+py5VjGJnWAGUP1ny3SiRmCV5RE6bBhsxonncjdhosWSHF8kVJ
            dHQwHk5KGqw2m/nEPvOckQfAAFlnnZJhDUrNyFhDXRliWexDK2d9KzuFmcWh
            SSGDHBfPTp7B9WSb8c3jh29fLRZToELCZo5KarVdrNXt08vy6tOmDKyVytgO
            lL2SlL5dAhQd1m4zj1v571jlJyjxZHSasX2mblcVRQVaD6GYRs8YhuxnigEG
            Kpm38/hxLJhgWnW+D2NWGUyrYACUfwpm4/fIpjEzXQb7wOKzI05cCj9cl2xf
            8q8SPbGJegjPpZEc43tOjjcIJXgMK7Whz6fZ27SrmbtDMiJhTqaAuiKKMYIC
            6UoajD8Wj+jeMJpBAg3KB3PFn5sUxQoPLKsQqpIyj8J0Beq6jJWw+sRfQgMU
            MRhLaSCYRJhUTCuUbDAFygKJoPJuD3fjZX0FKi3gByuhq/b6mDmk2Cdb4UBk
            NrgUBmMXWCmnKva9sIAf26PKm+eH84c5S/Iw2/l2FE7+5aHLZjykdPlKoFZ1
            uDZmWzxzslIarox+W6hdVQ6e3kcpYEn2pwpA5O+kc0khctqLA8JM6WQmR6TT
            jyABglmcLJMsik5eNCnqfcdXtR6iaOi9Q35RamzQtmB50VFianRMikMxWD7e
            apGg2MSghjbbc8cIPnlFhuDIGieEAcPn06PEYbiwxZrGFODNqJScRQI743eY
            ER0rH4LwAovGs414pksYKD1MaZ4QzLhOxfPFz/Md/nxMuYP5cXSPmLattDAy
            fZlG3T2vVVtQun83DuTbKFvanTl8x39xT9UbJ3tPVnNJLkW32avnbyZW/FpM
            xA4ufgN/+cHKz+PCiNwhRBvk4MdzkGGiXnUyu4oSVKHX3i5NROLAMRBAtJdK
            h+OyFxydmduR+/TivuW9GFXJIkJ8r7s0B9eongxs9UwDC6Mdvq/v335/x5Os
            MK2msnpisG+P/6nv5fDvyZ7Vt/oer9v287jix8Vf38Ov78fP7+X5+T1ARaPr
            U/yEieQnaGDSj35dxccx3X7utGcqxkJpL2N72xbHTdccCz1wFhjAQeY16nn5
            Sc0v4sGBiaVOvUmuxXC5Ck5vUFn1IX/M3Acl8LZjI2jniaFPGu1HU6EFPmN/
            fq8D4gQToOVEJ+pSCjE/d+ZYHHc97LpHt2tHZnzXL2IC/7u2e/NgdBXPE/9O
            VMoEd6IKnkHOVUgPddrs2/en9ev7+eu7B1pMLtU9hlBy/Hv/9b39Ot8J9vCx
            T5jkCo5fPVF4a7/3MrvvWh5I2WVjngCdXTvujE73D25Odbtyc+yzd08k8uus
            28IJsGMVuPYohk5u/n2D0uwozPKL76jLBsXZUZkNqrOjLztre0dndvZz3NGa
            Y2/tuOTX2dGYN+qyozT5ZxRmR6VC31GhHS3yrf8e9/N6lOb0rOzcbTBOH8y1
            s7bzz+zt39nmbzb3zu7230WUzgWGr37fOrTAgPAhm6cta6KSSpTVvmEP71AV
            8FiyCZmknmp/xSI0uJ3Q06U8Degb4rJWrKikHSmikaJhe9quwzxtEhFSr8ag
            k6Q5F2jUcSxZxGon2mMvoQOHavdgsNkL7YuavsAcQ84P1gH0T6iC9nt09x62
            k7hj3y+d7KVha/W29Y3gnidWVRLngD6kYAZ5M/lGBIlBJwVUJVZpjp2xVeml
            gr7CrCaWJc/mIGZ0f073tbprU5+rPFq4I8gruslkoqUzglPo9iyqdW9ScaqL
            R0ad6jjFpml70E87IELTMCWQekypQa5R5o66uBKOB33gzEJxLtp6jVtWJ8aj
            ewJXDPQ6RGg9UD6ZrMEgCscfz/yITY8OtYq6lbCSsF86P/SuyPj61G/gJyA6
            4bawnpvPRgJh2TZM9lkHWPGSm0ruzei6gNKSrpip8SaC1bB+GG8diWiS08mQ
            Ib36kPo5u5hwRz13g7V2pmufrGsIY6eZYwRruAuYeG1S5jggh4BNmrKlWPpX
            Tg2WoFW+HQRgqafYam8Tdt7aLFYrxcwec3Y5MbLohgSjQhy6Jvk9SIzQ1IPi
            bz5V3/bkhCxfDlcRJj5FO1c6hIuA6DJVW7x3fD6aO410SLNFsUTlks+5K9lI
            CEwcoTL2KqquO2GAV2xbb5BSKoUb15oSqV81Jqw7OYKJKtxH7yAimzJ70i6O
            IkAXiCrgerCuuGKiDEdLqTRl8Eh7QWwzN5ptXO80mLbDl9rseAezN9usXiSz
            i3qubL7N6N8DU/sZl+ZYmKkic2UQoEqZVXbdLdO2rOte5HM6e8XYqLx2B+c3
            RtyZ9+9uETn22isLXeZtmbhlZehWXNTMaZ4m0faa4plmulTGRBllIORDhKEP
            4pcTvDAdXKGfPndxOA6I5hCX+q+sH+YmOlXSUy0vx+Qy1KwPJVB87b/2fmjc
            PVkIjvsx03MjlnB1rIZZjnRaKrNoyCOD40qs5jO0LNz+fbxVmGqV1NlhfQkm
            Dc8cLtUNh31usnMY1ed5T3nueXfq5sPrKXBoJZuU6QP2mng8U/Gwaq/9ORBh
            QRBweI5OdozziXqCd6s4P51WMK8gAUE50nMzW2UFhkio213H3DKOJiee5Sos
            5AdnWM/p79LpHcRiAQXb80Rwq9/3ivfPe82Od2KKGo9hWDJsEjhlQPasfGIb
            cPkqUyuHAtGNTswhmZhtoo7wdTwD0U2xRN0A97RzuVSnD3BUFrJeiJhFPK6D
            x4XrlWtB7vxxKE8/UF6NXMdlNYViE9XhW3C/0KxGTtvYLb8fsrlTq7YMX3/O
            AZufxcBXSo88LHKj6f5gt50p6mSdt3CBxqw0n6jx4qTaMJDNMiXo3vwRyTCn
            fwdL304LJqF9a6tQ/a3C2+OumzMI7VEcwLZQuZXTyBK0mXTNsjM/sG+OLXtB
            EGJ/XY4jIQpy7PCoVGTob5hFZXkcR+gcGItBgsMTjtOjQSRz0swEa418TyOB
            RQRQ7oRiou2KZmNChDLdW/zWPtfj91bx1WiJkML6kAzEgzUDlPqZXnKWN0/w
            az9lB1hg6s9OuNuf6/G1XcZ1lN/IoOT/8eB42I7B8oNYQn0XzHKHy9DuWmtP
            HzkI7eVN+f6Wt1ASWedn2m1ypdFs+v+bCQSTu0prVrO4oyf0oGlFn89JpdES
            CCzUyf0g6rNF4+L72A7uwWpqDOIM7lCvGs/m3mDG4A69mLJ56uWDTSKAXkjy
            5veS/i8GnWUp5YJe6II3mrem+ARXAYaCS0PAP2ACS/UCNBWgOHXtDze9n0EK
            GLdQyXQcj4nkWrJxqSh4yEwOagebKoUlz+6VoweOpgKzI+N8wliNuCt8X5wS
            S7D3zbc8d90geelNr/Q0K9cgUgZzQkqEkPZMD2qJMxKkkjKOEX++p/Kx+BuU
            yunmSc6ulPGeZNQszAv0CUza6Ar4M90i8Z7PDqVhVxp3UC4L4+GwKupkxfdN
            L+zJ14W9Tgy3Sbu9LzodmSWPsZnloggKqTD7LFD0YFCxkIwEbuqpnTF4D+ck
            pqlRPdpaGdhykiuTKqXknNK448KAt5toLdJiU9/YyayUInKoT7hft/p50O0y
            tZ3G7yBKDCVYDx3wYztWDo9b4u626hQ0pv1GLRfnMTeJuhleZ31nVVoKPxej
            BY/zVryKHccogXLEmOrDLM7ux2c7PnXfevD58uvlfT3/PfvvY1dveyn6VszM
            5arq62i/O7ozkyb5PC2pHvvKdv12WOrCLjmHhLPzlvm2D78PRqha1qZtL3/+
            sLFd/XljtvtcLp7oNho73MekwkZwxOUOkEdIGJkJXsUnJaX6XNBRNQFZ6Syq
            d9iTQHtuBmORzyQwGfGzUlLw+JIMBotKjFrPnXYO2l7JVkFXzB6T/AyzLZnQ
            91Rcp1J1tusEqeu0QxOBuLtnM2LxcPXKJzy9krd1lqMFWynY3/L39xRbUg7H
            3fpUgYFdn6szjjPC9iy9DdmwwRXKw56X+aegkouB7WZwN4uYuCJEXJN2PVdr
            JIeYwmmAekbjzseC8wweiH2EH2AJbUg+xj8mBWZl2vlXiXh3UJkGLf6D6bG3
            xQ4Gh+LlFi93oA/gF+4DvvP3Jbu/8l59Ma2EmJxcQdWfu1kwJIs7keVk5iRI
            P//KmuyXiiuFp/MwR5+VI2B4dOc5QYTz3s6TDJ6kATmZVXEJqYj+lW6OA7F8
            YQnwN2YHFrcnt79XGm2+4r6nytU2OgpZtWV0Hry/50FpADJFV/lpQz/bynks
            i8IApCk+hxRAVjgV5gJTw84sP8B1phQoKboMdNBhwWcNxd4jWzLhoa2/B+F7
            xNq53+3w/R6y8x8hROk9wmnvkS57j+xhP9nJZ70Z3AZx0n7FrIML+vnZzyfx
            7GdiMScGvCfDZ5AOBRve9DeLQwiKJD5f8yl/2JAyTA3eSCAEIfiQiSR/IKc4
            yqTJiyRWWWdiqGj1snQieD4U2VQ+VLhEAMabMaQfabc8LsqBkeUKZN6UcqQM
            m+nHpMH4H+tD3UHOmKoIjYHd0ZRRbZ9ALSimomCtKHWm+bqDZROak2J9noXm
            IDM/oD+ci/I2c3FXJrRAZjKPjmAXTN+o50XvARa/xBjWNoldToMkt6Z9hmR+
            iCDj1xh+DXOOOEI2/114CxdHr9jZ4ib/FDsE4ze2bWLg2TFPdyjkYsdpx/08
            W0xssbfj48s5QFQ1lmWnEEeONnf28WX2stCOSa30mrlDf4h9RaZ0mAwPLPQk
            BBwVIwxjoXuzsO7LKLHk5+xFCQG0kyd1hcx8PpPfeBIQbQpPwKTLdQi9RFka
            RUl60mjpc2A1kFJpolNq8jq+7GVlRsnm/qymGSvkyRL3KIgUJbR9a84taPUw
            V3hkcpDuhLT9B4xfn577RATFLPDMwWyKNw1Hoh18eQcofNu4fpgMQrqeBIcd
            xWBXtcyUPYdB7Pei8zNwVupTFQ/2PJmT2U0s94VNaeZ5lt7UPmkOJXWG9UFi
            oELmq5Isk/Gb7tuDlYD5aEOxSuoGQSufEBb0JDxc1mwvwS39ZFZzlohNSbzY
            K0qtZ/yOYZqq/bVa6j5rkHVc+hwnBIWl1IWb0TyKQ7zQ5L7S7bx9/bv8vL5M
            5K9r1Pzc97FLhe2cq//nc0qz+940P2qYwnVdFvxWkJrBWOi9NMrpmTKAAAWQ
            Lx4HqiWgCUsGZqRHqktjJl49YbmajsmfY6aeBZRNTR/Pygz3KXursohrMm+H
            bnoI2idIvAb6I+Mu/whe/nxlw9Yhm7YiUe8OElhjmkkCZFGM7T2PQ0zk3Dzd
            IDOxRVLS1h2s7clqBe0bVYCP3K+KO6V5V1ECbLEAW19qFOMsI2MY72uIMZxW
            2H1cFmdRkufzSMJXxi5Hc6RcHL2EogkSpkfSUxaYrXz2/tAe9QxerSVQIeZz
            k/zxJtOexGP5+7Edz3jytymUnKXn5G9cCbgHOMijXMB8pbUzk4Mi+fxOJnYz
            wVbXzJeohsfH+1K2clzMVex7rdPmiCwsPPe+86KtK4QAtZPZ3na8eQgWZgmE
            MDj9+HRBsGHsOd0Fy7PQ+eG/XV+/VSiHULzLrUKZzBYmT/rLNZh+j7F9v2Nt
            kD1fubRk6sutuBkvhgkwPRcMrIC5uhu9qzoHg0EYCgJGm5TxiOj6JKMSjnUl
            AlfzhZSy1pgFfOy4UTBr/XBpSoeVVDp6yGF8PfQqZDt2Y4e5Jf5K8032j3vV
            ldc3YFAyA2148uuhdIqhSCrVmG4JsrToV2wnVDJD/kp9V+C/iUNxF+pkyU3Q
            dHZ0BM809gxiJf5chPvZiTvBawXcNbBKvboa/hyG/5lNKWfpPwHEoT8yN+R4
            9xFyGXeCGvMkl5JMTknO93hMJ6A707uD9hHnlV5ZwtV/rOPr5zlUsj2V+8d5
            Y0LCjZ9W9Xtfk2SXVcKP7fSjtZ2MbxbGoVhMyfFnWjqI4MJg0LSRIadyN7r+
            5fpoMTTDCxnH9fNZ+YxFMNX3wWtSo2cSMVjtOEy6J3wO39e5iiIEKkomUWbP
            9hobLtabBlRPCq0EWmxZOpT0Gb/B1jULq2nJ21XVcioYpID3dkHcCy/b62s4
            8KEzBpb768aF2PsL2NkSIssVf/2WCKi0BHr252/NfttJl3++FLQB86ft5CIp
            5HIYNvOxBddR5S6gQc4v9KqdKsbTsgqcdaghDC03ZlFmjjPMwg2xp7otvJbi
            GUbRCttSyfMkTUsc1PojjhjDqY2Oo/7X3728aXpsIVCR9Fz5C2/t1SBsUiXq
            lAW0VLpnK4OROepiHnu4BkvkbJDaigafw4LeQMiu/iKZDJK00m2jlo5cmUQg
            fdIXVHs3NJFAwAXGXVt/IT+6YImF+e45vGbzZaayMjN1dcpnlkFIOoS976Dr
            kWuMUKMMAPe4Hrzrp9EBcXyFoKFkQKi6YqJFaatEzzUx3ZfTK3tKMJ7saQ6R
            Q0WYX+ivg/v4+UhUe0HE5KRiNqyuos/UfHRxuTapFCDGuuv2poj+Kh3tfNgI
            ofZcidc8HQ7ze6hBfOPNVqQxzEG5jVTYF4tRl0g1fkkagKZzFyJkUDHSFEOE
            wTgGa+TwXEp6M1VffcSKFfswSKX9LBWI0bMhB6VYL9b25+KWejAh/kjRm5kS
            orhizll2wGz5C4wHhtSk7JkwmEhlXP103FH5IvY183uJW8783LEMquP5yhz3
            KsAu9GX5rmU8dyWKWUsVeTVh+U4oXESsNCw8Bq3p8yahQFT/kGZ+baa4susG
            a4ot671TTDON6jzfCimum5PhnWY2z/bkQ+y2JtyxT3hpNxDbFdPDtEKDqLYi
            JwV7vVAmdYPJxOMVA9MxMe9lMXkKO4Mzns0bHjgbYeLBlgCmIyFpiYXPHh0U
            Y/KED4eXu+g/0kIPsvJxkrdtELNYZL1ci8kCt3IgMT3S0ceJ0hSUhxG3s1iH
            yGVk6OL0uqSCxyejmNQ1sDCmHU8sZR6vFAClPuK5RIYwuujQT3adGHkdy5rj
            NuD7EyxGeQ8qathv105agX79k9fPfn3miTCxSJwaE/Iv73O6SLyrcEEucgqO
            hd6f9SWeviA3Gf2DNF3oGVFGu91/j7FVOKvCrGmii1qFdI6NxGghmpA9u9gZ
            x9ID8pHPm2zepAZAyBCHhMnyTfkm5B9s9EJtFidyuYUqzXbdTKrNG8aRde+q
            IHq+43S0Q5eVsrGeweDqM7PYU77dMRtsEDDfdIUIn+EWLH1VBdCtagKsfNhi
            hKpIIdIS17aT7xaWHwSDqycPB2tjI4Zfldm/ilG49PFWHKyTOCbT+L9a5E3P
            H7HwyUeqMf+kCgSHkKzJqsOt3GGvtMubMsU3mGtYDrcX4d6uUAoSvq58nssF
            kOf2q8TcMfLL72CoJdiMvItWXVc4vbZhePr6N7Q8q0U23+lO3YzobnwrN08k
            zkNSAScrk4yy6I0HVWplGeJfUo/J79XleooUVmbWgxLZJ8CChqyv6ZlIlh+P
            BITHTS6yIX6h38F6V7k1wwVMeU8rhV1MOHBR/i73EigIKtiiAhSJxvEwG7od
            LP+OXnFzk1XBDmJTg3xblk9NtDjr8EYEBc+Ublr/4ntFWIfZoHXlMYUkb/fJ
            QnUIw6Dz6CRkwWNi8PA24doLmFVQZW0xk4LHMkX3Xxxbi/qRCnnGdJglxDIj
            Oywt9jopxeuo62VS8rBqTaOE2jcuTNhSO5vUVr0GyObqHivXyGdBkj6sGdot
            GXgB+h70m5EKdAGTAtdw2pQHURbWhxblTqiwrSqsMdBVoV9zWNTCaKIdhX/B
            kGzwd82dSQ+6WqdXv02LNRbwCaqrCcpMOaEVmkVZVFzNNhUnRhVGAzXwtAxJ
            hpAJSvw7zYjS9sZWgYUs5KZZ7No7DTS7k5xpQ0Kc6nIVMmFPz9wLqwJuusPs
            mseva4I7l6SyxlTsHa3YOZobYb93JjL0BOfFaeXLeQ7ht6RAHtdgxk5xd6Tc
            pfis9CFhzEVl4nZWGfq+kMy8twqP9qYakeQYl5Phl1Qs1lR8UJjgIpelsoCV
            uNBNV4v9uQTqyXk76Kapwqlb1oSB1gTWxU2UcRkg5z5Q/gOqZcPFoNfyyH8L
            rZWcm8qVquKotLJTkjvR6TKG3C678UdxL9Z2M8T1MyF7K6G7cPfsHpN0Mt+V
            as8u7F22vdhzhUU9z7akllVA7S0ZR+aMe4Y5NUF97v7Zs/jD+vH53BnorCb7
            8fl+Mdb1Oe/PntYRnp+f4/HJoLf9anaQJCZ1rb5DMNHu061S+ivzfr/L9mXU
            FwbHE8E3nA4ks7YeKWitCCanegRhNAO4L/47LONmyDceUSjVukL58dWRZ04P
            JEP45e9q7Bv6uEWZ/fqHHT+XHV/YT1KwPfZ7eYwIsj8/iM7gh5ZV/h3Tfi8W
            bBJm3RumUFsbtn6gNRmDJAWZOfXXcDSaGFymiZAntTo8ozRWVTMyObs8WVRp
            Diwsm1EcmuY0nzLF6Mzm0X/LBy+7N4Hsy9KEw+BoCvtcSkDGPYvAJxJYCpYg
            WKVypKy4d5iXdPwAukhR6MV3/YDhcpl+a/rt672Xcn/xzizWMogfu6/B66TH
            us2NboXG9UzK41WJVrffKxbjmAQwZZu3aMfI8eHHqGGyZdMzSX2SlRH0niwa
            49RvBsV8i/2D2xLbYIGL616C9GHqCNWW/e7Q2Ub7qlKHpXQ5SB97Z2kO6XNm
            OlC6rsJSzBxva6FRFJ1vYim8EaF1rmjG+WDrGT5AJBJQY+cZmuhCfaLMoSlF
            SByyp2qIyqei9fR3CiwXD8P0zMPbNkjqWk6S4zK8UteCAg8hHq99PQI0EtU4
            WiBVgVwMEeWL0JKZVNXHM4gOA9uPFiX9I0TAbVjtTxFiIMM17dj9Q4iOTO2/
            D7pkcNwEp/OmfdED3Xk9ayvieatWVmxs1i9MgEKnffK45GPJ6u2RuqLYI9at
            4pgP45W0DC2A/lZh17wxqNxXddpKv3dqSjIovuIxRcKgGfs2tg1D4/ZeL8/x
            pZicyYJR0hJZMRiilVs85lI6Dw9K9za8+KrQqjJFm2CytAq28R+9w9/x95eH
            tcHoeGJA9j+9vLokYvkQ/u66b4KBnxSS7j97HjoVI4G6rOTAzVVBCVzxboQn
            EfGEZjjpw6rD2/YsLUseG9VfLkl/9ZRTEEq0Qck2jlydXUljQZ0d184G4O0t
            odrGQVgOQ2mwiyougcDo1jnsWg2jUJQt6VCFFIXdXfQ1hKszRdb151ItC/A+
            vjqyLVul9OByrAYdRKYfx6BiM7pmuECivvsxob2V8ayusXfujhoj5QbjLGBo
            osdDWSRMgDtNBYsg563SZaZ1VCtJeKjWtIYJ7800o+EpJM2zBlvwzAHzlhJ+
            moEr1r4MopDNRC7RrL5V7jZsu2oAlI5JV7pUok4fih0z/RgmfFDjqNbaluee
            2l9tP6596rPD5kjjUa1ps8R5skauWgaWm/1WvF0G/WU9QHQYTCG5G+MyXTiD
            RFHGtlx2LBuZ4Ni8z80sIAuSy5O4VMzCDJyWoJZcPLaUaPuW76NfzcoyOX37
            M51PjLC+z1CJ4kaWbtUOP4k53X8nZhItO0KJaDsLD2yx9uGJf1w4rI+Eta8O
            DAaJxOLZlb4IErbITJxPM1GK/NWqp/leJQPG0yHQ2z+oVpgJfvN6sdGTcYje
            LYWD+gKdjr7/0EQzTBPb5O/MjykQBYVAlKEf6dtXbNhRVOhedvU3DsXWTPu5
            SPV6LhBvoTU6CtQddQ+aN7fgItbomeWS5jHv04ucglJZVMztwCIz+7b7lljC
            GDziMH0a79KfYbDcUNEcoKQqSd6emwuXuhyhzgn9Xem4kpbvpp0pnhzj0Azj
            8ls8bIWNtrNp864otuUIO3bcutQ+5Jm/MhNrdcXVFdjiFYm/FFxLPyslGKS0
            58dgWSeDWPGHeOymP6jVJ8oKgv55ovL4c6KIa/S3ifpmsZTnLIKRL8QH/sdK
            +XW/zbLj9Vbf/WTZLKvZbBd6g7k6zD1ynwbc8a2Yru6E1g2yx66HZ56FoYfP
            9ZJfb7hSiuuxfkmEMnde0Oe6aiVO9M0iSPHp7humUgu/kejevAsoKcD+1XFE
            lv79fN/XufvXdfo/X6cOu84bh8i8jpGA9RJ/LKud7trDB6AkU+iW+Y8ykTWJ
            /n6EORkdzSu9qZPECbw8Sy5ZVT9xyulAm4zeEiMx+XUJRHnDugUhgMmUM7nv
            ibkvm1UN5SWZ4jkJPaOYDRuzNnaRJw7/YMa+lLiBcXcPJplYZ+cBh1rQRJ8e
            NSWolvunYBnMuSFzGGcb4EwE4vCEOjJxfG+/Axsa/GKDz4aim0DS+HPwhzVh
            eCsAhJAHAoYYmd+WFktwiAZ3yA4ylDj66NR5KU6KHdqj04JFhkiD578tB8+y
            P5kTu91YG3nm8M6547ROq6cr4GoYwLL4cxlyOiw2Bv/Sm7WHh4VWuU6yLRaN
            CfD8KuVLTChW8AhsBMRMrypkIa4574+NbZ+lK7whescxZEfdMZchsaiUoold
            Kng5B0W0NHc5IKcrWz9NOXNF06tDjDYrtTOiq8W07heW8JYP/7IArfUp14ru
            hU66Vi4pdXdxPKZqfd07J8kUsKxQXzjM8bnPZeiShOLfwzbPcMSwKoYYeK0l
            HHj7Tlke2K1yfmVpTsp0N9sYS1XTlsZqAq9YYE2tPMgwOq/P/cndlzmADwED
            4VzmcYNQ5ANphnnSS37hlwYhcoijiYXN2MJteW/eDsIGURMSfKU0IqMd2r/t
            6/ttNmPsR6xVNTBUbJorZoaqqt/28TCyRlLZhrzGhebKa6ZZ17nlgF0X7XLP
            fKos6sb3cKsjgXmbNQhnGewuTbz7e8F4v6RNV9Ix4WUSwXJ0nCapJdDLsO2Q
            Pc9ocVI6QB3m1c7bF2DcxBLfsVgUdJOr1R1RBPY6LnGa4zf03sstXAwZBkY+
            NqFQ38JEvhOHScxqX8qUBysLCjSZ6f8sXhcVvCaKTXXAmZ8wWDRgimXZXsRE
            V+AVf18jzz+vkWGeG+D6Y30Vi8Ke5pvlBFKBWUwEXOaIyIba9lIqX4Cy9CFQ
            lyKRzEbhiFNOvyuDUaIgUElq2tlWKDswkg1twlAfMbUQZaNbav+Wts7Jo5gI
            vZzewen2a3L1vSYS78FjReUEKc/WWmo7fKIyzC2lgwnZq4b+Dn66HBU2qqHu
            HLZ6iUdVD8uE4DNy3fk5VRCy0xJ9fvg4yk8fhwi6qoPj5iYal3yYOUZuonOL
            JUAIq5nTwHnM6lk9vs8L/XPeywUaCyruVzEs9/Yf2PdXMXQF8EnW9Lf2j4cw
            bRIQ6v/4uogDiG236G+ZgkkpyrH2upedLr2dFtuZsZ0XW5vd2FJvTgrLYqyV
            vAbnJ1v9Sc3j+ZOaMXh33DoAzdhgcA3vJJPTbLgHBiGcqDZXm8UitJub7cEd
            8efK3Wy0HY4j/ReYPmIkkDv042fQZyuxffxk/Yzx9e5dHrEipf9cFpVVzkKT
            MrpmqW6FWL2z+1p6NpiMwvgZfTHZE+qXJ8PzubqJND3zzwize0WhwxgJKJvL
            SjbA+Etc1UILxFrm6j0FLXBZLN0cRSyLTFbpl1xur/c8PKjwNPBy9baXYzuN
            75fr+VntW8liPfD2wuHBdAxhC0izuP9zWguC6LE7vqCqGfegEhn1cR0iWErS
            vraCjEMstxxfMjlBoJRrs1H3EoYvLyG5QVKI7w82L+TIcoXN7vvxk/vJve5V
            nIwiKTvHOWQ5jNvtYyUWvziSFM38vAoj24psvOhu6X0qJ1njuV7OGISmdnfP
            KQXnnjBu6a2k9R91XwGauakOwiYYnfdVBKvlU2gSunKvnuo4GZ4PEL4GdEzZ
            +nn9Yo3CfDgdD3JaDc5mz+xvtj9jTOX+bdaodrza8jZTfFANA+OzEl+lx2Un
            WOU1PkodnlLydbGxr0esM9OkXuUomXK0OcFym/9g39tuNTzCCok/Ne/ClUlm
            9nUvoivwXuH83Ks7V5qpngopzi95367MFKls2JRF6AyOJKue7i4uviPuIMSw
            I++DNb+HYWzIAahk47VR+q5HbNk5uLP59CIhWY7F5WIg734VF49vlsNUljWP
            e6tfrmd/t2IM+0eQJDW5IFKeaiE949jl7s2m0HsCN1UyOSaxCxRhMTIeJws3
            8d41Qt3SGVKEVi4Khk6hklZiS8e83dKDcpzA3IKNt9SA8Ie+oB7lX3oB7P2g
            TKAf16vQ7wZl9/f1sC8QV7qQCwqUh6vLlOJzMZfwoxSnYCmY6vWerNf7NxFv
            03rZu9E7KWJWsUQmKqyZ1dHN6vhlVrNQ7pPFMM4dC9fCWhJF9/ZrKFlnyK/x
            bMII5rTKW7luMK2dCxKA61aOY7yI8hq0ON0ovG45az0r81RWplbnzs7ZRGHF
            a1anY8UUqr365Kwwa8nrijDxgVAUZOOVHKEIgqjM5m2wpSMoFgBZgxEpxH7X
            Vr8TO5nu2TJC74atMTzUW5UAGa9IrHAlD9Ledyzjx6GZgkoyYYEeSjywRh/+
            PAkcxCobfz7DyPYMxE4fxWuoaCMITbBZLRWJq2viPyhCNE+EmpC1DonDUk7V
            tzISD4MJqjoztllleFltieoyhAhUD0uWZnqE9vOaiVHAgvM3OCsR+A2pnc3w
            PFGJucf5RYtI3ZF7sL2037ltvUjEdp/uCikrUfuxnAvcdxFUGWQ3kxYqwfbV
            J6A24r/Ooz7qi2wn5raIaKnAA5G3DOeYmJNDRWQs8wwWvGBeHvH4lMexWvMS
            ysT0Q4cZqraveZvrVnaba8yvf8Z/MKRr4HPcxAZhpgzusNQKoHGVpX5IntNl
            S5nXuK0OcR8MNUH2fiToKiydPKLFJZLBSQTrIXU4HKT2RzqT1XpBeFt3deK1
            VgRZPdxrevu6q9lJ31BPrAEONglWqCQ4Rq5cOrGb+l/cKkyqbEFQ7p39fmg5
            7prn99ikRceXUcFRqdt62qXAXyFy5ilO89vo5IOU7AvhvkKJ4sRcUGdyv4CW
            NmtxBexJVnF9VjBMm6X8W4rA6DXGl008AdVytv5PgqcnakBRormwS87g7lqW
            cN6Kkt3CGlmK9P3sE+XwiXIrwwBcsQ4huQ/VOSjmgPV5KMawjHDi/ACa7iy0
            4JlltFuHa8hbi5Y5+RXBVB47CGoRrPXLMZaIynT0ScksLpEuTrdxI5AzCYqZ
            HNSd2C5BuZYvIAxjqek4rStzv732jV2ISQjTMUOkMIKvnIZV3Wvy+53G8e5d
            40zo5a9j8Ue94fUE1g/QuQLGO6llV1Ruk5BFU5bZ7GkHLIi5o0UK62HtI4lR
            5z9Gg1b0mMGyRPwdr96xhOG/T7c/g2NthV9YXjuAofRyYXh5PNyPex6rt2XC
            vo7L9hy7HHQ4qnnxly0bytGTSsfy545K7GjL66Y3OFs3NKS0nLssoilZlxSv
            M5Yrtu1GJycI4GSXObL9Lg18sbh316e8FsZUqFzIguU2i+l5HJGByKWMh3aZ
            es+bVXwascrrGGTvv6bcPxGqu8/VPebkQpJ1hUVnhU6HbS2MTgcTf7sJCnrn
            Jw0DraH4Yq4C0WgiS+SivLTZYwSVRakHlo3B89NFeqQNiG2a8kYRMijgSFbE
            l7sDAwAt+U2JeK2y3Be7BOxzH3sxc8d/VwJJtdpkYperPTQb+349sEHcK3jB
            zsGyUP7wwjlmFyEUIf9Wu13+sa/RlLftqF8mG7+14WKMbqlHK/L5zZEcukuc
            LBcoldW5ozmEGPSVlzBbZfDDXhhqQb2cC05LCG5hu8sfdr+Z3xxxCn1BfWav
            P/wI3puiBszKxgJPguCQ/6IwSvkYfDNZe/1qniukiP5BE97JnXLHGFC6rmHz
            /RhMY9XL2uRz8AP9yFvBOiRPiOuYNmQwAVOkifZtOj70Y/0AIw8bMYh5/awT
            HQq+UP5WUnJSRE+MDlop8Xy/2D1WgDrd0fcYBOOyJrdpnMpQZTs5rPtbBApj
            TSC/Opba6WI+sQo+VdMZIZPDEmBcAjNpH+yzH0GWYhr1ngDiAE3PZp1JLeil
            SyxiszFh0zBHWcA/TAy2F413x0PUt63b2MXr59gN9sl0N3pVzoBYvPe1+uwj
            PMbvUDqfTXGXaMgDEjHywCbLFmLeFsaIPC6Ah0GZg8EDq6wJ6YhlW4TDYlB/
            o3bXxMZfBmSiphyh05fWBdItbIzwZPkL+vpKvPYXp71d1b7uZnMCpSrtfgzz
            VsvuPx0rQRRujUBwz0QgVMfnFlu1KFhnGrNSsmbtYr+/dAKyTzp8KROn28M7
            nr49ktuDed62fydcbnG3i2g35OMWN3GZmNpiiBNjKVeVSACaSDZH25wNUqEz
            /xCG45jXhxuxJv6b+43reTndJGdYhLZWMsx3MM0gOQgC6Kt+c2ielxp9WJ9x
            ndSjNsID8VSZ+yFkoEv5mgSX/XSc6W/YHw9qVXY1q/EXq3lkroCBsiO25JlY
            amD+nsk5A//FRPhgjLKzW1z+ZKPI/bDMQorlp/xJ6fuF5BdPx9v7sKs4IRKh
            4Xy1bWjeYBjUxSSeStniJQuSUZXcEkXSgrvksn5nrEOQE5L9Re7UmxTcHF88
            mFbNLHo+T3Gx9FSCJRBCAxMHDiJnlNoK/ny/5eiH6RdIDhNvG4M8V3VU4k4T
            tHfLT+/ML2C/CObTLyITZY0FtbveOAqnEJtGZXkh371EQxVmKqPJ84PjODiu
            GrFunCQx3gCObbAdgrRS8E0m/61j5oSq6JzlNqOwFjX+cjZTzs9qBG96fdMc
            vOKy9vcAFk8L2+eCxdyOIk8g+O6BnkVNglX3hTj03hpoR8P2RAfLEySxGEbo
            YR1mkgd/NmYDCZVFWPnJN6t4FScg+09qFXjuqu0vYmG4+GZc3p02aiaylb66
            Ey8MzVCFGzugpXzF7q2PT2sRLBF5WtbuWyRJF/btpujmFJUNMn4Rc4lWRUVi
            Dpr8oIVw7kzr/ophds39kSfJ7ODoqMPxY54ayu8LEsTQlafES/yIEA4SCAE9
            KCqIjHjc5iCuVUEIVkZctB1h30MCMqUUMn5nthA5L8Q62Zb4L5MUQFl00MjD
            l3lxt0WpsLBi+zIxEeLP35SGWs2fAEJLVKS2GCHUCtOt9vdIbTd+vs/800Fj
            yRLO9n+Jg21FBO8Yu62dLR52/v4bXXPrp7hJ9QLGuVjY1tO2bnbW7xZHGyl4
            IxeT9TLQ1XflO+MGLOkg2zO8tP67earyIUCEY5geg9U7w4nv3b9XI8rRnCO3
            j09lJ9IKmitb7222cDq+k1dATNMSx2rzxl9/KG3Ma5WPnYrTlHIU2Hahs9Bj
            lqxWvTVS31dC5mTTSs9ecc2aGbVKHOm+cqCGj+69LmRCZQNsPyst2fjif8pU
            iw4/dXtAyEE6/MXUprDN3dLnsxpFZFthAifAMeZfyMn0ChJjA7kkU5SyIASk
            MDm0AFNjCAZy0CP1qAvt6ToSDdvuLYGXilRDdV1p0muaPJ1sGNFXyvhM8zG9
            7LrQDSwQP9v3LdfdMSUUneqYRN/7pPRR+YOmIohLSxl/fRrVC+LolFOvEKbQ
            R5Wm0dyIBMSj06qzAiRsdbCf6tAck3mwotyzli0cDRCcSpsK5WhLO4R1Khvr
            lJbRaelWdOdCikbByVsiKeFkUhn+EFAPIRoYATy+2/OVRtaRCczwKlIEdSfw
            R+sfs651w1Il2eC3yMziEt2bR3ES+VtZEk/mnVOGDIPLOJ6ezpsw76Hofeph
            18SSM9MrEBRh0fv4wmiD6eFzlGk1hJCcbR+NTjqgvSw9vqyb2bmgkOdxn4B1
            q7cVSo9jco9jfwaj6YeBTR2jEhslg1U7yPzC5/Vx/3p7wWNHFAnJRfyD1B3E
            SouNgFUcb2YYVKK5YbyZi8Cel3XtJqLBm4jerg4Owm9/dxSlJ6pbcT8rI7Gi
            6qVADd2nyYDcsK9kmU597AfFup2FKcunVtOx0ea304I6PtkdB+Bi3jGLJ6/7
            hX/ebHqz083GX7btiayb7W42vtn/1uJ3vsP2hL2eMccBPZd9fxNmGf6+FpO2
            tN/6LfC+7/lzA8kR4GG482qLg+XXr8f21Jm1scWReeI+TrLtNHv8+TL7R1kK
            kZ5ji507WmDu6UExmQ3Fs51qcmuvL33gVNKKFoEcYkEAwrEPr+YW6EtVroJF
            HrthmNZJgOJSBTXDdGb3W2Nx3On46bdOhwUtoh+/zmds33VSG8CP75rHbs1z
            R9Ga1ewpUlgg95t3xnn7dBBqGyubFaKFbRC8Ew6DzYKU/ipHz82sljPJTDIY
            SnahS28HnwpzM7NPc708sXUaTrqSSKdVOFHsiT2P5+Zn7rcIqeVKlEfisJvF
            glMTO76NE9fnPfBarDAMZM1EJGaUBcvGYi5M8YqU6HinGAwPInq3WijIl3wj
            FioaBnuGa5J5s3MHi6chHyiSGbLGSk773MFek/75qF77wcxqiDsqs3cwdOUd
            GIusBGXQEfNR4geSKFsdQT1nPn4MrjrGCFHGfQDtL84UhwuyLBrYmWplaPug
            TIbcGI5teSs2ihjmRy/JpiXFBpAO0fHddLNecjpJew8bm+m0jB9aEOlyRedo
            ChHfbDHhySg8dzEHqnIxKsaual2KIMxbstZJn1oAatQeBHo8XvAGt5LLUWnf
            P/BBP3JX2jnbpnrSLMPcfKbAjgumV4R4vj02sL5+suH/wHlhSNeb7RGtz/Nu
            1FZr2ZzXe4qR86rg1t+J8J+E6uXXpkyiFwbHGhI0CyAtvnO+rKawstqUTZv4
            wzJ/tkBO2RL3G3i+b0XjgxGqFoTu499sbrOp3z7/FxjC2eBOejicHW5xML29
            0qtdu3jYpc7/xL5ftrrZqWvvv9nocDGx2TkxIMjDaGZS9lM7iF56RT99ofai
            4I9yFo9vwn9z8lUFpNp1aOa3TOxMFh0d2aR7qw3i31xvA/SDrrPDU+Xpk2KC
            TLbsYMeNl4OMTmnDqbivt2ZBpuphzjq2FEleqeS6giADxekGc0Loau7gpgK9
            x2KxErZtEVxj8pkLq4MVvNCLhxJ4ARDFqUQMsh2aZrDRV2OnCbJ96rQZDwbV
            Jgnv8FQqtj8wffeVA1xscLVaCMt83cf7ORvXke6wDLNL5JPNRa3mKEwdu+VS
            Prwb0KiCfbFUMkF3kaqD/Z6tMioYQsiXGebwL4ShoYqo3A0QPLeRhs990xD+
            4/jHj3+ygYA8fvxbkHKogEQBmpNF+97taOcDqLsRnhEjy3D3H9lWqq/IKry5
            FW3tDm/djbM9y1zHSlPHnEAGw5S/m7iy1zlwMZ5eWr6LWHaOZvHSdZi4l1UU
            rYewf58w0T0sMPINocqKFRKCIcjRtywl0PcdhLcZ3nr38Jx0+h4ZMBFyL9km
            PX1OsdzfIzvKetXNoUYw95fjpjd3gEiTxljBOpMuwmwZyPtrQiHldRi7Nxbs
            wSqc67Bli4mZO8Vc2bhnNhjH5ImppyeDYmCTtUO6JPF4LiZ9li+nEP0Pt2Xq
            qD5PnM9E1rjsWZ7wXOPM5nQal8ZFbYtZzrE9lHoi92UwmFS0Aq38vjgmvH1/
            HVknW38wA/p0InSnFAlpLg/2BCl/4Nhv7WSSyOIxJ7UnWHZ4z3bRY2ifw3gg
            GZWJdfL7cNeQNDr8eO2sXTliynMTN+Xpn75Xu9/yPo4XuerzmdRo+YIauK6c
            NvoB7reMKahmtPr1z/YVF2jDJpK5TloVGOCxTCdgUdP6bmTdBSdPzhIfw76F
            jvYZWPaZTlFA/JUuL8GuGRFooO89UcXS4bezifn1BPritah7FFX9l9Mziw4+
            E6U9OaCt5qHeZ8Ip8eucl5pyLwJNsa81dAJrgEfFjwuP7J3jeFatclUb31Zs
            ooXS7Rk2d8H1hNRc0mesqNwR+s0Qaz2MfJkLe4+BdIuvd1YiLiO0yWIUnKPj
            KZYvwMLk4/hM3nE9Yluh/aS2nP6ktlA/1Mbatv255+f8pjZmDH8T2LDSs5uO
            lX9DaOCgSysxfzdmc2eRhVGtiPMS2PHa4Jlqunbbij1OVzKbEZRy9Onn+OQT
            BNnbS2JnvPb38obonjW0W328hJQuKZ5Hd+5iQRwpZ9G79cr7GV0R4wo93R/g
            +4hTFKsKViwwl+2Zr9tL359fz9w/z8xAWbRUOWu669ckOBnF3KPOTil5up1+
            O4eBkj6mCzQDi/aTqQjCDJkOVqiGLw5iqN/y41U0RAj8Ve36u55g2/MvaIIX
            qnaHV9n2PCeKMYhOtNWk8q7gjcBHILemaOouP7vaKsfN7sPuLO8EzG7Du1u8
            JsgQhQR+itV2fRNc7B+C0/tmr0PcyZkeaApf4do089pd7XVvXH8a6ltilLR6
            ciyvU0O7tZqT5Pyzj7uYpt6t9qFHoYePLXaYZ7m5pvIDrA3YsRo4SoF5HKwZ
            Or2zrPx6ASq50MDyw42TKHaiJaZy/vVbtYIVy/ug0ZoYV6BROFKLXhCUxLZE
            ZVimjH4/XPE3M1r08CEV3vS09Gdi23V1wVbXXoI4ajA1OQOsiOnSTJ9uVn9P
            uM5DGVR4OiEicVfhOWMjTYpljhd1Ute7l8PmNi8xS9amSpq0w+gOz6fPBgkX
            3v4kwWQ608EPmKTkDG/FcToMLrAbvVLD31ZLPgz5Q3UcCiHbtjnjfLHnX6jQ
            Q4FMVsVT3IVcXEtWOZAerDGgnJzfs9qwDstFC46hTIpLy2v52ULk+sqBj58c
            +PGXHPg0LPdd2TqBxTrUTi0b+GLwhe5FY52VWaTMtK3zufQ5C+tv8jOdLFAk
            Op+NNi5tZlIlv9M7WC14Y99v/979++XfM8OzVlSSi2ESELI1sq0S+6+y4U1U
            9XHSqruvFO/rnahEZadSxql7BTN3493b4LiVg6Fhyr4uVxRRyfd5kI/3j3Og
            aRDZEdJc/gfm/BfMCVfIif8Ho1VmD1gYfar13B0ToBSCl4+Icee+im3StuGp
            C9WnAqIm9rzdmFptw/wmaQve5rBd74Mdpz2Ylv34TsfCBN1xnewQa530wFaT
            oUUlgXEQnphVHGwv/BjGDMH5rczCoExte6kQUJQ7zM1qBWCZxUIR1sa5PkA0
            8p4Qi5gZBs3hSrsJt795U47osGK/QnLbSK9JSNSYnQ2A6J3FQgmbYTJIClZz
            lXUac44FvMFx0YkKFAlCk75qgwbRrsjEj7Xb3NzUJpxZngbWIoxUpXKyzobG
            UwezGz/Po7q6qwtYLUh1jsdGE2jp2BkP2dxetGbaP8E9uINaWOlMdx5ye5ha
            IiypYMAh0tFUifAFXuZS8FN3KkkmdOVMYalWMpCCLL5ghdrwgiMwQPqUsjNJ
            daXeGOLxq5TiNkb3Lenyl2q1r0X3xnDjjtfYeai7UqBlY3Rs+igMRDK5kKQS
            QJopx0GxDpj6VtYXnwlpqNyHcXlzXXWAcrwjFfFCI3AMQ3agSszpHHat0fJi
            9JOpfMpFae/+52QDXOxvti0T7ImBjxXUSToyPx0v86Splto3sQTPwyF3wFiG
            5XxSM2zn+TAH0JJ/s3XNImQVOwvLfBecr0S/OpSrTeghP87TZ776fHVBToZL
            ILnbO8UFt1jCc0MNbZeFMKsKxS99onj+mtir3iLEjzzcBExmUPStyle74K+O
            2m9Txbn3HW9Txu18Xd7WJSai69p8VW9IWR5PV3C1ouxcnP37Lt0QMQvVFHTc
            qtQDVo236LA7Qd/357DLBtmgcLfkdqehtzH1NP1gEoLVY3/WW9rg1OXpb1UT
            SytHTQLZPChOZph5KgLFDfcRyyBZ7gMjsdp3EzOhW4H02d+ByMNzV9il8PT2
            4FHp9Orfu5KDdS464T5tzM3nFM3Bluj7FERhYrvU4WUVBNyOVvf5yY7z+yZr
            FaH8kvXpuxPy22n5M4HeOtYU+fwTZfiwxB6ItfzVnuEf0FZKNDf+vHWh+WY0
            D1AWk1sh9fjbdasrQCLqB/FZGEwiZLF1eup10UQoLmKJ5n8LEb2yQQjBCG5a
            AhSXRasNSzdbtgWMbCqfsHCYy8k+gCqApV4p5VexiEFTezlgLOdQaQKJDnpy
            DAyYerwdQ+oBV+I1meyCVVZqZQaV5MGyOolkq14rFkz8JlERGT35uWU+Qlsf
            JBAV2Db9ZjojLPSCRR7bgKk4bD87DkLOEAl4I+O4hfk4lm3wcWQFuNQWDDLB
            y+tpgCr04qpcDvowO1c650iqDwlGPCDDNXefXoKEOdxRcDWv+HbgJkYCsz+G
            2H7Miy8xVZ9+RxeYGJSLldU3J4wvnyQErx2o44N/DzThmFcJMv8hP1gqWiIj
            o1HYEWPD5T8539YoZVzWnssQ1gWfyzYRwQA9wqe91umV3CzP+gj3YNnX6lF3
            +PM97qN4rCzudyY3m6HMkAcbAp9LzryHKfPYx2wH4tMPciZu2V6MW7VA/UoE
            Pm8CL7BG2d8dLBfiaiitgS3UGHs79TmE0djzd6RlvhaOxSiun4NDQFyxhK2b
            k046Z2DhLjWn2dXE3c4xRYXEE9LvZzm+nsVSBAcbfiuakgwIjPNHEcscd7DP
            Nq3gp519MgD7bFnT+WIqPEnqB5e2/IEOGT6gWL+6VoMNcfBvNigeanlxuZMt
            OHBIVxbzsEnjscf1k33/MIRY1kbQ86SulmqMiOe48LJskUQc4mMajuPpCccV
            x0ZlQLMPW2dLjXaOYV5YYfeylJBQJ+yWxp5SoatCKlwXPaFkM2SgfSfZMmB+
            mudT/SflcmdkOb5mvqL3mDgwE8nhN+l5D7b5ar6eu9hzh/s5mYdbd9hArdPH
            setGaYTt52cZhMNyH/v9QpCnWehNMCagyjCIdNEoOjm5Z7Q28Wrt6gv3Xi8+
            15EXiLp7DzRoKUWxI+LB7pXFbOGZT14wsIdb0okxV+uxQFaW2ZsJn3FM3jdZ
            zJN0I+QbwzypqUvrn+6S0FEYyN/KC3Si5O3K02VJRZ6q1nfvudEJsPqW/Ku3
            7poGQtK31UWA6w01EGQh9xcHYl7j/Y2e02gu9f19NvNG8z1gIc727Xn2+ot+
            qF64zQeGOTtXcYGUlEhND4keugK2ZXMstlZtuyHiwGTEj6nCrDKF3Ieqvi5V
            1gWa4xWcxzCi+BuLifJhXUN3eUAjPJJBIqpxhtfEthPa+dn8NxHXYEYJHghm
            UX5zaSv1HnqVb3dFCPqcBavEwN0PNem4eujlszZqDcuEAaDl0VWC2yrqShxH
            tdNuChRdl2AAX/Z+DLN1xtpYy3benZY579bPpr6nJ+ewUadZn3TZMd/QJ7Jb
            CjzB7JlwVJhUczCDQl5GI8T78QkxYqa9FumZdgKYFtKexIIgWruyuUhEVNyz
            FDetWvkIRrNyv9uuEywhCWMEVjbbIJo3Vv9QaV6LcpbFCpYrkdKCtqwHolkF
            Y+2UJx8q35dyyqKdfU9q9FzFT/+g0cxKv9NnsRBOwCXmMgW1kFsy2DneaO72
            5B5ecYbrlGzXPC10cEINYkh/DPBuwgSzqRuM9Gal+BPEQD/LZWHiYV2K4r1b
            htpKJquNSsT1ZB06EuiU3JMBGTRc4Xll8SaG7s6xe51ODOvaLXSIyEr44aOJ
            TT5k1fnAYqGbXquXqXRtMYmNdZdETs+cis6GKAqymQiIYLf0ojLj2mAKFZQT
            eCnzVUMzIFOumkiO1qX3MDvbTC9c4dVdvBvMMuK8BKVzNAHqvWnY90eGTYa4
            ufypwR0qTWdSJsGhl6hzsMDTBw4zZgkUtAmvknZg6BAGwb0uz8ImG53XsdnP
            TV6YvEVgVjuqHwqSoOU8eyo4SsiuFqISIllSJUvW9jvhOYY6cVvJVPryhnJA
            KtnjvYwz3IcVyTxfpWoyV1iSynJ/FpowxJdUwP8QKb8RdWWoS7LQV6QlqjHw
            2+WO9eIlBFMyA99TNdVvf4DgZs5bksjeGxQX83ydcEHXhXy9rEKdyhzrKjDG
            VLhg6uFeF5hzt/zJOGcLm3CJxbBXCxTaOS0V1hqgb/ygTsXIX4Ivmv3F+DCJ
            TWCJWDYw2dPAJE+WNw9o2YTY8fJ4NijjhOO3piYOVGKKlCt2cSFE6SFwCsif
            eUMoJ3VxB5lRNqpAdJxqf4PRAEuLJJZlmiGJlWn1x/WpCezWvpouafWjZLh4
            s55pod8bSg17PcjzxHOiYFJlCjGJ5dr9kfbkb2Lo3j9ps3HFzp+84leOhGXe
            H5JvuTmqXPpK9sW7LhDPmWXnLk7qdrxIJ4jqDfmkGVRpRci22ydqpOd+za7p
            FemnIqrMTXzvG4fdlzJzg4FTAWXc9/WYMzfEI8pKwokXSSCqTbmqAjaKePq0
            B6RwUq9GZlLHXR5n7OOG4mVgje7Cs3gEmAC58GIGvBvlTMAnrtWXXk/tgZpG
            KlWzzOQGEB9jKI1xX7YY6zds56mY24BRM2knsgiUOeaFxvBU/VInTBETB/GG
            AkSisH+2ncUMnLOfxQrBoft1NZPGsZPRl+znBo9Z5wFiN0nfLQjpPvgOiZ4+
            LrS7ioSYqI2Jo2eFrc7kEDjl2+ZMHnbNlBliYUWfhH9SDBGTnLzZw3li5AyH
            79qKhi1PxkzWl2eDoLPWptURIWNjhxsIAGJotABeeGasMwgXLrFIZRXaxRxY
            xbNchConjIh6oB1Wyvwac1xqw3OzLoMbzySTIsPMYEe4mqmGKlxnv3M/SRUK
            pOyipbY0LNqO0AMvVcFKi2mskTP83Zud8JiT5cGZ+cgLISqj5wDf77enCRth
            nCZD8B7GzzIG9XTpD6p8xjO+DFnojwm3Yh+BfLLuDEZo8nwcEfis9p0wvqo1
            +4qR/3ACMB0rh24YPOBTQrS0RELsXvWAXbX0bs9f7Krx2lXpY1cJhoZKXv9o
            hXvSBVsAXhPvj9agSh9rjE5MBG9FZu4cIT2eBg50JdfpI1VI4Y6zpzbYC79n
            UzHdQNPEC40RGsQeOBl0tzl2iYBZ3cZhCPl0NZq+PlIxVye7GHNfNczajUSJ
            9XlFNeWjteUpvXI3LUXCmAGRvCuyctR2c75pPNWeM6qtGXPXglq9RcG1hbm1
            MhD4jffCQpoyhLsyE6GyejNBananG9zR3peEMslP/d1Pb5zw9up+mjz9hT7F
            jkV/H1+e/ochazeQMPW3OjxYjxnV6qlboaMlESP2qYPWMjjDyGoM3xat8MKa
            HKZGqVuPNUTnALBr4fcgRnZVToLjo6p6TEp2DOa9gfMxGKTwO+Kq0bonit0s
            hyMJJAZpOcy8g+FPJCiB8crQEiHBCGZnHCFWZ1MAmNpCFGwJnXPlrSpulbY+
            RrHHqUY7/e0wLUol/yZaPWPblol/WOOaS81ynoKBO33gZlksZZwE6QUPx/bQ
            IA46Wm9ikv84PlO/2FY33RwLn3FspVOWGvmyhLnJuicseWyVndhZENoZcgnM
            VaJev9y61v7dLgNSVQP88nguZUI+Ta0msRPeoxOv5zOwB1P2fg8S1/VulcUk
            whCs/IcaC9k0u0tIl6eD9Mm3FcFVaLF4npvNTVn/XyXZmcukLXOp8LzmaKmd
            K4aymefpWrcdh2vadj7C7Oe1b1td73PuSo2PsepAaZxUWDBFFYG7n8hGPRrN
            ugWyZrq9/aYqUf3e/qJdTsvnu7pvawtqmPKlX9/UEtg96vzChRCT3T6G09ob
            suD6qzCY/pF7dzImY72YKUM+QwWUsQQOn0UcIx1j9EG0om7MJzTcJf7ANo1H
            lzQ8hR1sWtxOELpD6Xch4D4Gdwj/YujYSMDYL+m+rIj6hYS08gYi53H5v/4Y
            ZgQ4b5PjcVk0sf9oKy1roTKdQ5Ez2/pglHUp0ZhCQF3EWLfqDpgzWcPdZIAc
            XVspJjnmm62nicuWmVfFSpHDYIziJSS2x66hhJ1gWNJUxKt3E5NgjG4eM+Az
            LKssKqbB2rSahEiHz5NnNaHKmOIOVYjRVJqzyobLzCaHdskA3RIzvrDkF6Oa
            wrTdHcw8TsN7paWsLxI9PfppawVkmQZNxO6vqsTTfYILGkIqspJO3VypgXAf
            m6c2g3pKtoQMkoEIMdze7FXuhkXfZZk/TX1SMlbz9d3dBrwoeZOyaeb0zz5W
            H7Qha9B4LXZ7nyxCom5ibQvYfdIdTFY2MG27DkvAubv9DvFKFO5j+MWS52ze
            zVrZ0jvDBEHV4ZZnkiKPofa+Vrm9q9AvqG1B0puYCsvd30vqoXCg2NBF/vbF
            /SKa6wN6TiGhfk4EKWVM36T0kinr2fLUJkKwBAWqrZ0Z7I7mMrrAuhSA42+P
            V76vbVTcZkysbt+jm6vtyl+2OVHK7w+YBm4uKZpvecCYkqkuttQ7G02N3ubW
            b7dnsD5P935419m9H95Qjkp3v/N6z1Mlc2TR4rWXOyZ5lXKry8ubg3l4ZNFg
            9uLsre/StA3y9eYKXMrcUE3j7gmYXcXDamIXFCUCH8XQXjPd0mCL6Wx5e9RS
            e6SDBwiLW1EQ66/4+kIO94UUuy4nLVEQesofr2WmJTMa3Q9TgyabLuD9riPD
            3qpv+X3YmghzAgKhPyx4YzGHs1kNqQgCREofHLtbfXqb9ydYxi277VFANzrw
            PQA2LTfzDdCxuov5JRe0qEc+q/62qcmHGRZxEwT4/ZoLA7TIsy35lpXijnR2
            qh14MISz25pyiyX1Q8m1mJhEFIjVd2PqTiwC05N3f6i3lP3jTDqsSWsjg7s2
            yNeue9w+heretq0tbBfyBv3yigTojfnLfFaJ2eCIY9pYXiKIGL4GM0SYy9Ti
            uAop/YRlVb1BhPBzsALuBC1LMGEGJnF+uk8eNpMjqGYvqOAkHJQLxazCVi0C
            w4CEIGLSx6uUBK87x+tluu07Kf60zuKksvjuSwpTXttCXJxcWn5u/m7L6HBt
            Yfd4p5OEmVzdvWFUKa3ipw5VI7NY5LZK7m0t5vqJabOwRZTv2E8qC6Mm879b
            u7Ykx2EcdiXLkmzpU7bl+x9pCYB0nN6eqa2a7ZqpdDrxW6L4AAGktCitYxPU
            gguqyNlKC+BFQQftYXf5+G5Zx2jMDvBYDmUBm9TewNB+gT8aJm2UewCRY98B
            QwfR4lCoA/Msfi/6fSPX4wnGYtt+pDvZgqYhYCskk/ZjOYvviKWKRljM+rMv
            Mb+FI4jB5IDZ2G7eyBEgKMzJNCNoW7kGoIwK332LypM5BjMg5bsk5pGqJWQ7
            Oz8SzBsEwjFokBY9RL6IMh0edgAMyMqF2OB+1bp1/JtMYivyhZ8sXmT0vMVc
            Xt8ioW0yn+RPt0+ol28+06KVLrJ5rSl7t539k9K9XAaIcBP7B9qbmAx2XkXI
            lD6yHkjxLmIOqnKBs+4s20fgCj0SUaGzKPHIq1oJEeku6Bma0k807+ysVDul
            w2vP3t6j+AV6XtLjb6Wg5RKZ0S1bYK4hcJjbg55A74cDmhveyWR6nWTRHcRR
            gLStALuODZkpOPATKaYNNvfwiwPb6LQV/uiAMaJ9s9qFY7G+OLC6mI+25d02
            jW3MoEPnvtw/+H8ejuCqh23r1axQd/dZCjmd6ZUuhO8P+7czdSLlssWMbmRp
            G6zyXD7IsrbBGjnWe6RrfvY3LvOhNnYu49jNVrtnXydiFNvOAcCR4zoOQuJn
            YWnbQqeT7C4Mv6iaPm2pOKoqbas6prmu3mRFA6KbJeMYnPHg96Jya2DjEmjv
            1m/P8U+DtTm3ZCwDNgkOZlxzRzaoQHutSvo9Pvg0nx7ez1Y9kTSb97f5zt74
            VjZu+M00szzLYCFkAeQcPbe2Rl7EDk56jIcNnGlLiUB5SMzBy6xq6CiUmbZF
            e5RQMecCmbAgW5i1SuBg585udi3YlIULV86GHr1PzuBGJOVGEy6ZhZC26ExW
            kDHze2KabawbJT0jYYLv9fVJgzLpfaT9WOVbHoQs7J7OLIwkT1+tC++7OWLE
            1gSoNdgYJCfRrhR5V0wfO9FSAUvrFZYc5Q8yNi4dnnFj4+C9UBwZVdSlArIP
            hvK+nBErE42mkznrU7/a0PhxnDOJd0eJheOaAO8/eAqAwyjV5H4RwLrhdgz7
            7pHs/4nVz1ZYqhbv3ccoKZ7xFCBefzTwfJCErQMPGQYZSggPXMJC48OGmaf2
            eij3CbdB1cRl3JCcsth9UXQ3QFgD+AFK+AoSuBCgZwOJE/enO5vTJc/VAz4R
            51eRVwZ1ZV+pw8YiqP0CJcD2sn/QayF0oMv+4T6ehPQSWTzKYEaMpNdMyp+F
            leQT7hyxBETP9QfzU9dezSr0aIA/pugh2qTAHB8QG/LZbmsD74DmAojBHLzu
            hmWgqcos97+eME8QEPPuevaHHG8OkOrCLb8d5/hxHDD/rDwOwmJ0yjeyWbFd
            pKNA00BOYwcy/yIPHA/H2s3p/n/sG4beHPy2I0VpgS5hmAgS2IhFRtGb11Q0
            uIN2GkHEDhztAlTTbjN+hwvDlMbpCwcbvrsKyjQx1DPraF8hQxEjzxDxs0ly
            7RazHVMktvl727KarZuk0X6+v6sZDP1FFoKCKxTQyV0BB12o41rigPT7Oia1
            +eOLV1MWKr7NoIWwIxBka6sHpjHzKofU4M0XlzyT83wktOS6rCUUxbFNJSFq
            R49I3eTTMkGE7cdwJT+02MSAQYcf9glEOUC2DczAiCHKv88oDFBMBg7Q9TMB
            5kS758fNS7YW/eOxOjqi3oOID5scX2INwAPdsiYEymrgIYrPYJVZxktcmVlo
            /d8HNQXmrtzFd/D77GFIv6/gF//nmYhZuH6sCmf9ZeH8LzMRZO/YN1yW31Kr
            9fKElPu9BGyyBWbmhdIxkbAa3O6M13+c2azjh1l3ctlVoreNkI2fy9JF5NrE
            UsclrmjmduBYJ8XnbhYmsu/XU8wZ1Bzbu+tf1yn8ygH5mNfaXTw1kCFUzHUZ
            LDYrSU4QJDXwXJo5Rb4iRbko1OtI0zCq/T6gqkvQq1BONZE3ayRkbFf3BxIC
            YSIGbVV5El1H5I6iXLcwX6V0upyRbrstN2kSzMSbdUlxPmu7oKe7qU3S4n4S
            HsL5F73zTqK3ng68VtBJmKsOT8ytUMtygpDYixuJAA+zJVSQIk3NYA1ro9j2
            pSh4qkc2eXb5Uovpo/Ljtd9rmS+fZiA9omtZJKnJ3BPMbl68VGfPYQhF1r8f
            pvzh6mmSCOYOTwQGJCP85xj0cHXrdmrtNiNHgrfmPQoZcDmaBSJlzGbXjRc5
            LzPv5F8eyHqgEoVi8QUU9GCEPZBSxihEt5H9BxPemWJfADdZNAWt74gUA6wE
            hToL//eH0xIy8uVDQcQe4srufhjp0z4T3A1rcvV1/+aahFXfrl7e8WZeb96Y
            pkCPCLgHcr7YRwGshNmLq+bzAR5VSCtiH6KIVukvieDW7i7yP1cnysOeGDCb
            kF0GZG+eH57QoKzAuRHOB5wLlOzB4W3nMO0cmDq6ASrw1BHkKoOO2paC+Bzw
            xLg+8nhkqSWKZ21Lm/qCd3T6UKBmgsVdKggkll9YNcY3Rd77AxW/wXD3rUNY
            DrkrYBzlbTrN8/MAdnaXa9Ren5qJZ26/KljY8QEGiy5Qy1Rd4pFTfkP8U30d
            47ge9jpC1e2mplD12YhLHWW+3heJrkoCwfvrQpDOOxrvUjZ/nSI3kWgqFZGY
            cHQYIhyKr1ya6hYhWNf986hnTNy4cfY82oupnXTJHhrYLEcnOgm8QEfQq3Cq
            /RohNxSJR8K13Xz0LjHU1fmndHFe57DjoDon/T6ZCVR6S0AA7WHgIfamIDK+
            X67X99f//n479f0vGKMZ2XNR7y2gHYBdLw6dIUQRhfquVHdG0Ioo9qZ6UN6j
            XWArDfsHNRtJWZKZRoz9bWXeZ2YBpKY/nEhoWhii8B5rFPSz2vlimvnRqQTb
            bsHtqbS2NKjJda1Mb02TU5psbpBlYXZRfX/IB7FTFOJbb71n5jdsQaQdl8JK
            Bg3RQn3Lj/SebY/SqQr45FVQDwA7owgzY7JxG/RJQDWpc0ZqvCsJdnmNRP29
            SB1c7Lia6NR0EOqiG6qU9yXoNmiX1fWO1GxyYszkPXPBuxBVI3H/0PMCOmCY
            ZzLZM+aKJeDG6WqtAgIhPawj9ZW3j/3g5gZBhavBRI6lL8mzh4KKA1suMRHc
            0csr7LVijZi5xigEmviw9xWjxG4MpnUdpciOFrVX2Zp/PB0yi3fISDeBbV9B
            PNrFCLv8D6+HfheB5gXsHJtPG0MM/S7u5X76Nu9XW8m47kBB0M6x25qB9zab
            9H74+6Y8UFiJ3l4mT8x1EhFtT46p9qKm062b99TRvKoEQ2cZu4uNrW/X7dqG
            wrpX71UWkteCgddUz7LTGHUgj+YivbHseXKkFZeZA7C1O3Vef6h1yeUU6iL9
            UFtYG4xneBPqKm2CJ1VFbxH/zcydqjWANQ2wbopm5E/s1wXIbGiUgCwHGU5A
            0m3XhtmdLNg8M1M7zIyirpNIkavuV9LgVCHjvhTPWgbWHsiylYWqnlPZQXOn
            frycVeuwKX1Nb7nCtUBhERXI9yDbQwI5g9J6R9kW1b7l3RJXwetktoczOeI8
            yvrso26ubV1W0v4sIyf8jd9Jd4u/my+WEBsz+6qqai4utQzHJwb6JlBEB/r4
            YzpOoc6edLCYQvj38/rIyz03E+1bcP5Eup3QCUTmtkoAQA9vBDpMuMvXyps6
            2FVrN3Vxqh1CDpK3iR17z+pQMW9xJw8E9aKdAs8sypZfIp4oMqzDBsjOAXIX
            IpttCUu8+YztEjI6NqzMgMxngJxiPMO1Nbu2uKaM1H22BzrotRbyOcFKmb2j
            eovdlRwsapV0N9+D5uCgJVeUmYM19sVSb0dFuhKWmfyhmFfYWdHM0PsS+Bf4
            rWRLL73i60KsyjZie8XYbdDfsXufGQfeL4Z2dP6gxnSIZsdGAveD73Ff1b6w
            xb2bbgUakSg0o9h4KcIU/dZ0AUQ1F1ZnIWju/UQzho2ApOCWxXsAJ3bXdpIX
            1PV6tVO8i9fZ350+RPrgUqq/lrO/va4r+gZ8wZ9TnUCoQ6mSlSzCEf5+G6wN
            0NLcEtfg3/J+38L3AtFxk4CkNvKRfbAOl2smgmt5LXOPVBiyGiCmg/nt9WK/
            I/ENZICp9lS7LczIIiUg8p/OHhdBQzKKVqDJQqIwRf5oeOMJ0FqLjls1Sw0B
            KvUOZBS+dlR8SSC1B0lIVqHMHJ2ruKcNZoskHUwReV33ZxIGZB2D7wYImtaI
            1BmdHwMZvdv/0FziwRHXNKZ47rVXScMBql4K+/vAnEFlkAui3CoRX0K3V/oS
            KNsO2wfY0IG8EB6M/YcVcait21R9O9WfliHKKB0Gdgg1J26AAuKyB6uq+Atb
            svtlB/rZERSDpc8DtwdlsEP1Gg2WhouupQ+wOoGtYXE2TiA9UirfDfHvGKZ+
            FluoDCFYpbw70NjhsnbqhW2QaqeDk7QWSXoFGKmVCkWhwAkxK3a4ZneQ1u9Y
            aHf5mItFoNZtxjjfB3yxkCdDuR6FkkTQ1+NNzaZgZkMxyAYmQIaqIHGke2Pw
            EiT39rf2uZI0Hd67ClPC+ZJeV5rkVn1dvXeyx/diZUuQdKye0VU9kcqLT10A
            6iXoPI5spvf/NhESnfRvD09y4VybqLnUBpqxWOWVXSYrtiEVV+B1WiYgi+d3
            SwmZQQPB0rb9Q47SPQJswqhUV2o4Kho3SudiusCKe13wT69Sw5HfyjyzXpVI
            OaUklXz5RfZv+Qh9+FhzAtN+khCtY3xQ8g89/atneRDwrSqHj5Vs9p26CwvN
            P18LaRKLGJY3Z2wlY8cepf8Vd6tRQGx95ACPRSRp+VDYuAcBhNl1ixwr+6pu
            8zpOqlD/8fOTyYc/fz6hef2Xz3dkSP7y+YbcY/rL9qdFpOXPn/fl759nxPJ/
            vT6d/yqlZPTLsJ91LXpvHo7eV/+8+nsRtktI3XxWIuHXXvThXLyxp7C6nH3j
            3XfGNiSaBn9/6f30g3eJ6i6r2Vq+X5fff3TSa0XH0rooUSjOYf5s17Z/NCGB
            6zFzae/h9HC/edvYiIT8e/9l/xZgsjq+17K8zmG9LXj/5fv10N+7vw5g6UCp
            fOs1fsaxFV73TmlyeyC9soJzkQsF4OH8uQo739r61/Z7396ff05A259Z2//c
            b09jfW83axtf96c23f88uH1TlxTKt3yN/cIL4+EmDDRAdmufafhN90PEl1Bt
            0N/JNQyWpl//TsQ5XwDDpdTmoK5K2zgc1uSIWNZjl7b4IMnnI/rZvt9/ris+
            e/8kH6Q0XtIM9f3ZBcV3gK37Dx/kUlc= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
