<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.21d7</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21d7</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21d7</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Dell Wireless 1704 Bluetooth v4.0+HS</string>
        <key>FirmwareKey</key>
        <string>0a5c_21d7_v4437</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8663</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21d7_v4437</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvovMX/utjiCvEEILDf310
            6OARS075zKmg/Rz8kVIKmKIjhjyzK6HgWeD9ma98phRrTLg7+FTfr1gL+tCq
            +hMwW7y64tnXI+CvHJVPWtCa7f41ve94PytXJcd6qbTn/4Y/2j2S+hhVvjRO
            jyFcR5qXPe3dxXLVyV8q39vdDGp+zkqeqWIkM/fA3jl0es/b2CX6vsZdQ/Kf
            vbi7lffzsq9z17P2e7+fh7vc5OgxN32vWsLNPLptyhnZQKmv8kF12n/VXKtX
            De69F66raPRtfj4/ahg2jmA7wFXU+FUm77HGz+dpBs1W/2rr2HPYv9oKOey5
            +yq/J2l81X+loA/GV/0zzWgj/apn/5tf9WCTqYXzqz++2vNQr/ZR/l6L+fnc
            V64CQcnnc1f28/j5HB1U/fG7/mOXn7+U17ZJ3/XnQzArfZV3yerPX+VRiz2P
            v/Sz267+fN6m9efy2gG+LB7CzzLn0jnFRrvm8zmgT9x9+3h+H9zyVR6Lr761
            +Pn8hrzzu7y3kzTr5/NYq/o8v9oNJSY7V5/P/bK1XvOX52rg/Cofctx44lof
            4103Pvl8bjOotVs/7cnrq/wNH676+Rz973bEr/P5vAenT/zx+bxWp/Pr4+dz
            13b5+vl83OW/6gdAQvk4tANCsTn5qtNb144Q0c/nc5fTPi/X19gFjGr9Kl+b
            9kz9Kp9Qw273+pzzLDB5HZ/P95RwDj+ex2ibKX/tsdANMNWvvWTUAcclhPnL
            2nngzufztNcaW/Pj+XU/n5/PXThuIP3x/AXzv+rv9/P6c7th/txuPH5uN8af
            243113bTqR0QS7jP41dbLxj7+fwFe7/qvPHpnD+XX9993nBg/ab+VX/z/Kv+
            tBH0+VX/jWvOr/rr/bz+pvxX/au98Lz/mNt9sGv9fH7DQ1AdH89v/N/iV/k9
            b+2rnnmX/6rH9Rc98vPz+Jvn9ft5WdoBoPLuue2/aWvW3zz/Tfn1m76t3/Rt
            /ab+EX+e21F/ntt5/Dy3M/48t+d3/+Pr/MaPejYNV+Ln87H3BqBo/Gmvkrb7
            eF5eeyn+dH7rV/33PKSIVXo+Hy/4k39qF3Dm83l/wZmP57FqB+TchMBv2PJR
            ptQXDMk/rQW4mPJxHudND3w+v+fwtG9+fR6/nh+vc/rz8/n1fPfnOn5+nggH
            4q9zfn2f6xtff+2Nu5/jG77t525+1n/vMTd/g2uOn5+XPd673uPBv/303O15
            uPf6fc3fe3i+ztRjXcgnYwcU6/nr28buAQs58KBENt4O1zDe0rnurTy3ct2z
            5UDqeLCigSwlVidh5TJWtfzp/aqkw0XNXscnszS+mKubo0/H8eaGjjfz+H3/
            xfsCwEVS4+61yv/OP398fhWPDxYSM54/7suru/eprx/37c3KbojeP+7Ha/g3
            dJuf925+jG/6+dHBGWb4uI/zo8PgrjiPxgvUdD3fnXF+DOYc6/N+np/36/wY
            7Il/H/fXef2r+6NrD8/vOf5egY8t/prvcvzMi/evbTSPT578nq97nu75mekN
            k2z0b5hjo71HeY/m81qMRGu2/2oOm/J0p+MJ8kcklAzL2XlCtZLhPH693lOU
            UgVk/NFP5/DTvU77nI/N+NyJmZIQkI92Nvn5YImTtQxN1GXHwbsjJMMCLWm6
            xjrRXnVfW5fl3Zo+2hkbl/19bFeOsOP9uO86+/W+o2zj3TpgQdP4W0Z7cZyv
            RX6XCdiyWuSOxtYca/fmWSaeNa67TGpDc9JObI53mdRiNulHQ5nT2kqUrbx6
            B9zb3ndj7jv7HmwJ9gR2Sw1EKPa9i7sf+gJjWY8vyoyXjc5dmtVNR52PMnVQ
            roK9lhZG52w+s3fxUaaBTRfPmbC5kh8aRaruOTqQ8+Bydj1ljrrxwnOWhqsh
            b1kN5thG4Pdse4MBXXyHlZ9r5nnPWJ+jb/rhWedCo6cIBnQ9zrH3FFp+l8HR
            STrU4AHxt+dhuudcgbeNU2VQBSaom8zk2ZY7ck3iyGvHGKOVSfGjjAM/WdQf
            TNlVbK5WdtejjB+Un3JdOJ+HUXDps63Q4rtMzmPLWD7KxPIoU/ou81kPu1d4
            XgpRa7Wxr+jdo0x2G/h0HtPdVpz+WQ8wJHAl68Huc7seAK/wKFMDOY69Xqvb
            KTirf5w4wKNYte69XEfINodF43ImDxjpcd5ddxWQJEqOdMw9n7379d71mbvq
            dYday6O94Q4gWicZEEHQMNo01EcZgGBwtbuM77tPNTxOn1stGnbpQFJj2hwB
            cI1HmRMYycpgWXDY16a/n/N4rbn3ENZs7bNUY3zMkQe/lQS3G/eZt3msH2vv
            XSKk5+jRVtv9qR9teZ/qsLnDesRl/bkoPnmXCa3Weq/HNTfk+mwrttqT6kkk
            kOzcts+2Uo7GuXR0y284Amj7LIOFNBnuoIA8Wxmc39ce8lM7YEaTGpVE+RH3
            3MnjY3M1PtutjjDT29rVbmP0Mz3gl295epWpS3Bk3vykygSjJ6svDstD+XMH
            4pqp5xObHiNgi8CyFGQEwJGAOQVGdFQygPwin4NdUIEjehz/bvndulERiXN6
            XeSq8d+o/1b9V8/f5aaeTj1dKr1UetXPcuQVL3Fih+lnJrZnui7s/mLlgvQi
            lLOaxP5avIICOK+yiZZ/8Kfd17XXdS/Mff2zv9e33IWjXX/9DQp/GcZtjhDs
            n/191LP2t/2f/f347fXP/j6+vexb7LZ/9Pf9bce3JuM2ya/xh/+5J5dBYpy6
            t94SxxtrQKx8mjgPgAf9C76SGMR9w4YCG8EFigWorhhWPqVsAv4b3NEBm1lY
            ff31t34/tE5rGbz2m+I9k1EtPr5IZ1Eo/kYEye7Dvu/7vn2R6VV8ZGrhnzBS
            A3RG+C/wX9RqDI7zX39/axZeEvkHd/3k7L856VlfzKUzbuSLbTg+JQA/cei7
            vHsyR5+tS2rzUoH++P4lnf75/TmcsCwwof4A1i7+PSQmGt+9pF+fv6TlY0vJ
            v+cn7/nbyqJf3o8f22+iIFL3gyqTtyTKNAv1cPXntmyubon391hvLdTZ7JR8
            f79u7Ya0mb++L5dRyr+bq3uv3Fry7+//9O9Pe+3WQPzu/dzz84v45rWWpvH4
            XYE/jY+znh8Sle/Rub3Xjt/stVv6/Lu9fEuh1deiHTDuB7+UjX+oq/7h/R/6
            Uv9wLu61cu0/vtb1/+taX/+1tf7vz18I2gHz2+bk138hWVsvmBJoYvK+vsYc
            rNx3+TPE82v6Psq3CxgrEV/Zde3rLMZdn84Fo57AaeA57V+Mg7Zr3tdS7Frd
            vr/sewckpO8v+/4qdgUhm37q70yHuFC075/P7/6yeslPhl39vo/LrqU4cU1r
            RSdZyn6/ml2Ds/cx2fua7P6eB1+A99MPe/ra49jzIDng+LVcjl+S1/epNC12
            tO+m0QHLPXGm+8P1rmmPASxKszlx/ae+rObE+Z3FrtewK/hNSR6is+sc5wIt
            fdlKE5a5SAAyol3Xvr+qXV10iVewBbrGaMY8dYblt4zyzMPbWW81+tQD2Fme
            J1D1lDo6anIljnQmVaQJyLdg92MK3SYEKAxmOfdnOHSfu3Md5G7IR1DqxvZE
            F41g95rFB50U9z1m61S5Zdx6oF4qiCr+KJ9H1F69wikOtKQ1n2fuCtE916eP
            uHgg/vq7t3Q648YpF+b+TMZlD3d6ydfKritNUcZhTFm0lbbSsw0qDJ5tuBa0
            z/ra12Tlr7bEbbs1y0/1nmHmZ71r1/NoJ/601yY5vUe9YEvds57W5vXZ3yW1
            gCNvGGUOEj7h1pK1G+j5aFy9lVvxn1HE1el8nfP4v3//O/9tKusa4//m4n/p
            DgCn5TtIwfyfqX8ef/0NrixIVR/q2HfCOXXtuymzqHPfLZWkLCOa6edtHVPc
            flbffGjnM1pBR/Lc50GZh+6zAGSLqFV6JGnSRqJEys2Yq6dd5nKgjbJvlFJJ
            CVUzsEKRhsWz/JrsMTAcpUudRmtDBEqj3KRIbmJGvA79TSZdAQ0wkvOgKZdk
            g9ld6LTDtcac3FViu9aJr/J5leQvGw0hv/M+oy9hlwsUCna1VTULc7m2zAiw
            s1m3DtkOZeARqtXRp95BU8RIM+ic61XGvNq1pfwzmgFDiFumE7yU8ZTWnllk
            h+YonrHFabIh/V5bTuQuSo4nO3s2qhgoJrtQ7RWnyMuLAsNoEiL0w+Z42XMX
            a3MnrWwlYXbnYb9pJ/csJ8MzK0d7gbtcpcyVxrcZk5qv0+VrzxsVaZQzBBJb
            eF5YD+gyMScy5DblCrsQ5n4HErrgD3OHud6/g6dtm081Fc/54/PI+QZ6j1wL
            1pOu03NOqFoFGTLdVS+iXBoQove0Lm6VZAQNFrPnexB3NFdwEW2D5KZEp6JP
            sVzZUfHj1bd8eKxbl3i7kGZXG5PzTrMw3Hu/1wHruApWns8wrWyDddz3tjfH
            GvWvv0PnRuAG9c3VBaoY+4nz3akQvvyFHcDvQUGd6J8X7Yd7sARnrJdtEJwr
            /v4umx9lXbB3k4ph53U2qteZkP0nz44P3KZ2dngfqavB3uKc5QkuCFRldXau
            wEmY5m/a+SrLZItndN3Om3N+S6Qk08E+8tu6SQYm1M4M6pQO0dsjRNV31ShF
            fa2VwiUPOt7o8Wlyz3EZ/e/Be/Ak8bSBME20PpewFQOYAXuNMqSANZwx4It+
            TFTXcA6Dx4yDmF6+h0X6DgTxwN6hiJb7x+P8TNoN+xFA/4Xou5sUVYuD6C4s
            OiZ0hzr86bufrPOi5oTrxr5gXdFGxvCatXWhTe8XJVfHqte84lnquIpfOPsO
            NDPaDZjw87TfOLPXOcDxBM59oeIfnOTS2sxawDVexnPUEvA3K5czL8yrlFp8
            Lh+L1K9ydVr+njpldCvgs9AII6yvWL1xDew7zMfhbT5S4mToG7rQZJZLGXAa
            XGXfcHYEAaoXnNWsSHsWpsGwQ0I6nwCf69tea2GecrtKGaNRiohNbkZklHVz
            NxDEuZUqYG/No73k3ofVNyPwIb4hq3yUiJOXa6wDG7cIzrG32IFYi+XGSdnE
            ib3pnc59NGeZu84YvUTbwnrUdkkrAfAVDd9gTXqKV3HnwHqir/NI937bbdKm
            fvqCk+9OGkAEntkJbLJQoi6scbque67bUh2ZspnvOoL/tY55Wh2uvOuo3eoI
            xw91rB/qKFYH99RdR6lWB5HCdx2x/lDHYXVc4zrvOnKxOvIP85HCr3WMZnWQ
            S7/rSEm4Hwu4qYi2jlcd1w91eKtjXeMUbkcf1nnkdhpeHAfPi+HiiPXvF21F
            cGiwarLKIVzFHq+8P2l+eZKPrbll23vOA/WxpyOA6C6p0atjhLu8rhcR8Wk2
            +BVnHOWieHTcxwXMAdyB+irGUHuZDQfMpdXaFbvzpfIefXjVSVij/p27f9T9
            AD3X/cz5k1YA7tYLAS4CB4129+XjW9JLlW3XluouI6M8nHNvdMj9HnU2woO7
            HZZ5ztMF/IMDo3mZxN3eZY2NxiWAmKSXeDYIPbCWLs/sO/5YT1YbsVdXsGRB
            uDpj3WK+Ot51EQWBNVv5BTyEWSnUavp1Uofu9hmklAhoHvQg2mQdIV+kBtEP
            rbOrPnfCqMYzHY2O4xhZlmd+UFtwkBahbbfEEXzL4dQO6ppaRNBzkc9ua6gG
            GNMA1qh/V39mxPiwt0TbrUNXbi1+dWJsiWgI7aZcXT+x4xw2eRmcR+AJEKzA
            agRgWMef+o21cg199RLvsQzmNmBugZRQFwA//epI8p3ttvX0oJE9ZjrGmE7s
            6bTXqjQKrWx+SdgADtIRoUvLiN5NzUciCVMl8Z/W38W6ieGraWlAmWf2g0bB
            oGkv9QnrPQEF1DbGOgBAzwtwlvM2qyMvIevC+Jq3AhhN18iEE6k9UNLV6eZn
            ulhfC84Qquf3pOEITJokNMCf9HaLcqsaooUkTiUUoniV3mOg50CqhpsOG07v
            SJ+DeiAct/U4XcFcC7k3nEVaIIAWuDAnF+mbYO04IFnCMOzdzj3qaUJT4mtt
            cATxvtJKFggBtfM3BfETew5TjMlGe2mvx913SsFCAemZcEY276CzcIleiKDf
            SS534l3P9QJ9kffcsxzokZ5JkyYPumEFrkda9BrBdVwN9AQnHluf80ysDPKa
            J4TwwnGPYg/iLM82HLr5PM9aE8KvjkXE3my8b+zbARyNe4LW3O3skQdjfxLp
            HKxMvnmyYIpkW9+MHRCSTERAm584q9wz1NuRT5La7j5nIFJu2SlmV7j9xseg
            O0UjAtxn0o7YKWnThKIlZzSaE3DFibYMaBXYo26aAJiNdCoAH2npzGeiW/e9
            2/du33vRL8nsFXuMojevZvegc6WHCc6uJB1Ft7Z930TfyBIRu6Vpb2+a6ALN
            kGlkRFnnBI5Ev0AAZ8CkJh18K1VnNC5QqbE1x7l197kFzco5Pg+DheRsQXji
            paM9gzPY7U3jn6Vp9mvNJRiBsWP15IQQt42sp2VXyUFnOVJgbGuI51jXPrjm
            OOPYD27I2EXPK9bwPCvoaNC14ENnP7paMzhdeHYHlenoo/b8YfgjrsVtQEqY
            94VwTfeNFo379xC8a9zrFfukzmvdZdzxLrMIN0kfAvvRKBa76XJ0HiMvSKdh
            c4ruo20HPFC9oNQodPCkKTCSrt/Ef418I/5Ag/Z+rf0OmDD7TE1GxcjmCjxX
            Lz4efEM/6iQc6qT3Js4Uce2Gj6DlL3PnpZsfWSycPfAWr/EbbUOu64WHCeO4
            mbzs14h3gAcA88Ma58ZDBUSC5ADYAdqTa/NKwGTreV6w2rovw2htsw+7uN7z
            xmklmtWnjHE3jhXcBS0DGgHFbLyJu8BUDnPvTdrBVjJ6uhIUVeGHpm8izWEz
            YHHkfsUyYR8nnFg8w36u4N+w1RZ1Aif+rgAqAnQL6ZIQ+O1BOsNgLCUHgYb1
            4GXAFuEcAWmBqC0Z3CQoPuIdGsX5OVyahXIKkMjDpykpz0TZ8EtfweYWVOzQ
            RsJXYNy8ZnAS915VShh024Hua640vXfk6bBlgTvAAOge/LMMYN1HGeMvsA9J
            +4LzxfkmLdkI2RZ4FGK3C2ecnDPGAJZXdAzOoQ/U/4r0BddvZfh8dNHHpOWG
            3l/yjxTvLvtBekGehj+B/L22Bs4eFp1CtZoy6ibPN3aZbGdoLEIjan1o3/62
            +kaBvYdsr2GPCbaOagbzYDbHvhpft/mw3u2+r21Yb74l08VP2BA44xf1tzin
            pOOJDRtobI6B/aeRZiDU9J40B2lF8TwOGAJrzTo8JseujQKKBgToKPXKNCUh
            pwVMRdjLcw36opQO+DpAAognXWCzT8mInP3v2v+9Xr/v++f/jq83tEoun33E
            LA7PVal2pgNGkSf4loD9/SiHc2LlosEFUBjiOUpC2QM8DmgYj/XiNxSo6Rsn
            OqsSTrl2nY5im80feNJ6AB+ZPB32KEVZek7cA9Q7IukJBqjAnEj25DjHxDXl
            niN6kXOfDdCzHgtEpOl5Ek7s2w37sKdbbcbxSn7g0JWOcbdrpII6Mog/wG8A
            OuzjDK4yUwp00Y6UsJLPKaO7ACcSeeF4TZ4jR00r+hn9ZXQp+spyq5HOIiwH
            YNAxwH7FfJ3cdm2ldsP3zeu8+/nu22DfMGczX+MNWyko8RakwRhn0pEB1OI1
            qsml8rT9H7a8WDCVpPbRpRcO+1wQ34OAXmXzzjp72M+dhHkAFeEVkgL4XXLD
            l/xETZ9//Z22Gh+rlBzl1CxF3pCTQDzZMx6fVEbb2tF4L0qUG4XX4pWwV0K8
            3+WTpAcIbMCKAYzuRUMDRV0pdAY5ocyWfI+bgA2Vgvjm/TyzlKqLrlmyHQA8
            NSGNzUO/JGdZ55ZVEI6dOtv4mPQjR7b3rs51AIW0+XMwBeMlX3rM+cIOwbyd
            inLB8Y9IAI2hglg5ufetPtd5LlAnwfKWX7h5jZBGUFnQtj4I/p6efD6excNU
            s/idQVZrPwrW0gGOLDeu5Au5b3E+FmEt9tsFYqpSBCHaqFKhKz7DoYYQw+Xp
            sQx6bVxOht48Z814TNAQ5GcW5c6mi7h1EmbMs+0I9tjvfUVe1xMA73kVDloi
            0SLlHYvBPyLGj64V7OnjJfOQubLN6a4zZq3R2XddpHsd4I/w7kHe6CE/SVif
            YHXNR10rxvTsZyqipc+518hoT8lGUjRqPVUaiNaoXUzxuBxi/Kk6MyPZgMcj
            2OSaOHauG5ynPqVjDxNm+GQySs3Xnr/mQF9GUx0Jh5CDAu4Gq1Apl9t0SZuS
            NWEFTsC8aHTtuejfjnWJ3o0gWDPER4HnoSwRiGRZwI3WshOR1KgAORrly27x
            m1qvfoIm965Q8ul9OY+7/pWuQRwktnnTutuByR0Kc1MUSYWGFa6+vyO/7Ej3
            FzHt9CvkAqk9vO83T8g+tvOau4+gsOohXpFtY//hed10P6jgDZPRx7MWiX+D
            wzVojvJFQ/R6UYi2xEeSriCoy8Khxn/VGpynOqEcGDUOicnX53kK3lGZA5ao
            LeyHSiPRaPuBcGCBptOVpc7cGsYy1zVF795ytipZsvOKcUNfEUbEoO/0SfUO
            +FGgHsrRWEYRWMR1Yd0/y9WG46m9BnBOOK/4DEt7jSBzcD9KiL8AFTH2i4bD
            NQVfSDeAYpC7V2DZ7+fAh4AkdLYBCT9jV5uHtem9dGKaV3wHKocSWjxzJiuj
            HLZQTNUf80JuJgGVkqdnnYnwXfA5APgPrZlTGxgNzipgn+hkzRv4OTmJ4n3S
            HPYD+1u0ZFxJOlBncwRgMKl3I+ygdyMwRqsVZB+us4GEFC1+0gbo/e2eX5zB
            17ejEGmlxO9iA13LUCDYFokWuvQxAlu/ZSoas5fFnztecjEcdJ2JOnzr5Pg4
            B3JpztIdAN72Hulalj3lMaDVSKeab6J3YfNPg74Uzugl7qWBPvJ8UTxDeo+0
            dmr2XSPl50xWdstFzriIb7LozQrsRtqBeDFvf87szNI6ae6L1U2GCfe09OMO
            xFxT/kliFvwm1kZze6Vhsh/2q4OfEo1y2v3IFzjBIvN+fjtkkzlamVHfY34v
            4fD9fbu/z7u+/X3H2t1jWdjH5HfyBfqWM0vGBmi6KPyJjwCbgBfkC84uGG+6
            oT2vtsbg6gb3MnAMyC2TV035ouKZE63QKc7QO3uG85g75RaUlyXQ5iHkLaPT
            /nWsg8ZZwA7ilQxZ2F7WnmX91qbu5V2LPc9gVmmgPcf5wIp2a7e20tW2VIho
            2+XXes62htFtIObAty58fT5kw5VUjMtAXfgDBK2UPmPrEO/5C+g+UK4SMO+l
            JocD4EhAgdAEH4rfZwhgG3IBveQW2MB+0ZASZWfI3dNfgfzEepcTmwAQ9l02
            oCzPUaUnBKky8LIoNNwAnTEJlBe96unnWycmmXoD6gCw93sgD+OkE1hro0Hr
            /2vPU0RTtOcpawJi8XV1nhePU8MAdODVMuggMtLSqdj33mCH4mRofokWtM5S
            +nGNiBQwlj6IM+grhnM6DOaSaVqMPkelyv19eHwfHmU6horvwPiIvsQc1LWW
            nEBvuYMDvdy98zyLbziZTKaVALt7EWwgTQUqbHSHc+KuM8sKweSVQj3Y4+7C
            udq2Dku6euq3s8mPwNtQ4oX5Jo3sCIb47FGu3uVweCojw6hd4seWJ9sd8zpv
            mU4uACbReG7ZmUyjk925bTK2bUbf+um1IwZQGevl3G3Xte9ddtst577a9+Ad
            DapHew4OyRv/7aVHP+k9PuRm4m99qmZcFAAg/GXzIV7i8ZuSfP32j998XsNx
            //b37+Px/PEb9YGvCfX+fT+/9adl8wrH7jNQvWx41+5rO5J09WuPLR+fY5n7
            Oc6Gzcl93c/7vvrqFLxtDNAiQBvn8aknArWD6XvvA1BeQfoMijjIHhwrAVIA
            bJPasvtCdheHL5dCgRO/7/f32L+O8kfSgS8Pee+XSHpPhRx2P767MummTNA6
            Cb36/o1rPH2eW9fXSGZy1k7RWSDCHn1VPwu1HugXYOwizY9zRzV2BqPM8owK
            +dJxHVbXqmehbZibZEbevKidF/HQKknajzYA1Dv5bdeiCXZZ9D+lQrE6Hh6j
            98EkgtalRcnRvfR7BAHTgTPxTjqbRhVtd9l+0wyYdC81W7SPOOh0ZjCwke6f
            S6KPDpjPeqmDl7m8vjG5WN+/WScIM4B7s4+5ADsAIRWd4h7f91qTU6auE+Pp
            tF/yP8zZc40UWvEkLcj1zqCEMjBStpALuPLb7BR98+fvjZc0/TX1+dklJxOn
            PBixk/tI48a6T0YB3foFIH1MYnY6O/iuV7M715w7Eua5LWe0dWwgg/pQrB48
            px4xBPDK+FuN+3ZhT3XQpYHet8B1jBSKudUpadSWSG8aNAby/9QVcL1ApxDa
            qY4Te/k3dfgzDtUDpj4+6iAMxfi8w/xhvM76lkdtdqZAmVH2NeoAE9ZXQxnM
            hb1LJAe79Fv4y4FwW3Vh+xKXsq5fylJ3qbWgBAigGr/5DfoEpgHj4Fx+8d4d
            /ErGmszzsWdYB9aZpv8HyVRnZ8iCFdha5h9gSKeSgXv3yAxQxnOdAENYVjxJ
            VvwG0I60E+/RorhSp8QwELIJ1LkYhJk/7av7LJucJG/b8bTtqAzfHDuimcu0
            rTxoyKJzCeLlYjQX0JY5PGU0koKA0RxUVG27RGBc0I+g8XMdpldmjyj3sDCk
            On+H2ajQvgYdTfWNr1UneRV5v9s883tg+YYdL1kL4Qzpco6UshHi0AWCnOVY
            vgBvAajlG85kWZ/4vG0TRYMHJ54x4cDLVpHSFsw39dkiAaIQXDkMhiXa5lHg
            6ea7bIh32V3m+Y64WbJ30uGCReRIgOMV//VSKJcUQVEeV3AX9b8co0wDB0kw
            D9aYUPWsQCJnlmUgRi6d/m2TZStq9hbXfI+HPvn5tO/AYjvW9dMYX2OzsaY9
            xmzjSOHMOTAS7wuupz0n+de50LzTL/h09Gx68O8Agx27IWAbdsprQAcVEH80
            jsV9AjyQPSHYRbrSy76N7u2U8bDxrn1zrx0o6sxIDMVR3pBLIG+H8crOhnoN
            9YN2vtWVsnEVy1eH8i2C0omt8qDJ9oBGfbveajiqZfo2ixGnDWanHaZ4trWA
            iWkvSpkiyXTWw6jBtd7rSdtSHTHalqqsk+3Qa33Qw7nr4POxrC3GpnDgo1/2
            mLutTttKthWsLfyXe+RQCDCn66utPj/birst1iEbygv4DSiBkjPKgO9xqz1Q
            AoYPSOQUBRLatp1RsIa6ncN0ZZIs+tPkk35hM5d6l1X78YYtZovpNoxxO4oo
            wHZ60qjnVL9qON57BofbaK208RSabl46AFC65rcunSjwBmjOnmTWh2cgwADj
            K3ja9eAn3/IQ4prw4CPZny2bQB3RS0eeUtl2a8fpKkOaSWdGOZTMDqkxXnIa
            53hTE11Ubxmr5HXoaymyeyRdB+o9O4O7Rn9/0/UB8AoIm1vuJQeVHYj2xWi3
            nlo6HaxV73FR3nE8+Azex8e9dPZ2Pg+jLHU269y6hI69Tdro1Q5o0CS5X5EY
            iL9BfKHON75tmL/ZpAOtWy/Z7vIs68jjuavTFhYPxpLGMdLY1ruNewbprOna
            sWVZLZi+jvrE+ug/noM8GZ4yi5tPomE17x+6frOxu8hfFB1r1sN1BD1UX7gv
            Wf3HA+dWYqhED4MiE/XnXF30g6iuJfnscU/SSzwAhmIuGjiI6ihpZFgr35LJ
            rBLpksaL3U/ys8ZlJQtI7hhWZ+VJOw3XNm6izXB3oVQAKfK05GACrl48sJfQ
            c9B+pjCSkfHIh2SHtCExmYhdcdAkF8KGBf5dKQD0M5Qa9vukSXxGPcFlfZvt
            /qdz0GmPTeMHrD/t1M792xPbUudH2S9wbqEnL3iMRCkNxnMepmeiXKxFSgo9
            FvCqoSfr75bVUAAzstn+UY4EyCQ8L9ncySgm9D+5KlUIsSb3krst0yFlrA1t
            zHhwjIcAlZkBG/w1U6M996e8irz8XT8lGs/3x/3e7ffAQpzDfR5ko8S6Y6Ps
            zPR7pAz47CxjLMU5dZ0AbfOIgeN3szGM02k6RAlAZvIaB220bX2jD7UQMmTx
            CMk52XZVQB6tladsuHAezp4Uf0PrDG4ykXfL6bBv26L2s/I7UuL8JpMP/Syb
            ZIoP2Mv+zVqPtuX6nZkLgBrXGNR/gWgQfo5puJO2hCLviqMJOXAJ+lEYLvCk
            lHBSppnx34w9l/A9y93fXH/4ZveHh696AlnuR/mrEl1czXj8/dwfr2cMv+ao
            z6+SxzcF3/8qx2cqB9xFvKpnAhd77QF2aYxDebXGb/bulXvgUETL2Gx+PC1L
            j3sdazfecuJ6kv7uFyB3uBz9UyVQQP2g/KmXQlk3GVrbePoQbjy4fRGOaXjS
            +40Dpvk5A/H/iCP8/v6WAblbprPLlSldsTd/iJG2faPohOHMNsdJUIpTB9xP
            DSZtgK4wGv2rGHOOTj9YNdOPMBlE3t9J0OqlE6HNB2ZU9uV4MBQbzHxgLJBl
            K2tixV/0BSU06AFpBLBZO7aM0Rc9HroPbB90b58y6m+yqyM9FulwLP7SWWwa
            0MMM4MTy3Q3FrEpbr/2QFd3yrBDTHYPG7Eh2hFLZ4J/ET5xv46VwbUZr0vrW
            6mq0GY9uEIxyL21fHXlbGadEWwCaUdiV35An5LxQ63nPAemHXhVIqVwgA3Q/
            ycnxOf2ZLwUvxZwYewWcqfa9+KPpVNeJot7mmnQ0+CsQCvRyGt1k8cyUcZgZ
            icE8mw/DP9SjA97oWb5Es1hQSso96Vuh/UzZaubcx3su7yi8ce/P9Nq/tC/A
            bp6vcfol/zWsXrhyaYz/LZ8sIhBv/VCorDDRWqPpsWNQ3+QYirAF6b1DD1ci
            78H3pF/DDJG6cXoYpcoQb0T6JMJMT9457iMLvzrFzgZNAijPbyl8snH89XfD
            7u/zbWNtNlnEhPLJa4u2jJXwaONYJ9oxpU5zgwX6j97vnrIk4nen6AB0KKlj
            DEBeBpTxtD3DLY5Sp4EfjsMFLOh0ikk7YvcQzvQivriftGcBvWowKxjsyhRj
            0a6SKWNwH/dzBe4zm03S5Dhw4G9ol0GZw9Zn4VkC/BUOo5gJ56iZjRLlOrct
            rLuuU2eQulg8VczaE5jDfJ/c8PtY3XCFJlFx83SyO6M4Qrpg40VMtltollYV
            4QnnxNG+GQSU0VWJMQtBWmc/E2VoZmNAWBLCBYSIeZAdRTnlK0Aut4hno26J
            +6vkxt9vOo2+YkcqdhWdeu29Xw7Zo+FdHqIZ2423tddBfNUTLXraSu1Ifd72
            NkNgbPn6ML202eMc2ewpgNY0R+syeEI/T9pAxmnBp2Q4E6gQpEDE3qVoMLgx
            ntBp9hpOEfHcmm89U6Ft6YjG13J++TtQdkDVQKxmowFwKTu8czm+Z7Ye2ozH
            QRt5sxejp0kFv47tSGlJbkM6jio97JBNNW2zjH8AiKm0Okdd3WmPZI/6ahLP
            txTL7DQ5zLY9JGjy9DPQ90dpd/vhq313t9+BLzAOmtJIvbM+yx35GizDgAil
            3H5ZpdIOt2Trm/Yvdxm6VMLdN9wHnS3wlYtwrcquc5oNLH3l2C96Sj7bO/vV
            aTl928FyTMDvpergkq67RqbNB/qaxue3C1CdcxjQ5/t7rgvRE/coyNxOEQnr
            icv6fMjgxof8MT/yiqKikfC5zHr1V3/i7k8b47Yny+6vv0d159pysuQtRs3e
            E4ltkCcKFjGx0jyqtIe9320fSNsMnHorI9voYN/RfmeMSSaNsvctX6q73M1L
            Bm/UbDGbF0Db0wQGc/sDxsc38f2N5DiiV8zmP9E2r0loSnbLvq2Pb+vjW2f+
            CWwTMGDRIGBSodzsO8nD93c8vd/9DKfsyyWjdPbuyhTvpF/n54YTnKecR5cd
            gpd8QgQkzu+LNyftwfoLfcxoV0ar0rb5dkVELolzy3LcMyWBh+iUiL/Hg3U/
            7zJAWPL35vwcsimNeS5/n3sn+Em5Z7g64Yg7JXumodGWGYgOy7TzYIwQ1btk
            70eYrDXvslI1G3bWCZ4pOMYRaagug9Wesqfr7GfY837PCfsFVAc+bJeLvy+X
            ms3dK2KVE00WzWezC3aCuTW/immps644TtNJbri5ZVyAC9etF6vV3lnMIIO3
            jdE9Kbe79rsHLKYvEd+R3qOnKHPDZPmRFhLy8peK+E2O1jn6u2FfdLPPoB0Y
            9ojkLSjfzm1nFOn11MwmFOVBO5sMAuXbZbaxWstEuAocAxQjv1Kv3FjePJHM
            3kz2LDi8jrC/d+mRe6KhQScdRcuY7UtZbF81+oJQL4LdLxuJZnx7uKKXzTIV
            /86ffsheccrHsZMZW+QTpquL9rsTLTvKS8TjUPmHs/i6H+YTgl6ERLzrmCXq
            8b7Ze3LLuu92H/qiXC7S7uBVttg733fZuu+vVVk3/ZBnBJDFAYjExexrt74q
            FDrNMrFG/a7P2feOMVHlrXZS4m/v0u5XBQNVHs/99nEZK2R5zNBAAeexyu6n
            0RYR++TtC0NJJqg28JPGI8f93C/umbjxoK1RdKZi32tR91pQrgGCwhf6HoNm
            o+Ud6BJ6sTbKAwkLQZ9iS4qnoi806UDZHDnFwi6VzNLFrWv2c9dU/E7QLmKq
            GF1A9lPiSVYoTTq0TtxhuiwGSJZ80pfenOoKmDPzFeqUb3m3+a3KQ3nX1ULp
            qut81cV1NT/8d11qS/XPHctq81qXbAa8W9vuWDiFupYqWzrZaZMWcWo3iD93
            aJe8Dxn5dP8eVNdybK97KjEbra+G8QqFc4jnCUewbn53xh5Do9YgyIatix+g
            rSLL8B1jWjnJcHF26bRHT0n567Q2pbPz8p40v6iWGV+K8ymsaPaj14ZtrdqY
            QacpA1cBzTdp6fGg62RTCo4TcLeJB8N8zEKZiDObl2J2ekR/tMFs1FUcloWR
            YwqMF98XqFqQcoxYcGKHTOnF/U0zYH4cMzphTxdPQYxgPviXcsi+nrbUMsye
            4gtpXwWMADjS3BxoGzQqqPEVTC/kAMv4jbvtEUozuhQM0HChm//HLQ9j++JF
            QD+xj6S51E/qlokfps01Y590bzpZxlx5PZ+7/OmU1Y/B8Bkdg/uM54L6Xo0L
            u468DnGs5mK3zXeMdz9mqNueQzFlI/Y4uHXFk3Fm/459FinkqjgT3FOpgUfo
            nnFcnKcemDqnSIUS5QArjlSD0++pPcpro4z5eaXnXWQAfMVbobLMSz9L2H9U
            4z0oiaSfQL12LoLTZD9hJ3sM067X9j2M+zktmS1OXN1xLba9LPYZNj29hhRf
            RvrS0+LEYNP0eMpPrEqHcv8mbaT4JYd88RgXwRGGYdbIh4ENHDumAXVhnrIJ
            6oC522U3t++N3i0abzzsPtJStWbRAWyPfGml3myaXOa2YaedMGNZkzLp8hHz
            Yb3try/aXXMMi37Xp3xPaw1WJ3/TXrrMeN6xF24f3t2HW6dF3jbONnjeqilN
            LCYDTVFKMj9NfZOcZDPBMomCql9pop8zM3ZJm+brF9zsigUkeyvylKVcaxb5
            IjpaCElnutuiC/7dln0XX9+Rfp2SK+KZ2ojz9c7fdUaXqo2ZthC0uZbd66Q/
            oOwuK4hOZ2tZbS2r/Aux2Qzf8XtGQUjJYGt0WbhJqqvpHfdyjMYvZ8JWau1a
            oeyhubZ9mJz8bQtTlcQQSe8pE5Fj/stTcXjw1rub71Y9xJvt9+/Upr/bDJd2
            QJyyPOi9tPs70qU1vL/julfwJ4Mewtsu3xJj0V4yhsHYOnseHeUJDOax6QXa
            Y+NeftsXrW+G8c0e48UBqnvuMWKMv3iCXs55q2aX7uWSxsDv8RLmX/4s929m
            x5jn+75rr5xFuC7Jxley6Opk07/o/iKD5mY+VKBROt8N7HfSgJ4SPEUcCOon
            syHibBy2rnLmEX8O+Nlp20tYx7WU35SEIp7vNCYShE5+eSSArD5f8azas7MG
            KxeYHXQ/i/bMnTLg7237Y9F2HfevOR79mprj9qLJXnMs2gb7noife5fynHuv
            37SM/AYwTYxJBBIoyXY6Ru1JcopWHpR/sswLr7jZW6cs3tRsANfTbsVvHqBI
            XI01cVe7bXsVfwhtnfXTnu/2NSLE8Yfx8rRr0LMSLRZBll9El2wL838muvWe
            1DEsxaMY8nMh1qT9Vn094/lPWTrJ1zPGveCzO46XXzantCdf77gQB2PmM3hZ
            f9MSJ6DCySDbKUtGtM9CFUwGdAHup3dcZn20h1BAUEDY1zPaDx+mC9U3NTfK
            3u73hT7V4oUV36CQo2E/n2XytcvUXYYeo2k4yUC1QMvGhnliO7Oa/IhzpnmV
            6M7md4php2jxc94Td0HxsnUh3mSMoFlNNkS93Nznlj5m8orZdMpUaIyqtu42
            rJ7P+u96c2YYJJzfBR4/+nz2t/6dNCzHNydTrFyyRuQz+dQ7+fwx2Jl5ofN9
            ITlwMvpntH5EfBPUJoPmXko5dJpqnT1ImYOkD5m7ZZp16/lvnw9Ax+LfcUGu
            PuPCWcukYSjjda240kB3lUEvvSwZy6KfS6GGlmEgzhgxqszoBtTtE2cUCQMj
            R1s8aeRSmAwaHAtYr0xpO03Y6QrsmmLJKUBbVXvOJcbCpVM8qKwMTlh1gq5S
            FjZHr0BwqIDTtFt/PPPUyZPeZFQjYJLGvp1rURjrGDOK76KLSaQ0DRVA7HT0
            Eqcir0x5OAA9WizMKehItIGXmOdhfuHFWT+oebLr3M97MTre7oHvT0blLWDE
            zHf7WZ7Px6M8ugPWmP0tjM886/6tvQ46HjxCXidQiZ5ThiG6ts4mfqGQdiFN
            T0PJSf/iKf3I7msZc9/zOaClk///qbpPvJOXs9eOsPfql75xbmTxJbqnlavV
            fTp3yr5u133S2JYQpFsbDNXt5ty/+6MO1XnssX/Uefe3ffWXoaLuuorrj29V
            V/mprh/619S/9t/p3/3Nf69vquf8oZ7zrmfHyvBWJjLm0+veHXnX8/6Gvx/j
            Ou9x1eurnvpzPV3507zid/xP1fnfrUdOJZ2wg7k5BDNKUEQbgxnMDq/UYYf2
            MWWpdSehcfc7rtf9/Pdz/9kv6Q/qrpM4ucbERKNBYSYa6YxX/TyDTny8l/xY
            /iKK0eAG35HXlTpb/o8vvdjOMtY2H9ma+QtsHmzHIVcQStde/b73CdsQjNgx
            H0wmar+DxSVym1/BIaC9FGU97BMDz12yYgBZP8nCEHddQI7VJWmKPFNP2R6W
            HadKyyEJvwA1+9zvpuGaG76wLxvOy0eMbaUc4yjjVV6nEKVedfRnHUB1yeCj
            QpkXfIvu0Bnq4/vw+H48v5/vPkyMYvchACsNmYDveorVM+ajnj0Wzqt9Z+O5
            v83lH3177m8bv3NMvURffYujla3/0zJ1URZBeJ7s25H2OmaLk1AycOCj3L/9
            vny933vDaxzAz4SDjOzUdaaoZAvEBbSNWNUPZewlXmjDaxzndY6xaS6aOzKE
            XSyKG7XPCQW7jKtCZEyuW8q4QZ2a6qUyWbj4ABcewgyt7ntZsk663YPeog9Z
            MNty3tOOiUHtqQahbRYZccZLpfVVN5v7RpqakSCMJ/aMTMsIH67F93vqwqfw
            Gr2j3aQ86HTsB41IztIpU6WY8NEnNxgrM7Bt+dtZv+KIiTHY0Jf0U79y01q8
            +pV2v9LuV7Lz8+pX3P2K6hdOdjq3/I+wZNrcRfMTMJgieBYZYWLVG67MeRaL
            qe6lYDcaTobgi7aH7CfteXPP1Ww5m/xUooG5Lvkj461gf8imjPa/Ru8rlVg5
            sUmW6YgpY7x/gycZjDF3MiHZrg9s++j7N/VcKstcPbcuqoCebdcpfRjNK5f8
            /hglLd+/GbuIvBzjF5jdd5cHPvWZPoMvZ9wEkMRqc8q/pbN+kI99dI2lUsbN
            /Xjki5kUaLvMftKTg8F4OAfMflA65aMUMjEqGvVhgVYG79+sm9wiCVtrb+sF
            QBNuWvEVW47UKOlzCXgynV35nicpH/c4OiNLgh9mAOIwF3PaUZNa2d5pumdM
            Bo3qsJc0j+bj0pkYwlH4SLfolSSnpiUI/TBolxriABe3aL1Iq6MWJF+mN3qh
            LglN2rO0wh2XePKply2sfE44P2wjPt6DHepHS4dJz05QTyclFQ1rGBiXth8W
            s4DxY2lgJlttp2gPksH7WhRsaAyLKxBmZAxHx3gt9OXWvCi1hM1Bn9eY/lQ8
            F4/FqTVFgB/aRQYKFLn/7+eMNaN+WGxs3jNXX5XhAGMhDnqGyE6u7niVwfoR
            GHOpuzBAI0oOQ9sm4fJj4jcTYziG04ud54U+zWcCS5S0nqY/ZyRPmqCZ3s30
            hujMOHUOlzKKXABj+ywy8oZXkKPCQIxTPvKUr50M7/yIGwiADI7pZWdGWzHy
            z4Ehv2tR/ELKXcgXpsozQFi17+O+9/v+sHPnqt3LNqKa7SF1UrJDstANNAe9
            0KcmeJ+uoSvlEA6zvZZjEsKD9IpldXvRKFgY2QS2TcukbjY96Lldo10duEi9
            n1Y+7eeA+na9bYGSXduuN9MYXHGV7fu44zWd3uIx3zZUmKK+fXnT43cFpLl/
            l8fvZnHLKwNAMEqf7IeuYvPEI4gNRn7I3TEnBXcBF3OXvJBZLCWv3vZMQblR
            HW0ci6JF+pPGyBfttao7TaNz7O+edeRxhShPu5O04dF3+ZNxOe84QFSnSD8o
            axN3JmsL9A92c1X8DmDf8K/6erdDKbdMk3F2ZzmlSWSda+8pxhdivLlHnxnH
            zJu+kF6FJi/ls12n6yrvjoX5o/W+nRMcpUeMpblliCCqCLKG9tNha7BAQC/P
            IOveSdeDfgCHjO81+N2YOP9hf9eyzcnv5oLjvwAV777jN0CSfGHKZJxzTbmn
            vyg2GmMyWB9BwUisM3GOATMaZa541jgPuqfeUWkYTzAp9A1nECilOca6RkZf
            8UwORqkjDTRxTnnvSPjTjpeN+B3/hcS5UszQmNGbDwxpFd5H7YXKuOJ145c0
            KEOjTbFS6WQXUkkDf/wfw58TJnBusK4dpwbwzfvb7o9/tMM+AKGc6LerYK4a
            r8e8OngySmIlb2LQSJ9KwR9oWhTLTMW730UcfdpyzdYpjWolElaFSBu51WQy
            SbRk1m0Egzcv5C7qW1w8FQe3XKN/Pmd8Gp6oYO5AJp+8mD4JeLg2OQA04hvF
            SAIWueP8vWHqsY4W3jA2A+8G5vcCx6nzThF0Y5oAKg0qbdYUq44xmWQTJ1M8
            2ZZ7i/02GAgdG/eiuq0HxtZ2NP1mnASSzIAkFj+4ZbNVTkroivp8A+re8b4Y
            x4gqwz5km8v8v7LF5vdhKIQX9s1Q/AfaJUv2gJWu+164Nq5wt2HPTU+kZ7JU
            OI/7+W/aP6x9TGHzprOifYhXFmLGDlJsz7LjmHOPFv+Sj+q8Ej8yhoxXvCrr
            I+NSbVqgUdZohrk2nzLkEB/KUL12pUGpdE9R+U8ZuH0FxpOr1LjQUw47QEQG
            9aGMEXGCF8w1OIsD5radfCPPgD7g90F5AjZRyNNiGSpORbIYCjxjlLJoHavo
            O5IsjfiBWvuRdtmmxOeOtEk9bS7u3/zWnTIlkG+onjPeaEbfKg0FFS+0qp5C
            5eayOrPknfZbSETxtrHugXa9TuOmPSTrMRsFzRF/M66TxsdYxrQnwL4kWGcM
            3eAtHj46LZtdB55BMlrwbnKaQfm33yBVelXn4SLs+jfbot3L/T14FvqbV4sS
            KzkaTn0l7xmH3NWc4g6zjSPOynWjrvsUz0cKx9aLQYtkI+D3eOghh/UXbQzq
            ds4gvwG6ztzrwN/sW2bkWvNddvdagBuSzbMBcC7uD2tOHdmmScKmOcY0e+Rz
            2yWf02gNEGdC+G3YFdsyWGZxK9duO+ZN+6Sbpsn7ummjm1b6pnFuGummdW7a
            6KaxXjTTF2214ppPuVGfp+Wu2O/rruemmTBf2ruJ8Z1B4/L8huuS3zTdatAQ
            7VbJL4n2DYqmmiUV3foPy7z91d8FyofZ5I6XfyIl04pTS7hBy57pMuAq9vtq
            FlNUUxZWcs34Bld2jC2qa9C2W5diLQIeTunHzL+WhDs4VqvDybcYJBjgunPb
            Draafzht75iz4pjeYpvvegl/WK+nzmXnt6DNX8ghpO1jPzcuUUZL6j4dI6yB
            R8qWH0JX2rYolcwFBioq9q3sFWS7EMVHgne4RFvgTN02GqQjsHlLA6Kgv2T2
            IbQ9b5OREqLlYxn9zQuM09odbV/XjsvKGDrH6or15ahzx3dDtoeMME6//aU+
            sc+MwFbBQuCPthfDvWE58wywT8lyO4guIK1I1NSnvcM6gCj4HEtv9i5HConA
            g0qWHBjG/21vYfzOUbt0FIw/3KizUEytcsc6JmAKjXIxxi/j3DMG3+2PY/HQ
            GZ+c8e+JnyJIuovWGJRnpFrLBRSheFfE9I3+K+Q4TtpDnZa2fccpI0JKTjH/
            ++3byfpppL79AOQcRL6QNr2F8Vxpz0c/JuEuxm4ngWjzB/baKRCeYKEHt3aS
            XJjcy4xEWoCTRxe9YPC+b9h/SO+VyZEyT05ZP+85gF0abF/ay7TNwxgZRJxj
            pf6b9yRJea9sIze9RbfRaGNj/pTkGJMUbc310qPGaTHpdUzkybHvRQpj1NHi
            vlMvTruyqRwpvoYT/DSfZ3tueSBlAiONYmC8IlL3WbLozIOl3wxCAVzFNev0
            wF+2ZvRIzYz17kx2QJqcdt+bjiC9U7wES4IhNGpXHYPr7qwOE+APo41sbguf
            t9uH97B69KztZ5dsWEEmon9h9wt10lZZ/VqPb9Wnum67deojZlHGnp0bDCQu
            zoPsS0RfUxhyYrNwcqillX24s3XyRpf00SRLBQ0gFO7oA1+a+TNf0raiX914
            Kek+wBuVQb039wr5WdxPzX1RHN6p7wqhovkpBVoXSP8FtMMwqpi/cEX5uHPv
            ymYKe3spJ4v9X7J0msaUvW6VwUbKyPShOK8eiPH5lHZXxWAR37VJxuivv/0Z
            lOQxbHipK3OIWD4Af7fZCION95EnmfJhMToYqQjZN3Fj0KEMqEiZTl+xHgFa
            /vo7gqAghRHIVR3R3J8V40Kw079iK9LpmLxHLzzL2/9D/v2ELrRyo4R4kDYB
            StHVH3YlHEwJXfb2e5DE9dni0uxYfoGUQz8Zy4d2DIqcz6tsVwPjKgbllVFd
            NKcBHMX5TrzPV5As+JQR6/YtjGaLd80dF33nBQAMtJiW8ZAde9+2ofJNZRyq
            ud8f9n7s+35/t/a12vs87ZoA5dTOjsfem5Ubx/5+1wMAWgzf27VNy62baM18
            vHNdOYwZVGJe02wdgsKfCIYrhqKGCpKe8atEl0qJAnhnz9OO62SRI2hH9ngu
            ey9vz+WjgefZ5eVfdmA51f38rkcW1FaPnr/addbulN/zkj2H8nwpOPGh2CO8
            nxb+NjFujuKinJrzxD3fGSPExmRl7r6cdCDP6bvu+F33YwzxN2OIvxlDfIwh
            fs/dnqP6PXd7TrU0XANyYNuvBr/d7VMx996qDbRRDGXMh92K8UGdMnKLc89q
            L3LZosWO7cMPIhA0JfAsPmf4dJKp5FflP+cLZgbbKOCo4JgoXu7eT53+MGhT
            cHUZ/75zfIg+BKBQPMFj0zr39c6Jx5hEtM2SmI722YpnVI5jr7vbsyyE1BmP
            fKz77M1p9q8hWvzYa89DYrbIGKrFnbGyC3NDK6tQH/HKLKaYaCjaoPnTfPlB
            J7UP38JN11A4JlkVedZpOqB2KI4ATpPFSpcd1v27vulC2icxzZrl/dj+yeD/
            rnwN2cimq91+M9yerOMwj+bjziNJwRJhC2MsAG5XGiWyXySFGYvS7/jbUcmM
            MTVMgIRnJI8UD5mmSaApaeMqy7wbh/A/2Wx6r2j+XYoblujTG+odA223FRLj
            Xp6AH16x2/1P7YreJb1tSR8UU0jRCN2pWEpdzuGyk1T7VWI49C3sPhzSf76+
            Va6H/W2lPCu8+yq+IIg+by5/xY5m7OafY0c7xY52Fjta80NvZ7OVWzdt5plb
            oZ2veaaNXPXH8fKnP5Tvg/1Mij/t5VviKuZIBgN+xddz5mBo+F6xWwRHKDHy
            m476iCU2k6iz9vIPskYYb5iJFtTPczDij/KbtHyYDgJATu+uRIuB0Yh+ZdeQ
            TrMrLISBwOPRYjk7k/0et11kNp/Qpf0a5CtXz7Ushu2Om4F3l2J1HNtOcMch
            17v49S6jruioxZ0naNFO39TzHU97dIvXC4TL2JklLMt5YnaqOx5mftepnCdd
            flxO4UfPR/ndByHrR/ly7vInkPvdF6/z+9mu5UZRHcF/jiPGa6mtnU9VsVDb
            ZxnwXe+xVtTfpHdvo0nfeM24ApBLpt1uon3+tcf+GKt/ze1yf/3dMGH0D7J3
            zPWmfGzWZ7OVspxVrz7RVvc5dmr6RWvbNxRQhB3L2sr7z/IUVH6Uz7v87t/x
            tRa+f5Uv7zmeQ3PsEqnjoLjs9C3rt10oQyzRl+Uo8rNySgPh9vO4cyzwsAGe
            zP1bUeap4ewryH5WMaVxtJzZBosy5hwckxlEj3zbAM/jePl9B8bnGdMxZkUO
            w+18hk60tqeogj74BXzTYmwR8s2Mwy/4jN8u27ngGG54XXjmrjEU1565l1Bv
            eMCiSdzdShdvdgTzIcuWx+fVL+cVk5Cx/ZMf/c57lnFmKSWQEIl6mxDlzyp/
            QPIox6bLGZ3qy/8y0aYblPDRzN+W+M3Td0Ix1x/lOn04Dd94dNc/8gjkfb0U
            gzvQkeJlvxBLrhZzm6CKMWfKnbM47bg6jMolX2yy8cqjWDdsBv+UAKNu+cZh
            McV4HsgrKgb9rcelf0pnruIMTq+vKt6crTTj0xXwPy/ZMxTKn7xFIqCL/a33
            7SlO/DV5XbbSth9fkB9yMV9wyiuiZJEjmBx8eNnbM+BOo/ygmG0ZaB3SI9wX
            3fzDLQ4/V3zb58uvila/ill9x5HAhGT7tmLDyK8w2n1bls+w0Xe9SM9Hrzrq
            PFoP275LTtAWxyw2IBTFLwNJ6RJQNQPX8PxgUF15arLsr5hhSllxU7zve5WM
            +9jxihl3fb9z9qxJWBkJq4jiyesNEIzaAbPJT30xBgNdL/JtUNAO+SEEOdVN
            w7X8TueUsZkXYbWVEVciWwxj02NU/FX2a1KYw0RbBXuTcklmdGVfrG7ju1O6
            14Uwoe7fgxYvlH21O58fvXkVQ2KJ7+53Hjqj9RUro9qeWVkxJZig99W2jMEW
            4+0Vk4VWutTtOlxpyusXbK45F6wHMLGpHk9ZNuPj4J7j2blynmUB1BuvKVlO
            HJqGJODqlOmrA1TXRkjyUWIoZQoEMH/LbFo475zb4Cy2AG0AEmfjCIzJv/Y5
            9LHHVIi3GEYjmp98lcwZLG9XPH5F/2+ke7dPbe5rfLfjykvPR4PGQ34AISq6
            eD1e7dG/ICXQDN/fp4Nf0qdF7Tt950qi3TZjkIT6XhtXVgryDcWY6U8tuQzz
            XcgWiLIgH5LBaXryALKEEIy2Znq/j3KHlWMMjC0rxGEo8oO49zxTzYKPep2B
            e/9+7n/ZNA3JL44iiw3bk8erPSbEEvzBelLHJtEscRy+v88c9/n0yimhPfk+
            D97d8cN5VhUuknbieh+O1zsAsfuZ7CGpw+E81KuTFzomjtK49fqlVfOdDLQr
            IVyhf9ENMwsNMRqdlETXnTe85Rhw128//dsfP9YAjs9d4ZTgftvG7jxdNd3x
            xSV2AQQ2XUa1GI/juN/v8hfjXQZTcJIv2vkL+dvPHQc8//z75uuuO/7QjiN5
            7f6unfP73HEFaPMTZjhvOYdEx818ieXGhjlyW76cmC1N8UMxX1lnc0Twx8vi
            sR4WJyG7OkXTWxzX6EyH1Q6z+XXr+M4xExh3KAYmQVVOxp3Lhf5nivvA+ILc
            x/qd3nJPxTfceXYZ01LvmT9jx4IMonvMN4U2eX7np3fS957Hq75tu+DGUtSA
            nvLJ9jvp96x4QaqX+jzueeVoTLJvPLT3gZ8ow6a95x0DhPEVmJ/x2Uf5su0Y
            Gqyfg1iB8dzLrHfeSW+0D2ObgL7qL1pkig6iLLtg92EXMxYmiMdHzivGVlnn
            zgt7yK9KOZ+ilBUMYVDkOMY9DaLupOTAcqrSn/J40Ww8C6GN1Rv43Byu9ZAN
            yF/UKS8mThct3enoIl1Sk98y6NWhvMrUj0pOYTSt4l1fonBIC07aKYM6ZFsM
            VPDk8TlGzB1dxNsVaJdA478KGgT9Z3Zd2tHZ+gJCUm3OEGnMklEVP/T0jElv
            pqeiM5eMrzL9dMBnffS998++9/av+16++k5+8iOuB/2XO2jUtvOokKHzoCwP
            O0P0x2W8asuD7IbfuShGdKO7PIpjyG08a3lMi/HK5+dg+zTi4TPuVMXwcbJ3
            PJRV0e5ZFoezq05GGlU+Kfr0RYGDm+7Ghp5VujCCHobxVe4ny3Psletv9AQG
            BH1l2xQZt0B3SNmoTgbW2Hm5POOrUSXtqANnvDHMXYtmu2xgZ3Fd6bNvMXTa
            K56k5PuCA7QVxGjZX1eASw8LMvWZe5oJcoWvJhlqMjdb3kBSnGqPStvmd85o
            06lk2eMCvDfxDJNjunM8MtEKn1/njkMEVuL+TniVCi+aeL1zgjquMU287nzS
            5MnubygbUY4KUMR8VhjlnHG+N20heC2bPcnOaAOwlIs6WTymeSk3Nf0HJ0Fv
            moajQbf31OMiPgRFE195TnHeVf4UXS/YwwC5sluRdthgCStOccs0ncYF/G0x
            YhkYE1CjSWekvjvl+SPclz5nl8HeavLTm87d30l/UNfOfclnjBHNDEymqwQD
            MUXDunJ8zGGhr/oYZ2McjOiuHYM6DOZ8It0JGO7tnDLIXWjy0TacHUzWUP0b
            njzhRyGuR78YEVnjYNyex1rRO1c642jfd+4VxtBbpn/jujAOEQHIzQMxflHb
            42M9p1v1A2aRTwT1gHVtqy/3LLvyr2WZz6j0v/7udKjsFotSMGpZfC6Fx0Ff
            2O/rMHym1BmvvWyxCRhXlzTz5BmUWJf+fqKL6/HGKbLT3mF73Y2jtF9BfzMA
            aQnyJZY83VuM4VcMYI6fuS8VG90iqjPXX7/n1G/cezR7R/3sfd4Y51dhNRLj
            xNShWNebJrlz5d65pgFEpCPqO69L2XRU3zmnlVJRthubpjmNhpm7X5jD5fNf
            f4+TPiHvfOd3vAaLJwmSML19ghWHiuHJTffWJXO0mNjcSRVAhX6qIW79MChj
            1dMqcyzIRl/pvxRmF7R53bQ68YOTb6/hetolyBc/WazDW2e8YSChddOzKb9u
            o72qcnU40loOdHM5zWaDHAmtw8X7kAZf0sc70SLyKxpOMQQsP6Zg7cvveNsC
            sE9NUiGzb5XyJTzkDYyBkvy17eEv4XWSp/62o4klz62jbDJELCmOdecRZ46h
            TPnUM5bkjglGeu647hz00pmnvPsEWns8aa62c06/6L5ke+2m7cphMifmPPmg
            teInrRXJ4yTmmDYeJRjNd8oW1rVqMWfCS1dOv+1X7BZQrlkyHuzYe1+dkuVv
            fYmn8X4S3YL+q7+Kf8j1VH5c8Kuyn2iBcU3vGFTSIpu/Qd554emve9O88zn2
            aHG4BLPEpFrOTwL0qNgWZkOMs3yubW8t3xjqjW6atRqf1DFvTbpy8f/J7zma
            p9Gb/B0US7NVyUWz5ZOhxQr5s2h2+ZlrvpbwzrnpJHd/T9s2zd1ZX3S75Ot5
            x/66RSOEpYz96Xu7cRqRH9dqnWf5oNHx7XW850f2f4eteyp2fyq/g8E3bZlB
            m2fQfDzn2fDvjveg+BHsK85zv23U1/y1zUF7k8gI9piGZH7GsmsADdQ3DhnM
            O6RYrzGFR4x72vA1GZ1kwV/6v7xwUXrDTbdzrpO+wXFaL3rihbPe+MPi4I7T
            Ig9tPi7eceMwqvLmS8+jb/33zpV1GAxmDkng3VTj43xiHzM6jNmQ75yHhfI5
            It1Kc4ji4x0zT/MDLpwRVmyfilU3mR+TahwWv1tyKyYqoHpCcW1alY3LZwxC
            8tVz5wfd92e+iIwZ9+9SzL8uvxGTU9YdB7Ar58ZSnvjLU7oS7hiFPLfGVjez
            RdxxShmrUK4Dd3w8DLkNi0dK+3cfI7G/xXE1utPXkGZdaTKjHH5HxSnvvoPG
            wBvphs7tP03Ptv7UWTEWu49KCfVjneBJwk91xvn7Opf0YMBj9/qFeL1ivlAi
            qdg4PE9EX5EBYZxirPJKGV8AxhuKbXSRIL9/sxxN0jAfbVH3nBrNlqvem20d
            6YWagvTS+k1rIbQP+Npoc9mkFqEvJeXXaTF0c2M5UCaeMXdA/C3aqc3n80bk
            qZhzVYIBufZgvltizq540C8VEzfazhV/mb8yPS9ob3syj+5RzB+Q+b2OR98u
            +itQQNG1B8PJIDd2T8+ZmSwHBcufwekKXsepDZvTEcrQvsvO8mUcitSGe4r3
            FZfPX7KNIjxYCrYkS3zL0XgoDgXNK3U9yQ25ShuwQug0FUuRFt47TgRtitMi
            /cEx33Wc9fG+J68dUBgR+1H2dIqDdNQZ7HqGPrWmii0vb0HQL4mqkso8nIfi
            MhxNar/IPFmurEAf8UXe0ANvVsbgo433QSO2IF88lmHshyraifqqRmSKfjEv
            k3Kvsw5Ue/tzj9ufnc+MB6eVoGj73M+otQDuGsTN4MMbw9Cx3BnMf6Du30Q3
            L59exlERHWZrCTpL/uVYXwCKFSjyPRRvrDfZu1s8xbOd0ZKgEUolxXuLyj1H
            uqpsnR0ZMOaAxIqhL+fKyhnp9Rx0FIhys+Ek6NTVYpPP5Cwfdz4kT2K/TrrZ
            Ue7LCOJbNnBIBymbOMYV0Zkq53K3nnCNd/8VO7q1JhjalYg9R6NJKmPfBPH0
            UblNdk7a1xhiXzyPmk/SrvcYaBtZvcXAY87VzLyRlHDlldweV9jjKiMu6ejw
            ZgbSw05CGcDD6Ebp8unEeKnKB5kBFlS5GQaDsALayPoOO61ojQHnaTebuq0b
            njc9B7xnrAh3LqDQmBxtSWhfSpkPcBV2diMf8ac5f51rT3xSGHFJ/UOfnc5I
            K3fesapkB052/17xRT3Wa89/79zjg7rpMzBFYN82pInmR+/75zpTMAACQIkS
            MN+LMlDNd8R6dK0HUxjo2fd+wP5W/BjB1oMp1c/jbsfaZ54Fi48ouxRfKNlZ
            sdGAw/pF/R3PMWPFeDowBOX3s/NDS5S2KttgBH1XTL9w94NnRHYC4KwClfKn
            9v1694mZvN9nDfi6G49TGrlsnk/m75Jf+eXnFd77N/j3/s2k2cfbHr9Ke2aB
            JITLADE8oGLtJNnDlE1lo7mm+eBMSVJ8TcwzX0VXW3zXQF7R8JtsydLlFKCM
            hiX4Xee2T6HYtjTZoNjYGF7tZKumCz6Ee4fOHccbN95I1xqJkVPNlyrP/vLR
            6/s5NjDNnmlXnhUftii+RiIuJuhVfFrmr3fEAMApzepnm6BFu/zzQcdo7hQj
            /o6hirGdkXpc788l3Qca9rqnzwCZ1IK202OPPu51LnY7gulF9J2LimGKfXad
            mKsYtu2laJW2bS4JzbfnW946hPHUg99niyqTr/PV7n6Og/kM7DfHyCmchbYg
            JzOW2A7oFNjETp9M5pACssAE94Vrsm+ZU0l2BlobvDM9aTeeZlGzEqW/OfyO
            QcXnqV0r7nXEwihfL4ib9YK97Q17z53Hi77ho5uvmfRuB+j2Sq8D+V8s7pUz
            G85iyKmTfpiP+mkr9Uv9Yb3qTIp3iik8F5Cm8d3JaOfXOvWT5+txz5js5+M+
            E6bYPJCT5FjrxTlQP3SWK/ra2uv81kSZHt8Xg7kn6DWdf8ZXRV3a54qqMtwk
            f88c6LWE2W9fi0thrQDZZK3BABGhr8Q2ZhESlQ8dc6aAx5SvE9tx4erJ9M3i
            yfm+Xu/3WRFc4hBGHoIrjTm3gWFO+sHRdt6tEQZj35O5OGet+awKKKhIpt7s
            4EE1ZrqhEIeDJAu0lwt0ml+ukN6mIWigsYPq7jxnirfVSQYR3/SmnU6Tj8d6
            uvjreip2QTP4EZZCBXSLf9EBeU3P6BJp2MhIXtJb0KfnKmqnci/nSh7HfA3l
            CCi50/YrOSW7Rf3JP/c7DynXCed7MrazDIFesAXENC1HQO04p/4qNgifU2d2
            wzPBm3TRzkTPwsZf2C+NfPqzHBaqZYpQ4zpu2L7txBaPkfxPN/xV7vOwmKjW
            68y1Jth5TsoBOS7bd7F+7ztme/A0sCbFLpuPO+6f5F57H5Z55vsMCZZ3GYol
            2g0+21tgkAtOqOZsPys4Gxnfp8K8l3GOt36hMKdCiXGak4blf1qHaQ9o5Ca4
            whjDVxDcDqD945ZBkfcjr+t3fhG2NbL6H5nPiHJQTFS1HF2ktDyp65DT17zh
            HOVqPn9KOGk2P5FtgbajHlZxymk/pNzubjE379R+lb+jraGXzexe1/0MeFFr
            KNqGecKa5ddizNm4YUfEnCVgwki9x9e76hWV/eU7gt+J92KT07bnYK5zMA/M
            1WlePCU94w4299ffwIgrb31ipK1Qk03hIEqJWAPa1dLuYk7yhOADwPucznLd
            n4yJeinvpW+mBxgFvF25FCN5xo5zqHyTgEWTcknzL6O+oOmZFMfgj8ihjjVk
            sxEV7+KlZzoojmceQ4sF20YWbeGunWuRNjX7fh7ljgUsXZZ7yHM69ghpvw5g
            eMt9JBOv8k1XqOk9l4qXsmOqH3zfiK+2XNtSSpkeYphMpFu9aRCKA2cl5lSQ
            GWyUUYnszKIFughUft7tnqfqrZRZmTPNW8YUZQfz1gso0LfyN9Bpw9O8kXiX
            eeFQhyx1nerZ8pu26+f7ZbpHyQy7JF+yf13UuzEqgOkTTUbg+Yi+Qk1evYpd
            dNMdjUxKfvt+3HTIseX/2LDrmYcG4NfiPkejY8Zh8TZAD+QnXaO0mrKRCPT2
            a1HxLswmY7zyEg7PuWiXRZm4fcEbZqBt3dpth1Aui+VMCx7q8ZWa9qB6eNvK
            k/YK5ytHB+eyMpKJnTlwPJGAd1AkhOND5oKxeSt5X87/HbOH7aTKXIGF8Rtd
            2PZpgd8SBigrMLeld8PyPjF3FDNI4VQBrRfG3c8H+I+XPgOIy937I7fP/fHS
            fXXij7c+i9HSGYPm1vE5aimb2dFRtimaVjEIcAWOpP6xr51bp4kes5yT2XxP
            TGf51ttKd8m8vPXOexJN/6VNu3VaafnTleGI6xRXyt6fy+S3RvcP1dVq/tQ9
            Uj5dB7A94+oCMG6fWdIkIYAQjts3FedH8Sxoy8Vnh+UT2/EN3W1jL0cVwpMq
            +a+lnaWcj5ZUdJOaw1l+kWrhknfeMeV6v0SDyQ67R8v1SOcpwtM8r3a3Mbd8
            F3T0+NCBbTsed9y2RLbn12F+UPdZuvc+Y3jpDDDO75Es9Z2LdVq+8XrHZIp+
            56mjreb+Xc1nzGz7nK1t3L5PZtNpv6n7Pnb85MlcBEYrJdbD7uCZYoZNiWWv
            VOnXMmTrEZTvd+elO+nrxzGNLa+dticp16ArP+clyLYhyWSTc848XoNpaO78
            M0ux3xuFXTL6ihYvQmAsSO5GE4gqn59kOhbyJMflzXTPa79bePSAsmHrLajH
            YLyDZbbJklmTno7SR+nc9/r2w7jXmzIbhrcb/q0jIDF+59UU3j7e/sk8lyWN
            0Uk4JemhmzmH0wPK8j3gzDX9XgFnmfEElK9G9RDSdcZOOCwmwluHALxJGryO
            zhw59I94+TzLWw3zlwS3X3PZr8QU6kuiSMmQsaZbXs+zXOeleY4/vMPeaLeO
            QO5HyoVka0La7VkWcKgp3BQjyDyep8N8gUg3h/7WVTnPWOZm59A8obr1/cRc
            laz4AO3OwXPDAGG4SL8PJvS0/dVMPs483hdzrzFJ3cX8ZAwdNkUJMkbImWlP
            jnKquBM+At4zUxV2eZenK/2fLwqkmKNVOJvlCfIVt7+Nyty5bjKz8AP2HJvm
            Jcypludt29O7p/8T46ooB3ezOup818H8D6863O/ryN3q6PKZSuI8Xms/Rejn
            4/bDuPPSJumCCHzO2cxWIOx53TZl8vM4CaIo/8GGvGE68xkfaId5mHCGnMuM
            dX2WV+64raORrVKnYc/DH+2LLvkd/eEs/t4vdEs4fk+XKM7lD3QJzvYHXfJP
            6ALOJ/1GMTCGiqIvNHM7yL+2Su6imDr0YVihM79z8vHhk8jcFOzDsalnrmdx
            Oz75wvple8e9HS/j077zSsmHy40q0T1NEmgb4wpzrWnpuOd3zu23H98jT4ny
            9jL+ih+zT+oIE7XArxzCd/8EZ5fJpRTyxssuydrTufaZfqNuKgic7L4wlyCq
            F/1Ck+y/pn3jovmvyVQBEMYd73vlc9/0LN/dOdniV06zm66a/Zp37iHG0h7p
            PW7GfQQb4V451vIlfKCa0zuvtYJH0jZnJpmd7DgQgfYezL3CWEc7lxnjXwfZ
            irntT6Ysqu3s5WJmRepGMqPD02VM9h3mm1eDbE3vXDVMhwGkUJdfiqlJCkK+
            UbSl5VzhfO5cx+BaW7AxML5hpatnYBprnMEkWMMEbpnxq0RzUVHFK00UQOXR
            7vvO78QYkpR5hznauy+ygJLNEJiWzjq7uzpjT5qdAUjCpNgjwzI90n6B0VYy
            6aNRd3wms9uRn1fsgAdXNvjDGGbD7FJw8nFWJrp143XwMIW5TGj3Py3kBX2G
            QOwFC3x3bUMg2arZfdv3yXg8ppXRPXB0I5zzzLdjNtGlMZ9TCut55hbmbW6f
            QQZ32Tq8HMye4FAMGMzVVHzP8WHryfrHMBtLqzve8WMYpUDJQbPpvZn3QPfR
            bLnpiheG+fC6vedEy9GWIJovfNu+84xJwpzFU9aSZiMUX3mONs2Iubu82siK
            gxItZyfHTCGb32P2I86cciUPQL9txi1jHhnawgTaiqTLMsPQ1rww31URXUTL
            s7ZzFCiHKQrluXMLxAsN0CYx1/tc0rNGsXP2faQen4d5P5O9PugsxoM0uaLl
            IY3Uk9x8RaOuA+RNtXdhXV1BTXZ7ilrK50V+3O5ftW9eSLSFlZ1buPsw973s
            0BVJHjPH+eVY+875dVh833a86H6L6XHnDnaWG559vfcarUfp5wYAYXEHtv0F
            o8xp7xd7fhv+r4XSw6JuyMuXjLvlZN4mDIe+98lua7L7sO/7vm+7vn/8b9A/
            6vi3/3m6dA3xfv/y+0ku273vyfQ+3/PUZfP/2pz5/m5Hj3zlNJmvCj+7P42X
            //7+0QF7/2r/axxTLt57CMN2QBrlx7LRyt7Pv98DtRTOCQPd8i/SJiPEV6mz
            2ljvJf36nDhKczV6/HGu8p7LeaQf348/tI+fZ1BceFd/rt/mKqWfxxd2+6eF
            Cvvl+zWt/svVH9+Xy+V/1b97r3j38175078/7TWmB/xX7ylY9YqAmjKJUSt7
            r1b8XOuqKEe/LfCnsXIFtC/Xz3Pt9l47frPX2n1ufrOv+/GH9/EP7+sf3v+h
            /fqHvXivlWv/8bWuv1vrn9e3D+2A0tf/+Fpf/7W1/k/PZUhW/wuOhMAIJ6/r
            a5zByn2XP4PlWf7+d5dvV6CoCTjKrmtfGTSe70/nFAd7tND4PNL8g0r8fc37
            Wopdq9v3l30PRjfp+8u+p/eSsgcVe/7d35kOxRpE+/75/O4vfRJSTZLfsCnR
            dMOuft/HZVcwaFU50ZkUnTr6/X41u9KcTHg/2fua7P6eE1+A99MP+/vaY9pz
            Qgbl2dc3zjheiFJrx9y/e1td11//DyOUHJk= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
