<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0a5c.21dc</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21dc</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21dc</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom 43142 Bluetooth 4.0 Adapter</string>
        <key>FirmwareKey</key>
        <string>0a5c_21dc_v4283</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8668</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21dc_v4283</key>
          <data>
            eNrtvVmy7DiWJPjfIr0XYgbqDwTI/S+pVfUAtMHthXt2dUqFdMZzuU4jCIIY
            zzz8r8Mf/BePw7vZ/u//63/Vctg/d+TjyI3/oj+iu4dL13oUPf69foXz8Kng
            r66/tv76+jvX31h/c/1d6++2P3zQ/tz68+svrL+4/tL6y+uvrL+6/tr66+vv
            9NXdR78nB3qvf/iZ11iPHjFefPnox8EZ8O74/BcwNaPaw+g4+OiLz3d2OeaA
            68Qc+TxKyqlE3N/4f0VZxH3ODXUSRlJDDCE4/N/7dhyt6rMBk8KrK15dCvgr
            R2VJC1qb1Yum5x3P2RcXc6y3anv+d/qj7f7Wt77nW8Px+PB9pHGvIXcXy10H
            f6l+b/szaPl97HmkGq88cg/snUOn1/Sce/rWNa4Wkv/sxe5WXuVlXcdqZ67n
            fpWHXW9w9JibvhYn4WYc3fbeiPxAqUezxXHxfns56AP2f3271bsG91r/+y6q
            38Zn+VHDaYP6Ks97r3yWpxE0Xf2r/WNNYv9qP+SwJu+r/pql86v9OwW9cH61
            P9KINrqvdta/8dUOdpm+cH31x1crD/VuH/X3YozPcl+5DIQZn+WurPL4Xt4P
            WxyPxyhCb/Wx+P2xY7389THU1yZK3x/LhwBV+qrvkrWfv+qjFSuPf+l0tz3+
            Wd6G9ad8tXNNnVTsrnu8lwPMxNWfj/J9dMtXfay++tPiZ/kGseO7vrezNOpn
            eaxV/Rxf3w0lJjtZn+V+2mJPq3+txZnaNW+V9LXr6+WQ48IO9/wY/Nxo5LPc
            plCLN3/t0Pur/gYXd/0sx2C6nfj7ei/vwekVf3yW1+p0gn38LHdt1a+f5eeu
            /9U+4JPNw1c73rpzhIi+vZe7nNaJub/GKxBU61f92rRp6lf9hBawJYstTuhl
            deL+nPQssHkfn+VrTjiJH+Ux2tbKXzsudINT9WtnGVXAQRqe/F48D5T5Xp7W
            YmOjfpTfu3x8lrtwbDj9Uf7ggK/2+y6vv78bxu/vxuP3d2P8/d1Yf393fLTj
            ky0OUL2KHpj7+fIDi78a3Qh2jN/153enF1iYf2h/1j+Uf7WfFsa+vtrfuOf6
            ar/u8vqH+l/tz/Ygfv8xueto1/pZvsEjyJCP8k0QtPhVf81b+2pn7PpqJwxb
            nBTKO1hz/aFWPl5+yuMfyusfysfv8vGH+uMP9ecf+jP/0J/5h/bP+Htyz/p7
            csfxe3JH/D2513f/43OC40c7i6or8bP8bLbUa3Fsl5b69fLxIv0+ysuzs+Kv
            41y/PrYnJcUjfZSfDzjKv74LsPNZ3h+wk3/1h9DxvbzUB4zkX4sB/qV8nMix
            CYTP8j2Jl73z1/L4VX48J/V3+fgqX/25P9ofi1oDIyNqzT+T6N5f3pN+fx/z
            jcC/dsru9PkN7la5G5/t7x3nxh9wz/G7vKzB73aPNzbuV7lbk7J3/r7m7x09
            nhNWfp0YMpt4iq0F9pMIx9vxOo2tdK57jU77t64ZcqB3PLjQgOKI5UlYuoxl
            LX963hefU8D0HbvyrKTTReDexyc3dX5xX5uzT8fx4pCOF3f5ff/NA3fyG3G4
            Z5n/K//88flWPD54TEx5/rgvT3f3ua8f9+3F6y6g3j/uz2f4G9iNz3s3PsY3
            /Pjo4AgjfNzH8dFhcF/p/X52W5yaCg/n+BjNdc7P+3F93s/rY7QX/n3c39f9
            r+6Prl08vif5ewk+Nvkz4eX4za33r300jk+ufU/Ynqg9QXtirrhH/wJBNto9
            yj2az2sxoq3ZBqw5LFrUXY7nyR+RQDNMZ6cLzUqY8/breR5QG6flcrY4zd3a
            1v7ol8Nv557DP8bb1nzfl5mCE5AUdmwJsk7WINLWzKxz14d3PEHnvPDB6r42
            L+u4OXy0U3be9vexYaPmPKhV3VF+9HGX3r4I0NA0AQ0kaI3n9azyq07AptUq
            d3xsjnOu3rzXiVeNc9eJ6dQ8FB7HV53UYjaZSEOdbt/yZM2f3iUy9s8devZ2
            B1w43lrLI97WcyyBv866FodnwD6PaZpvL5STIhbsqjTJ7djnz8u9D6OemBHV
            uQgLz27w2sW3Os0f4HBWO6Wedcm63tvproa8xDZgK23K3OeUnXPksaejV/tW
            +Jx6HBLw8kTSmNaypuwgo/mqM09KyrwYQPR4jb2698m6ao1DdWwJ++Jd3r91
            55rEgtdOumTVGe91HPnHov54SlvP00RlYCxeddxJMSkXBnMYB+k1P21xer8X
            IfDeqG/x9UL2RuClzw+DeX/VKflcYpiPOhxP4QyWW3WGTag/3uokt+BMJ96N
            tni9ftTJswIvsh3AjLjaydW7tzolkNtYi4dZHTah/m2jYLlj1YL1cmOSziUi
            +uhzcxWwIUp0dICx6kvCOV77fsTwdn7jCG9nynV3AJE6iYCOcNn77fioc3q0
            vOukanM3I9ga1Ynr5JylGDHmxhxrJ1zaUd0WLYa3RmcbSbC1YU3z2nXlc0Gu
            RGjMwWHtWrQPl88JuNEhmwBMZFiAY+T4tqM8GLVa90Te0erUj29512pPaifp
            VF6bIXyr43M0bqOjW64Z6Gz9ow5mzgSxp9OEXkY+p7cN4mPiCeQGuXRyz83H
            vdVJjsDL26QXb32+R3rbRD7n4VWnApL0Na5zQ4nA2T2X+GYIfbnqi8OcUYrc
            gVBG6vkC8YYh4GUPVEj5QwA4CJhUbH0At4A9yR2Uw4k5y/zOf7W+dWWh+kTu
            mBJZ/T/q/1X/V/mr3lDpUOlU7anas37WI4N3i2M6TJtCrgF8HXilYvWC1BsU
            lpqs/Z68Ak1fd1mUxT/40/br2oC6F3a9/9nf8261d5sjLBGfcxKLi/hx6e//
            Phqaq6H+z/5+vnv/s7+Pd297l7qjf/L3/S5gzmGSahPZGh/331dy6ww2yspe
            ikZg7nuJnTcXOfrdAEVKOdHjia0bSbZQI3j3BLzlAB67B28NJOjGiSKj4zhB
            V7hPEl1O5Kd3eBYJulK4y11OgOkzifZF3VlX3RpN2+S8S1TVCc+jHuqUxD2P
            e/we1z3DogEOQRVSBJvAs/o435fq7/t73QPPunA3q09cg+foGYag9j1ZTGms
            7suxfpRy7koVR+M8z1wLpXEXrqoHMvgCxC4VaNbxYLnbefKY6P914VQTWuHb
            yeEemHy3n+d9A62XvKDUbHflezi1jSooioUxa6p7eTLfa3FE8aaYCyY+DQOV
            WBhMHbZT8JUUNu6BskDfVUKECDxkGoJQL+n4HFaOCxUAfHj6CicBC4zFAlqm
            Jmk6H2IGIZHtuN5oybWiCfWsPzsF66cotcbvFH3HdI03Ftd5DGEK3gFbxRww
            GCxw5kTgb16omQFvUqeCgeJajN0BpeCbYdWLBYvS1X6VCHtM16YpJDo/5eYh
            KWbGmMndox+9n9TvUkObMxYNVC2m1jYLfmt3h2jj9sFLJsDxxxOEe7M50+++
            5o+o9rxPdtBJOIINB2qXG5rrNSNbXzqBZvx5NJ0pOmKTOVkJPYy1uYsKQOFN
            EHn2mzL793oSgls9yi12vUpEQr1gxqxmbE8JuQ2k1kBoH4hYUF7UqWjwWEpm
            o/XYhTDWs3Rg8ismE83t3+BeKvqSwC57TqDKE+oEDZrSD0zOPT0niExdTCCp
            b0o+Ju8jek/FZ6skHahJAeWF5zV6ik1AUd51RsmVQP7dWN/sSId69S2zBrAh
            1qSqNjiDtQhYuHHeF8vwWmWbfEcbEvSuq9NhczXNYyeLeXucQ/XtWosDIkOS
            9wud8CQ2+BBY8or1tm0A4pK/94u7bn6r64I9G6RhnNeu10ngyT/sJPA+EsNP
            dBSTkYfj71adnRLtxIYNfIp714kJznixKzppNhze8QsME1tTXirpVUxiwbAx
            procotoBwDC+f6wTfjqVA4QlghNBfhxJgMUgMipg8kEI4wT3Y/jzaDhBweNQ
            TRwm38MkFAHoKvcQvqCNQsQpGNQ++jOU6UL0HaQtMMkcjr/DpLVDd2jDX777
            wTZvbQjOFcEpAGAnLjqbfevRCQhsoAPeT6dd2+9xxwuE501Opd0OfCjxAGAx
            /pW1Ey8QlAU9wUQXygqK89wQ2EW1nNFYrAO/A/5G5XrliW+JCGa5rDgAggoI
            6wFEorNCWwWWxUmRp3UcywQggF2GyTm8TQ7BmImCPW1xsltg8QyCMQ9Y1LSI
            wg7DwA+lBvpRtZSEQG4mcAel9bM94PpY9UrEechgLE7sMkI0nDR8DVsFO366
            86IlyXWU6Z1OXzSrmd0O2CgZkXAzrDYmyTZfvI/uAiVC+vT2A0B6ogao5xIa
            CMulTaMI9NgT8d1I8H9tZFzWCKbs/uN788d7xd5z88/vxfrjvcPeM5Xf7/dS
            +Ot7Z1vvudd7wjONmr713v3jPW/v3QG7T3iPp4yb0PBUxKL0m/Ib7ESAT+M1
            PDX6rvL+olrkOvoZa27ZNoEjN8UeneFMIAwmzS/OsOvremficIkj/KLWJAEC
            sDr0UtBAKr4NCAsYi8ZB9Y/aCyBOBFk1W7tjd75U3qNDzwd4tNXZa3WWhATQ
            WF1lzgPicUIXkQEWEqze2XbHPt4lAVH57drIIO9vCF57Q9j7uSMDHV7fYZ33
            SbsBz2uzkzKI47zLGhs4SoztJGFBapRIGQvo8si+44/tZH0j9uoK1iwIp2Fi
            SXR0POtCnoEtW30/L4rS3KJ0gVOIJkEU4Tt8L4IixhN8WwsN9jF3nvzGkxaN
            yOG4+pJsFqk+8KIQMhrEyIkryQhIeIgPczxgIC/Sj1hdtIKyTc6qQyNiUNhd
            onzmoSs3F2teGBBGT3WdT7m6DhYU8BLA4OTkARaDbAN2ICzB4v3qOBbINWwh
            KkPiwTqYUJDpIQLhYiuD8MPubHHEq20ljAel6DG9McZ0YVentUCl5dOvSSXW
            B3iixQBA5kUGESztrTmtMqQDrh/W38m2gSajKC7sckwz+0HVHSi+W33CIk8A
            YX0bYz0B18AJOM3VeOaqAFzSXDHhHGqxawNbnaMZpR2kSZZOIEo3NQ+S4jcp
            BONfmqS4QFI0TYsygTpFURSKNst93higzL5A7YCQCyIFuWhOz0i+Vsxm5gJx
            QS5XMNkkwUCp4GRUj8VBp/AZEgbBvuOAvAiusGM7d6Z3XJz4LA65C+x4R1Bx
            nWidvynCGIGSOpA/+GRNa0F23yl3CQWEWcLJWKQ1JwWQgtRSjJeISfEpngsG
            JJ7X5LMeeb1Mii154OMZuCBp0r4Dbdx3A+9GySg2PyedmA97nWeEUMJxk2IT
            4gSPdjp08/0Ua4EItYa/JzZn4330S+ys/cGjCvoda90udCt3O4rkS9g58EAy
            18ybTwkmrdsrf+O4ctdQZEw+wlXjEdaOMWUWyY3qhWg3ogRVK4IEYD6T+iqL
            QKHUjPfgaY1qw/JLllKoVxaFBxhHMjSzTBTfunfr3q17L8pxmu6gxyhqbjq7
            v1Y5hiK5o092jW5dC6fYSGPhHzLf+D75QkCZxpN8NPDlXNA4KfBsoJsbB7tO
            Jag+ztl1GKgjJwfSDQ8dxRPOwLGXgFHGvwOoArTBWhxyU2MKHGDAWBpp3uPS
            UnkKXwtIRx7bSJWRLZAXKARNgAXFccbKL0mWysFFt+uqIEsfOFx4Mk9yvOik
            dvRhOCHOSTkgiUneF4It3ePzAmf8fQqckYfA5+7Sj3vuOu541ZkEi6TEgNGo
            fcJWuR2NuMgH0ZjXbJJBly1LOGyrI+GUcw80ilVy12/itEaeCX8N4wRsWs+A
            3bLH4wHMMa8xA0/Nw8SC9O5HHYQynVTZwIkh/lzgry4iCs9il5AcJwvk+TN+
            I1iwtZZOoFURfw+iJTgjvmCDhlcA8wO58HOLTQqoAHHE2A+2Exd/AUw1308G
            llv37wsUBkh+0OpcJFFIBDgNlAyoQL54UPYduF+9J1wnEib1BFA6KFdmGx5z
            b9dGTr4BxoDVi9TPpkSiFOefu56TW7hxjrv7E1BWpDX2y32JSXX2373+fz+/
            9/37f8fXExrXl88+giTHcpBOsbkMGEUeoAhDrh/14qoXbXEAxEXZlYS6B6jH
            xYSe2ZRbARy0GiB7zwbIaAGxVe2cm7InUFuLCvNErlhDADKAMSzRvcoJAihV
            84TftNjHBIkzdpxwHv+yJwxcKXEKiJBJA0zBK5nLXzPt3QiSt1XtcpMZ4N5J
            tkWr5oI2hmRiDVuP4qaLO5a/KSXoANPAC2WAbwOT7ByNytG3CXAk5B8vSRwA
            FBq/LyEHGUta3GPCLkLTNlPbp2xRka++vfqT2B/ME6DMeG1qMnneTNiDgXVs
            sACMfIPpjLZ5bZOHJabSZiZcWmBt0B4uHl328KFaJScBIWVhJ8hdwN8wExcj
            CM5KdPEwf8avn8lRJsYnJLU5coKonlF80djeFskHTRD5WIGUeCdsihD3s3xR
            MggyBtDrBAD1Ik4AHe4UOt07KCoiFelGyjiF+NW8H1cGkhannaTyaaMYE7lk
            fRwPFqWS4vfgwYSMOQLuUrd4nACstnicSa7/4Y1ek6t5wQZ0jaIuCkXf3vd4
            P9j74+v9iAn0X+2QwOlT2COS15rUgUacHIDetnw85CBRsAN2x0htPQ1/dqo5
            HFEgvEqF2gfzll4d62/vT1BN750qa9EXY5aikQmphkQ2PpowkApxoCHP9gXh
            aT7XCU2iJBiRmF3gj4LO0sSfNJ9M6rBkV8fDd5BeyzGDLqkUnMZ7+UGIiQXO
            u3Dio+HWk7I4bkqwdCcl6vk+RbWBwqIUAaB0mil+a9ltWRoWqrlJ7M93wAOd
            F4gEugBwsn25jt1+BzQiOBaVvnDvsmJwh9xhihwurmWpPqX3pTSivhrBUR6O
            VEkRw0BbI66KPh4u6zDJUXYYrPvuMGiaeohMZUf8PVBeF1UCFL3AEzp81SKJ
            TnC4Bk1Yvqn2qvg2QKVIWPbDAc9k4Raj/GoN9BUKNP/vV8mHyczGdenkU8oK
            ApDSbp2UOdyhK59cuTX0n9IRIeDN2VeJhJyXMwygQ6GtPK0oL8paQf4C8pJz
            Zx15akjgRRP/j3q1gRXUBjulBjHD7akNdkiHi00owdwErMB4CdlBqwUw9MQ/
            jfpYbiTUbUtCIOnNdyXgBlDo1MqDwBixqwOHdcB7Sas1sXgPHCeFPCizkzGf
            iSF9lYBKyEOwnUSwJ7AVqOq1I6l2MRycSpCnB5CiTRxITFmL4XnSJIIHnuS+
            QEjOJNWDs0kqlMMBQxBM0MoJgLTVWnzHdbRy9or+g5GM7++uCc7X692zEH6n
            xPdiA8FJjwHsBSx2ogQd/fGLh3udShxpnYQKrqOT7uS4ZdAozCFuH2wJTRY9
            eT4QK9LbHMJtLiwq7qSK1hnBwA3klmEaMTE7N5vE707mGxTqpWaNNNJBzrjz
            zYhdcRJ0SYcUKgAwESnxRV6GXdmZuU7S5Bdrm/AT9zTZ4R7EZFPMQokkSGAs
            jib3Tqcxm+xkAQkrxdRl9zh909PX7jZREU89GJIGIK/3McG3cNt6P+/382pv
            vd+xeHssEzu5ZDcyuMvMacbRBgcwijwjfKTfXqik4K8ucG5C3jXJtshg309u
            YFAloD2MQR4ySkOZEw7tZJ30zMpwIsFkU6sFgiqBUg0hLwkB5s9OjhMdNKSb
            WLvZJlSTTM5mfVT3UnRi11caAJz4oOOEYEm7fbi20vVxtYmPgznckzDaPLdG
            csugKlE6GBGA3wnigcwjNT9k5LCYGRiNDF7AZJeaHLY9He0opANPgt9XCKCc
            MyjT04EDzP2OKTrUHSGDdMaOJ0k9X/VEKQNyfdcNqMvTUxtFISBRwKai0unO
            XNMg/AVB5DKt/CrnjAJKyhex+3sgGe8kb5xzoTzr/7PRyR4WbXQyu8AhvlKI
            LsnDTT9UsCLZhxlD0IYAQFyLM+uxGvMGPmRCrwkmOtBKS37PRSIywMD6SVxB
            kxQc29PgLpmISY/Udr3eD2/vh7c6HePGe2AERHlhQuqcZjG2ZXYv8JiMu06A
            2b0IPFBAmGs+uzNhbZYq0MQi3Nn4Cg4QTtM07n5KYUb9UzZGFiQ92W1MOClG
            R0jEsrd6ddfDkan0FNF3iQtbHvwu8O29mcsMelz1qoH2EY1qdJepxLaGtA9n
            /OCyGKYuxcu2065z3Q/T5zjZ+YMlXe47+2qNgZkyyG4uuwfIBF2pHFJjI0kZ
            NtZ7UqzdNiEird9+u6UhpM7n+c3yGo792+/fx1v522+0B9I+1P17l2/9SV7M
            8bH62WqScm2u/tWaZD8413hS/ez/WOWUUdr413WV93UF3x/emGtnDDUA49vi
            g7QKEpZST0zBwTET4AMgNMkpuy9k7XDkMsiqbO9L2FuNWnOEgto12LWOohAv
            ReoyoPB+ikT3lPdjz5M2y6SSMkHqINDq6zeu8fJ5LFVCI4XJabtEVYHkeuu4
            Ol0oXkUnAU4nSXmcNuqxMrhF1qd/+CNOP6ytWa/i3sjxKKOmqKek7oaYQKqT
            TaWsWXVZZL3IeDBHE7iJVp80VrklRffDgcvwThLhRlVPd9l+xylfXxIfmVrN
            Y/KsC9w1kvNjitHvmEW2S2Vb4vzpHW2r0ddvtglqa3Zpfk0n9WtRyRUuk04n
            r2LqTDCITnsB/2Ny3hdDntXXBQqPq5xB62RgnGz21Ljy3ezkcP/7fa6dVuac
            NeSTjvncMRosFnXQ2X8JLIHJMXPZbaUXyond23RGJscG4qafIECAr9AOJjGE
            Mw78zcZdCXLg6KAqA1gqgFHW8ZhE7ftGMat0LkF9JYNLQSQXBgQHAZjauLA5
            /9CGv+KpdsDBxrc2CBYxJu8wTxijs77lszY7MSCxKNI56wmGqoMWCxy/PUsg
            8sbCOYF7p3aJyfGXA+GyGgZcJ7Jkw+8vqi51IFoACjkAivGb76CDYAYwKO72
            xQhuxvDZKXwPC1qdJLliGMUnpdei5R8golOCyV16ZDoh8qQmgAjWFX+BKwgo
            UIEFn6KlC2ECJdM0/pa1jU7ASTD4awPt02lcfQ5mg2BgD+DbjE2X1+IjcZCA
            mJa4k22aRQ+wJCg9kOO5ipH1tDSiPixbbAGdpOM5zU87ZCXMFPpYdmuO5jia
            PDYAdNywjyvZQYIJ2nxxKFQNEPFN0M6st/mZnKMc75ZZj0jk4MTUpQi6iwiW
            UjdMIhVcwtVRiKgcBnYSLVkokHPjVTfEXXfVeX9GJMq+3eBRDJSQewAyViSH
            Wy4XKYL2O+7gbuqDOC4Z0pwkljz4VQLCqwLwX1l2NBitlHzb9sGWybSu93iN
            hxE68mXvge91bOvXGJ+x2VjTGmO2caRw5RyC9y9QnNacZJuLZFJpl0hhvA/+
            g5EEMAo9MhwHwAPFKKBYaP5HgRzuE465LHNob0dGKNCoDkQcRS/8etdu2YsH
            4jcfpHQuQHsgsEBGDAOW7r0Cxe0Txjop3BcFrB7frzwy0kD642mrGi7xWAgf
            l4nRnMCMNKMC3crluvnuKbvqvXA0udIBocmV6jrZCjwLgZ6M1QbLHZjYx4Rp
            td9pgcT2g7WP/3MDHPLEc7o+7YNC+2g/rvbZhsrv2PeY9I2TKnhbHPnHGwwn
            2VHkzrNMoKLAAxgj8XoZtD7Fol7crQwaUL/uuvpQNHCwTZeOaiZLbrn3A9RK
            1rapw70JSnRG8aSFT/C5BoQdyDQu40bpRQDfQe31JH8iT0bAAfxWMJFzM3Af
            EgjihPDGt7njkQagjeilKEuJm4LfJRc8ZbBDTREhchEluEEy+xSb9FYknEAg
            Z7cMR0TVfpPOW5YoLS4tj4Hbtx5K6gIsRO9xUpJwvJHvcxEExQlSCoE9D6Wh
            s9P02s3YoaREng+BskuSnRVJVfgbpA7aeSG9hskZDfhzAKE64aq267OuI7/k
            7k57MRSAQpB8Cbvo9G7Bfw6wBdP/BICe+tZPlIMuOD25/s1z0FKQ928KPLOM
            uUmqFx1CtsOFAfFRH5yTrP3jDddVYo6E4llkc/k+J0EbC1QnVgKkeaco1VVH
            CV2iQK0lE/UkEgGNF7sf5AGNMUkW8QdUjI2TNnPdgfEui88pZBkBR8gIEvUF
            XL0YRy9p4Uk9d6GvkDGWh+RsiV3QjrQrKEiJU0CXARnOFACS6YqIXTto2JnR
            TgAujdL76/7Xbu40PqQaEwtNI5Jr/fZEqdQVUVAK/IeBjBMkOlUVFCG1SKma
            x0rdNfRkfVxSDYoqzmzWOBS54BwI6UqmddGpINPWuVKwHmtyj4hqmhrCSHDQ
            blkGJTO1KHL9XZxDpne3KQO6t+fHfu7WcyABztXa4LIZYNuOVqnVdEGX+Xi4
            2quhaVY4G9bEGKsg2+sBUh84xhROEg+M5NV5WibaQkYfauEBzyKxk3Mytqiz
            VC2Kp8C0cPBXT7Kp1oKCBUvkcXI67N02qSqrfI8ELt/JZN4+6yYZlQI8sn8D
            S9eWtLsz1hfGN0+0UsjmCT/GdLqL1j0iqgAnTjD3faAfhY61F6VogzK/jP9n
            bK6E91lvv3P/zTurP0X2ZnSx5sYjf8LxUP8lwfIql8uXlYEFwZDIjEtiLVuO
            p95anFZWZKpdQS8B1xARqkyQYe0EgFIq0ynd1WSYlWfljpDR34jNJsvT2uvY
            i8odQEZt4HqRxO1kvdEmrtTX4LkbjEtjzC8wzMJVy8z2GIbLvDdYHmK69Xz+
            hvVuvb/FJW5LPK59ld20+V23Mgem/UHKlCdgmxCXgmtYRvuGh3s87L5KnWJS
            DqxENxs1Z4b+oATBqB9pKR/fJBhbsuKH9c8vC9S+POclbvKklG1xeqgqbEZZ
            0frMGuMCLeNt2d8bhU/VLDXZdmW9PSgi1F7lIlRu4EjdD3IdLFfwKXnSY5BB
            SjbgFnv/4lLZhJEiBH8ALErz9rOb1DeRuDf1vYEPG6zBbGo1cXKtjPI1muNq
            A1BulzmB8RHvrEmIa3HTWvw1Bk9KTDY+4c6lgZo0o3vCVm/fk4NXGPhCo/mc
            Y/iI5BrgQ6MCGmPr4U4kl/mcVFkYIaI9T+vyVCOj53iJHw7V58ImOnCx3ClO
            y2yXBRqwUBl092dDlHdwINtQkGY9jRZ6WW4XbdJKp/IIL/zjRB2l1KnlnaB2
            zsDIbWcU8iPfQUMtSiDOE8CKem6P4x5wC16j04wFm/cGtnDa96SUsB14GnsR
            A9cv2giAIrOTHeyEZ78shhiXEPdxlXtvVx4AbC4cj8JQZRRaxq0vQZlvdxPc
            p2ADJwC/Sxy3nAW2AeB9XzoxVOqhVAERLgBbM4x3ssHm4dhUmaNrCXlhKRKN
            rDZZIQgbnjIaXmGzO9rlpbyICxTRRjplHKbs6RdEnZFbsjVZK9F56UggdzkR
            3owlZOZK1qyI5xjU0GGHlXDe8gHYlAu9Bg5GK5iGsKM5x9P4gZ7TepYBtHu+
            OwcusyvucDD0lV8EeXouh+3SbUeD+jmW9PY0DafZOBCgGlg4NEnzNrCwrXto
            /oSNIT6KE8XfB3U6FBqDZeIJKTRyjRLLOD4HETFptBhPWmmaNQ2tnSsYROwb
            QBIs6LkNEC/61hTaUoCaMxIYRGOl2SPaKkELnD3aq0lsyJT73GWcv0VM4txF
            T0tXvX+Utr8fnu/b4ijI2u7M5e9Tnen0ZMMARcv5QMP0907TO411Jrj0UrbF
            fqm0GyvZOqqdyL2D/pWwO4r7oFMCvocujdi1cgcxmy26R7CTIHo/vneOm941
            j6kWBwh8VlIC1RZJyNwj0yYAfU3n57t9oq+Y0APnYb/PRSKK4GbDqTjJoLMd
            d1ufD1leeEbC/GgLYz6fPsTVh/Mc29qGJyjRySsaqMRGSGyLZH0wP91KO5LS
            lgkUrZ62ydSgxxz6ShuCJb6Z9M+h9BOgJ1gjNN7AF8loUFq7RBpVDR/H5oH4
            MdJvxQwhAC0v42LHcvWIb+/E1zuSHAhBYxOYqet01AGZgMDerW/v1rd3nZnI
            8ps4wYB4F2MLZJow+eV0td/j2fvupzPbJ8nCnD27M9Xt6a+TtU85Jy0ALIu3
            uV5MJV2q2WZUbD/0i5Z2bTGcUY4hifPJetwc9KrzneLU1xiw2PeuA7wiLzzO
            SV9M6GV6GcBl7Ngx/T76TrCQ8jUwU/TJNG5XlE6mvp8uMmp4yhyKMLXzvst0
            z6wr2U72lHFF2oC5K4NfJLgALmJHw5rsPREyC564m1YPi97/VM+fNmFPKBUn
            aiiaP44CFQBY2n0YFmz1jqfGm+XDU0hCypA+4jc5KOfo/YDF6qZGp8UOFk6c
            POq3axmERJrDN7NjQ/1WhzG6qN9us+HTZCeCO4LtefYHl2PHEMwmhr5w1FxK
            2dcT1cFymaT8Yy0OLTxoTjtpKlps5Ru9xCj2xp6U+roZowhG3svSUvptf/lT
            nl9DRr2dTAF9mvxwddLQcKAbjly5yGsqa3BCnvvT7InRpZDBTQSK29Pb82bP
            ybbpvtt96JPinEhV8VO32DPfV9267u9Z2fYB5nREwDtsUfCnp/rara+KXUOz
            MyxS3+05e9/RP15+DBfFvfYsrX5V0PHlrdwv+2gcsCwLa6qR5fZB+4xG8zBs
            qpcdNYVeIIXA1xivFle5n3WYl4GMzDixcSErW73oTCm6FqauhSGHDYztsT8K
            rTrvnmX2BEovDC/PaHqfkbqScQi17YcvlQwDyOu6zJtu8uL4o3WLyPUZSpNe
            pBOOm0qCcS6425IvHaww3w+YqGPxGfSPeN5voXS9fz3vcwGNJXi9r/bV5rCg
            wmXxG5Q0CIxTol5l0iTLURIATt8K4vscvkVWgNxi2r9P6tQ4hufeJeqcaLJu
            5DU9CFieaIO7vDhG7DE0ioaDLIko8mqOZmKo040JlVjxUEUGM3YS+OGY0m+D
            3jIy6m5tSPfi5UFj1vMtg0nQJAormSHfvcBMO2zQYVi81E1NybjvwEk/6eR6
            03ukjELO25ndQTFzKaIc2r81Sqdp2mMIlqE0G51by+MijuUf0l76jagxQY4h
            N0uVm/0paT0FoqBHaUpLq0+ZjQ7xTDRsAUAGlGhugIY9wXTcd5/BxP8OoIrv
            uK0dLs2oQfAMpwsAuV4OTy9iReR74udwfk55I1RKlyLB87D5pUd496ZDo8f5
            Uz6sfjCCwFsUKFocU7VEltnFyJ3GE0DNnQYJvoW8AhGeJmZ1hM9mB7UyQl26
            9oPGm87Mc7HTImUpFbufuyo1kNXd06XdeSruqFqI1BuQAZ7xTDU4/R7apby2
            w3Qaz5XuzJFhiuSGTqWIl3KNsB2nXn2jxEu2y24FmrpMwhBWeO4wli/scjmJ
            q5x2pMJZw1xQrmjGinS1lzLsMpf5CVwYL/noiLd5fpMIoeqblsV0n0EfGHJa
            8auy9GHn8iulysOTQaeWndtaFkvrPhsTSlGrkX1U9shnXoF95QJOcYQQMT9O
            Zq5SbzJMJBHWjqGVJiXBIg0WwqPZKwfRqw2Csr4arB3+prlqGfHaDrDbYWt9
            d+s3yATG0c4mz2PJ2M0xlqYBJZl/jt5JThKKYAHfM0BYGujbyPTwbsNcP4Ib
            XfEPZPVC3iu2+xpFrinOheuQQmx9i16W+1v2XnzeI6U4JKZCmb4Rx/Ms7jaj
            S9XGfNNuAbhJBoiD7iGyeQPtDYJCi1mfxSxYzDLX4siW+jSExsbo6pqSwdfo
            svCN1BsDnDsnIxqTmQlfqcFphRx7c225Vjg5VxUGj4sBFApNzQBmHEOWX4pP
            gKfebWZV7RAxtj8/0zf965u9l7brkhqs4VWXCw/e+jzpArbsoi1CKe3WYjgZ
            Z2BN5JUAdms+NxFAc1jcy0vvpmXEaUyqxxhDidIOh6iJbvg2pmbqdzVekRGo
            PMfIMV8S/V1l/2bksnG97rs2y1WE45IMLCXbZKSP5RMKHqsq8BLNDhl1hQHQ
            5M4BKqSzIvA39f3gnkF/yN00SL0KzpvuQ2thCTGjOGPA0E4rS4I4LqZcOCRK
            8HxWOWCLsSry26m9U95xt5Avyq4arF5iEPdVFlcZg7vV3NtyDaHpMO6fCa9j
            TXh7qK5nwtkOTwGxP3cypSB7529iRXbblNzEqI1IrszqgOZLFoKRkFvBFLdS
            0Rk135bAddsavJtObS8HMDaXP4wJpgZaZSWaT2mWjfk5F86xuHyU+2Bir0Rn
            rouS6SnP4lNeAximzJvqLmvgi9CSlFZPWblbYNkOXYIzqXK8H+aXgy/w1YUD
            fzEIeMoStaxdXgViC7iIRNdwHHW0kdC2woWCf3jK/K0TEaQ7YQD63Ch+2s/l
            uSyGMktEFE+CvVw/6rhVp646FFSm00kOqJmfNh7MDb8z6jLAwDxpYiW9sgke
            4npnjF8Tn7i8xctGgXjQY2uOalIV6nMYAoB98dVwFudp+YTSo5e9IArgbq/6
            8P6gNfr5sf2RUG9GjShbFUudJgfYLrZzywqMZfKfZHklr3GbwyGfF+L3qzF8
            nX074p2g7xw1MSKMeUcXs+zHZuAo6bLntlyvLpXvY1iOl/uIE6clkxChcNO1
            4koDwwrKLQbBem4QiniptqMP7xXjBeKYnqnU7BIHUJmD8ozy4knqAhdEoNqb
            7FGmnJmWwTelu01xchR7pup74N9PpwgfDBaXwa6qTRBHCnTr6HkELhJgl+bA
            b2We2llSjSuIJzPF8JwyFgzAHjp6zUmJpGNUDVaMLiZRxOFCMUaBLmN/5Zkp
            FQYQx+eZkwUdBBkG/mBcx9QCFWedorbErmOV92LkuN0DmePqqKKUyF5Kh6c+
            y8+3+uiO4wagrX+5Qemu39rtIM1B6meKGKwOpQIiVetoIvsLCROS6TRcG3Rj
            HFITrL6Wc6x7lgP4Ofl6Xmr7GqtMfVE9584slqLZs+Ssvcu5SyZQq70Lw5C/
            Ubd2GSjTjbF+97c2LMCxLU4mU3Eea/AfH9gdbl8dxk68d8PF9bd31dnyq60f
            nW3qbPsnnf1T//Y7/3t9UzvXj3au3c7yjPZWJzKCx3Pvjrzaeb3D32/juva4
            6v3VTv3dzsok4RUG7v+rRv9325HpficoOUhIEIQAfDI6gYEQpuW5LQ2P3CPq
            uj8oO12/uWC7/M+T/9kvSd/rapOIucbE9BjhYIjTRsLhaZ+n0Ikh95ZuibRo
            EPFx8hkZWIWRk0PZox9aAYHb4gdbM5ts46sY6EVKP4kk2nGb+MYLNc2vXcMP
            CmSQGQUdZkJH+x0s+oRbvAmOBC1pKKphB0ElESQRM0w3yK4Qf93AltWsb2SE
            pxry+8AvAM4+1rNh+GaDGL6z4L78b9h+yjGe5Xzq6xyi1tNGf28jn/beUFsZ
            3BoDbNDn5OP98Pb++f7+ePVh+L77EIClTlnlrnaKtXOOt3bWWDiX9p6NZ7+b
            y5/fjYsJZcSU462hazXU2IhjHE2wdN5CpGQbzKCyKEncQPie7N0zrYXM5pEN
            9vx6r/dffl6+nq/N4TUoIG+CRcbs6Dph1F6FBze006vvjGp4LsqLpm2MQxSL
            ooCsk0Jp7CABQdMtnhYqs07qpC6JgW4KfG95g88QBjkPu5d54qDfL6guAqBg
            5r68pxEMrtIu0JqHnHbieyO1bqbPjaQ1/cyN6fUMw0f3adciBbhrceifsytT
            RczKTq6oblDmczl2ipYQF8jq65S90lsH3alMR+yInJysk/GMKdN6ZuD6o5O5
            aTGeTqbVybQ6mew0Pf2Kq19R/cLZTteS6xG0DJvIaLbbBmIE3iLFs4y8amBm
            MO6aqDrZ8U7apbFvtNjMPVcz7mvyEogG6bpkiQyngE0hiyRaeBrZr2Cw5cLO
            mKZxpexw/wY7cjJO0MWQsqs98OJnX7+pM1LdDGpr63gKqFrGFTA1tWdyOXP5
            ph0eQ6VYBJy8fzNyBZm1TjpfJGyXjzO1gz6DC2c97CF1YMjToPNjoC772TWw
            Sik1dyc64pyZqrLTtLUHY6QJqa3G0ikEpRyJEW/ocp6omXz9ZttkDUn32veW
            aB9U4qIen8BBJFZJskuek+lXeFlQxisfexw9Z0mcGXoxjMm4wdRXVn7vNE0u
            JoP2WdhMmlTzQuiO1jn1HHSwdDNJGk0LCRrK04AxYMKChMV09y3UAT1laYYd
            hXGw1MtQUsb/nBO22xYpfWah5lfldGOhWuIxls7b03WPQe4aO0BpubmIMwIf
            bZVkmuvkRS9Ru6/4Rk/xPM2NO4zIsFyOwSHoOKuJUWIBm4Ry3WP4S8EjPFan
            1hQBjSj3CpQg8gTscka5UD8sFijvD4Ydk1Ke0a1O2vbL5KquEGTB+hEYRaq7
            cIJqlNiF1j1C7sfAb1THDqqMnMDTQ/9RBl8aSQvaDamnW5ZUQcozU3+gM8cN
            SLZOI+ANLUipI60MYiUnZMrQmDPufkWFYjAecFGP6RStn8hIB3q60Of1tMVR
            uHPt9EEzA3Cq/Z50G6F4Rfd53ft17+0Yumr3sjWoZrtWaKpNqxjzjqdt4Y0O
            NsH/dJ+6HowpgOme0zGq9EEKxl8rHY9RLVgZ2Ze1Rd2kbtYu+VjXaFcHNlPP
            h9VPqxxYwK7bSibZta12M22F5d5n74OtVyTDy7uViMusizBffblNprff9b6e
            3+Xtd7OgrRghw/qJAaeqz+YJxM/ADju9vAUtuJNAL8Bk7pIPMqOAJNR+L46Z
            /cnsh8y6GsIcDYbrcpdpa4714nsj+bwD+EGdLuwiZY1k/Ytx13YIEqpNpOWT
            +Ya7krXf543vYvPRlHZIlf/Hzu7vMAaBLF1xeke5pAJkm3NtqkYDjvbRZ6wd
            14SUJF28TEDKstWm66rvjokJpHW3nRQcpreQLmPJCUFmEWqd2lCHLcIETQ3a
            6taEk2hBP0r+6yL8aUyc87Dey9XmxGw2bHHm2GmpviaGk3EDYu6BUOg/zNWi
            DJwi4W/K5LA7cN/i2jW0GqK0Z+CIA4RQ74aZbY2TontqG8VdXbQqwcJGxrvw
            TB1GMSMtE3FSee/IDNAqlA37FXGDNDotH+iCocy6XuBJ91GbAe8z9qjhmHRK
            tsbkr5IFupBKOvHH/5jJjlCBk1NBY+PcAMR5v23i+Eez3gMAy4miu0sYd+d1
            XrhWgrEsMRQDn/tUimcOW/yBka7XfhZx+GkqNVqnkKqVSGgVIs3HZpM94UG5
            XTTzqc3nXEoIUDaz5O40KSK5FPYwUfT+UU4mQYLLu4FvBzKuTVbkTYleQVVk
            YJK6hZgPjD0mYPUL5ubBCLDUQnbt+svdJ0M9NuWMrQxgdOmsgTuUzZnM1GSr
            7C3y1Mlwsti61HgfPTDetKP1MF3USUVL0KmwK9nMbpOC9KM934C/V7Ahhoih
            tWo/ZZV60E2Qpr232efRXgQb55TrPc1tJZE4lL5Y98K3cYb9DSs33ZDKZHFw
            Hbv8D98/7PtEL156qmn+Od6SJtICxB9ybGL8SgUBXxFkuWOLf6SoOr5EircQ
            uyKWq8Oelq5GHDQKJM2G1SZX1hliTulXb1eaXkr5FBXfnuFvZ2Boq0qNCzWf
            9M+/wCDmGpwFJHLL1rqRj8B38fuglAE7J4CeViQnxQhI5r7OU0bhixayisoj
            3cKoUQxODN5s1W3K8eJIoOTDxr9/8113yWxAHn5RFkI3CD30rdL4TjHjqtop
            lCFPazNLKGq/hUgURxULH2j16jRWGhyyHbNH0Lzw923iGwJhYko3NVjGrqTt
            AHYpwTxDJgZvYYUxApm3Xsn0OAeYO4UcQP2XtxiVelWn4yb4+vHhf/UtWrPs
            98HH0Bm4WqxAydoABCoZ0nhS2qUkCF7fOOKoXESquC8xhaR/bPEYJ0a2AX6N
            h+5S2ADRIuc+C8Hf7E9m4jXzMXV7MbCLZBJscJur+2PRqQtbhElYhMc5zFz3
            Wma71zCCA+SaQm+1066gOINlfbF6bazFuYyKWTa/i7rZVE5e10Utberpm+rZ
            VNOmfja1tKmuh4r6orZmnONdttTHFe09e15XO5uKwuSJ30qM5wmyV3FigA05
            OfTawIc62UouKp8djJjIrzJ9kemT7uNHf92yyfNF0QoJLWi7M1z20hVPThBj
            Miow+EyuGfvgygpsRFUOvnfJHg3fnbfyJCRznxxAkgeFMmzDyV+UUb+nxa+j
            iVY1R1/a0TH49zLHDYQUh6KuKdWVfYSazKRQdwyY84rlPBY+UfpcajkdA1uB
            ccoWaFtXWrIomv4Nrioq6qFsE2SnQH8s8RBVRAVO0jbIIAFBK8icGRoG36Ij
            O5eK7sH9xROcl33rbOs6bdAKW3LQ3CSSVHeU+Z2njAcZOpZe1VP9YD8Z36qC
            e8AfDS1O9wLbjCHNfniBYSMISCUSJfVhzzD5DDj00f/e7Fmw/r/sKYzXocc6
            1RQMNyl7CgUvKju0JcFOaBSFMSDUypgXvPxzLJli2/4lFumWkWcZzpi4KOKM
            3TS9oGgj1VpuMKEKLEQU3+i+QW7josnTZVbpKyIUkU9yiuHctwugAr4xKrsZ
            x8vZ5VCWXT8Kw0jSIA8DBRnLPCpMEsYDoQkEo+0UZ0xgz4Ntu0gnDO5gxjws
            QMZnF6FgcL4vmH9IKZbJjjKPABiPnxsNEJaG0EzdIXBOBRqjw3KsVG/zngQo
            7xXTfVNa9DSMNjZGnE+OkRDxrTEfzWocFm2YTQ/5N6x7Eb4YdbSIvrfpc0II
            K6Um7ciMI/U1XOCs+VK2cpH8YU1sljQ6B2Y/y6JSMvESF63Tl3raotGJMTOM
            rzPJAUlw2lMvooGUTvESMgl0OB59tnFy4Z21YfL806gim9zC8rZ9PQ9rR2Vt
            ld2yQsXuRv/C6hfapDmw+jXf3lWf6tz24FRPDEq8qeVcqRKZyUPGJCKtKQq5
            sFsUqrcGs7t2tlDeCJJ+NglWgfyFrh0dnkszX9dbulj0qxsfJVXIedVyUhUe
            LRNpW+HyLdsVHg5NflEw0KFGCiGjOfMEmh9IOaZsyoOTGW5K0op2skykGLW2
            PelRDonZaRRT1iJWRoYoJ2AESoB8ieqVkxPItBho4rMM/iEsMKkro8JbrGe/
            v5OpuDO+R65UQdQklockg8yZuDPoUVUC7wnVtgFHIBelDN2KW0lxS7MMKCt4
            HZ1TiYl7OXzdHhTy5iZMGT4wzgBoEhAfQB+6+sOuBH8poZvefp8kYn22aCEr
            VFogmdAvhlWhPQOjURded3IOEEcunGtx6J9DLzZ6vfNhvoMkwJfsU5e7XDQj
            u3us6LcrzjMjultAn+My30ezPmHMQgX8Gev5Yc/Pdd/3e3Ndqz3Pw64JwM1b
            dmJ9rzerdx7r/dUOE92aH49d20qUm2iFfLyygNDOIShmhcC1gtRpeGGSgmyi
            NqUvAWiz8rTi51h0AJqEvZXLdMtbubwcUJ5dnv4x6cqprvLdjgycrR2VP991
            9t0hX9kp+41j4ZzUduoTRUU9FC2D98PihiaGM1Fki0sOpYm7uzDUow3Q6uyO
            Xczml9P7h9hW/G77bUDxDwOKfxhQfBtQ/J7INWH1eyLXBMtQkQtCLmu5qeC3
            294KY22ux2jFeJ2T0nD5Ecn7kbn5DlFbx/LwBpkHShE4NQA8Me5SMqZUDmRM
            d5ewdwIOSCyKebA3kRzOGMvBorOL6gMYAF9vi5OT6UC5DZtJRO26E//QOJSR
            cYleZXCt2DLlONbKuzW1Qj4EWSfdRVY+nGHmrCFaLM77Gbw9fyJAWcQmUUa0
            G/OXeXfHePcPL7pFrFDYJXETGdBhep3GcMXjbpFOYPTdobnV/l1f1J5s25w8
            KtrOLlUAKke9hyxby923uwn3HtuY0xIc7kxYlBMRcrAvZH0ZyM+vSL7RK7A4
            wFkMLCOdo8Cxys2aZZkqC7oN/vm/bKa4yqdLxzAT34Rix96iVKyPhcSogRdA
            gtI6Zf/rwyJdSS4rea0yJykeFHvD312uyrJuVAeUfYydC6sThzSZz7sUDe93
            K2VS4dXZJyTXjqzLKLe/I+s6RdZ1FllXk0K3XbN9uzZl5R04qXY9k0ubt+qP
            48lDJykBdz9Ot0I/yrXDVcxLMz/H+JRjv9WG9+UiKGhAQY9fRNBHcKYdF5Qy
            SerMarLNcoIvWtHoWxapvRbnWrbSpSdVHIXkztkYzVZGCumy3dYIyoCEo0W6
            tQCUO7Jgu7P5Sl68liQPsnrNabE+VwAFPLsVqOFYRn23Jsyexa9nFW1FRx3s
            uEA9dvpsXq/Qw2e3IKcKHs4UK9PC1ZsV6YogmF9tKlw9E8HSO4ARG6+3+qsP
            Qrpv9clVqv4Vw9MXr5P6+V2LZK82gv8ch8v3pW+tPHAKH9k+64Bveo210v3F
            Fkd8DOaWc93OJs0hzvcMQBiZJraJlvX3moi3gfvzcyC0ZVd+HOu0mT5ZNpGn
            U+76egcDEals71CUEFbYX6vvP+tTwvhRP6/6q0/H12L4/lW/vCZ5nJpkl0jc
            BsWtpnNX35aeDI1Dd5OjyNHJKWC8W+VxRWbncQMUGeu3Im9TPdlnkLXsoRNx
            JGdmvFzqW+EnhxLobiVdLLlaRF2SdaWWxefw7jD7TMHAtMKCMASQnGnJOyob
            U10gBTR7wsnaXLWlsGdkTE/+RHGlt+aQVvODBtgZ3EWfVQwhv9KMOVQU7zyl
            Ty9OPpJy6mXmya1p7CkO/DV5ErXSlvdXkE9pMY9nMslRcq8zmKD19LLhZriQ
            Rqa1mHkTEDDxIvFLNwdfC7RNoLNsvuWvQ9tTRgB7XPoxIdneZeBueaNFuz8T
            bYuYQiYy6gdVCadXHKDYelgWRnJotaBJsQEOKlgS6BmXEp5NW3QMqisnQ17+
            OaGLaDitgSy6DXzuuu9V0tVjBSlljOX1zFlZk3Vz5AkjaiKvcR5mUyDj/rx1
            2E25Mflep52XcITVvfJNb5lJEGN1RBRL/2+8YYwKv8i+DIoQLm2mIhkYs7Dx
            +9a2MXsp7YXhTq7r9zmocMOGajs/EL1A5c4/xd/1ndfGKE3FLai2aa5L7v3M
            qvd8WyZITAjIb1Luhv2eztWGK015goJNNueC7ViOB7TjKTgF2OU9x7NyQey6
            KwsIcw3TBFDW+V0vTEsAMZhcBvgmZbqDAFy3MyT5xDB+KrlQTOY0owouAic6
            NnMVpwo6cWqOwADcc51KH3tMhbCX4Q2ieUBXCThLCl3BtxXquzFfz/LLzH2e
            399hemMZpIeoQML1eL5BQ/eUgOu+36GmMVBk0/RNp/dcSTQfZkCIUF+L48pM
            QW6HGCcdcSUNYEh7GaBQAuFDUuAK+psOwJYQglF/TBf0Ue+wesChY4mocAKK
            DPL3RmdqulFfG98tgkAE/t7N3ycgFGW1EC1OZbDt0OP5OHPqCBxNZohmXHHL
            sMT396njrh9eIeS1Q1+nw7sdNpinVTHpaLus5+F4ngGm7TIZ6FFlcMhtfZBE
            Bwdc90lRfHHzygu0ayCYGdfdNwgtNARodIrBZmSStgV+OQaXz7G9sbfXdax9
            WWgep0UFTjt6sBh/TLdJy6vFkTuP/dzqi1xfyZH4WxYb/J1//36yLS4+Z9A/
            594BgFawunt1cka7XstlnOSs5JTNnFPlE4XJcEuYCe4zKaQjJybrFI4IBm1a
            GMfD3N7BhQ+RoBb+MTrTk7RjLKvQ4zthBDM+rcQMNDCR7z6oUFoCKXZCSi+5
            muKsrcR8DJan5wyFvwLRBSFmhW8kASNrVkrgQTzg93U87S21uDun/Mp7yhe/
            P0iJZoVpUbvUDXFDK+lTkv3coY0NXEQhKY0Ld+wGBsNgwqf3PsoXasU+YPuN
            gQPXyWFCoGMGxmsGntwprrxlS2KECpCf5xMDgCHZHTPZ0wGdcSRs0qReYODa
            NdDLW57PKNk4vdyLvJC4Y3NTPLKVj43uecexGT7udCZR2u3K5dAp1RbOC62p
            6VshtUSTwyuoqFPZF6lgE0NslJai3N4iYcgjDZrCHoWmwszDeb0zmZqQqHie
            7Q5Uc9O4rPbOPjMdH02zbFEBAKmEZfAoBrmv7uG/pkx4Mt1BQPJ/9Lf3z/72
            9q/7q8DRS3xDK67jvfOkuT8CMjR6W53K36YAcmQ0vJ/3YaeFPp2MUkt53Ell
            2gorf0Z3dsCK4hhcF2UNcMNCRrL8OtmZw1IPM2bhtKy7p8QttFJe96yLY9jV
            JmMbvjGk2LqjSq+ifDaV6bZ2dJDkxU+A0gMeRv/4PcohW6DjnIwdB4MsrCSB
            npGqqNR01JwyohMmr0WzgjVAMrmY9PC2KCftCXIn4bBOOe3PMMK/pqVk5jzh
            nUmGjrT1YngplqLQvNIydjuY3XUtzn1YTBZKarIsO8spx9H7nhwUJccUOVCF
            xHIwVZYMNWJw6z0hSypPaCn0SifmuLC5nE/aSfIH+x1y6goxD0KXZYUBjRny
            dxEJgsey/ZLIhmIVBbVTVhASLLdSWIJ0wg/aDw5DvDR1Tp05hJkToMQnXxr4
            C9W3/gvMYDV1VQ7GBSk6eIkUl8zMaVzAwxaWktH6cO6b1A/qu1OmKoJ1qQZW
            HWyoJiew4dx+T1LpOi1mqsoYRDZ2RWskP9LKEGUKYqEvqfR9rhiEz4QWcvgG
            ssLJ9CwkJwGvvR1VBhILTQ69hnyDcb7Vv8DIO9goRNroGMOqaiAMs/K2WPTk
            lAYy2vv9qHKi0mk/pOOgGzITOx+bt2nJ8A4HyHYuN+sHqGIKZXcSP7fZp3uv
            O/Nf697gutzCawxIp2glUoid6iuet72p5rOBzfu5T2MbBk+eJGF0IBNVW48X
            mpCZ7xMydeEgbVKQ0gqFeN5tC2ZXdNyoXeotsOkTeJQTQN5VMZMt0nL1OH57
            Uv1CtEezZ9T27RPX6fxHBWhi2JB6BjnD+PSeaG+npAQckeqhr8QMTJ5ikfss
            NaUyhEnnvwiVywiTsfrlxuNuWLZ/vwXhA0GXXn6mChbECMamx+mSe1k0XW4f
            0GSFro8hLqUiiFy1A46DJlsKUE9hNGEnYFeqi+wmKnDyF7VTBwKoynM7WQy5
            rXRcoI+A2eK8DTkBG0FVFXbfkYACsujlAptq1jdRfL5iRoO7oKWx+BiS01Pq
            XXdaXJomTZ3MyiSZFbx9HFuXallgwcJIylJSMv3wJklg1Izk72VbfQuhk+r0
            2wAjljyW8ovhO0hAjJVlEQzEE6RvRW4ixXbcO1uttK6JlBWRfGXsszeqqq2U
            lQ9ll2yDbeqtHAaumb/gg5qKn9RUIr+SmKLSWIxgVN0l40nXqkUmCY+2lc7A
            T4SPnWX3kuB4SeQ9Db6TCBP0md9eRoWRgiw5KlvAIaV2BMMpHXwjF/QEIpIe
            0gzW88oaSx/QTdaO98FHi8YkUCUu05LYEZCTC87LBLWD15jLXFeuFlRHbLK0
            Gp/DzdFvuRcR6Sa/JunKRkXyNxBtxwCrZHPZkkPQ6oH8VTS77syFvpMW4FoU
            knveLxao777qQ5pLyJtXBKgt6CAIZVRF39vGZUyxy8Wa11U+yHC8ex+v+ZG5
            2GELn4rdX4r2biBOe+aklSxN+NfiTMs8Rc2qWbxbfADFG9AktPvc9s5z/LUD
            55gPvqAysa/fZ35l7KDNV5OBQhbcpdvEg3fSC0S6laiVlA02yPUQDw9+euEK
            ixkqshslBu7OuEN6offlxUxeRzcN6s5rcxi4fU4idi/jhph58UpFVihXI1LF
            HFLTGncIM40d7DJjb9iGFE9tsjrG0j8sarDETcpmLaa5E0yebsenfuLAkQGO
            93zisNFZwJjQGCSGve7hLCjbrYBsXce8S9hYV5C2blJiZZe9PQUkYQeN43E1
            xriZvdoK+6jYl0ZK+hrSqDMN5nXC76gQyB2sX514YjtwOdjS1am/60F+tQN+
            Ivxqh4jmT+1oMUK8n8ge7TyGQqDwFBDtRIb9cCmaPDERqIQmhVugp3d8/WY9
            GiM1IPJJRSR1yhEE6BDusKjAJ+NVS0mp3zQTwfeBDxvt6poE6vSoI3JJk3Fq
            G+tVs1sjs0DIyPzAZKLKpLnSWJVU3ogBFTusimWXdwcmuSXmyokH3RMxc2cz
            t0DigCiNNI5xnOFiisqjmIeYt2zxT0dvGqxTdNC1u5j7E+/pns4Tc1poeta/
            gtMVfIrTN2yCz1BOSayzW/nOFJQL95S3K76av2UhwxM9FWBHltiWBu1QrAKa
            1ul6kZNxlZZAhQBmKCgeDXxXLAFakaZJIsIpUbm1cdW35/3t+eUU7+aoI9j1
            Cn1oURWfWm5iIDwSLfArc90dctHvC6wlywEu/VFkDhtXZqDn8CRj5+8TsJ8J
            E6jYpS1TkHcW6zAmQBUFRL1HI0Zkx2juRsUS20Cz27H33F7OLDMOmtZiIstz
            v6IWgzFliWDBRTdGGWO9K5gBeV2/iTIeP09G2BA1ZYsJamnS0RgLfDfK1+jC
            qchSvcne+Vbkj7td0bISEQAlhfaKygBFgqgs3Q+ZJ+Zfw5KhL9fMytfmVQ4C
            CLS12fIRKupqYZlHcpYkNh8S+ygYX7inBLEMqryY+UO6LJlGMfiETli5piLC
            L6l0THYA/ZjnazAKudsaQ1BKlkVYGsSRR+U8WGkgn0HEPnk8NaEkQfcgaCRX
            vcU7Y5bDzDxtTZm3k1sDC2tg5YxTtnN4MgLJWic5CsAgWJbS5dqHAVMrDFoB
            /KOivZ+dSSWSGV5h3xUtcgRFVYC7ui0cyhvLKfpnDAF3zRCPmBztD2hoSDEN
            5gL7vJEF+LtJf052p3drYWQd9Q99djoxrez8QFUR051svb3CRnqad5nCr3du
            8pOKzSswOVc3O8FmUaOUw5L+sd69PXxfdez2kUJU6HVM/qSwUpNP44uuxQlj
            lX3vDux2hRwR3AVapvHh/o51hpHbLTCejBy8TQKVajzJjCLiabUelHLLThAt
            GdqsbJfhw10xkf/+Nk+JVM7ApIEq3Us7f776wfy5r9OGoz2MVymNLDJPKHPy
            yMH49uMOr00b/GvTlsoAsC8bbOEzNOYBDGsnmxWG7OkazfPM22IYV1mTY8hK
            UcQWnjOQWDEcR+6jLZxT7HDfTnGpaKWA31RqbJjOqjRosMGBNB0XuyDKSaAk
            SnCuEJP0dGLH47yvMzEKpvnT5NEf56y+ys/ONG7KQZAV67Mo8EIiciYoVqzR
            SAEKsQDwSrP2+U3KvuSpjSnR5Cmg9g6BiYFekdpV768pFQQ+7HVPo3Fym4Xx
            RJeVKzfm271OxvoOKCzlLOC+jwpTic11X5irGJY9XrbEfWY3R4C+okfnJdVf
            cbEtN/U+XdRcfJ2wtvt5HhEMhi2O6OuxHnDAnM8BnML4Z3eLnVaczCkDhIEZ
            7hPXZPWZegVg77LFwTPTXvZDsB37acqbebkckhfQjsPo4lpIrIzyZYLcmQ/8
            bS/4e638PXQSPrs5HEkZdoAUrzRBVyzoi5vlyoa35gB9TQ+8t/axsf7afphP
            m0nhLelUPoE4jWlORho/CwWOHmf47Z4xuK/X/Xnd554HcoQca1fwcfVDp5ly
            wNaeE1wTZXJ8Xgzs3ufdCQHmkhA0+ecwtiYa7gYOFM5rkFNnGmJmju/bCv9W
            MCQAt4MuyAwcELqlpR9FWFWOVCmIcZTvCz/qz/tMphIWp63n5e154MDPxky3
            wDIXnaFoR81s2CeDipN5uEat+aqKJKdgld5sokE7ZjolsD1lnmfWK7pPT1dI
            docYcI10uELbnSeN6muMFzQNcU5v2us0TXtbUPIe3wsqN/ZmECRMOY1b7mnX
            0X9T+LlESjYyzJPUDXTruIu+U7mZ6c6r3HKOkuy+REjL4+CSlKXeaS2O8ueE
            5N93P8+siAEw8AzbKxOTB9SAvqZ5B+gf59R5BY1gOdd1gzdOep93T0pvafp4
            lmELdXLf7/XQbs+Uh8Z5bFi/TJBITTu5JC7YrPTDYTKXpNcJbE2gFP2eNkjb
            hfRKEx5623hnWhHXqZS9XpuvjCvvUyRw3mVqlGiH9v6N67xHwRnVPK2yhtOQ
            aTy54sgxQn2JcZiVvqWSmYfJ/GklKWjCQLJ3ELgOIPvjEiGli0EJMS6TSgNs
            VUv6wx3Nj41LA8BipElB5p3uZgl/SG/R+3qGnL4mC6cnV/P8UiY5s8aJ/DAo
            PGpKFXealj1Kqewmc2YO7Vh5utnCgRlgmgq3+yNwMWzhROEw6VCzvD2MMRoX
            +EiYtARsGKm6+HqGc0CD+8eTAL8T7yUBTmZokdpNQ8PJJHzm1FHSyyavmsEl
            LXeaguwNopJYiBIC56GNQX4QLAD4nstZKumLYS9v5bDzzaT3ZwFfV25Fwh2x
            4/QppxygzqAs0XyMKOU/zTQqyqZeGdGH9Lxgmsi3vimLDuYrZj4zi/fZzqz6
            7l551mjhsu7HUXb0Vymh3JtoBmymnINobLBFOJJkU/VsHkR1TaAiZqzA2Ee2
            zBiKzUdptLbZUh9QPndfDLfKdtNJ6A1clRi6XoaVURYeMvuKFgcxUG25v0s7
            t6hMnHftb3qtw5lkeotaqhlRTQuTTwt+0+p6htKUXZjsPZ3aWWKZttrn82mK
            Qsn8uoRYCrTKnKyK/WKKQJMWeBaZ22EcoZp5E9WCNP1gLJtNfTQyK/nlFbCp
            kWOJ8EsM8z1bB0BwNtWAUTPnYcEXQBTkd+pGOfWOl4HE+eQzOz0no90WZWA7
            /zYMsS2l2LYVKGbByZCQjep1ZZpkhvd72VaT6grXK//BISM/BbMgPQT6kBj6
            pEQIh4a8BGODVjK+XIAdtqWYxLqFXhjUz4VlIhb4Lk++snxyX3p3Wk4c5tVh
            dh2cqxKo5Qx3BrvyUkkAYbm9QaptvGeDaGEt9k20IN1UYIF7eFdKMUQ2Q5Js
            TZ2jrrGZXRuFliJt5Y6OKxAl1QUjrTQmTVSZJUjNsgW+TPP4UsVKA8mcm3Un
            mIim0NIWXkqqNP3lcHCI4xRoyJ5f0wSwRv6faotuJ99aWIA5uTCSAIknOPK4
            XBRxghTPgKZVLDssqdIKeue2fbbcFpbLJQWYkZ4y43SWu6FaUNyVcIn1uPBX
            MBPeHg1d0H9GpmdRkUvMpmEJaEE2nx/6qmVI49paHPnnHNu0x3b6PMwvZp+g
            veMZyUkvu1iHpQKuOxhP9CvNFi0m1+9qjkNmYOdsEePyhTHLSvtNVfWxIuMO
            hpo3yiixHXYBZYoWNSRXVXZ3Gh/RICPQnGin27ro2LW8F5iwiAajT9aOqeDd
            jUIs2VBF8/0XVAqSodEUocq1I5nKQxnqb29mcV4b1sJbB9QNS41AtQJd16dX
            VuJ9Su8he3Gd4l5fBvnvCy47iKO0nWhP+JbOxksTepkLvonhdczmCYamUGNH
            dXA3N196t1icfpyapt8z4GjSNVxZPtQogVWn6/thLu0v8T4QIclnsNQPLmNS
            iyTY+0xgvxMzFU/JEiURxgItUTpPII5+5+TGH88CFmKL7+UBq1QxthCkut7r
            Vrq4S/oJ5vmtHOOX+wdJ3uRf+iKQelfYysTO0MjWd+C1s2R5MDzZSvbJFZai
            a8ltKn+d3rqoRZ7aakmkdE8i4M3l5FyCzztJn3P2vZpsJPS3RtyfG6ne3nsm
            fIgWzsc2fN8pIZN0Izy/12imJw9rMMtcStTYxVNOkQlWfoM/7FDnMsMFX+XJ
            QLVUE49/zxfi/hOCBgKf34g93+bR8CfEDWZo/ELcByPVveHqf4I3dXJoqjvM
            BbFKCnF29iH389pWRctWOh0r+x8pH7PmdLS8l8uHxXKeWJBsz7hbcjE+5Tun
            jfxj3FklzKaqnYvmSj1XomzuImDjx/LF15WsqL7aYB3fX7k5d5/43Ul8tvx5
            9I26vqHT4TO96dxQbCyZLg0moq6T3nJJJkzD3nHRfICkacc5dcfrXqmMF2XH
            Zy1uduEzcZJEV7fs8+bOnsKww2d6jTWRib1MyvCc/LHyHaRXMthjBwdnsr22
            ElO0tTiEH4z5srInMTxwkLmTW/45SpjYLnD0zL5GFUFm6tPA5EbJsiwpYbgs
            I3d2DqYCiIBROFSKMEjxqtxLaO3JyQIhsHKIDiCPYINgrLdKZ7jAPLA4VUmk
            MhNxZgby6XNFYeeVqndGiwumDFQ6s2p528I426svsuGRBQzo9842z8YgaWQD
            qDLPjWUxClpYLiDGrkE5pvmsK06NaVLlKhM7Tji1jssJOJxmVyEWwyxTZD5l
            923dk63gvV/3wFeNSsZuzrrHW7rkZHxOsnSHExMxpHcgNp9bOZWD6boPRbbA
            4KkFvGQ//TI6JHgL/ICBRfpaKw0gpktctaKpKxOgbIbpnxROc1V0a+eISiHJ
            PszRty3HYHbWn3FksLgkRelLyoBJ1yXK5wq0OUgrIThtkQtz6hQhdBoxtRVB
            XRkHUYlh/vPFE3iDNaZNm2VyNzewbNE71n2kZlhZx61MdtsgEBiXzkRZligQ
            +Ol8KNpGCTvQcl3PgJMUYGF9T/ETzWmMfqbuT9+/TWWQFLt4P1QC7ai4/WF3
            aKx7PoscbF+JhQ4LPNqOh/y0+AI7j6ez1Mbs7N4ZyulNAm5cyxvadPoMdqWd
            Wax8W4OHBp7xtAgAhzmGjJX81KzF57pPdn85uw/rHgMz7+7V3j/+d9Jv5vgv
            /wMR3WSj4D7fH1Qiuvd6JvJ/7ofs4pfLIz5v4ptkgQhW4Vgh7J5ECuNp/bPv
            w5jI/d7hvnq5n786/fGPdlvZwrz9fh7t+S7/fh4Llajsx6m/SLuAEJ9aV7XB
            xt3+V/eo5uBknT3+nKy8JnMc6edz9zffZ5qWoBjVEiv/aN/mJ6Xf4zuMWkuy
            KgyrM5fFJ/pLY3PYx25Xfz8nj/gvOrt3jne/d87f/fu7nVfrv34+1mS9lit+
            tA/Mca/3f1b4u/FxCbQZ5+/JdmuzHX/YbG2fnN2fBdYkIviu3I/Pyn95Hv/m
            ef2b5+NfP7+KS/9ksV37b1/s+n9iscc6OYkikGfl7/93K//fPZlMrCH/oQ1W
            Q2AIhuf6fOe2et/1r2CJVf+ySLv+HZQvvie7znX1wVk6MZrMcXwtiL2INEGg
            Tnld87qWYtfq7DpPey9Pa+e87X2yzKq32v/u78plkPJKB34Z4iUB9dfO81sK
            wXHa1a/7OO06g8HgybzFVBOv57PZtU57HpM9v5zd70nxBWRC+uvk+b3D1qRQ
            h/7evxcOOR5k+XVGuw3k6z33N9d9ola/c2GQD+Ybc/XX90NyXeMLdk3FrmVd
            6bYj2dh5TXpT25IQnJlgGZSTrnPd+3VyivLnVCt0kVkUFVhW17ikyTS7ErLp
            OV7ZPOoYijn61EOIQUFgJWk4JLUVe0SEKiM6wcn+PpiPOXSLMmgKRtb/Qlz8
            pIrs5F1TUVXNDzjoe6KSmL6cVwZXf6ea4rp3jCuv50GTH5jjRWEvPusHbkam
            qgyXguWVNMf7CRwhfCx6OeOpoH7zMr48RTsxihiLa1nvJxlVoP0x1W6b6aNd
            Wnw2LI5yzNxhfoCBFkSSlmnlPdnLd5vKuOfmKL8+coWR3z/S22e79x3dr503
            7jHe273Iv7y108BMvd97KT2ZjX7aCb1tEl9gbCos4xGsXk6rXvxnBLKvm3pl
            LObQHhjspQAHOLOdLSj9P53u/3cj9cvCCY0d+p9O9/+7kfp1nZze/kP3/9uR
            +ofpW9JJkf7/dLr/343UX9Fr0/D/ofv/7Uj9lSoyjav+h+7/dyP1sxn9pXn+
            I6ro/990/78bqR8XtXbJJej/MN3/n39fpLT5z6Q7/mcu/u3+NVMj50Uf/eff
            v9O/SWqNat35i/Qlnc0wXf9E1lBoPriRGz0//h9NJMmQ 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
