<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.2004</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2004</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2004</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>04ca_2004_v5585</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8196</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2004_v5585</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10x2dgh+whneF7CJ8OPF
            P/ds7Lepfrz55/LrL/+Mfjzt85bm1v4acZuuMWEO31Ef9YlBfz3Cc5Tlj5oz
            5PZ0jPqZtkSjvZOZ/X493J8proP3wEhKufi2x6z5rqe9Rx89xzJTyqk8fJ20
            os0l75WfhitmfTjDoXKUCzP1pCPiXketR+JgObY7HJFvgBVInM2FP9wRxzDK
            knAMT17Rz8P3fB8p4zmr5GgkEKJe/KqgGZyYJ05IdqN149jQMqTMQRStW+z4
            W+J5eN2F4+eDY7g2nX4M15wLx/AyqYE8otauH+3rf9X/V/x/EWuTQTD5Wcdt
            VK2lv4160vF1HH+pIiz+h13wfbza+b3/vM/hVBjXz+N52H3a8ev806is/RpP
            vI18ro7fX8drDDr/+nWfeBgJrV/jSb0Xnf9rPGEtUflaX++lgRrxl1/n770V
            fz03DJExDtnxz+bxrcLjj5FAFN1+D9pvOnJ/eN1mMb5TntE/x/1++hzLju8r
            RM/4395j7/nJzmpfx/W3Yucn7lEd97tfvv/XftJz2HLrtXrKdv6xz/d3DcuP
            H1/PLlir9fP+wffy6Yz2fW7Zj2+n+EYGa+q/CSIZ2/21MHHN2zj3r+NzLuMa
            P4/PaLMeft0/XNHf5dfCX6H8beF76Zqt+Ov+PQURRPxx/56MBFIYr6ThQv6i
            7nRnHV8J7Agso46Qw2gdr54jlqti/xxPC9jiNc+ESYzjONsNjiv2poufej+c
            4vHgfDDG4VMKNlXPkMlC8DmjZJoWguKCz78w5PPpuDIf7SFTALu7O979v/t7
            MsHU41VFjOQOkIoRjLHMererO7X8239YtieAex/zgbA8/vE/Py/+u/O4/v/q
            vPIvzzv/5XnXMc9uJJCDJv4/XZRFENjNsZ3/i8fGf3fMlu95/neXLx7/bvly
            +pfLV//l8tV/t3z/4rnXf/ce+V3Nrxn+41hyQVCMWf67i/79sV6l4OWQpN90
            W2b+8t1pDBdq4AqQ99QDQIwxghW836BbZKiH+cSePyH7T/zlhLg4wYHOhn/g
            FSdk+Tnxj+dCnTihH583/j1Hpu4D9TBDGcrQbfLC9dBnMhSrvHA9pG6GpM4L
            1y9cv3D9wvXQgTJ4WAZPzeBZmXrxhesvXH/hehBmvnD91aHALcmQbGxe/E2/
            7vX9K+V46VcPl8mYINWvQ9+Eni3mnKmyUi08TihfYP3P0yBboQGeq91gtAdW
            qwfjoB2qeDjEamd4bmrP+bbred1sz9PT01p6hu8mCo54Htep66BnxrtUI4HK
            y59LbB6CmzeJHQPAQ+P53PxeHq4c1AuIzTTCSjFcfWCADbpxN12659sFPRbh
            OMsPouySt7l3O6dDBZ7xkTZ+UbUdrlDEh8rl5ddc0n6y6fz9gihJGO8tCWzT
            G87MF66D4gMTFWG0PM/y6zmGWrrtPl5/VzyzSp+de7JG1SRftlTrTqcv1SNd
            sJsWRumIu8vMSFRXcM4sNYNhpHCVxCXbbwDFsnXOjO6Ildh3LKbQdJFLB40+
            GYuH8cyVP4u3x9MTzx9nbrLsKha7Xc8Vcf4Z7XwsaY6hdqi0mF8IYBgL1X+D
            tHGfsAYI4bmo851L54AWHxqWOB5dEDSqPXi9yYOYwb2o2I6+kBjnInH8WFSd
            c66cTW05/nZObbLSMHiaW6XQwnpG4cJ3e4lGYqmYPpwVCqcxnqAv0OKkpofZ
            AgleNKvsd+TvAV1oxhEoDzqvA63g3ms+MlcCr09804uqbQ4Roq6DgBuXE/YP
            z2127lGvEGNYkYSNCZvzaekkQUXTkTH7GOMVuOv6+94XVGLTGKW1xPMvBH9X
            cohMwwyLN7mDabLnHwTfPgQ/pDOR02jqQCA3xoHtWTP44tfGxAa/2xBX4PtL
            ewaF131dCriO7oHbruO56+a5fGgA+7mm2QSxGQkYi65/LiCpFvOTzSLnPojF
            dlGLdnO9SHhgCOxddOVcnOapCoI3wFolDUMdXNyfdFJU4zXj5BSWcT+hjwCa
            XGJ0jRKv5sd2Hyjs5l7p2n31e/qez/TxmpLWUzaPubNemTdo39ek95rIodeV
            nyrGSPLENMl6zX5NofSB8CmQDKWNPPBOi9ZfqGTOYZTcQTKj8cUy1BjYJl0b
            3WweGxcIr629jydNPfxt5p/j+pACySn0i8LNTFvyy5ubIyyQsPQPExRQ8o3z
            DLzrxB4PIOlE4YV7YBuAVloBr9UnBYI4G4zF9TgvTs4FOt1DIPvwyKtSoj8I
            TBaTCfZA38Gph8HU6KDndjdeR+kS5p1n1B6fXJJnUqDUfY/DB8WBNi4qfkfs
            UeyxiXtjoS9+psmJ0YThQXVqwsC4n2mLf/Z9vz8WMsmSzi3ua2DRnFJwyQ5F
            jGdOMhDBEeQDeeh4AYGca0Bw1PAKjiYjbOH5JAoSbTRCOnM+N6O+Luow+/na
            A3fp0IH8+dmJ9/ZrDv6NLqblDB3n9PXMKi4EdYX33bzwIeNObjD73J1tFG5U
            iOUIzQTCAFoI9zl5J94MWhOE83WAh54UbJizJlcRdBFcv/nbqljL8dwp1X6n
            RsGRsusC46E04kHQOTiJPZyqEE6ONHvJHuiaogMBnzHLOsTWpQYj5hrPDokD
            CicZcEfcWBbZ2JAUviOKnHF9ytUD6Y2/mSQc2SZCizN9R2hBwLxXkHEH1eaA
            SrJ4rzE/56eC8xeIqG9VKcZnnfYM7KDLVSVItbWZqa6DIYnd2+LF3UHCgO6Z
            wVt9kc4bcl9qXDY1DnLl7pCgIJp0P5P3ieEj/3m80GuonRbzWPXe98I4niDn
            k9/rsV38EuNjxAhB3J0YOZ4S3t2K8XCuMk12uwc3Ym7a2Zwn7LmSNq8GBxSn
            eegHdMLFBn32xhny385Ef6eRwOT4zHAKnA7esk0Mnq8A1ea4b+wrMjiwS+MP
            g56GlaZrrYHmHJ2bEJn4jZ9UZNuZ9/7SPPVEjZyOyYMaXlh/ys8IPQGCJEo3
            oQPIBMBqkp8gMMlpKHYtl/f1ZyWz97HCEBCZHGRRTiZ4+1PjubegiWfrJeua
            QMPhkUsrZH8Ozk1Q5zrkLh/n12DPlbavOaqNLazPNfWwa3IUKfCaCwZI39fU
            aUsTv56D+zy8Zo53bDc14D0H+Kfn5PyZAyi1N+dgfEjgSXne20JIt4l3kHR2
            pdHIoPGBe3slShnnAudNX/1tfnd6c6QQ4pU/A72giVfTVvcNwtnnK+FCtYm/
            uz2USgvu06lgyq9l10Sod+derPTYcyAR3sXKTjz3eJ+TwEbGvga6iF4ufC0w
            xkVfbbvO9znYY+bGpcB/TmPmYT8Hx/A+nQwVHOMxHpDKuczM4jaOGLt5/Vv1
            fVu2mXaRCT/nlRrGddZOc+1q7rOTJE81rdMEA7R+DG7ZjvcFeT6SnPMkrcUE
            5CF+kB8Gas4f399NktrMNW1BRcau/T7zs+fjhiDAO7TrFoGQmeP9P/zkdtff
            BTVoDSOBdTePunwxqNmxCBgEGQ62djcGl0Zdd9+aJyS/Yjr3HgCuT85oZ7Dr
            E16fGmlO7wJBmQFxcYIeMVztwPS9M3AtCKitS88tjD1AQp/7xXG/KdMufhYV
            yqFpCPYMGPf3tccZp5mfsX/Oh+YzpFVnEQEXDiwMgiAY08I7jyC3go2L7yYC
            INFsKf3IzDq4ufCMR78hoXOqJ49d0mQabpYwRVkkhU3Bd2Z8KYAbuIYDAutG
            UFCV+QlO4b+j/Q63/77sd04Zk23fk59LDWtxezPGw3MY/zilVZyUQfGx8/J7
            TnYH8XVzOci0ZoD0p+pRqMBAC0gTOvGp48cJyqJlfFJqnc/gJyhu6TdZ9hVx
            GjQDTDAk7MT3OY76qjVj6DoGN8lmF16y498MtGODXnpWNy0XnckWhQBNBtxn
            iMigFSq0iZWWf0Bs5Oa6Ti1uyHZ8ZPsNgmUAihqIfncYkOI8Z5M+nvwzFFsM
            2JnN2K19Fo9KjAz6ui16IB+mPz8fCrFBR8IDbg4lLtP3O18FnPaMep5ZKkf3
            z7Bs3CHbZ/dozOHPCX7/HVpa2e67ln1e/pzV/Xfen7bDz+Xzc1kQaflvKIUS
            RbSZS27gL0YC93XxYjsJr6uToM7ppr5AsMttsRi31HcQyyFV0b/bJ2dX6uB/
            N0g6D+mglFfQdwfY1aABCplcLbpwFuwe2fI9NRo7oF3tn8QA5AywnGh74Ll0
            YlDli/adn/2ffsclH+TgtSdlKlRC3Kvj36KmhM+xgn3i3SM/IesCn9eTfS58
            BnEd6XRYlFNBcNg3IKb7+FPPydij9GIecjy2bmKQ4edX3OaPyubX4EWrIpkl
            SH0+TUT3sK8BN3/m/YpbRnVTyUUZBDAIqcdpf0Br1zXgZbBu6XGAnhOX5ws8
            l/abs1HeBIrkLBos9Nl5gaXzJrfdRNuCums6j5+WeS43fTe8jr40V7Lu/HXd
            D4NO14C/0wVszxrV5DZ2VfwHIxBMILdrrWNPZo3Gsid3kCYmpnQxCg9WBwKC
            NdjH82VoHWaUQj9n6kAFN73cZuG9OzjIesdDxWppg+jerx6P9yf3K/drUPLa
            Mdfn2suvravnv10b3mvJSfJMa4X9TvnAO9FXefhzB4QU3gtPgSBKaVzMorhS
            uXAXHD+hc51SUDWn5+B4EgPnjwWLlU3Qy0ts0dY73yKBgFu9UZlTTvXV5OZh
            8IAWO4cOVmjWQB5BMt+VozvJk2bWPmVhccLg9xohDjG4vo0lmLX9M0lQBuRw
            hZZoShfE8bYwOElPfaY+i6Vo+I67pYXnw0XGHw6tZpZWm/sdplsWK3dzx2RF
            gVrV87f+gNdzAuY1w3cpWGh7d9z8vUtLqGtq92foKNUJOK0+9jV5MuD6XlO4
            N0FkaV8D0brkbFt97WtuGZGbw8DYW9NzIzDV1/Mz7C8CKpmku43CAMWYBNSj
            3RPrc2p9GGvrTYKLTuy7x2IkEBal3FljlXdbkWZpkgVseNmC0Z/djIWP2t3C
            bqJmaJnPS+FhK2UafF1UBzip8h/V/qeLuZiGS1fOHdNTUvq1oDynX9lygkaQ
            qSgX1tltHHL75DFeKxtaByyPWMEej75NrYKD0MGcQ8HKdjbcrzdW8Dz3T65W
            5k0O8eFqwzjUOP7BR8kFPqn1SHHFNUof4QLn8Sq7Z3TXkp2/ar/t/Cn32aXz
            5+f89Z7PFJByzfw5/wb7pycbsudVWvfmXNUV1BkjrQ+6+Y5zu/TKffdRT9MF
            QlRWi79oSc9NcT+i3XS7UjCZoLd2S7sM9AbLRBz8POuORmni8KTb0hQwyOYm
            ZoFY/X6pVqREXkZs9agw9L/86VKuyrJr6tEu+por3biPglPPXCC+Y5uOkMvZ
            UyOgN85hz6zz88ybz6x4rMzayLtCqWz3JizM2mTqXIt2DVSiwncPQXEEbSm5
            y5gb1sXGr0qXVPzNGWq6ab24LB7OhiELXzYMArRdrmvop6uw4KEbkXUnEc7g
            doEAK1snojeh43kKfJgjOFFtg1kE1oUdDit40CfDucMuh5HWYBJftFACg3PX
            xzoIfA/szoCzjARgeSt7jkqda//26eYECRAX5+G/E6OxkrmQqSnwgVkKfAyD
            3IjaPSiRL5kpk6QPmPI+VzFWOS0/xzhBLSBZOWpwu3WkX2H1XjhJ9aQ/if4B
            TFLNz8hyVtkkKTJ5/fZtRtHIUTxwlGUq4D39PaAciwZ6PkOXScVMyzDoAF9P
            H0vOpEXq3SYXzpPCezJdTlrF0ns9/n77PU03qNA1ziHn+SWOQXMHV9qYX98i
            /RYVN6LIm9uTX/tJDsRrSdu3cT68YtkRQokFKp+MAJKXJHrWZaW5n7RixbIy
            okaRbtKl0/UhMUXz/bIwUSCXB92BgsIz6xSFP36TOdfnJmvYTXK0myhyNWQT
            67rUdB1f/oRlfu6QqBwAsrHtOp3iilEDtZb+xrS52KDIcm6ncKMu0jVwDxGB
            3KPtxhuiigt7J4YKjTuBik78LnQaY3dPH89Vjtm2DqII3KLMNznPyRCnoLeN
            NB/k7H58V9+l+7Vibibvy5eOgFWSzqJwjdg1vTlJ6bR0xsC0u8muYb6/Ie7k
            olPRPoa5GSkZz0k/DBiLO3Vw6wXiJiFQbzidO9bPfTzzDpzglOdk0nS/N3cE
            U6A57ISkLEVyxz0OvJuRQGFMyiiKVJRERVQMW1yw+vcAHoZfSMWH3eDlEo2h
            WR8MnUhiU4xbXRoQJvzkp7LuXu0Z9MIEEL93cu35eQcXUzxbUWgKO5LXn2vr
            KA3MzXJzyRE4Mjdnz61U6rqG6xgGgownC6UGaETWoGGd596d9wW2zJ17+/UB
            FKZ70MNo9yon56bqfp1uXuxhftf72j0rONDLpfqFXcvZqXZP6UrY10cwnSWc
            HqZingBeieOrIAB+trTldWtjnWuPk54piujk4wwK81+a9zzcw8g5j3I3a6yX
            h6ywcSlKrmVx4eBr0DNjBDmFSkmTjnluaimYdC7IvXxSii8wTcFyLhLKuPcu
            aVC0wBZ9oOswpSng9b6VJi0GWGGxiNtFlxbYCbVp7ipoIBqp+ayjMksYPstL
            /zvzZeY/Pn9+v+27HIQQ57SQIi1CxlWTpadiPrThMDzRutINGSbrkgrmZfZw
            qcL62LgPhpzp/ihQlmVp5zPS4VayQm0QwdXsTv2ms06SlNJQkUlJMzwj8O+N
            WVCQJmHBXk358GuYBRX8e/h853kh/uN5XedGP5eSE9/23yHM/Lpm9wl44GN/
            w+f5456f7zfzQn89R+/5t/Hxez1r46fCmy1csGcyxgFxDmMC38fQuKil0Z2V
            053PKzH3hxa7j12JS8+AIsL7wWRgvcM02RQHpYh7lXnRlC5DZ2W/sdnsd+3+
            KQK4b20E2Mx2LtV+brQgcXgWcJ0utz7EOb9D3RmrV9H2IOdlXkget6UDWQbW
            uUzkn8Mzsg4Lf0JPMrfFWnI2dimJFL5TLhBoOtoHz7CEqOopy+ACOh87oGmf
            3NndhfbcnW/efRw7n7x3+92Xfe788+HXldtsRuwqux9DjUpcsM9x2Gfz49zc
            7qa039Oe0/z8nu0TNmKxPHr7vfPmh4+vxlAt49jn7UqS9FjL8p1Xn4ZZ/c3H
            Xy9Plug2X1AsomkWz/L4dZxKgaHHtXv2hU/uTSmzjTLZf5ah0kxplihhriHo
            CkbCDaUEp5ChgV4vuj9DLIPM8ywjcreeJTBbM0OyLBntYZQo3a+mmFNssUyw
            rAlzIYAylPsI7sAiC9gMfcR43eVKzZ2ieZn++7iH+qBOZ5JNvqjPp8bbKXQm
            eAPuje9KUrzBggbEE/1X0zNAptScik+Y9wptMPki3ZauqFCQPsN3stNnA3ye
            L+MCEjxk2ygsxJmnAq8go3AHJuzf5nx9nbGHPnlvOWmhrKTFz6XzAq+H8Lgp
            7fg90UdF3flrE/YA055Zr5A2uA56deb1Xa4gWGEau/IOkhkp8aQIvt+By//j
            FNPp5zD/DnRTnFe/lHxab8V+Q+LUwkU3j/LxT/dLYyVLSToLpDoXAkvP/ZIT
            FBNQCvT+UwMv0sOXjImgSccCQfZOOu2lj3BRwN4woZcckPS4RHmDV6NwC3S6
            QKDgxRMWlvRxljgj/ctY4IjFlPMahLES02fxieO1XinCgFkdxy58x+2hpc10
            XLhDVEjuJoHQJYf7hY5PjAsqv5ylYo4zx9hILPa9YNIj48P5YSztzreN9ZTB
            fTeJ1orvy77jodBd7Hvj92rfr5PBQPsOYwqrbt+ZKnJeN6PhWILnOqd9bxjs
            2ez7hN4KWd4GrOwz4Xu4oRIZCTBAocHB+lvztpvC8ACV3S10sXNuboi+q4RG
            E7diraDY0EVAi5R5hdSXYAs8F3aZrNVWdmCvYBcF20VcTAYgmd5AeUIX2ilr
            kvlX1wVxqt3HjCtmUcgE13iYwZLse1Laou7nwVYjuPQtjkjl2UQRCbFkOXUY
            +7EY0YhSnwL4vWXzOcdgMCnm0f06sIrLdcy5iZcpQzSCJkMC0JZprFG3TNB/
            YHUNjkk1YBWWb3XvPfVHZkXmDPJWFlCqiQwmQpPLSeyl+fld56dIbmDvdYmj
            ZKVjHfTELvDTtvL2LjBoToOwNQZlux2fDOTLCRw/+hLuSQ8CJqS3elnYAqor
            +RBltV6aiiHzcP2BgwtRlW0vlhSZYIMxl3m2dJ/kRPZAaLONzissMj2kVNYb
            Xh6STwuUZmIFINZeOb3Y7NgVTEIOTUq/2FRtutcItFMDjMsQN4cKscE0wRuk
            G1blKWWQtU1pMT8cn49V+NXykEgxDYkGI3c4NgM4VAp+DSYPRJqolJXx9bx4
            Kfo+Kgyr/IzzrEPcjjYLnodzajpxDpQDqG6VCvCd2imP8HUde17qydy1yFgA
            /n/vTtycq8WMLwpxzN21DbzZuEBk14Vh1rN1ey9tmCpuFu7R8o+/qaAQ7/FE
            C8zju15O1w2GNzL+rfS46ymQkFr0QLTetzAUbvHreC/zB3eVyUqVorw0iuOE
            wNo5M7SgW4ULFqLQwJkOPEuRZZqvgAlZnk3J4kA6FteT2nzFBu6L31FaflCE
            AGIgW3kmXvQMXwQ2WorVFkhOD3Ag7i5m018gGi6Eh/mPk8nPVDyxgCQqOhrS
            Ue19EqT9wfhVIS3geeEWMSZbKCb089mpNyWuBDnyMD5e3b/eqZAzmdjDApb9
            /eb38EVIj42T8xYv5WgcL/GeLTb+M0//qkkpjSKyMhmXKifH5jHBD0cbS769
            4Qqe3MvkaM6hDleQQ7cA9OZ4lyvY+JCLY9wnC1nINKyWD3NtJPDIe2oHq32K
            3TFiBU7AlNh1PqzRbQpLBU3IZxJJECCOccsdcKdf1gGjxWLJYD0rqF5jbTat
            yHiWw1COQAjdi4Oc/rLL3L50BNpL0tp4MqkbRphFovFdrJf3PgMW/yY5QD9m
            ls1mn3hZ8L2J7VKwE2DmgQl0C2ZWZrZbxmsg4UbGyWqgYcW0eBL3yb9TMRxM
            vmI2zADHggzpeOC4mVJ6MbikSL7cD3gNloDMkzV/jcYAlyTRPdZgWpYRjn1P
            umKYt6DjWP93XgvLKz9EwswYZf2XS/mTZ8dzYZPX2YcUVbwHCGi4U1nvRE6c
            GIUAJz6nAp6TGYjjkItkBItcJQbfqXgllifAIk8zwmA5y0VFRspYlDKY9iC0
            I7LtApXe42ZRQTTog50sv2V6ZPPlE3C49zgyq0pKc6V4e9koXhBy75Lyh3sn
            lhpwUQqVqyitvPdnfO+Mq787wkywbMTDaIuZhjG4N9nySJwYIdMGM81JMDSL
            AggTx0SE/BtTFUiMPzbBhEijT4yaIxcfcwS2beKLC+LcqYzn3N9H0Mz+2AwH
            5gTGdVjn6+djndb0RKPQ93H6r3AP85+Y9ROZpVtk9VhtvL93ZtTAvfbUsWYl
            kX7pDnjcmCB4iZpGdwK5lVlss1Ad7FimM23KOaAni3ouxYWmXgiUVMrnO3Nw
            9/e6HgUl26ndfYc9eUEKUdAEnmLd2onhhtbMIHEqzNWG0mbxISp5lQ5JyL4b
            MniwBHvCnvQMLsq2fe6OJId464UoB5WLjE/8DjB7MQSTre/4mbpcOYeRaQ1Q
            9mDNdytLYsrgFbVgmmzIjOZ5N2KnwQJ8KZYvSqKjg/FwUtJg6dnMJ46Z54w8
            AAbIOuuUDGtQakbGHurKEMtiH9o561vZKUwzDk0KGeS4eHbyDK4n24pvHj/8
            89VisQQqJGzmtaRW28Va3T69LMk+bcrAXqmM7UDZK0np2yVA0WHhO/O4lQyP
            XX6CEk9GpxnbZx53VYVUoPUQimn0jGHIfqYYYKCSSTyPn1ceVmZeDC0Ys8pg
            WgUToPxTMBt/RjaNmekyOAYWnx2u41L44bpk+5J/leiJTdRDeC2N5Bjfa3K8
            QSjBY1ipDX0/zd6mXc1EHpIRCXMyH9QVUcwRFEhX0mD8sZJEz4bRDBJoUD6Y
            OP7cpChWeGBbhVCVlHkU5i4ElXfjidgJ/hKaoIjJWEoDwSLCpGKOoWSDKVAW
            VQSVdxvcjZf1Hai0gB+shK7a62PmkGKfbIUDkdngUhiMXWCnnEIR8MICfm2P
            ynCeH84f5izJw2zX21m4+JeHLpvxkNLlO4Fa1eHamH1izMnqargz+m1xd1U5
            eK4fpYBl3J+qBpG/k84lhchpLw4IM6WTmRyRTj+CBAhWcbJMsig6yeS7UO87
            vqr1EEVD7x3yi1Jjg7YFy4uOElOjY1IcisHy8SalBsUmBjW02Z47spz/igzB
            kTVOCAOGz6eHjMNwYYs9jSXAm1EpOYsEdsbfYUZ07HwIwgssGmMb8UyXAGR6
            mNI8IZhxn4rxxc/4Dh8fU+5gfhzdI6ZtKy0MU1+mUXdPctUnKN1/Gwfyzyhb
            2p05fMd/8UzVGyd7T1ZzSS5Ft9nxGCMBVvxagMROLv4Af/nBstnjwozcIUSb
            5ODnc5Jhol51MtWKElRx2N4uLUTixDEQQKicSofjshccnWnckcf04v7JZzGq
            kkWE+F13aQ7uUT0z2OqZBjZGO/xY33/7/RsjWWFaTWX1LGH/PP63fpfDfycb
            q3/qd7xuO87zip8Xf/0Ov34fP3+X5+fvABWNrk/xEyaSn6CBST/6dRWfx3T7
            tdPGVIyF0l7G522fOG+65ljogbPAAE4yr1HPyy9qfhMPDkxsdepNci2Gy1Vw
            eoPKqg/5Y+YxKIG3nRtBO08MfdJoP5oKLfAdx/N7HxAnmAAtJzpRl/KJ+b0z
            x+K462H3PbrdOzL9u34RE/jftd2bB6OrGE/8O1EpLdyJKng6OXchPdRps28/
            ntav3+ev3x5oMblU9xxCyfHf/dfv9ut6J9jD5z5hkSs4fvVE4a393svsvmt5
            IGWXjXk2dHbtuDM63T9AQNXtys2xz949kcjvs24LJ8COVeDaoxi6uPnvjbKz
            ozDLb76jLhvlZ0dlNkrQjr7sFO4dndnZz3FHa479aeclv8+OxrxRlx2lyT+j
            MDsqFfqOCu1okX/63+Mer0dpTs/Kzt0m4/TJXDtrO//M3v6dev5mc+/sbv+7
            iNK5wPDd758OLTAgfMjm64wuKqlEWSEcjvAJVQGPJZuQGeup9lcsQoPbCT1d
            ytOAviEua8WKStqRIhopGran7TrM0yYRIfVqDDpJmnOBtoQfJtatQor22Evo
            xKFCPhhs9kL7pqYvMMeQ64N9AP0TqqD9Pbp7D5+ToG3fL53spWFr9bb1jeCe
            J1ZVEueAPqRgBnkz+UY4iUEnBVQlVmmOnb5V6aWCvsKsJtYoz+YIcHR/Tve1
            umtT36s8WngiyCu6yWSipTOCU+j2LCp8b1JxqotHRp3qOMWmaXvQTzsgQtMw
            JZB6TKlBrlHmjrq4Eo4HfeBMSXEu2nqNW1YnxqN7AlcM9DpEaD1QPpmswSAK
            5x9jfsSmR4daRd1K4Ek4Lp0feldkfH3qb+AnIDoeZzJM4dhIIKzhhsk+6wAr
            XnJTyb3p6AhJaUlXzNR4E8FqWD+Mt45ENMnpZMiQXn1I/ZxdTLijnofBWjtz
            t0/WNYSx08wxgzXcBUy8NilznJBDwCZN2VKsAyynJkvQKt8OArDUU2y1twk7
            b20Wq51iZo85u5wYWXRDglEhDl2T/B0kRmjqQfE3n6p/9uSELF8OdxEWPkW7
            VjqEi4DoMlWfeO/4fDR3GumQZotiicolx7nL2kgITByhMvYqqq47YYJXbFtv
            kFIqhRv3mhKpXzUmrDs5gokqPEfvICKbMnvSrpQiYheIKuB+sK64Y6IMR8uv
            NGXwSHtDbDM3mm1c7zSY88SX2ux4B7M326xeJLMrfK5svs3ovwPz/BmX5lyY
            qSJzZRCgSmlWdt8t07as617xczp7xdyovHYH5zfo3Zn3390icjC5Vxa6zNsy
            ccvK0K3SqJnTPE3CBzbFM810qYyJMsowVAtWCKchJ3hhOrhCP33u4nCcEM0h
            LvVfWT9MVHSqpKdaXo7JbahVH0qg+Dp+7ePQuHuyEByPY6Xnhi/h7lgNqxzp
            tFRm0ZBHBueVWM1naFm4/ft8qzDVLqmzw/oSbhrGHC7VDYd9bbJrGNXndU95
            7nl36ubDiytwaiWblOkD9pp4PvPysGuv/T0QbkGYcBhHJzvG9UQ9wbtVXJ9O
            K5hXkIAIHem5ma2yAkMk1O2uY24ZR5MTY7kKq/rBGdZz+rt0egexWUDBNp4I
            bvX7WfH++azZ8U5MUeM5DEuGTQKnDMielVxsEy5fZWrlUCC60Yk5JBOzLdQR
            vs5nILoplqgH4Jl2Lbfq9AmOSknWCxHAiOd18LhwvXItyJ0/DuXpB8qrkeu4
            rKZQbKI6fAueF5oVzOkzdsvvh2zu1Kotw9fHOWDzsxj4SumRh0VuND0f7LYz
            RZ2s8xYu0JiV5hM1XlxUGyayWaYE3Zs/Ihnm9O9g6dtpwSS0b20Vqr+Ve3vc
            dXMGwVeKA9gnVG7lNLIEbSbds+zMDxybY8teEITYX5fjSBCDnDsMlYoM/Q2z
            qCxPGJuJeECDBIcRjtOjQSRz0swEa418TyOBRfhUHoRios8VzcaECGW6t/it
            fa/H70/FV6MlQgrrQzIQA2sGKPUzveQsb57g13HKDrDA1J+dcLe/1+PrcxnX
            UbIjg5L/35PjYTsGyw9iCfVdPcsDLkO7a609feQgtJc35ftb3kJJZNGfabfJ
            lUaz6f8nCwgmd5XWrGZxR0/oQdOOPp+TSqMlEFiok8dB1GeLxsX3uR3cg9XU
            mMQZ3KFeNZ/NvcGMwR16MWXz1Msnm0QAvZDkzd8l/Q8mnTUq5YJe6II3mrem
            +AJXIaCCS0PAP2ACS/UCNBWgOHUdDze9n0EKGD+hkuk8nhPJtWTjUlHwkJkc
            1A42VQrrn90rRw8cTQVmR8b5hLEaQVj4vrgklmDvm2957rrhGdObXulpVq5B
            pAzmgpQIIe2ZHtQSJzjNZElVYsSf76l8LP4NSuV08yRnV8r4TDJqVukF+gQm
            bXQF/JlukfjMZ4fScCiNOyiXhfFwWBV1svz7phf25OvCXieG26Td3hedjsyS
            x9zMclEEhVSYfRYoejCp2EhGAncU0mp/wzmJaWpUj7ZWBrac5MqkSik5pzTu
            uDDh7SZai7TY1DfwNCuliB7qC+73rX4ddLtMbafxN4gSUwnWQwf82I6Vw+OW
            eLrtOgWNab9Ry8V1zE2ibobXWd9ZlZbCz81oweO8Fa9i5zFKoBwxpvowi7P7
            +dnOT90/Pfh8+f3yvp//Pfvfxy7l9lL0rZiZy1Wl2NH+7tDYTJrkeFpScfaV
            7f7NgXF3yTkknF23zLd9+HMwQ9WyNu3z8vGHje/q443ZnnO5eKLbaOxwH5MK
            G8ERlztAHiFhZCZ4FV+UlOpzQUfVAmSls6jeYS8C7bkZjEU+kyhlxM9KScHj
            SzIYLCoxaj13DjpoeyXbBV0xeyzyM8y2ZELfU3GfStXZ7hOkrtMOTUQx757N
            iM3D3Suf8PRK3tZZjhZsp+B4y9+/U2xJORx361MFBnZ/7s44zgjbs/Q2ZMMG
            VygPGy/zT0ElFwPbzeBuFnFxRYi4J+167tZIDjEF2gD1jMadzwXXGTwQxwg/
            wBLakHyOfywKzMq0868S8e6gMg1a/AfTY2+LHQxOxcstXu5AH8AvEAj85t+X
            7P7KZ/XFtBJicnIHVR93s2BIFnciy8nMSZB+/pU12S8VVwpP52GOPstIwPDo
            znOCCOe9nScZPEkTcjKr4hJsEf0r3RwHYvnCEuDfmB1Y3J7c/l5ptPmK+5mq
            XdtQKWTVltF58PmeB6UJyBRd5acN/Wwr57EsCgPBpvgcUgBZ4VSYC0wNO7P8
            APeZUqCk6DLQQYcFxxqKvUe2ZMJDn/4exPIRa+dxt8P3e8jOfwQXpfcIp71H
            uuw9sof9ZCef9WZwG8RJ+xWrDi7o12e/nsSzx8TKTkx4T4bPIB0KNrzpbxaH
            EC5JfL7WU/6wIWWYGryRQAhC8CETST4gpzjKpMmbJFZZZ2KoaPeydCJ4PhTZ
            VD5UxUQAxpsxpB9ptzwvyoGR5Qpk3pRypAyb6ceiwfgf60PdQc6YqgiNId/R
            lFFtnxAuKKaiMK4odab5uoNlE5qTYn3GQnOQmR/QH85FeZu5uSsTWiAzmUdH
            sAumb9TzovcAm19iDHubxC6nQZJb075DMj9EkPF7DL+HOUccIZv/XXgLF0ev
            2NniJv8UO2ttsWBi4NkxT3co5GLn6cD9PFtMbLG34+PLOUBUNZZlpxBUjjZ3
            9vll9nKmG5TUSq+ZO/SH2FdkSofJ8MBCT0LAUTHCNBa6NwvrvowSS37OXpQQ
            QDt5UlfIzOcz+Y2RgGhTeAIWXa5D6CXK0ihK0pNGS58Dq4GUShOdUpPX8WUv
            KzNKNvdnNc1YIU/Wu0fhpSih7VtzbkG7h7nCI5ODdCek7T9g/Pr03CfCKWYh
            aQ5mU7xpOBLt4Ms7QOGfjfuHySCk60mk2FEMg1XbTNlzmMR+Lzo/A1elPlXx
            YM+TOZndxNpf2JRmnmfpTe2T5lBSZ1gfJAYqZL4qyTIZv+n+ebAsMB9tKFZJ
            3SBo5xPCgp6Eh9uavTn4ST+ZFaAlAlUSPPaKUusZv2OYpup4rZa6z4JknZc+
            5wlBYSl14WY0j+IQLzR5rHS7bt//Lj/vLxP56x41P/d97FJhu+bq//ma0uy5
            N82PGqZwXZcFvxWkZjAWei+NcnqmDCBAAeSL54FqCWjCkoEZ6ZHq0piJV0+M
            rqZz8uecqbGAsqnpY6zMcJ+ytyqLuCbzduimh6B9gsRroD8y7vKP4OXPVzZs
            HbJpqxj1JiWBNaZCZiKLYmzveYqlu+fcPN0gM7FFUtL2HaztyWoFHRtV6I88
            roo7pXlXUQJssQBbX2oU4ywjYxrva4gxnFbYfVwWZ1GS5/NIwlfGLkdzpFyc
            vYSiCRKmR9JTFpitfPb+0B71DF7tJVAh1nOT/PEm057EY/n7uR1jPPm3Kcic
            pXHyb9wJeAY4yKNcwHyltTOTgyL5/E0mdjPBVvfMl6iG58f7UrZyXMxV7Huv
            0+aILCw897Hzoq0rhAD14tnedrx5CBZmCYQwOP38dEGwYe653AXbs9D54X+7
            vv5WoRxC8S63CmUy27A86S/3YPo95vb9jb1B9nzl0pKpL7fiZryZmjEEk5IF
            zNXd6F3VOZgMYlIQPdqkjEdE1ycZlXCsKxHFmi+klLXGLOBjx42CWeuHS1M6
            rKTS0UMO4+uhVyHbuRs7zC3xV5pvsn/cq668vgGDkhlow5NfD6VTDEVSqcZ0
            S5ClRb9iO6GSGfJX6rsC/00cirtQJ0tugqazQyV4prFnECvx5yLcz07cCV4r
            4K6BVerV1S3pMPzPbEo5S/8JIA79kbkhx3uM+Mt4EtSYJ7mUZHJKcr7HczrR
            3ZneHXSMoK/0yhKu/mMdXz+voZLtqdw/rhsTEm78tKrf55oku6wSfmynH63t
            ZHyzMA7FYkrOP9PSQQQXJoOmjQw5lbvR9S/XR4uhGXjIOK6fY+UYizCr74P3
            pEbPJGKw2nGYdE/4Hr7vcxVFCFShTKLMnu01NlysNw2onhRaWYTcsnQo6TP+
            gK1rFlbTkrerquVUMEgB7+2CuBdettfXcOCgMyaWx+vGhdjHC9jZEjzLFX/9
            LRFdaQn07M+/NfvbTrr886WgDZg/bScXSSGXw7CZjy24jip3AQ1y/qBX7VQx
            nrZV4KpDDWFouTGLMnOeYRZuiD3VbeG1FM8wilbYlkqeJ2la4qD2H0HFGE5t
            dBz1v/7dy5umxxYCFUnPlb/w1l4NgoEZdcoCWirds53ByBx1MY89XIMlcjZJ
            bUWDz2FBbyBkV39hTQZJWum2UVtHrkwikD7pC6q9G5pIYKcrxl1bfyE/umCJ
            hfnuObxm82WmsjIzdXXKZ5ZBSDqEfeyg65F7jFCjDAD3uB6866fRAUF9Baeh
            ZECoumKiRWmrx0ZYz2plpJ3EHXnF7GkOkVNFzF/or4PH+P1IVHtBxOSkYjas
            rqLP1Hx0cbk2qRQgxrrr9qaI/iod7RxshFB7rsR7ng6H+T3VIL7xZivSGOak
            3EYq7O3FqEukGr8kDUDTuQsRMqgYaYohwmAcgzVyGJeS3kzVVxO2YsU+DFLp
            OEsFYvRsyEEp1oX0wi4KnRC0sPoqrHBQ9GamxCuuWHOWHTBb/gLjgSE1KXsm
            DCZSGXc/HXdUvgiEzfxe4pYzP3csg+p4vjLHvQqwC4pZvmsZz12JYtZfRV5N
            WL4TChcRKw0Yj0Fr+rxJKBDVP6SZ35sprmzBwZpiy3rvFNNMozrPt0KK++Zk
            eKeZzbM9+RC7rQl37BNe2h3RdsX0MK3QIKqtyEnBXi+USd1gMjG8YmA6Jua9
            LCZPYWdwxbN5wwNXI0wMbAltOhKfllj47NFBMSZP+HCsuYv+I230ICsfF3nb
            BjGLRdbLvZgscCsHEtMjHYqcKE1BeRhxO4t1ilxGhi5Or0sqGD4ZxaSugY0x
            7XwCK/N8pQAo9RHjEhmyn9ylPM+g3FDex7Lm+Bnw+wkWo7wHFTUct3sn7UC/
            /8n7Z78/80SYWCROjQX5l885XSTeVbggFzkF50Lvz/oST1+Qm4z+QZou9Iwo
            o92ev+fYKpxVYda00EV9QzrnRmK0EFrIxi52xrn0gHzkeJOtm9QACBmQwGSy
            fFO+CfkHG71Qm8WF3G6hSrNdN5Nq84ZxZN27Koie7zgd7dBlpWysZzDs+sws
            9pRvd8wGmwSsN10hwme4hVFfVQF0q5oAOx+2GKEqUoi0xPXZyXcLyw+CYdeT
            h4O1sRHDr8rsX8Uo3Pp4K07WSVCTafxfPf+m549Y+OQj1Zh/UoWIQ3zWZNXh
            Vu6wd9rlHZriG8w1LIfbi3BvVygnd1pd+TyXCyDP7VeJuWPkl9/BUEuwGXkX
            rbqucHptw/D09W+ceVaLbL7TnboZ0d34Vm6eSJyHpAJOViYZZdEbD6rUzjL4
            v6QGnd+7y/UUKazMrAclsmmABQ1ZX9MzYS0/HgkIj5tcZEP8Qr+D9a5ya4YL
            mPKeVgq7mHDgpvy73EugIKhgiwpQJBrHw2zodrD8O3rFzU1WBTuIHQ7ybVk+
            NdHirMMbERSMKd20/sX3ioAPs+HsymMKSd7uk4XqEIZB19FJyILHxODhbcK1
            FzCroMraYiYFz2WK7r84txY1cxXyjOkwS4hlRnbYWux1UorXUdfLpORh1ZpG
            CbVvXJiwpXY2qa16DZDN1T1WrpnPgiR9WDO0WzLwBvQ96G9GKtAFTApcw2lT
            HkRZWB9alDuhwraqsMZAV4V+zWFRC6OJdhT+C4Zkg3/X3Jn0oKt1evXbtFhj
            AZ+gupqgzJQTWqFZlEXF1exZcWJWYTRQA0/LkGQImaDEv9OMKH3e+FRgIQu5
            aRa7904Dze4kZ9qQEKe6XIVM2NOYe2FVwE13mN3z+HVPcOeSVNaYir2jFTtH
            cyPs985Ehp7gvLisfDnPIfyWFMjjGszYKe6OlLsU35U+JIy5qEzczipDPxaS
            mfdW4dHeVCOSHONyMvySisWaig8KE1zkslQWsBIXuulqsT+XED65bgfdNFU4
            dcuaMNCawL64CTkuA+TcJ8p/QLVsuBj0Wh75b6G1knNTuVJVHJVWdkpyJzpd
            xpDbZTf+KO7F2m6GuH4mZG8ldBfunt1jkk7mu1Lt2YW9yz4vIpGxqOfZltSy
            Cqj9ScaRueKeYU5NUN+7f/cs/rB+fD93BjqryX58v1/AdX3P+7undYTn5/d4
            fDLo7biaHSSJSd2r7xBMtOd0q5T+yrzf77J9GfWFwfFE8A2nA8msT48UtFYE
            k1M9gjCaAdwX/zss42bINx5RKNVaRPn51ZFnTg8kQ/jl72rsG/q4RZn9/oed
            P5edX9hPUrA99vfyGBFkHz+IzuCHllX+sdGyfluwSQB2b5hCPW7Y+oHWZAyS
            FGTm1F/D0WhicJsmQp7U6vCM0lhVzcjk7PJkUaU5sLBtRnFomtN8yhSjM5tH
            /y0fvOzZBLIvSwsOg6Mp7HMpARnPLAKfSGAp2IJglcqRsuLeYV7S8QPoIkWh
            F9/1A4bLbfqt6bev917K/cU7s1jLIH7suQavkx5rPTe6FRrXMymPVyVa3f5e
            sRnHJIApe75FO0eODz9HTZ8tm55J6pOsjKD3ZNGYp34zKOafOD74WWIbLHBx
            3UuQPkwdodqy3x0622hfVeqwlC4H6WPvLK0hfc5MB0rXVViKmeNtLWiKovNN
            LIUPIrTOFc04H2w9wwFEIgE1dp6hiS7UJ8ocmlKExCF7qgavfCpaT3+nkHMx
            GKZnHt62QVLXcpIcl+GVuhYUeAjxeO37Ea2RqMbRAqkK5GKKKF8Encykqj6e
            QXQY2H60KOkfIQJuw25/ihADGa5px+4fQnRkav990CWD8yY4nXfwix7ozutZ
            WxHPW7WyYmOzfmECFDrtk8clH0tWb4/UFcUesW8Vx3wYr6RlaAH0twq75o1B
            5b6q03b6vVNTkkHxFY8pEgbN2LexbRgat/d6eY4vxeRMFoySlsiKwRCt3OIx
            l9J5eFC6t+HFV4VWlSnaBJOlVbCN/+gd/o6/vzysDUbHEwOy/+nl1TIR24fw
            d9d9Ewz8pJB0/9nz0KkYCdRlJQdurgpK4Ip3i2pBHYmsYKDpw6rD2/YsLUse
            G9VfLkl/9ZRTEEq0Sck2j9ydXUljQW0e184G4OMtodrmQVgOQ2mwiyougcDo
            1jnsXg2zUJQt6VCFFIXdXfQ1hKszRdb151ItC/A+vjqyLdul9OByrgYdRKYf
            x6BiM7pmuEGifvs5ob2V8ayusXfujhoj5QbzLGBoosdDWSRMgDtNBYsg563S
            ZabhjJYkcFTrYMOE92aa0fAUkuZZgy145oB5Swk/zcAVa18GUchmIpdoVt8q
            dxs+u2oAlI5JV7pUok4fip0z/RwmfFDjqNbalteeOl7tOO596rvD5kjjUa1p
            s8R5skbuWgaWm/2teLsM+st6gOgwmEJyN8ZlunAGiaKMz3LZuWxkgnPzvjaz
            gCxILk/iUjELM3BZglpy8dxSoh1bfox+NSvL5PLt73Q+McL6jqESxY0s3aod
            fhJzuv9OzCRadoQS0XYWHthm7cMT/7hxWB8Ja18dGAwSicWzK30RJGyRmbie
            ZqIU+atVT/O9SwaMp0MIuH9QrTAT/OH1YqMn4xC9WwoH9QU6Hf34oYVmmCa2
            yb8zP6ZAFBQCUYZ+pG9fsWFHUaF72dXfOBT7NO1xkeo1LhBvoTU6CtQddQ+a
            Nz/BRazrM8slzWPepxc5BaWyWCcuAxaZ2T+7fxJYGJNHHKZP4136MwyWGyqa
            A5RUJcnbuLlxqcsR6pw44JWOK2n5btqZ4sk5Ds0wLr/Fw1bYaDubNu+KYluO
            sGPnrUu9RJ75KzOxVldcXYEtXpH4S8G19LNSgkFKe34MtnUyiBUfxGMP/UGt
            vlBWEPTPC5XHnwtFXKO/LdQ3i6U8ZxGMfCE+8T92yq/nbZYdr7f67ifLZlnN
            ZrvQG8zVYe6R+zTgjm/FdHUntG6QPXY/jHkWhh4+90t+v+FKKe7H+iURytx5
            QZ/7qq840TeL8MWnu2+YSi38RqJ78ymgpAD7V+cRZvr3+L7vc/ev+/R/vk8d
            dp83DpF5HyMB6yX+WFY73bWHT0BJptAt8x9lImsS/f0IczI6mld6UyeJE3h5
            llyyqn7ilNOBNhm9JUZi8vsSiPKGdQtCAJMpZ3LfE3NfNqsayksyxXMSekYx
            G3ZpbewiT1D+wYx9KXED8+4eTDKxzs4DDrWghT49akpQLfdPwTKYc0PmMM42
            wJkIxOEJdWTi+N1+BzY0+cUmn91FN4Gk8efkD2vC8FYACCEPBAwxMr8tLZbg
            EA3ukB1kKHH00anzUpwUO7RHpwWLDJEG478tB8+yP5kTu91YG3nm8LbD47RO
            q6cr4GoYwLL4c0UjgUY/rWnlu7QQWuU6ybZYNCb086uULzGhWMEjsBEQM72q
            kIW457w/NrZ9l67whugdx5DtdcdchsSiUoomdqng5RwU0dLc5YCcrmz9NOXM
            FU2vDjHarNTOiK4W07pfWMJbPvzLArTWp1w7uhc66Vq5pNTdxfGYqjV571wk
            U8CyQn3hMMfnvpahSxKK/w7bPMMZw6oYYuC9lkDh7TdleWDryvmVpTkp091s
            YyxVTVsaqwm8YoE1tfIgw+i8Ps8nd1/mAD4EDIRrmccNQpEPpBnmSS/5hV8a
            hMghjiY2NmMLt+W9eTsIm0QtSPCd0oiMduj4tq/vt9mMsR+xVtXAULFprpgZ
            qqr+ts+HkTWSyjbkNS40V14zzbrOLQfsumiXe+ZTZVE3fodbHQnM26xJOMtg
            d2ni3d8LxvslbbqSjgkvkwiWo/O0SC2BXoZ9DtnzjBYnpQPUYV7tvH0Bxk0s
            8R2bRUE3uVrdEUVgr+MSpzl+Q++93MLFkGFg5GMTCvUtLOS7cFjErF6mTHmw
            sqBAk5n+z+J1UcFrothUB5z5CYNFA6ZYlu1FTHQFXvH3PfL88x4Z5rkBrj/B
            SEBhT/PNcgGpwCwmAi5zRGRDbXsplS9AWfoQqEuRSGajcMYpp9+dwShREKgk
            Ne1sO5TtGMmGNmGoj5haiLLRLbV/S1vn4lFMhF5Ob+d0+z25+14Tic/guaJy
            gpRnay21HT5RGeaW0sGE7FVDfyc/XY4KG9VQdw7bvcSjqodlQnCM3Hd+TRWE
            7LREnx8+jvLTxyGCrurguLmJ5iUfZo6Rm+jaYgkQwmrmMnAdsxpYj+/rQv9c
            93KBxoKK+1UMy739B/b7VQxdAXySNf2t/eMhTJsEhPo/vm7iAGLbLfpbpmBR
            inKsve5lp0tvp8V2ZmznxdZmN7bUm5PCshhrJa/J+clWf1LzeP6kZkzeHbcO
            QDM2GFzDu8jkNBvugUEIJ6rN1WaxCO3mZntyR/y5czcbbYfjSP8Fpo8YCeQO
            /fgZ9NlKbB8/WT9jfL17l0fsSOk/l0VllbPQpIyuWapbIVbv7L6Wng0mozB+
            Rl9M9oT65cnwHFc3kaYx/4wwu1cUOoyRgLK5rGQDjL/EVS20QKxl7t5T0AKX
            xdLNUcSyyGSVfsnl9nqvw0CFp4GXq7e9HHtrfL9cz89q30oW64G3Fw4D0zmE
            LSDN4vnPaS0Iosfu+IKqZtyTSmTUx3WIYClJ+94KMg6x3HJ8yeQEgVKuzUbd
            Sxi+vITkBkkhvj/YvJAjyxU2u+/HT+4n97pXcTKKpOwc55DlMG63z5VY/OJI
            UjTz8yqM7DGy8aK7pfepnGSN53o5YxCa2t09pxSce8K4pbeS1n/UcwVo5qY6
            CJtgdMmKU8FqOQotQlfu1VMdJ8PzAcLXhI4pWz+vX6xRmA+n40FOq8HZ7Jn9
            zfZ3zKncv80a1Y5XW95mik+qYWB8duKr9LjsBKu8xkepwyglXxe7/HrEOjNN
            6lWOkilHmxMst/kP9r3tVsMjrJD4U/Mu3JlkZl/PIroCnxXOz7O6c6WZ6qmQ
            4vyS9+3KTJHKhk1ZhM7gSLLq6e7i4jviDkIMO/I+WPN7GMaGHIBKNl4bpe96
            xJadgzubTy8SkuVYXC4G8u5XcfH8ZjlMZVnzuLf65Xr2byvGsP8IkqQmF0TK
            Uy2kZxy73L3ZFHov4KZKJsckdoEiLEbGcLJwE+9dI9QtnSFFaOWiYOgUKmkl
            tnTM2y09KMcJzC3YeEsNCH/oC+pR/qUXwN4PygT6cb8K/W5Qdn/fD8cCcaUL
            uaBAebi7TCk+F3MJP0pxCpaCqcbvyRq/fxPxNq2XvRu9kyJmFUtkosKaWR3d
            rI5fZjUL5T5ZDOPcsXBtrCVRdG+/hpJ1hvwazyaMYE6rvJXrBtPauSABuG7l
            OMaLKK9Bm9ONwuuWs9azMk9lZWp37uycTRRWvGZ1OlZModqrT84Ks5a8rggL
            HwhFQTZeyRGKIIjKbN4GWzqCYgGQNZiRQux3fervxE6me7aM0LthawwP9VYl
            QMYrEitcyYO09x3L+HFopqCSTFighxIPrNGHjyeBg1hl488xjGxjIHb6KF5D
            RRtBaILNaqlIXF0L/0ERonki1ISsfUgclnKqvpWReBhMUNWZsc0qw8tqS1SX
            IUSgeliyNNMjdJz3TIwCFly/wVmJwG9I7WyG54lKzD3OL1pE6o7cg89Lx53b
            1otEbM/prpCyErUfy7nAfRdBlUF2M2mhEmxffQJqI/7rPOqjJsl2YW6LiJYK
            PBB5y3COiTk5VETGMs9gwQvm5RGPT3kcqzUvoUxMP3SYoWrHmre5bmW3ucb6
            +nf8D4Z0DRzHTWwQZsrgCUutABp3WeqH5LkarxciAbLEyyHug6EmyN6PBF2F
            pZNHtLhEMjiJYD2kDoeD1PFIZ7JaLwhv665OvNaKIKuHe01vX3c1O+kb6ok1
            wMEWwQqVBMfInUsndlP/i1uFSZUtCMq9s98Pbcdd8/yem7Tp+DIqOCp1W0+7
            FPgrRM48xWl+G118kJJ9I9xXKFGcmBvqTO4X0NZmLa6APckqrs8OhmmzlH9L
            ERi9xviyhSegWs7W/0nw9EQNKEo0F3bJGdxdyxLOW1GyW1gjS5G+n32iHD5R
            bmUYgCvWIST3oToHxRywPw/FGJYRTpwfQNOdhRY8s4x263ANeWvRMie/IpjK
            YwdBLYK1fjnGElGZjj4pmcUl0sXlNm4EciZBMZODuhPbJSjX8gWEYSw1Had1
            Ze63176xJTEJYTpmiBRG8JXTsKp7Tf680zjevWucCb38dS7+UW94PYH1A3Su
            gPFOatkVldskZNGUZTZ72gELYu5okcJ6WPtIYtT5H6NBK3rMYFki/o5X71jC
            8L9Ptz+DY22FX1heO4Ch9HJheHk83M97Hqu3ZcK+zss2jl0OOhzVvPjLlg3l
            6EmlY/m4oxI72vK66Q3O1g0NKS3nLotoStYlxeuM5Yptu9HJCQI42WWObL9L
            A18s7t31Ka+FMRUqF7Jguc1ieh5HZCByKeOhXabe82YVn0as8joG2fuvKfdP
            hOruc3WPObmRZF1h01mh02GfFkang4l/uwkKeucnDQOtofhirgLRaCJL5KK8
            tNljBJVFqQe2jcHz00V6pA2IbZryRhEyKOBIVsSXuwMDAC35Q4l4rbLcF7sE
            7HOfezFzx/+uBJJqtcnELld7aHb5/RqwQdwreMHOwbJQ/vDCOWYXIRQh/1a7
            Xf6xr9GUt+2oXyYbf7XhYoxuqUc78vnNkRy6S5wsFyiV1bmjOYQY9JWXMFtl
            8MNeGOpHvZwLTksIbmG7yx92v5nfHHEKfUFNZ68//Ajem6IGrMrGAk+C4JD/
            ojBK+Rh8M1l7/WqeK6SI/kET3smdcscYULruYev9GExj1cva4nPyA/3IW8E6
            JE+I65g2ZDABU6SJ9m06PvRj/QAjDxsxiHn9rBMdCr5Q/lZSclJET4wOWinx
            fL/YPXaAOt3R9xgE47ImP9M4laHKdnLY97cIFMaaQH51LrXTxXxiFXyqpjNC
            JoclwLgEZtI+2Gc/gizFNOq9AMQBmp7NOpP60UuXWMRmY8KmYY6ygH+YGGwv
            Gu+Oh6hvW7e5i9fPuRvsk+lu9KqcAbF472v1OUZ4jN+hdI5NcZdoyAMSMfLA
            JssWYt4W5og8LoCHQZmDwQOrrAnpiGVbhMNiUH+jdtfExl8GZKKmHKHTl9YF
            0i1sjPBk+Qv6+kq89henvV3Vvu5mcwKlKu1+DPNW/+4/HStBFG6NQPDMRCBU
            x+cWW7UoWGcas1KyZu1iv790ArJPOnwpE6fbwzuevj2S24N53nZ8J1xucbeL
            aDfk4xY3cZmY2mKIC2MpV5VIAFpINkfbnA1SoTP/EIbjmNeHG7Em/pv7jet5
            Od0kZ1iEtlYyzHcwzSA5CALou35zaF6XGn1Yn3md1KM2wgPxVJn7IWSgS/ma
            BJf9dJzpb9gfA7Uqu5rV+IvVPDJXwEDZHlvyTCw1MH/P5JyB/2IhfDJG2dkt
            Ln+yUeQeLLOQYvkpf1L6fiH5xdPx9j7sKk6IRGg4X20bmjcYBnUxiadStnjJ
            gmRUJbdEkbTgLrmsvzPWIcgJyf4id+pNCm6OLx5Mq2YWPcdTXCw9lWAJhNDA
            woGDyBmltoI/3285+mH6BZLDxNvGIM9VHZW40wTt3fLTO/ML2C+C+fSLyERZ
            c0HtrjfOwinEplFZXsh3L9FQhZnKaPL84DwOzqtmrBsnSYw3gGMbbIcgrRR8
            k8l/65w5oSo6Z7nNKKxFjb+czZTzsxvBm17fNCevuKz9PYHF08L2tWAxt6PI
            Ewi+e6BnUZNg1X0hDr23BtrRsL3QwfIESSyGEXpYh5nkwZ+N2UBCZRFWfvLN
            Kl7FCcj+k1oFnrtq+4tYGC6+GZd3p42aiWylr+7EC0MzVOHGDmgpX7F76+PT
            WgRLRJ6WtfsWSdKFfbspujlFZYOMX8RcolVRkZiDFj9oI5w707q/Yphdc3/k
            STI7ODrqcPyYp4by+4IEMXTlKfESPyKEgwRCQA+KCiIjHrc5iGtVEIKVERdt
            R9j3kIBMKYWM35ktRM4LsU62Jf7LIgVQFh008vBl3txtUSosrNi+TEyE+PNv
            SkOt5k8AoSUqUluMEGqF6Vb7d6S2Gz+/Z/7poLFkCWf7v8TBtiKCd4zd1s4W
            Dzt//42uufVT3KR6AeNcLGzraVs3O+t3i6ONFLyRi8l6Gejqu/KdcQOWdJDt
            GV5a/908VfkQIMIxTI/B7p3hxO/uv6sR5WjOkdvHp7ITaQXNla33Nls4Hd/J
            KyCmaYljtXnjrz+UNua1ysdOxWlKOQpsu9BZ6DFLVqveGqnvKyFzsmmlZ6+4
            Zs2MWiWOdN85UMNH914XMqGyAbaflZZsfPE/ZapFh5+6PSDkIB3+YmpT2OZu
            6fPZjSKyrTCBE+Ac8y/kZHoFibGBXJIpSlkQAlKYHFqAqTEEAznokXrUhfZ0
            HYmGbfeWwEtFqqG6rjTpNU2eTjaM6CtlfKb5mF52XegGFoifHfuW6+6YEopO
            dUyi72NS+qj8QVMRxKWljL8+jeoFcXTKqVcIU+ijStNobkQC4tFp1VkBErY6
            2E91aI7JPFhR7lnLFo4GCE6lTYVytKUdwjqVjXVKy+i0dCu6cyFFo+DkLZGU
            cDKpDB8E1EOIBkYAj+/2fKWRdWQCM7yKFEHdCfzR+sesa92wVEk2+FtkZnGJ
            7s2jOIn8W1kST+adU4YMg8s4n57OmzDvoeh96mH3xJYz0ysQFGHR+/jCaIPp
            4XuUaTWEkJztGI1OOqC9LD2+rJvZuaCQ53GfgHWrtx1Kj2Nyj2N/BqPph4FN
            HaMSGyWDVTvI/ML39XH/envBY0cUCclF/IPUHcRKm42AVZxvZhhUorlhvpmL
            wJ6Xde0mosGbiN6uDg7Cb393FKUnqltxPysjsaPqpUAN3afJgNxwrGSZTn3s
            gWLfzsKU5VO76dho89tpQR2f7I4TcDHvmMWT1/3CP282vdnpZuMv2/ZE1s12
            Nxvf7H9r8TvfYXvCXs+Y44Cey36/CbMMf1+LSVs6bv0W+Nz3+rmB5AjwMNx5
            tcXB8vvXY3vqzNrY4sg8cR8n2XaaPT6+zP5RlkKkcWyxc0cLzD09KCazoXi2
            U01u7fWlD5xKWtEmkEMsCEA49uHV3AJ9qcpVsMhjNwzTOglQXKqgZpjO7H5r
            bI47HT/91umwoEX089f5jO27TmoD+PFd89ytee4oWrOaPUUKC+R+8844b58O
            Qm1jZ7NCtLANgnfCYbBZkNJf5ei5mdVyJplJBkPJLnTp7eBTYW5m9mmulye2
            TsNJVxLptAonij2x5/Hc/M7jFiG1XInySBx2s1hwaWLHt3Hi/nwGXosVhoGs
            mYjEjLJg21jMhSlekRId7xSD4UFE71YLBfmSb8RCRcNgz3BPMm927mDxNOQD
            RTJD1tjJaV872GvSvx/Vaz+YWQ1xR2X2DoauvANjkZWgDDpiPUr8QBJlqyOo
            58zHj8lVxxghyrgPoP3FmeJwQZZFAztTrQztGJTJkBvDsS1vxUYRw/zoJdm0
            pNgE0iE6vptu1ktOJ2nvYWMznZbxQwsiXa7oHE0h4pstJjwZhdcu5kBVbkbF
            2FWtSxGEdUvWOulTC0CN2oNAj8cL3uBWcjkq7fsHPuhH7ko7Z9tUT5plmJtj
            Cuy4YHpFiOfbYwP76ycb/g+cF4Z0vdke0fo870ZttZbNeb2nGDmvCm79nQj/
            Sahe/mzKJHphcKwhQbMA0uI758tqCiurTdm0iX9Y5s8WyClb4n4Dz/etaHww
            QtWC0H38m81tNvXb5/8CQzgb3EkPh7PDLQ6mt1d6tWsXD7vU+Z/Y98tWNzt1
            7f03Gx0uJjY7JwYEeRjNTMp+agfRS6/opy/UXhT8Uc7i8U34b06+qoBUuw7N
            /JaJncmioyObdG+1Qfyb622AftB1dniqPH1STJDJlh3suPFykNEpbTgV9/XW
            LMhUPcxZx5YiySuVXFcQZKA43WBOCF3NHdxUoPfYLFbCti2Ca0yOubA6WMEL
            vXgogTcAUZxKxCDboWkGG301dpog26dOmzEwqDZJeIenUrF9wPTdV05wscnV
            biEs83Uf7/dsXEe6wzLMLpFPNhe1mqMwdeyWS/nwbkCjCvbFUskE3UWqDvb3
            bJVRwRBCvswwh38hDA1VROVugOD5GWn43DcN4T/Of/z8JxsIyOPnvwUphwpI
            FKA5WbTv3Y52PoC6G2GMmFmGu//ItlJ9RVbhza1oa3d4626c7VnmOlaaOtYE
            Mhim/N3Elb3OgZvx9NLyXcSyczSLl67DxL2somg9hP37hInuYYGRbwhVVqyQ
            EAxBjr5lKYF+7CC8zfDWu4fnpNP3yICJkHvJNunpc4rl8R7ZUdarbg41grm/
            HDe9uQNEmjTmCtaZdBFmy0DeXxMKKe/D2L2xYA9W4VqHLVtMzNwp5srGPbPB
            OCZPTD09GRQTm6wd0iWJx2ux6LN8OYXof7gtU0f1eeJ8JrLGZWN5wnONM5vT
            aVyaF7UtZjnH9lBqRO7LYDCpaAda+X1xTHj7/TqyTrb+YAb06UToTikS0lwe
            7AlS/sCx39rJJJHFc05qT7Ds8J7tosfQvofxQDIqE+vk7+GuIWl0+OO1s3bl
            iCnPTdyUp3/6Xu1+y/s83uSqz2dRo+ULauK6ctroB7jfMqagmtHq9z/bV1yg
            DVtI5jppV2CCxzKdgEVN67uRdRecPDlLfAz7FjraZ2LZZzpFAfFXurwEu2ZE
            oIm+90IVS4ffzibm1xPoi/ei7lFU9V9Ozyw6OCZKe3JA281Dvc+EU+L3OS81
            5V4EmmJfa+gE1gCPih83Htk75/Gs2uWqNr6t2EQbpdsYNnfB/YTUXNJnrqjc
            EfrNEGs9jHyZC3vPgXSLr3dWIi4jtMliFFyj4ymWL8DC5OP4LN5xPWJbof2k
            tpz+pLZQP9TG2rb9vefn/KY2Zgx/E9iw0rObjpV/Q2jgoEs7MX83ZnNnkYVR
            rYjzEtjx2uCZarp22449TlcymxGUcvTp5/jkEwTZ20tiZ7z29/KG6J41tFt9
            vISULimeR3fuYkEcKWfRu/XK+xldEeMOPd0f4MeIUxSrClYsMJdtzNftpe/P
            rzH3z5gZKIuWKmdNd/2eBCejmHvU2SklT7fT385hoKSP6QLNwKL9YiqCMEOm
            gxWq4YuDGOpv+fEqGiIE/qp2/V1PsO35FzTBC1W7w6tse54LxRhEJ9pqUnlX
            8EbgI5BbUzR1l59dbZXjZvdhd5Z3Ama34d0tXgtkiEICP8Vuu74JLvYPwel9
            s9ch7uRMDzSFr3BtmnntrvZ6Nu4/DfUtMUpaPTmW96mh3drNSXL+2eddTFPv
            VvvQo9DDxxY7zLPcXFP5AdYG7FgNHKXAPA7WDJ3eWVZ+vQCV3Ghg+eHGRRQ7
            0RJTuf76W7WCFcv7oNGaGFegUThSi14QlMS2RGXYpox+P9zxNzNaNPiQCh96
            Wvozse26umCray9BHDWZWpwBVsR0aaZPN6u/J1znoQwqjE6ISDxUeM3YSJNi
            meNFndT97uWwuc1LzJK1qZIm7TC6w/Pps0HChbc/STCZznTwAyYpOcNbcZwO
            gwvsRq/U8LfVkg9D/lAdh0LI9tmccb7Y8y9U6KFAJqviKe5CLq4lqxxIA2sM
            KCfn96w2rMNy0YJjKJPi0vJafrYQub5y4OMnB378JQc+Dct9V7ZOYLEOtVPL
            Br4YfKF70VhnZRYpM23rfC59z8L6m/xOJwsUic6x0calzUyq5G96B6sFb+z3
            7b+7/778d2Z41opKcjFMAkK2RrZVYv9VNryJqj5O2nX3leJ9vQuVqOxUyjh1
            r2Dmbrx7G5y3cjA0TNnX5YoiKvm+DvLx/nENNA0iO0Kay//AnP+CNeEOOfH/
            wWiV2QMWRp9qPXfHBCiF4OUjYt55rOIz6bNh1IXqUwFRE3veHkyttmF9k7QF
            b3PYrndgx2kD07Yf3+lYWKA7rpMdYq2THthqMrSoJDAOwhOzioPthR/DmCE4
            v5VZGJSpfV4qBBTlDnOzWgFYZrFQhLVxrg8QjbwnxCJmhkFzuNJuwu1v3pQj
            OqzYr5DcNtJrEhI1VmcDIHpnsVDCZpgMkoLVXGWdxpxjAW9wXHSiAkWC0KSv
            2qBBtCsy8WPtNjc3tQlnlqeBtQgjVamcrLOh8dTB7MbP66iu7uoCVgtSneO5
            0QRaOnbGQza3F62Z9k9wD+6gFlY6052H3B6mlghLKhhwiHQ0VSJ8gZe5FPzU
            nUqSCV05U1iqlQykIIsvWKE2vOAIDJA+pexMUl2pN4Z4/CqluI3RfUu6/KVa
            7XvRvTHcuOM9dh7qrhRo2Rgdmz4KA5FMLiSpBJBmynFQrAOmvpX1xWdCGir3
            YVzeXFcdoBzvSEW80Agcw5AdqBJzOofda7S8GP1kKp9yUdp7/DnZABfHm32W
            CfbEwMcK6iQdmZ+Ol3nSVEvtm1iC5+GQO2Asw3I+qRm283yYA2jJv9m6ZhGy
            ip2FZb4LzleiXx3K1Sb0kB/n6TNffb66IBfDJZDc7Z3igp/YwnNDDW2XhTCr
            CsUvfaIYf03sVW8R4kcebgImMyj6VuWrXfBXR+23qeLcx463KeN2vi5v6xIT
            0XVtvao3pCyPpyu4WlF2Ls7++y7dEDEL1RR03KrUA1aNt+iwO0G/9/ewywbZ
            oHC35Hanobcx9TT9YBKC1WN/1lva5NTl6W9VC0srR00C2TwoTmaYeSoCxQ2P
            EcsgWe4DI7E6dhMzoVuB9NnficjDc1fYpfD09uBR6fTq37uSg3UuOuE+bczN
            5xTNwZbo+xREYWK71OFlFQTcjlb3+cmO8+cmaxWh/JL16bsT8ttp+bOA3jrW
            FPn8E2X4sMQeiLX81Z7hH9BWSjQ3/rx1o/lmNA9QFpNbIfX4t+tWV4BE1A/i
            szCYRMhi6/TU66KJUFzEEs3/FiJ6ZYMQghHctAQoLot2G7ZutmwLGNlUPmHh
            MJeTfQBVAEu9UsqvYhGDpvZywFiuodIEEh305BiYMPV4O4bUA+7EazLZBbus
            1MoMKsmDZXUSyXa9diyY+E2iIjJ68mvLfIS2PkggKrBt+pvpjLDQCzZ5bAOm
            4rDj7DgIOUMk4I2M4xbm41i2weeRFeBSWzDJBC+vpwGq0Iurcjnow+xc6Zwj
            qT4kGPGADNfcfXoJEuZwR8HVvOKfAw8xEpj9McT2Y158ian69Du6wMSkXKys
            vrlgfPkkIXjtQB0H/j3RhGNeJcj8h/xgqWiJjIxGYUeMDZf/5Hxbo5RxWXsu
            Q1gXfC7bRAQD9Aif9lqnV3KzPOsj3INlX6tH3eHje9xH8VhZ3O9MbjZDmSEP
            NgQ+l5x5D1PmcYzZDsSnH+RM/GR7MX6qBepXIvB5E3iBNcr+7mC5EFdDaQ1s
            ocbY26nvIYzGnr8jLfO1cC5Gcf0cHALiiiVs3Zx00jkDC3epOc2uJu52jSkq
            JJ6Qfo/l+BqLpQgONvxWNCUZEBjXjyKWOe5gn21awU87+2QA9tmypvPFVHiS
            1A8ubfkDHTJ8QLF+da0GG+Lk32xQPNTy4nInW3DgkK4s5mGLxnOP6yf7/mEI
            sayNoOdJXS3VGBHjuPCybJFEHOJjGo7j6QnHFedGZUCzD1tnS412jmFeWGH3
            spSQUCfslsaeUqGrQipcFz2hZDNkoH0n2TJgfprnU/0n5XJnZDm+Zr6i91g4
            MBPJ4TfpeU+2+Wq+xl1s3OF+Tubh1h02UOv0cey6URphe/wsg3BY7mO/Xwjy
            NAu9CcYEVBkGkS4aRScX94zWJl6tXX3j3uvF5zryAlF374EGLaUodkQ82L2z
            mC0888kbBvZwS7ow5mo9FsjKMnsz4TvOyfshi3mSboR8Y5gnNXVp/dNdEjoK
            A/lbeYFOlLxdebosqchT1fruPTc6AVbfkn/11l3TQEj6troIcL2hBoIs5P7i
            QMxrvH+j5zSaS33/ns280XwPWIizfXuevf6iH6oXbvOBYc7OVdwgJSVS00Oi
            h66Az7I5Flurtt0QcWAx4sdUYVaZQu5DVV+XKusCzfEKzmMYUfwbi4nyYV1D
            d3lAIzySQSKqcYbXxLYT2vnZ/G8irsGMEgwIZlF+c2kr9R56lW93RQj6nAWr
            xMDdg5p0XD308lkbtYZtwgDQ8ugqwW0VdSWOo9ppNwWKrkswgC97P4bZOmNt
            rGW77k7LnHfrZ1Pf05Nz2KjTrE+67Jhv6AvZLQWeYPZMOCpMqjmYQSEvoxHi
            /fiCGDHTXov0TDsBTAtpT2JBEK1d2VwkIiruWYqbdq18BKNZud9t9wmWkIQ5
            AiubbRDNG7t/qDSvRTnLYgXLlUhpQZ+sB6JZBWPtlCcfKt+Xcsqinf1MavTc
            xU//oNHMSr/TZ7MQTsAl5jIFtZBbMtg53mju9uQeXnGG+5Rs9zwtdHBCDWJI
            fwzwbsIEs6kbjPRmpfgTxEA/y2Vh4mFdiuK9W4baTiarjUrE9WQdOhLolNyL
            ARk0XOF5ZfEmhu7OsXudTgzr2i10iMhK+OGjiU0+ZNX5wGahm167l6l0bTGJ
            jXWXRE7PXIrOhigKspkIiGC39KIy49pgChWUE3gp81VDMyBT7ppIjtal9zA7
            20wv3OHVXbwbzDLivASlczQB6r1p2PdHhk2GuLn9qcEdKk1nUibBoZeoc7DA
            0ycOK2YJFLQJr5J2YOgQBsG9Ls/CJhud17HZz01emLxFYFY7qh8KkqDlPHsq
            OErIrhaiEiJZUiVL1vY7YRxDnbitZCp9eUM5IZXs8V7GGe7DimSer1I1mSss
            SWW5PwtNGOJLKuB/iJTfiLoy1CVZ6CvSEtUY+O1yx3rxEoIpmYHvqZrqtz9A
            cDPnLUlk7w2Ki3m+Trig+0K+XlahTmWOdRWYYypcMPXwrAvMuVv+ZJyzhU24
            xGLYuwUK7ZyWCmsN0Dd+UKdi5C/BF83+YhxMYhNYIpYNLPY0MMmT5c0DWjYh
            drw8ng3KuOD4W1MTByoxRcoVu7gQovQQOAXkz7whlJO6uIPMKBtVIDpOtb/B
            bIClRRLLMs2QxMq0+uP61AR2a19Nl7T6UTJcvFnPtNDvDaWGvR7keeI1UTCp
            MoWYxHLt/kh78TcxdO+ftNm4YudPXvErR8Iy7w/Jt9wcVS59JfviXReI58yy
            cxcXdTtepBNE9YZ80gyqtCJk2+0LNdJzv2bX9Ir0UxFV5ia+z43DnkuZucHA
            qYAy7vt6zJkb4hFlJeHEiyQQ1aZcVQEbRTx92gNSOKlXIzOp4y6PM/ZxQ/Ey
            sEZ34Vk8AkyAXHgxA96NcibgE9fqS6+n9kBNI5WqVWZyA4iPMZTGuC9bjPUb
            tvNUzG3AqJm0E1kEyhzzQmN4qn6pE6aIiYN4QwEiUdg/285iBs7Zz2KF4ND9
            uppJ49zJ6Ev2a4PHrPMAsZuk7xaEdB98h0RPHxfaXUVCTNTGwtGzwlZncgic
            8m1zJQ+7Z8oMsbCiT8I/KYaIRU7e7OE8MXOGw3dtRcO2J2Mm68uzQdBZa9Pq
            iJCxscMNBAAxNFoALzwz9hmEC7dYpLIK7WIO7OJZLkKVE0ZEPdAOK2V+jTlu
            teG5WZfBjWeSSZFhZrAj3M1UQxWus7/zOEkVCqTsoqW2NCzajtADL1XBSotp
            rJEz/N2bnfCYk+XBmfnICyEqo+cAv++3pwkbYZwmQ/Aexs8yJvV06Q+qfMYz
            vgxZ6I8Jj2IfgXyy7gxGaPJ8HBH4rPabML6qNfuKkf9wAjAdK4duGDzgU0K0
            tERCHF71gF219G7PX+yq8dpV6WNXCYaGSl7/aIV70QVbAF4T74/WoEofa4xO
            TARvRWbuHCE9ngYOdCXX6SNVSOGOs6c22At/Z1Mx3UDTwguNERrEnjgZdLc5
            domAWd3GYQj5dDWavj5SMXcnuxjzWDXM2o1Eif15RTXlo7XlKb1yNy1FwpgB
            kbwrsnLUdnO+aTzVxhnV1oy5a0Gt3qLg2sLcWhkI/MZ7YSNNGcJdmYlQWb2Z
            IDW70w3uaO9LQpnkp/7upzdOeHt1P02e/kKfYsemv48vT//DkLUbSFj6Wx0e
            rMeMavXUrdDRkogR+9RBaxmcYWQ1hm+LVnhhTQ5To9StxxqicwLYtfB7EiO7
            KifB8VFVPSYlOybz3sD5mAxS+B1x12jdE8VulsORBBKDtBxm3sHwJxKUwHhl
            aImQYASzM44Qq7MpAExtIQq2hM658lYVt0pbH6PY41Sjnf52mBalkn8TrZ6x
            bcvEP6xxzaVmOU/BxJ0+cbMsljJOgvSCh+Pz0CQOOlpvYpL/OD9Tv9hWN90c
            C99xbqVTlhr5soS5ybonbHl8KjuxsyC0M+QSmKtEvX65da3ju10GpKom+OXx
            3MqEfJraTWInfEYnXs9nYg+m7P2eJO7r3SqLSYQhWPkPNRayaXaXkC5PB+mT
            byuCq9BiMZ6bzU1Z/18l2ZnLpE/mUmG85mipnTuGspnX6V63nYd72ud8hNnP
            e9+2u95x7kqNj7HqQGlcVFgwRRWBu5/IRj0azboFsma6vf2mKlH93v6iXU7L
            57u6b2sLapjypV/f1BLYPer8woUQk90+htPaG7Lg+qswmP6Re3cyJmO9mClD
            PkMFlLEETp9FHCMdY/RBtKJuzCc03CX+wDaNR5c0PIUdbFrcThC6Q+l3IeA+
            JncI/2Lo3EjA2C/pvqyI+oWEtPIGIudx+7/+GGYEOG+T43FZNLH/aCsta6Ey
            nUORM/v0ySjrUqIxhYC6iLFu1R0wZ7KGu8kAObo+pZjkmG+2niYuW2ZeFStF
            DoMxipeQ2B67hxJ2gmFJUxGv3k1MgjG6ecyAz7CssqiYBmvTahIiHb5PXtWE
            KmOKO1QhRlNpziobLjObHNolA3RLzPjCll+MagrTdncw8zgNn5WWsr5I9PTo
            p60VkGUaNBG7v6oST88JLmgIqchKOnVzpQbCY2ye2gzqKdkWMkgGIsTw82av
            cjcs+i7L/Gnqk5Kxm6/v7jbgRcmblE0zp3/2sfqgDVmDxmux2/tkERJ1E2tb
            wO6T7mCysoFpn+uwBJy7298hXonCfQy/WfKczbtZK1t6Z5ggqDrc8kxS5DHU
            3tcqt3cV+gW1LUh6E1Nhuft7ST0UDhQbusjfvnhcRHN9QM8pJNTPiSCljOmb
            lF4yZT1bntpECJagQLW1M4Pd0VxGF1iXAnD82+OV72sbFbcZE6vb7+jmarvy
            l21OlPL7A6aBh0uK5lseMKZkqost9c5GU6O3ufXb7Rmsz9O9H951du+HN5Sj
            0t3vvN7rVMkcWbR47e2ORV6l3Ory8uZgHh5ZNJi9OHvruzRtg3y9uQKXMjdU
            07h7AmZX8bCb2AVFicBHMbTXTLc02GI6W94etdQe6eABwuJWFMT6K76+kMN9
            IcXuy0VLFISe8sd7mWnJjEb3w9SgxaYLeL/ryLC36lt+H7YmwpyAQOgPC95Y
            zOFsVkMqggCR0gfH7laf3ub9CZZxy257FNCNDnwPgE3LzXwDdKzuYn7JBS3q
            kc+qv21q8mGGRdwEAX6/5sIELfJsS75lpbgjnZ1qBx4M4ey2ptxiSf1Qci0W
            JhEFYvXdmLoTi8D05N0f6i1l/ziTDmvS2sjgrg3yteset0+hurdtawvbhbxB
            v7wiAXpj/jKfVWI2OONYNpaXCCKGr8EMEeYytTiuQko/YVlVbxAh/BzsgDtB
            yxJMmIFJnP+vtWtLchzGYVeyLMmWPmVbvv+RlgBIx+ntmdqq2a6ZSqcTvyWK
            DxD4qE8uepI9sWcvseEkLVgXqqLCfVMFBgUJUsTkT1Ypk1539CfLNPUeI/6Q
            sjhG2fr8LbNMeUWEeOLhIvLz8Dcio8W9hdB4R5IESK7m2TC4lOr42Tq7kdEs
            MtXJHdFi2T41bTS2cOQ79xPbwuDJIKVFaR2boBZcUEXOVloALwo6aA+7y8d3
            yzpGY3aAx3IoC9ik9gaG9gv80TBpo9wDiBz7Dhg6iBaHQh2YZ/F70e8buR5P
            MBbb9iPdyRY0DQFbIZm0H8tZfEcsVTTCYtaffYn5LRxBDCYHzMZ280aOAEFh
            TqYZQdvKNQBlVPjuW1SezDGYASnfJTGPVC0h29n5kWDeIBCOQYO06CHyRZTp
            8LADYEBWLsQG96vWrePfZBJbkS/8ZPEio+ct5vL6Fgltk/kkf7p9Qr1885kW
            rXSRzWtN2bvt7J+U7uUyQISb2D/Q3sRksPMqQqb0kfVAincRc1CVC5x1Z9k+
            AlfokYgKnUWJR17VSohId0HP0JR+onlnZ6XaKR1ee/b2HsUv0POSHn8rBS2X
            yIxu2QJzDYHD3B70BHo/HNDc8E4m0+ski+4gjgKkbQXYdWzITMGBn0gxbbC5
            h18c2EanrfBHB4wR7ZvVLhyL9cWB1cV8tC3vtmlsYwYdOvfl/sH/83AEVz1s
            W69mhbq7z1LI6UyvdCF8f9i/nakTKZctZnQjS9tglefyQZa1DdbIsd4jXfOz
            v3GZD7WxcxnHbrbaPfs6EaPYdg4AjhzXcRASPwtL2xY6nWR3YfhF1fRpS8VR
            VWlb1THNdfUmKxoQ3SwZx+CMB78XlVsDG5dAe7d+e45/GqzNuSVjGbBJcDDj
            mjuyQQXaa1XS7/HBp/n08H626omk2by/zXf2xreyccNvppnlWQYLIQsg5+i5
            tTXyInZw0mM8bOBMW0oEykNiDl5mVUNHocy0LdqjhIo5F8iEBdnCrFUCBzt3
            drNrwaYsXLhyNvTofXIGNyIpN5pwySyEtEVnsoKMmd8T02xj3SjpGQkTfK+v
            TxqUSe8j7ccq3/IgZGH3dGZhJHn6al14380RI7YmQK3BxiA5iXalyLti+tiJ
            lgpYWq+w5Ch/kLFx6fCMGxsH74XiyKiiLhWQfTCU9+WMWJloNJ3MWZ/61YbG
            j+OcSbw7Siwc1wR4/8FTABxGqSb3iwDWDbdj2HePZP9PrH62wlK1eO8+Rknx
            jKcA8fqjgeeDJGwdeMgwyFBCeOASFhofNsw8tddDuU+4DaomLuOG5JTF7oui
            uwHCGsAPUMJXkMCFAD0bSJy4P93ZnC55rh7wiTi/irwyqCv7Sh02FkHtFygB
            tpf9g14LoQNd9g/38SSkl8jiUQYzYiS9ZlL+LKwkn3DniCUgeq4/mJ+69mpW
            oUcD/DFFD9EmBeb4gNiQz3ZbG3gHNBdADObgdTcsA01VZrn/9YR5goCYd9ez
            P+R4c4BUF2757TjHj+OA+WflcRAWo1O+kc2K7SIdBZoGcho7kPkXeeB4ONZu
            Tvf/Y98w9Obgtx0pSgt0CcNEkMBGLDKK3rymosEdtNMIInbgaBegmnab8Ttc
            GKY0Tl842PDdVVCmiaGeWUf7ChmKGHmGiJ9Nkmu3mO2YIrHN39uW1WzdJI32
            8/1dzWDoL7IQFFyhgE7uCjjoQh3XEgek39cxqc0fX7yaslDxbQYthB2BIFtb
            PTCNmVc5pAZvvrjkmZznI6El12UtoSiObSoJUTt6ROomn5YJImw/hiv5ocUm
            Bgw6/LBPIMoBsm1gBkYMUf59RmGAYjJwgK6fCTAn2j0/bl6ytegfj9XREfUe
            RHzY5PgSawAe6JY1IVBWAw9RfAarzDJe4srMQuv/PqgpMHflLr6D32cPQ/p9
            Bb/4P89EzML1Y1U46y8L53+ZiSB7x77hsvyWWq2XJ6Tc7yVgky0wMy+UjomE
            1eB2Z7z+48xmHT/MupPLrhK9bYRs/FyWLiLXJpY6LnFFM7cDxzopPnezMJF9
            v55izqDm2N5d/7pO4VcOyMe81u7iqYEMoWKuy2CxWUlygiCpgefSzCnyFSnK
            RaFeR5qGUe33AVVdgl6FcqqJvFkjIWO7uj+QEAgTMWirypPoOiJ3FOW6hfkq
            pdPljHTbbblJk2Am3qxLivNZ2wU93U1tkhb3k/AQzr/onXcSvfV04LWCTsJc
            dXhiboValhOExF7cSAR4mC2hghRpagZrWBvFti9FwVM9ssmzy5daTB+VH6/9
            Xst8+TQD6RFdyyJJTeaeYHbz4qU6ew5DKLL+/TDlD1dPk0Qwd3giMCAZ4T/H
            oIerW7dTa7cZORK8Ne9RyIDL0SwQKWM2u268yHmZeSf/8kDWA5UoFIsvoKAH
            I+yBlDJGIbqN7D+Y8M4U+wK4yaIpaH1HpBhgJSjUWfi/P5yWkJEvHwoi9hBX
            dvfDSJ/2meBuWJOrr/s31ySs+nb18o4383rzxjQFekTAPZDzxT4KYCXMXlw1
            nw/wqEJaEfsQRbRKf0kEt3Z3kf+5OlEe9sSA2YTsMiB78/zwhAZlBc6NcD7g
            XKBkDw5vO4dp58DU0Q1QgaeOIFcZdNS2FMTngCfG9ZHHI0stUTxrW9rUF7yj
            04cCNRMs7lJBILH8wqoxviny3h+o+A2Gu28dwnLIXQHjKG/TaZ6fB7Czu1yj
            9vrUTDxz+1XBwo4PMFh0gVqm6hKPnPIb4p/q6xjH9bDXEapuNzWFqs9GXOoo
            8/W+SHRVEgjeXxeCdN7ReJey+esUuYlEU6mIxISjwxDhUHzl0lS3CMG67p9H
            PWPixo2z59FeTO2kS/bQwGY5OtFJ4AU6gl6FU+3XCLmhSDwSru3mo3eJoa7O
            P6WL8zqHHQfVOen3yUyg0lsCAmgPAw+xNwWR8f1yvb6//vf326nvf8EYzcie
            i3pvAe0A7Hpx6AwhiijUd6W6M4JWRLE31YPyHu0CW2nYP6jZSMqSzDRi7G8r
            8z4zCyA1/eFEQtPCEIX3WKOgn9XOF9PMj04l2HYLbk+ltaVBTa5rZXprmpzS
            ZHODLAuzi+r7Qz6InaIQ33rrPTO/YQsi7bgUVjJoiBbqW36k92x7lE5VwCev
            gnoA2BlFmBmTjdugTwKqSZ0zUuNdSbDLayTq70Xq4GLH1USnpoNQF91Qpbwv
            QbdBu6yud6RmkxNjJu+ZC96FqBqJ+4eeF9ABwzyTyZ4xVywBN05XaxUQCOlh
            HamvvH3sBzc3CCpcDSZyLH1Jnj0UVBzYcomJ4I5eXmGvFWvEzDVGIdDEh72v
            GCV2YzCt6yhFdrSovcrW/OPpkFm8Q0a6CWz7CuLRLkbY5X94PfS7CDQvYOfY
            fNoYYuh3cS/307d5v9pKxnUHCoJ2jt3WDLy32aT3w9835YHCSvT2MnlirpOI
            aHtyTLUXNZ1u3bynjuZVJRg6y9hdbGx9u27XNhTWvXqvspC8Fgy8pnqWncao
            A3k0F+mNZc+TI624zByArd2p8/pDrUsup1AX6YfawtpgPMObUFdpEzypKnqL
            +G9m7lStAaxpgHVTNCN/Yr8uQGZDowRkOchwApJuuzbM7mTB5pmZ2mFmFHWd
            RIpcdb+SBqcKGfeleNYysPZAlq0sVPWcyg6aO/Xj5axah03pa3rLFa4FCouo
            QL4H2R4SyBmU1jvKtqj2Le+WuApeJ7M9nMkR51HWZx91c23rspL2Zxk54W/8
            Trpb/N18sYTYmNlXVVVzcallOD4x0DeBIjrQxx/TcQp19qSDxRTCv5/XR17u
            uZlo34LzJ9LthE4gMrdVAgB6eCPQYcJdvlbe1MGuWrupi1PtEHKQvE3s2HtW
            h4p5izt5IKgX7RR4ZlG2/BLxRJFhHTZAdg6QuxDZbEtY4s1nbJeQ0bFhZQZk
            PgPkFOMZrq3ZtcU1ZaTusz3QQa+1kM8JVsrsHdVb7K7kYFGrpLv5HjQHBy25
            oswcrLEvlno7KtKVsMzkD8W8ws6KZobel8C/wG8lW3rpFV8XYlW2Edsrxm6D
            /o7d+8w48H4xtKPzBzWmQzQ7NhK4H3yP+6r2hS3u3XQr0IhEoRnFxksRpui3
            pgsgqrmwOgtBc+8nmjFsBCQFtyzeAzixu7aTvKCu16ud4l28zv7u9CHSB5dS
            /bWc/e11XdE34Av+nOoEQh1KlaxkEY7w99tgbYCW5pa4Bv+W9/sWvheIjpsE
            JLWRj+yDdbhcMxFcy2uZe6TCkNUAMR3Mb68X+x2JbyADTLWn2m1hRhYpAZH/
            dPa4CBqSUbQCTRYShSnyR8MbT4DWWnTcqllqCFCpdyCj8LWj4ksCqT1IQrIK
            ZeboXMU9bTBbJOlgisjruj+TMCDrGHw3QNC0RqTO6PwYyOjd/ofmEg+OuKYx
            xXOvvUoaDlD1UtjfB+YMKoNcEOVWifgSur3Sl0DZdtg+wIYO5IXwYOw/rIhD
            bd2m6tup/rQMUUbpMLBDqDlxAxQQlz1YVcVf2JLdLzvQz46gGCx9Hrg9KIMd
            qtdosDRcdC19gNUJbA2Ls3EC6ZFS+W6If8cw9bPYQmUIwSrl3YHGDpe1Uy9s
            g1Q7HZyktUjSK8BIrVQoCgVOiFmxwzW7g7R+x0K7y8dcLAK1bjPG+T7gi4U8
            Gcr1KJQkgr4eb2o2BTMbikE2MAEyVAWJI90bg5cgube/tc+VpOnw3lWYEs6X
            9LrSJLfq6+q9kz2+FytbgqRj9Yyu6olUXnzqAlAvQedxZDO9/7eJkOikf3t4
            kgvn2kTNpTbQjMUqr+wyWbENqbgCr9MyAVk8v1tKyAwaCJa27R9ylO4RYBNG
            pbpSw1HRuFE6F9MFVtzrgn96lRqO/FbmmfWqRMopJankyy+yf8tH6MPHmhOY
            9pOEaB3jg5J/6OlfPcuDgG9VOXysZLPv1F1YaP75WkiTWMSwvDljKxk79ij9
            r7hbjQJi6yMHeCwiScuHwsY9CCDMrlvkWNlXdZvXcVKF+o+fn0w+/PnzCc3r
            v3y+I0Pyl8835B7TX7Y/LSItf/68L3//PCOW/+v16fxXKSWjX4b9rGvRe/Nw
            9L7659Xfi7BdQurmsxIJv/aiD+fijT2F1eXsG+++M7Yh0TT4+0vvpx+8S1R3
            Wc3W8v26/P6jk14rOpbWRYlCcQ7zZ7u2/aMJCVyPmUt7D6eH+83bxkYk5N/7
            L/u3AJPV8b2W5XUO623B+y/fr4f+3v11AEsHSuVbr/Ezjq3wundKk9sD6ZUV
            nItcKAAP589V2PnW1r+23/v2/vxzAtr+zNr+5357Gut7u1nb+Lo/ten+58Ht
            m7qkUL7la+wXXhgPN2GgAbJb+0zDb7ofIr6EaoP+Tq5hsDT9+ncizvkCGC6l
            Ngd1VdrG4bAmR8SyHru0xQdJPh/Rz/b9/nNd8dn7J/kgpfGSZqjvzy4ovgNs
            3X8A6niTOw== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
