<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.2014</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.2014</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_2014</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>04ca_2014_v4216</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8212</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_2014_v4216</key>
          <data>
            eNrsvVmS7DiWLPifqyFmIP8wcf9LalU9gLn5jcioqpaWkictL2560kiCIAgc
            nHn49+Mf/hefx7vV/vXvWl5deNyTn2f3GIuP/omuT5c2rrw5uFRDjz+/Qnl8
            yuevnL96/tr56+dvnL95/tb52+fvtT+83P7c+fPnL5y/eP7S+cvnr5y/ev4a
            /3x179Pfxe98z3/4iRe0UPD/3acY0evTn4cz4N3z67/U//Xvd7y4h6lybuD/
            ffH5zS7HHHBcmCKfZ0k5lYjzF/9f/ROi3+w2pYSfeFt92HPAl/PoiucYnoC/
            8lReaeFJ+Ox439zUoqPFxH0X8b7Kr3Bct4nRvnra81/ugb0tvOSMf5xe+jlG
            f77nHOt9yznmc72c4zz9rHPfn+vhtpscy2OtPLpBhxif3Q+nD/3oFZP8/My+
            vpsjiA/mkNdPz+epOu9bXt57+RJ8lSun99vPaKPy34wOd148xd78nb7T+2c5
            q51/vrexKfvMr9bchwBISfOMplQXywu4RUtBgMOiPr1r5nr7vMbFX+DiXXTY
            K8PrRWrV/c9t1719sUM3lavIcWGsmjV8Q3zrkwCg+SVc/Ff3+0RvPbrX2xfW
            5wCEbWN3JsKG6KrT/XwW4LY7j33a3YdjjT/94TwRPG87ntf00x/O6wem7KGK
            /z7P4//amXs9z3PXNMCI/3TubVb1Xp6HJoiIM06dY8H1vpl13kMPBi/VzkfX
            /T67zkcYuj/xn87xH8/33HY+xzxQpvGMNQTsb3w1nrHH1nkNXhDgy+IZ7737
            PfdwHrAyf5zXHF7t7MdtQAiw2BOx8x+0GlqW3uL75vn963Ofb+9vx7TeYxeU
            /Ya0P86JAbGDwtScE8Kq4MdXNXSAS2DyzL6S4bUDJaNUH7ifNOL0cBfM6W29
            +w51dCCRZPvuKTtwD47W68wvMZCwWvWzC07RP4YxU88bs5XQSfzzL6y//gGP
            /+Wvlb/+zfbXv3f89Q/o7uWfi1F/Pib9bazOn3+OiP2PP0Dcrz9fBAGB+ILn
            Zf/1r7u//s3917//NDbMnbP9xHVogNEXi6//j/r/qv/X9Z92U1enri61Xmq9
            6q92gTQPONNa/NEHwDRh/etT3hdfCHgcenrE3+3w5YCU9Oj/o/6/6v91/as/
            3cv2/2qR1aI8t10QDQTkT0KVa59/5f57QZVjeUZ1wtk517/+c+/n37r/7nPt
            H54DAb//0v2n5/KzPs+V3/+aQUAswCk8Dz//ufsPffh/6kPPrc+/dv/pufS8
            //RcTJ9//v67z/V/eI6Y5e/+zo71/3/dsf/f79I8BAEpb26X/7tj/0/fsf/f
            79JsfEAG7/j87+/YEdYS1c//5+3Swwf8z3aC/4bw/wnM/idYBBQXcoP27wfW
            fl//gSVcz3Xcfz+gguvp6/oHFkoMQRBQsvixnzY/a82d9HP9v1hL/3/X8p/W
            8u/wxu/rv9fy7/Y91/Lv9jWux7/bq1y/f9qL7xYE1GRfKQ6eH5sgl38EvS5R
            qLp5xFiTKMWIU7Ui+ZzcMiR7k3STtAOhhO3rkZ9MRndfIryu5yPMPf+D//5X
            JIF+hmu9pe+ZSPfqkfAl41DTEKVesDOsk86qzRcRpY4Ek/EtWn7auFwxUr7J
            rR8Fxe82Hsg3HQWGw0f8XZuQIICqn+kdliX/aqPRYRbqHd0wjVBLti5xxaGR
            zvg+LY79kYB/viaVWl/2Qw0T0EY76pHvNtk9W9cntmU4bWrE+3/alDFz4SSP
            hjbe5FUff/VTV8xdbfr7rNtPBdT9tGkj2rMTYFzzqDb+X216/Gqz1hkzJ+in
            zYAMPW6bp9rv9fxqM1uMNuaJMW/rExD4PWb8SuOOGXOofvzv+SHXJZ0NQMKn
            M56x29DCa5Xe3abO7AngCttXmolt0n64s6Unanfh5x3uqRMUHZBQsE6p27zE
            X/PrHMFdENBTohZR7TOZwfEe0P9u71dtz+1zPtZn+vVtLvipp56OLty2b8u/
            25Bx8LeNr9ZPqb/apA08ftsAydva519fPN3XPnP5jTtxXzYqvx6D3va71+Ji
            1xcARbu9RzctSUs/c03dUv98ZT+QkKcrX/20zp3C0WGQ77R39d+z1eM8bTCj
            w9m7hnftq80A4uhkn8KiIu2ukutfbeaeRft4Yu2faf0AI3/tJrd2rPnupjda
            G0Dv/Gqz/awGvVy9s+Owe6YgYKSfna7ZRfsv2Hfg74PXrG/MSjD4cN1/fbHH
            /+1Xb8AKZH/g+tcKeBerwFNtQruw/6uN33EuzRz24ntGCvT9NXM+7KeX2wYs
            9zr7/rsfrNHRm+GLc7JdU73/mhUPfNabVhvjygciUvVf+MPnQc0v2yStwBnP
            r3eBLp1+0GY7e9fyv9oAn/28a51VIgvy1aaleN6FNi0Z9GHM3206FcCC9K39
            I+hbv799zAqIPW1qtTGv32OeWOhE7aggYEa9a2Bp2+lz/+5zvTOLQ8hNUD9M
            T/irzZ41bbXp3L4HWqk+/2nzeuqsL9QHaxM7OMNPm/Bk4lq2GcJ4lz589RMA
            3kT6JFw8GEzOGL7WLgjo1QY42/VxNfRf8xnCMF7xaehne2tT5q82cc+41cbw
            Wj94/Xs85HbVpuM0bpufTp3wT5sMGuLVz1SbejD5dz+FbPLtBwhIe2R3Snqf
            NjXTYhVk7mjiGv7CDYSW58qEpUZde/Z/w3mEnuLqwewCS/xCUp/1P/Q50GgK
            PjFXodu6xBm/sGOYaU6p2AumcB/dc/g9V2tNs59kovmjvw7Ul/+0ASytqLki
            HzHH4aZ+9fO+tQ/1gyXsBybTrzZgs6lHZz+AW5esn97jF5YFIznRD9skYeJ5
            +NzvfsCxDtt3kVY0+66Sf7XBF9dwYSkc2p53+lq7CECq/rZp8e6R9PXtMa0n
            L81h+8EV5dccxuyoB2I/wBUjH3xyv11YfOT0hTVjwVSJA43odZ/Zquh1jH/9
            O73vpgLqq30NEVxFM9UJ9okgqO1fo4B8Ew0ixg/G6v5Xmw4w7LefN1/uIn2v
            wCjTaSVnhXDUbeYKBvpDmyNkXswBVUaL5lXrZ03rx+wWD7DZjz0YqGP9699g
            bMaqX0x7SFpHWn95LCm5z03utZHj93lMeEMg0c3iMHKKRhsDlolWzfN8kGYV
            HFH9q+RymfqdjP7UeaySzlaoHTmoFS/K3v60kWAnPf6vApH6rqXm+Pw2hz7/
            4fwPa+pf/nP/xb//7f/c3x8vNvvvDmiSGAXna3IlgkDn7ADH4EeKDzF7LKAv
            HTIr/nWIsmNinV6wvEQ+WtxGfVtwywffcyDyxVlIu4fURqAJvexeJFMbVASI
            SoEbHbdDiz4APQHfguAtbCUcJ84nrq+Rw/KQmFsC/cAeoTQ4IbsGEAbQC3B0
            ECkp6k7AXYYYuKMfpCM1hjQiOgbewV8EseF23B43V0wlRwA+aHyMObaY6455
            OeCNEAHysYDZKAt0FueYlliBbiE2AAejmwC2uNTYhottt9jIqaYC5gRMzPSx
            QyTpGMTAWEZzYCNDHG+KA0hyJvwBICe20dwpTvS/gGEXWPTVZlyzRupK6W+A
            p+PGOHfH70mHDAzfrfhixG/e8W04DhzRD9hWbD+Q2dTSU15I8hBbZk/Yx2Bj
            AmYUX5FmcmCgHJbFzZwcJtXhOTCVCeJzktq1heRHSn7l5N+SvCsJC5pCwl/B
            X8MfMGdYKWEaEpcZa50wkSkCl2OSwKVh8mZJ+ABQGwcEsNEYA3KGAxaxEfpL
            JaRUXyAQvBDt08Y5Pia5lnKImKk35dxTrvjd8Hvg+gJ+2gs4qqTi0Qv61ejy
            BLuKLttOZeAeCETZNRVasNFfpSsLhJmacURDSGup9pLAzaWKb63oE2ubmusJ
            0Jyw0pjJnQAyCSxfah3X0G+bK7XtU3txHwir+5A65harkwD6qaNvwEHqaN8x
            T4Dr1NebOuaqPzUNN9NA/2CrEnpNA+MG6UijARw77o8BZnyngXcAZiAv1wTc
            nybWCBCOFYxp5oLp6gkYP03Myxy4PkMCR5MmvnlCZp1Y14V5X8DvC7ti4Tnc
            TgtrCFE1rdbTwryvsdLC+xbGCLqB3SkvoH/+rx3Uss8RMplh2PAf8NLnenL/
            +jcgar/tT2Tr5m/c9dVHMK5UsPP+7yPZ//vf/xn/tQzYwcb/OD3997SiD3ge
            iITedInvOSOMh7zP2ZKvljtn0zy3cAam/1syKPG0KKaVOWdZ7e8Zd0L5tKTE
            EEs+Z8E41XMmUC53DOJfyjpngnzeg9wOGsZtQDUEOdP3jWD95OoF+Q2YyHUH
            Cpfox4O3Q9zgb9CIrt8xVkdPOYww+jdQRQysPh2dTSAGl/mWGdEnaBn6AwUF
            NQS9o0IJv6v6OMeHquL1Vt2nnOooTtCPZ1ExTu8twwpRFkXQnXeFBXrZNFaH
            35XnnLvq3urJ9U71VQP9f0wkwcyUSvoNdORC5/1StRKQuzqNAxivx7VShwsl
            UuSvpMh0HuLvit/O2e9p1x1/Q3bD17kZ8D21vOXt9PrB+M73gqf4/q17UicE
            zgmVSGP5LB6aXwhmGzyCbEX4QX0LhjX56ZrLrHN6AoHfqP4FfwCeB3wyRW/n
            MFd+xzaft2JC+bujXXOCTrsOhM9nG57xPKpttWv6jVX0036D0H1+Vz437Le8
            6gAvnjKd5gXv7XYPH+WKfcqzqh9yPwNNIY8NAq8jXi7Q7KCipoJ9peWHZGFa
            NuwXL/2D3fePHdekfyTlG+sHcNz9MYbxHFzY9Mf6QQsDVtucF2er3BmUAbiz
            Grl+Rz2eaRkxJxrPTKbhnGd8czySdBKYAL1n2fmo5/lg/aJDk4iwKXjMUa+H
            jGH9t+ClawEro+8DfGn8oKLSeST8p3apLb4Y4mcCRGAj5iWNL59ppiPr/V//
            pvxXqLXG/nWEixfw9UYqJZ2UwTUAsHxJGbBIs69H19wbRBZ4paNFAZCK32DM
            wMfee1mqbuxlwP7IjWY+enpMD64BLXzg2lMt6ejZVDc4p5e6wHrWFVuX350A
            z5Ab6ZaGOduQfQEPJeaJ3YXJlosuwGQDxCFGvWA98A0FOzessKlmwvTrf3kL
            l0AkWGQFJ/ADx+fIMCXgDGr+IWK4Ci57g7N04AKxfyF8QFbftABhgxS0iLng
            /gae2cQDztPzrnMiOvbF07G/PaAFcvMmHoEc0KfhgNZwnfuLOMhjRGd8gW61
            6Dest7j+4jWc64rZ2JXaigY8i1XIRI6FeBbPUi4glKAZGEO2pwtN7MPJ90+u
            nd2d83TOAe2L58XcqzGHvW3h1SfntxRIIptGmlykl3WgGXhTJu7Qe9PnnZEE
            oSa+99GzPYDVx42WDF9S2Qj5R7gRuDDQ0Lar9fsCJ4ES5FZ/+uWuCFgfT8st
            aVQjgAJOmgxJkElABzYRVsycF+AFtS9hbPYZqAXBiwl0YZ+xEj7QxwROBRRm
            9fEINw8ZhyHa8Hp637LA2TvAIYCM8EK53OxEeH47Nwv2BeEHfciKiSewiriO
            a28Dfdu88kIuGoKfN76L91/0DSb4zQ/GOt/GPrP09uZZK5im4QrrCditi1pZ
            rFTjOmH65gbHnjctmN5hTgr2KFDGcKAZwKLYQcXgBC+BjFajGbSBVgjj2GNU
            DUNEoVM79i7pDAAJ54DdQd2io+3VYK92iGyFSj2gB8ENrYG7kJLpm+eiRClr
            KnBBCER6+FafqaO0faHfneLtW0LBHsKOwV4kvJteMmiOXeW7RXy2bNb8DtkY
            sM82UR7WpaEPLBdkA9s/XvY9onAd6eTcn/NN9q1U9dg4gJPqn9/JQfA76TLz
            /U2+2P6WXnrR/ulGNLpNg5FoK6Vw0Mwq+JdDOfe5o+Gov2PNgn43Jx+46f6G
            TA/chLl97FvWfKf4BUdfXkfFd+Fe+W99V7V+geZfzl2gOTrsMgH3QGSVtIh7
            aRB+HBGAjzO81ABiY4ElmxCDQYPe6SGOLeeq71RT9o0jYXniuJYjX/RO9A8x
            i7ALqesNZEexVYATS8P6YvcBd4/BthGSppdF2xOLU9U6sHfBS6G/uLCHMD8F
            /QL/U3omWuVv197l5qZyBzIn4Cih/SbBWxMw0h1gJbzoGfiY4wCvhokHRi02
            3sK3Ors3JzptNt468Dvbb72MahnwE84f/lOGSMyl7E62ewq4bmCKOg+PRNRD
            0yLbkv8AfawnoEC8QwDG1jGe46Wrzs7fma0dmE9GROCLDm9h56AIztSB25EW
            4P5x5Tc9YZ/uPA/KPa/m8CW+xdyOSxeCeXCgTbbIh9AMl3PMgZYh6m33h26C
            oWLgSB/Y8N3g3IdKISIRG+N66djbvYm3BIYbgJantCZdFSgH4S9SDQzyen8D
            POoAtm/9rcdTghx9ltMDmm7Zs0Zgu14bebt3VInJEuefhXdjNsLCAjTrw2HN
            QNXrTNmVBujZ+O5AZrzXAGjyQ+f2m/hY93z1e7VQbz+JvgAksDvQookPJPnE
            fn9GzCDaBDQ7r93ac+x0RgJwpjnAp1IGwv7XbzAZZ87uPf91DxQf+H0BV2Xy
            xYAeM+XTGnZwi3/seTrpADcPvtN9+mdYD+a1cl5f6sN/1tk8lKLB2AL2Nt+W
            4+lz+E13PH+46XQO3s4Rp0zyxrkRJybCj5nxzBPHcR9hnR1oKI/HLpKAU5w/
            XjM5npgagBXkqET+qptsZ/snYp9Ze2JDLOamI05hQEzlXGI4ztrd9g/gGtu1
            +8PPxDeSD3qE16bsp6TT9cBQpgeoT1T6VqrbHO83zBmPuQId8h9o+6oSaFr8
            jBkIi3JUJWIAvM6XHGqlSYftJ+1YdTTew6A7j5j/xrEkPJeA2T3xM/2kHGON
            ZK9znMO2wUcSbpvkU0DvgBxp4xiZC45z2sS4LKBD4K1zGnwYuAd9D8KoIz7D
            0No7sOcmEPImmAlvArbx7+UeAgame9cP3zNAW7GLGvAWvaHwoObRUxZg2Jvm
            Mcl2KMXX+ca8gbufKr6W68T51LycuXSYS//YN9Qzl27/nsuO625Zm0IvLfTN
            9wRyVEbrK9tl4A4egaBn5FxmIX7NK3ad5jXXr3kFfrF+KBHSgkQfJUbMbe7n
            4sT7geYqEsa+7fNO0DONLbBf+1bsqXXnNwDlfOaO83p8IK7MWECkv/cOmun6
            e/D+O+04p9P9PW0PLvlig9c68lMlWxmNTtNNBecgZEB+h3ZD9tiJ+oXGqKQI
            tmMF4rfYtR8TmjbwKo1BM1hFiHbYJHSuXh7fvBwEtc2+AnYW+8Oe3tqP+OKz
            10JAIwaIpBAbaLWZpgDZVMhkv3oCBwfekggTw6DmdS26cDryMuyncyoW9S/U
            3vtImR87254B62/3h+734W28jrsOoLPAamsc3ZVoToYvcF1zw7saMHYIQBgf
            6P5Lew1EDHuecq74wu7AX1GQw4tnIB+9OPvYHuSvBzgT+uOcZw4Oo17Gbyq2
            Qm+al0STZ7c5Iv8CPN6XcOzDriHFgR4wluolXzIYraj7lY5rlI8okHfx+8CZ
            lWshPxE6u0CWu2tkWBayBp1UKOsVmwPQOMy36ZB17VmdfCEwHMQTeg7R4RLA
            T784cQKbXgribjLXfWlvkdEO8rlYi7ZkujWMJl86+sziYurtwhZA+nVt2xwQ
            tniNiJh0ikaXILrf5FmYW9I7yCtN8W6g6WuJPqWE/bkf4XAKYslCCNl+YDW4
            hlStsS9dJ6/NOUtdOKQlvVPtQb1eilrv8fEp2fZZm1XH4u28POfo7Jj3Ob7n
            OM9x2ZF2YfLL5ptJ38F3iVbif35pTy4GLojv2VRSUKtDvZ7xfyDIxLJ4n/Dw
            BpMOLsuD610hTa0dref87lbkSwHManh4hA35E/cHnRnAEw/Kj6A4izY6zz96
            CGCPYp7YD7Ab5OwxwBNNqm5ACbSDDhw+IzCu99XoIKvzN9YcMBkg3rXXyb4A
            skF5jvgstphMEQTejfPO8EN/ftNlqurb7Bxit+Ca8aqbShlv8F3P9XjO24H7
            fPYBtQOEKy+aMNknt774Nv+8VDDxmyE8jCgXHTpgcUI2FcbyjaQdE+vFWFEP
            qRfTHj3mF0hgk93MwtvmMQvsAXkkgyZVrgrkMfbt/+jb/7Vfzt/t1619ZMuH
            mgDwvVQ4/fQB5pXAUwdDRMlf+r8dZyBOZH9x/IylZnJS//x+4TqMk3xwoEfF
            6yb2C9fTaz19IT9dGS5Kt/mRMbYgJ+ZIYnnhl7wXeKCtqNUFCdLgJEz/ytsS
            ROIVnITXCYc5wIsjvMjXpoasJRLvWfnF4LGrrtNj2rsJqIiQRVuj3sR0q+7o
            ROcs2x8tP/bQnvFL54bPrq4M8ffZgebQoZ6KJOwsyuYSZym7ghPyxjMQV3FV
            bT8RQwJ3P3YPeF5gSboP5Eg3LtHB+9t5BiTp2+93CrYku1H7YoKkJx36XAO+
            IV+QHVVUw9fuZg+RfBr3psfHMNy7ky5TRlRb6rG6aDH1dr5MRkDZfpfLMttI
            d1ZGasKBWAb61Nscsw/wdXofyBxpU00MQi3iWyncdNA+LAKOd104Nue2aCVQ
            FVH0qPab+BzvS1SddLodQjyGQAH6iTkb0iF6ytcYM9Ygc+8WrHHiTj59eNKa
            LLUR5gvvFm3m9deu3zFivxSOb1K3jL2Cg+M6Yoeb1eAVn0Resdtc2XdivI08
            FxB0pz6Ec5QAsJAvvcyzxa5rbqjJxPUyiNKk1/Ck+yXFofuAPPr8ty7a6XXN
            cBpAZQXSyNu/aNkk/gAYU2cLPr6ePsQLkEfCvq2nj6s/lcd9xH6TQweQPMdB
            7yG2p62JOpyMyzhKN3X63htikdbfG6xwXU0emeqP8eYdawswBMJfLny+nYkZ
            AuFkyGzxWvzFuTfyAC9G/82FJaRlAe8ctkaYtAx0k4hvasO34Ppuiyjo7geD
            uSlOPbhOLw83+UwcpCKgEThS90Q+ExMUJ2WNSa+y10n0gaC/mmw1IB+l29rj
            8937nECYSN42kq+j/VswQTjY8ul3fL9wAGDzsWcWcAwAKRN+1I2Lwlm8Fubh
            hxihAtnFF/EIaCyds+SHVMyxnzwXOnilkzfHZogimFpPgbTEOjf4u3/9e27K
            y0d/DIxEG9aVUx33Q6ffC/dHFm9MGsN1urgC4xGuSNnovPZoAD+KuUhATqDV
            XfTM6dwRl4JFWmf9zVGeMEC380aYGqQV5oK3aItwc9JnnDpGwDHtFP7wagWy
            EORbJcmYgo/ffU3MK72TlHIC8Ai+aQJqPGDFg/lpV1ZO4/ngJdCd/sE9B+cY
            nhENqCaDj/U9ru00ro8Pdjp6rEsHgIsIFQ/VmN6CcZ5vW1umM474s3PsdlzH
            ZrVAR2J05o0q6xYYunmyGUw3hWMV54Xzds4jaUiR7oiRrdMBhzKRAD/s/DaS
            VYD3ItMWKLMD7ahTtJBM5O5Va5Y/9kPsXsMS8fCO0+A6mi7VPOqff/27R6DA
            +NvW9CiNy8vYArYvgTJJNG/fnkDVQFC4rlhTLMHuctulhNwYzcxgMZD3V7I3
            5VXwyKOF8ltu64W0lClkZFOqHnSRfQCRSI5hWK3svfeZZnSDdAzHRXzs3999
            0u0f8PHcPqn37ef3RxcPtEVb9arG91UZA7F3dV4+ONSbfPNYOxoYbhuSi130
            DsK6p37Eb+AsiOxgMbBXS3V+1J+9yrlspo7XmLgP79xi1odwOUV/ZVvxJ6gN
            5NUZzahMC4NxP8QoEF+rHB4K6TcWPVPWBd3IGj1hYhLGAlN/QJA2m530OEQ6
            74Mx4t7ehh/oer+pDkOf21Efk3/1DQACzrW++7U9Hx1cz+d4dHPRffuzYpHq
            v/6N0aX3ay4A34PzoSwmHBdoATDjrK3MavxBY3Yf4j7i70J3B+BvsGHNZBIS
            p3LtPkl8s7w9d48mufmcKFlBFil0TR2ab2YR8Ud3U5Q6ZQg3giXNE3xYVZsk
            PFN2Yn4VoPOXthWQhDyvPoXXwMoOeqek2rKcTc63GV6TPB8xfmDTEsSc4K9L
            64K9V0DjnERGNxlG5SzVznPu0ZEObYFXCpECJQSNw62XikPqZXQeEu2PZfbz
            PsFQWc/9pjzfeW2HxJC8Bm5t0meiyvOzKQLt7Hun8TvSC7Tb2O9JNpxaDHAx
            ZWcehQ/FP06dOzunPM33YRNgfsAz6tkC3Bqlkc97MYKIXHlenRGpo2Hwjfic
            NEu4DNyt9jJY2Ns39dnqf671633V3sf+5tE/Yj4gEZ417iQug76gmd+0gZ3i
            Mh74fgP6pAGgJTxDuYdt3/kmQFvzhw8rs2hO3/2mhf/ffZfbB+eL/TjgLvL9
            kAO6eH1Pfp/SzvkOoXaAPZa7e2q5yhBOAs7otLt58IMewq4DvwQxrp5nKP+C
            8ugZGwslF/sGsnM84ibjNl5I2SReFUTR+2j2Rran8lMxEnm5n3FHYKm4Gqfr
            8JGyi3vTc7di8gv1wEGyi+0VzkGD1IYJNhlnmtchbZrCt5QfzxwK54Fe0R5A
            HYTh1eg2+oAYbbKqt3XY/We8Czj04GBwRYJTi7n77LFC+SbJGyUcvE5d2lqO
            CucqXThobz7rNul8Sx8Z/KZdbZk9MYGlodaG+gvOD+Qg4vEFThF4sI77LGNO
            BaOAocgIbAe6mrD/Gv0hQAqb29Vgqd5nkub52NPy51gfJWx7c6OqNNn1ywsu
            zHGJxtOxzWL4N2FknDn1bwL9YTywrWOx9dG8MSHb2fe0mdn3nb77c+mexcoQ
            76f9+54798APbgAKeSYcE81zgrH60XVTs7Sj5EGgviNT0m9M9wFH+dzHMWt+
            z3s0ZsYxHBz86XPZHqFuS0fAwKROiIjOveVf/wbDXGXH4TXDD8FgWe/1mqPn
            zhFk//9yjsL7jm+/ikzsINpt3yhvJczJHTtpXwIsVkB+6F88uDP8cvthnpJV
            xz46A/qtNPI1pAk0PAKO9kySTRaVkvyNySJ1RddvGtIHZOYay1RViwcD1xzo
            Y8K+qMujrRlwkukTh+OuWee458+5jpQBv9vl0+4/tcd5EF+cfKOPwAeH0hb0
            GP/N85WkNzbZPoh9nfNc4/ND2Tpam1+0RXpBJt9IeR462bTfMC++KlipUxKS
            rx1+5/PbCU5ck3cYlol2EvoWcK56hRyVjI+iPxFkzZxpPzkyD3G+o900G12u
            Z59d2KNebh3+ZR9bosc0kf+nt6OlAnDuW0+04m+b46IjoF2347TjOP1BRp7s
            DziCWjHXqVUg3Qe6I+e+R508PhtcANmt1pkFze0ZAnYX2oMvTg7LATY7K5SP
            2AztaYUjz2D6YVN8nah9J26/QvBy/7CvPnvJo12vht9cAH2rOQf3QwsrYPKz
            X9FvatZviiarJvKzZx32Ameci7x9Wp9BGdHARzBx4xpv/+g26L7atzgkYN4V
            ySKZvwxhDdz4kt8Z13Dt13AIRJNA+p3kJ/n7G+bPN+z0Ln7Dpeei/cNwwoqb
            sZxupt18IPahH27ufJfo6td3jGK+LRw7Zr03+raKQhmdC1/9L8xb+uo/JvLs
            uNEycw9AEqyMgtS7qO/CmKWjgXAHqkyfA9lCxoc/lVh4dGfn/F4Hf+PUljkg
            GGU3bN4ooZLHvDR+PF88k+LjjD8SzsVbM+kRZAPSr6eaP9/3u3w/+LkvG5Mw
            AfrMa9G2QH+teGwGfD/BtnPDbOBSRem2MfZv/jKNWKvSBWbJTgXjSP2v9odl
            vrbgdUbT72P7yqTN5xsyZdGHYhV+x4Ovjn6yHJ3ApD3y0O5M/erC9CiyQboG
            +uxZ6Fps6vdj2+XER/Idki2kX5ZtKBrBeVLzNkd/3052JeZGRJ+ZcIJ1ri8J
            Os4HYR1/sTdeB5jsX9e9XQct4OxhttEXB80jV9r6tnNZSMDf1cYUNCEabxcp
            UxTOORFPbvLhoF7s8x1Mw0kdYe7oE5gUdGuAWZWtzWwe9i1VfdDcWzkmZzbt
            yjAwXXdMjvrI5s77zMjIthQMwV+mNmm7A3uP7eHW5VufD9/KcRMw/tO4ZXf4
            GrdECIZj/+pHm4R+jYH64DnB1h79EY0e4+h8FvVowEzYovSekszmHvn+TsUV
            MIfFG01eWArnmvSNSoOZNrPnb1ckF8pnaiein+ysjX57d/Qql6786JF+65nA
            RyuXi2NM+BLd8EY/Ar2gMdl/jQsleGmBHXgPR+v7W8l3UEtJ/wi3Tiw4nk3d
            Ka2r+80zu29+2b3APJBaIDfUw69wIketVMd++cDMxSjExr1CH0C513jp2IwO
            mArLdNDviUIin0Iq7GTDJq5yVw7lWvA6tsz4JZ/StymBSIDjcxh/7Wf8g7zM
            1xp1WyP6trYN3hzzn1/Lh8r5H+DTsD2ClAGOmJf418kP5+rErj4vHN/rMG0d
            rr5vMXmY3JbNH00AyixvnHfaC98xK/2H8kCX1kaq29Nm+9OG9pNnVO4GJ0cq
            ywLDNgAAyH9jEqyYuoD9Af+89JRMoMS0Rbk5ZLeGzIQhQ3gEzvZUJQTmDBrN
            hVx7IG9LJTX9sossmbTXlsxQB+LCwHwrQCrUzNMG5xgqCjbWnpvU+dj6+6c5
            sjDSaZueku4U8gnj70b9dptkMAyvcWz40IlxQmagTyEDP3/GPYON2x372P/m
            uNKycWVGKdEBzXBMMx//4zN4Yive6JXL9x22lsov9X6tE9YyUVeXBzg1tNmU
            2E2/cNtRvf5pBzgO5iMmlv2uuS8vbQiT9C4Gxv6/pbfjg4Zx+u2kvCXcy38G
            dNkNEhhqFoCYO9ac6VwqSRwYXXDcvI5du+mb+z2XjAdQu5qHUjWJtR3Le9pb
            6db8s06VeodXFnn/n/pzz09/n3U5/V5Z4Lnpl8myM1IFQjge+ayJP7AyNDcu
            LjHvv9fEPBwMb96Yl4h1AcGOe37pAYjPiNe6fN7F0/g+ZFvV+hcmTiMmyl5y
            zRfue7v4TEjw67nt4zjtwaMJdtfbvDOb49U/y5aS5YPXPzLfaz7cDBGgPjfl
            QaPoYpx7Oroo+T8s+b1BosYG6Fg7xYy9NGPTn6OMV3kvvEvnerfrJZD3Nl3z
            NB1FeqrZ9ybIEf2TaTdi/8W9e/K8yXdEfDtxF3Usr1+V88CcuqG6VOcXfm3/
            Ab8C1xG/Ukt08evz7f/7/Pb/vbFBVELofrX7aaZEfGr6YZeI27jWWXpInOfD
            J75md2e0r/yPGIe26ZclXhg0KAL9gWfMPzZ1GlPye3zpvMkomWJs+LHDK0Yh
            ybce3OebGN0AIm96HW8+VCNgb3rwNPT/urKtufZ00MDn26+fdhDCk2xs5OsD
            BDcCl2/t0EYvvxD2d2zn0h0Ps3F++BziMdeeM45B/u/uFfCFLV/7GWDz6mP5
            jbKtMP3Ikaek6o/2raQ5eB8G8iotvY5ykPUUqJWFE2Kod5lxHwUU0TEZazy+
            OBaftH/Grj2Nb+T3rbBLO3aTT7+AsKP/rSNZH+S75d83zX8hmW/6y+R/5MiY
            GFJ+v3l3ULvhMg0csoNk+apw7m6bx3Q1iicplP3sO+OWH+T5/q73YA/TF45O
            +IJ/8ougTIzuCO342l574PW9BfGg/qh94MdJj+7+7Dcxbaxi/4i7m/gZ83jE
            foquKF6afgK00xxfhY9O29El0+x45s9p/MjVI1y74+UPr99l2DdWz/zHrn6C
            UduU8ptyC76ZEWt5g5aA3+b+phExaT+CJ1OHjJtkfFp0B3c/5m+MNT1HbJb8
            YrLEJzXGKznlYfz0kf9nffhPUjbjYpv/q20IshOz6gM/UcYetbi/8r3ADzJB
            fPvlFBoIshFXrhs1DdqPjE+lLy6Y2/ZQHpd+TXqPCqgDYA/zQWcyI/l8Nftt
            32mJdI4e4vgpPt7ec/vi3oMQ6yDUtYxVJa6g9+Cx7bazzoBzCi/2XsmHFlys
            ZD0z0p/uUbgW5ehQlYZGcLd0D5IBePB63jtEmJieYz+f+8nujxOHcORgzYc4
            iqhRt+/5idvmh7EobB8hT0t3h69nep77LrA5Z1zKLNlok//vfEuysb30Oa/y
            IgHtpDrb2jTy+EAD9XtdFFTKVCfFxvb6d4L5bfgbEDOV9dHVqkAOzv2r8gho
            /6xfax9BG7GrWB4FEs0Yf679P437M8f+Zz47bR9FflfTHX3yfRfI+2cdqEPC
            f/I/zdJJZ/mgfO6bHC3Oorddvtezp11k+36OX2Bb7n8y7jOvL8d955rHY2sp
            8tWHjNKO3Vpy2rVnHzu3O/Zx8kS3neza2AMzUNfg4i8YBL8QJNe87667WOZC
            05NiBzeTd02evfIW9ofF/9A8wNjM5ph39IFkqTyOg4/zejU/85KMj2A89CSe
            yBiaWVefcJ7Z4B0oOPXnRyZmkIByvLqxrmyM6Snu5riD/O82+iLvc/wRomLR
            K53PmhxuwVyBGQbiTa7t0C4u+I7neOWP61qXjgyYsDPCEnQ3jJ5pWfOukQJC
            nkv0aWRMKkvhJMhtIDfMhpwgs9BfyscwpENwyxL3ZAnJdINj8hfproN8HpSt
            4G/u+ziI+4GKJt4Hom7x3IUYOJnvMJkM4lnKXbTGfuJUqiSIz3d1ynAne8hH
            b0f9OfWjioWlFl48a1HMmct0swdMgE/DWECMC1DFC9qBz6UWhVkF5asR1Nb/
            btsjpIGHihrwH4rzMX0AbX/M+TwjrZpnLCTIzXyR3a6KO8jglWd9haYgolRn
            MZVMngKeuT+9vIneICwaxMgNpmq8OnHCfKyyVzWbF0/ph3ZlvxSnLyGQShH6
            IybatnoG/aDOGXxFC7KLuPTujo1Hm1RKjHNyWItEfWrM+M5w/Yvlb0x+IpBf
            hCjfLAaa84B9ngdTzswfvQvHhcVL1MXTbtmy6aPBO3TmR+L9xlgKINTQLWcS
            r6ktY9boN8h+A/CSYhp/2vC5oDRpTH9I5/Y8biwa9fw9yf85dXwnNdRak8qQ
            W2BjbK7nD7+BKT9/rYNiPwPjo9OrTGuyVzFWJb6yzf/Mt/vYhDmeBebYC7kD
            zwHi+Exj3AzkX8B18PPD80eFn4CW4UXMJgH5BP1NeStC4FTwpuxEss0zvjmd
            62ALAuF4bcYEY/z3WWmM86usJEsxBt3sjHr2c51ZB+vX+hCDOfK4No9hAgM8
            ZyyMMZ5nLOS5++lvfV3nWK5P67u0n2Wj3sw3CF65oxf3s2YT8qPW8Vy786dn
            2nj5PNcbzMj2/a/t2Mc4+TL7wdnxxNlhyzEr5MMMWIaryZ9BZInmNxawM5mJ
            n1657/f6Ux6li8JYCujzjTGqgrROf8zYgXHpSxgYLR4n/XrlowTofB2N+5C/
            mfOkmO4YeGLzPOJbMZOd8i2V9d3Lzx/LllsKafYsPTUzmo+HcepFtgnL6BSY
            S4Eyy2tWKvoghG02kROfx4B52n0uvmGlkSK79Y3RexmgliAIUz8BKRFbtcmX
            l65L4PRXsjhHJ80/BHHnZ14nbiJvIiNn/NVWMSGGsq+0ZPN1dp1qDLBLRTEb
            jJXIMkWuAXEMeHIxxyDwSpWmH+/zVjPJ+SHfLcX0VfoBKWYisU/ppL/Pgbqv
            rkLt2xjSMQL3rqNrWo/lLTi6fUznOfey/0CQ+pGl6Qc0q6I7atUcKz7HKYIs
            7I+fgOrbmddFyfkdZz5pbd+TfoyUbmk1ut+fJGP7j574fB/w7CCmoO4+UC4i
            HRtGu+UjB8o6+jnHqmCOwQ0oqwzWS3YmDB3Xitmsrp0J3/X0l/46Zmdzx6df
            7r40ZXFmmJ3m+K+I7nPe8FkXRjRfkclJcIREg/6YQ2zKJ5JVTpRrglYyyeLz
            yAaABabvoG+2U6C5o60TsjltcUqIt+nZsLqYPOp1qazzSk7qnsXvVh2yrDwc
            +QXtiAHXxd9RR/KGtZQjotDe4Zak8btfzb+TGXuoh3KpipfrjS5GZ2+yKByP
            2LVJ5xh8EZ/EzEzyx02Vfl01bJdfsankkUmHLg4DH/0qzgiY+2XaM6ab/b7P
            vBdUkK5daLPIquB24wqjElQzlwpz8yi3BQQu8kwYG8jIoM18AMabWaoAHyPS
            Ub58xkQ3QcO5jrlZVDqiFEbOlQRae66BiZK3ZpOKmH5FzNbsL56gRtt8m8n3
            77oYRm2+lRTd+R5nuV9UDsd8WjWeBj7wxTflL14KEE+mmvZp6VY2ZaRWFKd1
            Yj68YltUIw9jAh2meYeJOTjFsReme6QP/3befCFxTcl4HuWXic8dK/j3QL0h
            ZaZMz0rbf8T/9LCtVw+SaS2m7Iw+mCwp4+/6vE5td/AglVlhjx8TfkdFiCif
            CHG/YlIe88BhLHBfP3KEyjeEslLHN9PHCe9rjL803ZLFCeCaq50RgMqDACAu
            r+WvsriKTc994jwXIZFU+cWBsgTlbsE95blpjG2WD1KTrgs0eU+q5iJ9lar4
            E+5p7A8HHCcak8zP8f6W/3w2f0z/WFoWxgBUZyWbJi1IxjnmS1P5LDYyZphL
            LWn1TT/0sTAHlHRBFtBMGv960EHAgXIJQCB77Ej1I2RXwxHML+QaR2frBgZN
            Prj0gS5yik3Un4Fm4hhYq4h5KiYlHotPmOecayFmjvyEUxFON8814/n6j9+I
            dGsQsZmHpL2NGI/C1payydaY38u4yM6pKtKAKxaVwgRZdMIGn6Ocke81rBl9
            L2UnUS6eIv2E70tZpqQNw3dMVvhT/PkrTp5Jl++58rwzdnObje49Pjf58C/9
            nNfrgxPseHVq+1zn+uUkH/5OKEnnCMQRv/Nk3TxbzN7+Hv6BY2zN5pz5c+6c
            +8+cN0irgXkw6fuie8y8YvPMnPngQukncuY//rEe108pEP1xTwWwMuX4M9LO
            gd10ZXuuUQ+jXjk+MHfwZmzXoU20zXfRSM4BaWN3lG+/6LDfWBWnyi4ypUgf
            I2fkIZ6yV8sJlahbXK+F3WPPM5KdbVlike1iN1xejv01YaanfXHSug5Qm2A4
            /fHCaeR2RFdZrtLTn4Tng1Z87TvgeDo3nL2Dm4xxIU5g6FYiazVZKAO4m/6q
            yrlktmyGLrDik2qrMpXV+V4KgZTrqkqxKIbCzXNO/sJl0CCisi1XhJaNt9MY
            mXP2+qwwmTLl9VASIy86vU55viCJMf6Cv0uxXDaynTAr3wIXfM5bY9wRbVJm
            68LY32/4jMcmPY9v2YXrC48XPudj1wMDRhSFY/nDxuknbOohvMLGP7Sf8gtt
            Z/JAgrhPM9QD/GF5IcRTcgIYr0XSSzfJTEWCO3FEbOtOW+LnvFX0V22enza+
            WryTb9fvF8s06S/vVZzHxpNU90C0HYxwC7LzMNaoXHx07C+t0y+GNPboMJjk
            hL4exOO+MqkQM4UrJ5v0lExz+5iOQ9kdSAsYgwo64xnHq7gkjLM/L6VQxRfZ
            OJvxLNnP7c1vBLu4FOXJ9Zb96OaWKeO5MZOSgRVnXE2PnC3EvJI/A7/FXCnz
            +NFNRgyEDk4vSFbWONK7SAOoXJPMXJW0rrIyzkf/N0xPrZxIdCWain2vfL4m
            xo6KDw+AYUrSlMEq473fSf+yr9wq1WKglbvE5rnrHBKtjqObXjVabLRK5vJI
            lQtoiK5RVf0oH87WPVqOT+6Nu2bxK2aU9ms9F5+bF+ucN3uOFY10Lr+tn+ds
            DZt0UsfGxbmtSTFJg/a2bN9AxBnF1rv6npgQX42PkzcLk49orNn8huaJtaM9
            8QNvHWuR30Zcsq4PTGUITjcICC6dwlKcxVf1i4APhyILh7O5ka6WNJN6cBmy
            O387JV/UegEd7nHbHh+7OY9MRIOE+46j/olvtvV4PvPw+M4Ud43zgRWnMXfc
            cbll4/KC797kKMDEMsnyJjBekhIWrwt2Gb1/dA+gMo0x67/vd7ufaage0mnc
            +49r4unZQHWWznfmzqwXo9m4s83Jc77jrjn1xRDaPXXMU4FjukcOsx3YAucT
            GOdC4xPpsdrWv2/LeBu1ZfaLyrxY4veBwq3/O4ekPP3zPMSV079KBpz+v9tu
            yp9ARO5r/P7E3/Bddx9w36YtnPNr3z60rZ+1ephzh7EGTPO6+6u9fttna48d
            JtvmFCuwS0j0D4FseOm7GQDyxeGFNh3OPamEJEXvLp4r/txzirtU3Om9l4ds
            QeJvlRuMfET0UTV3j63aSoFDLmuMrzTth+QjxY9Vi08OVaVfVJN6mB4VLB5L
            O/WGrwRCkUylOJdHOcpYSE60dzrtrtjnD369cXPa743uhpDFgEvbYIwRUTNE
            Vo4/WW6nooJ9yiNCvFCpG/7Mqdn4EtdAfGzuleugPHn3WrBr/dU1d2NXG/0C
            uH+y7Z9OhMPSfUSHninxqAaxe8qDdPj3JYcKn5T36MA6059Fs23OfnDwiVel
            ih7vlx39IwMElYnw+MTR8hk33+MfyzPoBvUsrUrPWT94rHvLccI0oYw/lr5b
            e6VT/vktZ/aD27/7p7749rvbYk7WObB+m2kn77iJTy9e76rmZByf+cIyv0qg
            Hybmcs8NWnpyaoAF3cqrETCQgv66cqMB6vzyqRvbrxQG9Fttyv0rvRKzS8ri
            7cVbyfqtumMmG/tmumNt2GD7jBVXSPeZWwxSTKYtidltVvz4mwjOWDjrA2u0
            dbwHxpgGqLZNOFvO4jTpg8y1Ir1W0Z/zfuANvvsHxpLBk3dfMFbtmpu/YQyf
            bDiSLOafsJXOmqcPbA2jncPo8hrMhZuTDJnirSlQKv2pV2J/4OfVzC5Qlbcr
            UC8MhrNpbuhU5SGdv8ott+mvZ7mBnOgYxI+TCttcu66cRKpmimLDKeHoXJhb
            gnzZRxdVV/DZaPs4PICOmUOk/ec3PNJv4/IKF+7mWkzR3/gd01keTa7B9/qf
            +WdxOeJN+h6+nF+6lay4IebRp8HnObVkietrOWOouwJTAgHeKcph0by/pXfL
            1FYbntzgpMbJLfOcGk8b8AQONL/fPHaSHqlRH07WmHpY4QZ8HyN74pYOwPKP
            0U4UxY9uOqSQLjOfNvOWeeAvYHu1Qw/MKFPDc2Kw5E+Jt9FWzb2+zP8t0FWi
            KhewY86yw4M27p/EOAQi507bfCzUt+2wPCv64uGkXJaMMcrMlfljh/KP/H/n
            9bvZsq96xZFPKVUsLyL1Aj6evKjnN/2radZUzljl7D33+Lsq/+qmMCIZrWan
            Uo2Ws1i8pHytvem4NS/kzb509pYn0OT7ZmmrsZY0rv34+H5i+zNr6/gyj847
            WK6r98ZeKxfve86HnTOn2Y2rxQfTf7VxiSe1c9dveXIdh6xZdwy+KUelYsBl
            OirvYB7c5M71Twoq8nmguYH6T1/ebz8XwtFLGkhcRJzkGVD2yLaJr6UvRSaB
            UH72xWwojf6DtK1u88dmbuWXvoba73RVWYonKSQU9COAbK2CbbTWKEdUEf9B
            Dtx9cv1S3vujXzL5PVl85cfXgLxzNbs79RER/FIBZKf4I+8pdoGKo8J4G9tI
            wLkJOEPyX2tXP+zNH3yf76ObZ6NS3sbEJMPRYsSfTZ0rxpcUs0S2XfLRhuCa
            O0PN8f3pfJ9c03m/vFvf3+VZ9O1PyaKBPDrXguZGuGQAThe9ZalZWF926vRq
            Hdb9bnwmPdrw2Dx+0PJXot/LML8Ws0GQzAOlOVak9M3lpVymB7+Hj18C0zac
            vKWKgaOygtW3GRFBXmSqIuyjepjfbfpPmyJrnL65fvztIdzRX4ER4Mn/699k
            mEwbKx6PjsmZzyhncbTfZTMWsUiGeia4edoK+JtpBMDxCWeDm9unjRzaSKtD
            t4nn/DolUOMxpAzQ2sUzjwp9FoCvBY8D5+7NZH4qoySbp7KxBPGi+E36gq1U
            qaP5y1wGfEdjJdTYlP8N85iZp4Rbi/DNqrrgVT9zGg5c1BPx8ioH5it44Jx+
            3z/P33aUk+4ciY4P6ZDp0//J/8ZUUN85+MMjHNRIg5hmRTHB9HPMYMxAj/Nk
            GMtm1VjFDU/aBiDXGn6k24zoMti54c1OQ/YZ+N6vmfn9bMtcJ5ggZuqLnbGc
            Uqal/B49omnwlRRWce+1DEuM+sk79aHF3nK6taD815Y/mAkeGzOHVf6m584r
            1QBDZrlGDC5lXoNrX6A/HW0RLVhOK46PfWV5dtFK/YMfwMfQUjkuP894PFVF
            Jt/1LsXrkarnCZ60KQ4MfPFy3F/xfa2i8WSMGHPdv4qheOhdlxRr5kWH38NH
            0YVV/bdnt9J9L2CIXpUd0JHh+TyGaUfwWzqmLp0F0xgxd2NVOT/lzOtpKY66
            JUwV9VN+L+1vVT9yLN22WKSpXR2J1hMbT0e6s07lGscQ1nNzfWVwJcxryTy/
            YwvYadWQkw9hmXPO/P/ASyBCucm2TsVstbg85V0Kq9O/KaSlgrYhrMFvV0qC
            g8cs9ozOqsDDRThtR9bcHMzWPGTz8oz5caYDfiyn3U97927l9GcEOZ/bymtN
            2HRWDXNbKSPiO9rk3ATPn1hDwe43098pJSLn8eoXiskyiV7unbkv5acleUBj
            eH7GQH3UnsVfXJw4DqY9dqfuJN5NTh5vL5gv5bviGF+v6sk/3xV++hQNCsrl
            7+nv5igfe09HFvOf7z+2c+4B4RBn+nDyBPLL+qmdxFqDUaJ2U43p9+YO8rak
            4F+SnS87p96B+EewTH7uQX83zqyAp63MN217XPubOXEZSxjFD/tExi8pp4Zz
            icVlLbY9hYo9WYVXCSuYAxpWMd5o9hLmWfdWYJR9sx6A6reQenOv0wdY2VYV
            E4btarYFVrchTmfGQE4MbX/C8aAkYfgK2GvAbUPzc/IiJOaXBCdVUpyaB4W6
            2TUl3g2g9lNuaC/4Ss4jQQ08fi7oiVaoRp+9RvFx0k7wMsU/qFJmbXUloK+M
            42Pd2PFjZ6A7ic49YLbHQdnCs1CiF56VnYAs8zzntB8k1nhxJ+jtnIeTUx3A
            M6mcZ5zrnRe5v/Uv+8HGOYaUFG+Tra6P4XfVVo/HB0G58LGfP2NwdME79pBH
            ecbczSc1NVc8/7lfJYqcOgI3x4wzPwZWSHFkLbzBMHPkSjfEqKwonkE22sei
            fldF+7793NF0T414dL3rjFv+oenYwVS3/ZyL/2AtCCA/+r1cmAA/jT5MhmDG
            XH9sfNVyIvFaWyZvhHt9nvPgI/ObW04n5kmL8iXAPYsjov1ROQqi2UKr1UnX
            ueWntvnwZ471Lawrf8Zyn6E+rG3Tiy2Ld/fxayw85zio/yN3o9Aklmt7r5/a
            cM10osrLrN/5nXeu4h9zJdsZ45wYmHLyvHnlA/E8zpqyPz5Nn/Fx/ekacudM
            Mj4drN9TmwEY2QWDs0nzHPBqTpkx56wdCTZVe8PPc74s55/BPeH7nHN/APi6
            7Q/lp5Icyr5p/+1MjSk7zOF7Hsv/n6odaSjM8h2y83J9zpSm6tbxZf40pmV4
            GfVw6gc4Q4bVBCvqf2QRyeYffOsLXNvXlj1YfgtBc7stj4On7I+PCMcmKf1l
            kV+vcmk/p27LyRPmImU6Z0T6xjzN5VSPqU+T4aRH8KwiDiDkHrHYBX/2FJCe
            7KA7nXcqpsnyezX6DLH6YfTyt6kDnK3qVYZcWzj4gDCFc/l7k4IE+r1lfjDj
            Pumr3mqnK6FoPhNnUlWoNSLTgb5B83OgclI4xmrytC9c4P7EDRw3K7ItcC79
            xEizLhfw3pS3an+90oIx+6PLIwIm5Bv40oiaDX8F4dHAxHz0g8rO+bvfgKMx
            wExzARezKw/kyZ9IOsQZ4b0l/QA6GdYXoMLNTjnD6oX8+bwSKn89z7xwE0PF
            /Fwblz9zGihnYL6FOyk0xdNmcqt3VjVTTaNP/SbGslNm/TqXf8N0FnqG9qy1
            G6z/KFy8VHKX6wBefVhe1OfUOMGbO/NDUfEP4qT2Qp3Md/oyDwpEOs7nacNn
            ovhmWyO9hzV9ncVzPoVw59966p/RAyF3r0RhlIMq5W3gAcYIuGLvniynxOse
            3yY/vKyYJbQdaMcqI4KneX5PBcEwbhFrbkf2R1dvzCW+0X3mWTXnVEPk2LFZ
            cUY5VeYHB8j/ArLrVszTwQXzxsif58Y5H/Men5OZzvihpVTdL8S9kwubRYf2
            uTftniu0s1ntkB7+Gn8E8WzFEwdZyL1imiCzg/2WxbBayMRKFw+U8RN3+G7l
            8n0KaXt+s2oaMM4wYgewkkCUDY8ZWphXuTE9qHz1Hvo0DdeltwETExRPQd+c
            fnlGBzpQdqPh88d3bEdWlLWYztfshuCluOMqeJfNmDrwN+/Jq2+1vU68IuOi
            mB+njnflarguVsvtpXwN4KeV82toclT3QrS0vzkwfETvTKaHLyTnlpOF0rT4
            BoZT+nf96gN82Kd/jFO8CLXrRielE6WhQ/mFvPm9RJP1Pj4D0RNvt+0On2I+
            qPL+MT3HY3l/QGgpHk/yP5c+Hr7qsN2grYk1xdpWbbtFjxXx6zN4s/HJv/P1
            zFVEORWw6kNizkf6ajofdB2I7rYnzzGZhc2b3gPg2XmNUM18spTF2WfMpOlt
            q5KS8ejy91K0Gf3Cp3T2U/4+WT4QVP8X4D7WnZdoTXue/IVr2fIfrmHbed4N
            Ui/+pkVKLMODV/fOPJvO/M6zjU/xmUYpvXBJ6cUpr+78yTst95z+mQvJNCPR
            6YBAEB8etzIemK2SeF5H/1IA+Tyn8TPnLuPuHCsXiA+jn5GzqqHHPsd4qWl6
            pdNWzzrL41Ll+8yql/rDV1AoBX3NdOHfXzHhlk/KXV9l+bsAPlq3PFCCOcfa
            ZKwl9qNfeVpkwQAa4BJtVtJBSnehPTPq0X1/545tAn7GPJ0cTPGE2UYLlxzH
            TvLJw1pMnuMHZemlLw8EmHJfOWSfv8n9wWzw9n53a+s0+o2wJgtmAzhw0x8s
            e6tEn5mHFjduvHxgTABrUY0of0eyRYqRD28DrDLKgFY+YhLMHWU8giJgPhnM
            k2Zc2LH9VZ56c3yoNqfqA+7rc1+/7MmGZ4OquIr3Ovyx8JP/yIyXXjKjDxPo
            JMWURpO16vHV4rnqXy3FwtQrL11e/vJqAkXzzLE8XofPvHzp5RtZS+ztrNBh
            84ShcK+rkpnGZ/yRvPQlP/Md1fjEvJYlUSA/zPyD9COxvJ7PnQPm2bu5F/25
            5z/zY/MoR0n6q9Z/6KP/F32k/akzR9kX8+gYq618dv+pz3Jy4f7R511fJ9NV
            UZ60p/1DP5Dpvfsv+tmWl2RRhpCPIXgXd30IefYGcTQ0J3k7JkilPE5w4oxH
            EH9pOUTS24loXsuGWlWfKAmxlP2YP9crXUjzjE/0VksBbeQd/fzUQ1vgF1iU
            Mm/TcUxw/pMeFiHK8kf4ngwo8AYH5MFG4PsTNx3z1ir7vGxy5IPpYMycB4dP
            Kx07e23WvEh08qIQ8Zh78N8+656fZ/GN8p+jbsGez6odYN/29bz/ef7n2WC5
            iKVuGquTn8CUrx//CjplfGIoWGunh5+Y9emj5f+ezPccN+lVoysRU9gk4Ofk
            DPfzaP4qkTrRZT7j0VH8+Y7x5W4s4kMC9eRzm1/c/a31WFb3eFTLO3/7y+T/
            mff7nN+2dOwJR+9Otx7lisKHrEwfBeMfGIuZQPGTCaFZ69kwNQMyWFmMXRyQ
            egPz6CTWKVbGfDKbw72sXUwfctWdxOph5E3yBXgZplnF9YZjx1H6LrDQOgKf
            qGZBp7f7gRXmWb8wwHgREi3mPA+E1dF8YF/lpd3TB6a7UR7kT72xrpyKwY8/
            7YOQym7908rQ9uBNFx4s97ziAmgiZy5Is7NyQdpDSdhyggb6ML/z8GxxqVI1
            a4GSDF9bHtcitGI5JhYeBWhkqsNcZ70I+gnTR0axalyT6ydDw0urI9A3K9zY
            eeV1PTlnq8W+02+Nbbz/5PMkXy9+4MrqiXQK8vPHH4l+wJBIAaz6Hfcv+O2f
            55PlZKDt3oQ2yzn9xIMv5U/iFVOg39RhJ+WaoFOmfFvIT9/f8p8CP6ZzlnM8
            1/nN+McoUne/V/qvJB9qLG15GP9NrFofwX3rgnU5EX7i/sK2mqisZOE93f+4
            HsxixJppTJ4nmzD3NlPnq/5GUF78lzpaRoNK5x5erz3De7cNk51ROrvXCROE
            F9Yrl41lrsszN8WlD5MfACWs661cMyAJqs1UIb+xluLtO9OSU19HXQ/3pNwI
            lXuz1fs+RqCd9w3KH1x/lr5QnAlkgtsXYzzpcEF+9tnMEW9zBlhroxAPnPyP
            w+oUROrdAJKsmPdrPPlnPHPQD/b3eMIZD/CJjSf/t8ZTmK2L9nASDpZlSd10
            Qzd2Mj92Dh5vmwx8amxXq7N24+Qvbzinoaj+WEzm1WfJBo6xVdXkYl3oQHUF
            DcRSPjWa+ZQ71WquilbTGntyOlxYnp1+zls24PfkAaBPA3E0dW+qwQe8x/vU
            GnBOO/gbtY9/tG9/tI+nPfVmGdu4GN4Xkwp8AnyWv/dV1x7B/HHMXbUKu9VV
            1jftRZ3OtG8ivDC3HdYRVHRjrbQLkvdfeBAwJtw3WSPbTcKmEgaVH/ynXIe0
            4xLbCoedWoHOcJnVmjJcRjv3xWX+4LIyX6lTWYZC/sD0yUgH1t6/3XtOMPa6
            TxvC49l/n3u1Ssb4wKhX7SnK5dijZf/AqvJ3smZx7sIdyu2jXEFdPnje8Ahz
            AtLfpiruV/sj9HONM8bMmlTT0j+PxdInuHXaWM1AZTmP6HM98/rCYabrVa2l
            EyE+tt3/R3zN/Aq9XJ9Qz+zAKf3ga6vj9z/F114VCEOmMe8/424qHj+4+/nC
            3eHv8XZLlg+lAt99427WZNJ14JeLozHeZfNMn8nDm5zzsA7urj+4O3zh60ol
            8ml78Wx8zH5C8A/viqZ2Jw9HNn4589OZtvfW2Yv3uszLVdVAO3NfM89GEwxS
            c97MoOgtT73dD2ERo4m3cBaLTEntDaskT16LadrmuQ4OoN2xZbMFuzsOnZdD
            f5blm2HOuQvv4ieyrVFljWwVGzw4YL6LGTRvW76PFcWoVKMPBaMCP++h3fu8
            g05600ueLDS82x42b4HPPkMb5i94lXbTO+bdZQ1O2RPzpy62I+7ZQKEcm3BP
            MH9M1pahOnWuTXlAton/hKcvvr/4mvHxlNUt+pFy4ohUjgfq/OhdbjSGnoSD
            R17rkc+Eks2ZjRGhV8976r7kr7x4RXIsY3uIupSignaMArn6vEd5T4pFizbG
            qZWxlGvt0KSinPqBNZ4l85B+4G9QPmNdKrn0xSA9EuZpsPYeZbpCi1cEP4tv
            7axcF00ei1GLTX1/OXnThz/XwIdqILRX6Po5V0HpaBBEzQf1a5QBH0bbRsn7
            uq8+AXH+XKNfFu22SiFqduJ1+tU1tIsqJ05X2CDbr8wTfC+ro2OOuKKAUhX+
            63QOfqjpPu2YO+C2ZZto/VE+eFgWD+9n3B3FXNUo9Oe3ZBzHxAzK5h0sF4YK
            igaqCHXu7X6lRS68lmE46BujvvFcw8IMkaNBt+RhfiwU4xIQSlxgB7C+4bVC
            y01I8Mp8gXzpkTsDfZiOHBkopzML2tX3/evflTG9r3yg3G2n7zx5npLi/H/p
            kBfzO5ivZqHdibL70cWe+PlGP6/bBvjrb9uYjM76wOaj833f+lbspGqtnzgY
            vbcG0ykTFl+rUiuZX/H5pBGLtlevWOkp69YblF2NPFpTzbDNa0z8/Shnh/XD
            5ykjT2UtD+J3lP+h/Ph1lL2UBS4G7PhOXcCxB0n9QOMA1u+cn5xv6dh3ifwe
            xc0TXs616E1Hwro6LHB9nv/Wm+g59G3wf6+hPesDHFtUqvnzrM4NDmmpwbH5
            dHKy6LwWZ+dAczoHLovKvmYZDcTzsq9zzbcofy8nm5jySzXTvYRXOgcvnQPG
            xLwalG3Da77Jdp0lX12we9TXfN+TNm7e5/64xyx86T5HZfTPPU8k3ZWYV2OS
            nTEG+cIxe/T1h4o9hlPv9vQjuds5JbB6Ld80Leb1jgH380sPYRfaFp//q61g
            7XlujSV7BuzA+Gs7/X/cH3xLvxXR7R9aIZngnfRHD91ff2SmAGDMBu1yxF8M
            lfTa5wQNenvEq8s/OdNkR3XHL0/e9apiGGQJkP+AciKQBwEcT/lKgUbK7k3j
            qMP92imP+Xcyzw7r+NJuwpj1X7/H+b3++D3P7/3H73V+v3/83vYbPNHv3+/5
            7X7/Do/9lrHG5LX2T+1YL+zXb3d+F/m/ysdFvLUysrk9mVOZhcNYK5yeku5T
            g8CqQrzM/Ve05iCM7cY9qAxZtNymIDY7xTgz0zCOlErIiXbOOgszV9BKINrd
            GVXKXpMqKZCLEy/hWncn75LOmfLXWAE7ByBIpz/O+VBuA40wnf7sXPd3oU9d
            GOY1md+mZ9t5tw/WVzx9MVvPMV3ovKV+0zXa+XvOz1jnsPNVrb/+nG9ydt2f
            drvZeTj9vud+OP2+9/5pv6xGXVBeLgy9tnddOws5/gwp/NsWqhxfjkEnpsN5
            KUndmACaiDYTA2HN+ysMyp2n80x+3nJOEHEo50jaVPQlyAzMpxH3y1oS4FQT
            c/Mn2caYJEEciLd+9mKxNsuHoHPG3jFbDaUnlvym7100I4TsJuRG2499DbsQ
            y7qLN63OeOfvbxvlfJuzb5udpWvxXcveBxnavuuMB6h3CffTTeSfvgt7Vt92
            vom5Q3eM+kbqg8/4Ej2y2G/Vd/7MH9flvsfThMJwz1YYM87FIi+XLG/vGVem
            nVh5+O0c8lT1wxfSfsi9bkiuZW64emyH4ECYEU92J/IBwLOqbBAu7zKOH/Eg
            fzdilEHYLdZk79euqXzZ1l423BCycmiPY8PlWvIcrFc4tkr6ctGzI9waw6/y
            e8k+KZ03bVMzKAcj2uSeftoyx1w/bcssp22yfI0j5ZZWZEx6UH5c1WCMQf4B
            YPLAyTvFmtC2du2xpF/H3oa56fLrnrt0+nQzQdPxKSrFfIpmo1KBS1Xkc0j/
            4RJ/cjjR35aqBq6BAyBg0btqYgbmBrdap7JZO/mMKkt6c8TNILcMR37cj633
            OSwLa2tib4L5XrH/ynGjuP7AXBeq/cL8cFTv0iexOuWfTFljmZ711YvlElZ1
            5eFotsq0KhIne1b/4j1ltsmsOWp5Ycondxx9Ldk2pYEJ+fLjCqulu1/jO2vC
            emfQuya5NHHezJYK1uHU42O/it22GsPPbSMt0Vcbfpv25zBaoW8Z9g7PXEzu
            XMv0SwAssrbp8YG+NGarxJjggrp1+cCyTgHtAsq/XZmRlShzJc4J8EWmDhDC
            zJJPfz15009OIJX9Zb6J9ZyaoYl6JtYUAEVWjiHWg3zCt17Gm14mBPP1VLLr
            yvmi0i0W5mAk0Mt8xgQiynvxsO6m5vwdA8QQ0kQP+9bFggxtuLGD1Vws5qJ5
            kiWWtHTI21PZsBU/rHgur/zbLAJMW5n0lA5MFCNZLz2m3owxbcxRpGeV/53C
            n/xI6Gk4mTsI7VQTxpEfKbRqqwZFZ6yD/NubjX155tTedj+Q6A6IJHZvLpw7
            g6XpDBbEUoWVACuewgjHqThJ1s/4YzzM98LcS+X48gTM4a3nQFn3J6YHcnC3
            72c9uR8bruzPLjkaP8da0XjGqKAeEVj5QT7LjmBaq+VLtbzr109yzCQelNYD
            BkQ+z++8jZwLRz7f/BKZx8gpB3cuql/rsJ+ol6TPOU2pGX/8LuEY+pLe3536
            9197j3TY1i6Bp/WyT0/54Dsc98f30vSH5dS4exWTt2mv/arXt5X38ivuj/e4
            vzwrVBXLQfucGh53brK5Yn7miLmZxGPM54M7xGtg49I36OWCXjo8qe6wWmXS
            jzKLIt6XWPuQ9ViZG95ZbCTlpkFWn8VD6QGRhbc+7ZQbKFtcHfcA76f++75S
            4Zzz9xOnIx872UapP2TeIPq1HHlBcwB5lrFw6st11RB18q9m3VT5ZTPezt/c
            46CBDlhjD/mMF6snpFq0xDLF2v6lTX+Uw4npcXUMTfV1+3mHcofNU0ehK0cl
            QV05nlkBQvZI1lc9tiIy0ZV+chYjophQfkdnPrhw6sy1Y+clLgC20/wmmzsg
            EPPpmxDLweGyrpftJ4D/jvnWXOJ7A+NBci63jil2r/gqz0xkVltV4wDsQhrb
            KzKU4LG6ANQPLsbdUH9MFyvW26EOmbF59HI1/We76wD4eG+9UZ4zJxfHxuzP
            XfVf8ySOp6ZJujUCxTj1SJt0cXrvpB97VSyb8qQM6SA28Z/6uTUogDMYX8US
            Qsw/QZ9mi+GcSnwKmC8NiKoCt+dsfuGQ+KWZtNqsLPep/CDM4liV0c3nIn16
            NhuF+lJcMH3QTx58Opf7A3/0k67dahNQD3Brc7lTe66dPNqEBfoeMKcdf7+P
            1UPlGoinOHW3CP/V/APdXYOSILcxhwiTX6UqX0QWWbv13TjXY9oeUG0Y+kWy
            bm/r772f2rvBUhdKR4sJleJvPHjy2WfawskYcQzZLdZ7xQuL6v+2wBxVJ+/K
            ySdx52TkMyfH/i2fLvCp4nvQByT6Idhn7HB5FU5nOVCx/1r0nllsqWNlhYRX
            R3/8081P3W/WaLAa8+oPnLPZPBjP9Ny1WBtzdepEKGYE85YWcGh9P7Xf6M5y
            9yr4Ikt7bvllHGs8nfqa2rfkv6Ll7y4X7pjb+D6/zvOdQUWaK1pDRJm66Oiw
            PMjiZ4bGt136wV1pvu1TY9iZj9FXTDF1eLQwzIv36Qv3bKWAOYan1yyp3vvJ
            Grmn/nmULg8C0/wdl/9Zv0e8ueoARCnObm2DR7GWPRbLZdWVx5LpILXPSF50
            jZqpc036wm45NEk7ZXulH12yHEOqKZfue19mve29EQ1UkqqXNkhm7FKd6Kw6
            0eBoaRvDqFgoMViulXrwQDx44O57L/iE3ISj6k2zOsHDSILK+uvMAanaXJLX
            W679PnfoK/O4dzLGqs9KkdYrprVAjAvMFaBUV1m8sHROzmqO0AWfkNMF18/P
            3vdWn5TxOKJXKq4gG5XkOTctZyBm+CMP036m8AXQvu6YMpIpGCwHwJ07vnOn
            3+fMokOct04cjeJq8ZoJYQk7nfpaylXmN5TprVfHxd/90KJbW4Q2KVYl5fnu
            tDopT8c6Ocn0nTLjJ6sTwfe90zyxbh+JCabPut96uORvVZvDW91h3wCj78nz
            x5iIbL+VV5zyo62V475luPOTTszSoYdJOV/tGU9iwnBd5Yc3DYzxB3bkYK2u
            mfmo4iVDvBDEMB7xBvNbiNaeWkCrT3eOyY714NZ48hM2SvisyZaV/JMBbU46
            x6p8Yyt9wTypSS4lKH35q/Lstx7uA16Pucte0J3wyVFNfnNCZmEcA8vV+P+w
            h0+Ope99TD/Wu4+1J4kPy9nH+C16wwT6xWIyCo3+CqC2fEVG471sre+UTXw8
            /lPDQbmhKnCvtXOmZwDArQMLfI/8+KPRAfm6hFc8wWo7r8D6AyzG+1cc9MTP
            2OULq/6O3e/GhN51G4eXDfGLl2Uqmz7aG4X7Yo8fXtZy+K8fX7HMeH7uHq6Z
            aifb60pjPvzzO5utWm4EPFL3dOQWnY9zndnSeCzOjoB91vsBnevyfDn1nS/+
            8/ThSSbTE+Lvs8SDgBRGAzPhSxJfypNOz0HlwAa/v5IHMcNMJSVS529wHyAM
            0fo0fMRIIev3nPtzzhqpYA9s/J5pm8P9NrWrp93xnXL0QnnMrpMZK3rg3yXF
            5DDwA3iFzgTKY/zJKxdB7gUL4wf++Pv2be90n9pIA3Tyzl2nv12yvDT7/m66
            fsat60Fz9TW2C28QW1mRyEUwPdS0ZuVcs/xxrEYrXEUZpTBefitIjnDNPGlU
            04bHchibXfzA16zSNVLWon/iy7olPA+7BOXuogfWj+wkeJu/4U01EdNPfkDa
            1L7pomR4kkDWq2NgxzJbnzKV1iz7vmAx/gGL8cBiPLAYDyzGH1j0oOGEgVOv
            +HOPGcytPXGXwSKh0u7Tx15+mFQqyyij+6Bc9xnlnH8WHcgzmOoUIM9c/A8M
            0Q5fUJmE/f627zjjJAxUgwGsUScdDJCUNsvDX1+5fJ4hDIBDtu9l7iHS+C8Y
            YO0U0hrTS2yu6Z0b5rKwPoJycF/fJun+WG+HeVS90W7wD0w96M2POwvH3fyD
            uAdEbTobvgd4D7if2bvpJD8FmZZ7DmIWODHF10+DKb0/KGOC+YOEdmGLmcez
            YIo5Szfp71dMxx94K/FZz+BGyJAOsNJVGDZZbuPIa6BU5xtsjzrmrfuJc6wl
            t9I0T91qhVnwXzG7Yi62PwNzmTCr89kPp+bsrQUPglfkD2X+UejgB3//qqly
            auEx91gVb2q6W+5B8D7t5lqSG6xjbl3LO+TyvV7a1RmC4Cv/MGMygTM2dS4W
            33vyD1DSYGz+Y1bsa+fWb4YnnppMn/Z7iTMALmCNOXnYUEfo7b2W/z8ppwV9
            9CnTDpaYvrHiP/UAjX/Yj/ELo9lxRjuyAr2uj8NP1EO/pvg3cqL99jWYQRnz
            NOdP/Vp82MRazGp15oxnA0+Vhsl9tJzS7+8x2SQoXwN55LNuFiv8U2u2eOku
            N3OQBOCrd/6GNzNtecd5YdYQ7WmLJGYiF4uPi8oV1pjUuks9uUBPYtB9xtsF
            xlqWenAILUFNOsJqsQdAiNPyVQt/yrfukxf35MSlTk6152ibZI7ZLJmRxafl
            V0b+nQyq6gFiyHYcP/m8ie9YKm0O0vV+c4Mz2IR5VsLRV/AdMVidq9uunnbg
            KMw5kHCxTA9iNU0Zy8cwRicnNIYEkstmnWe6EymPi5KorL/2mYwPI26hT8YM
            dn2d2lvSAXTQfNZ6ZyK7lmd3ll93DcszeGOB5zl/iJi7xRiWqlzQzbFSqjPf
            M0f71guR+JxT1eOuDr2a1uvzbTzfw4WDJ8mTOsaQfeUJXp+6a4qrT1wb8hvU
            M/+Pxv0wGwNWtAXxF7uZPpMpkr5582fbOUi/HeM5pnPM59jPcdqROeqcjBwn
            /pA+aTTRVH7PkI92Zv1L1t8r2ntNdYrLT3wI1571/4CqA0kAf1NOFs7khKUf
            nHB51pu/5PKu+9S43qc2dnpYpxAfSb04hfVH8XtE3SZHUn0SVe+9HRvVbKCH
            KQ4dyxyTWXnB6qqe17c+x3JBGo5jlnDa+xVfVZZjf9FkEdN7mHbNMVLzE2sV
            VC+yUROk42SuM8PD4fg8PicKhzLPYI4H8hMPQyIiS7x6ykTE2nQUI94uoMm/
            ZKD8IwM1swCTTjJrIeCOfib4/TDnzB+5jACRrN3JXEjhMT8QttU8MaZrrsrf
            QbpCWk/5YaUP6SDBUTBwTvkYMR2lJPFxj3J8Pz959XBt7L9dR/o4EqHrZjT+
            gfgs13M923UXKUHRV4Z1hCSOSH+LBYGgzdjN+PFTiakqhxZpH+dJzuPd5JK/
            5UMAaOR/uciMNaKtmzyX9Di0w0q2MFpMeVGEW1kC1smRY7y6Ywp3s3l8+Hrx
            MMVk+kNne1aNsh9e+9ISajL4TbsP2XpK+9e/545ddeEo+zAPJnmRxyurAYPh
            T54oWnjyI3nGYvvRrkT5flb6r4NHGY2yDe0Kl4+xNq8yAtx2TC/Muh6M4b48
            DtuZnbQyR2ABsZtcfMi46eauUZtobViPTH669J3vgwWX0mnLFbL3vvab7clL
            i3+CKKwkfOv0W0+/1fqVrK61sFxUIJA2v9WeJ8TNr3lwZx7c8zN2SE3z+WpT
            T5v6NVdgN9r8NVc/Y65nzJV9rTGlHwTd9z2OUg3+zAbmM+OkaPPinqSft3TD
            lgNccVVKiH/4cvBow1fL6fOajXJvuWUADjLt9FHeMuJh9sGPqvU1zD5JG9mw
            d/UmPwsW66P6rWe8jXkxCVuYw067Qv4aB5jb/oufoS53jA8PdfUEbZpVknGO
            CePZ3zqBU0/wYaLDafX9JhOGdxI/astkG6is/RAa+NGtxNLN0x/w4Rir1cWG
            /OPlk6d4cupV5P+iWEnSPmwvxcNhL7Aa+Gg/z4h3AD6z3FNH78sgDuZSikx/
            8kdeVY4zK46vXD2Q4jOwssyVe/U3g8n1uGHDwh7E9XDOVY+w1mY5xgK/IbIC
            hVN978pb/X5XYm6F2vY9//ILMz+y/HzbJFkzF3M8a/9db0GlS4vl8VSdH85J
            s7oZ03IKu8+8MVAlWe565hKgjkI1jNqyWHlazL10UZAoydd65ciVPQlUD/DH
            PgZdjcUj1lOXgJFfi3gK76vKh1uYEyezIuLJD6i8j/HUV6ReUvEYFjtGta/O
            t/ncs35Hvbl8o3Lq61uVAzId77TAnPNWY8l0XE9QbkfmXmF+gmDfp/WPGnfn
            Mx+9tHKo9X7tPDffpXKIckebLDBsX41PfkLSrUCfMR9X/LHzBLKjdFp3Rxfm
            Cm32NJQBfrp8/y78Fq2BHNWd8W+j2DirakJE5VdmnuX6U5OCMjlz/nEP96On
            yafeVbxxRPg/2hPJPKsWXTjj/6nPED71J8qpP1F2KVF6w6VtFqweJ6uK0qZ8
            /FwBMe9wctRR/l/urd3oVUWYP7Ioc8WMHNeMX3Uskq278sxiXqJCpTQPECgM
            5vvRQTHH6pkb5Xfs3vb3Z27ST52JYjofxdzd3996QOzVXYPZqu4+DoM6qaZ9
            xWcWVZGOMY+NuZiZlj6HY08iPK8seRSIpNWzJubDlk8dc+pvFXvC1F37oY+F
            alDExhiuyHfg2jrPkCfjHD7KWZK0ts7W/ycX9QbeUN5sTtTftOHacS76yQU6
            yM875h7Bprt6jW34FjuXqdG0N73suS8tFtjjxX/LeLWePMRNtcf+ev859+Vj
            Xrw/Mib3QZ+R0XF6r+Lkou1TLzelphoI8iBdtjc+a1T7kHyJN6jNqXvgLckF
            Rbqh/XnGwDyzhhv8R26SP8eUHVy6d+EV5sUcxkMTr3Af+EI/aiaBAc7wtic3
            mJZvXENp++IajaMdPFP/h3imGo6h461qVgTZbpve79FXtffPItz83Hff57L5
            JylNCefYan5FJl2wPbU1aOFRYHFpL08dWeWvUWEkSC/p8Lub8g71DmDk5jj2
            AOypd3/0SYpb57Zm3nwm0SoRO4M1EEH1JW2dGua0QDwnfw/713eMV/IOq4y4
            7OlQYTEkDGcdGc3mtn8vaMGa+jUAFvPtL8DjraozlpWzf+FDlIe1cFwleeZh
            rS0dfeC+Ov9E3yCIwI4mBm/8OlgwyCUpm88Bqy3Q54A13GSvJO2lXps599PR
            iTLvMmv54ap02KpZM/bzqb3y9Z0NFPh7LDO+ANDh7jhUa/D/5TjCH+OQdqip
            5itLfygqFUJIeSzmLZks0a1meHbm98N6bSDQ3mrBMIVS+k+yjeqW7E0EXu/3
            tPD2dnIlsQ1DNDLpPnPeyBQrf2fRSz3j5Os5fo2bigCKQXuD/1HK+ToIMvQ1
            qx+/FTyzWRew2n3SN7NBUkd75C4Gp6Rbd1iyEmPCgcPuegTlSgfD7/y7/VLN
            QepKF+HnS67jt9xnfDB/AMpymz4feMZBHseGd7eNA1QSbyfuz2R0gr/Hsdfo
            qNq2mId98vZf3HNyGRDv7CNDfttQiLMw93d8f5E1wTmlfuaFsmJ7tmperiUI
            UEKg7/mIjKvHnoPA9xn/Fi49/ZN36Jtl2WYFReda9pPnx5F+uDAcaSxz7bGi
            aYjPVGVxu6e8rXHJFvQwIkJzGs1WtZdFL1aTeZfbrqTt/p/GriRJchiH3ec1
            lqz1KMny/580BEjarqqeiDlVdnYuTpmiuIBAr4hoN/KwAFjhsbec75/fjLlK
            vC55/zay7sw4sluv+ySmsjdsC7cTRaxxXhlXOPwxOd+4zolKXUc5rdadeN3V
            9GiwZkXjPsu3dYRUXo8Ophw+WBm5siv5NXTDj3yvE/6+9Pf66RuOd81NZU/7
            YJkz15fn96Y5cGZ/v/Xxg9ks9i2KoMV6kKFzDwOAyS5Yphis28xrQ9p3+2nz
            5fPv8rEx5rDnux7knv9Tf2jEG+H+Vtxf9DrkPR2lJ+33UbsUxCuSnNO+HrxU
            pK424wW5qT9+J3mVf8Xcexg3BHLTz2dMDsRz6BkzONQChl8AbiravQ9khLTH
            Gm3Tx+4XmzKanfFPn9PzCeUX0nM9vec6znI/13HGP+f6p4YDnLhfK9cQ+K82
            KXa6MzXr/uz9H+vQKFKDnXAO+Us8HfNhy03EZi5W3Hg2DNZQqRCWqRToz6u2
            WTRtNOv3bt7TaTidajid+nttyE2BWeSluT77Lxd0qTb0oA7MWnqeLzueGpYj
            WZ/l0MGd2myAJ5JlF0PgAftd+3vyeOpjjefsebwmv71s50jFwQMclN//PNEX
            2cdv20I8hbJkMm4Srf48tQJMnxTHgqJkj9//7aN+bU8SpjWO+f/aSfA40OsO
            nqOEFR47QZ9WDr/G9Q6ynNBOWhc1Zrf/W64da7+q4un88f86Y3D+jHSpBSTi
            nLSPW2XfWy4zL8WBYI3W5v4j0wtOIvbeN8g4Y/T8hmuZ1Re6X1D7Ln/jigRW
            jH18zy2LKR5/A3xCSDZriX2hWlktVo1jSAFUgW/X2B1+Ew0l98UoeL++R305
            7HAvw8mbHnA4XxtZCyyZyLs+fmPIE8CK5s/7UNuzz2X4+vHPsndZI7m6cgfi
            M27wMohRMddEAN1uBemsizGDadVKHqr+LQ214y33eUFH4tDYu4lvBSqUscnW
            3if64IhXrvBe37UtzgzkIrnBrfb8O+oaUXNP8q1QclaazDufZWA07vHl0Gh7
            17Poeq5dzHJy9h7NR/sMta7fWKEVU6dMguYHGagk3WuBdZEYlYeB9Pyw533h
            /OuPvQ/25Ppj78X26qDOW3f7hgaJ+65p+BjWzoa+HuVj1s6gGZQ/caZOTWtN
            ELiYbDX4MLbHGM2fuzXHOryW5LWn/Kv2VImBoc7IQWYuezz9dbYvOcqka1fP
            sFhXuO7VTaskdNUjJNbGPvcgD2tYrNd4XxWia5dyUDy+x2pgP3xP+el7Wm/9
            j9/J1+nXxDxTcgvJ6amvCxw0uLWBocgFDZV/rGN9z7Z/5BSDmOOquiOl05YK
            YEn/0tKrnNb6YU+BNaDIuXlqjRFjgVpA03tUuH/tvtlzz+8BG/tFnPakZrly
            98cOBUn5C9HMinmurfnJ7+u/gJf71I08t8viS6CbKTZ6OybZ6wvUqAP2GDYC
            FoBueP6iPlnWBPDvDdwNY0ySF4uXXE9tazJGxj3DylWdBYDGxIkYaCgvqeH+
            xGLueecbeN8p1nUMf/290WUGWDM9dSzVSt7UpMPEAeRkgHY/9DNkLc/kZ8IG
            b//3s8UyqtoN3g/WfL82HA2mlhKIfUh39+tg7w5RQIAfP8WbjDNXzC/ep/I7
            yXVaXkBNvhL3iq9N0i9DBCu8GqvMf2+u46DdE6A7njMMidzz2qW1k2b4zzOB
            pkrrnA/Ha/yra+n2ZTl1CKq7Ax1yamq6thtq+Hw/Yh0QAajWpHgjTChKqh9q
            HPK3BUkPg4amhwqzQNt4+PdYDB3UhlWP7sC4rthpkF/l9oo5M6zxKbaZx65J
            VlRMg/Vwx4lgfhJ6sTVqHkp9o6Ta0bzu9PQgi2N5DsP4qNzQfrDH5OwHZlH5
            LnBOQwalMSZiLUm+bmPftg5MCWq9MA8Qlhw4f7mn5TiSwNbxJrgK8N0ongFc
            xIavsdjQY8dH1891/poS+Dt2J27t/07H8FiMSY8ljkOHr35hWT9YKOLfimKi
            /Dsvw/9QjC1jwvnF/0DnFJJg3Xq3GRTTmEhFvRt4BJL6i9mBn1kC3nW2xVlZ
            EN5daYLDhj2TIGbYDTOPkC7UBI7zR1trcGqVPOs9ai0JCsBc3zF1XjJecr6J
            XeE6SniwDbvp2mxfo1vXyNfMcU6Y78bvJJBdfudMys+DfhFwThJgt692YLh1
            dhJ9RTCoI76QMHtgNhpDGJAD4wxdiiuQ9+emXjn873Vyjy7Oi9hcYbAaMfgN
            WKsHBjJSg2dxRg87qGlsgto7HhflSiDBOaflLtVdAv4/A/tP7oT5fAd0LP07
            OPfY2RMFCgcF8Z8YNvBg+mwHcG57tq+Wn+PEitlYvKFvk3v1fZedH7umuahn
            idw0kH9rkES5U2tDOevJXS85C8ViqTgvjhCILuyF1aGBkvtIxi1+Ubfnwoxr
            5ICS8pOJJ6CnABe5fFHHKMQgSIPgHNVewOqYbaDChr5lY7734fID9ltOMQ4P
            BPyW+5DcbpKvSbw96/OljMkZNzmKwWWfJHTeajti4rNCewJdsqjPib/CLFct
            i1vtqFuv0fjFwKsMxVWbLSr0s9G40Yl9wo5v5eEZTYnxawf+Mhi/MveBontV
            d3Upmi5DR68DJCKWKmsZSx6H7VldHLm5YArohfvWOE0xL1ve19xoF4Y8IGjA
            +WebjasP72kUDxxda6k9MTmwDOEsrLFt4vwUwzYeXcaCc3hSm2OYDglJdLhv
            VT8E82CyB0c+Pvi/Az4UPKwn9EsUMxKU97tT9yXoyU5dDk5JUAMDfMbAETSg
            f+B3+D7kghsx8hnBn4rvz/Az0FYQv4gdobrUxPw3olyPKvloAq6oYxMi/7TH
            +lqJCmDfGEq3mGzZv8FLFGDz53F7vQilYuagjfXZTRadBPwjatHg66b+A8gP
            65ffHBK6WKNR/+omUBDQ9k1gxQPMHaoXSg6IAFbrWzYufIrySElupjxSVX0A
            J/r3DQ06BG+NWl/gd/b/u+4SJgckX7xqYzDeD8NdkEvXNC2MB0pt23Volpzu
            5Gox3Rnj/57293R9mn9wrpeUqTZGfEhxvwzOxarXw4HEWyFYwCBdkMYGR3gC
            ozT5ouuhWC6l/lI+t7aY/0/MUWNP+WfgeczjTWAAxV7Ie0xjKFckBz8V6k9J
            QDPvUdCzoBnmx/FI+JwrToQxU3VRD3LGQdfbVcju+z//BVH+2yc= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
