<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.6413</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6413</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6413</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_6413_v5800</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>25619</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6413_v5800</key>
          <data>
            eNrtm9mO5bixRd/ra8SZ6jcO4v9/0l07SOXJLHS3YcMGfAGXSilxEIdgDDuC
            PH9c/tK/eF3ezfvXH7U8lnG5K1/X02IsPvorujZcouhZObhUQ4uft1Aun/K5
            y7nrue9zt3P3c49zz3M/5177pvN9u3P7c4dzx3Onc+dzl3PXc9+6fXXramtq
            nuv845UO7lD4O1K6Iq1e7bpEAe+uH/9S//XH6g9lkMr5xF8fQ5whhhBS4NuQ
            /JVSCtH7i7zinyCyzVhL81cpeWTGlV1a0VNv5RRHfCL93PVSbwFq6OmK17iu
            wF2uqpw7XPTo4zua22o0agzKXcyRmVLqtJaDGSz72uvKLai1SSdnTv200s4z
            +jPH86xvL+eZT345z3Hamafcn/zw1hsay7VreZqhQca3y8Np4/LMNo01gtsr
            cmrvEYy1vueX5eyZ42rf85mZDfaJ6/mez6T3yOO+T+vvmK48/jy/nvqi4Rnm
            FyXabRzgqv/5rT9kGL+1Gc5qzfozv56+kA33YwzXF/V+5n9W5c/rX+v+Pvdn
            urznsvr3/H6NnV9/5hcaOPV/0Dy4r7X4Ub+Sc8YjwfmMJ3yRMn/Pf7mjvbR1
            P2n+jXN+zCz/Pt+jlsj7mV++1u5H/tv8iI6hrrM6L29fp7Z/02c1wtv7raJW
            mcsyXeBD6M44wBdWHH6Eec8Aqotloduu1qyHdn816+KPxfIuOubRvbGU1Wr+
            U+ya3zNwIrNxn3RDtJqBOcRVLxTIlZfm/Q/KZxVdaa268BvJn5/8/aUK6of4
            r1X4vrZf5PpNO15tUDMObxUiV32buq871liVtlLSCWWmtOpZuiYrz6aOr1vP
            ei5L12zlTcMkXUwtijzD0re7ndKPpqW0R92/3/PRHe7w9b3SkSG93yudGML7
            vdLznpZGPSvdUtvltWwrEAoNP9Zgm23XHc9Quo8+lF5iZqVnn1/pfvXm93pX
            /okgLbSwpQypUjq2eMhm+ruNNrb0dkv32OPWvdPSK65POsADv6VrDmvLiHvg
            RezoFbEz13po0JlaQ+6lDz9vX+Xiq7Yay/E+m/Fz/G31f6RlgwM9D2MA4+Ww
            7Vv1oxm30g5VRmr5QZYS0hJZ1AhjgDW4b/g4czOCxfvkfWK5aTE15K7xTW08
            YSSsSIa7M7YtPw+MdV+5PYhv4ia/yPR0ygc0CNwOuaCcdmkV2nC7mOz2SLFu
            KB0bfTf6li2rmHfmnS71PYwDYglGZAGi+DD2Oa40C6RzzCfucWKdAEj0Tf+S
            S42TueQ+ucnD7udOXoyY1s59Y+g0HzH4X4yNUbsvAU03PLNYGPsb7W+1v5b/
            qTcsd1jutNrTas/6o55MVl6av8p+awNKJixEZYwL/odXun3d4896ccCFK132
            N9rfan8t/1t7Vpb3X6uRrUa53npmgRxcOWR73L4ermFXd31FMFi5umwq8pLL
            eK/c38tXuwpXsgvg9n53/913y66Ha9o1/NB3JRkHpKylz9f8uzbCY9fkGnb1
            oDb8P/ou6pIq6IJ2MXFl+w4e/LvvUuba/xwXLJvc+11z0PIvvjM89Cf3kVj/
            /1li//1S6qpxQM63QdP/Sex/ucT++6X0KcYBxfyL/yqJ7WFOs8j5v09KDw74
            5yTBf+fwf4Zn/4oX4eLyoeiH137L/+Il8r+twMsrLhgH1ERfYVInfep8eIH8
            +Mn/rLUk6duq/v1a+v+t5X92Lf+19QsbCd7y+/7xWl5tT9YN//pPloOz778c
            wCaHpb911lcu9dDtFoYx/G0uhB9xfn06z59iba8vf+2bawkfhe9IvRhuz8cH
            7MLl16jbE09dCgvDE7B60Vdz6OCyPcIiYGDVfo775J6+y6MWg99+YDVvVQmF
            qfCCo2tZ/oS1kY4T7HqpPmiNzWtJLPy6BuQwzdieULucuHSiEeUJGm+/Wx3w
            lXksF1wfjB6Wwkv7lmpyLaf5uTtWosgDa9Fx5evTPxGXTx2Ewt3W7rMu7/s4
            fjJ1inRAelpKJ29ZOChG97bpRq9nuf1nFDi45VsPYSoCGJS/WNrdg6s/RoFJ
            KScigXCfkXqtyqdOcvjZ1o6KfZ/HYf/eDiSP91snn778z74KxHzEGPleglXP
            6at/q1NHzPOtE2JvZ+G/t6Mg5Vc7dNhOxO57nfbUT53+7L6yXPNPnY7//9UX
            WG9rjvajzhhDERlxnY3HQpfh57xmqWHXYWVa3n2Nn33h8NO+6BwXvLP7QuaW
            6qz9hfv1x7eYuZ+gQcmiSVGoj5Hc3VPP0ut9+e/Buvv5ni7rtqBICzs/JHSy
            yuctOl3jfN+bdA3yPv51ef+KHf9J3o8xXr/FeNxfxHz+4h/S2ltwviZX4uN6
            zk5i5jBbIDGfGFhpj2nqhrrpA/u0nEcI/HLGmgh9DG764FsOAZNEKiBnUKcH
            0FUovJdaA/omkBXu6EMbPTTAe58hdJ6D9CB/9hymLwFFHR6ZmAwXDPRLADvf
            qDfQFqKj7Q3kNkefnug7COyqMaQeaRjzx409wALH+HgKZ0yAv9R5XhHhvGOu
            DyLhIpY2lpQQV250QSENKWKtM9ahwBPNhEVTNd7dxfu5o4x7w6g06rThY1u8
            K9TDWEC8sY8Qp3HA46W2O2ay+xyxSBh87s79YEfpa6JaJ9Bz3vDkqHEyv0n7
            tBQFWJ/G+9DmDVNxE2CdARIPIIJnVyA9wfoD1RvQubBjwTJLxQ2gxMM7S+EC
            M0oDhQPlWBY3cnIQ2PGd9w+QHdAh8H6H5HtKfubkV0nelcSCppC4C/fN3XMK
            MyVIkrTMrDXgGVCQGUgdCZ+OiZXEBMAGDpj8ULnJCPM/pFRXSo1OqJMe0kwg
            uTvlEKHOSjm3lCvvN++d/Blw3WdCByeAFE20ZCPKI5VKk/eTSqcMAFXAd6Ch
            VGmvaqsL+FUzTyoimACskmp/UmV+lTZZ23S7luBg3MsK9Z4Ey6S79nRj6m7a
            vcdM9+PTvSi/HixfSA16siJ417zTNnyQGvUbtIGvAXOLtPbmmJFsPrTC5qbu
            Rur01WNK9JDwChIGJ/Ub1myU9546jNHpD57Bqldc354GawS3s4IxjVwgXcPh
            HGlAo9HJHyEN5jSY/1iUsa4Tus+A+4yETL6jGFe6pFnvNO+WJmsw+0yT/ibj
            najaedmO4X/2n/Po4xiFOK8DNq45T9744Kjlv+vtaz7UedC+URsrFwyUWbEc
            2+VKdQGb45a0asCwyMt2Smu7L1Kud7RFqOddiujUkzjhQu50PWntCyo93nK0
            wrD2naVBTud7Z/2AtGk/V6UYT7OxSLOcdyRafdv77QNyk7FLpd3vuC3mWrqN
            jbHE952Z1fOOhqHP/Q7EUv1hc3RB9e39iu7HvGJyP+YVUbZnXjbuCiC7tSmH
            dzMZfw5qAxhEWu+14YOEMvXOi4vnHd3j6ptPz9rC4puZ3jZsRgXrXB5LFyhz
            8ewer1kBFtQ+8iHvwTchkS43GlO3su1+1izEiM3Ae5jaj0CMatLuKIOjHmLl
            ZrJ6Tuh/rOy8cw4z7FocO03bNIYbMq3+KNEP0tXSDNrvdGF1mj2bttB5am9p
            P8N5xqwxIi3w5NDMtO0bLeQPPavtZd1YAYkteAMpgnbghLW0Fw7XUJexKg00
            ZqCoykvfOb3feqchV+Qsvn5C3X7Fu4daT7qO/bzjeR7/o77pU6+d533qt1Pe
            Tv128pncs9tttoue5G8CVWb/9Yc8vUe7cVofxokiA3eh2ms2iBygIgJdUl4K
            4cnlwaqs6mFP/FztusECOJooduwjfHrK8iMoi8VB1fcMHliGgHD9MBCeKqva
            1gdjVQCT/g1BwQlGm3jGfLEeIN0ohi+McYxS7xknON55NPPVQJY4bLyzhKs0
            220ElVHFYxUo4542F9JqAzPy6w/B7iT9NB9h6mIMQJ16I7PY56suZxtioBsH
            KsjaXMIp6PMB79eSa61y+KN1J2Td715rz/LbYEztj123mIj+y3S3gKXTlo72
            mcAyfmKW4Al/C3LLU+OrmC0weK+BXMCbt9qBzYqzdoK1U9XOozztj2Uru2Z9
            kMBffzSBkeczL5ltVtfmMt2qG5eCWR6pC3kB8lh8BaKIjDU8001FXcuGsSDs
            pQ11+cSinxyI4fDl4W/baEcoEZS9gVkK5kx9VDv40PNTylwlaz6o1fc9d7hL
            Mu7z7B73wSkUUCHBJ81Q8PMytk2bvQrzWr72Id3jKmjHNercFetOVtOfH+PW
            9l5WoBkbEu3ohUNAWB5uzf1RUHqPKZY1WilhrKcYD0DLNk02kqyl+E6YUt/1
            l4bMW9+Osh7zuucEWO+y/Kxy3YspdYdGzVpX8U0xM7cgeR9Gz2vzIy3Vrn1i
            VjSANNPmYe3/17Ddnezrpw3VefACp8U7cNXb13o7jbNfuy3GCFBAJ5vHsmIZ
            ce8MPyBd2KSxsnGHc8Ya9ACfPkhSGKxrnsNFNDfighZtfkFLnkHqAJfquX1z
            deIdKzRUfFmhBfxmh2sRnw6X4x0r1AACr6JZ1lY4BoDxD2S/ysuj7n4vY3yT
            1YwcS15MfWwZekRDxuJMU7kFnjq0gQngftdyCdCz4iGaPDwKmrVHTiSexppO
            J4ikIZCvxdq48EkrGn/5TzoociG5aTvP+nxWXbd2LLY8Y1vaZG7vN+VG8Z81
            0vY+ThcMzXixfi5s/fPO9YL3jSaQAM4vkqyr4alAnyh4QduKQSAGTVLbry3x
            gEYnO3JHO/5wPbhWWCtMGo7AhSshXZlJ5W2XtE1xlW2XZHdoxuxBilvHhpFM
            J4Fd57Yb9eyMLIvvJZ1+MG0h7MYK7tiEtZUCeXWjt++8nWGrm7Kklb++8WWB
            jmPLW3ng2vx5D9ANOS/UnE368xHmwy8Fa1wJ2wJz3TdCnMzOYKaj4SubknRm
            WBLe4Vh71ruCrS/leXQG7cR9uMLTwNFBuFWvTK5z+gfbaiY5zDMvi4sZVnHF
            rQKY7jXuMneOxtS2Gp4onNXXDdZRtFZ414NgMaRVNgsdAI2FaAt8is0679fh
            U1uXQ9MuuvEa48a/Dt0F5sSsLwtL8u5BIdXSOjng7ETOToedljwLchd0hAsw
            FHR1Yz+DsFaMdvZL45ZNV3469aZO4PF/NDuw9ThFpmAmll54wNZZQUl9656O
            IkZHMt7bTrPF2w67yUYM8Zz2us6zx3PezJvNMMzU93g17ycWi1MK5Noz7ed7
            rggP6aRPuT/PsJ/9lPdkfFpm/fBpzGfN9tkHOGE14bgcer8pi5LmcfyNTr6D
            AFqbttdpSP2j8/C6yoX8vjRQerC2DEprpCc8iyuv6CXv8bxH+Quiw8HE6cRk
            yzl9Z3ZqhzV1GtAJRehaxWhb/eEF3HDJBP4HvtBl+uRG//IJw/KHp75hnSuY
            3sRjRsaC7IH/Wr+c0IFNeEvnG/aGhtpR3Vw/c1S9GPqjcQ/4G1aoeWtDYF3U
            uR+UkfhV0/LBK95xP9vWBhgkXHIGbhmEKnM3NaanK6rDwkbZSxoCfsCHk3k8
            MUqG83JVTYcKCxfFR924qSO/oj7RP3Oapy0bEFkqdIN/nFbdY54UUtp9q9+o
            vRrSQ2n/dBSbRQOR0Wjj8WJkHHRwS32SjYXO0QMKOHXtz2i8pTOeCOrx6zOe
            yrTr/G08Y49nkidMW9JPnQuEMD2TarNDnnfa/Pket5voJtNLeP6znLLDu7Gt
            cXQWCMt4974O7xb4FdGuwsVFMa1LAFRawtbGeK+ULYdfuK7NC2VYK7yMCWwo
            VtQDUHsx86iw7opggKHgJ47hUL2mPSjqNTudHDHVsRbkZqbNY+rHIVdw453i
            R/+jxRTB2jQydgdrwsewQcU7kB9Zs+Jc2Hy3daP43Oy786rHGMVu8kO6BQxg
            2JlCzdUOEfrNx+gW/KulTvifTA70bTRfTGNEwwqfk+fcb+2Nb+1hs5PfdHz7
            kp1vEMqJL/zGZ3HH/V+/wGnuFN3jrMu2A1rdZdKJXGX8ZYDy0mCo1r2C2XZo
            mDUER4iW610zB39gg+5HBybuKNWpuY7glxku6Ti5nPfGx9DJh4R2H8gZ8wyW
            H7Dnpz74ug4FIJRmNJiVpjyd1nUKvsJF5qNii3Ba7fSj8G/A4957FxHVGW+f
            4KMoeV64Rui4nuvdmUvQaTdMLZ6Q8nBQ6lB8YLL4mecjfGLbieBpbTft72Go
            aH6KfCSs0lNnMF8gLcONEB7Lid0f3r2+gJibEb5zt3hCv7XrqYXX1thKwgJI
            nW36xPU0e26f4us7xSUYhxEDe4e/Be0sEpHlw7t9PPvp+6gsEkIdGOetp3FI
            7yZtzO27e/MzwQvYLwt5ffkQcfPBiw8QeOOHOpcY1bAk9FnyIy1ucIOjq63L
            jfyAq1PCSA1/U5d+9C0Y6jFfIb52j76ry/twt0vbtpaN5Q5o6zgu/pze9e/p
            W7NLW0+xBsv7DxaM8gb0PTZfpw/D0Vf3BHdJt+xYnsIxxrcLe4HFEnPr+GtV
            DM9s1jKfTL4fjm3WO7YBXuJ9KFbQ7BcGhjtSt3o39QJ1bsVhULeqZ+9DQqiD
            5ZRH7T+BURQzVKTGO4s3CGPort/SJjNDJ4aqXNQdm4oztltYCqxiGMjgCLZJ
            Nn84fBjapnzIjguX0i6ju+X/dCB8lVcbFSfTGLVc+x2vxw+BesovuYKDPniq
            rA+5VuoKGq99rGDuWJP4aMp3q2nzLb0yc9sIM5nxAqxVxN6xDm2WHVg4xIMq
            U1sYChrZbQGYdPb6UjuXobGf3+8N6M/3Qxxy5mcHD5bR0PyYLjy69jZXOmUy
            dIqvedkZ/4n5nF+L1G9paS1vv1o4c6mVNTS6x2uv83Vt+kGLvrLUun77IgIg
            r82pPdIVThynHutfNbdidJDe2HFGa1fGiD4sxheMV4ewjHhhppOuJx0svjfs
            JwvoBvivXopR6tcvz+67ag7kD+Xdmx8wmqoL5nj5QADu5QPvh+hAuf1q5hZu
            z/7Q1GIo2xcwGTTZe393IFpn2xXev80w1J9srCar+cQTy8EY+X0iqwKDYSs9
            2bR5J+l/xuUUu+iPPWt/Qvv1B/2MUT+6Sut4fNI0+A4XvoPLCtj30RNh1tab
            xUg1H23AYJsS2ErYsArNDtlKgG6eOvC2hh3tW8cHwXXQrIQd7KC/n7Zu5l+5
            x/hU7+OUv/VUx/jw/Q4//S3zv5UJb0gBqv/89n/t/qu5uOAj+5HOsw/2PMxP
            OEO2XfAwBftW7c1DA8Br117kS5PLcFVtSis8U04s8+z5TpjFfn5Qnv1sJ21x
            FbMNY/+QJ1o8Z9b4M54DLq7cj/lQU/EI6DZ8ASfd2OXjWxVURdehIvBUtoju
            PtdiT3dijshm+cIq8oUxmrUev1jvFkcXz5x25Adghy77vk4db7f+FNtSW/HL
            j467PdcVW8oFrLiepU0Sc0eFn/SrAXv3SLfbtL7rmsp3Tj9Bk932K4wpTERH
            WDz75cEV4vtTlzaj2n6cTpvsfvTu8D8VR7C4CjNS/vzqf+2TNXPHaYLZ9c2r
            5iOBuXpbU/lHHsuwzZCoKEay2L74+e6KfF6X/SiubB/r+PL4AywAKEptaK/n
            2d/y/PltON86i02Jb66H/PtGyabWQY83GaaM7/KYPvidX6ZERRw7Dj/xakGJ
            2/f9U4b9LI85O0xmP+Xvwq8GgkzGLTbsv2KaWo8nGA+LAd0b8xXH6Pitzug6
            hWSd3BMtzEzynYyO48SHlw4ZLUONkrWr77Q7aT5ar4zzroNzOXeLTXSTQZSr
            h149feKh91gNOOvMb6O+dA+0M72jePP+Wd6WuXSb77HcG0Mx2bRjbpv3Llvz
            SH9FujAcX+Max9cA97/+L5iszGFuUJWvY4fyvpVFPDXZBYt9iA/AEOatKd5n
            skOfdfv9OwZiGKgu/C534iFL/ve9623Mf+rvg05RMQIMssUMcBbS3v/ZaWcn
            euzUyY6f6BzM0Ttr/fo/1r9rqw== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
