<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.6413</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6413</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6413</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_6413_v6214</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>25619</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6413_v6214</key>
          <data>
            eNrtfdeS5TiS7Ht9DbSoN8j//6Tr7gCPyNvVY7u2tja205XFJAGCkKEjgPxt
            nOG/YIyzs/76XfJShrEmGbNaCNkFZ4Jtw0a8Wjt5G4tv4f3ks3Ex3Svfq9yr
            3qvdq99r3Gvea91rnwuNn8vey93L3yvcK94r3Svfq9yr8nLFbtP25Dj3/YdH
            NFB9xu8Rowmo1TRjOAPOmq9/sf/6vfvCO0yVdRG/XfBh+uC9jx7f+uhMjNEH
            5wzyslue0zZDyc2ZnNNI6FeycQeHcjvFMMIKbKcZ1NdG2I5rYWsxzPWYHd5t
            duyn8biyKSrh+YULT++qSjSUGHhvQwoYOd5a1jcwoq2vHX9S86xtopE7xn5r
            afce3B3zvZenlXtPNz/f+7j1zPve3Xz/lBvsizmlHKpBhejfee9vHQRDG8ce
            3p4VuqVPD8ben/l5W91T2O0zHyNTZ1fY6zMfgz49D+e6tT99Mmn8dX655TmH
            LggCbLl9Yt4zK5/fujsN40ed/q7WLN/55bYFXLFffTCv2fvOf6/KX5c3u36O
            fU2bzlh2/8zvZpz88p2fUcEt/zXn3r7W4qt8Qc7tDxHp3R//msr0mf9AR3vm
            1v5Yi5/juuQIed/5+bVGX/lPdSNYdGnfVXhg2NzSzyKaO+v+ge3KVwFwlLZo
            gPMesAbARI1eEODyXeFcbMgbNM20phZafVVrw9eiOBssxtGdwEWlmnu/ts2d
            EVhOpyCLNCCopMcYwi4GhMOkzXH/i/ezELNQW7H+e06euXxg94Xyz/Sk1yx9
            reFrun5QRRItFB5OBQJ+ylNVNTWUUJjWW6QjiBbTLKd0iXqfRIZN5b3cH6VL
            0vvGbiKdRf44PUPpaqtlenFYTDuQ+ed7fFR99a/vmQ7o0vM90xFdeL5netap
            NMgy0y22874sVdLmiIIAn9nAKTvW4Ls++mB6E3mYnn2+0t305s56F/zjhDTf
            /MGmMpQOLdxpE51uo42DpV3pHno4NHYqvcN+pz1g4Ee6JL8PjtgFWAT/NAH8
            xOyFCsVzKvCbdO/99HpPuGq7YTmeexM8hx+r/5Um7/VoeQgABMv+8LHiRhO0
            oh4UGbGlBRyKwJaARQ0ADMgYuCrgOOFCDzaeJ54nODZqjA042PBNAa9sACQ3
            TAJ0J/CwtBYAq5rUFtA34kJ+JovpeD8wBx6XBV7gPepFrZgbXDZEXQ5YzAsz
            HRrabmibPKuArWPcEUsYMa0UflBaEBAyVm+h73OYODOmzmI84fQTXAiCEdpG
            +8RL9hNjSX3iQh74e+rICwEstOOqYGgcDwH8D31Dr+0LQWMFzGwsjH4H/S76
            rfx3uaHcodyp0lOlZ/kqR9aUNsfPdz/qwExGcIKCPm7APWCl6+sevsuFASjc
            0eh30O+i38r/qE/v0vmtEkklsnnKidNYQOUgj7HnZ+Fn6KfbvgNkr2w6eSfw
            JeXx/KT+/Liin4yfqB8IbM939e++2/pZ+Jn6GW7ou2QmvytZEBDT+nMdfuln
            4mfop3vW4Z46/vRd4A9JQacIFyJ+kr4DDP7ddzHh5/yz+AG4Rvt81yzm8g/f
            Se75i+tirPu/gLH/81g6hyAgpSoK+w/G/ptj7P88luajDWZKjv8eGNv9nOLI
            6d8PS68c8F/DBPcJ4f8VmP0TLAKK83tG37D2I/8FS8j/WIE3rCA/YkWmIKBE
            Cty3zJt6o0x4f/tea2LSx6r+/Vq6f9byf2ct/5vrtwQBlfrfn9fStDNYO9yj
            PykHSr17KYCNCkt/yuxXLsqBtsvcIvm7HYNJmK9P5/2VVfd+6WsfqiXgyH9K
            6llye7o6YKdcbkY5tprYSbDAeDy4XnBFCh2g7PQwUzD40v5Ov2/ubTsv1ujd
            0QOLtFUmaI6CFhxsS9Qnotq7SrDtuTjPNZbWEg117oHpEGVsy5fejpVMVoe8
            PPvbaysDcCWNhdpL0HwotcJnqhPCp/TcazcidMuWAdTp9aXlvsvYTg3bcpq2
            caOXq9V/lHFVENAix+IW7VmWbW0DEDp2p/FVpx8k7Gx3YalKH5eVf5YBE1la
            nuS2We2067/riTME+7Tlb9/i03+NeDtg/fuLNA3kGaxQTZhYd1qmdfajDLhZ
            lvWj1Y2Z6deqYz/LQGNvWfWA8BXX58XmzzJQysNpC5Pgyi3zPYIGAlOfMuXO
            RP6eiY7FXZoJELZcer/9iR9lxggYGstUEr/ersXss54JQrqeMm6fMsV9lVmr
            vNta47Q1gk0fZSD73LZQpk322UIOaG31eIwq6bO8NW3MMw9nJce1Vn20a60b
            wPBbxt8xtq/5tC6GjzLulOlfY7R+DFqpiH2aq3qNPJ9lQi7+lJlI3jkvw35g
            hqVNOqoM1mWYvi59+ayHsCTLU6O1aRxIX9/9ySANRWWysEcwsL/LYCoIILee
            dPocaXmfskMQf6Btf/gn3Cy/fpP+XWyV8bz7sljG2Tp5z71U80mmcl2f6byr
            DFLNn3wfwQ/5flbaOzCg830zxO4wXyT1v0FrX/b5v8j76qP5YV+zf7C3/eEf
            KGVv3roSbQ7L9pQsyRGW3EEKdhEdy22JSzaQ+j4gG2zrJkHKCrRAcIO303nX
            kvdAcaR8XA2z0z0kW5/xnEvxQByPLF+D821036A49el9jwRCSNDInz356bIH
            c/SL7D0B8gZouwexq2AtkHQh79KlhCVMwcUVXIf0C/TwsQdUDAKNC7wY0k8I
            y+HlDBEkKnbcTQCZrCGVBfS3AVJOyDGCfOECbcxIYypCKTOUQaMfqvEbVZVQ
            uw111UDBqoGhN5Rpw4W28UwzG/oCbSP04YPoOxqnmtkhonSXAqQBCFu4Oq4F
            fEFbE2xtQuyfdQBVS5gYH6hOQE2BSsJqeB50mGEodkKpSRDiFgQ43DudFTEA
            3cD2PJAP4JghFZGtDIhxC89YCusxojiipaqKZbEjRYsJtvjOuQV1CQIfFafq
            o+sxupmi2zk6myMWNPqIK+OquHqKfsaIKYlcZqx1JNqHhI6UEaFPY2A5YgCQ
            yyxUlIXCjQIQ/vsYy44gtjGiTFxIYwDR1ph8wOzsmFKLqeC54rkjf/qY1ozJ
            5AghFlW0qB6lEXNBlXXF3PEOwmuGTA1JNBbUV+hehOhbEu4oCMQk/4mlr1gw
            voI6sbax2hYBwVDtC2ZvRYBMrKXHCjGjot46ZqzLxbrx3ixIHT42zCdWJALc
            Y0PdgIPYUL5hbgDXEKQ30vHX79LCpiMScwWiFrsdsaOtHmJECxEaWQQDjr0C
            NBve9x47AKOjPcAMJKoSoQHHgTUCtGMFQxwpY+oalP0RB+ZodOQPHwfGNDD+
            sfEO6zox76A/YPcuTnyH13FiDWepcdYWJ9Zg9hkn2pvoL+h6nEZe2v+lf00Y
            srv5599/6L9ECAC1+gcE/lP/iQaAJ6V/puI/9J8sIdE1+89U/Gf+s+7Xb4jm
            vo7/Q2RtQvek/GuO/epYH25eeNvpavzUUc1c+G65a7o0HUJvKLgalOJifYIs
            u71MOrjTJsY0w8gC3vMZGpEv95nK1i1HlcEPf9LlphlvxvR43kPzGarfKm2K
            u99btWOxRsGmwhSVdPWF2tN9htbCtvVcGfnikxlI16ff8unnrr6hL+F5xsjK
            fYYWhTbP8xiO5YfGaD3L6xma+9e4QrRf44LW/YxL/S4LCieDu3weE/1PnnUY
            O5Dmc2kWPcuTz3iw4T5Dv7LlyUfLDIXCNzM+dWhEeQWTl9IZM2Nw786iDNdv
            xvHrNyRqv2lbwHo6hpGYnRRFh5XddLKVvV1mvMt2UMIZZcfgRKi629kZVc5B
            fwxjJ+ustTQ1hDBOGpq6Z/AE9EiWHzm4gbRTGp12Jw0dE8o5742hmbgzdunc
            /b0HRVoxeAl6wSpZVtdtoMK21AGnA9BLuFxBYSaY46L4qbrzHH0tC32nnEiR
            hiElaBO2n3aYttDMaN0bht9xHKHyGRUpnzFRwpaKD7O+QzEZwyzrsOnkObsD
            9VjmoY/ZfNq1y7GDP7F95abLOPca7v3ay8uTvuXavddbvt337ZZvNx/DXKfe
            pmjPbq2neeeJw8SsyzpdilNYVy+/fodBpZ4zDIHHYg45jI0sYAfn02O1QAxz
            TJuuaJruoaHv4oAGBiq+pdU574ZnKOnE+fsuLZrjoL1jvnqqwWnO3HDQIFHC
            +V0UwoMx0BGP9mWNAgRpzsIdiwGsumDiCRWF0jky1NcwLTRMBy0XYnql4wHP
            AJWdnfwxDqOa1kHDxjtcU2NBmnXMvEHbk4mkhG6uiiHkA2jOlAra0MM0ZVsF
            dqWQbO02MWCqFkMYBDTmVAqKhh3UHMNVe+2l9ET/AxCAcV6mLqP287SVRjpL
            SzTjpQI6M6HiA85cNQ11g67hq5Do4DZ9D+AfcKCyntKAxKrHq57CehbzGOeV
            9M7MsnIJv343ujzae1w0gWB1NZZpdzk2PpfNIlnaRrGr0xWgIqex+DXtZPRA
            PibBvegs0DvNHw3Pw5qciRsMDAXyAzFOIF7OpnBMpHroU08r57nz6rujgfQ8
            ZxdK9qAlwMbudt+WLq2CKXin0RU7TJqAGzTAcAXlM57OLlsKgLWhTC3VNmQ1
            /vrqN8PUaNyOocSgUGELxMHy4OLYF4MrTp9G3b3l7MdeWTCAubRWuJHkCwPc
            0T7H7/ozhxg3vw110w8JLjltT+ddWqCffWNWuwXlTlzXT9pVXa+aT3PgETWV
            znhHrKhvoFuOtmKaDolzctIkV951sEwCbZuy5plEPeWut+V6d3PqQh8xBNB+
            WX93yCOcCEeCSg4YM0jCcUuOPUDlzbQLmCQ3U53Dgl4QLkg3PC1ZuIdIvAKm
            AU59ZUwGYLCi3JxgMTv2kcHEp2mOrs/skGq+nG9IZerAvPQF7O7AhFzlVkvT
            Fs5rYtjnDnQoDdCHwsBGu+5zHuPiM9iITcB1rDNwSji2VH8HnnN+AYO8DqgD
            pjGutrInPUile8ImZ9K1RcN97gWjZ4T8HRfgbDn/TnvSFKy/XevwJMbJYm2f
            MVnAj9UeAxdkqqKfEfMEPtd2fc9XJlTOReN2YRAzxt72oU3hGaM1jDDFXMiZ
            uRn33UVkO438BwYYBktsBGPwv37bbjL1lGk5d4FiENoFrcBnuGOuujkUoy+w
            YtRd5WXAHKyVO3RdUMvcL3+0CgjDEpQ3H8Pn4i+xHNrsRxQt2wCGw4fKjQza
            EhIffhMZBSzPDugtHTnlDafCI05lPHj10CjiVTAHL/Pa02TgKtLEKcD9OEEE
            pAeFZkzhO0gGpg3fgxP4Qss8YIOAvem4Pd92xhQ7SDBYtyfPJUJ9t2B6hZHj
            zAPctqR9AFhrkoNwYOWZ95B+/QZoSDKAUAUoA4KMXAlvFnzNUD4Ebyqua87F
            nzzqGYIPDA5jdasHB94ccYfEFrksWH/gJJHDxSG/dNt01dRci+rGkmNu6NxC
            u9OjHwClUtIHrecmCXKXLV47RuxuKfKbBHx6+ecBpwtCGPhbMxHr1SnPoIw/
            PImOFwZOxEB3i2SfFgGjBfK8+ivHIHg7gxy6VpVhvPg4t0J8AJY5d/it2uC6
            YrSUn/idAtXdkQ30LSVLyOPRge+C4ABpJBMMRpYXV9acvo9tBVxt0tMH2rfb
            w0/4jPVqWuO+10PTIf8RnAUr7Jv4J+gMmH9hJyZhB7COPkPHuHmbeFc98RFr
            kWZl2por3zjWDRnpjAUELATuN8HdmiMEXb5OPCXORk93COSboLGM1SbA8/DH
            R46woOHgYJVxV+IzE9+Giw+MWExkhVjXDF4zUR/G0krW/B7e8et3x0hIfh44
            wLij1gLjaC2sBuai+ipGTJkEstlUwPqmlLIoxzFWZkBwHurGVJnjjWTwCtEb
            0ns9c+vibsCbKhmF/Ag8AG1O0iDoBOkZswe9LSEwiM3rGQzEAcKhbyTOpdYs
            HV7H9sCALOV3IQrmSREV7KtgbsckYM/DKEQJELsfORzr4zfAeynGkzgU7jPK
            B1zlI21EGvapm0SqnDZXRZtNSLsVi1Bu+owznq0+kGlIHqrcYKCdUCOoN1Ev
            pmxBvRM4ULUrph4+T50rz9DAlAYEODNad8/6Rog5XNs52MYp2yjHoV7qLGdN
            ydC0nsBPwIIPaTyweeqJL3nOsj/LvOAOw0kDunoTDHvIFoJ1S1gFrhEuqa3z
            LvzH2A5s1p1KHKGif2DCJXfhLcM0RlX/S0fHUztlAuaV+UwXzjHyiAPcs0G6
            wTCHQfW2HVhuoHemIJ+k0XZ3++cOzhn1H0Td5wRacPM4np26q524q7AQN/IE
            2IR6voMcbO/48O24z9IL68ru2DG6fOtf8rFgGz29vCiKF5XVsie9vvNafUto
            V/2kLOnIYz/xe6c7j/bMI2moq4B727u3okFVChkwADIRQ4qqZK2AO2SkQ1MI
            z6CPvGfRFitfNvUCMDan8KPuJiMiTvlDjxmhZCFPHXrMgAWrNO74AcvP4LlM
            L0asUtMDN8t2I2+csrTnOF9fY6Tc6ZE2gv+scAXxwrlW+ld9jZi06Rmp/Pfl
            PKgV1+ZflcO6QnWAXH71kNmhNUKPiwzpeOtxtpCkkX6CEvlLYwZ4xMP7nzzP
            ID/MITdWWm0i4pZOygFWOg7WT2Ulh8gd6ArwxEjXP/Jffcl/a3M/pHSexXtf
            ie5j6dwgXrwP0APtKMpH94aoNpi/FXtvJJk/uP7w8cMLwIsu/FEWYt8B/+3q
            nYD9bsF4C/PBwDQm8RijMGmZ817jyt/jgq7eP8tzbOD9j/wA9XQxsqhn6J3k
            jQEQUwkLQ8IiebsH9IPeUbCHGGQuXwdeMxoJ2FqI2r1p26hkC8lBQFvyCsU8
            PLweMvOq4PX98PqY+P5NkySTQNbv9coC0EdmOXRBfbHUE4HzTx7WUO/DX7xn
            fGA4OKO+SoZlX7NpDfjgIHriTjlcG0wbcMOdMUV3yzIGC/kqo02pQB09U+qF
            nBAh4R6eaE5g5NZv0Ekr+Z4IyPJgdNA0rcHQGRgq2xPICO8036j+ctPRn7br
            zfcQD7UekkWrxkatBy1Z6uW03xTwWNDGU86aS2eF2+XmHZkEoDOA1wvyCIA1
            j8vTNkNdnVe/tjbgOvUFbQ+ahToRMifaFymbkn/1CBkZdVStBORhyr8O4oCh
            Tqb++YG80Rl+A72bdpwMXWVMN/divC3FikjhTdGajUZoKHDEf7NyBf1hgAbS
            4HuLiCYbBPUVBhFznmkLgfA7Z/jQ34FPNkke5tpIj/ZzH/ueNkk4yALCY40F
            1VnOt2HcSgL9fPTvChwENaKg1Jr0gfXBU6SDU/5iW3az3Xd7Lhz4Y0hYItuT
            AnPohovZrgR5NWdPuY9yOQjZxPpAFYJO+tL/gmUf0On90gcz7fgMEj38jnMx
            kWfPjkrzolWoB2KhbJaY0NzmiYiD7Ccdr1Oj5IZB7Y4LDRWT9kmfpB3ibMA+
            0W2PfvjM+dj61imyN57xs8+uvujk8u7YMijIRUu1DPS5YBzHdrW0Y4826RQG
            8YmijeOudwtJKx2dhQYJtyby1TejfNIi0Bny1UuHPHkKAa564hlwe+M96I7S
            oPtpd3/LSp4v5sjE9I1M0FWVIxiAb3TaK6s22452n6e/MiqE3HGf8U09NlbQ
            vATwYEA63037Lmc1xllYf7R65nc0K/O73eZQ28eAUTZpodJpx5pV/pNu9oWe
            EO/uOljMJTepksq+7E40hwUwJqxvxPru8QGv4CuUK/OA3lS2+M/zTF6BHmW0
            UBttm4t+H/Qa8IO1APhuXyt1wyNfQgaWj4WgIXuml54tewnxf7kIVN9cjE37
            1NnA61DBaTMsYsrbznEiTE9kealnXHKyHH8FJRiGufe09I5R92ANwOMYSqaO
            PzvkC8BlkiIjmgb5GbCeO/v0opOUwdthqnjnJYejzgXVJn/gNuT4BV5Erma/
            6Cxl2sYdAYnuh9FlqaRWNe2TpoxBWzr0xMQ6pFdK1gyOkWIjHr1auhCGCJFU
            MLAJi3wGSNFOaPux30gmbGTMLAdSzndYXNpFeOSC8rH6+pZkhnCM/iltLzyS
            Hk3icJIN8gWn4cApo8BVnori/V6685TujIme/tQPgaHefv6sOxx8QQsMFUQf
            IcxA9qCJdkBK+DmmCeL+cyxPu1iwg1v9tisNFEup53L6Gv//eQLPWkCjsaZw
            ZlbgzMum0ylH2rNCd50Z/3jwQrzduY71emiQIyHB2AfWjLYMujGwdlj4s2YA
            6wKNCFVYKvadthNa7CBJyTm1OzQBsAjwYNw1x+mmE/1oRbBZP2GLtlbpN9A7
            aS+ijotxtNmm7NYRME6BuV/6WWwaroWJeYbsF2gkftPQq794iCeQbbr0yiQZ
            STQ0QC8clMPpG40/aGjGd/VNQ9vu/Za1KsudXvQB4WHbh4Zyk+JDQ610w3af
            Dw2lcLsrzWPWPrT0yePZIKSp9qGps5V/RVPP8/ne2kNbobNbULIy+6Gtgo26
            w5u2kvazvVgOjQWrzOyr9F3oaD2yt+slY+TLX+nUTTqaoYMaU6mWDRrgjdWA
            SFMnZfMTVc6dlgAueUzs8enI70LfDr9DW0M26NrXw19zOXTvxORvynw7eMJ0
            3ylRXqOrUlps4RhIH2mfeWzVpFXPM+R9+YtO3eceoBcDpmy7/n1LK5pNTX5O
            aLN4di+/Zzh+z1fan3SQoo8WIOOsuOnvy2udO2VOLKvOSGEaHK3rDp7BOyRl
            6jNhNB1ssggh2k8BQshIA+IpN/WwLNalMTaDlsKtGPdQJZPQNzVot+Ze0Xvv
            4Z7L4uSrkv+3m5ePdoUsnYxOfN3juT/ncoAm3PR97+7dn3u/7wNj+sGjfPiQ
            vfZds3N2AMTUvemTDtBwyIMDRDa5yTDfEaKk95gDrk076yQ7HECJ70AP2zMH
            TFfuvEhao4o78BY6GBEEz+E+B8ZDcB4en//d05TvKTXyj51tQTw1x9J7yR87
            5FN3ooV3vYf0IBsT1jaX3vbQ/CuEhP33UTIBcBB6sZHtt4IvWLI/7y7cffhh
            jZfPxkTItSHSv+FeawzBHvo62R93J59Ng6yHZT2JzUc56FjVXhtoS9aRVF/Z
            kWdrQOkBBQ8cOkgd49rrOn5AL5rGgAjZUM7OGfZJNgfKrYG+PFRkaC8LE+OA
            REx5IW1bWLUv2fKYJdKHijKMrSgrQCydiqgmHwhYTshGblmekAOKwzZu27J3
            0DyN9PDHJm681a4P4HFQf5zoaaSXoUDVYV/QOEgFNxZ07oFkf3PP9B1k6/a7
            PwXDBsP87s84/ZnII32DAP7l11kQzU+66cAk1w8Ma9cfYIE2SvFMGuTieZfD
            eRcdKNbhp94twbdPF74zYBroX+izz9y7wJ00giytzbGP5oOrL58zbf2AcagG
            6OaGRtxBQoIH5SVvp+wAFi07Asi6pwoB2KRU223TyV/QnTZPqoJclg+MsR0P
            2ZhRS/2D14PScafCmSOhxPEZAgxKqgyPyCVxPwPQ2R76Weyx4wGLUc7LD9xp
            P2bFUjnjjPRF6aAed+C4ka6DJha1E4UH/BYL14v8v9EpdgB5C/Tgq77xUR94
            RXRnHp+2yDMwTjpbaKo35RmLcS/fVYKMQA+Uu+tyeIX0OWGnpV/MSw7mgV3S
            L4IRXbegLCVXtdGeNbPU8xOWpUlYJXnlWIen3eccJJDlUjy+e8yn85H+FuAZ
            bQDK99wBdsrTXjQobLgj54H1NObx5CvLTTaAIun4oD91iKFJt/cjyOwENSL5
            HqqLgCPuObQ7LcaxdMi8HWPxNGBAFqPfCnlmpTIYIzWx+An3RTFJW3YT3pl2
            vwdAhccnQB/PgsyrOAXoouRbmBR0BnrPcPaJUyBwm/Yau2TQXml05MJz++mO
            Sxz96J1hr6b7iXd4fWd3qOiHJgM8Efrw6jrzDLgy5Fszj1+NNm+sBeTI+irH
            fpDuMsDPnas72i3qYnwjKOD4sI+EAwePDEF7CeEBwEU+Ix825mczxoWxQqPm
            yjWhvxj4Uws3viTMAvR90Benb82B9zdv7JOgePb92nj4b5af2OlkJfLVvN09
            Ics9J1xpF+SzT5iOpLe/OTBSQVsnQZOSPESiSS3uwx+M4hkdGaD0Osg7oVmx
            5sh4Jys/J2REHrChuJRSIH9w3xSE3MJA8ME4JgVaJMkmsatcRTmPMpW+BpBb
            ltMznc06pA3vKX3TRR5PrFh17/gxe2PHXvFkhO8E+YYSMOUh+pjDDK1S3oI8
            IzlJIkuS7Nwp++GZ8X+DvJ56OepF7ypjMCBFOigAnYEBU33kcp3nQQMrAwbw
            nmYa3LGaycmHMmhlCdIm/D5e93li6whHk3ElJR64RasYuTY+CmccFXb66uyJ
            wyqyOx1RgjDId6yLBkFfTl2G9sRAB92WKfrn92eT9/v7QQi549Pm/mOzVqxI
            p8y6z3bGeN8Nd45/ZEwj1/CJR7snMZaPNKmW0wmAdyylJH/mPZizzsac+cNc
            QATfshBI7iK+Qj4lnQY+MxTglsP6F44tax62TLCECdVLowXaoF+fsbZgXmm4
            Qz/Tvulw05TVF9IKiwyEP/oJ0H8ebXnaLhwD8gfz6oEHME2WhczxwAFdVg8c
            OMhOifSl60TKStk+ubd/Nb9iQfKN7XjO8ONcp2Ol0jmH0gy42zYcXM03BjJf
            GSPd+w6yM7sixwfIV5TMBlzgrtmzlsgf6ehO/Xm2eH6dKzlPHe2c1JY87Yy2
            Uo8Fa6VtirEW0In68ZXy+2mPuQ+Koex0OcpuevePu7yo81nNeXZ3zhmDmBLS
            6dJKnsNCJMIYK/s8KN9KnCZBS49cQ9tWpB5WxZPrsaHiThUxgd6gN/baZVeW
            RY7yBAM8NReJBgz5KZCruDrpu8D4Te2Bh4IWL9vCSW/Kjlgrp12hpMMnvgzC
            o+jrlqBJW/q5e9p6FSxpTsySn5NxLAOQWuxG5X3pHvry7cz1fGzJpK/0q0XF
            jrx0SxCo7MHpeA/27IC2ZSiWM4EONwa7ffAc1w5No8dkoG3Imh3yNaSMTTk7
            O/Ae4KxiewmX3DBJp5q78ELNZVDmgVKTBuCDehYkKOeuvmkyvy2cPx2K6Kbw
            T4ZFu0Rv+Dzu+6dcuDD45Ju2zPPO/XhHuZGMjO1Dvls6hsmf9hU4QHiw7h5W
            6ASHkB2a5E2K+dHrW/DLPu8cQAnp3Dv8zMnRC0tjmi4IRSQxNrbZ4paCiHW+
            oPQme8YYrgx293HPJ+43r3NvN/3EBQPQpc8+Psumk+FsiR9xW1wz6EIF15Ju
            TR8l53jQsdUrZLGrc2f5JjGyktSvwx8INySTNwYWGPeOraL9Fzy7lWsL5rPi
            x+VEOvVQ94PscWxBZdIUp/Zo22Rd4cNHwjpq7i3c+irjr9W3IzPzNEY9O5rT
            neK/3MJ8F+4n4JG+lNXc9mNSDmZ8NwBBB7L68BwV2mZg3TkfevM82xkqbeeK
            LQEUKP/V/j4nlpC27ZM3zIFr6cVVclNh/qXBDAz0sqGkGXE/sE+6kmnvWDqg
            WHr1xUPogNn2XVUH7XjrfGvWj2/9/dYqFlJ+4IX8yniJyEhp0KnK8OvMICPx
            gJ9wM82hJ2tcuMKjThqtNFLqaIp+4E4KLgZz7j0f+rPEIA9NoT3gw8+VORdr
            QmUOx9a2P8vSLw88d4xTg9wTi2wH7fFlGchRZtkqebAc/KBNgPhIWba23okf
            ooMox2Afc2wHXXgUpnn5zq8dObnzzQmkLTo39rEHSqYeYEDl0rcTW/KKGeZ6
            E8fNcfbbJ5aBGMBj2niWm2XIs6WKTUCbkfq/4GLc+GvFNG5xJtIZHmjBtL1p
            fLQf+oZnHrCUaLfphYevye6SyB9oU1C8MebXjj2hklnZHlAeemc+58w6xXPf
            2PsTn881a1anZ1KHDDyXhRJtOf6W0Y8dQPY60PU5st3XFzNCr7GJlzb3jlez
            20EmIM7RH+PeNm8gR9NRS8BsR18i8TVf+zXxf77i8IxiE6//jiKtB+8MLivu
            jWpUkeSlE3nUx5/fMY6H/nhKXIznCUkxmGPZ6SdQ362kA0FPLGaSD7yH9KZd
            0K0z5qV+xKJMwBxt4YoLhZiy0xMDaY+t6fp4DjS5stY8/gueLpwU13Vioyo6
            wQ1YWKsxNzmgWV72BzR4404ePw8pVqHfOu/E+yYzOHNAn7JoUhIt5JSAJiQG
            PA/pfsAM+mefMgVy07KlYdUieT7hYrV9ePHp9046vBfSSwFvL1B/P9YVlHeR
            /rx8ZR9rO8dGz4+vLP/wleXrK7u0r4DGg6Fi7W/MKtUNzyNTFI+qeJ33XPLU
            cLTHuptN2mtBL4PeQRtMlbbwzFivoGNgwVOD7OOpPj4pUEL3xGyXzX1QAFiI
            ec9aKWaYz8eO8orvJrFmu+u2+/io2KfHR0W4SoTLuybtAy4d4PLloypuDix7
            Gitb2osxnT09/stcqtNZY1LPlo9jiAbSHmhDGYA7oKR8RFZxVUH+sehPTLiZ
            VcYrwRr3TOFbUAXwxMq9dBcWTKkn9sAwLtZem1I+OnRlnwCc++6PyJsLIth2
            Whd3zt9nXbQs8CjYJtn0xdN45i/99oCKY7OmL8ye+aq09/1pnghtogW06zO+
            /fq4CV+ELYBDJb0aVvLLCOlHbFVj3FEqG+OmcYTRRpjvqP0brisOuI5i/Ym5
            fMVfveKNTnyc57mK9icdcoeedB6WmG4cgJ0Ny+c+Y2OfeGDFC0Y6U0nk5wvu
            GjpB5ZzvQ5vuFW9cZPPlEWKdVnfFy3HTjwsnTny2h7YwBhC6R6b7oibci+7F
            D8hroBH5yjANZTbHErlMVnFL9cYtid5R+rb0G1PHeuKMaPT7gdPAnfLEXLFO
            0hvhGfX9m4/2KdeGVQ4tDalJjiax434oi3ohgjnQaE+nXkM/6SOnepWJVxF8
            wfL00Bv/+hGrOG7eW36YjAqwkMVUkPIAkSp8xn/mD3ioFx4gGlIvOXNsrWKG
            Tpz3pTFOMUK7iQ5APnKmnXjQRtsRCCiN0GFBYTx0ByjhOjcqtWhPzFsjjTH8
            Kw605SfF5D0yj7WLQUBbcTf0ITPeSqaxE5ni7Utmzmq/nPbd5lE9h/8VyZ6A
            t584ZA8OYQqLYmaDfJdnTczTX1mN7fP+k17Kjn36bms9/eqMq6SNHN9wfP7C
            8IKwov4oynyZnzGRDNqmTv2KP6Qci/5acJz3mLmHKuNbwATmJepsBp6YeNeQ
            wOM4pydecjb2mfy1Sp6RnYqbIYKMkJoTxro8vIWHuynmtbzgyNn+gc8nnjYx
            WANENNKnT9788FP+bYvcFWMKfgu6o7mSL516snSUBPiiP4L4JRlSG1Te5bhB
            7ZMu0KevWYqTAEebRqF+CMTgFkOvPyPCb9OmRVdjYltun7h98UDpzKANybzp
            gVFsOijd2XOkcbu/Hbf2NTDOWuP+8Y76gkz53J6NuXjmnjgKXrp+jttF7kwA
            racEQ/WxLPNz3LQfM8Yb6TXi9C1KLmWk6I1dKJA0gEzbyk6kOW7TfLZTKSQz
            MqScmDX243nHE4S/aPAAj56Hrj++LcpykZa8j/2h7MPZH1Kc5Pr9jgsv6POP
            uGntYxGtpkMRdIXw3OuJQUB/hdO9Kcah0AFJ5a53RgUpNnkrNpl6zuQ+AzvS
            098w+9m/oI2GOehveNj9IXdu+toKoxSoa9LLwn0wjRs8K+2qJTx/LoOSImTO
            EQ6OKL6PpN8feENfuM/DKkCRdJ75U/vhGuvid/yTKk+cMf/UhOGJCamS4U3a
            yDHULdtHk97bjHp4+A4UXSmRibJsxVzVuzeovmCWcVLyLfMP6lBkiUlx8yV7
            xc0X7p7fjKVytZLX5nLwk3vBhJ/+4Oea2mfCyHELmYqeiGNlTme/Ef066Md4
            9mtKntOZrbJWN3v2Z3Zoww1yJJfB0d0inYob+S1nf47o3nWH/a47jAlUlJxV
            XDv7KzkejYs4eccj22CkL13xz9ylx5jtwv2V9NzxSEAb7z1xbzEjJ6t3/Is4
            GFv2uV3dgTZH17StRz6cyUik3k78tFvQPz/GxHF40N+vsWFMEEaHYzy8O/Yr
            Ky+NcNGev7WhzR6G9jG8rWyfvkOdOQ0xVHZAg7YJR1n7QMzIDBrOx0fF81bp
            UwPvmrIvLMWpZ+1HqIyJosHMMkbq6buskLHKxq4/J1GPb86cfb9VMeJFB6sG
            kJsdKVECRC7P3Iz3csud7XBvPT1oPwKVVvl4T5yq9m0GKt3HzvnBlw7w0rZ0
            deOf/M0u+pqdQkQVVyMft44OPnYnI3sPiL9sRttf37IZ17fsj2xLXboAH/uC
            sk9dlHjKaLqPd46nd2KWFQ9DOJuBex5OXJHsZuRxJxbkxMUcGN2ARXtjZDbj
            Leopd3y8t7xO+zWBcSMjnDiSMc4fU2KYoTvHOtZjCzppT1/cPUpl71//D9s2 0ao= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
