<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3384</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3384</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3384</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3384_v5573</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>13188</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3384_v5573</key>
          <data>
            eNq8fVmS5LiS5P+IzF2IHZg/ECTvf6RRVTPQPSKzXpdMt0y9znZ3BhcQMNhu
            av/niAf/y/g3nvC//9f/if2w/8KBb3XwvxwP/t99hufiqY//h6/VTp7HERvv
            FfWV9xjHj//ChZs/p/0xh4DTcmyxPjXUXBM+Lz6lrlZqaRm/H/z/jmMZv2sd
            OKfgrh0DO45Ulj5DixpC0jP42DAShxj9sbXzV+DPhV8z2dkh+Ann8b6ATUQK
            vE8u/IxH2LOx36byeMbL+ucKdvzyv+/npn3+4KFVjlIujuCYNd/Vntr76DmW
            mVJO5eEj0or2flyP/DRcMevDtw6Vb7cw+icdEfc6aj0Sn7Jw3R2OiDc9MCuJ
            b7jwhzviGF6rJBzDk1f08/A930fKQeM6roq3wd/yxLFk164bxwZXCMe6nbe4
            dPhb4nk3fuP4+eAYrk2nH8M158IxjD81rFLUqvSj8X+Pk0CIHLcOYfHsf8X/
            F9dx4+KRH3wxSuNUldtmNh1fxx8uh6YK/4Eyv87H5ESb4p/32SsU18/jedh9
            2vHr/NNWvv0aT7y1TMfV8fv7uTEMI4df52tqOGk/j6fei87/NZ6wlihvrZ/v
            dWQjyPLr/E138ddzw4ga5+3HbY98/lu/x+n3Gbk/PHXvdNtCIY7+Oe77WleM
            Zcf3FVoq/O862ilekrHD8O79NBKI4daoviY0GSv59WJxzdu40a/jcy4d/7Uw
            M9orhF8THS57s/B74q5Q/jZxvXRt6fjr/j0FTWj8k7B0fPwiiHRnHV8JOxiT
            VUvIYbSeHmwubLcKkjtyA59pNU8wlR7HMQMJRhxBFz/1fsipxoPzryCS5JRi
            gusZMrcgPmcUa/Ydl0J8HszaedzkI+AaEzfp93nUu/Ha/+rvxl97vKr4ETcU
            mHsELykTp1zdienf/sNKPQEMbwQjgaSdMh8IgOMf//OL4r8779/eD3zm3513
            /svzrv/qvCyCAIuO7fwfPDb+q2O2fM/zP7d8fNN4/LsVy+nv56RlJJBD/svy
            1X+5fPXfLd8/DeL38v2nl8rv0n5N9/+HY72KveaQpBJ0W2b+8t1p+x3azAoQ
            kdCVOKcxghW83yCb8wlucUKVOiEuT/zlLPhX8Q87/YS2c0L8nRP/eO7CP6h5
            541/4FJUF6DlZOgPGbpBXrge+kCGLpIXroegyhBueeH6hesXrl+4HjpEBg/L
            YKMZPCtTvbtw/YXrrxKnkUChFMcB3OzCza4OBWhJ7mZj82J2+nWv718px0u/
            ehCjLpwN6m4BikE15gwuFqVWHSc0GbD+52kQVOB152pge2J/PRg77VAvcX3D
            mGd4bmqE+bbred1szwOu3Vp6hm8tCo54Htep66Cnxfu5xOaPXHld7HgmnhPP
            5+b38nDlIJEDdKMRVorh6gNjag+ko2Yi9Xy7AolFOM7ygw47LqQO0O2cDq1x
            RoynU+OANqiR4TbxoXJ2+TWXFIZcTSO6IEoS2b6Ers1oODPfsQ6QU8DcROje
            z7P8eo6hlm4bjtffFc+s0gfnnp9RNa+Xrc660+mr80h96qa4UDri7heptzoX
            qJxqEIaGP0vN4B4pXCVxyfbrQDFrndOk22Ml9u05uL6OLnLpINgnY/EwuLny
            Z/H24Hri+ePMTdZKxWK367kizj+jnY8lzTFUCCqKZkhjKNvVf4POcZ+wBgjh
            uajHnEvngBYfGkskkPhMfeZ3UbEdfSExtEXi+LGoOudcOZumcvztnMqFXyAn
            mRYFCw8VcBQufLdxNxJLxYzhrFA4c/EEfYEWZ6cinEmOF34X+x35e0D9mXEE
            yoPO60AruPeaj9T9wOsTX+6iaphDBMfuIODG5YQaz3ObnXvUK8QYViRhY47m
            fFo6SVDRVD1MOMZ4BW40kyrP47pAO2x6LuiXpt9Shcnx/Av135UcItOwweJN
            7mCaofkH9bcP9Q8pUGQ7mkcQyI1BgeRqBpP82qXY4Hcb4gqcjCQe26+6r0sB
            19Hkve06nrtunsuHBrCfa5pOneufC0hCxfzkEvc+iMV2UYt2P409PFCk9y66
            ci5O5lQFwRtg4JFsoakt7k/a2tV4zTg5a2XcT+gjgOcs8bZGIVfzY7sPFHZz
            e3RtuPo9Y89nxnhNSespm8fcWW/JG7Tva9J7TeTQ68pPFS8keWJmZP1lv6ZQ
            +kD4FEiG0gb0wIGpqsMtAg0whlDJnMMouYN+RuNbZug0KfMMbPRkA9EgQYVt
            7X08aSrhbzP/HOSHFEhOoV+UdGYaknne3ClhgZ6lf5iggJJvnGfgxSf2eAB9
            J0oy3AN7ArTSChivPikQxOZgbK3nZcwhPHIOlOj3BpPFcbAHmsCn7g/rooOE
            2904AxQoYd55Ru3xySV5JgVK3fc4fBwcW+Oi4nfEHsUem7g3FvriZ5qcC80R
            HlSn5giM+5m2+Gff9/tjIZOMz9zivgYWzRnEc8EBRYxn5v4mNZsp/9BXAQI5
            14DgqOEVHE1218LzSRQk2miEdOZ8bt58Xbk6CdA9RIVmD0Yb4i4dCpEPJjsl
            336Dg3/DpgEXavucvp5ZxZKgu/AhmzE+ZNxyPfR3Is82CokPMjpCTYEwgBbC
            fU5GiteECgVJfR1gqCelHCawydUCXQTXb2a3KhZ2PHdKtd+pUXCkyU/QOZiH
            PY+qEP4eaemSPdCbQzsYnzHLOsTWpdIi5hrPDiEDoiYZcBPcWBbZ3pAUvgkK
            meroU94RSG/8zYTfyPbuWpzpm0ALAua9gow72qBQSRbvNebn/FRw/gIR9a0d
            xfis056BTXO5dgSptjb/1HXn07FhW7y4IUgY0D1h2u51OakdSXPLprlBrtwd
            QhNEcxcjgQEGApv5mbxpDB/5z5OgK07baTGPVe99YwzqCXLe+I0f28UvZT5G
            mZDK3SmTgyvha7eenDg6nrrdg7syN+1sTho2YEmbcYMditM89KM5FWO3PnsX
            DfkkZ9qGU+B08C5tYrwcNbSZ476xr8jTwC6NPww6F1aarqgGmnP0B0Jk4jd+
            UndtZ977S1PTEzXyYGLH3vq3yIzQEyBI+NxIr5kLgNUkMkFgktNQ7Fou7xvP
            SmbvY4UhIDI5yKKcTPDCp8Zzb0ETz9ZL1jWBhsMjl1DI/hycm6DBdYhaPs6v
            wTYres7jJDC5lrzBUW2gYX1uUA+7QY4iBd7ggjXS90PrtKWJXw/FfR5eM8c7
            0Jvq8J4Q/NNzcv5MCDTcmxMyPiTwpDzvbSGk20QW6Du70mhk0PjAvddIAfU2
            9zG9OVII8cqfsV3QxKspqPuacPb5CrVQbeLvbs+hnoL7dCqYcmXZNRHq3bkX
            Kz32HEiEd7GyE8893ucksJGxr4EuovcJXwuMcdG92a7zfQ62lXk+KfCf05h5
            2M/BMbxPJw8Fx3iMB6RyLrOsuHMjxm5Gf6u+Vcu2zK48m5HAeS8Jgue8UsMg
            z9pprl3NfW2S5KmmdZpggNaPkS7b8b4gz0eSc9Kkwpi0PMQP8sPgw/nj+7tj
            Upu5pi21yNi132d+9uTcEAR4oXbdIhBydkzGh5/c7ge8ll/zxZNmxyLgueQx
            2NrdeFoadd19K5uQ/Cd52j0/1ydntDPY9QlvTCU0p3eBoL+AuDgnjxiudmD6
            3gy4FgTU1qXnFvruIaHP/a6435RpFz+LCuXQNAR7Boz7+9rjjNPMz9g/50Pz
            GVKks4iAawUWBkEQjGnhnUeQW8HGxXcTAYBotjq47val7jwysw5uLjzw0W9I
            6JzqyWOX1JqGOyfMVxZ9YYdwAgZ1EHADV3dAbd0ICnozP8Ep/He03+H235f9
            zilj5u178nOpbi15uKEJ8RzGD05pFSdlUHzsvPx1Du43A6Q/tY1CnQVaQJrQ
            iU8dP84g0/E6KahOzAOlIsww/SbLviJOg2aACYaEnfg+x1FfTWYMXccYHdns
            wnt1/JuBpmvQe87qpuWiM9m8+KDJgPsMERm0QkXosNLyD4iN3FzXqcUN2Y6P
            bL9BsIzZUAPR7w4DUpznbFLBk3+GYvMPO7MZh7XPskxBGRn0dZvuB6nyGAlc
            N6UCFAJ7aD4UNoLChKfdHFdcpu93vhf0+TPq4Wa2HN0/w7KXCNk+u4c2Dn9o
            8Pvv0MzKdt+17PPy56zuv/P+tB1+Lp+sy4Iwy39DKZQoogFdcquXTx5eV8eh
            zuk+vkCwy22xGOrTdxDLIVXRv9snZ1fq4H81LjoPsQSPvIK+IcChBg1QyORq
            0YWzYMPIlu+JkYgIctWWSQzgzQBjibYHnksnBlW+aN/52f/pd1zyQQ5ee1KM
            QiXEvTr+LSpH+Bwr2CfePfITsi7weT1h3NlI4L6w+Xlw4WAQC5JOh0U5FdiF
            sQPKuo8/lZ6MPUqX5iEvZOsmE/Hizyt780dl82vw1lWRwBKkS58mr3vY14Cb
            P/N+ZS9DpKnkoqg4DEIqddosUOF1DRgbTF16HKD0xO2E0nXQHSE4OT6osPMC
            S+d1t12nbUF1NZ3HT8s8l5u+G15HX5orWXf+uu6HQadrwN/pArZnjWpyGxsp
            /oMReDImda117Pmr0Vj25KbRXMSULgauwd1AQLAG+3i+bKvDjFKo5I3ECgZ6
            uc3Ce3dwkPWOh7rUIuHavU1M5mgk8Fx9TwZZYblf65I3GnN9bnT5jerq+XOj
            z7XhvZacJM+0VtgvmA+8IB2Xhw9iQGLhJfEULlsa2F4YYioX7oLjJxSwUwqq
            JvgcHE9i4PmxYKui8b28xBa/iU0TTOktNw994LTYOVqwQrMG8giS+a4c3Ume
            NLP2Kf6KEwa/1wgJiPH0bR/Bku2feYEyIIcrtERTuiCOt4XBeXnqM/VZnvmx
            LPItxTv/o0OrmXHV5n6H6ZbFyt08MFlRoFb1/K0/4PWcgHnN8I0JrtneTea2
            VDW/QMC0fz+0hLqmdn+GwlKdmtPqY98gT0Zf3x1QuDdBcWlfAzm75Hlbfe1r
            bhmRm8PA2FvTcwsw79fzM2wuAiqZdLyNwgAtmQTUo90Ti3VqsRh4602Ci05s
            POesscqhreCylMcCNrxswejCbsbCR+1uYTcRMBTL5yXqsJUyjbcuqgOcVPmP
            av/TxVxMqaUr547pKSn9WlCe0y+6figugkxFubDObuOQ2yeP8RrW0DpgecTK
            EHLf1lXBwdE2h4Jh7Zy3X2+s4Hnun1ytzJsc4sPVhnGoYlwASrzUkH9wWHKB
            T6pA0mJxA6VfcIHzeDVfst/DqJDnr9pvO3/Kl3bp/Pk5f73nM4WiXDN/zr/B
            /unWhux5Ndi9U1d1BXXGSOuDPr/j3P69ct991P2iJT03xf2Idp/tSsFkgsTa
            LYUy0BssE3Hw86w7AKWJw81vy0zAuJqbmAVi9fs9WpESeRmx1aPC0P9yoUuf
            KsuuqUe76GuudOM+Ck49c4H4jm06QhRnz4aA3jiHPbPOzzNvPrPisTJrI+8K
            pbLdm7AwUZMZYC3aNVCJCt89BMURtIvkLsPmuc0iCJEZNL2LjV+V/qn4W37X
            dNOUcVk8nA1DML5sGNRou1zX0E9XYcFD4SDrTiKcwb0DaVa2gkRvQsfzFAUx
            R3CiDgcbCXwMOxwm8aCDhhOJXQ6LrcE+vmihBEbqro91EPhS2KrhkHLXD9f+
            7dMtCNIczs/DfydGYyVzIVNT4DOyFPgYBhkQtXsQH98rUwxJHzDlfa5i3HFa
            Pp9xglpApXLU4HbrSL8i6b1wXupJfxL9A5iXmp+R5ayyeVFk8vrt24yikaN4
            4CjLVMB7+ntAHxYN9HyGLiuKCYNh0AG+nj6WnEmL1LutLJyn5CAjgbQyd+TJ
            3DOpGEsv+fjL7pc23aBC8TiHPOmXOAZtH1xpL/D6FunEqLgR5d/cnvzaT7Ij
            XktCv40N4n3LjhBKLFD5ZASQvCTRzS6TzZ2mFcuXZcSOIt2kS8HrQ2KKtvxD
            Gzk8s04R9ePXzbk+161h1+Vo10W/DmawrktN1/F9T1jm546CygEgG9uu0ymu
            CzUQaOlvGJuLjYkt53YKN+oiXWP1EBEoPPpuhKjiwt6JoULjTqCiE78LncbY
            3dPHc5Vjtq2DKOi2KPNNzuv9H0U+hmg+yNn9+Ea+S/drxdyevix3MFA8Hq5c
            vQoDVkkKjMI1Ytf05iSliNIZA9PuJruG+f7Gu5PLUUX7GPNm2GQ8J50y9EMY
            q8StFyidhEC94XRWWT/30aQ+jHWdcqNM2vH3ZpVgCn0em5CU5UdWucfhRETC
            SSIcKoYtLlj9+5kPwy8k3MOueblEY2jWn08nkjgTQ1WXxoAJP/nJrLuPwgx6
            YQKI3zu5wvy844kpnq0oNIUdyevPtXWUBn5m6azkCByZm7PnVip1XcN1DANB
            xpNrUgM0ImtQqs5zb8j7AifmZr39+gAK0z3oYbR7lZNzU3U/iLcOEpiQ3ozf
            kc/EwD/o5e0BFezoZVn9wq7lVFV7gBQn7OsjmAITTo9ZMU8A78fBVhAAP1va
            8rq1sc61B003VVCEwu4ZFLq+tAh5uIeRCxDlbtbALw9ZYRdTlFzLYp3BFwRK
            3Dw3gRRMOhfkXj4pxReYpmA5Fwll3HuXNCha4IQ+tnWY0hTwRt96khYD3K9Y
            xO2iFwvshAq08gQfLeIy73tUZgkjZnnpf2e+zPzH58/vt32XgxDinEZRpEXI
            UGrqFiIYj/YYhjc1nEupAknZIHQzHArenHLbkv6xVx8MOdP9UaDzybjOZ6SP
            rWRF1yB1q9md+k3/nCQppaEik5JmeEbg3xuzoCBNwoK9mvLh1zALKvj38PnO
            80L8x/O6zo1+LiUnvu2/Q5j5dc3uE/DAx/6Gz/PHPT/fb+aF/nqO3vNv4+P3
            etbGT0U0W7hgwmSMA+IcxgS+j6FxUUujByunO59XYu4PLXYfu+UqDchT3g8m
            A9P23fseB6WIe5V50ZT6Qmdlv7G/7Hft/ikCuG/RPsxkO5dqP/dWkAQ8C7hO
            lycf4pzfoe6M1atoe5DZMi8kj9sygCzp6lwm5c/hSViHhT+hJ5nbYi05G/lg
            K1WYcoFA09E+eIYlRFWKATmNzDmJHdC0T+7sHkJ77k7R7j6OnYLdu/3uyz53
            yvbw68ptZiJ2ld2P0UXlKtjnOOyz+XFubvdM2u9pz2l+fs/2CRuxWOq5/d6p
            5sPHV2OolnHs83YlSXqsZflORU/DrP7m46+X50d0my8oFtE0i2d5JD5OZb3Q
            ydo94cIn96aU2XaY7D/LUGmmJ0uUMNcQdAUj4YZSglPI0ECvF92fIZZBfnmW
            EblbzxKYoJkhWZbs9DBKlO5XU8wptlgmWNaEuRBAGcp9BHdgkQJshj5ivO5y
            peZO0bxM/33cQ31QjTPJJl/U51Pj7RQ6E7wB98Z3JSneYEED4on+q+lJH1Nq
            TsUnLHqFNph8kW7LUFT0R5/hO9npswE+z5c9AQkesm0U3BPsX4FXkFG4AwtJ
            bnO+vs7YQ5+8t5y00E/S4ufSeYHXQ3jcFHD8nuiWou78tQl7gGnPRFdIG1wH
            vTrz+i5XEKwwjV15B8lcr/GkCL7fgcv/4xTT6dow/w50U5xXv5R8Wm/FfkPi
            1MJFN4/y8U/3S2MlS0k6CwQ5FwJLz/2SExQTUApU/VMDL1K9l4yJoEnHAkHc
            TvrppY9wUcDeMKGXHJB0HEQ5gFejcAt0ukCg4MUTFpb0cZY4I13KWOCIxZTz
            GoSxEtNn8YnjtV4pwoBZHccufMftoaXNdFy4Q1RI7iaB0CWH+4WOT4wr4BqK
            RjHHmWNsJBb7XjDpkfHh/DCWdufbxnrK4L6bRGvF92Xf8VCoK/a98Xu179fJ
            YKB9hzGFVbfvTBU5r5sBcCzBc53TvjcM9mz2fUJVhSxvA4b1mfA93NCCjAQY
            oNDgYP2tedtNYXiAyu4Wutg5NzdE31VCk1WLtWIJFb31lIHt6lSRYAs8F3aZ
            rNVWdiyvYBcF20VcTAYgmd5AeUKv2SktjylX1wVxqt3HJCtmUcjq1niYwZLs
            e1Laou7nwVYjuPQtjkjl2UQRCbFk+XEY7rGw0IhSnwL4vSelGcdg/Cjm0f06
            sIrL1cq5iZdZQjSCJqMA0JZprFGdTNB/YHUNjkk1VBWWb3XvPVVGZkXmDPJW
            FlCqiQwmQpPLSeyl+fld56dIbmDvdYmjZKVjHfTELvDTtvL2LjBOToOwNQZl
            ux2fDOTLCRw/+hLuSQ8CJqS3epm5BW2VfIiyWi9NxZCpt/7AwYWoSrAXS4rM
            qcGYyzxbuk9yInsgtNlG5xUWmU5R6ucNLw/JpwVKE+bgDfMqK40Xmx27gknI
            oUnPF5uqTfcagXZqgHEZ4uZQITaYJniDdMOqPKUMwpLNaTElHJ+PFcXV8pBI
            MQ2s3qvc4dgM4FAp+DWYPBBpolJWxtfz4qXo+6gwrPIzzrMOcTvaLHgezqnp
            xDlQDqC6VSrAd2qnnMDXdex5qSfT1SJd2vj/vTtxc64WM74oxDF31zbwZuMC
            kV0XhlnP1u29tGGquFm4R8s//qaCPLzHEy0wj+96OV03GNHI+LfS466nQEJq
            0QPRet/C6HcyEriX+YO7qj2lSlFeGsVxQmDgnBla0K3CBQtRaOBMB56lyDLN
            V8CELE+gZD0dHYvrSW2+YgP3xe8oLT8oQgAxkK2iES96hi8CGy3Fagskpwc4
            EHcXs+kvEA0XwiP7x8nkZyqeWEASFR0N6aj2PgnS/mD8qpAW8LxwixiTLdTx
            SKaH1JsSV8L23fHq/vVOhZzJxB4WsOzvN7+HL0J6bJyct3gpR+N4ifdssfGf
            efpXTcpiFJGVyVAULF+MzWOCH442lnx7wxU81YiQozmHOlxBDt0C0JvjXa5g
            40NejXGfrMcg09D9Hsy1kcAjh6kdrPYpdseIFTgBs2DX+bCstSksFTQhn0kk
            QYA4xi13wJ1+WQeMFoslg/WsoBKNtdm0IuNZDkNFviF0Lw5y+ssu8/TS92cv
            SWvjyaRuGGEWicZ3sV7e+wxY/JvkAP2YWTabfeJlwfcmtkvBToCZBybQLZhZ
            mdluGa+BhBsZJ6uBhhXT4kncJ/9OxXAw+YrZMAMcCzKk44HjZhbpxXiSIvny
            OOA1WAIyT9b8NRoDXJJE91iDaVlGOPY96YphqoKOY/3feS0sr/wQCZNhlPVf
            LqVMnh3PhU1eZx9SVPEeIKDhTmW9EzlxYhQCnPicinFOZiCOQ16REcwvkBhv
            p+KVWJ4AizzNCIPlLBcVGSljUcpg2oPQjsi2C1RBjptFxc2gD3Zlx2Y6YfPl
            E3C49zgykUpKc6V4e9koXhBy75Lyh3snlhpwUQqVqyitvPdnfO+Mq787wkyw
            bMTDaIuZhjG4A9lSR5wYIdMGk8tJMDSLAggTx0SE/BtTFUiMPzbBhEijT4ya
            IxcfcwS2beKLC+LcqYzn3N9H0Mz+2AwH5gTGdVjn6+djndb03KLQ93G6rHAP
            85+Y9ROZpVtk9Vg5ub93ZtTAvfbUsWYlkX7pDnjcmCB4iZpGdwK5lVlss1Ad
            7FimM23KOaAni3ouxYWmXgiUVMrnO9Nu9/e6HgUl26ndfYc9eUEKUdAEnmLd
            2onhhtbMIHEqTM+G0mbxISp5lQ5JyL4bMniwknjCnvSkLcq2fe6OJId464Uo
            B5WLjE/8DjB7MQSTre/4mbpcOYeRaQ1Q9mDNd6tEYpbgFbVgmmzIjOZ5N2Kn
            weJUKZYvSqKjg/FwUtJgtdnMJ46Z54w8AAbIOuuUDGtQakbGHurKEMtiH9o5
            61vZKcwsDk0KGeS4eHbyDK4n24pvHj/889VisQQqJGzmqKRW2y3GYvbpZXn1
            aVMG9kplbAfKXklK3y4Big7rt5nHrfx37PITlHgyOs3YPlO3q4qiAq2HUEyj
            ZwxD9jPFAAOVzNt5/DwWTDCtOt+HMasMplUwAco/BbPxZ2TTmJkug2Ng8dlR
            Jy6FH65Lti/5V4me2EQ9hNfSSI7xvSbHG4QSPIaV2tD30+xt2tXM3SEZkTAn
            U0BdEcUcQYF0JQ3GH4tH9GwYzSCBBuWDueLPTYpihQe2VQhVSZlHYboCdV3G
            Slh94i+hCYqYjKU0ECwiTCqmFUo2mAJlgURQebfB3XhZ34FKC/jBSuiqvT5m
            Din2yVY4EJkNLoXB2MXDnDv+54UF/NoeVd48P5w/zFmSh9mut7Nw8S8PXTbj
            IaXLdwK1qsO1MfvEmJOV0nBn9NtC7apy8PQ+SgFLsj9VACJ/J51LCpHTXhwQ
            ZkonMzkinX4ECRCs4mSZZFF08qJJUe87vqr1EEVD7x3yi1Jjg7YFy4uOElOj
            Y1IcisHy8eahBsUmBjW02Z47RvDJKzIER9Y4IQwYPp8eJQ7DhS32NJYAb0al
            5CwS2Bl/hxnRsfMhCC+waIxtxDNdwkHpYUrzhGDGfSrGFz/jO3x8TLmD+XF0
            j5i2rbQwMn2ZRt09r1WfoHT/bRzIP6NsaXfm8B3/xTNVb5zsPVnNJbkU3WbH
            Y4wEWPFrMRE7ufgD/OUHqz+PCzNyhxBtkoOfz0mGiXrVyewqSlCFXnu7tBCJ
            E8dAABFfKh2Oy15wdGZuRx7Ti/snn8WoShYR4nfdpTm4R/VkYKtnGtgY7fBj
            ff/t92+MZIVpNZXVE4P98/if+l0O/51srP6p3/G67TjPK35e/PU7/Pp9/Pxd
            np+/A1Q0uj7FT5hIfoIGJv3o11V8HtPt104bUzEWSnsZn7d94rzpmmOhB84C
            AzjJvEY9L7+o+U08ODCx1ak3ybUYLlfB6Q0qqz7kj5nHoATedm4E7Twx9Emj
            /WgqtMB3HM/vfUCcYAK0nOhEXUoh5vfOHIvjrofd9+h278iM7/pFTOB/13Zv
            HoyuYjzx70SlTHAnquAZ5NyF9FCnzb79eFq/fp+/fnugxeRS3XMIJcd/91+/
            26/rnWAPn/uERa7g+NUThbf2ey+z+67lgZRdNuYJ0Nm1487odP9g51S3KzfH
            Pnv3RCK/z7otnAA7VoFrj2Lo4ua/NzDNjsIsv/mOumxgnB2V2cA6O/qys7Z3
            dGZnP8cdrTn2p52X/D47GvNGXXaUJv+MwuyoVOg7KrSjRf7pf497vB6lOT0r
            O3ebjNMnc+2s7fwze/t3tvmbzb2zu/3vIkrnAsN3v386tMCA8CGbrzO6qKQS
            ZbVvOMInVAU8lmxCJqmn2l+xCA1uJ/R0KU8D+oa4rBUrKmlHimikaNietusw
            T5tEhNSrMegkac4FGnUcSxax2on22EvoxKHaPRhs9kL7pqYvMMeQ64N9AP0T
            qqD9Pbp7D5+T2GPfL53spWFr9bb1jeCeJ1ZVEueAPqRgBnkz+UYEiUEnBVQl
            VmmOnbFV6aWCvsKsJpYlz+ZAZnR/Tve1umtT36s8WngiyCu6yWSipTOCU+j2
            LKp1b1JxqotHRp3qOMWmaXvQTzsgQtMwJZB6TKlBrlHmjrq4Eo4HfeDMQnEu
            2nqNW1YnxqN7AlcM9DpEaD1QPpmswSAK5x9jfsSmR4daRd1KeEk4Lp0feldk
            fH3qb+AnIDoeZ/5L4dhIICzbhsk+6wArXnJTyb0ZXRdQWtIVMzXeRLAa1g/j
            rSMRTXI6GTKkVx9SP2cXE+6o52Gw1s507ZN1DWHsNHPMYA13AROvTcocJ+QQ
            sElTthRL/8qpyRK0yreDACz1FFvtbcLOW5vFaqeY2WPOLidGFt2QYFSIQ9ck
            fweJEZp6UPzNp+qfPTkhy5fDXYSFT9GulQ7hIiC6TNUn3js+H82dRjqk2aJY
            onLJce5KNhICE0eojL2KqutOmOAV29YbpJRK4ca9pkTqV40J606OYKIKz9E7
            iMimzJ60i6MI0gWiCrgfrCvumCjD0VIqTRk80t4Q28yNZhvXOw2m7vClNjve
            wezNNqsXyeyiniubbzP678DUfsalORdmqshcGQSoUmaV3XfLtC3ruhf5nM5e
            MTcqr93B+Y0Td+b9d7eIHH/tlYUu87ZM3LIydCsuauY0T5OIe03xTDNdKmOi
            jDIQ8iHC0AfxywlemA6u0E+fuzgcJ0RziEv9V9YPcxOdKumplpdjchtq1YcS
            KL6OX/s4NO6eLATH41jpuRFLuDtWwypHOi2VWTTkkcF5JVbzGVoWbv8+3ypM
            tUvq7LC+BJWGMYdLdcNhX5vsGkb1ed1Tnnvenbr58HoKnFrJJmX6gL0mns9U
            POzaa38PRFgQDBzG0cmOcT1RT/BuFden0wrmFSQgKEd6bmarrMAQCXW765hb
            xtHkxFiuwkJ+cIb1nP4und5BbBZQsI0nglv9fla8fz5rdrwTU9R4DsOSYZPA
            KQOyZ+UT24TLV5laORSIbnRiDsnEbAt1hK/zGYhuiiXqAXimXcutOn2Co7KQ
            9ULELOJ5HTwuXK9cC3Lnj0N5+oHyauQ6LqspFJuoDt+C54VmNXL6jN3y+yGb
            O7Vqy/D1cQ7Y/CwGvlJ65GGRG03PB7vtTFEn67yFCzRmpflEjRcX1YaJbJYp
            Qffmj0iGOf07WPp2WjAJ7VtbhepvFd4ed92cQYiP4gD2CZVbOY0sQZtJ9yw7
            8wPH5tiyFwQh9tflOBKqIOcOQ6UiQ3/DLCrL4zxC58BcDBIcRjhOjwaRzEkz
            E6w11o1vhteNglaYUEz0uaLZmBChTPcWv7Xv9fj9qfhqtERIYX1IBmJgzQCl
            fqaXnOXNE/w6TtkBFpj6sxPu9vd6fH0u4zrKb2RQ8v95cjxsx2D5QSyhvgtm
            ecBlaHettaePHIT28qZ8f8tbKIms8zPtNrnSaDb9f2cBweSu0prVLO7oCT1o
            2tHnc1JptAQCC3XyOIj6bNG4+D63g3uwmhqTOIM71Kvms7k3mDG4Qy+mbJ56
            +WSTCKAXkrz5u6T/xqSzLKVc0Atd8Ebz1hRf4CrQUHBpCPgHTGCpXoCmAhSn
            ruPhpvczSAHjJ1QyncdzIrmWbFwqCh4yk4PawaZKYcmze+XogaOpwOzIOJ8w
            ViPuCt8Xl8QS7H3zLc9dN1heetMrPc3KNYiUwVyQEiGkPdODWuKMBKmkjGPE
            n++pfCz+DUrldPMkZ1fK+EwyahbmBfoEJm10BfyZbpH4zGeH0nAojTsol4Xx
            cFgVdbLi+6YX9uTrwl4nhtuk3d4XnY7MksfczHJRBIVUmH0WKHowqdhIRgI3
            9dTOGLyHcxLT1Kgeba0MbDnJlUmVUnJOadxxYcLbTbQWabGpb/xkVkoRPdQX
            3O9b/TrodpnaTuNvECWmEqyHDvixHSuHxy3xdNt1ChrTfqOWi+uYm0TdDK+z
            vrMqLYWfm9GCx3krXsXOY5RAOWJM9WEWZ/fzs52fun968Pny++V9P/979r+P
            Xb3tpehbMTOXq6qvo/3dEZ6ZNMnxtKR67Cvb/dthqQu75BwSzq5b5ts+/DmY
            oWpZm/Z5+fjDxnf18cZsz7lcPNFtNHa4j0mFjeCIyx0gj5AwMhO8ii9KSvW5
            oKNqAbLSWVTvsBeB9twMxiKfSWAy4melpODxJRkMFpUYtZ477Ry0vZLtgq6Y
            PRb5GWZbMqHvqbhPpeps9wlS12mHJoJxd89mxObh7pVPeHolb+ssRwu2U3C8
            5e/fKbakHI679akCA7s/d2ccZ4TtWXobsmGDK5SHjZf5p6CSi4HtZnA3i7i4
            IkTck3Y9d2skh5jCaYB6RuPO54LrDB6IY4QfYAltSD7HPxYFZmXa+VeJeHdQ
            mQYt/oPpsbfFDgan4uUWL3egD+AX7gN+8+9Ldn/ls/piWgkxObmDqo+7WTAk
            izuR5RA0PEo//8qa7JeKK4Wn8zBHn5UjYHh05zlBhPPezpMMnqQJOZlVcQmp
            iP6Vbo4DsXxhCfBvzA4sbk9uf6802nzF/UyVq210FLJqy+g8+HzPg9IEZIqu
            8tOGfraV81gWhYFIU3wOKYCscCrMBaaGnVl+gPtMKVBSdBnooMOCYw3F3iNb
            MuGhT38PwveItfO42+H7PWTnP0KI0nuE094jXfYe2cN+spPPejO4DeKk/YpV
            Bxf067NfT+LZY2IxJya8J8NnkA4FG970N4tDCIokPl/rKX/YkDJMDd5IIAQh
            +JCJJB+QUxxl0uRNEqusMzFUtHtZOhE8H4psKh8qXCIA480Y0o+0W54X5cDI
            cgUyb0o5UobN9GPRYPyP9aHuIGdMVYTGwO5oyqi2T6AWFFNRsFaUOtN83cGy
            Cc1JsT5joTnIzA/oD+eivM3c3JUJLZCZzKMj2AXTN+p50XuAzS8xhr1NYpfT
            IMmtad8hmR8iyPg9ht/DnCOOkM3/LryFi6NX7Gxxk3+KnbW2WDAx8OyYpzsU
            crHzdOB+ni0mttjb8fHlHCCqGsuyU4gjR5s7+/wyeznTDUpqpdfMHfpD7Csy
            pcNkeGChJyHgqBhhGgvdm4V1X0aJJT9nL0oIoJ08qStk5vOZ/MZIQLQpPAGL
            Ltch9BJlaRQl6Umjpc+B1UBKpYlOqcnr+LKXlRklm/uzmmaskCdL3KMgUpTQ
            9q05t6Ddw1zhkclBuhPS9h8wfn167hMRFLPAM4fq/HcajkQ7+PIOUPhn4/5h
            MgjpehIcdhSDXdU2U/YcJrHfi87PwFWpT1U82PNkTmY3sdwXNqWZ51l6U/uk
            OZTUGdYHiYEKma9KskzGb7p/HqwEzEcbilVSNwja+YSwoCfh4bZmiwl+0k9m
            NWeJ2JTEi72i1HrG7ximqTpeq6XuswZZ56XPeUJQWEpduBnNozjEC00eK92u
            2/e/y8/7W/uKzz1qfu772KXCds3V//M1pdlzb5ofNUzhui4LfitIzWAs9F4a
            5fRMGUCAAsgXzwPVEtCEJQMz0iPVpTETr56wXE3n5M85U2MBZVPTx1iZ4T5l
            b1UWcU3m7dBND0H7BInXQH9k3OUfwcufr2zYOmTTViTqDTkCa0wzSYAsirG9
            5ymW7p5z83SDzMQWSUnbd7C2J6sVdGxUAT7yuCrulOZdRQmwxQJsfalRjLOM
            jGm8ryHGcFph93FZnEVJns8jCV8ZuxzNkXJx9hKKJkiYHklPWWC28tn7Q3vU
            M3i1l0CFWM9N8sebTHsSj+Xv53aM8eTfplBylsbJv3En4BngII9yAfOV1s5M
            Dork8zeZ2M0EW90zX6Ianh/vS9nKcTFXse+9TpsjsrDw3MfOi7auEALUUmZ7
            2/HmIViYJRDC4PTz0wXBhrnnchdsz0Lnh//t+vpbhXIIxbvcKpTJbGPypL/c
            g+n3mNv3N/YG2fOVS0umvtyKm/FmWADTc8HACpiru9G7qnMwGYShIGC0SRmP
            iK5PMirhWFcicDVfSClrjVnAx44bBbPWD5emdFhJpaOHHMbXQ69CtnM3dphb
            4q8032T/uFddeX0DBiUz0IYnvx5KpxiKpFKN6ZYgS4t+xXZCJTPkr9R3Bf6b
            OBR3oU6W3ARNZ0dH8ExjzyBW4s9FuJ+duBO8VsBdA6vUq6vpz2H4n9mUcpb+
            E0Ac+iNzQ473GCGX8SSoMU9yKcnklOR8j+d0ArozvTvoGHFe6ZUlXP3HOr5+
            XkMl21O5f1w3JiTc+GlVv881SXZZJfzYTj9a28n4ZmEcisWUnH+mpYMILkwG
            TRsZcip3o+tfro8WQzO8kHFcP8fKMRbBVN8H70mNnknEYLXjMOme8D183+cq
            ihCoKJlEmT3ba2y4WG8aUD0ptBKBv2XpUNJn/AFb1yyspiVvV1XLqWCQAt7b
            BXEvvGyvr+HAQWdMLI/XjQuxjxewsyVEliv++lsioNIS6Nmff2v2t510+edL
            QRswf9pOLpJCLodhMx9bcB1V7gIa5PxBr9qpYjxtq8BVhxrC0HJjFmXmPMMs
            3BB7qtvCaymeYRStsC2VPE/StMRB7T/iiDGc2ug46n/9u5c3TY8tBCqSnit/
            4a29GgQDM+qUBbRUumc7g5E56mIee7gGS+RsktqKBp/Dgt5AyK7+IpkMkrTS
            baO2jlyZRCB90hdUezc0kUD0HcZdW38hP7pgiYX57jm8ZvNlprIyM3V1ymeW
            QUg6hH3soOuRe4xQowwA97gevOun0QFxfIWgoWRAqLpiokVpq0TPNTHdl9Mr
            e0ownuxpDpFTRZhf6K+Dx/j9SFR7QcTkpGI2rK6iz9R8dHG5NqkUIMa66/am
            iP4qHe0cbIRQe67Ee54Oh/k91SC+8WYr0hjmpNxGKuyNxahLpBq/JA1A07kL
            ETKoGGmKIcJgHIM1chiXkt5M1adIZZUx9yWDVDrOUoEYPRtyUIr1Ym1/Ln5S
            DybEHyl6M1NCFFesOcsOmC1/gfHAkJqUPRMGE6mMu5+OOypfxL5mfi9xy5mf
            O5ZBdTxfmeNeBdiFvizftYznrkQxa6kir2ZgU6MsxErDwmPQmj5vEgpE9Q9p
            5vdmiiu7brCm2LLeO8U006jO862Q4r45Gd5pZvNsTz7EbmvCHfuEl3YTsV0x
            PUwrNIhqK3JSsNcLZVI3mEwMrxiYjol5L4vJU9gZXPFs3vDA1QgTA1sCmI6E
            pCUWPnt0UIzJEz4cXu6i/0gbPcjKx0XetkHMYpH1ci8mC9zKgcT0SEcfJ0pT
            UB5G3M5inSKXkaGL0+uSCoZPRjGpa2BjTDufWMo8XykASn3EuESGMLro0E92
            nxh5H8ua42fA7ydYjPIeVNRw3O6dtAP9/ifvn/3+zBNhYpE4NRbkXz7ndJF4
            V+GCXOQUnAu9P+tLPH1BbjL6B2m60DOijHZ7/p5jq3BWhVnTQhe1CumcG4nR
            QjQhG7vYGefSA/JRqOS2blIDIGSIRcJk+aZ8E/IPNnqhNosLud1ClWa7bibV
            5g3jyLp3VRA933E62qHLStlYz2Bw9ZlZ7Cnf7pgNNglYb7pChM9wC5a+qgLo
            VjUBdj5sMUJVpBBpieuzk+8Wlh8Eg6snDwdrYyOGX5XZv4pRuPXxVpyskzgm
            0/i/2uRNzx+x8MlHqjH/pAoEh5CsyarDrdxh77TLmzLFN5hrWA63F+HerlBO
            7rS68nkuF0Ce268Sc8fIL7+DoZZgM/IuWnVd4fTahuHp69/Q8qwW2XynO3Uz
            orvxrdw8kTgPSQWcrEwyyqI3HlSpnWWIf0l9Jr93l+spUliZWQ9KZJ8ACxqy
            vqZnIll+PBIQHje5yIb4hX4H613l1uqfxJVcKexiwoGb8u9yL4GCoIItKkCR
            aBwPs6HbwfLv6BU3N1kV7CA2Nci3ZfnURIuzDm9EUDCmdNP6F98rwjrMBq0r
            jykkebtPFqpDGAZdRychCx4Tg4e3CddewKyCKmuLmRQ8lym6/+LcWtSTVMgz
            psMsIZYZ2WFrsddJKV5HXS+TkodVaxol1L5xYcKW2tmktuo1QDZX91i5Zj4L
            kvRhzdBuycAb3MKlFV6JIOSSuw2u4bQpD6IsrA8typ1QYVtVWGOgq0K/5rCo
            hdFEOwr/BUOywb9r7kx60NU6vfptWqyxgE9QXU1QZsoJrdAsyqLiarapODGr
            MBqogadlSDKETFDi32lGlD5vfCqwkIXcNIvde6eBZneSM21IiFNdrkIm7GnM
            vbAq4KY7zO55/LonuHNJKmtMxd7Rip2juRH2e2ciQ09wXlxWvpznEH5LCuRx
            DWbsFHdHyl2K70ofEsZcVCZuZ5WhHwvJzHur8GhvqhFJjnE5GX5JxWJNxQeF
            CS5yWSoLWIkL3XS12J9LoJ5ct4NumiqcumVNGGhNYF/cRBmXAXLuE+U/oFo2
            XAx6LY/8t9BaybmpXKkqjkorOyW5E50uY8jtsht/FPdibTdDXD8TsrcSugt3
            z+4xSSfzXan27MLeZZ8XYfVY1PNsS2pZBdT+JOPIXHHPMKcmqO/dv3sWf1g/
            vp87A53VZD++3y/Gur7n/d3TOsLz83s8Phn0dlzNDpLEpO7Vdwgm2nO6VUp/
            Zd7vd9m+jPrC4Hgi+IbTgWTWp0cKWiuCyakeQRjNAO6L/x2WcTPkG48olGpd
            ofz86sgzpweSIfzydzX2DX3cosx+/8POn8vOL+wnKdge+3t5jAiyjx9EZ/BD
            yyr/jml/LxZsEmbdG6ZQWxu2fqA1GYMkBZk59ddwNJoY3KaJkCe1OjyjNFZV
            MzI5uzxZVGkOLGybURya5jSfMsXozObRf8sHL3s2gezL0oLD4GgK+1xKQMYz
            i8AnElgKtiBYpXKkrLh3mJd0/AC6SFHoxXf9gOFym35r+u3rvZdyf/HOLNYy
            iB97rsHrpMe6zY1uhcb1TMrjVYlWt79XbMYxCWDKNm/RzpHjw89R02TLpmeS
            +iQrI+g9WTTmqd8Mivknjg9+ltgGC1xc9xKkD1NHqLbsd4fONtpXlTospctB
            +tQ7yxpWZ6UDpesqLMXM8bbeikXR+SaWwgcRWueKZpwPtp7hACKRgBo7z9BE
            F+oTZQ5NKULikD1VQ1Q+Fa2nv1NguRgM0zMPg7Y2qWs5SY7L8EpdCwo8hHi8
            9v0I0EhU42iBVAVyMUWUL0JLZlJVH88gOgxsP1qU9I8QAbdhtz9FiIEM17Rj
            9w8hOjK1/z7oksF5E5zOm/ZFD3Tn9aytiOetWlmxsVm/MAEKnfbJ45KPJau3
            R+qKYo/Yt4pjPoxX0jK0APpbhV3zxqByX9VpO/3eqSnJoPiKxxQJg2bs29g2
            DI3be708x5diciYLRklLZMVgiFZu8ZhL6Tw8KN3b8OKrQqvKFG2CydIq2MZ/
            9A5/x99fHtYGo+OJAdn/9PLqkojtQ/i7674JBn5SSLr/7HnoVIwE6rKSAzdX
            BSVwxbsRnkTEE5rhpA+rDm/bs7QseWxUf7kk/dVTTkEo0SYl2zxyd3YljQV1
            dlw7G4CPt4RqmwdhOQylwS6quAQCo1vnsHs1zEJRtqRDFVIUdnfR1xCuzhRZ
            159LtSzA+/jqyLZsl9KDy7kadBCZfhyDis3omuEGifrt54T2VsazusbeuTtq
            jJQbzLOAoYkeD2WRMAHuNBUsgpy3SpeZBppbkvBQrWkNE96baUbDU0iaZw22
            4JkD5i0l/DQDV6x9GUQhm4lcoll9q9xt+OyqAVA6Jl3pUok6fSh2zvRzmPBB
            jaNaa1tee+p4teO496nvDpsjjUe1ps0S58kauWsZWG72t+LtMugv6wGiw2AK
            yd0Yl+nCGSSKMj7LZeeykQnOzfvazAKyILk8iUvFLMzAZQlqycVzS4l2bPkx
            +tWsLJPLt7/T+cQI6zuGShQ3snSrdvhJzOn+OzGTaNkRSkTbWXhgm7UPT/zj
            xmF9JKx9dWAwSCQWz670RZCwRWbiepqJUuSvVj3N9y4ZMJ4Ogd7+QbXCTPCH
            14uNnoxD9G4pHNQX6HT044cWmmGa2Cb/zvyYAlFQCEQZ+pG+fcWGHUWF7mVX
            f+NQbM20x0Wq17hAvIXW6ChQd9Q9aN78BBexRs8slzSPeZ9e5BSUyqJibgcW
            mdk/u38SSxiTRxymT+Nd+jMMlhsqmgOUVCXJ27i5canLEeqc0N+Vjitp+W7a
            meLJOQ7NMC6/xcNW2Gg7mzbvimJbjrBj561L7UOe+SszsVZXXF2BLV6R+EvB
            tfSzUoJBSnt+DLZ1MogVH8RjD/1Brb5QVhD0zwuVx58LRVyjvy3UN4ulPGcR
            jHwhPvE/dsqv522WHa+3+u4ny2ZZzWa70BvM1WHukfs04I5vxXR1J7RukD12
            P4x5FoYePvdLfr/hSinux/olEcrceUGf+6qVONE3iyDFp7tvmEot/Eaie/Mp
            oKQA+1fnEVn69/i+73P3r/v0f75PHXafNw6ReR8jAesl/lhWO921h09ASabQ
            LfMfZSJrEv39CHMyOppXelMniRN4eZZcsqp+4pTTgTYZvSVGYvL7EojyhnUL
            QgCTKWdy3xNzXzarGspLMsVzEnpGMRs2Zm3sIk8c/sGMfSlxA/PuHkwysc7O
            Aw61oIU+PWpKUC33T8EymHND5jDONsCZCMThCXVk4vjdfgc2NPnFJp8NRTeB
            pPHn5A9rwvBWAAghDwQMMTK/LS2W4BAN7pAdZChx9NGp81KcFDu0R6cFiwyR
            BuO/LQfPsj+ZE7vdWBt55vDuueO0TqunK+BqGMCy+HNZGw1YbAz+pTdrD4OF
            VrlOsi0WjQnw/CrlS0woVvAIbATETK8qZCHuOe+PjW3fpSu8IXrHMWRH3TGX
            IbGolKKJXSp4OQdFtDR3OSCnK1s/TTlzRdOrQ4w2K7UzoqvFtO4XlvCWD/+y
            AK31KdeO7oVOulYuKXV3cTyman3dOxfJFLCsUF84zPG5r2XokoTiv8M2z3DG
            sCqGGHivJRx4+01ZHtitcn5laU7KdDfbGEtV05bGagKvWGBNrTzIMDqvz/PJ
            3Zc5gA8BA+Fa5nGDUOQDaYZ50kt+4ZcGIXKIo4mNzdjCbXlv3g7CJlELEnyn
            NCKjHTq+7ev7bTZj7EesVTUwVGyaK2aGqqq/7fNhZI2ksg15jQvNlddMs65z
            ywG7LtrlnvlUWdSN3+FWRwLzNmsSzjLYXZp49/eC8X5Jm66kY8LLJILl6Dwt
            Ukugl2GfQ/Y8o8VJ6QB1mFc7b1+AcRNLfMdmUdBNrlZ3RBHY67jEaY7f0Hsv
            t3AxZBgY+diEQn0LC/kuHBYxq30pUx6sLCjQZKb/s3hdVPCaKDbVAWd+wmDR
            gCmWZXsRE12BV/x9jzz/vEeGeW6A695tvSjsab5ZLiAVmMVEwGWOiGyobS+l
            8gUoSx8CdSkSyWwUzjjl9LszGCUKApWkpp1th7IDI9nQJgz1EVMLUTa6pfZv
            aetcPIqJ0MvpHZxuvyd332si8Rk8V1ROkPJsraW2wycqw9xSOpiQvWro7+Sn
            y1FhoxrqzmG7l3hU9bBMCI6R+86vqYKQnZbo88PHUX76OETQVR0cNzfRvOTD
            zDFyE11bLAFCWM1cBq5jVs/q8X1d6J/rXi7QWFBxv4phubf/wH6/iqErgE+y
            pr+1fzyEaZOAUP/H100cQGy7RX/LFCxKUY61173sdOnttNjOjO282NrsxpZ6
            c1JYFmOt5DU5P9nqT2oez5/UjMm749YBaMYGg2t4F5mcZsM9MAjhRLW52iwW
            od3cbE/uiD937maj7XAc6b/A9BEjgdyhHz+DPluJ7eMn62eMr3fv8ogdKf3n
            sqischaalNE1S3UrxOqd3dfSs8FkFMbP6IvJnlC/PBme4+om0jTmnxFm94pC
            hzESUDaXlWyA8Ze4qoUWiLXM3XsKWuCyWLo5ilgWmazSL7ncXu91GKjwNPBy
            9baXYzuN75fr+VntW8liPfD2wmFgOoewBaRZPP85rQVB9NgdX1DVjHtSiYz6
            uA4RLCVp31tBxiGWW44vmZwgUMq12ah7CcOXl5DcICnE9webF3JkucJm9/34
            yf3kXvcqTkaRlJ3jHLIcxu32uRKLXxxJimZ+XoWRbUU2XnS39D6Vk6zxXC9n
            DEJTu7vnlIJzTxi39FbS+o96rgDN3FQHYROMLllxKlgtR6FF6Mq9eqrjZHg+
            QPia0DFl6+f1izUK8+F0PMhpNTibPbO/2f6OOZX7t1mj2vFqy9tM8Uk1DIzP
            TnyVHpedYJXX+Ch1GKXk62JjX49YZ6ZJvcpRMuVoc4LlNv/BvrfdaniEFRJ/
            at6FO5PM7OtZRFfgs8L5eVZ3rjRTPRVSnF/yvl2ZKVLZsCmL0BkcSVY93V1c
            fEfcQYhhR94Ha34Pw9iQA1DJxmuj9F2P2LJzcGfz6UVCshyLy8VA3v0qLp7f
            LIepLGse91a/XM/+bcUY9h9BktTkgkh5qoX0jGOXuzebQu8F3FTJ5JjELlCE
            xcgYThZu4r1rhLqlM6QIrVwUDJ1CJa3Elo55u6UH5TiBuQUbb6kB4Q99QT3K
            v/QC2PtBmUA/7leh3w3K7u/74VggrnQhFxQoD3eXKcXnYi7hRylOwVIw1es9
            Wa/3byLepvWyd6N3UsSsYolMVFgzq6Ob1fHLrGah3CeLYZw7Fq6NtSSK7u3X
            ULLOkF/j2YQRzGmVt3LdYFo7FyQA160cx3gR5TVoc7pReN1y1npW5qmsTO3O
            nZ2zicKK16xOx4opVHv1yVlh1pLXFWHhA6EoyMYrOUIRBFGZzdtgS0dQLACy
            BjNSiP2uT/2d2Ml0z5YRejdsjeGh3qoEyHhFYoUreZD2vmMZPw7NFFSSCQv0
            UOKBNfrw8SRwEKts/DmGkW0MxE4fxWuoaCMITbBZLRWJq2vhPyhCNE+EmpC1
            D4nDUk7VtzISD4MJqjoztllleFltieoyhAhUD0uWZnqEjvOeiVHAgus3OCsR
            +A2pnf3vPFGJucf5RYtI3ZF78HnpuHPbepGI7TndFVJWovZjORe47yKoMshu
            Ji1Ugu2rT0BtxH+dR33UF9kuzG0R0VKBByJvGc4xMSeHishY5hkseMG8POLx
            KY9jteYllInphw4zVO1Y8zbXrew211hf/47/wZCugeO4iQ3CTBk8YakVQOMu
            S/2QPKfLljKv8bM6xH0w1ATZ+5Ggq7B08ogWl0gGJxGsh9ThcJA6HulMVusF
            4W3d1YnXWhFk9XCv6e3rrmYnfUM9sQY42CJYoZLgGLlz6cRu6n9xqzCpsgVB
            uXf2+6HtuGue33OTNh1fRgVHpW7raZcCf4XImac4zW+jiw9Ssm+E+wolihNz
            Q53J/QLa2qzFFbAnWcX12cEwbZbybykCo9cYX7bwBFTL2fo/CZ6eqAFFiebC
            LjmDu2tZwnkrSnYLa2Qp0vezT5TDJ8qtDANwxTqE5D5U56CYA/bnoRjDMsKJ
            8wNourPQgmeW0W4driFvLVrm5FcEU3nsIKhFsNYvx1giKtPRJyWzuES6uNzG
            jUDOJChmclB3YrsE5Vq+gDCMpabjtK7M/fbaN3YhJiFMxwyRwgi+chpWda/J
            n3cax7t3jTOhl7/OxT/qDa8nsH6AzhUw3kktu6Jym4QsmrLMZk87YEHM7e01
            62HtI4lR53+MBq3oMYNlifg7Xr1jCcP/Pt3+DI61FX5hee0AhtLLheHl8XA/
            73ms3pYJ+zov2zh2OehwVPPiL1s2lKMnlY7l445K7GjL66Y3OFs3NKS0nLss
            oilZlxSvM5Yrtu1GJycI4GSXObL9Lg18sbh316e8FsZUqFzIguU2i+l5HJGB
            yKWMh3aZes+bVXwascrrGGTvv6bcPxGqu8/VPebkRpJ1hU1nhU6HfVoYnQ4m
            /u0mKOidnzQMtIbii7kKRKOJLJGL8tJmjxFUFqUe2DYGz08X6ZE2ILZpyhtF
            yKCAI1kRX+4ODAC05A8l4rXKcl/sErDPfe7FzB3/uxJIqtUmE7tc7aHZ2Pdr
            wAZxr+AFOwfLQvnDC+eYXYRQhPxb7Xb5x75GU962o36ZbPzVhosxuqUe7cjn
            N0dy6C5xslygVFbnjuYQYtBXXsJslcEPe2GoBfVyLjgtIbiF7S5/2P1mfnPE
            KfQF9Zm9/vAjeG+KGrAqGws8CYJD/ovCKOVj8M1k7fWrea6QIvoHTXgnd8od
            Y0Dpuoet92MwjVUva4vPyQ/0I28F65A8Ia5j2pDBBEyRJtq36fjQj/UDjDxs
            xCDm9bNOdCj4QvlbSclJET0xOmilxPP9YvfYAep0R99jEIzLmvxM41SGKtvJ
            Yd/fIlAYawL51bnUThfziVXwqZrOCJkclgDjEphJ+2Cf/QiyFNOo9wIQB2h6
            NutMakEvXWIRm40Jm4Y5ygL+YWKwvWi8Ox6ivm3d5i5eP+dusE+mu9GrcgbE
            4r2v1ecY4TF+h9I5NsVdoiEPSMTIA5ssW4h5W5gj8rgAHgZlDgYPrLImpCOW
            bREOi0H9jdpdExt/GZCJmnKETl9aF0i3sDHCk+Uv6Osr8dpfnPZ2Vfu6m80J
            lKq0+zHMWy27/3SsBFG4NQLBMxOBUB2fW2zVomCdacxKyZq1i/3+0gnIPunw
            pUycbg/vePr2SG4P5nnb8Z1wucXdLqLdkI9b3MRlYmqLIS6MpVxVIgFoIdkc
            bXM2SIXO/EMYjmNeH27Emvhv7jeu5+V0k5xhEdpayTDfwTSD5CAIoO/6zaF5
            XWr0YX3mdVKP2ggPxFNl7oeQgS7laxJc9tNxpr9hfwzUquxqVuMvVvPIXAED
            ZUdsyTOx1MD8PZNzBv6LhfDJGGVnt7j8yUaRe7DMQorlp/xJ6fuF5BdPx9v7
            sKs4IRKh4Xy1bWjeYBjUxSSeStniJQuSUZXcEkXSgrvksv7OWIcgJyT7i9yp
            Nym4Ob54MK2aWfQcT3Gx9FSCJRBCAwsHDiJnlNoK/ny/5eiH6RdIDhNvG4M8
            V3VU4k4TtHfLT+/ML2C/CObTLyITZc0FtbveOAunEJtGZXkh371EQxVmKqPJ
            84PzODivmrFunCQx3gCObbAdgrRS8E0m/61z5oSq6JzlNqOwFjX+cjZTzs9u
            BG96fdOcvOKy9vcEFk8L29eCxdyOIk8g+O6BnkVNglX3hTj03hpoR8P2QgfL
            EySxGEboYR1mkgd/NmYDCZVFWPnJN6t4FScg+09qFXjuqu0vYmG4+GZc3p02
            aiaylb66Ey8MzVCFGzugpXzF7q2PT2sRLBF5WtbuWyRJF/btpujmFJUNMn4R
            c4lWRUViDlr8oI1w7kzr/ophds39kSfJ7ODoqMPxY54ayu8LEsTQlafES/yI
            EA4SCAE9KCqIjHjc5iCuVUEIVkZctB1h30MCMqUUMn5nthA5L8Q62Zb4L4sU
            QFl00MjDl3lzt0WpsLBi+zIxEeLPvykNtZo/AYSWqEhtMUKoFaZb7d+R2m78
            /J75p4PGkiWc7f8SB9uKCN4xdls7Wzzs/P03upZ3/3m77gWMc7Gwradt3eys
            3y2ONlLwRi4m62Wgq+/Kd8YNWNJBtmd4af1381TlQ4AIxzA9Brt3hhO/u/+u
            RpSjOUduH5/KTqQVNFe23tts4XR8J6+AmKYljtXmjb/+UNqY1yofOxWnKeUo
            sO1CZ6HHLFmtemukvq+EzMmmlZ694po1M2qVONJ950ANH917XciEygbYflZa
            svHF/5SpFh1+6vaAkIN0+IupTWGbu6XPZzeKyLbCBE6Ac8y/kJPpFSTGBnJJ
            pihlQQhIYXJoAabGEAzkoEfqURfa03UkGrbdWwIvFamG6rrSpNc0eTrZMKKv
            lPGZ5mN62XWhG1ggfnbsW667Y0ooOtUxib6PSemj8gdNRRCXljL++jSqF8TR
            KadeIUyhjypNo7kRCYhHp1VnBUjY6mA/1aE5JvNgRblnLVs4GiA4lTYVytGW
            dgjrVDbWKS2j09Kt6M6FFI2Ck7dEUsLJpDJ8EFAPIRoYATy+2/OVRtaRCczw
            KlIEdSfwR+sfs651w1Il2eBvkZnFJbo3j+Ik8m9lSTyZd04ZMgwu43x6Om/C
            vIei96mH3RNbzkyvQFCERe/jC6MNpofvUabVEEJytmM0OumA9rL0+LJuZueC
            Qp7HfQLWrd52KD2OyT2O/RmMph8GNnWMSmyUDFbtIPML39fH/evtBY8dUSQk
            F/EPUncQK202AlZxvplhUInmhvlmLgJ7Xta1m4gGbyJ6uzo4CL/93VGUnqhu
            xf2sjMSOqpcCNXSfJgNyw7GSZTr1sQeKfTsLU5ZP7aZjo81vpwV1fLI7TsDF
            vGMWT173C/+82fRmp5uNv2zbE1k3291sfLP/rcXvfIftCXs9Y44Dei77/SbM
            Mvx9LSZt6bj1W+Bz3+vnBpIjwMNw59UWB8vvX4/tqTNrY4sj88R9nGTbafb4
            +DL7R1kKkcaxxc4dLTD39KCYzIbi2U41ubXXlz5wKmlFm0AOsSAA4diHV3ML
            9KUqV8Eij90wTOskQHGpgpphOrP7rbE57nT89Funw4IW0c9f5zO27zqpDeDH
            d81zt+a5o2jNavYUKSyQ+80747x9Ogi1jZ3NCtHCNgjeCYfBZkFKf5Wj52ZW
            y5lkJhkMJbvQpbeDT4W5mdmnuV6e2DoNJ11JpNMqnCj2xJ7Hc/M7j1uE1HIl
            yiNx2M1iwaWJHd/GifvzGXgtVhgGsmYiEjPKgm1jMRemeEVKdLxTDIYHEb1b
            LRTkS74RCxUNgz3DPcm82bmDxdOQDxTJDFljJ6d97WCvSf9+VK/9YGY1xB2V
            2TsYuvIOjEVWgjLoiPUo8QNJlK2OoJ4zHz8mVx1jhCjjPoD2F2eKwwVZFg3s
            TLUytGNQJkNuDMe2vBUbRQzzo5dk05JiE0iH6PhuulkvOZ2kvYeNzXRaxg8t
            iHS5onM0hYhvtpjwZBReu5gDVbkZFWNXtS5FENYtWeukTy0ANWoPAj0eL3iD
            W8nlqLTvH/igH7kr7ZxtUz1plmFujimw44LpFSGeb48N7K+fbPg/cF4Y0vVm
            e0Tr87wbtdVaNuf1nmLkvCq49Xci/CehevmzKZPohcGxhgTNAkiL75wvqyms
            rDZl0yb+YZk/WyCnbIn7DTzft6LxwQhVC0L38W82t9nUb5//CwzhbHAnPRzO
            Drc4mN5e6dWuXTzsUud/Yt8vW93s1LX332x0uJjY7JwYEORhNDMp+6kdRC+9
            op++UHtR8Ec5i8c34b85+aoCUu06NPNbJnYmi46ObNK91Qbxb663AfpB19nh
            qfL0STFBJlt2sOPGy0FGp7ThVNzXW7MgU/UwZx1biiSvVHJdQZCB4nSDOSF0
            NXdwU4HeY7NYCdu2CK4xOebC6mAFL/TioQTeAERxKhGDbIemGWz01dhpgmyf
            Om3GwKDaJOEdnkrF9gHTd185wcUmV7uFsMzXfbzfs3Ed6Q7LMLtEPtlc1GqO
            wtSxWy7lw7sBjSrYF0slE3QXqTrY37NVRgVDCPkywxz+hTA0VBGVuwGC52ek
            4XPfNIT/OP/x859sICCPn/8WpBwqIFGA5mTRvnc72vkA6m6EMWJmGe7+I9tK
            9RVZhTe3oq3d4a27cbZnmetYaepYE8hgmPJ3E1f2OgduxtNLy3cRy87RLF66
            DhP3soqi9RD27xMmuocFRr4hVFmxQkIwBDn6lqUE+rGD8DbDW+8enpNO3yMD
            JkLuJdukp88plsd7ZEdZr7o51Ajm/nLc9OYOEGnSmCtYZ9JFmC0DeX9NKKS8
            D2P3xoI9WIVrHbZsMTFzp5grG/fMBuOYPDH19GRQTGyydkiXJB6vxaLP8uUU
            ov/htkwd1eeJ85nIGpeN5QnPNc5sTqdxaV7UtpjlHNtDqRG5L4PBpKIdaOX3
            xTHh7ffryDrZ+oMZ0KcToTulSEhzebAnSPkDx35rJ5NEFs85qT3BssN7tose
            Q/sexgPJqEysk7+Hu4ak0eGP187alSOmPDdxU57+6Xu1+y3v83iTqz6fRY2W
            L6iJ68ppox/gfsuYgmpGq9//bF9xgTZsIZnrpF2BCR7LdAIWNa3vRtZdcPLk
            LPEx7FvoaJ+JZZ/pFAXEX+nyEuyaEYEm+t4LVSwdfjubmF9PoC/ei7pHUdV/
            OT2z6OCYKO3JAW03D/U+E06J3+e81JR7EWiKfa2hE1gDPCp+3Hhk75zHs2qX
            q9r4tmITbZRuY9jcBfcTUnNJn7mickfoN0Os9TDyZS7sPQfSLb7eWYm4jNAm
            i1FwjY6nWL4AC5OP47N4x/WIbYX2k9py+pPaQv1QG2vb9veen/Ob2pgx/E1g
            w0rPbjpW/g2hgYMu7cT83ZjNnUUWRrUizktgx2uDZ6rp2m079jhdyWxGUMrR
            p5/jk08QZG8viZ3x2t/LG6J71tBu9fESUrqkeB7duYsFcaScRe/WK+9ndEWM
            O/R0f4AfI05RrCpYscBctjFft5e+P7/G3D9jZqAsWqqcNd31exKcjGLuUWen
            lDzdTn87h4GSPqYLNAOL9oupCMIMmQ5WqIYvDmKov+XHq2iIEPir2vV3PcG2
            51/QBC9U7Q6vsu15LhRjEJ1oq0nlXcEbgY9Abk3R1F1+drVVjpvdh91Z3gmY
            3YZ3t3gtkCEKCfwUu+36JrjYPwSn981eh7iTMz3QFL7CtWnmtbva69m4/zTU
            t8QoafXkWN6nhnZrNyfJ+WefdzFNvVvtQ49CDx9b7DDPcnNN5QdYG7BjNXCU
            AvM4WDN0emdZ+fUCVHKjgeWHGxdR7ERLTOX662/VClYs74NGa2JcgUbhSC16
            QVAS2xKVYZsy+v1wx9/MaNHgQyp86Gnpz8S26+qCra69BHHUZGpxBlgR06WZ
            Pt2s/p5wnYcyqDA6ISLxUOE1YyNNimWOF3VS97uXw+Y2LzFL1qZKmrTD6A7P
            p88GCRfe/iTBZDrTwQ+YpOQMb8VxOgwusBu9UsPfVks+DPlDdRwKIdtnc8b5
            Ys+/UKGHApmsiqe4C7m4lqxyIA2sMaCcnN+z2rAOy0ULjqFMikvLa/nZQuT6
            yoGPnxz48Zcc+DQs913ZOoHFOtROLRv4YvCF7kVjnZVZpMy0rfO59D0L62/y
            O50sUCQ6x0YblzYzqZK/6R2sFryx37f/7v778t+Z4VkrKsnFMAkI2RrZVon9
            V9nwJqr6OGnX3VeK9/UuVKKyUynj1L2Cmbvx7m1w3srB0DBlX5criqjk+zrI
            x/vHNdA0iOwIaS7/A3P+C9aEO+TE/wejVWYPWBh9qvXcHROgFIKXj4h557GK
            z6TPhlEXqk8FRE3seXswtdqG9U3SFrzNYbvegR2nDUzbfnynY2GB7rhOdoi1
            Tnpgq8nQopLAOAhPzCoOthd+DGOG4PxWZmFQpvZ5qRBQlDvMzWoFYJnFQhHW
            xrk+QDTynhCLmBkGzeFKuwm3v3lTjuiwYr9CcttIr0lI1FidDYDoncVCCZth
            MkgKVnOVdRpzjgW8wXHRiQoUCUKTvmqDBtGuyMSPtdvc3NQmnFmeBtYijFSl
            crLOhsZTB7MbP6+jurqrC1gtSHWO50YTaOnYGQ/Z3F60Zto/wT24g1pY6Ux3
            HnJ7mFoiLKlgwCHS0VSJ8AVe5lLwU3cqSSZ05UxhqVYykIIsvmCF2vCCIzBA
            +pSyM0l1pd4Y4vGrlOI2Rvct6fKXarXvRffGcOOO99h5qLtSoGVjdGz6KAxE
            MrmQpBJAminHQbEOmPpW1hefCWmo3IdxeXNddYByvCMV8UIjcAxDdqBKzOkc
            dq/R8mL0k6l8ykVp7/HnZANcHG/2WSbYEwMfK6iTdGR+Ol7mSVMttW9iCZ6H
            Q+6AsQzL+aRm2M7zYQ6gJf9m65pFyCp2Fpb5LjhfiX51KFeb0EN+nKfPfPX5
            6oJcDJdAcrd3igt+YgvPDTW0XRbCrCoUv/SJYvw1sVe9RYgfebgJmMyg6FuV
            r3bBXx2136aKcx873qaM2/m6vK1LTETXtfWq3pCyPJ6u4GpF2bk4+++7dEPE
            LFRT0HGrUg9YNd6iw+4E/d7fwy4bZIPC3ZLbnYbextTT9INJCFaP/VlvaZNT
            l6e/VS0srRw1CWTzoDiZYeapCBQ3PEYsg2S5D4zE6thNzIRuBdJnfyciD89d
            YZfC09uDR6XTq3/vSg7WueiE+7QxN59TNAdbou9TEIWJ7VKHl1UQcDta3ecn
            O86fm6xVhPJL1qfvTshvp+XPAnrrWFPk80+U4cMSeyDW8ld7hn9AWynR3Pjz
            1o3mm9E8QFlMboXU49+uW10BElE/iM/CYBIhi63TU6+LJkJxEUs0/1uI6JUN
            QghGcNMSoLgs2m3YutmyLWBkU/mEhcNcTvYBVAEs9Uopv4pFDJraywFjuYZK
            E0h00JNjYMLU4+0YUg+4E6/JZBfsslIrM6gkD5bVSSTb9dqxYOI3iYrI6Mmv
            LfMR2voggajAtulvpjPCQi/Y5LENmIrDjrPjIOQMkYA3Mo5bmI9j2QafR1aA
            S23BJBO8vJ4GqEIvrsrloA+zc6VzjqT6kGDEAzJcc/fpJUiYwx0FV/OKfw48
            xEhg9scQ24958SWm6tPv6AITk3KxsvrmgvHlk4TgtQN1HPj3RBOOeZUg8x/y
            g6WiJTIyGoUdMTZc/pPzbY1SxmXtuQxhXfC5bBMRDNAjfNprnV7JzfKsj3AP
            ln2tHnWHj+9xH8VjZXG/M7nZDGWGPNgQ+Fxy5j1MmccxZjsQn36QM/GT7cX4
            qRaoX4nA503gBdYo+7uD5UJcDaU1sIUaY2+nvocwGnv+jrTM18K5GMX1c3AI
            iCuWsHVz0knnDCzcpeY0u5q42zWmqJB4Qvo9luNrLJYiONjwW9GUZEBgXD+K
            WOa4g322aQU/7eyTAdhny5rOF1PhSVI/uLTlD3TI8AHF+tW1GmyIk3+zQfFQ
            y4vLnWzBgUO6spiHLRrPPa6f7PuHIcSyNoKeJ3W1VGNEjOPCy7JFEnGIj2k4
            jqcnHFecG5UBzT5snS012jmGeWGF3ctSQkKdsFsae0qFrgqpcF30hJLNkIH2
            nWTLgPlpnk/1n5TLnZHl+Jr5it5j4cBMJIffpOc92ear+Rp3sXGH+zmZh1t3
            2ECt08ex60ZphO3xswzCYbmP/X4hyNMs9CYYE1BlGES6aBSdXNwzWpt4tXb1
            jXuvF5/ryAtE3b0HGrSUotgR8WD3zmK28MwnbxjYwy3pwpir9VggK8vszYTv
            OCfvhyzmSboR8o1hntTUpfVPd0noKAzkb+UFOlHyduXpsqQiT1Xru/fc6ARY
            fUv+1Vt3TQMh6dvqIsD1hhoIspD7iwMxr/H+jZ7TaC71/Xs280bzPWAhzvbt
            efb6i36oXrjNB4Y5O1dxg5SUSE0PiR66Aj7L5lhsrdp2Q8SBxYgfU4VZZQq5
            D1V9XaqsCzTHKziPYUTxbywmyod1Dd3lAY3wSAaJqMYZXhPbTmjnZ/O/ibgG
            M0owIJhF+c2lrdR76FW+3RUh6HMWrBIDdw9q0nH10MtnbdQatgkDQMujqwS3
            VdSVOI5qp90UKLouwQC+7P0YZuuMtbGW7bo7LXPerZ9NfU9PzmGjTrM+6bJj
            vqEvZLcUeILZM+GoMKnmYAaFvIxGiPfjC2LETHst0jPtBDAtpD2JBUG0dmVz
            kYiouGcpbtq18hGMZuV+t90nWEIS5gisbLZBNG/s/qHSvBblLIsVLFcipQV9
            sh6IZhWMtVOefKh8X8opi3b2M6nRcxc//YNGMyv9Tp/NQjgBl5jLFNRCbslg
            53ijuduTe3jFGe5Tst3ztNDBCTWIIf0xwLsJE8ymbjDSm5XiTxAD/SyXhYmH
            dSmK924ZajuZrDYqEdeTdehIoFNyLwZk0HCF55XFmxi6O8fudToxrGu30CEi
            K+GHjyY2+ZBV5wObhW567V6m0rXFJDbWXRI5PXMpOhuiKMhmIiCC3dKLyoxr
            gylUUE7gpcxXDc2ATLlrIjlal97D7GwzvXCHV3fxbjDLiPMSlM7RBKj3pmHf
            Hxk2GeLm9qcGd6g0nUmZBIdeos7BAk+fOKyYJVDQJrxK2oGhQxgE97o8C5ts
            dF7HZj83eWHyFoFZ7ah+KEiClvPsqeAoIbtaiEqIZEmVLFnb74RxDHXitpKp
            9OUN5YRUssd7GWe4DyuSeb5K1WSusCSV5f4sNGGIL6mA/yFSfiPqylCXZKGv
            SEtUY+C3yx3rxUsIpmQGvqdqqt/+AMHNnLckkb03KC7m+Trhgu4L+XpZhTqV
            OdZVYI6pcMHUw7MuMOdu+ZNxzhY24RKLYe8WKLRzWiqsNUDf+EGdipG/BF80
            +4txMIlNYIlYNrDY08AkT5Y3D2jZhNjx8ng2KOOC429NTRyoxBQpV+ziQojS
            Q+AUkD/zhlBO6uIOMqNsVIHoONX+BrMBlhZJLMs0QxIr0+qP61MT2K19NV3S
            6kfJcPFmPdNCvzeUGvZ6kOeJ10TBpMoUYhLLtfsj7cXfxNC9f9Jm44qdP3nF
            rxwJy7w/JN9yc1S59JXsi3ddIJ4zy85dXNTteJFOENUb8kkzqNKKkG23L9RI
            z/2aXdMr0k9FVJmb+D43DnsuZeYGA6cCyrjv6zFnbohHlJWEEy+SQFSbclUF
            bBTx9GkPSOGkXo3MpI67PM7Yxw3Fy8Aa3YVn8QgwAXLhxQx4N8qZgE9cqy+9
            ntoDNY1UqlaZyQ0gPsZQGuO+bDHWb9jOUzG3AaNm0k5kEShzzAuN4an6pU6Y
            IiYO4g0FiERh/2w7ixk4Zz+LFYJD9+tqJo1zJ6Mv2a8NHrPOA8Rukr5bENJ9
            8B0SPX1caHcVCTFRGwtHzwpbnckhcMq3zZU87J4pM8TCij4J/6QYIhY5ebOH
            88TMGQ7ftRUN256MmawvzwZBZ61NqyNCxsYONxAAxNBoAbzwzNhnEC7cYpHK
            KrSLObCLZ7kIVU4YEfVAO6yU+TXmuNWG52ZdBjeeSSZFhpnBjnA3Uw1VuM7+
            zuMkVSiQsouW2tKwaDtCD7xUBSstprFGzvB3b3bCY06WB2fmIy+EqIyeA/y+
            354mbIRxmgzBexg/y5jU06U/qPIZz/gyZKE/JjyKfQTyybozGKHJ83FE4LPa
            b8L4qtbsK0b+wwnAdKwcumHwgE8J0dISCXF41QN21dK7PX+xq8ZrV6WPXSUY
            Gip5/aMV7kUXbAF4Tbw/WoMqfawxOjERvBWZuXOE9HgaONCVXKePVCGFO86e
            2mAv/J1NxXQDTQsvNEZoEHviZNDd5tglAmZ1G4ch5NPVaPr6SMXcnexizGPV
            MGs3EiX25xXVlI/Wlqf0yt20FAljBkTyrsjKUdvN+abxVBtnVFsz5q4FtXqL
            gmsLc2tlIPAb74WNNGUId2UmQmX1ZoLU7E43uKO9Lwllkp/6u5/eOOHt1f00
            efoLfYodm/4+vjz9D0PWbiBh6W91eLAeM6rVU7dCR0siRuxTB61lcIaR1Ri+
            LVrhhTU5TI1Stx5riM4JYNfC70mM7KqcBMdHVfWYlOyYzHsD52MySOF3xF2j
            dU8Uu1kORxJIDNJymHkHw59IUALjlaElQoIRzM44QqzOpgAwtYUo2BI658pb
            VdwqbX2MYo9TjXb622FalEr+TbR6xrYtE/+wxjWXmuU8BRN3+sTNsljKOAnS
            Cx6Oz0OTOOhovYlJ/uP8TP1iW910cyx8x7mVTllq5MsS5ibrnrDl8ansxM6C
            0M6QS2CuEvX65da1ju92GZCqmuCXx3MrE/JpajeJnfAZnXg9n4k9mLL3e5K4
            r3erLCYRhmDlP9RYyKbZXUK6PB2kT76tCK5Ci8V4bjY3Zf1/lWRnLpM+mUuF
            8ZqjpXbuGMpmXqd73XYe7mmf8xFmP+992+56x7krNT7GqgOlcVFhwRRVBO5+
            Ihv1aDTrFsia6fb2m6pE9Xv7i3Y5LZ/v6r6tLahhypd+fVNLYPeo8wsXQkx2
            +xhOa2/IguuvwmD6R+7dyZiM9WKmDPkMFVDGEjh9FnGMdIzRB9GKujGf0HCX
            +APbNB5d0vAUdrBpcTtB6A6l34WA+5jcIfyLoXMjAWO/pPuyIuoXEtLKG4ic
            x+3/+mOYEeC8TY7HZdHE/qOttKyFynQORc7s0yejrEuJxhQC6iLGulV3wJzJ
            Gu4mA+To+pRikmO+2XqauGyZeVWsFDkMxiheQmJ77B5K2AmGJU1FvHo3MQnG
            6OYxAz7DssqiYhqsTatJiHT4PnlVE6qMKe5QhRhNpTmrbLjMbHJolwzQLTHj
            C1t+MaopTNvdwczjNHxWWsr6ItHTo5+2VkCWadBE7P6qSjw9J7igIaQiK+nU
            zZUaCI+xeWozqKdkW8ggGYgQw8+bvcrdsOi7LPOnqU9Kxm6+vrvbgBclb1I2
            zZz+2cfqgzZkDRqvxW7vk0VI1E2sbQG7T7qDycoGpn2uwxJw7m5/h3glCvcx
            /GbJczbvZq1s6Z1hgqDqcMszSZHHUHtfq9zeVegX1LYg6U1MheXu7yX1UDhQ
            bOgif/vicRHN9QE9p5BQPyeClDKmb1J6yZT1bHlqEyFYggLV1s4MdkdzGV1g
            XQrA8W+PV76vbVTcZkysbr+jm6vtyl+2OVHK7w+YBh4uKZpvecCYkqkuttQ7
            G02N3ubWb7dnsD5P935419m9H95Qjkp3v/N6r1Mlc2TR4rW3OxZ5lXKry8ub
            g3l4ZNFg9uLsre/StA3y9eYKXMrcUE3j7gmYXcXDbmIXFCUCH8XQXjPd0mCL
            6Wx5e9RSe6SDBwiLW1EQ66/4+kIO94UUuy8XLVEQesof72WmJTMa3Q9Tgxab
            LuD9riPD3qpv+X3YmghzAgKhPyx4YzGHs1kNqQgCREofHLtbfXqb9ydYxi27
            7VFANzrwPQA2LTfzDdCxuov5JRe0qEc+q/62qcmHGRZxEwT4/ZoLE7TIsy35
            lpXijnR2qh14MISz25pyiyX1Q8m1WJhEFIjVd2PqTiwC05N3f6i3lP3jTDqs
            SWsjg7s2yNeue9w+heretq0tbBfyBv3yigTojfnLfFaJ2eCMY9lYXiKIGL4G
            M0SYy9TiuAop/YRlVb1BhPBzsAPuBC1LMGEGJnF+uk8etpIjqGYvqOAkHJQL
            xazCVi0Cw4CEIGLSx6uUBK87x+tluu03Kf60zuKksvgeSwpTXttCXFxcWn5u
            /m7L6HBtYfd4p5OEmVzdvWFUKa3ipw5VI7NY5LZK7m0t5vqJabOwRZTv2E8q
            C6MmQ5eWWutgg/7f1q4tyXEYh13JsiRb+pRt+f5HWgIgHae3Z2qrZrtmKp1O
            /JYoPkDAgguqyNlKC+BFQQftYXf5+G5Zx2jMDvBYDmUBm9TewNB+gT8aJm2U
            ewCRY98BQwfR4lCoA/Msfi/6fSPX4wnGYtt+pDvZgqYhYCskk/ZjOYvviKWK
            RljM+rMvMb+FI4jB5IDZ2G7eyBEgKMzJNCNoW7kGoIwK332LypM5BjMg5bsk
            5pGqJWQ7Oz8SzBsEwjFokBY9RL6IMh0edgAMyMqF2OB+1bp1/JtMYivyhZ8s
            XmT0vMVcXt8ioW0yn+RPt0+ol28+06KVLrJ5rSl7t539k9K9XAaIcBP7B9qb
            mAx2XkXIlD6yHkjxLmIOqnKBs+4s20fgCj0SUaGzKPHIq1oJEeku6Bma0k80
            7+ysVDulw2vP3t6j+AV6XtLjb6Wg5RKZ0S1bYK4hcJjbg55A74cDmhveyWR6
            nWTRHcRRgLStALuODZkpOPATKaYNNvfwiwPb6LQV/uiAMaJ9s9qFY7G+OLC6
            mI+25d02jW3MoEPnvtw/+H8ejuCqh23r1axQd/dZCjmd6ZUuhO8P+7czdSLl
            ssWMbmRpG6zyXD7IsrbBGjnWe6RrfvY3LvOhNnYu49jNVrtnXydiFNvOAcCR
            4zoOQuJnYWnbQqeT7C4Mv6iaPm2pOKoqbas6prmu3mRFA6KbJeMYnPHg96Jy
            a2DjEmjv1m/P8U+DtTm3ZCwDNgkOZlxzRzaoQHutSvo9Pvg0nx7ez1Y9kTSb
            97f5zt74VjZu+M00szzLYCFkAeQcPbe2Rl7EDk56jIcNnGlLiUB5SMzBy6xq
            6CiUmbZFe5RQMecCmbAgW5i1SuBg585udi3YlIULV86GHr1PzuBGJOVGEy6Z
            hZC26ExWkDHze2KabawbJT0jYYLv9fVJgzLpfaT9WOVbHoQs7J7OLIwkT1+t
            C++7OWLE1gSoNdgYJCfRrhR5V0wfO9FSAUvrFZYc5Q8yNi4dnnFj4+C9UBwZ
            VdSlArIPhvK+nBErE42mkznrU7/a0PhxnDOJd0eJheOaAO8/eAqAwyjV5H4R
            wLrhdgz77pHs/4nVz1ZYqhbv3ccoKZ7xFCBefzTwfJCErQMPGQYZSggPXMJC
            48OGmaf2eij3CbdB1cRl3JCcsth9UXQ3QFgD+AFK+AoSuBCgZwOJE/enO5vT
            Jc/VAz4R51eRVwZ1ZV+pw8YiqP0CJcD2sn/QayF0oMv+4T6ehPQSWTzKYEaM
            pNdMyp+FleQT7hyxBETP9QfzU9dezSr0aIA/pugh2qTAHB8QG/LZbmsD74Dm
            AojBHLzuhmWgqcos97+eME8QEPPuevaHHG8OkOrCLb8d5/hxHDD/rDwOwmJ0
            yjeyWbFdpKNA00BOYwcy/yIPHA/H2s3p/n/sG4beHPy2I0VpgS5hmAgS2IhF
            RtGb11Q0uIN2GkHEDhztAlTTbjN+hwvDlMbpCwcbvrsKyjQx1DPraF8hQxEj
            zxDxs0ly7RazHVMktvl727KarZuk0X6+v6sZDP1FFoKCKxTQyV0BB12o41ri
            gPT7Oia1+eOLV1MWKr7NoIWwIxBka6sHpjHzKofU4M0XlzyT83wktOS6rCUU
            xbFNJSFqR49I3eTTMkGE7cdwJT+02MSAQYcf9glEOUC2DczAiCHKv88oDFBM
            Bg7Q9TMB5kS758fNS7YW/eOxOjqi3oOID5scX2INwAPdsiYEymrgIYrPYJVZ
            xktcmVlo/d8HNQXmrtzFd/D77GFIv6/gF//nmYhZuH6sCmf9ZeH8LzMRZO/Y
            N1yW31Kr9fKElPu9BGyyBWbmhdIxkbAa3O6M13+c2azjh1l3ctlVoreNkI2f
            y9JF5NrEUsclrmjmduBYJ8XnbhYmsu/XU8wZ1Bzbu+tf1yn8ygH5mNfaXTw1
            kCFUzHUZLDYrSU4QJDXwXJo5Rb4iRbko1OtI0zCq/T6gqkvQq1BONZE3ayRk
            bFf3BxICYSIGbVV5El1H5I6iXLcwX6V0upyRbrstN2kSzMSbdUlxPmu7oKe7
            qU3S4n4SHsL5F73zTqK3ng68VtBJmKsOT8ytUMtygpDYixuJAA+zJVSQIk3N
            YA1ro9j2pSh4qkc2eXb5Uovpo/Ljtd9rmS+fZiA9omtZJKnJ3BPMbl68VGfP
            YQhF1r8fpvzh6mmSCOYOTwQGJCP85xj0cHXrdmrtNiNHgrfmPQoZcDmaBSJl
            zGbXjRc5LzPv5F8eyHqgEoVi8QUU9GCEPZBSxihEt5H9BxPemWJfADdZNAWt
            74gUA6wEhToL//eH0xIy8uVDQcQe4srufhjp0z4T3A1rcvV1/+aahFXfrl7e
            8WZeb96YpkCPCLgHcr7YRwGshNmLq+bzAR5VSCtiH6KIVukvieDW7i7yP1cn
            ysOeGDCbkF0GZG+eH57QoKzAuRHOB5wLlOzB4W3nMO0cmDq6ASrw1BHkKoOO
            2paC+BzwxLg+8nhkqSWKZ21Lm/qCd3T6UKBmgsVdKggkll9YNcY3Rd77AxW/
            wXD3rUNYDrkrYBzlbTrN8/MAdnaXa9Ren5qJZ26/KljY8QEGiy5Qy1Rd4pFT
            fkP8U30d47ge9jpC1e2mplD12YhLHWW+3heJrkoCwfvrQpDOOxrvUjZ/nSI3
            kWgqFZGYcHQYIhyKr1ya6hYhWNf986hnTNy4cfY82oupnXTJHhrYLEcnOgm8
            QEfQq3Cq/RohNxSJR8K13Xz0LjHU1fmndHFe57DjoDon/T6ZCVR6S0AA7WHg
            IfamIDK+X67X99f//n479f0vGKMZ2XNR7y2gHYBdLw6dIUQRhfquVHdG0Ioo
            9qZ6UN6jXWArDfsHNRtJWZKZRoz9bWXeZ2YBpKY/nEhoWhii8B5rFPSz2vli
            mvnRqQTbbsHtqbS2NKjJda1Mb02TU5psbpBlYXZRfX/IB7FTFOJbb71n5jds
            QaQdl8JKBg3RQn3Lj/SebY/SqQr45FVQDwA7owgzY7JxG/RJQDWpc0ZqvCsJ
            dnmNRP29SB1c7Lia6NR0EOqiG6qU9yXoNmiX1fWO1GxyYszkPXPBuxBVI3H/
            0PMCOmCYZzLZM+aKJeDG6WqtAgIhPawj9ZW3j/3g5gZBhavBRI6lL8mzh4KK
            A1suMRHc0csr7LVijZi5xigEmviw9xWjxG4MpnUdpciOFrVX2Zp/PB0yi3fI
            SDeBbV9BPNrFCLv8D6+HfheB5gXsHJtPG0MM/S7u5X76Nu9XW8m47kBB0M6x
            25qB9zab9H74+6Y8UFiJ3l4mT8x1EhFtT46p9qKm062b99TRvKoEQ2cZu4uN
            rW/X7dqGwrpX71UWkteCgddUz7LTGHUgj+YivbHseXKkFZeZA7C1O3Vef6h1
            yeUU6iL9UFtYG4xneBPqKm2CJ1VFbxH/zcydqjWANQ2wbopm5E/s1wXIbGiU
            gCwHGU5A0m3XhtmdLNg8M1M7zIyirpNIkavuV9LgVCHjvhTPWgbWHsiylYWq
            nlPZQXOnfrycVeuwKX1Nb7nCtUBhERXI9yDbQwI5g9J6R9kW1b7l3RJXwetk
            toczOeI8yvrso26ubV1W0v4sIyf8jd9Jd4u/my+WEBsz+6qqai4utQzHJwb6
            JlBEB/r4YzpOoc6edLCYQvj38/rIyz03E+1bcP5Eup3QCUTmtkoAQA9vBDpM
            uMvXyps62FVrN3Vxqh1CDpK3iR17z+pQMW9xJw8E9aKdAs8sypZfIp4oMqzD
            BsjOAXIXIpttCUu8+YztEjI6NqzMgMxngJxiPMO1Nbu2uKaM1H22BzrotRby
            OcFKmb2jeovdlRwsapV0N9+D5uCgJVeUmYM19sVSb0dFuhKWmfyhmFfYWdHM
            0PsS+Bf4rWRLL73i60KsyjZie8XYbdDfsXufGQfeL4Z2dP6gxnSIZsdGAveD
            73Ff1b6wxb2bbgUakSg0o9h4KcIU/dZ0AUQ1F1ZnIWju/UQzho2ApOCWxXsA
            J3bXdpIX1PV6tVO8i9fZ350+RPrgUqq/lrO/va4r+gZ8wZ9TnUCoQ6mSlSzC
            Ef5+G6wN0NLcEtfg3/J+38L3AtFxk4CkNvKRfbAOl2smgmt5LXOPVBiyGiCm
            g/nt9WK/I/ENZICp9lS7LczIIiUg8p/OHhdBQzKKVqDJQqIwRf5oeOMJ0FqL
            jls1Sw0BKvUOZBS+dlR8SSC1B0lIVqHMHJ2ruKcNZoskHUwReV33ZxIGZB2D
            7wYImtaI1BmdHwMZvdv/0FziwRHXNKZ47rVXScMBql4K+/vAnEFlkAui3CoR
            X0K3V/oSKNsO2wfY0IG8EB6M/YcVcait21R9O9WfliHKKB0Gdgg1J26AAuKy
            B6uq+AtbsvtlB/rZERSDpc8DtwdlsEP1Gg2WhouupQ+wOoGtYXE2TiA9Uirf
            DfHvGKZ+FluoDCFYpbw70NjhsnbqhW2QaqeDk7QWSXoFGKmVCkWhwAkxK3a4
            ZneQ1u9YaHf5mItFoNZtxjjfB3yxkCdDuR6FkkTQ1+NNzaZgZkMxyAYmQIaq
            IHGke2PwEiT39rf2uZI0Hd67ClPC+ZJeV5rkVn1dvXeyx/diZUuQdKye0VU9
            kcqLT10A6iXoPI5spvf/NhESnfRvD09y4VybqLnUBpqxWOWVXSYrtiEVV+B1
            WiYgi+d3SwmZQQPB0rb9Q47SPQJswqhUV2o4Kho3SudiusCKe13wT69Sw5Hf
            yjyzXpVIOaUklXz5RfZv+Qh9+FhzAtN+khCtY3xQ8g89/atneRDwrSqHj5Vs
            9p26CwvNP18LaRKLGJY3Z2wlY8cepf8Vd6tRQGx95ACPRSRp+VDYuAcBhNl1
            ixwr+6pu8zpOqlD/8fOTyYc/fz6hef2Xz3dkSP7y+YbcY/rL9qdFpOXPn/fl
            759nxPJ/vT6d/yqlZPTLsJ91LXpvHo7eV/+8+nsRtktI3XxWIuHXXvThXLyx
            p7C6nH3j3XfGNiSaBn9/6f30g3eJ6i6r2Vq+X5fff3TSa0XH0rooUSjOYf5s
            17Z/NCGB6zFzae/h9HC/edvYiIT8e/9l/xZgsjq+17K8zmG9LXj/5fv10N+7
            vw5g6UCpfOs1fsaxFV73TmlyeyC9soJzkQsF4OH8uQo739r61/Z7396ff05A
            259Z2//cb09jfW83axtf96c23f88uH1TlxTKt3yN/cIL4+EmDDRAdmufafhN
            90PEl1Bt0N/JNQyWpl//TsQ5XwDDpdTmoK5K2zgc1uSIWNZjl7b4IMnnI/rZ
            vt9/ris+e/8kH6Q0XtIM9f3ZBcV3gK37D1dfU5c= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
