<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0a5c.21d6</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21d6</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21d6</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>BCM43142 Bluetooth 4.0 +HS USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_21d6_v4316</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8662</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21d6_v4316</key>
          <data>
            eNrtvVey7Ti2JPhfZjUXQgP1B0HOf0jt7gvY4sS5GZmvu61ehdUNO8FNEARA
            iKXF/7r8xX/xurxb7X/+j/9Vy2X/3JWvKzf+i/6K7pku3ftR9Pj3/hXG5VPB
            X91/bf/1/Tf239x/a//d+++xP3Rof27/+f0X9l/cf2n/5f1X9l/df23/9f03
            fHXP1Z/FD332P/zM+1uvHvG96Pnq18UZ8O76/hcwNbPaw+j48dEXn5/scswB
            14U58nmWlFOJuH/w/4qyiPucG+okfEkNMYTg8H/v23W1qm4DJoVXV7yGFPBX
            rsqSFrQ2exRNzzuecywu5lgf1fb8b/irnfHWj7HnR5/j0fFzpfnsT+4ulqdO
            /lL93k43aPnz2/NMNd555h6yNoZze3rGmb59jcGxqZh49Zc7ozjDyizHApZ9
            nbudtZ/7PYLgXw0ndDivbrtt8luvqaZafSqbeZ7hbHFcfN6rW/SZbZ5K9u+q
            YVi7P8rz2Qff5WkGTUWvP+rvCeo/2g857In5UX/PwPjR/pOCXhg/2p9pRvvU
            H+3sf/NHO9hB6uH+MR5frTzUp33VPxM9v8t95YRzbb7LXdnl8bscA1T78Wf7
            164/3bDF8Wji+svL2iDpZ2f5EhBKPwbnknWWf7ZTd3n8y6C77d/v8jZtcOVH
            O/fSKcSBeuZnOUBI3OP5Kj/Hsvyoj9XXeFr8Lj/gc/6s7+2czPpdHmvVOOeP
            fkOJyU7Nd7lftthr/qVcHdw/6od875PjF3ZW3JD/WV8fvw6K+C63KdTird92
            6POj/gEFT/0ux8d0O9vP/Vneg0EPf32X1+p0gn38Lndt16/f5ePU/9H+Na3+
            /aMdb8O5QsTYPstdTvvEPD++V/Co1h/1a9OmqT/qJ7Sw+32+5zkLCj7XKa+3
            LU7o5VTbc8JJ/Ho5Rtta+ceOC93gVP2xswzj8yMNB/5cPA90+Fme9mJjo36V
            P6d8fpe7sMHL9V3+gu8/2u+nvP7eb5i/9xuv3/uN8fd+Y/293/mjnecFZr/L
            X+C3pmyLA1R//RzExg1z/v7y+ll/g4X1h85W/UP5j/bTxsb3j/YP7rl/tF9P
            ef1D/R/tr/YiLfzX5O6jXet3+QGPIDG+yg+yb/FH/T1v7Uc789T/0Y7rL+Lj
            R/m9FyeF8kHg/f5y/UP5Hzqbf6g//1B/XX8o/8N41h/aH/H3yR3198md1++T
            O+Pvk3v/HH98neD41c6m2Er8Lh97c5T6o/7+V+YpP6R0el7U2lVeOyv+dpzr
            j87OpKR4pa/y8QJH+bdBAOx8l/cX2PkuLy/w8lVe6guM5N8WA7xJ+TqR8xAI
            3+VnEm9756/l8Uf59Tqpv5fPH+V7PM/1e3kiJIh/nWdQLhvngJG5fh7zg8B/
            7JQz6PET3O1yN787OzvOzT/gnuv38rI//rR7fbBov5W7PSln559r/rmj5+uE
            ld9ODBlJAdsLrCURjrfjNYxldK57fZ32b90z5EDveHCYgXQVlidh6TKWtfzd
            81VJmoumfa5v5miEyxan1NekvDirA+jS9Tq3r9n87f4nf9vJb4Bafy3zf/LP
            X99vxeuLf8SU56/78hruOff16769+dgN4fvX/XgxngfYze97N7++b/r5NcAZ
            Zvi6j/NrwOC+0uf9HefXB9xjfd/PO/d9cmr6/rbrXvdXyY1/X/fP/fyr+6tr
            F8+fk/xzCb42+WvCyw95QPvBsY83vthTd6bsTNULb+ypeYMom4o3CLKvPV95
            vub7Woxoa7YBaw6bFnW343nyVyTQDMvZ6UKzEtR8/Ho9D6hdBWb81W/n8NO9
            zvucH7sR/dniNPc1tZQdgf8Oxh4JZA1WJxLWzOxD2Kd3PEFj3eiwuh+bVxTg
            mj7aKRuP/X1tWAMcQa3qrpKp/LxLHz0CNDRNQAN5WeO4X6v8rhOwabXKHZ2t
            OdYezWedeNe4Tp3Yhial3Ngd7zqpxWwykYY6t/UFTFnfo8MGbO+7NvedvQ+2
            BZsC26UGIhh7Hwvh32+AWFgfb5QZH/s6LMeMdUsIGs+JDTERN75fqINiGBQm
            8Kkt2eTe3YWPOm1g1lQHW83lMQzBus9pBbkPLmi3U+aoG098TtlwNeQt2sGE
            2+f476mfa+Z5pqzP0TcR8VlnoaNbkze0rx6bVvT2roPDk3SswSRy/ZchZ/c5
            WWB441QdNIFJ6SZW+ezLATMlsem147ui1Unxq44Dw1k0HkzTGDY/6XbPRx0/
            KCblwtwaD4DFkRD0/pgI5KvR0OL7hZzHFsN81Ynlo07pu853Oxxr4ekpxKN7
            LyeeunedvKV/V0ed1W3xVvyqA/QJRMp2gs7END7Df/ZVAzmSvXjt3mfi8h8b
            BeApVi18L6BXs01o+f6u7irgR5R4CYtjExq8X+99j3fTxymoYEfe7w93Adk6
            iYnwHdYHNvpnHUBhsLq7zn0fIjvs85c3QTBKMWrPrTX3TrAVHAYTYvxo9G4z
            Cf42rGk+E/C9IOj1FgWUsXatWsf1awL8leqwCcBEzmHtPD5+7CjvWq31TORT
            rU796sv7VntSO0mn8j7M4UedkKNxJJ2ne9lp6v6rDqChCWuH04TeG2F91kmJ
            4iBukFsndxze6qNOdgR33iYdK7tM8pE+oI0veXrVqYAkfX/XPFAicHZjtcWZ
            QnGu+uIwr5Q0dyCdmXq+sV07QAymA+iSMoqAwQZMKlAbsQUwSiTPEgbmHu/F
            8Z/Wt6FsciCRg34e8sv4f9T/q/6v8ne9qdKp0qXaS7VX/a5HJvARV3WZNoVc
            A/g6gMJi9YLUGxSomjz+WbwCld9P2dTHv/Gn7de1SXUvDPz8e3+vd6u92xzh
            zeTJGaStRSC59Pd/Xw2t3VD/9/5+fff59/6+3n3sXeqO/p2/n+92vGvSbBPr
            GuP3/1/JY2c5YbLfikaQCM8WOx+2c95PAxQpZWDEC1s3krQBOdGfnoC33E3w
            KOXVPERY9+DH43jcHKjyGEuDCSvJ6jiRrN7hWSQoS+EpTxjN1ZGE0VE39123
            RtM+Oe8SVXedpx71uACFX4F71qcw+t6kFqEM7t9EodVPEmy8389u3wPv9vQ0
            q98ePY+EZta+J1uK++af27G+QP5zp4qjgonJtVCCd+Oqek96bkDwUoAWHA+a
            e5wnX4rx35g3tY2+k3vKWqOe9iX6Q1netNZqT+V7OMVNaqu5F4dUMeXKmMJ8
            ETRHMK0p5oKJB+gfW9KKqcP2Cr6SKsd9A0CoxE3UKJStVQj1Ll7cMmgeRwiZ
            hMMKJwELjsXK1VP7tJwPMftmGwB0E1pyrWhCPeuvTmH8EJHZ2E9RP1f0opZG
            ch6jXoJ/mPuYA8aPBc6ciLiedaNmBvzBQlf1wd3hvM/oM5x6AYCvq/0qsfdc
            ri1TYnR2BRpNks+Mb6ZEAOPofVDfS41tzlg0QDlMrW0WULza7SHad/vgJUfg
            98cBYr/ZnOl33/OHzeMX5SUPUdrD+76FZ6GJxHwGdzcXb2FxnOnx0S4GYpO5
            rNzF2txNpaHwqLsv+005/2c9Cc6tHmUdp14lYqEuMWNWM7ZnfvbEkernqQhE
            NCgvbGdEg89SOhvtxyGEuZ+lC5PPzYTmzm9wPBVjSWCfPSdQ5ZSSkJBzkphc
            C4vnOUFkBGMCr/pQErJ4HzF6KktbJSlB7Uv2fF6jp6jFRfSxomRRFWOK5QGa
            d1oUR7kVagA7Yk2qajd/7UXAwoFbeFiG1yrb5DvakM4DmiyHzdU4j6VvnUDi
            PunkUR+PQ6mBrgmeGZNI4oP3wJp3rI9tAxCb/P2zbv6o64I9m+JqvHa9TgJP
            /mUngfeRGH9hoJiMPB1/t+rslAjYpi0+mXZiQC6KYr2jkzbE4R2/wTKxN2Ws
            kniRsBwSgi0vKjyqnQfsiepPO+GxOJUDhCWCE2ECHEmQQUFkVcDkzxhQq1/T
            j6vhBAWPQ7VwmHwPi1CEeO5Zwh9YpDs/A+2DivAjlOVC9N1N4tE1HX+HReuH
            7tCGv333k21i4fzDheFY1qGV9TGAhp2IajTr+MEAQLlTQ0a+bz7xLuC3Slg4
            wg58KfHA/Tz3bb+xE0GN3wUjwUQXChuK89wQ2EW1gKA0fITfAX+zcr3yQt8i
            nFkuq44E+I2ZnFe4dVZo+MCy2B4Rk4YH/HgGdhkm5/I2OTfBk8THnrY52W2w
            OIJgzAssalpEuYfpN1vvjRGtWkpCILcSuIXSwL69wPW165WI85AreHTsMvLt
            OGnoDVsFE7vcuGlZcl9leafTF82K5rQTo5dRCTfDbmORjPPF++jufolexcZf
            e3Eo4Z6A2AvVQVqXIGRqE/GzEfBaX43wvXnbe778i/fWL+8Ve8+1P78X6y/v
            XfYe8NQf30vhr++NZu89Qv57oYln2rpe7z2/vOftvfvB7hPe4ynjJjQ8FbEo
            OJlsK7b0VOM9PDX8rvL+pirlvvqINbdsm8B5YAWOaISRQBg02m+McOqvzchI
            SqTCJxOhm7K94hThpSRJPe7jAoQFjEXj4AJm7WWCmwZZtVp7Yne+VN5jQK8O
            eLQ12HsPloQE0FjdZc4D4nFCN5EBlrJ1nN0zlq93SUBU9l0biJR2+hC89oaw
            z3NHvja8+2Gdz0l7AMJrs5MyieO8y/o2ColAkpGwIHUacD6xgC7P7Dv+2E5W
            H7FXV7BmQTgtLxEdHc9EzfKY4bfq+3VT/OY25QucQjQJogj98L2YH5JE6FsL
            DXYyd578sk9OIYnfeOyiUTz8SL64SBOhQXw5cSUZAwkc8ZTfA4ZS9CMWFC+i
            7JCzGtCM+CjsLlE+69KVm4s1b3yQsDj6Shn0OFhSYFQAg8HJAywG2QbsQFiC
            xfs5cI4VC+QaxkcFSrxYBxMKMh384u0pBnM0kGtxxrsdxY0HpegxvTHGdGNX
            p71AhF9+TyqxPsATrQwAMm8yjGBxH81plWEdcP208S62DTQZRXFhY2OaOQ6q
            +xoR/2WLDMZ1qG986wBcux+AP87VfM0VyHQunk84h1psvyWb4i6wyzoN9owb
            A7WAk4P22cC1+ZcmyS/wEm3bomyohogIIJdrYAAPSUGaioHaASEXRP1x0Zye
            kXytlYKQaAtyu4LJJgkGSgUno3osTgNvAFIDhEGwfhyQF8EVdmznzvSUf5X4
            WhxyF9jxjqDiHmidvynSmNhomGPMNvpLe0HO2CmHCQWEWcLJ2KS1TsAjpBzj
            LWJSfIrnggGJ5z35mjyPk0KKLXng4xW4IKTEEkHUeNpCP9TxRZ0YYj4Qnzwj
            hBKOmxSbECd4tuEwzM9TrAUaR+zM/UAQBrZ0Yac2PmwcKOh3rHW7Mazc7SiS
            L+HgwD/IfDMfPiWYcuWs/IPjyl1zTxwI8BGuGo+wd4wpwEhuVC9EexAlqFoR
            KADzspUsm2ChFI334GlFtQGcOMlWCnXRovAA40iGZpaJ4tv3bt+7fe+JN8B1
            STLZYxQ1B7ig+2eXO2c6AtA0uuJNuxZOsZHGwj9kvtE/+UJAmcaTfLVSdQLj
            Ap0XG+jmxo/dpxJUH+fsvgzUkZMD6YaHjuIKZ+C4bJxDdChJxrYMnhjRmkvg
            IEqTIW193JotT2FsKUHHNlKOawuEcizKGFxQHOfEoynJlsobFuu+K8jSFxwu
            PJlDHHCUpakEiwBrcS3KBUk/8r4QbOke3Quc8fcQOCMPge7Q/nzWqeOud51F
            sEhKDBiN6itslcfRCox8EI17zUa5j7at5wpOS8Ip5x5oFLPkrt/EaY08E/4a
            vrODT7JnwG7Z4/EE5lj3XIGn5sXEgvTuV52EMp1U2cSJIf7c4K9uogbPYpfQ
            HCcL5PkqWyfQ6vWeDKNeyJm8EC3BGfEFGzS8ApgfyIWPIzYpoALEEWM/2E7c
            /AV25Po8GVhu3R9EKdAJIgTIHU3ZRyUurwke596B1EqRprQroUkVjG96J1Kd
            lQFOI3cl1gK7NeHMoQy7trYJqIiJDine+HsC0D8IDhIUIfDdiwSCgUmyxoGK
            bpD54BhwQoB4QGqWDI4KtBpxB5Vjfg6XZiEjDmJ1+DQluwALAILo51hjqQUN
            O/SR8BYYHK+ZmcSfD3A3WXYfHKi35krj8xa3TkAiWkdGCJsUuKAnHT8HRlKq
            KbdfsDpGx1P+BfITrCCONMnDRkC10orEVuCmiXcaPgi8oCgTnLYQaIuYeULA
            C1sdls8u0pYU2dDzR6aNYmKlE6Bs6TZ8CGzutf44bRQ3BWq0MtruYPzGrpPt
            1HwqYVG4N4dtImyeaPydKbDBiI19Nf5n8zW9231fdv089YHTDAaQYxHZTSzW
            QB5zrBwnFSyBQNB7Eguk7MRyOAB2LDDb8JgEuzaKhxoQlwPgXD5tnQBt5rBA
            KZHTAYYhXOXxBXYstQOODuBxMW+ASM8tMYiz/579/+f1+9x//nf9eEIlYfke
            MM7P8FyKaqc14JPyBM8RsMM/6t33rhft+INMEO9QEupe4E9AiHgsEt+hzEjv
            OFFLleDINwo0ueGMfPek2AAYHgpWsTEprVE58QpFtZ5EAd1CMCcStzhOOHFK
            OXNUInGKB2W7aAksJCifjBubdYM4bORWBTpNEIV7R4EpWPqRCtrID3m1Bnhc
            hUs2KS0HCcJEPqAcCpx/S2RG4zN5eoBDJRfCiWgiLzFY1rspSaVqm3BFmx8Q
            HxN2c+O1ldqB45tPeQ/0PbjJwWHSVn7GG2xSjOCLP4Y8lDWXJ4Dme0b12vF5
            2gkIWxAqcEmK+erZm3Y6Hk5cpww7unMPhpW4GEHIW/Kwl0Rhm4QlR0Ern5B/
            48cS7/WMYuBfYBEtkg+aE0dhahFVl7ApQjzPTNEI2hiQYAAre1G8QDlPCp0+
            RJQ/kjVxk4JZur007+edQfmRqd6ytTUEIZPMAxrgqMmq7OP5cQRT5Ck9uHyR
            e/ycvUt1nAPops1FB+zsN/f9nlxNEnajaxSmUuz+8T7ALcUnOvI/3o8E+D/a
            EZxeok8iuflFJXHEyQFyL1j0MxY3Ptr6HgcALnYS8RElfZ8SgfQey/Xx/gIp
            /jmOshd9c/spGu2ZakiUDUlTTVlolLKc7YtsoI1mJwChOMvRlLwb+KP0/A5P
            5+nxqcS0pdJ33VYqWzp6vThbcgRAZKB8K0XzG0m3KTEJqKobxz8a9eYp++IO
            jd6NQD3FM8QXgIannCq2Z5mDSGvZHWktFqq5RWTGd2Z8+g0ylE4nnGxf7uu0
            D0prEjaLD9zU3batAYlMB6siNyCSna6+3wMIno6kbhEXSqM3ror66xW8yuZx
            OMbVn7nHCHKjXuJ92MZUed2kLui+DZ4wxrsWiQmDwzVojvJD3Sr1P+CrxReh
            DZz6IVyI7SDoUGugQ1qgH0q/MV8miJ33rZOfNilNIEnLPJL41KfopCxQOLry
            yZ1bw8dQ8iqq7siOqoSOzssZC6Ci0IODhr43pflgsACGKQ5iHfkPSRND3cVX
            vdpAsGi3DSnazJ1gabcRqgzuSMKQsgA48PGUjYIbCL4QoQKVRkkyWfdnOXAD
            2D6afoBqnbGrz8v6BCNJFYgmFu8B5VNyiDI7Ges1FyTaE2aJjCnbSQR7AlsB
            ZOawI6l28QU4leB5RClqrsC3yGwRz5PmrV/Y1CKg4krSZzmbl0KdDpACIcNj
            YM0JRdH2DlC11Vp8x3U2kPIiTW8yYO+G9gTjGL4aGoXAPCW+FxsoO/qxYGNg
            sRN1NBic31KC96nE+dZJqOBrOzkbToLMbLMkyzXXDsaXpq+eUgUQK1IGXsJt
            Lmw+YdAowBnBwA30YPfzVFHIQOqHFGZq9l4jHeRM5HO4+xv8APk7UV8VMJe4
            k/gibwvD7MwnJWnyi7UtS7YRaRfGbYfJpuyO5Bz4KiwOfjvsqGESDI6LrLe0
            nbfdP/4BIVakpua7Q0TZaAAfer+kvTiLEgKcLiG63dg6jeXd+G6sY/HOhy3s
            ZNL/+Ykrc5pJ6I81i/x1fKSnaKgkje8u2G5qhD3Jtsik0ribQaKA9jARzJSp
            JMqcEGons65nVoYTmTs5dIqAEsjWEPIWO2k3O7ah3WwTqkkmu7z70b2059j1
            lVYmA304bjIsabe+aitd/UmVhP5cfi3obGscNffh1ypROrhbQNwF4oESCaoT
            KR3AYmZgNEoNAua31OSw0+nNSckv+C/8vkMAsZyp8XcL7E/vpqZ28gV4YooO
            L86Qux/Y8SSp1/slUcqAXHzxs25AXZ6e2ihsA70Chg6VhhvgPyaBMagjl2l7
            WrkRKPWmBBu7vwfS9E4S7bU2yrOPee16CiCKdj3FJ0AovlJN89Bx+KHnMzZW
            9mGRm5QawN73Bj7ky6EJJjrQ4kopxEUiMuAkDOIK2j3hpA4DteQbFt2e2/1+
            P3y8Hz7qdHwq3gPtL8oLc1DXWjJLPHzWGzwmE9kkgOleBBEoaM41j+6Ac8Gn
            ZOmXYy3GhDovFdMl5hCYGIv64Ggtkx8tqWQJ9rKJSkDfU6CDCSf56AiJWPZR
            r556ODKV/ksaBBFjy5ODwGm5j/giF8CTaMwmV2dOoxrdbUrXo4Pv05nEYdux
            U1vnZXFs17XvXXbbj+xc7X3wTwbZzS/8Apngj5JR7dCkefCUWLm0tY/NgUjr
            j99uq52pSHz9ZnkN1/ntz+/ro/zjN9oDaR/q+X3Kj1KumibUBXMzN9L52oMG
            ju/ipPdg25Wkzl374/L1/TFzl3OxbTL2dZf3ffXVhU/xjXHXAIwfiw86K0gc
            T+aeoqlrJQALgGvSVnZfyOfhyOVSKGvh+/28j13rKF/z0s5vKQENMkmVeyqR
            sOfx3pNJJWVC0Umg1fdvXOPt89z6qUaiktN2i6oCyfUxVo2zUGaPcQGcLpLy
            OG1UjmYwiKzPIARH1SGSGi+sehf3QY5HWc5FPRX1W/fikDAMGTjlosGCGS1o
            Vl0WjS+aHpzSSpSCgc3z2vE87dOBy/BOaoZGZWJ32X7HJQ90UiKZevNr8eAL
            3DXS9nOJ0e84t2yX6tzEydQ7Jvrp+zfbBOm1umwLTOv526KSRaQiDuPuNELx
            v0zO52LI9/8mhceFzSBvMjBONit/XPludorq8Pv7XDutzFg15MHoD9wk+j4s
            6mREiS0FB/LGZGV3NKkoJ0JvyxllHBvomT5AgABfoZ1sPh4uToMCIYw48bca
            d+XCjukgMQP4K8BUvuAxidr3jYJ8afWCBk5ul6JuLgyoDwIwtXFjp/6hDX/H
            oXbAwcaPNggW8YHeYdLwwVSwDRrA12YnBvQWRTqjDjBUfTXUwWTYs0Qir0v3
            gr8cCIrVFuA68SPb+ktdKta0AJRrAPriN9/BmED/4zu42zfvd3jB1+bge1jQ
            6iScFY8oPim9Fy3/AhU6xeLcmFemNyxPagJUYF2xFJmbbIO1VBUaAyRhQb+0
            pSIWou6D7gay59IJGISJv+2mc1SNq89m9nulbSVjOOTavrQviYNUEOAKBxUm
            22YMKBOUHsjxXMkkpklbNmpcs4Ua0Um6Xqf51Q75ijnamTy+A3TcsI8r2UGp
            OJbakr6JuG6Bdma9w8/kHOUBus3DRCIHJz4uRdBdxKmUumESqTUVeo5CROUy
            SJNoHkWBnJvvuiGeurvO5zPiTY4tkzIW9CDDAPwLcJE2QWA+9FSYcdEjCMHr
            Ce6hxpEfKVOtQWLJg3klVLxrpj+vLLXw6VIjH+saWybT6z/z/XGMCZNvew9M
            sGNbv33w60Ptw9P+4GwflcKdcwjePkqgOO0Jyn+dmC9GEsAo9MiYL4AIWUaT
            oYA0o9QX9wknW+ZeYOFos03hLv0MJHphh10b5CweiN98kbgB9UQEFsh74Rtl
            0EFp+zlhrDNoI9ciSI/YKo+M1Nr+erVVDX14zL2PZrf2mI8HMJjMkxfQJA31
            QLdy7R42xNAytZ6F8zKL3UZ9qutkjfJaCAxr7jZY7sDEHiO5036njRvbD9Y+
            /s8NcMk/1On6ar/P7/bjbp9tqPyJ/Xyg+sB8GAwnpVHkV7bt6qIgAtUJl+lq
            JBb1YmhlJYP69dRV2/FAALOHcxsSuB1nAtA1fVKHZxOU6IzISRufoLsGHN3J
            J26LWSnbANJB7fUkxzZPbtMB/FbwjbQCqn0zoeXejNqXOII4IXwwcRzQlgag
            weilik2JO0S6GYp7ZBJGXSTBcxFZeOAzBwhQNUXaugICObttmiQS9yfpfASL
            shOgrTsQ/dF0Sl1AwW2Pi5KE64N85338uJfa107Tezdjh5L4eLUNyi5JdlYk
            VeFvUDdo543nGuZjNinV6tZttVOfdR35Jfd0GiGiABSCRErYOMO7DfL5TS2Y
            /od6qPoxTpSDLhiejL5YsC2+qb3KcZi8ysOHHypis716SLcXnUg2yoUBJVJf
            OCdZZ9cH4qvEHAnFq8iq93OCgnYZSFCsBEjzTlGqq44SukSBWksm6kkkAhov
            dj/JEBqXkizGFKgY+2haZXYHLhxwhIwgif6Aqxfj6CUgHDSeKHRIM8bykpyN
            NgMmSbArjojEKaDLgP9WCoDCAGHcqJPWwhntBKDPKGMS3f+2gTstWqkbx0LT
            Munevz0xH3VFFJQC/2Hsc4BEp6qCIqQWKUgDQNkEQSsWE6eGnmzAW8RBucXI
            Zu9FkQvOgZCuZFo33VgyrekrpeyxJveSVy3TSRgJDtotP6Xdz0wtilz/FOeQ
            6T1tykTz4/l1nrv9HBiBE7d3uwxR2Dbg/JTFCngaommW+YA1MV4q8KPdbPS0
            u03HpL05k9d4aeFqCxl9qIVnOovETs7JgqeuUrUojNiFjckF60mG+lpQcF2J
            PE5Ol73bFrVjle+RpuU7mfzad105ceIQalEmlq5taXcnzNxgrQe5piy/Bpos
            ZPOELGMa7qb9mIgqYJBBxejEoArdvW9K0SYFgBn/z9hpCe+z3nnn+Zt39uB4
            tKqn4z93ITlifhyVYWKGd7m/XmV0nnVUBVdJrGU99LMey1QPuIa4T2UCBnvx
            AT1poUGBLifjMtPhyk1wKSRBbDZZniaE11lUghnyZhPXm1RtJ7eNNnGlvgbP
            3WSAJGN+weBvXLVtt2laK6seb+A7zCRnPSDkL/C+9Tk7cNKG9X43dsQl7og/
            7nOVZb5FA2hlzUGPkY2UKU/AniFiBQux3UIMKfd42X2VbsVEHliJblaQzlxJ
            QAmCa7/S1kR+iDOOmCVEG5/fNs59x3OQuAmTg2szyoomjfY+F2h7BMipw4h6
            amOpybYr653vIA7tVX5o5QFa1P0ko8FyRThTSAd8V5CSDbjF3r+5VDZHpAjB
            EgBx0mdidBP0JhL3prE3iGHfZ2CaikycXJVNvxdHXus0bKPBt3YDhXiZExjP
            5JyIJHGvdNo7YX+QJyUmK7Lw5NJAWppbBwGtt87lUhgmemg00HQMapIcva0b
            FdD40B6eRHKZz0mVhRki2vP0X0g1MqaTl/jhUn0ubKLLIMudogcBSQMw8t14
            GdV1rE/N0oVYQr48bdH0q/LUbvzjRBCl1KnYXSBwRqBf6IjCd9Ry0vqPpllj
            AFhRz+1p0YNbsBedtlHYr4+PslYC8Q3iCNuBp7EX8Wz9po0AKDI72cFOeKaw
            hGZoDH6J+2jlYxMEFohNfsdm/EayE8ej9Jv6cHLCW19C+zBw8oL7lHLgBDQa
            I9LlwfljMOie59aJoYYPpQrTcQPymuuFk5ULD8ehymTBQ8ZYWkUjq01wWGjg
            w/UgNK+Olp8pb+Ii0RUbBGP2M1FsY2ppWuKAyyTR0TgxNJaQ7TS5sSKegyoK
            bqrSE3+/iRW6olwMibEMYUe5NfI/Ovvbsww47fBlB79pU2fv6o0eQZG6vv2G
            vW1iEDzXFtjqu4+NAwGqNzZc87IegwTHuueoDBb9c2hgh10ipooTxd+lmmoY
            /Zt+nmbVUWIZx+fgtRfNYuOgHbBZ09CevpLrnQ/589yGROFVijn8bp1M2iaB
            QUFWGtZGcexc4OzRXk3iSZYcNm/j/Lc5FiGIpy213r9KO/2HH/3H038H0sN3
            XGIYfKC3w1c9/wzWAbaZpRw3kFJpjFiyjU2bj9sFQyrhjA33QacEfA/9ZrFR
            5WNktn/0ueG4QOd+9QdmmS5bL/s/flOjkeLDI0hC5pmZfe+Tc2/RekjjuyEH
            iMsJLfiA0xgXiSiCO6/20cmgs9Ha7AMuWV54xl79agsvvNqQISQGNEFBHGsb
            nqBEN8JooBIbIbEtkvXBPMMr7UhK+zCBOiZTU2a/3erIKjTYezTeGGOS0aCA
            dksx6q53eKDgjX4rZvsAAHkbFzu3/1D8eCe+35HkQDjZzJcbFRHUAZmAwN6t
            H+/Wj3ed2V2zT0zioqHipFax2Xux7MW5tzXVaYQH8eegS5dprWRhzp49mbr3
            9NfJOkeek9b96OJt7jdTSSd+tjnac5PUpo0Y3z1eAzcWhpPLetwcw4FU7hSn
            vj+IK3jqAMnIz7NtlwqPHTuXP6fdCfxRvsYAlPcm8aOIm0x9P4GF2loyhyIY
            1UJ3WeuZyS7byZ5irUizL3dn8IuEEP3pHFvYk32+nWOZZYCt2PWuP9dryebo
            FdNHukZbnGcYNRTN46sL9oFLMIPxaeF9nzh0wrK8xArpSblqRPwmO+Uc/Wuw
            WN106rTYwcKJk0f9dm+DkEiHi2Z2bKjf6jRGF/XbYwZ9muxEcOfpkMWBb8SO
            HUMwiyPlCIZ7l7KvJ+qGOwkSWi1ggej8VWyxG10PKenGnpT6uhmjCEbey9JS
            RhT+9kPWrFOW4518AB3l/HR10dBwomd6alaR11TW4IS87ocZqWMU9DuT+wdj
            Xr+eN3tOTk333e5DXxTnRGqHX3WLPXPG53hz+uj7xWoP/bMqOyJ2nRHwDlsU
            /OnQwLsNXBGVaHaGReqncbcbZ0QGecrclP3as7QHWUHUl49yvy3wccCybPip
            U8aJiTLWaLQVwwe/LfUpAQNdBL7GGLe4y/3ipokbP9mCRWdK0b0wdS8MmWpg
            bI8tAeT7NBpJkegDpReml7s9XRpJXck4xCmIDtBXJ5YCRjLzpofsN/5o0CJy
            fQVAt6bNeyk6uVuk60QeJ186WGG+HzA312Yt6ITzer+F0vl+t5PjLbTI/WqM
            q2n8wbsxdaYO5pXthBkpTbGDYDrF61UmTbIcJQHg1HEQE+jQMfkCcovp/B7U
            qfGDXvcuUQFFO2cjrwsnC+UJB6xuP6EZewyNcuIgs6IuEpo2Y6zDZ46SE8n4
            cDLpDEQXLHkKtDale/FyyzKXjJZTTJpEYSWz3Xs2mGnVvjNMC9x7qCnZ8104
            3IOe0w9dkgDGyGw7szsoZi5FlEP7t0bp9LQQ7PyOwDBSfYEOtLgD8cbyTyks
            PRc+GM6h4Esu+gUT5BgIFlRayUCkktZTIAq2kKa0tPqUDekUA0UrF5w4gIzm
            5sBAwHQAqq9g4n8HUMV33FEVl2bUIBiI4UI3Q/QjdmH/It9BN3DApHQ0aGoJ
            CaunTTZjDnRvCjXGNHiVz12foR0ugj4vp3RuLp4AKuv4XYm21t7iH2hidt98
            FuOYY4a61euMLST9k6MRCmgvh5nB7udGSg1kdfeMk+A8FXdULUTqDcgArzhS
            DU6/pzYmr42yyc8rfeQjY2EptgH1IF76NJHkeS/O2kHBFUWDUTZISY0de+c2
            cYNsayyKb7IgDXaNu5xGpTpR05yc7miWiwzmIGXYvYMyADHGm8hSrhv59ZtE
            CElumhnTQavt4A6YKkXzKBYnIdJkuWZPbp0qd+5xmS/te6Mmiz44XnYfaSZY
            sxAx+yP/Vqk3mSaFCHuT0Eoz3Ayt8bJ4ZRAijdt5GzfFODVYO/xNC9Uy4328
            qo8X4O73qDTI98XZBk9ZNbG6eVvTGqAkc/rSO8lJQuH3yQn0zwmWYgBU+EoT
            A52ZMQTaNOei4GZXhA1ZvZARA9hZnNRB26pwX1KI7Y7px3s6tvfi6z2SjVMy
            K5SpjzjPs3afNqNL1SYgMcA1nSBpgDjpgCSbN9DeICi0mNUWExN7Az+CuhMO
            4/v0n07JQGp0WfhGGo0Jzp2TEY3JzASp1OC0Qo69uba9KZw89gqjGMYAooSm
            ZoAsjrHzbwW9wFPvDrOqdogL25+fqU//7rP30k5dUoM12LNkbofeYvfhRe6C
            CnA26GS47aItiC7t1mIYjGSxJzKSC695HCKA5rC4lx/oQzOJYUyqxwcHUF57
            8vHJmICCjfMwQFpp1YJ0ernHMJYUYwpIDniX85ux8ub9vu/aLHcRjkuytpSg
            k7FkHP1+Gd5edLi5c4Dw6Hz2+KeRyvOUcMmHOWicAGk0DrxsYQkko5hhgM1O
            w0qCOC6mXDgkSvB8pm+ii7qTXxCpGmuPtLfwLcqAPVQvKZvALou7rNNrIve2
            XUNoOox7zXGywET04FXgPvpxTk14e1FdrwlnozwFxP7cyRSJnJ1/KBcZcVNy
            E6N2JVk0q3PNJ1lgUIJxhfjcGkYxhWaKtT5tDT5Np46XAxib21/GBFMdrbIS
            zWs5y+B8SNSDib0TPQRvSqaX3NWHvAYIiGhBU19l4IvwsvRUrzL3tMCyEw+H
            jqFDxug1rB9e48BXN874zWj0KUu6sjd2FYjF8vnEeAM43ZSWEPzSLgAswykD
            oUCHI+nE9E4FLmx7cRT98no3QPOkKIZSntBlKARZrp91+th1zFua5CjPopNQ
            UDO/7OMwUex0VhPDcNI0sRJl2QRPcb0rxh8Tn7i8xctGgXgQFM89q4lYqM+Z
            50R6w1mH8Jjyoq/q6/Rh7Xy3f9oFYmcQ2XK0r9RpEilfItMfGX6xTE65LEd/
            bMPEq3heiN/vFrBS1nfEO0H9XBUYS7FFb1OysteU+WH0A3VHrle3lvfYku84
            kT6T3nvofzHjwmnJpEoo3HStuNJAPZVBt6AsUcWi10ChDo9e4neMN4hj+j5T
            zUscUCRIixnlxZPULZgt4N2H7FGmnNkppNX1uKZITIpuVNUfmPlBdHUrDmMG
            u6o2QSkp/LKjGxJYSoBdmgN/lHlqZ0k1Ah4wwGzj2O61KJF0DNXCZ9HFJIo4
            3CjGwDFKnIW8MqXCgNvokYl/MCaQYWAJ5n2ZzymgpcZBBYld5y7vxchxuwcy
            x9VRK+nNL/SzPsvHR30MB7wsx1tQDcTt/s0NXsxuzVv8ctDpoPvzuoEmVIlS
            AZGqdTbxAIVUCml2Gq4xICO1p4repYHjdO57lgP4OXkT3/IyvOcu08BUz7mR
            xV80e5actXc7d8sEard345vkfNStXUaRdXPu3/2jDbV57Y//avOMsf0YI8WH
            p63i+se7aqv81tYv42saX/t/M77zzhlbNWWbF6D4rw1Ujd6/fPB92tm+997q
            RMaIed27K+923u/w98dH3ucj6/Ojnfrfux1Z63dCj4uEBKFGCQp5YVCD+aEe
            ywclH5y670EoOT47BEE7ESe5eqfSnyf/e5ASxdfdARFzpWSL0kEG1W0kHNwZ
            CE+hE3fuLcEXCVO5g7vBZ2RgFahQ3mUv/dAOU902c9ia2WRvviqa3kQB3Vx7
            jftsFPYhkLHdy03oaL+DhTRxmzfBkaAlDUU1HBNDRj1SgINqn2RXiL8eIMhq
            1jeyu1MN+X3gFwBnn/vZNHxzoArf2aBe/jdsP2WwvWW86uscohbb6JvPacs+
            x0sW9WowD2tkquFM/hnMNR1QvhoL1pjKxuf78z2g6fsZUACWGrLK3e0Ua2fM
            j3b2h3Fi7T37uPNuLv/Wu/d+t/E9x2CtdAq2uDvZxj+pH0qSMBCkJ3t3pL2Q
            2TyySwZO/Kj3Hz8vP57vzeH1HcDXBIsMBNN1wqiwCtvt0Pdu4d8NN7Th9SH3
            c4+xKS/auTHSVSyKM7NPCkWzDOJA7Ox5WqjZGlRQ3RIDPXKfk2v4CmGS17V7
            mSdO+v2C6iLKC2buy3taxOAq7QKtech2J743U+tmB91IWtPp3Jhez0CPdNh3
            Lb6fU0XM507ep25SzHM7joPGD3fpFIRS/PcxJjeUf4t9y8nJxhVHTAzUhLGk
            38YFsjd9jivtcaU9rmSn6TWuuMcVNS6c7XRvuR6hybS5AydiizPknyNDbgMx
            Am+RHviM9WtgZjKyn/TxMupdtEvjQGmxmXuuZtzX5CUQDdJ1CRYZ0AE7ROZJ
            tPA0HkDhh8uNbbJM40pB4vkN3mQwEtXNIMa7PTDmo+/f1BmpLqfy6HgKSNxE
            hkxwvvE5OG4lZzq/GQ6F/FknaS8StsvHmQpBn8F4M97PeKb6nPI06GwfBGUf
            Xd9SKaXmhgR/5JxZp3KcNK9n6A/OQW01lk4hKOVIDKNEL3PlPHn/ZtvkBknq
            Wn9bmg8qkdTj3Cdnhzt/h6YisUr6XfKcTL9Ckpo8V/k6H9VzlsSZwT3DXMyP
            SX1lZec+ywoAM0NjLewsTap5IXRH65w6Jr0t3UqSRtNcgobyNGAMmL0gyTHd
            fQt1QK+ytMKJ8zlZ6mU1KU8AThDbjR/P04OFaoknV2puT289Rk5s7JMCcvMK
            Z1hH2irJNNfJcV7SdV+LwpmMYZ7bYUbGenMMDkFfWc2FMlzYdwNDjulvBY8A
            0rhrTREAiJ7kgUJDbvpTzsAWGocFmOX9xVh20sNLULYXR8Bh0LZf9ld1B7kL
            NqjAeC/dhQESUmIXmvoIuV8Tv1Ed26kyjAJPD/1HMYFjJi1oN6SeHllSBSnP
            TBeCkV0PINk+jQA+tCCljrQyTJo8kilDYybD5yPUGIAyuKiX6RRNochVB7q9
            1KKYZxStkDFm0kJ6ilC8ovtr33u7r9NOnqv7nie4mu2a7CdoFWPe8bQtfDCm
            JpCfnqHrxZgCmO61HEOXXyRa/L3zPBmhgpWRSVnbBE3qZuCCkds12tWBs9Tz
            afXjlhAwWQ/zKFjluq/HSibZte1OMg2HFeDUGos7Vszt3U4PZ6ZGmK++fSjT
            x+/63K/f5eN3s7DAlcwwg3zJyuYpNmnhBqirdXi5Dlr4MIFegMncJSxk/g1J
            qLelD5l1vcvI7IwB527T1ly77ud7eTwB/KBOFzaO0pey/s1gfifqCDUlkhjI
            fMPdydoHzU2uZMiUdkp7/8fxnX7Ixci4Fad3llsqQLa59qYi0NmppfxN9QJD
            Wn18AKMoedMA0t/LpKUs2x24rvruWphAmnrbScFh+ojvMrfQEGQWodbQ7rps
            ERZo6uUZw9g76XQwKKDj8XMR/vSBXICw31ueUq86/jQxnIwHQPKMHb8BoeT9
            UCZOkfA3ZXLYELhvcW8UkDSS9kycakCNRiEryhrnQfdUMIqFv2lVgoWNDHHh
            mcOOkkVaJo6oe0f6n1ahbNjvIBuk0WleQ68LpW/2gki6d3txlFgxamegMUa3
            NRyTBmVrNFG9JBh0IQFf4o//Mb8iQQQn50lPx7kBiPP+GMjxj2a9FwCWE0X3
            lJ6fxita7GDaKN+WTIqh9n0qxTNrMv7AVdf7PIuABDSVmq1TYtVKJOgKkbZk
            q8me8KLcLm7zqXL4I/ekRRHJPSwO3Ojf5eQLJLh8Gvh2IOPaZEXelIoYVEUG
            Jjmhxd5g9VoAz28wm4FvA5OWgA3lXJDfYPzQpsTElWZgiogFquiWmZnM1GSe
            7C3y1GBYYuxWaryvHhjEHPTHZWrqYPmUH7qok4q2DihYzGZ2m5QWAo37Bvy9
            gw0xXgxNVykA5YagmyDtfPk+A5eCFsUuGvLDp7mtxBOXEmbrXsg3rnD6sHLT
            DalMFgf3dcr/0P9l/TN3iTelFY0+/CXHpsloTowsv8MSc8cW/xKc6sQSDyYa
            Tyoej43R07jViINGgaSZrdrkyjpDzCmD1NmV1pbSN0UlUWBM5RUYzapSyULN
            J13yb/CEuQZnAYnctrVuZB3QL35flDJg54RMmV7ci3PvSE6KEZDMfZ1HjsIX
            rWoVyUcihlGjGP4ajNquyzM2CKQUN02TcX7zXXfLbEDufiovT8sZA620xFNU
            wqp2ClWay9rMEorabyESRerFwgeawDp9OA0O2Y7ZI2iS+JuxdPSxDIhK2wHs
            UoJ5xuEM3mJVY9CyaI20vqEgF/ycQg6g/ttBjHq8qtPxEHz9h33RgOW8Dz6G
            zsDVAlBK1oZzX8mQxkEBlzJtePVxxVm5iDsOQeAiUkKnlcQaLTJHXEkGjZFt
            gN8fR3cp7AbxDeO9EPzNwWWmAzSHU3cWI2MxqFg2IM7V/WXRqRjbVErYhMeY
            Zq57b7PdexrBAXJNWL8Nu4L8DJZnyOq1l5nvJmgOYZP3dVNLh3r6SegcqukQ
            PIdAOlTXi3D6QW2tuOanOKnPO9p79rzudg7hhPnS5k0MEgtKlye4EArQbRPP
            mlFrwZsWLHaylVxhVZTOJUuOuvUkAr4/B++2gZ4viodJ0EHbnemyl3XCahbJ
            UHMWVnLNeAlXdmAjqnIIWtqjWG9gJqeUZ+ZLSfodbKy14eQvCkIMcF7B7Gii
            Vc3Rl3Z0jCiv0H7KuWbtxmDt5soYOe8A4XPjE+VxppbTMZYVeKVs0dt1pfGK
            UjQ8YKSiQmnKNkF2CvTHEttQRVTgJB0bDBIQTNKxeCTZFx3ZuVR0D+5vNmDc
            1tdo+7p21EduObNbCyFIVbW6oio56tfRyJDxIIMT06t6aVAcNINdVbAS+KOh
            xXBvGM4o5RxUUzoUIwhIMhIl9WnPZHbZvz+mN3vW7WPexhXG61y1S03BgKaN
            agsFLyoneCphUGiUizE6VLSsnu24lFj4ZIYzZoxs4qIIQP7Q9ILSjFRrecCE
            KrCQ4mvTfYPcxk2Tp505a0eEIvJJToHB+/H6Y/s0+N7G8fJvuZTu2c/CMJK0
            wQsKoclkPUyaxzOgOQNv7RRnTGDPg1O7SSdMbtqtCbVsVwyACIYCKyuqweB8
            3zD/klIskx1lpoqyft91ALc0hH60gxmkGx/M+MP8cKq3eU9qlPcSGR1Ki56G
            0T6UOQ2SYyRE9DXXS7Map8Wz1uGQf8O+FxWMKYgWM5oqcNqRSewBuBxuMNMs
            z1YuKj/sic2W9i4wxV4WYZKJl7honb7UyxaNToyZsaGdSQ5IgtOeehMNJG6K
            l1xJ0MLxtLONwYV31oaJ8IcRQjafheXtuHde1o7K2ivXZIiz7gqPTFJBLWKw
            YQ8SHdA2WINcHw1pgHUd43DqKibF39Ry7gSezBUjyxKR1pSL3Ng6CgZdg9ld
            O1sobwRJH02CVSB/4W5H7+fSzPH1kS4W4+rGR0kvAr6oDKrCo+XHbbifmvyi
            +J9T7xUCQ/PfCbQ4kHJMmdsmJzM8UZ7O3MkykWIip/DKuXNJsk6jmLIXsTIy
            RBmZ3gn96YGoXslhM2PYCjTx2arAxRtM6spUAxZA3Ksfi87FpHzKzaOgeqIm
            SeTa4iTzxytmOhS5TeheVQLvCdWOAUcgS6W88QpiSXFLsxw7O3gdPVVJ+/Vy
            +XrcKeTaTQAzfWCcARAoID6APnT1l10J/lLCmL39HqRofbZoITtuWiCZ0G+G
            VaE9A+OdF15P+pdEIxmATIZW4H1+giTAt0xSt4dcNLu6Z+6Qyjt4ONMGWAyf
            SzbhfVt6yp1xKIdq2cmObyNY7L6f99a+Vnuep10TgJu3NNmWKqZZvXHt93c7
            zLhsfjy73GwIQk4WoV/pmxOtkK93nhkaPQQFsBDsVpA6fWtYJCebSE8pTwDa
            rDzt+DkWHYD2YR/lsuPyVi6XB5Rnl5d/2XdhOLv8tCNrZ2tH5a9+nfU75Ti7
            ZMyhfDqKinopYATvp4UKTQxnomAWtyY9cXffDPJg32R1zlhuppzM6Wfb8Wfb
            H98Q//AN8Q/fED++If6Yu2WCz2BRaPeE1Z8TuSdYVotcELJc22cFv91xXZh7
            p70sWIzX6RSNWzBtNvWQrxa1dW13b5B5IMmBYAPAE4MwJWNK5U3GBIsJwws4
            ILEo5sHZRPI+Y2AHi/8vqg8wQTHark3MnOvJJsWQMIyMKxEcbawVTqZc115s
            t6dWyAcLlxLdRezEzWkWrCFaLM7n9b32/BUByoI0iRiiqZi/zbu7M73Apxfd
            JlYo35K4iQzoNL0O5gs4bC+O/HOYKmRyQI8FsT6/65v0oxnSPZisI7aTv6ww
            lQmaJVk53NOO7wk3ItuIxcx6T641yokIRjgwGggyqp/fYX2jV+h6gLMYWEai
            R1FkaYEE6pBmqrKgO7iA/8tmiqsszzvDlXLpWPshMWrgDSigXGHZ/9aXguyR
            XFYWZWXgUjwoDoC/u7yTZdCoPqsCpGI8Yfd7SZP5elcR4ve7lWKo8B7fKwrX
            iazLwLa/RNatZisdRGI6m4NmYXy9TQrdds0Qbh3KyjMKe7tfk0sDuOqv65Xp
            8FIuAA40KVSvl2uHq5ikZk6P8VXOaO0N7ysqh0ADBT1+U0RfkZpOXFAKKKlA
            q8k2iy8aG/MdtHyZ+qD0pGfBWSBtRrOVXUK6zTgwEJQBCUeLdGtRTo/dW3uy
            uUcuXpdlGq33Whbrc8dMwLNHsRmubevXnnXiJfDIfD3zaCsyaa6fN6jHTjfN
            +x1teHSLa3pZdsQSVvTTfEJDk2C1iSGk27ZFEMzvDpQQoSuVo1PExtsSKJin
            gQ1IGPijfrl3/TuG18C8ju3XIHauBLWBE/j1UVIe3bvO7se37zrgm94fXtF+
            kwq9YbKc8H5cAQgj08Q20Zj+2RPx8a1+fI890nSWi2fjNNMnS1HzGoe7f7yD
            sYtU3uknwaOFHenX6vvv+hQqftXPu/4e03Y7DF0n88di+P7j5fKe5Dk0yS6R
            uA0KYk1Pr34sPRkah74nV5Gjk1P0eLfL447MzuMGkDL3b4Xhpq6yryCT2G47
            kdkedvp4prWlI7tSNh8lXQTvbxF1uccYMaMcEjjtSCAMASRnWvKOSvFVN0gB
            mc483IeRvixoEReO/IniSh9lIb0efB+Mt7fwbVU8IHtpxg8qindeUqEXJ7dI
            O3E4/Ee52FOc+GtyV2ulbYevIJ/SYk7OZJIVcHlLpYeAKJgsk7oOL4Nuxg5p
            5GCLmTcBARNJEr9QOH6Cd1FhP7YBuPx1aIjqlHh8+/djdrK9y8Dd8kaL+/6h
            odFQsm4OLjKfgYICxdbDNjeSd6sFTYoNcFDBkkDcuJTwbNmi4wu7EjRkWQAx
            aYryIIK13fe9SqB67bikDKu8nzkraxKMRZ4woibyGuMymwLZ8+ejw25KuMr3
            Ok27hCN2XRLoGAuhitWR9E4qf2MHY1TERY5lUoTAfDEFJAvFXkztx/6t7XTv
            xVlSWJDZS+ksDHdy3b8HTS4ocmknAxW9QOXbv8Ts9ZM5ychOxS2otoMSVb+R
            luDrNRDZIzHlJPuk3K0Wn8Zuw5WmTFTBJpsTU8wWu6kdT8Ep8CDv+XE7McRn
            XSZW4nUVSwAx73Ul4JuU6Q4CCN1GSPKJYfxUcqGYTOmhnKJYc6LpWSf9zVq0
            GWD2XMbcXvtU+thjKgS3DG8QzQO6SsBZUuiKt61Q303pJc14I/c1fvbTmpzJ
            qKFS7OB67T42nzPbTstMcXYC4vvZADWNgSKbpgE4NeJKoi0xA0KE+l4cV1YK
            cjvER9MRV9IAhrSXNQolED4kRbGgv+kAoAkhGPXHhFRf9S6rB4Q6trwKx6HI
            Ov/seiY/BBn/OgVnN/88Ad0pkYXIbyqDbYder/6Y80XgqDANOUOJW9ouvn9O
            HXf99Ioar035Ph3enUjBPK0KQ0dzZT0P1+sZYNopk00eVQaXPNUHSXRwwPUc
            jrCptZUt5VKr5qIXaORAMBPq0w88LTQEaHSKoUXTzgUNWMwPAigcxxv7eF3H
            2reF5s5LU9MJJSzGH+fJROfVgsqN6zy3+iLXd/ot/paNEH/n33+/kr6eAEA7
            WN2zx7WiXe/tJU5yVnLKZv6o8onC97stzEzM/KOog5iLbEnxIniyZZEbL3N7
            B+M9RXVa+MfoTDXSrrmtQv+SI4JpxHYuBhqY3HSpB+FJSyDFTkgWUr/WLVu7
            /daEKs7aTv3IyHmqzFD4OxBduCwuG0AKqRnxNBTH6z0G5j6Nbx25G0tO5j3l
            m4PBdryJvE+71A1xdyutWJIx3aWjTp8ifCyNC08gB0bGYEqxzzHKMWrHPmD7
            wOMgVBmvucx68qZ5S8HFoBR063rFAGBIdlBHfC9MxpGwSZN6gUu6vw28msUJ
            lzicXu5FjkfcpOBzbrKrluSPHnmWUIksCDc3Q2CcduVy6JS/DeeF1tR0p5Ba
            osnHlZJopfSkTg20xSal72fnthOlpSi3j+gZMkyTprBXod1w6eQPPphMfthD
            XO1B4AaquWlcVnvnBzDhI+20bFEBAKmRZfAoBrmv7sWMmUNqpjsI6P+vwff+
            Pfje3oP/bbzlx3hJZn8FZGh0sBpKCqiYcWQ0vF/MWH18OhmldioFpxt+R5If
            0YGKyqM4BtdFWctjWshIlt+D/V+Wz5oxC5elcpYN3aXEYHbPujiGXW0ytuEH
            Q4rdOqtUKUphU7cLCDCfmWvHEyokeQUgGj2BFsZg2TnlkC3Qi06Wj5MRF3Ya
            Ss+wVVRq8jQORnTC5LVoJrEGVRYXk+7eFvKkvYLcSVKsI0/7M3zuXxOfMjej
            8M4kd0faejO8lFFRaF5pJnu8zdgvJTVZlp1lkAQm0c3vOOnImBCB5XWHQGJW
            wvOe8CP1JTQOeueoc1xYJjc+uUzJEpx3yJwrqjxoW5YVBjRmlN9NJAgEy9xL
            IhtKUpbyoCaLkzMf5UUtD6hZQtbELFmGc6IaIDhhfJrU4yKSA50SXxn5wF/o
            ZfsYgZnazRtLWT432Lju505xy8ycPhJI2cJSMnQfkGyT+kEf4pSpijBeqoFd
            B7urySNsOnfek1S6rp2zjWWMKBu7QjeSOWllikx15fqa0EIOf9BYJYXB9Cyk
            IAGivZ1Oxg4LTQ69hm+DMbvVvyHHJ6QoRNoYC8OqauwMs/KxWPSWldIx2vud
            m4WhyZbpcrgw+G/SBOrwNpjfu+1vYju3WwKp2Rx2o1iwF6jqdCkEEZV8W325
            zxdXthc/6yaQDG4jOQakU+gSKcSGBv5chq8U+f61m82VnQZ5JH8nT55kiPQm
            E4lbrzfOkJnvK37qxkHasSClGQrxSfI7lWDWW2DTV6xRTkAKj9w3vAVXrh4n
            7kyq37j1avaMCr5z4hzeU+iFxEghdShK7iY0TvbGk+cUoEOqh75zMTBfigXr
            s3ynyhAmNf8mVG4jTOYelzspOqcFf4p7cShjYNYyi9A3Qd2lt9OpggUxgrHp
            cbrkXpYOhXsJNFmhH2SIW8MIIlfttMoo6jL4Vt4eAlLArlQ32U284OQvash8
            MeEEbZCTBZQ7GsgN+gilm8qmnICNuqoKu+9ITWERWrlN70/ugsbF4mNITi9p
            dJ2IDbrHUzknszIJYwViX76sW7VMSODM11TGkZLphw9JAgNlJP9s2+pHCJ2E
            pj82FxEc/9Z3MXwHCQhs65PE9hWkbwdrIsV2PScFMviwDda8+ecwc7JN1M3Y
            Zx9UVdtJUQ+ZJ/fyD+qtXCaqYP6CL2oqflNTk/xKYhJU4zeCUXW3LCldqxam
            JLy0rXQGfkX4OHmcb0mRt3je0/o7iTDBmDVGBZbjIiq1IxhOqd0bWe1XICLp
            Ic1gPe9UxPQBPWTt/PzeaAGYBKrEZVreOsLuqPgHZnXKxtc215V3BdURhxKt
            xudwc5jdnRj45Pe8gCoc5/cg08ooRJbtMIZu1jeBXLwNIlxktqIZeWeuejLp
            7L0pJPdqzFnkj+euLzpdEt+8I0AdqQfhKUMs+t4OLmPQIy7Wuu/yRYbj3ed6
            T5Zsxy5b+FTs/la0dwNx2jODJrOg9njSsyHhHR9A8QY0CSByjr3zmn/tc8z1
            whfUH/b9e+R3xg6aeTUZKGSBWnpKvPBOeoNIt7P/kpgBeLxfxMMLP73Rg8UM
            HbcFotn8mFnfkI6jXuqE9MKnlDczeV99q1N3XpvLYO/rWGL3MoiI2RrvvGSF
            cjViWMwh1a7xxDPTRIB3ZuwN251isE1Wx1j6l4UQluxJ+dI7CRLGVqsyjviO
            A+ck/Z6vOGzO8gI4i8P2KAZbV0hkEzbWHZcNZQUMoFIWP54ykXDixPGEGi/c
            zF5th31UuEujHn0NadaVJlM54XdUCOTuOwgFPJHN9719aund1D9VH7+1AxYi
            /GznMk1oTEG6boCd+8+NajFCfF6RPdq4pkKg8BQQ7USG/XDMycjJTZSzBWCq
            obzRD+nn85v1aJnUmP2cWklaMURQo0O4Q6pQyvUwMC8CAL9pJoL+ARYb7eqa
            pOv0qCM5kxaD1jbWA0nhGVoFpNqiudL8LG9EegoXVsWyy7sDk9wSc+XEi+6J
            mLnRdnrix/xWaW5Po8qbKSqvYk5hzKtzfYztocE6RQddG2rSDvOxe/lLFEEe
            xnKud3C6gjVx6sPmdIQytIkYZDC3vThmfawg1pVB2TKl74qv5pVPlDucEKlt
            zzLLiXYpVgHt7HS9ycm4SrOgQgAzFRSPBr47lgCtSNMiEcEJOG3c9eN5/3h+
            O8W7ueoMdr1Dn1pUxaeWzxgIj0QL/MrEd5dc9K8mlVFkDhsHHp7OwouMHfFd
            ZSw1mvVetGUKcshiHcYEqCJ6qOpoRIIcC83dqEtiG2j2OPaO49jMMmOaaSAm
            sjz3O2oxUmc0lEHGuTHKGOvdwWzG6/5NLPFy7WRQDRFQtphp4xzFDAW1JK/j
            yAAxlK/RhVNhpnqTvfOjMCB3u6NlJSIASgrtFZUBitRR2bofclLMv4Ylw8Du
            lZWvzasc1BBoazPsI1TU1WI0z+QsSWy+JPbhIPPaTkwMqrw5+0uKLZlGMfiE
            ThioGHf0TWu8x68ou601gcepNMAMVJEZ5DVK8+pNe7vHHfviidSEkuo846Zd
            XPUW4oxZDjPztDWlc09uf0vY31JGXLKdw5MZSMk6iU4ABqMbpcubD99IRTBo
            BbCMivY+GOMS8MYMrzbOUWoM7LuiFWOKyQJE1m0VUd5UDmjMGAKO0qsrJkdj
            BBoaUkyD04d93sgP/N2kv455JK4ojKyjweIDnE5MKydZUFX4dCfDb6+wkZ42
            ZbYAvXPHD2o578BMXX0bEybao7zvPxf6yWCyQ1TodUz+orBSkx+xOF2LwwDp
            Kvu5IbDbFWVEoBaYmMaHpx/rn5HbLTCe7Bq8jYVKNZ5kRhHxtFoPyrJlJ4iW
            DG1Vtsvw4a6YlJ9932bgEUXtcCA8JVI5A6EF6ndv7fz1HhTz576PHpDx5lVK
            I7/M48oEPfI2fvx8wnsHB//ewYCWIAvfNtjCZwAaHsCwdlLbYcq4rtFWz1wv
            puQYvibHkJUijy1WZyCjZzhO5kXpcVKB0DABv8mdHphO9RFtGOx7QI3Om72K
            cuL3TKZe5mnjN0bDHQO4YiQGvjR/mjz7yzmr7/LRmcZNOQiyYn0WxVpIxMeE
            voo1GikzIeAHXmnWPvt0dEBfmq+l+VIMbeyJzec0CrotHiY+9I5UtXp/L+kj
            MAqvexqNk9ssGEj62KUf9zoZu1NQVUOJTtEVPXUYrgubDxMXwzbOExXUtlEe
            oft2f8pbxL+DZFtu6nO6qLn4ccLaGee4GPHdfvODOZ+z0K7gZsSpTm88ppEB
            wsAM94VrsvpMvfIwQasWB89Me4lTwQVK3ExRqpPL7wBFLF/jWXEvJFZGKTJB
            4awXyG1vkHvv/D10Eh7dsLz0XxdI8Uqrc4V/Xtwsd44nvEqUa4pADY79TXe8
            j86wy/7aWVivDpJiXTKP+AIWNQ46GWn8WqjAUPP1fe8ZkPv+uP+YFLKH/HCn
            4OMah05zxQ5u7XWCa6JMjs+Lgd2cni5QxNiaaEu7vpsafJJTZxpiJovvx/D+
            UfwjALeLXscMHBC6ZaKfRYhUjlTgjcg4dmUzoYQB/STTAou51nP3fg4qRu70
            TG4LLHPTGYp21MyGPRhUnPzCPWvNd1XwOAWr9GYGDdox0ymBCr9NrfUuiME0
            9EyBRffp5Qpp8BADrpHeV+io89gpMlMnYUSc05v2Ok3TPhbUxb8uqNzYm4GT
            sORBbrmnXcfCmfbPJZK1kTGfpG6gWwe1JnQDE/8AEKDcco6S7L5FSNvj4JbI
            Be0n/7n7eUy5UHg2GalXViUvUAP6muYdIHmc03gVNILl1G8d8CbwgwlLSm9p
            KniWXVg0Mtyf9R7wVJnyUKC2A9631dHioZJL4gbHyjgcFtNHep3A1gRKmVr6
            yNZk4WwfabuQXmk/d6F7tnidGtr7vRMBqPM5RYLtXXZHiXZonx2mBGoQB1aT
            tssA51amJeUOKsdw9aAUppnsW16ZdZkCgBSEQAujyj5BsDuA7I9bhARC5iYD
            63feBbYfqsYcmSZFMUPBy1qOH9JbdPFfIacfk4XTk6s5eyl5nFnjRPYFCo+a
            UsWdpmWPUiq7xTSZU5tUnm62cL2Q8d2Luct8fjoXTkQN8ww1y9vDGKNxQwwQ
            JCMBG/q9ODMo4iat+78rYjJoff/yJMDvxHtJgNM2tAD1QYaCSfjMqaOkz8B0
            sr6k5U6TcmsQlcRCIiRwUtqcZA7BD4DvuZ3llb4ZA/NRQjvfTJQPvOx9eRQJ
            d8aO06eccgBBk4JFcziiyL+pTC4TgDBkVT/0QxfzFTOFmcX7bCOLqHDPzrNG
            o5Z9P69yAr5K7+Q+RDMdG4OUHo0NjghHkuwq9YqCCO85U5CMHQv7ypYMQ7H5
            KI3Wztrqg2HSjWHtprGzHcoNTNbyQFyJoetlWBll4WFBjS3qQaDa8gyiXDYI
            yp/Mn+ItO4qySnmL9hXQWWHyac7vaSJH5MssU9hpsvd0ameLZdpun8+XaQ0l
            8+uSaCnQ6qLyjA7ipgg0aYFnEd1Fmjw6FcvmEByNzEp+ewUcAuTaIvwSw/rM
            1gGom001YATMuCzeAoiC/EnQKKfe9baJGK8UZsPz+9tjUQaO82/DV7etBztu
            N+WRCp2+do3qdSaXzJsJXdPs1lp5tqE1qa5wv5MhXDLyU2SLGLCdPDNLlEHx
            EA4NGQsGY63kgrkAJ4ZLsVRfNfTCCH8ubHuxwHcJBpTlk5vUu2E5cZhXh9l1
            cK4AlQqjp+cLR/2lkgDCcmeD3KSWPjbIS4FF7v1DD8Wo2IxCcpRzjrrGZnZt
            FFqKtJU7Oq7AjVQXMAOZMpc0UWWWny7L/Pc2ZeNb+yqlI9Ns1pNgIpoOS7t2
            66XS8rcrwxHHKbaQPb+XCWCN/B9qq1FzusGagg58aRDx4b2bPyOpEdD5N+Nn
            XxabJSi4Ae2sWHZZhqUd9M4dY225LWz/SwowI91m5nCWyKFaUNydfYn1uPB3
            MBPeHi1HHJ1pCDpvWujvducW0IJsHl/Kq21V465jzWM7fV3mF3NO0NnxjOSk
            +i7Wadl/64m/E/3OrEUjyf27mq+Q2dQ5W8S43V/MmNJ+U1V97ci4k9HljRhK
            bIdDQJmiRU3JVZXdnfZGtMEItCB6JTI3uzU6RipszzwOuExYFGhme7J2LAXv
            bhRiyYYqmu+/oFKQDI12CVWuHcn0H0pX/3izkfPavRbrOqBu2GoEqhXour68
            UhSfU5qzxCw6xb2+rfM/F1xGEVdpJ9GekO/19jPlyaL9SyeVk6QObubZS4cW
            C82PU9P0ewWcRnqDK8uH2iGw6nR9v8yl/S3eB+5jFpI+xguXMalFErhtZ876
            k5iceEl8KCEwFmhLz3kCr5uWQDvO7I9nnfFGTCqdtou4ieLlAau8MbYQpLo+
            X7zp4i7pJyijj/Llzf2DJO+YZoLEE8j4CeFoFs/vpOxQHf+jB0M7qUvOyRWW
            oqF7M5MlnV6/8/Pw1FbLKKV78lwfLidPH+0sIN/r8eM99+f37mnvvSZ8ihbO
            1zF8P1kgk9QhPLL3bKYaD3v821xKhvU3DzalJFj5A/6wKZ3LjBB8l1cGqq2a
            ePn3bFw93V6cWwGzDXH/CUHjb/6G2One8CfEfVWzevmJuK/2jbj/HSSqk0NT
            3WkuiFVSCEUZKSt++LzconzMmtPR2F4uHxbLeWFBsj3jBlncGBQ//chpo/h/
            blQJs6ld56K5UsfOjc2N87S3sYuvO1nRZzpMplCLdIm0dAFnTIJKxGfbn0d9
            1N2HDoTP9Ka7zZA9Kd2hm4qNJdOlyUTUddF1LsmEaVoDLppDkNTuOLTuet8r
            lfGm7PjsZIEyP5934iTJsR4Z662TSoVhh0d6f/gAEwaK2r2yOmUmXnhMf5Le
            yWCvExycyfaaJZpgmJedMInhgYPMndz2z1GOxHaDB2H2NaoIMiNmByY3SpZY
            SQnDZQx5snMw+n8EjMKhUoRByvDlXkJrT84PCIGdQ3QCeQQbN2O9VTrDBeaB
            xalKIpWZezMzdk9fOwo7r9S2MyRhMGVglPbZFkexixldj5LfgOP9HpgMemQB
            A2K+swMwGFSaZtOfgzhKcqkblhqOenmGmcgkFEbdcWrMCkV+M7HjuD/ZQAqj
            OQ0zshC/YWYqMp+y+7bvk/Ev2e974KtGUBSZMcTMcF8nZ+HDplQNTF6+jj4q
            B1NvXwpmgQVnVqxquvuX0SHbXGOcNMn0tVbmv2wa2eQUtaQpiV41x+IwzFXR
            7c0iwoTEVjRH37Ydgzk+P+LMYHFJfdKXlAGTUlXMtjvQ5iDtHOAltu1lkBSI
            gMHs5Eep4PkL5NxOZMcTgzeYRd0MGB7wybRps0zu5hOWLXrHvo9UEyvruJXJ
            iBsEAoPUmVzLsgZOcMwv8rZR3A4cXe3ZoMJUvnvWn+InmgcZ/Uzdv+r/ZJan
            OdRUDCgbw9z3fBb5fX0nFros1mi7XhSnxRc4eTydpTbm+M5mUBpvEnDTfETH
            VuMzvpU2Y7HyYwCeE2oPc/qX0JNMo+U7tSh1bd8nuy8m+ExmVUhfXKZi2Q/9
            vm+78X/736DfzPWf/6OrzxAP8i/fn4zr6d73z2P6gNf9lJ38doF8X+cOaffK
            pTBfDX4PfxpT+fP9jwHY81f/349pupW1dH94Hu35Kf/5vAT6QBMN7MVZGtTQ
            X6SdQIivV+5qHxtPZz/GyvwKnKxh/nF/may8J3Ne6dfncQ/mT/3jp1LcVws8
            9kv7Nlkp/f6xYfd/W7yiv7y/prX/uPrrc+bR+1fjO5vFu983y9/9+9Nm8xus
            pVbfDxnn8l/tzLkn671c8aszYJJnv/97hb/5WC5Btngvv0622zvv+sPOa+fk
            /GHn9utvnse/eV7/5vnf9O/+ZjOexer75GTldm7/3678L4td/7cu9vNfW+x/
            dzL/q/NHwlD+ROc+BC8gY/qcxOBa78IzyWN/9I+X72CJVn/+O/XbE5RMvie7
            rn2lUzKfgwJTuN7RQlM5TRKoY97XvK+l2LU6uyry/VBUGF3HY++TVVV/u/2f
            4wXMtnD6D/Mz/3W8bF4hOYZd/b6Py67PY4uzmMeYmuL9fDW7gnXV85js+UUW
            7GMefAEhkP46X6m49DkP5BE+x5fSXpznC4dcL8z548B222nfjfwFcf4Bkfq2
            Bx32lX6646+DzgrwRuduu9L7VzFo9nW2fR30r8PUWWTmi55JRsLade37p9rV
            RSZSVGxZXeOWLtPySsim53hnc6pjNOboUw8hBsV0JavBdaw7zQJxqOzoBCf7
            16RfP+YmiE9oquf+/iSdk9c2ziHZS/EYo6yaW2VQ56KamNucV03lBxUV971j
            0HkymyloBwUmgFFMjO/6uTDtIT/oVvC8ktb8PIE3edmPxfqvkqD/FKqzbgmB
            +ev+Q0jQfwrVeW0+RyYP/xQS9J9CdUbL6p4oDPrHkKD/GKoz78Whf84/hQT9
            p1Cd9z45s1//HBL0n0J1xk2tLfPP+WeQoP/dqM5e4tSirFuqIqYT0eZSEgNc
            y34/yc73CmMqufhtNgTpVpSRttJnJ36Er53lUhBJ2tu+Jqv/tKUk0G7N8msn
            YebPdtdu591PDL/tvPnM+dnuTZH6RzutzedrvLT1YH2qiaKCZvpvMLYUHPwK
            Vi8nq0dF+/Xf8F/bmtD7qdf//fff7N/RhD7z/87Ff7t/iiudFGH9/7zBT6px
            GTRqKzg3x8yURKG96D4v0+9LsUrOVz/P//wf/w/ZkwKA 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
