<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.216f</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.216f</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_216f</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>DW1560 Bluetooth 4.0 LE</string>
        <key>FirmwareKey</key>
        <string>0a5c_216f_v5668</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8559</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_216f_v5668</key>
          <data>
            eNq0fVmW5DiS5P+8N3chdmD+QJC8/5FGRFRBM/eI7Mo33ZNVHjSjcQUUuqvo
            /zniwf8y/sYT/vf/+j+xH/ZfOPCpDv6X48H/32d4Lh76+H/4WO3geRyx8VpR
            H3mNcfz4L1y4+HPajzkE/ptLSyGVVNPBO9TVSi0t16c++LfHI+V467eVC67Y
            8VDHkcrSNrSo2yddn7cMI/HxYrZb1s5vgW+48G0mHY2LBPv9PN6Ht0GwsTiK
            b/dI7Depvr/5dvl1Lv89+v60j1saVzsq4jJdz4Txe5/6qE/k7zGl8BxlPf5E
            M+T29MVPeo454juQ+XtY6yo933XNcLz7O6ZNc5GPWi6++zErDrL37X30HMtM
            Kafy8OXSijayvEJ+Gs6Y9eF4h8qbL4zbg2nAtY5aj8RHXzjvDkfk+2A+Esd2
            4Yc7Yh+euSTsw51X9OPw+T6NBELEgfnG7OKmCxN7VVAPDswT+5JdaN3YNzQp
            KXc7bpF68FvicTe+Y//5YB/OTafvwznnwj68TGoglqgR6Uf7+l/1/xX/X1z4
            B+STn3XcRt8ihNuWRzq+9uOXmvZgYz187692fO8/r6Pp5z/r5/487Drt+HX8
            aTTXfj1PvI2Yro7vX/trDMMI8dfxGg2O08/9qfei4389T1hLNL/W13vpQW0p
            lF/HO/PA5td1hogau2z/ZynVbiQQw72pdf1+aL/oyP3heZvZ2EoOcfTPfl8R
            OmMs27/PED3jf81XnB2Nf4uvUq7Mdz/fzlfP8hWKf2xa7fFTtuOPfXzzuy/f
            f3yuFQsn7+vY9xdS9uf47/2ns9zfz1Pf5/df0uY67RR3yWBg/TehJGPMvyYs
            rnkbb/+1f85lvOXn/hltNsKv64cr+rv/IogrlL8RRC9dTDLi+psLJNHs90HJ
            GHP8c/Vo//hF9enO2r8S2BSIoJaQY289PZAsYCOVM5QbJE2reSYMbhzH2W7w
            ZbE9nfzU++HQjwfHX0HrjkMK9lXPkBNYC7YzZp8YcpIsQtQrPh1DjAnAT/1e
            R70pcv7T78nEV49XFZGSa0BuQgasMuvdru4k92//MG0P1jTv89Rw/ON/flz8
            d8dx/v/VceVfHnfu4+I0Esg/ZdlfT7r+08WzCAKrJLbzf3Df+E/7bPqe539m
            +qJPXzz+6xGJPn05/afjfPrqfzyu/Mvjzn953+s/vQeX7ekkUD6s8Gu4w///
            fb1KbOSQpPd0m2Z+89Vp6z2EuAL0ALAUkmuMYAXvJ+gc+QS3OKGhntAJTvxy
            FvxV/DX8YbWfkPHnxB+PhUJ4QoM+b/yBS4HnZiiReVHDTdRy8YfzoXDlhfMh
            jTMkeF44f+H8hfMXzodulMHDMnhqBs/K4Mb5wvkXzr9wPggzXzj/6piOJX0i
            G5sXf9O3e31/g6J96VsPl8meIJWwQyuFNi5+nKnYDokqKGVg/c/TIHOhGZ6r
            3U8DxztxgnHQXgvPJ6ud4bmpY+fbzud5sz1PyUYClT+Ca7eWnuFLi1Iknsd1
            6iJQRuP9XGLzR668SOx4ANw0ns/Nz+XhzEHtCND5RlgphqsPPGB7IB1N4+75
            3rIWL3mWH0TZQ5Oi0+2YDtV4xkc6+0WVd5hGcMSHSufl51zSirJZBv2CKEl4
            o1sS2IY3nJkvXAfIKWCgIkyb51l+Pp+hlm6rj+ffFfes0nPnHqxRNciXTdW6
            0+lT9UhH7KadUTri6pdMpCPriWepefSYwlUSp2y/ARTO1jkyuuLT3ysWU4C6
            yKWDRp+MycPzzJU/k7efpyceP87cZPtVTHa7nivi+DPa8ZjFHEPtUHUxvhDA
            MCKqf1+jLiOBJmUHFw1rgBCeiyriuXQCCPOhHUoCic/UNr+TiuXoE4nnXCSO
            H5OqY86Vs6ktx9+OqU22HG0v0FApssNG4cR3e4lGYqkYPhwVCocxnqAv0OLs
            1PYzyfHC92LfI78P6EIzjkB50HkeaAXXXvORGRN4fuLLXVR5oTNAGHYQcON0
            wkLisc2OPeoVYgwrkrAxRnM+LZ0kqGgqFEYfz3gFrrr+vvcFVdk0SWkt8fwL
            wd+VHCLTYMPkTa5gGvX5B8G3D8EP6UzkNBo6EMiN58ACrtC5vhcmFvjdhrgC
            31/aNii87vNg7z7iQ8FIQE9ab7sIT1xUnvQidBZc02yFXP+cQFItxieb3c51
            EIutohbtenqR8MBA2Kvoyrk4zVMVBG+AFUsahjq4uD7pxqjGa8bJISzjfkIf
            ATxnidE1SryaH1t9oLCba6Vr9dXv4Xs+w8dzSlpP2TzmznpLXqB9n5PecyIf
            va78VPFCkidGRlZt9nMKpQ+ET4FkKG3kgXdatApDJXMOo+QOkhmNL5ahxsCW
            6Vroye6t5wLhtbXX8aQJSMdD/vlcH1IgOYV+UbiZyUt+eXNxhAUS5jnTBAX0
            euM8A+86sawDSDpReOEaWAZlOAnQPQTCaQWMV1sKBLE5WJTuG+GghfDI91Ki
            3whMFvvBHuhdOHUzmBod9NzuxitToIR55xm1xien5JkUKHVf4/CH4oM2Tiq+
            R6xRrLGJa2OiL27T5MBowHCjOjVgYNzPtMk/+77eHxOZZGHnFvc5sGjOIAYM
            dihiPHOSQQmOIC/JQ4cMCORcA4KjhldwNBlhC/cnUZBooxHSmfO5GfV1UYfZ
            99cauEuHDuT3z068t59z8DesEzCeto/p65lVXAjqCq+7eeFDXk2h2/o7dmcb
            hUsZYjlCM4EwgBbCdU7eiTeD1gThfB3goScFG8asyYXUXBCMp0pNwcU2s1sV
            EzueO6Xa79QoRdLkFnQOTmI3pyqE3yPNXrIHuqzoYsA2ZlmHWLrUYMRc49kh
            ZEDhJAOuiBvTItsbksJXRJHLrk+5gCC98ZtJwpFtIDQ501eEJgTMewUZd7RB
            oZIsXmvMz/Gp4PgFIupbVYrxWafdAyvoclUJUm1tZqrzzqdj9bZ4cUGQMKB7
            wrTdk3RSO5Ial02Ng1y5O4QmiCbdz+R1YvjIf+6H5j1tccU8Vr33tfAcT5B7
            w6/12Cp+ifExYoQg7k6MfJ4SvhboybHKNNntGlyIuWkxc5yw5kravBocUJzm
            uo0EJu/+0D/oVIzV+uxVNOTynWkbToHDwUu2iYfnK0C1Oe4b64oMDuzS+MOg
            c2Gl6VproDlHpydEJr7jKxXZdua9vjROPVEjDyZ2bAh+y88IPQGChPeN9BW5
            AFhN8hMEJjkNxa7l8r7+rGT2/qwwBEQm8hk5meCFTz3PvQVNPFsvWecEGg6P
            XF0h+31wbII61yF3eTs/B2uutH3OUe3ZwvqcUw87J0eRAs+5YID0fU6dNjXx
            6z64zsNz5nif7aYGvMcAf7pPzp8xgFJ7cwzGhwSelOe9LYR0mwLQ3DV03ouM
            rGXXII0MGu++1xopoN7mnac3RwohXvnzoBc08Wra6j4nnH2+Ei5UG/i7232o
            tOA6nQqm/Fp2Dg3zc09Weuw+kAjvZGUnnnu890lgI2OfA11ELxe+JhjPRR9u
            u873Plhj5t6lwH9OY+Zh3wf78D6dDBUc4zEekMq5zMziMo54dvOntOrrtmwz
            7SITfs4rNTzXWTvNtau5e02SPNW0ThMM0PrxcMtWvM/B85HkHCdpLSYgD/GD
            jOeqeM/vz+8iSW3mmragIi8Xr5352eNxQxDgHdp1P64LrBsnilouxWz6h7nc
            7ge8ll/gi0HNjknAQ5DhYGl3Y3AJhsbdt+YJyX+Swd3zc35yRjuDnZ/w+lRC
            c3onCMpMSxqgRwxXKzB9rwycCwJq69J9C2MSkNDnfnFcb8q0i59JhXJoGoLd
            A8b9fe3njNPMz9g/x0PzGdKqs4iAEwcWBkEQjGnhnUeQW8Gei+8mAiDRbCn9
            yLI6uJ5wj0ffIaFzqif3XdJkGi6WMERZJIVFwXceVDsiXeqaOBBYN4KCqswt
            OIV/j/Y93P79su85ZQy2fU5+LDWsxRXN2A/23+4auu4oFz6dtl1sAMIkPnZS
            /joBF58B0p+qR6ECAy0gTejEp/YfZ5DpeJ2UWuczuAXFLX0ny74iDoNmgAGG
            hJ34PMdRX7VmDJ3H8CfZ7MJLdvzNQDs26KVnddNy0Zls0QnQZMB1hogMWqGC
            n5hp+QfERm7O69Tkhmz7R7bvIFgGpqiB6HuHASnOczbp48m3odhkwM5sxm5t
            WzyKMTLo6zbntXyYfv9ME1M6Em5w81HiMn2/81Wgz59R9zNL5ei+DcueO2Tb
            do/SHH6f4NffIaeV7bpr2fby+6zu3/Pe2qI+F8/v0UjgvrQa5mWRprXs4lAK
            JZdoQJfc6uWDh9fVfqhzuqhPEOxymyzGM/UZxHJIVfTPtuXoSh38Tw9J5yGm
            4JFX0FcHONSgAQqZXC26cBasHtnyPTESEUGuWj+JgckZYDnR9sB96cSgyhft
            M7f9n77HJR/k4LknZSpUQlyr429ROcJ2rGBbvHvkFrIu8H492XZhG8R1pNNh
            Uk6FymHfgJju4089hyENejEPOR5bNzHIIPUrbvNHS/Nz8KJVEc4SpD6fJqJ7
            2OeAgT/zfsUto72p5KIcg+Ek8NCdDoOQSp0WC1R4XQCMDaYu3Q9QeuL2SOki
            0B0hOPmw0GfnBZbO8247T8uCums6j5+WeS43fTc8j740V7Lu/HXeD4NO54C/
            n2Hfa1ST21hV8R+MwJMxqWutYw9mjcayJ1eQBiamdDE6D+4GAoI12MfzZWgd
            ZpRCP2eCQQU3vdxm4bU7OMh6n4eK1SLh2rVfPR7vT+5X7teg5Lljrs+5l59b
            V89/Oze85yqcP9NaYb9ThuimLoJZtfsOCCm8F+7CmUrjYq7FlcqFq2D/CZ3r
            lIKqMT0HnyeVQyQQcKCcQ/WxiLJSDnp5KS9+U54GmNJbbh6GF2ix89HBCs0a
            yCNI5rtydCd50szapywsThj8XCPEIR6ub2MJZm3/DBKUATlcoSWa0gVxvC0M
            DtJTn6lteebHssi3tPD8jw6tZpZWm/sdplsWK3dzx2RFgVrV/bf+gNdzAuY5
            w1cpuGZ7V9z8vUpLqGtq9WfoKNUJOK0+9jl5MuD6nlO4HEFkaZ8D0brkbFt9
            7XNuGZGbw8DYW9NzJjDU19N/vi8JqGSS7jYKAxRjElA2iwBqJ2VNtBtgsk5N
            FgNvvUmK0aONm541Vnm3GWk25bGADS+bMPqzm7HwUbtb2E3UDMXyeSk8bKVM
            D18X1QEOqvxHtf/pYi6m4dKVc8f0lJR+TSiP6Ve2zKERZCrKhXV2ew65ffIY
            r5UNrQOWR6xgj0ffplbBTuhgzqFgZTsb7tcbK3ie+ydXK/Mmh/hwtWEcahz/
            4KPkBJ/UeqS44hyllXCC83iV3TO6a8mOX7XfdvyU++zS8fNz/HqPZ2pIuWb+
            HH+D/dOTDdnzKq17ceLCTgJx6VJalTNGmiL0+R3n9u+V++6j7hct6bkp7ke0
            i25XCgYT9NZuKZSB3mCZiIPbs+4AlAYOF78tMwEP2dzELBCr3y/VipTIy4it
            HhWG/pc/XcpVWXZOPdpFX3OlG/dRcOqZC8R3bNMRcjl7NgT0xjnsnnV+7nnz
            nhW3lVkbeVUole3ehIVRm2HSFrdzoBIVvnsIiiNoFcldhsXTu9j4VemSir85
            Q003rZds4nc454UsfDkvCNBWuc6ha67CaIdulHi2CGdwuUCAla0T0ZvQcT8F
            PswRnKi2wSwC68KihhU86JPh2GFhw0hrp5MA7GrZxxfNlcBI3fWxDgJfCks1
            HFLu+uHav23dgiAB4vg8/HtiNFYyFzI1Bd4wS4GPYZAbUbsHJfIlM2WS9AFT
            3ucqxiqn5e0YJ6gFJCtHDS63jvQrrN4LB6me9CfRP4BBqvkZWc4qGyRFJq/f
            vs0oGjmKB46yTAW8p78H9GHRQM9n6DKpmP8XBh3g6+ljyZm0SL3b5MJxUnhP
            ptFJq1h6r8ffb7+n6QYVusY55Dy/xDFo7uBMe+bXt0i/RcWFKPLmdt5jCZMD
            8VzS9m2cD69YdoRQYoHKJ4N+5CWJnnVZae4nnZY+GsjDoVU2etBI3EWKSpeC
            14dkFm35hzZyeGadovDHLlLnXJ/z1rDzcrTzop8Hm1jnpabz+PInLPNzh0Tl
            AJCNbefpEFeMGqi19DeMzckGzZZzO4UbdZGuZ/UQEcg92mq8Iao4sXdiqNC4
            E6joxPdCpzFW9/Tnucox29ZBFIFblPkm5/X+jyIfQzQf5Ox+fFXfpfu5Ym4m
            78uXjoBZks6icI3YNb05SUm39L/AtLvJrmG+vyHu5KJT0T6GuRkpGc9JPwwY
            i/txcOkF4iYhUG84nTvWz3U80w2c4JTnZNJ0v407zmIkUCziBA5B29ipSqmM
            ZJX7oZyiSEVJVETFsMUFq38/wMPwC6n4sHNeLtEYmvWHoRNJbIpxq0sPhAE/
            uVXW3as9g16YAOLXTq49P+/zxBTPVhSawork+efaOkoDP7OcXXIEPpmbs+dW
            KnVew3kMA0HGk4VSAzQia9CwznOvzvsCW+bKvf38AArTNehhtGuVk2NTdb1O
            Ny/WMD/rfe2aFRzo5VL9wqrl6FS7pnQlrOsjmM4STg9TMU8Ar8TnqyAAblva
            Irq1sc61n5OeKYro5M8ZlAhwadzzcA8jxzzK3YxnXRUkUGDWUo7I5uyewU25
            ci0LIwefEChx89wEUtajXJh7+aAUn2CaguVcJJRx71XSoGiBLfqDrsOUpoDX
            +1aaNBlghcUibhddWmAn1Ka5qqCBaOKb6DYqs4Ths7z0vzNfZv5j+/PzbZ/l
            IIQ4p4UUaREyrposHRTjoQWHx5t6nEupAknZIHQzHIrknPLhkv6xcB88cqb7
            o0CdlqWdz0inXMmKrkEEV7M79Z3OOklSSkNFJiXNcI/A3xuzoCBNwoK9mvLh
            5zALKvjn8PnM40L8x+O6jo1+LCUnPu3fIcz8vGbXCbjhY79he/645ufzzbzQ
            X/fRe/7t+fi5nrVxq/BmCxfsmYzngDiHMYHPY+i5qKXRnZXTnc8rMfeHFrs/
            u+UqDagqvB5MBlZETCeBQSniXmWeNKW+0FnZbyw2+167b0UA962FAJvZjqXa
            z4UWJAHPAq7T5daHOOdnqDtj9SraHuS8zAvJ47Z0IMvAOpeJ/HN4RtZh4U/o
            Sea2WEvOxi4lkfJ2ygUCTUfr4BmWEFU9lRlcQMdjBTStkzu7u9Duu/PQuz/H
            zjPv3b73Zdudlz78vHKbzYhVZddjqFGJC7Ydh22b7+fidjelfZ92n+bH92xb
            2IjF8uvt+86nH/58NYZqGcc+bleSpMdclu98+zTM6m/+/PXyZIlu4wXFIppm
            8axcjQSmUmDoce2efeGDe1PKbKNM9p9lqDRTmiVKmGsIuoKRcEMpwSGqqsB9
            6f4MsQwyz7OMyNV6lsBszQzJsmS0h1GidL+aYk6xxTLBsibMhQDKUO4juAOL
            L2Az9BHjdZcrNXeK5mX67+Me6oM6nUk2+aI+Wz1vp9CZ4A24Nj4rSfEGCxoQ
            T/RfTc8AmVJzKraw6BXaYPJFui1dUdEfbcN3stNnAXzuL+MCEjxkWygs15mn
            Aq8go3AH1unc5nx9nbGHtry2nLRQVtLidum4wPMhPG5KO35O9FFRd/5ahD3A
            tB9MEoQ8XtSrM8/vcgXBCtOzK+8gWcJjPCmC7/fB5f9xiul0bZh/B7opjqtf
            Sj6tt2LfIXFq4aSbR/n4p+ulsZKlJJ0FUp0TganneskJigkoBXr/qQcv0sOX
            jImgQccEQfZOOu2lj3BSwN4woJcckPTJRHmDV6NwC3S6QKDgxRMmlvRxljgj
            /cuY4IjJlPMahLES02exxf5arxRhwKyOfRc+4/LQ0mY6LlwhKiR3k0DoksP1
            QscWzxVwDkWjmOPMMTYSi30uGPTI+HB+GEu7823PesrgvptEa8XnZZ9xU+gu
            9rnxc7XP18lgoH2GMYVZt89MFTmvm9FwTMFzndM+Nzzs2ezzhN4KWd4GrOwz
            4XO4oRIZCTBAoYeD9bfmbReF4QEqu1voYudc3BB9VwlNVi3mKsNEpeueMrBd
            nfoSbIHnwiqTtdrKDuwVrKJgq4iTyQAk0xsoT+g1O2VNMv/quiBOtfqYZMUs
            Cpngeh5msCT7nJS2qOt5sNUILn2LI1J5NlFEQixZTh3GfixGNKLUpwB+b/l+
            zjEYTIp5dD8PrOJyHXNu4mXKEI2gySgAtGUaa9QtE/QfWF2Dz6TasArLt7r3
            nvojsyJzBnkrCyjVRAYTocnlJPbS/Piu41MkN7D3usRRstKxDnpiF/hpW3l7
            Fxg0p0HYGoOy3fZPBvLlBI4ffQnXpAcBA9JbvcyShbZKPkRZrZemYsg8XL/h
            4ERUZduLJUUm2OCZyzxbuk9yIrshtNlG5xUmmU5RKusNLw/JpwlKE+bgDVsr
            K6cXix2rgknIoUnpF5uqTdcagXZqgHEZ4uZQITaYJniDdMOqPKUMwpLNaTE/
            HNvHKv9qeUikGIZEg5ErHIsBHCoFPweDByJNVMrK+LpfvBR9HxWGVX7GedYh
            bkebBffDMTWdOAbKAVS3SgX4Tu2UE/i6jj0u9WTuWmS0AP/27sTNsVrM+KIQ
            x9hd28CbjRNEdl0YZj1bt/fSgqniZuEeLOL6+k2FhniPJ1pgHp/1cjpvMLyR
            8bfS466nQEJq0QPRet/CUHgyEriX+YO7CmmlSlFeGsVxQGDgnBla0K3CBQtR
            6MGZDjxLkWWar4ABWZ5NyaJBOhbXk9p8xQaui+9RWn6IViQLnTrZQ4YzfBHY
            aClWmyA5PcCBuLqYTX+BaDgRHuY/TiY/U/HEBJKo6GhIR7X3SZD2B+NXhbSA
            +4VbxJhsoo5HMj2k3pS4Erbvjmf3r3cq5Ewm9jCBZX+++Tl8EdJjz8lxi5dy
            NI6XeM8WG//M079qUkqjiKxMxqXKyWfzmOCHo40l395wBU81IuRozqEOV5BD
            twD05niXK9jYyMUx7pOlLmQaVuOHsTYSeOQ9tZ3VtmJ3jFiBEzALdp0Pa3eb
            wlJBA/IZRBIEiGPccgfc6Zd1wGixWDJYzwqq11ibTSsynuUwlCMQQvfiQ05/
            2WVuXzoC7SVpbTyZ1A0jzCLR+CzWy2ufAZN/kxygHzPLZrNPvCz43sRyKVgJ
            MPPABLoFMysz2y3jNZBwI+NkNdCwYlo8ifvk71QMB5OvmA0zwLEgQzpuOG6m
            lF4MLimSL/cDXoMlIPNkzV+jMcApSXSPNZiWZYRjX5OuGOYtaD/m/x3XwvLK
            D5EwM0ZZ/+VS/uTZcV/Y5HX2IUUV7wECGu5U1juREydGIcCJz6mA52QG4jjk
            IhnB/FmJwXcqXonlCbDI04wwWM5yUZGRMhalDKb9EFoR2VaBivNxsaggGvTB
            ruzYTI9svnwADvceRyZSSWmuFG8vG8ULQu5dUv5w7cRSA05KoXIVpZX3/ozv
            lXH1d0WYCZaNeBhtMdMwBvcmWx6JEyNk2mCmOQmGZlEAYWKfiJC/MVWBxPhj
            EUyINPrEqDly8jFGYNsmvjghzp3KeM79eQSN7I/FcGBMYFyHdb5+PtZpTc8t
            Cn3vp/8K1zD/iVk/kVm6RVaP1cz7e2dGDdxrTx1rVhLpl+6A240JgpeoaXQn
            kFuZxTaV+d4xTWfalHNATxb1XIoLTb0QKKmUz2fm4O7PdT0KSrZTq/sOe/CC
            FKKgATzFurUSww2tmUHiVJirDaXN4kNU8iodkpB9N2TwYJH2hD3pGVyUbfvY
            HUkO8dYLUQ4qFxlbfA8we/EIJlvf52fqcuUYRqY1QNmDNd+tLIkpg1fUhGmw
            ITOa592InQaL/6RYviiJjg7Gw0lJg6VnM5/YZ54z8gAYIOusUzKsQakZGWuo
            K0Msi31o5axvZacwszg0KWSQ4+LZyTO4nmwzvnn88O2rxWIKVEjYzGtJrbaL
            tbp9elmSfdqUgbVSGduBsleS0rdLgKLD0njmcSv/Hav8BCWejE4zts887qqi
            qEDrIRTT6BnDkP1MMcBAJZN4Hj+OBRPMsc73Ycwqg2kVDIDyT8Fs/B7ZNGam
            y2AfWHx2QI9L4Yfrku1L/lWiJzZRD+G5NJJjfM/J8QahBI9hpTb0+TR7m3Y1
            c3dIRiTMyXxQV0QxRlAgXUmD8cdKEt0bRjNIoEH5YOL4c5OiWOGBZRVCVVLm
            UZi7EFTejTtiJfhLaIAiBmMpDQSTCJOKaYWSDaZAWSARVN7t4W68rK9ApQX8
            YCV01V4fM4cU+2QrHIjMBpfCYOwCK+UUGoEXFvBje1SG8/xw/jBnSR5mO9+O
            wsm/PHTZjIeULl8J1KoO18Zsi2dOVlfDldFvi7urysFz/SgFdBOaHJR3VbkH
            dJsvsxcHhJnSyUyOSKcfQQIEszhZJlkUnbxoUtT7jq9qPUTR0HuH/KLU2KBt
            wfKio8TU6JgUh2KwfLxJqUGxiUENbbbnjhF88ooMwZE1TggDhs+nh4zDcGGL
            NY0pwJtRKTmLBHbG7zAjOlY+BOEFFo1nG/FMFwtlsYamNE8IZlyn4vni5/kO
            fz6m3MH8OLpHTNtWWhimvkyj7p7kqi0o3b8bB/JtlC3tzhy+47+4p+qNk70n
            q7kkl6Lb7LiNkQArfi1AYgcXv4G//GBh7XFhRO4Qog1y8OM5yDBRrzqZakUJ
            qjhsb5cmInHgGAggoE6lw3HZC47ONO7IfXpx3/JejKpkESG+112ag2tUzwy2
            eqaBhdEO39f3b7+/40lWmFZTWT1L2LfH/9T3cvj3ZM/qW32P1237eVzx4+Kv
            7+HX9+Pn9/L8/B6gotH1KX7CRPITNDDpR7+u4uOYbj932jMVY6G0l7G9bYvj
            PBKaCj1wFhjAQeY16nn5Sc0v4sGBiaVOvUmuxXC5Ck5vUFn1IX/M3Acl8LZj
            I2jniaFPGu1HU6EFPmN/fq8D4gQToOVEJ+pSPjE/d+ZYHHc97LpHt2tHpn/X
            L2IC/7u2e/NgdBXPE/9OVMoEd6IKnk7OVUgPddrs2/en9ev7+eu7B1pMLtU9
            hlBy/Hv/9b39Ot8J9vCxT5jkCo5fPVF4a7/3MrvvWh5I2WVjng2dXTvujE73
            D0BQdbtyc+yzd08k8uus28IJsGMVuPYohk5u/n2j7+wozPKL76jLRv/ZUZmN
            HrSjLzuFe0dndvZz3NGaY2/tuOTX2dGYN+qyozT5ZxRmR6VC31GhHS3yrf8e
            9/N6lOb0rOzcbTBOH8y1s7bzz+zt36nnbzb3zu7230WUzgWGr37fOrTAgPAh
            m68zuqikEmWFcNjDO1QFPJZsQiapp9pfsQgNbif0dClPA/qGuKwVKyppR4po
            pGjYnrbrME+bRITUqzHoJGnOBdoSyphYtwop2mMvoQOHCvlgsNkL7YuavsAc
            Q84P1gH0T6iC9nt09x62k7Bu3y+d7KVha/W29Y3gnidWVRLngD6kYAZ5M/lG
            OIlBJwVUJVZpjp2xVemlgr7CrCbWKM/mGHF0f073tbprU5+rPFq4I8gruslk
            oqUzglPo9iwqfG9ScaqLR0ad6jjFpml70E87IELTMCWQekypQa5R5o66uBKO
            R1LyKQjPuGjrNW5ZnRiP7glcMdDrEKH1QPlksgaDKBx/PPMjNj061CrqVgJP
            wn7p/NC7IuPrU7+Bn4DouJ/JMIXPRgJhDTdM9lkHWPGSm0ruzei6gNKSrpip
            8SaC1bB+GG8diWiS08mQIb36kPo5u5hwRz13g7V25m6frGsIY6eZYwRruAuY
            eG1S5jggh4BNmrKlWAdYTg2WoFW+HQRgqafYam8Tdt7aLFYrxcwec3Y5MbLo
            hgSjQhy6Jvk9SIzQ1IPibz5V3/bkhCxfDlcRJj5FO1c6hIuA6DJVW7x3fD6a
            O410SLNFsUTlks+5y9pICEwcoTL2KqquO2GAV2xbb5BSKoUb15oSqV81Jqw7
            OYKJKtxH7yAimzJ70q6UImIXiCrgerCuuGKiDEfLrzRl8Eh7QWwzN5ptXO80
            mBXFl9rseAezN9usXiSzK3yubL7N6N8D8/wZl+ZYmKkic2UQoEqZVXbdLdO2
            rOte8XM6e8XYqLx2B+c3GN6Z9+9uETnI3CsLXeZtmbhlZehWadTMaZ4mYQWb
            4plmulTGRBllIORDhKEP4pcTvDAdXKGfPndxOA6I5hCX+q+sHyYqOlXSUy0v
            x+Qy1KwPJVB87b/2fmjcPVkIjvsx03MjlnB1rIZZjnRaKrNoyCOD40qs5jO0
            LNz+fbxVmGqV1NlhfQk3Dc8cLtUNh31usnMY1ed5T3nueXfq5sOLK3BoJZuU
            6QP2mng88/Kwaq/9ORBhQZhweI5OdozziXqCd6s4P51WMK8gAUE50nMzW2UF
            hkio213H3DKOJiee5Sqs6gdnWM/p79LpHcRiAQXb80Rwq9/3ivfPe82Od2KK
            Go9hWDJsEjhlQPas5GIbcPkqUyuHAtGNTswhmZhtoo7wdTwD0U2xRN0A97Rz
            uVSnD3BUSrJeiABGPK6Dx4XrlWtB7vxxKE8/UF6NXMdlNYViE9XhW3C/0Kxg
            TtvYLb8fsrlTq7YMX3/OAZufxcBXSo88LHKj6f5gt50p6mSdt3CBxqw0n6jx
            4qTaMJDNMiXo3vwRyTCnfwdL304LJqF9a6tQ/a3c2+OumzMI1lIcwLZQuZXT
            yBK0mXTNsjM/sG+OLXtBEGJ/XY4jQQxy7PCoVGTob5hFZXkcR+gcGItBgsMT
            jtOjQSRz0swEa418TyOBRZBV7oRiou2KZmNChDLdW/zWPtfj91bx1WiJkML6
            kAzEgzUDlPqZXqJcQ8sT/NpP2QEWmPqzE+7253p8bZdxHSU7Mij5/zw4HrZj
            sPwgllDf1bPc4TK0u9ba00cOQnt5U76/5S2URBb9mXabXGk0m/6/M4Fgcldp
            zWoWd/SEHjSt6PM5qTRaAoGFOrkfRH22aFx8H9vBPVhNjUGcwR3qVePpKAGJ
            MbhDL6Zsnnr5YJMIoBeSvPm9pP/GoLNGpVzQC13wRvPWFJ/gKmRUcGkI+AdM
            YKlegKYCFKeu/eGm9zNIAeMWKpmO4zGRXEs2LhUFD5nJQe1gU6Ww5Nm9cvTA
            0VRgdmScTxirEYSF74tTYgn2vvmW564b6jG96ZWeZuUaRMpgTkiJENKe6UEt
            cYLTTFZRJUb8+Z7Kx+JvUCqnmyc5u1LGe5JRs0ov0CcwaaMr4M90i8R7PjuU
            hl1p3EG5LIyHw6qok+XfN72wJ18X9jox3Cbt9r7odGSWPMZmlosiKKTC7LNA
            0YNBxUIyEripp3bG4D2ck5imRvVoa2Vgy0muTKqUknNK444LA95uorVIi019
            Q1OzUiqy8tIm3K9b/TzodpnaTuN3ECWGEqyHDvixHSuHxy1xd1t1ChrTfqOW
            i/OYm0TdDK+zvrMqLYWfi9GCx3krXsWOY5RAOWJM9WEWZ/fjsx2fum89+Hz5
            9fK+nv+e/fexS7m9FH0rZuZyVSl2tN8dQJtJk3yellSPfWW7fnMg3V1yDgln
            5y3zbR9+H4xQtaxN217+/GHju/rzxmz3uVw80W00driPSYWN4IjLHSCPkDAy
            E7yKT0pK9bmgo2oCstJZVO+wJ4H23AzGIp9JlDLiZ6Wk4PElGQwWlRi1njsH
            HbS9kq2Crpg9JvkZZlsyoe+puE6l6mzXCVLXaYeClKI8XMpiDI2rVz7h6ZW8
            rbMcLdhKwf6Wv7+n2JJyOO7WpwoM7PpcnXGcEbZn6W3Ihg2uUB72vMw/BZVc
            DGw3g7tZxMUVIeKatOu5WiM5xBRoA9QzGnc+Fpxn8EDsI/wAS2hD8jH+MSkw
            K9POv0rEu4PKNGjxH0yPvS12MDgUL7d4uQN9AL9AIPCdvy/Z/ZX36otpJcTk
            5Aqq/tzNgiFZ3IksJzMnQfr5V9Zkv1RcKTydhzn6rBwBw6M7zwkinPd2nmTw
            JA3IyayKS7BFqjozx4FYvrAE+BuzA4vbk9vfK402X3HfU+VqGyqFrNoyOg/e
            3/OgNACZoqv8tKGfbeU8lkVh4NgUn0MKICucCnOBqWFnlh/gOlMKlBRdBjro
            sOCzhmLvkS2Z8NDW34NYPmLt3O92+H4P2fmP4KL0HuG090iXvUf2sJ/s5LPe
            DG6DOGm/YtbBBf387OeTePYzsZgTA96T4TMYDn50/c3iEMIlic/XfMofNqQM
            U4M3EghBCD5kIskfyCmOMmnyIolV1pkYKlq9LJ0Ing9FNpUPVTERgPFmDOlH
            2i2Pi3JgZLkCmTelHCnDZvoxaTD+x/pQd5AzpipCY8h3NGVU2ydQC4qpKFgr
            Sp1pvu5g2YTmpFifZ6E5yMwP6A/norzNXNyVCS2QmcyjI9gF0zfqedF7gMUv
            MYa1TWKX0yDJrWmfIZkfIsj4NYZfw5wjjpDN/y68hYujV+xscZN/ip21tlgw
            MfDsmKc7FHKx47Tjfp4tJrbY2/Hx5RwgqhrLslMIKkebO/v4Mns50w1KaqXX
            zB36Q+wrMqXDZHhgoSch4KgYYRgL3ZuFdV9GiSU/Zy9KCKCdPKkrZObzmfzG
            k4BoU3gCJl2uQ+glytIoStKTRkufA6uBlEoTnVKT1/FlLyszSjb3ZzXNWCFP
            1rtH4aUooe1bc25Bq4e5wiOTg3QnpO0/YPz69NwniBj5PliCgqX2puFItIMv
            7wCFbxvXD5NBSNeTSLGjGOyqlpmy5zCI/V50fgbOSn2q4sGeJ3Myu4m1v7Ap
            zTzP0pvaJ82hpM6wPkgMVMh8VZJlMn7TfXuwLDAfbShWSd0gaOUTwoKehIfL
            mh08uKWfzArQEoEqiRd7Ran1jN8xTFO1v1ZL3WdBso5Ln+OEoLCUunAzmkdx
            iBea3Fe6nbevf5ef15eJ/HWNmp/7PnapsJ1z9f/6nNLsvjfNjxqmcF2XBb8V
            pGYwFnovjXJ6pgwgQAHki8eBaglowpKBGemR6tKYiVdPjK6mY/LnmKlnAWVT
            08ezMsN9yt6qLOKazNuhmx6C9gkSr4H+yLjLP4KXP1/ZsHXIpq1i1BsSBNaY
            ZpIAWRRje8/jyJ45N083yExskZS0dQdre7JaQftGFeAj96viTmneVZQAWyzA
            1pcaxTjLyBjG+xpiDKcVdh+XxVmU5Pk8kvCVscvRHCkXRy+haIKE6ZH0lAVm
            K5+9P7RHPYNXawlUiPncJH+8ybQn8Vj+fmzHM578bQoyZ+k5+RtXAu4BDvIo
            FzBfae3M5KBIPr+Tid1MsNU18yWq4fHxvpStHBdzFfte67Q5IgsLz73vvGjr
            CiFA3Xq2tx1vHoKFWQIhDE4/Pl0QbBh7TnfB8ix0fvhv19dvFcohFO9yq1Am
            sz3Lk/5yDabfY2zf71gbZM8XW/2Y+nIrbsaLqRlDMClZ2P/G3Ohd1TkYDGJS
            ED3apIxHRNcnGZVwrCsRxZovpJS1xizgY8eNglnrh0tTOqyk0tFDDuProVch
            27EbO8wt8Veab7J/3KuuvL4Bg5IZaMOTXw+lUwxFUqnGdEuQpUW/Yjuhkhny
            V+q7Av9NHIq7UCdLboKms0MleKaxZxAr8eci3M9O3AleK+CugVXq1Qm8J785
            7pZNKWfpPwHEoT8yN+R49xF/GXeCGvMkl5JMTknO93hMJ7o707uD9hH0lV5Z
            wtV/rOPr5zlUsj2V+8d5Y0LCjZ9W9Xtfk2SXVcKP7fSjtZ2MbxbGoVhMyfFn
            WjqI4MJg0LSRIadyN7r+5fpoMTSBh2BSrp/Pymcswqy+D16TGj2TiMFqx2HS
            nT2pwvd1rqIIgSqUSZTZs73Ghov1pgHVk0IrEexalg4lfcZvsHXNwmpa8nZV
            tZwKBg3rW2UuiHvhZXt9DQc+dMbAcn/duBB7fwE7W4JnueKv3xLRlZZAz/78
            rdlvO+nyz5eCNmD+tJ1cJIVcDsNmPrbgOqrcBTTI+YVetVPFeFpWgbMONYSh
            5cYsysxxhlm4IfZUt4XXUjzDKFphWyp5nqRpiYNafwQVYzi10XHU//q7lzdN
            jy0EKpKeK3/hrb0aBA9m1CkLaKl0z1YGI3PUxTz2cA2WyNkgtRUNPocFvYGQ
            Xf2FNRkkaaXbRi0duTKJQPqkL6j2bmgigfBmjLu2/kJ+dMESC/Pdc3jN5stM
            ZWVm6uqUzyyDkHQIe99B1yPXGKFGGQDucT1410+jA4L6Ck5DyYBQdcVEi9JW
            3wr1rNZHWklckVfMnuYQOVTE/IX+OriPn49EtRdETE4qZsPqKvpMzUcXl2uT
            SgFirLtub4ror9LRzoeNEGrPlXjN0+Ewv4caxDfebEUawxyU20iFPb8YdYlU
            45ekAWg6dyFCBhUjTTFEGIxjsEYOz6WkN1P11aqtWLEPg1Taz1KBGD0bclCK
            dSG9sIsCttSDCfFHit7MlBDFFXPOsgNmy19gPDCkJmXPhMFEKuPqp+OOyheB
            sJnfS9xy5ueOZVAdz1fmuFcBdu80ZRBlJ6QjE8Wsv4q8mrB8JxQuIlYaFh6D
            1vR5k1Agqn9IM782U1zZgoM1xZb13immmUZ1nm+FFNfNyfBOM5tne/IhdlsT
            7tgnvLQ7pe2K6WFaoUFUW5GTgr1eKJO6wWTi8YqB6ZiY97KYPIWdwRnP5g0P
            nI0w8WBLaNOR+LTEwmePDooxecKHY81d9B9poQdZ+TjJ2zaIWSyyXq7FZIFb
            OZCYHlnNT0eUpqA8jLidxTpELiNDF6fXJRU8PhnFpK6BhTHteAIr83ilACj1
            Ec8lMoTRRYd+suvEyOtY1hy3Ad+fYDHKe1BRw367dtIK9OufvH726zNPhIlF
            4tSYkH95n9NF4l2FC3KRU3As9P6sL/H0BbnJ6B+k6ULPiDLa7f57jK3CWRVm
            TRNd1Dekc2wkRguhhezZxc44lh6Qj3zeZPMmNQBCBiQwmSzflG9C/sFGL9Rm
            cSKXW6jSbNfNpNq8YRxZ964Kouc7Tkc7dFkpG+sZDLs+M4s95dsds8EGAfNN
            V4jwGW5h1FdVAN2qJsDKhy1GqIoUIi1xbTv5bmH5QTC4evJwsDY2YvhVmf2r
            GIVLH2/FwTqJYzKN/6sX4PT8EQuffKQa80+qEHGIz5qsOtzKHfZKu7xDU3yD
            uYblcHsR7u0K5eRKqyuf53IB5Ln9KjF3jPzyOxhqCTYj76JV1xVOr20Ynr7+
            jTPPapHNd7pTNyO6G9/KzROJ85BUwMnKJKMseuNBlVpZhviX1Mbze3W5niKF
            lZn1oET2CbCgIetreias5ccjAeFxk4tsiF/od7DeVW7NcAFT3tNKYRcTDlyU
            v8u9BAqCCraoAEWicTzMhm4Hy7+jV9zcZFWwg9jhIN+W5VMTLc46vBFBwTOl
            m9a/+F4R8GE2nF15TCHJ232yUB3CMOg8OglZ8JgYPLxNuPYCZhVUWVvMpOCx
            TNH9F8fWonavQp4xHWYJsczIDkuLvU5K8TrqepmUPKxa0yih9o0LE7bUzia1
            Va8Bsrm6x8o18lmQpA9rhnZLBl6Avgf9ZqQCXcCkwDWcNuVBlIX1oUW5Eyps
            qwprDHRV6NccFrUwmmhH4V8wJBv8XXNn0oOu1unVb9NijQV8gupqgjJTTmiF
            ZlEWFVezZ8WJUYXRQA08LUOSIWSCEv9OM6K0vbFVYCELuWkWu/ZOA83uJGfa
            kBCnulyFTNjTM/fCqoCb7jC75vHrmuDOJamsMRV7Ryt2juZG2O+diQw9wXlx
            WvlynkP4LSmQxzWYsVPcHSl3KT4rfUgYc1GZuJ1Vhr4vJDPvrcKjvalGJDnG
            5WT4JRWLNRUfFCa4yGWpLGAlLnTT1WJ/LsH5cd4OummqcOqWNWEQ0tPINyHH
            ZYCc+0D5D6iWDReDXssj/y20VnJuKleqiqPSyk5J7kSnyxhyu+zGH8W9WNvN
            ENfPhOythO7C3bN7TNLJfFeqPbuwd9lWzSxY1PNsS2pZBdTeknFkzrhnmFMT
            1Ofunz2LP6wfn8+dgc5qsh+f7xdwXZ/z/uxpHeH5+Tkenwx6269mB0liUtfq
            OwQT7T7dKqW/Mu/3u2xfRn1hcDwRfMPpQDJr65GC1opgcqpHEEYzgPviv8My
            boZ84xGFUq0rlB9fHXnm9EAyhF/+rsa+oY9blNmvf9jxc9nxhf0kBdtjv5fH
            iCD784PoDH5oWeUf2zHruwWbBGD3hinU44atH2hNxiBJQWZO/TUcjSYGl2ki
            5EmtDs8ojVXVjEzOLk8WVZoDC8tmFIemOc2nTDE6s3n03/LBy+5NIPuyNOEw
            OJrCPpcSkHHPIvCJBJaCJQhWqRwpK+4d5iUdP4AuUhR68V0/YLhcpt+afvt6
            76XcX7wzi7UM4sfua/A66bHWc6NboXE9k/J4VaLV7feKxTgmAUzZ5i3aMXJ8
            +DFqBm3Z9ExSn2RlBL0ni8Y49ZtBMd9i/+C2xDZY4OK6lyB9mDpCtWW/O3S2
            0b6q1GEpXQ7Sx95ZmkP6nJkOlK6rsBQzR+9NUBSdb2IpvBGhda5oxvlg6xk+
            QCQSUGPnGZroQn2izKEpRUgcsqdq8MqnovX0dwo5Fw/D9MzD2zZI6lpOkuMy
            vFLXggIPIR6vfT2iNRLVOFogVYFcDBHli9CSmVTVxzOIDgPbjxYl/SNEwG1Y
            7U8RYiDDNe3Y/UOIjkztvw+6ZHDcBKdTB79DhKIA73rWVsTzVq2s2NisX5gA
            hU775HHJx5LV2yN1RbFHrFvFMR/GK2kZWgD9rcKueWNQua/qtJV+79SUZFB8
            xWOKhEEz9m1sG4bG7b1enuNLMTmTBaOkJbJiMEQrt3jMpXQeHpTubXjxVaFV
            ZYo2wWRpFWzjP3qHv+PvLw9rg9HxxIDsf/XyapmI5UP4u+u+CQZ+Uki6/+x5
            6FSMBOqykgM3VwUlcMW7EZ5ExBOa4aQPqw5v27O0LHlsVH+5JP3VU05BKNEG
            Jds4cnV2JY0FtXlcOxuAt7eEahsHYTkMpcEuqrgEAqNb57BrNYxCUbakQxVS
            FHZ30dcQrs4UWdefS7UswPv46si2bJXSg8uxGnQQmX4cg4rN6JrhAon67seE
            9lbGs7rG3rk7aoyUG4yzgKGJHg9lkTAB7jQVLIKct0qXmdaqqiSBo1oHGya8
            N9OMhqeQNM8abMEzB8xbSvhpBq5Y+zKIQjYTuUSz+la527DtqgFQOiZd6VKJ
            On0odsz0Y5jwQY2jWmtbnntqf7X9uPapzw6bI41HtabNEufJGrlqGVhu9lvx
            dhn0l/UA0WEwheRujMt04QwSRRnbctmxbGSCY/M+N7OALEguT+JSMQszcFqC
            WnLx2FKi7Vu+j341K8vk9O3PdD4xwvo+QyWKG1m6VTv8JOZ0/52YSbTsCCWi
            7Sw8sMXahyf+ceGwPhLWvjowGCQSi2dX+iJI2CIzcT7NRCnyV6ue5nuVDBhP
            hxBw/6BaYSb4zevFRk/GIXq3FA7qC3Q6+v5DE80wTWyTvzM/pkAUFAJRhn6k
            b1+xYUdRoXvZ1d84FPs07eci1eu5QLyF1ugoUHfUPWje3IKLWNdnlkuax7xP
            L3IKSmVRMbcDi8zs2+5bAgtj8IjD9Gm8S3+GwXJDRXOAkqokeXtuLlzqcoQ6
            Jw54peNKWr6bdqZ4coxDM4zLb/GwFTbazqbNu6LYliPs2HHrUvuQZ/7KTKzV
            FVdXYItXJP5ScC39rJRgkNKeH4Nlbe0qDn+Ix276g1p9oqwg6J8nKo8/J4q4
            Rn+bqG8WS3nOIhj5Qnzgf6yUX/fbLDteb/XdT5bNsprNdqE3mKvD3CP3acAd
            34rp6k5o3SB77Hp45lkYevhcL/n1hiuluB7rl0Qoc+cFfa6rvuJE3yzCF5/u
            vmEqtfAbie7Nu4CSAuxfHUeY6d/P932du39dp//zdeqw67xxiMzrGAlYL/HH
            strprj18AEoyhW6Z/ygTWZPo70eYk9HRvNKbOkmcwMuz5JJV9ROnnA60yegt
            MRKTX5dAlDesWxACmEw5k/uemPuyWdVQXpIpnpPQM4rZsEsrXogycpTBjH0p
            cQPj7h5MMrHOzgMOtaCJPj1qSlAt90/BMphzQ+YwzjbAmQjE4Ql1ZOL43n4H
            NjT4xQaf3UU3gaTx5+APa8LwVgAIIQ8EDDEyvy0tluAQDe6QHWQocfTRqfNS
            nBQ7tEenBYsMkQbPf1sOnmV/Mid2u7E28szhjYnHaZ1WT1fA1TCAZfHnsj5F
            sNgY/Etv1h4eFlrlOsm2WDQm9POrlC8xoVjBI7AREDO9qpCFuOa8Pza2fZau
            8IboHceQ7XXHXIbEolKKJnap4OUcFNHS3OWAnK5s/TTlzBVNrw4x2qzUzoiu
            FtO6X1jCWz78ywK01qdcK7oXOulauaTU3cXxmKo1ee+cJFPAskJ94TDH5z6X
            oUsSin8P2zzDEcOqGGLgtZZA4e07ZXlg68r5laU5KdPdbGMsVU1bGqsJvGKB
            NbXyIMPovD73J3df5gA+BAyEc5nHDUKRD6QZ5kkv+YVfGoTIIY4mFjZjC7fl
            vXk7CBtETUjwldKIjHZo/7av77fZjLEfsVbVwFCxaa6YGaqqftvHw8gaSWUb
            8hoXmiuvmWZd55YDdl20yz3zqbKoG9/DrY4E5m3WIJxlsLs08e7vBeP9kjZd
            SceEl0kEy9FxmqSWQC/DtkP2PKPFSekAdZhXO29fgHETS3zHYlHQTa5Wd0QR
            2Ou4xGmO39B7L7dwMWQYGPnYhEJ9CxP5ThwmMauXKVMerCwo0GSm/7N4XVTw
            mig21QFnfsJg0YAplmV7ERNdgVf8fY08/7xGhnlugOuPdTEvCnuab5YTSAVm
            MRFwmSMiG2rbS6l8AcrSh0BdikQyG4UjTjn9rgxGiYJAJalpZ1uhbMdINrQJ
            Q33E1EKUjW6p/VvaOiePYiL0cno7p9uvydX3mki8B48VlROkPFtrqe3wicow
            t5QOJmSvGvo7+OlyVNiohrpz2OolHlU9LBOCz8h15+dUQchOS/T54eMoP30c
            IuiqDo6bm2hc8mHmGLmJzi2WACGsZk4D5zGrgfX4Pi/0z3kvF2gsqLhfxbDc
            239g31/F0BXAJ1nT39o/HsK0SUCo/+PrIg4gtt2iv2UKJqUox9rrXna69HZa
            bGfGdl5sbXZjS705KSyLsVbyGpyfbPUnNY/nT2rG4N1x6wA0Y4PBNbyTTE6z
            4R4YhHCi2lxtFovQbm62B3fEnyt3s9F2OI70X2D6iJFA7tCPn0GfrcT28ZP1
            M8bXu3d5xIqU/nNZVFY5C03K6JqluhVi9c7ua+nZYDIK42f0xWRPqF+eDM/n
            6ibS9Mw/I8zuFYUOYySgbC4r2QDjL3FVCy0Qa5mr9xS0wGWxdHMUsSwyWaVf
            crm93vPwoMLTwMvV216OvTW+X67nZ7VvJYv1wNsLhwfTMYQtIM3i/s9pLQii
            x+74gqpm3INKZNTHdYhgKUn72goyDrHccnzJ5ASBUq7NRt1LGL68hOQGSSG+
            P9i8kCPLFTa778dP7if3uldxMoqk7BznkOUwbrePlVj84khSNPPzKozsMbLx
            orul96mcZI3nejljEJra3T2nFJx7wrilt5LWf9R9BWjmpjoIm2B0yYpTwWr5
            FJqErtyrpzpOhucDhK8BHVO2fl6/WKMwH07Hg5xWg7PZM/ub7c8YU7l/mzWq
            Ha+2vM0UH1TDwPisxFfpcdkJVnmNj1KHp5R8Xezy6xHrzDSpVzlKphxtTrDc
            5j/Y97ZbDY+wQuJPzbtwZZKZfd2L6Aq8Vzg/9+rOlWaqp0KK80vetyszRSob
            NmUROoMjyaqnu4uL74g7CDHsyPtgze9hGBtyACrZeG2UvusRW3YO7mw+vUhI
            lmNxuRjIu1/FxeOb5TCVZc3j3uqX69nfrRjD/iNIkppcEClPtZCecexy92ZT
            6D2BmyqZHJPYBYqwGBmPk4WbeO8aoW7pDClCKxcFQ6dQSSuxpWPebulBOU5g
            bsHGW2pA+ENfUI/yL70A9n5QJtCP61Xod4Oy+/t62BeIK13IBQXKw9VlSvG5
            mEv4UYpTsBRM9XpP1uv9m4i3ab3s3eidFDGrWCITFdbM6uhmdfwyq1ko98li
            GOeOhWthLYmie/s1lKwz5Nd4NmEEc1rlrVw3mNbOBQnAdSvHMV5EeQ1anG4U
            XrectZ6VeSorU6tzZ+dsorDiNavTsWIK1V59claYteR1RZj4QCgKsvFKjlAE
            QVRm8zbY0hEUC4CswYgUYr9rq9+JnUz3bBmhd8PWGB7qrUqAjFckVriSB2nv
            O5bx49BMQSWZsEAPJR5Yow9/ngQOYpWNP59hZHsGYqeP4jVUtBGEJtislorE
            1TXxHxQhmidCTchah8RhKafqWxmJh8EEVZ0Z26wyvKy2RHUZQgSqhyVLMz1C
            +3nNxChgwfkbnJUI/IbUzmZ4nqjE3OP8okWk7sg92F7a79y2XiRiu093hZSV
            qP1YzgXuuwiqDLKbSQuVYPvqE1Ab8V/nUR81SbYTc1tEtFTggchbhnNMzMmh
            IjKWeQYLXjAvj3h8yuNYrXkJZWL6ocMMVdvXvM11K7vNNebXP+N/MKRr4HPc
            xAZhpgzusNQKoHGVpX5IntNlS5nXuK0OcR8MNUH2fiToKiydPKLFJZLBSQTr
            IXU4HKT2RzqT1XpBeFt3deK1VgRZPdxrevu6q9lJ31BPrAEONglWqCQ4Rq5c
            OrGb+l/cKkyqbEFQ7p39fmg57prn99ikRceXUcFRqdt62qXAXyFy5ilO89vo
            5IOU7AvhvkKJ4sRcUGdyv4CWNmtxBexJVnF9VjBMm6X8W4rA6DXGl008AdVy
            tv5PgqcnakBRormwS87g7lqWcN6Kkt3CGlmK9P3sE+XwiXIrwwBcsQ4huQ/V
            OSjmgPV5KMawjHDi/ACa7iy04JlltFuHa8hbi5Y5+RXBVB47CGoRrPXLMZaI
            ynT0ScksLpEuTrdxI5AzCYqZHNSd2C5BuZYvIAxjqek4rStzv732jS2JSQjT
            MUOkMIKvnIZV3Wvy+53G8e5d40zo5a9j8Ue94fUE1g/QuQLGO6llV1Ruk5BF
            U5bZ7GkHLIi5o0UK62HtI4lR5z9Gg1b0mMGyRPwdr96xhOG/T7c/g2NthV9Y
            XjuAofRyYXh5PNyPex6rt2XCvo7L9hy7HHQ4qnnxly0bytGTSsfy545K7GjL
            66Y3OFs3NKS0nLssoilZlxSvM5Yrtu1GJycI4GSXObL9Lg18sbh316e8FsZU
            qFzIguU2i+l5HJGByKWMh3aZes+bVXwascrrGGTvv6bcPxGqu8/VPebkQpJ1
            hUVnhU6HbS2MTgcTf7sJCnrnJw0DraH4Yq4C0WgiS+SivLTZYwSVRakHlo3B
            89NFeqQNiG2a8kYRMijgSFbEl7sDAwAt+U2JeK2y3Be7BOxzH3sxc8d/VwJJ
            tdpkYperPTS7/H49sEHcK3jBzsGyUP7wwjlmFyEUIf9Wu13+sa/RlLftqF8m
            G7+14WKMbqlHK/L5zZEcukucLBcoldW5ozmEGPSVlzBbZfDDXhjqR72cC05L
            CG5hu8sfdr+Z3xxxCn1BTWevP/wI3puiBszKxgJPguCQ/6IwSvkYfDNZe/1q
            niukiP5BE97JnXLHGFC6rmHz/RhMY9XL2uRz8AP9yFvBOiRPiOuYNmQwAVOk
            ifZtOj70Y/0AIw8bMYh5/awTHQq+UP5WUnJSRE+MDlop8Xy/2D1WgDrd0fcY
            BOOyJrdpnMpQZTs5rPtbBApjTSC/Opba6WI+sQo+VdMZIZPDEmBcAjNpH+yz
            H0GWYhr1ngDiAE3PZp1J/eilSyxiszFh0zBHWcA/TAy2F413x0PUt63b2MXr
            59gN9sl0N3pVzoBYvPe1+uwjPMbvUDqfTXGXaMgDEjHywCbLFmLeFsaIPC6A
            h0GZg8EDq6wJ6YhlW4TDYlB/o3bXxMZfBmSiphyh05fWBdItbIzwZPkL+vpK
            vPYXp71d1b7uZnMCpSrtfgzzVv/uPx0rQRRujUBwz0QgVMfnFlu1KFhnGrNS
            smbtYr+/dAKyTzp8KROn28M7nr49ktuDed62fydcbnG3i2g35OMWN3GZmNpi
            iBNjKVeVSACaSDZH25wNUqEz/xCG45jXhxuxJv6b+43reTndJGdYhLZWMsx3
            MM0gOQgC6Kt+c2ielxp9WJ9xndSjNsID8VSZ+yFkoEv5mgSX/XSc6W/YHw9q
            VXY1q/EXq3lkroCBsj225JlYamD+nsk5A//FRPhgjLKzW1z+ZKPI/bDMQorl
            p/xJ6fuF5BdPx9v7sKs4IRKh4Xy1bWjeYBjUxSSeStniJQuSUZXcEkXSgrvk
            sn5nrEOQE5L9Re7UmxTcHF88mFbNLHo+T3Gx9FSCJRBCAxMHDiJnlNoK/ny/
            5eiH6RdIDhNvG4M8V3VU4k4TtHfLT+/ML2C/CObTLyITZY0FtbveOAqnEJtG
            ZXkh371EQxVmKqPJ84PjODiuGrFunCQx3gCObbAdgrRS8E0m/61j5oSq6Jzl
            NqOwFjX+cjZTzs9qBG96fdMcvOKy9vcAFk8L2+eCxdyOIk8g+O6BnkVNglX3
            hTj03hpoR8P2RAfLEySxGEboYR1mkgd/NmYDCZVFWPnJN6t4FScg+09qFXju
            qu0vYmG4+GZc3p02aiaylb66Ey8MzVCFGzugpXzF7q2PT2sRLBF5WtbuWyRJ
            F/btpujmFJUNMn4Rc4lWRUViDpr8oIVw7kzr/ophds39kSfJ7ODoqMPxY54a
            yu8LEsTQlafES/yIEA4SCAE9KCqIjHjc5iCuVUEIVkZctB1h30MCMqUUMn5n
            thA5L8Q62Zb4L5MUQFl00MjDl3lxt0WpsLBi+zIxEeLP35SGWs2fAEJLVKS2
            GCHUCtOt9vdIbTd+vs/800FjyRLO9n+Jg21FBO8Yu62dLR52/v4bXXPrp7hJ
            9QLGuVjY1tO2bnbW7xZHGyl4IxeT9TLQ1XflO+MGLOkg2zO8tP67earyIUCE
            Y5geg9U7w4nv3b9XI8rRnCO3j09lJ9IKmitb7222cDq+k1dATNMSx2rzxl9/
            KG3Ma5WPnYrTlHIU2Hahs9BjlqxWvTVS31dC5mTTSs9ecc2aGbVKHOm+cqCG
            j+69LmRCZQNsPyst2fjif8pUiw4/dXtAyEE6/MXUprDN3dLnsxpFZFthAifA
            MeZfyMn0ChJjA7kkU5SyIASkMDm0AFNjCAZy0CP1qAvt6ToSDdvuLYGXilRD
            dV1p0muaPJ1sGNFXyvhM8zG97LrQDSwQP9v3LdfdMSUUneqYRN/7pPRR+YOm
            IohLSxl/fRrVC+LolFOvEKbQR5Wm0dyIBMSj06qzAiRsdbCf6tAck3mwotyz
            li0cDRCcSpsK5WhLO4R1KhvrlJbRaelWdOdCikbByVsiKeFkUhn+EFAPIRoY
            ATy+2/OVRtaRCczwKlIEdSfwR+sfs651w1Il2eC3yMziEt2bR3ES+VtZEk/m
            nVOGDIPLOJ6ezpsw76Hofeph18SSM9MrEBRh0fv4wmiD6eFzlGk1hJCcbR+N
            TjqgvSw9vqyb2bmgkOdxn4B1q7cVSo9jco9jfwaj6YeBTR2jEhslg1U7yPzC
            5/Vx/3p7wWNHFAnJRfyD1B3ESouNgFUcb2YYVKK5YbyZi8Cel3XtJqLBm4je
            rg4Owm9/dxSlJ6pbcT8rI7Gi6qVADd2nyYDcsK9kmU597AfFup2FKcunVtOx
            0ea304I6PtkdB+Bi3jGLJ6/7hX/ebHqz083GX7btiayb7W42vtn/1uJ3vsP2
            hL2eMccBPZd9fxNmGf6+FpO2tN/6LfC+7/lzA8kR4GG482qLg+XXr8f21Jm1
            scWReeI+TrLtNHv8+TL7R1kKkZ5ji507WmDu6UExmQ3Fs51qcmuvL33gVNKK
            FoEcYkEAwrEPr+YW6EtVroJFHrthmNZJgOJSBTXDdGb3W2Nx3On46bdOhwUt
            oh+/zmds33VSG8CP75rHbs1zR9Ga1ewpUlgg95t3xnn7dBBqGyubFaKFbRC8
            Ew6DzYKU/ipHz82sljPJTDIYSnahS28HnwpzM7NPc708sXUaTrqSSKdVOFHs
            iT2P5+Zn7rcIqeVKlEfisJvFglMTO76NE9fnPfBarDAMZM1EJGaUBcvGYi5M
            8YqU6HinGAwPInq3WijIl3wjFioaBnuGa5J5s3MHi6chHyiSGbLGSk773MFe
            k/75qF77wcxqiDsqs3cwdOUdGIusBGXQEfNR4geSKFsdQT1nPn4MrjrGCFHG
            fQDtL84UhwuyLBrYmWplaPugTIbcGI5teSs2ihjmRy/JpiXFBpAO0fHddLNe
            cjpJew8bm+m0jB9aEOlyRedoChHfbDHhySg8dzEHqnIxKsaual2KIMxbstZJ
            n1oAatQeBHo8XvAGt5LLUWnfP/BBP3JX2jnbpnrSLMPcfKbAjgumV4R4vj02
            sL5+suH/gvPCkK432yNan+fdqK3Wsjmv9xQj51XBrb8T4T8J1cuvTZlELwyO
            NSRoFkBafOd8WU1hZbUpmzbxh2X+bIGcsiXuN/B834rGByNULQjdx7/Z3GZT
            v33+LzCEs8Gd9HA4O9ziYHp7pVe7dvGwS53/iX2/bHWzU9fef7PR4WJis3Ni
            QJCH0cyk7Kd2EL30in76Qu1FwR/lLB7fhP/m5KsKSLXr0MxvmdiZLDo6skn3
            VhvEv7neBugHXWeHp8rTJ8UEmWzZwY4bLwcZndKGU3Ffb82CTNXDnHVsKZK8
            Usl1BUEGitMN5oTQ1dzBTQV6j8ViJWzbIrjG5DMXVgcreKEXDyXwAiCKU4kY
            ZDs0zWCjr8ZOE2T71GkzHgyqTRLe4alUbH9g+u4rB7jY4Gq1EJb5uo/3czau
            I91hGWaXyCebi1rNUZg6dsulfHg3oFEF+2KpZILuIlUH+z1bZVQwhJAvM8zh
            XwhDQxVRuRsgeG4jDZ/7piH8x/GPH/9kAwF5/Pi3IOVQAYkCNCeL9r3b0c4H
            UHcjPCNGluHuP7KtVF+RVXhzK9raHd66G2d7lrmOlaaOOYEMhil/N3Flr3Pg
            Yjy9tHwXsewczeKl6zBxL6soWg9h/z5hontYYOQbQpUVKyQEQ5Cjb1lKoO87
            CG8zvPXu4Tnp9D0yYCLkXrJNevqcYrm/R3aU9aqbQ41g7i/HTW/uAJEmjbGC
            dSZdhNkykPfXhELK6zB2byzYg1U412HLFhMzd4q5snHPbDCOyRNTT08GxcAm
            a4d0SeLxXEz6LF9OIfofbsvUUX2eOJ+JrHHZszzhucaZzek0Lo2L2haznGN7
            KPVE7stgMKloBVr5fXFMePv+OrJOtv5gBvTpROhOKRLSXB7sCVL+wLHf2skk
            kcVjTmpPsOzwnu2ix9A+h/FAMioT6+T34a4haXT48dpZu3LElOcmbsrTP32v
            dr/lfRwvctXnM6nR8gU1cF05bfQD3G8ZU1DNaPXrn+0rLtCGTSRznbQqMMBj
            mU7Aoqb13ci6C06enCU+hn0LHe0zsOwznaKA+CtdXoJdMyLQQN97ooqlw29n
            E/PrCfTFa1H3KKr6L6dnFh18Jkp7ckBbzUO9z4RT4tc5LzXlXgSaYl9r6ATW
            AI+KHxce2TvH8axa5ao2vq3YRAul2zNs7oLrCam5pM9YUbkj9Jsh1noY+TIX
            9h4D6RZf76xEXEZok8UoOEfHUyxfgIXJx/GZvON6xLZC+0ltOf1JbaF+qI21
            bftzz8/5TW3MGP4msGGlZzcdK/+G0MBBl1Zi/m7M5s4iC6NaEeclsOO1wTPV
            dO22FXucrmQ2Iyjl6NPP8cknCLK3l8TOeO3v5Q3RPWtot/p4CSldUjyP7tzF
            gjhSzqJ365X3M7oixhV6uj/A9xGnKFYVrFhgLtszX7eXvj+/nrl/npmBsmip
            ctZ0169JcDKKuUednVLydDv9dg4DJX1MF2gGFu0nUxGEGTIdrFANXxzEUL/l
            x6toiBD4q9r1dz3Btudf0AQvVO0Or7LteU4UYxCdaKtJ5V3BG4GPQG5N0dRd
            fna1VY6b3YfdWd4JmN2Gd7d4TZAhCgn8FKvt+ia42D8Ep/fNXoe4kzM90BS+
            wrVp5rW72uveuP401LfEKGn15Fhep4Z2azUnyflnH3cxTb1b7UOPQg8fW+ww
            z3JzTeUHWBuwYzVwlALzOFgzdHpnWfn1AlRyoYHlhxsnUexES0zl/Ou3agUr
            lvdBozUxrkCjcKQWvSAoiW2JyrBMGf1+uOJvZrTo4UMqvOlp6c/Etuvqgq2u
            vQRx1GBqcgZYEdOlmT7drP6ecJ2HMqjwdEJE4q7Cc8ZGmhTLHC/qpK53L4fN
            bV5ilqxNlTRph9Ednk+fDRIuvP1Jgsl0poMfMEnJGd6K43QYXGA3eqWGv62W
            fBjyh+o4FEK2bXPG+WLPv1ChhwKZrIqnuAu5uJasciA9WGNAOTm/Z7VhHZaL
            FhxDmRSXltfys4XI9ZUDHz858OMvOfBpWO67snUCi3WonVo28MXgC92Lxjor
            s0iZaVvnc+lzFtbf5Gc6WaBIdD4bbVzazKRKfqd3sFrwxr7f/r3798u/Z4Zn
            ragkF8MkIGRrZFsl9l9lw5uo6uOkVXdfKd7XO1GJyk6ljFP3Cmbuxru3wXEr
            B0PDlH1driiiku/zIB/vH+dA0yCyI6S5/A/M+S+YE66QE/+C0SqzByyMPtV6
            7o4JUArBy0fEuHNfxTZp2/DUhepTAVETe95uTK22YX6TtAVvc9iu98GO0x5M
            y358p2Nhgu64TnaItU56YKvJ0KKSwDgIT8wqDrYXfgxjhuD8VmZhUKa2vVQI
            KMod5ma1ArDMYqEIa+NcHyAaeU+IRcwMg+Zwpd2E29+8KUd0WLFfIbltpNck
            JGrMzgZA9M5ioYTNMBkkBau5yjqNOccC3uC46EQFigShSV+1QYNoV2Tix9pt
            bm5qE84sTwNrEUaqUjlZZ0PjqYPZjZ/nUV3d1QWsFqQ6x2OjCbR07IyHbG4v
            WjPtn+Ae3EEtrHSmOw+5PUwtEZZUMOAQ6WiqRPgCL3Mp+Kk7lSQTunKmsFQr
            GUhBFl+wQm14wREYIH1K2ZmkulJvDPH4VUpxG6P7lnT5S7Xa16J7Y7hxx2vs
            PNRdKdCyMTo2fRQGIplcSFIJIM2U46BYB0x9K+uLz4Q0VO7DuLy5rjpAOd6R
            inihETiGITtQJeZ0DrvWaHkx+slUPuWitHf/c7IBLvY325YJ9sTAxwrqJB2Z
            n46XedJUS+2bWILn4ZA7YCzDcj6pGbbzfJgDaMm/2bpmEbKKnYVlvgvOV6Jf
            HcrVJvSQH+fpM199vrogJ8MlkNztneKCWyzhuaGGtstCmFWF4pc+UTx/TexV
            bxHiRx5uAiYzKPpW5atd8FdH7bep4tz7jrcp43a+Lm/rEhPRdW2+qjekLI+n
            K7haUXYuzv59l26ImIVqCjpuVeoBq8ZbdNidoO/7c9hlg2xQuFtyu9PQ25h6
            mn4wCcHqsT/rLW1w6vL0t6qJpZWjJoFsHhQnM8w8FYHihvuIZZAs94GRWO27
            iZnQrUD67O9A5OG5K+xSeHp78Kh0evXvXcnBOhedcJ825uZziuZgS/R9CqIw
            sV3q8LIKAm5Hq/v8ZMf5fZO1ilB+yfr03Qn57bT8mUBvHWuKfP6JMnxYYg/E
            Wv5qz/APaCslmht/3rrQfDOaByiLya2QevztutUVIBH1g/gsDCYRstg6PfW6
            aCIUF7FE87+FiF7ZIIRgBDctAYrLotWGpZst2wJGNpVPWDjM5WQfQBXAUq+U
            8qtYxKCpvRwwlnOoNIFEBz05BgZMPd6OIfWAK/GaTHbBKiu1MoNK8mBZnUSy
            Va8VCyZ+k6iIjJ783DIfoa0PEogKbJt+M50RFnrBIo9twFQctp8dByFniAS8
            kXHcwnwcyzb4OLICXGoLBpng5fU0QBV6cVUuB32YnSudcyTVhwQjHpDhmrtP
            L0HCHO4ouJpXfDtwEyOB2R9DbD/mxZeYqk+/owtMDMrFyuqbE8aXTxKC1w7U
            8cG/B5pwzKsEmf+QHywVLZGR0SjsiLHh8p+cb2uUMi5rz2UI64LPZZuIYIAe
            4dNe6/RKbpZnfYR7sOxr9ag7/Pke91E8Vhb3O5ObzVBmyIMNgc8lZ97DlHns
            Y7YD8ekHORO3bC/GrVqgfiUCnzeBF1ij7O8OlgtxNZTWwBZqjL2d+hzCaOz5
            O9IyXwvHYhTXz8EhIK5YwtbNSSedM7Bwl5rT7GribueYokLiCen3sxxfz2Ip
            goMNvxVNSQYExvmjiGWOO9hnm1bw084+GYB9tqzpfDEVniT1g0tb/kCHDB9Q
            rF9dq8GGOPg3GxQPtby43MkWHDikK4t52KTx2OP6yb5/GEIsayPoeVJXSzVG
            xHNceFm2SCIO8TENx/H0hOOKY6MyoNmHrbOlRjvHMC+ssHtZSkioE3ZLY0+p
            0FUhFa6LnlCyGTLQvpNsGTA/zfOp/pNyuTOyHF8zX9F7TByYieTwm/S8B9t8
            NV/PXey5w/2czMOtO2yg1unj2HWjNML287MMwmG5j/1+IcjTLPQmGBNQZRhE
            umgUnZzcM1qbeLV29YV7rxef68gLRN29Bxq0lKLYEfFg98pitvDMJy8Y2MMt
            6cSYq/VYICvL7M2Ezzgm75ss5km6EfKNYZ7U1KX1T3dJ6CgM5G/lBTpR8nbl
            6bKkIk9V67v33OgEWH1L/tVbd00DIenb6iLA9YYaCLKQ+4sDMa/x/kbPaTSX
            +v4+m3mj+R6wEGf79jx7/UU/VC/c5gPDnJ2ruEBKSqSmh0QPXQHbsjkWW6u2
            3RBxYDLix1RhVplC7kNVX5cq6wLN8QrOYxhR/I3FRPmwrqG7PKARHskgEdU4
            w2ti2wnt/Gz+m4hrMKMEDwSzKL+5tJV6D73Kt7siBH3OglVi4O6HmnRcPfTy
            WRu1hmXCANDy6CrBbRV1JY6j2mk3BYquSzCAL3s/htk6Y22sZTvvTsucd+tn
            U9/Tk3PYqNOsT7rsmG/oE9ktBZ5g9kw4KkyqOZhBIS+jEeL9+IQYMdNei/RM
            OwFMC2lPYkEQrV3ZXCQiKu5ZiptWrXwEo1m5323XCZaQhDECK5ttEM0bq3+o
            NK9FOctiBcuVSGlBW9YD0ayCsXbKkw+V70s5ZdHOvic1eq7ip3/QaGal3+mz
            WAgn4BJzmYJayC0Z7BxvNHd7cg+vOMN1SrZrnhY6OKEGMaQ/Bng3YYLZ1A1G
            erNS/AlioJ/lsjDxsC5F8d4tQ20lk9VGJeJ6sg4dCXRK7smADBqu8LyyeBND
            d+fYvU4nhnXtFjpEZCX88NHEJh+y6nxgsdBNr9XLVLq2mMTGuksip2dORWdD
            FAXZTAREsFt6UZlxbTCFCsoJvJT5qqEZkClXTSRH69J7mJ1tpheu8Oou3g1m
            GXFegtI5mgD13jTs+yPDJkPcXP7U4A6VpjMpk+DQS9Q5WODpA4cZswQK2oRX
            STswdAiD4F6XZ2GTjc7r2OznJi9M3iIwqx3VDwVJ0HKePRUcJWRXC1EJkSyp
            kiVr+53wHEOduK1kKn15QzkglezxXsYZ7sOKZJ6vUjWZKyxJZbk/C00Y4ksq
            4H+IlN+IujLUJVnoK9IS1Rj47XLHevESgimZge+pmuq3P0BwM+ctSWTvDYqL
            eb5OuKDrQr5eVqFOZY51FRhjKlww9XCvC8y5W/5knLOFTbjEYtirBQrtnJYK
            aw3QN35Qp2LkL8EXzf5ifJjEJrBELBuY7GlgkifLmwe0bELseHk8G5RxwvFb
            UxMHKjFFyhW7uBCi9BA4BeTPvCGUk7q4g8woG1UgOk61v8FogKVFEssyzZDE
            yrT64/rUBHZrX02XtPpRMly8Wc+00O8NpYa9HuR54jlRMKkyhZjEcu3+SHvy
            NzF075+02bhi509e8StHwjLvD8m33BxVLn0l++JdF4jnzLJzFyd1O16kE0T1
            hnzSDKq0ImTb7RM10nO/Ztf0ivRTEVXmJr73jcPuS5m5wcCpgDLu+3rMmRvi
            EWUl4cSLJBDVplxVARtFPH3aA1I4qVcjM6njLo8z9nFD8TKwRnfhWTwCTIBc
            eDED3o1yJuAT1+pLr6f2QE0jlapZZnIDiI8xlMa4L1uM9Ru281TMbcCombQT
            WQTKHPNCY3iqfqkTpoiJg3hDASJR2D/bzmIGztnPYoXg0P26mknj2MnoS/Zz
            g8es8wCxm6TvFoR0H3yHRE8fF9pdRUJM1MbE0bPCVmdyCJzybXMmD7tmygyx
            sKJPwj8phohJTt7s4TwxcobDd21Fw5YnYybry7NB0Flr0+qIkLGxww0EADE0
            WgAvPDPWGYQLl1iksgrtYg6s4lkuQpUTRkQ90A4rZX6NOS614blZl8GNZ5JJ
            kWFmsCNczVRDFa6z37mfpAoFUnbRUlsaFm1H6IGXqmClxTTWyBn+7s1OeMzJ
            8uDMfOSFEJXRc4Dv99vThI0wTpMheA/jZxmDerr0B1U+4xlfhiz0x4RbsY9A
            Pll3BiM0eT6OCHxW+04YX9WafcXIfzgBmI6VQzcMHvApIVpaIiF2r3rArlp6
            t+cvdtV47ar0sasEQ0Mlr3+0wj3pgi0Ar4n3R2tQpY81RicmgrciM3eOkB5P
            Awe6kuv0kSqkcMfZUxvshd+zqZhuoGnihcYIDWIPnAy62xy7RMCsbuMwhHy6
            Gk1fH6mYq5NdjLmvGmbtRqLE+ryimvLR2vKUXrmbliJhzIBI3hVZOWq7Od80
            nmrPGdXWjLlrQa3eouDawtxaGQj8xnthIU0Zwl2ZiVBZvZkgNbvTDe5o70tC
            meSn/u6nN054e3U/TZ7+Qp9ix6K/jy9P/8OQtRtImPpbHR6sx4xq9dSt0NGS
            iBH71EFrGZxhZDWGb4tWeGFNDlOj1K3HGqJzANi18HsQI7sqJ8HxUVU9JiU7
            BvPewPkYDFL4HXHVaN0TxW6Ww5EEEoO0HGbewfAnEpTAeGVoiZBgBLMzjhCr
            sykATG0hCraEzrnyVhW3Slsfo9jjVKOd/naYFqWSfxOtnrFty8Q/rHHNpWY5
            T8HAnT5wsyyWMk6C9IKHY3toEAcdrTcxyX8cn6lfbKubbo6Fzzi20ilLjXxZ
            wtxk3ROWPLbKTuwsCO0MuQTmKlGvX25da/9ulwGpqgF+eTyXMiGfplaT2Anv
            0YnX8xnYgyl7vweJ63q3ymISYQhW/kONhWya3SWky9NB+uTbiuAqtFg8z83m
            pqz/r5LszGXSlrlUeF5ztNTOFUPZzPN0rduOwzVtOx9h9vPat62u9zl3pcbH
            WHWgNE4qLJiiisDdT2SjHo1m3QJZM93eflOVqH5vf9Eup+XzXd23tQU1TPnS
            r29qCewedX7hQojJbh/Dae0NWXD9VRhM/8i9OxmTsV7MlCGfoQLKWAKHzyKO
            kY4x+iBaUTfmExruEn9gm8ajSxqewg42LW4nCN2h9LsQcB+DO4R/MXRsJGDs
            l3RfVkT9QkJaeQOR87j8X38MMwKct8nxuCya2H+0lZa1UJnOociZbX0wyrqU
            aEwhoC5irFt1B8yZrOFuMkCOrq0UkxzzzdbTxGXLzKtipchhMEbxEhLbY9dQ
            wk4wLGkq4tW7iUkwRjePGfAZllUWFdNgbVpNQqTD58mzmlBlTHGHKsRoKs1Z
            ZcNlZpNDu2SAbokZX1jyi1FNYdruDmYep+G90lLWF4meHv20tQKyTIMmYvdX
            VeLpPsEFDSEVWUmnbq7UQLiPzVObQT0lW0IGyUCEGG5v9ip3w6Lvssyfpj4p
            Gav5+u5uA16UvEnZNHP6Zx+rD9qQNWi8Fru9TxYhUTextgXsPukOJisbmLZd
            hyXg3N1+h3glCvcx/GLJczbvZq1s6Z1hgqDqcMszSZHHUHtfq9zeVegX1LYg
            6U1MheXu7yX1UDhQbOgif/vifhHN9QE9p5BQPyeClDKmb1J6yZT1bHlqEyFY
            ggLV1s4MdkdzGV1gXQrA8bfHK9/XNipuMyZWt+/RzdV25S/bnCjl9wdMAzeX
            FM23PGBMyVQXW+qdjaZGb3Prt9szWJ+nez+86+zeD28oR6W733m956mSObJo
            8drLHZO8SrnV5eXNwTw8smgwe3H21ndp2gb5enMFLmVuqKZx9wTMruJhNbEL
            ihKBj2Jor5luabDFdLa8PWqpPdLBA4TFrSiI9Vd8fSGH+0KKXZeTligIPeWP
            1zLTkhmN7oepQZNNF/B+15Fhb9W3/D5sTYQ5AYHQHxa8sZjD2ayGVAQBIqUP
            jt2tPr3N+xMs45bd9iigGx34HgCblpv5BuhY3cX8kgta1COfVX/b1OTDDIu4
            CQL8fs2FAVrk2ZZ8y0pxRzo71Q48GMLZbU25xZL6oeRaTEwiCsTquzF1JxaB
            6cm7P9Rbyv5xJh3WpLWRwV0b5GvXPW6fQnVv29YWtgt5g355RQL0xvxlPqvE
            bHDEMW0sLxFEDF+DGSLMZWpxXIWUfsKyqt4gQvg5WAF3gpb1f1u7tiTHYRx2
            JcuSbOlTtuX7H2kJgHSc3p6prZrtmql0OvFbovgAAdKEiUzi+KhPLnqSPbFn
            L7HhJC1YF6qiwn1TBQYFCVLE5E9WKZNed/QnyzT1HiP+kLI4Rtn6/C2zTHlF
            hHji4SLy8/A3IqPFvYXQeEeSBEiu5tkwuJTq+Nk6u5HRLDLVyR3RYtk+NW00
            tnDkO/cT28LgySClRWkdm6AWXFBFzlZaAC8KOmgPu8vHd8s6RmN2gMdyKAvY
            pPYGhvYL/NEwaaPcA4gc+w4YOogWh0IdmGfxe9HvG7keTzAW2/Yj3ckWNA0B
            WyGZtB/LWXxHLFU0wmLWn32J+S0cQQwmB8zGdvNGjgBBYU6mGUHbyjUAZVT4
            7ltUnswxmAEp3yUxj1QtIdvZ+ZFg3iAQjkGDtOgh8kWU6fCwA2BAVi7EBver
            1q3j32QSW5Ev/GTxIqPnLeby+hYJbZP5JH+6fUK9fPOZFq10kc1rTdm77eyf
            lO7lMkCEm9g/0N7EZLDzKkKm9JH1QIp3EXNQlQucdWfZPgJX6JGICp1FiUde
            1UqISHdBz9CUfqJ5Z2el2ikdXnv29h7FL9Dzkh5/KwUtl8iMbtkCcw2Bw9we
            9AR6PxzQ3PBOJtPrJIvuII4CpG0F2HVsyEzBgZ9IMW2wuYdfHNhGp63wRweM
            Ee2b1S4ci/XFgdXFfLQt77ZpbGMGHTr35f7B//NwBFc9bFuvZoW6u89SyOlM
            r3QhfH/Yv52pEymXLWZ0I0vbYJXn8kGWtQ3WyLHeI13zs79xmQ+1sXMZx262
            2j37OhGj2HYOAI4c13EQEj8LS9sWOp1kd2H4RdX0aUvFUVVpW9UxzXX1Jisa
            EN0sGcfgjAe/F5VbAxuXQHu3fnuOfxqszbklYxmwSXAw45o7skEF2mtV0u/x
            waf59PB+tuqJpNm8v8139sa3snHDb6aZ5VkGCyELIOfoubU18iJ2cNJjPGzg
            TFtKBMpDYg5eZlVDR6HMtC3ao4SKORfIhAXZwqxVAgc7d3aza8GmLFy4cjb0
            6H1yBjciKTeacMkshLRFZ7KCjJnfE9NsY90o6RkJE3yvr08alEnvI+3HKt/y
            IGRh93RmYSR5+mpdeN/NESO2JkCtwcYgOYl2pci7YvrYiZYKWFqvsOQof5Cx
            cenwjBsbB++F4siooi4VkH0wlPfljFiZaDSdzFmf+tWGxo/jnEm8O0osHNcE
            eP/BUwAcRqkm94sA1g23Y9h3j2T/T6x+tsJStXjvPkZJ8YynAPH6o4HngyRs
            HXjIMMhQQnjgEhYaHzbMPLXXQ7lPuA2qJi7jhuSUxe6LorsBwhrAD1DCV5DA
            hQA9G0icuD/d2Zwuea4e8Ik4v4q8Mqgr+0odNhZB7RcoAbaX/YNeC6EDXfYP
            9/EkpJfI4lEGM2IkvWZS/iysJJ9w54glIHquP5ifuvZqVqFHA/wxRQ/RJgXm
            +IDYkM92Wxt4BzQXQAzm4HU3LANNVWa5//WEeYKAmHfXsz/keHOAVBdu+e04
            x4/jgPln5XEQFqNTvpHNiu0iHQWaBnIaO5D5F3ngeDjWbk73/2PfMPTm4Lcd
            KUoLdAnDRJDARiwyit68pqLBHbTTCCJ24GgXoJp2m/E7XBimNE5fONjw3VVQ
            pomhnllH+woZihh5hoifTZJrt5jtmCKxzd/bltVs3SSN9vP9Xc1g6C+yEBRc
            oYBO7go46EId1xIHpN/XManNH1+8mrJQ8W0GLYQdgSBbWz0wjZlXOaQGb764
            5Jmc5yOhJddlLaEojm0qCVE7ekTqJp+WCSJsP4Yr+aHFJgYMOvywTyDKAbJt
            YAZGDFH+fUZhgGIycICunwkwJ9o9P25esrXoH4/V0RH1HkR82OT4EmsAHuiW
            NSFQVgMPUXwGq8wyXuLKzELr/z6oKTB35S6+g99nD0P6fQW/+D/PRMzC9WNV
            OOsvC+d/mYkge8e+4bL8llqtlyek3O8lYJMtMDMvlI6JhNXgdme8/uPMZh0/
            zLqTy64SvW2EbPxcli4i1yaWOi5xRTO3A8c6KT53szCRfb+eYs6g5tjeXf+6
            TuFXDsjHvNbu4qmBDKFirstgsVlJcoIgqYHn0swp8hUpykWhXkeahlHt9wFV
            XYJehXKqibxZIyFju7o/kBAIEzFoq8qT6DoidxTluoX5KqXT5Yx02225SZNg
            Jt6sS4rzWdsFPd1NbZIW95PwEM6/6J13Er31dOC1gk7CXHV4Ym6FWpYThMRe
            3EgEeJgtoYIUaWoGa1gbxbYvRcFTPbLJs8uXWkwflR+v/V7LfPk0A+kRXcsi
            SU3mnmB28+KlOnsOQyiy/v0w5Q9XT5NEMHd4IjAgGeE/x6CHq1u3U2u3GTkS
            vDXvUciAy9EsECljNrtuvMh5mXkn//JA1gOVKBSLL6CgByPsgZQyRiG6jew/
            mPDOFPsCuMmiKWh9R6QYYCUo1Fn4vz+clpCRLx8KIvYQV3b3w0if9pngbliT
            q6/7N9ckrPp29fKON/N688Y0BXpEwD2Q88U+CmAlzF5cNZ8P8KhCWhH7EEW0
            Sn9JBLd2d5H/uTpRHvbEgNmE7DIge/P88IQGZQXOjXA+4FygZA8ObzuHaefA
            1NENUIGnjiBXGXTUthTE54AnxvWRxyNLLVE8a1va1Be8o9OHAjUTLO5SQSCx
            /MKqMb4p8t4fqPgNhrtvHcJyyF0B4yhv02menwews7tco/b61Ew8c/tVwcKO
            DzBYdIFapuoSj5zyG+Kf6usYx/Ww1xGqbjc1harPRlzqKPP1vkh0VRII3l8X
            gnTe0XiXsvnrFLmJRFOpiMSEo8MQ4VB85dJUtwjBuu6fRz1j4saNs+fRXkzt
            pEv20MBmOTrRSeAFOoJehVPt1wi5oUg8Eq7t5qN3iaGuzj+li/M6hx0H1Tnp
            98lMoNJbAgJoDwMPsTcFkfH9cr2+v/7399up73/BGM3Inot6bwHtAOx6cegM
            IYoo1HelujOCVkSxN9WD8h7tAltp2D+o2UjKksw0YuxvK/M+MwsgNf3hRELT
            whCF91ijoJ/VzhfTzI9OJdh2C25PpbWlQU2ua2V6a5qc0mRzgywLs4vq+0M+
            iJ2iEN966z0zv2ELIu24FFYyaIgW6lt+pPdse5ROVcAnr4J6ANgZRZgZk43b
            oE8CqkmdM1LjXUmwy2sk6u9F6uBix9VEp6aDUBfdUKW8L0G3QbusrnekZpMT
            YybvmQvehagaifuHnhfQAcM8k8meMVcsATdOV2sVEAjpYR2pr7x97Ac3Nwgq
            XA0mcix9SZ49FFQc2HKJieCOXl5hrxVrxMw1RiHQxIe9rxgldmMwresoRXa0
            qL3K1vzj6ZBZvENGugls+wri0S5G2OV/eD30uwg0L2Dn2HzaGGLod3Ev99O3
            eb/aSsZ1BwqCdo7d1gy8t9mk98PfN+WBwkr09jJ5Yq6TiGh7cky1FzWdbt28
            p47mVSUYOsvYXWxsfbtu1zYU1r16r7KQvBYMvKZ6lp3GqAN5NBfpjWXPkyOt
            uMwcgK3dqfP6Q61LLqdQF+mH2sLaYDzDm1BXaRM8qSp6i/hvZu5UrQGsaYB1
            UzQjf2K/LkBmQ6MEZDnIcAKSbrs2zO5kweaZmdphZhR1nUSKXHW/kganChn3
            pXjWMrD2QJatLFT1nMoOmjv14+WsWodN6Wt6yxWuBQqLqEC+B9keEsgZlNY7
            yrao9i3vlrgKXiezPZzJEedR1mcfdXNt67KS9mcZOeFv/E66W/zdfLGE2JjZ
            V1VVc3GpZTg+MdA3gSI60Mcf03EKdfakg8UUwr+f10de7rmZaN+C8yfS7YRO
            IDK3VQIAengj0GHCXb5W3tTBrlq7qYtT7RBykLxN7Nh7VoeKeYs7eSCoF+0U
            eGZRtvwS8USRYR02QHYOkLsQ2WxLWOLNZ2yXkNGxYWUGZD4D5BTjGa6t2bXF
            NWWk7rM90EGvtZDPCVbK7B3VW+yu5GBRq6S7+R40BwctuaLMHKyxL5Z6OyrS
            lbDM5A/FvMLOimaG3pfAv8BvJVt66RVfF2JVthHbK8Zug/6O3fvMOPB+MbSj
            8wc1pkM0OzYSuB98j/uq9oUt7t10K9CIRKEZxcZLEabot6YLIKq5sDoLQXPv
            J5oxbAQkBbcs3gM4sbu2k7ygrterneJdvM7+7vQh0geXUv21nP3tdV3RN+AL
            /pzqBEIdSpWsZBGO8PfbYG2AluaWuAb/lvf7Fr4XiI6bBCS1kY/sg3W4XDMR
            XMtrmXukwpDVADEdzG+vF/sdiW8gA0y1p9ptYUYWKQGR/3T2uAgaklG0Ak0W
            EoUp8kfDG0+A1lp03KpZaghQqXcgo/C1o+JLAqk9SEKyCmXm6FzFPW0wWyTp
            YIrI67o/kzAg6xh8N0DQtEakzuj8GMjo3f6H5hIPjrimMcVzr71KGg5Q9VLY
            3wfmDCqDXBDlVon4Erq90pdA2XbYPsCGDuSF8GDsP6yIQ23dpurbqf60DFFG
            6TCwQ6g5cQMUEJc9WFXFX9iS3S870M+OoBgsfR64PSiDHarXaLA0XHQtfYDV
            CWwNi7NxAumRUvluiH/HMPWz2EJlCMEq5d2Bxg6XtVMvbINUOx2cpLVI0ivA
            SK1UKAoFTohZscM1u4O0fsdCu8vHXCwCtW4zxvk+4IuFPBnK9SiUJIK+Hm9q
            NgUzG4pBNjABMlQFiSPdG4OXILm3v7XPlaTp8N5VmBLOl/S60iS36uvqvZM9
            vhcrW4KkY/WMruqJVF586gJQL0HncWQzvf+3iZDopH97eJIL59pEzaU20IzF
            Kq/sMlmxDam4Aq/TMgFZPL9bSsgMGgiWtu0fcpTuEWATRqW6UsNR0bhROhfT
            BVbc64J/epUajvxW5pn1qkTKKSWp5Msvsn/LR+jDx5oTmPaThGgd44OSf+jp
            Xz3Lg4BvVTl8rGSz79RdWGj++VpIk1jEsLw5YysZO/Yo/a+4W40CYusjB3gs
            IknLh8LGPQggzK5b5FjZV3Wb13FShfqPn59MPvz58wnN6798viND8pfPN+Qe
            01+2Py0iLX/+vC9//zwjlv/r9en8Vyklo1+G/axr0XvzcPS++ufV34uwXULq
            5rMSCb/2og/n4o09hdXl7BvvvjO2IdE0+PtL76cfvEtUd1nN1vL9uvz+o5Ne
            KzqW1kWJQnEO82e7tv2jCQlcj5lLew+nh/vN28ZGJOTf+y/7twCT1fG9luV1
            Duttwfsv36+H/t79dQBLB0rlW6/xM46t8Lp3SpPbA+mVFZyLXCgAD+fPVdj5
            1ta/tt/79v78cwLa/sza/ud+exrre7tZ2/i6P7Xp/ufB7Zu6pFC+5WvsF14Y
            DzdhoAGyW/tMw2+6HyK+hGqD/k6uYbA0/fp3Is75AhgupTYHdVXaxuGwJkfE
            sh67tMUHST4f0c/2/f5zXfHZ+yf5IKXxkmao788uKL4DbN1/AO7KmVo= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
