<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0a5c.6412</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6412</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6412</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Dell Wireless 1820A Bluetooth 4.1 LE</string>
        <key>FirmwareKey</key>
        <string>0a5c_6412_v8784</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>25618</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6412_v8784</key>
          <data>
            eNrtfVeSJbuV5D9XE9AA/yD3v6Rx94O4ebOGj7Se6bGmjTGzokIhII8WyL8/
            /uFPfB7vVvvb32vZevC4Jz/P7jEWH/0TXZ8u4dU+ObhUQ48/V6E8PuV7lHvU
            e7R79HuMe8x7rHvsexw70Lgd7h7+HuEe8R7pHvke5R71Ho2Hr+48/SyO89wf
            XKKBFgr+nyk9EbU+/Xk4A949v37S+NvfZ914h6lyz8L/Mac888TUxFSCCzX4
            wHcP6kj4b8bjObcOg5yPS/PM4Kx1VWnz/tR5zvfzcpzOOZ7+/Tzkp/K849nf
            z33uj5W349bO9bPn8x8/r7f8M+/ze27P7/J+3dd/1BOinVf9/bze+rH27le7
            96fMP56/8/D8RfnntO/x7uWy9f+M+9zWxsXzfj2eaWXqp4zNLSq73/6a8+A+
            a/GrfMWT2zcCyU/fwmcq8/dzf8fS37l1f6zFn2O8qIZnv5+Xzxr9ev4NlMHa
            +jVbrapIAF7x7Ipnk+ptEfS4FgibPn6+UImOEpMLEHMEzuCt8wYR9ehrz9/c
            Q7YFd7cj49bS7zne8afPmi6vtfGufFq853zLlHuet871/J7L4D9w8zOjHtUQ
            7up9f9djRocn50JqfZu8s+jf+wuZ4e1J46uEMecjvPchAAeBsLfl6mI5oF1P
            76q1t09VLv4CVu+iw5oOr2GqVPc/r133tpqOoCWM44pFlQzodzz1SSBM+XDF
            /sX7VTl21FZd+AM+9m+c/izQOyXZXtrarPNygG/Y/kzXH5SQhA2Fp1eBiN/6
            VtueFmusvNdb3CfMK+9ZTvc16X0W6X0az/X+6r5mve/sMu6LAJdTNXXfXHO8
            3xwi7z1I+/s9Pmqhhc/3vI/o0vs97xO68H7P+9WW7uOOvO+p2/u6VUlf3d7P
            PXk/5pi8P0Q83q+xPvfjGd3belf8cBJ66MEoCygJ72OPd6qEVX32aZg0dD/i
            0PuStDahF2LE0rsTTzQMWVyl8Od9zeEY7XAghlg3sCZQgudsVC6+1ED3yA9+
            rj7vCWP9dCzHe+6C7fjH6v+6J78NaHkKAATXwShQ9bMLclEPiszU8y7rScCc
            iEWNAAzIFTgaYDrjQA8OrheuF7g0akwdONjxTQU/7QAkcNEMSM+gPnlvAFZ7
            ct9A34QDzwsJwsD7iTkIOBxwBO9RL2rF3OBwMenwwGgemPXY0XZH26QwlSw8
            om60jWmlwBM3+rvmk1bBdDmIAlFrE4mELVo/QRkhDKFttE8cZT8xljwWDjwD
            Zc4Dz2IEwRs4Ghg9x0MA/4u+odfug6ypAX4OFkb/R/1f9b+e/5Sbejr1dKn0
            UulVf5Uj+86H4+e7P+rATCZwyIo+ngLkRTl9PeLvcnECCk969H/U/1X/6/lX
            fXqX7X+VyCpRnrecOLADVE7yXme/G79Tv8ONE2OI5RmUL4A7ucz3N4/319dW
            tDYJEunjK34LfpN+o49vHe2f1XH0u/G79Dv91Hf5Wf/su7D1u/A79TsCv/P/
            6rvIX5KFQeYbE36zvgMM/rPvEsTPZD8OvwDX5N7vusNc/sV3kgf/wXEx1v+/
            w9hpeJO04v9j2PsfjP1HGNur1ibPIp7wP4S9/8HYf/TdylqbAln8+SvsHWEt
            cef878djr0zwX8MK/w3t/xWO81ewCCguP7P7A2t/PP/AEp5/rcYPrOB5+nk+
            Tb+pRMAfuECZ+FPmZ92JSV8r/M/X0v9nLf/v1vJMrU2jPeW/uq7/XWv5dBus
            m/7VpfQECrr/KIadyst4y5zPU5QDnZeiLFm8m6ob1+fTdf8rqvt8dLcvlRNw
            FL6l9iIZPl/dcFBGh+5vWnYaJF5gQgFcL/oq5Q5QZj0sFBJ+aYLW7/v0tl02
            awzedMIqLZY3NCpAO46uQ2vozfhN29RWktq+irIbpfrA9Q4mJ1AXB549oph9
            hzq6WdhkpSk7sO+j9ToBY9JkqP1HzY3uzq+7SWhf0oWvnY2QLtsP0Gi0j/b7
            U8YNauGOU3YeP0e9mv93Gb9piUCZgXoANmabm7/KhEkiz7Y2lqqOedn6dxkw
            lK3lyf48u1tb4Xc9ycUlPBzo+prW1qLN5qdMXjG6tz/h9jm949JMJGqJP19A
            2IPMQ0tQ0Nr0Tv0GSs701lNac7/K10xq5KlMqoxgcc9fdULZ7qQtuDgAEyuT
            f89udzWq3YaB+HrL/B7xAEFqb5l6Z678njlo2Hlr5tDxvq0M+vO92mvGvFSm
            kViOfi1L3/VsEN79lvHHylT/q8zZ9actf8cVuLqfMiC69baFMjvcMv5XGdfn
            srHbas9r9ftqC3RiggrcMrSnjbNHofBVx7jGne/yIcWf8sFbmfFrjC7OSQsX
            sRUoVA3q5+96UqnByizUs63/p/7qf44zJpXBusxn7EuPvushXMmC1akwX2jd
            v/sDliV7ydOLMMza+l0GlRBArB5AdLdx+fBVpucZSLHwnl23ehyX5qcMKTqN
            UpS+Ppg6yaR+yswo4yfREfB2YSB7T62C9hKB0t/+/uU78QsUjbT5Ug85Akao
            m2Ww6IvnMmp7vkloafv7vpwmw1kP9jwk8Gq+X412GUyefd9luSMR+D/nAx97
            7D949quPzx92QPcXdsG/+AHlHj04X5MrcbuRsyOpdBBnIKH7hI6VvsXBO9jQ
            mJBbjvOL4OsExmAAMbjlg+85QLEPuAtpd8zOCJDAQ8F1qTUASQMehRZ96HOE
            DqVurBAGzhP3E8/XyGH5EnZLYVP0yIDyCV4TQIgb2B4kchJYYCaWMEefdvQD
            UjrQMqQRUTEYBg7IBpDMYtweL1dMBZrAwHlkW5tDihtBzlvMNBYtFyGNxZIS
            yCYO0OeCe0xLrHXFOmmoRJXhoNoa23Cx7RYpAHYIGx1l+vSxH1zTTIh+QSuK
            YwaAcIrDAxcTDpDlOXBsyFeof4HlLqgnq02QBfYrQn6AWgz5ZqPPu+N60pmH
            obgFhStDwNwQLnEedDalCNQGGw5AdIBjgcTWU3omRMyNayyFCxhFmslRjcay
            uJmTwwQ7fOf9hioHYZRKXQvJj5T8ysmfkrwrCQuaQsJRcDQcI6ewUsI0JC4z
            1jqRxMSMjtSZoOtjYCVhAJAZHVSpjcKdAhn+hZTqSSDsKaFM2rjHAJJrKYeY
            chdnw3i5NCfl3FOueN5wPVBmhZT3SvkpCcI2qutJvcsTxBDVt53KwDsI2UUy
            v0ugh6nSDQoRvWacURBISr6X6tipYqwVdWJtU3M9AZoTVhozuRPAJ7U6Uut4
            hnrbXKltn9rB+2dDIgqpY26xOgmgnzrqBhykjvId8wQYh8B/IPjHBAKahptp
            oP4RU0KtAEXcY01GA1h2vB8jDQDGQBuAGUh7NUE7TxNrBGjHCsY0c8HU9QRu
            mibmZQ48nyFNjGNizPPgHdZ1Yd5Bf9IChix8h9dpYQ1XbWm1nhbWYI2VFtpb
            6CN4SIKIkvZf0YkMzuZrPLU+//0/Tut+xvOfn3+3n9C4NqAr9T9z8e/2UyRn
            JBf/MxX/dj9dno7kn//gzb/dz9q2Nus/U/Fv9+Mgn+cKWfP/Q7zpCzop5eLH
            bG4W8nGfxR/bYkvfuivAdRFen8DoGfeMlKGT4OhQ3qsLGdcnyAyFM+14vF9Q
            wyLe8xqaUqj3mkrYLUdVIsxg9/XeQ1LX/XzfQwuaqt/p/qn+fu/UjoMeEF2u
            vEN/uvpCTepeQ5th27pujNwJ+Zm4b2+/FZNQhvqGvsT3GiOr9xoaFdq060mL
            gitTY3SB5XUNjf7XuGJyv8YFbfwdl/pdNxRRBu2FMhf6nwPreNzEPa9rd+hZ
            WbzGhYv3GnqXq+9ztNz63/7u+kNl9WHoG75f6a1Poys7PmXrvmCWHpyHdyjD
            tVwLaw2pO9BMX7C2vkMjfU5WLFfNtKJCdz4Hsjd+j/fkKT5DK0e5eLxbSeWg
            X444T3beOUdzBNQwu4c2j8qgBi+VnyX6ycAQ3Wco7nbvsVJd587QUpwZh2Xn
            cM9R0XRP7Qe6w65FVuPzUM11BzA7AcmEUejINFLgYVWMXDtlQduiTaZpPYAL
            GFKGxuGmtcN7B43NQfuaD7/DODAXvEZFes5Yr1iHXWOOo5Mhz/F7V+yZR+PU
            c/UM2r1C5TA/6Gt5vu3z1ez5bxxnvfd12rnFe752//re33L9ntst3+/7fsv3
            +xyTtq3erqhVRyBZP/GnmH1Z1mv1Clsbjx9ebt2//T0yoowWcsCFcxgLh3ag
            WgNzOL8Bq4fxlZQPXet0RUCrP9UDRfAllwagB8iCMu0H6cF9l2V+hcaPORy5
            Ra959NND60QJH05VeBLGwiCDcy11gCjNXbxjogfHx0cEjbA7Z6kdcOaglXpo
            w08fnH+Pa1rqiuv0G3mMajkPTRzvKidE4VOVjvsBHRX0Pz9JEYFrNwyhGOBB
            lGqgGyOupx6noLUcgYDDZQaDgWEQJgGdJdeKopg6NccgytFGrSPTnwJ4YAzb
            0/aj9styjYY9R0s548IiOrNcT4A7356OukHz8FXMdN4zzg/4CJxorKd2ILXq
            Caqnsp7NZ4xhy3r3rLpLwVx1Ou/7z7hoNsEsaizLnWp2QV+eTZJF875CNKuL
            XGZfw15uMRqimBnxbDo89E7zR8P4dE8hligwGMTgUWjnVnBt5ZhIEdGnkdGn
            dcoOZ6CB/F4X4HkJoC3AzuHPOI5uuYop+LlHV9ykC8MzIJPhF3rOWEG3XYVG
            4jrKtNpAGavr/O9XvxmOR+N7ijVFBbA6IBCWBwfHvhksYn0CDRm9lDAPfVGA
            Acyla8KNnC/NpB2P3413DjFufgt4p18VhHm5ke1d3oeGc8zqcKDqmev6Tcvm
            M7rm8zF4RE11MK6TZuqO/nTal2luJM7J0ZRBmz91sAxI8R5dPDuP/Flvx/Ue
            j9WFPmII4AWyGJ9YZrTozY3VKxFjBmkwN+s8E1Qf3GUDk2QGb2s60A3CBelH
            oMUL55iIV8A0wGlojDcBDDaUWwss56QxCxj8erqnK7d43PVQ7RtSGY7Njw3s
            HsCE0uQmzMtVzmsmMSJhj+Bxh/GT83H7Xpc5Lz6DjbgMXAeOAqeEY1v1D+A5
            5zec1tKdO8I0xtV3CaQHuY5A2ORM+r5p7C+Yr+kZ8X/HBTjbPvzcB/qssf5u
            MyvAeITD2r5jcu0Mp5wJH2XeinwD+AGS6jHmDDywn/Yzd4UQujaN45UB7ZiH
            foxOxXe87mEkLa3IUzxx03yF8ZV2+gtTDP0lZkLwc5y7SBEJbYFWoCjOmKvx
            GMUYG6wZ9TV5JjAHG4AAuQ/UsjC2X/yR4SsVS/DFz/C5+EyqRpvDTKJlB8Bg
            /KjeqKcjf/3LdxKjnQVwoLd0bdQfOBUecSqT4dVLo4hX8TG8LPmsp5CVx0yc
            wjpMC4ogPQBdjIbvIBmYKnwPThAqrfmAjXlEvN5v+6AvCRIM1u195jahfjgw
            vcpsAT5r/fSsiHSsNclBNFh55zpjXQEalTIIhCxAGRBkFsGbA197KDuCN1U/
            NOfiTwxFnIIPDA5j9XtE78KTcIYEl7gsWHPgJIjG8GnKz94P3TuttKq6scyY
            GzozA2mGfAxgV/mL1jN0n9zliNfOmYbf5GuVBHwFxRsAIDeEMuBOfxLWa1DG
            QZlgPInOGgaCpEgXDS1yvifAZYWsr/7KUw/ezqANEp6yGa6Mj0uvxAdgmffG
            b9UG1xWjBT3RdwrC9yYb6FtKmpDVkwffBcEBokgmmIygr77utcKYxwm4+qIn
            slCeevkJr7FenWs3wtkvTYf8TXAWrLBv4p+gMwtQyE4swg5gHX2G/nGfHUJo
            C8RBrEVe7UgbuvKNZ92QkWwsIGAxMgsCZ/eYEHT5+oO1gQTWkqg45sQRctBP
            yG87alxz9wVQNV75yhTERXAziBWX5yx8Gy9uMDIzky1ijQv4TjqN4+61aK4J
            oeRZA6Oq+wcmMAdJ64Ix9R53H8qRIa40R/kEctpSYL7M7psyHeOAZpX/s0gs
            QxnzZjIwh6gOSb3ZPLsFWlRJy48iPMgP0OaipgL9IL9jDhhejZEBekHXYCYe
            0O5RD+dVOLqN77E9MCNH2V5Ig3lShAj7Kvg7CdoPxZhJGGbs0oV50n/QvgNQ
            34plJT7Fe02FBkf9uie/sdwajhFtVmtzN7TZhcBHMRT13ts4kyWgQL4hqWhy
            o4GOZkkY0p8pZ1A/BT40Jcy00Yh/1MfKir22NCHMgR9SFLf1TRB5uLaCzcfK
            Nsp0qJeRRLamiQQ8S56ZgIUQ83zh1OpJH9kOd4FBCi/cYTh5QqfvguewvMG9
            I9wC7wiX1Op5FhxjbAab7eSaZmzoHxhyLUM4zPCS2dT/OtDx3K1MxLzyOe8r
            5xjPiAPMUyENYUbLpBrcDZbbQP8rnpNMuuFv/7zh36P+g8AHIPWc9xnHc/Lw
            +rYpnMVPaIAQ1Jp9B5nY3fHh23mvpTO2XbyyKyCs+z9lZcE2enr5UhJfqruX
            QNp957WFntGu+km50pPffuP3yXcenc0j6alvgHs3RnCiR00hCcAAyEcMC2mS
            uyLOkJeMvhCeQSt5LqIzTr5w0xGOV2jV8IvRG1beaDOjrxxkK6PNDMBwuscZ
            v2D/BfyX95vRuNT6QJ+KO3g2rSztPj60zxgpgwbcP4L/onAH8cW1d/5XfU2Y
            tBUYhf3PywVQK65NCKKDYzHm4l98gzXeA3L7q5+sscuAfgdCNc6PfucqyRtp
            KahSuPQGYkp/ZYL3WSCtx3wygdQpiYqpq5QPnHQfrKXKisdMBTRW4Mwju4DJ
            he0jF27KaUW60OZ57ExXtHRyEDKeJ2iDsqiK6eYQ4aZXTpfgc4rSXLx/+bvx
            BfCoC4uUkSS7hNOvPgo8GA4MufI5PtWYxG8ehYbLBPgZV/k9Lsj147s8xxZo
            F7k0JZ3NlRkF+ih5ZgT0NMKFCZHk+QGYANqHSQCvnM/l98BxRlEBcyvRfBBv
            oskcko+AwuQbipl4ZQDI0rtBBhgmA6TM9z/0SbIKdIDRrowAPWVVoxHqi6P+
            CPx/n2EN9T7+g/eMDYyGP+qrZFv2tTy9Azc8xHmca/3b34ECy2l2jgLDfAfO
            eBtf8vc7SMcZz1VG6ZRAKV1TMoYskSAFG698LBj06H/QTye5n4jJ8pDKZaMC
            SeHZQXRUnfXep2Dttfs8QGzUekhGbRobtSHU7qiv065TIS+BJlo591yaKzyv
            95nJJwCduaF/AicJrNP4G6aN2BXUrxMtSI19QNuT5qJBhCyZdkjKrOJloLn4
            YHWtBORkpehANHioq6l/YeLZHAzlgT5O+06BDjOXX2czrpgiRqJQp6jUTsM1
            6AXx/9mlgRYx2AP34IGbiCbbBPUYBktL/CWfBgjs+KXXA59clpzM9ZB+HZJ4
            CIUzKNgecoHwWGNBdY7z/TAGJoOWvnp5Aw7mcSg09S49YX/xF+nmlMXYljts
            96c9Nw3+mFieyQKl2Bjd8AmqSoYcW0qgDEh5HYRsYX3KLtBVP7pgdOxDqeN8
            dEPaTOOz0w3qKgplxlpaRunz0ioo6mBQZt/EhJa+LJIPcqDZGge+gaYqQ1yM
            3flC2ic9k/YJSxdmesJor974zvk4+tbLiZxs/Oyzb7ftfHbwZuOgUJccRXnQ
            Z4yjm01rU/6hjZIxTsQhijme2f0OUlc2XYaGCr8Xnqtvj56TFoHOkMdeOhTI
            UwhwoJfALeD2iQwhdLoH3c9nhFtW/Kc+Jh/Tn7JAV1WOYAC+MYLiIaWz9Hu9
            wpVXIfDOe41vmtlgQfMywIOB93y33E85pzGuyvqT0zW/owma352+pto2w0Y9
            pIW6zye1ovLfdHNs9ATP3nV4APtMzCWV/dijaCabY3N3g8TIx/kFr+ArlDHL
            BK+j9JZ/rskr0KMyx2mdNs9NXxF6DfgRvykntEad0WRNyMPyyxA0ZOcM0r9l
            RyH+b5+A6kAd2locaYvZU8JjbdJq8m3zsChZi6Bn5hLHJceM+TUozTCEf+St
            d8xdAmsAHqdYC3giw5+mk56mLFjSNMjSgHWQRdr/XzpJedwbU8W7QDrWTfcm
            4f/MFYT2DV5EruZ+0Vl835mFhfXm2gxZMKlhLffeU8agjR36Y2Yd0jcld0bP
            SLOZTN+WXoQhQjwVDBzCIq8BUrQfumF2HcmHnYyZ5UDK+Q6LS3sJGLXsipSV
            9K2yJAdT4Kru3YVH6iCLOJxlm/zAaTQ4ZbS7ylNpvN9Lb1nSqTHRK1j9EBja
            7eefdUfDF7TAsEP0EcKMO4Om2wkp4c8xLRD3P8fytosFU7uZ/gLINFESyu2D
            NFMsq66r9Tv973MG/rWBUnMv4c9qwJ8X3sqiTOkUXvuuOeMqDUfE270fWLuX
            HnkSFczDxPrR3kFXB9YRQGDrBxCv0JRQhWsAzkH7Ci15kKrk0DpQTSB/V/Bj
            LyMP03bsPtP3VgWn7RvOKBFL74E+SpsSdV+Mgwnssm0nwDuF53lpaXV5+h4X
            5hxyYISs8kVPr14TIJ5AthnSN7PkJdHTCH1xUianbzX9QU8Lvms/9LSfMW5Z
            p7LMdKOfCBfHvfSUiZkvPXXSGfu9NnpKQfc0mtCce+nq+4y7WpC+upe+Qsb4
            V/TVru1754zOQpd3oGp1DaOzgo124g+dJR9ge6kavT2YV/ZVejB0t5HY2/2R
            N/LltXQKZ21NMUCZqWxTNKbxAWwG4g2uqbxYHgfoNH2s2q7D/D7yzdD/w+8g
            uS3ZqdugUlUCaHfhGPyVaaC3gneik+TL4LeT/JbCEDQCygegyZAYKfuVaLCY
            6afgsw6ZotCHlgWrTu/qfQ4FgBHbqIffN1etDtC39lBKrR0QGjPL5sZMUfJz
            1UPbAqajN73zNDRDhrmyxzOurMVNgNAe6/G3nlTED8hrrzGK9IL0lw+/eBWo
            YKs0LUiOM5vL1PXkvJGY9HIAOXQ8b27D8Lmnl5P9oV1YbZoPEZBEYqb+J/aH
            ZfRembljaG7az3fhfhfi6u+7dxwh2DsP0GQ97s61wzyxrGywd55btnlWHirm
            4n1eORdKMWrP+57U9Z1zvNZ3uf/+rt11C3/Wl6xtymGfOoo9y+2nP1QYyRNl
            k8Icf3gwluD0XSwziEQf8OcobzpPGlNiDdpNJdt6LWkzI0VaUj3YgDOewz1V
            gOTulbXkwabjJkunndIVIEHRqzpdnTfmwgduKgOZAYjbPvVQLr7XLE99VsQU
            tPJThj6XSleGvT9NCYw1jfW8ZRzvywq0Yb7l9jmMuz8eSmKJAfxiOPltqxM+
            Eq5lO6i0m0Anhf4ki2aJ09LuVqT8yvgWyjJOqSGUl0jUoBtAdcA3Q/NLRkFV
            ojET/aeN2AyONkOpJ+P8rQ0IL9YGOCno8+S9bM8Z2iDgwZMGNKsDB3tVF9P8
            HOU+p1go+jCY8aVEP78S24/0o9DvVW0OoDN2yEAkaUZSmMrBa/mBvfrsCadM
            l2B9XCi2jf5jbsuoNtekaZ4xPZgJ2lyPWRFv1o8LFqdQb5pjjraNVozcEOzc
            ZMVVTO6TbkO/H+TJGMjHxwm0waMeJeYB3ki3KR/SVv368CirvddPNb+96S52
            XtBbErWWV+eld8EBuyiQT1BWB9B4Y0SixYh87oPdRxk90QJ0PIlkXnOgs+SW
            GLWLEe8P6CjP+5YrkK3p06M/H0rSJld8emZQAuMzhIdM3lSdHeNiPAf6qwj7
            9cal0KhKfx7T+u95xLtzkpcPX3Eyw/rLce9YZJNi4JPOyc7vHlWQg+79fe/v
            Odh53PdbcWcu9i/dU/TB9oXTmnmmmYAnxTBG8Og/ZqRHm2+I6OWso3gcyCJa
            p2kw/vAdUKG9c8D7HIkrWqOGM2SV3WVGx3W815ExZJyHGxuVbu5quftIKW7A
            Uj65x5VjVAd/U1TskZe0ftd7SgVwKXfp3J2xKpz/feElJOlEkDsK+iifGHjm
            cpQig79w9xWfoggvrFkizWVStfOfNc7RbAusgzYu8w8UKwtW9l1uMVSCco6n
            78Alvz+6M/dTOpUWw8ihe9K3KT8Q5bsgOY6BY7InW8Yj+ySbK/X2SHqDih76
            DuLCOHaM5A0ZHIJVh1oct9OjTNRQhjFodUeo5UvZKaSvEcsJYuy3WyLjjm3c
            tmXvpdsO9zOYrxBEShl0wOOo/njJkIneVxBC9QWNg6QwSWsw1539LaPQp1qc
            Pz/9qRg2FIbf/ZnWn4VnlOkgKP/yd0Oc8nbfo8G3wbCyuxmb5m3+z6SoaO9K
            tHe13ncPpM4i+E7rwncBTAP9K2OZimLPlPkCyNLamK+oGK5+YnHoAwWMk1c4
            qLCBtJg7XRzpM9SdgHGyo0KUDTShQBqnnXq4rh0ewdsPdGDCrDMYYzuZMiQU
            Avel/2fykSfYHAklLJYCYFAhHzDmsGbmhgGdndHP6synQW7vMnX8cDp9aWEo
            0BQAuxJ99NqczRscd9l6GI/HdpLwgN+ueVpVXEzyiqmSXQq8/ru++VUf5Lzk
            bR7ftsjvIOcRHyhSPPUdy+M/cgz5CFhZbnddjFfIniXsdIwXYNtKTTL7SnxE
            10msammay/aumaOdE9hC9ziUPZJXjnUG2r3FpOWXZdwBY5ownz4k+qGBZ7SB
            6nmgqGflaS+fVLC86blgPZ3PuAukY8IioIh1xv23v7fp8jbHbQozyuz+UBYd
            sfkEOGJuuTt5M75vQP6CGAueSctJYI41nz0bchZjSSEezIzzpmqorRky3j39
            fg+Aiq9/lL7vDZ1f8VvpKI4HEw/uGgOwyb3xWwTup3/GLr17NBI7Ljy3GThp
            i6ObLBjPlrn4xoF9vmP8J/qhyQBPrB3ltUMhZUTFHDxvvAH9fzGiTG2fcuwH
            6S6Dor0dw1O/COBZ5Gu1ftmHo8HBK0PQXkx48PQzZovnwfwcxv4xhnK20rgm
            jKMB/rTKxEFgFuVs0BcvvOgG7yG+vBGyT3XZ9ndwyfhvUfyM1256pDvlfMtD
            2tVQ2evvfhB0qv/E4URGcGnfTtCkLG+5aBLUTMpwwHLFgHsyQNm1QLtid4Xw
            kxgH6hT/AfGaGykpXq9CIeA1eANgqdP0Adzr2qVVskkaKtdQLqBMo98V5Jbl
            dD0lN+aOsoEWB4YOpSy7c/M/sbbuxtl+Ym+FM9o9ylWaERl7E1eEEsr40lgl
            J0lkybIXQAZxmM6HcdKTvJ52SdSL3jXGpkFz9nXmwYCppT5yuex60sFE1Qrv
            aabGGauZvfzJTBNnWB3n+Fg00rIYZMLRYrxdTQa3VL79o4R14YynwZJxC87i
            U2lufUUJwiDfsS46REK1uh76UyKDFUww//N728zj5/tJCLnj0yYu5rNTDN2g
            zHosNTzdd9PbNr+efMb/xOneHXfr1z1XwGuPzjuWWnOweefgmfvupIvYmj+P
            zSVejQPsUEwVZTDibnesG/c0ZM5bDrBQOc6iOTlyRxE+1AYdD2iPsU+RshhI
            COUak9ftPry0dTPe3TUpCaATlXatRZ2T5ghru3I8eD75rBlsgIGyLOSPFybo
            yn9hwvvJOcF77UJMrRvo+hN3Uj7xcuXGv7373HLes1nstf+vtATumBANb8uN
            Fy9X3sj3XJN8bl72EyieklsbZHPH3RpsXfF8ZrMdjffa4fqz9/CyOrrt1Cmb
            BChZVxwh4wlpv6R+NCyGhN8vZ66P9phPOmz5kO4eIB76CdRfZ3Pe7py3zZhq
            3L82KO69RYTCGBv7PCnrSrQmccuvjEMtIVEna+LPzfxJONNERo0VvXHXTrSL
            bAFmSeg2F5kGXPls8VSxx7L3AfvBKz03iS41yLZq94dyJNbKK8OeNNlicCFI
            dos3D7bdwrbz5BoooFxMiDLGop48q/RWVD62znHs0G2u1+tXw3g3Za+k+LqP
            ngliVQK4Hs/R2c4brk7Fu3vQZLLH88V/fDf6Ro/xRNuQOwdkIILZ4fnQhlQs
            H4JwyeRz6u/+wgu1GNkqaEGZ0C/r4TZ3QfkW8kuUJnsAoxlJWv0S/snJ4rZo
            j9Nc2Pu3XLww+D5/+n7ed/6Pd5QhydTY/rztu2DtK6CK8OD83bjWCw7HMbsO
            RRafgr716/R154AiFvdkeOfEdMTaeU93LNeVsrrvrreuhAvtLysdytkY4/PS
            EFG59eZIlG3nfu/fHAoInNJt3/iNqLxypx1xP7ZIrBT0oopjS89mvAbneNKx
            P1qYr/5dFKcRuE+M+mW8QnoxQcLiCYFxP/Gn8r9hXur1i/FaOTcyklk91AMh
            h5gtvC66ItQe/TysK375i1UH4CPe+tI+3BhMJgvKz9yN9zF7UJQMTnsZqDyf
            O8dt3Cm3+RPmokzMvBgAgjYqD/HdQruvKB8eZeRy/Xm4dis2+hEVcwco4PPw
            af/YLlWkR43xAZTrDK6lI1fL9eDzS4MZMB1kT8kr4dxIk7i7gXbwJh6QxnDb
            HG0yX0zfvjgJIadwX0rVR5/Gtnpwbr++Dfdbp9hxRYBsPG+KKcO5mD30T7hZ
            j9GTPS9ccZchp+23h20XbOeypexiMHYWTaHGO39iSYEY88vnXxL0j70GsMp8
            Dee7bGfcc6RfRr59ztucYA/Xrz+h9z3bDaagKO7b6AdtLNKd8mSagMleDuVO
            lvjJORnCo7ieTxzR9aOFaN9YskHVfuqvPyQd8AnuCPnGX1jM3SevgutNHBdi
            QuJ647qIAdyak/t3OqaFOKrbBLSVaAsQXMybo6K476MWSGe4KRHv3b3HR+el
            b7jmpnqZNpyqmZMNJpM/0L6gnAzObz4D6pmTHQLlRX8V62R2TpM9zH7J/V9c
            d9oSmfok2qK04mjJou+Z/ONjuwNdXxPa4/VL092QunjpbD95PAy3WbTByjft
            v3x+XXoncbN4xlUQX8v13xH/1ydW+VH89o1loHgbwDujL4oHpkpVJXlp57XS
            uHvNH98xvpFW2giqwzjHmBWnPrdbYQH1/c7aENri1bPigUbMP7QLtLJ0t54v
            H+oCzNEXqNh5iCknv3HizuxO199t0OTr3maj5x96eLLiXS1mFNQkbG8xOMw0
            AFXaQbYIEP8bg/f6vEmxKmN4ysk8HzIDmwPG14gmJdHCo6wFJpscN6UHAjOC
            fGK3DLBku9pHS/IRES7Gjd99rN8nayP3XZhv12lu+FrX0Rk3kOsnbuBrbaFT
            oscWN1D+iBsoN27g0j6ALn14WPsb10/VI3ArKsXsK3bxZy653z/aY93d5Wqu
            G/OVQyZ6cqNdvDAGNmobcPDUKFt5bq9/ftM2f3NZKv1O4CIdGPSulfIqeG35
            xJ+8FxJrtrtvu6+Pnn16ffSEq0y4vGvSX7jcsgefj4+++jWx7HmC5kJOA6xu
            799YjlKb1/6SUtV2SHOKBtI26GKdgDugpHzkTjGmUfEBKVjezLOaDFmCNeaZ
            4ltQBfDERr/VhYWnAu4IB+BRmzBW7/hlW2afptsEVdI6ENF1YdtrXcyDqdwV
            Whm4sXCXbPrhadzznTFMgAqzXzMWwNl8Ndr+/mqeaFMRLaCNnzlAN96H8CW6
            wYhtykcmv+zh/4gz7fRr5npkCgF+nERfalKOmx/KlWiTjiPLLXhjUT+xlxY3
            HOSj/JMOeaMng5vl5hsT5VYHNvjvnIE3T0I+3ERfLIn8+sBdRyf89fHGvvwn
            J6PK/sutIgct8IodZmIkXcSkTQwsdp/YaOgehSaflnGuOtOZhudVLm/7Ew4g
            KhxL4jI5xW22G7cpekfpm/v9NepYb8wlPR/fOE3a0Ok7tlg/1kl6Izyj7n+f
            ZzmyoTiBNzOhtijxwOhqzF0yNQkf80fpXdkA0TlOYIBDR58ZO0RVqxDHAJth
            nG3r4p7veO55n/3IEu3Yzo/u9K8cEspsH3hoFx4gGlIvsTl2TvGTlgtzaYxX
            vOTpogONwQnd4uQ77UggoDRIxw392+gOUMIPJnP25Cz+t8v/x7/cQ7t+Vnzy
            K/M4txkQeRSDyBgaxp7KTGZResF9ZOai9qu17w+3QDP+VyV7At7+xCF3aY3D
            vLW7Js7WhFs+Wn9lQXbv+296KZu29R0KsfVrMMac9nJ8w/GFC8ObG0mKTjKQ
            aj9/xoczmYUmCsXiUhdlplW+f8iDciz67sB9fsbPnNOCegATmKOiHFGA2Mtz
            CDyMN3gsjnx19p+8tkm2kf2KyWNRxknND+MoXj4DAHLKC6gfOPJufOG25Rxk
            BrGBoHKfUsYNfXgr2qllKMYBOsRoRfOmuCJFXFBfYfwC/RTENcmgDAb9KseE
            3m8awfgmzVhaBD7aNyp1RcB8q8z3pPGK32a6pW1MbMsfy20SP5T+DDqRnx/a
            8Ch/B1TP8jI1bv9Px608MOaiaNx/vKO+IBM/t7rAXDCXMEELoF78roNkigH9
            +I858IzVSOAB1O2pVtb9/DkHtDEzJwb3e6YVepK8ymj6N6bL5riv57vuRoG5
            KiZCsbxs+33H3eR/0eMJfm07Gz6vz4s7+QJa3Xi+aAbatXy66iXjn5/cmYp+
            /pFborw/0W06GkFjCM+jWTwWc1t13xXvVemYpKI3BqMlGSPB/rM0Y6qZi+Vm
            fvsLKmo5XkrMLo/2OTEr+e3roQ+uMmKLeie9L8wb7EyIb4p7iO+flKLUCPlz
            RsMRxT2TDQSDN+bkeYuTsdgIPqe+zNhu1MXv+IeR3vwL/tkhlJk4k/kt2s4x
            VMU70acBvo/1Pm95yHUS9X2mXNswV+3mUrYPzDJ+VD5n/kE1ii8pK7eolqDc
            osqdSKhBot+NfLdUw0/mzgo/g+HnKPpDBMyocZCv6KEw63O2/Ez6e9CP+ea3
            S7a7MU5YhO4sn334xh02HJeBfybN4nq5KYrj7K9J5/Rbd+c+cOgDFad4ftqJ
            cwEtJX9V3y03nWPTGImfd2yyGSb625Ujwgxn5rVU5qY7Rt01bj94z9n2ZSih
            9KtH0P7ou1If5duZjMoEv1Zeid/QRb/GxHEE0N9fY8OYIJhOzzwhb7YsJ++N
            8M/Z32BSQtxDWxneNrZPn6JivSCSsu0HOrtiHopy5Z5ZmExRzHfF/bbpawMf
            W7I1bOXvFOVsNcaH0kjjGOP29l0WydRkb9efGWrms3tsn4Sm3JmqzbQjSMxJ
            lC7LJ87r8K9E+e2Z2vmts0fT9fGRfL8W66bc9kgF3GyeX3zJgJd2pqsn/8nr
            xkMftA/jjbeR71tbx9cbP0XbT6QcxX0XwvU5P/P6nIPJudSr6+SeNmiHeinx
            lFHGX+8oidEnoDgZwtaKzAWzGEvZ0MjjLEbE4mUMRg/gz93YmcM4jGblzPd7
            y9uf/Iv0PwCIqvng7E+iMfza29a5zexCN/7EYvMVcfqJzfdH4YcJ9LVOjPuT
            F6z4FvHluRTDlBkn37fpvoZPT+G+C53XwJGQVt3MHWPWEPcewTVjSsEDQSwP
            jaa0jmiuamC+19eeFSRmzE4vd38cxhzkG0NVf9p/y7MfYGKV+3FwLevry6uP
            fHJL7dEAVhnPVxnPW9uAvKLuaW8P5VNC3/z0Ae3/0SfKKiUPy7dhflLLcsxd
            OYdBTIp5BHzkd40BoyOQL0396bCrqzD6mmBM/zY9YQx5w/pO1KM/yKHkQfok
            W7M4Bcfc5AIGN77LPF9lwMsBqXevCMC+j6+tG/261n26FRgfzp2vt/5iGVQq
            vgBd2nzWuF78kHn8ldukV+51wjjZDC1F/M6/eAqeizkyOYK6ha1j+rPMXUvj
            3TR+MK7Jp/TmLVOfGcoBXG88w96Ma/IpX91a9u0ikYx44GzfiEffYe3VL61N
            sH0qeO3nGYwDYFCoYi4fi3MkPg4vXOUfQpENNCY7txTuHyG8+xpFp71vKuSm
            dyu3c/72vwDICMxO 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
