<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.6412</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6412</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6412</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Dell Wireless 1820A Bluetooth 4.1 LE</string>
        <key>FirmwareKey</key>
        <string>0a5c_6412_v5799</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>25618</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6412_v5799</key>
          <data>
            eNrtm1mO7DiSRf/fasSZyj8O4v6X1OcaqfCIh8ysrkYVUEBXeMglDuJgtOGa
            kf7H5S/9xevybt6//qjlsYzLXfm6nhZj8dFf0bXhEkXPysGlGlr8PIVy+ZTP
            Vc5Vz3Wfq52rn2uca57rOdfaF53vy53LnyucK54rnSufq5yrnuvW5atbV1tT
            81znj0c6uEPhe6R0RVq92nWJAt5dP/5S//XH6g9lkMpdk++YUx55QJqYSnCh
            Bh9Udt310tuB2enuilc/V+AqV1XOHa7E1OLb+m01GjUG5S7myMgpdVqbwYiW
            ve31yS2otUknZ4z9tNLOPfoz5nOvby/nnk9+Ofdx2pmn3J/88NYbGsu1a3ma
            oUHGt8vDaePyzDaNNYLbFD619wjGWt/zy3J2z3G17/nMzAb7xPV8z2fSe+Rx
            X6f1d0xXHn+eX0990fAM84sS3+v7M/XxWzvhrBDEvtrmAFf9zzr19AWvux9j
            uL6o9zP/syp/Xv9a9/e5P9PlPZfVv+f3a+z8+jO/0MCp/4PmwX2txY/6lZwz
            HgnCZzzhi5T5e/7LHe2lrftJ82+c82Nm+ff5HjVD3s/88rV2P/Lf5kd0DHWd
            lXp5+zq1/Zs+qxHe3m8VtcJclsm2DwEehGFPp9XFstBPV2vWaru/mnKHC+Lm
            AF/m16S8i455dG8sZW80/5mza37PwInMxn3SDdFqBuYQV70SiigvzfsflM8q
            utJadeE3kj8/+ftLFdQP8V8t/31tv8j1m7a72qBmHN4qRD71beq+7lhjVdpK
            SSeUmdKqZ+marDyber1u3ev5WLpmK28aJulialHkGZa+3e2UfjQtpT3q+32f
            l+5wh6/3lY4M6X1f6cQQ3veVnve0dHyi0i21XV4fa6TNtsvHM5Tuow+llxhY
            6dnnTt/JOCCUaszdr978Xu/KnwjSQgtbypAqpWOLh2ymv9toY0tvt3SPPW7d
            Oy294vqkAzzwW7rmsLaMuAe+xC5eETtzrYcGtYpQYy3pw8/TV7n4qq3Gcrz3
            Zrwdf1v9H2nZ1EDPwxjAeDls+1b9aMattEOVkVp+kI2E5EQWNcIYYAeuGz7O
            XIxg8Tx5nlhiWkwNGWy8Uxt3GAkrkuHujG3LzwNj3VduD+KbuMgvMj2d8gEN
            ApdDLiinXVqFNlwuJrs8Eq0LSsdG342+ZcuqzHSkbfqGrAI18WG8c1xpFsjl
            mEPcY8MiAXLojz4li9UbB8TCKmuczCX3yUU5dj938mLEtHauG0On+YjB/2Js
            jNp9CWi64ZnFwth3tO9q35b/qTcsd1jutNrTas/6o57MV16av8p+awNKJixE
            ZYwLfoZXur3d4896ccCFK132He272rflf2vPyvL+thrZapTrrWcWyMGVQ7bH
            7c/DZ9inu75iDLFcXTYVecllvJ/c34+v9il8kn2ij+9799+9t+zz8Jn2GX7Y
            e/maf/deeOwz+Qx95uaAlGGb0IPa8P+ojaiPVEEXtIuJT7b34MG/ey8BMdP+
            c3xg1+Te95qDln/xnuGhP7mOxPr/TxL7r5fSXo0DMpji+q/E/udL7L9eStfG
            AUUI898rsT3MaRY5/+dJ6cEB/5zt8t85/J/h2b/iRbi4fCj64bXf8r94ifxv
            K/DhFfLTJ//DC+THT/67vuU2DqiJsSWTpG+r+vdr6f+7lv9Za/m/Xb+r7Qm6
            YWGZaRxwy2fcyFulOPv+ywFsclj6qf/lDVs9dLuFYQx/mwvhR5xfr87zVazt
            9eWvfXMt4aPwHakXw+35+IBduPwadXviqUt5YXgCVi/6ag4dXLZHWAQMrNrP
            cZ/c03d51GLw2w+s5q0qoTAVXnB0LcufsDbScYJdL9UHrbF5LemSzz0gh2nG
            9oTa5cSlE40oT9B4+93qgK/MY7ng+mD0sBQe27dUk2s5zc/dsRJFHliLjltf
            n/6JuHzqIBTutnafdXnfx/GTv9fxM0b3tuNGr8dF9p+ecWpLQAfM+bSUzort
            t8NUBDCozmJpdw/uZw+Yl7IjEhXhPiP1WpVPneTws60dFfs+j8P+vR1IHu+3
            Tj59+Z99FYj5iDHyvQSrntNX/1anjpjnWyfE3s7Cf29HQcqvduiwnYjd9zrt
            qZ86/dl9Zbnmnzod//+rL7De1hztR50xhqIz4jobj4Uuw895zVLDrsMqtbz7
            Gj/7wuGnfdE5Lnhn94XMLdVZ9kYKv/74FgP3E3QnWTQpCvUxkrt76l56vS//
            PVh3P9/TZd0WFGlh54eETlb5vEWna5z3e5PuQN7H/13ev2LHf5L3Y4zXbzEe
            9xcxn7/4Q1p7C87X5Ep8XM/ZScwcZgsk5hMDK+0xTd1QN31gn5bzCIFfzlgT
            oY/BTR98yyFgkkiF9DSo0wNIKxSeS60BfRPICnf0oY0eGuC9zxA690F6kD97
            DtOXgOIN8sBArgEzElYAO9+oN9AWoqPtCmQ4R5+e6DsI7KoxpB5pGPPHhT3A
            Asf4eApnTIC51LkrsB/vmOuDSLiIpY0lJcSVC71QSEOKWOuMdSjwRDNh0VSN
            d3fxfu4o494wKo06bfjYFs8K9TAWEG/sI0SzHnQutd0xk93niEXC4HN1rgc7
            Sl8T1TqBofOGJ0eNk/lN2qelKAD6NJ6HNmOYipsA6wyQeAAR3LsC6QnWH6je
            gM6FHQuWWSprACUenlkKF5hRGigcKMeyuJGTg8CO97x/gOyADoH3OyTfU/Iz
            J79K8q4kFjSFxFW4bq6eU5gpQZKkZWatAdKAgsxA6kj4dEysJCYANnDA5IfK
            TUaY/5BSXSk1OqFOekgzgeTulEOEOivl3FKuPN88d/JnwBWfCX2cAFI00ZKN
            KI9UqoDak0qnDABVwGugoVRpr2rrCvhVM3cqIpgArJIqrn1lfpU2Wdt0u5bg
            YNzLCvWeBMuku/Z0Y+pu2r3HTPfj070ovx4sX0gNerIieNc80zZ8kBr1G7SB
            rwFzi7T22piRbD60wuam7kbq9NVjSvSQ8ApwNrHeN6zZKO89dRij0x88g1Wv
            uL49DdYIbmcFYxq5QLqGwznSgEajkz9CGsxpMP+xKGNdJ3SfAfcZCZm8RzGu
            dEmz3mneLU3WYPaZJv1NxjtRtfOyHcB/75/z6OMYhTivAzauOU/e+OCo5b/r
            7Ws+1HnQvlEbKxcMlFmxHNvlSnUBm+OWtGrAsMjLdkpPVFGkXM9oi1DPsxTR
            qSdxwoXc6XrScKulx1uOVhjWvrM0yOm876wfkDbt56oU42k2FmmW84xEq297
            vrUzgVkdpO933BZzLd3Gxlji+8zM6nlGw9DnfgZiqf6wObqg+vZ8RfdjXjG5
            H/OKKNszLxt3BZDd2pQDHU/Gn4PaABKR1nNt+CChTD3z4OJ5Rve4+ubTs7aw
            eGemtw2bUcE6l8fSBcpc3LvHa1awBbWPfMh78E1IpMuNxtStbLufNQsxYjPw
            Hqb2IxCjmrQ7yuCoh1i5mayeE/ofKzvvnMMMuxbHTtM2jeGGTKs/SvSDdLU0
            g/Y7XVidZvemLXHu2lva93DuMWuMSAs8OTQzbftGC/lDz2p7WTdWQGLrmBcW
            tGrzYi3tbcM11GWsSgONGSiq8tJ7Ts+3nmnIFTmLr59Qt1/x7qHWk65j3+94
            7sf/qG/61Gvnfp/67ZS3U7+dfCb37Hab7Yon+ZtAldl//SFP77G9ENaHcaLI
            wF2o9poNLgeoiECXlJdCeHJ5sCqretgTP/cC48ECOJooduwjfHrK8iMoi8VB
            1fcMHliGgHD9MBCeKqva1gdjVQCT/g1BwQlGm3jGfLEeIN0ohi+McYxS7xkn
            mN55NPPVQJY4bDyzhKs0220ElVHFYxUo45o2F9JqAzPy6w/B7iT9NB9h6mIM
            QJ16I7PY56suZxtioBsHKsjaaMIp6PMB79eSa61y+KN1J2Td715rz/LbYEzt
            j123mIj+y3S3gKXTlo72mcAyfmKW4Al/C3LLU+OtmC0weK+BXMCbt9qBzYqz
            doK1U9XOozztj2Uru2Z9kMBffzSBkeczL5ltVtfmMt2qG5eCWR6pC3kB8lh8
            BaKIjDU8001FXcuGsSDspc11+cSinxyI4fDl4W/bdEcoEZS9gVkK5kx9VDv4
            0PNTylwlaz6o1fc5d7hLMu7z7B73wSkUUCHBJ81Q8PMytk2bvQrzWr72Id3j
            KmjHNercFetOVtPXj3Fr6y8r0IwNiXb0wiEgLA+X5v4oKL3HFMsarZQw1lOM
            B6BlmyYbSdZSfCdMqff6S0PmrXdHWY953XMCrHdZfla57sWUukOjZq2r+KaY
            mVuQvA+j57X5kZZq1z4xKxpAmmnzsPb/a9juTvb104bqPHiBcwiB4qq3r/V2
            Gme/dluMEaCATjaPZcUy4t4ZfkC6sEljZeMO54w16AE+fZCkMFjXPIeLaG7E
            BS3a/IKW3IPUAS7Vc/vm6sQ7Vmio+LJCC/jNDtciPh0uxztWqAEEXkWzrK1w
            DADjH8h+lZdH3f1cxvgmqxk5lryY+tgy9IiGjMWZpnILPHVoAxPA/a7lEqBn
            xUM0eXgUNGuPnEg8jTWdTgRJQyBfi7Vx4ZNWNP7yn3RQ5EJy03ae9fmsum7t
            WGx5xra0ydzed8qN4j9rpO19nC4YmvFi/VzY+ued6wXvG00gAZxfJFlXw1OB
            PlHwgrYVg0AMmqS2X1viAY1OduSOdvzhenCtsFaYNByBC1dCujKTytsuaZvi
            Ktsuye7QjNmDFLeODSOZTgK7zm036tklWRbfSzr9YNpC2I0V3LEJa8t87rrR
            23fezrDVTVnSyl/f+LJAx7HlrTxwbf48B+iGnBdqzib9+Qjz4ZeCNa6EbYG5
            7hshTmZnMNPR8JVNSTozLAnvcKw9613B1pfyPDqDduI+XOFp4Ogg3KpXJtc5
            /YNtNZMc5pmXxcUMq7jiVgFM9xp3mTtHY2pbDU8UzurrBusoWiu860GwGNIq
            m4UOgMZCtAU+xWad5+vwqa3LoWkX3XiMceNfh+4Cc2LWl4UlefagkGppnRxw
            diJnp8NOS54FuQs6wgUYCrq6se9BWCtGO/ulccumKz+delMn6vgfzQ5sPU6R
            KZiJpRcesHVWUFLvuqejiNGRjPe202zxtsNushFDPKe9rnPv8Zw382YzDDP1
            PV7N+4nF4pQCuXZP+/6eK8JDOulT7s897Hs/5T0Zn5ZZP3wa81mzffYBTlhN
            OC6H3m/KoqR5HH+jk+8ggNam7XUaUv/oPLyuciG/Lw2UHqwtg9Ia6Q7P4sor
            eslzPM9R/oLocDBxOjHZck7fmZ3aYU2dBnRCEfqsYrSt/vACbrhkAv8DX+gy
            fXKjf3mFYfnDU9+wzhVMb+IxI2NB9sB/rV9O6MAmvKWd072hoXZUN9fPHFUv
            hv5o3AP+hhVq3toQWBd17gdlJH7VtHzwinfcz7a1AQYJl5yBWwahytxNjenp
            iuqwsFH2koaAH/DhZB5PjJLhvFxV06HCwkXxUTdu6sivqE/0z5zmacsGRJYK
            3eAfp1X3mCeFlHbf6jdqr4b0UNo/HcVm0UBkNNp4vBgZBx3cUp9kY6Fz9IAC
            Tl37Mxpv6Ywngnr8+oynMu06fxvP2OOZ5AnTlvRT5wIhTM+k2uyQp84jiT/f
            43YT3WR6Cc9/llN2eDe2NY7OAmEZ797X4d0CvyLaVbi4KKZ1CYBKS9jaGO+V
            suXwC9e1eaEMa4WXMYENxYp6AGovZh4V1l0RDDAU/MQxHKrXtAdFvWanjSOm
            OtaC3My0eUz9OOQKbrxT/Oh/tJgiWJtGxu5gTfgYNqh4B/Ija1acC5vvtm6s
            dkhXQNCrHmMUu8kP6RYwgGFnCjVXO0ToNx+jW/CvljrhP5kc6N1ovpjGiIYV
            PifPud/aG9/aw2Ynv+n49iU73yCUE1/4jc/ijvu/foHT3Cm6x1mXbQe0usuk
            E7nK+MsA5aXBUK17BbPt0DBrCI4QLde7Zg7+wAbdjw5M3FGqU3MdwS8zXNJx
            cjnvjY+hkw8J7T6QM+YZLD9gz0998HUdCkAozWgwK015Oq3rFHyFi8xHxRbh
            tNrpR+HfgMe99y4iqjPePsFHUfK8cI3QcT3XuzOXoNNumFo8IeXhoNSh+MBk
            8TP3R/jEthPB09pu2u/DUNH8FPlIWKWnzmC+QFqGGyE8lhO7P7x7fQExNyN8
            527xhH5r11MLr62xlYQFkDrbAIrraXbfPsXXe4pLMA4jBvYOfwvaWSQiy4d3
            +3j20/dRWSSEOjDOW0/jkN5N2pjbV/fmZ4IXsF8W8vryIeLmgxcfIPDGD3Uu
            MaphSeiz5Eda3OAGR1dblxv5AVenhJEa/qYu/ehdMNRjvkJ87R59V5f34W6X
            tm0tG8sd0NZxXPw5vevf07dml7aeYg2W9x8sGOUN6H1svk4fhqOv7gnukm7Z
            sTyFY4xvF/YCiyXm1vHXqhie2axlPpl8PxzbrGdsA7zE81CsoNkvBgx3pG71
            buoF6tyKw6BuVc+eh4RQB8spj9p/AqMoZqhIjXcWbxDG0FW/pU1mhk4AVbmo
            OzYVZ2y3sBRYxTCQwRFsk2z+cPgwtE35kB0XLqVdRnfL/+lA+CqvNipOpjFq
            ufYzXo8fAvWUX3IFB31wV1kfcq3UFTRe+1jB3LEm8dGU71bT5lt6Zea2EWYy
            4wVYq4i9Yx3aLDuwcIgHVaa2MBQ0stsCMOns9aV2LkNjP9/fG9Cf94c45MzP
            Dh4so6H5MV14dO1trnTKZOgUX/OyM/4T8zm//qjf0tJa3n61cOZSK2todI/X
            Xufr2vSDFn1lqXX9lkUEQF6bU3ukK5w4Tj3Wv2puxeggvbHjjNaujBF9WIxv
            7xcOYRnxwkwnXU86WHxv2E8W0A3wX70Uo9SvWZ7dd9UcyB/Kuzc/YDRVF8zx
            8oEA3MsH3g/RgXL7Fcwt3J79oanFULYvYDJosvf+7kC0zrYrvH+bYag/2VhN
            VvOJJ5aDMfJ7R1YFBsNWerJp807S/4zLKXbRH7vX/oT26w/6GaN+dJXW8fik
            afAeLnwHlxWw76M7wqytN4uRaj7agME2JbCVsGEVmh2ylQDdPHXgbQ072reO
            D4LroFkJO9hBfz9t3cy/co/xqZ7HKX/rqY7x4fsefvpb5n8rE96QAlT/+e3/
            2v1Xc3HBR/YjnWcf7HmYn3CGbLvgYQr2rtqbhwaA1669yJcml+Gq2pRWeKac
            WObZ850wi/0UoTz73k7a4ipmG8b+IU+0eM6s8Wc8B1xcuR7zoabiEdBt+AJO
            urHLx7cqqIquQ0XgqWwRXWvT2d2dmCOyWb6winxhjGatxy/Ws8XRxTOnHfkB
            2KHL3q9Tx9utP8W21Fb88qPjbs91xZZyASuuZ2mTxNxR4Sf9asCePdLtNq3v
            uqbyndNPymS3/dIJ3WiBaCye/fLgCvH9qUubUW0/TqdNdj96dvifiiNYXIUZ
            KX9+9b/2yZq54zTB7PrmVfORwFy9ran8I49l2GZIVBQjWWxf/Hx3RT6vy37k
            VraPdXx5/AEWABSlNrTX8+x3uf98N5x3ncWmxDfXQ/59o2STfqGEqn2KKeO7
            PKYPfueXKVERx47DTzxaUOL2ff+UYd/LY84Ok9l3+bvwq4Egk3GLDfuvmKbW
            4wnGw2JA98Z8xTE6fqszuk4hWSf3RAszk3wno+M48eGlQ0bLUKNk7eo77U6a
            l9Yr4zzr4FzO3WIT3WQQ5eqhV0+feOg9VgPOOvPbqC/dA+1M7yjevH+Wt2Uu
            3eZ7LPfGUEw27Zjb5r3L1jzSX5EuDMfXuMbxNcD9r/8LJitzmBtU5evYobxv
            ZRFPTXbBYh/iAzCEeWuK95ns0Gfdfv+OgRgGqgu/y514yJL/fe96G/Of+vug
            U1SMAINsMQOchbT3f3ba2YkeO3Wy4ycOO3b0zlq//gfgOmGw 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
