<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0930.0225</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0930.0225</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0930_0225</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB Device</string>
        <key>FirmwareKey</key>
        <string>0930_0225_v4430</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>549</integer>
        <key>idVendor</key>
        <integer>2352</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0930_0225_v4430</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvouPYoy8+X9nlmAOuC1Pk
            8ywppxJxf+G/Fc8i7nNuKJMwkBpiCMHhv943tF3VasCc8OqKZ4+OgL9yVD5p
            QSuze9H0vuP9rJz7HOul0p7/G/5od3/ro+/50mg8Gr6ONC972ruL5aqTv1S+
            t7sZ1Pwce56pxjPP3AN759DpPTtjl+j7GoNjVTHx6lly9/uuic+xfmVf565n
            7fd+9yDsa5kcPeaGDfkZ2c1S9/vwajyhyDy6bcip51PNtXpVNnW9/hWNvs3P
            50cNw6r6ep53E/GqzmsHOCzq8SyTZtBs9a+2jj2H/autkMOeu6/ye5JG/Opz
            CvpgfNU/04w20q969r/5VQ82mVo4v/rjqz0P9Wof5e+1mJ/PfeV8c/k+n7uy
            n8fP5+ig6o/f9R+7/PylvLZN+q4/H4JM6au8S1Z//iqPWux5/KWf3Xb15/M2
            rT/lq55z6WxyuyXtAF+wXa/5LAMYE3ffPp7fB7d8lcfiq28tfj6/4ev8Lu/t
            JM36+TzWqj7Pr3ZDicnO1edzv2yt1/zluRo4v8qHHDc2uNbHeNeNNT6f2wxq
            7dZPe/L6Kn/Dh6t+Pkf/ux3m63w+78FAij8+n9fqdH59/Hzu2i5fP5+Pu/xX
            /ce08udXPd66g/LaAUEwKKKfzzIup31erq+xCxjV+lW+Nu2Z+lU+oYbdh+tz
            zrPA5HV8Pt9Twjn8eB6jbab8tcdCN8BUv/aS0QAcl9DiL2vngSGfz9Nea2zN
            j+fX/Xx+PncbXuPy8fwF87/q7/fz+nO7Yf7cbjx+bjfGn9uN9ed251c9154F
            7YBYDMt81fmCvV913vh0zp/Lr+8+bziwflP/qr95/lV/2gj6/Kr/xjXnV/31
            fl5/U/6r/tVe1Ib/mNt9sGv9fH7DQ1AdH89v/N/iV/k9b+2rnnmX/6rH9Rc9
            8vPz+Jvn9TfPf6g/Z+2AlM/XWv/47fxN39Zv+rZ+07f1m/pH/HluR/15bufx
            89zO+PPcnt/9j6/zGz/q2TRciZ/Px94bgJXxp71K2u7jeXntpfjT+a1f9d/z
            kCLW4vl8vOBP/qldwJnP5/0FZ/JP/SE4fD4vNQ7tAFD1d53x+9u9FuBVysd5
            nDc98Pn8nsPTvvn1efx6frzO6c/P59fz3Z/r+Pl5IhyIv8759X2ub3z9tTfu
            fo5v+Lafu/lZ/73H3PwNrjl+fl72eO96jweX9tNzt+fh3uv3NX/v4fk6U+Wn
            M0JeEp+cGEXls+W0Awrrdt4O1zAO0rnuNVJt5bprcJwxkDsBTGfEq4QVyli9
            8qf3q5IOJzX7Gur5PtAfzNdNTOXPsb6Yx/B1/8XhAthFUuPutcr/zj9/fH4V
            jw8WEp3KH/flPl6vzteP+/ZmZfcg+8f9ePGe92TMz3s3P8Y3/fzo4AwzfNzH
            +dFhcFfpeX/G+TGAaDugJizWOdbHu3Oen/fr/BjsiX8f99d5/av7o2sPz+85
            /l6Bz2XPr5n+3B7ta9uMr+10z9s9X/c83fNzz8u578/xhjk22nuU92g+r8VI
            tGb7r+awKU93Op4gf0RCybCcnSdUK0nN49frfUDpKiDjj346h5/uddrnfGzG
            507MlISAfNSECEYNljhZy9BEXXYcvOOZGeusz+O3J/Naxg22ZBPp1vTRzti4
            7O9ju3KEHe/HfdfZr/cdpRjv1v0Vm8bfMtqO43wt8rtMwJbVInc0tuZYu2fP
            MvGscd1lUhuak3Zic7zLpBazST8aypzWVqKs5dU74N72vhtz39n3YEuwJ7Bb
            aiBCse+xDv79BcayHl+UGS8bneOt9RzrcT7K1EG5CvZaWhids/nM3sVHmQZm
            XDxnwuZKfmgUqbrn6EDOg8vZ9ZQ56sYLz1karoa8ZTWYYxuB/5ztuWae9yz1
            ObB8p+2AbhxJ+Jz5hUZPEQ/oepxj7ym0/C6Do5N0qMED4m/Pw3TPuQJvG6fK
            oApMUDeZybMtd+SaxJHXjjFGK5PiRxkHflLYJmPKrmJztbK7HmX8oJSU68L5
            PIyCS59thRbfZXIeW8byUSaWR5nSd5nPeti9wvNSiGarjX1F7x5l8hbmHZ3H
            dLcVp3/WAwwJPMl6sPvcrgfAKzzK1ECOY6/d6nYKzuofJw7wKFatey/XEbLN
            YfkcV3cV0CNKdnRMzOFl3OC4UUXvfr13feauet2h1vKoa7gDiNZJBkQQNIw2
            DfVRBiAYXO0u4/vuUw2P0+dWi4ZdOlDRmDZHAFzjUeYERrIyWBYc9rXp7+fY
            rjX3HsKarX2WaoyPOfLgt5LgduM+8zaP9WOOvEuE9Bw92mq7P/WjLe9THTaP
            WI+4rD8XxSfvMqHVWu/1uOaGXJ9txVZ7Uj2J4j47t+2zrZSjcS4d3fIbjgDa
            PstgUU2GOyggz1YG5/exh3xJlBlxn508MjY/Y1bjBWYcn9DZV0eY6W3tarcx
            +pke8Mu3PL3K1CWYMm9+UmWC0ZPVF4floSy6A3HN1POJTY8RoLwHlqUgIwCO
            BMwpMCLo0QBMFMnnYBdU4Igex79bfrduVETinF4XuWr8N+q/Vf/V83e5qadT
            T5dKL5Ve9bNcEZXLFg/Twkxsz3Rd2P3FygXpRQJW3iT21+IVFMB5lU20/IM/
            7b6uva57YfHrn/29vq32bXOEWr/+rfLX370AdOWf33/Us3Y9/Z/9/fjt9c/+
            Pr697FvqnP7J3/e3Hd+ajNskv8Yf/ueeXDrJI/z191s7ieN9/fU3sfJp4jwA
            HvQv+EpiEPcNGwpsBHdYLEB1xbDyWbzYMiBbx0OVBD39+utv/X5ondYyeO03
            xXsmo1p8fJHOolD8Bvc12X3Y933fty8yvTbCiNTCP2GkBqiJ8F/gv6jVGBzn
            v/7+1iy8JPIP7vrJ2X9z0rPekn3j5N/swlf3twTgJw59l3dP5uizdUltXirQ
            H9+/pNM/vz+HE5YFJtQfwNrFv4fEROO7l/Tr85e0fGwp+ff85D1/W1n0y/vx
            Y/tNWCJ1P44jPiRRpmWoW1H6a1s2V7fE+3usYfflbHZKvr9ft3ZDOstf35fL
            KOXfzdW9V25d+Pf3f/r3p712ayB+937u+flFfPNaS9N4/K7An8bHWc8P9fP3
            6Nzea8dv9totff7dXr6l0Opr0Q4Y94NfysY/1FX/8P4Pfal/OBf3Wrn2H1/r
            +v91ra//2lr/9+cvBO2A+W1Z8uu/kKytF0wJwRPc3NfXmIOV+y5/hnh+Td9H
            +XYBYyXiK7uufZ3FuOvTuWDUEzgNPI/r5sTtmve1FLtWt+8v+94BCen7y76/
            il1ByKaf+jvTIS4U7fvn87u/rF7yk2FXv+/jsmspTlzTWtFJlrLfr2bX4Ox9
            TPa+Jru/58EX4P30w56+9jj2PEjaN34tl++5/qWOblrsaN9NowOWe+JM94fr
            XdMeA1iUZnPi+k99Wc2J8zuLXa9hV/CbkjxEZ9c5zgVa+rKVJixzkQBkRLuu
            fX9Vu7roEq9gC3SNoN29OLuw/JZRnnl4O+utRp96ADvL8wSqnlJHR02uxJHO
            pIo0AfkW7H5ModuEAIXBLOf+DIfuc3eug9wN+QhK3die6KIR7F6z+KCT4r7H
            bJ0m9TNuPVAPFEQVf5TPI2qvXuEUB1rSms8zd4XonuvTR1w8EOAVWjqdceOU
            C3N/JuOyhzu95Gtl15WmKOMwpuzWSlvp2YYn7/Row7WgfdbXviYrf7Ulbtut
            WX6q9wwzP+tdu55HO/GnvTbJ6T3qBVvqnvW0Nq/P/i6pBRx5wyhzkPAJt5as
            3UDPR+PqrdyK/4wirpLJp3Me//fvf+e/TWVdY/zfXPwv3QHgtHwHKZj/M/XP
            46+/wZUFaWEDpX+6E86pa99NmUWd+26p5MRdNNPP2zqmuP2svvnQzme0dY7k
            uc+DMg/dZwHIFlGr9EjSpI1EuZObNDWmXeZyoI2yb5RFSQlVM7BCkYbFs/ya
            7DEwHKVLnUZrQwRKo9ykSG5yRMlL0N9k0hXQACM5D5pySTaY3YVOO1xrzMld
            JbZrnfgqn1dJ1GKzbUJ+531GX8IuFygU7Gqrahbmcm2ZEWBns24dsh3KwCNU
            q6NPvQ8aUdMMOud6lTGvdm0p/4xmwBDilukEL2U8rfTOLLJDcxTP2OI02ZB+
            ry0nchclx5OdPRtVDBSTXaj2ilPk5VWdUZyoFv2wOV723MXa3EkrW0mY3XnY
            b9rJPcvJ8MzK0RrgLlcpc6Xxbcak5ut0+drzRkUa5QyBxBaeF9YDukzMiQy5
            TbnCLoS534GELvjD3GGu9+/gadvmU03Fc/74PC5ZGaBprAXrSdfpOSdUrYIM
            me6qF1EuDQjRe1oXt0oyggaL2fM9iDtU4l1E2yC5KdGp6FMsV3ZU/Hj1LR8e
            69Yl3i6k2dXG5LzTLAz33u91wDqugpXnM0wr22Ad973tzbFG/evv0LkRuEF9
            c3WBKsZ+4nx3KoQvf2EH8HtQUCf650X74R4swRnrZRsE54q/v8vmR1kX7N2k
            Yth5nY3qdSZkC8qz4wO3qZ0d3kfqarC3OGd5ggsCVVmdnStwEqb5m3a+yjLZ
            4hldt/PmnN8SKcl0sI/8tm6SgQm1M4M6pUP09ghR9V01SlFfa6VwyYOON3p8
            mtxzXEb/e/AePEk8bSBME63PJWzFAGbAXqMMKWANZwz4oh8T1TWcw+Ax4yCm
            l+9hkb4DQTywdyii5f7xOD+TdsN+BNB/IfruJkXV4iC6C4uOCd2hDn/67ifr
            vKhF4bqxL1hXtJExvGZtXWjT+0XJ1bHqNa94ljqu4hfOvgPNjHYDJvw87TfO
            7HUOcDyBc1+o+AcnubQ2sxZwjZfxHLUE/M3K5cwL8yqlFp/LxyL1q1yd9r2n
            ThndDPgsNMII6ytWb1wD+w7zcXibj5Q4GfqGjjKZ5VIGnAZX2TecHUGA6gVn
            NSvSnoVpMOyQkM4nwOf6ttdamKfcrlLGaJQiYpObERll3dwNBHFupQrYW/No
            L7n3YfXNCHyIb8gqHyXi5OUa68DGLYJz7C12INZiuXFSNnFib3qncx/NJeau
            M0Yv0bawHrVs0koAfEXDN1iTnuJV3DmwnujrPNK933abi7oYX3Dy3UkDiMAz
            O4FNFkrUhTVO13XPdVuqI1M2811H8L/WMU+rw5V3HbVbHeH4oY71Qx3F6uCe
            uuso1eogUviuI9Yf6jisjmtc511HLlZH/mE+Uvi1jtGsDnLpdx0pCfdjATcV
            0dbxquP6oQ5vdaxrnMLt6MM6j9xOw4vj4HkxXByx/v2irQgODVZNVjmEq9jj
            lfcnzS9P8rE1t2x7z3mgPvZ0BBDdJTV6dYxwl9f1IiI+zQa/4oyjXBSPjvu4
            gDmAO1BfxRhqL7PhgLm0Wrtid75U3qMPrzoJa9S/c/ePuh+g57qfOX/SCsDd
            eiHAReCg0e6+fHxLeqmy7dpS3WXQhuglb3TI/R51NsKDux2Wec7TBfyDA6N5
            mcTd3mWNjcYlgJikl3g2CD2wli7P7Dv+WE9WG7FXV7BkQbg6LzqQXR3vuoiC
            wJqt/AIewqwUajX9OqlDd/sMUkoENA96EG2yjpAvUoPoh9bZVZ87YVTjmY5G
            x3GMLMszP6gtOEiL0LZb4gi+5XBqB3VNLSLouchnt2VUA4xpAGvUv6s/M2J8
            2Fui7dahK7cWvzoxtkQ0hHZTrq6f2HEOm7wMziPwBAhWYDUCMKzjT/3GWrmG
            vnqJ91gGcxswt0BKqAuAn351JPnOdtt6etDIHjMdY0wn9nTaa1UahVY2vyRs
            AAfpiNClZUTvpuYjkYSpkvhP6+9i3cTw1bQ0oMwz+0EDYdC0l/qE9Z6AAmob
            Yx0AoOcFOMt5m9WRl5ANYXzNWwGMpgNkwonUHijp6nTzM12srwVnCNXze9Jw
            BCZNEhrgT3q7RblVDdFCEqcSClG8Su8x0HMgVcNNhw2nd6TPQT0Qjtt6nK5g
            roXcG84iLRBAC1yYk4v0TbB2HJAsYRj2buce9TShKfG1NjiCeF9pMQuEgNr5
            m4L4iT2HKcZko7201+PuO6VgoYD0TDgjm3fQWbhEL0TQ7ySXO/Gu53qBvsh7
            7lkO9EjPpEmTB92wAtcjLXqN4DquBnqCE4+tz3kmVgZ5zRNCeOG4R7EHcZZn
            Gw7dfJ5nrQnhV8ciYm823jf27QCOxj1Ba+529siDsT+JdA5WJt88WTBFsq1v
            xg4ISSYioM1PnFXuGertyCdJbXefMxApt+wUsyvcfuNj0J2iEQHu5WCJnZI2
            TShackajOQFXnGjLgFaBPeqmCYDZSKcC8JGWznwmunXfu33v9r0X/ZLMXrHH
            KHrzanYPOld6mODsStJRdGvb9030jSwRsVua9vamiS7QDJlGRpR1TuBI9AsE
            cAZMatLBt1J1RuMClRpbc5xbd59b0Kyc4/MwWEjOFoQnXjraMziD3d40/lma
            Zr/WXIIRGDtWT0b/cdvIelp5lRx0liMFxraGeI517YNrjjOO/eCGjF30vGIN
            z7OCjgZdCz509qOrNYPThWd3UJmOPmrPH4Y/4lrcBqSEeV8I13TfaNG4fw/B
            u8a9XrFP6rzWXcYd7zKLcJP0IbAfjWKxmy5H5zHygnQaNtfnPtp2wAPVC0qN
            QgdPmgIj6fpN/NfIN+IPNGjv19rvgAmzz9RkVIxsrsBz9eLjwTf0o07CoU56
            b+JMEddu+Aha/jJXa7r5kcXC2QNv8Rq/0Tbkul54mDCOm8nLfo14B3gAMD+s
            cW48VEAkSA6AHaA9uTavBEy2nucFq637MozWNvuwi+s9b5xWzLKvyxh341jB
            XdAyoBFQzMabuAtM5TD33qQdbCWjpytBURV+aPom0hw2AxZH7lcsE/ZxwonF
            M+znCv4NW21RJ3Di7wqgIkC3kC4Jgd8epDMMxlJyEGhYD14GbBHOEZAWiNqS
            wU2C4iPeoVGcn8OlWSinAIk8fJqS8kyUDb/0FWxuQcUObSR8BcbNawYnce9V
            pYRBtx3ovuZK03tHng5bFrgDDIDuwT/LANZ9lDH+AvuQtC84X5xv0pKNkG2B
            RyF2u3DGyTljDGB5RcfgHPpA/a9IX3D9VobPRxd9TFpu6P0l/0jx7rIfpBfk
            afgTyN9ra+DsYdEpVKspo27yfGOXyXaGxiI0otaH9u1vC3AU2HvI9hr2mGDr
            qGYwD2Zz7Ov0Dz6sd7vvaxvWN7MbdPETNgTO+EX9Lc4p6XhiwwYam2Ng/2mk
            GQg1vSfNQVpRPI8DhsBasw6PybFro4CiAQE6Sr0yTUnIaQFTEfbyXIO+KKUD
            vg6QAOJJF9jsUzIiZ/+79n+v1+/7/vm/4+sNrZLLZx8xi8NzVaqd6YBR5Am+
            JWB/P8rhnFi5aHABFIZ4jpJQ9gCPAxrGY734DQVq+saJzqqEU65dp6PYZvMH
            nrQewEcmT4c9SlGWnhP3APWOSHqCYSgwJ5I9Oc4xcU2554he5NxnA/SsxwIR
            aSoIxIl9u2Ef9nSrzTheyQ8cutIx7naNVFBHBvEH+A1Ah32cwVVmSoEu2pQS
            VvI5ZXQX4EQiLxyvyXPkqGlFP6O/jC5FX1luNdJZhOUADDoG2K+Yr5Pbrq3U
            bvi+eZ13P999G+wb5mzma7xhKwUlXvKjwxhn0pEB1OI1qsml8rT9H7a8WDCV
            pPbRpRcO+1wQ34OAXmXzzjp72M90pMQaJBnwT+J3yQ1f8hM1ff71d9pqfKxS
            cpRTsxR5Q3ljAU/2jMcnldG2djTeixLlRuG1eCXslRDvd/kk6QECG7BiAKN7
            0dBAUVcKnaFMKLMl3+MmYEOlIL55P88speqaBGq0HQA8NSGNzUO/JGdZ55ZV
            EI6dOtv4mPQjR7b3rs51AIW0+XMwBeMlX3rM+cIOwbydinrB8Y9IAI2hglg5
            ufetPtd5LlAnwfKWX7h5jZBGUFnQtj4I/p6efD6excNUs/idQVZrPwrW0gGO
            LDeu5Au5b3E+FmEt9tsFYqpSBCHaqFKhKz7DoYYQw+XpsQx6bVxOht48Z814
            TNAQ5GcW5c6mi7h1EmbMs+0I9tjvfUVe1xMA73kVDloi0SLlHYvBQCLGj64V
            7OnjJfOQubLN6a4zZq3R2XddpHsd4I/w7kHe6CE/YQiTYHXNR10L/Mqzn6mI
            lj7nXiOjPSUbSdGo9VRpIFqjdjHF43KI8afqzIxXAx6PYJNr4ti5bnCe+pSO
            PUyY4ZPJKDVfe/6aA30ZTXUkHEIOCrgbrEKlXG7TJW1K1oQVOAHzotG156IX
            O9YlejeCYM0QHwWeh7JEIJJlATday05EUqMC5GiUL7vFb2q9+gma3LtCyaf3
            5Tzu+le6BnGQ2OZN624HJvARDGNTFFWFhhWuvr8jv+xI9xcx7fQr5AKpPbzv
            N0/IPrbzmruPoLDqIV6RbWP/4XnddD+o4A2T0cezFol/g8M1aI7yRUP0elGI
            tsRHkq4gqMvCocZ/1RoY9icwlkc/cUhMvj7PU/COyhywRI3W4JVGotH2A+HA
            Ak2nK0uduTWMZa5rit695WxVsmTnFc2GviKMiEHf6ZPqHfCjQD2Uo7GMIrCI
            68K6f5arDcdTew3gnHBe8RmW9hpB5uB+lBB/ASpi7BcNh2sKvpBuAMUgd6/A
            st/PgQ8BSehsAxJ+xq42D2vTe+nENK/4DlQOJbR45kxWRjlsoZiqP+aF3EwC
            KiVPzzoT4bvgcwDwH1ozpzYwGpxVwD7RyZo38HNyEsX7pDnsB/a3aMm4knSg
            zuYIwGBS70bYQe9GYIxWK8g+XGcDCSla/KQN0PvbPb84g69vRyHSSonfxQa6
            lmFBsC0SLXTpYwS2fstUNGYviz93vORiOOg6E3X41snxcQ7k0pylOwC87T3S
            zSx7ymNAq5FONd9E78LmnwZ9KZzRS9xLA33k+aJ4hvQeae3U7LtGys+ZrOyW
            i5xxEd9k0ZsV2I20A/Fi3v6c2ZmlddLcF6ubDBPuaenHHYi5pvyTxCz4TayN
            5vZKw2Q/7FcHPyUa5bT7kS9wgkXm/fx2yCZztDKjvsf8XsLh+/t2f593ffv7
            jrW7x7Kwj8nv5Av0LWeWjA3QdFH4Ex8ZjCtU8gVnF4w33dCeV1tjcHWDexk4
            BuSWyaumfFHxzIlW6BRn6J09w3nMnXILyssSaPMQ8pbRaf861kHjLGAH8UqG
            LGwva8+yfmtT9/KuxZ5nYJk00J7jfGBFu7VbW+lqWypEtO3yaz1nW8PoNhBz
            4FsXvj4fsuFKKsZloC78AYJWSp+xdYj3/AV0HyhXCZj3UpPDAXAkoEBogg/F
            7zMEsA2ZcQ/cAhvYLxpSouwMuXv6K5CfWO9yYhMAwr7LBpTlOar0hCBVBl4W
            hYYboDMmgTLoQZfp51snJpl6A+oAsPd7IA/jpBNYa6NB6/9rz1NEU7TnKWsC
            YvF1dZ4Xj1PDMHPg1TLoIDLS0qnY995gh+JkaH6JFrTOUvpxjYgUMJY+iDPo
            K4ZzOgzmkmlajDFHpcr9fXh8Hx5lOoaK78D4iL7EHNS1lpxAb7mDA73cvfM8
            i284mUymlQC7exFsIE0FKmx0h3PirjPLCsHklUI92OPuwrnatg5Lunrqt7PJ
            j8DbUOKF+SaN7AiG+OxRrt7lcHgqI8OoXeLHlifbHfM6b5lOLgAm0Xhu2ZlM
            o5PduW0ytm1G3/rptSMGUBnr5dxt17XvXXbbLee+2vfgHQ2qWxA+IFq7Uoes
            eug9PuRm4m99qmZcFAAg/GXzIV7i8ZuSfP32j998XsNx//b37+Px/PEb9YGv
            CfX+fT+/9adl8wrH7jNQvWx41+5rO5J09WuPLR+fY5n7Oc6Gzcl93c/7vvrq
            FLxtDNAiQBvn8aknArWD6XvvA1BeQfoMijjIHhwrAVIAbJPasvtCdheHL5dC
            gRO/7/f32L+O8kfSgS9vee+XSHpPhRx2P767MummTNA6Cb36/o1rPH2eW9fX
            SGZy1k7RWSDCHn1VPwu1HugXYOwizY9zRzV2BqPM8oz9+NJxHVbXqmehbZib
            ZEbevKidF/HQKknajzYA1Dv5bdeiCXZZ9D+lQrE6Hh6j98EkgtalRcnRvfR7
            BAHTgTPxTjqbRhVtd9l+0wyYdC81W7SPOOh0ZjCwke6fS6KPDpjPeqmDl7m8
            vjG5WN+/WScIM4B7s4+5ADsAIRWp4h7f91qTU6auE+PptF/yP8zZc40UavEk
            Lcj1zqCEMjBStpALuPLb7BRj8+fvjZc0/TX1+dklJxOnPBiXk/tI48a6T8b6
            3PoFIH1MYnY6O/iuV7M715w7Eua5LWe0dWwgg/pQRB48px4xBPDK+FuN+3Zh
            T3XQpYHet8B1jAeKudUpadSWSG8aNAby/9QVcL1ApxDaqY4Te/k3dfgzDtUD
            pj4+6iAMxfi8w/xhvM76lkdtdqZAmVH2NeoAE9ZXQxnMhb1LJAe79Fv4y4Fw
            W3Vh+xKXsq5fylJ3qbWgBAigGr/5DfoEpgHj4Fx+8d4d/ErGmszzsWdYB9aZ
            pv8HyVRnZ8iCFdha5h9gSKeSgXv3yAxQxnOdAENYVjxJVvwGz6g22LzRYrVS
            p8QwELIJ1LkYhJk/7av7LJucJG/b8bTtqAzfHDuimcu0rTxoyKJzCeIFe5z8
            v8vhKaORFASM5qCiatslAuOCfgSNn+swvTJ7RLmHhYjV+TvMRoX2Nehoqm98
            rTrJq8j73eaZ3wPLN+x4yVoIZ0iXc6SUjRCHLhDkLMfyBXgLQC3fcCbL+sTn
            bZsoGjw48YwJB162ipS2YL6pzxYJEIXgymEwLNE2jwJPN99lQ7zL7jLPd8TN
            kr2TDhcsIkcCHK/4r5dCuaQIivK4gruo/+UYZRo4SIJ5sMaEqmcFEjmzLAMx
            cun0b5ssW1Gzt7jmezz0yc+nfQcW27Gun8b4GpuNNe0xZhtHCmfOIXj/hutp
            z0n+dS407/QLPh09mx78O8Bgj4zhCzhCeQ3ooALij8axuE+AB7InBLtIV3rZ
            t9G9nTIeNt61b+61A0WdGYmhOMobcgnk7TBe2dlQr6F+0M63ulI2rmL56lC+
            RVA6sVUeNNke0Khv11sNR7VM32Yx4rTB7LTDFM+2FjAx7UUpUySZznoYNbjW
            ez1pW6ojRttSlXWyHXqtD3o4dx18Ppa1xdgUDnz0yx5zt9VpW8m2grWF/3KP
            HAoB5nR9tdXnZ1txt8U6ZEN5Ab8BJVByRhnwPW61B0rA8AGJnKJAQtu2MwrW
            ULdzmK5MkkV/mnzSL2zmUu+yaj/esMVsMd2GMW5HEQXYTk8a9ZzqVw3He8/g
            cButlTaeQtPNSwcAStf81qUTBd4AzdmTzPrwDAQYYHwFT7se/ORbHkJcEx58
            JPuzZROoI3rpyFMq227tOF1lSDPpzCiHktkhNcZLTuMcb2qii+otY5W8Dn0t
            RXaPpOtAvWdncNfo72+6PgBeAWFzy73koLID0b4Y7dZTS6eDteo9Lso7jgef
            wfv4uJfO3s7nYZSlzmadW5fQsbdJG73aAQ2aJPcrEgPxN4gv1PnGtw3zN5t0
            oHXrJdtdnmUdeTx3dUVia24saRwjjW2927hnkM6arh1bltWC6euoT6yP/uM5
            yJPhKbO4+SQaVvP+oes3G7uL/EXRsWY9XEfQQ/WF+5LVfzxwbiWGSvQwKDJR
            f87VRT+I6lqSzx73JL3EA2Ao5qKBg6iOkkYGr/ItmcwqkS5pvNj9JD9rXFay
            gOSOYXVWnrTTcG3jJtoMdxdKBZAiT0sOJuDqxQN7CT0H7WcKIxkZj3xIdkgb
            EpOJ2BUHTXIhbFjg35UCQD9DqWG/T5rEZ9QTXNa32e5/Oged9tg0fsD6007t
            3L89sS11fpT9AucWevKCx0iU0mA852F6JsrFWqSk0GMBrxp6sv5uWQ0FMCOb
            7R/lSIBMwvOSzZ2MYkL/k6tShRBrci+52zIdUsba0MaMB8d4CFCZGbDBXzM1
            2nN/yqvIy9/1U6LxfH/c791+DyzEOdznQTZKrDs2ys5Mv0fKgM/OMsZaklF2
            ArTNIwaO383GME6n6RAlAJnJaxy00bb1jT7UQsiQxSMk52TbVQF5tFaMAI99
            zHXsSfE3tM7gJhN5t5wO+7Ytaj8rvyMlzm8y+dDPskmm+IC97N+s9Whbrt+Z
            nwCocY1B/ReIBuHnmIY7aUso8q44mpADl6AfheECT0oJJ2WaGf/N2HMJ37Pc
            /c31h292f3j4qieQ5X6UvyrRxdWMx9/P/fF6xvBrjvr8Knl8U/D9r3J8pnLA
            XcSreiZwsdceYJfGOJRXa/xm7165Bw5FtIzN5sfTsvS417F24y0nrifp734B
            cofL0T9VAgXUD8qfeimUdZOhtY2nD+HGg9sX4ZiGJ73fOGCanzMQ/484wu/v
            bxmQu2U6u1yZ0hV784cYads3ik4YzmxznASlOHXA/dRg0gboCqPRv4ox5+j0
            g1Uz/QhTPuT9nQStXjoR2nxgRmVfjgdDscHMB8YCWbayJlb8RV9QQoMekEYA
            m7Vjyxh90eOh+8D2Qff2KaP+Jrs60mORDsfiL53FpgE9zABOLN/dUMyqtPXa
            D1nRLc8KMd0xaMyOZEcolQ3+SfzE+TZeCtdmtCatb62uRpvx6AbBKPfS9tWR
            t5VxSrQFoBmFXfkNeULOC7We9xyQfuhVgZTKBTJA95OcHJ/Tn/ki2cs5MfYK
            OFPte/FH06muE0W9zTXpaPBXIBTo5TS6yeJTNCLEkdN4+x4Y/qEeHfBGz/Il
            msWCUlLuSd8K7WfKVjPnPt5zeUfhjXt/ptf+pX0BdvN8jdMv+a9h9cKVS2OU
            b/lkEYF464dCZYWJ1hpNjx2D+ibHUIQtSO8dergSeQ++J/0aZojUjdPDKFWG
            eCPSJxFmevLOcR9Z+NUpdjZoEkB5fkvhk43jr78bdn+fbxtrs8kiJpRPXlu0
            ZayERxvHOtGOKXWaGyzQf/R+95QlEb87RQegQ0kdYwDyMqCMp+0ZbnGUOg38
            cBwuYEGnU0zaEbuHcKYX8cX9pD0L6FWDWcFgV6YYi3aVTAyD+7ifK3Cf2WyS
            JseBA39DuwzKHLY+C88S4K9wGMVMOEfNbJQo17ltYd11nTqD1MXiqWLWnsAc
            5vvkht/H6oYrNImKm6eT3RnFEdIFGy9ist1Cs7SqCE84J472zSCgjK5KjFkI
            0jr7mShDMxsDwpIQLiBEzIPsKMopXwFyuUU8G3VL3F8lN/5+02n0FTtSsavo
            1Gvv/XLIHg3v8hDN2G68rb0O4queaNHTVmpH6vO2txkCY8vXh+mlzR7nyGZP
            AbSmOVqXwRP6edIGMk4LPiXDmUCFIAUi9i5Fg8GN8YROs9dwyoTg1nzrmQpt
            S0c0vpbzy9+BsgOqBmI1Gw2AS9nhncvxPXPy0GY8DtrIm70YPU0q+HVsR0pL
            chvScVTpYYdsqmmbZfwDQEyl1Tnq6k57JHvUV5N4vqVYZqfJYbbtIUGTp5+B
            vj9Ku9sPX+27u/0OfIFx0JRG6p31We7I12AZBkQo5fbLKpV2uCVb37R/ucvQ
            pRLuvuE+6GyBr1yEa1V2ndNsYOkrx37RU/LZ3tmvTsvp2w6WYwJ+L1UHl3Td
            NTJtPtDXND6/XYDqnMOAPt/fc12InrhHQeZ2ikhYT1zW50MGN54ZjB51ySuK
            ikbC5zLr1V/9ibs/bYzbniy7v/4e1Z1ry8mStxg1e08ktkGeKFjExErzqNIe
            9n63fSBtM3DqrYxso4N9R/udMSaZNMret3yp7nI3Lxm8UbPFbF4AbU8TGMzt
            Dxgf38T3N5LjiF4xm/9E27wmoSnZLfu2Pr6tj2+d+SewTcCARYOASYVys+8k
            D9/f8fR+9zOcsi+XjNLZuytTvJN+nZ8bTnCech5ddghe8gkRkDi/L96ctAfr
            L/Qxo10ZrUrb5tsVEbkkzi3Lcc+UBB6iUyL+Hg/W/bzLAGHJ35vzc8imNOa5
            /H3uneAn5Z7h6oQj7pTsmYZGW2YgOizTzoMxQlTvkr0fYbLWvMtK1WzYWSd4
            puAYR6ShugxWe8qerrOfYc/7PSfsF1Ad+LBdLv6+XGo2d6+IVU40WTSfzS7Y
            CebW/Cqmpc664jhNJ7nh5pZxAS5ct16sVntnMYMM3jZG96Tc7trvHrCYvkR8
            R3qPnqLMDZPlR1pIyMtfKuI3OVrn6O+GfdHNPoN2YNgjkregfDu3nVGk11Mz
            m1CUB+1sMgiUb5fZxmotE+EqcAxQjPxKvXKgefNEMnsz2bPg8DrC/t6lR+6J
            hgaddBQtY7YvZbF91egLQr0Idr9sJJrx7eGKXjbLVPw7f/ohe8UpH8dOZmyR
            T5iuMvmSn2jZUV4iHofKP5zF1/0wnxD0IiTiXccsUY/3zd6TW9Z9t/vQF+Vy
            kXYHr7LF3vm+y9Z9f63KuumHPCOALA5AJC5mX7v1VaHQaZaJNep3fc6+d4yJ
            Km+1kxJ/e5d2vyoYqPJ47rePy1ghy2OGBgo4j1V2P422iNgnb18YSjJBtYGf
            NB457ud+cc/EjQdtjaIzFftei7rXgnINEBS+0PcYNBst70CX0Iu1UR5IWAj6
            FFtSPBV9oUkHyubIKRZ2qWSWLm5ds5+7puJ3gnYRU8XoArKfEk+yQmnSoXXi
            DtNlMUCy5JO+9OZUV8Ccma9Qp3zLu81vVR7Ku64WSldd56surqv54b/rUluq
            f+5YVpvXumQz4N3adsfCKdS1VNnSyU6btIhTu0H8uUO75H3IyKf796C6lmN7
            3VOJ2Wh9NYxXKJxDPE84gnXzuzP2GBq1BkE2bF38AG0VWYbvGNPKSYaLs0un
            PXpKyl+ntSmdnZf3pPlFtcz4UpxPYUWzH702bGvVxgw6TRm4Cmi+SUuPB10n
            m1JwnIC7TTwY5mMWykSc2bwUs9Mj+qMNZqOu4rBcixxTYLz4vkDVgpRjxIIT
            O2RKL+5vmgHz45jRCXu6eApiBPPBv5RD9vW0pZZh9hRfSPsqYATAkebmQNug
            UUGNr2B6IQdYxm/cbY9QmtGlYICGC938P255GNsXLwL6iX0kzaV+UrdM/DBt
            rhn7pHvTyTLmyuv53OVPp6x+DIbP6BjcZzwX1PdqXNh15HWIYzUXu22+Y7z7
            MUPd9hyKKRuxx8GtK56MM/t37LNIIVfFmeCeSg08QveM4+I89cDUOUUqlCgH
            WHGkGpx+T+1RXhtlzM8rPe8iA+Ar3gqVZV76WcL+oxrvQUkk/QTqtXMRnCb7
            kSWXZePS9dq+h3E/pyWzxYmrO67FtpfFPsOmp9eQ4stIX3panBhsmh5P+YlV
            6VDu36SNFL/kkC8e4yI4wjDMGvkwsIFjxzSgLsxTNkEdMHe77Ob2vdG7ReON
            h91HWqrWLDqA7ZEvrdSbTZPL3DbstBNmLGtSJl0+Yj6st/31RbtrjmHR7/qU
            72mtwerkb9pLlxnPO/bC7cO7+3DrtMjbxtkGz1s1pYnFZKApSknmp6lvkpNs
            JlgmUVD1K030c2bGLmnTfP2Cm12xgGRvRZ6ylGvNIl9ERwsh6Ux3W3TBv9uy
            7+LrO9KvU3JFPFMbcb7e+bvO6FK1MdMWgjbXsnud9AeU3WUF0elsLautZZV/
            ITab4Tt+zygIKRlsjS4LN0l1Nb3jXo7R+OVM2EqtXSuUPTTXtg+Tk79tYaqS
            GCLpPWUicsx/eSoOD956d/Pdqod4s/3+ndr0d5vh0g6IU5YHvZd2f0e6tIb3
            d1z3Cv5k0EN42+VbYizaS8YwGFtnz6OjPIHBPDa9QHts3Mtv+6L1zTC+2WO8
            OEB1zz1GjPEXT9DLOW/V7NK9XNIY+D1ewvzLn+X+zewY83zfd+2VswjXJdn4
            ShZdnWz6F91fZNDczIcKNErnu4H9ThrQU4KniANB/WQ2RJyNw9ZVzjzizwE/
            O217Ceu4lvKbklDE853GRILQyS+PBJDV5yueVXt21mDlArOD7mfRnrlTBvy9
            bX8s2q7j/jXHo19Tc9xeNNlrjkXbYN8T8XPvUp5z7/WblpHfAKaJMYlAAiXZ
            TseoPUlO0cqD8k+WeeEVN3vrlMWbmg3getqt+M0DFImrsSbuardtr+IPoa2z
            ftrz3b5GhDj+MF6edg16VqLFIsjyi+iSbWH+z0S33pM6hqV4FEN+LsSatN+q
            r2c8/ylLJ/l6xrgXfHbH8fLL5pT25OsdF+LAWGjkFfqbljgBFU4G2U5ZMqJ9
            FqpgMqALcD+94zLroz2EAoICwr6e0X74MF2ovqm5UfZ2vy/0qRYvrPgGhRwN
            +/ksk69dpu4y9BhNw0kGqgVaNjbME9uZ1eRHnDPNq0R3Nr9TDDtFi5/znrgL
            ipetC/EmYwTNarIh6uXmPrf0MZNXzKZTpkJjVLV1t2H1fNZ/15szwyDh/C7w
            +NHns7/176RhOb45mWLlkjUin8mn3snnj8HOzAud7wvJgZPRP6P1I+KboDYZ
            NPdSyqHTVOvsQcocJH3I3C3TrFvPf/t8ADoW/44LcvUZF85aJg1DGa9rxZUG
            uqsMeullyVgW/VwKNbQMA3HGiFFlRjegbp84o0gYGDna4kkjl8Lk0OBYwHpl
            Sttpwk5XYNcUS04B2qracy4xFi6d4kFlZXDCqhN01eHsimeOkRxot/545qmT
            J73JqEbAJI19O9eiMNYxZhTfRReTSGkaKoDY6eglTkVemfJwAHq0yHzgDJxF
            XzwA38P8wouzflDzZNe5n/didLzdA9+fjMpbwIiZ7/azPJ+PR3l0B6wx+1sY
            n3nW/Vt7HXQ8eIS8TqASPacMQ3RtnU38QiHtQpqehpKT/sVT+pHd1zLmvudz
            QEsn//9TdZ94Jy9nrx1h79UvfePcyOJLdE8rV6v7dO6Ufd2u+6SxLSFItzYY
            qtvNuX/3Rx2q89hj/6jz7m/76i9DRd11Fdcf36qu8lNdP/SvqX/tv9O/+5v/
            Xt9Uz/lDPeddz46V4a1MZMyn17078q7n/Q1/P8Z13uOq11c99ed6etUOUPyO
            /6k6/7v1yKmkE3YwN4dgRgmKaGMwg9nhL8sG74Sn9z3oKne/43rdz38/95/9
            kv6g7jqJk2tMTNQcFGaikc541c8z6MTHe8mP5S+iGA1u8B15Xamz5f/40ovt
            LGNt85Gtmb/A5sF2HHIFoXTt1e97n7ANwYgd88FkovY7WFwit/kVHALaS1HW
            wz4x8NwlKwaQ9ZMsDHHXBeRYXZKmyDP1lO1h2XGqtByS8AtQs8/9bhquueEL
            +7LhvHzE2FbKMY4yXuV1ClHqVUd/1gFUlww+KpR5wbfoDp2hPr4Pj+/H8/v5
            7sPEKHYfArDSkAn4rqdYPWM+6tlj4bzadzae+9tc/tG35/628TvH1Ev01bc4
            Wtn6Py1TF2URhOfJvh1pr2O2OAklAwc+yv3b78vX+703vMYB/Ew4yMhOXWeK
            SrZAXEDbiFX9UMZe4oU2vMZxXucYm+aiuSND2MWiuFH7nFCwy7gqRMbkuqWM
            G9SpqV4qk4WLD3DhIczQ6r6XJeuk2z3oLfqQBbMt5z3tmBjUnmoQ2maREWe8
            VFpfdbO5b6SpGQnCeGLPyLSM8OFafL+nLnwKr9E72k3Kg07HftCI5CydMlWK
            CR99coOxMgPblr+d9SuOmBiDDX1JP/UrN63Fq19p9yvtfiU7P69+xd2vqH7h
            ZKdzy/8IS6bNXTQ/AYMpgmeRESZWveHKnGexmOpeCnaj4WQIvmh7yH7Snjf3
            XM2Ws8lPJRqY65I/Mt4K9odsymj/a/S+UomVE5tkmY6YMsb7N3iSwRhzJxOS
            7frAto++f1PPpbLM1XProgro2Xad0ofRvHLJ749R0vL9m7GLyMsxfoHZfXd5
            4FOf6TP4csZNAEmsNqf8WzrrB/nYR9dYKmXc3I9HvphJgbbL7Cc9ORiMh3PA
            7AelUz5KIROjolEfFmhl8P7NusktkrC19rZeADThphVfseVIjZI+l4An09mV
            73mS8nGPozOyJPhhBiAOczGnHTWple2dpnvGZNCoDntJ82g+Lp2JIRyFj3SL
            XklyalqC0A+DdqmB2a7HovUirY5akHyZ3uiFuiQ0ac/SCndc4smnXraw8jnh
            /LCN+HgPdqgfLR0mPTtBPZ2UVDSsYWBc2n5YzALGj6WBmWy1naI9SAbva1Gw
            oTEsrkCYkTEcHeO10Jdb86LUEjYHfV5j+lPxXDwWp9YUAX5oFxkoUOT+v58z
            1oz6YbGxec9cfVWGA4yFOOgZIju5uuNVButHYMyl7sIAjSg5DG2bhMuPid9M
            jOEYTi92nhf6NJ8JLFHSepr+nJE8aYJmejfTG6Iz49Q5XMoocgGM7bPIyBte
            QY4KAzFO+chTvnYyvPMjbiAAMjiml50ZbcXIPweG/K5F8QspdyFfmCrPAGHV
            vo/73u/7w86dq3Yv24hqtofUSckOyUI30Bz0Qp+a4H26hq6UQzjM9lqOSQgP
            0iuW1e1Fo2BhZBPYNi2Tutn0oOd2jXZ14CL1flr5tJ8D6tv1tgVKdm273kxj
            cMVVtu/jjtd0eovHfNtQYYr69uVNj98VkOb+XR6/m8UtrwwAwSh9sh+6is0T
            jyA2GPkhd8ecFNwFXMxd8kJmsZS8etszBeVGdbRxLIoW6U8aI1+016ruNI3O
            sb971pHHFaI87U7Shkff5U/G5bzjAFGdIv2grE3cmawt0D/YzVXxO4B9w7/q
            690OpdwyTcbZneWUJpF1rr2nGF+I8eYefWYcM2/6QnoVmryUz3adrqu8Oxbm
            j9b7dk5wlB4xluaWIYKoIsga2k+HrcECAb08g6x7J10P+gEcMr7X4Hdj4vyH
            /V3LNie/mwuO/wJUvPuO3wBJ8oUpk3HONeWe/qLYaIzJYH0EBSOxzsQ5Bsxo
            lLniWeM86J56R6VhPMGk0DecQaCU5hjrGhl9xTM5GKWONNDEOeW9I+FPO142
            4nf8FxLnSjFDY0ZvPjCkVXgftRcq44rXjV/SoAyNNsVKpZNdSCUN/PF/DH9O
            mMC5wbp2nBrAN+9vuz/+0Q77AIRyot+ugrlqvB7z6uDJKImVvIlBI30qBX+g
            aVEsMxXvfhdx9GnLNVunNKqVSFgVIm3kVpPJJNGSWbcRDN68kLuob3HxVBzc
            co3++ZzxaXiigrkDmXzyYvok4OHa5ADQiG8UIwlY5I7z94apxzpaeMPYDLwb
            mN8LHKfOO0XQjWkCqDSotFlTrDrGZJJNnEzxZFvuLfbbYCB0bNyL6rYeGFvb
            0fSbcRJIMgOSWPzgls1WOSmhK+rzDah7x/tiHCOqDPuQbS7z/8oWm9+HoRBe
            2DdD8R9olyzZA1a67nvh2rjC3YY9Nz2RnslS4Tzu579p/7D2MYXNm86K9iFe
            WYgZO0ixPcuOY849WvxLPqrzSvzIGDJe8aqsj4xLtWmBRlmjGebafMqQQ3wo
            Q/XalQal0j1F5T9l4PYVGE+uUuNCTznsABEZ1IcyRsQJXjDX4CwOmNt28o08
            A/qA3wflCdhEIU+LZag4FcliKPCMUcqidayi70iyNOIHau1H2mWbEp870ib1
            tLm4f/Nbd8qUQL6hes54oxl9qzQUVLzQqnoKlZvL6sySd9pvIRHF28a6B9r1
            Oo2b9pCsx2wUNEf8zbhOGh9jGdOeAPuSYJ0xdIO3ePjotGx2HXgGyWjBu8lp
            BuXffoNU6VWdh4uw699si3Yv9/fgWehvXi1KrORoOPWVvGcccldzijvMNo44
            K9eNuu5TPB8pHFsvBi2SjYDf46GHHNZftDGo2zmD/AboOnOvA3+zb5mRa813
            2d1rAW5INs8GwLm4P6w5dWSbJgmb5hjT7JHPbZd8TqM1QJwJ4bdhV2zLYFnG
            rVy77Zg37ZNumibv66aNblrpm8a5aaSb1rlpo5vGetFMX7TVims+5UZ9npa7
            Yr+vu56bZsJ8ae8mxncGjcvzG65LftN0q0FDtFslvyTaNyiaapZUdOs/LPP2
            V38XKB9mkzte/omUTCtOLeEGLXumy4Cr2O+rWUxRTVlYyTXjG1zZMbaorkHb
            bl2KtQh4OKUfM/9aEu7gWK0OJ99ikGCA685tO9hq/uG0vWPOimN6i22+6yX8
            Yb2eOped34I2fyGHkLaP/dy4RBktqft0jLAGHilbfghdaduiVDIXGKio2Ley
            V5DtQhQfCd7hEm2BM3XbaJCOwOYtDYiC/pLZh9D2vE1GSoiWj2X0Ny8wTmt3
            tH1dOy4rY+gcqyvWl6POHd8N2R4ywjj99pf6xD4zAlsFC4E/2l4M94blzDPA
            PiXL7SC6gLQiUVOf9g7rAKLgcyy92bscKSQCDypZcmAY/7e9hfE7R+3SUTD+
            cKPOQjG1yh3rmIApNMrFGL+Mc88YfLc/jsVDZ3xyxr8nfoog6S5aY1CekWot
            F1CE4l0R0zf6r5DjOGkPdVra9h2njAgpOcX877dvJ+unkfr2A5BzEPlC2vQW
            xnOlPR/9mIS7GLudBKLNH9hrp0B4goUe3NpJcmFyLzMSaQFOHl30gsH7vmH/
            Ib1XJkfKPDll/bznAHZpsH1pL9M2D2NkEHGOlfpv3pMk5b2yjdz0Ft1Go42N
            +VOSY0xStDXXS48ap8Wk1zGRJ8e+FymMUUeL+069OO3KpnKk+BpO8NN8nu25
            5YGUCYw0ioHxikjdZ8miMw+WfjMIBXAV16zTA3/ZmtEjNTPWuzPZAWly2n1v
            OoL0TvESLAmG0KhddQyuu7M6TIA/jDayuS183m4f3sPq0bO2n12yYQWZiP6F
            3S/USVtl9Ws9vlWf6rrt1qmPmEUZe3ZuMJC4OA+yLxF9TWHIic3CyaGWVvbh
            ztbJG13SR5MsFTSAULijD3xp5s98SduKfnXjpaT7AG9UBvXe3CvkZ3E/NfdF
            cXinviuEiuanFGhdIP0X0A7DqGL+whXl4869K5sp7O2lnCz2f8nSaRpT9rpV
            BhspI9OH4rx6IMbnU9pdFYNFfNcmGaO//vZnUJLHsOGlrswhYvkA/N1mIww2
            3keeZMqHxehgpCJk38SNQYcyoCJlOn3FegRo+evvCIKCFEYgV3VEc39WjAvB
            Tv+KrUinY/IevfAsb/8P+fcTutDKjRLiQdoEKEVXf9iVcDAldNnb70ES12eL
            S7Nj+QVSDv1kLB/aMShyPq+yXQ2MqxiUV0Z10ZwGcBTnO/E+X0Gy4FNGrNu3
            MJot3jV3XPSdFwAw0GJaxkN27H3bhso3lXGo5n5/2Pux7/v93drXau/ztGsC
            lFM7Ox57b1ZuHPv7XQ8AaDF8b9c2LbduojXz8c515TBmUIl5TbN1CAp/Ihiu
            GIoaKkh6xq8SXSolCuCdPU87rpNFjqAd2eO57L28PZePBp5nl5d/2YHlVPfz
            ux5ZUFs9ev5q11m7U37PS/YcyvOl4MSHYo/wflr428S4OYqLcmrOE/d8Z4wQ
            G5OVufty0oE8p++643fdjzHE34wh/mYM8TGG+D13e47q99ztOdXScA3IgW2/
            Gvx2t0/F3HurNtBGMZQxH3Yrxgd1ysgtzj2rvchlixY7tg8/iEDQlMCz+Jzh
            00mmkl+V/5wvmBlso4CjgmOieLl7P3X6w6BNwdVl/PvO8SH6EIBC8QSPTevc
            1zsnHmMS0TZLYjraZyueUTmOve5uz7IQUmc88rHuszen2b+GaPFjrz0Pidki
            Y6gWd8bKLswNraxCfcQrs5hioqFog+ZP8+UHndQ+fAs3XUPhmGRV5Fmn6YDa
            oTgCOE0WK112WPfv+qYLaZ/ENGuW92P7J4P/u/I1ZCObrnb7zXB7so7DPJqP
            O48kBUuELYyxALhdaZTIfpEUZixKv+NvRyUzxtQwARKekTxSPGSaJoGmpI2r
            LPNuHML/ZLPpvaL5dyluWKJPb6h3DLTdVkiMe3kCfnjFbvc/tSt6l/S2JX1Q
            TCFFI3SnYil1OYfLTlLtV4nh0Lew+3BI//n6Vrke9reV8qzw7qv4giD6vLn8
            FTuasZt/jh3tFDvaWexozQ+9nc1Wbt20mWduhXa+5pk2ctUfx8uf/lC+D/Yz
            Kf60l2+Jq5gjGQz4FV/PmYOh4XvFbhEcocTIbzrqI5bYTKLO2ss/yBphvGEm
            WlA/z8GIP8pv0vJhOggAOb27Ei0GRiP6lV1DOs2usBAGAo9Hi+XsTPZ73HaR
            2XxCl/ZrkK9cPdeyGLY7bgbeXYrVcWw7wR2HXO/i17uMuqKjFneeoEU7fVPP
            dzzt0S1eLxAuY2eWsCznidmp7niY+V2ncp50+XE5hR89H+V3H4SsH+XLucuf
            QO53X7zO72e7lhtFdQT/OY4Yr6W2dj5VxUJtn2XAd73HWlF/k969jSZ94zXj
            CkAumXa7ifb51x77Y6z+NbfL/fV3w4TRP8jeMdeb8rFZn81WynJWvfpEW93n
            2KnpF61t31BAEXYsayvvP8tTUPlRPu/yu3/H11r4/lW+vOd4Ds2xS6SOg+Ky
            07es33ahDLFEX5ajyM/KKQ2E28/jzrHAwwZ4MvdvRZmnhrOvIPtZxZTG0XJm
            GyzKmHNwTGYQPfJtAzyP4+X3HRifZ0zHmBU5DLfzGTrR2p6iCvrgF/BNi7FF
            yDczDr/gM367bOeCY7jhdeGZu8ZQXHvmXkK94QGLJnF3K1282RHMhyxbHp9X
            v5xXTELG9k9+9DvvWcaZpZRAQiTqbUKUP6v8AcmjHJsuZ3SqL//LRJtuUMJH
            M39b4jdP3wnFXH+U6/ThNHzj0V3/yCOQ9/VSDO5AR4qX/UIsuVrMbYIqxpwp
            d87itOPqMCqXfLHJxiuPYt2wGfxTAoy65RuHxRTjeSCvqBj0tx6X/imduYoz
            OL2+qnhzttKMT1fA/7xkz1Aof/IWiYAu9rfet6c48dfkddlK2358QX7IxXzB
            Ka+IkkWOYHLw4WVvz4A7jfKDYrZloHVIj3BfdPMPtzj8XPFtny+/Klr9Kmb1
            HUcCE5Lt24oNI7/CaPdtWT7DRt/1Ij0fveqo82g9bPsuOUFbHLPYgFAUvwwk
            pUtA1Qxcw/ODQXXlqcmyv2KGKWXFTfG+71Uy7mPHK2bc9f3O2bMmYWUkrCKK
            J683QDBqB8wmP/XFGAx0vci3QUE75IcQ5FQ3DdfyO51TxmZehNVWRlyJbDGM
            TY9R8VfZr0lhDhNtFexNyiWZ0ZV9sbqN707pXhfChLp/D1q8UPbV7nx+9OZV
            DIklvrvfeeiM1lesjGp7ZmXFlGCC3lfbMgZbjLdXTBZa6VK363ClKa9fsLnm
            XLAewMSmejxl2YyPg3uOZ+fKeZYFUG+8pmQ5cWgakoCrU6avDlBdGyHJR4mh
            lCkQwPwts2nhvHNug7PYArQBSJyNIzAm/9rn0MceUyHeYhiNaH7yVTJnsLxd
            8fgV/b+R7t0+tbmv8d2OKy89Hw0aD/kBhKjo4vV4tUf/gpRAM3x/nw5+SZ8W
            te/0nSuJdtuMQRLqe21cWSnINxRjpj+15DLMdyFbIMqCfEgGp+nJA8gSQjDa
            mun9PsodVo4xMLasEIehyA/i3vNMNQs+6nUG7v37uf9l0zQkvziKLDZsTx6v
            9pgQS/AH60kdm0SzxHH4/j5z3OfTK6eE9uT7PHh3xw/nWVW4SNqJ6304Xu8A
            xO5nsoekDofzUK9OXuiYOErj1uuXVs13MtCuhHCF/kU3zCw0xGh0UhJdd97w
            lmPAXb/99G9//FgDOD53hVOC+20bu/N01XTHF5fYBRDYdBnVYjyO436/y1+M
            dxlMwUm+aOcv5G8/dxzw/PPvm6+77vhDO47ktfu7ds7vc8cVoM1PmOG85RwS
            HTfzJZYbG+bIbflyYrY0xQ/FfGWdzRHBHy+Lx3pYnITs6hRNb3FcozMdVjvM
            5tet4zvHTGDcoRiYBFU5GXcuF/qfKe4D4wtyH+t3ess9Fd9w59llTEu9Z/6M
            HQsyiO4x3xTa5Pmdn95J33ser/q27YIbS1EDeson2++k37PiBale6vO455Wj
            Mcm+8dDeB36iDJv2nncMEMZXYH7GZx/ly7ZjaLB+DmIFxnMvs955J73RPoxt
            Avqqv2iRKTqIsuyC3YddzFiYIB4fOa8YW2WdOy/sIb8q5XyKUlYwhEGR4xj3
            NIi6k5IDy6lKf8rjRbPxLIQ2Vm/gc3O41kM2IH9Rp7yYOF20dKeji3RJTX7L
            oFeH8ipTPyo5hdG0ind9icIhLThppwzqkG0xUMGTx+cYMXd0EW9XoF0Cjf8q
            aBD0n9l1aUdn6wsISbU5Q6QxS0ZV/NDTMya9mZ6Kzlwyvsr00wGf9dH33j/7
            3tu/7nv56jv5yY+4HvRf7qBR286jQobOg7I87AzRH5fxqi0Psht+56IY0Y3u
            8iiOIbfxrOUxLcYrn5+D7dOIh8+4UxXDx8ne8VBWRbtnWRzOrjoZaVT5pOjT
            FwUObrobG3pW6cIIehjGV7mfLM+xV66/0RMYEPSVbVNk3ALdIWWjOhlYY+fl
            8oyvRpW0ow6c8cYwdy2a7bKBncV1pc++xdBpr3iSku8LDtBWEKNlf10BLj0s
            yNRn7mkmyBW+mmSoydxseQNJcao9Km2b3zmjTaeSZY8L8N7EM0yO6c7xyEQr
            fH6dOw4RWIn7O+FVKrxo4vXOCeq4xjTxuvNJkye7v6FsRDkqQBHzWWGUc8b5
            3rSF4LVs9iQ7ow3AUi7qZPGY5qXc1PQfnAS9aRqOBt3eU4+L+BAUTXzlOcV5
            V/lTdL1gDwPkym5F2mGDJaw4xS3TdBoX8LfFiGVgTECNJp2R+u6U549wX/qc
            XQZ7q8lPbzp3fyf9QV079yWfMUY0MzCZrhIMxBQN68rxMYeFvupjnI1xMKK7
            dgzqMJjziXQnYLi3c8ogd6HJR9twdjBZQ/VvePKEH4W4Hv1iRGSNg3F7HmtF
            71zpjKN937lXGENvmf6N68I4RAQgNw/E+EVtj4/1nG7VD5hFPhHUA9a1rb7c
            s+zKv5ZlPqPS//q706GyWyxKwahl8bkUHgd9Yb+vw/CZUme89rLFJmBcXdLM
            k2dQYl36+4kurscbp8hOe4ftdTeO0n4F/c0ApCXIl1jydG8xhl8xgDl+5r5U
            bHSLqM5cf/2eU79x79HsHfWz93ljnF+F1UiME1OHYl1vmuTOlXvnmgYQkY6o
            77wuZdNRfeecVkpF2W5smuY0GmbufmEOl89//T1O+oS8853f8RosniRIwvT2
            CVYcKoYnN91bl8zRYmJzJ1UAFfqphrj1w6CMVU+rzLEgG32l/1KYXdDmddPq
            xA9Ovr2G62mXIF/8ZLEOb53xhoGE1k3Ppvy6jfaqytXhSGs50M3lNJsNciS0
            DhfvQxp8SR/vRIvIr2g4xRCw/JiCtS+/420LwD41SYXMvlXKl/CQNzAGSvLX
            toe/hNdJnvrbjiaWPLeOsskQsaQ41p1HnDmGMuVTz1iSOyYY6bnjunPQS2ee
            8u4TaO3xpLnazjn9ovuS7bWbtiuHyZyY8+SD1oqftFYkj5OYY9p4lGA03ylb
            WNeqxZwJL105/bZfsVtAuWbJeLBj7311Spa/9SWexvtJdAv6r/4q/iHXU/lx
            wa/KfqIFxjW9Y1BJi2z+Bnnnhae/7k3zzufYo8XhEswSk2o5PwnQo2JbmA0x
            zvK5tr21fGOoN7pp1mp8Use8NenKxf8nv+donkZv8ndQLM1WJRfNlk+GFivk
            z6LZ5Weu+VrCO+emk9z9PW3bNHdnfdHtkq/nHfvrFo0QljL2p+/txmlEflyr
            dZ7lg0bHt9fxnh/Z/x227qnY/an8DgbftGUGbZ5B8/GcZ8O/O96D4kewrzjP
            /bZRX/PXNgftTSIj2GMakvkZy64BNFDfOGQw75BivcYUHjHuacPXZHSSBX/p
            //LCRekNN93OuU76BsdpveiJF8564w+LgztOizy0+bh4x43DqMqbLz2PvvXf
            O1fWYTCYOSSBd1ONj/OJfczoMGZDvnMeFsrniHQrzSGKj3fMPM0PuHBGWLF9
            KlbdZH5MqnFY/G7JrZiogOoJxbVpVTYunzEIyVfPnR9035/5IjJm3L9LMf+6
            /EZMTll3HMCunBtLeeIvT+lKuGMU8twaW93MFnHHKWWsQrkO3PHxMOQ2LB4p
            7d99jMT+FsfV6E5fQ5p1pcmMcvgdFae8+w4aA2+kGzq3/zQ92/pTZ8VY7D4q
            JdSPdYInCT/VGefv61zSgwGP3esX4vWK+UKJpGLj8DwRfUUGhHGKscorZXwB
            GG8ottFFgvz+zXI0ScN8tEXdc2o0W656b7Z1pBdqCtJL6zethdA+4GujzWWT
            WoS+lJRfp8XQzY3lQJl4xtwB8bdopzafzxuRp2LOVQkG5NqD+W6JObviQb9U
            TNxoO1f8Zf7K9Lygve3JPLpHMX9A5vc6Hn276K9AAUXXHgwng9zYPT1nZrIc
            FCx/BqcreB2nNmxORyhD+y47y5dxKFIb7ineV1w+f8k2ivBgKdiSLPEtR+Oh
            OBQ0r9T1JDfkKm3ACqHTVCxFWnjvOBG0KU6L9AfHfNdx1sf7nrx2QGFE7EfZ
            0ykO0lFnsOsZ+tSaKra8vAVBvySqSirzcB6Ky3A0qf0i82S5sgJ9xBd5Qw+8
            WRmDjzbeB43YgnzxWIaxH6poJ+qrGpEp+sW8TMq9zjpQ7e3PPW5/dj4zHpxW
            gqLtcz+j1gK4axA3gw9vDEPHcmcw/4G6fxPdvHx6GUdFdJitJegs+ZdjfQEo
            VqDI91C8sd5k727xFM92RkuCRiiVFO8tKvcc6aqydXZkwJgDEiuGvpwrK2ek
            13PQUSDKzYaToFNXi00+k7N83PmQPIn9OulmR7kvI4hv2cAhHaRs4hhXRGeq
            nMvdesI13v1X7OjWmmBoVyL2HI0mqYx9E8TTR+U22TlpX2OIffE8aj5Ju95j
            oG1k9RYDjzlXM/NGUsKVV3J7XGGPq4y4pKPDmxlIDzsJZQAPoxuly6cT46Uq
            H2QGWFDlZhgMwgpoI+s77LSiNQacp91s6rZueN70HPCesSLcuYBCY3K0JaF9
            KWU+wFXY2Y18xJ/m/HWuPfFJYcQl9Q99djojrdx5x6qSHTjZ/XvFF/VYrz3/
            vXOPD+qmz8AUgX3bkCaaH73vn+tMwQAIACVKwHwvykA13xHr0bUeTGGgZ9/7
            Aftb8WMEWw+mVD+Pux1rn3kWLD6i7FJ8oWRnxUYDDusX9Xc8x4wV4+nAEJTf
            z84PLVHaqmyDEfRdMf3C3Q+eEdkJgLMKVMqf2vfr3Sdm8n6fNeDrbjxOaeSy
            eT6Zv0t+5ZefV3jv3+Df+zeTZh9ve/wq7ZkFkhAuA8TwgIq1k2QPUzaVjeaa
            5oMzJUnxNTHPfBVdbfFdA3lFw2+yJUuXU4AyGpbgd53bPoVi29Jkg2JjY3i1
            k62aLvgQ7h06dxxv3HgjXWskRk41X6o8+8tHr+/n2MA0e6ZdeVZ82KL4Gom4
            mKBX8WmZv94RAwCnNKufbYIW7fLPBx2juVOM+DuGKsZ2RupxvT+XdB9o2Oue
            PgNkUgvaTo89+rjXudjtCKYX0XcuKoYp9tl1Yq5i2LaXolXatrkkNN+eb3nr
            EMZTD36fLapMvs5Xu/s5DuYzsN8cI6dwFtqCnMxYYjugU2ATO30ymUMKyAIT
            3Beuyb5lTiXZGWht8M70pN14mkXNSpT+5vA7BhWfp3atuNcRC6N8vSBu1gv2
            tjfsPXceL/qGj26+ZtK7HaDbK70O5H+xuFfObDiLIadO+mE+6qet1C/1h/Wq
            MyneKabwXECaxncno51f69RPnq/HPWOyn4/7TJhi80BOkmOtF+dA/dBZruhr
            a6/zWxNlenxfDOaeoNd0/hlfFXVpnyuqynCT/D1zoNcSZr99LS6FtQJkk7UG
            A0SEvhLbmEVIVD50zJkCHlO+TmzHhasn0zeLJ+f7er3fZ0VwiUMYeQiuNObc
            BoY56QdH23m3RhiMfU/m4py15rMqoKAimXqzgwfVmOmGQhwOkizQXi7QaX65
            QnqbhqCBxg6qu/OcKd5WJxlEfNObdjpNPh7r6eKv66nYBc3gR1gKFdAt/kUH
            5DU9o0ukYSMjeUlvQZ+eq6idyr2cK3kc8zWUI6DkTtuv5JTsFvUn/9zvPKRc
            J5zvydjOMgR6wRYQ07QcAbXjnPqr2CB8Tp3ZDc8Eb9JFOxM9Cxt/Yb808unP
            cliolilCjeu4Yfu2E1s8RvI/3fBXuc/DYqJarzPXmmDnOSkH5Lhs38X6ve+Y
            7cHTwJoUu2w+7rh/knvtfVjmme8zJFjeZSiWaDf4bG+BQS44oZqz/azgbGR8
            nwrzXsY53vqFwpwKJcZpThqW/2kdpj2gkZvgCmMMX0FwO4D2j1sGRd6PvK7f
            +UXY1sjqf2Q+I8pBMVHVcnSR0vKkrkNOX/OGc5Sr+fwp4aTZ/ES2BdqOeljF
            Kaf9kHK7u8XcvFP7Vf6OtoZeNrN7Xfcz4EWtoWgb5glrll+LMWfjhh0Rc5aA
            CSP1Hl/vqldU9pfvCH4n3otNTtueg7nOwTwwV6d58ZT0jDvY3F9/AyOuvPWJ
            kbZCTTaFgyglYg1oV0u7iznJE4IPAO9zOst1fzIm6qW8l76ZHmAU8HblUozk
            GTvOofJNAhZNyiXNv4z6gqZnUhyDPyKHOtaQzUZUvIuXnumgOJ55DC0WbBtZ
            tIW7dq5F2tTs+3mUOxawdFnuIc/p2COk/TqA4S33kUy8yjddoab3XCpeyo6p
            fvB9I77acm1LKWV6iGEykW71pkEoDpyVmFNBZrBRRiWyM4sW6CJQ+Xm3e56q
            t1JmZc40bxlTlB3MWy+gQN/K30CnDU/zRuJd5oVDHbLUdapny2/arp/vl+ke
            JTPsknzJ/nVR78aoAKZPNBmB5yP6CjV59Sp20U13NDIp+e37cdMhx5b/Y8Ou
            Zx4agF+L+xyNjhmHxdsAPZCfdI3SaspGItDbr0XFuzCbjPHKSzg856JdFmXi
            9gVvmIG2dWu3HUK5LJYzLXiox1dq2oPq4W0rT9ornK8cHZzLykgmdubA8UQC
            3kGREI4PmQvG5q3kfTn/d8wetpMqcwUWxm90YdunBX5LGKCswNyW3g3L+8Tc
            UcwghVMFtF4Ydz8f4D9e+gwgLnfvj9w+98dL99WJP976LEZLZwyaW8fnqKVs
            ZkdH2aZoWsUgwBU4kvrHvnZunSZ6zHJOZvM9MZ3lW28r3SXz8tY770k0/Zc2
            7dZppeVPV4YjrlNcKXt/LpPfGt0/VFer+VP3SPl0HcD2jKsLwLh9ZkmThABC
            OG7fVJwfxbOgLRefHZZPbMc3dLeNvRxVCE+q5L+WdpZyPlpS0U1qDmf5RaqF
            S955x5Tr/RINJjvsHi3XI52nCE/zvNrdxtzyXdDR40MHtu143HHbEtmeX4f5
            Qd1n6d77jOGlM8A4v0ey1Hcu1mn5xusdkyn6naeOtpr7dzWfMbPtc7a2cfs+
            mU2n/abu+9jxkydzERitlFgPu4Nnihk2JZa9UqVfy5CtR1C+352X7qSvH8c0
            trx22p6kXIOu/JyXINuGJJNNzjnzeA2mobnzzyzFfm8UdsnoK1q8CIGxILkb
            TSCqfH6S6VjIkxyXN9M9r/1u4dEDyoatt6Aeg/EOltkmS2ZNejpKH6Vz3+vb
            D+Neb8psGN5u+LeOgMT4nVdTePt4+yfzXJY0RifhlKSHbuYcTg8oy/eAM9f0
            ewWcZcYTUL4a1UNI1xk74bCYCG8dAvAmafA6OnPk0D/i5fMsbzXMXxLcfs1l
            vxJTqC+JIiVDxppueT3Pcp2X5jn+8A57o906ArkfKReSrQlpt2dZwKGmcFOM
            IPN4ng7zBSLdHPpbV+U8Y5mbnUPzhOrW9xNzVbLiA7Q7B88NA4ThIv0+mNDT
            9lcz+TjzeF/MvcYkdRfzkzF02BQlyBghZ6Y9Ocqp4k74CHjPTFXY5V2ervR/
            viiQYo5W4WyWJ8hX3P42KnPnusnMwg/Yc2yalzCnWp63bU/vnv5PjKuiHNzN
            6qjzXQfzP7zqcL+vI3ero8tnKonzeK39FKGfj9sP485Lm6QLIvA5ZzNbgbDn
            dduUyc/jJIii/Acb8obpzGd8oB3mYcIZci4z1vVZXrnjto5Gtkqdhj0Pf7Qv
            uuR39Iez+Hu/0C3h+D1dojiXP9AlONsfdMk/oQs4n/QbxcAYKoq+0MztIP/a
            KrmLYurQh2GFzvzOyceHTyJzU7APx6aeuZ7F7fjkC+uX7R33dryMT/vOKyUf
            LjeqRPc0SaBtjCvMtaal457fObfffnyPPCXK28v4K37MPqkjTNQCv3II3/0T
            nF0ml1LIGy+7JGtP59pn+o26qSBwsvvCXIKoXvQLTbL/mvaNi+a/JlMFQBh3
            vO+Vz33Ts3x352SLXznNbrpq9mveuYcYS3uk97gZ9xFshHvlWMuX8IFqTu+8
            1goeSducmWR2suNABNp7MPcKYx3tXGaMfx1kK+a2P5myqLazl4uZFakbyYwO
            T5cx2XeYb14NsjW9c9UwHQaQQl1+KaYmKQj5RtGWlnOF87lzHYNrbcHGwPiG
            la6egWmscQaTYA0TuGXGrxLNRUUVrzRRAJVHu+87vxNjSFLmHeZo777IAko2
            Q2BaOuvs7uqMPWl2BiAJk2KPDMv0SPsFRlvJpI9G3fGZzG5Hfl6xAx5c2eAP
            Y5gNs0vBycdZmejWjdfBwxTmMqHd/7SQF/QZArEXLPDdtQ2BZKtm923fJ+Px
            mFZG98DRjXDOM9+O2USXxnxOKaznmVuYt7l9BhncZevwcjB7gkMxYDBXU/E9
            x4etJ+sfw2wsre54x49hlAIlB82m92beA91Hs+WmK14Y5sPr9p4TLUdbgmi+
            8G37zjMmCXMWT1lLmo1QfOU52jQj5u7yaiMrDkq0nJ0cM4Vsfo/ZjzhzypU8
            AP22GbeMeWRoCxNoK5IuywxDW/PCfFdFdBEtz9rOUaAcpiiU584tEC80QJvE
            XO9zSc8axc7Z95F6fB7m/Uz2+qCzGA/S5IqWhzRST3LzFY26DpA31d6FdXUF
            NdntKWopnxf5cbt/1b55IdEWVnZu4e7D3PeyQ1ckecwc55dj7Tvn12Hxfdvx
            ovstpsedO9hZbnj29d5rtB6lnxsAhMUd2PYXjDKnvV/s+W34vxZKD4u6IS9f
            Mu6Wk3mbMBz63ie7rcnuw77v+77t+v7xv0H/qOPf/ufp0jXE+/3L7ye5bPe+
            J9P7fM9Tl83/a3Pm+7sdPfKV02S+Kvzs/jRe/vv7Rwfs/av9r3FMuXjvIQzb
            AWmUH8tGK3s//34P1FI4Jwx0y79Im4wQX6XOamO9l/Trc+IozdXo8ce5ynsu
            55F+fD/+0D5+nkFx4V39uX6bq5R+Hl/Y7Z8WKuyX79e0+i9Xf3xfLpf/Vf/u
            veLdz3vlT//+tNeYHvBfvadg1SsCasokRq3svVrxc62rohz9tsCfxsoV0L5c
            P8+123vt+M1ea/e5+c2+7scf3sc/vK9/eP+H9usf9uK9Vq79x9e6/m6tf17f
            PrQDSl//42t9/dfW+j89lyFZ/S84EgIjnLyur3EGK/dd/gyWZ/n7312+XYGi
            JuAou659ZdB4vj+dUxzs0ULj80jzDyrx9zXvayl2rW7fX/Y9GN2k7y/7nt5L
            yh5U7Pl3f2c6FGsQ7fvn87u/9ElINUl+w6ZE0w27+n0fl13BoFXlRGdSdOro
            9/vV7EpzMuH9ZO9rsvt7TnwB3k8/7O9rj2nPCRmUZ1/fOON4IUqtHXP/7m11
            XX/9P8aBF0I= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
