<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04ca.200e</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04ca.200e</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04ca_200e</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>04ca_200e_v5595</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8206</integer>
        <key>idVendor</key>
        <integer>1226</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04ca_200e_v5595</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10x2dgh+whneF7CJ8OPF
            P/ds7Lepfrz55/LrL/+Mfjzt85bm1v4acZuuMWEO31Ef9YlBfz3Cc5Tlj5oz
            5PZ0jPqZtkSjvZOZ/X493J8proP3uM6jlItve8ya73rae/TRcywzpZzKw9dJ
            K9pc8l75abhi1oczHCpHuTBTTzoi7nXUeiQOlmO7wxH5BliBxNlc+MMdcQyj
            LAnH8OQV/Tx8z/eRMp6zSupGAiHqxa8KmsGJeeKEZDdaN44NLUPKHETRusWO
            vyWeh9ddOH4+OIZr0+nHcM25cAwvkxrII2rt+tG+/lf9f8X/F7E2GQSTn3Xc
            RtVa+tuoJx1fx/GXKsLif9gF38ernd/7z/scToVx/Tyeh92nHb/OP43K2q/x
            xNvI5+r4/XW8xqDzr1/3iYeR0Po1ntR70fm/xhPWEpWv9fVeGqgRf/l1/t5b
            8ddzwxAZ45Ad/2we3yo8/hgJRNHt96D9piP3h9dtFuM75Rn9c9zvp8+x7Pi+
            QvSM/+099p6f7Kz2dVx/K3Z+4h7Vcb/75ft/7Sc9hy23XqunbOcf+3x/17D8
            +PH17IK1Wj/vH3wvn85o3+eW/fh2im9ksKb+myCSsd1fCxPXvI1z/zo+5zKu
            8fP4jDbr4df9wxX9XX4t/BXK3xa+l67Zir/u31MQQcQf9+/JSCCF8UoaLuQv
            6k531vGVwI7AMuoIOYzW8eo5Yrkq9s/xtIAtXvNMmMQ4jrPd4Lhib7r4qffD
            KR4PzgeLHj6lYFP1DJksBJ8zSqZpISAujIgx5PX0Y0LIdW7yG8zi7rjyv/t7
            MsHU41VFjOQOkIoRjLHMererO7X8239YtieAe+NZEJbHP/7n58V/dx7X/1+d
            V/7leee/PO+CZHNBkIMm/j9dlEUQ2M2xnf+Lx8Z/d8yW73n+d5cvHv9u+XL6
            l8tX/+Xy1X+3fP/iudd/9x75Xc2vGf7jWHJBUIxZ/ruL/v2xXqXg5ZCk33Rb
            Zv7y3WkMF2rgCpD31ANAjDGCFbzfoFtkqIf5hA56Yt+f+MsJcXGCA50N/8Ar
            Tsjyc+IfzwUHOKEfnzf+PUem7gP1MEMZytBt8sL10GcyFKu8cD2kboakzgvX
            L1y/cP3C9dCBMnhYBk/N4FmZevGF6y9cf+F6EGa+cP3VocAtyZBsbF78Tb/u
            9f0r5XjpVw+XyZgg1a9D34SeLeacqbJSLTxOKF9g/c/TIFuhAZ6r3WC0B1ar
            B+OgHap4OMRqZ3huas/5tut53WzP09PTWnqG7yYKjnhSOeV10DPjXaqRQOXl
            zyU2D8HNm8SOAeCh8Xxufi8PVw7qBcRmGmGlGK4+MMAG3bibLt3z7YIei3Cc
            5QdRdsnb3Lud06ECz/hIG7+o2g5XKOJD5fLyay5pP9l0/n5BlCSM95YEtukN
            Z+YL10HxgYmKMFqeZ/n1HEMt3XYfr78rnlmlz849WaNqki9bqnWn05fqkS7Y
            TQujdMTdZWYkqis4Z5aawTBSuEriku03gGLZOmdGd8RK7DsWU2i6yKWDRp+M
            xcN45sqfxdvj6YnnjzM3WXYVi92u54o4/4x2PpY0x1A7VFrMLwQwjIXqv0Ha
            uE9YA4TwXNT5zqVzQIsPDUscjy4IGtUevN7kQczgXlRsR19IjHOROH4sqs45
            V86mthx/O6c2WWkYPM2tUmhhPaNw4bu9RCOxVEwfzgqF0xhP0BdocVLTw2yB
            BC/8LvY78veALjTjCJQHndeBVnDvNR+ZK4HXJ77pRdU2hwhR10HAjcsJ+4fn
            Njv3qFeIMaxIwsaEzfm0dJKgounImH2M8Qrcdf197wsqsWmM0lri+ReCvys5
            RKZhhsWb3ME02fMPgm8fgh/SmchpNHUgkBvjwPasGXzxa2Nig99tiCvw/aU9
            g8Lrvi4FXEf3wG3X8dx181w+NID9XNNsgtiMBIxF1z8XkFSL+clmkXMfxGK7
            qEW7uV4kPFDD9i66ci5O81QFwRtgrZKGoQ4u7k86KarxmnFyCsu4n9BHAE0u
            MbpGiVfzY7sPFHZzr3Ttvvo9fc9n+nhNSespm8fcWa/MG7Tva9J7TeTQ68pP
            FWMkeWKaZL1mv6ZQ+kD4FEiG0kYeeKdF6y9UMucwSu4gmdH4YhlqDGyTro1u
            No+NC4TX1t7Hk6Ye/jbzz3F9SIHkFPpF4WamLfnlzc0RFkhY+ocJCij5xnkG
            1WHs8QCSThReuAe2AWilFfBafVIgiLPBWFyP8+LtF+h0D4HswyOvSon+IDBZ
            TCbYA30Hpx4GU6ODntvdeB2lS5h3nlF7fHJJnkmBUvc9Dh8UB9q4qPgdsUex
            xybujYW++JkmJ0YThgfVqQkD436mLf7Z9/3+WMgkSzq3uK+BRXNKwSU7FDGe
            OclABEeQD+Sh4wUEcq4BwVHDKziajLCF55MoSLTRCOnM+dyM+rqow+znaw/c
            pUMH8udnJ97brzn4N7qYljN0nNPXM6u4ENQV3nfzwoeMO7nB7HN3tlG4USGW
            IzQTCANoIdzn5J14M2hNEM7XAR56UrBhzppcRdBFcP3mb6tiLcdzp1T7nRoF
            R8quC4yH0ogHQefgJPZwqkI4OdLsJXuga4oOBHzGLOsQW5cajJhrPDskDiic
            ZMAdcWNZZGNDUviOKHLG9SlXD6Q3/maScGSbCC3O9B2hBQHzXkHGHVSbAyrJ
            4r3G/JyfCs5fIKK+VaUYn3XaM7CDLleVINXWZqa67nw6dm+LF3cHCQO6ZwZv
            9UU6b8h9qXHZ1DjIlbtDgoJo0v1M3ieGj/zn8UKvoXZazGPVe98L43iCnE9+
            r8d28UuMjxEjBHF3YuR4Snh3K8bDuco02e0e3Ii5aWdznrDnStq8GhxQnOah
            H9AJFxv02RtnyH87E/2dRgKT4zPDKXA6eMs2MXi+AlSb476xr8jgwC6NPwx6
            GlaarrUGmnN0bkJk4jd+UpFtZ977S/PUEzVyOiYPanhh/Sk/I/QECJIo3YQO
            IBMAq0l+gsAkp6HYtVze15+VzN7HCkNAZHKQRTmZ4O1PjefegiaerZesawIN
            h0curZD9OTg3QZ3rkLt8nF+DPVfavuaoNrawPtfUw67JUaTAay4YIH1fU6ct
            Tfx6Du7z8Jo53rHd1ID3HOCfnpPzZw6g1N6cg/EhgSfleW8LId0m3kHS2ZVG
            I4PGB+7tlShlnAucN331t/nd6c2RQohX/gz0giZeTVvdNwhnn6+EC9Um/u72
            UCotuE+ngim/ll0Tod6de7HSY8+BRHgXKzvx3ON9TgIbGfsa6CJ6ufC1wBgX
            fbXtOt/nYI+ZG5cC/zmNmYf9HBzD+3QyVHCMx3hAKucyM4vbOGLs5vVv1fdt
            2WbaRSb8nFdqGNdZO821q7nPTpI81bROEwzQ+jG4ZTveF+T5SHLOk7QWE5CH
            +EF+GKg5f3x/N0lqM9e0BRUZu/b7zM+ejxuCAO/QrlsEQmbe5TTbWpK7/i6o
            QWsYCay7edTli0HNjkXAIMhwsLW7Mbg06rr71jwh+RXTufcAcH1yRjuDXZ/w
            +tRIc3oXCMoMiIsT9Ijhagem752Ba0FAbV16bmHsARL63C+O+02ZdvGzqFAO
            TUOwZ8C4v689zjjN/Iz9cz40nyGtOosIuHBgYRAEwZgW3nkEuRVsXHw3EQCJ
            ZkvpR2bWwc2FZzz6DQmdUz157JIm03CzhCnKIilsCr4z40sB3MA1HBBYN4KC
            qsxPcAr/He13uP33Zb9zyphs+578XGpYi9ubMR6ew/jHKa3ipAyKj52X33Oy
            O4ivm8tBpjUDpD9Vj0IFBlpAmtCJTx0/TlAWLeOTUut8Bj9BcUu/ybKviNOg
            GWCCIWEnvs9x1FetGUPXMbhJNrvwkh3/ZqAdG/TSs7ppuehMtigEaDLgPkNE
            Bq1QoU2stPwDYiM313VqcUO24yPbbxAsA1DUQPS7w4AU5zmb9PHkn6HYYsDO
            bMZu7bN4VGJk0Ndt0QP5MP35+VCIDToSHnBzKHGZvt/5KuC0Z9TzzFI5un+G
            ZeMO2T67R2MOf07w++/Q0sp237Xs8/LnrO6/8/60HX4un5/LgkjLf0MplCii
            zVxyA38xErivixfbSXhdnQR1Tjf1BYJdbovFuKW+g1gOqYr+3T45u1IH/7tB
            0nlIB6W8gr47wK4GDVDI5GrRhbNg98iW76nR2AHtav8kBiBngOVE2wPPpROD
            Kl+07/zs//Q7LvkgB689KVOhEuJeHf8WNSV8jhXsE+8e+QlZF/i8nuxz4TOI
            60inw6KcCoLDvgEx3cefek7GHqUX85DjsXUTgww/v+I2f1Q2vwYvWhXJLEHq
            82kiuod9Dbj5M+9X3DKqm0ouyiCAQUg9TvsDWruuAS+DdUuPA/ScuDxf4Lm0
            35yN8iZQJGfRYKHPzgssnTe57SbaFtRd03n8tMxzuem74XX0pbmSdeev634Y
            dLoG/J0uYHvWqCa3saviPxiBYAK5XWsdezJrNJY9uYM0MTGli1F4sDoQEKzB
            Pp4vQ+swoxT6OVMHKrjp5TYL793BQdY7HipWSxtE9371eLw/uV+5X4OS1465
            Ptdefm1dPf/t2vBeS06SZ1or7HfKB96JvsrDnzsgpPBeeAoEUUrjYhbFlcqF
            u+D4CZ3rlIKqOT0Hx5MYOH8sWKxsgl5eYou23vkWCQTc6o3KnHKqryY3D4MH
            tNg5dLBCswbyCJL5rhzdSZ40s/YpC4sTBr/XCHGIwfVtLMGs7Z9JgjIghyu0
            RFO6II63hcFJeuoz9VksRcN33C0tPB8uMv5waDWztNrc7zDdsli5mzsmKwrU
            qp6/9Qe8nhMwrxm+S8FC27vj5u9dWkJdU7s/Q0epTsBp9bGvyZMB1/eawr0J
            Ikv7GojWJWfb6mtfc8uI3BwGxt6anhuBqb6en2F/EVDJJN1tFAYoxiSgHu2e
            WJ9T68NYW28SXHRi3z0WI4GwKOXOGqu824o0S5MsYMPLFoz+7GYsfNTuFnYT
            NUPLfF4KD1sp0+DrojrASZX/qPY/XczFNFy6cu6YnpLSrwXlOf3KlhM0gkxF
            ubDObuOQ2yeP8VrZ0DpgecQK9nj0bWoVHIQO5hwKVraz4X69sYLnuX9ytTJv
            cogPVxvGocbxDz5KLvBJrUeKK65R+ggXOI9X2T2ju5bs/FX7bedPuc8unT8/
            56/3fKaAlGvmz/k32D892ZA9r9K6N+eqrqDOGGl90M13nNulV+67j3qaLhCi
            slr8RUt6bor7Ee2m25WCyQS9tVvaZaA3WCbi4OdZdzRKE4cn3ZamgEE2NzEL
            xOr3S7UiJfIyYqtHhaH/5U+XclWWXVOPdtHXXOnGfRSceuYC8R3bdIRczp4a
            Ab1xDntmnZ9n3nxmxWNl1kbeFUpluzdhYdYmU+datGugEhW+ewiKI2hLyV3G
            3LAuNn5VuqTib85Q003rxWXxcDYMWfiyYRCg7XJdQz9dhQUP3YisO4lwBrcL
            BFjZOhG9CR3PU+DDHMGJahvMIrAu7HBYwYM+Gc4ddjmMtAaT+KKFEhicuz7W
            QeB7YHcGnGUkAMtb2XNU6lz7t083J0iAuDgP/50YjZXMhUxNgQ/MUuBjGORG
            1O5BiXzJTJkkfcCU97mKscpp+TnGCWoBycpRg9utI/0Kq/fCSaon/Un0D2CS
            an5GlrPKJkmRyeu3bzOKRo7igaMsUwHv6e8B5Vg00PMZukwqZlqGQQf4evpY
            ciYtUu82uXCeFN6T6XLSKpbe6/H32+9pukGFrnEOOc8vcQyaO7jSxvz6Fum3
            qLgRRd7cnvzaT3IgXkvavo3z4RXLjhBKLFD5ZASQvCTRsy4rzf2kFSuWlRE1
            inSTLp2uD4kpmu+XhYkCuTzoDhQUnlmnKPzxm8y5PjdZw26So91Ekashm1jX
            pabr+PInLPNzh0TlAJCNbdfpFFeMGqi19DemzcUGRZZzO4UbdZGugXuICOQe
            bTfeEFVc2DsxVGjcCVR04neh0xi7e/p4rnLMtnUQReAWZb7JeU6GOAW9baT5
            IGf347v6Lt2vFXMzeV++dASsknQWhWvErunNSUqnpTMGpt1Ndg3z/Q1xJxed
            ivYxzM1IyXhO+mHAWNypg1svEDcJgXrD6dyxfu7jmXfgBKc8J5Om+725I5gC
            zWEnJGUpkjvuceDdjAQKY1JGUaSiJCqiYtjigtW/B/Aw/EIqPuwGL5doDM36
            YOhEEpti3OrSgDDhJz+Vdfdqz6AXJoD4vZNrz887uJji2YpCU9iRvP5cW0dp
            YG6Wm0uOwJG5OXtupVLXNVzHMBBkPFkoNUAjsgYN6zz37rwvsGXu3NuvD6Aw
            3YMeRrtXOTk3VffrdPNiD/O73tfuWcGBXi7VL+xazk61e0pXwr4+guks4fQw
            FfME8EocXwUB8LOlLa9bG+tce5z0TFFEJx9nUJj/0rzn4R5GznmUu1ljvTxk
            hY1LUXItiwsHX4OeGSPIKVRKmnTMc1NLYS7eom/AJ6X4AtMULOcioYx775IG
            RWv1PdB1mNIU8HrfSpMWA6ywWMTtoksL7ITaNHcVNBCN1HzWUZklDJ/lpf+d
            +TLzH58/v9/2XQ5CiHNaSJEWIeOqydJTMR/acBieaP24lCqQlA1CN8OhSI7C
            pQrrY+M+GHKm+6NAWZalnc9Ih1vJCrVBBFezO/WbzjpJUkpDRSYlzfCMwL83
            ZkFBmoQFezXlw69hFlTw7+HzneeF+I/ndZ0b/VxKTnzbf4cw8+ua3SfggY/9
            DZ/nj3t+vt/MC/31HL3n38bH7/WsjZ8Kb7ZwwZ7JGAfEOYwJfB9D46KWRndW
            Tnc+r8TcH1rsPnYlLj0DigjvB5OB9Q7TZFMclCLuVeZFU7oMnZX9xmaz37X7
            pwjgvrURYDPbuVT7udGCxOFZwHW63PoQ5/wOdWesXkXbg5yXeSF53JYOZBlY
            5zKRfw7PyDos/Ak9ydwWa8nZ2KUkUvhOuUCg6WgfPMMSoqqnLIML6HzsgKZ9
            cmd3F9pzd75593HsfPLe7Xdf9rnzz4dfV26zGbGr7H4MNSpxwT7HYZ/Nj3Nz
            u5vSfk97TvPze7ZP2IjF8ujt986bHz6+GkO1jGOftytJ0mMty3defRpm9Tcf
            f708WaLbfEGxiKZZPMvj13EqBYYe1+7ZFz65N6XMNspk/1mGSjOlWaKEuYag
            KxgJN5QSnEKGBnq96P4MsQwyz7OMyN16lsBszQzJsmS0h1GidL+aYk6xxTLB
            sibMhQDKUO4juAOLLGAz9BHjdZcrNXeK5mX67+Me6oM6nUk2+aI+nxpvp9CZ
            4A24N74rSfEGCxoQT/RfTc8AmVJzKj5h3iu0weSLdFu6okJB+gzfyU6fDfB5
            vowLSPCQbaOwEGeeCryCjMIdmLB/m/P1dcYe+uS95aSFspIWP5fOC7wewuOm
            tOP3RB8VdeevTdgDTHtmvULa4Dro1ZnXd7mCYIVp7Mo7SGakxJMi+H4HLv+P
            U0ynn8P8O9BNcV79UvJpvRX7DYlTCxfdPMrHP90vjZUsJekskOpcCCw990tO
            UExAKdD7Tw28SA9fMiaCJh0LBNk76bSXPsJFAXvDhF5yQNLjEuUNXo3CLdDp
            AoGCF09YWNLHWeKM9C9jgSMWU85rEMZKTJ/FJ47XeqUIA2Z1HLvwHbeHljbT
            ceEOUSG5mwRClxzuFzo+MS6o/HKWijnOHGMjsdj3gkmPjA/nh7G0O9821lMG
            990kWiu+L/uOh0J3se+N36t9v04GA+07jCmsun1nqsh53YyGYwme65z2vWGw
            Z7PvE3orZHkbsLLPhO/hhkpkJMAAhQYH62/N224KwwNUdrfQxc65uSH6rhIa
            TdyKtYJiQxcBLVLmFVJfgi3wXNhlslZb2YG9gl0UbBdxMRmAZHoD5QldaKes
            SeZfXRfEqXYfM66YRSETXONhBkuy70lpi7qfB1uN4NK3OCKVZxNFJMSS5dRh
            7MdiRCNKfQrg95bN5xyDwaSYR/frwCou1zHnJl6mDNEImgwJQFumsUbdMkH/
            gdU1OCbVgFVYvtW999QfmRWZM8hbWUCpJjKYCE0uJ7GX5ud3nZ8iuYG91yWO
            kpWOddATu8BP28rbu8CgOQ3C1hiU7XZ8MpAvJ3D86Eu4Jz0ImJDe6mVhC6iu
            5EOU1XppKobMw/UHDi5EVba9WFJkgg3GXObZ0n2SE9kDoc02Oq+wyPSQUllv
            eHlIPi1QmokVgFh75fRis2NXMAk5NCn9YlO16V4j0E4NMC5D3BwqxAbTBG+Q
            bliVp5RB1jalxfxwfD5W4VfLQyLFNCQajNzh2AzgUCn4NZg8EGmiUlbG1/Pi
            pej7qDCs8jPOsw5xO9oseB7OqenEOVAOoLpVKsB3aqc8wtd17HmpJ3PXImMB
            +P+9O3FzrhYzvijEMXfXNvBm4wKRXReGWc/W7b20Yaq4WbhHyz/+poJCvMcT
            LTCP73o5XTcY3sj4t9LjrqdAQmrRA9F638JQuMWv473MH9xVJitVivLSKI4T
            AmvnzNCCbhUuWIhCA2c68CxFlmm+AiZkeTYliwPpWFxPavMVG7gvfkdp+UER
            AoiBbOWZeNEzfBHYaClWWyA5PcCBuLuYTX+BaLgQHuY/TiY/U/HEApKo6GhI
            R7X3SZD2B+NXhbSA54VbxJhsoZjQz2en3pS4EuTIw/h4df96p0LOZGIPC1j2
            95vfwxchPTZOzlu8lKNxvMR7ttj4zzz9qyalNIrIymRcqpwcm8cEPxxtLPn2
            hit4ci+TozmHOlxBDt0C0JvjXa5g40MujnGfLGQh07BaPsy1kcAj76kdrPYp
            dseIFTgBU2LX+bBGtyksFTQhn0kkQYA4xi13wJ1+WQeMFoslg/WsoHqNtdm0
            IuNZDkM5AiF0Lw5y+ssuc/vSEWgvSWvjyaRuGGEWicZ3sV7e+wxY/JvkAP2Y
            WTabfeJlwfcmtkvBToCZBybQLZhZmdluGa+BhBsZJ6uBhhXT4kncJ/9OxXAw
            +YrZMAMcCzKk44HjZkrpxeCSIvlyP+A1WAIyT9b8NRoDXJJE91iDaVlGOPY9
            6Yph3oKOY/3feS0sr/wQCTNjlPVfLuVPnh3PhU1eZx9SVPEeIKDhTmW9Ezlx
            YhQCnPicCnhOZiCOQy6SESxylRh8p+KVWJ4AizzNCIPlLBcVGSljUcpg2oPQ
            jsi2C1R6j5tFBdGgD3ay/Jbpkc2XT8Dh3uPIrCopzZXi7WWjeEHIvUvKH+6d
            WGrARSlUrqK08t6f8b0zrv7uCDPBshEPoy1mGsbg3mTLI3FihEwbzDQnwdAs
            CiBMHBMR8m9MVSAx/tgEEyKNPjFqjlx8zBHYtokvLohzpzKec38fQTP7YzMc
            mBMY12Gdr5+PdVrTE41C38fpv8I9zH9i1k9klm6R1WO18f7emVED99pTx5qV
            RPqlO+BxY4LgJWoa3QnkVmaxzUJ1sGOZzrQp54CeLOq5FBeaeiFQUimf78zB
            3d/rehSUbKd29x325AUpREETeIp1ayeGG1ozg8SpMFcbSpvFh6jkVTokIftu
            yODBEuwJe9IzuCjb9rk7khzirReiHFQuMj7xO8DsxRBMtr7jZ+py5RxGpjVA
            2YM1360siSmDV9SCabIhM5rn3YidBgvwpVi+KImODsbDSUmDpWcznzhmnjPy
            ABgg66xTMqxBqRkZe6grQyyLfWjnrG9lpzDNODQpZJDj4tnJM7iebCu+efzw
            z1eLxRKokLCZ15JabRdrdfv0siT7tCkDe6UytgNlrySlb5cARYeF78zjVjI8
            dvkJSjwZnWZsn3ncVRVSgdZDKKbRM4Yh+5ligIFKJvE8fl55WJl5MbRgzCqD
            aRVMgPJPwWz8Gdk0ZqbL4BhYfHa4jkvhh+uS7Uv+VaInNlEP4bU0kmN8r8nx
            BqEEj2GlNvT9NHubdjUTeUhGJMzJfFBXRDFHUCBdSYPxx0oSPRtGM0igQflg
            4vhzk6JY4YFtFUJVUuZRmLsQVN6NJ2In+EtogiImYykNBIsIk4o5hpINpkBZ
            VBFU3m1wN17Wd6DSAn6wErpqr4+ZQ4p9shUORGaDS2EwdoGdcgpFwAsL+LU9
            KsN5fjh/mLMkD7Ndb2fh4l8eumzGQ0qX7wRqVYdrY/aJMSerq+HO6LfF3VXl
            4Ll+lAKWcX+qGkT+TjqXFCKnvTggzJROZnJEOv0IEiBYxckyyaLoJJPvQr3v
            +KrWQxQNvXfIL0qNDdoWLC86SkyNjklxKAbLx5uUGhSbGNTQZnvuyHL+KzIE
            R9Y4IQwYPp8eMg7DhS32NJYAb0al5CwS2Bl/hxnRsfMhCC+waIxtxDNdApDp
            YUrzhGDGfSrGFz/jO3x8TLmD+XF0j5i2rbQwTH2ZRt09yVWfoHT/bRzIP6Ns
            aXfm8B3/xTNVb5zsPVnNJbkU3WbHY4wEWPFrARI7ufgD/OUHy2aPCzNyhxBt
            koOfz0mGiXrVyVQrSlDFYXu7tBCJE8dAAKFyKh2Oy15wdKZxRx7Ti/snn8Wo
            ShYR4nfdpTm4R/XMYKtnGtgY7fBjff/t92+MZIVpNZXVs4T98/jf+l0O/51s
            rP6p3/G67TjPK35e/PU7/Pp9/Pxdnp+/A1Q0uj7FT5hIfoIGJv3o11V8HtPt
            104bUzEWSnsZn7d94rzpmmOhB84CAzjJvEY9L7+o+U08ODCx1ak3ybUYLlfB
            6Q0qqz7kj5nHoATedm4E7Twx9Emj/WgqtMB3HM/vfUCcYAK0nOhEXcon5vfO
            HIvjrofd9+h278j07/pFTOB/13ZvHoyuYjzx70SltHAnquDp5NyF9FCnzb79
            eFq/fp+/fnugxeRS3XMIJcd/91+/26/rnWAPn/uERa7g+NUThbf2ey+z+67l
            gZRdNubZ0Nm1487odP8AAVW3KzfHPnv3RCK/z7otnAA7VoFrj2Lo4ua/N8rO
            jsIsv/mOumyUnx2V2ShBO/qyU7h3dGZnP8cdrTn2p52X/D47GvNGXXaUJv+M
            wuyoVOg7KrSjRf7pf497vB6lOT0rO3ebjNMnc+2s7fwze/t36vmbzb2zu/3v
            IkrnAsN3v386tMCA8CGbrzO6qKQSZYVwOMInVAU8lmxCZqyn2l+xCA1uJ/R0
            KU8D+oa4rBUrKmlHimikaNietuswT5tEhNSrMegkac4F2hJ+mFi3CinaYy+h
            E4cK+WCw2Qvtm5q+wBxDrg/2AfRPqIL29+juPXxOgrZ9v3Syl4at1dvWN4J7
            nlhVSZwD+pCCGeTN5BvhJAadFFCVWKU5dvpWpZcK+gqzmlijPJsjwNH9Od3X
            6q5Nfa/yaOGJIK/oJpOJls4ITqHbs6jwvUnFqS4eGXWq4xSbpu1BP+2ACE3D
            lEDqMaUGuUaZO+riSjge9IEzJcW5aOs1blmdGI/uCVwx0OsQofVA+WSyBoMo
            nH+M+RGbHh1qFXUrgSfhuHR+6F2R8fWpv4GfgOh4nMkwhWMjgbCGGyb7rAOs
            eMlNJfemoyMkpSVdMVPjTQSrYf0w3joS0SSnkyFDevUh9XN2MeGOeh4Ga+3M
            3T5Z1xDGTjPHDNZwFzDx2qTMcUIOAZs0ZUuxDrCcmixBq3w7CMBST7HV3ibs
            vLVZrHaKmT3m7HJiZNENCUaFOHRN8neQGKGpB8XffKr+2ZMTsnw53EVY+BTt
            WukQLgKiy1R94r3j89HcaaRDmi2KJSqXHOcuayMhMHGEytirqLruhAlesW29
            QUqpFG7ca0qkftWYsO7kCCaq8By9g4hsyuxJu1KKiF0gqoD7wbrijokyHC2/
            0pTBI+0Nsc3caLZxvdNgzhNfarPjHczebLN6kcyu8Lmy+Taj/w7M82dcmnNh
            porMlUGAKqVZ2X23TNuyrnvFz+nsFXOj8todnN+gd2fef3eLyMHkXlnoMm/L
            xC0rQ7dKo2ZO8zQJH9gUzzTTpTImyijDUC1YIZyGnOCF6eAK/fS5i8NxQjSH
            uNR/Zf0wUdGpkp5qeTkmt6FWfSiB4uv4tY9D4+7JQnA8jpWeG76Eu2M1rHKk
            01KZRUMeGZxXYjWfoWXh9u/zrcJUu6TODutLuGkYc7hUNxz2tcmuYVSf1z3l
            uefdqZsPL67AqZVsUqYP2Gvi+czLw6699vdAuAVhwmEcnewY1xP1BO9WcX06
            rWBeQQIidKTnZrbKCgyRULe7jrllHE1OjOUqrOoHZ1jP6e/S6R3EZgEF23gi
            uNXvZ8X757NmxzsxRY3nMCwZNgmcMiB7VnKxTbh8lamVQ4HoRifmkEzMtlBH
            +DqfgeimWKIegGfatdyq0yc4KiVZL0QAI57XwePC9cq1IHf+OJSnHyivRq7j
            sppCsYnq8C14XmhWMKfP2C2/H7K5U6u2DF8f54DNz2LgK6VHHha50fR8sNvO
            FHWyzlu4QGNWmk/UeHFRbZjIZpkSdG/+iGSY07+DpW+nBZPQvrVVqP5W7u1x
            180ZBF8pDmCfULmV08gStJl0z7IzP3Bsji17QRBif12OI0EMcu4wVCoy9DfM
            orI8YWwm4gENEhxGOE6PBpHMSTMTrDXyPY0EFuFTeRCKiT5XNBsTIpTp3uK3
            9r0evz8VX42WCCmsD8lADKwZoNTP9JKzvHmCX8cpO8ACU392wt3+Xo+vz2Vc
            R8mODEr+f0+Oh+0YLD+IJdR39SwPuAztrrX29JGD0F7elO9veQslkUV/pt0m
            VxrNpv+fLCCY3FVas5rFHT2hB007+nxOKo2WQGChTh4HUZ8tGhff53ZwD1ZT
            YxJncId61Xw29wYzBnfoxZTNUy+fbBIB9EKSN3+X9D+YdNaolAt6oQveaN6a
            4gtchYAKLg0B/4AJLNUL0FSA4tR1PNz0fgYpYPyESqbzeE4k15KNS0XBQ2Zy
            UDvYVCmsf3avHD1wNBWYHRnnE8ZqBGHh++KSWIK9b77lueuGZ0xveqWnWbkG
            kTKYC1IihLRnelBLnOA0kyVViRF/vqfysfg3KJXTzZOcXSnjM8moWaUX6BOY
            tNEV8Ge6ReIznx1Kw6E07qBcFsbDYVXUyfLvm17Yk68Le50YbpN2e190OjJL
            HnMzy0URFFJh9lmg6MGkYiMZCdxRSKv9DeckpqlRPdpaGdhykiuTKqXknNK4
            48KEt5toLdJiU9/A06yUInqoL7jft/p10O0ytZ3G3yBKTCVYDx3wYztWDo9b
            4um26xQ0pv1GLRfXMTeJuhleZ31nVVoKPzejBY/zVryKnccogXLEmOrDLM7u
            52c7P3X/9ODz5ffL+37+9+x/H7uU20vRt2JmLleVYkf7u0NjM2mS42lJxdlX
            tvs3B8bdJeeQcHbdMt/24c/BDFXL2rTPy8cfNr6rjzdme87l4oluo7HDfUwq
            bARHXO4AeYSEkZngVXxRUqoPMa61AFnpLKp32ItAe24GY5HPJEoZ8bNSUvD4
            kgwGi0qMWs+dgw7aXsl2QVfMHov8DLMtmdD3VNynUnW2+wSp67RDE1HMu2cz
            YvNw98onPL2St3WWowXbKTje8vfvFFtSDsfd+lSBgd2fuzOOM8L2LL0N2bDB
            FcrDxsv8U1DJxcB2M7ibRVxcESLuSbueuzWSQ0yBNkA9o3Hnc8F1Bg/EMcIP
            sIQ2JJ/jH4sCszLt/KtEvDuoTIMW/8H02NtiB0PQt5tbvNyBPoBfIBD4zb8v
            2f2Vz+qLaSXE5OQOqj7uZsGQLO5ElpOZkyD9/Ctrsl8qrhSezsMcfZaRgOHR
            necEEc57O08yeJIm5GRWxSXYIvpXujkOxPKFJcC/MTuwuD25/b3SaPMV9zNV
            u7ahUsiqLaPz4PM9D0oTkCm6yk8b+tlWzmNZFAaCTfE5pACywqkwF5gadmb5
            Ae4zpUBJ0WWggw4LjjUUe49syYSHPv09iOUj1s7jbofv95Cd/wguSu8RTnuP
            dNl7ZA/7yU4+683gNoiT9itWHVzQr89+PYlnj4mVnZjwngyfQToUbHjT3ywO
            IVyS+Hytp/xhQ8owNXgjgRCE4EMmknxATnGUSZM3SayyzsRQ0e5l6UTwfCiy
            qXyoiokAjDdjSD/SbnlelAMjyxXIvCnlSBk2049Fg/E/1oe6g5wxVREaQ76j
            KaPaPiFcUExFYVxR6kzzdQfLJjQnxfqMheYgMz+gP5yL8jZzc1cmtEBmMo+O
            YBdM36jnRe8BNr/EGPY2iV1OgyS3pn2HZH6IIOP3GH4Pc444Qjb/u/AWLo5e
            sbPFTf4pdtbaYsHEwLNjnu5QyMXO04H7ebaY2GJvx8eXc4CoaizLTiGoHG3u
            7PPL7OVMNyiplV4zd+gPsa/IlA6T4YGFnoSAo2KEaSx0bxbWfRkllvycvSgh
            gHbypK6Qmc9n8hsjAdGm8AQsulyH0EuUpVGUpCeNlj4HVgMplSY6pSav48te
            VmaUbO7PapqxQp6sd4/CS1FC27fm3IJ2D3OFRyYH6U5I23/A+PXpuU+EU8xC
            0hzMpnjTcCTawZd3gMI/G/cPk0FI15NIsaMYBqu2mbLnMIn9XnR+Bq5Kfari
            wZ4nczK7ibW/sCnNPM/Sm9onzaGkzrA+SAxUyHxVkmUyftP982BZYD7aUKyS
            ukHQzieEBT0JD7c1e3Pwk34yK0BLBKokeOwVpdYzfscwTdXxWi11nwXJOi99
            zhOCwlLqws1oHsUhXmjyWOl23b7/XX7eXyby1z1qfu772KXCds3V//M1pdlz
            b5ofNUzhui4LfitIzWAs9F4a5fRMGUCAAsgXzwPVEtCEJQMz0iPVpTETr54Y
            XU3n5M85U2MBZVPTx1iZ4T5lb1UWcU3m7dBND0H7BInXQH9k3OUfwcufr2zY
            OmTTVjHqTUoCa0yFzEQWxdje8xRLd8+5ebpBZmKLpKTtO1jbk9UKOjaq0B95
            XBV3SvOuogTYYgG2vtQoxllGxjTe1xBjOK2w+7gszqIkz+eRhK+MXY7mSLk4
            ewlFEyRMj6SnLDBb+ez9oT3qGbzaS6BCrOcm+eNNpj2Jx/L3czvGePJvU5A5
            S+Pk37gT8AxwkEe5gPlKa2cmB0Xy+ZtM7GaCre6ZL1ENz4/3pWzluJir2Pde
            p80RWVh47mPnRVtXCAHqxbO97XjzECzMEghhcPr56YJgw9xzuQu2Z6Hzw/92
            ff2tQjmE4l1uFcpktmF50l/uwfR7zO37G3uD7PnKpSVTX27FzXgzNWMIJiUL
            mKu70buqczAZxKQgerRJGY+Irk8yKuFYVyKKNV9IKWuNWcDHjhsFs9YPl6Z0
            WEmlo4ccxtdDr0K2czd2mFvirzTfZP+4V115fQMGJTPQhie/HkqnGIqkUo3p
            liBLi37FdkIlM+Sv1HcF/ps4FHehTpbcBE1nh0rwTGPPIFbiz0W4n524E7xW
            wF0Dq9Srq1vSYfif2ZRylv4TQBz6I3NDjvcY8ZfxJKgxT3IpyeSU5HyP53Si
            uzO9O+gYQV/plSVc/cc6vn5eQyXbU7l/XDcmJNz4aVW/zzVJdlkl/NhOP1rb
            yfhmYRyKxZScf6algwguTAZNGxlyKnej61+ujxZDM/CQcVw/x8oxFmFW3wfv
            SY2eScRgteMw6Z7wPXzf5yqKEKhCmUSZPdtrbLhYbxpQPSm0sgi5ZelQ0mf8
            AVvXLKymJW9XVcupYJAC3tsFcS+8bK+v4cBBZ0wsj9eNC7GPF7CzJXiWK/76
            WyK60hLo2Z9/a/a3nXT550tBGzB/2k4ukkIuh2EzH1twHVXuAhrk/EGv2qli
            PG2rwFWHGsLQcmMWZeY8wyzcEHuq28JrKZ5hFK2wLZU8T9K0xEHtP4KKMZza
            6Djqf/27lzdNjy0EKpKeK3/hrb0aBAMz6pQFtFS6ZzuDkTnqYh57uAZL5GyS
            2ooGn8OC3kDIrv7CmgyStNJto7aOXJlEIH3SF1R7NzSREFmnDtpt/YX86IIl
            Fua75/CazZeZysrM1NUpn1kGIekQ9rGDrkfuMUKNMgDc43rwrp9GBwT1FZyG
            kgGh6oqJFqWtHhthPauVkXYSd+QVs6c5RE4VMX+hvw4e4/cjUe0FEZOTitmw
            uoo+U/PRxeXapFKAGOuu25si+qt0tHOwEULtuRLveToc5vdUg/jGm61IY5iT
            chupsLcXoy6RavySNABN5y5EyKBipCmGCINxDNbIYVxKejNVX03YihX7MEil
            4ywViNGzIQelWBfSC7sodELQwuqrsMJB0ZuZEq+4Ys1ZdsBs+QuMB4bUpOyZ
            MJhIZdz9dNxR+SIQNvN7iVvO/NyxDKrj+coc9yrALihm+a5lPHclill/FXk1
            YflOKFxErDRgPAat6fMmoUBU/5Bmfm+muLIFB2uKLeu9U0wzjeo83wop7puT
            4Z1mNs/25EPstibcsU94aXdE2xXTw7RCg6i2IicFe71QJnWDycTwioHpmJj3
            spg8hZ3BFc/mDQ9cjTAxsCW06Uh8WmLhs0cHxZg84cOx5i76j7TRg6x8XORt
            G8QsFlkv92KywK0cSEyPdChyojQF5WHE7SzWKXIZGbo4vS6pYPhkFJO6BjbG
            tPMJrMzzlQKg1EeMS2TIfnKX8jyDckN5H8ua42fA7ydYjPIeVNRw3O6dtAP9
            /ifvn/3+zBNhYpE4NRbkXz7ndJF4V+GCXOQUnAu9P+tLPH1BbjL6B2m60DOi
            jHZ7/p5jq3BWhVnTQhf1DemcG4nRQmghG7vYGefSA/KR4022blIDIGRAApPJ
            8k35JuQfbPRCbRYXcruFKs123UyqzRvGkXXvqiB6vuN0tEOXlbKxnsGw6zOz
            2FO+3TEbbBKw3nSFCJ/hFkZ9VQXQrWoC7HzYYoSqSCHSEtdnJ98tLD8Ihl1P
            Hg7WxkYMvyqzfxWjcOvjrThZJ0FNpvF/9fybnj9i4ZOPVGP+SRUiDvFZk1WH
            W7nD3mmXd2iKbzDXsBxuL8K9XaGc3Gl15fNcLoA8t18l5o6RX34HQy3BZuRd
            tOq6wum1DcPT179x5lktsvlOd+pmRHfjW7l5InEekgo4WZlklEVvPKhSO8vg
            /5IadH7vLtdTpLAysx6UyKYBFjRkfU3PhLX8eCQgPG5ykQ3xC/0O1rvKrRku
            YMp7WinsYsKBm/Lvci+BgqCCLSpAkWgcD7Oh28Hy7+gVNzdZFewgdjjIt2X5
            1ESLsw5vRFAwpnTT+hffKwI+zIazK48pJHm7TxaqQxgGXUcnIQseE4OHtwnX
            XsCsgipri5kUPJcpuv/i3FrUzFXIM6bDLCGWGdlha7HXSSleR10vk5KHVWsa
            JdS+cWHCltrZpLbqNUA2V/dYuWY+C5L0Yc3QbsnAG9D3oL8ZqUAXMClwDadN
            eRBlYX1oUe6ECtuqwhoDXRX6NYdFLYwm2lH4LxiSDf5dc2fSg67W6dVv02KN
            BXyC6mqCMlNOaIVmURYVV7NnxYlZhdFADTwtQ5IhZIIS/04zovR541OBhSzk
            plns3jsNNLuTnGlDQpzqchUyYU9j7oVVATfdYXbP49c9wZ1LUlljKvaOVuwc
            zY2w3zsTGXqC8+Ky8uU8h/BbUiCPazBjp7g7Uu5SfFf6kDDmojJxO6sM/VhI
            Zt5bhUd7U41IcozLyfBLKhZrKj4oTHCRy1JZwEpc6Karxf5cQvjkuh1001Th
            1C1rwkBrAvviJuS4DJBznyj/AdWy4WLQa3nkv4XWSs5N5UpVcVRa2SnJneh0
            GUNul934o7gXa7sZ4vqZkL2V0F24e3aPSTqZ70q1Zxf2Lvu8iETGop5nW1LL
            KqD2JxlH5op7hjk1QX3v/t2z+MP68f3cGeisJvvx/X4B1/U97++e1hGen9/j
            8cmgt+NqdpAkJnWvvkMw0Z7TrVL6K/N+v8v2ZdQXBscTwTecDiSzPj1S0FoR
            TE71CMJoBnBf/O+wjJsh33hEoVRrEeXnV0eeOT2QDOGXv6uxb+jjFmX2+x92
            /lx2fmE/ScH22N/LY0SQffwgOoMfWlb5x0bL+m3BJgHYvWEK9bhh6wdakzFI
            UpCZU38NR6OJwW2aCHlSq8MzSmNVNSOTs8uTRZXmwMK2GcWhaU7zKVOMzmwe
            /bd88LJnE8i+LC04DI6msM+lBGQ8swh8IoGlYAuCVSpHyop7h3lJxw+gixSF
            XnzXDxgut+m3pt++3nsp9xfvzGItg/ix5xq8Tnqs9dzoVmhcz6Q8XpVodft7
            xWYckwCm7PkW7Rw5PvwcNX22bHomqU+yMoLek0VjnvrNoJh/4vjgZ4ltsMDF
            dS9B+jB1hGrLfnfobKN9VanDUrocpI+9s7SG9DkzHShdV2EpZo63taApis43
            sRQ+iNA6VzTjfLD1DAcQiQTU2HmGJrpQnyhzaEoREofsqRq88qloPf2dQs7F
            YJieeXjbBkldy0lyXIZX6lpQ4CHE47XvR7RGohpHC6QqkIsponwRdDKTqvp4
            BtFhYPvRoqR/hAi4Dbv9KUIMZLimHbt/CNGRqf33QZcMzpvgdN7BL3qgO69n
            bUU8b9XKio3N+oUJUOi0Tx6XfCxZvT1SVxR7xL5VHPNhvJKWoQXQ3yrsmjcG
            lfuqTtvp905NSQbFVzymSBg0Y9/GtmFo3N7r5Tm+FJMzWTBKWiIrBkO0covH
            XErn4UHp3oYXXxVaVaZoE0yWVsE2/qN3+Dv+/vKwNhgdTwzI/qeXV8tEbB/C
            3133TTDwk0LS/WfPQ6diJFCXlRy4uSoogSveLaoFdSSygoGmD6sOb9uztCx5
            bFR/uST91VNOQSjRJiXbPHJ3diWNBbV5XDsbgI+3hGqbB2E5DKXBLqq4BAKj
            W+ewezXMQlG2pEMVUhR2d9HXEK7OFFnXn0u1LMD7+OrItmyX0oPLuRp0EJl+
            HIOKzeia4QaJ+u3nhPZWxrO6xt65O2qMlBvMs4ChiR4PZZEwAe40FSyCnLdK
            l5mGM1qSwFGtgw0T3ptpRsNTSJpnDbbgmQPmLSX8NANXrH0ZRCGbiVyiWX2r
            3G347KoBUDomXelSiTp9KHbO9HOY8EGNo1prW1576ni147j3qe8OmyONR7Wm
            zRLnyRq5axlYbva34u0y6C/rAaLDYArJ3RiX6cIZJIoyPstl57KRCc7N+9rM
            ArIguTyJS8UszMBlCWrJxXNLiXZs+TH61awsk8u3v9P5xAjrO4ZKFDeydKt2
            +EnM6f47MZNo2RFKRNtZeGCbtQ9P/OPGYX0krH11YDBIJBbPrvRFkLBFZuJ6
            molS5K9WPc33Lhkwng4h4P5BtcJM8IfXi42ejEP0bikc1BfodPTjhxaaYZrY
            Jv/O/JgCUVAIRBn6kb59xYYdRYXuZVd/41Ds07THRarXuEC8hdboKFB31D1o
            3vwEF7GuzyyXNI95n17kFJTKYp24DFhkZv/s/klgYUwecZg+jXfpzzBYbqho
            DlBSlSRv4+bGpS5HqHPigFc6rqTlu2lniifnODTDuPwWD1tho+1s2rwrim05
            wo6dty71Ennmr8zEWl1xdQW2eEXiLwXX0s9KCQYp7fkx2NbJIFZ8EI899Ae1
            +kJZQdA/L1Qefy4UcY3+tlDfLJbynEUw8oX4xP/YKb+et1l2vN7qu58sm2U1
            m+1CbzBXh7lH7tOAO74V09Wd0LpB9tj9MOZZGHr43C/5/YYrpbgf65dEKHPn
            BX3uq77iRN8swhef7r5hKrXwG4nuzaeAkgLsX51HmOnf4/u+z92/7tP/+T51
            2H3eOETmfYwErJf4Y1ntdNcePgElmUK3zH+UiaxJ9PcjzMnoaF7pTZ0kTuDl
            WXLJqvqJU04H2mT0lhiJye9LIMob1i0IAUymnMl9T8x92axqKC/JFM9J6BnF
            bNiltbGLPEH5BzP2pcQNzLt7MMnEOjsPONSCFvr0qClBtdw/Bctgzg2Zwzjb
            AGciEIcn1JGJ43f7HdjQ5BebfHYX3QSSxp+TP6wJw1sBIIQ8EDDEyPy2tFiC
            QzS4Q3aQocTRR6fOS3FS7NAenRYsMkQajP+2HDzL/mRO7HZjbeSZw9sOj9M6
            rZ6ugKthAMvizxWNBBr9tKaV79JCaJXrJNti0ZjQz69SvsSEYgWPwEZAzPSq
            QhbinvP+2Nj2XbrCG6J3HEO21x1zGRKLSima2KWCl3NQREtzlwNyurL105Qz
            VzS9OsRos1I7I7paTOt+YQlv+fAvC9Ban3Lt6F7opGvlklJ3F8djqtbkvXOR
            TAHLCvWFwxyf+1qGLkko/jts8wxnDKtiiIH3WgKFt9+U5YGtK+dXluakTHez
            jbFUNW1prCbwigXW1MqDDKPz+jyf3H2ZA/gQMBCuZR43CEU+kGaYJ73kF35p
            ECKHOJrY2Iwt3Jb35u0gbBK1IMF3SiMy2qHj276+32Yzxn7EWlUDQ8WmuWJm
            qKr62z4fRtZIKtuQ17jQXHnNNOs6txyw66Jd7plPlUXd+B1udSQwb7Mm4SyD
            3aWJd38vGO+XtOlKOia8TCJYjs7TIrUEehn2OWTPM1qclA5Qh3m18/YFGDex
            xHdsFgXd5Gp1RxSBvY5LnOb4Db33cgsXQ4aBkY9NKNS3sJDvwmERs3qZMuXB
            yoICTWb6P4vXRQWviWJTHXDmJwwWDZhiWbYXMdEVeMXf98jzz3tkmOcGuP4E
            IwGFPc03ywWkArOYCLjMEZENte2lVL4AZelDoC5FIpmNwhmnnH53BqNEQaCS
            1LSz7VC2YyQb2oShPmJqIcpGt9T+LW2di0cxEXo5vZ3T7ffk7ntNJD6D54rK
            CVKerbXUdvhEZZhbSgcTslcN/Z38dDkqbFRD3Tls9xKPqh6WCcExct/5NVUQ
            stMSfX74OMpPH4cIuqqD4+Ymmpd8mDlGbqJriyVACKuZy8B1zGpgPb6vC/1z
            3csFGgsq7lcxLPf2H9jvVzF0BfBJ1vS39o+HMG0SEOr/+LqJA4htt+hvmYJF
            Kcqx9rqXnS69nRbbmbGdF1ub3dhSb04Ky2Kslbwm5ydb/UnN4/mTmjF5d9w6
            AM3YYHAN7yKT02y4BwYhnKg2V5vFIrSbm+3JHfHnzt1stB2OI/0XmD5iJJA7
            9ONn0GcrsX38ZP2M8fXuXR6xI6X/XBaVVc5CkzK6ZqluhVi9s/taejaYjML4
            GX0x2RPqlyfDc1zdRJrG/DPC7F5R6DBGAsrmspINMP4SV7XQArGWuXtPQQtc
            Fks3RxHLIpNV+iWX2+u9DgMVngZert72cuyt8f1yPT+rfStZrAfeXjgMTOcQ
            toA0i+c/p7UgiB674wuqmnFPKpFRH9chgqUk7XsryDjEcsvxJZMTBEq5Nht1
            L2H48hKSGySF+P5g80KOLFfY7L4fP7mf3OtexckokrJznEOWw7jdPldi8Ysj
            SdHMz6swssfIxovult6ncpI1nuvljEFoanf3nFJw7gnjlt5KWv9RzxWgmZvq
            IGyC0SUrTgWr5Si0CF25V091nAzPBwhfEzqmbP28frFGYT6cjgc5rQZns2f2
            N9vfMady/zZrVDtebXmbKT6phoHx2Ymv0uOyE6zyGh+lDqOUfF3s8usR68w0
            qVc5SqYcbU6w3OY/2Pe2Ww2PsELiT827cGeSmX09i+gKfFY4P8/qzpVmqqdC
            ivNL3rcrM0UqGzZlETqDI8mqp7uLi++IOwgx7Mj7YM3vYRgbcgAq2XhtlL7r
            EVt2Du5sPr1ISJZjcbkYyLtfxcXzm+UwlWXN497ql+vZv60Yw/4jSJKaXBAp
            T7WQnnHscvdmU+i9gJsqmRyT2AWKsBgZw8nCTbx3jVC3dIYUoZWLgqFTqKSV
            2NIxb7f0oBwnMLdg4y01IPyhL6hH+ZdeAHs/KBPox/0q9LtB2f19PxwLxJUu
            5IIC5eHuMqX4XMwl/CjFKVgKphq/J2v8/k3E27Re9m70ToqYVSyRiQprZnV0
            szp+mdUslPtkMYxzx8K1sZZE0b39GkrWGfJrPJswgjmt8lauG0xr54IE4LqV
            4xgvorwGbU43Cq9bzlrPyjyVlandubNzNlFY8ZrV6VgxhWqvPjkrzFryuiIs
            fCAUBdl4JUcogiAqs3kbbOkIigVA1mBGCrHf9am/EzuZ7tkyQu+GrTE81FuV
            ABmvSKxwJQ/S3ncs48ehmYJKMmGBHko8sEYfPp4EDmKVjT/HMLKNgdjpo3gN
            FW0EoQk2q6UicXUt/AdFiOaJUBOy9iFxWMqp+lZG4mEwQVVnxjarDC+rLVFd
            hhCB6mHJ0kyP0HHeMzEKWHD9BmclAr8htbMZnicqMfc4v2gRqTtyDz4vHXdu
            Wy8SsT2nu0LKStR+LOcC910EVQbZzaSFSrB99Qmojfiv86iPmiTbhbktIloq
            8EDkLcM5JubkUBEZyzyDBS+Yl0c8PuVxrNa8hDIx/dBhhqoda97mupXd5hrr
            69/xPxjSNXAcN7FBmCmDJyy1AmjcZakfkudqvF6IBMgSL4e4D4aaIHs/EnQV
            lk4e0eISyeAkgvWQOhwOUscjnclqvSC8rbs68Vorgqwe7jW9fd3V7KRvqCfW
            AAdbBCtUEhwjdy6d2E39L24VJlW2ICj3zn4/tB13zfN7btKm48uo4KjUbT3t
            UuCvEDnzFKf5bXTxQUr2jXBfoURxYm6oM7lfQFubtbgC9iSruD47GKbNUv4t
            RWD0GuPLFp6Aajlb/yfB0xM1oCjRXNglZ3B3LUs4b0XJbmGNLEX6fvaJcvhE
            uZVhAK5Yh5Dch+ocFHPA/jwUY1hGOHF+AE13FlrwzDLarcM15K1Fy5z8imAq
            jx0EtQjW+uUYS0RlOvqkZBaXSBeX27gRyJkExUwO6k5sl6BcyxcQhrHUdJzW
            lbnfXvvGlsQkhOmYIVIYwVdOw6ruNfnzTuN4965xJvTy17n4R73h9QTWD9C5
            AsY7qWVXVG6TkEVTltnsaQcsiLmjRQrrYe0jiVHnf4wGregxg2WJ+DtevWMJ
            w/8+3f4MjrUVfmF57QCG0suF4eXxcD/veazelgn7Oi/bOHY56HBU8+IvWzaU
            oyeVjuXjjkrsaMvrpjc4Wzc0pLScuyyiKVmXFK8zliu27UYnJwjgZJc5sv0u
            DXyxuHfXp7wWxlSoXMiC5TaL6XkckYHIpYyHdpl6z5tVfBqxyusYZO+/ptw/
            Eaq7z9U95uRGknWFTWeFTod9WhidDib+7SYo6J2fNAy0huKLuQpEo4kskYvy
            0maPEVQWpR7YNgbPTxfpkTYgtmnKG0XIoIAjWRFf7g4MALTkDyXitcpyX+wS
            sM997sXMHf+7Ekiq1SYTu1ztodnl92vABnGv4AU7B8tC+cML55hdhFCE/Fvt
            dvnHvkZT3rajfpls/NWGizG6pR7tyOc3R3LoLnGyXKBUVueO5hBi0FdewmyV
            wQ97Yagf9XIuOC0huIXtLn/Y/WZ+c8Qp9AU1nb3+8CN4b4oasCobCzwJgkP+
            i8Io5WPwzWTt9at5rpAi+gdNeCd3yh1jQOm6h633YzCNVS9ri8/JD/QjbwXr
            kDwhrmPakMEETJEm2rfp+NCP9QOMPGzEIOb1s050KPhC+VtJyUkRPTE6aKXE
            8/1i99gB6nRH32MQjMua/EzjVIYq28lh398iUBhrAvnVudROF/OJVfCpms4I
            mRyWAOMSmEn7YJ/9CLIU06j3AhAHaHo260zqRy9dYhGbjQmbhjnKAv5hYrC9
            aLw7HqK+bd3mLl4/526wT6a70atyBsTiva/V5xjhMX6H0jk2xV2iIQ9IxMgD
            myxbiHlbmCPyuAAeBmUOBg+ssiakI5ZtEQ6LQf2N2l0TG38ZkImacoROX1oX
            SLewMcKT5S/o6yvx2l+c9nZV+7qbzQmUqrT7Mcxb/bv/dKwEUbg1AsEzE4FQ
            HZ9bbNWiYJ1pzErJmrWL/f7SCcg+6fClTJxuD+94+vZIbg/medvxnXC5xd0u
            ot2Qj1vcxGViaoshLoylXFUiAWgh2RxtczZIhc78QxiOY14fbsSa+G/uN67n
            5XSTnGER2lrJMN/BNIPkIAig7/rNoXldavRhfeZ1Uo/aCA/EU2Xuh5CBLuVr
            Elz203Gmv2F/DNSq7GpW4y9W88hcAQNle2zJM7HUwPw9k3MG/ouF8MkYZWe3
            uPzJRpF7sMxCiuWn/Enp+4XkF0/H2/uwqzghEqHhfLVtaN5gGNTFJJ5K2eIl
            C5JRldwSRdKCu+Sy/s5YhyAnJPuL3Kk3Kbg5vngwrZpZ9BxPcbH0VIIlEEID
            CwcOImeU2gr+fL/l6IfpF0gOE28bgzxXdVTiThO0d8tP78wvYL8I5tMvIhNl
            zQW1u944C6cQm0ZleSHfvURDFWYqo8nzg/M4OK+asW6cJDHeAI5tsB2CtFLw
            TSb/rXPmhKronOU2o7AWNf5yNlPOz24Eb3p905y84rL29wQWTwvb14LF3I4i
            TyD47oGeRU2CVfeFOPTeGmhHw/ZCB8sTJLEYRuhhHWaSB382ZgMJlUVY+ck3
            q3gVJyD7T2oVeO6q7S9iYbj4ZlzenTZqJrKVvroTLwzNUIUbO6ClfMXurY9P
            axEsEXla1u5bJEkX9u2m6OYUlQ0yfhFziVZFRWIOWvygjXDuTOv+imF2zf2R
            J8ns4Oiow/FjnhrK7wsSxNCVp8RL/IgQDhIIAT0oKoiMeNzmIK5VQQhWRly0
            HWHfQwIypRQyfme2EDkvxDrZlvgvixRAWXTQyMOXeXO3RamwsGL7MjER4s+/
            KQ21mj8BhJaoSG0xQqgVplvt35Habvz8nvmng8aSJZzt/xIH24oI3jF2Wztb
            POz8/Te65tZPcZPqBYxzsbCtp23d7KzfLY42UvBGLibrZaCr78p3xg1Y0kG2
            Z3hp/XfzVOVDgAjHMD0Gu3eGE7+7/65GlKM5R24fn8pOpBU0V7be22zhdHwn
            r4CYpiWO1eaNv/5Q2pjXKh87Facp5Siw7UJnoccsWa16a6S+r4TMyaaVnr3i
            mjUzapU40n3nQA0f3XtdyITKBth+Vlqy8cX/lKkWHX7q9oCQg3T4i6lNYZu7
            pc9nN4rItsIEToBzzL+Qk+kVJMYGckmmKGVBCEhhcmgBpsYQDOSgR+pRF9rT
            dSQatt1bAi8VqYbqutKk1zR5Otkwoq+U8ZnmY3rZdaEbWCB+duxbrrtjSig6
            1TGJvo9J6aPyB01FEJeWMv76NKoXxNEpp14hTKGPKk2juREJiEenVWcFSNjq
            YD/VoTkm82BFuWctWzgaIDiVNhXK0ZZ2COtUNtYpLaPT0q3ozoUUjYKTt0RS
            wsmkMnwQUA8hGhgBPL7b85VG1pEJzPAqUgR1J/BH6x+zrnXDUiXZ4G+RmcUl
            ujeP4iTyb2VJPJl3ThkyDC7jfHo6b8K8h6L3qYfdE1vOTK9AUIRF7+MLow2m
            h+9RptUQQnK2YzQ66YD2svT4sm5m54JCnsd9Atat3nYoPY7JPY79GYymHwY2
            dYxKbJQMVu0g8wvf18f96+0Fjx1RJCQX8Q9SdxArbTYCVnG+mWFQieaG+WYu
            Ante1rWbiAZvInq7OjgIv/3dUZSeqG7F/ayMxI6qlwI1dJ8mA3LDsZJlOvWx
            B4p9OwtTlk/tpmOjzW+nBXV8sjtOwMW8YxZPXvcL/7zZ9Ganm42/bNsTWTfb
            3Wx8s/+txe98h+0Jez1jjgN6Lvv9Jswy/H0tJm3puPVb4HPf6+cGkiPAw3Dn
            1RYHy+9fj+2pM2tjiyPzxH2cZNtp9vj4MvtHWQqRxrHFzh0tMPf0oJjMhuLZ
            TjW5tdeXPnAqaUWbQA6xIADh2IdXcwv0pSpXwSKP3TBM6yRAcamCmmE6s/ut
            sTnudPz0W6fDghbRz1/nM7bvOqkN4Md3zXO35rmjaM1q9hQpLJD7zTvjvH06
            CLWNnc0K0cI2CN4Jh8FmQUp/laPnZlbLmWQmGQwlu9Clt4NPhbmZ2ae5Xp7Y
            Og0nXUmk0yqcKPbEnsdz8zuPW4TUciXKI3HYzWLBpYkd38aJ+/MZeC1WGAay
            ZiISM8qCbWMxF6Z4RUp0vFMMhgcRvVstFORLvhELFQ2DPcM9ybzZuYPF05AP
            FMkMWWMnp33tYK9J/35Ur/1gZjXEHZXZOxi68g6MRVaCMuiI9SjxA0mUrY6g
            njMfPyZXHWOEKOM+gPYXZ4rDBVkWDexMtTK0Y1AmQ24Mx7a8FRtFDPOjl2TT
            kmITSIfo+G66WS85naS9h43NdFrGDy2IdLmiczSFiG+2mPBkFF67mANVuRkV
            Y1e1LkUQ1i1Z66RPLQA1ag8CPR4veINbyeWotO8f+KAfuSvtnG1TPWmWYW6O
            KbDjgukVIZ5vjw3sr59s+D9wXhjS9WZ7ROvzvBu11Vo25/WeYuS8Krj1dyL8
            J6F6+bMpk+iFwbGGBM0CSIvvnC+rKaysNmXTJv5hmT9bIKdsifsNPN+3ovHB
            CFULQvfxbza32dRvn/8LDOFscCc9HM4OtziY3l7p1a5dPOxS539i3y9b3ezU
            tfffbHS4mNjsnBgQ5GE0Myn7qR1EL72in75Qe1HwRzmLxzfhvzn5qgJS7To0
            81smdiaLjo5s0r3VBvFvrrcB+kHX2eGp8vRJMUEmW3aw48bLQUantOFU3Ndb
            syBT9TBnHVuKJK9Ucl1BkIHidIM5IXQ1d3BTgd5js1gJ27YIrjE55sLqYAUv
            9OKhBN4ARHEqEYNsh6YZbPTV2GmCbJ86bcbAoNok4R2eSsX2AdN3XznBxSZX
            u4WwzNd9vN+zcR3pDsswu0Q+2VzUao7C1LFbLuXDuwGNKtgXSyUTdBepOtjf
            s1VGBUMI+TLDHP6FMDRUEZW7AYLnZ6Thc980hP84//Hzn2wgII+f/xakHCog
            UYDmZNG+dzva+QDqboQxYmYZ7v4j20r1FVmFN7eird3hrbtxtmeZ61hp6lgT
            yGCY8ncTV/Y6B27G00vLdxHLztEsXroOE/eyiqL1EPbvEya6hwVGviFUWbFC
            QjAEOfqWpQT6sYPwNsNb7x6ek07fIwMmQu4l26SnzymWx3tkR1mvujnUCOb+
            ctz05g4QadKYK1hn0kWYLQN5f00opLwPY/fGgj1YhWsdtmwxMXOnmCsb98wG
            45g8MfX0ZFBMbLJ2SJckHq/Fos/y5RSi/+G2TB3V54nzmcgal43lCc81zmxO
            p3FpXtS2mOUc20OpEbkvg8Gkoh1o5ffFMeHt9+vIOtn6gxnQpxOhO6VISHN5
            sCdI+QPHfmsnk0QWzzmpPcGyw3u2ix5D+x7GA8moTKyTv4e7hqTR4Y/XztqV
            I6Y8N3FTnv7pe7X7Le/zeJOrPp9FjZYvqInrymmjH+B+y5iCakar3/9sX3GB
            NmwhmeukXYEJHst0AhY1re9G1l1w8uQs8THsW+hon4lln+kUBcRf6fIS7JoR
            gSb63gtVLB1+O5uYX0+gL96LukdR1X85PbPo4Jgo7ckBbTcP9T4TTonf57zU
            lHsRaIp9raETWAM8Kn7ceGTvnMezaper2vi2YhNtlG5j2NwF9xNSc0mfuaJy
            R+g3Q6z1MPJlLuw9B9Itvt5ZibiM0CaLUXCNjqdYvgALk4/js3jH9YhthfaT
            2nL6k9pC/VAba9v2956f85vamDH8TWDDSs9uOlb+DaGBgy7txPzdmM2dRRZG
            tSLOS2DHa4NnqunabTv2OF3JbEZQytGnn+OTTxBkby+JnfHa38sbonvW0G71
            8RJSuqR4Ht25iwVxpJxF79Yr72d0RYw79HR/gB8jTlGsKlixwFy2MV+3l74/
            v8bcP2NmoCxaqpw13fV7EpyMYu5RZ6eUPN1OfzuHgZI+pgs0A4v2i6kIwgyZ
            Dlaohi8OYqi/5ceraIgQ+Kva9Xc9wbbnX9AEL1TtDq+y7XkuFGMQnWirSeVd
            wRuBj0BuTdHUXX52tVWOm92H3VneCZjdhne3eC2QIQoJ/BS77fomuNg/BKf3
            zV6HuJMzPdAUvsK1aea1u9rr2bj/NNS3xChp9eRY3qeGdms3J8n5Z593MU29
            W+1Dj0IPH1vsMM9yc03lB1gbsGM1cJQC8zhYM3R6Z1n59QJUcqOB5YcbF1Hs
            REtM5frrb9UKVizvg0ZrYlyBRuFILXpBUBLbEpVhmzL6/XDH38xo0eBDKnzo
            aenPxLbr6oKtrr0EcdRkanEGWBHTpZk+3az+nnCdhzKoMDohIvFQ4TVjI02K
            ZY4XdVL3u5fD5jYvMUvWpkqatMPoDs+nzwYJF97+JMFkOtPBD5ik5AxvxXE6
            DC6wG71Sw99WSz4M+UN1HAoh22dzxvliz79QoYcCmayKp7gLubiWrHIgDawx
            oJyc37PasA7LRQuOoUyKS8tr+dlC5PrKgY+fHPjxlxz4NCz3Xdk6gcU61E4t
            G/hi8IXuRWOdlVmkzLSt87n0PQvrb/I7nSxQJDrHRhuXNjOpkr/pHawWvLHf
            t//u/vvy35nhWSsqycUwCQjZGtlWif1X2fAmqvo4adfdV4r39S5UorJTKePU
            vYKZu/HubXDeysHQMGVflyuKqOT7OsjH+8c10DSI7AhpLv8Dc/4L1oQ75MT/
            B6NVZg9YGH2q9dwdE6AUgpePiHnnsYrPpM+GUReqTwVETex5ezC12ob1TdIW
            vM1hu96BHacNTNt+fKdjYYHuuE52iLVOemCrydCiksA4CE/MKg62F34MY4bg
            /FZmYVCm9nmpEFCUO8zNagVgmcVCEdbGuT5ANPKeEIuYGQbN4Uq7Cbe/eVOO
            6LBiv0Jy20ivSUjUWJ0NgOidxUIJm2EySApWc5V1GnOOBbzBcdGJChQJQpO+
            aoMG0a7IxI+129zc1CacWZ4G1iKMVKVyss6GxlMHsxs/r6O6uqsLWC1IdY7n
            RhNo6dgZD9ncXrRm2j/BPbiDWljpTHcecnuYWiIsqWDAIdLRVInwBV7mUvBT
            dypJJnTlTGGpVjKQgiy+YIXa8IIjMED6lLIzSXWl3hji8auU4jZG9y3p8pdq
            te9F98Zw44732Hmou1KgZWN0bPooDEQyuZCkEkCaKcdBsQ6Y+lbWF58Jaajc
            h3F5c111gHK8IxXxQiNwDEN2oErM6Rx2r9HyYvSTqXzKRWnv8edkA1wcb/ZZ
            JtgTAx8rqJN0ZH46XuZJUy21b2IJnodD7oCxDMv5pGbYzvNhDqAl/2brmkXI
            KnYWlvkuOF+JfnUoV5vQQ36cp8989fnqglwMl0Byt3eKC35iC88NNbRdFsKs
            KhS/9Ili/DWxV71FiB95uAmYzKDoW5WvdsFfHbXfpopzHzvepozb+bq8rUtM
            RNe19arekLI8nq7gakXZuTj777t0Q8QsVFPQcatSD1g13qLD7gT93t/DLhtk
            g8Ldktudht7G1NP0g0kIVo/9WW9pk1OXp79VLSytHDUJZPOgOJlh5qkIFDc8
            RiyDZLkPjMTq2E3MhG4F0md/JyIPz11hl8LT24NHpdOrf+9KDta56IT7tDE3
            n1M0B1ui71MQhYntUoeXVRBwO1rd5yc7zp+brFWE8kvWp+9OyG+n5c8CeutY
            U+TzT5ThwxJ7INbyV3uGf0BbKdHc+PPWjeab0TxAWUxuhdTj365bXQESUT+I
            z8JgEiGLrdNTr4smQnERSzT/W4jolQ1CCEZw0xKguCzabdi62bItYGRT+YSF
            w1xO9gFUASz1Sim/ikUMmtrLAWO5hkoTSHTQk2NgwtTj7RhSD7gTr8lkF+yy
            UiszqCQPltVJJNv12rFg4jeJisjoya8t8xHa+iCBqMC26W+mM8JCL9jksQ2Y
            isOOs+Mg5AyRgDcyjluYj2PZBp9HVoBLbcEkE7y8ngaoQi+uyuWgD7NzpXOO
            pPqQYMQDMlxz9+klSJjDHQVX84p/DjzESGD2xxDbj3nxJabq0+/oAhOTcrGy
            +uaC8eWThOC1A3Uc+PdEE455lSDzH/KDpaIlMjIahR0xNlz+k/NtjVLGZe25
            DGFd8LlsExEM0CN82mudXsnN8qyPcA+Wfa0edYeP73EfxWNlcb8zudkMZYY8
            2BD4XHLmPUyZxzFmOxCffpAz8ZPtxfipFqhficDnTeAF1ij7u4PlQlwNpTWw
            hRpjb6e+hzAae/6OtMzXwrkYxfVzcAiIK5awdXPSSecMLNyl5jS7mrjbNaao
            kHhC+j2W42ssliI42PBb0ZRkQGBcP4pY5riDfbZpBT/t7JMB2GfLms4XU+FJ
            Uj+4tOUPdMjwAcX61bUabIiTf7NB8VDLi8udbMGBQ7qymIctGs89rp/s+4ch
            xLI2gp4ndbVUY0SM48LLskUScYiPaTiOpyccV5wblQHNPmydLTXaOYZ5YYXd
            y1JCQp2wWxp7SoWuCqlwXfSEks2QgfadZMuA+WmeT/WflMudkeX4mvmK3mPh
            wEwkh9+k5z3Z5qv5GnexcYf7OZmHW3fYQK3Tx7HrRmmE7fGzDMJhuY/9fiHI
            0yz0JhgTUGUYRLpoFJ1c3DNam3i1dvWNe68Xn+vIC0TdvQcatJSi2BHxYPfO
            YrbwzCdvGNjDLenCmKv1WCAry+zNhO84J++HLOZJuhHyjWGe1NSl9U93Sego
            DORv5QU6UfJ25emypCJPVeu799zoBFh9S/7VW3dNAyHp2+oiwPWGGgiykPuL
            AzGv8f6NntNoLvX9ezbzRvM9YCHO9u159vqLfqheuM0Hhjk7V3GDlJRITQ+J
            HroCPsvmWGyt2nZDxIHFiB9ThVllCrkPVX1dqqwLNMcrOI9hRPFvLCbKh3UN
            3eUBjfBIBomoxhleE9tOaOdn87+JuAYzSjAgmEX5zaWt1HvoVb7dFSHocxas
            EgN3D2rScfXQy2dt1Bq2CQNAy6OrBLdV1JU4jmqn3RQoui7BAL7s/Rhm64y1
            sZbtujstc96tn019T0/OYaNOsz7psmO+oS9ktxR4gtkz4agwqeZgBoW8jEaI
            9+MLYsRMey3SM+0EMC2kPYkFQbR2ZXORiKi4Zylu2rXyEYxm5X633SdYQhLm
            CKxstkE0b+z+odK8FuUsixUsVyKlBX2yHohmFYy1U558qHxfyimLdvYzqdFz
            Fz/9g0YzK/1On81COAGXmMsU1EJuyWDneKO525N7eMUZ7lOy3fO00MEJNYgh
            /THAuwkTzKZuMNKbleJPEAP9LJeFiYd1KYr3bhlqO5msNioR15N16EigU3Iv
            BmTQcIXnlcWbGLo7x+51OjGsa7fQISIr4YePJjb5kFXnA5uFbnrtXqbStcUk
            NtZdEjk9cyk6G6IoyGYiIILd0ovKjGuDKVRQTuClzFcNzYBMuWsiOVqX3sPs
            bDO9cIdXd/FuMMuI8xKUztEEqPemYd8fGTYZ4ub2pwZ3qDSdSZkEh16izsEC
            T584rJglUNAmvEragaFDGAT3ujwLm2x0XsdmPzd5YfIWgVntqH4oSIKW8+yp
            4Cghu1qISohkSZUsWdvvhHEMdeK2kqn05Q3lhFSyx3sZZ7gPK5J5vkrVZK6w
            JJXl/iw0YYgvqYD/IVJ+I+rKUJdkoa9IS1Rj4LfLHevFSwimZAa+p2qq3/4A
            wc2ctySRvTcoLub5OuGC7gv5elmFOpU51lVgjqlwwdTDsy4w5275k3HOFjbh
            Eoth7xYotHNaKqw1QN/4QZ2Kkb8EXzT7i3EwiU1giVg2sNjTwCRPljcPaNmE
            2PHyeDYo44Ljb01NHKjEFClX7OJCiNJD4BSQP/OGUE7q4g4yo2xUgeg41f4G
            swGWFkksyzRDEivT6o/rUxPYrX01XdLqR8lw8WY900K/N5Qa9nqQ54nXRMGk
            yhRiEsu1+yPtxd/E0L1/0mbjip0/ecWvHAnLvD8k33JzVLn0leyLd10gnjPL
            zl1c1O14kU4Q1RvySTOo0oqQbbcv1EjP/Zpd0yvST0VUmZv4PjcOey5l5gYD
            pwLKuO/rMWduiEeUlYQTL5JAVJtyVQVsFPH0aQ9I4aRejcykjrs8ztjHDcXL
            wBrdhWfxCDABcuHFDHg3ypmAT1yrL72e2gM1jVSqVpnJDSA+xlAa475sMdZv
            2M5TMbcBo2bSTmQRKHPMC43hqfqlTpgiJg7iDQWIRGH/bDuLGThnP4sVgkP3
            62omjXMnoy/Zrw0es84DxG6SvlsQ0n3wHRI9fVxodxUJMVEbC0fPCludySFw
            yrfNlTzsnikzxMKKPgn/pBgiFjl5s4fzxMwZDt+1FQ3bnoyZrC/PBkFnrU2r
            I0LGxg43EADE0GgBvPDM2GcQLtxikcoqtIs5sItnuQhVThgR9UA7rJT5Nea4
            1YbnZl0GN55JJkWGmcGOcDdTDVW4zv7O4yRVKJCyi5ba0rBoO0IPvFQFKy2m
            sUbO8HdvdsJjTpYHZ+YjL4SojJ4D/L7fniZshHGaDMF7GD/LmNTTpT+o8hnP
            +DJkoT8mPIp9BPLJujMYocnzcUTgs9pvwviq1uwrRv7DCcB0rBy6YfCATwnR
            0hIJcXjVA3bV0rs9f7GrxmtXpY9dJRgaKnn9oxXuRRdsAXhNvD9agyp9rDE6
            MRG8FZm5c4T0eBo40JVcp49UIYU7zp7aYC/8nU3FdANNCy80RmgQe+Jk0N3m
            2CUCZnUbhyHk09Vo+vpIxdyd7GLMY9UwazcSJfbnFdWUj9aWp/TK3bQUCWMG
            RPKuyMpR2835pvFUG2dUWzPmrgW1eouCawtza2Ug8BvvhY00ZQh3ZSZCZfVm
            gtTsTje4o70vCWWSn/q7n9444e3V/TR5+gt9ih2b/j6+PP0PQ9ZuIGHpb3V4
            sB4zqtVTt0JHSyJG7FMHrWVwhpHVGL4tWuGFNTlMjVK3HmuIzglg18LvSYzs
            qpwEx0dV9ZiU7JjMewPnYzJI4XfEXaN1TxS7WQ5HEkgM0nKYeQfDn0hQAuOV
            oSVCghHMzjhCrM6mADC1hSjYEjrnyltV3CptfYxij1ONdvrbYVqUSv5NtHrG
            ti0T/7DGNZea5TwFE3f6xM2yWMo4CdILHo7PQ5M46Gi9iUn+4/xM/WJb3XRz
            LHzHuZVOWWrkyxLmJuuesOXxqezEzoLQzpBLYK4S9frl1rWO73YZkKqa4JfH
            cysT8mlqN4md8BmdeD2fiT2Ysvd7krivd6ssJhGGYOU/1FjIptldQro8HaRP
            vq0IrkKLxXhuNjdl/X+VZGcukz6ZS4XxmqOldu4YymZep3vddh7uaZ/zEWY/
            733b7nrHuSs1PsaqA6VxUWHBFFUE7n4iG/VoNOsWyJrp9vabqkT1e/uLdjkt
            n+/qvq0tqGHKl359U0tg96jzCxdCTHb7GE5rb8iC66/CYPpH7t3JmIz1YqYM
            +QwVUMYSOH0WcYx0jNEH0Yq6MZ/QcJf4A9s0Hl3S8BR2sGlxO0HoDqXfhYD7
            mNwh/IuhcyMBY7+k+7Ii6hcS0sobiJzH7f/6Y5gR4LxNjsdl0cT+o620rIXK
            dA5FzuzTJ6OsS4nGFALqIsa6VXfAnMka7iYD5Oj6lGKSY77Zepq4bJl5VawU
            OQzGKF5CYnvsHkrYCYYlTUW8ejcxCcbo5jEDPsOyyqJiGqxNq0mIdPg+eVUT
            qowp7lCFGE2lOatsuMxscmiXDNAtMeMLW34xqilM293BzOM0fFZayvoi0dOj
            n7ZWQJZp0ETs/qpKPD0nuKAhpCIr6dTNlRoIj7F5ajOop2RbyCAZiBDDz5u9
            yt2w6Lss86epT0rGbr6+u9uAFyVvUjbNnP7Zx+qDNmQNGq/Fbu+TRUjUTaxt
            AbtPuoPJygamfa7DEnDubn+HeCUK9zH8ZslzNu9mrWzpnWGCoOpwyzNJkcdQ
            e1+r3N5V6BfUtiDpTUyF5e7vJfVQOFBs6CJ/++JxEc31AT2nkFA/J4KUMqZv
            UnrJlPVseWoTIViCAtXWzgx2R3MZXWBdCsDxb49Xvq9tVNxmTKxuv6Obq+3K
            X7Y5UcrvD5gGHi4pmm95wJiSqS621DsbTY3e5tZvt2ewPk/3fnjX2b0f3lCO
            Sne/83qvUyVzZNHitbc7FnmVcqvLy5uDeXhk0WD24uyt79K0DfL15gpcytxQ
            TePuCZhdxcNuYhcUJQIfxdBeM93SYIvpbHl71FJ7pIMHCItbURDrr/j6Qg73
            hRS7LxctURB6yh/vZaYlMxrdD1ODFpsu4P2uI8Peqm/5fdiaCHMCAqE/LHhj
            MYezWQ2pCAJESh8cu1t9epv3J1jGLbvtUUA3OvA9ADYtN/MN0LG6i/klF7So
            Rz6r/rapyYcZFnETBPj9mgsTtMizLfmWleKOdHaqHXgwhLPbmnKLJfVDybVY
            mEQUiNV3Y+pOLALTk3d/qLeU/eNMOqxJayODuzbI16573D6F6t62rS1sF/IG
            /fKKBOiN+ct8VonZ4Ixj2VheIogYvgYzRJjL1OK4Cin9hGVVvUGE8HOwA+4E
            LUswYQYmcX66Tx7/r7VrS3IcxmFXsizJlj5lW77/kZYASMfp7ZnaqtmumUqn
            E78lig8Q0JPsiT17iQ0nacG6UBUV7psqMChIkCImf7JKmfS6oz9Zpqn3GPGH
            lMUxytbnb5llyisixBMPF5Gfh78RGS3uLYTGO5IkQHI1z4bBpVTHz9bZjYxm
            kalO7ogWy/apaaOxhSPfuZ/YFgZPBiktSuvYBLXggipyttICeFHQQXvYXT6+
            W9YxGrMDPJZDWcAmtTcwtF/gj4ZJG+UeQOTYd8DQQbQ4FOrAPIvfi37fyPV4
            grHYth/pTragaQjYCsmk/VjO4jtiqaIRFrP+7EvMb+EIYjA5YDa2mzdyBAgK
            czLNCNpWrgEoo8J336LyZI7BDEj5Lol5pGoJ2c7OjwTzBoFwDBqkRQ+RL6JM
            h4cdAAOyciE2uF+1bh3/JpPYinzhJ4sXGT1vMZfXt0hom8wn+dPtE+rlm8+0
            aKWLbF5ryt5tZ/+kdC+XASLcxP6B9iYmg51XETKlj6wHUryLmIOqXOCsO8v2
            EbhCj0RU6CxKPPKqVkJEugt6hqb0E807OyvVTunw2rO39yh+gZ6X9PhbKWi5
            RGZ0yxaYawgc5vagJ9D74YDmhncymV4nWXQHcRQgbSvArmNDZgoO/ESKaYPN
            PfziwDY6bYU/OmCMaN+sduFYrC8OrC7mo215t01jGzPo0Lkv9w/+n4cjuOph
            23o1K9TdfZZCTmd6pQvh+8P+7UydSLlsMaMbWdoGqzyXD7KsbbBGjvUe6Zqf
            /Y3LfKiNncs4drPV7tnXiRjFtnMAcOS4joOQ+FlY2rbQ6SS7C8MvqqZPWyqO
            qkrbqo5prqs3WdGA6GbJOAZnPPi9qNwa2LgE2rv123P802Btzi0Zy4BNgoMZ
            19yRDSrQXquSfo8PPs2nh/ezVU8kzeb9bb6zN76VjRt+M80szzJYCFkAOUfP
            ra2RF7GDkx7jYQNn2lIiUB4Sc/Ayqxo6CmWmbdEeJVTMuUAmLMgWZq0SONi5
            s5tdCzZl4cKVs6FH75MzuBFJudGES2YhpC06kxVkzPyemGYb60ZJz0iY4Ht9
            fdKgTHofaT9W+ZYHIQu7pzMLI8nTV+vC+26OGLE1AWoNNgbJSbQrRd4V08dO
            tFTA0nqFJUf5g4yNS4dn3Ng4eC8UR0YVdamA7IOhvC9nxMpEo+lkzvrUrzY0
            fhznTOLdUWLhuCbA+w+eAuAwSjW5XwSwbrgdw757JPt/YvWzFZaqxXv3MUqK
            ZzwFiNcfDTwfJGHrwEOGQYYSwgOXsND4sGHmqb0eyn3CbVA1cRk3JKcsdl8U
            3Q0Q1gB+gBK+ggQuBOjZQOLE/enO5nTJc/WAT8T5VeSVQV3ZV+qwsQhqv0AJ
            sL3sH/RaCB3osn+4jychvUQWjzKYESPpNZPyZ2El+YQ7RywB0XP9wfzUtVez
            Cj0a4I8peog2KTDHB8SGfLbb2sA7oLkAYjAHr7thGWiqMsv9ryfMEwTEvLue
            /SHHmwOkunDLb8c5fhwHzD8rj4OwGJ3yjWxWbBfpKNA0kNPYgcy/yAPHw7F2
            c7r/H/uGoTcHv+1IUVqgSxgmggQ2YpFR9OY1FQ3uoJ1GELEDR7sA1bTbjN/h
            wjClcfrCwYbvroIyTQz1zDraV8hQxMgzRPxskly7xWzHFIlt/t62rGbrJmm0
            n+/vagZDf5GFoOAKBXRyV8BBF+q4ljgg/b6OSW3++OLVlIWKbzNoIewIBNna
            6oFpzLzKITV488Ulz+Q8HwktuS5rCUVxbFNJiNrRI1I3+bRMEGH7MVzJDy02
            MWDQ4Yd9AlEOkG0DMzBiiPLvMwoDFJOBA3T9TIA50e75cfOSrUX/eKyOjqj3
            IOLDJseXWAPwQLesCYGyGniI4jNYZZbxEldmFlr/90FNgbkrd/Ed/D57GNLv
            K/jF/3kmYhauH6vCWX9ZOP/LTATZO/YNl+W31Gq9PCHlfi8Bm2yBmXmhdEwk
            rAa3O+P1H2c26/hh1p1cdpXobSNk4+eydBG5NrHUcYkrmrkdONZJ8bmbhYns
            +/UUcwY1x/bu+td1Cr9yQD7mtXYXTw1kCBVzXQaLzUqSEwRJDTyXZk6Rr0hR
            Lgr1OtI0jGq/D6jqEvQqlFNN5M0aCRnb1f2BhECYiEFbVZ5E1xG5oyjXLcxX
            KZ0uZ6TbbstNmgQz8WZdUpzP2i7o6W5qk7S4n4SHcP5F77yT6K2nA68VdBLm
            qsMTcyvUspwgJPbiRiLAw2wJFaRIUzNYw9ootn0pCp7qkU2eXb7UYvqo/Hjt
            91rmy6cZSI/oWhZJajL3BLObFy/V2XMYQpH174cpf7h6miSCucMTgQHJCP85
            Bj1c3bqdWrvNyJHgrXmPQgZcjmaBSBmz2XXjRc7LzDv5lweyHqhEoVh8AQU9
            GGEPpJQxCtFtZP/BhHem2BfATRZNQes7IsUAK0GhzsL//eG0hIx8+VAQsYe4
            srsfRvq0zwR3w5pcfd2/uSZh1berl3e8mdebN6Yp0CMC7oGcL/ZRACth9uKq
            +XyARxXSitiHKKJV+ksiuLW7i/zP1YnysCcGzCZklwHZm+eHJzQoK3BuhPMB
            5wIle3B42zlMOwemjm6ACjx1BLnKoKO2pSA+Bzwxro88HllqieJZ29KmvuAd
            nT4UqJlgcZcKAonlF1aN8U2R9/5AxW8w3H3rEJZD7goYR3mbTvP8PICd3eUa
            tdenZuKZ268KFnZ8gMGiC9QyVZd45JTfEP9UX8c4roe9jlB1u6kpVH024lJH
            ma/3RaKrkkDw/roQpPOOxruUzV+nyE0kmkpFJCYcHYYIh+Irl6a6RQjWdf88
            6hkTN26cPY/2YmonXbKHBjbL0YlOAi/QEfQqnGq/RsgNReKRcG03H71LDHV1
            /ildnNc57Diozkm/T2YCld4SEEB7GHiIvSmIjO+X6/X99b+/3059/wvGaEb2
            XNR7C2gHYNeLQ2cIUUShvivVnRG0Ioq9qR6U92gX2ErD/kHNRlKWZKYRY39b
            mfeZWQCp6Q8nEpoWhii8xxoF/ax2vphmfnQqwbZbcHsqrS0NanJdK9Nb0+SU
            JpsbZFmYXVTfH/JB7BSF+NZb75n5DVsQacelsJJBQ7RQ3/IjvWfbo3SqAj55
            FdQDwM4owsyYbNwGfRJQTeqckRrvSoJdXiNRfy9SBxc7riY6NR2EuuiGKuV9
            CboN2mV1vSM1m5wYM3nPXPAuRNVI3D/0vIAOGOaZTPaMuWIJuHG6WquAQEgP
            60h95e1jP7i5QVDhajCRY+lL8uyhoOLAlktMBHf08gp7rVgjZq4xCoEmPux9
            xSixG4NpXUcpsqNF7VW25h9Ph8ziHTLSTWDbVxCPdjHCLv/D66HfRaB5ATvH
            5tPGEEO/i3u5n77N+9VWMq47UBC0c+y2ZuC9zSa9H/6+KQ8UVqK3l8kTc51E
            RNuTY6q9qOl06+Y9dTSvKsHQWcbuYmPr23W7tqGw7tV7lYXktWDgNdWz7DRG
            HcijuUhvLHueHGnFZeYAbO1Ondcfal1yOYW6SD/UFtYG4xnehLpKm+BJVdFb
            xH8zc6dqDWBNA6ybohn5E/t1ATIbGiUgy0GGE5B027VhdicLNs/M1A4zo6jr
            JFLkqvuVNDhVyLgvxbOWgbUHsmxloarnVHbQ3KkfL2fVOmxKX9NbrnAtUFhE
            BfI9yPaQQM6gtN5RtkW1b3m3xFXwOpnt4UyOOI+yPvuom2tbl5W0P8vICX/j
            d9Ld4u/miyXExsy+qqqai0stw/GJgb4JFNGBPv6YjlOosycdLKYQ/v28PvJy
            z81E+xacP5FuJ3QCkbmtEgDQwxuBDhPu8rXypg521dpNXZxqh5CD5G1ix96z
            OlTMW9zJA0G9aKfAM4uy5ZeIJ4oM67ABsnOA3IXIZlvCEm8+Y7uEjI4NKzMg
            8xkgpxjPcG3Nri2uKSN1n+2BDnqthXxOsFJm76jeYnclB4taJd3N96A5OGjJ
            FWXmYI19sdTbUZGuhGUmfyjmFXZWNDP0vgT+BX4r2dJLr/i6EKuyjdheMXYb
            9Hfs3mfGgfeLoR2dP6gxHaLZsZHA/eB73Fe1L2xx76ZbgUYkCs0oNl6KMEW/
            NV0AUc2F1VkImns/0YxhIyApuGXxHsCJ3bWd5AV1vV7tFO/idfZ3pw+RPriU
            6q/l7G+v64q+AV/w51QnEOpQqmQli3CEv98GawO0NLfENfi3vN+38L1AdNwk
            IKmNfGQfrMPlmongWl7L3CMVhqwGiOlgfnu92O9IfAMZYKo91W4LM7JICYj8
            p7PHRdCQjKIVaLKQKEyRPxreeAK01qLjVs1SQ4BKvQMZha8dFV8SSO1BEpJV
            KDNH5yruaYPZIkkHU0Re1/2ZhAFZx+C7AYKmNSJ1RufHQEbv9j80l3hwxDWN
            KZ577VXScICql8L+PjBnUBnkgii3SsSX0O2VvgTKtsP2ATZ0IC+EB2P/YUUc
            aus2Vd9O9adliDJKh4EdQs2JG6CAuOzBqir+wpbsftmBfnYExWDp88DtQRns
            UL1Gg6XhomvpA6xOYGtYnI0TSI+UyndD/DuGqZ/FFipDCFYp7w40drisnXph
            G6Ta6eAkrUWSXgFGaqVCUShwQsyKHa7ZHaT1OxbaXT7mYhGodZsxzvcBXyzk
            yVCuR6EkEfT1eFOzKZjZUAyygQmQoSpIHOneGLwEyb39rX2uJE2H967ClHC+
            pNeVJrlVX1fvnezxvVjZEiQdq2d0VU+k8uJTF4B6CTqPI5vp/b9NhEQn/dvD
            k1w41yZqLrWBZixWeWWXyYptSMUVeJ2WCcji+d1SQmbQQLC0bf+Qo3SPAJsw
            KtWVGo6Kxo3SuZgusOJeF/zTq9Rw5Lcyz6xXJVJOKUklX36R/Vs+Qh8+1pzA
            tJ8kROsYH5T8Q0//6lkeBHyryuFjJZt9p+7CQvPP10KaxCKG5c0ZW8nYsUfp
            f8XdahQQWx85wGMRSVo+FDbuQQBhdt0ix8q+qtu8jpMq1H/8/GTy4c+fT2he
            /+XzHRmSv3y+IfeY/rL9aRFp+fPnffn75xmx/F+vT+e/SikZ/TLsZ12L3puH
            o/fVP6/+XoTtElI3n5VI+LUXfTgXb+wprC5n33j3nbENiabB3196P/3gXaK6
            y2q2lu/X5fcfnfRa0bG0LkoUinOYP9u17R9NSOB6zFzaezg93G/eNjYiIf/e
            f9m/BZisju+1LK9zWG8L3n/5fj309+6vA1g6UCrfeo2fcWyF171TmtweSK+s
            4FzkQgF4OH+uws63tv61/d639+efE9D2Z9b2P/fb01jf283axtf9qU33Pw9u
            39QlhfItX2O/8MJ4uAkDDZDd2mcaftP9EPElVBv0d3INg6Xp178Tcc4XwHAp
            tTmoq9I2Doc1OSKW9dilLT5I8vmIfrbv95/ris/eP8kHKY2XNEN9f3ZB8R1g
            6/4DpCGTQg== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
