<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3485</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3485</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3485</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3485_v4293</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>13445</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3485_v4293</key>
          <data>
            eNrsfVmy7SiS7X+MRvQQf4DQ/If01loOuzn3RmRGWlVZPbOKmye1JSGEwPG+
            +fPyF/+L1+Xd3f74s5ZHFy535etaPcbio7+i69OlhStPDi7V0OP7VyiXT3n/
            lf1X91/bf33/jf0399+9/9b+e+wPL7c/t//8/gv7L+6/tP/y/iv7r+6/xj9f
            3XP15+Z3Pvs//MQLWij4/+5TjOj16tfFGfDu+vov9T/+fMaDe5gq5xL+3+dZ
            Uk4l5ic/+P/qr5RSiN5f+ca1iLsTI7tavdhbwNfy6Irne6+Av3JVXel7FWoL
            F57w8by3qW1H24mWLma8h9/g2H7igUf9eP7LPbDfG6/box+7l76P0e+v2cd6
            3rKPWE9Cgi/7OHc/977v93NhH8vkWC5r5dENOsT47H6wNlM/esUUX++51wxw
            BPFyWWuye95P1Xne8vDew5fgq1zZvZ9+RhuV/2Z0uPPgKfbmz/Tt3l+LWe38
            9b2NTSdmPD9acR8C4CTNPZpSXSwPoPbq3TVBgKt+z1xvr9e4+AUs3kWHnTK8
            XqRW3b9vu671xdjQTeUqclycb04AviE+9UoAz/wQQv7F/d2b/6/p7a6a9XjV
            15yt6yzkNzAd4Mmvud5fv4/hx/mPHbXf5P/733T1iSd6dM9eunrtLWON3e7U
            unXVVXtZvj7b1WtFQYAv9xlSvD4WHh3FGt994zxxM592PK/p3TfO6+vT7KGK
            /17P4//ahlQ9z3PXNNiI/3TuDQb1Xp6HprmIM06dY3vofTPrvIcebHdVOx99
            2AR1nY8wdH/iP53jPy3MXHY+x9x7UuMZ9xBqeOKj8Yw1tIZPfTSeZz3v8wBo
            +3Fec3iEBS+3HPcD6Ayw5IVWQ8vSW3yePD9/ve7zjf3pmMpz7C5+QMf1A1oM
            hDL3+BWm5hmYxVXtCV/V0GHngtJl9pUM728oGaX68NyCgEAsROyj0aeLOGNO
            b+vdV6ijA3aTtbnKCoT00Xqd+SG+FjWofnbtQ7wLQ5qp5wXISugk/vwL969/
            oCy//LXy699sv/4949c/EIeHfy5G/fmY9LewUj//SB1+/gHifvkr69e/7n79
            m+vXv78aD+bLvZBBaoDLB4uv/4/6/6r/1/V3u6mrU1dvtb7V+q5f7QJ5AlAV
            a/GjD4BpeowPiCVwdUO9yvMAGgCbQz2N+P0MZiE8T7r0/1H/X/X/uv7Rt+5l
            +3+1yGpRrtMuiHfALpiEKtde/8r594CDieUaRKjAG7nX8y+//rnn9e8+/85z
            7W+e8+X1L51/ei5f9+u5cv7l17/w/s+df3jO/8vn7te/dv7puXQ9f/dcTK9/
            /vw7z/W/eY6c7e/+9i71711asiAgZdz9vx37/8GO/S/fpbcTBOTcxG3+3479
            X7VjR7hvUf3837cz2xAEFMoS/+ku3XzAP9sV/hPa/wn8/hUsAqILuUH794a1
            7+tvWML1XMf59wYVXE8f11+wgOvxff291txJ7+vk6373t9fS/3eu5X+2fusR
            BFSs4/W/aS1/hze+r3+v5e/2Pdfyd/uaa/m7fcu1fF//q7W8yKGDKXb+JQp3
            iT/VTf8h/RUx4nmfD3LI1zRZESDGeQ4lLF/fEl81ia9/SuA5/lYS/Nv//pEk
            AN5fENCoHfgPJYG+h249p89ZSefqkW0JiVeBfCRljJ1hnXRWr8ekQtMbRYLJ
            +BQtX21crhgp3+Tutzrnu40HIk5b3ePwEb9rExIEUPUzvcMS5a82Gh1moX6M
            Lt5xaHQzPleLY72k3nebVGp9+Cw1cEAbbWsDPttkdy1dn9iWYbepEe98tylj
            5sKJHQ1tvMmoPn71U++Yu9r057pPPxDyP9q0Ee3ZiS1e86g2/tPGmyzQU5JI
            TBXDR/v73uPnBL37HJChx2lzVft9X19tZovRxj8x/mV9Aho/x49faZzxYz7V
            j/+eK1JEabgAEj7t8YzVhhZeq/SsNnVmTwBX2B7TrCyT9sOZOT1Ruwvvd7ir
            TlB3zEDBmqVucxS/5to5tJFes2Qyg+PZ4P7Zxt+1XaefeVk/6et7XPBTT10d
            Xbhl35O/25Bx8KeNr9ZPqV9t0gIeP22A5G3t89dXTvext1x+4krci43qwcug
            t2H1BAEj/YBk8Hax62uAot1ao5uWpKX3XFPP1F9f3Dck5OnKRz+tc9dwpBjw
            M+29/ftdPc7dBrM7nL1reNc+2gwgjk5WKtyYueuskusfbeaaRft4Yu2vaf0A
            O3/sLHevWPPZWU+0NoDe+dFm+VkNermSe/eNLxhCmw94d+Dvg9esL8xEMPhw
            3X98pcf/rUe9YgWy37D8ta7exSqQVJvQDrx/tfErzluzhf337NEBZX/Mlg/r
            6uW0AZt9733/2Q/WhbqyLQ3OaHsaX5yT7Zrq/ceseOC23rTaGGPeEJGq/8A3
            Pg/qydkmaQX22L7eCxq1+0Gb5exdt/9qA9z2fte9V4ksyEebluJ+F9q0ZNCH
            MX+26VSXC+qX9pKg7/6ehzErIHa3qdXGfH+PeWLRk9YFS9t2P+u7n/uZWRxC
            boL0YXrCrzZrVnD4bNO5fTeE0sDwbvN4avUPpAdrEzs4w1ebAKkN+JVthrDc
            oQ8f/QSANJE+CRcPBpMzho/1CgL0fAkCbtFAtgfOdn0ce8bHfIYwjO+/Gvpc
            3tqU+dUmrhmX2hiO6xuvf46NnK/adJzGZXPVqRN+t8mgIV79TLWpG5N/9lPI
            Mp9+gIC0X1anpPdqUzOte+RCMvaIu3/DDYSW550JS422hOx/w3mEnuItTkj3
            f9/PwCROwSTmJ3RblzjjB0YMM80ptXrBtK2tbw7f83Pf0yxMmWh+66wDdeTv
            NoClO2p+yEfMsTmor36ep/ahfrBsfcNk+moD1hq8xh9/rudZVKp0mbsaYNgl
            67P3+IFlwVRO9Mk2SZh4bp73s09wr8P2XaTF0b6x5K82+PoaDiyFTdvzSh9r
            FwFI1Z82LZ79kj7mIab7yrfms71xRfmaz5gd9UDsB7hi5I1PzjwIo4+cPjBo
            LJg2caARva49c/W71xoiOIlm6hLsDUFNW19tINNEg4jxxlLdf7XpAL1++nny
            4S7S56yPMp1WclYIRN1mq2Bwb3ocIefiu6kyuml+tn7uaf2Y3aK1P/5828uB
            Ou4//gRjM+76waiHpLWjdZzHkpJ73eT+Gjl+nseENwQS2iwOI6dotDFgaWj3
            3c+HQjwDjqj+KrkcRn4lozl1W9BuZ6vSthzUihc1bz9tJNhJl/9VIFLftdQc
            f1jirr84/2G4++U/9y/+/U//535/PBjs3x3QJDEKztfkSgRRztkBjsGPFB9i
            9lhAXzpkVvzrEGXHxDo9YHmJfLS4jTq24G4ffM+BCBdnIa0eUhshxxzK6mUJ
            Am6DhloDNzduhxZ9AHoCjgXBu7GVcJw4n7h+jxxuD4m5JdAM7BFKgBPyagAx
            AI0AFwcxkqLuBNxliH4r+kHaUWNII6Jj4Br8RRAYbsflcfOG1J8jAB90PcYc
            W8x1xXw74IoQAfKxgMEoN+gszjEtsQLdQgwADkY3AaxwqbENF9tqsZE7TQUM
            CRiX6WOHGNIxiIGxjObimCGOJ8UBxDgT/gCQE9torhQn+r+BVW+w6Heb8Z41
            Uj8Kliji6bgwztXxe9JhBcN3d3ww4iev+DQcB47o56EbQABpTS1d5YH0DrFu
            9oR9DNYlYEbxFWkmB6bJYVnczMlhUh2eA1OZIDInqVpbSH6k5O+c/FOSdyVh
            QVNI+Cv4a/gDtgx3SpiGxGXGWidMZIrA35gkcGaYvFkSPgDUxgEBLDTGgJzh
            gJvYCP2lElKqDxAIXoj2aeEcH5NcSzlEzNSTcu4pV/xu+D1w/QZ+WjdwVEnF
            oxf0q9HlCRYVXbaVysA9EIWyaiq0WqO/SlcfCDA144iGkNZS7SWBm0sV31rR
            J9Y2NdcToDlhpTGTKwFkEli+1Dquod8279SWT+3BfSCs7kPqmFusTgLop46+
            AQepo33HPAGuU7+f1DFX/appuJkG+gcrldBrGhg3SEcaDeDYcX8MMOArDbwD
            MAMZuSbg/jSxRoBwrGBMoNiYrp6A8dPEvMyB6zMkcDFp4psnZPqJdb0x7zfw
            +41dceM53E431hCiarpbTzfm/R53uvG+G2ME3cDulJfU3//XNmpZ+wg5LH55
            MvzES6/ryf3xJyBqPe0nsnXzG3d99BGMExXsPP/zSPb//vvf8V+DrOqw8V9u
            Yf+eVhTyDcVAb/rDZ58RxkNe++yWF5vbZ9O83HAGUeJTGihxtyimldlnWe3P
            GXdCebWkxBApZessGHe6zwTK5YxB/Eu595kgn/cgt4OGcRtQTUNu9HkiWD85
            w0F+AyZy3YHCJfru4O0QN/gbNKLrd4zV0ZMQI4z+CVQRA6tPR2cTiL5lPmVG
            9Alahv5AQUENQe+oUMLvqj728aJ6+H6q7lNOdRQn6LtzUzFO/zbDClFWRNCd
            5w436GXTWB1+V55z7qp7qifXO9VXDfT5MZEEM1Mq6TfQkQud90vVSkDu6jQI
            YLwe10odLpRIMb+SItNhiL8rfjtnv6ddd/wN2Q1f52bA99TylKc/YGcwvv29
            4Ck+f+ueVAiBc0LF0bh9Fg/NLwSzDR4hEC/hB/UtGNbkp2sus87pCQR+o/oH
            /AF4HvDJFL2dw1z5Fdu8nooJ5e+Ods0JOu06ED6fbXjG86i21a7pN1bRT/sN
            Qvf6XfncsN/yOwS8eMpxmhe8t9s9fJQr9inXXf2QSx1oCnlsEHgd8XKBZgcV
            NbXrI80+JAvTrGG/yBEu2n1/2fGeWa6GsVs/gOPutzGM5+DCpt/WD1oVsNrm
            3jlb5c6gDMCd1cj1O+ruTLOIOdF4ZjIN59zjm+OSpJPABOg9t52Pup8P1i86
            NIkIm4LHHPV6yBjWfwteuhawMvo+wJfGDyoqPUfCf2qX2s0XQ+RMgAhsxHxL
            48tnmunFev/jT8p/hZpq7F9HuHgAX0+kItJJGVwDAMuXlAGLNPt6dM29QWSB
            VzpaFACp+A3GDHzsuZel3sZeBuyP3Gjmo6fH9OAa0MIHrj3VkqCs0dcFzumh
            LrDudcXW5XcnwDPkRrqlYc4W5F3AQ4l5YndhsuXCDDBZAHGIUQ9YD3xDwc4N
            d1hUM2H69b+8hEsgEtxkBSfwA8fnyDAl4Axq+yFiuAoue4GzdOACsX8hfEA+
            X7T6YIMUtIi54P4CnlnEA87T865zIjr2xdWxvz2gBXLzIh6BHNCn4YDWcJ37
            izjIY0R7fIGOx+g33E9x/cFrONcVs7EqNRQNeBarkIkcC/EsnqVcQChBMzCG
            bE8XmtiHk++f3FW72+dpnwPab54Xcz/HHPa2hFevnJ9SIIksGmlykV7WgWbg
            TZm4Q+9Nr3dGEoSa+N5Lz/YAVh83WjJ8SWUj5B/hRuDCQOPaqtbvA5wESpBb
            fffLXRGwPp7WWtKoRgAFnDQZkiCTgA4sIqyYOS/AC2pfwljsM4w//qSjMYEu
            rD1Wwgf6mMCpgMKsPi7h5iGDMEQbXk/PU25w9g5wCCAjvFAuN9sQnl/OzYJ9
            QfhBH7Ji4gmsIq7j2tNA3xavPJCLhuDnic/N+w/6BhP85AtjnU9jn3kKJ5s9
            lDBNYxXWE7Bbb2plsVKN64Tpmwsce160WnqHOSnYo0AZw4FmAItiBxWDE7wE
            MlqNZsQGWiGMY49RdQ4RhU7/mV7MjoCEc8DuoD7R0fZqsFc7RLZCpR7Qg+CG
            1sBVSMn0zfOmRCkLKnBBCER6+FafqZe0faHfneLtU0LBHsKOwV4kvJteMmiO
            XeW7RXyWbNb8DtkYsM8WUR7WpaEPLBdkA9s/XjY9onAd6Qber/1N9q1U9dg4
            gJPqz+/kIPiddJn5/CZfbH9LL33T/ulGNLpNI5FoK6Vw0Mwq+JfLPfe5o7Go
            P+OeBf0uTj5w0/kNmR64CXN72bfc85niF/B94BWp+C7cK//Wd1XrF2j+4dwF
            mqDDKhNwD0RWSYu4lwbhxxEB+DjDQw0gNhZYsgkxGDTomR7i2O1c9Z2qyb5w
            JCxPHO/bkS96JvqHmEXYhdT1BLKj2CrAiaVhfbH7gLvHYNsISdPLiu2Jxale
            Hdi74KXQX7yxhzA/Bf0C/1N6Jlrlb9ee281F5Q5kTsBRQvtFgndPwEh3gJXw
            oGfgY44DvBomHhi12HgL3+rs3pzotNl468DvbL/1MqplwE84v/lPGSIxl7I7
            2e4p4LqBKercPBJRD82JbEv+A/Sx7pAL8Q4BGFvHuI+Hrjo7f2a2dmA+GTOC
            L9q8hZ2DIjhTBy5HWoD7O9jB9IR9uv08KPc8msOH+BZzOw5dCObBgTbZYkNC
            M1zOMQfg7od62/Wim2CoBhmegQ3fDc59qBQiErExrpeOvd2beEtguAFouUpr
            0lWBchD+ItXAIK/nN8CjDmD71p+6vSPI0Wc5OqDpkg1rBLbrtZG3e0aVmCxx
            /rrxbsxGuLEAzfpwWDNQ9TpTdqUBeha+O5AZ7zUAmvzQuf0mPtY9X/26W6in
            n0T7PwnsCrRo4gNJPrHfrxEziDYBzc5rt/YcO52RAJxpDvCplIGw//UbTMae
            s3PPf9wDxQd+v4GrMvliQI+Z72kN27jFX/Y8nXSAmwff6V79M+wJ81o5rw/1
            4e91Nq+kaDB2A3ubP8v29Nn8ptueP9x0Ogdv54hTJnnj3IgTE+HHzHjmieO4
            j7DODjSUx20LScApzm9PmRx31BHACnJUIn/VTbaz/ROxz6w9sSEWc9H5pjBk
            qHIuMRxn7U77C3CN7dr95mfiE8kHXcJrUzZT0um6YSjT69MnKn0r1W2O9xvm
            jMdcgQ75D7T9rhJoWnyNGQiLclQlYgC8zoccaqUZh+0n7Vh1NN7DoDuPmP/G
            sSQ8l4DZPfEz/aQco7Fko3Ocw7bARxJum+RTQO+AHGnjGJkLjnPaxLgsoEPg
            rXMafBi4B30PwqgjPsPQ2jOw5yYQ8iKYCW8CtvHv4R4CBqZ715vvGaCt2EUN
            eIseUHhQ8+gpCzAsUPOYZC+U4mt/Y17A3VcVX8t14nxqXvZcOsylv+wb6p5L
            t77nsuO6u61NYYwG+uZ7Ajkqo/WV7TJwB49A0DNyLrMQv+YVu07zmuvHvAK/
            WD+UCGlBoo8SIwoX93Nx4v1Ac8nrevu21ztBzzS2wH7tW7Gn7jO/ASjnNXec
            1+0DcWTGAiL9uXfQTNefjfefacc5ne6vaXvwln8KeK0tP1WyldHoNF1TcA5C
            BuS3aTdkj5WoX2iMRIpgO+5A/Ba79mNC0wZepTFoBqsI0Q6bhM7Vt8c33w6C
            2mJfATuL/WFPL+1HfPHeayGgEQNoUogNtNpMU4BsKmSyv3sCBwfekggTw6Dm
            9b7pwunIy7Cfzqm4qX+h9t5HyvzY2fYMWH+7P3S/D2/jddx1AJ0brLbG0V2J
            5mT4ANc1N7yrAWOHAITxge4/tNdAxLDnKeeKL+wO/BUFObx4BvLRN2cf24P8
            9QBnQh+c/czGYdTL+EXFVuhN85Jo8uw2R+RfgMf7LRx7sWtIcaAHjDV7yJcM
            xnPqfqXjGuUjCuRd/D5wZuVayDeEzi6Q5c4aGZaFrEHHFMp6xeYANA7zbTpk
            XbvuTr4QGA7iCb2F6HAJ4KdfnDiBRc8EcTeZ635rb5HRDvK5uG/aj+nKMJp8
            6egzi4uptwNbAOnHtWVzQNjiNSJi0ikaXYLofpM3YW5J7yCvNMW7gabft+hT
            Stif6xIOpyCWLMiS7QdWg2tI1Rr70nXy2pyz1IVDWtI71R7U66Go9Wwfn5Jt
            n7VZdSzezsu1j86Oee3js49zH2870i5Mftn8Mek7+NyilfifVwzZdTNwQXzP
            opKCWh3q9Yz/A0EmlsX7hIcXmHRwWR5c7x3S1NrRes7vbkW+FMCshodHWJA/
            cX/QmQE88aD8CIpz00bn+UevAOxRzBP7AXaDnD0GeKJJ1Q0ogXbQhsNrBMY9
            PxodZHX+ZuzTACvpwCM72RdANijPEZ/FFpMpgsC7cd4Zcuj3b7pMVX2bnUPs
            FlwzondRKeMNvuu+Hvd523Cf9z6gdoBw5UUTJvvk1hff5q+HCiZ+M4SHQape
            yaNkTsiiwlj+kLRjYr0Y/+oh9WLao8f8AgkssptZeNu8ZIE9II9k0KTKVYE8
            xr79j779r/1y/k6/7l5btryoCQDfS4XTuw8wrwSeOhgWSv7S/3acgTiR/cXx
            HkvN5KT+/v3CdRgn+eBAj4rHTewXrqfXevpCfroyRJRu8yNjbEGOy5HE8sAv
            eS/wQEuRqjckSIOTMP0jb0sQiUdwEh4nHOYAL47wIl+bGrKWSLxn5ReDx666
            Ti9p7yagIkIWbY16E9Otuq0TnbMsv7X82ENrxg+dGz67ujLE32cHmkMneiqS
            sLMom0ucpewKTsgbz0BcxVW1/UQMCdx92T3geYEl6T6QI123RAfPb+cZkKRv
            P98p2JLsRu2LCZKedOh1DfiGfEF2VFENX7ubPUTyadybHh/DgPhOukwZUW2p
            x+qixdTb+TIZAWX7XS7LbCPdWRmpCQdiGehTb3PMPsDX6X0gc6RNlc544HnI
            t1K46aB9WAQcz7pwbM4t0UqgKqLoUe038Tnel6g66XQ1hHgMgQL0E3M2pEP0
            lK8xZqxB5t4tWOPEnbz78KQ1WWojzBfeLdrM649dP2PEfikc36RuGXsFB8d1
            xA43q8EjPom8Yre5su/EeBt5LiBoeudLl5MAsJAvvcyzxa5rbqjJxPUyiNKk
            1/Ck+yXFofuAPPr8ty7a6XXNcBpA5Q6kkad/0bJJ/AEwps4WfHzdfYgXII+E
            fVt3H0d/Ki/7iP0mhw4geY6D3kNsT1sTdTgZl3GUbmr3vRbEIq2/N1jhupo8
            MtUfY8w71hZgCIR/u/D69gwmJhBOhswWj3mw73sjD/Bi9Nm8sYS0LOCdw9YI
            k5aBbhLxTW34Flxf7SYKOvvBYG6KUw+u08vDTT4TB6kIaASO1D2Rz8QExUlZ
            Y9KT7HESfSDo3022GpCP0m3t8fnuuXbwSyRvG8nX0f4tmCAcLPn0O75fOACw
            edkzN3AMACkTftSNi8JZvBbm5ocYoQLZxRfxCGgsnbPkh1TMmZ88Fzp4pJM3
            x2+IIphaT4G0xDoX+Ls//pyL8vLWHwMj0YZ15FTH/dDp98L9kcUbk8ZwnQ6u
            wHiEK1I2Oq89GsCPYi4SkBNodRc9czp3xKVgke69/uYoTxigq3kjTA3SCgsd
            uGmLcHPST5w6RsAx7RR+82oFshDkW6URmYKP774m5pXeSUrKAXgE3zQBNR6w
            4sH8tCMrp3G98BLoTn/hno1zDM+IBlSTwcf9Oa7lNK6XD3baeqxDB4CLCBUX
            1ZjeAnCuT1tbpjOO+LN97Ha8t83qBh2J0Zk3qqxbYOgswwHkUzeFYxXbhfO2
            zyNpSJHuiJGt0wGHMpEAP2z/NpJVgPci0xYomwPtqFO0kEzk6lVrll/2Q+xe
            wxJx847T4DqaLtW86K8//uwRKDB+25oupbl5GE/A9iVQJonm4dsTqBoICtcV
            a4olWF2uupSQGyOYGSAG8v5I9qa8Ch55tFC+5bZeSEuZYkc2pepBF9kHEInk
            GIbVyt57nmlGN0jHcLyJj/3z3Sfd/gEf1+mTet++f7908UBbtFXf1fi+KmMg
            9q7OywuHepNvLmtHA8NpQ3Kxit5BWPfUj/gFnAWRHSwG9mqpzo/63qucy2bq
            eI2J+/DMLWZ9CJdT9Fc+Gr+D2kBendGMysQ5GPdFjALxtcrhoZB+Y9EzZV3Q
            jazREyYmYSww3QcEabPZSY9DpPNcGCPurWX4ge72i+ow9Lkc9TH5q28AEHCu
            9d2P7Xnr4Hrex62bi+7TnxWLVP/4E6NLz8dcAL4H50OZSzgu0AJgxllbmdX4
            g5Zvw33E34XuDsDfYMOaySQkTuXYfZL4Znl7rm6Ja4rPiZIVZJFC19Sh+WaW
            Fb91N0XpUoZwI1jSPMGHVbVJwjNlJeZUATp/aFsBScjz6FN4DazsoHdKqi3L
            2WR/m+E1yfMR4wc2LUHMCf66tC7YewU0zklkdJOhU86SEV37Hh3p0BZ4pRAp
            UELQONz9UHFIvYzOQ6L9scy+3ycYKvd1vinPZx7bITEkr4Fbm/SZqPL8bIpA
            2/veafyO9ALtFvZ7kg2nFgNcTNmeR+FD8Y9T587OKU/zfdgEmB/wjHq2ALdG
            aeTzuhk1RK48351RqKNh8I34nDRLuAzcrfYyWNjTN/XZ6n/e99f7qr2P/c2t
            f8R8QCLca9xJXAZ9QTO/aQE7xdt44PMN6JMGgJbwDOUetn3mkwBtzW8+rMyi
            OX3Wk278/+qrnD44X+zHAXeR74cc0MXre/L7lHb2dwi1A+yx3N1Ty1WGcBJw
            RqfdzYMf9BB2HfgliHF1P0P5F5RHz9hYKLnYN5Cd4xE3GavxQMom8aogit5H
            szeyPZWfipHIt3uPOwJLxbtxujYfKbu4Nz13Kya/UA8cJLvYXuEcNEhtmGCT
            caZ5HdKmKXxL+XHPoXAe6BXtAdRBGF6NbqEPiNEmq3pbh9Xf472BQzcOBlck
            OLWYu9ceK5RvkrxRwsbr1KXdt6PCuUoXDtqb97pNOt/SRwa/aVe7zZ6YwNJQ
            a0P9BecHchDx+A1OEXiwjvMsY3IFo4ChyKhrB7qasP8a/SFACptb1WCpnmeS
            5nnb0/LrWC8ltHtyo6o02fXDC96Y4xKNp2ObmyHfhJGx59Q/CfSHMcC2jsXW
            R/PGhHV739NmZt+3++7XoXsWK0O8n9b3PbfvgR9cABTyTDgmmucEY/Wl66Zm
            aUXJg0B9W6ak35juA47yvo9j1vzu92jMjGPYOPjV5217hLotHQEDkzohIjr3
            lD/+BMNcZcfhNcMPwWBZ7/Wao+vMEWT/fzlH4XnGp19FJnYQ7bZvlLcS5uSM
            nbQvARYrID/0Dx7cGX45/TCPy13H2joD+q008jWkCTQ8Ao7WTJJNbiol+RuT
            ReqKrp80pA/IzJ+WqaoWDwauOdDHhH1Rl0dbM+Ak0ycOx1WzznHP73MdKQN+
            tsu73V+1x3kQX5x8o4/AC4fSFnQZ/83zO0lvbLJ9EPs6577G54fXnm3zg7ZI
            L8jkGynPTSeb9hvmxVcFKHVKQvK1w++8fzvBiWvyDsMy0U5C3wLOVa+Qo5Lx
            UfQngqyZM+0nW+Yhzne0m2ajy3XvswN71Mvdm39Z25boMU3k/+ntaKkAnPvU
            E93x2+Z40xHQrttx2nHs/iAjT/YHHEGtmOvUKpDuA92Rc1+jTh6vBS6A7Fbr
            zHzm1gwBuwvtwRcnh+UAm50Vvkdshva0wpFnMP2wKb52pL4Tt18heLm/2Vev
            veTRrlfDby6AvtWcg3vTwgqYfO1X9Jua9ZuiyaqJ/Oxeh3WDM85F3j6tT+W0
            Ih/hM/DZePpLt0H31b7EIQHz3pEskvnLENbAjd/yO+Ma3usxHALRJJB+J/lJ
            fn/DfH/DSs/Nbzj0XLR/GE6442Isp5tpNR+IfeiHmzvfJbr68R2jmG8Lx45Z
            742+raJQRufCR/835i199B8TeXbcaJm5ByAJVkY+6l3Ud2HM0tFAuANVps+B
            bCHjxZ9KLNy6s31+roO/cWrLvA+MrBs2b5RQyWMeGj+uD55J8XHGHwnn4q2Z
            9AiyAenXVc2f7/Ndvm/83G8bkzBBZDLSm7YF+mvFbTPg+wm2nRtmAZdWQcAY
            65u/TCPWqhSBWbJTwThS/9X+cJuvLXid0fR7274yafP+hkxZ9KJYhd9x46ut
            nyxbJzBpj9y0O1O/emN6FNkgXQN99ix0LTb1+7LtcuIj+Q7JFtIvyzYUjeBc
            qXmbo9+3k12J+RDRZyacYJ3rQ4KO80FYx1/sjdcBJuvrurfroAWcPcw2+uKg
            eeRKW992LgsJ+LvamIImROPtImWKwjkn4slNPhzUi72+g4lKqSPMHX0Ck4Ju
            DTCrsrWZzcO+paoPmnsrx+TMpl0ZBqbrjuljL9nceZ8ZGdmWgiH4y9QmbXdg
            77E93H341uvFt3LcBIy/GrfsDh/jlgjBcOyvfrRJ6NcYqA+eE2zt1h/R6DG2
            zuemHg2YCVuU3lOS2dwl39+puALmrXiiyQu3wrkmfaPSYHbN7PnbFcmF8pla
            iegnO2uj395tvcqhK2890reeCXy08rc4xoTfohve6EegFzQm+9e4UIKXFtiB
            93C0vj+VfAe1lPSPcPeO/8azqTslvnXfPLP75JfdA8wDqQVyQ938Cidy1Ep1
            7IcPzLwZhdi4V+gDKPcaLx2b0QFTYZkO+tlRSORTSIWdbNjEVe7IoVwLXseW
            GV/yKX2bEogEOD6H8de+xz/Iy3ysUbc1om9rW+DNMf/5sRyonP8BPg3bI0gZ
            4Ih5iX+d/HCOTuzo88L2vQ7T1uHo+24mD5PbsvmjCUCZ5Y3zTnvhM2al/1Ae
            6NLaSHW72yy/29B+co3K3eDkSGVZYNgGAAD5b0yCFVMXsD/gn4eekgmUmLYo
            N4fs1pCZMGQIj8DZnqqEwJxBo7mQaw/kbamkpl92kSWT9tqSGepAXBiYYwVI
            hZp52uAcQ0XBxtpzkzofW39/NUcWRjpt01PSnUI+YfzdqN9ukwyG4TWODR86
            MU7IDPQpZODne9wz2Ljdto/9T44r3TauzCglOqAZjmnm4799BndsxRO9cvk+
            w9ZS+aWej3XCWibq6vIAp4Y2ixK76RdOO6rXX+0Ax8F8xMSynzX35aENYZLe
            xcDY/6f0tn3QME6/nJS3hHv5z4Auu0ECQ80CEHPHmjOFSyWJA6MLjpvXsWsX
            fXM/55LxAGpX81B6JrG24/ae9la6Nb/XqVLv8Mgi7/+qP3e9+3uty+73yALX
            SVBNlp2RKhDC8chrTfyGlaG5cczgQEe/rzUxDwfDmyfmJWJdQLDjmh96AOIz
            4rUun3fxNL4P2Va1/oXJ0oiJspdc84H7ni4+ExL8fZ32cez24NEEu/fTvDOb
            49E/y5aS5YPXXzLfYz7cDBGgPjflQaPozTj3tHVR8n+45fcGiRoboGPtFDP2
            0IxNf44yHuW68C7t692ul0De23TN03QU6apm35sgR/RPpt2I/Rf3rMnzJt8R
            8e3EXdSxPP6unAdPibq6VOcHfm1/gV+B64hfqSU6+PX69P+9vv1/T2wQlRC6
            X+1+mikRn5p+2CXiNq51lh4S53nziY/Z3RntK/8jxqEt+mWJFwYNikB/4Bnz
            26ZOY0p+ti+dNxklU4wNbzu8YhSSfOvBfT6J0Q0g8qbX8eZDNQL2pgdPQ/+v
            I9uaa08HDbw+/fppByE8ycZGvj5AcCNw+dY2bfTyC2F/23Yu3fEwG+eLzyEe
            c+3a4xjk/85eAV/Y8rGfATaPPpbfKNsK049seUqq/mjfSpqD92EgjxL3N8ud
            LVsLeSxm3oQY6l1m3EcBRXRMwBq3L47FJ6332LWn8Y38vjus0rbd5NUvIGzr
            f+tI1gf5bvn3TfNfSOab/jDhHzkyJoOU329eHdRuuEwDh+wgWb4qnLvT5jJd
            jeJJCmU/+8645Ae5v7/rPdjD9IWjE77gn/wiKBOjO0LbvrbHHnh8b0E8qD9q
            L/hx0qO7n/0mpo1V7B9xdxM/Yx6P2E/RFcVL00+Adprtq/DSaTu6ZJodz/w5
            jR85eoRjdzz84fG7DOvE6pn/2NFPMGqbUn5TbsEnM2ItL9AS8Nvc3zQiJu1H
            8GTqkHGTjE+LbuPuy/yNsab7iM2SH0yW+KTGeCWn3IuvPvI/68O/krIZF9v8
            r7YhyE6sFAD8RBl71OJ+5XuBH2SC+PTLKTQQZCOuXDdqGrQfGZ9KX1wwt+2i
            PC79mvQeFVAHwB7mg84ERvL5avbbvtOS52w9xPZTvLy95/TFvQch1kGoaxmr
            SlxB78Ft2217nQHnFF7svZIPLbhYCXpmpD/dpXAtytGhKg2N4O7WPUgG4MHr
            fu8QYWJ6jnW97ie7P3YcwpaDNR/iKKJG3T7nJy6bH8aisH2EPC3dHb6eKXnO
            u8Dm7HEpm2SjTf7f+ZZkY3voc17lRQLaSXW2tWnk8YEG6ue6KKiUqU6Kje3x
            zwTz2/A3IGYqJ6KrVYEcnPtHJRHQ/rq/1j6CNmJXsXwMJJoxfq793437Ncf+
            PZ+dto8iv6vptj75vAvk/bUO1CHhP/mfZumks3xQXvdNjhZn0dsqn+vZ0yqy
            fV/bL7Dd7p+Me8/rw3GfueZx21qKfPUho7Rtt5acduzZ287ttn2cPNFpJ7s2
            9sAM1DW4+AWD4BeC5JrnWXUVy1xoelLs4GbyrsmzR97C/rD4H5oHGJvZHHON
            XpAslcdx8HFer+ZnXpLxEYyHnsQTGUMz6+oV9jMLvAMFp369ZWIGCSjHqxv3
            kY0xPcWdvHaQ/91CX+R9tj9CVCx6pfNZk8MtmCsww0C8ybUV2sEFn/Ecj/xx
            XevSkQETdkZYgu6G0TMta941UkDIc4k+jYxJZamgBLkN5IYZkBNkFvpL+RiG
            dAjutsQ9WUIy3eCY/EW66yCfB2Ur+M19HwdxP1DRxPtA1C2euxADJ/MdJpNB
            PEu5i9bYV5xKlQTx+q5OGW5nD3np7ag/p35UsbDUwotnLYo5c5lu9oAJ8GkY
            C4hxAap4QDvwudSiMJOgfDWC2vrvtj1CGrioqAH/oTgf0wfQ9hcCcy3QqrnH
            QoLczBfZraq4gwxeedZHaAoiSnUWU8nkKeCZ+9XLk+gN4jJtf4E44mVrIszH
            KntVs3nxlH5oV/a34vQlBFIpQn/ERNtWz6Af1DmDr2hBdhGXntWx8WiTSolx
            Tg5rkahPjRnfGY5/sfyNyU8E8osQ5ZvFQHMesM/zYMqZ+da7cFxYvERdPO2W
            LZs+GrxDZ34k3m+MpQBCDd1yJvGa2jJmjX6D7DcALymm8d2GzwWlSWP6Q+Wd
            HycWjXr+nuT/nDq+kxpqrUllyC2wMTbX9cNvYMrPX+ug2M/A+Oj0KNOa7FWM
            VYmPbPPv+XYvmzDHc4M59kLuwHOAOD7TGDcD+RdwHfx88fxR4SegZXgRs0lA
            PkF/U96KEDgVvCk7kWzzjG9O+zrYgkA4vhdjgjH+86w0xvlRVpJbMQbd7Ix6
            9nWdWRnrx/oQgznyuDaPYQIDXHssjDGeeyzkufvu7/64zrEcn9bn1n6WjXox
            3yB45Y5e3HvNJuRHreO+duZPz7Tx8HmuN5iR5fuv7djH2Pky+8bZccfZsW4S
            /biZActwNfkziCzR/MYCdmb29OdxiuR7rT/lUboojFsBfb4xRlWQ1umPGTsw
            Ln0JA6PF46Rfr3yUAJ2Po3Ef8jdznhTTHQNPLJ5HfCtmslO+pbK+e/n5Y9ly
            SyHNnqWnZhbzcTFOvcg2YRmdAnMpUGZ5zEpFH4SwzCay4/MYME+7z8E3DXxz
            kd36xOg9DFBLEISpn4CUiK3a5MtL1yVw+neyOEcnzT8EcednvnfcRF5ERs74
            q6ViQgxlv9Mtm6+z61RjgF0qitlgrESWKfIeEMeAJ2/mGAReqdL0433e6iQ5
            P+S7pZi+Sj8gxUwk9imd9Oc5UPfRVah9G0M6RuDee+ua7svyFmzdPqZzn3vZ
            fyBIvWVp+gHNquiOWjXHis9xiiAL6+UnoPp/5nVRcn7Gnk9a29ekHyOlW1qN
            zvcnydj+pSfe3wc8O4gpqLsPlItIx4bRbvnIgbKOvs+xKphjcAPKKoP1kp0J
            Q8e1YjarY2fCd139ob+O2dnc9umXuy9NWZwZZqfZ/iui+5w3fNaBEc1XZHIS
            HCHRoD/mEJvyiWRlE+WaoJVMsvjcsgFggek76JvtFGjuaOuEbE5bnBLiLXo2
            3F1MHvW6VNZ5JSd1161qUaLAysORH9COGHBd/B11JE+4b+WIKLR3uFvS+Nmv
            5t/JjD3UQ7lUxcv1RhejvTdZNo9H7Nqkcwy+iE9iZib546ZKv64alsuP2FTy
            yKRDB4eBj34UZwTM/TDtGVPMft5n3gsqSO9VaLPIqnF34gqjklIzlwpz8yi3
            BQQu8kwYG8jIoM18AMabWaoAHyPSUb68xkQ3QcO5jrlZVMqrFEbOlQRau6+B
            iZK3ZpOKmH5FzNbsD56gRtt8m8n3r3ozjNp8Kym68z3Ocr+oBI75tGo8DXzg
            g2/KH7wUIJ5MNe3T0q0sykitKE5rx3x4xbZ4xY60C3SY5h0m5uAUx16Y7pE+
            /Mt584XENSXjuZRfJl5nrODfA/WGlJkyPStt/xH/08O2Hj1IprWYsjP6YLKk
            jL/j8zq13cGDVGaC3X5M+B0VIaJ8IsT9ikm5zAOHscD9fssRKtcQyp1YS4Y+
            TnhfY/yl6ZYsTgDXXO2MAFQeBABxeSx/lcVVLHruE+e5CImkyi8OlCUodwvu
            Kc9NY2yzfJCadF2gyWtSNRfpq1TFn3BPY3844DjRmGR+jue3/Oez+WP6y9Ky
            MAagOivZNGlBMs4xH5rKZ7GRMcNcakmrT3rTx8IcUNIFWUAzafzjQQcBB8ol
            AIHssiPVj5BdDUcwv5BrHJ2tGxg0+eDSB7rIKTZRfwaaiWNgrSLmqZiUeCw+
            Ye5zroWYOfITTkVK3dzXjOfrb78R6dYgYjMPSXsaMR6FrSVlk60xv5dxkZ1T
            VaQBVywqhQmy6IQNPkc5I59rWDP6XspOolw8RfoJ329lmZI2DN8xWeFP8eeP
            OHkmXT7nyvPO2M1lNrpn+9zkzb/0fV6PD06w49GprX2d68cqqnmGTihJ+wjE
            ET/zZJ08W8ze/mz+gWNszeac+XPOnPvXnDdIq4F5MOn7onvMvGLzzDz54ELp
            J7LnP/5Yj+OnFIj+uKcCWJmy/Rlp58BuOrI916iHUY8cH5g7eDG2a9Mm2ua7
            aCTngLSxO8q3H3TYL6yKUzUXmVKkj5Ez8hBP2avlhErULd6Phd1jzzOSnW1Z
            YpHtYjdcXrb9NWGmp31x0roOUJtgOP3ywmnkdkRXWaLS05+E54NWfO074Hg6
            N+y9g5uMcSFOYOhWIms1WRwDuJv+qsq5ZLZshi6w4tMlBWF+fS+FQMp1VaVY
            FEPh5j4nf+EyaBBR2ZIrQsvG22mMzDl7fFaYTJnyeiiJkRedXqc8vyGJMf6C
            v0uxXDaynTAr3w0ueJ+3xrgj2qTM1oWxP5/wGbdNem7fsgPXBx4PfM7LrgcG
            jCgKx/KHjd1PWNRDeIWNv2g/5RfazuSBxCrBHrMJ/GF5IcRTcgIYr0XSSzfJ
            TEWC23FEbOt2W+LnvFQUWW2udxtfLd7Jt+P3i2Wa9Jf3Ks5j40mqeyDaDka4
            Bdl5GGtUDj7a9pfW6RdDGrt1GExyQl8P4nFfmVSI2cGVk016Sqa5vUzHoewO
            pAWMQQWd8YzjVVwSxtmvh1Ko4otsnM14luzn8uY3gl1civLkest+dHLLlHGd
            mEnJwIozrqZHzhZiXsmfgd9irpS5/egmIwZCB6cXJCtrHOm5SQOoXJPMXJW0
            rrIazkv/N0xPrZxIdCWain2vfL4mxo6KDw+AYUrSlMEq472fSf+yj9wq1WKg
            lbvE5rnrHBKtjqObXjVabLTKAPNIlQtoiK5RVX0pH87SPVqOd+6Ns2bxI2aU
            9ms9F6+TF2ufN3uOVYx0Lr+t93O2hk06qW3j4tzWpJikQXtbtm8g4oxi6119
            dkyIr8bHyZuFyUc01mx+Q3PH2tGe+IK3jrXITyMuuY8PTGUITjcICC5ZYKNm
            8VHNIuDDocjC4WxupKslzaQeXIbszt9OyRe1XkCHa5y228duzi0T0SDhPuOo
            3/HNth7Xax4u35nirnE+sOI05o4zLnfbuLzguzc5CjCxTLK8CYyXpITF64Jd
            Ru9v3QOoTGPM+vf9bvczDdVDOo1z/3JNPD0bqM7S/s7cmfViNBt3tjm59nec
            Nae+GEK7p455KnBM98hhtg1b4HwC41xofCI9Vtv6+7aMt1FbZr+ozIslfh8o
            3Po/c0jK01/PQ1zZ/atkwO7/s+2i/AlE5D7G73f8Dd919gH3bVrCOV/79qJt
            fa/VxZw7jDVgmtfVH+310z5be+ww2TanWIFVQqJ/CGTDQ9/NAJAPDi+06XDu
            SSUkKXp38Fzx+55T3KXiTs+9PGQLEn+r3GDkI6KPRdUWzFZtxdIhlzXGV5r2
            Q/KR4seqxSeHqnIvqkM9TI8KFo/lnHrDVwKhSKZSnMulHGUsHifaO1UBE6LM
            fOPXEzen/d7obghZDLi0DcYYETVDZOX4k+V2KirYpzwixAuVuuHXnJqNL3EN
            xMfmXrkOypN3rgW71h9dcyd2tdEvgPsn2/7pRDgs3Ud06JkSj2oQu6c8SJt/
            v+VQ4ZPyHm1YZ/qzaLbN2TcO3vGqVNHj/bKjv2SAoDIRHp84Wt7j5nv8ZXkG
            3aCepVXpOesLj3VvOU6YJpTxx9J3a690yj/fcmbfuP2zf+qLT7+r3czJOgfW
            bzHt5Bk38enB610VnIzjM19Y5lcJ9MPEXK65QEt3Tg2woEt5NQIGUtBfV240
            QJ2/ferG9iuFAf1Wm3L/Sq/E7JKyeHvxVrJ+q9aYyca+me5YGzbYPmPFFdJ9
            5haDFJNpS2J2mzu+/E0EZyyW9YI12jqeDWNMA1TbIpzdzuI06YPMtSK9VtGf
            /X7gDb77DWPJ4Mm7Dxirds3NbxjDJxuOJIv5E7bSXvP0gq1htHMYXb4Hc+Hm
            JEOmeGsKlEp/6pXYH/j5bmYXqMrbFagXBsPZNDd0qvKQzh/lllv017PcQE50
            DOLHToVtrl1HTiJVM0Wx4ZSwdS7MLUG+7KWLqnfw2Wj72DyAjplDpP3nGx7p
            t3F4hQN3876Zor/xO6azPJpcg8/13/PPgnLEm/Q9fDi/dCu544KYR58Gn+fU
            kiWur+WMoe4KTAkEeKcoh5vm/SW9W6a22vDkAic1dm6Za9d4WoAncKD5+eSx
            k/RIjfpwssbUwwo34PsY2ROXdACWf4x2oih+dNEhhXSZ+bSZt8wDfwHbqx16
            YEaZGq4dgyV/SryNtmru9dv83wJdJapyATvmLNs8aOP+SYxDIHLutM3HQn3b
            CrdnFV88nJTLkjFGmbky33Yof8n/dx6/myX7qlcc+ZRSxfIiUi/g486Lun/T
            v5pmTeWMVc7efY+/q/KvLgojktFqdirVaDmLxUvK19qbjlvzQt7sQ2dveQJN
            vm+WthprSePa28f3FdufWVvHl7l13sFyXT0n9lq5eJ99PuycOc1OXC0+mP6r
            jUs8qZ07fsuT6zhkzTpj8E05KhUDLtNReQbz4Ca3r79SUJHPA80N1H/68nz6
            uRCOHtJA4iLiJM+Asku2TXwtfSkyCYTys9/MhtLoP0jb6jJ/bOZWfuhrqP1O
            V5Vb8SSFhIJ+BJCtVaSN1hrliCriP8iBu1euX8p7P/olk9+TxVe+fA3IO1ez
            u1MfEcEvFUB2im95T7ELVBwVxtvYRgLOTcAZkv9aO/phb/7ga38f3TwblfI2
            JiYZjhYjfi3qXDG+pJglsu2SjxYE19wZao7vT/v75JrO++VZ+v4uz6JPf0oW
            DeTRuRY0N8IlA3B601uWmoX7w06dHq3Dfb4bn0mPNjw2tx+0/JXo9zLMr8Vs
            ECTzQGmOFSl9c/lWLtON38PLL4FpG3beUsXAUVnBituMiCAvMlUFltAfvtr0
            d5sia5y+ub787SHc0V+BEeDJ//EnGSbTxorHo2Ny5jPKWRztd1mMRSySoa4J
            bp62Av5mGgFwfMLZ4ObWbiOHNtLq0G3iOb9OCdR4DCkDtFbxzKNCnwXga8Hj
            wLl7MpmfyijJ5qlsLEG8KH6TvmArVepofpnLgO9orH4am/K/YR4z85RwaxG+
            WUkXvOprTsOGi7ojXh7lwHwED5zTz/v7+dOOctKZI9HxIR0yffpf+d+YCuoz
            B3+4hIMaaRDTrCgmmH6OGYwZ6HGeDGNZrBqruOFJ2wDkWsOPdJsRXQY7N7zZ
            acg+A9/7e2Z+P9sy1wkmiJn6Ymcsp5RpKT9bj2gafCWFVdx7LcMSo77yTr1o
            sbecbi0o/7XlD2aCx8bMYZW/6bnzSDXAkFmuEYNLmdfg2BfoT0dbRAuW04rj
            Y19Znl20Ur/xA/gYWirH4ecZj6dKyOS7nlvxeqTqeYInbYoDA198O+6v+DxW
            xXgyRoy57h/FUFz0rkuKNfOiw8/mo+jCqv7btVrpvhcwRI/KDujI8Hwew7Qj
            +C0dU5fOgmmMmLuxqpyfcub1dCuOuiVMFfVTft3a36p+5Fi67WaRpnZ0JFpP
            bDwd6c46lWscQ7ivk+srgythXkvm+R1LwE6rhpx8CMucc+b/B14CEcpNtnUq
            ZqvF5SnvUrg7/ZtCulXQNoR78NuVkmDjMYs9o7Mq8HARTluRdTYHszUP2bw8
            Y36c6YAvy2n3bu+epZz+jCDnc0t5rQmbzqphLitlRHxHm5yb4PkTayjY/Wb6
            O6VE5Dwe/UIxWSbRy70z96X8tCQPaAzXewzUR61Z/MHFieNg2mO3a03i3eTk
            8faC+VK+K47x8aqY/P6u8O5TNCgol7+nv5ujfOw9HVnMf76/befcA8IhzvTh
            5Ankl/WuncRag1GidlON6efkDvK2pOBfkp3fdk69A/GPYJn83IX+TpxZAU9b
            mW/a9rj2N3PiMpYwih/2iYxfUk4N5xILylpsewoVe7IKrxJWMAc0rGK80ewl
            zLPurago+2Y9ANVvIfXmXqcPsLKtKiYM29VsC6xuQ5zOjIGcGNr+hONBScLw
            FbDXgNuG5mfnRUjMLwlOqqQ4NQ8KdbNrSrwbQO2n3NAe8JWcR4IaePxc0BOt
            UI0+e43i46Sd4GGKf1ClzNrqSkBfGcfHurrjbWegO4nOPWC2x0HZwrNQohee
            lZ2ALPPc57QfJNZ4cTvobZ+HnVMdwDOpnGec65kXub/1D/vBwjmGlBRvk62u
            j+F31VOP2wdBufCxn19jcHTB2/aQS3nG3MknNTVXPH/frxJFdh2Bk2PGmR8D
            K6Q4shbeYJg5cqUbYlRWFM8gG+1lUb93Rfu+/FzRdE+NePR+7j1u+YembQdT
            rfZ9Lv6DtSCA/Oj3cmAC/DT6MBmCGXP9tvFVy4nEa+02eSOc63OfBx+Z39xy
            OjFPWpQvAe5ZHBHtj8pREM0WWq02us4tP7XNh99zrG8Z+N49lvMM9WFtmV7s
            tnh3Hz/GwnOOg/o/cjcKTWK5tuf4qQ3XTCeqvMz6nZ955ir+mCvZzhjnxMCU
            nefNKx+I53HWlP32aXqNj+tP15AzZ5Lx6WD97NoMwMguGJxNmueAV3PKjDln
            7Uiwqdobfu7z23L+GdwTvvc59weAr9v+UH4qyaHsm/bfztSYssNsvuey/P+p
            2pGGwizfITsvx+dMaaosTkBliG6mZXgY9bDrBzhDhtUEK+p/ZBHJ5h986gsc
            29eSPVh+C0FzuyyPg6fsj48I2yYp/WWRX69yaV+7bsvOE+YiZTpnRPrEPM3b
            qR5TnybDSY/gWUUcQMg9YrELfu8pID3ZQVfa71RMk+X3avQZYvXD6OVvUwc4
            W9WrDLm2sPEBYQrn8vcmBQn0e8v8YMZ90le91U5XQtF8Js6kqlBrRKYDfYPm
            50DlpHCM1eRpH7jA/cQNHDcrst3gXPqOkWZdLuC9KW/V/nilBWP2R5dHBEzI
            N/ChETUb/grCo4GJ+egHlZ3zZ78BR2OAmeYCLmZXHsidP5F0iDPCe7f0A+hk
            WF+ACjc75QyrF/LzeSVU/nieeeEmhor5OTYuv+c0UM7AfAt3UmiKu83kVu+s
            aqaaRq/6TYxlp8z6cS7/huks9AztWWs3WP9RuPhWyV2uA3j1YXlRr13jBG/u
            zA9FxT+Ik9oLdTLf6cM8KBDpOJ+7DZ+J4pttjfQe1vR1Fs95FcKdf+quf0YP
            hNy9EoVRDqqUt4EHGCPgir17spwSr3t8m/zwsmKW0HagHauMCJ7m/j0VBMO4
            Ray5HdkfXb0xl/hG95pn1ZxTDZFtx2bFGeVUmS8cIP8LyK5LMU8bF8wTI7+f
            G/t8zHO8dmY644dupep+IO7tXNgsOrT2vWn3XKGdzWqH9PBr/BHEszvuOMhC
            7hXTBJkd7LcshtVCJu508EAZ77jDZymX71VI2/OTVdOAcYYRO4CVBKJseMzQ
            wrzKjelB5at30adpuC69DZiYoHgK+ub0wzM60IGyGg2fb9+xFVlR1mI6H7Mb
            gpfijqvgXRZj6sDfPDuvvtX22vGKjItifpw6njtXw3WxWm4v5WsAP62cX0OT
            o7oXoqX9yYHhI3pnMj18ITm3nCyUpsU3MJzSP/dXH+DDXv1jnOJFqF03Oimd
            KA0dyi/kze8lmqz38hmInni7Lbf5FPNBlfeP6Tkuy/sDQkvxeJL/OfRx81Wb
            7QZtTawp1pZq2930WBG/PoM3G5/8Ox/PXEWUUwGrPiTmfKSvpvNB14HoTnvy
            HJNZ2LzpPQCendcI1cwnS1mcfcZMmt6WKikZjy5/L0Wb0S98Smc/5e+T5QNB
            9X8B7mPdeYnWtOfJX7iWJf/hGpad59Ug9eJvWqTEbXjw6N6ZZ9OZ33m28Sk+
            0yilFy4pvTjl1Z3vvNNyz+mvuZBMMxKdDggE8eJxKeOB2SqJ53X0DwWQ13Ma
            P3PuMu7OsXKB+DD6GTmrGrrtc4yXmqZX2m31rLM8LlW+z6x6qT98BYVS0NdM
            F/71ERNu+aTc8VWWvwvgo3XLAyWYc6xNxlpib/3K1SILBtAAl2izkg5Sugvt
            mVG37vszd2wT8DPmaedgijvMNlq45Nh2klce1mLyHD8oSy99eCDAlPvIIXv9
            JvcHs8Hb+92prdPoN8KaLJgN4MBFf7DsrRJ9Zh5a3Djx8oExAaxFNaL8HckW
            KUY+PA2wyigDWvmISTB3lPEIioD5ZDBPmnFgx/ZXuerJ8aHanKoPuI7Pff2w
            JxueDariKt5r88fCT/4lMx56yYw+TKCTFFMaTdaq21eL56p/dSsWph556fDy
            h1cTKJpnjuXx2nzm4UsP38haYk9nhQ6bJwyFe12VzDQ+44/kpS/5me+oxifm
            +7YkCuSHmX+QfiSW1/M6c8A8eyf3ot/3/Gt+bB7lKEl/1fo3ffR/0Udarzpz
            lH0xj46x2spn91d9lp0L90efZ32dTFdFedKu9jf9QKb37l/0sywvyU0ZQj6G
            4F3c8SHk2RPE0dCc5O2YIJXyOMGJMx5B/KXlEElPJ6J5LBtqVX2iJMRS1mX+
            XI90Ic0zPtFbLQW0kXf09a6HdoNfYFHKvEzHMcH5T3pYhCjLH+F7MqDAGxyQ
            BxuB70/cdMxbq+zzssmRD6aDMXMebD6tdOzse7HmRaKTF4WIy9yDf/usu97P
            4hvlP0fdgj2fVTvAvu3jef9+/v1ssFzEUjeNu5OfwJTfb/8KOmW8YihYa6eH
            d8z69NHyf0/me46L9KrRlYgpbBLwc3KG+3k0f5VInehtPuPRUfz5jPHlbizi
            QwL15HOZX9z5rfW4re7xqJZ3/vSXyf8z7/c+P23p2BO23p1uPcoVhQ+5M30U
            jH9gLGYCxU8mhGatZ8PUDMhg5Wbs4oDUG5hHJ7FOsTLmk9kc7mHtYvqQq+4k
            Vg8jb5IvwMswzSquNxw7jtJ3gYXWEfhENQs6vd03rDDP+oEBxouQaDHneSCs
            juYD+yoP7Z4+MN2N8iC/6o115VQMfvy0D0IqO/VPK0PbgzddeLDc84oLoImc
            uSDNzsoFaRclYcsJGujD/MzNs8VblapZC5Rk+NjyuBahFcsxceNRgEamOsx1
            1ougnzB9ZBSrxjU5fjI0vLQ6An2zwomdV17XnXO2Wuw7/dbYxvtXPk/y9eIH
            jqyeSKcgP7/8kegHDIkUwKrfcX3Bb389nywnA233JrRZzukrbnwpfxKvmAL9
            pg47KdcEnTLl20J++vyW/xT4MZ2znOO+zm/GP0aRuvO90n8l+VBjacvF+G9i
            1XoJ7lsXrMuJ8BX3F5bVRGUlC+/p/sf1YBYj1kxj8jzZhLm3mTpf9TeC8uI/
            1NEyGlQ69/B47RneO22Y7IzS2blOmCC8sF65bCzzPjxzU1z6MPkBUMK63so1
            A5Kg2kwV8htrKZ6+My059XHU9XBPyo1QuTdbPe9jBNp+36D8wfVn6QvFmUAm
            OH0xxpMOF+Rnr8Uc8TZngLU2CvHAzv84rE5BpN4NIMmKeV/jye/xzEE/2O/x
            hD0e4BMbT/63xlOYrYv2cBIOlmVJ3XRDJ3YyX3YOHm+ZDLxrbFers3bi5A9v
            OKehqH5ZTObRZ8kGjrFV1eRiXehAdQUNxFI+NZr5lDvVaq6KVtMau3M6HFie
            nX7OSzbgZ+cBoE8DcTR1b6rBB7zH+9QacE47+Bu1jz/atx/t425PvVnGNi6G
            98WkAp8An+XPfdW1RzB/HHNXrcJudZX1TeumTmfaNxFemNsO6wgqurBW2gXJ
            +w88CBgT7puske0mYVMJg8ob/ynXIe24xLbCYbtWoDNcZrWmDJfRzn1wmd+4
            rMxH6lSWoZA/MH0y0oa157d7zwnGHvdqQ3jc++91r1bJGC8Y9ao9Rbkce7Ss
            N6wqfydrFucu3KHcPsoV1OWD5w2PMCcg/W2q4n61P0Lf1zhjzKxJNS3981gs
            fYJbp43VDFSW84g+1zPfHzjMdL2qtbQjxMey+3+Lr5lfoZfjE+qZHTilN762
            On7/FF97VSAMmca8v8bdVDy+cPf1gbvD7/F2S5YPpQLffeJu1mTSdeCXg6Mx
            3tvmmT6TmzfZ5+HeuLu+cXf4wNeVSuTd9uDZeJn9hOAfnjua2p08HNn425mf
            zrS9d++9eK7LvFxVDbQz9zXzbDTBIDXnzQyK3vLU2/0QbmI08RbOYpEpqT3h
            LsmT12KatrmvgwNoZ2zZbMHujEPnZdOf2/LNMOfcgXfxE9nWqLJGtooNbhww
            n5sZNE9bvo8VxahUow8FowJf76Hde7+DTnrTS54sNLzbHjZvgdc+QxvmL3iU
            dtM75t1lDU7ZE/OrLrYj7llAoRybcE8wf0zWlqE6dd6L8oBsE3+Fpw++P/ia
            8fGU1S36kXLiiFSOB+r86F1uNIaehINHXuuRz4SSzZmNEaFHz7vrvuSPvHhF
            cixje4i6lKKCdowCuXq/R3lPikWLNsaplXEr19qmSUU59QNrPEvmIf3A36B8
            xrpUcumLQXokzNNg7T3KdIUWrwh+Ft/aWbkumjwWoxab+v6y86YPv6+BD9VA
            aK/Q9X2ugtLRIIiaD+rXKANejLaNkvd1X30C4vy+Rr8s2m2VQtTsxPfuV9fQ
            LqqcOF1hg2y/Mk/wvayOjjniigJKVfiv0zn4oqZ7t2PugNOWbaL1R/ngYlk8
            vJ9xdxRzVaPQ79+ScRwTMyibd7BcGCooGqgi1Lm3+5UWufBYhuGgb4z6xn0N
            CzNEjgbdkof5sVCMS0Ao8QY7gPUNjxVabkKCR+YL5Eu33Bnow7TlyEA5nVnQ
            jr7vjz8rY3of+UC5007fufM8JcX5f+mQb+Z3MF/NQrsTZfeti93x841+XqcN
            8Ndv25iMzvrA5qPzed/6Vuykaq3vOBi9twbTKRMWH6tSK5lf8fmkETdtr16x
            0lPWrScouxp5tKaaYYvXmPj7Us4O64fPU0aeyloexO8o/0N5+3WUdSsLXAzY
            8Z26gG0PkvqBxgGs3z7fOd/Stu8S+V2Kmye87GvRm46EdXVY4Ho//6k30XPo
            2+D/XEN71gfYtqhU8+tZnRsc0lKDY/Np52TReS3OzoHmdA5cFpV9zTIaiOdl
            X/uab1H+Xk42MeWXaqZ7CY90Dl46B4yJeTUo24bHfJPtOku+umD3qK/5vCdt
            3DzP/bjHLHzpPEdl9PueJ5LuSsyrMcnOGIN84Zg9+vhDxR7Drne7+5Hc7ZwS
            WD2Wb5oW83rGgPv5oYewC22Jz/9qK1i7rlNjyZ4BOzB+baf/j+uFb+m3Irr9
            phWSCZ5Jf/TQ/fFHZgoAxmzQLkf8xVBJr31O0KC3Rzy6/J0zTXZUt/3y5F2v
            KoZBlgD5DygnAnkQwPGUrxRopOzeNI463K+d8ph/JvPssI4v7SaMWf/6Pfbv
            +8fvuX+vH7/v/fv58XvZb/BE37+f/dt9/w6X/ZaxxuS19nftWC/s67fbv4v8
            X+XjIt5aGdncmsypzMJhrBVOT0n3qkFgVSEe5v4rWnMQxnbiHlSGLFpuUxCb
            lWKcmWkYR0ol5EQ7Z52FmStoJRDt7owqZa9JlRTIxYmXcK27nXdJ50z5a6yA
            nQMQpNMf+3wot4FGmHZ/dq77q9CnLgzzmsxP07Ntv9sH6yvuvpitZ5sudN5S
            P+ka7fzZ53usc9j5Xa2/fu1vcnbd73ar2XnY/T77ftj9Puf+bn9bjbqgvFwY
            em3Pfews5PgzpPBPW6hyfDkGnZgO56EkdWICaCJaTAyENe+PMCh3ns4z+XnL
            OUHEoZwjaVHRlyAzMJ9GXA9rSYBTTczNn2QbY5IEcSDe+lk3i7VZPgSdM/aO
            2WooPbHkN33vohkhZDchN9re9jXsQizrKt60OuOZ3982yv42Z982O0vX4rtu
            ex9kaPuuPR6g3lu4n24if/dd2LP6tv1NzB26YtQ3Uh+8x5fokcV+q77zPX9c
            l/MeTxMKwz1bYcw4F4u8XLK8vXtcmXZi5eG3c8hT1Q9fSPsh97ohuZa54eq2
            HYIDYUY82Z3IBwDPqrJBOLzL2H7Eg/zdiFEGYXezJns/dk3ly7b2suGGkJVD
            e2wbLteS52C9wrZV0peLnh3h1Bh+lN9L9knpvGmbmkE5GNEm9/Ruyxxzfbct
            s+y2yfI1jpRbuiNj0oPy46oGYwzyDwCTB07eKdaEtrVjjyX92vY2zE2XX/dc
            pdOnmwmatk9RKeZTNBuVClyqIp9D+g+X+M7hRH9bqhq4Bg6AgEXvqokZmBvc
            ap3KZu3kM6os6c0RN4PcMhz5cm9b77VZFtbWxN4E833H/pXjRnH9gbkuVPuF
            +eGo3qVPYnXKP5myxjI966sXyyWs6srD0WyVaVUkTvas/sV7ymyTWXPU8sKU
            V+44+lqybUoDE/LhxxXuls5+jc+sCeudQe+a5NLEeTNbKliHXY+P/Sp222oM
            X6eNtEQfbfht2p/DaIW+Zdg7PHMxuX0t0y8BsMjaptsH+tCYpRJjggvq1uUD
            yzoFtAso/3ZlRlaizDtxToAvMnWAEGZu+fTXnTd95wRS2V/mm7ivXTM0Uc/E
            mgKgyMoxxHqQV/jUy3jTy4Rgvp5Kdl05X1S6xcIcjAR6mc+YQER5Ly7W3dSc
            P2OAGEKa6GGduliQoQ03drCaN4u5aJ5kiSUtHfL2VDZsxQ8rnssr/zaLANNW
            Jj2lAxPFSNZDj6k3Y0wbcxTpWeV/p/AnPxJ6Gk7mDkI71YRx5EcKrdqqQdEZ
            6yD/9mZjvz1zai+7H0h0B0QSuzdvnDuDpekMFsRShTsBVjyFEY5TcZKsn/Fj
            PMz3wtxLZfvyBMzhqedAWfcd0wM5uNv3s57c24Yr+7NLjsbPcd/ReMaooB4R
            WPlBXrcdwbRWy5dqedePn+SYSTworQcMiLyu77yNnAtHPt/8EpnHyCkHdy6q
            X+uwn6iXpM85TakZf/wu4Rj6kp7fnfr3r71HOmxrl8DTetmnp3zwHY7r5Xtp
            +sOya9w9islbtNd+1Otbynv5EffHe9xfnhWqiuWgvXYNjzM32VwxX3PE3Ezi
            Meb1wh3iNbBx6Rv0cEEPHZ5Ud1itMulHmUUR70usfch6rMwN7yw2knLTIKvP
            4qH0gMjCW692yg2ULa6Oe4D3U/++r1Q4+/x5xenIx062UeoPmTeIfi1bXtAc
            QJ5lLJz6cl01RJ38q1k3VX7ZjLfzJ/c4aKAD1lhDPuPF6gmpFi2xTLG2v7Tp
            l3I4MT2ujqGpvm7f71DusLnrKHTlqCSoK8czK0DIHsn6qttWRCa60k/OYkQU
            E8rv6MwHF3adubbtvMQFwHaa32RzBwRiPn0TYjk4XNb1sv0E8F8xn5pLfG9g
            PEjO5dQxxe4VX+WZicxqq2ocgF1IY+uODCW4rC4A9YM3426oP6aLFevtUIfM
            2Dx6uZr+s511AHw8p94oz5mTi2Nj9ueu+q95EsdT0yTdGoFi7HqkTbo4vXfS
            j70qlk15UoZ0EIv4T/2cGhTAGYyvYgkh5p+gT7PFcE4lPgXMlwZEVYHbcza/
            cEj80kxabVaW+1R+EGZxrMro5nORPj2bjUJ9KS6YPug7Dz6dy/2GP/pJ1261
            CagHOLW53K4913YebcICfQ+Y046/n8vqoXINxFPsuluE/2r+ge6sQUmQ25hD
            hMmvUpUvIousnfpunOsxbQ+oNgz9Ilm3t/Xn3E/tWWCpC6WjmwmV4jce3Pns
            M23hZIw4huxu1nvFC4vq/7bAHFU778rOJ3HmZOQ9J9v+LZ8u8Knie9AHJPoh
            2GfscHkUTmc5ULH/WvSeWWypY2WFhEdHv/3TzU/dL9ZosBrz6g+cs9k8GM90
            nbW4F+Zq14lQzAjmLd3AofV51X6jO8vZq+CLLO255ZdxrPG062tq35L/ipa/
            uxy4Y27j8/y9n+8MKtJc0RoiytRFR4flQRY/MzS+5dIbd6X5tFeNYWc+Rh8x
            xdTh0cIwD96nL9y1lAJmG54es6R67ydr5O7651G6PAhM8zsu/7V+l3hz1QGI
            Upyd2gaXYi17LJbLqiuPJdNBap+RvOgaNVP7mvSF3XJoknbK9ko/umQ5hlRT
            Lp33Psx623sjGqgkVQ9tkMzYpTrRWXWiwdHSNoZRsVBisFwrdeOBuPHA2fde
            8Am5CUfVm2Z1gouRBJX115kDUrW5JK+3XPt5btNX5nHvZIxVn5UirVdMa4EY
            F5grQKmusnhh6Zyc1RyhCz4hpwuur/fe91aflPE4olcqriAbleQ5Ny1nIGb4
            JQ/TfqbwBdC+7pgykikYLAfAmTu+c6Xvc2bRIc67dxyN4mrxmglhCTud+lrK
            VeY3lOmtV8fB333TolNbhDYpViXl+eq0OilPx71zkuk7ZcZPVieC73umeWKd
            PhITTO91P/Vwyd+qNoe3usO+AUafneePMRHZfiuvOOVHWyvHfctw5yvtmKVN
            D5NyvtoznsSE4brKD28aGOMP7MjBWl0z81HFS4Z4IYhhPOIN5rcQrT21gFaf
            bh+THevGrXHnJ2yU8FmTLSv5JwPanHSOVfnG7vQB86QmuZSg9OWPyrOfergX
            eD3mLntAd8IrRzX5zQmZhXEMLFfj/2IP7xxLn/uYfqxnH2tPEh+WvY/xW/SG
            CfSLxWQUGv0VQG35iozGe9lanymb+Lj8q4aDckNV4F5r50zPAIC7NyzwPfLj
            j0YH5OsSHvEEd1v5Dqw/wGK8v+KgK77GLl9Y9bftficm9Kzb2LxsiB+8LFPZ
            9NGeKNwXe3zxspbD/377imXG83P3cM1UO9leVxrz4e/f2WzVciPgkbqnLbfo
            fOzrzJbGY3F2BOyz3g/oXJfny67vfPCfpw9PMpmeEH+eJR4EpDAamAlfkvhS
            nnR6DioHNvj9O3kQM8xUUiJ1/gb3AcIQrU/DR4wUsn73ud/nrJEK9sDG75m2
            OZxvU7u6223fKUcvlMvsOpmxohv+XVJMDgM/gFfoTKA8xq+8chHkXrAw3vDH
            36dve6d71UYaoJNn7jr97ZLlpVnnd9P1PW5dD5qrj7EdeIPYyopELoLpoaY1
            K+ea5Y9jNVrhKsoohfHyS0FyhGvmSaOaNlyWw9js4hu+ZpWukbIW/RMf1i3h
            eVglKHcXPbDespPgbX7Dm2oipnd+QNrUPumiZHiSQNarY2DHbbY+ZSqtWfZ9
            wWL8AYtxw2LcsBg3LMY3LHrQcMLArlf8uscM5taeuMtgkVBp9+ljLz9MKpVl
            lNF9UK7zjHLOXzcdyDOY6hQgzxz8DwzRNl9QmYT9/Lbv2OMkDFSDAaxRJx0M
            kJQWy8MfX7m8nyEMgEO272XuIdL4Dxhg7RTSGtNLLK7pmRvmsrA+gnJwH98m
            6f5Yb4d5VL3RbvAPTD3ozY87C8ed/IO4B0RtOhu+B3gPuJ/Zu+kkPwWZlnsO
            YhY4McXXT4MpvT8oY4L5g4R2YIuZx7NgijlLF+nvR0zHD7yV+KxncCNkSAdY
            6SoMmyy3ceQ1UKr9DbZHHfPWveMca8mtNM1Tt1phFvxXzK6Yi+3PwFwmzOq8
            98OuOXtqwYPgFflDmX8UOnjj76+aKrsWHnOPVfGmprvlHgTv006uJbnBOubW
            tbxDLp/rpR2dIQi+8g8zJhM4Y1HnYvG9O/8AJQ3G5l9mxT52bv1meOKuyfRq
            v25xBsAFrDEnDxvqCL291/L/J+W0oI8+ZdrBEtMnVvxdD9D4h3UZvzCaHWe0
            IyvQ6/rY/ETd9GuKfyMn2k9fgxmUMU9zvuvX4sMm1mJWqzNnPBt4qjRM7qPl
            lH5/l8kmQfkayCPvdbNY4Xet2eKlu1zMQRKAr575DW9m2vKO88KsIdrTFknM
            RC4WHxeVK6wxqXWXevIGPYlB9xlvFxhrWerGIbQENekIq8UeACFOy1ct/Cnf
            ulde3J0Tlzo51Z6jbZI5ZrNkRhafll8Z+XcyqKoHiCHbcbzzeRPfsVTaHKTr
            /eQGZ7AJ86yEra/gO2KwOlenXd3twFGYcyDh4jY9iNU0ZSwfwxidnNAYEkgu
            m3We6U6kPC5KonL/2mcyPoy4hT4ZM9j1e9fekg6gg+az1jsT2bU8u7P8uvew
            PIMnFnju84uIuVuMYanKBd0cK6U68z1ztG89EIn3OVU97ujQq2m9Xt/G8zVc
            2HiSPKljDNlHnuD7VXdNcfWJa0N+g3rmfzTui9kYsKItiL9YzfSZTJH0yZtf
            y85B+u0Y9zHtY97Hvo/TjsxR52Tk2PGH9Emjiabye4Z8tDPrX7L+XtHea6pT
            XN7xIVx71v8Dqg4kAfxNOVk4kxOW3jjh8Kwnf8nhXdeucb12bex0sU4hPpJ6
            cQrrl+L3iLpNjqT6JKree9s2qtlAD1McOpY5JrPygtVVPa9PfY7lgjQcxyzh
            tPcrvqrcjv1Fk0VM72HaNcdIzVesVVC9yEZNkI6Tuc4MD4ft83jtKBzKPIM5
            HshPXAyJiCzx6ikTEWvTUYx4u4Amf8lA+S0DNbMAk04yayHgjn4m+H0x58yP
            XEaASNbuZC6kcJkfCNtqnhjTNe/K30G6QlpP+WGlD+kgwVEwcE75GDEdpSTx
            cZdyfF/vvHq4NtZv15E+jkTouhmNfyA+y3Vfz3bdRUpQ9JVhHSGJI9LfYkEg
            aDN2M778VGKqyqFF2sd5kvN4N7nkt3wIAI38LxeZsUa0dZPnkh6HdljJFkaL
            KS+KcCtLwL1z5Biv7pjC3WweL75ePEwxmX7T2Z5Vo+zNax9aQk0Gv2n1IVtP
            aX/8OVfsqgtH2Yd5MMmLXF5ZDRgMv/NE0cKTL8kzFtuPdiXK97PSfx08ymiU
            bWhXOHyMtXmUEeC0Y3ph1vVgDPfhcdjO7KSVOQILiN3k4kPGTSd3jdpEa8N6
            ZPLTpe98Hyy4lHZbrpC997HfbE9eWvwTRGEl4bt3v3X3W61fyepaC8tFBQJp
            81vteULc/JgHt+fBXe+xQ2qa10ebutvUj7kCu9Hm11y9x1z3mCv7useUfhB0
            3/c4SjX4MxuYz4yTos2Le5J+3tINWw5wxVUpIf7my8GjDV8tp89jNsq15JYB
            OMi000d5y4iHWRs/qtbXMPskbWTD3tWb/CxYrI/qt57xNubFJGxhDjvtCvlj
            HGBu+xc/Q13uGC8e6ugJ2jSrJOMcE8azPnUCu57gxUSH0+r7TSYM7yR+1JbJ
            NlBZ+yE08KNLiaWbpz/gxTFWq4sN+cfLJ0/x5NSryP9FsZKkfdheiofDXmA1
            8NHez4h3AD6z3FNb78sgDuZSikx/8iOvKseZFcdXjh5I8RlYWebKPfqbweR6
            3LDhxh7E9bDPVY+w1mY5xgK/IbIChVN978pb/XxXYm6F2tY5//ALMz+yfH3a
            JFkzF3M8a/+ut6DSpcXyeKrOD+ekWd2MaTmF3WveGKiSLHc9cwlQR6EaRu22
            WHlazL10UZAoydd65ciVPQlUD/DHPgZdjcUj1l2XgJFfN/EU3leVD7cwJ05m
            RcSdH1B5H+Our0i9pOIxLHaMal+dL/O5Z/2OenL5RuXU17cqB2Ta3mmBOeet
            xpLpuK6g3I7MvcL8BMG+T+sfNe7OZ156aeVQ6/3YeU6+S+UQ5Y42WWDYvhqv
            /ISkW4E+Yz7e8W3nCWRH6bTuti7MFdrsaSgD/HT5/h34LVoDOao7499GsXFW
            1YSIyq/MPMv1XZOCMjlz/nEP962nybveVTxxRPg/2hPJPKsWXdjjf9dnCK/6
            E2XXnyirlCi94a1tFqweJ6uK0qa8/VwBMc9wctRR/l/urdXoVUWY37Ioc8WM
            HO8ZP+pYJFt35ZnFvESFSmkeIFAYzPetg2KO1T03yu/Yve3v19ykd52JYjof
            xdyd3596QOzVVYPZqs4+DoM6qaZ9xWduqiIdYx4bczEzLX0O255EeL6z5FEg
            klb3mpgPW951zKm/VewJU3etiz4WqkERG2O4It+Ba/d+hjwZ5/BSzpKktXW2
            /u9c1At4Q3mzOVG/acO141z0nQt0kJ93zD2CTXf0GsvwLXYuU6Npb3rZcx9a
            LLDHi/+U8WrdeYibao/9ev/a9+VjXrzfMib3QZ+R0XF6r+Lkou1TLzelphoI
            8iC9bW+81qj2IfkSb1CbXffAW5ILinRD+3OPgXlmDTf4l9wkf44pO7h078Ir
            zIs5jIcmXuE+8IV+1EwCA5zhbU8uMC2fuIbS9sE1GkfbeKb+QzxTDcfQ8VY1
            K4Jst03v9+ir2vtnEW6+zrvPc9n8k5SmhHNsNb8iky7YnloatPAosLi0l7uO
            rPLXqDASpJe0+d1FeYd6BzByc2x7APbUs176JMWtc1szbz6TaJWIncEaiKD6
            krZ2DXNaIK6dv4f96zvGI3mHVUZc9nSosBgShrOOjGZz2b8HtOCe+jUAFvPp
            D8DjqaozlpWz/8aHKA9r4bhK8szDWlva+sB1dP6JvkEQgR1NDN74dbBgkEtS
            Np8DVlugzwFruMleSdpLvTZz7qetE2XeZdbyw1XpsFWzZqzrVXvl4zsbKPDn
            WGZ8AKDDnXGo1uB/OI7wYxzSDjXVfGXpD0WlQggpl8W8JZMlutUMz878fliv
            DQTaWy0YplBKfyXbqG7JWkTg9XxPC09vO1cS2zBEI5PuM+eNTLHydxa91DNO
            vp7ja9xUBFAMWgv8j1LO10GQoa9Zffmt4JnFuoDV7pO+mQ2SOtotdzE4JZ26
            w5KVGBMOHHbWIyhXOhh+55/lb9UcpK70Jvx8yHX8lvOMD+YPQFlu0ecDzzjI
            49jw7rRxgEri7cT9mYxO8PfY9hodVdsW87B23v6De3YuA+KdtWXITxsKcRbm
            /ozvF1kTnFPqe14oK7br/zV2Jdmtwzhw36cRKY5LiqTuf6RGFQBJSX6/16s4
            jmPLFAhiKFRtal6uRQsgIdB3PRLm6mXPScL3XP+mL7X3R+wwNmTZZpMTHfdy
            GM9PwPkRzivgjAXXHhRNz3RMKovr38jbmhZ7QQcmIrimSXtVe+n0YtOcd4Ud
            at6hV0S0G3lYAKzw2FvO9893xlwlXpe8fxtZd2Yc2a3XfRJT2Ru2hduJItY4
            r4wrHP6YnG9c50SlrqOcVutOvO5qejRYs6Jxn+XbOkIqr0cHUw4frIxc2Up+
            Dd3wI9/rhL8v/b1++objXXNT2dM+WObM9fL83jQHzuz/b338YDaLfYsiaLEe
            ZOjcwwBgsguWKQbrNvPakPbdftp8+fxePjbGHPZ814Pc83/qD414I9zfivuL
            Xof8T0fpSft91C4F8Yok57SvBy8VqavNeEFu6o/vSV7lXzH3HsYNgdz08x4X
            B+I59IwZHGoBwy8ANxXt3gcyQtpjjbbpY/eLTRnNzvinz+n5hPIL6bme3nMd
            Z7mf6zjjn3P9U8MBTtyvlWsI/Fe7KHa6MzXr/uz9H+vQKFKDnXAO+Uk8HfNh
            y03EZhYrbjwbBmuoVAjLVAr051XbLJo2mvV7N+/pZTidajid+nttyE2BWeSp
            uT77Lwu6VBt6UAdmLT3Plx1PDcuRrM9y6OBObTbAE8myiyHwgP2u/T15fOlj
            jefsebwmv71s50jFwQMclN//fKEvso/ftoV4CmXJZNwkWv15agWYPimOBUXJ
            Ht//20f92p4kTHMc1/9rJ8HjQK87eI4SZnjsBH1aOfwa1zvIckI7aS5qzG7/
            Xa4daz+r4un88f86Y3D+jLTUAhJxTtrHrbLvLZe5luJAsEZzc/+R6QUnEXvv
            G2ScMXp+w7XM6gvdL6h9l79xRQIrxj6+55bFFI+/AT4hJJu1xL5QrawWq8Yx
            pACqwLdr7A6/iYaS+2IUvF/fo74cdrin4eRNDzicr43MCZZM5F0fvzHkCWBF
            8+f/UNuz92X4+vHPsndZI1lduQPxHjd4GcSomGsigG63gnTmYsxgWrWSh6p/
            S0PteMt9ntCRODT2buJbgQplbLK194k+OOKVFd7rW9vizEAukhvcas/vUdeI
            mnuSb4WSs9Jk3vksA6Nxjy+HRtu7nkXXc+5ilpOz92g+2meodf3GCs2YOmUS
            ND/IQCXpXgusi8SoPAyk54c974Xzrz/2PtiT64+9F9urgzpv3e0bGiTuuy7D
            x7B2NvT1KB+zdgbNoPyJM3VqWmuCwMVkq8GHsT3GaP7crTnW4bUkrz3lX7Wn
            SgwMdUYOMnPZ48tfZ/uSo0y6dvUMk3WFdc9uWiWhqx4hsTb2vgd5WMNkvcb7
            qhBdW8pB8fgeq4H98D3lp+9pvfU/fiev06+JeabkFpLTU18XOGhwawNDkQsa
            Kv9Yx/qebf/IKQYxx1V1R0qnLRXAkv6lpVc5rfXDngJrQJFz89QaI8YCtYCm
            96hw/9p9s+ee7wM29kWc9kXNcuXujx0KkvITopkV81xb85Pf17+Al/vUjTy3
            y+JLoJspNno7JtnrC9SoA/YYNgIWgG54/qI+WdYE8O8N3A1jTJIXi5ecT23r
            YoyMe4aVqzoLAI2JEzHQUF5Sw/2JxdzXnW/gfS+xrmP46++NLjPAmumpY6lW
            8qYmHSYOICcDtPuh7yFreSY/EzZ4+7/vLZZR1W7w/2DN92vD0WBqKYHYh3R3
            vw727hAFBPjxU7zJOHPF/OJ9Kr+TXKflBdTkK3HP+Nok/TJEsMKrscr89+Y6
            Dto9AbrjOcOQyD2vnVo7aYb/PBNoqrTO+XC8xr+6lm5fllOHoLo70CGnpqZr
            u6GGz/9HrAMiANWaFG+ECUVJ9UONQ362IOlh0ND0UGEWaBsP/xyLoYPasOrR
            HRjXFTsN8q3cXjFnhjU+xTbz2DXJioppsB7uOBHMT0IvtkbNQ6lvlFQ7mted
            nh5kcSzPYRgflRvaD/aYnP3ALCrfBc5pyKA0xkSsJcnHbezb1oEpQa0X5gHC
            kgPnL/e0HEcS2DreBFcBvhvFM4CL2PA1Fht67Pjo+rnOX1MCf8fuxK3938sx
            PBZj0mOJ49Dhq19Y1g8Wivi3opgo/8xl+B+KsWVMOL/4H+icQhKsW+82g2Ia
            E6modwOPQFJ/MTvwM0vAO882OSsLwruVLnDYsGcSxAy7YeYR0oWawHH+aGsN
            Tq2SZ71HrSVBAZjrOy6dl4xLzjexK1xHCQ+2YTddm+1rdOsa+Zo5zgnz3fie
            BLLL97yS8vOgXwSckwTY7asdGG6dnURfEQzqiC8kzB6YjcYQBuTAOEOX4gzk
            /bmpVw7/u07u0cl5EZsrDFYjBr8Ba/XAQEZq8EzO6GEHNY1NUHvH46JcCSQ4
            57TcUt0l4P8zsP/kTriez4COpX8G5x47e6JA4aAg/hPDBh5Mn+0Azm1f7avl
            5zixYjYWb+jb5F5932Xnx67pmtSzRG4ayL81SKLcqbWhnPXkrpechWKxVJwX
            RwhEF/bC7NBAyX0k4xZf1O1ZmHGNHFBSfjLxBPQU4CKXD+oYhRgEaRCco9oL
            WB2zDVTY0LdszPc+XH7AfsspxuGBgO9yH5LbXeRrEm/P+nwp4+KMmxzF4LJP
            EjpvtR0x8atCewJdsqjPib/CLFctk1vtqFuv0fjFwKsMxVWbLSr0s9G40Yl9
            wo5v5eEZTYnxawf+Mhi/MveBontVd3Uqmi5DR68DJCKWKmsZSx6H7VldHLm5
            YArohfvWOE0xL1ve19xoF4Y8IGjA+WebjasP72kUDxxda6k9MTmwDOEsrLFt
            4vwUwzYeXcaCc/iiNscwHRKS6HDfqn4I5sFkD458fPB/B3woeFhP6JcoZiQo
            73en7kvQk526HJySoAYG+IyBI2hA/8Dv8P+QC27EyGcEfyo+P8PPQFtB/CJ2
            hOpSE/PfiHI9quSjCbiijk2I/NMe62slKoB9YyjdYrJpv4OXKMDmz+P2ehFK
            xcxBG+uzmyw6CfhH1KLB1039B5Af1i+/OSR0sUaj/tVNoCCg7ZvAigeYO1Qv
            lBwQAazWt2xc+BTlkZLcTHmkqvoATvTvGxp0CN4atb7A7+x/W3cJFwckX7xq
            YzDeD8NdkEvXNC2MB0pt23Voppzu5Gox3Rnj/77s5+n6NP/gXC8pU22M+JDi
            fhmci1WvhwOJt0KwgEFakMYGR3gCozT5ouuhWC6l/lI+tzaZ/1+Yo8ae8vfA
            85jHu4ABFHsh7zGNoaxIDn4q1J+SgGbeo6BnQTPMj+OR8D4rXghjLtVFPcgZ
            B11vVyG77//8F2VGFoQ= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
