<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.no-one.BrcmNonApple</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrcmNonApple</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0489_E032</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>20702 Combo</string>
			</dict>
			<key>idProduct</key>
			<integer>57394</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>0489_E07A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Lenovo NGFF (4352/20702)</string>
			</dict>
			<key>idProduct</key>
			<integer>57466</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>04CA_200A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>LiteOn (4352 combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>04CA_200B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>LiteOn (4352 combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>04CA_200C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>LiteOn (4352 combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>050D_065A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Belkin (20702)</string>
			</dict>
			<key>idProduct</key>
			<integer>1626</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>0930_0221</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Toshiba (4352/20702A1)</string>
			</dict>
			<key>idProduct</key>
			<integer>545</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>0930_0223</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Toshiba NGFF (4352/20702A1)</string>
			</dict>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>0A5C_21E1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>HP SoftSailing (20702A1)</string>
			</dict>
			<key>idProduct</key>
			<integer>8673</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>0A5C_21E6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>non-UHE Lenovo Bluetooth (20702)</string>
			</dict>
			<key>idProduct</key>
			<integer>8678</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>0A5C_21E8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Bluetooth USB Dongle (20702A1)</string>
			</dict>
			<key>idProduct</key>
			<integer>8680</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>0A5C_21EC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Bluetooth USB Dongle (20702A1)</string>
			</dict>
			<key>idProduct</key>
			<integer>8684</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>0A5C_21FB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>HP Supra 4352 (20702A1 Combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8699</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>0B05_17CB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Asus (20702 standalone)</string>
			</dict>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>0B05_17CF</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Asus (4352/20702A1 combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>13D3_3404</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Azurewave (4352HMB)</string>
			</dict>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>13D3_3411</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Dell Alienware (4352/20702A1 combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>13D3_3413</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Azurewave (4360/20702 combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>13331</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>413C_8143</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Dell DW1550 (4352/20702 combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0489_E032</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>57394</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0489_E07A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>57466</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_04CA_200A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_04CA_200B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_04CA_200C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_050D_065A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>1626</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0930_0221</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>545</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0930_0223</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0A5C_21E1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8673</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0A5C_21E6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8678</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0A5C_21E8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8680</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0A5C_21EC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8684</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0A5C_21FB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8699</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0B05_17CB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_0B05_17CF</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_13D3_3404</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_13D3_3411</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_13D3_3413</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>13331</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BroadcomBluetoothHostControllerUSBTransport_413C_8143</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>4.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0</string>
		<key>com.no-one.BrcmPatchRAM</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
