<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0930.021f</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0930.021f</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0930_021f</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0930_021f_v4431</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>543</integer>
        <key>idVendor</key>
        <integer>2352</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0930_021f_v4431</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvouPYoy8+X9nlmAOuC1Pk
            8ywppxJxf+G/Fc8i7nNuKJMwkBpiCMHhv943tF3VasCc8OqKZ4+OgL9yVD5p
            QSuze9H0vuP9rJz7HOul0p7/G/5od3/ro+/50mg8Gr6ONC972ruL5aqTv1S+
            t7sZ1Pwce56pxjPP3EPWvnBuz87YJfq+xuBYVUy8+sPdvbi7lfkc61f2de56
            1n7vdw/CvpbJ0aPFvtcm4WYe3bbejOx2qa/ynIlj2n/VXKtXZVPX61/R6Nv8
            fH7UMGwcX8/zHl+8avPaAQ6LejzLpBk0W/2rrWPPYf9qK+Sw5+6r/J6kEb/6
            nII+GF/1zzSjjfSrnv1vftWDTaYWzq/++GrPQ73aR/l7Lebnc1+5Cly+z+eu
            7Ofx8zk6qPrjd/3HLj9/Ka9tk77rz4cgU/oq75LVn7/KoxZ7Hn/pZ7dd/fm8
            TetP+arnXDqb3FxJO8AXbNdrPssAxsTdt4/n98EtX+Wx+Opbi5/Pb/g6v8t7
            O0mzfj6PtarP86vdUGKyc/X53C9b6zV/ea4Gzq/yIceNDa71Md51Y43P5zaD
            Wrv10568vsrf8OGqn8/R/25H/Dqfz3swkOKPz+e1Op1fHz+fu7bL18/n4y7/
            Vf8xrfz5VY+37qC8dkAQzIno57OMy2mfl+tr7AJGtX6Vr017pn6VT6hh9+H6
            nPMsMHkdn8/3lHAOP57HaJspf+2x0A0w1a+9ZDQAxyW0+MvaeWDI5/O01xpb
            8+P5dT+fn89dOG4g/fH8BfO/6u/38/pzu2H+3G48fm43xp/bjfXndudXPdee
            Be2AWAzLfNX5gr1fdd74dM6fy6/vPm84sH5T/6q/ef5Vf9oI+vyq/8Y151f9
            9X5ef1P+q/7VXtSG/5jbfbBr/Xx+w0NQHR/Pb/zf4lf5PW/tq555l/+qx/UX
            PfLz8/ib5/U3z3+oP2ftgJTP11r/+O38Td/Wb/q2ftO39Zv6R/x5bkf9eW7n
            8fPczvjz3J7f/Y+v8xs/6tk0XImfz8feG4CV8ae9Stru43l57aX40/mtX/Xf
            85Ai1uL5fLzgT/6pXcCZz+f9BWfyT/0hOHw+LzUO7QBQ9Xed8fvbvRbgVcrH
            eZw3PfD5/J7D07759Xn8en68zunPz+fX892f6/j5eSIciL/O+fV9rm98/bU3
            7n6Ob/i2n7v5Wf+9x9z8Da45fn5e9njveo8Hl/bTc7fn4d7r9zV/7+H5OlPl
            pzNCXpLEDkZR+Wwd2gGFdTtvh2sYB+lc9xqptnLds+VA6ngwnAGPI1YnYeUy
            VrX86f2qpMNFzV7HJ7M0vpirm29Px/Hmho438/h9/8XhAthFUuPutcr/zj9/
            fH4Vjw8WEjOeP+7Lq7v3qa8f9+3Nym6I3j/ux2v4N3Sbn/dufoxv+vnRwRlm
            +LiP86PD4K7S8/6M82MAtWoH1IRVOcf6eHfO8/N+nR+DPfHv4/46r391f3Tt
            4fk9x98r8LHFX/NdviQC7YtnH2/8sGfunrF7pl54Ys/MGybpOt4wx0Z7j/Ie
            zee1GInWbP/VHDbl6U7HE+SPSCgZlrPzhGolqXn8er0PKF0FZPzRT+fw071O
            +5yPzfjciZmSEJCPdjb5+WCJk7UMTdRlx8E7npmxTrRR3dd2vZZxgy3ZRLo1
            fbQzNi77+9iuHGHH+3HfdfbrfUfZxrt1wIKm8beMtuM4X4v8LhOwZbXIHY2t
            Odbu2bNMPGtcd5nUhuakndgc7zKpxWzSj4Yyp7WVKFt59Q64t73vxtx39j3Y
            EuwJ7JYaiFDse6yDf3+BsazHF2XGy0bneGs9x3qcjzJ1UK6CvZYWRudsPrN3
            8VGmgRkXz5mwuZIfGkWq7jk6kPPgcnY9ZY668cJzloarIW9ZDebYRuA/Z3uu
            mec9S30OLN9pO6AbRxI+Z36h0VPEA7oe59h7Ci2/y+DoJB1q8ID42/Mw3XOu
            wNvGqTKoAhPUTWbybMsduSZx5LVjjNHKpPhRxoGfLOoPpuwqNlcru+tRxg9K
            SbkunM/DKLj02VZo8V0m57FlLB9lYnmUKX2X+ayH3Ss8L4VottrYV/TuUSa7
            DXw6j+luK07/rAcYEriS9WD3uV0PgFd4lKmBHMdeu9XtFJzVP04c4FGsWvde
            riNkm8PyOa7uKqBHlOzomJjDy7jBcaOK3v167/rMXfW6Q63lUddwBxCtkwyI
            IGgYbRrqowxAMLjaXcb33acaHqfPrRYNu3SgojFtjgC4xqPMCYxkZbAsOOxr
            09/PsV1r7j2ENVv7LNUYH3PkwW8lwe3GfeZtHuvHHHmXCOk5erTVdn/qR1ve
            pzpsHrEecVl/LopP3mVCq7Xe63HNDbk+24qt9qR6EgkkO7fts62Uo3EuHd3y
            G44A2j7LYFFNhjsoIM9WBuf3sYd8SZQZcZ+dPDI2P2NW4wVmHJ/Q2VdHmOlt
            7Wq3MfqZHvDLtzy9ytQlmDJvflJlgtGT1ReH5aEsugNxzdTziU2PEaC8B5al
            ICMAjgTMKTAi6NEATBTJ52AXVOCIHse/W363blRE4pxeF7lq/Dfqv1X/1fN3
            uamnU0+XSi+VXvWzHHnFS5zYYVqYie2Zrgu7v1i5IL1IwMqbxP5avIICOK+y
            iZZ/8Kfd17XXdS8sfv2zv9e31b5tjlDr179V/vq7F4Cu/PP7j3rWrqf/s78f
            v73+2d/Ht5d9S53TP/n7/rbjW5Nxm+TX+MP/3JNLJ3mEv/5+aydxvK+//iZW
            Pk2cB8CD/gVfSQzivmFDgY3gDosFqK4YVj6LF1sGZOt4qJKgp19//a3fD63T
            Wgav/aZ4z2RUi48v0lkUit/gvia7D/u+7/v2RabXRhiRWvgnjNQANRH+C/wX
            tRqD4/zX39+ahZdE/sFdPzn7b0561hdz6Ywb+WIbjk8JwE8c+i7vnszRZ+uS
            2rxUoD++f0mnf35/DicsC0yoP4C1i38PiYnGdy/p1+cvafnYUvLv+cl7/ray
            6Jf348f2m7BE6n5IivCSRJmWoW5F6a9t2VzdEu/vsYbdl7PZKfn+ft3aDeks
            f31fLqOUfzdX9165deHf3//p35/22q2B+N37uefnF/HNay1N4/G7An8aH2c9
            PyQq36Nze68dv9lrt/T5d3v5lkKrr0U7YNwPfikb/1BX/cP7P/Sl/uFc3Gvl
            2n98rev/17W+/mtr/d+fvxC0A+a3Zcmv/0Kytl4wJQRPcHNfX2MOVu67/Bni
            +TV9H+XbBYyViK/suvZ1FuOuT+eCUU/gNPA8rpsTt2ve11LsWt2+v+x7BySk
            7y/7/ip2BSGbfurvTIe4ULTvn8/v/rJ6yU+GXf2+j8uupThxTWtFJ1nKfr+a
            XYOz9zHZ+5rs/p4HX4D30w97+trj2PMgad/4tVyOX5LX96k0LXa076bRAcs9
            cab7w/WuaY8BLEqzOXH9p76s5sT5ncWu17Ar+E1JHqKz6xznAi192UoTlrlI
            ADKiXde+v6pdXXSJV7AFukbQ7l6cXVh+yyjPPLyd9VajTz2AneV5AlVPqaOj
            JlfiSGdSRZqAfAt2P6bQbUKAwmCWc3+GQ/e5O9dB7oZ8BKVubE900Qh2r1l8
            0Elx32O2TpP6GbceqAcKooo/yucRtVevcIoDLWnN55m7QnTP9ekjLh4I8Aot
            nc64ccqFuT+TcdnDnV7ytbLrSlOUcRhTdmulrfRsgwqDZxuuBe2zvvY1Wfmr
            LXHbbs3yU71nmPlZ79r1PNqJP+21SU7vUS/YUvesp7V5ffZ3SS3gyBtGmYOE
            T7i1ZO0Gej4aV2/lVvxnFHF1Ol/nPP7v3//Of5vKusb4v7n4X7oDwGn5DlIw
            /2fqn8dff4MrC1LVB0r/dCecU9e+mzKLOvfdUsmJu2imn7d1THH7WX3zoZ3P
            aOscyXOfB2Ueus8CkC2iVumRpEkbiXInN2lqTLvM5UAbZd8oi5ISqmZghSIN
            i2f5NdljYDhKlzqN1oYIlEa5SZHc5IiSl6C/yaQroAFGch405ZJsMLsLnXa4
            1piTu0ps1zrxVT6vkvxloyHkd95n9CXscoFCwa62qmZhLteWGQF2NuvWIduh
            DDxCtTr61PugETXNoHOuVxnzateW8s9oBgwhbplO8FLG00rvzCI7NEfxjC1O
            kw3p99pyIndRcjzZ2bNRxUAx2YVqrzhFXl7VGcWJatEPm+Nlz12szZ20spWE
            2Z2H/aad3LOcDM+sHG0H7nKVMlca32ZMar5Ol689b1SkUc4QSGzheWE9oMvE
            nMiQ25Qr7EKY+x1I6II/zB3mev8OnrZtPtVUPOePzyPnG+g9ci1YT7pOzzmh
            ahVkyHRXvYhyaUCI3tO6uFWSETRYzJ7vQdzRXMFFtA2SmxKdij7FcmVHxY9X
            3/LhsW5d4u1Cml1tTM47zcJw7/1eB6zjKlh5PsO0sg3Wcd/b3hxr1L/+Dp0b
            gRvUN1cXqGLsJ853p0L48hd2AL8HBXWif160H+7BEpyxXrZBcK74+7tsfpR1
            wd5NKoad19moXmdCtqA8Oz5wm9rZ4X2krgZ7i3OWJ43kY6vOzhU4CdP8TTtf
            ZZls8Yyu23lzzm+JlGQ62Ed+WzfJwITamUGd0iF6e4So+q4apaivtVK45EHH
            Gz0+Te45LqP/PXgPniSeNhCmidbnErZiADNgr1GGFLCGMwZ80Y+J6hrOYfCY
            cRDTy/ewSN+BIB7YOxTRcv94nJ9Ju2E/Aui/EH13k6JqcRDdhUXHhO5Qhz99
            95N1XtSicN3YF6wr2sgYXrO2LrTp/aLk6lj1mlc8Sx1X8Qtn34FmRrsBE36e
            9htn9joHOJ7AuS9U/IOTXFqbWQu4xst4jloC/mblcuaFeZVSi8/lY5H6Va5O
            +95Tp4xuBXwWGmGE9RWrN66BfYf5OLzNR0qcDH1DR5nMcikDToOr7BvOjiBA
            9YKzmhVpz8I0GHZISOcT4HN922stzFNuVyljNEoRscnNiIyybu4Ggji3UgXs
            rXm0l9z7sPpmBD7EN2SVjxJx8nKNdWDjFsE59hY7EGux3DgpmzixN73TuY/m
            EnPXGaOXaFtYj1o2aSUAvqLhG6xJT/Eq7hxYT/R1Huneb7vNRV2MLzj57qQB
            ROCZncAmCyXqwhqn67rnui3VkSmb+a4j+F/rmKfV4cq7jtqtjnD8UMf6oY5i
            dXBP3XWUanUQKXzXEesPdRxWxzWu864jF6sj/zAfKfxax2hWB7n0u46UhPux
            gJuKaOt41XH9UIe3OtY1TuF29GGdR26n4cVx8LwYLo5Y/37RVgSHBqsmqxzC
            VezxyvuT5pcn+diaW7a95zxQH3s6Aojukhq9Oka4y+t6ERGfZoNfccZRLopH
            x31cwBzAHaivYgy1l9lwwFxarV2xO18q79GHV52ENerfuftH3Q/Qc93PnD9p
            BeBuvRDgInDQaHdfPr4lvVTZdm2p7jIyysM590aH3O9RZyM8uNthmec8XcA/
            ODCal0nc7V3W2GhcAohJeolng9ADa+nyzL7jj/VktRF7dQVLFoSr86ID2dXx
            rosoCKzZyi/gIcxKoVbTr5M6dLfPIKVEQPOgB9Em6wj5IjWIfmidXfW5E0Y1
            nulodBzHyLI884PagoO0CG27JY7gWw6ndlDX1CKCnot8dltGNcCYBrBG/bv6
            MyPGh70l2m4dunJr8asTY0tEQ2g35er6iR3nsMnL4DwCT4BgBVYjAMM6/tRv
            rJVr6KuXeI9lMLcBcwukhLoA+OlXR5LvbLetpweN7DHTMcZ0Yk+nvValUWhl
            80vCBnCQjghdWkb0bmo+EkmYKon/tP4u1k0MX01LA8o8sx80EAZNe6lPWO8J
            KKC2MdYBAHpegLOct1ndPLYNYXzNWwGMpgNkwonUHijp6nTzM12srwVnCNXz
            e9JwBCZNEhrgT3q7RblVDdFCEqcSClG8Su8x0HMgVcNNhw2nd6TPQT0Qjtt6
            nK5groXcG84iLRBAC1yYk4v0TbB2HJAsYRj2buce9TShKfG1NjiCeF9pMQuE
            gNr5m4L4iT2HKcZko7201+PuO6VgoYD0TDgjm3fQWbhEL0TQ7ySXO/Gu53qB
            vsh77lkO9EjPpEmTB92wAtcjLXqN4DquBnqCE4+tz3kmVgZ5zRNCeOG4R7EH
            cZZnGw7dfJ5nrQnhV8ciYm823jf27QCOxj1Ba+529siDsT+JdA5WJt88WTBF
            sq1vxg4ISSYioM1PnFXuGertyCdJbXefMxApt+wUsyvcfuNj0J2iEQHu5WCJ
            nZI2TShackajOQFXnGjLgFaBPeqmCYDZSKcC8JGWznwmunXfu33v9r0X/ZLM
            XrHHKHrzanYPOld6mODsStJRdGvb9030jSwRsVua9vamiS7QDJlGRpR1TuBI
            9AsEcAZMatLBt1J1RuMClRpbc5xbd59b0Kyc4/MwWEjOFoQnXjraMziD3d40
            /lmaZr/WXIIRGDtWT0b/cdvIelp5lRx0liMFxraGeI517YNrjjOO/eCGjF30
            vGINz7OCjgZdCz509qOrNYPThWd3UJmOPmrPH4Y/4lrcBqSEeV8I13TfaNG4
            fw/Bu8a9XrFP6rzWXcYd7zKLcJP0IbAfjWKxmy5H5zHygnQaNtfnPtp2wAPV
            C0qNQgdPmgIj6fpN/NfIN+IPNGjv19rvgAmzz9RkVIxsrsBz9eLjwTf0o07C
            oU56b+JMEddu+Aha/jJ3Xrr5kcXC2QNv8Rq/0Tbkul54mDCOm8nLfo14B3gA
            MD+scW48VEAkSA6AHaA9uTavBEy2nucFq637MozWNvuwi+s9b5xWzLKvyxh3
            41jBXdAyoBFQzMabuAtM5TD33qQdbCWjpytBURV+aPom0hw2AxZH7lcsE/Zx
            wonFM+znCv4NW21RJ3Di7wqgIkC3kC4Jgd8epDMMxlJyEGhYD14GbBHOEZAW
            iNqSwU2C4iPeoVGcn8OlWSinAIk8fJqS8kyUDb/0FWxuQcUObSR8BcbNawYn
            ce9VpYRBtx3ovuZK03tHng5bFrgDDIDuwT/LANZ9lDH+AvuQtC84X5xv0pKN
            kG2BRyF2u3DGyTljDGB5RcfgHPpA/a9IX3D9VobPRxd9TFpu6P0l/0jx7rIf
            pBfkafgTyN9ra+DsYdEpVKspo27yfGOXyXaGxiI0otaH9u1vC3AU2HvI9hr2
            mGDrqGYwD2Zz7KvxdZsP693u+9qG9c3sBl38hA2BM35Rf4tzSjqe2LCBxuYY
            2H8aaQZCTe9Jc5BWFM/jgCGw1qzDY3Ls2iigaECAjlKvTFMSclrAVIS9PNeg
            L0rpgK8DJIB40gU2+5SMyNn/rv3f6/X7vn/+7/h6Q6vk8tlHzOLwXJVqZzpg
            FHmCbwnY349yOCdWLhpcAIUhnqMklD3A44CG8VgvfkOBmr5xorMq4ZRr1+ko
            ttn8gSetB/CRydNhj1KUpefEPUC9I5KeYBgKzIlkT45zTFxT7jmiFzn32QA9
            67FARJoKAnFi327Yhz3dajOOV/IDh650jLtdIxXUkUH8AX4D0GEfZ3CVmVKg
            izalhJV8ThndBTiRyAvHa/IcuWzOR9FfRpeiryy3GukswnIABh0D7FfM18lt
            11ZqN3zfvM67n+++DfYNczbzNd6wlYISL/nRYYwz6cgAavEa1eRSedr+D1te
            LJhKUvvo0guHfS6I70FAr7J5Z5097Gc6UmINkgz4J/G75IYv+YmaPv/6O201
            PlYpOcqpWYq8ISeBeLJnPD6pjLa1o/FelCg3Cq/FK2GvhHi/yydJDxDYgBUD
            GN2LhgaKulLoDGVCmS35HjcBGyoF8c37eWYpVRdds2Q7AHhqQhqbh35JzrLO
            LasgHDt1tvEx6UeObO9dnesACmnz52AKxku+9JjzhR2CeTsV5YLjH5EAGkMF
            sXJy71t9rvNcoE6C5S2/cPMaIY2gsqBtfRD8PT35fDyLh6lm8TuDrNZ+FKyl
            AxxZblzJF3Lf4nwswlrstwvEVKUIQrRRpUJXfIZDDSGGy9NjGfTauJwMvXnO
            mvGYoCHIzyzKnU0XceskzJhn2xHssd/7iryuJwDe8yoctESiRco7FoN/RIwf
            XSvY08dL5iFzZZvTXWfMWqOz77pI9zrAH+Hdg7zRQ37CECbB6pqPuhb4lWc/
            UxEtfc69RkZ7SjaSolHrqdJAtEbtYorH5RDjT9WZGa8GPB7BJtfEsXPd4Dz1
            KR17mDDDJ5NRar72/DUH+jKa6kg4hBwUcDdYhUq53KZL2pSsCStwAuZFo2vP
            RS92rEv0bgTBmiE+CjwPZYlAJMsCbrSWnYikRgXI0Shfdovf1Hr1EzS5d4WS
            T+/Ledz1r3QN4iCxzZvW3Q5M4CMYxqYoqgoNK1x9f0d+2ZHuL2La6VfIBVJ7
            eN9vnpB9bOc1dx9BYdVDvCLbxv7D87rpflDBGyajj2ctEv8Gh2vQHOWLhuj1
            ohBtiY8kXUFQl4VDjf+qNTDsT2Asj37ikJh8fZ6n4B2VOWCJGq3BK41Eo+0H
            woEFmk5XljpzaxjLXNcUvXvL2apkyc4rxg19RRgRg77TJ9U74EeBeihHYxlF
            YBHXhXX/LFcbjqf2GsA54bziMyztNYLMwf0oIf4CVMTYLxoO1xR8Id0AikHu
            XoFlv58DHwKS0NkGJPyMXW0e1qb30olpXvEdqBxKaPHMmayMcthCMVV/zAu5
            mQRUSp6edSbCd8HnAOA/tGZObWA0OKuAfaKTNW/g5+QkivdJc9gP7G/RknEl
            6UCdzRGAwaTejbCD3o3AGK1WkH24zgYSUrT4SRug97d7fnEGX9+OQqSVEr+L
            DXQtw4JgWyRa6NLHCGz9lqlozF4Wf+54ycVw0HUm6vCtk+PjHMilOUt3AHjb
            e6SbWfaUx4BWI51qvonehc0/DfpSOKOXuJcG+sjzRfEM6T3S2qnZd42UnzNZ
            2S0XOeMivsmiNyuwG2kH4sW8/TmzM0vrpLkvVjcZJtzT0o87EHNN+SeJWfCb
            WBvN7ZWGyX7Yrw5+SjTKafcjX+AEi8z7+e2QTeZoZUZ9j/m9hMP39+3+Pu/6
            9vcda3ePZWEfk9/JF+hbziwZG6DpovAnPjIYV6jkC84uGG+6oT2vtsbg6gb3
            MnAMyC2TV035ouKZE63QKc7QO3uG85g75RaUlyXQ5iHkLaPT/nWsg8ZZwA7i
            lQxZ2F7WnmX91qbu5V2LPc/AMmmgPcf5wIp2a7e20tW2VIho2+XXes62htFt
            IObAty58fT5kw5VUjMtAXfgDBK2UPmPrEO/5C+g+UK4SMO+lJocD4EhAgdAE
            H4rfZwhgGzLjHrgFNrBfNKRE2Rly9/RXID+x3uXEJgCEfZcNKMtzVOkJQaoM
            vCwKDTdAZ0wCZdCDLtPPt05MMvUG1AFg7/dAHsZJJ7DWRoPW/9eep4imaM9T
            1gTE4uvqPC8ep4Zh5sCrZdBBZKSlU7HvvcEOxcnQ/BItaJ2l9OMaESlgLH0Q
            Z9BXDOd0GMwl07QYY45Klfv78Pg+PMp0DBXfgfERfYk5qGstOYHecgcHerl7
            53kW33AymUwrAXb3IthAmgpU2OgO58RdZ5YVgskrhXqwx92Fc7VtHZZ09dRv
            Z5MfgbehxAvzTRrZEQzx2aNcvcvh8FRGhlG7xI8tT7Y75nXeMp1cAEyi8dyy
            M5lGJ7tz22Rs24y+9dNrRwygMtbLuduua9+77LZbzn2178E7GlS3IHxAtHal
            Dln10Ht8yM3E3/pUzbgoAED4y+ZDvMTjNyX5+u0fv/m8huP+7e/fx+P54zfq
            A18T6v37fn7rT8vmFY7dZ6B62fCu3dd2JOnq1x5bPj7HMvdznA2bk/u6n/d9
            9dUpeNsYoEWANs7jU08EagfT994HoLyC9BkUcZA9OFYCpADYJrVl94XsLg5f
            LoUCJ37f7++xfx3lj6QDX97y3i+R9J4KOex+fHdl0k2ZoHUSevX9G9d4+jy3
            rq+RzOSsnaKzQIQ9+qp+Fmo90C/A2EWaH+eOauwMRpnlGfvxpeM6rK5Vz0Lb
            MDfJjLx5UTsv4qFVkrQfbQCod/LbrkUT7LLof0qFYnU8PEbvg0kErUuLkqN7
            6fcIAqYDZ+KddDaNKtrusv2mGTDpXmq2aB9x0OnMYGAj3T+XRB8dMJ/1Ugcv
            c3l9Y3Kxvn+zThBmAPdmH3MBdgBCKlLFPb7vtSanTF0nxtNpv+R/mLPnGim0
            4klakOudQQllYKRsIRdw5bfZKcbmz98bL2n6a+rzs0tOJk55MC4n95HGjXWf
            jPW59QtA+pjE7HR28F2vZneuOXckzHNbzmjr2EAG9aGIPHhOPWII4JXxtxr3
            7cKe6qBLA71vgesYDxRzq1PSqC2R3jRoDOT/qSvgeoFOIbRTHSf28m/q8Gcc
            qgdMfXzUQRiK8XmH+cN4nfUtj9rsTIEyo+xr1AEmrK+GMpgLe5dIDnbpt/CX
            A+G26sL2JS5lXb+Upe5Sa0EJEEA1fvMb9AlMA8bBufzivTv4lYw1medjz7AO
            rDNN/w+Sqc7OkAUrsLXMP8CQTiUD9+6RGaCM5zoBhrCseJKs+A2gHWkn3qPF
            aqVOiWEgZBOoczEIM3/aV/dZNjlJ3rbjadtRGb45dkQzl2lbedCQRecSxAv2
            OPl/l8NTRiMpCBjNQUXVtksExgX9CBo/12F6ZfaIcg8LQ6rzd5iNCu1r0NFU
            3/hadZJXkfe7zTO/B5Zv2PGStRDOkC7nSCkbIQ5dIMhZjuUL8BaAWr7hTJb1
            ic/bNlE0eHDiGRMOvGwVKW3BfFOfLRIgCsGVw2BYom0eBZ5uvsuGeJfdZZ7v
            iJsleycdLlhEjgQ4nsBHYksOExTlcQV3Uf/LMco0cJAE82CNCVXPCiRyZlkG
            YuTS6d82WbaiZm9xzfd46JOfT/sOLLZjXT+N8TU2G2vaY8w2jhTOnEPw/g3X
            056T/OtcaN7pF3w6ejY9+HeAwR4ZwxdwhPIa0EEFxB+NY3GfAA9kTwh2ka70
            sm+jeztlPGy8a9/caweKOjMSQ3GUN+QSyNthvLKzoV5D/aCdb3WlbFzF8tWh
            fIugdGKrPGiyPaBR3663Go5qmb7NYsRpg9lphymebS1gYtqLUqZIMp31MGpw
            rfd60rZUR4y2pSrrZDv0Wh/0cO46+Hwsa4uxKRz46Jc95m6r07aSbQVrC//l
            HjkUAszp+mqrz8+24m6LdciG8gJ+A0qg5Iwy4Hvcag+UgOEDEjlFgYS2bWcU
            rKFu5zBdmSSL/jT5pF/YzKXeZdV+vGGL2WK6DWPcjiIKsJ2eNOo51a8ajvee
            weE2WittPIWmm5cOAJSu+a1LJwq8AZqzJ5n14RkIMMD4Cp52PfjJtzyEuCY8
            +Ej2Z8smUEf00pGnVLbd2nG6ypBm0plRDiWzQ2qMl5zGOd7URBfVW8YqeR36
            WorsHknXgXrPzuCu0d/fdH0AvALC5pZ7yUFlB6J9Mdqtp5ZOB2vVe1yUdxwP
            PoP38XEvnb2dz8MoS53NOrcuoWNvkzZ6tQMaNEnuVyQG4m8QX6jzjW8b5m82
            6UDr1ku2uzzLOvJ47uq0hcWDsaRxjDS29W7jnkE6a7p2bFlWC6avoz6xPvqP
            5yBPhqfM4uaTaFjN+4eu32zsLvIXRcea9XAdQQ/VF+5LVv/xwLmVGCrRw6DI
            RP05Vxf9IKprST573JP0Eg+AoZiLBg6iOkoaGbzKt2Qyq0S6pPFi95P8rHFZ
            yQKSO4bVWXnSTsO1jZtoM9xdKBVAijwtOZiAqxcP7CX0HLSfKYxkZDzyIdkh
            bUhMJmJXHDTJhbBhgX9XCgD9DKWG/T5pEp9RT3BZ32a7/+kcdNpj0/gB6087
            tXP/9sS21PlR9gucW+jJCx4jUUqD8ZyH6ZkoF2uRkkKPBbxq6Mn6u2U1FMCM
            bLZ/lCMBMgnPSzZ3MooJ/U+uShVCrMm95G7LdEgZa0MbMx4c4yFAZWbABn/N
            1GjP/SmvIi9/10+JxvP9cb93+z2wEOdwnwfZKLHu2Cg7M/0eKQM+O8sYa0lG
            2QnQNo8YOH43G8M4naZDlABkJq9x0Ebb1jf6UAshQxaPkJyTbVcF5NFaMQI8
            9jHXsSfF39A6g5tM5N1yOuzbtqj9rPyOlDi/yeRDP8smmeID9rJ/s9ajbbl+
            Z34CoMY1BvVfIBqEn2Ma7qQtoci74mhCDlyCfhSGCzwpJZyUaWb8N2PPJXzP
            cvc31x++2f3h4aueQJb7Uf6qRBdXMx5/P/fH6xnDrznq86vk8U3B97/K8ZnK
            AXcRr+qZwMVee4BdGuNQXq3xm7175R44FNEyNpsfT8vS417H2o23nLiepL/7
            BcgdLkf/VAkUUD8of+qlUNZNhtY2nj6EGw9uX4RjGp70fuOAaX7OQPw/4gi/
            v79lQO6W6exyZUpX7M0fYqRt3yg6YTizzXESlOLUAfdTg0kboCuMRv8qxpyj
            0w9WzfQjTPmQ93cStHrpRGjzgRmVfTkeDMUGMx8YC2TZyppY8Rd9QQkNekAa
            AWzWji1j9EWPh+4D2wfd26eM+pvs6kiPRToci790FpsG9DADOLF8d0Mxq9LW
            az9kRbc8K8R0x6AxO5IdoVQ2+CfxE+fbeClcm9GatL61uhptxqMbBKPcS9tX
            R95WxinRFoBmFHblN+QJOS/Uet5zQPqhVwVSKhfIAN1PcnJ8Tn/mS8FLMSfG
            XgFnqn0v/mg61XWiqLe5Jh0N/gqEAr2cRjdZfIpGhDhyGm/fA8M/1KMD3uhZ
            vkSzWFBKyj3pW6H9TNlq5tzHey7vKLxx78/02r+0L8Bunq9x+iX/NaxeuHJp
            jPItnywiEG/9UKisMNFao+mxY1Df5BiKsAXpvUMPVyLvwfekX8MMkbpxehil
            yhBvRPokwkxP3jnuIwu/OsXOBk0CKM9vKXyycfz1d8Pu7/NtY202WcSE8slr
            i7aMlfBo41gn2jGlTnODBfqP3u+esiTid6foAHQoqWMMQF4GlPG0PcMtjlKn
            gR+OwwUs6HSKSTti9xDO9CK+uJ+0ZwG9ajArGOzKFGPRrpKJYXAf93MF7jOb
            TdLkOHDgb2iXQZnD1mfhWQL8FQ6jmAnnqJmNEuU6ty2su65TZ5C6WDxVzNoT
            mMN8n9zw+1jdcIUmUXHzdLI7ozhCumDjRUy2W2iWVhXhCefE0b4ZBJTRVYkx
            C0FaZz8TZWhmY0BYEsIFhIh5kB1FOeUrQC63iGejbon7q+TG3286jb5iRyp2
            FZ167b1fDtmj4V0eohnbjbe110F81RMtetpK7Uh93vY2Q2Bs+fowvbTZ4xzZ
            7CmA1jRH6zJ4Qj9P2kDGacGnZDgTqBCkQMTepWgwuDGe0Gn2Gk6ZENyabz1T
            oW3piMbXcn75O1B2QNVArGajAXApO7xzOb5nTh7ajMdBG3mzF6OnSQW/ju1I
            aUluQzqOKj3skE01bbOMfwCIqbQ6R13daY9kj/pqEs+3FMvsNDnMtj0kaPL0
            M9D3R2l3++GrfXe334EvMA6a0ki9sz7LHfkaLMOACKXcflml0g63ZOub9i93
            GbpUwt033AedLfCVi3Ctyq5zmg0sfeXYL3pKPts7+9VpOX3bwXJMwO+l6uCS
            rrtGps0H+prG57cLUJ1zGNDn+3uuC9ET9yjI3E4RCeuJy/p8yODGM4PRoy55
            RVHRSPhcZr36qz9x96eNcduTZffX36O6c205WfIWo2bvicQ2yBMFi5hYaR5V
            2sPe77YPpG0GTr2VkW10sO9ovzPGJJNG2fuWL9Vd7uYlgzdqtpjNC6DtaQKD
            uf0B4+Ob+P5GchzRK2bzn2ib1yQ0Jbtl39bHt/XxrTP/BLYJGLBoEDCpUG72
            neTh+zue3u9+hlP25ZJROnt3ZYp30q/zc8MJzlPOo8sOwUs+IQIS5/fFm5P2
            YP2FPma0K6NVadt8uyIil8S5ZTnumZLAQ3RKxN/jwbqfdxkgLPl7c34O2ZTG
            PJe/z70T/KTcM1ydcMSdkj3T0GjLDESHZdp5MEaI6l2y9yNM1pp3WamaDTvr
            BM8UHOOINFSXwWpP2dN19jPseb/nhP0CqgMftsvF35dLzebuFbHKiSaL5rPZ
            BTvB3JpfxbTUWVccp+kkN9zcMi7AhevWizFuON9ZzCCDt43RPSm3u/a7Byym
            LxHfkd6jpyhzw2T5kRYS8vKXivhNjtY5+rthX3Szz6AdGPaI5C0o385tZxTp
            9dTMJhTlQTubDALl22W2sVrLRLgKHAMUI79Srxxo3jyRzN5M9iw4vI6wv3fp
            kXuioUEnHUXLmO1LWWxfNfqCUC+C3S8biWZ8e7iil80yFf/On37IXnHKx7GT
            GVvkE6arTL7kJ1p2lJeIx6HyD2fxdT/MJwS9CIl41zFL1ON9s/fklnXf7T70
            RblcpN3Bq2yxd77vsnXfX6uybvohzwggiwMQiYvZ1259VSh0mmVijfpdn7Pv
            HWOiylvtpMTf3qXdrwoGqjye++3jMlbI8pihgQLOY5XdT6MtIvbJ2xeGkkxQ
            beAnjUeO+7lf3DNx40Fbo+hMxb7Xou61oFwDBIUv9D0GzUbLO9Al9GJtlAcS
            FoI+xZYUT0VfaNKBsjlyioVdKpmli1vX7OeuqfidoF3EVDG6gOynxJOsUJp0
            aJ24w3RZDJAs+aQvvTnVFTBn5ivUKd/ybvNblYfyrquF0lXX+aqL62p++O+6
            1JbqnzuW1ea1LtkMeLe23bFwCnUtVbZ0stMmLeLUbhB/7tAueR8y8un+Paiu
            5dhe91RiNlpfDeMVCucQzxOOYN387ow9hkatQZANWxc/QFtFluE7xrRykuHi
            7NJpj56S8tdpbUpn5+U9aX5RLTO+FOdTWNHsR68N21q1MYNOUwauAppv0tLj
            QdfJphQcJ+BuEw+G+ZiFMhFnNi/F7PSI/miD2airOCzXIscUGC++L1C1IOUY
            seDEDpnSi/ubZsD8OGZ0wp4unoIYwXzwL+WQfT1tqWWYPcUX0r4KGAFwpLk5
            0DZoVFDjK5heyAGW8Rt32yOUZnQpGKDhQjf/j1sexvbFi4B+Yh9Jc6mf1C0T
            P0yba8Y+6d50soy58no+d/nTKasfg+EzOgb3Gc8F9b0aF3YdeR3iWM3Fbpvv
            GO9+zFC3PYdiykbscXDriifjzP4d+yxSyFVxJrinUgOP0D3juDhPPTB1TpEK
            JcoBVhypBqffU3uU10YZ8/NKz7vIAPiKt0JlmZd+lrD/qMZ7UBJJP4F67VwE
            p8l+ZMll2bh0vbbvYdzPaclsceLqjmux7WWxz7Dp6TWk+DLSl54WJwabpsdT
            fmJVOpT7N2kjxS855IvHuAiOMAyzRj4MbODYMQ2oC/OUTVAHzN0uu7l9b/Ru
            0XjjYfeRlqo1iw5ge+RLK/Vm0+Qytw077YQZy5qUSZePmA/rbX990e6aY1j0
            uz7le1prsDr5m/bSZcbzjr1w+/DuPtw6LfK2cbbB81ZNaWIxGWiKUpL5aeqb
            5CSbCZZJFFT9ShP9nJmxS9o0X7/gZlcsINlbkacs5VqzyBfR0UJIOtPdFl3w
            77bsu/j6jvTrlFwRz9RGnK93/q4zulRtzLSFoM217F4n/QFld1lBdDpby2pr
            WeVfiM1m+I7fMwpCSgZbo8vCTVJdTe+4l2M0fjkTtlJr1wplD8217cPk5G9b
            mKokhkh6T5mIHPNfnorDg7fe3Xy36iHebL9/pzb93Wa4tAPilOVB76Xd35Eu
            reH9Hde9gj8Z9BDedvmWGIv2kjEMxtbZ8+goT2Awj00v0B4b9/Lbvmh9M4xv
            9hgvDlDdc48RY/zFE/Ryzls1u3QvlzQGfo+XMP/yZ7l/MzvGPN/3XXvlLMJ1
            STa+kkVXJ5v+RfcXGTQ386ECjdL5bmC/kwb0lOAp4kBQP5kNEWfjsHWVM4/4
            c8DPTttewjqupfymJBTxfKcxkSB08ssjAWT1+Ypn1Z6dNVi5wOyg+1m0Z+6U
            AX9v2x+Ltuu4f83x6NfUHLcXTfaaY9E22PdE/Ny7lOfce/2mZeQ3gGliTCKQ
            QEm20zFqT5JTtPKg/JNlXnjFzd46ZfGmZgO4nnYrfvMAReJqrIm72m3bq/hD
            aOusn/Z8t68RIY4/jJenXYOelWixCLL8IrpkW5j/M9Gt96SOYSkexZCfC7Em
            7bfq6xnPf8rSSb6eMe4Fn91xvPyyOaU9+XrHhTgwFhp5hf6mJU5AhZNBtlOW
            jGifhSqYDOgC3E/vuMz6aA+hgKCAsK9ntB8+TBeqb2pulL3d7wt9qsULK75B
            IUfDfj7L5GuXqbsMPUbTcJKBaoGWjQ3zxHZmNfkR50zzKtGdze8Uw07R4ue8
            J+6C4mXrQrzJGEGzmmyIerm5zy19zOQVs+mUqdAYVW3dbVg9n/Xf9ebMMEg4
            vws8fvT57G/9O2lYjm9Opli5ZI3IZ/Kpd/L5Y7Az80Ln+0Jy4GT0z2j9iPgm
            qE0Gzb2Ucug01Tp7kDIHSR8yd8s069bz3z4fgI7Fv+OCXH3GhbOWScNQxuta
            caWB7iqDXnpZMpZFP5dCDS3DQJwxYlSZ0Q2o2yfOKBIGRo62eNLIpTAZNDgW
            sF6Z0naasNMV2DXFklOAtqr2nEuMhUuneFBZGZyw6gRdpSxsjl6B4FABp2m3
            /njmqZMnvcmoRsAkjX0716Iw1jFmFN9FF5NIaRoqgNjp6CVORV6Z8nAAerTI
            fOAMnEVfPADfw/zCi7N+UPNk17mf92J0vN0D35+MylvAiJnv9rM8n49HeXQH
            rDH7Wxifedb9W3sddDx4hLxOoBI9pwxDdG2dTfxCIe1Cmp6GkpP+xVP6kd3X
            Mua+53NASyf//1N1n3gnL2evHWHv1S9949zI4kt0TytXq/t07pR93a77pLEt
            IUi3Nhiq2825f/dHHarz2GP/qPPub/vqL0NF3XUV1x/fqq7yU10/9K+pf+2/
            07/7m/9e31TP+UM9513PjpXhrUxkzKfXvTvyruf9DX8/xnXe46rXVz3153q6
            8uR5xe/4n6rzv1uPnEo6YQdzcwhmlKCINgYzmB3+smzwTnh634Oucvc7rtf9
            /Pdz/9kv6Q/qrpM4ucbERM1BYSYa6YxX/TyDTny8l/xY/iKK0eAG35HXlTpb
            /o8vvdjOMtY2H9ma+QtsHmzHIVcQStde/b73CdsQjNgxH0wmar+DxSVym1/B
            IaC9FGU97BMDz12yYgBZP8nCEHddQI7VJWmKPFNP2R6WHadKyyEJvwA1+9zv
            puGaG76wLxvOy0eMbaUc4yjjVV6nEKVedfRnHUB1yeCjQpkXfIvu0Bnq4/vw
            +H48v5/vPkyMYvchACsNmYDveorVM+ajnj0Wzqt9Z+O5v83lH3177m8bv3NM
            vURffYujla3/0zJ1URZBeJ7s25H2OmaLk1AycOCj3L/9vny933vDaxzAz4SD
            jOzUdaaoZAvEBbSNWNUPZewlXmjDaxzndY6xaS6aOzKEXSyKG7XPCQW7jKtC
            ZEyuW8q4QZ2a6qUyWbj4ABcewgyt7ntZsk663YPeog9ZMNty3tOOiUHtqQah
            bRYZccZLpfVVN5v7RpqakSCMJ/aMTMsIH67F93vqwqfwGr2j3aQ86HTsB41I
            ztIpU6WY8NEnNxgrM7Bt+dtZv+KIiTHY0Jf0U79y01q8+pV2v9LuV7Lz8+pX
            3P2K6hdOdjq3/I+wZNrcRfMTMJgieBYZYWLVG67MeRaLqe6lYDcaTobgi7aH
            7CfteXPP1Ww5m/xUooG5Lvkj461gf8imjPa/Ru8rlVg5sUmW6YgpY7x/gycZ
            jDF3MiHZrg9s++j7N/VcKstcPbcuqoCebdcpfRjNK5f8/hglLd+/GbuIvBzj
            F5jdd5cHPvWZPoMvZ9wEkMRqc8q/pbN+kI99dI2lUsbN/Xjki5kUaLvMftKT
            g8F4OAfMflA65aMUMjEqGvVhgVYG79+sm9wiCVtrb+sFQBNuWvEVW47UKOlz
            CXgynV35nicpH/c4OiNLgh9mAOIwF3PaUZNa2d5pumdMBo3qsJc0j+bj0pkY
            wlH4SLfolSSnpiUI/TBolxqY7XosWi/S6qgFyZfpjV6oS0KT9iytcMclnnzq
            ZQsrnxPOD9uIj/dgh/rR0mHSsxPU00lJRcMaBsal7YfFLGD8WBqYyVbbKdqD
            ZPC+FgUbGsPiCoQZGcPRMV4Lfbk1L0otYXPQ5zWmPxXPxWNxak0R4Id2kYEC
            Re7/+zljzagfFhub98zVV2U4wFiIg54hspOrO15lsH4ExlzqLgzQiJLD0LZJ
            uPyY+M3EGI7h9GLneaFP85nAEiWtp+nPGcmTJmimdzO9ITozTp3DpYwiF8DY
            PouMvOEV5KgwEOOUjzzlayfDOz/iBgIgg2N62ZnRVoz8c2DI71oUv5ByF/KF
            qfIMEFbt+7jv/b4/7Ny5aveyjahme0idlOyQLHQDzUEv9KkJ3qdr6Eo5hMNs
            r+WYhPAgvWJZ3V40ChZGNoFt0zKpm00Pem7XaFcHLlLvp5VP+zmgvl1vW6Bk
            17brzTQGV1xl+z7ueE2nt3jMtw0VpqhvX970+F0Bae7f5fG7WdzyygAQjNIn
            +6Gr2DzxCGKDkR9yd8xJwV3AxdwlL2QWS8mrtz1TUG5URxvHomiR/qQx8kV7
            repO0+gc+7tnHXlcIcrT7iRtePRd/mRczjsOENUp0g/K2sSdydoC/YPdXBW/
            A9g3/Ku+3u1Qyi3TZJzdWU5pElnn2nuK8YUYb+7RZ8Yx86YvpFehyUv5bNfp
            usq7Y2H+aL1v5wRH6RFjaW4ZIogqgqyh/XTYGiwQ0MszyLp30vWgH8Ah43sN
            fjcmzn/Y37Vsc/K7ueD4L0DFu+/4DZAkX5gyGedcU+7pL4qNxpgM1kdQMBLr
            TJxjwIxGmSueNc6D7ql3VBrGE0wKfcMZBEppjrGukdFXPJODUepIA02cU947
            Ev6042Ujfsd/IXGuFDM0ZvTmA0NahfdRe6Eyrnjd+CUNytBoU6xUOtmFVNLA
            H//H8OeECZwbrGvHqQF88/62++Mf7bAPQCgn+u0qmKvG6zGvDp6MkljJmxg0
            0qdS8AeaFsUyU/HudxFHn7Zcs3VKo1qJhFUh0kZuNZlMEi2ZdRvB4M0LuYv6
            FhdPxcEt1+ifzxmfhicqmDuQyScvpk8CHq5NDgCN+EYxkoBF7jh/b5h6rKOF
            N4zNwLuB+b3Aceq8UwTdmCaASoNKmzXFqmNMJtnEyRRPtuXeYr8NBkLHxr2o
            buuBsbUdTb8ZJ4EkMyCJxQ9u2WyVkxK6oj7fgLp3vC/GMaLKsA/Z5jL/r2yx
            +X0YCuGFfTMU/4F2yZI9YKXrvheujSvcbdhz0xPpmSwVzuN+/pv2D2sfU9i8
            6axoH+KVhZixgxTbs+w45tyjxb/kozqvxI+MIeMVr8r6yLhUmxZolDWaYa7N
            pww5xIcyVK9daVAq3VNU/lMGbl+B8eQqNS70lMMOEJFBfShjRJzgBXMNzuKA
            uW0n38gzoA/4fVCegE0U8rRYhopTkSyGAs8YpSxaxyr6jiRLI36g1n6kXbYp
            8bkjbVJPm4v7N791p0wJ5Buq54w3mtG3SkNBxQutqqdQubmszix5p/0WElG8
            bax7oF2v07hpD8l6zEZBc8TfjOuk8TGWMe0JsC8J1hlDN3iLh49Oy2bXgWeQ
            jBa8m5xmUP7tN0iVXtV5uAi7/s22aPdyfw+ehf7m1aLESo6GU1/Je8YhdzWn
            uMNs44izct2o6z7F85HCsfVi0CLZCPg9HnrIYf1FG4O6nTPIb4CuM/c68Df7
            lhm51nyX3b0W4IZk82wAnIv7w5pTR7ZpkrBpjjHNHvncdsnnNFoDxJkQfht2
            xbYMlmXcyrXbjnnTPummafK+btroppW+aZybRrppnZs2ummsF830RVutuOZT
            btTnabkr9vu667lpJsyX9m5ifGfQuDy/4brkN023GjREu1XyS6J9g6KpZklF
            t/7DMm9/9XeB8mE2uePln0jJtOLUEm7Qsme6DLiK/b6axRTVlIWVXDO+wZUd
            Y4vqGrTt1qVYi4CHU/ox868l4Q6O1epw8i0GCQa47ty2g63mH07bO+asOKa3
            2Oa7XsIf1uupc9n5LWjzF3IIafvYz41LlNGSuk/HCGvgkbLlh9CVti1KJXOB
            gYqKfSt7BdkuRPGR4B0u0RY4U7eNBukIbN7SgCjoL5l9CG3P22SkhGj5WEZ/
            8wLjtHZH29e147Iyhs6xumJ9Oerc8d2Q7SEjjNNvf6lP7DMjsFWwEPij7cVw
            b1jOPAPsU7LcDqILSCsSNfVp77AOIAo+x9KbvcuRQiLwoJIlB4bxf9tbGL9z
            1C4dBeMPN+osFFOr3LGOCZhCo1yM8cs494zBd/vjWDx0xidn/HvipwiS7qI1
            BuUZqdZyAUUo3hUxfaP/CjmOk/ZQp6Vt33HKiJCSU8z/fvt2sn4aqW8/ADkH
            kS+kTW9hPFfa89GPSbiLsdtJINr8gb12CoQnWOjBrZ0kFyb3MiORFuDk0UUv
            GLzvG/Yf0ntlcqTMk1PWz3sOYJcG25f2Mm3zMEYGEedYqf/mPUlS3ivbyE1v
            0W002tiYPyU5xiRFW3O99KhxWkx6HRN5cux7kcIYdbS479SL065sKkeKr+EE
            P83n2Z5bHkiZwEijGBiviNR9liw682DpN4NQAFdxzTo98JetGT1SM2O9O5Md
            kCan3femI0jvFC/BkmAIjdpVx+C6O6vDBPjDaCOb28Ln7fbhPawePWv72SUb
            VpCJ6F/Y/UKdtFVWv9bjW/WprttunfqIWZSxZ+cGA4mL8yD7EtHXFIac2Cyc
            HGppZR/ubJ280SV9NMlSQQMIhTv6wJdm/syXtK3oVzdeSroP8EZlUO/NvUJ+
            FvdTc18Uh3fqu0KoaH5KgdYF0n8B7TCMKuYvXFE+7ty7spnC3l7KyWL/lyyd
            pjFlr1tlsJEyMn0ozqsHYnw+pd1VMVjEd22SMfrrb38GJXkMG17qyhwilg/A
            3202wmDjfeRJpnxYjA5GKkL2TdwYdCgDKlKm01esR4CWv/6OIChIYQRyVUc0
            92fFuBDs9K/YinQ6Ju/RC8/y9v+Qfz+hC63cKCEepE2AUnT1h10JB1NCl739
            HiRxfba4NDuWXyDl0E/G8qEdgyLn8yrb1cC4ikF5ZVQXzWkAR3G+E+/zFSQL
            PmXEun0Lo9niXXPHRd95AQADLaZlPGTH3rdtqHxTGYdq7veHvR/7vt/frX2t
            9j5PuyZAObWz47H3ZuXGsb/f9QCAFsP3dm3TcusmWjMf71xXDmMGlZjXNFuH
            oPAnguGKoaihgqRn/CrRpVKiAN7Z87TjOlnkCNqRPZ7L3svbc/lo4Hl2efmX
            HVhOdT+/65EFtdWj5692nbU75fe8ZM+hPF8KTnwo9gjvp4W/TYybo7gop+Y8
            cc93xgixMVmZuy8nHchz+q47ftf9GEP8zRjib8YQH2OI33O356h+z92eUy0N
            14Ac2ParwW93+1TMvbdqA20UQxnzYbdifFCnjNzi3LPai1y2aLFj+/CDCARN
            CTyLzxk+nWQq+VX5z/mCmcE2CjgqOCaKl7v3U6c/DNoUXF3Gv+8cH6IPASgU
            T/DYtM59vXPiMSYRbbMkpqN9tuIZlePY6+72LAshdcYjH+s+e3Oa/WuIFj/2
            2vOQmC0yhmpxZ6zswtzQyirUR7wyiykmGoo2aP40X37QSe3Dt3DTNRSOSVZF
            nnWaDqgdiiOA02Sx0mWHdf+ub7qQ9klMs2Z5P7Z/Mvi/K19DNrLparffDLcn
            6zjMo/m480hSsETYwhgLgNuVRonsF0lhxqL0O/52VDJjTA0TIOEZySPFQ6Zp
            EmhK2rjKMu/GIfxPNpveK5p/l+KGJfr0hnrHQNtthcS4lyfgh1fsdv9Tu6J3
            SW9b0gfFFFI0QncqllKXc7jsJNV+lRgOfQu7D4f0n69vlethf1spzwrvvoov
            CKLPm8tfsaMZu/nn2NFOsaOdxY7W/NDb2Wzl1k2beeZWaOdrnmkjV/1xvPzp
            D+X7YD+T4k97+Za4ijmSwYBf8fWcORgavlfsFsERSoz8pqM+YonNJOqsvfyD
            rBHGG2aiBfXzHIz4o/wmLR+mgwCQ07sr0WJgNKJf2TWk0+wKC2Eg8Hi0WM7O
            ZL/HbReZzSd0ab8G+crVcy2LYbvjZuDdpVgdx7YT3HHI9S5+vcuoKzpqcecJ
            WrTTN/V8x9Me3eL1AuEydmYJy3KemJ3qjoeZ33Uq50mXH5dT+NHzUX73Qcj6
            Ub6cu/wJ5H73xev8frZruVFUR/Cf44jxWmpr51NVLNT2WQZ813usFfU36d3b
            aNI3XjOuAOSSabebaJ9/7bE/xupfc7vcX383TBj9g+wdc70pH5v12WylLGfV
            q0+01X2OnZp+0dr2DQUUYceytvL+szwFlR/l8y6/+3d8rYXvX+XLe47n0By7
            ROo4KC47fcv6bRfKEEv0ZTmK/Kyc0kC4/TzuHAs8bIAnc/9WlHlqOPsKsp9V
            TGkcLWe2waKMOQfHZAbRI982wPM4Xn7fgfF5xnSMWZHDcDufoROt7SmqoA9+
            Ad+0GFuEfDPj8As+47fLdi44hhteF565awzFtWfuJdQbHrBoEne30sWbHcF8
            yLLl8Xn1y3nFJGRs/+RHv/OeZZxZSgkkRKLeJkT5s8ofkDzKselyRqf68r9M
            tOkGJXw087clfvP0nVDM9Ue5Th9Owzce3fWPPAJ5Xy/F4A50pHjZL8SSq8Xc
            JqhizJly5yxOO64Oo3LJF5tsvPIo1g2bwT8lwKhbvnFYTDGeB/KKikF/63Hp
            n9KZqziD0+urijdnK834dAX8z0v2DIXyJ2+RCOhif+t9e4oTf01el6207ccX
            5IdczBec8oooWeQIJgcfXvb2DLjTKD8oZlsGWof0CPdFN/9wi8PPFd/2+fKr
            otWvYlbfcSQwIdm+rdgw8iuMdt+W5TNs9F0v0vPRq446j9bDtu+SE7TFMYsN
            CEXxy0BSugRUzcA1PD8YVFeemiz7K2aYUlbcFO/7XiXjPna8YsZd3++cPWsS
            VkbCKqJ48noDBKN2wGzyU1+MwUDXi3wbFLRDfghBTnXTcC2/0zllbOZFWG1l
            xJXIFsPY9BgVf5X9mhTmMNFWwd6kXJIZXdkXq9v47pTudSFMqPv3oMULZV/t
            zudHb17FkFjiu/udh85ofcXKqLZnVlZMCSbofbUtY7DFeHvFZKGVLnW7Dlea
            8voFm2vOBesBTGyqx1OWzfg4uOd4dq6cZ1kA9cZrSpYTh6YhCbg6ZfrqANW1
            EZJ8lBhKmQIBzN8ymxbOO+c2OIstQBuAxNk4AmPyr30OfewxFeIthtGI5idf
            JXMGy9sVj1/R/xvp3u1Tm/sa3+248tLz0aDxkB9AiIouXo9Xe/QvSAk0w/f3
            6eCX9GlR+07fuZJot80YJKG+18aVlYJ8QzFm+lNLLsN8F7IFoizIh2Rwmp48
            gCwhBKOtmd7vo9xh5RgDY8sKcRiK/CDuPc9Us+CjXmfg3r+f+182TUPyi6PI
            YsP25PFqjwmxBH+wntSxSTRLHIfv7zPHfT69ckpoT77Pg3d3/HCeVYWLpJ24
            3ofj9Q5A7H4me0jqcDgP9erkhY6JozRuvX5p1XwnA+1KCFfoX3TDzEJDjEYn
            JdF15w1vOQbc9dtP//bHjzWA43NXOCW437axO09XTXd8cYldAIFNl1EtxuM4
            7ve7/MV4l8EUnOSLdv5C/vZzxwHPP/+++brrjj+040heu79r5/w+d1wB2vyE
            Gc5bziHRcTNfYrmxYY7cli8nZktT/FDMV9bZHBH88bJ4rIfFSciuTtH0Fsc1
            OtNhtcNsft06vnPMBMYdioFJUJWTcedyof+Z4j4wviD3sX6nt9xT8Q13nl3G
            tNR75s/YsSCD6B7zTaFNnt/56Z30vefxqm/bLrixFDWgp3yy/U76PStekOql
            Po97Xjkak+wbD+194CfKsGnveccAYXwF5md89lG+bDuGBuvnIFZgPPcy6513
            0hvtw9gmoK/6ixaZooMoyy7YfdjFjIUJ4vGR84qxVda588Ie8qtSzqcoZQVD
            GBQ5jnFPg6g7KTmwnKr0pzxeNBvPQmhj9QY+N4drPWQD8hd1youJ00VLdzq6
            SJfU5LcMenUorzL1o5JTGE2reNeXKBzSgpN2yqAO2RYDFTx5fI4Rc0cX8XYF
            2iXQ+K+CBkH/mV2XdnS2voCQVJszRBqzZFTFDz09Y9Kb6anozCXjq0w/HfBZ
            H33v/bPvvf3rvpevvpOf/IjrQf/lDhq17TwqZOg8KMvDzhD9cRmv2vIgu+F3
            LooR3eguj+IYchvPWh7TYrzy+TnYPo14+Iw7VTF8nOwdD2VVtHuWxeHsqpOR
            RpVPij59UeDgpruxoWeVLoygh2F8lfvJ8hx75fobPYEBQV/ZNkXGLdAdUjaq
            k4E1dl4uz/hqVEk76sAZbwxz16LZLhvYWVxX+uxbDJ32iicp+b7gAG0FMVr2
            1xXg0sOCTH3mnmaCXOGrSYaazM2WN5AUp9qj0rb5nTPadCpZ9rgA7008w+SY
            7hyPTLTC59e54xCBlbi/E16lwosmXu+coI5rTBOvO580ebL7G8pGlKMCFDGf
            FUY5Z5zvTVsIXstmT7Iz2gAs5aJOFo9pXspNTf/BSdCbpuFo0O099biID0HR
            xFeeU5x3lT9F1wv2MECu7FakHTZYwopT3DJNp3EBf1uMWAbGBNRo0hmp7055
            /gj3pc/ZZbC3mvz0pnP3d9If1LVzX/IZY0QzA5PpKsFATNGwrhwfc1joqz7G
            2RgHI7prx6AOgzmfSHcChns7pwxyF5p8tA1nB5M1VP+GJ0/4UYjr0S9GRNY4
            GLfnsVb0zpXOONr3nXuFMfSW6d+4LoxDRABy80CMX9T2+FjP6Vb9gFnkE0E9
            YF3b6ss9y678a1nmMyr9r787HSq7xaIUjFoWn0vhcdAX9vs6DJ8pdcZrL1ts
            AsbVJc08eQYl1qW/n+jierxxiuy0d9hed+Mo7VfQ3wxAWoJ8iSVP9xZj+BUD
            mONn7kvFRreI6sz11+859Rv3Hs3eUT97nzfG+VVYjcQ4MXUo1vWmSe5cuXeu
            aQAR6Yj6zutSNh3Vd85ppVSU7camaU6jYebuF+Zw+fzX3+OkT8g73/kdr8Hi
            SYIkTG+fYMWhYnhy0711yRwtJjZ3UgVQoZ9qiFs/DMpY9bTKHAuy0Vf6L4XZ
            BW1eN61O/ODk22u4nnYJ8sVPFuvw1hlvGEho3fRsyq/baK+qXB2OtJYD3VxO
            s9kgR0LrcPE+pMGX9PFOtIj8ioZTDAHLjylY+/I73rYA7FOTVMjsW6V8CQ95
            A2OgJH9te/hLeJ3kqb/taGLJc+somwwRS4pj3XnEmWMoUz71jCW5Y4KRnjuu
            Owe9dOYp7z6B1h5PmqvtnNMvui/ZXrtpu3KYzIk5Tz5orfhJa0XyOIk5po1H
            CUbznbKFda1azJnw0pXTb/sVuwWUa5aMBzv23lenZPlbX+JpvJ9Et6D/6q/i
            H3I9lR8X/KrsJ1pgXNM7BpW0yOZvkHdeePrr3jTvfI49WhwuwSwxqZbzkwA9
            KraF2RDjLJ9r21vLN4Z6o5tmrcYndcxbk65c/H/ye47mafQmfwfF0mxVctFs
            +WRosUL+LJpdfuaaryW8c246yd3f07ZNc3fWF90u+Xresb9u0QhhKWN/+t5u
            nEbkx7Va51k+aHR8ex3v+ZH932Hrnordn8rvYPBNW2bQ5hk0H895Nvy74z0o
            fgT7ivPcbxv1NX9tc9DeJDKCPaYhmZ+x7BpAA/WNQwbzDinWa0zhEeOeNnxN
            RidZ8Jf+Ly9clN5w0+2c66RvcJzWi5544aw3/rA4uOO0yEObj4t33DiMqrz5
            0vPoW/+9c2UdBoOZQxJ4N9X4OJ/Yx4wOYzbkO+dhoXyOSLfSHKL4eMfM0/yA
            C2eEFdunYtVN5sekGofF75bciokKqJ5QXJtWZePyGYOQfPXc+UH3/ZkvImPG
            /bsU86/Lb8TklHXHAezKubGUJ/7ylK6EO0Yhz62x1c1sEXecUsYqlOvAHR8P
            Q27D4pHS/t3HSOxvcVyN7vQ1pFlXmswoh99Rccq776Ax8Ea6oXP7T9OzrT91
            VozF7qNSQv1YJ3iS8FOdcf6+ziU9GPDYvX4hXq+YL5RIKjYOzxPRV2RAGKcY
            q7xSxheA8YZiG10kyO/fLEeTNMxHW9Q9p0az5ar3ZltHeqGmIL20ftNaCO0D
            vjbaXDapRehLSfl1Wgzd3FgOlIlnzB0Qf4t2avP5vBF5KuZclWBArj2Y75aY
            syse9EvFxI22c8Vf5q9Mzwva257Mo3sU8wdkfq/j0beL/goUUHTtwXAyyI3d
            03NmJstBwfJncLqC13Fqw+Z0hDK077KzfBmHIrXhnuJ9xeXzl2yjCA+Wgi3J
            Et9yNB6KQ0HzSl1PckOu0gasEDpNxVKkhfeOE0Gb4rRIf3DMdx1nfbzvyWsH
            FEbEfpQ9neIgHXUGu56hT62pYsvLWxD0S6KqpDIP56G4DEeT2i8yT5YrK9BH
            fJE39MCblTH4aON90IgtyBePZRj7oYp2or6qEZmiX8zLpNzrrAPV3v7c4/Zn
            5zPjwWklKNo+9zNqLYC7BnEz+PDGMHQsdwbzH6j7N9HNy6eXcVREh9lags6S
            fznWF4BiBYp8D8Ub60327hZP8WxntCRohFJJ8d6ics+RripbZ0cGjDkgsWLo
            y7myckZ6PQcdBaLcbDgJOnW12OQzOcvHnQ/Jk9ivk252lPsygviWDRzSQcom
            jnFFdKbKudytJ1zj3X/Fjm6tCYZ2JWLP0WiSytg3QTx9VG6TnZP2NYbYF8+j
            5pO06z0G2kZWbzHwmHM1M28kJVx5JbfHFfa4yohLOjq8mYH0sJNQBvAwulG6
            fDoxXqryQWaABVVuhsEgrIA2sr7DTitaY8B52s2mbuuG503PAe8ZK8KdCyg0
            JkdbEtqXUuYDXIWd3chH/GnOX+faE58URlxS/9BnpzPSyp13rCrZgZPdv1d8
            UY/12vPfO/f4oG76DEwR2LcNaaL50fv+uc4UDIAAUKIEzPeiDFTzHbEeXevB
            FAZ69r0fsL8VP0aw9WBK9fO427H2mWfB4iPKLsUXSnZWbDTgsH5Rf8dzzFgx
            ng4MQfn97PzQEqWtyjYYQd8V0y/c/eAZkZ0AOKtApfypfb/efWIm7/dZA77u
            xuOURi6b55P5u+RXfvl5hff+Df69fzNp9vG2x6/SnlkgCeEyQAwPqFg7SfYw
            ZVPZaK5pPjhTkhRfE/PMV9HVFt81kFc0/CZbsnQ5BSijYQl+17ntUyi2LU02
            KDY2hlc72arpgg/h3qFzx/HGjTfStUZi5FTzpcqzv3z0+n6ODUyzZ9qVZ8WH
            LYqvkYiLCXoVn5b56x0xAHBKs/rZJmjRLv980DGaO8WIv2OoYmxnpB7X+3NJ
            94GGve7pM0AmtaDt9Nijj3udi92OYHoRfeeiYphin10n5iqGbXspWqVtm0tC
            8+35lrcOYTz14PfZosrk63y1u5/jYD4D+80xcgpnoS3IyYwltgM6BTax0yeT
            OaSALDDBfeGa7FvmVJKdgdYG70xP2o2nWdSsROlvDr9jUPF5ateKex2xMMrX
            C+JmvWBve8Pec+fxom/46OZrJr3bAbq90utA/heLe+XMhrMYcuqkH+ajftpK
            /VJ/WK86k+KdYgrPBaRpfHcy2vm1Tv3k+XrcMyb7+bjPhCk2D+QkOdZ6cQ7U
            D53lir629jq/NVGmx/fFYO4Jek3nn/FVUZf2uaKqDDfJ3zMHei1h9tvX4lJY
            K0A2WWswQEToK7GNWYRE5UPHnCngMeXrxHZcuHoyfbN4cr6v1/t9VgSXOISR
            h+BKY85tYJiTfnC0nXdrhMHY92QuzllrPqsCCiqSqTc7eFCNmW4oxOEgyQLt
            5QKd5pcrpLdpCBpo7KC6O8+Z4m11kkHEN71pp9Pk47GeLv66nopd0Ax+hKVQ
            Ad3iX3RAXtMzukQaNjKSl/QW9Om5itqp3Mu5kscxX0M5AkrutP1KTsluUX/y
            z/3OQ8p1wvmejO0sQ6AXbAExTcsRUDvOqb+KDcLn1Jnd8EzwJl20M9GzsPEX
            9ksjn/4sh4VqmSLUuI4btm87scVjJP/TDX+V+zwsJqr1OnOtCXaek3JAjsv2
            Xazf+47ZHjwNrEmxy+bjjvsnudfeh2We+T5DguVdhmKJdoPP9hYY5IITqjnb
            zwrORsb3qTDvZZzjrV8ozKlQYpzmpGH5n9Zh2gMauQmuMMbwFQS3A2j/uGVQ
            5P3I6/qdX4Rtjaz+R+YzohwUE1UtRxcpLU/qOuT0NW84R7maz58STprNT2Rb
            oO2oh1WcctoPKbe7W8zNO7Vf5e9oa+hlM7vXdT8DXtQairZhnrBm+bUYczZu
            2BExZwmYMFLv8fWuekVlf/mO4HfivdjktO05mOsczANzdZoXT0nPuIPN/fU3
            MOLKW58YaSvUZFM4iFIi1oB2tbS7mJM8IfgA8D6ns1z3J2OiXsp76ZvpAUYB
            b1cuxUieseMcKt8kYNGkXNL8y6gvaHomxTH4I3KoYw3ZbETFu3jpmQ6K45nH
            0GLBtpFFW7hr51qkTc2+n0e5YwFLl+Ue8pyOPULarwMY3nIfycSrfNMVanrP
            peKl7JjqB9834qst17aUUqaHGCYT6VZvGoTiwFmJORVkBhtlVCI7s2iBLgKV
            n3e756l6K2VW5kzzljFF2cG89QIK9K38DXTa8DRvJN5lXjjUIUtdp3q2/Kbt
            +vl+me5RMsMuyZfsXxf1bowKYPpEkxF4PqKvUJNXr2IX3XRHI5OS374fNx1y
            bPk/Nux65qEB+LW4z9HomHFYvA3QA/lJ1yitpmwkAr39WlS8C7PJGK+8hMNz
            LtplUSZuX/CGGWhbt3bbIZTLYjnTgod6fKWmPage3rbypL3C+crRwbmsjGRi
            Zw4cTyTgHRQJ4fiQuWBs3krel/N/x+xhO6kyV2Bh/EYXtn1a4LeEAcoKzG3p
            3bC8T8wdxQxSOFVA64Vx9/MB/uOlzwDicvf+yO1zf7x0X534463PYrR0xqC5
            dXyOWspmdnSUbYqmVQwCXIEjqX/sa+fWaaLHLOdkNt8T01m+9bbSXTIvb73z
            nkTTf2nTbp1WWv50ZTjiOsWVsvfnMvmt0f1DdbWaP3WPlE/XAWzPuLoAjNtn
            ljRJCCCE4/ZNxflRPAvacvHZYfnEdnxDd9vYy1GF8KRK/mtpZynnoyUV3aTm
            cJZfpFq45J13TLneL9FgssPu0XI90nmK8DTPq91tzC3fBR09PnRg247HHbct
            ke35dZgf1H2W7r3PGF46A4zzeyRLfedinZZvvN4xmaLfeepoq7l/V/MZM9s+
            Z2sbt++T2XTab+q+jx0/eTIXgdFKifWwO3immGFTYtkrVfq1DNl6BOX73Xnp
            Tvr6cUxjy2un7UnKNejKz3kJsm1IMtnknDOP12Aamjv/zFLs90Zhl4y+osWL
            EBgLkrvRBKLK5yeZjoU8yXF5M93z2u8WHj2gbNh6C+oxGO9gmW2yZNakp6P0
            UTr3vb79MO71psyG4e2Gf+sISIzfeTWFt4+3fzLPZUljdBJOSXroZs7h9ICy
            fA84c02/V8BZZjwB5atRPYR0nbETDouJ8NYhAG+SBq+jM0cO/SNePs/yVsP8
            JcHt11z2KzGF+pIoUjJkrOmW1/Ms13lpnuMP77A32q0jkPuRciHZmpB2e5YF
            HGoKN8UIMo/n6TBfINLNob91Vc4zlrnZOTRPqG59PzFXJSs+QLtz8NwwQBgu
            0u+DCT1tfzWTjzOP98Xca0xSdzE/GUOHTVGCjBFyZtqTo5wq7oSPgPfMVIVd
            3uXpSv/niwIp5mgVzmZ5gnzF7W+jMneum8ws/IA9x6Z5CXOq5Xnb9vTu6f/E
            uCrKwd2sjjrfdTD/w6sO9/s6crc6unymkjiP19pPEfr5uP0w7ry0SbogAp9z
            NrMVCHtet02Z/DxOgijKf7Ahb5jOfMYH2mEeJpwh5zJjXZ/llTtu62hkq9Rp
            2PPwR/uiS35HfziLv/cL3RKO39MlinP5A12Cs/1Bl/wTuoDzSb9RDIyhougL
            zdwO8q+tkrsopg59GFbozO+cfHz4JDI3BftwbOqZ61ncjk++sH7Z3nFvx8v4
            tO+8UvLhcqNKdE+TBNrGuMJca1o67vmdc/vtx/fIU6K8vYy/4sfskzrCRC3w
            K4fw3T/B2WVyKYW88bJLsvZ0rn2m36ibCgInuy/MJYjqRb/QJPuvad+4aP5r
            MlUAhHHH+1753Dc9y3d3Trb4ldPspqtmv+ade4ixtEd6j5txH8FGuFeOtXwJ
            H6jm9M5rreCRtM2ZSWYnOw5EoL0Hc68w1tHOZcb410G2Ym77kymLajt7uZhZ
            kbqRzOjwdBmTfYf55tUgW9M7Vw3TYQAp1OWXYmqSgpBvFG1pOVc4nzvXMbjW
            FmwMjG9Y6eoZmMYaZzAJ1jCBW2b8KtFcVFTxShMFUHm0+77zOzGGJGXeYY72
            7ossoGQzBKals87urs7Yk2ZnAJIwKfbIsEyPtF9gtJVM+mjUHZ/J7Hbk5xU7
            4MGVDf4whtkwuxScfJyViW7deB08TGEuE9r9Twt5QZ8hEHvBAt9d2xBItmp2
            3/Z9Mh6PaWV0DxzdCOc88+2YTXRpzOeUwnqeuYV5m9tnkMFdtg4vB7MnOBQD
            BnM1Fd9zfNh6sv4xzMbS6o53/BhGKVBy0Gx6b+Y90H00W2664oVhPrxu7znR
            crQliOYL37bvPGOSMGfxlLWk2QjFV56jTTNi7i6vNrLioETL2ckxU8jm95j9
            iDOnXMkD0G+bccuYR4a2MIG2IumyzDC0NS/Md1VEF9HyrO0cBcphikJ57twC
            8UIDtEnM9T6X9KxR7Jx9H6nH52Hez2SvDzqL8SBNrmh5SCP1JDdf0ajrAHlT
            7V1YV1dQk92eopbyeZEft/tX7ZsXEm1hZecW7j7MfS87dEWSx8xxfjnWvnN+
            HRbftx0vut9iety5g53lhmdf771G61H6uQFAWNyBbX/BKHPa+8We34b/a6H0
            sKgb8vIl4245mbcJw6HvfbLbmuw+7Pu+79uu7x//G/SPOv7tf54uXUO837/8
            fpLLdu97Mr3P9zx12fy/Nme+v9vRI185Tearws/uT+Plv79/dMDev9r/GseU
            i/cewrAdkEb5sWy0svfz7/dALYVzwkC3/Iu0yQjxVeqsNtZ7Sb8+J47SXI0e
            f5yrvOdyHunH9+MP7ePnGRQX3tWf67e5Sunn8YXd/mmhwn75fk2r/3L1x/fl
            cvlf9e/eK979vFf+9O9Pe43pAf/VewpWvSKgpkxi1MreqxU/17oqytFvC/xp
            rFwB7cv181y7vdeO3+y1dp+b3+zrfvzhffzD+/qH939ov/5hL95r5dp/fK3r
            79b65/XtQzug9PU/vtbXf22t/9NzGZLV/4IjITDCyev6Gmewct/lz2B5lr//
            3eXbFShqAo6y69pXBo3n+9M5xcEeLTQ+jzT/oBJ/X/O+lmLX6vb9Zd+D0U36
            /rLv6b2k7EHFnn/3d6ZDsQbRvn8+v/tLn4RUk+Q3bEo03bCr3/dx2RUMWlVO
            dCZFp45+v1/NrjQnE95P9r4mu7/nxBfg/fTD/r72mPackEF59vWNM44XotTa
            Mffv3lbX9df/A7EXF38= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
