<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.6414</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6414</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6414</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.1 USB</string>
        <key>FirmwareKey</key>
        <string>0a5c_6414_v5764</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>25620</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6414_v5764</key>
          <data>
            eNrtm9mO5bixRd/ra8SZ6jcO4v9/0l07SOXJLHS3YcMGfAGXSilxEIdgDDuC
            PH9c/tK/eF3ezfvXH7U8lnG5K1/X02IsPvorujZcouhZObhUQ4uft1Aun/K5
            y7nrue9zt3P3c49zz3M/5177pvN9u3P7c4dzx3Onc+dzl3PXc9+6fXXramtq
            nuv845UO7lD4O1K6Iq1e7bpEAe+uH/9S//XH6g9lkMr5xF8fQ5whhhBS4NuQ
            /JVSCtH7i7zinyCyzVhL81cpeWTGlV1a0VNv5RRHfCL93PVSbwFq6OmK17iu
            wF2uqpw7XPTo4zua22o0agzKXcyRmVLqtJaDGSz72uvKLai1SSdnTv200s4z
            +jPH86xvL+eZT345z3Hamafcn/zw1hsay7VreZqhQca3y8Np4/LMNo01gtsr
            cmrvEYy1vueX5eyZ42rf85mZDfaJ6/mez6T3yOO+T+vvmK48/jy/nvqi4Rnm
            FyXabRzgqv/5rT9kGL+1Gc5qzfozv56+kA33YwzXF/V+5n9W5c/rX+v+Pvdn
            urznsvr3/H6NnV9/5hcaOPV/0Dy4r7X4Ub+Sc8YjwfmMJ3yRMn/Pf7mjvbR1
            P2n+jXN+zCz/Pt+jlsj7mV++1u5H/tv8iI6hrrM6L29fp7Z/02c1wtv7rSLa
            zHmZLvAhzGQc4AsrDj/CvGcA1cWy0G1Xa9ZDu7+adfHHYnkXHfPo3ljKajX/
            KXbN7xk4kdm4T7ohWs3AHOKqFwrkykvz/gfls4qutFZd+I3kz0/+/lIF9UP8
            1yp8X9svcv2mHa82qBmHtwqRq75N3dcda6xKWynphDJTWvUsXZOVZ1PH161n
            PZela7bypmGSLqYWRZ5h6dvdTulH01Lao+7f7/noDnf4+l7pyJDe75VODOH9
            Xul5T0ujnpVuqe3yWrYVCIWGH2uwzbbrjmco3UcfSi8xs9Kzz690v3rze70r
            /0SQFlrYUoZUKR1bPGQz/d1GG1t6u6V77HHr3mnpFdcnHeCB39I1h7VlxD3w
            Inb0itiZaz006EytIffSh5+3r3LxVVuN5Xifzfg5/rb6P9KywYGehzGA8XLY
            9q360YxbaYcqI7X8IEsJaYksaoQxwBrcN3ycuRnB4n3yPrHctJgactf4pjae
            MBJWJMPdGduWnwfGuq/cHsQ3cZNfZHo65QMaBG6HXFBOu7QKbbhdTHZ7pFg3
            lI6Nvht9y5ZVzDvzTpf6HsYBsQQjsgBRfBj7HFeaBdI55hP3OLFOACT6pn/J
            pcbJXHKf3ORh93MnL0ZMa+e+MXSajxj8L8bGqN2XgKYbnlksjP2N9rfaX8v/
            1BuWOyx3Wu1ptWf9UU8mKy/NX2W/tQElExaiMsYF/8Mr3b7u8We9OODClS77
            G+1vtb+W/609K8v7r9XIVqNcbz2zQA6uHLI9bl8P17Cru74iGKxcXTYVecll
            vFfu7+WrXYUr2QVwe7+7/+67ZdfDNe0afui7sq1Aylr6fM2/ayM8dk2uYVcP
            asP/o++iLqmCLmgXE1e27+DBv/suZa79z3HBssm93zUHLf/iO8NDf3IfifX/
            nyX23y+lrhoH5HwbNP2fxP6XS+y/X0qfYhxQzL/4r5LYHuY0i5z/+6T04IB/
            ThL8dw7/Z3j2r3gRLi4fin547bf8L14i/9sKvLzignFATfQVJnXSp86HF8iP
            n/zPWkuSvq3q36+l/99a/mfX8l9bv7CR4C2/7x+v5dX2ZN3wr/9kOTj7/ssB
            bHJY+ltnfeVSD91uYRjD3+ZC+BHn16fz/CnW9vry1765lvBR+I7Ui+H2fHzA
            Llx+jbo98dSlsDA8AasXfTWHDi7bIywCBlbt57hP7um7PGox+O0HVvNWlVCY
            Ci84upblT1gb6TjBrpfqg9bYvJbEwq9rQA7TjO0JtcuJSycaUZ6g8fa71QFf
            mcdywfXB6GEpvLRvqSbXcpqfu2MlijywFh1Xvj79E3H51EEo3G3tPuvyvo/j
            J1OnSAekp6V08paFg2J0b5tu9HqW239GgYNbvvUQpiKAQfmLpd09uPpjFJiU
            YhGJVhHuM1KvVfnUSQ4/29pRse/zOOzf24Hk8X7r5NOX/9lXgZiPGCPfS7Dq
            OX31b3XqiHm+dULs7Sz893YUpPxqhw7bidh9r9Oe+qnTn91Xlmv+qdPx/7/6
            AuttzdF+1BljKCIjrrPxWOgy/JzXLDXsOqxMy7uv8bMvHH7aF53jgnd2X8jc
            Up21v3C//vgWM/cTNChZNCkK9TGSu3vqWXq9L/89WHc/39Nl3RYUaWHnh4RO
            Vvm8RadrnO97k65B3se/Lu9fseM/yfsxxuu3GI/7i5jPX/xDWnsLztfkSnxc
            z9lJzBxmCyTmEwMr7TFN3VA3fWCflvMIgV/OWBOhj8FNH3zLIWCSSAXkDOr0
            ALoKhfdSa0DfBLLCHX1oo4cGeO8zhM5zkB7kz57D9CWgqMMjE5PhgoF+CWDn
            G/UG2kJ0tL2B3Obo0xN9B4FdNYbUIw1j/rixB1jgGB9P4YwJ8Jc6zysinHfM
            9UEkXMTSxpIS4sqNLiikIUWsdcY6FHiimbBoqsa7u3g/d5RxbxiVRp02fGyL
            d4V6GAuIN/YR4jQOeLzUdsdMdp8jFgmDz925H+wofU1U6wR6zhueHDVO5jdp
            n5aiAOvTeB/avGEqbgKsM0DiAUTw7AqkJ1h/oHoDOhd2LFhmqbgBlHh4Zylc
            YEZpoHCgHMviRk4OAju+8/4BsgM6BN7vkHxPyc+c/CrJu5JY0BQSd+G+uXtO
            YaYESZKWmbUGPAMKMgOpI+HTMbGSmADYwAGTHyo3GWH+h5TqSqnRCXXSQ5oJ
            JHenHCLUWSnnlnLl/ea9kz8DrvtM6OAEkKKJlmxEeaRSafJ+UumUAaAK+A40
            lCrtVW11Ab9q5klFBBOAVVLtT6rMr9Ima5tu1xIcjHtZod6TYJl0155uTN1N
            u/eY6X58uhfl14PlC6lBT1YE75p32oYPUqN+gzbwNWBukdbeHDOSzYdW2NzU
            3UidvnpMiR4SXkHC4KR+w5qN8t5ThzE6/cEzWPWK69vTYI3gdlYwppELpGs4
            nCMNaDQ6+SOkwZwG8x+LMtZ1QvcZcJ+RkMl3FONKlzTrnebd0mQNZp9p0t9k
            vBNVOy/bMfzP/nMefRyjEOd1wMY158kbHxy1/He9fc2HOg/aN2pj5YKBMiuW
            Y7tcqS5gc9ySVg0YFnnZTmlt90XK9Y62CPW8SxGdehInXMidrietfUGlx1uO
            VhjWvrM0yOl876wfkDbt56oU42k2FmmW845Eq297v31AbjJ2qbT7HbfFXEu3
            sTGW+L4zs3re0TD0ud+BWKo/bI4uqL69X9H9mFdM7se8Isr2zMvGXQFktzbl
            8G4m489BbQCDSOu9NnyQUKbeeXHxvKN7XH3z6VlbWHwz09uGzahgnctj6QJl
            Lp7d4zUrwILaRz7kPfgmJNLlRmPqVrbdz5qFGLEZeA9T+xGIUU3aHWVw1EOs
            3ExWzwn9j5Wdd85hhl2LY6dpm8ZwQ6bVHyX6QbpamkH7nS6sTrNn0xY6T+0t
            7Wc4z5g1RqQFnhyambZ9o4X8oWe1vawbKyCxBW8gRdAOnLCW9sLhGuoyVqWB
            xgwUVXnpO6f3W+805IqcxddPqNuvePdQ60nXsZ93PM/jf9Q3feq187xP/XbK
            26nfTj6Te3a7zXbRk/xNoMrsv/6Qp/doN07rwzhRZOAuVHvNBpEDVESgS8pL
            ITy5PFiVVT3siZ+rXTdYAEcTxY59hE9PWX4EZbE4qPqewQPLEBCuHwbCU2VV
            2/pgrApg0r8hKDjBaBPPmC/WA6QbxfCFMY5R6j3jBMc7j2a+GsgSh413lnCV
            ZruNoDKqeKwCZdzT5kJabWBGfv0h2J2kn+YjTF2MAahTb2QW+3zV5WxDDHTj
            QAVZm0s4BX0+4P1acq1VDn+07oSs+91r7Vl+G4yp/bHrFhPRf5nuFrB02tLR
            PhNYxk/MEjzhb0FueWp8FbMFBu81kAt481Y7sFlx1k6wdqraeZSn/bFsZdes
            DxL4648mMPJ85iWzzeraXKZbdeNSMMsjdSEvQB6Lr0AUkbGGZ7qpqGvZMBaE
            vbShLp9Y9JMDMRy+PPxtG+0IJYKyNzBLwZypj2oHH3p+SpmrZM0Htfq+5w53
            ScZ9nt3jPjiFAiok+KQZCn5exrZps1dhXsvXPqR7XAXtuEadu2LdyWr682Pc
            2t7LCjRjQ6IdvXAICMvDrbk/CkrvMcWyRisljPUU4wFo2abJRpK1FN8JU+q7
            /tKQeevbUdZjXvecAOtdlp9Vrnsxpe7QqFnrKr4pZuYWJO/D6HltfqSl2rVP
            zIoGkGbaPKz9/xq2u5N9/bShOg9e4LR4B656+1pvp3H2a7fFGAEK6GTzWFYs
            I+6d4QekC5s0VjbucM5Ygx7g0wdJCoN1zXO4iOZGXNCizS9oyTNIHeBSPbdv
            rk68Y4WGii8rtIDf7HAt4tPhcrxjhRpA4FU0y9oKxwAw/oHsV3l51N3vZYxv
            spqRY8mLqY8tQ49oyFicaSq3wFOHNjAB3O9aLgF6VjxEk4dHQbP2yInE01jT
            6QSRNATytVgbFz5pReMv/0kHRS4kN23nWZ/PquvWjsWWZ2xLm8zt/abcKP6z
            Rtrex+mCoRkv1s+FrX/euV7wvtEEEsD5RZJ1NTwV6BMFL2hbMQjEoElq+7Ul
            HtDoZEfuaMcfrgfXCmuFScMRuHAlpCszqbztkrYprrLtkuwOzZg9SHHr2DCS
            6SSw69x2o56dkWXxvaTTD6YthN1YwR2bsLZSIK9u9PadtzNsdVOWtPLXN74s
            0HFseSsPXJs/7wG6IeeFmrNJfz7CfPilYI0rYVtgrvtGiJPZGcx0NHxlU5LO
            DEvCOxxrz3pXsPWlPI/OoJ24D1d4Gjg6CLfqlcl1Tv9gW80kh3nmZXExwyqu
            uFUA073GXebO0ZjaVsMThbP6usE6itYK73oQLIa0ymahA6CxEG2BT7FZ5/06
            fGrrcmjaRTdeY9z416G7wJyY9WVhSd49KKRaWicHnJ3I2emw05JnQe6CjnAB
            hoKubuxnENaK0c5+adyy6cpPp97UCTz+j2YHth6nyBTMxNILD9g6Kyipb93T
            UcToSMZ722m2eNthN9mIIZ7TXtd59njOm3mzGYaZ+h6v5v3EYnFKgVx7pv18
            zxXhIZ30KffnGfazn/KejE/LrB8+jfms2T77ACesJhyXQ+83ZVHSPI6/0cl3
            EEBr0/Y6Dal/dB5eV7mQ35cGSg/WlkFpjfSEZ3HlFb3kPZ73KH9BdDiYOJ2Y
            bDmn78xO7bCmTgM6oQhdqxhtqz+8gBsumcD/wBe6TJ/c6F8+YVj+8NQ3rHMF
            05t4zMhYkD3wX+uXEzqwCW/pfMPe0FA7qpvrZ46qF0N/NO4Bf8MKNW9tCKyL
            OveDMhK/alo+eMU77mfb2gCDhEvOwC2DUGXupsb0dEV1WNgoe0lDwA/4cDKP
            J0bJcF6uqulQYeGi+KgbN3XkV9Qn+mdO87RlAyJLhW7wj9Oqe8yTQkq7b/Ub
            tVdDeijtn45is2ggMhptPF6MjIMObqlPsrHQOXpAAaeu/RmNt3TGE0E9fn3G
            U5l2nb+NZ+zxTPKEaUv6qXOBEKZnUm12yPNOmz/f43YT3WR6Cc9/llN2eDe2
            NY7OAmEZ797X4d0CvyLaVbi4KKZ1CYBKS9jaGO+VsuXwC9e1eaEMa4WXMYEN
            xYp6AGovZh4V1l0RDDAU/MQxHKrXtAdFvWankyOmOtaC3My0eUz9OOQKbrxT
            /Oh/tJgiWJtGxu5gTfgYNqh4B/Ija1acC5vvtm4Un5t9d171GKPYTX5It4AB
            DDtTqLnaIUK/+Rjdgn+11An/k8mBvo3mi2mMaFjhc/Kc+6298a09bHbym45v
            X7LzDUI58YXf+CzuuP/rFzjNnaJ7nHXZdkCru0w6kauMvwxQXhoM1bpXMNsO
            DbOG4AjRcr1r5uAPbND96MDEHaU6NdcR/DLDJR0nl/Pe+Bg6+ZDQ7gM5Y57B
            8gP2/NQHX9ehAITSjAaz0pSn07pOwVe4yHxUbBFOq51+FP4NeNx77yKiOuPt
            E3wUJc8L1wgd13O9O3MJOu2GqcUTUh4OSh2KD0wWP/N8hE9sOxE8re2m/T0M
            Fc1PkY+EVXrqDOYLpGW4EcJjObH7w7vXFxBzM8J37hZP6Ld2PbXw2hpbSVgA
            qbNNn7ieZs/tU3x9p7gE4zBiYO/wt6CdRSKyfHi3j2c/fR+VRUKoA+O89TQO
            6d2kjbl9d29+JngB+2Uhry8fIm4+ePEBAm/8UOcSoxqWhD5LfqTFDW5wdLV1
            uZEfcHVKGKnhb+rSj74FQz3mK8TX7tF3dXkf7nZp29aysdwBbR3HxZ/Tu/49
            fWt2aesp1mB5/8GCUd6Avsfm6/RhOPrqnuAu6ZYdy1M4xvh2YS+wWGJuHX+t
            iuGZzVrmk8n3w7HNesc2wEu8D8UKmv3CwHBH6lbvpl6gzq04DOpW9ex9SAh1
            sJzyqP0nMIpihorUeGfxBmEM3fVb2mRm6MRQlYu6Y1NxxnYLS4FVDAMZHME2
            yeYPhw9D25QP2XHhUtpldLf8nw6Er/Jqo+JkGqOWa7/j9fghUE/5JVdw0AdP
            lfUh10pdQeO1jxXMHWsSH035bjVtvqVXZm4bYSYzXoC1itg71qHNsgMLh3hQ
            ZWoLQ0Ejuy0Ak85eX2rnMjT28/u9Af35fohDzvzs4MEyGpof04VH197mSqdM
            hk7xNS874z8xn/NrkfotLa3l7VcLZy61soZG93jtdb6uTT9o0VeWWtdvX0QA
            5LU5tUe6wonj1GP9q+ZWjA7SGzvOaO3KGNGHxfiC8eoQlhEv6BS5petJB4vv
            DfvJAroB/quXYpT69cuz+66aA/lDeffmB4ym6oI5Xj4QgHv5wPshOlBuv5q5
            hduzPzS1GMr2BUwGTfbe3x2I1tl2hfdvMwz1JxuryWo+8cRyMEZ+n8iqwGDY
            Sk82bd5J+p9xOcUu+mPP2p/Qfv1BP2PUj67SOh6fNA2+w4Xv4LIC9n30RJi1
            9WYxUs1HGzDYpgS2EjasQrNDthKgm6cOvK1hR/vW8UFwHTQrYQc76O+nrZv5
            V+4xPtX7OOVvPdUxPny/w09/y/xvZcIbUoDqP7/9X7v/ai4u+Mh+pPPsgz0P
            8xPOkG0XPEzBvlV789AA8Nq1F/nS5DJcVZvSCs+UE8s8e74TZrGfH5RnP9tJ
            W1zFbMPYP+SJFs+ZNf6M54CLK/djPtRUPAK6DV/ASTd2+fhWBVXRdagIPJUt
            orvPtdjTnZgjslm+sIp8YYxmrccv1rvF0cUzpx35Adihy76vU8fbrT/FttRW
            /PKj427PdcWWcgErrmdpk8TcUeEn/WrA3j3S7Tat77qm8p3TT9Bkt/0KYwoT
            0REWz355cIX4/tSlzai2H6fTJrsfvTv8T8URLK7CjJQ/v/pf+2TN3HGaYHZ9
            86r5SGCu3tZU/pHHMmwzJCqKkSy2L36+uyKf12U/iivbxzq+PP4ACwCKUhva
            63n2tzx/fhvOt85iU+Kb6yH/vlGyqXXQ402GKeO7PKYPfueXKVERx47DT7xa
            UOL2ff+UYT/LY84Ok9lP+bvwq4Egk3GLDfuvmKbW4wnGw2JA98Z8xTE6fqsz
            uk4hWSf3RAszk3wno+M48eGlQ0bLUKNk7eo77U6aj9Yr47zr4FzO3WIT3WQQ
            5eqhV0+feOg9VgPOOvPbqC/dA+1M7yjevH+Wt2Uu3eZ7LPfGUEw27Zjb5r3L
            1jzSX5EuDMfXuMbxNcD9r/8LJitzmBtU5evYobxvZRFPTXbBYh/iAzCEeWuK
            95ns0Gfdfv+OgRgGqgu/y514yJL/fe96G/Of+vugU1SMAINsMQOchbT3f3ba
            2YkeO3Wy4yc6B3P0zlq//g9iL2uk 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
