<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.6414</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6414</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6414</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.1 USB</string>
        <key>FirmwareKey</key>
        <string>0a5c_6414_v6043</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>25620</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6414_v6043</key>
          <data>
            eNrtfdeS5TiS7Ht9DbSoN8j//6Tr7gCPyNvVY7u2tja205XFJAGCkKEjgPxt
            nOG/YIyzs/76XfJShrEmGbNaCNkFZ4Jtw0a8Wjt5G4tv4f3ks3Ex3Svfq9yr
            3qvdq99r3Gvea91rnwuNn8vey93L3yvcK94r3Svfq9yr8nLFbtP25Dj3/YdH
            NFB9xu8Rowmo1TRjOAPOmq9/sf/6vfvCO0yVdRG/XfBh+uC9jx7f+uhMjNEH
            5wzyslue0zZDyc2ZnNNI6FeycQeHcjvFMMIKbKcZ1NdG2I5rYWsxzPWYHd5t
            duyn8biyKSrh+YULT++qSjSUGHhvQwoYOd5a1jcwoq2vHX9S86xtopE7xn5r
            afce3B3zvZenlXtPNz/f+7j1zPve3Xz/lBvsizmlHKpBhejfee9vHQRDG8ce
            3p4VuqVPD8ben/l5W91T2O0zHyNTZ1fY6zMfgz49D+e6tT99Mmn8dX655TmH
            LggCbLl9Yt4zK5/fujsN40ed/q7WLN/55bYFXLFffTCv2fvOf6/KX5c3u36O
            fU2bzlh2/8zvZpz88p2fUcEt/zXn3r7W4qt8Qc7tDxHp3R//msr0mf9AR3vm
            1v5Yi5/juuQIed/5+bVGX/lPdSNYdGnfVXhg2NzSzyKaO+v+ge3KV7VjLFs0
            wHkPWANg4t0WBLh8VzgXG/IGTTOtqYVWX9Xa8LUozgaLcXQncFGp5t6vbXNn
            BJbTKcgiDQgq6TGGsIsB4UAXOO5/8X4WYhZqK9Z/z8kzlw/svlD+mZ70mqWv
            NXxN1w+qSKKFwsOpQMBPeaqqpoYSCtN6i3QE0WKa5ZQuUe+TyLCpvJf7o3RJ
            et/YTaSzyB+nZyhdbbVMLw6LaQcy/3yPj6qv/vU90wFder5nOqILz/dMzzqV
            BllmusV23pelStocURDgMxs4ZccafNdHH0xvIg/Ts89Xupve3Fnvgn+ckOab
            P9hUhtKhhTttotNttHGwtCvdQw+Hxk6ld9jvtAcM/EiX5PfBEbsAi+CfJoCf
            mL1QoXhOBX6T7r2fXu8JV203LMdzb4Ln8GP1v9LkvR4tDwGAYNkfPlbcaIJW
            1IMiI7a0gEMR2BKwqAGAARkDVwUcJ1zowcbzxPMEx0aNsQEHG74p4JUNgOSG
            SYDuBB6W1gJgVZPaAvpGXMjPZDEd7wfmwOOywAu8R72oFXODy4aoywGLeWGm
            Q0PbDW2TZxWwdYw7YgkjppXCD0oLAkLG6i30fQ4TZ8bUWYwnnH6CC0EwQtto
            n3jJfmIsqU9cyAN/Tx15IYCFgtK4CobG8RDA/9A39Nq+EDRWwMzGwuh30O+i
            38p/lxvKHcqdKj1VepavcmRNaXP8fPejDsxkBCco6OMG3ANWur7u4btcGIDC
            HY1+B/0u+q38j/r0Lp3fKpFUIpunnDiNBVQO8hh7fhZ+hn667TtA9sqmk3cC
            X1Iez0/qz48r+sn4ifqBwPZ8V//uu62fhZ+pn+GGvktm8ruSBQExrT/X4Zd+
            Jn6GfrpnHe6p40/fBf6QFHSKcCHiJ+k7wODffRcTfs4/ix+Aa7TPd81iLv/w
            neSev7guxrr/Cxj7P4+lcwgCUqqisP9g7L85xv7PY2k+2mCm5PjvgbHdzymO
            nP79sPTKAf81THCfEP5fgdk/wSKgOL9n9A1rP/JfsIT8jxV4wwryI1ZkCgJK
            pMB9y7ypN8qE97fvtSYmfazq36+l+2ct/3fW8r+5fksQUKn//XktTTuDtcM9
            +pNyoNS7lwLYqLD0p8x+5aIcaLvMLZK/2zGYhPn6dN5fWXXvl772oVoCjvyn
            pJ4lt6erA3bK5WaUY6uJnQQLjMeD6wVXpNAByk4PMwWDL+3v9Pvm3rbzYo3e
            HT2wSFtlguYoaMHBtkR9Iqq9qwTbnovzXGNpLdFQ5x6YDlHGtnzp7VjJZHXI
            y7O/vbYyAFfSWKi9BM2HUit8pjohfErPvXYjQrdsGUCdXl9a7ruM7dSwLadp
            Gzd6uVr9RxlXBQEtcixu0Z5l2dY2AKFjdxpfdfpBws52F5aq9HFZ+WcZMJGl
            5Ulum9VOu/67njhDsE9b/vYtPv3XiLcD1r+/SNNAnsEK1YSJdadlWmc/yoCb
            ZVk/Wt2YmX6tOvazDDT2llUPCF9xfV5s/iwDpTyctjAJrtwy3yNoIDD1KVPu
            TOTvmehY3KWZAGHLpffbn/hRZoyAobFMJfHr7VrMPuuZIKTrKeP2KVPcV5m1
            yrutNU5bI9j0UQayz20LZdpkny3kgNZWj8eokj7LW9PGPPNwVnJca9VHu9a6
            AQy/ZfwdY/uaT+ti+CjjTpn+NUbrx6CVitinuarXyPNZJuTiT5mJ5J3zMuwH
            ZljapKPKYF2G6evSl896CEuyPDVam8aB9PXdnwzSUFQmC3sEA/u7DKaCAHLr
            SafPkZb3KTsE8Qfa9od/ws3y6zfp38VWGc+7L4tlnK2T99xLNZ9kKtf1mc67
            yiDV/Mn3EfyQ72elvQMDOt83Q+wO80VS/xu09mWf/4u8rz6aH/Y1+wd72x/+
            gVL25q0r0eawbE/JkhxhyR2kYBfRsdyWuGQDqe8DssG2bhKkrEALBDd4O513
            LXkPFEfKx9UwO91DsvUZz7kUD8TxyPI1ON9G9w2KU5/e90gghASN/NmTny57
            MEe/yN4TIG+AtnsQuwrWAkkX8i5dSljCFFxcwXVIv0APH3tAxSDQuMCLIf2E
            sBxezhBBomLH3QSQyRpSWUB/GyDlhBwjyBcu0MaMNKYilDJDGTT6oRq/UVUJ
            tdtQVw0UrBoYekOZNlxoG880s6Ev0DZCHz6IvqNxqpkdIkp3KUAagLCFq+Na
            wBe0NcHWJsT+WQdQtYSJ8YHqBNQUqCSshudBhxmGYieUmgQhbkGAw73TWRED
            0A1szwP5AI4ZUhHZyoAYt/CMpbAeI4ojWqqqWBY7UrSYYIvvnFtQlyDwUXGq
            Proeo5spup2jszliQaOPuDKuiqun6GeMmJLIZcZaR6J9SOhIGRH6NAaWIwYA
            ucxCRVko3CgA4b+PsewIYhsjysSFNAYQbY3JB8zOjim1mAqeK5478qePac2Y
            TI4QYlFFi+pRGjEXVFlXzB3vILxmyNSQRGNBfYXuRYi+JeGOgkBM8p9Y+ooF
            4yuoE2sbq20REAzVvmD2VgTIxFp6rBAzKuqtY8a6XKwb782C1OFjw3xiRSLA
            PTbUDTiIDeUb5gZwDUF6Ix1//S4tbDoiMVcgarHbETva6iFGtBChkUUw4Ngr
            QLPhfe+xAzA62gPMQKIqERpwHFgjQDtWMMSRMqauQdkfcWCORkf+8HFgTAPj
            HxvvsK4T8w76A3bv4sR3eB0n1nCWGmdtcWINZp9xor2J/oKux2nkpf1f+teE
            Ibubf/79h/5LhABQq39A4D/1n2gAeFL6Zyr+Q//JEhJds/9MxX/mP+t+/YZo
            7uv4P0TWJnRPyr/m2K+O9eHmhbedrsZPHdXMhe+Wu6ZL0yH0hoKrQSku1ifI
            stvLpIM7bWJMM4ws4D2foRH5cp+pbN1yVBn88CddbprxZkyP5z00n6H6rdKm
            uPu9VTsWaxRsKkxRSVdfqD3dZ2gtbFvPlZEvPpmBdH36LZ9+7uob+hKeZ4ys
            3GdoUWjzPI/hWH5ojNazvJ6huX+NK0T7NS5o3c+41O+yoHAyuMvnMdH/5FmH
            sQNpPpdm0bM8+YwHG+4z9Ctbnny0zFAofDPjU4dGlFcweSmdMTMG9+4synD9
            Zhy/fkOi9pu2BaynYxiJ2UlRdFjZTSdb2dtlxrtsByWcUXYMToSqu52dUeUc
            9McwdrLOWktTQwjjpKGpewZPQI9k+ZGDG0g7pdFpd9LQMaGc894Ymok7Y5fO
            3d97UKQVmtvQC1bJsrpuAxW2pQ44HYBewuUKCjPBHBfFT9Wd5+hrWeg75USK
            NAwpQZuw/bTDtIVmRuveMPyO4wiVz6hI+YyJErZUfJj1HYrJGGZZh00nz9kd
            qMcyD33M5tOuXY4d/IntKzddxrnXcO/XXl6e9C3X7r3e8u2+b7d8u/kY5jr1
            NkV7dms9zTtPHCZmXdbpUpzCunr59TsMKvWcYQg8FnPIYWxkATs4nx6rBWKY
            Y9p0RdN0Dw19Fwc0MFDxLa3OeTc8Q0knzt93adEcB+0d89VTDU5z5oaDBokS
            zu+iEB6MgY54tC9rFCBIcxbuWAxg1QUTT6golM6Rob6GaaFhOmi5ENMrHQ94
            Bqjs7OSPcRjVtA4aNt7hmhoL0qxj5g3ankwkJXRzVQwhH0BzplTQhh6mKdsq
            sCuFZGu3iQFTtRjCIKAxp1JQNOyg5hiu2msvpSf6H4AAjPMydRm1n6etNNJZ
            WqIZLxXQmQkVH3DmqmmoG3QNX4VEB7fpewD/gAOV9ZQGJFY9XvUU1rOYxziv
            pHdmlpVL+PW70eXR3uOiCQSrq7FMu8ux8blsFsnSNopdna4AFTmNxa9pJ6MH
            8jEJ7kVngd5p/mh4HtbkTNxgYCiQH4hxAvFyNoVjItVDn3paOc+dV98dDaTn
            ObtQsgctATZ2t/u2dGkVTME7ja7YYdIE3KABhison/F0dtlSAKwNZWqptiGr
            8ddXvxmmRuN2DCUGhQpbIA6WBxfHvhhccfo06u4tZz/2yoIBzKW1wo0kXxjg
            jvY5ftefOcS4+W2om35IcMlpezrv0gL97Buz2i0od+K6ftKu6nrVfJoDj6ip
            dMY7YkV9A91ytBXTdEick5MmufKug2USaNuUNc8k6il3vS3Xu5tTF/qIIYD2
            y/q7Qx7hRDgSVHLAmEESjlty7AEqb6ZdwCS5meocFvSCcEG64WnJwj1E4hUw
            DXDqK2MyAIMV5eYEi9mxjwwmPk1zdH1mh1Tz5XxDKlMH5qUvYHcHJuQqt1qa
            tnBeE8M+d6BDaYA+FAY22nWf8xgXn8FGbAKuY52BU8Kxpfo78JzzCxjkdUAd
            MI1xtZU96UEq3RM2OZOuLRrucy8YPSPk77gAZ8v5d9qTpmD97VqHJzFOFmv7
            jMkCfqz2GLggUxX9jJgn8Lm263u+MqFyLhq3C4OYMfa2D20KzxitYYQp5kLO
            zM247y4i22nkPzDAMFhiIxiD//XbdpOpp0zLuQsUg9AuaAU+wx1z1c2hGH2B
            FaPuKi8D5mCt3KHrglrmfvmjVUAYlqC8+Rg+F3+J5dBmP6Jo2QYwHD5UbmTQ
            lpD48JvIKGB5dkBv6cgpbzgVHnEq48Grh0YRr4I5eJnXniYDV5EmTgHuxwki
            ID0oNGMK30EyMG34HpzAF1rmARsE7E3H7fm2M6bYQYLBuj15LhHquwXTK4wc
            Zx7gtiXtA8BakxyEAyvPvIf06zdAQ5IBhCpAGRBk5Ep4s+BrhvIheFNxXXMu
            /uRRzxB8YHAYq1s9OPDmiDsktshlwfoDJ4kcLg75pdumq6bmWlQ3lhxzQ+cW
            2p0e/QAolZI+aD03SZC7bPHaMWJ3i3ytkIBPL/884HRBCAN/ayZivTrlGZTx
            hyfR8cLAiRjobpHs0yJgtECeV3/lGARvZ5BD16oyjBcf51aID8Ay5w6/VRtc
            V4yW8hO/U6C6O7KBvqVkCXk8OvBdEBwgjWSCwcjy4sqa0/exrYCrTXr6QPt2
            e/gJn7FeTWvc93poOuQ/grNghX0T/wSdAfMv7MQk7ADW0WfoGDdvE++qJz5i
            LdKsTFtz5RvHuiEjnbGAgIXA/Sa4W3OEoMvXiafE2ejpDoF8EzSWsdoEeB7+
            +MgRFjQcHKwy7kp8ZuLbcPGBEYuJrBDrmsFrJurDWFrJmt/DO3797hgJyc8D
            Bxh31FpgHK2F1cBcVF/FiCmTQDabCljflFIW5TjGygwIzkPdmCpzvJEMXiF6
            Q3qvZ25d3A14UyWjkB+BB6DNSRoEnSA9Y/agtyUEBrF5PYOBOEA49I3EudSa
            pcPr2B4YkKX8LkTBPCmign0VzO2YBOx5GIUoAWL3I4djffwGeC/FeBKHwn1G
            +YCrfKSNSMM+dZNIldPmqmizCWm3YhHKTZ9xxrPVBzINyUOVGwy0E2oE9Sbq
            xZQtqHcCB6p2xdTD56lz5RkamNKAAGdG6+5Z3wgxh2s7B9s4ZRvlONRLneWs
            KRma1hP4CVjwIY0HNk898SXPWfZnmRfcYThpQFdvgmEP2UKwbgmrwDXCJbV1
            3oX/GNuBzbpTiSNU9A9MuOQuvGWYxqjqf+noeGqnTMC8Mp/pwjlGHnGAezZI
            NxjmMKjetgPLDfTOFOSTNNrubv/cwTmj/oOo+5xAC24ex7NTd7UTdxUW4kae
            AJtQz3eQg+0dH74d91l6YV3ZHTtGl2/9Sz4WbKOnlxdF8aKyWvak13deq28J
            7aqflCUdeewnfu9059GeeSQNdRVwb3v3VjSoSiEDBkAmYkhRlawVcIeMdGgK
            4Rn0kfcs2mLly6ZeAMbmFH7U3WRExCl/6DEjlCzkqUOPGbBglcYdP2D5GTyX
            6cWIVWp64GbZbuSNU5b2HOfra4yUOz3SRvCfFa4gXjjXSv+qrxGTNj0jlf++
            nAe14tr8q3JYV6gOkMuvHjI7tEbocZEhHW89zhaSNNJPUCJ/acwAj3h4/5Pn
            GeSHOeTGSqtNRNzSSTnASsfB+qms5BC5A10Bnhjp+kf+qy/5b23uh5TOs3jv
            K9F9LJ0bxIv3AXqgHUX56N4Q1Qbzt2LvjSTzB9cfPn54AXjRhT/KQuw74L9d
            vROw3y0Yb2E+GJjGJB5jFCYtc95rXPl7XNDV+2d5jg28/5EfoJ4uRhb1DL2T
            vDEAYiphYUhYJG/3gH7QOwr2EIPM5evAa0YjAVsLUbs3bRuVbCE5CGhLXqGY
            h4fXQ2ZeFby+H14fE9+/aZJkEsj6vV5ZAPrILIcuqC+WeiJw/snDGup9+Iv3
            jA8MB2fUV8mw7Gs2rQEfHERP3CmHa4NpA264M6boblnGYCFfZbQpFaijZ0q9
            kBMiJNzDE80JjNz6DTppJd8TAVnecQ8eIB1DZ2CobE8gI7zTfKP6y01Hf9qu
            N99DPNR6SBatGhu1HrRkqZfTflPAY0EbTzlrLp0Vbpebd2QSgM4AXi/IIwDW
            PC5P2wx1dV792tqA69QXtD1oFupEyJxoX6RsSv7VI2Rk1FG1EpCHKf86iAOG
            Opn65wfyRmf4DfRu2nEydJUx3dyL8bYUKyKFN0VrNhqhocAR/83KFfSHARpI
            g+8tIppsENRXGETMeaYtBMLvnOFDfwc+2SR5mGsjPdrPfex72iThIAsIjzUW
            VGc534ZxKwn089G/K3AQ1IiCUmvSB9YHT5EOTvmLbdnNdt/tuXDgjyFhiWxP
            CsyhGy5muxLk1Zw95T7K5SBkE+sDVQg66Uv/C5Z9QKf3Sx/MtOMzSPTwO87F
            RJ49OyrNi1ahHoiFslliQnObJyIOsp90vE6NkhsGtTsuNFRM2id9knaIswH7
            RLc9+uEz52PrW6fI3njGzz67+qKTy7tjy6AgFy3VMtDngnEc29XSjj3apFMY
            xCeKNo673i0krXR0Fhok3JrIV9+M8kmLQGfIVy8d8uQpBLjqiWfA7Y33oDtK
            g+6n3f0tK3m+mCMT0zcyQVdVjmAAvtFpr6zabDvafZ7+yqgQcsd9xjf12FhB
            8xLAgwHpfDftu5zVGGdh/dHqmd/RrMzvdptDbR8DRtmkhUqnHWtW+U+62Rd6
            Qry762Axl9ykSir7sjvRHBbAmLC+Eeu7xwe8gq9QrswDelPZ4j/PM3kFepTR
            Qm20bS76fdBrwA/WAuC7fa3UDY98CRlYPhaChuyZXnq27CXE/+UiUH1zMTbt
            U2cDr0MFp82wiClvO8eJMD2R5aWeccnJcvwVlGAY5t7T0jtG3YM1AI9jKJk6
            /uyQLwCXSYqMaBrkZ8B67uzTi05SBm+HqeKdlxyOOhdUm/yB25DjF3gRuZr9
            orOUaRt3BCS6H0aXpZJa1bRPmjIGbenQExPrkF4pWTM4RoqNePRq6UIYIkRS
            wcAmLPIZIEU7oe3HfiOZsJExsxxIOd9hcWkX4ZELysfq61uSGcIx+qe0vfBI
            ejSJw0k2yBechgOnjAJXeSqK93vpzlO6MyZ6+lM/BIZ6+/mz7nDwBS0wVBB9
            hDAD2YMm2gEp4eeYJoj7z7E87WLBDm712640UCylnsvpa/z/5wk8awGNxprC
            mVmBMy+bTqccac8K3XVm/OPBC/F25zrW66FBjoQEYx9YM9oy6MbA2mHhz5oB
            rAs0IlRhqdh32k5osYMkJefU7tAEwCLAg3HXHKebTvSjFcFm/YQt2lql30Dv
            pL2IOi7G0WabsltHwDgF5n7pZ7FpuBYm5hmyX6CR+E1Dr/7iIZ5AtunSK5Nk
            JNHQAL1wUA6nbzT+oKEZ39U3DW2791vWqix3etEHhIdtHxrKTYoPDbXSDdt9
            PjSUwu2uNI9Z+9DSJ49ng5Cm2oemzlb+FU09z+d7aw9thc5uQcnK7Ie2Cjbq
            Dm/aStrP9mI5NBasMrOv0neho/XI3q6XjJEvf6VTN+lohg5qTKVaNmiAN1YD
            Ik2dlM1PVDl3WgK45DGxx6cjvwt9O/wObQ3ZoGtfD3/N5dC9E5O/KfPt4AnT
            fadEeY2uSmmxhWMgfaR95rFVk1Y9z5D35S86dZ97gF4MmLLt+vctrWg2Nfk5
            oc3i2b38nuH4PV9pf9JBij5agIyz4qa/L6917pQ5saw6I4VpcLSuO3gG75CU
            qc+E0XSwySKEaD8FCCEjDYin3NTDsliXxtgMWgq3YtxDlUxC39Sg3Zp7Re+9
            h3sui5OvSv7fbl4+2hWydDI68XWP5/6cywGacNP3vbt3f+79vg+M6QeP8uFD
            9tp3zc7ZARBT96ZPOkDDIQ8OENnkJsN8R4iS3mMOuDbtrJPscAAlvgM9bM8c
            MF258yJpjSruwFvoYEQQPIf7HBgPwXl4fP53T1O+p9TIP3a2BfHUHEvvJX/s
            kE/diRbe9R7Sg2xMWNtcettD868QEvbfR8kEwEHoxUa23wq+YMn+vLtw9+GH
            NV4+GxMh14ZI/4Z7rTEEe+jrZH/cnXw2DbIelvUkNh/loGNVe22gLVlHUn1l
            R56tAaUHFDxw6CB1jGuv6/gBvWgaAyJkQzk7Z9gn2Rwotwb68lCRob0sTIwD
            EjHlhbRtYdW+ZMtjlkgfKsowtqKsALF0KqKafCBgOSEbuWV5Qg4oDtu4bcve
            QfM00sMfm7jxVrs+gMdB/XGip5FehgJVh31B4yAV3FjQuQeS/c0903eQrdvv
            /hQMGwzzuz/j9Gcij/QNAviXX2dBND/ppgOTXD8wrF1/gAXaKMUzaZCL510O
            5110oFiHn3q3BN8+XfjOgGmgf6HPPnPvAnfSCLK0Nsc+mg+uvnzOtPUDxqEa
            oJsbGnEHCQkelJe8nbIDWLTsCCDrnioEYJNSbbdNJ39Bd9o8qQpyWT4wxnY8
            ZGNGLfUPXg9Kx50KZ46EEsdnCDAoqTI8IpfE/QxAZ3voZ7HHjgcsRjkvP3Cn
            /ZgVS+WMM9IXpYN63IHjRroOmljUThQe8FssXC/y/0an2AHkLdCDr/rGR33g
            FdGdeXzaIs/AOOlsoanelGcsxr18VwkyAj1Q7q7L4RXS54Sdln4xLzmYB3ZJ
            vwhGdN2CspRc1UZ71sxSz09YliZhleSVYx2edp9zkECWS/H47jGfzkf6W4Bn
            tAEo33MH2ClPe9GgsOGOnAfW05jHk68sN9kAiqTjg/7UIYYm3d6PILMT1Ijk
            e6guAo6459DutBjH0iHzdozF04ABWYx+K+SZlcpgjNTE4ifcF8UkbdlNeGfa
            /R4AFR6fAH08CzKv4hSgi5JvYVLQGeg9w9knToHAbdpr7JJBe6XRkQvP7ac7
            LnH0o3eGvZruJ97h9Z3doaIfmgzwROjDq+vMM+DKkG/NPH412ryxFpAj66sc
            +0G6ywA/d67uaLeoi/GNoIDjwz4SDhw8MgTtJYQHABf5jHzYmJ/NGBfGCo2a
            K9eE/mLgTy3c+JIwC9D3QV+cvjUH3t+8sU+C4tn3a+Phv1l+YqeTlchX83b3
            hCz3nHClXZDPPmE6kt7+5sBIBW2dBE1K8hCJJrW4D38wimd0ZIDS6yDvhGbF
            miPjnaz8nJARecCG4lJKgfzBfVMQcgsDwQfjmBRokSSbxK5yFeU8ylT6GkBu
            WU7PdDbrkDa8p/RNF3k8sWLVvePH7I0de8WTEb4T5BtKwJSH6GMOM7RKeQvy
            jOQkiSxJsnOn7Idnxv8N8nrq5agXvauMwYAU6aAAdAYGTPWRy3WeBw2sDBjA
            e5ppcMdqJicfyqCVJUib8Pt43eeJrSMcTcaVlHjgFq1i5Nr4KJxxVNjpq7Mn
            DqvI7nRECcIg37EuGgR9OXUZ2hMDHXRbpuif359N3u/vByHkjk+b+4/NWrEi
            nTLrPtsZ43033Dn+kTGNXMMnHu2exFg+0qRaTicA3rGUkvyZ92DOOhtz5g9z
            ARF8y0IguYv4CvmUdBr4zFCAWw7rXzi2rHnYMsESJlQvjRZog359xtqCeaXh
            Dv1M+6bDTVNWX0grLDIQ/ugnQP95tOVpu3AMyB/MqwcewDRZFjLHAwd0WT1w
            4CA7JdKXrhMpK2X75N7+1fyKBck3tuM5w49znY6VSuccSjPgbttwcDXfGMh8
            ZYx07zvIzuyKHB8gX1EyG3CBu2bPWiJ/pKM79efZ4vl1ruQ8dbRzUlvytDPa
            Sj0WrJW2KcZaQCfqx1fK76c95j4ohrLT5Si76d0/7vKizmc159ndOWcMYkpI
            p0sreQ4LkQhjrOzzoHwrcZoELT1yDW1bkXpYFU+ux4aKO1XEBHqD3thrl11Z
            FjnKEwzw1FwkGjDkp0Cu4uqk7wLjN7UHHgpavGwLJ70pO2KtnHaFkg6f+DII
            j6KvW4Imbenn7mnrVbCkOTFLfk7GsQxAarEblfele+jLtzPX87Elk77SrxYV
            O/LSLUGgsgen4z3YswPalqFYzgQ63Bjs9sFzXDs0jR6TgbYha3bI15AyNuXs
            7MB7gLOK7SVccsMknWruwgs1l0GZB0pNGoAP6lmQoJy7+qbJ/LZw/nQoopvC
            PxkW7RK94fO4759y4cLgk2/aMs879+Md5UYyMrYP+W7pGCZ/2lfgAOHBuntY
            oRMcQnZokjcp5kevb8Ev+7xzACWkc+/wMydHLyyNabogFJHE2Nhmi1sKItb5
            gtKb7BljuDLY3cc9n7jfvM693fQTFwxAlz77+CybToazJX7EbXHNoAsVXEu6
            NX2UnONBx1avkMWuzp3lm8TISlK/Dn8g3JBM3hhYYNw7tor2X/DsVq4tmM+K
            H5cT6dRD3Q+yx7EFlUlTnNqjbZN1hQ8fCeuoubdw66uMv1bfjszM0xj17GhO
            d4r/cgvzXbifgEf6UlZz249JOZjx3QAEHcjqw3NUaJuBded86M3zbGeotJ0r
            tgRQoPxX+/ucWELatk/eMAeupRdXyU2F+ZcGMzDQy4aSZsT9wD7pSqa9Y+mA
            YunVFw+hA2bbd1UdtOOt861ZP77191urWEj5gRfyK+MlIiOlQacqw68zg4zE
            A37CzTSHnqxx4QqPOmm00kipoyn6gTspuBjMufd86M8Sgzw0hfaADz9X5lys
            CZU5HFvb/ixLvzzw3DFODXJPLLIdtMeXZSBHmWWr5MFy8IM2AeIjZdnaeid+
            iA6iHIN9zLEddOFRmOblO7925OTONyeQtujc2MceKJl6gAGVS99ObMkrZpjr
            TRw3x9lvn1gGYgCPaeNZbpYhz5YqNgFtRur/gotx468V07jFmUhneKAF0/am
            8dF+6BueecBSot2mFx6+JrtLIn+gTUHxxphfO/aESmZle0B56J35nDPrFM99
            Y+9PfD7XrFmdnkkdMvBcFkq05fhbRj92ANnrQNfnyHZfX8wIvcYmXtrcO17N
            bgeZgDhHf4x727yBHE1HLQGzHX2JxNd87dfE//mKwzOKTbz+O4q0HrwzuKy4
            N6pRRZKXTuRRH39+xzge+uMpcTGeJyTFYI5lp59AfbeSDgQ9sZhJPvAe0pt2
            QbfOmJf6EYsyAXO0hSsuFGLKTk8MpD22puvjOdDkylrz+C94unBSXNeJjaro
            BDdgYa3G3OSAZnnZH9DgjTt5/DykWIV+67wT75vM4MwBfcqiSUm0kFMCmpAY
            8Dyk+wEz6J99yhTITcuWhlWL5PmEi9X24cWn3zvp8F5ILwW8vUD9/VhXUN5F
            +vPylX2s7RwbPT++svzDV5avr+zSvgIaD4aKtb8xq1Q3PI9MUTyq4nXec8lT
            w9Ee6242aa8FvQx6B20wVdrCM2O9go6BBU8Nso+n+vikQAndE7NdNvdBAWAh
            5j1rpZhhPh87yiu+m8Sa7a7b7uOjYp8eHxXhKhEu75q0D7h0gMuXj6q4ObDs
            aaxsaS/GdPb0+C9zqU5njUk9Wz6OIRpIe6ANZQDugJLyEVnFVQX5x6I/MeFm
            VhmvBGvcM4VvQRXAEyv30l1YMKWe2APDuFh7bUr56NCVfQJw7rs/Im8uiGDb
            aV3cOX+fddGywKNgm2TTF0/jmb/02wMqjs2avjB75qvS3veneSK0iRbQrs/4
            9uvjJnwRtgAOlfRqWMkvI6QfsVWNcUepbIybxhFGG2G+o/ZvuK444DqK9Sfm
            8hV/9Yo3OvFxnucq2p90yB160nlYYrpxAHY2LJ/7jI194oEVLxjpTCWRny+4
            a+gElXO+D226V7xxkc2XR4h1Wt0VL8dNPy6cOPHZHtrCGEDoHpnui5pwL7oX
            PyCvgUbkK8M0lNkcS+QyWcUt1Ru3JHpH6dvSb0wd64kzotHvB04Dd8oTc8U6
            SW+EZ9T3bz7ap1wbVjm0NKQmOZrEjvuhLOqFCOZAoz2deg39pI+c6lUmXkXw
            BcvTQ2/860es4rh5b/lhMirAQhZTQcoDRKrwGf+ZP+ChXniAaEi95MyxtYoZ
            OnHel8Y4xQjtJjoA+ciZduJBG21HIKA0QocFhfHQHaCE69yo1KI9MW+NNMbw
            rzjQlp8Uk/fIPNYuBgFtxd3Qh8x4K5nGTmSKty+ZOav9ctp3m0f1HP5XJHsC
            3n7ikD04hCksipkN8l2eNTFPf2U1ts/7T3opO/bpu6319KszrpI2cnzD8fkL
            wwvCivqjKPNlfsZEMmibOvUr/pByLPprwXHeY+YeqoxvAROYl6izGXhi4l1D
            Ao/jnJ54ydnYZ/LXKnlGdipuhggyQmpOGOvy8BYe7qaY1/KCI2f7Bz6feNrE
            YA0Q0UifPnnzw0/5ty1yV4wp+C3ojuZKvnTqydJREuCL/gjil2RIbVB5l+MG
            tU+6QJ++ZilOAhxtGoX6IRCDWwy9/owIv02bFl2NiW25feL2xQOlM4M2JPOm
            B0ax6aB0Z8+Rxu3+dtza18A4a437xzvqCzLlc3s25uKZe+IoeOn6OW4XuTMB
            tJ4SDNXHsszPcdN+zBhvpNeI07couZSRojd2oUDSADJtKzuR5rhN89lOpZDM
            yJByYtbYj+cdTxD+osEDPHoeuv74tijLRVryPvaHsg9nf0hxkuv3Oy68oM8/
            4qa1j0W0mg5F0BXCc68nBgH9FU73phiHQgcklbveGRWk2OSt2GTqOZP7DOxI
            T3/D7Gf/gjYa5qC/4WH3h9y56WsrjFKgrkkvC/fBNG7wrLSrlvD8uQxKipA5
            Rzg4ovg+kn5/4A194T4PqwBF0nnmT+2Ha6yL3/FPqjxxxvxTE4YnJqRKhjdp
            I8dQt2wfTXpvM+rh4TtQdKVEJsqyFXNV796g+oJZxknJt8w/qEORJSbFzZfs
            FTdfuHt+M5bK1Upem8vBT+4FE376g59rap8JI8ctZCp6Io6VOZ39RvTroB/j
            2a8peU5ntspa3ezZn9mhDTfIkVwGR3eLdCpu5Lec/Tmie9cd9rvuMCZQUXJW
            ce3sr+R4NC7i5B2PbIORvnTFP3OXHmO2C/dX0nPHIwFtvPfEvcWMnKze8S/i
            YGzZ53Z1B9ocXdO2HvlwJiORejvx025B//wYE8fhQX+/xoYxQRgdjvHw7tiv
            rLw0wkV7/taGNnsY2sfwtrJ9+g515jTEUNkBDdomHGXtAzEjM2g4Hx8Vz1ul
            Tw28a8q+sBSnnrUfoTImigYzyxipp++yQsYqG7v+nEQ9vjlz9v1WxYgXHawa
            QG52pEQJELk8czPeyy13tsO99fSg/QhUWuXjPXGq2rcZqHQfO+cHXzrAS9vS
            1Y1/8je76Gt2ChFVXI183Do6+NidjOw9IP6yGW1/fctmXN+yP7ItdekCfOwL
            yj51UeIpo+k+3jme3olZVjwM4WwG7nk4cUWym5HHnViQExdzYHQDFu2NkdmM
            t6in3PHx3vI67dcExo2McOJIxjh/TIlhhu4c61iPLeikPX1x9yiVvX/9P6oH 0cA= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
