<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3413</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3413</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3413</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3413_v5577</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>13331</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3413_v5577</key>
          <data>
            eNq8fdmS5DiS5PuK7L8QN7BvIEj+/yetqpqB7hGZNV2yM7LZHUV3Ok/AYLep
            /Z8jHvyX8Tee8L//1/+J/bB/4cCnOvgvx4P/v8/wXDz08X/4WO3geRyx8VpR
            H3mNcfz4Fy5c/DntxxwCDsuxxfrUUHNN2F68S12t1NIyvj/4b8e+jO+1DhxT
            cNWOBzuOVJa2oUU9QtI9eNswEh8xZrtt7fwW+JYL32byo4O993Ee7wvYQPj+
            kgKvl/do7Lep/nvz7Qq2vfz36PvTPm5pbO2oiMt0PRPG8H3qoz6Rv8eUwnOU
            9fgTzZDb0xc/6dXmiO9g5u+hrav0fNc1w/Hu75g6zscaRykX3/2YFQfZ+/Y+
            eo5lppRTefhyaUUbWV4hPw1nzPpwvEPlzRfG7UlHxLWOWo/ER8e1jzscke+D
            +Ugc24Uf7oh9k2OIfbjzinZcrkYCISY+NO5zHynjpgsTe1VQEA7ME/uSXWjd
            2Dc0KYkzweMWKQi/JR534zv2nw/24dx0+j6ccy7sw8ukBmKJGpF+tK//Vf9f
            8f/Fhf+AfPKzjttoXIRw2xJJx9d+/FLTHmysie/91Y7v/ed1NP38z/q5Pw+7
            Tjt+HX8azbVfzxNvI6ar4/vX/hrDMEL8dbxGg+P0c3/qvej4X88T1hLNr/X1
            XnpQWwrl1/HOQLD5dZ0hosYu22+r81lGAjHc3xS8fj+0X3Tk/vC8zXBs3YY4
            +me/rwidMZbt32eInvG/5ivOjsZ/i69Srsx3P9/OV8/yFYr/2LTa46dsxx/7
            +OZ3X77/+FwrFk7e17HvL6Tsz/Hf+09nu7+fp77P77+kzXXaKe6SwcD6b0JJ
            xpx/TVhc8zb+/mv/nMt4y8/9M9pshF/XD1f0d/9FEFcofyOIXroxydNIIJFe
            46+b9RRENfHP1aP94xfVpztr/0pgUyCCWkKOvfX0QG6AjVTOUG4BS7/mCZ7e
            4zjOdoMvi+3p5KfeD4d+PDj+Clp3HFKwr3qGnMBasJ0x+8SQk2QRol7x6Rhi
            TAB+6vc66k2R859+Tya+eryqiJRcA7ITMmCVWe92dSe5f/uHaXuwpnkfiNTj
            H//5cfHfHcf5/1fHlX953KnjnAQy5di/OOn6TxfPIgisktjO/8F94z/ts+l7
            nv+Z6Ys+ffH4r0ck+vTl9J+O8+mr//G48i+PO//lfa//9B5jGgkUsrX8Tu3X
            cP9/2NerxEYOSXpPt2nmN1+dtt5DiCtADwBLIcnGCFbwfoLOkU9wixOa6gmd
            4MQvZ8FfxV/DH1b7CRl/TvzxWCiEJ7To88YfuBTVICiRGUpShs6TF86HnpOh
            cOWF8yGNMyR4Xjh/4fyF8xfOh26UwcMyeGoGz8rUni+cf+H8C+eDMPOF86+O
            6VjSJ7KxefE3fbvX97eU46VvPVwme4JUwg6tFNq4+HGmYjskqqCUgfU/T4PM
            hWZ4rnY/DRzvxAnGQTsU9nCI1c7w3NSx823n87xzGAlU/jDb84Brt5ae4UuL
            UiSex3XqIlBG4/1cYvNHrrxI7HgA3DSez83P5eHMQe0I0PlGWCmGqw88YHsg
            HU3j7vneshYveZYfRNlDk6LT7ZgO1XjGRzr7RZV3mEZwxIdK5+XnXNKKslkG
            /YIoSXirWxLYhjecmS9cB8gpYKAiTJvnWX4+n6GWbquP598V96zSc+cerFE1
            yJdN1brT6VP1SEfspp1ROuLql0ykI+uJZ6l59JjCVRKnbL8BFM7WOTK6IgZ/
            X7GYAtRFLh00+mRMHp5nrvxO3tzP0xOPH2dusv8qJrtdzxVx/BnteMxijqF2
            qLoYXwhgGBFV34dbBE2KTgOd46JhDRDCc1FNPJdOAGE+tEVJIPGZ2uZ3UrEc
            fSLxnIvE8WNSdcy5cja15fjbMbXJlqPtBRoqRXbYKJz4bi/RSCwVw4ejQuEw
            xhP0BVqcndp+Jjle+F7se+T3AV1oxhEoDzrPA63g2ms+MmMCz098uYsqL3QG
            CMQOAm6cTlhJPLbZsUe9QoxhRRI2xmjOp6WTBBWlZVPhwjNegauuv+99QVU2
            TVJaSzz/QvB3JYfINNgweZMrmIZ9/kHw7UPwQzoTOY2GDgRy4zmwiCt0ru+F
            iTV9tyGuwPeXtg0Kr/s82LtPKEYCffsh6m0X4YmLypNeJIAXXdNshVz/nEBS
            LcYnl7jXQSy2ilq06+lFwgMDYa+iK+fiNE9VELwBVixpGOrg4vqkK6Marxkn
            h7CM+wl9BPCcJUbXKPFqfmz1gcJurpWu1Ve/h+/5DB/PKWk9ZfOYO+steYH2
            fU56z4l89LryU8ULSZ4YGVm12c8plD4QPgWSobSRB95p0SoMlcw5jJI7SGY0
            vliGGgNbpmuhJ7u3nguE19Zex5MmIB0P+edzfUiB5BT6ReFmJi/55c3FERZI
            mOdMExTQ643zDLzrxLIOIOlE4YVl1JwEHhkzVwDhtALGqy0FgtgcLEr3jXDQ
            QnjkeynRbwQmi/1gD/QwnLoZrIsOem5349UpUMK884xa45NT8kwKlLqvcfhD
            8UEbJxXfI9Yo1tjEtTHRF7dpcmA0YLhRnRowMO5n2uSffV/vj4lMsrBzi/sc
            WDRnEAMGexQxnjnJoARHkKeEChIJ5FwDgqOGV3A0GWEL9ydRkGijEdKZ87kZ
            9XVRh9n31xq4S4cO5PfPTry3n3PwN6wTMJ62j+nrmVVcCOoKr7t54UNeTaHb
            +jt2ZxuFyxliOUIzgTCAFoJnyOSdeDNoTRDO1wEeelKwYcxaDNFIYDzVrF0o
            JrjYZnarYmLHc6dU+50apUia3ILOwUns5lSF8Huk2Uv2QJcV3QzYxizrEEuX
            GoyYazw7hAwonGTAFXFjWmR7Q1L4iihy2fUpFxCkN34zSTiyDYQmZ/qK0ISA
            ea8g4442KFSSxWuN+Tk+FRy/QER9q0oxPuu0e2AFXa4qQaqtzUx13vl0rN4W
            Ly4IEgZ0T5i2e5JOakdS47KpcZArd4fQBNGk+5m8Tgwf+c/90L6nLa6Yx6r3
            vhae4wlyb/i1HlvFLzE+RowQxN2Jkc9TwtcCPTlWmSa7XYMLMTctZo4T1lxJ
            m1eDA17tNhKYujMngv5Bp2Ks1mevoiGX70zbcAocDl6yTTw8XwGqzXHfWFdk
            cGCXxh8GnQsrTddaA805Oj0hMvEdX6nItjPv9aVx6okaeTCxY0PwW35G6AkQ
            JLxvpK/IBcBqkp8gMMlpKHYtl/f1ZyWz92eFISAykc/IyQQvfOp57i1o4tl6
            yTon0HB45OoK2e+DYxPUuQ65y9v5OVhzpe1zjmrPFtbnnHrYOTmKFHjOBQOk
            73PqNCEQv+6D6zw8Z4732W5qwHsM8Kf75PwZAyi1N8dgfEjgSXne20IAiZ7N
            /QLnvYwEQN/ZNUgjg8a777VGCqi3eefpzZFCiFf+POgFTbyatrrPCWefr4QL
            1Qb+7nYfKi24TqeCKb+WnUPD/NyTlR67DyTCO1nZiece730S2MjY50AXkYYT
            viYYz0UfbrvO9z5YY+bepcB/TmPmYd8H+/A+nQwVHOMxHpDKuczM4jKOeHaL
            DbTq67ZsM+0iE37OKzU811k7zbWruXtNkjzVtE4TDND68XDLVrzPwfOR5Bwn
            aS0mIA/xg/wwnHP++PwuktRmrmkLKvJyLfGZnz0eNwQBWJRbBOvGSXjAW9RC
            zo7B+DCX2/2A1/ILfDGo2TEJeAgyHCztbgwujbruvjVPSP6TbOaen/OTM9oZ
            7PyE16cSmtM7QVBmQFwcoEcMVyswfa8MnAsCauvSfQtjEpDQ535xXG/KtIuf
            SYVyaBqC3QPG/X3t54zTzM/YP8dD8xnSqrOIgBMHFgZBEIxp4Z1HkFvBnovv
            JgIg0Wwp/ciyOriecI9H3yGhc6on913SZBouljBEWSSFRcF3HlQ7Il3qmjgQ
            WDeCgqrMLTiFf4/2Pdz+/bLvOWUMtn1Ofiw1rMUVnTANh5HAdVPB5QkMkpxS
            MU4KpPjYSdlP0E2vPAOkP1WPQgUGWkCa0IlP7T/OINPxOim1zmdwC4pb+k6W
            fUUcBs0AAwwJO/F5jqO+as0YOo8hULLZhZfs+JuBdmzQS8/qpuWiM9miE6DJ
            gOsMERm0QgVAMdPyD4iN3JzXqckN2faPbN9BsAxMUQPR9w4DUpznbNLHk29D
            scmAndmM3dq2eBRjZNDXbc5r+TD9/pkmpnQk3ODmo8Rl+n7nq0CfP6PuZ5bK
            0X0blj13yLbtHqU5/D7Br79DTivbddey7eX3Wd2/5721RX2u00ngvq5jD9Zl
            kaa17DuUQsklGtAlt3r54OF1tR/qnC7qEwS73CaL8Ux9BrEcUhX9s205ulIH
            /9ND0nmIKXjkFfTVAQ41aIBCJleLLpwFq0e2fE+MRESQq9ZPYmByBlhOtD1w
            XzoxqPJF+8xt/6fvcckHOXjuSZkKlRDX6vhbVI6wHSvYFu8euYWsC7xfT7Zd
            2AZxHel0mJRToXLYNyCm+/hTz2FIg17MQ47H1k0MMkj9itv80dL8HLxoVYSz
            BKnPp4noHvY5YODPvF9xy2hvKrlcj+cLPHKl8wJRSp0WC1R4XQCMDaYu3Q9Q
            euL2SOki0B0hOPmw0GcnLqfzbjtPy4K6azqPn5Z5Ljd9NzyPvjRXsu78dd4P
            g07ngL+fYd9rVJPbWFXxH4zAkzGpa61jD2aNxrInV5AGJqZ0MToP7gYCgjXY
            x/NlaB1mlEI/Z4JBBTe93GbhtTs4yHqfhwrkIuHatV89Hu9P7lfu16DkuWOu
            z7mXn1tXz387N7znkpPkmdYK+53ygXeir/Lw+w4IKbwX7sKZSuNirsWVyoWr
            YP8JneuUgqoxPUevFiMIOIiWNvW9Wh+LKCvloJeX8uI35WmAKb3l5mGIgRY7
            Hx2s0KyBPIJkvitHd5Inzax9ysLihMHPNUIc4uH6NpZg1vbPIEEZkMMVWqIp
            XRDH28LgID31mdqWZ34si3xLC8//6NBqZmm1ud9humWxcjd3TFYUqFXdf+sP
            eD0nYJ4zfJWCa7Z3xc3fq7SEuqZWf4aOUp2A0+pjn5MnA67vOYXLEUSW9jkQ
            rUvOttXXPueWEbk5DIy9NT1nAkN9Pf3n+5KASibpbqMwQDHOwUggrNuyXnq0
            G2CyTk0WA2+9SYrRo42bnjVWebcVXJbyWMCGl00Y/dnNWPio3S3sJmqGYvm8
            FB62UqaHr4vqAAdV/qPa/3QxF9Nw6cq5Y3pKSr8mlMf0K1vm0AgyFeXCOrs9
            h9w+eYzXyobWAcsjVrDHo29Tq2AndDDnULCynQ33640VPM/9k6uVeZNDfLja
            MA41jn/wUXKCT2o9UlxxjtJKOMF5vMruGd21ZMev2m87fsp9dun4+Tl+vccz
            NaRcM3+Ov8H+6cmG7HmVVlucKRsJROax4CLVtdUZI00R+vyOc/v3yn33UfeL
            lvTcFPcj2kW3KwWDCXprtxTKQG+wTMTB7Vl3AEoDh4vflpmAh2xuYhaI1e+X
            akVK5GXEVo8KQ//Lny7lqiw7px7toq+50o37KDj1zAXiO7bpCLmcPRsCeuMc
            ds86P/e8ec+K28qsjbwqlMp2b8LCqE0m2LVo50AlKnz3EBRH0CqSuwyLp3ex
            8avSJRV/c4aablovLn6Hc17IwpfzggBtlescuuYqjHboRuTWSYQzuFwgwMrW
            iehN6LifAh/mCE5U22AWgXVhUcMKHvTJcOywsIdFCgNsaspIDFZkIiJeiJG6
            62MdBL4Ulmo4pNz1w7V/27oFQQLE8Xn498RorGQuZGoKvGGWAh/DIDeidg9K
            5EtmykjpA6a8z1WMVU7L2zFOUAuoVI4aXG4d6VdYvRcOUj3pT6J/AINU8zOy
            nFU2SIpMXr99m1E0chQPHGWZCnhPfw/ow6KBns/QZVIxHzMMOsDX08eSM2mR
            erfJheOk8J5Mo5NWsfRej7/ffk/TDSp0jXPIeX6JY9DcwZn2zK9vkX6LigtR
            5M3tvK/9JAfiuaTt2zgfXrHsCKHEApVPBv3ISxI967LSuLjNNRTIvw8qeBXT
            l5V+NYoUlS4Frw/JLNryD23k8Mw6ReGPKYZ1zvU5bw07L0c7L/p5sIl1Xmo6
            jy9/wjI/d0hUDgDZ2HaeDnHFqIFAS3/D2Jxs0G05t1O4URfpelYPEYHco63G
            G6KKE3snhgqNO4GKTnwvdBpjdU9/nqscs20dRBG4RZlvcl7v/yjyMUTzQc7u
            x1f1XbqfK+Zm8r586QiYJeksCteIXdObk5R0S/8LTLub7Brm+xviTi46Fe1j
            mJuRkvGc9MOAsbgfB5deIG4SAvWG07lj/VzHM93ACU55TiZNd3Co6SRQFG3S
            i4BD0DZ2qlIqI1nlfiinKFJRcioiU1yw+vcDPAy/kIoPO+flEo2hWX8YOpHE
            phi3uvRAGPCTW2Xdvdoz6IUJIH7t5Nrz8z5PTPFsRaEprEief66tozTwM8vZ
            JUfgk7k5e26lUuc1nMcwEGQ8WSg1QCOyBg3rPPfqvC+wZa7c288PoDBdgx5G
            u1Y5OTZV1+t082IN87Pe165ZwYFeLtUvrFqOTrVrSlfCusZ6lM4STg9TMU8A
            r8TnqyAAblvaIrq1sc61n5OeKYro5M8ZlAxwadzzcA8jxzzS3Sx1sNRQKUNs
            IC6PX2EVU65cy0LJwScEStw8N4GU9SgX5l4+KMUnmKZgORcJZdx7lTQoWmCL
            /qDrMKUp4PW+lSZNBlhhsYjbRZcW2Am1aa4qaCDGM0S7UZklDJ/lpf+d+TLz
            H9ufn2/7LAchxDktpEiLkHHVZOmgUA204PB4U49zKVUgKRuEboZDkZxTPlzS
            Pxbug0fOdH8UqNSytPMZ6WMrWdE1iOBqdqe+01knSUppqMikpBnuEfh7YxYU
            pElYsFdTPvwcZkEF/xw+n3lciP94XNex0Y+l5MSn/TuEmZ/X7DoBN3zsN2zP
            H9f8fL6ZF/rrPnrPvz0fP9ezNm4V3mzhgj2T8RwQ5zAm8HkMPRe1NLqzcrrz
            eSXm/tBi92e3XKUBdYXXg8nAqohpUe44KEXcq8yTptQXOiv7jcVm32v3rQjg
            vrUQYDPbsVT7udCCJOBZwHW63PoQ5/wMdWesXkXbg5yXeSF53JYOZBlY5zKR
            fw7PyDos/Ak9ydwWa8nZ2KUkUt5OuUAmpS9VhGEJUdVTmcEFdDxWQNM6ubO7
            C+2+Ow+9+3PsPPPe7Xtftt156cPPK7fZjFhVdj2GGpW4YNtx2Lb5fi5ud1Pa
            92n3aX58z7aFjVgsv96+73z64c9XY6iWcezjdiVJesxl+c63T8Os/ubPXy9P
            lug2XlAsomkWsGYtuBGnUmDoce2efeGDe1PKbKNM9p9lqDRTmiVKmGsIuoKR
            cEMpwSFkaKDXi+7PEMsg8zzLiFytZwnM1syQLEtGexglSverKeYUWywTLGvC
            XAigDOU+gjuw+AI2Qx8xXne5UnOnaF6m/z7uoT6o05lkky/qs9XzdgqdCd6A
            a+OzkhRvsKAB8UT/1fQMkCk1p2ILi16hDSZfpNvSFRX90TZ8Jzt9FsDn/jIu
            IMFDtoXCcp15KvAKMgp3YJ3Obc7X1xl7aMtry0kLZSUtbpeOCzwfwuOmtOPn
            RB8VdeevRdgDTPvBJEHI40W9OvP8LlcQrDA9u/IO3JqNJ0Xw/T64/D9OMZ2u
            DfPvQDfFcfVLyaf1Vuw7JE4tnHTzKB//dL00VrKUpLNAqnMiMPVcLzlBMQGl
            QO8/9eBFeviSMRE06JggyN5Jp730EU4K2BsG9JIDkn6ZKG/wahRugU4XCBS8
            eMLEkj7OEmekfxkTHDGZcl6DMFZi+iy22F/rlSIMmNWx78JnXB5a2kzHhStE
            heRuEghdcrhe6NjiuQLOoWgUc5w5xkZisc8Fgx4ZH84PY2l3vu1ZTxncd5No
            rfi87DNuCt3FPjd+rvb5OhkMtM8wpjDr9pmpIud1MxqOKXiuc9rnhoc9m32e
            0Fshy9uAlX0mfA43VCIjAQYo9HCw/ta87aIwPEBldwtd7JyLG6LvKqHJqsVc
            ZZiodN1TBrarU1+CLfBcWGWyVlvZgb2CVRRsFXEyGYBkegPlCb1mp6xJpgRe
            F8SpVh+TrJhFIRNcz8MMlmSfk9IWdT0PthrBpW9xRCrPJopIiCXLqcPYj8WI
            RpT6FMDvLefPOQaDSTGP7ueBVVyuY85NvEwZohE0GQWAtkxjjbplgv4Dq2vw
            mVQbVmH5VvfeU39kVmTOIG9lAaWayGAiNLmcxF6aH991fIrkBvZelzhKVjrW
            QU/sAj9tK2/vAoPmNAhbY1C22/7JQL6cwPGjL+Ga9CBgQHqrlwU3oK2SD1FW
            66WpGDIP1284OBFV2fZiSZEJNnjmMs+W7pOcyG4IbbbReYVJplOUynrDy0Py
            aYLShDl4w9bKyunFYseqYBJyaFL6xaZq07VGoJ0aYFyGuDlUiA2mCd4g3bAq
            TymDsGRzWswPx/axyr9aHhIphoHFk5UrHIsBHCoFPweDByJNVMrK+LpfvBR9
            HxWGVX7GedYhbkebBffDMTWdOAbKAVS3SgX4Tu2UE/i6jj0u9WTuWmTEAP/t
            3YmbY7WY8UUhjrG7toE3GyeI7LowzHq2bu+lBVPFzcI9WMT19ZsKDfEeT7TA
            PCPWfDmdNxjeyPhb6XHXUyAhteiBaL1vYSg8GQncy/zBXcW0UqUoL43iOCAw
            cM4MLehW4YKFKPTgTAeepcgyzVfAgCy9MAk6y7G4ntTmKzZwXXyP0vJDtCJZ
            6NTJHjKc4YvARkux2gTJ6QEOxNXFbPoLRMOJ8DD/cTL5mYonJpBERUdDOqq9
            T4K0Pxi/KqQF3C/cIsZkE3U8kukh9abElbB9dzy7f71TIWcysYcJLPvzzc/h
            i5Aee06OW7yUo3G8xHu22Phnnv5Vk1IaRWRlMi5VTj6bxwQ/HG0s+faGK3iK
            RpKjOYc6XEEO3QLQm+NdrmBjIxfHuE+Wu5BpWI0fxtpI4JH31HZW24rdMWIF
            TsAs2HU+rN1tCksFDchnEEkQII5xyx1wp1/WAaPFYslgPSuoXmNtNq3IeJbD
            UI5ACN2LDzn9ZZe5fekItJektfFkUjeMMItE47NYL699Bkz+TXKAfswsm80+
            8bLgexPLpWAlwMwDE+gWzKzMbLeM10DCjYyT1UDDimnxJO6Tv1MxHEy+YjbM
            AMeCDOm44biZUnoxuKRIvtwPeA2WgMyTNX+NxgCnJNE91mBalhGOfU26Ypi3
            oP2Y/3dcC8srP0TCzBhl/ZdL+ZNnx31hk9fZhxRVvAcIaLhTWe9ETpwYhQAn
            PqcCnpMZiOOQi2R49nti8J2KV2J5AizyNCMMlrNcVGSkjEUpg2k/hFZEtlWg
            An1cLCqIBn2wKzs20yObLx+Aw73HkYlUUporxdvLRvGCkHuXlD9cO7HUgJNS
            qFxFaeW9P+N7ZVz9XRFmgmUjHkZbzDSMwb3JlkfixAiZNphpToKhWRRAmNgn
            IuRvTFUgMf5YBBMijT4xao6cfIwR2LaJL06Ic6cynnN/HkEj+2MxHBgTGNdh
            na+fj3Va03OLQt/76b/CNcx/YtZPZJZukdVjNfP+3plRA/faU8ealUT6pTvg
            dmOC4CVqGt0J5FZmsc1CdbBjms60KeeAnizquRQXmnohUFIpn8/Mwd2f63oU
            lGynVvcd9uAFKURBA3iKdWslhhtaM4PEqTBXG0qbxYeo5FU6JCH7bsjgwULt
            CXvSM7go2/axO5Ic4q0XohxULjK2+B5g9uIRTLa+z8/U5coxjExrgLIHa75b
            WRJTBq+oCdNgQ2Y0z7sROw3mQUuxfFESHR2Mh5OSBkvPZj6xzzxn5AEwQNZZ
            p2RYg1IzMtZQV4ZYFvvQylnfyk5hZnFoUsggx8Wzk2dwPdlmfPP44dtXi8UU
            qJCwmdeSWm0Xa3X79LIk+7QpA2ulMrYDZa8kpW+XAEWH5fHM41b+O1b5CUo8
            GZ1mbJ953FVFUYHWQyim0TOGIfuZYoCBSibxPH4cCyYyY2b3Ycwqg2kVDIDy
            T8Fs/B7ZNGamy2AfWHx2UI9L4Yfrku1L/lWiJzZRD+G5NJJjfM/J8QahBI9h
            pTb0+TR7m3Y1c3dIRiTMyXxQV0QxRlAgXUmD8cdKEt37VAyoQflg4vhzk6JY
            4YFlFUJVUuZRmLsQVN6NO2Il+EtogCIGYykNBJMIk4pphZINpkBZIBFU3u3h
            brysr0ClBfxgJXTVXh8zhxT7ZCsciMwGl8Jg7AIr5RQagRcW8GN7VIbz/HD+
            MGdJHmY7347Cyb88dNmMh5QuXwnUqg7XxmyLZ07iYYEro98Wd1eVg+f6UQpY
            kv2pahD5O+lcUoic9uKAMFM6mckR6fQjSIBgFifLJIuikxdNinrf8VWthyga
            eu+QX5QaG7QtWF50lJgaHZPiUAyWjzcpNSg2MaihzfbcMYJPXpEhOLLGCWHA
            8Pn0kHEYLmyxpjEFeDMqJWeRwM74HWZEx8qHILzAovFsI57pEsxMD1OaJwQz
            rlPxfPHzfIc/H1PuYH4c3SOmbSstDFNfplF3T3LVFpTu340D+TbKlnZnDt/x
            X9xT9cbJ3pPVXJJL0W123MZIgBW/FiCxg4vfwF9+sLj2uDAidwjRBjn48Rxk
            mKhXnUy1ogRVHLa3SxOROHAMBBBQp9LhuOwFR2cad+Q+vbhveS9GVbKIEN/r
            Ls3BNapnBls908DCaIfv6/u339/xJCtMq6msniXs2+N/6ns5/HuyZ/Wtvsfr
            tv08rvhx8df38Ov78fN7eX5+D1DR6PoUP2Ei+QkamPSjX1fxcUy3nzvtmYqx
            UNrL2N62xXHTNcdCD5wFBnCQeY16Xn5S84t4cGBiqVNvkmsxXK6C0xtUVn3I
            HzP3QQm87dgI2nli6JNG+9FUaIHP2J/f64A4wQRoOdGJupRPzM+dORbHXQ+7
            7tHt2pHp3/WLmMD/ru3ePBhdxfPEvxOVMsGdqIKnk3MV0kOdNvv2/Wn9+n7+
            +u6BFpNLdY8hlBz/3n99b7/Od4I9fOwTJrmC41dPFN7a773M7ruWB1J22Zhn
            Q2fXjjuj0/0DEFTdrtwc++zdE4n8Ouu2cALsWAWuPYqhk5t/3+g7Owqz/OI7
            6rLRf3ZUZqMH7ejLTuHe0Zmd/Rx3tObYWzsu+XV2NOaNuuwoTf4ZhdlRqdB3
            VGhHi3zrv8f9vB6lOT0rO3cbjNMHc+2s7fwze/t36vmbzb2zu/13EaVzgeGr
            37cOLTAgfMjm64wuKqlEWSEc9vAOVQGPJZuQSeqp9lcsQoPbCT1dytOAviEu
            a8WKStqRIhopGran7TrM0yYRIfVqDDpJmnOBtoQyJtatQor22EvowKFCPhhs
            9kL7oqYvMMeQ84N1AP0TqqD9Ht29h+0ktNv3Syd7adhavW19I7jniVWVxDmg
            DymYQd5MvhFOYtBJAVWJVZpjZ2xVeqmgrzCriTXKszlOHN2f032t7trU5yqP
            Fu4I8opuMplo6YzgFLo9iwrfm1Sc6uKRUac6TrFp2h700w6I0DRMCaQeU2qQ
            a5S5oy6uhONBHzhTUpyLtl7jltWJ8eiewBUDvQ4RWg+UTyZrMIjC8cczP2LT
            o0Otom4l8CTsl84PvSsyvj71G/gJiI77mQxT+GwkENZww2SfdYAVL7mp5N6M
            rgsoLemKmRpvIlgN64fx1pGIJjmdDBnSqw+pn7OLCXfUczdYa2fu9sm6hjB2
            mjlGsIa7gInXJmWOA3II2KQpW4p1gOXUYAla5dtBAJZ6iq32NmHnrc1itVLM
            7DFnlxMji25IMCrEoWuS34PECE09KP7mU/VtT07I8uVwFWHiU7RzpUO4CIgu
            U7XFe8fno7nTSIc0WxRLVC75nLusjYTAxBEqY6+i6roTBnjFtvUGKaVSuHGt
            KZH6VWPCupMjmKjCffQOIrIpsyftSikidoGoAq4H64orJspwtPxKUwaPtBfE
            NnOj2cb1ToOZUXypzY53MHuzzepFMrvC58rm24z+PTDPn3FpjoWZKjJXBgGq
            lFll190ybcu67kU6p7NXjI3Ka3dwfoPhnXn/7haRg8y9stBl3paJW1aGbpVG
            zZzmaRJWsCmeaaZLZUyUUQZCPkQY+iB+OcEL08EV+ulzF4fjgGgOcan/yvph
            oqJTJT3V8nJMLkPN+lACxdf+a++Hxt2TheC4HzM9N2IJV8dqmOVIp6Uyi4Y8
            MjiuxGo+Q8vC7d/HW4WpVkmdHdaXcNPwzOFS3XDY5yY7h1F9nveU5553p24+
            vLgCh1aySZk+YK+JxzMvD6v22p8DERaECYfn6GTHOJ+oJ3i3ivPTaQXzChIQ
            lCM9N7NVVmCIhLrddcwt42hy4lmuwqp+cIb1nP4und5BLBZQsD1PBLf6fa94
            /7zX7HgnpqjxGIYlwyaBUwZkz0outgGXrzK1cigQ3ejEHJKJ2SbqCF/HMxDd
            FEvUDXBPO5dLdfoAR6Uk64UIYMTjOnhcuF65FuTOH4fy9APl1ch1XFZTKDZR
            Hb4F9wvNCua0jd3y+yGbO7Vqy/D15xyw+VkMfKX0yMMiN5ruD3bbmaJO1nkL
            F2jMSvOJGi9Oqg0D2SxTgu7NH5EMc/p3sPTttGAS2re2CtXfyr097ro5g2At
            xQFsC5VbOY0sQZtJ1yw78wP75tiyFwQh9tflOBLEIMcOj0pFhv6GWVSWx3GE
            zoGxGCQ4POE4PRpEMifNTLDWyPc0ElgEWeVOKCbarmg2JkQo073Fb+1zPX5v
            FV+NlggprA/JQDxYM0Cpn+klyje0PMGv/ZQdYIGpPzvhbn+ux9d2GddRsiOD
            kv/Pg+NhOwbLD2IJ9V09yx0uQ7trrT195CC0lzfl+1veQklk0Z9pt8mVRrPp
            /zsTCCZ3ldasZnFHT+hB04o+n5NKoyUQWKiT+0HUZ4vGxfexHdyD1dQYxBnc
            oV41no4UkBiDO/Riyuaplw82iQB6Icmb30v6bww6a1TKBb3QBW80b03xCa5C
            RgWXhoB/wASW6gVoKkBx6tofbno/gxQwbqGS6TgeE8m1ZONSUfCQmRzUDjZV
            Ckue3StHDxxNBWZHxvmEsRpBWPi+OCWWYO+bb3nuuqEe05te6WlWrkGkDOaE
            lAgh7Zke1BInOM1kFVVixJ/vqXws/galcrp5krMrZbwnGTUL8wJ9ApM2ugL+
            TLdIvOezQ2nYlcYdlMvCeDisijpZ/n3TC3vydWGvE8Nt0m7vi05HZsljbGa5
            KIJCKsw+CxQ9GNTuZeLppp7aGYP3cE5imhrVo62VgS0nuTKpUkrOKY07Lgx4
            u4nWIi029Q1PzUqpyMpLm3C/bvXzoNtlajuN30GUGEqwHjrgx3asHB63xN1t
            1SloTPuNWi7OY24SdTO8zvrOqrQUfi5GCx7nrXgVO45RAuWIMdWHWZzdj892
            fOq+9eDz5dfL+3r+e/bfxy7l9lL0rZiZy5V2dY/2uwNoM2mSz9OS6rGvbNdv
            DqS7S84h4ey8Zb7tw++DEaqWtWnby58/bHxXf96Y7T6Xiye6jcYO9zGpsBEc
            0cEiJCMZL7lvw3E+OeH1uaCjagKy0llU77AngfbcDMYin0mUMuJnpaTg8SUZ
            DBaVGLWeOwcdtL2SrYKumD0m+RlmWzKh76m4TqXqbNcJUtdphyZinXfPZsTi
            4eqVT3h6JW/rLEcLtlKwv+Xv7ym2pByOu/WpAgO7PldnHGeE7Vl6G7JhgyuU
            hz0v809BJRcD283gbhZxcUWIuCbteq7WSA4xBdoA9YzGnY8F5xk8EPsIP8AS
            2pB8jH9MCszKtPOvEvHuoDINWvwH02Nvix0MDsXLLV7uQB/ALxAIfOfvS3Z/
            5b36YloJMTm5gqo/d7NgSBZ3IsvJzEmQfv6VNdkvFVcKT+dhjj4rR8Dw6M5z
            ggjnvZ0nGTxJA3Iyq+ISbBH9K90cB2L5whLgb8wOLG5Pbn+vNNp8xX1Platt
            qBSyasvoPHh/z4PSAGSKrvLThn62lfNYFoWBY1N8DimArHAqzAWmhp1ZfoDr
            TClQUnQZ6KDDgs8air1HtmTCQ1t/D2L5iLVzv9vh+z1k5z+Ci9J7hNPeI132
            HtnDfrKTz3ozuA3ipP2KWQcX9POzn0/i2c/EYk4MeE+Gz2A4+NH1N4tDCJck
            Pl/zKX/YkDJMDd5IIAQh+JCJJH8gpzjKpMmLJFZZZ2KoaPWydCJ4PhTZVD5U
            xUQAxpsxpB9ptzwuyoGR5Qpk3pRypAyb6cekwfgf60PdQc6YqgiNId/RlFFt
            n0AtKKaiYK0odab5uoNlE5qTYn2eheYgMz+gPxAoo8FkxeKuTGiBzGQeHcEu
            mL5Rz4veAyx+iTGsbRK7nAZJbk37DMn8EEHGrzH8GuYccYRs/rvwFi6OXrGz
            xU3+KXbW2mLBxMCzY57uUMjFjtOO+3m2mNhib8fHl3OAqGosy04hqBxt7uzj
            y+zlTDcoqZVeM3foD7GvyJQOk+GBhZ6EgKNihGEsdG8W1n0ZJZb8nL0oIYB2
            8qSukJnPZ/IbTwKiTeEJmHS5DqGXKEujKElPGi19DqwGUipNdEpNXseXvazM
            KNncn9U0Y4U8T5ZACy9FCW3fmnMLWj3MFR6ZHKQ7IW3/AePXp+c+EUExCzxz
            MJviTcORaAdf3gEK3zauHyaDkK4nkWJHMdhVLTNlz2EQ+73o/AyclfpUxYM9
            T+ZkdhNrf2FTmnmepTe1T5pDSZ1hfZAYqJD5qiTLZPym+/ZgWWA+2lCskrpB
            0MonhAU9CQ+XNTt4cEs/mRWgJQJVEi/2ilLrGb9jmKZqf62Wus+CZB2XPscJ
            QWEpdeFmNI/iEC80ua90O29f/y4/ry8T+esaNT/3fexSYTvn6v/1OaXZfW+a
            HzVM4bouC34rSM1gLPReGuX0TBlAgALIF48D1RLQhCUDM9Ij1aUxE6+eGF1N
            x+TPMVPPAsqmpo9nZYb7lL1VWcQ1mbdDNz0E7RMkXgP9kXGXfwQvf76yYeuQ
            TVvFqDckCKwxzSQBsijG9p6nWLp7zs3TDTITWyQlbd3B2p6sVtC+UQX4yP2q
            uFOadxUlwBYLsPWlRjHOMjKG8b6GGMNphd3HZXEWJXk+jyR8ZexyNEfKxdFL
            KJogYXokPWWB2cpn7w/tUc/g1VoCFWI+N8kfbzLtSTyWvx/b8Ywnf5uCzFl6
            Tv7GlYB7gIM8ygXMV1o7Mzkoks/vZGI3E2x1zXyJanh8vC9lK8fFXMW+1zpt
            jsjCwnPvOy/aukIIUMee7W3Hm4dgYZZACIPTj08XBBvGntNdsDwLnR/+2/X1
            W4VyCMW73CqUyWzP8qS/XIPp9xjb9zvWBtnzlUtLpr7cipvxYmrGEExKFva/
            MTd6V3UOBoOYFESPNinjEdH1SUYlHOtKRLHmCyllrTEL+Nhxo2DW+uHSlA4r
            qXT0kMP4euhVyHbsxg5zS/yV5pvsH/eqK69vwKBkBtrw5NdD6RRDkVSqMd0S
            ZGnRr9hOqGSG/JX6rsB/E4fiLtTJkpug6exQCZ5p7BnESvy5CPezE3eC1wq4
            a2CVenX1VDoM/zObUs7SfwKIQ39kbsjx7gtMDBpUY57kUpLJKcn5Ho/pRHdn
            enfQPoK+0itLuPqPdXz9PIdKtqdy/zhvTEi48dOqfu9rkuyySvixnX60tpPx
            zcI4FIspOf5MSwcRXBgMmjYy5FTuRte/XB8tBhbBLDpLr5/Pymcswqy+D16T
            Gj2TiMFqx2HSPeFz+L7OVRQhUIUyiTJ7ttfYcLHeNKB6UqjAi1qWDiV9xm+w
            dc3CalrydlW1nAoGDetbZS6Ie+Fle30NBz50xsByf924EHt/ATtbgme54q/f
            EtGVlkDP/vyt2W876fLPl4I2YP60nVwkhVwOw2Y+tuA6qtwFNMj5hV61U8V4
            WlaBsw41hKHlxizKzHGGWbgh9lS3hddSPMMoWmFbKnmepGmJg1p/BBVjOLXR
            cdT/+ruXN02PLQQqkp4rf+GtvRoED2bUKQtoqXTPVgYjc9TFPPZwDZbI2SC1
            FQ0+hwW9gZBd/YU1GSRppdtGLR25MolA+qQvqPZuaCICPWbctfUX8qMLlliY
            757DazZfZiorM1NXp3xmGYSkQ9j7DroeucYINcoAcI/rwbt+Gh0Q1FdwGkoG
            hKorJlqUtkr0XBPTan2klcQVecXsaQ6RQ0XMX+ivg/v4+UhUe0HE5KRiNqyu
            os/UfHRxuTapFCDGuuv2poj+Kh3tfNgIofZcidc8HQ7ze6hBfOPNVqQxzEG5
            jVTY84tRl0g1fkkagKZzFyJkUDHSFEOEwTgGa+TwXEp6M1VfrdqKFfswSKX9
            LBWI0bMhB6VYF9ILuyhgSz2YEH+k6M1MCVFcMecsO2C2/AXGA0NqUvZMGEyk
            Mq5+Ou6ofBEIm/m9xC1nfu5YBtXxfGWOexVg905TBlF2QjoyUcz6q8irCct3
            QuEiYqVh4TFoTZ83CQWi+oc082szxZVdN1hTbFnvnWKaaVTn+VZIcd2cDO80
            s3m2Jx9itzXhjn3CS7tT2q6YHqYVGkS1FTkp2OuFMqkbTCYerxiYjol5L4vJ
            U9gZnPFs3vDA2QgTD7aENh2JT0ssfPbooBiTJ3w41txF/5EWepCVj5O8bYOY
            xSLr5VpMFriVA4npkY4+TpSmoDyMuJ3FOkQuI0MXp9clFTw+GcWkroGFMe14
            AivzeKUAKPURzyUyhNFFh36y68TI61jWHLcB359gMcp7UFHDfrt20gr065+8
            fvbrM0+EiUXi1JiQf3mf00XiXYULcpFTcCz0/qwv8fQFucnoH6TpQs+IMtrt
            /nuMrcJZFWZNE13UN6RzbCRGC6GF7NnFzjiWHpCPfN5k8yY1AEIGJDCZLN+U
            b0L+wUYv1GaJB4XlFqo023UzqTZvGEfWvauC6PmO09EOXVbKxnoGw67PzGJP
            +XbHbLBBwHzTFSJ8hlsY9VUVQLeqCbDyYYsRqiKFSEtc206+W1h+EAyunjwc
            rI2NGH5VZv8qRuHSx1txsE7imEzj/+oFOD1/xMInH6nG/JMqRBzisyarDrdy
            h73SLu/QFN9grmE53F6Ee7tCObnS6srnuVwAeW6/SswdI7/8DoZags3Iu2jV
            dYXTaxuGp69/48yzWmTzne7UzYjuxrdy80TiPCQVcLIyySiL3nhQpVaWIf4l
            tfH8Xl2up0hhZWY9KJF9AixoyPqanglr+fFIQHjc5CIb4hf6Hax3lVszXMCU
            97RS2MWEAxfl73IvgYKggi0qQJFoHA+zodvB8u/oFTdEsqYdxA4H+bYsn5po
            cdbhjQgKnindtP7F94qAD7Ph7MpjCkne7pOF6hCGQefRSciCx8Tg4W3CtRcw
            q6DK2mImBY9liu6/OLYWtXwV8ozpMEuIZUZ2WFrsdVKK11HXy6TkYdWaRgm1
            b1yYsKV2Nqmteg2QzdU9Vq6Rz4IkfVgztFsy8AL0Peg3IxXoAiYFruG0KQ+i
            LKwPLcqdUGFbVVhjoKtCv+awqIXRRDsK/4Ih2eDvmjuTHnS1Tq9+mxZrLOAT
            VFcTlJlyQis0i7KouJo9K06MKowGauBpGZIMIROU+HeaEaXtja0CC1nITbPY
            tXcaaHYnOdOGhDjV5Spkwp6euRdWBdx0h9k1j1/XBHcuSWWNqdg7WrFzNDfC
            fu9MZOgJzovTypfzHMJvSYE8rsGMneLuSLlL8VnpQ8KYi8rE7awy9H0hmXlv
            FR7tTTUiyTEuJ8MvqVisqfigMMFFLktlAStxoZuuFvtzCdST83bQTVOFU7es
            CQOtCayLm5DjMkDOfaD8B1TLhotBr+WR/xZaKzk3lStVxVFpZackd6LTZQy5
            XXbjj+JerO1miOtnQvZWQnfh7tk9JulkvivVnl3Yu2x7saEFi3qebUktq4Da
            WzKOzBn3DHNqgvrc/bNn8Yf14/O5M9BZTfbj8/0Crutz3p89rSM8Pz/H45NB
            b/vV7CBJTOpafYdgot2nW6X0V+b9fpfty6gvDI4ngm84HUhmbT1S0FoRTE71
            CMJoBnBf/HdYxs2QbzyiUKp1hfLjqyPPnB5IhvDL39XYN/RxizL79Q87fi47
            vrCfpGB77PfyGBFkf34QncEPLav8YztmfbdgkwDs3jCFetyw9QOtyRgkKcjM
            qb+Go9HE4DJNhDyp1eEZpbGqmpHJ2eXJokpzYGHZjOLQNKf5lClGZzaP/ls+
            eNm9CWRfliYcBkdT2OdSAjLuWQQ+kcBSsATBKpUjZcW9w7yk4wfQRYpCL77r
            BwyXy/Rb029f772U+4t3ZrGWQfzYfQ1eJz3Wem50KzSuZ1Ier0q0uv1esRjH
            JIAp27xFO0aODz9GzaAtm55J6pOsjKD3ZNEYp34zKOZb7B/cltgGC1xc9xKk
            D1NHqLbsd4fONtpXlTospctB+tg7S3NInzPTgdJ1FZZi5ngbLHVRdL6JpfBG
            hNa5ohnng61n+ACRSECNnWdoogv1iTKHphQhccieqsErn4rW098p5Fw8DNMz
            D2/bIKlrOUmOy/BKXQsKPIR4vPb1iNZIVONogVQFcjFElC9CS2ZSVR/PIDoM
            bD9alPSPEAG3YbU/RYiBDNe0Y/cPIToytf8+6JLBcROcbljTvuiB7ryetRXx
            vFUrKzY26xcmQKHTPnlc8rFk9fZIXVHsEetWccyH8UpahhZAf6uwa94YVO6r
            Om2l3zs1JRkUX/GYImHQjH0b24ahcXuvl+f4UkzOZMEoaYmsGAzRyi0ecymd
            hwelextefFVoVZmiTTBZWgXb+I/e4e/4+8vD2mB0PDEg+1+9vFomYvkQ/u66
            b4KBnxSS7j97HjoVI4G6rOTAzVVBCVzxboQnEfGEZjjpw6rD2/YsLUseG9Vf
            Lkl/9ZRTEEq0Qck2jlydXUljQW0e184G4O0todrGQVgOQ2mwiyougcDo1jns
            Wg2jUJQt6VCFFIXdXfQ1hKszRdb151ItC/A+vjqyLVul9OByrAYdRKYfx6Bi
            M7pmuECivvsxob2V8ayusXfujhoj5QbjLGBoosdDWSRMgDtNBYsg563SZaa1
            qypJ4KjWwYYJ7800o+EpJM2zBlvwzAHzlhJ+moEr1r4MopDNRC7RrL5V7jZs
            u2oAlI5JV7pUok4fih0z/RgmfFDjqNbaluee2l9tP6596rPD5kjjUa1ps8R5
            skauWgaWm/1WvF0G/WU9QHQYTCG5G+MyXTiDRFHGtlx2LBuZ4Ni8z80sIAuS
            y5O4VMzCDJyWoJZcPLaUaPuW76NfzcoyOX37M51PjLC+z1CJ4kaWbtUOP4k5
            3X8nZhItO0KJaDsLD2yx9uGJf1w4rI+Eta8ODAaJxOLZlb4IErbITJxPM1GK
            /NWqp/leJQPG0yEE3D+oVpgJfvN6sdGTcYjeLYWD+gKdjr7/0EQzTBPb5O/M
            jykQBYVAlKEf6dtXbNhRVOhedvU3DsU+Tfu5SPV6LhBvoTU6CtQddQ+aN7fg
            Itb1meWS5jHv04ucglJZVMztwCIz+7b7lsDCGDziMH0a79KfYbDcUNEcoKQq
            Sd6emwuXuhyhzokDXum4kpbvpp0pnhzj0Azj8ls8bIWNtrNp864otuUIO3bc
            utQ+5Jm/MhNrdcXVFdjiFYm/FFxLPyslGKS058dgWSeDWPGHeOymP6jVJ8oK
            gv55ovL4c6KIa/S3ifpmsZTnLIKRL8QH/sdK+XW/zbLj9Vbf/WTZLKvZbBd6
            g7k6zD1ynwbc8a2Yru6E1g2yx66HZ56FoYfP9ZJfb7hSiuuxfkmEMnde0Oe6
            6itO9M0ifPHp7humUgu/kejevAsoKcD+1XGEmf79fN/XufvXdfo/X6cOu84b
            h8i8jpGA9RJ/LKud7trDB6AkU+iW+Y8ykTWJ/n6EORkdzSu9qZPECbw8Sy5Z
            VT9xyulAm4zeEiMx+XUJRHnDugUhgMmUM7nvibkvm1UN5SWZ4jkJPaOYDbu0
            4oUoI0cZzNiXEjcw7u7BJBPr7DzgUAua6NOjpgTVcv8ULIM5N2QO42wDnIlA
            HJ5QRyaO7+13YEODX2zw2V10E0gafw7+sCYMbwWAEPJAwBAj89vSYgkO0eAO
            2UGGEkcfnTovxUmxQ3t0WrDIEGnw/Lfl4Fn2J3NitxtrI88c3px4nNZp9XQF
            XA0DWBZ/LuteCouNwb/0Zu3hYaFVrpNsi0VjQj+/SvkSE4oVPAIbATHTqwpZ
            iGvO+2Nj22fpCm+I3nEM2V53zGVILCqlaGKXCl7OQREtzV0OyOnK1k9TzlzR
            9OoQo81K7YzoajGt+4UlvOXDvyxAa33KtaJ7oZOulUtK3V0cj0mdF9vTOUmm
            gGWF+sJhjs99LkOXJBT/HrZ5hiOGVTHEwGstgcLbd8rywNaV8ytLc1Kmu9nG
            WKqatjRWE3jFQj48/gCj8/rcn9x9mQP4EDAQzmUeNwhFPpBmmCe95Bd+aRAi
            hziaWNiMLdyW9+btIGwQNSHBV0ojMtqh/du+vt9mM8Z+xFpVA0PFprliZqiq
            +m0fDyNrJJVtyGtcaK68Zpp1nVsO2HXRLvfMp8qibnwPtzoSmLdZg3CWwe7S
            xLu/F4z3S9p0JR0TXiYRLEfHaZJaAr0M2w7Z84wWJ6UD1GFe7bx9AcZNLPEd
            i0VBN7la3RFFYK/jEqc5fkPvvdzCxZBhYORjEwr1LUzkO3GYxKxepkx5sLKg
            QJOZ/s/idVHBa6LYVAec+QmDRQOmWJbtRUx0BV7x9zXy/PMaGea5Aa4/1quo
            KOxpvllOIBWYxUTAZY6IbKhtL6XyBShLHwJ1KRLJbBSOOOX0uzIYJQoClaSm
            nW2Fsh0j2dAmDPURUwtRNrql9m9p65w8ionQy+ntnG6/JlffayLxHjxWVE6Q
            8mytpbbDJyrD3FI6mJC9aujv4KfLUWGjGurOYauXeFT1sEwIPiPXnZ9TBSE7
            LdHnh4+j/PRxiKCrOjhubqJxyYeZY+QmOrdYAoSwmjkNnMesBtbj+7zQP+e9
            XIBdqK/7VQzLvf0H9v1VDF0BfJI1/a394yFMmwSE+j++LuIAYtst+lumYFKK
            cqy97mWnS2+nxXZmbOfF1mY3ttSbk8KyGGslr8H5yVZ/UvN4/qRmDN4dtw5A
            MzYYXMM7yeQ0G+6BQQgnqs3VZrEI7eZme3BH/LlyNxtth+NI/wWmjxgJ5A79
            +Bn02UpsHz9ZP2N8vXuXR6xI6T+XRWWVs9CkjK5ZqlshVu/svpaeDSajMH5G
            X0z2hPrlyfB8rm4iTc/8M8LsXlHoMEYCyuaykg0w/hJXtdACsZa5ek9BC1wW
            SzdHEcsik1X6JZfb6z0PDyo8Dbxcve3l2Fvj++V6flb7VrJYD7y9cHgwHUPY
            AtIs7v+c1oIgeuyOL6hqxj2oREZ9XIcIlpK0r60g4xDLLceXTE4QKOXabNS9
            hOHLS0hukBTi+4PNCzmyXGGz+3785H5yr3sVJ6NIys5xDlkO43b7WInFL44k
            RTM/r8LIHiMbL7pbep/KSdZ4rpczBqGp3d1zSsG5J4xbeitp/UfdV4BmbqqD
            sAlGl6w4FayWT6FJ6Mq9eqrjZHg+QPga0DFl6+f1izUK8+F0PMhpNTibPbO/
            2f6MMZX7t1mj2vFqy9tM8UE1DIzPSnyVHpedYJXX+Ch1eErJ18Uuvx6xzkyT
            epWjZMrR5gTLbf6DfW+71fAIKyT+1LwLVyaZ2de9iK7Ae4Xzc6/uXGmmeiqk
            OL/kfbsyU6SyYVMWoTM4kqx6uru4+I64gxDDjrwP1vwehrEhB6CSjddG6bse
            sWXn4M7m04uEZDkWl4uBvPtVXDy+WQ5TWdY87q1+uZ793Yox7B9BktTkgkh5
            qoX0jGOXuzebQu8J3FTJ5JjELlCExch4nCzcxHvXCHVLZ0gRWrkoGDqFSlqJ
            LR3zdksPynECcws23lIDwh/6gnqUf+kFsPeDMoF+XK9CvxuU3d/Xw75AXOlC
            LihQHq4uU4rPxVzCj1KcgqVgqtd7sl7v30S8Tetl70bvpIhZxRKZqLBmVkc3
            q+OXWc1CuU8Wwzh3LFwLa0kU3duvoWSdIb/GswkjmNMqb+W6wbR2LkgArls5
            jvEiymvQ4nSj8LrlrPWszFNZmVqdOztnE4UVr1mdjhVTqPbqk7PCrCWvK8LE
            B0JRkI1XcoQiCKIym7fBlo6gWABkDUakEPtdW/1O7GS6Z8sIvRu2xvBQb1UC
            ZLwiscKVPEh737GMH4dmCirJhAV6KPHAGn348yRwEKts/PkMI9szEDt9FK+h
            oo0gNMFmtVQkrq6J/6AI0TwRakLWOiQOSzlV38pIPAwmqOrM2GaV4WW1JarL
            ECJQPSxZmukR2s9rJkYBC87f4KxE4DekdjbD80Ql5h7nFy0idUfuwfbSfue2
            9SIR2326K6SsRO3Hci5w30VQZZDdTFqoBNtXn4DaiP86j/qoSbKdmNsioqUC
            D0TeMpxjYk4OFZGxzDNY8IJ5ecTjUx7Has1LKBPTDx1mqNq+5m2uW9ltrjG/
            /hn/gyFdA5/jJjYIM2Vwh6VWAI2rLPVD8pwuW8q8xm11iPtgqAmy9yNBV2Hp
            5BEtLpEMTiJYD6nD4SC1P9KZrNYLwtu6qxOvtSLI6uFe09vXXc1O+oZ6Yg1w
            sEmwQiXBMXLl0ond1P/iVmFSZQuCcu/s90PLcdc8v8cmLTq+jAqOSt3W0y4F
            /gqRM09xmt9GJx+kZF8I9xVKFCfmgjqT+wW0tFmLK2BPsorrs4Jh2izl31IE
            Rq8xvmziCaiWs/V/Ejw9UQOKEs2FXXIGd9eyhPNWlOwW1shSpO9nnyiHT5Rb
            GQbginUIyX2ozkExB6zPQzGGZYQT5wfQdGehBc8so906XEPeWrTMya8IpvLY
            QVCLYK1fjrFEVKajT0pmcYl0cbqNG4GcSVDM5KDuxHYJyrV8AWEYS03HaV2Z
            ++21b2xJTEKYjhkihRF85TSs6l6T3+80jnfvGmdCL38diz/qDa8nsH6AzhUw
            3kktu6Jym4QsmrLMZk87YEHMHS1SWA9rH0mMOv8xGrSixwyWJeLvePWOJQz/
            fbr9GRxrK/zC8toBDKWXC8PL4+F+3PNYvS0T9nVctufY5aDDUc2Lv2zZUI6e
            VDqWP3dUYkdbXje9wdm6oSGl5dxlEU3JuqR4nbFcsW03OjlBACe7zJHtd2ng
            i8W9uz7ltTCmQuVCFiy3WUzP44gMRC5lPLTL1HverOLTiFVexyB7/zXl/olQ
            3X2u7jEnF5KsKyw6K3Q6bGthdDqY+NtNUNA7P2kYaA3FF3MViEYTWSIX5aXN
            HiOoLEo9sGwMnp8u0iNtQGzTlDeKkEEBR7IivtwdGABoyW9KxGuV5b7YJWCf
            +9iLmTv+uxJIqtUmE7tc7aHZ5ffrgQ3iXsELdg6WhfKHF84xuwihCPm32u3y
            j32NprxtR/0y2fitDRdjdEs9WpHPb47k0F3iZLlAqazOHc0hxKCvvITZKoMf
            9sJQP+rlXHBaQnAL213+sPvN/OaIU+gLajp7/eFH8N4UNWBWNhZ4EgSH/BeF
            UcrH4JvJ2utX81whRfQPmvBO7pQ7xoDSdQ2b78dgGqte1iafgx/oR94K1iF5
            QlzHtCGDCZgiTbRv0/GhH+sHGHnYiEHM62ed6FDwhfK3kpKTInpidNBKief7
            xe6xAtTpjr7HIBiXNblN41SGKtvJYd3fIlAYawL51bHUThfziVXwqZrOCJkc
            lgDjEphJ+2Cf/QiyFNOo9wQQB2h6NutM6kcvXWIRm40Jm4Y5ygL+YWKwvWi8
            Ox6ivm3dxi5eP8dusE+mu9GrcgbE4r2v1Wcf4TF+h9L5bIq7REMekIiRBzZZ
            thDztjBG5HEBPAzKHAweWGVNSEcs2yIcFoP6G7W7Jjb+MiATNeUInb60LpBu
            YWOEJ8tf0NdX4rW/OO3tqvZ1N5sTKFVp92OYt/p3/+lYCaJwawSCeyYCoTo+
            t9iqRcE605iVkjVrF/v9pROQfdLhS5k43R7e8fTtkdwezPO2/Tvhcou7XUS7
            IR+3uInLxNQWQ5wYS7mqRALQRLI52uZskAqd+YcwHMe8PtyINfHf3G9cz8vp
            JjnDIrS1kmG+g2kGyUEQQF/1m0PzvNTow/qM66QetREeiKfK3A8hA13K1yS4
            7KfjTH/D/nhQq7KrWY2/WM0jcwUMlO2xJc/EUgPz90zOGfgvJsIHY5Sd3eLy
            JxtF7odlFlIsP+VPSt8vJL94Ot7eh13FCZEIDeerbUPzBsOgLibxVMoWL1mQ
            jKrkliiSFtwll/U7Yx2CnJDsL3Kn3qTg5vjiwbRqZtHzeYqLpacSLIEQGpg4
            cBA5o9RW8Of7LUc/TL9Acph42xjkuaqjEneaoL1bfnpnfgH7RTCffhGZKGss
            qN31xlE4hdg0KssL+e4lGqowUxlNnh8cx8Fx1Yh14ySJ8QZwbIPtEKSVgm8y
            +W8dMydURecstxmFtajxl7OZcn5WI3jT65vm4BWXtb8HsHha2D4XLOZ2FHkC
            wXcP9CxqEqy6L8Sh99ZAOxq2JzpYniCJxTBCD+swkzz4szEbSKgswspPvlnF
            qzgB2X9Sq8BzV21/EQvDxTfj8u60UTORrfTVnXhhaIYq3NgBLeUrdm99fFqL
            YInI07J23yJJurBvN0U3p6hskPGLmEu0KioSc9DkBy2Ec2da91cMs2vujzxJ
            ZgdHRx2OH/PUUH5fkCCGrjwlXuJHhHCQQAjoQVFBZMTjNgdxrQpCsDLiou0I
            +x4SkCmlkPE7s4XIeSHWybbEf5mkAMqig0YevsyLuy1KhYUV25eJiRB//qY0
            1Gr+BBBaoiK1xQihVphutb9Harvx833mnw4aS5Zwtv9LHGwrInjH2G3tbPGw
            8/ff6JpbP8VNqhcwzsXCtp62dbOzfrc42kjBG7mYrJeBrr4r3xk3YEkH2Z7h
            pfXfzVOVDwEiHMP0GKzeGU587/69GlGO5hy5fXwqO5FW0FzZem+zhdPxnbwC
            YpqWOFabN/76Q2ljXqt87FScppSjwLYLnYUes2S16q2R+r4SMiebVnr2imvW
            zKhV4kj3lQM1fHTvdSETKhtg+1lpycYX/1OmWnT4qdsDQg7S4S+mNoVt7pY+
            n9UoItsKEzgBjjH/Qk6mV5AYG8glmaKUBSEghcmhBZgaQzCQgx6pR11oT9eR
            aNh2bwm8VKQaqutKk17T5Olkw4i+UsZnmo/pZdeFbmCB+Nm+b7nujimh6FTH
            JPreJ6WPyh80FUFcWsr469OoXhBHp5x6hTCFPqo0jeZGJCAenVadFSBhq4P9
            VIfmmMyDFeWetWzhaIDgVNpUKEdb2iGsU9lYp7SMTku3ojsXUjQKTt4SSQkn
            k8rwh4B6CNHACODx3Z6vNLKOTGCGV5EiqDuBP1r/mHWtG5YqyQa/RWYWl+je
            PIqTyN/Kkngy75wyZBhcxvH0dN6EeQ9F71MPuyaWnJlegaAIi97HF0YbTA+f
            o0yrIYTkbPtodNIB7WXp8WXdzM4FhTyP+wSsW72tUHock3sc+zMYTT8MbOoY
            ldgoGazaQeYXPq+P+9fbCx47okhILuIfpO4gVlpsBKzieDPDoBLNDePNXAT2
            vKxrNxEN3kT0dnVwEH77u6MoPVHdivtZGYkVVS8Faug+TQbkhn0ly3TqYz8o
            1u0sTFk+tZqOjTa/nRbU8cnuOAAX845ZPHndL/zzZtObnW42/rJtT2TdbHez
            8c3+txa/8x22J+z1jDkO6Lns+5swy/D3tZi0pf3Wb4H3fc+fG0iOAA/DnVdb
            HCy/fj22p86sjS2OzBP3cZJtp9njz5fZP8pSiPQcW+zc0QJzTw+KyWwonu1U
            k1t7fekDp5JWtAjkEAsCEI59eDW3QF+qchUs8tgNw7ROAhSXKqgZpjO73xqL
            407HT791OixoEf34dT5j+66T2gB+fNc8dmueO4rWrGZPkcICud+8M87bp4NQ
            21jZrBAtbIPgnXAYbBak9Fc5em5mtZxJZpLBULILXXo7+FSYm5l9muvlia3T
            cNKVRDqtwoliT+x5PDc/c79FSC1XojwSh90sFpya2PFtnLg+74HXYoVhIGsm
            IjGjLFg2FnNhilekRMc7xWB4ENG71UJBvuQbsVDRMNgzXJPMm507WDwN+UCR
            zJA1VnLa5w72mvTPR/XaD2ZWQ9xRmb2DoSvvwFhkJSiDjpiPEj+QRNnqCOo5
            8/FjcNUxRogy7gNof3GmOFyQZdHAzlQrQ9sHZTLkxnBsy1uxUcQwP3pJNi0p
            NoB0iI7vppv1ktNJ2nvY2EynZfzQgkiXKzpHU4j4ZosJT0bhuYs5UJWLUTF2
            VetSBGHekrVO+tQCUKP2INDj8YI3uJVcjkr7/oEP+pG70s7ZNtWTZhnm5jMF
            dlwwvSLE8+2xgfX1kw3/F5wXhnS92R7R+jzvRm21ls15vacYOa8Kbv2dCP9J
            qF5+bcokemFwrCFBswDS4jvny2oKK6tN2bSJPyzzZwvklC1xv4Hn+1Y0Phih
            akHoPv7N5jab+u3zf4EhnA3upIfD2eEWB9PbK73atYuHXer8T+z7Zaubnbr2
            /puNDhcTm50TA4I8jGYmZT+1g+ilV/TTF2ovCv4oZ/H4Jvw3J19VQKpdh2Z+
            y8TOZNHRkU26t9og/s31NkA/6Do7PFWePikmyGTLDnbceDnI6JQ2nIr7emsW
            ZKoe5qxjS5HklUquKwgyUJxuMCeEruYObirQeywWK2HbFsE1Jp+5sDpYwQu9
            eCiBFwBRnErEINuhaQYbfTV2miDbp06b8WBQbZLwDk+lYvsD03dfOcDFBler
            hbDM1328n7NxHekOyzC7RD7ZXNRqjsLUsVsu5cO7AY0q2BdLJRN0F6k62O/Z
            KqOCIYR8mWEO/0IYGqqIyt0AwXMbafjcNw3hP45//PgnGwjI48e/BSmHCkgU
            oDlZtO/djnY+gLob4Rkxsgx3/5FtpfqKrMKbW9HW7vDW3Tjbs8x1rDR1zAlk
            MEz5u4kre50DF+PppeW7iGXnaBYvXYeJe1lF0XoI+/cJE93DAiPfEKqsWCEh
            GIIcfctSAn3fQXib4a13D89Jp++RARMh95Jt0tPnFMv9PbKjrFfdHGoEc385
            bnpzB4g0aYwVrDPpIsyWgby/JhRSXoexe2PBHqzCuQ5btpiYuVPMlY17ZoNx
            TJ6YenoyKAY2WTukSxKP52LSZ/lyCtH/cFumjurzxPlMZI3LnuUJzzXObE6n
            cWlc1LaY5RzbQ6kncl8Gg0lFK9DK74tjwtv315F1svUHM6BPJ0J3SpGQ5vJg
            T5DyB4791k4miSwec1J7gmWH92wXPYb2OYwHklGZWCe/D3cNSaPDj9fO2pUj
            pjw3cVOe/ul7tfst7+N4kas+n0mNli+ogevKaaMf4H7LmIJqRqtf/2xfcYE2
            bCKZ66RVgQEey3QCFjWt70bWXXDy5CzxMexb6GifgWWf6RQFxF/p8hLsmhGB
            BvreE1UsHX47m5hfT6AvXou6R1HVfzk9s+jgM1HakwPaah7qfSacEr/Oeakp
            9yLQFPtaQyewBnhU/LjwyN45jmfVKle18W3FJloo3Z5hcxdcT0jNJX3Gisod
            od8MsdbDyJe5sPcYSLf4emcl4jJCmyxGwTk6nmL5AixMPo7P5B3XI7YV2k9q
            y+lPagv1Q22sbdufe37Ob2pjxvA3gQ0rPbvpWPk3hAYOurQS83djNncWWRjV
            ijgvgR2vDZ6ppmu3rdjjdCWzGUEpR59+jk8+QZC9vSR2xmt/L2+I7llDu9XH
            S0jpkuJ5dOcuFsSRcha9W6+8n9EVMa7Q0/0Bvo84RbGqYMUCc9me+bq99P35
            9cz988wMlEVLlbOmu35NgpNRzD3q7JSSp9vpt3MYKOljukAzsGg/mYogzJDp
            YIVq+OIghvotP15FQ4TAX9Wuv+sJtj3/giZ4oWp3eJVtz3OiGIPoRFtNKu8K
            3gh8BHJriqbu8rOrrXLc7D7szvJOwOw2vLvFa4IMUUjgp1ht1zfBxf4hOL1v
            9jrEnZzpgabwFa5NM6/d1V73xvWnob4lRkmrJ8fyOjW0W6s5Sc4/+7iLaerd
            ah96FHr42GKHeZabayo/wNqAHauBoxSYx8GaodM7y8qvF6CSCw0sP9w4iWIn
            WmIq51+/VStYsbwPGq2JcQUahSO16AVBSWxLVIZlyuj3wxV/M6NFDx9S4U1P
            S38mtl1XF2x17SWIowZTkzPAipguzfTpZvX3hOs8lEGFpxMiEncVnjM20qRY
            5nhRJ3W9ezlsbvMSs2RtqqRJO4zu8Hz6bJBw4e1PEkymMx38gElKzvBWHKfD
            4AK70Ss1/G215MOQP1THoRCybZszzhd7/oUKPRTIZFU8xV3IxbVklQPpwRoD
            ysn5PasN67BctOAYyqS4tLyWny1Erq8c+PjJgR9/yYFPw3Lfla0TWKxD7dSy
            gS8GX+heNNZZmUXKTNs6n0ufs7D+Jj/TyQJFovPZaOPSZiZV8ju9g9WCN/b9
            9u/dv1/+PTM8a0UluRgmASFbI9sqsf8qG95EVR8nrbr7SvG+3olKVHYqZZy6
            VzBzN969DY5bORgapuzrckURlXyfB/l4/zgHmgaRHSHN5X9gzn/BnHCFnPgv
            GK0ye8DC6FOt5+6YAKUQvHxEjDv3VWyTtg1PXag+FRA1seftxtRqG+Y3SVvw
            Nofteh/sOO3BtOzHdzoWJuiO62SHWOukB7aaDC0qCYyD8MSs4mB74ccwZgjO
            b2UWBmVq20uFgKLcYW5WKwDLLBaKsDbO9QGikfeEWMTMMGgOV9pNuP3Nm3JE
            hxX7FZLbRnpNQqLG7GwARO8sFkrYDJNBUrCaq6zTmHMs4A2Oi05UoEgQmvRV
            GzSIdkUmfqzd5uamNuHM8jSwFmGkKpWTdTY0njqY3fh5HtXVXV3AakGqczw2
            mkBLx854yOb2ojXT/gnuwR3UwkpnuvOQ28PUEmFJBQMOkY6mSoQv8DKXgp+6
            U0kyoStnCku1koEUZPEFK9SGFxyBAdKnlJ1Jqiv1xhCPX6UUtzG6b0mXv1Sr
            fS26N4Ybd7zGzkPdlQItG6Nj00dhIJLJhSSVANJMOQ6KdcDUt7K++ExIQ+U+
            jMub66oDlOMdqYgXGoFjGLIDVWJO57BrjZYXo59M5VMuSnv3Pycb4GJ/s22Z
            YE8MfKygTtKR+el4mSdNtdS+iSV4Hg65A8YyLOeTmmE7z4c5gJb8m61rFiGr
            2FlY5rvgfCX61aFcbUIP+XGePvPV56sLcjJcAsnd3ikuuMUSnhtqaLsshFlV
            KH7pE8Xz18Re9RYhfuThJmAyg6JvVb7aBX911H6bKs6973ibMm7n6/K2LjER
            Xdfmq3pDyvJ4uoKrFWXn4uzfd+mGiFmopqDjVqUesGq8RYfdCfq+P4ddNsgG
            hbsltzsNvY2pp+kHkxCsHvuz3tIGpy5Pf6uaWFo5ahLI5kFxMsPMUxEobriP
            WAbJch8YidW+m5gJ3Qqkz/4ORB6eu8Iuhae3B49Kp1f/3pUcrHPRCfdpY24+
            p2gOtkTfpyAKE9ulDi+rIOB2tLrPT3ac3zdZqwjll6xP352Q307Lnwn01rGm
            yOefKMOHJfZArOWv9gz/gLZSornx560LzTejeYCymNwKqcffrltdARJRP4jP
            wmASIYut01OviyZCcRFLNP9biOiVDUIIRnDTEqC4LFptWLrZsi1gZFP5hIXD
            XE72AVQBLPVKKb+KRQya2ssBYzmHShNIdNCTY2DA1OPtGFIPuBKvyWQXrLJS
            KzOoJA+W1UkkW/VasWDiN4mKyOjJzy3zEdr6IIGowLbpN9MZYaEXLPLYBkzF
            YfvZcRByhkjAGxnHLczHsWyDjyMrwKW2YJAJXl5PA1ShF1flctCH2bnSOUdS
            fUgw4gEZrrn79BIkzOGOgqt5xbcDNzESmP0xxPZjXnyJqfr0O7rAxKBcrKy+
            OWF8+SQheO1AHR/8e6AJx7xKkPkP+cFS0RIZGY3CjhgbLv/J+bZGKeOy9lyG
            sC74XLaJCAboET7ttU6v5GZ51ke4B8u+Vo+6w5/vcR/FY2VxvzO52QxlhjzY
            EPhccuY9TJnHPmY7EJ9+kDNxy/Zi3KoF6lci8HkTeIE1yv7uYLkQV0NpDWyh
            xtjbqc8hjMaevyMt87VwLEZx/RwcAuKKJWzdnHTSOQMLd6k5za4m7naOKSok
            npB+P8vx9SyWIjjY8FvRlGRAYJw/iljmuIN9tmkFP+3skwHYZ8uazhdT4UlS
            P7i05Q90yPABxfrVtRpsiIN/s0HxUMuLy51swYFDurKYh00ajz2un+z7hyHE
            sjaCnid1tVRjRDzHhZdliyTiEB/TcBxPTziuODYqA5p92DpbarRzDPPCCruX
            pYSEOmG3NPaUCl0VUuG66AklmyED7TvJlgHz0zyf6j8plzsjy/E18xW9x8SB
            mUgOv0nPe7DNV/P13MWeO9zPyTzcusMGap0+jl03SiNsPz/LIByW+9jvF4I8
            zUJvgjEBVYZBpItG0cnJPaO1iVdrV1+493rxuY68QNTde6BBSymKHREPdq8s
            ZgvPfPKCgT3ckk6MuVqPBbKyzN5M+Ixj8r7JYp6kGyHfGOZJTV1a/3SXhI7C
            QP5WXqATJW9Xni5LKvJUtb57z41OgNW35F+9ddc0EJK+rS4CXG+ogSALub84
            EPMa72/0nEZzqe/vs5k3mu8BC3G2b8+z11/0Q/XCbT4wzNm5igukpERqekj0
            0BWwLZtjsbVq2w0RByYjfkwVZpUp5D5U9XWpsi7QHK/gPIYRxd9YTJQP6xq6
            ywMa4ZEMElGNM7wmtp3Qzs/mv4m4BjNK8EAwi/KbS1up99CrfLsrQtDnLFgl
            Bu5+qEnH1UMvn7VRa1gmDAAtj64S3FZRV+I4qp12U6DougQD+LL3Y5itM9bG
            Wrbz7rTMebd+NvU9PTmHjTrN+qTLjvmGPpHdUuAJZs+Eo8KkmoMZFPIyGiHe
            j0+IETPttUjPtBPAtJD2JBYE0dqVzUUiouKepbhp1cpHMJqV+912nWAJSRgj
            sLLZBtG8sfqHSvNalLMsVrBciZQWtGU9EM0qGGunPPlQ+b6UUxbt7HtSo+cq
            fvoHjWZW+p0+i4VwAi4xlymohdySwc7xRnO3J/fwijNcp2S75mmhgxNqEEP6
            Y4B3EyaYTd1gpDcrxZ8gBvpZLgsTD+tSFO/dMtRWMlltVCKuJ+vQkUCn5J4M
            yKDhCs8rizcxdHeO3et0YljXbqFDRFbCDx9NbPIhq84HFgvd9Fq9TKVri0ls
            rLskcnrmVHQ2RFGQzURABLulF5UZ1wZTqKCcwEuZrxqaAZly1URytC69h9nZ
            ZnrhCq/u4t1glhHnJSidowlQ703Dvj8ybDLEzeVPDe5QaTqTMgkOvUSdgwWe
            PnCYMUugoE14lbQDQ4cwCO51eRY22ei8js1+bvLC5C0Cs9pR/VCQBC3n2VPB
            UUJ2tRCVEMmSKlmytt8JzzHUidtKptKXN5QDUske72Wc4T6sSOb5KlWTucKS
            VJb7s9CEIb6kAv6HSPmNqCtDXZKFviItUY2B3y53rBcvIZiSGfieqql++wME
            N3PekkT23qC4mOfrhAu6LuTrZRXqVOZYV4ExpsIFUw/3usCcu+VPxjlb2IRL
            LIa9WqDQzmmpsNYAfeMHdSpG/hJ80ewvxodJbAJLxLKByZ4GJnmyvHlAyybE
            jpfHs0EZJxy/NTVxoBJTpFyxiwshSg+BU0D+zBtCOamLO8iMslEFouNU+xuM
            BlhaJLEs0wxJrEyrP65PTWC39tV0SasfJcPFm/VMC/3eUGrY60GeJ54TBZMq
            U4hJLNfuj7QnfxND9/5Jm40rdv7kFb9yJCzz/pB8y81R5dJXsi/edYF4ziw7
            d3FSt+NFOkFUb8gnzaBKK0K23T5RIz33a3ZNr0g/FVFlbuJ73zjsvpSZGwyc
            Cijjvq/HnLkhHlFWEk68SAJRbcpVFbBRxNOnPSCFk3o1MpM67vI4Yx83FC8D
            a3QXnsUjwATIhRcz4N0oZwI+ca2+9HpqD9Q0UqmaZSY3gPgYQ2mM+7LFWL9h
            O0/F3AaMmkk7kUWgzDEvNIan6pc6YYqYOIg3FCAShf2z7Sxm4Jz9LFYIDt2v
            q5k0jp2MvmQ/N3jMOg8Qu0n6bkFI98F3SPT0caHdVSTERG1MHD0rbHUmh8Ap
            3zZn8rBrpswQCyv6JPyTYoiY5OTNHs4TI2c4fNdWNGx5MmayvjwbBJ21Nq2O
            CBkbO9xAABBDowXwwjNjnUG4cIlFKqvQLubAKp7lIlQ5YUTUA+2wUubXmONS
            G56bdRnceCaZFBlmBjvC1Uw1VOE6+537SapQIGUXLbWlYdF2hB54qQpWWkxj
            jZzh797shMecLA/OzEdeCFEZPQf4fr89TdgI4zQZgvcwfpYxqKdLf1DlM57x
            ZchCf0y4FfsI5JN1ZzBCk+fjiMBnte+E8VWt2VeM/IcTgOlYOXTD4AGfEqKl
            JRJi96oH7Kqld3v+YleN165KH7tKMDRU8vpHK9yTLtgC8Jp4f7QGVfpYY3Ri
            IngrMnPnCOnxNHCgK7lOH6lCCnecPbXBXvg9m4rpBpomXmiM0CD2wMmgu82x
            SwTM6jYOQ8inq9H09ZGKuTrZxZj7qmHWbiRKrM8rqikfrS1P6ZW7aSkSxgyI
            5F2RlaO2m/NN46n2nFFtzZi7FtTqLQquLcytlYHAb7wXFtKUIdyVmQiV1ZsJ
            UrM73eCO9r4klEl+6u9+euOEt1f30+TpL/Qpdiz6+/jy9D8MWbuBhKm/1eHB
            esyoVk/dCh0tiRixTx20lsEZRlZj+LZohRfW5DA1St16rCE6B4BdC78HMbKr
            chIcH1XVY1KyYzDvDZyPwSCF3xFXjdY9UexmORxJIDFIy2HmHQx/IkEJjFeG
            lggJRjA74wixOpsCwNQWomBL6Jwrb1Vxq7T1MYo9TjXa6W+HaVEq+TfR6hnb
            tkz8wxrXXGqW8xQM3OkDN8tiKeMkSC94OLaHBnHQ0XoTk/zH8Zn6xba66eZY
            +IxjK52y1MiXJcxN1j1hyWOr7MTOgtDOkEtgrhL1+uXWtfbvdhmQqhrgl8dz
            KRPyaWo1iZ3wHp14PZ+BPZiy93uQuK53qywmEYZg5T/UWMim2V1CujwdpE++
            rQiuQovF89xsbsr6/yrJzlwmbZlLhec1R0vtXDGUzTxP17rtOFzTtvMRZj+v
            fdvqep9zV2p8jFUHSuOkwoIpqgjc/UQ26tFo1i2QNdPt7TdVier39hftclo+
            39V9W1tQw5Qv/fqmlsDuUecXLoSY7PYxnNbekAXXX4XB9I/cu5MxGevFTBny
            GSqgjCVw+CziGOkYow+iFXVjPqHhLvEHtmk8uqThKexg0+J2gtAdSr8LAfcx
            uEP4F0PHRgLGfkn3ZUXULySklTcQOY/L//XHMCPAeZscj8uiif1HW2lZC5Xp
            HIqc2dYHo6xLicYUAuoixrpVd8CcyRruJgPk6NpKMckx32w9TVy2zLwqVooc
            BmMULyGxPXYNJewEw5KmIl69m5gEY3TzmAGfYVllUTEN1qbVJEQ6fJ48qwlV
            xhR3qEKMptKcVTZcZjY5tEsG6JaY8YUlvxjVFKbt7mDmcRreKy1lfZHo6dFP
            WysgyzRoInZ/VSWe7hNc0BBSkZV06uZKDYT72Dy1GdRTsiVkkAxEiOH2Zq9y
            Nyz6Lsv8aeqTkrGar+/uNuBFyZuUTTOnf/ax+qANWYPGa7Hb+2QREnUTa1vA
            7pPuYLKygWnbdVgCzt3td4hXonAfwy+WPGfzbtbKlt4ZJgiqDrc8kxR5DLX3
            tcrtXYV+QW0Lkt7EVFju/l5SD4UDxYYu8rcv7hfRXB/QcwoJ9XMiSClj+ial
            l0xZz5anNhGCJShQbe3MYHc0l9EF1qUAHH97vPJ9baPiNmNidfse3VxtV/6y
            zYlSfn/ANHBzSdF8ywPGlEx1saXe2Whq9Da3frs9g/V5uvfDu87u/fCGclS6
            +53Xe54qmSOLFq+93DHJq5RbXV7eHMzDI4sGsxdnb32Xpm2QrzdX4FLmhmoa
            d0/A7CoeVhO7oCgR+CiG9prplgZbTGfL26OW2iMdPEBY3IqCWH/F1xdyuC+k
            2HU5aYmC0FP+eC0zLZnR6H6YGjTZdAHvdx0Z9lZ9y+/D1kSYExAI/WHBG4s5
            nM1qSEUQIFL64Njd6tPbvD/BMm7ZbY8CutGB7wGwabmZb4CO1V3ML7mgRT3y
            WfW3TU0+zLCImyDA79dcGKBFnm3Jt6wUd6SzU+3AgyGc3daUWyypH0quxcQk
            okCsvhtTd2IRmJ68+0O9pewfZ9JhTVobGdy1Qb523eP2KVT3tm1tYbuQN+iX
            VyRAb8xf5rNKzAZH/P+2dmVLbsNI7JfEU+QjJVH//0nbAJqyPDtJbVV2KimP
            x9ZNNvtAA/bY0F5CihhcBhAiwDLtsV8FI/2wyKq6QAT5c2wGzGReFmnCRCZx
            fNQnNz3JHtizF9hwEjasC0VR4V5VgUFBghQx6ZNVSqTXHf3JMk29x4g/pCyO
            URafvyWWKa8VIZ54uIj8PPxdkdHm3sLSeEeSBEiu5tkwuJTq+Kmd3choFpnq
            5F7RYq6fmjYaWzjynfuJbWHwZJDSorSOTVALLqgiZystgBcZHbSH3eXju2Ud
            ozE5wGM7lAVsUnsDQ/sF/miYtJHvAUSOfQcMHUSLQ6EOzLP4Pev3Sq7HE4zF
            tv0Id7AFTUPAVkgm7cd2Zt8RSxWNsJj4sy8xvYUjiMHkgKlsN2/kCBAU5mSa
            EbStXANQRoXvXlflyRyDuSDluyTmkaolZDs5PxLMGwTCMWiQFj1EvogyHR72
            AhiQlQuxwf2qdev4N5nEIvKFnyzeyuh5i7m8vk1C22Q+SZ9un6VeXn2mrVa6
            lc1rTdm7evZPSvdyGSDCTewfaG/WZLDzykKm9JH0QLJ3EXNQ5QucdWeuH4Er
            9EisCp1FiUeKaiVEpLuhZ2hKP9G8s7NQ7ZQOrz17e4/iF+h5SY9fc0bLJTKj
            NVlgriFwmNuDnkDvhwOaG97JZHqdZNEdxFGAtEWAXUdFZgoO/ESKqcLmHn5x
            YBudtsIfHTBGtG8Wu3As1hcHVhfzUd3ebdPYxgw6dO7z/YP/5+EILnrYtl7N
            AnV3n6WQ05le6UL4/rB/O1MnUi51zehGlrbBKs/lgyxpG6yRI94jXPOzv3GZ
            D1XZuYxjN1vtnn2diFFsOwcArxzXcRASPzNL2xY6nWR3YfhF1fRpS8VRVGmL
            6pjmunqTFQ2IbpaM1+BcD37PKrcubFwA7V389hz/NFibc0uuZcAmwcGMa+rI
            BmVorxVJv68PPs2nh/ezFU8kzeb9bb6zN76VjRt+M80szzxYCNkAOUfPra2R
            F7GDkx7jYQNn2lIiUB4Sc/Ayixo6MmWmbdEeeamYc4EMWJAtzIoSONi5s5td
            CzZl4cLls6FH75MzuBFJudGES2YhpC06kxVkzPwemGYbsVLScyVM8L0enzQo
            k95H2I8o3/IgZGH3dGZmJHn6ap15380RI7ZmgVoXG4PkJNoVVt4V08dONBfA
            0nqBJUf5g4yNW4dn3Ng4eG8UR0YVdSuA7IOhvG/nipWJRtPJnOWpX1U0fhzn
            DOLdUWLhuCbA+w+eAuAwSjW5XwSw7nI7hn33CPb/xOpnKyxVi/fuY5QUz3gK
            EK8/Gng+SMLWgYdcBhlKCA9cwkLjw4aZp/b6Uu4TboOqidu4ITllsfum6G6A
            sAbwA5TwFSRwIUDPBhIn7k93NqdLnqsv+MQ6v4K8Mqgre6QOG4ug9guUANvL
            /kGvhdCBLvuH+3gS0ktk8ciDGTGSXjMpf2ZWkk+4c8QSED3XH8xPib2YVeir
            Af6YoodokwJzfEBsyGe7rQ28A5oLIAZz8LobloGmKrPc/3rCPEFAzLvr2R9y
            vDlAigu3/Hac48dxwPwTeRyExeiUb2SzYrtIR4GmgZzGDmT+RRo4Ho61m9P9
            /9g3DL05+G1HitICXcIwESSwEYuMojevKWtwL9ppBBE7cLQbUE27zfgdLgxT
            GqcvHGz47ioo08RQz6yjfYUMRYw8l4ifTZJrt5jtmCKxTd/b5mi2bpJG+/n+
            rmYw9BdZCAquUEAndwUcdKGOa1sHpN/XManNH9+8mrJR8W0uWgg7AkG2tnpg
            GjOvckgN3nxxyTM5z0dAS67LWkJRHNsUEqJ29IiUKp+WCSJsP4Yr+aHFZg0Y
            dPhhn0CUA2TbwAyMGCL/+4zCAMVk4ACNnwkwJ9o9P25esLXoH4/V0RH1HkR8
            2OT4EmsAHmhNmhAoq4GHaH0Gq8wyXuDKzELr/z6oKTB3pS6+g99nD0P6PYJf
            /J9nImZh/FgVzvrLwvlfZiLI3rFvuCy/pVbL5Qkp93sJ2GQLzEwbpWNWwmpw
            u3O9/uPMZh1/mXUnl40SvW2EbPxcli4i1yaWOi5xWTO3A8c6KT53szCRfL+e
            Yk6g5qjvrn9dp/ArB+RjXmt39tRAglAx12Ww2ESSnCBIauC5NHOKfEVY5aKl
            XkeahlHs9wFVXYJehXIqgbxZIyBjG90fCAiEiRi0VeVJdB0rd7TKdRvzVUqn
            yxnpttt8kybBTLxZl7DOJ7YLerpVbZIW95PwEM6/6J13Er31cOC1gE7CXHV4
            Ym6FWpIThMTeupEI8DBblgrSSlMzWMPaKLZ9KQqe6pENnl2+1GL6qPx47ffa
            5sunGUiP6Fo2SWoy9wSzmzYv1dlzGEKR9e+HKX+4eJpkBXOHJwIXJGP5z2vQ
            w9Ut9dTabUaOBG/NexQS4HI0C0TKmM0ulRc5LzPv5F8eyHqgEoVi8QUU9GCE
            PZBSxihEt5H9BxPeGda+AG6yaApa3ytSXGAlKNRZ+L8/nJaQkc8fCiL2EBd2
            98NIn/aZ4G5Yk4uv+zfXJKz6dvXyjqt5vakyTYEeEXAPpHSxjwJYCbMXV0nn
            AzwqkFbEPkQRrdJfEMGt3V3kf65OlIc9MWA2IbsMyN48Pzyhi7IC50Y4H3Au
            ULIHh7edw7RzYOroBqjAU0eQq1x01LYUrM8BT1zXRx6PJLVE8azVUNUXvKPT
            hwI1EyzuUkEgsfzGqjG+KfLeH6j4CsPda4ewHHJXwDjK23Sa5+cB7Owu16i9
            PjUTz9x+VbCw4wMMFl2glqm6xCOn/Ib4h/I6xnE97HWEqttNDUvVpxKXOvJ8
            vc8SXZUEgvfXLUE672i8c67+OkVuItFUKiIx4egwRDgUX7k01S2WYF33z1c9
            Y+LGjbOn0V5M7aRL9tDAZjk60UngBTqCXoRT7ddYckMr8Ui4tpuP3iWGGp1/
            ShfndQ47Dqpz0u+TmUClNy8IoD0MPMTeFESu7+fr9f34399vp77/BWM0I3tu
            6r0FtAOw682hM4QoolDflepOCFoRxd5UD0r7aheouWH/oGYjKUsw04ixXyPz
            PjMJIDX94ayEpoUhCu+xRkE/q50vppkfnUqw7RbcnkprS4OaXNfK9JYwOaXJ
            5gZZFmYX1feHfBA7RSG+9dZ7Zn7DFkTacSmsJNAQbdS3/Ejv2fYonaqAT14F
            9QCwM4owMyYb66BPAqpJnTNS411JsMtrJOrvRergYsfVRKemg1A33VClvC9B
            t0G7rK53pGaDE2MG75lbvAuraiTuH3peQAcM80wme8ZcsQTcOF2tVUAghId1
            pLzy9ms/uLmLoMLVYFaOpW/Bs4eCigNbLjER3NHLK+ylYI2YqaxRCDTxYe8L
            RondGEzrMnKWHc1qr7I1/3g6ZDbvkJFuAtu+FvFoFyPs9j+8HvpdBJoXsHNs
            Pm0MMfS7uJf76du8X20l47oDBUE7x25rBt7bbNL74e+b8kDLSvT2MnlirpOI
            aHtyTKVnNZ3Wbt5TR/OqEgydZewuNrZer9u1DYV1L96rLCSvBQOvqZ5kpzHq
            QB7NRbqy7HlypGWXmQOwtTt1Xn+odcnltNRF+qG2sDYYz/AmlChtgidVRW8R
            /83Mnao1gDUNsG6KZqRP7NcFyGxolIAsBxlOQNJt14bZHSzYPBNTO8yMoq4T
            SJGr7lfS4BQh474Uz1oC1h7IsshCVU8h76C5Uz9eSqp12JS+prdc4VqgsIgK
            5HuQ7UsCOYHSekfZFtW+7d0SV8DrZLaHM3nFeZT12Ueprm2dI2l/tpEC/sbv
            hLutv5svFhAbM/uqqmrKLrUMx2cN9CpQRAf6+GM6TqHOnnSwmEL49/P6yMs9
            NxPtW3D+RLod0AlE5rZCAEBf3gh0mHCXr8ibOthVazd1c6odQg6Ct4kde0/q
            UDFvcScPBPWinQLPLEpNLxFPFBnisAGyc4DcmchmW8ICbz5ju4CMjg0rMyDz
            GSCnGM9wbc2ubV1TQuo+2QMd9Foz+ZxgpczeUb3F7kpaLGqFdDffg+bgoCVX
            lJmDuPbFUm9HRboQlhn8oZhX2FnRTND7EvgX+K1gSy+94utCrMo2YnvF2G3Q
            37F7nxgH3i+GdnT+oMZ0iGbHRgL3g+9xX8W+UNe9m24FGpEoNKPYeMvCFP3W
            dAFENRdWZyFo7v2sZgwbAUHBLYv3AE7sru0kL6jr9WqneBevs787fYj0waUU
            f81nf3td1+ob8AV/TnUCoQ6lSlawCEf4+zpYG6CluSWuwb+l/b6F7wWi4yYB
            SWnkI/tgHS7XTATXcsxzX6kwZDVATAfz28vFfkfiG8gAU+ypdluYkUUKQOQ/
            nT0ugoZkFK1Ak4VEYYr80fDGA6C1Fh23YpYaAlTqHUgofO2o+JJAal8kIUmF
            MnN0ruyeNpgtgnQwReR13Z9JuCDrGHw3QNC0RqTO6PwYyOjd/i/NJR4ccU1j
            iueOvUgaDlD1nNnfB+YMKoNcEOVWifgSur3Ql0DZdtg+wIYO5IXwYOw/LIhD
            bd2m6tup/rQEUUbpMLBDqDlxAxQQt32xqoq/sAW7X3agnx1Ba7D0eeD2oAx2
            qF6jwdJw0SX3AVYnsDVszsYJpEcI+bsh/h3DlM9iC5UhBKuUdwcae7msnXph
            FVLtdHCC1iJJrwAjFalQtBQ4IWbFDtfkDlL8joV2l4+5WARq3WaM833AF1vy
            ZCjXo1ASCPp6vKnZFMxUFINsYAJkqAoSR7o3Bm+L5N7+1j5XEqbDe6MwJZwv
            4XWlQW7V19V7J/v63lrZAiQdi2d0VU+k8uJTF4B6CTqPVzbT+3+bCIlO+reH
            J7lwrk3UXGoDTVisUmSXScQ2pOJaeJ2WCMji+d1SQmbQQLC0bf+Qo3SPAJsw
            KsWVGo6Cxo3cuZhusOJeF/zTq9Rw5Lcyz6xXJVJOKUkFX36R/ds+Qh8+1pzA
            tJ8kROsYH5T8Q09/9CwPAr6ocviIZLPv1F3YaP75mkmTmMWwXJ2xlYwd+yr9
            R9ytRgGx+MgBHptI0tKhsHFfBBBm1y1yLOyrus3rOKlC/cfPTyYf/vz5hOb1
            Xz7fkSH5y+cVucfwl+1Pi0jznz/v298/T4jl/3p9Ov8opWT0y7CfNWa9Nw9H
            74t/Xvy9CNslpG4+K5HwsWd9ODdv7MmsLiffePedsQ2JpsHfX3o//eBdorpb
            NFvL93H7/UcnHQs6luKmRKE4h/lTr7p/NCGB6zFzae/h9HC/qVY2IiH/3n/Z
            vwWYrI7vJW+vc4i3Be+/fL8c+nv31wEsHSiVb72un3HUzOveKU1uD6QXVnAu
            cqEAPJw+V2HnW1r/2n7v9f355wS0/Zm0/c/99jDie7tZ2vi6P6Xp/qfB7Zu6
            pFC+5evaL7wwHm7CQANkF/sMw2+6H2J9CdUG/Z1cw2Bp+vXvRJzzBTBcSm0O
            6qq0yuEQgyNiWY/d2uaDJJ2P6Gf7fv+5rvXZ+yf4IKXxkmao788uaH0H2Lr/
            AO2imhw= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
