<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3482</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3482</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3482</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3482_v4442</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>13442</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3482_v4442</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvonMJ//V5lpRTifnKF/5b
            /ZFSCpiQIy88i3g70cujVdUdMHJeXfFs9wj4K0flkxY0/7utpvcd72flDOdY
            L5X2/N/wR7t7VR89zJf67EPASNO87GnvLparTv5S+d7uZlDzc4R5phpP9LgH
            9s6h03sOxi7R9zUGx6pi4tWz5O73XROfY5XKvs5dz9rv/e5B2NcyOXrMDRvy
            M7Kbpe734dU4ZtLNo9u2m3o+1VyrV2VT1+tf0ejb/Hx+1DCsqq/neTcRP5+n
            GTRD3eov2gGuqgOvb/cc9q+2Qg577r7a2pM0vtq6UtAH42ssM81oI/2qZ/+b
            X/Vgk6mF86s/vtrzUK/2Uf5ei/n53FfON5fv87kr+3n8fI4Oqv74Xf+xy89f
            ymvbpO/68yH4k77K48Sp/vxVHrXY8/hLP7vt6s/nbVp/ylc959LZxHa75vM5
            oEfc/Zk9agf4go380Yd7H399i8VX31r8fH5D0fld3ttJmvXzeaxVfZ7z83ko
            Mdm5+nzul631mr88VwPnV/kAULWh3PoY+7pxw+dzm0Gt3fppT15f5W/4cNXP
            5+h/t8N8nc/nPRhI8cfn81qdzq+Pn89d2+Xr5/Nxl/+q/5hW/vyqx1t3jhDR
            t+dzl9N9RrQDAqHTZ5kbGNX69W1t2j91fj5PqG334fqc8ywweX3Vv6eEc/jx
            PEbbTPlrj4VugKl+7SXD9ByjkN8va+eBB5/P015rbM2P59f9fH4+dxte4/Lx
            /AXzv+rv9/P6c7th/txuPH5uN8af243153bnVz3XC65+Pn/NT9IOiMWw82cf
            Ni6Y8+dv13efNxxYv2lr1d88/6o/bQR9ftV/45rzq/56P6+/Kf9V/2ovasN/
            zO0+2LV+Pr/hIaiOj+c3/m/xq/yet/ZVz7zLf9Xj+ose+fl5/M3z+pvnv6l/
            /lg+Gh2Q8rnX+sdv12/6tn7Tt/Wbvo3489yO+vPczuPnuZ3x57k9v/sfX+c3
            ftSzabgSP5+PvTcAEeNPe5W03cfz8tpL8afzW7/qv+chRcz48/l4wZ/8U7uA
            M5/P+wvO5J/6Q3D4fF7qC27k7/lfl3ZAznvs4EjKx3mcNz3w+fyew9O++fV5
            /Hp+vM7pz8/n1/O9N67j5+eJcCD+OufX97m+8fXX3rj7Ob7h237u5mf99x5z
            8ze45vj5ednjves9HrzYT8/dnod7r9/X/L2H5+tMlZ/OCDlGzFLHKKoQjLcD
            NYw3dK57jY41awcUtVqPumtwnDGQOwGsZUSxhBXKWL3yp/erkg4nNfsa6vk+
            0B/M101M5c+xvpjH8HX/xccC2EVS4+61yv/OP398fhWPDxYSncof9+U+Xq/O
            14/79mZl9yD7x/148Z73ZMzPezc/xjf9/OjgDDN83Mf50WFwV+l5f8b5MYBz
            rM/7ee77YTCgpvdpXOfHYE/8+7i/zutf3R9du2l+z/H3Cnwue37N9Of2aF/b
            Znxtp3ve7vm65+men3teznjPxBvm2GjvUd6j+bwWI9Ga7b+aw6Y83el4mvwR
            CSXDcna2UK3kMY9fr/cBpauAjD/66Rx+utdpn/OxGZ87MVMSAvKxGrcu6ULU
            sfKajCowiePgHc/MWGd9Hr89mSzj1vTRztW47E8dzdoBLfXHduUIO8qO+66z
            X+87SjHerfsrNo2/ZbQdx/la5HeZgC2rRe5oeM2xds+eZeJZ47rLpDY0J+3E
            5niXSS1mk340lDmtrURZy6t3wL3tfTfmvrPvwZZgT2C31ECEYt9jHfz7C4xl
            Pb4oM142Osdb6znW43yUqYMyFuy1tDA6Z3ObvYuPMg0st3jOhM2V/NAoUnXP
            0YGcB5ez6ylz1I0XnrM0XA15y2owxzYC/znbc80871nqc/RNMzzLLDR0ar6m
            dkAnr5LR9TjH3lNo+V0eRyfpUIMHxN+eh+mecwXeNk6VQRWYIKM0P/rvjlyT
            OPLaMcZoZVL8KOPATwrbZEzZVWyuVnbXo4wflIVyXTifh1Fw6bOt0OK7TM5j
            y1g+ysTyKFP6LvNZD7tXeHYK0Wy1sa/o3aNM3sK8o/OY7rbi9M96gCGBJ1kP
            dp/b9QB4hUeZGshx7LVb3U7BWf3jxAEexap17+U6QrY5LJ/j6q4CekTJjo65
            57B3v947PXMnDYp0tQNGep1+1FoedQ13ANE6yYAIgobRpqE+ygAEg6vdZXzf
            farhcfrcatGwSwfCGdPmCIBrPMqcwE5WBsuCw742/f0c27Xm3kNYs7XPUo3x
            MUce/FYS3G7cZ97msX7MkXeJkJ4zgbba7k/9aMv7VIfNI9YjLuvPRVHKu0xo
            tdZ7Pa65IddnW7HVnlRPorjPzm37bCvlaJxLR7f8hiOAts8yWFST5w4KyLOV
            wVl+7CFfEmVG3Gcnj4zNz/hsqzrCSW/rFQwLzEjdQLcx+pke8Mu3PL3K1yWY
            Mm/eUmWC0ZbVF4floSy6A3HN1POJTY8RsHVgWQoyAuBIwJwCI4I2DcBKkXwO
            dkEFjuhx/Lvld+tGRSTO6XWRq8Z/o/5b9V89f5ebejr1dKn0UulVP8sVUbls
            8TBdy8T2TNeF3V+sXJBehDJXk9hfi1dQAOdVNtHyD/60+7r2uu6Fxa9/9vf6
            ttq3zRFq/bM/+7b1v/5uHUAt37wLmX/V0//Z30cf7m+vf/b38e1l32K3/aO/
            7287vjV5t0l+jT/8zz25TiP4/vr7rYPE8QZlTax8mjgPgAf9C76SGMR9w4YC
            G5EliQGqK4ahz+LFogHZOh6qJOjp119/6/dD67SWwW6/Kd4zGdXi44t0FoXi
            NwVck92Hfd/3ffsi06tkw6mFf8JIDdAM4b/Af1GrMTjOf/39rVl4SeQf3PWT
            s//mpGe9JfvGyb/Zha/ubwnATxz6Lu+ejNNn65LavFSgP75/Sad/fn8OJywL
            TKg/gLWLfw+JicZ3L+nX5y9p+dhS8u/5yXv+trLol/fjx/bb0A7ofhxHfEii
            TMtQt6L017Zsrm6J9/dYb43U2Q7/0/fr1m48NJMfPPhllPLv5ureK7fG+/v7
            P/370167NRC/ez/3/PwivnmtpWk8flfgT+PjrOeH+vl7dG7vteM3e+2WPv9u
            L99SaPVVsuE07ge/lI1/qKv+4f0f+lL/cC7utXLtP77W9f/rWl//tbX+789f
            CNoB89t+5Nd/IVlbL5gSgie4ua+vMQcr913+DPH8mr6P8u0CxkrEV3Zd+zqL
            cdenc8GoJ3AatGdZNydu17yvpdi1un1/2feOVjD8/rLvr2JXELLpp/7OdIgL
            Rfv++fzuL6uX/GTY1e/7uOxaihPXtFZ0kqXs96vZNTh7H5O9r8nu73nwBXg/
            /bCnrz2OPQ+S6Y1fy+V7rn+po5sWO9p30+iA5Z440/3hete0xwAWpdmcuP5T
            X1Zz4vzOYtdr2BX8piQP0dl1jnOBlr5spQnLXCQAGdGua99f1a4uusQr2AJd
            I2h3L84uLL9llGce3s56q9GnHsDO8jyBqqfU0VGTK3GkM6kiTUC+BbsfU+g2
            IUBhMMu5P8Oh+9yd6yB3Qz6CUje2J7poBLvXLD7opLjvMVunSf2MWw/UAwVR
            xR/l84jaq1c4xYGWtObzzF0huuf69BEXD8Rff/eWTmfcOOXC3J/JuOzhTi/5
            Wtl1pSnKOIwp67TSVnq24ck7PdpwLWif9bWvycpfbYnbdmuWn+o9w8zPeteu
            59FO/GmvTXJ6j3rBlrpnPa3N67O/S2oBR94wyhwkfMKtJWs30PPRuHort+I/
            o4ir0/k65/F///53/ttU1jXG/83F/9IdAE7Ld5CC+T9T/zz++htcWZAWNtSx
            74Rz6tp3U2ZR575bKklZRjTTz9s6prj9rL750M5ntGiO5LnPgzIP3WcByBZR
            q/RI0qSNROmSmzQxpl3mcqCNsm+UOEkhVTOwQpGGxbP8muwxMBylS50GbEME
            SqPcpEhuckTJS9DfZNIV0AAjOQ+ackk2mN2FTjtca8zJXSW2a534Kp9XSdRi
            s21Cfud9Rl/CLhcoFOxqq2oW5nJtmRFgZ7NuHbIdysAjVLGjT72DpoiRZtA5
            16uMebVrS/lnNAOGELdMJ3gp5j36fmaRHZqjeMYWp8mG9HttOZG7KDme7OzZ
            qGKgmOxCtVecIi+v6oziRLXoh83xsucu1uZOWtlKwuzOw37TTu5ZToZnVo7W
            AHe5SpkrjW8zJjVfp8vXnjcq0ihnCCS28LywHtBlYk5kyG3KFXYhzP0OJHTB
            H+YOc71/B0/bNp9qKp7zx+dxycoATWMtWE+6Ts85oWoVZMh0V72IcmlAiN7T
            urhVkhE0WMye70HcoRLvItoGyU2JTkWfYrmyo+LHq2/58Fi3LvF2Ic2uNibn
            nWZhuPd+rwPWcRWsPJ9hWtkG67jvbW+ONepff4fOjcAN6purC1Qx9hPnu1Mh
            fPkLO4Dfg4I60T8v2g/3YAnOWC/bIDhX/P1dNj/KumDvJhXDzutsVK8zIVtQ
            nh0fuE3t7PA+UleDvcU5yxNcEKjK6uxcgZMwzd+081WWyRbP6LqdN+f8lkhJ
            poN95Ld1k4xNqJ0Z1C8dordHiKrvqlGK+lorhUsedLzR49PknuMy+t+D9+BJ
            4mkDYZpofS5hKwYwA/YaZUgBazhjwBf9mKiu4RwGjxkHMb18D4v0HQjigb1D
            ES33j8f5mbQb9iOA/gvRdzcpqhYH0V1YdEzoDnX403c/WedFLQrXjX3BuqKN
            jOE1a+tCm94vSq6OVa95xbPUcRW/cPYdaGa0GzDh52m/cWavc4DjCZz7QsU/
            OMmltZm1gGu8jOeoJeBvVi5nXphXKbX4XD4WqV/l6rTiPXXK6GbAZ6ERRlhf
            sXrjGth3mI/D23ykxMnQN3SHySyXMuA0uMq+4ewIAlQvOKtZkfYsTINhh4R0
            tCKVDn/vhYV5yu0qZYxGKSI2uRmRUdbN3UAQ51aqgL01j/aSex9W34zAh/iG
            rPJRIk5errEObNwiOMfeYgdiLZYbJ2UTJ/amdzr30Rxf7jpj9BJtC+tR8yWt
            BMBXNHyDNekpXsWdA+uJvs4j3fttt7moi/EFJ9+dNIAIPLMT2GShRF1Y43Rd
            91y3pToyZTPfdQT/ax3ztDpceddRu9URjh/qWD/UUawO7qm7jlKtDiKF7zpi
            /aGOw+q4xnXedeRideQf5iOFX+sYzeogl37XkZJwPxZwUxFtHa86rh/q8FbH
            usYp3I4+rPPI7TS8OA6eF8PFEevfL9qK4NBg1WSVQ7iKPV55f9L88iQfW3PL
            tvecB+pjT0cA0V1So1fHCHd5XS8i4tNs8CvOOMpF8ei4jwuYA7gD9VWMofYy
            Gw6YS6u1K3bnS+U9+vCqk7BG/Tt3/6j7AXqu+5nzJ60A3K0XAlwEDhrt7svH
            t6SXKtuuLdVdBm2IXvJGh9zvUWcjPLjbYZnnPF3APzgwmpdJ3O1d1thoXAKI
            SXqJZ4PQA2vp8sy+44/1ZLURe3UFSxaEq/Oi49jV8a6LKAis2cov4CHMSqFW
            06+TOnS3zyClREDzoAfRJusI+SI1iH5onV31uRNGNZ7paHQcx8iyPPOD2oKD
            tAhtuyWO4FsOp3ZQ19Qigp6LfHZbRjXAmAawRv27+jMjxoe9JdpuHbpya/Gr
            E2NLRENoN+Xq+okd57DJy+A8Ak+AYAVWIwDDOv7Ub6yVa+irl3iPZTC3AXML
            pIS6APjpV0eS72y3racHjewx0zHGdGJPp71WpVFoZfNLwgZwkI4IXVpG9G5q
            PhJJmCqJ/7T+LtZNDF9NSwPKPLMfNBAGTXupT1jvCSigtjHWAQB6XoCznLdZ
            3Ty2pWB8zVsBjKabY8KJ1B4o6ep08zNdrK8FZwjV83vScAQmTRIa4E96u0W5
            VQ3RQhKnEgpRvErvMdBzIFXDTYcNp3ekz0E9EI7bepyuYK6F3BvOIi0QQAtc
            mJOL9E2wdhyQLGEY9m7nHvU0oSnxtTY4gnhfaTELhIDa+ZuC+Ik9hynGZKO9
            tNfj7julYKGA9Ew4I5t30Fm4RC9E0O8klzvxrud6gb7Ie+5ZDvRIz6RJkwfd
            sALXIy16jeA6rgZ6ghOPrc95JlYGec0TQnjhuEexB3GWZxsO3XyeZ60J4VfH
            ImJvNt439u0AjsY9QWvudvbIg7E/iXQOVibfPFkwRbKtL62FQ5K5CGjzE2eV
            e4Z6O/JJUtvd5wxEyi07xewKt9/4GHSnaESAezlYYqekTROKlpzRaE7AFSfa
            MqBVYI+6aQJgNtKpAHykpTOfiW7d927fu33vRb8ks1fsMYrevJrdg841+ydn
            V5KOolvbvm+ib2SJiN3StLc3TXSBZsg0MqKscwJHol8ggDNgUpMOvpWqMxoX
            qNTYmuPcuvvcgmblHJ+HwUJytiA88dLRnsEZ7Pam8c/SNPu15hKMwNixejL6
            j9tG1tPKq+SgsxwpMLY1pA8v9sDgmuOMYz+4IWMXPa9Yw/OsoKNB14IPnf3o
            as3gdOHZHVSmo4/a84fhj7gWtwEpYd4XwjXdN1o07t9D8K5xr1fskzqvdZdx
            x7vMItwkfQjsR6NY7KbL0XmMvCCdhs3BuY+2HfBA9YJSo9DBk6bASLp+E/81
            8o34Aw3a+7X2O2DC7DM1GRUjmyvwXL34ePAN/aiTcKiT3ps4U8S1Gz6Clr/M
            oZpufmSxcPbAW7zGb7QNua4XHiaM42bysl8j3gEeAMwPa5wbDxUQCZIDYAdo
            T67NKwGTred5wWrrvgyjtc0+7OJ6zxunFfPo7DLG3ThWcBe0DGgEFLPxJu4C
            UznMvTdpB1vJ6OlKUFSFH5q+iTSHzYDFkfsVy4R9nHBi8Qz7uYJ/w1Zb1Amc
            +LsCqAjQLaRLQuC3B+kMg7GUHAQa1oOXAVuEcwSkBaK2ZHCToPiId2gU5+dw
            aRbKKUAiD5+mpDwTZcMvfQWbW1CxQxsJX4Fx85rBSdx7VSlh0G0Huq+50vTe
            kafDlgXuAAOge/DPMoZ1H2WMv8A+JO0Lzhfnm7RkI2Rb4FGI3S6ccXLOGANY
            XtExOIc+UP8r0hdcv5Xh89FFH5OWG3p/yT9SvLvsB+kFeRr+BPL32ho4e1h0
            CtVqyqibPN/YZbKdobEIjaj1oX372wIcBfYesr2GPSbYOqoZzIPZHPs6/YMP
            693u+9qG9eYvOl38hA2BM35Rf4tzSjqe2LCBxuYY2H8aaQZCTe9Jc5BWFM/j
            gCGw1qzDY3Ls2iigaECAjlKvTFMSclrAVIS9PNegL0rpgK8DJIB40gU2+5SM
            yNn/rv3f6/X7vn/+7/h6Q6vk8tlHzOLwXJVqZzpgFHmCbwnY349yOCdWLhpc
            AIUhnqMklD3A44CG8VgvfkOBmr5xorMq4ZRr1+kottn8gSetB/CRydNhj1KU
            pefEPUC9I5KeYLAJzIlkT45zTFxT7jmiFzn32QA967FARJqeJ+HEvt2wD3u6
            1WYcr+QHDl3pGHe7RiqoI4P4A/wGoMM+zuAqM6VAF21KCSv5nDK6C3AikReO
            1+Q5ctS0op/RX0aXoq8stxrpLMJyAAYdA+xXzNfJbddWajd837zOu5/vvg32
            DXM28zXesJWCEi/50WGMM+nIAGrxGtXkUnna/g9bXiyYSlL76NILh30uiO9B
            QK+yeWedPeznTsI8gIrwCkkB/C654Ut+oqbPv/5OW42PVUqOcmqWIm/ISSCe
            7BmPTyqjbe1ovBclyo3Ca/FK2Csh3u/ySdIDBDZgxQBG96KhgaKuFDoDllBm
            S77HTcCGSkF8836eWUrVNQnUaDsAeGpCGpuHfknOss4tqyAcO3W28THpR45s
            712d6wAKafPnYArGS770mPOFHYJ5OxX1guMfkQAaQwWxcnLvW32u81ygToLl
            Lb9w8xohjaCyoG19EPw9Pfl8PIuHqWbxO4Os1n4UrKUDHFluXMkXct/ifCzC
            Wuy3C8RUpQhCtFGlQld8hkMNIYbL02MZ9Nq4nAy9ec6a8ZigIcjPLMqdTRdx
            6yTMmGfbEeyx3/uKvK4nAN7zKhy0RKJFyjsYcAE70pOmKdjTx0vmIXNlm9Nd
            Z8xao7Pvukj3OsAf4d2DvNFDfsIQJsHqmo+6FviVZz9TES19zr1GRntKNpKi
            Ueup0kC0Ru1iisflEONP1ZkZlQY8HsEm18Sxc93gPPUpHXuYMMMnk1Fqvvb8
            NQf6MprqSDiEHBRwN1iFSrncpkvalKwJK3AC5kWja89FX3WsS/RuBMGaIT4K
            PA9liUAkywJutJadiKRGBcjRKF92i9/UevUTNLl3hZJP78t53PWvdA3iILHN
            m9bdDkzgIxjGpiiqCg0rXH1/R37Zke4vYtrpV8gFUnt432+ekH1s5zV3H0Fh
            1UO8ItvG/sPzuul+UMEbJqOPZy0S/waHa9Ac5YuG6PWiEG2JjyRdQVCXhUON
            /6o1OE91QjkwahwSk6/P8xS8ozIHLFFb2A+VRqLR9gPhwAJNpytLnbk1jGWu
            a4reveVsVbJk5xXNhr4ijIhB3+mT6h3wo0A9lKOxjCKwiOvCun+Wqw3HU3sN
            4JxwXvEZlvYaQebgfpQQfwEqYuwXDYdrCr6QbgDFIHevwLLfz4EPAUnobAMS
            fsauNg9r03vpxDSv+A5UDiW0eOZMVkY5bKGYqj/mhdxMAiolT886E+G74HMA
            8B9aM6c2MBqcVcA+0cmaN/BzchLF+6Q57Af2t2jJuJJ0oM7mCMBgUu9G2EHv
            RmCMVivIPlxnAwkpWvykDdD72z2/OIOvb0ch0kqJ38UGupZhQbAtEi106WME
            tn7LVDRmL4s/d7zkYjjoOhN1+NbJ8XEO5NKcpTsAvO090s0se8pjQKuRTjXf
            RO/C5p8GfSmc0UvcSwN95PmieIb0Hmnt1Oy7RsrPmazslouccRHfZNGbFdiN
            tAPxYt7+nNmZpXXS3BermwwT7mnpxx2Iuab8k8Qs+E2sjeb2SsNkP+xXBz8l
            GuW0+5EvcIJF5v38dsgmc7Qyo77H/F7C4fv7dn+fd337+461u8eysI/J7+QL
            9C1nlowN0HRR+BMfGYQrVPIFZxeMN93QnldbY3B1g3sZOAbklsmrpnxR8cyJ
            VugUZ+idPcN5zJ1yC8rLEmjzEPKW0Wn/OtZB4yxgB/FKhixsL2vPsn5rU/fy
            rsWeZ3CrNNCe43xgRbu1W1vpalsqxExP9Nd6zraG0W0g5sC3Lnx9PmTDlVSM
            y0Bd+AMErZQ+Y+sQ7/kL6D5QrhIw76UmhwPgSECB0AQfit9nCGAbcgG95BbY
            wH7RkBJlZ8jd01+B/MR6lxObABD2XTagLM9RpScEqTLwsig03ACdMQmUQQ+6
            TD/fOjHJ1BtQB4C93wN5GCedwFobDVr/X3ueIpqiPU9ZExCLr6vzvHicGgaT
            A6+WQQeRkZZOxb73BjsUJ0PzS7SgdZbSj2tEpICx9EGcQV8xnNNhMJdM02Ik
            OSpV7u/D4/vwKNMxVHwHxkf0JeagrrXkBHrLHRzo5e6d51l8w8lkMq0E2N2L
            YANpKlBhozucE3edWVYIJq8U6sEedxfO1bZ1WNLVU7+dTX4E3oYSL8w3aWRH
            MMRnj3L1LofDUxkZRu0SP7Y82e6Y13nLdHIBMInGc8vOZBqd7M5tk7FtM/rW
            T68dMYDKWC9fH7uufe+y224599W+B+9oUD3ac3BI3vhvLz36Se/xITcTf+tT
            NeOiAADhL5sP8RKP35Tk67d//ObzGo77t79/H4/nj9+oD3xNqPfv+/mtPy2b
            Vzh2nzsjSlCGsPvajiRd/dpjy8fnWOZ+jrNhc3Jf9/O+r746BW8bA7QI0MZ5
            fOqJQO1g+t77AJRXkD6DIg6yB8dKgBQA26S27L6Q3cXhy6VQ4MTv+/099q+j
            /JF04Mtb3vslkt5TIYfdj++uTLopE7ROQq++f+MaT5/n1vU1kpmctVN0Foiw
            R1/Vz0KtB/oFGLtI8+PcUY2dwSizPCM8vnRch9W16lloG+YmmZE3L2rnRTy0
            SpL2ow0A9U5+27Vogl0W/U+pUKyOh8fofTCJoHVpUXJ0L/0eQcB04Ey8k86m
            UUXbXbbfNAMm3UvNFu0jDjqdGQxspPvnkuijA+azXurgZS6vb0wu1vdv1gnC
            DODe7GMYgwwQUpEq7vF9rzU5Zeo6MZ5O+yX/w5w910ihFk/SglzvDEooAyNl
            C7mAK7/NTpE0f/7eeEnTX1Ofn11yMnHKg9E3uY80bqz7ZETPrV8A0sckZqez
            g+96NbtzzbkjYZ7bckZbxwYyqA/F3cFz6hFDAK+Mv9W4bxf2VAddGuh9C1zH
            qJ+YW52SRm2J9KZBYyD/T10B1wt0CqGd6jixl39Thz/jUD1g6uOjDsJQjM87
            zB/G66xvedRmZwqUGWVfow4wYX01lMFc2LtEcrBLv4W/HAi3VRe2L3Ep6/ql
            LHWXWgtKgACq8ZvfoE9gGjAOzuUX793Br2SsyTwfe4Z1YJ1p+n+QTHV2hixY
            ga1l/gGGdCoZuHePzABlPNcJMIRlxZNkxW/wjGqDzRstIit1SgwDIZtAnYtB
            mPnTvrrPsslJ8rYdT9uOyvDNsSOauUzbyoOGLDqXIF6wx8n/uxyeMhpJQcBo
            Diqqtl0iMC7oR9D4uQ7TK7NHlHtYIFidv8NsVGhfg46m+sbXqpO8irzfbZ75
            PbB8w46XrIVwhnQ5R0rZCHHoAkHOcixfgLcA1PINZ7KsT3zetomiwYMTz5hw
            4GWrSGkL5pv6bJEAUQiuHAbDEm3zKPB08102xLvsLvN8R9ws2TvpcMEiciTA
            8Yr/eimUS4qgKI8ruIv6X45RpoGDJJgHa0yoelYgkTPLMhAjl07/tsmyFTV7
            i2u+x0Of/Hzad2CxHev6aYyvsdlY0x5jtnGkcOYcgvdvuJ72nORf50LzTr/g
            09Gz6cG/Awx27IaAbdgprwEdVED80TgW9wnwQPaEYBfpSi/7Nrq3U8bDxrv2
            zb12oKgzIzEUR3lDLoG8HcYrOxvqNdQP2vlWV8rGVSxfHcq3CEontsqDJtsD
            GvXteqvhqJbp2yxGnDaYnXaY4tnWAiamvShliiTTWQ+jBtd6rydtS3XEaFuq
            sk62Q6/1QQ/nroPPx7K2GJvCgY9+2WPutjptK9lWsLbwX+6RQyHAnK6vtvr8
            bCvutliHbCgv4DegBErOKAO+x632QAkYPiCRUxRIaNt2RsEa6nYO05VJsuhP
            k0/6hc1c6l1W7ccbtpgtptswxu0oogDb6Umj0k+d1tDheO8ZHG6jtdLGU2i6
            eekAQOma37p0osAboDl7klkfnoEAA4yv4GnXg598y0OIa8KDj2R/tmwCdUQv
            HXlKZdutHaerDGkmnRnlUDI7pMZ4yWmc401NdFG9ZayS16GvpcjukXQdqPfs
            DO4a/f1N1zPeCRA2t9xLDio7EO2L0W49tXQ6WKve46K843jwGbyPj3vp7O18
            HkZZ6mzWuXUJHXubtNGrHdCgSXK/IjEQf4P4Qp1vfNswf7NJB1q3XrLd5VnW
            kcdzV1cktubGksYx0tjWu417Bums6dqxZVktmL6O+sT66D+egzwZnjKLm0+i
            YTXvH7p+s7G7yF8UHWvWw3UEPVRfuC9Z/ccD51ZiqEQPgyIT9edcXfSDqK4l
            +exxT9JLPACGYi4aOIjqKGlkiCrfksmsEumSxovdT/KzxmUlC0juGFZn5Uk7
            Ddc2bqLNcHehVAAp8rTkYAKuXjywl9Bz0H6mMJKR8ciHZIe0ITGZiF1x0CQX
            woYF/l0pAPQzrBr2+6RJfEY9wWV9m+3+p3PQaY9N4wesP+3Uzv3bE9tS50fZ
            L3BuoScveIxEKQ3Gcx6mZ6JcrEVKCj0W8KqhJ+vvltVQADOy2f5RjgTIJDwv
            2dzJKCb0P7kqVQixJveSuy3TIWWsDW3MeHCMhwCVmQEb/DVToz33p7yKvPxd
            PyUaz/fH/d7t98BCnMN9HmSjxLpjo+zM9HukDPjsLGOsJRllJ0DbPGLg+N1s
            DON0mg5RApCZvMZBG21b3+hDLYQMWTxCck62XRWQR2vFCPDYx1zHnhR/Q+sM
            bjKRd8vpsG/bovaz8jtS4vwmkw/9LJtkig/Yy/7NWo+25fqdWQiAGtcY1H+B
            aBB+jmm4k7aEIu+Kowk5cAn6URgu8KSUcFKmmfHfjD2X8D3L3d9cf/hm94eH
            r3oCWe5H+asSXVzNePz93B+vZwy/5qjPr5LHNwXf/yrHZyoH3EW8qmcCF3vt
            AXZpjEN5tcZv9u6Ve+BQRMvYbH48LUuPex1rN95y4nqS/u4XIHe4HP1TJVBA
            /aD8qZdCWTcZWtt4+hBuPLh9EY5peNL7jQOm+TkD8f+II/z+/pYBuVums8uV
            KV2xN3+IkbZ9o+iE4cw2x0lQilMH3E8NJm2ArjAa/asYc45OP1g1048wsUPe
            30nQ6qUToc0HZlT25XgwFBvMfGAskGUra2LFX/QFJTToAWkEsFk7tozRFz0e
            ug9sH3RvnzLqb7KrIz0W6XAs/tJZbBrQwwzgxPLdDcWsSluv/ZAV3fKsENMd
            g8bsSHaEUtngn8RPnG/jpXBtRmvS+tbqarQZj24QjHIvbV8deVsZp0RbAJpR
            2JXfkCfkvFDrec8B6YdeFUipXCADdD/JyfE5/Zkvkr2cE2OvgDPVvhd/NJ3q
            OlHU21yTjgZ/BUKBXk6jmyw+RSNCHDmNt++B4R/q0QFv9CxfolksKCXlnvSt
            0H6mbDVz7uM9l3cU3rj3Z3rtX9oXYDfP1zj9kv8aVi9cuTTG8pZPFhGIt34o
            VFaYaK3R9NgxqG9yDEXYgvTeoYcrkffge9KvYYZI3Tg9jFJliDcifRJhpifv
            HPeRhV+dYmeDJgGU57cUPtk4/vq7Yff3+baxNpssYkL55LVFW8ZKeLRxrBPt
            mFKnucEC/Ufvd09ZEvG7U3QAOpTUMQYgLwPKeNqe4RZHqdPAD8fhAhZ0OsWk
            HbF7CGd6EV/cT9qzgF41mBUMdmWKsWhXyfQvuI/7uQL3mc0maXIcOPA3tMug
            zGHrs/AsAf4Kh1HMhHPUzEaJcp3bFtZd16kzSF0snipm7QnMYb5Pbvh9rG64
            QpOouHk62Z1RHCFdsPEiJtstNEurivCEc+Jo3wwCyuiqxJiFIK2zn4kyNLMx
            ICwJ4QJCxDzIjqKc8hUgl1vEs1G3xP1VcuPvN51GX7EjFbuKTr323i+H7NHw
            Lg/RjO3G29rrIL7qiRY9baV2pD5ve5shMLZ8fZhe2uxxjmz2FEBrmqN1GTyh
            nydtIOO04FMynAlUCFIgYu9SNBjcGE/oNHsNpwiXbs23nqnQtnRE42s5v/wd
            KDugaiBWs9EAuJQd3rkc3zPzDm3G46CNvNmL0dOkgl/HdqS0JLchHUeVHnbI
            ppq2WcY/AMRUWp2jru60R7JHfTWJ51uKZXaaHGbbHhI0efoZ6PujtLv98NW+
            u9vvwBcYB01ppN5Zn+WOfA2WYUCEUm6/rFJph1uy9U37l7sMXSrh7hvug84W
            +MpFuFZl1znNBpa+cuwXPSWf7Z396rScvu1gOSbg91J1cEnXXSPT5gN9TePz
            2wWozjkM6PP9PdeF6Il7FGRup4iE9cRlfT5kcOND/pgfeUVR0Uj4XGa9+qs/
            cfenjXHbk2X319+junNtOVnyFqNm74nENsgTBYueWGkeVdrD3u+2D6RtBk69
            lZFtdLDvaL8zxiSTRtn7li/VXe7mJYM3araYzQug7WkCg7n9AePjm/j+RnIc
            0Stm859om9ckNCW7Zd/Wx7f18a0z/wS2CRiwaBAwqVBu9p3k4fs7nt7vfoZT
            9uWSUTp7d2WKd9Kv83PDCc5TzqPLDsFLPiECEuf3xZuT9mD9hT5mtCujVWnb
            fLsiIpfEuWU57pmSwEN0SsTf48G6n3cZICz5e3N+DtmUxjyXv8+9E/yk3DNc
            nXDEnZI909BoywxEh2XaeTBGiOpdsvcjTNaad1mpmg076wTPFBzjiDRUl8Fq
            T9nTdfYz7Hm/54T9AqoDH7bLxd+XS83m7hWxyokmi+az2QU7wdyaX8W01FlX
            HKfpJDfc3DIuwIXr1ovVau8sZpDB28bonpTbXfvdAxbTl4jvSO/RU5S5YbL8
            SAsJeflLRfwmR+sc/d2wL7rZZ9AODHtE8haUb+e2M4r0empmE4ryoJ1NBoHy
            7TLbWK1lIlwFjgGKkV+pV6Yzb55IZm8mexYcXkfY37v0yD3R0KCTjqJlzPal
            LLavGn1BqBfB7peNRDO+PVzRy2aZin/nTz9krzjl49jJjC3yCdPVRfvdiZYd
            5SXicaj8w1l83Q/zCUEvQiLedcwS9Xjf7D25Zd13uw99US4XaXfwKlvsne+7
            bN3316qsm37IMwLI4gBE4mL2tVtfFQqdZplYo37X5+x7x5io8lY7KfG3d2n3
            q4KBKo/nfvu4jBWyPGZooIDzWGX302iLiH3y9oWhJBNUG/hJ45Hjfu4X90zc
            eNDWKDpTse+1qHstKNcAQeELfY9Bs9HyDnQJvVgb5YGEhaBPsSXFU9EXmnSg
            bI6c4mKXSmbp4tY1+7lrKn4naBcxVYwuIPsp8SQrlCYdWifuMF0WAyRLPulL
            b051BcyZ+Qp1yre82/xW5aG862qhdNV1vuriupof/rsutaX6545ltXmtSzYD
            3q1tdyycQl1LlS2d7LRJizi1G8SfO7RL3oeMfLp/D6prObbXPZWYjdZXw3iF
            wjnE84QjWDe/O2OPoVFrEGTD1sUP0FaRZfiOMa2cZLg4u3Tao6ek/HVam9LZ
            eXlPml9Uy4wvxfkUVjT70WvDtlZtzKDTlIGrgOabtPR40HWyKQXHCbjbxINh
            PmahTMSZzUsxOz2iP9pgNuoqDsuoyDEFxovvC1QtSDlGLDixQ6b04v6mGTA/
            jhmdsKeLpyBGMB/8SzlkX09bahlmT/GFtK8CRgAcaW4OtA0aFdT4CqYXcoBl
            /Mbd9gilGV0KBmi40M3/45aHsX3xIqCf2EfSXOondcvED9PmmrFPujedLGOu
            vJ7PXf50yurHYPiMjsF9xnNBfa/GhV1HXoc4VnOx2+Y7xrsfM9Rtz6GYshF7
            HNy64sk4s3/HPosUclWcCe6p1MAjdM84Ls5TD0ydU6RCiXKAFUeqwen31B7l
            tVHG/LzS8y4yAL7irVBZ5qWfJew/qvEelETST6BeOxfBabIfWXJZNi5dr+17
            GPdzWjJbnLi641pse1nsM2x6eg0pvoz0pafFicGm6fGUn1iVDuX+TdpI8UsO
            +eIxLoIjDGN+TfBhYAPHjmlAXZinbII6YO522c3te6N3i8YbD7uPtFStWXQA
            2yNfWqk3myaXuW3YaSfMWNakTCzrnw/rbX990e6aY1j0uz7le1prsDr5m/bS
            Zcbzjr1w+/DuPtw6LfK2cbbB81ZNaWIxGWiKUpL5aeqb5CSbCZZJFFT9ShP9
            nJmxS9o0X7/gZlcsINlbkacs5VqzyBfR0UJIOtPdFl3w77bsu/j6jvTrlFwR
            z9RGnK93/q4zulRtzLSFoM217F4n/QFld1lBdDpby2prWeVfiM1m+I7fMwpC
            SgZbo8vCTVJdTe+4l2M0fjkTtlJr1wplD8217cPk5G9bmKokhkh6T5mIHPNf
            norDg7fe3Xy36iHebL9/pzb93WZQrheslCwPei/t/o50aQ3v77juFfzJoIfw
            tsu3xFi0l4xhMLbOnkdHeQKDeWx6gfbYuJff9kXrm2F8s8d4cYDqnnuMGOMv
            nqCXc96q2aV7uaQx8Hu8hPmXP8v9m9kx5vm+79orZxGuS7LxlSy6Otn0L7q/
            yKC5mQ8VaJTOdwP7nTSgpwRPEQeC+gm8cuFsHLaucuYRfw742WnbS1jHtZTf
            lIQinu80JhKETn55JICsPl/xrNqzswYrF5gddD+L9sydMuDvbftj0XYd9685
            Hv2amuP2oslecyzaBvueiJ97l/Kce6/ftIz8BjBNjEkEEijJdjpG7UlyilYe
            lH+yzAuvuNlbpyze1GwA19NuxW8eoEhcjTVxV7ttexV/CG2d9dOe7/Y1IsTx
            h/HytGvQsxItFkGWX0SXbAvzfya69Z7UMSzFoxjycyHWpP1WfT3j+U9ZOsnX
            M8a94LM7jpdfNqe0J1/vuBAHxkIjr9DftMQJqHAyyHbKkhHts1AFkwFdgPvp
            HZdZH+0hFBAUEPb1jPbDh+lC9U3NjbK3+32hT7V4YcU3KORo2M9nmXztMnWX
            ocdoGk4yUC3QsrFhntjOrCY/4pxpXiW6s/mdYtgpWvyc98RdULxsXYg3GSNo
            VpMNUS8397mlj5m8YjadMhUao6qtuw2r57P+u96cGQYJ53eBx48+n/2tfycN
            y/HNyRQrl6wR+Uw+9U4+fwx2Zl7ofF9IDpyM/hmtHxHfBLXJoLmXUg6dplpn
            D1LmIOlD5m6ZZt16/tvnA9Cx+HdckKvPuHDWMmkYynhdK6400F1l0EsvS8ay
            6OdSqKFlGIgzRowqM7oBdfvEGUXCwMjRFk8auRQmhwbHAtYrU9pOE3a6Arum
            WHIK0FbVnnOJsXDpFA8qK4MTVp2gqw5nVzxzjORAu/XHM0+dPOlNRjUCJmns
            27kWhbGOMaP4LrqYRErTUAHETkcvcSryypSHA9CjxcL8gI5EG3iJeR7mF16c
            9YOaJ7vO/bwXo+PtHvj+ZFTeAkbMfLef5fl8PMqjO2CN2d/C+Myz7t/a66Dj
            wSPkdQKV6DllGKJr62ziFwppF9L0NJSc9C+e0o/svpYx9z2fA1o6+f+fqvuc
            Oyuu146w9+qXvnFuZPEluqeVq9V9OnfKvm7XfdLYlhCkWxsM1e3m3L/7ow7V
            eeyxf9R597d99Zehou66iuuPb1VX+amuH/rX1L/23+nf/c1/r2+q5/yhnvOu
            Z8fK8FYmMubT694dedfz/oa/H+M673HV66ue+nM9vWoHKH7H/1Sd/9165FTS
            CTuYm0MwowRFtDGYwezwl2WDd8LT+x50lbvfcb3u57+f+89+SX9Qd53EyTUm
            JmoOCjPRSGe86ucZdOLjveTH8hdRjAY3+I68rtTZ8n986cV2lrG2+cjWzF9g
            82A7DrmCULr26ve9T9iGYMSO+WAyUfsdLC6R2/wKDgHtpSjrYZ8YeO6SFQPI
            +kkWhrjrAnKsLklT5Jl6yvaw7DhVWg5J+AWo2ed+Nw3X3PCFfdlwXj5ibCvl
            GEcZr/I6hSj1qqM/6wCqSwYfFcq84Ft0h85QH9+Hx/fj+f1892FiFLsPAVhp
            yAR811OsnjEf9eyxcF7tOxvP/W0u/+jbc3/b+J1j6iX66lscrWz9n5api7II
            wvNk34601zFbnISSgQMf5f7t9+Xr/d4bXuMAfiYcZGSnrjNFJVsgLqBtxKp+
            KGMv8UIbXuM4r3OMTXPR3JEh7GJR3Kh9TijYZVwVImNy3VLGDerUVC+VycLF
            B7jwEGZodd/LknXS7R70Fn3IgtmW8552TAxqTzUIbbPIiDNeKq2vutncN9LU
            jARhPLFnZFpG+HAtvt9TFz6F1+gd7SblQadjP2hEcpZOmSrFhI8+ucFYmYFt
            y9/O+hVHTIzBhr6kn/qVm9bi1a+0+5V2v5Kdn1e/4u5XVL9wstO55X+EJdPm
            LpqfgMEUwbPICBOr3nBlzrNYTHUvBbvRcDIEX7Q9ZD9pz5t7rmbL2eSnEg3M
            dckfGW8F+0M2ZbT/NXpfqcTKiU2yTEdMGeP9GzzJYIy5kwnJdn1g20ffv6nn
            Ulnm6rl1UQX0bLtO6cNoXrnk98coafn+zdhF5OUYv8Dsvrs88KnP9Bl8OeMm
            gCRWm1P+LZ31g3zso2sslTJu7scjX8ykQNtl9pOeHAzGwzlg9oPSKR+lkIlR
            0agPC7QyeP9m3eQWSdhae1svAJpw04qv2HKkRkmfS8CT6ezK9zxJ+bjH0RlZ
            EvwwAxCHuZjTjprUyvZO0z1jMmhUh72keTQfl87EEI7CR7pFryQ5NS1B6IdB
            u9QQB7i4RetFWh21IPkyvdELdUlo0p6lFe64xJNPvWxh5XPC+WEb8fEe7FA/
            WjpMenaCejopqWhYw8C4tP2wmAWMH0sDM9lqO0V7kAze16JgQ2NYXIEwI2M4
            OsZroS+35kWpJWwO+rzG9KfiuXgsTq0pAvzQLjJQoMj9fz9nrBn1w2Jj8565
            +qoMBxgLcdAzRHZydcerDNaPwJhL3YUBGlFyGNo2CZcfE7+ZGMMxnF7sPC/0
            aT4TWKKk9TT9OSN50gTN9G6mN0RnxqlzuJRR5AIY22eRkTe8ghwVBmKc8pGn
            fO1keOdH3EAAZHBMLzsz2oqRfw4M+V2L4hdS7kK+MFWeAcKqfR/3vd/3h507
            V+1ethHVbA+pk5IdkoVuoDnohT41wft0DV0ph3CY7bUckxAepFcsq9uLRsHC
            yCawbVomdbPpQc/tGu3qwEXq/bTyaT8H1LfrbQuU7Np2vZnG4IqrbN/HHa/p
            9BaP+bahwhT17cubHr8rIM39uzx+N4tbXhkAglH6ZD90FZsnHkFsMPJD7o45
            KbgLuJi75IXMYil59bZnCsqN6mjjWBQt0p80Rr5or1XdaRqdY3/3rCOPK0R5
            2p2kDY++y5+My3nHAaI6RfpBWZu4M1lboH+wm6vidwD7hn/V17sdSrllmoyz
            O8spTSLrXHtPMb4Q4809+sw4Zt70hfQqNHkpn+06XVd5dyzMH6337ZzgKD1i
            LM0tQwRRRZA1tJ8OW4MFAnp5Bln3Troe9AM4ZHyvwe/GxPkP+7uWbU5+Nxcc
            /wWoePcdvwGS5AtTJuOca8o9/UWx0RiTwfoICkZinYlzDJjRKHPFs8Z50D31
            jkrDeIJJoW84g0ApzTHWNTL6imdyMEodaaCJc8p7R8KfdrxsxO/4LyTOlWKG
            xozefGBIq/A+ai9UxhWvG7+kQRkabYqVSie7kEoa+OP/GP6cMIFzg3XtODWA
            b97fdn/8ox32AQjlRL9dBXPVeD3m1cGTURIreRODRvpUCv5A06JYZire/S7i
            6NOWa7ZOaVQrkbAqRNrIrSaTSaIls24jGLx5IXdR3+LiqTi45Rr98znj0/BE
            BXMHMvnkxfRJwMO1yQGgEd8oRhKwyB3n7w1Tj3W08IaxGXg3ML8XOE6dd4qg
            G9MEUGlQabOmWHWMySSbOJniybbcW+y3wUDo2LgX1W09MLa2o+k34ySQZAYk
            sfjBLZutclJCV9TnG1D3jvfFOEZUGfYh21zm/5UtNr8PQyG8sG+G4j/QLlmy
            B6x03ffCtXGFuw17bnoiPZOlwnncz3/T/mHtYwqbN50V7UO8shAzdpBie5Yd
            x5x7tPiXfFTnlfiRMWS84lVZHxmXatMCjbJGM8y1+ZQhh/hQhuq1Kw1KpXuK
            yn/KwO0rMJ5cpcalKUdvEJFBfShjRJzgBXMNzuKAuW0n38gzoA/4fVCegE0U
            8rRYhopTkSyGAs8YpSxaxyr6jiRLI36g1n6kXbYp8bkjbVJPm4v7N791p0wJ
            5Buq54w3mtG3SkNBxQutqqdQubmszix5p/0WElG8bax7oF2v07hpD8l6zEZB
            c8TfjOuk8TGWMe0JsC8J1hlDN3iLh49Oy2bXgWeQjBa8m5xmUP7tN0iVXtV5
            uAi7/s22aPdyfw+ehf7m1aLESo6GU1/Je8YhdzWnuMNs44izct2o6z7F85HC
            sfVi0CLZCPg9HnrIYf1FG4O6nTPIb4CuM/c68Df7lhm51nyX3b0W4IZk82wA
            nIv7w5pTR7ZpkrBpjjHNHvncdsnnNFoDxJkQfht2xbYMlmXcyrXbjnnTPumm
            afK+btroppW+aZybRrppnZs2ummsF830RVutuOZTbtTnabkr9vu667lpJsyX
            9m5ifGfQuDy/4brkN023GjREu1XyS6J9g6KpZklFt/7DMm9/9XeB8mE2uePl
            n0jJtOLUEm7Qsme6DLiK/b6axRTVlIWVXDO+wZUdY4vqGrTt1qVYi4CHU/ox
            868l4Q6O1epw8i0GCQa47ty2g63mH07bO+asOKa32Oa7XsIf1uupc9n5LWjz
            F3IIafvYz41LlNGSuk/HCGvgkbLlh9CVti1KJXOBgYqKfSt7BdkuRPGR4B0u
            0RY4U7eNBukIbN7SgCjoL5l9CG3P22SkhGj5WEZ/8wLjtHZH29e147Iyhs6x
            umJ9Oerc8d2Q7SEjjNNvf6lP7DMjsFWwEPij7cVwb1jOPAPsU7LcDqILSCsS
            NfVp77AOIAo+x9KbvcuRQiLwoJIlB4bxf9tbGL9z1C4dBeMPN+osFFOr3LGO
            CZhCo1yM8cs494zBd/vjWDx0xidn/HvipwiS7qI1BuUZqdZyAUUo3hUxfaP/
            CjmOk/ZQp6Vt33HKiJCSU8z/fvt2sn4aqW8/ADkHkS+kTW9hPFfa89GPSbiL
            sdtJINr8gb12CoQnWOjBrZ0kFyb3MiORFuDk0UUvGLzvG/Yf0ntlcqTMk1PW
            z3sOYJcG25f2Mm3zMEYGEedYqf/mPUlS3ivbyE1v0W002tiYPyU5xiRFW3O9
            9KhxWkx6HRN5cux7kcIYdbS479SL065sKkeKr+EEP83n2Z5bHkiZwEijGBiv
            iNR9liw682DpN4NQAFdxzTo98JetGT1SM2O9O5MdkCan3femI0jvFC/BkmAI
            jdpVx+C6O6vDBPjDaCOb28Ln7fbhPawePWv72SUbVpCJ6F/Y/UKdtFVWv9bj
            W/WprttunfqIWZSxZ+cGA4mL8yD7EtHXFIac2CxOueWD2Yc7WydvdEkfTbJU
            0ABC4Y4+8KWZP/MlbSv61Y2Xku4DvFEZ1Htzr5Cfxf3U3BfF4Z36rhAqmp9S
            oHWB9F9AOwyjivkLV5SPO/eubKawt5dystj/JUunaUzZ61YZbKSMTB+K8+qB
            GJ9PaXdVDBbxXZtkjP76259BSR7Dhpe6MoeI5QPwd5uNMNh4H3mSKR8Wo4OR
            ipB9EzcGHcqAipTp9BXrEaDlr78jCApSGIFc1RHN/VkxLgQ7/Su2Ip2OyXv0
            wrO8/T/k30/oQis3SogHaROgFF39YVfCwZTQZW+/B0lcny0uzY7lF0g59JOx
            fGjHoMj5vMp2NTCuYlBeGdVFcxrAUZzvxPt8BcmCTxmxbt/CaLZ419xx0Xde
            AMBAi2kZD9mx920bKt9UxqGa+/1h78e+7/d3a1+rvc/TrglQTu3seOy9Wblx
            7O93PQCgxfC9Xdu03LqJ1szHO9eVw5hBJeY1zdYhKPyJYLhiKGqoIOkZv0p0
            qZQogHf2PO24ThY5gnZkj+ey9/L2XD4aeJ5dXv5lB5ZT3c/vemRBbfXo+atd
            Z+1O+T0v2XMoz5eCEx+KPcL7aeFvE+PmKC7KqTlP3POdMUJsTFbm7stJB/Kc
            vuuO33U/xhB/M4b4mzHExxji99ztOarfc7fnVEvDNSAHtv1q8NvdPhVz763a
            QBvFUMZ82K0YH9QpI7c496z2IpctWuzYPvwgAkFTAs/ic4ZPJ5lKflX+c75g
            ZrCNAo4Kjoni5e791OkPgzYFV5fx7zvHh+hDAArFEzw2rXNf75x4jElE2yyJ
            6WifrXhG5Tj2urs9y0JInfHIx7rP3pxm/xqixY+99jwkZouMoVrcGSu7MDe0
            sgr1Ea/MYoqJhqINmj/Nlx90UvvwLdx0DYVjklWRZ52mA2qH4gjgNFmsdNlh
            3b/rmy6kfRLTrFnej+2fDP7vyteQjWy62u03w+3JOg7zaD7uPJIULBG2MMYC
            4HalUSL7RVKYsSj9jr8dlcwYU8MESHhG8kjxkGmaBJqSNq6yzLtxCP+Tzab3
            iubfpbhhiT69od4x0HZbITHu5Qn44RW73f/Uruhd0tuW9EExhRSN0J2KpdTl
            HC47SbVfJYZD38LuwyH95+tb5XrY31bKs8K7r+ILgujz5vJX7GjGbv45drRT
            7GhnsaM1P/R2Nlu5ddNmnrkV2vmaZ9rIVX8cL3/6Q/k+2M+k+NNeviWuYo5k
            MOBXfD1nDoaG7xW7RXCEEiO/6aiPWGIziTprL/8ga4TxhploQf08ByP+KL9J
            y4fpIADk9O5KtBgYjehXdg3pNLvCQhgIPB4tlrMz2e9x20Vm8wld2q9BvnL1
            XMti2O64GXh3KVbHse0EdxxyvYtf7zLqio5a3HmCFu30TT3f8bRHt3i9QLiM
            nVnCspwnZqe642Hmd53KedLlx+UUfvR8lN99ELJ+lC/nLn8Cud998Tq/n+1a
            bhTVEfznOGK8ltra+VQVC7V9lgHf9R5rRf1Nevc2mvSN14wrALlk2u0m2udf
            e+yPsfrX3C73198NE0b/IHvHXG/Kx2Z9Nlspy1n16hNtdZ9jp6ZftLZ9QwFF
            2LGsrbz/LE9B5Uf5vMvv/h1fa+H7V/nynuM5NMcukToOistO37J+24UyxBJ9
            WY4iPyunNBBuP487xwIPG+DJ3L8VZZ4azr6C7GcVUxpHy5ltsChjzsExmUH0
            yLcN8DyOl993YHyeMR1jVuQw3M5n6ERre4oq6INfwDctxhYh38w4/ILP+O2y
            nQuO4YbXhWfuGkNx7Zl7CfWGByyaxN2tdPFmRzAfsmx5fF79cl4xCRnbP/nR
            77xnGWeWUgIJkai3CVH+rPIHJI9ybLqc0am+/C8TbbpBCR/N/G2J3zx9JxRz
            /VGu04fT8I1Hd/0jj0De10sxuAMdKV72C7HkajG3CaoYc6bcOYvTjqvDqFzy
            xSYbrzyKdcNm8E8JMOqWbxwWU4zngbyiYtDfelz6p3TmKs7g9Pqq4s3ZSjM+
            XQH/85I9Q6H8yVskArrY33rfnuLEX5PXZStt+/EF+SEX8wWnvCJKFjmCycGH
            l709A+40yg+K2ZaB1iE9wn3RzT/c4vBzxbd9vvyqaPWrmNV3HAlMSLZvKzaM
            /Aqj3bdl+QwbfdeL9Hz0qqPOo/Ww7bvkBG1xzGIDQlH8MpCULgFVM3ANzw8G
            1ZWnJsv+ihmmlBU3xfu+V8m4jx2vmHHX9ztnz5qElZGwiiievN4AwagdMJv8
            1BdjMND1It8GBe2QH0KQU900XMvvdE4Zm3kRVlsZcSWyxTA2PUbFX2W/JoU5
            TLRVsDcpl2RGV/bF6ja+O6V7XQgT6v49aPFC2Ve78/nRm1cxJJb47n7noTNa
            X7Eyqu2ZlRVTggl6X23LGGwx3l4xWWilS92uw5WmvH7B5ppzwXoAE5vq8ZRl
            Mz4O7jmenSvnWRZAvfGakuXEoWlIAq5Omb46QHVthCQfJYZSpkAA87fMpoXz
            zrkNzmIL0AYgcTaOwJj8a59DH3tMhXiLYTSi+clXyZzB8nbF41f0/0a6d/vU
            5r7GdzuuvPR8NGg85AcQoqKL1+PVHv0LUgLN8P19OvglfVrUvtN3riTabTMG
            SajvtXFlpSDfUIyZ/tSSyzDfhWyBKAvyIRmcpicPIEsIwWhrpvf7KHdYOcbA
            2LJCHIYiP4h7zzPVLPio1xm49+/n/pdN05D84iiy2LA9ebzaY0IswR+sJ3Vs
            Es0Sx+H7+8xxn0+vnBLak+/z4N0dP5xnVeEiaSeu9+F4vQMQu5/JHpI6HM5D
            vTp5oWPiKI1br19aNd/JQLsSwhX6F90ws9AQo9FJSXTdecNbjgF3/fbTv/3x
            Yw3g+NwVTgnut23sztNV0x1fXGIXQGDTZVSL8TiO+/0ufzHeZTAFJ/minb+Q
            v/3cccDzz79vvu664w/tOJLX7u/aOb/PHVeANj9hhvOWc0h03MyXWG5smCO3
            5cuJ2dIUPxTzlXU2RwR/vCwe62FxErKrUzS9xXGNznRY7TCbX7eO7xwzgXGH
            YmASVOVk3Llc6H+muA+ML8h9rN/pLfdUfMOdZ5cxLfWe+TN2LMggusd8U2iT
            53d+eid973m86tu2C24sRQ3oKZ9sv5N+z4oXpHqpz+OeV47GJPvGQ3sf+Iky
            bNp73jFAGF+B+RmffZQv246hwfo5iBUYz73Meued9Eb7MLYJ6Kv+okWm6CDK
            sgt2H3YxY2GCeHzkvGJslXXuvLCH/KqU8ylKWcEQBkWOY9zTIOpOSg4spyr9
            KY8XzcazENpYvYHPzeFaD9mA/EWd8mLidNHSnY4u0iU1+S2DXh3Kq0z9qOQU
            RtMq3vUlCoe04KSdMqhDtsVABU8en2PE3NFFvF2Bdgk0/qugQdB/ZtelHZ2t
            LyAk1eYMkcYsGVXxQ0/PmPRmeio6c8n4KtNPB3zWR997/+x7b/+67+Wr7+Qn
            P+J60H+5g0ZtO48KGToPyvKwM0R/XMartjzIbvidi2JEN7rLoziG3Mazlse0
            GK98fg62TyMePuNOVQwfJ3vHQ1kV7Z5lcTi76mSkUeWTok9fFDi46W5s6Fml
            CyPoYRhf5X6yPMdeuf5GT2BA0Fe2TZFxC3SHlI3qZGCNnZfLM74aVdKOOnDG
            G8PctWi2ywZ2FteVPvsWQ6e94klKvi84QFtBjJb9dQW49LAgU5+5p5kgV/hq
            kqEmc7PlDSTFqfaotG1+54w2nUqWPS7AexPPMDmmO8cjE63w+XXuOERgJe7v
            hFep8KKJ1zsnqOMa08TrzidNnuz+hrIR5agARcxnhVHOGed70xaC17LZk+yM
            NgBLuaiTxWOal3JT039wEvSmaTgadHtPPS7iQ1A08ZXnFOdd5U/R9YI9DJAr
            uxVphw2WsOIUt0zTaVzA3xYjloExATWadEbqu1OeP8J96XN2GeytJj+96dz9
            nfQHde3cl3zGGNHMwGS6SjAQUzSsK8fHHBb6qo9xNsbBiO7aMajDYM4n0p2A
            4d7OKYPchSYfbcPZwWQN1b/hyRN+FOJ69IsRkTUOxu15rBW9c6UzjvZ9515h
            DL1l+jeuC+MQEYDcPBDjF7U9PtZzulU/YBb5RFAPWNe2+nLPsiv/Wpb5jEr/
            6+9Oh8pusSgFo5bF51J4HPSF/b4Ow2dKnfHayxabgHF1STNPnkGJdenvJ7q4
            Hm+cIjvtHbbX3ThK+xX0NwOQliBfYsnTvcUYfsUA5viZ+1Kx0S2iOnP99XtO
            /ca9R7N31M/e541xfhVWIzFOTB2Kdb1pkjtX7p1rGkBEOqK+87qUTUf1nXNa
            KRVlu7FpmtNomLn7hTlcPv/19zjpE/LOd37Ha7B4kiAJ09snWHGoGJ7cdG9d
            MkeLic2dVAFU6Kca4tYPgzJWPa0yx4Js9JX+S2F2QZvXTasTPzj59hqup12C
            fPGTxTq8dcYbBhJaNz2b8us22qsqV4cjreVAN5fTbDbIkdA6XLwPafAlfbwT
            LSK/ouEUQ8DyYwrWvvyOty0A+9QkFTL7VilfwkPewBgoyV/bHv4SXid56m87
            mljy3DrKJkPEkuJYdx5x5hjKlE89Y0numGCk547rzkEvnXnKu0+gtceT5mo7
            5/SL7ku2127arhwmc2LOkw9aK37SWpE8TmKOaeNRgtF8p2xhXasWcya8dOX0
            237FbgHlmiXjwY6999UpWf7Wl3ga7yfRLei/+qv4h1xP5ccFvyr7iRYY1/SO
            QSUtsvkb5J0Xnv66N807n2OPFodLMEtMquX8JECPim1hNsQ4y+fa9tbyjaHe
            6KZZq/FJHfPWpCsX/5/8nqN5Gr3J30GxNFuVXDRbPhlarJA/i2aXn7nmawnv
            nJtOcvf3tG3T3J31RbdLvp537K9bNEJYytifvrcbpxH5ca3WeZYPGh3fXsd7
            fmT/d9i6p2L3p/I7GHzTlhm0eQbNx3OeDf/ueA+KH8G+4jz320Z9zV/bHLQ3
            iYxgj2lI5mcsuwbQQH3jkMG8Q4r1GlN4xLinDV+T0UkW/KX/ywsXpTfcdDvn
            OukbHKf1oideOOuNPywO7jgt8tDm4+IdNw6jKm++9Dz61n/vXFmHwWDmkATe
            TTU+zif2MaPDmA35znlYKJ8j0q00hyg+3jHzND/gwhlhxfapWHWT+TGpxmHx
            uyW3YqICqicU16ZV2bh8xiAkXz13ftB9f+aLyJhx/y7F/OvyGzE5Zd1xALty
            bizlib88pSvhjlHIc2tsdTNbxB2nlLEK5Tpwx8fDkNuweKS0f/cxEvtbHFej
            O30NadaVJjPK4XdUnPLuO2gMvJFu6Nz+0/Rs60+dFWOx+6iUUD/WCZ4k/FRn
            nL+vc0kPBjx2r1+I1yvmCyWSio3D80T0FRkQxinGKq+U8QVgvKHYRhcJ8vs3
            y9EkDfPRFnXPqdFsueq92daRXqgpSC+t37QWQvuAr402l01qEfpSUn6dFkM3
            N5YDZeIZcwfE36Kd2nw+b0SeijlXJRiQaw/muyXm7IoH/VIxcaPtXPGX+SvT
            84L2tifz6B7F/AGZ3+t49O2ivwIFFF17MJwMcmP39JyZyXJQsPwZnK7gdZza
            sDkdoQztu+wsX8ahSG24p3hfcfn8JdsowoOlYEuyxLccjYfiUNC8UteT3JCr
            tAErhE5TsRRp4b3jRNCmOC3SHxzzXcdZH+978toBhRGxH2VPpzhIR53Brmfo
            U2uq2PLyFgT9kqgqqczDeSguw9Gk9ovMk+XKCvQRX+QNPfBmZQw+2ngfNGIL
            8sVjGcZ+qKKdqK9qRKboF/MyKfc660C1tz/3uP3Z+cx4cFoJirbP/YxaC+Cu
            QdwMPrwxDB3LncH8B+r+TXTz8ullHBXRYbaWoLPkX471BaBYgSLfQ/HGepO9
            u8VTPNsZLQkaoVRSvLeo3HOkq8rW2ZEBYw5IrBj6cq6snJFez0FHgSg3G06C
            Tl0tNvlMzvJx50PyJPbrpJsd5b6MIL5lA4d0kLKJY1wRnalyLnfrCdd491+x
            o1trgqFdidhzNJqkMvZNEE8fldtk56R9jSH2xfOo+STteo+BtpHVWww85lzN
            zBtJCVdeye1xhT2uMuKSjg5vZiA97CSUATyMbpQun06Ml6p8kBlgQZWbYTAI
            K6CNrO+w04rWGHCedrOp27rhedNzwHvGinDnAgqNydGWhPallPkAV2FnN/IR
            f5rz17n2xCeFEZfUP/TZ6Yy0cucdq0p24GT37xVf1GO99vz3zj0+qJs+A1ME
            9m1Dmmh+9L5/rjMFAyAAlCgB870oA9V8R6xH13owhYGefe8H7G/FjxFsPZhS
            /Tzudqx95lmw+IiyS/GFkp0VGw04rF/U3/EcM1aMpwNDUH4/Oz+0RGmrsg1G
            0HfF9At3P3hGZCcAzipQKX9q3693n5jJ+33WgK+78Tilkcvm+WT+LvmVX35e
            4b1/g3/v30yafbzt8au0ZxZIQrgMEMMDKtZOkj1M2VQ2mmuaD86UJMXXxDzz
            VXS1xXcN5BUNv8mWLF1OAcpoWILfdW77FIptS5MNio2N4dVOtmq64EO4d+jc
            cbxx4410rZEYOdV8qfLsLx+9vp9jA9PsmXblWfFhi+JrJOJigl7Fp2X+ekcM
            AJzSrH62CVq0yz8fdIzmTjHi7xiqGNsZqcf1/lzSfaBhr3v6DJBJLWg7Pfbo
            417nYrcjmF5E37moGKbYZ9eJuYph216KVmnb5pLQfHu+5a1DGE89+H22qDL5
            Ol/t7uc4mM/AfnOMnMJZaAtyMmOJ7YBOgU3s9MlkDikgC0xwX7gm+5Y5lWRn
            oLXBO9OTduNpFjUrUfqbw+8YVHye2rXiXkcsjPL1grhZL9jb3rD33Hm86Bs+
            uvmaSe92gG6v9DqQ/8XiXjmz4SyGnDrph/mon7ZSv9Qf1qvOpHinmMJzAWka
            352Mdn6tUz95vh73jMl+Pu4zYYrNAzlJjrVenAP1Q2e5oq+tvc5vTZTp8X0x
            mHuCXtP5Z3xV1KV9rqgqw03y98yBXkuY/fa1uBTWCpBN1hoMEBH6SmxjFiFR
            +dAxZwp4TPk6sR0Xrp5M3yyenO/r9X6fFcElDmHkIbjSmHMbGOakHxxt590a
            YTD2PZmLc9aaz6qAgopk6s0OHlRjphsKcThIskB7uUCn+eUK6W0aggYaO6ju
            znOmeFudZBDxTW/a6TT5eKyni7+up2IXNIMfYSlUQLf4Fx2Q1/SMLpGGjYzk
            Jb0FfXquonYq93Ku5HHM11COgJI7bb+SU7Jb1J/8c7/zkHKdcL4nYzvLEOgF
            W0BM03IE1I5z6q9ig/A5dWY3PBO8SRftTPQsbPyF/dLIpz/LYaFapgg1ruOG
            7dtObPEYyf90w1/lPg+LiWq9zlxrgp3npByQ47J9F+v3vmO2B08Da1Lssvm4
            4/5J7rX3YZlnvs+QYHmXoVii3eCzvQUGueCEas72s4KzkfF9Ksx7Ged46xcK
            cyqUGKc5aVj+p3WY9oBGboIrjDF8BcHtANo/bhkUeT/yun7nF2FbI6v/kfmM
            KAfFRFXL0UVKy5O6Djl9zRvOUa7m86eEk2bzE9kWaDvqYRWnnPZDyu3uFnPz
            Tu1X+TvaGnrZzO513c+AF7WGom2YJ6xZfi3GnI0bdkTMWQImjNR7fL2rXlHZ
            X74j+J14LzY5bXsO5joH88BcnebFU9Iz7mBzf/0NjLjy1idG2go12RQOopSI
            NaBdLe0u5iRPCD4AvM/pLNf9yZiol/Je+mZ6gFHA25VLMZJn7DiHyjcJWDQp
            lzT/MuoLmp5JcQz+iBzqWEM2G1HxLl56poPieOYxtFiwbWTRFu7auRZpU7Pv
            51HuWMDSZbmHPKdjj5D26wCGt9xHMvEq33SFmt5zqXgpO6b6wfeN+GrLtS2l
            lOkhhslEutWbBqE4cFZiTgWZwUYZlcjOLFqgi0Dl593ueareSpmVOdO8ZUxR
            djBvvYACfSt/A502PM0biXeZFw51yFLXqZ4tv2m7fr5fpnuUzLBL8iX710W9
            G6MCmD7RZASej+gr1OTVq9hFN93RyKTkt+/HTYccW/6PDbueeWgAfi3uczQ6
            ZhwWbwP0QH7SNUqrKRuJQG+/FhXvwmwyxisv4fCci3ZZlInbF7xhBtrWrd12
            COWyWM604KEeX6lpD6qHt608aa9wvnJ0cC4rI5nYmQPHEwl4B0VCOD5kLhib
            t5L35fzfMXvYTqrMFVgYv9GFbZ8W+C1hgLICc1t6NyzvE3NHMYMUThXQemHc
            /XyA/3jpM4C43L0/cvvcHy/dVyf+eOuzGC2dMWhuHZ+jlrKZHR1lm6JpFYMA
            V+BI6h/72rl1mugxyzmZzffEdJZvva10l8zLW++8J9H0X9q0W6eVlj9dGY64
            TnGl7P25TH5rdP9QXa3mT90j5dN1ANszri4A4/aZJU0SAgjhuH1TcX4Uz4K2
            XHx2WD6xHd/Q3Tb2clQhPKmS/1raWcr5aElFN6k5nOUXqRYueecdU673SzSY
            7LB7tFyPdJ4iPM3zancbc8t3QUePDx3YtuNxx21LZHt+HeYHdZ+le+8zhpfO
            AOP8HslS37lYp+Ubr3dMpuh3njraau7f1XzGzLbP2drG7ftkNp32m7rvY8dP
            nsxFYLRSYj3sDp4pZtiUWPZKlX4tQ7YeQfl+d166k75+HNPY8tppe5JyDbry
            c16CbBuSTDY558zjNZiG5s4/sxT7vVHYJaOvaPEiBMaC5G40gajy+UmmYyFP
            clzeTPe89ruFRw8oG7begnoMxjtYZpssmTXp6Sh9lM59r28/jHu9KbNheLvh
            3zoCEuN3Xk3h7ePtn8xzWdIYnYRTkh66mXM4PaAs3wPOXNPvFXCWGU9A+WpU
            DyFdZ+yEw2IivHUIwJukwevozJFD/4iXz7O81TB/SXD7NZf9SkyhviSKlAwZ
            a7rl9TzLdV6a5/jDO+yNdusI5H6kXEi2JqTdnmUBh5rCTTGCzON5OswXiHRz
            6G9dlfOMZW52Ds0TqlvfT8xVyYoP0O4cPDcMEIaL9PtgQk/bX83k48zjfTH3
            GpPUXcxPxtBhU5QgY4ScmfbkKKeKO+Ej4D0zVWGXd3m60v/5okCKOVqFs1me
            IF9x+9uozJ3rJjMLP2DPsWlewpxqed62Pb17+j8xropycDero853Hcz/8KrD
            /b6O3K2OLp+pJM7jtfZThH4+bj+MOy9tki6IwOeczWwFwp7XbVMmP4+TIIry
            H2zIG6Yzn/GBdpiHCWfIucxY12d55Y7bOhrZKnUa9jz80b7okt/RH87i7/1C
            t4Tj93SJ4lz+QJfgbH/QJf+ELuB80m8UA2OoKPpCM7eD/Gur5C6KqUMfhhU6
            8zsnHx8+icxNwT4cm3rmeha345MvrF+2d9zb8TI+7TuvlHy43KgS3dMkgbYx
            rjDXmpaOe37n3H778T3ylChvL+Ov+DH7pI4wUQv8yiF8909wdplcSiFvvOyS
            rD2da5/pN+qmgsDJ7gtzCaJ60S80yf5r2jcumv+aTBUAYdzxvlc+903P8t2d
            ky1+5TS76arZr3nnHmIs7ZHe42bcR7AR7pVjLV/CB6o5vfNaK3gkbXNmktnJ
            jgMRaO/B3CuMdbRzmTH+dZCtmNv+ZMqi2s5eLmZWpG4kMzo8XcZk32G+eTXI
            1vTOVcN0GEAKdfmlmJqkIOQbRVtazhXO5851DK61BRsD4xtWunoGprHGGUyC
            NUzglhm/SjQXFVW80kQBVB7tvu/8TowhSZl3mKO9+yILKNkMgWnprLO7qzP2
            pNkZgCRMij0yLNMj7RcYbSWTPhp1x2cyux35ecUOeHBlgz+MYTbMLgUnH2dl
            ols3XgcPU5jLhHb/00Je0GcIxF6wwHfXNgSSrZrdt32fjMdjWhndA0c3wjnP
            fDtmE10a8zmlsJ5nbmHe5vYZZHCXrcPLwewJDsWAwVxNxfccH7aerH8Ms7G0
            uuMdP4ZRCpQcNJvem3kPdB/NlpuueGGYD6/be060HG0JovnCt+07z5gkzFk8
            ZS1pNkLxledo04yYu8urjaw4KNFydnLMFLL5PWY/4swpV/IA9Ntm3DLmkaEt
            TKCtSLosMwxtzQvzXRXRRbQ8aztHgXKYolCeO7dAvNAAbRJzvc8lPWsUO2ff
            R+rxeZj3M9nrg85iPEiTK1oe0kg9yc1XNOo6QN5UexfW1RXUZLenqKV8XuTH
            7f5V++aFRFtY2bmFuw9z38sOXZHkMXOcX46175xfh8X3bceL7reYHnfuYGe5
            4dnXe6/RepR+bgAQFndg218wypz2frHnt+H/Wig9LOqGvHzJuFtO5m3CcOh7
            n+y2JrsP+77v+7br+8f/Bv2jjn/7n6dL1xDv9y+/n+Sy3fueTO/zPU9dNv+v
            zZnv73b0yFdOk/mq8LP703j57+8fHbD3r/a/xjHl4r2HMGwHpFF+LBut7P38
            +z1QS+GcMNAt/yJtMkJ8lTqrjfVe0q/PiaM0V6PHH+cq77mcR/rx/fhD+/h5
            BsWFd/Xn+m2uUvp5fGG3f1qosF++X9Pqv1z98X25XP5X/bv3inc/75U//fvT
            XmN6wH/1noJVrwioKZMYtbL3asXPta6KcvTbAn8aK1dA+3L9PNdu77XjN3ut
            3efmN/u6H394H//wvv7h/R/ar3/Yi/daufYfX+v6u7X+eX370A4off2Pr/X1
            X1vr//RchmT1v+BICIxw8rq+xhms3Hf5M1ie5e9/d/l2BYqagKPsuvaVQeP5
            /nROcbBHC43PI80/qMTf17yvpdi1un1/2fdgdJO+v+x7ei8pe1Cx59/9nelQ
            rEG075/P7/7SJyHVJPkNmxJNN+zq931cdgWDVpUTnUnRqaPf71ezK83JhPeT
            va/J7u858QV4P/2wv689pj0nZFCefX3jjOOFKLV2zP27t9V1/fX/AA9HEjE= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
