<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0b05.181d</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0b05.181d</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0b05_181d</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0b05_181d_v4228</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>6173</integer>
        <key>idVendor</key>
        <integer>2821</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0b05_181d_v4228</key>
          <data>
            eNrsvdmS7bqxLfauryF6QG/o+P+f5DFGArNmrb0lHTkcJ+zw3UslTpIgCAKJ
            7Jt/Pv7hf/F5vFvtH/+s5dWFxz35eXaPsfjon+j6dGnjypuDSzX0+PMrlMen
            fP7K+avnr52/fv7G+Zvnb52/ff5e+8PL7c+dP3/+wvmL5y+dv3z+yvmr56/x
            z1f3Pv1d/M73/IefeEELBf/ffYoRvT79eTgD3j2//kv9H/98x4t7mCrnEv7f
            51lSTiXmN7/4/+qflFKI3j954VrE3YmRPa0+7C3ga3l0xfO9T8BfeSqvtPCg
            nY/3bU0tOlpM3Hcxo3eO3HGtJkb46mnPf7kH9rbwkjPmcXrp5xj9+YZzrPct
            54hV5Pr7co7z9LPOfX+eC+dYJsfyWCuPbtAhxmf3g7WZ+tErJvb5mXF9N0cQ
            H5e1Eqfn81Sd9y0v7718Cb7KldP77We0UflvRoc7L55ib/5O3+n9s4TVzj/f
            29i0cvlfrbMPAdCR5hlNqS6WF7D69K7Z6liPZ3pBgKuf17j4C0S8iw77Y3i9
            SK26/7nturcvduiychU5Ls43JwDfEN/6JABlfgkX/+l+n+itR/d6+8L6HICw
            revORNgQXXW6n88C3HbnsU+7+3Cs8ac/nCeC523H85p++sN5/cCUPVTx3+d5
            /F87c6/nee6aBhjxn85904D0Xp6HJoiIM06dY8H1vpl13kMPBi/VzkfX/T67
            zkcYuj/xn87xH8/33HY+xzxQpvGMNQTsb3w1nrHH1nl9NZ53vzoXBPiyPvcC
            Vubcu+c1h1c7+3EbEALM9UTs/Aethpalt/i+eX7/+tzn2/vbMa332AVlvyHt
            j3NiPeygMDXnhLAq+PFVDR3gEtg7s69kuOxAySjVB+4njTg93AVzelvvvkMd
            HUgk2b57yg7cg6P1OvNLDCSsVv3sglP0j2HM1PPGDCV0Ev/8C+uvf8CQf/lr
            5a9/s/317x1//QO6e/nnYtSfj0l/G6vz5x/x3Z9/gLi//JVtf3MIAgLx0b3G
            v+7++jf3X//+1dgwd872E9ehAUZfLL7+P+r/q/5f13/aTV2durrUeqn1qr/a
            BSE6TI3u/dEHwDRh/etT3hdfBXgcenrE3+0wC4CU9Oj/o/6/6v91/as/3cv2
            /2qR1aI8t10QDQTkT0KVa59/5f57QYljeUZ1wtk517/+c+/n37r/7nPt3zzn
            y+dfuv/0XH7W57ny13/h/JecICCWQKoV3P2HPvx/7GN9/rX7T8+l5/13z8X0
            +efvv/tc/zfPEbP83d/Zsf7/Dzv2//ld6qYgIOX9f3bs/xd27P/zu7RFQUDO
            7flf2rEjrCWqn//ft0sPH/Df7QT/DeH/Dcz+K1gEFBdyg/bvB9Z+X/+BJVzP
            ddx/P6CC6+nr+gcWcD3+XPevIKBQqvhZa+6knzb/YS39/1nLf7eWf4c3fl//
            vZZ/t++5ln+3r7mWf7dXuX7/eS8+5MqfsAQBFXMGBtn5j6DXJQpVN48YaxKl
            GHGqUySfk1uGZG+SbpJ2IJSwfT3yk8no7kuE1/V8hLnnv/jvf0US6Ge41lv6
            nol0rx4JXzLOUyATSb1gZ1gnnVWbLyJKHQkm41u0/LRxuWKkfJNbPwqK3208
            kG86CgyHj/i7NiFBAFU/0zssS/7VRqPDLNSv0cUVh0bXTSPUqCeY8QVVGPsj
            Af+0T6XWl/1QqwQU0o565LtNds/W9YltGU6bGvH+nzZlzFw4yaOhjTd51cdf
            /dQVc1eb/j7r9lMBdT9t2oj27ATo1jw0uzP+atPjV5u1zpg5QT9tBmTocds8
            1X6v51eb2WK0MU+MeVufgMDvMeNXGnfMmEP143/PzyYy0r4AqkpnPGO3oYXX
            Kr27TZ3ZE8AVtq80E9uk/XBnS0/U7sLPO9xTJ6g7IKFgnVK3eYm/5tc5tJGm
            rmQyg81wQE+4Mt4D+t/t/artuX3Ox/pMv77NBT/11NPRhdv2bfl3GzIO/rbx
            1fop9VebtIHHbxsgeVv7/OuLp/vaZy6/cSfuy0bl12PQ2373Wlzs+gKgaLf3
            6KYlaelnrqlb6p+v7AcS8nTlq5/WuWs4Ogzynfau/nu2OsRra4PZHc7eNbxr
            X20GEEcn+xQWFWl3lVz/ajP3LNrHE2v/TOsHGPlrN7m1Y813N73R2gB651eb
            7Wc16OXqnR03fsHQa7LAECLa/gv2Hfj74DXrG7MSDD5c919f7PF/+9UbsALZ
            H7j+tQLexSrwVJvQLuz/auN3nEszh734npECfX/NnA/76eW2Acu9zr7/7gdr
            dPRm+OKcbNdU779mxQOf9abVxrjygYhU/Rf+8HlQ88s2SStwxvPrXaBLpx+0
            2c7etfyvNsBnP+9aZ5XIgny1aSmed6FNSwZ9GPN3m04FsCB9a/8I+tbvbx+z
            AmJPm1ptzOv3mCcWPWktsJxN/eQkCJjR9Iu/+1zvzOIWchPUD9MT/mqzZ01b
            bTq374FWqs9/2ryeOusL9cHaxA7O8NMmPJm4lm2GMN6lD1/9BIA3kT6JGA8G
            kzOGr7ULAnq1Ac52fVwN/dd8hjCMVwQGxNp5a1PmrzZxz7jVxvBaP3j9ezzk
            dtWm4zRum59OnfBPmwwa4tXPVJt6MPl3P4Vs8u0HCEh7ZHdKep82NdNKRejO
            2Bdu/Q03EFqeKxOWGnXt2f8N5xF6ikuckO6jn5AFAesP3uG2H7gxBZ+Yq9Bt
            XeKMX9gxzDSnVOwFU7iP7jn8nqu1ptlPMtH80V8H6st/2gCWVtRckY+Y43BT
            v/p539qH+sES9gOT6VcbsNnUo7MfwK1L1k/v8QvLgpGc6IdtkjDxPHzudz/g
            WIftu0jLmX1Xyb/a4ItruLAUDm3PO32tXQQgVX/btHj3SPr69pjWk5fmsP3g
            ivJrDmN21AOxH+CKkQ8+ud8ujD5y+sKasWCqxIFG9LrPbNXfvdYU/vHP1N5N
            ZVSI4CqaqU6wTwRBbf9qD/kmGkSMH4zV/a82HWDYbz9vvtxF+l6BUabTSs4K
            4ajbzBUM9Ic2R8i8mAOqjBZNqtbPmtaP2S0K+NgfGzBQB7gaMDlj1S+mPSSt
            Iy2+PJaU3Ocm99rI8fs8JrwhkOhmcRg5RaONActEq+Z5PhTuHXBE9a+Sy2Xq
            dzL6U+exSjpboXbkoFa8KHv700aCnfT4vwpE6ruWmuPz2xz6/IvzP6ypf/nP
            /Yd//9v/ub8/Xmz2Px3QJDEKztfkSgSBztkBjsGPFB9i9lhAXzpkVvzrEGXH
            xDq9YHmJfLS4jfq24JYPvudA5IuzkHYPqY2QYw5l97IFAcugodbAjY7boUUf
            gJ6Ab0HwFrYSjhPnE9fXyGF5SMwtgX5gj1AanJBdAwgD6AU4OoiUFHUn4C5D
            DNzRD9KRGkMaER0D7+AvgthwO26PmyumkiMAHzQ+xhxbzHXHvBzwRogA+VjA
            bJQFOotzTEusQLcQCYCD0U0AW1xqbMPFtlts5FRTAXMCJmb62CGSdAxiYCyj
            uThmiONNcQBJzoQ/AOTENpo7xYn+FzDsAou+2oxr1khdKdijiKfjxjh3x+9J
            JwwM3634YsRv3vFtOA4c0Q/YVmw/kNnU0lNeSPIQVWZP2MdgYwJmFF+RZnJg
            oByWxc2cHCbV4TkwlQnic5LatYXkR0p+5eTfkrwrCQuaQsJfwV/DHzBnWClh
            GhKXGWudMJEpApdjksClYfJmSfgAUBsHBLDRGANyhgMWsRH6SyWkVF8gELwQ
            7dPGOT4muZZyiJipN+XcU6743fB74PoCftoLOKqk4tEL+tXo8gS7ii7bTmXg
            HghE2TUVWrDRX6X7CoSZmnFEQ0hrqfaSwNmlim+t6BNrm5rrCdCcsNKYyZ0A
            MgnsX2od19Bvmyu17UEDcB8Iq/uQOuYWq5MA+qmjb8BB6mjfMU+A69TXmzrm
            qj81DTfTQP9gqxJ6TQPjBulIowEcO+6PAWZ8p4F3AGYgL9cE3J8m1ggQjhWM
            aeaC6eoJGD9NzMscuD5DAkeTJr55Qk6dWNeFeV/A7wu7YuE53E4LawhRNa3W
            08K8r7HSwvsWxgi6gd0pz59//187qGWfI2Qyw7DhX+Clz3Xa1ABR+21/Ils3
            f+Ourz6CcaWCnfd/H8n+n//+3/FfA/ftsPE/Tk//M63oA54HIqE3XeJ7zgjj
            Ie9ztuSr5c7ZNM8tnIHR/5YMSjwtimllzllW+3vGnVA+LSk9xJLPWTBO9ZwJ
            lMsdg/iXss6ZIJ/3ILeDhnEbUPVAzvR9I1g/uXpBfgMmct2BwiX68eDtEDf4
            GzSi63eM1dE7DiOM/g1UEQOrT0dnE4jBZb5lRvQJWob+QEFBDUHvqFDC76o+
            zvGhqni9VfcppzqKE/TjWVSM03vLsEKURRF0511hgV42jdXhd+U55666t3py
            vVN91UD/HxNJMDOlkn4DHbnQeb9UrQRksE7jAMbrca3U4UKJFPkrKTKdh/i7
            4rdz9nvadcffkOPwdW4GfE8tb3n7C3YG4zvfC57i+7fuSZ0QOCdUIo3ls3ho
            fiGYbfAIgXgJP6hvwbAmP11zmXVOTyDwG9W/4A/A84BPpujtHObK79jm81ZM
            KH93tGtO0GnXgfD5bMMznke1rXZNv7GKftpvELrP78rnhv2WVx3gxVOm07zg
            vd3u4aNcsU95VvVD7megKeSxQeB1xMsFmh1U1FSwr7T8kCxMy4b94qV/sPv+
            seOaWe5zsVs/gOPujzGM5+DCpj/WD1oYsNrmvDhb5c6gDMCd1cj10xa/TMuI
            OdF4ZjIN5zzjm+ORpJPABOg9y85HPc8H6xcdmkSETcFjjno9ZAzrvwUvXQtY
            GX0f4EvjBxWVziPhP7VLbfHFED8TIAIbMS9pfPlMMx0Z7QaU/wr1h9i/jnDx
            Ar7eSKWkkzK4BgCWLykDFmn29eiae4PIAq90tCgAUvEbjBn42HsvS9WNvQzY
            H7nRzEdPj+nBNaCFD1x7qiVBWaOvG5zTS11gPeuKrcvvToBnyI10S8Ocbci+
            gIcS88TuwmTLLRdgsgHiEKNesB74hoKdG1bYVDNh+vW/vIVLIBIssoIT+IHj
            c2SYEnAGNf8QMVwFl73BWTpwgdi/ED4gq29agLBBClrEXHB/A89s4gHn6XnX
            OREd++Lp2N8e0AK5eROPQA7o03BAa7jO/UUc5DGiM75At1r0G9ZbXH/xGs51
            xWzsSm1FA57FKmQix0I8i2cpFxBK0AyMIdvThSb24eT7J9fO7s55OueA9sXz
            Yi7VmMPetvDqk/NbCiSRTSNNLtLLOtAMvCkTd+i96fPOSIJQE9/76NkewOrj
            RkuGL6lshPwj3AhcGGho29X6fYGTQAlyqz/9clcErI+n5ZY0qhFAASdNhiTI
            JKADmwgrZs4L8ILalzA2+wzjH//EZ2YCXdhnrIQP9DGBUwGFWX08ws1DxmGI
            Nrye3rcscPYOcAggI7xQLjc7EZ7fzs2CfUH4QR+yYuIJrCKu49rbQN82r7yQ
            i4bg543v4v0XfYMJfvODsc63sc8sXb151gqmabjCegJ266JWFivVuE6YvrnB
            sedNC6Z3mJOCPQqUMRxoBrAodlAxOMFLIKPVaAZtoBXCOPYY1cEQUejIjr1L
            OgNAwjlgd1C36Gh7NdirHSJboVIP6EFwQ2vgLqRk+ua5KFHKmgpcEAKRHr7V
            Z+oobV/od6d4+5ZQsIewY7AXCe+ij6AtnGNX+W4Rny2bNb9DNgbss02Uh3Vp
            6APLBdnA9o+XfY8oXEc6OffnfJN9K1U9Ng7gpPrnd3IQ/E66z3x/ky+2v6WX
            XrR/uhGNbtNgJNpKKRw0swr+5VDOfe5oOOrvWLOg383JB266vyHTAzdhbh/7
            ljXfKX4B3wdekYrvwr3yP/quav0Czb+cu0BzdNiFfqBAZJW0iHtpEH4cEYCP
            M7zUAGJjgSWbEINBg97pIY4t56rvVFP2jSNheeK4liNf9E70DzGLsAup6w1k
            R7FVgBNLw/pi9wF3j8G2EZKml0XbE4tT1Tqwd8FLob+4sIcwPwX9Av9TeiZa
            5W/X3uXmpnIHMifgKKH9JsFbEzDSHfXZL3oGPuY4wKth4oFRi4238K3O7s2J
            TpuNtw78zvZbL6NaBvyE84f/lCEScym7k+2eAq4bmKLOwyMR9dC0yLbkP0Af
            6wkoEO8QgLF1jOd46aqz83dmawfmkxER+KLDW9g5KIIzdeB2pAW43/yXnrBP
            d54H5Z5Xc/gS32Jux6ULwTw40CZb5ENohss55gDc/VJvuz90EwzVIMMzsOG7
            wbkPlUJEIjbG9dKxt3sTbwkMNwAtT2lNuipQDsJfpBoY5PX+BnjUAWzf+luP
            pwQ5+iynBzTdsmeNwHa9NvJ276gSkyXOPwvvxmyEhQVo1ofDmoGq15myKw3Q
            s/Hdgcx4rwHQ5IfO7Tfxse756vdqod5+En0BSGB3oEUTH0jyif3+jJhBtAlo
            dl67tefY6YwE4ExzgE+lDIT9r99gMs6c3Xv+6x4oPvD7Aq7K5IsBPWbKpzXs
            4Bb/2PN00gFuHnyn+/TPUB7Ma+W8vtSH/6yzeShFg7EF7G2+LcfT5/Cb7nj+
            cNPpHLydI06Z5I1zI05MhB8z45knjuM+wjo70FAej10kAac4f7xmcjwxNQAr
            yFGJ/FU32c72T8Q+s/bEhljMTUecwoCYyrnEcJy1u+0fwDW2a/eHn4lvJB/0
            CK9N2U9Jp+uBoUwPUJ+o9K1Utzneb5gzHnMFOuQ/0PZVJdC0+BkzEBblqErE
            AHidLznUSpMO20/asepovIdBdx4x/41jSXguAbN74mf6STnGGsle5ziHbYOP
            JNw2yaeA3gE50sYxMhcc57SJcVlAh8Bb5zT4MHAP+h6EUUd8hqG1d2DPTSDk
            TTAT3gRs49/LPQQMTFevH75ngLZiFzXgLXpD4UHNo6cswFA3zWOS7VCKr/ON
            eQN3P1V8LdeJ86l5OXPpMJf+sW+oZy7d/j2XHdfdsjaFXlrom+8J5KiM1le2
            y8AdPAJBz8i5zEL8mlfsOs1rrl/zCvxi/VAipAWJPkqMktvcz8WJ9wPNJa/r
            7ds+7wQ909gC+7VvxZ5ad34DUM5n7jivxwfiyowFRPp776CZrr8H77/TjnM6
            3d/T9uBSDAZ4rSM/VbKV0eg03VRwDkIG5HdoN2SPnahfaIxKimA7ViB+i137
            MaFpA6/SGDSDVYRoh01C5+rl8c3LQVDb7CtgZ7E/7Omt/YgvPnstBDRiUEgK
            sYFWm2kKkE2FTParJ3Bw4C2JMDEMal7XogunIy/DfjqnYlH/Qu29j5T5sbPt
            GbD+dn/ofh/exuu46wA6C6y2xtFdieZk+ALXNTe8qwFjhwCE8YHuv7TXQMSw
            5ynnii/sDvwVBTm8eAby0Yuzj+1B/nqAM6E/znnm4DDqZfymYiv0pnlJNHl2
            myPyL8DjfQnHPuwaUhzoAeOnXvIlg9GKul/puEb5iAJ5F78PnFm5FvITobML
            ZLm7RoZlIWvQSYWyXrE5AI3DfJsOWdee1ckXAsNBPKHnEB0uAfz0ixMnsOml
            IO4mc92X9hYZ7SCfi7VoS6Zbw2jypaPPLC6m3i5sAaRf17bNAWGL14iISado
            dAmi+02ehbklvYO80hTvBpq+luhTSoUBRcLhFMSShRCy/cBqcA2pWmNfuk5e
            m3OWunBIS3qn2oN6vRS13uPjU7LtszarjsXbeXnO0dkx73N8z3Ge47Ij7cLk
            l803k76D7xKtxP+8POGexcAF8T2bSgpqdajXM/4PBJlYFu8THt5g0sFleXC9
            K6SptYPYrnDMVuSfAcxqeHiEDfkT9wedGcATD8qPoDiLNjrPP3oIYI9intgP
            sBvk7DHAE02qbkAJtIMOHD4jMJb31eggq/M31hwwGSDetdfJvgCyQXmO+Cy2
            mEwRBN6N887wQ39+02Wq6tvsHGK34JrxqptKGW/wXc/1eM7bgft89gG1A4Qr
            L5ow2Se3vvg2/7xUMPGbITyMKBcdOmBxQraC0egbSTsm1ouxoh5SL6Y9eswv
            kMAmu5mFt81jFtgD8kgGTapcFchj7Nv/0bf/a7+cv9uvW/vIlg81AeB7qXD6
            6QPMK4GnDoaIkr/0fzvOQJzI/uL4GUvN5KT+/fuF6zBO8sGBHhWvm9gvXE+v
            9fSF/HRluCjd5kfG2IKcmCOJ5YVf8l7ggbaiVhckSIOTMP0rb0sQiVdwEl4n
            HOYAL47wIl+bGrKWSLxn5ReDx666To9p7yagIkIWbY16E9OtuqMTnbNsf7T8
            2EN7xi+dGz67ujLE32cHmkOHeiqSsLMom0ucpewKTsgbz0BcxVW1/UQMCdz9
            2D3geYEl6T6QI924RAfvb+cZkKRvv98p2JLsRu2LCZKedOhzDfiGfEF2VFEN
            X7ubPUTyadybHh/DcO9OukwZUW2px+qixdTb+TIZAWX7XS7LbCPdWRmpCQdi
            GehTb3PMPsDX6X0gc6RNlY554HnIt1K46aB9WAQc77pwbM5t0UqgKqLoUe03
            8Tnel6g66XQ7hHgMgQL0E3M2pEP0lK8xZqxB5t4tWOPEnXz68KQ1WWojzBfe
            LdrM669dv2PEfikc36RuGXsFB8d1xA43q8ErPom8Yre5su/EeBt5LiDoTn0I
            5ygBYCFfeplni13X3FCTietlEKVJr+FJ90uKQ/cBefT5b1200+ua4TSAygqk
            kbd/0bJJ/AEwps4WfHw9fYgXII+EfVtPH1d/Ko/7iP0mhw4geY6D3kNsT1sT
            dTgZl3GUbur0vTfEIq2/N1jhupo8MtUf48071hZgCIS/XPh8ewYTEwgnQ2aL
            1+Ivzr2RB3gx+m8uLCEtC3jnsDXCpGWgm0R8Uxu+Bdd3W0RBdz8YzE1x6sF1
            enm4yWfiIBUBjcCRuifymZigOClrTHqVvU6iDwT91WSrAfko3dYen+/e5wTC
            RPK2kXwd7d+CCcLBlk+/4/uFAwCbjz2zgGMASJnwo25cFM7itTAPP5QpW2JT
            FPEIaCyds+SHVMyxnzwXOnilk0/G40EMcMFTIC2xzg3+7h//nJvy8tEfAyPR
            hnXlVMf90On3wv2RxRuTxnCdLq7AeIQrUjY6rz0awI9iLhKQE2h1Fz1zOnfE
            pWCR1ll/c5QnDNDtvBGmBmmFhREs2iLcnPQZp44RcEw7hT+8WoEsBPlWSTKm
            4ON3XxPzSu8kpZwAPIJvmoAaD1jxYH7alZXTeD54CXSnf3DPwTmGZ0QDqsng
            Y32PazuN6+ODnY4e69IB4CJCxUM1prdgnOfb1pbpjCP+7By7HdexWS3QkRid
            ebjKugWGzrIdQD51UzhWcV44b+c8koYU6Y4Y5TodcCgTCfDDzm8jWQV4LzJt
            gTI70I46RQvJRO5etWb5Yz/E7jUsEQ/vOA2uo+lSzaP++cc/ewQKjL9tTY9S
            t7yMLWD7EiiTRPP27QlUDQSF64o1xRLsLrddSsiN0cwMFgN5fyV7U14Fjzxa
            KL/ltl5IS5k2Rjal6kEX2QcQieQYhtXK3nufaUY3SMdwXMTH/v3dJ93+AR/P
            7ZN6335+f3TxQFu0Va9qfF+VMRB7V+flg0O9yTePtaOB4bYhudhF7yCse+pH
            /AbOgsgOFgN7tVTnR/3Zq5zLZup4jYn78M4tZn0Il1P0V7YVf4LaQF6d0YzK
            tDAY90OMAvG1yuGhkH5j0TNlXdCNrNETJiZhLDD1BwRps9lJj0Ok8z4YI+7t
            bfiBrveb6jD0uR31MflX3wAg4Fzru1/b89HB9XyORzcX3bc/Kxap/uOfGF16
            v+YC8D04H8piwnGBFgAzztrKrMYftLwM9xF/F7o7AH+DDWsmk5A4lWv3SeKb
            5e25ezTJzedEyQqySKFr6tB8M3OIP7qbotQpQ7gRLGme4MOq2iThmbIT86sA
            nb+0rYAk5Hn1KbwGVnbQOyXVluVscr7N8Jrk+YjxA5uWIOYEf11aF+y9Ahrn
            JDK6yTAqZ6l2nnOPjnRoC7xSiBQoIWgcbr1UHFalw8F5SLQ/ltnP+wRDZT33
            m/J857UdEkPyGri1SZ+JKs/Ppgi0s++dxu9IL9BuY78n2XBqMcDFlJ15FD4U
            /zh17uyc8jTfh02A+QHPqGcLcGuURj7vxQgicuV5dUakjobBN+Jz0izhMnC3
            2stgYW/f1Ger/7nWr/dVex/7m0f/iPmARHjWuJO4DPqCZn7TBnaKy3jg+w3o
            kwaAlvAM5R62feebAG3NHz6szKI5ffebFv5/911uH5wv9uOAu8j3Qw7o4vU9
            +X1KO+c7hNoB9lju7qnlKkM4CTij0+7mwQ96CLsO/BLEuHqeofwLyqNnbCyU
            XOwbyM7xiJuM23ghZZN4VRBF76PZG9meyk/FS+TlfsYdgaXiapyuw0fKLu5N
            z92KyS/UAwfJLrZXOAcNUhsm2GScaV6HtGkK31J+PHMonAd6RXsAdRCGV6Pb
            6ANitMmq3tZh95/xLuDQg4PBFQlOLebus8cK5Zskb5Rw8Dp1aWs5KpyrdOGg
            vfms26TzLX1k8Jt2tWX2xASWhlob6i84P5CDiMcXOEXgwTrus4wzFYwChiIj
            sB3oasL+a/SHAClsbleDpXqfSZrnY0/Ln2N9lKTtzY2q0mTXLy+4MMclGk/H
            Novh34SRcebUvwn0h/HAto7F1kfzxiRsZ9/TZmbfd/ruz6V7FjdDvJ/273vu
            3AM/uAEo5JlwTDTPCcbqR9dNzdKOkgeB+o5MSb8x3Qcc5XMfx6z5Pe/RmBnH
            cHDwp89le4S6LR0BA5M6ISI695Z//BMMc5Udh9cMPwSDZb3Xa46eO0eQ/f/j
            HIX3Hd9+FZnYQbTbvlHeSpiTO3bSvgRYrID80L94cGf45fbD3CSrjn10BvRb
            aeRrSBNoeAQc7ZkkmywqJfkbk0Xqiq7fNKQPyMw1lqmqFg8GrjnQx4R9UZdH
            WzPgJNMnDsdds85xz59zHSkDfrfLp92/ao/zIL44+UYfgQ8OpS3oMf6b5ytJ
            b2yyfRD7Oue5xueHcrW1Nr9oi/SCTL6R8jx0smm/YV58VbBSpyQkXzv8zue3
            E5y4Ju8wLBPtJPQt4Fz1CjkqGR9FfyLImjnTfnJkHuJ8R7tpNrpczz67sEe9
            3Dr8yz62RI9pIv9Pb0dLBeDct55oxd82x0VHQLtux2nHcfqDjDzZH3AEtWKu
            U6tAug90R859jzp5fDa4ALJbrTMLmtszBOwutAdfnByWA2x2VigfsRna0wpH
            nsH0w6b4OlH7Ttx+heDl/s2++uwlj3a9Gn5zAfSt5hzcDy2sgMnPfkW/qVm/
            KZqsmsjPnnXYC5xxLvL2aX0GZUQDH+Ez8Nl4+0e3QffVvsUhAfOuSBbJ/GUI
            a+DGl/zOuIZrv4ZDIJoE0u8kP8nf3zB/vmGnd/EbLj0X7R+GE1bcjOV0M+3m
            A7EP/XBz57tEV7++YxTzbeHYMeu90bdVFMroXPjqf2He0lf/MZFnx42WmXsA
            kmBlFKTeRX0XxiwdDYQ7UGX6HMgWMj78qcTCozs75/c6+BuntswBwSi7YfNG
            CZU85qXx4/nimRQrZ/yRcC7emkmPIBuQfj3V/Pm+3+X7wc992ZiECSITbC7a
            FuivFY/NgO8n2HZumA1cWgUBY+zf/GUasValC8ySnQrGkfpf7Q/LfG3B64ym
            38f2lUmbzzdkyqIPxSr8jgdfHf1kOTqBSXvkod2Z+tWF6VFkg3QN9Nmz0LXY
            1O/HtsuJj+Q7JFtIvyzbUDSC86TmbY7+vp3sSsyNiD4z4QTrXF8SdJwPwjr+
            Ym+8DjDZv657uw5awNnDbKMvDppHrrT1beeykIC/q40paEI03i5SpiiccyKe
            3OTDQb3Y5zuYhpM6wtzRJzAp6NYAsypbm9k87Fuq+qC5t3JMzmzalWFguu6Y
            HFXpPAXLzMjIthQMwV+mNmm7A3uP7eHW5VufD9/KcRMw/tW4ZXf4GrdECIZj
            /+pHm4R+jYH64DnB1h79EY0e4+h8FvVowEzYovSekszmHvn+TsUVMIfFG01e
            WArnmvSNSoOZNrPnb1ckF8pnaiein+ysjX57d/Qql6786JF+65nARyuXi2NM
            +BLd8EY/Ar2gMdl/jQsleGmBHXgPR+v7W8l3UEtJ/wi3Tiw4nk3dKa2r+80z
            u29+2b3APJBaIDfUw69wIketVMd++cDMxSjExr1CH0C513jp2IwOmArLdNDv
            iUIin0Iq7GTDJq5yVw7lWvA6tsz4JZ/StymBSIDjcxh/7Wf8g7zM1xp1WyP6
            trYN3hzzn1/Lh8r5H+DTsD2ClAGOmJf418kP5+rErj4vHN/rMG0drr5vMXmY
            3JbNH00AyixvnHfaC98xK/2H8kCX1kaq29Nm+9OG9pNnVO4GJ0cqywLDNgAA
            yH9jEqyYuoD9Af+89JRMoMS0Rbk5ZLeGzIQhQ3gEzvZUJQTmDBrNhVx7IG9L
            JTX9sossmbTXlsxQB+LCwHwrQCrUzNMG5xgqCjbWnpvU+dj6+6c5sjDSaZue
            ku4U8gnj70b9dptkMAyvcWz40IlxQmagTyEDP3/GPYON2x372P/muNKycWVG
            KdEBzXBMMx//4zN4Yive6JXL9x22lso19X6tE9YyUVeXBzg1tNmU2E2/cNtR
            vf5pBzgO5iMmlv2uuS8vbQiT9C4Gxv6/pbfjg4Zx+u2kvCXcy38GdNkNEhhq
            FoCYO9ac6VwqSRwYXXDcvI5du+mb+z2XjAdQu5qHUjWJtR3Le9pb6db8s06V
            eodXFnn/r/pzz09/n3U5/V5Z4Lnpl8myM1IFQjge+ayJP7AyNDeO2Rzo6Pdr
            TczDwfDmjXmJWBcQ7Ljnlx6A+Ix4rcvnXTyN70O2Va1/YeI0YqLsJdd84b63
            i8+EBL+e2z6O0x48mmB3vc07szle/bNsKVk+eP0j873mw80QAepzUx40ii7G
            uaeji5L/w5LfGyRqbICOtVPM2EszNv05yniV98K7dK53u14CeW/TNU/TUaSn
            mn1vghzRP5l2I/Zf3Lsnz5t8R8S3E3dRx/L6VTkPnhJ1danOL/za/gV+Ba4j
            fqWW6OLX59v/9/nt/3tjg6iE0P1q99NMifjU9MMuEbdxrbP0kDjPh098ze7O
            aF/5HzEObdMvS7wwaFAE+gPPmH9s6jSm5Pf40nmTUTLF2PBjh1eMQpJvPbjP
            NzG6AUTe9DrefKhGwN704Gno/3VlW3Pt6aCBz7dfP+0ghCfZ2MjXBwhuBC7f
            2qGNXn4h7O/YzqU7Hmbj/PA5xGOuPWccg/zf3SvgC1u+9jPA5tXH8htlW2H6
            kSNPSdUf7VtJc/A+DORVWvpmebRlayGPxSycEEO9y4z7KKCIjslY4/HFsfik
            /TN27Wl8I79vhV3asZt8+gWEHf1vHcn6IN8t/75p/gvJfNNfJv8jR8bEkPL7
            zbuD2g2XaeCQHSTLV4Vzd9s8pqtRPEmh7GffGbf8IM/3d70He5i+cHTCF/yT
            XwRlYnRHaMfX9toDr+8tiAf1R+0DP056dPdnv4lpYxX7R9zdxM+YxyP2U3RF
            8dL0E6Cd5vgqfHTaji6ZZsczf07jR64e4dodL394/S7DvrF65j929ROM2qaU
            35Rb8M2MWMsbtAT8Nvc3jYhJ+xE8mTpk3CTj06I7uPsxf2Os6Tlis+QXkyU+
            qTFeySkP46eP/N/14T9J2YyLbf6vtiHITsyqD/xEGXvU4v7K9wI/yATx7ZdT
            aCDIRly5btQ0aD8yPpW+uGBu20N5XPo16T0qoA6APcwHncmM5PPV7Ld9pyXS
            OXqI46f4eHvP7Yt7D0Ksg1DXMlaVuILeg8e22846A84pvNh7JR9acLGS9cxI
            f7pH4VqUo0NVGhrB3dI9SAbgwet57xBhYnqO/XzuJ7s/ThzCkYM1H+Iookbd
            vucnbpsfxqKwfYQ8Ld0dvp7pee67wOaccSmzZKNN/n/yLcnG9tLnvMqLBLST
            6mxr08jjAw3U73VRUClTnRQb2+vfCea34W9AzFSmR1erAjk496/KI6D9s36t
            fQRtxK5iSRRINGP8ufb/btyfOfY/89lp+yjyu5ru6JPvu0DeP+tAHRL+k/9p
            lk46ywflc9/kaHEWve3yvZ497SLb93P8Atty/824z7y+HPedax6PraXIVx8y
            Sjt2a8lp15597Nzu2MfJE912smtjD8xAXYOLv2AQ/EKQXPO+u+5imQtNT4od
            3EzeNXn2ylvYHxb/Q/MAYzObY97RB5KlcjoOPs7r1fzMSzI+gvHQk3giY2hm
            XX3CeWaDd6Dg1J8fmZhBAsrx6sa6sjGmp7ib4w7yv9voi7zP8UeIikWvdD5r
            crgFcwVmGIg3ubZDu7jgO57jlT+ua106MmDCzghL0N0wOrPSgbo2UkDIc4k+
            jYxJZfmbBLkN5IbZkBNkFvpL+RiGdAhuWeKeLCGZbnBM/iLddZDPg7IV/M19
            HwdxP1DRxPtA1C2euxADJ/MdJpNBPEu5i9bYT5xKlQTx+a5OGe5kD/no7ag/
            p35UsbDUwotnLYo5c5lu9oAJ8GkYC4hxAap4QTvwudSiMKugfDWC2vrfbXuE
            NPBQUQP+Q3E+pg+g7S8E5lqgVfOMhQS5mS+y21VxBxm88qyv0BRElOosppLJ
            U8Az96eXN9EbxGXa/gJxxMfWRJiPVfaqZvPiKf3QruyX4vQlBFIpQn/ERNtW
            z6Af1DmDr2hBdhGX3t2x8WiTSolxTg5rkahPjRnfGa5/sfyNyU8E8osQ5ZvF
            QHMesM/zYMqZ+aN34biweIm6eNotWzZ9NHiHzvxIvN8YSwGEGrrlTOI1tWXM
            Gv0G2W8AXlJM408bPheUJo3pD+ncnseNRaOevyf5P6eO76SGWmtSGXILbIzN
            9fzhNzDl5691UOxnYHx0epVpTfYqxqrEV7b5n/l2H5swx7PAHHshd+A5QByf
            aYybgfwLuA5+fnj+qPAT0DK8iNkkIJ+gvylvRQicCt6UnUi2ecY3p3MdbEEg
            HK/NmGCM/z4rjXF+lZVkKcagm51Rz36uM9Ng/VofYjBHHtfmMUxggOeMhTHG
            84yFPHc//a2v6xzL9Wl9l/azbNSb+QbBK3f04n7WbEJ+1Dqea3f+9EwbL5/n
            eoMZ2b7/tR37GCcHZz84O544O2w5ZoV8mAHLcDX5M4gs0fzGAnZm9vTncYrk
            +6w/5VG6KIylgD7fGKMqSOv0x4wdGJe+hIHR4nHSr1c+SoDO19G4D/mbOU+K
            6Y6BJzbPI74VM9kp31JZ3738/LFsuaWQZs/SUzOj+XgYp15km7CMToG5FCiz
            vGalUtrwbTaRE5/HgHnafS6+aeCbi+zWN0bvZYBagiBM/QSkRGzVJl9eui6B
            01/J4hydNP8QxJ2feZ24ibyJjJzxV1vFhBjKvtKSzdfZdaoxwC4VxWwwViLL
            FLkGxDHgycUcg8ArVZp+vM9bzSTnh3y3FNNX6QekmInEPqWT/j4H6r66CrVv
            Y0jHCNy7jq5pPZa34Oj2MZ3n3Mv+A0HqR5amH9Csiu6oVXOs+BynCLKwP34C
            qmlnXhcl53ec+aS1fU/6MVK6pdXofn+SjO0/euLzfcCzg5iCuvtAuYh0bBjt
            lo8cKOvo5xyrgjkGN6CsMlgv2ZkwdFwrZrO6diZ819Nf+uuYnc0dn365+9KU
            xZlhdprjvyK6z3nDZ10Y0XxFJifBERIN+mMOsSmfSFY5Ua4JWskki88jGwAW
            mL6DvtlOgeaOtk7I5rTFKSHepmfD6mLyqNelss4rOal7Fr9bdciy8nDkF7Qj
            BlwXf0cdyRvWUo6IQnuHW5LG7341/05m7KEeyqUqXq43uhidvcmicDxi1yad
            Y/BFfBIzM8kfN1X6ddWwXX7FppJHJh26OAx89Ks4I2Dul2nPmG72+z7zXlBB
            unahzSKrgtuNK4xKUM1cKszNo9wWELjIM7H0z0OQ2H4AxptZqgAfI9JRvnzG
            RDdBw7mOuVlUyqsURs6VBFp7roGJkrdmk4qYfkXM1uwvnqBG23ybyffvuhhG
            bb6VFN35Hme5X1QOx3xaNZ7G7MT4pvzFSwHiyVTTPi3dyqaM1IritE7Mh1ds
            i1fsSHtAh2neYWIOTnHsheke6cO/nTdfSFxTMp5H+WXic8cK/j1Qb0iZKdOz
            0vYf8T89bOvVg2Raiyk7ow8mS8r4uz6vU9sdPEhlVtjjx4TfUREiyidC3K+Y
            lMc8cBgL3NePHKHSDaGs1PHN9HHC+xrjL023ZHECuOZqZwSg8iAAiMtr+ass
            rmLTc584z0VIJFV+caAsQblbcE95bhpjm+WD1KTrAk3ek6q5SF+lKv6Eexr7
            wwHHicYk83O8v+U/n80f0z+WloUxANVZyaZJC5JxjvnSVD6LjYwZ5lJLWn3T
            D30szAElXZAFNJPGvx50EHCgXAIQyB47Uv0I2dVwBPMLucbR2bqBQZMPLn2g
            i5xiE/VnoJk4BtYqYp6KSYnH4hPmOedaiJkjP+FUeNPNc814vv7jNyLdGkRs
            5iFpbyPGo7C1pWyyNeb3Mi6yc6qKNOCKRaUwQRadsMHnKGfkew1rRt9L2UmU
            i6dIP+H7UpYpacPwHZPV/hR//oqTZ9Lle64iGozd3Gaje4/PTT78Sz/n9frg
            BDtendo+17l+rAyaZ+iEknSOQBzxO0/WzbPF7O3v4R84xtZszpk/5865/8x5
            g7QamAeTvi+6x8wrNs/MmQ8ulH4iZ/7jH+tx/ZQC0R/3VAArU44/I+0c2E1X
            tuca9TDqleNZFSVsxnYd2kTbfBeN5ByQNnZH+faLDvuNVXGq7CJTivQxckYe
            4il7tZxQibrF9VrYPfY8I9nZliUW2S52w+Xl2F8TZnraFyet6wC1CYbTHy+c
            Rm5HdJXlKj39SXg+aMXXvgOOp3PD2Tu4yRgX4gSGbiWyVpOFMoC76a+qnEtm
            y2boAis+PVIQ5s/3UgikXFdVikUxFG6ec/IXLoMGEZVtuSK0bLydxsics9dn
            hcmUKa+Hkhh50el1yvMFSYzxF/xdiuWyke2EWfkWuOBz3hrjjmiTMlsXxv5+
            w2c8Nul5fMsuXF94vPA5H7seGDCiKBzLHzZOP2FTD+EVNv6h/ZRfaDuTBxLE
            fZqhHuAPywshnpITwHgtkl66SWYqEtyJI2Jbd9oSP+etQr9q8/y08dXinXy7
            fr9Ypkl/ea/iPDaepLoHou1ghFuQnYexRuXio2N/aZ1+MaSxR4fBJCf09SAe
            95VJhZgpXDnZpKdkmtvHdBzK7kBawBhU0BnPOF7FJWGc/XkphSq+yMbZjGfJ
            fm5vfiPYxaUoT6637Ec3t0wZz42ZlAysOONqeuRsIeaV/Bn4LeZKmcePbjJi
            IHRwekGyssaR3kUaQOWaZOaqpHWVlXE++r9hemrlRKIr0VTse+XzNTF2VHx4
            AAxTkqYMVhnv/U76l33lVqkWA63cJTbPXeeQaHUc3fSq0WKjVTKXR6pcQEN0
            jarqR/lwtu7Rcnxyb9w1i18xo7Rf67n43LxY57zZc6xopHP5bf08Z2vYpJM6
            Ni7ObU2KSRq0t2X7BiLOKLbe1ffEhPhqfJy8WZh8RGPN5jc0T6wd7YkfeOtY
            i/w24pJ1fWAqQ3C6QUBw6RSW4iy+ql8EfDgUWTiczY10taSZ1IPLkN352yn5
            otYL6HCP2/b42M15ZCIaJNx3HPVPfLOtx/OZh8d3prhrnA+sOI25447LLRuX
            F3z3JkcBJpZJljeB8ZKUsHhdsMvo/aN7AJVpjFn/fb/b/UxD9ZBO495/XBNP
            zwaqs3S+M3dmvRjNxp1tTp7zHXfNqS+G0O6pY54KHNM9cpjtwBY4n8A4Fxqf
            SI/Vtv59W8bbqC2zX1TmxRK/DxRu/d85JOXpn+chrpz+VTLg9P/ddlP+BCJy
            X+P3J/6G77r7gPs2beGcX/v2oW39rNXDnDuMNWCa191f7fXbPlt77DDZNqdY
            gV1Con8IZMNL380AkC8OL7TpcO5JJSQpenfxXPHnnlPcpeJO7708ZAsSf6vc
            YOQjoo9FlRfMVm2lwCGXNcZXmvZD8pHix6rFJ4eq0i+qST1MjwoWj6WdesNX
            AqFIplKcy6McZSwkJ9o7VdkVosz8wa83bk77vdHdELIYcGkbjDEiaobIyvEn
            y+1UVLBPeUSIFyp1w585NRtf4hqIj829ch2UJ+9eC3atv7rmbuxqo18A90+2
            /dOJcFi6j+jQMyUe1SB2T3mQDv++5FDhk/IeHVhn+rNots3ZDw4+8apU0eP9
            sqN/ZICgMhEenzhaPuPme/xjeQbdoJ6lVek56wePdW85TpgmlPHH0ndrr3TK
            P7/lzH5w+3f/1BfffndbzMk6B9ZvM+3kHTfx6cXrXdWcjOMzX1jmVwn0w8Rc
            7rlBS09ODbCgW3k1AgZS0F9XbjRAnV8+dWP7lcKAfqtNuX+lV2J2SVm8vXgr
            Wb9Vd8xkY99Md6wNG2yfseIK6T5zi0GKybQlMbvNih9/E8EZC2d9YI22jvfA
            GNMA1bYJZ8tZnCZ9kLlWpNcq+nPeD7zBd//AWDJ48u4Lxqpdc/M3jOGTDUeS
            xfwTttJZ8/SBrWG0cxhdXoO5cHOSIVO8NQVKpT/1SuwP/Lya2QWq8nYF6oXB
            cDbNDZ2qPKTzV7nlNv31LDeQEx2D+HFSYZtr15WTSNVMUWw4JRydC3NLkC/7
            6KLqCj4bbR+HB9Axc4i0//yGR/ptXF7hwt1ciyn6G79jOsujyTX4Xv8z/ywu
            R7xJ38OX80u3khU3xDz6NPg8p5YscX0tZwx1V2BKIMA7RTksmve39G6Z2mrD
            kxuc1Di5ZZ5T42kDnsCB5vebx07SIzXqw8kaUw8r3IDvY2RP3NIBWP4x2omi
            +NFNhxTSZebTZt4yD/wFbK926IEZZWp4TgyW/CnxNtqqudeX+b8FukpU5QJ2
            zFl2eNDG/ZMYh0Dk3Gmbj4X6th2WZ0VfPJyUy5IxRpm5Mn/sUP6R/++8fjdb
            9lWvOPIppYrlRaRewMeTF/X8pn81zZrKGaucvecef1flX90URiSj1exUqtFy
            FouXlK+1Nx235oW82ZfO3vIEmnzfLG011pLGtR8f309sf2ZtHV/m0XkHy3X1
            3thr5eJ9z/mwc+Y0u3G1+GD6rzYu8aR27votT67jkDXrjsE35ahUDLhMR+Ud
            zIOb3Ln+SUFFPg80N1D/6cv77edCOHpJA4mLiJM8A8oe2TbxtfSlyCQQys++
            mA2l0X+QttVt/tjMrfzS11D7na4qS/EkhYSCfgSQrVWwjdYa5Ygq4j/IgbtP
            rl/Ke3/0Sya/J4uv/PgakHeuZnenPiKCXyqA7BR/5D3FLlBxVBhvYxsJODcB
            Z0j+a+3qh735g+/zfXTzbFTK25iYZDhajPizqXPF+JJilsi2Sz7aEFxzZ6g5
            vj+d75NrOu+Xd+v7uzyLvv0pWTSQR+da0NwIlwzA6aK3LDUL68tOnV6tw7rf
            jc+kRxsem8cPWv5K9HsZ5tdiNgiSeaA0x4qUvrm8lMv04Pfw8Utg2oaTt1Qx
            cFRWsPo2IyLIi0xVhCX0h19t+k+bImucvrl+/O0h3NFfgRHgyf/jn2SYTBsr
            Ho+OyZnPKGdxtN9lMxaxSIZ6Jrh52gr4m2kEwPEJZ4Ob26eNHNpIq0O3ief8
            OiVQ4zGkDNDaxTOPCn0WgK8FjwPn7s1kfiqjJJunsrEE8aL4TfqCrVSpo/nL
            XAZ8R2Ml1NiU/w3zmJmnhFuL8M2quuBVP3MaDlzUE/HyKgfmK3jgnH7fP8/f
            dpST7hyJjg/pkOnT/8n/xlRQ3zn4wyMc1EiDmGZFMcH0c8xgzECP82QYy2bV
            WMUNT9oGINcafqTbjOgy2LnhzU5D9hn43q+Z+f1sy1wnmCBm6oudsZxSpqX8
            Hj2iafCVFFZx77UMS4z6yTv1ocXecrq1oPzXlj+YCR4bM4dV/qbnzivVAENm
            uUYMLmVeg2tfoD8dbREtWE4rjo99ZXl20Ur9gx/Ax9BSOS4/z3g8VUUm3/Uu
            xeuRqucJnrQpDgx88XLcX/F9raLxZIwYc92/iqF46F2XFGvmRYffw0fRhVX9
            t2e30n0vYIhelR3QkeH5PIZpR/BbOqYunQXTGDF3Y1U5P+XM62kpjrolTBX1
            U34v7W9VP3Is3bZYpKldHYnWExtPR7qzTuUaxxDWc3N9ZXAlzGvJPL9jC9hp
            1ZCTD2GZc878/8BLIEK5ybZOxWy1uDzlXQqr078ppKWCtiGswW9XSoKDxyz2
            jM6qwMNFOG1H1twczNY8ZPPyjPlxpgN+LKfdT3v3buX0ZwQ5n9vKa03YdFYN
            c1spI+I72uTcBM+fWEPB7jfT3yklIufx6heKyTKJXu6duS/lpyV5QGN4fsZA
            fdSexV9cnDgOpj12p+4k3k1OHm8vmC/lu+IYX6/qyT/fFX76FA0KyuXv6e/m
            KB97T0cW85/vP7Zz7gHhEGf6cPIE8sv6qZ3EWoNRonZTjen35g7ytqTgX5Kd
            Lzun3oH4R7BMfu5BfzfOrICnrcw3bXtc+5s5cRlLGMUP+0TGLymnhnOJxWUt
            tj2Fij1ZhVcJK5gDGlYx3mj2EuZZ91ZglH2zHoDqt5B6c6/TB1jZVhUThu1q
            tgVWtyFOZ8ZATgxtf8LxoCRh+ArYa8BtQ/Nz8iIk5pcEJ1VSnJoHhbrZNSXe
            DaD2U25oL/hKziNBDTx+LuiJVqhGn71G8XHSTvAyxT+oUmZtdSWgr4zjY63Y
            8WNnoDuJzj1gtsdB2cKzUKIXnpWdgCzzPOe0HyTWeHEn6O2ch5NTHcAzqZxn
            nOudF7m/9S/7wcY5hpQUb5Otro/hd9VWj8cHQbnwsZ8/Y3B0wTv2kEd5xtzN
            JzU1Vzz/uV8lipw6AjfHjDM/BlZIcWQtvMEwc+RKN8SorCieQTbax6J+V0X7
            vv3c0XRPjXh0veuMW/6h6djBVLf9nIv/YC0IID/6vVyYAD+NPkyGYMZcf2x8
            1XIi8VpbJm+Ee32e8+Aj85tbTifmSYvyJcA9iyOi/VE5CqLZQqvVSde55ae2
            +fBnjvUtrCV/xnKfoT6sbdOLLYt39/FrLDznOKj/I3ej0CSWa3uvn9pwzXSi
            ysus3/mdd67iH3Ml2xnjnBiYcvK8eeUD8TzOmrI/Pk2f8XH96Rpy50wyPh2s
            31ObARjZBYOzSfMc8GpOmTHnrB0JNlV7w89zviznn8E94fucc38A+LrtD+Wn
            khzKvmn/7UyNKTvM4Xsey/+fqh1pKMzyHbLzcn3OlKbK4gRUhmgxLcPLqIdT
            P8AZMqwmWFH/I4tINv/gW1/g2r627MHyWwia2215HDxlf3xEODZJ6S+L/HqV
            S/s5dVtOnjAXKdM5I9I35mkup3pMfZoMJz2CZxVxACH3iMUu+LOngPRkB93p
            vFMxTZbfq9FniNUPo5e/TR3gbFWvMuTawsEHhCmcy9+bFCTQ7y3zgxn3SV/1
            VjtdCUXzmTiTqkKtEZkO9A2anwOVk8IxVpOnfeEC9ydu4LhZkW2Bc+knRpp1
            uYD3prxV++uVFozZH10eETAh38CXRtRs+CsIjwYm5qMfVHbO3/0GHI0BZpoL
            uJhdeSBP/kTSIc4I7y3pB9DJsL4AFW52yhlWL+TP55VQ+et55oWbGCrm59q4
            /JnTQDkD8y3cSaEpnjaTW72zqplqGn3qNzGWnTLr17n8G6az0DO0Z63dYP1H
            4eKlkrtcB/Dqw/KiPqfGCd7cmR+Kin8QJ7UX6mS+05d5UCDScT5PGz4TxTfb
            Guk9rOnrLJ7zKYQ7/9ZT/4weCLl7JQqjHFQpbwMPMEbAFXv3ZDklXvf4Nvnh
            ZcUsoe1AO1YZETzN83sqCIZxi1hzO7I/unpjLvGN7jPPqjmnGiLHjs2KM8qp
            Mj84QP4XkF23Yp4OLpg3Rv48N875mPf4nMx0xg8tpep+Ie6dXNgsOrTPvWn3
            XKGdzWqH9PDX+COIZyueOMhC7hXTBJkd7LcshtVCJla6eKCMn7jDdyuX71NI
            2/ObVdOAcYYRO4CVBKJseMzQwrzKjelB5av30KdpuC69DZiYoHgK+ub0yzM6
            0IGyGw2fP75jO7KirMV0vmY3BC/FHVfBu2zG1IG/eU9efavtdeIVGRfF/Dh1
            vCtXw3WxWm4v5WsAP62cX0OTo7oXoqX9zYHhI3pnMj18ITm3nCyUpsU3MJzS
            v+tXH+DDPv1jnOJFqF03OimdKA0dyi/kze8lmqz38RmInni7bXf4FPNBlfeP
            6Tkey/sDQkvxeJL/ufTx8FWH7QZtTawp1rZq2y16rIhfn8GbjU/+na9nriLK
            qYBVHxJzPtJX0/mg60B0tz15jsksbN70HgDPzmuEauaTpSzOPmMmTW9blZSM
            R5e/l6LN6Bc+pbOf8vfJ8oGg+r8A97HuvERr2vPkL1zLlv9wDdvO826QevE3
            LVJiGR68unfm2XTmd55tfIrPNErphUtKL055dedP3mm55/TPXEimGYlOBwSC
            +PC4lfHAbJXE8zr6lwLI5zmNnzl3GXfnWLlAfBj9jJxVDT32OcZLTdMrnbZ6
            1lkelyrfZ1a91B++gkIp6GumC//+igm3fFLu+irL3wXw0brlgRLMOdYmYy2x
            H/3K0yILBtAAl2izkg5SugvtmVGP7vs7d2wT8DPm6eRgiifMNlq45Dh2kk8e
            1mLyHD8oSy99eSDAlPvKIfv8Te4PZoO397tbW6fRb4Q1WTAbwIGb/mDZWyX6
            zDy0uHHj5QNjAliLakT5O5ItUox8eBtglVEGtPIRk2DuKOMRFAHzyWCeNOPC
            ju2v8tSb40O1OVUfcF+f+/plTzY8G1TFVbzX4Y+Fn/xHZrz0khl9mEAnKaY0
            mqxVj68Wz1X/aikWpl556fLyl1cTKJpnjuXxOnzm5Usv38haYm9nhQ6bJwyF
            e12VzDQ+44/kpS/5me+oxifmtSyJAvlh5h+kH4nl9XzuHDDP3s296M89/5kf
            m0c5StJftf6bPvp/6CPtT505yr6YR8dYbeWz+1d9lpML948+7/o6ma6K8qQ9
            7d/0A5neu//Qz7a8JIsyhHwMwbu460PIszeIo6E5ydsxQSrlcYITZzyC+EvL
            IZLeTkTzWjbUqvpESYil7Mf8uV7pQppnfKK3WgpoI+/o56ce2gK/wKKUeZuO
            Y4Lzn/SwCFGWP8L3ZECBNzggDzYC35+46Zi3VtnnZZMjH0wHY+Y8OHxa6djZ
            a7PmRaKTF4WIx9yD//ZZ9/w8i2+U/xx1C/Z8Vu0A+7av5/3P8z/PBstFLHXT
            WJ38BKZ8/fhX0CnjE0PBWjs9/MSsTx8t//dkvue4Sa8aXYmYwiYBPydnuJ9H
            81eJ1Iku8xmPjuLPd4wvd2MRHxKoJ5/b/OLub63HsrrHo1re+dtfJv/PvN/n
            /LalY084ene69ShXFD5kZfooGP/AWMwEip9MCM1az4apGZDBymLs4oDUG5hH
            J7FOsTLmk9kc7mXtYvqQq+4kVg8jb5IvwMswzSquNxw7jtJ3gYXWEfhENQs6
            vd0PrDDP+oUBxouQaDHneSCsjuYD+yov7Z4+MN2N8iB/6o115VQMfvxpH4RU
            duufVoa2B2+68GC55xUXQBM5c0GanZUL0h5KwpYTNNCH+Z2HZ4tLlapZC5Rk
            +NryuBahFcsxsfAoQCNTHeY660XQT5g+MopV45pcPxkaXlodgb5Z4cbOK6/r
            yTlbLfadfmts4/0nnyf5evEDV1ZPpFOQnz/+SPQDhkQKYNXvuH/Bb/88nywn
            A233JrRZzuknHnwpfxKvmAL9pg47KdcEnTLl20J++v6W/xT4MZ2znOO5zm/G
            P0aRuvu90n8l+VBjacvD+G9i1foI7lsXrMuJ8BP3F7bVRGUlC+/p/sf1YBYj
            1kxj8jzZhLm3mTpf9TeC8uK/1NEyGlQ69/B67Rneu22Y7IzS2b1OmCC8sF65
            bCxzXZ65KS59mPwAKGFdb+WaAUlQbaYK+Y21FG/fmZac+jrqergn5Uao3Jut
            3vcxAu28b1D+4Pqz9IXiTCAT3L4Y40mHC/Kzz2aOeJszwFobhXjg5H8cVqcg
            Uu8GkGTFvF/jyT/jmYN+sL/HE854gE9sPPl/NJ7CbF20h5NwsCxL6qYburGT
            +bFz8HjbZOBTY7tanbUbJ395wzkNRfXHYjKvPks2cIytqiYX60IHqitoIJby
            qdHMp9ypVnNVtJrW2JPT4cLy7PRz3rIBvycPAH0aiKOpe1MNPuA93qfWgHPa
            wd+offyjffujfTztqTfL2MbF8L6YVOAT4LP8va+69gjmj2PuqlXYra6yvmkv
            6nSmfRPhhbntsI6gohtrpV2QvP/Cg4Ax4b7JGtluEjaVMKj84D/lOqQdl9hW
            OOzUCnSGy6zWlOEy2rkvLvMHl5X5Sp3KMhTyB6ZPRjqw9v7t3nOCsdd92hAe
            z/773KtVMsYHRr1qT1Euxx4t+wdWlb+TNYtzF+5Qbh/lCurywfOGR5gTkP42
            VXG/2h+hn2ucMWbWpJqW/nkslj7BrdPGagYqy3lEn+uZ1xcOM12vai2dCPGx
            7f6/xdfMr9DL9Qn1zA6c0g++tjp+/y2+9qpAGDKNef8ad1Px+MHdzxfuDn+P
            t1uyfCgV+O4bd7Mmk64Dv1wcjfEum2f6TB7e5JyHdXB3/cHd4QtfVyqRT9uL
            Z+Nj9hOCf3hXNLU7eTiy8cuZn860vbfOXrzXZV6uqgbamfuaeTaaYJCa82YG
            RW956u1+CIsYTbyFs1hkSmpvWCV58lpM0zbPdXAA7Y4tmy3Y3XHovBz6syzf
            DHPOXXgXP5FtjSprZKvY4MEB813MoHnb8n2sKEalGn0oGBX4eQ/t3ucddNKb
            XvJkoeHd9rB5C3z2Gdowf8GrtJveMe8ua3DKnpg/dbEdcc8GCuXYhHuC+WOy
            tgzVqXNtygOyTfwrPH3x/cXXjI+nrG7Rj5QTR6RyPFDnR+9yozH0JBw88lqP
            fCaUbM5sjAi9et5T9yV/5cUrkmMZ20PUpRQVtGMUyNXnPcp7UixatDFOrYyl
            XGuHJhXl1A+s8SyZh/QDf4PyGetSyaUvBumRME+Dtfco0xVavCL4WXxrZ+W6
            aPJYjFps6vvLyZs+/LkGPlQDob1C18+5CkpHgyBqPqhfowz4MNo2St7XffUJ
            iPPnGv2yaLdVClGzE6/Tr66hXVQ5cbrCBtl+ZZ7ge1kdHXPEFQWUqvBfp3Pw
            Q033acfcAbct20Trj/LBw7J4eD/j7ijmqkahP78l4zgmZlA272C5MFRQNFBF
            qHNv9ystcuG1DMNB3xj1jecaFmaIHA26JQ/zY6EYl4BQ4gI7gPUNrxVabkKC
            V+YL5EuP3Bnow3TkyEA5nVnQrr7vH/+sjOl95QPlbjt958nzlBTn/0uHvJjf
            wXw1C+1OlN2PLvbEzzf6ed02wF9/28ZkdNYHNh+d7/vWt2InVWv9xMHovTWY
            Tpmw+FqVWsn8is8njVi0vXrFSk9Zt96g7Grk0Zpqhm1eY+LvRzk7rB8+Txl5
            Kmt5EL+j/A/lx6+j7KUscDFgx3fqAo49SOoHGgewfuf85HxLx75L5Pcobp7w
            cq5FbzoS1tVhgevz/LfeRM+hb4P/ew3tWR/g2KJSzZ9ndW5wSEsNjs2nk5NF
            57U4Owea0zlwWVT2NctoIJ6XfZ1rvkX5eznZxJRfqpnuJbzSOXjpHDAm5tWg
            bBte80226yz56oLdo77m+560cfM+98c9ZuFL9zkqo3/ueSLprsS8GpPsjDHI
            F47Zo68/VOwxnHq3px/J3c4pgdVr+aZpMa93DLifX3oIu9C2+PxfbQVrz3Nr
            LNkzYAfGX9vp/+P+4Fv6rYhu/9AKyQTvpD966P76IzMFAGM2aJcj/mKopNc+
            J2jQ2yNeXf7JmSY7qjt+efKuVxXDIEuA/AeUE4E8COB4ylcKNFJ2bxpHHe7X
            TnnMv5N5dljHl3YTxqz/+j3O7/XH73l+7z9+r/P7/eP3tt/giX7/fs9v9/t3
            eOy3jDUmr7V/1471wn79dud3kf+rfFzEWysjm9uTOZVZOIy1wukp6T41CKwq
            xMvcf0VrDsLYbtyDypBFy20KYrNTjDMzDeNIqYScaOesszBzBa0Eot2dUaXs
            NamSArk48RKudXfyLumcKX+NFbBzAIJ0+uOcD+U20AjT6c/OdX8X+tSFYV6T
            +W16tp13+2B9xdMXs/Uc04XOW+o3XaOdv+f8jHUOO1/V+uvP+SZn1/1pt5ud
            h9Pve+6H0+9775/2y2rUBeXlwtBre9e1s5Djz5DCv22hyvHlGHRiOpyXktSN
            CaCJaDMxENa8v8Kg3Hk6z+TnLecEEYdyjqRNRV+CzMB8GnG/rCUBTjUxN3+S
            bYxJEsSBeOtnLxZrs3wIOmfsHbPVUHpiyW/63kUzQshuQm60/djXsAuxrLt4
            0+qMd/7+tlHOtzn7ttlZuhbftex9kKHtu854gHqXcD/dRP7dd2HP6tvONzF3
            6I5R30h98BlfokcW+636zp/547rc93iaUBju2QpjxrlY5OWS5e0948q0EysP
            v51Dnqp++ELaD7nXDcm1zA1Xj+0QHAgz4snuRD4AeFaVDcLlXcbxIx7k70aM
            Mgi7xZrs/do1lS/b2suGG0JWDu1xbLhcS56D9QrHVklfLnp2hFtj+FV+L9kn
            pfOmbWoG5WBEm9zTT1vmmOunbZnltE2Wr3Gk3NKKjEkPyo+rGowxyD8ATB44
            eadYE9rWrj2W9OvY2zA3XX7dc5dOn24maDo+RaWYT9FsVCpwqYp8Duk/XOJP
            Dif621LVwDVwAAQseldNzMDc4FbrVDZrJ59RZUlvjrgZ5JbhyI/7sfU+h2Vh
            bU3sTTDfK/ZfOW4U1x+Y60K1X5gfjupd+iRWp/yTKWss07O+erFcwqquPBzN
            VplWReJkz+pfvKfMNpk1Ry0vTPnkjqOvJdumNDAhX35cYbV092t8Z01Y7wx6
            1ySXJs6b2VLBOpx6fOxXsdtWY/i5baQl+mrDb9P+HEYr9C3D3uGZi8mda5l+
            CYBF1jY9PtCXxmyVGBNcULcuH1jWKaBdQPm3KzOyEmWuxDkBvsjUAUKYWfLp
            rydv+skJpLK/zDexnlMzNFHPxJoCoMjKMcR6kE/41st408uEYL6eSnZdOV9U
            usXCHIwEepnPmEBEeS8e1t3UnL9jgBhCmuhh37pYkKENN3awmovFXDRPssSS
            lg55eyobtuKHFc/llX+bRYBpK5Oe0oGJYiTrpcfUmzGmjTmK9Kzyv1P4kx8J
            PQ0ncwehnWrCOPIjhVZt1aDojHWQf3uzsS/PnNrb7gcS3QGRxO7NhXNnsDSd
            wYJYqrASYMVTGOE4FSfJ+hl/jIf5Xph7qRxfnoA5vPUcKOv+xPRADu72/awn
            92PDlf3ZJUfj51grGs8YFdQjAis/yGfZEUxrtXyplnf9+kmOmcSD0nrAgMjn
            +Z23kXPhyOebXyLzGDnl4M5F9Wsd9hP1kvQ5pyk144/fJRxDX9L7u1P//mvv
            kQ7b2iXwtF726SkffIfj/vhemv6wnBp3r2LyNu21X/X6tvJefsX98R73l2eF
            qmI5aJ9Tw+POTTZXzM8cMTeTeIz5fHCHeA1sXPoGvVzQS4cn1R1Wq0z6UWZR
            xPsSax+yHitzwzuLjaTcNMjqs3goPSCy8NannXIDZYur4x7g/dR/31cqnHP+
            fuJ05GMn2yj1h8wbRL+WIy9oDiDPMhZOfbmuGqJO/tWsmyq/bMbb+Zt7HDTQ
            AWvsIZ/xYvWEVIuWWKZY27+06Y9yODE9ro6hqb5uP+9Q7rB56ih05agkqCvH
            MytAyB7J+qrHVkQmutJPzmJEFBPK7+jMBxdOnbl27LzEBcB2mt9kcwcEYj59
            E2I5OFzW9bL9BPDfMd+aS3xvYDxIzuXWMcXuFV/lmYnMaqtqHIBdSGN7RYYS
            PFYXgPrBxbgb6o/pYsV6O9QhMzaPXq6m/2x3HQAf7603ynPm5OLYmP25q/5r
            nsTx1DRJt0agGKceaZMuTu+d9GOvimVTnpQhHcQm/lM/twYFcAbjq1hCiPkn
            6NNsMZxTiU8B86UBUVXg9pzNLxwSvzSTVpuV5T6VH4RZHKsyuvlcpE/PZqNQ
            X4oLpg/6yYNP53J/4I9+0rVbbQLqAW5tLndqz7WTR5uwQN8D5rTj7/exeqhc
            A/EUp+4W4b+af6C7a1AS5DbmEGHyq1Tli8gia7e+G+d6TNsDqg1Dv0jW7W39
            vfdTezdY6kLpaDGhUvyNB08++0xbOBkjjiG7xXqveGFR/d8WmKPq5F05+STu
            nIx85uTYv+XTBT5VfA/6gEQ/BPuMHS6vwuksByr2X4veM4stdayskPDq6I9/
            uvmp+80aDVZjXv2BczabB+OZnrsWa2OuTp0IxYxg3tICDq3vp/Yb3VnuXgVf
            ZGnPLb+MY42nU19T+5b8V7T83eXCHXMb3+fXeb4zqEhzRWuIKFMXHR2WB1n8
            zND4tks/uCvNt31qDDvzMfqKKaYOjxaGefE+feGerRQwx/D0miXVez9ZI/fU
            P4/S5UFgmr/j8j/r94g3Vx2AKMXZrW3wKNayx2K5rLryWDIdpPYZyYuuUTN1
            rklf2C2HJmmnbK/0o0uWY0g15dJ978ust703ooFKUvXSBsmMXaoTnVUnGhwt
            bWMYFQslBsu1Ug8eiAcP3H3vBZ+Qm3BUvWlWJ3gYSVBZf505IFWbS/J6y7Xf
            5w59ZR73TsZY9Vkp0nrFtBaIcYG5ApTqKosXls7JWc0RuuATcrrg+vnZ+97q
            kzIeR/RKxRVko5I856blDMQMf+Rh2s8UvgDa1x1TRjIFg+UAuHPHd+70+5xZ
            dIjz1omjUVwtXjMhLGGnU19Lucr8hjK99eq4+LsfWnRri9AmxaqkPN+dVifl
            6VgnJ5m+U2b8ZHUi+L53mifW7SMxwfRZ91sPl/ytanN4qzvsG2D0PXn+GBOR
            7bfyilN+tLVy3LcMd37SiVk69DAp56s940lMGK6r/PCmgTH+wI4crNU1Mx9V
            vGSIF4IYxiPeYH4L0dpTC2j16c4x2bEe3BpPfsJGCZ812bKSfzKgzUnnWJVv
            bKUvmCc1yaUEpS9/VZ791sN9wOsxd9kLuhM+OarJb07ILIxjYLka/y/28Mmx
            9L2P6cd697H2JPFhOfsYv0VvmEC/WExGodFfAdSWr8hovJet9Z2yiY/Hf2o4
            KDdUBe61ds70DAC4dWCB75EffzQ6IF+X8IonWG3nFVh/gMV4/4qDnvgZu3xh
            1d+x+92Y0Ltu4/CyIX7xskxl00d7o3Bf7PHDy1oO//XjK5YZz8/dwzVT7WR7
            XWnMh39+Z7NVy42AR+qejtyi83GuM1saj8XZEbDPej+gc12eL6e+88V/nj48
            yWR6Qvx9lngQkMJoYCZ8SeJLedLpOagc2OD3V/IgZpippETq/A3uA4QhWp+G
            jxgpZP2ec3/OWSMV7IGN3zNtc7jfpnb1tDu+U45eKI/ZdTJjRQ/8u6SYHAZ+
            AK/QmUB5jD955SLIvWBh/MAff9++7Z3uUxtpgE7euev0t0uWl2bf303Xz7h1
            PWiuvsZ24Q1iKysSuQimh5rWrJxrlj+O1WiFqyijFMbLbwXJEa6ZJ41q2vBY
            DmOzix/4mlW6Rspa9E98WbeE52GXoNxd9MD6kZ0Eb/M3vKkmYvrJD0ib2jdd
            lAxPEsh6dQzsWGbrU6bSmmXfFyzGP2AxHliMBxbjgcX4A4seNJwwcOoVf+4x
            g7m1J+4yWCRU2n362MsPk0plGWV0H5TrPqOc88+iA3kGU50C5JmL/4Eh2uEL
            KpOw39/2HWechIFqMIA16qSDAZLSZnn46yuXzzOEAXDI9r3MPUQa/wUDrJ1C
            WmN6ic01vXPDXBbWR1AO7uvbJN0f6+0wj6o32g3+gakHvflxZ+G4m38Q94Co
            TWfD9wDvAfczezed5Kcg03LPQcwCJ6b4+mkwpfcHZUwwf5DQLmwx83gWTDFn
            6Sb9/Yrp+ANvJT7rGdwIGdIBVroKwybLbRx5DZTqfIPtUce8dT9xjrXkVprm
            qVutMAv+K2ZXzMX2Z2AuE2Z1Pvvh1Jy9teBB8Ir8ocw/Ch384O9fNVVOLTzm
            HqviTU13yz0I3qfdXEtyg3XMrWt5h1y+10u7OkMQfOUfZkwmcMamzsXie0/+
            AUoajM1/zIp97dz6zfDEU5Pp034vcQbABawxJw8b6gi9vdfy/yfltKCPPmXa
            wRLTN1b8px6g8Q/7MX5hNDvOaEdWoNf1cfiJeujXFP9GTrTfvgYzKGOe5vyp
            X4sPm1iLWa3OnPFs4KnSMLmPllP6/T0mmwTlayCPfNbNYoV/as0WL93lZg6S
            AHz1zt/wZqYt7zgvzBqiPW2RxEzkYvFxUbnCGpNad6knF+hJDLrPeLvAWMtS
            Dw6hJahJR1gt9gAIcVq+auFP+dZ98uKenLjUyan2HG2TzDGbJTOy+LT8ysi/
            k0FVPUAM2Y7jJ5838R1Lpc1But5vbnAGmzDPSjj6Cr4jBqtzddvV0w4chTkH
            Ei6W6UGspilj+RjG6OSExpBActms80x3IuVxURKV9dc+k/FhxC30yZjBrq9T
            e0s6gA6az1rvTGTX8uzO8uuuYXkGbyzwPOcPEXO3GMNSlQu6OVZKdeZ75mjf
            eiESn3OqetzVoVfTen2+jed7uHDwJHlSxxiyrzzB61N3TXH1iWtDfoN65v9q
            3A+zMWBFWxB/sZvpM5ki6Zs3f7adg/TbMZ5jOsd8jv0cpx2Zo87JyHHiD+mT
            RhNN5fcM+Whn1r9k/b2ivddUp7j8xIdw7Vn/D6g6kATwN+Vk4UxOWPrBCZdn
            vflLLu+6T43rfWpjp4d1CvGR1ItTWH8Uv0fUbXIk1SdR9d7bsVHNBnqY4tCx
            zDGZlResrup5fetzLBek4ThmCae9X/FVZTn2F00WMb2HadccIzU/sVZB9SIb
            NUE6TuY6Mzwcjs/jc6JwKPMM5nggP/EwJCKyxKunTESsTUcx4u0CmvxLBso/
            MlAzCzDpJLMWAu7oZ4LfD3PO/JHLCBDJ2p3MhRQe8wNhW80TY7rmqvwdpCuk
            9ZQfVvqQDhIcBQPnlI8R01FKEh/3KMf385NXD9fG/tt1pI8jEbpuRuMfiM9y
            PdezXXeREhR9ZVhHSOKI9LdYEAjajN2MHz+VmKpyaJH2cZ7kPN5NLvlbPgSA
            Rv6Xi8xYI9q6yXNJj0M7rGQLo8WUF0W4lSVgnRw5xqs7pnA3m8eHrxcPU0ym
            P3S2Z9Uo++G1Ly2hJoPftPuQrae0f/xz7thVF46yD/Ngkhd5vLIaMBj+5Imi
            hSc/kmcsth/tSpTvZ6X/OniU0Sjb0K5w+Rhr8yojwG3H9MKs68EY7svjsJ3Z
            SStzBBYQu8nFh4ybbu4atYnWhvXI5KdL3/k+WHApnbZcIXvva7/Znry0+CeI
            wkrCt06/9fRbrV/J6loLy0UFAmnzW+15Qtz8mgd35sE9P2OH1DSfrzb1tKlf
            cwV2o81fc/Uz5nrGXNnXGlP6QdB93+Mo1eDPbGA+M06KNi/uSfp5SzdsOcAV
            V6WE+IcvB482fLWcPq/ZKPeWWwbgINNOH+UtIx5mH/yoWl/D7JO0kQ17V2/y
            s2CxPqrfesbbmBeTsIU57LQr5K9xgLntv/gZ6nLH+PBQV0/QplklGeeYMJ79
            rRM49QQfJjqcVt9vMmF4J/Gjtky2gcraD6GBH91KLN08/QEfjrFaXWzIP14+
            eYonp15F/i+KlSTtw/ZSPBz2AquBj/bzjHgH4DPLPXX0vgziYC6lyPQnf+RV
            5Tiz4vjK1QMpPgMry1y5V38zmFyPGzYs7EFcD+dc9QhrbZZjLPAbIitQONX3
            rrzV73cl5laobd/zL78w8yPLz7dNkjVzMcez9t/1FlS6tFgeT9X54Zw0q5sx
            Laew+8wbA1WS5a5nLgHqKFTDqC2LlafF3EsXBYmSfK1XjlzZk0D1AH/sY9DV
            WDxiPXUJGPm1iKfwvqp8uIU5cTIrIp78gMr7GE99ReolFY9hsWNU++p8m889
            63fUm8s3Kqe+vlU5INPxTgvMOW81lkzH9QTldmTuFeYnCPZ9Wv+ocXc+89FL
            K4da79fOc/NdKocod7TJAsP21fjkJyTdCvQZ83HFHztPIDtKp3V3dGGu0GZP
            Qxngp8v378Jv0RrIUd0Z/zaKjbOqJkRUfmXmWa4/NSkokzPnH/dwP3qafOpd
            xRtHhP+jPZHMs2rRhTP+n/oM4VN/opz6E2WXEqU3XNpmwepxsqoobcrHzxUQ
            8w4nRx3l/+Xe2o1eVYT5I4syV8zIcc34Vcci2borzyzmJSpUSvMAgcJgvh8d
            FHOsnrlRfsfubX9/5ib91JkopvNRzN39/a0HxF7dNZit6u7jMKiTatpXfGZR
            FekY89iYi5lp6XM49iTC88qSR4FIWj1rYj5s+dQxp/5WsSdM3bUf+lioBkVs
            jOGKfAeurfMMeTLO4aOcJUlr62z9f3JRb+AN5c3mRP1NG64d56KfXKCD/Lxj
            7hFsuqvX2IZvsXOZGk1708ue+9JigT1e/LeMV+vJQ9xUe+yv959zXz7mxfsj
            Y3If9BkZHaf3Kk4u2j71clNqqoEgD9Jle+OzRrUPyZd4g9qcugfeklxQpBva
            n2cMzDNruMF/5Cb5c0zZwaV7F15hXsxhPDTxCveBL/SjZhIY4Axve3KDafnG
            NZS2L67RONrBM/W/xDPVcAwdb1WzIsh22/R+j76qvX8W4ebnvvs+l80/SWlK
            OMdW8ysy6YLtqa1BC48Ci0t7eerIKn+NCiNBekmH392Ud6h3ACM3x7EHYE+9
            +6NPUtw6tzXz5jOJVonYGayBCKovaevUMKcF4jn5e9i/vmO8kndYZcRlT4cK
            iyFhOOvIaDa3/XtBC9bUrwGwmG9/AR5vVZ2xrJz9Cx+iPKyF4yrJMw9rbeno
            A/fV+Sf6BkEEdjQxeOPXwYJBLknZfA5YbYE+B6zhJnslaS/12sy5n45OlHmX
            WcsPV6XDVs2asZ9P7ZWv72ygwN9jmfEFgA53x6Fag/83xxH+GIe0Q001X1n6
            Q1GpEELKYzFvyWSJbjXDszO/H9ZrA4H2VguGKZTSv5JtVLdkbyLwer+nhbe3
            kyuJbRiikUn3mfNGplj5O4te6hknX8/xa9xUBFAM2hv8j1LO10GQoa9Z/fit
            4JnNuoDV7pO+mQ2SOtojdzE4Jd26w5KVGBMOHHbXIyhXOhh+59/tl2oOUle6
            CD9fch2/5T7jg/kDUJbb9PnAMw7yODa8u20coJJ4O3F/JqMT/D2OvUZH1bbF
            POyTt//inpPLgHhnHxny24ZCnIW5v+P7i6wJzin1My+UFduzVfNyLUGAEgJ9
            z0dkXD32HAS+z/i3cOnpn7xD3yzLNisoOteynzw/jvTDheFIY5lrjxVNQ3ym
            KovbPeVtjUu2oIcREZrTaLaq/6uxK0mSHMZh93mNJWs9SrL8/ycNAZK2q6on
            Yk6VnZ2LU6YoLiCwL51ebJrzXmGHmnfoFRHtRh4WACs89pbz/fObMVeJ1yXv
            30bWnRlHdut1n8RU9oZt4XaiiDXOK+MKhz8m5xvXOVGp6yin1boTr7uaHg3W
            rGjcZ/m2jpDK69HBlMMHKyNXdiW/hm74ke91wt+X/l4/fcPxrrmp7GkfLHPm
            +vL83jQHzuzvtz5+MJvFvkURtFgPMnTuYQAw2QXLFIN1m3ltSPtuP22+fP5d
            PjbGHPZ814Pc83/qD414I9zfivuLXoe8p6P0pP0+apeCeEWSc9rXg5eK1NVm
            vCA39cfvJK/yr5h7D+OGQG76+YzJgXgOPWMGh1rA8AvATUW794GMkPZYo236
            2P1iU0azM/7pc3o+ofxCeq6n91zHWe7nOs7451z/1HCAE/dr5RoC/9UmxU53
            pmbdn73/Yx0aRWqwE84hf4mnYz5suYnYzMWKG8+GwRoqFcIylQL9edU2i6aN
            Zv3ezXs6DadTDadTf68NuSkwi7w012f/5YIu1YYe1IFZS8/zZcdTw3Ik67Mc
            OrhTmw3wRLLsYgg8YL9rf08eT32s8Zw9j9fkt5ftHKk4eICD8vufJ/oi+/ht
            W4inUJZMxk2i1Z+nVoDpk+JYUJTs8fu/fdSv7UnCtMYx/187CR4Het3Bc5Sw
            wmMn6NPK4de43kGWE9pJ66LG7PZ/y7Vj7VdVPJ0//l9nDM6fkS61gESck/Zx
            q+x7y2XmpTgQrNHa3H9kesFJxN77BhlnjJ7fcC2z+kL3C2rf5W9ckcCKsY/v
            uWUxxeNvgE8IyWYtsS9UK6vFqnEMKYAq8O0au8NvoqHkvhgF79f3qC+HHe5l
            OHnTAw7nayNrgSUTedfHbwx5AljR/Hkfanv2uQxfP/5Z9i5rJFdX7kB8xg1e
            BjEq5poIoNutIJ11MWYwrVrJQ9W/paF2vOU+L+hIHBp7N/GtQIUyNtna+0Qf
            HPHKFd7ru7bFmYFcJDe41Z5/R10jau5JvhVKzkqTeeezDIzGPb4cGm3vehZd
            z7WLWU7O3qP5aJ+h1vUbK7Ri6pRJ0PwgA5Wkey2wLhKj8jCQnh/2vC+cf/2x
            98GeXH/svdheHdR5627f0CBx3zUNH8Pa2dDXo3zM2hk0g/InztSpaa0JAheT
            rQYfxvYYo/lzt+ZYh9eSvPaUf9WeKjEw1Bk5yMxlj6e/zvYlR5l07eoZFusK
            1726aZWErnqExNrY5x7kYQ2L9Rrvq0J07VIOisf3WA3sh+8pP31P663/8Tv5
            Ov2amGdKbiE5PfV1gYMGtzYwFLmgofKPdazv2faPnGIQc1xVd6R02lIBLOlf
            WnqV01o/7CmwBhQ5N0+tMWIsUAtoeo8K96/dN3vu+T1gY7+I057ULFfu/tih
            ICl/IZpZMc+1NT/5ff0X8HKfupHndll8CXQzxUZvxyR7fYEadcAew0bAAtAN
            z1/UJ8uaAP69gbthjEnyYvGS66ltTcbIuGdYuaqzANCYOBEDDeUlNdyfWMw9
            73wD7zvFuo7hr783uswAa6anjqVayZuadJg4gJwM0O6Hfoas5Zn8TNjg7f9+
            tlhGVbvB+8Ga79eGo8HUUgKxD+nufh3s3SEKCPDjp3iTceaK+cX7VH4nuU7L
            C6jJV+Je8bVJ+mWIYIVXY5X57811HLR7AnTHc4YhkXteu7R20gz/eSbQVGmd
            8+F4jX91Ld2+LKcOQXV3oENOTU3XdkMNn+9HrAMiANWaFG+ECUVJ9UONQ/62
            IOlh0ND0UGEWaBsP/x6LoYPasOrRHRjXFTsN8qvcXjFnhjU+xTbz2DXJiopp
            sB7uOBHMT0IvtkbNQ6lvlFQ7mtednh5kcSzPYRgflRvaD/aYnP3ALCrfBc5p
            yKA0xkSsJcnXbezb1oEpQa0X5gHCkgPnL/e0HEcS2DreBFcBvhvFM4CL2PA1
            Fht67Pjo+rnOX1MCf8fuxK393+kYHosx6bHEcejw1S8s6wcLRfxbUUyUf+dl
            +B+KsWVMOL/4H+icQhKsW+82g2IaE6modwOPQFJ/MTvwM0vAu862OCsLwrsr
            TXDYsGcSxAy7YeYR0oWawHH+aGsNTq2SZ71HrSVBAZjrO6bOS8ZLzjexK1xH
            CQ+2YTddm+1rdOsa+Zo5zgnz3fidBLLL75xJ+XnQLwLOSQLs9tUODLfOTqKv
            CAZ1xBcSZg/MRmMIA3JgnKFLcQXy/tzUK4f/vU7u0cV5EZsrDFYjBr8Ba/XA
            QEZq8CzO6GEHNY1NUHvH46JcCSQ457TcpbpLwP9nYP/JnTCf74COpX8H5x47
            e6JA4aAg/hPDBh5Mn+0Azm3P9tXyc5xYMRuLN/Rtcq++77LzY9c0F/UskZsG
            8m8Nkih3am0oZz256yVnoVgsFefFEQLRhb2wOjRQch/JuMUv6vZcmHGNHFBS
            fjLxBPQU4CKXL+oYhRgEaRCco9oLWB2zDVTY0LdszPc+XH7AfsspxuGBgN9y
            H5LbTfI1ibdnfb6UMTnjJkcxuOyThM5bbUdMfFZoT6BLFvU58VeY5aplcasd
            des1Gr8YeJWhuGqzRYV+Nho3OrFP2PGtPDyjKTF+7cBfBuNX5j5QdK/qri5F
            02Xo6HWARMRSZS1jyeOwPauLIzcXTAG9cN8apynmZcv7mhvtwpAHBA04/2yz
            cfXhPY3igaNrLbUnJgeWIZyFNbZNnJ9i2Majy1hwDk9qcwzTISGJDvet6odg
            Hkz24MjHB/93wIeCh/WEfoliRoLyfnfqvgQ92anLwSkJamCAzxg4ggb0D/wO
            34dccCNGPiP4U/H9GX4G2griF7EjVJeamP9GlOtRJR9NwBV1bELkn/ZYXytR
            AewbQ+kWky37N3iJAmz+PG6vF6FUzBy0sT67yaKTgH9ELRp83dR/APlh/fKb
            Q0IXazTqX90ECgLavgmseIC5Q/VCyQERwGp9y8aFT1EeKcnNlEeqqg/gRP++
            oUGH4K1R6wv8zv5/113C5IDki1dtDMb7YbgLcumapoXxQKltuw7NktOdXC2m
            O2P839P+nq5P8w/O9ZIy1caIDynul8G5WPV6OJB4KwQLGKQL0tjgCE9glCZf
            dD0Uy6XUX8rn1hbz/4k5auwp/ww8j3m8CQyg2At5j2kM5Yrk4KdC/SkJaOY9
            CnoWNMP8OB4Jn3PFiTBmqi7qQc446Hq7Ctl9/+e/LuHYsg== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
