<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e052</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e052</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e052</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom BCM20702 Bluetooth USB Device</string>
        <key>FirmwareKey</key>
        <string>0489_e052_v5764</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57426</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e052_v5764</key>
          <data>
            eNq8fdmS5DiS5PuK7L8QN7BvIEj+/yetqpqB7hGZNV2yM7JZHU13Ok/AYLep
            /Z8jHvyX8Tee8L//1/+J/bB/4cCnOvgvx4P/u8/wXDz08X/4WO3geRyx8VpR
            H3mNcfz4Fy5c/DntxxwCDsuxxfrUUHNN2F68S12t1NIyvj/4/459Gd9rHTim
            4KodD3YcqSxtQ4t6hKR78LZhJD5i9NvWzm+BXxe+zWRHhxDs9/N4X8AGIgVe
            Jxdu4xH2aOy3qdyf8bK+XX6dy3+PfuPk27Y0tnZUxGW6nglj+D41BpmP2/NR
            y8WnPGbNd7Un6330HMtMKafy8DHSijYGvG5+Gs6Y9eHIhMqrL7zhk46Iax21
            Hok3WTjvDkfknTFyiaOw8MMdsQ+vXhL24c4r+nH4nO8jZdxnYdSvijfGb3li
            X7Jz1419g7OIfd2OW5xe/JZ43I3v2H8+2Idz05mGkUCIfCY7ABc4Fw7Ay6SG
            aY2axn60r/+q/1f8v7g0eiM/67iNGjlU5bZZT8fX/odTpqHimF8/9lc7vvef
            1zmceuL6uT8Pu047fh1/GnW0X88Tb5v2q+P71/4awzCS+XW8RoOD9nN/6r3o
            +F/PE9YSda719V56UCPa8uv4vSbir/uGEfWct++3dfT5t34/p19n5P7w0M0N
            bJmFOPpnv699nTH4Yo+RQAz3vs8+GfOG//baeE9Oe321U+soY6n23wOdjA39
            euG45m2c7Nf+OZf2/5qwGe3Vwq/rh8veOPwe0CuUvw1oL13sIP66fk/GdeKf
            BKf94xehpDtr/0pY2RjEWkIOo/X0YNFhGVaQ4pEbeFSreYIh9TiOGUhI4hQ6
            +an3Qy43Hhx/BZEqR5FjfYbMpYntjGLrvvhSiM+DUTuPm/wF3GTiIv0+j3o3
            nvuffjfe3ONVxae40CAYInhMmbkbCSSuAhx/daeEf/uHaXsCuOIxHwiP4x//
            +XHx3x3H+f9Xx5V/edz5L4+7/tNxWQSBhRHb+T+4b/ynfTZ9z/Nz+v67M8al
            NE4jgRzyv5u+nP7l9NV/OX31303fv7jvtV/qH6fvndqv4f7/sK9Xsd0cklSF
            btPMb746bb2HAB0GohN6FucjRrCC91PCHJ3gFifUsBNi9MQvZ8FfxR9W+glN
            6YRYPCf+eCy0nRMq4nnjD1yKagQ0pAy9IkNnyAvnQ0/Iq7bbSKBIlOeFi0Ga
            ZUjAvHCxhYstXGzhYlA0MhhaBk/NYGCZeuKFi1242IWLgUrzhfOvDsVoSR5n
            idkpZqdvT//+Br3t0rcexKgLR4N6X4Bi4Ewezxulbh0nNByw/udpEGDgdedq
            ZHsTT9+DsdMO1TRQ2XuO2Z6b2iRUNp3P87DvAddu9XqGLy0Kjnge16nzoL+l
            /Fxi8ytXnhc77on7xPO5+bk8nDlI6gA1aQQ8Xbj6wDOFBwLR1Mmeb5eZmITj
            LD/osONE6gbdjunQJmd/pJBeC1qingyXiQ+VtsvPuaRI5Gqa0gVRMsj2qeIl
            G9FwZr5jHSCngLGJ0NvHs/x8PkMt3RYcz78X7lmp/uVsJFA5XHYxXmhUDfJl
            U3XNdPpUPdKxumk3FJWtY8j4uivr8WepGQwjhaskTtl+HShsrXOYjDAyNN3x
            Plxf1Lz5AQT7TEweHu6Ezv1O3n6enop4V26ydComG5N6RR5/2/GY0hxD7VAV
            MdiQxlDCq38HaeM6YQ0QAv6DDnQuHQNafGhokUDWM7W930nFcvSJxKNhRfzk
            XHbMuXI2TeX42zGVE79ATtKmCia+xmcUjOOd7bkbiaVixHBUKBy5eIK+sNhm
            p4KcSY4Xvhf7Hvl9QP2ZcQTKg87zQCu49l0fmQGB5ye+3EWVMYcIbt9BwI0z
            CBMAx+ZpJNCwBI872YlHvUKMYUVSOQZszqfB9nlMjbylcOGBr8BV199BuKB3
            mt5LFSbH8y/Uf1dyiEyDhyoqVzAnMv+g/vah/iEFipyGX9tDg6uTXBvZ5dcq
            xQK/2xBX4GAk8dh+GdVzdeMA3rdNO4/Hgpt0e/YA9nNN07Vz/XMCSagYklzi
            Jn1wBa2idtv19OzhgeK9Fw6YZnEypyoI3gDDj2QLTe0qGGkuumi8ZpwctTLu
            J/QRHlrlp41YyJVvzMuAwm4uj64FV79H7PmMGM8paT1l85hbI8Ir5fZ9TvJz
            lusC3Rkj3wMz8lQxRtIqHkBKw+EXKBRFkEQFkqG0kQdecNGqCpXMOYySO0gG
            L/JwKAdYDa+OhZ6MXPSQoMK29jo+I4i0Szq0v5MCySn0i5LOTEYyz1srhRxJ
            +ocJCij5xnkGSQVrPICkE4UXroE1AVppkGdDWwoEcTYYYet5GXNojxwL5fZr
            g8lif4tkvuHU9WFd9Ib3vANHjwIlzDvPqDU+H1gNz6RAqfsahz8Hn61xUvE9
            Yo1iWU1cu9zPxS0FkY8RblSnxuh6ZKnJv5D39X5OJJ4hySjNLe5zQFGndLyc
            TVj0M3NJk5rNDcAlVaOTAN1DpJZzDUiRcr5SpMkIW3gYEgUo2NcO18u5GfV1
            UaHZD6MFcZcOhcgfJk+j5MfPOfgbFs2xnKHzgeMz6fyAdJKQeDZjfMi4KYFb
            fwfybKOQcCGjIzSTdoGt31ghmYwUrwkVCpL6OsBQTwq2DB4hFwx0EZy/+duq
            mNj03AnG750aBQeEK7YgbTAPux+1H/weaemSPdDLQxsaWy5iDCaWLk0vMdd4
            djxLfSivLy6CG9Mimxyz54ugyB/Vp7wmkN6cTOr6B9Wvd4KnLwLNAZj3CjLu
            aIMuzk+Xt+o9HnwaywpEFLd2FOOzTrsHFs3l2hEodW3+yfMu5wLjoWpwPn1g
            dcTG1UEqgSIKO3dP0qKqJDUumxoHIXN3SFAQTerP5EVj+Mh/7sfkT1tpMY9V
            730tsMMnyE/n13psFRtlPpQRIkaoLs6hyNxjCV+rdUVOOl4q2zW4KnPQyuag
            VTDutBn33Y3TPNTVnHDLcg2DXE7+zJm24RQ4ArxKm3hePjW0mePB8AZJ4mZM
            HoYS+U6arqgGmnP0E0JK4nvAVHF7HntJaWh6okYeTOzYW/8WmRF6AgQJ7wvW
            /GQTAODlEpkgsIbZejA63288ofG0/az5MTIBkzk2mcBkOvU8cwsaLCHnApPz
            0XrJugBmrDjjCctvihMhT2eH3D1PyVteAGuutH3O4ZIq5s859bBzkpQrnXPB
            Gun7HJCCpiZ+3eeA8sdzwBj3g95Uh/eAQHO3AVmfAYECdHNAoMjtAXlSnve2
            EHI0cQddObvSaGTQeMO91kgB9TbX80Nf55Tk/XqfKz1npYIaN8NO4ezzFWph
            2sDjKXUf6im4VqeCKReXnROh3p3vZCW7T4ifyeIEcrLu8t4HCkAe+xwJJZ7z
            NcF4Lro9G9b7vg+WlXlEKePx/OLfcd8H+64U3Dt43lx/nQw13Jx88oBUzmVm
            FpcxpZ8kS2/V123ZZtqV6eA9rwRD5Dhrp7mGwXo+kjzVtE4TDND66VgNdsf8
            zQO4ojhod36l5SF+kMGbOInfn98Vk6Dj1bQFVbyMQI6vAaUahXdo1xSBkLNj
            MD78BCaS/IA3tfpfPGmSf+C+5DEhi/ip1o+67r6VTaz+kzztiZ/zkzPaGez8
            hDemEpqed4Kgv4C4OCaPeNpjqt7XYsC5ICBYMrpvIaeGUD73u2K+JrlXnJ9J
            hXJoGoLdA/b8fe3njLeZn+n4IgIXBOumzAdL4UMGcQBNHPgZvgbjYJiewdcq
            vir4oiIAPvyW0o/MrIOLK1YRxqKEzqme3HdpBUO1D+kGA5emP5IGYPARwA1c
            3QGBdSOoWLUFEfr3aN/D7d8v+55Txsjb5+THUt1acnZDE+IxjCuc0ipOyrP4
            2HH56xhcbwZIf2obhToLtIA0oQaf2n+cQSbjBTW2QXAObmmGcdtBwscVcRg0
            g0jd55n4PMdRX01mDJ3H+F5LsMLwXh1/M9B0DXrPWd20XHQmm3cfNBkmXlVE
            Bi1Y0T3MtPwDYiPY4tE1uSHb/qvbdxAsYzlYfPa9w4AUF0nHMhK4bjIY6eM5
            2TZcNhljNLcF7HtZpq2MDGK7zZMth6Y/TD4UcoLChLtzZVFcUHXJne8FOXpG
            rVIzW47u27DsJUK2bfeQx+H3CX79HbJZ2a67lm0vv8/q/j3vra3wc/lgXRac
            Wf4dSqFEEQ1oEHe9fPDwhtoPdU7X8QmCXW6TxRCgPjOOIlXRP9uWRCx18D89
            F52HoL9HXkFfEAcWGw1Q8I1q0YWzzGy2fE+MRESQq5ZMYixvBhhLMes56MTA
            34r2mdv+T9/jgvGfjATu65IHZPBCJ2XqeAYu3PG3qClhO1awLQYicgv7MfDm
            Pdl2YRvEgqTTYVJOBYUh00E89/Gn0pOxRunSPOR4hMyern88r+zNH5XNz8Fb
            V0UIizxVJnuhjod9DtTWZ96v7BVZl1wUUS9RSt2QVb7sHPAyyuub52IluxNK
            50F3BI/l81HDJ0tnOL3aeVoJCe+WzuOnZZ7LTd8NzxN3NxZ/r6/zfhh0Ogf8
            nS5gu9dwa17X+bsReDImda117PGr1bj0XN1FSUzpYkAb3A0EBGuwj+fLtmKY
            KpxOAg+jDXT4ZIbSK7jp5QYMb9RHnms/3KQcXmQpdqNXj8dgkBWW+RqUPHfM
            9Tn39nPpYPzbueE9l5wkz7RW2C8IMT2oi6zu9x0QUnhJ3IXTlgaWF54qlYva
            DGyZpAm9fYDPwedJDEjjObIRDrh1eYktfhObBpjSW24e+s+h0F582rHsHLxa
            kMx3fehOcp6ZtU/xV5ww+LlGqCF4nrztI1iy/TMuUKTNxwqWoGtDAm8Lg+MC
            op3a0r/6Whb5lrKe/9Gh1cy4anO/w3TLAhzQODuGrJsgCBg6RXdajXyYrUzg
            XZ2aeYHhqxSssr0rbv5epSXUNbX6MxSW6tQMIhz7HBiKz9eqKVybILK0z2l0
            b1aJgrXPgVH3fDgMjL01PecA474Nx09YjQ4a3jJvo5CeKhJQn3ZNTNapyWLg
            rTcJLjqxQRxnjVUObQWdpTwWsOFlE0YX9mksfNzdLewmAsbcPi9Rh62U6Xnr
            ojqQ5W6a0dJTfrmYiym1jKTcMT0lpV8TymP6RdcPxUWQqSgX1jrsOeT2yWO8
            hjWEOCyPWBlLydu6Ktg52uZQpFQjgbAo1Z0N9+uNFTzP/ZPFlXmTQ3xY3DB2
            NY5/cFhygk+qQNJicc6VbYKh5r6a7xndtWTHr9pvO35yN9gvCSJ+jl/v8Uyt
            KNfMn+MZYqInu/fxKq17pa6toM4YaX3Q53e07d8rN96j7neDuXhT3I9p19mu
            FFAUSKzdUigDvcEyEQe3Z9wBKI0VLn5bZsKkkWjjW2DTfL9HK1IiLyO2Cs5U
            nu1CbzSlb3IrO6fCBqCvudJzy/MxoHM9ra1tOkIUZ8+GgN44L7tni5973rxn
            xW1l1sbRLXEMiviw7JnraPemsotOTvrjp10A+lHhQISgOAJnxXxnWEm9i41f
            sI0bTI9fnKGmm6aMy+LhbBiS6WXD5/JVbsEAnpNbhqJE1p1EOEM69WHnBEXg
            oLjgfsrRMUdwog4HwxesCyscJvGgg6ZiILDKwQZbox8CFkroUp9f6yDwPbBU
            wyHlrh+u/dvWLQjSHI7Pw78nRmMlcyFTU+A9shT4GAYZELV7EB/fK1MMKShk
            yvtciqQwNBc+cZZaQKXyzeBy60i/Ium9cFzqSX8S1XeMS+3PyHJW2bgoMnn9
            9m1i+5CZeeCIkUyepfc6nQuklfVSUI5FAz2focukYuZhGFOsuEMU0LME7vEx
            uXCctN+TOWlSMZZe8vGX3S9tukGFrnEOedIpA6tCb1Ac7QVe3yKdTxUXinK2
            uie/9pMciOdK7BobvJa/fDyzxAKVT0YAyUsS3ewy2dxpWjF9uYnIi3QTBZ0y
            uRRZKYNONItB/HWKqB8/b871OW9dft6086KfF5edl5LO4/uesMzPHQWlrD1k
            Vtt5OsR1IXCJVvIbxm4Kn1GhcKcwiZeeSTyrh4hA4dEW4A1RxYm9E0OFxp1A
            RSe+FzqNu7iBnucqx2xb5JJjuzoYKOKUZ1i6yXkNBtkGncVcALBhn64X48Pd
            pX9dKJu8r186AmZJCszBCRG75iwkpZfKuQv7mew6r/HGu5PL0cBoBWPeRRHK
            k04ZRebEKnHJBUonIVBveIxVlvtzHc90Ayc45UaZeHZcw1kl5pW2shPS7RZF
            3c/hRETCSSIcKoaYW1j9+57PwogxrbPbOS+XaAzN+v0ZSRFnYqjq0jM88zm5
            PfK3wtxSYwKIXzu7wvy8zxNTPFtRaGrhuXD+2beO0sDPLM2VHOHhPMjMHOdW
            KnUeZo6LqZ7PTa4pT5SIrFGpYuLYnUNhDO489+qE5vmQ4kL1iwWQmy5Id6Nd
            uJwcqKqL90o+EwM/G0HoBhXs6GVZEC2L14y3XVOKE9b1EUyBCaeHqRYdc5gv
            PGwFAWj7bHnd2ljn2s8JefkERW/smkFh70uTkId7GDkBUe5mPet1uPI46ZmI
            17I4afAJgRI3z00glcdyQrKPQ/EJpilYzkVCGXMvDFjSHZzQn21l05MYG/nW
            k/gM5Zalcip4va6kc5hgSEV4SU/SOXJ3eMhoMoehmle0WIDuogcMVEPlWzmG
            j4T4Y9mAUVkpjLblOy/8wR4x1wG2Pz6Xwz7Tl4WLnDSoIq1JhjlT3+EFrc9K
            bzanyzILUp6SKOahvhVttCwArHMwcLBcSNICXZOGOYg90j/XsiJzkNhVNmvR
            d9jSeo5OSaqopiQhXSD8vR3m9wsLtm7K0c+J8gfa5/T5zONC/Mfjuo7Nfiyl
            7p3S/h2yz89rdp2A34KfC3b545qfzzdzSn/dR+/5t+fj53rWxq2ioS3Axgbf
            v1PNzHLF5zH0XNTw6P3iXJ9XYt4QXuzxZ2cmBFTQdOt6hVkzVHuMBAYlEAww
            nywIe6o+TDboN9amfa/dt+ZdNs98Ai/TsfQ9pWmfHyaWY40GSdKzJFhsyUKq
            R6JqgXNWr1ojU3qx+cZKH4rMQd2Qi+NcpjGs4gldh4VS52XfISHkuJTmp/1T
            7hS82DCfYjLdmCJFDihzdGJFNKmYd5a3Ea91G6/ZaeD2/ZPmbd+vw7ZvWrif
            V24zOTHy5r1kpFJ5D7Ydh22b7z9uu0/3/fTPWMWCn5dtC3uzWHq7fd/p7Jc/
            X42hWnq6j9tI0howt+U73T0H8yAsf/42LNcirxlOywOKUxkzfLkwoqks5li9
            uyVvZB/cmzRCtY2Sa9t2HPxiWS/NdG9xQ+Yvgt5geNxQdKBD4VSmKl90qYZY
            BnnwWUbkKj5LYNJnhrRasv3DKFEqZE0xp9himWBlE1ZHmBBKQcb8ZEEETI8+
            YrzucqXmxJSX6dSp23PD6r9cWsql9dnqeTtl1wTPwLXxWbmOEPxxHLcSNaYn
            kkypTsxwjFdQhCTQ36fcKPstaRu+c6Y+i+Fzf9ko0ApC9gWEBTtPhYWYx3AH
            8vTbHLqvg1dcjlEYc/wye2Fxu3Rc4PllPDeFpq7FzDWq4F8LsgcocEyehQTD
            eVDPkwuC81JhzbNkLDEZaehFkrvgv3yBpBxJniue7jOCvotj6zYc4ikjsNh3
            SKJaOOnmpT7+6XpprGRxqbNAOeBEYOq5bnKCsgNKgflw6sGL1PklmyRo0DFB
            EOGT61Q6DielKrBKAxCr6xbnohupUegF8k8IGrwr+Pik6XCWOCPd1JjgiMlc
            TMUFYazElFxssb9WsB/YQatj34XPuDw0v5mOC1eICvPdJBC6+XC90LHFcwWc
            Q5FJpjlmjrGRWOxzwThHxpzzw3SvO9/2rOdFI/5uznHnWvY5KQBqnxs/V/t8
            DQYY7fPodGf4uRC553U3iYHyXOe0zwwWn1Dg3d8XGdzQoOGu15nvhou0eeFz
            YHmB0hfXvO2i5BDzvFvoYu1c3BCJVwlNljLmiiVdjABQNrarU+2CffFcWGWy
            gFvZ8cGCVRRsFXEyacy0yQD0zXwRhuk9jeu6IGa1+pi4xcwMWfJ6HoqvZJ8T
            uZcRmQdwjeDSt2giYWcTSyTEQl+xhZAs66FEqVehLxMnm2MwJgV9re/zhuU0
            4z5zEy8zj2hYKc8XGjgNQKqoyp5oefCZVK9VYUDXxwpQqIYyuTJnkLcyi1LF
            qm5PDGvkJPbS/Hi5cqB/kRvYe13iKFkpXswkOhb4aVt5eywYe6eRSR2fRq72
            TyYHyLF8FCOBaykN6qNUNYVwMDq9VcltvTQVxp7oENcNByeiKmlfLCkyTwfP
            XObZ0n3STrIbQkNudIhhkulopc7fsCIhATVBacKqvI92ZqUGY7FjVTCxOQTZ
            DuJMtelaI9D2DTBYA41HI57YYO7godMN4/SUkgjrOKfFNHNsHyvAg8lAIsUw
            sJqwcoVDtQKHSsHPweCBSBOVtTK+7hcvRfShg7f7fsZ51iFuR9MH98MxNZ04
            BkoCVLpKxfhO7ZRj+bqOPS71ZApcpIsd/9+7EzfHajGLjEoOxu7aRuNsnBOy
            68KQ/dm6vZcWTBU3C/do+cdvKv7DezxSj5h0lPRyOm8wSpLxt9Jj7qzs6uDN
            YkRSEcYkeqRbL18iBTbLSY5qKhXlpVEcB2SBzWRoQ7eKISzsoQdnVvEsRdZu
            vgIGZHlSJp2fDGmsJ7X5ig2uZRCRtP+gQAPEQLbqSbzoGb4IbLQUq02QHCng
            QFxdzNAHXV+cCM8WOE4mVFMJxQQ2C51g3qu9D3gq7tQXTCy+N4btFjEmm6jj
            kUwPqTflv4TtD+TZ/eudCjmTiT1MYNmfb34OX4T02HNy3CK930zV28R7Yhf/
            ovKbV011bSIrk+EtWOJ4No8zfjjaWMGC/6boqe6EiqNzqMMV5dAtqL053rUV
            7TUsFSw+dLZaxH7cJ4tFyEF08af4ttpW7I5RMHACZtau8rCEtinUFTQgn0Ek
            QYA4hoUe7vTLUmAEWiwZ3AZEQS/42mxa0fYsv6P8iRC61yGnh2vnISpIfGd/
            SVoeTyZ1wziz6DY+i/Xy2lCQICpJDtCTKWk3+wRhgdVNLJcC4ofpBibQLUBa
            mSBvWbSBhBvoWqqwI04ubRH3yd+pGI7xqCAbWi6eHCb/GZ5xMzP1YoxK2QHy
            YuA1WFYyT9YRNhoFnBKs3gbuGFYZ4djXjPVR+oP2Y/7fcS2s0vwQCRNslNlX
            LqVhsqoCojnVyXCMiU0Q0HBHtd6JnJg5U14unhirP+gJP6eCqJMpjuOQ22Uc
            1JSZ6X6CZUcs4LNcVGSkjEUpg2k/hFZEtlWginacHxWLgz7YlXGb6djNlw/A
            4R7pyOQsKc2V4u1lo3hByL1Lyh+unVixwEkpVK6itPIOs/J7ZeDJH18BZopl
            I57E/FCZiDG4U9rSUZwYIdMGE9ZJMMynDSBM7BMR8jdmPJAYfyyCCRnL+CY1
            R04+xghs28QXJ8S5E6jz3J8hl8/fi+HAmMDoDut8fYes/ZqerxT63k832FCM
            9tymdGTmb5HVY6Xrx7biUtiRAOlYDO196w643Zj1AAkMCgiel4LkTqPPgazL
            zLdplIOtUc8lB+rUC4GSmHGxP2P/uT/X+ijQ2U6t7jvswQtSiIIG8BTr1koM
            Nz1xVCULU76htFmYiUpeZaQBsu+GDB6sbJ4QT54IRtm2j90B6RBvvQPloFKa
            scX3MAYI5zTZup+z0KldOYaRqRJQ9mDVd6tuYubhWpowDTZkRvNcHkvQMo85
            xdKHkuj0OJZRUmfy7cwn9plHjTwABsg665QMa1BqRsYa6so6y2IfWjnrW9kp
            zFYOTQoZ5LjYdPOssCfbjG8eP3z7arGYAhUnNnN+UqvtYq32exyWq582ZRxx
            VMaLoOyVpCzwEqDosJ48ZZjLzKnHKj9BiQzksxhd6eBVhVaB1kNIptGDiWgf
            KfBhKiZzgR4/rih0czFcYcwqg2kVDACIooB4mt/jNo35YpFTI4vPjoJxKaSh
            fPdAzRl8wZOlqIfw3Mrni+85Od4glOBxsdSGPp9mb9OuZj5QYMIvCHPKfWqK
            aLjoIXQlDcYfrqccfNhAXEENykdhnOEmRYWbJg5rZZToiYmh+/8+FH9hqMNf
            QgMUMRhLqSWYRF6OD9f6VqAsOAkq7/ZwN17WV6BSDX6wEjykB/1ee/vJVowQ
            mWFO4nB2gXE5BQrgxQr82B5V8zw/nEDMg1JGgJ1vR+G4X566w8KHCXLWVgK1
            qsO1MdvipZKV52hldAvfq3LCFRBKAcumPlVUIj8onUsKu9NeHBBmykozOSKd
            fgQJEMziZOllUcTzoppQ7zu+qvUQRUPVHfKXUmODtgXLi44SU6NjUjiLAfjx
            5rYGhTgGNTRY/HeMYI2X9LhkabjMTAB7tchzGC5ssaYxBXgzKiVnkcDO+B1m
            RMfKhyC8ciBFjXimS7gsPUxpnneAljkqni9+nu/w52MaH8yPo3vgtW2lhdHu
            yzTq7rmy2oLS/btxIN9G2dLuzOE7/ot7qoY52XuyKExyKbrNjtsYCSilSazG
            Di5+A3/5wWrU48KI3CFEG+Tgx3OQ1/lcdTJjixJU4dzeLk1E4sDRLU8EmkqH
            47IXHJ3Z4JH79OK+5b3WoHw47cXrLvfBNaonGFuN1MDCaIfv6/u339/xJCtM
            q9Osnmzs2+N/6ns5/HuyZ/Wtvsfrtv08rvhx8df38Ov78fN7eX5+D1DR6PoU
            P2Fy+gkamCxWvq7i45huP3faMxVjobSXsb1ty/G24oJUWGmZhp9kXqOel5/U
            /CK2PSaWOvUmuRbD5So4vUFl1Yf8MXMflMDbjo2gnSeGPmm0H03FG/iM/fm9
            DogTTICWE52oS2nJ/NyZt3Hc9bDrHt2uHRmJqV/EdAzIZNe6DkZs8Tzx70Sl
            7HInquBZ6VyF9FCnzb59/w6wvN/PX9+nZ7cH/z62kuPf+6/v7df5TrCHj33C
            JFdw/OrJx1v7vZeZetcyLbjuUjRPqs6uHXdGvPsHp6e6Xbk59tltW/Z11mVh
            hsT0guONZujk5t83CM6Oxiy/+Bt92d/7jsbY9x2F2ZngO0qzM6rbjnr4cRuk
            qPl1dlTmjb7saE3+GY3Z0aniz1P9utWvW3dUZj+vR2tOz/TO3Qbj9MFcOxM8
            /8wI/53B/maI74xx/11E6Vxg+Or3rcMVDAgfsvk6o4tKKlFWT4c9vENVwGPJ
            JmTiu1CAXCxCg9tJQl3K04C+IS5rBZDK/ZEiGikatqftOszTJhEh9WoMOknO
            ZiTQLkP2OXY9RnvsJQ5LeiGeRG6+QvZFTV9g3iLnB+sA+idUQfs9unsP20ks
            tO+XTvbSRQk0rm8E9zyxUpMaKX1IwQzyZvKNqBSDTopM4yOZi49ZYJVeKugr
            zJRiqfMMDqxG9+d0X6u7NvW5yqOFO4K8optMJlo6IziFbs+i+vkmFae6eGTU
            qY5TbJq2B/20gykAw5RA6jGlBopGheRcXAkbhD5wZrY4F229xi2rE+PUPYEr
            BnodIrQeqLtMAGEQheOPZ6aCm5gOGiZ1K2EwYb9Vfg7GZPDu+g38BETH/cyp
            KXw2EghLwWGyzzrAipfcVHJvJucCfZF9Rgb6QyIADmuS8daRKCk5nQwZ0qsP
            KzBnFxPuqOdusNbOFPCTtRJh7NR1jGANdwETr03KHAfkEFhKUwYWywlL0WAJ
            ruXbQQCWelqMGnPay9osVivFzB5zdjkxspCHBKPiHrom+T1IjNDUg+JvPlXf
            9uSELF8OVxEmPkU7VzqEi4DoMlVbvHd8Ppo7jXRIs0WxROWSz7mr4+TOfGBF
            lC9F1XWnYzwrtq03SCmVwo1rTYnUr7oV1rIcwUQV0zb4DvK/Z5k9aRdcEfgL
            RBVwPVhXXDFRhqOlaZoyKM+drrvNXCZVgwTqnQbLqPlSmx3voPZmm9ULb3ah
            0JXNtxn9O6YzW6neWd1UkbkyCHqlTDOPX7tM27Kue+HQ6eyVCeA6z9n+xqQ7
            8/7dLSLHentlocu8LRO3rAzdoqXRnQBkCgqKK0sMpktlTJRRBsJIRMhDED99
            ibjNWaNCP33ugnMcEM0hLvVfmUTKATSqpKdaXo7JZahZH/Tm5K/9194Pjbsn
            C8FxP2Z6bhQUro7VhCj26B4MW9Ejg+NKrOYztGTe/n38cz33tHK2OjusL8Gv
            4ZnDpVrksM9Ndg6j+jwPtvs9707dfHiNBg6tZJMyfcBeE49XBnR/rv35IGqD
            oOXwHJ3sGOcTMQbvVnF+Oq0IX0ECGPonno8zsAJDJNTtrmNuGUeTk/5qAogw
            26o+p79Lp3ews6jHTbEIbvX7XvH+ea8ZbSw4DgpLhvMwEmB2A6MMlqOsAZev
            MrVyKBDd6MQckonZJuoIX8czEN0US7TBjn4ul+r0AY7KbNYLjdOO6+Bx4Xrl
            WpAHfxzK/Q+UVyPXcckbpQFQ5ZSzjdAs6K9t7FYzMKgzHY9nDftzjnOowPhK
            6ZGHRW403R/sVmUAZJ1WAT1mpflEjRcn1YaBbJYpQffmj0iGOf07WPp2Wqxs
            ToWtrUL1t6pxj7tuziB0SXEAX6HDII5YyTaTrll25gf2zbFlLwhC7K/LcSSk
            Qo4dHpWMi/6GWVTqx3GEzsEXIsHhCcfp0SCSOWlmgrVGSG+3fhdlMndCMdF2
            RbMxIUKZQi5+a5/r8Xur+Gq0fErhh0gG4sGI1FCYI/idXnKWN/fwaz9lB1hg
            6s9OxNuf6/G1XcZ1VHrOoOT/8+B42I7B8oP4RH0X4XKHy9DuWmtPHzkI7eXN
            HP+Wt1ASWTto2m1ypdFs+v/OBILJXaU1q4Pc0RN60LSimVicLWK0Q53cz8TF
            Fo2L72M7uAcrtI/4zOAO9arx9CoKGH4yEph2wrB6vXywSQTQC0ne/F7Sf2PQ
            WepSLuiFLnijeWuKT3AVQCm4NAT8AyawVINAUwGKU9f+cNP7GaSAcQuVTMfx
            mEiuJRuXioKHzOSgdgCrUlhG7V45euDCsKzJOJ8wViOWC98Xp8QS7H2ZdeqV
            T3y9DBWFnmYu2xUpgzkhJUJIe6YHtcQZCXxJGceIP99T+Vj8jZmkbp7k7EoZ
            70lGzWK/QJ/ApI2ugD/TLRLv+exQGnalcQflsjAEDquiTlaR3/TCnnxdJkbi
            bSft9r7odGTmPcZmlosiKKTC7LNA0RPopDW8tXSTyDtj8B7OSUxTo3q0tTKw
            5SRXJlVKyTmlhkdoS6HdRICRFiuQF9d6M5/w8An361Y/D7pdprbT+B1EiaEE
            66EDfmzHyuFxS9zdVp2CxrTfqOXiPOYm0cSF+r6+sytZCWBLdHkpnyleLfhx
            ISnoPEpWiA3L147PdnzqvvXg8+XXy/t6/nv238euCPfy9q2YmctVFd3RfnfE
            aSZPUgy0pBrvK9v122GpC7tyHRIumhPDfNuH3wcjVC1707aXP3/YmLH+vDHb
            fS4XT3QbjR3uY1JhM4xFI4FHydOZCV7FJyWl+lzQUTUBWeksBpXok0B7bgZj
            kc8k2BlhuFJS8PiSDAaLSoxaz53KjllYyVZBVywfk/wMsy2Z6PdUXKdSdbbr
            BKnrtEMTwcG7ZzNi8XD1yic8rToYP7LELdhKwf6Wv7+n2JJyOG7oFSpasOtz
            dcZxRtiepbchGza4QnnY8+J3sPR+MbDdDEKH+HBVhIhr0q7nao3kEFPYD1DP
            aNz5WHCewQOxj5AGLMsNycf4x6TArEw7/yoRQw+m1KDFT5+Opj5o+tOHW7zc
            gT6AX1gS+M7fl+z+ynv1xbQS4nxyBVV/7hZEAplDe5DlEMQ8Sj//yprslwo2
            hdEzmLvPahRGW6uyIDkY4by38ySDJ2lATmZVGBYQY0jdHAdi+cIn4G8X5Flx
            e3L7e6XR5ivue6pecCOukFVbRufB+3selAYgU3SVnzb0s62cx7IoDLCa4nNI
            ATzOB+IqK3xGwKYEZq/CgKB3Hwx00GHBZ6VdxvfIlkx4aOvvMdNzirVzv9vh
            +z1k51sxsd4jnPYe6bL3yB72k5181pvx7MC0JuhYgVaIn5/8fBLPfqZ74r6B
            aJR6FulQsOFNf7M4hOBN4vM1n/KHDSnDLUdLsssC+aFBPegEsLCfURxl0uRF
            Eiu3c3ycRT/Utj0fimwqHyqGIqjjzRjSj7RbHhflwMhyBTJvSjlShvf0Y9Jg
            /I/1oe4gZ0xVhMYA9GjKqF5QQBkUU1FQWZQ603zdwbIJzUmxPs9Cc5CZH9Af
            zkV5m7m4KxNaIDOZR0cADaZv1POi9wCLX2KsE4jCKzuS3Jr2GZL5IRCNX2P4
            Ncw54qjb/HfhLVwcvWJni5v8U+ystcWCiYFnxzzdoZCLHacdN4FNPFXZxdSO
            jy/nAFEVXpadQmw62tzZx5fZyw9JgNQaNTVahUPsKzKlw2Q4RWcmrBwVIwxj
            oXuzwHDYq/x+zl6UEEA7eVJXyMznM/mNJwHRpvAETLpch+VS5gJt6HU/0mhV
            T7hYVN6uIzqlJq8NzF6qZpRs7s9qmnGzKqnF4N1h6aXjW3NuQavnUWkyOUh3
            Qtr+A8avT899IipjFiDnYDbFm4Yj0c6yJw9Q+HbQh8xkEOIbTwLOjmJQrlpm
            yp7DIPZ70fkZOCv1qYoHe57MyYQmlhDn5g5pTE72sgVLc1C9SmauC6iQ+aok
            y2T8pvv2YHVhPtpQrJK6QdDKJ+4iPQkPlzVbXnBLP5nVsSUmVstvEqXWM37H
            ME3V/npY6j7rmvn9vj7HMe9qWo3bzWgexSFeaHJfiXbevj6o/8f1rZ3G5xqs
            K7uPXX7s58T/cE6w+940P2qYgoddFvxWkJrBWOi9NMrpmTLQAQWQLx5HkKMe
            VNA4Iz1SXRozMfAJ9dV4DHjke8zUs4CyqenjWZnhPmVvVRZ3Tebt0E0PQfsE
            iddAf2Tc5R/BS6qvbHg91ctAtrZ4MOX0yRTJZFFV5aDZTLWs5GOVxDGxRVLS
            1h2s7ZkZQee+UQUiyf3n3GneVZQAWyzA1pcaxTjLINrvfQ0xhtOKxY/L4ixc
            T308kvCVscvRHHAXRy+BcYKE6ZH0lAVmK5+9P7RHPYNXawlUiPncJH+8ybQn
            MV7+fmzHM578bQp5Z+k5+RtXAu4BDvIo/S9D+d+ZyeESLiS+Q69jeVm3tZwN
            L4bHx/tStnJczFXse63T5ogsODz3vvOirSvUgXm6xJZ7qRFIQGGWAAEF27+7
            igfBhrHndBcsz0Lnh/92ff1WoRxC8S63CmUyW6Y86S/XYPo9xvb93lole75y
            Ue6iBbgic30bI1im54KBFTBXd6N3VedgMFiuQRBqkzIeEV2fZFRCvLKgg5lg
            2VLWGrOAjx03CmatHy5NBb90iZmCgab10KuQ7diNR+aW+CfP0cn+ca+68voG
            DEpmoA1Pfj2UTsGg3BCORbcEWVr0K7YTKpmhiaW+C/nfxKG6C3Wy5ObxjOyI
            C5ZpDKGqyO9B7/dF7cxXkgH/fFwDq9SrqwnRYTCi2ZRyIggMrtLCvDLjI9zX
            Ca6CO0GNeZJLSSanJOd7OoZoPUzvDtpH7Fh6ZQmB/7GOr5/nEC3DU7l/nEcY
            Ckvd/ljV731Nkl1WXT+204/WdjK+WRiHYpElx59p6SCCK9dE00aGnMrd6PqX
            66PFwCKYRWfp9fNZ+YyFIZF5H7wmNXomEYPVjsOke8Ln8OM6jyIEKnQmUWbP
            9hobgtYbEVRPCh10T7RM3c30Gb/B1jULq2zJ21XVcioYxBvk7YK4F16219dw
            4ENnDCz314014fsTweEU/AFr/f0bXpSuDlDdn78F+20nXf75UtAGzJ+2k4uk
            kMth2MzHFlxHtSJPvjTVAKFPn8WXVeCsQw1haLkxizJznGEWbtg+1W3htRTP
            MIpW2JZKnidpWuKg1h+xyRhObXQc9b/+7uVN02MLgYqk58pfCWzIqkHYOEvU
            KQuoqnTPVgsjc9TFPPZwDZbI2SC1FQ2Fh6oObNnO5ejoKIMkrXTbqKUjVyaT
            HO/rC/G9G0JJYF0A4649vzAiXVDHzNPdObxm82WmsjIzdXXKZ5ZBSDqEve+g
            65GdAVivzwBwj+vBu36aJ9QuYIlpyYBQdcVEi9JWichrYrovp1e2pmA82dMc
            IoeK0MEHxDL38TNsArwhiJicVMyG1VX0mZqPLi7XJpUCxFh33d4U0V+lo50P
            GyHUnivxmqfjr30PNYhvvNmKNIY5KLeRykmTdxCgBerEkjQATeculMmgYqQp
            hgiDcQzWyOG5lPRmqr56mxUr9mGQSvtZKhCjZ0MOSrFerJXQxS31YMIGkqI3
            My0Za7Dh+7CygguMB4bUpOyZWA+kMq5+Ou6ofBFPm/m9xEJnfu7ZDfHj+coc
            9yrArjZd8l3LeO5KFLM2LfJqBjZKykLBNHw9MmD6vEkoENU/pJlfmymukzVq
            j2cXHnKqM41qtbdCiuvmZHinmc2zPfkQu03e46/wkjcsa56rM4dphYZ0bR2h
            FOz1QpnUDXoTj1cMoMfE/GXlMpi9PePZvOGBsxEmHmwJtDoS5rYI+0A101Ge
            8OGQdRf9R1roQVY+TvJWEGIWi6yXazFZ4FbubaZHOqI5kZ+C8jDidhbrELmM
            DLGcXpdU8PhkFJO6BhbGtONpePB4pQAo9RHPJTKE0UWHfrLrxMjrWNYctwHf
            n2AxyntQUcN+u3bSCvTrn7x+9uszT4SJReLUmJB/eZ/TReJdBS9ykVNwLPT+
            rC/x9AW5yegf7GrRYNvD7r/H2IqaVWHWNNFFeDKDYyMxWohQZM8udsax9IB8
            FEq6zZvUgCgYjXkxk0X5JuQft3C/L57I5RasmmXdTKrNGxqSde+qIHq+43S0
            Q5eVsrGewSDwM7PYU77dMRtsEDDfdIVANBLpmFD3VRVAt6oJsPJhiwVasiHS
            Ete2k+9mlh8Eg8AnDwdrYz+HX5XZv4pRuPShX3CwhI0yjf+rBmN6/oiFTz5S
            jfkn0OzB6Anzmqw63Mod9kq7vNFTfIO5hulwexHu7QrlSR2lrnwur87Zuf0q
            MXfc/fI7GGoJNiPvolXXFZbXNgxPX/+Gq19DWGPiO92pmxHdjZnl5onEeUgq
            4GRlklEWvfGgSq0sQxFM6nv5vbpcT5HCym49oET2HlDiDPOjIGLX2b88EhAe
            N7nIhg1uF32XKrdmuIAp72mlsIsJBy7K3/NhFAQVbFEBikTmeJgNDbnICm6v
            uLnJqmAHsVFC7pblUxMtzjq8uUHBM6Wb1r/4XhF+Yja4XnlMRxFI+S3rO+g8
            OglZ8JgYPLxNuPYCZhVUWVvMpOCxTNH9F8fWUz1S8cZbh1lCQTOyw9Ji/5T8
            eB11vUxKHlataZRQ+8aLCVtqZ5PacsyCbK6+/OIceZp00EFYM7TbPPAC9D3o
            t9Ng6R736l7TaVMeRIHyf2hR7oQC24oJXKCrQr/msKiF0UQ7Cv8MHQaSHdfb
            mfSgq3V69du0WGMBn6C6mm6MyAmt0CzKouJqtr44MaqQbtTA02kIM4RMILxB
            mmZEaXtjq8BCFhrULHbtnQaa3UnOtCGhWHW5Cpmwp2fuBIKmBvrYNbX9vibW
            S0kqa0x8P10r/nznzGtMcF2cUr4c5xB8S8rjcQ1m6xR3RcpVis9KHRJmHa1b
            LH1WGPq+kMy0t+qO9qYZkdwYkwtW19wFBsXCg8LkFrkrlQGspIVuehpkBQuf
            KQFwDF001aDuHs+YKYuKQCn5po57nftA+Q6okg0TQcdjdTzy3UJ7INemYqWK
            uGhFRoc70OkuhsymunUN915t90JcPxOxt/K5a3TP7rFIJ+9dofbsGt5lW7UA
            ur2FlWbEoX/2lgwjc6Y9s5waoD53/+zZ+2H9+HzuzPNw/fp8v3jt+pz3Z0/n
            CM/Pz/H4ZM7bfjVOSBKPulbfoZdo9+lWIf2Vcb/fZfswzmPDDPl2J4LTpFZC
            t3n221OaJXZ7APoxsPziv4fTfm8eCVhXtQ5Tfvx0xJnTA8igsPxdhX0/ZVp0
            2QPg2Y6fyzMYW9WkN49UsADXEHfseUd05fWwij8Qn36vVsZfhMm1wxOsDjvY
            RoJWZAySEGr/x2gdXp2DiuWVCHVSq6M7SlONRcIIXObJokhzXGHJjOKQNKf5
            kik+52Ge/Lds8LJ7ExS/LE04DI2mcM+lxGPcswhnIoGVYPmBRSo3yop61QHm
            tGt+ilSjkJBxzRdYN/afGn77eu/FVhgEsmWRlkH72H0NVic91rludCswrmdS
            /q5Ks7r9XrEQxyT+KVvGRTtGDg8/Ro2ZLYueyemTbCwUIt9Amy4s/4ea71vs
            H9yW2AYLW1znEpQPU0aorux3V7+qr+p0WEiXA/6x9dawxtlZaUDpugpLMHN8
            LNEaDDsplQgPwxsRUueKZpQPtrHhA+A7AxnQBGiaV8FTQdbQhKKsIGuiVyAT
            VK6ZUCSGCxVT4SgcCik9Jm0tF8nxGF5pa8GAh9ml174eBMZJhORoAVQFcDFE
            lCtCXmYyVS/QyhNVukZLkn4Rouk2rPanCHCQYZp27PYjnWh8rK4bdMXguEmQ
            RGsAGD3AndkK2RXwvFUqKzI2qxeqf6GzPnk88rEk9fZITVHMEetW8cuHcUpa
            hI+wY9/q65rdC+s+qplspd87JeU0aL7psUTVCYt9O9u+bGU/t7dB3nZwsiDU
            UpbJlUOIVmbxmCvpPDwY3UFglm1QVNEnBZvAtLQG3Ohft3cLPP7+8rAyGBVP
            DMT+Vy+vjotYPoTDu+6bwOInBaT7zZ6HzsRIgC4rNXAzlembUCPuRlgSEU9o
            hrk+rCq8bY/SsqSxUf3lkvRWTzUFoUQblGzjyNXZZe4H9UVZOwuAt7dEahsH
            YTgM1d4uqrYEAKM757BrNYxCUZZkt8wBisLurvkawtWZGut6c4mW/Xetr+5u
            y1YpPbccq0HHkOnFMajIjC4ZLpCo735MaG9FPKtq7J27o8VIscE4C2SaSPQp
            X4QHcGep4BDktFWazFmNBJire1ha503XcDOtaHjqSPNswRY8Y8C8pISyZsCK
            NS+D6GMzkUs0q2uVmw3brtx/pWHShS74qE7fiR0z/RgmelDjqNYml+ee2l9t
            P6596rPD5dRiL45nsIR5skauWgaUm/1WvPUG/WQ9QHQY/CC5G+MxPCcLkRnb
            ctmxWFUTx+Z9bmbhWJBcnsSjYvZl4LQEtffisaVE27d8H/1pVo7J6duf6XRq
            NT/vM1Sit5GlW5XDT2KG1v5XYj4MWVvJffQL3Q780Ysn/HHhsC4Sq1rdHAwK
            iUWzK30RJJSomTifw0ggx2wVYz9WyYDRdAhA9w+qFVaC37yO59wcondL3aC+
            QGej7z800QzPxDb5O/NiCkRBITBl6Ef69hEbZhQVupdd/Y1DzfW8MEKkej0X
            iLfQCh1lzqDmQ/PmFlzEmkazTNI85X16cVNQCouKuB1QZGbfdt+y+QEGj/hL
            nya+9GMYxDdUNAcmqUqOt+fmwqUu9xiuBa8vOL/e3LwxxZNjHNIH53KLh62w
            0WY2bd5TVtpyZB07bl1qRfLMXxmJc7oC6Ars8ErEnwpud0FgzVGOXR+DZZ1s
            JPwhHrvpD2r1ibJCoH+eqFz+nCjiGf1tor5ZLOU5i1/kA/GB/7FSft1vs2z1
            PfPJ+MGyWU6z2S70BnNxOFhXM8COb8V0dXt+teB4r4dnnoUhh8/1kl9vuFJa
            BeVNmIVrT+L3ddWWnOibRfDk0902TKEWbiORwnkXUFKA7avjWsOK/fV839e5
            89d1+j9fpxa7zht/oPPQapFKJWC/svOsnjMdPgD5MYVumd8oE1GTSPJHmJNR
            0bzSmzJJSMDlWYLJqvmJec6Q8mTUltiIya+boJncsGxBCAnm05nc58Scl82q
            WEURTT7dkygz0A2TgGEbm9CzD8Bgpr6UuAFCcs+lIISJseQQC5roU71mDEzL
            /VIRAzc3VA7jawOciQAcnkhHJo7v7XdAQ4NfbPB7/xBIGn8OPo855ifzX8h4
            IGCIkfltabH0hihwh+wgQ4ejb05dnOKk2KHRPi1IZEg00SrvDo8XsvXb677a
            iDOHd/EdpzVqPV0BV/MBlsOft0UqQCREBUpvth4eFlrlOsm2WCwm8PSrlC8x
            oRiBxwXnQ28qZCGuOe+PjW2fpSu8oXnHL2R33jGXIbCohKKJXSpoOQdFtHqk
            yPE4Xdn6acqZC5oeHWKzWYmdEV0NpnW/cIS3fPeXBWbVEntoRfdCh2krl5S6
            uzgOk7o4gidxkkwBywrxhcMcnvtchixJKP49bPOsXCReKV8CiFkUlP6dsjyw
            8+X8ys6clOlutjGGqgYwjVUEXqlA56Y8xzA6r8/9Gf1c5vg1RF+cy/xtEIp8
            IM2wTnrJL+zSYPow8TOxsBlTeCxsWpRilWwQNSHBV0q9yNK0f9vX99u4xlaA
            WKtqX6jYNFfMDE1Vv+3jYWSNpHINeYsLzZXXTLMOdqbY5OeiXe4ZT5XF3Pge
            bnU3MC+zBuEsg82piZ1/Lxjvl7TpSjomrEwiSI6O0yS1BHoZth2y5xklTkoD
            qMO82Xn7AoybWMI7FouCbXKxuiOKgF6HcZrjN+Teyy1cDBn2RT42oVDfwkS+
            E4dJzMwFzkLqsXRemsz0fRavhwpeC8UGPXRoU4xvJbM4EhDNc1hu8fc18vzz
            GgnaQ9bCOlwXGIdA7OmT5QR265F2MV1LDh1Da3splS9AWfoQoEsRSGahcMQp
            p9+VwehQEJgkNe1sK5SpcWRDmzBqtEgbz01SPixdnZNHMRE6E940QLdfk6vv
            NZF4Dx4rKj9UoX+95iJT8JRZbqkcTMReNfR38NPlaLBRzXlnsdVLHKqyLANC
            PZHDs8+pgo6dluDzw8dRfvo4RNBV3SA3N9G45MPMMXITnVvUIF2AaJNRZ85j
            hrzDOH2fF/rnvJcLNBZS3K9iSFRh8x/Y960YbgXwSdZAeK6PhzA4F1C/UCuL
            dNR0Bw7bbtHfMgWTUpRb7fUuO016Oy22M2M7L7Y2uzGl3lwUlsMIv8IG5ydb
            /UnN4/mTmgfhlrYOQDOWYZ/4fCaZnGbDPIDNb6LaXG0Wi8xubrYHd8SfK/dF
            rFuOH/0XeD5iI5A7tPUz2LOV2D5+sn7G9nr3jpFYkdJ/hkVjlavQpIyuWapb
            IVbn7L6Wng0eozBuRl9M9kT65UnwfK5uIk3P/DOy7F5RqAVGAmodY6UaYPwl
            rmqhBWIsc/We1njWYujmKGI5ZLIKv+Rye73n4UGFo4GXq7e9HFtzfL8cVuxq
            30oW64C3Fw7KlY45HwVEeP+nWUuC6DE7vqCqGPegEhH1MR3CnD2fayu4OMRy
            y/ElkxMESrk2G3UvYfjyEpIbPArt/cHmGQ1mN8HN7vvxk/vJve7Vm4wgKSvH
            OWQ5jNvtYyUWvziSFE1WeG1CLvYblW51dMZd+WyrKJfJOGMQitrdPZcUnBvr
            UN5KWv9R9xWQmZvqIGyC0BWPEbCRPAFvs5p0PTJX1nceQPga0DFl6+f1izUK
            6+F0HMgpn/X1sufHdAh+Tqe5f5s1vR2vtuxmyh5Uw774rMRX6XHZSUSA8VHq
            GNKkfF1sEuyR6sz0qFc5SqYcbU6w3OaHdWO2elACL6GcfmjehStTJvTnXkRV
            4L3C+blXd640Uz0VTpxf8r5dmalR2TApi1AZHEGWk3q4uPiOtIMQw464D9b6
            HoatIQegkozXRue75BfwwNBm8/1FQLLcisvFQHf/ADso0A9gJMBuP8eHnfOS
            /t2KMOwfwZGU+keEPPENzzR2uXuzwfSewE2VmcBsgnw66KnMCk54gzx6t7ql
            MaQIrVwUDJ1CpazElI55u6UH5TgBuQUXbykB4Q99gaT8rRfA3g/KAPpxvQr9
            blB2f18P+wLxpAu5oMB4uLpMKWauG5bRqxSnYKmX6hufrG/8NxFv03rZu9E7
            KWJWkUQmGqyZ1dHN6vhlVh/Xx8wkssKOg2thLYmie/s1lKQz5Nd4NmEEc1rl
            rVyDJQzngnWxsjEKSICArixObNWNwoum7sOOghS0p7IxtTp3Vs4mCitas/oc
            K6JQzdUnV4XZSl5PhIkPhKCQTU6OUAQ9VGbzltrSERQLgKzBiBSWXWir34mZ
            TPdsGaF3w9QYHuqtSnyMVyRGuJIGae87hvGz3acqxYQFSm6cvcGHP08ipsj5
            5zOMbM9AzPRRvHaKNoJQBJvVUJG4sib+gx5E80RoCVkBY+KvlFN1rYzEw2CC
            qs5MbVYXXlZTonoMIQHVw5KkWXWl/bxmYhSw4PwNykrkfQNlZy89T1BiznF+
            USJSd8QebC/td24LtXJEv093hZQVqB2y3kjgZnN4gzRgwkIlyL76A9RG3Fdo
            i496LNuJGeYCo6EMPBBxy/CNiTU5VDzG8s5gwQvm4xGHTzkcqzUvnUxMO3R4
            oWr7mrfMbmW3zMb8+mf8B0Oa/ivYpMQEYW8m3GGpBUDjKkv9kDyny5Yyr3Fb
            Hdo+GFqC7P1wP0ypwlRFi0skg5EI1lPqcBhI7Y90JqvlgtL47urEay0IsvrB
            1/T2iFeTk74hnlj7G2wSrEBJMIxcuXRiN/W9mCpIqmw9UO6d9X4odrJrnfex
            ltsk5H0VGpW6raddAvwVImd+4jS/jU4+SMm+EO4rlChOzAV1JgNpLRhYENG0
            RE6xiuuzglt8lsDwKAKj1xZfNvEEUsuH9YMSLD3RAooSzIVZcm6QNJZu3oqS
            3cIYWYr0/ewV5bCJ8krOp69YhxDch+obFHPA+jwUY1hGOHF+gEx39lnwjDLa
            rcM15K1Fy5z8imAqfx0EtQjS+uUYS0RjOvqkZBaXSBen27gRyJkExUwO6k4w
            OizH8gWCYSwVtGgdnvvtNW/saExCIMrSQZduUD6DjgN19pr8fqdxvHvXNhNy
            +evY85Te8HoC53oh/y1g7DGBXUn5xgSIO6WMZk87YCHM3SxfoKqNmGHT+Y+q
            ie2ekSKfZ//Eq3csYfjv0+3P4Bhb4ReG1w5gKK1c2F0eD/fjnsfqbAlnoOOy
            Pcd8IRBNwRn+smNn7ngy6Vj+3FGJHW15vfQGZeuGgpSWc5dFFCXrjuL1xXLF
            tt3g5AQBnOzERrbfDZScRb27LuW1MKZC5UIUxIqWxfQ8jsRAxFLGQ7tMvefN
            Jj6NWOV1DLL3X1PunwjV3efqGnPeSrmklyNN78xnWwujZ8vJYG4p1L78pGFg
            NRRfzFUgCk1kaVyUlxY3MRIIF5+vOCw/XaRH2kDYpilv9CCDAI5kRRocuoeZ
            SWQ3JdK1ynFfzBJWt+5jI11C9jsfCN9VmkbMcnWXZiXX1wPXLA6iEPZ6zEL5
            wwvnWF2EToT8W+12+Yf7ncoUkhh5TTZ+a8PFGN1S5JL9p9l37FIZR19ioMug
            xJy7MUbvKMDZKoLZsYMBjIc1h+KC0xKBW9ju8oddb+Y3RxxsPEwvK7e//Qje
            k6IGzMrGAE+C3pD/ojBK+RhsM1l7/eq9u7z5W33RlyypU+6YSwDpuobNdzCL
            oEYVZeY9+IF+5K1gkXqoYIF6NlQwgVKkieZtOj70Y/0AIQ8bKYj5/KwPHQq+
            UP5WUnJSRE+MrsE+elSKvNk9VoA63dH3GATfsia3aZzKJmUbOaz7WwQKY03g
            vjpWbdCZR6xCT9VyRsjksAQUl7jGP5hnP4IsxTTqPQHE/5mexTqT2tlLl1iT
            Zl/rjjXKwv1hYrC9KLw7HqJ+bdnGLl4/x27wOdyNXpUzIBbv/aw++0KwqON3
            hJbPprhLNMQBiRh5YJNlCzFvC2NEHhfaRdBHGDywypoQjliuRRgsBvWh2BgJ
            JOa7GoCJmnGETl9aFzi3MDECTDL58tdXwrW/OO3tqrZ1N5sSKFVp92GY1v77
            T8dKEIVbAxDcMxEA1XG5xVYtCtaJLKiUrFm72O8vnYDskw5fAci7Pbzj6dsj
            uT2Y5237d8LlFne7eHZDPW5xE5eJqS2GODGWclWJAFC9Q8vanA1SoTP/MFzP
            mNeHG41hHszN/cZ4Xk43yEQXIa2VDPMdTDMoDoL/+arfHJrnpUQf1mdcJ/Wo
            jexAHFXmfggR6FK+JkFlP51m+hv2HzO4IIB2Zr2XzVwBA2V3bcmzZl3hzi3n
            DPQXE+GDMcrObnH5k40i98PeJ9h9+SV/0vcLyS+ejrfnYVdRQiQyw/lq29C8
            mSYfXTyVssULzLNbougwUSQtWDCS9jtjHYKakOwvcqfepODmuOLBtGpmz/N5
            ioulpxIkgdAZmDhwEDmjMtsJ/ny/FQ31MP0Cx2HibWOQ56qORtxpgvZuuemd
            +QVkEcyjX0QkyhqLXCG1GkfhFFLTqCwr5LuXaGjCTGU0eX5wHIcgLThiXVwD
            RsYZGdAyuA5BWck/wJxFtqA4VFJ6PpuzGGphLYuGiLOZcn5WI2Tc65vm4BWX
            tb8HsHha2D4XLOZ29HgCwHcP9CxqEqy2L8Sf95ZAOxq2JzpYniCJxbBBD/nd
            ldTRvrAaSKhsFpeffLN6V3ECsv+kXpDnrtb+IhaGi2/G5d1poyYiW+mrO/HC
            UAxVsLEDWspX7M9UK+RTbX+7nqtZ1u5bHEkX9u2m6OYUkY0xfhFziVY9RWIO
            mvyghXDuTOv+imFYZeNHniSzg6OjDcePeWrovi84EENXnhIv8SNCoBORSaR0
            2AkR8bhdENSlJMhC+z7LvocEZH622u/Mjd+VQqwTRvHfJimAsuigkYcv8+Ju
            i1JhYaX2ZWIixJ+/KQ21mj8BhJaoSG0xUih2qiV58Hukths/3+cvB40lSzjb
            /yUOthVR2PN9fKydLR52/v6Orm3rZ+48/C1WtnXi1tO2bnbW7xZHGyF4IxaT
            9TLQ1XfFO+MGLOkg2zOctP67aaryIUCEY5ges0CE4cT37t+zEeVozpHbx6ey
            E2nJvcLx9uJ++0Dtto7eCKw2+b3Xn0obs13lY1eMUcpRYLuFzkKPWbJa9NZI
            fV8JmZPNKj17xTVrZtQqcaT7yomg6u49LmRCZQNqZ0s6vtDG/ZSpFh126vaA
            kINz+IupPWGbu5XPZzWKyLbCBE6AY8y/kJPpFSTGBnJJpihlQQdIYXJIAabG
            EATkoEfqUffZ03UkGrbdWwEvFaeG6rrSpNc0eTrZMKKvlPGZ5mN62XWmG1jg
            fbbvW667Y0roOdWxiL73Semj8gdNRdCWljL++jSqF8LRKaceIUyhjypJo7kR
            CYRHp1VnBUgYBlxZ+0mSEF5nNdzOXj1bOBoQOJU2FcjRlnbo6lQ2xikto9PS
            rejOhRSNgpG3RFLCyKQy/CGgHkI0MAJ4fLflK42sIxOQ4VWkSoM2zAzm/jHr
            WjcMVZINfovMLC7RvXkUJ5G/lSXxZN45ZcgwuIzj6em8Ce8eit6nHnZNLDkz
            vQLBEBa9jy98NpgePkeZVkPIyNn20eikA9rL0ePLupmdCwqRqXsZoebgK5Qe
            x+Qex/yMMbwjD2GEKjFRMtaCg8svfF4f96+3FTx2RJFQXLgHxsHBq7TYCFTF
            8WaGQSWKG8abuQjsdVnXbh4avHno40bh0KL76iRKT1S3ov6kbvSpXgrU0H2a
            DMAN+0qW6dTHflCs21mYsnxqNR0bZX47Lajjk91xAK7GkE2GCnq/sM+bTW92
            utn4y7Y9kXWz3c3GN/vfWvzOd9iesNcz5vif57Lvb8Isw9/XYtKW9lufBd73
            PX9uALmVCERvYmCLg+XXn3l76sza2OLIPHEfJ9l2mj3+fJl9oyyFSM+xxc4d
            LTD3dEvw3RA826kmt/b60gdOJa1oEcghFgQcHPvwKm6BvVTlKnjk0cJEdZ6B
            yCd0J19MZ3a/NRbHnY6ffut0ONy/H7/YTs9910nt/z6+ax67Nc8dRWtWs6dI
            YYHcb94R5+3PQYhtrGxWhxa2P/AOOAw2C0r6qww9N7NaziQzyeAn2X0uvZ17
            KszNzP7MdXhi6zR8dCWRTqtwotjj6mWVOT9zvwXCLFeinBKH3SwWnJrY6W2c
            uD7vgdeqJ1fdcQqJmFEWLBuLuTDnJlKi451iMByI6F1qc+UzjR0qGgZ3hmuS
            ebNjB4umIR8okhmyxkpO+9xRaKXZ5yN67QczqyHuqMzewVCVd2Asqm/lqSBT
            iR8oomYlzvUUBvV3jf+QsnK9PoD2F2eKwwRZFg3sTLUwtH1QJkNuDMe2vBUb
            PghIQi/JZiXFBpAO0fHdbLNecjpJew8bk+m0jB9aEOlyRedoChHfxFHyZBSe
            y061VCKHKMYqdSmCMG/JWiZ9agGoUXsQ6PF4wRvcSi5HpX3/wAX9yF1p52yX
            6kmzDHM/FowarleEeL69NcD4frLh/4LzwpCuN9siWn/n3aCt1rI5r/cSI+dV
            wa2/E2E/CdHLr02ZRC/8jTUiaBZAWuyklD2DuK7Z1KzpURq4/NkCN4VM+wE4
            37ei8cEGVetB9/FvNrfZ1G+f/wsI4WxwJz0czg63OJh9I60ZO9/iYZc6/xP7
            ftmqs9Otvf9mo5eLic3Oif1AHkYzk7Kf2kH00iv66Qu1FwV/lLN4fBP+m5Ov
            KiDVrUMzv2ViZ7Lo6Igm3VtsEPdmvI3PD7rODk+Vp9HCBJls2cGOFy8HGZ3S
            hk9xX2/NgkxVU4pZWcQ8TSWUuq4gqEByNIEEMw+id3BTAdtjsVgJ27T00XpN
            ekhDYXWwghd68VCCWGWHScFEDLIdUjhs9NXYYYJsnzptxoNBCUzCOTyViu0P
            TN995QAXG1ytFsIxX/fxfs7GdaQ7LMPqEvlkc1GrKcqpxqKnKMG6AI0quBdL
            JSNkF9HiBFBP0CSrjOLCgLL/ZYY57AvhZ6giKncDBM9tpOFz3zSE/zj+8eOf
            bOAfjx//FqQcKiBRgOZk0b53Odr5AOpqRFgxrD/I1z+yrVRfkVV4o17feBmD
            te7G2Z5urmOlqbMdcaIpfzdxZa9zUCm8l5bvIpadozm8dH0etq1Y6dZc1jt6
            1ts6hB3fQCWsWCEhGHIcfctSAn3fQVib4S13D89Jp++RARPlCJNt0tPnFMv9
            7BTzVt0cgoW+vxw3vbkDRJo0foN1Jl2E2TJQv68JhZTXYezeWLCde7P5qmEs
            LSZm7hRzZeOe2eAbkyemnp4MSizGKv3hksTjuZj0Wb6cQvQ/3Mq8uVWfJ85n
            Imtc9iyEdR1nNqfTuDQualfMcg5/t5MjGdyXwQyfohVo5ffFseDt++vIwvvK
            Y0gFT0ToTikSEuMUCvYEKX/g2G/tZJLI4jF0SzMEwEaygx5D+xzKA8moTKyT
            37uTwEPkQ/x47axdOWJAkcRLefqn39Xus7yP40Wu+Hwm9bZ8QQ1cV04buIW6
            w18vdiR4o1//bF9xgVZsIhuWg1ZFU/ciDS6TYNd3z+ouGHlyFtwdzwBlB6Lz
            HVj2l05RAPyVLi/BrRkRaKDvPVHF0uG3sykzmgmWzmtR9yiq+i+nZxYdfCZm
            DJED2moe6nkmjBK/znk5VuVT1c8aOoE1vqPip4VHPwPG8axa5Ry3e1qxCa/f
            sz3D5i7nMITmkj5jReWOkG+GVOth5Mtc2HsMpFt8vbMScQ9hSvY9R5SdIoF2
            jERPyPsDWwuCklL5SW05/UltKX+ojbVt+zObq/ygtsOygTeBDQPTuulY+TeE
            lk4C/WIl5u+GbO4ssjCqFXFeyudbGzRTzdZuW7FHcyWzGUEpR59+jk8+QZC9
            vayf9Wt/G3Aye1abaeUtPl5CUpjNMpPEXSyII+UsepdeeT+jK2Inxux0f4Dv
            YyutWFWwYoG5bM98TS99f349c/88MwNl0VLlrNmuXzMSky9YhTEFtqfb6bdz
            OBip6QKN12DSvU6mInjSLWwghWr04uCF+i2fXkVDZMBf1a6/6wm2Pb/t+F2o
            2vuGS7H9nCjGIDpRVpPKuzTw13iGqsoomrrLz652ynGz+7A7yjsBXwQO8C7x
            miBDExLoKVbb9U1wsX8ITu+bvQ5xJ2d6oCl8hWvTzGt3s9e9cf1paG+JUdLq
            ybG8Tg3t1mpOBqa6j7uYpt6t9gE6TGNBzRY7YPrX5prKD7D2X8eCYUvM0idY
            E3R6Z1n59QJTXgIjO8ONkyh2oiWmcv71W7SCFcv7oNGaCGpIEhgJFp9c44LJ
            akZlWKaMfj9c8TczWvTwIRXe9LT0Z2LadXW/VrdegjdqMDU5QzVKRenTzerv
            CdN5KIMKT1eEG4BdheeMjTApljletEld714Ol9u8xCxZeypp0g6fOzyfPhsU
            XHj7kgST6UwHp21AzvBWHKfDYAK70Ss1/G215MOQP1THIaeVbT3Rqimw2b4h
            Qg8FMlkVT3EXcnEtWeVAerDGgHJyfh8gc+qwXLTg2MmkOBY36OHZOuT6yoGP
            nxz48Zcc+DQs913ZOgGrWOlDlg18MfhC96KxzsosUmba1vpc+pzVeX7yM50s
            UFg6n402brVgzcXv9A7qe/fvt3/P/v3y7wfDs1ZUkothEhCqNbKdEvuustFN
            VPVx0qq7rxTv652oRBS7ShmnrhXM3I13b0NyeDE0rH58ckURjXyfB/l4/zgH
            mgYRHSHN5X9gzn/BnHCFnPh/MFpl9oCF0adaz90pAUohZnhEjDv3VWyTtg1P
            3VmAVUDUjOI6ZbEFIRsnSVvw9obteh8M8kcPpmU/vtOxMEF3XCc7w1oHPbDV
            JPZYksA4CEvMKg62FX4MY4ag/FZmIfa5bHupEFCUK60+ZCsAU5lAhLWx8geI
            Rt4T2BjqHdEcprSbcPubN+WIDiv2KyS3jfTyCIG6qSjGipQMASCUsBkmg6Rg
            NVdZpzHnWMAbHA+dqECRIDTpqzZoEO2KTPxYu70Nm0xvZnlayqqwUZXKyTob
            Gk8ZzG78PI8K464uYLUg1TkeG02gpWNnPGRze9Gaaf8E9+AO6kCfGtOdp+bJ
            1BJhSQUDDpGOpkqED3jZloKfulNJMqEqZwpLtZCBFGTxBSvUhhccgQHSp5Sd
            Saob9cYOj1+lFLfyUvu3pMtfqtW+Ft0bw407XmPnoe5KgegaYq23YR+SyYUk
            lSAPwwpUrAOmvsr6oB5MSEPlPozLm+qq85PjHamIFxrB6QDwkcW9OfVh1xqg
            UEY/mcqnXJT27n9ONr7F/mbbMsGeGPhYQR2kI/PT8TJPmmqlfRNH8DwccgeM
            ZVjOJzXDdkJJOS2Zd6nxWlQDcXUUlvkuGF+JfgG1qT3oIT/O02e++nx1QU6G
            SyC52zvFBbdYwnNDDW2XhTCrCsUvfaJ4/prYo94ixI883ARKZlD0rcpXm+Cv
            TtpvM8W59x1vM8btfF3eziUmourafFVvRFkeT1dwtaLsXJz9+y7dEDEHkgDo
            mLoHI5AR/DI67E7Q9/057LJBNibcrbjdaejtSz1NP5iEYPXYn/WWNjh1efpb
            1cTSylFzQDYNikxy7J6KQHHDfcQySJb7wEis9t3ETOhWIH32dyDy8NwVdic8
            vS14VDq9+vau5CCdi064T/ty8zlFOdiWfJ+CKExskzq8rIIFudHqPj/ZcX7f
            ZC0ilF+yPv12Qn47LH8m0FvGmiKff6ILH9aFDmJtfbVl+Ae0lWIonVD2caFD
            +QSW0TxAWUxuhdTjb9dUN4BE1A/iszCYRKhi6/DU62IGanERm3CVW0jolY1B
            iFB+0xKguCxabVi62bItoGBS+bzBY0Ei7P+nAljqlVJ+p7pm0dReDhTLOVSa
            QKKDnhwDA6bebseQesCVeNXnVKCy1EolVvJgyefxJFv1WrFg1DeJiojoyc8t
            LI88GJRN1reWqlPfbS1k+XaYewOm4rD97DQIOUME4I2M4xbm4xi2wcexE1W9
            ytd1EbS8NgNUoRdX5XLQh9mx0jlHUn1IMOIBGa65+/MSJMzhjoKrecW3o9+G
            CAV+1Ayp/ZgXX2KqPv2OLjAxKBcrq29OGF8+WY+gN0VshfU90IRhXiXI/I+w
            SGZkQXGXqR+r4TeaxM+3NUgZl7XlMmR1weaybUQyQI/waat1eiU3y7M+wj1Y
            9rV60x3+fKf7KB4RzR+Z3GyCMkMebAR8LjnzHqbMYx+zHYhLP8iZuGVbMW7V
            +vQrEfi8CbxACAt/d7BciKuhtAa2TmPs7dTnEDDEA6w2LfO1cCzO5Po5OATE
            FUvYujnppHMGFu5Sc5pdzdt1Doije7V6SL+f5fh6FksRHGz0rWhKMiAwzh9F
            bIFOD/bZkpPAOYQe82xZ0/liKjxJ6gOXtvxh78IPKNavbtVgQxz8my821Ori
            cidbcOCQrizmYZPGY4/xk33/MIRY1kaw86RulmqIiOe48LJsjUT84WMajuPp
            CccVx0ZlQLP/WmcrDbzbsHpJ4faylJBQJ+ySxl5SoatCKlwXPaFkM2SgfSfZ
            MmB+mudTfSflcmdkOb5mvqL3kaGQR3L4TXreg72os59fz13sucN8Tubh1h02
            UMv0cey6URph+/n7bbkhVVVm9n4hyNMs9KbYqcowiHTRKDo5ufO29vBq6eoL
            9+4vPtcBPR6c9DYUCCjxl2JHxIPdK4vZwjOfvGBg77akE2Ou1luBrCyzJxM+
            45i8b8KUs22EfGOXJzVzaf3TVRI6CgP5W3mBTpS8TXm6LKnIU9X67jk3OgFW
            35J/RsD7mgZC0rfVhYFJG2ogyELuLw7EvMb7G0XAbS71/X0m80bzPWAhzvbt
            efb6i36oXhiGLgxzNWKj2p8Sqekh0UNXwLZsjsWWqm03QhyYjPgxVZhVppD7
            UNXXpcq6QHO8gvMYRhR/YzFRPqxb6C4PoO8gGCSiGmZ4TWw7oZ2fzX8TcQ1m
            lOCBYBblN5eW4NtZSYsWz22X1EAcSAzc/VCTjiuIv+ey9mkgRbbPxUN4oKh7
            I4zRhGQKCleg6C6CAXzZ+zE8GcdzJXcDjTstc96tn818T0/OYYNOsz7psmO+
            oU9ktxR4gtgz4agwqeZgBoW8jEaImCGbECNm2mtxPH2H/qe1WprEgiBKu7K5
            SERU3LMUN61a+QhGs3K/264TLCEJYwRWNtsgkjdW/1BpXotylkH8zSiR0oK2
            NOBvFRdR78wKSH4ppyza2fekRs9VDAPpRaOZlX6nz2IhnIBLzGUKaiG3ZLBz
            vNHc7ck9vOIM1yl+zdNCByc4l3pRjkarkfYzRDMoyErxJ4iBfpbLwsTDuhPF
            e7cKtZVMVhuViOvJOnQkyCnpk9EIOBp+YiZtYujuHLvX6cSwrt06h4ishB8+
            mtjkQ1adD8zt5aVtjPngO5PYWHdJ1PTMqehshKIgm4mAG+yWXtRhsSPlZjAL
            iniVzFcNzYBMuWoiOVqX3hOtwzZzNePz6i7eBWYZcQ4myN7E2thei69eP90q
            hh4tf2pwh0rTmZRJcOgl6hws8PSBw4xZAgVtwqukHRg6hEFwr8uzsMlG53Vs
            9nOTFyZvDZjVhuqHgiRoOc+eCo4SsquFqIRIllTJkrX9TniOoQ7cVjKVvryh
            HJBK9ngv4wz3YUUyz1epmsyVysLVBCJidQmYcVIB/3NDKWpEXRnqjiz0FWmJ
            agj8drdjvXgJwZTMwPdUTfXbGyC4mfOWJLLnBsXFPF8nXLA4/0WSpHODyhzr
            Ks6lGBRMPdzrAnPuVArMYWE8h7r6nC1sKiYww146x+HZuVYDyQWol+CLZn8x
            Pkxi81cilg1M9jQwyZPlzQNaNiF2vDyejck44fitqXkDlZgi5YrdWwhRegic
            AvJn3hDKSd3bQWaUjSoQHafa3mA0wNIInLWWaYZqx86I5vWpCezWtpouafWh
            ZLh4s55poV9wBz6SeZ54ThRMqkwhJrFcuy/SnvxNDN37Jm02rtj5k1f8ypGw
            zPtD8i0nR5VLX8m+eNcF4jmz7NzFSd2OF+kEUT0hnzSDKq0I2Xb73HRGjbfZ
            Nb0i/VRElbmJ733Zx1MQRvRouWLbwdHYVArjohQvYtmm133ORBEPLysjh5xu
            o4inT1tACif1aGQmdZRN92zY1xuKl2Ta4y48i0dgIsiFV1cl+gtkSFyrL72e
            2gM1jVSqZpmRKhAfYyiNcV+2Fus3bOepmBsbRkzaiSwCZY55oTE8Vb/UCVPE
            xEG8lACRqIE8285iBs7ZTzWXPAZ0v64m0jh2MvqS/dzgMetMg9ckfbcgpPvg
            MyR6+rjQ7ioSYqI2Jo6eFbY4k0PglG+bM3nYNZOAZFjRJ+GfFEPEJCdv9nCe
            GDnD4bu2otGUqQ5j//luOEnQ2UvZFI4IGRs720AAEEODXcHKmbHOIFy4xCKV
            VWgX0GouDORFqHLCiKj32WGlzK8xx6W2y6AugxuvbPpUZJgZ7AhXM6S3hevs
            d+4nqUKsyC5aakfDom1Y1/1SFay0mMQaOcPfvdkBjzlZHpyZgm1S48lAzwG+
            32F5QiIbYZwmQ/AexsIyBrW59GcvvPKML0MW+mPCrdhHIJ+sO4NES56PIwKf
            1b4Txle1Zl8x8h9OAKZj5dANgwd8SoiWlkiI3asesKuW3u35i101Xrsqfewq
            wdB0oRq9WuGe9JvuLPCa+Byv1qBKH2uIDt56ewsyc+cI6fE0cKAruU4fqUIK
            d5y9tMFe+D2biukGmiZeFjQ0iD1wMuhuc+wSAbO6jcMQ8rl1++cRFXN1snux
            NJJiIYOxcWwg2dWMj9aWp/TK3bQUCWN6RvJuyMpR2035pvFUe86odmbMXQtq
            8RYF1xbm1spA4DfeCwtpyhDuknJQWb2JIDW70w3uaO9LQhnKwrF3P71xwtuj
            +2ny9Deyr45Ff/cvT/+Tx2sgYepvdXiwHjOq1VOXQkdLIkbsUwetZXCGkdUQ
            HnYRbLzCmhymRqlTjzVC5wCwW+H3IEZ2U06C46OqekxKdgzmvYHzMRik8Dvi
            qtG6JordLIcjCSQGaTm0jMJ4iAQlMF4ZWiIkGMHsjCPE6mwKAFNbiIItoXOu
            vFXFrdLWxyj2aGq0Qz/LF6WSfxOtnrFty8Q/rHHNpWY5T8HAnT5wsyyWMk6C
            9IKHY3toEAcdrTcxyX8cn6lfbKubbo6Fzzi20ilLjXypgvCerHvCksdW2Ymd
            BaGdIZfAXCXq9cuta+3f7TIgVTXAL4/nUibk09RqEjs5rSfv/TWwB1P2fg8S
            1/VukcUkwhCs/IcaC9k0u0tw5TQ6SJ98WxFchRaL58Ggps76/yrJzlwmbZlL
            hec1R0vtgruMdp6uNe04XNO29RFmP6992+p6n3NXanyMVQNKC4TVhgXDBmvH
            209kox6NZl0CWTPd3l5Tlah+b1/RLqfl813dt7UFNUz50q/lt2XnqPOrq4+Y
            7PYxnNbWkAXXX4XB9I/cu4MxGevFTBnyGSqgjCVw+CziGOkYow+iFWFwnNBw
            l/gD2zMeXdLwFHawaXE7QegOpd+FgPsY3CH8i6FjIwFjv6Q7E6SidSHawgh2
            FZHzuPxffwwzApy3yfF4WRFSV+nllu6yFirTORQ5s60PRlmXEo0pBNRBjHWr
            7oA5kzXaTQbI0bWVYpJjvtlymrhsBlwYlXznPSeJxPbYNZSwEwxLmop49U5i
            EozRzWMGfIZllUXFNFibVpMQ6fB58qxmSUfSJiBcGE2lOatsuMxscmiXDNAt
            MeMLS34xqilM2929zOM0vFfqyvoi0dOjn7ZWQJZp0ETs+qpKPN0nuKAhpCIr
            6dTFlRoI9yWQeDOop2RLyCAZrqpeA8ddVc0kw6Lvssyfpj4pGav5+u5uA16U
            vEmZNMd1/Oxj9UEbssaM12KXd4GTUDdJ0kzZddIdTFY2MG27DkvAubv9DvFK
            FO5j+MWS52zezVrY0jvz9MfqcCGZSZEM2OwVFnYV+gW1LUh6E1Nhuft7ST0U
            DhQbusjfvrhfRHN9QM8pJNTPiSCljOmblF4yZT1bfloKpcx+qq2dGeyO5jK6
            wLoUgONvt1e+LzcqWAZmba3dyPAVw9KGj21OlPL7A6aBm0uK5lsesKDkZkag
            6FyhqdHb3Prt9gxCh+3eC+86u/fCG8pR6e53Xu95qmSOLFq89nJf5Vml3Ory
            8uZgHh5ZNJi9OHvruzRtg3y9uQKXGoOMZH4U2frZVbyayMQtEfgohvaqxhxg
            i+lseXvUqAvzeCzyBd167g6Sry/kcF9Isety0hIFoaf88VpmWhKUzf0wNWiy
            6QLe78pc1Vjf8vuwNRHmBARCf1jwxmIOZ7MaUhEEiJQ+OHa3+vQ0709gK6BD
            3fYooBsd+B4Am9ZL+Q3Q9ZzVMvXq/WryWfW3TU0+zLCImyBgCa25MECLPNuS
            b1kp7khnp9qAB0M4u60Zt1hSW0quxcQkokCsvhtSd2IRmJ68+0O9pewfZ9Jh
            zVkbGdy1Qb523eP2KVT3tm1tYbuQN+jXY3gl0BvXl/msErPBEce0sbxEEDF8
            DWaInMwoieMqpPQTllX1BhHCz8EKuBO0LMGEGZjE+ek8edhMjqCavaCCk3BQ
            Lvzf1q5syXEbBv4SKR4iH0mR+v9PCroByJrJzFaqNqlseWxLsg6SuBrdRaPC
            nrUCg4IEKWLSJ5GUgCOKo/v7OPQ9RjxGDMifZZQdz2eJZcrlEeKFh4vIz8Jf
            j4yCeQuu7Y4kCZBczbJhcCm146d2diOjWWRrJ7dHi7l+atpobKEhNu4ntoXB
            k0FKi9I6MkEluKCKnFhaAC8yOmin3OX5tWUdozEZwCNMzQI2VXsDQ/sCfzSW
            NOTQgMhB6qUZpyMU6sA8i7+z/l3J9XiBsVj2H/GW2E3b1CW2OZm0H+HKdiCW
            KhphMcf3vsT0Fo4gBpMDprLdvJEjQKEwF9OMoG2lDThkCYTvXr3yJI7Bdkj5
            qdLySNUSsp2MHwnLG4TBMWiQFp1KvogyHR62AwzQhMHY4H7VuvX3bzKJHcgX
            frJ4ntGzFnP1+oIKbJP5JH26fVy1vNpM81Y6z+a1ptm7evVPSneZDBDhJvI/
            aG98Msh5ZUWm9JH0gWTrIuagygucdVeuH4Er9Eh4hU7u/kyHthJCkj6gZ2ir
            fqJ4Z1eh2ikzUfLs5T2KX6DnJT1+lQUuJWZGq9xPlbhh9Ro9gdYPBzQ3vJPN
            9DrJojuIowBpOwB2HRWZKfiVGymmijV32sWBbXSLhZ8dMEa0bxa5cBjrxYHV
            lfmohnfbNPaRBR369vn+xv/zcAQXfdhir3aBqrvNUsjpbKt0IXx/2L+NqRMp
            l+ozGpUwkM+jyrNskCXdBzay73uAy+853lht1MrOZeafZJ/nWBdiFNnPAMCe
            45pTaeIyS9sSOl1kd2H4RbX0LaZiFq20HdoxTbs6yYoGRDdLxj44/cGfQcut
            jo2TVXBZW9qHwOqXwdqMW9LNgEyCyYxrmihoZmivLZV89y8+zafBXM1iiaTD
            mL2qHeyNb2Xjht1MWZZ3HiyEBEDO0XMrNnIRO7jpMU4ZOFtMiYLykJiDlxm1
            oeNC8Abs1rhcvZwGMsIgS5h1qMDByYNtEPPRtcP1XA2z/5MzuBFJ2aIJl0xC
            SDH6WkGmAn1kmm0clZKenjDBdm0/aVAmvWc856G+5SRkIVk6MzOSvMxaZ953
            ccSIrXFQqz2eqDxBYi0974rpIyeaC2BpvWAlR/mDjI2hwzNubByEoYSC2Dih
            jHhwYRYDdXmsTDSansxVnvpVRePHvHZU3h1NLMy1Ad5/8BQAh1GqyfyiNu/H
            7Riy7Yzy74L1k6+oWnx2G6OkeMZTQJ1/NvB8kIStAw/pCzKUEB64hITGU4aZ
            pfa6K/cpboOqiWHckJyS2D1odDdAWAP4AUr4GiTQEKBnA4kT86c7m9NVnqs7
            fMLPrwDeAOrKflCHjUVQ+QNKgO21/kGvhdCBHm3wAaaYtXSEJPtgRoyk10zK
            X5mV5AvuHLEERM/1B/NTjl7EyHVvgJ+3DYEdlZ5YHhAb8tluKwNvQnMBxGAG
            XreFZSB5Liv3354wTxAQ82469tObxMBuZcItP/3O/PY7YP45+DsIi9Ep38hm
            xXaRjgJNAzmN/JD4F2ng9/Bbpzjd/8exsdCLg99OpCgl0CUME0ECG7ECql83
            rynr4HbaaQQRJ3C0AaimU2b8CReGKY3LDAcbvrsWlDF4bqo5dbSvkKEIn0UX
            8ZNJsk6J2eZWEtv0dd+0Za3bZC54tu/aDCYByoCo+KYibTk14KALNVfwH6Tf
            1zGpxR8PVk0BsWuwqFRml/wCQbZiPTCNmVeZqgQvvrjKMxnPR0Rrq8laQlEc
            +xQeqqNHpFT1aZkgwv5jmJIfWmx8wKDDD8cEohwg2wZmYMQQ+e9nFAYoJgMH
            6PGZAHug3fPj5sW+wl/+VkdH1HsQ8WGT40tZA/BAa9IJgbIaeIj8O6zKLONF
            WmYWWv/7oB4oA6zUYVnDL7OHIf0J9ZHw1zMRs/D4rCqc9V3C+R9mIsjecWy4
            LD+lVsuyhJT5vQRssgVmp0DpGE9YDe53+etfzmzW8X1ZN3LZQ0VvGyEb383S
            InJtw9TRxGWduR041s320JuFiWTHtRRzAjVHfXf963Ua9z+AGC/bnS01kCBU
            TLsMFpuDJCcIkhp4LmU5Rb4iernI1etI0zCK/D2gqkvQq6KcSiRv1ojI2B7m
            D0QEwkQMilV5El3Tc0dergvMV2k6XZ2RLofNN2kSZImX1SX6+RxtQU+3apuk
            eG4kPITzz+PgbjXM6onXAjoJcdXhidkqNKI6QUjs+Y1EgIfZ4ipInqZmsAbb
            qGz7qih4MQ9zR8suL20xfVR+rPa7wn75NAPpEb2WoJKazD1h2U3BSnXyHIai
            yPrXh6n+cLE0iQdz0xKBDslw/9kHPVzdUqeiXmSRI8Fbsx6FBLgclwUiZWTN
            LpUXuZcs7+RfHsh6oBKFYvECCnowwh5IKWMUottI/oEJ74p+LICbJJqC1rdH
            ig5WQnFMwv/z4bSEjHz+UBCxh7iwux+L9CXfKdwNNrmY3Z+0SbD6cvXqHRfx
            elNlmgI9IphDKS32UQArIevFKul6gEcF0oo4hlJEa+kvKsEtxNIWmf+B8pAn
            BswmZJcB2dvtwxPqlBU4N8L5ErVVNs4BfFVbzoGpoxugAksdaauAeuBiCvx7
            wBP9+sjjkVQtUXnWaqzaF3yi04cCNRss7qqCQGL5wKoxtlTy3m+o+ILSZEfP
            SwXajhhH9TaN5vl5ACe7y3XUrk/NxDK3XypYOPAEgwXrHgTjLK39Wp/cmxy1
            vH5jroe9jmhm8Fq6qk8lLnXk/XofVHRV0xvWX2d1hmIdjXfO1V7ZelBMNBXx
            hiYcDYYIh+JLLk3rFi5Y1+17r2ewkXNcnQWJh6mddMkWGsg1oxOdBF6gI+hF
            cap9DZcb8sQj4dq2fPSiYqiH8U8x3jIbhBuL6lwp5iwVIsmQvl8+S/AQe9Yg
            0rfP/bX98e/tQfYT3myyW3uSr6C9t4B2AHYdDDpDiCIK9V1T3QfZ5MFKQvWg
            dHq7QM2NsohyPiRlWbI0YuzXg3mfnRQgte3heEJTwhCNyGGjoJ/V84tp5lun
            EtZ2CW4vTWurBjW5rjXTW+LmlCabG2RZmF3Uvj/kg9gpCvGtt94z8xtiELmO
            q8JKAg1RoL7lR3pP9kfpVAv45FXQHgB2RhFmxmRjHfRJQDWp54zUeNck2LIa
            ifb3InWwiNzd6NQ0EGrQG6opbyPn7WVf2muJ1Gw0YsxoPXPOu+BVI+X+oecF
            dMAQz2SzZ8wUS8CN07W1CgiE+LCOlFfe3o+Dm+sEFaYG4zmWHsi3QMRLMKFb
            FRPBHV1WYS8FNmKn4qMQaOIp7wtGSVuc1mXkrOto1vaqetzz6ZAJ1iGDiuul
            7LBOPNqVETb8h9epfyuB5gJ2js2njSGG/q3cy/2yfd6vYsmwLrfrhqxB7GIz
            +L7Z+2Hvs+aBfJXo7bXkKXOdioi2J8dUetam09rFe+poXtUEQ2cZ+1BCvk5S
            p8/6jKnOXmVF8kow8JrqSddpjDqQR9NIV2o8Xhxp2WTmAGztRp3XH2pdcjm5
            ukif2hbWBuMZ3oS8VZvgSVXRW8Q/WeYurTWANQ2wbopmpE/sN081nmiUgCwH
            GU5A0i3XRs9NjNqVmNphZhR1nUiKXO1+JQ1OUWTcF8WzloC1B7KMkiMog+cT
            NHfaj5eS1jpkSq9tLVe4FqhGowL5HmS9OlgVCcsTZVtU+8K7Ja6A10nWHs5k
            j/Mo63OOUk3bOh+k/QkjRXyGbda6m38eN+gt7HOtqqZsUstwfHygZ/PdTiLo
            fOm4FHX2pIOVKUQ/7x95uedmon2Lqj+EhEd0ApG5rRAA0N0bgQ4T7vI6eFMH
            u2rlpgaj2iHkIFqb2Dx70g4V8RZP8kBQL9oo8GRFqekl4okiwzFkgJwcIHcm
            slkcvcibz9guwpjKsJIFZD8D5FLGMy7/cm1+TQmp+yQPdNBrzeRzwiolc4Xq
            LXJXkrOoQSE+fhs0k4OWXFGyHBx+LJZ6OyrShbDMaA9FvMLOimaC3peCf4Hf
            imJ66RWvhViVbcTyirHboL8j9z4xDrxfDO3o/EGN6VSaHRkJPA6247GKbFD9
            3t0q49nbepZR7EwlpW8SOd50AUQ1HQljIWjm/XgzhoyAqMEti/cATpym7aRe
            UNfX1ah9JaHL1d+dPkT64FKKvWb93r2u5X0DZvD31k4g1KG0khUvmX0yku5R
            B2sDXGnwmSzz/CyJ06D4XiA6bhKQFFZdX1iHpZqJ4KWU2HWfngpDVgPEdFh+
            e1msGBHfQAaYIk+1i2FGFikCkf909pgIGpJRXAWarpAoTJE/Gt44XGdwPrdS
            +w0BKm0XSCh8naj4kkDqdJKQpIUycXRWNk8bzBZRdTCVyGvNzyR0yDoG3w0Q
            NPEGpM7oHRYayOhT/rnmEn8ccU1jiuc+elFpOEDVc2Z/H5gzqAyyIMqtJeKl
            6PZCXwJl2yHHABu6+LSGB2P/YUEcKnabqm+X9qcliDKqDgM7hJoRN0ABMZzO
            qqr8heeS+wXv71tHkA+WviduD8pgU1E9OlgoVlVyH/BQwNYQjI0TSA/xyr42
            xL9jmPIxtlAZQrBKeXegsd1l7dQLq5Bqp4MT1Rap9AowUgcVilyBE5aFHa7J
            HKTjayw0Xa0M8UJsfexsfB/wxVyeDOV6FEoiQV+PN7WbBjOV8KfW0fOlFSTo
            lCdrDA5Oci+f1c+VxG3w3kMxJZwv8XWlUd2q8NrHO9l9O7dsEZKOxTK6Wk+k
            8uJTF4B6CTqPPZtp/b9D2zAu+rfTklw416bUXNoGmmCs0sEuE1lWLtYd19MB
            R71lPT/ymBYNGgiWlv0fcpRlEWBTjEoxpYYbztKRVcA3YBW3uuBvr6qGo34r
            88z6qomUS5WkyIQpgwUiQeEj9GFjzQhM+0VCtI7xQck/+DmHZXkQ8B1aDh8H
            2ew7joHtZPnnayZNYlaG5WqMrWTsOL30f+BunRQQOx45wBmUJC1NDRu7RQxX
            sxiSmtAgvF5fFcdwIQCdlMKT2VoLzI3cFxF0KoqVxUn7j8Wst7uBVoLNocY2
            AWjfvQubuG7UQil5/ev3FzMdv3+/IbD9h+9PpGP+8H0FKjD+Yf9Lwt/8+/c9
            /Pn7hMTBH69Pz/9QWWZUcdk8e2R73+190fcl2vum7xP4Lbp2SyibQ2bTbbLt
            m+3fbPvL39OQR6XtFDvBn9/24z3awcXs8f0Rfv5PT/oo6Ig6grXJhexfn6We
            HwFKtP1XDobrLsqfPGvlydPu/vvwVB1FKV4seXidQ0Iv6Q/b16SfD3+VOJzb
            SWjx3l7sJd9LeEDAWL97YblokXgFZdb0uQo539X6e/9x9vr+/vmv6P5X0v2/
            H7fHcbz326uNL/dnNb3/aXD/ttiSJSZcX/24cPn4c1uPVu2o/jmqGfo5uYzB
            AvXj5wCmELCej75PH0GwuJG6noMiLq1yOBzR4Lcs/oYWfJBcz+NqX99/rsu/
            +/Jw7fdIIabLjCqTA+Lg2wDI9w+c4IaQ 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
