<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.2169</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.2169</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_2169</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom BCM20702 Bluetooth USB Device</string>
        <key>FirmwareKey</key>
        <string>0a5c_2169_v5558</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8553</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_2169_v5558</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKz+pVMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0jK4j09+pj8TBRh9A7fwV+HPh10x2XQh+wnm8r2JT
            kgLvmAs/4xH2vOz3qjye8dr+uYIdv/zv+7npeC/sGgXm73O4PjHYyeE5yvKb
            zxlyezrG+UxbntHeicx++x7uz/TWwXuc9Sjl4vsds+a72jv1PnqOZaaUU3n4
            AmlFm0feKz8NV8z6cHZD5SgX5uZJR8S9jlqPxMFybHc4It8As584fwt/uCOO
            YZQl4RievKKfh+/5PlLGcxZW7qrRSSBE3g+LjxMmTkh2o3Xj2CBZ4Fi3ixbp
            BX9LPA+vu3D8fHAM16bTj+Gac+EYXiY1kEYUKfSjff2v+v+K/y8uENYRRn7W
            cRtFc6rKbeuWjq/jDxf7sGk/sAO+j1c7v/ef99nrH9fP43nYfdrx6/zT6Kr9
            Gk+8tUzH1fH763iNYRix/Tr/MBJav8aTei86/9d4wlqi67W+3ksDNXIvv87f
            VB1/PTcMkTEO2XHbi5//lh+/mpFADN+D9puO3B9et9mL75Rn9M9xv58+x7Lj
            +wrRM/6399h7frKz2tdx/a3Y+YnMTsePH1uY+8+e9By23HqtnrKdf+zz/V3D
            8uPH17ML1mr9vH9oL8cJ9l5+n7If304x4Axm1H8TRDKW+2th4pq3ce1fx+dc
            xjV+Hp/RZj38un+4or/Lr4W/QvnbwvfSNVvx1/17CiKI+MfGGMFIIImCddL4
            Rd3pzjq+EtgR2EUdIYfROl49RyxXxf45ngaW3Gqe4L89juNs99GW2Jsufur9
            cIrHg/OvcAyfUrCpeoZMFoLPGSXPtBAUEHz+hSGfT8eV+WgPmQLY3d3x7v/p
            78mEUo9XFTGSO0AiRjDGMuvdru7U8m//YdmeAO59zAeC8vjH//y8+O/O4/r/
            q/PKvzzv/JfnXXZe6UYC2WXZP/yXRRDYzbGd/4vHxn86Zsv3PP+7yxePf7d8
            Of3L5av/cvnqv1u+f/Hc6z+9R35J4GuG/3qs3EYC5WWi/+Kif3esV6l0OSTp
            N92Wmb98dxrDheK3MIyDegAIMUawgvcbdIt8gluc2PMnZP+Jv5wQF1Cw8tnw
            D7zihCw/J/7xXKgTJ3Tj88a/58jUfaAQZihDGbpNXrge+kyGYpUXrofUzZDU
            eeH6hesXrl+4HjpQBg/L4KkZPCtTJ75w/YXrL1wPwswXrr86FLglGZKNzYu/
            6de9vn+lHC/96uEyGROk+nXom9CxxZzBFKPUwuOE8gXW/zwNshUa4LnaDUZ7
            YKW68+sONRzXk9XO8NzUl/Nt1/O62Z6np6e19AzfTRQc8TyuU9dBz4z3c4Xa
            s5FANZUbb1t5k9gxADw0ns/N7+WRthgoNtMIK8Vw9YEBNujG3XTpnm8X9FiE
            4yw/iLJL3ube7ZwOFXjGR9r4RdV2uEIRHyqXl19zSfvJ1dS7C6IkYay3JLBN
            bzgzX7gOig9MVITB8jzLr+cYaum2+3j9XfHMKn127skaVZN82VKtO52+VI90
            wW5aGKUj7n7J8KG6gnNmqRkMI4WrJC7ZfgMolq1zZnRHrMS+YzGFpotcOmj0
            yVg8jGeu/Fm8PZ6eeP44c5NVV7HY7XquiPPPaOdjSXPkKg5KYwhgGAvVf4O0
            cZ+wBgjhuajvnUvngBYfGpUkkPjM9RgJNKo+OpjfRcV29IXEOBeJ48ei6pxz
            5Wxqy/G3cyoXfoGcZG6VQgvrGYUL3+0lGomlYvpwViicxniCvkCLk5oeZgsk
            eOF3sd+Rvwd0oRlHoDzovA60gnuv+chcCbw+8U0vqrY5RIi5DgJuXE7YPjy3
            2blHvUKMYUUSNiZszqelkwQVpU1T4cIYr8Bd19/3vqASm8YorSWefyH4u5JD
            ZBpmWLzJHUxzPf8g+PYh+CGdiZxGUwcCuTEObM2awRe/NiY2+N2GuALfX9oz
            KLzu61LAdXQN3HYdz103z+VDA9jPNc0myLARuxuFxqZ/LSCpFvOTS9z7IBbb
            RS3azfUi4YEhsHfRlXNxmqcqCN4Aa5U0DHVwcX/SQVGN14yTU1jG/YQ+AnjO
            EqNrlHg1P7b7QGE390rX7qvf0/d8po/XlLSesnnMnfXKvEH7via910QOva78
            VDFGkiemSdZr9msKpQ+ET4FkKG3kgXdatP5CJXMOo+QOkhmNL5ahxsA26dro
            ZvPYuEB4be19PGnq4W8z/xzXhxRITqFfFG5m2pJf3twcYYGEpX+YoICSb5xn
            4F0n9ngASScKL9wD2wC00gp4rT4pEMTZYCyu5+XFIaRNAnQPPfKjlOgPApPF
            SeAV9BucehhMjQ56bnfjNZQuYd55Ru3xySV5Ju2Guu9x+KA40MZFxe+IPYo9
            NnFvLPTFzzQ5MZowPKjKjVTBuJ9pi3/2fb8/FjLJks4t7mtg0ZxBDBjsUMR4
            5iQDERxB/o+HjhcQyLkGBEcNr+BoMsIWnk+iINFGI6Qz53Mz6uuiDrOfrz1w
            lw4dyJ+fnXhvv+bg3+hiWs7QcU5fz6ziQlBXeN/NCx8y7uQGs8/d2UbhJoVY
            jtBMIAyghXCfk3fizaA1QThfB3joScGGOWtyFUEXwfWbv62KtRzPnVLtd2oU
            HGnic7uGxlPlCAClVHs4VSGcHGn2kj3QNUXnAT5jlnWIrUsNRsw1nh0SBxRO
            MuCOuLEssrEhKXxHFDLV0adcPZDe+JtJwpFtIrQ403eEFgTMewUZd1BtDqgk
            i/ca83N+Kjh/gYj6VpVifNZpz8AOulxVglRbm5nqOhiS2L2YAO4OEgZ0zwze
            6ot0UlWSGpdNjYNcuTskKIgm3c/kfWL4yH8eL/QaaqfFPFa9970wjifI+eT3
            emwXv8T4GDFCEHcnRo6nhK/denKuMk12uwc3Ym7a2Zwn7LmSNq8GBxSneegH
            dMLFBn32xhny3c5kOnp2dXByjLT3MR28ZZsYPF8Bqs1x39hXZHBgl8YfBj0N
            K03XWgPNOTo3ITLxGz+pyLYz7/2leeqJGnkwGWRT8Ft+RugJECR8bqTvxwXA
            apKfIDDJaSh2LZf39Wcls/exwhAQmRxkUU4mePtT47m3oIln6yXrmkDD4ZFL
            K2R/Ds5NUOc65C4f59dgz5W2rzmqjS2szzX1sGtyFCnwmgsGSN/X1GlLE7+e
            g/s8vGaOd2w3NeA9B/in5+T8mQMotTfnYHxI4El53ttCSLeJdpB0dqXRyKDx
            gXt7kQJApiAqI4HzXuYwpzdHCiFe+TPQC5p4NW113yCcfb4SLlSb+LvbQ6m0
            4D6dCqb8WnZNhHp37sVKjz0HEuFdrOzEc4/3OQlsZOxroIvo5cLXAmNc9NW2
            63yfgz1mblwK/Oc0Zh72c3AM79PJUMExHuMBqZzLzCxu44ixm6ekVd+3ZZtp
            F5nwc16pYVxn7TTXrua+NknyVNM6TTBA68fglu14X5DnI8k5T9JaTEAe4gf5
            YZDm/PH93SSpzVzTFlRk7NrvMz97Pm4IArxDu24RCJk53v/DT253/V3Lronu
            F1h3+8mgZsciYBBkONja3RhcGnXdfWuekPwnGdy9B4DrkzPaGez6hNenRprT
            u0BQZkBcnKBHDFc7MH3vDFwLAmrr0nMLYw+Q0Od+cdxvyrSLn0WFcmgagj0D
            xv197XHGaeZn7J/zQ4CaRK06iwi4cGBhEATBmBbeeQS5FWxcfDcRAIlmS+lH
            ZtbBzYVnPPoNCZ1TPXnskibTcLOEKcoiKWwKvjPjSwHcwDUcEFg3goKqzE9w
            Cv8d7Xe4/fdlv3PKmGz7nvxcaliL25sxHp7D+McpreKkDIqPnZe/zonYOUYC
            160AUYD0p+pRqMBAC0gTOvGp48cZZEdeJ6XW+Qx+guKWfpNlXxGnQTPABEPC
            Tnyf46ivWjOGrmNgk2x24SU7/s1AOzbopWd103LRmWxRCNBkwH2GiAxaocKa
            WGn5B8RGyMwo7mmBZDs+sv0GwRaZu91+dxiQ4jxnkz6e/DMUWwzYmc3YrX0W
            j0qMDPq6LXogH6Y/Px8Kr0FHwgNuDiUu0/c7XwX6/Bn1PLNUju6fYdm4Q7bP
            7tGYw58T/P47tLSy3Xct+7z8Oav777w/bYefy+fnsiDS8t9QCiWKaDOX3OqF
            +YrDSOC+LjeDj6GToM7ppr5AsMttsRi31HcQyyFV0b/bJ2dX6uB/GiSdh1iC
            R15B3x1gV4MGKGRytejCWbB7ZMv31GjsgHa1fxIDkDPAcqLtgefSiUGVL9p3
            fvZ/+h2XfJCD156UqVAJca+Of4uaEj7HCvaJd4/8hKwLfF5P9rnwGcR1pNNh
            UU6FvWHfgJju4089J2OP0ot5yPHYuolBhp9fcZs/KptfgxetimSWIPX5NBHd
            w74G3PyZ9ytuGdVNJRdlD8AgpB6n/QGtXdeAl8G6pccBek7k8x63CJ7LvHJ2
            EyiSs2iw0GfnBZbOm9x2E20L6q7pPH5a5rnc9N3wOvrSXMm689d1Pww6XQP+
            ThewPWtUk9vYVfEfjEAwgdyutY49mTUay57cQZqYmNLFKDxYHQgI1mAfz5eh
            dZhRCv28kVjBTS+3WXjvDg6y3vFQsVokXLv3q8fj/cn9yv0alLx2zPW59vJr
            6+r5b9eG91pykjzTWmG/Uz7wTvRVHv7cASGF98JTuGxpYEdhVKlcuAuOn9C5
            TimomtNzcDyJgfPHgsXKJujlJbb4IbZmJBBwu3eCKb3l5mHggBY7hw5WaNZA
            HkEy35WjO8mTZtY+ZWFxwuD3GiEOMbi+jSWYtf0zSVAG5HCFlmhKF8TxtjA4
            SU99pj6LpWj4jrulheft3frDodXM0mpzv8N0y2Llbu6YrChQq3r+1h/wek7A
            vGb4LgULbe+Om793aQl1Te3+DB2lOgGn1ce+Jk8GXN9rCvcmiCztayBal5xt
            q699zS0jcnMYGHtrem4Epvp6fob9RUAlk3S3URigGJOAerR7Yn1OrQ9jbb1J
            cNGJjeecFSzFSCCsm3Y0/6BIszTJAja8bMHoz27GwkftbmE3UTO0zOel8LCV
            Mg2+LqoDnFT5j2r/08VcTMOlK+eO6Skp/VpQntMvun4U25apKBfW2W0ccvvk
            MV4rG1oHLI9YwR6Pvk2tgoPQwZxDwcp2NtyvN1bwPPdPrlbmTQ7x4WrDONQ4
            /sFHyQU+qfVIccU1Sh/hAufxKrtndNeSnb9qv+38KffZpfPn5/z1ns8UkHLN
            /Dn/BvunJxuy51Va9+Zc1RXUGSOtD7r5jnO79Mp991GVsWV+gRCZ2cIXLem5
            Ke5HtJtuVwomE/TWbmmXgd5gmYiDn2fd0ShNHJ50W5oCBtncxCwQq98v1YqU
            yMuIrR4Vhv6XP13KVVl2TQWzoq+50o37KDjF6Ab4+jYdIZezp0ZAb5zDnlnn
            55k3n1nxWJm1kXeFUtnuTViYtcm0uRbtGqhEhe8eguII2lJylzE3rIuNX5Uu
            qfibM9R003pxWTycDUMWvmwYBGi7XNfQT1dhwUM3IutOIpzB7QIBVrZORG9C
            x/MU+DBHcKLaBrMIrAs7HFbwoE+Gc4ddDiOtwSS+aKEEBueuj3UQ+B7YnYGb
            MrmDOMD6Vgada//26eYECRAX5+G/E6OxkrmQqSnwgVkKfAyD3IjaPSiRL5kp
            k6QPmPI+VzFWOS0/xzhBLSBZOWpwu3WkX2H1XjhJ9aQ/if4BTFLNz8hyVtkk
            KTJ5/fZtRtHIUTxwlGUq4KX9PaAciwZ6PkOXScUsyzDoAF9PH0vOpEXq3SYX
            zpPCezJdTlrF0ns9/n77PU03qNA1ziHn+SWOQXMHV9qYX98i/RYVN6LIm9uT
            X/tJDsRrSdu3cT68YtkRQokFKp+MAJKXJHrWZaW5n7RixbIyokaRbtKl0/Uh
            MUXz/RmMIhgJkNPTVp51isIfv8mc63OTNewmOdpNot8ENrGuS03X8eVPWObn
            DonKASAb267TKa4YNVBr6W9Mm4sNaizndgo36iJdA/cQEcg92m68Iaq4sHdi
            qNC4E6joxO9CpzF29/TxXOWYbesgisAtynyT85qMR5GPIZoPcnY/vqvv0v1a
            MTeT9+VLR8AqSWdRuEbsmt6cpFRaOmNg2t1k1zDf3xB3ctGpaB/D3IyUjOek
            HwaMxZ06uPUCcZMQqDeczh3r5z6eeQdOcMpzMmm635s7ginQHHZCUpYiueMe
            h4iomFEYCuNSTycVJVERFcMWF6z+PYCH4RdS8WE3eLlEY2jWB0MnktgU41aX
            BoQJP/mprLtXewa9MAHE751ce37ewcUUz1YUmsKO5PXn2jpKA3Oz3FxyBI7M
            zdlzK5W6ruE6hoEg48lCqQEakTVoWOe5d+d9gS1z595+fQCF6R70MNq9ysm5
            qbpfp5sXe5jf9b52zwoO9HKpfmHXcnaq3VO6Evb1EUxnCaeHqZgngFfi+CoI
            gJ8tbXnd2ljn2uOkZ4oiOvk4g0L8l+Y9D/cwcs6j3M0a6+UhK2xcipJrWUw4
            +BpAb5tnoy6QYfArM8CppWDSuSD38kkpvsA0Bcu5SCjj3rukQdECW/SBrsOU
            poDX+1aatBhghcUibhddWmAn1Ka5q6CBWJKjKDIqs4Ths7z0vzNfZv7j8+f3
            277LQQhxTgsp0iJkXDVZeirmQxsOw5sazqVUgaRskNTMy2yhUgvrY+M+GHKm
            +6NAUZalnc9Ih1vJCrVBBFezO/WbzjqOo1MaKjIpaYZnBP69MQsK0iQs2Ksp
            H34Ns6CCfw+f7zwvxH88r+vc6OdScuLb/juEmV/X7D4BD3zsb/g8f9zz8/1m
            Xuiv5+g9/zY+fq9nbfxUeLOFC/ZMxjggzmFM4PsYGhe1NLqzcrrzeSXm/tBi
            97Fb4tKAEsL7wWRgrcO0hOY4KEXcq8yLpnQZOiv7jc1mv2v3TxHAfWsjwGa2
            c6n2c6MFicOzgOt0ufUhzvkd6s5YvYq2Bzkv80LyuC0dyDKwzmUi/xyekXVY
            +BN6krkt1pKzsUtJpPCdcoFA09E+eIYlRFVPWQYX0PnYAU375M7uLrTn7nzz
            7uPY+eS92+++7HPnnw+/rtxmM2JX2f0YalTign2Owz6bH+fmdjel/Z72nObn
            92yfsdpzmv/eefPDx1djqJZx7PN2JUl6rGX5zqtPw6z+5uOvlydLdJsvKBbR
            NItn5WokMJUCQ49r9+wLn9ybUmYbZbL/LEOlmdIsUcJcQ9AVjIQbSglOIUMD
            vV70kYZYBpnnWUbkbj1LYLZmhmRZMtrDKFG6X00xp9himWBZE+ZCAGUo9xHc
            gUUWsBn6iPG6y5WaO0XzMv33cQ/1QZ3OJJt8UZ9PjbdT6EzwBtwb35WkeIMF
            DYgn+q+mZ4BMqTkVnzDvFdpg8kW6LV1RoSB9hu9kp88G+DxfxgUkeMi2UXBP
            yAIFXkFG4Q5M2L/N+fo6Yw998t5y0kJZSYufS+cFXg/hcVPa8Xuij4q689cm
            7AGmPbNeIXpwHfTqzOu7XEGwwjR25R0ks1HjSRF8vwOX/8cpptPPYf4d6KY4
            r34p+bTeiv2GxKmFi24e5eOf7pfGSpaSdBZIdS4Elp77JScoJqAU6P2nBl6k
            hy8ZE0GTjgWC7J102ksf4aKAvWFCLzkg6W2J8gavRuEW6HSBQMGLJyws6eMs
            cUb6l7HAEYsp5zUIYyWmz+ITx2u9UoQBszqOXfiO20NLm+m4cIeokNxNAqFL
            DvcLHZ8YV8A1FI1ijjPH2Egs9r1g0iODxflhLO3Ot431lMF9N4nWiu/LvuOh
            0F3se+P3at+vk8FA+w5jCqtu35kqcl43o+FYguc6p31vGOzZ7PuE3gpZ3gas
            7DPhe7ihEhkJMEChwcH6W/O2m8LwAJXdLXSxc25uiL6rhCYTF2vFajO67ikD
            29WpL8EWeC7sMlmrrezAXsEuCraLuJgMQDK9gfKELrRT1iTzr64L4lS7jxlX
            zKKQCa7xMIMl2fektEXdz4OtRnDpWxyRyrOJIhJiyXLqMPZjMaIRpT4F8HvL
            5HOOwWBSzKP7dWAVl+uYcxMvU4ZoBE2GBKAt01ijbpmg/8DqGhyTasAqLN/q
            3nvqj8yKzBnkrSygVBMZTIQml5PYS/Pzu85PkdzA3usSR8lKxzroiV3gp22Z
            TsR0O+pDMAhbY1C22/HJQL6cwPGjL+Ge9CBgQnqrl7kpoLqSD1FW66WpGDIP
            1x84uBBV2fZiSZEJNhhzgXqb7pOcyB4IbbbReYVFpoeUynrDy0PyaYHSTKwA
            xNorpxebHbuCScihSekXm6pN9xqBdmqAcRni5lAhNpgmeIN0w6o8pQyytikt
            5ofj87EKv1oeEimmgYWOlTscmwEcKgW/BpMHIk1Uysr4el68FH0fFYZVfsZ5
            1iFuR5sFz8M5NZ04B8oBVLdKBfhO7ZRH+LqOPS/1ZO5aZBwA/793J27O1WLG
            F4U45u7aBt5sXCCy68Iw69m6vZc2TBU3C/do+cffVFCI93iiBebxXS+n6wbD
            Gxn/Vnrc9RRISC16IFrvWxgKd4vgXuYP7iqRlSpFeWkUxwmBtXNmaEG3Chcs
            RKGBMx14liLLNF8BE7I8m5LFgXQsrie1+YoN3Be/o7T8oAgBxEC28ky86Bm+
            CGy0FKstkJwe4EDcXcymv0A0XAgP8x8nk5+peGIBSVR0NKSj2vskSPuD8atC
            WsDzwi1iTLZQxyOZHlJvSlwJ25HHq/vXOxVyJhN7WMCyv9/8Hr4I6bFxct7i
            pRyN4yXes8XGf+bpXzUppVFEVibjUuXk2Dwm+OFoY8m3N1zBU40IOZpzqMMV
            5NAtSr053uUKNj7k4hj3ySIWMg2r5cNcGwk88p7awWqfYneMWIETMCV2nQ9r
            dJvCUkET8plEEgSIY9xyB9zpl3XAaLFYMljPCqrXWJtNKzKe5TCUIxBC9+Ig
            p7/sMrcvHYH2krQ2nkzqhhFmkWh8F+vlvc+Axb9JDtCPmWWz2SdeFnxvYrsU
            7ASYeWAC3YKZlZntlvEaSLiRcbIaaFgxLZ7EffLvVAwHk6+YDTPAsSBDOh44
            bqaUXgwuKZIv9wNegyUg82TNX6MxwCVJdI81mJZlhGPfk64Y5i3oONb/ndfC
            8soPkTAzRln/5VL+5NnxXNjkdfYhRRXvAQIa7lTWO5ETJ0YhwInPqYDnZAbi
            OOQiGaGIBBKD71S8EssTYJGnGWGwnOWiIiNlLEoZTHsQ2hHZdoHK7nGzqCAa
            9MGuVNlMj2y+fAIO9x5HZlVJaa4Uby8bxQtC7l1S/nDvxFIDLkqhchWllff+
            jO+dcfV3R5gJlo14GG0x0zAG9yZbHokTI2TaYKY5CYZmUQBh4piIkH9jqgKJ
            8ccmmBBp9IlRc+TiY47Atk18cUGcO5XxnPv7CJrZH5vhwJzAuA7rfP18rNOa
            nmgU+j5O/xXuYf4Ts34is3SLrB6rjff3zowauNeeOtasJNIv3QGPGxMEL1HT
            6E4gtzKLbcpZ2bFMZ9qUc0BPFvVcigtNvRAoqZTPd+bg7u91PQpKtlO7+w57
            8oIUoqAJPMW6tRPDDa2ZQeJUmKsNpc3iQ1TyKh2SkH03ZPBg+fWEPekZXJRt
            +9wdSQ7x1gtRDioXGZ/4HWD2YggmW9/xM3W5cg4j0xqg7MGa71aWxJTBK2rB
            NNmQGc3zbsROw2k7JZYvSqKjg/FwUtJg6dnMJ46Z54w8AAbIOuuUDGtQakbG
            HurKEMtiH9o561vZKUwzDk0KGeS4eHbyDK4n24pvHj/889VisQQqJGzmtaRW
            28Va3T69LMk+bcrAXqmM7UDZK0np2yVA0WHRO/O4lQyPXX6CEk9GpxnbZx53
            VYVUoPUQimn0jGHIfqYYYKCSSTyPn8fqCeZY5/swZpXBtAomQPmnYDb+jGwa
            M9NlcAwsPjtUx6Xww3XJ9iX/KtETm6iH8FoayTG+1+R4g1CCx7BSG/p+mr1N
            u5qJPCQjEuZkPqgropgjKJCupMH4YyWJng2jGSTQoHwwcfy5SVGs8MC2CqEq
            KfMozF0IKu/GE7ET/CU0QRGTsZQGgkWEScUcQ8kGU6Asqggq7za4Gy/rO1Bp
            AT9YCV2118fMIcU+2QoHIrPBpTAYu8BOOYUi4IUF/NoeleE8P5w/zFmSh9mu
            t7Nw8S8PXTbjIaXLdwK1qsO1MfvEmJPV1XBn9Nvi7qpy8Fw/SgHLuD9VDSJ/
            J51LCpHTXhwQZkonMzkinX4ECRCs4mSZZFF08qJJUe87vqr1EEVD7x3yi1Jj
            g7YFy4uOElOjY1IcisHy8SalBsUmBjW02Z47spz/igzBkTVOCAOGz6eHjMNw
            YYs9jSXAm1EpOYsEdsbfYUZ07HwIwgssGmMb8UyXwGN6mNI8IZhxn4rxxc/4
            Dh8fU+5gfhzdI6ZtKy0MU1+mUXdPctUnKN1/Gwfyzyhb2p05fMd/8UzVGyd7
            T1ZzSS5Ft9nxGCMBVvxagMROLv4Af/nBktnjwozcIUSb5ODnc5Jhol51MtWK
            ElRx2N4uLUTixDEQAL0bSkeGHmQvODrTuCOP6cX9k89iVCWLCPG77tIc3KN6
            ZrDVMw1sjHb4sb7/9vs3RrLCtJrK6lnC/nn8b/0uh/9ONlb/1O943Xac5xU/
            L/76HX79Pn7+Ls/P3wEqGl2f4idMJD9BA5N+9OsqPo/p9munjakYC6W9jM/b
            PnHedM2x0ANngQGcZF6jnpdf1PwmHhyY2OrUm+RaDJer4PQGlVUf8sfMY1AC
            bzs3gnaeGPqk0X40FVrgO47n9z4gTjABWk50oi7lE/N7Z47FcdfD7nt0u3dk
            +nf9Iibwv2u7Nw9GVzGe+HeiUlq4E1XwdHLuQnqo02bffjytX7/PX7890GJy
            qe45hJLjv/uv3+3X9U6wh899wiJXcPzqicJb+72X2X3X8kDKLhvzbOjs2nFn
            dLp/gICq25WbY5+9eyKR32fdFk6AHavAtUcxdHHz3xtlZ0dhlt98R102ys+O
            ymyUoB192SncOzqzs5/jjtYc+9POS36fHY15oy47SpN/RmF2VCr0HRXa0SL/
            9L/HPV6P0pyelZ27Tcbpk7l21nb+mb39O/X8zebe2d3+dxGlc4Hhu98/HVpg
            QPiQzdcZXVRSibJCOBzhE6oCHks2ITPWU+2vWIQGtxN6upSnAX1DXNaKFZW0
            I0U0UjRsT9t1mKdNIkLq1Rh0kjTnAo06jiWLWCFFe+wldOJQIR8MNnuhfVPT
            F5hjyPXBPoD+CVXQ/h7dvYfPScC275dO9tKwtXrb+kZwzxOrKolzQB9SMIO8
            mXwjnMSgkwKqEqs0x07fqvRSQV9hVhNrlGdz9De6P6f7Wt21qe9VHi08EeQV
            3WQy0dIZwSl0exYVvjepONXFI6NOdZxi07Q96KcdEKFpmBJIPabUINcoc0dd
            XAnHgz5wpqQ4F229xi2rE+PRPYErBnodIrQeKJ9M1mAQhfOPMT9i06NDraJu
            JfAkHJfOD70rMr4+9TfwExAdjzMZpnBsJBDWcMNkn3WAFS+5qeTejK4LKC3p
            ipkabyJYDeuH8daRiCY5nQwZ0qsPqZ+ziwl31PMwWGtn7vbJuoYwdpo5ZrCG
            u4CJ1yZljhNyCNikKVuKdYDl1GQJWuXbQQCWeoqt9jZh563NYrVTzOwxZ5cT
            I4tuSDAqxKFrkr+DxAhNPSj+5lP1z56ckOXL4S7Cwqdo10qHcBEQXabqE+8d
            n4/mTiMd0mxRLFG55Dh3WRsJgYkjVMZeRdV1J0zwim3rDVJKpXDjXlMi9avG
            hHUnRzBRhefoHURkU2ZP2pVSROwCUQXcD9YVd0yU4Wj5laYMHmlviG3mRrON
            650G8534Upsd72D2ZpvVK4x2hc+VzbcZ/Xdgnj/j0pwLM1VkrgwCVCnNyu67
            ZdqWdd0rfk5nr5gbldfu4PwGvTvz/rtbRA4m98pCl3lbJm5ZGbpVGjVzmqdJ
            +MCmeKaZLpUxUUYZCPkQYeiD+OUEL8wNV+inz10cjhOiOcSl/ivrh4mKTpX0
            VMvLMbkNtepDCRRfx699HBp3TxaC43Gs9NzwJdwdq2GVI52Wyiwa8sjgvBKr
            +QwtC7d/n28VptoldXZYX8JNw5jDpbrhsK9Ndg2j+rzuKc89707dfHhxBU6t
            ZJMyfcBeE89nXh527bW/B8ItCBMO4+hkx7ieqCd4t4rr02kF8woSEKEjPTez
            VVZgiIS63XXMLeNocmIsV2FVPzjDek5/l07vIDYLKNjGE8Gtfj8r3j+fNTve
            iSlqPIdhybBJ4JQB2bOSi23C5atMrRwKRDc6MYdkYraFOsLX+QxEN8US9QA8
            067lVp0+wVEpyXohAhjxvA4eBw1wy7Ugd/44lKcfKK9GruOymkKxierwLXhe
            aFYwp8/YLb8fsrlTq7YMXx/ngM3PYuArpUceFrnR9Hyw284UdbLOW7hAY1aa
            T9R4cVFtmMhmmRJ0b/6IZJjTv4Olb6cFk9C+tVWo/lbu7XHXzRkEXykOYJ9Q
            uZXTyBK0mXTPsjM/cGyOLXtBEGJ/XY4jQQxy7jBUKjL0N8yisjxhbCbiAQ0S
            HEY4To8GkcxJMxOsNfI9jQRWioJWmFBM9Lmi2ZgQoUz3Fr+17/X4/an4arRE
            SGF9SAZiYM0ApX6ml5zlzRP8Ok7ZARaY+rMT7vb3enx9LuM6SnZkUPL/e3I8
            bMdg+UEsob6rZ3nAZWh3rbWnjxyE9vKmfH/LWyiJLPoz7Ta50mg2/f9kAcHk
            rtKa1Szu6Ak9aNrR53NSabQEAgt18jiI+mzRuPg+t4N7sJoakziDO9Sr5rO5
            N5gxuEMvpmyeevlkkwigF5K8+buk/8Gks0alXNALXfBG89YUX+AqBFRwaQj4
            B0xgqV6ApgIUp67j4ab3M0gB4ydUMp3HcyK5lmxcKgoeMpOD2sGmSmH9s3vl
            6IGjqcDsyDifMFYjCAvfF5fEEux98y3PXTcEY3rTKz3NyjWIlMFckBIhpD3T
            g1riBKeZLKlKjPjzPZWPxb9BqZxunuTsShmfSUbNKr1An8Ckja6AP9MtEp/5
            7FAaDqVxB+WyMB4Oq6JOln/f9MKefF3Y68Rwm7Tb+6LTkVnymJtZLoqgkAqz
            zwJFDyYVG8lI4I5CWu1vOCcxTY3q0dbKwJaTXJlUKSXnlMYdFya83URrkRab
            +gadZqUU0UN9wf2+1a+Dbpep7TT+BlFiKsF66IAf27FyeNwST7ddp6Ax7Tdq
            ubiOuUnUzfA66zur0lL4uRkteJy34lXsPEYJlCPGVB9mcXY/P9v5qfunB58v
            v1/e9/O/Z//72KXcXoq+FTNzuaoUO9rfHQybSZMcT0sqzr6y3b85MO4uOYeE
            s+uW+bYPfw5mqFrWpn1ePv6w8V19vDHbcy4XT3QbjR3uY1JhIzjicgfIIySM
            zASv4ouSUn0u6KhagKx0FtU77EWgPTeDschnEqWM+FkpKXh8SQaDRSVGrefO
            QQdtr2S7oCtmj0V+htmWTOh7Ku5TqTrbfYLUddqhiQjm3bMZsXm4e+UTnl7J
            2zrL0YLtFBxv+ft3ii0ph+NufarAwO7P3RnHGWF7lt6GbNjgCuVh42X+Kajk
            YmC7GdzNIi6uCBH3pF3P3RrJIaZAG6Ce0bjzueA6gwfiGOEHWEIbks/xj0WB
            WZl2/lUi3h1UpkGL/2B67G2xg8GpeLnFyx3oA/gFAoHf/PuS3V/5rL6YVkJM
            Tu6g6uP2yt8s7kSWQ3z1KP38K2uyXyquFJ7Owxx9lpGA4dGd5wQRzns7TzJ4
            kibkZFbFJdgi+le6OQ7E8oUlwL8xO7C4Pbn9vdJo8xX3M1W7tqFSyKoto/Pg
            8z0PShOQKbrKTxv62VbOY1kUBoJN8TmkALLCqTAXmBp2ZvkB7jOlQEnRZaCD
            DguONRR7j2zJhIc+/T2I5SPWzuNuh+/3kJ3/CC5K7xFOe4902XtkD/vJTj7r
            zeA2iJP2K1YdXNCvz349iWePiZWdmPCeDJ9BOhRseNPfLA4hXJL4fK2n/GFD
            yjA1eCOBEITgQyaSfEBOcZRJkzdJrLLOxFDR7mXpRPB8KLKpfKiKiQCMN2NI
            P9JueV6UAyPLFci8KeVIGTbTj0WD8T/Wh7qDnDFVERpDvqMpo9o+IVxQTEVh
            XFHqTPN1B8smNCfF+oyF5iAzP6A/nIvyNnNzVya0QGYyj45gF0zfqOdF7wE2
            v8QY9jaJXU6DJLemfYdkfogg4/cYfg9zjjhCNv+78BYujl6xs8VN/il21tpi
            wcTAs2Oe7lDIxc7Tgft5tpjYYm/Hx5dzgKhqLMtOIagcbe7s88vs5Uw3KKmV
            XjN36A+xr8iUDpPhgYWehIBTYSgMKro3C+u+jBJLfs5elBBAO3lSV8jM5zP5
            jZGAaFN4AhZdrkPoJcrSKErSk0ZLnwOrgZRKE51Sk9fxZS8rM0o292c1zVgh
            T9a7R+GlKKHtW3NuQbuHucIjk4N0J6TtP2D8+vTcJ8IpZiFpDmZTvGk4Eu3g
            yztA4Z+N+4fJIKTrSaTYUQyDVdtM2XOYxH4vOj8DV6U+VfFgz5M5md3E2l/Y
            lGaeZ+lN7ZPmUFJnWB8kBipkvirJMhm/6f55sCwwH20oVkndIGjnE8KCnoSH
            25rdOPhJP5kVoCUCVRI89opS6xm/Y5im6nitlrrPgmSdlz7nCUFhKXXhZjSP
            4hAvNHmsdLtu3/8uP+9vnT4+96j5ue9jlwrbNVf/768pzZ570/yoYQrXdVnw
            W0FqBmOh99Iop2fKAAIUQL54HqiWgCYsGZiRHqkujZl49cToajonf86ZGgso
            m5o+xsoM9yl7q7KIazJvh256CNonSLwG+iPjLv8IXv58ZcPWIZu2ilFvUhJY
            Y5pJAmRRjO09jxdj5tw83SAzsUVS0vYdrO3JagUdG1XojzyuijuleVdRAmyx
            AFtfahTjLCNjGu9riDGcVth9XBZnUZLn80jCV8YuR3OkXJy9hKIJEqZH0lMW
            mK189v7QHvUMXu0lUCHWc5P88SbTnsRj+fu5HWM8+bcpyJylcfJv3Al4BjjI
            o1zAfKW1M5ODIvn8TSZ2M8FW98yXqIbnx/tStnJczFXse6/T5ogsLDz3sfOi
            rSuEAPXh2d52vHkIFmYJhDA4/fx0QbBh7rncBduz0Pnhf7u+/lahHELxLrcK
            ZTLbsDzpL/dg+j3m9v2NvUH2fOXSkqkvt+JmvJmaMQSTkgXM1d3oXdU5mAxi
            UhA92qSMR0TXJxmVcKwrEcWaL6SUtcYs4GPHjYJZ64dLUzqspNLRQw7j66FX
            Idu5GzvMLfFXmm+yf9yrrry+AYOSGWjDk18PpVMMRVKpxnRLkKVFv2I7oZIZ
            8lfquwL/TRyKu1AnS26CprNDJXimsWcQK/HnItzPTtwJXivgroFV6tXVKekw
            /M9sSjlL/wkgDv2RuSHHe4z4y3gS1JgnuZRkckpyvsdzOtHdmd4ddIygr/TK
            Eq7+Yx1fP6+hku2p3D+uGxMSbvy0qt/nmiS7rBJ+bKcfre1kfLMwDsViSs4/
            09JBBBcmg6aNDDmVu9H1L9dHi6EZeMg4rp9j5RiLMKvvg/ekRs8kYrDacZh0
            T/gevu9zFUUIVKFMosye7TU2XKw3DaieFFonk9WydCjpM/6ArWsWVtOSt6uq
            5VQwSAHv7YK4F16219dw4KAzJpbH68aF2McL2NkSPMsVf/0tEV1pCfTsz781
            +9tOuvzzpaANmD9tJxdJIZfDsJmPLbiOKncBDXL+oFftVDGetlXgqkMNYWi5
            MYsyc55hFm6IPdVt4bUUzzCKVtiWSp4naVrioPYfQcUYTm10HPW//t3Lm6bH
            FgIVSc+Vv/DWXg2CgRl1ygJaKt2zncHIHHUxjz1cgyVyNkltRYPPYUFvIGRX
            f2FNBkla6bZRW0euTCKQPukLqr0bmkggUgXjrq2/kB9dsMTCfPccXrP5MlNZ
            mZm6OuUzyyAkHcI+dtD1yD1GqFEGgHtcD9710+iAoL6C01AyIFRdMdGitFWi
            55qYVisj7STuyCtmT3OInCpi/kJ/HTzG70ei2gsiJicVs2F1FX2m5qOLy7VJ
            pQAx1l23N0X0V+lo52AjhNpzJd7zdDjM76kG8Y03W5HGMCflNlJhby9GXSLV
            +CVpAJrOhJu04DFEsRgiDMYxWCOHcSnpzVR9ilRWGXNfMkil4ywViNGzIQel
            WBfSC7so4JN6MCH+SNGbmRKvuGLNWXbAbPkLjAeG1KTsmTCYSGXc/XTcUfki
            EDbze4lbzvzcsQyq4/nKHPcqwC4oZvmuZTx3JYpZfxV5NWH5TihcRKw0YDwG
            renzJqFAVP+QZn5vpriyBQdrii3rXW02mEZ1nm+FFPfNyfBOM5tne/IhdlsT
            7tgnvLQ7ou2K6WFaoUFUW5GTgr1eKJO6wWRieMXAdEzMe1lMnsLO4Ipn84YH
            rkaYGNgS2nQkPi2x8Nmjg2JMnvDhWHMX/Ufa6EFWPi7ytg1iFousl3sxWeBW
            DiSmRzoUOVGagvIw4nYW6xS5jAxdnF6XVDB8MopJXQMbY9r5BFbm+UoBUOoj
            xiUyZD+5S3meQbmhvI9lzfEz4PcTLEZ5DypqOG73TtqBfv+T989+f+aJMLFI
            nBoL8i+fc7pIvKtwQS5yCs6F3p/1JZ6+IDcZ/YM0XegZUUa7PX/PsVU4q8Ks
            aaGL+oZ0zo3EaCG0kI1d7Ixz6QH5yPEmWzepAVEwTpPJ8k35JuQfbPRCbRYX
            cruFKs123UyqzRvGkXXvqiB6vuN0tEOXlbKxnsGw6zOz2FO+3TEbbBKw3nSF
            CJ/hFkZ9VQXQrWoC7HzYYoSqSCHSEtdnJ98tLD8Ihl1PHg7WxkYMvyqzfxWj
            cOvjrThZJ0FNpvF/9fybnj9i4ZOPVGP+SRUiDvFZk1WHW7nD3mmXd2iKbzDX
            sBxuL8K9XaGc3Gl15fNcLoA8t18l5o6RX34HQy3BZuRdtOq6wum1DcPT179x
            5lktsvlOd+pmRHfjW7l5InEekgo4WZlklEVvPKhSO8vg/5Jacn7vLtdTpLAy
            sx6UyKYBFjRkfU3PhLX8eCQgPG5ykQ3xC/0O1rvKrRkuYMp7WinsYsKBm/Lv
            ci+BgqCCLSpAkWgcD7Oh28Hy7+gVNzdZFewgdjjIt2X51ESLsw5vRFAwpnTT
            +hffKwI+zIazK48pJHm7TxaqQxgGXUcnIQseE4OHtwnXXsCsgipri5kUPJcp
            uv/i3FrUyFXIM6bDLCGWGdlha7HXSSleR10vk5KHVWsaJdS+cWHCltrZpLbq
            NUA2V/dYuWY+C5L0Yc3QbsnAG9D3oL8ZqUAXMClwDadNeRBlYX1oUe6ECtuq
            whoDXRX6NYdFLYwm2lH4LxiSDf5dc2fSg67W6dVv02KNBXyC6mqCMlNOaIVm
            URYVV7NnxYlZhdFADTwtQ5IhZIIS/04zovR541OBhSzkplns3jsNNLuTnGlD
            QpzqchUyYU9j7oVVATfdYXbP49c9wZ1LUlljKvaOVuwczY2w3zsTGXqC8+Ky
            8uU8h/BbUiCPazBjp7g7Uu5SfFf6kDDmojJxO6sM/VhIZt5bhUd7U41IcozL
            yfBLKhZrKj4oTHCRy1JZwEpc6Karxf5cQvjkuh1001Th1C1rwkBrAvviJuS4
            DJBznyj/AdWy4WLQa3nkv4XWSs5N5UpVcVRa2SnJneh0GUNul934o7gXa7sZ
            4vqZkL2V0F24e3aPSTqZ70q1Zxf2Lvu8CFDPop5nW1LLKqD2JxlH5op7hjk1
            QX3v/t2z+MP68f3cGeisJvvx/X4B1/U97++e1hGen9/j8cmgt+NqdpAkJnWv
            vkMw0Z7TrVL6K/N+v8v2ZdQXBscTwTecDiSzPj1S0FoRTE71CMJoBnBf/O+w
            jJsh33hEoVRrEeXnV0eeOT2QDOGXv6uxb+jjFmX2+x92/lx2fmETSsH22N/L
            Y0SQffwgOoMfWlb5x0bL+m3BJgHYvWEK9bhh6wdakzFIUpCZU38NR6OJwW2a
            CHlSq8MzSmNVNSOTs8uTRZXmwMK2GcWhaU7zKVOMzmwe/bd88LJnE8i+LC04
            DI6msM+lBGQ8swh8IoGlYAuCVSpHyop7h3lJxw+gixSFXnzXDxgut+m3pt++
            3nsp9xfvzGItg/ix5xq8Tnqs9dzoVmhcz6Q8XpVodft7xWYckwCm7PkW7Rw5
            PvwcNX22bHomqU+yMoLek0VjnvrNoJh/4vjgZ4ltsMDFdS9B+jB1hGrLfnfo
            bKN9VanDUrocpI+9s4b19s5KB0rXVViKmeM9jQQUnW9iKXwQoXWuaMb5YOsZ
            DiASCaix8wxNdKE+UebQlCIkDtlTNXjlU9F6+juFnIvBMD3z8LYNkrqWk+S4
            DK/UtaDAQ4jHa9+PaI1ENY4WSFUgF1NE+SLoZCZV9fEMosPA9qNFSf8IEXAb
            dvtThBjIcE07dv8QoiNT+++DLhmcN8HpvINf9EB3Xs/ainjeqpUVG5v1CxOg
            0GmfPC75WLJ6e6SuKPaIfas45sN4JS1DC6C/Vdg1bwwq91WdttPvnZqSDIqv
            eEyRMGjGvo1tw9C4vdfLc3wpJmeyYJS0RFYMhmjlFo+5lM7Dg9K9DS++KrSq
            TNEmmCytgm38R+/wd/z95WFtMDqeGJD9715eLROxfQh/d903wcBPCkn3nz0P
            nYqRQF1WcuDmqqAErni3qBbUkcgKBpo+rDq8bc/SsuSxUf3lkvRXTzkFoUSb
            lGzzyN3ZlTQW1OZx7WwAPt4Sqm0ehOUwlAa7qOISCIxuncPu1TALRdmSDlVI
            UdjdRV9DuDpTZF1/LtWyAO/jqyPbsl1KDy7natBBZPpxDCo2o2uGGyTqt58T
            2lsZz+oae+fuqDFSbjDPAoYmejyURcIEuNNUsAhy3ipdZlr7mZIEjmodbJjw
            3kwzGp5C0jxrsAXPHDBvKeGnGbhi7csgCtlM5BLN6lvlbsNnVw2A0jHpSpdK
            1OlDsXOmn8OED2oc1Vrb8tpTx6sdx71PfXfYHGk8qjVtljhP1shdy8Bys78V
            b5dBf1kPEB0GU0juxrhMF84gUZTxWS47l41McG7e12YWkAXJ5UlcKmZhBi5L
            UEsunltKtGPLj9GvZmWZXL79nc4nRljfMVSiuJGlW7XDT2JO99+JmUTLjlAi
            2s7CA9usfXjiHzcO6yNh7asDg0EisXh2pS+ChC0yE9fTTJQif7Xqab53yYDx
            dAgB9w+qFWaCP7xebPRkHKJ3S+GgvkCnox8/tNAM08Q2+XfmxxSIgkIgytCP
            9O0rNuwoKnQvu/obh2Kfpj0uUr3GBeIttEZHgbqj7kHz5ie4iHV9Zrmkecz7
            9CKnoFQWFXM7sMjM/tn9k8DCmDziMH0a79KfYbDcUNEcoKQqSd7GzY1LXY5Q
            58QBr3RcSct3084UT85xaIZx+S0etsJG29m0eVcU23KEHTtvXeol8sxfmYm1
            uuLqCmzxisRfCq6ln5USDFLa82OwrZNBrPggHnvoD2r1hbKCoH9eqDz+XCji
            Gv1tob5ZLOU5i2DkC/GJ/7FTfj1vs+x4vdV3P1k2y2o224XeYK4Oc4/cpwF3
            fCumqzuhdYPssfthzLMw9PC5X/L7DVdKcT/WL4lQ5s4L+txXfcWJvlmELz7d
            fcNUauE3Et2bTwElBdi/Oo8w07/H932fu3/dp//zfeqw+7xxiMz7GAlYL/HH
            strprj18AkoyhW6Z/ygTWZPo70eYk9HRvNKbOkmcwMuz5JJV9ROnnA60yegt
            MRKT35dAlDesWxACmEw5k/uemPuyWdVQXpIpnpPQM4rZsEtrYxd5gvIPZuxL
            iRuYd/dgkol1dh5wqAUt9OlRU4JquX8KlsGcGzKHcbYBzkQgDk+oIxPH7/Y7
            sKHJLzb57C66CSSNPyd/WBOGtwJACHkgYIiR+W1psQSHaHCH7CBDiaOPTp2X
            4qTYoT06LVhkiDQY/205eJb9yZzY7cbayDOHtxwep3VaPV0BV8MAlsWfyyDn
            YbEx+JferD0MFlrlOsm2WDQm9POrlC8xoVjBI7AREDO9qpCFuOe8Pza2fZeu
            8IboHceQ7XXHXIbEolKKJnap4OUcFNHS3OWAnK5s/TTlzBVNrw4x2qzUzoiu
            FtO6X1jCWz78ywK01qdcO7oXOulauaTU3cXxmKo1ee9cJFPAskJ94TDH576W
            oUsSiv8O2zzDGcOqGGLgvZZA4e03ZXlg68r5laU5KdPdbGMsVU1bGqsJvGKB
            NbXyIMPovD7PJ3df5gA+BAyEa5nHDUKRD6QZ5kkv+YVfGoTIIY4mNjZjC7fl
            vXk7CJtELUjwndKIjHbo+Lav77fZjLEfsVbVwFCxaa6YGaqq/rbPh5E1kso2
            5DUuNFdeM826zi0H7Lpol3vmU2VRN36HWx0JzNusSTjLYHdp4t3fC8b7JW26
            ko4JL5MIlqPztEgtgV6GfQ7Z84wWJ6UD1GFe7bx9AcZNLPEdm0VBN7la3RFF
            YK/jEqc5fkPvvdzCxZBhYORjEwr1LSzku3BYxKxepkx5sLKgQJOZ/s/idVHB
            a6LYVAec+QmDRQOmWJbtRUx0BV7x9z3y/PMeGea5Aa4/wUhAYU/zzXIBqcAs
            JgIuc0RkQ217KZUvQFn6EKhLkUhmo3DGKaffncEoURCoJDXtbDuU7RjJhjZh
            qI+YWoiy0S21f0tb5+JRTIReTm/ndPs9ufteE4nP4LmicoKUZ2sttR0+URnm
            ltLBhOxVQ38nP12OChvVUHcO273Eo6qHZUJwjNx3fk0VhOy0RJ8fPo7y08ch
            gq7q4Li5ieYlH2aOkZvo2mIJEMJq5jJwHbMaWI/v60L/XPdygcaCivtVDMu9
            /Qf2+1UMXQF8kjX9rf3jIUybBIT6P75u4gBi2y36W6ZgUYpyrL3uZadLb6fF
            dmZs58XWZje21JuTwrIYayWvyfnJVn9S83j+pGZM3h23DkAzNhhcw7vI5DQb
            7oFBCCeqzdVmsQjt5mZ7ckf8uXM3G22H40j/BaaPGAnkDv34GfTZSmwfP1k/
            Y3y9e5dH7EjpP5dFZZWz0KSMrlmqWyFW7+y+lp4NJqMwfkZfTPaE+uXJ8BxX
            N5GmMf+MMLtXFDqMkYCyuaxkA4y/xFUttECsZe7eU9ACl8XSzVHEsshklX7J
            5fZ6r8NAhaeBl6u3vRx7a3y/XM/Pat9KFuuBtxcOA9M5hC0gzeL5z2ktCKLH
            7viCqmbck0pk1Md1iGApSfveCjIOsdxyfMnkBIFSrs1G3UsYvryE5AZJIb4/
            2LyQI8sVNrvvx0/uJ/e6V3EyiqTsHOeQ5TBut8+VWPziSFI08/MqjOwxsvGi
            u6X3qZxkjed6OWMQmtrdPacUnHvCuKW3ktZ/1HMFaOamOgibYHTJilPBajkK
            LUJX7tVTHSfD8wHC14SOKVs/r1+sUZgPp+NBTqvB2eyZ/c32d8yp3L/NGtWO
            V1veZopPqmFgfHbiq/S47ASrvMZHqcMoJV8Xu/x6xDozTepVjpIpR5sTLLf5
            D/a97VbDI6yQ+FPzLtyZZGZfzyK6Ap8Vzs+zunOlmeqpkOL8kvftykyRyoZN
            WYTO4Eiy6unu4uI74g5CDDvyPljzexjGhhyASjZeG6XvesSWnYM7m08vEpLl
            WFwuBvLuV3Hx/GY5TGVZ87i3+uV69m8rxrD/CJKkJhdEylMtpGccu9y92RR6
            L+CmSibHJHaBIixGxnCycBPvXSPULZ0hRWjlomDoFCppJbZ0zNstPSjHCcwt
            2HhLDQh/6AvqUf6lF8DeD8oE+nG/Cv1uUHZ/3w/HAnGlC7mgQHm4u0wpPhdz
            CT9KcQqWgqnG78kav38T8Tatl70bvZMiZhVLZKLCmlkd3ayOX2Y1C+U+WQzj
            3LFwbawlUXRvv4aSdYb8Gs8mjGBOq7yV6wbT2rkgAbhu5TjGiyivQZvTjcLr
            lrPWszJPZWVqd+7snE0UVrxmdTpWTKHaq0/OCrOWvK4ICx8IRUE2XskRiiCI
            ymzeBls6gmIBkDWYkULsd33q78ROpnu2jNC7YWsMD/VWJUDGKxIrXMmDtPcd
            y/hxaKagkkxYoIcSD6zRh48ngYNYZePPMYxsYyB2+iheQ0UbQWiCzWqpSFxd
            C/9BEaJ5ItSErH1IHJZyqr6VkXgYTFDVmbHNKsPLaktUlyFEoHpYsjTTI3Sc
            90yMAhZcv8FZicBvSO1shueJSsw9zi9aROqO3IPPS8ed29aLRGzP6a6QshK1
            H8u5wH0XQZVBdjNpoRJsX30CaiP+6zzqoybJdmFui4iWCjwQectwjok5OVRE
            xjLPYMEL5uURj095HKs1L6FMTD90mKFqx5q3uW5lt7nG+vp3/A+GdA0cx01s
            EGbK4AlLrQAad1nqh+Q5XbaUeY2f1SHug6EmyN6PBF2FpZNHtLhEMjiJYD2k
            DoeD1PFIZ7JaLwhv665OvNaKIKuHe01vX3c1O+kb6ok1wMEWwQqVBMfInUsn
            dlP/i1uFSZUtCMq9s98Pbcdd8/yem7Tp+DIqOCp1W0+7FPgrRM48xWl+G118
            kJJ9I9xXKFGcmBvqTO4X0NZmLa6APckqrs8OhmmzlH9LERi9xviyhSegWs7W
            /0nw9EQNKEo0F3bJGdxdyxLOW1GyW1gjS5G+n32iHD5RbmUYgCvWIST3oToH
            xRywPw/FGJYRTpwfQNOdhRY8s4x263ANeWvRMie/IpjKYwdBLYK1fjnGElGZ
            jj4pmcUl0sXlNm4EciZBMZODuhPbJSjX8gWEYSw1Had1Ze63176xJTEJYTpm
            iBRG8JXTsKp7Tf680zjevWucCb38dS7+UW94PYH1A3SugPFOatkVldskZNGU
            ZTZ72gELYu5okcJ6WPtIYtT5H6NBK3rMYFki/o5X71jC8L9Ptz+DY22FX1he
            O4Ch9HJheHk83M97Hqu3ZcK+zss2jl0OOhzVvPjLlg3l6EmlY/m4oxI72vK6
            6Q3O1g0NKS3nLotoStYlxeuM5Yptu9HJCQI42WWObL9LA18s7t31Ka+FMRUq
            F7Jguc1ieh5HZCByKeOhXabe82YVn0as8joG2fuvKfdPhOruc3WPObmRZF1h
            01mh02GfFkang4l/uwkKeucnDQOtofhirgLRaCJL5KK8tNljBJVFqQe2jcHz
            00V6pA2IbZryRhEyKOBIVsSXuwMDAC35Q4l4rbLcF7sE7HOfezFzx/+uBJJq
            tcnELld7aHb5/RqwQdwreMHOwbJQ/vDCOWYXIRQh/1a7Xf6xr9GUt+2oXyYb
            f7XhYoxuqUc78vnNkRy6S5wsFyiV1bmjOYQY9JWXMFtl8MNeGOpHvZwLTksI
            bmG7yx92v5nfHHEKfUFNZ68//Ajem6IGrMrGAk+C4JD/ojBK+Rh8M1l7/Wqe
            K6SI/kET3smdcscYULruYev9GExj1cva4nPyA/3IW8E6JE+I65g2ZDABU6SJ
            9m06PvRj/QAjDxsxiHn9rBMdCr5Q/lZSclJET4wOWinxfL/YPXaAOt3R9xgE
            47ImP9M4laHKdnLY97cIFMaaQH51LrXTxXxiFXyqpjNCJoclwLgEZtI+2Gc/
            gizFNOq9AMQBmp7NOpP60UuXWMRmY8KmYY6ygH+YGGwvGu+Oh6hvW7e5i9fP
            uRvsk+lu9KqcAbF472v1OUZ4jN+hdI5NcZdoyAMSMfLAJssWYt4W5og8LoCH
            QZmDwQOrrAnpiGVbhMNiUH+jdtfExl8GZKKmHKHTl9YF0i1sjPBk+Qv6+kq8
            9henvV3Vvu5mcwKlKu1+DPNW/+4/HStBFG6NQPDMRCBUx+cWW7UoWGcas1Ky
            Zu1iv790ArJPOnwpE6fbwzuevj2S24N53nZ8J1xucbeLaDfk4xY3cZmY2mKI
            C2MpV5VIAFpINkfbnA1SoTP/EIbjmNeHG7Em/pv7jet5Od0kZ1iEtlYyzHcw
            zSA5CALou35zaF6XGn1Yn3md1KM2wgPxVJn7IWSgS/maBJf9dJzpb9gfA7Uq
            u5rV+IvVPDJXwEDZHlvyTCw1MH/P5JyB/2IhfDJG2dktLn+yUeQeLLOQYvkp
            f1L6fiH5xdPx9j7sKk6IRGg4X20bmjcYBnUxiadStnjJgmRUJbdEkbTgLrms
            vzPWIcgJyf4id+pNCm6OLx5Mq2YWPcdTXCw9lWAJhNDAwoGDyBmltoI/3285
            +mH6BZLDxNvGIM9VHZW40wTt3fLTO/ML2C+C+fSLyERZc0HtrjfOwinEplFZ
            Xsh3L9FQhZnKaPL84DwOzqtmrBsnSYw3gGMbbIcgrRR8k8l/65w5oSo6Z7nN
            KKxFjb+czZTzsxvBm17fNCevuKz9PYHF08L2tWAxt6PIEwi+e6BnUZNg1X0h
            Dr23BtrRsL3QwfIESSyGEXpYh5nkwZ+N2UBCZRFWfvLNKl7FCcj+k1oFnrtq
            +4tYGC6+GZd3p42aiWylr+7EC0MzVOHGDmgpX7F76+PTWgRLRJ6WtfsWSdKF
            fbspujlFZYOMX8RcolVRkZiDFj9oI5w707q/Yphdc3/kSTI7ODrqcPyYp4by
            +4IEMXTlKfESPyKEgwRCQA+KCiIjHrc5iGtVEIKVERdtR9j3kIBMKYWM35kt
            RM4LsU62Jf7LIgVQFh008vBl3txtUSosrNi+TEyE+PNvSkOt5k8AoSUqUluM
            EGqF6Vb7d6S2Gz+/Z/7poLFkCWf7v8TBtiKCd4zd1s4WDzt//42uufVT3KR6
            AeNcLGzraVs3O+t3i6ONFLyRi8l6Gejqu/KdcQOWdJDtGV5a/908VfkQIMIx
            TI/B7p3hxO/uv6sR5WjOkdvHp7ITaQXNla33Nls4Hd/JKyCmaYljtXnjrz+U
            Nua1ysdOxWlKOQpsu9BZ6DFLVqveGqnvKyFzsmmlZ6+4Zs2MWiWOdN85UMNH
            914XMqGyAbaflZZsfPE/ZapFh5+6PSDkIB3+YmpT2OZu6fPZjSKyrTCBE+Ac
            8y/kZHoFibGBXJIpSlkQAlKYHFqAqTEEAznokXrUhfZ0HYmGbfeWwEtFqqG6
            rjTpNU2eTjaM6CtlfKb5mF52XegGFoifHfuW6+6YEopOdUyi72NS+qj8QVMR
            xKWljL8+jeoFcXTKqVcIU+ijStNobkQC4tFp1VkBErY62E91aI7JPFhR7lnL
            Fo4GCE6lTYVytKUdwjqVjXVKy+i0dCu6cyFFo+DkLZGUcDKpDB8E1EOIBkYA
            j+/2fKWRdWQCM7yKFEHdCfzR+sesa92wVEk2+FtkZnGJ7s2jOIn8W1kST+ad
            U4YMg8s4n57OmzDvoeh96mH3xJYz0ysQFGHR+/jCaIPp4XuUaTWEkJztGI1O
            OqC9LD2+rJvZuaCQ53GfgHWrtx1Kj2Nyj2N/BqPph4FNHaMSGyWDVTvI/ML3
            9XH/envBY0cUCclF/IPUHcRKm42AVZxvZhhUorlhvpmLwJ6Xde0mosGbiN6u
            Dg7Cb393FKUnqltxPysjsaPqpUAN3afJgNxwrGSZTn3sgWLfzsKU5VO76dho
            89tpQR2f7I4TcDHvmMWT1/3CP282vdnpZuMv2/ZE1s12Nxvf7H9r8TvfYXvC
            Xs+Y44Cey36/CbMMf1+LSVs6bv0W+Nz3+rmB5AjwMNx5tcXB8vvXY3vqzNrY
            4sg8cR8n2XaaPT6+zP5RlkKkcWyxc0cLzD09KCazoXi2U01u7fWlD5xKWtEm
            kEMsCEA49uHV3AJ9qcpVsMhjNwzTOglQXKqgZpjO7H5rbI47HT/91umwoEX0
            89f5jO27TmoD+PFd89ytee4oWrOaPUUKC+R+8844b58OQm1jZ7NCtLANgnfC
            YbBZkNJf5ei5mdVyJplJBkPJLnTp7eBTYW5m9mmulye2TsNJVxLptAonij2x
            5/Hc/M7jFiG1XInySBx2s1hwaWLHt3Hi/nwGXosVhoGsmYjEjLJg21jMhSle
            kRId7xSD4UFE71YLBfmSb8RCRcNgz3BPMm927mDxNOQDRTJD1tjJaV872GvS
            vx/Vaz+YWQ1xR2X2DoauvANjkZWgDDpiPUr8QBJlqyOo58zHj8lVxxghyrgP
            oP3FmeJwQZZFAztTrQztGJTJkBvDsS1vxUYRw/zoJdm0pNgE0iE6vptu1ktO
            J2nvYWMznZbxQwsiXa7oHE0h4pstJjwZhdcu5kBVbkbF2FWtSxGEdUvWOulT
            C0CN2oNAj8cL3uBWcjkq7fsHPuhH7ko7Z9tUT5plmJtjCuy4YHpFiOfbYwP7
            6ycb/m84LwzperM9ovV53o3aai2b83pPMXJeFdz6OxH+k1C9/NmUSfTC4FhD
            gmYBpMV3zpfVFFZWm7JpE/+wzJ8tkFO2xP0Gnu9b0fhghKoFofv4N5vbbOq3
            z/8FhnA2uJMeDmeHWxxMb6/0atcuHnap8z+x75etbnbq2vtvNjpcTGx2TgwI
            8jCamZT91A6il17RT1+ovSj4o5zF45vw35x8VQGpdh2a+S0TO5NFR0c26d5q
            g/g319sA/aDr7PBUefqkmCCTLTvYcePlIKNT2nAq7uutWZCpepizji1Fklcq
            ua4gyEBxusGcELqaO7ipQO+xWayEbVsE15gcc2F1sIIXevFQAm8AojiViEG2
            Q9MMNvpq7DRBtk+dNmNgUG2S8A5PpWL7gOm7r5zgYpOr3UJY5us+3u/ZuI50
            h2WYXSKfbC5qNUdh6tgtl/Lh3YBGFeyLpZIJuotUHezv2SqjgiGEfJlhDv9C
            GBqqiMrdAMHzM9LwuW8awn+c//j5TzYQkMfPfwtSDhWQKEBzsmjfux3tfAB1
            N8IYMbMMd/+RbaX6iqzCm1vR1u7w1t0427PMdaw0dawJZDBM+buJK3udAzfj
            6aXlu4hl52gWL12HiXtZRdF6CPv3CRPdwwIj3xCqrFghIRiCHH3LUgL92EF4
            m+Gtdw/PSafvkQETIfeSbdLT5xTL4z2yo6xX3RxqBHN/OW56cweINGnMFawz
            6SLMloG8vyYUUt6HsXtjwR6swrUOW7aYmLlTzJWNe2aDcUyemHp6MigmNlk7
            pEsSj9di0Wf5cgrR/3Bbpo7q88T5TGSNy8byhOcaZzan07g0L2pbzHKO7aHU
            iNyXwWBS0Q608vvimPD2+3VknWz9wQzo04nQnVIkpLk82BOk/IFjv7WTSSKL
            55zUnmDZ4T3bRY+hfQ/jgWRUJtbJ38NdQ9Lo8MdrZ+3KEVOem7gpT//0vdr9
            lvd5vMlVn8+iRssX1MR15bTRD3C/ZUxBNaPV73+2r7hAG7aQzHXSrsAEj2U6
            AYua1ncj6y44eXKW+Bj2LXS0z8Syz3SKAuKvdHkJds2IQBN974Uqlg6/nU3M
            ryfQF+9F3aOo6r+cnll0cEyU9uSAtpuHep8Jp8Tvc15qyr0INMW+1tAJrAEe
            FT9uPLJ3zuNZtctVbXxbsYk2SrcxbO6C+wmpuaTPXFG5I/SbIdZ6GPkyF/ae
            A+kWX++sRFxGaJPFKLhGx1MsX4CFycfxWbzjesS2QvtJbTn9SW2hfqiNtW37
            e8/P+U1tzBj+JrBhpWc3HSv/htDAQZd2Yv5uzObOIgujWhHnJbDjtcEz1XTt
            th17nK5kNiMo5ejTz/HJJwiyt5fEznjt7+UN0T1raLf6eAkpXVI8j+7cxYI4
            Us6id+uV9zO6IsYdero/wI8RpyhWFaxYYC7bmK/bS9+fX2PunzEzUBYtVc6a
            7vo9CU5GMfeos1NKnm6nv53DQEkf0wWagUX7xVQEYYZMBytUwxcHMdTf8uNV
            NEQI/FXt+rueYNvzL2iCF6p2h1fZ9jwXijGITrTVpPKu4I3ARyC3pmjqLj+7
            2irHze7D7izvBMxuw7tbvBbIEIUEforddn0TXOwfgtP7Zq9D3MmZHmgKX+Ha
            NPPaXe31bNx/GupbYpS0enIs71NDu7Wbk+T8s8+7mKberfahR6GHjy12mGe5
            uabyA6wN2LEaOEqBeRysGTq9s6z8egEqudHA8sONiyh2oiWmcv31t2oFK5b3
            QaM1Ma5Ao3CkFr0gKIlticqwTRn9frjjb2a0aPAhFT70tPRnYtt1dcFW116C
            OGoytTgDrIjp0kyfblZ/T7jOQxlUGJ0QkXio8JqxkSbFMseLOqn73cthc5uX
            mCVrUyVN2mF0h+fTZ4OEC29/kmAynengB0xScoa34jgdBhfYjV6p4W+rJR+G
            /KE6DoWQ7bM543yx51+o0EOBTFbFU9yFXFxLVjmQBtYYUE7O71ltWIflogXH
            UCbFpeW1/Gwhcn3lwMdPDvz4Sw58Gpb7rmydwGIdaqeWDXwx+EL3orHOyixS
            ZtrW+Vz6noX1N/mdThYoEp1jo41Lm5lUyd/0DlYL3tjv2393/33578zwrBWV
            5GKYBIRsjWyrxP6rbHgTVX2ctOvuK8X7ehcqUdmplHHqXsHM3Xj3Njhv5WBo
            mLKvyxVFVPJ9HeTj/eMaaBpEdoQ0l/+BOf8Fa8IdcuL/g9EqswcsjD7Veu6O
            CVAKwctHxLzzWMVn0mfDqAvVpwKiJva8PZhabcP6JmkL3uawXe/AjtMGpm0/
            vtOxsEB3XCc7xFonPbDVZGhRSWAchCdmFQfbCz+GMUNwfiuzMChT+7xUCCjK
            HeZmtQKwzGKhCGvjXB8gGnlPiEXMDIPmcKXdhNvfvClHdFixXyG5baTXJCRq
            rM4GQPTOYqGEzTAZJAWruco6jTnHAt7guOhEBYoEoUlftUGDaFdk4sfabW5u
            ahPOLE8DaxFGqlI5WWdD46mD2Y2f11Fd3dUFrBakOsdzowm0dOyMh2xuL1oz
            7Z/gHtxBLax0pjsPuT1MLRGWVDDgEOloqkT4Ai9zKfipO5UkE7pyprBUKxlI
            QRZfsEJteMERGCB9StmZpLpSbwzx+FVKcRuj+5Z0+Uu12veie2O4ccd77DzU
            XSnQsjE6Nn0UBiKZXEhSCSDNlOOgWAdMfSvri8+ENFTuw7i8ua46QDnekYp4
            oRE4hiE7UCXmdA6712h5MfrJVD7lorT3+HOyAS6ON/ssE+yJgY8V1Ek6Mj8d
            L/OkqZbaN7EEz8Mhd8BYhuV8UjNs5/kwB9CSf7N1zSJkFTsLy3wXnK9EvzqU
            q03oIT/O02e++nx1QS6GSyC52zvFBT+xheeGGtouC2FWFYpf+kQx/prYq94i
            xI883ARMZlD0rcpXu+CvjtpvU8W5jx1vU8btfF3e1iUmouvaelVvSFkeT1dw
            taLsXJz99126IWIWqinouFWpB6wab9Fhd4J+7+9hlw2yQeFuye1OQ29j6mn6
            wSQEq8f+rLe0yanL09+qFpZWjpoEsnlQnMww81QEihseI5ZBstwHRmJ17CZm
            QrcC6bO/E5GH566wS+Hp7cGj0unVv3clB+tcdMJ92pibzymagy3R9ymIwsR2
            qcPLKgi4Ha3u85Md589N1ipC+SXr03cn5LfT8mcBvXWsKfL5J8rwYYk9EGv5
            qz3DP6CtlGhu/HnrRvPNaB6gLCa3Qurxb9etrgCJqB/EZ2EwiZDF1ump10UT
            obiIJZr/LUT0ygYhBCO4aQlQXBbtNmzdbNkWMLKpfMLCYS4n+wCqAJZ6pZRf
            xSIGTe3lgLFcQ6UJJDroyTEwYerxdgypB9yJ12SyC3ZZqZUZVJIHy+okku16
            7Vgw8ZtERWT05NeW+QhtfZBAVGDb9DfTGWGhF2zy2AZMxWHH2XEQcoZIwBsZ
            xy3Mx7Fsg88jK8CltmCSCV5eTwNUoRdX5XLQh9m50jlHUn1IMOIBGa65+/QS
            JMzhjoKrecU/Bx5iJDD7Y4jtx7z4ElP16Xd0gYlJuVhZfXPB+PJJQvDagToO
            /HuiCce8SpD5D/nBUtESGRmNwo4YGy7/yfm2RinjsvZchrAu+Fy2iQgG6BE+
            7bVOr+RmedZHuAfLvlaPusPH97iP4rGyuN+Z3GyGMkMebAh8LjnzHqbM4xiz
            HYhPP8iZ+Mn2YvxUC9SvRODzJvACa5T93cFyIa6G0hrYQo2xt1PfQxiNPX9H
            WuZr4VyM4vo5OATEFUvYujnppHMGFu5Sc5pdTdztGlNUSDwh/R7L8TUWSxEc
            bPitaEoyIDCuH0Usc9zBPtu0gp929skA7LNlTeeLqfAkqR9c2vIHOmT4gGL9
            6loNNsTJv9mgeKjlxeVOtuDAIV1ZzMMWjece10/2/cMQYlkbQc+TulqqMSLG
            ceFl2SKJOMTHNBzH0xOOK86NyoBmH7bOlhrtHMO8sMLuZSkhoU7YLY09pUJX
            hVS4LnpCyWbIQPtOsmXA/DTPp/pPyuXOyHJ8zXxF77FwYCaSw2/S855s89V8
            jbvYuMP9nMzDrTtsoNbp49h1ozTC9vhZBuGw3Md+vxDkaRZ6E4wJqDIMIl00
            ik4u7hmtTbxau/rGvdeLz3XkBaLu3gMNWkpR7Ih4sHtnMVt45pM3DOzhlnRh
            zNV6LJCVZfZmwneck/dDFvMk3Qj5xjBPaurS+qe7JHQUBvK38gKdKHm78nRZ
            UpGnqvXde250Aqy+Jf/qrbumgZD0bXUR4HpDDQRZyP3FgZjXeP9Gz2k0l/r+
            PZt5o/kesBBn+/Y8e/1FP1Qv3OYDw5ydq7hBSkqkpodED10Bn2VzLLZWbbsh
            4sBixI+pwqwyhdyHqr4uVdYFmuMVnMcwovg3FhPlw7qG7vKARngkg0RU4wyv
            iW0ntPOz+d9EXIMZJRgQzKL85tJW6j30Kt/uihD0OQtWiYG7BzXpuHro5bM2
            ag3bhAGg5dFVgtsq6kocR7XTbgoUXZdgAF/2fgyzdcbaWMt23Z2WOe/Wz6a+
            pyfnsFGnWZ902THf0BeyWwo8weyZcFSYVHMwg0JeRiPE+/EFMWKmvRbpmXYC
            mBbSnsSCIFq7srlIRFTcsxQ37Vr5CEazcr/b7hMsIQlzBFY22yCaN3b/UGle
            i3KWxQqWK5HSgj5ZD0SzCsbaKU8+VL4v5ZRFO/uZ1Oi5i5/+QaOZlX6nz2Yh
            nIBLzGUKaiG3ZLBzvNHc7ck9vOIM9ynZ7nla6OCEGsSQ/hjg3YQJZlM3GOnN
            SvEniIF+lsvCxMO6FMV7twy1nUxWG5WI68k6dCTQKbkXAzJouMLzyuJNDN2d
            Y/c6nRjWtVvoEJGV8MNHE5t8yKrzgc1CN712L1Pp2mISG+suiZyeuRSdDVEU
            ZDMREMFu6UVlxrXBFCooJ/BS5quGZkCm3DWRHK1L72F2tpleuMOru3g3mGXE
            eQlK52gC1HvTsO+PDJsMcXP7U4M7VJrOpEyCQy9R52CBp08cVswSKGgTXiXt
            wNAhDIJ7XZ6FTTY6r2Ozn5u8MHmLwKx2VD8UJEHLefZUcJSQXS1EJUSypEqW
            rO13wjiGOnFbyVT68oZyQirZ472MM9yHFck8X6VqMldYkspyfxaaMMSXVMD/
            ECm/EXVlqEuy0FekJaox8NvljvXiJQRTMgPfUzXVb3+A4GbOW5LI3hsUF/N8
            nXBB94V8vaxCncoc6yowx1S4YOrhWReYc7f8yThnC5twicWwdwsU2jktFdYa
            oG/8oE7FyF+CL5r9xTiYxCawRCwbWOxpYJIny5sHtGxC7Hh5PBuUccHxt6Ym
            DlRiipQrdnEhROkhcArIn3lDKCd1cQeZUTaqQHScan+D2QBLiySWZZohiZVp
            9cf1qQns1r6aLmn1o2S4eLOeaaHfG0oNez3I88RromBSZQoxieXa/ZH24m9i
            6N4/abNxxc6fvOJXjoRl3h+Sb7k5qlz6SvbFuy4Qz5ll5y4u6na8SCeI6g35
            pBlUaUXIttsXaqTnfs2u6RXppyKqzE18nxuHPZcyc4OBUwFl3Pf1mDM3xCPK
            SsKJF0kgqk25qgI2inj6tAekcFKvRmZSx10eZ+zjhuJlYI3uwrN4BJgAufBi
            Brwb5UzAJ67Vl15P7YGaRipVq8zkBhAfYyiNcV+2GOs3bOepmNuAUTNpJ7II
            lDnmhcbwVP1SJ0wREwfxhgJEorB/tp3FDJyzn8UKwaH7dTWTxrmT0Zfs1waP
            WecBYjdJ3y0I6T74DomePi60u4qEmKiNhaNnha3O5BA45dvmSh52z5QZYmFF
            n4R/UgwRi5y82cN5YuYMh+/aioZtT8ZM1pdng6Cz1qbVESFjY4cbCABiaLQA
            Xnhm7DMIF26xSGUV2sUc2MWzXIQqJ4yIeqAdVsr8GnPcasNzsy6DG88kkyLD
            zGBHuJuphipcZ3/ncZIqFEjZRUttaVi0HaEHXqqClRbTWCNn+Ls3O+ExJ8uD
            M/ORF0JURs8Bft9vTxM2wjhNhuA9jJ9lTOrp0h9U+YxnfBmy0B8THsU+Avlk
            3RmM0OT5OCLwWe03YXxVa/YVI//hBGA6Vg7dMHjAp4RoaYmEOLzqAbtq6d2e
            v9hV47Wr0seuEgwNlbz+0Qr3ogu2ALwm3h+tQZU+1hidmAjeiszcOUJ6PA0c
            6Equ00eqkMIdZ09tsBf+zqZiuoGmhRcaIzSIPXEy6G5z7BIBs7qNwxDy6Wo0
            fX2kYu5OdjHmsWqYtRuJEvvzimrKR2vLU3rlblqKhDEDInlXZOWo7eZ803iq
            jTOqrRlz14JavUXBtYW5tTIQ+I33wkaaMoS7MhOhsnozQWp2pxvc0d6XhDLJ
            T/3dT2+c8Pbqfpo8/YU+xY5Nfx9fnv6HIWs3kLD0tzo8WI8Z1eqpW6GjJREj
            9qmD1jI4w8hqDN8WrfDCmhymRqlbjzVE5wSwa+H3JEZ2VU6C46OqekxKdkzm
            vYHzMRmk8DvirtG6J4rdLIcjCSQGaTnMvIPhTyQogfHK0BIhwQhmZxwhVmdT
            AJjaQhRsCZ1z5a0qbpW2Pkaxx6lGO/3tMC1KJf8mWj1j25aJf1jjmkvNcp6C
            iTt94mZZLGWcBOkFD8fnoUkcdLTexCT/cX6mfrGtbro5Fr7j3EqnLDXyZQlz
            k3VP2PL4VHZiZ0FoZ8glMFeJev1y61rHd7sMSFVN8MvjuZUJ+TS1m8RO+IxO
            vJ7PxB5M2fs9SdzXu1UWkwhDsPIfaixk0+wuIV2eDtIn31YEV6HFYjw3m5uy
            /r9KsjOXSZ/MpcJ4zdFSO3cMZTOv071uOw/3tM/5CLOf975td73j3JUaH2PV
            gdK4qLBgiioCdz+RjXo0mnULZM10e/tNVaL6vf1Fu5yWz3d139YW1DDlS7++
            qSWwe9T5hQshJrt9DKe1N2TB9VdhMP0j9+5kTMZ6MVOGfIYKKGMJnD6LOEY6
            xuiDaEXdmE9ouEv8gW0ajy5peAo72LS4nSB0h9LvQsB9TO4Q/sXQuZGAsV/S
            fVkR9QsJaeUNRM7j9n/9McwIcN4mx+OyaGL/0VZa1kJlOociZ/bpk1HWpURj
            CgF1EWPdqjtgzmQNd5MBcnR9SjHJMd9sPU1ctsy8KlaKHAZjFC8hsT12DyXs
            BMOSpiJevZuYBGN085gBn2FZZVExDdam1SREOnyfvKoJVcYUd6hCjKbSnFU2
            XGY2ObRLBuiWmPGFLb8Y1RSm7e5g5nEaPistZX2R6OnRT1srIMs0aCJ2f1Ul
            np4TXNAQUpGVdOrmSg2Ex9g8tRnUU7ItZJAMRIjh581e5W5Y9F2W+dPUJyVj
            N1/f3W3Ai5I3KZtmTv/sY/VBG7IGjddit/fJIiTqJta2gN0n3cFkZQPTPtdh
            CTh3t79DvBKF+xh+s+Q5m3ezVrb0zjBBUHW45ZmkyGOova9Vbu8q9AtqW5D0
            JqbCcvf3knooHCg2dJG/ffG4iOb6gJ5TSKifE0FKGdM3Kb1kynq2PLWJECxB
            gWprZwa7o7mMLrAuBeD4t8cr39c2Km4zJla339HN1XblL9ucKOX3B0wDD5cU
            zbc8YEzJVBdb6p2NpkZvc+u32zNYn6d7P7zr7N4PbyhHpbvfeb3XqZI5smjx
            2tsdi7xKudXl5c3BPDyyaDB7cfbWd2naBvl6cwUuZW6opnH3BMyu4mE3sQuK
            EoGPYmivmW5psMV0trw9aqk90sEDhMWtKIj1V3x9IYf7Qordl4uWKAg95Y/3
            MtOSGY3uh6lBi00X8H7XkWFv1bf8PmxNhDkBgdAfFryxmMPZrIZUBAEipQ+O
            3a0+vc37Eyzjlt32KKAbHfgeAJuWm/kG6FjdxfySC1rUI59Vf9vU5MMMi7gJ
            Avx+zYUJWuTZlnzLSnFHOjvVDjwYwtltTbnFkvqh5FosTCIKxOq7MXUnFoHp
            ybs/1FvK/nEmHdaktZHBXRvka9c9bp9CdW/b1ha2C3mDfnlFAvTG/GU+q8Rs
            cMaxbCwvEUQMX4MZIsxlanFchZR+wrKq3iBC+DnYAXeCliWYMAOTOD/dJw9b
            yRFUsxdUcPL/Wru2JMdhHHYly5Js6VO25fsfaQmAdJzenqmtmu2aqXQ68Vui
            +ACBtGBdqIoK900VGBQkSBGTP1mlTHrd0Z8s09R7jPhDyuIYZevzt8wy5RUR
            4omHi8jPw9+IjBb3FkLjHUkSILmaZ8PgUqrjZ+vsRkazyFQnd0SLZfvUtNHY
            wpHv3E9sC4Mng5QWpXVsglpwQRU5W2kBvCjooD3sLh/fLesYjdkBHsuhLGCT
            2hsY2i/wR8OkjXIPIHLsO2DoIFocCnVgnsXvRb9v5Ho8wVhs2490J1vQNARs
            hWTSfixn8R2xVNEIi1l/9iXmt3AEMZgcMBvbzRs5AgSFOZlmBG0r1wCUUeG7
            b1F5MsdgBqR8l8Q8UrWEbGfnR4J5g0A4Bg3SoofIF1Gmw8MOgAFZuRAb3K9a
            t45/k0lsRb7wk8WLjJ63mMvrWyS0TeaT/On2CfXyzWdatNJFNq81Ze+2s39S
            upfLABFuYv9AexOTwc6rCJnSR9YDKd5FzEFVLnDWnWX7CFyhRyIqdBYlHnlV
            KyEi3QU9Q1P6ieadnZVqp3R47dnbexS/QM9LevytFLRcIjO6ZQvMNQQOc3vQ
            E+j9cEBzwzuZTK+TLLqDOAqQthVg17EhMwUHfiLFtMHmHn5xYBudtsIfHTBG
            tG9Wu3As1hcHVhfz0ba826axjRl06NyX+wf/z8MRXPWwbb2aFeruPkshpzO9
            0oXw/WH/dqZOpFy2mNGNLG2DVZ7LB1nWNlgjx3qPdM3P/sZlPtTGzmUcu9lq
            9+zrRIxi2zkAOHJcx0FI/CwsbVvodJLdheEXVdOnLRVHVaVtVcc019WbrGhA
            dLNkHIMzHvxeVG4NbFwC7d367Tn+abA255aMZcAmwcGMa+7IBhVor1VJv8cH
            n+bTw/vZqieSZvP+Nt/ZG9/Kxg2/mWaWZxkshCyAnKPn1tbIi9jBSY/xsIEz
            bSkRKA+JOXiZVQ0dhTLTtmiPEirmXCATFmQLs1YJHOzc2c2uBZuycOHK2dCj
            98kZ3Iik3GjCJbMQ0hadyQoyZn5PTLONdaOkZyRM8L2+PmlQJr2PtB+rfMuD
            kIXd05mFkeTpq3XhfTdHjNiaALUGG4PkJNqVIu+K6WMnWipgab3CkqP8QcbG
            pcMzbmwcvBeKI6OKulRA9sFQ3pczYmWi0XQyZ33qVxsaP45zJvHuKLFwXBPg
            /QdPAXAYpZrcLwJYN9yOYd89kv0/sfrZCkvV4r37GCXFM54CxOuPBp4PkrB1
            4CHDIEMJ4YFLWGh82DDz1F4P5T7hNqiauIwbklMWuy+K7gYIawA/QAlfQQIX
            AvRsIHHi/nRnc7rkuXrAJ+L8KvLKoK7sK3XYWAS1X6AE2F72D3othA502T/c
            x5OQXiKLRxnMiJH0mkn5s7CSfMKdI5aA6Ln+YH7q2qtZhR4N8McUPUSbFJjj
            A2JDPtttbeAd0FwAMZiD192wDDRVmeX+1xPmCQJi3l3P/pDjzQFSXbjlt+Mc
            P44D5p+Vx0FYjE75RjYrtot0FGgayGnsQOZf5IHj4Vi7Od3/j33D0JuD33ak
            KC3QJQwTQQIbscgoevOaigZ30E4jiNiBo12Aatptxu9wYZjSOH3hYMN3V0GZ
            JoZ6Zh3tK2QoYuQZIn42Sa7dYrZjisQ2f29bVrN1kzTaz/d3NYOhv8hCUHCF
            Ajq5K+CgC3VcSxyQfl/HpDZ/fPFqykLFtxm0EHYEgmxt9cA0Zl7lkBq8+eKS
            Z3Kej4SWXJe1hKI4tqkkRO3oEambfFomiLD9GK7khxabGDDo8MM+gSgHyLaB
            GRgxRPn3GYUBisnAAbp+JsCcaPf8uHnJ1qJ/PFZHR9R7EPFhk+NLrAF4oFvW
            hEBZDTxE8RmsMst4iSszC63/+6CmwNyVu/gOfp89DOn3Ffzi/zwTMQvXj1Xh
            rL8snP9lJoLsHfuGy/JbarVenpByv5eATbbAzLxQOiYSVoPbnfH6jzObdfww
            604uu0r0thGy8XNZuohcm1jquMQVzdwOHOuk+NzNwkT2/XqKOYOaY3t3/es6
            hV85IB/zWruLpwYyhIq5LoPFZiXJCYKkBp5LM6fIV6QoF4V6HWkaRrXfB1R1
            CXoVyqkm8maNhIzt6v5AQiBMxKCtKk+i64jcUZTrFuarlE6XM9Jtt+UmTYKZ
            eLMuKc5nbRf0dDe1SVrcT8JDOP+id95J9NbTgdcKOglz1eGJuRVqWU4QEntx
            IxHgYbaEClKkqRmsYW0U274UBU/1yCbPLl9qMX1Ufrz2ey3z5dMMpEd0LYsk
            NZl7gtnNi5fq7DkMocj698OUP1w9TRLB3OGJwIBkhP8cgx6ubt1Ord1m5Ejw
            1rxHIQMuR7NApIzZ7LrxIudl5p38ywNZD1SiUCy+gIIejLAHUsoYheg2sv9g
            wjtT7AvgJoumoPUdkWKAlaBQZ+H//nBaQka+fCiI2ENc2d0PI33aZ4K7YU2u
            vu7fXJOw6tvVyzvezOvNG9MU6BEB90DOF/sogJUwe3HVfD7AowppRexDFNEq
            /SUR3NrdRf7n6kR52BMDZhOyy4DszfPDExqUFTg3wvmAc4GSPTi87RymnQNT
            RzdABZ46glxl0FHbUhCfA54Y10cejyy1RPGsbWlTX/COTh8K1EywuEsFgcTy
            C6vG+KbIe3+g4jcY7r51CMshdwWMo7xNp3l+HsDO7nKN2utTM/HM7VcFCzs+
            wGDRBWqZqks8cspviH+qr2Mc18NeR6i63dQUqj4bcamjzNf7ItFVSSB4f10I
            0nlH413K5q9T5CYSTaUiEhOODkOEQ/GVS1PdIgTrun8e9YyJGzfOnkd7MbWT
            LtlDA5vl6EQngRfoCHoVTrVfI+SGIvFIuLabj94lhro6/5QuzuscdhxU56Tf
            JzOBSm8JCKA9DDzE3hRExvfL9fr++t/fb6e+/wVjNCN7Luq9BbQDsOvFoTOE
            KKJQ35XqzghaEcXeVA/Ke7QLbKVh/6BmIylLMtOIsb+tzPvMLIDU9IcTCU0L
            QxTeY42CflY7X0wzPzqVYNstuD2V1pYGNbmulemtaXJKk80NsizMLqrvD/kg
            dopCfOut98z8hi2ItONSWMmgIVqob/mR3rPtUTpVAZ+8CuoBYGcUYWZMNm6D
            PgmoJnXOSI13JcEur5Govxepg4sdVxOdmg5CXXRDlfK+BN0G7bK63pGaTU6M
            mbxnLngXomok7h96XkAHDPNMJnvGXLEE3DhdrVVAIKSHdaS+8vaxH9zcIKhw
            NZjIsfQlefZQUHFgyyUmgjt6eYW9VqwRM9cYhUATH/a+YpTYjcG0rqMU2dGi
            9ipb84+nQ2bxDhnpJrDtK4hHuxhhl//h9dDvItC8gJ1j82ljiKHfxb3cT9/m
            /WorGdcdKAjaOXZbM/DeZpPeD3/flAcKK9Hby+SJuU4iou3JMdVe1HS6dfOe
            OppXlWDoLGN3sbH17bpd21BY9+q9ykLyWjDwmupZdhqjDuTRXKQ3lj1PjrTi
            MnMAtnanzusPtS65nEJdpB9qC2uD8QxvQl2lTfCkqugt4r+ZuVO1BrCmAdZN
            0Yz8if26AJkNjRKQ5SDDCUi67dowu5MFm2dmaoeZUdR1Eily1f1KGpwqZNyX
            4lnLwNoDWbayUNVzKjto7tSPl7NqHTalr+ktV7gWKCyiAvkeZHtIIGdQWu8o
            26Lat7xb4ip4ncz2cCZHnEdZn33UzbWty0ran2XkhL/xO+lu8XfzxRJiY2Zf
            VVXNxaWW4fjEQN8EiuhAH39MxynU2ZMOFlMI/35eH3m552aifQvOn0i3EzqB
            yNxWCQDo4Y1Ahwl3+Vp5Uwe7au2mLk61Q8hB8jaxY+9ZHSrmLe7kgaBetFPg
            mUXZ8kvEE0WGddgA2TlA7kJksy1hiTefsV1CRseGlRmQ+QyQU4xnuLZm1xbX
            lJG6z/ZAB73WQj4nWCmzd1RvsbuSg0Wtku7me9AcHLTkijJzsMa+WOrtqEhX
            wjKTPxTzCjsrmhl6XwL/Ar+VbOmlV3xdiFXZRmyvGLsN+jt27zPjwPvF0I7O
            H9SYDtHs2EjgfvA97qvaF7a4d9OtQCMShWYUGy9FmKLfmi6AqObC6iwEzb2f
            aMawEZAU3LJ4D+DE7tpO8oK6Xq92infxOvu704dIH1xK9ddy9rfXdUXfgC/4
            c6oTCHUoVbKSRTjC32+DtQFamlviGvxb3u9b+F4gOm4SkNRGPrIP1uFyzURw
            La9l7pEKQ1YDxHQwv71e7HckvoEMMNWeareFGVmkBET+09njImhIRtEKNFlI
            FKbIHw1vPAFaa9Fxq2apIUCl3oGMwteOii8JpPYgCckqlJmjcxX3tMFskaSD
            KSKv6/5MwoCsY/DdAEHTGpE6o/NjIKN3+x+aSzw44prGFM+99ippOEDVS2F/
            H5gzqAxyQZRbJeJL6PZKXwJl22H7ABs6kBfCg7H/sCIOtXWbqm+n+tMyRBml
            w8AOoebEDVBAXPZgVRV/YUt2v+xAPzuCYrD0eeD2oAx2qF6jwdJw0bX0AVYn
            sDUszsYJpEdK5bsh/h3D1M9iC5UhBKuUdwcaO1zWTr2wDVLtdHCS1iJJrwAj
            tVKhKBQ4IWbFDtfsDtL6HQvtLh9zsQjUus0Y5/uALxbyZCjXo1CSCPp6vKnZ
            FMxsKAbZwATIUBUkjnRvDF6C5N7+1j5XkqbDe1dhSjhf0utKk9yqr6v3Tvb4
            XqxsCZKO1TO6qidSefGpC0C9BJ3Hkc30/t8mQqKT/u3hSS6caxM1l9pAMxar
            vLLLZMU2pOIKvE7LBGTx/G4pITNoIFjatn/IUbpHgE0YlepKDUdF40bpXEwX
            WHGvC/7pVWo48luZZ9arEimnlKSSL7/I/i0foQ8fa05g2k8SonWMD0r+oad/
            9SwPAr5V5fCxks2+U3dhofnnayFNYhHD8uaMrWTs2KP0v+JuNQqIrY8c4LGI
            JC0fChv3IIAwu26RY2Vf1W1ex0kV6j9+fjL58OfPJzSv//L5jgzJXz7fkHtM
            f9n+tIi0/Pnzvvz984xY/q/Xp/NfpZSMfhn2s65F783D0fvqn1d/L8J2Camb
            z0ok/NqLPpyLN/YUVpezb7z7ztiGRNPg7y+9n37wLlHdZTVby/fr8vuPTnqt
            6FhaFyUKxTnMn+3a9o8mJHA9Zi7tPZwe7jdvGxuRkH/vv+zfAkxWx/daltc5
            rLcF7798vx76e/fXASwdKJVvvcbPOLbC694pTW4PpFdWcC5yoQA8nD9XYedb
            W//afu/b+/PPCWj7M2v7n/vtaazv7WZt4+v+1Kb7nwe3b+qSQvmWr7FfeGE8
            3ISBBshu7TMNv+l+iPgSqg36O7mGwdL069+JOOcLYLiU2hzUVWkbh8OaHBHL
            euzSFh8k+XxEP9v3+891xWfvn+SDlMZLmqG+P7ug+A6wdf8BVnmSmg== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
