<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3484</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3484</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3484</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3484_v4443</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>13444</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3484_v4443</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvonMJ//V5lpRTifnKF/5b
            /ZFSCpiQIy88i3g70cujVdUdMHJeXfFs9wj4K0flkxY0/7utpvcd72flDOdY
            L5X2/N/wR7t7VR89zJf67EPASNO87GnvLparTv5S+d7uZlDzc4R5phpP9LgH
            9s6h03sOxi7R9zUGx6pi4tWz5O73XROfY5XKvs5dz9rv/e5B2NcyOXrMDRvy
            M7Kbpe734dU4ZtLNo9u2m3o+1VyrV2VT1+tf0ejb/Hx+1DCsqq/neTcRP5+n
            GTRD3eov2gGuqgOvb/cc9q+2Qg577r7a2pM0vtq6UtAH42ssM81oI/2qZ/+b
            X/Vgk6mF86s/vtrzUK/2Uf5ei/n53FfON5fv87kr+3n8fI4Oqv74Xf+xy89f
            ymvbpO/68yH4k77K48Sp/vxVHrXY8/hLP7vt6s/nbVp/ylc959LZxHa75vM5
            oEfc/Zk9agf4go380Yd7H399i8VX31r8fH5D0fld3ttJmvXzeaxVfZ7z83ko
            Mdm5+nzul631mr88VwPnV/kAULWh3PoY+7pxw+dzm0Gt3fppT15f5W/4cNXP
            5+h/t8N8nc/nPRhI8cfn81qdzq+Pn89d2+Xr5/Nxl/+q/5hW/vyqx1t3jhDR
            t+dzl9N9RrQDAqHTZ5kbGNX69W1t2j91fj5PqG334fqc8ywweX3Vv6eEc/jx
            PEbbTPlrj4VugKl+7SXD9ByjkN8va+eBB5/P015rbM2P59f9fH4+dxte4/Lx
            /AXzv+rv9/P6c7th/txuPH5uN8af243153bnVz3XC65+Pn/NT9IOiMWw82cf
            Ni6Y8+dv13efNxxYv2lr1d88/6o/bQR9ftV/45rzq/56P6+/Kf9V/2ovasN/
            zO0+2LV+Pr/hIaiOj+c3/m/xq/yet/ZVz7zLf9Xj+ose+fl5/M3z+pvnv6l/
            /lg+Gh2Q8rnX+sdv12/6tn7Tt/Wbvo3489yO+vPczuPnuZ3x57k9v/sfX+c3
            ftSzabgSP5+PvTcAEeNPe5W03cfz8tpL8afzW7/qv+chRcz48/l4wZ/8U7uA
            M5/P+wvO5J/6Q3D4fF7qC27k7/lfl3ZAznvs4EjKx3mcNz3w+fyew9O++fV5
            /Hp+vM7pz8/n1/O9N67j5+eJcCD+OufX97m+8fXX3rj7Ob7h237u5mf99x5z
            8ze45vj5ednjves9HrzYT8/dnod7r9/X/L2H5+tMlZ/OCDlGzBJofPCQRDDe
            DtQw3tC57jU6lLEdUNRqPequwXHGQO4EsJaRxbBCGatX/vR+VdLhpGZfQz3f
            B/qD+bqJqfw51hfzGL7uv/hYALtIaty9Vvnf+eePz6/i8cFColP5477cx+vV
            +fpx396s7B5k/7gfL97znoz5ee/mx/imnx8dnGGGj/s4PzoM7io97884PwZw
            jvV5P899P2wH1PQ+jev8GOyJfx/313n9q/ujazfN7zn+XoHPZc+vmf7cHu1r
            24yv7XTP2z1f9zzd83PPyxnvmXjDHBvtPcp7NJ/XYiRas/1Xc9iUpzsdT5M/
            IqFkWM7OFqqVPObx6/U+oHQVkPFHP53DT/c67XM+NuNzJ2ZKQkA+VuPWJV2I
            OlZek1EFJnEcvOOZGeusz+O3J5Nl3Jo+2rkal/2po1k7oKX+2K4cYUfZcd91
            9ut9RynGu3V/xabxt4y24zhfi/wuE7BltcgdDa851u7Zs0w8a1x3mdSG5qSd
            2BzvMqnFbNKPhjKntZUoa3n1Dri3ve/G3Hf2PdgS7AnslhqIUOx7rIN/f4Gx
            rMcXZcbLRud4az3HepyPMnVQxoK9lhZG52xus3fxUaaB5RbPmbC5kh8aRaru
            OTqQ8+Bydj1ljrrxwnOWhqshb1kN5thG4D9ne66Z5z1LfY6+aYZnmYWGTs3X
            1A7o5FUyuh7n2HsKLb/L4+gkHWrwgPjb8zDdc67A28apMqgCE2SU5kf/3ZFr
            EkdeO8YYrUyKH2Uc+Elhm4wpu4rN1cruepTxg7JQrgvn8zAKLn22FVp8l8l5
            bBnLR5lYHmVK32U+62H3Cs9OIZqtNvYVvXuUyVuYd3Qe091WnP5ZDzAk8CTr
            we5zux4Ar/AoUwM5jr12q9spOKt/nDjAo1i17r1cR8g2h+VzXN1VQI8o2dEx
            9xz27td7p2fupEGRrnbASK/Tj1rLo67hDiBaJxkQQdAw2jTURxmAYHC1u4zv
            u081PE6fWy0adulAOGPaHAFwjUeZE9jJymBZcNjXpr+fY7vW3HsIa7b2Waox
            PubIg99KgtuN+8zbPNaPOfIuEdJzJtBW2/2pH215n+qwecR6xGX9uShKeZcJ
            rdZ6r8c1N+T6bCu22pPqSRT32bltn22lHI1z6eiW33AE0PZZBotq8txBAXm2
            MjjLjz3kS6LMiPvs5JGx+RmfbVVHOOltvYJhgRmpG+g2Rj/TA375lqdX+boE
            U+bNW6pMMNqy+uKwPJRFdyCumXo+sekxArYOLEtBRgAcCZhTYETQpgFYKZLP
            wS6owBE9jn+3/G7dqIjEOb0uctX4b9R/q/6r5+9yU0+nni6VXiq96me5IiqX
            LR6ma5mFpPOF3V+sXJBehDJXk9hfi1dQAOdVNtHyD/60+7r2uu6Fxa9/9vf6
            ttq3zRFq/bM/+7b1v/5uHUAt37wLmX/V0//Z30cf7m+vf/b38e1l32K3/aO/
            7287vjV5t0l+jT/8zz25TiP4/vr7rYPE8QZlTax8mjgPgAf9C76SGMR9w4YC
            G5EliQGqK4ahz+LFogHZOh6qJOjp119/6/dD67SWwW6/Kd4zGdXi44t0FoXi
            NwVck92Hfd/3ffsi06tkw6mFf8JIDdAM4b/Af1GrMTjOf/39rVl4SeQf3PWT
            s//mpGe9JfvGyb/Zha/ubwnATxz6Lu+ejNNn65LavFSgP75/Sad/fn8OJywL
            TKg/gLWLfw+JicZ3L+nX5y9p+dhS8u/5yXv+trLol/fjx/bb0A7ofhxHfEii
            TMtQt6L017Zsrm6J9/dYb43U2Q7/0/fr1m48NJMfPPhllPLv5ureK7fG+/v7
            P/370167NRC/ez/3/PwivnmtpWk8flfgT+PjrOeH+vl7dG7vteM3e+2WPv9u
            L99SaPVVsuE07ge/lI1/qKv+4f0f+lL/cC7utXLtP77W9f/rWl//tbX+789f
            CNoB89t+5Nd/IVlbL5gSgie4ua+vMQcr913+DPH8mr6P8u0CxkrEV3Zd+zqL
            cdenc8GoJ3AatGdZNydu17yvpdi1un1/2feOVjD8/rLvr2JXELLpp/7OdIgL
            Rfv++fzuL6uX/GTY1e/7uOxaihPXtFZ0kqXs96vZNTh7H5O9r8nu73nwBXg/
            /bCnrz2OPQ+S6Y1fy+V7rn+po5sWO9p30+iA5Z440/3hete0xwAWpdmcuP5T
            X1Zz4vzOYtdr2BX8piQP0dl1jnOBlr5spQnLXCQAGdGua99f1a4uusQr2AJd
            I2h3L84uLL9llGce3s56q9GnHsDO8jyBqqfU0VGTK3GkM6kiTUC+BbsfU+g2
            IUBhMMu5P8Oh+9yd6yB3Qz6CUje2J7poBLvXLD7opLjvMVunSf2MWw/UAwVR
            xR/l84jaq1c4xYGWtObzzF0huuf69BEXD8Rff/eWTmfcOOXC3J/JuOzhTi/5
            Wtl1pSnKOIwp67TSVnq24ck7PdpwLWif9bWvycpfbYnbdmuWn+o9w8zPeteu
            59FO/GmvTXJ6j3rBlrpnPa3N67O/S2oBR94wyhwkfMKtJWs30PPRuHort+I/
            o4ir0/k65/F///53/ttU1jXG/83F/9IdAE7Ld5CC+T9T/zz++htcWZAWNtSx
            74Rz6tp3U2ZR575bKklZRjTTz9s6prj9rL750M5ntGiO5LnPgzIP3WcByBZR
            q/RI0qSNROmSmzQxpl3mcqCNsm+UOEkhVTOwQpGGxbP8muwxMBylS50GbEME
            SqPcpEhuckTJS9DfZNIV0AAjOQ+ackk2mN2FTjtca8zJXSW2a534Kp9XSdRi
            s21Cfud9Rl/CLhcoFOxqq2oW5nJtmRFgZ7NuHbIdysAjVLGjT72DpoiRZtA5
            16uMebVrS/lnNAOGELdMJ3gp5j36fmaRHZqjeMYWp8mG9HttOZG7KDme7OzZ
            qGKgmOxCtVecIi+v6oziRLXoh83xsucu1uZOWtlKwuzOw37TTu5ZToZnVo7W
            AHe5SpkrjW8zJjVfp8vXnjcq0ihnCCS28LywHtBlYk5kyG3KFXYhzP0OJHTB
            H+YOc71/B0/bNp9qKp7zx+dxycoATWMtWE+6Ts85oWoVZMh0V72IcmlAiN7T
            urhVkhE0WMye70HcoRLvItoGyU2JTkWfYrmyo+LHq2/58Fi3LvF2Ic2uNibn
            nWZhuPd+rwPWcRWsPJ9hWtkG67jvbW+ONepff4fOjcAN6purC1Qx9hPnu1Mh
            fPkLO4Dfg4I60T8v2g/3YAnOWC/bIDhX/P1dNj/KumDvJhXDzutsVK8zIVtQ
            nh0fuE3t7PA+UleDvcU5yxNcEKjK6uxcgZMwzd+081WWyRbP6LqdN+f8lkhJ
            poN95Ld1k4xNqJ0Z1C8dordHiKrvqlGK+lorhUsedLzR49PknuMy+t+D9+BJ
            4mkDYZpofS5hKwYwA/YaZUgBazhjwBf9mKiu4RwGjxkHMb18D4v0HQjigb1D
            ES33j8f5mbQb9iOA/gvRdzcpqhYH0V1YdEzoDnX403c/WedFLQrXjX3BuqKN
            jOE1a+tCm94vSq6OVa95xbPUcRW/cPYdaGa0GzDh52m/cWavc4DjCZz7QsU/
            OMmltZm1gGu8jOeoJeBvVi5nXphXKbX4XD4WqV/l6rTiPXXK6GbAZ6ERRlhf
            sXrjGth3mI/D23ykxMnQN3SHySyXMuA0uMq+4ewIAlQvOKtZkfYsTINhh4R0
            tCKVDn/vhYV5yu0qZYxGKSI2uRmRUdbN3UAQ51aqgL01j/aSex9W34zAh/iG
            rPJRIk5errEObNwiOMfeYgdiLZYbJ2UTJ/amdzr30Rxf7jpj9BJtC+tR8yWt
            BMBXNHyDNekpXsWdA+uJvs4j3fttt7moi/EFJ9+dNIAIPLMT2GShRF1Y43Rd
            91y3pToyZTPfdQT/ax3ztDpceddRu9URjh/qWD/UUawO7qm7jlKtDiKF7zpi
            /aGOw+q4xnXedeRideQf5iOFX+sYzeogl37XkZJwPxZwUxFtHa86rh/q8FbH
            usYp3I4+rPPI7TS8OA6eF8PFEevfL9qK4NBg1WSVQ7iKPV55f9L88iQfW3PL
            tvecB+pjT0cA0V1So1fHCHd5XS8i4tNs8CvOOMpF8ei4jwuYA7gD9VWMofYy
            Gw6YS6u1K3bnS+U9+vCqk7BG/Tt3/6j7AXqu+5nzJ60A3K0XAlwEDhrt7svH
            t6SXKtuuLdVdBm2IXvJGh9zvUWcjPLjbYZnnPF3APzgwmpdJ3O1d1thoXAKI
            SXqJZ4PQA2vp8sy+44/1ZLURe3UFSxaEq/Oi49jV8a6LKAis2cov4CHMSqFW
            06+TOnS3zyClREDzoAfRJusI+SI1iH5onV31uRNGNZ7paHQcx8iyPPOD2oKD
            tAhtuyWO4FsOp3ZQ19Qigp6LfHZbRjXAmAawRv27+jMjxoe9JdpuHbpya/Gr
            E2NLRENoN+Xq+okd57DJy+A8Ak+AYAVWIwDDOv7Ub6yVa+irl3iPZTC3AXML
            pIS6APjpV0eS72y3racHjewx0zHGdGJPp71WpVFoZfNLwgZwkI4IXVpG9G5q
            PhJJmCqJ/7T+LtZNDF9NSwPKPLMfNBAGTXupT1jvCSigtjHWAQB6XoCznLdZ
            HXkJWQrG17wVwGi6OSacSO2Bkq5ONz/TxfpacIZQPb8nDUdg0iShAf6kt1uU
            W9UQLSRxKqEQxav0HgM9B1I13HTYcHpH+hzUA+G4rcfpCuZayL3hLNICAbTA
            hTm5SN8Ea8cByRKGYe927lFPE5oSX2uDI4j3lRazQAionb8piJ/Yc5hiTDba
            S3s97r5TChYKSM+EM7J5B52FS/RCBP1OcrkT73quF+iLvOee5UCP9EyaNHnQ
            DStwPdKi1wiu42qgJzjx2PqcZ2JlkNc8IYQXjnsUexBnebbh0M3nedaaEH51
            LCL2ZuN9Y98O4GjcE7TmbmePPBj7k0jnYGXyzZMFUyTb+mbsgJBkLgLa/MRZ
            5Z6h3o58ktR29zkDkXLLTjG7wu03PgbdKRoR4F4OltgpadOEoiVnNJoTcMWJ
            tgxoFdijbpoAmI10KgAfaenMZ6Jb973b927fe9EvyewVe4yiN69m96Bzzf7J
            2ZWko+jWtu+b6BtZImK3NO3tTRNdoBkyjYwo65zAkegXCOAMmNSkg2+l6ozG
            BSo1tuY4t+4+t6BZOcfnYbCQnC0IT7x0tGdwBru9afyzNM1+rbkEIzB2rJ6M
            /uO2kfW08io56CxHCoxtDenDiz0wuOY449gPbsjYRc8r1vA8K+ho0LXgQ2c/
            ulozOF14dgeV6eij9vxh+COuxW1ASpj3hXBN940Wjfv3ELxr3OsV+6TOa91l
            3PEuswg3SR8C+9EoFrvpcnQeIy9Ip2FzcO6jbQc8UL2g1Ch08KQpMJKu38R/
            jXwj/kCD9n6t/Q6YMPtMTUbFyOYKPFcvPh58Qz/qJBzqpPcmzhRx7YaPoOUv
            c6immx9ZLJw98Bav8RttQ67rhYcJ47iZvOzXiHeABwDzwxrnxkMFRILkANgB
            2pNr80rAZOt5XrDaui/DaG2zD7u43vPGacU8OruMcTeOFdwFLQMaAcVsvIm7
            wFQOc+9N2sFWMnq6EhRV4YembyLNYTNgceR+xTJhHyecWDzDfq7g37DVFnUC
            J/6uACoCdAvpkhD47UE6w2AsJQeBhvXgZcAW4RwBaYGoLRncJCg+4h0axfk5
            XJqFcgqQyMOnKSnPRNnwS1/B5hZU7NBGwldg3LxmcBL3XlVKGHTbge5rrjS9
            d+TpsGWBO8AA6B78s4xh3UcZ4y+wD0n7gvPF+SYt2QjZFngUYrcLZ5ycM8YA
            lld0DM6hD9T/ivQF129l+Hx00cek5YbeX/KPFO8u+0F6QZ6GP4H8vbYGzh4W
            nUK1mjLqJs83dplsZ2gsQiNqfWjf/rYAR4G9h2yvYY8Jto5qBvNgNse+Tv/g
            w3q3+762Yb35i04XP2FD4Ixf1N/inJKOJzZsoLE5BvafRpqBUNN70hykFcXz
            OGAIrDXr8JgcuzYKKBoQoKPUK9OUhJwWMBVhL8816ItSOuDrAAkgnnSBzT4l
            I3L2v2v/93r9vu+f/zu+3tAquXz2EbM4PFel2pkOGEWe4FsC9vejHM6JlYsG
            F0BhiOcoCWUP8DigYTzWi99QoKZvnOisSjjl2nU6im02f+BJ6wF8ZPJ02KMU
            Zek5cQ9Q74ikJxhsAnMi2ZPjHBPXlHuO6EXOfTZAz3osEJGm50k4sW837MOe
            brUZxyv5gUNXOsbdrpEK6sgg/gC/AeiwjzO4ykwp0EWbUsJKPqeM7gKcSOSF
            4zV5jhw1rehn9JfRpegry61GOouwHIBBxwD7FfN1ctu1ldoN3zev8+7nu2+D
            fcOczXyNN2yloMRLfnQY40w6MoBavEY1uVSetv/DlhcLppLUPrr0wmGfC+J7
            ENCrbN5ZZw/7uZMwD6AivEJSAL9LbviSn6jp86+/01bjY5WSo5yapcgbchKI
            J3vG45PKaFs7Gu9FiXKj8Fq8EvZKiPe7fJL0AIENWDGA0b1oaKCoK4XOgCWU
            2ZLvcROwoVIQ37yfZ5ZSdU0CNdoOAJ6akMbmoV+Ss6xzyyoIx06dbXxM+pEj
            23tX5zqAQtr8OZiC8ZIvPeZ8YYdg3k5FveD4RySAxlBBrJzc+1af6zwXqJNg
            ecsv3LxGSCOoLGhbHwR/T08+H8/iYapZ/M4gq7UfBWvpAEeWG1fyhdy3OB+L
            sBb77QIxVSmCEG1UqdAVn+FQQ4jh8vRYBr02LidDb56zZjwmaAjyM4tyZ9NF
            3DoJM+bZdgR77Pe+Iq/rCYD3vAoHLZFokfIOBlzAjvSkaQr29PGSechc2eZ0
            1xmz1ujsuy7SvQ7wR3j3IG/0kJ8whEmwuuajrgV+5dnPVERLn3OvkdGeko2k
            aNR6qjQQrVG7mOJxOcT4U3VmRqUBj0ewyTVx7Fw3OE99SsceJszwyWSUmq89
            f82BvoymOhIOIQcF3A1WoVIut+mSNiVrwgqcgHnR6Npz0Vcd6xK9G0GwZoiP
            As9DWSIQybKAG61lJyKpUQFyNMqX3eI3tV79BE3uXaHk0/tyHnf9K12DOEhs
            86Z1twMT+AiGsSmKqkLDClff35FfdqT7i5h2+hVygdQe3vebJ2Qf23nN3UdQ
            WPUQr8i2sf/wvG66H1Twhsno41mLxL/B4Ro0R/miIXq9KERb4iNJVxDUZeFQ
            479qDc5TnVAOjBqHxOTr8zwF76jMAUvUFvZDpZFotP1AOLBA0+nKUmduDWOZ
            65qid285W5Us2XlFs6GvCCNi0Hf6pHoH/ChQD+VoLKMILOK6sO6f5WrD8dRe
            AzgnnFd8hqW9RpA5uB8lxF+Aihj7RcPhmoIvpBtAMcjdK7Ds93PgQ0ASOtuA
            hJ+xq83D2vReOjHNK74DlUMJLZ45k5VRDlsopuqPeSE3k4BKydOzzkT4Lvgc
            APyH1sypDYwGZxWwT3Sy5g38nJxE8T5pDvuB/S1aMq4kHaizOQIwmNS7EXbQ
            uxEYo9UKsg/X2UBCihY/aQP0/nbPL87g69tRiLRS4nexga5lWBBsi0QLXfoY
            ga3fMhWN2cvizx0vuRgOus5EHb51cnycA7k0Z+kOAG97j3Qzy57yGNBqpFPN
            N9G7sPmnQV8KZ/QS99JAH3m+KJ4hvUdaOzX7rpHycyYru+UiZ1zEN1n0ZgV2
            I+1AvJi3P2d2ZmmdNPfF6ibDhHta+nEHYq4p/yQxC34Ta6O5vdIw2Q/71cFP
            iUY57X7kC5xgkXk/vx2yyRytzKjvMb+XcPj+vt3f513f/r5j7e6xLOxj8jv5
            An3LmSVjAzRdFP7ERwbhCpV8wdkF4003tOfV1hhc3eBeBo4BuWXyqilfVDxz
            ohU6xRl6Z89wHnOn3ILysgTaPIS8ZXTav4510DgL2EG8kiEL28vas6zf2tS9
            vGux5xncKg205zgfWNFu7dZWutqWChFtu/xaz9nWMLoNxBz41oWvz4dsuJKK
            cRmoC3+AoJXSZ2wd4j1/Ad0HylUC5r3U5HAAHAkoEJrgQ/H7DAFsQy6gl9wC
            G9gvGlKi7Ay5e/orkJ9Y73JiEwDCvssGlOU5qvSEIFUGXhaFhhugMyaBMuhB
            l+nnWycmmXoD6gCw93sgD+OkE1hro0Hr/2vPU0RTtOcpawJi8XV1nhePU8Ng
            cuDVMuggMtLSqdj33mCH4mRofokWtM5S+nGNiBQwlj6IM+grhnM6DOaSaVqM
            JEelyv19eHwfHmU6horvwPiIvsQc1LWWnEBvuYMDvdy98zyLbziZTKaVALt7
            EWwgTQUqbHSHc+KuM8sKweSVQj3Y4+7Cudq2Dku6euq3s8mPwNtQ4oX5Jo3s
            CIb47FGu3uVweCojw6hd4seWJ9sd8zpvmU4uACbReG7ZmUyjk925bTK2bUbf
            +um1IwZQGevl62PXte9ddtst577a9+AdDapHew4OyRv/7aVHP+k9PuRm4m99
            qmZcFAAg/GXzIV7i8ZuSfP32j998XsNx//b37+Px/PEb9YGvCfX+fT+/9adl
            8wrH7jNQvWx41+5rY4QJ3u+x5eNzLHM/x9mwObmv+3nfV1+dgreNAVoEaOM8
            PvVEoHYwfe99AMorSJ9BEQfZg2MlQAqAbVJbdl/I7uLw5VIocOL3/f4e+9dR
            /kg68OUt7/0SSe+pkMPux3dXJt2UCVonoVffv3GNp89z6/oayUzO2ik6C0TY
            o6/qZ6HWA/0CjF2k+XHuqMbOYJRZnhEeXzquw+pa9Sy0DXOTzMibF7XzIh5a
            JUn70QaAeie/7Vo0wS6L/qdUKFbHw2P0PphE0Lq0KDm6l36PIGA6cCbeSWfT
            qKLtLttvmgGT7qVmi/YRB53ODAY20v1zSfTRAfNZL3XwMpfXNyYX6/s36wRh
            BnBv9jGMQQYIqUgV9/i+15qcMnWdGE+n/ZL/Yc6ea6RQiydpQa53BiWUgZGy
            hVzAld9mp0iaP39vvKTpr6nPzy45mTjlweib3EcaN9Z9MqLn1i8A6WMSs9PZ
            wXe9mt255tyRMM9tOaOtYwMZ1Ifi7uA59YghgFfG32rctwt7qoMuDfS+Ba5j
            1E/MrU5Jo7ZEetOgMZD/p66A6wU6hdBOdZzYy7+pw59xqB4w9fFRB2Eoxucd
            5g/jdda3PGqzMwXKjLKvUQeYsL4aymAu7F0iOdil38JfDoTbqgvbl7iUdf1S
            lrpLrQUlQADV+M1v0CcwDRgH5/KL9+7gVzLWZJ6PPcM6sM40/T9Ipjo7Qxas
            wNYy/wBDOpUM3LtHZoAynusEGMKy4kmy4jd4RrXB5o0WkZU6JYaBkE2gzsUg
            zPxpX91n2eQkeduOp21HZfjm2BHNXKZt5UFDFp1LEC/Y4+T/XQ5PGY2kIGA0
            BxVV2y4RGBf0I2j8XIfpldkjyj0sEKzO32E2KrSvQUdTfeNr1UleRd7vNs/8
            Hli+YcdL1kI4Q7qcI6VshDh0gSBnOZYvwFsAavmGM1nWJz5v20TR4MGJZ0w4
            8LJVpLQF8019tkiAKARXDoNhibZ5FHi6+S4b4l12l3m+I26W7J10uGARORLg
            eMV/vRTKJUVQlMcV3EX9L8co08BBEsyDNSZUPSuQyJllGYiRS6d/22TZipq9
            xTXf46FPfj7tO7DYjnX9NMbX2GysaY8x2zhSOHMOwfs3XE97TvKvc6F5p1/w
            6ejZ9ODfAQY7dkPANuyU14AOKiD+aByL+wR4IHtCsIt0pZd9G93bKeNh4137
            5l47UNSZkRiKo7whl0DeDuOVnQ31GuoH7XyrK2XjKpavDuVbBKUTW+VBk+0B
            jfp2vdVwVMv0bRYjThvMTjtM8WxrARPTXpQyRZLprIdRg2u915O2pTpitC1V
            WSfbodf6oIdz18HnY1lbjE3hwEe/7DF3W522lWwrWFv4L/fIoRBgTtdXW31+
            thV3W6xDNpQX8BtQAiVnlAHf41Z7oAQMH5DIKQoktG07o2ANdTuH6cokWfSn
            ySf9wmYu9S6r9uMNW8wW020Y43YUUYDt9KRR6adOa+hwvPcMDrfRWmnjKTTd
            vHQAoHTNb106UeAN0Jw9yawPz0CAAcZX8LTrwU++5SHENeHBR7I/WzaBOqKX
            jjylsu3WjtNVhjSTzoxyKJkdUmO85DTO8aYmuqjeMlbJ69DXUmT3SLoO1Ht2
            BneN/v6m6xnvBAibW+4lB5UdiPbFaLeeWjodrFXvcVHecTz4DN7Hx7109nY+
            D6MsdTbr3LqEjr1N2ujVDmjQJLlfkRiIv0F8oc43vm2Yv9mkA61bL9nu8izr
            yOO5qysSW3NjSeMYaWzr3cY9g3TWdO3YsqwWTF9HfWJ99B/PQZ4MT5nFzSfR
            sJr3D12/2dhd5C+KjjXr4TqCHqov3Jes/uOBcysxVKKHQZGJ+nOuLvpBVNeS
            fPa4J+klHgBDMRcNHER1lDQyRJVvyWRWiXRJ48XuJ/lZ47KSBSR3DKuz8qSd
            hmsbN9FmuLtQKoAUeVpyMAFXLx7YS+g5aD9TGMnIeORDskPakJhMxK44aJIL
            YcMC/64UAPoZVg37fdIkPqOe4LK+zXb/0znotMem8QPWn3Zq5/7tiW2p86Ps
            Fzi30JMXPEailAbjOQ/TM1Eu1iIlhR4LeNXQk/V3y2oogBnZbP8oRwJkEp6X
            bO5kFBP6n1yVKoRYk3vJ3ZbpkDLWhjZmPDjGQ4DKzIAN/pqp0Z77U15FXv6u
            nxKN5/vjfu/2e2AhzuE+D7JRYt2xUXZm+j1SBnx2ljHWkoyyE6BtHjFw/G42
            hnE6TYcoAchMXuOgjbatb/ShFkKGLB4hOSfbrgrIo7ViBHjsY65jT4q/oXUG
            N5nIu+V02LdtUftZ+R0pcX6TyYd+lk0yxQfsZf9mrUfbcv3OLARAjWsM6r9A
            NAg/xzTcSVtCkXfF0YQcuAT9KAwXeFJKOCnTzPhvxp5L+J7l7m+uP3yz+8PD
            Vz2BLPej/FWJLq5mPP5+7o/XM4Zfc9TnV8njm4Lvf5XjM5UD7iJe1TOBi732
            ALs0xqG8WuM3e/fKPXAoomVsNj+elqXHvY61G285cT1Jf/cLkDtcjv6pEiig
            flD+1EuhrJsMrW08fQg3Hty+CMc0POn9xgHT/JyB+H/EEX5/f8uA3C3T2eXK
            lK7Ymz/ESNu+UXTCcGab4yQoxakD7qcGkzZAVxiN/lWMOUenH6ya6UeY2CHv
            7yRo9dKJ0OYDMyr7cjwYig1mPjAWyLKVNbHiL/qCEhr0gDQC2KwdW8boix4P
            3Qe2D7q3Txn1N9nVkR6LdDgWf+ksNg3oYQZwYvnuhmJWpa3XfsiKbnlWiOmO
            QWN2JDtCqWzwT+InzrfxUrg2ozVpfWt1NdqMRzcIRrmXtq+OvK2MU6ItAM0o
            7MpvyBNyXqj1vOeA9EOvCqRULpABup/k5Pic/swXyV7OibFXwJlq34s/mk51
            nSjqba5JR4O/AqFAL6fRTRafohEhjpzG2/fA8A/16IA3epYv0SwWlJJyT/pW
            aD9Ttpo59/GeyzsKb9z7M732L+0LsJvna5x+yX8NqxeuXBpjecsniwjEWz8U
            KitMtNZoeuwY1Dc5hiJsQXrv0MOVyHvwPenXMEOkbpweRqkyxBuRPokw05N3
            jvvIwq9OsbNBkwDK81sKn2wcf/3dsPv7fNtYm00WMaF88tqiLWMlPNo41ol2
            TKnT3GCB/qP3u6csifjdKToAHUrqGAOQlwFlPG3PcIuj1Gngh+NwAQs6nWLS
            jtg9hDO9iC/uJ+1ZQK8azAoGuzLFWLSrZPoX3Mf9XIH7zGaTNDkOHPgb2mVQ
            5rD1WXiWAH+FwyhmwjlqZqNEuc5tC+uu69QZpC4WTxWz9gTmMN8nN/w+Vjdc
            oUlU3Dyd7M4ojpAu2HgRk+0WmqVVRXjCOXG0bwYBZXRVYsxCkNbZz0QZmtkY
            EJaEcAEhYh5kR1FO+QqQyy3i2ahb4v4qufH3m06jr9iRil1Fp15775dD9mh4
            l4doxnbjbe11EF/1RIuetlI7Up+3vc0QGFu+PkwvbfY4RzZ7CqA1zdG6DJ7Q
            z5M2kHFa8CkZzgQqBCkQsXcpGgxujCd0mr2GU4RLt+Zbz1RoWzqi8bWcX/4O
            lB1QNRCr2WgAXMoO71yO75l5hzbjcdBG3uzF6GlSwa9jO1JaktuQjqNKDztk
            U03bLOMfAGIqrc5RV3faI9mjvprE8y3FMjtNDrNtDwmaPP0M9P1R2t1++Grf
            3e134AuMg6Y0Uu+sz3JHvgbLMCBCKbdfVqm0wy3Z+qb9y12GLpVw9w33QWcL
            fOUiXKuy65xmA0tfOfaLnpLP9s5+dVpO33awHBPwe6k6uKTrrpFp84G+pvH5
            7QJU5xwG9Pn+nutC9MQ9CjK3U0TCeuKyPh8yuPEhf8yPvKKoaCR8LrNe/dWf
            uPvTxrjtybL76+9R3bm2nCx5i1Gz90RiG+SJgkVPrDSPKu1h73fbB9I2A6fe
            ysg2Oth3tN8ZY5JJo+x9y5fqLnfzksEbNVvM5gXQ9jSBwdz+gPHxTXx/IzmO
            6BWz+U+0zWsSmpLdsm/r49v6+NaZfwLbBAxYNAiYVCg3+07y8P0dT+93P8Mp
            +3LJKJ29uzLFO+nX+bnhBOcp59Flh+AlnxABifP74s1Je7D+Qh8z2pXRqrRt
            vl0RkUvi3LIc90xJ4CE6JeLv8WDdz7sMEJb8vTk/h2xKY57L3+feCX5S7hmu
            TjjiTsmeaWi0ZQaiwzLtPBgjRPUu2fsRJmvNu6xUzYaddYJnCo5xRBqqy2C1
            p+zpOvsZ9rzfc8J+AdWBD9vl4u/LpWZz94pY5USTRfPZ7IKdYG7Nr2Ja6qwr
            jtN0khtubhkX4MJ168VqtXcWM8jgbWN0T8rtrv3uAYvpS8R3pPfoKcrcMFl+
            pIWEvPylIn6To3WO/m7YF93sM2gHhj0ieQvKt3PbGUV6PTWzCUV50M4mg0D5
            dpltrNYyEa4CxwDFyK/UK9OZN08kszeTPQsOryPs71165J5oaNBJR9EyZvtS
            FttXjb4g1Itg98tGohnfHq7oZbNMxb/zpx+yV5zycexkxhb5hOnqov3uRMuO
            8hLxOFT+4Sy+7of5hKAXIRHvOmaJerxv9p7csu673Ye+KJeLtDt4lS32zvdd
            tu77a1XWTT/kGQFkcQAicTH72q2vCoVOs0ysUb/rc/a9Y0xUeaudlPjbu7T7
            VcFAlcdzv31cxgpZHjM0UMB5rLL7abRFxD55+8JQkgmqDfyk8chxP/eLeyZu
            PGhrFJ2p2Pda1L0WlGuAoPCFvseg2Wh5B7qEXqyN8kDCQtCn2JLiqegLTTpQ
            NkdOcbFLJbN0ceua/dw1Fb8TtIuYKkYXkP2UeJIVSpMOrRN3mC6LAZIln/Sl
            N6e6AubMfIU65VvebX6r8lDedbVQuuo6X3VxXc0P/12X2lL9c8ey2rzWJZsB
            79a2OxZOoa6lypZOdtqkRZzaDeLPHdol70NGPt2/B9W1HNvrnkrMRuurYbxC
            4RziecIRrJvfnbHH0Kg1CLJh6+IHaKvIMnzHmFZOMlycXTrt0VNS/jqtTens
            vLwnzS+qZcaX4nwKK5r96LVhW6s2ZtBpysBVQPNNWno86DrZlILjBNxt4sEw
            H7NQJuLM5qWYnR7RH20wG3UVh2VU5JgC48X3BaoWpBwjFpzYIVN6cX/TDJgf
            x4xO2NPFUxAjmA/+pRyyr6cttQyzp/hC2lcBIwCONDcH2gaNCmp8BdMLOcAy
            fuNue4TSjC4FAzRc6Ob/ccvD2L54EdBP7CNpLvWTumXih2lzzdgn3ZtOljFX
            Xs/nLn86ZfVjMHxGx+A+47mgvlfjwq4jr0Mcq7nYbfMd492PGeq251BM2Yg9
            Dm5d8WSc2b9jn0UKuSrOBPdUauARumccF+epB6bOKVKhRDnAiiPV4PR7ao/y
            2ihjfl7peRcZAF/xVqgs89LPEvYf1XgPSiLpJ1CvnYvgNNmPLLksG5eu1/Y9
            jPs5LZktTlzdcS22vSz2GTY9vYYUX0b60tPixGDT9HjKT6xKh3L/Jm2k+CWH
            fPEYF8ERhjG/JvgwsIFjxzSgLsxTNkEdMHe77Ob2vdG7ReONh91HWqrWLDqA
            7ZEvrdSbTZPL3DbstBNmLGtSJpb1z4f1tr++aHfNMSz6XZ/yPa01WJ38TXvp
            MuN5x164fXh3H26dFnnbONvgeaumNLGYDDRFKcn8NPVNcpLNBMskCqp+pYl+
            zszYJW2ar19wsysWkOytyFOWcq1Z5IvoaCEkneluiy74d1v2XXx9R/p1Sq6I
            Z2ojztc7f9cZXao2ZtpC0OZadq+T/oCyu6wgOp2tZbW1rPIvxGYzfMfvGQUh
            JYOt0WXhJqmupnfcyzEav5wJW6m1a4Wyh+ba9mFy8rctTFUSQyS9p0xEjvkv
            T8XhwVvvbr5b9RBvtt+/U5v+bjMo1wtWSpYHvZd2f0e6tIb3d1z3Cv5k0EN4
            2+VbYizaS8YwGFtnz6OjPIHBPDa9QHts3Mtv+6L1zTC+2WO8OEB1zz1GjPEX
            T9DLOW/V7NK9XNIY+D1ewvzLn+X+zewY83zfd+2VswjXJdn4ShZdnWz6F91f
            ZNDczIcKNErnu4H9ThrQU4KniANB/QReuXA2DltXOfOIPwf87LTtJazjWspv
            SkIRz3caEwlCJ788EkBWn694Vu3ZWYOVC8wOup9Fe+ZOGfD3tv2xaLuO+9cc
            j35NzXF70WSvORZtg31PxM+9S3nOvddvWkZ+A5gmxiQCCZRkOx2j9iQ5RSsP
            yj9Z5oVX3OytUxZvajaA62m34jcPUCSuxpq4q922vYo/hLbO+mnPd/saEeL4
            w3h52jXoWYkWiyDLL6JLtoX5PxPdek/qGJbiUQz5uRBr0n6rvp7x/KcsneTr
            GeNe8Nkdx8svm1Pak693XIgDY6GRV+hvWuIEVDgZZDtlyYj2WaiCyYAuwP30
            jsusj/YQCggKCPt6Rvvhw3Sh+qbmRtnb/b7Qp1q8sOIbFHI07OezTL52mbrL
            0GM0DScZqBZo2dgwT2xnVpMfcc40rxLd2fxOMewULX7Oe+IuKF62LsSbjBE0
            q8mGqJeb+9zSx0xeMZtOmQqNUdXW3YbV81n/XW/ODIOE87vA40efz/7Wv5OG
            5fjmZIqVS9aIfCafeiefPwY7My90vi8kB05G/4zWj4hvgtpk0NxLKYdOU62z
            BylzkPQhc7dMs249/+3zAehY/DsuyNVnXDhrmTQMZbyuFVca6K4y6KWXJWNZ
            9HMp1NAyDMQZI0aVGd2Aun3ijCJhYORoiyeNXAqTQ4NjAeuVKW2nCTtdgV1T
            LDkFaKtqz7nEWLh0igeVlcEJq07QVYezK545RnKg3frjmadOnvQmoxoBkzT2
            7VyLwljHmFF8F11MIqVpqABip6OXOBV5ZcrDAejRYmF+QEeiDbzEPA/zCy/O
            +kHNk13nft6L0fF2D3x/MipvASNmvtvP8nw+HuXRHbDG7G9hfOZZ92/tddDx
            4BHyOoFK9JwyDNG1dTbxC4W0C2l6GkpO+hdP6Ud2X8uY+57PAS2d/P9P1X3O
            nRXXa0fYe/VL3zg3svgS3dPK1eo+nTtlX7frPmlsSwjSrQ2G6nZz7t/9UYfq
            PPbYP+q8+9u++stQUXddxfXHt6qr/FTXD/1r6l/77/Tv/ua/1zfVc/5Qz3nX
            s2NleCsTGfPpde+OvOt5f8Pfj3Gd97jq9VVP/bmeXrUDFL/jf6rO/249cirp
            hB3MzSGYUYIi2hjMYHb4y7LBO+HpfQ+6yt3vuF7389/P/We/pD+ou07i5BoT
            EzUHhZlopDNe9fMMOvHxXvJj+YsoRoMbfEdeV+ps+T++9GI7y1jbfGRr5i+w
            ebAdh1xBKF179fveJ2xDMGLHfDCZqP0OFpfIbX4Fh4D2UpT1sE8MPHfJigFk
            /SQLQ9x1ATlWl6Qp8kw9ZXtYdpwqLYck/ALU7HO/m4ZrbvjCvmw4Lx8xtpVy
            jKOMV3mdQpR61dGfdQDVJYOPCmVe8C26Q2eoj+/D4/vx/H6++zAxit2HAKw0
            ZAK+6ylWz5iPevZYOK/2nY3n/jaXf/Ttub9t/M4x9RJ99S2OVrb+T8vURVkE
            4Xmyb0fa65gtTkLJwIGPcv/2+/L1fu8Nr3EAPxMOMrJT15miki0QF9A2YlU/
            lLGXeKENr3Gc1znGprlo7sgQdrEobtQ+JxTsMq4KkTG5binjBnVqqpfKZOHi
            A1x4CDO0uu9lyTrpdg96iz5kwWzLeU87Jga1pxqEtllkxBkvldZX3WzuG2lq
            RoIwntgzMi0jfLgW3++pC5/Ca/SOdpPyoNOxHzQiOUunTJViwkef3GCszMC2
            5W9n/YojJsZgQ1/ST/3KTWvx6lfa/Uq7X8nOz6tfcfcrql842enc8j/Ckmlz
            F81PwGCK4FlkhIlVb7gy51ksprqXgt1oOBmCL9oesp+05809V7PlbPJTiQbm
            uuSPjLeC/SGbMtr/Gr2vVGLlxCZZpiOmjPH+DZ5kMMbcyYRkuz6w7aPv39Rz
            qSxz9dy6qAJ6tl2n9GE0r1zy+2OUtHz/Zuwi8nKMX2B2310e+NRn+gy+nHET
            QBKrzSn/ls76QT720TWWShk39+ORL2ZSoO0y+0lPDgbj4Rww+0HplI9SyMSo
            aNSHBVoZvH+zbnKLJGytva0XAE24acVXbDlSo6TPJeDJdHble56kfNzj6Iws
            CX6YAYjDXMxpR01qZXun6Z4xGTSqw17SPJqPS2diCEfhI92iV5KcmpYg9MOg
            XWqIA1zcovUirY5akHyZ3uiFuiQ0ac/SCndc4smnXraw8jnh/LCN+HgPdqgf
            LR0mPTtBPZ2UVDSsYWBc2n5YzALGj6WBmWy1naI9SAbva1GwoTEsrkCYkTEc
            HeO10Jdb86LUEjYHfV5j+lPxXDwWp9YUAX5oFxkoUOT+v58z1oz6YbGxec9c
            fVWGA4yFOOgZIju5uuNVButHYMyl7sIAjSg5DG2bhMuPid9MjOEYTi92nhf6
            NJ8JLFHSepr+nJE8aYJmejfTG6Iz49Q5XMoocgGM7bPIyBteQY4KAzFO+chT
            vnYyvPMjbiAAMjiml50ZbcXIPweG/K5F8QspdyFfmCrPAGHVvo/73u/7w86d
            q3Yv24hqtofUSckOyUI30Bz0Qp+a4H26hq6UQzjM9lqOSQgP0iuW1e1Fo2Bh
            ZBPYNi2Tutn0oOd2jXZ14CL1flr5tJ8D6tv1tgVKdm273kxjcMVVtu/jjtd0
            eovHfNtQYYr69uVNj98VkOb+XR6/m8UtrwwAwSh9sh+6is0TjyA2GPkhd8ec
            FNwFXMxd8kJmsZS8etszBeVGdbRxLIoW6U8aI1+016ruNI3Osb971pHHFaI8
            7U7Shkff5U/G5bzjAFGdIv2grE3cmawt0D/YzVXxO4B9w7/q690OpdwyTcbZ
            neWUJpF1rr2nGF+I8eYefWYcM2/6QnoVmryUz3adrqu8Oxbmj9b7dk5wlB4x
            luaWIYKoIsga2k+HrcECAb08g6x7J10P+gEcMr7X4Hdj4vyH/V3LNie/mwuO
            /wJUvPuO3wBJ8oUpk3HONeWe/qLYaIzJYH0EBSOxzsQ5BsxolLniWeM86J56
            R6VhPMGk0DecQaCU5hjrGhl9xTM5GKWONNDEOeW9I+FPO1424nf8FxLnSjFD
            Y0ZvPjCkVXgftRcq44rXjV/SoAyNNsVKpZNdSCUN/PF/DH9OmMC5wbp2nBrA
            N+9vuz/+0Q77AIRyot+ugrlqvB7z6uDJKImVvIlBI30qBX+gaVEsMxXvfhdx
            9GnLNVunNKqVSFgVIm3kVpPJJNGSWbcRDN68kLuob3HxVBzcco3++ZzxaXii
            grkDmXzyYvok4OHa5ADQiG8UIwlY5I7z94apxzpaeMPYDLwbmN8LHKfOO0XQ
            jWkCqDSotFlTrDrGZJJNnEzxZFvuLfbbYCB0bNyL6rYeGFvb0fSbcRJIMgOS
            WPzgls1WOSmhK+rzDah7x/tiHCOqDPuQbS7z/8oWm9+HoRBe2DdD8R9olyzZ
            A1a67nvh2rjC3YY9Nz2RnslS4Tzu579p/7D2MYXNm86K9iFeWYgZO0ixPcuO
            Y849WvxLPqrzSvzIGDJe8aqsj4xLtWmBRlmjGebafMqQQ3woQ/XalQal0j1F
            5T9l4PYVGE+uUuPSlKM3iMigPpQxIk7wgrkGZ3HA3LaTb+QZ0Af8PihPwCYK
            eVosQ8WpSBZDgWeMUhatYxV9R5KlET9Qaz/SLtuU+NyRNqmnzcX9m9+6U6YE
            8g3Vc8YbzehbpaGg4oVW1VOo3FxWZ5a8034LiSjeNtY90K7Xady0h2Q9ZqOg
            OeJvxnXS+BjLmPYE2JcE64yhG7zFw0enZbPrwDNIRgveTU4zKP/2G6RKr+o8
            XIRd/2ZbtHu5vwfPQn/zalFiJUfDqa/kPeOQu5pT3GG2ccRZuW7UdZ/i+Ujh
            2HoxaJFsBPweDz3ksP6ijUHdzhnkN0DXmXsd+Jt9y4xca77L7l4LcEOyeTYA
            zsX9Yc2pI9s0Sdg0x5hmj3xuu+RzGq0B4kwIvw27YlsGyzJu5dptx7xpn3TT
            NHlfN21000rfNM5NI920zk0b3TTWi2b6oq1WXPMpN+rztNwV+33d9dw0E+ZL
            ezcxvjNoXJ7fcF3ym6ZbDRqi3Sr5JdG+QdFUs6SiW/9hmbe/+rtA+TCb3PHy
            T6RkWnFqCTdo2TNdBlzFfl/NYopqysJKrhnf4MqOsUV1Ddp261KsRcDDKf2Y
            +deScAfHanU4+RaDBANcd27bwVbzD6ftHXNWHNNbbPNdL+EP6/XUuez8FrT5
            CzmEtH3s58YlymhJ3adjhDXwSNnyQ+hK2xalkrnAQEXFvpW9gmwXovhI8A6X
            aAucqdtGg3QENm9pQBT0l8w+hLbnbTJSQrR8LKO/eYFxWruj7evacVkZQ+dY
            XbG+HHXu+G7I9pARxum3v9Qn9pkR2CpYCPzR9mK4NyxnngH2KVluB9EFpBWJ
            mvq0d1gHEAWfY+nN3uVIIRF4UMmSA8P4v+0tjN85apeOgvGHG3UWiqlV7ljH
            BEyhUS7G+GWce8bgu/1xLB4645Mz/j3xUwRJd9Eag/KMVGu5gCIU74qYvtF/
            hRzHSXuo09K27zhlREjJKeZ/v307WT+N1LcfgJyDyBfSprcwnivt+ejHJNzF
            2O0kEG3+wF47BcITLPTg1k6SC5N7mZFIC3Dy6KIXDN73DfsP6b0yOVLmySnr
            5z0HsEuD7Ut7mbZ5GCODiHOs1H/zniQp75Vt5Ka36DYabWzMn5IcY5Kirble
            etQ4LSa9jok8Ofa9SGGMOlrcd+rFaVc2lSPF13CCn+bzbM8tD6RMYKRRDIxX
            ROo+SxadebD0m0EogKu4Zp0e+MvWjB6pmbHenckOSJPT7nvTEaR3ipdgSTCE
            Ru2qY3DdndVhAvxhtJHNbeHzdvvwHlaPnrX97JINK8hE9C/sfqFO2iqrX+vx
            rfpU1223Tn3ELMrYs3ODgcTFeZB9iehrCkNObBan3PLB7MOdrZM3uqSPJlkq
            aAChcEcf+NLMn/mSthX96sZLSfcB3qgM6r25V8jP4n5q7ovi8E59VwgVzU8p
            0LpA+i+gHYZRxfyFK8rHnXtXNlPY20s5Wez/kqXTNKbsdasMNlJGpg/FefVA
            jM+ntLsqBov4rk0yRn/97c+gJI9hw0tdmUPE8gH4u81GGGy8jzzJlA+L0cFI
            Rci+iRuDDmVARcp0+or1CNDy198RBAUpjECu6ojm/qwYF4Kd/hVbkU7H5D16
            4Vne/h/y7yd0oZUbJcSDtAlQiq7+sCvhYErosrffgySuzxaXZsfyC6Qc+slY
            PrRjUOR8XmW7GhhXMSivjOqiOQ3gKM534n2+gmTBp4xYt29hNFu8a+646Dsv
            AGCgxbSMh+zY+7YNlW8q41DN/f6w92Pf9/u7ta/V3udp1wQop3Z2PPberNw4
            9ve7HgDQYvjerm1abt1Ea+bjnevKYcygEvOaZusQFP5EMFwxFDVUkPSMXyW6
            VEoUwDt7nnZcJ4scQTuyx3PZe3l7Lh8NPM8uL/+yA8up7ud3PbKgtnr0/NWu
            s3an/J6X7DmU50vBiQ/FHuH9tPC3iXFzFBfl1Jwn7vnOGCE2Jitz9+WkA3lO
            33XH77ofY4i/GUP8zRjiYwzxe+72HNXvudtzqqXhGpAD2341+O1un4q591Zt
            oI1iKGM+7FaMD+qUkVuce1Z7kcsWLXZsH34QgaApgWfxOcOnk0wlvyr/OV8w
            M9hGAUcFx0Txcvd+6vSHQZuCq8v4953jQ/QhAIXiCR6b1rmvd048xiSibZbE
            dLTPVjyjchx73d2eZSGkznjkY91nb06zfw3R4sdeex4Ss0XGUC3ujJVdmBta
            WYX6iFdmMcVEQ9EGzZ/myw86qX34Fm66hsIxyarIs07TAbVDcQRwmixWuuyw
            7t/1TRfSPolp1izvx/ZPBv935WvIRjZd7fab4fZkHYd5NB93HkkKlghbGGMB
            cLvSKJH9IinMWJR+x9+OSmaMqWECJDwjeaR4yDRNAk1JG1dZ5t04hP/JZtN7
            RfPvUtywRJ/eUO8YaLutkBj38gT88Ird7n9qV/Qu6W1L+qCYQopG6E7FUupy
            DpedpNqvEsOhb2H34ZD+8/Wtcj3sbyvlWeHdV/EFQfR5c/krdjRjN/8cO9op
            drSz2NGaH3o7m63cumkzz9wK7XzNM23kqj+Olz/9oXwf7GdS/Gkv3xJXMUcy
            GPArvp4zB0PD94rdIjhCiZHfdNRHLLGZRJ21l3+QNcJ4w0y0oH6egxF/lN+k
            5cN0EAByenclWgyMRvQru4Z0ml1hIQwEHo8Wy9mZ7Pe47SKz+YQu7dcgX7l6
            rmUxbHfcDLy7FKvj2HaCOw653sWvdxl1RUct7jxBi3b6pp7veNqjW7xeIFzG
            zixhWc4Ts1Pd8TDzu07lPOny43IKP3o+yu8+CFk/ypdzlz+B3O++eJ3fz3Yt
            N4rqCP5zHDFeS23tfKqKhdo+y4Dveo+1ov4mvXsbTfrGa8YVgFwy7XYT7fOv
            PfbHWP1rbpf76++GCaN/kL1jrjflY7M+m62U5ax69Ym2us+xU9MvWtu+oYAi
            7FjWVt5/lqeg8qN83uV3/46vtfD9q3x5z/EcmmOXSB0HxWWnb1m/7UIZYom+
            LEeRn5VTGgi3n8edY4GHDfBk7t+KMk8NZ19B9rOKKY2j5cw2WJQx5+CYzCB6
            5NsGeB7Hy+87MD7PmI4xK3IYbuczdKK1PUUV9MEv4JsWY4uQb2YcfsFn/HbZ
            zgXHcMPrwjN3jaG49sy9hHrDAxZN4u5WunizI5gPWbY8Pq9+Oa+YhIztn/zo
            d96zjDNLKYGESNTbhCh/VvkDkkc5Nl3O6FRf/peJNt2ghI9m/rbEb56+E4q5
            /ijX6cNp+Maju/6RRyDv66UY3IGOFC/7hVhytZjbBFWMOVPunMVpx9VhVC75
            YpONVx7FumEz+KcEGHXLNw6LKcbzQF5RMehvPS79UzpzFWdwen1V8eZspRmf
            roD/ecmeoVD+5C0SAV3sb71vT3Hir8nrspW2/fiC/JCL+YJTXhElixzB5ODD
            y96eAXca5QfFbMtA65Ae4b7o5h9ucfi54ts+X35VtPpVzOo7jgQmJNu3FRtG
            foXR7tuyfIaNvutFej561VHn0XrY9l1ygrY4ZrEBoSh+GUhKl4CqGbiG5weD
            6spTk2V/xQxTyoqb4n3fq2Tcx45XzLjr+52zZ03CykhYRRRPXm+AYNQOmE1+
            6osxGOh6kW+DgnbIDyHIqW4aruV3OqeMzbwIq62MuBLZYhibHqPir7Jfk8Ic
            Jtoq2JuUSzKjK/tidRvfndK9LoQJdf8etHih7Kvd+fzozasYEkt8d7/z0Bmt
            r1gZ1fbMyoopwQS9r7ZlDLYYb6+YLLTSpW7X4UpTXr9gc825YD2AiU31eMqy
            GR8H9xzPzpXzLAug3nhNyXLi0DQkAVenTF8doLo2QpKPEkMpUyCA+Vtm08J5
            59wGZ7EFaAOQOBtHYEz+tc+hjz2mQrzFMBrR/OSrZM5gebvi8Sv6fyPdu31q
            c1/jux1XXno+GjQe8gMIUdHF6/Fqj/4FKYFm+P4+HfySPi1q3+k7VxLtthmD
            JNT32riyUpBvKMZMf2rJZZjvQrZAlAX5kAxO05MHkCWEYLQ10/t9lDusHGNg
            bFkhDkORH8S955lqFnzU6wzc+/dz/8umaUh+cRRZbNiePF7tMSGW4A/Wkzo2
            iWaJ4/D9fea4z6dXTgntyfd58O6OH86zqnCRtBPX+3C83gGI3c9kD0kdDueh
            Xp280DFxlMat1y+tmu9koF0J4Qr9i26YWWiI0eikJLruvOEtx4C7fvvp3/74
            sQZwfO4KpwT32zZ25+mq6Y4vLrELILDpMqrFeBzH/X6XvxjvMpiCk3zRzl/I
            337uOOD55983X3fd8Yd2HMlr93ftnN/njitAm58ww3nLOSQ6buZLLDc2zJHb
            8uXEbGmKH4r5yjqbI4I/XhaP9bA4CdnVKZre4rhGZzqsdpjNr1vHd46ZwLhD
            MTAJqnIy7lwu9D9T3AfGF+Q+1u/0lnsqvuHOs8uYlnrP/Bk7FmQQ3WO+KbTJ
            8zs/vZO+9zxe9W3bBTeWogb0lE+230m/Z8ULUr3U53HPK0djkn3job0P/EQZ
            Nu097xggjK/A/IzPPsqXbcfQYP0cxAqM515mvfNOeqN9GNsE9FV/0SJTdBBl
            2QW7D7uYsTBBPD5yXjG2yjp3XthDflXK+RSlrGAIgyLHMe5pEHUnJQeWU5X+
            lMeLZuNZCG2s3sDn5nCth2xA/qJOeTFxumjpTkcX6ZKa/JZBrw7lVaZ+VHIK
            o2kV7/oShUNacNJOGdQh22KggiePzzFi7ugi3q5AuwQa/1XQIOg/s+vSjs7W
            FxCSanOGSGOWjKr4oadnTHozPRWduWR8lemnAz7ro++9f/a9t3/d9/LVd/KT
            H3E96L/cQaO2nUeFDJ0HZXnYGaI/LuNVWx5kN/zORTGiG93lURxDbuNZy2Na
            jFc+PwfbpxEPn3GnKoaPk73joayKds+yOJxddTLSqPJJ0acvChzcdDc29KzS
            hRH0MIyvcj9ZnmOvXH+jJzAg6Cvbpsi4BbpDykZ1MrDGzsvlGV+NKmlHHTjj
            jWHuWjTbZQM7i+tKn32LodNe8SQl3xccoK0gRsv+ugJceliQqc/c00yQK3w1
            yVCTudnyBpLiVHtU2ja/c0abTiXLHhfgvYlnmBzTneORiVb4/Dp3HCKwEvd3
            wqtUeNHE650T1HGNaeJ155MmT3Z/Q9mIclSAIuazwijnjPO9aQvBa9nsSXZG
            G4ClXNTJ4jHNS7mp6T84CXrTNBwNur2nHhfxISia+MpzivOu8qfoesEeBsiV
            3Yq0wwZLWHGKW6bpNC7gb4sRy8CYgBpNOiP13SnPH+G+9Dm7DPZWk5/edO7+
            TvqDunbuSz5jjGhmYDJdJRiIKRrWleNjDgt91cc4G+NgRHftGNRhMOcT6U7A
            cG/nlEHuQpOPtuHsYLKG6t/w5Ak/CnE9+sWIyBoH4/Y81oreudIZR/u+c68w
            ht4y/RvXhXGICEBuHojxi9oeH+s53aofMIt8IqgHrGtbfbln2ZV/Lct8RqX/
            9XenQ2W3WJSCUcvicyk8DvrCfl+H4TOlznjtZYtNwLi6pJknz6DEuvT3E11c
            jzdOkZ32Dtvrbhyl/Qr6mwFIS5AvseTp3mIMv2IAc/zMfanY6BZRnbn++j2n
            fuPeo9k76mfv88Y4vwqrkRgnpg7Fut40yZ0r9841DSAiHVHfeV3KpqP6zjmt
            lIqy3dg0zWk0zNz9whwun//6e5z0CXnnO7/jNVg8SZCE6e0TrDhUDE9uurcu
            maPFxOZOqgAq9FMNceuHQRmrnlaZY0E2+kr/pTC7oM3rptWJH5x8ew3X0y5B
            vvjJYh3eOuMNAwmtm55N+XUb7VWVq8OR1nKgm8tpNhvkSGgdLt6HNPiSPt6J
            FpFf0XCKIWD5MQVrX37H2xaAfWqSCpl9q5Qv4SFvYAyU5K9tD38Jr5M89bcd
            TSx5bh1lkyFiSXGsO484cwxlyqeesSR3TDDSc8d156CXzjzl3SfQ2uNJc7Wd
            c/pF9yXbazdtVw6TOTHnyQetFT9prUgeJzHHtPEowWi+U7awrlWLORNeunL6
            bb9it4ByzZLxYMfe++qULH/rSzyN95PoFvRf/VX8Q66n8uOCX5X9RAuMa3rH
            oJIW2fwN8s4LT3/dm+adz7FHi8MlmCUm1XJ+EqBHxbYwG2Kc5XNte2v5xlBv
            dNOs1fikjnlr0pWL/09+z9E8jd7k76BYmq1KLpotnwwtVsifRbPLz1zztYR3
            zk0nuft72rZp7s76otslX8879tctGiEsZexP39uN04j8uFbrPMsHjY5vr+M9
            P7L/O2zdU7H7U/kdDL5pywzaPIPm4znPhn93vAfFj2BfcZ77baO+5q9tDtqb
            REawxzQk8zOWXQNooL5xyGDeIcV6jSk8YtzThq/J6CQL/tL/5YWL0htuup1z
            nfQNjtN60RMvnPXGHxYHd5wWeWjzcfGOG4dRlTdfeh596793rqzDYDBzSALv
            phof5xP7mNFhzIZ85zwslM8R6VaaQxQf75h5mh9w4YywYvtUrLrJ/JhU47D4
            3ZJbMVEB1ROKa9OqbFw+YxCSr547P+i+P/NFZMy4f5di/nX5jZicsu44gF05
            N5byxF+e0pVwxyjkuTW2upkt4o5TyliFch244+NhyG1YPFLav/sYif0tjqvR
            nb6GNOtKkxnl8DsqTnn3HTQG3kg3dG7/aXq29afOirHYfVRKqB/rBE8Sfqoz
            zt/XuaQHAx671y/E6xXzhRJJxcbheSL6igwI4xRjlVfK+AIw3lBso4sE+f2b
            5WiShvloi7rn1Gi2XPXebOtIL9QUpJfWb1oLoX3A10abyya1CH0pKb9Oi6Gb
            G8uBMvGMuQPib9FObT6fNyJPxZyrEgzItQfz3RJzdsWDfqmYuNF2rvjL/JXp
            eUF725N5dI9i/oDM73U8+nbRX4ECiq49GE4GubF7es7MZDkoWP4MTlfwOk5t
            2JyOUIb2XXaWL+NQpDbcU7yvuHz+km0U4cFSsCVZ4luOxkNxKGheqetJbshV
            2oAVQqepWIq08N5xImhTnBbpD475ruOsj/c9ee2AwojYj7KnUxyko85g1zP0
            qTVVbHl5C4J+SVSVVObhPBSX4WhS+0XmyXJlBfqIL/KGHnizMgYfbbwPGrEF
            +eKxDGM/VNFO1Fc1IlP0i3mZlHuddaDa25973P7sfGY8OK0ERdvnfkatBXDX
            IG4GH94Yho7lzmD+A3X/Jrp5+fQyjoroMFtL0FnyL8f6AlCsQJHvoXhjvcne
            3eIpnu2MlgSNUCop3ltU7jnSVWXr7MiAMQckVgx9OVdWzkiv56CjQJSbDSdB
            p64Wm3wmZ/m48yF5Evt10s2Ocl9GEN+ygUM6SNnEMa6IzlQ5l7v1hGu8+6/Y
            0a01wdCuROw5Gk1SGfsmiKePym2yc9K+xhD74nnUfJJ2vcdA28jqLQYec65m
            5o2khCuv5Pa4wh5XGXFJR4c3M5AedhLKAB5GN0qXTyfGS1U+yAywoMrNMBiE
            FdBG1nfYaUVrDDhPu9nUbd3wvOk54D1jRbhzAYXG5GhLQvtSynyAq7CzG/mI
            P83561x74pPCiEvqH/rsdEZaufOOVSU7cLL794ov6rFee/575x4f1E2fgSkC
            +7YhTTQ/et8/15mCARAASpSA+V6UgWq+I9ajaz2YwkDPvvcD9rfixwi2Hkyp
            fh53O9Y+8yxYfETZpfhCyc6KjQYc1i/q73iOGSvG04EhKL+fnR9aorRV2QYj
            6Lti+oW7HzwjshMAZxWolD+179e7T8zk/T5rwNfdeJzSyGXzfDJ/l/zKLz+v
            8N6/wb/3bybNPt72+FXaMwskIVwGiOEBFWsnyR6mbCobzTXNB2dKkuJrYp75
            Krra4rsG8oqG32RLli6nAGU0LMHvOrd9CsW2pckGxcbG8GonWzVd8CHcO3Tu
            ON648Ua61kiMnGq+VHn2l49e38+xgWn2TLvyrPiwRfE1EnExQa/i0zJ/vSMG
            AE5pVj/bBC3a5Z8POkZzpxjxdwxVjO2M1ON6fy7pPtCw1z19BsikFrSdHnv0
            ca9zsdsRTC+i71xUDFPss+vEXMWwbS9Fq7Rtc0lovj3f8tYhjKce/D5bVJl8
            na9293MczGdgvzlGTuEstAU5mbHEdkCnwCZ2+mQyhxSQBSa4L1yTfcucSrIz
            0NrgnelJu/E0i5qVKP3N4XcMKj5P7VpxryMWRvl6QdysF+xtb9h77jxe9A0f
            3XzNpHc7QLdXeh3I/2Jxr5zZcBZDTp30w3zUT1upX+oP61VnUrxTTOG5gDSN
            705GO7/WqZ88X497xmQ/H/eZMMXmgZwkx1ovzoH6obNc0dfWXue3Jsr0+L4Y
            zD1Br+n8M74q6tI+V1SV4Sb5e+ZAryXMfvtaXAprBcgmaw0GiAh9JbYxi5Co
            fOiYMwU8pnyd2I4LV0+mbxZPzvf1er/PiuAShzDyEFxpzLkNDHPSD462826N
            MBj7nszFOWvNZ1VAQUUy9WYHD6ox0w2FOBwkWaC9XKDT/HKF9DYNQQONHVR3
            5zlTvK1OMoj4pjftdJp8PNbTxV/XU7ELmsGPsBQqoFv8iw7Ia3pGl0jDRkby
            kt6CPj1XUTuVezlX8jjmayhHQMmdtl/JKdkt6k/+ud95SLlOON+TsZ1lCPSC
            LSCmaTkCasc59VexQficOrMbngnepIt2JnoWNv7Cfmnk05/lsFAtU4Qa13HD
            9m0ntniM5H+64a9yn4fFRLVeZ641wc5zUg7Icdm+i/V73zHbg6eBNSl22Xzc
            cf8k99r7sMwz32dIsLzLUCzRbvDZ3gKDXHBCNWf7WcHZyPg+Fea9jHO89QuF
            ORVKjNOcNCz/0zpMe0AjN8EVxhi+guB2AO0ftwyKvB95Xb/zi7CtkdX/yHxG
            lINioqrl6CKl5Uldh5y+5g3nKFfz+VPCSbP5iWwLtB31sIpTTvsh5XZ3i7l5
            p/ar/B1tDb1sZve67mfAi1pD0TbME9YsvxZjzsYNOyLmLAETRuo9vt5Vr6js
            L98R/E68F5uctj0Hc52DeWCuTvPiKekZd7C5v/4GRlx56xMjbYWabAoHUUrE
            GtCulnYXc5InBB8A3ud0luv+ZEzUS3kvfTM9wCjg7cqlGMkzdpxD5ZsELJqU
            S5p/GfUFTc+kOAZ/RA51rCGbjah4Fy8900FxPPMYWizYNrJoC3ftXIu0qdn3
            8yh3LGDpstxDntOxR0j7dQDDW+4jmXiVb7pCTe+5VLyUHVP94PtGfLXl2pZS
            yvQQw2Qi3epNg1AcOCsxp4LMYKOMSmRnFi3QRaDy8273PFVvpczKnGneMqYo
            O5i3XkCBvpW/gU4bnuaNxLvMC4c6ZKnrVM+W37RdP98v0z1KZtgl+ZL966Le
            jVEBTJ9oMgLPR/QVavLqVeyim+5oZFLy2/fjpkOOLf/Hhl3PPDQAvxb3ORod
            Mw6LtwF6ID/pGqXVlI1EoLdfi4p3YTYZ45WXcHjORbssysTtC94wA23r1m47
            hHJZLGda8FCPr9S0B9XD21aetFc4Xzk6OJeVkUzszIHjiQS8gyIhHB8yF4zN
            W8n7cv7vmD1sJ1XmCiyM3+jCtk8L/JYwQFmBuS29G5b3ibmjmEEKpwpovTDu
            fj7Af7z0GUBc7t4fuX3uj5fuqxN/vPVZjJbOGDS3js9RS9nMjo6yTdG0ikGA
            K3Ak9Y997dw6TfSY5ZzM5ntiOsu33la6S+blrXfek2j6L23ardNKy5+uDEdc
            p7hS9v5cJr81un+orlbzp+6R8uk6gO0ZVxeAcfvMkiYJAYRw3L6pOD+KZ0Fb
            Lj47LJ/Yjm/obht7OaoQnlTJfy3tLOV8tKSim9QczvKLVAuXvPOOKdf7JRpM
            dtg9Wq5HOk8RnuZ5tbuNueW7oKPHhw5s2/G447Ylsj2/DvODus/SvfcZw0tn
            gHF+j2Sp71ys0/KN1zsmU/Q7Tx1tNffvaj5jZtvnbG3j9n0ym077Td33seMn
            T+YiMFopsR52B88UM2xKLHulSr+WIVuPoHy/Oy/dSV8/jmlsee20PUm5Bl35
            OS9Btg1JJpucc+bxGkxDc+efWYr93ijsktFXtHgRAmNBcjeaQFT5/CTTsZAn
            OS5vpnte+93CoweUDVtvQT0G4x0ss02WzJr0dJQ+Sue+17cfxr3elNkwvN3w
            bx0BifE7r6bw9vH2T+a5LGmMTsIpSQ/dzDmcHlCW7wFnrun3CjjLjCegfDWq
            h5CuM3bCYTER3joE4E3S4HV05sihf8TL51neapi/JLj9mst+JaZQXxJFSoaM
            Nd3yep7lOi/Nc/zhHfZGu3UEcj9SLiRbE9Juz7KAQ03hphhB5vE8HeYLRLo5
            9LeuynnGMjc7h+YJ1a3vJ+aqZMUHaHcOnhsGCMNF+n0woaftr2bycebxvph7
            jUnqLuYnY+iwKUqQMULOTHtylFPFnfAR8J6ZqrDLuzxd6f98USDFHK3C2SxP
            kK+4/W1U5s51k5mFH7Dn2DQvYU61PG/bnt49/Z8YV0U5uJvVUee7DuZ/eNXh
            fl9H7lZHl89UEufxWvspQj8ftx/GnZc2SRdE4HPOZrYCYc/rtimTn8dJEEX5
            DzbkDdOZz/hAO8zDhDPkXGas67O8csdtHY1slToNex7+aF90ye/oD2fx936h
            W8Lxe7pEcS5/oEtwtj/okn9CF3A+6TeKgTFUFH2hmdtB/rVVchfF1KEPwwqd
            +Z2Tjw+fROamYB+OTT1zPYvb8ckX1i/bO+7teBmf9p1XSj5cblSJ7mmSQNsY
            V5hrTUvHPb9zbr/9+B55SpS3l/FX/Jh9UkeYqAV+5RC++yc4u0wupZA3XnZJ
            1p7Otc/0G3VTQeBk94W5BFG96BeaZP817RsXzX9NpgqAMO543yuf+6Zn+e7O
            yRa/cprddNXs17xzDzGW9kjvcTPuI9gI98qxli/hA9Wc3nmtFTyStjkzyexk
            x4EItPdg7hXGOtq5zBj/OshWzG1/MmVRbWcvFzMrUjeSGR2eLmOy7zDfvBpk
            a3rnqmE6DCCFuvxSTE1SEPKNoi0t5wrnc+c6Btfago2B8Q0rXT0D01jjDCbB
            GiZwy4xfJZqLiipeaaIAKo9233d+J8aQpMw7zNHefZEFlGyGwLR01tnd1Rl7
            0uwMQBImxR4ZlumR9guMtpJJH4264zOZ3Y78vGIHPLiywR/GMBtml4KTj7My
            0a0br4OHKcxlQrv/aSEv6DMEYi9Y4LtrGwLJVs3u275PxuMxrYzugaMb4Zxn
            vh2ziS6N+ZxSWM8ztzBvc/sMMrjL1uHlYPYEh2LAYK6m4nuOD1tP1j+G2Vha
            3fGOH8MoBUoOmk3vzbwHuo9my01XvDDMh9ftPSdajrYE0Xzh2/adZ0wS5iye
            spY0G6H4ynO0aUbM3eXVRlYclGg5OzlmCtn8HrMfceaUK3kA+m0zbhnzyNAW
            JtBWJF2WGYa25oX5roroIlqetZ2jQDlMUSjPnVsgXmiANom53ueSnjWKnbPv
            I/X4PMz7mez1QWcxHqTJFS0PaaSe5OYrGnUdIG+qvQvr6gpqsttT1FI+L/Lj
            dv+qffNCoi2s7NzC3Ye572WHrkjymDnOL8fad86vw+L7tuNF91tMjzt3sLPc
            8OzrvddoPUo/NwAIizuw7S8YZU57v9jz2/B/LZQeFnVDXr5k3C0n8zZhOPS9
            T3Zbk92Hfd/3fdv1/eN/g/5Rx7/9z9Ola4j3+5ffT3LZ7n1Ppvf5nqcum//X
            5sz3dzt65CunyXxV+Nn9abz89/ePDtj7V/tf45hy8d5DGLYD0ig/lo1W9n7+
            /R6opXBOGOiWf5E2GSG+Sp3Vxnov6dfnxFGaq9Hjj3OV91zOI/34fvyhffw8
            g+LCu/pz/TZXKf08vrDbPy1U2C/fr2n1X67++L5cLv+r/t17xbuf98qf/v1p
            rzE94L96T8GqVwTUlEmMWtl7teLnWldFOfptgT+NlSugfbl+nmu399rxm73W
            7nPzm33djz+8j394X//w/g/t1z/sxXutXPuPr3X93Vr/vL59aAeUvv7H1/r6
            r631f3ouQ7L6X3AkBEY4eV1f4wxW7rv8GSzP8ve/u3y7AkVNwFF2XfvKoPF8
            fzqnONijhcbnkeYfVOLva97XUuxa3b6/7HswuknfX/Y9vZeUPajY8+/+znQo
            1iDa98/nd3/pk5BqkvyGTYmmG3b1+z4uu4JBq8qJzqTo1NHv96vZleZkwvvJ
            3tdk9/ec+AK8n37Y39ce054TMijPvr5xxvFClFo75v7d2+q6/vp/eBQSRw== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
