<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0930.021e</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0930.021e</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0930_021e</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom BCM20702 Bluetooth USB Device</string>
        <key>FirmwareKey</key>
        <string>0930_021e_v5768</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>542</integer>
        <key>idVendor</key>
        <integer>2352</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0930_021e_v5768</key>
          <data>
            eNq8fVuy5Lqu3L8jPBfxTfqPoqT5D8mZCVBVa3Xve7Z9He591lGVSk8SxBuJ
            /3XEg/8y/sYT/uf/+F+xH/YvHPhUB//lePB/9xmei4c+/g8fqx08jyM2Xivq
            I68xjh//woWLP6f9mEPAYTm2WJ8aaq4J24t3qauVWlrG9wf/37Ev43utA8cU
            XLXjwY4jlaVtaFGPkHQP3jaMxEeMftva+S3w68K3mezoEIL9fvqB07c5BV4n
            F9/u0dhvU31/8+3y61z+e/TrJN+2pbG1oyIu0/VMGMP3qTHIfNzej1ouPuUx
            a77raa/UR8+xzJRyKg8fI61oY8Dr5qfhjFkfjkyovPrCGz7piLjWUeuReJOF
            8+5wRN4ZI5c4Cgs/3BH7MBMlYR/uvKIfh8/5PlLGfRZG/aqYXvyWJ/YlO3fd
            2Dc4i9jX7bjF6cVvicfd+I7954N9ODedYRkJhMhnsgNwgXPhALxMapjWqGns
            R/v6r/p/xf+LS6M38rOO26iRQ1Vum/V0fO1/OGUaKo759WN/teN7/3mdw6kn
            rp/787DrtOPX8adRR/v1PPG2ab86vn/trzEMI5lfx2s0OGg/96fei47/9Txh
            LVHnWl/vpQc1oi2/jt9rIv66bxhRz3n7fltHn3/r93P6dUbuDw/d3MCWWYij
            f/b72tcZgy/2GAnEcO/77JMxb/hvr4335LTXVzu1jjIYTP890MnY0K8Xjmve
            xsl+7Z9zaf+vCZvRXi38un647I3D7wG9QvnbgPbSxQ7ir+v3ZFwn/klw2j9+
            EUq6s/avFMTDagk5jNbTg0WHZVhBiuBEAaul5gmG1OM45hKX0IlPvR9QJzg7
            jr2CyJQjyHE+Q+ayxHZGsXRfeCnE58GIncdN3gJOMnGRfp9HvRvP/U+/G1/u
            8ariUVxkEAoR/KVMHILVYCSQuAr68X/2hyl7AjjiMR8IjuMf//lx8d8dx7n/
            V8eVf3nc+S+Pu/7TcVnEgEUR2/n/cN/4T/ts+p7nL9P335ixLZR7NRLIIf/n
            6cvpX05f/ZfTV//d9P2L+17fL/XX6Xun9mu4/z/s61UsN4ckNaHbNPObr05b
            7yHEFSA2oWNxLmIEK3g/JczPCW4BDSmfEKEnfjkL/ir+sNJPaD8nROI58cdj
            oemcUA/PG3/gUFQhoB1l6BQZ+kJeOB86QoZ+klc7k5FAkSjPi6oULrZwsYWL
            LVxs4WJQMjIYWgY/zWBgmTrihYtduNiFi4FK84WHuTqUoiVZnCVip5idvj39
            +1s+4qVvPYhJF44GdbkApcAZPJ43StU6Tmg3YPvP0yC8wOvO1cj2Jp68B2On
            HWppoKL3HLM9N/VfqGs6n+dh3wOO3er1DF9aFBrxPK5T50F3S/m5oLzhTrny
            vNhxT9wnns/Nz+XhzEFKB6hII+DpwtUHnik8EIamSvZ8u7zEJBxn+UGHHSdS
            L+h2TIcmOfsjZfRa0BD1ZLhMfKiwXX7OJSUiV9OSLoiSQbZP9S7ZiIYz8x3r
            ADkFjE2Ezj6e5efzGWrptuB4/r1wz0rVj+cvVwcrh8wGa1QN8mVTdc10+lQ9
            0q+6aTYUk61jyPi6K+vxZ6kZDCOFqyRO2X4dKGutc5iMMDK03PE+XF9HFwfq
            INhnYvLwcCf07Xfy9vP0xOPHmZusnIrJxqRekcffdjymNMdQO9REDDYkMRTw
            6t9B2rhOWAOEgP+g/5xLx4AWHxpZJJD1TG3vd1KxHH0i8WhYET85lx1zrpxN
            Szn+dkzlxC+QkzSpgomv8RkF43hne+5GYqkYMRwVCkcunqAvLLbZqRxnkuOF
            78W+R34fUH1mHIHyoPM80AqufddHJkDg+Ykvd1FdzCGC03cQcOMMQv3nsemB
            fmYk0A5TpGACXSHGsCKpHAM259Ng9zymQt5StvDAV+Cq6+8gXNA5TeelCpPj
            +Rfqvys5RKaxQ/WUK5gTmX9Qf/tQ/5ACRU7Dr+2hsdVJqo3s8muVYoHfbYgr
            cDCSeGy/jOq5unEA79umncdjwU26PXsA+7mm6dm5/jmBJFQMSS5xkz64glZR
            u+16evbwQOneCwdMsziZUxUEb4DRR7KFpnYVTNGkgWq8ZpwctTLuJ/QRHlrk
            p41YyJVvzMuAwm4uj64FV79H7PmMGM8paT1l85hbI8Ir5fZ9TnrPAcNwQeA2
            R8CMPFWMkbSKB4iyvv0ChaIIkqhAMpQ28sALLlpUoZI5h1FyB8ngRR4O5QCr
            4ZWx0JORix4SVNjWXsdnBJF2SYf2d1IgOYV+UdKZuUjmeWulkCNJ/zBBAQXf
            OM8gqWCNB5B0ovDCNbAmQCsN8mxoS4EgzgYDbD0vYw7tkVOh3H5tMFnsb5HM
            N5y6PiyL3vCed+DIUaCEeecZtcbnA4vhmRQodV/j8OfgszVOKr5HrFEsq4lr
            l/u5uKUg8jHCjerUGF2PuLN8C3lf74+JTDJIc4v7HFDUKf0uZxMW/cxc0qRm
            cwH4kupjOAnQPXSuAaIo5ytFmgywhYchUYCCfe1wvZybUV8XFZr9MFoQd+lQ
            iPxh8jRKfvycg79h0RzLGTofOD6Tjo+Us4TEsxnjQ8ZNCdz6O5BnG4VECxkd
            oZm0C2z9xgrJZKR4TahQkNTXAYZ6UrBl8Ai5X6CL4PzN31bFxKbnTjB879Qo
            OCBcsQVpg3nY/aj94PdIK5fsgR4e2s/YchFjMLF0aXqJucaz41nqQ3l9cRHc
            mBbZ45g9XwRFvqg+5TGB9OZkUtc/qH69Ezx9EWgOwLxXkHFH+3Nxfro8Ve/x
            4NNYViCiuLWjGJ912j2waC7XjkCpa/NPnXc+fXYjgYG1fwysjti4OkglUERh
            4+5JWlSVpMZlU+MgZO4OCUpO0p/Ji8bwkf/cj8mfttJiHqve+1pgh0+Qj86v
            9dgqfinzMWKE6tKdGPk8JXyt1hU56XipbNfgqsxBK5uDVsG402bcdzdO81BX
            c8ItyzUMcjn5MmfahlPgCPAqbeJ5+dTQZo4HwxskiZsxeRhK5DtpuqIaaM7R
            Rwgpie8BU8XteewlpaHpiRp5MLFjb/1bZEboCRAkvG/EfbMJAPByiUwQWMPU
            PRid7zee0Hjaftb8GJmAyRybTGAynXqeuQVNPFsH33YuMDUnvABmrDjjCctv
            ihMhT2eH3D1PyVteAGuutH3O4ZIq5s859bBzkpQrnXPBGun7HJCCpiZ+3eeA
            8sdzwBj3g95Uh/eAQHO3AVmfAYECdHNAoMjtAXlSnve2EHI0UQddObvSaGTQ
            eMO91kgB9Ta380M/55Tk/XqfKz1npYIaN8NO4ezzFWph2sDjKXUf6im4VqeC
            KfeWnROh3p3vZCW7T4ifyeIEcrLu8t4HCkAe+xwJJZ7zNcF4Lro8G9b7vg+W
            lXlDOwnpMf4d932wD+/TcYL7Bc6ba7CFm5NPHpDKuczM4jKm9JNk6a36ui3b
            TLsynbvnlWCIHGftNNdw8ecjyVNN6zTBAK2fTlWt+O4T8nwkOQftzq+0PMQP
            MngTJ/H787tiEnS8mragipcRyPE1oFSj8A7tmiIQcnYMxoefwESSD/CmVv+L
            J03yD9yXPCZIcpLa06jr7lvZxOo/uX6e+Dk/OaOdwc5PeGMqoel5Jwj6C4iL
            Y/KIpz2m6n0tBpwLAoIlo/sW+vMhlM/9rhCAk9wrzs+kQjk0DcHuAXv+vvZz
            xtvMz3R8jg/gItlJYN3NNOUgDqCJAz/D12AcDNMz+FrFVwVfVATAh99S+pGZ
            dXBxxSrCWJTQOdWT+y6tYKj2Id1g4NL0R9IADKod4Aau7oDAuhFUrNqCCP17
            tO/h9u+Xfc8pY+Ttc/JjqW4tObqhCfEYxhROaRUn5Vl87Lj8dQyuNwOkP7WN
            Qp0FWkCaUINP7T/OIJPxghrbIDgHtzTDuO0g4eOKOAyaQaTu80x8nuOoryYz
            hs5jbK8lmGR4r46/GWi6Br3nrG5aLjqTzbMPmgwTryoigxasyB5mWv4BsRFs
            8eia3JBt/9XtOwiWcRwsPvveYUCKi0jzGU4C1x0tItekl4fLJmOM5raAfS/L
            tJWRQWy3ebLl0PSHyYfCTVCYcHeuLIoLqi65870gR8+oVWpmy9F9G5a9RMi2
            7R7uOPw+wa+/wzUr23XXsu3l91ndv+e9tRV+Lh+sywIzy79DKZQoogEN4q6X
            Dx7eUPuhzuk6PkGwy22yGP7TZ8ZQpCr6Z9uSiKUO/qfnovMQ9PfIK+gL4sBi
            owEKvlEtunCWmc2W74lRiAhy1ZJJjOPNAGMpZj0HnRj4W9E+c9v/6Xtc8kGO
            rQ7e1yUvSD8pU8czcOGOv0VNCduxgm0xEJFb2I+BN+/JtgvbIBYknQ6Tciog
            DJkO4rmPP5WejDVKl+YhxyNk9nT943llb/6obH4O3roqOljkqTLZC3U87HOg
            tj7zfmUvw6ap5KJoeolS6oas8mXngJdRXt88FyvZnVA6D7ojeCyfjxo+WTpD
            6dXO00qALAV3Pn5a5rnc9N3wPHF3Y/H3+jrvh0Gnc8Df6QK2ew235nWdvxuB
            J+NR11rHHr9ajUvP1V2UxJQuBrPB3UBAsAb7eL5sq8OMUtzcXUMPIw6ZYfQK
            bnq5AcMb9ZHn2g83KYcXWYrd6NXjMRhkhWW+BiXPHXN9zr39XDoY/3ZueM8l
            J8kzrRX2C0JMD+oiq/t9B4QUXhJ34bSlgeWFp0rlojYDWyZpQm8f4HPweRKD
            0XiObIQDbl1eYovfxKYBpvSWm4e+cyi0F592LDsHrxYk810fupOcZ2btU/wV
            Jwx+rhFqCJ4nb/sIlmz/jAsUafOxgiXo2pDA28LguIBop7b0r76WRb6lrOd/
            dGg1M67a3O8w3bIABzTOnhX4aa4OBgwfXfp8mK1M4F2dmnmB4asUrLK9K27+
            XqUl1DW1+jMUlurUDCIc+xwYis/XqilcmyCytM9pdG9WiYK1z4FR93w4DIy9
            NT3fAOO+DcdPWI0OGt4yb6OQnioSEExgs6QDJpmTxcBbbxJcdGKDOM4aqxza
            CjhLeSxgw8smjC7s01j4uLtb2E0EjLl9XqIOWynT89ZFdSDL3TSjpab8cjEX
            U2oZSbljekpKvyaUx/SLrh+KiyBTUS6sddhzyO2Tx3gNawhxWB6xMpaSt3VV
            sHO0zaHWwTl9LFgMZdwi+atfe+DH89w/WVyZNznEh8UNY1fj+AeHJSf4pAok
            LRbnXNkmGGruq/me0V1Ldvyq/bbjJ3eD/ZIg4uf49R7PtIpyzfw5niGmoFyf
            8Sqte6WuraDOGGl90Od3tO3fKzfeo+53g7l4U9yPadfZrhQMGEis3VIoA73B
            MhEHt2fcASiNFS5+W1bCpJFoC6jApvl+j1akRF5GbBWcqTzbhd5oSt/kVnZO
            hQ1AX3Ol55bnY0Dnwipe23SEKM6eCQG9cV52zxY/97x5z4rbyqyNvGqMljgG
            ZXwoDeTeVHbRyUl//LQLQD8qHIgQFEfgrJjvDCupd7HxC7Zxg+nxizPUdNOU
            cVk8nA1DMr1s+Fy+yi0YwHNyy1CUyJmSCGdIpz7snKAIHBQX3E/5OeYITtTh
            YPiCdWGFwyQedNBUDARWOdhga/RDwEIJXerzax0EvgeWajik3PXDtX/bugVB
            msPxefj3xGisZC5kagq8R5YCH8MgA6J2D+Lje2WKIQWFTHmfS5EUJnKFT5yl
            FlBpprqKy60j/Yqk98JxqSf9SfQPYFxqh0knZ5WNiyKT12/fJrYPmZkHjhjJ
            5Fn7vdbtgiCtrEy7JnX8DF0mFbMOw5hixR2igJ4lyLmPyYXjpP2ezEeTirH0
            ko+/7H5p0w0qdI1zyJNOGVgVesNd7QVe3yKdTxUXinK2uie/9pMciOdK7Bob
            vJa/fDyzxAKVT0YAyUsS3ewy2dxpWjF9uYnIi3QTBZ0yuRRZKYNONItB/HWK
            qB8/b871OW9dft6086KfF5edl5LO4/uesMzPHQWl4D1kVtt5OsR1IXCJVvIb
            xm4Kn1GhcKcwiZeeSTyrh4hA4dEW4A1RxYm9E0OFxp1ARSe+FzqNu7iBnucq
            x2xb5CokzfE3dTBQzEHamJzXYJBt0FnMBQAb9ul6MT7cXfrXhbLJ+/qlI2CW
            pMAcnBCxa85CUmqpnLuwn8mu8xpvvDu5HIU21RXzLopQnnTKKDInVolLLlA6
            CYF6w2Osstyf63iWGzjBKTfKxLPjGs4qMa+0lZ2Qbrco6n4OJyISThLhUDHE
            3MLq3/d8FkaLKZ3dznm5RGNo1u/PSIo4E0NVl57hmc/J7ZG/FeaWGhNA/NrZ
            FebnfZ6Y4tmKQlMLz4Xzz751lAZ+Zimu5AgP50Fm5ji3UqnzMHNcTPV8bnJN
            eaJEZA1K1cl8MXKBO4ZicTiuTmieDykuVL9YALnpgnQ32oULwwtH1cV7JZ+J
            gZ+NIHSDCnb0siyIlsVrxtuuKcUJ6/oIpsAEuZ3PNRYdc5gvPGwFAWj7bHnd
            2ljn2lwE8vIJit7YNYNC3pcmIQ/3MHICotzNetbrcOVx0jMRr2Ux0uATAiVu
            nptA6mGr5Mk+DsUnmKZgORcJZcy9MGBJd3BCf7aVTU9ibORbT+IzlFuWyqng
            9bqSzmGCIRXhJT1J58jd4SGjyRyGal7RYgG6ix4wUA2Vb+UYPhLip1n5UVkp
            jLblOy/8wR4x1wG2Pz6Xwz7Tl4WLnDSoIq1JhjlT3+EFrc9KbzanKyklIeUp
            iWIe6puP51kAWOdg4GC5kKQFeiYNcxB7pH+uZUXmILGrbNai77Cl9RydklRR
            TUlCukD4ezvM7xcWbN2Uo58T5Q+0z+nzmceF+I/HdR2b/VhK3Tul/Ttkn5/X
            7DoBvwU/F6zyxzU/n28spd/30Xv+7fn4uZ61catoaAuwscH371QzM1zxeQw9
            FzU8er841+eVmDeEF3v82ZkJARU03bpeYdYM1R4jgUEJBAPMJwuCnqoPkw36
            jbVp32v3rXmXzTOfwMt0LH1Padrnh0nlWKNBkvQsCRZbspDqkaha4JzVq9bI
            lF5svrHShyJzUDXk4jiXaQyreELXYaHUedl3SAg5LqX5af+UOwUvNsynmEw3
            pkiRA8ocnVgRTSrmneVtxGvdxmt2Crh9/6R42/frsO2bEu7nldtMToy8eS8Z
            qVTeg23HYdvm+4/b7tN9P/0zVq3g52Xbwt4sltpu33cq++XPV2Oolpru4zaS
            tAbMbflOdc/BPAjLn78Ny7XIa4ZzGglMZczw5cKIprKYY/XulryRfXBv0gjV
            Nkqubdtx8ItlvTTTvcUNmb8IeoPhcUPRgQ6FU5mqfNGlGmIZ5MFnGZGr+CyB
            SZ8Z0mrJ9g+jRKmQNcWcYotlgpVNWB1hQigFGfOTxRAwPfqAqXKXKzUnprxM
            p07dnhtW/+XSkjlE7bPV83bKrgmegWvjs3IdIfhhBN3yiU1PJJlSnZjhGK+g
            CEmgv0+5UfZb0jZ850x9FsPn/rJRoBWE7AsIC3aeCgsxj+EO5Om3OXRfB6+4
            HKMw5vhl9sLidum4wPPLeG4KTV2LmWtUwb8WZA9Q4Jg8CwmG86CeJxcEJyV2
            5sW6fE0wDfUiyV3w/uA2uDao/Yqn+4yg7+LY+mU40Ags9h2SqBZOunmpj3+6
            XhorWVzqLFAOOBGYeq6bnKDsgFJgPpx68CJ1ftFAUbabJggifHKdSsfhpFQF
            Vi85NenEsMDxahR6gfwTggbvCj4+aTqcJc5INzUmOGIy5RAHYazElFxssb9W
            sJ910YM/44XPuDw0v5mOC1eICvPdJBC6+XC90LHFcwWcQ5FJpjlmjrGRWOxz
            wThHxpzzw3SvO9/2rOdFI/5uznHnWvY5KQBqnxs/V/t8DQYY7fPodGf4uRC5
            53U3iYHyXOe0zwwWn1DguyWDRgY3NGi463Xmu+EibV74HFheoPTFNW+7KDnE
            PO8Wulg7FzdE4lVCk6WMuWI5FyMAlI3t6lS7YF88F1aZLOBWdnywYBUFW0Wc
            TBozbTIAfTNfhGF6T+O6LohZrT4mbjEzQ5a8nofiK9nnRO5lROYBXCO49C2a
            SNjZxBIJsdBXbCEky3ooUepV6MvEyeYYjElBX+v7vGE5zbjP3MTLzCMaVsrz
            hQZOA5AqqrInWh58JtVqVRjQ9bHiE6qhTK7MGeStzKJUsarbE8MaTNoFRTY/
            Xq4c6F/kBvZelzhKVooXM4mOBX7aVt4eC8beaWRSx6eRq/2TyQFyLB/FSOBa
            SoP6KFVNIRyMTm9VclsvTYWxJzrEdcPBiahK2hdLiszTwTOXebZ0n7ST7IbQ
            kBsdYphkOlqp8zesSEhATVCasCrvo51ZqcFY7FgVTGwOQbaDOFNtutYItH0D
            DNZA49GIJzaYO3jodMM4PaUkwjrOaTHNHNvHiu9gMpBIMQysJKxc4VCtwKFS
            8HMweCDSRGWtjK/7xUsRfejg7b6fcZ51iNvR9MH9cExNJ46BkgCVrlIxvlM7
            5Vi+rmOPSz2ZAhfpXsf/9+7EzbFazCKjkoOxu7bROBvnhOy6MGR/tm7vpQVT
            xc3CPVr+8ZsK//Aej9QjJh0lvZzOG4ySZPyt9Jg7K7s6eLMQkVSEMYke6dbL
            l0iBzXKSo5pKRXlpFMcBWWAzGdrQrWIIC3vowZlVPEuRtZuvgAFZnpRJ5ydD
            GutJbb5ig2sZRCTtPyjQADGQrXISL3qGLwIbLcVqEyRHCjgQVxcz9EHXFyfC
            swWOkwnVVEIxgc1CJ5j3au8Dnoo79QUTi++NYbtFjMkm6ngk00PqTfkvYfsD
            eXb/eqdCzmRiDxNY9uebn8MXIT32nBy3SO83U/U28Z7Yxb+o/OZVU12byMpk
            eAtWOJ7N44wfjjZWsOC/KXqqO6Hi6BzqcEU5dAtqb453bUV7jWgk8NDZahH7
            cZ8sFCEH0cWf4ttqW7E7RsHACZhZu8rD8tmmUFfQgHwGkQQB4hgWerjTL0uB
            EWixZHAbEAW94GuzaUXbs/yO8idC6F6HnB6unYeoIPGd/SVpeTyZ1A3jzKLb
            +CzWy2tDQYKoJDlAT6ak3ewThAVWN7FcCogfphuYQLcAaWWCvGXRBhJuoGup
            wo44ubRF3Cd/p2I4xqNibGi5eHKY/Gd4xs3M1IsxKmUHyIuB12BZyTxZQ9ho
            FHBKsHobuGNYZYRjXzPWR+kP2o/5f8e1sELzQyRMsFElQbmUhsmqCojmVCfD
            MSY2QUDDHdV6J3Ji5kx5qXhirP6gJ/ycCqJOpjiOQ26XcVBTZqb7CZYdsYDP
            clGRkTIWpQym/RBaEdlWgarZcX5ULA76YFfGbaZjN18+AId7pCOTs6Q0V4q3
            l43iBSH3Lil/uHZixQInpVC5itLKO8zK75WBJ398BZgplo14EvNDZSLG4E5p
            S0dxYoRMG0xYJ8EwnzaAMLFPRMjfmPFAYvyxCCZkLOOb1Bw5+RgjsG0TX5wQ
            506gznN/hlw+fy+GA2MCozus8/UdsvZrer5S6Hs/3WC4RlUynFk/kZm/RVaP
            la0f24pLYUcCpGMxzvetO+B2Y9YDJDAoIHheCpI7jT4Hsi4z36ZRDrZGPZcc
            qFMvBEpixsX+jP3n/lzro0BnO7W677AHL0ghChrAU6xbKzHc9MRRlSxM+YbS
            ZmEmKnmVkQbIvhsyeLCqeUI8eSIYZds+dgekQ7z1DpSDSmnGFt/DGCCc02Tr
            fs5Cp3blGEamSkDZg1XfrbqJmYdracI02JAZzXN5LEHLiioolj6URKfHsYyS
            OpNvZz6xzzxq5AEwQNZZp2RYg1IzMtZQV9ZZFvvQylnfyk5htnJoUsggx8Wm
            m2eFPdlmfPP44dtXi8UUqDixmfOTWm0Xa7Xf47Bc/bQp44ijMl4EZa8kZYGX
            AEWHteQpw1xmTj1W+QlKZCCfhehKB68qtAq0HkIyjR5MRPtIgQ9TMZkL9Phx
            RaGbi+EKY1YZTKtgAEAUBcTT/B63acwXi5waWXx2BIxLIQ3luwdqzuALnixF
            PYTnVj5ffM/J8QahBI+LpTb0+TR7m3Y184ECE35BmFPuU1NEw0UPoStpMP5w
            PeXgwwbiCmpQPgrjDDcpKtw0cVgro0RPTAzd//eh+AtDHf4SGqCIwVhKLcEk
            8nJ8uNa3AmXBSVB5t4e78bK+ApVq8IOV4CE96Pfa20+2YoTIDHMSh7MLjMsp
            QAAvVuDH9qia5/nhBGIelBKz7Hw7Csf98tQdp60EyFlbCdSqDtfGbIuXSlae
            o5XRLXyvyglXQCgFLJv6VFGJ/KB0LinsTntxQJgpK83kiHT6ESRAMIuTpZdF
            Ec+LakK97/iq1kMUDVV3yF9KjQ3aFiwvOkpMjY5J4SwG4Meb2xoU4hjU0GDx
            3zGCNV7S45Kl4TIzAezVIs9huLDFmsYU4M2olJxFAjvjd5gRHSsfgvDKgRQ1
            4pkuYbL0MKV53gFa5qh4vvh5vsOfj2l8MD+O7oHXtpUWRrsv06i758pqC0r3
            78aBfBtlS7szh+/4L+6pGuZk78miMMml6DY7bmMkoJQmsRo7uPgN/OUHK1GP
            CyNyhxBtkIMfz0Fe53PVyYwtSlCFc3u7NBGJA0e3PNFnKh2Oy15wdGaDR+7T
            i/uW91qD8uG0F6+73AfXqJ5gbDVSAwujHb6v799+f8eTrDCtTrN6srFvj/9X
            38vh35M9q2/1PV637edxxY+Lv76HX9+Pn9/L8/N7gIpG16f4CZPTT9DAZLHy
            dRUfx3T7udOeqRgLpb2M7W1bjrelEaXCSss0/CTzGvW8/KTmF7HtMbHUqTfJ
            tRguV8HpDSqrPuSPmfugBN52bATtPDH0SaP9aCrewGfsz+91QJxgArSc6ERd
            Skvm5868jeOuh1336HbtyEhM/SKmY0Amu9Z1MGKL54l/JypllztRBc9K5yqk
            hzpt9u37d4Dl/X7++j49uz3497GVHP/ef31vv853gj187BMmuYLjV08+3trv
            vczUu5ZpwXWXonlSdXbtuDPi3T8YPdXtys2xz27bsq+zLgszJKYXHG80Qyc3
            /74BcHY0ZvnF3+jL/t53NMa+7yjMzgTfUZqdUd121MOP2wBFza+zozJv9GVH
            a/LPaMyOThV/nurXrX7duqMy+3k9WnN6pnfuNhinD+bameD5Z0b47wz2N0N8
            Z4z77yJK5wLDV79vHa5gQPiQzdcZXVRSibJ6OuzhHaoCHks2IRPfhQDkYhEa
            3E4S6lKeBvQNcVkrgFTujxTRSNGwPW3XYZ42iQipV2PQSXI2I4F2GarPsesx
            2mMvcVjSC/EkcvMVsi9q+gLzFjk/WAfQP6EK2u/R3XvYTuKgfb90spcuSqBx
            fSO454mVmtRI6UMKZpA3k29EpRh0UmQaH8lcfMwCq/RSQV9hphRLnWdwUDW6
            P6f7Wt21qc9VHi3cEeQV3WQy0dIZwSl0exbVzzepONXFI6NOdZxi07Q96Kcd
            TAEYpgRSjyk1UDQqJOfiStgg9IEzs8W5aOs1bllNGLDQE7hioNchQuuBussE
            EAZROP54Ziq4iemgYVK3Ev4S9lvl52BMBu+u38BPQHTCR2JZOJ+NBMJScJjs
            sw6w4iU3ldybyblAX2SfkYH+kAiAw5pkvHUkSkpOJ0OG9OrDCszZxYQ76rkb
            rLUzBfxkrUQYO3UdI1jDXcDEa5MyxwE5BJbSlIHFcsJSNFiCa/l2EIClnhaj
            xpz2sjaL1Uoxs8ecXU6MLOQhwai4h65Jfg8SIzT1oPibT9W3PTkhy5fDVYSJ
            T9HOlQ7hIiC6TNUW7x2fj+ZOIx3SbFEsUbnkc+7qOLkzH1gR5UtRdd3pGM+K
            besNUkqlcONaUyL1q26FtSxHMFHFtA2+g/zvWWZP2gVXBP0CUQVcD9YVV0yU
            4WhpmqYMynOn624zl0nVIIF6p8Eyar7UZsc7qL3ZZvXCm10odGXzbUb/junM
            Vqp3VjdVZK4Mgl4p08zj1y7TtqzrXjh0OntlArjOc7a/8ejOvH93i8hx3l5Z
            6DJvy8QtK0O3aGl0JwCZgoLiyhKD6VIZE2WUgTASEfIQxE9fIm5z1qjQT5+7
            4BwHRHOIS/1XJpFyAI0q6amWl2NyGWrWB705+Wv/tfdD4+7JQnDcj5meGwWF
            q2M1IYo9ugfDVvTI4LgSq/kMLZm3fx//XM89rZytzg7rS9BreOZwqRY57HOT
            ncOoPs+D7X7Pu1M3H16jgUMr2aRMH7DXxOOVAd2fa38+iNogWDk8Ryc7xvlE
            jMG7VZyfTivCV5AAhv6J5+MMrMAQCXW765hbxtHkpL+aACLMtqrP6e/S6R3s
            LOpxUyyCW/2+V7x/3mtGGwuOg8KS4TyMBJjdwCiD5ShrwOWrTK0cCkQ3OjGH
            ZGK2iTrC1/EMRDfFEm2wo5/LpTp9gKMym/VC47TjOnhcuF65FuTBH4dy/wPl
            1ch1XPJGaQBUOeVsIzQL+msbu9UMDOpMx+NZw/6c4xwqML5SeuRhkRtN9we7
            VRkAWadVQI9ZaT5R48VJtWEgm2VK0L35I5JhTv8Olr6dFiubU2Frq1D9rWrc
            466bMwhZUhzAV+gwvCRWss2ka5ad+YF9c2zZC4IQ++tyHAmlkGOHRyXjor9h
            FpX6cRyhc/CFSHB4wnF6NIhkTpqZYK0R0tut30WZzJ1QTLRd0WxMiFCmkIvf
            2ud6/N4qvhotn1L4IZKBeDAiNRTmCH6nl5zlzT382k/ZARaY+rMT8fbnenxt
            l3EdlZ4zKPl/PTgetmOw/CA+Ud9FuNzhMrS71trTRw5Ce3kzx7/lLZRE1g6a
            dptcaTSb/r8zgWByV2nN6iB39IQeNK1oJhZnixjtUCf3M3GxRePi+9gO7sEK
            7SM+M7hDvWo8u8dTriQjgWknDKvXywebRAC9kOTN7yX9NwadpS7lgl7ogjea
            t6b4BFeBk4JLQ8A/YAJLNQg0FaA4de0PN72fQQoYt1DJdByPieRasnGpKHjI
            TA5qB7AqhWXU7pWjBy4My5qM8wljNWK58H1xSizB3pdZp175xNfLUFHoaeay
            XZEymBNSIoS0Z3pQS5yRwJeUcYz48z2Vj8XfmEnq5knOrpTxnmTULPYL9AlM
            2ugK+DPdIvGezw6lYVcad1AuC0PgsCrqZBX5TS/syddlYiTedtJu74tOR2be
            Y2xmuSiCQirMPgsUPYFO2mwkcJPIO2PwHs5JTFOjerS1MrDlJFcmVUrJOaWG
            R2hLod1EgJEWK5AX13ozn/DwCffrVj8Pul2mttP4HUSJoQTroQN+bMfK4XFL
            3N1WnYLGtN+o5eI85ibRxIX6vr6zK1mmYEt0eSmfKV4t+HEhKeg8SlaIDcvX
            js92fOq+9eDz5dfL+3r+e/bfx64I9/L2rZiZy1UV3dF+d7RpJk9SDLSkGu8r
            2/XbYakLu3IdEi6aE8N824ffByNULXvTtpc/f9h4sf68Mdt9LhdPdBuNHe5j
            UiG4C8SNZVhBRj7COLpvg1I+OeH1uaCjagKy0lkMKtEngfbcDMYin0mwM8Jw
            paTg8SUZDBaVGLWeO5Uds7CSrYKuWD4m+RlmWzLR76m4TqXqbNcJUtdphyYC
            g3fPZsTi4eqVT3h6dXDrLHELtlKwv+Xv7ym2pByOG3qFihbs+lydcZwRtmfp
            bciGDa5QHva8+B0svV8MbDeD0CE+XBUh4pq067laIznEFPYD1DMadz4WnGfw
            QOwjpAHLckPyMf4xKTAr086/SsTQgyk1aPHTp6OpD5r+9OEWL3egD+AXlgS+
            8/clu7/yXn0xrYQ4n1xB1Z+7BZFA5tAeZDmZOQnSz7+yJvulgk1h9Azm7rMa
            hdHWqixIDkY47+08yeBJGpCTWRWGBcQYUjfHgVi+8An42wV5Vtye3P5eabT5
            ivueqhfciCtk1ZbRefD+ngelAcgUXeWnDf1sK+exLAoDq6b4HFIAj/OBuMoK
            nxGwKYHZqzAg6N0HAx10WPBZaZfxPbIlEx7a+nvM9Jxi7dzvdvh+D9n5Vkys
            9winvUe67D2yh/1kJ5/1Zjw7MK0JOlagFeLnJz+fxLOf6Z64byAapZ5FOhRs
            eNPfLA4heJP4fM2n/GFDynDL0ZLsskB+aFAPOgEs7GcUR5k0eZHEyu1MXBat
            3ofatudDkU3lQ8VQBHW8GUP6kXbL46IcGFmuQOZNKUfK8J5+TBqM/7E+1B3k
            jKmK0BiAHk0Z1QsKKINiKgoqi1Jnmq87WDahOSnW51loDjLzA/rDuShvMxd3
            ZUILZCbz6AigwfSNel70HmDxS4xhbZPY5TRIcmvaZ0jmh0A0fo3h1zDniKNu
            89+Ft3Bx9IqdLW7yT7Gz1hYLJgaeHfN0h0Iudpx23AQ28VRlF1M7Pr6cA0RV
            eFl2CrHpaHNnH19mLz8kAVJr1NRoFQ6xr8iUDpPhFJ2ZsHJUjDCMhe7NAsNh
            r/L7OXtRQgDt5EldITOfz+Q3ngREm8ITMOlyHZZLmQu0odf9SKNVPeFiUXm7
            juiUmrw2MHupmlGyuT+racbNqqQWg3eHpZeOb825Ba2eR6XJ5CDdCWn7Dxi/
            Pj33iaiMWYCcg9kUbxqORDvLnjxA4dtBHzKTQYhvPAk4O4pBuWqZKXsOg9jv
            Redn4KzUpyoe7HkyJxOaWEKcmzukMTnZyxYszUH1Kpm5LqBC5quSLJPxm+7b
            g9WF+WhDsUrqBkErn7iL9CQ8XNZsd8Et/WRWx5aYWC2/SZRaz/gdwzRV++th
            qfusa+b3+/ocJ1QGq3G7Gc2jOMQLTe4r0c7b1wf1/7i+TOSva7Cu7D52+bGf
            E//DOcHue9P8qGEKHnZZ8FtBagZjoffSKKdnykAHFEC+eBxBjnpQQeOM9Eh1
            aczEwCfUV+Mx4JHvMVPPAsqmpo9nZYb7lL1VWdw1mbdDNz0E7RMkXgP9kXGX
            fwQvqb6y4fVULwPZ2uLBlNMnUySTRVWVg2Yz1bKSj1USx8QWSUlbd7C2Z2YE
            nftGFYgk959zp3lXUQJssQBbX2oU4yyDaL/3NcQYTisWPy6Ls3A99fFIwlfG
            LkdzwF0cvQTGCRKmR9JTFpitfPb+0B71DF6tJVAh5nOT/PEm057EePn7sR3P
            ePK3KeSdpefkb1wJuAc4yKP0vwzlf2cmh0u4kPgOvY7lZd3Wcr5ENTw+3pey
            leNirmLfa502R2TB4bn3nRdtXaEOzNMlttxLjUACCrMECCjY/t1VPAg2jD2n
            u2B5Fjo//Lfr67cK5RCKd7lVKJPZLuVJf7kG0+8xtu93Qz0ZVy7KXbQAV2Su
            b2MEy/RcMLAC5upu9K7qHAwGyzUIQm1SxiOi65OMSohXFnQwEyxbylpjFvCx
            40bBrPXDpSkdViSuxDQ3GFUPvQrZjt14ZG6Jf/Icnewf96orr2/AoGQG2vDk
            10PpFAzKDeFYdEuQpUW/YjuhkhmaWOq7kP9NHKq7UCdLbh7PyI64YJnGEKqK
            /B70fl/UznwlGfDPxzWwSr26GhAdBiOaTSkngsDgKi3MKzM+wn2d4Cq4E9SY
            J7mUZHJKcr6nY4jWw/TuoH3EjqVXlhD4H+v4+nkO0TI8lfvHeYShsNTtj1X9
            3tck2WXV9WM7/WhtJ+ObhXEoFlly/JmWDiK4ck00bWTIqdyNrn+5PloMLIJZ
            dJZeP5+Vz1gYEpn3wWtSo2cSMVjtOEy6J3wOP67zKEKgQmcSZfZsr7EhaL0R
            QfWk0EH3RMvU3Uyf8RtsXbOwypa8XVUtp4JBvEHeLoh74WV7fQ0HPnTGwHJ/
            3VgTvj8RHE7BH7DW37/hRenqANX9+Vuw33bS5Z8vBW3A/Gk7uUgKuRyGzXxs
            wXVUK/LkS1MNEPr0WXxZBc461BCGlhuzKDPHGWbhhu1T3RZeS/EMo2iFbank
            eZKmJQ5q/RGbjOHURsdR/+vvXt40PbYQqEh6rvyVwIasGoRNs0SdsoCqSvds
            tTAyR13MYw/XYImcDVJb0VB4qOrAlu1cjo6OMkjSSreNWjpyZTLJ8b6+EN+7
            IZQE1gUw7trzCyPSBXXMPN2dw2s2X2YqKzNTV6d8ZhmEpEPY+w66HtkZgPX6
            DAD3uB6866d5Qu0ClpiWDAhVV0y0KG2ViLwmpvtyemVrCsaTPc0hcqgIHXxA
            LHMfP8MmwBuCiMlJxWxYXUWfqfno4nJtUilAjHXX7U0R/VU62vmwEULtuRKv
            eTr+2vdQg/jGm61IY5iDchupnDR5BwFaoE4sSQPQdO5CmQwqRppiiDAYx2CN
            HJ5LSW+m6quvWbFiHwaptJ+lAjF6NuSgFOvFWgld3FIPJmwgKXoz05KxBhu+
            DysruMB4YEhNyp6J9UAq4+qn447KF/G0md9LLHTm557dED+er8xxrwLsatEl
            37WM565EMWvTIq9mGHRmCQXT8PXIgOnzJqFAVP+QZn5tprhO1qg9nl14yKnO
            NKrV3goprpuT4Z1mNs/25EPsNnmPv8JL3qysea7OHKYVGtK1dYNSsNcLZVI3
            6E08XjGAHhPzl5XLYPb2jGfzhgfORph4sCXQ6kiY2yLsA9VMR3nCh0PWXfQf
            aaEHWfk4yVtBiFkssl6uxWSBW7m3mR7piOZEfgrKw4jbWaxD5DIyxHJ6XVLB
            45NRTOoaWBjTjqfhweOVAqDURzyXyBBGFx36ya4TI69jWXPcBnx/gsUo70FF
            Dfvt2kkr0K9/8vrZr888ESYWiVNjQv7lfU4XiXcVvMhFTsGx0PuzvsTTF+Qm
            o3+wq0WDbQ+7/x5jK2pWhVnTRBfhyQyOjcRoIUKRPbvYGcfSA/KRz5ts3qQG
            gAOABObFTBblm5B/3ML9vngil1uwapZ1M6k2b2hI1r2rguj5jtPRDl1WysZ6
            BoPAz8xiT/l2x2ywQcB80xUC0UikY0LdV1UA3aomYEdDUCkt2RBpiWvbyXcz
            yw+CQeCTh4O1sZ/Dr8rsX8UoXPrQLzhYwkaZxv9VgzE9f8TCJx+pxvwTaPZg
            9IR5TVYdbuUOe6Vd3ugpvsFcw3S4vQj3doXypI5SVz6XV+fs3H6VmDvufvkd
            DLUEm5F30arrCstrG4anr3/D1a8hrDHxne7UzYjuxsxy80TiPCQVcLIyySiL
            3nhQpVaWoQgm9bz8Xl2up0hhZbceUCJ7DyhxhvlRELHr7F8eCQiPm1xkwwa3
            i75LlVszXMCU97RS2MWEAxfl7/kwCoIKtqgARSJzPMyGhlxkBbdX3NxkVbCD
            2Cghd8vyqYkWZx3e3KDgmdJN6198rwg/MRtcrzymowik/Jb1HXQenYQseEwM
            Ht4mXHsBswqqrC1mUvBYpuj+i2Prqf6oeOOtwyyhoBnZYWmxf0p+vI66XiYl
            D6vWNEqofePFhC21s0ltOWZBNldffnGOPE066CCsGdptHngB+h7022mwdI97
            da/ptCkPokD5P7Qod0KBbcUELtBVoV9zWNTCaKIdhX+GDgPJjuvtTHrQ1Tq9
            +m1arLGAT1BdTTdG5IRWaBZlUXE1W1+cGFVIN2rg6TSEGUImEN4gTTOitL2x
            VWAhCw1qFrv2TgPN7iRn2pBQrLpchUzY0zN3AkFTA33smtp+XxPrpSSVNSa+
            n64Vf75z5jUmuC5OKV+Ocwi+JeXxuAazdYq7IuUqxWelDgmzjtYtlj4rDH1f
            SGbaW3VHe9OMSG6MyQWra+4Cg2LhQWFyi9yVygBW0kI3PQ2ygoXPlAA4hi6a
            alB3j2fMlEVFoJR8U8e9zn2gfAdUyYaJoOOxOh75bqE9kGtTsVJFXLQio8Md
            6HQXQ2ZT3bqGe6+2eyGun4nYW/ncNbpn91ikk/euUHt2De+y7eKaur2FlWbE
            oX/2lgwjc6Y9s5waoD53/+zZ+2H9+HzuzPNw/fp8v3jt+pz3Z0/nCM/Pz/H4
            ZM7bfjVOSBKPulbfoZdo9+lWIf2Vcb/fZfswzmPDDPl2J4LTpFZCt3n221Oa
            JXZ7APoxsPziv4fTfm8eCVhXtQ5Tfvx0xJnTA8igsPxdhX0/ZVp02QPg2Y6f
            yzMYW9WkN49UsADXEHfseUd05fWwij8Qn36vVsZfhMm1wxOsDjvYRoJWZAyS
            EGr9x2gdXp2DiuWVCHVSq6M7SlONRcIIXObJokhzXGHJjOKQNKf5kik+52Ge
            /Lds8LJ7ExS/LE04DI2mcM+lxGPcswhnIoGVYPmBRSo3yop61QHmtGt+ilSj
            kJBxzRdYN/afGn77eu/FVhgEsWWRlkH72H0NVic91rludCswrmdS/q5Ks7r9
            XrEQxyT+KVvGRTtGDg8/Rk2ZLYueyemTbCwUIt9Amy4s/4ea71vsH9yW2AYL
            W1znEpQPU0aorux3V7+qr+p0WEiXA/6x9dawptlZaUDpugpLMHN8LNEaDDsp
            lQgPwxsRUueKZpQPtrHhA+A7AxnQBGiaV8FTQdbQhKKsIGuiVyATVK6ZUCSG
            CxVT4SgcCik9Jm0tF8nxGF5pa8GAh9ml174eBMZJhORoAVQFcDFElCtCXmYy
            VS/QyhNVukZLkn4Rouk2rPanCHCQYZp27PYjnWh8rK4bdMXguEmQRGsAGD3A
            ndkG2RXwvFUqKzI2qxeqf6GzPnk88rEk9fZITVHMEetW8cuHcUpahI+wY9/q
            65rdC+s+qplspd87JeU0aL7psUTVCYt9O9u+bGU/t7dA3nZwsiDUUpbJlUOI
            VmbxmCvpPDwY3UFglm1QVNEnBZvAtLQG3Ohft3cLPP7+8rAyGBVPDMT+Vy+v
            jotYPoTDu+6bwOInBaT7zZ6HzsRIgC4rNXAzlembUCPuRlgSEU9ohrk+rCq8
            bY/SsqSxUf3lkvRWTzUFoUQblGzjyNXZZe4H9UVZOwuAt7dEahsHYTgM1d4u
            qrYEAKM757BrNYxCUZZkt8wBisLurvkawtWZGut6c4mW/Xetr+5uy1YpPbcc
            q0HHkOnFMajIjC4ZLpCo735MaG9FPKtq7J27o8VIscE4C2SaSPQpX4QHcGep
            4BDktFWazGnAvSUJytka4NA13EwrGp460jxbsAXPGDAvKaGsGbBizcsg+thM
            5BLN6lrlZsO2K/dfaZh0oQs+qtN3YsdMP4aJHtQ4qrXJ5bmn9lfbj2uf+uxw
            ObXYi+MZLGGerJGrlgHlZr8Vb71BP1kPEB0GP0juxngMz8lCZMa2XHYsVtXE
            sXmfm1k4FiSXJ/GomH0ZOC1B7b14bCnR9i3fR3+alWNy+vZnOp1azc/7DJXo
            bWTpVuXwk5ihtf+VmA9D1lZyH/1CtwN/9OIJf1w4rIvEqlY3B4NCYtHsSl8E
            CSVqJs6ntfWCupmtYuzHKhkwmg4B6P5BtcJK8JvX8ZybQ/RuqRvUF+hs9P2H
            Jprhmdgmf2deTIEoKASmDP1I3z5iw4yiQveyq79xqLmeF0aIVK/nAvEWWqGj
            zBnUfGje3IKLWNNolkmap7xPL24KSmFREbcDiszs2+5bNj/A4BF/6dPEl34M
            g/iGiubAJFXJ8fbcXLjU5R7DteD1BefXm5s3pnhyjEP64Fxu8bAVNtrMps17
            ykpbjqxjx61LrUie+SsjcU5XAF2BHV6J+FPB7S4IrDnKsetjsKyTjYQ/xGM3
            /UGtPlFWCPTPE5XLnxNFPKO/TdQ3i6U8Z/GLfCA+8D9Wyq/7bZatvmc+GT9Y
            NstpNtuF3mAuDgfragbY8a2Yrm7PrxYc7/XwzLMw5PC5XvLrDVdKq6C8CbNw
            7Un8vq7akhN9swiefLrbhinUwm0kUjjvAkoKsH11XGtYsb+e7/s6d/66Tv/n
            69Ri13njD3QeWi1SqQTsV3ae1XOmwwcgP6bQLfMbZSJqEkn+CHMyKppXelMm
            CQm4PEswWTU/Mc8ZUp6M2hIbMfl1EzSTG5YtCCHBfDqT+5yY87JZFasoosmn
            exJlBrphEjBsYxN69gEYzNSXEjdASO65FIQwMZYcYkETfarXjIFpuV8qYuDm
            hsphfG2AMxGAwxPpyMTxvf0OaGjwiw1+7x8CSePPwecxx/xk/gsZDwQMMTK/
            LS2W3hAF7pAdZOhw9M2pi1OcFDs02qcFiQyJJlrl3eHxQrZ+e91XG3Hm8A6+
            47RGracr4Go+wHL487ZIBYiEqEDpzdbDw0KrXCfZFovFBJ5+lfIlJhQj8Ljg
            fOhNhSzENef9sbHts3SFNzTv+IXszjvmMgQWlVA0sUsFLeegiFaPFDkepytb
            P005c0HTo0NsNiuxM6KrwbTuF47wlu/+ssCsWmIPrehe6DBt5ZJSdxfHYVIX
            R/AkTpIpYFkhvnCYw3Ofy5AlCcW/h22elYvEK+VLADGLgtK/U5YHdr6cX9mZ
            kzLdzTbGUNUAprGKwCsV6NyU5xhG5/W5P6Ofyxy/huiLc5m/DUKRD6QZ1kkv
            +YVdGkwfJn4mFjZjCo+FTYtSrJINoiYk+EqpF1ma9m/7+n4b19gKEGtV7QsV
            m+aKmaGp6rd9PIyskVSuIW9xobnymmnWwc4Um/xctMs946mymBvfw63uBuZl
            1iCcZbA5NbHz7wXj/ZI2XUnHhJVJBMnRcZqklkAvw7ZD9jyjxElpAHWYNztv
            X4BxE0t4x2JRsE0uVndEEdDrME5z/Ibce7mFiyHDvsjHJhTqW5jId+IwiZm5
            wFlIPZbOS5OZvs/i9VDBa6HYoIcObYrxrWQWRwKieQ7LLf6+Rp5/XiNBe8ha
            WIfrAuMQiD19spzAbj3SrrjMEZENre2lVL4AZelDgC5FIJmFwhGnnH5XBqND
            QWCS1LSzrVCmxpENbcKo0SJtPDdJ+bB0dU4exUToTHjTAN1+Ta6+10TiPXis
            qPxQhf71motMwVNmuaVyMBF71dDfwU+Xo8FGNeedxVYvcajKsgwIPiPXnZ9T
            BR07LcHnh4+j/PRxiKCrukFubqJxyYeZY+QmOreoQboA0SajzpzHDHmHcfo+
            L/TPeS8XaCykuF/FkKjC5j+w71sx3Argk6yB8FwfD2FwLqB+oVYW6ajpDhy2
            3aK/ZQompSi32utddpr0dlpsZ8Z2XmxtdmNKvbkoLIcRfoUNzk+2+pOax/Mn
            NQ/CLW0dgGYswz7x+UwyOc2GeQCb30S1udosFpnd3GwP7og/V+6LWLccP/ov
            8HzERiB3aOtnsGcrsX38ZP2M7fXuHSOxIqX/DIvGKlehSRlds1S3QqzO2X0t
            PRs8RmHcjL6Y7In0y5Pg+VzdRJqe+Wdk2b2iUAuMBNQ6xko1wPhLXNVCC8RY
            5uo9rfGsxdDNUcRyyGQVfsnl9nrPw4MKRwMvV297Obbm+H45rNjVvpUs1gFv
            LxyUKx1zPgqI8P5Ps5YE0WN2fEFVMe5BJSLqYzqEOXs+11ZwcYjlluNLJicI
            lHJtNupewvDlJSQ3eBTa+4PNMxrMboKb3ffjJ/eTe92rNxlBUlaOc8hyGLfb
            x0osfnEkKZqs8NqEXOw3Kt3q6Iy78tlWUS6TccYgFLW7ey4pODfWobyVtP6j
            7isgMzfVQdgEoSseI2AjeQLeZjXpemSurO88gPA1oGPK1s/rF2sU1sPpOJBT
            PuvrZc+P6RD8nE5z/zZrejtebdnNlD2ohn3xWYmv0uOyk4gA46PUMaRJ+brY
            JNgj1ZnpUa9ylEw52pxguc0P68Zs9aAEXkI5/dC8C1emTOjPvYiqwHuF83Ov
            7lxppnoqnDi/5H27MlOjsmFSFqEyOIIsJ/VwcfEdaQchhh1xH6z1PQxbQw5A
            JRmvjc53yS/ggaHN5vuLgGS5FZeLge7+AXZQoB/ASIDdfo4PO+cl/bsVYdg/
            giMp9Y8IeeIbnmnscvdmg+k9gZsqM4HZBPl00FOZFZzwBnn0bnVLY0gRWrko
            GDqFSlmJKR3zdksPynECcgsu3lICwh/6Akn5Wy+AvR+UAfTjehX63aDs/r4e
            9gXiSRdyQYHxcHWZUsxcNyyjVylOwVIv1Tc+Wd/4byLepvWyd6N3UsSsIolM
            NFgzq6Ob1fHLrD6uj5lJZIUdB9fCWhJF9/ZrKElnyK/xbMII5rTKW7kGSxjO
            BetiZWMUkAABXVmc2KobhRdN3YcdBSloT2VjanXurJxNFFa0ZvU5VkShmqtP
            rgqzlbyeCBMfCEEhm5wcoQh6qMzmLbWlIygWAFmDESksu9BWvxMzme7ZMkLv
            hqkxPNRblfgYr0iMcCUN0t53DONnu09VigkLlNw4e4MPf55ETJHzz2cY2Z6B
            mOmjeO0UbQShCDaroSJxZU38Bz2I5onQErICxsRfKafqWhmJh8EEVZ2Z2qwu
            vKymRPUYQgKqhyVJs+pK+3nNxChgwfkblJXI+wbKzl56nqDEnOP8okSk7og9
            2F7a79wWauWIfp/uCikrUDtkvZHAzebwBmnAhIVKkH31B6iNuK/QFh/1WLYT
            M8wFRkMZeCDiluEbE2tyqHiM5Z3BghfMxyMOn3I4VmteOpmYdujwQtX2NW+Z
            3cpumY359c/4D4Y0/VewSYkJwt5MuMNSC4DGVZb6IXlOly1lXuO2OrR9MLQE
            2fvhfphShamKFpdIBiMRrKfU4TCQ2h/pTFbLBaXx3dWJ11oQZPWDr+ntEa8m
            J31DPLH2N9gkWIGSYBi5cunEbup7MVWQVNl6oNw76/1Q7GTXOu9jLbdJyPsq
            NCp1W0+7BPgrRM78xGl+G518kJJ9IdxXKFGcmAvqTAbSWjCwIKJpiZxiFddn
            Bbf4LIHhUQRGry2+bOIJpJYP6wclWHqiBRQlmAuz5NwgaSzdvBUlu4UxshTp
            +9krymET5ZWcT1+xDiG4D9U3KOaA9XkoxrCMcOL8AJnu7LPgGWW0W4dryFuL
            ljn5FcFU/joIahGk9csxlojGdPRJySwukS5Ot3EjkDMJipkc1J1gdFiO5QsE
            w1gqaNE6PPfba97Y0ZiEQJSlgy7doHwGHQfq7DX5/U7jePeubSbk8tex5ym9
            4fUEzvVC/lvA2GMCu5LyjQkQd0oZzZ52wEKYu1m+QFUbMcOm8x9VE9s9I0U+
            z/6JV+9YwvDfp9ufwTG2wi8Mrx3AUFq5sLs8Hu7HPY/V2RLOQMdle475QiCa
            gjP8ZcfO3PFk0rH8uaMSO9ryeukNytYNBSkt5y6LKErWHcXri+WKbbvByQkC
            ONmJjWy/Gyg5i3p3XcprYUyFyoUoiBUti+l5HImBiKWMh3aZes+bTXwascrr
            GGTvv6bcPxGqu8/VNea8lXJJL0ea3pnPthZGz5aTwdxSqH35ScPAaii+mKtA
            FJrI0rgoLy1uYiQQLj5fcVh+ukiPtIGwTVPe6EEGARzJijQ4dA8zk8huSqRr
            leO+mCWsbt3HRrqE7Hc+EL6rNI2Y5eouzUqurweuWRxEIez1mIXyhxfOsboI
            nQj5t9rt8g/3O5UpJDHymmz81oaLMbqlyCX7T7Pv2KUyjr7EQJdBiTl3Y4ze
            UYCzVQSzYwcDGA9rDsUFpyUCt7Dd5Q+73sxvjjjYeJheVm5/+xG8J0UNmJWN
            AZ4EvSH/RWGU8jHYZrL2+tV7d3nzt/qiL1lSp9wxlwDSdQ2b72AWQY0qysx7
            8AP9yFvBIvVQwQL1bKhgAqVIE83bdHzox/oBQh42UhDz+VkfOhR8ofytpOSk
            iJ4YXYN99KgUebN7rAB1uqPvMQi+ZU1u0ziVTco2clj3twgUxprAfXWs2qAz
            j1iFnqrljJDJYQkoLnGNfzDPfgRZimnUewKI/zM9i3UmtbOXLrEmzb7WHWuU
            hfvDxGB7UXh3PET92rKNXbx+jt3gc7gbvSpnQCze+1l99oVgUcfvCC2fTXGX
            aIgDEjHywCbLFmLeFsaIPC60i6CPMHhglTUhHLFcizBYDOpDsTESSMx3NQAT
            NeMInb60LnBuYWIEmGTy5a+vhGt/cdrbVW3rbjYlUKrS7sMwrf33n46VIAq3
            BiC4ZyIAquNyi61aFKwTWVApWbN2sd9fOgHZJx2+ApB3e3jH07dHcnswz9v2
            74TLLe528eyGetziJi4TU1sMcWIs5aoSAaB6h5a1ORukQmf+YbieMa8PNxrD
            PJib+43xvJxukIkuQlorGeY7mGZQHAT/81W/OTTPS4k+rM+4TupRG9mBOKrM
            /RAi0KV8TYLKfjrN9DfsP2ZwQQDtzHovm7kCBsru2pJnzbrCnVvOGegvJsIH
            Y5Sd3eLyJxtF7oe9T7D78kv+pO8Xkl88HW/Pw66ihEhkhvPVtqF5M00+ungq
            ZYsXmGe3RNFhokhasGAk7XfGOgQ1Idlf5E69ScHNccWDadXMnufzFBdLTyVI
            AqEzMHHgIHJGZbYT/Pl+KxrqYfoFjsPE28Ygz1UdjbjTBO3dctM78wvIIphH
            v4hIlDUWuUJqNY7CKaSmUVlWyHcv0dCEmcpo8vzgOA5BWnDEurgGjIwzMqBl
            cB2CspJ/gDmLbEFxqKT0fDZnMdTCWhYNEWcz5fysRsi41zfNwSsua38PYPG0
            sH0uWMzt6PEEgO8e6FnUJFhtX4g/7y2BdjRsT3SwPEESi2GDHvK7K6mjfWE1
            kFDZLC4/+Wb1ruIEZP9JvSDPXa39RSwMF9+My7vTRk1EttJXd+KFoRiqYGMH
            tJSv2J+pVsin2v52PVezrN23OJIu7NtN0c0pIhtj/CLmEq16isQcNPlBC+Hc
            mdb9FcOwysaPPElmB0dHG44f89TQfV9wIIauPCVe4keEQCcik0jpsBMi4nG7
            IKhLSZCF9n2WfQ8JyPxstd+ZG78rhVgnjOK/TVIAZdFBIw9f5sXdFqXCwkrt
            y8REiD9/UxpqNX8CCC1RkdpipFDsVEvy4PdIbTd+vs9fDhpLlnC2/0scbCui
            sOf7+Fg7Wzzs/P0dXdvWz9x5+FusbOvEradt3eys3y2ONkLwRiwm62Wgq++K
            d8YNWNJBtmc4af1301TlQ4AIxzA9ZoEIw4nv3b9nI8rRnCO3j09lJ9KSe4Xj
            7cX99oHabR29EVht8nuvP5U2ZrvKx64Yo5SjwHYLnYUes2S16K2R+r4SMieb
            VXr2imvWzKhV4kj3lRNB1d17XMiEygbUzpZ0fKGN+ylTLTrs1O0BIQfn8BdT
            e8I2dyufz2oUkW2FCZwAx5h/ISfTK0iMDeSSTFHKgg6QwuSQAkyNIQjIQY/U
            o+6zp+tINGy7twJeKk4N1XWlSa9p8nSyYURfKeMzzcf0sutMN7DA+2zft1x3
            x5TQc6pjEX3vk9JH5Q+aiqAtLWX89WlUL4SjU049QphCH1WSRnMjEgiPTqvO
            CpAwDLiy9pMkIbzOaridvXq2cDQgcCptKpCjLe3Q1alsjFNaRqelW9GdCyka
            BSNviaSEkUll+ENAPYRoYATw+G7LVxpZRyYgw6tIlQZtmBnM/WPWtW4YqiQb
            /BaZWVyie/MoTiJ/K0viybxzypBhcBnH09N5E949FL1PPeyaWHJmegWCISx6
            H1/4bDA9fI4yrYaQkbPto9FJB7SXo8eXdTM7FxQiU/cyQs3BVyg9jsk9jvkZ
            Y3hHHsIIVWKiZKwFB5df+Lw+7l9vK3jsiCKhuHAPjIODV2mxEaiK480Mg0oU
            N4w3cxHY67Ku3Tw0ePPQx43CoUX31UmUnqhuRf1J3ehTvRSoofs0GYAb9pUs
            06mP/aBYt7MwZfnUajo2yvx2WlDHJ7vjAFyNIZsMFfR+YZ83m97sdLPxl217
            Iutmu5uNb/a/tfid77A9Ya9nzPE/z2Xf34RZhr+vxaQt7bc+C7zve/7cAHIr
            EYjexMAWB8uvP/P21Jm1scWReeI+TrLtNHv8+TL7RlkKkZ5ji507WmDu6Zbg
            uyF4tlNNbu31pQ+cSlrRIpBDLAg4OPbhVdwCe6nKVfDIo4WJ6jwDkU/oTr6Y
            zux+ayyOOx0//dbpcLh/P36xnZ77rpPa/3181zx2a547itasZk+RwgK537wj
            ztufgxDbWNmsDi1sf+AdcBhsFpT0Vxl6bma1nElmksFPsvtcejv3VJibmf2Z
            6/DE1mn46EoinVbhRLHH1csqc37mfguEWa5EOSUOu1ksODWx09s4cX3eA69V
            T6664xQSMaMsWDYWc2HOTaRExzvFYDgQ0bvU5spnGjtUNAzuDNck82bHDhZN
            Qz5QJDNkjZWc9rmj0Eqzz0f02g9mVkPcUZm9g6Eq78BYVN/KU0GmEj9QRM1K
            nOspDOrvGv8hZeV6fQDtL84UhwmyLBrYmWphaPugTIbcGI5teSs2fBCQhF6S
            zUqKDSAdouO72Wa95HSS9h42JtNpGT+0INLlis7RFCK+iaPkySg8l51qqUQO
            UYxV6lIEYd6StUz61AJQo/Yg0OPxgje4lVyOSvv+gQv6kbvSztku1ZNmGeZ+
            LBg1XK8I8Xx7a4Dx/WTD/wXnhSFdb7ZFtP7Ou0FbrWVzXu8lRs6rglt/J8J+
            EqKXX5syiV74G2tE0CyAtNhJKXsGcV2zqVnTozRw+bMFbgqZ9gNwvm9F44MN
            qtaD7uPfbG6zqd8+/xcQwtngTno4nB1ucTD7Rlozdr7Fwy51/if2/bJVZ6db
            e//NRi8XE5udE/uBPIxmJmU/tYPopVf00xdqLwr+KGfx+Cb8NydfVUCqW4dm
            fsvEzmTR0RFNurfYIO7NeBufH3SdHZ4qT6OFCTLZsoMdL14OMjqlDZ/ivt6a
            BZmqphSzsoh5mkoodV1BUIHkaAIJZh5E7+CmArbHYrEStmnpo/Wa9JCGwupg
            BS/04qEEscoOk4KJGGQ7pHDY6KuxwwTZPnXajAeDEpiEc3gqFdsfmL77ygEu
            NrhaLYRjvu7j/ZyN60h3WIbVJfLJ5qJWU5RTjUVPUYJ1ARpVcC+WSkbILqLF
            CaCeoElWGcWFAWX/ywxz2BfCz1BFVO4GCJ7bSMPnvmkI/3H848c/2cA/Hj/+
            LUg5VECiAM3Jon3vcrTzAdTViLBiWH+Qr39kW6m+IqvwRr2+8TIGa92Nsz3d
            XMdKU2c74kRT/m7iyl7noFJ4Ly3fRSw7R3N46fo8bFux0q25rHf0rLd1CDu+
            gUpYsUJCMOQ4+palBPq+g7A2w1vuHp6TTt8jAybKESbbpKfPKZb72Snmrbo5
            BAt9fzluenMHiDRp/AbrTLoIs2Wgfl8TCimvw9i9sWA792bzVcNYWkzM3Cnm
            ysY9s8E3Jk9MPT0ZlFiMVfrDJYnHczHps3w5heh/uJV5c6s+T5zPRNa47FkI
            6zrObE6ncWlc1K6Y5Rz+bidHMrgvgxk+RSvQyu+LY8Hb99eRhfeVx5AKnojQ
            nVIkJMYpFOwJUv7Asd/aySSRxWPolmYIgI1kBz2G9jmUB5JRmVgnv3cngYfI
            h/jx2lm7csSAIomX8vRPv6vdZ3kfx4tc8flM6m35ghq4rpw2cAt1h79e7Ejw
            Rr/+2b7iAq3YRDYsB62Kpu5FGlwmwa7vntVdMPLkLLg7ngHKDkTnO7DsL52i
            APgrXV6CWzMi0EDfe6KKpcNvZ1NmNBMsndei7lFU9V9Ozyw6+EzMGCIHtNU8
            1PNMGCV+nfNyrMqnqp81dAJrfEfFTwuPfgaM41m1yjlu97RiE16/Z3uGzV3O
            YQjNJX3GisodId8MqdbDyJe5sPcYSLf4emcl4h7ClOx7jig7RQLtGImekPcH
            thYEJaXyk9py+pPaUv5QG2vb9mc2V/lBbYdlA28CGwamddOx8m8ILZ0E+sVK
            zN8N2dxZZGFUK+K8lM+3Nmimmq3dtmKP5kpmM4JSjj79HJ98giB7e1k/69f+
            NuBk9qw208pbfLyEpDCbZSaJu1gQR8pZ9C698n5GV8ROjNnp/gDfx1Zasapg
            xQJz2Z75ml76/vx65v55ZgbKoqXKWbNdv2YkJl+wCmMKbE+302/ncDBS0wUa
            r8Gke51MRfCkW9hACtXoxcEL9Vs+vYqGyIC/ql1/1xNse37b8btQtfcNl2L7
            OVGMQXSirCaVd2ngr/EMVZVRNHWXn13tlONm92F3lHcCvggc4F3iNUGGJiTQ
            U6y265vgYv8QnN43ex3iTs70QFP4CtemmdfuZq974/rT0N4So6TVk2N5nRra
            rdWcDEx1H3cxTb1b7QN0mMaCmi12wPSvzTWVH2Dtv44Fw5aYpU+wJuj0zrLy
            6wWmvARGdoYbJ1HsREtM5fzrt2gFK5b3QaM1EdSQJDASLD65xgWT1YzKsEwZ
            /X644m9mtOjhQyq86Wnpz8S06+p+rW69BG/UYGpyhmqUitKnm9XfE6bzUAYV
            nq4INwC7Cs8ZG2FSLHO8aJO63r0cLrd5iVmy9lTSpB0+d3g+fTYouPD2JQkm
            05kOTtuAnOGtOE6HwQR2o1dq+NtqyYchf6iOQ04r23qiVVNgs31DhB4KZLIq
            nuIu5OJassqB9GCNAeXk/D5A5tRhuWjBsZNJcSxu0MOzdcj1lQMfPznw4y85
            8GlY7ruydQJWsdKHLBv4YvCF7kVjnZVZpMy0rfW59Dmr8/zkZzpZoLB0Phtt
            3GrBmovf6R3U9+7fb/+e/fvl3w+GZ62oJBfDJCBUa2Q7JfZdZaObqOrjpFV3
            Xyne1ztRiSh2lTJOXSuYuRvv3obk8GJoWP345IoiGvk+D/Lx/nEONA0iOkKa
            y//AnP+COeEKOfH/YLTK7AELo0+1nrtTApRCzPCIGHfuq9gmbRueurMAq4Co
            GcV1ymILQjZOkrbg7Q3b9T4Y5I8eTMt+fKdjYYLuuE52hrUOemCrSeyxJIFx
            EJaYVRxsK/wYxgxB+a3MQuxz2fZSIaAoV1p9yFYApjKBCGtj5Q8QjbwnsDHU
            O6I5TGk34fY3b8oRHVbsV0huG+nlEQJ1U1GMFSkZAkAoYTNMBknBaq6yTmPO
            sYA3OB46UYEiQWjSV23QINoVmfixdnsbNpnezPK0lFVhoyqVk3U2NJ4ymN34
            eR4Vxl1dwGpBqnM8NppAS8fOeMjm9qI10/4J7sEd1IE+NaY7T82TqSXCkgoG
            HCIdTZUIH/CyLQU/daeSZEJVzhSWaiEDKcjiC1aoDS84AgOkTyk7k1Q36o0d
            Hr9KKW7lpfZvSZe/VKt9Lbo3hht3vMbOQ92VAtE1xFpvwz4kkwtJKkEehhWo
            WAdMfZX1QT2YkIbKfRiXN9VV5yfHO1IRLzSC0wHgI4t7c+rDrjVAoYx+MpVP
            uSjt3f+cbHyL/c22ZYI9MfCxgjpIR+an42WeNNVK+yaO4Hk45A4Yy7CcT2qG
            7YSScloy71LjtagG4uooLPNdML4S/QJqU3vQQ36cp8989fnqgpwMl0Byt3eK
            C26xhOeGGtouC2FWFYpf+kTx/DWxR71FiB95uAmUzKDoW5WvNsFfnbTfZopz
            7zveZozb+bq8nUtMRNW1+areiLI8nq7gakXZuTj79126IWIOJAHQMXUPRiAj
            +GV02J2g7/tz2GWDbEy4W3G709Dbl3qafjAJweqxP+stbXDq8vS3qomllaPm
            gGwaFJnk2D0VgeKG+4hlkCz3gZFY7buJmdCtQPrs70Dk4bkr7E54elvwqHR6
            9e1dyUE6F51wn/bl5nOKcrAt+T4FUZjYJnV4WQULcqPVfX6y4/y+yVpEKL9k
            ffrthPx2WP5MoLeMNUU+/0QXPqwLHcTa+mrL8A9oK8VQOqHs40KH8gkso3mA
            spjcCqnH366pbgCJqB/EZ2EwiVDF1uGp18UM1OIiNuEqt5DQKxuDEKH8piVA
            cVm02rB0s2VbQMGk8nmDx4JE2P9PBbDUK6X8TnXNoqm9HCiWc6g0gUQHPTkG
            Bky93Y4h9YAr8arPqUBlqZVKrOTBks/jSbbqtWLBqG8SFRHRk59bWB55MCib
            rG8tVae+21rI8u0w9wZMxWH72WkQcoYIwBsZxy3MxzFsg49jJ6p6la/rImh5
            bQaoQi+uyuWgD7NjpXOOpPqQYMQDMlxz9+clSJjDHQVX84pvR78NEQr8qBlS
            +zEvvsRUffodXWBiUC5WVt+cML58sh5Bb4rYCut7oAnDvEqQ+R9hkczIguIu
            Uz9Ww280iZ9va5AyLmvLZcjqgs1l24hkgB7h01br9Epulmd9hHuw7Gv1pjv8
            +U73UTwimj8yudkEZYY82Aj4XHLmPUyZxz5mOxCXfpAzccu2Ytyq9elXIvB5
            E3iBEBb+7mC5EFdDaQ1sncbY26nPIWCIB1htWuZr4VicyfVzcAiIK5awdXPS
            SecMLNyl5jS7mrfrHBBH92r1kH4/y/H1LJYiONjoW9GUZEBgnD+K2AKdHuyz
            JSeBcwg95tmypvPFVHiS1AcubfnD3oUfUKxf3arBhjj4N19sqNXF5U624MAh
            XVnMwyaNxx7jJ/v+YQixrI1g50ndLNUQEc9x4WXZGon4w8c0HMfTE44rjo3K
            gGb/tc5WGni3YfWSwu1lKSGhTtgljb2kQleFVLguekLJZshA+06yZcD8NM+n
            +k7K5c7IcnzNfEXvI0Mhj+Twm/S8B3tRZz+/nrvYc4f5nMzDrTtsoJbp49h1
            ozTC9vP323JDqqrM7P1CkKdZ6E2xU5VhEOmiUXRycudt7eHV0tUX7t1ffK4D
            ejw46W0oEFDiL8WOiAe7VxazhWc+ecHA3m1JJ8ZcrbcCWVlmTyZ8xjF534Qp
            Z9sI+cYuT2rm0vqnqyR0FAbyt/ICnSh5m/J0WVKRp6r13XNudAKsviX/jID3
            NQ2EpG+rCwOTNtRAkIXcXxyIeY33N4qA21zq+/tM5o3me8BCnO3b8+z1F/1Q
            vTAMXRjmasRGtT8lUtNDooeugG3ZHIstVdtuhDgwGfFjqjCrTCH3oaqvS5V1
            geZ4BecxjCj+xmKifFi30F0eQN9BMEhENczwmth2Qjs/m/8m4hrMKMEDwSzK
            by4twbezkhYtntsuqYE4kBi4+6EmHVcQf89l7dNAimyfi4fwQFH3RhijCckU
            FK5A0V0EA/iy92N4Mo7nSu4GGnda5rxbP5v5np6cwwadZn3SZcd8Q5/Ibinw
            BLFnwlFhUs3BDAp5GY0QMUM2IUbMtNfiePoO/U9rtTSJBUGUdmVzkYiouGcp
            blq18hGMZuV+t10nWEISxgisbLZBJG+s/qHSvBblLIP4m1EipQVtacDfKi6i
            3pkVkPxSTlm0s+9JjZ6rGAbSi0YzK/1On8VCOAGXmMsU1EJuyWDneKO525N7
            eMUZrlP8mqeFDk5wLvWiHI1WI+1niGZQkJXiTxAD/SyXhYmHdSeK924VaiuZ
            rDYqEdeTdehIkFPSJ6MRcDT8xEzaxNDdOXav04lhXbt1DhFZCT98NLHJh6w6
            H5jby0vbGPPBdyaxse6SqOmZU9HZCEVBNhMBN9gtvajDYkfKzWAWFPEqma8a
            mgGZctVEcrQuvSdah23masbn1V28C8wy4hxMkL2JtbG9Fl+9frpVDD1a/tTg
            DpWmMymT4NBL1DlY4OkDhxmzBArahFdJOzB0CIPgXpdnYZONzuvY7OcmL0ze
            GjCrDdUPBUnQcp49FRwlZFcLUQmRLKmSJWv7nfAcQx24rWQqfXlDOSCV7PFe
            xhnuw4pknq9SNZkrlYWrCUTE6hIw46QC/ueGUtSIujLUHVnoK9IS1RD47W7H
            evESgimZge+pmuq3N0BwM+ctSWTPDYqLeb5OuGBx/oskSecGlTnWVZxLMSiY
            erjXBebcqRSYw8J4DnX1OVvYVExghr10jsOzc60GkgtQL8EXzf5ifJjE5q9E
            LBuY7GlgkifLmwe0bELseHk8G5NxwvFbU/MGKjFFyhW7txCi9BA4BeTPvCGU
            k7q3g8woG1UgOk61vcFogKUROGst0wzVjp0RzetTE9itbTVd0upDyXDxZj3T
            Qr/gDnwk8zzxnCiYVJlCTGK5dl+kPfmbGLr3TdpsXLHzJ6/4lSNhmfeH5FtO
            jiqXvpJ98a4LxHNm2bmLk7odL9IJonpCPmkGVVoRsu32uemMGm+za3pF+qmI
            KnMT3/uyj6cgjOjRcsW2g6OxqRTGRSlexLJNr/uciSIeXlZGDjndRhFPn7aA
            FE7q0chM6iib7tmwrzcUL8m0x114Fo/ARJALr65K9BfIkLhWX3o9tQdqGqlU
            zTIjVSA+xlAa475sLdZv2M5TMTc2jJi0E1kEyhzzQmN4qn6pE6aIiYN4KQEi
            UQN5tp3FDJyzn2oueQzofl1NpHHsZPQl+7nBY9aZBq9J+m5BSPfBZ0j09HGh
            3VUkxERtTBw9K2xxJofAKd82Z/KwayYBybCiT8I/KYaISU7e7OE8MXKGw3dt
            RaMpUx3G/vPdcJKgs5eyKRwRMjZ2toEAIIYGu4KVM2OdQbhwiUUqq9AuoNVc
            GMiLUOWEEVHvs8NKmV9jjkttl0FdBjde2fSpyDAz2BGuZkhvC9fZ79xPUoVY
            kV201I6GRduwrvulKlhpMYk1coa/e7MDHnOyPDgzBdukxpOBngN8v8PyhEQ2
            wjhNhuA9jIVlDGpz6c9eeOUZX4Ys9MeEW7GPQD5ZdwaJljwfRwQ+q30njK9q
            zb5i5D+cAEzHyqEbBg/4lBAtLZEQu1c9YFctvdvzF7tqvHZV+thVgqHpQjV6
            tcI96TfdWeA18TlerUGVPtYQHbz19hZk5s4R0uNp4EBXcp0+UoUU7jh7aYO9
            8Hs2FdMNNE28LGhoEHvgZNDd5tglAmZ1G4ch5HPr9s8jKubqZPdiaSTFQgZj
            49hAsqsZH60tT+mVu2kpEsb0jOTdkJWjtpvyTeOp9pxR7cyYuxbU4i0Kri3M
            rZWBwG+8FxbSlCHcJeWgsnoTQWp2pxvc0d6XhDKUhWPvfnrjhLdH99Pk6W9k
            Xx2L/u5fnv4nj9dAwtTf6vBgPWZUq6cuhY6WRIzYpw5ay+AMI6shPOwi2HiF
            NTlMjVKnHmuEzgFgt8LvQYzsppwEx0dV9ZiU7BjMewPnYzBI4XfEVaN1TRS7
            WQ5HEkgM0nJoGYXxEAlKYLwytERIMILZGUeI1dkUAKa2EAVbQudceauKW6Wt
            j1Hs0dRoh36WL0ol/yZaPWPblol/WOOaS81ynoKBO33gZlksZZwE6QUPx/bQ
            IA46Wm9ikv84PlO/2FY33RwLn3FspVOWGvlSBeE9WfeEJY+tshM7C0I7Qy6B
            uUrU65db19q/22VAqmqAXx7PpUzIp6nVJHZyWk/e+2tgD6bs/R4kruvdIotJ
            hCFY+Q81FrJpdpfgyml0kD75tiK4Ci0Wz4NBTZ31/1WSnblM2jKXCs9rjpba
            BXcZ7Txda9pxuKZt6yPMfl77ttX1Pueu1PgYqwaUFgirDQuGDdaOt5/IRj0a
            zboEsma6vb2mKlH93r6iXU7L57u6b2sLapjypV/Lb8vOUedXVx8x2e1jOK2t
            IQuuvwqD6R+5dwdjMtaLmTLkM1RAGUvg8FnEMdIxRh9EK8LgOKHhLvEHtmc8
            uqThKexg0+J2gtAdSr8LAfcxuEP4F0PHRgLGfkl3JkhF60K0hRHsKiLncfm/
            /hhmBDhvk+PxsiKkrtLLLd1lLVSmcyhyZlsfjLIuJRpTCKiDGOtW3QFzJmu0
            mwyQo2srxSTHfLPlNHHZDLgwKvnOe04Sie2xayhhJxiWNBXx6p3EJBijm8cM
            +AzLKouKabA2rSYh0uHz5FnNko6kTUC4MJpKc1bZcJnZ5NAuGaBbYsYXlvxi
            VFOYtrt7mcdpeK/UlfVFoqdHP22tgCzToInY9VWVeLpPcEFDSEVW0qmLKzUQ
            7ksg8WZQT8mWkEEyXFW9Bo67qppJhkXfZZk/TX1SMlbz9d3dBrwoeZMyaY7r
            +NnH6oM2ZI0Zr8Uu7wInoW6SpJmy66Q7mKxsYNp2HZaAc3f7HeKVKNzH8Isl
            z9m8m7WwpXfm6Y/V4UIykyIZsNkrLOwq9AtqW5D0JqbCcvf3knooHCg2dJG/
            fXG/iOb6gJ5TSKifE0FKGdM3Kb1kynq2/LQUSpn9VFs7M9gdzWV0gXUpAMff
            bq98X25UsAzM2lq7keErhqUNH9ucKOX3B0wDN5cUzbc8YEHJzYxA0blCU6O3
            ufXb7RmEDtu9F951du+FN5Sj0t3vvN7zVMkcWbR47eW+yrNKudXl5c3BPDyy
            aDB7cfbWd2naBvl6cwUuNQYZyfwosvWzq3g1kYlbIvBRDO1VjTnAFtPZ8vao
            URfm8VjkC7r13B0kX1/I4b6QYtflpCUKQk/547XMtCQom/thatBk0wW835W5
            qrG+5fdhayLMCQiE/rDgjcUczmY1pCIIECl9cOxu9elp3p/AVkCHuu1RQDc6
            8D0ANq2X8hug6zmrZerV+9Xks+pvm5p8mGERN0HAElpzYYAWebYl37JS3JHO
            TrUBD4ZwdlszbrGktpRci4lJRIFYfTek7sQiMD1594d6S9k/zqTDmrM2Mrhr
            g3ztusftU6jubdvawnYhb9Cvx/BKoDeuL/NZJWaDI45pY3mJIGL4GswQOZlR
            EsdVSOknLKvqDSKEn4MVcCdoWYIJMzCJ89N58rCZHEE1e0EFJ+GgXChmFY5s
            ERgGJAQRkz6OpMQ8ojDH/h6mfSfFk2II/gwqi+++/93alS05bsPAXyLFQ+Qj
            KVL//0lBNwBZM5nZStUmlS2PbUnWQRJXozuxTLk8QrzwcBH5WfjrkVEwb8G1
            3ZEkAZKrWTYMLqV2/NTObmQ0i2zt5PZoMddPTRuNLTTExv3EtjB4MkhpUVpH
            JqgEF1SRE0sL4EVGB+2Uuzy/tqxjNCYDeISpWcCmam9gaF/gj8aShhwaEDlI
            vTTjdIRCHZhn8XfWvyu5Hi8wFsv+I94Su2mbusQ2J5P2I1zZDsRSRSMs5vje
            l5jewhHEYHLAVLabN3IEKBTmYpoRtK20AYcsgfDdq1eexDHYDik/VVoeqVpC
            tpPxI2F5gzA4Bg3SolPJF1Gmw8N2gAGaMBgb3K9at/7+TSaxA/nCTxbPM3rW
            Yq5eX1CBbTKfpE+3j6uWV5tp3krn2bzWNHtXr/5J6S6TASLcRP4H7Y1PBjmv
            rMiUPpI+kGxdxBxUeYGz7sr1I3CFHgmv0Mndn+nQVkJI0gf0DG3VTxTv7CpU
            O2UmSp69vEfxC/S8pMevssClxMxolfupEjesXqMn0PrhgOaGd7KZXidZdAdx
            FCBtB8CuoyIzBb9yI8VUseZOuziwjW6x8LMDxoj2zSIXDmO9OLC6Mh/V8G6b
            xj6yoEPfPt/f+H8ejuCiD1vs1S5QdbdZCjmdbZUuhO8P+7cxdSLlUn1GoxIG
            8nlUeZYNsqT7wEb2fQ9w+T3HG6uNWtm5zPyT7PMc60KMIvsZANhzXHMqTVxm
            aVtCp4vsLgy/qJa+xVTMopW2QzumaVcnWdGA6GbJ2AenP/gzaLnVsXGyCi5r
            S/sQWP0yWJtxS7oZkEkwmXFNEwXNDO21pZLv/sWn+TSYq1kskXQYs1e1g73x
            rWzcsJspy/LOg4WQAMg5em7FRi5iBzc9xikDZ4spUVAeEnPwMqM2dFwI3oDd
            Gperl9NARhhkCbMOFTg4ebANYj66drieq2H2f3IGNyIpWzThkkkIKUZfK8hU
            oI9Ms42jUtLTEybYru0nDcqk94znPNS3nIQsJEtnZkaSl1nrzPsujhixNQ5q
            tccTlSdIrKXnXTF95ERzASytF6zkKH+QsTF0eMaNjYMwlFAQGyeUEQ8uzGKg
            Lo+ViUbTk7nKU7+qaPyY147Ku6OJhbk2wPsPngLgMEo1mV/U5v24HUO2nVH+
            XbB+8hVVi89uY5QUz3gKqPPPBp4PkrB14CF9QYYSwgOXkNB4yjCz1F535T7F
            bVA1MYwbklMSuweN7gYIawA/QAlfgwQaAvRsIHFi/nRnc7rKc3WHT/j5FcAb
            QF3ZD+qwsQgqf0AJsL3WP+i1EDrQow0+wBSzlo6QZB/MiJH0mkn5K7OSfMGd
            I5aA6Ln+YH7K0YsYue4N8PO2IbCj0hPLA2JDPtttZeBNaC6AGMzA67awDCTP
            ZeX+2xPmCQJi3k3HfnqTGNitTLjlp9+Z334HzD8HfwdhMTrlG9ms2C7SUaBp
            IKeRHxL/Ig38Hn7rFKf7/zg2Fnpx8NuJFKUEuoRhIkhgI1ZA9evmNWUd3E47
            jSDiBI42ANV0yow/4cIwpXGZ4WDDd9eCMgbPTTWnjvYVMhThs+gifjJJ1ikx
            29xKYpu+7pu2rHWbzAXP9l2bwSRAGRAV31SkLacGHHSh5gr+g/T7Oia1+OPB
            qikgdg0Wlcrskl8gyFasB6Yx8ypTleDFF1d5JuP5iGhtNVlLKIpjn8JDdfSI
            lKo+LRNE2H8MU/JDi40PGHT44ZhAlANk28AMjBgi//2MwgDFZOAAPT4TYA+0
            e37cvNhX+Mvf6uiIeg8iPmxyfClrAB5oTTohUFYDD5F/h1WZZbxIy8xC638f
            1ANlgJU6LGv4ZfYwpD+hPhL+eiZiFh6fVYWzvks4/8NMBNk7jg2X5afUalmW
            kDK/l4BNtsDsFCgd4wmrwf0uf/3Lmc06vi/rRi57qOhtI2Tju1laRK5tmDqa
            uKwztwPHutkeerMwkey4lmJOoOao765/vU7j/gcQ42W7s6UGEoSKaZfBYnOQ
            5ARBUgPPpSynyFdELxe5eh1pGkaRvwdUdQl6VZRTieTNGhEZ28P8gYhAmIhB
            sSpPomt67sjLdYH5Kk2nqzPS5bD5Jk2CLPGyukQ/n6Mt6OlWbZMUz42Eh3D+
            eRzcrYZZPfFaQCchrjo8MVuFRlQnCIk9v5EI8DBbXAXJ09QM1mAblW1fFQUv
            5mHuaNnlpS2mj8qP1X5X2C+fZiA9otcSVFKTuScsuylYqU6ew1AUWf/6MNUf
            LpYm8WBuWiLQIRnuP/ugh6tb6lTUiyxyJHhr1qOQAJfjskCkjKzZpfIi95Ll
            nfzLA1kPVKJQLF5AQQ9G2AMpZYxCdBvJPzDhXdGPBXCTRFPQ+vZI0cFKKI5J
            +H8+nJaQkc8fCiL2EBd292ORvuQ7hbvBJhez+5M2CVZfrl694yJeb6pMU6BH
            BHMopcU+CmAlZL1YJV0P8KhAWhHHUIpoLf1FJbiFWNoi8z9QHvLEgNmE7DIg
            e7t9eEKdsgLnRjhforbKxjmAr2rLOTB1dANUYKkjbRVQD1xMgX8PeKJfH3k8
            kqolKs9ajVX7gk90+lCgZoPFXVUQSCwfWDXGlkre+w0VX1Ca7Oh5qUDbEeOo
            3qbRPD8P4GR3uY7a9amZWOb2SwULB55gsGDdg2CcpbVf65N7k6OW12/M9bDX
            Ec0MXktX9anEpY68X++Diq5qesP666zOUKyj8c652itbD4qJpiLe0ISjwRDh
            UHzJpWndwgXrun3v9Qw2co6rsyDxMLWTLtlCA7lmdKKTwAt0BL0oTrWv4XJD
            nngkXNuWj15UDPUw/inGW2aDcGNRnSvFnKVCJBnS98tnCR5izxpE+va5v7Y/
            /r09yH7Cm012a0/yFbT3FtAOwK6DQWcIUUShvmuq+yCbPFhJqB6UTm8XqLlR
            FlHOh6QsS5ZGjP16MO+zkwKktj0cT2hKGKIROWwU9LN6fjHNfOtUwtouwe2l
            aW3VoCbXtWZ6S9yc0mRzgywLs4va94d8EDtFIb711ntmfkMMItdxVVhJoCEK
            1Lf8SO/J/iidagGfvAraA8DOKMLMmGysgz4JqCb1nJEa75oEW1Yj0f5epA4W
            kbsbnZoGQg16QzXlbeS8vexLey2Rmo1GjBmtZ855F7xqpNw/9LyADhjimWz2
            jJliCbhxurZWAYEQH9aR8srb+3Fwc52gwtRgPMfSA/kWiHgJJnSrYiK4o8sq
            7KXARuxUfBQCTTzlfcEoaYvTuoycdR3N2l5Vj3s+HTLBOmRQcb2UHdaJR7sy
            wob/8Dr1byXQXMDOsfm0McTQv5V7uV+2z/tVLBnW5XbdkDWIXWwG3zd7P+x9
            1jyQrxK9vZY8Za5TEdH25JhKz9p0Wrt4Tx3Nq5pg6CxjH0rI10nq9FmfMdXZ
            q6xIXgkGXlM96TqNUQfyaBrpSo3HiyMtm8wcgK3dqPP6Q61LLidXF+lT28La
            YDzDm5C3ahM8qSp6i/gny9yltQawpgHWTdGM9In95qnGE40SkOUgwwlIuuXa
            6LmJUbsSUzvMjKKuE0mRq92vpMEpioz7onjWErD2QJZRcgRl8HyC5k778VLS
            WodM6bWt5QrXAtVoVCDfg6xXB6siYXmibItqX3i3xBXwOsnaw5nscR5lfc5R
            qmlb54O0P2GkiM+wzVp388/jBr2Ffa5V1ZRNahmOjw/0bL7bSQSdLx2Xos6e
            dLAyhejn/SMv99xMtG9R9YeQ8IhOIDK3FQIAunsj0GHCXV4Hb+pgV63c1GBU
            O4QcRGsTm2dP2qEi3uJJHgjqRRsFnqwoNb1EPFFkOIYMkJMD5M5ENoujF3nz
            GdtFGFMZVrKA7GeAXMp4xuVfrs2vKSF1n+SBDnqtmXxOWKVkrlC9Re5KchY1
            KMTHb4NmctCSK0qWg8OPxVJvR0W6EJYZ7aGIV9hZ0UzQ+1LwL/BbUUwvveK1
            EKuyjVheMXYb9Hfk3ifGgfeLoR2dP6gxnUqzIyOBx8F2PFaRDarfu1tlPHtb
            zzKKnamk9E0ix5sugKimI2EsBM28H2/GkBEQNbhl8R7AidO0ndQL6vq6GrWv
            JHS5+rvTh0gfXEqx16zfu9e1vG/ADP7e2gmEOpRWsuIls09G0j3qYG2AKw0+
            k2WenyVxGhTfC0THTQKSwqrrC+uwVDMRvJQSu+7TU2HIaoCYDstvL4sVI+Ib
            yABT5Kl2MczIIkUg8p/OHhNBQzKKq0DTFRKFKfJHwxuH6wzO51ZqvyFApe0C
            CYWvExVfEkidThKStFAmjs7K5mmD2SKqDqYSea35mYQOWcfguwGCJt6A1Bm9
            w0IDGX3KP9dc4o8jrmlM8dxHLyoNB6h6zuzvA3MGlUEWRLm1RLwU3V7oS6Bs
            O+QYYEMXn9bwYOw/LIhDxW5T9e3S/rQEUUbVYWCHUDPiBigghtNZVZW/8Fxy
            v+D9fesI8sHS98TtQRlsKqpHBwvFqkruAx4K2BqCsXEC6SFe2deG+HcMUz7G
            FipDCFYp7w40trusnXphFVLtdHCi2iKVXgFG6qBCkStwwrKwwzWZg3R8jYWm
            q5UhXoitj52N7wO+mMuToVyPQkkk6OvxpnbTYKYS/tQ6er60ggSd8mSNwcFJ
            7uWz+rmSuA3eeyimhPMlvq40qlsVXvt4J7tv55YtQtKxWEZX64lUXnzqAlAv
            QeexZzOt/3doG8ZF/3Zakgvn2pSaS9tAE4xVOthlIsvKxbrjejrgqLes50ce
            06JBA8HSsv9DjrIsAmyKUSmm1HDDWTqyCvgGrOJWF/ztVdVw1G9lnllfNZFy
            qZIUmTBlsEAkKHyEPmysGYFpv0iI1jE+KPkHP+ewLA8CvkPL4eMgm33HMbCd
            LP98zaRJzMqwXI2xlYwdp5f+D9ytkwJixyMHOIOSpKWpYWO3iOFqFkNSExqE
            1+ur4hguBKCTUngyW2uBuZH7IoJORbGyOGn/sZj1djfQSrA51NgmAO27d2ET
            141aKCWvf/3+Yqbj9+83BLb/8P2JdMwfvq9ABcY/7H9J+Jt//76HP3+fkDj4
            4/Xp+R8qy4wqLptnj2zvu70v+r5Ee9/0fQK/RdduCWVzyGy6TbZ9s/2bbX/5
            exryqLSdYif489t+vEc7uJg9vj/Cz//pSR8FHVFHsDa5kP3rs9TzI0CJtv/K
            wXDdRfmTZ608edrdfx+eqqMoxYslD69zSOgl/WH7mvTz4a8Sh3M7CS3e24u9
            5HsJDwgY63cvLBctEq+gzJo+VyHnu1p/7z/OXt/fP/8V3f9Kuv/34/Y4jvd+
            e7Xx5f6spvc/De7fFluyxITrqx8XLh9/buvRqh3VP0c1Qz8nlzFYoH78HMAU
            Atbz0ffpIwgWN1LXc1DEpVUOhyMa/JbF39CCD5LreVzt6/vPdfl3Xx6u/R4p
            xHSZUWVyQBx8GwD5/gHp/YXp 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
