<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0489.e04f</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0489.e04f</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0489_e04f</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.0 USB</string>
        <key>FirmwareKey</key>
        <string>0489_e04f_v5582</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>57423</integer>
        <key>idVendor</key>
        <integer>1161</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0489_e04f_v5582</key>
          <data>
            eNqsfVmS5LiS5P+IzF2IHeg/ECTvf6RRVTPQPSKzXpdMd73OdncGFxAw2G5q
            /3XEg/9l/BtP+L//579iP+y/cOBbHfwvx4P/d5/huXjq4//ha7WT53HExntF
            feU9xvHjv3Dh5s9pf8wh4LQcW6xPDTXXhM+LT6mrlVpaxu8H/7/jWMbvWgfO
            Kbhrx8COI5Wlz9CihpD0DD42jMQhRn9s7fwV+HPh10w6u9sR/Hf65/TP7J/F
            P/ds7Lepfrz55wr2efnfox9P+7ylubWzIm7TNSbM4Tvqoz4x6K9HeI6y/FFz
            htyejlE/05ZotHcys9+vh/szxXXwHus+Srn4tses+a6nvUcfPccyU8qpPHyd
            tKLNJe+Vn4YrZn04w6FylAsz9aQj4l5HrUfiYDm2OxyRb4AVSJzNhT/cEccw
            ypJwDE9e0c/D93wfKeM5q6xsJBCiXvyqoBmcmCdOSHYjDD62oWVImYMoWrfY
            8bfE8/C6C8fPB8dwbTr9GK45F47hZVIDeUStXT/a1/+q/6/4/yLWJoNg8rOO
            26haS38b9aTj6zj+UkVY/A+74Pt4tfN7/3mfw6kwrp/H87D7tOPX+adRWfs1
            nngb+Vwdv7+O1xiGkd6v8w8jofVrPKn3ovN/jSesJSpf6+u9NFAj/vLr/L23
            4q/nhiEyxiE7/tk8vlV4/DESiKLb70H7TUfuD6/bLMZ3yjP657jfT59j2fF9
            hegZ/9t77D0/2Vnt67j+Vuz8xD2q48ePDc39Z096DltuvVZP2c4/9vn+rmH5
            8ePr2QVrtX7eP/hePp3Rvs8t+/HtFN/IYKj9N0EkY7u/FiaueRvn/nV8zmVc
            4+fxGW3Ww6/7hyv6u/xa+CuUvy18L12zFX/dv6cggog/7t+TkUAK45U0XMhf
            1J3urOMrgR2BZdQRchit49VzxHJV7J/jaQFbvOaZMIlxHGe7wXHF3nTxU++H
            UzwenH8F7S9OKdhUPUMmC8HnjJJpWgiKCz7/wpDPp+PKfLSHTAHs7u549//u
            78kEU49XFTGSO0AqRjDGMuvdru7U8m//YdmeAO59zAfC8vjH//y8+O/O4/r/
            q/PKvzzv/JfnXcc8u5FADpr4/3RRFkFgN8d2/i8eG//dMVu+5/nfXb54/Lvl
            y+lfLl/9l8tX/93y/YvnXv/de+R3Nb9m+I9jyQVBMWb57y7698d6lYKXQ5J+
            022Z+ct3pzHcEOIKkPfUA0CMMYIVvN+gW+QT3AIqYj4h+0/85YS4OMGBzoZ/
            4BUnZPk58Y/nQp04oR+fN/49R6buA/UwQxnK0G3ywvXQZzIUq7xwPaRuhqTO
            C9cvXL9w/cL10IEyeFgGT83gWZl68YXrL1x/4XoQZr5w/dWhwC3JkGxsXvxN
            v+71/SvleOlXD5fJmCDVr0PfhJ4t5pypslItPE4oX2D9z9MgW6EBnqvdYLQH
            VqsH46Adqng4xGpneG7q/Pm263ndbM/T09NaeobvJgqOeB7XqeugZ8a7VCOB
            ysufS2wegps3iR0DwEPj+dz8Xh6uHNQLiM00wkoxXH1ggA26cTdduufbBT0W
            4TjLD6Lskre5dzunQwWe8ZE2flG1Ha5QxIfK5eXXXNJ+sun8/YIoSRjvLQls
            0xvOzBeug+IDExVhtDzP8us5hlq67T5ef1c8s0qfnXuyRtUkX7ZU606nL9Uj
            XbCbFkbpiLtfMn6oruCcWWoGw0jhKolLtt8AimXrnBndESux71hMoekilw4a
            fTIWD+OZK38Wb4+nJ54/ztxk2VUsdrueK1ZaTXY+ljTHUDtUWswvBDCMheq/
            Qdq4T1gDhPBc1PnOpXNAiw8NSxyPLgga1R683uRBzOBeVGxHX0iMc5E4fiyq
            zjlXzqa2HH87pzZZaRg8za1SaGE9o3Dhu71EI7FUTB/OCoXTGE/QF2hxUtPD
            bIEEL/wu9jvy94AuNOMIlAed14FWcO81H5krgdcnvulF1TaHCFHXQcCNywn7
            h+c2O/eoV4gxrEjCxoTN+bR0kqCi6ciYfYzxCtx1/X3vCyqxaYzSWuL5F4K/
            KzlEpmGGxZvcwTTZ8w+Cbx+CH9KZyGk0dSCQG+PA9qwZfPFrY2KD322IK/D9
            pT2Dwuu+LgVcR/fAbdfx3HXzXD40gP1c02yC2IwEjEXXPxeQVIv5yWaRcx/E
            YruoRbu5XiQ8MAT2LrpyLk7zVAXBG2CtkoahDi7uTzopqvGacXIKy7if0EcA
            TS4xukaJV/Njuw8UdnOvdO2++j19z2f6eE1J6ymbx9xZr8wbtO9r0ntN5NDr
            yk8VYyR5YppkvWa/plD6QPgUSIbSRh54p0XrL1Qy5zBK7iCZ0fhiGWoMbJOu
            jW42j40LhNfW3seTph7+NvPPcX1IgeQU+kXhZqYt+eXNzREWSFj6hwkKKPnG
            eQbedWKPB5B0ovDCPbANQCutgNfqkwJBnA3G4nqcFyfnAp3uIZB9eORVKdEf
            BCaLyQR7oO/g1MNganTQc7sbr6N0CfPOM2qPTy7JMylQ6r7H4YPiQBsXFb8j
            9ij22MS9sdAXP9PkxGjC8KA6NWFg3M+0xT/7vt8fC5lkSecW9zWwaE4puGSH
            IsYzJxmI4AjygTx0vIBAzjUgOGp4BUeTEbbwfBIFiTYaIZ05n5tRXxd1mP18
            7YG7dOhA/vzsxHv7NQf/RhfTcoaOc/p6ZhUXgrrC+25e+JBxJzeYfe7ONgo3
            KsRyhGYCYQAthPucvBNvBq0Jwvk6wENPCjbMWZOrCLoIrt/8bVWs5XjulGq/
            U6PgSNl1gfFQGvEg6BycxB5OVQgnR5q9ZA90TdGBgM+YZR1i61KDEXONZ4fE
            AYWTDLgjbiyLbGxICt8RRc64PuXqgfTG30wSjmwTocWZviO0IGDeK8i4g2pz
            QCVZvNeYn/NTwfkLRNS3qhTjs057BnbQ5aoSpNrazFTXwZDE7m3x4u4gYUD3
            zOCtvkjnDbkvNS6bGge5cndIUBBNup/J+8Twkf88Xug11E6Leax673thHE+Q
            88nv9dgufonxMWKEIO5OjBxPCe9uxXg4V5kmu92DGzE37WzOE/ZcSZtXgwOK
            0zz0AzrhYoM+e+MM+W9nor/TSGByfGY4BU4Hb9kmBs9XgGpz3Df2FRkc2KXx
            h0FPw0rTtdZAc47OTYhM/MZPKrLtzHt/aZ56okZOx+RBDS+sP+VnhJ4AQRKl
            m9ABZAJgNclPEJjkNBS7lsv7+rOS2ftYYQiITA6yKCcTvP2p8dxb0MSz9ZJ1
            TaDh8MilFbI/B+cmqHMdcpeP82uw50rb1xzVxhbW55p62DU5ihR4zQUDpO9r
            6rSliV/PwX0eXjPHO7abGvCeA/zTc3L+zAGU2ptzMD4k8KQ8720hpNvEO0g6
            u9JoZND4wL29EqWMc4Hzpq/+Nr87vTlSCPHKn4Fe0MSraav7BuHs85VwodrE
            390eSqUF9+lUMOXXsmsi1LtzL1Z67DmQCO9iZSeee7zPSWAjY18DXUQvF74W
            GOOir7Zd5/sc7DFz41LgP6cx87Cfg2N4n06GCo7xGA9I5VxmZnEbR4zdvP6t
            +r4t20y7yISf80oN4zprp7l2NffZSZKnmtZpggFaPwa3bMf7gjwfSc55ktZi
            AvIQP8gPAzXnj+/vJklt5pq2oCJj136f+dnzcUMQ4B3adYtALgVg+oef3O76
            u6AGrWEksO7mUZcvBjU7FgGDIMPB1u7G4NKo6+5b84TkP8ng7j0AXJ+c0c5g
            1ye8PjXSnN4FgjID4uIEPWK42oHpe2fgWhBQW5eeWxh7gIQ+94vjflOmXfws
            KpRD0xDsGTDu72uPM04zP2P/nA/NZ0irziICLhxYGARBMKaFdx5BbgUbF99N
            BECi2VL6kZl1cHPhGY9+Q0LnVE8eu6TJNNwsYYqySAqbgu/M+FIAN3ANBwTW
            jaCgKvMTnMJ/R/sdbv992e+cMibbvic/lxrW4vZmjIfnMP5xSqs4KYPiY+fl
            95zsDuLr5nKQac0A6U/Vo1CBgRaQJnTiU8ePE5RFy/ik1DqfwU9Q3NJvsuwr
            4jRoBphgSNiJ73Mc9VVrxtB1DG6SzS68ZMe/GWjHBr30rG5aLjqTLQoBmgy4
            zxCRQStUaBMrLf+A2MjNdZ1a3JDt+Mj2GwTLABQ1EP3uMCDFec4mfTz5Zyi2
            GLAzm7Fb+ywelRgZ9HVb9EA+TH9+PhRig46EB9wcSlym73e+CjjtGfU8s1SO
            7p9h2bhDts/u0ZjDnxP8/ju0tLLddy37vPw5q/vvvD9th5/L5+eyINLy31AK
            JYpoM5fcwF+MBO7r4sV2El5XJ0Gd0019gWCX22IxbqnvIJZDqqJ/t0/OrtTB
            /26QdB7SQSmvoO8OsKtBAxQyuVp04SzYPbLle2o0dkC72j+JAcgZYDnR9sBz
            6cSgyhftOz/7P/2OSz7IwWtPylSohLhXx79FTQmfYwX7xLtHfkLWBT6vJ/tc
            +AziOtLpsCinguCwb0BM9/GnnpOxR+nFPOR4bN3EIMPPr7jNH5XNr8GLVkUy
            S5D6fJqI7mFfA27+zPsVt4zqppKLMghgEFKP0/6A1q5rwMtg3dLjAD0nLs8X
            eC7tN2ejvAkUyVk0WOiz8wJL501uu4m2BXXXdB4/LfNcbvpueB19aa5k3fnr
            uh8Gna4Bf6cL2J41qslt7Kr4D0YgmEBu11rHnswajWVP7iBNTEzpYhQerA4E
            BGuwj+fL0DrMKIV+ztSBCm56uc3Ce3dwkPWOh4rV0gbRvV89Hu9P7lfu16Dk
            tWOuz7WXX1tXz3+7NrzXkpPkmdYK+53ygXeir/Lw5w4IKbwXngJBlNK4mEVx
            pXLhLjh+Quc6paBqTs/B8SQGzh8LFiuboJeX2KKtd75FAgG3eqMyp5zqq8nN
            w+ABLXYOHazQrIE8gmS+K0d3kifNrH3KwuKEwe81QhxicH0bSzBr+2eSoAzI
            4Qot0ZQuiONtYXCSnvpMfRZL0fAdd0sLz4eLjD8cWs0srTb3O0y3LFbu5o7J
            igK1qudv/QGv5wTMa4bvUrDQ9u64+XuXllDX1O7P0FGqE3Bafexr8mTA9b2m
            cG+CyNK+BqJ1ydm2+trX3DIiN4eBsbem50Zgqq/nZ9hfBFQySXcbhQGKMQmo
            R7sn1ufU+jDW1psEF53Yd4/FSCAsSrmzxirvtiLN0iQL2PCyBaM/uxkLH7W7
            hd1EzdAyn5fCw1bKNPi6qA5wUuU/qv1PF3MxDZeunDump6T0a0F5Tr+y5QSN
            IFNRLqyz2zjk9sljvFY2tA5YHrGCPR59m1oFB6GDOYeCle1suF9vrOB57p9c
            rcybHOLD1YZxqHH8g4+SC3xS65HiimuUPsIFzuNVds/oriU7f9V+2/lT7rNL
            58/P+es9nykg5Zr5c/4N9k9PNmTPq7TuzbmqK6gzRlofdPMd53bplfvuo56m
            C4SorBZ/0ZKem+J+RLvpdqVgMkFv7ZZ2GegNlok4+HnWHY3SxOFJt6UpYJDN
            TcwCsfr9Uq1IibyM2OpRYeh/+dOlXJVl19SjXfQ1V7pxHwWnnrlAfMc2HSGX
            s6dGQG+cw55Z5+eZN59Z8ViZtZF3hVLZ7k1YmLXJ1LkW7RqoRIXvHoLiCNpS
            cpcxN6yLjV+VLqn4mzPUdNN6cVk8nA1DFr5sGARou1zX0E9XYcFDNyLrTiKc
            we0CAVa2TkRvQsfzFPgwR3Ci2gazCKwLOxxW8KBPhnOHXQ4jrcEkvmihBAbn
            ro91EPge2J0BZxkJwPJW9hyVOtf+7dPNCRIgLs7DfydGYyVzIVNT4AOzFPgY
            BrkRtXtQIl8yUyZJHzDlfa5irHJafo5xglpAsnLU4HbrSL/C6r1wkupJfxL9
            A5ikmp+R5ayySVJk8vrt24yikaN44CjLVMB7+ntAORYN9HyGLpOKmZZh0AG+
            nj6WnEmL1LtNLpwnhfdkupy0iqX3evz99nuablCha5xDzvNLHIPmDq60Mb++
            RfotKm5EkTe3J7/2kxyI15K2b+N8eMWyI4QSC1Q+GQEkL0n0rMtKcz9pxYpl
            ZUSNIt2kS6frQ2KK5vtlYaJALg+6AwWFZ9YpCn/8JnOuz03WsJvkaDdR5GrI
            JtZ1qek6vvwJy/zcIVE5AGRj23U6xRWjBmot/Y1pc7FBkeXcTuFGXaRr4B4i
            ArlH243MyuTC3omhQuNOoKITvwudxtjd08dzlWO2rYMoArco803OczLEKeht
            I80HObsf39V36X6tmJvJ+/KlI2CVpLMoXCN2TW9OUjotnTEw7W6ya5jvb4g7
            uehUtI9hbkZKxnPSDwPG4k4d3HqBuEkI1BtO5471cx/PvAMnOOU5mTTd780d
            wRRoDjshKUuR3HGPA+9mJFAYkzKKIhUlUREVwxYXrP49gIfhF1LxYTd4uURj
            aNYHQyeS2BTjVpcGhAk/+amsu1d7Br0wAcTvnVx7ft7BxRTPVhSawo7k9efa
            OkoDc7PcXHIEjszN2XMrlbqu4TqGgSDjyUKpARqRNWhY57l3532BLXPn3n59
            AIXpHvQw2r3Kybmpul+nmxd7mN/1vnbPCg70cql+YddydqrdU7oS9vURTGcJ
            p4epmCeAV+L4KgiAny1ted3aWOfa46RniiI6+TiDwvyX5j0P9zByzqPczRrr
            5SErbFyKkmtZXDj4GvTMGEFOoVLSpGOem1oKJp0Lci+flOILTFOwnIuEMu69
            SxoULbBFH+g6TGkKeL1vpUmLAVZYLOJ20aUFdkJtmrsKGohGaj7rqMwShs/y
            0v/OfJn5j8+f32/7LgchxDktpEiLkHHVZOmpmA9tOAxPtK50Q4bJuqSCeZk9
            XKqwPjbugyFnuj8KlGVZ2vmMdLiVrFAbRHA1u1O/6ayTJKU0VGRS0gzPCPx7
            YxYUpElYsFdTPvwaZkEF/x4+33leiP94Xte50c+l5MS3/XcIM7+u2X0CHvjY
            3/B5/rjn5/vNvNBfz9F7/m18/F7P2vip8GYLF+yZjHFAnMOYwPcxNC5qaXRn
            5XTn80rM/aHF7mNX4tIzoIjwfjAZWO8wTTbFQSniXmVeNKXL0FnZb2w2+127
            f4oA7lsbATaznUu1nxstSByeBVyny60Pcc7vUHfG6lW0Pch5mReSx23pQJaB
            dS4T+efwjKzDwp/Qk8xtsZacjV1KIoXvlAsEmo72wTMsIap6yjK4gM7HDmja
            J3d2d6E9d+ebdx/Hzifv3X73ZZ87/3z4deU2mxG7yu7HUKMSF+xzHPbZ/Dg3
            t7sp7fe05zQ/v2f7hI1YLI/efu+8+eHjqzFUyzj2ebuSJD3Wsnzn1adhVn/z
            8dfLkyW6zRcUi2iaxbM8fh2nUmDoce2efeGTe1PKbKNM9p9lqDRTmiVKmGsI
            uoKRcEMpwSlkaKDXi+7PEMsg8zzLiNytZwnM1syQLEtGexglSverKeYUWywT
            LGvCXAigDOU+gjuwyAI2Qx8xXne5UnOnaF6m/z7uoT6o05lkky/q86nxdgqd
            Cd6Ae+O7khRvsKAB8UT/1fQMkCk1p+IT5r1CG0y+SLelKyoUpM/wnez02QCf
            58u4gAQP2TYKC3HmqcAryCjcgQn7tzlfX2fsoU/eW05aKCtp8XPpvMDrITxu
            Sjt+T/RRUXf+2oQ9wLRn1iukDa6DXp15fZcrCFaYxq68g2RGSjwpgu934PL/
            OMV0+jnMvwPdFOfVLyWf1lux35A4tXDRzaN8/NP90ljJUpLOAqnOhcDSc7/k
            BMUElAK9/9TAi/TwJWMiaNKxQJC9k0576SNcFLA3TOglByQ9LlHe4NUo3AKd
            LhAoePGEhSV9nCXOSP8yFjhiMeW8BmGsxPRZfOJ4rVeKMGBWx7EL33F7aGkz
            HRfuEBWSu0kgdMnhfqHjE+OCyi9nqZjjzDE2Eot9L5j0yPhwfhhLu/NtYz1l
            cN9NorXi+7LveCh0F/ve+L3a9+tkMNC+w5jCqtt3poqc181oOJbguc5p3xsG
            ezb7PqG3Qpa3ASv7TPgebqhERgIMUGhwsP7WvO2mMDxAZXcLXeycmxui7yqh
            0cStWCsoNnQR0CJlXiH1JdgCz4VdJmu1lR3YK9hFwXYRF5MBSKY3UJ7QhXbK
            mmT+1XVBnGr3MeOKWRQywTUeZrAk+56Utqj7ebDVCC59iyNSeTZRREIsWU4d
            xn4sRjSi1KcAfm/ZfM4xGEyKeXS/Dqzich1zbuJlyhCNoMmQALRlGmvULRP0
            H1hdg2NSDViF5Vvde0/9kVmROYO8lQWUaiKDidDkchJ7aX5+1/kpkhvYe13i
            KFnpWAc9sQv8tK28vQsMmtMgbI1B2W7HJwP5cgLHj76Ee9KDgAnprV4WtoDq
            Sj5EWa2XpmLIPFx/4OBCVGXbiyVFJthgzGWeLd0nOZE9ENpso/MKi0wPKZX1
            hpeH5NMCpZlYAYi1V04vNjt2BZOQQ5PSLzZVm+41Au3UAOMyxM2hQmwwTfAG
            6YZVeUoZZG1TWswPx+djFX61PCRSTEOiwcgdjs0ADpWCX4PJA5EmKmVlfD0v
            Xoq+jwrDKj/jPOsQt6PNgufhnJpOnAPlAKpbpQJ8p3bKI3xdx56XejJ3LTIW
            gP/fuxM352ox44tCHHN3bQNvNi4Q2XVhmPVs3d5LG6aKm4V7tPzjbyooxHs8
            0QLz+K6X03WD4Y2Mfys97noKJKQWPRCt9y0MhVv8Ot7L/MFdZbJSpSgvjeI4
            IbB2zgwt6FbhgoUoNHCmA89SZJnmK2BClmdTsjiQjsX1pDZfsYH74neUlh8U
            IYAYyFaeiRc9wxeBjZZitQWS0wMciLuL2fQXiIYL4WH+42TyMxVPLCCJio6G
            dFR7nwRpfzB+VUgLeF64RYzJFooJ/Xx26k2JK0GOPIyPV/evdyrkTCb2sIBl
            f7/5PXwR0mPj5LzFSzkax0u8Z4uN/8zTv2pSSqOIrEzGpcrJsXlM8MPRxpJv
            b7iCJ/cyOZpzqMMV5NAtAL053uUKNj7k4hj3yUIWMg2r5cNcGwk88p7awWqf
            YneMWIETMCV2nQ9rdJvCUkET8plEEgSIY9xyB9zpl3XAaLFYMljPCqrXWJtN
            KzKe5TCUIxBC9+Igp7/sMrcvHYH2krQ2nkzqhhFmkWh8F+vlvc+Axb9JDtCP
            mWWz2SdeFnxvYrsU7ASYeWAC3YKZlZntlvEaSLiRcbIaaFgxLZ7EffLvVAwH
            k6+YDTPAsSBDOh44bqaUXgwuKZIv9wNegyUg82TNX6MxwCVJdI81mJZlhGPf
            k64Y5i3oONb/ndfC8soPkTAzRln/5VL+5NnxXNjkdfYhRRXvAQIa7lTWO5ET
            J0YhwInPqYDnZAbiOOQiGcEiV4nBdypeieUJsMjTjDBYznJRkZEyFqUMpj0I
            7Yhsu0Cl97hZVBAN+mAny2+ZHtl8+QQc7j2OzKqS0lwp3l42iheE3Luk/OHe
            iaUGXJRC5SpKK+/9Gd874+rvjjATLBvxMNpipmEM7k22PBInRsi0wUxzEgzN
            ogDCxDERIf/GVAUS449NMCHS6BOj5sjFxxyBbZv44oI4dyrjOff3ETSzPzbD
            gTmBcR3W+fr5WKc1PdEo9H2c/ivcw/wnZv1EZukWWT1WG+/vnRk1cK89daxZ
            SaRfugMeNyYIXqKm0Z1AbmUW2yxUBzuW6Uybcg7oyaKeS3GhqRcCJZXy+c4c
            3P29rkdByXZqd99hT16QQhQ0gadYt3ZiuKE1M0icCnO1obRZfIhKXqVDErLv
            hgweLMGesCc9g4uybZ+7I8kh3nohykHlIuMTvwPM3kTcBMrWd/xMXa6cw8i0
            Bih7sOa7lSUxZfCKWjBNNmRG87wbsdNgAb4Uyxcl0dHBeDgpabD0bOYTx8xz
            Rh4AA2SddUqGNSg1I2MPdWWIZbEP7Zz1rewUphmHJoUMclw8O3kG15NtxTeP
            H/75arFYAhUSNvNaUqvtYq1un16WZJ82ZWCvVMZ2oOyVpPTtEqDosPCdedxK
            hscuP0GJJ6PTjO0zj7uqQirQegjFNHrGMGQ/UwwwUMkknsfPKw8rMy+GFoxZ
            ZTCtgglQ/imYjT8jm8bMdBkcA4vPDtdxKfxwXbJ9yb9K9MQm6iG8lkZyjO81
            Od4glOAxrNSGvp9mb9OuZiIPyYiEOZkP6ooo5ggKpCtpMP5YSaJnw2gGCTQo
            H0wcf25SFCs8sK1CqErKPApzF4LKu/FE7AR/CU1QxGQspYFgEWFSMcdQssEU
            KIsqgsq7De7Gy/oOVFrAD1ZCV+31MXNIsU+2woHIbHApDMYusFNOoQh4YQG/
            tkdlOM8P5w9zluRhtuvtLFz8y0OXzXhI6fKdQK3qcG3MPjHmZHU13Bn9tri7
            qhw8149SwDLuT1WDyN9J55JC5LQXB4SZ0slMjkinH0ECBKs4WSZZFJ1k8l2o
            9x1f1XqIoqH3DvlFqbFB24LlRUeJqdExKQ7FYPl4k1KDYhODGtpszx1Zzn9F
            huDIGieEAcPn00PGYbiwxZ7GEuDNqJScRQI74+8wIzp2PgThBRaNsY14pksA
            Mj1MaZ4QzLhPxfjiZ3yHj48pdzA/ju4R07aVFoapL9Oouye56hOU7r+NA/ln
            lC3tzhy+4794puqNk70nq7kkl6Lb7HiMkQArfi1AYicXf4C//GDZ7HFhRu4Q
            ok1y8PM5yTBRrzqZakUJqjhsb5cWInHiGAggVE6lw3HZC47ONO7IY3px/+Sz
            GFXJIkL8rrs0B/eonhls9UwDG6Mdfqzvv/3+jZGsMK2msnqWsH8e/1u/y+G/
            k43VP/U7Xrcd53nFz4u/fodfv4+fv8vz83eAikbXp/gJE8lP0MCkH/26is9j
            uv3aaWMqxkJpL+Pztk+cN11zLPTAWWAAJ5nXqOflFzW/iQcHJrY69Sa5FsPl
            Kji9QWXVh/wx8xiUwNvOjaCdJ4Y+abQfTYUW+I7j+b0PiBNMgJYTnahL+cT8
            3pljcdz1sPse3e4dmf5dv4gJ/O/a7s2D0VWMJ/6dqJQW7kQVPJ2cu5Ae6rTZ
            tx9P69fv89dvD7SYXKp7DqHk+O/+63f7db0T7OFzn7DIFRy/eqLw1n7vZXbf
            tTyQssvGPBs6u3bcGZ3uHyCg6nbl5thn755I5PdZt4UTYMcqcO1RDF3c/PdG
            2dlRmOU331GXjfKzozIbJWhHX3YK947O7OznuKM1x/6085LfZ0dj3qjLjtLk
            n1GYHZUKfUeFdrTIP/3vcY/XozSnZ2XnbpNx+mSunbWdf2Zv/049f7O5d3a3
            /11E6Vxg+O73T4cWGBA+ZPN1RheVVKKsEA5H+ISqgMeSTciM9VT7Kxahwe2E
            ni7laUDfEJe1YkUl7UgRjRQN29N2HeZpk4iQejUGnSTNuUBbwg8T61YhRXvs
            JXTiUCEfDDZ7oX1T0xeYY8j1wT6A/glV0P4e3b2Hz0nQtu+XTvbSsLV62/pG
            cM8TqyqJc0AfUjCDvJl8I5zEoJMCqhKrNMdO36r0UkFfYVYTa5RncwQ4uj+n
            +1rdtanvVR4tPBHkFd1kMtHSGcEpdHsWFb43qTjVxSOjTnWcYtO0PeinHRCh
            aZgSSD2m1CDXKHNHXVwJx4M+cKakOBdtvcYtqxPj0T2BKwZ6HSK0HiifTNZg
            EIXzjzE/YtOjQ62ibiXwJByXzg+9KzK+PvU38BMQHY8zGaZwbCQQ1nDDZJ91
            gBUvuank3nR0hKS0pCtmaryJYDWsH8ZbRyKa5HQyZEivPqR+zi4m3FHPw2Ct
            nbnbJ+sawthp5pjBGu4CJl6blDlOyCFgk6ZsKdYBllOTJWiVbwcBWOopttrb
            hJ23NovVTjGzx5xdTowsuiHBqBCHrkn+DhIjNPWg+JtP1T97ckKWL4e7CAuf
            ol0rHcJFQHSZqk+8d3w+mjuNdEizRbFE5ZLj3GVtJAQmjlAZexVV150wwSu2
            rTdIKZXCjXtNidSvGhPWnRzBRBWeo3cQkU2ZPWlXShGxC0QVcD9YV9wxUYaj
            5VeaMnikvSG2mRvNNq53Gsx54kttdryD2ZttVi+S2RU+VzbfZvTfgXn+jEtz
            LsxUkbkyCFClNCu775ZpW9Z1r/g5nb1iblReu4PzG/TuzPvvbhE5mNwrC13m
            bZm4ZWXoVmnUzGmeJuEDm+KZZrpUxkQZZRiqBSuE05ATvDAdXKGfPndxOE6I
            5hCX+q+sHyYqOlXSUy0vx+Q21KoPJVB8Hb/2cWjcPVkIjsex0nPDl3B3rIZV
            jnRaKrNoyCOD80qs5jO0LNz+fb5VmGqX1NlhfQk3DWMOl+qGw7422TWM6vO6
            pzz3vDt18+HFFTi1kk3K9AF7TTyfeXnYtdf+Hgi3IEw4jKOTHeN6op7g3Squ
            T6cVzCtIQISO9NzMVlmBIRLqdtcxt4yjyYmxXIVV/eAM6zn9XTq9g9gsoGAb
            TwS3+v2seP981ux4J6ao8RyGJcMmgVMGZM9KLrYJl68ytXIoEN3oxBySidkW
            6ghf5zMQ3RRL1APwTLuWW3X6BEelJOuFCGDE8zp4XLheuRbkzh+H8vQD5dXI
            dVxWUyg2UR2+Bc8LzQrm9Bm75fdDNndq1Zbh6+McsPlZDHyl9MjDIjeang92
            25miTtZ5CxdozErziRovLqoNE9ksU4LuzR+RDHP6d7D07bRgEtq3tgrV38q9
            Pe66OYPgK8UB7BMqt3IaWYI2k+5ZduYHjs2xZS8IQuyvy3EkiEHOHYZKRYb+
            hllUlieMzUQ8oEGCwwjH6dEgkjlpZoK1Rr6nkcAifCoPQjHR54pmY0KEMt1b
            /Na+1+P3p+Kr0RIhhfUhGYiBNQOU+plecpY3T/DrOGUHWGDqz06429/r8fW5
            jOso2ZFByf/vyfGwHYPlB7GE+q6e5QGXod211p4+chDay5vy/S1voSSy6M+0
            2+RKo9n0/5MFBJO7SmtWs7ijJ/SgaUefz0ml0RIILNTJ4yDqs0Xj4vvcDu7B
            ampM4gzuUK+az+beYMbgDr2Ysnnq5ZNNIoBeSPLm75L+B5POGpVyQS90wRvN
            W1N8gasQUMGlIeAfMIGlegGaClCcuo6Hm97PIAWMn1DJdB7PieRasnGpKHjI
            TA5qB5sqhfXP7pWjB46mArMj43zCWI0gLHxfXBJLsPfNtzx33fCM6U2v9DQr
            1yBSBnNBSoSQ9kwPaokTnGaypCox4s/3VD4W/walcrp5krMrZXwmGTWr9AJ9
            ApM2ugL+TLdIfOazQ2k4lMYdlMvCeDisijpZ/n3TC3vydWGvE8Nt0m7vi05H
            Zsljbma5KIJCKsw+CxQ9mFRsJCOBOwpptb/hnMQ0NapHWysDW05yZVKllJxT
            GndcmPB2E61FWmzqG3ialVJED/UF9/tWvw66Xaa20/gbRImpBOuhA35sx8rh
            cUs8vW4Uae1Qptri7Rdzk6ib4XXWd1alpfBzM1rwOG/Fq9h5jBIoR4ypPszi
            7H5+tvNT908PPl9+v7zv53/P/vexS7m9FH0rZuZyVSl2tL87NDaTJjmellSc
            fWW7f3Ng3F1yDgln1y3zbR/+HMxQtaxN+7x8/GHju/p4Y7bnXC6e6DYaO9zH
            pMJGcMTlDpBHSBiZCV7FFyWl+lzQUbUAWeksqnfYi0B7bgZjkc8kShnxs1JS
            8PiSDAaLSoxaz52DDtpeyXZBV8wei/wMsy2Z0PdU3KdSdbb7BKnrtEMTUcy7
            ZzNi83D3yic8vZK3dZajBdspON7y9+8UW1IOx936VIGB3Z+7M44zwvYsvQ3Z
            sMEVysPGy/xTUMnFwHYzuJtFXFwRIu5Ju567NZJDTIE2QD2jcedzwXUGD8Qx
            wg+whDYkn+MfiwKzMu38q0S8O6hMgxb/wfTY22IHg1PxcouXO9AH8AsEAr/5
            9yW7v/JZfTGthJic3EHVx90sGJLFnchyMnMSpJ9/ZU32S8WVwtN5mKPPMhIw
            PLrznCDCeW/nSQZP0oSczKq4BFtE/0o3x4FYvrAE+DdmBxa3J7e/VxptvuJ+
            pmrXNlQKWbVldB58vudBaQIyRVf5aUM/28p5LIvCQLApPocUQFY4FeYCU8PO
            LD/AfaYUKCm6DHTQYcGxhmLvkS2Z8NCnvwexfMTaedzt8P0esvMfwUXpPcJp
            75Eue4/sYT/ZyWe9GdwGcdJ+xaqDC/r12a8n8ewxsbITE96T4TNIh4INb/qb
            xSGESxKfr/WUP2xIGaYGbyQQghB8yESSD8gpjjJp8iaJVdaZGCravSydCJ4P
            RTaVD1UxEYDxZgzpR9otz4tyYGS5Apk3pRwpw2b6sWgw/sf6UHeQM6YqQmPI
            dzRlVNsnhAuKqSiMK0qdab7uYNmE5qRYn7HQHGTmB/SHc1HeZm7uyoQWyEzm
            0RHsgukb9bzoPcDmlxjD3iaxy2mQ5Na075DMDxFk/B7D72HOEUfI5n8X3sLF
            0St2trjJP8XOWlssmBh4dszTHQq52Hk6cD/PFhNb7O34+HIOEFWNZdkpBJWj
            zZ19fpm9nOkGJbXSa+YO/SH2FZnSYTI8sNCTEHBUjDCNhe7Nwrovo8SSn7MX
            JQTQTp7UFTLz+Ux+YyQg2hSegEWX6xB6ibI0ipL0pNHS58BqIKXSRKfU5HV8
            2cvKjJLN/VlNM1bIk/XuUXgpSmj71pxb0O5hrvDI5CDdCWn7Dxi/Pj33iXCK
            WUiag9kUbxqORDv48g5Q+Gfj/mEyCOl6Eil2FMNg1TZT9hwmsd+Lzs/AValP
            VTzY82ROZjex9hc2pZnnWXpT+6Q5lNQZ1geJgQqZr0qyTMZvun8eLAvMRxuK
            VVI3CNr5hLCgJ+HhtmZvDn7ST2YFaIlAlQSPvaLUesbvGKapOl6rpe6zIFnn
            pc95QlBYSl24Gc2jOMQLTR4r3a7b97/Lz/vLRP66R83PfR+7VNiuufp/vqY0
            e+5N86OGKVzXZcFvBakZjIXeS6OcnikDCFAA+eJ5oFoCmrBkYEZ6pLo0ZuLV
            E6Or6Zz8OWdqLKBsavoYKzPcp+ytyiKuybwduukhaJ8g8Rroj4y7/CN4+fOV
            DVuHbNoqRr1JSWCNqZCZyKIY23ueYunuOTdPN8hMbJGUtH0Ha3uyWkHHRhX6
            I4+r4k5p3lWUAFsswNaXGsU4y8iYxvsaYgynFXYfl8VZlOT5PJLwlbHL0Rwp
            F2cvoWiChOmR9JQFZiufvT+0Rz2DV3sJVIj13CR/vMm0J/FY/n5uxxhP/m0K
            MmdpnPwbdwKeAQ7yKBcwX2ntzOSgSD5/k4ndTLDVPfMlquH58b6UrRwXcxX7
            3uu0OSILC8997Lxo6wohQL14trcdbx6ChVkCIQxOPz9dEGyYey53wfYsdH74
            366vv1Uoh1C8y61Cmcw2LE/6yz2Yfo+5fX9jb5A9X7m0ZOrLrbgZb6ZmDMGk
            ZAFzdTd6V3UOJoOYFESPNinjEdH1SUYlHOtKRLHmCyllrTEL+Nhxo2DW+uHS
            lA4rqXT0kMP4euhVyHbuxg5zS/yV5pvsH/eqK69vwKBkBtrw5NdD6RRDkVSq
            Md0SZGnRr9hOqGSG/JX6rsB/E4fiLtTJkpug6exQCZ5p7BnESvy5CPezE3eC
            1wq4a2CVenV1SzoM/zObUs7SfwKIQ39kbsjxHiP+Mp4ENeZJLiWZnJKc7/Gc
            TnR3pncHHSPoK72yhKv/WMfXz2uoZHsq94/rxoSEGz+t6ve5Jskuq4Qf2+lH
            azsZ3yyMQ7GYkvPPtHQQwYXJoGkjQ07lbnT9y/XRYmgGHjKO6+dYOcYizOr7
            4D2p0TOJGKx2HCbdE76H7/tcRRECVSiTKLNne40NF+tNA6onhVYWIbcsHUr6
            jD9g65qF1bTk7apqORUMUsB7uyDuhZft9TUcOOiMieXxunEh9vECdrYEz3LF
            X39LRFdaAj3782/N/raTLv98KWgD5k/byUVSyOUwbOZjC66jyl1Ag5w/6FU7
            VYynbRW46lBDGFpuzKLMnGeYhRtiT3VbeC3FM4yiFbalkudJmpY4qP1HUDGG
            UxsdR/2vf/fypumxhUBF0nPlL7y1V4NgYEadsoCWSvdsZzAyR13MYw/XYImc
            TVJb0eBzWNAbCNnVX1iTQZJWum3U1pErkwikT/qCau+GJhIi69RBu62/kB9d
            sMTCfPccXrP5MlNZmZm6OuUzyyAkHcI+dtD1yD1GqFEGgHtcD9710+iAoL6C
            01AyIFRdMdGitNVjI6xntTLSTuKOvGL2NIfIqSLmL/TXwWP8fiSqvSBiclIx
            G1ZX0WdqPrq4XJtUChBj3XV7U0R/lY52DjZCqD1X4j1Ph8P8nmoQ33izFWkM
            c1JuIxX29mLUJVKNX5IGoOnchQgZVIw0xRBhMI7BGjmMS0lvpuqrCVuxYh8G
            qXScpQIxejbkoBTrQnphF4VOCFpYfRVWOCh6M1PiFVesOcsOmC1/gfHAkJqU
            PRMGE6mMu5+OOypfBMJmfi9xy5mfO5ZBdTxfmeNeBdgFxSzftYznrkQx668i
            ryYs3wmFi4iVBozHoDV93iQUiOof0szvzRRXtuBgTbFlvXeKaaZRnedbIcV9
            czK808zm2Z58iN3WhDv2CS/tjmi7YnqYVmgQ1VbkpGCvF8qkbjCZGF4xMB0T
            814Wk6ewM7ji2bzhgasRJga2hDYdiU9LLHz26KAYkyd8ONbcRf+RNnqQlY+L
            vG2DmMUi6+VeTBa4lQOJ6ZEORU6UpqA8jLidxTpFLiNDF6fXJRUMn4xiUtfA
            xph2PoGVeb5SAJT6iHGJDNlP7lKeZ1BuKO9jWXP8DPj9BItR3oOKGo7bvZN2
            oN//5P2z3595IkwsEqfGgvzL55wuEu8qXJCLnIJzofdnfYmnL8hNRv8gTRd6
            RpTRbs/fc2wVzqowa1roor4hnXMjMVoILWRjFzvjXHpAPnK8ydZNagCEDEhg
            Mlm+Kd+E/IONXqjN4kJut1Cl2a6bSbV5wziy7l0VRM93nI526LJSNtYzGHZ9
            ZhZ7yrc7ZoNNAtabrhDhM9zCqK+qALpVTYCdD1uMUBUpRFri+uzku4XlB8Gw
            68nDwdrYiOFXZfavYhRufbwVJ+skqMk0/q+ef9PzRyx88pFqzD+pQsQhPmuy
            6nArd9g77fIOTfEN5hqWw+1FuLcrlJM7ra58nssFkOf2q8TcMfLL72CoJdiM
            vItWXVc4vbZhePr6N848q0U23+lO3YzobnwrN08kzkNSAScrk4yy6I0HVWpn
            GfxfUoPO793leooUVmbWgxLZNMCChqyv6Zmwlh+PBITHTS6yIX6h38F6V7k1
            wwVMeU8rhV1MOHBT/l3uJVAQVLBFBSgSjeNhNnQ7WP4dveLmJquCHcQOB/m2
            LJ+aaHHW4Y0ICsaUblr/4ntFwIfZcHblMYUkb/fJQnUIw6Dr6CRkwWNi8PA2
            4doLmFVQZW0xk4LnMkX3X5xbi5q5CnnGdJglxDIjO2wt9jopxeuo62VS8rBq
            TaOE2jcuTNhSO5vUVr0GyObqHivXzGdBkj6sGdotGXgD+h70NyMV6AImBa7h
            tCkPoiysDy3KnVBhW1VYY6CrQr/msKiF0UQ7Cv8FQ7LBv2vuTHrQ1Tq9+m1a
            rLGAT1BdTVBmygmt0CzKouJq9qw4MaswGqiBp2VIMoRMUOLfaUaUPm98KrCQ
            hdw0i917p4Fmd5IzbUiIU12uQibsacy9sCrgpjvM7nn8uie4c0kqa0zF3tGK
            naO5EfZ7ZyJDT3BeXFa+nOcQfksK5HENZuwUd0fKXYrvSh8SxlxUJm5nlaEf
            C8nMe6vwaG+qEUmOcTkZfknFYk3FB4UJLnJZKgtYiQvddLXYn0sIn1y3g26a
            Kpy6ZU0YaE1gX9yEHJcBcu4T5T+gWjZcDHotj/y30FrJualcqSqOSis7JbkT
            nS5jyO2yG38U92JtN0NcPxOytxK6C3fP7jFJJ/Ndqfbswt5lnxeRyFjU82xL
            alkF1P4k48hccc8wpyao792/exZ/WD++nzsDndVkP77fL+C6vuf93dM6wvPz
            ezw+GfR2XM0OksSk7tV3CCbac7pVSn9l3u932b6M+sLgeCL4htOBZNanRwpa
            K4LJqR5BGM0A7ov/HZZxM+QbjyiUai2i/PzqyDOnB5Ih/PJ3NfYNfdyizH7/
            w86fy84v7Ccp2B77e3mMCLKPH0Rn8EPLKv/YaFm/LdgkALs3TKEeN2z9QGsy
            BkkKMnPqr+FoNDG4TRMhT2p1eEZprKpmZHJ2ebKo0hxY2DajODTNaT5litGZ
            zaP/lg9e9mwC2ZelBYfB0RT2uZSAjGcWgU8ksBRsQbBK5UhZce8wL+n4AXSR
            otCL7/oBw+U2/db029d7L+X+4p1ZrGUQP/Zcg9dJj7WeG90KjeuZlMerEq1u
            f6/YjGMSwJQ936KdI8eHn6Omz5ZNzyT1SVZG0HuyaMxTvxkU808cH/wssQ0W
            uLjuJUgfpo5QbdnvDp1ttK8qdVhKl4P0sXeW1pA+Z6YDpesqLMXM8bYWNEXR
            +SaWwgcRWueKZpwPtp7hACKRgBo7z9BEF+oTZQ5NKULikD1Vg1c+Fa2nv1PI
            uRgM0zMPb9sgqWs5SY7L8EpdCwo8hHi89v2I1khU42iBVAVyMUWUL4JOZlJV
            H88gOgxsP1qU9I8QAbdhtz9FiIEM17Rj9w8hOjK1/z7oksF5E5zOO/hFD3Tn
            9aytiOetWlmxsVm/MAEKnfbJ45KPJau3R+qKYo/Yt4pjPoxX0jK0APpbhV3z
            xqByX9VpO/3eqSnJoPiKxxQJg2bs29g2DI3be708x5diciYLRklLZMVgiFZu
            8ZhL6Tw8KN3b8OKrQqvKFG2CydIq2MZ/9A5/x99fHtYGo+OJAdn/9PJqmYjt
            Q/i7674JBn5SSLr/7HnoVIwE6rKSAzdXBSVwxbtFtaCORFYw0PRh1eFte5aW
            JY+N6i+XpL96yikIJdqkZJtH7s6upLGgNo9rZwPw8ZZQbfMgLIehNNhFFZdA
            YHTrHHavhlkoypZ0qEKKwu4u+hrC1Zki6/pzqZYFeB9fHdmW7VJ6cDlXgw4i
            049jULEZXTPcIFG//ZzQ3sp4VtfYO3dHjZFyg3kWMDTR46EsEibAnaaCRZDz
            Vuky03BGSxI4qnWwYcJ7M81oeApJ86zBFjxzwLylhJ9m4Iq1L4MoZDORSzSr
            b5W7DZ9dNQBKx6QrXSpRpw/Fzpl+DhM+qHFUa23La08dr3Yc9z713WFzpPGo
            1rRZ4jxZI3ctA8vN/la8XQb9ZT1AdBhMIbkb4zJdOINEUcZnuexcNjLBuXlf
            m1lAFiSXJ3GpmIUZuCxBLbl4binRji0/Rr+alWVy+fZ3Op8YYX3HUIniRpZu
            1Q4/iTndfydmEi07QoloOwsPbLP24Yl/3Disj4S1rw4MBonE4tmVvggStshM
            XE8zUYr81aqn+d4lA8bTIQTcP6hWmAn+8Hqx0ZNxiN4thYP6Ap2OfvzQQjNM
            E9vk35kfUyAKCoEoQz/St6/YsKOo0L3s6m8cin2a9rhI9RoXiLfQGh0F6o66
            B82bn+Ai1vWZ5ZLmMe/Ti5yCUlmsE5cBi8zsn90/CSyMySMO06fxLv0ZBssN
            Fc0BSqqS5G3c3LjU5Qh1ThzwSseVtHw37Uzx5ByHZhiX3+JhK2y0nU2bd0Wx
            LUfYsfPWpV4iz/yVmVirK66uwBavSPyl4Fr6WSnBIKU9PwbbOhnEig/isYf+
            oFZfKCsI+ueFyuPPhSKu0d8W6pvFUp6zCEa+EJ/4Hzvl1/M2y47XW333k2Wz
            rGazXegN5uow98h9GnDHt2K6uhNaN8geux/GPAtDD5/7Jb/fcKUU92P9kghl
            7rygz33VV5zom0X44tPdN0ylFn4j0b35FFBSgP2r8wgz/Xt83/e5+9d9+j/f
            pw67zxuHyLyPkYD1En8sq53u2sMnoCRT6Jb5jzKRNYn+foQ5GR3NK72pk8QJ
            vDxLLllVP3HK6UCbjN4SIzH5fQlEecO6BSGAyZQzue+JuS+bVQ3lJZniOQk9
            o5gNu7Q2dpEnKP9gxr6UuIF5dw8mmVhn5wGHWtBCnx41JaiW+6dgGcy5IXMY
            ZxvgTATi8IQ6MnH8br8DG5r8YpPP7qKbQNL4c/KHNWF4KwCEkAcChhiZ35YW
            S3CIBnfIDjKUOPro1HkpTood2qPTgkWGSIPx35aDZ9mfzIndbqyNPHN42+Fx
            WqfV0xVwNQxgWfy5opFAo5/WtPJdWgitcp1kWywaE/r5VcqXmFCs4BHYCIiZ
            XlXIQtxz3h8b275LV3hD9I5jyPa6Yy5DYlEpRRO7VPByDopoae5yQE5Xtn6a
            cuaKpleHGG1WamdEV4tp3S8s4S0f/mUBWutTrh3dC510rVxS6u7ieEzVmrx3
            LpIpYFmhvnCY43Nfy9AlCcV/h22e4YxhVQwx8F5LoPD2m7I8sHXl/MrSnJTp
            brYxlqqmLY3VBF6xwJpaeZBhdF6f55O7L3MAHwIGwrXM4wahyAfSDPOkl/zC
            Lw1C5BBHExubsYXb8t68HYRNohYk+E5pREY7dHzb1/fbbMbYj1iramCo2DRX
            zAxVVX/b58PIGkllG/IaF5orr5lmXeeWA3ZdtMs986myqBu/w62OBOZt1iSc
            ZbC7NPHu7wXj/ZI2XUnHhJdJBMvReVqklkAvwz6H7HlGi5PSAeowr3bevgDj
            Jpb4js2ioJtcre6IIrDXcYnTHL+h915u4WLIMDDysQmF+hYW8l04LGJWL1Om
            PFhZUKDJTP9n8bqo4DVRbKoDzvyEwaIBUyzL9iImugKv+Pseef55jwzz3ADX
            n2AkoLCn+Wa5gFRgFhMBlzkisqG2vZTKF6AsfQjUpUgks1E445TT785glCgI
            VJKadrYdynaMZEObMNRHTC1E2eiW2r+lrXPxKCZCL6e3c7r9ntx9r4nEZ/Bc
            UTlByrO1ltoOn6gMc0vpYEL2qqG/k58uR4WNaqg7h+1e4lHVwzIhOEbuO7+m
            CkJ2WqLPDx9H+enjEEFXdXDc3ETzkg8zx8hNdG2xBAhhNXMZuI5ZDazH93Wh
            f657uUBjQcX9Kobl3v4D+/0qhq4APsma/tb+8RCmTQJC/R9fN3EAse0W/S1T
            sChFOdZe97LTpbfTYjsztvNia7MbW+rNSWFZjLWS1+T8ZKs/qXk8f1IzJu+O
            WwegGRsMruFdZHKaDffAIIQT1eZqs1iEdnOzPbkj/ty5m422w3Gk/wLTR4wE
            cod+/Az6bCW2j5+snzG+3r3LI3ak9J/LorLKWWhSRtcs1a0Qq3d2X0vPBpNR
            GD+jLyZ7Qv3yZHiOq5tI05h/RpjdKwodxkhA2VxWsgHGX+KqFlog1jJ37ylo
            gcti6eYoYllkskq/5HJ7vddhoMLTwMvV216OvTW+X67nZ7VvJYv1wNsLh4Hp
            HMIWkGbx/Oe0FgTRY3d8QVUz7kklMurjOkSwlKR9bwUZh1huOb5kcoJAKddm
            o+4lDF9eQnKDpBDfH2xeyJHlCpvd9+Mn95N73as4GUVSdo5zyHIYt9vnSix+
            cSQpmvl5FUb2GNl40d3S+1ROssZzvZwxCE3t7p5TCs49YdzSW0nrP+q5AjRz
            Ux2ETTC6ZMWpYLUchRahK/fqqY6T4fkA4WtCx5Stn9cv1ijMh9PxIKfV4Gz2
            zP5m+zvmVO7fZo1qx6stbzPFJ9UwMD478VV6XHaCVV7jo9RhlJKvi11+PWKd
            mSb1KkfJlKPNCZbb/Af73nar4RFWSPypeRfuTDKzr2cRXYHPCufnWd250kz1
            VEhxfsn7dmWmSGXDpixCZ3AkWfV0d3HxHXEHIYYdeR+s+T0MY0MOQCUbr43S
            dz1iy87Bnc2nFwnJciwuFwN596u4eH6zHKayrHncW/1yPfu3FWPYfwRJUpML
            IuWpFtIzjl3u3mwKvRdwUyWTYxK7QBEWI2M4WbiJ964R6pbOkCK0clEwdAqV
            tBJbOubtlh6U4wTmFmy8pQaEP/QF9Sj/0gtg7wdlAv24X4V+Nyi7v++HY4G4
            0oVcUKA83F2mFJ+LuYQfpTgFS8FU4/dkjd+/iXib1svejd5JEbOKJTJRYc2s
            jm5Wxy+zmoVynyyGce5YuDbWkii6t19DyTpDfo1nE0Ywp1XeynWDae1ckABc
            t3Ic40WU16DN6UbhdctZ61mZp7IytTt3ds4mCiteszodK6ZQ7dUnZ4VZS15X
            hIUPhKIgG6/kCEUQRGU2b4MtHUGxAMgazEgh9rs+9XdiJ9M9W0bo3bA1hod6
            qxIg4xWJFa7kQdr7jmX8ODRTUEkmLNBDiQfW6MPHk8BBrLLx5xhGtjEQO30U
            r6GijSA0wWa1VCSuroX/oAjRPBFqQtY+JA5LOVXfykg8DCao6szYZpXhZbUl
            qssQIlA9LFma6RE6znsmRgELrt/grETgN6R2NsPzRCXmHucXLSJ1R+7B56Xj
            zm3rRSK253RXSFmJ2o/lXOC+i6DKILuZtFAJtq8+AbUR/3Ue9VGTZLswt0VE
            SwUeiLxlOMfEnBwqImOZZ7DgBfPyiMenPI7VmpdQJqYfOsxQtWPN21y3sttc
            Y339O/4HQ7oGjuMmNggzZfCEpVYAjbss9UPyXI3XC5EAWeLlEPfBUBNk70eC
            rsLSySNaXCIZnESwHlKHw0HqeKQzWa0XhLd1Vydea0WQ1cO9prevu5qd9A31
            xBrgYItghUqCY+TOpRO7qf/FrcKkyhYE5d7Z74e24655fs9N2nR8GRUclbqt
            p10K/BUiZ57iNL+NLj5Iyb4R7iuUKE7MDXUm9wtoa7MWV8CeZBXXZwfDtFnK
            v6UIjF5jfNnCE1AtZ+v/JHh6ogYUJZoLu+QM7q5lCeetKNktrJGlSN/PPlEO
            nyi3MgzAFesQkvtQnYNiDtifh2IMywgnzg+g6c5CC55ZRrt1uIa8tWiZk18R
            TOWxg6AWwVq/HGOJqExHn5TM4hLp4nIbNwI5k6CYyUHdie0SlGv5AsIwlpqO
            07oy99tr39iSmIQwHTNECiP4ymlY1b0mf95pHO/eNc6EXv46F/+oN7yewPoB
            OlfAeCe17IrKbRKyaMoymz3tgAUxd7RIYT2sfSQx6vyP0aAVPWawLBF/x6t3
            LGH436fbn8GxtsIvLK8dwFB6uTC8PB7u5z2P1dsyYV/nZRvHLgcdjmpe/GXL
            hnL0pNKxfNxRiR1ted30BmfrhoaUlnOXRTQl65LidcZyxbbd6OQEAZzsMke2
            36WBLxb37vqU18KYCpULWbDcZjE9jyMyELmU8dAuU+95s4pPI1Z5HYPs/deU
            +ydCdfe5usec3EiyrrDprNDpsE8Lo9PBxL/dBAW985OGgdZQfDFXgWg0kSVy
            UV7a7DGCyqLUA9vG4PnpIj3SBsQ2TXmjCBkUcCQr4svdgQGAlvyhRLxWWe6L
            XQL2uc+9mLnjf1cCSbXaZGKXqz00u/x+Ddgg7hW8YOdgWSh/eOEcs4sQipB/
            q90u/9jXaMrbdtQvk42/2nAxRrfUox35/OZIDt0lTpYLlMrq3NEcQgz6ykuY
            rTL4YS8M9aNezgWnJQS3sN3lD7vfzG+OOIW+oKaz1x9+BO9NUQNWZWOBJ0Fw
            yH9RGKV8DL6ZrL1+Nc8VUkT/oAnv5E65YwwoXfew9X4MprHqZW3xOfmBfuSt
            YB2SJ8R1TBsymIAp0kT7Nh0f+rF+gJGHjRjEvH7WiQ4FXyh/Kyk5KaInRget
            lHi+X+weO0Cd7uh7DIJxWZOfaZzKUGU7Oez7WwQKY00gvzqX2uliPrEKPlXT
            GSGTwxJgXAIzaR/ssx9BlmIa9V4A4gBNz2adSf3opUssYrMxYdMwR1nAP0wM
            theNd8dD1Let29zF6+fcDfbJdDd6Vc6AWLz3tfocIzzG71A6x6a4SzTkAYkY
            eWCTZQsxbwtzRB4XwMOgzMHggVXWhHTEsi3CYTGov1G7a2LjLwMyUVOO0OlL
            6wLpFjZGeLL8BX19JV77i9Permpfd7M5gVKVdj+Geat/95+OlSAKt0YgeGYi
            EKrjc4utWhSsM41ZKVmzdrHfXzoB2ScdvpSJ0+3hHU/fHsntwTxvO74TLre4
            20W0G/Jxi5u4TExtMcSFsZSrSiQALSSbo23OBqnQmX8Iw3HM68ONWBP/zf3G
            9bycbpIzLEJbKxnmO5hmkBwEAfRdvzk0r0uNPqzPvE7qURvhgXiqzP0QMtCl
            fE2Cy346zvQ37I+BWpVdzWr8xWoemStgoGyPLXkmlhqYv2dyzsB/sRA+GaPs
            7BaXP9kocg+WWUix/JQ/KX2/kPzi6Xh7H3YVJ0QiNJyvtg3NGwyDupjEUylb
            vGRBMqqSW6JIWnCXXNbfGesQ5IRkf5E79SYFN8cXD6ZVM4ue4ykulp5KsARC
            aGDhwEHkjFJbwZ/vtxz9MP0CyWHibWOQ56qOStxpgvZu+emd+QXsF8F8+kVk
            oqy5oHbXG2fhFGLTqCwv5LuXaKjCTGU0eX5wHgfnVTPWjZMkxhvAsQ22Q5BW
            Cr7J5L91zpxQFZ2z3GYU1qLGX85myvnZjeBNr2+ak1dc1v6ewOJpYftasJjb
            UeQJBN890LOoSbDqvhCH3lsD7WjYXuhgeYIkFsMIPazDTPLgz8ZsIKGyCCs/
            +WYVr+IEZP9JrQLPXbX9RSwMF9+My7vTRs1EttJXd+KFoRmqcGMHtJSv2L31
            8WktgiUiT8vafYsk6cK+3RTdnKKyQcYvYi7RqqhIzEGLH7QRzp1p3V8xzK65
            P/IkmR0cHXU4fsxTQ/l9QYIYuvKUeIkfEcJBAiGgB0UFkRGP2xzEtSoIwcqI
            i7Yj7HtIQKaUQsbvzBYi54VYJ9sS/2WRAiiLDhp5+DJv7rYoFRZWbF8mJkL8
            +TeloVbzJ4DQEhWpLUYItcJ0q/07UtuNn98z/3TQWLKEs/1f4mBbEcE7xm5r
            Z4uHnb//Rtfc+iluUr2AcS4WtvW0rZud9bvF0UYK3sjFZL0MdPVd+c64AUs6
            yPYML63/bp6qfAgQ4Rimx2D3znDid/ff1YhyNOfI7eNT2Ym0gubK1nubLZyO
            7+QVENO0xLHavPHXH0ob81rlY6fiNKUcBbZd6Cz0mCWrVW+N1PeVkDnZtNKz
            V1yzZkatEke67xyo4aN7rwuZUNkA289KSza++J8y1aLDT90eEHKQDn8xtSls
            c7f0+exGEdlWmMAJcI75F3IyvYLE2EAuyRSlLAgBKUwOLcDUGIKBHPRIPepC
            e7qORMO2e0vgpSLVUF1XmvSaJk8nG0b0lTI+03xML7sudAMLxM+Ofct1d0wJ
            Rac6JtH3MSl9VP6gqQji0lLGX59G9YI4OuXUK4Qp9FGlaTQ3IgHx6LTqrAAJ
            Wx3spzo0x2QerCj3rGULRwMEp9KmQjna0g5hncrGOqVldFq6Fd25kKJRcPKW
            SEo4mVSGDwLqIUQDI4DHd3u+0sg6MoEZXkWKoO4E/mj9Y9a1bliqJBv8LTKz
            uET35lGcRP6tLIkn884pQ4bBZZxPT+dNmPdQ9D71sHtiy5npFQiKsOh9fGG0
            wfTwPcq0GkJIznaMRicd0F6WHl/WzexcUMjzuE/AutXbDqXHMbnHsT+D0fTD
            wKaOUYmNksGqHWR+4fv6uH+9veCxI4qE5CL+QeoOYqXNRsAqzjczDCrR3DDf
            zEVgz8u6dhPR4E1Eb1cHB+G3vzuK0hPVrbiflZHYUfVSoIbu02RAbjhWskyn
            PvZAsW9nYcryqd10bLT57bSgjk92xwm4mHfM4snrfuGfN5ve7HSz8ZdteyLr
            ZrubjW/2v7X4ne+wPWGvZ8xxQM9lv9+EWYa/r8WkLR23fgt87nv93EByBHgY
            7rza4mD5/euxPXVmbWxxZJ64j5NsO80eH19m/yhLIdI4tti5owXmnh4Uk9lQ
            PNupJrf2+tIHTiWtaBPIIRYEIBz78Gpugb5U5SpY5LEbhmmdBCguVVAzTGd2
            vzU2x52On37rdFjQIvr563zG9l0ntQH8+K557tY8dxStWc2eIoUFcr95Z5y3
            TwehtrGzWSFa2AbBO+Ew2CxI6a9y9NzMajmTzCSDoWQXuvR28KkwNzP7NNfL
            E1un4aQriXRahRPFntjzeG5+53GLkFquRHkkDrtZLLg0sePbOHF/PgOvxQrD
            QNZMRGJGWbBtLObCFK9IiY53isHwIKJ3q4WCfMk3YqGiYbBnuCeZNzt3sHga
            8oEimSFr7OS0rx3sNenfj+q1H8yshrijMnsHQ1fegbHISlAGHbEeJX4gibLV
            EdRz5uPH5KpjjBBl3AfQ/uJMcbggy6KBnalWhnYMymTIjeHYlrdio4hhfvSS
            bFpSbALpEB3fTTfrJaeTtPewsZlOy/ihBZEuV3SOphDxzRYTnozCaxdzoCo3
            o2LsqtalCMK6JWud9KkFoEbtQaDH4wVvcCu5HJX2/QMf9CN3pZ2zbaonzTLM
            zTEFdlwwvSLE8+2xgf31kw3/B84LQ7rebI9ofZ53o7Zay+a83lOMnFcFt/5O
            hP8kVC9/NmUSvTA41pCgWQBp8Z3zZTWFldWmbNrEPyzzZwvklC1xv4Hn+1Y0
            PhihakHoPv7N5jab+u3zf4EhnA3upIfD2eEWB9PbK73atYuHXer8T+z7Zaub
            nbr2/puNDhcTm50TA4I8jGYmZT+1g+ilV/TTF2ovCv4oZ/H4Jvw3J19VQKpd
            h2Z+y8TOZNHRkU26t9og/s31NkA/6Do7PFWePikmyGTLDnbceDnI6JQ2nIr7
            emsWZKoe5qxjS5HklUquKwgyUJxuMCeEruYObirQe2wWK2HbFsE1JsdcWB2s
            4IVePJTAG4AoTiVikO3QNIONvho7TZDtU6fNGBhUmyS8w1Op2D5g+u4rJ7jY
            5Gq3EJb5uo/3ezauI91hGWaXyCebi1rNUZg6dsulfHg3oFEF+2KpZILuIlUH
            +3u2yqhgCCFfZpjDvxCGhiqicjdA8PyMNHzum4bwH+c/fv6TDQTk8fPfgpRD
            BSQK0Jws2vduRzsfQN2NMEbMLMPdf2Rbqb4iq/DmVrS1O7x1N872LHMdK00d
            awIZDFP+buLKXufAzXh6afkuYtk5msVL12HiXlZRtB7C/n3CRPewwMg3hCor
            VkgIhiBH37KUQD92EN5meOvdw3PS6XtkwETIvWSb9PQ5xfJ4j+wo61U3hxrB
            3F+Om97cASJNGnMF60y6CLNlIO+vCYWU92Hs3liwB6twrcOWLSZm7hRzZeOe
            2WAckyemnp4MiolN1g7pksTjtVj0Wb6cQvQ/3Japo/o8cT4TWeOysTzhucaZ
            zek0Ls2L2haznGN7KDUi92UwmFS0A638vjgmvP1+HVknW38wA/p0InSnFAlp
            Lg/2BCl/4Nhv7WSSyOI5J7UnWHZ4z3bRY2jfw3ggGZWJdfL3cNeQNDr88dpZ
            u3LElOcmbsrTP32vdr/lfR5vctXns6jR8gU1cV05bfQD3G8ZU1DNaPX7n+0r
            LtCGLSRznbQrMMFjmU7Aoqb13ci6C06enCU+hn0LHe0zsewznaKA+CtdXoJd
            MyLQRN97oYqlw29nE/PrCfTFe1H3KKr6L6dnFh0cE6U9OaDt5qHeZ8Ip8fuc
            l5pyLwJNsa81dAJrgEfFjxuP7J3zeFbtclUb31Zsoo3SbQybu+B+Qmou6TNX
            VO4I/WaItR5GvsyFvedAusXXOysRlxHaZDEKrtHxFMsXYGHycXwW77gesa3Q
            flJbTn9SW6gfamNt2/7e83N+Uxszhr8JbFjp2U3Hyr8hNHDQpZ2YvxuzubPI
            wqhWxHkJ7Hht8Ew1Xbttxx6nK5nNCEo5+vRzfPIJguztJbEzXvt7eUN0zxra
            rT5eQkqXFM+jO3exII6Us+jdeuX9jK6IcYee7g/wY8QpilUFKxaYyzbm6/bS
            9+fXmPtnzAyURUuVs6a7fk+Ck1HMPerslJKn2+lv5zBQ0sd0gWZg0X4xFUGY
            IdPBCtXwxUEM9bf8eBUNEQJ/Vbv+rifY9vwLmuCFqt3hVbY9z4ViDKITbTWp
            vCt4I/ARyK0pmrrLz662ynGz+7A7yzsBs9vw7havBTJEIYGfYrdd3wQX+4fg
            9L7Z6xB3cqYHmsJXuDbNvHZXez0b95+G+pYYJa2eHMv71NBu7eYkOf/s8y6m
            qXerfehR6OFjix3mWW6uqfwAawN2rAaOUmAeB2uGTu8sK79egEpuNLD8cOMi
            ip1oialcf/2tWsGK5X3QaE2MK9AoHKlFLwhKYluiMmxTRr8f7vibGS0afEiF
            Dz0t/ZnYdl1dsNW1lyCOmkwtzgArYro006eb1d8TrvNQBhVGJ0QkHiq8Zmyk
            SbHM8aJO6n73ctjc5iVmydpUSZN2GN3h+fTZIOHC258kmExnOvgBk5Sc4a04
            TofBBXajV2r422rJhyF/qI5DIWT7bM44X+z5Fyr0UCCTVfEUdyEX15JVDqSB
            NQaUk/N7VhvWYblowTGUSXFpeS0/W4hcXznw8ZMDP/6SA5+G5b4rWyewWIfa
            qWUDXwy+0L1orLMyi5SZtnU+l75nYf1NfqeTBYpE59ho49JmJlXyN72D1YI3
            9vv2391/X/47MzxrRSW5GCYBIVsj2yqx/yob3kRVHyftuvtK8b7ehUpUdipl
            nLpXMHM33r0Nzls5GBqm7OtyRRGVfF8H+Xj/uAaaBpEdIc3lf2DOf8GacIec
            +P9gtMrsAQujT7Weu2MClELw8hEx7zxW8Zn02TDqQvWpgKiJPW8PplbbsL5J
            2oK3OWzXO7DjtIFp24/vdCws0B3XyQ6x1kkPbDUZWlQSGAfhiVnFwfbCj2HM
            EJzfyiwMytQ+LxUCinKHuVmtACyzWCjC2jjXB4hG3hNiETPDoDlcaTfh9jdv
            yhEdVuxXSG4b6TUJiRqrswEQvbNYKGEzTAZJwWqusk5jzrGANzguOlGBIkFo
            0ldt0CDaFZn4sXabm5vahDPL08BahJGqVE7W2dB46mB24+d1VFd3dQGrBanO
            8dxoAi0dO+Mhm9uL1kz7J7gHd1ALK53pzkNuD1NLhCUVDDhEOpoqEb7Ay1wK
            fupOJcmErpwpLNVKBlKQxResUBtecAQGSJ9SdiaprtQbQzx+lVLcxui+JV3+
            Uq32vejeGG7c8R47D3VXCrRsjI5NH4WBSCYXklQCSDPlOCjWAVPfyvriMyEN
            lfswLm+uqw5QjnekIl5oBI5hyA5UiTmdw+41Wl6MfjKVT7ko7T3+nGyAi+PN
            PssEe2LgYwV1ko7MT8fLPGmqpfZNLMHzcMgdMJZhOZ/UDNt5PswBtOTfbF2z
            CFnFzsIy3wXnK9GvDuVqE3rIj/P0ma8+X12Qi+ESSO72TnHBT2zhuaGGtstC
            mFWF4pc+UYy/JvaqtwjxIw83AZMZFH2r8tUu+Kuj9ttUce5jx9uUcTtfl7d1
            iYnourZe1RtSlsfTFVytKDsXZ/99l26ImIVqCjpuVeoBq8ZbdNidoN/7e9hl
            g2xQuFtyu9PQ25h6mn4wCcHqsT/rLW1y6vL0t6qFpZWjJoFsHhQnM8w8FYHi
            hseIZZAs94GRWB27iZnQrUD67O9E5OG5K+xSeHp78Kh0evXvXcnBOhedcJ82
            5uZziuZgS/R9CqIwsV3q8LIKAm5Hq/v8ZMf5c5O1ilB+yfr03Qn57bT8WUBv
            HWuKfP6JMnxYYg/EWv5qz/APaCslmht/3rrRfDOaByiLya2QevzbdasrQCLq
            B/FZGEwiZLF1eup10UQoLmKJ5n8LEb2yQQjBCG5aAhSXRbsNWzdbtgWMbCqf
            sHCYy8k+gCqApV4p5VexiEFTezlgLNdQaQKJDnpyDEyYerwdQ+oBd+I1meyC
            XVZqZQaV5MGyOolku147Fkz8JlERGT35tWU+QlsfJBAV2Db9zXRGWOgFmzy2
            AVNx2HF2HIScIRLwRsZxC/NxLNvg88gKcKktmGSCl9fTAFXoxVW5HPRhdq50
            zpFUHxKMeECGa+4+vQQJc7ij4Gpe8c+BhxgJzP4YYvsxL77EVH36HV1gYlIu
            VlbfXDC+fJIQvHagjgP/nmjCMa8SZP5DfrBUtERGRqOwI8aGy39yvq1Ryris
            PZchrAs+l20iggF6hE97rdMruVme9RHuwbKv1aPu8PE97qN4rCzudyY3m6HM
            kAcbAp9LzryHKfM4xmwH4tMPciZ+sr0YP9UC9SsR+LwJvMAaZX93sFyIq6G0
            BrZQY+zt1PcQRmPP35GW+Vo4F6O4fg4OAXHFErZuTjrpnIGFu9ScZlcTd7vG
            FBUST0i/x3J8jcVSBAcbfiuakgwIjOtHEcscd7DPNq3gp519MgD7bFnT+WIq
            PEnqB5e2/IEOGT6gWL+6VoMNcfJvNigeanlxuZMtOHBIVxbzsEXjucf1k33/
            MIRY1kbQ86SulmqMiHFceFm2SCIO8TENx/H0hOOKc6MyoNmHrbOlRjvHMC+s
            sHtZSkioE3ZLY0+p0FUhFa6LnlCyGTLQvpNsGTA/zfOp/pNyuTOyHF8zX9F7
            LByYieTwm/S8J9t8NV/jLjbucD8n83DrDhuodfo4dt0ojbA9fpZBOCz3sd8v
            BHmahd4EYwKqDINIF42ik4t7RmsTr9auvnHv9eJzHXmBqLv3QIOWUhQ7Ih7s
            3lnMFp755A0De7glXRhztR4LZGWZvZnwHefk/ZDFPEk3Qr4xzJOaurT+6S4J
            HYWB/K28QCdK3q48XZZU5KlqffeeG50Aq2/Jv3rrrmkgJH1bXQS43lADQRZy
            f3Eg5jXev9FzGs2lvn/PZt5ovgcsxNm+Pc9ef9EP1Qu3+cAwZ+cqbpCSEqnp
            IdFDV8Bn2RyLrVXbbog4sBjxY6owq0wh96Gqr0uVdYHmeAXnMYwo/o3FRPmw
            rqG7PKARHskgEdU4w2ti2wnt/Gz+NxHXYEYJBgSzKL+5tJV6D73Kt7siBH3O
            glVi4O5BTTquHnr5rI1awzZhAGh5dJXgtoq6EsdR7bSbAkXXJRjAl70fw2yd
            sTbWsl13p2XOu/Wzqe/pyTls1GnWJ112zDf0heyWAk8weyYcFSbVHMygkJfR
            CPF+fEGMmGmvRXqmnQCmhbQnsSCI1q5sLhIRFfcsxU27Vj6C0azc77b7BEtI
            whyBlc02iOaN3T9UmteinGWxguVKpLSgT9YD0ayCsXbKkw+V70s5ZdHOfiY1
            eu7ip3/QaGal3+mzWQgn4BJzmYJayC0Z7BxvNHd7cg+vOMN9SrZ7nhY6OKEG
            MaQ/Bng3YYLZ1A1GerNS/AlioJ/lsjDxsC5F8d4tQ20nk9VGJeJ6sg4dCXRK
            7sWADBqu8LyyeBNDd+fYvU4nhnXtFjpEZCX88NHEJh+y6nxgs9BNr93LVLq2
            mMTGuksip2cuRWdDFAXZTAREsFt6UZlxbTCFCsoJvJT5qqEZkCl3TSRH69J7
            mJ1tphfu8Oou3g1mGXFegtI5mgD13jTs+yPDJkPc3P7U4A6VpjMpk+DQS9Q5
            WODpE4cVswQK2oRXSTswdAiD4F6XZ2GTjc7r2OznJi9M3iIwqx3VDwVJ0HKe
            PRUcJWRXC1EJkSypkiVr+50wjqFO3FYylb68oZyQSvZ4L+MM92FFMs9XqZrM
            FZakstyfhSYM8SUV8D9Eym9EXRnqkiz0FWmJagz8drljvXgJwZTMwPdUTfXb
            HyC4mfOWJLL3BsXFPF8nXNB9IV8vq1CnMse6CswxFS6YenjWBebcLX8yztnC
            JlxiMezdAoV2TkuFtQboGz+oUzHyl+CLZn8xDiaxCSwRywYWexqY5Mny5gEt
            mxA7Xh7PBmVccPytqYkDlZgi5YpdXAhRegicAvJn3hDKSV3cQWaUjSoQHafa
            32A2wNIiiWWZZkhiZVr9cX1qAru1r6ZLWv0oGS7erGda6PeGUsNeD/I88Zoo
            mFSZQkxiuXZ/pL34mxi690/abFyx8yev+JUjYZn3h+Rbbo4ql76SffGuC8Rz
            Ztm5i4u6HS/SCaJ6Qz5pBlVaEbLt9oUa6blfs2t6RfqpiCpzE9/nxmHPpczc
            YOBUQBn3fT3mzA3xiLKScOJFEohqU66qgI0inj7tASmc1KuRmdRxl8cZ+7ih
            eBlYo7vwLB4BJkAuvJgB70Y5E/CJa/Wl11N7oKaRStUqM7kBxMcYSmPcly3G
            +g3beSrmNmDUTNqJLAJljnmhMTxVv9QJU8TEQbyhAJEo7J9tZzED5+xnsUJw
            6H5dzaRx7mT0Jfu1wWPWeYDYTdJ3C0K6D75DoqePC+2uIiEmamPh6FlhqzM5
            BE75trmSh90zZYZYWNEn4Z8UQ8QiJ2/2cJ6YOcPhu7aiYduTMZP15dkg6Ky1
            aXVEyNjY4QYCgBgaLYAXnhn7DMKFWyxSWYV2MQd28SwXocoJI6IeaIeVMr/G
            HLfa8Nysy+DGM8mkyDAz2BHuZqqhCtfZ33mcpAoFUnbRUlsaFm1H6IGXqmCl
            xTTWyBn+7s1OeMzJ8uDMfOSFEJXRc4Df99vThI0wTpMheA/jZxmTerr0B1U+
            4xlfhiz0x4RHsY9APll3BiM0eT6OCHxW+00YX9WafcXIfzgBmI6VQzcMHvAp
            IVpaIiEOr3rArlp6t+cvdtV47ar0sasEQ0Mlr3+0wr3ogi0Ar4n3R2tQpY81
            RicmgrciM3eOkB5PAwe6kuv0kSqkcMfZUxvshb+zqZhuoGnhhcYIDWJPnAy6
            2xy7RMCsbuMwhHy6Gk1fH6mYu5NdjHmsGmbtRqLE/ryimvLR2vKUXrmbliJh
            zIBI3hVZOWq7Od80nmrjjGprxty1oFZvUXBtYW6tDAR+472wkaYM4a7MRKis
            3kyQmt3pBne09yWhTPJTf/fTGye8vbqfJk9/oU+xY9Pfx5en/2HI2g0kLP2t
            Dg/WY0a1eupW6GhJxIh96qC1DM4wshrDt0UrvLAmh6lR6tZjDdE5Aexa+D2J
            kV2Vk+D4qKoek5Idk3lv4HxMBin8jrhrtO6JYjfL4UgCiUFaDjPvYPgTCUpg
            vDK0REgwgtkZR4jV2RQAprYQBVtC51x5q4pbpa2PUexxqtFOfztMi1LJv4lW
            z9i2ZeIf1rjmUrOcp2DiTp+4WRZLGSdBesHD8XloEgcdrTcxyX+cn6lfbKub
            bo6F7zi30ilLjXxZwtxk3RO2PD6VndhZENoZcgnMVaJev9y61vHdLgNSVRP8
            8nhuZUI+Te0msRM+oxOv5zOxB1P2fk8S9/VulcUkwhCs/IcaC9k0u0tIl6eD
            9Mm3FcFVaLEYz83mpqz/r5LszGXSJ3OpMF5ztNTOHUPZzOt0r9vOwz3tcz7C
            7Oe9b9td7zh3pcbHWHWgNC4qLJiiisDdT2SjHo1m3QJZM93eflOVqH5vf9Eu
            p+XzXd23tQU1TPnSr29qCewedX7hQojJbh/Dae0NWXD9VRhM/8i9OxmTsV7M
            lCGfoQLKWAKnzyKOkY4x+iBaUTfmExruEn9gm8ajSxqewg42LW4nCN2h9LsQ
            cB+TO4R/MXRuJGDsl3RfVkT9QkJaeQOR87j9X38MMwKct8nxuCya2H+0lZa1
            UJnOociZffpklHUp0ZhCQF3EWLfqDpgzWcPdZIAcXZ9STHLMN1tPE5ctM6+K
            lSKHwRjFS0hsj91DCTvBsKSpiFfvJibBGN08ZsBnWFZZVEyDtWk1CZEO3yev
            akKVMcUdqhCjqTRnlQ2XmU0O7ZIBuiVmfGHLL0Y1hWm7O5h5nIbPSktZXyR6
            evTT1grIMg2aiN1fVYmn5wQXNIRUZCWdurlSA+ExNk9tBvWUbAsZJAMRYvh5
            s1e5GxZ9l2X+NPVJydjN13d3G/Ci5E3KppnTP/tYfdCGrEHjtdjtfbIIibqJ
            tS1g90l3MFnZwLTPdVgCzt3t7xCvROE+ht8sec7m3ayVLb0zTBBUHW55Jiny
            GGrva5Xbuwr9gtoWJL2JqbDc/b2kHgoHig1d5G9fPC6iuT6g5xQS6udEkFLG
            9E1KL5myni1PbSIES1Cg2tqZwe5oLqMLrEsBOP7t8cr3tY2K24yJ1e13dHO1
            XfnLNidK+f0B08DDJUXzLQ8YUzLVxZZ6Z6Op0dvc+u32DNbn6d4P7zq798Mb
            ylHp7nde73WqZI4sWrz2dscir1JudXl5czAPjywazF6cvfVdmrZBvt5cgUuZ
            G6pp3D0Bs6t42E3sgqJE4KMY2mumWxpsMZ0tb49aao908ABhcSsKYv0VX1/I
            4b6QYvfloiUKQk/5473MtGRGo/thatBi0wW833Vk2Fv1Lb8PWxNhTkAg9IcF
            byzmcDarIRVBgEjpg2N3q09v8/4Ey7hltz0K6EYHvgfApuVmvgE6Vncxv+SC
            FvXIZ9XfNjX5MMMiboIAv19zYYIWebYl37JS3JHOTrUDD4ZwdltTbrGkfii5
            FguTiAKx+m5M3YlFYHry7g/1lrJ/nEmHNWltZHDXBvnadY/bp1Dd27a1he1C
            3qBfXpEAvTF/mc8qMRuccSwby0sEEcPXYIYIc5laHFchpZ+wrOr/a+3akhyH
            cdiVLEuypU/Zlu9/pCUA0nF6e6a2arZrptLpxG+J4gMEXCCC/Dk2A2Y2L4s0
            YSKTOD7qk4ueZE/s2UtsOEkL1oWqqHDfVIFBQYIUMfmTVcqk1x39yTJNvceI
            P6QsjlG2Pn/LLFNeESGeeLiI/Dz8jchocW8hNN6RJAGSq3k2DC6lOn62zm5k
            NItMdXJHtFi2T00bjS0c+c79xLYweDJIaVFaxyaoBRdUkbOVFsCLgg7aw+7y
            8d2yjtGYHeCxHMoCNqm9gaH9An80TNoo9wAix74Dhg6ixaFQB+ZZ/F70+0au
            xxOMxbb9SHeyBU1DwFZIJu3HchbfEUsVjbCY9WdfYn4LRxCDyQGzsd28kSNA
            UJiTaUbQtnINQBkVvvsWlSdzDGZAyndJzCNVS8h2dn4kmDcIhGPQIC16iHwR
            ZTo87AAYkJULscH9qnXr+DeZxFbkCz9ZvMjoeYu5vL5FQttkPsmfbp9QL998
            pkUrXWTzWlP2bjv7J6V7uQwQ4Sb2D7Q3MRnsvIqQKX1kPZDiXcQcVOUCZ91Z
            to/AFXokokJnUeKRV7USItJd0DM0pZ9o3tlZqXZKh9eevb1H8Qv0vKTH30pB
            yyUyo1u2wFxD4DC3Bz2B3g8HNDe8k8n0OsmiO4ijAGlbAXYdGzJTcOAnUkwb
            bO7hFwe20Wkr/NEBY0T7ZrULx2J9cWB1MR9ty7ttGtuYQYfOfbl/8P88HMFV
            D9vWq1mh7u6zFHI60ytdCN8f9m9n6kTKZYsZ3cjSNljluXyQZW2DNXKs90jX
            /OxvXOZDbexcxrGbrXbPvk7EKLadA4Ajx3UchMTPwtK2hU4n2V0YflE1fdpS
            cVRV2lZ1THNdvcmKBkQ3S8YxOOPB70Xl1sDGJdDerd+e458Ga3NuyVgGbBIc
            zLjmjmxQgfZalfR7fPBpPj28n616Imk272/znb3xrWzc8JtpZnmWwULIAsg5
            em5tjbyIHZz0GA8bONOWEoHykJiDl1nV0FEoM22L9iihYs4FMmFBtjBrlcDB
            zp3d7FqwKQsXrpwNPXqfnMGNSMqNJlwyCyFt0ZmsIGPm98Q021g3SnpGwgTf
            6+uTBmXS+0j7scq3PAhZ2D2dWRhJnr5aF953c8SIrQlQa7AxSE6iXSnyrpg+
            dqKlApbWKyw5yh9kbFw6POPGxsF7oTgyqqhLBWQfDOV9OSNWJhpNJ3PWp361
            ofHjOGcS744SC8c1Ad5/8BQAh1Gqyf0igHXD7Rj23SPZ/xOrn62wVC3eu49R
            UjzjKUC8/mjg+SAJWwceMgwylBAeuISFxocNM0/t9VDuE26DqonLuCE5ZbH7
            ouhugLAG8AOU8BUkcCFAzwYSJ+5PdzanS56rB3wizq8irwzqyr5Sh41FUPsF
            SoDtZf+g10LoQJf9w308CeklsniUwYwYSa+ZlD8LK8kn3DliCYie6w/mp669
            mlXo0QB/TNFDtEmBOT4gNuSz3dYG3gHNBRCDOXjdDctAU5VZ7n89YZ4gIObd
            9ewPOd4cINWFW347zvHjOGD+WXkchMXolG9ks2K7SEeBpoGcxg5k/kUeOB6O
            tZvT/f/YNwy9OfhtR4rSAl3CMBEksBGLjKI3r6locAftNIKIHTjaBaim3Wb8
            DheGKY3TFw42fHcVlGliqGfW0b5ChiJGniHiZ5Pk2i1mO6ZIbPP3tmU1WzdJ
            o/18f1czGPqLLAQFVyigk7sCDrpQx7XEAen3dUxq88cXr6YsVHybQQthRyDI
            1lYPTGPmVQ6pwZsvLnkm5/lIaMl1WUsoimObSkLUjh6RusmnZYII24/hSn5o
            sYkBgw4/7BOIcoBsG5iBEUOUf59RGKCYDByg62cCzIl2z4+bl2wt+sdjdXRE
            vQcRHzY5vsQagAe6ZU0IlNXAQxSfwSqzjJe4MrPQ+r8PagrMXbmL7+D32cOQ
            fl/BL/7PMxGzcP1YFc76y8L5X2YiyN6xb7gsv6VW6+UJKfd7CdhkC8zMC6Vj
            ImE1uN0Zr/84s1nHD7Pu5LKrRG8bIRs/l6WLyLWJpY5LXNHM7cCxTorP3SxM
            ZN+vp5gzqDm2d9e/rlP4lQPyMa+1u3hqIEOomOsyWGxWkpwgSGrguTRzinxF
            inJRqNeRpmFU+31AVZegV6GcaiJv1kjI2K7uDyQEwkQM2qryJLqOyB1FuW5h
            vkrpdDkj3XZbbtIkmIk365LifNZ2QU93U5ukxf0kPITzL3rnnURvPR14raCT
            MFcdnphboZblBCGxFzcSAR5mS6ggRZqawRrWRrHtS1HwVI9s8uzypRbTR+XH
            a7/XMl8+zUB6RNeySFKTuSeY3bx4qc6ewxCKrH8/TPnD1dMkEcwdnggMSEb4
            zzHo4erW7dTabUaOBG/NexQy4HI0C0TKmM2uGy9yXmbeyb88kPVAJQrF4gso
            6MEIeyCljFGIbiP7Dya8M8W+AG6yaApa3xEpBlgJCnUW/u8PpyVk5MuHgog9
            xJXd/TDSp30muBvW5Orr/s01Cau+Xb2848283rwxTYEeEXAP5HyxjwJYCbMX
            V83nAzyqkFbEPkQRrdJfEsGt3V3kf65OlIc9MWA2IbsMyN48PzyhQVmBcyOc
            DzgXKNmDw9vOYdo5MHV0A1TgqSPIVQYdtS0F8TngiXF95PHIUksUz9qWNvUF
            7+j0oUDNBIu7VBBILL+waoxvirz3Byp+g+HuW4ewHHJXwDjK23Sa5+cB7Owu
            16i9PjUTz9x+VbCw4wMMFl2glqm6xCOn/Ib4p/o6xnE97HWEqttNTaHqsxGX
            Osp8vS8SXZUEgvfXhSCddzTepWz+OkVuItFUKiIx4egwRDgUX7k01S1CsK77
            51HPmLhx4+x5tBdTO+mSPTSwWY5OdBJ4gY6gV+FU+zVCbigSj4Rru/noXWKo
            q/NP6eK8zmHHQXVO+n0yE6j0loAA2sPAQ+xNQWR8v1yv76///f126vtfMEYz
            suei3ltAOwC7Xhw6Q4giCvVdqe6MoBVR7E31oLxHu8BWGvYPajaSsiQzjRj7
            28q8z8wCSE1/OJHQtDBE4T3WKOhntfPFNPOjUwm23YLbU2ltaVCT61qZ3pom
            pzTZ3CDLwuyi+v6QD2KnKMS33nrPzG/Ygkg7LoWVDBqihfqWH+k92x6lUxXw
            yaugHgB2RhFmxmTjNuiTgGpS54zUeFcS7PIaifp7kTq42HE10anpINRFN1Qp
            70vQbdAuq+sdqdnkxJjJe+aCdyGqRuL+oecFdMAwz2SyZ8wVS8CN09VaBQRC
            elhH6itvH/vBzQ2CCleDiRxLX5JnDwUVB7ZcYiK4o5dX2GvFGjFzjVEINPFh
            7ytGid0YTOs6SpEdLWqvsjX/eDpkFu+QkW4C276CeLSLEXb5H14P/S4CzQvY
            OTafNoYY+l3cy/30bd6vtpJx3YGCoJ1jtzUD72026f3w9015oLASvb1Mnpjr
            JCLanhxT7UVNp1s376mjeVUJhs4ydhcbW9+u27UNhXWv3qssJK8FA6+pnmWn
            MepAHs1FemPZ8+RIKy4zB2Brd+q8/lDrkssp1EX6obawNhjP8CbUVdoET6qK
            3iL+m5k7VWsAaxpg3RTNyJ/YrwuQ2dAoAVkOMpyApNuuDbM7WbB5ZqZ2mBlF
            XSeRIlfdr6TBqULGfSmetQysPZBlKwtVPaeyg+ZO/Xg5q9ZhU/qa3nKFa4HC
            IiqQ70G2hwRyBqX1jrItqn3LuyWugtfJbA9ncsR5lPXZR91c27qspP1ZRk74
            G7+T7hZ/N18sITZm9lVV1VxcahmOTwz0TaCIDvTxx3ScQp096WAxhfDv5/WR
            l3tuJtq34PyJdDuhE4jMbZUAgB7eCHSYcJevlTd1sKvWburiVDuEHCRvEzv2
            ntWhYt7iTh4I6kU7BZ5ZlC2/RDxRZFiHDZCdA+QuRDbbEpZ48xnbJWR0bFiZ
            AZnPADnFeIZra3ZtcU0ZqftsD3TQay3kc4KVMntH9Ra7KzlY1Crpbr4HzcFB
            S64oMwdr7Iul3o6KdCUsM/lDMa+ws6KZofcl8C/wW8mWXnrF14VYlW3E9oqx
            26C/Y/c+Mw68Xwzt6PxBjekQzY6NBO4H3+O+qn1hi3s33Qo0IlFoRrHxUoQp
            +q3pAohqLqzOQtDc+4lmDBsBScEti/cATuyu7SQvqOv1aqd4F6+zvzt9iPTB
            pVR/LWd/e11X9A34gj+nOoFQh1IlK1mEI/z9NlgboKW5Ja7Bv+X9voXvBaLj
            JgFJbeQj+2AdLtdMBNfyWuYeqTBkNUBMB/Pb68V+R+IbyABT7al2W5iRRUpA
            5D+dPS6ChmQUrUCThURhivzR8MYToLUWHbdqlhoCVOodyCh87aj4kkBqD5KQ
            rEKZOTpXcU8bzBZJOpgi8rruzyQMyDoG3w0QNK0RqTM6PwYyerf/obnEgyOu
            aUzx3GuvkoYDVL0U9veBOYPKIBdEuVUivoRur/QlULYdtg+woQN5ITwY+w8r
            4lBbt6n6dqo/LUOUUToM7BBqTtwABcRlD1ZV8Re2ZPfLDvSzIygGS58Hbg/K
            YIfqNRosDRddSx9gdQJbw+JsnEB6pFS+G+LfMUz9LLZQGUKwSnl3oLHDZe3U
            C9sg1U4HJ2ktkvQKMFIrFYpCgRNiVuxwze4grd+x0O7yMReLQK3bjHG+D/hi
            IU+Gcj0KJYmgr8ebmk3BzIZikA1MgAxVQeJI98bgJUju7W/tcyVpOrx3FaaE
            8yW9rjTJrfq6eu9kj+/FypYg6Vg9o6t6IpUXn7oA1EvQeRzZTO//bSIkOunf
            Hp7kwrk2UXOpDTRjscoru0xWbEMqrsDrtExAFs/vlhIygwaCpW37hxylewTY
            hFGprtRwVDRulM7FdIEV97rgn16lhiO/lXlmvSqRckpJKvnyi+zf8hH68LHm
            BKb9JCFax/ig5B96+lfP8iDgW1UOHyvZ7Dt1Fxaaf74W0iQWMSxvzthKxo49
            Sv8r7lajgNj6yAEei0jS8qGwcQ8CCLPrFjlW9lXd5nWcVKH+4+cnkw9//nxC
            8/ovn+/IkPzl8w25x/SX7U+LSMufP+/L3z/PiOX/en06/1VKyeiXYT/rWvTe
            PBy9r/559fcibJeQuvmsRMKvvejDuXhjT2F1OfvGu++MbUg0Df7+0vvpB+8S
            1V1Ws7V8vy6//+ik14qOpXVRolCcw/zZrm3/aEIC12Pm0t7D6eF+87axEQn5
            9/7L/i3AZHV8r2V5ncN6W/D+y/frob93fx3A0oFS+dZr/IxjK7zundLk9kB6
            ZQXnIhcKwMP5cxV2vrX1r+33vr0//5yAtj+ztv+5357G+t5u1ja+7k9tuv95
            cPumLimUb/ka+4UXxsNNGGiA7NY+0/Cb7oeIL6HaoL+TaxgsTb/+nYhzvgCG
            S6nNQV2VtnE4rMkRsazHLm3xQZLPR/Szfb//XFd89v5JPkhpvKQZ6vuzC4rv
            AFv3H6WSk2g= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
