<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3492</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3492</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3492</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3492_v4291</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>13458</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3492_v4291</key>
          <data>
            eNrsfdm25SaW7bu/RvTgN0Do/z/pzjkX7OZE2JmuUTdHPpQjT2pLQgjBYvXN
            n5e/+F+8Lu/u9seftTy6cLkrX9fqMRYf/RVdny4tXHlycKmGHt+/Qrl8yvuv
            7L+6/9r+6/tv7L+5/+79t/bfY394uf25/ef3X9h/cf+l/Zf3X9l/df81/vnq
            nqs/N7/z2f/hJ17QQsH/d59iRK9Xvy7OgHfX13+p//HnMx7cw1Q5l/D/Ps+S
            cioxP/nB/1d/pZRC9P7KN65F3J0Y2dXqxd4CvpZHVzzfewX8lavySgsX2vl4
            3tbUoqPFxH0XM3rnyB3XamKEj572/Jd7YG83XrLHPHYvfR+j39+wj/W8ZR+x
            ilx/X/Zx7n7ufd/v58I+lsmxXNbKoxt0iPHZ/WBtpn70iom93jOu7+YI4uWy
            VmL3vJ+q87zl4b2HL8FXubJ7P/2MNir/zehw58FT7M2f6du9v5aw2vnrexub
            TrwzP1pnHwKgI809mlJdLA9g9epds9WxHlcNggBXX69x8QtEvIsO+2N4vUit
            un/fdl3ri7Ghy8pV5Lg435wAfEN86pUAlPkhXPyL+7s3/7/T21016/Gqrzlb
            11nIb2A6wJNfc72/fh/Dj/Mf+2i/yf//f9PVJ57o0T3eeqvX3jLW2O1OrVtX
            XbWX5euz3X5stxME+HJ/vAUdxRrffeM8cTOfZ3he07tvnNfXp9lDFf+9nsf/
            tQ2pep7nrmmwEf/p3DcNTu/leWiaizjj1Dm2h943s8576MF2V7Xz0YdNUNf5
            CEP3J/7TOf7Twsxl53PMvSc1nnEPzcATH41nrKE1fOqj8TzreZ8HQNuP85rD
            I9x3ueW4H0BdgBsvtBpalt7i8+T5+et1n2/sT8dUnmN38QM6rh/QYiCUucev
            MDXPwCyuak/4qoYOOxf0LbOvZNh+Q8ko1QdiHI04jSEICMRHF3HGnN7Wu69Q
            RwfsJsNSV1mBkD5arzM/xNeiAdXPrn2Id2FIM/W8AE8JncSff+H+9Q/05Je/
            Vn79m+3Xv2f8+gfi8PDPxag/H5P+Flbq5x+pw88/QNwvf2X9+tfdr39z/fr3
            V+PBfLkXMkgNcPlg8fX/Uf9f9f+6/m43dXXq6q3Wt1rf9atdICcAqmItfvQB
            ME1Y/3qV5ym1FkFALNwxgM2hnkb8fgazAKhJl/4/6v+r/l/XP/rWvWz/rxZZ
            Lcp12gVxDNgFk1Dl2utfOf8e8C2xXIMIFXgj93r+5dc/97z+3effea79zXO+
            vP6l80/P5et+PVfOv/z6F97/ufMPz/l/+dz9+tfOPz2Xrufvnovp9c+ff+e5
            /jfPkZ/93d/epf53u9R7QUDKaPd/O/a/f8f+7+/SqwkCMvjI6/927H/Hjh3h
            vkX183+ElhoElCzO45/s0s0H/LNd4T+h/Z/A71/BIiC6kBu0f29Y+77+hiVc
            z3Wcf29QwfX0cf0FC7ge39ffa82d9L5Ovu53f3st/X9oLf9H67ceQUDFlf+C
            tfwd3vi+/r2Wv9v3XMvf7Wuu5e/2Ldfyff2v1vIihw6m2PmXKNwl/lQ3/Yf0
            V8SI530+yCFf02RFgBjnPJSwfH1LfNUkvv4pgef4W0nwb//7n0kC1OYIAhr1
            BP9IEuh76NZz+pyVdK4e2ZaQeBXIR1LG2BnWSWf1ekwqNL1RJJiMT9Hy1cbl
            ilHzTe5+q3O+23gg4rTVPQ4f8bs2IUEAVT/TOyxR/mqj0WEW6sfo4h2HRjfj
            c7U41kvqfbdJ4KofPku9G9BG29qAzzbZXUvXJ7Zl2G1qxDvfbcqYuXBiR0Mb
            bzKqj1/91Dvmrjb9ue7TTwXUvdu0Ee3Zic1d86g2/q82PaJNyoKAnvYasv19
            7/Fzgt7tB2Tocdpc1X7f11eb2WK08U+Mf9kYAI2f478phJ7xYz7Vj/+eK1JE
            abgAEj7t8YzVhhZeq/SsNnVmTwBX2B7TrCyT9sOZOT1Ruwvvd7irTlB3fHfB
            mqVucxS/5to5tJFes2Qyg+PZ4P7Zxt+1XaefeVk/6et7XPBTT10dXbhl35O/
            25Bx8KeNr9ZPqV9t0gIeP22A5G3t89dXTvext1x+4krci43qwcugt3302o0K
            DAMA8Hax62uAot1ao5uWpKX3XFPP1F9f3Dck5OnKx3tb567hSDHgZ9p7+/fM
            9Th3G8zucPau4V37aDOAODpZqXBj5q6zSq5/tJlrFu3jibW/pvUD7Pyxs9y9
            Ys1nZz3R2gB650eb5Wc16OVK7t03vmAIbT7g3YG/D16zvjATweDDdf/xlR7/
            tx71ihXIfsPy17p6F6tAUm1CO/D+1cavOG/NFvbfs0cHlP0xWz6sq5fTBmz2
            vff9Zz9Yl60rw1fmNOaMgoAZt9K9ev8xKx64rTetNsaYN0Sk6j9wic+DenK2
            SVqBPbav94JG7X7QZjnbobf/agPc9n7XvVeJLMhHm5bifhfatGTQhzF/tulU
            lwvql/aSoO/+nocxKyB2t6nVxnx/j3li0ZPWBUvbdj/ru5/7mVkcQm6C9GF6
            wq82a1Zw+GzTuX03hNLA8G7zeGr1D6QHaxM7OMNXm3Bl4le2GcJyhz589BMA
            0kT6JFw8GEzOGD7WKwjQ1QZ42vXbLEM3qeE49oyP+QxhGN94NfS5vLUp86tN
            XDMutTEc1zde/xwbOV+16TiNy+aqUyf8bpNBQ7z6mWpTNyb/7KeQZT79AAFp
            v6xOSe/Vpmba9AjpGXvE3b/hBkLL886EpUZbQva/4TxCT/EWJ6T7v+9nYOqm
            YBLzE7qtS5zxAyOGmeaUWr1g2tbWN4fv+bnvaRamTDS/ddaBOvJ3G8DSHTU/
            5CPm2BzUVz/PU/tQP1i2vmEyfbUBa03dOfsB3Nb7jz9XfxbVKy5Zn73HDywL
            pnKiT7ZPwsRz87yffYJ7HbbvIu2M9o0lf7XB19dwYCls2p5X+li7CECq/rRp
            8eyX9DEPMd1XvjWf7Y0rytd8xuyoB2I/wBUjb3xy5kEYfeT0gUFjwbSJA43o
            de2Zq9+91hDBSTRTl2BvCGra+moDmSYaRIw3lur+q00H6PXTz5MPd5E+Z32U
            6bSSs0Ig6jZbBYN70+MIORffTZXRTaOz9XNP68fsFjf4vLeVHKgD6w3GZtz1
            g1EPSWtHmziPJSX3usn9NXL8PI8JbwgktFkcRk7RaGPA0tDuu58P0jeDI6q/
            Si6HkV/JaE7dFrTb2aq0LQe14kXN208bCXbS5X8ViNR3LTXHH5a46y/Ofxju
            fvnP/Yt//+n/3O+PB4P9uwOaJEbB+ZpciSDKOTvAMfiR4kPMHgvoS4fMin8d
            ouyYWKcHLC+Rjxa3UccW3O2D7zkQ4eIspNVDaiPkmENZvSxBwG3QUGvg5sbt
            0KIPQE/AsSB4N7YSjhPnE9fvkcPtITG3BJqBPUIJcEJ2DSAGoBHg4iBGUtSd
            gLsM0W9FP0g7agxpRHQMXIO/CALD7bg8bt6Q+nME4IOux5hji7mumG8HXBEi
            QD4WMBjlBp3FOaYlVqBbiAHAwegmgBUuNbbhYlstNnKnqYAhAeMyfewQQzoG
            MTCW0VwcM8TxpDiAGGfCHwByYhvNleJE/zew6g0W/W4z3rNG6kfBEkU8HRfG
            uTp+T7qpYPjujg9G/OQVn4bjwBH9gFXF9gNpTS1d5YH0DmFu9oR9DNYlYEbx
            FWkmB6bJYVnczMlhUh2eA1OZIDInqVpbSH6k5O+c/FOSdyVhQVNI+Cv4a/gD
            tgx3SpiGxGXGWidMZIrA35gkcGaYvFkSPgDUxgEBLDTGgJzhgJvYCP2lElKq
            DxAIXoj2aeEcH5NcSzlEzNSTcu4pV/xu+D1w/QZ+WpBYgZiKRy/oV6PLEywq
            umwrlYF7IApl1VRotUZ/lQ4+EGBqxhENIa2l2ksCN5cqvrWiT6xtaq4nQHPC
            SmMmVwLIJLB8qXVcQ79t3qktn9qD+0BY3YfUMbdYnQTQTx19Aw5SR/uOeQJc
            p34/qWOu+lXTcDMN9A9WKqHXNDBukI40GsCx4/4YYMZXGngHYAYyck3A/Wli
            jQDhWMGYZi6Yrp6A8dPEvMyB6zMkcDFp4psnJPmJdb0x7zfw+41dceM53E43
            1hCiarpbTzfm/Yb0f+N9N8YIuoHdKd+ov/+vbdSy9hFyWPzyZPiJl17Xk/vj
            T0DUetpPZOvmN+766CMYJyrYef7zSPb//vvv+K+Be3Epv93C/j2t6AWeB2Kg
            N/3hs88I4yGvfXab0mOfTfNtwxlEiU9poMTdophWZp9ltT9n3Anl1ZISQyx5
            nwXjTveZQLmcMYh/Kfc+MzUM7kFuBw3jNqByhtzo80SwfnKGg/wGTOS6A4VL
            9N3B2yFu8DdoRNfvGKuj/yBGGP0TqCIGVp+OziYQfct8yozoE7QM/YGCghqC
            3lGhhN9Vfeyj1MP3U3WfcqqjOEHfnZuKcfq3GVaIsiKC7jx3uEEv5XYGUgoa
            ynPOXXVP9eR6p/qqgT4/JpJgZkol/QY6cqHzfqlaCchdnQYBjNfjWqnDhRIp
            5ldSZDoM8XfFb+fs97Trjr8hu+Hr3Az4nlqe8vQH7AzGt78XPMXnb92TCiFw
            Tqg4Grc3HppfCGYbPIK86fCD+hYMa/LTNZdZ5/QEAr9R/QP+ADwP+GSK3s5h
            rvyKbV5PxYTyd0e75gSddh0In882PON5VNtq1/Qbq+in/Qahe/2ufG7Yb/kd
            Al485TjNC97b7R4+yhX7lOuufsilDjSFPDYIvI54uUCzg4qa2vWRZh+ShWnW
            sF/kCBftvr/seM8sB8PYrR/AcffbGMZzcGHTb+sHrQpYbXPvnK1yZ1AG4M5q
            5Popj96mWcScaDwzmYZz7vHNcUnSSWAC9J7bzkfdzwfrFx2aRIRNwWOOej1k
            DOu/BS9dC1gZfR/gS+MHFZWeI+E/tUvt5oshciZABDZivqXx5TPN9GK9//En
            5b9CTTX2ryNcPICvJ1IR6aQMrgGA5UvKgEWafT265t4gssArHS0KgFT8BmMG
            Pvbcy1JvYy8D9kduNPPR02N6cA1o4QPXnmpJUNbo6wLn9FAXWPe6Yuvyu6n7
            h9xItzTM2YK8C3goMU/sLky2HJcBJgsgDjHqAeuBbyjYueEOi2omTL/+l5dw
            CUSCm6zgBH7g+BwZpgScQW0/RAxXwWUvcJYOXCD2L4QPyOeLVh9skIIWMRfc
            X8Azi3jAeXredU5Ex764Ova3B7RAbl7EI5AD+jQc0Bquc38RB3mMaI8v0PEY
            /Yb7Ka4/eA3numI2VqWGogHPYhUykWMhnsWzlAsIJWgGxpDt6UIT+3Dy/ZO7
            anf7PO1zQPvN82JO55jD3pbw6pXzUwokkUUjTS7SyzrQDLwpE3foven1zkiC
            UBPfe+nZHsDq40ZLhi+pbIT8I9wIXBhoXFvV+n2Ak0AJcqvvfrkrAtbH01pL
            GtUIoICTJkMSZBLQgUWEFTPnBXhB7UsYi32G8cef+MxMoAtrj5XwgT4mcCqg
            MKuPS7h5yCAM0YbX0/OUG5y9AxwCyAgvlMvNNoTnl3OzYF8QftCHrJh4AquI
            67j2NNC3xSsP5KIh+Hnic/P+g77BBD/5wljn09hnlkXTvIUF0zRWYT0Bu/Wm
            VhYr1bhOmL65wLHnRauld5iTgj0KlDEcaAawKHZQMTjBSyCj1WhGbKAVwjj2
            GBXmEFHo6p/pxewISDgH7A7qEx1trwZ7tUNkK1TqAT0IbmgNXIWUTN88b0qU
            sqACF4RApIdv9Zl6SdsX+t0p3j4lFOwh7BjsRcK76SWD5thVvlvEZ8lmze+Q
            jQH7bBHlYV0a+sByQTaw/eNl0yMK15Fu4P3a32TfSlWPjQM4qf78Tg6C30mX
            mc9v8sX2t/TSN+2fbkSj2zQSibZSCgfNrIJ/udxznzsai/oz7lnQ7+LkAzed
            35DpgZswt5d9yz2fKX4B3wdekYrvwr3yb31XtX6B5h/OXaAJOqwyAfdAZJW0
            iHtpEH4cEYCPMzzUAGJjgSWbEINBg57pIY7dzlXfqZrsC0fC8sTxvh35omei
            f4hZhF1IXU8gO4qtApxYGtYXuw+4ewy2jZA0vazYnlic6tWBvQteCv3FG3sI
            81PQL/A/pWeiVf527bndXFTuQOYEHCW0XyR49wSMdAdYCQ96Bj7mOMCrYeKB
            UYuNt/Ctzu7NiU6bjbcO/M72Wy+jWgb8hPOb/5QhEnMpu5PtngKuG5iizs0j
            EfXQnMi25D9AH+sOuRDvEICxdYz7eOiqs/NnZmsH5pMxI/iizVvYOSiCM3Xg
            cqQFuN/8h56wT7efB+WeR3P4EN9ibsehC8E8ONAmW2xIaIbLOeYA3P1Qb7te
            dBMM1SDDM7Dhu8G5D5VCRCI2xvXSsbd7E28JDDcALVdpTboqUA7CX6QaGOT1
            /AZ41AFs3/pTt3cEOfosRwc0XbJhjcB2vTbyds+oEpMlzl833o3ZCDcWoFkf
            DmsGql5nyq40QM/Cdwcy470GQJMfOrffxMe656tfdwv19JNo/yeBXYEWTXwg
            ySf2+zViBtEmoNl57daeY6czEoAzzQE+lTIQ9r9+g8nYc3bu+Y97oPjA7zdw
            VSZfDOgx8z2tYRu3+Muep5MOcPPgO92rfwY7YV4r5/WhPvy9zuaVFA3GbmBv
            82fZnj6b33Tb84ebTufg7RxxyiRvnBtxYiL8mBnPPHEc9xHW2YGG8rhtIQk4
            xfntKZPjjjoCWEGOSuSvusl2tn8i9pm1JzbEYi463xSGDFXOJYbjrN1pfwGu
            sV273/xMfCL5oEt4bcpmSjpdNwxlen36RKVvpbrN8X7DnPGYK9Ah/4G231UC
            TYuvMQNhUY6qRAyA1/mQQ60047D9pB2rjsZ7GHTnEfPfOJaE5xIwuyd+pp+U
            YzSWbHSOc9gW+EjCbZN8CugdkCNtHCNzwXFOmxiXBXQIvHVOgw8D96DvQRh1
            xGcYWnsG9twEQl4EM+FNwDb+PdxDwMB073rzPQO0FbuoAW/RAwoPah49ZQEG
            A2oek+yFUnztb8wLuPuq4mu5TpxPzcueS4e59Jd9Q91z6db3XHZcd7e1KfTS
            Qt98TyBHZbS+sl0G7uARCHpGzmUW4te8YtdpXnP9mFfgF+uHEiEtSPRRYhzh
            4n4uTrwfaC55XW/f9non6JnGFtivfSv21H3mNwDlvOaO87p9II7MWECkP/cO
            mun6s/H+M+04p9P9NW0P3opSAa+15adKtjIanaZrCs5ByID8Nu2G7LES9QuN
            kUgRbMcdiN9i135MaNrAqzQGzWAVIdphk9C5+vb45ttBUFvsK2BnsT/s6aX9
            iC/eey0ENGLYTAqxgVabaQqQTYVM9ndP4ODAWxJhYhjUvN43XTgdeRn20zkV
            N/Uv1N77SJkfO9ueAetv94fu9+FtvI67DqBzg9XWOLor0ZwMH+C65oZ3NWDs
            EIAwPtD9h/YaiBj2POVc8YXdgb+iIIcXz0A++ubsY3uQvx7gTOiDs5/ZOIx6
            Gb+o2Aq9aV4STZ7d5oj8C/B4v4VjL3YNKQ70gBFmD/mSwXhO3a90XKN8RIG8
            i98HzqxcC/mG0NkFstxZI8OykDXopEJZr9gcgMZhvk2HrGvX3ckXAsNBPKG3
            EB0uAfz0ixMnsOiZIO4mc91v7S0y2kE+F/dN+zFdGUaTLx19ZnEx9XZgCyD9
            uLZsDghbvEZETDpFo0sQ3W/yJswt6R3klaZ4N9D0+xZ9Sgn7c13C4RTEkgVZ
            sv3AanANqVpjX7pOXptzlrpwSEt6p9qDej0UtZ7t41Oy7bM2q47F23m59tHZ
            Ma99fPZx7uNtR9qFyS+bPyZ9B59btBL/87f25M3ABfE9i0oKanWo1zP+DwSZ
            WBbvEx5eYNLBZXlwvXdIU2tH6zm/uxX5UgCzGh4eYUH+xP1BZwbwxIPyIyjO
            TRud5x+9ArBHMU/sB9gNcvYY4IkmVTegBNpBGw6vERjt/Gh0kNX5G2sOmAwQ
            79rjZF8A2aA8R3wWW0ymCALvxnlnyKHfv+kyVfVtdg6xW3DNiN5FpYw3+K77
            etznbcN93vuA2gHClRdNmOyTW198m78eKpj4zRAeRpSLDp2uOCGLCmP5Q9KO
            ifVi/KuH1Itpjx7zCySwyG5m4W3zkgX2gDySQZMqVwXyGPv2P/r2v/bL+Tv9
            untt2fKiJgB8LxVO7z7AvBJ46mBYKPlL/9txBuJE9hfHeyw1k5P6+/cL12Gc
            5IMDPSoeN7FfuJ5e6+kL+enKEFG6zY+MsQU5LkcSywO/5L3AAy1Fqt6QIA1O
            wvSPvC1BJB7BSXiccJgDvDjCi3xtashaIvGelV8MHrvqOr2kvZuAighZtDXq
            TUy36rZOdM6y/NbyYw+tGT90bvjs6soQf58daA6d6KlIws6ibC5xlrIrOCFv
            PANxFVfV9hMxJHD3ZfeA5wWWpPtAjnTdEh08v51nQJK+/XynYEuyG7UvJkh6
            0qHXNeAb8gXZUUU1fO1u9hDJp3FvenwMA+I76TJlRLWlHquLFlNv58tkBJTt
            d7kss410Z2WkJhyIZaBPvc0x+wBfp/eBzJE2VTrjgech30rhpoP2YRFwPOvC
            sTm3RCuBqoiiR7XfxOd4X6LqpNPVEOIxBArQT8zZkA7RU77GmLEGmXu3YI0T
            d/Luw5PWZKmNMF94t2gzrz92/YwR+6VwfJO6ZewVHBzXETvcrAaP+CTyit3m
            yr4T423kuYCgO/UhnKMEgIV86WWeLXZdc0NNJq6XQZQmvYYn3S8pDt0H5NHn
            v3XRTq9rhtMAKncgjTz9i5ZN4g+AMXW24OPr7kO8AHkk7Nu6+zj6U3nZR+w3
            OXQAyXMc9B5ie9qaqMPJuIyjdFO777UgFmn9vcEK19Xkkan+GGPesbYAQyD8
            24XXt2cwMYFwMmS2eC7znLd7Iw/wYvTZvLGEtCzgncPWCJOWgW4S8U1t+BZc
            X+0mCjr7wWBuilMPrtPLw00+EwepCGgEjtQ9kc/EBMVJWWPSk+xxEn0g6N9N
            thqQj9Jt7fH57rl28EskbxvJ19H+LZggHCz59Du+XzgAsHnZMzdwDAApE37U
            jYvCWbwW5uaHGKEC2cUX8QhoLJ2z5IdUzJmfPBc6eKSTT8bjQQxwwVMgLbHO
            Bf7ujz/nory89cfASLRhHTnVcT90+r1wf2TxxqQxXKeDKzAe4YqUjc5rjwbw
            o5iLBOQEWt1Fz5zOHXEpWKR7r785yhMG6GreCFODtMJCB27aItyc9BOnjhFw
            TDuF37xagSwE+VZpRKbg47uviXmld5KScgAewTdNQI0HrHgwP+3IymlcL7wE
            utNfuGfjHMMzogHVZPBxf45rOY3r5YOdth7r0AHgIkLFRTWmt2Cc69PWlumM
            I/5sH7sd722zukFHYnTmjSrrFhg6y3AA+dRN4VjFeeG87fNIGlKkO2Jk63TA
            oUwkwA/bv41kFeC9yLQFyuZAO+oULSQTuXrVmuWX/RC717BE3LzjNLiOpks1
            L/rrjz97BAqM37amS8ltHsYTsH0JlEmiefj2BKoGgsJ1xZpiCVaXqy4l5MZo
            ZgaIgbw/kr0pr4JHHi2Ub7mtF9JSJtaRTal60EX2AUQiOYZhtbL3nmea0Q3S
            MRxv4mP/fPdJt3/Ax3X6pN63798vXTzQFm3VdzW+r8oYiL2r8/LCod7km8va
            0cBw2pBcrKJ3ENY99SN+AWdBZAeLgb1aqvOjvvcq57KZOl5j4j48c4tZH8Ll
            FP2Vj8bvoDaQV2c0ozJxDsZ9EaNAfK1yeCik31j0TFkXdCNr9ISJSRgLTPcB
            QdpsdtLjEOk8F8aIe2sZfqC7/aI6DH0uR31M/uobAASca333Y3veOrie93Hr
            5qL79GfFItU//sTo0vMxF4DvwflQ5hKOC7QAmHHWVmY1/qDl23Af8XehuwPw
            N9iwZjIJiVM5dp8kvlnenqtb4pric6JkBVmk0DV1aL6ZW8Vv3U1RupQh3AiW
            NE/wYVVtkvBMWYk5VYDOH9pWQBLyPPoUXgMrO+idkmrLcjbZ32Z4TfJ8xPiB
            TUsQc4K/Lq0L9l4BjXMSGd1k6JSzZETXvkdHOrQFXilECpQQNA53P1QcUi+j
            85Bofyyz7/cJhsp9nW/K85nHdkgMyWvg1iZ9Jqo8P5si0Pa+dxq/I71Au4X9
            nmTDqcUAF1O251H4UPzj1Lmzc8rTfB82AeYHPKOeLcCtURr5vG5GDZErz3dn
            FOpoGHwjPifNEi4Dd6u9DBb29E19tvqf9/31vmrvY39z6x8xH5AI9xozehLv
            YBt+0wJ2irfxwOcb0CcNAC3hGco9bPvMJwHamt98WJlFc/qsJ934/9VXOX1w
            vtiPA+4i3w85oIvX9+T3Ke3s7xBqB9hjubunlqsM4STgjE67mwc/6CHsOvBL
            EOPqfobyLyiPnrGxUHKxbyA7xyNuMlbjgZRN4lVBFL2PZm9keyo/FSORb/ce
            dwSWinfjdG0+UnZxb3ruVkx+oR44SHaxvcI5aJDaMMEm40zzOqRNU/iW8uOe
            Q+E80CvaA6iDMLwa3UIfEKNNVvW2Dqu/x3sDh24cDK5IcGoxd689VijfJHmj
            hI3XqUu7b0eFc5UuHLQ373WbdL6ljwx+0652mz0xgaWh1ob6C84P5CDi8Ruc
            IvBgHedZRuIKRgFDkVHXDnQ1Yf81+kOAFDa3qsFSPc8kzfO2p+XXsV5KY/fk
            RlVpsuuHF7wxxyUaT8c2N0O+CSNjz6l/EugPY4BtHYutj+aNaer2vqfNzL5v
            992vQ/csVoZ4P63ve27fAz+4ACjkmXBMNM8JxupL103N0oqSB4H6tkxJvzHd
            BxzlfR/HrPnd79GYGcewcfCrz9v2CHVbOgIGJnVCRHTuKX/8CYa5yo7Da4Yf
            gsGy3us1R9eZI8j+/3KOwvOMT7+KTOwg2m3fKG8lzMkZO2lfAixWQH7oHzy4
            M/xy+mH2lruOtXUG9Ftp5GtIE2h4BBytmSSb3FRK8jcmi9QVXT9pSB+QmT8t
            U1UtHgxcc6CPCfuiLo+2ZsBJpk8cjqtmneOe3+c6Ugb8bJd3u79qj/Mgvjj5
            Rh+BFw6lLegy/pvnd5Le2GT7IPZ1zn2Nzw9lsWltftAW6QWZfCPluelk037D
            vPiqAKVOSUi+dvid928nOHFN3mFYJtpJ6FvAueoVclQyPor+RJA1c6b9ZMs8
            xPmOdtNsdLnufXZgj3q5e/Mva9sSPaaJ/D+9HS0VgHOfeqI7ftscbzoC2nU7
            TjuO3R9k5Mn+gCOoFXOdWgXSfaA7cu5r1MnjtcAFkN1qnZnP3JohYHehPfji
            5LAcYLOzwveIzdCeVjjyDKYfNsXXjtR34vYrBC/3N/vqtZc82vVq+M0F0Lea
            c3BvWlgBk6/9in5Ts35TNFk1kZ/d67BucMa5yNundeZBxIDAR/gMfDae/tJt
            0H21L3FIwLx3JItk/jKENXDjt/zOuIb3egyHQDQJpN9JfpLf3zDf37DSc/Mb
            Dj0X7R+GE+64GMvpZlrNB2If+uHmzneJrn58xyjm28KxY9Z7o2+rKJTRufDR
            /415Sx/9x0SeHTdaZu4BSIKVkY96F/VdGLN0NBDuQJXpcyBbyHjxpxILt+5s
            n5/r4G+c2jLvAyPrhs0bJVTymIfGj+uDZ1J8nPFHwrl4ayY9gmxA+nVV8+f7
            fJfvGz/328YkTBCZgvSmbYH+WnHbDPh+gm3nhlnApVUQMMb65i/TiLUqRWCW
            7FQwjtR/tT/c5msLXmc0/d62r0zavL8hUxa9KFbhd9z4ausny9YJTNojN+3O
            1K/emB5FNkjXQJ89C12LTf2+bLuc+Ei+Q7KF9MuyDUUjOFdq3ubo9+1kV2I+
            RPSZCSdY5/qQoON8ENbxF3vjdYDJ+rru7TpoAWcPs42+OGgeudLWt53LQgL+
            rjamoAnReLtImaJwzol4cpMPB/Vir+9golLqCHNHn8CkoFsDzKpsbWbzsG+p
            6oPm3soxObNpV4aB6bpj+thLNnfeZ0ZGtqVgCP4ytUnbHdh7bA93H771evGt
            HDcB46/GLbvDx7glQjAc+6sfbRL6NQbqg+cEW7v1RzR6jK3zualHA2bCFqX3
            lGQ2d8n3dyqugHkrnmjywq1wrknfqDSYXTN7/nZFcqF8plYi+snO2ui3d1uv
            cujKW4/0rWcCH638LY4x4bfohjf6EegFjcn+NS6U4KUFduA9HK3vTyXfQS0l
            /SPcveO/8WzqTolv3TfP7D75ZfcA80BqgdxQN7/CiRy1Uh374QMzb0YhNu4V
            +gDKvcZLx2Z0wFRYpoN+dhQS+RRSYScbNnGVO3Io14LXsWXGl3xK36YEIgGO
            z2H8te/xD/IyH2vUbY3o29oWeHPMf34sByrnf4BPw/YIUgY4Yl7iXyc/nKMT
            O/q8sH2vw7R1OPq+m8nD5LZs/mgCUGZ547zTXviMWek/lAe6tDZS3e42y+82
            tJ9co3I3ODlSWRYYtgEAQP4bk2DF1AXsD/jnoadkAiWmLcrNIbs1ZCYMGcIj
            cLanKiEwZ9BoLuTaA3lbKqnpl11kyaS9tmSGOhAXBuZYAVKhZp42OMdQUbCx
            9tykzsfW31/NkYWRTtv0lHSnkE8Yfzfqt9skg2F4jWPDh06MEzIDfQoZ+Pke
            9ww2brftY//JcaXbxpUZpUQHNMMxzXz8t8/gjq14olcu32fYWiq/1POxTljL
            RF1dHuDU0GZRYjf9wmlH9fqrHeA4mI+YWPaz5r48tCFM0rsYGPv/lN62DxrG
            6ZeT8pZwL/8Z0GU3SGCoWQBi7lhzpnCpJHFgdMFx8zp27aJv7udcMh5A7Woe
            Ss8k1nbczDIZJt2a3+tUqXd4ZJH3f9Wfu979vdZl93tkgeskqCbLzkgVCOF4
            5LUmfsPK0Nw4ZnCgo9/XmpiHg+HNE/MSsS4g2HHNDz0A8RnxWpfPu3ga34ds
            q1r/wmRpxETZS675wH1PF58JCf6+Tvs4dnvwaILd+2nemc3x6J9lS8nywesv
            me8xH26GCFCfm/KgUfRmnHvauij5P9zye4NEjQ3QsXaKGXtoxqY/RxmPcl14
            l/b1btdLIO9tuuZpOop0VbPvTZAj+ifTbsT+i3vW5HmT74j4duIu6lgef1fO
            g6dEXV2q8wO/tr/Ar8B1xK/UEh38en36/17f/r8nNohKCN2vdj/NlIhPTT/s
            EnEb1zpLD4nzvPnEx+zujPaV/xHj0Bb9ssQLgwZFoD/wjPltU6cxJT/bl86b
            jJIpxoa3HV4xCkm+9eA+n8ToBhB50+t486EaAXvTg6eh/9eRbc21p4MGXp9+
            /bSDEJ5kYyNfHyC4Ebh8a5s2evmFsL9tO5fueJiN88XnEI+5du1xDPJ/Z6+A
            L2z52M8Am0cfy2+UbYXpR7Y8JVV/tG8lzcH7MJBHifub5c6WrYU8FjNvQgz1
            LjPuo4AiOiZgjdsXx+KT1nvs2tP4Rn7fHVZp227y6hcQtvW/dSTrg3y3/Pum
            +S8k801/mPCPHBmTQcrvN68OajdcpoFDdpAsXxXO3Wlzma5G8SSFsp99Z1zy
            g9zf3/Ue7GH6wtEJX/BPfhGUidEdoW1f22MPPL63IB7UH7UX/Djp0d3PfhPT
            xir2j7i7iZ8xj0fsp+iK4qXpJ0A7zfZVeOm0HV0yzY5n/pzGjxw9wrE7Hv7w
            +F2GdWL1zH/s6CcYtU0pvym34JMZsZYXaAn4be5vGhGT9iN4MnXIuEnGp0W3
            cfdl/sZY033EZskPJkt8UmO8klPuxVcf+Z/14V9J2YyLbf5X2xBkJ1YKAH6i
            jD1qcb/yvcAPMkF8+uUUGgiyEVeuGzUN2o+MT6UvLpjbdlEel35Neo8KqANg
            D/NBZwIj+Xw1+23faclzth5i+yle3t5z+uLegxDrINS1jFUlrqD34Lbttr3O
            gHMKL/ZeyYcWXKwEPTPSn+5SuBbl6FCVhkZwd+seJAPw4HW/d4gwMT3Hul73
            k90fOw5hy8GaD3EUUaNun/MTl80PY1HYPkKelu4OX8+UPOddYHP2uJRNstEm
            /+98S7KxPfQ5r/IiAe2kOtvaNPL4QAP1c10UVMpUJ8XG9vhngvlt+BsQM5UD
            y9WqQA7O/aOSCGh/3V9rH0EbsatYNAYSzRg/1/7vxv2aY/+ez07bR5Hf1XRb
            n3zeBfL+WgfqkPCf/E+zdNJZPiiv+yZHi7PobZXP9expFdm+r+0X2G73T8a9
            5/XhuM9c87htLUW++pBR2rZbS0479uxt53bbPk6e6LSTXRt7YAbqGlz8gkHw
            C0FyzfOsuoplLjQ9KXZwM3nX5Nkjb2F/WPwPzQOMzWyOuUYvSJbK4zj4OK9X
            8zMvyfgIxkNP4omMoZl19Qr7mQXegYJTv94yMYMElOPVjfvIxpie4k5eO8j/
            bqEv8j7bHyEqFr3S+azJ4RbMFZhhIN7k2grt4ILPeI5H/riudenIgAk7IyxB
            d8PomZY17xopIOS5RJ9GxqSyQFCC3AZywwzICTIL/aV8DEM6BHdb4p4sIZlu
            cEz+It11kM+DshX85r6Pg7gfqGjifSDqFs9diIGT+Q6TySCepdxFa+wrTqVK
            gnh9V6cMt7OHvPR21J9TP6pYWGrhxbMWxZy5TDd7wAT4NIwFxLgAVTygHfhc
            alGYSVC+GkFt/XfbHiENXFTUgP9QnI/pA2j7C4G5FmjV3GMhQW7mi+xWVdxB
            Bq886yM0BRGlOoupZPIU8Mz96uVJ9AZxmba/QBzxsjUR5mOVvarZvHhKP7Qr
            +1tx+hICqRShP2Kibatn0A/qnMFXtCC7iEvP6th4tEmlxDgnh7VI1KfGjO8M
            x79Y/sbkJwL5RYjyzWKgOQ/Y53kw5cx86104Lixeoi6edsuWTR8N3qEzPxLv
            N8ZSAKGGbjmTeE1tGbNGv0H2G4CXFNP4bsPngtKkMf0hndvzOLFo1PP3JP/n
            1PGd1FBrTSpDboGNsbmuH34DU37+WgfFfgbGR6dHmdZkr2KsSnxkm3/Pt3vZ
            hDmeG8yxF3IHngPE8ZnGuBnIv4Dr4OeL548KPwEtw4uYTQLyCfqb8laEwKng
            TdmJZJtnfHPa18EWBMLxvRgTjPGfZ6Uxzo+yktyKMehmZ9Szr+vMxVg/1ocY
            zJHHtXkMExjg2mNhjPHcYyHP3Xd/98d1juX4tD639rNs1Iv5BsErd/Ti3ms2
            IT9qHfe1M396po2Hz3O9wYws339txz7GzpfZN86OO86OdZPox80MWIaryZ9B
            ZInmNxawM7OnP49TJN9r/SmP0kVh3Aro840xqoK0Tn/M2IFx6UsYGC0eJ/16
            5aME6HwcjfuQv5nzpJjuGHhi8TziWzGTnfItlfXdy88fy5ZbCmn2LD01s5iP
            i3HqRbYJy+gUmEuBMstjVir6IIRlNpEdn8eAedp9Dr5p4JuL7NYnRu9hgFqC
            IEz9BKREbNUmX166LoHTv5PFOTpp/iGIOz/zveMm8iIycsZfLRUTYij7nW7Z
            fJ1dpxoD7FJRzAZjJbJMkfeAOAY8eTPHIPBKlaYf7/NWJ8n5Id8txfRV+gEp
            ZiKxT+mkP8+Buo+uQu3bGNIxAvfeW9d0X5a3YOv2MZ373Mv+A0HqLUvTD2hW
            RXfUqjlWfI5TBFlYLz8BVf0zr4uS8zP2fNLavib9GCnd0mp0vj9JxvYvPfH+
            PuDZQUxB3X2gXEQ6Nox2y0cOlHX0fY5VwRyDG1BWGayX7EwYOq4Vs1kdOxO+
            6+oP/XXMzua2T7/cfWnK4swwO832XxHd57zhsw6MaL4ik5PgCIkG/TGH2JRP
            JCubKNcErWSSxeeWDQALTN9B32ynQHNHWydkc9rilBBv0bPh7mLyqNelss4r
            Oam7bn63aq9l5eHID2hHDLgu/o46kifct3JEFNo73C1p/OxX8+9kxh7qoVyq
            4uV6o4vR3pssm8cjdm3SOQZfxCcxM5P8cVOlX1cNy+VHbCp5ZNKhg8PARz+K
            MwLmfpj2jClmP+8z7wUVpPcqtFlk1bg7cYVRSamZS4W5eZTbAgIXeSaMDWRk
            0GY+AOPNLFWAjxHpKF9eY6KboOFcx9wsKqhRCiPnSgKt3dfARMlbs0lFTL8i
            Zmv2B09Qo22+zeT7V70ZRm2+lRTd+R5nuV9UAsd8WjWeBj7wwTflD14KEE+m
            mvZp6VYWZaRWFKe1Yz68Ylu8YkfaBTpM8w4Tc3CKYy9M90gf/uW8+ULimpLx
            XMovE68zVvDvgXpDykyZnpW2/4j/6WFbjx4k01pM2Rl9MFlSxt/xeZ3a7uBB
            KjPBbj8m/I6KEFE+EeJ+xaRc5oHDWOB+v+UIlWsI5U6sJUMfJ7yvMf7SdEsW
            J4BrrnZGACoPAoC4PJa/yuIqFj33ifNchERS5RcHyhKUuwX3lOemMbZZPkhN
            ui7Q5DWpmov0VariT7insT8ccJxoTDI/x/Nb/vPZ/DH9ZWlZGANQnZVsmrQg
            GeeYD03ls9jImGEutaTVJ73pY2EOKOmCLKCZNP7xoIOAA+USgEB22ZHqR8iu
            hiOYX8g1js7WDQyafHDpA13kFJuoPwPNxDGwVhHzVExKPBafMPc510LMHPkJ
            p9Kkbu5rxvP1t9+IdGsQsZmHpD2NGI/C1pKyydaY38u4yM6pKtKAKxaVwgRZ
            dMIGn6Ockc81rBl9L2UnUS6eIv2E77eyTEkbhu+YrPCn+PNHnDyTLp9z5Xln
            7OYyG92zfW7y5l/6Pq/HByfY8ejU1r7O9WPt1DxDJ5SkfQTiiJ95sk6eLWZv
            fzb/wDG2ZnPO/Dlnzv1rzhuk1cA8mPR90T1mXrF5Zp58cKH0E9nzH3+sx/FT
            CkR/3FMBrEzZ/oy0c2A3Hdmea9TDqEeOD8wdvBjbtWkTbfNdNJJzQNrYHeXb
            DzrsF1bFqZqLTCnSx8gZeYin7NVyQiXqFu/Hwu6x5xnJzrYssch2sRsuL9v+
            mjDT0744aV0HqE0wnH554TRyO6KrLFHp6U/C80ErvvYdcDydG/bewU3GuBAn
            MHQrkbWaLKYB3E1/VeVcMls2QxdY8emSgjC/vpdCIOW6qlIsiqFwc5+Tv3AZ
            NIiobMkVoWXj7TRG5pw9PitMpkx5PZTEyItOr1Oe35DEGH/B36VYLhvZTpiV
            7wYXvM9bY9wRbVJm68LYn0/4jNsmPbdv2YHrA48HPudl1wMDRhSFY/nDxu4n
            LOohvMLGX7Sf8gttZ/JAgrhPM9QF/GF5IcRTcgIYr0XSSzfJTEWC23FEbOt2
            W+LnvFQKWW2udxtfLd7Jt+P3i2Wa9Jf3Ks5j40mqeyDaDka4Bdl5GGtUDj7a
            9pfW6RdDGrt1GExyQl8P4nFfmVSI2cGVk016Sqa5vUzHoewOpAWMQQWd8Yzj
            VVwSxtmvh1Ko4otsnM14luzn8uY3gl1civLkest+dHLLlHGdmEnJwIozrqZH
            zhZiXsmfgd9irpS5/egmIwZCB6cXJCtrHOm5SQOoXJPMXJW0rrIazkv/N0xP
            rZxIdCWain2vfL4mxo6KDw+AYUrSlMEq472fSf+yj9wq1WKglbvE5rnrHBKt
            jqObXjVabLTKAPNIlQtoiK5RVX0pH87SPVqOd+6Ns2bxI2aU9ms9F6+TF2uf
            N3uOVYx0Lr+t93O2hk06qW3j4tzWpJikQXtbtm8g4oxi6119dkyIr8bHyZuF
            yUc01mx+Q3PH2tGe+IK3jrXITyMuuY8PTGUITjcICC5ZYKNm8VHNIuDDocjC
            4WxupKslzaQeXIbszt9OyRe1XkCHa5y228duzi0T0SDhPuOo3/HNth7Xax4u
            35nirnE+sOI05o4zLnfbuLzguzc5CjCxTLK8CYyXpITF64JdRu9v3QOoTGPM
            +vf9bvczDdVDOo1z/3JNPD0bqM7S/s7cmfViNBt3tjm59necNae+GEK7p455
            KnBM98hhtg1b4HwC41xofCI9Vtv6+7aMt1FbZr+ozIslfh8o3Po/c0jK01/P
            Q1zZ/atkwO7/s+2i/AlE5D7G73f8Dd919gH3bVrCOV/79qJtfa/VxZw7jDVg
            mtfVH+310z5be+ww2TanWIFVQqJ/CGTDQ9/NAJAPDi+06XDuSSUkKXp38Fzx
            +55T3KXiTs+9PGQLEn+r3GDkI6KPRdUWzFZtxdIhlzXGV5r2Q/KR4seqxSeH
            qnIvqkM9TI8KFo/lnHrDVwKhSKZSnMulHGUsHifaO512V+zzjV9P3Jz2e6O7
            IWQx4NI2GGNE1AyRleNPltupqGCf8ogQL1Tqhl9zaja+xDUQH5t75TooT965
            Fuxaf3TNndjVRr8A7p9s+6cT4bB0H9GhZ0o8qkHsnvIgbf79lkOFT8p7tGGd
            6c+i2TZn3zh4x6tSRY/3y47+kgGCykR4fOJoeY+b7/GX5Rl0g3qWVqXnrC88
            1r3lOGGaUMYfS9+tvdIp/3zLmX3j9s/+qS8+/a52MyfrHFi/xbSTZ9zEpwev
            d1VwMo7PfGGZXyXQDxNzueYCLd05NcCCLuXVCBhIQX9dudEAdf72qRvbrxQG
            9Fttyv0rvRKzS8ri7cVbyfqtWmMmG/tmumNt2GD7jBVXSPeZWwxSTKYtidlt
            7vjyNxGcsVjWC9Zo63g2jDENUG2LcHY7i9OkDzLXivRaRX/2+4E3+O43jCWD
            J+8+YKzaNTe/YQyfbDiSLOZP2Ep7zdMLtobRzmF0+R7MhZuTDJnirSlQKv2p
            V2J/4Oe7mV2gKm9XoF4YDGfT3NCpykM6f5RbbtFfz3IDOdExiB87Fba5dh05
            iVTNFMWGU8LWuTC3BPmyly6q3sFno+1j8wA6Zg6R9p9veKTfxuEVDtzN+2aK
            /sbvmM7yaHINPtd/zz8LyhFv0vfw4fzSreSOC2IefRp8nlNLlri+ljOGuisw
            JRDgnaIcbpr3l/Rumdpqw5MLnNTYuWWuXeNpAZ7Agebnk8dO0iM16sPJGlMP
            K9yA72NkT1zSAVj+MdqJovjRRYcU0mXm02beMg/8BWyvduiBGWVquHYMlvwp
            8TbaqrnXb/N/C3SVqMoF7JizbPOgjfsnMQ6ByLnTNh8L9W0r3J5VfPFwUi5L
            xhhl5sp826H8Jf/fefxuluyrXnHkU0oVy4tIvYCPOy/q/k3/apo1lTNWOXv3
            Pf6uyr+6KIxIRqvZqVSj5SwWLylfa286bs0LebMPnb3lCTT5vlnaaqwljWtv
            H99XbH9mbR1f5tZ5B8t19ZzYa+Xiffb5sHPmNDtxtfhg+q82LvGkdu74LU+u
            45A164zBN+WoVAy4TEflGcyDm9y+/kpBRT4PNDdQ/+nL8+nnQjh6SAOJi4iT
            PAPKLtk28bX0pcgkEMrPfjMbSqP/IG2ry/yxmVv5oa+h9jtdVW7FkxQSCvoR
            QLZWkTZaa5Qjqoj/IAfuXrl+Ke/96JdMfk8WX/nyNSDvXM3uTn1EBL9UANkp
            vuU9xS5QcVQYb2MbCTg3AWdI/mvt6Ie9+YOv/X1082xUytuYmGQ4Woz4tahz
            xfiSYpbItks+WhBcc2eoOb4/7e+Tazrvl2fp+7s8iz79KVk0kEfnWtDcCJcM
            wOlNb1lqFu4PO3V6tA73+W58Jj3a8NjcftDyV6LfyzC/FrNBkMwDpTlWpPTN
            5Vu5TDd+Dy+/BKZt2HlLFQNHZQUrbjMigrzIVBVYQn/4atPfbYqscfrm+vK3
            h3BHfwVGgCf/x59kmEwbKx6PjsmZzyhncbTfZTEWsUiGuia4edoK+JtpBMDx
            CWeDm1u7jRzaSKtDt4nn/DolUOMxpAzQWsUzjwp9FoCvBY8D5+7JZH4qoySb
            p7KxBPGi+E36gq1UqaP5ZS4DvqOx+mlsyv+GeczMU8KtRfhmJV3wqq85DRsu
            6o54eZQD8xE8cE4/7+/nTzvKSWeORMeHdMj06X/lf2MqqM8c/OESDmqkQUyz
            ophg+jlmMGagx3kyjGWxaqzihidtA5BrDT/SbUZ0Gezc8GanIfsMfO/vmfn9
            bMtcJ5ggZuqLnbGcUqal/Gw9omnwlRRWce+1DEuM+so79aLF3nK6taD815Y/
            mAkeGzOHVf6m584j1QBDZrlGDC5lXoNjX6A/HW0RLVhOK46PfWV5dtFK/cYP
            4GNoqRyHn2c8nqoik+96bsXrkarnCZ60KQ4MfPHtuL/i81gV48kYMea6fxRD
            cdG7LinWzIsOP5uPogur+m/XaqX7XsAQPSo7oCPD83kM047gt3RMXToLpjFi
            7saqcn7KmdfTrTjqljBV1E/5dWt/q/qRY+m2m0Wa2tGRaD2x8XSkO+tUrnEM
            4b5Orq8MroR5LZnndywBO60acvIhLHPOmf8feAlEKDfZ1qmYrRaXp7xL4e70
            bwrpVkHbEO7Bb1dKgo3HLPaMzqrAw0U4bUXW2RzM1jxk8/KM+XGmA74sp927
            vXuWcvozgpzPLeW1Jmw6q4a5rJQR8R1tcm6C50+soWD3m+nvlBKR83j0C8Vk
            mUQv987cl/LTkjygMVzvMVAftWbxBxcnjoNpj92uNYl3k5PH2wvmS/muOMbH
            q2Ly+7vCu0/RoKBc/p7+bo7ysfd0ZDH/+f62nXMPCIc404eTJ5Bf1rt2EmsN
            RonaTTWmn5M7yNuSgn9Jdn7bOfUOxD+CZfJzF/o7cWYFPG1lvmnb49rfzInL
            WMIoftgnMn5JOTWcSywua7HtKVTsySq8SljBHNCwivFGs5cwz7q3oqLsm/UA
            VL+F1Jt7nT7AyraqmDBsV7MtsLoNcTozBnJiaPsTjgclCcNXwF4Dbhuan50X
            ITG/JDipkuLUPCjUza4p8W4AtZ9yQ3vAV3IeCWrg8XNBT7RCNfrsNYqPk3aC
            hyn+QZUya6srAX1lHB+r6Y63nYHuJDr3gNkeB2ULz0KJXnhWdgKyzHOf036Q
            WOPF7aC3fR52TnUAz6RynnGuZ17k/tY/7AcL5xhSUrxNtro+ht9VTz1uHwTl
            wsd+fo3B0QVv20Mu5RlzJ5/U1Fzx/H2/ShTZdQROjhlnfgyskOLIWniDYebI
            lW6IUVlRPINstJdF/d4V7fvyc0XTPTXi0fu597jlH5q2HUy12ve5+A/WggDy
            o9/LgQnw0+jDZAhmzPXbxlctJxKvtdvkjXCuz30efGR+c8vpxDxpUb4EuGdx
            RLQ/KkdBNFtotdroOrf81DYffs+xvmXge/dYzjPUh7VlerHb4t19/BgLzzkO
            6v/I3Sg0ieXanuOnNlwznajyMut3fuaZq/hjrmQ7Y5wTA1N2njevfCCex1lT
            9tun6TU+rj9dQ86cScang/WzazMAI7tgcDZpngNezSkz5py1I8Gmam/4uc9v
            y/lncE/43ufcHwC+bvtD+akkh7Jv2n87U2PKDrP5nsvy/6dqRxoKs3yH7Lwc
            nzOlqbI4AZUhupmW4WHUw64f4AwZVhOsqP+RRSSbf/CpL3BsX0v2YPktBM3t
            sjwOnrI/PiJsm6T0l0V+vcqlfe26LTtPmIuU6ZwR6RPzNG+nekx9mgwnPYJn
            FXEAIfeIxS74vaeA9GQHXWm/UzFNlt+r0WeI1Q+jl79NHeBsVa8y5NrCxgeE
            KZzL35sUJNDvLfODGfdJX/VWO10JRfOZOJOqQq0RmQ70DZqfA5WTwjFWk6d9
            4AL3Ezdw3KzIdoNz6TtGmnW5gPemvFX745UWjNkfXR4RMCHfwIdG1Gz4KwiP
            Bibmox9Uds6f/QYcjQFmmgu4mF15IHf+RNIhzgjv3dIPoJNhfQEq3OyUM6xe
            yM/nlVD543nmhZsYKubn2Lj8ntNAOQPzLdxJoSnuNpNbvbOqmWoaveo3MZad
            MuvHufwbprPQM7Rnrd1g/Ufh4lsld7kO4NWH5UW9do0TvLkzPxQV/yBOai/U
            yXynD/OgQKTjfO42fCaKb7Y10ntY09dZPOdVCHf+qbv+GT0QcvdKFEY5qFLe
            Bh5gjIAr9u7Jckq87vFt8sPLillC24F2rDIieJr791QQDOMWseZ2ZH909cZc
            4hvda55Vc041RLYdmxVnlFNlvnCA/C8guy7FPG1cME+M/H5u7PMxz/HamemM
            H7qVqvuBuLdzYbPo0Nr3pt1zhXY2qx3Sw6/xRxDP7rjjIAu5V0wTZHaw37IY
            VguZuNPBA2W84w6fpVy+VyFtz09WTQPGGUbsAFYSiLLhMUML8yo3pgeVr95F
            n6bhuvQ2YGKC4inom9MPz+hAB8pqNHy+fcdWZEVZi+l8zG4IXoo7roJ3WYyp
            A3/z7Lz6VttrxysyLor5cep47lwN18Vqub2UrwH8tHJ+DU2O6l6IlvYnB4aP
            6J3J9PCF5NxyslCaFt/AcEr/3F99gA979Y9xihehdt3opHSiNHQov5A3v5do
            st7LZyB64u223OZTzAdV3j+m57gs7w8ILcXjSf7n0MfNV222G7Q1saZYW6pt
            d9NjRfz6DN5sfPLvfDxzFVFOBaz6kJjzkb6azgddB6I77clzTGZh86b3AHh2
            XiNUM58sZXH2GTNpeluqpGQ8uvy9FG1Gv/Apnf2Uv0+WDwTV/wW4j3XnJVrT
            nid/4VqW/IdrWHaeV4PUi79pkRK34cGje2eeTWd+59nGp/hMo5ReuKT04pRX
            d77zTss9p7/mQjLNSHQ6IBDEi8eljAdmqySe19E/FEBez2n8zLnLuDvHygXi
            w+hn5Kxq6LbPMV5qml5pt9WzzvK4VPk+s+ql/vAVFEpBXzNd+NdHTLjlk3LH
            V1n+LoCP1i0PlGDOsTYZa4m99StXiywYQANcos1KOkjpLrRnRt2678/csU3A
            z5innYMp7jDbaOGSY9tJXnlYi8lz/KAsvfThgQBT7iOH7PWb3B/MBm/vd6e2
            TqPfCGuyYDaAAxf9wbK3SvSZeWhx48TLB8YEsBbViPJ3JFukGPnwNMAqowxo
            5SMmwdxRxiMoAuaTwTxpxoEd21/lqifHh2pzqj7gOj739cOebHg2qIqreK/N
            Hws/+ZfMeOglM/owgU5STGk0WatuXy2eq/7VrViYeuSlw8sfXk2gaJ45lsdr
            85mHLz18I2uJPZ0VOmyeMBTudVUy0/iMP5KXvuRnvqMan5jv25IokB9m/kH6
            kVhez+vMAfPsndyLft/zr/mxeZSjJP1V69/00f9FH2m96sxR9sU8OsZqK5/d
            X/VZdi7cH32e9XUyXRXlSbva3/QDmd67f9HPsrwkN2UI+RiCd3HHh5BnTxBH
            Q3OSt2OCVMrjBCfOeATxl5ZDJD2diOaxbKhV9YmSEEtZl/lzPdKFNM/4RG+1
            FNBG3tHXux7aDX6BRSnzMh3HBOc/6WERoix/hO/JgAJvcEAebAS+P3HTMW+t
            ss/LJkc+mA7GzHmw+bTSsbPvxZoXiU5eFCIucw/+7bPuej+Lb5T/HHUL9nxW
            7QD7to/n/fv597PBchFL3TTuTn4CU36//SvolPGKoWCtnR7eMevTR8v/PZnv
            OS7Sq0ZXIqawScDPyRnu59H8VSJ1orf5jEdH8eczxpe7sYgPCdSTz2V+cee3
            1uO2usejWt75018m/8+83/v8tKVjT9h6d7r1KFcUPuTO9FEw/oGxmAkUP5kQ
            mrWeDVMzIIOVm7GLA1JvYB6dxDrFyphPZnO4h7WL6UOuupNYPYy8Sb4AL8M0
            q7jecOw4St8FFlpH4BPVLOj0dt+wwjzrBwYYL0KixZzngbA6mg/sqzy0e/rA
            dDfKg/yqN9aVUzH48dM+CKns1D+tDG0P3nThwXLPKy6AJnLmgjQ7KxekXZSE
            LSdooA/zMzfPFm9VqmYtUJLhY8vjWoRWLMfEjUcBGpnqMNdZL4J+wvSRUawa
            1+T4ydDw0uoI9M0KJ3ZeeV13ztlqse/0W2Mb71/5PMnXix84snoinYL8/PJH
            oh8wJFIAq37H9QW//fV8spwMtN2b0GY5p6+48aX8SbxiCvSbOuykXBN0ypRv
            C/np81v+U+DHdM5yjvs6vxn/GEXqzvdK/5XkQ42lLRfjv4lV6yW4b12wLifC
            V9xfWFYTlZUsvKf7H9eDWYxYM43J82QT5t5m6nzV3wjKi/9QR8toUOncw+O1
            Z3jvtGGyM0pn5zphgvDCeuWyscz78MxNcenD5AdACet6K9cMSIJqM1XIb6yl
            ePrOtOTUx1HXwz0pN0Ll3mz1vI8RaPt9g/IH15+lLxRnApng9MUYTzpckJ+9
            FnPE25wB1tooxAM7/+OwOgWRejeAJCvmfY0nv8czB/1gv8cT9niAT2w8+d8a
            T2G2LtrDSThYliV10w2d2Ml82Tl4vGUy8K6xXa3O2omTP7zhnIai+mUxmUef
            JRs4xlZVk4t1oQPVFTQQS/nUaOZT7lSruSpaTWvszulwYHl2+jkv2YCfnQeA
            Pg3E0dS9qQYf8B7vU2vAOe3gb9Q+/mjffrSPuz31ZhnbuBjeF5MKfAJ8lj/3
            VdcewfxxzF21CrvVVdY3rZs6nWnfRHhhbjusI6jowlppFyTvP/AgYEy4b7JG
            tpuETSUMKm/8p1yHtOMS2wqH7VqBznCZ1ZoyXEY798FlfuOyMh+pU1mGQv7A
            9MlIG9ae3+49Jxh73KsN4XHvv9e9WiVjvGDUq/YU5XLs0bLesKr8naxZnLtw
            h3L7KFdQlw+eNzzCnID0t6mK+9X+CH1f44wxsybVtPTPY7H0CW6dNlYzUFnO
            I/pcz3x/4DDT9arW0o4QH8vu/y2+Zn6FXo5PqGd24JTe+Nrq+P1TfO1VgTBk
            GvP+GndT8fjC3dcH7g6/x9stWT6UCnz3ibtZk0nXgV8OjsZ4b5tn+kxu3mSf
            h3vj7vrG3eEDX1cqkXfbg2fjZfYTgn947mhqd/JwZONvZ3460/bevffiuS7z
            clU10M7c18yz0QSD1Jw3Myh6y1Nv90O4idHEWziLRaak9oS7JE9ei2na5r4O
            DqCdsWWzBbszDp2XTX9uyzfDnHMH3sVPZFujyhrZKja4ccB8bmbQPG35PlYU
            o1KNPhSMCny9h3bv/Q466U0vebLQ8G572LwFXvsMbZi/4FHaTe+Yd5c1OGVP
            zK+62I64ZwGFcmzCPcH8MVlbhurUeS/KA7JN/BWePvj+4GvGx1NWt+hHyokj
            UjkeqPOjd7nRGHoSDh55rUc+E0o2ZzZGhB497677kj/y4hXJsYztIepSigra
            MQrk6v0e5T0pFi3aGKdWxq1ca5smFeXUD6zxLJmH9AN/g/IZ61LJpS8G6ZEw
            T4O19yjTFVq8IvhZfGtn5bpo8liMWmzq+8vOmz78vgY+VAOhvULX97kKSkeD
            IGo+qF+jDHgx2jZK3td99QmI8/sa/bJot1UKUbMT37tfXUO7qHLidIUNsv3K
            PMH3sjo65ogrCihV4b9O5+CLmu7djrkDTlu2idYf5YOLZfHwfsbdUcxVjUK/
            f0vGcUzMoGzewXJhqKBooIpQ597uV1rkwmMZhoO+Meob9zUszBA5GnRLHubH
            QjEuAaHEG+wA1jc8Vmi5CQkemS+QL91yZ6AP05YjA+V0ZkE7+r4//qyM6X3k
            A+VOO33nzvOUFOf/pUO+md/BfDUL7U6U3bcudsfPN/p5nTbAX79tYzI66wOb
            j87nfetbsZOqtb7jYPTeGkynTFh8rEqtZH7F55NG3LS9esVKT1m3nqDsauTR
            mmqGLV5j4u9LOTusHz5PGXkqa3kQv6P8D+Xt11HWrSxwMWDHd+oCtj1I6gca
            B7B++3znfEvbvkvkdylunvCyr0VvOhLW1WGB6/38p95Ez6Fvg/9zDe1ZH2Db
            olLNr2d1bnBISw2Ozaedk0XntTg7B5rTOXBZVPY1y2ggnpd97Wu+Rfl7OdnE
            lF+qme4lPNI5eOkcMCbm1aBsGx7zTbbrLPnqgt2jvubznrRx8zz34x6z8KXz
            HJXR73ueSLorMa/GJDtjDPKFY/bo4w8Vewy73u3uR3K3c0pg9Vi+aVrM6xkD
            7ueHHsIutCU+/6utYO26To0lewbswPi1nf4/rhe+pd+K6PabVkgmeCb90UP3
            xx+ZKQAYs0G7HPEXQyW99jlBg94e8ejyd8402VHd9suTd72qGAZZAuQ/oJwI
            5EEAx1O+UqCRsnvTOOpwv3bKY/6ZzLPDOr60mzBm/ev32L/vH7/n/r1+/L73
            7+fH72W/wRN9/372b/f9O1z2W8Yak9fa37VjvbCv327/LvJ/lY+LeGtlZHNr
            MqcyC4exVjg9Jd2rBoFVhXiY+69ozUEY24l7UBmyaLlNQWxWinFmpmEcKZWQ
            E+2cdRZmrqCVQLS7M6qUvSZVUiAXJ17Cte523iWdM+WvsQJ2DkCQTn/s86Hc
            Bhph2v3Zue6vQp+6MMxrMj9Nz7b9bh+sr7j7YraebbrQeUv9pGu082ef77HO
            Yed3tf76tb/J2XW/261m52H3++z7Yff7nPu7/W016oLycmHotT33sbOQ48+Q
            wj9tocrx5Rh0Yjqch5LUiQmgiWgxMRDWvD/CoNx5Os/k5y3nBBGHco6kRUVf
            gszAfBpxPawlAU41MTd/km2MSRLEgXjrZ90s1mb5EHTO2Dtmq6H0xJLf9L2L
            ZoSQ3YTcaHvb17ALsayreNPqjGd+f9so+9ucfdvsLF2L77rtfZCh7bv2eIB6
            b+F+uon83Xdhz+rb9jcxd+iKUd9IffAeX6JHFvut+s73/HFdzns8TSgM92yF
            MeNcLPJyyfL27nFl2omVh9/OIU9VP3wh7Yfc64bkWuaGq9t2CA6EGfFkdyIf
            ADyrygbh8C5j+xEP8ncjRhmE3c2a7P3YNZUv29rLhhtCVg7tsW24XEueg/UK
            21ZJXy56doRTY/hRfi/ZJ6Xzpm1qBuVgRJvc07stc8z13bbMstsmy9c4Um7p
            joxJD8qPqxqMMcg/AEweOHmnWBPa1o49lvRr29swN11+3XOVTp9uJmjaPkWl
            mE/RbFQqcKmKfA7pP1ziO4cT/W2pauAaOAACFr2rJmZgbnCrdSqbtZPPqLKk
            N0fcDHLLcOTLvW2912ZZWFsTexPM9x37V44bxfUH5rpQ7Rfmh6N6lz6J1Sn/
            ZMoay/Ssr14sl7CqKw9Hs1WmVZE42bP6F+8ps01mzVHLC1NeuePoa8m2KQ1M
            yIcfV7hbOvs1PrMmrHcGvWuSSxPnzWypYB12PT72q9htqzF8nTbSEn204bdp
            fw6jFfqWYe/wzMXk9rVMvwTAImubbh/oQ2OWSowJLqhblw8s6xTQLqD825UZ
            WYky78Q5Ab7I1AFCmLnl01933vSdE0hlf5lv4r52zdBEPRNrCoAiK8cQ60Fe
            4VMv400vE4L5eirZdeV8UekWC3MwEuhlPmMCEeW9uFh3U3P+jAFiCGmih3Xq
            YkGGNtzYwWreLOaieZIllrR0yNtT2bAVP6x4Lq/82ywCTFuZ9JQOTBQjWQ89
            pt6MMW3MUaRnlf+dwp/8SOhpOJk7CO1UE8aRHym0aqsGRWesg/zbm4399syp
            vex+INEdEEns3rxx7gyWpjNYEEsV7gRY8RRGOE7FSbJ+xo/xMN8Lcy+V7csT
            MIenngNl3XdMD+Tgbt/PenJvG67szy45Gj/HfUfjGaOCekRg5Qd53XYE01ot
            X6rlXT9+kmMm8aC0HjAg8rq+8zZyLhz5fPNLZB4jpxzcuah+rcN+ol6SPuc0
            pWb88buEY+hLen536t+/9h7psK1dAk/rZZ+e8sF3OK6X76XpD8uucfcoJm/R
            XvtRr28p7+VH3B/vcX95VqgqloP22jU8ztxkc8V8zRFzM4nHmNcLd4jXwMal
            b9DDBT10eFLdYbXKpB9lFkW8L7H2IeuxMje8s9hIyk2DrD6Lh9IDIgtvvdop
            N1C2uDruAd5P/fu+UuHs8+cVpyMfO9lGqT9k3iD6tWx5QXMAeZaxcOrLddUQ
            dfKvZt1U+WUz3s6f3OOggQ5YYw35jBerJ6RatMQyxdr+0qZfyuHE9Lg6hqb6
            un2/Q7nD5q6j0JWjkqCuHM+sACF7JOurblsRmehKPzmLEVFMKL+jMx9c2HXm
            2rbzEhcA22l+k80dEIj59E2I5eBwWdfL9hPAf8V8ai7xvYHxIDmXU8cUu1d8
            lWcmMqutqnEAdiGNrTsylOCyugDUD96Mu6H+mC5WrLdDHTJj8+jlavrPdtYB
            8PGceqM8Z04ujo3Zn7vqv+ZJHE9Nk3RrBIqx65E26eL03kk/9qpYNuVJGdJB
            LOI/9XNqUABnML6KJYSYf4I+zRbDOZX4FDBfGhBVBW7P2fzCIfFLM2m1WVnu
            U/lBmMWxKqObz0X69Gw2CvWluGD6oO88+HQu9xv+6Cddu9UmoB7g1OZyu/Zc
            23m0CQv0PWBOO/5+LquHyjUQT7HrbhH+q/kHurMGJUFuYw4RJr9KVb6ILLJ2
            6rtxrse0PaDaMPSLZN3e1p9zP7VngaUulI5uJlSK33hw57PPtIWTMeIYsrtZ
            7xUvLKr/2wJzVO28KzufxJmTkfecbPu3fLrAp4rvQR+Q6Idgn7HD5VE4neVA
            xf5r0XtmsaWOlRUSHh399k83P3W/WKPBasyrP3DOZvNgPNN11uJemKtdJ0Ix
            I5i3dAOH1udV+43uLGevgi+ytOeWX8axxtOur6l9S/4rWv7ucuCOuY3P8/d+
            vjOoSHNFa4goUxcdHZYHWfzM0PiWS2/clebTXjWGnfkYfcQUU4dHC8M8eJ++
            cNdSCphteHrMkuq9n6yRu+ufR+nyIDDN77j81/pd4s1VByBKcXZqG1yKteyx
            WC6rrjyWTAepfUbyomvUTO1r0hd2y6FJ2inbK/3okuUYUk25dN77MOtt741o
            oJJUPbRBMmOX6kRn1YkGR0vbGEbFQonBcq3UjQfixgNn33vBJ+QmHFVvmtUJ
            LkYSVNZfZw5I1eaSvN5y7ee5TV+Zx72TMVZ9Voq0XjGtBWJcYK4ApbrK4oWl
            c3JWc4Qu+IScLri+3nvfW31SxuOIXqm4gmxUkufctJyBmOGXPEz7mcIXQPu6
            Y8pIpmCwHABn7vjOlb7PmUWHOO/ecTSKq8VrJoQl7HTqaylXmd9QprdeHQd/
            902LTm0R2qRYlZTnq9PqpDwd985Jpu+UGT9ZnQi+75nmiXX6SEwwvdf91MMl
            f6vaHN7qDvsGGH12nj/GRGT7rbzilB9trRz3LcOdr7RjljY9TMr5as94EhOG
            6yo/vGlgjD+wIwdrdc3MRxUvGeKFIIbxiDeY30K09tQCWn26fUx2rBu3xp2f
            sFHCZ022rOSfDGhz0jlW5Ru70wfMk5rkUoLSlz8qz37q4V7g9Zi77AHdCa8c
            1eQ3J2QWxjGwXI3/iz28cyx97mP6sZ59rD1JfFj2PsZv0Rsm0C8Wk1Fo9FcA
            teUrMhrvZWt9pmzi4/KvGg7KDVWBe62dMz0DAO7esMD3yI8/Gh2Qr0t4xBPc
            beU7sP4Ai/H+ioOu+Bq7fGHV37b7nZjQs25j87IhfvCyTGXTR3uicF/s8cXL
            Wg7/++0rlhnPz93DNVPtZHtdacyHv39ns1XLjYBH6p623KLzsa8zWxqPxdkR
            sM96P6BzXZ4vu77zwX+ePjzJZHpC/HmWeBCQwmhgJnxJ4kt50uk5qBzY4Pfv
            5EHMMFNJidT5G9wHCEO0Pg0fMVLI+t3nfp+zRirYAxu/Z9rmcL5N7eput32n
            HL1QLrPrZMaKbvh3STE5DPwAXqEzgfIYv/LKRZB7wcJ4wx9/n77tne5VG2mA
            Tp656/S3S5aXZp3fTdf3uHU9aK4+xnbgDWIrKxK5CKaHmtasnGuWP47VaIWr
            KKMUxssvBckRrpknjWracFkOY7OLb/iaVbpGylr0T3xYt4TnYZWg3F30wHrL
            ToK3+Q1vqomY3vkBaVP7pIuS4UkCWa+OgR232fqUqbRm2fcFi/EHLMYNi3HD
            YtywGN+w6EHDCQO7XvHrHjOYW3viLoNFQqXdp4+9/DCpVJZRRvdBuc4zyjl/
            3XQgz2CqU4A8c/A/METbfEFlEvbz275jj5MwUA0GsEaddDBAUlosD3985fJ+
            hjAADtm+l7mHSOM/YIC1U0hrTC+xuKZnbpjLwvoIysF9fJuk+2O9HeZR9Ua7
            wT8w9aA3P+4sHHfyD+IeELXpbPge4D3gfmbvppP8FGRa7jmIWeDEFF8/Dab0
            /qCMCeYPEtqBLWYez4Ip5ixdpL8fMR0/8Fbis57BjZAhHWClqzBsstzGkddA
            qfY32B51zFv3jnOsJbfSNE/daoVZ8F8xu2Iutj8Dc5kwq/PeD7vm7KkFD4JX
            5A9l/lHo4I2/v2qq7Fp4zD1WxZua7pZ7ELxPO7mW5AbrmFvX8g65fK6XdnSG
            IPjKP8yYTOCMRZ2Lxffu/AOUNBibf5kV+9i59Zvhibsm06v9usUZABewxpw8
            bKgj9PZey/+flNOCPvqUaQdLTJ9Y8Xc9QOMf1mX8wmh2nNGOrECv62PzE3XT
            ryn+jZxoP30NZlDGPM35rl+LD5tYi1mtzpzxbOCp0jC5j5ZT+v1dJpsE5Wsg
            j7zXzWKF37Vmi5fucjEHSQC+euY3vJlpyzvOC7OGaE9bJDETuVh8XFSusMak
            1l3qyRv0JAbdZ7xdYKxlqRuH0BLUpCOsFnsAhDgtX7Xwp3zrXnlxd05c6uRU
            e462SeaYzZIZWXxafmXk38mgqh4ghmzH8c7nTXzHUmlzkK73kxucwSbMsxK2
            voLviMHqXJ12dbcDR2HOgYSL2/QgVtOUsXwMY3RyQmNIILls1nmmO5HyuCiJ
            yv1rn8n4MOIW+mTMYNfvXXtLOoAOms9a70xk1/LszvLr3sPyDJ5Y4LnPLyLm
            bjGGpSoXdHOslOrM98zRvvVAJN7nVPW4o0OvpvV6fRvP13Bh40nypI4xZB95
            gu9X3TXF1SeuDfkN6pn/0bgvZmPAirYg/mI102cyRdInb34tOwfpt2Pcx7SP
            eR/7Pk47Mkedk5Fjxx/SJ40mmsrvGfLRzqx/yfp7RXuvqU5xeceHcO1Z/w+o
            OpAE8DflZOFMTlh644TDs578JYd3XbvG9dq1sdPFOoX4SOrFKaxfit8j6jY5
            kuqTqHrvbduoZgM9THHoWOaYzMoLVlf1vD71OZYL0nAcs4TT3q/4qnI79hdN
            FjG9h2nXHCM1X7FWQfUiGzVBOk7mOjM8HLbP47WjcCjzDOZ4ID9xMSQissSr
            p0xErE1HMeLtApr8JQPltwzUzAJMOsmshYA7+png98WcMz9yGQEiWbuTuZDC
            ZX4gbKt5YkzXvCt/B+kKaT3lh5U+pIMER8HAOeVjxHSUksTHXcrxfb3z6uHa
            WL9dR/o4EqHrZjT+gfgs130923UXKUHRV4Z1hCSOSH+LBYGgzdjN+PJTiakq
            hxZpH+dJzuPd5JLf8iEANPK/XGTGGtHWTZ5LehzaYSVbGC2mvCjCrSwB986R
            Y7y6Ywp3s3m8+HrxMMVk+k1ne1aNsjevfWgJNRn8ptWHbD2l/fHnXLGrLhxl
            H+bBJC9yeWU1YDD8zhNFC0++JM9YbD/alSjfz0r/dfAoo1G2oV3h8DHW5lFG
            gNOO6YVZ14Mx3IfHYTuzk1bmCCwgdpOLDxk3ndw1ahOtDeuRyU+XvvN9sOBS
            2m25Qvbex36zPXlp8U8QhZWE79791t1vtX4lq2stLBcVCKTNb7XnCXHzYx7c
            ngd3vccOqWleH23qblM/5grsRptfc/Uec91jruzrHlP6QdB93+Mo1eDPbGA+
            M06KNi/uSfp5SzdsOcAVV6WE+JsvB482fLWcPo/ZKNeSWwbgINNOH+UtIx5m
            bfyoWl/D7JO0kQ17V2/ys2CxPqrfesbbmBeTsIU57LQr5I9xgLntX/wMdblj
            vHiooydo06ySjHNMGM/61AnseoIXEx1Oq+83mTC8k/hRWybbQGXth9DAjy4l
            lm6e/oAXx1itLjbkHy+fPMWTU68i/xfFSpL2YXspHg57gdXAR3s/I94B+Mxy
            T229L4M4mEspMv3Jj7yqHGdWHF85eiDFZ2BlmSv36G8Gk+txw4YbexDXwz5X
            PcJam+UYC/yGyAoUTvW9K2/1812JuRVqW+f8wy/M/Mjy9WmTZM1czPGs/bve
            gkqXFsvjqTo/nJNmdTOm5RR2r3ljoEqy3PXMJUAdhWoYtdti5Wkx99JFQaIk
            X+uVI1f2JFA9wB/7GHQ1Fo9Yd10CRn7dxFN4X1U+3MKcOJkVEXd+QOV9jLu+
            IvWSisew2DGqfXW+zOee9TvqyeUblVNf36ockGl7pwXmnLcaS6bjuoJyOzL3
            CvMTBPs+rX/UuDufeemllUOt92PnOfkulUOUO9pkgWH7arzyE5JuBfqM+XjH
            t50nkB2l07rbujBXaLOnoQzw0+X7d+C3aA3kqO6MfxvFxllVEyIqvzLzLNd3
            TQrK5Mz5xz3ct54m73pX8cQR4f9oTyTzrFp0YY//XZ8hvOpPlF1/oqxSovSG
            t7ZZsHqcrCpKm/L2cwXEPMPJUUf5f7m3VqNXFWF+y6LMFTNyvGf8qGORbN2V
            ZxbzEhUqpXmAQGEw37cOijlW99wov2P3tr9fc5PedSaK6XwUc3d+f+oBsVdX
            DWarOvs4DOqkmvYVn7mpinSMeWzMxcy09DlsexLh+c6SR4FIWt1rYj5sedcx
            p/5WsSdM3bUu+lioBkVsjOGKfAeu3fsZ8mScw0s5S5LW1tn6v3NRL+AN5c3m
            RP2mDdeOc9F3LtBBft4x9wg23dFrLMO32LlMjaa96WXPfWixwB4v/lPGq3Xn
            IW6qPfbr/Wvfl4958X7LmNwHfUZGx+m9ipOLtk+93JSaaiDIg/S2vfFao9qH
            5Eu8QW123QNvSS4o0g3tzz0G5pk13OBfcpP8Oabs4NK9C68wL+YwHpp4hfvA
            F/pRMwkMcIa3PbnAtHziGkrbB9doHG3jmfoP8Uw1HEPHW9WsCLLdNr3fo69q
            759FuPk67z7PZfNPUpoSzrHV/IpMumB7amnQwqPA4tJe7jqyyl+jwkiQXtLm
            dxflHeodwMjNse0B2FPPeumTFLfObc28+UyiVSJ2BmsggupL2to1zGmBuHb+
            Hvav7xiP5B1WGXHZ06HCYkgYzjoyms1l/x7Qgnvq1wBYzKc/AI+nqs5YVs7+
            Gx+iPKyF4yrJMw9rbWnrA9fR+Sf6BkEEdjQxeOPXwYJBLknZfA5YbYE+B6zh
            JnslaS/12sy5n7ZOlHmXWcsPV6XDVs2asa5X7ZWP72ygwJ9jmfEBgA53xqFa
            g//DcYQf45B2qKnmK0t/KCoVQki5LOYtmSzRrWZ4dub3w3ptINDeasEwhVL6
            K9lGdUvWIgKv53taeHrbuZLYhiEamXSfOW9kipW/s+ilnnHy9Rxf46YigGLQ
            WuB/lHK+DoIMfc3qy28FzyzWBax2n/TNbJDU0W65i8Ep6dQdlqzEmHDgsLMe
            QbnSwfA7/yx/q+YgdaU34edDruO3nGd8MH8AynKLPh94xkEex4Z3p40DVBJv
            J+7PZHSCv8e21+io2raYh7Xz9h/cs3MZEO+sLUN+2lCIszD3Z3y/yJrgnFLf
            80JZsV1LNS/vWxCghECf8xEZV489B4HvNf7/19iVZLcO48B9n0akOC5Jirr/
            kRpVACQl+f1er+I4ji1TIIihULXpS+39ETuMDVm21eREx70cxvMTcH6Ecwac
            seDag6LpmY5FZXH9G3lb08Ve0IGJCK5p0l7VvnR6sWnOe4Udat6hV0S0G3lY
            AKzw2FvO9893xlwlXpe8fxtZd2Yc2a3XfRJT2Ru2hduJItY4r4wrHP6YnG9c
            50SlrqOcVutOvO5qejRYs6Jxn+XbOkIqr0cHUw4frIxc2ZX8GrrhR77XCX9f
            +nv99A3Hu+amsqd9sMyZ68vze9McOLP/v/Xxg9ks9i2KoMV6kKFzDwOAyS5Y
            phis28xrQ9p3+2nz5fN7+dgYc9jzXQ9yz/+pPzTijXB/K+4veh3yPx2lJ+33
            UbsUxCuSnNO+HrxUpK424wW5qT++J3mVf8Xcexg3BHLTz3tMDsRz6BkzONQC
            hl8AbiravQ9khLTHGm3Tx+4XmzKanfFPn9PzCeUX0nM9vec6znI/13HGP+f6
            p4YDnLhfK9cQ+K82KXa6MzXr/uz9H+vQKFKDnXAO+Uk8HfNhy03EZi5W3Hg2
            DNZQqRCWqRToz6u2WTRtNOv3bt7TaTidajid+nttyE2BWeSluT77Lxd0qTb0
            oA7MWnqeLzueGpYjWZ/l0MGd2myAJ5JlF0PgAftd+3vyeOpjjefsebwmv71s
            50jFwQMclN//PNEX2cdv20I8hbJkMm4Srf48tQJMnxTHgqJkj+//7aN+bU8S
            pjWO+f/aSfA40OsOnqOEFR47QZ9WDr/G9Q6ynNBOWhc1Zrf/LteOtV9V8XT+
            +H+dMTh/RrrUAhJxTtrHrbLvLZeZl+JAsEZrc/+R6QUnEXvvG2ScMXp+w7XM
            6gvdL6h9l79xRQIrxj6+55bFFI+/AT4hJJu1xL5QrawWq8YxpACqwLdr7A6/
            iYaS+2IUvF/fo74cdriX4eRNDzicr42sBZZM5F0fvzHkCWBF8+f/UNuz92X4
            +vHPsndZI7m6cgfiPW7wMohRMddEAN1uBemsizGDadVKHqr+LQ214y33eUFH
            4tDYu4lvBSqUscnW3if64IhXrvBe37UtzgzkIrnBrfb8HnWNqLkn+VYoOStN
            5p3PMjAa9/hyaLS961l0PdcuZjk5e4/mo32GWtdvrNCKqVMmQfODDFSS7rXA
            ukiMysNAen7Y875w/vXH3gd7cv2x92J7dVDnrbt9Q4PEfdc0fAxrZ0Nfj/Ix
            a2fQDMqfOFOnprUmCFxMthp8GNtjjObP3ZpjHV5L8tpT/lV7qsTAUGfkIDOX
            PZ7+OtuXHGXStatnWKwrXPfqplUSuuoREmtj73uQhzUs1mu8rwrRtUs5KB7f
            YzWwH76n/PQ9rbf+x+/k6/RrYp4puYXk9NTXBQ4a3NrAUOSChso/1rG+Z9s/
            copBzHFV3ZHSaUsFsKR/aelVTmv9sKfAGlDk3Dy1xoixQC2g6T0q3L923+y5
            5/uAjf0iTntSs1y5+2OHgqT8hGhmxTzX1vzk9/VfwMt96kae22XxJdDNFBu9
            HZPs9QVq1AF7DBsBC0A3PH9RnyxrAvj3Bu6GMSbJi8VLrqe2NRkj455h5arO
            AkBj4kQMNJSX1HB/YjH3vPMNvO8U6zqGv/7e6DIDrJmeOpZqJW9q0mHiAHIy
            QLsf+h6ylmfyM2GDt//73mIZVe0G/w/WfL82HA2mlhKIfUh39+tg7w5RQIAf
            P8WbjDNXzC/ep/I7yXVaXkBNvhL3iq9N0i9DBCu8GqvMf2+u46DdE6A7njMM
            idzz2qW1k2b4zzOBpkrrnA/Ha/yra+n2ZTl1CKq7Ax1yamq6thtq+Px/xDog
            AlCtSfFGmFCUVD/UOORnC5IeBg1NDxVmgbbx8M+xGDqoDase3YFxXbHTIN/K
            7RVzZljjU2wzj12TrKiYBuvhjhPB/CT0YmvUPJT6Rkm1o3nd6elBFsfyHIbx
            Ubmh/WCPydkPzKLyXeCchgxKY0zEWpJ83Ma+bR2YEtR6YR4gLDlw/nJPy3Ek
            ga3jTXAV4LtRPAO4iA1fY7Ghx46Prp/r/DUl8HfsTtza/52O4bEYkx5LHIcO
            X/3Csn6wUMS/FcVE+Wdehv+hGFvGhPOL/4HOKSTBuvVuMyimMZGKejfwCCT1
            F7MDP7MEvOtsi7OyILy70gSHDXsmQcywG2YeIV2oCRznj7bW4NQqedZ71FoS
            FIC5vmPqvGS85HwTu8J1lPBgG3bTtdm+Rreuka+Z45ww343vSSC7fM+ZlJ8H
            /SLgnCTAbl/twHDr7CT6imBQR3whYfbAbDSGMCAHxhm6FFcg789NvXL43+vk
            Hl2cF7G5wmA1YvAbsFYPDGSkBs/ijB52UNPYBLV3PC7KlUCCc07LXaq7BPx/
            Bvaf3Anz+QzoWPpncO6xsycKFA4K4j8xbODB9NkO4Nz2bF8tP8eJFbOxeEPf
            Jvfq+y47P3ZNc1HPErlpIP/WIIlyp9aGctaTu15yForFUnFeHCEQXdgLq0MD
            JfeRjFv8om7PhRnXyAEl5ScTT0BPAS5y+aCOUYhBkAbBOaq9gNUx20CFDX3L
            xnzvw+UH7LecYhweCPgu9yG53SRfk3h71udLGZMzbnIUg8s+Sei81XbExGeF
            9gS6ZFGfE3+FWa5aFrfaUbdeo/GLgVcZiqs2W1ToZ6NxoxP7hB3fysMzmhLj
            1w78ZTB+Ze4DRfeq7upSNF2Gjl4HSEQsVdYyljwO27O6OHJzwRTQC/etcZpi
            Xra8r7nRLgx5QNCA8882G1cf3tMoHji61lJ7YnJgGcJZWGPbxPkphm08uowF
            5/CkNscwHRKS6HDfqn4I5sFkD458fPB/B3woeFhP6JcoZiQo73en7kvQk526
            HJySoAYG+IyBI2hA/8Dv8P+QC27EyGcEfyo+P8PPQFtB/CJ2hOpSE/PfiHI9
            quSjCbiijk2I/NMe62slKoB9YyjdYrJlv4OXKMDmz+P2ehFKxcxBG+uzmyw6
            CfhH1KLB1039B5Af1i+/OSR0sUaj/tVNoCCg7ZvAigeYO1QvlBwQAazWt2xc
            +BTlkZLcTHmkqvoATvTvGxp0CN4atb7A7+x/u+4SJgckX7xqYzDeD8NdkEvX
            NC2MB0pt23Volpzu5Gox3Rnj/57283R9mn9wrpeUqTZGfEhxvwzOxarXw4HE
            WyFYwCBdkMYGR3gCozT5ouuhWC6l/lI+t7aY/0/MUWNP+XvgeczjTWAAxV7I
            e0xjKFckBz8V6k9JQDPvUdCzoBnmx/FIeJ8rToQxU3VRD3LGQdfbVcju+z//
            BVpLFFg= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
