<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3388</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3388</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3388</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>BCM43142 Bluetooth 4.0 +HS USB Device</string>
        <key>FirmwareKey</key>
        <string>13d3_3388_v4428</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>13192</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3388_v4428</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvouPYoy8+X9nlmAOuC1Pk
            8ywppxJxf+G/Fc8i7nNuKJMwkBpiCMHhv943tF3VasCc8OqKZ4+OgL9yVD5p
            QSuze9H0vuP9rJz7HOul0p7/G/5od3/ro+/50mg8Gr6ONC972ruL5aqTv1S+
            t7sZ1Pwce56pxjPP3EPWvnBuz87YJfq+xuBYVUy8+sPdvbi7lfkc61f2de56
            1n7vdw/CvpbJ0aPFsdcm4WYe3bbejOx2qbt8sG+mrlPNtXpVNnW9/hWNvs3P
            50cNw8bx9Tzv8cWrNqcd4LCox7NMmkGz1b/aOvYc9q+2Qg577r7K70ka8avP
            KeiD8VX/TDPaSL/q2f/mVz3YZGrh/OqPr/Y81Kt9lL/XYn4+95WrwOX7fO7K
            fh4/n6ODqj9+13/s8vOX8to26bv+fAgypa/yLln9+as8arHn8Zd+dtvVn8/b
            tP6Ur3rOpbPJ7ZW0A3zBdr3mswxgTNx9+3h+H9zyVR6Lr761+Pn8hq/zu7y3
            kzTr5/NYq/o8v9oNJSY7V5/P/bK1XvOX52rg/CofctzY4Fof41031vh8bjOo
            tVs/7cnrq/wNH676+Rz973bEr/P5vAcDKf74fF6r0/n18fO5a7t8/Xw+7vJf
            9R/Typ9f9XjrDsprBwTBnIh+Psu4nPZ5ub7GLmBU61f52rRn6lf5hBp2H67P
            Oc8Ck9fx+XxPCefw43mMtpny1x4L3QBT/dpLRgNwXEKLv6ydB4Z8Pk97rbE1
            P55f9/P5+dxt+IzLx/MXzP+qv9/P68/thvlzu/H4ud0Yf2431p/bnV/1XHsW
            tANiMSzzVecL9n7VeePTOX8uv777vOHA+k39q/7m+Vf9aSPo86v+G9ecX/XX
            +3n9Tfmv+ld7URv+Y273wa718/kND0F1fDy/8X+LX+X3vLWveuZd/qse11/0
            yM/P42+e1988/6H+nLUDUj5fa/3jt/M3fVu/6dv6Td/Wb+of8ee5HfXnuZ3H
            z3M7489ze373P77Ob/yoZ9NwJX4+H3tvAFbGn/YqabuP5+W1l+JP57d+1X/P
            Q4pYi+fz8YI/+ad2AWc+n/cXnMk/9Yfg8Pm81Di0A0DV33XG72/3WoBXKR/n
            cd70wOfzew5P++bX5/Hr+fE6pz8/n1/Pd3+u4+fniXAg/jrn1/e5vvH11964
            +zm+4dt+7uZn/fcec/M3uOb4+XnZ473rPR5c2k/P3Z6He6/f1/y9h+frTJWf
            zgh5SVKqGEXlsxW0Awrrdt4O1zAO0rnuNVJt5bpny4HU8WA4Ax5HrE7CymWs
            avnT+1VJh4uavY5PZml8MVc3356O10F9TeZP918cLoBd5Bjda5X/nX/++Pwq
            Hh8sJGY8f9yXV3fvU18/7tubld0QvX/cj9fwb+g2P+/d/Bjf9POjgzPM8HEf
            50eHwV2l5/0Z58cAatUOqAmrco718e6c5+f9Oj8Ge+Lfx/11Xv/q/ujaw/N7
            jr9X4GOLv+a7fEkE2hfPPt74Yc/cPWNPflp4Ys/MGybpOt4wx0Z7j/Iezee1
            GInWbP/VHDbl6U7HE+SPSCgZlrPzhGolqXn8er0PKF0FZPzRT+fw071O+5yP
            zfjciZmSEJCPdjYvSReiYK/XZOyT1qd3PDNjnWijuq/tei3jBluyiXRr+mhn
            bFz297FdOcKO9+O+6+zX+46yjXfrgAVN428Zbcdxvhb5XSZgy2qROxpbc6zd
            s2eZeNa47jKpDc1JO7E53mVSi9mkHw1lTmsrUbby6h1wb3vfjbnv7HuwJdgT
            2C01EKHY91gH//4CY1mPL8qMl43O8dZ6jvU4H2XqoFwFey0tjM7ZfGbv4qNM
            AzMunjNhcyU/NIpU3XN0IOfB5ex6yhx144XnLA1XQ96yGsyxjcB/zvZcM897
            lvocWL7TdkA3jiR8zvxCo6eIB3Q9zrH3FFp+l8HRSTrU4AHxt+dhuudcgbeN
            U2VQBSaom8zk2ZY7ck3iyGvHGKOVSfGjjAM/WdQfTNlVbK5WdtejjB+UknJd
            OJ+HUXDps63Q4rtMzmPLWD7KxPIoU/ou81kPu1d4XgrRbLWxr+jdo0x2G/h0
            HtPdVpz+WQ8wJHAl68Huc7seAK/wKFMDOY69dqvbKTirf5w4wKNYte69XEfI
            Noflc1zdVUCPKNnRMTGHl3GD40YVvfv13vWZu+p1h1rLo67hDiBaJxkQQdAw
            2jTURxmAYHC1u4zvu081PE6fWy0adulARWPaHAFwjUeZExjJymBZcNjXpr+f
            Y7vW3HsIa7b2WaoxPubIg99KgtuN+8zbPNaPOfIuEdJz9Gir7f7Uj7a8T3XY
            PGI94rL+XBSfvMuEVmu91+OaG3J9thVb7Un1JBJIdm7bZ1spR+NcOrrlNxwB
            tH2WwaKaDHdQQJ6tDM7vYw/5kigz4j47eWRsfsasxgvMOD6hs6+OMNPb2tVu
            Y/QzPeCXb3l6lalLMGXe/KTKBKMnqy8Oy0NZdAfimqnnE5seI0B5DyxLQUYA
            HAmYU2BE0KMBmCiSz8EuqMARPY5/t/xu3aiIxDm9LnLV+G/Uf6v+q+fvclNP
            p54ulV4qvepnOfKKlzixw7QwE9szXRd2f7FyQXqRgJU3if21eAUFcF5lEy3/
            4E+7r2uv615Y/Ppnf69vq33bHKHWr3+r/PV3LwBd+ef3H/WsXU//Z38/fnv9
            s7+Pby/7ljqnf/L3/W3HtybjNsmv8Yf/uSeXTvIAl/XWTuJ4X3/9Tax8mjgP
            gAf9C76SGMR9w4YCG8EdFgtQXTGsfBYvtgzI1vFQJUFPv/76W78fWqe1DF77
            TfGeyagWH1+ksygUv8F9TXYf9n3f9+2LTK+NMCK18E8YqQFqIvwX+C9qNQbH
            +a+/vzULL4n8g7t+cvbfnPSsL+bSGTfyxTYcnxKAnzj0Xd49maPP1iW1ealA
            f3z/kk7//P4cTlgWmFB/AGsX/x4SE43vXtKvz1/S8rGl5N/zk/f8bWXRL+/H
            j+03YYnU/aDK5C2JMi1D3YrSX9uyubol3t9jDbsvZ7NT8v39urUb0ln++r5c
            Rin/bq7uvXLrwr+//9O/P+21WwPxu/dzz88v4pvXWprG43cF/jQ+znp+SFS+
            R+f2Xjt+s9du6fPv9vIthVZfi3bAuB/8Ujb+oa76h/d/6Ev9w7m418q1//ha
            1/+va33919b6vz9/QTLDNL8tS379F5K19YIpIXiCm/v6GnOwct/lzxDPr+n7
            KN8uYKxEfGXXta+zGHd9OheMegKngedx3Zy4XfO+lmLX6vb9Zd87ICF9f9n3
            V7ErCNn0U39nOsSFon3/fH73l9VLfjLs6vd9XHYtxYlrWis6yVL2+9XsGpy9
            j8ne12T39zz4AryfftjT1x7HngdJ+8av5XL8kry+T6VpsaN9N40OWO6JM90f
            rndNewxgUZrNies/9WU1J87vLHa9hl3Bb0ryEJ1d5zgXaOnLVpqwzEUCkBHt
            uvb9Ve3qoku8gi3QNYJ29+LswvJbRnnm4e2stxp96gHsLM8TqHpKHR01uRJH
            OpMq0gTkW7D7MYVuEwIUBrOc+zMcus/duQ5yN+QjKHVje6KLRrB7zeKDTor7
            HrN1mtTPuPVAPVAQVfxRPo+ovXqFUxxoSWs+z9wVonuuTx9x8UCAV2jpdMaN
            Uy7M/ZmMyx7u9JKvlV1XmqKMw5iyWyttpWcbVBg823AtaJ/1ta/Jyl9tidt2
            a5af6j3DzM96167n0U78aa9NcnqPesGWumc9rc3rs79LagFH3jDKHCR8wq0l
            azfQ89G4eiu34j+jiKsstNI5j//797/z36ayrjH+by7+l+4AcFq+gxTM/5n6
            5/HX3+DKglT1gdI/3Qnn1LXvpsyizn23VHLiLprp520dU9x+Vt98aOcz2jpH
            8tznQZmH7rMAZIuoVXokadJGotzJTZoa0y5zOdBG2TfKoqSEqhlYoUjD4ll+
            TfYYGI7SpU6jtSECpVFuUiQ3OaLkJehvMukKaICRnAdNuSQbzO5Cpx2uNebk
            rhLbtU58lc+rJH/ZaAj5nfcZfQm7XKBQsKutqlmYy7VlRoCdzbp1yHYoA49Q
            rY4+9T5oRE0z6JzrVca82rWl/DOaAUOIW6YTvJTxtNI7s8gOzVE8Y4vTZEP6
            vbacyF2UHE929mxUMVBMdqHaK06Rl1d1RnGiWvTD5njZcxdrcyetbCVhdudh
            v2kn9ywnwzMrR9uBu1ylzJXGtxmTmq/T5WvPGxVplDMEElt4XlgP6DIxJzLk
            NuUKuxDmfgcSuuAPc4e53r+Dp22bTzUVz/nj88j5BnqPXAvWk67Tc06oWgUZ
            Mt1VL6JcGhCi97QubpVkBA0Ws+d7EHc0V3ARbYPkllUE+hTLlR0VP159y4fH
            unWJtwtpdrUxOe80C8O993sdsI6rYOX5DNPKNljHfW97c6xR//o7dG4EblDf
            XF2girGfON+dCuHLX9gB/B4U1In+edF+uAdLcMZ62QbBueLv77L5UdYFezep
            GHZeZ6N6nQnZgvLs+MBtameH95G6GuwtzlmeNJKPrTo7V+AkTPM37XyVZbLF
            M7pu5805vyVSkulgH/lt3SQDE2pnBnVKh+jtEaLqu2qUor7WSuGSBx1v9Pg0
            uee4jP734D14knjaQJgmWp9L2IoBzIC9RhlSwBrOGPBFPyaqaziHwWPGQUwv
            38MifQeCeGDvUETL/eNxfibthv0IoP9C9N1NiqrFQXQXFh0TukMd/vTdT9Z5
            UYvCdWNfsK5oI2N4zdq60Kb3i5KrY9VrXvEsdVzFL5x9B5oZ7QZM+Hnab5zZ
            6xzgeALnvlDxD05yaW1mLeAaL+M5agn4m5XLmRfmVUotPpePRepXuTrte0+d
            MroV8FlohBHWV6zeuAb2Hebj8DYfKXEy9A0dZTLLpQw4Da6ybzg7ggDVC85q
            VqQ9C9Ng2CEhnU+Az/Vtr7UwT7ldpYzRKEXEJjcjMsq6uRsI4txKFbC35tFe
            cu/D6psR+BDfkFU+SsTJyzXWgY1bBOfYW+xArMVy46Rs4sTe9E7nPppLzF1n
            jF6ibWE9atmklQD4ioZvsCY9xau4c2A90dd5pHu/7TYXdTG+4OS7kwYQgWd2
            ApsslKgLa5yu657rtlRHpmzmu47gf61jnlaHK+86arc6wvFDHeuHOorVwT11
            11Gq1UGk8F1HrD/UcVgd17jOu45crI78w3yk8Gsdo1kd5NLvOlIS7scCbiqi
            reNVx/VDHd7qWNc4hdvRh3UeuZ2GF8fB82K4OGL9+0VbERwarJqscghXsccr
            70+aX57kY2tu2fae80B97OkIILpLavTqGOEur+tFRHyaDX7FGUe5KB4d93EB
            cwB3oL6KMdReZsMBc2m1dsXufKm8Rx9edRLWqH/n7h91P0DPdT9z/qQVgLv1
            QoCLwEGj3X35+Jb0UmXbtaW6y8goD+fcGx1yv0edjfDgbodlnvN0Af/gwGhe
            JnG3d1ljo3EJICbpJZ4NQg+spcsz+44/1pPVRuzVFSxZEK7Oiw5kV8e7LqIg
            sGYrv4CHMCuFWk2/TurQ3T6DlBIBzYMeRJusI+SL1CD6oXV21edOGNV4pqPR
            cRwjy/LMD2oLDtIitO2WOIJvOZzaQV1Tiwh6LvLZbRnVAGMawBr17+rPjBgf
            9pZou3Xoyq3Fr06MLRENod2Uq+sndpzDJi+D8wg8AYIVWI0ADOv4U7+xVq6h
            r17iPZbB3AbMLZAS6gLgp18dSb6z3baeHjSyx0zHGNOJPZ32WpVGoZXNLwkb
            wEE6InRpGdG7qflIJGGqJP7T+rtYNzF8NS0NKPPMftBAGDTtpT5hvSeggNrG
            WAcA6HkBznLeZnXkJWRDGF/zVgCj6QCZcCK1B0q6Ot38TBfra8EZQvX8njQc
            gUmThAb4k95uUW5VQ7SQxKmEQhSv0nsM9BxI1XDTYcPpHelzUA+E47YepyuY
            ayH3hrNICwTQAhfm5CJ9E6wdByRLGIa927lHPU1oSnytDY4g3ldazAIhoHb+
            piB+Ys9hijHZaC/t9bj7TilYKCA9E87I5h10Fi7RCxH0O8nlTrzruV6gL/Ke
            e5YDPdIzadLkQTeswPVIi14juI6rgZ7gxGPrc56JlUFe84QQXjjuUexBnOXZ
            hkM3n+dZa0L41bGI2JuN9419O4CjcU/QmrudPfJg7E8inYOVyTdPFkyRbOub
            sQNCkokIaPMTZ5V7hno78klS293nDETKLTvF7Aq33/gYdKdoRIB7OVhip6RN
            E4qWnNFoTsAVJ9oyoFVgj7ppAmA20qkAfKSlM5+Jbt33bt+7fe9FvySzV+wx
            it68mt2DzpUeJji7knQU3dr2fRN9I0tE7Jamvb1pogs0Q6aREWWdEzgS/QIB
            nAGTmnTwrVSd0bhApcbWHOfW3ecWNCvn+DwMFpKzBeGJl472DM5gtzeNf5am
            2a81l2AExo7Vk9F/3DaynlZeJQed5UiBsa0hnmNd++Ca44xjP7ghYxc9r1jD
            86ygo0HXgg+d/ehqzeB04dkdVKajj9rzh+GPuBa3ASlh3hfCNd03WjTu30Pw
            rnGvV+yTOq91l3HHu8wi3CR9COxHo1jspsvReYy8IJ2GzfW5j7Yd8ED1glKj
            0MGTpsBIun4T/zXyjfgDDdr7tfY7YMLsMzUZFSObK/Bcvfh48A39qJNwqJPe
            mzhTxLUbPoKWv8ydl25+ZLFw9sBbvMZvtA25rhceJozjZvKyXyPeAR4AzA9r
            nBsPFRAJkgNgB2hPrs0rAZOt53nBauu+DKO1zT7s4nrPG6cVs+zrMsbdOFZw
            F7QMaAQUs/Em7gJTOcy9N2kHW8no6UpQVIUfmr6JNIfNgMWR+xXLhH2ccGLx
            DPu5gn/DVlvUCZz4uwKoCNAtpEtC4LcH6QyDsZQcBBrWg5cBW4RzBKQForZk
            cJOg+Ih3aBTn53BpFsopQCIPn6akPBNlwy99BZtbULFDGwlfgXHzmsFJ3HtV
            KWHQbQe6r7nS9N6Rp8OWBe4AA6B78M8ygHUfZYy/wD4k7QvOF+ebtGQjZFvg
            UYjdLpxxcs4YA1he0TE4hz5Q/yvSF1y/leHz0UUfk5Yben/JP1K8u+wH6QV5
            Gv4E8vfaGjh7WHQK1WrKqJs839hlsp2hsQiNqPWhffvbAhwF9h6yvYY9Jtg6
            qhnMg9kc+zr9gw/r3e772ob1zewGXfyEDYEzflF/i3NKOp7YsIHG5hjYfxpp
            BkJN70lzkFYUz+OAIbDWrMNjcuzaKKBoQICOUq9MUxJyWsBUhL0816AvSumA
            rwMkgHjSBTb7lIzI2f+u/d/r9fu+f/7v+HpDq+Ty2UfM4vBclWpnOmAUeYJv
            Cdjfj3I4J1YuGlwAhSGeoySUPcDjgIbxWC9+Q4GavnGisyrhlGvX6Si22fyB
            J60H8JHJ02GPUpSl58Q9QL0jkp5gGArMiWRPjnNMXFPuOaIXOffZAD3rsUBE
            mgoCcWLfbtiHPd1qM45X8gOHrnSMu10jFdSRQfwBfgPQYR9ncJWZUqCLNqWE
            lXxOGd0FOJHIC8dr8hw5alrRz+gvo0vRV5ZbjXQWYTkAg44B9ivm6+S2ayu1
            G75vXufdz3ffBvuGOZv5Gm/YSkGJl/zoMMaZdGQAtXiNanKpPG3/hy0vFkwl
            qX106YXDPhfE9yCgV9m8s84e9jMdKbEGSQb8k/hdcsOX/ERNn3/9nbYaH6uU
            HOXULEXekJNAPNkzHp9URtva0XgvSpQbhdfilbBXQrzf5ZOkBwhswIoBjO5F
            QwNFXSl0hjKhzJZ8j5uADZWC+Ob9PLOUqouuWbIdADw1IY3NQ78kZ1nnllUQ
            jp062/iY9CNHtveuznUAhbT5czAF4yVfesz5wg7BvJ2KcsHxj0gAjaGCWDm5
            960+13kuUCfB8pZfuHmNkEZQWdC2Pgj+np58Pp7Fw1Sz+J1BVms/CtbSAY4s
            N67kC7lvcT4WYS322wViqlIEIdqoUqErPsOhhhDD5emxDHptXE6G3jxnzXhM
            0BDkZxblzqaLuHUSZsyz7Qj22O99RV7XEwDveRUOWiLRIuUdi8E/IsaPrhXs
            6eMl85C5ss3prjNmrdHZd12kex3gj/DuQd7oIT9hCJNgdc1HXQv8yrOfqYiW
            PudeI6M9JRtJ0aj1VGkgWqN2McXjcojxp+rMjFcDHo9gk2vi2LlucJ76lI49
            TJjhk8koNV97/hiRZEZTHQmHkIMC7garUCmX23RJm5I1YQVOwLxodO256MWO
            dYnejSBYM8RHgeehLBGIZFnAjdayE5HUqAA5GuXLbvGbWq9+gib3rlDy6X05
            j7v+la5BHCS2edO624EJfATD2BRFVaFhhavv78gvO9L9RUw7/Qq5QGoP7/vN
            E7KP7bzm7iMorHqIV2Tb2H94XjfdDyp4w2T08axF4t/gcA2ao3zREL1eFKIt
            8ZGkKwjqsnCo8V+1Bob9CYzl0U8cEpOvz/MUvKMyByxRozV4pZFotP1AOLBA
            0+nKUmduDWOZ65qid285W5Us2XnFuKGvCCNi0Hf6pHoH/ChQD+VoLKMILOK6
            sO6f5WrD8dReAzgnnFd8hqW9RpA5uB8lxF+Aihj7RcPhmoIvpBtAMcjdK7Ds
            93PgQ0ASOtuAhJ+xq83D2vReOjHNK74DlUMJLZ45k5VRDlsopuqPeSE3k4BK
            ydOzzkT4LvgcAPyH1sypDYwGZxWwT3Sy5g38nJxE8T5pDvuB/S1aMq4kHaiz
            OQIwmNS7EXbQuxEYo9UKsg/X2UBCihY/aQP0/nbPL87g69tRiLRS4nexga5l
            WBBsi0QLXfoYga3fMhWN2cvizx0vuRgOus5EHb51cnycA7k0Z+kOAG97j3Qz
            y57yGNBqpFPNN9G7sPmnQV8KZ/QS99JAH3m+KJ4hvUdaOzX7rpHycyYru+Ui
            Z1zEN1n0ZgV2I+1AvJi3P2d2ZmmdNPfF6ibDhHta+nEHYq4p/yQxC34Ta6O5
            vdIw2Q/71cFPiUY57X7kC5xgkXk/vx2yyRytzKjvMb+XcPj+vt3f513f/r5j
            7e6xLOxj8jv5An3LmSVjAzRdFP7ERwbjCpV8wdkF4003tOfV1hhc3eBeBo4B
            uWXyqilfVDxzohU6xRl6Z89wHnOn3ILysgTaPIS8ZXTav4510DgL2EG8kiEL
            28vas6zf2tS9vGux5xlYJg205zgfWNFu7dZWutqWChFtu/xaz9nWMLoNxBz4
            1oWvz4dsuJKKcRmoC3+AoJXSZ2wd4j1/Ad0HylUC5r3U5HAAHAkoEJrgQ/H7
            DAFsQ2bcA7fABvaLhpQoO0Punv4K5CfWu5zYBICw77IBZXmOKj0hSJWBl0Wh
            4QbojEmgDHrQZfr51olJpt6AOgDs/R7IwzjpBNbaaND6/9rzFNEU7XnKmoBY
            fF2d58Xj1DDMHHi1DDqIjLR0Kva9N9ihOBmaX6IFrbOUflwjIgWMpQ/iDPqK
            4ZwOg7lkmhZjzFGpcn8fHt+HR5mOoeI7MD6iLzEHda0lJ9Bb7uBAL3fvPM/i
            G04mk2klwO5eBBtIU4EKG93hnLjrzLJCMHmlUA/2uLtwrratw5KunvrtbPIj
            8DaUeGG+SSM7giE+e5SrdzkcnsrIMGqX+LHlyXbHvM5bppMLgEk0nlt2JtPo
            ZHdum4xtm9G3fnrtiAFUxno5d9t17XuX3XbLua/2PXhHg+oWhA+I1q7UIase
            eo8PuZn4W5+qGRcFAAh/2XyIl3j8piRfv/3jN5/XcNy//f37eDx//EZ94GtC
            vX/fz2/9adm8wrH7DFQvG961+9qOJF392mPLx+dY5n6Os2Fzcl/3876vvjoF
            bxsDtAjQxnl86olA7WD63vsAlFeQPoMiDrIHx0qAFADbpLbsvpDdxeHLpVDg
            xO/7/T32r6P8kXTgy1ve+yWS3lMhh92P765MuikTtE5Cr75/4xpPn+fW9TWS
            mZy1U3QWiLBHX9XPQq0H+gUYu0jz49xRjZ3BKLM8Yz++dFyH1bXqWWgb5iaZ
            kTcvaudFPLRKkvajDQD1Tn7btWiCXRb9T6lQrI6Hx+h9MImgdWlRcnQv/R5B
            wHTgTLyTzqZRRdtdtt80AybdS80W7SMOOp0ZDGyk++eS6KMD5rNe6uBlLq9v
            TC7W92/WCcIM4N7sYy7ADkBIRaq4x/e91uSUqevEeDrtl/wPc/ZcI4VWPEkL
            cr0zKKEMjJQt5AKu/DY7xdj8+XvjJU1/TX1+dsnJxCkPxuXkPtK4se6TsT63
            fgFIH5OYnc4OvuvV7M41546EeW7LGW0dG8igPhSRB8+pRwwBvDL+VuO+XdhT
            HXRpoPctcB3jgWJudUoatSXSmwaNgfw/dQVcL9AphHaq48Re/k0d/oxD9YCp
            j486CEMxPu8wfxivs77lUZudKVBmlH2NOsCE9dVQBnNh7xLJwS79Fv5yINxW
            Xdi+xKWs65ey1F1qLSgBAqjGb36DPoFpwDg4l1+8dwe/krEm83zsGdaBdabp
            /0Ey1dkZsmAFtpb5BxjSqWTg3j0yA5TxXCfAEJYVT5IVvwG0I+3Ee7RYrdQp
            MQyEbAJ1LgZh5k/76j7LJifJ23Y8bTsqwzfHjmjmMm0rDxqy6FyCeMEeJ//v
            cnjKaCQFAaM5qKjadonAuKAfQePnOkyvzB5R7mFhSHX+DrNRoX0NOprqG1+r
            TvIq8n63eeb3wPINO16yFsIZ0uUcKWUjxKELBDnLsXwB3gJQyzecybI+8Xnb
            JooGD048Y8KBl60ipS2Yb+qzRQJEIbhyGAxLtM2jwNPNd9kQ77K7zPMdcbNk
            76TDBYvIkQDHE/hIbMlhgqI8ruAu6n85RpkGDpJgHqwxoepZgUTOLMtAjFw6
            /dsmy1bU7C2u+R4PffLzad+BxXas66cxvsZmY017jNnGkcKZcwjev+F62nOS
            f50LzTv9gk9Hz6YH/w4w2CNj+AKOUF4DOqiA+KNxLO4T4IHsCcEu0pVe9m10
            b6eMh4137Zt77UBRZ0ZiKI7yhlwCeTuMV3Y21GuoH7Tzra6UjatYvjqUbxGU
            TmyVB022BzTq2/VWw1Et07dZjDhtMDvtMMWzrQVMTHtRyhRJprMeRg2u9V5P
            2pbqiNG2VGWdbIde64Mezl0Hn49lbTE2hQMf/bLH3G112layrWBt4b/cI4dC
            gDldX231+dlW3G2xDtlQXsBvQAmUnFEGfI9b7YESMHxAIqcokNC27YyCNdTt
            HKYrk2TRnyaf9AubudS7rNqPN2wxW0y3YYzbUUQBttOTRj2n+lXD8d4zONxG
            a6WNp9B089IBgNI1v3XpRIE3QHP2JLM+PAMBBhhfwdOuBz/5locQ14QHH8n+
            bNkE6oheOvKUyrZbO05XGdJMOjPKoWR2SI3xktM4x5ua6KJ6y1glr0NfS5Hd
            I+k6UO/ZGdw1+vubrg+AV0DY3HIvOajsQLQvRrv11NLpYK16j4vyjuPBZ/A+
            Pu6ls7fzeRhlqbNZ59YldOxt0kavdkCDJsn9isRA/A3iC3W+8W3D/M0mHWjd
            esl2l2dZRx7PXZ22sHgwljSOkca23m3cM0hnTdeOLctqwfR11CfWR//xHOTJ
            8JRZ3HwSDat5/9D1m43dRf6i6FizHq4j6KH6wn3J6j8eOLcSQyV6GBSZqD/n
            6qIfRHUtyWePe5Je4gEwFHPRwEFUR0kjg1f5lkxmlUiXNF7sfpKfNS4rWUBy
            x7A6K0/aabi2cRNthrsLpQJIkaclBxNw9eKBvYSeg/YzhZGMjEc+JDukDYnJ
            ROyKgya5EDYs8O9KAaCfodSw3ydN4jPqCS7r22z3P52DTntsGj9g/Wmndu7f
            ntiWOj/KfoFzCz15wWMkSmkwnvMwPRPlYi1SUuixgFcNPVl/t6yGApiRzfaP
            ciRAJuF5yeZORjGh/8lVqUKINbmX3G2ZDiljbWhjxoNjPASozAzY4K+ZGu25
            P+VV5OXv+inReL4/7vduvwcW4hzu8yAbJdYdG2Vnpt8jZcBnZxljLckoOwHa
            5hEDx+9mYxin03SIEoDM5DUO2mjb+kYfaiFkyOIRknOy7aqAPForRoDHPuY6
            9qT4G1pncJOJvFtOh33bFrWfld+REuc3mXzoZ9kkU3zAXvZv1nq0LdfvzE8A
            1LjGoP4LRIPwc0zDnbQlFHlXHE3IgUvQj8JwgSelhJMyzYz/Zuy5hO9Z7v7m
            +sM3uz88fNUTyHI/yl+V6OJqxuPv5/54PWP4NUd9fpU8vin4/lc5PlM54C7i
            VT0TuNhrD7BLYxzKqzV+s3ev3AOHIlrGZvPjaVl63OtYu/GWE9eT9He/ALnD
            5eifKoEC6gflT70UyrrJ0NrG04dw48Hti3BMw5Pebxwwzc8ZiP9HHOH397cM
            yN0ynV2uTOmKvflDjLTtG0UnDGe2OU6CUpw64H5qMGkDdIXR6F/FmHN0+sGq
            mX6EKR/y/k6CVi+dCG0+MKOyL8eDodhg5gNjgSxbWRMr/qIvKKFBD0gjgM3a
            sWWMvujx0H1g+6B7+5RRf5NdHemxSIdj8ZfOYtOAHmYAJ5bvbihmVdp67Yes
            6JZnhZjuGDRmR7IjlMoG/yR+4nwbL4VrM1qT1rdWV6PNeHSDYJR7afvqyNvK
            OCXaAtCMwq78hjwh54Vaz3sOSD/0qkBK5QIZoPtJTo7P6c98KXgp5sTYK+BM
            te/FH02nuk4U9TbXpKPBX4FQoJfT6CaLT9GIEEdO4+17YPiHenTAGz3Ll2gW
            C0pJuSd9K7SfKVvNnPt4z+UdhTfu/Zle+5f2BdjN8zVOv+S/htULVy6NUb7l
            k0UE4q0fCpUVJlprND12DOqbHEMRtiC9d+jhSuQ9+J70a5ghUjdOD6NUGeKN
            SJ9EmOnJO8d9ZOFXp9jZoEkA5fkthU82jr/+btj9fb5trM0mi5hQPnlt0Zax
            Eh5tHOtEO6bUaW6wQP/R+91TlkT87hQdgA4ldYwByMuAMp62Z7jFUeo08MNx
            uIAFnU4xaUfsHsKZXsQX95P2LKBXDWYFg12ZYizaVTIxDO7jfq7AfWazSZoc
            Bw78De0yKHPY+iw8S4C/wmEUM+EcNbNRolzntoV113XqDFIXi6eKWXsCc5jv
            kxt+H6sbrtAkKm6eTnZnFEdIF2y8iMl2C83SqiI84Zw42jeDgDK6KjFmIUjr
            7GeiDM1sDAhLQriAEDEPsqMop3wFyOUW8WzULXF/ldz4+02n0VfsSMWuolOv
            vffLIXs0vMtDNGO78bb2OoiveqJFT1upHanP295mCIwtXx+mlzZ7nCObPQXQ
            muZoXQZP6OdJG8g4LfiUDGcCFYIUiNi7FA0GN8YTOs1ewykTglvzrWcqtC0d
            0fhazi9/B8oOqBqI1Ww0AC5lh3cux/fMyUOb8ThoI2/2YvQ0qeDXsR0pLclt
            SMdRpYcdsqmmbZbxDwAxlVbnqKs77ZHsUV9N4vmWYpmdJofZtocETZ5+Bvr+
            KO1uP3y17+72O/AFxkFTGql31me5I1+DZRgQoZTbL6tU2uGWbH3T/uUuQ5dK
            uPuG+6CzBb5yEa5V2XVOs4Glrxz7RU/JZ3tnvzotp287WI4J+L1UHVzSddfI
            tPlAX9P4/HYBqnMOA/p8f891IXriHgWZ2ykiYT1xWZ8PGdx4ZjB61CWvKCoa
            CZ/LrFd/9Sfu/rQxbnuy7P76e1R3ri0nS95i1Ow9kdgGeaJgERMrzaNKe9j7
            3faBtM3Aqbcyso0O9h3td8aYZNIoe9/ypbrL3bxk8EbNFrN5AbQ9TWAwtz9g
            fHwT399IjiN6xWz+E23zmoSmZLfs2/r4tj6+deafwDYBAxYNAiYVys2+kzx8
            f8fT+93PcMq+XDJKZ++uTPFO+nV+bjjBecp5dNkheMknREDi/L54c9IerL/Q
            x4x2ZbQqbZtvV0Tkkji3LMc9UxJ4iE6J+Hs8WPfzLgOEJX9vzs8hm9KY5/L3
            uXeCn5R7hqsTjrhTsmcaGm2ZgeiwTDsPxghRvUv2foTJWvMuK1WzYWed4JmC
            YxyRhuoyWO0pe7rOfoY97/ecsF9AdeDDdrn4+3Kp2dy9IlY50WTRfDa7YCeY
            W/OrmJY664rjNJ3khptbxgW4cN16McYN5zuLGWTwtjG6J+V21373gMX0JeI7
            0nv0FGVumCw/0kJCXv5SEb/J0TpHfzfsi272GbQDwx6RvAXl27ntjCK9nprZ
            hKI8aGeTQaB8u8w2VmuZCFeBY4Bi5FfqlQPNmyeS2ZvJngWH1xH29y49ck80
            NOiko2gZs30pi+2rRl8Q6kWw+2Uj0YxvD1f0slmm4t/50w/ZK075OHYyY4t8
            wnSVyZf8RMuO8hLxOFT+4Sy+7of5hKAXIRHvOmaJerxv9p7csu673Ye+KJeL
            tDt4lS32zvddtu77a1XWTT/kGQFkcQAicTH72q2vCoVOs0ysUb/rc/a9Y0xU
            eaudlPjbu7T7VcFAlcdzv31cxgpZHjM0UMB5rLL7abRFxD55+8JQkgmqDfyk
            8chxP/eLeyZuPGhrFJ2p2Pda1L0WlGuAoPCFvseg2Wh5B7qEXqyN8kDCQtCn
            2JLiqegLTTpQNkdOsbBLJbN0ceua/dw1Fb8TtIuYKkYXkP2UeJIVSpMOrRN3
            mC6LAZIln/SlN6e6AubMfIU65VvebX6r8lDedbVQuuo6X3VxXc0P/12X2lL9
            c8ey2rzWJZsB79a2OxZOoa6lypZOdtqkRZzaDeLPHdol70NGPt2/B9W1HNvr
            nkrMRuurYbxC4RziecIRrJvfnbHH0Kg1CLJh6+IHaKvIMnzHmFZOMlycXTrt
            0VNS/jqtTensvLwnzS+qZcaX4nwKK5r96LVhW6s2ZtBpysBVQPNNWno86DrZ
            lILjBNxt4sEwH7NQJuLM5qWYnR7RH20wG3UVh+Va5JgC48X3BaoWpBwjFpzY
            IVN6cX/TDJgfx4xO2NPFUxAjmA/+pRyyr6cttQyzp/hC2lcBIwCONDcH2gaN
            Cmp8BdMLOcAyfuNue4TSjC4FAzRc6Ob/ccvD2L54EdBP7CNpLvWTumXih2lz
            zdgn3ZtOljFXXs/nLn86ZfVjMHxGx+A+47mgvlfjwq4jr0Mcq7nYbfMd492P
            Geq251BM2Yg9Dm5d8WSc2b9jn0UKuSrOBPdUauARumccF+epB6bOKVKhRDnA
            iiPV4PR7ao/y2ihjfl7peRcZAF/xVqgs89LPEvYf1XgPSiLpJ1CvnYvgNNmP
            LLksG5eu1/Y9jPs5LZktTlzdcS22vSz2GTY9vYYUX0b60tPixGDT9HjKT6xK
            h3L/Jm2k+CWHfPEYF8ERhmHWyIeBDRw7pgF1YZ6yCeqAudtlN7fvjd4tGm88
            7D7SUrVm0QFsj3xppd5smlzmtmGnnTBjWZMy6fIR82G97a8v2l1zDIt+16d8
            T2sNVid/0166zHjesRduH97dh1unRd42zjZ43qopTSwmA01RSjI/TX2TnGQz
            wTKJgqpfaaKfMzN2SZvm6xfc7IoFJHsr8pSlXGsW+SI6WghJZ7rbogv+3ZZ9
            F1/fkX6dkivimdqI8/XO33VGl6qNmbYQtLmW3eukP6DsLiuITmdrWW0tq/wL
            sdkM3/F7RkFIyWBrdFm4Saqr6R33cozGL2fCVmrtWqHsobm2fZic/G0LU5XE
            EEnvKRORY/7LU3F48Na7m+9WPcSb7ffv1Ka/2wyXdkCcsjzovbT7O9KlNby/
            47pX8CeDHsLbLt8SY9FeMobB2Dp7Hh3lCQzmsekF2mPjXn7bF61vhvHNHuPF
            Aap77jFijL94gl7Oeatml+7lksbA7/ES5l/+LPdvZseY5/u+a6+cRbguycZX
            sujqZNO/6P4ig+ZmPlSgUTrfDex30oCeEjxFHAjqJ7Mh4mwctq5y5hF/DvjZ
            adtLWMe1lN+UhCKe7zQmEoROfnkkgKw+X/Gs2rOzBisXmB10P4v2zJ0y4O9t
            +2PRdh33rzke/Zqa4/aiyV5zLNoG+56In3uX8px7r9+0jPwGME2MSQQSKMl2
            OkbtSXKKVh6Uf7LMC6+42VunLN7UbADX027Fbx6gSFyNNXFXu217FX8IbZ31
            057v9jUixPGH8fK0a9CzEi0WQZZfRJdsC/N/Jrr1ntQxLMWjGPJzIdak/VZ9
            PeP5T1k6ydczxr3gszuOl182p7QnX++4EAfGQiOv0N+0xAmocDLIdsqSEe2z
            UAWTAV2A++kdl1kf7SEUEBQQ9vWM9sOH6UL1Tc2Nsrf7faFPtXhhxTco5GjY
            z2eZfO0ydZehx2gaTjJQLdCysWGe2M6sJj/inGleJbqz+Z1i2Cla/Jz3xF1Q
            vGxdiDcZI2hWkw1RLzf3uaWPmbxiNp0yFRqjqq27Davns/673pwZBgnnd4HH
            jz6f/a1/Jw3L8c3JFCuXrBH5TD71Tj5/DHZmXuh8X0gOnIz+Ga0fEd8Etcmg
            uZdSDp2mWmcPUuYg6UPmbplm3Xr+2+cD0LH4d1yQq8+4cNYyaRjKeF0rrjTQ
            XWXQSy9LxrLo51KooWUYiDNGjCozugF1+8QZRcLAyNEWTxq5FCaDBscC1itT
            2k4TdroCu6ZYcgrQVtWec4mxcOkUDyorgxNWnaCrlIXN0SsQHCrgNO3WH888
            dfKkNxnVCJiksW/nWhTGOsaM4rvoYhIpTUMFEDsdvcSpyCtTHg5AjxaZD5yB
            s+iLB+B7mF94cdYPap7sOvfzXoyOt3vg+5NReQsYMfPdfpbn8/Eoj+6ANWZ/
            C+Mzz7p/a6+DjgePkNcJVKLnlGGIrq2ziV8opF1I09NQctK/eEo/svtaxtz3
            fA5o6eT/f6ruE+/k5ey1I+y9+qVvnBtZfInuaeVqdZ/OnbKv23WfNLYlBOnW
            BkN1uzn37/6oQ3Uee+wfdd79bV/9Zaiou67i+uNb1VV+quuH/jX1r/13+nd/
            89/rm+o5f6jnvOvZsTK8lYmM+fS6d0fe9by/4e/HuM57XPX6qqf+XE9Xnjyv
            +B3/U3X+d+uRU0kn7GBuDsGMEhTRxmAGs8Nflg3eCU/ve9BV7n7H9bqf/37u
            P/sl/UHddRIn15iYqDkozEQjnfGqn2fQiY/3kh/LX0QxGtzgO/K6UmfL//Gl
            F9tZxtrmI1szf4HNg+045ApC6dqr3/c+YRuCETvmg8lE7XewuERu8ys4BLSX
            oqyHfWLguUtWDCDrJ1kY4q4LyLG6JE2RZ+op28Oy41RpOSThF6Bmn/vdNFxz
            wxf2ZcN5+YixrZRjHGW8yusUotSrjv6sA6guGXxUKPOCb9EdOkN9fB8e34/n
            9/Pdh4lR7D4EYKUhE/BdT7F6xnzUs8fCebXvbDz3t7n8o2/P/W3jd46pl+ir
            b3G0svV/WqYuyiIIz5N9O9Jex2xxEkoGDnyU+7ffl6/3e294jQP4mXCQkZ26
            zhSVbIG4gLYRq/qhjL3EC214jeO8zjE2zUVzR4awi0Vxo/Y5oWCXcVWIjMl1
            Sxk3qFNTvVQmCxcf4MJDmKHVfS9L1km3e9Bb9CELZlvOe9oxMag91SC0zSIj
            zniptL7qZnPfSFMzEoTxxJ6RaRnhw7X4fk9d+BReo3e0m5QHnY79oBHJWTpl
            qhQTPvrkBmNlBrYtfzvrVxwxMQYb+pJ+6lduWotXv9LuV9r9SnZ+Xv2Ku19R
            /cLJTueW/xGWTJu7aH4CBlMEzyIjTKx6w5U5z2Ix1b0U7EbDyRB80faQ/aQ9
            b+65mi1nk59KNDDXJX9kvBXsD9mU0f7X6H2lEisnNskyHTFljPdv8CSDMeZO
            JiTb9YFtH33/pp5LZZmr59ZFFdCz7TqlD6N55ZLfH6Ok5fs3YxeRl2P8ArP7
            7vLApz7TZ/DljJsAklhtTvm3dNYP8rGPrrFUyri5H498MZMCbZfZT3pyMBgP
            54DZD0qnfJRCJkZFoz4s0Mrg/Zt1k1skYWvtbb0AaMJNK75iy5EaJX0uAU+m
            syvf8yTl4x5HZ2RJ8MMMQBzmYk47alIr2ztN94zJoFEd9pLm0XxcOhNDOAof
            6Ra9kuTUtAShHwbtUgOzXY9F60VaHbUg+TK90Qt1SWjSnqUV7rjEk0+9bGHl
            c8L5YRvx8R7sUD9aOkx6doJ6OimpaFjDwLi0/bCYBYwfSwMz2Wo7RXuQDN7X
            omBDY1hcgTAjYzg6xmuhL7fmRaklbA76vMb0p+K5eCxOrSkC/NAuMlCgyP1/
            P2esGfXDYmPznrn6qgwHGAtx0DNEdnJ1x6sM1o/AmEvdhQEaUXIY2jYJlx8T
            v5kYwzGcXuw8L/RpPhNYoqT1NP05I3nSBM30bqY3RGfGqXO4lFHkAhjbZ5GR
            N7yCHBUGYpzykad87WR450fcQABkcEwvOzPaipF/Dgz5XYviF1LuQr4wVZ4B
            wqp9H/e93/eHnTtX7V62EdVsD6mTkh2ShW6gOeiFPjXB+3QNXSmHcJjttRyT
            EB6kVyyr24tGwcLIJrBtWiZ1s+lBz+0a7erARer9tPJpPwfUt+ttC5Ts2na9
            mcbgiqts38cdr+n0Fo/5tqHCFPXty5sevysgzf27PH43i1teGQCCUfpkP3QV
            myceQWww8kPujjkpuAu4mLvkhcxiKXn1tmcKyo3qaONYFC3SnzRGvmivVd1p
            Gp1jf/esI48rRHnanaQNj77Ln4zLeccBojpF+kFZm7gzWVugf7Cbq+J3APuG
            f9XXux1KuWWajLM7yylNIutce08xvhDjzT36zDhm3vSF9Co0eSmf7TpdV3l3
            LMwfrfftnOAoPWIszS1DBFFFkDW0nw5bgwUCenkGWfdOuh70AzhkfK/B78bE
            +Q/7u5ZtTn43Fxz/Bah49x2/AZLkC1Mm45xryj39RbHRGJPB+ggKRmKdiXMM
            mNEoc8WzxnnQPfWOSsN4gkmhbziDQCnNMdY1MvqKZ3IwSh1poIlzyntHwp92
            vGzE7/gvJM6VYobGjN58YEir8D5qL1TGFa8bv6RBGRptipVKJ7uQShr44/8Y
            /pwwgXODde04NYBv3t92f/yjHfYBCOVEv10Fc9V4PebVwZNREit5E4NG+lQK
            /kDTolhmKt79LuLo05Zrtk5pVCuRsCpE2sitJpNJoiWzbiMYvHkhd1Hf4uKp
            OLjlGv3zOePT8EQFcwcy+eTF9EnAw7XJAaAR3yhGErDIHefvDVOPdbTwhrEZ
            eDcwvxc4Tp13iqAb0wRQaVBps6ZYdYzJJJs4meLJttxb7LfBQOjYuBfVbT0w
            traj6TfjJJBkBiSx+MEtm61yUkJX1OcbUPeO98U4RlQZ9iHbXOb/lS02vw9D
            Ibywb4biP9AuWbIHrHTd98K1cYW7DXtueiI9k6XCedzPf9P+Ye1jCps3nRXt
            Q7yyEDN2kGJ7lh3HnHu0+Jd8VOeV+JExZLziVVkfGZdq0wKNskYzzLX5lCGH
            +FCG6rUrDUqle4rKf8rA7SswnlylxoWectgBIjKoD2WMiBO8YK7BWRwwt+3k
            G3kG9AG/D8oTsIlCnhbLUHEqksVQ4BmjlEXrWEXfkWRpxA/U2o+0yzYlPnek
            Teppc3H/5rfulCmBfEP1nPFGM/pWaSioeKFV9RQqN5fVmSXvtN9CIoq3jXUP
            tOt1GjftIVmP2ShojvibcZ00PsYypj0B9iXBOmPoBm/x8NFp2ew68AyS0YJ3
            k9MMyr/9BqnSqzoPF2HXv9kW7V7u78Gz0N+8WpRYydFw6it5zzjkruYUd5ht
            HHFWrht13ad4PlI4tl4MWiQbAb/HQw85rL9oY1C3cwb5DdB15l4H/mbfMiPX
            mu+yu9cC3JBsng2Ac3F/WHPqyDZNEjbNMabZI5/bLvmcRmuAOBPCb8Ou2JbB
            soxbuXbbMW/aJ900Td7XTRvdtNI3jXPTSDetc9NGN431opm+aKsV13zKjfo8
            LXfFfl93PTfNhPnS3k2M7wwal+c3XJf8pulWg4Zot0p+SbRvUDTVLKno1n9Y
            5u2v/i5QPswmd7z8EymZVpxawg1a9kyXAVex31ezmKKasrCSa8Y3uLJjbFFd
            g7bduhRrEfBwSj9m/rUk3MGxWh1OvsUgwQDXndt2sNX8w2l7x5wVx/QW23zX
            S/jDej11Lju/BW3+Qg4hbR/7uXGJMlpS9+kYYQ08Urb8ELrStkWpZC4wUFGx
            b2WvINuFKD4SvMMl2gJn6rbRIB2BzVsaEAX9JbMPoe15m4yUEC0fy+hvXmCc
            1u5o+7p2XFbG0DlWV6wvR507vhuyPWSEcfrtL/WJfWYEtgoWAn+0vRjuDcuZ
            Z4B9SpbbQXQBaUWipj7tHdYBRMHnWHqzdzlSSAQeVLLkwDD+b3sL43eO2qWj
            YPzhRp2FYmqVO9YxAVNolIsxfhnnnjH4bn8ci4fO+OSMf0/8FEHSXbTGoDwj
            1VouoAjFuyKmb/RfIcdx0h7qtLTtO04ZEVJyivnfb99O1k8j9e0HIOcg8oW0
            6S2M50p7PvoxCXcxdjsJRJs/sNdOgfAECz24tZPkwuReZiTSApw8uugFg/d9
            w/5Deq9MjpR5csr6ec8B7NJg+9Jepm0exsgg4hwr9d+8J0nKe2Ubuektuo1G
            GxvzpyTHmKRoa66XHjVOi0mvYyJPjn0vUhijjhb3nXpx2pVN5UjxNZzgp/k8
            23PLAykTGGkUA+MVkbrPkkVnHiz9ZhAK4CquWacH/rI1o0dqZqx3Z7ID0uS0
            +950BOmd4iVYEgyhUbvqGFx3Z3WYAH8YbWRzW/i83T68h9WjZ20/u2TDCjIR
            /Qu7X6iTtsrq13p8qz7VddutUx8xizL27NxgIHFxHmRfIvqawpATm4WTQy2t
            7MOdrZM3uqSPJlkqaAChcEcf+NLMn/mSthX96sZLSfcB3qgM6r25V8jP4n5q
            7ovi8E59VwgVzU8p0LpA+i+gHYZRxfyFK8rHnXtXNlPY20s5Wez/kqXTNKbs
            dasMNlJGpg/FefVAjM+ntLsqBov4rk0yRn/97c+gJI9hw0tdmUPE8gH4u81G
            GGy8jzzJlA+L0cFIRci+iRuDDmVARcp0+or1CNDy198RBAUpjECu6ojm/qwY
            F4Kd/hVbkU7H5D164Vne/h/y7yd0oZUbJcSDtAlQiq7+sCvhYErosrffgySu
            zxaXZsfyC6Qc+slYPrRjUOR8XmW7GhhXMSivjOqiOQ3gKM534n2+gmTBp4xY
            t29hNFu8a+646DsvAGCgxbSMh+zY+7YNlW8q41DN/f6w92Pf9/u7ta/V3udp
            1wQop3Z2PPberNw49ve7HgDQYvjerm1abt1Ea+bjnevKYcygEvOaZusQFP5E
            MFwxFDVUkPSMXyW6VEoUwDt7nnZcJ4scQTuyx3PZe3l7Lh8NPM8uL/+yA8up
            7ud3PbKgtnr0/NWus3an/J6X7DmU50vBiQ/FHuH9tPC3iXFzFBfl1Jwn7vnO
            GCE2Jitz9+WkA3lO33XH77ofY4i/GUP8zRjiYwzxe+72HNXvudtzqqXhGpAD
            2341+O1un4q591ZtoI1iKGM+7FaMD+qUkVuce1Z7kcsWLXZsH34QgaApgWfx
            OcOnk0wlvyr/OV8wM9hGAUcFx0Txcvd+6vSHQZuCq8v4953jQ/QhAIXiCR6b
            1rmvd048xiSibZbEdLTPVjyjchx73d2eZSGkznjkY91nb06zfw3R4sdeex4S
            s0XGUC3ujJVdmBtaWYX6iFdmMcVEQ9EGzZ/myw86qX34Fm66hsIxyarIs07T
            AbVDcQRwmixWuuyw7t/1TRfSPolp1izvx/ZPBv935WvIRjZd7fab4fZkHYd5
            NB93HkkKlghbGGMBcLvSKJH9IinMWJR+x9+OSmaMqWECJDwjeaR4yDRNAk1J
            G1dZ5t04hP/JZtN7RfPvUtywRJ/eUO8YaLutkBj38gT88Ird7n9qV/Qu6W1L
            +qCYQopG6E7FUupyDpedpNqvEsOhb2H34ZD+8/Wtcj3sbyvlWeHdV/EFQfR5
            c/krdjRjN/8cO9opdrSz2NGaH3o7m63cumkzz9wK7XzNM23kqj+Olz/9oXwf
            7GdS/Gkv3xJXMUcyGPArvp4zB0PD94rdIjhCiZHfdNRHLLGZRJ21l3+QNcJ4
            w0y0oH6egxF/lN+k5cN0EAByenclWgyMRvQru4Z0ml1hIQwEHo8Wy9mZ7Pe4
            7SKz+YQu7dcgX7l6rmUxbHfcDLy7FKvj2HaCOw653sWvdxl1RUct7jxBi3b6
            pp7veNqjW7xeIFzGzixhWc4Ts1Pd8TDzu07lPOny43IKP3o+yu8+CFk/ypdz
            lz+B3O++eJ3fz3YtN4rqCP5zHDFeS23tfKqKhdo+y4Dveo+1ov4mvXsbTfrG
            a8YVgFwy7XYT7fOvPfbHWP1rbpf76++GCaN/kL1jrjflY7M+m62U5ax69Ym2
            us+xU9MvWtu+oYAi7FjWVt5/lqeg8qN83uV3/46vtfD9q3x5z/EcmmOXSB0H
            xWWnb1m/7UIZYom+LEeRn5VTGgi3n8edY4GHDfBk7t+KMk8NZ19B9rOKKY2j
            5cw2WJQx5+CYzCB65NsGeB7Hy+87MD7PmI4xK3IYbuczdKK1PUUV9MEv4JsW
            Y4uQb2YcfsFn/HbZzgXHcMPrwjN3jaG49sy9hHrDAxZN4u5WunizI5gPWbY8
            Pq9+Oa+YhIztn/zod96zjDNLKYGESNTbhCh/VvkDkkc5Nl3O6FRf/peJNt2g
            hI9m/rbEb56+E4q5/ijX6cNp+Maju/6RRyDv66UY3IGOFC/7hVhytZjbBFWM
            OVPunMVpx9VhVC75YpONVx7FumEz+KcEGHXLNw6LKcbzQF5RMehvPS79Uzpz
            FWdwen1V8eZspRmfroD/ecmeoVD+5C0SAV3sb71vT3Hir8nrspW2/fiC/JCL
            +YJTXhElixzB5ODDy96eAXca5QfFbMtA65Ae4b7o5h9ucfi54ts+X35VtPpV
            zOo7jgQmJNu3FRtGfoXR7tuyfIaNvutFej561VHn0XrY9l1ygrY4ZrEBoSh+
            GUhKl4CqGbiG5weD6spTk2V/xQxTyoqb4n3fq2Tcx45XzLjr+52zZ03CykhY
            RRRPXm+AYNQOmE1+6osxGOh6kW+DgnbIDyHIqW4aruV3OqeMzbwIq62MuBLZ
            YhibHqPir7Jfk8IcJtoq2JuUSzKjK/tidRvfndK9LoQJdf8etHih7Kvd+fzo
            zasYEkt8d7/z0Bmtr1gZ1fbMyoopwQS9r7ZlDLYYb6+YLLTSpW7X4UpTXr9g
            c825YD2AiU31eMqyGR8H9xzPzpXzLAug3nhNyXLi0DQkAVenTF8doLo2QpKP
            EkMpUyCA+Vtm08J559wGZ7EFaAOQOBtHYEz+tc+hjz2mQrzFMBrR/OSrZM5g
            ebvi8Sv6fyPdu31qc1/jux1XXno+GjQe8gMIUdHF6/Fqj/4FKYFm+P4+HfyS
            Pi1q3+k7VxLtthmDJNT32riyUpBvKMZMf2rJZZjvQrZAlAX5kAxO05MHkCWE
            YLQ10/t9lDusHGNgbFkhDkORH8S955lqFnzU6wzc+/dz/8umaUh+cRRZbNie
            PF7tMSGW4A/Wkzo2iWaJ4/D9fea4z6dXTgntyfd58O6OH86zqnCRtBPX+3C8
            3gGI3c9kD0kdDuehXp280DFxlMat1y+tmu9koF0J4Qr9i26YWWiI0eikJLru
            vOEtx4C7fvvp3/74sQZwfO4KpwT32zZ25+mq6Y4vLrELILDpMqrFeBzH/X6X
            vxjvMpiCk3zRzl/I337uOOD55983X3fd8Yd2HMlr93ftnN/njitAm58ww3nL
            OSQ6buZLLDc2zJHb8uXEbGmKH4r5yjqbI4I/XhaP9bA4CdnVKZre4rhGZzqs
            dpjNr1vHd46ZwLhDMTAJqnIy7lwu9D9T3AfGF+Q+1u/0lnsqvuHOs8uYlnrP
            /Bk7FmQQ3WO+KbTJ8zs/vZO+9zxe9W3bBTeWogb0lE+230m/Z8ULUr3U53HP
            K0djkn3job0P/EQZNu097xggjK/A/IzPPsqXbcfQYP0cxAqM515mvfNOeqN9
            GNsE9FV/0SJTdBBl2QW7D7uYsTBBPD5yXjG2yjp3XthDflXK+RSlrGAIgyLH
            Me5pEHUnJQeWU5X+lMeLZuNZCG2s3sDn5nCth2xA/qJOeTFxumjpTkcX6ZKa
            /JZBrw7lVaZ+VHIKo2kV7/oShUNacNJOGdQh22KggiePzzFi7ugi3q5AuwQa
            /1XQIOg/s+vSjs7WFxCSanOGSGOWjKr4oadnTHozPRWduWR8lemnAz7ro++9
            f/a9t3/d9/LVd/KTH3E96L/cQaO2nUeFDJ0HZXnYGaI/LuNVWx5kN/zORTGi
            G93lURxDbuNZy2NajFc+PwfbpxEPn3GnKoaPk73joayKds+yOJxddTLSqPJJ
            0acvChzcdDc29KzShRH0MIyvcj9ZnmOvXH+jJzAg6Cvbpsi4BbpDykZ1MrDG
            zsvlGV+NKmlHHTjjjWHuWjTbZQM7i+tKn32LodNe8SQl3xccoK0gRsv+ugJc
            eliQqc/c00yQK3w1yVCTudnyBpLiVHtU2ja/c0abTiXLHhfgvYlnmBzTneOR
            iVb4/Dp3HCKwEvd3wqtUeNHE650T1HGNaeJ155MmT3Z/Q9mIclSAIuazwijn
            jPO9aQvBa9nsSXZGG4ClXNTJ4jHNS7mp6T84CXrTNBwNur2nHhfxISia+Mpz
            ivOu8qfoesEeBsiV3Yq0wwZLWHGKW6bpNC7gb4sRy8CYgBpNOiP13SnPH+G+
            9Dm7DPZWk5/edO7+TvqDunbuSz5jjGhmYDJdJRiIKRrWleNjDgt91cc4G+Ng
            RHftGNRhMOcT6U7AcG/nlEHuQpOPtuHsYLKG6t/w5Ak/CnE9+sWIyBoH4/Y8
            1oreudIZR/u+c68wht4y/RvXhXGICEBuHojxi9oeH+s53aofMIt8IqgHrGtb
            fbln2ZV/Lct8RqX/9XenQ2W3WJSCUcvicyk8DvrCfl+H4TOlznjtZYtNwLi6
            pJknz6DEuvT3E11cjzdOkZ32Dtvrbhyl/Qr6mwFIS5AvseTp3mIMv2IAc/zM
            fanY6BZRnbn++j2nfuPeo9k76mfv88Y4vwqrkRgnpg7Fut40yZ0r9841DSAi
            HVHfeV3KpqP6zjmtlIqy3dg0zWk0zNz9whwun//6e5z0CXnnO7/jNVg8SZCE
            6e0TrDhUDE9uurcumaPFxOZOqgAq9FMNceuHQRmrnlaZY0E2+kr/pTC7oM3r
            ptWJH5x8ew3X0y5BvvjJYh3eOuMNAwmtm55N+XUb7VWVq8OR1nKgm8tpNhvk
            SGgdLt6HNPiSPt6JFpFf0XCKIWD5MQVrX37H2xaAfWqSCpl9q5Qv4SFvYAyU
            5K9tD38Jr5M89bcdTSx5bh1lkyFiSXGsO484cwxlyqeesSR3TDDSc8d156CX
            zjzl3SfQ2uNJc7Wdc/pF9yXbazdtVw6TOTHnyQetFT9prUgeJzHHtPEowWi+
            U7awrlWLORNeunL6bb9it4ByzZLxYMfe++qULH/rSzyN95PoFvRf/VX8Q66n
            8uOCX5X9RAuMa3rHoJIW2fwN8s4LT3/dm+adz7FHi8MlmCUm1XJ+EqBHxbYw
            G2Kc5XNte2v5xlBvdNOs1fikjnlr0pWL/09+z9E8jd7k76BYmq1KLpotnwwt
            VsifRbPLz1zztYR3zk0nuft72rZp7s76otslX8879tctGiEsZexP39uN04j8
            uFbrPMsHjY5vr+M9P7L/O2zdU7H7U/kdDL5pywzaPIPm4znPhn93vAfFj2Bf
            cZ77baO+5q9tDtqbREawxzQk8zOWXQNooL5xyGDeIcV6jSk8YtzThq/J6CQL
            /tL/5YWL0htuup1znfQNjtN60RMvnPXGHxYHd5wWeWjzcfGOG4dRlTdfeh59
            6793rqzDYDBzSALvphof5xP7mNFhzIZ85zwslM8R6VaaQxQf75h5mh9w4Yyw
            YvtUrLrJ/JhU47D43ZJbMVEB1ROKa9OqbFw+YxCSr547P+i+P/NFZMy4f5di
            /nX5jZicsu44gF05N5byxF+e0pVwxyjkuTW2upkt4o5TyliFch244+NhyG1Y
            PFLav/sYif0tjqvRnb6GNOtKkxnl8DsqTnn3HTQG3kg3dG7/aXq29afOirHY
            fVRKqB/rBE8Sfqozzt/XuaQHAx671y/E6xXzhRJJxcbheSL6igwI4xRjlVfK
            +AIw3lBso4sE+f2b5WiShvloi7rn1Gi2XPXebOtIL9QUpJfWb1oLoX3A10ab
            yya1CH0pKb9Oi6GbG8uBMvGMuQPib9FObT6fNyJPxZyrEgzItQfz3RJzdsWD
            fqmYuNF2rvjL/JXpeUF725N5dI9i/oDM73U8+nbRX4ECiq49GE4GubF7es7M
            ZDkoWP4MTlfwOk5t2JyOUIb2XXaWL+NQpDbcU7yvuHz+km0U4cFSsCVZ4luO
            xkNxKGheqetJbshV2oAVQqepWIq08N5xImhTnBbpD475ruOsj/c9ee2AwojY
            j7KnUxyko85g1zP0qTVVbHl5C4J+SVSVVObhPBSX4WhS+0XmyXJlBfqIL/KG
            HnizMgYfbbwPGrEF+eKxDGM/VNFO1Fc1IlP0i3mZlHuddaDa25973P7sfGY8
            OK0ERdvnfkatBXDXIG4GH94Yho7lzmD+A3X/Jrp5+fQyjoroMFtL0FnyL8f6
            AlCsQJHvoXhjvcne3eIpnu2MlgSNUCop3ltU7jnSVWXr7MiAMQckVgx9OVdW
            zkiv56CjQJSbDSdBp64Wm3wmZ/m48yF5Evt10s2Ocl9GEN+ygUM6SNnEMa6I
            zlQ5l7v1hGu8+6/Y0a01wdCuROw5Gk1SGfsmiKePym2yc9K+xhD74nnUfJJ2
            vcdA28jqLQYec65m5o2khCuv5Pa4wh5XGXFJR4c3M5AedhLKAB5GN0qXTyfG
            S1U+yAywoMrNMBiEFdBG1nfYaUVrDDhPu9nUbd3wvOk54D1jRbhzAYXG5GhL
            QvtSynyAq7CzG/mIP83561x74pPCiEvqH/rsdEZaufOOVSU7cLL794ov6rFe
            e/575x4f1E2fgSkC+7YhTTQ/et8/15mCARAASpSA+V6UgWq+I9ajaz2YwkDP
            vvcD9rfixwi2Hkypfh53O9Y+8yxYfETZpfhCyc6KjQYc1i/q73iOGSvG04Eh
            KL+fnR9aorRV2QYj6Lti+oW7HzwjshMAZxWolD+179e7T8zk/T5rwNfdeJzS
            yGXzfDJ/l/zKLz+v8N6/wb/3bybNPt72+FXaMwskIVwGiOEBFWsnyR6mbCob
            zTXNB2dKkuJrYp75Krra4rsG8oqG32RLli6nAGU0LMHvOrd9CsW2pckGxcbG
            8GonWzVd8CHcO3TuON648Ua61kiMnGq+VHn2l49e38+xgWn2TLvyrPiwRfE1
            EnExQa/i0zJ/vSMGAE5pVj/bBC3a5Z8POkZzpxjxdwxVjO2M1ON6fy7pPtCw
            1z19BsikFrSdHnv0ca9zsdsRTC+i71xUDFPss+vEXMWwbS9Fq7Rtc0lovj3f
            8tYhjKce/D5bVJl8na9293MczGdgvzlGTuEstAU5mbHEdkCnwCZ2+mQyhxSQ
            BSa4L1yTfcucSrIz0NrgnelJu/E0i5qVKP3N4XcMKj5P7VpxryMWRvl6Qdys
            F+xtb9h77jxe9A0f3XzNpHc7QLdXeh3I/2Jxr5zZcBZDTp30w3zUT1upX+oP
            61VnUrxTTOG5gDSN705GO7/WqZ88X497xmQ/H/eZMMXmgZwkx1ovzoH6obNc
            0dfWXue3Jsr0+L4YzD1Br+n8M74q6tI+V1SV4Sb5e+ZAryXMfvtaXAprBcgm
            aw0GiAh9JbYxi5CofOiYMwU8pnyd2I4LV0+mbxZPzvf1er/PiuAShzDyEFxp
            zLkNDHPSD462826NMBj7nszFOWvNZ1VAQUUy9WYHD6ox0w2FOBwkWaC9XKDT
            /HKF9DYNQQONHVR35zlTvK1OMoj4pjftdJp8PNbTxV/XU7ELmsGPsBQqoFv8
            iw7Ia3pGl0jDRkbykt6CPj1XUTuVezlX8jjmayhHQMmdtl/JKdkt6k/+ud95
            SLlOON+TsZ1lCPSCLSCmaTkCasc59VexQficOrMbngnepIt2JnoWNv7Cfmnk
            05/lsFAtU4Qa13HD9m0ntniM5H+64a9yn4fFRLVeZ641wc5zUg7Icdm+i/V7
            3zHbg6eBNSl22Xzccf8k99r7sMwz32dIsLzLUCzRbvDZ3gKDXHBCNWf7WcHZ
            yPg+Fea9jHO89QuFORVKjNOcNCz/0zpMe0AjN8EVxhi+guB2AO0ftwyKvB95
            Xb/zi7CtkdX/yHxGlINioqrl6CKl5Uldh5y+5g3nKFfz+VPCSbP5iWwLtB31
            sIpTTvsh5XZ3i7l5p/ar/B1tDb1sZve67mfAi1pD0TbME9YsvxZjzsYNOyLm
            LAETRuo9vt5Vr6jsL98R/E68F5uctj0Hc52DeWCuTvPiKekZd7C5v/4GRlx5
            6xMjbYWabAoHUUrEGtCulnYXc5InBB8A3ud0luv+ZEzUS3kvfTM9wCjg7cql
            GMkzdpxD5ZsELJqUS5p/GfUFTc+kOAZ/RA51rCGbjah4Fy8900FxPPMYWizY
            NrJoC3ftXIu0qdn38yh3LGDpstxDntOxR0j7dQDDW+4jmXiVb7pCTe+5VLyU
            HVP94PtGfLXl2pZSyvQQw2Qi3epNg1AcOCsxp4LMYKOMSmRnFi3QRaDy8273
            PFVvpczKnGneMqYoO5i3XkCBvpW/gU4bnuaNxLvMC4c6ZKnrVM+W37RdP98v
            0z1KZtgl+ZL966LejVEBTJ9oMgLPR/QVavLqVeyim+5oZFLy2/fjpkOOLf/H
            hl3PPDQAvxb3ORodMw6LtwF6ID/pGqXVlI1EoLdfi4p3YTYZ45WXcHjORbss
            ysTtC94wA23r1m47hHJZLGda8FCPr9S0B9XD21aetFc4Xzk6OJeVkUzszIHj
            iQS8gyIhHB8yF4zNW8n7cv7vmD1sJ1XmCiyM3+jCtk8L/JYwQFmBuS29G5b3
            ibmjmEEKpwpovTDufj7Af7z0GUBc7t4fuX3uj5fuqxN/vPVZjJbOGDS3js9R
            S9nMjo6yTdG0ikGAK3Ak9Y997dw6TfSY5ZzM5ntiOsu33la6S+blrXfek2j6
            L23ardNKy5+uDEdcp7hS9v5cJr81un+orlbzp+6R8uk6gO0ZVxeAcfvMkiYJ
            AYRw3L6pOD+KZ0FbLj47LJ/Yjm/obht7OaoQnlTJfy3tLOV8tKSim9QczvKL
            VAuXvPOOKdf7JRpMdtg9Wq5HOk8RnuZ5tbuNueW7oKPHhw5s2/G447Ylsj2/
            DvODus/SvfcZw0tngHF+j2Sp71ys0/KN1zsmU/Q7Tx1tNffvaj5jZtvnbG3j
            9n0ym077Td33seMnT+YiMFopsR52B88UM2xKLHulSr+WIVuPoHy/Oy/dSV8/
            jmlsee20PUm5Bl35OS9Btg1JJpucc+bxGkxDc+efWYr93ijsktFXtHgRAmNB
            cjeaQFT5/CTTsZAnOS5vpnte+93CoweUDVtvQT0G4x0ss02WzJr0dJQ+Sue+
            17cfxr3elNkwvN3wbx0BifE7r6bw9vH2T+a5LGmMTsIpSQ/dzDmcHlCW7wFn
            run3CjjLjCegfDWqh5CuM3bCYTER3joE4E3S4HV05sihf8TL51neapi/JLj9
            mst+JaZQXxJFSoaMNd3yep7lOi/Nc/zhHfZGu3UEcj9SLiRbE9Juz7KAQ03h
            phhB5vE8HeYLRLo59LeuynnGMjc7h+YJ1a3vJ+aqZMUHaHcOnhsGCMNF+n0w
            oaftr2bycebxvph7jUnqLuYnY+iwKUqQMULOTHtylFPFnfAR8J6ZqrDLuzxd
            6f98USDFHK3C2SxPkK+4/W1U5s51k5mFH7Dn2DQvYU61PG/bnt49/Z8YV0U5
            uJvVUee7DuZ/eNXhfl9H7lZHl89UEufxWvspQj8ftx/GnZc2SRdE4HPOZrYC
            Yc/rtimTn8dJEEX5DzbkDdOZz/hAO8zDhDPkXGas67O8csdtHY1slToNex7+
            aF90ye/oD2fx936hW8Lxe7pEcS5/oEtwtj/okn9CF3A+6TeKgTFUFH2hmdtB
            /rVVchfF1KEPwwqd+Z2Tjw+fROamYB+OTT1zPYvb8ckX1i/bO+7teBmf9p1X
            Sj5cblSJ7mmSQNsYV5hrTUvHPb9zbr/9+B55SpS3l/FX/Jh9UkeYqAV+5RC+
            +yc4u0wupZA3XnZJ1p7Otc/0G3VTQeBk94W5BFG96BeaZP817RsXzX9NpgqA
            MO543yuf+6Zn+e7OyRa/cprddNXs17xzDzGW9kjvcTPuI9gI98qxli/hA9Wc
            3nmtFTyStjkzyexkx4EItPdg7hXGOtq5zBj/OshWzG1/MmVRbWcvFzMrUjeS
            GR2eLmOy7zDfvBpka3rnqmE6DCCFuvxSTE1SEPKNoi0t5wrnc+c6Btfago2B
            8Q0rXT0D01jjDCbBGiZwy4xfJZqLiipeaaIAKo9233d+J8aQpMw7zNHefZEF
            lGyGwLR01tnd1Rl70uwMQBImxR4ZlumR9guMtpJJH4264zOZ3Y78vGIHPLiy
            wR/GMBtml4KTj7My0a0br4OHKcxlQrv/aSEv6DMEYi9Y4LtrGwLJVs3u275P
            xuMxrYzugaMb4Zxnvh2ziS6N+ZxSWM8ztzBvc/sMMrjL1uHlYPYEh2LAYK6m
            4nuOD1tP1j+G2Vha3fGOH8MoBUoOmk3vzbwHuo9my01XvDDMh9ftPSdajrYE
            0Xzh2/adZ0wS5iyespY0G6H4ynO0aUbM3eXVRlYclGg5OzlmCtn8HrMfceaU
            K3kA+m0zbhnzyNAWJtBWJF2WGYa25oX5roroIlqetZ2jQDlMUSjPnVsgXmiA
            Nom53ueSnjWKnbPvI/X4PMz7mez1QWcxHqTJFS0PaaSe5OYrGnUdIG+qvQvr
            6gpqsttT1FI+L/Ljdv+qffNCoi2s7NzC3Ye572WHrkjymDnOL8fad86vw+L7
            tuNF91tMjzt3sLPc8OzrvddoPUo/NwAIizuw7S8YZU57v9jz2/B/LZQeFnVD
            Xr5k3C0n8zZhOPS9T3Zbk92Hfd/3fdv1/eN/g/5Rx7/9z9Ola4j3+5ffT3LZ
            7n1Ppvf5nqcum//X5sz3dzt65CunyXxV+Nn9abz89/ePDtj7V/tf45hy8d5D
            GLYD0ig/lo1W9n7+/R6opXBOGOiWf5E2GSG+Sp3Vxnov6dfnxFGaq9Hjj3OV
            91zOI/34fvyhffw8g+LCu/pz/TZXKf08vrDbPy1U2C/fr2n1X67++L5cLv+r
            /t17xbuf98qf/v1przE94L96T8GqVwTUlEmMWtl7teLnWldFOfptgT+NlSug
            fbl+nmu399rxm73W7nPzm33djz+8j394X//w/g/t1z/sxXutXPuPr3X93Vr/
            vL59aAeUvv7H1/r6r631f3ouQ7L6X3AkBEY4eV1f4wxW7rv8GSzP8ve/u3y7
            AkVNwFF2XfvKoPF8fzqnONijhcbnkeYfVOLva97XUuxa3b6/7HswuknfX/Y9
            vZeUPajY8+/+znQo1iDa98/nd3/pk5BqkvyGTYmmG3b1+z4uu4JBq8qJzqTo
            1NHv96vZleZkwvvJ3tdk9/ec+AK8n37Y39ce054TMijPvr5xxvFClFo75v7d
            2+q6/vp/sYMXfw== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
