<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0b05.180a</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0b05.180a</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0b05_180a</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>0b05_180a_v5810</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>6154</integer>
        <key>idVendor</key>
        <integer>2821</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0b05_180a_v5810</key>
          <data>
            eNq0fVmW5DiS5P+8N3chdmD+QJC8/5FGRFRBM/eI7Mo33ZNVHjSjcQUUuqvo
            /zniwf8y/sYT/vf/+j+xH/ZfOPCpDv6X48H/32d4Lh76+H/4WO3geRyx8VpR
            H3mNcfz4L1y4+HPajzmEgn9jXa3U0nJ96oN/ezxKKSnHeNQL+zJ+XRVHjo7H
            OY5UlrahRd046cq8WRiJDxaz3ax2fgt8t4VvM/nRIdjv5/E+tr2+jcJRUuD1
            8h6D/Q7Vf2++XX6dy3+Pvj/t45ZG1I6KuEzXM2Hk3qc+6hP5e0wpPEdZjz/R
            DLk9ffGTXm2O+A5h/h7QukrPd10zHO/+jgnjLJwYn3Lx3Y9ZcZC9b++j51hm
            SjmVhy+XVrSR5RXy03DGrA/HO1TefGHcnnREXOuo9Uh89IXz7nBEvg/mI3Fs
            F364I/ZNjiH24c4r+nH4nO8j5VBPI4EQNQQLE3tV0A0OzBMHJLvQurFvaFIS
            Z4LHLdINfks87sZ37D8f7MO56fR9OOdc2IeXSQ3EEjUi/Whf/6v+v+L/iwv/
            gHzys47bKFuEcNvCSMfXfvxS0x5srITv/dWO7/3ndTT9/Gf93J+HXacdv44/
            jebar+eJtxHT1fH9a3+NYRgh/jpeo8Fx+rk/9V50/K/nCWuJ5tf6ei89qC2F
            8ut4ZxvY/LrOEFFjl+231fn575lGAjFwwn4/tF905P7wvM1mbCWHOPpnv68I
            nTGW7d9niJ7xv+Yrzo7Gv8VXKVfmu59v56tn+QrFPzat9vgp2/HHPr753Zfv
            Pz7XioWT93Xs+wsp+3P89/7Tme3v56nv8/svaXOddoq7ZDCw/ptQkrHkXxMW
            17yNq//aP+cy3vJz/4w2G+HX9cMV/d1/EcQVyt8IopcuJhnf61+3kUAi5fpB
            yRhz/HP1aP/4RfXpztq/EtgUiKCWkGNvPT1HzmAjlTOUW8DSr3mCp/c4jrPd
            4Mtiezr5qffDoR8Pjr+C1h2HFOyrniEnsBZsZ8z+lOQkWYSoV3w6hhgTgJ/6
            vY56U+T8p9+Tia8eryoiJdeAxIQMWGXWu13dSe7f/mHaHqxp3uep4fjH//y4
            +O+O4/z/q+PKvzzu/HlcakYC+adE+3XS9Z8unkUQWCWxnf+D+8Z/2mfT9zz/
            M9MXffri8V8PY/Tpy+k/HefTV//jceVfHnf+y/te/+k98jubpwuCQgb3Ndzv
            Af//9vUqsZFDkt7TbZr5zVenrfcQ4grQA8BSSKgxghW8n6Bz5BPcAopWPqET
            nPjlLPir+Gv4w2o/IePPiT8eC4XwhO583vgDl6JOBCUyQ0nK0HnywvnQczIU
            rrxwPqRxhgTPC+cvnL9w/sL50I0yeFgGT83gWRncOF84/8L5F84HYeYL518d
            07GkT2Rj8+Jv+nav72/Qti996+Ey2ROkEnZopdDKxY8zFdshUQWlDKz/eRpk
            LjTDc7X7aeB4J04wDtqhsIdDrHaG56aOnW87n+fN9jxg1K2l6lyg8pBn+NKi
            FInncZ26CJTReD+X2PyRKy8SOx4AN43nc/NzeThzUDsCdL4RVorh6gMP2B5I
            R9O4e763rMVLnuUHUfbQpOh0O6ZDNZ7xkc5+UeUdphEc8aHSefk5l7SibJZB
            vyBKEt7llgS24Q1n5gvXAXIKGKgIE+d5lp/PZ6il2+rj+XfFPav03LkHa1QN
            8mVTte50+lQ90hG7aWeUjrj6JRPpyHriWWoePaZwlcQp228AhbN1joyuiJnY
            VyymAHWRSweNPhmTh+eZK38mbz9PTzx+nLnJ6quY7HY9V6y0Pex4zGKOoXao
            uhhfCGAYEdW/g7RxHc6jkUCjyjNAFc9F5fBcOgGE+dACJbXEZ2qb30nFcvSJ
            xHMuEsePSdUx58rZ1Jbjb8fUJluOthdoqBTZYaNw4ru9RCOxVAwfjgqFwxhP
            0BdocXZq+5nkeOF7se+R3wd0oRlHoDzoPA+0gmuv+ciMCTw/8eUuqrzQGSAG
            Owi4cTphG/HYZsfCDg4xhhVJ2BiwOZ+WThJUlJZNhQvPeAWuuv6+9wVV2TRJ
            aS3x/AvB35UcItNgw+RNrmCa8/kHwbcPwQ/pTOQ0GjoQyI3nwNKt0Lm+FyYW
            +N2GuALfX9o2KLzu82DvPrxvvXleD0YCbifwxEXlSS8SwIsuGemcvD8nkFSL
            8ckl7nUQi62iFu2h9CLhgYGwV9GVc3GapyoI3gArljQMdXBxfdKBUY3XjJND
            WMb9hD4CeM4So2uUeDU/tvpAYTfXStfqq9/D93yGj+eUtJ6yecyd9Za8QPs+
            J73nRD56Xfmp4oUkT4yMrNrs5xRKHwifAslQ2sgD77RoFYZK5hxGyR0kMxpf
            LEONgS3TtdCT3VvPBcJra6/jSROQjof887k+pEByCv2icDOTl/zy5uIICyTM
            c6YJCuj1xnkG3nViWQeQdKLwwjWwDEArrcSSnQToHnqGdiYyYLI5WJTuG+Gg
            hfDI91Ki3whMFvvBHuhXOHUzmBod9NzuxmtSoIR55xm1xien5JkUKHVf4/CH
            kirCScX3iDWKNTZxbUz0xW2aHBgNGG5UpwYMjPuZNvln39f7YyKTLOzc4j4H
            Fs0ZxIDBDkWMZ04yKMER5B956JABgZxrQHDU8AqOJiNs4f4kChJtNEI6cz43
            o74u6jD7/loDd+nQgfz+2Yn39nMO/oZ1AsbT9jF9PbOKC0Fd4XU3L3zCGnIF
            tf6O3dlG4SKGWI7QTCAMoIVwnZN34s2gNUE4Xwd46EnBhjFrciFBF8H56TES
            GA8loDO7VTGx47lTqv1OjVIkTW5B5+AkdnOqQvg90uwle6DLSs4FKOdZ1iGW
            LjUYMdd4dggZUDjJgCvixrTI9oak8BVR5LLrUy4gSG/8ZpJwZBsITc70FaEJ
            AfNeQcYdbVCoJIvXGvNzfCo4foGI+laVYnzWaffACrpcVYJUW5uZ6rzz6Vi9
            LV5cECQM6J4wbfckndSOpMZlU+MgV+4OoQmiSfczeZ0YPvKf+6FzT1tcMY9V
            730tPMcT5N7waz22il9ifIwYIYi7EyOfp4SvBXpyrDJNdrsGF2JuWswcJ6y5
            kjavBgcUp3noHxzDucB8grtyGlbrs1fRkMt3pm04BQ4HL9kmHp6vANXmuG+s
            KzI4sEvjD4POhZWma62B5hydnhCZ+I6vVGTbmff60jj1RI08mNixIfgtPyP0
            BAgS3jfSV+QCYDXJTxCY5DQUu5bL+/qzktn7s8IQEJnIZ+Rkghc+9Tz3FjTx
            bL1knRNoODxydYXs98GxCepch9zl7fwcrLnS9jlHtWcL63NOPeycHEUKPOeC
            AdL3OXXa1MSv++A6D8+Z4322mxrwHgP86T45f8YASu3NMRgfEnhSnve2ENJt
            oh8kDXE9XBc4bxtwCAmRQePd91ojBdTbvPP05kghxCt/HvSCJl5NW93nhLPP
            V8KFagN/9yYdgUoLrtOpYMqvZefQMD/3ZKXH7gOJ8E5WduK5x3ufBDYy9jnQ
            RfRy4WuC8Vz04bbrfO+DNWbuXQr85zRmHvZ9sA/v08lQwTEe4wGpnMvMLC7j
            iGc3T0qrvm7LNtMuMuHnvFLDc52101y7mrvXJMlTTes0wQCtHw+3bMXb2Gwe
            wEXEcZLWYgLyED/IeK6K9/z+/C6S1GauaQsq8nKt95mfPR43BAHeoV23COQ6
            lpHAupv5q8EpXuZyux/wWn6BLwY1OyYBD0GGg6XdjcGlUdfdt+YJyX+Sudzz
            c35yRjuDnZ/w+lRCc3onCMoMiIsD9IjhagWm75WBc0FAbV26b2FMAhL63C+O
            602ZdvEzqVAOTUOwe8C4v6/9nHGa+Rn753hoPkNadRYRcOLAwiAIgjEtvPMI
            civYc/HdRAAkmi2lH1lWB9cT7vHoOyR0TvXkvkuaTMPFEoYoi6SwKPjOg2pH
            pEtdEwcC60ZQUJW5Bafw79G+h9u/X/Y9p4zBts/Jj6WGtbiiGfvhMYyLnM0F
            wXVHVzFOCqT42En56wRcfAZIf6oehQoMtIA0oROf2n+cQabjdVJqnc/gFhS3
            9J0s+4o4DJoBBhgSduLzHEd91ZoxdB4Dn2SzCy/Z8TcD7digl57VTctFZ7JF
            J0CTAdcZIjJohQp7YqblHxAbuTmvU5Mbsu0f2b6DYIvM4W7fOwxIcZ6zSR9P
            vg3FJgN2ZjN2a9viUYyRQV+3Oa/lw/T750PhN+hIuMHNR4nL9P3OV4E+f0bd
            zyyVo/s2LHvukG3bPUpz+H2CX3+HnFa2665l28vvs7p/z3tri/pcPj44cLuG
            7ssjrMt/hFIouUQDuuRWLx88vK72Q53TRX2CYJfbZDGeqc8glkOqon+2LUdX
            6uB/ekg6DzEFj7yCvjrAoQYNUMjkatGFs2D1yJbviZGICHLV+kkMTM4Ay4m2
            B+5LJwZVvmifue3/9D0u+SAHzz0pU6ES4lodf4vKEbZjBdvi3SO3kHWB9+vJ
            tgvbIK4jnQ6TcipUDvsGxHQff+o5DGnQi3nI8di6iUEGqV9xmz9amp+DF62K
            cJYg9fk0Ed3DPgcM/Jn3K24Z7U0lF2UXlEg9Lrgu8NCp/mixQIXXBcDYYOrS
            /QClJ26PlC4CRRKCkw8LfXZeYOk877bztCyou6bz+GmZ53LTd8Pz6EtzJevO
            X+f9MOh0Dvj7Gfa9RjW5jVUV/8EIPBmTutY69mDWaCx7cgVpYGJKF6Pz4G4g
            IFiDfTxfhtZhRin0cyYYVHDTy20WXruDg6z3eahYLRKuXfvV4/H+5H7lfg1K
            njvm+px7+bl19fy3c8N7LjlJnmmtsN8pY66oi2BW7b4DQgrvhbtwptK4mGtx
            pXLhKth/Quc6paBqTM/B50kMqFMMigQCDveIslIOenkpL35TngaY0ltuHgYW
            aLHz0cEKzRrII0jmu3J0J3nSzNqnLCxOGPxcI8QhHq5vYwlmbf8MEpQBOVyh
            JZrSBXG8LQwO0lOfqW155seyyLe08PyPDq1mllab+x2mWxYrd3PHZEWBWtX9
            t/6A13MC5jnDVym4ZntX3Py9Skuoa2r1Z+go1Qk4rT72OXky4PqeU7g2QWRp
            nwPRuuRsW33tc24ZkZvDwNhb03MmMNTX8zMdQARUMkl3G4UBijEJqEdeszsJ
            hHV7wP/UZDHw1pukGD3auOlZY5V3W5Fm+ecL2PCyCaM/uxkLH7W7hd1EzVAs
            n5fCw1bK9PB1UR3goMp/VPufLuZiGi5dOXdMT0np14TymH5lyxwaQaaiXFhn
            t+eQ2yeP8VrZ0DpgecQK9nj0bWoV7IQO5hwKVraz4X69sYLnuX9ytTJvcogP
            VxvGocbxDz5KTvBJrUeKK85RWgknOI9X2T2ju5bs+FX7bcdPuc8uHT8/x6/3
            eKaGlGvmz/E32D892ZA9r9K6F+eqpqBe3UggKqNlxkhThD6/49z+vXLffdT9
            oiU9N8X9iHbR7UrBYILe2i2FMtAbLBNxcHvWHYDSwOHit2Um4CGbm5gFYvX7
            pVqREnkZsdWjwtD/8qdLuSrLzqlHu+hrrnTjPgpOPXOB+I5tOkIuZ8+GgN44
            h92zzs89b96z4rYyayOvCqWy3ZuwMGozTNridg5UosJ3D0FxBC0pucuweHoX
            G78qXVLxN2eo6ab14rJ4OOeFLHw5LwjQVrnOoWuuwoKHbkTWnUQ4g8sFAqxs
            nYjehI77KfBhjuBEtQ1mEVgXFjWs4EGfDMcOCxtGWoNJTAKORgKwrqkCBkbq
            ZFaYdRD4Uliq4ZBy1w/X/m3rFgQJEMfn4d8To7GSuZCpKfCGWQp8DIPciNo9
            74UTM2WS9AFT3ucqxiqn5e0YJ6gFJCtHDS63jvQrrN4LB6me9CfRrsEg1fyM
            LGeVDZIik9dv32YUjRzFA0dZpgLe098D+rBooOczdJlUzMIMgw7w9fSx5Exa
            pN5tcuE4Kbwn0+ikVSy91+Pvt9/TdIMKXeMccp5f4hg0d3CmPfPrW6TfouJC
            FHlzO+9rP8mBeC5p+zbOh1csO0IosUDlk0E/8pJEz7qsNPeTVsxYBic0EiAn
            tySxIkWlS8HrQzKLtvxDGzk8s05R+OMXmXPlts9bw87L0c6Lfh5sYp2Xms7j
            y5+wzM8dEpUDQDa2nadDXDFqoNbS3zA2JxvUWs7tFG7URbqe1UNEIPdoq/GG
            qOLE3omhQuNOoKIT3wudxljd05/nKsdsWwdRBG5R5puc1/s/inwM0XyQs/vx
            VX2X7ueKuZm8L186AmZJOovCNWLX9OYkJd3S/wLT7ia7hvn+hriTi05F+xjm
            ZqRkPCf9MGAs5tRhgHeBuEkI1BtO5471cx3PdAMnOOU5mTTd780dwRRASkYC
            hXGneWyqUiojWeV+KKcoUlESFVExbHHB6t8P8DD8Qio+7JyXSzSGZv1h6EQS
            m2Lc6tIDYcBPbpV192rPoBcmgPi1k2vPz/s8McWzFYWmsCJ5/rm2jtJyWJaz
            S47AJ3Nz9txKpc5rOI9hIMh4slBqgEZkDRrWee7VeV9gy1y5t58fQGG6Bj2M
            dq1ycmyqrtfp5sUa5me9r12zggO9XKpfWLUcnWrXlK6EyTiC6Szh9DAV8wTw
            Sny+CgLgtqUtolsb61z7OemZoohO/pxBKQCXxj0P9zByzKPczXpWmJkgb5BA
            gUH/pnBMuinitSyAHHxCoMTNcxNIWY9yYe7lg1J8gmkKlnORUMa9V0mDogW2
            6A+6DlOaAl7vW2nSZIAVFou4XXRpgZ1Qm+aqggai6JrlvEdlljB8lpf+d+bL
            zH9sf36+7bMchBDntJAiLULGVZOlg2I8tODweFOPcylVICkbhG6GQ5GcUz5c
            0j8W7oNHznR/FCjSsrTzGelwK1nRNYjgananvtNZJ0lKaajIpKQZ7hH4e2MW
            FKRJWLBXUz78HGZBBf8cPp95XIj/eFzXsdGPpeTEp/07hJmf1+w6ATd87Dds
            zx/X/Hy+mRf66z56z789Hz/XszZuFd5s4YI9k/EcEOcwJvB5DD0XtTS6s3K6
            83kl5v7QYvdnt1ylASWF14PJwFqIaZ6sOChF3KvMk6bUFzor+43FZt9r960I
            4L61EGAz27FU+7nQAsUhiAlcp8utD3HOz1B3xupVtD3IeZkXksdt6UCWgXUu
            E/nn8Iysw8Kf0JPMbbGWnI1dSiKF75QLBJqO1sEzLCGqeiozuICOxwpoWid3
            dneh3XfnoXd/jp1n3rt978u2Oy99+HnlNpsRq8qux1CjEhdsOw7bNt/Pxe1u
            Svs+7T7Nj+/ZtrARi+XX2/edTz/8+WoM1TKOfdyuJEmPuSzf+fZpmNXf/Pnr
            5ckS3cYLikU0zeJZuRoJTKXA0OPaPfvCB/emlNlGmew/y1BppjRLlDDXEHQF
            I+GGUoJDyNBArxfdnyGWQeZ5lhG5Ws8SmK2ZIVmWjPYwSpTuV1PMKbZYJljW
            hLkQQBnKfQR3YPEFbIY+YrzucqXmTtG8TP993EN9UKczySZf1Ger5+0UOhO8
            AdfGZyUp3mBBA/yQ/qvpGSBTak7FFha9QhtMvki3pSsG6b5TUusr2emzAD73
            l3EBCR6yLRSW68xTgVeQUbgD63Ruc76+zthDW15bTlooK2lxu3Rc4PkQHjel
            HT8n+qioO38twh5g2g8mCUIeL+rVmed3uYJghenZlXeQTHWJJ0Xw/T64/D9O
            MZ2uDfPvQDfFcfVLyaf1Vuw7JE4tnHTzKB//dL00VrKUpLNAqnMiMPVcLzlB
            MQGlQO8/9eBFeviSMRE06JggyN5Jp730EU4K2BsG9JIDkt6YKG/wahRugU4X
            CBS8eMLEkj7OEmekfxkTHBnXo/MahLES02exxf5arxRhwKyOfRc+4/LQ0mY6
            LlwhKiR3k0DoksP1QscWzxVwDkWjmOPMMTYSi30uGPTI+HB+GEu7823Pesrg
            vptEa8XnZZ9xU+gu9rnxc7XP18lgoH2GMYVZt89MFTmvm9FwTMFzndM+Nzzs
            2ezzhN4KWd4GrOwz4XO4oRIZCTBAoYeD9bfmbReF4QEqu1voYudc3BB9VwlN
            Vi3mKsNEpeueMrBdnfoSbIHnwiqTtdrKDuwVrKJgq4iTyQAk0xsoT+g1O2VN
            Mv/quiBOtfqYZMUsCpngeh5msCT7nJS2qOt5sNUILn2LI1J5NlFEQixZTh3G
            fixGNKLUpwB+b5l+zjEYTIp5dD8PrOJyHXNu4mXKEI2gyQgxtGUaa9QtE/Qf
            WF2Dz6TasMqyQffeU39kVmTOIG9lAaWayGAiNLmcxF6aH991fIrkBvZelzhK
            VjrWQU/sAj9tK2/vAoPmNAhbY1C22/7JQL6cwPGjL+Ga9CBgQHqrl6uD1yIf
            oqzWS1MxZB6u33BwIqqy7cWSIhNs8Mxlni3dJzmR3RDabKPzCpNMpyiV9YaX
            h+TTBKUJc/CGrZWV04vFjlXBJOTQpPSLTdWma41AOzXAuAxxc6gQG0wTvEG6
            YVWeUgZhyea0mB+O7WOVf7U8JFIMA4snK1c4FgM4VAp+DgYPRJqolJXxdb94
            Kfo+Kgyr/IzzrEPcjjYL7odjajpxDJQDqG6VCvCd2ikn8HUde1zqydy1yDgB
            /u3diZtjtZjxRSGOsbu2gTcbJ4jsujDMerZu76UFU8XNwj1YxPX1mwoN8R5P
            tMA8PuvldN5geCPjb6XHXU+BhNSiB6L1voWh8GQkcC/zB3eV0EqVorw0iuOA
            wNo5M7SgW4ULFqLQgzMdeJYiyzRfAQOyPJuSRYN0LK4ntfmKDVwX36O0/BCt
            SBY6dbKHDGf4IrDRUqw2QXJ6gANxdTGb/gLRcCI8zH+cTH6m4okJJFHR0ZCO
            au+TIO0Pxq8KaQH3C7eIMdlEHY9keki9KXElbN8dz+5f71TImUzsYQLL/nzz
            c/gipMeek+MWL+VoHC/xni02/pmnf9WklEYRWZmMS5WTz+YxwQ9HG0u+veEK
            nmpEyNGcQx2uIIduAejN8S5XsLGRi2PcJ4tcyDSsxq8Ey3CBqLl2lbUSfDe7
            Y8QKnIBZsOt8WLvbFJYKGpDPIJIgQBzjljvgTr+sA0aLxZLBelZQvcbabFqR
            8SyHoRyBELoXH3L6yy5z+9IRaC9Ja+PJpG4YYRaJxmexXl77DJj8m+QA/ZhZ
            Npt94mXB9yaWS8FKgJkHJtAtmFmZ2W4Zr4GEGxknq4GGFdPiSdwnf6diOJh8
            xWyYAY4FGdJxw3EzpfRicEmRfLkf8BosAZkna/4ajQFOSaJ7rMG0LCMc+5p0
            xTBvQfsx/++4FpZXfoiEmTHK+i+X8ifPjvvCJq+zDymqeA8Q0HCnst6JnDgx
            CgFOfE4FPCczEMchF8kIRSSQGHyn4pVYngCLPM0Ig+UsFxUZKWNRymDaD6EV
            kW0VqCwfF4sKokEf7MqOzfTI5ssH4HDvcWQilZTmSvH2slG8IOTeJeUP104s
            NeCkFCpXUVp578/4XhlXf1eEmWDZiIfRFjMNY3BvsuWRODFCpg1mmpNgaBYF
            ECb2iQj5G1MVSIw/FsGESKNPjJojJx9jBLZt4osT4typjOfcn0fQyP5YDAfG
            BMZ1WOfr52Od1vTcotD3fvqvcA3zn5j1E5mlW2T1WM28v3dm1MC99tSxZiWR
            fukOuN2YIHiJmkZ3ArmVWWyzUB3smKYzbco5oCeLei7FhaZeCJRUyuczc3D3
            57oeBSXbqdV9hz14QQpR0ACeYt1aieGG1swgcSrM1YbSZvEhKnmVDknIvhsy
            eLA8e8Ke9AwuyrZ97I4kh3jrhSgHlYuMLb4HmL2J6AOUre/zM3W5cgwj0xqg
            7MGa71aWxJTBK2rCNNiQGc3zbsROg0EGpFi+KImODsbDSUmDpWczn9hnnjPy
            ABgg66xTMqxBqRkZa6grQyyLfWjlrG9lpzCzODQpZJDj4tnJM7iebDO+efzw
            7avFYgpUSNjMa0mttou1un16WZJ92pSBtVIZ24GyV5LSt0uAosOieOZxK/8d
            q/wEJZ6MTjO2zzzuqqKoQOshFNPoGcOQ/UwxwEAlk3geP44FE8yxzvdhzCqD
            aRUMgPJPwWz8Htk0ZqbLYB9YfHYoj0vhh+uS7Uv+VaInNlEP4bk0kmN8z8nx
            BqEEj2GlNvT5NHubdjVzd0hGJMzJfFBXRDFGUCBdSYPxx0oS3RtGM0igQflg
            4vhzk6JY4YFlFUJVUuZRmLsQVN6NO2Il+EtogCIGYykNBJMIk4o5hpINpkBZ
            IBFU3u3hbrysr0ClBfxgJXTVXh8zhxT7ZCsciMwGl8Jg7AIr5RQagRcW8GN7
            VIbz/HD+MGdJHmY7347Cyb88dNmMh5QuXwnUqg7XxmyLZ05WV8OV0W+Lu6vK
            wXP9KAUs4/5UNYj8nXQuKUROe3FAmCmdzOSIdPoRJEAwi5NlkkXRyYsmRb3v
            +KrWQxQNvXfIL0qNDdoWLC86SkyNjklxKAbLx5uUGhSbGNTQZnvuGMEnr8gQ
            HFnjhDBg+Hx6yDgMF7ZY05gCvBmVkrNIYGf8DjOiY+VDEF5g0Xi2Ec90sVAW
            a2hK84RgxnUqni9+nu/w52PKHcyPo3vEtG2lhWHqyzTq7kmu2oLS/btxIN9G
            2dLuzOE7/ot7qt442XuymktyKbrNjtsYCbDi1wIkdnDxG/jLD5bUHhdG5A4h
            2iAHP56DDBP1qpOpVpSgisP2dmkiEgeOgQAC6lQ6HJe94OhM447cpxf3Le/F
            qEoWEeJ73aU5uEb1zGCrZxpYGO3wfX3/9vs7nmSFaTWV1bOEfXv8T30vh39P
            9qy+1fd43bafxxU/Lv76Hn59P35+L8/P7wEqGl2f4idMJD9BA5N+9OsqPo7p
            9nOnPVMxFkp7GdvbtjhuuuZY6IGzwAAOMq9Rz8tPan4RDw5MLHXqTXIthstV
            cHqDyqoP+WPmPiiBtx0bQTtPDH3SaD+aCi3wGfvzex0QJ5gALSc6UZfyifm5
            M8fiuOth1z26XTsy/bt+ERP437Xdmwejq3ie+HeiUlq4E1XwdHKuQnqo02bf
            vj+tX9/PX9890GJyqe4xhJLj3/uv7+3X+U6wh499wiRXcPzqicJb+72X2X3X
            8kDKLhvzbOjs2nFndLp/AIKq25WbY5+9eyKRX2fdFk6AHavAtUcxdHLz7xt9
            Z0dhll98R102+s+Oymz0oB192SncOzqzs5/jjtYce2vHJb/Ojsa8UZcdpck/
            ozA7KhX6jgrtaJFv/fe4n9ejNKdnZedug3H6YK6dtZ1/Zm//Tj1/s7l3drf/
            LqJ0LjB89fvWoQUGhA/ZfJ3RRSWVKCuEwx7eoSrgsWQTMkk91f6KRWhwO6Gn
            S3ka0DfEZa1YUUk7UkQjRcP2tF2HedokIqRejUEnSXMu0JZQxsS6VUjRHnsJ
            HThUyAeDzV5oX9T0BeYYcn6wDqB/QhW036O797CdBHT7fulkLw1bq7etbwT3
            PLGqkjgH9CEFM8ibyTfCSQw6KaAqsUpz7IytSi8V9BVmNbFGeTZHh6P7c7qv
            1V2b+lzl0cIdQV7RTSYTLZ0RnEK3Z1Hhe5OKU108MupUxyk2TduDftoBEZqG
            KYHUY0oNco0yd9TFlXA86ANnSopz0dZr3LI6MR7dE7hioNchQuuB8slkDQZR
            OP545kdsenSoVdStBJ6E/dL5oXdFxtenfgM/AdFxP5NhCp+NBMIabpjssw6w
            4iU3ldyb0XUBpSVdMVPjTQSrYf0w3joS0SSnkyFDevUh9XN2MeGOeu4Ga+3M
            3T5Z1xDGTjPHCNZwl8pKDClzHJBDwCZN2VKsAyynBkvQKt8OArDUU2y1twk7
            b20Wq5ViZo85u5wYWXRDglEhDl2T/B4kRmjqQfE3n6pve3JCli+HqwgTn6Kd
            Kx3CRUB0maot3js+H82dRjqk2aJYonLJ59xlbSQEJo5QGXsVVdedMMArtq03
            SCmVwo1rTYnUrxoT1p0cwUQV7qN3EJFNmT1pV0oRsQtEFXA9WFdcMVGGo+VX
            mjJ4pL0gtpkbzTaudxrMh+JLbXa8g9mbbVYvktkVPlc232b074F5/oxLcyzM
            VJG5MghQpcwqu+6WaVvWda/4OZ29YmxUXruD8xsM78z7d7eIHGTulYUu87ZM
            3LIydKs0auY0T5Owgk3xTDNdKmOijDIQ8iHC0AfxywlemA6u0E+fuzgcB0Rz
            iEv9V9YPExWdKumplpdjchlq1ocSKL72X3s/NO6eLATH/ZjpuRFLuDpWwyxH
            Oi2VWTTkkcFxJVbzGVoWbv8+3ipMtUrq7LC+hJuGZw6X6obDPjfZOYzq87yn
            PPe8O3Xz4cUVOLSSTcr0AXtNPJ55eVi11/4ciLAgTDg8Ryc7xvlEPcG7VZyf
            TiuYV5CAoBzpuZmtsgJDJNTtrmNuGUeTE89yFVb1gzOs5/R36fQOYrGAgu15
            IrjV73vF++e9Zsc7MUWNxzAsGTYJnDIge1ZysQ24fJWplUOB6EYn5pBMzDZR
            R/g6noHopliiboB72rlcqtMHOColWS9EACMe18HjwvXKtSB3/jiUpx8or0au
            47KaQrGJ6vAtuF9oVjCnbeyW3w/Z3KlVW4avP+eAzc9i4CulRx4WudF0f7Db
            zhR1ss5buEBjVppP1HhxUm0YyGaZEnRv/ohkmNO/g6VvpwWT0L61Vaj+Vu7t
            cdfNGQRrKQ5gW6jcymlkCdpMumbZmR/YN8eWvSAIsb8ux5EgBjl2eFQqMvQ3
            zKKyPI4jdA6MxSDB4QnH6dEgkjlpZoK1Rr6nkcAiyCp3QjHRdkWzMSFCme4t
            fmuf6/F7q/hqtERIYX1IBuLBmgFK/UwvOcubJ/i1n7IDLDD1Zyfc7c/1+Nou
            4zpKdmRQ8v95cDxsx2D5QSyhvqtnucNlaHettaePHIT28qZ8f8tbKIks+jPt
            NrnSaDb9f2cCweSu0prVLO7oCT1oWtHnc1JptAQCC3VyP4j6bNG4+D62g3uw
            mhqDOIM71KvGs7k3mDG4Qy+mbJ56+WCTCKAXkrz5vaT/xqCzRqVc0Atd8Ebz
            1hSf4CpkVHBpCPgHTGCpXoCmAhSnrv3hpvczSAHjFiqZjuMxkVxLNi4VBQ+Z
            yUHtYFOlsOTZvXL0wNFUYHZknE8YqxGEhe+LU2IJ9r75lueuG+oxvemVnmbl
            GkTKYE5IiRDSnulBLXGC00xWUSVG/Pmeysfib1Aqp5snObtSxnuSUbNKL9An
            MGmjK+DPdIvEez47lIZdadxBuSyMh8OqqJPl3ze9sCdfF/Y6Mdwm7fa+6HRk
            ljzGZpaLIiikwuyzQNGDQcVCMhK4qad2xuA9nJOYpkb1aGtlYMtJrkyqlJJz
            SuOOCwPebqK1SItNfYNSq9CElZc24X7d6udBt8vUdhq/gygxlGA9dMCP7Vg5
            PG6Ju9uqU9CY9hu1XJzH3CTqZnid9Z1VaSn8XIwWPM5b8Sp2HKMEyhFjqg+z
            OLsfn+341H3rwefLr5f39fz37L+PXcrtpehbMTOXq0qxo/3uANpMmuTztCSk
            lSvb9ZsD6e6Sc0g4O2+Zb/vw+2CEqmVt2vby5w8b39WfN2a7z+XiiW6jscN9
            TCpsBEdc7gB5hISRmeBVfFJSqs8FHVUTkJXOonqHPQm052YwFvlMopQRPysl
            BY8vyWCwqMSo9dw56KDtlWwVdMXsMcnPMNuSCX1PxXUqVWe7TpC6TjsUpBRb
            92xGLB6uXvmEp1fyts5ytGArBftb/v6eYkvK4bhbnyowsOtzdcZxRtiepbch
            Gza4QnnY8zL/FFRyMbDdDO5mERdXhIhr0q7nao3kEFOgDVDPaNz5WHCewQOx
            j/ADLKENycf4x6TArEw7/yoR7w4q06DFfzA99rbYweBQvNzi5Q70AfwCgcB3
            /r5k91feqy+mlRCTkyuo+nM3C4ZkcSeynMycBOnnX1mT/VJxpfB0Hubos4wE
            DI/uPCeIcN7beZLBkzQgJ7MqLsEW0b/SzXEgli8sAf7G7MDi9uT290qjzVfc
            91Tt2oZKIau2jM6D9/c8KA1ApugqP23oZ1s5j2VRGDg2xeeQAsgKp8JcYGrY
            meUHuM6UAiVFl4EOOiz4rKHYe2RLJjy09fcglo9YO/e7Hb7fQ3b+I7govUc4
            7T3SZe+RPewnO/msN4PbIE7ar5h1cEE/P/v5JJ79TKzsxID3ZPgMhoMfXX+z
            OIRwSeLzNZ/yhw0pw9TgjQSCYKTlvEz+QE5xlEmTF0msss7EUNHqZelE8Hwo
            sql8qIqJAIw3Y0g/0m55XJQDI8sVyLwp5UgZNtOPSYPxP9aHuoOcMVURGkO+
            oymj2j7Bp1NMRcFaUepM83UHyyY0J8X6PAvNQWZ+QH84F+Vt5uKuTGiBzGQe
            HcEumL5Rz4veAyx+iTGsbRK7nAZJbk37DMn8EEHGrzH8GuYcOcKLpn7hLVwc
            vWJni5v8U+ystcWCiYFnxzzdoZCLHacd9/NsMbHF3o6PL+cAUdVYlp1CUDna
            3NnHl9nLmW5QUiu9Zu7QH2JfkSkdJsMDCz0JAUfFCMNY6N4srPsySiz5OXtR
            QgDt5EldITOfz+Q3ngREm8ITMOlyHUIvUZZGUZKeNFr6HFgNpFSa6JSavI4v
            e1mZUbK5P6tpxgp5st49Ci9FCW3fmnMLWj3MFR6ZHKQ7IW3/AePXp+c+EU4x
            CzxzMJviTcORaAdf3gEK3zauHyaDkK4nkWJHMdhVLTNlz2EQ+73o/AycFXbk
            YDzY82ROZjex9hc2pZnnWXpT+6Q5lNQZ1geJgQqZr0qyTMZvum8PlgXmow3F
            KqkbBK18QljQk/BwWbODB7f0k1kBWiJQJfFiryi1nvE7hmmq9tdqqfssSNZx
            6XOcEBSWUhduRvMoDvFCk/tKt/P29e/y8/oykb+uUfNz38cuFbZzrv5fn1Oa
            3fem+VHDFK7rsuC3gtQMxkLvpVFOz5QBBCiAfPE4UC0BTVgyMCM9Ul0aM/Hq
            idHVdEz+HDP1LKBsavp4Vma4T9lblUVck3k7dNND0D5B4jXQHxl3+Ufw8ucr
            G7YO2bRVjHpDgsAa00wSIItibO95iqW759w83SAzsUVS0tYdrO3JagXtG1WA
            j9yvijuleVdRAmyxAFtfahTjLCNjGO9riDGcVth9XBZnUZLn80jCV8YuR3Ok
            XBy9hKIJEqZH0lMWmK189v7QHvUMXq0lUCHmc5P88SbTnsRj+fuxHc948rcp
            yJyl5+RvXAm4BzjIo1zAfKW1M5ODIvn8TiZ2M8FW18yXqIbHx/tStnJczFXs
            e63T5ogsLDz3vvOirSuEAPXp2d52vHkIFmYJhDA4/fh0QbBh7DndBcuz0Pnh
            v11fv1Uoh1C8y61Cmcz2LE/6yzWYfo+xfb9jbZA9X7m0ZOrLrbgZL6ZmDMGk
            ZGH/G3Ojd1XnYDCISUH0aJMyHhFdn2RUwrGuRBRrvpBS1hqzgI8dNwpmrR8u
            TemwkkpHDzmMr4dehWzHbuwwt8Rfab7J/nGvuvL6BgxKZqANT349lE4xFEml
            GtMtQZYW/YrthEpmyF+p7wr8N3Eo7kKdLLkJms4OleCZxp5BrMSfi3A/O3En
            eK2AuwZWqVcn8J785rhbNqWcpf8EEIf+eAtjde8j/jLuBDXmSS4lmZySnO/x
            mE50d6Z3B+0j6Cu9soSr/1jH189zqGR7KveP88aEhBs/rer3vibJLquEH9vp
            R2s7Gd8sjEOxmJLjz7R0EMGFwaBpI0NO5W50/cv10WJoBh4yjuvns/IZizCr
            74PXpEbPJGKw2nGYdE/4HL6vcxVFCFShTKLMnu01NlysNw2onhRaiVfTsnQo
            6TN+g61rFlbTkrerquVUMGhY3ypzQdwLL9vrazjwoTMGlvvrxoXY+wvY2RI8
            yxV//ZaIrrQEevbnb81+20mXf74UtAHzp+3kIinkchg287EF11HlLqBBzi/0
            qp0qxtOyCpx1qCEMLTdmUWaOM8zCDbGnui28luIZRtEK21LJ8yRNSxzU+iOo
            GMOpjY6j/tffvbxpemwhUJH0XPkLb+3VIHgwo05ZQEule7YyGJmjLuaxh2uw
            RM4Gqa1o8Dks6A2E7OovrMkgSSvdNmrpyJVJBNInfUG1d0MTCQQzYdy19Rfy
            owuWWJjvnsNrNl9mKiszU1enfGYZhKRD2PsOuh65xgg1ygBwj+vBu34aHRDU
            V3AaSgaEqismWpS2SvRcE9NqfaSVxBV5xexpDpFDRcxf6K+D+/j5SFR7QcTk
            pGI2rK6iz9R8dHG5NqkUIMa66/amiP4qHe182Aih9lyJ1zwdDvN7qEF8481W
            pDHMQbmNVNjzi1GXSDV+SRqApnMXImRQMdIUQ4TBOAZr5PBcSnozVV+t2ooV
            +zBIpf0sFYjRsyEHpVgX0gu7KGBLPZgQf6TozUwJUVwx5yw7YLb8BcYDQ2pS
            9kwYTKQyrn467qh8EQib+b3ELWd+7lgG1fF8ZY57FWD3TlMGUXZCOjJRzPqr
            yKsJy3dC4SJipWHhMWhNnzcJBaL6hzTzazPFlS04WFNsWe+dYpppVOf5Vkhx
            3ZwM7zSzebYnH2K3NeGOfcJLu1ParpgephUaRLUVOSnY64UyqRtMJh6vGJiO
            iXkvi8lT2Bmc8Wze8MDZCBMPtoQ2HYlPSyx89uigGJMnfDjW3EX/kRZ6kJWP
            k7xtg5jFIuvlWkwWuJUDiemRDkVOlKagPIy4ncU6RC4jQxen1yUVPD4ZxaSu
            gYUx7XgCK/N4pQAo9RHPJTKE0UWHfrLrxMjrWNYctwHfn2AxyntQUcN+u3bS
            CvTrn7x+9uszT4SJReLUmJB/eZ/TReJdhQtykVNwLPT+rC/x9AW5yegfpOlC
            z4gy2u3+e4ytwlkVZk0TXdQ3pHNsJEYLoYXs2cXOOJYekI983mTzJjUAQgYk
            MJks35RvQv7BRi/UZnEil1uo0mzXzaTavGEcWfeuCqLnO05HO3RZKRvrGQy7
            PjOLPeXbHbPBBgHzTVeI8BluYdRXVQDdqibAyoctRqiKFCItcW07+W5h+UEw
            uHrycLA2NmL4VZn9qxiFSx9vxcE6Cfg2jf+rF+D0/BELn3ykGvNPqhBxiM+a
            rDrcyh32Sru8Q1N8g7mG5XB7Ee7tCuXkSqsrn+dyAeS5/Soxd4z88jsYagk2
            I++iVdcVTq9tGJ6+/o0zz2qRzXe6Uzcjuhvfys0TifOQVMDJyiSjLHrjQZVa
            WYb4l9TG83t1uZ4ihZWZ9aBE9gmwoCHra3omrOXHIwHhcZOLbIhf6Hew3lVu
            zXABU97TSmEXEw5clL/LvQQKggq2qABFonE8zIZuB8u/o1fc3GRVsIPY4SDf
            luVTEy3OOrwRQcEzpZvWv/heEfBhNpxdeUwhydt9slAdwjDoPDoJWfCYGDy8
            Tbj2AmYVVFlbzKTgsUzR/RfH1qJGr0KeMR1mCbHMyA5Li71OSvE66nqZlDys
            WtMoofaNCxO21M4mtVWvAbK5usfKNfJZkKQPa4Z2SwZegL4H/WakAl3ApMA1
            nDblQZSF9aFFuRMqbKsKawx0VejXHBa1MJpoR+FfMCQb/F1zZ9KDrtbp1W/T
            Yo0FfILqaoIyU05ohWZRFhVXs2fFiVGF0UANPC1DkiFkghL/TjOitL2xVWAh
            C7lpFrv2TgPN7iRn2pAQp7pchUzY0zP3wqqAm+4wu+bx65rgziWprDEVe0cr
            do7mRtjvnYkMPcF5cVr5cp5D+C0pkMc1mLFT3B0pdyk+K31IGHNRmbidVYa+
            LyQz763Co72pRiQ5xuVk+CUVizUVHxQmuMhlqSxgJS5009Vify4hfHLeDrpp
            qnDqljVhoDWBdXETclwGyLkPlP+AatlwMei1PPLfQmsl56Zypao4Kq3slORO
            dLqMIbfLbvxR3Iu13Qxx/UzI3kroLtw9u8ckncx3pdqzC3uXbdXekkU9z7ak
            llVA7S0ZR+aMe4Y5NUF97v7Zs/jD+vH53BnorCb78fl+Adf1Oe/PntYRnp+f
            4/HJoLf9anaQJCZ1rb5DMNHu061S+ivzfr/L9mXUFwbHE8E3nA4ks7YeKWit
            CCanegRhNAO4L/47LONmyDceUSg1W2K5fa+OPHN6IBnCL39XY9/Qxy3K7Nc/
            7Pi57PjCfpKC7bHfy2NEkP35QXQGP7Ss8o/tmPXdgk0CsHvDFOpxw9YPtCZj
            kKQgM6f+Go5GE4PLNBHypFaHZ5TGqmpGJmeXJ4sqzYGFZTOKQ9Oc5lOmGJ3Z
            PPpv+eBl9yaQfVmacBgcTWGfSwnIuGcR+EQCS8ESBKtUjpQV9w7zko4fQBcp
            Cr34rh8wXC7Tb02/fb33Uu4v3pnFWgbxY/c1eJ30WOu50a3QuJ5Jebwq0er2
            e8ViHJMApmzzFu0YOT78GDWDtmx6JqlPsjKC3pNFY5z6zaCYb7F/cFtiGyxw
            cd1LkD5MHaHast+9sMfUV5U6LKXLQfrYO0tzSJ8z04HSdRWWYuZ4GxJxUXS+
            iaXwRoTWuaIZ54OtZ/gAkUhAjZ1naKIL9Ykyp6uz+SXNuBq88qloPf2dQs7F
            wzA98/C2DZK6lpPkuAyv1LWgwEOIx2tfj2iNRDWOFkhVIBdDRPkitGQmVfXx
            DKLDwPajRUn/CBFwG1b7U4QYyHBNO3b/EKIjU/vvgy4ZHDfB6byDX/RAd17P
            2op43qqVFRub9QsToNBpnzwu+Viyenukrij2iHWrOObDeCUtQwugv1XYNW8M
            KvdVnbbS752akgyKr3hMkTBoxr6NbcPQuL3Xy3N8KSZnsmCUtERWDIZo5RaP
            uZTOw4PSvQ0vviq0qkzRJpgsrYJt/Efv8Hf8/eVhbTA6nhiQ/a9eXi0TsXwI
            f3fdN8HATwpJ9589D52KkUBdVnLg5qqgBK54N8KTiHhCM5z0YdXhbXuWliWP
            jeovl6S/esopCCXaoGQbR67OrqSxoDaPa2cD8PaWUG3jICyHoTTYRRWXQGB0
            6xx2rYZRKMqWdKhCisLuLvoawtWZIuv6c6mWBXgfXx3Zlq1SenA5VoMOItOP
            Y1CxGV0zXCBR3/2Y0N7KeFbX2Dt3R42RcoNxFjA00eOhLBImwJ2mgkWQ81bp
            MtMaVpYkcFTrYMOE92aa0fAUkuZZgy145oB5Swk/zcAVa18GUchmIpdoVt8q
            dxu2XTUASsekK10qUacPxY6ZfgwTPqhxVGtty3NP7a+2H9c+9dlhc6TxqNa0
            WeI8WSNXLQPLzX4r3i6D/rIeIDoMppDcjXGZLpxBoihjWy47lo1McGze52YW
            kAXJ5UlcKmZhBk5LUEsuHltKtH3L99GvZmWZnL79mc4nRljfZ6hEcSNLt2qH
            n8Sc7r8TM4mWHaFEtJ2FB7ZY+/DEPy4c1kfC2lcHBoNEYvHsSl8ECVtkJs6n
            mShF/mrV03yvkgHj6RAC7h9UK8wEv3m92OjJOETvlsJBfYFOR99/aKIZpolt
            8nfmxxSIgkIgytCP9O0rNuwoKnQvu/obh2Kfpv1cpHo9F4i30BodBeqOugfN
            m1twEev6zHJJ85j36UVOQaksKuZ2YJGZfdt9S2BhDB5xmD6Nd+nPMFhuqGgO
            UFKVJG/PzYVLXY5Q58QBr3RcSct3084UT45xaIZx+S0etsJG29m0eVcU23KE
            HTtuXWof8sxfmYm1uuLqCmzxisRfCq6ln5USDFLa82OwrJNBrPhDPHbTH9Tq
            E2UFQf88UXn8OVHENfrbRH2zWMpzFsHIF+ID/2Ol/LrfZtnxeqvvfrJsltVs
            tgu9wVwd5h65TwPu+FZMV3dC6wbZY9fDM8/C0MPnesmvN1wpxfVYvyRCmTsv
            6HNd9RUn+mYRvvh09w1TqYXfSHRv3gWUFGD/6jjCTP9+vu/r3P3rOv2fr1OH
            XeeNQ2Rex0jAeok/ltVOd+3hA1CSKXTL/EeZyJpEfz/CnIyO5pXe1EniBF6e
            JZesqp845XSgTUZviZGY/LoEorxh3YIQwGTKmdz3xNyXzaqG8pJM8ZyEnlHM
            hl1a8UKUkaMMZuxLiRsYd/dgkol1dh5wqAVN9OlRU4JquX8KlsGcGzKHcbYB
            zkQgDk+oIxPH9/Y7sKHBLzb47C66CSSNPwd/WBOGtwJACHkgYIiR+W1psQSH
            aHCH7CBDiaOPTp2X4qTYoT06LVhkiDR4/tty8Cz7kzmx2421kWcOb0k8Tuu0
            eroCroYBLIs/l3UlgMXG4F96s/bwsNAq10m2xaIxoZ9fpXyJCcUKHoGNgJjp
            VYUsxDXn/bGx7bN0hTdE7ziGbK875jIkFpVSNLFLBS/noIiW5i4H5HRl66cp
            Z65oenWI0WaldkZ0tZjW/cIS3vLhXxagtT7lWtG90EnXyiWl7i6Ox1StyXvn
            JJkClhXqC4c5Pve5DF2SUPx72OYZjhhWxRADr7UECm/fKcsDW1fOryzNSZnu
            ZhtjqWra0lhN4BULrKmVBxlG5/W5P7n7MgfwIWAgnMs8bhCKfCDNME96yS/8
            0iBEDnE0sbAZW7gt783bQdggakKCr5RGZLRD+7d9fb/NZoz9iLWqBoaKTXPF
            zFBV9ds+HkbWSCrbkNe40Fx5zTTrOrccsOuiXe6ZT5VF3fgebnUkMG+zBuEs
            g92liXd/Lxjvl7TpSjomvEwiWI6O0yS1BHoZth2y5xktTkoHqMO82nn7Aoyb
            WOI7FouCbnK1uiOKwF7HJU5z/Ibee7mFiyHDwMjHJhTqW5jId+IwiVm9TJny
            YGVBgSYz/Z/F66KC10SxqQ448xMGiwZMsSzbi5joCrzi72vk+ec1MsxzA1x/
            rE9ZUdjTfLOcQCowi4mAyxwR2VDbXkrlC1CWPgTqUiSS2Sgcccrpd2UwShQE
            KklNO9sKZTtGsqFNGOojphaibHRL7d/S1jl5FBOhl9PbOd1+Ta6+10TiPXis
            qJwg5dlaS22HT1SGuaV0MCF71dDfwU+Xo8JGNdSdw1Yv8ajqYZkQfEauOz+n
            CkJ2WqLPDx9H+enjEEFXdXDc3ETjkg8zx8hNdG6xBAhhNXMaOI9ZDazH93mh
            f857uUBjQcX9Kobl3v4D+/4qhq4APsma/tb+8RCmTQJC/R9fF3EAse0W/S1T
            MClFOdZe97LTpbfTYjsztvNia7MbW+rNSWFZjLWS1+D8ZKs/qXk8f1IzBu+O
            WwegGRsMruGdZHKaDffAIIQT1eZqs1iEdnOzPbgj/ly5m422w3Gk/wLTR4wE
            cod+/Az6bCW2j5+snzG+3r3LI1ak9J/LorLKWWhSRtcs1a0Qq3d2X0vPBpNR
            GD+jLyZ7Qv3yZHg+VzeRpmf+GWF2ryh0GCMBZXNZyQYYf4mrWmiBWMtcvaeg
            BS6LpZujiGWRySr9ksvt9Z6HBxWeBl6u3vZy7K3x/XI9P6t9K1msB95eODyY
            jiFsAWkW939Oa0EQPXbHF1Q14x5UIqM+rkMES0na11aQcYjlluNLJicIlHJt
            NupewvDlJSQ3SArx/cHmhRxZrrDZfT9+cj+5172Kk1EkZec4hyyHcbt9rMTi
            F0eSopmfV2Fkj5GNF90tvU/lJGs818sZg9DU7u45peDcE8YtvZW0/qPuK0Az
            N9VB2ASjS1acClbLp9AkdOVePdVxMjwfIHwN6Jiy9fP6xRqF+XA6HuS0GpzN
            ntnfbH/GmMr926xR7Xi15W2m+KAaBsZnJb5Kj8tOsMprfJQ6PKXk62KXX49Y
            Z6ZJvcpRMuVoc4LlNv/BvrfdaniEFRJ/at6FK5PM7OteRFfgvcL5uVd3rjRT
            PRVSnF/yvl2ZKVLZsCmL0BkcSVY93V1cfEfcQYhhR94Ha34Pw9iQA1DJxmuj
            9F2P2LJzcGfz6UVCshyLy8VA3v0qLh7fLIepLGse91a/XM/+bsUY3tM2eGNE
            IuWpFtIzjl3u3mwKvSdwUyWTYxK7QBEWI+NxsnAT710j1C2dIUVo5aJg6BQq
            aSW2dMzbLT0oxwnMLdh4Sw0If+gL6lH+pRfA3g/KBPpxvQr9blB2f18P+wJx
            pQu5oEB5uLpMKT4Xcwk/SnEKloKpXu/Jer1/E/E2rZe9G72TImYVS2SiwppZ
            Hd2sjl9mNQvlPlkM49yxcC2sJVF0b7+GknWG/BrPJoxgTqu8lesG09q5IAG4
            buU4xosor0GL043C65az1rMyT2VlanXu7JxNFFa8ZnU6Vkyh2qtPzgqzlryu
            CBMfCEVBNl7JEYogiMps3gZbOoJiAZA1GJFC7Hdt9Tuxk+meLSP0btgaw0O9
            VQmQ8YrEClfyIO19xzJ+HJopqCQTFuihxANr9OHPk8BBrLLx5zOMbM9A7PRR
            vIaKNoLQBJvVUpG4uib+gyJE80SoCVnrkDgs5VR9KyPxMJigqjNjm1WGl9WW
            qC5DiED1sGRppkdoP6+ZGAUsOH+DsxKB35Da2QzPE5WYe5xftIjUHbkH20v7
            ndvWi0Rs9+mukLIStR/LucB9F0GVQXYzaaESbF99Amoj/us86qMmyXZibouI
            lgo8EHnLcI6JOTlURMYyz2DBC+blEY9PeRyrNS+hTEw/dJihavuat7luZbe5
            xvz6Z/wPhnQNfI6b2CDMlMEdlloBNK6y1A/Jc7psKfMat9Uh7oOhJsjejwRd
            haWTR7S4RDI4iWA9pA6Hg9T+SGeyWi8Ib+uuTrzWiiCrh3tNb193NTvpG+qJ
            NcDBJsEKlQTHyJVLJ3ZT/4tbhUmVLQjKvbPfDy3HXfP8Hpu06PgyKjgqdVtP
            uxT4K0TOPMVpfhudfJCSfSHcVyhRnJgL6kzuF9DSZi2ugD3JKq7PCoZps5R/
            SxEYvcb4soknoFrO1v9J8PREDShKNBd2yRncXcsSzltRsltYI0uRvp99ohw+
            UW5lGIAr1iEk96E6B8UcsD4PxRiWEU6cH0DTnYUWPLOMdutwDXlr0TInvyKY
            ymMHQS2CtX45xhJRmY4+KZnFJdLF6TZuBHImQTGTg7oT2yUo1/IFhGEsNR2n
            dWXut9e+sSUxCWE6ZogURvCV07Cqe01+v9M43r1rnAm9/HUs/qg3vJ7A+gE6
            V8B4J7XsisptErJoyjKbPe2ABTF3tEhhPax9JDHq/Mdo0IoeM1iWiL/j1TuW
            MPz36fZncKyt8AvLawcwlF4uDC+Ph/txz2P1tkzY13HZnmOXgw5HNS/+smVD
            OXpS6Vj+3FGJHW153fQGZ+uGhpSWc5dFNCXrkuJ1xnLFtt3o5AQBnOwyR7bf
            pYEvFvfu+pTXwpgKlQtZsNxmMT2PIzIQuZTx0C5T73mzik8jVnkdg+z915T7
            J0J197m6x5xcSLKusOis0OmwrYXR6WDibzdBQe/8pGGgNRRfzFUgGk1kiVyU
            lzZ7jKCyKPXAsjF4frpIj7QBsU1T3ihCBgUcyYr4cndgAKAlvykRr1WW+2KX
            gH3uYy9m7vjvSiCpVptM7HK1h2aX368HNoh7BS/YOVgWyh9eOMfsIoQi5N9q
            t8s/9jWa8rYd9ctk47c2XIzRLfVoRT6/OZJDd4mT5QKlsjp3NIcQg77yEmar
            DH7YC0P9qJdzwWkJwS1sd/nD7jfzmyNOoS+o6ez1hx/Be1PUgFnZWOBJEBzy
            XxRGKR+DbyZrr1/Nc4UU0T9owju5U+4YA0rXNWy+H4NprHpZm3wOfqAfeStY
            h+QJcR3ThgwmYIo00b5Nx4d+rB9g5GEjBjGvn3WiQ8EXyt9KSk6K6InRQSsl
            nu8Xu8cKUKc7+h6DYFzW5DaNUxmqbCeHdX+LQGGsCeRXx1I7XcwnVsGnajoj
            ZHJYAoxLYCbtg332I8hSTKPeE0AcoOnZrDOpH710iUVsNiZsGuYoC/iHicH2
            ovHueIj6tnUbu3j9HLvBPpnuRq/KGRCL975Wn32Ex/gdSuezKe4SDXlAIkYe
            2GTZQszbwhiRxwXwMChzMHhglTUhHbFsi3BYDOpv1O6a2PjLgEzUlCN0+tK6
            QLqFjRGeLH9BX1+J1/7itLer2tfdbE6gVKXdj2He6t/9p2MliMKtEQjumQiE
            6vjcYqsWBetMY1ZK1qxd7PeXTkD2SYcvZeJ0e3jH07dHcnswz9v274TLLe52
            Ee2GfNziJi4TU1sMcWIs5aoSCUATyeZom7NBKnTmH8JwHPP6cCPWxH9zv3E9
            L6eb5AyL0NZKhvkOphkkB0EAfdVvDs3zUqMP6zOuk3rURnggnipzP4QMdClf
            k+Cyn44z/Q3740Gtyq5mNf5iNY/MFTBQtseWPBNLDczfMzln4L+YCB+MUXZ2
            i8ufbBS5H5ZZSLH8lD8pfb+Q/OLpeHsfdhUnRCI0nK+2Dc0bDIO6mMRTKVu8
            ZEEyqpJbokhacJdc1u+MdQhyQrK/yJ16k4Kb44sH06qZRc/nKS6WnkqwBEJo
            YOLAQeSMUlvBn++3HP0w/QLJYeJtY5Dnqo5K3GmC9m756Z35BewXwXz6RWSi
            rLGgdtcbR+EUYtOoLC/ku5doqMJMZTR5fnAcB8dVI9aNkyTGG8CxDbZDkFYK
            vsnkv3XMnFAVnbPcZhTWosZfzmbK+VmN4E2vb5qDV1zW/h7A4mlh+1ywmNtR
            5AkE3z3Qs6hJsOq+EIfeWwPtaNie6GB5giQWwwg9rMNM8uDPxmwgobIIKz/5
            ZhWv4gRk/0mtAs9dtf1FLAwX34zLu9NGzUS20ld34oWhGapwYwe0lK/YvfXx
            aS2CJSJPy9p9iyTpwr7dFN2corJBxi9iLtGqqEjMQZMftBDOnWndXzHMrrk/
            8iSZHRwddTh+zFND+X1Bghi68pR4iR8RwkECIaAHRQWREY/bHMS1KgjByoiL
            tiPse0hAppRCxu/MFiLnhVgn2xL/ZZICKIsOGnn4Mi/utigVFlZsXyYmQvz5
            m9JQq/kTQGiJitQWI4RaYbrV/h6p7cbP95l/OmgsWcLZ/i9xsK2I4B1jt7Wz
            xcPO33+ja279FDepXsA4FwvbetrWzc763eJoIwVv5GKyXga6+q58Z9yAJR1k
            e4aX1n83T1U+BIhwDNNjsHpnOPG9+/dqRDmac+T28ansRFpBc2Xrvc0WTsd3
            8gqIaVriWG3e+OsPpY15rfKxU3GaUo4C2y50FnrMktWqt0bq+0rInGxa6dkr
            rlkzo1aJI91XDtTw0b3XhUyobIDtZ6UlG1/8T5lq0eGnbg8IOUiHv5jaFLa5
            W/p8VqOIbCtM4AQ4xvwLOZleQWJsIJdkilIWhIAUJocWYGoMwUAOeqQedaE9
            XUeiYdu9JfBSkWqoritNek2Tp5MNI/pKGZ9pPqaXXRe6gQXiZ/u+5bo7poSi
            Ux2T6HuflD4qf9BUBHFpKeOvT6N6QRydcuoVwhT6qNI0mhuRgHh0WnVWgISt
            DvZTHZpjMg9WlHvWsoWjAYJTaVOhHG1ph7BOZWOd0jI6Ld2K7lxI0Sg4eUsk
            JZxMKsMfAuohRAMjgMd3e77SyDoygRleRYqg7gT+aP1j1rVuWKokG/wWmVlc
            onvzKE4ifytL4sm8c8qQYXAZx9PTeRPmPRS9Tz3smlhyZnoFgiIseh9fGG0w
            PXyOMq2GEJKz7aPRSQe0l6XHl3UzOxcU8jzuE7Bu9bZC6XFM7nHsz2A0/TCw
            qWNUYqNksGoHmV/4vD7uX28veOyIIiG5iH+QuoNYabERsIrjzQyDSjQ3jDdz
            Edjzsq7dRDR4E9Hb1cFB+O3vjqL0RHUr7mdlJFZUvRSoofs0GZAb9pUs06mP
            /aBYt7MwZfnUajo22vx2WlDHJ7vjAFzMO2bx5HW/8M+bTW92utn4y7Y9kXWz
            3c3GN/vfWvzOd9iesNcz5jig57Lvb8Isw9/XYtKW9lu/Bd73PX9uIDkCPAx3
            Xm1xsPz69dieOrM2tjgyT9zHSbadZo8/X2b/KEsh0nNssXNHC8w9PSgms6F4
            tlNNbu31pQ+cSlrRIpBDLAhAOPbh1dwCfanKVbDIYzcM0zoJUFyqoGaYzux+
            ayyOOx0//dbpsKBF9OPX+Yztu05qA/jxXfPYrXnuKFqzmj1FCgvkfvPOOG+f
            DkJtY2WzQrSwDYJ3wmGwWZDSX+XouZnVciaZSQZDyS506e3gU2FuZvZprpcn
            tk7DSVcS6bQKJ4o9sefx3PzM/RYhtVyJ8kgcdrNYcGpix7dx4vq8B16LFYaB
            rJmIxIyyYNlYzIUpXpESHe8Ug+FBRO9WCwX5km/EQkXDYM9wTTJvdu5g8TTk
            A0UyQ9ZYyWmfO9hr0j8f1Ws/mFkNcUdl9g6GrrwDY5GVoAw6Yj5K/EASZasj
            qOfMx4/BVccYIcq4D6D9xZnicEGWRQM7U60MbR+UyZAbw7Etb8VGEcP86CXZ
            tKTYANIhOr6bbtZLTidp72FjM52W8UMLIl2u6BxNIeKbLSY8GYXnLuZAVS5G
            xdhVrUsRhHlL1jrpUwtAjdqDQI/HC97gVnI5Ku37Bz7oR+5KO2fbVE+aZZib
            zxTYccH0ihDPt8cG1tdPNvxfcF4Y0vVme0Tr87wbtdVaNuf1nmLkvCq49Xci
            /Cehevm1KZPohcGxhgTNAkiL75wvqymsrDZl0yb+sMyfLZBTtsT9Bp7vW9H4
            YISqBaH7+Deb22zqt8//BYZwNriTHg5nh1scTG+v9GrXLh52qfM/se+XrW52
            6tr7bzY6XExsdk4MCPIwmpmU/dQOopde0U9fqL0o+KOcxeOb8N+cfFUBqXYd
            mvktEzuTRUdHNuneaoP4N9fbAP2g6+zwVHn6pJggky072HHj5SCjU9pwKu7r
            rVmQqXqYs44tRZJXKrmuIMhAcbrBnBC6mju4qUDvsVishG1bBNeYfObC6mAF
            L/TioQReAERxKhGDbIemGWz01dhpgmyfOm3Gg0G1ScI7PJWK7Q9M333lABcb
            XK0WwjJf9/F+zsZ1pDssw+wS+WRzUas5ClPHbrmUD+8GNKpgXyyVTNBdpOpg
            v2erjAqGEPJlhjn8C2FoqCIqdwMEz22k4XPfNIT/OP7x459sICCPH/8WpBwq
            IFGA5mTRvnc72vkA6m6EZ8TIMtz9R7aV6iuyCm9uRVu7w1t342zPMtex0tQx
            J5DBMOXvJq7sdQ5cjKeXlu8ilp2jWbx0HSbuZRVF6yHs3ydMdA8LjHxDqLJi
            hYRgCHL0LUsJ9H0H4W2Gt949PCedvkcGTITcS7ZJT59TLPf3yI6yXnVzqBHM
            /eW46c0dINKkMVawzqSLMFsG8v6aUEh5HcbujQV7sArnOmzZYmLmTjFXNu6Z
            DcYxeWLq6cmgGNhk7ZAuSTyei0mf5cspRP/DbZk6qs8T5zORNS57lic81ziz
            OZ3GpXFR22KWc2wPpZ7IfRkMJhWtQCu/L44Jb99fR9bJ1h/MgD6dCN0pRUKa
            y4M9QcofOPZbO5kksnjMSe0Jlh3es130GNrnMB5IRmVinfw+3DUkjQ4/Xjtr
            V46Y8tzETXn6p+/V7re8j+NFrvp8JjVavqAGriunjX6A+y1jCqoZrX79s33F
            BdqwiWSuk1YFBngs0wlY1LS+G1l3wcmTs8THsG+ho30Gln2mUxQQf6XLS7Br
            RgQa6HtPVLF0+O1sYn49gb54LeoeRVX/5fTMooPPRGlPDmireaj3mXBK/Drn
            pabci0BT7GsNncAa4FHx48Ije+c4nlWrXNXGtxWbaKF0e4bNXXA9ITWX9Bkr
            KneEfjPEWg8jX+bC3mMg3eLrnZWIywhtshgF5+h4iuULsDD5OD6Td1yP2FZo
            P6ktpz+pLdQPtbG2bX/u+Tm/qY0Zw98ENqz07KZj5d8QGjjo0krM343Z3Flk
            YVQr4rwEdrw2eKaart22Yo/TlcxmBKUcffo5PvkEQfb2ktgZr/29vCG6Zw3t
            Vh8vIaVLiufRnbtYEEfKWfRuvfJ+RlfEuEJP9wf4PuIUxaqCFQvMZXvm6/bS
            9+fXM/fPMzNQFi1Vzpru+jUJTkYx96izU0qebqffzmGgpI/pAs3Aov1kKoIw
            Q6aDFarhi4MY6rf8eBUNEQJ/Vbv+rifY9vwLmuCFqt3hVbY9z4liDKITbTWp
            vCt4I/ARyK0pmrrLz662ynGz+7A7yzsBs9vw7havCTJEIYGfYrVd3wQX+4fg
            9L7Z6xB3cqYHmsJXuDbNvHZXe90b15+G+pYYJa2eHMvr1NBureYkOf/s4y6m
            qXerfehR6OFjix3mWW6uqfwAawN2rAaOUmAeB2uGTu8sK79egEouNLD8cOMk
            ip1oiamcf/1WrWDF8j5otCbGFWgUjtSiFwQlsS1RGZYpo98PV/zNjBY9fEiF
            Nz0t/ZnYdl1dsNW1lyCOGkxNzgArYro006eb1d8TrvNQBhWeTohI3FV4zthI
            k2KZ40Wd1PXu5bC5zUvMkrWpkibtMLrD8+mzQcKFtz9JMJnOdPADJik5w1tx
            nA6DC+xGr9Twt9WSD0P+UB2HQsi2bc44X+z5Fyr0UCCTVfEUdyEX15JVDqQH
            awwoJ+f3rDasw3LRgmMok+LS8lp+thC5vnLg4ycHfvwlBz4Ny31Xtk5gsQ61
            U8sGvhh8oXvRWGdlFikzbet8Ln3Owvqb/EwnCxSJzmejjUubmVTJ7/QOVgve
            2Pfbv3f/fvn3zPCsFZXkYpgEhGyNbKvE/qtseBNVfZy06u4rxft6JypR2amU
            cepewczdePc2OG7lYGiYsq/LFUVU8n0e5OP94xxoGkR2hDSX/4E5/wVzwhVy
            4l8wWmX2gIXRp1rP3TEBSiF4+YgYd+6r2CZtG566UH0qIGpiz9uNqdU2zG+S
            tuBtDtv1Pthx2oNp2Y/vdCxM0B3XyQ6x1kkPbDUZWlQSGAfhiVnFwfbCj2HM
            EJzfyiwMytS2lwoBRbnD3KxWAJZZLBRhbZzrA0Qj7wmxiJlh0ByutJtw+5s3
            5YgOK/YrJLeN9JqERI3Z2QCI3lkslLAZJoOkYDVXWacx51jAGxwXnahAkSA0
            6as2aBDtikz8WLvNzU1twpnlaWAtwkhVKifrbGg8dTC78fM8qqu7uoDVglTn
            eGw0gZaOnfGQze1Fa6b9E9yDO6iFlc505yG3h6klwpIKBhwiHU2VCF/gZS4F
            P3WnkmRCV84UlmolAynI4gtWqA0vOAIDpE8pO5NUV+qNIR6/SiluY3Tfki5/
            qVb7WnRvDDfueI2dh7orBVo2Rsemj8JAJJMLSSoBpJlyHBTrgKlvZX3xmZCG
            yn0YlzfXVQcoxztSES80AscwZAeqxJzOYdcaLS9GP5nKp1yU9u5/TjbAxf5m
            2zLBnhj4WEGdpCPz0/EyT5pqqX0TS/A8HHIHjGVYzic1w3aeD3MALfk3W9cs
            Qlaxs7DMd8H5SvSrQ7nahB7y4zx95qvPVxfkZLgEkru9U1xwiyU8N9TQdlkI
            s6pQ/NIniuevib3qLUL8yMNNwGQGRd+qfLUL/uqo/TZVnHvf8TZl3M7X5W1d
            YiK6rs1X9YaU5fF0BVcrys7F2b/v0g0Rs1BNQcetSj1g1XiLDrsT9H1/Drts
            kA0Kd0tudxp6G1NP0w8mIVg99me9pQ1OXZ7+VjWxtHLUJJDNg+JkhpmnIlDc
            cB+xDJLlPjASq303MRO6FUif/R2IPDx3hV0KT28PHpVOr/69KzlY56IT7tPG
            3HxO0Rxsib5PQRQmtksdXlZBwO1odZ+f7Di/b7JWEcovWZ++OyG/nZY/E+it
            Y02Rzz9Rhg9L7IFYy1/tGf4BbaVEc+PPWxeab0bzAGUxuRVSj79dt7oCJKJ+
            EJ+FwSRCFlunp14XTYTiIpZo/rcQ0SsbhBCM4KYlQHFZtNqwdLNlW8DIpvIJ
            C4e5nOwDqAJY6pVSfhWLGDS1lwPGcg6VJpDooCfHwICpx9sxpB5wJV6TyS5Y
            ZaVWZlBJHiyrk0i26rViwcRvEhWR0ZOfW+YjtPVBAlGBbdNvpjPCQi9Y5LEN
            mIrD9rPjIOQMkYA3Mo5bmI9j2QYfR1aAS23BIBO8vJ4GqEIvrsrloA+zc6Vz
            jqT6kGDEAzJcc/fpJUiYwx0FV/OKbwduYiQw+2OI7ce8+BJT9el3dIGJQblY
            WX1zwvjySULw2oE6Pvj3QBOOeZUg8x/yg6WiJTIyGoUdMTZc/pPzbY1SxmXt
            uQxhXfC5bBMRDNAjfNprnV7JzfKsj3APln2tHnWHP9/jPorHyuJ+Z3KzGcoM
            ebAh8LnkzHuYMo99zHYgPv0gZ+KW7cW4VQvUr0Tg8ybwAmuU/d3BciGuhtIa
            2EKNsbdTn0MYjT1/R1rma+FYjOL6OTgExBVL2Lo56aRzBhbuUnOaXU3c7RxT
            VEg8If1+luPrWSxFcLDht6IpyYDAOH8UscxxB/ts0wp+2tknA7DPljWdL6bC
            k6R+cGnLH+iQ4QOK9atrNdgQB/9mg+KhlheXO9mCA4d0ZTEPmzQee1w/2fcP
            Q4hlbQQ9T+pqqcaIeI4LL8sWScQhPqbhOJ6ecFxxbFQGNPuwdbbUaOcY5oUV
            di9LCQl1wm5p7CkVuiqkwnXRE0o2Qwbad5ItA+aneT7Vf1Iud0aW42vmK3qP
            iQMzkRx+k573YJuv5uu5iz13uJ+Tebh1hw3UOn0cu26URth+fpZBOCz3sd8v
            BHmahd4EYwKqDINIF42ik5N7RmsTr9auvnDv9eJzHXmBqLv3QIOWUhQ7Ih7s
            XlnMFp755AUDe7glnRhztR4LZGWZvZnwGcfkfZPFPEk3Qr4xzJOaurT+6S4J
            HYWB/K28QCdK3q48XZZU5KlqffeeG50Aq2/Jv3rrrmkgJH1bXQS43lADQRZy
            f3Eg5jXe3+g5jeZS399nM2803wMW4mzfnmevv+iH6oXbfGCYs3MVF0hJidT0
            kOihK2BbNsdia9W2GyIOTEb8mCrMKlPIfajq61JlXaA5XsF5DCOKv7GYKB/W
            NXSXBzTCIxkkohpneE1sO6Gdn81/E3ENZpTggWAW5TeXtlLvoVf5dleEoM9Z
            sEoM3P1Qk46rh14+a6PWsEwYAFoeXSW4raKuxHFUO+2mQNF1CQbwZe/HMFtn
            rI21bOfdaZnzbv1s6nt6cg4bdZr1SZcd8w19IrulwBPMnglHhUk1BzMo5GU0
            QrwfnxAjZtprkZ5pJ4BpIe1JLAiitSubi0RExT1LcdOqlY9gNCv3u+06wRKS
            MEZgZbMNonlj9Q+V5rUoZ1msYLkSKS1oy3ogmlUw1k558qHyfSmnLNrZ96RG
            z1X89A8azaz0O30WC+EEXGIuU1ALuSWDneON5m5P7uEVZ7hOyXbN00IHJ9Qg
            hvTHAO8mTDCbusFIb1aKP0EM9LNcFiYe1qUo3rtlqK1kstqoRFxP1qEjgU7J
            PRmQQcMVnlcWb2Lo7hy71+nEsK7dQoeIrIQfPprY5ENWnQ8sFrrptXqZStcW
            k9hYd0nk9Myp6GyIoiCbiYAIdksvKjOuDaZQQTmBlzJfNTQDMuWqieRoXXoP
            s7PN9MIVXt3Fu8EsI85LUDpHE6Dem4Z9f2TYZIiby58a3KHSdCZlEhx6iToH
            Czx94DBjlkBBm/AqaQeGDmEQ3OvyLGyy0Xkdm/3c5IXJWwRmtaP6oSAJWs6z
            p4KjhOxqISohkiVVsmRtvxOeY6gTt5VMpS9vKAekkj3eyzjDfViRzPNVqiZz
            hSWpLPdnoQlDfEkF/A+R8htRV4a6JAt9RVqiGgO/Xe5YL15CMCUz8D1VU/32
            Bwhu5rwliey9QXExz9cJF3RdyNfLKtSpzLGuAmNMhQumHu51gTl3y5+Mc7aw
            CZdYDHu1QKGd01JhrQH6xg/qVIz8Jfii2V+MD5PYBJaIZQOTPQ1M8mR584CW
            TYgdL49ngzJOOH5rauJAJaZIuWIXF0KUHgKngPyZN4RyUhd3kBllowpEx6n2
            NxgNsLRIYlmmGZJYmVZ/XJ+awG7tq+mSVj9Khos365kW+r2h1LDXgzxPPCcK
            JlWmEJNYrt0faU/+Jobu/ZM2G1fs/MkrfuVIWOb9IfmWm6PKpa9kX7zrAvGc
            WXbu4qRux4t0gqjekE+aQZVWhGy7faJGeu7X7JpekX4qosrcxPe+cdh9KTM3
            GDgVUMZ9X485c0M8oqwknHiRBKLalKsqYKOIp097QAon9WpkJnXc5XHGPm4o
            XgbW6C48i0eACZALL2bAu1HOBHziWn3p9dQeqGmkUjXLTG4A8TGG0hj3ZYux
            fsN2noq5DRg1k3Yii0CZY15oDE/VL3XCFDFxEG8oQCQK+2fbWczAOftZrBAc
            ul9XM2kcOxl9yX5u8Jh1HiB2k/TdgpDug++Q6OnjQrurSIiJ2pg4elbY6kwO
            gVO+bc7kYddMmSEWVvRJ+CfFEDHJyZs9nCdGznD4rq1o2PJkzGR9eTYIOmtt
            Wh0RMjZ2uIEAIIZGC+CFZ8Y6g3DhEotUVqFdzIFVPMtFqHLCiKgH2mGlzK8x
            x6U2PDfrMrjxTDIpMswMdoSrmWqownX2O/eTVKFAyi5aakvDou0IPfBSFay0
            mMYaOcPfvdkJjzlZHpyZj7wQojJ6DvD9fnuasBHGaTIE72H8LGNQT5f+oMpn
            POPLkIX+mHAr9hHIJ+vOYIQmz8cRgc9q3wnjq1qzrxj5DycA07Fy6IbBAz4l
            REtLJMTuVQ/YVUvv9vzFrhqvXZU+dpVgaKjk9Y9WuCddsAXgNfH+aA2q9LHG
            6MRE8FZk5s4R0uNp4EBXcp0+UoUU7jh7aoO98Hs2FdMNNE280BihQeyBk0F3
            m2OXCJjVbRyGkE9Xo+nrIxVzdbKLMfdVw6zdSJRYn1dUUz5aW57SK3fTUiSM
            GRDJuyIrR20355vGU+05o9qaMXctqNVbFFxbmFsrA4HfeC8spClDuCszESqr
            NxOkZne6wR3tfUkok/zU3/30xglvr+6nydNf6FPsWPT38eXpfxiydgMJU3+r
            w4P1mFGtnroVOloSMWKfOmgtgzOMrMbwbdEKL6zJYWqUuvVYQ3QOALsWfg9i
            ZFflJDg+qqrHpGTHYN4bOB+DQQq/I64arXui2M1yOJJAYpCWw8w7GP5EghIY
            rwwtERKMYHbGEWJ1NgWAqS1EwZbQOVfequJWaetjFHucarTT3w7TolTyb6LV
            M7ZtmfiHNa651CznKRi40wdulsVSxkmQXvBwbA8N4qCj9SYm+Y/jM/WLbXXT
            zbHwGcdWOmWpkS9LmJuse8KSx1bZiZ0FoZ0hl8BcJer1y61r7d/tMiBVNcAv
            j+dSJuTT1GoSO+E9OvF6PgN7MGXv9yBxXe9WWUwiDMHKf6ixkE2zu4R0eTpI
            n3xbEVyFFovnudnclPX/VZKduUzaMpcKz2uOltq5YiibeZ6uddtxuKZt5yPM
            fl77ttX1Pueu1PgYqw6UxkmFBVNUEbj7iWzUo9GsWyBrptvbb6oS1e/tL9rl
            tHy+q/u2tqCGKV/69U0tgd2jzi9cCDHZ7WM4rb0hC66/CoPpH7l3J2My1ouZ
            MuQzVEAZS+DwWcQx0jFGH0Qr6sZ8QsNd4g9s03h0ScNT2MGmxe0EoTuUfhcC
            7mNwh/Avho6NBIz9ku7LiqhfSEgrbyByHpf/649hRoDzNjkel0UT+4+20rIW
            KtM5FDmzrQ9GWZcSjSkE1EWMdavugDmTNdxNBsjRtZVikmO+2XqauGyZeVWs
            FDkMxiheQmJ77BpK2AmGJU1FvHo3MQnG6OYxAz7DssqiYhqsTatJiHT4PHlW
            E6qMKe5QhRhNpTmrbLjMbHJolwzQLTHjC0t+MaopTNvdwczjNLxXWsr6ItHT
            o5+2VkCWadBE7P6qSjzdJ7igIaQiK+nUzZUaCPexeWozqKdkS8ggGYgQw+3N
            XuVuWPRdlvnT1CclYzVf391twIuSNymbZk7/7GP1QRuyBo3XYrf3ySIk6ibW
            toDdJ93BZGUD07brsAScu9vvEK9E4T6GXyx5zubdrJUtvTNMEFQdbnkmKfIY
            au9rldu7Cv2C2hYkvYmpsNz9vaQeCgeKDV3kb1/cL6K5PqDnFBLq50SQUsb0
            TUovmbKeLU9tIgRLUKDa2pnB7mguowusSwE4/vZ45fvaRsVtxsTq9j26udqu
            /GWbE6X8/oBp4OaSovmWB4wpmepiS72z0dTobW79dnsG6/N074d3nd374Q3l
            qHT3O6/3PFUyRxYtXnu5Y5JXKbe6vLw5mIdHFg1mL87e+i5N2yBfb67ApcwN
            1TTunoDZVTysJnZBUSLwUQztNdMtDbaYzpa3Ry21Rzp4gLC4FQWx/oqvL+Rw
            X0ix63LSEgWhp/zxWmZaMqPR/TA1aLLpAt7vOjLsrfqW34etiTAnIBD6w4I3
            FnM4m9WQiiBApPTBsbvVp7d5f4Jl3LLbHgV0owPfA2DTcjPfAB2ru5hfckGL
            euSz6m+bmnyYYRE3QYDfr7kwQIs825JvWSnuSGen2oEHQzi7rSm3WFI/lFyL
            iUlEgVh9N6buxCIwPXn3h3pL2T/OpMOatDYyuGuDfO26x+1TqO5t29rCdiFv
            0C+vSIDemL/MZ5WYDY44po3lJYKI4WswQ+T/tnZlS27DSOyXxFPkIyVR//9J
            2wCasjw7SW1Vdiopj8fWTTb7QAPAMu2xXwUj/bDIqrpABPlzbAbMZF4WacJE
            JnF81Cc3Pcke2LMX2HASNqwLRVHhXlWBQUGCFDHpk1VKpNcd/ckyTb3HiD+k
            LI5RFp+/JZYprxUhnni4iPw8/F2R0ebewtJ4R5IESK7m2TC4lOr4qZ3dyGgW
            merkXtFirp+aNhpbOPKd+4ltYfBkkNKitI5NUAsuqCJnKy2AFxkdtIfd5eO7
            ZR2jMTnAYzuUBWxSewND+wX+aJi0ke8BRI59BwwdRItDoQ7Ms/g96/dKrscT
            jMW2/Qh3sAVNQ8BWSCbtx3Zm3xFLFY2wmPizLzG9hSOIweSAqWw3b+QIEBTm
            ZJoRtK1cA1BGhe9eV+XJHIO5IOW7JOaRqiVkOzk/EswbBMIxaJAWPUS+iDId
            HvYCGJCVC7HB/ap16/g3mcQi8oWfLN7K6HmLuby+TULbZD5Jn26fpV5efaat
            VrqVzWtN2bt69k9K93IZIMJN7B9ob9ZksPPKQqb0kfRAsncRc1DlC5x1Z64f
            gSv0SKwKnUWJR4pqJUSku6FnaEo/0byzs1DtlA6vPXt7j+IX6HlJj19zRssl
            MqM1WWCuIXCY24OeQO+HA5ob3slkep1k0R3EUYC0RYBdR0VmCg78RIqpwuYe
            fnFgG522wh8dMEa0bxa7cCzWFwdWF/NR3d5t09jGDDp07vP9g//n4Qgueti2
            Xs0CdXefpZDTmV7pQvj+sH87UydSLnXN6EaWtsEqz+WDLGkbrJEj3iNc87O/
            cZkPVdm5jGM3W+2efZ2IUWw7BwCvHNdxEBI/M0vbFjqdZHdh+EXV9GlLxVFU
            aYvqmOa6epMVDYhulozX4FwPfs8qty5sXADtXfz2HP80WJtzS65lwCbBwYxr
            6sgGZWivFUm/rw8+zaeH97MVTyTN5v1tvrM3vpWNG34zzSzPPFgI2QA5R8+t
            rZEXsYOTHuNhA2faUiJQHhJz8DKLGjoyZaZt0R55qZhzgQxYkC3MihI42Lmz
            m10LNmXhwuWzoUfvkzO4EUm50YRLZiGkLTqTFWTM/B6YZhuxUtJzJUzwvR6f
            NCiT3kfYjyjf8iBkYfd0ZmYkefpqnXnfzREjtmaBWhcbg+Qk2hVW3hXTx040
            F8DSeoElR/mDjI1bh2fc2Dh4bxRHRhV1K4Dsg6G8b+eKlYlG08mc5alfVTR+
            HOcM4t1RYuG4JsD7D54C4DBKNblfBLDucjuGffcI9v/E6mcrLFWL9+5jlBTP
            eAoQrz8aeD5IwtaBh1wGGUoID1zCQuPDhpmn9vpS7hNug6qJ27ghOWWx+6bo
            boCwBvADlPAVJHAhQM8GEifuT3c2p0ueqy/4xDq/grwyqCt7pA4bi6D2C5QA
            28v+Qa+F0IEu+4f7eBLSS2TxyIMZMZJeMyl/ZlaST7hzxBIQPdcfzE+JvZhV
            6KsB/piih2iTAnN8QGzIZ7utDbwDmgsgBnPwuhuWgaYqs9z/esI8QUDMu+vZ
            H3K8OUCKC7f8dpzjx3HA/BN5HITF6JRvZLNiu0hHgaaBnMYOZP5FGjgejrWb
            0/3/2DcMvTn4bUeK0gJdwjARJLARi4yiN68pa3Av2mkEETtwtBtQTbvN+B0u
            DFMapy8cbPjuKijTxFDPrKN9hQxFjDyXiJ9Nkmu3mO2YIrFN39vmaLZukkb7
            +f6uZjD0F1kICq5QQCd3BRx0oY5rWwek39cxqc0f37yaslHxbS5aCDsCQba2
            emAaM69ySA3efHHJMznPR0BLrstaQlEc2xQSonb0iJQqn5YJImw/hiv5ocVm
            DRh0+GGfQJQDZNvADIwYIv/7jMIAxWTgAI2fCTAn2j0/bl6wtegfj9XREfUe
            RHzY5PgSawAeaE2aECirgYdofQarzDJe4MrMQuv/PqgpMHelLr6D32cPQ/o9
            gl/8n2ciZmH8WBXO+svC+V9mIsjesW+4LL+lVsvlCSn3ewnYZAvMTBulY1bC
            anC7c73+48xmHX+ZdSeXjRK9bYRs/FyWLiLXJpY6LnFZM7cDxzopPnezMJF8
            v55iTqDmqO+uf12n8CsH5GNea3f21ECCUDHXZbDYRJKcIEhq4Lk0c4p8RVjl
            oqVeR5qGUez3AVVdgl6FciqBvFkjIGMb3R8ICISJGLRV5Ul0HSt3tMp1G/NV
            SqfLGem223yTJsFMvFmXsM4ntgt6ulVtkhb3k/AQzr/onXcSvfVw4LWATsJc
            dXhiboVakhOExN66kQjwMFuWCtJKUzNYw9ootn0pCp7qkQ2eXb7UYvqo/Hjt
            99rmy6cZSI/oWjZJajL3BLObNi/V2XMYQpH174cpf7h4mmQFc4cnAhckY/nP
            a9DD1S311NptRo4Eb817FBLgcjQLRMqYzS6VFzkvM+/kXx7IeqAShWLxBRT0
            YIQ9kFLGKES3kf0HE94Z1r4AbrJoClrfK1JcYCUo1Fn4vz+clpCRzx8KIvYQ
            F3b3w0if9pngbliTi6/7N9ckrPp29fKOq3m9qTJNgR4RcA+kdLGPAlgJsxdX
            SecDPCqQVsQ+RBGt0l8Qwa3dXeR/rk6Uhz0xYDYhuwzI3jw/PKGLsgLnRjgf
            cC5QsgeHt53DtHNg6ugGqMBTR5CrXHTUthSszwFPXNdHHo8ktUTxrNVQ1Re8
            o9OHAjUTLO5SQSCx/MaqMb4p8t4fqPgKw91rh7AcclfAOMrbdJrn5wHs7C7X
            qL0+NRPP3H5VsLDjAwwWXaCWqbrEI6f8hviH8jrGcT3sdYSq200NS9WnEpc6
            8ny9zxJdlQSC99ctQTrvaLxzrv46RW4i0VQqIjHh6DBEOBRfuTTVLZZgXffP
            Vz1j4saNs6fRXkztpEv20MBmOTrRSeAFOoJehFPt11hyQyvxSLi2m4/eJYYa
            nX9KF+d1DjsOqnPS75OZQKU3LwigPQw8xN4URK7v5+v1/fjf32+nvv8FYzQj
            e27qvQW0A7DrzaEzhCiiUN+V6k4IWhHF3lQPSvtqF6i5Yf+gZiMpSzDTiLFf
            I/M+MwkgNf3hrISmhSEK77FGQT+rnS+mmR+dSrDtFtyeSmtLg5pc18r0ljA5
            pcnmBlkWZhfV94d8EDtFIb711ntmfsMWRNpxKawk0BBt1Lf8SO/Z9iidqoBP
            XgX1ALAzijAzJhvroE8CqkmdM1LjXUmwy2sk6u9F6uBix9VEp6aDUDfdUKW8
            L0G3QbusrnekZoMTYwbvmVu8C6tqJO4fel5ABwzzTCZ7xlyxBNw4Xa1VQCCE
            h3WkvPL2az+4uYugwtVgVo6lb8Gzh4KKA1suMRHc0csr7KVgjZiprFEINPFh
            7wtGid0YTOsycpYdzWqvsjX/eDpkNu+QkW4C274W8WgXI+z2P7we+l0Emhew
            c2w+bQwx9Lu4l/vp27xfbSXjugMFQTvHbmsG3tts0vvh75vyQMtK9PYyeWKu
            k4hoe3JMpWc1ndZu3lNH86oSDJ1l7C42tl6v27UNhXUv3qssJK8FA6+pnmSn
            MepAHs1FurLseXKkZZeZA7C1O3Vef6h1yeW01EX6obawNhjP8CaUKG2CJ1VF
            bxH/zcydqjWANQ2wbopmpE/s1wXIbGiUgCwHGU5A0m3XhtkdLNg8E1M7zIyi
            rhNIkavuV9LgFCHjvhTPWgLWHsiyyEJVTyHvoLlTP15KqnXYlL6mt1zhWqCw
            iArke5DtSwI5gdJ6R9kW1b7t3RJXwOtktoczecV5lPXZR6mubZ0jaX+2kQL+
            xu+Eu62/my8WEBsz+6qqasoutQzHZw30KlBEB/r4YzpOoc6edLCYQvj38/rI
            yz03E+1bcP5Euh3QCUTmtkIAQF/eCHSYcJevyJs62FVrN3Vzqh1CDoK3iR17
            T+pQMW9xJw8E9aKdAs8sSk0vEU8UGeKwAbJzgNyZyGZbwgJvPmO7gIyODSsz
            IPMZIKcYz3Btza5tXVNC6j7ZAx30WjP5nGClzN5RvcXuSlosaoV0N9+D5uCg
            JVeUmYO49sVSb0dFuhCWGfyhmFfYWdFM0PsS+Bf4rWBLL73i60KsyjZie8XY
            bdDfsXufGAfeL4Z2dP6gxnSIZsdGAveD73Ffxb5Q172bbgUakSg0o9h4y8IU
            /dZ0AUQ1F1ZnIWju/axmDBsBQcEti/cATuyu7SQvqOv1aqd4F6+zvzt9iPTB
            pRR/zWd/e13X6hvwBX9OdQKhDqVKVrAIR/j7OlgboKW5Ja7Bv6X9voXvBaLj
            JgFJaeQj+2AdLtdMBNdyzHNfqTBkNUBMB/Pby8V+R+IbyABT7Kl2W5iRRQpA
            5D+dPS6ChmQUrUCThURhivzR8MYDoLUWHbdilhoCVOodSCh87aj4kkBqXyQh
            SYUyc3Su7J42mC2CdDBF5HXdn0m4IOsYfDdA0LRGpM7o/BjI6N3+L80lHhxx
            TWOK5469SBoOUPWc2d8H5gwqg1wQ5VaJ+BK6vdCXQNl22D7Ahg7khfBg7D8s
            iENt3abq26n+tARRRukwsEOoOXEDFBC3fbGqir+wBbtfdqCfHUFrsPR54Pag
            DHaoXqPB0nDRJfcBViewNWzOxgmkRwj5uyH+HcOUz2ILlSEEq5R3Bxp7uayd
            emEVUu10cILWIkmvACMVqVC0FDghZsUO1+QOUvyOhXaXj7lYBGrdZozzfcAX
            W/JkKNejUBII+nq8qdkUzFQUg2xgAmSoChJHujcGb4vk3v7WPlcSpsN7ozAl
            nC/hdaVBbtXX1Xsn+/reWtkCJB2LZ3RVT6Ty4lMXgHoJOo9XNtP7f5sIiU76
            t4cnuXCuTdRcagNNWKxSZJdJxDak4lp4nZYIyOL53VJCZtBAsLRt/5CjdI8A
            mzAqxZUajoLGjdy5mG6w4l4X/NOr1HDktzLPrFclUk4pSQVffpH92z5CHz7W
            nMC0nyRE6xgflPxDT3/0LA8Cvqhy+Ihks+/UXdho/vmaSZOYxbBcnbGVjB37
            Kv1H3K1GAbH4yAEem0jS0qGwcV8EEGbXLXIs7Ku6zes4qUL9x89PJh/+/PmE
            5vVfPt+RIfnL5xW5x/CX7U+LSPOfP+/b3z9PiOX/en06/yilZPTLsJ81Zr03
            D0fvi39e/L0I2yWkbj4rkfCxZ304N2/syawuJ994952xDYmmwd9fej/94F2i
            uls0W8v3cfv9RycdCzqW4qZEoTiH+VOvun80IYHrMXNp7+H0cL+pVjYiIf/e
            f9m/BZisju8lb69ziLcF7798vxz6e/fXASwdKJVvva6fcdTM694pTW4PpBdW
            cC5yoQA8nD5XYedbWv/afu/1/fnnBLT9mbT9z/32MOJ7u1na+Lo/pen+p8Ht
            m7qkUL7l69ovvDAebsJAA2QX+wzDb7ofYn0J1Qb9nVzDYGn69e9EnPMFMFxK
            bQ7qqrTK4RCDI2JZj93a5oMknY/oZ/t+/7mu9dn7J/ggpfGSZqjvzy5ofQfY
            uv8AIKmX/g== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
