<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3488</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3488</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3488</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3488_v4223</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>13448</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3488_v4223</key>
          <data>
            eNrsvdmS7bqxLfauryF6QG/o+P+f5DFGArNmrb0lHTkcJ+zw3UslTpIgCAKJ
            7Jt/Pv7hf/F5vFvtH/+s5dWFxz35eXaPsfjon+j6dGnjypuDSzX0+PMrlMen
            fP7K+avnr52/fv7G+Zvnb52/ff5e+8PL7c+dP3/+wvmL5y+dv3z+yvmr56/x
            z1f3Pv1d/M73/IefeEELBf/ffYoRvT79eTgD3j2//kv9H/98x4t7mCrnEv7f
            51lSTiXmN7/4/+qflFKI3j954VrE3YmRPa0+7C3ga3l0xfO9T8BfeSqvtPCg
            nY/3bU0tOlpM3Hcxo3eO3HGtJkb46mnPf7kH9rbwkjPmcXrp5xj9+YZzrPct
            54hV5Pr7co7z9LPOfX+eC+dYJsfyWCuPbtAhxmf3g7WZ+tErJvb5mXF9N0cQ
            H5e1Eqfn81Sd9y0v7718Cb7KldP77We0UflvRoc7L55ib/5O3+n9s4TVzj/f
            29iUYJ5frbMPAdCR5hlNqS6WF7D69K7Z6liPZxZBgKuf17j4C0S8iw77Y3i9
            SK26/7nturcvduiychU5Ls43JwDfEN/6JABlfgkX/+l+n+itR/d6+8L6HICw
            revORNgQXXW6n88C3HbnsU+7+3Cs8ac/nCeC523H85p++sN5/cCUPVTx3+d5
            /F87c6/nee6aBhjxn85904D0Xp6HJoiIM06dY8H1vpl13kMPBi/VzkfX/T67
            zkcYuj/xn87xH8/33HY+xzxQpvGMNQTsb3w1nrHH1nl9NZ53vzoXBPiyPvcC
            Vubcu+c1h1c7+3EbEALM9UTs/Aethpalt/i+eX7/+tzn2/vbMa332AVlvyHt
            j3NiPeygMDXnhLAq+PFVDR3gEtg7s69kuOxAySjVB+4njTg93AVzelvvvkMd
            HUgk2b57yg7cg6P1OvNLDCSsVv3sglP0j2HM1PPGDCV0Ev/8C+uvf8CQf/lr
            5a9/s/317x1//QO6e/nnYtSfj0l/G6vz5x/x3Z9/gLi//JVtf3MIAgLx0b3G
            v+7++jf3X//+1dgwd872E9ehAUZfLL7+P+r/q/5f13/aTV2durrUeqn1qr/a
            BdI54Exr8UcfANOE9a9Ahy++CvA49PSIv9thFgAp6dH/R/1/1f/r+ld/upft
            /9Uiq0V5brsgGgjIn4Qq1z7/yv33ghLH8ozqhLNzrn/9597Pv3X/3efav3nO
            l8+/dP/pufysz3Plr//C+S85QUAsgVQruPsPffj/2Mf6/Gv3n55Lz/vvnovp
            88/ff/e5/m+eI2b5u7+zY/3/H3bs//O71E1BQMr7/+zY/y/s2P/nd2mLgoCc
            2/O/tGNHWEtUP/+/b5cePuC/2wn+G8L/G5j9V7AIKC7kBu3fD6z9vv4DS7ie
            67j/fkAF19PX9Q8s4Hr8ue5fQUChVPGz1txJP23+w1r6/7OW/24t/w5v/L7+
            ey3/bt9zLf9uX3Mt/26vcv3+8158yJU/YQkCKuYMDLLzH0GvSxSqbh4x1iRK
            MeJUp0g+J7cMyd4k3STtQChh+3rkJ5PR3ZcIr+v5CHPPf/Hf/4ok0M9wrbf0
            PRPpXj0SvmScp0AmknrBzrBOOqs2X0SUOhJMxrdo+WnjcsVI+Sa3fhQUv9t4
            IN90FBgOH/F3bUKCAKp+pndYlvyrjUaHWahfo4srDo2um0aoUU8w4wuqMPZH
            Av5pn0qtL/uhVgkopB31yHeb7J6t6xPbMpw2NeL9P23KmLlwkkdDG2/yqo+/
            +qkr5q42/X3W7acC6n7atBHt2QnQrXlodmf81abHrzZrnTFzgn7aDMjQ47Z5
            qv1ez682s8VoY54Y87Y+AYHfY8avNO6YMYfqx/+en01kpH0BVJXOeMZuQwuv
            VXp3mzqzJ4ArbF9pJrZJ++HOlp6o3YWfd7inTlB3QELBOqVu8xJ/za9zaCNN
            XclkBpvhgJ5wZbwH9L/b+1Xbc/ucj/WZfn2bC37qqaejC7ft2/LvNmQc/G3j
            q/VT6q82aQOP3zZA8rb2+dcXT/e1z1x+407cl43Kr8egt/3utbjY9QVA0W7v
            0U1L0tLPXFO31D9f2Q8k5OnKVz+tc9dwdBjkO+1d/fdsdYjX1gazO5y9a3jX
            vtoMII5O9iksKtLuKrn+1WbuWbSPJ9b+mdYPMPLXbnJrx5rvbnqjtQH0zq82
            289q0MvVOztu/IKh12SBIUS0/RfsO/D3wWvWN2YlGHy47r++2OP/9qs3YAWy
            P3D9awW8i1XgqTahXdj/1cbvOJdmDnvxPSMF+v6aOR/208ttA5Z7nX3/3Q/W
            6OjN8MU52a6p3n/Nigc+602rjXHlAxGp+i/84fOg5pdtklbgjOfXu0CXTj9o
            s529a/lfbYDPft61ziqRBflq01I870Kblgz6MObvNp0KYEH61v4R9K3f3z5m
            BcSeNrXamNfvMU8setJaYDmb+slJEDCj6Rd/97nemcUt5CaoH6Yn/NVmz5q2
            2nRu3wOtVJ//tHk9ddYX6oO1iR2c4adNeDJxLdsMYbxLH776CQBvIn0SMR4M
            JmcMX2sXBPRqA5zt+rga+q/5DGEYrwgMiLXz1qbMX23innGrjeG1fvD693jI
            7apNx2ncNj+dOuGfNhk0xKufqTb1YPLvfgrZ5NsPEJD2yO6U9D5taqaVitCd
            sS/c+htuILQ8VyYsNeras/8bziP0FJc4Id1HPyELAtYfvMNtP3BjCj4xV6Hb
            usQZv7BjmGlOqdgLpnAf3XP4PVdrTbOfZKL5o78O1Jf/tAEsrai5Ih8xx+Gm
            fvXzvrUP9YMl7Acm0682YLOpR2c/gFuXrJ/e4xeWBSM50Q/bJGHiefjc737A
            sQ7bd5GWM/uukn+1wRfXcGEpHNqed/pauwhAqv62afHukfT17TGtJy/NYfvB
            FeXXHMbsqAdiP8AVIx98cr9dGH3k9IU1Y8FUiQON6HWf2aq/e60p/OOfqb2b
            yqgQwVU0U51gnwiC2v7VHvJNNIgYPxir+19tOsCw337efLmL9L0Co0ynlZwV
            wlG3mSsY6A9tjpB5MQdUGS2aVK2fNa0fs1sU8LE/NmCgDnA1YHLGql9Me0ha
            R1p8eSwpuc9N7rWR4/d5THhDINHN4jByikYbA5aJVs3zfJBNDRxR/avkcpn6
            nYz+1Hmsks5WqB05qBUvyt7+tJFgJz3+rwKR+q6l5vj8Noc+/+L8D2vqX/5z
            /+Hf//Z/7u+PF5v9Twc0SYyC8zW5EkGgc3aAY/AjxYeYPRbQlw6ZFf86RNkx
            sU4vWF4iHy1uo74tuOWD7zkQ+eIspN1DaiPkmEPZvWxBwDJoqDVwo+N2aNEH
            oCfgWxC8ha2E48T5xPU1clgeEnNLoB/YI5QGJ2TXAMIAegGODiIlRd0JuMsQ
            A3f0g3SkxpBGRMfAO/iLIDbcjtvj5oqp5AjAB42PMccWc90xLwe8ESJAPhYw
            G2WBzuIc0xIr0C1EAuBgdBPAFpca23Cx7RYbOdVUwJyAiZk+dogkHYMYGMto
            Lo4Z4nhTHECSM+EPADmxjeZOcaL/BQy7wKKvNuOaNVJXCvYo4um4Mc7d8XvS
            CQPDdyu+GPGbd3wbjgNH9AO2FdsPZDa19JQXkjxEldkT9jHYmIAZxVekmRwY
            KIdlcTMnh0l1eA5MZYL4nKR2bSH5kZJfOfm3JO9KwoKmkPBX8NfwB8wZVkqY
            hsRlxlonTGSKwOWYJHBpmLxZEj4A1MYBAWw0xoCc4YBFbIT+Ugkp1RcIBC9E
            +7Rxjo9JrqUcImbqTTn3lCt+N/weuL6An/YCjiqpePSCfjW6PMGuosu2Uxm4
            BwJRdk2FFmz0V+m+AmGmZhzRENJaqr0kcHap4lsr+sTapuZ6AjQnrDRmcieA
            TAL7l1rHNfTb5kpte9AA3AfC6j6kjrnF6iSAfuroG3CQOtp3zBPgOvX1po65
            6k9Nw8000D/YqoRe08C4QTrSaADHjvtjgBnfaeAdgBnIyzUB96eJNQKEYwVj
            mrlgunoCxk8T8zIHrs+QwNGkiW+ekFMn1nVh3hfw+8KuWHgOt9PCGkJUTav1
            tDDva6y08L6FMYJuYHfK8+ff/9cOatnnCJnMMGz4F3jpc502NUDUftufyNbN
            37jrq49gXKlg5/3fR7L/57//d/zXwH07bPyP09P/TCv6gOeBSOhNl/ieM8J4
            yPucLflquXM2zXMLZ2D0vyWDEk+LYlqZc5bV/p5xJ5RPS0oPseRzFoxTPWcC
            5XLHIP6lrHMmyOc9yO2gYdwGVD2QM33fCNZPrl6Q34CJXHegcIl+PHg7xA3+
            Bo3o+h1jdfSOwwijfwNVxMDq09HZBGJwmW+ZEX2ClqE/UFBQQ9A7KpTwu6qP
            c3yoKl5v1X3KqY7iBP14FhXj9N4yrBBlUQTdeVdYoJdNY3X4XXnOuavurZ5c
            71RfNdD/x0QSzEyppN9ARy503i9VKwEZrNM4gPF6XCt1uFAiRf5KikznIf6u
            +O2c/Z523fE35Dh8nZsB31PLW97+gp3B+M73gqf4/q17UicEzgmVSGP5LB6a
            XwhmGzxCIF7CD+pbMKzJT9dcZp3TEwj8RvUv+APwPOCTKXo7h7nyO7b5vBUT
            yt8d7ZoTdNp1IHw+2/CM51Ftq13Tb6yin/YbhO7zu/K5Yb/lVQd48ZTpNC94
            b7d7+ChX7FOeVf2Q+xloCnlsEHgd8XKBZgcVNRXsKy0/JAvTsmG/eOkf7L5/
            7Lhmlvtc7NYP4Lj7YwzjObiw6Y/1gxYGrLY5L85WuTMoA3BnNXL9tMUv0zJi
            TjSemUzDOc/45ngk6SQwAXrPsvNRz/PB+kWHJhFhU/CYo14PGcP6b8FL1wJW
            Rt8H+NL4QUWl80j4T+1SW3wxxM8EiMBGzEsaXz7TTEdGuwHlv0L9IfavI1y8
            gK83UinppAyuAYDlS8qARZp9Pbrm3iCywCsdLQqAVPwGYwY+9t7LUnVjLwP2
            R24089HTY3pwDWjhA9eeaklQ1ujrBuf0UhdYz7pi6/K7E+AZciPd0jBnG7Iv
            4KHEPLG7MNlyywWYbIA4xKgXrAe+oWDnhhU21UyYfv0vb+ESiASLrOAEfuD4
            HBmmBJxBzT9EDFfBZW9wlg5cIPYvhA/I6psWIGyQghYxF9zfwDObeMB5et51
            TkTHvng69rcHtEBu3sQjkAP6NBzQGq5zfxEHeYzojC/QrRb9hvUW11+8hnNd
            MRu7UlvRgGexCpnIsRDP4lnKBYQSNANjyPZ0oYl9OPn+ybWzu3OezjmgffG8
            mEs15rC3Lbz65PyWAklk00iTi/SyDjQDb8rEHXpv+rwzkiDUxPc+erYHsPq4
            0ZLhSyobIf8INwIXBhradrV+X+AkUILc6k+/3BUB6+NpuSWNagRQwEmTIQky
            CejAJsKKmfMCvKD2JYzNPsP4xz/xmZlAF/YZK+EDfUzgVEBhVh+PcPOQcRii
            Da+n9y0LnL0DHALICC+Uy81OhOe3c7NgXxB+0IesmHgCq4jruPY20LfNKy/k
            oiH4eeO7eP9F32CC3/xgrPNt7DNLV2+etYJpGq6wnoDduqiVxUo1rhOmb25w
            7HnTgukd5qRgjwJlDAeaASyKHVQMTvASyGg1mkEbaIUwjj1GdTBEFDqyY++S
            zgCQcA7YHdQtOtpeDfZqh8hWqNQDehDc0Bq4CymZvnkuSpSypgIXhECkh2/1
            mTpK2xf63SneviUU7CHsGOxFwrvoI2gL59hVvlvEZ8tmze+QjQH7bBPlYV0a
            +sByQTaw/eNl3yMK15FOzv0532TfSlWPjQM4qf75nRwEv5PuM9/f5Ivtb+ml
            F+2fbkSj2zQYibZSCgfNrIJ/OZRznzsajvo71izod3PygZvub8j0wE2Y28e+
            Zc13il/A94FXpOK7cK/8j76rWr9A8y/nLtAcHXahHygQWSUt4l4ahB9HBODj
            DC81gNhYYMkmxGDQoHd6iGPLueo71ZR940hYnjiu5cgXvRP9Q8wi7ELqegPZ
            UWwV4MTSsL7YfcDdY7BthKTpZdH2xOJUtQ7sXfBS6C8u7CHMT0G/wP+UnolW
            +du1d7m5qdyBzAk4Smi/SfDWBIx0R332i56BjzkO8GqYeGDUYuMtfKuze3Oi
            02bjrQO/s/3Wy6iWAT/h/OE/ZYjEXMruZLungOsGpqjz8EhEPTQtsi35D9DH
            egIKxDsEYGwd4zleuurs/J3Z2oH5ZEQEvujwFnYOiuBMHbgdaQHuN/+lJ+zT
            nedBuefVHL7Et5jbcelCMA8OtMkW+RCa4XKOOQB3v9Tb7g/dBEM1yPAMbPhu
            cO5DpRCRiI1xvXTs7d7EWwLDDUDLU1qTrgqUg/AXqQYGeb2/AR51ANu3/tbj
            KUGOPsvpAU237FkjsF2vjbzdO6rEZInzz8K7MRthYQGa9eGwZqDqdabsSgP0
            bHx3IDPeawA0+aFz+018rHu++r1aqLefRF8AEtgdaNHEB5J8Yr8/I2YQbQKa
            nddu7Tl2OiMBONMc4FMpA2H/6zeYjDNn957/ugeKD/y+gKsy+WJAj5nyaQ07
            uMU/9jyddICbB9/pPv0zlAfzWjmvL/XhP+tsHkrRYGwBe5tvy/H0OfymO54/
            3HQ6B2/niFMmeePciBMT4cfMeOaJ47iPsM4ONJTHYxdJwCnOH6+ZHE9MDcAK
            clQif9VNtrP9E7HPrD2xIRZz0xGnMCCmci4xHGftbvsHcI3t2v3hZ+IbyQc9
            wmtT9lPS6XpgKNMD1CcqfSvVbY73G+aMx1yBDvkPtH1VCTQtfsYMhEU5qhIx
            AF7nSw610qTD9pN2rDoa72HQnUfMf+NYEp5LwOye+Jl+Uo6xRrLXOc5h2+Aj
            CbdN8imgd0COtHGMzAXHOW1iXBbQIfDWOQ0+DNyDvgdh1BGfYWjtHdhzEwh5
            E8yENwHb+PdyDwED09Xrh+8ZoK3YRQ14i95QeFDz6CkLMNRN85hkO5Ti63xj
            3sDdTxVfy3XifGpezlw6zKV/7BvqmUu3f89lx3W3rE2hlxb65nsCOSqj9ZXt
            MnAHj0DQM3IusxC/5hW7TvOa69e8Ar9YP5QIaUGijxKj5Db3c3Hi/UBzyet6
            +7bPO0HPNLbAfu1bsafWnd8AlPOZO87r8YG4MmMBkf7eO2im6+/B+++045xO
            9/e0PbgUgwFe68hPlWxlNDpNNxWcg5AB+R3aDdljJ+oXGqOSItiOFYjfYtd+
            TGjawKs0Bs1gFSHaYZPQuXp5fPNyENQ2+wrYWewPe3prP+KLz14LAY0YFJJC
            bKDVZpoCZFMhk/3qCRwceEsiTAyDmte16MLpyMuwn86pWNS/UHvvI2V+7Gx7
            Bqy/3R+634e38TruOoDOAqutcXRXojkZvsB1zQ3vasDYIQBhfKD7L+01EDHs
            ecq54gu7A39FQQ4vnoF89OLsY3uQvx7gTOiPc545OIx6Gb+p2Aq9aV4STZ7d
            5oj8C/B4X8KxD7uGFAd6wPipl3zJYLSi7lc6rlE+okDexe8DZ1auhfxE6OwC
            We6ukWFZyBp0UqGsV2wOQOMw36ZD1rVndfKFwHAQT+g5RIdLAD/94sQJbHop
            iLvJXPelvUVGO8jnYi3akunWMJp86egzi4uptwtbAOnXtW1zQNjiNSJi0ika
            XYLofpNnYW5J7yCvNMW7gaavJfqUUmFAkXA4BbFkIYRsP7AaXEOq1tiXrpPX
            5pylLhzSkt6p9qBeL0Wt9/j4lGz7rM2qY/F2Xp5zdHbM+xzfc5znuOxIuzD5
            ZfPNpO/gu0Qr8T8vT7hnMXBBfM+mkoJaHer1jP8DQSaWxfuEhzeYdHBZHlzv
            Cmlq7SC2KxyzFflnALMaHh5hQ/7E/UFnBvDEg/IjKM6ijc7zjx4C2KOYJ/YD
            7AY5ewzwRJOqG1AC7aADh88IjOV9NTrI6vyNNQdMBoh37XWyL4BsUJ4jPost
            JlMEgXfjvDP80J/fdJmq+jY7h9gtuGa86qZSxht813M9nvN24D6ffUDtAOHK
            iyZM9smtL77NPy8VTPxmCA8jykWHDlickK1gNPpG0o6J9WKsqIfUi2mPHvML
            JLDJbmbhbfOYBfaAPJJBkypXBfIY+/Z/9O3/2i/n7/br1j6y5UNNAPheKpx+
            +gDzSuCpgyGi5C/9344zECeyvzh+xlIzOal//37hOoyTfHCgR8XrJvYL19Nr
            PX0hP10ZLkq3+ZExtiAn5khieeGXvBd4oK2o1QUJ0uAkTP/K2xJE4hWchNcJ
            hznAiyO8yNemhqwlEu9Z+cXgsauu02PauwmoiJBFW6PexHSr7uhE5yzbHy0/
            9tCe8Uvnhs+urgzx99mB5tChnook7CzK5hJnKbuCE/LGMxBXcVVtPxFDAnc/
            dg94XmBJug/kSDcu0cH723kGJOnb73cKtiS7UftigqQnHfpcA74hX5AdVVTD
            1+5mD5F8Gvemx8cw3LuTLlNGVFvqsbpoMfV2vkxGQNl+l8sy20h3VkZqwoFY
            BvrU2xyzD/B1eh/IHGlTpWMeeB7yrRRuOmgfFgHHuy4cm3NbtBKoiih6VPtN
            fI73JapOOt0OIR5DoAD9xJwN6RA95WuMGWuQuXcL1jhxJ58+PGlNltoI84V3
            izbz+mvX7xixXwrHN6lbxl7BwXEdscPNavCKTyKv2G2u7Dsx3kaeCwi6Ux/C
            OUoAWMiXXubZYtc1N9Rk4noZRGnSa3jS/ZLi0H1AHn3+Wxft9LpmOA2gsgJp
            5O1ftGwSfwCMqbMFH19PH+IFyCNh39bTx9WfyuM+Yr/JoQNInuOg9xDb09ZE
            HU7GZRylmzp97w2xSOvvDVa4riaPTPXHePOOtQUYAuEvFz7fnsHEBMLJkNni
            tfiLc2/kAV6M/psLS0jLAt45bI0waRnoJhHf1IZvwfXdFlHQ3Q8Gc1OcenCd
            Xh5u8pk4SEVAI3Ck7ol8JiYoTsoak15lr5PoA0F/NdlqQD5Kt7XH57v3OYEw
            kbxtJF9H+7dggnCw5dPv+H7hAMDmY88s4BgAUib8qBsXhbN4LczDD2XKltgU
            RTwCGkvnLPkhFXPsJ8+FDl7p5JPxeBADXPAUSEusc4O/+8c/56a8fPTHwEi0
            YV051XE/dPq9cH9k8cakMVyniyswHuGKlI3Oa48G8KOYiwTkBFrdRc+czh1x
            KVikddbfHOUJA3Q7b4SpQVphYQSLtgg3J33GqWMEHNNO4Q+vViALQb5Vkowp
            +Pjd18S80jtJKScAj+CbJqDGA1Y8mJ92ZeU0ng9eAt3pH9xzcI7hGdGAajL4
            WN/j2k7j+vhgp6PHunQAuIhQ8VCN6S0Y5/m2tWU644g/O8dux3VsVgt0JEZn
            Hq6yboGhs2wHkE/dFI5VnBfO2zmPpCFFuiNGuU4HHMpEAvyw89tIVgHei0xb
            oMwOtKNO0UIykbtXrVn+2A+xew1LxMM7ToPraLpU86h//vHPHoEC429b06PU
            LS9jC9i+BMok0bx9ewJVA0HhumJNsQS7y22XEnJjNDODxUDeX8nelFfBI48W
            ym+5rRfSUqaNkU2petBF9gFEIjmGYbWy995nmtEN0jEcF/Gxf3/3Sbd/wMdz
            +6Tet5/fH1080BZt1asa31dlDMTe1Xn54FBv8s1j7WhguG1ILnbROwjrnvoR
            v4GzILKDxcBeLdX5UX/2KueymTpeY+I+vHOLWR/C5RT9lW3Fn6A2kFdnNKMy
            LQzG/RCjQHytcngopN9Y9ExZF3Qja/SEiUkYC0z9AUHabHbS4xDpvA/GiHt7
            G36g6/2mOgx9bkd9TP7VNwAIONf67tf2fHRwPZ/j0c1F9+3PikWq//gnRpfe
            r7kAfA/Oh7KYcFygBcCMs7Yyq/EHLS/DfcTfhe4OwN9gw5rJJCRO5dp9kvhm
            eXvuHk1y8zlRsoIsUuiaOjTfzBzij+6mKHXKEG4ES5on+LCqNkl4puzE/CpA
            5y9tKyAJeV59Cq+BlR30Tkm1ZTmbnG8zvCZ5PmL8wKYliDnBX5fWBXuvgMY5
            iYxuMozKWaqd59yjIx3aAq8UIgVKCBqHWy8Vh9TL6Dwk2h/L7Od9gqGynvtN
            eb7z2g6JIXkN3Nqkz0SV52dTBNrZ907jd6QXaLex35NsOLUY4GLKzjwKH4p/
            nDp3dk55mu/DJsD8gGfUswW4NUojn/diBBG58rw6I1JHw+Ab8TlplnAZuFvt
            ZbCwt2/qs9X/XOvX+6q9j/3No3/EfEAiPGvcSVwGfUEzv2kDO8VlPPD9BvRJ
            A0BLeIZyD9u+802AtuYPH1Zm0Zy++00L/7/7LrcPzhf7ccBd5PshB3Tx+p78
            PqWd8x1C7QB7LHf31HKVIZwEnNFpd/PgBz2EXQd+CWJcPc9Q/gXl0TM2Fkou
            9g1k53jETcZtvJCySbwqiKL30eyNbE/lp+Il8nI/447AUnE1TtfhI2UX96bn
            bsXkF+qBg2QX2yucgwapDRNsMs40r0PaNIVvKT+eORTOA72iPYA6CMOr0W30
            ATHaZFVv67D7z3gXcOjBweCKBKcWc/fZY4XyTZI3Sjh4nbq0tRwVzlW6cNDe
            fNZt0vmWPjL4TbvaMntiAktDrQ31F5wfyEHE4wucIvBgHfdZxpkKRgFDkRHY
            DnQ1Yf81+kOAFDa3q8FSvc8kzfOxp+XPsT5K0vbmRlVpsuuXF1yY4xKNp2Ob
            xfBvwsg4c+rfBPrDeGBbx2Lro3ljEraz72kzs+87fffn0j2LmyHeT/v3PXfu
            gR/cABTyTDgmmucEY/Wj66ZmaUfJg0B9R6ak35juA47yuY9j1vye92jMjGM4
            OPjT57I9Qt2WjoCBSZ0QEZ17yz/+CYa5yo7Da4YfgsGy3us1R8+dI8j+/3GO
            wvuOb7+KTOwg2m3fKG8lzMkdO2lfAixWQH7oXzy4M/xy+2FuklXHPjoD+q00
            8jWkCTQ8Ao72TJJNFpWS/I3JInVF128a0gdk5hrLVFWLBwPXHOhjwr6oy6Ot
            GXCS6ROH465Z57jnz7mOlAG/2+XT7l+1x3kQX5x8o4/AB4fSFvQY/83zlaQ3
            Ntk+iH2d81zj88Nrz7b5RVukF2TyjZTnoZNN+w3z4quClTolIfna4Xc+v53g
            xDV5h2GZaCehbwHnqlfIUcn4KPoTQdbMmfaTI/MQ5zvaTbPR5Xr22YU96uXW
            4V/2sSV6TBP5f3o7WioA5771RCv+tjkuOgLadTtOO47TH2Tkyf6AI6gVc51a
            BdJ9oDty7nvUyeOzwQWQ3WqdWdDcniFgd6E9+OLksBxgs7NC+YjN0J5WOPIM
            ph82xdeJ2nfi9isEL/dv9tVnL3m069XwmwugbzXn4H5oYQVMfvYr+k3N+k3R
            ZNVEfvasw17gjHORt0/rMygjGvgIn4HPxts/ug26r/YtDgmYd0WySOYvQ1gD
            N77kd8Y1XPs1HALRJJB+J/lJ/v6G+fMNO72L33DpuWj/MJyw4mYsp5tpNx+I
            feiHmzvfJbr69R2jmG8Lx45Z742+raJQRufCV/8L85a++o+JPDtutMzcA5AE
            K6Mg9S7quzBm6Wgg3IEq0+dAtpDx4U8lFh7d2Tm/18HfOLVlDghG2Q2bN0qo
            5DEvjR/PF8+kWDnjj4Rz8dZMegTZgPTrqebP9/0u3w9+7svGJEwQmWBz0bZA
            f614bAZ8P8G2c8Ns4NIqCBhj/+Yv04i1Kl1gluxUMI7U/2p/WOZrC15nNP0+
            tq9M2ny+IVMWfShW4Xc8+OroJ8vRCUzaIw/tztSvLkyPIhuka6DPnoWuxaZ+
            P7ZdTnwk3yHZQvpl2YaiEZwnNW9z9PftZFdibkT0mQknWOf6kqDjfBDW8Rd7
            43WAyf513dt10ALOHmYbfXHQPHKlrW87l4UE/F1tTEETovF2kTJF4ZwT8eQm
            Hw7qxT7fwTSc1BHmjj6BSUG3BphV2drM5mHfUtUHzb2VY3Jm064MA9N1x+So
            j2zuvM+MjGxLwRD8ZWqTtjuw99gebl2+9fnwrRw3AeNfjVt2h69xS4RgOPav
            frRJ6NcYqA+eE2zt0R/R6DGOzmdRjwbMhC1K7ynJbO6R7+9UXAFzWLzR5IWl
            cK5J36g0mGkze/52RXKhfKZ2IvrJztrot3dHr3Lpyo8e6beeCXy0crk4xoQv
            0Q1v9CPQCxqT/de4UIKXFtiB93C0vr+VfAe1lPSPcOvEguPZ1J3SurrfPLP7
            5pfdC8wDqQVyQz38Cidy1Ep17JcPzFyMQmzcK/QBlHuNl47N6ICpsEwH/Z4o
            JPIppMJONmziKnflUK4Fr2PLjF/yKX2bEogEOD6H8dd+xj/Iy3ytUbc1om9r
            2+DNMf/5tXyonP8BPg3bI0gZ4Ih5iX+d/HCuTuzq88LxvQ7T1uHq+xaTh8lt
            2fzRBKDM8sZ5p73wHbPSfygPdGltpLo9bbY/bWg/eUblbnBypLIsMGwDAID8
            NybBiqkL2B/wz0tPyQRKTFuUm0N2a8hMGDKER+BsT1VCYM6g0VzItQfytlRS
            0y+7yJJJe23JDHUgLgzMtwKkQs08bXCOoaJgY+25SZ2Prb9/miMLI5226Snp
            TiGfMP5u1G+3SQbD8BrHhg+dGCdkBvoUMvDzZ9wz2LjdsY/9b44rLRtXZpQS
            HdAMxzTz8T8+gye24o1euXzfYWupXFPv1zphLRN1dXmAU0ObTYnd9Au3HdXr
            n3aA42A+YmLZ75r78tKGMEnvYmDs/1t6Oz5oGKffTspbwr38Z0CX3SCBoWYB
            iLljzZnOpZLEgdEFx83r2LWbvrnfc8l4ALWreShVk1jbsbynvZVuzT/rVKl3
            eGWR9/+qP/f89PdZl9PvlQWem36ZLDsjVSCE45HPmvgDK0Nz45jNgY5+v9bE
            PBwMb96Yl4h1AcGOe37pAYjPiNe6fN7F0/g+ZFvV+hcmTiMmyl5yzRfue7v4
            TEjw67nt4zjtwaMJdtfbvDOb49U/y5aS5YPXPzLfaz7cDBGgPjflQaPoYpx7
            Oroo+T8s+b1BosYG6Fg7xYy9NGPTn6OMV3kvvEvnerfrJZD3Nl3zNB1FeqrZ
            9ybIEf2TaTdi/8W9e/K8yXdEfDtxF3Usr1+V8+ApUVeX6vzCr+1f4FfgOuJX
            aokufn2+/X+f3/6/NzaISgjdr3Y/zZSIT00/7BJxG9c6Sw+J83z4xNfs7oz2
            lf8R49A2/bLEC4MGRaA/8Iz5x6ZOY0p+jy+dNxklU4wNP3Z4xSgk+daD+3wT
            oxtA5E2v482HagTsTQ+ehv5fV7Y1154OGvh8+/XTDkJ4ko2NfH2A4Ebg8q0d
            2ujlF8L+ju1cuuNhNs4Pn0M85tpzxjHI/929Ar6w5Ws/A2xefSy/UbYVph85
            8pRU/dG+lTQH78NAXqWlb5ZHW7YW8ljMwgkx1LvMuI8CiuiYjDUeXxyLT9o/
            Y9eexjfy+1bYpR27yadfQNjR/9aRrA/y3fLvm+a/kMw3/WXyP3JkTAwpv9+8
            O6jdcJkGDtlBsnxVOHe3zWO6GsWTFMp+9p1xyw/yfH/Xe7CH6QtHJ3zBP/lF
            UCZGd4R2fG2vPfD63oJ4UH/UPvDjpEd3f/abmDZWsX/E3U38jHk8Yj9FVxQv
            TT8B2mmOr8JHp+3okml2PPPnNH7k6hGu3fHyh9fvMuwbq2f+Y1c/wahtSvlN
            uQXfzIi1vEFLwG9zf9OImLQfwZOpQ8ZNMj4tuoO7H/M3xpqeIzZLfjFZ4pMa
            45Wc8jB++sj/XR/+k5TNuNjm/2obguzErPrAT5SxRy3ur3wv8INMEN9+OYUG
            gmzEletGTYP2I+NT6YsL5rY9lMelX5PeowLqANjDfNCZzEg+X81+23daIp2j
            hzh+io+399y+uPcgxDoIdS1jVYkr6D14bLvtrDPgnMKLvVfyoQUXK1nPjPSn
            exSuRTk6VKWhEdwt3YNkAB68nvcOESam59jP536y++PEIRw5WPMhjiJq1O17
            fuK2+WEsCttHyNPS3eHrmZ7nvgtszhmXMks22uT/J9+SbGwvfc6rvEhAO6nO
            tjaNPD7QQP1eFwWVMtVJsbG9/p1gfhv+BsRMZXp0tSqQg3P/qjwC2j/r19pH
            0EbsKpZEgUQzxp9r/+/G/Zlj/zOfnbaPIr+r6Y4++b4L5P2zDtQh4T/5n2bp
            pLN8UD73TY4WZ9HbLt/r2dMusn0/xy+wLfffjPvM68tx37nm8dhainz1IaO0
            Y7eWnHbt2cfO7Y59nDzRbSe7NvbADNQ1uPgLBsEvBMk177vrLpa50PSk2MHN
            5F2TZ6+8hf1h8T80DzA2sznmHX0gWSqn4+DjvF7Nz7wk4yMYDz2JJzKGZtbV
            J5xnNngHCk79+ZGJGSSgHK9urCsbY3qKuznuIP+7jb7I+xx/hKhY9ErnsyaH
            WzBXYIaBeJNrO7SLC77jOV7547rWpSMDJuyMsATdDaMzKx2oayMFhDyX6NPI
            mFSWv0mQ20BumA05QWahv5SPYUiH4JYl7skSkukGx+Qv0l0H+TwoW8Hf3Pdx
            EPcDFU28D0Td4rkLMXAy32EyGcSzlLtojf3EqVRJEJ/v6pThTvaQj96O+nPq
            RxULSy28eNaimDOX6WYPmACfhrGAGBegihe0A59LLQqzCspXI6it/922R0gD
            DxU14D8U52P6ANr+QmCuBVo1z1hIkJv5IrtdFXeQwSvP+gpNQUSpzmIqmTwF
            PHN/enkTvUFcpu0vEEd8bE2E+Vhlr2o2L57SD+3KfilOX0IglSL0R0y0bfUM
            +kGdM/iKFmQXcendHRuPNqmUGOfksBaJ+tSY8Z3h+hfL35j8RCC/CFG+WQw0
            5wH7PA+mnJk/eheOC4uXqIun3bJl00eDd+jMj8T7jbEUQKihW84kXlNbxqzR
            b5D9BuAlxTT+tOFzQWnSmP6Qzu153Fg06vl7kv9z6vhOaqi1JpUht8DG2FzP
            H34DU37+WgfFfgbGR6dXmdZkr2KsSnxlm/+Zb/exCXM8C8yxF3IHngPE8ZnG
            uBnIv4Dr4OeH548KPwEtw4uYTQLyCfqb8laEwKngTdmJZJtnfHM618EWBMLx
            2owJxvjvs9IY51dZSZZiDLrZGfXs5zozDdav9SEGc+RxbR7DBAZ4zlgYYzzP
            WMhz99Pf+rrOsVyf1ndpP8tGvZlvELxyRy/uZ80m5Eet47l250/PtPHyea43
            mJHt+1/bsY9xcnD2g7PjibPDlmNWyIcZsAxXkz+DyBLNbyxgZ2ZPfx6nSL7P
            +lMepYvCWAro840xqoK0Tn/M2IFx6UsYGC0eJ/165aME6HwdjfuQv5nzpJju
            GHhi8zziWzGTnfItlfXdy88fy5ZbCmn2LD01M5qPh3HqRbYJy+gUmEuBMstr
            ViqlDd9mEznxeQyYp93n4psGvrnIbn1j9F4GqCUIwtRPQErEVm3y5aXrEjj9
            lSzO0UnzD0Hc+ZnXiZvIm8jIGX+1VUyIoewrLdl8nV2nGgPsUlHMBmMlskyR
            a0AcA55czDEIvFKl6cf7vNVMcn7Id0sxfZV+QIqZSOxTOunvc6Duq6tQ+zaG
            dIzAvevomtZjeQuObh/Tec697D8QpH5kafoBzarojlo1x4rPcYogC/vjJ6Ca
            duZ1UXJ+x5lPWtv3pB8jpVtaje73J8nY/qMnPt8HPDuIKai7D5SLSMeG0W75
            yIGyjn7OsSqYY3ADyiqD9ZKdCUPHtWI2q2tnwnc9/aW/jtnZ3PHpl7svTVmc
            GWanOf4rovucN3zWhRHNV2RyEhwh0aA/5hCb8olklRPlmqCVTLL4PLIBYIHp
            O+ib7RRo7mjrhGxOW5wS4m16NqwuJo96XSrrvJKTumfxu1WHLCsPR35BO2LA
            dfF31JG8YS3liCi0d7glafzuV/PvZMYe6qFcquLleqOL0dmbLArHI3Zt0jkG
            X8QnMTOT/HFTpV9XDdvlV2wqeWTSoYvDwEe/ijMC5n6Z9ozpZr/vM+8FFaRr
            F9ossiq43bjCqATVzKXC3DzKbQGBizwTS/88BIntB2C8maUK8DEiHeXLZ0x0
            EzSc65ibRaW8SmHkXEmgtecamCh5azapiOlXxGzN/uIJarTNt5l8/66LYdTm
            W0nRne9xlvtF5XDMp1XjacxOjG/KX7wUIJ5MNe3T0q1sykitKE7rxHx4xbZ4
            xY60B3SY5h0m5uAUx16Y7pE+/Nt584XENSXjeZRfJj53rODfA/WGlJkyPStt
            /xH/08O2Xj1IprWYsjP6YLKkjL/r8zq13cGDVGaFPX5M+B0VIaJ8IsT9ikl5
            zAOHscB9/cgRKt0Qykod30wfJ7yvMf7SdEsWJ4BrrnZGACoPAoC4vJa/yuIq
            Nj33ifNchERS5RcHyhKUuwX3lOemMbZZPkhNui7Q5D2pmov0VariT7insT8c
            cJxoTDI/x/tb/vPZ/DH9Y2lZGANQnZVsmrQgGeeYL03ls9jImGEutaTVN/3Q
            x8IcUNIFWUAzafzrQQcBB8olAIHssSPVj5BdDUcwv5BrHJ2tGxg0+eDSB7rI
            KTZRfwaaiWNgrSLmqZiUeCw+YZ5zroWYOfITToU33TzXjOfrP34j0q1BxGYe
            kvY2YjwKW1vKJltjfi/jIjunqkgDrlhUChNk0QkbfI5yRr7XsGb0vZSdRLl4
            ivQTvi9lmZI2DN8xWe1P8eevOHkmXb7nKqLB2M1tNrr3+Nzkw7/0c16vD06w
            49Wp7XOd68fKoHmGTihJ5wjEEb/zZN08W8ze/h7+gWNszeac+XPunPvPnDdI
            q4F5MOn7onvMvGLzzJz54ELpJ3LmP/6xHtdPKRD9cU8FsDLl+DPSzoHddGV7
            rlEPo145nlVRwmZs16FNtM130UjOAWljd5Rvv+iw31gVp8ouMqVIHyNn5CGe
            slfLCZWoW1yvhd1jzzOSnW1ZYpHtYjdcXo79NWGmp31x0roOUJtgOP3xwmnk
            dkRXWa7S05+E54NWfO074Hg6N5y9g5uMcSFOYOhWIms1WSgDuJv+qsq5ZLZs
            hi6w4tMjBWH+fC+FQMp1VaVYFEPh5jknf+EyaBBR2ZYrQsvG22mMzDl7fVaY
            TJnyeiiJkRedXqc8X5DEGH/B36VYLhvZTpiVb4ELPuetMe6INimzdWHs7zd8
            xmOTnse37ML1hccLn/Ox64EBI4rCsfxh4/QTNvUQXmHjH9pP+YW2M3kgQdyn
            GeoB/rC8EOIpOQGM1yLppZtkpiLBnTgitnWnLfFz3ir0qzbPTxtfLd7Jt+v3
            i2Wa9Jf3Ks5j40mqeyDaDka4Bdl5GGtULj469pfW6RdDGnt0GExyQl8P4nFf
            mVSImcKVk016Sqa5fUzHoewOpAWMQQWd8YzjVVwSxtmfl1Ko4otsnM14luzn
            9uY3gl1civLkest+dHPLlPHcmEnJwIozrqZHzhZiXsmfgd9irpR5/OgmIwZC
            B6cXJCtrHOldpAFUrklmrkpaV1kZ56P/G6anVk4kuhJNxb5XPl8TY0fFhwfA
            MCVpymCV8d7vpH/ZV26VajHQyl1i89x1DolWx9FNrxotNlolc3mkygU0RNeo
            qn6UD2frHi3HJ/fGXbP4FTNK+7Wei8/Ni3XOmz3HikY6l9/Wz3O2hk06qWPj
            4tzWpJikQXtbtm8g4oxi6119T0yIr8bHyZuFyUc01mx+Q/PE2tGe+IG3jrXI
            byMuWdcHpjIEpxsEBJdOYSnO4qv6RcCHQ5GFw9ncSFdLmkk9uAzZnb+dki9q
            vYAO97htj4/dnEcmokHCfcdR/8Q323o8n3l4fGeKu8b5wIrTmDvuuNyycXnB
            d29yFGBimWR5ExgvSQmL1wW7jN4/ugdQmcaY9d/3u93PNFQP6TTu/cc18fRs
            oDpL5ztzZ9aL0Wzc2ebkOd9x15z6YgjtnjrmqcAx3SOH2Q5sgfMJjHOh8Yn0
            WG3r37dlvI3aMvtFZV4s8ftA4db/nUNSnv55HuLK6V8lA07/32035U8gIvc1
            fn/ib/iuuw+4b9MWzvm1bx/a1s9aPcy5w1gDpnnd/dVev+2ztccOk21zihXY
            JST6h0A2vPTdDAD54vBCmw7nnlRCkqJ3F88Vf+45xV0q7vTey0O2IPG3yg1G
            PiL6WFR5wWzVVgocclljfKVpPyQfKX6sWnxyqCr9oprUw/SoYPFY2qk3fCUQ
            imQqxbk8ylHGQnKivVOVXSHKzB/8euPmtN8b3Q0hiwGXtsEYI6JmiKwcf7Lc
            TkUF+5RHhHihUjf8mVOz8SWugfjY3CvXQXny7rVg1/qra+7Grjb6BXD/ZNs/
            nQiHpfuIDj1T4lENYveUB+nw70sOFT4p79GBdaY/i2bbnP3g4BOvShU93i87
            +kcGCCoT4fGJo+Uzbr7HP5Zn0A3qWVqVnrN+8Fj3luOEaUIZfyx9t/ZKp/zz
            W87sB7d/90998e13t8WcrHNg/TbTTt5xE59evN5Vzck4PvOFZX6VQD9MzOWe
            G7T05NQAC7qVVyNgIAX9deVGA9T55VM3tl8pDOi32pT7V3olZpeUxduLt5L1
            W3XHTDb2zXTH2rDB9hkrrpDuM7cYpJhMWxKz26z48TcRnLFw1gfWaOt4D4wx
            DVBtm3C2nMVp0geZa0V6raI/5/3AG3z3D4wlgyfvvmCs2jU3f8MYPtlwJFnM
            P2ErnTVPH9gaRjuH0eU1mAs3JxkyxVtToFT6U6/E/sDPq5ldoCpvV6BeGAxn
            09zQqcpDOn+VW27TX89yAznRMYgfJxW2uXZdOYlUzRTFhlPC0bkwtwT5so8u
            qq7gs9H2cXgAHTOHSPvPb3ik38blFS7czbWYor/xO6azPJpcg+/1P/PP4nLE
            m/Q9fDm/dCtZcUPMo0+Dz3NqyRLX13LGUHcFpgQCvFOUw6J5f0vvlqmtNjy5
            wUmNk1vmOTWeNuAJHGh+v3nsJD1Soz6crDH1sMIN+D5G9sQtHYDlH6OdKIof
            3XRIIV1mPm3mLfPAX8D2aocemFGmhufEYMmfEm+jrZp7fZn/W6CrRFUuYMec
            ZYcHbdw/iXEIRM6dtvlYqG/bYXlW9MXDSbksGWOUmSvzxw7lH/n/zut3s2Vf
            9Yojn1KqWF5E6gV8PHlRz2/6V9OsqZyxytl77vF3Vf7VTWFEMlrNTqUaLWex
            eEn5WnvTcWteyJt96ewtT6DJ983SVmMtaVz78fH9xPZn1tbxZR6dd7BcV++N
            vVYu3vecDztnTrMbV4sPpv9q4xJPaueu3/LkOg5Zs+4YfFOOSsWAy3RU3sE8
            uMmd658UVOTzQHMD9Z++vN9+LoSjlzSQuIg4yTOg7JFtE19LX4pMAqH87IvZ
            UBr9B2lb3eaPzdzKL30Ntd/pqrIUT1JIKOhHANlaBdtorVGOqCL+gxy4++T6
            pbz3R79k8nuy+MqPrwF552p2d+ojIvilAshO8UfeU+wCFUeF8Ta2kYBzE3CG
            5L/Wrn7Ymz/4Pt9HN89GpbyNiUmGo8WIP5s6V4wvKWaJbLvkow3BNXeGmuP7
            0/k+uabzfnm3vr/Ls+jbn5JFA3l0rgXNjXDJAJwuestSs7C+7NTp1Tqs+934
            THq04bF5/KDlr0S/l2F+LWaDIJkHSnOsSOmby0u5TA9+Dx+/BKZtOHlLFQNH
            ZQWrbzMigrzIVEVYQn/41ab/tCmyxumb68ffHsId/RUYAZ78P/5Jhsm0seLx
            6Jic+YxyFkf7XTZjEYtkqGeCm6etgL+ZRgAcn3A2uLl92sihjbQ6dJt4zq9T
            AjUeQ8oArV0886jQZwH4WvA4cO7eTOanMkqyeSobSxAvit+kL9hKlTqav8xl
            wHc0VkKNTfnfMI+ZeUq4tQjfrKoLXvUzp+HART0RL69yYL6CB87p9/3z/G1H
            OenOkej4kA6ZPv2f/G9MBfWdgz88wkGNNIhpVhQTTD/HDMYM9DhPhrFsVo1V
            3PCkbQByreFHus2ILoOdG97sNGSfge/9mpnfz7bMdYIJYqa+2BnLKWVayu/R
            I5oGX0lhFfdey7DEqJ+8Ux9a7C2nWwvKf235g5ngsTFzWOVveu68Ug0wZJZr
            xOBS5jW49gX609EW0YLltOL42FeWZxet1D/4AXwMLZXj8vOMx1NVZPJd71K8
            Hql6nuBJm+LAwBcvx/0V39cqGk/GiDHX/asYiofedUmxZl50+D18FF1Y1X97
            divd9wKG6FXZAR0Zns9jmHYEv6Vj6tJZMI0RczdWlfNTzryeluKoW8JUUT/l
            99L+VvUjx9Jti0Wa2tWRaD2x8XSkO+tUrnEMYT0311cGV8K8lszzO7aAnVYN
            OfkQljnnzP8PvAQilJts61TMVovLU96lsDr9m0JaKmgbwhr8dqUkOHjMYs/o
            rAo8XITTdmTNzcFszUM2L8+YH2c64Mdy2v20d+9WTn9GkPO5rbzWhE1n1TC3
            lTIivqNNzk3w/Ik1FOx+M/2dUiJyHq9+oZgsk+jl3pn7Un5akgc0hudnDNRH
            7Vn8xcWJ42DaY3fqTuLd5OTx9oL5Ur4rjvH1qp78813hp0/RoKBc/p7+bo7y
            sfd0ZDH/+f5jO+ceEA5xpg8nTyC/rJ/aSaw1GCVqN9WYfm/uIG9LCv4l2fmy
            c+odiH8Ey+TnHvR348wKeNrKfNO2x7W/mROXsYRR/LBPZPyScmo4l1hc1mLb
            U6jYk1V4lbCCOaBhFeONZi9hnnVvBUbZN+sBqH4LqTf3On2AlW1VMWHYrmZb
            YHUb4nRmDOTE0PYnHA9KEoavgL0G3DY0PycvQmJ+SXBSJcWpeVCom11T4t0A
            aj/lhvaCr+Q8EtTA4+eCnmiFavTZaxQfJ+0EL1P8gypl1lZXAvrKOD7Wih0/
            dga6k+jcA2Z7HJQtPAsleuFZ2QnIMs9zTvtBYo0Xd4Leznk4OdUBPJPKeca5
            3nmR+1v/sh9snGNISfE22er6GH5XbfV4fBCUCx/7+TMGRxe8Yw95lGfM3XxS
            U3PF85/7VaLIqSNwc8w482NghRRH1sIbDDNHrnRDjMqK4hlko30s6ndVtO/b
            zx1N99SIR9e7zrjlH5qOHUx128+5+A/WggDyo9/LhQnw0+jDZAhmzPXHxlct
            JxKvtWXyRrjX5zkPPjK/ueV0Yp60KF8C3LM4ItoflaMgmi20Wp10nVt+apsP
            f+ZY38Ja8mcs9xnqw9o2vdiyeHcfv8bCc46D+j9yNwpNYrm29/qpDddMJ6q8
            zPqd33nnKv4xV7KdMc6JgSknz5tXPhDP46wp++PT9Bkf15+uIXfOJOPTwfo9
            tRmAkV0wOJs0zwGv5pQZc87akWBTtTf8POfLcv4Z3BO+zzn3B4Cv2/5QfirJ
            oeyb9t/O1Jiywxy+57H8/6nakYbCLN8hOy/X50xpqixOQGWIFtMyvIx6OPUD
            nCHDaoIV9T+yiGTzD771Ba7ta8seLL+FoLndlsfBU/bHR4Rjk5T+ssivV7m0
            n1O35eQJc5EynTMifWOe5nKqx9SnyXDSI3hWEQcQco9Y7II/ewpIT3bQnc47
            FdNk+b0afYZY/TB6+dvUAc5W9SpDri0cfECYwrn8vUlBAv3eMj+YcZ/0VW+1
            05VQNJ+JM6kq1BqR6UDfoPk5UDkpHGM1edoXLnB/4gaOmxXZFjiXfmKkWZcL
            eG/KW7W/XmnBmP3R5REBE/INfGlEzYa/gvBoYGI++kFl5/zdb8DRGGCmuYCL
            2ZUH8uRPJB3ijPDekn4AnQzrC1DhZqecYfVC/nxeCZW/nmdeuImhYn6ujcuf
            OQ2UMzDfwp0UmuJpM7nVO6uaqabRp34TY9kps36dy79hOgs9Q3vW2g3WfxQu
            Xiq5y3UArz4sL+pzapzgzZ35oaj4B3FSe6FO5jt9mQcFIh3n87ThM1F8s62R
            3sOavs7iOZ9CuPNvPfXP6IGQu1eiMMpBlfI28ABjBFyxd0+WU+J1j2+TH15W
            zBLaDrRjlRHB0zy/p4JgGLeINbcj+6OrN+YS3+g+86yac6ohcuzYrDijnCrz
            gwPkfwHZdSvm6eCCeWPkz3PjnI95j8/JTGf80FKq7hfi3smFzaJD+9ybds8V
            2tmsdkgPf40/gni24omDLOReMU2Q2cF+y2JYLWRipYsHyviJO3y3cvk+hbQ9
            v1k1DRhnGLEDWEkgyobHDC3Mq9yYHlS+eg99mobr0tuAiQmKp6BvTr88owMd
            KLvR8PnjO7YjK8paTOdrdkPwUtxxFbzLZkwd+Jv35NW32l4nXpFxUcyPU8e7
            cjVcF6vl9lK+BvDTyvk1NDmqeyFa2t8cGD6idybTwxeSc8vJQmlafAPDKf27
            fvUBPuzTP8YpXoTadaOT0onS0KH8Qt78XqLJeh+fgeiJt9t2h08xH1R5/5ie
            47G8PyC0FI8n+Z9LHw9fddhu0NbEmmJtq7bdoseK+PUZvNn45N/5euYqopwK
            WPUhMecjfTWdD7oORHfbk+eYzMLmTe8B8Oy8RqhmPlnK4uwzZtL0tlVJyXh0
            +Xsp2ox+4VM6+yl/nywfCKr/C3Af685LtKY9T/7CtWz5D9ew7TzvBqkXf9Mi
            JZbhwat7Z55NZ37n2can+EyjlF64pPTilFd3/uSdlntO/8yFZJqR6HRAIIgP
            j1sZD8xWSTyvo38pgHye0/iZc5dxd46VC8SH0c/IWdXQY59jvNQ0vdJpq2ed
            5XGp8n1m1Uv94SsolIK+Zrrw76+YcMsn5a6vsvxdAB+tWx4owZxjbTLWEvvR
            rzwtsmAADXCJNivpIKW70J4Z9ei+v3PHNgE/Y55ODqZ4wmyjhUuOYyf55GEt
            Js/xg7L00pcHAky5rxyyz9/k/mA2eHu/u7V1Gv1GWJMFswEcuOkPlr1Vos/M
            Q4sbN14+MCaAtahGlL8j2SLFyIe3AVYZZUArHzEJ5o4yHkERMJ8M5kkzLuzY
            /ipPvTk+VJtT9QH39bmvX/Zkw7NBVVzFex3+WPjJf2TGSy+Z0YcJdJJiSqPJ
            WvX4avFc9a+WYmHqlZcuL395NYGieeZYHq/DZ16+9PKNrCX2dlbosHnCULjX
            VclM4zP+SF76kp/5jmp8Yl7LkiiQH2b+QfqRWF7P584B8+zd3Iv+3POf+bF5
            lKMk/VXrv+mj/4c+0v7UmaPsi3l0jNVWPrt/1Wc5uXD/6POur5PpqihP2tP+
            TT+Q6b37D/1sy0uyKEPIxxC8i7s+hDx7gzgampO8HROkUh4nOHHGI4i/tBwi
            6e1ENK9lQ62qT5SEWMp+zJ/rlS6kecYnequlgDbyjn5+6qEt8AssSpm36Tgm
            OP9JD4sQZfkjfE8GFHiDA/JgI/D9iZuOeWuVfV42OfLBdDBmzoPDp5WOnb02
            a14kOnlRiHjMPfhvn3XPz7P4RvnPUbdgz2fVDrBv+3re/zz/82ywXMRSN43V
            yU9gytePfwWdMj4xFKy108NPzPr00fJ/T+Z7jpv0qtGViClsEvBzcob7eTR/
            lUid6DKf8ego/nzH+HI3FvEhgXryuc0v7v7Weiyrezyq5Z2//WXy/8z7fc5v
            Wzr2hKN3p1uPckXhQ1amj4LxD4zFTKD4yYTQrPVsmJoBGawsxi4OSL2BeXQS
            6xQrYz6ZzeFe1i6mD7nqTmL1MPIm+QK8DNOs4nrDseMofRdYaB2BT1SzoNPb
            /cAK86xfGGC8CIkWc54HwupoPrCv8tLu6QPT3SgP8qfeWFdOxeDHn/ZBSGW3
            /mllaHvwpgsPlntecQE0kTMXpNlZuSDtoSRsOUEDfZjfeXi2uFSpmrVASYav
            LY9rEVqxHBMLjwI0MtVhrrNeBP2E6SOjWDWuyfWToeGl1RHomxVu7Lzyup6c
            s9Vi3+m3xjbef/J5kq8XP3Bl9UQ6Bfn5449EP2BIpABW/Y77F/z2z/PJcjLQ
            dm9Cm+WcfuLBl/In8Yop0G/qsJNyTdApU74t5Kfvb/lPgR/TOcs5nuv8Zvxj
            FKm73yv9V5IPNZa2PIz/Jlatj+C+dcG6nAg/cX9hW01UVrLwnu5/XA9mMWLN
            NCbPk02Ye5up81V/Iygv/ksdLaNBpXMPr9ee4b3bhsnOKJ3d64QJwgvrlcvG
            MtflmZvi0ofJD4AS1vVWrhmQBNVmqpDfWEvx9p1pyamvo66He1JuhMq92ep9
            HyPQzvsG5Q+uP0tfKM4EMsHtizGedLggP/ts5oi3OQOstVGIB07+x2F1CiL1
            bgBJVsz7NZ78M5456Af7ezzhjAf4xMaT/0fjKczWRXs4CQfLsqRuuqEbO5kf
            OwePt00GPjW2q9VZu3Hylzec01BUfywm8+qzZAPH2KpqcrEudKC6ggZiKZ8a
            zXzKnWo1V0WraY09OR0uLM9OP+ctG/B78gDQp4E4mro31eAD3uN9ag04px38
            jdrHP9q3P9rH0556s4xtXAzvi0kFPgE+y9/7qmuPYP445q5ahd3qKuub9qJO
            Z9o3EV6Y2w7rCCq6sVbaBcn7LzwIGBPum6yR7SZhUwmDyg/+U65D2nGJbYXD
            Tq1AZ7jMak0ZLqOd++Iyf3BZma/UqSxDIX9g+mSkA2vv3+49Jxh73acN4fHs
            v8+9WiVjfGDUq/YU5XLs0bJ/YFX5O1mzOHfhDuX2Ua6gLh88b3iEOQHpb1MV
            96v9Efq5xhljZk2qaemfx2LpE9w6baxmoLKcR/S5nnl94TDT9arW0okQH9vu
            /1t8zfwKvVyfUM/swCn94Gur4/ff4muvCoQh05j3r3E3FY8f3P184e7w93i7
            JcuHUoHvvnE3azLpOvDLxdEY77J5ps/k4U3OeVgHd9cf3B2+8HWlEvm0vXg2
            PmY/IfiHd0VTu5OHIxu/nPnpTNt76+zFe13m5apqoJ25r5lnowkGqTlvZlD0
            lqfe7oewiNHEWziLRaak9oZVkievxTRt81wHB9Du2LLZgt0dh87LoT/L8s0w
            59yFd/ET2daoska2ig0eHDDfxQyaty3fx4piVKrRh4JRgZ/30O593kEnvekl
            TxYa3m0Pm7fAZ5+hDfMXvEq76R3z7rIGp+yJ+VMX2xH3bKBQjk24J5g/JmvL
            UJ0616Y8INvEv8LTF99ffM34eMrqFv1IOXFEKscDdX70LjcaQ0/CwSOv9chn
            QsnmzMaI0KvnPXVf8ldevCI5lrE9RF1KUUE7RoFcfd6jvCfFokUb49TKWMq1
            dmhSUU79wBrPknlIP/A3KJ+xLpVc+mKQHgnzNFh7jzJdocUrgp/Ft3ZWrosm
            j8Woxaa+v5y86cOfa+BDNRDaK3T9nKugdDQIouaD+jXKgA+jbaPkfd1Xn4A4
            f67RL4t2W6UQNTvxOv3qGtpFlROnK2yQ7VfmCb6X1dExR1xRQKkK/3U6Bz/U
            dJ92zB1w27JNtP4oHzwsi4f3M+6OYq5qFPrzWzKOY2IGZfMOlgtDBUUDVYQ6
            93a/0iIXXsswHPSNUd94rmFhhsjRoFvyMD8WinEJCCUusANY3/BaoeUmJHhl
            vkC+9MidgT5MR44MlNOZBe3q+/7xz8qY3lc+UO6203eePE9Jcf6/dMiL+R3M
            V7PQ7kTZ/ehiT/x8o5/XbQP89bdtTEZnfWDz0fm+b30rdlK11k8cjN5bg+mU
            CYuvVamVzK/4fNKIRdurV6z0lHXrDcquRh6tqWbY5jUm/n6Us8P64fOUkaey
            lgfxO8r/UH78OspeygIXA3Z8py7g2IOkfqBxAOt3zk/Ot3Tsu0R+j+LmCS/n
            WvSmI2FdHRa4Ps9/6030HPo2+L/X0J71AY4tKtX8eVbnBoe01ODYfDo5WXRe
            i7NzoDmdA5dFZV+zjAbiednXueZblL+Xk01M+aWa6V7CK52Dl84BY2JeDcq2
            4TXfZLvOkq8u2D3qa77vSRs373N/3GMWvnSfozL6554nku5KzKsxyc4Yg3zh
            mD36+kPFHsOpd3v6kdztnBJYvZZvmhbzeseA+/mlh7ALbYvP/9VWsPY8t8aS
            PQN2YPy1nf4/7g++pd+K6PYPrZBM8E76o4furz8yUwAwZoN2OeIvhkp67XOC
            Br094tXln5xpsqO645cn73pVMQyyBMh/QDkRyIMAjqd8pUAjZfemcdThfu2U
            x/w7mWeHdXxpN2HM+q/f4/xef/ye5/f+4/c6v98/fm/7DZ7o9+/3/Ha/f4fH
            fstYY/Ja+3ftWC/s1293fhf5v8rHRby1MrK5PZlTmYXDWCucnpLuU4PAqkK8
            zP1XtOYgjO3GPagMWbTcpiA2O8U4M9MwjpRKyIl2zjoLM1fQSiDa3RlVyl6T
            KimQixMv4Vp3J++Szpny11gBOwcgSKc/zvlQbgONMJ3+7Fz3d6FPXRjmNZnf
            pmfbebcP1lc8fTFbzzFd6LylftM12vl7zs9Y57DzVa2//pxvcnbdn3a72Xk4
            /b7nfjj9vvf+ab+sRl1QXi4MvbZ3XTsLOf4MKfzbFqocX45BJ6bDeSlJ3ZgA
            mog2EwNhzfsrDMqdp/NMft5yThBxKOdI2lT0JcgMzKcR98taEuBUE3PzJ9nG
            mCRBHIi3fvZisTbLh6Bzxt4xWw2lJ5b8pu9dNCOE7CbkRtuPfQ27EMu6izet
            znjn728b5Xybs2+bnaVr8V3L3gcZ2r7rjAeodwn3003k330X9qy+7XwTc4fu
            GPWN1Aef8SV6ZLHfqu/8mT+uy32PpwmF4Z6tMGaci0VeLlne3jOuTDux8vDb
            OeSp6ocvpP2Qe92QXMvccPXYDsGBMCOe7E7kA4BnVdkgXN5lHD/iQf5uxCiD
            sFusyd6vXVP5sq29bLghZOXQHseGy7XkOVivcGyV9OWiZ0e4NYZf5feSfVI6
            b9qmZlAORrTJPf20ZY65ftqWWU7bZPkaR8otrciY9KD8uKrBGIP8A8DkgZN3
            ijWhbe3aY0m/jr0Nc9Pl1z136fTpZoKm41NUivkUzUalApeqyOeQ/sMl/uRw
            or8tVQ1cAwdAwKJ31cQMzA1utU5ls3byGVWW9OaIm0FuGY78uB9b73NYFtbW
            xN4E871i/5XjRnH9gbkuVPuF+eGo3qVPYnXKP5myxjI966sXyyWs6srD0WyV
            aVUkTvas/sV7ymyTWXPU8sKUT+44+lqybUoDE/LlxxVWS3e/xnfWhPXOoHdN
            cmnivJktFazDqcfHfhW7bTWGn9tGWqKvNvw27c9htELfMuwdnrmY3LmW6ZcA
            WGRt0+MDfWnMVokxwQV16/KBZZ0C2gWUf7syIytR5kqcE+CLTB0ghJkln/56
            8qafnEAq+8t8E+s5NUMT9UysKQCKrBxDrAf5hG+9jDe9TAjm66lk15XzRaVb
            LMzBSKCX+YwJRJT34mHdTc35OwaIIaSJHvatiwUZ2nBjB6u5WMxF8yRLLGnp
            kLensmErfljxXF75t1kEmLYy6SkdmChGsl56TL0ZY9qYo0jPKv87hT/5kdDT
            cDJ3ENqpJowjP1Jo1VYNis5YB/m3Nxv78sypve1+INEdEEns3lw4dwZL0xks
            iKUKKwFWPIURjlNxkqyf8cd4mO+FuZfK8eUJmMNbz4Gy7k9MD+Tgbt/PenI/
            NlzZn11yNH6OtaLxjFFBPSKw8oN8lh3BtFbLl2p516+f5JhJPCitBwyIfJ7f
            eRs5F458vvklMo+RUw7uXFS/1mE/US9Jn3OaUjP++F3CMfQlvb879e+/9h7p
            sK1dAk/rZZ+e8sF3OO6P76XpD8upcfcqJm/TXvtVr28r7+VX3B/vcX95Vqgq
            loP2OTU87txkc8X8zBFzM4nHmM8Hd4jXwMalb9DLBb10eFLdYbXKpB9lFkW8
            L7H2IeuxMje8s9hIyk2DrD6Lh9IDIgtvfdopN1C2uDruAd5P/fd9pcI55+8n
            Tkc+drKNUn/IvEH0aznyguYA8ixj4dSX66oh6uRfzbqp8stmvJ2/ucdBAx2w
            xh7yGS9WT0i1aIllirX9S5v+KIcT0+PqGJrq6/bzDuUOm6eOQleOSoK6cjyz
            AoTskayvemxFZKIr/eQsRkQxofyOznxw4dSZa8fOS1wAbKf5TTZ3QCDm0zch
            loPDZV0v208A/x3zrbnE9wbGg+Rcbh1T7F7xVZ6ZyKy2qsYB2IU0tldkKMFj
            dQGoH1yMu6H+mC5WrLdDHTJj8+jlavrPdtcB8PHeeqM8Z04ujo3Zn7vqv+ZJ
            HE9Nk3RrBIpx6pE26eL03kk/9qpYNuVJGdJBbOI/9XNrUABnML6KJYSYf4I+
            zRbDOZX4FDBfGhBVBW7P2fzCIfFLM2m1WVnuU/lBmMWxKqObz0X69Gw2CvWl
            uGD6oJ88+HQu9wf+6Cddu9UmoB7g1uZyp/ZcO3m0CQv0PWBOO/5+H6uHyjUQ
            T3HqbhH+q/kHursGJUFuYw4RJr9KVb6ILLJ267txrse0PaDaMPSLZN3e1t97
            P7V3g6UulI4WEyrF33jw5LPPtIWTMeIYslus94oXFtX/bYE5qk7elZNP4s7J
            yGdOjv1bPl3gU8X3oA9I9EOwz9jh8iqcznKgYv+16D2z2FLHygoJr47++Keb
            n7rfrNFgNebVHzhns3kwnum5a7E25urUiVDMCOYtLeDQ+n5qv9Gd5e5V8EWW
            9tzyyzjWeDr1NbVvyX9Fy99dLtwxt/F9fp3nO4OKNFe0hogyddHRYXmQxc8M
            jW+79IO70nzbp8awMx+jr5hi6vBoYZgX79MX7tlKAXMMT69ZUr33kzVyT/3z
            KF0eBKb5Oy7/s36PeHPVAYhSnN3aBo9iLXsslsuqK48l00Fqn5G86Bo1U+ea
            9IXdcmiSdsr2Sj+6ZDmGVFMu3fe+zHrbeyMaqCRVL22QzNilOtFZdaLB0dI2
            hlGxUGKwXCv14IF48MDd917wCbkJR9WbZnWCh5EElfXXmQNStbkkr7dc+33u
            0Ffmce9kjFWflSKtV0xrgRgXmCtAqa6yeGHpnJzVHKELPiGnC66fn73vrT4p
            43FEr1RcQTYqyXNuWs5AzPBHHqb9TOELoH3dMWUkUzBYDoA7d3znTr/PmUWH
            OG+dOBrF1eI1E8ISdjr1tZSrzG8o01uvjou/+6FFt7YIbVKsSsrz3Wl1Up6O
            dXKS6Ttlxk9WJ4Lve6d5Yt0+EhNMn3W/9XDJ36o2h7e6w74BRt+T548xEdl+
            K6845UdbK8d9y3DnJ52YpUMPk3K+2jOexIThusoPbxoY4w/syMFaXTPzUcVL
            hnghiGE84g3mtxCtPbWAVp/uHJMd68Gt8eQnbJTwWZMtK/knA9qcdI5V+cZW
            +oJ5UpNcSlD68lfl2W893Ae8HnOXvaA74ZOjmvzmhMzCOAaWq/H/Yg+fHEvf
            +5h+rHcfa08SH5azj/Fb9IYJ9IvFZBQa/RVAbfmKjMZ72VrfKZv4ePynhoNy
            Q1XgXmvnTM8AgFsHFvge+fFHowPydQmveILVdl6B9QdYjPevOOiJn7HLF1b9
            HbvfjQm96zYOLxviFy/LVDZ9tDcK98UeP7ys5fBfP75imfH83D1cM9VOtteV
            xnz453c2W7XcCHik7unILTof5zqzpfFYnB0B+6z3AzrX5fly6jtf/Ofpw5NM
            pifE32eJBwEpjAZmwpckvpQnnZ6DyoENfn8lD2KGmUpKpM7f4D5AGKL1afiI
            kULW7zn355w1UsEe2Pg90zaH+21qV0+74zvl6IXymF0nM1b0wL9Lislh4Afw
            Cp0JlMf4k1cugtwLFsYP/PH37dve6T61kQbo5J27Tn+7ZHlp9v3ddP2MW9eD
            5uprbBfeILayIpGLYHqoac3KuWb541iNVriKMkphvPxWkBzhmnnSqKYNj+Uw
            Nrv4ga9ZpWukrEX/xJd1S3gedgnK3UUPrB/ZSfA2f8ObaiKmn/yAtKl900XJ
            8CSBrFfHwI5ltj5lKq1Z9n3BYvwDFuOBxXhgMR5YjD+w6EHDCQOnXvHnHjOY
            W3viLoNFQqXdp4+9/DCpVJZRRvdBue4zyjn/LDqQZzDVKUCeufgfGKIdvqAy
            Cfv9bd9xxkkYqAYDWKNOOhggKW2Wh7++cvk8QxgAh2zfy9xDpPFfMMDaKaQ1
            ppfYXNM7N8xlYX0E5eC+vk3S/bHeDvOoeqPd4B+YetCbH3cWjrv5B3EPiNp0
            NnwP8B5wP7N300l+CjIt9xzELHBiiq+fBlN6f1DGBPMHCe3CFjOPZ8EUc5Zu
            0t+vmI4/8Fbis57BjZAhHWClqzBsstzGkddAqc432B51zFv3E+dYS26laZ66
            1Qqz4L9idsVcbH8G5jJhVuezH07N2VsLHgSvyB/K/KPQwQ/+/lVT5dTCY+6x
            Kt7UdLfcg+B92s21JDdYx9y6lnfI5Xu9tKszBMFX/mHGZAJnbOpcLL735B+g
            pMHY/Mes2NfOrd8MTzw1mT7t9xJnAFzAGnPysKGO0Nt7Lf9/Uk4L+uhTph0s
            MX1jxX/qARr/sB/jF0az44x2ZAV6XR+Hn6iHfk3xb+RE++1rMIMy5mnOn/q1
            +LCJtZjV6swZzwaeKg2T+2g5pd/fY7JJUL4G8shn3SxW+KfWbPHSXW7mIAnA
            V+/8DW9m2vKO88KsIdrTFknMRC4WHxeVK6wxqXWXenKBnsSg+4y3C4y1LPXg
            EFqCmnSE1WIPgBCn5asW/pRv3Scv7smJS52cas/RNskcs1kyI4tPy6+M/DsZ
            VNUDxJDtOH7yeRPfsVTaHKTr/eYGZ7AJ86yEo6/gO2KwOle3XT3twFGYcyDh
            YpkexGqaMpaPYYxOTmgMCSSXzTrPdCdSHhclUVl/7TMZH0bcQp+MGez6OrW3
            pAPooPms9c5Edi3P7iy/7hqWZ/DGAs9z/hAxd4sxLFW5oJtjpVRnvmeO9q0X
            IvE5p6rHXR16Na3X59t4vocLB0+SJ3WMIfvKE7w+ddcUV5+4NuQ3qGf+r8b9
            MBsDVrQF8Re7mT6TKZK+efNn2zlIvx3jOaZzzOfYz3HakTnqnIwcJ/6QPmk0
            0VR+z5CPdmb9S9bfK9p7TXWKy098CNee9f+AqgNJAH9TThbO5ISlH5xwedab
            v+TyrvvUuN6nNnZ6WKcQH0m9OIX1R/F7RN0mR1J9ElXvvR0b1WyghykOHcsc
            k1l5weqqnte3PsdyQRqOY5Zw2vsVX1WWY3/RZBHTe5h2zTFS8xNrFVQvslET
            pONkrjPDw+H4PD4nCocyz2COB/ITD0MiIku8espExNp0FCPeLqDJv2Sg/CMD
            NbMAk04yayHgjn4m+P0w58wfuYwAkazdyVxI4TE/ELbVPDGma67K30G6QlpP
            +WGlD+kgwVEwcE75GDEdpSTxcY9yfD8/efVwbey/XUf6OBKh62Y0/oH4LNdz
            Pdt1FylB0VeGdYQkjkh/iwWBoM3YzfjxU4mpKocWaR/nSc7j3eSSv+VDAGjk
            f7nIjDWirZs8l/Q4tMNKtjBaTHlRhFtZAtbJkWO8umMKd7N5fPh68TDFZPpD
            Z3tWjbIfXvvSEmoy+E27D9l6SvvHP+eOXXXhKPswDyZ5kccrqwGD4U+eKFp4
            8iN5xmL70a5E+X5W+q+DRxmNsg3tCpePsTavMgLcdkwvzLoejOG+PA7bmZ20
            MkdgAbGbXHzIuOnmrlGbaG1Yj0x+uvSd74MFl9JpyxWy9772m+3JS4t/giis
            JHzr9FtPv9X6layutbBcVCCQNr/VnifEza95cGce3PMzdkhN8/lqU0+b+jVX
            YDfa/DVXP2OuZ8yVfa0xpR8E3fc9jlIN/swG5jPjpGjz4p6kn7d0w5YDXHFV
            Soh/+HLwaMNXy+nzmo1yb7llAA4y7fRR3jLiYfbBj6r1Ncw+SRvZsHf1Jj8L
            Fuuj+q1nvI15MQlbmMNOu0L+GgeY2/6Ln6Eud4wPD3X1BG2aVZJxjgnj2d86
            gVNP8GGiw2n1/SYThncSP2rLZBuorP0QGvjRrcTSzdMf8OEYq9XFhvzj5ZOn
            eHLqVeT/olhJ0j5sL8XDYS+wGvhoP8+IdwA+s9xTR+/LIA7mUopMf/JHXlWO
            MyuOr1w9kOIzsLLMlXv1N4PJ9bhhw8IexPVwzlWPsNZmOcYCvyGyAoVTfe/K
            W/1+V2Juhdr2Pf/yCzM/svx82yRZMxdzPGv/XW9BpUuL5fFUnR/OSbO6GdNy
            CrvPvDFQJVnueuYSoI5CNYzaslh5Wsy9dFGQKMnXeuXIlT0JVA/wxz4GXY3F
            I9ZTl4CRX4t4Cu+ryodbmBMnsyLiyQ+ovI/x1FekXlLxGBY7RrWvzrf53LN+
            R725fKNy6utblQMyHe+0wJzzVmPJdFxPUG5H5l5hfoJg36f1jxp35zMfvbRy
            qPV+7Tw336VyiHJHmywwbF+NT35C0q1AnzEfV/yx8wSyo3Rad0cX5gpt9jSU
            AX66fP8u/BatgRzVnfFvo9g4q2pCROVXZp7l+lOTgjI5c/5xD/ejp8mn3lW8
            cUT4P9oTyTyrFl044/+pzxA+9SfKqT9RdilResOlbRasHieritKmfPxcATHv
            cHLUUf5f7q3d6FVFmD+yKHPFjBzXjF91LJKtu/LMYl6iQqU0DxAoDOb70UEx
            x+qZG+V37N7292du0k+diWI6H8Xc3d/fekDs1V2D2aruPg6DOqmmfcVnFlWR
            jjGPjbmYmZY+h2NPIjyvLHkUiKTVsybmw5ZPHXPqbxV7wtRd+6GPhWpQxMYY
            rsh34No6z5An4xw+ylmStLbO1v8nF/UG3lDebE7U37Th2nEu+skFOsjPO+Ye
            waa7eo1t+BY7l6nRtDe97LkvLRbY48V/y3i1njzETbXH/nr/OfflY168PzIm
            90GfkdFxeq/i5KLtUy83paYaCPIgXbY3PmtU+5B8iTeozal74C3JBUW6of15
            xsA8s4Yb/Edukj/HlB1cunfhFebFHMZDE69wH/hCP2omgQHO8LYnN5iWb1xD
            afviGo2jHTxT/0s8Uw3H0PFWNSuCbLdN7/foq9r7ZxFufu6773PZ/JOUpoRz
            bDW/IpMu2J7aGrTwKLC4tJenjqzy16gwEqSXdPjdTXmHegcwcnMcewD21Ls/
            +iTFrXNbM28+k2iViJ3BGoig+pK2Tg1zWiCek7+H/es7xit5h1VGXPZ0qLAY
            Eoazjoxmc9u/F7RgTf0aAIv59hfg8VbVGcvK2b/wIcrDWjiukjzzsNaWjj5w
            X51/om8QRGBHE4M3fh0sGOSSlM3ngNUW6HPAGm6yV5L2Uq/NnPvp6ESZd5m1
            /HBVOmzVrBn7+dRe+frOBgr8PZYZXwDocHccqjX4f3Mc4Y9xSDvUVPOVpT8U
            lQohpDwW85ZMluhWMzw78/thvTYQaG+1YJhCKf0r2UZ1S/YmAq/3e1p4ezu5
            ktiGIRqZdJ85b2SKlb+z6KWecfL1HL/GTUUAxaC9wf8o5XwdBBn6mtWP3wqe
            2awLWO0+6ZvZIKmjPXIXg1PSrTssWYkx4cBhdz2CcqWD4Xf+3X6p5iB1pYvw
            8yXX8VvuMz6YPwBluU2fDzzjII9jw7vbxgEqibcT92cyOsHf49hrdFRtW8zD
            Pnn7L+45uQyId/aRIb9tKMRZmPs7vr/ImuCcUj/zQlmxPVs1L9cSBCgh0Pd8
            RMbVY89B4PuMfwuXnv7JO/TNsmyzgqJzLfvJ8+NIP1wYjjSWufZY0TTEZ6qy
            uN1T3ta4ZAt6GBGhOY1mq9rLohf/r8auJElyGIfd5zWWrPUoyfL/nzQESNqu
            qp6IOVV2di5OmaK4gEDTnPcKO9S8Q6+IaDfysABY4bG3nO+f34y5Srwuef82
            su7MOLJbr/skprI3bAu3E0WscV4ZVzj8MTnfuM6JSl1HOa3WnXjd1fRosGZF
            4z7Lt3WEVF6PDqYcPlgZubIr+TV0w498rxP+vvT3+ukbjnfNTWVP+2CZM9eX
            5/emOXBmf7/18YPZLPYtiqDFepChcw8DgMkuWKYYrNvMa0Pad/tp8+Xz7/Kx
            Meaw57se5J7/U39oxBvh/lbcX/Q65D0dpSft91G7FMQrkpzTvh68VKSuNuMF
            uak/fid5lX/F3HsYNwRy089nTA7Ec+gZMzjUAoZfAG4q2r0PZIS0xxpt08fu
            F5symp3xT5/T8wnlF9JzPb3nOs5yP9dxxj/n+qeGA5y4XyvXEPivNil2ujM1
            6/7s/R/r0ChSg51wDvlLPB3zYctNxGYuVtx4NgzWUKkQlqkU6M+rtlk0bTTr
            927e02k4nWo4nfp7bchNgVnkpbk++y8XdKk29KAOzFp6ni87nhqWI1mf5dDB
            ndpsgCeSZRdD4AH7Xft78njqY43n7Hm8Jr+9bOdIxcEDHJTf/zzRF9nHb9tC
            PIWyZDJuEq3+PLUCTJ8Ux4KiZI/f/+2jfm1PEqY1jvn/2knwONDrDp6jhBUe
            O0GfVg6/xvUOspzQTloXNWa3/1uuHWu/quLp/PH/OmNw/ox0qQUk4py0j1tl
            31suMy/FgWCN1ub+I9MLTiL23jfIOGP0/IZrmdUXul9Q+y5/44oEVox9fM8t
            iykefwN8Qkg2a4l9oVpZLVaNY0gBVIFv19gdfhMNJffFKHi/vkd9OexwL8PJ
            mx5wOF8bWQssmci7Pn5jyBPAiubP+1Dbs89l+Prxz7J3WSO5unIH4jNu8DKI
            UTHXRADdbgXprIsxg2nVSh6q/i0NteMt93lBR+LQ2LuJbwUqlLHJ1t4n+uCI
            V67wXt+1Lc4M5CK5wa32/DvqGlFzT/KtUHJWmsw7n2VgNO7x5dBoe9ez6Hqu
            XcxycvYezUf7DLWu31ihFVOnTILmBxmoJN1rgXWRGJWHgfT8sOd94fzrj70P
            9uT6Y+/F9uqgzlt3+4YGifuuafgY1s6Gvh7lY9bOoBmUP3GmTk1rTRC4mGw1
            +DC2xxjNn7s1xzq8luS1p/yr9lSJgaHOyEFmLns8/XW2LznKpGtXz7BYV7ju
            1U2rJHTVIyTWxj73IA9rWKzXeF8VomuXclA8vsdqYD98T/npe1pv/Y/fydfp
            18Q8U3ILyemprwscNLi1gaHIBQ2Vf6xjfc+2f+QUg5jjqrojpdOWCmBJ/9LS
            q5zW+mFPgTWgyLl5ao0RY4FaQNN7VLh/7b7Zc8/vARv7RZz2pGa5cvfHDgVJ
            +QvRzIp5rq35ye/rv4CX+9SNPLfL4kugmyk2ejsm2esL1KgD9hg2AhaAbnj+
            oj5Z1gTw7w3cDWNMkheLl1xPbWsyRsY9w8pVnQWAxsSJGGgoL6nh/sRi7nnn
            G3jfKdZ1DH/9vdFlBlgzPXUs1Ure1KTDxAHkZIB2P/QzZC3P5GfCBm//97PF
            MqraDd4P1ny/NhwNppYSiH1Id/frYO8OUUCAHz/Fm4wzV8wv3qfyO8l1Wl5A
            Tb4S94qvTdIvQwQrvBqrzH9vruOg3ROgO54zDInc89qltZNm+M8zgaZK65wP
            x2v8q2vp9mU5dQiquwMdcmpqurYbavh8P2IdEAGo1qR4I0woSqofahzytwVJ
            D4OGpocKs0DbePj3WAwd1IZVj+7AuK7YaZBf5faKOTOs8Sm2mceuSVZUTIP1
            cMeJYH4SerE1ah5KfaOk2tG87vT0IItjeQ7D+Kjc0H6wx+TsB2ZR+S5wTkMG
            pTEmYi1Jvm5j37YOTAlqvTAPEJYcOH+5p+U4ksDW8Sa4CvDdKJ4BXMSGr7HY
            0GPHR9fPdf6aEvg7didu7f9Ox/BYjEmPJY5Dh69+YVk/WCji34piovw7L8P/
            UIwtY8L5xf9A5xSSYN16txkU05hIRb0beASS+ovZgZ9ZAt51tsVZWRDeXWmC
            w4Y9kyBm2A0zj5Au1ASO80dba3BqlTzrPWotCQrAXN8xdV4yXnK+iV3hOkp4
            sA276dpsX6Nb18jXzHFOmO/G7ySQXX7nTMrPg34RcE4SYLevdmC4dXYSfUUw
            qCO+kDB7YDYaQxiQA+MMXYorkPfnpl45/O91co8uzovYXGGwGjH4DVirBwYy
            UoNncUYPO6hpbILaOx4X5UogwTmn5S7VXQL+PwP7T+6E+XwHdCz9Ozj32NkT
            BQoHBfGfGDbwYPpsB3Bue7avlp/jxIrZWLyhb5N79X2XnR+7prmoZ4ncNJB/
            a5BEuVNrQznryV0vOQvFYqk4L44QiC7shdWhgZL7SMYtflG358KMa+SAkvKT
            iSegpwAXuXxRxyjEIEiD4BzVXsDqmG2gwoa+ZWO+9+HyA/ZbTjEODwT8lvuQ
            3G6Sr0m8PevzpYzJGTc5isFlnyR03mo7YuKzQnsCXbKoz4m/wixXLYtb7ahb
            r9H4xcCrDMVVmy0q9LPRuNGJfcKOb+XhGU2J8WsH/jIYvzL3gaJ7VXd1KZou
            Q0evAyQiliprGUseh+1ZXRy5uWAK6IX71jhNMS9b3tfcaBeGPCBowPlnm42r
            D+9pFA8cXWupPTE5sAzhLKyxbeL8FMM2Hl3GgnN4UptjmA4JSXS4b1U/BPNg
            sgdHPj74vwM+FDysJ/RLFDMSlPe7U/cl6MlOXQ5OSVADA3zGwBE0oH/gd/g+
            5IIbMfIZwZ+K78/wM9BWEL+IHaG61MT8N6Jcjyr5aAKuqGMTIv+0x/paiQpg
            3xhKt5hs2b/BSxRg8+dxe70IpWLmoI312U0WnQT8I2rR4Oum/gPID+uX3xwS
            ulijUf/qJlAQ0PZNYMUDzB2qF0oOiABW61s2LnyK8khJbqY8UlV9ACf69w0N
            OgRvjVpf4Hf2/7vuEiYHJF+8amMw3g/DXZBL1zQtjAdKbdt1aJac7uRqMd0Z
            4/+e9vd0fZp/cK6XlKk2RnxIcb8MzsWq18OBxFshWMAgXZDGBkd4AqM0+aLr
            oVgupf5SPre2mP9PzFFjT/ln4HnM401gAMVeyHtMYyhXJAc/FepPSUAz71HQ
            s6AZ5sfxSPicK06EMVN1UQ9yxkHX21XI7vs//wV0V9jI 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>disabled_IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
