<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.13d3.3418</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.13d3.3418</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>13d3_3418</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>13d3_3418_v5576</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>13336</integer>
        <key>idVendor</key>
        <integer>5075</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>13d3_3418_v5576</key>
          <data>
            eNq8fdmS5DiS5PuK7L8QN7BvIEj+/yetqpqB7hGZNV2yM7LZHUV3Ok/AYLep
            /Z8jHvyX8Tee8L//1/+J/bB/4cCnOvgvx4P/v8/wXDz08X/4WO3geRyx8VpR
            H3mNcfz4Fy5c/DntxxwCDsuxxfrUUHNN2F68S12t1NIyvj/4b8e+jO+1DhxT
            cNWOBzuOVJa2oUU9QtI9eNswEh8xZrtt7fwW+JYL32byo4O993Ee7wvYQPj+
            kgKvl/do7Lep/nvz7Qq2vfz36PvTPm5pbO2oiMt0PRPG8H3qoz6Rv8eUwnOU
            9fgTzZDb0xc/6dXmiO9g5u+hrav0fNc1w/Hu75g6zsfqRykX3/2YFQfZ+/Y+
            eo5lppRTefhyaUUbWV4hPw1nzPpwvEPlzRfG7UlHxLWOWo/ER1847w5H5Ptg
            PhLHduGHO2Lf5BhiH+68oh2Xm5FAiIkPjfvcR8q46cLEXhUUhAPzxL5kF1o3
            9g1NSuJM8LhFCsJvicfdesHjfLAP56bT9+Gcc2EfXiY1EEvUiPSjff2v+v+K
            /y8u/Afkk5913EbjIoTblkg6vvbjl5r2YGNNfO+vdnzvP6+j6ed/1s/9edh1
            2vHr+NNorv16nngbMV0d37/21xiGEeKv4zUaHKef+1PvRcf/ep6wlmh+ra/3
            0oPaUii/jncGgs2v6wwRNXbZfludzzISiOH+puD1+6H9oiP3h+dthmPrNsTR
            P/t9ReiMsWz/PkP0jP81X3F2NP5bfJVyZb77+Xa+epavUPzHptUeP2U7/tjH
            N7/78v3H51qxcPK+jn1/IWV/jv/efzrb/f089X1+/yVtrtNOcZcMBtZ/E0oy
            5vxrwuKat/H3X/vnXMZbfu6f0WYj/Lp+uKK/+y+CuEL5G0H00o1JnkYCifQa
            f92spyCqiX+uHu0fv6g+3Vn7VwKbAhHUEnLsracHcgNspHKGcgtY+jVP8PQe
            x3G2G3xZbE8nP/V+OPTjwfFX0LrjkIJ91TPkBNaC7YzZJ4acJIsQ9YpPxxBj
            AvBTv9dRb4qc//R7MvHV41VFpOQakJ2QAavMererO8n92z9M24M1zftApB7/
            +M+Pi//uOM7/vzqu/MvjTh3nJJApx/7FSdd/ungWQWCVxHb+D+4b/2mfTd/z
            /M9MX/Tpi8d/PSLRpy+n/3ScT1/9j8eVf3nc+S/ve/2n9xjTSKCQreV3ar+G
            +//Dvl4lNnJI0nu6TTO/+eq09R5CXAF6AFgKSTZGsIL3E3SOfIJbnNBUT+gE
            J345C/4q/hr+sNpPyPhz4o/HQiE8oUWfN/7ApagGQYnMUJIydJ68cD70nAyF
            Ky+cD2mcIcHzwvkL5y+cv3A+dKMMHpbBUzN4Vqb2fOH8C+dfOB+EmS+cf3VM
            x5I+kY3Ni7/p272+v6UcL33r4TLZE6QSdmil0MbFjzMV2yFRBaUMrP95GmQu
            NMNztftp4HgnTjAO2qGwh0Osdobnpo6dbzuf553DSKDyh9meB1y7tfQMX1qU
            IvE8rlMXgTIa7+cSmz9y5UVixwPgpvF8bn4uD2cOakeAzjfCSjFcfeAB2wPp
            aBp3z/eWtXjJs/wgyh6aFJ1ux3SoxjM+0tkvqrzDNIIjPlQ6Lz/nklaUzTLo
            F0RJwlvdksA2vOHMfOE6QE4BAxVh2jzP8vP5DLV0W308/664Z5WeO/dgjapB
            vmyq1p1On6pHOmI37YzSEVe/ZCIdWU88S82jxxSukjhl+w2gcLbOkdEVMfj7
            isUUoC5y6aDRJ2Py8Dxz5Xfy5n6ennj8OHOT/Vcx2e16rojjz2jHYxZzDLVD
            1cX4QgDDiKj6PqqRQJOi00DnuGhYA4TwXFQTz6UTQJgPbVESSHymtvmdVCxH
            n0g85yJx/JhUHXOunE1tOf52TG2y5Wh7gYZKkR02Cie+20s0EkvF8OGoUDiM
            8QR9gRZnp7afSY4Xvhf7Hvl9QBeacQTKg87zQCu49pqPzJjA8xNf7qLKC50B
            ArGDgBunE1YSj2127FGvEGNYkYSNMZrzaekkQUVp2VS48IxX4Krr73tfUJVN
            k5TWEs+/EPxdySEyDTZM3uQKpmGffxB8+xD8kM5ETqOhA4HceA4s4gqd63th
            Yk3fbYgr8P2lbYPC6z4P9u4TipFA336IettFeOKi8qQXCeBF1zRbIdc/J5BU
            i/HJJe51EIutohbtenqR8MBA2Kvoyrk4zVMVBG+AFUsahjq4uD7pyqjGa8bJ
            ISzjfkIfATxnidE1SryaH1t9oLCba6Vr9dXv4Xs+w8dzSlpP2TzmznpLXqB9
            n5PecyIfva78VPFCkidGRlZt9nMKpQ+ET4FkKG3kgXdatApDJXMOo+QOkhmN
            L5ahxsCW6Vroye6t5wLhtbXX8aQJSMdD/vlcH1IgOYV+UbiZyUt+eXNxhAUS
            5jnTBAX0euM8A+86sawDSDpReGEZuV+gPzJmrgDCaQWMV1sKBLE5WJTuG+Gg
            hfDI91Ki3whMFvvBHuhhOHUzWBcd9NzuxqtToIR55xm1xien5JkUKHVf4/CH
            4oM2Tiq+R6xRrLGJa2OiL27T5MBowHCjOjVgYNzPtMk/+77eHxOZZGHnFvc5
            sGjOIAYM9ihiPHOSQQmOIE8JFSQSyLkGBEcNr+BoMsIW7k+iINFGI6Qz53Mz
            6uuiDrPvrzVwlw4dyO+fnXhvP+fgb1gnYDxtH9PXM6u4ENQVXnfzwoe8mkK3
            9XfszjYKlzPEcoRmAmEALQTPkMk78WbQmiCcrwM89KRgw5i1GKKRwHiqWbtQ
            THCxzexWxcSO506p9js1SpE0uQWdg5PYzakK4fdIs5fsgS4ruhmwjVnWIZYu
            NRgx13h2CBlQOMmAK+LGtMj2hqTwFVHksutTLiBIb/xmknBkGwhNzvQVoQkB
            815Bxh1tUKgki9ca83N8Kjh+gYj6VpVifNZp98AKulxVglRbm5nqvPPpWL0t
            XlwQJAzonjBt9ySd1I6kxmVT4yBX7g6hCaJJ9zN5nRg+8p/7oX1PW1wxj1Xv
            fS08xxPk3vBrPbaKX2J8jBghiLsTI5+nhK8FenKsMk12uwYXYm5azBwnrLmS
            Nq8GB7zabSQwdWdOBP2DTsVYrc9eRUMu35m24RQ4HLxkm3h4vgJUm+O+sa7I
            4MAujT8MOhdWmq61BppzdHpCZOI7vlKRbWfe60vj1BM18mBix4bgt/yM0BMg
            SHjfSF+RC4DVJD9BYJLTUOxaLu/rz0pm788KQ0BkIp+Rkwle+NTz3FvQxLP1
            knVOoOHwyNUVst8Hxyaocx1yl7fzc7DmStvnHNWeLazPOfWwc3IUKfCcCwZI
            3+fUaUIgft0H13l4zhzvs93UgPcY4E/3yfkzBlBqb47B+JDAk/K8t4UAEj2b
            +wXOexkJgL6za5BGBo1332uNFFBv887TmyOFEK/8edALmng1bXWfE84+XwkX
            qg383e0+VFpwnU4FU34tO4eG+bknKz12H0iEd7KyE8893vsksJGxz4EuIg0n
            fE0wnos+3Had732wxsy9S4H/nMbMw74P9uF9OhkqOMZjPCCVc5mZxWUc8ewW
            G2jV123ZZtpFJvycV2p4rrN2mmtXc/eaJHmqaZ0mGKD14+GWrXifg+cjyTlO
            0lpMQB7iB/lhOOf88fldJKnNXNMWVOTlWuIzP3s8bggCsCi3CNaNk/CAt6iF
            nB2D8WEut/sBr+UX+GJQs2MS8BBkOFja3RhcGnXdfWuekPwn2cw9P+cnZ7Qz
            2PkJr08lNKd3gqDMgLg4QI8YrlZg+l4ZOBcE1Nal+xbGJCChz/3iuN6UaRc/
            kwrl0DQEuweM+/vazxmnmZ+xf46H5jOkVWcRAScOLAyCIBjTwjuPILeCPRff
            TQRAotlS+pFldXA94R6PvkNC51RP7rukyTRcLGGIskgKi4LvPKh2RLrUNXEg
            sG4EBVWZW3AK/x7te7j9+2Xfc8oYbPuc/FhqWIsrOmEaDiOB66aCyxMYJDml
            YpwUSPGxk7KfoJteeQZIf6oehQoMtIA0oROf2n+cQabjdVJqnc/gFhS39J0s
            +4o4DJoBBhgSduLzHEd91ZoxdB5DoGSzCy/Z8TcD7digl57VTctFZ7JFJ0CT
            AdcZIjJohQqAYqblHxAbuTmvU5Mbsu0f2b6DYBmYogai7x0GpDjP2aSPJ9+G
            YpMBO7MZu7Vt8SjGyKCv25zX8mH6/TNNTOlIuMHNR4nL9P3OV4E+f0bdzyyV
            o/s2LHvukG3bPUpz+H2CX3+HnFa2665l28vvs7p/z3tri/pcp5PAfV3HHqzL
            Ik1r2XcohZJLNKBLbvXywcPraj/UOV3UJwh2uU0W45n6DGI5pCr6Z9tydKUO
            /qeHpPMQU/DIK+irAxxq0ACFTK4WXTgLVo9s+Z4YiYggV62fxMDkDLCcaHvg
            vnRiUOWL9pnb/k/f45IPcvDckzIVKiGu1fG3qBxhO1awLd49cgtZF3i/nmy7
            sA3iOtLpMCmnQuWwb0BM9/GnnsOQBr2YhxyPrZsYZJD6Fbf5o6X5OXjRqghn
            CVKfTxPRPexzwMCfeb/iltHeVHK5Hs8XeORK5wWilDotFqjwugAYG0xduh+g
            9MTtkdJFoDtCcPJhoc9OXE7n3XaelgV113QePy3zXG76bngefWmuZN3567wf
            Bp3OAX8/w77XqCa3sariPxiBJ2NS11rHHswajWVPriANTEzpYnQe3A0EBGuw
            j+fL0DrMKIV+zgSDCm56uc3Ca3dwkPU+DxXIRcK1a796PN6f3K/cr0HJc8dc
            n3MvP7eunv92bnjPJSfJM60V9jvlA+9EX+Xh9x0QUngv3IUzlcbFXIsrlQtX
            wf4TOtcpBVVjeo5eLUYQcBAtbep7tT4WUVbKQS8v5cVvytMAU3rLzcMQAy12
            PjpYoVkDeQTJfFeO7iRPmln7lIXFCYOfa4Q4xMP1bSzBrO2fQYIyIIcrtERT
            uiCOt4XBQXrqM7Utz/xYFvmWFp7/0aHVzNJqc7/DdMti5W7umKwoUKu6/9Yf
            8HpOwDxn+CoF12zvipu/V2kJdU2t/gwdpToBp9XHPidPBlzfcwqXI4gs7XMg
            Wpecbauvfc4tI3JzGBh7a3rOBIb6evrP9yUBlUzS3UZhgGKcg5FAWLdlvfRo
            N8BknZosBt56kxSjRxs3PWus8m4ruCzlsYANL5sw+rObsfBRu1vYTdQMxfJ5
            KTxspUwPXxfVAQ6q/Ee1/+liLqbh0pVzx/SUlH5NKI/pV7bMoRFkKsqFdXZ7
            Drl98hivlQ2tA5ZHrGCPR9+mVsFO6GDOoWBlOxvu1xsreJ77J1cr8yaH+HC1
            YRxqHP/go+QEn9R6pLjiHKWVcILzeJXdM7pryY5ftd92/JT77NLx83P8eo9n
            aki5Zv4cf4P905MN2fMqrbY4UzYSiMxjwUWqa6szRpoi9Pkd5/bvlfvuo+4X
            Lem5Ke5HtItuVwoGE/TWbimUgd5gmYiD27PuAJQGDhe/LTMBD9ncxCwQq98v
            1YqUyMuIrR4Vhv6XP13KVVl2Tj3aRV9zpRv3UXDqmQvEd2zTEXI5ezYE9MY5
            7J51fu55854Vt5VZG3lVKJXt3oSFUZtMsGvRzoFKVPjuISiOoFUkdxkWT+9i
            41elSyr+5gw13bReXPwO57yQhS/nBQHaKtc5dM1VGO3QjcitkwhncLlAgJWt
            E9Gb0HE/BT7MEZyotsEsAuvCooYVPOiT4dhhYQ+LFAbY1JSRGKzIRES8ECN1
            18c6CHwpLNVwSLnrh2v/tnULggSI4/Pw74nRWMlcyNQUeMMsBT6GQW5E7R6U
            yJfMlJHSB0x5n6sYq5yWt2OcoBZQqRw1uNw60q+wei8cpHrSn0T/AAap5mdk
            OatskBSZvH77NqNo5CgeOMoyFfCe/h7Qh0UDPZ+hy6RiPmYYdICvp48lZ9Ii
            9W6TC8dJ4T2ZRietYum9Hn+//Z6mG1ToGueQ8/wSx6C5gzPtmV/fIv0WFRei
            yJvbeV/7SQ7Ec0nbt3E+vGLZEUKJBSqfDPqRlyR61mWlcXGbayiQfx9U8Cqm
            Lyv9ahQpKl0KXh+SWbTlH9rI4Zl1isIfUwzrnOtz3hp2Xo52XvTzYBPrvNR0
            Hl/+hGV+7pCoHACyse08HeKKUQOBlv6GsTnZoNtybqdwoy7S9aweIgK5R1uN
            N0QVJ/ZODBUadwIVnfhe6DTG6p7+PFc5Zts6iCJwizLf5Lze/1HkY4jmg5zd
            j6/qu3Q/V8zN5H350hEwS9JZFK4Ru6Y3Jynplv4XmHY32TXM9zfEnVx0KtrH
            MDcjJeM56YcBY3E/Di69QNwkBOoNp3PH+rmOZ7qBE5zynEya7uBQ00mgKNqk
            FwGHoG3sVKVURrLK/VBOUaSi5FREprhg9e8HeBh+IRUfds7LJRpDs/4wdCKJ
            TTFudemBMOAnt8q6e7Vn0AsTQPzaybXn532emOLZikJTWJE8/1xbR2ngZ5az
            S47AJ3Nz9txKpc5rOI9hIMh4slBqgEZkDRrWee7VeV9gy1y5t58fQGG6Bj2M
            dq1ycmyqrtfp5sUa5me9r12zggO9XKpfWLUcnWrXlK6EdY31KJ0lnB6mYp4A
            XonPV0EA3La0RXRrY51rPyc9UxTRyZ8zKBng0rjn4R5Gjnmku1nqYKmhUobY
            QFwev8Iqply5loWSg08IlLh5bgIp61EuzL18UIpPME3Bci4Syrj3KmlQtMAW
            /UHXYUpTwOt9K02aDLDCYhG3iy4tsBNq01xV0ECMZ4h2ozJLGD7LS/8782Xm
            P7Y/P9/2WQ5CiHNaSJEWIeOqydJBoRpoweHxph7nUqpAUjYI3QyHIjmnfLik
            fyzcB4+c6f4oUKllaecz0sdWsqJrEMHV7E59p7NOkpTSUJFJSTPcI/D3xiwo
            SJOwYK+mfPg5zIIK/jl8PvO4EP/xuK5jox9LyYlP+3cIMz+v2XUCbvjYb9ie
            P675+XwzL/TXffSef3s+fq5nbdwqvNnCBXsm4zkgzmFM4PMYei5qaXRn5XTn
            80rM/aHF7s9uuUoD6gqvB5OBVRHTotxxUIq4V5knTakvdFb2G4vNvtfuWxHA
            fWshwGa2Y6n2c6EFScCzgOt0ufUhzvkZ6s5YvYq2Bzkv80LyuC0dyDKwzmUi
            /xyekXVY+BN6krkt1pKzsUtJpLydcoFMSl+qCMMSoqqnMoML6HisgKZ1cmd3
            F9p9dx569+fYeea92/e+bLvz0oefV26zGbGq7HoMNSpxwbbjsG3z/Vzc7qa0
            79Pu0/z4nm0LG7FYfr193/n0w5+vxlAt49jH7UqS9JjL8p1vn4ZZ/c2fv16e
            LNFtvKBYRNMsYM1acCNOpcDQ49o9+8IH96aU2UaZ7D/LUGmmNEuUMNcQdAUj
            4YZSgkPI0ECvF92fIZZB5nmWEblazxKYrZkhWZaM9jBKlO5XU8wptlgmWNaE
            uRBAGcp9BHdg8QVshj5ivO5ypeZO0bxM/33cQ31QpzPJJl/UZ6vn7RQ6E7wB
            18ZnJSneYEED4on+q+kZIFNqTsUWFr1CG0y+SLelKyr6o234Tnb6LIDP/WVc
            QIKHbAuF5TrzVOAVZBTuwDqd25yvrzP20JbXlpMWykpa3C4dF3g+hMdNacfP
            iT4q6s5fi7AHmPaDSYKQx4t6deb5Xa4gWGF6duUduDUbT4rg+31w+X+cYjpd
            G+bfgW6K4+qXkk/rrdh3SJxaOOnmUT7+6XpprGQpSWeBVOdEYOq5XnKCYgJK
            gd5/6sGL9PAlYyJo0DFBkL2TTnvpI5wUsDcM6CUHJP0yUd7g1SjcAp0uECh4
            8YSJJX2cJc5I/zImOGIy5bwGYazE9Flssb/WK0UYMKtj34XPuDy0tJmOC1eI
            CsndJBC65HC90LHFcwWcQ9Eo5jhzjI3EYp8LBj0yPpwfxtLufNuznjK47ybR
            WvF52WfcFLqLfW78XO3zdTIYaJ9hTGHW7TNTRc7rZjQcU/Bc57TPDQ97Nvs8
            obdClrcBK/tM+BxuqERGAgxQ6OFg/a1520VheIDK7ha62DkXN0TfVUKTVYu5
            yjBR6bqnDGxXp74EW+C5sMpkrbayA3sFqyjYKuJkMgDJ9AbKE3rNTlmTTAm8
            LohTrT4mWTGLQia4nocZLMk+J6Ut6noebDWCS9/iiFSeTRSREEuWU4exH4sR
            jSj1KYDfW86fcwwGk2Ie3c8Dq7hcx5ybeJkyRCNoMgoAbZnGGnXLBP0HVtfg
            M6k2rMLyre69p/7IrMicQd7KAko1kcFEaHI5ib00P77r+BTJDey9LnGUrHSs
            g57YBX7aVt7eBQbNaRC2xqBst/2TgXw5geNHX8I16UHAgPRWLwtuQFslH6Ks
            1ktTMWQert9wcCKqsu3FkiITbPDMZZ4t3Sc5kd0Q2myj8wqTTKcolfWGl4fk
            0wSlCXPwhq2VldOLxY5VwSTk0KT0i03VpmuNQDs1wLgMcXOoEBtME7xBumFV
            nlIGYcnmtJgfju1jlX+1PCRSDAOLJytXOBYDOFQKfg4GD0SaqJSV8XW/eCn6
            PioMq/yM86xD3I42C+6HY2o6cQyUA6hulQrwndopJ/B1HXtc6snctciIAf7b
            uxM3x2ox44tCHGN3bQNvNk4Q2XVhmPVs3d5LC6aKm4V7sIjr6zcVGuI9nmiB
            eUas+XI6bzC8kfG30uOup0BCatED0XrfwlB4MhK4l/mDu4pppUpRXhrFcUBg
            4JwZWtCtwgULUejBmQ48S5Flmq+AAVl6YRJ0lmNxPanNV2zguvgepeWHaEWy
            0KmTPWQ4wxeBjZZitQmS0wMciKuL2fQXiIYT4WH+42TyMxVPTCCJio6GdFR7
            nwRpfzB+VUgLuF+4RYzJJup4JNND6k2JK2H77nh2/3qnQs5kYg8TWPbnm5/D
            FyE99pwct3gpR+N4ifdssfHPPP2rJqU0isjKZFyqnHw2jwl+ONpY8u0NV/AU
            jSRHcw51uIIcugWgN8e7XMHGRi6OcZ8sdyHTsBo/jLWRwCPvqe2sthW7Y8QK
            nIBZsOt8WLvbFJYKGpDPIJIgQBzjljvgTr+sA0aLxZLBelZQvcbabFqR8SyH
            oRyBELoXH3L6yy5z+9IRaC9Ja+PJpG4YYRaJxmexXl77DJj8m+QA/ZhZNpt9
            4mXB9yaWS8FKgJkHJtAtmFmZ2W4Zr4GEGxknq4GGFdPiSdwnf6diOJh8xWyY
            AY4FGdJxw3EzpfRicEmRfLkf8BosAZkna/4ajQFOSaJ7rMG0LCMc+5p0xTBv
            Qfsx/++4FpZXfoiEmTHK+i+X8ifPjvvCJq+zDymqeA8Q0HCnst6JnDgxCgFO
            fE4FPCczEMchF8nw7PfE4DsVr8TyBFjkaUYYLGe5qMhIGYtSBtN+CK2IbKtA
            Bfq4WFQQDfpgV3Zspkc2Xz4Ah3uPIxOppDRXireXjeIFIfcuKX+4dmKpASel
            ULmK0sp7f8b3yrj6uyLMBMtGPIy2mGkYg3uTLY/EiREybTDTnARDsyiAMLFP
            RMjfmKpAYvyxCCZEGn1i1Bw5+RgjsG0TX5wQ505lPOf+PIJG9sdiODAmMK7D
            Ol8/H+u0pucWhb7303+Fa5j/xKyfyCzdIqvHaub9vTOjBu61p441K4n0S3fA
            7cYEwUvUNLoTyK3MYpuF6mDHNJ1pU84BPVnUcykuNPVCoKRSPp+Zg7s/1/Uo
            KNlOre477MELUoiCBvAU69ZKDDe0ZgaJU2GuNpQ2iw9Ryat0SEL23ZDBg4Xa
            E/akZ3BRtu1jdyQ5xFsvRDmoXGRs8T3A7MUjmGx9n5+py5VjGJnWAGUP1ny3
            siSmDF5RE6bBhsxonncjdhrMg5Zi+aIkOjoYDyclDZaezXxin3nOyANggKyz
            TsmwBqVmZKyhrgyxLPahlbO+lZ3CzOLQpJBBjotnJ8/gerLN+Obxw7evFosp
            UCFhM68ltdou1ur26WVJ9mlTBtZKZWwHyl5JSt8uAYoOy+OZx638d6zyE5R4
            MjrN2D7zuKuKogKth1BMo2cMQ/YzxQADlUziefw4Fkxkxszuw5hVBtMqGADl
            n4LZ+D2yacxMl8E+sPjsoB6Xwg/XJduX/KtET2yiHsJzaSTH+J6T4w1CCR7D
            Sm3o82n2Nu1q5u6QjEiYk/mgrohijKBAupIG44+VJLr3qRhQg/LBxPHnJkWx
            wgPLKoSqpMyjMHchqLwbd8RK8JfQAEUMxlIaCCYRJhXTCiUbTIGyQCKovNvD
            3XhZX4FKC/jBSuiqvT5mDin2yVY4EJkNLoXB2AVWyik0Ai8s4Mf2qAzn+eH8
            Yc6SPMx2vh2Fk3956LIZDyldvhKoVR2ujdkWz5zEwwJXRr8t7q4qB8/1oxSw
            JPtT1SDyd9K5pBA57cUBYaZ0MpMj0ulHkADBLE6WSRZFJy+aFPW+46taD1E0
            9N4hvyg1NmhbsLzoKDE1OibFoRgsH29SalBsYlBDm+25YwSfvCJDcGSNE8KA
            4fPpIeMwXNhiTWMK8GZUSs4igZ3xO8yIjpUPQXiBRePZRjzTJZiZHqY0Twhm
            XKfi+eLn+Q5/Pqbcwfw4ukdM21ZaGKa+TKPunuSqLSjdvxsH8m2ULe3OHL7j
            v7in6o2TvSeruSSXotvsuI2RACt+LUBiBxe/gb/8YHHtcWFE7hCiDXLw4znI
            MFGvOplqRQmqOGxvlyYiceAYCCCgTqXDcdkLjs407sh9enHf8l6MqmQRIb7X
            XZqDa1TPDLZ6poGF0Q7f1/dvv7/jSVaYVlNZPUvYt8f/1Pdy+Pdkz+pbfY/X
            bft5XPHj4q/v4df34+f38vz8HqCi0fUpfsJE8hM0MOlHv67i45huP3faMxVj
            obSXsb1ti+Oma46FHjgLDOAg8xr1vPyk5hfx4MDEUqfeJNdiuFwFpzeorPqQ
            P2bugxJ427ERtPPE0CeN9qOp0AKfsT+/1wFxggnQcqITdSmfmJ87cyyOux52
            3aPbtSPTv+sXMYH/Xdu9eTC6iueJfycqZYI7UQVPJ+cqpIc6bfbt+9P69f38
            9d0DLSaX6h5DKDn+vf/63n6d7wR7+NgnTHIFx6+eKLy133uZ3XctD6TssjHP
            hs6uHXdGp/sHIKi6Xbk59tm7JxL5ddZt4QTYsQpcexRDJzf/vtF3dhRm+cV3
            1GWj/+yozEYP2tGXncK9ozM7+znuaM2xt3Zc8uvsaMwbddlRmvwzCrOjUqHv
            qNCOFvnWf4/7eT1Kc3pWdu42GKcP5tpZ2/ln9vbv1PM3m3tnd/vvIkrnAsNX
            v28dWmBA+JDN1xldVFKJskI47OEdqgIeSzYhk9RT7a9YhAa3E3q6lKcBfUNc
            1ooVlbQjRTRSNGxP23WYp00iQurVGHSSNOcCbQllTKxbhRTtsZfQgUOFfDDY
            7IX2RU1fYI4h5wfrAPonVEH7Pbp7D9tJaLfvl0720rC1etv6RnDPE6sqiXNA
            H1Iwg7yZfCOcxKCTAqoSqzTHztiq9FJBX2FWE2uUZ3OcOLo/p/ta3bWpz1Ue
            LdwR5BXdZDLR0hnBKXR7FhW+N6k41cUjo051nGLTtD3opx0QoWmYEkg9ptQg
            1yhzR11cCceDPnCmpDgXbb3GLasT49E9gSsGeh0itB4on0zWYBCF449nfsSm
            R4daRd1K4EnYL50feldkfH3qN/ATEB33Mxmm8NlIIKzhhsk+6wArXnJTyb0Z
            XRdQWtIVMzXeRLAa1g/jrSMRTXI6GTKkVx9SP2cXE+6o526w1s7c7ZN1DWHs
            NHOMYA13AROvTcocB+QQsElTthTrAMupwRK0yreDACz1FFvtbcLOW5vFaqWY
            2WPOLidGFt2QYFSIQ9ckvweJEZp6UPzNp+rbnpyQ5cvhKsLEp2jnSodwERBd
            pmqL947PR3OnkQ5ptiiWqFzyOXdZGwmBiSNUxl5F1XUnDPCKbesNUkqlcONa
            UyL1q8aEdSdHMFGF++gdRGRTZk/alVJE7AJRBVwP1hVXTJThaPmVpgweaS+I
            beZGs43rnQYzo/hSmx3vYPZmm9WLZHaFz5XNtxn9e2CeP+PSHAszVWSuDAJU
            KbPKrrtl2pZ13Yt0TmevGBuV1+7g/AbDO/P+3S0iB5l7ZaHLvC0Tt6wM3SqN
            mjnN0ySsYFM800yXypgoowyEfIgw9EH8coIXpoMr9NPnLg7HAdEc4lL/lfXD
            REWnSnqq5eWYXIaa9aEEiq/9194PjbsnC8FxP2Z6bsQSro7VMMuRTktlFg15
            ZHBcidV8hpaF27+PtwpTrZI6O6wv4abhmcOluuGwz012DqP6PO8pzz3vTt18
            eHEFDq1kkzJ9wF4Tj2deHlbttT8HIiwIEw7P0cmOcT5RT/BuFeen0wrmFSQg
            KEd6bmarrMAQCXW765hbxtHkxLNchVX94AzrOf1dOr2DWCygYHueCG71+17x
            /nmv2fFOTFHjMQxLhk0CpwzInpVcbAMuX2Vq5VAgutGJOSQTs03UEb6OZyC6
            KZaoG+Cedi6X6vQBjkpJ1gsRwIjHdfC4cL1yLcidPw7l6QfKq5HruKymUGyi
            OnwL7heaFcxpG7vl90M2d2rVluHrzzlg87MY+ErpkYdFbjTdH+y2M0WdrPMW
            LtCYleYTNV6cVBsGslmmBN2bPyIZ5vTvYOnbacEktG9tFaq/lXt73HVzBsFa
            igPYFiq3chpZgjaTrll25gf2zbFlLwhC7K/LcSSIQY4dHpWKDP0Ns6gsj+MI
            nQNjMUhweMJxejSIZE6amWCtke9pJLAIssqdUEy0XdFsTIhQpnuL39rnevze
            Kr4aLRFSWB+SgXiwZoBSP9NLlG9oeYJf+yk7wAJTf3bC3f5cj6/tMq6jZEcG
            Jf+fB8fDdgyWH8QS6rt6ljtchnbXWnv6yEFoL2/K97e8hZLIoj/TbpMrjWbT
            /3cmEEzuKq1ZzeKOntCDphV9PieVRksgsFAn94OozxaNi+9jO7gHq6kxiDO4
            Q71qPB0pIDEGd+jFlM1TLx9sEgH0QpI3v5f03xh01qiUC3qhC95o3priE1yF
            jAouDQH/gAks1QvQVIDi1LU/3PR+Bilg3EIl03E8JpJrycalouAhMzmoHWyq
            FJY8u1eOHjiaCsyOjPMJYzWCsPB9cUoswd433/LcdUM9pje90tOsXINIGcwJ
            KRFC2jM9qCVOcJrJKqrEiD/fU/lY/A1K5XTzJGdXynhPMmoW5gX6BCZtdAX8
            mW6ReM9nh9KwK407KJeF8XBYFXWy/PumF/bk68JeJ4bbpN3eF52OzJLH2Mxy
            UQSFVJh9Fih6MKjdy8TTTT21Mwbv4ZzENDWqR1srA1tOcmVSpZScUxp3XBjw
            dhOtRVps6huempVSkZWXNuF+3ernQbfL1HYav4MoMZRgPXTAj+1YOTxuibvb
            qlPQmPYbtVycx9wk6mZ4nfWdVWkp/FyMFjzOW/EqdhyjBMoRY6oPszi7H5/t
            +NR968Hny6+X9/X89+y/j13K7aXoWzEzlyvt6h7tdwfQZtIkn6cl1WNf2a7f
            HEh3l5xDwtl5y3zbh98HI1Qta9O2lz9/2Piu/rwx230uF090G40d7mNSYSM4
            ooNFSEYyXnLfhuN8csLrc0FH1QRkpbOo3mFPAu25GYxFPpMoZcTPSknB40sy
            GCwqMWo9dw46aHslWwVdMXtM8jPMtmRC31NxnUrV2a4TpK7TDk3EOu+ezYjF
            w9Urn/D0St7WWY4WbKVgf8vf31NsSTkcd+tTBQZ2fa7OOM4I27P0NmTDBlco
            D3te5p+CSi4GtpvB3Szi4ooQcU3a9VytkRxiCrQB6hmNOx8LzjN4IPYRfoAl
            tCH5GP+YFJiVaedfJeLdQWUatPgPpsfeFjsYHIqXW7zcgT6AXyAQ+M7fl+z+
            ynv1xbQSYnJyBVV/7mbBkCzuRJaTmZMg/fwra7JfKq4Uns7DHH1WjoDh0Z3n
            BBHOeztPMniSBuRkVsUl2CL6V7o5DsTyhSXA35gdWNye3P5eabT5ivueKlfb
            UClk1ZbRefD+ngelAcgUXeWnDf1sK+exLAoDx6b4HFIAWeFUmAtMDTuz/ADX
            mVKgpOgy0EGHBZ81FHuPbMmEh7b+HsTyEWvnfrfD93vIzn8EF6X3CKe9R7rs
            PbKH/WQnn/VmcBvESfsVsw4u6OdnP5/Es5+JxZwY8J4Mn8Fw8KPrbxaHEC5J
            fL7mU/6wIWWYGryRQAhC8CETSf5ATnGUSZMXSayyzsRQ0epl6UTwfCiyqXyo
            iokAjDdjSD/SbnlclAMjyxXIvCnlSBk2049Jg/E/1oe6g5wxVREaQ76jKaPa
            PoFaUExFwVpR6kzzdQfLJjQnxfo8C81BZn5AfyBQRoPJisVdmdACmck8OoJd
            MH2jnhe9B1j8EmNY2yR2OQ2S3Jr2GZL5IYKMX2P4Ncw54gjZ/HfhLVwcvWJn
            i5v8U+ystcWCiYFnxzzdoZCLHacd9/NsMbHF3o6PL+cAUdVYlp1CUDna3NnH
            l9nLmW5QUiu9Zu7QH2JfkSkdJsMDCz0JAUfFCMNY6N4srPsySiz5OXtRQgDt
            5EldITOfz+Q3ngREm8ITMOlyHUIvUZZGUZKeNFr6HFgNpFSa6JSavI4ve1mZ
            UbK5P6tpxgp5niyBFl6KEtq+NecWtHqYKzwyOUh3Qtr+A8avT899IoJiFnjm
            YDbFm4Yj0Q6+vAMUvm1cP0wGIV1PIsWOYrCrWmbKnsMg9nvR+Rk4K/Wpigd7
            nszJ7CbW/sKmNPM8S29qnzSHkjrD+iAxUCHzVUmWyfhN9+3BssB8tKFYJXWD
            oJVPCAt6Eh4ua3bw4JZ+MitASwSqJF7sFaXWM37HME3V/lotdZ8FyToufY4T
            gsJS6sLNaB7FIV5ocl/pdt6+/l1+Xl8m8tc1an7u+9ilwnbO1f/rc0qz+940
            P2qYwnVdFvxWkJrBWOi9NMrpmTKAAAWQLx4HqiWgCUsGZqRHqktjJl49Mbqa
            jsmfY6aeBZRNTR/Pygz3KXursohrMm+HbnoI2idIvAb6I+Mu/whe/nxlw9Yh
            m7aKUW9IEFhjmkkCZFGM7T1PsXT3nJunG2QmtkhK2rqDtT1ZraB9owrwkftV
            cac07ypKgC0WYOtLjWKcZWQM430NMYbTCruPy+IsSvJ8Hkn4ytjlaI6Ui6OX
            UDRBwvRIesoCs5XP3h/ao57Bq7UEKsR8bpI/3mTak3gsfz+24xlP/jYFmbP0
            nPyNKwH3AAd5lAuYr7R2ZnJQJJ/fycRuJtjqmvkS1fD4eF/KVo6LuYp9r3Xa
            HJGFhefed160dYUQoI4929uONw/BwiyBEAanH58uCDaMPae7YHkWOj/8t+vr
            twrlEIp3uVUok9me5Ul/uQbT7zG273esDbLnK5eWTH25FTfjxdSMIZiULOx/
            Y270ruocDAYxKYgebVLGI6Lrk4xKONaViGLNF1LKWmMW8LHjRsGs9cOlKR1W
            UunoIYfx9dCrkO3YjR3mlvgrzTfZP+5VV17fgEHJDLThya+H0imGIqlUY7ol
            yNKiX7GdUMkM+Sv1XYH/Jg7FXaiTJTdB09mhEjzT2DOIlfhzEe5nJ+4ErxVw
            18Aq9erqqXQY/mc2pZyl/wQQh/7I3JDj3ReYGDSoxjzJpSSTU5LzPR7Tie7O
            9O6gfQR9pVeWcPUf6/j6eQ6VbE/l/nHemJBw46dV/d7XJNlllfBjO/1obSfj
            m4VxKBZTcvyZlg4iuDAYNG1kyKncja5/uT5aDCyCWXSWXj+flc9YhFl9H7wm
            NXomEYPVjsOke8Ln8H2dqyhCoAplEmX2bK+x4WK9aUD1pFCBF7UsHUr6jN9g
            65qF1bTk7apqORUMGta3ylwQ98LL9voaDnzojIHl/rpxIfb+Ana2BM9yxV+/
            JaIrLYGe/flbs9920uWfLwVtwPxpO7lICrkchs18bMF1VLkLaJDzC71qp4rx
            tKwCZx1qCEPLjVmUmeMMs3BD7KluC6+leIZRtMK2VPI8SdMSB7X+CCrGcGqj
            46j/9Xcvb5oeWwhUJD1X/sJbezUIHsyoUxbQUumerQxG5qiLeezhGiyRs0Fq
            Kxp8Dgt6AyG7+gtrMkjSSreNWjpyZRKB9ElfUO3d0EQEesy4a+sv5EcXLLEw
            3z2H12y+zFRWZqauTvnMMghJh7D3HXQ9co0RapQB4B7Xg3f9NDogqK/gNJQM
            CFVXTLQobZXouSam1fpIK4kr8orZ0xwih4qYv9BfB/fx85Go9oKIyUnFbFhd
            RZ+p+ejicm1SKUCMddftTRH9VTra+bARQu25Eq95Ohzm91CD+MabrUhjmINy
            G6mw5xejLpFq/JI0AE3nLkTIoGKkKYYIg3EM1sjhuZT0Zqq+WrUVK/ZhkEr7
            WSoQo2dDDkqxLqQXdlHAlnowIf5I0ZuZEqK4Ys5ZdsBs+QuMB4bUpOyZMJhI
            ZVz9dNxR+SIQNvN7iVvO/NyxDKrj+coc9yrA7p2mDKLshHRkopj1V5FXE5bv
            hMJFxErDwmPQmj5vEgpE9Q9p5tdmiiu7brCm2LLeO8U006jO862Q4ro5Gd5p
            ZvNsTz7EbmvCHfuEl3antF0xPUwrNIhqK3JSsNcLZVI3mEw8XjEwHRPzXhaT
            p7AzOOPZvOGBsxEmHmwJbToSn5ZY+OzRQTEmT/hwrLmL/iMt9CArHyd52wYx
            i0XWy7WYLHArBxLTIx19nChNQXkYcTuLdYhcRoYuTq9LKnh8MopJXQMLY9rx
            BFbm8UoBUOojnktkCKOLDv1k14mR17GsOW4Dvj/BYpT3oKKG/XbtpBXo1z95
            /ezXZ54IE4vEqTEh//I+p4vEuwoX5CKn4Fjo/Vlf4ukLcpPRP0jThZ4RZbTb
            /fcYW4WzKsyaJrqob0jn2EiMFkIL2bOLnXEsPSAf+bzJ5k1qAIQMSGAyWb4p
            34T8g41eqM0SDwrLLVRptutmUm3eMI6se1cF0fMdp6MduqyUjfUMhl2fmcWe
            8u2O2WCDgPmmK0T4DLcw6qsqgG5VE2DlwxYjVEUKkZa4tp18t7D8IBhcPXk4
            WBsbMfyqzP5VjMKlj7fiYJ3EMZnG/9ULcHr+iIVPPlKN+SdViDjEZ01WHW7l
            DnulXd6hKb7BXMNyuL0I93aFcnKl1ZXPc7kA8tx+lZg7Rn75HQy1BJuRd9Gq
            6wqn1zYMT1//xplntcjmO92pmxHdjW/l5onEeUgq4GRlklEWvfGgSq0sQ/xL
            auP5vbpcT5HCysx6UCL7BFjQkPU1PRPW8uORgPC4yUU2xC/0O1jvKrdmuIAp
            72mlsIsJBy7K3+VeAgVBBVtUgCLROB5mQ7eD5d/RK26IZE07iB0O8m1ZPjXR
            4qzDGxEUPFO6af2L7xUBH2bD2ZXHFJK83ScL1SEMg86jk5AFj4nBw9uEay9g
            VkGVtcVMCh7LFN1/cWwtavkq5BnTYZYQy4zssLTY66QUr6Oul0nJw6o1jRJq
            37gwYUvtbFJb9Rogm6t7rFwjnwVJ+rBmaLdk4AXoe9BvRirQBUwKXMNpUx5E
            WVgfWpQ7ocK2qrDGQFeFfs1hUQujiXYU/gVDssHfNXcmPehqnV79Ni3WWMAn
            qK4mKDPlhFZoFmVRcTV7VpwYVRgN1MDTMiQZQiYo8e80I0rbG1sFFrKQm2ax
            a+800OxOcqYNCXGqy1XIhD09cy+sCrjpDrNrHr+uCe5cksoaU7F3tGLnaG6E
            /d6ZyNATnBenlS/nOYTfkgJ5XIMZO8XdkXKX4rPSh4QxF5WJ21ll6PtCMvPe
            Kjzam2pEkmNcToZfUrFYU/FBYYKLXJbKAlbiQjddLfbnEqgn5+2gm6YKp25Z
            EwZaE1gXNyHHZYCc+0D5D6iWDReDXssj/y20VnJuKleqiqPSyk5J7kSnyxhy
            u+zGH8W9WNvNENfPhOythO7C3bN7TNLJfFeqPbuwd9n2YkMLFvU825JaVgG1
            t2QcmTPuGebUBPW5+2fP4g/rx+dzZ6CzmuzH5/sFXNfnvD97Wkd4fn6OxyeD
            3var2UGSmNS1+g7BRLtPt0rpr8z7/S7bl1FfGBxPBN9wOpDM2nqkoLUimJzq
            EYTRDOC++O+wjJsh33hEoVTrCuXHV0eeOT2QDOGXv6uxb+jjFmX26x92/Fx2
            fGE/ScH22O/lMSLI/vwgOoMfWlb5x3bM+m7BJgHYvWEK9bhh6wdakzFIUpCZ
            U38NR6OJwWWaCHlSq8MzSmNVNSOTs8uTRZXmwMKyGcWhaU7zKVOMzmwe/bd8
            8LJ7E8i+LE04DI6msM+lBGTcswh8IoGlYAmCVSpHyop7h3lJxw+gixSFXnzX
            Dxgul+m3pt++3nsp9xfvzGItg/ix+xq8Tnqs9dzoVmhcz6Q8XpVodfu9YjGO
            SQBTtnmLdowcH36MmkFbNj2T1CdZGUHvyaIxTv1mUMy32D+4LbENFri47iVI
            H6aOUG3Z7w6dbbSvKnVYSpeD9LF3luaQPmemA6XrKizFzPE2WOqi6HwTS+GN
            CK1zRTPOB1vP8AEikYAaO8/QRBfqE2UOTSlC4pA9VYNXPhWtp79TyLl4GKZn
            Ht62QVLXcpIcl+GVuhYUeAjxeO3rEa2RqMbRAqkK5GKIKF+Elsykqj6eQXQY
            2H60KOkfIQJuw2p/ihADGa5px+4fQnRkav990CWD4yY43bCmfdED3Xk9ayvi
            eatWVmxs1i9MgEKnffK45GPJ6u2RuqLYI9at4pgP45W0DC2A/lZh17wxqNxX
            ddpKv3dqSjIovuIxRcKgGfs2tg1D4/ZeL8/xpZicyYJR0hJZMRiilVs85lI6
            Dw9K9za8+KrQqjJFm2CytAq28R+9w9/x95eHtcHoeGJA9r96ebVMxPIh/N11
            3wQDPykk3X/2PHQqRgJ1WcmBm6uCErji3QhPIuIJzXDSh1WHt+1ZWpY8Nqq/
            XJL+6imnIJRog5JtHLk6u5LGgto8rp0NwNtbQrWNg7AchtJgF1VcAoHRrXPY
            tRpGoShb0qEKKQq7u+hrCFdniqzrz6VaFuB9fHVkW7ZK6cHlWA06iEw/jkHF
            ZnTNcIFEffdjQnsr41ldY+/cHTVGyg3GWcDQRI+HskiYAHeaChZBzluly0xr
            V1WSwFGtgw0T3ptpRsNTSJpnDbbgmQPmLSX8NANXrH0ZRCGbiVyiWX2r3G3Y
            dtUAKB2TrnSpRJ0+FDtm+jFM+KDGUa21Lc89tb/aflz71GeHzZHGo1rTZonz
            ZI1ctQwsN/uteLsM+st6gOgwmEJyN8ZlunAGiaKMbbnsWDYywbF5n5tZQBYk
            lydxqZiFGTgtQS25eGwp0fYt30e/mpVlcvr2ZzqfGGF9n6ESxY0s3aodfhJz
            uv9OzCRadoQS0XYWHthi7cMT/7hwWB8Ja18dGAwSicWzK30RJGyRmTifZqIU
            +atVT/O9SgaMp0MIuH9QrTAT/Ob1YqMn4xC9WwoH9QU6HX3/oYlmmCa2yd+Z
            H1MgCgqBKEM/0rev2LCjqNC97OpvHIp9mvZzker1XCDeQmt0FKg76h40b27B
            RazrM8slzWPepxc5BaWyqJjbgUVm9m33LYGFMXjEYfo03qU/w2C5oaI5QElV
            krw9NxcudTlCnRMHvNJxJS3fTTtTPDnGoRnG5bd42AobbWfT5l1RbMsRduy4
            dal9yDN/ZSbW6oqrK7DFKxJ/KbiWflZKMEhpz4/Bsk4GseIP8dhNf1CrT5QV
            BP3zROXx50QR1+hvE/XNYinPWQQjX4gP/I+V8ut+m2XH662++8myWVaz2S70
            BnN1mHvkPg2441sxXd0JrRtkj10PzzwLQw+f6yW/3nClFNdj/ZIIZe68oM91
            1Vec6JtF+OLT3TdMpRZ+I9G9eRdQUoD9q+MIM/37+b6vc/ev6/R/vk4ddp03
            DpF5HSMB6yX+WFY73bWHD0BJptAt8x9lImsS/f0IczI6mld6UyeJE3h5llyy
            qn7ilNOBNhm9JUZi8usSiPKGdQtCAJMpZ3LfE3NfNqsayksyxXMSekYxG3Zp
            xQtRRo4ymLEvJW5g3N2DSSbW2XnAoRY00adHTQmq5f4pWAZzbsgcxtkGOBOB
            ODyhjkwc39vvwIYGv9jgs7voJpA0/hz8YU0Y3goAIeSBgCFG5relxRIcosEd
            soMMJY4+OnVeipNih/botGCRIdLg+W/LwbPsT+bEbjfWRp45vDnxOK3T6ukK
            uBoGsCz+XNa9FBYbg3/pzdrDw0KrXCfZFovGhH5+lfIlJhQreAQ2AmKmVxWy
            ENec98fGts/SFd4QveMYsr3umMuQWFRK0cQuFbycgyJamrsckNOVrZ+mnLmi
            6dUhRpuV2hnR1WJa9wtLeMuHf1mA1vqUa0X3QiddK5eUurs4HpM6L7anc5JM
            AcsK9YXDHJ/7XIYuSSj+PWzzDEcMq2KIgddaAoW375Tlga0r51eW5qRMd7ON
            sVQ1bWmsJvCKhXx4/AFG5/W5P7n7MgfwIWAgnMs8bhCKfCDNME96yS/80iBE
            DnE0sbAZW7gt783bQdggakKCr5RGZLRD+7d9fb/NZoz9iLWqBoaKTXPFzFBV
            9ds+HkbWSCrbkNe40Fx5zTTrOrccsOuiXe6ZT5VF3fgebnUkMG+zBuEsg92l
            iXd/Lxjvl7TpSjomvEwiWI6O0yS1BHoZth2y5xktTkoHqMO82nn7AoybWOI7
            FouCbnK1uiOKwF7HJU5z/Ibee7mFiyHDwMjHJhTqW5jId+IwiVm9TJnyYGVB
            gSYz/Z/F66KC10SxqQ448xMGiwZMsSzbi5joCrzi72vk+ec1MsxzA1x/rFdR
            UdjTfLOcQCowi4mAyxwR2VDbXkrlC1CWPgTqUiSS2Sgcccrpd2UwShQEKklN
            O9sKZTtGsqFNGOojphaibHRL7d/S1jl5FBOhl9PbOd1+Ta6+10TiPXisqJwg
            5dlaS22HT1SGuaV0MCF71dDfwU+Xo8JGNdSdw1Yv8ajqYZkQfEauOz+nCkJ2
            WqLPDx9H+enjEEFXdXDc3ETjkg8zx8hNdG6xBAhhNXMaOI9ZDazH93mhf857
            uQC7UF/3qxiWe/sP7PurGLoC+CRr+lv7x0OYNgkI9X98XcQBxLZb9LdMwaQU
            5Vh73ctOl95Oi+3M2M6Lrc1ubKk3J4VlMdZKXoPzk63+pObx/EnNGLw7bh2A
            ZmwwuIZ3kslpNtwDgxBOVJurzWIR2s3N9uCO+HPlbjbaDseR/gtMHzESyB36
            8TPos5XYPn6yfsb4evcuj1iR0n8ui8oqZ6FJGV2zVLdCrN7ZfS09G0xGYfyM
            vpjsCfXLk+H5XN1Emp75Z4TZvaLQYYwElM1lJRtg/CWuaqEFYi1z9Z6CFrgs
            lm6OIpZFJqv0Sy6313seHlR4Gni5etvLsbfG98v1/Kz2rWSxHnh74fBgOoaw
            BaRZ3P85rQVB9NgdX1DVjHtQiYz6uA4RLCVpX1tBxiGWW44vmZwgUMq12ah7
            CcOXl5DcICnE9webF3JkucJm9/34yf3kXvcqTkaRlJ3jHLIcxu32sRKLXxxJ
            imZ+XoWRPUY2XnS39D6Vk6zxXC9nDEJTu7vnlIJzTxi39FbS+o+6rwDN3FQH
            YROMLllxKlgtn0KT0JV79VTHyfB8gPA1oGPK1s/rF2sU5sPpeJDTanA2e2Z/
            s/0ZYyr3b7NGtePVlreZ4oNqGBiflfgqPS47wSqv8VHq8JSSr4tdfj1inZkm
            9SpHyZSjzQmW2/wH+952q+ERVkj8qXkXrkwys697EV2B9wrn517dudJM9VRI
            cX7J+3Zlpkhlw6YsQmdwJFn1dHdx8R1xByGGHXkfrPk9DGNDDkAlG6+N0nc9
            YsvOwZ3NpxcJyXIsLhcDeferuHh8sxymsqx53Fv9cj37uxVj2D+CJKnJBZHy
            VAvpGccud282hd4TuKmSyTGJXaAIi5HxOFm4ifeuEeqWzpAitHJRMHQKlbQS
            Wzrm7ZYelOME5hZsvKUGhD/0BfUo/9ILYO8HZQL9uF6Ffjcou7+vh32BuNKF
            XFCgPFxdphSfi7mEH6U4BUvBVK/3ZL3ev4l4m9bL3o3eSRGziiUyUWHNrI5u
            Vscvs5qFcp8shnHuWLgW1pIourdfQ8k6Q36NZxNGMKdV3sp1g2ntXJAAXLdy
            HONFlNegxelG4XXLWetZmaeyMrU6d3bOJgorXrM6HSumUO3VJ2eFWUteV4SJ
            D4SiIBuv5AhFEERlNm+DLR1BsQDIGoxIIfa7tvqd2Ml0z5YRejdsjeGh3qoE
            yHhFYoUreZD2vmMZPw7NFFSSCQv0UOKBNfrw50ngIFbZ+PMZRrZnIHb6KF5D
            RRtBaILNaqlIXF0T/0ERonki1ISsdUgclnKqvpWReBhMUNWZsc0qw8tqS1SX
            IUSgeliyNNMjtJ/XTIwCFpy/wVmJwG9I7WyG54lKzD3OL1pE6o7cg+2l/c5t
            60Uitvt0V0hZidqP5VzgvougyiC7mbRQCbavPgG1Ef91HvVRk2Q7MbdFREsF
            Hoi8ZTjHxJwcKiJjmWew4AXz8ojHpzyO1ZqXUCamHzrMULV9zdtct7LbXGN+
            /TP+B0O6Bj7HTWwQZsrgDkutABpXWeqH5DldtpR5jdvqEPfBUBNk70eCrsLS
            ySNaXCIZnESwHlKHw0Fqf6QzWa0XhLd1Vydea0WQ1cO9prevu5qd9A31xBrg
            YJNghUqCY+TKpRO7qf/FrcKkyhYE5d7Z74eW4655fo9NWnR8GRUclbqtp10K
            /BUiZ57iNL+NTj5Iyb4Q7iuUKE7MBXUm9wtoabMWV8CeZBXXZwXDtFnKv6UI
            jF5jfNnEE1AtZ+v/JHh6ogYUJZoLu+QM7q5lCeetKNktrJGlSN/PPlEOnyi3
            MgzAFesQkvtQnYNiDlifh2IMywgnzg+g6c5CC55ZRrt1uIa8tWiZk18RTOWx
            g6AWwVq/HGOJqExHn5TM4hLp4nQbNwI5k6CYyUHdie0SlGv5AsIwlpqO07oy
            99tr39iSmIQwHTNECiP4ymlY1b0mv99pHO/eNc6EXv46Fn/UG15PYP0AnStg
            vJNadkXlNglZNGWZzZ52wIKYO1qksB7WPpIYdf5jNGhFjxksS8Tf8eodSxj+
            +3T7MzjWVviF5bUDGEovF4aXx8P9uOexelsm7Ou4bM+xy0GHo5oXf9myoRw9
            qXQsf+6oxI62vG56g7N1Q0NKy7nLIpqSdUnxOmO5YttudHKCAE52mSPb79LA
            F4t7d33Ka2FMhcqFLFhus5iexxEZiFzKeGiXqfe8WcWnEau8jkH2/mvK/ROh
            uvtc3WNOLiRZV1h0Vuh02NbC6HQw8beboKB3ftIw0BqKL+YqEI0mskQuykub
            PUZQWZR6YNkYPD9dpEfagNimKW8UIYMCjmRFfLk7MADQkt+UiNcqy32xS8A+
            97EXM3f8dyWQVKtNJna52kOzy+/XAxvEvYIX7BwsC+UPL5xjdhFCEfJvtdvl
            H/saTXnbjvplsvFbGy7G6JZ6tCKf3xzJobvEyXKBUlmdO5pDiEFfeQmzVQY/
            7IWhftTLueC0hOAWtrv8Yfeb+c0Rp9AX1HT2+sOP4L0pasCsbCzwJAgO+S8K
            o5SPwTeTtdev5rlCiugfNOGd3Cl3jAGl6xo234/BNFa9rE0+Bz/Qj7wVrEPy
            hLiOaUMGEzBFmmjfpuNDP9YPMPKwEYOY18860aHgC+VvJSUnRfTE6KCVEs/3
            i91jBajTHX2PQTAua3KbxqkMVbaTw7q/RaAw1gTyq2OpnS7mE6vgUzWdETI5
            LAHGJTCT9sE++xFkKaZR7wkgDtD0bNaZ1I9eusQiNhsTNg1zlAX8w8Rge9F4
            dzxEfdu6jV28fo7dYJ9Md6NX5QyIxXtfq88+wmP8DqXz2RR3iYY8IBEjD2yy
            bCHmbWGMyOMCeBiUORg8sMqakI5YtkU4LAb1N2p3TWz8ZUAmasoROn1pXSDd
            wsYIT5a/oK+vxGt/cdrbVe3rbjYnUKrS7scwb/Xv/tOxEkTh1ggE90wEQnV8
            brFVi4J1pjErJWvWLvb7Sycg+6TDlzJxuj284+nbI7k9mOdt+3fC5RZ3u4h2
            Qz5ucROXiakthjgxlnJViQSgiWRztM3ZIBU68w9hOI55fbgRa+K/ud+4npfT
            TXKGRWhrJcN8B9MMkoMggL7qN4fmeanRh/UZ10k9aiM8EE+VuR9CBrqUr0lw
            2U/Hmf6G/fGgVmVXsxp/sZpH5goYKNtjS56JpQbm75mcM/BfTIQPxig7u8Xl
            TzaK3A/LLKRYfsqflL5fSH7xdLy9D7uKEyIRGs5X24bmDYZBXUziqZQtXrIg
            GVXJLVEkLbhLLut3xjoEOSHZX+ROvUnBzfHFg2nVzKLn8xQXS08lWAIhNDBx
            4CByRqmt4M/3W45+mH6B5DDxtjHIc1VHJe40QXu3/PTO/AL2i2A+/SIyUdZY
            ULvrjaNwCrFpVJYX8t1LNFRhpjKaPD84joPjqhHrxkkS4w3g2AbbIUgrBd9k
            8t86Zk6ois5ZbjMKa1HjL2cz5fysRvCm1zfNwSsua38PYPG0sH0uWMztKPIE
            gu8e6FnUJFh1X4hD762BdjRsT3SwPEESi2GEHtZhJnnwZ2M2kFBZhJWffLOK
            V3ECsv+kVoHnrtr+IhaGi2/G5d1po2YiW+mrO/HC0AxVuLEDWspX7N76+LQW
            wRKRp2XtvkWSdGHfbopuTlHZIOMXMZdoVVQk5qDJD1oI58607q8YZtfcH3mS
            zA6OjjocP+apofy+IEEMXXlKvMSPCOEggRDQg6KCyIjHbQ7iWhWEYGXERdsR
            9j0kIFNKIeN3ZguR80Ksk22J/zJJAZRFB408fJkXd1uUCgsrti8TEyH+/E1p
            qNX8CSC0REVqixFCrTDdan+P1Hbj5/vMPx00lizhbP+XONhWRPCOsdva2eJh
            5++/0TW3foqbVC9gnIuFbT1t62Zn/W5xtJGCN3IxWS8DXX1XvjNuwJIOsj3D
            S+u/m6cqHwJEOIbpMVi9M5z43v17NaIczTly+/hUdiKtoLmy9d5mC6fjO3kF
            xDQtcaw2b/z1h9LGvFb52Kk4TSlHgW0XOgs9Zslq1Vsj9X0lZE42rfTsFdes
            mVGrxJHuKwdq+Oje60ImVDbA9rPSko0v/qdMtejwU7cHhBykw19MbQrb3C19
            PqtRRLYVJnACHGP+hZxMryAxNpBLMkUpC0JACpNDCzA1hmAgBz1Sj7rQnq4j
            0bDt3hJ4qUg1VNeVJr2mydPJhhF9pYzPNB/Ty64L3cAC8bN933LdHVNC0amO
            SfS9T0oflT9oKoK4tJTx16dRvSCOTjn1CmEKfVRpGs2NSEA8Oq06K0DCVgf7
            qQ7NMZkHK8o9a9nC0QDBqbSpUI62tENYp7KxTmkZnZZuRXcupGgUnLwlkhJO
            JpXhDwH1EKKBEcDjuz1faWQdmcAMryJFUHcCf7T+MetaNyxVkg1+i8wsLtG9
            eRQnkb+VJfFk3jllyDC4jOPp6bwJ8x6K3qcedk0sOTO9AkERFr2PL4w2mB4+
            R5lWQwjJ2fbR6KQD2svS48u6mZ0LCnke9wlYt3pbofQ4Jvc49mcwmn4Y2NQx
            KrFRMli1g8wvfF4f96+3Fzx2RJGQXMQ/SN1BrLTYCFjF8WaGQSWaG8abuQjs
            eVnXbiIavIno7ergIPz2d0dReqK6FfezMhIrql4K1NB9mgzIDftKlunUx35Q
            rNtZmLJ8ajUdG21+Oy2o45PdcQAu5h2zePK6X/jnzaY3O91s/GXbnsi62e5m
            45v9by1+5ztsT9jrGXMc0HPZ9zdhluHvazFpS/ut3wLv+54/N5AcAR6GO6+2
            OFh+/XpsT51ZG1scmSfu4yTbTrPHny+zf5SlEOk5tti5owXmnh4Uk9lQPNup
            Jrf2+tIHTiWtaBHIIRYEIBz78Gpugb5U5SpY5LEbhmmdBCguVVAzTGd2vzUW
            x52On37rdFjQIvrx63zG9l0ntQH8+K557NY8dxStWc2eIoUFcr95Z5y3Tweh
            trGyWSFa2AbBO+Ew2CxI6a9y9NzMajmTzCSDoWQXuvR28KkwNzP7NNfLE1un
            4aQriXRahRPFntjzeG5+5n6LkFquRHkkDrtZLDg1sePbOHF93gOvxQrDQNZM
            RGJGWbBsLObCFK9IiY53isHwIKJ3q4WCfMk3YqGiYbBnuCaZNzt3sHga8oEi
            mSFrrOS0zx3sNemfj+q1H8yshrijMnsHQ1fegbHISlAGHTEfJX4gibLVEdRz
            5uPH4KpjjBBl3AfQ/uJMcbggy6KBnalWhrYPymTIjeHYlrdio4hhfvSSbFpS
            bADpEB3fTTfrJaeTtPewsZlOy/ihBZEuV3SOphDxzRYTnozCcxdzoCoXo2Ls
            qtalCMK8JWud9KkFoEbtQaDH4wVvcCu5HJX2/QMf9CN3pZ2zbaonzTLMzWcK
            7LhgekWI59tjA+vrJxv+LzgvDOl6sz2i9XnejdpqLZvzek8xcl4V3Po7Ef6T
            UL382pRJ9MLgWEOCZgGkxXfOl9UUVlabsmkTf1jmzxbIKVvifgPP961ofDBC
            1YLQffybzW029dvn/wJDOBvcSQ+Hs8MtDqa3V3q1axcPu9T5n9j3y1Y3O3Xt
            /TcbHS4mNjsnBgR5GM1Myn5qB9FLr+inL9ReFPxRzuLxTfhvTr6qgFS7Ds38
            lomdyaKjI5t0b7VB/JvrbYB+0HV2eKo8fVJMkMmWHey48XKQ0SltOBX39dYs
            yFQ9zFnHliLJK5VcVxBkoDjdYE4IXc0d3FSg91gsVsK2LYJrTD5zYXWwghd6
            8VACLwCiOJWIQbZD0ww2+mrsNEG2T50248Gg2iThHZ5KxfYHpu++coCLDa5W
            C2GZr/t4P2fjOtIdlmF2iXyyuajVHIWpY7dcyod3AxpVsC+WSiboLlJ1sN+z
            VUYFQwj5MsMc/oUwNFQRlbsBguc20vC5bxrCfxz/+PFPNhCQx49/C1IOFZAo
            QHOyaN+7He18AHU3wjNiZBnu/iPbSvUVWYU3t6Kt3eGtu3G2Z5nrWGnqmBPI
            YJjydxNX9joHLsbTS8t3EcvO0Sxeug4T97KKovUQ9u8TJrqHBUa+IVRZsUJC
            MAQ5+palBPq+g/A2w1vvHp6TTt8jAyZC7iXbpKfPKZb7e2RHWa+6OdQI5v5y
            3PTmDhBp0hgrWGfSRZgtA3l/TSikvA5j98aCPViFcx22bDExc6eYKxv3zAbj
            mDwx9fRkUAxssnZIlyQez8Wkz/LlFKL/4bZMHdXnifOZyBqXPcsTnmuc2ZxO
            49K4qG0xyzm2h1JP5L4MBpOKVqCV3xfHhLfvryPrZOsPZkCfToTulCIhzeXB
            niDlDxz7rZ1MElk85qT2BMsO79kuegztcxgPJKMysU5+H+4akkaHH6+dtStH
            THlu4qY8/dP3avdb3sfxIld9PpMaLV9QA9eV00Y/wP2WMQXVjFa//tm+4gJt
            2EQy10mrAgM8lukELGpa342su+DkyVniY9i30NE+A8s+0ykKiL/S5SXYNSMC
            DfS9J6pYOvx2NjG/nkBfvBZ1j6Kq/3J6ZtHBZ6K0Jwe01TzU+0w4JX6d81JT
            7kWgKfa1hk5gDfCo+HHhkb1zHM+qVa5q49uKTbRQuj3D5i64npCaS/qMFZU7
            Qr8ZYq2HkS9zYe8xkG7x9c5KxGWENlmMgnN0PMXyBViYfByfyTuuR2wrtJ/U
            ltOf1Bbqh9pY27Y/9/yc39TGjOFvAhtWenbTsfJvCA0cdGkl5u/GbO4ssjCq
            FXFeAjteGzxTTdduW7HH6UpmM4JSjj79HJ98giB7e0nsjNf+Xt4Q3bOGdquP
            l5DSJcXz6M5dLIgj5Sx6t155P6MrYlyhp/sDfB9ximJVwYoF5rI983V76fvz
            65n755kZKIuWKmdNd/2aBCejmHvU2SklT7fTb+cwUNLHdIFmYNF+MhVBmCHT
            wQrV8MVBDPVbfryKhgiBv6pdf9cTbHv+BU3wQtXu8CrbnudEMQbRibaaVN4V
            vBH4COTWFE3d5WdXW+W42X3YneWdgNlteHeL1wQZopDAT7Harm+Ci/1DcHrf
            7HWIOznTA03hK1ybZl67q73ujetPQ31LjJJWT47ldWpot1Zzkpx/9nEX09S7
            1T70KPTwscUO8yw311R+gLUBO1YDRykwj4M1Q6d3lpVfL0AlFxpYfrhxEsVO
            tMRUzr9+q1awYnkfNFoT4wo0Ckdq0QuCktiWqAzLlNHvhyv+ZkaLHj6kwpue
            lv5MbLuuLtjq2ksQRw2mJmeAFTFdmunTzervCdd5KIMKTydEJO4qPGdspEmx
            zPGiTup693LY3OYlZsnaVEmTdhjd4fn02SDhwtufJJhMZzr4AZOUnOGtOE6H
            wQV2o1dq+NtqyYchf6iOQyFk2zZnnC/2/AsVeiiQyap4iruQi2vJKgfSgzUG
            lJPze1Yb1mG5aMExlElxaXktP1uIXF858PGTAz/+kgOfhuW+K1snsFiH2qll
            A18MvtC9aKyzMouUmbZ1Ppc+Z2H9TX6mkwWKROez0calzUyq5Hd6B6sFb+z7
            7d+7f7/8e2Z41opKcjFMAkK2RrZVYv9VNryJqj5OWnX3leJ9vROVqOxUyjh1
            r2Dmbrx7Gxy3cjA0TNnX5YoiKvk+D/Lx/nEONA0iO0Kay//AnP+COeEKOfFf
            MFpl9oCF0adaz90xAUohePmIGHfuq9gmbRueulB9KiBqYs/bjanVNsxvkrbg
            bQ7b9T7YcdqDadmP73QsTNAd18kOsdZJD2w1GVpUEhgH4YlZxcH2wo9hzBCc
            38osDMrUtpcKAUW5w9ysVgCWWSwUYW2c6wNEI+8JsYiZYdAcrrSbcPubN+WI
            Div2KyS3jfSahESN2dkAiN5ZLJSwGSaDpGA1V1mnMedYwBscF52oQJEgNOmr
            NmgQ7YpM/Fi7zc1NbcKZ5WlgLcJIVSon62xoPHUwu/HzPKqru7qA1YJU53hs
            NIGWjp3xkM3tRWum/RPcgzuohZXOdOcht4epJcKSCgYcIh1NlQhf4GUuBT91
            p5JkQlfOFJZqJQMpyOILVqgNLzgCA6RPKTuTVFfqjSEev0opbmN035Iuf6lW
            +1p0bww37niNnYe6KwVaNkbHpo/CQCSTC0kqAaSZchwU64Cpb2V98ZmQhsp9
            GJc311UHKMc7UhEvNALHMGQHqsSczmHXGi0vRj+ZyqdclPbuf042wMX+Ztsy
            wZ4Y+FhBnaQj89PxMk+aaql9E0vwPBxyB4xlWM4nNcN2ng9zAC35N1vXLEJW
            sbOwzHfB+Ur0q0O52oQe8uM8fearz1cX5GS4BJK7vVNccIslPDfU0HZZCLOq
            UPzSJ4rnr4m96i1C/MjDTcBkBkXfqny1C/7qqP02VZx73/E2ZdzO1+VtXWIi
            uq7NV/WGlOXxdAVXK8rOxdm/79INEbNQTUHHrUo9YNV4iw67E/R9fw67bJAN
            CndLbncaehtTT9MPJiFYPfZnvaUNTl2e/lY1sbRy1CSQzYPiZIaZpyJQ3HAf
            sQyS5T4wEqt9NzETuhVIn/0diDw8d4VdCk9vDx6VTq/+vSs5WOeiE+7Txtx8
            TtEcbIm+T0EUJrZLHV5WQcDtaHWfn+w4v2+yVhHKL1mfvjshv52WPxPorWNN
            kc8/UYYPS+yBWMtf7Rn+AW2lRHPjz1sXmm9G8wBlMbkVUo+/Xbe6AiSifhCf
            hcEkQhZbp6deF02E4iKWaP63ENErG4QQjOCmJUBxWbTasHSzZVvAyKbyCQuH
            uZzsA6gCWOqVUn4Vixg0tZcDxnIOlSaQ6KAnx8CAqcfbMaQecCVek8kuWGWl
            VmZQSR4sq5NItuq1YsHEbxIVkdGTn1vmI7T1QQJRgW3Tb6YzwkIvWOSxDZiK
            w/az4yDkDJGANzKOW5iPY9kGH0dWgEttwSATvLyeBqhCL67K5aAPs3Olc46k
            +pBgxAMyXHP36SVImMMdBVfzim8HbmIkMPtjiO3HvPgSU/Xpd3SBiUG5WFl9
            c8L48klC8NqBOj7490ATjnmVIPMf8oOloiUyMhqFHTE2XP6T822NUsZl7bkM
            YV3wuWwTEQzQI3zaa51eyc3yrI9wD5Z9rR51hz/f4z6Kx8rifmdysxnKDHmw
            IfC55Mx7mDKPfcx2ID79IGfilu3FuFUL1K9E4PMm8AJrlP3dwXIhrobSGthC
            jbG3U59DGI09f0da5mvhWIzi+jk4BMQVS9i6OemkcwYW7lJzml1N3O0cU1RI
            PCH9fpbj61ksRXCw4beiKcmAwDh/FLHMcQf7bNMKftrZJwOwz5Y1nS+mwpOk
            fnBpyx/okOEDivWrazXYEAf/ZoPioZYXlzvZggOHdGUxD5s0HntcP9n3D0OI
            ZW0EPU/qaqnGiHiOCy/LFknEIT6m4TiennBccWxUBjT7sHW21GjnGOaFFXYv
            SwkJdcJuaewpFboqpMJ10RNKNkMG2neSLQPmp3k+1X9SLndGluNr5it6j4kD
            M5EcfpOe92Cbr+bruYs9d7ifk3m4dYcN1Dp9HLtulEbYfn6WQTgs97HfLwR5
            moXeBGMCqgyDSBeNopOTe0ZrE6/Wrr5w7/Xicx15gai790CDllIUOyIe7F5Z
            zBae+eQFA3u4JZ0Yc7UeC2Rlmb2Z8BnH5H2TxTxJN0K+McyTmrq0/ukuCR2F
            gfytvEAnSt6uPF2WVOSpan33nhudAKtvyb96665pICR9W10EuN5QA0EWcn9x
            IOY13t/oOY3mUt/fZzNvNN8DFuJs355nr7/oh+qF23xgmLNzFRdISYnU9JDo
            oStgWzbHYmvVthsiDkxG/JgqzCpTyH2o6utSZV2gOV7BeQwjir+xmCgf1jV0
            lwc0wiMZJKIaZ3hNbDuhnZ/NfxNxDWaU4IFgFuU3l7ZS76FX+XZXhKDPWbBK
            DNz9UJOOq4dePmuj1rBMGABaHl0luK2irsRxVDvtpkDRdQkG8GXvxzBbZ6yN
            tWzn3WmZ8279bOp7enIOG3Wa9UmXHfMNfSK7pcATzJ4JR4VJNQczKORlNEK8
            H58QI2baa5GeaSeAaSHtSSwIorUrm4tERMU9S3HTqpWPYDQr97vtOsESkjBG
            YGWzDaJ5Y/UPlea1KGdZrGC5EiktaMt6IJpVMNZOefKh8n0ppyza2fekRs9V
            /PQPGs2s9Dt9FgvhBFxiLlNQC7klg53jjeZuT+7hFWe4Tsl2zdNCByfUIIb0
            xwDvJkwwm7rBSG9Wij9BDPSzXBYmHtalKN67ZaitZLLaqERcT9ahI4FOyT0Z
            kEHDFZ5XFm9i6O4cu9fpxLCu3UKHiKyEHz6a2ORDVp0PLBa66bV6mUrXFpPY
            WHdJ5PTMqehsiKIgm4mACHZLLyozrg2mUEE5gZcyXzU0AzLlqonkaF16D7Oz
            zfTCFV7dxbvBLCPOS1A6RxOg3puGfX9k2GSIm8ufGtyh0nQmZRIceok6Bws8
            feAwY5ZAQZvwKmkHhg5hENzr8ixsstF5HZv93OSFyVsEZrWj+qEgCVrOs6eC
            o4TsaiEqIZIlVbJkbb8TnmOoE7eVTKUvbygHpJI93ss4w31YkczzVaomc4Ul
            qSz3Z6EJQ3xJBfwPkfIbUVeGuiQLfUVaohoDv13uWC9eQjAlM/A9VVP99gcI
            bua8JYnsvUFxMc/XCRd0XcjXyyrUqcyxrgJjTIULph7udYE5d8ufjHO2sAmX
            WAx7tUChndNSYa0B+sYP6lSM/CX4otlfjA+T2ASWiGUDkz0NTPJkefOAlk2I
            HS+PZ4MyTjh+a2riQCWmSLliFxdClB4Cp4D8mTeEclIXd5AZZaMKRMep9jcY
            DbC0SGJZphmSWJlWf1yfmsBu7avpklY/SoaLN+uZFvq9odSw14M8TzwnCiZV
            phCTWK7dH2lP/iaG7v2TNhtX7PzJK37lSFjm/SH5lpujyqWvZF+86wLxnFl2
            7uKkbseLdIKo3pBPmkGVVoRsu32iRnru1+yaXpF+KqLK3MT3vnHYfSkzNxg4
            FVDGfV+POXNDPKKsJJx4kQSi2pSrKmCjiKdPe0AKJ/VqZCZ13OVxxj5uKF4G
            1uguPItHgAmQCy9mwLtRzgR84lp96fXUHqhppFI1y0xuAPExhtIY92WLsX7D
            dp6KuQ0YNZN2IotAmWNeaAxP1S91whQxcRBvKEAkCvtn21nMwDn7WawQHLpf
            VzNpHDsZfcl+bvCYdR4gdpP03YKQ7oPvkOjp40K7q0iIidqYOHpW2OpMDoFT
            vm3O5GHXTJkhFlb0SfgnxRAxycmbPZwnRs5w+K6taNjyZMxkfXk2CDprbVod
            ETI2driBACCGRgvghWfGOoNw4RKLVFahXcyBVTzLRahywoioB9phpcyvMcel
            Njw36zK48UwyKTLMDHaEq5lqqMJ19jv3k1ShQMouWmpLw6LtCD3wUhWstJjG
            GjnD373ZCY85WR6cmY+8EKIyeg7w/X57mrARxmkyBO9h/CxjUE+X/qDKZzzj
            y5CF/phwK/YRyCfrzmCEJs/HEYHPat8J46tas68Y+Q8nANOxcuiGwQM+JURL
            SyTE7lUP2FVL7/b8xa4ar12VPnaVYGio5PWPVrgnXbAF4DXx/mgNqvSxxujE
            RPBWZObOEdLjaeBAV3KdPlKFFO44e2qDvfB7NhXTDTRNvNAYoUHsgZNBd5tj
            lwiY1W0chpBPV6Pp6yMVc3WyizH3VcOs3UiUWJ9XVFM+Wlue0it301IkjBkQ
            ybsiK0dtN+ebxlPtOaPamjF3LajVWxRcW5hbKwOB33gvLKQpQ7grMxEqqzcT
            pGZ3usEd7X1JKJP81N/99MYJb6/up8nTX+hT7Fj09/Hl6X8YsnYDCVN/q8OD
            9ZhRrZ66FTpaEjFinzpoLYMzjKzG8G3RCi+syWFqlLr1WEN0DgC7Fn4PYmRX
            5SQ4Pqqqx6Rkx2DeGzgfg0EKvyOuGq17otjNcjiSQGKQlsPMOxj+RIISGK8M
            LRESjGB2xhFidTYFgKktRMGW0DlX3qriVmnrYxR7nGq0098O06JU8m+i1TO2
            bZn4hzWuudQs5ykYuNMHbpbFUsZJkF7wcGwPDeKgo/UmJvmP4zP1i211082x
            8BnHVjplqZEvS5ibrHvCksdW2YmdBaGdIZfAXCXq9cuta+3f7TIgVTXAL4/n
            Uibk09RqEjvhPTrxej4DezBl7/cgcV3vVllMIgzByn+osZBNs7uEdHk6SJ98
            WxFchRaL57nZ3JT1/1WSnblM2jKXCs9rjpbauWIom3mernXbcbimbecjzH5e
            +7bV9T7nrtT4GKsOlMZJhQVTVBG4+4ls1KPRrFsga6bb22+qEtXv7S/a5bR8
            vqv7traghilf+vVNLYHdo84vXAgx2e1jOK29IQuuvwqD6R+5dydjMtaLmTLk
            M1RAGUvg8FnEMdIxRh9EK+rGfELDXeIPbNN4dEnDU9jBpsXtBKE7lH4XAu5j
            cIfwL4aOjQSM/ZLuy4qoX0hIK28gch6X/+uPYUaA8zY5HpdFE/uPttKyFirT
            ORQ5s60PRlmXEo0pBNRFjHWr7oA5kzXcTQbI0bWVYpJjvtl6mrhsmXlVrBQ5
            DMYoXkJie+waStgJhiVNRbx6NzEJxujmMQM+w7LKomIarE2rSYh0+Dx5VhOq
            jCnuUIUYTaU5q2y4zGxyaJcM0C0x4wtLfjGqKUzb3cHM4zS8V1rK+iLR06Of
            tlZAlmnQROz+qko83Se4oCGkIivp1M2VGgj3sXlqM6inZEvIIBmIEMPtzV7l
            blj0XZb509QnJWM1X9/dbcCLkjcpm2ZO/+xj9UEbsgaN12K398kiJOom1raA
            3SfdwWRlA9O267AEnLvb7xCvROE+hl8sec7m3ayVLb0zTBBUHW55JinyGGrv
            a5Xbuwr9gtoWJL2JqbDc/b2kHgoHig1d5G9f3C+iuT6g5xQS6udEkFLG9E1K
            L5myni1PbSIES1Cg2tqZwe5oLqMLrEsBOP72eOX72kbFbcbE6vY9urnarvxl
            mxOl/P6AaeDmkqL5lgeMKZnqYku9s9HU6G1u/XZ7BuvzdO+Hd53d++EN5ah0
            9zuv9zxVMkcWLV57uWOSVym3ury8OZiHRxYNZi/O3vouTdsgX2+uwKXMDdU0
            7p6A2VU8rCZ2QVEi8FEM7TXTLQ22mM6Wt0cttUc6eICwuBUFsf6Kry/kcF9I
            sety0hIFoaf88VpmWjKj0f0wNWiy6QLe7zoy7K36lt+HrYkwJyAQ+sOCNxZz
            OJvVkIogQKT0wbG71ae3eX+CZdyy2x4FdKMD3wNg03Iz3wAdq7uYX3JBi3rk
            s+pvm5p8mGERN0GA36+5MECLPNuSb1kp7khnp9qBB0M4u60pt1hSP5Rci4lJ
            RIFYfTem7sQiMD1594d6S9k/zqTDmrQ2Mrhrg3ztusftU6jubdvawnYhb9Av
            r0iA3pi/zGeVmI3/29qVLbkNI7FfEk+Rj5RE/f8nbQNoyvLsJLVV2amkPB5b
            N9nsAw3gjttjQ3sJKWJwGUCIAMu0x34VjPTDIqvqAhHkz7EZMJN5WaQJE5nE
            8VGf3PQke2DPXmDDSdiwLhRFhXtVBQYFCVLEpE9WKZFed/QnyzT1HiP+kLI4
            Rll8/pZYprxWhHji4SLy8/B3RUabewtL4x1JEiC5mmfD4FKq46d2diOjWWSq
            k3tFi7l+atpobOHId+4ntoXBk0FKi9I6NkEtuKCKnK20AF5kdNAedpeP75Z1
            jMbkAI/tUBawSe0NDO0X+KNh0ka+BxA59h0wdBAtDoU6MM/i96zfK7keTzAW
            2/Yj3MEWNA0BWyGZtB/bmX1HLFU0wmLiz77E9BaOIAaTA6ay3byRI0BQmJNp
            RtC2cg1AGRW+e12VJ3MM5oKU75KYR6qWkO3k/EgwbxAIx6BBWvQQ+SLKdHjY
            C2BAVi7EBver1q3j32QSi8gXfrJ4K6PnLeby+jYJbZP5JH26fZZ6efWZtlrp
            VjavNWXv6tk/Kd3LZYAIN7F/oL1Zk8HOKwuZ0kfSA8neRcxBlS9w1p25fgSu
            0COxKnQWJR4pqpUQke6GnqEp/UTzzs5CtVM6vPbs7T2KX6DnJT1+zRktl8iM
            1mSBuYbAYW4PegK9Hw5obngnk+l1kkV3EEcB0hYBdh0VmSk48BMppgqbe/jF
            gW102gp/dMAY0b5Z7MKxWF8cWF3MR3V7t01jGzPo0LnP9w/+n4cjuOhh23o1
            C9TdfZZCTmd6pQvh+8P+7UydSLnUNaMbWdoGqzyXD7KkbbBGjniPcM3P/sZl
            PlRl5zKO3Wy1e/Z1Ikax7RwAvHJcx0FI/MwsbVvodJLdheEXVdOnLRVHUaUt
            qmOa6+pNVjQgulkyXoNzPfg9q9y6sHEBtHfx23P802Btzi25lgGbBAczrqkj
            G5ShvVYk/b4++DSfHt7PVjyRNJv3t/nO3vhWNm74zTSzPPNgIWQD5Bw9t7ZG
            XsQOTnqMhw2caUuJQHlIzMHLLGroyJSZtkV75KVizgUyYEG2MCtK4GDnzm52
            LdiUhQuXz4YevU/O4EYk5UYTLpmFkLboTFaQMfN7YJptxEpJz5Uwwfd6fNKg
            THofYT+ifMuDkIXd05mZkeTpq3XmfTdHjNiaBWpdbAySk2hXWHlXTB870VwA
            S+sFlhzlDzI2bh2ecWPj4L1RHBlV1K0Asg+G8r6dK1YmGk0nc5anflXR+HGc
            M4h3R4mF45oA7z94CoDDKNXkfhHAusvtGPbdI9j/E6ufrbBULd67j1FSPOMp
            QLz+aOD5IAlbBx5yGWQoITxwCQuNDxtmntrrS7lPuA2qJm7jhuSUxe6borsB
            whrAD1DCV5DAhQA9G0icuD/d2Zwuea6+4BPr/AryyqCu7JE6bCyC2i9QAmwv
            +we9FkIHuuwf7uNJSC+RxSMPZsRIes2k/JlZST7hzhFLQPRcfzA/JfZiVqGv
            Bvhjih6iTQrM8QGxIZ/ttjbwDmgugBjMwetuWAaaqsxy/+sJ8wQBMe+uZ3/I
            8eYAKS7c8ttxjh/HAfNP5HEQFqNTvpHNiu0iHQWaBnIaO5D5F2ngeDjWbk73
            /2PfMPTm4LcdKUoLdAnDRJDARiwyit68pqzBvWinEUTswNFuQDXtNuN3uDBM
            aZy+cLDhu6ugTBNDPbOO9hUyFDHyXCJ+Nkmu3WK2Y4rENn1vm6PZukka7ef7
            u5rB0F9kISi4QgGd3BVw0IU6rm0dkH5fx6Q2f3zzaspGxbe5aCHsCATZ2uqB
            acy8yiE1ePPFJc/kPB8BLbkuawlFcWxTSIja0SNSqnxaJoiw/Riu5IcWmzVg
            0OGHfQJRDpBtAzMwYoj87zMKAxSTgQM0fibAnGj3/Lh5wdaifzxWR0fUexDx
            YZPjS6wBeKA1aUKgrAYeovUZrDLLeIErMwut//ugpsDclbr4Dn6fPQzp9wh+
            8X+eiZiF8WNVOOsvC+d/mYkge8e+4bL8llotlyek3O8lYJMtMDNtlI5ZCavB
            7c71+o8zm3X8ZdadXDZK9LYRsvFzWbqIXJtY6rjEZc3cDhzrpPjczcJE8v16
            ijmBmqO+u/51ncKvHJCPea3d2VMDCULFXJfBYhNJcoIgqYHn0swp8hVhlYuW
            eh1pGkax3wdUdQl6FcqpBPJmjYCMbXR/ICAQJmLQVpUn0XWs3NEq123MVymd
            Lmek227zTZoEM/FmXcI6n9gu6OlWtUla3E/CQzj/onfeSfTWw4HXAjoJc9Xh
            ibkVaklOEBJ760YiwMNsWSpIK03NYA1ro9j2pSh4qkc2eHb5Uovpo/Ljtd9r
            my+fZiA9omvZJKnJ3BPMbtq8VGfPYQhF1r8fpvzh4mmSFcwdnghckIzlP69B
            D1e31FNrtxk5Erw171FIgMvRLBApYza7VF7kvMy8k395IOuBShSKxRdQ0IMR
            9kBKGaMQ3Ub2H0x4Z1j7ArjJoilofa9IcYGVoFBn4f/+cFpCRj5/KIjYQ1zY
            3Q8jfdpngrthTS6+7t9ck7Dq29XLO67m9abKNAV6RMA9kNLFPgpgJcxeXCWd
            D/CoQFoR+xBFtEp/QQS3dneR/7k6UR72xIDZhOwyIHvz/PCELsoKnBvhfMC5
            QMkeHN52DtPOgamjG6ACTx1BrnLRUdtSsD4HPHFdH3k8ktQSxbNWQ1Vf8I5O
            HwrUTLC4SwWBxPIbq8b4psh7f6DiKwx3rx3CcshdAeMob9Npnp8HsLO7XKP2
            +tRMPHP7VcHCjg8wWHSBWqbqEo+c8hviH8rrGMf1sNcRqm43NSxVn0pc6sjz
            9T5LdFUSCN5ftwTpvKPxzrn66xS5iURTqYjEhKPDEOFQfOXSVLdYgnXdP1/1
            jIkbN86eRnsxtZMu2UMDm+XoRCeBF+gIehFOtV9jyQ2txCPh2m4+epcYanT+
            KV2c1znsOKjOSb9PZgKV3rwggPYw8BB7UxC5vp+v1/fjf3+/nfr+F4zRjOy5
            qfcW0A7ArjeHzhCiiEJ9V6o7IWhFFHtTPSjtq12g5ob9g5qNpCzBTCPGfo3M
            +8wkgNT0h7MSmhaGKLzHGgX9rHa+mGZ+dCrBtltweyqtLQ1qcl0r01vC5JQm
            mxtkWZhdVN8f8kHsFIX41lvvmfkNWxBpx6WwkkBDtFHf8iO9Z9ujdKoCPnkV
            1APAzijCzJhsrIM+Cagmdc5IjXclwS6vkai/F6mDix1XE52aDkLddEOV8r4E
            3QbtsrrekZoNTowZvGdu8S6sqpG4f+h5AR0wzDOZ7BlzxRJw43S1VgGBEB7W
            kfLK26/94OYuggpXg1k5lr4Fzx4KKg5sucREcEcvr7CXgjViprJGIdDEh70v
            GCV2YzCty8hZdjSrvcrW/OPpkNm8Q0a6CWz7WsSjXYyw2//weuh3EWhewM6x
            +bQxxNDv4l7up2/zfrWVjOsOFATtHLutGXhvs0nvh79vygMtK9Hby+SJuU4i
            ou3JMZWe1XRau3lPHc2rSjB0lrG72Nh6vW7XNhTWvXivspC8Fgy8pnqSncao
            A3k0F+nKsufJkZZdZg7A1u7Uef2h1iWX01IX6YfawtpgPMObUKK0CZ5UFb1F
            /Dczd6rWANY0wLopmpE+sV8XILOhUQKyHGQ4AUm3XRtmd7Bg80xM7TAzirpO
            IEWuul9Jg1OEjPtSPGsJWHsgyyILVT2FvIPmTv14KanWYVP6mt5yhWuBwiIq
            kO9Bti8J5ARK6x1lW1T7tndLXAGvk9kezuQV51HWZx+lurZ1jqT92UYK+Bu/
            E+62/m6+WEBszOyrqqopu9QyHJ810KtAER3o44/pOIU6e9LBYgrh38/rIy/3
            3Ey0b8H5E+l2QCcQmdsKAQB9eSPQYcJdviJv6mBXrd3Uzal2CDkI3iZ27D2p
            Q8W8xZ08ENSLdgo8syg1vUQ8UWSIwwbIzgFyZyKbbQkLvPmM7QIyOjaszIDM
            Z4CcYjzDtTW7tnVNCan7ZA900GvN5HOClTJ7R/UWuytpsagV0t18D5qDg5Zc
            UWYO4toXS70dFelCWGbwh2JeYWdFM0HvS+Bf4LeCLb30iq8LsSrbiO0VY7dB
            f8fufWIceL8Y2tH5gxrTIZodGwncD77HfRX7Ql33broVaESi0Ixi4y0LU/Rb
            0wUQ1VxYnYWgufezmjFsBAQFtyzeAzixu7aTvKCu16ud4l28zv7u9CHSB5dS
            /DWf/e11XatvwBf8OdUJhDqUKlnBIhzh7+tgbYCW5pa4Bv+W9vsWvheIjpsE
            JKWRj+yDdbhcMxFcyzHPfaXCkNUAMR3Mby8X+x2JbyADTLGn2m1hRhYpAJH/
            dPa4CBqSUbQCTRYShSnyR8MbD4DWWnTcillqCFCpdyCh8LWj4ksCqX2RhCQV
            yszRubJ72mC2CNLBFJHXdX8m4YKsY/DdAEHTGpE6o/NjIKN3+780l3hwxDWN
            KZ479iJpOEDVc2Z/H5gzqAxyQZRbJeJL6PZCXwJl22H7ABs6kBfCg7H/sCAO
            tXWbqm+n+tMSRBmlw8AOoebEDVBA3PbFqir+whbsftmBfnYErcHS54HbgzLY
            oXqNBkvDRZfcB1idwNawORsnkB4h5O+G+HcMUz6LLVSGEKxS3h1o7OWyduqF
            VUi108EJWoskvQKMVKRC0VLghJgVO1yTO0jxOxbaXT7mYhGodZsxzvcBX2zJ
            k6Fcj0JJIOjr8aZmUzBTUQyygQmQoSpIHOneGLwtknv7W/tcSZgO743ClHC+
            hNeVBrlVX1fvnezre2tlC5B0LJ7RVT2RyotPXQDqJeg8XtlM7/9tIiQ66d8e
            nuTCuTZRc6kNNGGxSpFdJhHbkIpr4XVaIiCL53dLCZlBA8HStv1DjtI9AmzC
            qBRXajgKGjdy52K6wYp7XfBPr1LDkd/KPLNelUg5pSQVfPlF9m/7CH34WHMC
            036SEK1jfFDyDz390bM8CPiiyuEjks2+U3dho/nnayZNYhbDcnXGVjJ27Kv0
            H3G3GgXE4iMHeGwiSUuHwsZ9EUCYXbfIsbCv6jav46QK9R8/P5l8+PPnE5rX
            f/l8R4bkL59X5B7DX7Y/LSLNf/68b3//PCGW/+v16fyjlJLRL8N+1pj13jwc
            vS/+efH3ImyXkLr5rETCx5714dy8sSezupx84913xjYkmgZ/f+n99IN3iepu
            0Wwt38ft9x+ddCzoWIqbEoXiHOZPver+0YQErsfMpb2H08P9plrZiIT8e/9l
            /xZgsjq+l7y9ziHeFrz/8v1y6O/dXwewdKBUvvW6fsZRM697pzS5PZBeWMG5
            yIUC8HD6XIWdb2n9a/u91/fnnxPQ9mfS9j/328OI7+1maePr/pSm+58Gt2/q
            kkL5lq9rv/DCeLgJAw2QXewzDL/pfoj1JVQb9HdyDYOl6de/E3HOF8BwKbU5
            qKvSKodDDI6IZT12a5sPknQ+op/t+/3nutZn75/gg5TGS5qhvj+7oPUdYOv+
            A+0Wmhw= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
