<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.04f2.b4a1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.04f2.b4a1</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>04f2_b4a1</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Bluetooth USB module</string>
        <key>FirmwareKey</key>
        <string>04f2_b4a1_v4412</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>46241</integer>
        <key>idVendor</key>
        <integer>1266</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>04f2_b4a1_v4412</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvonMJ//V5lpRTifnKF/5b
            /ZFSCpiQIy88i3g70cujVdUdMHJeXfFs9wj4K0flkxY0/7utpvcd72flDOdY
            L5X2/N/wR7t7VR89zJf67EPASNO87GnvLparTv5S+d7uZlDzc4R5phpP9LgH
            9s6h03sOxi7R9zXuGlJw7JO7e3F3K/M5Vqns69z1rP3e7+/DvpbJ0WNuxl4B
            zJmbR7cNNiO7XeqrPGfimPZfNdfqVdnU9fpXNPo2P58fNQwbx9fzvMcXP5+n
            GTRDXfX7qB3gqnrx+nbPYf9qK+Sw5+6rrT1J46utKwV9ML7GMtOMNtKveva/
            +VUPNplaOL/646s9D/VqH+XvtZifz33lKnD5Pp+7sp/Hz+fooOqP3/Ufu/z8
            pby2TfquPx+CP+mrPE6c6s9f5VGLPY+/9LPbrv583qb1p3zVcy6dTWyuaz6f
            A3rE3Z/ZbQf4go380Yd7H399i8VX31r8fH5D0fld3ttJmvXzeaxVfZ7z83ko
            Mdm5+nzul631mr88VwPnV/kAULWh3PoY+7pxw+dzm0Gt3fppT15f5W/4cNXP
            5+h/tyN+nc/nPRhI8cfn81qdzq+Pn89d2+Xr5/Nxl/+q/5hW/vyqx1t3jhDR
            t+dzl9N9RrQDAqHRZ5kbGNX69W1t2j91fj5PqG334fqc8ywweX3Vv6eEc/jx
            PEbbTPlrj4VugKl+7SXD9ByjkN8va+eBB5/P015rbM2P59f9fH4+d+G4gfTH
            8xfM/6q/38/rz+2G+XO78fi53Rh/bjfWn9udX/VcL7j6+fw1P0k7IBbDzp99
            2Lhgzp+/Xd993nBg/aatVX/z/Kv+tBH0+VX/jWvOr/rr/bz+pvxX/au9qA3/
            Mbf7YNf6+fyGh6A6Pp7f+L/Fr/J73tpXPfMu/1WP6y965Ofn8TfP62+e/6b+
            +WP5WLQDUj73Wv/47fpN39Zv+rZ+07cRf57bUX+e23n8PLcz/jy353f/4+v8
            xo96Ng1X4ufzsfcGIGL8aa+Stvt4Xl57Kf50futX/fc8pIgZfz4fL/iTf2oX
            cObzeX/BmfxTfwgOn89LfcGN/D3/69IOyHmPHRxJ+TiP86YHPp/fc3jaN78+
            j1/Pj9c5/fn5/Hq+98Z1/Pw8EQ7EX+f8+j7XN77+2ht3P8c3fNvP3fys/95j
            bv4G1xw/Py97vHe9x4MX++m52/Nw7/X7mr/38HydqfLTGSHHuDFOFYLxdqCG
            8YbOda/RoYendkBRq9UoWQzXgdTxYCsDikSsTsLKZaxq+dP7VUmHi5q9jk9m
            aXwxVzd3no7jzQ0db+bx+/6LjwWwi6TG3WuV/51//vj8Kh4fLCRmPH/cl1d3
            71NfP+7bm5XdEL1/3I/X8G/oNj/v3fwY3/Tzo4MzzPBxH+dHh8Fdpef9GefH
            AM6xPu/ned9n7YCa3qdxnR+DPfHv4/46r391f3Ttpvk9x98r8LHFX/NdviQC
            7YtnH2/8sGfunrF7pl54Ys/MGybZTLxhjo32HuU9ms9rMRKt2f6rOWzK052O
            p8kfkVAyLGdnC9VKHvP49XofULoKyPijn87hp3ud9jkfm/G5EzMlITjMdjYv
            SReiYK/XZOyT1qd3PDNjnWijuq/tyjJuTR/tXI3L/tRR2wEt9cd25Qg7yo77
            rrNf7zvKNt6tAxY0jb9ltB3H+Vrkd5mALatF7mh4zbF2z55l4lnjusukNjQn
            7cTmeJdJLWaTfjSUOa2tRNnKq3fAve19N+a+s+/BlmBPYLfUQIRi32Md/PsL
            jGU9vigzXjY6x1vrOdbjfJSpgzIW7LW0MDpnc5u9i48yDSy3eM6EzZX80ChS
            dc/RgZwHl7PrKXPUjReeszRcDXnLajDHNgL/OdtzzTzvWepz9E0zPMssNHRq
            vqZ2QCevktH1OMfeU2j5XR5HJ+lQgwfE356H6Z5zBd42TpVBFZggozQ/+u+O
            XJM48toxxmhlUvwo48BPFhEzmLKr2Fyt7K5HGT8oC+W6cD4Po+DSZ1uhxXeZ
            nMeWsXyUieVRpvRd5rMedq/w7BSi2WpjX9G7R5nsNvDpPKa7rTj9sx5gSOBK
            1oPd53Y9AF7hUaYGchx77Va3U3BW/zhxgEexat17uY6QbQ7L57i6q4AeUbKj
            Y+457N2v907P3EmDIl3tgJFepx+1lkddwx1AtE4yIIKgYbRpqI8yAMHgancZ
            33efanicPrdaNOzSgXDGtDkC4BqPMiewk5XBsuCwr01/P8d2rbn3ENZs7bNU
            Y3zMkQe/lQS3G/eZt3msH3PkXSKk50ygrbb7Uz/a8j7VYfOI9YjL+nNRlPIu
            E1qt9V6Pa27I9dlWbLUn1ZNIINm5bZ9tpRyNc+nolt9wBND2WQaLavLcQQF5
            tjI4y4895EuizIj77OSRsfkZn21VRzjpbb2CYYEZqRvoNkY/0wN++ZanV/m6
            BFPmzVuqTDDasvrisDyURXcgrpl6PrHpMQK2DixLQUYAHAmYU2BE0KYBWCmS
            z8EuqMARPY5/t/xu3aiIxDm9LnLV+G/Uf6v+q+fvclNPp54ulV4qvepnOfKK
            lzixw3QtE9szXRd2f7FyQXoRylxNYn8tXkEBnFfZRMs/+NPu69rruhcWv/7Z
            3+vbat82R6j1z/7s29b/+rt1ALV88y6k3VVP/2d/H324v73+2d/Ht5d9i932
            j/6+v+341uTdJvk1/vA/9+Q6jeD76++3DhLHG9w1sfJp4jwAHvQv+EpiEPcN
            GwpsRJYkBqiuGIY+ixeLBmTreKiSoKdff/2t3w+t01oGu/2meM9kVIuPL9JZ
            FIrfFHBNdh/2fd/37YtMr5INpxb+CSM1QDOE/wL/Ra3G4Dj/9fe3ZuElkX9w
            10/O/puTnvXFXDrjRr7YhuNTAvATh77Luyfj9Nm6pDYvFeiP71/S6Z/fn8MJ
            ywIT6g9g7eLfQ2Ki8d1L+vX5S1o+tpT8e37ynr+tLPrl/fix/Ta0A7ofVJm8
            JVGmZahbUfprWzZXt8T7e6y3Rupsh//p+3VrNx6ayQ8e/DJK+Xdzde+VW+P9
            /f2f/v1pr90aiN+9n3t+fhHfvNbSNB6/K/Cn8XHW80Oi8j06t/fa8Zu9dkuf
            f7eXbym0+irZcBr3g1/Kxj/UVf/w/g99qX84F/daufYfX+v6/3Wtr//aWv/3
            5y8E7YD5bT/y67+QrK0XTAnBE9zc19eYg5X7Ln+GeH5N30f5dgFjJeIru659
            ncW469O5YNQTOA3as6ybE7dr3tdS7Frdvr/se0crGH5/2fdXsSsI2fRTf2c6
            xIWiff98fveX1Ut+Muzq931cdi3FiWtaKzrJUvb71ewanL2Pyd7XZPf3PPgC
            vJ9+2NPXHseeB8n0xq/lcvySvL5PpWmxo303jQ5Y7okz3R+ud017DGBRms2J
            6z/1ZTUnzu8sdr2GXcFvSvIQnV3nOBdo6ctWmrDMRQKQEe269v1V7eqiS7yC
            LdA1gnb34uzC8ltGeebh7ay3Gn3qAewszxOoekodHTW5Ekc6kyrSBORbsPsx
            hW4TAhQGs5z7Mxy6z925DnI35CModWN7ootGsHvN4oNOivses3Wa1M+49UA9
            UBBV/FE+j6i9eoVTHGhJaz7P3BWie65PH3HxQPz1d2/pdMaNUy7M/ZmMyx7u
            9JKvlV1XmqKMw5iyTittpWcbVBg823AtaJ/1ta/Jyl9tidt2a5af6j3DzM96
            167n0U78aa9NcnqPesGWumc9rc3rs79LagFH3jDKHCR8wq0lazfQ89G4eiu3
            4j+jiKvT+Trn8X///nf+21TWNcb/zcX/0h0ATst3kIL5P1P/PP76G1xZkKo+
            1LHvhHPq2ndTZlHnvlsqSVlGNNPP2zqmuP2svvnQzme0aI7kuc+DMg/dZwHI
            FlGr9EjSpI1E6ZKbNDGmXeZyoI2yb5Q4SSFVM7BCkYbFs/ya7DEwHKVLnQZs
            QwRKo9ykSG5iRrwO/U0mXQENMJLzoCmXZIPZXei0w7XGnNxVYrvWia/yeZXk
            LxsNIb/zPqMvYZcLFAp2tVU1C3O5tswIsLNZtw7ZDmXgEarY0afeQVPESDPo
            nOtVxrzataX8M5oBQ4hbphO8FPMefT+zyA7NUTxji9NkQ/q9tpzIXZQcT3b2
            bFQxUEx2odorTpGXV3VGcaJa9MPmeNlzF2tzJ61sJWF252G/aSf3LCfDMytH
            24G7XKXMlca3GZOar9Pla88bFWmUMwQSW3heWA/oMjEnMuQ25Qq7EOZ+BxK6
            4A9zh7nev4OnbZtPNRXP+ePzyPkGeo9cC9aTrtNzTqhaBRky3VUvolwaEKL3
            tC5ulWQEDRaz53sQdzRXcBFtg+SWVQT6FMuVHRU/Xn3Lh8e6dYm3C2l2tTE5
            7zQLw733ex2wjqtg5fkM08o2WMd9b3tzrFH/+jt0bgRuUN9cXaCKsZ84350K
            4ctf2AH8HhTUif550X64B0twxnrZBsG54u/vsvlR1gV7N6kYdl5no3qdCdmC
            8uz4wG1qZ4f3kboa7C3OWZ7ggkBVVmfnCpyEaf6mna+yTLZ4RtftvDnnt0RK
            Mh3sI7+tm2RsQu3MoH7pEL09QlR9V41S1NdaKVzyoOONHp8m9xyX0f8evAdP
            Ek8bCNNE63MJWzGAGbDXKEMKWMMZA77ox0R1DecweMw4iOnle1ik70AQD+wd
            imi5fzzOz6TdsB8B9F+IvrtJUbU4iO7ComNCd6jDn777yTovalG4buwL1hVt
            ZAyvWVsX2vR+UXJ1rHrNK56ljqv4hbPvQDOj3YAJP0/7jTN7nQMcT+DcFyr+
            wUkurc2sBVzjZTxHLQF/s3I588K8SqnF5/KxSP0qV6cV76lTRrcCPguNMML6
            itUb18C+w3wc3uYjJU6GvqE7TGa5lAGnwVX2DWdHEKB6wVnNirRnYRoMOySk
            oxWpdPh7LyzMU25XKWM0ShGxyc2IjLJu7gaCOLdSBeytebSX3Puw+mYEPsQ3
            ZJWPEnHyco11YOMWwTn2FjsQa7HcOCmbOLE3vdO5j+b4ctcZo5doW1iPmi9p
            JQC+ouEbrElP8SruHJ1WMKgk3fttt7moi/EFJ9+dNIAIPLMT2GShRF1Y43Rd
            91y3pToyZTPfdQT/ax3ztDpceddRu9URjh/qWD/UUawO7qm7jlKtDiKF7zpi
            /aGOw+q4xnXedeRideQf5iOFX+sYzeogl37XkZJwPxZwUxFtHa86rh/q8FbH
            usYp3I4+rPPI7TS8OA6eF8PFEevfL9qK4NBg1WSVQ7iKPV55f9L88iQfW3PL
            tvecB+pjT0cA0V1So1fHCHd5XS8i4tNs8CvOOMpF8ei4jwuYA7gD9VWMofYy
            Gw6YS6u1K3bnS+U9+vCqk7BG/Tt3/6j7AXqu+5nzJ60A3K0XAlwEDhrt7svH
            t6SXKtuuLdVdRkZ5OOfe6JD7PepshAd3OyzznKcL+AcHRvMyibu9yxobjUsA
            MUkv8WwQemAtXZ7Zd/yxnqw2Yq+uYMmCcHVedBy7Ot51EQWBNVv5BTyEWSnU
            avp1Uofu9hmklAhoHvQg2mQdIV+kBtEPrbOrPnfCqMYzHY2O4xhZlmd+UFtw
            kBahbbfEEXzL4dQO6ppaRNBzkc9uy6gGGNMA1qh/V39mxPiwt0TbrUNXbi1+
            dWJsiWgI7aZcXT+x4xw2eRmcR+AJEKzAagRgWMef+o21cg199RLvsQzmNmBu
            gZRQFwA//epI8p3ttvX0oJE9ZjrGmE7s6bTXqjQKrWx+SdgADtIRoUvLiN5N
            zUciCVMl8Z/W38W6ieGraWlAmWf2gwbCoGkv9QnrPQEF1DbGOgBAzwtwlvM2
            qyMvIUvB+Jq3AhhNN8eEE6k9UNLV6eZnulhfC84Qquf3pOEITJokNMCf9HaL
            cqsaooUkTiUUoniV3mOg50CqhpsOG07vSJ+DeiAct/U4XcFcC7k3nEVaIIAW
            uDAnF+mbYO04IFnCMOzdzj3qaUJT4mttcATxvtJiFggBtfM3BfETew5TjMlG
            e2mvx913SsFCAemZcEY276CzcIleiKDfSS534l3P9QJ9kffcsxzokZ5JkyYP
            umEFrkda9BrBdVwN9AQnHluf80ysDPKaJ4TwwnGPYg/iLM82HLr5PM9aE8Kv
            jkXE3my8b+zbARyNe4LW3O3skQdjfxLpHKxMvnmyYIpkW9+MHRCSzEVAm584
            q9wz1NuRT5La7j5nIFJu2SlmV7j9xsegO0UjAtzLwRI7JW2aULTkjEZzAq44
            0ZYBrQJ71E0TALORTgXgIy2d+Ux06753+97tey/6JZm9Yo9R9ObV7B50rtk/
            ObuSdBTd2vZ9E30jS0Tslqa9vWmiCzRDppERZZ0TOBL9AgGcAZOadPCtVJ3R
            uEClxtYc59bd5xY0K+f4PAwWkrMF4YmXjvYMzmC3N41/lqbZrzWXYATGjtWT
            0X/cNrKeVl4lB53lSIGxrSF9eLEHBtccZxz7wQ0Zu+h5xRqeZwUdDboWfOjs
            R1drBqcLz+6gMh191J4/DH/EtbgNSAnzvhCu6b7RonH/HoJ3jXu9Yp/Uea27
            jDveZRbhJulDYD8axWI3XY7OY+QF6TRsDs59tO2AB6oXlBqFDp40BUbS9Zv4
            r5FvxB9o0N6vtd8BE2afqcmoGNlcgefqxceDb+hHnYRDnfTexJkirt3wEbT8
            Ze68dPMji4WzB97iNX6jbch1vfAwYRw3k5f9GvEO8ABgfljj3HiogEiQHAA7
            QHtybV4JmGw9zwtWW/dlGK1t9mEX13veOK2YR2eXMe7GsYK7oGVAI6CYjTdx
            F5jKYe69STvYSkZPV4KiKvzQ9E2kOWwGLI7cr1gm7OOEE4tn2M8V/Bu22qJO
            4MTfFUBFgG4hXRICvz1IZxiMpeQg0LAevAzYIpwjIC0QtSWDmwTFR7xDozg/
            h0uzUE4BEnn4NCXlmSgbfukr2NyCih3aSPgKjJvXDE7i3qtKCYNuO9B9zZWm
            9448HbYscAcYAN2Df5YxrPsoY/wF9iFpX3C+ON+kJRsh2wKPQux24YyTc8YY
            wPKKjsE59IH6X5G+4PqtDJ+PLvqYtNzQ+0v+keLdZT9IL8jT8CeQv9fWwNnD
            olOoVlNG3eT5xi6T7QyNRWhErQ/t298W4Ciw95DtNewxwdZRzWAezObYV+Pr
            Nh/Wu933tQ3rzV90uvgJGwJn/KL+FueUdDyxYQONzTGw/zTSDISa3pPmIK0o
            nscBQ2CtWYfH5Ni1UUDRgAAdpV6ZpiTktICpCHt5rkFflNIBXwdIAPGkC2z2
            KRmRs/9d+7/X6/d9//zf8fWGVsnls4+YxeG5KtXOdMAo8gTfErC/H+VwTqxc
            NLgACkM8R0koe4DHAQ3jsV78hgI1feNEZ1XCKdeu01Fss/kDT1oP4COTp8Me
            pShLz4l7gHpHJD3BYBOYE8meHOeYuKbcc0Qvcu6zAXrWY4GIND1Pwol9u2Ef
            9nSrzTheyQ8cutIx7naNVFBHBvEH+A1Ah32cwVVmSoHkNURYyeeU0V2AE4m8
            cLwmz5GjphX9jP4yuhR9ZbnVSGcRlgMw6Bhgv2K+Tm67tlK74fvmdd79fPdt
            sG+Ys5mv8YatFJR4yY8OY5xJRwZQi9eoJpfK0/Z/2PJiwVSS2keXXjjsc0F8
            DwJ6lc076+xhP3cS5gFUhFdICuB3yQ1f8hM1ff71d9pqfKxScpRTsxR5Q04C
            8WTPeHxSGW1rR+O9KFFuFF6LV8JeCfF+l0+SHiCwASsGMLoXDQ0UdaXQGbCE
            MlvyPW4CNlQK4pv388xSqi66Zsl2APDUhDQ2D/2SnGWdW1ZBOHbqbONj0o8c
            2d67OtcBFNLmz8EUjJd86THnCzsE83YqygXHPyIBNIYKYuXk3rf6XOe5QJ0E
            y1t+4eY1QhpBZUHb+iD4e3ry+XgWD1PN4ncGWa39KFhLBziy3LiSL+S+xflY
            hLXYbxeIqUoRhGijSoWu+AyHGkIMl6fHMui1cTkZevOcNeMxQUOQn1mUO5su
            4tZJmDHPtiPYY7/3FXldTwC851U4aIlEi5R3MOACdqQnTVOwp4+XzEPmyjan
            u86YtUZn33WR7nWAP8K7B3mjh/yEIUyC1TUfdS3wK89+piJa+px7jYz2lGwk
            RaPWU6WBaI3axRSPyyHGn6ozMyoNeDyCTa6JY+e6wXnqUzr2MGGGTyaj1Hzt
            +WsO9GU01ZFwCDko4G6wCpVyuU2XtClZE1bgBMyLRteei77qWJfo3QiCNUN8
            FHgeyhKBSJYF3GgtOxFJjQqQo1G+7Ba/qfXqJ2hy7woln96X87jrX+kaxEFi
            mzetux2YwEcwjE1RVBUaVrj6/o78siPdX8S006+QC6T28L7fPCH72M5r7j6C
            wqqHeEW2jf2H53XT/aCCN0xGH89aJP4NDtegOcoXDdHrRSHaEh9JuoKgLguH
            Gv9VGeiF6oRyYNQ4JCZfn+cpeEdlDliitrAfKo1Eo+0HwoEFmk5XljpzaxjL
            XNcUvXvL2apkyc4rxg19RRgRg77TJ9U74EeBeihHYxlFYBHXhXX/LFcbjqf2
            GsA54bziMyztNYLMwf0oIf4CVMTYLxoO1xR8Id0AikHuXoFlv58DHwKS0NkG
            JPyMXW0e1qb30olpXvEdqBxKaPHMmayMcthCMVV/zAu5mQRUSp6edSbCd8Hn
            AOA/tGZObWA0OKuAfaKTNW/g5+QkivdJc9gP7G/RknEl6UCdzRGAwaTejbCD
            3o3AGK1WkH24zgYSUrT4SRug97d7fnEGX9+OQqSVEr+LDXQtw4JgWyRa6NLH
            CGz9lqlozF4Wf+54ycVw0HUm6vCtk+PjHMilOUt3AHjbe6SbWfaUx4BWI51q
            vonehc0/DfpSOKOXuJcG+sjzRfEM6T3S2qnZd42UnzNZ2S0XOeMivsmiNyuw
            G2kH4sW8/TmzM0vrpLkvVjcZJtzT0o87EHNN+SeJWfCbWBvN7ZWGyX7Yrw5+
            SjTKafcjX+AEi8z7+e2QTeZoZUZ9j/m9hMP39+3+Pu/69vcda3ePZWEfk9/J
            F+hbziwZG6DpovAnPjIIV6jkC84uGG+6oT2vtsbg6gb3MnAMyC2TV035ouKZ
            E63QKc7QO3uG85g75RaUlyXQ5iHkLaPT/nWsg8ZZwA7ilQxZ2F7WnmX91qbu
            5V2LPc9gVmmgPcf5wIp2a7e20tW2VIho2+XXes62htFtIObAty58fT5kw5VU
            jMtAXfgDBK2UPmPrEO/5C+g+UK4SMO+lJocD4EhAgdAEH4rfZwhgG3IBveQW
            2MB+0ZASZWfI3dNfgfzEepcTmwAQ9l02oCzPUaUnBKky8LIoNNwAnTEJlEEP
            ukw/3zoxydQbUAeAvd8DeRgnncBaGw1a/197niKaoj1PWRMQi6+r87x4nBoG
            kwOvlkEHkZGWTsW+9wY7FCdD80u0oHWW0o9rRKSAsfRBnEFfMZzTYTCXTNNi
            JDkqVe7vw+P78CjTMVR8B8ZH9CXmoK615AR6yx0c6OXunedZfMPJZDKtBNjd
            i2ADaSpQYaM7nBN3nVlWCCavFOrBHncXztW2dVjS1VO/nU1+BN6GEi/MN2lk
            RzDEZ49y9S6Hw1MZGUbtEj+2PNnumNd5y3RyATCJxnPLzmQanezObZOxbTP6
            1k+vHTGAylgvXx+7rn3vsttuOffVvgfvaFA92nNwSN74by89+knv8SE3E3/r
            UzXjogAA4S+bD/ESj9+U5Ou3f/zm8xqO+7e/fx+P54/fqA98Taj37/v5rT8t
            m1c4dp+B6mXDu3Zf25Gkq197bPn4HMvcz3E2bE7u637e99VXp+BtY4AWAdo4
            j089EagdTN97H4DyCtJnUMRB9uBYCZACYJvUlt0Xsrs4fLkUCpz4fb+/x/51
            lD+SDnx5y3u/RNJ7KuSw+/HdlUk3ZYLWSejV929c4+nz3Lq+RjKTs3aKzgIR
            9uir+lmo9UC/AGMXaX6cO6qxMxhllmeEx5eO67C6Vj0LbcPcJDPy5kXtvIiH
            VknSfrQBoN7Jb7sWTbDLov8pFYrV8fAYvQ8mEbQuLUqO7qXfIwiYDpyJd9LZ
            NKpou8v2m2bApHup2aJ9xEGnM4OBjXT/XBJ9dMB81ksdvMzl9Y3Jxfr+zTpB
            mAHcm30MY5ABQipSxT2+77Ump0xdJ8bTab/kf5iz5xoptOJJWpDrnUEJZWCk
            bCEXcOW32SmS5s/fGy9p+mvq87NLTiZOeTD6JveRxo11n4zoufULQPqYxOx0
            dvBdr2Z3rjl3JMxzW85o69hABvWhuDt4Tj1iCOCV8bca9+3CnuqgSwO9b4Hr
            GPUTc6tT0qgtkd40aAzk/6kr4HqBTiG0Ux0n9vJv6vBnHKoHTH181EEYivF5
            h/nDeJ31LY/a7EyBMqPsa9QBJqyvhjKYC3uXSA526bfwlwPhturC9iUuZV2/
            lKXuUmtBCRBANX7zG/QJTAPGwbn84r07+JWMNZnnY8+wDqwzTf8PkqnOzpAF
            K7C1zD/AkE4lA/fukRmgjOc6AYawrHiSrPgNoB1pJ96jRWSlTolhIGQTqHMx
            CDN/2lf3WTY5Sd6242nbURm+OXZEM5dpW3nQkEXnEsQL9jj5f5fDU0YjKQgY
            zUFF1bZLBMYF/QgaP9dhemX2iHIPC0Oq83eYjQrta9DRVN/4WnWSV5H3u80z
            vweWb9jxkrUQzpAu50gpGyEOXSDIWY7lC/AWgFq+4UyW9YnP2zZRNHhw4hkT
            DrxsFSltwXxTny0SIArBlcNgWKJtHgWebr7LhniX3WWe74ibJXsnHS5YRI4E
            OF7xXy+FckkRFOVxBXdR/8sxyjRwkATzYI0JVc8KJHJmWQZi5NLp3zZZtqJm
            b3HN93jok59P+w4stmNdP43xNTYba9pjzDaOFM6cQ/D+DdfTnpP861xo3ukX
            fDp6Nj34d4DBjt0QsA075TWggwqIPxrH4j4BHsieEOwiXell30b3dsp42HjX
            vrnXDhR1ZiSG4ihvyCWQt8N4ZWdDvYb6QTvf6krZuIrlq0P5FkHpxFZ50GR7
            QKO+XW81HNUyfZvFiNMGs9MOUzzbWsDEtBelTJFkOuth1OBa7/WkbamOGG1L
            VdbJdui1Pujh3HXw+VjWFmNTOPDRL3vM3VanbSXbCtYW/ss9cigEmNP11Vaf
            n23F3RbrkA3lBfwGlEDJGWXA97jVHigBwwckcooCCW3bzihYQ93OYboySRb9
            afJJv7CZS73Lqv14wxazxXQbxrgdRRRgOz1pVPqp0xo6HO89g8NttFbaeApN
            Ny8dAChd81uXThR4AzRnTzLrwzMQYIDxFTztevCTb3kIcU148JHsz5ZNoI7o
            pSNPqWy7teN0lSHNpDOjHEpmh9QYLzmNc7ypiS6qt4xV8jr0tRTZPZKuA/We
            ncFdo7+/6XrGOwHC5pZ7yUFlB6J9Mdqtp5ZOB2vVe1yUdxwPPoP38XEvnb2d
            z8MoS53NOrcuoWNvkzZ6tQMaNEnuVyQG4m8QX6jzjW8b5m826UDr1ku2uzzL
            OvJ47uq0hcWDsaRxjDS29W7jnkE6a7p2bFlWC6avoz6xPvqP5yBPhqfM4uaT
            aFjN+4eu32zsLvIXRcea9XAdQQ/VF+5LVv/xwLmVGCrRw6DIRP05Vxf9IKpr
            ST573JP0Eg+AoZiLBg6iOkoaGaLKt2Qyq0S6pPFi95P8rHFZyQKSO4bVWXnS
            TsO1jZtoM9xdKBVAijwtOZiAqxcP7CX0HLSfKYxkZDzyIdkhbUhMJmJXHDTJ
            hbBhgX9XCgD9DKuG/T5pEp9RT3BZ32a7/+kcdNpj0/gB6087tXP/9sS21PlR
            9gucW+jJCx4jUUqD8ZyH6ZkoF2uRkkKPBbxq6Mn6u2U1FMCMbLZ/lCMBMgnP
            SzZ3MooJ/U+uShVCrMm95G7LdEgZa0MbMx4c4yFAZWbABn/N1GjP/SmvIi9/
            10+JxvP9cb93+z2wEOdwnwfZKLHu2Cg7M/0eKQM+O8sYa0lG2QnQNo8YOH43
            G8M4naZDlABkJq9x0Ebb1jf6UAshQxaPkJyTbVcF5NFaMQI89jHXsSfF39A6
            g5tM5N1yOuzbtqj9rPyOlDi/yeRDP8smmeID9rJ/s9ajbbl+ZxYCoMY1BvVf
            IBqEn2Ma7qQtoci74mhCDlyCfhSGCzwpJZyUaWb8N2PPJXzPcvc31x++2f3h
            4aueQJb7Uf6qRBdXMx5/P/fH6xnDrznq86vk8U3B97/K8ZnKAXcRr+qZwMVe
            e4BdGuNQXq3xm7175R44FNEyNpsfT8vS417H2o23nLiepL/7BcgdLkf/VAkU
            UD8of+qlUNZNhtY2nj6EGw9uX4RjGp70fuOAaX7OQPw/4gi/v79lQO6W6exy
            ZUpX7M0fYqRt3yg6YTizzXESlOLUAfdTg0kboCuMRv8qxpyj0w9WzfQjTOyQ
            93cStHrpRGjzgRmVfTkeDMUGMx8YC2TZyppY8Rd9QQkNekAaAWzWji1j9EWP
            h+4D2wfd26eM+pvs6kiPRToci790FpsG9DADOLF8d0Mxq9LWaz9kRbc8K8R0
            x6AxO5IdoVQ2+CfxE+fbeClcm9GatL61uhptxqMbBKPcS9tXR95WxinRFoBm
            FHblN+QJOS/Uet5zQPqhVwVSKhfIAN1PcnJ8Tn/mS8FLMSfGXgFnqn0v/mg6
            1XWiqLe5Jh0N/gqEAr2cRjdZfIpGhDhyGm/fA8M/1KMD3uhZvkSzWFBKyj3p
            W6H9TNlq5tzHey7vKLxx78/02r+0L8Bunq9x+iX/NaxeuHJpjOUtnywiEG/9
            UKisMNFao+mxY1Df5BiKsAXpvUMPVyLvwfekX8MMkbpxehilyhBvRPokwkxP
            3jnuIwu/OsXOBk0CKM9vKXyycfz1d8Pu7/NtY202WcSE8slri7aMlfBo41gn
            2jGlTnODBfqP3u+esiTid6foAHQoqWMMQF4GlPG0PcMtjlKngR+OwwUs6HSK
            STti9xDO9CK+uJ+0ZwG9ajArGOzKFGPRrpLpX3Af93MF7jObTdLkOHDgb2iX
            QZnD1mfhWQL8FQ6jmAnnqJmNEuU6ty2su65TZ5C6WDxVzNoTmMN8n9zw+1jd
            cIUmUXHzdLI7ozhCumDjRUy2W2iWVhXhCefE0b4ZBJTRVYkxC0FaZz8TZWhm
            Y0BYEsIFhIh5kB1FOeUrQC63iGejbon7q+TG3286jb5iRyp2FZ167b1fDtmj
            4V0eohnbjbe110F81RMtetpK7Uh93vY2Q2Bs+fowvbTZ4xzZ7CmA1jRH6zJ4
            Qj9P2kDGacGnZDgTqBCkQMTepWgwuDGe0Gn2Gk4RLt2abz1ToW3piMbXcn75
            O1B2QNVArGajAXApO7xzOb5n5h3ajMdBG3mzF6OnSQW/ju1IaUluQzqOKj3s
            kE01bbOMfwCIqbQ6R13daY9kj/pqEs+3FMvsNDnMtj0kaPL0M9D3R2l3++Gr
            fXe334EvMA6a0ki9sz7LHfkaLMOACKXcflml0g63ZOub9i93GbpUwt033Aed
            LfCVi3Ctyq5zmg0sfeXYL3pKPts7+9VpOX3bwXJMwO+l6uCSrrtGps0H+prG
            57cLUJ1zGNDn+3uuC9ET9yjI3E4RCeuJy/p8yODGh/wxP/KKoqKR8LnMevVX
            f+LuTxvjtifL7q+/R3Xn2nKy5C1Gzd4TiW2QJwoWPbHSPKq0h73fbR9I2wyc
            eisj2+hg39F+Z4xJJo2y9y1fqrvczUsGb9RsMZsXQNvTBAZz+wPGxzfx/Y3k
            OKJXzOY/0TavSWhKdsu+rY9v6+NbZ/4JbBMwYNEgYFKh3Ow7ycP3dzy93/0M
            p+zLJaN09u7KFO+kX+fnhhOcp5xHlx2Cl3xCBCTO74s3J+3B+gt9zGhXRqvS
            tvl2RUQuiXPLctwzJYGH6JSIv8eDdT/vMkBY8vfm/ByyKY15Ln+feyf4Sbln
            uDrhiDsle6ah0ZYZiA7LtPNgjBDVu2TvR5isNe+yUjUbdtYJnik4xhFpqC6D
            1Z6yp+vsZ9jzfs8J+wVUBz5sl4u/L5eazd0rYpUTTRbNZ7MLdoK5Nb+Kaamz
            rjhO00luuLllXIAL160Xq9XeWcwgg7eN0T0pt7v2uwcspi8R35Heo6coc8Nk
            +ZEWEvLyl4r4TY7WOfq7YV90s8+gHRj2iOQtKN/ObWcU6fXUzCYU5UE7mwwC
            5dtltrFay0S4ChwDFCO/Uq9MZ948kczeTPYsOLyOsL936ZF7oqFBJx1Fy5jt
            S1lsXzX6glAvgt0vG4lmfHu4opfNMhX/zp9+yF5xysexkxlb5BOmq4v2uxMt
            O8pLxONQ+Yez+Lof5hOCXoREvOuYJerxvtl7csu673Yf+qJcLtLu4FW22Dvf
            d9m6769VWTf9kGcEkMUBiMTF7Gu3vioUOs0ysUb9rs/Z944xUeWtdlLib+/S
            7lcFA1Uez/32cRkrZHnM0EAB57HK7qfRFhH75O0LQ0kmqDbwk8Yjx/3cL+6Z
            uPGgrVF0pmLfa1H3WlCuAYLCF/oeg2aj5R3oEnqxNsoDCQtBn2JLiqeiLzTp
            QNkcOcXFLpXM0sWta/Zz11T8TtAuYqoYXUD2U+JJVihNOrRO3GG6LAZIlnzS
            l96c6gqYM/MV6pRvebf5rcpDedfVQumq63zVxXU1P/x3XWpL9c8dy2rzWpds
            Brxb2+5YOIW6lipbOtlpkxZxajeIP3dol7wPGfl0/x5U13Jsr3sqMRutr4bx
            CoVziOcJR7BufnfGHkOj1iDIhq2LH6CtIsvwHWNaOclwcXbptEdPSfnrtDal
            s/PynjS/qJYZX4rzKaxo9qPXhm2t2phBpykDVwHNN2np8aDrZFMKjhNwt4kH
            w3zMQpmIM5uXYnZ6RH+0wWzUVRyWUZFjCowX3xeoWpByjFhwYodM6cX9TTNg
            fhzza2BPF09BjGA++JdyyL6ettQyzJ7iC2lfBYwAONLcHGgbNCqo8RVML+QA
            y/iNu+0RSjO6FAzQcKGb/8ctD2P74kVAP7GPpLnUT+qWiR+mzTVjn3RvOlnG
            XHk9n7v86ZTVj8HwGR2D+4zngvpejQu7jrwOcazmYrfNd4x3P2ao255DMWUj
            9ji4dcWTcWb/jn0WKeSqOBPcU6mBR+iecVycpx6YOqdIhRLlACuOVIPT76k9
            ymujjPl5peddZAB8xVuhssxLP0vYf1TjPSiJpJ9AvXYugtNkP7Lksmxcul7b
            9zDu57Rktjhxdce12Pay2GfY9PQaUnwZ6UtPixODTdPjKT+xKh3K/Zu0keKX
            HPLFY1wERxjG/Jrgw8AGjh3TgLowT9kEdcDc7bKb2/dG7xaNNx52H2mpWrPo
            ALZHvrRSbzZNLnPbsNNOmLGsSZlY1j8f1tv++qLdNcew6Hd9yve01mB18jft
            pcuM5x174fbh3X24dVrkbeNsg+etmtLEYjLQFKUk89PUN8lJNhMskyio+pUm
            +jkzY5e0ab5+wc2uWECytyJPWcq1ZpEvoqOFkHSmuy264N9t2Xfx9R3p1ym5
            Ip6pjThf7/xdZ3Sp2phpC0Gba9m9TvoDyu6yguh0tpbV1rLKvxCbzfAdv2cU
            hJQMtkaXhZukuprecS/HaPxyJmyl1q4Vyh6aa9uHycnftjBVSQyR9J4yETnm
            vzwVhwdvvbv5btVDvNl+/05t+rvNoHxPWClZHvRe2v0d6dIa3t9x3Sv4k0EP
            4W2Xb4mxaC8Zw2BsnT2PjvIEBvPY9ALtsXEvv+2L1jfD+GaP8eIA1T33GDHG
            XzxBL+e8VbNL93JJY+D3eAnzL3+W+zezY8zzfd+1V84iXJdk4ytZdHWy6V90
            f5FBczMfKtAone8G9jtpQE8JniIOBPUTeOXC2ThsXeXMI/4c8LPTtpewjmsp
            vykJRTzfaUwkCJ388kgAWX2+4lm1Z2cNVi4wO+h+Fu2ZO2XA39v2x6LtOu5f
            czz6NTXH7UWTveZYtA32PRE/9y7lOfdev2kZ+Q1gmhiTCCRQku10jNqT5BSt
            PCj/ZJkXXnGzt05ZvKnZAK6n3YrfPECRuBpr4q522/Yq/hDaOuunPd/ta0SI
            4w/j5WnXoGclWiyCLL+ILtkW5v9MdOs9qWNYikcx5OdCrEn7rfp6xvOfsnSS
            r2eMe8Fndxwvv2xOaU++3nEhDoyFRl6hv2mJE1DhZJDtlCUj2mehCiYDugD3
            0zsusz7aQyggKCDs6xnthw/Theqbmhtlb/f7Qp9q8cKKb1DI0bCfzzL52mXq
            LkOP0TScZKBaoGVjwzyxnVlNfsQ507xKdGfzO8WwU7T4Oe+Ju6B42boQbzJG
            0KwmG6Jebu5zSx8zecVsOmUqNEZVW3cbVs9n/Xe9OTMMEs7vAo8ffT77W/9O
            Gpbjm5MpVi5ZI/KZfOqdfP4Y7My80Pm+kBw4Gf0zWj8ivglqk0FzL6UcOk21
            zh6kzEHSh8zdMs269fy3zwegY/HvuCBXn3HhrGXSMJTxulZcaaC7yqCXXpaM
            ZdHPpVBDyzAQZ4wYVWZ0A+r2iTOKhIGRoy2eNHIpTAYNjgWsV6a0nSbsdAV2
            TbHkFKCtqj3nEmPh0ikeVFYGJ6w6QVcpC5ujVyA4VMBp2q0/nnnq5ElvMqoR
            MElj3861KIx1jBnFd9HFJFKahgogdjp6iVORV6Y8HIAeLRbmB3Qk2sBLzPMw
            v/DirB/UPNl17ue9GB1v98D3J6PyFjBi5rv9LM/n41Ee3QFrzP4Wxmeedf/W
            XgcdDx4hrxOoRM8pwxBdW2cTv1BIu5Cmp6HkpH/xlH5k97WMue/5HNDSyf//
            VN3n3FlxvXaEvVe/9I1zI4sv0T2tXK3u07lT9nW77pPGtoQg3dpgqG435/7d
            H3WozmOP/aPOu7/tq78MFXXXVVx/fKu6yk91/dC/pv61/07/7m/+e31TPecP
            9Zx3PTtWhrcykTGfXvfuyLue9zf8/RjXeY+rXl/11J/r6VU7QPE7/qfq/O/W
            I6eSTtjB3ByCGSUooo3BDGaHvywbvBOe3vegq9z9jut1P//93H/2S/qDuusk
            Tq4xMVFzUJiJRjrjVT/PoBMf7yU/lr+IYjS4wXfkdaXOlv/jSy+2s4y1zUe2
            Zv4CmwfbccgVhNK1V7/vfcI2BCN2zAeTidrvYHGJ3OZXcAhoL0VZD/vEwHOX
            rBhA1k+yMMRdF5BjdUmaIs/UU7aHZcep0nJIwi9AzT73u2m45oYv7MuG8/IR
            Y1spxzjKeJXXKUSpVx39WQdQXTL4qFDmBd+iO3SG+vg+PL4fz+/nuw8To9h9
            CMBKQybgu55i9Yz5qGePhfNq39l47m9z+Uffnvvbxu8cUy/RV9/iaGXr/7RM
            XZRFEJ4n+3akvY7Z4iSUDBz4KPdvvy9f7/fe8BoH8DPhICM7dZ0pKtkCcQFt
            I1b1Qxl7iRfa8BrHeZ1jbJqL5o4MYReL4kbtc0LBLuOqEBmT65YyblCnpnqp
            TBYuPsCFhzBDq/telqyTbvegt+hDFsy2nPe0Y2JQe6pBaJtFRpzxUml91c3m
            vpGmZiQI44k9I9Mywodr8f2euvApvEbvaDcpDzod+0EjkrN0ylQpJnz0yQ3G
            ygxsW/521q84YmIMNvQl/dSv3LQWr36l3a+0+5Xs/Lz6FXe/ovqFk53OLf8j
            LJk2d9H8BAymCJ5FRphY9YYrc57FYqp7KdiNhpMh+KLtIftJe97cczVbziY/
            lWhgrkv+yHgr2B+yKaP9r9H7SiVWTmySZTpiyhjv3+BJBmPMnUxItusD2z76
            /k09l8oyV8+tiyqgZ9t1Sh9G88olvz9GScv3b8YuIi/H+AVm993lgU99ps/g
            yxk3ASSx2pzyb+msH+RjH11jqZRxcz8e+WImBdous5/05GAwHs4Bsx+UTvko
            hUyMikZ9WKCVwfs36ya3SMLW2tt6AdCEm1Z8xZYjNUr6XAKeTGdXvudJysc9
            js7IkuCHGYA4zMWcdtSkVrZ3mu4Zk0GjOuwlzaP5uHQmhnAUPtIteiXJqWkJ
            Qj8M2qWGOMDFLVov0uqoBcmX6Y1eqEtCk/YsrXDHJZ586mULK58Tzg/biI/3
            YIf60dJh0rMT1NNJSUXDGgbGpe2HxSxg/FgamMlW2ynag2TwvhYFGxrD4gqE
            GRnD0TFeC325NS9KLWFz0Oc1pj8Vz8VjcWpNEeCHdpGBAkXu//s5Y82oHxYb
            m/fM1VdlOMBYiIOeIbKTqzteZbB+BMZc6i4M0IiSw9C2Sbj8mPjNxBiO4fRi
            53mhT/OZwBIlrafpzxnJkyZopnczvSE6M5RXGqhNtu8AY/ssMvKGV5CjwkCM
            Uz7ylK+dDO/8iBsIgAyO6WVnRlsx8s+BIb9rUfxCyl3IF6bKM0BYte/jvvf7
            /rBz56rdyzaimu0hdVKyQ7LQDTQHvdCnJnifrqEr5RAOs72WYxLCg/SKZXV7
            0ShYGNkEtk3LpG42Pei5XaNdHbhIvZ9WPu3ngPp2vW2Bkl3brjfTGFxxle37
            uOM1nd7iMd82VJiivn150+N3BaS5f5fH72ZxyysDQDBKn+yHrmLzxCOIDUZ+
            yN0xJwV3ARdzl7yQWSwlr972TEG5UR1tHIuiRfqTxsgX7bWqO02jc+zvnnXk
            cYUoT7uTtOHRd/mTcTnvOEBUp0g/KGsTdyZrC/QPdnNV/A5g3/Cv+nq3Qym3
            TJNxdmc5pUlknWvvKcYXYry5R58Zx8ybvpBehSYv5bNdp+sq746F+aP1vp0T
            HKVHjKW5ZYggqgiyhvbTYWuwQEAvzyDr3knXg34Ah4zvNfjdmDj/YX/Xss3J
            7+aC478AFe++4zdAknxhymScc025p78oNhpjMlgfQcFIrDNxjgEzGmWueNY4
            D7qn3lFpGE8wKfQNZxAopTnGukZGX/FMDkapIw00cU5570j4046Xjfgd/4XE
            uVLM0JjRmw8MaRXeR+2FyrjideOXNChDo02xUulkF1JJA3/8H8OfEyZwbrCu
            HacG8M372+6Pf7TDPgChnOi3q2CuGq/HvDp4MkpiJW9i0EifSsEfaFoUy0zF
            u99FHH3acs3WKY1qJRJWhUgbudVkMkm0ZNZtBIM3L+Qu6ltcPBUHt1yjfz5n
            fBqeqGDuQCafvJg+CXi4NjkANOIbxUgCFrnj/L1h6rGOFt4wNgPvBub3Asep
            804RdGOaACoNKm3WFKuOMZlkEydTPNmWe4v9NhgIHRv3orqtB8bWdjT9ZpwE
            ksyAJBY/uGWzVU5K6Ir6fAPq3vG+GMeIKsM+ZJvL/L+yxeb3YSiEF/bNUPwH
            2iVL9oCVrvteuDaucLdhz01PpGeyVDiP+/lv2j+sfUxh86azon2IVxZixg5S
            bM+y45hzjxb/ko/qvBI/MoaMV7wq6yPjUm1aoFHWaIa5Np8y5BAfylC9dqVB
            qXRPUflPGbh9BcaTq9S4NOXoDSIyqA9ljIgTvGCuwVkcMLft5Bt5BvQBvw/K
            E7CJQp4Wy1BxKpLFUOAZo5RF61hF35FkacQP1NqPtMs2JT53pE3qaXNx/+a3
            7pQpgXxD9ZzxRjP6VmkoqHihVfUUKjeX1Zkl77TfQiKKt411D7TrdRo37SFZ
            j9koaI74m3GdND7GMqY9AfYlwTpj6AZv8fDRadnsOvAMktGCd5PTDMq//Qap
            0qs6Dxdh17/ZFu1e7u/Bs9DfvFqUWMnRcOorec845K7mFHeYbRxxVq4bdd2n
            eD5SOLZeDFokGwG/x0MPOay/aGNQt3MG+Q3QdeZeB/5m3zIj15rvsrvXAtyQ
            bJ4NgHNxf1hz6sg2TRI2zTGm2SOf2y75nEZrgDgTwm/DrtiWwbKMW7l22zFv
            2ifdNE3e100b3bTSN41z00g3rXPTRjeN9aKZvmirFdd8yo36PC13xX5fdz03
            zYT50t5NjO8MGpfnN1yX/KbpVoOGaLdKfkm0b1A01Syp6NZ/WObtr/4uUD7M
            Jne8/BMpmVacWsINWvZMlwFXsd9Xs5iimrKwkmvGN7iyY2xRXYO23boUaxHw
            cEo/Zv61JNzBsVodTr7FIMEA153bdrDV/MNpe8ecFcf0Ftt810v4w3o9dS47
            vwVt/kIOIW0f+7lxiTJaUvfpGGENPFK2/BC60rZFqWQuMFBRsW9lryDbhSg+
            ErzDJdoCZ+q20SAdgc1bGhAF/SWzD6HteZuMlBAtH8vob15gnNbuaPu6dlxW
            xtA5VlesL0edO74bsj1khHH67S/1iX1mBLYKFgJ/tL0Y7g3LmWeAfUqW20F0
            AWlFoqY+7R3WAUTB51h6s3c5UkgEHlSy5MAw/m97C+N3jtqlo2D84UadhWJq
            lTvWMQFTaJSLMX4Z554x+G5/HIuHzvjkjH9P/BRB0l20xqA8I9VaLqAIxbsi
            pm/0XyHHcdIe6rS07TtOGRFScor532/fTtZPI/XtByDnIPKFtOktjOdKez76
            MQl3MXY7CUSbP7DXToHwBAs9uLWT5MLkXmYk0gKcPLroBYP3fcP+Q3qvTI6U
            eXLK+nnPAezSYPvSXqZtHsbIIOIcK/XfvCdJyntlG7npLbqNRhsb86ckx5ik
            aGuulx41TotJr2MiT459L1IYo44W9516cdqVTeVI8TWc4Kf5PNtzywMpExhp
            FAPjFZG6z5JFZx4s/WYQCuAqrlmnB/6yNaNHamasd2eyA9LktPvedATpneIl
            WBIMoVG76hhcd2d1mAB/GG1kc1v4vN0+vIfVo2dtP7tkwwoyEf0Lu1+ok7bK
            6td6fKs+1XXbrVMfMYsy9uzcYCBxcR5kXyL6msKQE5vFKbd8MPtwZ+vkjS7p
            o0mWChpAKNzRB74082e+pG1Fv7rxUtJ9gDcqg3pv7hXys7ifmvuiOLxT3xVC
            RfNTCrQukP4LaIdhVDF/4Yrycefelc0U9vZSThb7v2TpNI0pe90qg42UkelD
            cV49EOPzKe2uisEivmuTjNFff/szKMlj2PBSV+YQsXwA/m6zEQYb7yNPMuXD
            YnQwUhGyb+LGoEMZUJEynb5iPQK0/PV3BEFBCiOQqzqiuT8rxoVgp3/FVqTT
            MXmPXniWt/+H/PsJXWjlRgnxIG0ClKKrP+xKOJgSuuzt9yCJ67PFpdmx/AIp
            h34ylg/tGBQ5n1fZrgbGVQzKK6O6aE4DOIrznXifryBZ8Ckj1u1bGM0W75o7
            LvrOCwAYaDEt4yE79r5tQ+WbyjhUc78/7P3Y9/3+bu1rtfd52jUByqmdHY+9
            Nys3jv39rgcAtBi+t2ublls30Zr5eOe6chgzqMS8ptk6BIU/EQxXDEUNFSQ9
            41eJLpUSBfDOnqcd18kiR9CO7PFc9l7enstHA8+zy8u/7MByqvv5XY8sqK0e
            PX+166zdKb/nJXsO5flScOJDsUd4Py38bWLcHMVFOTXniXu+M0aIjcnK3H05
            6UCe03fd8bvuxxjib8YQfzOG+BhD/J67PUf1e+72nGppuAbkwLZfDX6726di
            7r1VG2ijGMqYD7sV44M6ZeQW557VXuSyRYsd24cfRCBoSuBZfM7w6SRTya/K
            f84XzAy2UcBRwTFRvNy9nzr9YdCm4Ooy/n3n+BB9CECheILHpnXu650TjzGJ
            aJslMR3tsxXPqBzHXne3Z1kIqTMe+Vj32ZvT7F9DtPix156HxGyRMVSLO2Nl
            F+aGVlahPuKVWUwx0VC0QfOn+fKDTmofvoWbrqFwTLIq8qzTdEDtUBwBnCaL
            lS47rPt3fdOFtE9imjXL+7H9k8H/XfkaspFNV7v9Zrg9WcdhHs3HnUeSgiXC
            FsZYANyuNEpkv0gKMxal3/G3o5IZY2qYAAnPSB4pHjJNk0BT0sZVlnk3DuF/
            stn0XtH8uxQ3LNGnN9Q7BtpuKyTGvTwBP7xit/uf2hW9S3rbkj4oppCiEbpT
            sZS6nMNlJ6n2q8Rw6FvYfTik/3x9q1wP+9tKeVZ491V8QRB93lz+ih3N2M0/
            x452ih3tLHa05ofezmYrt27azDO3Qjtf80wbueqP4+VPfyjfB/uZFH/ay7fE
            VcyRDAb8iq/nzMHQ8L1itwiOUGLkNx31EUtsJlFn7eUfZI0w3jATLaif52DE
            H+U3afkwHQSAnN5diRYDoxH9yq4hnWZXWAgDgcejxXJ2Jvs9brvIbD6hS/s1
            yFeunmtZDNsdNwPvLsXqOLad4I5Drnfx611GXdFRiztP0KKdvqnnO5726Bav
            FwiXsTNLWJbzxOxUdzzM/K5TOU+6/Licwo+ej/K7D0LWj/Ll3OVPIPe7L17n
            97Ndy42iOoL/HEeM11JbO5+qYqG2zzLgu95jrai/Se/eRpO+8ZpxBSCXTLvd
            RPv8a4/9MVb/mtvl/vq7YcLoH2TvmOtN+disz2YrZTmrXn2ire5z7NT0i9a2
            byigCDuWtZX3n+UpqPwon3f53b/jay18/ypf3nM8h+bYJVLHQXHZ6VvWb7tQ
            hliiL8tR5GfllAbC7edx51jgYQM8mfu3osxTw9lXkP2sYkrjaDmzDRZlzDk4
            JjOIHvm2AZ7H8fL7DozPM6ZjzIochtv5DJ1obU9RBX3wC/imxdgi5JsZh1/w
            Gb9dtnPBMdzwuvDMXWMorj1zL6He8IBFk7i7lS7e7AjmQ5Ytj8+rX84rJiFj
            +yc/+p33LOPMUkogIRL1NiHKn1X+gORRjk2XMzrVl/9lok03KOGjmb8t8Zun
            74Rirj/KdfpwGr7x6K5/5BHI+3opBnegI8XLfiGWXC3mNkEVY86UO2dx2nF1
            GJVLvthk45VHsW7YDP4pAUbd8o3DYorxPJBXVAz6W49L/5TOXMUZnF5fVbw5
            W2nGpyvgf16yZyiUP3mLREAX+1vv21Oc+GvyumylbT++ID/kYr7glFdEySJH
            MDn48LK3Z8CdRvlBMdsy0DqkR7gvuvmHWxx+rvi2z5dfFa1+FbP6jiOBCcn2
            bcWGkV9htPu2LJ9ho+96kZ6PXnXUebQetn2XnKAtjllsQCiKXwaS0iWgagau
            4fnBoLry1GTZXzHDlLLipnjf9yoZ97HjFTPu+n7n7FmTsDISVhHFk9cbIBi1
            A2aTn/piDAa6XuTboKAd8kMIcqqbhmv5nc4pYzMvwmorI65EthjGpseo+Kvs
            16Qwh4m2CvYm5ZLM6Mq+WN3Gd6d0rwthQt2/By1eKPtqdz4/evMqhsQS393v
            PHRG6ytWRrU9s7JiSjBB76ttGYMtxtsrJgutdKnbdbjSlNcv2FxzLlgPYGJT
            PZ6ybMbHwT3Hs3PlPMsCqDdeU7KcODQNScDVKdNXB6iujZDko8RQyhQIYP6W
            2bRw3jm3wVlsAdoAJM7GERiTf+1z6GOPqRBvMYxGND/5KpkzWN6uePyK/t9I
            926f2tzX+G7HlZeejwaNh/wAQlR08Xq82qN/QUqgGb6/Twe/pE+L2nf6zpVE
            u23GIAn1vTaurBTkG4ox059achnmu5AtEGVBPiSD0/TkAWQJIRhtzfR+H+UO
            K8cYGFtWiMNQ5Adx73mmmgUf9ToD9/793P+yaRqSXxxFFhu2J49Xe0yIJfiD
            9aSOTaJZ4jh8f5857vPplVNCe/J9Hry744fzrCpcJO3E9T4cr3cAYvcz2UNS
            h8N5qFcnL3RMHKVx6/VLq+Y7GWhXQrhC/6IbZhYaYjQ6KYmuO294yzHgrt9+
            +rc/fqwBHJ+7winB/baN3Xm6arrji0vsAghsuoxqMR7Hcb/f5S/Guwym4CRf
            tPMX8refOw54/vn3zdddd/yhHUfy2v1dO+f3ueMK0OYnzHDecg6Jjpv5EsuN
            DXPktnw5MVua4odivrLO5ojgj5fFYz0sTkJ2dYqmtziu0ZkOqx1m8+vW8Z1j
            JjDuUAxMgqqcjDuXC/3PFPeB8QW5j/U7veWeim+48+wypqXeM3/GjgUZRPeY
            bwpt8vzOT++k7z2PV33bdsGNpagBPeWT7XfS71nxglQv9Xnc88rRmGTfeGjv
            Az9Rhk17zzsGCOMrMD/js4/yZdsxNFg/B7EC47mXWe+8k95oH8Y2AX3VX7TI
            FB1EWXbB7sMuZixMEI+PnFeMrbLOnRf2kF+Vcj5FKSsYwqDIcYx7GkTdScmB
            5VSlP+Xxotl4FkIbqzfwuTlc6yEbkL+oU15MnC5autPRRbqkJr9l0KtDeZWp
            H5Wcwmhaxbu+ROGQFpy0UwZ1yLYYqODJ43OMmDu6iLcr0C6Bxn8VNAj6z+y6
            tKOz9QWEpNqcIdKYJaMqfujpGZPeTE9FZy4ZX2X66YDP+uh775997+1f9718
            9Z385EdcD/ovd9CobedRIUPnQVkedoboj8t41ZYH2Q2/c1GM6EZ3eRTHkNt4
            1vKYFuOVz8/B9mnEw2fcqYrh42TveCirot2zLA5nV52MNKp8UvTpiwIHN92N
            DT2rdGEEPQzjq9xPlufYK9ff6AkMCPrKtikyboHukLJRnQyssfNyecZXo0ra
            UQfOeGOYuxbNdtnAzuK60mffYui0VzxJyfcFB2griNGyv64Alx4WZOoz9zQT
            5ApfTTLUZG62vIGkONUelbbN75zRplPJsscFeG/iGSbHdOd4ZKIVPr/OHYcI
            rMT9nfAqFV408XrnBHVcY5p43fmkyZPd31A2ohwVoIj5rDDKOeN8b9pC8Fo2
            e5Kd0QZgKRd1snhM81JuavoPToLeNA1Hg27vqcdFfAiKJr7ynOK8q/wpul6w
            hwFyZbci7bDBElac4pZpOo0L+NtixDIwJqBGk85IfXfK80e4L33OLoO91eSn
            N527v5P+oK6d+5LPGCOaGZhMVwkGYoqGdeX4mMNCX/UxzsY4GNFdOwZ1GMz5
            RLoTMNzbOWWQu9Dko204O5isofo3PHnCj0Jcj34xIrLGwbg9j7Wid650xtG+
            79wrjKG3TP/GdWEcIgKQmwdi/KK2x8d6TrfqB8winwjqAevaVl/uWXblX8sy
            n1Hpf/3d6VDZLRalYNSy+FwKj4O+sN/XYfhMqTNee9liEzCuLmnmyTMosS79
            /UQX1+ONU2SnvcP2uhtHab+C/mYA0hLkSyx5urcYw68YwBw/c18qNrpFVGeu
            v37Pqd+492j2jvrZ+7wxzq/CaiTGialDsa43TXLnyr1zTQOISEfUd16Xsumo
            vnNOK6WibDc2TXMaDTN3vzCHy+e//h4nfULe+c7veA0WTxIkYXr7BCsOFcOT
            m+6tS+ZoMbG5kyqACv1UQ9z6YVDGqqdV5liQjb7SfynMLmjzuml14gcn317D
            9bRLkC9+sliHt854w0BC66ZnU37dRntV5epwpLUc6OZyms0GORJah4v3IQ2+
            pI93okXkVzScYghYfkzB2pff8bYFYJ+apEJm3yrlS3jIGxgDJflr28Nfwusk
            T/1tRxNLnltH2WSIWFIc684jzhxDmfKpZyzJHROM9Nxx3TnopTNPefcJtPZ4
            0lxt55x+0X3J9tpN25XDZE7MefJBa8VPWiuSx0nMMW08SjCa75QtrGvVYs6E
            l66cftuv2C2gXLNkPNix9746Jcvf+hJP4/0kugX9V38V/5Drqfy44FdlP9EC
            45reMaikRTZ/g7zzwtNf96Z553Ps0eJwCWaJSbWcnwToUbEtzIYYZ/lc295a
            vjHUG900azU+qWPemnTl4v+T33M0T6M3+TsolmarkotmyydDixXyZ9Hs8jPX
            fC3hnXPTSe7+nrZtmruzvuh2ydfzjv11i0YISxn70/d24zQiP67VOs/yQaPj
            2+t4z4/s/w5b91Ts/lR+B4Nv2jKDNs+g+XjOs+HfHe9B8SPYV5znftuor/lr
            m4P2JpER7DENyfyMZdcAGqhvHDKYd0ixXmMKjxj3tOFrMjrJgr/0f3nhovSG
            m27nXCd9g+O0XvTEC2e98YfFwR2nRR7afFy848ZhVOXNl55H3/rvnSvrMBjM
            HJLAu6nGx/nEPmZ0GLMh3zkPC+VzRLqV5hDFxztmnuYHXDgjrNg+FatuMj8m
            1TgsfrfkVkxUQPWE4tq0KhuXzxiE5Kvnzg+67898ERkz7t+lmH9dfiMmp6w7
            DmBXzo2lPPGXp3Ql3DEKeW6NrW5mi7jjlDJWoVwH7vh4GHIbFo+U9u8+RmJ/
            i+NqdKevIc260mRGOfyOilPefQeNgTfSDZ3bf5qebf2ps2Isdh+VEurHOsGT
            hJ/qjPP3dS7pwYDH7vUL8XrFfKFEUrFxeJ6IviIDwjjFWOWVMr4AjDcU2+gi
            QX7/ZjmapGE+2qLuOTWaLVe9N9s60gs1Beml9ZvWQmgf8LXR5rJJLUJfSsqv
            02Lo5sZyoEw8Y+6A+Fu0U5vP543IUzHnqgQDcu3BfLfEnF3xoF8qJm60nSv+
            Mn9lel7Q3vZkHt2jmD8g83sdj75d9FeggKJrD4aTQW7snp4zM1kOCpY/g9MV
            vI5TGzanI5ShfZed5cs4FKkN9xTvKy6fv2QbRXiwFGxJlviWo/FQHAqaV+p6
            khtylTZghdBpKpYiLbx3nAjaFKdF+oNjvus46+N9T147oDAi9qPs6RQH6agz
            2PUMfWpNFVte3oKgXxJVJZV5OA/FZTia1H6RebJcWYE+4ou8oQferIzBRxvv
            g0ZsQb54LMPYD1W0E/VVjcgU/WJeJuVeZx2o9vbnHrc/O58ZD04rQdH2uZ9R
            awHcNYibwYc3hqFjuTOY/0Ddv4luXj69jKMiOszWEnSW/MuxvgAUK1Dkeyje
            WG+yd7d4imc7oyVBI5RKivcWlXuOdFXZOjsyYMwBiRVDX86VlTPS6znoKBDl
            ZsNJ0KmrxSafyVk+7nxInsR+nXSzo9yXEcS3bOCQDlI2cYwrojNVzuVuPeEa
            7/4rdnRrTTC0KxF7jkaTVMa+CeLpo3Kb7Jy0rzHEvngeNZ+kXe8x0DayeouB
            x5yrmXkjKeHKK7k9rrDHVUZc0tHhzQykh52EMoCH0Y3S5dOJ8VKVDzIDLKhy
            MwwGYQW0kfUddlrRGgPO0242dVs3PG96DnjPWBHuXEChMTnaktC+lDIf4Crs
            7EY+4k9z/jrXnvikMOKS+oc+O52RVu68Y1XJDpzs/r3ii3qs157/3rnHB3XT
            Z2CKwL5tSBPNj973z3WmYAAEgBIlYL4XZaCa74j16FoPpjDQs+/9gP2t+DGC
            rQdTqp/H3Y61zzwLFh9Rdim+ULKzYqMBh/WL+jueY8aK8XRgCMrvZ+eHliht
            VbbBCPqumH7h7gfPiOwEwFkFKuVP7fv17hMzeb/PGvB1Nx6nNHLZPJ/M3yW/
            8svPK7z3b/Dv/ZtJs4+3PX6V9swCSQiXAWJ4QMXaSbKHKZvKRnNN88GZkqT4
            mphnvoqutviugbyi4TfZkqXLKUAZDUvwu85tn0KxbWmyQbGxMbzayVZNF3wI
            9w6dO443bryRrjUSI6eaL1We/eWj1/dzbGCaPdOuPCs+bFF8jURcTNCr+LTM
            X++IAYBTmtXPNkGLdvnng47R3ClG/B1DFWM7I/W43p9Lug807HVPnwEyqQVt
            p8cefdzrXOx2BNOL6DsXFcMU++w6MVcxbNtL0Spt21wSmm/Pt7x1COOpB7/P
            FlUmX+er3f0cB/MZ2G+OkVM4C21BTmYssR3QKbCJnT6ZzCEFZIEJ7gvXZN8y
            p5LsDLQ2eGd60m48zaJmJUp/c/gdg4rPU7tW3OuIhVG+XhA36wV72xv2njuP
            F33DRzdfM+ndDtDtlV4H8r9Y3CtnNpzFkFMn/TAf9dNW6pf6w3rVmRTvFFN4
            LiBN47uT0c6vdeonz9fjnjHZz8d9JkyxeSAnybHWi3OgfugsV/S1tdf5rYky
            Pb4vBnNP0Gs6/4yvirq0zxVVZbhJ/p450GsJs9++FpfCWgGyyVqDASJCX4lt
            zCIkKh865kwBjylfJ7bjwtWT6ZvFk/N9vd7vsyK4xCGMPARXGnNuA8Oc9IOj
            7bxbIwzGvidzcc5a81kVUFCRTL3ZwYNqzHRDIQ4HSRZoLxfoNL9cIb1NQ9BA
            YwfV3XnOFG+rkwwivulNO50mH4/1dPHX9VTsgmbwIyyFCugW/6ID8pqe0SXS
            sJGRvKS3oE/PVdRO5V7OlTyO+RrKEVByp+1Xckp2i/qTf+53HlKuE873ZGxn
            GQK9YAuIaVqOgNpxTv1VbBA+p87shmeCN+minYmehY2/sF8a+fRnOSxUyxSh
            xnXcsH3biS0eI/mfbvir3OdhMVGt15lrTbDznJQDcly272L93nfM9uBpYE2K
            XTYfd9w/yb32PizzzPcZEizvMhRLtBt8trfAIBecUM3ZflZwNjK+T4V5L+Mc
            b/1CYU6FEuM0Jw3L/7QO0x7QyE1whTGGryC4HUD7xy2DIu9HXtfv/CJsa2T1
            PzKfEeWgmKhqObpIaXlS1yGnr3nDOcrVfP6UcNJsfiLbAm1HPazilNN+SLnd
            3WJu3qn9Kn9HW0Mvm9m9rvsZ8KLWULQN84Q1y6/FmLNxw46IOUvAhJF6j693
            1Ssq+8t3BL8T78Ump23PwVznYB6Yq9O8eEp6xh1s7q+/gRFX3vrESFuhJpvC
            QZQSsQa0q6XdxZzkCcEHgPc5neW6PxkT9VLeS99MDzAKeLtyKUbyjB3nUPkm
            AYsm5ZLmX0Z9QdMzKY7BH5FDHWvIZiMq3sVLz3RQHM88hhYLto0s2sJdO9ci
            bWr2/TzKHQtYuiz3kOd07BHSfh3A8Jb7SCZe5ZuuUNN7LhUvZcdUP/i+EV9t
            uballDI9xDCZSLd60yAUB85KzKkgM9gooxLZmUULdBGo/LzbPU/VWymzMmea
            t4wpyg7mrRdQoG/lb6DThqd5I/Eu88KhDlnqOtWz5Tdt18/3y3SPkhl2Sb5k
            /7qod2NUANMnmozA8xF9hZq8ehW76KY7GpmU/Pb9uOmQY8v/sWHXMw8NwK/F
            fY5Gx4zD4m2AHshPukZpNWUjEejt16LiXZhNxnjlJRyec9EuizJx+4I3zEDb
            urXbDqFcFsuZFjzU4ys17UH18LaVJ+0VzleODs5lZSQTO3PgeCIB76BICMeH
            zAVj81byvpz/O2YP20mVuQIL4ze6sO3TAr8lDFBWYG5L74blfWLuKGaQwqkC
            Wi+Mu58P8B8vfQYQl7v3R26f++Ol++rEH299FqOlMwbNreNz1FI2s6OjbFM0
            rWIQ4AocSf1jXzu3ThM9Zjkns/memM7yrbeV7pJ5eeud9ySa/kubduu00vKn
            K8MR1ymulL0/l8lvje4fqqvV/Kl7pHy6DmB7xtUFYNw+s6RJQgAhHLdvKs6P
            4lnQlovPDssntuMbutvGXo4qhCdV8l9LO0s5Hy2p6CY1h7P8ItXCJe+8Y8r1
            fokGkx12j5brkc5ThKd5Xu1uY275Lujo8aED23Y87rhtiWzPr8P8oO6zdO99
            xvDSGWCc3yNZ6jsX67R84/WOyRT9zlNHW839u5rPmNn2OVvbuH2fzKbTflP3
            fez4yZO5CIxWSqyH3cEzxQybEsteqdKvZcjWIyjf785Ld9LXj2MaW147bU9S
            rkFXfs5LkG1Dkskm55x5vAbT0Nz5Z5ZivzcKu2T0FS1ehMBYkNyNJhBVPj/J
            dCzkSY7Lm+me13638OgBZcPWW1CPwXgHy2yTJbMmPR2lj9K57/Xth3GvN2U2
            DG83/FtHQGL8zqspvH28/ZN5Lksao5NwStJDN3MOpweU5XvAmWv6vQLOMuMJ
            KF+N6iGk64ydcFhMhLcOAXiTNHgdnTly6B/x8nmWtxrmLwluv+ayX4kp1JdE
            kZIhY023vJ5nuc5L8xx/eIe90W4dgdyPlAvJ1oS027Ms4FBTuClGkHk8T4f5
            ApFuDv2tq3KesczNzqF5QnXr+4m5KlnxAdqdg+eGAcJwkX4fTOhp+6uZfJx5
            vC/mXmOSuov5yRg6bIoSZIyQM9OeHOVUcSd8BLxnpirs8i5PV/o/XxRIMUer
            cDbLE+Qrbn8blblz3WRm4QfsOTbNS5hTLc/btqd3T/8nxlVRDu5mddT5roP5
            H151uN/XkbvV0eUzlcR5vNZ+itDPx+2HceelTdIFEfics5mtQNjzum3K5Odx
            EkRR/oMNecN05jM+0A7zMOEMOZcZ6/osr9xxW0cjW6VOw56HP9oXXfI7+sNZ
            /L1f6JZw/J4uUZzLH+gSnO0PuuSf0AWcT/qNYmAMFUVfaOZ2kH9tldxFMXXo
            w7BCZ37n5OPDJ5G5KdiHY1PPXM/idnzyhfXL9o57O17Gp33nlZIPlxtVonua
            JNA2xhXmWtPScc/vnNtvP75HnhLl7WX8FT9mn9QRJmqBXzmE7/4Jzi6TSynk
            jZddkrWnc+0z/UbdVBA42X1hLkFUL/qFJtl/TfvGRfNfk6kCIIw73vfK577p
            Wb67c7LFr5xmN101+zXv3EOMpT3Se9yM+wg2wr1yrOVL+EA1p3deawWPpG3O
            TDI72XEgAu09mHuFsY52LjPGvw6yFXPbn0xZVNvZy8XMitSNZEaHp8uY7DvM
            N68G2ZreuWqYDgNIoS6/FFOTFIR8o2hLy7nC+dy5jsG1tmBjYHzDSlfPwDTW
            OINJsIYJ3DLjV4nmoqKKV5oogMqj3fed34kxJCnzDnO0d19kASWbITAtnXV2
            d3XGnjQ7A5CESbFHhmV6pP0Co61k0kej7vhMZrcjP6/YAQ+ubPCHMcyG2aXg
            5OOsTHTrxuvgYQpzmdDuf1rIC/oMgdgLFvju2oZAslWz+7bvk/F4TCuje+Do
            RjjnmW/HbKJLYz6nFNbzzC3M29w+gwzusnV4OZg9waEYMJirqfie48PWk/WP
            YTaWVne848cwSoGSg2bTezPvge6j2XLTFS8M8+F1e8+JlqMtQTRf+LZ95xmT
            hDmLp6wlzUYovvIcbZoRc3d5tZEVByVazk6OmUI2v8fsR5w55UoegH7bjFvG
            PDK0hQm0FUmXZYahrXlhvqsiuoiWZ23nKFAOUxTKc+cWiBcaoE1irve5pGeN
            Yufs+0g9Pg/zfiZ7fdBZjAdpckXLQxqpJ7n5ikZdB8ibau/CurqCmuz2FLWU
            z4v8uN2/at+8kGgLKzu3cPdh7nvZoSuSPGaO88ux9p3z67D4vu140f0W0+PO
            HewsNzz7eu81Wo/Szw0AwuIObPsLRpnT3i/2/Db8Xwulh0XdkJcvGXfLybxN
            GA5975Pd1mT3Yd/3fd92ff/436B/1PFv//N06Rri/f7l95Nctnvfk+l9vuep
            y+b/tTnz/d2OHvnKaTJfFX52fxov//39owP2/tX+1zimXLz3EIbtgDTKj2Wj
            lb2ff78HaimcEwa65V+kTUaIr1JntbHeS/r1OXGU5mr0+ONc5T2X80g/vh9/
            aB8/z6C48K7+XL/NVUo/jy/s9k8LFfbL92ta/ZerP74vl8v/qn/3XvHu573y
            p39/2mtMD/iv3lOw6hUBNWUSo1b2Xq34udZVUY5+W+BPY+UKaF+un+fa7b12
            /Gavtfvc/GZf9+MP7+Mf3tc/vP9D+/UPe/FeK9f+42tdf7fWP69vH9oBpa//
            8bW+/mtr/Z+ey5Cs/hccCYERTl7X1ziDlfsufwbLs/z97y7frkBRE3CUXde+
            Mmg835/OKQ72aKHxeaT5B5X4+5r3tRS7VrfvL/sejG7S95d9T+8lZQ8q9vy7
            vzMdijWI9v3z+d1f+iSkmiS/YVOi6YZd/b6Py65g0KpyojMpOnX0+/1qdqU5
            mfB+svc12f09J74A76cf9ve1x7TnhAzKs69vnHG8EKXWjrl/97a6rr/+H8we Ekg= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
