<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>as.acidanthera.BrcmInjector.0a5c.21fe</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.21fe</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_21fe</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmPatchRAM</string>
        <key>DisplayName</key>
        <string>Broadcom 43142 Bluetooth 4.0 Adapter</string>
        <key>FirmwareKey</key>
        <string>0a5c_21fe_v4282</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBDevice</string>
        <key>idProduct</key>
        <integer>8702</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>as.acidanthera.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_21fe_v4282</key>
          <data>
            eNrtvVmy7aiyLfifZtkXUcP7QyD1v0k5xnDQLGLuE3Hz5bV3LO/ZYSs0hRCi
            cLx2538d/uC/eBzezfZ//1//q5bD/rkjH0du/Bf9Ed09XLrWo+jx7/UrnIdP
            BX91/bX119ffuf7G+pvr71p/t/3hg/bn1p9ff2H9xfWX1l9ef2X91fXX1l9f
            f6ev7j76PTnQe/3Dz7zGevSI8eLLRz8OzoB3x+e/gKkZ1R5G5xP+74vPd3Y5
            5oDr9EeIIQSH/2Nuos+jpJxKxLMb/6987i+MAu/jHVcOlKaCaWxVHw+YGl4d
            ytixgL9yVJa0oBVafWl63vGcPXIxx3qrtud/pz/a7nV9G0G+NSiPLt5HGvca
            eHex3HXwl+r3tj+Dlt9nII9U45VH7oG9c+j0mqRzT+K6xtVC8p+92N3Kq7ys
            61jtzPXcr/Kw6w2OHnPT1hJh9t04ukHgCGe2xXFxDWroK63eNbjXet930fM2
            PsuPGk7r/ld53rDxWZ5G0MT0r/aPNV39q/2Qw5qmr/prPs6v9u8U9ML51f5I
            I9rovtpZ/8ZXO4AnfeH66o+vVh7q3T7q72kfn+W+csKJIz7LAcFWHj/L0UG1
            H9W+87Y43gmxPB871svjLy8LXNL3x/Kh99NXfZfsY/mrPlqx8viXTneD5s/y
            Nqw/5auda2pPYnvd470caCWu/nyU701avupj9dWfFj/LN0od3/W97ZpRP8tj
            rern+PpuKDHZHvos99MWe46/lHOzL7Tmp6Do+no55LiowT0/Bj832fgstynU
            4s1fEHp/1d+I4a6f5RhMt719X+/lPTi94o/P8lqddrCPn+Wurfr1s/zc9b/a
            ByZS/eurHW/dAQJH397LXU5rx9xf4xUKqvWrfm0CmvpVP6GF9d238lhscUIv
            LMozC0Hex+fLa044iR/lMRpo5S+IC93wVP2CLOMCOEiji9+L50Ei38vTWmwA
            6kf5vcvHZ7kLC70cn+UPtv9qv+/y+vu7Yfz+bjx+fzfG39+N9fd3x1c794Nm
            We4XWgN5P35M1vhqdJPS8dXpXX9+d3qhhRn/UL/+ofyr/bRo8/XV/qY911f7
            dZfXP9T/an+2h8T7j8ldW7vWz/KNHsFwfJRv0t/iV/01b+2rnbHrf7XjtFFD
            t8VJoSy+5EclMX2/y+sfysfv8vGH+uMP9ecf+jP/0J/5h/bP+Htyz/p7csfx
            e3JH/D2513f/47OD40c7i38r8bP8XMBR6nv5aGtxCLUvyCWT99FoeSAr/trO
            9etje1JSPNJH+fmgo/xrxwDtfJb3B+3kX/0hdnwvL/VBI/nXYkBeKR87cmwG
            4bN8T+Jl7/y1PH6VH89O/V0+vspXf+7jd3kiJojztsWB8HL8mPT7e5tvAv4F
            KbvT5ze6W+WO5fGvEOfGH2jP8bu8rMHvdo83se1XuVuTsiF/X/M3RI9nh5Vf
            O4bCJZ4CVCBukuB4216niZHOdR8XcNejrrccZwk8T4DkSUklYYkylq/83fNZ
            yZqDoi+aU6oa3uLXcR+f8tP5JW9tiT4dz/79uPq/Tt7Cd5EMunuW+b/yzx+f
            b8XjQ5rElOeP+/J0c+/7+nHfXlLtEjb7x/35DHsju/F578bH+IYfHx0cYYSP
            +zg+OgzpK73fX3HkXxqCmjCO65wfD69xfd7P62O0F/593N/X/a/ujy4oHt+T
            /L0EH0D+THg5fsvl/Qt+xvEpn+8J2xO1J2hPzLXur/OFgmy0e5R7NJ/XYkxb
            MwCsOSxe1F2O+8kfkUgzTGe7C81KefP263lO9UoVmvFHv5zDT1KttBiC5h42
            d4w30HyHy0wVCbjLaggQbZ2sQaKtmam23/rwjjvonBc+WN0X8LKOm8NH22Xn
            bX8fABs150Gt6q5iqB936e2L/o5NE9DActZ4Xs8qv+oEAK1WueNjc5xz9ea9
            TrxqnLtOTKfmoXA7vuqkFrPpRBrqdPuWp2j+9C5Ryn/u0LO3O9DC8dZaHvG2
            nmP6/WVfxMxMq3MthqBpT/CFclLFAqhKk9KOff683Psw6okZUZ2Lwv7ZDV+7
            +Fan+QMSzmqn1LMurdZ7O93VkJfaBmKlTZn7nLJzjjz2dPRq3wqfU49NAlme
            RBrTWtaUHRQ0X3XmSZ2YlwCIHq+JqO59sq5a41AdW8K+ZJf3b925JongtZMv
            WXXGex1HYVKUJXtqV8/TNGoQLF513Em1KBcGcxiH8Wvp41tnssXpnS/4Fl8v
            ZL9e+PwwhPdXnZLPpYb5qMPxFM5guVVn2IT6461OcgvPdNLdaIvX60edPCsI
            JNsBzoirnVy9e6tTAqWNtXiY1WET6t8ABcsdqxaslxuTdC4V0Uefm6vADVGq
            owOCVV+6zPGC+xHD2/6NI7ztKdfdAULqpAI6wmXvt+OjzunR8q6Tqs3djBBj
            XnXGHGvxrzFscc5CDQEhqtsKxvD2wmwjCbc2rGFeUFc+F+RKxMYcHNauRftw
            +ZyAGx2yCcBEhoU4Ro5vEOUhqNW6J/KOVqd+fMu7VntSO0m78toC4Vsdn6NJ
            Gx3dcs1QZ+sfdTBzpog9nSb0MvY5vQGIj4k7kAByaeeeW457q5MckZe3SS/e
            +nyP9AZEPufhVacCk/Q1rnNjiWBcX/XFYZqoOO4+1GiLM0jOwkg9X+DkMAS8
            7EEKqX8IQAcBkwrQB3ILgElCUA4n5izzO//V+qsrRuoTpeP7pviL/0f9v+r/
            Kn/VGyodKp2qPVV71s96RYwpv3iY9YRSAuQ4yErF6gUZMqgsNV37PXkFmb7u
            sjiLf/An8OsCQN2Lut7/7O95t9q7zRGXfP81cmuYjGnM0F8rfDU0V0P9n/39
            fPf+Z38f7972LmDvH/19vwucc5im2lS2Jsf995Xc2oO3w+S+DIug3EuqfETQ
            0e8GLFLKiR5PgG4k20IL4N0T6JYDeuwesjWIoBsnim4TTzBBV7hPMl1O7Kd3
            eBaJulK4y11OoOkzifdF3VlX3RrNruS8SzTHic6jHuqURJjHPX6P655h8QCH
            sAo5gs3gWX3s50v19/297kFnXbib1W+indwuGILa9xQxZaG6L8f6UWa4K1Vs
            jfM8cy3Uxl24qh7Y4AsYu1SQWceN5W7nKWOi/9eFXU1shW8nh3tQ8t1+nvcN
            sl7ywlKz3ZXvYdc2mqCoFsasqe7lKXyvxRHHm2IumPg0DFViYTB1AKfgKzls
            3INkgb+rxAgRdMcsBKFesuY5rBwXKgD5cPcVTgIWGIsFskxL0nQ+xAxGItt2
            vdGSa0UT6ll/dirWT3Fqjd8p+o5ZFW8srvMYwhS+A7WKOWAwWODMicDfvFAz
            A9+kTgMDlUwYuwNJwTfDqhcLFqWr/SoV9piuTTNIdH7KzUNazIwxU7pHP3oH
            ecb4AyY6Y9HA1WJqDVjwW9Adoo3bBy+dAMcfTzDuzeZMv/uaP5La8z7ZQSfl
            CAAO3C4Bmus1I1tfNoBm8nk06yg6YpM5WQk9jLW5iwZA0U0wefabOvv3elKC
            Wz1qJXa9SkJCu2DGrGaAZ77XxGHggdg+kLCgvKhT0fCxzMnG67ELYaxn6cDk
            V0wmmtu/Ib1U9CVBPPacQJUnaTs46MHBR+wUzwmiUBcTWOqbmo7J+4je0/DZ
            KlkHWlLAeeF5jVSZAJ7x7RmlVwL7d2N9syMf6tW3zBqghliTqtqQDNYiYOHG
            eV8sw2uVbfIdAST4XVenA3A1zWOniHl77EP17VqLAyZDmvcLnfBkNvgQVPKK
            9TYwAHPJ3/vFXTe/1XXBng3yMM4L6rUTuPMP2wm8j6TwEx3FZOTh+LtVZ7tE
            kNgAwKekd+2Y4EwWu6KTZcPhHb/QMKk19aXSXsUkeQyAMdXlENUOEIbJ/WPt
            8NOpHCgsEZ0I82NLAi0GsVEBkw9GGDu4H8OfR8MOCh6bamIz+R4msQhQV7mH
            6AW9ESJ2waD10Z+hTBei7+BzQfvmcPwdJv0aukMb/vLdD7Z5CyA4V0SnQICd
            tOhs9q2w0JoGd6MD3k8nqO33uOMFxvOmpNJuB7mTdAC4GP/KgsQLDGVBTzDR
            hbqC4jwBAlBUyxlNxDrwO+BvVK5XnviWmGCWy18DKKiAsR4gJNordGlgWZxU
            eVrHsUxAAoAyTM7hbXKIxkwV7Ol7k91Ci2cQjnnQoqZFHHYYhn6oNdCPqqUk
            BnIzVaDD1s/2oOtj1SsR+yHXWE9AGTEadhq+BlABxE93XvQZuY4yvdPui+Yl
            s9uBGCV3EQLDamOSbfPF++gucCLkT28/gKQnaoB7LqGBsVxSZbqWPZcD/G4k
            +L82Mi5rBFN2//G9+eO9Yu+5+ef3Yv3x3mHvHfef30vhr++dbb3nXu+JzjRa
            +tZ794/3vL13B0Cf6B53GYHQ6FTEovSb+htAItCnVGVETQCcyvuLZpHr6Ges
            uWUDAkdpij06w5nAGEy6X5xh19f1zqThUkf4bQM4RXCxpfhS0EAqvg0MCxyL
            xsH1j9oLME4EWzVbu2N3vlTeo0PPB7i11dlrdZaMBMhYXWXOA+NxQheTARES
            ot7Zdsc+3iUDUfnt2igg728IX3sj2Pu5owAdXt9hnfdJu4HPa7OdMkjjvMsa
            GyRKjO0kY0FulEQZC+jyyL7jj+1kfSP26grWLIimYWLJdHQ86yKegS1bfT8v
            qtLc4nRBU0gmwRThO3wvgiPGE3xbCw1ZMnfu/MadFo3J4bi6WzYAmT7woggy
            GsTISSspCEh5iA9zPBAgL/KPWF20grLNzqpDI2JQgC5xPvPQlcDFmhcGhNHT
            dudTrq5DBAW+BDI4OXnAxWDbQB2IS7B4vzqOBXINIERjSDxYBxMKNj1EEFyA
            Mhg/QGeLI15tG2E8OEWP6Y0xpgtQndYClZZPvyaVVB/oiR4DQJkXBUSItLfm
            tMplDrR+WH8n2waZjOK4AOWYZvaDpjtwfLf6hEWeQML6NsZ6Aq9BEnCaq/HM
            lTz2qDDAPtRi1waxOrN/RbuzLUc0SRsFO4es+E0OweSXJi0uiBRd06JcoE5x
            FIWqzXKfN7U4dPsCtwNGLogV5KI5PSP7WjGbmQvEBblcwWSTBQOngp1RPRYH
            ncJnyBgE+44D8SK6AsR2QqZ3XJz4LA6lC0C8I6q4TrTO39RnjEBNHdgffLKm
            tSC779S7hALGLGFnLNaakwJMQW4pxkvMpOQUzwUDEc9r8lmPsl4mx5Y86PEM
            XJA06d+BNu67QXajZhTAz0kn5QOsc48QSzgCKYAQO3i006Gb77tYC0SsNfw9
            AZyN99t61gQf3Krg37HW7UK3cretSLmEnYMM1Oh1kLecEkxbt1f+xnYl1FBl
            TDnCVZMRFsSYMYvsRvUitJtQgqsVQwI0n8l9lcWgUGvGe8i0xrVh+aVLKbQr
            i8MDjiMbmlkmjm/du3Xv1r0X5zjNdtBjFDc3nd1fqxxDkd7RJ7tGt66FU2ys
            segPhW98n3IhsEzjTj4a5HIuaJxUeDbwzY2DXbsSXB/n7DoM1VGSA+uGh47q
            CWfo2EvBKGffAVIB3mAtDqWpMYUOMGAsjSzvcVmpPJWvBawjt22kycgWyAsV
            gifAgmI7Y+WXJkvlkKLbdVWwpQ8eLtyZJyVedFIQfRhNiHNSD0hmkveFaEv3
            +LzQGX+fQmeUIfC5u/TjnruOO151JtEiOTFQNJqiACq3oxMX5SC67ZoPMviy
            5QkHsDoSdjlhoFGtkrt+k6Y1ykz4axgncNN6BuqWPR4PUI55jRm4ax4hFqx3
            P+oglunkygZ2DOnnQn91MVF4FruU5NhZYM+f8RvDAtBaNoBWxfw9hJbojPSC
            DRpdAc4PlMLPrTYp4AIkEQMeDBKXfAFKNd93BpZb9+8LFAZYfvDqXCRxSEQ4
            DZwMuEC+eFARHgiv3hOvkwiTewIqHdQrsw2PubdroyTfgGMg6kXaZ1MiU4r9
            T6jn5BYCznF3fwLLirUGvNyXhFRn/93r//fze9+//3d8PaEzffnsI1hyLAf5
            FJvLgFHkAY4w5PpRL6560RYHSFycXUmoe4B7XELomc24FSBBqwGK92yAghYI
            WxXk3NQ9gdtaXJgnccUaApEBjWGJ7lVOFECtmif+poc+JkiSseOEc/uXPWGQ
            SklTwIRMOmAKX3li52umDY1geVsVlJvOAPdOui16NRe0MaQTawA9qpsuQix/
            U0vQgaZBF8qA3AYh2Tm6j6NvE+hIxD9e0jgAKTR+X0oOCpYe+xETdhGbtpna
            3mWLi3z17dWfxP5gnoBlxguoKeR5c1YPhtYBYAEU+YbQGQ14DcjDUlMJmImX
            tg2A/nDx6PJ8D9UqOSkIqQs7Gz1JMPGJixGEZ6W6eIQ/k9fP5KgT4xOy2hw5
            UVTPKL7oVm+L5IMmiHKsUEq8E4AixP0sywQLNgbY6wQC9WJOgB3uFDrDOagq
            IhfpRsrYhfjVvB9XBpGWpJ1k8mmjmBC5dH0cDxalkuP3kMFEjDkCQqlbMk4A
            VVsyzqTU/8hGr8nVvAAAXaOqi0rRt/c93g/2/vh6P2IC/Vc7ZHD6FPWIlLUm
            baAROweoty2PDYVCFEDA7hi5rafhz041hy0KgldpUPsQ3tKrY/3t/Qmu6b1T
            ZS36EsxSNDYh1ZAoxkdTBtI6DjLk2b4wPN3lOrFJlAYjkrIL/VHRWZrkk+aT
            aR2W7up45A7yazlm8CWVitN4rzgICbGgeRd2fDTaelIXR6CESHdSo57vU1wb
            OCxqEYBKp7nit5bd1qVhoZqbpP58BzLQeYFJoMs/J9uX69jtd2AjomNx6Yv2
            Li8GdyjwpSjg4rpscabsvtRG1Fcj2MrDkSspEhjoa8RV0cfDZR0mO8oOQ3Tf
            HQZPUw+xqeyIvwfK6+JKQKIXekKHr1qk0QkO16AJyzfNXhXfBqoUC8t+ONCZ
            LNpinF+twXmqAPHVfpV8mM5sXJd2PrWsYACp7dZOmcMduvLJlVtD/6kdEQHe
            kn2VSsh5hb0AOxT6ytOl8qKuFewvMC8ld9ZRpIYUXnTp/6hXG0RBAdgpM4g5
            bk8B2CEbLoBQirkJXIHxErODVwsQ6El/Gu2xBCTUbUtDIO3NdyXQBnDotMqD
            wRixqwOHdcB7aas1sXgPEieVPLdc2Qitz8SQv0ogJZQh2E4i2hPaCjT12pZU
            uxgOdiXY0wNE0SYOLKa8xfA8aRIhA09KX2AkZ5LpwdkkFerhQCGIJujlBETa
            ai2+4zpaOXtF/yFIxvd31wTn6/XuWYi/U+J7sYHhZMQAYAGLnahBR3/8kuFe
            uxJbWjuhQuro5Ds5bjk0inJI2odYQpdFT5kPzIrsNodomwuLiztponXGMBCA
            3PJ1IiVm52aT+t3JfYNKvdSskUY+yJl0vgWxK06iLtmQQgUCJiElvcjLsSs7
            891JmvxibRN/4p4uO4RBTDbVLNRIggXG4mhy73SasMlOFrCwMkxddo/dNz1j
            625TFXHXQyBpQPJ6HxN8i7at9/N+P6/21vsdi7fHMgHJJbuRIV1mTjO2NiSA
            URQZ4SNj80IlB391oXNT8q5JtkWG+H4SgMGVgPcwAXnIKQ1lTjS0U3TSMyvD
            joSQTasWGKoETjWEvDQEmD/bOU580JBtYkGzTagmmZLN+qjuZegE1Fc6AJz4
            oOOEYEm7fbi20vVxtYmPQzjckzDaPLdFcuugKkk6BBGg3wnmgcIjLT8U5LCY
            GRSNAl7AZJeaHMCegXVU0kEmwe8rBHDOGZzp6SAB5n7HFB3qjpDBOgPiyVLP
            Vz1xysBc33UD6nL31EZVCFgUiKmodLoz1zSIf8EQuUwvv8o5o4KS+kVAfw9k
            4530jXMukmf9fwCd4mERoFPYBQ3xlUp0aR5uxp1CFMk+zBiCAAIIcS3OrMdq
            zBv6kAu9JpjkoC4nNq9FIjHAwPpJWkGXFGzb0/AuhYjJCNR2vd4Pb++Htzod
            48Z7EATEeWFC6pzmMbZ1di/0mEy6TsDZvQg9UEGYaz67M2VtlinQ1CKEbHwF
            Gwi7aZp0P2Uwo/0pmyALlp7iNiacHKMjJmLZW72662HLVEaK6LukhS0Pfhf0
            9t7CZQY/rnrVUPuIxjW6y0xi20LahzN5cHkM05bi5dtp17nul6+Tk58/RNIV
            vrOv1hiEKcPs0crBJuhK45AaG0nGsLHek2HttgkRa/322y0LIW0+z2+W13Ds
            337/Pt7K336jPbD2oe7fu3zbT/ISjo/Vz1aTjGtz9a/WJP/BucaT6mf/xyqn
            jtLGv66rvK8r5P7wJlw7E6iBGN8WH6xVkLKUdmIqDo6ZgB+AoclO2X2haIct
            l8FWZXtfyt5q3JojFhTUAGodVSFehtTlQOH9FIvuqe8HzJM3y+SSMlHqINLq
            6zeu8fJ5LFNCI4fJabvEVYHleuu4Ol2oXkUngU4nWXnsNtqxMqRF1mc8+KNO
            P6ytWa/i3tjxKKemqKfk7oaEQJqTzaSsWXVZbL3YeAhHE7SJXp90VrmlRffD
            QcrwThrhRlNPd9l+x6lYXzIfmVbNY3KvC901svNjStDvmEW2S2Nb4vzpHYHV
            6Os32wS3Nbssv2aT+rWolAq9aQicooppM8EgOv0F/I/JeV8MBWBfFzg8rnIG
            r5NBcbI5V+PKd7NTgP3v97l2Wplz1pBPBuITYjRYLOpgcP9SWIKSY+YYFW9G
            L5STurfpjE2ODcxNP8GAgF6hHUxiCGcc+JuNUAl24OjgKgNEKqBR1vGYRMF9
            o5pVNpegvlLApSKSCwOGgwhMbVwAzj+04a94qh1IsPGtDaJFjMk7zBPG6Kxv
            +azNdgxYLKp0znpCoOrgxQLHb88SmLyxaE4g7NQuNTn+ciBeVsPA6ySWbPj9
            RdWlDUQLQCUHUDF+8x10EMIABkVoX4LgFgwfSOF7WNDqpMmVwCg5Kb0WLf9A
            EZ0aTELpkRmEyJ2agCJYV/IFrmCgPMNWAKbRMjJQM03nb3nbaAecRIO/AGjv
            TpPqczAfBEN7QN/mbLqiFh+NgxTE9MSdbNM8ekAlwemBHc9VgqynpxHtYdmy
            CGgnHc9uftqhKCFXaMDD4tbojqPJYwMgxw1wXCkOEk3Q54tDoWmAhG+Cd2a9
            Lc/kHBV4t9x6xCIHJ6EuRfBdJLDUumESaeASrY4iROUwtJPoyUKFnBuvuiHu
            uqvO+zMSUfbthoxiqITSA4ixcjbcCrlIEbzfcQd30x7EccmR5iSz5CGvEhFe
            FYj/yvKjwWhl5Nu+D7ZMZnW9x2s8zMiRL3sPcq9jW7/G+IzNxprWGLONI4Ur
            58BMGg8qTmtOss1FMq20S+Qw3gf/IUgCGYUOGAgArk41CjgWuv9RIYf7hG0u
            zxz621EQCnSqU6YO0G18vQta9uKB+c0HOZ0L2B4ELFAQw4Ble68gcXuHsU4K
            90UFq8f3K7eMLJD+eNqqRks8FsLH5WI0Jygj3ajAt3K5br57yq96LxxdrrRB
            6HKluk6+As9CoCdjtcFyByH2cWFa7Xd6ILH9YO3j/wSAQ5F4TtenfXBoH+3H
            1T7bUPkd+x6TvnHSBG+Lo/h4w+FkO4rCeZYLVBR6gGAkWS+D16da1Eu6lUMD
            6tddVx+Khg6269JRzWXJrfB+oFrp2jZ3uIGgRGccT1r0BJ9rINiBQuNybpRd
            BPgd3F5PiifyFAQc0G+FEDm3APehgSBNCG9ymzsebQDaiF6GspQIFPwupeAp
            hx1aioiRizjBjZLZp9hktyLjBAY5u+U4Iq72m3XeukRZcel5DNq+7VAyF2Ah
            eo+TmoTjjX2fiyEoTphSBOx5KAud7aYXNANCyYk8HwJnl6Q7K9Kq8DdYHbTz
            InoNkzMa6OcAQXWiVW3XZ11HecndXeGOzYFDkH4JUHR6t/A/B9iC2X8CUE99
            6yfKwRecnlL/ljnoKcj7NwOeecbcZNWLNiHb4cKA+agPzUnW/vFG6yopR0Lx
            LPK5fJ+TIMAC14mVAGveqUp11VFDl6hQa8lUPYlMQOPF7gdlQBNMkuX2ARdj
            46TPXHcQvMuScwpFRuARCoIkfQFXL8HRS1t40s5dGCtkguUhPVtiFwSRdgUH
            KXUK+DIQw5kCUDJDEQG1g46dGe0E0NIou7/uf0Fzp/MhzZhYaDqRXOu3J0ml
            rYiKUtA/DGScYNFpqqAKqUVq1TxW6q6hJ+vj0mpQVXFm88ahygX7QERXOq2L
            QQWZvs6VivVYk3tUVNPMEMaCg3fLciiZqUWx6+/qHAq9u0050L09P/Zzt56D
            CHCuFoDLZ4BtO3qlVrMFXZaSw9VejUyzwtmwJiZYBfleD7D6oDFmcJJ6YCSv
            ztMz0RYy+lALN3gWi52ck7NFnYBSLoqnwrRw8FdP8qnWgkIES5Rxcjrs3TZp
            Kqt8jwwu38kU3j7rJjmVAj2yfwNL15a2uzO3F8Y3T7RSKOaJPsZ0uovePWKq
            gCdOCPd9oB+FgbUXtWiDOr+M/2cAV8L7rLffuf/mndWfIn8zhlgT8CifcDy0
            f0mxvMoV8mVlEEEwJArj0ljLl+OptxanlZWDalfQS6A1JIQqE2ZYkABUSmM6
            tbuaDPPyrIQIOf2N2GyyPL29jr2ohAAKagPXiyxup+iNNnGlvQbP3WBeGhN+
            QWEWrVputscwWua94fIQ063n8zeud+v9rS5xW+Nx7av8pi3uupU5MO0PUaY+
            AWBCWgqpYTntGx3u8bD7KnOKaTmwEt181Jw5+oMThKB+pGV8fNNgbM2KH9Y/
            vzxQ+4qcl7rJk1O2xemhqrAZZ0XvM2uMC7Sct+V/bxw+TbO0ZNuV9fagSFB7
            VYhQuUEjdT8odbDcKSCOqAWDDDKygbbY+xeXyiaMHCHkA1BRuref3bS+icy9
            me8NfdhgDWfTqomda2XUr9EdVwBAvV3mBMZHvbMmIa7FTWvx1xg8OTH5+IQ7
            lwZu0pzuiVu9fU8BXmHgC43uc47pI5JrwA+NBmiMrYc7kV3mc3JlYYSI9jy9
            y1ONzJ7jpX44VJ8LmxjAxXKnPC2zrQhcS5XBcH82RH0HB7IdBenW0+ihlxV2
            0Sa9dKovD/1x4o5S6rTyTnA7Z2COtjOK+FHuoKMWNRDnCWRFO7fHdg+4hazR
            6cYC4L1BLZzgnpwSwIG7sRcJcP2ijwA4MtvZwXZ49stjiHkIcR9Xufd25QYA
            cGF7FKYqo9IybnsJyny7m/A+FRvYAfhd4rgVLLAdAO/70o6hUQ+lSohwAdma
            Y7yTDzY3x+bKHENLKAvLkGhstekKwdhwl9HxCsDu6JeX8mIuUEQf6ZSxmbJn
            XBBtRm7p1uStxOClI4Hd5UR4c5aQmytFsyKZY9BCBwgr4bwVA7A5F0YNHMxO
            MI1gR0Wc8b/CyGk9y0DaPd+dA5fbFSEcAn3lF8GenscKH+0G0eB+jqW9Pc3C
            aT4ORKiGFg5N0rwNLWzvHro/ATAkR3Gi+PugTYdKY4hM3CGFTq5RahnH52Ai
            Jp0W40kvTfOmobdzhYAIuAEmwYKe2wHxYmxNoS8FuDljgcE0Vro9oq0StMDZ
            o72aJIZMhc9dJvlbxiTOXfT0dNX7R2n7++H5vi2Okqztzlz+PtWZzkg2DFC8
            nA90TH/vNKPTWGdCSi9le+yXSr+xkq2jgkTCDvpXwu4o7oN2CeQehjACahUO
            Yj5bDI9gJ8H0fnzvHDejax5XLQ4Q9KykBK4tkpG5R6ZPAPqazs93+0RfMaEH
            9sN+n4tEEkFgw644KaCzHXdbnw95XviQvxYLYz6fPsTVh/Mc29uGOygxyCsa
            qgQgJLZFtj5YnG6lH0lpywWKXk/bZWowYg59pQ/BUt9MxudQ+wnUE6wROm/g
            ixQ0qK1dKo2qho9jy0D8GPm3Yo4QwJaXSbFjhXrEt3fi6x1pDkSgAQTm6jod
            bUCmILB369u79e1dZy6y/CZ2MDDexdwCmS5MfgVd7fe497776cz3SbowZ8/u
            THN7+utk7V3OSQtAy5JtrpdQyZBqthmV2w/9oqddWwJnVGBI4nyyHoGDUXW+
            U536GgMW+951QFcUhcc56UsIvcwuA7wMiB3T763vhAupX4MwxZhMk3bF6WTa
            +xkio4an3KGIUzvvu1z3zLuS7WRPHVekD5i7MuRFogvQInY0rMneEyG34Im7
            afWw6P1P9fxpE/akUnHihqLF4yhRAZCl3YdhaVXveGq8WTE8hSykHOkjflOC
            co7RD1isbmZ0euxg4STJo367lkNIpDt8Mz821G91mKCL+u02Hz5NdiK6I9qe
            Z39oOSCGaDYx9YWj5VLGvp5oDlbIJPUfa3Ho4UF32klX0WIr3xglRrU3YFLm
            62aCIgR5L09L2bf95U9Ffg059XYKBYxp8sPVSUfDgW44SuVir2mswQ557k/z
            J0aXQoY0EahuT2/Pmz2n2Kb7bvehT6pzIk3FT91iz3xfdeu6v2dl2weE0xGB
            7wCikE9P9bVbX5W7hm5nWKS+23P2vmN8vOIYLqp77Vla/arg48tbuV/+0dhg
            WR7WNCMr7IP+GY3uYQCqlx81lV5ghSDXmKwWV7mfdViUgZzMOLFxEStbvejM
            KLoWpq6FoYQNiu0BH4VenXfPcnsCpxeGV2Q0o8/IXck5hNb2w5dKgQHsdV3u
            TTdlcfzRu0Xs+gylyS7SicfNJME8F4S25EuHKMz3AybqWHIG4yOe91soXe9f
            z/tcQBMJXu+rfbU5LH1wWfIGNQ1C49SoV7k0yXOUDIDTt4LkPodvURSgtJj2
            75M2NY7huXeJNie6rBt7zQgClif64K4ojhF7DI2q4SBPIqq8mqObGOp0E0Kl
            VjxU0VFzIoUftinjNhgtI6fu1oZsL14RNOY93zKEBE2iqJI58t0LzbTDBh2G
            5Uvd3JSc+w7s9JNBrjejR8oolLyd+R0Uc5ciyaH/W6N2mq49RmCZSrMxuLU8
            IeJY/iHrpd+EGhPkmHKzVIXZn9LWUyEKfpSutPT6lNvokMxExxYgZGCJ5gZ4
            2BNCx333GUz974Cq+I7b1uHSjBuEzHC6AJTrFfD0YlbEvid+DvvnVDRCpXYp
            Ej0Pm19GhHdvNjRGnD/lw+oHYwi8UotwkCxMFJldjIQ07gBa7jRIyC2UFUjw
            NDGrI3w2O7iVEeqytR903nTmngtIi9SlVEA/oSo1sNXdM6TdeRruaFqItBtQ
            AJ7xTDU4/R6CUl7bYTaN58pw5sg0RQpDp1HEy7hG3I5dr75R4yXfZbcSTV2m
            YQgrEXcYKxZ2hZzEVU4/UtGsYSEoVzRnRYbayxh2Wcj8BC2Ml2J0JNs8v8mE
            0PRNz2KGz6APTDmt/FVZ9rBzxZXS5OEpoNPKTrCWx9K6zyaEUtVqbB+NPYqZ
            V2JfhYBTHSFCzI9TmKu0mwxTSYQFMfTSpCZYrMEieHR75SB6tUFQ11eDtcPf
            dFctI147AHYHbK3vbvsGhcA42tkUeSwduwXG0jWgJIvP0TvJSUMRLLV7BgpL
            A30bmRHebVjoR3CjK/+BvF4oe8V2X6MoNMW5cB0yiK1vMcpyf8vei8975BSH
            1FQo0zfieJ7F3WZ0qdqYb/otgDbJAXEwPEQ+b+C9wVBoMeuzmAWLWeZaHPlS
            n0bQ2BhDXVMy/BpdFr2ReWNAcudkRBMyM/ErLTitUGJvrq3QCqfgqsLkcTGA
            Q6GrGdCMY8ryS/kJ8NS7LayqHRLG9udn+qZ/fbP30nZdcoM1vOpy4SFbnydD
            wJZftKUrpd9aDCfzDKyJvBLQbs3nZgLoDot7Rend9Iw4TUj1GGMoUdbhEDXR
            Dd/G1Ez9riYrMgOV5xg55kuqv6vs38xcNq7XfRewXEU0LsnBUrpNZvpYMaGQ
            saoSL9HtkFlXmABN4RzgQjorgn7T3g/pGfyHwk2DzKuQvBk+tBaWGDNKMgYO
            7fSyJIrjYiqEQ6oEz2eVA7Ycq2K/ndo7FR13i/ii7KrB6iUmcV9lcZUxuVvN
            va3QELoO4/6Z8DrWhLeH63omnO1wF5D6E5KpBdmQv5kV+W1TcxOjAJFSmdUB
            z5csBSMxt5IpbqOiM26+LYXr9jV4d53aUQ4QbC5/mBBMC7TKSrSY0iwf83Nl
            VPWWl496H0zslRjMdVEzPRVZfCpqAMOUe1PdZQ1yEVqS0eopK3cLLNupS7An
            VY73w/wK8AW9urDhLyYBT1mqlgXlVSi2QIpIDA3HVkcbCW0rTSjkh6fM39oR
            QbYTJqDPjeqn/VyRyxIos1RE8STay/Wjjlt16qpDRWU6nfSAmvlp48Hc8Duj
            LgcMzJMmVtorm+AhqXfG+DXxictbvHwUSAc9QHNU06rQnsMUAOyLr0azOE8r
            JpQRvewFSQChverD+4PW6OfH9kdCvZk1omxTLG2aHGC72M4tLzCWKX6S5ZWy
            xm0Bh3xeSN+vxvR19u2Id4K+c9TEjDAWHV3Msx/AwFEyZM9tvV5dJt/HsRwv
            9xEndksmI0LlpmvFlQaBFZxbDML1BBCqeGm2YwzvFeMF5piRqbTskgbQmIPy
            jPLiyeqCFkSQ2pviUaaemZ7BN7W7TXlylHum6nuQ30+nDB9MFpchrqpNMEeH
            syvKHCNv6Q78VuZpnSXXeC20lgSviblggPbQ0WtOaiQds2qwYnQxiSMOF4ox
            CnQZ8JVnplYYSByfL1nyDtgwyAfjOqYWqDjrFK0ldh2rvBdjx+0exBxXRxOl
            VPYyOjz1WX6+1Ud3HAGAvv7lBqe7fgvawZqD1c9UMVgdagXEqtbRxPYXMiZk
            0+m4NhjGOGQmWH0t51j3LAfyc4r1vNT2NVaZ+qJ6zp1ZIkWzZ8lZe5dzl1yg
            VnsXhqF4o27tMlGmG2P97m9tWIJjW5xMoeI81uA/PrA73L46DEi8d8PF9bd3
            1dnyq60fnW3qbPsnnf1T//Y7/3t9UzvXj3au3c6KjPZWJzKDx3Pvjrzaeb3D
            32/juva46v3VTv3dTl5CqNLA/X/V6P9uO3Ld70QlBxkJohCgT2YnMBTCY3lu
            O4ZH4RF13R/Una7fXLBd/ufJ/+yXtO91tUnCXGPi8RjhYErTRsbhaZ+70Ekg
            93awEnnRIObj5DMKsEojp4Cyxz60EgK3JQ+2Zj7ZJlcx0YuMflJJtOM29Y0X
            aZpfUMMPCmVQGAUfZkpH+x0s+4Rbsgm2BD1pqKphB8ElESWRMkw3KK6Qft2g
            ltW8b+SEpxqK+8AvIM4+1rNh9GajGL6z8L7ib9h+yjGe5Xzqax+i1tNGf28j
            n/beUFsZ0hoTbDDm5OP98Pb++f7+ePVh+L77EEClTnnlrnaKtXOOt3bWWDiX
            9p6NZ7+by5/fjUsIZcaU462hazXU2IhjHk2IdN5SpGQbzKCxKEndQPye7N0z
            rYXMFpEN8fx6r/dffl6+ni/g8BoUiDfRInN2dO0wWq/CQxva6dV3ZjU8F+dF
            1zbmIYpFWUDWTqE2dpCBoOsWdwuNWSdtUpfUQDcVvreiwWcIg5KH3cs9cTDu
            F1wXEVAwd1/e0wkGV1kX6M1DSTvxvZFaN9fnRtaaceYm9Hqm4WP4tGuRCty1
            OIzP2ZVpImZlp1BUN6jzuRw7RU+IC2z1dcpf6a2D7tRJR+yIgpysk/GMKdN7
            ZuD6o5O5aTGeTqbVybQ6mWw3Pf2Kq19R/cLeTtfS6xG1DJvIaL7bhmKE3iLV
            s8y8amhmMO+auDr58U76pbFv9NjMPVdz7muKEoiG6bp0iUynAKCQRxI9PI3t
            VzLYcgEypllcqTvcvyGOnMwTdDGl7GoPsvjZ12/ajFQ3g9vaNp4CrpZ5BcxM
            7XmMnIV80w+PqVIsA07ev5m5gsJaJ58vFrYrxpnWQZ8hhbMeYEgdGIo06PwY
            uMt+dg2sUktN6ERHnDNXVXaavvYQjDQhtdVYOpWg1CMx4w1DzhMtk6/fbJui
            Ifle+95S7YNLXNzjkziIzCpZdulzMuMKL0vKeOVjj6PnLI0zUy+GMZk3WOf7
            8XunWXIxGfTPAjBpUi0KoTt659RzMMDSzSRtND0k6ChPB8aACQtSFjPct9AG
            9JSlGXYWxsFSL0dJOf9zTthuW6z0mUWaX5XTjYVqidtYNm/P0D0muWvsALXl
            FiLODHz0VZJrrlMUvVTtvuIbPcXztDDuMCLTcjkmh2DgrCZGBwvYJJTrHsNf
            Sh7hsTq1pghsRL1XoAaRO2CXM8uF+mG5QHl/MO2YjPLMbnXSt18uV3WlIAvW
            j8AsUt2FE1yj1C707hFxPwZ+ozogqDJzAncP40eZfGkkLWg3op5ueVIFGc/M
            /IHOHDcw2dqNwDf0IKWNtDKJlYKQqUPjmXH3KysUk/FAinpcp+j9REE6MNKF
            Ma+nLY7SnQvSB90MIKn2ezJshOoV3ed179e9t23oqt3L16Ca71qhqza9Yiw6
            nr6FNzrYhP/Tfep6MKcApntOx6zSBzkYf63jeIxrwcrIv6wt7iZ183bJx7pG
            uzqImXo+rH5a5aACdt1eMsmubbWb6Sus8D57H2K9Mhle3q2DuMy7CPPVV9hk
            evtd7+v5Xd5+N0vaihEyrZ8EcJr6bJ7A/AxA2OkVLWjJnYR6gSZzl36QJwpI
            Q+334pjbn9x+KKyrIczRYLoud5m15lgvvjeSzztAHtTuAhTp1EjWv5h3bacg
            odlEVj65b7grWft93vgugI+utEOm/D92dn+HOQjk6YrdO8olEyDbnAuoGh04
            2kefsXZcE3KSDPEyBSnLVpuuq747JiaQ3t22U7CZ3lK6jKUnBJtFrHUKoA5b
            hAmeGrzVrQkn04J+lPzXRfjTmDjnYb2Xq82J+WzY4syxj6X6mhhOxg2MuQdC
            pf+wUIsysItEv6mTA3TgvsUFNfQaorZnYIsDhdDuhpltjZOie1obJV1d9CrB
            wkbmu/A8OoxqRnomYqfy3lEYoFcoG/Yr4wZ5dHo+MARDJ+l6oSfdRwED3mfu
            UaMx6ZRujce8ShfoQirpxB//40l2xAqcnAoeG/sGKM777RPHP7r1HkBYThzd
            XcK4O6/zwrUSjWWpoZj43KdS8AfOtoC/4LkI61nE5qer1GidSqpWIrFViHQf
            m03+hAf1dtHcp7acc+lAgLKFJXenSRXJpbSHiar3j3IKCVJc3g1yO4hxbfIi
            bzoPFlxFBiWpW4n54NhjAle/cG4ezABLK2QX1F/uPpnqsemM2MoERpf2GqRD
            +ZzJTU2+yt4yT51MJwvQpcX76IH5ph29hxmiTi5aik6lXcnmdpuUpB/t+Qb6
            vZINMUUMvVX7Ka/Ug2GCdO29zT+P/iIAnFOh93S3lUbi0HHFuhe9jTPsb1i5
            2YZUJo+D69jlf/j+Yd8nefGyU02Lz/F2aCI9QPyhwCbmr1QS8JVBlhBb/KNF
            1fYlUbxF2JWxXB329HQ15qBRIWk+rDa58s6QcMq4ervS9VLGp6j89kx/OwNT
            W1VaXGj5ZHz+BQEx1+AsIZFbvtaNcgS+i98HtQyAnAB+WpmclCMgWfg6dxmV
            L1rIKi6PfAuzRjE5MWSzVbfpjBdHBiUfNv79m++6S24DivCL8hC6weihb5XO
            d8oZV9VOoQ55WptZSlH7LUKiPKpY+ECvV6ex0uGQ7Zg/guaFv29T3xAJk1K6
            qcEydyV9BwClRPNMmRi8pRXGCOTeeiWz4xwQ7pRyAPVf0WI06lXtjpvo68eH
            /9W36M2y34ccw2DgarkCpWsDEqgUSONJbZcOQfD6xhFH5SLSxH1JKCT/Y4vH
            PDHyDfBrPAyXAgBEy5z7LAR/sz+ZB69ZjKnbiwEokkuw4W2u7o9Fpy1sMSZh
            MR7nMHfda7ntXsMYDrBrSr3VTruC4wx26ovVa2MtzmVczPL5XdzN5nLyui5u
            aXNP31zP5po297O5pc11PVzUF7c14xzvuqU+rmjv2fO62tlcFCZP8lZiPk+w
            vcoTA2rIyWHUBj7UKVZyUfnsYMZEfpXHF5k96T5+9NctnzxflK2Q2IK+O8Nl
            L1vx5AQxJ6MSg8/kmokPrqzERjTl4HuX/NHw3XnrnIRk4ZMDRPKgUoZtOMWL
            Muv3tPx1dNGqFuhLPzom/17uuIGY4lDWNR11ZR+hJTMp1R0T5rxyOY9FT3R8
            Lq2cjomtIDhlS7StKz1ZlE3/hlQVlfVQvgnyU2A8lmSIKqYCO2k7ZJCBoBdk
            zkwNg28xkJ1LxfDg/pIJzsu+dbZ1nTZopS056G4Syao76vzOU86DTB3LqOqp
            frCfzG9VIT3gj44Wp3uhbeaQZj+80LAxBOQSSZL6sGeYfCYc+uh/b/YsWP9f
            /hQm6zBinWYKppuUP4WSF5Wd2pJoJzSqwpgQapr6JnjF59hhim3Hl1imW2ae
            ZTpj0qKIPXbT9YKqjVRruSGEKrEQSXxj+AaljYsuT+tMsZURisQnOeVw7jsE
            UAnfmJXdnOMV7HLolF0/CtNI0iEPAwUby3NUeEgYN4QmEIK2U54xoT0Pse0i
            nzAIwcx5WECMzy5GwfB8Xzj/kFEsUxzlOQIQPH4CGjAsHaF5dIfQOQ1ozA7L
            sdK8zXsyoLxXTvfNaTHSMNrYmHE+OWZCxLfGfCyrcVi2YTY9FN+w7sX4YtTR
            MvreZs8JIawjNelHZhKpr+GCZM2XspWL5Q9rYrO00Tnw9LMsLiWTLnHROmOp
            py0agxgz0/g60xyQBac/9WIayOkULyWTUIfj1mcbJxfeWRumzz+NK7LJLSxv
            O9bzsHZU1lbZLS9UQDf6F1a/0CbdgdWv+fau+lTn9geneWJQ400r5zoqkSd5
            yJlErDVVIRegRal6azC/a2cL5Y0h6WeTYhXEX+TaMeC5NIt1vWWLRb+6yVEy
            hZxXLSdN4dFOIm0rXb6ddoWHQ5NflAx0qJFCzGjBPIHuBzKO6TTlwckMNzVp
            RZAsFylmrW3P8SiH1Ox0iilrESszQ5QTOAIlIL4k9TqTE8S0GGriswz5ISw0
            qSuzwluuZ7+/k2m4M7lHoVRB3CSWhyyD3JkIGYyoKoH3xGrbgSNQitIJ3cpb
            SXVLsxNQVvI6BqeSEvdy+LojKBTNTZwyfGCeAfAkYD5APnT1h12J/lJCN739
            PsnE+mzZQlaqtEA2oV9Mq0J/BmajLrzuwznAHLlwrsVhfA6j2Bj1zof5DtIA
            X/JPXeFy0Zzs7rGy3648z8zobgl9jstiH837hDkLlfBnrOeHPT/Xfd/vzXWt
            9jwPuyYgN2+nE+t7vVm981jvr3Z40K3F8di1rYNyE72Qj9cpIPRzCMpZIXSt
            JHUaXpjkIJu4TdlLgNqsPK38OZYdgC5hb+Vy3fJWrigHlGeXp39cunKqq3y3
            Iwdna0flz3edfXcoVnbKf+NYNCe1ffSJsqIeypbB+2F5QxPTmSizxaWA0kTo
            Lkz1aAO0OrtjF0/zy+n9Q2wrfrf9NqD4hwHFPwwovg0ofk/kmrD6PZFrguWo
            yAWhlLXCVPDb7WiFsYDrcVoxWeekNlxxRIp+5Nl8h7itY0V4g80DpwiaGoCe
            mHcpmVCqADKefZcAOwEbJBblPNhApIAz5nKw7Ozi+oAGINfb4uRkNlCCYTON
            qF33wT90DmVmXJJXOVwrt0w5jrXybk2tiA9R1slwkXUezjB31hAtF+f9DN6e
            PxmgLGOTOCP6jfnLortjvPtHFN1iVqjskrqJAugwu05juuJxt8ggMMbu0N1q
            /64vbk++bU4RFW2fLlWAKke9hzxby913uAlhj23MaQcc7pOwqCci5mBfKPoy
            kZ9fmXzRIx38efBkCh5LRjGMtj6dzZrlmSoPuo3++b9srrg6T5eBYaa+CcW2
            vWWpWB8LiVkDL6AEHeuU/a8Pi3Ulu6zDa3VykvJBsTf83RWqLO9GdUCnj7Fz
            YXXikCXzeZeq4f1upU4qvDr7pOTamXWZ5fZ3Zl2nzLrOMutqUhi2a75v1+as
            vIMk1a5ncunzVv1xPOfQSUtA6MfuVupHhXa4inlpFucYn3LAW214XyGCwgZU
            9PjFBH0kZ9p5QamTpM2sJgOWE3LRykbfsljttTjX8pUuPaniKGR3zsZstnJS
            SJdBWyMqAxGOlunWElDuzILtzhYrefFakiLI6jWn5fpcCRTw7FaihmM59d2a
            MHsWv55VtBUdbbDjAvfYGbN5vVIPn92SnCp5OI9YmZau3rxIVwbB/GpT6ep5
            ECyjA5ix8Xqrv/ogovtWn1Kl6l8xPH3x2qmf37VM9moj+M9xuHxf+tY6B07p
            I9tnHchNr7FWhr/Y4kiOwdxyrtvZZDnE/p4BBCPTxTbRs/5eE/E2cH9+DoS+
            7Dofxzptrk92msjTKXd9vYOBiFW2d6hKCCvtr9X3n/WpYfyon1f91afjazF8
            /6pfXpM8Tk2yS2Rug/JWM7irb09PpsZhuMlRFOjklDDerfK4MrNzuwGLjPVb
            mbdpnuwzyFv20I44kjM3Xi71rfSTQwfobiNdLLlaRl2ydaWWJefw7jD/TOHA
            tNKCMAWQgmkpO+o0prpQCnj2hJ21pWo7wp6ZMT3lE+WV3pZDes0POmBnSBd9
            VgmE/Eoz4VBZvPOUPb04xUgqqJcnT25LY09x4K8pkqiVtqK/gmJKi0U8U0iO
            0nudwRStp5cPN9OFNAqtxdybQIBJF0lfugX4WqJtIp3l8614HfqeMgPYE9KP
            Ccn2LhN3Kxot2v2Z6FvEI2Qis37QlHB65QGKrYflYaSAVkuaFBvwoJIlgZ9x
            KeHZtEXHoLrOZMgrPid0MQ2nNZDFt0HOXfe9Srt6rCSlzLG8njkra/Jujtxh
            JE2UNc7DfArk3J+3DbvpbEy+1+nnJRphda98M1pmEsVYHTHFsv+bbBij0i+y
            L4MqhEvAVKQD4yls/L61bcJeSnthCMl1/T4HDW4AqLbPB2IUqML5p+S7vs+1
            MU5TeQuqAc11Kbyfp+o935YLEg8E5DepdwO8p3O14UrTOUHBJptzwXbsjAe0
            46k4BdrlPcezzoLYddcpIDxrmC6A8s7vemHaARCDh8uA3qTMcBCg63aGpJgY
            5k+lFIrJnOZUwUXgRMdmoeI0QSdOzRGYgHuuXeljj6kQ9zK9QbQI6CoFZ0mh
            K/m2Un03ntez4jJzn+f3d3i8sRzSQ1Qi4Xo836Cje0qgdd/v0NIYqLJp+qbT
            e64kug8zIUSor8VxZaagsEOMk4G40gYwpb0cUKiB8CEpcQXjTQdwSwjBuD8e
            F/RR77B6oKFjqaiwA4oc8jeg82i6UV+A7xZDIAZ/Q/P3DghFp1qIF6cx2CD0
            eD7OM3WEjiZPiGZecTthie/vXUeoH14p5AWhr93h3U4bzN2qnHT0XdbzcDzP
            gNN2mRz0aDI4FLY+yKJDAq57pyi/uEXlBfo1EM2M6+4bhRY6AjQGxQAYeUjb
            Qr8cg8vn2NHYO+o61r48NI/TsgKnnT1Ygj+m27Tl1fLIncd+bvXFrq/Dkfhb
            Hhv8nX//fk5bXHLOYHzOvRMArWR19+rkjHa9Vsg42VnpKZsFpyomCpPhljIT
            0mdSSkdOTNYuHBEC2rQ0joeFvUMKH2JBLf1jdGYnacdYXqHH94ERPPFpHcxA
            BxPF7oMLpSeQciek9NKrKc/aOpiPyfL0nKnwVyK6IMKs9I1kYOTNSg08mAf8
            vo6nvWUWd+dUXHlP+eL3BznRrDQtape2IQK0Dn1K8p87BNigRVSS0rlw525g
            Mgwe+PTeR8VCrdwHbL8xceDaOTwQ6JiB+ZpBJ/cRV95OS2KGCrCf55MDgCnZ
            HU+yZwA680jYpMm8wMS1a6CXt3M+o3TjjHIvikIixOamfGTrPDaG5x3HFvgI
            6TxEaberkEOno7awX+hNzdgKmSWaAl7BRZ06fZEGNgnExmkpy+0tFoYy0qAr
            7FHoKsxzOK93IVMTEpXPs92BZm46l9Xe2Wcex0fXLFtUIEAaYZk8iknuq3vk
            rykXnsxwELD8H/3t/bO/vf3r/ipx9FLf0IvreO88ee6PhAyN0Vanzm9TAjkK
            Gt7P+7DdwphOZqmlPu6kMW2llT+jOztwRXFMrouyBrxhKSNZfp3szGFHDzNn
            4bRTd0+pW+ilvO5ZF9uwq03mNnwTSAG6o8quovNsKo/b2tlBkpc8AU4PdBj9
            4/eoh2yBgXNydhxMsrAOCfTMVEWjpqPllBmdMHktmhesIZLJxWSEt2U5aU+S
            OymHtcvpf4YR/vVYSp6cJ7ozKdCRt14CL9VSVJpXesbuALO7rsW5D8vJQk1N
            lmdnORU4et+Tg6LmmCoHmpBYDqHKDkONGNx6T8SSxhN6Cr2OE3Nc2FzO59hJ
            ygf7HUrqSjEPRpdlhQmNmfJ3MQnCx/L9ksqGahUltdOpIGRYbh1hCdYJP+g/
            OIzw0tU5dZ4hzDMBSnzOS4N8ofrWf6EZrKauOoNxYYoOWSLFpTNzGhfosKWl
            ZLY+7Psm84P67nRSFdG6TAOrDgCqKQhsOLffk1a6TsuZqjImkY1d2Ropj7Qy
            xJmCWehLK32fKwfhM6GFEr6hrHDyeBayk8DX3rYqE4mFpoBeI77BJN/qX2jk
            HW0UEm10jGlVNRCmWXlbLEZyygIZ7f1+VAVRabcfsnEwDJkHOx9btmnJ6A4H
            yHYuN+sHquIRyu4kfW6zT/ded+a/1r0hdblF15iQTtlKZBA71Vc8bxuo5gPA
            Fv3cp4kNgztPmjAGkImrrceLTMjN90mZumiQgBSstFIhnnfbitmVHTcKSr0l
            Nn0Sj3ICKLsqZ7JlWq4e229Pql+E9mj2jNa+veM6g/9oAE1MG1LPoGAYn94P
            2ttHUgKPyPTQ18EMPDzFMvfZ0ZQ6IUw2/8WoXMaYjNUvN55ww7Lj+y0JHxi6
            9IozVbIgZjA2O06X3suy6RJ8wJMVhj6GuIyKYHLVDiQOumwpQT2V0cSdwF2p
            LrabpMApXtR2HRigqsjtZDnkttFxoT4iZsvzNhQEbAxVVdp9RwYKxKKXC2Kq
            ed9EyfnKGQ3pgp7GkmPITk+Zd91peWmaLHVyK5NmVvj2CWxdpmWhBUsjKU9J
            6fTDmyaBWTOSv5dv9S2CTq7TbweMWPJYxi+m7yADMdYpixAgniR9K3MTObbj
            3qfVyuqayFmRyFfmPnvjqto6svLh7JIB2ObeymHomucXfHBT8ZObSpRXEo+o
            NBEjGFd3yXnStWqZScJjbWUw8JPhY5+ye0lxvDTyng7fSYwJ+sxvL6fCSEWW
            ApUt4ZCOdoTAKRt8oxT0JCKSHdIc1vM6NZYxoJutHe+Dj5aNSahKUqYdYkdE
            Tik4LxfUDlljLnddhVrQHLHZ0mpyDoGj3wovItFNfk3SlY2L5G8Q2o4BVunm
            sh0OQa8HylfR/LozF/pOWoBrcUjueb9Yor77qg9rLiVvXhmgtqKDKJRZFX1v
            m5bxiF0u1ryu8sGG4937eM2P3MUOW/hU7P5StndDcYKZk16ydOFfizPt5Cla
            Vs3j3fIDKN+AJqHd5/Z3nuOvHTjHfOgFjYl9/T7z68QO+nw1OShk4V2GTTx0
            J71QpFsHtZKzAYBcD/Pw0KcXrbCcoWK7UWLo7ow7pRd6X17C5HV0s6Duc20O
            Q7fPTgT0Mm+IuRevo8gK9WokqphDWlrjTmGmsUNcZu4NA0jJ1KarYy79w7IG
            S92k06wlNHeiydPt/NRPHjgKwPGeTx42BguYEBqD1LDXPZwlZbuVkK1rm3cp
            G+tK0tZNS6zTZW9PBUnYSeO4XU0wbuavttI+KvelsZK+hjTqTIPnOuF3VArk
            DtGvTjwxCFwBtgx16u92kF/tQJ4Iv9ohoflTO1qMEO8ns0c7j6EUKNwFJDuR
            aT9ciqZPTEQqocngFhjpHV+/WY/OSA2EfNIQSZtyBAM6RDssK/DJfNUyUuo3
            3UTwfdDDRr+6JoU6I+pIXNJkntrGetX81igsEDPyfGAKUWXSXWmsSipvpIDK
            HVYlsiu6A5PcEs/KiQfDEzFzZ7OwQNKAKIs0tnGc4eIRlUexCDFvp8U/Hb3p
            sE7VQRd08exPvKd7Bk/MaanpWf8KTlfIKU7fsAk+Qzmlsc5unXempFy4p75d
            +dX8LQ8Z7uipBDvyxLZj0A7lKqBrna4XJRlX6QlUiGCGkuLRwXflEqAXaZpk
            IpwOKrc2rvr2vL89v5zy3Rx1BLteoQ8tqvJTK0wMjEeiB37lWXeHQvT7QmvJ
            zgCX/SjyDBtXZmDk8KRg5+8TuJ8HJtCwS1+moOgs1mFOgCoOiHaPRorIjtHd
            jYYltoFmd2DvuaOcWWYSNL3FxJbnfkUtBnPKksBCim7MMsZ6VzAH8rp+k2Q8
            cZ7MsCFuyhYT3NJkoDEW+G7UrzGEU5mlepO/863MH3e7op1KRASUlNor6gQo
            MkRl2X4oPPH8NSwZ+nLNrPPavMrBAIG3Nl8+YkVdLS3zSM4Oic2H1D5Kxhfu
            KUUskyovYf6QLUuuUUw+oR1WrqmM8EsrHZNtQD/m+RqMUu62xhSU0mURlwZJ
            5FFnHqxjIJ9BxD65PTWhZEH3IOgkV73lO+Mph5nntDWdvJ3cGlhYAytnnPKd
            w5MRyNY66VGABiGylK7QPgyYVmHwCpAfle397DxUIpnjFeCuaJEjOKoC2tVt
            4VDeWE7VP3MIuGuGeMTk6H9AR0OqaTAXgPNGEeDvJv3Z2Z3RrYWZddQ/9Nlp
            x7Syzweqypju5OvtlTbS073LDH69E8hPGjavwMO5uvkJNssapTMsGR/r3dvD
            91UHtI8UolKvY/InlZWafDpfdC1OGKvsGzoA7Uo5IrwLskznw/0d6wwzt1ti
            PDk5eJsEGtW4k5lFxNNrPejILdtB9GRos7Jdpg93xVT++9vcJTI5g5IGmnQv
            Qf589YPn5752G7b2MFmlNIrI3KE8k0cBxrcfd3gBbfAvoC2VCWBfPtiiZ2jM
            AxnWTjErDPnTNbrnWbTFMKmyJseUleKILT1nILNiNI7SR1s0p9jmvp3yUtFL
            Ab9p1Ng4nVXp0GCDA2s6LnZBnJNQSZTiXCkmGenEjsd5X2diFkyLp8mjP8FZ
            fZWfnce46QyCrFyfRYkXEokzUbFyjUYqUEgFQFeatc9vUvelSG1MiSZPCbV3
            CkwM9Iq0rnp/TZkg8GGvezqNU9oszCe6vFwJmG/32hnrO+CwdGYB4T4qTSWA
            674wVzEsf7xsB/eZ3xwR+soenZdWf+XFtrOp9+6i5eJrh7Xdz/OIEDBsccRf
            j/WAA+Z8DtAU5j+7W+z04uSZMiAYmOE+cU1Wn0evAO1dtjh4ZtbLfgi3A56m
            oplXyCFlAUEcRhfXQmJldF4m2J354N/2wr/XOr+HQcJnt4AjGcMOsOKVLujK
            BX0RWK5sdGsO8NeMwHtrH4D11/bDfNpMSm/JoPIJwmlCczLW+FkoSPTYw2/3
            zMF9ve7P6z73PFAi5Fi7ko+rH9rN1AO29uzgmqiT4/NiaPc+704MMJeGoCk+
            h7k10XA3dKB0XoOSOo8h5snxfXvh30qGBOR2MASZiQNCt2PpRxFVVSBVChIc
            FfvCj/rzPpOZhCVp63l5ex448LPxpFtQmYvBUPSj5mnYJ5OKU3i4Rq35qsok
            p2SV3nyiwTtmBiWwPZ08z1OvGD49XSHbHWLANTLgCm137jSarzFe8DSkOb0J
            1uma9raglD2+F1Rh7M0wSJgKGrezp11H/83g5xI52cg0TzI3MKzjLvpOJTAz
            nFdnyzlqsvtSIa2Ig0talnqntTg6Pyck/w793LNiBiDAM22vXEweVAP+mu4d
            4H+cU+eVNILlXNeN3jjpfd496XhLs8ezDCDUKX2/10O7PVMfGuexcf1yQSI3
            7RSSuHCzjh8Ok2dJeu3A1oRK0e9pgzQoZFSa6NAb4J1pZVynUfZ6AV8ZV967
            SOi8y9Uo0Q/t/RvXeY+CPap5WmUNuyHTeXLlkWOG+hLjMC99O0pmHqbzp5ek
            sAkTyd5B6DqA7Y9LhZQuJiXEuEwrDbRV7dAfQjQ/Ni4NAIuRJhWZd7qbHfhD
            fovR1zPk9DVZ2D25WuSXTpIzb5zID4PDo6VUeafp2aMjld3kmZlDEKtIN1s4
            CAM8psLt/ghdDFs4cTg8dKjZuT3MMRoX+kiYtARqGGm6+HqGfUCH+yeSAL8T
            76UBTuZokdpNR8PJQ/gsqKOkl09eNYdLeu40JdkbJCWxkCQEzkMbg/IgRADI
            PZezo6Qvpr28dYadb6a9PwvkunIrE+6IHbtPZ8oB6wzqEi3GiFr+01yjonzq
            dSL6kJ0XQhPl1jdj0cHzinmemeX7bGdWfXevc9bo4bLux1F29lcZodybagZi
            poKD6GywVTjSZNP0bBFEdU2gMmasxNhHtpMxlJuP2miB2TIfUD93X0y3ynbT
            SewNWpWYul6OlVEeHnL7ipYHMdBsub9LP7eokzjv2t/sWoczzfRWtVRzopqW
            Jp8e/GbV9UylKb8w+Xs6tbPUMm21z+fTDIXS+XUpsZRolWeyKveLGQJNW+BZ
            ZGGHcYRq7k00C9L1g7lsNvfRKKzkV1TA5kaOpcIvMcz30zqAgrOZBoybOQ9L
            vgCmIL9zNzpT73g5SJzPeWan52S027IM7ODfhiG2ZRTbvgLFPDiZErLRvK6T
            JnnC+718q8l1het1/sEhJz8lsyA/BP6QFPqkRgibhrIEc4NWCr5cgJ22pZjG
            uoVemNTPheUiFvgud75O+SRcenfamTg8V4en62BflUArZ7gzxJWXSQIEy20A
            qQZ4D4BoYS33TbQk3TRgQXp4N0oxRTZTkmxLnaOtsZlfG5WWYm0Vjo4rCCXN
            BSOtY0yauDI7IDXLF/gyy+PLFCsLJM/crPuAiWgGLYHwMlKl6S+HjUMap0RD
            9vyapoA19v9UWww7+bbCAs0phJEMSDwhkccVoogdpHwGdK1i2WGHKq2kd277
            ZytsYYVcUoEZGSkzTmdnN1RLirsOXGI9LvwVzIW3RyMXjJ+R61lU5hLzaVgK
            WrDN54e9ajnSuLYWR/E5x3btMUifh8XF7B20IZ6ZnPSyi3XYUcB1J+OJfh2z
            RY/J9bta4JA52DlbxLhiYcyz0n7TVH2szLiDqeaNM0psh11AmbJFDelVdbo7
            nY/okBHoTrSP27oY2LWiF3hgER1Gn1M7ppJ3Nyqx5EMVLfZfWClIh0ZXhKrQ
            jmQmD51Qf3tzi/MCWEtvHVA3LDMCzQoMXZ9epxLvXXoP+YtrF/f6csh/X3D5
            QRyl7YP2RG8ZbLwsoZeF4JsaXttsnhBoCi12NAd3C/NldIvl6ceuafo9A7Ym
            Q8N1yocaJbLqDH0/LKT9pd4HIST7DJH6oWU81CIJ9z4T2O/Ek4qndInSCGOB
            liqdOxBbv3Ny449nAQux1feKgNVRMbYQ5Lre61aGuEv7CeH5rRzjV/gHWd7k
            X/YisHpX2MbEztTI1nfQtbNkRTA8p5XsnSsqxdCS20z+2r11cYvctdUOkdI9
            mYC3kJNzKT7vJHvO2fdqspHQ3xpxf26kenvvmfAhXjgf2/F9HwmZZBvh/r1G
            Mzt5WINZ7lLixi7ucqpMsPIb/QFCnctMF3yV5wSqZZp44nu+CPefCDQI+Pwm
            7Pm2iIY/EW4IQ+MX4T6Yqe6NVv8TuqmdQ1fdYSGIVVqIs7MPuZ/X9ipavtLp
            WKf/kfMxb05Hz3uFfFgu54kFyfaM0JKLySnfZ9ooPsadVcpsmtq5aK7Ucx2U
            TSgCNX48X3xdhxXVVxus4/vrbM7dJ353kp6teB59o65vaHf4zGg6N5QbS65L
            gwdR18louSQXpmHvuGgxQLK0Y5+643Wvo4wXZ8dnLW5x4fPgJKmubvnnzX16
            CtMOn+k11kQh9jItw7PzxzrvIL0Ogz12cnAettfWwRRtLQ7xB3O+rNOTmB44
            yN3JrfgcHZjYLkj0PH2NJoLMo08DDzdKdsqSDgyXZ+Q+nYNHAUTgKGwqZRik
            elXhJfT25GSBEVhniA4Qj2CDYK63ymC4wHNgsauSWGUexJmZyKfPlYWdV5re
            mS0umDFQx5lVO7ctjLO9+iIfHnnAgH/vbPNsTJJGMYAm89xYFqOwhZ0FxNw1
            KMc0n3XlqTFLqkJlYscOp9VxBQGH0/wqJGKYZ4rcp+y+rXuKFbz36x70qtHI
            2C1Y93g7LjmZnJPsuMOJiRiyO5Caz22cysFs3YcyW2DwtAJe8p9+OR0SvQV+
            wNAiY611DCCmS1K1sqnrJED5DDM+KZwWqugW5IhLIcs+LNC3rcBgdtafcWSI
            uGRFGUvKhEnXJc7nCvQ5SOtAcPoiF56pU0TQ6cTUVgZ1nTiISkzzny/uwBui
            MX3a7CR3CwPLlr1j3UdahnXquJXJbxsMAvPSmSrLDgoEfTofjrZRww6yXNcz
            0CQlWFjfU/5ECxpjnKn70/dvMxkk5S7eD3WAdlTe/rA7NNY9n0UOtq+DhQ5L
            PNqOh/20/AL7HE9nRxuzsxsydKY3GbhxrWhos+kz2ZUgs1j59gYPDTLjaRkA
            DgsMGevwU/MWn+s+2f3l7D6sewzMortXe//438m4meO//A9MdJOPgvt8f9CI
            6N7rmcr/uR/yi18hj/i8qW+SJSJYhWOlsHsOUhhP6599HyZE7vcO99XL/fzV
            6Y9/9NvKlubt9/Noz3f59/NYaERlP079RfoFhPjUuqoNNu72v7pHMwcn6+zx
            52TlNZnjSD+fu7/5Po9pCcpRLbXyj/ZtflL6Pb7DuLUkr8KwOnNZfqK/NDaH
            fex29fdzyoj/orMbcrz7DTl/9+/vIK/Wf/18rMl6LVf8aB+U417v/6zwd+Pj
            EggY5+/JdgvYjj8AW9s7Z/dnoTWpCL4r9+Oz8l+ex795Xv/m+fjXz6/i0j9Z
            bNf+2xe7/p9Y7LF2TqIK5Fn5+//dyv93TyYP1lD80EarITAFw3N9vnNbve/6
            V7CDVf+ySLv+HXRefE92nevqg7PjxOgyx/G1IPEi0gWBNuV1zetail2rs+s8
            7b08rZ3ztvcpMqveav+7v+ssg5TXceCXEV4yUH/tPL+lFBynXf26j9OuMxgO
            njy3mGbi9Xw2u9Zpz2Oy55ez+z0pvoBNSH+dPL8hbE0Kbejv/XvRkOMhll97
            tNtAvt5zf3PdO2r1Oxcm+eB5Y67++n5Irmt8wa6p2LWsK8N2pBs7r8loalsS
            ojNTLINz0nWue792TtH5OdUKXeQpikosq2tc2mS6XYnY9ByvbBF1TMUcfeoh
            xKAksNI0HNLaSjwiQZUTnfBkfx/Mxxy6xRk0JSPrf2EufnJFtvOuqayqFgcc
            9D1xSTy+nFcmV3/nmuK6d8wrr+dBkx94xovSXnzWDwRGHlUZLiXLK2mO9x04
            QvhY9HLGU0n95mVyeYq2Y5QxFtey3k9yqkD7Y6rdNtNHu/T4bFgcnTFzh/mB
            BloQS1qmlfdkL99t6sQ9N0f59ZErjPz+kd4+273v6H5B3rjHeG/3ovzy1k6D
            MPV+72X05Gn003bobZP4QmNTaRmPYPVyWvXiP2OQfd3cK3Mxh/bgYC8DONCZ
            Qbaw9P90vv/fjdUviyY0duh/Ot//78bq17VzevsP3/9vx+ofZm9JJ1X6/9P5
            /n83Vn9lr03D/4fv/7dj9ddRkWlc9T98/78bq5/N6S/N8x9xRf//5vv/3Vj9
            uLi1SyFB/4f5/v/8+2KlLX4m3fE/c/Fv96+ZGTkv/ug///6d/k1yazTrzl+s
            L/lspun6J7qGQvfBTdwY+fH/AFZoxic= 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
