<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.216c</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.216c</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_216c</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom 43142 Bluetooth 4.0 Adapter</string>
        <key>FirmwareKey</key>
        <string>0a5c_216c_v4424</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>8556</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_216c_v4424</key>
          <data>
            eNrtfUm25LiV7DxXQ/RAztCQ+1/SN7MLutM9XihSVaXzB1UhvaSTBNHj9s3f
            hz/4Lx6Hd6v99Xcth/1zRz6O3Pgv+iO6a7p07lfR49/7VxiHTwV/df+1/df3
            39h/c/+t/Xfuv8v+0KD9uf3n91/Yf3H/pf2X91/Zf3X/tf3X99/w1V1HvxbH
            ee1/+InGWij4b48YL1o++nFwBrw7Pv5d/a+/r2HvovMX/utjiCvEEILDf310
            6OARS075zKmg/Rz8kVIKmKIjhjyzK6HgWeD9ma98phRrTLg7+FTfr1gL+tCq
            +hMwW7y64tnXI+CvHJVPWtCa7f41ve94PytXJcd6qbTn/4Y/2j2S+hhVvjRO
            jyFcR5qXPe3dxXLVyV8q39vdDGp+zkqeqWIkM/fA3jl0es/b2CX6vsZdQ/Kf
            vbi7lffzsq9z17P2e7+fh7vc5OgxN32vWsLNPLptyhnZQKmv8kF12n/VXKtX
            De69F66raPRtfj4/ahg2jmA7wFXU+FUm77HGz+dpBs1W/2rr2HPYv9oKOey5
            +yq/J2l81X+loA/GV/0zzWgj/apn/5tf9WCTqYXzqz++2vNQr/ZR/l6L+fnc
            V64CQcnnc1f28/j5HB1U/fG7/mOXn7+U17ZJ3/XnQzArfZV3yerPX+VRiz2P
            v/Sz267+fN6m9efy2gG+LB7CzzLn0jnFRrvm8zmgT9x9+3h+H9zyVR6Lr761
            +Pn8hrzzu7y3kzTr5/NYq/o8v9oNJSY7V5/P/bK1XvOX52rg/Cofctx44lof
            4103Pvl8bjOotVs/7cnrq/wNH676+Rz973bEr/P5vAenT/zx+bxWp/Pr4+dz
            13b5+vl83OW/6gdAQvk4tANCsTn5qtNb144Q0c/nc5fTPi/X19gFjGr9Kl+b
            9kz9Kp9Qw273+pzzLDB5HZ/P95RwDj+ex2ibKX/tsdANMNWvvWTUAcclhPnL
            2nngzufztNcaW/Pj+XU/n5/PXThuIP3x/AXzv+rv9/P6c7th/txuPH5uN8af
            243113bTqR0QS7jP41dbLxj7+fwFe7/qvPHpnD+XX9993nBg/ab+VX/z/Kv+
            tBH0+VX/jWvOr/rr/bz+pvxX/au98Lz/mNt9sGv9fH7DQ1AdH89v/N/iV/k9
            b+2rnnmX/6rH9Rc98vPz+Jvn9ft5WdoBoPLuue2/aWvW3zz/Tfn1m76t3/Rt
            /ab+EX+e21F/ntt5/Dy3M/48t+d3/+Pr/MaPejYNV+Ln87H3BqBo/Gmvkrb7
            eF5eeyn+dH7rV/33PKSIVXo+Hy/4k39qF3Dm83l/wZmP57FqB+TchMBv2PJR
            ptQXDMk/rQW4mPJxHudND3w+v+fwtG9+fR6/nh+vc/rz8/n1fPfnOn5+nggH
            4q9zfn2f6xtff+2Nu5/jG77t525+1n/vMTd/g2uOn5+XPd673uPBv/303O15
            uPf6fc3fe3i+ztRjXcgnYwcU6/nr28buCWtUIRtvh2sYb+lc91aeW7nu2XIg
            dTxY0UCWEquTsHIZq1r+9H5V0uGiZq/jk1kaX8zVzdGn43hzQ8ebefy+/+J9
            AeAiqXH3WuV/558/Pr+KxwcLiRnPH/fl1d371NeP+/ZmZTdE7x/34zX8G7rN
            z3s3P8Y3/fzo4AwzfNzH+dFhcFecx0s7oKbr+e6M82Mw51if9/P8vF/nx2BP
            /Pu4v87rX90fXXt4fs/x9wp8bPHXfJfjZ168f22jeXzy5Pd83fN0z89Mb5hk
            o3/DHBvtPcp7NJ/XYiRas/1Xc9iUpzsdT5A/IqFkWM7OE6qVDOfx6/WeopQq
            IOOPfjqHn+512ud8bMbnTsyUhIB8tLPJzwdLnKxlaKIuOw7eHSEZFmhJ0zXW
            ifaq+9q6LO/W9NHO2Ljs72O7coQd78d919mv9x1lG+/WAQuaxt8y2ovjfC3y
            u0zAltUidzS25li7N88y8axx3WVSG5qTdmJzvMukFrNJPxrKnNZWomzl1Tvg
            3va+G3Pf2fdgS7AnsFtqIEKx713c/dAXGMt6fFFmvGx07tKsbjrqfJSpg3IV
            7LW0MDpn85m9i48yDWy6eM6EzZX80ChSdc/RgZwHl7PrKXPUjReeszRcDXnL
            ajDHNgK/Z9ubPKCL77Dyc8087xnrc/RNPzzrXGj0FMGArsc59p5Cy+8yODpJ
            hxo8IP72PEz3nCvwtnGqDKrABHWTmTzbckeuSRx57RhjtDIpfpRx4CeL+oMp
            u4rN1cruepTxg/JTrgvn8zAKLn22FVp8l8l5bBnLR5lYHmVK32U+62H3Cs9L
            IWqtNvYVvXuUyW4Dn85jutuK0z/rAYYErmQ92H1u1wPgFR5laiDHsddrdTsF
            Z/WPEwd4FKvWvZfrCNnmsGhczuQBIz3Ou+uuApJEyZGOueezd7/euz5zV73u
            UGt5tDfcAUTrJAMiCBpGm4b6KAMQDK52l/F996mGx+lzq0XDLh1IakybIwCu
            8ShzAiNZGSwLDvva9PdzHq819x7Cmq19lmqMjzny4LeS4HbjPvM2j/Vj7b1L
            hPQcPdpquz/1oy3vUx02d1iPuKw/F8Un7zKh1Vrv9bjmhlyfbcVWe1I9iQSS
            ndv22VbK0TiXjm75DUcAbZ9lsJAmwx0UkGcrg/P72kN+agfMaFKjkig/4p47
            eXxsrsZnu9URZnpbu9ptjH6mB/zyLU+vMnUJjsybn1SZYPRk9cVheSh/7kBc
            M/V8YtNjBGwRWJaCjAA4EjCnwIiOSgaQX+RzsAsqcESP498tv1s3KiJxTq+L
            XDX+G/Xfqv/q+bvc1NOpp0ull0qv+lmOvOIlTuww/czE9kzXhd1frFyQXoRy
            VpPYX4tXUADnVTbR8g/+tPu69rruhbmvf/b3+pa7cDRQgqDwl2Hc5gjB/tnf
            Rz1rf9v/2d+P317/7O/j28u+xW77R3/f33Z8azJuk/waf/ife3IZJMape+st
            cbyxBsTKp4nzAHjQv+AriUHcN2wosBFcoFiA6oph5VPKJuC/wR0dsJmF1ddf
            f+v3Q+u0lsFrvyneMxnV4uOLdBaF4m9EkOw+7Pu+79sXmV7FR6YW/gkjNUBn
            hP8C/0WtxuA4//X3t2bhJZF/cNdPzv6bk571xVw640a+2IbjUwLwE4e+y7sn
            c/TZuqQ2LxXoj+9f0umf35/DCcsCE+oPYO3i30NiovHdS/r1+UtaPraU/Ht+
            8p6/rSz65f34sf0mCiJ1P6gyeUuiTLNQD1d/bsvm6pZ4f4/11kKdzU7J9/fr
            1m5Im/nr+3IZpfy7ubr3yq0l//7+T//+tNduDcTv3s89P7+Ib15raRqP3xX4
            0/g46/khUfkendt77fjNXrulz7/by7cUWn0t2gHjfvBL2fiHuuof3v+hL/UP
            5+JeK9f+42td/7+u9fVfW+v//vyFoB0wv21Ofv0XkrX1gimBJibv62vMwcp9
            lz9DPL+m76N8u4CxEvGVXde+zmLc9elcMOoJnAae0/7FOGi75n0txa7V7fvL
            vndAQvr+su+vYlcQsumn/s50iAtF+/75/O4vq5f8ZNjV7/u47FqKE9e0VnSS
            pez3q9k1OHsfk72vye7vefAFeD/9sKevPY49D5IDjl/L5fgleX2fStNiR/tu
            Gh2w3BNnuj9c75r2GMCiNJsT13/qy2pOnN9Z7HoNu4LflOQhOrvOcS7Q0pet
            NGGZiwQgI9p17fur2tVFl3gFW6BrjGbMU2dYfssozzy8nfVWo089gJ3leQJV
            T6mjoyZX4khnUkWagHwLdj+m0G1CgMJglnN/hkP3uTvXQe6GfASlbmxPdNEI
            dq9ZfNBJcd9jtk6VW8atB+qlgqjij/J5RO3VK5ziQEta83nmrhDdc336iIsH
            4q+/e0unM26ccmHuz2Rc9nCnl3yt7LrSFGUcxpRFW2krPdugwuDZhmtB+6yv
            fU1W/mpL3LZbs/xU7xlmfta7dj2PduJPe22S03vUC7bUPetpbV6f/V1SCzjy
            hlHmIOETbi1Zu4Gej8bVW7kV/xlFXJ3O1zmP//v3v/PfprKuMf5vLv6X7gBw
            Wr6DFMz/mfrn8dff4MqCVPWhjn0nnFPXvpsyizr33VJJyjKimX7e1jHF7Wf1
            zYd2PqMVdCTPfR6Ueeg+C0C2iFqlR5ImbSRKpNyMuXraZS4H2ij7RimVlFA1
            AysUaVg8y6/JHgPDUbrUabQ2RKA0yk2K5CZmxOvQ32TSFdAAIzkPmnJJNpjd
            hU47XGvMyV0ltmud+CqfV0n+stEQ8jvvM/oSdrlAoWBXW1WzMJdry4wAO5t1
            65DtUAYeoVodfeodNEWMNIPOuV5lzKtdW8o/oxkwhLhlOsFLGU9p7ZlFdmiO
            4hlbnCYb0u+15UTuouR4srNno4qBYrIL1V5xiry8KDCMJiFCP2yOlz13sTZ3
            0spWEmZ3HvabdnLPcjI8s3K0F7jLVcpcaXybMan5Ol2+9rxRkUY5QyCxheeF
            9YAuE3MiQ25TrrALYe53IKEL/jB3mOv9O3haKfhUU/GcPz6PnG+g98i1YD3p
            Oj3nhKpVkCHTXfUiyqUBIXpP6+JWSUbQYDF7vgdxR3MFF9E2SG5KdCr6FMuV
            HRU/Xn3Lh8e6dYm3C2l2tTE57zQLw733ex2wjqtg5fkM08o2WMd9b3tzrFH/
            +jt0bgRuUN9cXaCKsZ84350K4ctf2AH8HhTUif550X64B0twxnrZBsG54u/v
            svlR1gV7N6kYdl5no3qdCdl/8uz4wG1qZ4f3kboa7C3OWZ7ggkBVVmfnCpyE
            af6mna+yTLZ4RtftvDnnt0RKMh3sI7+tm2RgQu3MoE7pEL09QlR9V41S1Nda
            KVzyoOONHp8m9xyX0f8evAdPEk8bCNNE63MJWzGAGbDXKEMKWMMZA77ox0R1
            DecweMw4iOnle1ik70AQD+wdimi5fzzOz6TdsB8B9F+IvrtJUbU4iO7ComNC
            d6jDn777yTovak64buwL1hVtZAyvWVsX2vR+UXJ1rHrNK56ljqv4hbPvQDOj
            3YAJP0/7jTN7nQMcT+DcFyr+wUkurc2sBVzjZTxHLQF/s3I588K8SqnF5/Kx
            SP0qV6fl76lTRrcCPguNMML6itUb18C+w3wc3uYjJU6GvqELTWa5lAGnwVX2
            DWdHEKB6wVnNirRnYRoMOySk8wnwub7ttRbmKberlDEapYjY5GZERlk3dwNB
            nFupAvbWPNpL7n1YfTMCH+IbsspHiTh5ucY6sHGL4Bx7ix2ItVhunJRNnNib
            3uncR3OWueuM0Uu0LaxHbZe0EgBf0fAN1qSneBV3Dqwn+jqPdO+33SZt6qcv
            OPnupAFE4JmdwCYLJerCGqfruue6LdWRKZv5riP4X+uYp9XhyruO2q2OcPxQ
            x/qhjmJ1cE/ddZRqdRApfNcR6w91HFbHNa7zriMXqyP/MB8p/FrHaFYHufS7
            jpSE+7GAm4po63jVcf1Qh7c61jVO4Xb0YZ1HbqfhxXHwvBgujlj/ftFWBIcG
            qyarHMJV7PHK+5Pmlyf52Jpbtr3nPFAfezoCiO6SGr06RrjL63oREZ9mg19x
            xlEuikfHfVzAHMAdqK9iDLWX2XDAXFqtXbE7Xyrv0YdXnYQ16t+5+0fdD9Bz
            3c+cP2kF4G69EOAicNBod18+viW9VNl2banuMjLKwzn3Rofc71FnIzy422GZ
            5zxdwD84MJqXSdztXdbYaFwCiEl6iWeD0ANr6fLMvuOP9WS1EXt1BUsWhKsz
            1i3mq+NdF1EQWLOVX8BDmJVCraZfJ3Xobp9BSomA5kEPok3WEfJFahD90Dq7
            6nMnjGo809HoOI6RZXnmB7UFB2kR2nZLHMG3HE7toK6pRQQ9F/nstoZqgDEN
            YI36d/VnRowPe0u03Tp05dbiVyfGloiG0G7K1fUTO85hk5fBeQSeAMEKrEYA
            hnX8qd9YK9fQVy/xHstgbgPmFkgJdQHw06+OJN/ZbltPDxrZY6ZjjOnEnk57
            rUqj0Mrml4QN4CAdEbq0jOjd1HwkkjBVEv9p/V2smxi+mpYGlHlmP2gUDJr2
            Up+w3hNQQG1jrAMA9LwAZzlvszryErIujK95K4DRdI1MOJHaAyVdnW5+pov1
            teAMoXp+TxqOwKRJQgP8SW+3KLeqIVpI4lRCIYpX6T0Geg6karjpsOH0jvQ5
            qAfCcVuP0xXMtZB7w1mkBQJogQtzcpG+CdaOA5IlDMPe7dyjniY0Jb7WBkcQ
            7yutZIEQUDt/UxA/secwxZhstJf2etx9pxQsFJCeCWdk8w46C5fohQj6neRy
            J971XC/QF3nPPcuBHumZNGnyoBtW4HqkRa8RXMfVQE9w4rH1Oc/EyiCveUII
            Lxz3KPYgzvJsw6Gbz/OsNSH86lhE7M3G+8a+HcDRuCdozd3OHnkw9ieRzsHK
            5JsnC6ZItvXN2AEhyUQEtPmJs8o9Q70d+SSp7e5zBiLllp1idoXbb3wMulM0
            IsB9Ju2InZI2TShackajOQFXnGjLgFaBPeqmCYDZSKcC8JGWznwmunXfu33v
            9r0X/ZLMXrHHKHrzanYPOld6mODsStJRdGvb9030jSwRsVua9vamiS7QDJlG
            RpR1TuBI9AsEcAZMatLBt1J1RuMClRpbc5xbd59b0Kyc4/MwWEjOFoQnXjra
            MziD3d40/lmaZr/WXIIRGDtWT04IcdvIelp2lRx0liMFxraGeI517YNrjjOO
            /eCGjF30vGINz7OCjgZdCz509qOrNYPThWd3UJmOPmrPH4Y/4lrcBqSEeV8I
            13TfaNG4fw/Bu8a9XrFP6rzWXcYd7zKLcJP0IbAfjWKxmy5H5zHygnQaNqfo
            Ptp2wAPVC0qNQgdPmgIj6fpN/NfIN+IPNGjv19rvgAmzz9RkVIxsrsBz9eLj
            wTf0o07CoU56b+JMEddu+Aha/jJ3Xrr5kcXC2QNv8Rq/0Tbkul54mDCOm8nL
            fo14B3gAMD+scW48VEAkSA6AHaA9uTavBEy2nucFq637MozWNvuwi+s9b5xW
            oll9yhh341jBXdAyoBFQzMabuAtM5TD33qQdbCWjpytBURV+aPom0hw2AxZH
            7lcsE/ZxwonFM+znCv4NW21RJ3Di7wqgIkC3kC4Jgd8epDMMxlJyEGhYD14G
            bBHOEZAWiNqSwU2C4iPeoVGcn8OlWSinAIk8fJqS8kyUDb/0FWxuQcUObSR8
            BcbNawYnce9VpYRBtx3ovuZK03tHng5bFrgDDIDuwT/LANZ9lDH+AvuQtC84
            X5xv0pKNkG2BRyF2u3DGyTljDGB5RcfgHPpA/a9IX3D9VobPRxd9TFpu6P0l
            /0jx7rIfpBfkafgTyN9ra+DsYdEpVKspo27yfGOXyXaGxiI0otaH9u1vq28U
            2HvI9hr2mGDrqGYwD2Zz7KvxdZsP693u+9qG9eZbMl38hA2BM35Rf4tzSjqe
            2LCBxuYY2H8aaQZCTe9Jc5BWFM/jgCGw1qzDY3Ls2iigaECAjlKvTFMSclrA
            VIS9PNegL0rpgK8DJIB40gU2+5SMyNn/rv3f6/X7vn/+7/h6Q6vk8tlHzOLw
            XJVqZzpgFHmCbwnY349yOCdWLhpcAIUhnqMklD3A44CG8VgvfkOBmr5xorMq
            4ZRr1+kottn8gSetB/CRydNhj1KUpefEPUC9I5KeYIAKzIlkT45zTFxT7jmi
            Fzn32QA967FARJp0A/In9u2GfdjTrTbjeCU/cOhKx7jbNVJBHRnEH+A3AB32
            cQZXmSkFumhHSljJ55TRXYATibxwvCbPkaOmFf2M/jK6FH1ludVIZxGWAzDo
            GGC/Yr5Obru2Urvh++Z13v18922wb5izma/xhq0UlHgL0mCMM+nIAGrxGtXk
            Unna/g9bXiyYSlL76NILh30uiO9BQK+yeWedPeznTsI8gIrwCkkB/C654Ut+
            oqbPv/5OW42PVUqOcmqWIm/ISSCe7BmPTyqjbe1ovBclyo3Ca/FK2Csh3u/y
            SdIDBDZgxQBG96KhgaKuFDqDnFBmS77HTcCGSkF8836eWUrVRdcs2Q4AnpqQ
            xuahX5KzrHPLKgjHTp1tfEz6kSPbe1fnOoBC2vw5mILxki895nxhh2DeTkW5
            4PhHJIDGUEGsnNz7Vp/rPBeok2B5yy/cvEZII6gsaFsfBH9PTz4fz+Jhqln8
            ziCrtR8Fa+kAR5YbV/KF3Lc4H4uwFvvtAjFVKYIQbVSp0BWf4VBDiOHy9FgG
            vTYuJ0NvnrNmPCZoCPIzi3Jn00XcOgkz5tl2BHvs974ir+sJgPe8CgctkWiR
            8o7F4B8R40fXCvb08ZJ5yFzZ5nTXGbPW6Oy7LtK9DvBHePcgb/SQnySsT7C6
            5qOuFWN69jMV0dLn3GtktKdkIykatZ4qDURr1C6meFwOMf5UnZmRbMDjEWxy
            TRw71w3OU5/SsYcJM3wyGaXma89fc6Avo6mOhEPIQQF3g1WolMttuqRNyZqw
            AidgXjS69lz0b8e6RO9GEKwZ4qPA81CWCESyLOBGa9mJSGpUgByN8mW3+E2t
            Vz9Bk3tXKPn0vpzHXf9K1yAOEtu8ad3twOQOhbkpiqRCwwpX39+RX3ak+4uY
            dvoVcoHUHt73mydkH9t5zd1HUFj1EK/ItrH/8Lxuuh9U8IbJ6ONZi8S/weEa
            NEf5oiF6vShEW+IjSVcQ1GXhUOO/ag3OU51QDowah8Tk6/M8Be+ozAFL1Bb2
            Q6WRaLT9QDiwQNPpylJnbg1jmeuaondvOVuVLNl5xbihrwgjYtB3+qR6B/wo
            UA/laCyjCCziurDun+Vqw/HUXgM4J5xXfIalvUaQObgfJcRfgIoY+0XD4ZqC
            L6QbQDHI3Suw7Pdz4ENAEjrbgISfsavNw9r0XjoxzSu+A5VDCS2eOZOVUQ5b
            KKbqj3khN5OASsnTs85E+C74HAD8h9bMqQ2MBmcVsE90suYN/JycRPE+aQ77
            gf0tWjKuJB2oszkCMJjUuxF20LsRGKPVCrIP19lAQooWP2kD9P52zy/O4Ovb
            UYi0UuJ3sYGuZSgQbItEC136GIGt3zIVjdnL4s8dL7kYDrrORB2+dXJ8nAO5
            NGfpDgBve490Lcue8hjQaqRTzTfRu7D5p0FfCmf0EvfSQB95viieIb1HWjs1
            +66R8nMmK7vlImdcxDdZ9GYFdiPtQLyYtz9ndmZpnTT3xeomw4R7WvpxB2Ku
            Kf8kMQt+E2ujub3SMNkP+9XBT4lGOe1+5AucYJF5P78dsskcrcyo7zG/l3D4
            /r7d3+dd3/6+Y+3usSzsY/I7+QJ9y5klYwM0XRT+xEeATcAL8gVnF4w33dCe
            V1tjcHWDexk4BuSWyaumfFHxzIlW6BRn6J09w3nMnXILyssSaPMQ8pbRaf86
            1kHjLGAH8UqGLGwva8+yfmtT9/KuxZ5nMKs00J7jfGBFu7VbW+lqWypEtO3y
            az1nW8PoNhBz4FsXvj4fsuFKKsZloC78AYJWSp+xdYj3/AV0HyhXCZj3UpPD
            AXAkoEBogg/F7zMEsA25gF5yC2xgv2hIibIz5O7pr0B+Yr3LiU0ACPsuG1CW
            56jSE4JUGXhZFBpugM6YBMqgB12mn2+dmGTqDagDwN7vgTyMk05grY0Grf+v
            PU8RTdGep6wJiMXX1XlePE4NA9CBV8ugg8hIS6di33uDHYqTofklWtA6S+nH
            NSJSwFj6IM6grxjO6TCYS6ZpMfoclSr39+HxfXiU6RgqvgPjI/oSc1DXWnIC
            veUODvRy987zLL7hZDKZVgLs7kWwgTQVqLDRHc6Ju84sKwSTVwr1YI+7C+dq
            2zos6eqp384mPwJvQ4kX5ps0siMY4rNHuXqXw+GpjAyjdokfW55sd8zrvGU6
            uQCYROO5ZWcyjU5257bJ2LYZfeun144YQGWsl3O3Xde+d9ltt5z7at+DdzSo
            Hu05OCRv/LeXHv2k9/iQm4m/9amacVEAgPCXzYd4icdvSvL12z9+83kNx/3b
            37+Px/PHb9QHvibU+/f9/Nafls0rHLvPQPWy4V27r+1I0tWvPbZ8fI5l7uc4
            GzYn93U/7/vqq1PwtjFAiwBtnMenngjUDqbvvQ9AeQXpMyjiIHtwrARIAbBN
            asvuC9ldHL5cCgVO/L7f32P/OsofSQe+POS9XyLpPRVy2P347sqkmzJB6yT0
            6vs3rvH0eW5dXyOZyVk7RWeBCHv0Vf0s1HqgX4CxizQ/zh3V2BmMMsszKuRL
            x3VYXauehbZhbpIZefOidl7EQ6skaT/aAFDv5LddiybYZdH/lArF6nh4jN4H
            kwhalxYlR/fS7xEETAfOxDvpbBpVtN1l+00zYNK91GzRPuKg05nBwEa6fy6J
            PjpgPuulDl7m8vrG5GJ9/2adIMwA7s0+5gLsAIRUdIp7fN9rTU6Zuk6Mp9N+
            yf8wZ881UmjFk7Qg1zuDEsrASNlCLuDKb7NT9M2fvzde0vTX1Odnl5xMnPJg
            xE7uI40b6z4ZBXTrF4D0MYnZ6ezgu17N7lxz7kiY57ac0daxgQzqQ7F68Jx6
            xBDAK+NvNe7bhT3VQZcGet8C1zFSKOZWp6RRWyK9adAYyP9TV8D1Ap1CaKc6
            Tuzl39ThzzhUD5j6+KiDMBTj8w7zh/E661setdmZAmVG2deoA0xYXw1lMBf2
            LpEc7NJv4S8Hwm3Vhe1LXMq6filL3aXWghIggGr85jfoE5gGjINz+cV7d/Ar
            GWsyz8eeYR1YZ5r+HyRTnZ0hC1Zga5l/gCGdSgbu3SMzQBnPdQIMYVnxJFnx
            G0A70k68R4viSp0Sw0DIJlDnYhBm/rSv7rNscpK8bcfTtqMyfHPsiGYu07by
            oCGLziWIF+xx8v8uh6eMRlIQMJqDiqptlwiMC/oRNH6uw/TK7BHlHhaGVOfv
            MBsV2tego6m+8bXqJK8i73ebZ34PLN+w4yVrIZwhXc6RUjZCHLpAkLMcyxfg
            LQC1fMOZLOsTn7dtomjw4MQzJhx42SpS2oL5pj5bJEAUgiuHwbBE2zwKPN18
            lw3xLrvLPN8RN0v2TjpcsIgcCXC84r9eCuWSIijK4wruov6XY5Rp4CAJ5sEa
            E6qeFUjkzLIMxMil079tsmxFzd7imu/x0Cc/n/YdWGzHun4a42tsNta0x5ht
            HCmcOQdG4n3B9bTnJP86F5p3+gWfjp5ND/4dYLBjNwRsw055DeigAuKPxrG4
            T4AHsicEu0hXetm30b2dMh423rVv7rUDRZ0ZiaE4yhtyCeTtMF7Z2VCvoX7Q
            zre6UjauYvnqUL5FUDqxVR402R7QqG/XWw1HtUzfZjHitMHstMMUz7YWMDHt
            RSlTJJnOehg1uNZ7PWlbqiNG21KVdbIdeq0Pejh3HXw+lrXF2BQOfPTLHnO3
            1WlbybaCtYX/co8cCgHmdH211ednW3G3xTpkQ3kBvwElUHJGGfA9brUHSsDw
            AYmcokBC27YzCtZQt3OYrkySRX+afNIvbOZS77JqP96wxWwx3YYxbkcRBdhO
            Txr1nOpXDcd7z+BwG62VNp5C081LBwBK1/zWpRMF3gDN2ZPM+vAMBBhgfAVP
            ux785FseQlwTHnwk+7NlE6gjeunIUyrbbu04XWVIM+nMKIeS2SE1xktO4xxv
            aqKL6i1jlbwOfS1Fdo+k60C9Z2dw1+jvb7o+AF4BYXPLveSgsgPRvhjt1lNL
            p4O16j0uyjuOB5/B+/i4l87ezudhlKXOZp1bl9Cxt0kbvdoBDZok9ysSA/E3
            iC/U+ca3DfM3m3Sgdesl212eZR15PHd12sLiwVjSOEYa23q3cc8gnTVdO7Ys
            qwXT11GfWB/9x3OQJ8NTZnHzSTSs5v1D1282dhf5i6JjzXq4jqCH6gv3Jav/
            eODcSgyV6GFQZKL+nKuLfhDVtSSfPe5JeokHwFDMRQMHUR0ljQxr5VsymVUi
            XdJ4sftJfta4rGQByR3D6qw8aafh2sZNtBnuLpQKIEWelhxMwNWLB/YSeg7a
            zxRGMjIe+ZDskDYkJhOxKw6a5ELYsMC/KwWAfoZSw36fNInPqCe4rG+z3f90
            DjrtsWn8gPWnndq5f3tiW+r8KPsFzi305AWPkSilwXjOw/RMlIu1SEmhxwJe
            NfRk/d2yGgpgRjbbP8qRAJmE5yWbOxnFhP4nV6UKIdbkXnK3ZTqkjLWhjRkP
            jvEQoDIzYIO/Zmq05/6UV5GXv+unROP5/rjfu/0eWIhzuM+DbJRYd2yUnZl+
            j5QBn51ljKU4p64ToG0eMXD8bjaGcTpNhygByExe46CNtq1v9KEWQoYsHiE5
            J9uuCsijtfKUDRfOw9mT4m9oncFNJvJuOR32bVvUflZ+R0qc32TyoZ9lk0zx
            AXvZv1nr0bZcvzNzAVDjGoP6LxANws8xDXfSllDkXXE0IQcuQT8KwwWelBJO
            yjQz/pux5xK+Z7n7m+sP3+z+8PBVTyDL/Sh/VaKLqxmPv5/74/WM4dcc9flV
            8vim4Ptf5fhM5YC7iFf1TOBirz3ALo1xKK/W+M3evXIPHIpoGZvNj6dl6XGv
            Y+3GW05cT9Lf/QLkDpejf6oECqgflD/1UijrJkNrG08fwo0Hty/CMQ1Per9x
            wDQ/ZyD+H3GE39/fMiB3y3R2uTKlK/bmDzHStm8UnTCc2eY4CUpx6oD7qcGk
            DdAVRqN/FWPO0ekHq2b6ESaDyPs7CVq9dCK0+cCMyr4cD4Zig5kPjAWybGVN
            rPiLvqCEBj0gjQA2a8eWMfqix0P3ge2D7u1TRv1NdnWkxyIdjsVfOotNA3qY
            AZxYvruhmFVp67UfsqJbnhViumPQmB3JjlAqG/yT+InzbbwUrs1oTVrfWl2N
            NuPRDYJR7qXtqyNvK+OUaAtAMwq78hvyhJwXaj3vOSD90KsCKZULZIDuJzk5
            Pqc/86XgpZgTY6+AM9W+F380neo6UdTbXJOOBn8FQoFeTqObLJ6ZMg4zIzGY
            Z/Nh+Id6dMAbPcuXaBYLSkm5J30rtJ8pW82c+3jP5R2FN+79mV77l/YF2M3z
            NU6/5L+G1QtXLo3xv+WTRQTirR8KlRUmWms0PXYM6pscQxG2IL136OFK5D34
            nvRrmCFSN04Po1QZ4o1In0SY6ck7x31k4Ven2NmgSQDl+S2FTzaOv/5u2P19
            vm2szSaLmFA+eW3RlrESHm0c60Q7ptRpbrBA/9H73VOWRPzuFB2ADiV1jAHI
            y4AynrZnuMVR6jTww3G4gAWdTjFpR+wewplexBf3k/YsoFcNZgWDXZliLNpV
            MmUM7uN+rsB9ZrNJmhwHDvwN7TIoc9j6LDxLgL/CYRQz4Rw1s1GiXOe2hXXX
            deoMUheLp4pZewJzmO+TG34fqxuu0CQqbp5OdmcUR0gXbLyIyXYLzdKqIjzh
            nDjaN4OAMroqMWYhSOvsZ6IMzWwMCEtCuIAQMQ+yoyinfAXI5RbxbNQtcX+V
            3Pj7TafRV+xIxa6iU6+998shezS8y0M0Y7vxtvY6iK96okVPW6kdqc/b3mYI
            jC1fH6aXNnucI5s9BdCa5mhdBk/o50kbyDgt+JQMZwIVghSI2LsUDQY3xhM6
            zV7DKSKeW/OtZyq0LR3R+FrOL38Hyg6oGojVbDQALmWHdy7H98zWQ5vxOGgj
            b/Zi9DSp4NexHSktyW1Ix1Glhx2yqaZtlvEPADGVVueoqzvtkexRX03i+ZZi
            mZ0mh9m2hwRNnn4G+v4o7W4/fLXv7vY78AXGQVMaqXfWZ7kjX4NlGBChlNsv
            q1Ta4ZZsfdP+5S5Dl0q4+4b7oLMFvnIRrlXZdU6zgaWvHPtFT8lne2e/Oi2n
            bztYjgn4vVQdXNJ118i0+UBf0/j8dgGqcw4D+nx/z3UheuIeBZnbKSJhPXFZ
            nw8Z3PiQP+ZHXlFUNBI+l1mv/upP3P1pY9z2ZNn99feo7lxbTpa8xajZeyKx
            DfJEwSImVppHlfaw97vtA2mbgVNvZWQbHew72u+MMcmkUfa+5Ut1l7t5yeCN
            mi1m8wJoe5rAYG5/wPj4Jr6/kRxH9IrZ/Cfa5jUJTclu2bf18W19fOvMP4Ft
            AgYsGgRMKpSbfSd5+P6Op/e7n+GUfblklM7eXZninfTr/NxwgvOU8+iyQ/CS
            T4iAxPl98eakPVh/oY8Z7cpoVdo2366IyCVxblmOe6Yk8BCdEvH3eLDu510G
            CEv+3pyfQzalMc/l73PvBD8p9wxXJxxxp2TPNDTaMgPRYZl2HowRonqX7P0I
            k7XmXVaqZsPOOsEzBcc4Ig3VZbDaU/Z0nf0Me97vOWG/gOrAh+1y8fflUrO5
            e0WscqLJovlsdsFOMLfmVzEtddYVx2k6yQ03t4wLcOG69WK12juLGWTwtjG6
            J+V21373gMX0JeI70nv0FGVumCw/0kJCXv5SEb/J0TpHfzfsi272GbQDwx6R
            vAXl27ntjCK9nprZhKI8aGeTQaB8u8w2VmuZCFeBY4Bi5FfqlRvLmyeS2ZvJ
            ngWH1xH29y49ck80NOiko2gZs30pi+2rRl8Q6kWw+2Uj0YxvD1f0slmm4t/5
            0w/ZK075OHYyY4t8wnR10X53omVHeYl4HCr/cBZf98N8QtCLkIh3HbNEPd43
            e09uWffd7kNflMtF2h28yhZ75/suW/f9tSrrph/yjACyOACRuJh97dZXhUKn
            WSbWqN/1OfveMSaqvNVOSvztXdr9qmCgyuO53z4uY4UsjxkaKOA8Vtn9NNoi
            Yp+8fWEoyQTVBn7SeOS4n/vFPRM3HrQ1is5U7Hst6l4LyjVAUPhC32PQbLS8
            A11CL9ZGeSBhIehTbEnxVPSFJh0omyOnWNilklm6uHXNfu6ait8J2kVMFaML
            yH5KPMkKpUmH1ok7TJfFAMmST/rSm1NdAXNmvkKd8i3vNr9VeSjvulooXXWd
            r7q4ruaH/65Lban+uWNZbV7rks2Ad2vbHQunUNdSZUsnO23SIk7tBvHnDu2S
            9yEjn+7fg+paju11TyVmo/XVMF6hcA7xPOEI1s3vzthjaNQaBNmwdfEDtFVk
            Gb5jTCsnGS7OLp326Ckpf53WpnR2Xt6T5hfVMuNLcT6FFc1+9NqwrVUbM+g0
            ZeAqoPkmLT0edJ1sSsFxAu428WCYj1koE3Fm81LMTo/ojzaYjbqKw7IwckyB
            8eL7AlULUo4RC07skCm9uL9pBsyPY0Yn7OniKYgRzAf/Ug7Z19OWWobZU3wh
            7auAEQBHmpsDbYNGBTW+gumFHGAZv3G3PUJpRpeCARoudPP/uOVhbF+8COgn
            9pE0l/pJ3TLxw7S5ZuyT7k0ny5grr+dzlz+dsvoxGD6jY3Cf8VxQ36txYdeR
            1yGO1VzstvmO8e7HDHXbcyimbMQeB7eueDLO7N+xzyKFXBVngnsqNfAI3TOO
            i/PUA1PnFKlQohxgxZFqcPo9tUd5bZQxP6/0vIsMgK94K1SWeelnCfuParwH
            JZH0E6jXzkVwmuwn7GSPYdr12r6HcT+nJbPFias7rsW2l8U+w6an15Diy0hf
            elqcGGyaHk/5iVXpUO7fpI0Uv+SQLx7jIjjCMMwa+TCwgWPHNKAuzFM2QR0w
            d7vs5va90btF442H3UdaqtYsOoDtkS+t1JtNk8vcNuy0E2Ysa1ImXT5iPqy3
            /fVFu2uOYdHv+pTvaa3B6uRv2kuXGc879sLtw7v7cOu0yNvG2QbPWzWlicVk
            oClKSeanqW+Sk2wmWCZRUPUrTfRzZsYuadN8/YKbXbGAZG9FnrKUa80iX0RH
            CyHpTHdbdMG/27Lv4us70q9TckU8Uxtxvt75u87oUrUx0xaCNteye530B5Td
            ZQXR6Wwtq61llX8hNpvhO37PKAgpGWyNLgs3SXU1veNejtH45UzYSq1dK5Q9
            NNe2D5OTv21hqpIYIuk9ZSJyzH95Kg4P3np3892qh3iz/f6d2vR3m0H5YbBS
            sjzovbT7O9KlNby/47pX8CeDHsLbLt8SY9FeMobB2Dp7Hh3lCQzmsekF2mPj
            Xn7bF61vhvHNHuPFAap77jFijL94gl7Oeatml+7lksbA7/ES5l/+LPdvZseY
            5/u+a6+cRbguycZXsujqZNO/6P4ig+ZmPlSgUTrfDex30oCeEjxFHAjqJ7Mh
            4mwctq5y5hF/DvjZadtLWMe1lN+UhCKe7zQmEoROfnkkgKw+X/Gs2rOzBisX
            mB10P4v2zJ0y4O9t+2PRdh33rzke/Zqa4/aiyV5zLNoG+56In3uX8px7r9+0
            jPwGME2MSQQSKMl2OkbtSXKKVh6Uf7LMC6+42VunLN7UbADX027Fbx6gSFyN
            NXFXu217FX8IbZ31057v9jUixPGH8fK0a9CzEi0WQZZfRJdsC/N/Jrr1ntQx
            LMWjGPJzIdak/VZ9PeP5T1k6ydczxr3gszuOl182p7QnX++4EMyeRCOv0N+0
            xAmocDLIdsqSEe2zUAWTAV2A++kdl1kf7SEUEBQQ9vWM9sOH6UL1Tc2Nsrf7
            faFPtXhhxTco5GjYz2eZfO0ydZehx2gaTjJQLdCysWGe2M6sJj/inGleJbqz
            +Z1i2Cla/Jz3xF1QvGxdiDcZI2hWkw1RLzf3uaWPmbxiNp0yFRqjqq27Davn
            s/673pwZBgnnd4HHjz6f/a1/Jw3L8c3JFCuXrBH5TD71Tj5/DHZmXuh8X0gO
            nIz+Ga0fEd8EtcmguZdSDp2mWmcPUuYg6UPmbplm3Xr+2+cD0LH4d1yQq8+4
            cNYyaRjKeF0rrjTQXWXQSy9LxrLo51KooWUYiDNGjCozugF1+8QZRcLAyNEW
            Txq5FCaDBscC1itT2k4TdroCu6ZYcgrQVtWec4mxcOkUDyorgxNWnaCrlIXN
            0SsQHCrgNO3WH888dfKkNxnVCJiksW/nWhTGOsaM4rvoYhIpTUMFEDsdvcSp
            yCtTHg5AjxYLcwo6Em3gJeZ5mF94cdYPap7sOvfzXoyOt3vg+5NReQsYMfPd
            fpbn8/Eoj+6ANWZ/C+Mzz7p/a6+DjgePkNcJVKLnlGGIrq2ziV8opF1I09NQ
            ctK/eEo/svtaxtz3fA5o6eT/f6ruE+/k5ey1I+y9+qVvnBtZfInuaeVqdZ/O
            nbKv23WfNLYlBOnWBkN1uzn37/6oQ3Uee+wfdd79bV/9Zaiou67i+uNb1VV+
            quuH/jX1r/13+nd/89/rm+o5f6jnvOvZsTK8lYmM+fS6d0fe9by/4e/HuM57
            XPX6qqf+XE9X/jSv+B3/U3X+d+uRU0kn7GBuDsGMEhTRxmAGs8MrddihfUxZ
            at1JaNz9jut1P//93H/2S/qDuuskTq4xMdFoUJiJRjrjVT/PoBMf7yU/lr+I
            YjS4wXfkdaXOlv/jSy+2s4y1zUe2Zv4CmwfbccgVhNK1V7/vfcI2BCN2zAeT
            idrvYHGJ3OZXcAhoL0VZD/vEwHOXrBhA1k+yMMRdF5BjdUmaIs/UU7aHZcep
            0nJIwi9AzT73u2m45oYv7MuG8/IRY1spxzjKeJXXKUSpVx39WQdQXTL4qFDm
            Bd+iO3SG+vg+PL4fz+/nuw8To9h9CMBKQybgu55i9Yz5qGePhfNq39l47m9z
            +Uffnvvbxu8cUy/RV9/iaGXr/7RMXZRFEJ4n+3akvY7Z4iSUDBz4KPdvvy9f
            7/fe8BoH8DPhICM7dZ0pKtkCcQFtI1b1Qxl7iRfa8BrHeZ1jbJqL5o4MYReL
            4kbtc0LBLuOqEBmT65YyblCnpnqpTBYuPsCFhzBDq/telqyTbvegt+hDFsy2
            nPe0Y2JQe6pBaJtFRpzxUml91c3mvpGmZiQI44k9I9Mywodr8f2euvApvEbv
            aDcpDzod+0EjkrN0ylQpJnz0yQ3GygxsW/521q84YmIMNvQl/dSv3LQWr36l
            3a+0+5Xs/Lz6FXe/ovqFk53OLf8jLJk2d9H8BAymCJ5FRphY9YYrc57FYqp7
            KdiNhpMh+KLtIftJe97cczVbziY/lWhgrkv+yHgr2B+yKaP9r9H7SiVWTmyS
            ZTpiyhjv3+BJBmPMnUxItusD2z76/k09l8oyV8+tiyqgZ9t1Sh9G88olvz9G
            Scv3b8YuIi/H+AVm993lgU99ps/gyxk3ASSx2pzyb+msH+RjH11jqZRxcz8e
            +WImBdous5/05GAwHs4Bsx+UTvkohUyMikZ9WKCVwfs36ya3SMLW2tt6AdCE
            m1Z8xZYjNUr6XAKeTGdXvudJysc9js7IkuCHGYA4zMWcdtSkVrZ3mu4Zk0Gj
            OuwlzaP5uHQmhnAUPtIteiXJqWkJQj8M2qWGOMDFLVov0uqoBcmX6Y1eqEtC
            k/YsrXDHJZ586mULK58Tzg/biI/3YIf60dJh0rMT1NNJSUXDGgbGpe2HxSxg
            /FgamMlW2ynag2TwvhYFGxrD4gqEGRnD0TFeC325NS9KLWFz0Oc1pj8Vz8Vj
            cWpNEeCHdpGBAkXu//s5Y82oHxYbm/fM1VdlOMBYiIOeIbKTqzteZbB+BMZc
            6i4M0IiSw9C2Sbj8mPjNxBiO4fRi53mhT/OZwBIlrafpzxnJkyZopnczvSE6
            M06dw6WMIhfA2D6LjLzhFeSoMBDjlI885Wsnwzs/4gYCIINjetmZ0VaM/HNg
            yO9aFL+QchfyhanyDBBW7fu47/2+P+zcuWr3so2oZntInZTskCx0A81BL/Sp
            Cd6na+hKOYTDbK/lmITwIL1iWd1eNAoWRjaBbdMyqZtND3pu12hXBy5S76eV
            T/s5oL5db1ugZNe26800BldcZfs+7nhNp7d4zLcNFaaob1/e9PhdAWnu3+Xx
            u1nc8soAEIzSJ/uhq9g88Qhig5EfcnfMScFdwMXcJS9kFkvJq7c9U1BuVEcb
            x6Jokf6kMfJFe63qTtPoHPu7Zx15XCHK0+4kbXj0Xf5kXM47DhDVKdIPytrE
            ncnaAv2D3VwVvwPYN/yrvt7tUMot02Sc3VlOaRJZ59p7ivGFGG/u0WfGMfOm
            L6RXoclL+WzX6brKu2Nh/mi9b+cER+kRY2luGSKIKoKsof102BosENDLM8i6
            d9L1oB/AIeN7DX43Js5/2N+1bHPyu7ng+C9Axbvv+A2QJF+YMhnnXFPu6S+K
            jcaYDNZHUDAS60ycY8CMRpkrnjXOg+6pd1QaxhNMCn3DGQRKaY6xrpHRVzyT
            g1HqSANNnFPeOxL+tONlI37HfyFxrhQzNGb05gNDWoX3UXuhMq543fglDcrQ
            aFOsVDrZhVTSwB//x/DnhAmcG6xrx6kBfPP+tvvjH+2wD0AoJ/rtKpirxusx
            rw6ejJJYyZsYNNKnUvAHmhbFMlPx7ncRR5+2XLN1SqNaiYRVIdJGbjWZTBIt
            mXUbweDNC7mL+hYXT8XBLdfon88Zn4YnKpg7kMknL6ZPAh6uTQ4AjfhGMZKA
            Re44f2+YeqyjhTeMzcC7gfm9wHHqvFME3ZgmgEqDSps1xapjTCbZxMkUT7bl
            3mK/DQZCx8a9qG7rgbG1HU2/GSeBJDMgicUPbtlslZMSuqI+34C6d7wvxjGi
            yrAP2eYy/69ssfl9GArhhX0zFP+BdsmSPWCl674Xro0r3G3Yc9MT6ZksFc7j
            fv6b9g9rH1PYvOmsaB/ilYWYsYMU27PsOObco8W/5KM6r8SPjCHjFa/K+si4
            VJsWaJQ1mmGuzacMOcSHMlSvXWlQKt1TVP5TBm5fgfHkKjUu9JTDDhCRQX0o
            Y0Sc4AVzDc7igLltJ9/IM6AP+H1QnoBNFPK0WIaKU5EshgLPGKUsWscq+o4k
            SyN+oNZ+pF22KfG5I21ST5uL+ze/dadMCeQbqueMN5rRt0pDQcULraqnULm5
            rM4seaf9FhJRvG2se6Bdr9O4aQ/JesxGQXPE34zrpPExljHtCbAvCdYZQzd4
            i4ePTstm14FnkIwWvJucZlD+7TdIlV7VebgIu/7Ntmj3cn8PnoX+5tWixEqO
            hlNfyXvGIXc1p7jDbOOIs3LdqOs+xfORwrH1YtAi2Qj4PR56yGH9RRuDup0z
            yG+ArjP3OvA3+5YZudZ8l929FuCGZPNsAJyL+8OaU0e2aZKwaY4xzR753HbJ
            5zRaA8SZEH4bdsW2DJZZ3Mq124550z7ppmnyvm7a6KaVvmmcm0a6aZ2bNrpp
            rBfN9EVbrbjmU27U52m5K/b7uuu5aSbMl/ZuYnxn0Lg8v+G65DdNtxo0RLtV
            8kuifYOiqWZJRbf+wzJvf/V3gfJhNrnj5Z9IybTi1BJu0LJnugy4iv2+msUU
            1ZSFlVwzvsGVHWOL6hq07dalWIuAh1P6MfOvJeEOjtXqcPItBgkGuO7ctoOt
            5h9O2zvmrDimt9jmu17CH9brqXPZ+S1o8xdyCGn72M+NS5TRkrpPxwhr4JGy
            5YfQlbYtSiVzgYGKin0rewXZLkTxkeAdLtEWOFO3jQbpCGze0oAo6C+ZfQht
            z9tkpIRo+VhGf/MC47R2R9vXteOyMobOsbpifTnq3PHdkO0hI4zTb3+pT+wz
            I7BVsBD4o+3FcG9YzjwD7FOy3A6iC0grEjX1ae+wDiAKPsfSm73LkUIi8KCS
            JQeG8X/bWxi/c9QuHQXjDzfqLBRTq9yxjgmYQqNcjPHLOPeMwXf741g8dMYn
            Z/x74qcIku6iNQblGanWcgFFKN4VMX2j/wo5jpP2UKelbd9xyoiQklPM/377
            drJ+GqlvPwA5B5EvpE1vYTxX2vPRj0m4i7HbSSDa/IG9dgqEJ1jowa2dJBcm
            9zIjkRbg5NFFLxi87xv2H9J7ZXKkzJNT1s97DmCXBtuX9jJt8zBGBhHnWKn/
            5j1JUt4r28hNb9FtNNrYmD8lOcYkRVtzvfSocVpMeh0TeXLse5HCGHW0uO/U
            i9OubCpHiq/hBD/N59meWx5ImcBIoxgYr4jUfZYsOvNg6TeDUABXcc06PfCX
            rRk9UjNjvTuTHZAmp933piNI7xQvwZJgCI3aVcfgujurwwT4w2gjm9vC5+32
            4T2sHj1r+9klG1aQiehf2P1CnbRVVr/W41v1qa7bbp36iFmUsWfnBgOJi/Mg
            +xLR1xSGnNgsnBxqaWUf7mydvNElfTTJUkEDCIU7+sCXZv7Ml7St6Fc3Xkq6
            D/BGZVDvzb1Cfhb3U3NfFId36rtCqGh+SoHWBdJ/Ae0wjCrmL1xRPu7cu7KZ
            wt5eysli/5csnaYxZa9bZbCRMjJ9KM6rB2J8PqXdVTFYxHdtkjH6629/BiV5
            DBte6socIpYPwN9tNsJg433kSaZ8WIwORipC9k3cGHQoAypSptNXrEeAlr/+
            jiAoSGEEclVHNPdnxbgQ7PSv2Ip0Oibv0QvP8vb/kH8/oQut3CghHqRNgFJ0
            9YddCQdTQpe9/R4kcX22uDQ7ll8g5dBPxvKhHYMi5/Mq29XAuIpBeWVUF81p
            AEdxvhPv8xUkCz5lxLp9C6PZ4l1zx0XfeQEAAy2mZTxkx963bah8UxmHau73
            h70f+77f3619rfY+T7smQDm1s+Ox92blxrG/3/UAgBbD93Zt03LrJlozH+9c
            Vw5jBpWY1zRbh6DwJ4LhiqGooYKkZ/wq0aVSogDe2fO04zpZ5AjakT2ey97L
            23P5aOB5dnn5lx1YTnU/v+uRBbXVo+evdp21O+X3vGTPoTxfCk58KPYI76eF
            v02Mm6O4KKfmPHHPd8YIsTFZmbsvJx3Ic/quO37X/RhD/M0Y4m/GEB9jiN9z
            t+eofs/dnlMtDdeAHNj2q8Fvd/tUzL23agNtFEMZ82G3YnxQp4zc4tyz2otc
            tmixY/vwgwgETQk8i88ZPp1kKvlV+c/5gpnBNgo4Kjgmipe791OnPwzaFFxd
            xr/vHB+iDwEoFE/w2LTOfb1z4jEmEW2zJKajfbbiGZXj2Ovu9iwLIXXGIx/r
            Pntzmv1riBY/9trzkJgtMoZqcWes7MLc0Moq1Ee8MospJhqKNmj+NF9+0Ent
            w7dw0zUUjklWRZ51mg6oHYojgNNksdJlh3X/rm+6kPZJTLNmeT+2fzL4vytf
            Qzay6Wq33wy3J+s4zKP5uPNIUrBE2MIYC4DblUaJ7BdJYcai9Dv+dlQyY0wN
            EyDhGckjxUOmaRJoStq4yjLvxiH8Tzab3iuaf5fihiX69IZ6x0DbbYXEuJcn
            4IdX7Hb/U7uid0lvW9IHxRRSNEJ3KpZSl3O47CTVfpUYDn0Luw+H9J+vb5Xr
            YX9bKc8K776KLwiiz5vLX7GjGbv559jRTrGjncWO1vzQ29ls5dZNm3nmVmjn
            a55pI1f9cbz86Q/l+2A/k+JPe/mWuIo5ksGAX/H1nDkYGr5X7BbBEUqM/Kaj
            PmKJzSTqrL38g6wRxhtmogX18xyM+KP8Ji0fpoMAkNO7K9FiYDSiX9k1pNPs
            CgthIPB4tFjOzmS/x20Xmc0ndGm/BvnK1XMti2G742bg3aVYHce2E9xxyPUu
            fr3LqCs6anHnCVq00zf1fMfTHt3i9QLhMnZmCctynpid6o6Hmd91KudJlx+X
            U/jR81F+90HI+lG+nLv8CeR+98Xr/H62a7lRVEfwn+OI8Vpqa+dTVSzU9lkG
            fNd7rBX1N+nd22jSN14zrgDkkmm3m2iff+2xP8bqX3O73F9/N0wY/YPsHXO9
            KR+b9dlspSxn1atPtNV9jp2aftHa9g0FFGHHsrby/rM8BZUf5fMuv/t3fK2F
            71/ly3uO59Acu0TqOCguO33L+m0XyhBL9GU5ivysnNJAuP087hwLPGyAJ3P/
            VpR5ajj7CrKfVUxpHC1ntsGijDkHx2QG0SPfNsDzOF5+34HxecZ0jFmRw3A7
            n6ETre0pqqAPfgHftBhbhHwz4/ALPuO3y3YuOIYbXheeuWsMxbVn7iXUGx6w
            aBJ3t9LFmx3BfMiy5fF59ct5xSRkbP/kR7/znmWcWUoJJESi3iZE+bPKH5A8
            yrHpckan+vK/TLTpBiV8NPO3JX7z9J1QzPVHuU4fTsM3Ht31jzwCeV8vxeAO
            dKR42S/EkqvF3CaoYsyZcucsTjuuDqNyyRebbLzyKNYNm8E/JcCoW75xWEwx
            ngfyiopBf+tx6Z/Smas4g9Prq4o3ZyvN+HQF/M9L9gyF8idvkQjoYn/rfXuK
            E39NXpettO3HF+SHXMwXnPKKKFnkCCYHH1729gy40yg/KGZbBlqH9Aj3RTf/
            cIvDzxXf9vnyq6LVr2JW33EkMCHZvq3YMPIrjHbfluUzbPRdL9Lz0auOOo/W
            w7bvkhO0xTGLDQhF8ctAUroEVM3ANTw/GFRXnpos+ytmmFJW3BTv+14l4z52
            vGLGXd/vnD1rElZGwiqiePJ6AwSjdsBs8lNfjMFA14t8GxS0Q34IQU5103At
            v9M5ZWzmRVhtZcSVyBbD2PQYFX+V/ZoU5jDRVsHepFySGV3ZF6vb+O6U7nUh
            TKj796DFC2Vf7c7nR29exZBY4rv7nYfOaH3Fyqi2Z1ZWTAkm6H21LWOwxXh7
            xWShlS51uw5XmvL6BZtrzgXrAUxsqsdTls34OLjneHaunGdZAPXGa0qWE4em
            IQm4OmX66gDVtRGSfJQYSpkCAczfMpsWzjvnNjiLLUAbgMTZOAJj8q99Dn3s
            MRXiLYbRiOYnXyVzBsvbFY9f0f8b6d7tU5v7Gt/tuPLS89Gg8ZAfQIiKLl6P
            V3v0L0gJNMP39+ngl/RpUftO37mSaLfNGCShvtfGlZWCfEMxZvpTSy7DfBey
            BaIsyIdkcJqePIAsIQSjrZne76PcYeUYA2PLCnEYivwg7j3PVLPgo15n4N6/
            n/tfNk1D8oujyGLD9uTxao8JsQR/sJ7UsUk0SxyH7+8zx30+vXJKaE++z4N3
            d/xwnlWFi6SduN6H4/UOQOx+JntI6nA4D/Xq5IWOiaM0br1+adV8JwPtSghX
            6F90w8xCQ4xGJyXRdecNbzkG3PXbT//2x481gONzVzgluN+2sTtPV013fHGJ
            XQCBTZdRLcbjOO73u/zFeJfBFJzki3b+Qv72c8cBzz//vvm6644/tONIXru/
            a+f8PndcAdr8hBnOW84h0XEzX2K5sWGO3JYvJ2ZLU/xQzFfW2RwR/PGyeKyH
            xUnIrk7R9BbHNTrTYbXDbH7dOr5zzATGHYqBSVCVk3HncqH/meI+ML4g97F+
            p7fcU/ENd55dxrTUe+bP2LEgg+ge802hTZ7f+emd9L3n8apv2y64sRQ1oKd8
            sv1O+j0rXpDqpT6Pe145GpPsGw/tfeAnyrBp73nHAGF8BeZnfPZRvmw7hgbr
            5yBWYDz3Muudd9Ib7cPYJqCv+osWmaKDKMsu2H3YxYyFCeLxkfOKsVXWufPC
            HvKrUs6nKGUFQxgUOY5xT4OoOyk5sJyq9Kc8XjQbz0JoY/UGPjeHaz1kA/IX
            dcqLidNFS3c6ukiX1OS3DHp1KK8y9aOSUxhNq3jXlygc0oKTdsqgDtkWAxU8
            eXyOEXNHF/F2Bdol0PivggZB/5ldl3Z0tr6AkFSbM0Qas2RUxQ89PWPSm+mp
            6Mwl46tMPx3wWR997/2z7739676Xr76Tn/yI60H/5Q4ate08KmToPCjLw84Q
            /XEZr9ryILvhdy6KEd3oLo/iGHIbz1oe02K88vk52D6NePiMO1UxfJzsHQ9l
            VbR7lsXh7KqTkUaVT4o+fVHg4Ka7saFnlS6MoIdhfJX7yfIce+X6Gz2BAUFf
            2TZFxi3QHVI2qpOBNXZeLs/4alRJO+rAGW8Mc9ei2S4b2FlcV/rsWwyd9oon
            Kfm+4ABtBTFa9tcV4NLDgkx95p5mglzhq0mGmszNljeQFKfao9K2+Z0z2nQq
            Wfa4AO9NPMPkmO4cj0y0wufXueMQgZW4vxNepcKLJl7vnKCOa0wTrzufNHmy
            +xvKRpSjAhQxnxVGOWec701bCF7LZk+yM9oALOWiThaPaV7KTU3/wUnQm6bh
            aNDtPfW4iA9B0cRXnlOcd5U/RdcL9jBAruxWpB02WMKKU9wyTadxAX9bjFgG
            xgTUaNIZqe9Oef4I96XP2WWwt5r89KZz93fSH9S1c1/yGWNEMwOT6SrBQEzR
            sK4cH3NY6Ks+xtkYByO6a8egDoM5n0h3AoZ7O6cMcheafLQNZweTNVT/hidP
            +FGI69EvRkTWOBi357FW9M6Vzjja9517hTH0lunfuC6MQ0QAcvNAjF/U9vhY
            z+lW/YBZ5BNBPWBd2+rLPcuu/GtZ5jMq/a+/Ox0qu8WiFIxaFp9L4XHQF/b7
            OgyfKXXGay9bbALG1SXNPHkGJdalv5/o4nq8cYrstHfYXnfjKO1X0N8MQFqC
            fIklT/cWY/gVA5jjZ+5LxUa3iOrM9dfvOfUb9x7N3lE/e583xvlVWI3EODF1
            KNb1pknuXLl3rmkAEemI+s7rUjYd1XfOaaVUlO3GpmlOo2Hm7hfmcPn819/j
            pE/IO9/5Ha/B4kmCJExvn2DFoWJ4ctO9dckcLSY2d1IFUKGfaohbPwzKWPW0
            yhwLstFX+i+F2QVtXjetTvzg5NtruJ52CfLFTxbr8NYZbxhIaN30bMqv22iv
            qlwdjrSWA91cTrPZIEdC63DxPqTBl/TxTrSI/IqGUwwBy48pWPvyO962AOxT
            k1TI7FulfAkPeQNjoCR/bXv4S3id5Km/7WhiyXPrKJsMEUuKY915xJljKFM+
            9YwluWOCkZ47rjsHvXTmKe8+gdYeT5qr7ZzTL7ov2V67abtymMyJOU8+aK34
            SWtF8jiJOaaNRwlG852yhXWtWsyZ8NKV02/7FbsFlGuWjAc79t5Xp2T5W1/i
            abyfRLeg/+qv4h9yPZUfF/yq7CdaYFzTOwaVtMjmb5B3Xnj6694073yOPVoc
            LsEsMamW85MAPSq2hdkQ4yyfa9tbyzeGeqObZq3GJ3XMW5OuXPx/8nuO5mn0
            Jn8HxdJsVXLRbPlkaLFC/iyaXX7mmq8lvHNuOsnd39O2TXN31hfdLvl63rG/
            btEIYSljf/rebpxG5Me1WudZPmh0fHsd7/mR/d9h656K3Z/K72DwTVtm0OYZ
            NB/PeTb8u+M9KH4E+4rz3G8b9TV/bXPQ3iQygj2mIZmfsewaQAP1jUMG8w4p
            1mtM4RHjnjZ8TUYnWfCX/i8vXJTecNPtnOukb3Cc1oueeOGsN/6wOLjjtMhD
            m4+Ld9w4jKq8+dLz6Fv/vXNlHQaDmUMSeDfV+Dif2MeMDmM25DvnYaF8jki3
            0hyi+HjHzNP8gAtnhBXbp2LVTebHpBqHxe+W3IqJCqieUFybVmXj8hmDkHz1
            3PlB9/2ZLyJjxv27FPOvy2/E5JR1xwHsyrmxlCf+8pSuhDtGIc+tsdXNbBF3
            nFLGKpTrwB0fD0Nuw+KR0v7dx0jsb3Fcje70NaRZV5rMKIffUXHKu++gMfBG
            uqFz+0/Ts60/dVaMxe6jUkL9WCd4kvBTnXH+vs4lPRjw2L1+IV6vmC+USCo2
            Ds8T0VdkQBinGKu8UsYXgPGGYhtdJMjv3yxHkzTMR1vUPadGs+Wq92ZbR3qh
            piC9tH7TWgjtA7422lw2qUXoS0n5dVoM3dxYDpSJZ8wdEH+Ldmrz+bwReSrm
            XJVgQK49mO+WmLMrHvRLxcSNtnPFX+avTM8L2tuezKN7FPMHZH6v49G3i/4K
            FFB07cFwMsiN3dNzZibLQcHyZ3C6gtdxasPmdIQytO+ys3wZhyK14Z7ifcXl
            85dsowgPloItyRLfcjQeikNB80pdT3JDrtIGrBA6TcVSpIX3jhNBm+K0SH9w
            zHcdZ32878lrBxRGxH6UPZ3iIB11BrueoU+tqWLLy1sQ9EuiqqQyD+ehuAxH
            k9ovMk+WKyvQR3yRN/TAm5Ux+GjjfdCILcgXj2UY+6GKdqK+qhGZol/My6Tc
            66wD1d7+3OP2Z+cz48FpJSjaPvczai2AuwZxM/jwxjB0LHcG8x+o+zfRzcun
            l3FURIfZWoLOkn851heAYgWKfA/FG+tN9u4WT/FsZ7QkaIRSSfHeonLPka4q
            W2dHBow5ILFi6Mu5snJGej0HHQWi3Gw4CTp1tdjkMznLx50PyZPYr5NudpT7
            MoL4lg0c0kHKJo5xRXSmyrncrSdc491/xY5urQmGdiViz9FoksrYN0E8fVRu
            k52T9jWG2BfPo+aTtOs9BtpGVm8x8JhzNTNvJCVceSW3xxX2uMqISzo6vJmB
            9LCTUAbwMLpRunw6MV6q8kFmgAVVbobBIKyANrK+w04rWmPAedrNpm7rhudN
            zwHvGSvCnQsoNCZHWxLal1LmA1yFnd3IR/xpzl/n2hOfFEZcUv/QZ6cz0sqd
            d6wq2YGT3b9XfFGP9drz3zv3+KBu+gxMEdi3DWmi+dH7/rnOFAyAAFCiBMz3
            ogxU8x2xHl3rwRQGeva9H7C/FT9GsPVgSvXzuNux9plnweIjyi7FF0p2Vmw0
            4LB+UX/Hc8xYMZ4ODEH5/ez80BKlrco2GEHfFdMv3P3gGZGdADirQKX8qX2/
            3n1iJu/3WQO+7sbjlEYum+eT+bvkV375eYX3/g3+vX8zafbxtsev0p5ZIAnh
            MkAMD6hYO0n2MGVT2WiuaT44U5IUXxPzzFfR1RbfNZBXNPwmW7J0OQUoo2EJ
            fte57VMoti1NNig2NoZXO9mq6YIP4d6hc8fxxo030rVGYuRU86XKs7989Pp+
            jg1Ms2falWfFhy2Kr5GIiwl6FZ+W+esdMQBwSrP62SZo0S7/fNAxmjvFiL9j
            qGJsZ6Qe1/tzSfeBhr3u6TNAJrWg7fTYo497nYvdjmB6EX3nomKYYp9dJ+Yq
            hm17KVqlbZtLQvPt+Za3DmE89eD32aLK5Ot8tbuf42A+A/vNMXIKZ6EtyMmM
            JbYDOgU2sdMnkzmkgCwwwX3hmuxb5lSSnYHWBu9MT9qNp1nUrETpbw6/Y1Dx
            eWrXinsdsTDK1wviZr1gb3vD3nPn8aJv+Ojmaya92wG6vdLrQP4Xi3vlzIaz
            GHLqpB/mo37aSv1Sf1ivOpPinWIKzwWkaXx3Mtr5tU795Pl63DMm+/m4z4Qp
            Ng/kJDnWenEO1A+d5Yq+tvY6vzVRpsf3xWDuCXpN55/xVVGX9rmiqgw3yd8z
            B3otYfbb1+JSWCtANllrMEBE6CuxjVmEROVDx5wp4DHl68R2XLh6Mn2zeHK+
            r9f7fVYElziEkYfgSmPObWCYk35wtJ13a4TB2PdkLs5Zaz6rAgoqkqk3O3hQ
            jZluKMThIMkC7eUCneaXK6S3aQgaaOygujvPmeJtdZJBxDe9aafT5OOxni7+
            up6KXdAMfoSlUAHd4l90QF7TM7pEGjYykpf0FvTpuYraqdzLuZLHMV9DOQJK
            7rT9Sk7JblF/8s/9zkPKdcL5noztLEOgF2wBMU3LEVA7zqm/ig3C59SZ3fBM
            8CZdtDPRs7DxF/ZLI5/+LIeFapki1LiOG7ZvO7HFYyT/0w1/lfs8LCaq9Tpz
            rQl2npNyQI7L9l2s3/uO2R48DaxJscvm4477J7nX3odlnvk+Q4LlXYZiiXaD
            z/YWGOSCE6o5288KzkbG96kw72Wc461fKMypUGKc5qRh+Z/WYdoDGrkJrjDG
            8BUEtwNo/7hlUOT9yOv6nV+EbY2s/kfmM6IcFBNVLUcXKS1P6jrk9DVvOEe5
            ms+fEk6azU9kW6DtqIdVnHLaDym3u1vMzTu1X+XvaGvoZTO713U/A17UGoq2
            YZ6wZvm1GHM2btgRMWcJmDBS7/H1rnpFZX/5juB34r3Y5LTtOZjrHMwDc3Wa
            F09Jz7iDzf31NzDiylufGGkr1GRTOIhSItaAdrW0u5iTPCH4APA+p7Nc9ydj
            ol7Ke+mb6QFGAW9XLsVInrHjHCrfJGDRpFzS/MuoL2h6JsUx+CNyqGMN2WxE
            xbt46ZkOiuOZx9BiwbaRRVu4a+dapE3Nvp9HuWMBS5flHvKcjj1C2q8DGN5y
            H8nEq3zTFWp6z6XipeyY6gffN+KrLde2lFKmhxgmE+lWbxqE4sBZiTkVZAYb
            ZVQiO7NogS4ClZ93u+epeitlVuZM85YxRdnBvPUCCvSt/A102vA0byTeZV44
            1CFLXad6tvym7fr5fpnuUTLDLsmX7F8X9W6MCmD6RJMReD6ir1CTV69iF910
            RyOTkt++Hzcdcmz5PzbseuahAfi1uM/R6JhxWLwN0AP5SdcoraZsJAK9/VpU
            vAuzyRivvITDcy7aZVEmbl/whhloW7d22yGUy2I504KHenylpj2oHt628qS9
            wvnK0cG5rIxkYmcOHE8k4B0UCeH4kLlgbN5K3pfzf8fsYTupMldgYfxGF7Z9
            WuC3hAHKCsxt6d2wvE/MHcUMUjhVQOuFcffzAf7jpc8A4nL3/sjtc3+8dF+d
            +OOtz2K0dMaguXV8jlrKZnZ0lG2KplUMAlyBI6l/7Gvn1mmixyznZDbfE9NZ
            vvW20l0yL2+9855E039p026dVlr+dGU44jrFlbL35zL5rdH9Q3W1mj91j5RP
            1wFsz7i6AIzbZ5Y0SQgghOP2TcX5UTwL2nLx2WH5xHZ8Q3fb2MtRhfCkSv5r
            aWcp56MlFd2k5nCWX6RauOSdd0y53i/RYLLD7tFyPdJ5ivA0z6vdbcwt3wUd
            PT50YNuOxx23LZHt+XWYH9R9lu69zxheOgOM83skS33nYp2Wb7zeMZmi33nq
            aKu5f1fzGTPbPmdrG7fvk9l02m/qvo8dP3kyF4HRSon1sDt4pphhU2LZK1X6
            tQzZegTl+9156U76+nFMY8trp+1JyjXoys95CbJtSDLZ5Jwzj9dgGpo7/8xS
            7PdGYZeMvqLFixAYC5K70QSiyucnmY6FPMlxeTPd89rvFh49oGzYegvqMRjv
            YJltsmTWpKej9FE6972+/TDu9abMhuHthn/rCEiM33k1hbePt38yz2VJY3QS
            Tkl66GbO4fSAsnwPOHNNv1fAWWY8AeWrUT2EdJ2xEw6LifDWIQBvkgavozNH
            Dv0jXj7P8lbD/CXB7ddc9isxhfqSKFIyZKzpltfzLNd5aZ7jD++wN9qtI5D7
            kXIh2ZqQdnuWBRxqCjfFCDKP5+kwXyDSzaG/dVXOM5a52Tk0T6hufT8xVyUr
            PkC7c/DcMEAYLtLvgwk9bX81k48zj/fF3GtMUncxPxlDh01RgowRcmbak6Oc
            Ku6Ej4D3zFSFXd7l6Ur/54sCKeZoFc5meYJ8xe1vozJ3rpvMLPyAPcemeQlz
            quV52/b07un/xLgqysHdrI4633Uw/8OrDvf7OnK3Orp8ppI4j9faTxH6+bj9
            MO68tEm6IAKfczazFQh7XrdNmfw8ToIoyn+wIW+YznzGB9phHiacIecyY12f
            5ZU7butoZKvUadjz8Ef7okt+R384i7/3C90Sjt/TJYpz+QNdgrP9QZf8E7qA
            80m/UQyMoaLoC83cDvKvrZK7KKYOfRhW6MzvnHx8+CQyNwX7cGzqmetZ3I5P
            vrB+2d5xb8fL+LTvvFLy4XKjSnRPkwTaxrjCXGtaOu75nXP77cf3yFOivL2M
            v+LH7JM6wkQt8CuH8N0/wdllcimFvPGyS7L2dK59pt+omwoCJ7svzCWI6kW/
            0CT7r2nfuGj+azJVAIRxx/te+dw3Pct3d062+JXT7KarZr/mnXuIsbRHeo+b
            cR/BRrhXjrV8CR+o5vTOa63gkbTNmUlmJzsORKC9B3OvMNbRzmXG+NdBtmJu
            +5Mpi2o7e7mYWZG6kczo8HQZk32H+ebVIFvTO1cN02EAKdTll2JqkoKQbxRt
            aTlXOJ871zG41hZsDIxvWOnqGZjGGmcwCdYwgVtm/CrRXFRU8UoTBVB5tPu+
            8zsxhiRl3mGO9u6LLKBkMwSmpbPO7q7O2JNmZwCSMCn2yLBMj7RfYLSVTPpo
            1B2fyex25OcVO+DBlQ3+MIbZMLsUnHyclYlu3XgdPExhLhPa/U8LeUGfIRB7
            wQLfXdsQSLZqdt/2fTIej2lldA8c3QjnPPPtmE10acznlMJ6nrmFeZvbZ5DB
            XbYOLwezJzgUAwZzNRXfc3zYerL+MczG0uqOd/wYRilQctBsem/mPdB9NFtu
            uuKFYT68bu850XK0JYjmC9+27zxjkjBn8ZS1pNkIxVeeo00zYu4urzay4qBE
            y9nJMVPI5veY/Ygzp1zJA9Bvm3HLmEeGtjCBtiLpsswwtDUvzHdVRBfR8qzt
            HAXKYYpCee7cAvFCA7RJzPU+l/SsUeycfR+px+dh3s9krw86i/EgTa5oeUgj
            9SQ3X9Go6wB5U+1dWFdXUJPdnqKW8nmRH7f7V+2bFxJtYWXnFu4+zH0vO3RF
            ksfMcX451r5zfh0W37cdL7rfYnrcuYOd5YZnX++9RutR+rkBQFjcgW1/wShz
            2vvFnt+G/2uh9LCoG/LyJeNuOZm3CcOh732y25rsPuz7vu/bru8f/xv0jzr+
            7X+eLl1DvN+//H6Sy3bvezK9z/c8ddn8vzZnvr/b0SNfOU3mq8LP7k/j5b+/
            f3TA3r/a/xrHlIv3HsKwHZBG+bFstLL38+/3QC2Fc8JAt/yLtMkI8VXqrDbW
            e0m/PieO0lyNHn+cq7znch7px/fjD+3j5xkUF97Vn+u3uUrp5/GF3f5pocJ+
            +X5Nq/9y9cf35XL5X/Xv3ive/bxX/vTvT3uN6QH/1XsKVr0ioKZMYtTK3qsV
            P9e6KsrRbwv8aaxcAe3L9fNcu73Xjt/stXafm9/s63784X38w/v6h/d/aL/+
            YS/ea+Xaf3yt6+/W+uf17UM7oPT1P77W139trf/TcxmS1f+CIyEwwsnr+hpn
            sHLf5c9geZa//93l2xUoagKOsuvaVwaN5/vTOcXBHi00Po80/6ASf1/zvpZi
            1+r2/WXfg9FN+v6y7+m9pOxBxZ5/93emQ7EG0b5/Pr/7S5+EVJPkN2xKNN2w
            q9/3cdkVDFpVTnQmRaeOfr9fza40JxPeT/a+Jru/58QX4P30w/6+9pj2nJBB
            efb1jTOOF6LU2jH3795W1/XX/wNoVRyv 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
